USE [qc_core]
GO
/****** Object:  View [dbo].[vw_claim_all_lines_closed]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_claim_all_lines_closed]
AS

Select
c.claim_id
from
claim c
left outer join
(select c.claim_id from claim c
inner join claim_procedure cp
on c.claim_id = cp.claim_id
left outer join claim_payment_process_status cpps
on cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
where isnull(cpps.golden_key, '') <> 'CLOSED' and isnull(cpps.golden_key, '') <> 'PAID'
group by c.claim_id
) 	as non_closeable_claims

on non_closeable_claims.claim_id = c.claim_id
where non_closeable_claims.claim_id IS NULL
GO
