USE [qc_core]
GO
/****** Object:  View [dbo].[vw_diagnosis_code_group_included_diagnosis_codes]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_diagnosis_code_group_included_diagnosis_codes]

AS

-- included procedure code ranges
SELECT
dc.diagnosis_code_id
,dc.diagnosis_code_ud
,dcgdc.diagnosis_code_group_id
,dcg.diagnosis_code_group_ud
FROM
diagnosis_code begin_dx
INNER JOIN
diagnosis_code_group_diagnosis_code dcgdc ON dcgdc.beginning_diagnosis_code_id = begin_dx.diagnosis_code_id
-- specify included code ranges
AND (dcgdc.is_excluded IS NULL OR dcgdc.is_excluded = 0)
INNER JOIN
diagnosis_code end_dx ON dcgdc.ending_diagnosis_code_id = end_dx.diagnosis_code_id
INNER JOIN
diagnosis_code_group dcg ON dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
INNER JOIN
diagnosis_code dc
ON dc.diagnosis_code_ud BETWEEN begin_dx.diagnosis_code_ud AND end_dx.diagnosis_code_ud

EXCEPT

-- excluded diagnosis code ranges
SELECT
dc.diagnosis_code_id
,dc.diagnosis_code_ud
,dcgdc.diagnosis_code_group_id
,dcg.diagnosis_code_group_ud
FROM
diagnosis_code begin_dx
INNER JOIN
diagnosis_code_group_diagnosis_code dcgdc ON dcgdc.beginning_diagnosis_code_id = begin_dx.diagnosis_code_id
-- specify included excluded ranges
AND (dcgdc.is_excluded = 1)
INNER JOIN
diagnosis_code end_dx ON dcgdc.ending_diagnosis_code_id = end_dx.diagnosis_code_id
INNER JOIN
diagnosis_code_group dcg ON dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
INNER JOIN
diagnosis_code dc
ON dc.diagnosis_code_ud BETWEEN begin_dx.diagnosis_code_ud AND end_dx.diagnosis_code_ud
GO
