USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_eob]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE         VIEW [dbo].[bind_vw_eob] AS

with
adjudication_result_code_cte AS
(
    SELECT * FROM
    (
        SELECT
            arc.claim_procedure_id
            ,rc.result_code_ud
            ,rc.long_message
            ,CASE
                WHEN mrpoo.report_print_override_option_ud = 'Display' THEN 1
                WHEN (rc.use_on_member_report =1 AND (mrpoo.report_print_override_option_ud <> 'Hide' OR mrpoo.report_print_override_option_ud IS NULL)) THEN 1
                ELSE 0
            END AS final_use_on_member_report
            ,CASE
                WHEN prpoo.report_print_override_option_ud = 'Display' THEN 1
                WHEN (rc.use_on_provider_report = 1 AND (prpoo.report_print_override_option_ud <> 'Hide' OR prpoo.report_print_override_option_ud IS NULL)) THEN 1
                ELSE 0
            END AS final_use_on_provider_report
        FROM adjudication_result_code arc
        LEFT JOIN result_code rc ON arc.result_code_id = rc.result_code_id
        LEFT JOIN adjudication_result_code_override arco ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        LEFT JOIN report_print_override_option mrpoo ON arco.member_report_print_override_option_id = mrpoo.report_print_override_option_id
        LEFT JOIN report_print_override_option prpoo ON arco.provider_report_print_override_option_id = prpoo.report_print_override_option_id
    ) arc_temp
    WHERE final_use_on_member_report = 1 OR final_use_on_provider_report = 1
),
claim_d9 as (
					SELECT carn.claim_id, carn.additional_reference_number 
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carnt.golden_key = 'D9'
					),
claim_clearinghouse as (
					SELECT carn.claim_id, carn.additional_reference_number  
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carnt.golden_key = 'F8'
)
SELECT distinct
	 c.claim_ud
	,c.claim_id
    ,d9.additional_reference_number as external_claim_id
    ,ch.additional_reference_number as clearinghouse_claim_id
	,c.repriced_network as network
	,cd.claim_procedure_id
	,isnull(cd_negated.claim_line_sequence, cd.claim_line_sequence) as claim_line_sequence
	,fem.member_id as internal_member_id
	,mem_mpi.id_value as member_number
	,mem_name.name_first as member_first_name
	,format(mem.birth_date, 'MM/dd/yyyy HH:mm:ss') as member_date_of_birth
	,sub_mpi.id_value as subscriber_number
	,sub_name.name_first as subscriber_first_name
	,format(sub.birth_date , 'MM/dd/yyyy HH:mm:ss') as subscriber_date_of_birth
	,billing_provider_identifier.provider_ud
	,billing_provider_name.name_last
	,billing_provider_name.name_first
	,pc.description as procedure_code_description
	,format(cd.service_from_date, 'MM/dd/yyyy HH:mm:ss') as service_from_date
	,format(cd.service_thru_date, 'MM/dd/yyyy HH:mm:ss') as service_thru_date
	,cast(format(cd.charge, 'N', 'en-us') as money) as charge
	,cast(format(cd.cob_amount, 'N', 'en-us') as money) as cob_amount
	,cast(format(cp_amounts.copay_amount, 'n', 'en-us') as money) as copay_amount
	,cast(format(cp_amounts.write_off_amount, 'N', 'en-us') as money) AS WRITE_OFF_AMOUNT
	,cast(format(ineligible_amount.ineligible_amount, 'N', 'en-us') as money) AS INELIGIBLE_AMOUNT
	,cast(format(cp_amounts.deductible_amount, 'N', 'en-us') as money) AS DEDUCTIBLE_AMOUNT
	,cast(format(cp_amounts.coinsurance_amount, 'N', 'en-us') as money) AS COINSURANCE_AMOUNT
	,cast(format(cp_amounts.balance_billable, 'N', 'en-us') as money) AS BALANCE_BILLABLE_AMOUNT
	,case 
		when cp_amounts.contract_amount > 0 and cp_amounts.maxPlanIterationIndex > 1 
			then format(cd.charge, 'N', 'en-us')
		else format(cp_amounts.contract_amount, 'N', 'en-us')
		end as contract_amount
	,cast(format(cp_amounts.net_payment, 'N', 'en-us') as money) AS NET_PAYMENT
	,cast(format(cp_amounts.TOTAL_MEMBER_RESPONSIBILITY, 'N', 'en-us') as money) AS TOTAL_MEMBER_RESPONSIBILITY
	,arc_cte.result_code_ud
	,arc_cte.long_message
	,arc_cte.final_use_on_member_report AS use_on_member_report
	,arc_cte.final_use_on_provider_report AS use_on_provider_report
	,cd_ads.adjudication_status_ud as claim_line_status
	,rendering_provider_name.name_last AS rendering_provider_name_last
	,rendering_provider_name.name_first AS rendering_provider_name_first
	,coalesce(adjudication_detail_vendor.mv_vendor_name, v.vendor_nm) AS vendor_nm
	,vpt.vendor_pay_to_nm as vendor_pay_to_nm
	,coalesce(tpm_batch.batch_external_identifier , cii.patient_account_number, ic.patient_control_number, tpm_batch.batch_external_identifier) AS external_identifier
	,bc.benefit_contract_ud as employer_group_number
	,cgn.client_group_nm as employer_group_name
	,c.duplicate_claim as adjusted_claim
	,CASE WHEN cd.negated_claim_procedure_id IS NOT NULL THEN 1 ELSE 0 END AS reversal
	,format(atapd.check_date, 'MM/dd/yyyy HH:mm:ss') as check_date
	,atapd.check_date as check_date_raw
	,cd_pay_status.claim_payment_process_status_ud as claim_line_payment_status
	, case
		when len(cd.procedure_code_ud) = 4
			then cd.procedure_code_2_ud
		else cd.procedure_code_ud
      end as procedure_code_ud
	,rc.description as revenue_code_description
	,case
        when len(cd.procedure_code_ud) = 4
			then cd.procedure_code_ud
        else NULL
     end as revenue_code_ud
	,coalesce(adjudication_detail_vendor.mv_federal_ein, v.federal_ein) as payee_id
	,atapd.check_ach_reference AS check_number
	,atapd.accounting_transaction_ap_id
	,cast(round(ataPAY.transaction_amount,2) as decimal (19,2)) as remit_transaction_amount
	--, *
from claim c
	inner join adjudication_status claim_ads
		on c.adjudication_status_id = claim_ads.adjudication_status_id
	left join claim_d9 d9
		on c.claim_id = d9.claim_id
	left join claim_clearinghouse ch
		on c.claim_id = ch.claim_id
	inner join family_eligibility_member_benefit_plan fembp
		on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
	inner join family_eligibility_member fem 
		on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
	inner join family_eligibility fe 
		on fem.family_eligibility_id = fe.family_eligibility_id
	inner join benefit_contract bc
		on fe.benefit_contract_id = bc.benefit_contract_id
	inner join client_group cg 
		on bc.client_group_id = cg.client_group_id
	inner join client_group_name cgn
		on cg.client_group_id = cgn.client_group_id
			and cgn.primary_name = 1
	inner join vendor_pay_to vpt
		on c.vendor_id = vpt.vendor_id
--Claim Procedure queries 
	inner join claim_procedure cd
		on c.claim_id = cd.claim_id
	inner join adjudication_status cd_ads
		on cd.adjudication_status_id = cd_ads.adjudication_status_id
	left join claim_payment_process_status cd_pay_status
		on cd.claim_payment_process_status_id = cd_pay_status.claim_payment_process_status_id
	left join procedure_code pc with(nolock)
		on case
				when len(cd.procedure_code_ud) = 4
					then cd.procedure_code_2_id
				else cd.procedure_code_id
			end = pc.procedure_code_id
	left join procedure_code rc with(nolock)
		on case
				when len(cd.procedure_code_ud) = 4
				then cd.procedure_code_id
				else null
              end = rc.procedure_code_id
	left join claim_procedure cd_negated
		on cd.negated_claim_procedure_id = cd_negated.claim_procedure_id
--Member queries 
	left join member mem
		on fem.member_id = mem.member_id
	left join member_name mem_name 
		on mem.member_id = mem_name.member_id
			and mem_name.is_primary = 1
	left join member_personal_id mem_mpi
		on mem.member_id = mem_mpi.member_id
	inner join member_id_type mem_mit
		on mem_mpi.member_id_type_id = mem_mit.member_id_type_id
			and mem_mit.golden_key = 'pid'
	cross apply (select ca_fem.member_id
				 from family_eligibility_member ca_fem
					inner join relationship_to_insured ca_rti
						on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
				 where ca_fem.family_eligibility_id = fem.family_eligibility_id
					and ca_rti.relationship_to_insured_ud = 'self'
		) sub_mem
	left join member sub
		on sub_mem.member_id = sub.member_id
	left join member_name sub_name
		on sub.member_id = sub_name.member_id
			and sub_name.is_primary = 1
	left join member_personal_id sub_mpi
		on sub.member_id = sub_mpi.member_id
	inner join member_id_type sub_mit
		on sub_mpi.member_id_type_id = sub_mit.member_id_type_id
			and sub_mit.golden_key = 'pid'
	left join provider_name rendering_provider_name
		on c.provider_id = rendering_provider_name.provider_id
			and rendering_provider_name.is_primary = 1
	left join provider_name billing_provider_name
		on c.billing_provider_id = billing_provider_name.provider_id
			and billing_provider_name.is_primary = 1
	left join ( select bpi.*
				from provider_identifier as bpi
					inner join provider_identifier_type pit
						on bpi.provider_identifier_type_id = pit.provider_identifier_type_id
							and pit.provider_identifier_type_nm = 'National Provider Identifier'
			  ) billing_provider_identifier
		on c.billing_provider_id = billing_provider_identifier.provider_id
	LEFT JOIN adjudication_result_code_cte arc_cte
		ON arc_cte.claim_procedure_id = cd.claim_procedure_id
	left join vendor v
		on c.vendor_id = v.vendor_id
	left join claim_illness_injury cii
		on c.claim_id = cii.claim_id
	left join institutional_claim ic
		on c.claim_id = ic.claim_id
	LEFT JOIN accounting_transaction_ap_claim_detail atacd
	    ON atacd.claim_procedure_id = cd.claim_procedure_id
	LEFT JOIN accounting_transaction_ap ataTrans
	    ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atat
	    ON atat.accounting_transaction_ap_type_id = ataTrans.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_apply_to ataat
	    ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap ataPAY
	    ON ataPAY.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atatPAY
	    ON atatPAY.accounting_transaction_ap_type_id = ataPAY.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_payment_detail atapd
		ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	left join accounting_check_print_run check_run
		on atapd.accounting_check_print_run_id = check_run.accounting_check_print_run_id
	LEFT JOIN bank_account ba
		ON atapd.bank_account_id = ba.bank_account_id
	LEFT JOIN accounting_check_print_run acpr
		ON atapd.accounting_check_print_run_id = acpr.accounting_check_print_run_id
	left join (SELECT c.claim_id,
						max(adjdv.vendor_nm) as mv_vendor_name,
						max(adjdv.federal_ein) as mv_federal_ein
				from qc_core.dbo.adjudication_result_key as ark
					left join vendor as adjdv 
						on ark.member_vendor_id = adjdv.vendor_id
					left join claim_procedure as cp 
						on cp.claim_procedure_id = ark.claim_procedure_id
					left join claim as c 
						on c.claim_id = cp.claim_id
				where ark.member_vendor_id is not null
				group by c.claim_id) adjudication_detail_vendor 
					on adjudication_detail_vendor.claim_id = c.claim_id
	outer apply (Select b.batch_id
						, bt.external_identifier as batch_external_identifier
						, b.created_date as batch_import_date
						, b.file_name
				 from qc_tpm.dbo.batch b with(nolock)
				 	inner join qc_tpm.dbo.batch_transaction bt with(nolock)
				 		on b.batch_id = bt.batch_id
				 	inner join qc_tpm.dbo.agreement a with(nolock)
				 		on b.agreement_id = a.agreement_id
				 where a.document_exchange_type_id in ('X12837P','X12837IA2')
					and bt.internal_identifier = cast(c.claim_id as nvarchar(50))
				 ) as tpm_batch
	cross apply ( select  SUM(coalesce(aao.copay_amount,aa.copay_amount, 0)) as copay_amount
						 ,SUM(coalesce(aao.write_off_amount,aa.write_off_amount,0)) as write_off_amount 
						 ,SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) as ineligible_amount
						 ,SUM(coalesce(aao.deductible_amount,aa.deductible_amount, 0)) as deductible_amount
						 ,SUM(coalesce(aao.coinsurance_amount,aa.coinsurance_amount, 0)) as coinsurance_amount
						 ,SUM(coalesce(aao.contract_amount,aa.contract_amount, 0)) as contract_amount
						 ,SUM(ISNULL(aa.net_payment, 0)) as net_payment
						 ,SUM(coalesce(aao.coinsurance_amount,aa.coinsurance_amount, 0)) +
						  SUM(coalesce(aao.copay_amount,aa.copay_amount, 0)) +
						  SUM(coalesce(aao.deductible_amount,aa.deductible_amount, 0)) +
						  SUM(ISNULL(aa.member_expense_amount, 0)) +
						  SUM(coalesce(aao.alternate_course_member_expense ,aa.alternate_course_member_expense, 0)) +
						  SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) +
						  SUM(coalesce(aao.balance_billable,aa.balance_billable, 0)) as TOTAL_MEMBER_RESPONSIBILITY
						  ,SUM(coalesce(aao.balance_billable,aa.balance_billable, 0)) as balance_billable
						 ,MAX(ISNULL(plan_iteration_index,0)) as maxPlanIterationIndex
				  from adjudication_result_amount aa
					left join adjudication_result_amount_override aao
						on aa.adjudication_result_amount_id = aao.adjudication_result_amount_id
				  where aa.claim_procedure_id = cd.claim_procedure_id
				  ) as cp_amounts
	cross apply ( select  SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) as ineligible_amount
				  from adjudication_result_amount aa
					left join adjudication_result_amount_override aao
						on aa.adjudication_result_amount_id = aao.adjudication_result_amount_id
				  where aa.claim_procedure_id = cd.claim_procedure_id
					and (aa.plan_iteration_index = cp_amounts.maxPlanIterationIndex OR aa.plan_iteration_index IS NULL)
				  ) as ineligible_amount
where claim_ads.adjudication_status_ud in ('closed','approved')
  and cd_ads.adjudication_status_ud in ('approved','denied')

GO
