USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_flattened_diagnosis_codes]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_flattened_diagnosis_codes] AS
select
	pivot_icdc.internal_claim_id as internal_claim_id,
	pivot_icdc.claim_type as claim_type,
	pivot_icdc.primary_diagnosis_code as primary_diagnosis_code,
	pivot_icdc.admitting_diagnosis_code as admitting_diagnosis_code,
	pivot_icdc.other_diagnosis_code_1 as principal_diagnosis_code,
	pivot_icdc.other_diagnosis_code_2 as other_diagnosis_code_2,
	pivot_icdc.other_diagnosis_code_3 as other_diagnosis_code_3,
	pivot_icdc.other_diagnosis_code_4 as other_diagnosis_code_4,
	pivot_icdc.other_diagnosis_code_5 as other_diagnosis_code_5,
	pivot_icdc.other_diagnosis_code_6 as other_diagnosis_code_6,
	pivot_icdc.other_diagnosis_code_7 as other_diagnosis_code_7,
	pivot_icdc.other_diagnosis_code_8 as other_diagnosis_code_8,
	pivot_icdc.other_diagnosis_code_9 as other_diagnosis_code_9,
	pivot_icdc.other_diagnosis_code_10 as other_diagnosis_code_10,
	pivot_icdc.other_diagnosis_code_11 as other_diagnosis_code_11,
	pivot_icdc.other_diagnosis_code_12 as other_diagnosis_code_12,
	pivot_icdc.other_diagnosis_code_13 as other_diagnosis_code_13,
	pivot_icdc.other_diagnosis_code_14 as other_diagnosis_code_14,
	pivot_icdc.other_diagnosis_code_15 as other_diagnosis_code_15,
	pivot_icdc.other_diagnosis_code_16 as other_diagnosis_code_16,
	pivot_icdc.other_diagnosis_code_17 as other_diagnosis_code_17,
	pivot_icdc.other_diagnosis_code_18 as other_diagnosis_code_18,
	pivot_icdc.other_diagnosis_code_19 as other_diagnosis_code_19,
	pivot_icdc.other_diagnosis_code_20 as other_diagnosis_code_20,
	pivot_icdc.other_diagnosis_code_21 as other_diagnosis_code_21,
	pivot_icdc.other_diagnosis_code_22 as other_diagnosis_code_22,
	pivot_icdc.other_diagnosis_code_23 as other_diagnosis_code_23,
	pivot_icdc.other_diagnosis_code_24 as other_diagnosis_code_24,
	pivot_icdc.patient_reason_diagnosis_code_1 as patient_reason_diagnosis_code_1,
	pivot_icdc.patient_reason_diagnosis_code_2 as patient_reason_diagnosis_code_2,
	pivot_icdc.patient_reason_diagnosis_code_3 as patient_reason_diagnosis_code_3,
	pivot_icdc.external_cause_injury_diagnosis_code_1 as external_cause_injury_diagnosis_code_1,
	pivot_icdc.external_cause_injury_diagnosis_code_2 as external_cause_injury_diagnosis_code_2,
	pivot_icdc.external_cause_injury_diagnosis_code_3 as external_cause_injury_diagnosis_code_3
from (
		-- Select of unpivoted diagnosis codes with custom column to identify the diagnosis code_type
		select
			ic.claim_id as internal_claim_id,
			'institutional' as claim_type,
			ic.primary_diagnosis_code_ud as primary_diagnosis_code,
			ic.admitting_diagnosis_code_ud as admitting_diagnosis_code,
			concat(replace(replace(replace(icdc.institutional_claim_diagnosis_code_context_id,'1','other_diagnosis_code_'),'2','patient_reason_diagnosis_code_'),'3','external_cause_injury_diagnosis_code_'),cast(icdc.[sequence] as varchar)) as code_type,
			icdc.diagnosis_code_ud as diagnosis_code
		from dbo.institutional_claim ic
				left join dbo.institutional_claim_diagnosis_code icdc
					on icdc.institutional_claim_id = ic.institutional_claim_id
		where 1 = 1
	) t
	pivot (
		-- Pivoting and grabbing the diagnosis_code_ud value for each pivoted column (derived from custom code_type field)
		max(diagnosis_code)
		for code_type in (
							other_diagnosis_code_1,
							other_diagnosis_code_2,
							other_diagnosis_code_3,
							other_diagnosis_code_4,
							other_diagnosis_code_5,
							other_diagnosis_code_6,
							other_diagnosis_code_7,
							other_diagnosis_code_8,
							other_diagnosis_code_9,
							other_diagnosis_code_10,
							other_diagnosis_code_11,
							other_diagnosis_code_12,
							other_diagnosis_code_13,
							other_diagnosis_code_14,
							other_diagnosis_code_15,
							other_diagnosis_code_16,
							other_diagnosis_code_17,
							other_diagnosis_code_18,
							other_diagnosis_code_19,
							other_diagnosis_code_20,
							other_diagnosis_code_21,
							other_diagnosis_code_22,
							other_diagnosis_code_23,
							other_diagnosis_code_24,
							patient_reason_diagnosis_code_1,
							patient_reason_diagnosis_code_2,
							patient_reason_diagnosis_code_3,
							external_cause_injury_diagnosis_code_1,
							external_cause_injury_diagnosis_code_2,
							external_cause_injury_diagnosis_code_3
						 )
	) as pivot_icdc
union all
select
	pivot_pcdc.internal_claim_id as internal_claim_id,
	pivot_pcdc.claim_type as claim_type,
	pivot_pcdc.other_diagnosis_code_1 as primary_diagnosis_code,		-- Professional claims do not have principal diagnosis codes - just pulling the data the same we we did for Institutional so that they can be part of the same view and moving the primary diagnosis for professional to the appropriate place
	pivot_pcdc.admitting_diagnosis_code as admitting_diagnosis_code,
	pivot_pcdc.other_diagnosis_code_1 as principal_diagnosis_code,	-- Henning would like the principal to be the first diagnosis code to be consistent with the 837
	pivot_pcdc.other_diagnosis_code_2 as other_diagnosis_code_2,
	pivot_pcdc.other_diagnosis_code_3 as other_diagnosis_code_3,
	pivot_pcdc.other_diagnosis_code_4 as other_diagnosis_code_4,
	pivot_pcdc.other_diagnosis_code_5 as other_diagnosis_code_5,
	pivot_pcdc.other_diagnosis_code_6 as other_diagnosis_code_6,
	pivot_pcdc.other_diagnosis_code_7 as other_diagnosis_code_7,
	pivot_pcdc.other_diagnosis_code_8 as other_diagnosis_code_8,
	pivot_pcdc.other_diagnosis_code_9 as other_diagnosis_code_9,
	pivot_pcdc.other_diagnosis_code_10 as other_diagnosis_code_10,
	pivot_pcdc.other_diagnosis_code_11 as other_diagnosis_code_11,
	pivot_pcdc.other_diagnosis_code_12 as other_diagnosis_code_12,
	pivot_pcdc.other_diagnosis_code_13 as other_diagnosis_code_13,
	pivot_pcdc.other_diagnosis_code_14 as other_diagnosis_code_14,
	pivot_pcdc.other_diagnosis_code_15 as other_diagnosis_code_15,
	pivot_pcdc.other_diagnosis_code_16 as other_diagnosis_code_16,
	pivot_pcdc.other_diagnosis_code_17 as other_diagnosis_code_17,
	pivot_pcdc.other_diagnosis_code_18 as other_diagnosis_code_18,
	pivot_pcdc.other_diagnosis_code_19 as other_diagnosis_code_19,
	pivot_pcdc.other_diagnosis_code_20 as other_diagnosis_code_20,
	pivot_pcdc.other_diagnosis_code_21 as other_diagnosis_code_21,
	pivot_pcdc.other_diagnosis_code_22 as other_diagnosis_code_22,
	pivot_pcdc.other_diagnosis_code_23 as other_diagnosis_code_23,
	pivot_pcdc.other_diagnosis_code_24 as other_diagnosis_code_24,
	pivot_pcdc.patient_reason_diagnosis_code_1 as patient_reason_diagnosis_code_1,
	pivot_pcdc.patient_reason_diagnosis_code_2 as patient_reason_diagnosis_code_2,
	pivot_pcdc.patient_reason_diagnosis_code_3 as patient_reason_diagnosis_code_3,
	pivot_pcdc.external_cause_injury_diagnosis_code_1 as external_cause_injury_diagnosis_code_1,
	pivot_pcdc.external_cause_injury_diagnosis_code_2 as external_cause_injury_diagnosis_code_2,
	pivot_pcdc.external_cause_injury_diagnosis_code_3 as external_cause_injury_diagnosis_code_3
from (
			-- Select of unpivoted diagnosis codes with custom column to identify the diagnosis code_type
		select
			pc.claim_id as internal_claim_id,
			'professional' as claim_type,
			null as primary_diagnosis_code,		-- For professional claims, this is set later
			null as admitting_diagnosis_code,
			concat('other_diagnosis_code_',cast(pcdc.professional_claim_diagnosis_code_sequence as varchar)) as code_type,
			pcdc.diagnosis_code_ud as diagnosis_code
		from dbo.professional_claim pc
				left join dbo.professional_claim_diagnosis_code pcdc
					on pcdc.professional_claim_id = pc.professional_claim_id
		where 1 = 1
	) t
	pivot (
		-- Pivoting and grabbing the diagnosis_code_ud value for each pivoted column (derived from custom code_type field)
		max(diagnosis_code)
		for code_type in (
							other_diagnosis_code_1,
							other_diagnosis_code_2,
							other_diagnosis_code_3,
							other_diagnosis_code_4,
							other_diagnosis_code_5,
							other_diagnosis_code_6,
							other_diagnosis_code_7,
							other_diagnosis_code_8,
							other_diagnosis_code_9,
							other_diagnosis_code_10,
							other_diagnosis_code_11,
							other_diagnosis_code_12,
							other_diagnosis_code_13,
							other_diagnosis_code_14,
							other_diagnosis_code_15,
							other_diagnosis_code_16,
							other_diagnosis_code_17,
							other_diagnosis_code_18,
							other_diagnosis_code_19,
							other_diagnosis_code_20,
							other_diagnosis_code_21,
							other_diagnosis_code_22,
							other_diagnosis_code_23,
							other_diagnosis_code_24,
							patient_reason_diagnosis_code_1,
							patient_reason_diagnosis_code_2,
							patient_reason_diagnosis_code_3,
							external_cause_injury_diagnosis_code_1,
							external_cause_injury_diagnosis_code_2,
							external_cause_injury_diagnosis_code_3
						 )
	) as pivot_pcdc


GO
