USE [qc_core]
GO
/****** Object:  View [dbo].[vw_user_friendly_control_captions]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_user_friendly_control_captions]
AS

SELECT
uec.ui_engine_control_id     AS control_id
,uec.name                    AS control_name
,uec.type                    AS control_type
,user_visible_caption =
CASE
WHEN uec.type IN ('TextBox', 'ComboBox', 'Calendar') THEN
--get adjacent label caption - use MIN to handle multiple tab-index matches
--TODO - remove & from labels
(SELECT REPLACE(MIN(caption_table.caption), '&', '') FROM
(SELECT caption, tab_index FROM ui_engine_control uec1
WHERE uec1.form_name = uec.form_name
AND uec1.type = 'Label'
AND ((uec1.parent_control_name IS NULL AND uec.parent_control_name IS NULL) OR uec1.parent_control_name = uec.parent_control_name)
AND uec1.tab_index = (uec.tab_index - 1)) AS caption_table)
ELSE REPLACE(uec.caption, '&', '')
END
,uec.tab_index              AS control_tab_index
,uec.form_name              AS control_form_name
,uec.parent_control_name    AS control_parent_name
,uec2.ui_engine_control_id  AS control_parent_id
-- useful bits for filtering
,is_security_form_container_control =
CASE
WHEN uec.type IN ('TabPage', 'GroupBox', 'Panel') THEN 1
ELSE 0
END
,is_security_grid_container_control =
CASE
WHEN uec.type = 'Grid' THEN 1
ELSE 0
END
,is_securable_form_child_control =
CASE
WHEN uec.type IN ('TextBox', 'ComboBox', 'Calendar', 'CheckBox') THEN 1
ELSE 0
END
,is_securable_grid_column_control =
CASE
WHEN uec.type IN ('FindButtonColumn', 'CalendarColumn', 'TextBoxColumn',
'BoolColumn', 'ButtonColumn', 'ComboBoxColumn',
'EditButtonColumn')	THEN 1
ELSE 0
END
FROM ui_engine_control uec
INNER JOIN security_form_permission_tree_view sfptv
ON uec.form_name = sfptv.form_name
LEFT OUTER JOIN ui_engine_control uec2
ON uec.form_name = uec2.form_name
AND ISNULL(uec.parent_control_name,0) = ISNULL(uec2.name,0)
GO
