USE [qc_core]
GO
/****** Object:  View [dbo].[vw_group_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_group_auto_note] WITH SCHEMABINDING
AS

SELECT	dbo.client_group.client_group_id
,dbo.benefit_contract.benefit_contract_id
,dbo.family_eligibility.family_eligibility_id
FROM	dbo.client_group
LEFT JOIN	dbo.benefit_contract ON dbo.client_group.client_group_id = dbo.benefit_contract.client_group_id
LEFT JOIN	dbo.family_eligibility ON dbo.benefit_contract.benefit_contract_id = dbo.family_eligibility.benefit_contract_id
GO
