USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_vendor_override]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[bind_vw_vendor_override] AS
SELECT c.claim_id, c.repriced_network, carn.additional_reference_number, bcv.vendor_id, bcv.vendor_ud, c.vendor_id as old_vendor_id, v.vendor_ud as old_vendor_ud
FROM claim c
--inner join adjudication_status ads
--	ON ads.adjudication_status_id = c.adjudication_status_id
--		and ads.adjudication_status_id = 7 -- open
JOIN claim_additional_reference_number carn
	ON c.claim_id = carn.claim_id
JOIN claim_additional_reference_number_type carnt 
	ON carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id 
	AND carnt.golden_key = 'D9'
JOIN bind_claim_vendor bcv 
	ON c.repriced_network = bcv.claim_repricer_network
	AND carn.additional_reference_number = bcv.d9_claim_id
JOIN (
	SELECT MAX(id) AS id, d9_claim_id, claim_repricer_network
	FROM bind_claim_vendor
	GROUP BY d9_claim_id, claim_repricer_network
) latest_bcv
	ON bcv.id = latest_bcv.id
LEFT JOIN vendor v
	ON c.vendor_id = v.vendor_id
WHERE (c.vendor_id Is NULL OR bcv.vendor_id != c.vendor_id)
	and c.adjudication_status_id = 7  --open;



GO
