USE [qc_core]
GO
/****** Object:  View [dbo].[vw_find_member_and_eligibility]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Copyright � 2008 Plexis Healthcare Systems, Inc.  All Rights Reserved.
--
/*
REVISION_HISTORY:
--
Date		Modified By	Version	Description
--------------------------------------------------------------------------------
03/29/12	ggutshall	 Changed LEFT JOIN to INNER JOIN on family_eligibility_member_benefit_plan also
changed ON clause of join to benefit_plan from "bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id"
to "eligibility.benefit_plan_id = benefit_plan.benefit_plan_id"
05/02/13	bsarge	Migrated gguthall's change from 11.3.0.1370 to trunk.
12/16/2013 Changed Inner Join back into Left Join RT:3864
09/19/2014	dcannon	RT:7004 member address restructure
4/24/2015   bsargent 7835: merge 14.2.6 changes to trunk
Removed join to telephone_number as it is not
Replaced plx_ConcatenateName with an inline concatenation
*/
CREATE VIEW [dbo].[vw_find_member_and_eligibility] AS

SELECT	family_eligibility.family_eligibility_id,
member.member_id,
name.member_name_id,
name.name_last,
name.name_first,
name.name_middle,
(isnull(name.name_last,'') +
case when (name.name_first is not null or name.name_middle is not null ) then ', ' else '' end +
isnull(name.name_first,'') + ' ' + isnull(name.name_middle,'')  ) as member_name,
pid.id_value AS member_pid,
member.birth_date,
family_eligibility.family_eligibility_ud,
family_eligibility_member.family_eligibility_member_id,
eligibility.family_eligibility_member_benefit_plan_id,
eligibility.member_eligibility_ud,
benefit_contract.benefit_contract_id,
benefit_contract.benefit_contract_ud,
benefit_category.benefit_category_id,
benefit_category.benefit_category_ud,
eligibility_level.eligibility_level_id,
eligibility_level.eligibility_level_ud,
eligibility.effective_from,
eligibility.effective_thru,
CAST(CASE
WHEN DATEDIFF(DAY, ISNULL(eligibility.effective_from, CAST('1900-01-01' AS datetime)), GETDATE()) >= 0
AND DATEDIFF(DAY, ISNULL(eligibility.effective_thru, CAST('9999-12-31' AS datetime)), GETDATE()) <= 0
THEN 1
ELSE 0
END AS BIT) AS current_effective,
CAST(CASE
WHEN eligibility.effective_thru IS NULL THEN 0
ELSE 1
END AS BIT) AS is_effective_through_null,
CAST(CASE
WHEN eligibility_level.golden_key = 'Primary' THEN 1
ELSE 0
END AS BIT) AS is_primary_plan,
family_eligibility_member.relationship_to_insured_id,
CAST(CASE
WHEN member.member_id = subscriber.member_id THEN 1
ELSE 0
END AS BIT) AS is_subscriber,
client_group.client_id,
client_group.client_group_id,
eligibility.benefit_plan_id,
family_eligibility_member.use_subsciber_address AS use_subscriber_address,
subscriber.member_id AS subscriber_member_id,
member_internet_address.member_internet_address_id
FROM
dbo.member
LEFT JOIN	dbo.member_name AS name
ON      member.member_id = name.member_id
AND     name.is_primary <> 0
LEFT JOIN	(
dbo.member_personal_id AS pid
INNER JOIN	dbo.member_id_type AS pid_type
ON	pid_type.member_id_type_id = pid.member_id_type_id
AND	pid_type.golden_key = 'PID'
)
ON	member.member_id = pid.member_id
LEFT JOIN	dbo.family_eligibility_member
ON	family_eligibility_member.member_id = member.member_id
LEFT JOIN	dbo.family_eligibility
ON	family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
LEFT JOIN	dbo.benefit_contract
ON	benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan AS eligibility
ON	eligibility.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
LEFT JOIN	dbo.eligibility_level
ON	eligibility_level.eligibility_level_id = eligibility.eligibility_level_id
LEFT JOIN	dbo.benefit_contract_period_benefit_plan bcpbp
ON	bcpbp.benefit_plan_id = eligibility.benefit_plan_id
LEFT JOIN	dbo.benefit_plan
ON	eligibility.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN	dbo.benefit_framework
ON	benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
LEFT JOIN	dbo.benefit_category
ON	benefit_category.benefit_category_id = benefit_framework.benefit_category_id
LEFT JOIN	dbo.client_group
ON	benefit_contract.client_group_id = client_group.client_group_id
LEFT JOIN dbo.member_internet_address
ON member.member_id = member_internet_address.member_id
LEFT JOIN	(
dbo.family_eligibility_member AS subscriber
INNER JOIN	dbo.relationship_to_insured AS subscriber_relationship
ON	subscriber.relationship_to_insured_id = subscriber_relationship.relationship_to_insured_id
AND	subscriber_relationship.golden_key IN ('SELF','GUARANTOR')
)
ON	subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Defines the resultset and most of the available criteria of a find by member and eligibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_find_member_and_eligibility'
GO
