USE [qc_core]
GO
/****** Object:  View [dbo].[vw_episode_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_episode_auto_note] WITH SCHEMABINDING
AS

SELECT
dbo.episode.episode_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.member.member_id,
dbo.claim.claim_id,
dbo.provider.provider_id
FROM	dbo.episode
LEFT JOIN	dbo.claim ON dbo.episode.episode_id = dbo.claim.episode_id
LEFT JOIN	dbo.provider ON dbo.claim.provider_id = dbo.provider.provider_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan ON dbo.episode.family_eligibility_member_benefit_plan_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT JOIN	dbo.family_eligibility_member ON  dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id = dbo.family_eligibility_member.family_eligibility_member_id
LEFT JOIN dbo.member ON dbo.family_eligibility_member.member_id = dbo.member.member_id

UNION

SELECT
dbo.episode.episode_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.member.member_id,
dbo.claim.claim_id,
dbo.provider.provider_id
FROM	dbo.episode
LEFT JOIN	dbo.episode_referral_authorization ON dbo.episode.episode_id = dbo.episode_referral_authorization.episode_id
LEFT JOIN	dbo.referral ON dbo.episode_referral_authorization.referral_id = dbo.referral.referral_id
LEFT JOIN	dbo.referral_provider ON dbo.referral.referral_id = dbo.referral_provider.referral_id
LEFT JOIN	dbo.claim ON dbo.episode.episode_id = dbo.claim.episode_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan
ON dbo.episode.family_eligibility_member_benefit_plan_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT JOIN	dbo.family_eligibility_member
ON dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id = dbo.family_eligibility_member.family_eligibility_member_id
LEFT JOIN	dbo.member ON dbo.family_eligibility_member.member_id = dbo.member.member_id
LEFT JOIN	dbo.provider ON dbo.referral_provider.provider_id = dbo.provider.provider_id
GO
