USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_PHI_member]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[bind_vw_PHI_member] AS
Select distinct   m.member_id as internal_member_id
		, mn.name_first as member_first_name
		, mn.name_last as member_last_name
		, member_id.member_id_type_ud
		, member_id.id_value as member_number
		, rti.relationship_to_insured_ud as relationship_to_subscriber
		, ma.member_address_id as internal_member_address_id
		, ma.address_1 as address_line_1
		, ma.address_2 as address_line_2
		, l.city
		, l.county
		, s.state_ud as state_code
		, s.state_nm as state_name
		, l.postal_code as zip_code
		, birth_date as date_of_birth
		, cli_nm.client_nm AS employer_name
		, benefit_contract_ud as employer_group_number
		, subscriber.member_id as subscriber_member_id
		, bp.benefit_plan_ud as employer_group_plan
		, lob.line_of_business_ud as line_of_business 
		, s2.state_ud as contract_state
		, fembp.member_eligibility_ud as bind_eligibility
		, fembp.effective_from as family_eligibility_member_benefit_plan_effective_date
		, fembp.effective_thru as family_eligibility_member_benefit_plan_term_date
		, fembp.family_eligibility_member_benefit_plan_id as member_family_eligibility_member_benefit_plan_id
		, bcp.effective_from as benefit_effect_from
		, isnull(bcp.effective_thru,DATEADD(day,-1,dateadd(year,1,bcp.effective_from))) as benefit_effective_thru
from member m with(nolock)
	cross apply (select top 1 mpi.*
								, mit.member_id_type_ud
				 from member_personal_id mpi with(nolock)
					inner join member_id_type mit with(nolock)
						on mpi.member_id_type_id = mit.member_id_type_id
				 where mpi.member_id = m.member_id
					and mit.golden_key = 'pid'
				) as member_id
	inner join member_name mn with(nolock)
		on m.member_id = mn.member_id
			and mn.is_primary = 1
	outer apply (select top 1 * 
				from member_address ca_ma with(nolock)
				where m.member_id = ca_ma.member_id
				order by ca_ma.is_primary, ca_ma.effective_from desc, ca_ma.effective_thru desc
				) as ma
	left join locale l with(nolock)
		on ma.locale_id = l.locale_id
	left join state s with(nolock)
		on l.state_id = s.state_id
	inner join family_eligibility_member fem with(nolock)
		on fem.member_id = m.member_id
	inner join relationship_to_insured rti with(nolock)
		on fem.relationship_to_insured_id = rti.relationship_to_insured_id
	inner join family_eligibility fe with(nolock)
		on fem.family_eligibility_id = fe.family_eligibility_id
	inner join benefit_contract bc with(nolock)
		on fe.benefit_contract_id = bc.benefit_contract_id
	inner join benefit_contract_period bcp with(nolock)
		on bc.benefit_contract_id = bcp.benefit_contract_id
	inner join client_group cg with(nolock)
		on bc.client_group_id = cg.client_group_id
	inner join client_name cli_nm with(nolock)
		on cg.client_id = cli_Nm.client_id
			and cli_nm.primary_name = 1
	left join line_of_business lob with(nolock)
		on lob.line_of_business_id = bc.line_of_business_id
	left join state s2 with(nolock)
		on s2.state_id = cg.incorporated_state_id
	inner join family_eligibility_member_benefit_plan fembp with(nolock)
		on fem.family_eligibility_member_id = fembp.family_eligibility_member_id
			--and fembp.active = 1
	cross apply (select ca_fem.member_id
				from family_eligibility_member ca_fem with(nolock)
					inner join relationship_to_insured ca_rti with(nolock)
						on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
				where ca_fem.family_eligibility_id = fe.family_eligibility_id
					and ca_rti.golden_key = 'Self'
				) as subscriber
	left join benefit_plan bp with(nolock)
		on fembp.benefit_plan_id = bp.benefit_plan_id
	inner join benefit_contract_period_benefit_plan bcpbp with(nolock)
		on bp.benefit_plan_id = bcpbp.benefit_plan_id
			and bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
GO
