USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_timeline]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  

CREATE VIEW [dbo].[bind_vw_claim_timeline] AS
select distinct  c.claim_id as internal_claim_id
		, c.claim_ud
		, external_claim_number.additional_reference_number as d9
		, clearing_house_claim_id.additional_reference_number as master_claim_id
		, cas.adjudication_status_ud 
		, c.family_eligibility_member_benefit_plan_id as claim_family_eligibility_member_benefit_plan_id
		, c.created_date as claim_created_date
		, cft.claim_form_type_ud as claim_type
		,case 
			when tpm_batch.batch_id is null then 'Manual'
			else 'Batch'
		end as import_method
		, lci.linked_claim_id as parent_claim_id
		, parent_external_claim_number.additional_reference_number as parent_d9
		, parent_clearing_house_claim_id.additional_reference_number as parent_master_claim_id
		, cast(payment_detail.check_date as date) as 'QC_Check_Date'
from claim c
	inner join adjudication_status cas
		on c.adjudication_status_id = cas.adjudication_status_id
	inner join claim_form_type cft
		on c.claim_form_type_id = cft.claim_form_type_id
	outer apply (select top 1 *
				from linked_claim_information oa_lci with(nolock)
				where c.claim_id = oa_lci.claim_id
				order by oa_lci.linked_claim_id
				) as lci
	outer apply (Select b.batch_id
						, bt.external_identifier
						, b.created_date as batch_import_date
						, b.file_name
				 from qc_tpm.dbo.batch b with(nolock)
				 	inner join qc_tpm.dbo.batch_transaction bt with(nolock)
				 		on b.batch_id = bt.batch_id
				 	inner join qc_tpm.dbo.agreement a with(nolock)
				 		on b.agreement_id = a.agreement_id
				 where a.document_exchange_type_id in ('X12837P','X12837IA2')
					and bt.internal_identifier = c.claim_id
				 ) as tpm_batch
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM claim_additional_reference_number carn with(nolock)
					inner join claim_additional_reference_number_type carnt with(nolock)
						 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'D9') as external_claim_number
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM claim_additional_reference_number carn with(nolock)
					inner join claim_additional_reference_number_type carnt with(nolock)
						 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = lci.linked_claim_id
					AND carnt.golden_key = 'D9') as parent_external_claim_number
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM claim_additional_reference_number carn with(nolock)
					inner join claim_additional_reference_number_type carnt with(nolock)
						 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'F8') as clearing_house_claim_id
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM claim_additional_reference_number carn with(nolock)
					inner join claim_additional_reference_number_type carnt with(nolock)
						 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = lci.linked_claim_id
					AND carnt.golden_key = 'F8') as parent_clearing_house_claim_id
	outer apply (select payment_detail.check_date
				from qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd with(nolock)
						inner join qc_core.dbo.accounting_transaction_ap_apply_to as atap_at with(nolock)
							on atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
						inner join qc_core.dbo.accounting_transaction_ap payment with(nolock)
							on payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
								and payment.void_date is null	
						inner join qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail with(nolock)
							on payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
				where 1 = 1
				and atap_cd.claim_id = c.claim_id
				and payment.accounting_transaction_ap_ud not in ('Bind Benefits2018121200007','UH486 UnitedHealth Group, Inc.2019020800015','Bind Benefits2018091900001','Bind Benefits2018100100001','Bind Benefits2018092400001','UH489 Specialized Bicycle2019021500002')
				) as payment_detail

GO
