USE [qc_core]
GO
/****** Object:  View [dbo].[vw_claims_pend_or_hold_or_err]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_claims_pend_or_hold_or_err]
AS

SELECT
c.claim_id
,c.claim_ud
,c.received_date
,c.clean_date
,c.claim_form_type_id
,c.vendor_id
,c.family_eligibility_member_benefit_plan_id
,COALESCE(c.provider_identifier_id, c.billing_provider_identifier_id) as provider_identifier_id
,c.adjudication_status_id
,cp.claim_procedure_id
,c.claim_payment_process_status_id
FROM
claim c
INNER JOIN claim_procedure cp
ON c.claim_id = cp.claim_id
WHERE
c.adjudication_status_id IN
(
SELECT adjudication_status_id
FROM adjudication_status
WHERE golden_key IN ('HOLD', 'PEND', 'ERROR')
)
GO
