USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_active_subcribers]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[bind_vw_active_subcribers] AS
WITH activeCount AS
	(
	SELECT DISTINCT 
		mn.member_id 
	FROM 
		family_eligibility_member_benefit_plan AS fembp with(nolock)
	JOIN family_eligibility_member AS fem with(nolock)
		ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
		AND EXISTS
			(
			SELECT
				1
			FROM
				relationship_to_insured rti
			WHERE
					(
					golden_key IN
						(
						'Self'
						, 'Employee'
						, 'Guarantor'
						)
					)
				AND rti.relationship_to_insured_id = fem.relationship_to_insured_id
			)
	JOIN member_name AS mn with(nolock)
		ON fem.member_id = mn.member_id 
	WHERE
			(
			fembp.effective_thru is NULL
			OR GETDATE() BETWEEN fembp.effective_from AND fembp.effective_thru
			)
	)
SELECT 
	*
FROM 
	activeCount
GO
