USE [qc_core]
GO
/****** Object:  View [dbo].[zbind_vw_835_inclusion]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[zbind_vw_835_inclusion] AS

select DISTINCT
		  payment.accounting_transaction_ap_ud as 'payment_id'
		, payment.accounting_transaction_ap_id as 'internal_payment_id'
		, c.claim_ud
		, c.claim_id as internal_claim_id
		, c_as.adjudication_status_ud as claim_status
		, cp.claim_procedure_id
		, cp.claim_line_sequence
		, cp_as.adjudication_status_ud as claim_line_status
		, cpps.claim_payment_process_status_ud as claim_procedure_payment_status
		, d9.additional_reference_number as 'd9'
		, clearing_house.additional_reference_number as clearing_house_claim_id
		, ppo.additional_reference_number as ppo
		, bp.benefit_plan_ud as employer_group_plan 
		, Batch_Record.batch_id
		, Batch_Record.batch_created_date
		, Batch_Record.file_name
		, case
			when Batch_Record.batch_id is not null and batch_record.completed_successfully = 1 then 'Success'
			else 'Fail'
		  end as [835_Status]
		, batch_record.business_partner
		--, atap_at.amount
		, CASE atap_type.golden_key WHEN 'CREDIT' THEN atap_at.amount * -1  
			WHEN 'BILL'   THEN atap_at.amount  
		  END as amount 
		, payment_detail.check_date as 'QC_Check_Date'
		, payment.transaction_date
		, payment_detail.check_ach_reference as 'QC_Check_Number'
		, que.disbursement_claim_payment_queue_ud as 'QC_Disbursement_Queue_Name'
		, cii.patient_account_number as 'CLM01 for Professional EDI Claims'
		, ic.patient_control_number as 'CLM01 for Institutional EDI Claims'
		, v.vendor_ud
		, v.vendor_nm
-- where the inbound REF*D9 or REF*9A would be present for EDI imported claims with that data
from qc_core.dbo.accounting_transaction_ap_apply_to as atap_at
	INNER JOIN qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd
		on atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap payment
		on payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap applied_to
		on applied_to.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail
		on payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_source 
		on accounting_source.accounting_source_id = applied_to.accounting_source_id
	INNER JOIN qc_core.dbo.disbursement_claim_payment_queue que
		ON payment_detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
	left join accounting_transaction_ap_type as atap_type
		on applied_to.accounting_transaction_ap_type_id = atap_type.accounting_transaction_ap_type_id
	--Getting the Vendor for the payment
	INNER JOIN qc_core.dbo.vendor v
		on v.vendor_id = payment.vendor_id
	--Getting information about the claim
	INNER JOIN qc_core.dbo.claim c
		ON atap_cd.claim_id = c.claim_id
	inner join adjudication_status c_as					-- Getting the Claim's status			
		on c.adjudication_status_id = c_as.adjudication_status_id
	INNER JOIN qc_core.dbo.claim_procedure cp			-- Getting the claim lines
		on c.claim_id = cp.claim_id 
	inner join adjudication_status cp_as				-- Getting the Claim Lines' status
		on cp.adjudication_status_id = cp_as.adjudication_status_id
		and atap_cd.claim_procedure_id = cp.claim_procedure_id
	inner join adjudication_result_key ark				-- Using the adjudication result key to get the benefit plan so we can have the employer_group_plan of the Bind platform
		on cp.claim_procedure_id = ark.claim_procedure_id
	inner join benefit_plan bp
		on ark.benefit_plan_id = bp.benefit_plan_id
	inner join claim_payment_process_status cpps
		on cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
	-- Getting the D9 External Reference
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'D9'
				) as d9
	-- Getting the Clearing house claim ID
	outer apply (SELECT carn.claim_id, carn.additional_reference_number
				 FROM claim_additional_reference_number carn
					inner join claim_additional_reference_number_type carnt
						on carn.claim_additional_reference_number_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.claim_id
					and carnt.golden_key = 'F8'
				) as clearing_house
	--Getting the PPO number
	outer apply (SELECT carn.claim_id, carn.additional_reference_number
				 FROM claim_additional_reference_number carn
					inner join claim_additional_reference_number_type carnt
						on carn.claim_additional_reference_number_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.claim_id
					and carnt.golden_key = '9A'
				) as ppo
	LEFT JOIN qc_core.dbo.claim_illness_injury cii		--join to table that holds the inbound CLM01 value for Professional EDI claims.
		ON c.claim_id = cii.claim_id
	Left JOIN qc_core.dbo.institutional_claim ic		--join to table that holds the inbound CLM01 value for Institutional EDI claims.
		ON c.claim_id = ic.claim_id
	outer apply (Select top 1 b.batch_id
							, bt.batch_transaction_id
							, b.created_date as batch_created_date
							, b.file_name
							, b.file_path
							, bt.completed_successfully
							, bp.business_partner_ud as business_partner
				 from qc_tpm.dbo.batch b  with(nolock)
					inner join qc_tpm.dbo.batch_transaction bt with(nolock)
						on bt.batch_id = b.batch_id
					left join qc_tpm.dbo.batch_transaction_message btm with(nolock)
						on bt.batch_transaction_id = btm.batch_transaction_id
					inner JOIN QC_TPM.dbo.agreement a 
						on a.agreement_id = b.agreement_id
					inner JOIN QC_TPM.dbo.agreement_type at 
						on a.agreement_type_id = at.agreement_type_id
					inner join qc_tpm.dbo.business_partner bp
						on a.business_partner_id = bp.business_partner_id
				 where bt.internal_identifier = cast(payment_detail.accounting_transaction_ap_id as nvarchar(max))
					and a.document_exchange_type_id = 'X12835'
				 order by b.created_date desc
				) as Batch_Record
WHERE accounting_source.golden_key = 'Claims'
	AND payment_detail.accounting_check_print_run_id IS NOT null-- don't include payments where a QC Check Number is null
	AND payment.void_date is null  --don't include QC Payments that have been voided. Note that this is different than a voided claim that would have a payment.
	and payment.accounting_transaction_ap_ud not in ('Bind Benefits2018121200007','UH486 UnitedHealth Group, Inc.2019020800015','Bind Benefits2018091900001','Bind Benefits2018100100001','Bind Benefits2018092400001')


GO
