USE [qc_core]
GO
/****** Object:  View [dbo].[vw_disbursement_claim_payment_taxes]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_disbursement_claim_payment_taxes] AS

SELECT
pd.accounting_transaction_ap_payment_detail_id,
atap.accounting_transaction_ap_id as 'payment_accounting_transaction_ap_id',
atap.accounting_transaction_ap_ud as 'payment_accounting_transaction_ap_ud',
to_atap.accounting_transaction_ap_id,
to_atap.accounting_transaction_ap_ud,
to_atap.accounting_transaction_ap_type_id,
to_atap.tax_1099_exempt,
to_atap.tax_1099_misc_box_id,
to_atap.transaction_amount,
apto.amount as 'applied_amount'
FROM
accounting_transaction_ap_payment_detail pd
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = pd.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = pd.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap to_atap
ON to_atap.accounting_transaction_ap_id = apto.to_accounting_transaction_ap_id
GO
