USE [qc_core]
GO
/****** Object:  View [dbo].[vw_benefit_contract_period]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_benefit_contract_period]
AS

SELECT
benefit_contract_period_id
,benefit_contract_id
,ISNULL(CONVERT(varchar(10), effective_from, 101), '') + '-' + ISNULL(CONVERT(varchar(10),
effective_thru, 101), '') AS 'benefit_period_ud'
FROM   benefit_contract_period
GO
