USE [qc_core]
GO
/****** Object:  View [dbo].[adjudication_amount_override]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[adjudication_amount_override]
AS
WITH    cte_adjudication_amount_override ( adjudication_result_amount_id, golden_key, amount, adjudication_details_override_reason_id, adjudication_details_override_reason_key, [active], created_date, created_user_name, modified_date, modified_user_name )
AS ( SELECT   adjudication_result_amount_id ,
golden_key ,
amount ,
adjudication_details_override_reason_id ,
adjudication_details_override_reason_key ,
1 ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name
FROM     ( SELECT    adjudication_result_amount_id ,
1 AS [active] ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name ,
ISNULL([alternate_course_member_expense],
0) [001alternate_course_member_expense] ,
ISNULL([balance_billable], 0) [002balance_billable] ,
ISNULL([benefit_limit_amount], 0) [003benefit_limit_amount] ,
ISNULL([coinsurance_amount], 0) [004coinsurance_amount] ,
ISNULL([contract_amount], 0) [005contract_amount] ,
ISNULL([copay_amount], 0) [006copay_amount] ,
ISNULL([deductible_amount], 0) [007deductible_amount] ,
ISNULL([eligible_units], 0) [008eligible_units] ,
ISNULL([eligible_visits], 0) [009eligible_visits] ,
ISNULL([ffs_equivalent_amount], 0) [010ffs_equivalent_amount] ,
ISNULL([ineligible_amount], 0) [011ineligible_amount] ,
ISNULL(missing_authorization_penalty_amount, 0) [012missing_authorization_penalty_amount] ,
ISNULL(mips_negative_adjustment_amount, 0) [013mips_negative_adjustment_amount] ,
ISNULL(mips_positive_adjustment_amount, 0) [014mips_positive_adjustment_amount] ,
ISNULL(sequestration_adjustment_amount, 0) [015sequestration_adjustment_amount] ,
ISNULL(exceeds_billed_amount, 0) [016exceeds_billed_amount] ,
ISNULL([pre_existing_condition_penalty_amount], 0) [017pre_existing_condition_penalty_amount] ,
ISNULL([provider_discount], 0) [018provider_discount] ,
ISNULL([supp_plan_covered_amount], 0) [019supp_plan_covered_amount] ,
ISNULL([withhold_amount], 0) [020withhold_amount] ,
ISNULL([write_off_amount], 0) [021write_off_amount] ,
ISNULL([code_depreciation_rank], 0) [022code_depreciation_rank] ,
ISNULL([cob_payment_excess_amount], 0) [023cob_payment_excess_amount] ,
ISNULL([exceeds_contract_amount], 0) [024exceeds_contract_amount] ,
ISNULL([provider_responsibility_amount], 0) [025provider_responsibility_amount] ,
ISNULL([alternate_course_member_expense_adjudication_details_override_reason_id],
0) [001alternate_course_member_expense_adjudication_details_override_reason_id] ,
ISNULL([balance_billable_adjudication_details_override_reason_id],
0) [002balance_billable_adjudication_details_override_reason_id] ,
ISNULL([benefit_limit_amount_adjudication_details_override_reason_id],
0) [003benefit_limit_amount_adjudication_details_override_reason_id] ,
ISNULL([coinsurance_amount_adjudication_details_override_reason_id],
0) [004coinsurance_amount_adjudication_details_override_reason_id] ,
ISNULL([contract_amount_adjudication_details_override_reason_id],
0) [005contract_amount_adjudication_details_override_reason_id] ,
ISNULL([copay_amount_adjudication_details_override_reason_id],
0) [006copay_amount_adjudication_details_override_reason_id] ,
ISNULL([deductible_amount_adjudication_details_override_reason_id],
0) [007deductible_amount_adjudication_details_override_reason_id] ,
ISNULL([eligible_units_adjudication_details_override_reason_id],
0) [008eligible_units_adjudication_details_override_reason_id] ,
ISNULL([eligible_visits_adjudication_details_override_reason_id],
0) [009eligible_visits_adjudication_details_override_reason_id] ,
ISNULL([ffs_equivalent_amount_adjudication_details_override_reason_id],
0) [010ffs_equivalent_amount_adjudication_details_override_reason_id] ,
ISNULL([ineligible_amount_adjudication_details_override_reason_id],
0) [011ineligible_amount_adjudication_details_override_reason_id] ,
ISNULL([missing_authorization_penalty_amount_adjudication_details_override_reason_id],
0) [012missing_authorization_penalty_amount_adjudication_details_override_reason_id] ,
ISNULL([mips_negative_adjustment_amount_adjudication_details_override_reason_id],
0) [013mips_negative_adjustment_amount_adjudication_details_override_reason_id] ,
ISNULL([mips_positive_adjustment_amount_adjudication_details_override_reason_id],
0) [014mips_positive_adjustment_amount_adjudication_details_override_reason_id] ,
ISNULL([sequestration_adjustment_amount_adjudication_details_override_reason_id],
0) [015sequestration_adjustment_amount_adjudication_details_override_reason_id] ,
ISNULL([exceeds_billed_amount_adjudication_details_override_reason_id],
0) [016exceeds_billed_amount_adjudication_details_override_reason_id] ,
ISNULL([pre_existing_condition_penalty_amount_adjudication_details_override_reason_id],
0) [017pre_existing_condition_penalty_amount_adjudication_details_override_reason_id] ,
ISNULL([provider_discount_adjudication_details_override_reason_id],
0) [018provider_discount_adjudication_details_override_reason_id] ,
ISNULL([supp_plan_covered_amount_adjudication_details_override_reason_id],
0) [019supp_plan_covered_amount_adjudication_details_override_reason_id] ,
ISNULL([withhold_amount_adjudication_details_override_reason_id],
0) [020withhold_amount_adjudication_details_override_reason_id] ,
ISNULL([write_off_amount_adjudication_details_override_reason_id],
0) [021write_off_amount_adjudication_details_override_reason_id],
ISNULL([code_depreciation_rank_adjudication_details_override_reason_id],
0) [022code_depreciation_rank_adjudication_details_override_reason_id],
ISNULL([cob_payment_excess_amount_adjudication_details_override_reason_id],
0) [023cob_payment_excess_amount_adjudication_details_override_reason_id],
ISNULL([exceeds_contract_amount_adjudication_details_override_reason_id],
0) [024exceeds_contract_amount_adjudication_details_override_reason_id],
ISNULL([provider_responsibility_amount_adjudication_details_override_reason_id],
0) [025provider_responsibility_amount_adjudication_details_override_reason_id]
FROM      adjudication_result_amount_override
) AS p UNPIVOT ( amount FOR golden_key IN -- place amount values in row by golden_key (which is the column name from adjudication_result_amount_override
( [001alternate_course_member_expense],
[002balance_billable], [003benefit_limit_amount],
[004coinsurance_amount], [005contract_amount],
[006copay_amount], [007deductible_amount],
[008eligible_units], [009eligible_visits],
[010ffs_equivalent_amount],
[011ineligible_amount],
[012missing_authorization_penalty_amount],
[013mips_negative_adjustment_amount],
[014mips_positive_adjustment_amount],
[015sequestration_adjustment_amount],
[016exceeds_billed_amount],
[017pre_existing_condition_penalty_amount],
[018provider_discount],
[019supp_plan_covered_amount],
[020withhold_amount],
[021write_off_amount],
[022code_depreciation_rank],
[023cob_payment_excess_amount],
[024exceeds_contract_amount],
[025provider_responsibility_amount]
) ) AS s
UNPIVOT 	( adjudication_details_override_reason_id FOR adjudication_details_override_reason_key IN ( [001alternate_course_member_expense_adjudication_details_override_reason_id],
[002balance_billable_adjudication_details_override_reason_id],
[003benefit_limit_amount_adjudication_details_override_reason_id],
[004coinsurance_amount_adjudication_details_override_reason_id],
[005contract_amount_adjudication_details_override_reason_id],
[006copay_amount_adjudication_details_override_reason_id],
[007deductible_amount_adjudication_details_override_reason_id],
[008eligible_units_adjudication_details_override_reason_id],
[009eligible_visits_adjudication_details_override_reason_id],
[010ffs_equivalent_amount_adjudication_details_override_reason_id],
[011ineligible_amount_adjudication_details_override_reason_id],
[012missing_authorization_penalty_amount_adjudication_details_override_reason_id],
[013mips_negative_adjustment_amount_adjudication_details_override_reason_id],
[014mips_positive_adjustment_amount_adjudication_details_override_reason_id],
[015sequestration_adjustment_amount_adjudication_details_override_reason_id],
[016exceeds_billed_amount_adjudication_details_override_reason_id],
[017pre_existing_condition_penalty_amount_adjudication_details_override_reason_id],
[018provider_discount_adjudication_details_override_reason_id],
[019supp_plan_covered_amount_adjudication_details_override_reason_id],
[020withhold_amount_adjudication_details_override_reason_id],
[021write_off_amount_adjudication_details_override_reason_id],
[022code_depreciation_rank_adjudication_details_override_reason_id],
[023cob_payment_excess_amount_adjudication_details_override_reason_id],
[024exceeds_contract_amount_adjudication_details_override_reason_id],
[025provider_responsibility_amount_adjudication_details_override_reason_id]
) ) AS s2
WHERE    LEFT(golden_key, 3) = LEFT(adjudication_details_override_reason_key,
3)  -- For attributes sequenced with serialized numbers, so that the multiple unpivot results can be joined back together
)
SELECT  	--	DISTINCT
ROW_NUMBER() OVER ( ORDER BY amo.adjudication_result_amount_id, amo.golden_key ) AS adjudication_amount_override_id , -- AS original table name
--  amo.adjudication_result_amount_id AS adjudication_result_amount_id ,
aa_vw.adjudication_amount_id ,  -- simulate original table name
amo.amount ,
adjudication_details_override_reason_id ,
--SUBSTRING(adjudication_details_override_reason_key, 4,
--          LEN(adjudication_details_override_reason_key) - 3) AS adjudication_details_override_reason_key ,
--SUBSTRING(amo.golden_key, 4, LEN(amo.golden_key) - 3) AS golden_key ,
1 AS [active] ,
amo.created_user_name ,
NULL AS created_group_id ,
amo.created_date ,
amo.modified_user_name ,
amo.modified_date
FROM    cte_adjudication_amount_override amo
INNER JOIN vw_adjudication_amount aa_vw ON aa_vw.adjudication_result_amount_id = amo.adjudication_result_amount_id
AND SUBSTRING(amo.golden_key,
4,
LEN(amo.golden_key)
- 3) = aa_vw.ao_golden_key
--   --        left outer JOIN adjudication_object ao
--			--ON ao.golden_key= amo.golden_key
WHERE   amo.active = 1
AND amo.amount <> 0
--            AND adjudication_details_override_reason_id <> 0;
GO
