USE [qc_core]
GO
/****** Object:  View [dbo].[zbind_vw_failed_835]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[zbind_vw_failed_835] AS
Select distinct Batch_Record.batch_id
        , c.claim_ud
        , atap.accounting_transaction_ap_ud as Payment_ID
        , external_claim_number.additional_reference_number
        , Batch_Record.batch_created_date
        , cast(Batch_Record.message as nvarchar(max)) as Batch_Record_Message
from qc_core.dbo.claim c
    inner join accounting_transaction_ap_claim_detail ata_cd with(nolock)
        on c.claim_id = ata_cd.claim_id
    inner join qc_core.dbo.accounting_transaction_ap_apply_to ata_at with(nolock)
        on ata_cd.accounting_transaction_ap_id = ata_at.to_accounting_transaction_ap_id
    inner join qc_core.dbo.accounting_transaction_ap_payment_detail ata_pd with(nolock)
        on ata_pd.accounting_transaction_ap_id = ata_at.from_accounting_transaction_ap_id
    inner join qc_core.dbo.accounting_transaction_ap atap with(nolock)
        on ata_pd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
    outer apply ( Select top 1	b.batch_id
								, bt.batch_transaction_id
								, btm.message
								, b.created_date as batch_created_date
								, b.file_name
								, b.file_path
                    from qc_tpm.dbo.batch b  with(nolock)
                        inner join qc_tpm.dbo.batch_transaction bt with(nolock)
                            on bt.batch_id = b.batch_id
                        left join qc_tpm.dbo.batch_transaction_message btm with(nolock)
                            on bt.batch_transaction_id = btm.batch_transaction_id
						inner JOIN QC_TPM.dbo.agreement a 
						     on a.agreement_id = b.agreement_id
						 inner JOIN QC_TPM.dbo.agreement_type at 
						     on a.agreement_type_id = at.agreement_type_id
                    where bt.internal_identifier = cast(ata_pd.accounting_transaction_ap_id as nvarchar(max))
                        and a.document_exchange_type_id = 'X12835'
                    order by b.created_date desc
                    ) as Batch_Record
    outer apply (SELECT carn.claim_id, carn.additional_reference_number 
                FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
                    inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
                         on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
                WHERE carn.claim_id = c.claim_id
                    AND carnt.golden_key = 'D9') as external_claim_number
where Batch_Record.message is not null
	or Batch_Record.batch_id is null
	and atap.accounting_transaction_ap_ud not in ('Bind Benefits2018121200007','UH486 UnitedHealth Group, Inc.2019020800015','Bind Benefits2018091900001','Bind Benefits2018100100001','Bind Benefits2018092400001')
GO
