USE [qc_core]
GO
/****** Object:  View [dbo].[temp_claim_procedure]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    VIEW [dbo].[temp_claim_procedure] AS
SELECT [claim_procedure_id]
      ,[claim_id]
      ,[service_from_date]
      ,[service_thru_date]
      ,[place_of_service_id]
      ,[type_of_service_id]
      ,[procedure_code_2_id]
      ,[procedure_code_2_ud]
      ,[procedure_code_id]
      ,[procedure_code_ud]
      ,[modifiers]
      ,[diagnosis_code_ud]
      ,[diagnosis_sequence]
      ,[charge]
      ,[units]
      ,[unit_type_dental_claim_id]
      ,[visits]
      ,[cob]
      ,[early_periodic_screen]
      ,[emergency]
      ,[repricing_amount]
      ,[cob_amount]
      ,[add_cob_amount]
      ,[other_cob]
      ,[add_other_cob]
      ,[non_covered_charge]
      ,[alternate_procedure_code_id]
      ,[alternate_procedure_code_ud]
      ,[relative_value_units]
      ,[institutional_rate]
      ,[service_preauth]
      ,[tooth_system_id]
      ,[tooth_number_letter_id]
      ,[area_of_oral_cavity_id]
      ,[line_item_control_number]
      ,[ndc]
      ,[ndc_procedure_code_id]
      ,[ndc_unit_of_measure_id]
      ,[ndc_quantity]
      ,[comment]
      ,[unlisted_procedure_code_description]
      ,[local_use]
      ,[claim_line_sequence]
      ,[adjudication_generated_context_id]
      ,[is_system_generated]
      ,[is_negated]
      ,[negated_claim_procedure_id]
      ,[npi_provider_identifier_id]
      ,[adjudication_status_id]
      ,[claim_payment_process_status_id]
      ,[claim_payment_run_id]
      ,[hold]
      ,[npi_rendering_provider_identifier_ud]
      ,[rendering_provider_taxonomy_code]
      ,[other_rendering_provider_identifier_ud]
      ,[other_rendering_provider_identifier_type_ud]
      ,[clean_date]
      ,[received_date]
      ,[original_line_amount]
      ,[original_source_gk]
      ,[active]
      ,[created_user_name]
      ,[created_user_group]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      --,[object_row_version]
  FROM [dbo].[claim_procedure]
    where (created_date between '2026-05-08' and '2026-05-13'
    or modified_date between '2026-05-08' and '2026-05-13')

GO
