USE [qc_core]
GO
/****** Object:  View [dbo].[vw_member_name]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[vw_member_name]
AS

SELECT	 mn.member_id
,dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS member_name
,mn.name_last
,mn.name_first
,mn.name_middle
FROM	member_name mn
WHERE	mn.is_primary = 1
GO
