USE [qc_core]
GO
/****** Object:  View [dbo].[vw_task_type_process_lock_type]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_task_type_process_lock_type] WITH SCHEMABINDING
AS

SELECT
plt.process_lock_type_id
,plt.process_lock_type_ud
,plt.ui_engine_lookup_parameter_id
,plt.golden_key
,tt.task_type_id
,ISNULL(tt.task_type_ud, plt.process_lock_type_ud) as task_type_ud
FROM	dbo.process_lock_type plt
LEFT JOIN	dbo.task_type tt ON
(tt.golden_key = 'Adjudication Queue' AND plt.golden_key = 'ADJUDICATION_QUEUE')
OR (tt.golden_key = 'Capitation' AND plt.golden_key = 'CAPITATION')
--OR (tt.golden_key = '' AND plt.golden_key = 'CHANGE_LINE_STATUS')
OR (tt.golden_key = 'Claims Payment' AND plt.golden_key = 'CLAIMS_PAYMENT')
--OR (tt.golden_key = '' AND plt.golden_key = 'CLEAR_ADJUDICATION')
OR (tt.golden_key = 'Correspondence' AND plt.golden_key = 'CORRESPONDENCE')
OR (tt.golden_key = 'DP_CAPITATION' AND plt.golden_key = 'DP_CAPITATION')
OR (tt.golden_key = 'DP_CLAIMS_PAYMENT' AND plt.golden_key = 'DP_CLAIMS_PAYMENT')
OR (tt.golden_key = 'DP_CLIENT_FEES' AND plt.golden_key = 'DP_CLIENT_FEES')
OR (tt.golden_key = 'GRACE_PERIOD' AND plt.golden_key = 'GRACE_PERIOD')
OR (tt.golden_key = 'IP_CLIENT_FEES' AND plt.golden_key = 'IP_CLIENT_FEES')
OR (tt.golden_key = 'IP_CLIENT_FEES' AND plt.golden_key = 'IP_PREMIUM_BILLING')
--OR (tt.golden_key = '' AND plt.golden_key = 'NEGATE_CLAIM')
OR (tt.golden_key = 'PAYMENT_PENALTY' AND plt.golden_key = 'PAYMENT_PENALTY')
OR (tt.golden_key = 'PREMIUM_CALCULATION' AND plt.golden_key = 'PREMIUM_CALCULATION')
OR (tt.golden_key = 'TAP_CAPITATION' AND plt.golden_key = 'TAP_CAPITATION')
OR (tt.golden_key = 'TAP Claims Payment' AND plt.golden_key = 'TAP_CLAIMS_PAYMENT')
OR (tt.golden_key = 'TAP Premium Billing' AND plt.golden_key = 'TAP_PREMIUM_BILLING')
OR (TT.golden_key= 'Adjudication' AND plt.golden_key = 'ADJUDICATION_CLAIM') --ADDED FOR RT6268
GO
