USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_adjudication_result]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[bind_vw_claim_adjudication_result]
AS
SELECT *
from qc_History.dbo.claim_adjudication_result

GO
