USE [qc_core]
GO
/****** Object:  View [dbo].[vw_provider_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_provider_auto_note]
WITH SCHEMABINDING
AS
SELECT dbo.provider.provider_id,
dbo.call_share_group.call_share_group_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM dbo.provider
LEFT JOIN dbo.provider_call_share_group ON dbo.provider.provider_id = dbo.provider_call_share_group.provider_id
LEFT JOIN dbo.call_share_group ON dbo.provider_call_share_group.call_share_group_id = dbo.call_share_group.call_share_group_id
LEFT JOIN dbo.claim ON dbo.provider.provider_id = dbo.claim.provider_id
OR dbo.provider.provider_id = dbo.claim.billing_provider_id
OR dbo.provider.provider_id = dbo.claim.referring_provider_id
LEFT JOIN dbo.episode ON dbo.claim.episode_id = dbo.episode.episode_id
LEFT JOIN dbo.referral ON dbo.provider.provider_id = dbo.referral.referring_provider_id
UNION
SELECT dbo.provider.provider_id,
dbo.call_share_group.call_share_group_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM dbo.provider
LEFT JOIN dbo.provider_call_share_group ON dbo.provider.provider_id = dbo.provider_call_share_group.provider_id
LEFT JOIN dbo.call_share_group ON dbo.provider_call_share_group.call_share_group_id = dbo.call_share_group.call_share_group_id
LEFT JOIN dbo.provider_identifier ON provider.provider_id = dbo.provider_identifier.provider_id
INNER JOIN dbo.institutional_claim_other_provider ON dbo.provider_identifier.provider_identifier_id = dbo.institutional_claim_other_provider.provider_identifier_id
INNER JOIN dbo.institutional_claim_other_provider_type ON dbo.institutional_claim_other_provider.institutional_claim_other_provider_type_id = dbo.institutional_claim_other_provider_type.institutional_claim_other_provider_type_id
INNER JOIN dbo.institutional_claim ON dbo.institutional_claim_other_provider.institutional_claim_id = dbo.institutional_claim.institutional_claim_id
INNER JOIN dbo.claim ON dbo.institutional_claim.claim_id = dbo.claim.claim_id
LEFT JOIN dbo.episode ON dbo.claim.episode_id = dbo.episode.episode_id
LEFT JOIN dbo.referral ON dbo.provider.provider_id = dbo.referral.referring_provider_id
WHERE(dbo.institutional_claim_other_provider_type.golden_key = 'RENDERING'
OR dbo.institutional_claim_other_provider_type.golden_key = 'REFERRING')
UNION
SELECT dbo.provider.provider_id,
dbo.call_share_group.call_share_group_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM dbo.provider
LEFT JOIN dbo.referral_provider ON dbo.provider.provider_id = dbo.referral_provider.provider_id
LEFT JOIN dbo.referral ON dbo.referral_provider.referral_id = dbo.referral.referral_id
LEFT JOIN dbo.provider_call_share_group ON dbo.provider.provider_id = dbo.provider_call_share_group.provider_id
LEFT JOIN dbo.call_share_group ON dbo.provider_call_share_group.call_share_group_id = dbo.call_share_group.call_share_group_id
LEFT JOIN dbo.claim ON dbo.provider.provider_id = dbo.claim.provider_id
LEFT JOIN dbo.episode ON dbo.claim.episode_id = dbo.episode.episode_id
UNION
SELECT dbo.provider.provider_id,
dbo.call_share_group.call_share_group_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM dbo.provider
LEFT JOIN dbo.provider_call_share_group ON dbo.provider.provider_id = dbo.provider_call_share_group.provider_id
LEFT JOIN dbo.call_share_group ON dbo.provider_call_share_group.call_share_group_id = dbo.call_share_group.call_share_group_id
LEFT JOIN dbo.claim ON dbo.provider.provider_id = dbo.claim.provider_id
LEFT JOIN dbo.referral ON dbo.provider.provider_id = dbo.referral.referring_provider_id
LEFT JOIN dbo.referral_provider ON dbo.provider.provider_id = dbo.referral_provider.provider_id
LEFT JOIN dbo.referral AS referral_1 ON dbo.referral_provider.referral_id = referral_1.referral_id
LEFT JOIN dbo.episode_referral_authorization ON referral_1.referral_id = dbo.episode_referral_authorization.referral_id
LEFT JOIN dbo.episode ON dbo.episode_referral_authorization.episode_id = dbo.episode.episode_id;
GO
