USE [qc_core]
GO
/****** Object:  View [dbo].[vw_dx_treatment_type_coverage]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION HISTORY:

DATE		AUTHOR		VERSION	COMMENT
10/15/2013	eponomareff	Added Diagnosis Code Version to view for ICD version

CURRENT_VERSION: 1.1
--
DESCRIPTION:

USED BY ADJUDICATION ONLY
Used by [plx_dto_treatment_type_coverage_matching_by_benefit_functional_area]

Flattens out Treatment Types - Diagnosis Code Groups

10/15/2013 - eponomareff
A concern with this view:
-	begining/ending dates on diagnosis codes are relevant to resolution of inclusion/exclusion
[as in defect RT:4736]
--
HEADER_END;
******************************/


Create View [dbo].[vw_dx_treatment_type_coverage]

As

Select
tt.treatment_type_id,
tt.treatment_type_ud,

-- Assignment of code group to treatment type.
ttdcg.effective_from as 'ttdcg_effective_from',
ttdcg.effective_thru as 'ttdcg_effective_thru',

-- Assignment of procedure code to procedure code group.
dcgdc.effective_from as 'dcgdc_effective_from',
dcgdc.effective_thru as 'dcgdc_effective_thru',
dcgdc.is_excluded,

-- Diagnosis ICD Version
dcgdc.diagnosis_code_version_id as 'diagnosis_code_version_id',

-- Diagnosis code data for starting of range assigned to the group.
dcbegin.diagnosis_code_ud as 'begin_diagnosis_code_ud',
dcbegin.effective_from as 'begin_effective_from',
dcbegin.effective_thru as 'begin_effective_thru',

-- Diagnosis code data for ending of range assigned to the group.
dcend.diagnosis_code_ud as 'end_diagnosis_code_ud',
dcend.effective_from as 'end_effective_from',
dcend.effective_thru as 'end_effective_thru'

From
treatment_type tt
Inner Join treatment_type_diagnosis_code_group ttdcg
On ttdcg.treatment_type_id = tt.treatment_type_id
Inner Join diagnosis_code_group dcg
On ttdcg.diagnosis_code_group_id = dcg.diagnosis_code_group_id
Inner Join diagnosis_code_group_diagnosis_code dcgdc
On dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
Inner Join diagnosis_code dcbegin
On dcgdc.beginning_diagnosis_code_id = dcbegin.diagnosis_code_id
Inner Join diagnosis_code dcend
On dcgdc.ending_diagnosis_code_id = dcend.diagnosis_code_id
GO
