USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_unbalanced_claims]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[bind_vw_unbalanced_claims] AS
WITH
  accum_details AS (
    SELECT
        aa.claim_procedure_id,
        aa.amount,
        ac.accumulator_class_ud
    FROM
        qc_core.dbo.adjudication_accumulator AS aa
    LEFT JOIN qc_core.dbo.accumulator_framework_accumulator_class_accumulator AS afaca
        ON aa.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
    LEFT JOIN qc_core.dbo.accumulator AS a
        ON a.accumulator_id = afaca.accumulator_id
    LEFT JOIN qc_core.dbo.accumulator_framework_accumulator_class AS afac
        ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
    LEFT JOIN qc_core.dbo.accumulator_class AS ac
        ON ac.accumulator_class_id = afac.accumulator_class_id
    WHERE
        ac.accumulator_class_ud = 'Maximum Out of Pocket'
),
result_codes AS (
    SELECT
        c.claim_id,
        rc.result_code_ud
    FROM
        qc_core.dbo.claim AS c
    LEFT JOIN qc_core.dbo.claim_procedure AS cp
        ON cp.claim_id = c.claim_id
    LEFT JOIN qc_core.dbo.adjudication_result_code AS arc
        ON cp.claim_procedure_id = arc.claim_procedure_id
        AND arc.claim_procedure_id IS NOT NULL
    LEFT JOIN qc_core.dbo.result_code AS rc
        ON arc.result_code_id = rc.result_code_id
    WHERE
        rc.result_code_ud = 'QC4520'
),
claim AS (
    SELECT
        c.claim_id,
        c.claim_ud,
        c.modified_user_name,
        cp.claim_line_sequence,
        cp.charge,
        cp.cob_amount,
        cp.claim_procedure_id,
        cp.adjudication_status_id,
        ads.adjudication_status_ud,
        ats.accounting_transaction_status_ud,
        line_ads.adjudication_status_ud AS line_ads_adjudication_status_ud,
        arao.adjudication_result_amount_override_id,
        ara.claim_procedure_id AS ara_claim_procedure_id,
        ara.contract_amount AS repriced_amount,
        arao.contract_amount AS override_repriced_amount,
        ara.copay_amount,
        arao.copay_amount AS override_copay,
        ara.write_off_amount,
        arao.write_off_amount AS override_write_off_amount,
        ara.ineligible_amount,
        arao.ineligible_amount AS override_ineligible_amount,
        ara.exceeds_contract_amount,
        arao.exceeds_contract_amount AS override_exceeds_contract_amount,
        ara.exceeds_billed_amount,
        arao.exceeds_billed_amount AS override_exceeds_billed_amount,
        ara.total_member_responsibility,
        COALESCE(ara.cob_payment_excess_amount, 0) AS cob_payment_excess_amount,
        ara.net_payment,
        ara.coinsurance_amount,
        arao.coinsurance_amount AS override_coinsurance_amount
    FROM
        qc_core.dbo.claim AS c
    INNER JOIN qc_core.dbo.claim_procedure AS cp
        ON c.claim_id = cp.claim_id
    LEFT JOIN qc_core.dbo.adjudication_status AS ads
        ON c.adjudication_status_id = ads.adjudication_status_id
    LEFT JOIN qc_core.dbo.accounting_transaction_ap_claim_detail AS acd
        ON acd.claim_procedure_id = cp.claim_procedure_id
    LEFT JOIN qc_core.dbo.accounting_transaction_ap AS atp
        ON atp.accounting_transaction_ap_id = acd.accounting_transaction_ap_id
    LEFT JOIN qc_core.dbo.accounting_transaction_status AS ats
        ON ats.accounting_transaction_status_id = atp.accounting_transaction_status_id
    LEFT JOIN qc_core.dbo.adjudication_status AS line_ads
        ON line_ads.adjudication_status_id = cp.adjudication_status_id
    INNER JOIN qc_core.dbo.adjudication_result_amount AS ara
        ON ara.claim_procedure_id = cp.claim_procedure_id
    LEFT JOIN qc_core.dbo.adjudication_result_amount_override AS arao
        ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id
    WHERE
        ads.adjudication_status_ud = 'Approved'
        AND (
            ats.accounting_transaction_status_ud NOT IN ('Hold', 'Paid')
            OR ats.accounting_transaction_status_ud IS NULL
        )
)
SELECT DISTINCT
    c.claim_id AS internal_claim_id,
    c.claim_ud as claim_ud,
    c.modified_user_name,
    c.adjudication_status_ud,
    c.line_ads_adjudication_status_ud AS claim_line_adjudication_status,
    c.accounting_transaction_status_ud,
    c.claim_line_sequence,
    c.adjudication_result_amount_override_id,
    c.ara_claim_procedure_id AS claim_procedure_id,
    c.charge,
    c.cob_amount,
    c.repriced_amount,
    c.override_repriced_amount,
    c.copay_amount,
    c.override_copay,
    c.write_off_amount,
    c.override_write_off_amount,
    c.ineligible_amount,
    c.override_ineligible_amount,
    c.exceeds_contract_amount,
    c.override_exceeds_contract_amount,
    c.exceeds_billed_amount,
    c.override_exceeds_billed_amount,
    c.total_member_responsibility,
    c.cob_payment_excess_amount,
    c.net_payment,
    COALESCE(ad.amount, 0) AS accumulator_amount,
    CASE
        WHEN ((c.total_member_responsibility + c.net_payment + COALESCE(c.override_write_off_amount, c.write_off_amount) + c.cob_amount - COALESCE(c.cob_payment_excess_amount, 0)) <> c.charge) THEN 'unbalanced_adjudication_amounts'
        WHEN (COALESCE(c.override_copay, c.copay_amount) <> COALESCE(ad.amount, 0)) THEN 'unbalanced_accumulator_amounts'
        WHEN (c.cob_amount > 0 AND c.line_ads_adjudication_status_ud = 'Denied') THEN 'unbalanced_cob_amount'
        WHEN (c.adjudication_status_ud = 'Approved' AND c.override_write_off_amount = c.charge AND c.net_payment > 0) THEN 'unbalanced_write_off'
        WHEN (c.line_ads_adjudication_status_ud = 'Denied' AND c.repriced_amount > c.charge AND c.charge > 0 AND c.charge <> c.override_write_off_amount) THEN 'unbalanced_repriced_amount'
        WHEN (c.line_ads_adjudication_status_ud = 'Denied' AND c.override_ineligible_amount > c.net_payment AND c.net_payment > 0) THEN 'unbalanced_payment'
        WHEN (c.line_ads_adjudication_status_ud = 'Denied' AND c.override_write_off_amount > c.net_payment AND c.net_payment > 0) THEN 'unbalanced_payment'
        WHEN (rc.result_code_ud = 'QC4520') THEN 'QC4520'
        WHEN (c.repriced_amount = 99999999.99) THEN 'Unbalanced_contract_amount'
        WHEN (c.override_coinsurance_amount > 0 OR c.coinsurance_amount > 0) THEN 'unbalanced_coinsurance_amount'
        WHEN (c.override_exceeds_contract_amount IS NOT NULL OR c.override_exceeds_billed_amount IS NOT NULL) THEN 'exceeds_contract/billed amount'
        WHEN (c.cob_payment_excess_amount > 0) THEN 'cob_payment_excess_amount_unbalanced'
        WHEN (c.override_repriced_amount = 0 AND c.override_write_off_amount = 0) THEN 'unbalanced_overridden_contracted_and_write_off'
        WHEN (c.cob_amount > 0 AND c.line_ads_adjudication_status_ud = 'Denied') THEN 'cob_amount_unbalanced'
        ELSE 'balanced'
    END AS unbalanced_flag
FROM
    claim AS c
LEFT JOIN accum_details AS ad
    ON ad.claim_procedure_id = c.claim_procedure_id
LEFT JOIN result_codes AS rc
    ON rc.claim_id = c.claim_id
WHERE
    (
        (c.total_member_responsibility + c.net_payment + COALESCE(c.override_write_off_amount, c.write_off_amount) + c.cob_amount - COALESCE(c.cob_payment_excess_amount, 0)) <> c.charge
        OR COALESCE(c.override_copay, c.copay_amount) <> COALESCE(ad.amount, 0)
        OR (c.cob_amount > 0 AND c.line_ads_adjudication_status_ud = 'Denied')
        OR (c.adjudication_status_ud = 'Approved' AND c.override_write_off_amount = c.charge AND c.net_payment > 0)
        OR (c.line_ads_adjudication_status_ud = 'Denied' AND c.repriced_amount > c.charge AND c.charge > 0 AND c.charge <> c.override_write_off_amount)
        OR (c.line_ads_adjudication_status_ud = 'Denied' AND c.override_ineligible_amount > c.net_payment AND c.net_payment > 0)
        OR (c.line_ads_adjudication_status_ud = 'Denied' AND c.override_write_off_amount > c.net_payment AND c.net_payment > 0)
        OR rc.result_code_ud = 'QC4520'
        OR c.repriced_amount = 99999999.99
        OR (c.override_coinsurance_amount > 0 OR c.coinsurance_amount > 0)
        OR (c.override_exceeds_contract_amount IS NOT NULL OR c.override_exceeds_billed_amount IS NOT NULL)
        OR c.cob_payment_excess_amount > 0
        OR (c.override_repriced_amount = 0 AND c.override_write_off_amount = 0)
    );

GO
