USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_ACCUMULATOR_RULES]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_ACCUMULATOR_RULES] AS
WITH
  source_accumulator_info AS (
   SELECT DISTINCT
     la.linked_accumulator_id
   , la.linked_accumulator_ud
   , bp.benefit_plan_ud
   , bp.benefit_plan_id
   , lad.source_accumulator_framework_accumulator_class_accumulator_id
   FROM qc_core.dbo.linked_accumulator la with(nolock)
   INNER JOIN qc_core.dbo.benefit_contract bc with(nolock)
    ON la.linked_accumulator_id = bc.linked_accumulator_set_id
   INNER JOIN qc_core.dbo.benefit_contract_period bcp with(nolock)
    ON bcp.benefit_contract_id = bc.benefit_contract_id
   LEFT JOIN qc_core.dbo.benefit_contract_period_benefit_plan bcpbp with(nolock)
    ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
   LEFT JOIN qc_core.dbo.benefit_plan bp with(nolock)
    ON bp.benefit_plan_id = bcpbp.benefit_plan_id
   LEFT JOIN qc_core.dbo.benefit_plan_accumulator_framework bPaf with(nolock)
    ON bPaf.benefit_plan_id = bp.benefit_plan_id
   LEFT JOIN qc_core.dbo.benefit_contract_accumulator_framework bcaf with(nolock)
    ON bcaf.benefit_Contract_id = bc.benefit_contract_id
   LEFT JOIN qc_core.dbo.accumulator_framework af with(nolock)
      ON af.accumulator_framework_id = coalesce(bpaf.accumulator_framework_id,bcaf.accumulator_framework_id)
   INNER JOIN qc_core.dbo.accumulator_framework_accumulator_class afac with(nolock)
    ON afac.accumulator_framework_id = af.accumulator_framework_id
   INNER JOIN qc_core.dbo.accumulator_framework_accumulator_class_accumulator afaca with(nolock)
    ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
   INNER JOIN qc_core.dbo.accumulator_class ac with(nolock)
    ON ac.accumulator_class_id = afac.accumulator_class_id
   INNER JOIN qc_core.dbo.linked_accumulator_detail lad with(nolock)
    ON la.linked_accumulator_id = lad.linked_accumulator_id AND afaca.accumulator_framework_accumulator_class_accumulator_id = lad.source_accumulator_framework_accumulator_class_accumulator_id
   WHERE 1 = 1 
	AND bcp.effective_from > '2017-01-01'
		AND (bcp.effective_from <> bcp.effective_thru or bcp.effective_thru IS NULL)
) 
, target_accumulator_info AS (
   SELECT
     rank() OVER (PARTITION BY lad.linked_accumulator_id, lad.source_accumulator_framework_accumulator_class_accumulator_id, bp.benefit_plan_id ORDER BY lad.linked_accumulator_detail_id ASC, bp.benefit_plan_id ASC) target_accumulator_class_order
   , lad.linked_accumulator_id
   , lad.source_accumulator_framework_accumulator_class_accumulator_id
   , lad.target_accumulator_framework_accumulator_class_accumulator_id
   , lad.effective_from
   , lad.effective_thru
   , bp.benefit_plan_id
   , afac.accumulator_framework_accumulator_class_id
   , afaca.accumulator_framework_accumulator_class_accumulator_ud
   FROM qc_core.dbo.linked_accumulator l with(nolock)
   INNER JOIN qc_core.dbo.benefit_contract bc with(nolock)
	ON l.linked_accumulator_id = bc.linked_accumulator_set_id
   INNER JOIN qc_core.dbo.benefit_contract_period bcp with(nolock)
	ON bcp.benefit_contract_id = bc.benefit_contract_id
   LEFT JOIN qc_core.dbo.benefit_contract_period_benefit_plan bcpbp with(nolock)
	ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
   LEFT JOIN qc_core.dbo.benefit_plan bp with(nolock)
	ON bp.benefit_plan_id = bcpbp.benefit_plan_id
   LEFT JOIN qc_core.dbo.benefit_plan_accumulator_framework bPaf with(nolock)
	ON bPaf.benefit_plan_id = bp.benefit_plan_id
   LEFT JOIN qc_core.dbo.benefit_contract_accumulator_framework bcaf with(nolock)
	ON bcaf.benefit_Contract_id = bc.benefit_contract_id
   INNER JOIN qc_core.dbo.accumulator_framework af with(nolock)
	ON af.accumulator_framework_id = coalesce(bpaf.accumulator_framework_id,bcaf.accumulator_framework_id)
   INNER JOIN qc_core.dbo.accumulator_framework_accumulator_class afac with(nolock)
	ON afac.accumulator_framework_id = af.accumulator_framework_id
   INNER JOIN qc_core.dbo.accumulator_framework_accumulator_class_accumulator afaca with(nolock)
	ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
   INNER JOIN qc_core.dbo.linked_accumulator_detail lad with(nolock)
	ON l.linked_accumulator_id = lad.linked_accumulator_id
		AND afaca.accumulator_framework_accumulator_class_accumulator_id = lad.target_accumulator_framework_accumulator_class_accumulator_id
   WHERE 1 = 1 
	AND bcp.effective_from > '2017-01-01'
		AND (bcp.effective_from <> bcp.effective_thru OR bcp.effective_thru IS NULL)
) 
SELECT
  bc.benefit_contract_nm
, bc.benefit_contract_ud
, bc.effective_thru
, bp.benefit_plan_ud
, CAST(dateadd(hour, 6, bcp.effective_from) AS date) effective_from_date
, CAST(dateadd(hour, 6, bcp.effective_thru) AS date) effective_thru_date
, af.accumulator_framework_ud
, af.accumulator_framework_nm
, ac.accumulator_class_ud
, afaca.accumulator_framework_accumulator_class_accumulator_ud
, afaca.accumulator_framework_accumulator_class_accumulator_id
, a.accumulator_ud
, (CASE WHEN alr.individual_accumulator_choice_list_id IS NULL AND alr.individual_value IS NOT NULL THEN alr.individual_value
	ELSE NULL 
		END )AS individual_value
, avc.valid_choice INDIVIDUAL_LIMIT
, AVC2.valid_choice FAMILY_LIMIT
, (CASE WHEN (accumulator_ud = 'Calendar Year') THEN concat(substring(CAST(year(CAST(dateadd(hour, 6, bcp.effective_from) AS date)) AS varchar), 1, 4), '-01-01') WHEN (accumulator_ud = 'Lifetime_rollover') THEN '2018-01-01' ELSE substring(CAST(CAST(dateadd(HOUR, 6, bcp.effective_from) AS date) AS varchar), 1, 10) END) accumulator_effective_date
, (CASE WHEN (accumulator_ud = 'Calendar Year') THEN concat(substring(CAST(year(CAST(dateadd(hour, 6, bcp.effective_from) AS date)) AS varchar), 1, 4), '-12-31') WHEN (accumulator_ud = 'Lifetime_rollover') THEN '2999-01-01' ELSE substring(CAST(CAST(dateadd(HOUR, 6, bcp.effective_thru) AS date) AS varchar), 1, 10) END) accumulator_term_date
, sai.linked_accumulator_ud
, tai.accumulator_framework_accumulator_class_accumulator_ud target_afaca_ud_1
, tai2.accumulator_framework_accumulator_class_accumulator_ud target_afaca_ud_2
, tai3.accumulator_framework_accumulator_class_accumulator_ud target_afaca_ud_3
FROM
qc_core.dbo.benefit_contract bc with(nolock)
LEFT JOIN qc_core.dbo.benefit_contract_period bcp with(nolock)
	ON bcp.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN qc_core.dbo.benefit_contract_period_benefit_plan bcpbp with(nolock)
	ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN qc_core.dbo.benefit_plan bp with(nolock)
	ON bp.benefit_plan_id = bcpbp.benefit_plan_id
LEFT JOIN qc_core.dbo.benefit_plan_accumulator_framework bPaf with(nolock)
	ON bPaf.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN qc_core.dbo.benefit_contract_accumulator_framework bcaf with(nolock)
	ON bcaf.benefit_Contract_id = bc.benefit_contract_id
LEFT JOIN qc_core.dbo.accumulator_framework af with(nolock)
	ON af.accumulator_framework_id = coalesce(bpaf.accumulator_framework_id, bcaf.accumulator_framework_id)
LEFT JOIN qc_core.dbo.accumulator_framework_accumulator_class afac with(nolock)
	ON afac.accumulator_framework_id = af.accumulator_framework_id
LEFT JOIN qc_core.dbo.accumulator_framework_accumulator_class_accumulator afaca with(nolock)
	ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
LEFT JOIN qc_core.dbo.accumulator a with(nolock)
	ON a.accumulator_id = afaca.accumulator_id
LEFT JOIN qc_core.dbo.accumulator_class ac with(nolock)
	ON ac.accumulator_class_id = afac.accumulator_class_id
LEFT JOIN qc_core.dbo.accumulator_limit_rule alr with(nolock)
	ON alr.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id 
		AND alr.individual_accumulator_limit_rule_value_type_id IS NOT NULL
LEFT JOIN qc_core.dbo.benefit_plan_accumulator_class_choice_resolution bpACCR with(nolock)
	ON BPACCR.benefit_plan_id = bp.benefit_plan_id 
		AND bpaccr.individual_accumulator_valid_choice_id IS NOT NULL 
			AND alr.accumulator_limit_rule_id = bpaccr.accumulator_limit_rule_id
LEFT JOIN qc_core.dbo.benefit_contract_period_benefit_plan_accumulator_class_choice_resolution caccr with(nolock)
	ON caccr.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id 
		AND caccr.individual_accumulator_valid_choice_id IS NOT NULL 
			AND bpaccr.accumulator_limit_rule_id IS NULL 
				AND caccr.accumulator_limit_rule_id = alr.accumulator_limit_rule_id
LEFT JOIN qc_core.dbo.benefit_contract_accumulator_class_choice_resolution bcaccr with(nolock)
	ON bcaccr.benefit_contract_id = bc.benefit_contract_id 
		AND bcaccr.individual_accumulator_valid_choice_id IS NOT NULL 
			AND caccr.accumulator_limit_rule_id IS NULL AND bpaccr.accumulator_limit_rule_id IS NULL 
				AND bcaccr.accumulator_limit_rule_id = alr.accumulator_limit_rule_id
LEFT JOIN qc_core.dbo.accumulator_valid_choice avc with(nolock)
	ON avc.accumulator_valid_choice_id = coalesce(bpaccr.individual_accumulator_valid_choice_id, caccr.individual_accumulator_valid_choice_id, bcaccr.individual_accumulator_valid_choice_id)
LEFT JOIN qc_core.dbo.accumulator_valid_choice avc2 with(nolock)
	ON avc2.accumulator_valid_choice_id = coalesce(bpaccr.family_accumulator_valid_choice_id,CACCR.family_accumulator_valid_choice_id,bcaccr.family_accumulator_valid_choice_id)
left join source_accumulator_info sai with(nolock)
	on (bc.linked_accumulator_set_id = sai.linked_accumulator_id 
		and sai.source_accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
		and sai.benefit_plan_ud = bp.benefit_plan_ud)
left join target_accumulator_info tai with(nolock)
	on (tai.linked_accumulator_id = sai.linked_accumulator_id
		and tai.source_accumulator_framework_accumulator_class_accumulator_id = sai.source_accumulator_framework_accumulator_class_accumulator_id
			and tai.benefit_plan_id = sai.benefit_plan_id 
				and tai.target_accumulator_class_order = 1)
left join target_accumulator_info tai2 with(nolock)
	on (tai2.linked_accumulator_id = sai.linked_accumulator_id
		and tai2.source_accumulator_framework_accumulator_class_accumulator_id = sai.source_accumulator_framework_accumulator_class_accumulator_id
			and tai2.benefit_plan_id = sai.benefit_plan_id 
				and tai2.target_accumulator_class_order = 2)
left join target_accumulator_info tai3 with(nolock)
	on (tai3.linked_accumulator_id = sai.linked_accumulator_id 
		and tai3.source_accumulator_framework_accumulator_class_accumulator_id = sai.source_accumulator_framework_accumulator_class_accumulator_id
			and tai3.benefit_plan_id = sai.benefit_plan_id 
				and tai3.target_accumulator_class_order = 3)
WHERE 1 = 1 
AND (bcp.effective_from > '2017-01-01')
AND (bcp.effective_from <> bcp.effective_thru OR bcp.effective_thru IS NULL)




GO
