USE [qc_core]
GO
/****** Object:  View [dbo].[vw_user_friendly_control_captions_and_containers]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_user_friendly_control_captions_and_containers]
AS

SELECT
vuf.control_id
,vuf.control_name
,vuf.control_type
,vuf.user_visible_caption
,security_container_name =
CASE
--if no parent, use form name
WHEN ISNULL(vuf.control_parent_name,'') = '' THEN vuf.control_form_name
--if parent has a caption, use it
WHEN NOT (ISNULL(vuf2.user_visible_caption,'') = '') THEN vuf2.control_name
--if no grandparent, use form name
WHEN ISNULL(vuf2.control_parent_name,'')='' THEN vuf.control_form_name
--if grandparent has a caption, use it
WHEN NOT (ISNULL(vuf3.user_visible_caption,'') = '') THEN vuf3.control_name
--if no great-grandparent, use form name
WHEN ISNULL(vuf3.control_parent_name,'')='' THEN vuf.control_form_name
--if great-grandparent has a caption, use it
WHEN NOT (ISNULL(vuf4.user_visible_caption,'') = '') THEN vuf4.control_name
ELSE vuf.control_form_name
END
,security_container_control_id =
CASE
--if no parent, use form name
WHEN ISNULL(vuf.control_parent_name,'') = '' THEN NULL
--if parent has a caption, use it
WHEN NOT (ISNULL(vuf2.user_visible_caption,'') = '') THEN vuf2.control_id
--if no grandparent, use form name
WHEN ISNULL(vuf2.control_parent_name,'')='' THEN NULL
--if grandparent has a caption, use it
WHEN NOT (ISNULL(vuf3.user_visible_caption,'') = '') THEN vuf3.control_id
--if no great-grandparent, use form name
WHEN ISNULL(vuf3.control_parent_name,'')='' THEN NULL
--if great-grandparent has a caption, use it
WHEN NOT (ISNULL(vuf4.user_visible_caption,'') = '') THEN vuf4.control_id
ELSE 0
END
,security_container_control_type =
CASE
--if no parent, use form name
WHEN ISNULL(vuf.control_parent_name,'') = '' THEN 'Form'
--if parent has a caption, use it
WHEN NOT (ISNULL(vuf2.user_visible_caption,'') = '') THEN vuf2.control_type
--if no grandparent, use form name
WHEN ISNULL(vuf2.control_parent_name,'')='' THEN 'Form'
--if grandparent has a caption, use it
WHEN NOT (ISNULL(vuf3.user_visible_caption,'') = '') THEN vuf3.control_type
--if no great-grandparent, use form name
WHEN ISNULL(vuf3.control_parent_name,'')='' THEN 'Form'
--if great-grandparent has a caption, use it
WHEN NOT (ISNULL(vuf4.user_visible_caption,'') = '') THEN vuf4.control_type
ELSE 'Form'
END
,security_container_caption =
CASE
--if no parent, use form name
WHEN ISNULL(vuf.control_parent_name,'') = '' THEN sfptv.caption
--if parent has a caption, use it
WHEN NOT (ISNULL(vuf2.user_visible_caption,'') = '') THEN vuf2.user_visible_caption
--if no grandparent, use form name
WHEN ISNULL(vuf2.control_parent_name,'')='' THEN sfptv.caption
--if grandparent has a caption, use it
WHEN NOT (ISNULL(vuf3.user_visible_caption,'') = '') THEN vuf3.user_visible_caption
--if no great-grandparent, use form name
WHEN ISNULL(vuf3.control_parent_name,'')='' THEN sfptv.caption
--if great-grandparent has a caption, use it
WHEN NOT (ISNULL(vuf4.user_visible_caption,'') = '') THEN vuf4.user_visible_caption
ELSE sfptv.caption
END
,vuf.control_tab_index
,vuf.control_form_name

FROM vw_securable_child_controls vuf
INNER JOIN security_form_permission_tree_view sfptv
ON vuf.control_form_name = sfptv.form_name
--first parent level
LEFT OUTER JOIN
vw_securable_container_controls vuf2
ON ISNULL(vuf.control_parent_id,0) = vuf2.control_id
--second parent level
LEFT OUTER JOIN
vw_securable_container_controls vuf3
ON ISNULL(vuf2.control_parent_id,0) = vuf3.control_id
--third parent level
LEFT OUTER JOIN
vw_securable_container_controls vuf4
ON ISNULL(vuf3.control_parent_id, 0) = vuf4.control_id
GO
