USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_d9]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_claim_d9] AS
Select distinct c.claim_id
		, c.claim_ud
		, external_claim_number.additional_reference_number as d9_claim_id
		, c.created_date
from claim c 
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				 FROM claim_additional_reference_number carn
				 	inner join claim_additional_reference_number_type carnt
				 		on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'D9'
				) as external_claim_number
GO
