USE [qc_core]
GO
/****** Object:  View [dbo].[vw_securable_container_controls]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_securable_container_controls]
AS

SELECT
uec.ui_engine_control_id     AS control_id
,uec.name                    AS control_name
,uec.type                    AS control_type
,user_visible_caption =
REPLACE(uec.caption, '&', '')
,uec.tab_index              AS control_tab_index
,uec.form_name              AS control_form_name
,uec.parent_control_name    AS control_parent_name
,uec2.ui_engine_control_id  AS control_parent_id

FROM ui_engine_control uec
INNER JOIN security_form_permission_tree_view sfptv
ON uec.form_name = sfptv.form_name
LEFT OUTER JOIN ui_engine_control uec2
ON uec.form_name = uec2.form_name
AND uec.parent_control_name = uec2.name
WHERE uec.type in ('TabPage', 'GroupBox', 'Panel')
GO
