USE [qc_core]
GO
/****** Object:  View [dbo].[vw_current_provider_name]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_current_provider_name]
AS

SELECT	 pn.provider_id
,dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name
,pn.name_last as provider_name_last
,pn.name_first as provider_name_first
,pn.name_middle as provider_name_middle
FROM	provider_name pn
WHERE	pn.is_primary = 1
GO
