USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_service_date_mismatch]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE VIEW [dbo].[bind_vw_service_date_mismatch] AS

WITH qcMember AS (

    SELECT DISTINCT

        member_id,

        fembp.effective_from,

        fembp.effective_thru,

        MIN(fembp.effective_from) OVER (PARTITION BY member_id) AS minEffectiveDate,

        MAX(fembp.effective_thru) OVER (PARTITION BY member_id) AS maxEffectiveDate

    FROM qc_core.dbo.family_eligibility_member_benefit_plan fembp

    JOIN qc_core.dbo.family_eligibility_member fem

        ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id

    WHERE 1 = 1

        AND (fembp.effective_from < fembp.effective_thru OR fembp.effective_from = fembp.effective_thru)

)

SELECT DISTINCT

    c.claim_ud AS qc_claim_reference_number,

    a.adjudication_status_ud,

    fem.member_id AS claimMemberId,

    ic.statement_from_date,

    ic.statement_thru_date,

    qc.member_id AS qcMemberId,

    qc.effective_from,

    qc.effective_thru,

    qcm.minEffectiveDate,

    qcm.maxEffectiveDate,

    qcm.effective_from AS thruDateCoverageEffective,

    qcm.effective_thru AS thruDateCoverageThru

FROM qc_core.dbo.claim c

JOIN qc_core.dbo.institutional_claim ic

    ON c.claim_id = ic.claim_id

JOIN qc_core.dbo.adjudication_status a

    ON c.adjudication_status_id = a.adjudication_status_id

LEFT JOIN qc_core.dbo.family_eligibility_member_benefit_plan fembp

    ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id

LEFT OUTER JOIN qc_core.dbo.family_eligibility_member fem

    ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id

LEFT OUTER JOIN qcMember qc

    ON qc.member_id = fem.member_id

    AND ic.statement_from_date BETWEEN qc.effective_from AND qc.effective_thru

LEFT OUTER JOIN qcMember qcm

    ON qcm.member_id = fem.member_id

    AND ic.statement_thru_date BETWEEN qcm.effective_from AND qcm.effective_thru

WHERE 1 = 1

    AND a.adjudication_status_ud <> 'Closed'

    AND c.created_date > DATEADD(WEEK, -52, GETDATE())

    AND qc.member_id IS NULL

    AND qcm.member_id IS NOT NULL

    AND ic.statement_thru_date != ic.statement_from_date;
 
GO
