USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_835_payment]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE   VIEW [dbo].[bind_vw_835_payment] AS


select distinct  payment.accounting_transaction_ap_ud as qc_payment
				, que.disbursement_claim_payment_queue_ud as QC_Disbursement_Queue_Name
				, case 
					when que.disbursement_claim_payment_queue_ud = 'UMR Repricer' then 'uhc'
					when que.disbursement_claim_payment_queue_ud = 'Bind Direct Contracts' then 'echo'
				end as job_type
				, cast(payment_detail.check_date as date) as check_date
				, Batch_Record.file_name
				, Batch_Record.batch_id
				, Batch_Record.completed_successfully
from qc_core.dbo.accounting_transaction_ap_apply_to as atap_at with(nolock)
	INNER JOIN qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd with(nolock)
		on atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap payment with(nolock)
		on payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap applied_to with(nolock)
		on applied_to.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail with(nolock)
		on payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_source  with(nolock)
		on accounting_source.accounting_source_id = applied_to.accounting_source_id
	left JOIN qc_core.dbo.disbursement_claim_payment_queue que with(nolock)
		ON payment_detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
	left join accounting_transaction_ap_type as atap_type with(nolock)
		on applied_to.accounting_transaction_ap_type_id = atap_type.accounting_transaction_ap_type_id
	outer apply (Select top 1 b.batch_id
							, bt.batch_transaction_id
							, b.created_date as batch_created_date
							, b.file_name
							, b.file_path
							, bt.completed_successfully
							, bp.business_partner_ud as business_partner
				 from qc_tpm.dbo.batch b  with(nolock)
					inner join qc_tpm.dbo.batch_transaction bt with(nolock)
						on bt.batch_id = b.batch_id
					left join qc_tpm.dbo.batch_transaction_message btm with(nolock)
						on bt.batch_transaction_id = btm.batch_transaction_id
					inner JOIN QC_TPM.dbo.agreement a with(nolock)
						on a.agreement_id = b.agreement_id
					inner JOIN QC_TPM.dbo.agreement_type at with(nolock) 
						on a.agreement_type_id = at.agreement_type_id
					inner join qc_tpm.dbo.business_partner bp with(nolock)
						on a.business_partner_id = bp.business_partner_id
				 where bt.internal_identifier = cast(payment_detail.accounting_transaction_ap_id as nvarchar(max))
					and a.document_exchange_type_id = 'X12835'
				 order by bt.completed_successfully desc, b.created_date desc
				) as Batch_Record
WHERE accounting_source.golden_key = 'Claims'
	AND payment_detail.accounting_check_print_run_id IS NOT null-- don't include payments where a QC Check Number is null
	AND payment.void_date is null  --don't include QC Payments that have been voided. Note that this is different than a voided claim that would have a payment.
	and payment.accounting_transaction_ap_ud not in ('Bind Benefits2018121200007','UH486 UnitedHealth Group, Inc.2019020800015','Bind Benefits2018091900001','Bind Benefits2018100100001','Bind Benefits2018092400001','UH489 Specialized Bicycle2019021500002')

GO
