USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_Claims_by_file_and_Date]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[bind_vw_Claims_by_file_and_Date] AS
Select  b.file_name
		, cast(b.created_date as date) as import_date
		, external_claim_number.additional_reference_number 
		, c.claim_id as internal_claim_id
		, c.claim_ud
		, ads.adjudication_status_ud
		, c.repriced_network
		, pn.provider_network_nm as Current_Provider_Override
		, isnull(pn_fixed.provider_network_nm, 'No Match') as Matched_Provider_Override
		, vpt.vendor_pay_to_nm as Vendor_Override_Name
		, [dbo].[plx_ConcatenateAddress](vendor_address.address_1, vendor_address.address_2, vendor_address.delivery_route, vendor_address.locale_id) as Vendor_Address
from qc_tpm.dbo.batch b
	inner join qc_tpm.dbo.batch_transaction bt
		on b.batch_id = bt.batch_id
	Inner join qc_core.dbo.claim c 
		on bt.internal_identifier = c.claim_id
	inner join qc_core.dbo.adjudication_status ads 
		on c.adjudication_status_id = ads.adjudication_status_id
	inner join qc_tpm.dbo.agreement a 
		on b.agreement_id = a.agreement_id
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
					FROM claim_additional_reference_number carn
						inner join claim_additional_reference_number_type carnt
							 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					WHERE carn.claim_id = c.claim_id
						AND carnt.golden_key = 'D9') as external_claim_number
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
					FROM claim_additional_reference_number carn
						inner join claim_additional_reference_number_type carnt
							 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					WHERE carn.claim_id = c.claim_id
						AND carnt.golden_key = 'f8') as clearinghouse_claim_id
		left join provider_network pn
			on c.provider_network_id = pn.provider_network_id
		left join provider_network pn_fixed
			on CASE c.repriced_network
				WHEN 'UCP' THEN 'UMR In Network'
				WHEN 'UHC' THEN 'UMR In Network'
				WHEN 'SEL' THEN 'UMR In Network'
				WHEN 'MUL' THEN 'UMR Discounted Out of Network'
				WHEN 'NON' THEN 'UMR Out of Network'
				WHEN 'CMC' THEN 'UMR Discounted Out of Network'
				WHEN 'TC3' THEN 'UMR Discounted Out of Network'
				WHEN 'HSN' THEN 'UMR Discounted Out of Network'
				WHEN 'FNX' THEN 'UMR Discounted Out of Network'
				WHEN 'OON' THEN 'P1 Out of Network'
				WHEN 'INN' THEN 'P1 In Network'
				ELSE NULL
			END = pn_fixed.provider_network_ud
		left join vendor_pay_to vpt
			on c.vendor_id = vpt.vendor_id
		left join address as vendor_address
			on vpt.address_id = vendor_address.address_id 
where a.document_exchange_type_id in ('X12837P','X12837IA2')
GO
