USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claims_by_835]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[bind_vw_claims_by_835] AS


with claim_d9 as (
					SELECT carn.claim_id, carn.additional_reference_number 
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carnt.golden_key = 'D9'
					),
claim_clearinghouse as (
					SELECT carn.claim_id, carn.additional_reference_number  
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carnt.golden_key = 'F8'
)
select DISTINCT
		  payment.accounting_transaction_ap_ud as 'payment_id'
		, payment.accounting_transaction_ap_id as 'internal_payment_id'
		, c.claim_ud as qc_claim_number
		, c.claim_id as internal_claim_id
		, c_as.adjudication_status_ud as claim_status
		, cp.claim_procedure_id
		, cp.claim_line_sequence
		, isnull(cp.line_item_control_number, cp.claim_procedure_id) as line_item_control_number
		, cp_as.adjudication_status_ud as claim_line_status
		, isnull(external_claim_number.additional_reference_number, parent_d9.additional_reference_number) as d9
		, clearing_house_claim_id.additional_reference_number as clearing_house_claim_id
		, bp.benefit_plan_ud as employer_group_plan 
		, Batch_Record.batch_id
		, Batch_Record.batch_created_date
		, Batch_Record.file_name
		, case
			when Batch_Record.batch_id is not null and batch_record.completed_successfully = 1 then 'Success'
			else 'Fail'
		  end as [835_Status]
		, batch_record.business_partner
		, CASE atap_type.golden_key WHEN 'CREDIT' THEN atap_at.amount * -1  
			WHEN 'BILL'   THEN atap_at.amount  
		  END as amount 
		, cast(payment_detail.check_date as date) as 'QC_Check_Date'
		, payment.transaction_date
		, payment_detail.check_ach_reference as 'QC_Check_Number'
		, que.disbursement_claim_payment_queue_ud as 'QC_Disbursement_Queue_Name'
		, cii.patient_account_number as 'CLM01 for Professional EDI Claims'
		, ic.patient_control_number as 'CLM01 for Institutional EDI Claims'
		, v.vendor_ud
		, v.vendor_nm
		, v.vendor_id
		, federal_ein as vendor_tin 
		, c.repriced_network
		, c.provider_id as rendering_provider_id
		, isnull(rendering_provider_name.name_first,'') + ' ' + rendering_provider_name.name_last as rendering_provider_name
		, c.billing_provider_id 
		, isnull(billing_provider_name.name_first,'') + ' ' + billing_provider_name.name_last as billing_provider_name
		, fem.member_id as internal_member_id
		, c.family_eligibility_member_benefit_plan_id as claim_family_eligibility_member_benefit_plan_id
		, pos.place_of_service_nm
		, pos.place_of_service_ud
		, pos.description as place_of_service_description
from qc_core.dbo.accounting_transaction_ap_apply_to as atap_at with(nolock)
	INNER JOIN qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd with(nolock)
		on atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap payment with(nolock)
		on payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap applied_to with(nolock)
		on applied_to.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail with(nolock)
		on payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
	INNER JOIN qc_core.dbo.accounting_source  with(nolock)
		on accounting_source.accounting_source_id = applied_to.accounting_source_id
	left JOIN qc_core.dbo.disbursement_claim_payment_queue que with(nolock)
		ON payment_detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
	left join accounting_transaction_ap_type as atap_type with(nolock)
		on applied_to.accounting_transaction_ap_type_id = atap_type.accounting_transaction_ap_type_id
	--Getting the Vendor for the payment
	INNER JOIN qc_core.dbo.vendor v with(nolock)
		on v.vendor_id = payment.vendor_id
	--Getting information about the claim
	INNER JOIN qc_core.dbo.claim c with(nolock)
		ON atap_cd.claim_id = c.claim_id
	inner join adjudication_status c_as	with(nolock)				-- Getting the Claim's status			
		on c.adjudication_status_id = c_as.adjudication_status_id
	INNER JOIN qc_core.dbo.claim_procedure cp	with(nolock)		-- Getting the claim lines
		on c.claim_id = cp.claim_id 
	inner join adjudication_status cp_as	with(nolock)			-- Getting the Claim Lines' status
		on cp.adjudication_status_id = cp_as.adjudication_status_id
		and atap_cd.claim_procedure_id = cp.claim_procedure_id
	inner join adjudication_result_key ark with(nolock)				-- Using the adjudication result key to get the benefit plan so we can have the employer_group_plan of the Bind platform
		on cp.claim_procedure_id = ark.claim_procedure_id
	inner join benefit_plan bp with(nolock)
		on ark.benefit_plan_id = bp.benefit_plan_id
	inner join family_eligibility_member_benefit_plan fembp with(nolock)
		on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
	inner join family_eligibility_member fem with(nolock)
		on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
	-- Getting the D9 External Reference
	left join claim_d9 external_claim_number
		on c.claim_id = external_claim_number.claim_id
	-- Getting the Clearing house claim ID
	left join claim_clearinghouse clearing_house_claim_id
		on c.claim_id = clearing_house_claim_id.claim_id
	LEFT JOIN qc_core.dbo.claim_illness_injury cii with(nolock)		--join to table that holds the inbound CLM01 value for Professional EDI claims.
		ON c.claim_id = cii.claim_id
	Left JOIN qc_core.dbo.institutional_claim ic with(nolock)		--join to table that holds the inbound CLM01 value for Institutional EDI claims.
		ON c.claim_id = ic.claim_id
	outer apply (Select top 1 b.batch_id
							, bt.batch_transaction_id
							, b.created_date as batch_created_date
							, b.file_name
							, b.file_path
							, bt.completed_successfully
							, bp.business_partner_ud as business_partner
				 from qc_tpm.dbo.batch b  with(nolock)
					inner join qc_tpm.dbo.batch_transaction bt with(nolock)
						on bt.batch_id = b.batch_id
					left join qc_tpm.dbo.batch_transaction_message btm with(nolock)
						on bt.batch_transaction_id = btm.batch_transaction_id
					inner JOIN QC_TPM.dbo.agreement a with(nolock)
						on a.agreement_id = b.agreement_id
					inner JOIN QC_TPM.dbo.agreement_type at with(nolock) 
						on a.agreement_type_id = at.agreement_type_id
					inner join qc_tpm.dbo.business_partner bp with(nolock)
						on a.business_partner_id = bp.business_partner_id
				 where bt.internal_identifier = cast(payment_detail.accounting_transaction_ap_id as nvarchar(max))
					and a.document_exchange_type_id = 'X12835'
				 order by bt.completed_successfully desc, b.created_date desc
				) as Batch_Record
	left join provider_name as rendering_provider_name with(nolock)
		on c.provider_id = rendering_provider_name.provider_id
			and rendering_provider_name.is_primary = 1
	left join provider_name as billing_provider_name with(nolock)
		on c.billing_provider_id = billing_provider_name.provider_id
			and billing_provider_name.is_primary = 1
	left join linked_claim_information vc with(nolock)
		on c.claim_id = vc.claim_id
	left join claim parent_claim with(nolock)
		on vc.linked_claim_id = parent_claim.claim_id
	left join claim_d9 parent_d9
		on parent_claim.claim_id = parent_d9.claim_id
	left join place_of_service pos with(nolock)
		on cp.place_of_service_id = pos.place_of_service_id
WHERE accounting_source.golden_key = 'Claims'
	AND payment_detail.accounting_check_print_run_id IS NOT null-- don't include payments where a QC Check Number is null
	AND payment.void_date is null  --don't include QC Payments that have been voided. Note that this is different than a voided claim that would have a payment.
	and payment.accounting_transaction_ap_ud not in ('Bind Benefits2018121200007','UH486 UnitedHealth Group, Inc.2019020800015','Bind Benefits2018091900001','Bind Benefits2018100100001','Bind Benefits2018092400001','UH489 Specialized Bicycle2019021500002')

GO
