USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_smart_copays]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--bind_vw_smart_copays

CREATE VIEW [dbo].[bind_vw_smart_copays] AS

select	c.internal_claim_id,
		c.parent_claim_id,
		cp.claim_procedure_id,
		CAST(cp.claim_line_sequence as int) as claim_line_sequence,
		c.claim_ud,
		c.internal_member_id,
		external_claim_number.additional_reference_number as d9,
		clearing_house_claim_id.additional_reference_number as f8,
		cp.procedure_code_ud,
		cp.procedure_code_2_ud,
		cp.charge as billed_amount,
		cast(cp.repricing_amount as decimal(16,2)) as allowed_amount,
		cast(cpra.amount as decimal(16,2)) as paid_amount,
		cast(ara.copay_amount as decimal(16,2)) as default_copay_amount,
		cast(arao.copay_amount as decimal(16,2)) as override_copay_amount,
		CASE WHEN cast(arao.copay_amount as decimal(16,2)) is not null then  cast(arao.copay_amount as decimal(16,2)) else  cast(ara.copay_amount as decimal(16,2)) end as final_copay_amount,
		cast(cp.service_from_date as date) as service_from_date,
		cast(cp.service_thru_date as date) as service_thru_date,
		arao.copay_amount_adjudication_details_override_reason_id,
		copays.benefit_ud as copay_benefit,
		covered_benefits.benefit_ud as covered_benefit
		-- drag up treatment type for colonoscopy
		-- if paid date is needed,  grab from tpm schema
		-- claim level diagnosis codes,
		-- member id
from bind_vw_claims c 
	left join claim_procedure cp on cp.claim_id = c.internal_claim_id
	left join claim_payment_run_amount cpra on cpra.claim_id = c.internal_claim_id and cpra.claim_procedure_id = cp.claim_procedure_id
	left join adjudication_result_key ark on ark.claim_procedure_id = cp.claim_procedure_id
	left join adjudication_result_amount ara on ara.claim_procedure_id = cp.claim_procedure_id
	inner join adjudication_result_amount_override arao on ara.adjudication_result_amount_id = arao.adjudication_result_amount_id
	left join benefit AS copays on copays.benefit_id = ark.copay_benefit_id
	left join benefit AS covered_benefits on covered_benefits.benefit_id = ark.covered_benefit_id
	-- Getting the REF*D9
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.internal_claim_id
					AND carnt.golden_key = 'D9'
				) as external_claim_number
	-- Getting the Clearing house claim ID
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				 FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.internal_claim_id
					AND carnt.golden_key = 'F8'
				) as clearing_house_claim_id
where copays.benefit_ud in ('Physical Therapy Clinic - In',
							'Physical Therapy Clinic - Out',
							'Outpatient Therapy',
							'Outpatient Therapy - Multi Discipline',
							'Outpatient Therapy Clinic - In',
							'Outpatient Therapy Clinic - Out',
							'Outpatient Therapy OPH - In',
							'Outpatient Therapy OPH - Out',
							'Enhanced Radiology - Clinic In',
							'Enhanced Radiology - Clinic Out',
							'Enhanced Radiology - OPH In',
							'Enhanced Radiology - OPH Out',
							'Enhanced Radiology Clinic - In',
							'Enhanced Radiology Clinic - Out',
							'Enhanced Radiology OPH - In',
							'Enhanced Radiology OPH - Out'
							)
	or covered_benefits.benefit_ud in ('Labor and Delivery - Facil')
	or covered_benefits.benefit_id in (	select btts.benefit_id 
										from [dbo].[benefit_treatment_type_set] btts
											inner join [dbo].[treatment_type] tt on tt.treatment_type_id = btts.treatment_type_id 
											and tt.treatment_type_id = 415)

GO
