USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_adjudication_result_code_cte]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[bind_vw_adjudication_result_code_cte]
AS
SELECT *
FROM bind_vw_arc_temp
WHERE final_use_on_member_report = 1 OR final_use_on_provider_report = 1

GO
