USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_by_status]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  

CREATE VIEW [dbo].[bind_vw_claim_by_status] AS

select c.claim_id as internal_claim_id
		, c.claim_ud 
		, ads.adjudication_status_ud as claim_status
		, c.created_date as claim_created_date 
from claim c
	inner join adjudication_status ads
		on c.adjudication_status_id = ads.adjudication_status_id



GO
