USE [qc_core]
GO
/****** Object:  View [dbo].[vw_adjudication_amount_override_amounts]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_adjudication_amount_override_amounts]
AS
WITH    cte_adjudication_amount_override ( adjudication_result_amount_override_id,adjudication_result_amount_id, golden_key, amount, [active], created_date, created_user_name, modified_date, modified_user_name )
AS ( SELECT   adjudication_result_amount_override_id,
adjudication_result_amount_id ,
golden_key ,
amount ,
1 ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name
FROM     ( SELECT    adjudication_result_amount_override_id,
adjudication_result_amount_id ,
1 AS [active] ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name ,
ISNULL([alternate_course_member_expense],
-9999999) [alternate_course_member_expense] ,
ISNULL([balance_billable], -9999999) [balance_billable] ,
ISNULL([benefit_limit_amount], -9999999) [benefit_limit_amount] ,
ISNULL([cob_payment_excess_amount], -9999999) [cob_payment_excess_amount] ,
ISNULL([coinsurance_amount], -9999999) [coinsurance_amount] ,
ISNULL([contract_amount], -9999999) [contract_amount] ,
ISNULL([copay_amount], -9999999) [copay_amount] ,
ISNULL([deductible_amount], -9999999) [deductible_amount] ,
ISNULL([eligible_units], -9999999) [eligible_units] ,
ISNULL([eligible_visits], -9999999) [eligible_visits] ,
ISNULL([exceeds_contract_amount], -9999999) [exceeds_contract_amount] ,
ISNULL([ffs_equivalent_amount], -9999999) [ffs_equivalent_amount] ,
ISNULL([ineligible_amount], -9999999) [ineligible_amount] ,
ISNULL([missing_authorization_penalty_amount], -9999999) [missing_authorization_penalty_amount] ,
ISNULL([mips_negative_adjustment_amount], -9999999) [mips_negative_adjustment_amount] ,
ISNULL([mips_positive_adjustment_amount], -9999999) [mips_positive_adjustment_amount] ,
ISNULL([sequestration_adjustment_amount], -9999999) [sequestration_adjustment_amount] ,
ISNULL([exceeds_billed_amount], -9999999) [exceeds_billed_amount] ,
ISNULL([pre_existing_condition_penalty_amount], -9999999) [pre_existing_condition_penalty_amount] ,
ISNULL([provider_discount], -9999999) [provider_discount] ,
ISNULL([provider_responsibility_amount], -9999999) [provider_responsibility_amount] ,
ISNULL([supp_plan_covered_amount], -9999999) [supp_plan_covered_amount] ,
ISNULL([withhold_amount], -9999999) [withhold_amount] ,
ISNULL([write_off_amount], -9999999) [write_off_amount],
ISNULL([code_depreciation_rank], -9999999) [code_depreciation_rank]
FROM      adjudication_result_amount_override
) AS p UNPIVOT ( amount FOR golden_key IN -- place amount values in row by golden_key (which is the column name from adjudication_result_amount_override
( [alternate_course_member_expense],
[balance_billable], [benefit_limit_amount],
[cob_payment_excess_amount],
[coinsurance_amount], [contract_amount],
[copay_amount], [deductible_amount],
[eligible_units], [eligible_visits],
[exceeds_contract_amount],
[ffs_equivalent_amount],
[ineligible_amount],
[missing_authorization_penalty_amount],
[mips_negative_adjustment_amount],
[mips_positive_adjustment_amount],
[sequestration_adjustment_amount],
[exceeds_billed_amount],
[pre_existing_condition_penalty_amount],
[provider_discount],[provider_responsibility_amount],
[supp_plan_covered_amount],
[withhold_amount],
[write_off_amount],
[code_depreciation_rank] ) ) AS s
)
SELECT  adjudication_result_amount_override_id,
ROW_NUMBER() OVER ( ORDER BY amo.adjudication_result_amount_id, amo.golden_key ) AS adjudication_amount_override_id ,
amo.adjudication_result_amount_id AS adjudication_result_amount_id ,
amo.amount ,
1 AS [active] ,
amo.created_user_name ,
NULL AS created_group_id ,
amo.created_date ,
amo.modified_date
FROM    cte_adjudication_amount_override amo
WHERE   amo.active = 1
AND amo.amount <> -9999999;
GO
