USE [qc_core]
GO
/****** Object:  View [dbo].[adjudication_key]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[adjudication_key]
AS
SELECT  adjudication_key_id ,
claim_id,
claim_procedure_id ,
adjudication_object_id ,
object_record_id,
plan_level_id ,
plan_iteration_index ,
created_date
FROM    vw_adjudication_key;
GO
