USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_cob]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  

CREATE VIEW [dbo].[bind_vw_cob] AS
Select  cm.cob_member_id
		, cm.member_id as internal_member_id
		, cm.active
		, cm.created_date as cob_member_created_date
		, cm.modified_date as cob_member_modified_date
		, cm.created_user_name
        , cob_com.insurance_plan_name
		, com_bc.benefit_category_nm as insurance_plan_benefit_category_nm
		, com_bc.benefit_category_ud as insurance_plan_benefit_category_ud
		, cast(cob_com.effective_from as date) as insurance_plan_effective_from
		, cast(cob_com.effective_thru as date) as insurance_plan_effective_thru
		, cob_com.created_user_name as cob_insurance_plan_created_by
		, cob_com.created_date as cob_insurance_plan_created_date
		, cob_com.modified_user_name as cob_insurance_plan_modified_by
		, cob_com.modified_date as cob_insurance_plan_modified_date
        , gh.government_health_plan_ud as government_plan
		, gov_bc.benefit_category_nm as government_benefit_category_nm
		, gov_bc.benefit_category_ud as government_benefit_category_ud
		, cast(cob_gov.effective_from as date) as government_plan_effective_from
		, cast(cob_gov.effective_thru as date) as government_plan_effective_thru
		, cob_gov.created_user_name as cob_government_plan_created_by
		, cob_gov.created_date as cob_government_plan_created_date
		, cob_gov.modified_user_name as cob_government_plann_modified_by
		, cob_gov.modified_date as cob_government_plan_modified_date
from  cob_member cm
    left join cob_member_commercial_health_plan cob_com
        on cm.cob_member_id = cob_com.cob_member_id
	left join benefit_category com_bc
		on cob_com.benefit_category_id = com_bc.benefit_category_id
    left join cob_member_governmental_health_plan cob_gov
        on cm.cob_member_id = cob_gov.cob_member_id
    left join government_health_plan gh
        on cob_gov.government_health_plan_id = gh.government_health_plan_id
	left join benefit_category gov_bc
		on cob_gov.benefit_category_id = gov_bc.benefit_category_id


GO
