USE [qc_core]
GO
/****** Object:  View [dbo].[vw_vendor_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_vendor_auto_note]
AS
SELECT     dbo.vendor.vendor_id, dbo.claim.claim_id
FROM         dbo.vendor LEFT OUTER JOIN
dbo.claim ON dbo.vendor.vendor_id = dbo.claim.vendor_id
GO
