USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_details]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[bind_vw_claim_details] AS
Select distinct   cp.claim_id as internal_claim_id
				, cp.claim_procedure_id
				, cp.negated_claim_procedure_id
				, cp.claim_line_sequence
				, cp.charge
				, cp.repricing_amount
				, cp.cob_amount
				, case
					when len(cp.procedure_code_ud) = 4
					then cp.procedure_code_2_ud
					else cp.procedure_code_ud
                  end as procedure_code_ud
				, pc.description as procedure_code_description
                , case
                    when len(cp.procedure_code_ud) = 4
                     then cp.procedure_code_ud
                    else NULL
                  end as revenue_code_ud
                , rc.description as revenue_code_description
				, cp.modifiers
				, cp.place_of_service_id
				, pos.place_of_service_nm
				, pos.place_of_service_ud
				, pos.description as place_of_service_description
				, dbo.plx_fn_get_adjudication_amount_for_claim_procedure('COPAY_AMOUNT', cp.claim_procedure_id) AS copay_amount
				, cast(cp.service_from_date as date) as service_from_date
				, cast(cp.service_thru_date as date) as service_thru_date
				, cast(cp.received_date as date) as received_date
				, ads.adjudication_status_ud as claim_line_status
				, cpps.claim_payment_process_status_ud as claim_line_payment_status
				, ark_pn.provider_network_nm as auto_picked_provider_network
				, isnull(hist_car.original_sender, arc.created_user_name) as adjudication_user 
				, arko_pn.provider_network_nm as manual_provider_network_override
				, arko.created_user_name as override_user
				, bc.benefit_contract_nm
from claim_procedure cp with(nolock)
	left join adjudication_status ads with(nolock)
		on cp.adjudication_status_id = ads.adjudication_status_id
	left JOIN claim_payment_process_status cpps with(nolock)
		on cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
	outer apply (select top 1 *
				 from qc_history.DBO.claim_adjudication_result oa_hist_car with(nolock)
				 where cp.claim_id = oa_hist_car.claim_id
				 order by oa_hist_car.original_time_sent desc
				 ) as hist_car
	outer apply (select top 1 *
				 from adjudication_result_code oa_arc with(nolock)
				 where cp.claim_procedure_id = oa_arc.claim_procedure_id
					and oa_arc.claim_id = cp.claim_id
				 order by oa_arc.claim_procedure_id
				 ) as arc
	left join adjudication_result_key ark with(nolock)
		on cp.claim_procedure_id = ark.claim_procedure_id
	left join provider_network ark_pn with(nolock)
		on ark.provider_network_id = ark_pn.provider_network_id
	left join vendor ark_v with(nolock)
		on ark.vendor_id = ark_v.vendor_id
	left join adjudication_result_key_override arko with(nolock)
		on ark.adjudication_result_key_id = arko.adjudication_result_key_id
	left join provider_network arko_pn with(nolock)
		on arko.provider_network_id = arko_pn.provider_network_id
	left join place_of_service pos with(nolock)
		on cp.place_of_service_id = pos.place_of_service_id
	left join benefit_contract bc with(nolock)
		on ark.benefit_contract_id = bc.benefit_contract_id
	left join procedure_code pc with(nolock)
		on case
				when len(cp.procedure_code_ud) = 4
				then cp.procedure_code_2_id
				else cp.procedure_code_id
              end = pc.procedure_code_id
	left join procedure_code rc with(nolock)
		on case
				when len(cp.procedure_code_ud) = 4
				then cp.procedure_code_id
				else null
              end = rc.procedure_code_id




GO
