USE [qc_core]
GO
/****** Object:  View [dbo].[vw_withhold]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_withhold]
AS

-- Adjudication
SELECT
cp.service_from_date AS withhold_date
,cp.service_from_date AS period_from
,pro_id.provider_id
,pro_id.provider_ud
,pc.payment_contract_id
,pc.payment_contract_ud
,c.claim_id
,c.claim_ud
,NULL AS capitation_run_id
,NULL AS capitation_run_ud
,NULL AS capitation_manual_run_id
,NULL AS capitation_manual_run_ud
,NULL AS claim_procedure_id
,NULL AS capitation_calculation_id
,NULL AS capitation_manual_run_detail_id
,wa.withhold_account_id
,wa.withhold_account_ud
,ara.withhold_amount
FROM claim_procedure cp
--claim
INNER JOIN claim c
ON cp.claim_id = c.claim_id
INNER JOIN adjudication_result_key ark
ON cp.claim_procedure_id = ark.claim_procedure_id
INNER JOIN adjudication_result_amount ara
ON cp.claim_procedure_id = ara.adjudication_result_amount_id AND ark.plan_iteration_index = ara.plan_iteration_index
--provider
INNER JOIN provider_identifier pro_id
ON ark.provider_id = pro_id.provider_id
AND pro_id.use_as_default = 1
AND ISNULL(pro_id.effective_from, cp.service_from_date) <= cp.service_from_date
AND ISNULL(pro_id.effective_thru, cp.service_from_date) >= cp.service_from_date
--payment contract
INNER JOIN payment_contract pc
ON ark.payment_contract_id = pc.payment_contract_id
--withhold amount
--withhold account
INNER JOIN withhold_account wa
ON ark.withhold_account_id = wa.withhold_account_id
UNION
-- Capitation
SELECT
cc.coverage_period_from AS withhold_date
,cp.effective_from AS period_from
,cc.provider_id
,pro_id.provider_ud
,NULL AS payment_contract_id
,NULL AS payment_contract_ud
,NULL AS claim_id
,NULL AS claim_ud
,cr.capitation_run_id
,cr.capitation_run_ud
,NULL AS capitation_manual_run_id
,NULL AS capitation_manual_run_ud
,NULL AS claim_procedure_id
,cc.capitation_calculation_id
,NULL AS capitation_manual_run_detail_id
,wa.withhold_account_id
,wa.withhold_account_ud
,cc.withhold_amount
FROM capitation_calculation cc
INNER JOIN capitation_period cp
ON cc.capitation_period_id = cp.capitation_period_id
INNER JOIN capitation_run cr
ON cc.capitation_run_id = cr.capitation_run_id
INNER JOIN provider_identifier pro_id
ON cc.provider_id = pro_id.provider_id
AND pro_id.use_as_default = 1
AND ISNULL(pro_id.effective_from, cp.effective_from) <= cp.effective_from
AND ISNULL(pro_id.effective_thru, cp.effective_thru) >= cp.effective_from
INNER JOIN withhold_account wa
ON cc.withhold_account_id = wa.withhold_account_id
UNION
-- Manual Capitation
SELECT
cmrd.effective_from AS withhold_date
,cmrd.effective_from AS period_from
,pro_id.provider_id
,pro_id.provider_ud
,NULL AS payment_contract_id
,NULL AS payment_contract_ud
,NULL AS claim_id
,NULL AS claim_ud
,NULL as capitation_run_id
,NULL as capitation_run_ud
,cmr.capitation_manual_run_id
,cmr.capitation_manual_run_ud
,NULL AS claim_procedure_id
,NULL AS capitation_calculation_id
,cmrd.capitation_manual_run_detail_id
,wa.withhold_account_id
,wa.withhold_account_ud
,cmrd.withhold_amount
FROM capitation_manual_run_detail cmrd
INNER JOIN capitation_manual_run cmr
ON cmrd.capitation_manual_run_id = cmr.capitation_manual_run_id
INNER JOIN provider_identifier pro_id
ON cmrd.provider_identifier_id = pro_id.provider_identifier_id
INNER JOIN withhold_account wa
ON cmrd.withhold_account_id = wa.withhold_account_id
GO
