USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_tin_provider_billing_id_mismatch]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[bind_vw_tin_provider_billing_id_mismatch] AS
SELECT DISTINCT
    c.claim_ud,
    v.federal_ein AS FEINOnClaim,
    v2.federal_ein AS OriginalFEIN,
    c.received_date
FROM
    claim c
JOIN
    claim_procedure cp
    ON cp.claim_id = c.claim_id
JOIN
    claim_additional_reference_number r
    ON r.claim_id = c.claim_id
    AND r.claim_additional_reference_number_type_id = 7
JOIN
    bind_claim_vendor cv
    ON cv.d9_claim_id = r.additional_reference_number
JOIN
    vendor v
    ON v.vendor_id = c.vendor_id
JOIN
    vendor v2
    ON v2.vendor_id = cv.vendor_id
WHERE
    v.federal_ein != v2.federal_ein
    AND coalesce(c.repriced_network, '') != 'MED'
    and v.vendor_ud != 'CMS_0001'
    AND c.adjudication_status_id = 1 -- approved
    AND v.federal_ein != 'membervendor';

GO
