USE [qc_core]
GO
/****** Object:  View [dbo].[vw_adjudication_amount]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_adjudication_amount]
AS
WITH    cte_adjudication_amount ( adjudication_result_amount_id, claim_procedure_id, [amount], [plan_iteration_index], [active], created_date, created_user_name, golden_key )
AS ( SELECT   adjudication_result_amount_id ,
claim_procedure_id ,
CASE [amount] WHEN 'N' THEN NULL ELSE CAST([amount] AS NUMERIC(19,4)) END, --UNPIVOT does not add NULL values to the list of columns, so the varchar value of 'N' is used to distinquish null from zero values.
[plan_iteration_index] ,
1 ,
created_date ,
created_user_name ,
CAST (golden_key AS VARCHAR(128)) AS golden_key
FROM     ( SELECT    adjudication_result_amount_id ,
claim_procedure_id ,
[plan_iteration_index] ,
1 AS [active] ,
created_date ,
created_user_name ,
CASE WHEN ADJUSTED_CONTRACT_AMOUNT IS NULL THEN 'N' ELSE CAST(ADJUSTED_CONTRACT_AMOUNT AS VARCHAR) END ADJUSTED_CONTRACT_AMOUNT ,
CASE WHEN ALTERNATE_COURSE_MEMBER_EXPENSE IS NULL THEN 'N' ELSE CAST(ALTERNATE_COURSE_MEMBER_EXPENSE AS VARCHAR) END ALTERNATE_COURSE_MEMBER_EXPENSE ,
CASE WHEN ANESTHESIA_BASE_UNITS IS NULL THEN 'N' ELSE CAST(ANESTHESIA_BASE_UNITS AS VARCHAR) END ANESTHESIA_BASE_UNITS ,
CASE WHEN AUTHORIZATION_COST IS NULL THEN 'N' ELSE CAST(AUTHORIZATION_COST AS VARCHAR) END AUTHORIZATION_COST ,
CASE WHEN AUTHORIZATION_UNITS IS NULL THEN 'N' ELSE CAST(AUTHORIZATION_UNITS AS VARCHAR) END AUTHORIZATION_UNITS ,
CASE WHEN BALANCE_BILLABLE IS NULL THEN 'N' ELSE CAST(BALANCE_BILLABLE AS VARCHAR) END BALANCE_BILLABLE ,
CASE WHEN BENEFIT_CONTRACT_VALUE_RATE IS NULL THEN 'N' ELSE CAST(BENEFIT_CONTRACT_VALUE_RATE AS VARCHAR) END BENEFIT_CONTRACT_VALUE_RATE ,
CASE WHEN BENEFIT_LIMIT_AMOUNT IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_AMOUNT AS VARCHAR) END BENEFIT_LIMIT_AMOUNT ,
CASE WHEN BENEFIT_LIMIT_ANESTHESIA_BASE_UNITS IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_ANESTHESIA_BASE_UNITS AS VARCHAR) END BENEFIT_LIMIT_ANESTHESIA_BASE_UNITS ,
CASE WHEN BENEFIT_LIMIT_BNA_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_BNA_CONVERSION_FACTOR AS VARCHAR) END BENEFIT_LIMIT_BNA_CONVERSION_FACTOR ,
CASE WHEN BENEFIT_LIMIT_CPT_MULTIPLIER IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_CPT_MULTIPLIER AS VARCHAR) END BENEFIT_LIMIT_CPT_MULTIPLIER ,
CASE WHEN BENEFIT_LIMIT_GPCI_MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_GPCI_MALPRACTICE_EXPENSE_RVU AS VARCHAR) END BENEFIT_LIMIT_GPCI_MALPRACTICE_EXPENSE_RVU ,
CASE WHEN BENEFIT_LIMIT_GPCI_PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_GPCI_PRACTICE_EXPENSE_RVU AS VARCHAR) END BENEFIT_LIMIT_GPCI_PRACTICE_EXPENSE_RVU ,
CASE WHEN BENEFIT_LIMIT_GPCI_WORK_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_GPCI_WORK_RVU AS VARCHAR) END BENEFIT_LIMIT_GPCI_WORK_RVU ,
CASE WHEN BENEFIT_LIMIT_MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_MALPRACTICE_EXPENSE_RVU AS VARCHAR) END BENEFIT_LIMIT_MALPRACTICE_EXPENSE_RVU ,
CASE WHEN BENEFIT_LIMIT_MEDICAL_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_MEDICAL_CONVERSION_FACTOR AS VARCHAR) END BENEFIT_LIMIT_MEDICAL_CONVERSION_FACTOR ,
CASE WHEN BENEFIT_LIMIT_PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_PRACTICE_EXPENSE_RVU AS VARCHAR) END BENEFIT_LIMIT_PRACTICE_EXPENSE_RVU ,
CASE WHEN BENEFIT_LIMIT_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_RVU AS VARCHAR) END BENEFIT_LIMIT_RVU ,
CASE WHEN BENEFIT_LIMIT_TOTAL_ANESTHESIA_UNITS IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_TOTAL_ANESTHESIA_UNITS AS VARCHAR) END BENEFIT_LIMIT_TOTAL_ANESTHESIA_UNITS ,
CASE WHEN BENEFIT_LIMIT_WORK_RVU IS NULL THEN 'N' ELSE CAST(BENEFIT_LIMIT_WORK_RVU AS VARCHAR) END BENEFIT_LIMIT_WORK_RVU ,
CASE WHEN BILLED_CODE_CONTRACT_AMOUNT IS NULL THEN 'N' ELSE CAST(BILLED_CODE_CONTRACT_AMOUNT AS VARCHAR) END BILLED_CODE_CONTRACT_AMOUNT ,
CASE WHEN BNA_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(BNA_CONVERSION_FACTOR AS VARCHAR) END BNA_CONVERSION_FACTOR ,
CASE WHEN COB_PAYMENT_EXCESS_AMOUNT IS NULL THEN 'N' ELSE CAST(COB_PAYMENT_EXCESS_AMOUNT AS VARCHAR) END COB_PAYMENT_EXCESS_AMOUNT ,
CASE WHEN CODE_DEPRECIATION_BASE_AMOUNT IS NULL THEN 'N' ELSE CAST(CODE_DEPRECIATION_BASE_AMOUNT AS VARCHAR) END CODE_DEPRECIATION_BASE_AMOUNT ,
CASE WHEN CODE_DEPRECIATION_PERCENT IS NULL THEN 'N' ELSE CAST(CODE_DEPRECIATION_PERCENT AS VARCHAR) END CODE_DEPRECIATION_PERCENT ,
CASE WHEN CODE_DEPRECIATION_RANK IS NULL THEN 'N' ELSE CAST(CODE_DEPRECIATION_RANK AS VARCHAR) END CODE_DEPRECIATION_RANK ,
CASE WHEN COINSURANCE_AMOUNT IS NULL THEN 'N' ELSE CAST(COINSURANCE_AMOUNT AS VARCHAR) END COINSURANCE_AMOUNT ,
CASE WHEN COINSURANCE_PERCENT IS NULL THEN 'N' ELSE CAST(COINSURANCE_PERCENT AS VARCHAR) END COINSURANCE_PERCENT ,
CASE WHEN CONTRACT_AMOUNT IS NULL THEN 'N' ELSE CAST(CONTRACT_AMOUNT AS VARCHAR) END CONTRACT_AMOUNT ,
CASE WHEN CONTRACTED_COPAY_AMOUNT IS NULL THEN 'N' ELSE CAST(CONTRACTED_COPAY_AMOUNT AS VARCHAR) END CONTRACTED_COPAY_AMOUNT ,
CASE WHEN COPAY_AMOUNT IS NULL THEN 'N' ELSE CAST(COPAY_AMOUNT AS VARCHAR) END COPAY_AMOUNT ,
CASE WHEN CPT_MULTIPLIER IS NULL THEN 'N' ELSE CAST(CPT_MULTIPLIER AS VARCHAR) END CPT_MULTIPLIER ,
CASE WHEN DAILY_LIMIT_RANK IS NULL THEN 'N' ELSE CAST(DAILY_LIMIT_RANK AS VARCHAR) END DAILY_LIMIT_RANK ,
CASE WHEN DEDUCTIBLE_AMOUNT IS NULL THEN 'N' ELSE CAST(DEDUCTIBLE_AMOUNT AS VARCHAR) END DEDUCTIBLE_AMOUNT ,
CASE WHEN ELIGIBLE_UNITS IS NULL THEN 'N' ELSE CAST(ELIGIBLE_UNITS AS VARCHAR) END ELIGIBLE_UNITS ,
CASE WHEN ELIGIBLE_VISITS IS NULL THEN 'N' ELSE CAST(ELIGIBLE_VISITS AS VARCHAR) END ELIGIBLE_VISITS ,
CASE WHEN EXCEEDS_CONTRACT_AMOUNT IS NULL THEN 'N' ELSE CAST(EXCEEDS_CONTRACT_AMOUNT AS VARCHAR) END EXCEEDS_CONTRACT_AMOUNT ,
CASE WHEN EXPECTED_PAYMENT_AMOUNT IS NULL THEN 'N' ELSE CAST(EXPECTED_PAYMENT_AMOUNT AS VARCHAR) END EXPECTED_PAYMENT_AMOUNT ,
CASE WHEN EXPECTED_RVU IS NULL THEN 'N' ELSE CAST(EXPECTED_RVU AS VARCHAR) END EXPECTED_RVU ,
CASE WHEN EXTERNALLY_PRICED_AMOUNT IS NULL THEN 'N' ELSE CAST(EXTERNALLY_PRICED_AMOUNT AS VARCHAR) END EXTERNALLY_PRICED_AMOUNT ,
CASE WHEN FFS_EQUIV_BNA_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_BNA_CONVERSION_FACTOR AS VARCHAR) END FFS_EQUIV_BNA_CONVERSION_FACTOR ,
CASE WHEN FFS_EQUIV_CPT_MULTIPLIER IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_CPT_MULTIPLIER AS VARCHAR) END FFS_EQUIV_CPT_MULTIPLIER ,
CASE WHEN FFS_EQUIV_GPCI_MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_GPCI_MALPRACTICE_EXPENSE_RVU AS VARCHAR) END FFS_EQUIV_GPCI_MALPRACTICE_EXPENSE_RVU ,
CASE WHEN FFS_EQUIV_GPCI_PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_GPCI_PRACTICE_EXPENSE_RVU AS VARCHAR) END FFS_EQUIV_GPCI_PRACTICE_EXPENSE_RVU ,
CASE WHEN FFS_EQUIV_GPCI_WORK_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_GPCI_WORK_RVU AS VARCHAR) END FFS_EQUIV_GPCI_WORK_RVU ,
CASE WHEN FFS_EQUIV_MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_MALPRACTICE_EXPENSE_RVU AS VARCHAR) END FFS_EQUIV_MALPRACTICE_EXPENSE_RVU ,
CASE WHEN FFS_EQUIV_MEDICAL_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_MEDICAL_CONVERSION_FACTOR AS VARCHAR) END FFS_EQUIV_MEDICAL_CONVERSION_FACTOR ,
CASE WHEN FFS_EQUIV_PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_PRACTICE_EXPENSE_RVU AS VARCHAR) END FFS_EQUIV_PRACTICE_EXPENSE_RVU ,
CASE WHEN FFS_EQUIV_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_RVU AS VARCHAR) END FFS_EQUIV_RVU ,
CASE WHEN FFS_EQUIV_WORK_RVU IS NULL THEN 'N' ELSE CAST(FFS_EQUIV_WORK_RVU AS VARCHAR) END FFS_EQUIV_WORK_RVU ,
CASE WHEN FFS_EQUIVALENT_AMOUNT IS NULL THEN 'N' ELSE CAST(FFS_EQUIVALENT_AMOUNT AS VARCHAR) END FFS_EQUIVALENT_AMOUNT ,
CASE WHEN FIRST_COVERAGE_DISTRIBUTION_AMOUNT IS NULL THEN 'N' ELSE CAST(FIRST_COVERAGE_DISTRIBUTION_AMOUNT AS VARCHAR) END FIRST_COVERAGE_DISTRIBUTION_AMOUNT ,
CASE WHEN FIRST_COVERAGE_PROVIDER_AMOUNT IS NULL THEN 'N' ELSE CAST(FIRST_COVERAGE_PROVIDER_AMOUNT AS VARCHAR) END FIRST_COVERAGE_PROVIDER_AMOUNT ,
CASE WHEN GPCI_MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(GPCI_MALPRACTICE_EXPENSE_RVU AS VARCHAR) END GPCI_MALPRACTICE_EXPENSE_RVU ,
CASE WHEN GPCI_PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(GPCI_PRACTICE_EXPENSE_RVU AS VARCHAR) END GPCI_PRACTICE_EXPENSE_RVU ,
CASE WHEN GPCI_WORK_RVU IS NULL THEN 'N' ELSE CAST(GPCI_WORK_RVU AS VARCHAR) END GPCI_WORK_RVU ,
CASE WHEN INDEMNITY_AMOUNT IS NULL THEN 'N' ELSE CAST(INDEMNITY_AMOUNT AS VARCHAR) END INDEMNITY_AMOUNT ,
CASE WHEN INELIGIBLE_AMOUNT IS NULL THEN 'N' ELSE CAST(INELIGIBLE_AMOUNT AS VARCHAR) END INELIGIBLE_AMOUNT ,
CASE WHEN MALPRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(MALPRACTICE_EXPENSE_RVU AS VARCHAR) END MALPRACTICE_EXPENSE_RVU ,
CASE WHEN MEDICAL_CONVERSION_FACTOR IS NULL THEN 'N' ELSE CAST(MEDICAL_CONVERSION_FACTOR AS VARCHAR) END MEDICAL_CONVERSION_FACTOR ,
CASE WHEN MEMBER_EXPENSE_AMOUNT IS NULL THEN 'N' ELSE CAST(MEMBER_EXPENSE_AMOUNT AS VARCHAR) END MEMBER_EXPENSE_AMOUNT ,
CASE WHEN NET_PAYMENT IS NULL THEN 'N' ELSE CAST(NET_PAYMENT AS VARCHAR) END NET_PAYMENT ,
CASE WHEN MISSING_AUTHORIZATION_PENALTY_AMOUNT IS NULL THEN 'N' ELSE CAST(MISSING_AUTHORIZATION_PENALTY_AMOUNT AS VARCHAR) END MISSING_AUTHORIZATION_PENALTY_AMOUNT ,
CASE WHEN MIPS_NEGATIVE_ADJUSTMENT_AMOUNT IS NULL THEN 'N' ELSE CAST(MIPS_NEGATIVE_ADJUSTMENT_AMOUNT AS VARCHAR) END MIPS_NEGATIVE_ADJUSTMENT_AMOUNT ,
CASE WHEN MIPS_POSITIVE_ADJUSTMENT_AMOUNT IS NULL THEN 'N' ELSE CAST(MIPS_POSITIVE_ADJUSTMENT_AMOUNT AS VARCHAR) END MIPS_POSITIVE_ADJUSTMENT_AMOUNT ,
CASE WHEN SEQUESTRATION_ADJUSTMENT_AMOUNT IS NULL THEN 'N' ELSE CAST(SEQUESTRATION_ADJUSTMENT_AMOUNT AS VARCHAR) END SEQUESTRATION_ADJUSTMENT_AMOUNT ,
CASE WHEN EXCEEDS_BILLED_AMOUNT IS NULL THEN 'N' ELSE CAST(EXCEEDS_BILLED_AMOUNT AS VARCHAR) END EXCEEDS_BILLED_AMOUNT ,
CASE WHEN PRE_EXISTING_CONDITION_PENALTY_AMOUNT IS NULL THEN 'N' ELSE CAST(PRE_EXISTING_CONDITION_PENALTY_AMOUNT AS VARCHAR) END PRE_EXISTING_CONDITION_PENALTY_AMOUNT ,
CASE WHEN PRACTICE_EXPENSE_RVU IS NULL THEN 'N' ELSE CAST(PRACTICE_EXPENSE_RVU AS VARCHAR) END PRACTICE_EXPENSE_RVU ,
CASE WHEN PROVIDER_DISCOUNT IS NULL THEN 'N' ELSE CAST(PROVIDER_DISCOUNT AS VARCHAR) END PROVIDER_DISCOUNT ,
CASE WHEN PROVIDER_RESPONSIBILITY_AMOUNT IS NULL THEN 'N' ELSE CAST(PROVIDER_RESPONSIBILITY_AMOUNT AS VARCHAR) END PROVIDER_RESPONSIBILITY_AMOUNT ,
CASE WHEN REFERRAL_COST IS NULL THEN 'N' ELSE CAST(REFERRAL_COST AS VARCHAR) END REFERRAL_COST ,
CASE WHEN REFERRAL_UNITS IS NULL THEN 'N' ELSE CAST(REFERRAL_UNITS AS VARCHAR) END REFERRAL_UNITS ,
CASE WHEN RVU IS NULL THEN 'N' ELSE CAST(RVU AS VARCHAR) END RVU ,
CASE WHEN SAVINGS_AMOUNT IS NULL THEN 'N' ELSE CAST(SAVINGS_AMOUNT AS VARCHAR) END SAVINGS_AMOUNT ,
CASE WHEN SUPP_PLAN_COVERED_AMOUNT IS NULL THEN 'N' ELSE CAST(SUPP_PLAN_COVERED_AMOUNT AS VARCHAR) END SUPP_PLAN_COVERED_AMOUNT ,
CASE WHEN TOTAL_ANESTHESIA_UNITS IS NULL THEN 'N' ELSE CAST(TOTAL_ANESTHESIA_UNITS AS VARCHAR) END TOTAL_ANESTHESIA_UNITS ,
CASE WHEN TOTAL_MEMBER_RESPONSIBILITY IS NULL THEN 'N' ELSE CAST(TOTAL_MEMBER_RESPONSIBILITY AS VARCHAR) END TOTAL_MEMBER_RESPONSIBILITY ,
CASE WHEN VISITS IS NULL THEN 'N' ELSE CAST(VISITS AS VARCHAR) END VISITS ,
CASE WHEN WITHHOLD_AMOUNT IS NULL THEN 'N' ELSE CAST(WITHHOLD_AMOUNT AS VARCHAR) END WITHHOLD_AMOUNT ,
CASE WHEN WITHHOLD_PERCENT IS NULL THEN 'N' ELSE CAST(WITHHOLD_PERCENT AS VARCHAR) END WITHHOLD_PERCENT ,
CASE WHEN WORK_RVU IS NULL THEN 'N' ELSE CAST(WORK_RVU AS VARCHAR) END WORK_RVU ,
CASE WHEN WRITE_OFF_AMOUNT IS NULL THEN 'N' ELSE CAST(WRITE_OFF_AMOUNT AS VARCHAR) END WRITE_OFF_AMOUNT

FROM      adjudication_result_amount
) AS p UNPIVOT ( [amount] FOR golden_key IN -- list of adjudication_result_column_name columns used in adjudication
( ADJUSTED_CONTRACT_AMOUNT,
ALTERNATE_COURSE_MEMBER_EXPENSE,
ANESTHESIA_BASE_UNITS, AUTHORIZATION_COST,
AUTHORIZATION_UNITS, BALANCE_BILLABLE,
BENEFIT_CONTRACT_VALUE_RATE,
BENEFIT_LIMIT_AMOUNT,
BENEFIT_LIMIT_ANESTHESIA_BASE_UNITS,
BENEFIT_LIMIT_BNA_CONVERSION_FACTOR,
BENEFIT_LIMIT_CPT_MULTIPLIER,
BENEFIT_LIMIT_GPCI_MALPRACTICE_EXPENSE_RVU,
BENEFIT_LIMIT_GPCI_PRACTICE_EXPENSE_RVU,
BENEFIT_LIMIT_GPCI_WORK_RVU,
BENEFIT_LIMIT_MALPRACTICE_EXPENSE_RVU,
BENEFIT_LIMIT_MEDICAL_CONVERSION_FACTOR,
BENEFIT_LIMIT_PRACTICE_EXPENSE_RVU,
BENEFIT_LIMIT_RVU,
BENEFIT_LIMIT_TOTAL_ANESTHESIA_UNITS,
BENEFIT_LIMIT_WORK_RVU,
BILLED_CODE_CONTRACT_AMOUNT,
BNA_CONVERSION_FACTOR,
COB_PAYMENT_EXCESS_AMOUNT,
CODE_DEPRECIATION_BASE_AMOUNT,
CODE_DEPRECIATION_PERCENT,
CODE_DEPRECIATION_RANK,
COINSURANCE_AMOUNT,
COINSURANCE_PERCENT, CONTRACT_AMOUNT,
CONTRACTED_COPAY_AMOUNT, COPAY_AMOUNT,
CPT_MULTIPLIER, DAILY_LIMIT_RANK, DEDUCTIBLE_AMOUNT,
ELIGIBLE_UNITS, ELIGIBLE_VISITS,
EXCEEDS_CONTRACT_AMOUNT,
EXPECTED_PAYMENT_AMOUNT, EXPECTED_RVU,
EXTERNALLY_PRICED_AMOUNT,
FFS_EQUIV_BNA_CONVERSION_FACTOR,
FFS_EQUIV_CPT_MULTIPLIER,
FFS_EQUIV_GPCI_MALPRACTICE_EXPENSE_RVU,
FFS_EQUIV_GPCI_PRACTICE_EXPENSE_RVU,
FFS_EQUIV_GPCI_WORK_RVU,
FFS_EQUIV_MALPRACTICE_EXPENSE_RVU,
FFS_EQUIV_MEDICAL_CONVERSION_FACTOR,
FFS_EQUIV_PRACTICE_EXPENSE_RVU, FFS_EQUIV_RVU,
FFS_EQUIV_WORK_RVU, FFS_EQUIVALENT_AMOUNT,
FIRST_COVERAGE_DISTRIBUTION_AMOUNT,
FIRST_COVERAGE_PROVIDER_AMOUNT,
GPCI_MALPRACTICE_EXPENSE_RVU,
GPCI_PRACTICE_EXPENSE_RVU, GPCI_WORK_RVU,
INDEMNITY_AMOUNT, INELIGIBLE_AMOUNT,
MALPRACTICE_EXPENSE_RVU,
MEDICAL_CONVERSION_FACTOR, MEMBER_EXPENSE_AMOUNT,
NET_PAYMENT,
MISSING_AUTHORIZATION_PENALTY_AMOUNT,
MIPS_NEGATIVE_ADJUSTMENT_AMOUNT,
MIPS_POSITIVE_ADJUSTMENT_AMOUNT,
SEQUESTRATION_ADJUSTMENT_AMOUNT,
EXCEEDS_BILLED_AMOUNT,
PRE_EXISTING_CONDITION_PENALTY_AMOUNT,
PRACTICE_EXPENSE_RVU, PROVIDER_DISCOUNT,
PROVIDER_RESPONSIBILITY_AMOUNT,
REFERRAL_COST, REFERRAL_UNITS, RVU,
SAVINGS_AMOUNT, SUPP_PLAN_COVERED_AMOUNT,
TOTAL_ANESTHESIA_UNITS,
TOTAL_MEMBER_RESPONSIBILITY, VISITS,
WITHHOLD_AMOUNT, WITHHOLD_PERCENT, WORK_RVU,
WRITE_OFF_AMOUNT ) ) AS s
)
SELECT  ROW_NUMBER() OVER ( ORDER BY claim_procedure_id, adjudication_object_id, plan_iteration_index ) AS adjudication_amount_id ,
adjudication_result_amount_id ,
NULL AS claim_id ,
claim_procedure_id ,
ak.golden_key ,
adjudication_object_id ,
ao.golden_key ao_golden_key ,
ao.adjudication_result_column_name ao_adjudication_result_column_name ,
amount ,
NULL AS [plan_level_id] ,
[plan_iteration_index] ,
1 AS [active] ,
ak.created_date
FROM    cte_adjudication_amount ak
LEFT OUTER JOIN adjudication_object ao ON ao.golden_key = ak.golden_key
WHERE   ak.active = 1
and amount IS NOT NULL;
GO
