USE [qc_core]
GO
/****** Object:  View [dbo].[vw_adjudication_key_override_keys]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_adjudication_key_override_keys]
AS
WITH    cte_adjudication_key_override (adjudication_result_key_override_id, adjudication_result_key_id, key_type, object_record_id,
[active], created_date, created_user_name, modified_date, modified_user_name )
AS ( SELECT   adjudication_result_key_override_id, adjudication_result_key_id ,
key_type,
object_record_id ,

1 ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name
FROM     ( SELECT    adjudication_result_key_override_id, adjudication_result_key_id ,
1 AS [active] ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name ,
claim_processing_rule_framework_id 	   [claim_processing_rule_framework_id] ,
dental_alternate_course_applied_yes_no_id 	   [dental_alternate_course_applied_yes_no_id] ,
dental_procedure_grouping_applied_yes_no_id 	   [dental_procedure_grouping_applied_yes_no_id],
dental_restorative_bundling_applied_yes_no_id  	   [dental_restorative_bundling_applied_yes_no_id] ,
include_in_depreciation_yes_no_id 	   [include_in_depreciation_yes_no_id] ,
network_level_id 	   [network_level_id] ,
provider_network_id 	   [provider_network_id] ,
authorization_id     [authorization_id],
referral_id 	   [referral_id] ,
reimburse_member_yes_no_id	[reimburse_member_yes_no_id],
claim_processing_rule_framework_adjudication_details_override_reason_id 	   [claim_processing_rule_framework_adjudication_details_override_reason_id],
dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id 	   [dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id],
dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id 	   [dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id],
dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id 	   [dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id],
include_in_depreciation_yes_no_adjudication_details_override_reason_id 	  [include_in_depreciation_yes_no_adjudication_details_override_reason_id],
network_level_adjudication_details_override_reason_id	  [ network_level_adjudication_details_override_reason_id],
provider_network_adjudication_details_override_reason_id 	   [provider_network_adjudication_details_override_reason_id],
authorization_adjudication_details_override_reason_id 	   [authorization_adjudication_details_override_reason_id],
referral_adjudication_details_override_reason_id 	   [referral_adjudication_details_override_reason_id],
reimburse_member_yes_no_adjudication_details_override_reason_id	   [reimburse_member_yes_no_adjudication_details_override_reason_id]

FROM      adjudication_result_key_override
) AS p UNPIVOT ( object_record_id FOR key_type IN -- place amount values in row by golden_key (which is the column name from adjudication_result_key_override
([claim_processing_rule_framework_id] ,
[dental_alternate_course_applied_yes_no_id] ,
[dental_procedure_grouping_applied_yes_no_id],
[dental_restorative_bundling_applied_yes_no_id] ,
[include_in_depreciation_yes_no_id] ,
[network_level_id] ,
[provider_network_id],
[authorization_id],
[referral_id],
[reimburse_member_yes_no_id]
) ) AS s
)
SELECT  	--	DISTINCT
adjudication_result_key_override_id,
ROW_NUMBER() OVER ( ORDER BY amo.adjudication_result_key_id, amo.key_type ) AS adjudication_key_override_id ,
amo.adjudication_result_key_id AS adjudication_result_key_id ,
amo.object_record_id ,
1 AS [active] ,
amo.created_user_name ,
NULL AS created_group_id ,
amo.created_date ,
amo.modified_date,
amo.modified_user_name
FROM    cte_adjudication_key_override amo
WHERE   amo.active = 1
AND amo.object_record_id <> 0
;
GO
