USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_provider]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[bind_vw_provider] AS
select p.provider_id as provider_id
		, pn.name_first as first_name
		, pn.name_last as last_name
		, pct.provider_category_type_ud as provider_category
		, isnull(pc.active,0) as provider_category_active
		, provider_specialty.primary_specialty 
		, provider_specialty.provider_specialty_type_ud as specialty_type
		, provider_specialty.description as specialty_description
		, tin.provider_ud as TIN
		, npi.provider_ud as NPI
from provider p
	left join provider_address pa
		on p.provider_id = pa.provider_id
	left join provider_category pc
		on p.provider_id = pc.provider_id
	left join provider_category_type pct
		on pc.provider_category_type_id = pct.provider_category_type_id
	left join provider_type pt
		on p.provider_id = pt.provider_type_id
	left join provider_name pn
		on p.provider_id = pn.provider_id
	outer apply (select top 1 provider_ud 
				from provider_identifier pid
					inner join provider_identifier_type pit
						on pid.provider_identifier_type_id = pit.provider_identifier_type_id
				where pid.provider_id = p.provider_id
					and pit.provider_identifier_type_ud = 'tin'
				order by pid.use_as_default desc, pid.effective_from desc, pid.created_date desc
				) as tin
	outer apply (select top 1 provider_ud 
				from provider_identifier pid
					inner join provider_identifier_type pit
						on pid.provider_identifier_type_id = pit.provider_identifier_type_id
				where pid.provider_id = p.provider_id
					and pit.provider_identifier_type_ud = 'NPI'
				order by pid.use_as_default desc, pid.effective_from desc, pid.created_date desc
				) as NPI
	outer apply ( select pst.*
							, ps.primary_specialty
					from provider_specialty ps
						inner join provider_specialty_type pst
							on ps.provider_specialty_type_id = pst.provider_specialty_type_id
					where ps.provider_id  = p.provider_id
				) as provider_specialty
GO
