USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_novant_provider_claim_new]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[bind_vw_novant_provider_claim_new] AS
Select c.claim_id as internal_claim_id
		, c.claim_ud 
		, clearing_house_claim_id.additional_reference_number as clearinghouse_claim_id
		, billing_provider.provider_id as billing_provider_id
		, billing_provider_name.name_first as billing_provider_first_name
		, billing_provider_name.name_last as billing_provider_last_name
		, billing_provider_category_type.provider_category_type_ud as billing_provider_category_type_ud
		, rendering_provider.provider_id as rendering_provider_id
		, rendering_provider_name.name_first as rendering_provider_first_name
		, rendering_provider_name.name_last as rendering_provider_last_name
		, rendering_provider_category_type.provider_category_type_ud as rendering_provider_category_type_ud
from qc_core.dbo.claim c 
	cross apply (select MIN(ca_cp.service_from_date) as first_service_date
				 from claim_procedure ca_cp
				 where c.claim_id = ca_cp.claim_id
				 group by ca_cp.claim_id
				 ) as claim_first_service_date
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'F8') as clearing_house_claim_id
	left join qc_core.dbo.provider billing_provider
		on c.billing_provider_id = billing_provider.provider_id
	inner join qc_core.dbo.provider_name billing_provider_name
		on billing_provider.provider_id = billing_provider_name.provider_id
	inner join qc_core.dbo.provider_category billing_provider_category
		on billing_provider.provider_id = billing_provider_category.provider_id
		and claim_first_service_date.first_service_date between billing_provider_category.effective_from and isnull(billing_provider_category.effective_thru, '2199-12-31')
	inner join qc_core.dbo.provider_category_type billing_provider_category_type
		on billing_provider_category.provider_category_type_id = billing_provider_category_type.provider_category_type_id
			and billing_provider_category_type.provider_category_type_ud like '%Novant%'
	left join qc_core.dbo.provider rendering_provider
		on ISNULL(c.provider_id, c.billing_provider_id) = rendering_provider.provider_id
	inner join qc_core.dbo.provider_name rendering_provider_name
		on rendering_provider.provider_id = rendering_provider_name.provider_id
	inner join qc_core.dbo.provider_category rendering_provider_category
		on rendering_provider.provider_id = rendering_provider_category.provider_id
		and claim_first_service_date.first_service_date between rendering_provider_category.effective_from and isnull(rendering_provider_category.effective_thru, '2199-12-31')
	inner join qc_core.dbo.provider_category_type rendering_provider_category_type 
		on rendering_provider_category.provider_category_type_id = rendering_provider_category_type.provider_category_type_id
			and rendering_provider_category_type.provider_category_type_ud like '%Novant%'
GO
