USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_extract]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_claim_extract]
AS
SELECT DISTINCT
    c.claim_ud
   , isnull(c.d9,parent_claim.d9) as external_claim_id
   , isnull(c.clearinghouse_claim_id, parent_claim.clearinghouse_claim_id) as clearinghouse_claim_id
   , c.repriced_network as network
   , cd.claim_procedure_id
   , isnull(cd_negated.claim_line_sequence, cd.claim_line_sequence) as claim_line_sequence
   , c.internal_member_id
   , PHI_Mem.member_number as member_number
   , PHI_Sub.member_number as subscriber_number
   , billing_provider_identifier.provider_ud
   , billing_provider_name.name_first
   , billing_provider_name.name_last
   , cd.procedure_code_description
   , format(cd.service_from_date, 'MM/dd/yyyy HH:mm:ss') as service_from_date
   , format(cd.service_thru_date, 'MM/dd/yyyy HH:mm:ss') as service_thru_date
   , format(cd.charge, 'N', 'en-us') as charge
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('COPAY_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS COPAY_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('WRITE_OFF_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS WRITE_OFF_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('INELIGIBLE_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS INELIGIBLE_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('DEDUCTIBLE_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS DEDUCTIBLE_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('COINSURANCE_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS COINSURANCE_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('CONTRACT_AMOUNT', cd.claim_procedure_id), 'N', 'en-us') AS CONTRACT_AMOUNT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('NET_PAYMENT', cd.claim_procedure_id), 'N', 'en-us') AS NET_PAYMENT
   , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('TOTAL_MEMBER_RESPONSIBILITY', cd.claim_procedure_id), 'N', 'en-us') AS TOTAL_MEMBER_RESPONSIBILITY
   , arc_cte.result_code_ud
   , arc_cte.long_message
   , arc_cte.final_use_on_member_report AS use_on_member_report
   , arc_cte.final_use_on_provider_report AS use_on_provider_report
   , cd.claim_line_status
   , rendering_provider_name.name_first AS rendering_provider_name_first
   , rendering_provider_name.name_last AS rendering_provider_name_last
   , v.vendor_nm
   , c.Vendor_Override_Name as vendor_pay_to_nm
   , coalesce(c.batch_external_identifier , cii.patient_account_number, ic.patient_control_number, c.batch_external_identifier) AS external_identifier
   , c.employer_group_number
   , c.employer_group_name
   , c.duplicate_claim as adjusted_claim
   , CASE WHEN cd.negated_claim_procedure_id IS NOT NULL THEN 1 ELSE 0 END AS reversal
   , cd.procedure_code_ud
from bind_vw_claims c
    inner join bind_vw_claim_details cd
    on c.internal_claim_id = cd.internal_claim_id
    left join bind_vw_claim_details cd_negated
    on cd.negated_claim_procedure_id = cd_negated.claim_procedure_id
    left join bind_vw_PHI_member PHI_Mem
    on c.internal_member_id = PHI_Mem.internal_member_id
        and c.claim_family_eligibility_member_benefit_plan_id = PHI_Mem.member_family_eligibility_member_benefit_plan_id
    left join bind_vw_PHI_member PHI_Sub
    on PHI_Mem.subscriber_member_id = PHI_Sub.internal_member_id
    left join provider_name rendering_provider_name
    on c.rendering_provider_id = rendering_provider_name.provider_id
        and rendering_provider_name.is_primary = 1
    left join provider_name billing_provider_name
    on c.billing_provider_id = billing_provider_name.provider_id
        and billing_provider_name.is_primary = 1
    left join (select bpi.*
    from provider_identifier as bpi
        inner join provider_identifier_type pit
        on bpi.provider_identifier_type_id = pit.provider_identifier_type_id
            and pit.provider_identifier_type_nm = 'National Provider Identifier'
        ) billing_provider_identifier
    on c.billing_provider_id = billing_provider_identifier.provider_id
    LEFT JOIN bind_vw_adjudication_result_code_cte arc_cte
    ON arc_cte.claim_procedure_id = cd.claim_procedure_id
    left join vendor v
    on c.vendor_id = v.vendor_id
    left join claim_illness_injury cii
    on c.internal_claim_id = cii.claim_id
    left join institutional_claim ic
    on c.internal_claim_id = ic.claim_id
    LEFT JOIN accounting_transaction_ap_claim_detail atacd
    ON atacd.claim_procedure_id = cd.claim_procedure_id
    LEFT JOIN accounting_transaction_ap ataTrans
    ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
    LEFT JOIN accounting_transaction_ap_type atat
    ON atat.accounting_transaction_ap_type_id = ataTrans.accounting_transaction_ap_type_id
    LEFT JOIN accounting_transaction_ap_apply_to ataat
    ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
    LEFT JOIN accounting_transaction_ap ataPAY
    ON ataPAY.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
    LEFT JOIN accounting_transaction_ap_type atatPAY
    ON atatPAY.accounting_transaction_ap_type_id = ataPAY.accounting_transaction_ap_type_id
    LEFT JOIN accounting_transaction_ap_payment_detail atapd
    ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
    left join accounting_check_print_run check_run
    on atapd.accounting_check_print_run_id = check_run.accounting_check_print_run_id
    LEFT JOIN bank_account ba
    ON atapd.bank_account_id = ba.bank_account_id
    LEFT JOIN accounting_check_print_run acpr
    ON atapd.accounting_check_print_run_id = acpr.accounting_check_print_run_id
    left join bind_vw_claims parent_claim
    on c.parent_claim_id = parent_claim.internal_claim_id
where c.adjudication_status_ud in ('closed','approved')
    and cd.claim_line_status in ('approved','denied')
GO
