USE [qc_core]
GO
/****** Object:  View [dbo].[vw_px_treatment_type_coverage]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION HISTORY:

DATE		AUTHOR		VERSION	COMMENT
10/15/2013	eponomareff	Added Procedure Code ICD Version to view

CURRENT_VERSION: 1.1
--
DESCRIPTION:

USED BY ADJUDICATION ONLY
Used by [plx_dto_treatment_type_coverage_matching_by_benefit_functional_area]

Flattens out Treatment Types - Procedure Code Groups

10/15/2013 - eponomareff
A concern with this view:
-	begining/ending dates on procedure codes is not relevant to resolution of inclusion/exclusion
[as in defect RT:4736]
--
HEADER_END;
******************************/


Create View [dbo].[vw_px_treatment_type_coverage]

As

Select
tt.treatment_type_id,
tt.treatment_type_ud,

-- Assignment of code group to treatment type.
ttpcg.effective_from as 'ttpcg_effective_from',
ttpcg.effective_thru as 'ttpcg_effective_thru',

-- Assignment of procedure code to procedure code group.
pcgpc.effective_from as 'pcgpc_effective_from',
pcgpc.effective_thru as 'pcgpc_effective_thru',
pcgpc.is_excluded,

-- Procedure code type data
pcgpc.procedure_code_type_id,
pcgpc.procedure_code_icd_version_id,

-- Procedure code data for starting of range assigned to the group.
pcbegin.procedure_code_ud as 'begin_procedure_code_ud',
pcbegin.effective_from as 'begin_effective_from',
pcbegin.effective_thru as 'begin_effective_thru',

-- Procedure code data for ending of range assigned to the group.
pcend.procedure_code_ud as 'end_procedure_code_ud',
pcend.effective_from as 'end_effective_from',
pcend.effective_thru as 'end_effective_thru'
From
treatment_type tt
Inner Join treatment_type_procedure_code_group ttpcg
On ttpcg.treatment_type_id = tt.treatment_type_id
Inner Join procedure_code_group pcg
on ttpcg.procedure_code_group_id = pcg.procedure_code_group_id
Inner Join procedure_code_group_procedure_code pcgpc
on pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
Inner Join procedure_code pcbegin
on pcgpc.begin_procedure_code_id = pcbegin.procedure_code_id
Inner Join procedure_code pcend
on pcgpc.end_procedure_code_id = pcend.procedure_code_id
GO
