USE [qc_core]
GO
/****** Object:  View [dbo].[vw_referral_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_referral_auto_note] WITH SCHEMABINDING
AS

SELECT	dbo.referral.referral_id,
dbo.claim.claim_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.member.member_id,
dbo.provider.provider_id
FROM	dbo.referral
LEFT JOIN dbo.claim_referral ON  dbo.referral.referral_id = dbo.claim_referral.referral_id
LEFT JOIN	dbo.claim ON dbo.claim_referral.claim_id = dbo.claim.claim_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan ON dbo.referral.family_eligibility_member_benefit_plan_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT JOIN	dbo.provider ON dbo.referral.referring_provider_id = dbo.provider.provider_id
LEFT JOIN	dbo.family_eligibility_member
ON dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id = dbo.family_eligibility_member.family_eligibility_member_id
LEFT JOIN	dbo.member ON dbo.family_eligibility_member.member_id = dbo.member.member_id

UNION

SELECT	dbo.referral.referral_id,
dbo.claim.claim_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.member.member_id,
dbo.provider.provider_id
FROM	dbo.referral
LEFT JOIN	dbo.claim ON dbo.referral.referral_id = dbo.claim.referral_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan
ON	dbo.referral.family_eligibility_member_benefit_plan_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT	JOIN	dbo.family_eligibility_member
ON		dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id = dbo.family_eligibility_member.family_eligibility_member_id
LEFT JOIN	dbo.member ON dbo.family_eligibility_member.member_id = dbo.member.member_id
LEFT JOIN	dbo.referral_provider ON dbo.referral.referral_id = dbo.referral_provider.referral_id
LEFT JOIN	dbo.provider ON dbo.referral_provider.provider_id = dbo.provider.provider_id
GO
