USE [qc_core]
GO
/****** Object:  View [dbo].[adjudication_key_override]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[adjudication_key_override]
AS
WITH    cte_adjudication_key_override ( adjudication_result_key_id, key_type, object_record_id, adjudication_details_override_reason_id, adjudication_details_override_reason_key, [active], created_date, created_user_name, modified_date, modified_user_name )
AS ( SELECT   adjudication_result_key_id ,
key_type,
object_record_id ,
adjudication_details_override_reason_id ,
adjudication_details_override_reason_key ,
1 ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name
FROM     ( SELECT    adjudication_result_key_id ,
1 AS [active] ,
created_date ,
created_user_name ,
modified_date ,
modified_user_name ,
isnull(	   claim_processing_rule_framework_id ,0)	   [002claim_processing_rule_framework_id] ,
isnull(	   dental_alternate_course_applied_yes_no_id ,0)	   [003dental_alternate_course_applied_yes_no_id] ,
isnull(	   dental_procedure_grouping_applied_yes_no_id ,0)	   [004dental_procedure_grouping_applied_yes_no_id],
isnull(	   dental_restorative_bundling_applied_yes_no_id ,0)	   [005dental_restorative_bundling_applied_yes_no_id] ,
isnull(	   include_in_depreciation_yes_no_id ,0)	   [007include_in_depreciation_yes_no_id] ,
isnull(	   network_level_id ,0)	   [008network_level_id] ,
isnull(	   provider_network_id ,0)	   [009provider_network_id] ,
isnull(	   referral_id ,0)	   [010referral_id] ,
isnull(	   authorization_id ,0)	   [011authorization_id] ,
isnull(	   reimburse_member_yes_no_id, 0)	   [012reimburse_member_yes_no_id] ,
isnull(	   claim_processing_rule_framework_adjudication_details_override_reason_id, 0) 	   [002claim_processing_rule_framework_adjudication_details_override_reason_id],
isnull(	   dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id, 0) 	   [003dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id],
isnull(	   dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id, 0) 	   [004dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id],
isnull(	   dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id, 0) 	   [005dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id],
isnull(	   include_in_depreciation_yes_no_adjudication_details_override_reason_id, 0) 	  [007include_in_depreciation_yes_no_adjudication_details_override_reason_id],
isnull(	   network_level_adjudication_details_override_reason_id, 0)	  [008 network_level_adjudication_details_override_reason_id],
isnull(	   provider_network_adjudication_details_override_reason_id ,0)	   [009provider_network_adjudication_details_override_reason_id],
isnull(	   referral_adjudication_details_override_reason_id ,0)	   [010referral_adjudication_details_override_reason_id],
isnull(	   authorization_adjudication_details_override_reason_id ,0)    [011authorization_adjudication_details_override_reason_id],
isnull(	   reimburse_member_yes_no_adjudication_details_override_reason_id ,0)    [012reimburse_member_yes_no_adjudication_details_override_reason_id]

FROM      adjudication_result_key_override
) AS p UNPIVOT ( object_record_id FOR key_type IN -- place amount values in row by golden_key (which is the column name from adjudication_result_key_override
( [002claim_processing_rule_framework_id] ,
[003dental_alternate_course_applied_yes_no_id] ,
[004dental_procedure_grouping_applied_yes_no_id],
[005dental_restorative_bundling_applied_yes_no_id] ,
[007include_in_depreciation_yes_no_id] ,
[008network_level_id] ,
[009provider_network_id] ,
[010referral_id] ,
[011authorization_id],
[012reimburse_member_yes_no_id]
) ) AS s
UNPIVOT 	( adjudication_details_override_reason_id FOR adjudication_details_override_reason_key IN ([002claim_processing_rule_framework_adjudication_details_override_reason_id],
[003dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id],
[004dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id],
[005dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id],
[007include_in_depreciation_yes_no_adjudication_details_override_reason_id],
[008 network_level_adjudication_details_override_reason_id],
[009provider_network_adjudication_details_override_reason_id],
[010referral_adjudication_details_override_reason_id],
[011authorization_adjudication_details_override_reason_id],
[012reimburse_member_yes_no_adjudication_details_override_reason_id]
) ) AS s2
WHERE    LEFT(key_type, 3) = LEFT(adjudication_details_override_reason_key,
3)  -- For attributes sequenced with serialized numbers, so that the multiple unpivot results can be joined back together
)
SELECT  	--	DISTINCT
ROW_NUMBER() OVER ( ORDER BY ako.adjudication_result_key_id, ako.key_type ) AS adjudication_key_override_id , -- AS original table name
aa_vw.adjudication_key_id ,  -- simulate original table name
ako.object_record_id ,
adjudication_details_override_reason_id ,
1 AS [active] ,
ako.created_user_name ,
NULL AS created_group_id ,
ako.created_date ,
ako.modified_date,
ako.modified_user_name
FROM    cte_adjudication_key_override ako
INNER JOIN vw_adjudication_key aa_vw
ON aa_vw.adjudication_result_key_id = ako.adjudication_result_key_id
AND SUBSTRING(ako.key_type,4,LEN(ako.key_type) - 3) = aa_vw.adjudication_result_column_name
WHERE   ako.active = 1
AND ako.object_record_id <> 0;
GO
