USE [qc_core]
GO
/****** Object:  View [dbo].[vw_member_auto_note]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_member_auto_note] WITH SCHEMABINDING
AS

SELECT	dbo.member.member_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.family_eligibility.family_eligibility_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM	dbo.member
LEFT JOIN	dbo.family_eligibility_member ON dbo.member.member_id = dbo.family_eligibility_member.member_id
LEFT JOIN	dbo.family_eligibility ON dbo.family_eligibility_member.family_eligibility_id = dbo.family_eligibility.family_eligibility_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan ON dbo.family_eligibility_member.family_eligibility_member_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN	dbo.claim ON dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = dbo.claim.family_eligibility_member_benefit_plan_id
LEFT JOIN	dbo.episode ON dbo.claim.episode_id = dbo.episode.episode_id
LEFT JOIN	dbo.claim_referral ON dbo.claim.claim_id = dbo.claim_referral.claim_id
LEFT JOIN	dbo.referral ON dbo.claim_referral.referral_id = dbo.referral.referral_id

UNION

SELECT	dbo.member.member_id,
dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
dbo.family_eligibility.family_eligibility_id,
dbo.claim.claim_id,
dbo.episode.episode_id,
dbo.referral.referral_id
FROM	dbo.member
LEFT JOIN	dbo.family_eligibility_member ON dbo.member.member_id = dbo.family_eligibility_member.member_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan
ON		dbo.family_eligibility_member.family_eligibility_member_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN	dbo.episode
ON		dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = dbo.episode.family_eligibility_member_benefit_plan_id
LEFT	JOIN	dbo.referral
ON	dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = dbo.referral.family_eligibility_member_benefit_plan_id
LEFT	JOIN	dbo.claim
ON dbo.family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = dbo.claim.family_eligibility_member_benefit_plan_id
LEFT JOIN	dbo.family_eligibility ON dbo.family_eligibility_member.family_eligibility_id = dbo.family_eligibility.family_eligibility_id
GO
