USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_novant_provider_claim]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[bind_vw_novant_provider_claim] AS
Select distinct
			c.claim_id as internal_claim_id
		, c.claim_ud 
		, isnull(clearing_house_claim_id.additional_reference_number,'') as clearinghouse_claim_id
		, cast(claim_first_service_date.first_service_date as date) as first_service_date
		, isnull(cast(billing_provider.provider_id as varchar),'') as billing_provider_id
		, isnull(billing_provider_name.name_first,'') as billing_provider_first_name
		, isnull(billing_provider_name.name_last,'') as billing_provider_last_name
		, isnull(billing_provider_category_type.provider_category_type_ud,'') as billing_provider_category_type_ud
		, isnull(cast(rendering_provider.provider_id as varchar),'') as rendering_provider_id
		, isnull(rendering_provider_name.name_first,'') as rendering_provider_first_name
		, isnull(rendering_provider_name.name_last,'') as rendering_provider_last_name
		, isnull(rendering_provider_category_type.provider_category_type_ud,'') as rendering_provider_category_type_ud
from qc_core.dbo.claim c 
	inner join qc_core.dbo.family_eligibility_member_benefit_plan fembp
		on fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
	inner join qc_core.dbo.family_eligibility_member fem
		on fem.family_eligibility_member_id = fembp.family_eligibility_member_id
	inner join family_eligibility fe
		on fem.family_eligibility_id = fe.family_eligibility_id
	inner join benefit_contract bc
		on fe.benefit_contract_id = bc.benefit_contract_id
	inner join client_group cg
		on bc.client_group_id = cg.client_group_id
			and cg.client_id = 14		-- Novant
	cross apply (select MIN(ca_cp.service_from_date) as first_service_date
					from claim_procedure ca_cp
					where c.claim_id = ca_cp.claim_id
					group by ca_cp.claim_id
					) as claim_first_service_date
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				FROM qc_core.dbo.claim_additional_reference_number carn
					inner join qc_core.dbo.claim_additional_reference_number_type carnt
							on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'F8') as clearing_house_claim_id
	left join qc_core.dbo.provider billing_provider
		on c.billing_provider_id = billing_provider.provider_id
	left join qc_core.dbo.provider_name billing_provider_name
		on billing_provider.provider_id = billing_provider_name.provider_id
			and billing_provider_name.is_primary = 1
	left join qc_core.dbo.provider_category billing_provider_category
		on billing_provider.provider_id = billing_provider_category.provider_id
			and billing_provider_category.provider_category_type_id = 9
			and claim_first_service_date.first_service_date between billing_provider_category.effective_from and isnull(billing_provider_category.effective_thru, '2199-12-31')
	left join qc_core.dbo.provider_category_type billing_provider_category_type
		on billing_provider_category.provider_category_type_id = billing_provider_category_type.provider_category_type_id
	left join qc_core.dbo.provider rendering_provider
		on rendering_provider.provider_id = case
												when c.claim_ud like '%I%'
													then c.provider_id
													else ISNULL(c.provider_id, c.billing_provider_id)
											end
	left join qc_core.dbo.provider_name rendering_provider_name
		on rendering_provider.provider_id = rendering_provider_name.provider_id
			and rendering_provider_name.is_primary = 1
	left join qc_core.dbo.provider_category rendering_provider_category
		on rendering_provider.provider_id = rendering_provider_category.provider_id
			and rendering_provider_category.provider_category_type_id = 9
			and claim_first_service_date.first_service_date between rendering_provider_category.effective_from and isnull(rendering_provider_category.effective_thru, '2199-12-31')
	left join qc_core.dbo.provider_category_type rendering_provider_category_type 
		on rendering_provider_category.provider_category_type_id = rendering_provider_category_type.provider_category_type_id
where 1 = 1
and (
		billing_provider_category_type.provider_category_type_ud = 'EmpSpecNovant'
	or
		rendering_provider_category_type.provider_category_type_ud = 'EmpSpecNovant'
	)

GO
