USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_unbalanced_negated_claim]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[bind_vw_unbalanced_negated_claim] AS
Select distinct
		  c.claim_id as internal_claim_id
        , c.claim_ud
        , ads.adjudication_status_ud
        , cast(check_date as date) as check_date
        , cp.claim_line_sequence
        , arao.adjudication_result_amount_override_id
        , arao.copay_amount as override_copay
        , ara.claim_procedure_id
        , ara.copay_amount 
        , negated_cp.claim_procedure_id as negated_claim_procedure_id
		, negated_cp.claim_line_sequence as negated_claim_line_sequence
        , negated_ara.copay_amount as negated_copay_amount
        , case 
            when arao.copay_amount = 0.0001 then 0.00
            when arao.copay_amount = 0.00 then 0.00
            else (arao.copay_amount * -1) 
          end as updated_negated_copay
from claim c
    inner join claim_procedure cp
        on c.claim_id = cp.claim_id
    inner join adjudication_result_amount ara
        on cp.claim_procedure_id = ara.claim_procedure_id
    left join adjudication_result_amount_override arao
        on ara.adjudication_result_amount_id = arao.adjudication_result_amount_id
    left join claim_procedure as negated_cp
        on ara.claim_procedure_id = negated_cp.negated_claim_procedure_id
    left join adjudication_result_amount negated_ara
        on negated_cp.claim_procedure_id = negated_ara.claim_procedure_id
    left join adjudication_status ads
        on c.adjudication_status_id = ads.adjudication_status_id
  LEFT JOIN accounting_transaction_ap_claim_detail atacd
      ON atacd.claim_procedure_id = negated_cp.claim_procedure_id
  LEFT JOIN accounting_transaction_ap ataTrans
      ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
  LEFT JOIN accounting_transaction_ap_type atat
      ON atat.accounting_transaction_ap_type_id = ataTrans.accounting_transaction_ap_type_id
  LEFT JOIN accounting_transaction_ap_apply_to ataat
      ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
  LEFT JOIN accounting_transaction_ap ataPAY
      ON ataPAY.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
  LEFT JOIN accounting_transaction_ap_type atatPAY
      ON atatPAY.accounting_transaction_ap_type_id = ataPAY.accounting_transaction_ap_type_id
  LEFT JOIN accounting_transaction_ap_payment_detail atapd
      ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
where case 
        when negated_ara.copay_amount = -0.0001 then 0.00
        else negated_ara.copay_amount
        end
             <> 
        case 
            when arao.copay_amount = 0.0001 then 0.00
            when arao.copay_amount = 0.00 then 0.00
            else (arao.copay_amount * -1) 
          end 
        and ads.adjudication_status_ud <> 'closed'
        and check_date is null

GO
