USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_prompt_pay]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[bind_vw_prompt_pay] AS
SELECT atacd.claim_procedure_id,
       ata.accounting_transaction_ap_id,
       ata.transaction_amount                as payment_penalty_amount,
       claim.claim_ud                        as claimId,
       claim.modified_date                   as adjudicationDate,
       cp.claim_line_sequence                as serviceLineNumber,
       cp.charge                             as lineBilledAmount,
       cp.repricing_amount                   as lineAllowedAmount,
       cpra.amount                           as linePaidAmount,
       claim_ref.additional_reference_number as payerClaimControlNumber,
       adj_res_code.result_code_id
FROM [qc_core].[dbo].accounting_transaction_ap as ata
    LEFT JOIN [qc_core].[dbo].benefit_contract as bc on bc.benefit_contract_id = ata.benefit_contract_id
    LEFT JOIN [qc_core].[dbo].accounting_transaction_ap_claim_detail as atacd on atacd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
    LEFT JOIN [qc_core].[dbo].claim_procedure as cp on cp.claim_procedure_id = atacd.claim_procedure_id
    LEFT JOIN [qc_core].[dbo].claim as claim on claim.claim_id = cp.claim_id
    LEFT JOIN [qc_core].[dbo].claim_payment_run_amount cpra on cpra.claim_procedure_id=cp.claim_procedure_id
    LEFT JOIN [qc_core].[dbo].claim_additional_reference_number claim_ref on claim.claim_id = claim_ref.claim_id
    LEFT JOIN [qc_core].[dbo].adjudication_result_code adj_res_code on claim.claim_id = adj_res_code.claim_id and adj_res_code.result_code_id = 1602
WHERE 1=1
  AND bc.benefit_contract_ud like '787%'
  AND ata.accounting_source_id = 8
  AND cp.adjudication_status_id = 1
  AND claim.adjudication_status_id != 4
  AND claim_ref.claim_additional_reference_number_type_id = 2
GO
