USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_835_payment_testing]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE    VIEW [dbo].[bind_vw_835_payment_testing] AS

-- ============================================================
-- Leg 1: Payment + Mixed
-- Mixed is covered here because the 835 is filed under the
-- real accounting_transaction_ap_id. The SSIS process picks up
-- linked zero_tracking_claim_procedure rows via
-- payment_accounting_transaction_ap_id automatically.
-- ============================================================
SELECT DISTINCT
      payment.accounting_transaction_ap_ud                  AS qc_payment
    , CASE
        WHEN EXISTS (
            SELECT 1 FROM zero_tracking_claim_procedure zcp_chk
            WHERE zcp_chk.payment_accounting_transaction_ap_id = payment.accounting_transaction_ap_id
        ) THEN 'Mixed'
        ELSE 'Payment'
      END                                                    AS payment_type
    , que.disbursement_claim_payment_queue_ud               AS QC_Disbursement_Queue_Name
    , CASE
        WHEN que.disbursement_claim_payment_queue_ud = 'UMR Repricer'          THEN 'uhc'
        WHEN que.disbursement_claim_payment_queue_ud = 'Bind Direct Contracts' THEN 'echo'
      END                                                    AS job_type
    , CAST(payment_detail.check_date AS date)               AS check_date
    , Batch_Record.file_name
    , Batch_Record.batch_id
    , Batch_Record.completed_successfully
FROM qc_core.dbo.accounting_transaction_ap_apply_to AS atap_at WITH (NOLOCK)
    INNER JOIN qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd WITH (NOLOCK)
        ON atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
    INNER JOIN qc_core.dbo.accounting_transaction_ap payment WITH (NOLOCK)
        ON payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
    INNER JOIN qc_core.dbo.accounting_transaction_ap applied_to WITH (NOLOCK)
        ON applied_to.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
    INNER JOIN qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail WITH (NOLOCK)
        ON payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
    INNER JOIN qc_core.dbo.accounting_source WITH (NOLOCK)
        ON accounting_source.accounting_source_id = applied_to.accounting_source_id
    LEFT JOIN qc_core.dbo.disbursement_claim_payment_queue que WITH (NOLOCK)
        ON payment_detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
    LEFT JOIN accounting_transaction_ap_type AS atap_type WITH (NOLOCK)
        ON applied_to.accounting_transaction_ap_type_id = atap_type.accounting_transaction_ap_type_id
    OUTER APPLY (
        SELECT TOP 1 b.batch_id, b.file_name, bt.completed_successfully
        FROM qc_tpm.dbo.batch b WITH (NOLOCK)
            INNER JOIN qc_tpm.dbo.batch_transaction bt WITH (NOLOCK)
                ON bt.batch_id = b.batch_id
            INNER JOIN QC_TPM.dbo.agreement a WITH (NOLOCK)
                ON a.agreement_id = b.agreement_id
            INNER JOIN QC_TPM.dbo.agreement_type at WITH (NOLOCK)
                ON a.agreement_type_id = at.agreement_type_id
            INNER JOIN qc_tpm.dbo.business_partner bp WITH (NOLOCK)
                ON a.business_partner_id = bp.business_partner_id
        WHERE bt.internal_identifier = CAST(payment.accounting_transaction_ap_id AS nvarchar(max))
            AND a.document_exchange_type_id = 'X12835'
        ORDER BY bt.completed_successfully DESC, b.created_date DESC
    ) AS Batch_Record
WHERE accounting_source.golden_key = 'Claims'
    AND payment_detail.accounting_check_print_run_id IS NOT NULL
    AND payment.void_date IS NULL
    AND payment.accounting_transaction_ap_ud NOT IN (
        'Bind Benefits2018121200007', 'UH486 UnitedHealth Group, Inc.2019020800015',
        'Bind Benefits2018091900001', 'Bind Benefits2018100100001',
        'Bind Benefits2018092400001', 'UH489 Specialized Bicycle2019021500002'
    )

UNION

-- ============================================================
-- Leg 2: ZeroPay only (standalone — NOT linked to a real payment)
-- payment_accounting_transaction_ap_id IS NULL guards against
-- Mixed zero-pay lines showing up here (they are already
-- represented in Leg 1 via the real payment ID)
-- ============================================================
SELECT DISTINCT
      ztv.reference_number                                            AS qc_payment
    , 'ZeroPay'                                              AS payment_type
    , q.disbursment_queue                                    AS QC_Disbursement_Queue_Name
    , CASE
        WHEN q.disbursment_queue = 'UMR Repricer'          THEN 'uhc'
        WHEN q.disbursment_queue = 'Bind Direct Contracts' THEN 'echo'
      END                                                    AS job_type
    , CAST(ztv.finalized_date AS date)                      AS check_date
    , Batch_Record.file_name
    , Batch_Record.batch_id
    , Batch_Record.completed_successfully
FROM zero_tracking_vendor_batch ztv
    INNER JOIN vendor v
        ON v.vendor_id = ztv.vendor_id
    INNER JOIN zero_tracking_claim_procedure zcp
        ON ztv.zero_tracking_vendor_batch_id = zcp.zero_tracking_vendor_batch_id
    CROSS APPLY (
        SELECT CASE
                WHEN m.provider_network_nm LIKE '%umr%'          THEN 'UMR Repricer'
                WHEN m.repriced_network IN ('vpn','tos','mas','csp','cor','cmi','cft','bel','med','ice','cap') THEN 'Bind Direct Contracts'
                WHEN m.provider_network_nm LIKE '%p1%'           THEN 'P1'
                WHEN m.provider_network_nm = 'Ascension SmartHealth' THEN 'ash'
                ELSE 'UMR Repricer'
               END AS disbursment_queue
        FROM bind_network_map m
        WHERE m.provider_network_id = zcp.provider_network_id
    ) AS q
    OUTER APPLY (
        SELECT TOP 1 b.batch_id, b.file_name, bt.completed_successfully
        FROM qc_tpm.dbo.batch b WITH (NOLOCK)
            INNER JOIN qc_tpm.dbo.batch_transaction bt WITH (NOLOCK)
                ON bt.batch_id = b.batch_id
            INNER JOIN QC_TPM.dbo.agreement a WITH (NOLOCK)
                ON a.agreement_id = b.agreement_id
            INNER JOIN QC_TPM.dbo.agreement_type at WITH (NOLOCK)
                ON a.agreement_type_id = at.agreement_type_id
            INNER JOIN qc_tpm.dbo.business_partner bp WITH (NOLOCK)
                ON a.business_partner_id = bp.business_partner_id
        WHERE bt.internal_identifier = CAST(ztv.zero_tracking_vendor_batch_id AS nvarchar(max))
            AND a.document_exchange_type_id = 'X12835'
        ORDER BY bt.completed_successfully DESC, b.created_date DESC
    ) AS Batch_Record
WHERE ztv.finalized_date IS NOT NULL
    AND ztv.reference_number IS NOT NULL
    AND zcp.payment_accounting_transaction_ap_id IS NULL  -- exclude Mixed; those are covered in Leg 1

GO
