USE [qc_core]
GO
/****** Object:  View [dbo].[vw_procedure_code_group_included_procedure_codes]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[vw_procedure_code_group_included_procedure_codes]

AS

-- included procedure code ranges
SELECT
pc.procedure_code_id
,pc.procedure_code_ud
,pc.procedure_code_type_id
,pcgpc.procedure_code_group_id
,pcg.procedure_code_group_ud
FROM
procedure_code begin_pc
INNER JOIN
procedure_code_group_procedure_code pcgpc ON pcgpc.begin_procedure_code_id = begin_pc.procedure_code_id
-- specificy included code ranges
AND ISNULL(pcgpc.is_excluded,0)= 0
INNER JOIN
procedure_code end_pc ON pcgpc.end_procedure_code_id = end_pc.procedure_code_id
INNER JOIN
procedure_code_group pcg ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN
procedure_code pc
ON pc.procedure_code_ud BETWEEN begin_pc.procedure_code_ud AND end_pc.procedure_code_ud

EXCEPT

-- excluded procedure code ranges
SELECT
pc.procedure_code_id
,pc.procedure_code_ud
,pc.procedure_code_type_id
,pcgpc.procedure_code_group_id
,pcg.procedure_code_group_ud
FROM
procedure_code begin_pc
INNER JOIN
procedure_code_group_procedure_code pcgpc ON pcgpc.begin_procedure_code_id = begin_pc.procedure_code_id
-- specificy included excluded ranges
AND ISNULL(pcgpc.is_excluded,0)= 1
INNER JOIN
procedure_code end_pc ON pcgpc.end_procedure_code_id = end_pc.procedure_code_id
INNER JOIN
procedure_code_group pcg ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN
procedure_code pc
ON pc.procedure_code_ud BETWEEN begin_pc.procedure_code_ud AND end_pc.procedure_code_ud
GO
