USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_accumulator_seed_details_v3]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[bind_vw_accumulator_seed_details_v3] AS
WITH
  family_eligibility_member AS (
   SELECT
     member_id
   , family_eligibility_member_id
   , family_eligibility_id
   , relationship_to_insured_id
   , rank () OVER (PARTITION BY member_id ORDER BY created_date DESC) rownum
   FROM qc_core.dbo.family_eligibility_member with(nolock)
), member_info AS (
	SELECT distinct   member_fem.member_id as internal_member_id
		, member_mpi.id_value as member_number
		, cli_nm.client_nm AS employer_name
		, benefit_contract_ud as employer_group_number
		, bp.benefit_plan_ud as employer_group_plan
		, bc.linked_accumulator_set_id
		, member_fembp.family_eligibility_member_benefit_plan_id
		, cast(bcp.effective_from as date) as benefit_effective_from
		, cast(isnull(bcp.effective_thru,DATEADD(day,-1,dateadd(year,1,bcp.effective_from))) as date) as benefit_effective_thru
	from family_eligibility_member member_fem with(nolock)
			inner join member_personal_id member_mpi with(nolock)
				on member_mpi.member_id = member_fem.member_id
			inner join member_id_type member_mit with(nolock)
				on member_mpi.member_id_type_id = member_mit.member_id_type_id
					and member_mit.golden_key = 'pid'
			inner join family_eligibility_member_benefit_plan member_fembp with(nolock)
				on member_fem.family_eligibility_member_id = member_fembp.family_eligibility_member_id
			inner join family_eligibility member_fe with(nolock)
				on member_fe.family_eligibility_id = member_fem.family_eligibility_id
			inner join benefit_contract bc with(nolock)
				on bc.benefit_contract_id = member_fe.benefit_contract_id
			inner join benefit_contract_period bcp with(nolock)
				on bc.benefit_contract_id = bcp.benefit_contract_id
			inner join client_group cg with(nolock)
				on bc.client_group_id = cg.client_group_id
			inner join client_name cli_nm with(nolock)
				on cg.client_id = cli_nm.client_id
					and cli_nm.primary_name = 1
			inner join benefit_plan bp with(nolock)
				on bp.benefit_plan_id = member_fembp.benefit_plan_id
			inner join benefit_contract_period_benefit_plan bcpbp with(nolock)
				on bp.benefit_plan_id = bcpbp.benefit_plan_id
					and bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
	where 1 = 1
)
SELECT
	  'Member' accumulator_type
	, 'Seed' AS source
	, mi.member_number
	, mi.employer_name
	, mi.employer_group_number
	, mi.employer_group_plan
	, fe.family_eligibility_ud subscriber_member_number
	, cast(asv.created_date as date) received_date
	, asv.comment claim_ud
	, cast(asv.modified_date as date) modified_date
	, '1' claim_line_sequence
	, '' procedure_code_ud
	, CAST(asv.effective_date AS date) service_from_date
	, CAST(asv.effective_date AS date) service_thru_date
	, asv.accumulator_seed_amount amount
	, ac.accumulator_class_ud
	, afaca.accumulator_framework_accumulator_class_accumulator_ud
	, afaca2.accumulator_framework_accumulator_class_accumulator_ud target_accumulator_framework_accumulator_class_accumulator_ud
	, a.accumulator_ud
	, 'Closed' adjudication_status_ud
	, (CASE WHEN (a.accumulator_ud = 'Calendar Year') THEN (concat(CAST(datepart(yyyy,asv.effective_date) AS varchar(4)), '-01-01')) WHEN (accumulator_ud = 'Lifetime_Rollover') THEN '2018-01-01' ELSE mi.benefit_effective_from END) accumulator_effective_from
	, (CASE WHEN (a.accumulator_ud = 'Calendar Year') THEN (concat(CAST(datepart(yyyy,asv.effective_date) AS varchar(4)), '-12-31')) WHEN (accumulator_ud = 'Lifetime_Rollover') THEN '2999-01-01' ELSE mi.benefit_effective_thru END) accumulator_effective_thru
	, fem.family_eligibility_id
FROM accumulator_seed_value asv with(nolock)
		left join qc_core.dbo.family_eligibility_member_benefit_plan fembp  with(nolock)
			on fembp.family_eligibility_member_benefit_plan_id = asv.family_eligibility_member_benefit_plan_id 
		left join family_eligibility_member fem  with(nolock)
			on fem.family_eligibility_member_id = fembp.family_eligibility_member_id 
				and fem.rownum = 1
		left join qc_core.dbo.family_eligibility fe  with(nolock)
			on fe.family_eligibility_id = fem.family_eligibility_id 
		left join accumulator_framework_accumulator_class_accumulator afaca with(nolock)
			ON asv.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
		left join accumulator_framework_accumulator_class afac with(nolock)
			ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
		left join accumulator_class ac with(nolock)
			ON afac.accumulator_class_id = ac.accumulator_class_id
		left join accumulator a with(nolock)
			ON a.accumulator_id = afaca.accumulator_id
		left join member_info mi  with(nolock)
			on asv.effective_date between mi.benefit_effective_from and mi.benefit_effective_thru
				and mi.internal_member_id = fem.member_id
		left join linked_accumulator la with(nolock)
				on la.linked_accumulator_id = mi.linked_accumulator_set_id
		left join linked_accumulator_detail lad with(nolock)
			ON la.linked_accumulator_id = lad.linked_accumulator_id 
				and afaca.accumulator_framework_accumulator_class_accumulator_id = lad.source_accumulator_framework_accumulator_class_accumulator_id
		left join accumulator_framework_accumulator_class_accumulator afaca2 with(nolock)
			ON lad.target_accumulator_framework_accumulator_class_accumulator_id = afaca2.accumulator_framework_accumulator_class_accumulator_id
   

GO
