USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_adjudication_result_code]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  

CREATE VIEW [dbo].[bind_vw_adjudication_result_code] AS

Select  arc.adjudication_result_code_id
		, arc.claim_procedure_id 
		, arc.claim_id as internal_claim_id
		, arc.comment 
		, rc.result_code_ud as result_code
		, rc.long_message
		, rcs.result_code_status_ud as result_code_status
		, arco.created_user_name as override_user
		, rcs_override.result_code_status_ud as result_code_status_override
		, use_on_member_report
		, use_on_provider_report
from adjudication_result_code arc with(nolock)
	left join result_code rc with(nolock)
		on arc.result_code_id = rc.result_code_id
	left join result_code_status rcs with(nolock)
		on arc.result_code_status_id = rcs.result_code_status_id
	left join adjudication_result_code_override arco with(nolock)
		on arc.adjudication_result_code_id = arco.adjudication_result_code_id
	left join result_code_status as rcs_override with(nolock)
		on arco.result_code_status_id = rcs_override.result_code_status_id


GO
