USE [qc_core]
GO
/****** Object:  View [dbo].[vw_employer_group_tin_reference]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_employer_group_tin_reference]
AS
SELECT
tr.tin_reference_id,
tr.tax_identification_number
FROM
tin_reference tr
LEFT JOIN cms_tin_id_type ctt
ON tr.cms_tin_id_type_id = ctt.cms_tin_id_type_id
WHERE
ctt.golden_key IN ('EMPLOYER_E','SPONSOR_S','FEDERAL_F','FOREIGN_Z')
GO
