USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_bind_umr_overpayment_info]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[bind_vw_bind_umr_overpayment_info] AS
SELECT
	pc.claim_id,
	c.claim_ud AS qc_claim_number,
	carn.additional_reference_number AS master_claim_number,
	'P' AS claim_type,
	c.billing_provider_id,
	CASE
		WHEN LEN(pn.name_first) > 0
			THEN CONCAT(pn.name_last,', ',pn.name_first)
			ELSE pn.name_last
	END
	AS billing_provider,
	cgn.client_group_nm as plan_sponsor_name,
	pcai.additional_information_selection_value AS overpayment_selection_value,
	pcai.additional_information_value AS overpayment_amount,
	ait.additional_information_topic_ud AS overpayment_topic,
	ait.[description] AS overpayment_topic_description,
	cast(pcai.effective_from AS DATE) AS overpayment_effective_from,
	cast(pcai.effective_thru AS DATE) AS overpayment_effective_thru,
	pcai.comment AS claim_additional_information_comment,
	pcai.active AS claim_additional_information_active,
	bo.processed AS bind_overpayment_processed,
	bo.control_number AS qc_control_number,
	bo.letter_type AS letter_type,
	bo.[file_name] AS letter_file_name,
	bo.created_at AS bind_overpayment_created_at,
	bo.updated_at AS bind_overpayment_updated_at,
	pcai.created_date AS bind_overpayment_entered_at,
	bo.failed AS bind_overpayment_failed
FROM qc_core.dbo.professional_claim_additional_information pcai WITH(NOLOCK)
		INNER JOIN qc_core.dbo.professional_claim pc WITH(NOLOCK)
			ON pc.professional_claim_id = pcai.professional_claim_id
		INNER JOIN qc_core.dbo.claim c WITH(NOLOCK)
			ON c.claim_id = pc.claim_id
		INNER JOIN qc_core.dbo.additional_information_topic ait WITH(NOLOCK)
			ON ait.additional_information_topic_id = pcai.additional_information_topic_id
		LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
			INNER JOIN qc_core.dbo.claim_additional_reference_number_type carnt WITH(NOLOCK)
				ON carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					AND carnt.golden_key IN ('D9')
			ON carn.claim_id = c.claim_id
		LEFT JOIN qc_core.dbo.bind_overpayments bo WITH(NOLOCK)
			ON bo.claim_id = c.claim_id
		LEFT JOIN qc_core.dbo.provider_name pn WITH(NOLOCK)
			ON pn.provider_id = c.billing_provider_id
				AND pn.is_primary = 1
		LEFT JOIN family_eligibility_member_benefit_plan fembp WITH(NOLOCK)
			ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
		LEFT JOIN family_eligibility_member fem WITH(NOLOCK)
			ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
		LEFT JOIN family_eligibility fe WITH(NOLOCK)
			ON fem.family_eligibility_id = fe.family_eligibility_id
		LEFT JOIN benefit_contract bc WITH(NOLOCK)
			ON fe.benefit_contract_id = bc.benefit_contract_id
		LEFT JOIN client_group cg WITH(NOLOCK) 
			ON bc.client_group_id = cg.client_group_id
		LEFT JOIN client_group_name cgn WITH(NOLOCK)
			ON cg.client_group_id = cgn.client_group_id
				AND cgn.primary_name = 1
		OUTER APPLY (
						SELECT TOP 1 
							pn.provider_network_nm AS override_picked_network,
							arko.created_user_name AS override_user,
							pn_auto.provider_network_nm AS auto_picked_network
						FROM qc_core.dbo.claim_procedure cp WITH(NOLOCK)
							INNER JOIN qc_core.dbo.adjudication_result_key ark WITH(NOLOCK)
								ON cp.claim_procedure_id = ark.claim_procedure_id
							LEFT JOIN qc_core.dbo.adjudication_result_key_override arko WITH(NOLOCK)
								ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
									AND arko.provider_network_id IS NOT NULL
							LEFT JOIN qc_core.dbo.provider_network pn WITH(NOLOCK)
								ON arko.provider_network_id = pn.provider_network_id
							LEFT JOIN qc_core.dbo.provider_network pn_auto WITH(NOLOCK)
								ON ark.provider_network_id = pn_auto.provider_network_id
						WHERE 1 = 1
						AND cp.claim_id = c.claim_id
						ORDER BY
							cp.claim_line_sequence
					) AS adj_pn
WHERE 1 = 1
AND COALESCE(adj_pn.override_picked_network, adj_pn.auto_picked_network, '') LIKE 'UMR%'
UNION ALL
SELECT
	ic.claim_id,
	c.claim_ud AS qc_claim_number,
	carn.additional_reference_number AS master_claim_number,
	'I' AS claim_type,
	c.billing_provider_id,
	CASE
		WHEN LEN(pn.name_first) > 0
			THEN CONCAT(pn.name_last,', ',pn.name_first)
			ELSE pn.name_last
	END
	AS billing_provider,
	cgn.client_group_nm as plan_sponsor_name,
	icai.additional_information_selection_value AS overpayment_selection_value,
	icai.additional_information_value AS overpayment_amount,
	ait.additional_information_topic_ud AS overpayment_topic,
	ait.[description] AS overpayment_topic_description,
	cast(icai.effective_from AS DATE) AS overpayment_effective_from,
	cast(icai.effective_thru AS DATE) AS overpayment_effective_thru,
	icai.comment AS claim_additional_information_comment,
	icai.active AS claim_additional_information_active,
	bo.processed AS bind_overpayment_processed,
	bo.control_number AS qc_control_number,
	bo.letter_type AS letter_type,
	bo.[file_name] AS letter_file_name,
	bo.created_at AS bind_overpayment_created_at,
	bo.updated_at AS bind_overpayment_updated_at,
	icai.created_date AS bind_overpayment_entered_at,
	bo.failed AS bind_overpayment_failed
FROM qc_core.dbo.institutional_claim_additional_information icai WITH(NOLOCK)
		INNER JOIN qc_core.dbo.institutional_claim ic WITH(NOLOCK)
			ON ic.institutional_claim_id = icai.institutional_claim_id
		INNER JOIN qc_core.dbo.claim c WITH(NOLOCK)
			ON c.claim_id = ic.claim_id
		INNER JOIN qc_core.dbo.additional_information_topic ait WITH(NOLOCK)
			ON ait.additional_information_topic_id = icai.additional_information_topic_id
		LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
			INNER JOIN qc_core.dbo.claim_additional_reference_number_type carnt WITH(NOLOCK)
				ON carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					AND carnt.golden_key IN ('D9')
			ON carn.claim_id = c.claim_id
		LEFT JOIN qc_core.dbo.bind_overpayments bo WITH(NOLOCK)
			ON bo.claim_id = c.claim_id
		LEFT JOIN qc_core.dbo.provider_name pn WITH(NOLOCK)
			ON pn.provider_id = c.billing_provider_id
				AND pn.is_primary = 1
		LEFT JOIN family_eligibility_member_benefit_plan fembp WITH(NOLOCK)
			ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
		LEFT JOIN family_eligibility_member fem WITH(NOLOCK)
			ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
		LEFT JOIN family_eligibility fe WITH(NOLOCK)
			ON fem.family_eligibility_id = fe.family_eligibility_id
		LEFT JOIN benefit_contract bc WITH(NOLOCK)
			ON fe.benefit_contract_id = bc.benefit_contract_id
		LEFT JOIN client_group cg WITH(NOLOCK) 
			ON bc.client_group_id = cg.client_group_id
		LEFT JOIN client_group_name cgn WITH(NOLOCK)
			ON cg.client_group_id = cgn.client_group_id
				AND cgn.primary_name = 1
		OUTER APPLY (
						SELECT TOP 1 
							pn.provider_network_nm AS override_picked_network,
							arko.created_user_name AS override_user,
							pn_auto.provider_network_nm AS auto_picked_network
						FROM qc_core.dbo.claim_procedure cp WITH(NOLOCK)
							INNER JOIN qc_core.dbo.adjudication_result_key ark WITH(NOLOCK)
								ON cp.claim_procedure_id = ark.claim_procedure_id
							LEFT JOIN qc_core.dbo.adjudication_result_key_override arko WITH(NOLOCK)
								ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
									AND arko.provider_network_id IS NOT NULL
							LEFT JOIN qc_core.dbo.provider_network pn WITH(NOLOCK)
								ON arko.provider_network_id = pn.provider_network_id
							LEFT JOIN qc_core.dbo.provider_network pn_auto WITH(NOLOCK)
								ON ark.provider_network_id = pn_auto.provider_network_id
						WHERE 1 = 1
						AND cp.claim_id = c.claim_id
						ORDER BY
							cp.claim_line_sequence
					) AS adj_pn
WHERE 1 = 1
AND COALESCE(adj_pn.override_picked_network, adj_pn.auto_picked_network, '') LIKE 'UMR%'



GO
