USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_child_claim_identifier_reference_250124]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[bind_vw_child_claim_identifier_reference_250124] AS

with cte_S1 as (select distinct linked_claim_id from  qc_core.dbo.linked_claim_information lci
	where not exists (select 1 from qc_core.dbo.claim_additional_reference_number c
	where lci.claim_id=claim_id and c.claim_additional_reference_number_type_id in (7))
		or not exists (select 1 from qc_core.dbo.claim_additional_reference_number c
		where lci.claim_id=claim_id and c.claim_additional_reference_number_type_id in (2)))


, original_claim_reference as (
	select
		lci.claim_id as internal_claim_id,
		min(lci.linked_claim_id) as original_claim_id
	from qc_core.dbo.linked_claim_information lci with(nolock)
	where 1 = 1
		and linked_claim_id in (select linked_claim_id from cte_S1)
	group by
		lci.claim_id
)
, claim_identifier_reference as (
	select
		pivot_carn.claim_id as internal_claim_id,
		pivot_carn.d9,
		pivot_carn.clearing_house_claim_id
	from (
			select distinct
				case
					when carnt.golden_key not in ('D9','F8')
						then lower(replace(carnt.claim_additional_reference_number_type_ud,' ','_'))
					when carnt.golden_key in ('D9')
						then 'd9'
					when carnt.golden_key in ('F8')
						then 'clearing_house_claim_id'
				end
				as claim_additional_reference_number_type,
				carn.claim_id,
				carn.additional_reference_number
			from qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
			WHERE 1 = 1
		) t
		pivot (
			max(additional_reference_number)
			for claim_additional_reference_number_type in (
															d9,
															clearing_house_claim_id
															)
				) pivot_carn
	where 1 = 1
)
select
	ocr.internal_claim_id,
	ocr.original_claim_id,
	cir.d9,
	cir.clearing_house_claim_id
from original_claim_reference ocr
		inner join claim_identifier_reference cir
			on cir.internal_claim_id = ocr.original_claim_id
where 1 = 1




GO
