USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_fuzzy_matched_members]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create VIEW [dbo].[bind_vw_fuzzy_matched_members] AS


select c.claim_ud
	, c.claim_id as internal_claim_id
	, ads.adjudication_status_ud as claim_status
	, mpi.patient_first_name + ' ' + mpi.patient_last_name as missing_patient_name
	, mpi.ein_number as missing_patient_number
	, mpi.date_of_birth as missing_patient_date_of_birth
	, mn.name_first + ' ' + mn.name_last as matched_patient_name
	, mid.id_value as matched_member_number
	, m.birth_date as matched_member_date_of_birth
	, sub_mid.id_value as subscriber_member_number
	, ampi.created_date as claim_created_date
from BIND_archv_missing_patient_information ampi
	inner join claim c 
		on ampi.claim_id = c.claim_id
	inner join adjudication_status ads
		 on c.adjudication_status_id = ads.adjudication_status_id
	inner join missing_patient_information mpi
		on c.claim_id = mpi.claim_id
	inner join family_eligibility_member_benefit_plan fembp
		on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
	inner join family_eligibility_member fem
		on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
	inner join member m
		on fem.member_id = m.member_id
	inner join member_name mn
		on m.member_id = mn.member_id
			and mn.is_primary = 1
	inner join member_personal_id mid 
		on m.member_id = mid.member_id
	inner join member_id_type mit
		on mid.member_id_type_id = mit.member_id_type_id
			and mit.member_id_type_ud = 'PID'
	cross apply ( select ca_fem.member_id as subscirber_member_id
				  from family_eligibility ca_fe 
					inner join family_eligibility_member ca_fem
						on ca_fe.family_eligibility_id = ca_fem.family_eligibility_id
					inner join relationship_to_insured ca_rti 
						on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
				  where ca_fe.family_eligibility_id = fem.family_eligibility_id
					and ca_rti.relationship_to_insured_ud = 'self') as sub_member
	inner join member_personal_id sub_mid 
		on sub_member.subscirber_member_id = sub_mid.member_id
	inner join member_id_type sub_mit
		on sub_mid.member_id_type_id = sub_mit.member_id_type_id
			and sub_mit.member_id_type_ud = 'PID'



GO
