USE [qc_core]
GO
/****** Object:  View [dbo].[vw_provider_practice_office_contact_address]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_provider_practice_office_contact_address]
WITH SCHEMABINDING
AS
SELECT     ppo.provider_id, ppo.default_practice_office AS is_default_practice_office, poc.is_primary AS is_primary_practice_office_contact,
ca.primary_for_contact AS is_primary_contact_address, a.address_1, a.address_2, a.locale_id, a.delivery_route
FROM         dbo.provider_practice_office AS ppo INNER JOIN
dbo.practice_office_contact AS poc ON poc.practice_office_id = ppo.practice_office_id INNER JOIN
dbo.contact AS c ON c.contact_id = poc.contact_id INNER JOIN
dbo.contact_address AS ca ON ca.contact_id = c.contact_id INNER JOIN
dbo.address AS a ON a.address_id = ca.address_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties =
Begin PaneConfigurations =
Begin PaneConfiguration = 0
NumPanes = 4
Configuration = "(H (1[41] 4[27] 2[14] 3) )"
End
Begin PaneConfiguration = 1
NumPanes = 3
Configuration = "(H (1 [50] 4 [25] 3))"
End
Begin PaneConfiguration = 2
NumPanes = 3
Configuration = "(H (1 [50] 2 [25] 3))"
End
Begin PaneConfiguration = 3
NumPanes = 3
Configuration = "(H (4 [30] 2 [40] 3))"
End
Begin PaneConfiguration = 4
NumPanes = 2
Configuration = "(H (1 [56] 3))"
End
Begin PaneConfiguration = 5
NumPanes = 2
Configuration = "(H (2 [66] 3))"
End
Begin PaneConfiguration = 6
NumPanes = 2
Configuration = "(H (4 [50] 3))"
End
Begin PaneConfiguration = 7
NumPanes = 1
Configuration = "(V (3))"
End
Begin PaneConfiguration = 8
NumPanes = 3
Configuration = "(H (1[56] 4[18] 2) )"
End
Begin PaneConfiguration = 9
NumPanes = 2
Configuration = "(H (1 [75] 4))"
End
Begin PaneConfiguration = 10
NumPanes = 2
Configuration = "(H (1[66] 2) )"
End
Begin PaneConfiguration = 11
NumPanes = 2
Configuration = "(H (4 [60] 2))"
End
Begin PaneConfiguration = 12
NumPanes = 1
Configuration = "(H (1) )"
End
Begin PaneConfiguration = 13
NumPanes = 1
Configuration = "(V (4))"
End
Begin PaneConfiguration = 14
NumPanes = 1
Configuration = "(V (2))"
End
ActivePaneConfig = 0
End
Begin DiagramPane =
Begin Origin =
Top = -288
Left = 0
End
Begin Tables =
Begin Table = "ppo"
Begin Extent =
Top = 6
Left = 38
Bottom = 125
Right = 258
End
DisplayFlags = 280
TopColumn = 0
End
Begin Table = "poc"
Begin Extent =
Top = 126
Left = 38
Bottom = 245
Right = 264
End
DisplayFlags = 280
TopColumn = 0
End
Begin Table = "c"
Begin Extent =
Top = 246
Left = 38
Bottom = 365
Right = 226
End
DisplayFlags = 280
TopColumn = 0
End
Begin Table = "ca"
Begin Extent =
Top = 246
Left = 264
Bottom = 365
Right = 475
End
DisplayFlags = 280
TopColumn = 0
End
Begin Table = "a"
Begin Extent =
Top = 366
Left = 38
Bottom = 485
Right = 300
End
DisplayFlags = 280
TopColumn = 12
End
End
End
Begin SQLPane =
End
Begin DataPane =
Begin ParameterDefaults = ""
End
End
Begin CriteriaPane =
Begin ColumnWidths = 11
Column = 1440
Alias = 900
Table = 1170
Output = 720
Append = 1400
NewValue = 1170
SortType = 1350
SortOrder = 1410
GroupBy = 1350
Filter = 1350
Or = 1350
Or = 1350
Or = 1350
End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_provider_practice_office_contact_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_provider_practice_office_contact_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_provider_practice_office_contact_address'
GO
