USE [qc_core]
GO
/****** Object:  View [dbo].[temp_claim]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 

CREATE      VIEW [dbo].[temp_claim] AS

SELECT [claim_id]
      ,[claim_ud]
      ,[claim_form_type_id]
      ,[duplicate_claim]
      ,[adjusted_claim]
      ,[non_clean_claim]
      ,[replacement_claim]
      ,[void_claim]
      ,[claim_payee_id]
      ,[clean_date]
      ,[received_date]
      ,[family_eligibility_member_benefit_plan_id]
      ,[use_eligibility_entered]
      ,[referral_id]
      ,[episode_id]
      ,[display_currency_id]
      ,[provider_id]
      ,[provider_specialty_type_id]
      ,[provider_identifier_id]
      ,[rendering_provider_additional_ud]
      ,[rendering_provider_taxonomy_code]
      ,[referring_provider_id]
      ,[referring_provider_specialty_type_id]
      ,[referring_provider_identifier_id]
      ,[referring_provider_additional_ud]
      ,[billing_provider_id]
      ,[billing_provider_specialty_type_id]
      ,[billing_provider_identifier_id]
      ,[billing_provider_additional_ud]
      ,[billing_provider_taxonomy_code]
      ,[billing_provider_tax_id_number]
      ,[practice_office_id]
      ,[vendor_id]
      ,[vendor_additional_ud]
      ,[provider_network_id]
      ,[provider_signature_on_file]
      ,[provider_signature_on_file_date]
      ,[subscriber_signature_on_file_id]
      ,[subscriber_signature_on_file_date]
      ,[patient_guardian_signature_on_file]
      ,[patient_guardian_signature_on_file_date]
      ,[ppo_claim_number]
      ,[repriced_network]
      ,[document_serial_number]
      ,[adjudication_status_id]
      ,[claim_payment_process_status_id]
      ,[paper_claim]
      ,[user_credential]
      ,[original_source_gk]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      --,[object_row_version]
  FROM [dbo].[claim] with(nolock)
  where claim_id = 35893314 


GO
