USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claims]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*

This view brings together relevant information about claims in Quantum Choice. Includes the some of the following:
    - 3 digit reprice code
    - What the 5:30 job matched the repricer code to
    - What the 5:30 job should have matched to
    - If there was a provider network override what was it set to 
    - What did the system pick for the provider network when adjudicating 
    - Vendor name and address
    - ref-d9
    - ppo


*/

  

CREATE   VIEW [dbo].[bind_vw_claims] AS

Select 	  c.claim_id as internal_claim_id
		, c.claim_ud
		, c.duplicate_claim
		, lci.linked_claim_id as parent_claim_id
		, cp_neg.is_negated
		, c.created_date as claim_Created_Date
		, c.modified_date as claim_modified_date
		, cast(c.received_date as date) as claim_received_date
		, c.created_user_name
		, c.modified_user_name
		,case 
			when tpm_batch.batch_id is null then 'Manual'
			else 'Batch'
		end as import_method
		, tpm_batch.file_name
		, tpm_batch.batch_import_date
		, external_claim_number.additional_reference_number as 'D9'
		, repriced_claim_number.additional_reference_number as 'ppo'
		, clearing_house_claim_id.additional_reference_number as clearinghouse_claim_id
		, external_identifier as batch_external_identifier
		, ads.adjudication_status_ud
		, c.repriced_network
		, pn.provider_network_nm as Current_Provider_Override
		, pn.provider_network_id
		, isnull(pn_fixed.provider_network_nm, 'No Match') as Matched_Provider_Override
		--, claim_line_sequence
		, isnull(pn_override.provider_network_nm, 'No Override Value') as manual_provider_network_override
		, isnull(pn_override.auto_picked_network, 'No Auto Picked Value') as auto_picked_provider_network
		, pn_override.override_user
		, vpt.vendor_pay_to_nm as Vendor_Override_Name
		, c.vendor_id
		, case 
			when vendor_address.address_2 is not null then concat_ws(', ', vendor_address.address_1, vendor_address.address_2, l.city, s.state_ud, l.postal_code)
			else concat_ws(', ', vendor_address.address_1, l.city, s.state_ud, l.postal_code)
			end as Vendor_address
		, c.provider_id as rendering_provider_id
		, c.billing_provider_id as billing_provider_id
		, fem.member_id as internal_member_id
		, c.family_eligibility_member_benefit_plan_id as claim_family_eligibility_member_benefit_plan_id
		, hist_car.is_auto_adjudicated
		, orig_hist_car.is_auto_adjudicated as orig_is_auto_adjudicated
		, case
			when c.modified_user_name = 'bind\qcprod' and ads.adjudication_status_ud = 'approved' then 1
			when ads.adjudication_status_ud <> 'approved' then 0
			else isnull(hist_car.is_auto_adjudicated,0)
			end as is_auto_adjudicated_computed
		, case
			when orig_hist_car.is_auto_adjudicated = 1 and orig_hist_car.claim_adjudication_status = 'approved' then 1
			else 0
			end as new_is_auto_adjudicated_computed
		, bc.benefit_contract_ud as employer_group_number
		, cgn.client_group_nm as employer_group_name
		, cast(service_dates.service_from_date as date) as service_from_date
		, cast(service_dates.service_thru_date as date) as service_thru_date
from qc_core.dbo.claim c with(nolock)
		left join family_eligibility_member_benefit_plan fembp with(nolock)
			on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
		left join family_eligibility_member fem with(nolock)
			on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
		left join family_eligibility fe with(nolock)
			on fem.family_eligibility_id = fe.family_eligibility_id
		left join benefit_contract bc with(nolock)
			on fe.benefit_contract_id = bc.benefit_contract_id
		left join client_group cg with(nolock) 
			on bc.client_group_id = cg.client_group_id
		left join client_group_name cgn with(nolock)
			on cg.client_group_id = cgn.client_group_id
				and cgn.primary_name = 1
		outer apply (SELECT carn.claim_id, carn.additional_reference_number 
					FROM claim_additional_reference_number carn with(nolock)
						inner join claim_additional_reference_number_type carnt with(nolock)
							 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					WHERE carn.claim_id = c.claim_id
						AND carnt.golden_key = 'D9') as external_claim_number --9A
		outer apply (SELECT carn.claim_id, carn.additional_reference_number 
					FROM claim_additional_reference_number carn with(nolock)
						inner join claim_additional_reference_number_type carnt with(nolock)
							 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					WHERE carn.claim_id = c.claim_id
						AND carnt.golden_key = '9A') as repriced_claim_number
		outer apply (SELECT carn.claim_id, carn.additional_reference_number 
					FROM claim_additional_reference_number carn with(nolock)
						inner join claim_additional_reference_number_type carnt with(nolock)
							 on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
					WHERE carn.claim_id = c.claim_id
						AND carnt.golden_key = 'F8') as clearing_house_claim_id
		outer apply (select top 1 *
					from linked_claim_information oa_lci with(nolock)
					where c.claim_id = oa_lci.claim_id
					order by oa_lci.linked_claim_id
					) as lci
		outer apply (Select b.batch_id
							, bt.external_identifier
							, b.created_date as batch_import_date
							, b.file_name
					 from qc_tpm.dbo.batch b with(nolock)
					 	inner join qc_tpm.dbo.batch_transaction bt with(nolock)
					 		on b.batch_id = bt.batch_id
					 	inner join qc_tpm.dbo.agreement a with(nolock)
					 		on b.agreement_id = a.agreement_id
					 where a.document_exchange_type_id in ('X12837P','X12837IA2')
						and bt.internal_identifier = cast(c.claim_id as nvarchar(50))
					 ) as tpm_batch
		left join qc_core.dbo.adjudication_status ads  with(nolock)
			on c.adjudication_status_id = ads.adjudication_status_id
		left join provider_network pn with(nolock)
			on c.provider_network_id = pn.provider_network_id
		outer apply (select top 1 *
					 from qc_history.DBO.claim_adjudication_result oa_hist_car with(nolock)
					 where c.claim_id = oa_hist_car.claim_id
					 order by oa_hist_car.original_time_sent desc
					 ) as hist_car
		outer apply (select top 1 *
			 from qc_history.DBO.claim_adjudication_result or_hist_car with(nolock)
			 where c.claim_id = or_hist_car.claim_id
				and or_hist_car.adjudication_queue_ud = 'All Claims'
			order by or_hist_car.original_time_sent desc
			 ) as orig_hist_car
		left join bind_network_map pn_fixed
			on c.repriced_network = pn_fixed.repriced_network
		left join vendor_pay_to vpt with(nolock)
			on c.vendor_id = vpt.vendor_id
		left join address as vendor_address with(nolock)
			on vpt.address_id = vendor_address.address_id 
		left join locale l
			on vendor_address.locale_id = l.locale_id
		left join state s 
			on l.state_id = s.state_id
		outer apply ( select top 1 *
					  from claim_procedure neg_cp
					  where c.claim_id = neg_cp.claim_id
						and neg_cp.is_negated = 1
					) as cp_neg
		outer apply (Select top 1    pn.provider_network_nm
									, arko.created_user_name as override_user
									, pn_auto.provider_network_nm as auto_picked_network
					 from claim_procedure cp with(nolock)
						inner join adjudication_result_key ark with(nolock)
							on cp.claim_procedure_id = ark.claim_procedure_id
						left join adjudication_result_key_override arko  with(nolock)
							on ark.adjudication_result_key_id = arko.adjudication_result_key_id
								and arko.provider_network_id is not null
						left join provider_network pn with(nolock)
							on arko.provider_network_id = pn.provider_network_id
						left join provider_network pn_auto with(nolock)
							on ark.provider_network_id = pn_auto.provider_network_id
					 where c.claim_id = cp.claim_id
					 order by cp.claim_line_sequence
					) as pn_override
		outer apply ( select min(ca_cp.service_from_date) as service_from_date
							, max(ca_cp.service_thru_date) as service_thru_date
					  from claim_procedure ca_cp with(nolock)
					  where ca_cp.claim_id = c.claim_id) as service_dates


GO
