USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_eob_member_responsibility_error]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_eob_member_responsibility_error] AS
with
adjudication_result_code_cte AS
(
    SELECT * FROM
    (  
        SELECT
            arc.claim_procedure_id
            ,rc.result_code_ud
            ,rc.long_message
            ,CASE
                WHEN mrpoo.report_print_override_option_ud = 'Display' THEN 1
                WHEN (rc.use_on_member_report =1 AND (mrpoo.report_print_override_option_ud <> 'Hide' OR mrpoo.report_print_override_option_ud IS NULL)) THEN 1
                ELSE 0 
            END AS final_use_on_member_report
            ,CASE
                WHEN prpoo.report_print_override_option_ud = 'Display' THEN 1
                WHEN (rc.use_on_provider_report = 1 AND (prpoo.report_print_override_option_ud <> 'Hide' OR prpoo.report_print_override_option_ud IS NULL)) THEN 1
                ELSE 0 
            END AS final_use_on_provider_report
        FROM adjudication_result_code arc
        LEFT JOIN result_code rc ON arc.result_code_id = rc.result_code_id
        LEFT JOIN adjudication_result_code_override arco ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        LEFT JOIN report_print_override_option mrpoo ON arco.member_report_print_override_option_id = mrpoo.report_print_override_option_id
        LEFT JOIN report_print_override_option prpoo ON arco.provider_report_print_override_option_id = prpoo.report_print_override_option_id
    ) arc_temp
    WHERE final_use_on_member_report = 1 OR final_use_on_provider_report = 1
)
select c.claim_ud
		, cp.claim_line_sequence
		, cpps.claim_payment_process_status_ud as claim_line_payment_status
		, cast(atapd.check_date as date) check_date
		, cast(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('TOTAL_MEMBER_RESPONSIBILITY', cp.claim_procedure_id) as money) as TOTAL_MEMBER_RESPONSIBILITY
		, count(distinct arc_cte.final_use_on_member_report) as member_report_count
		, count(distinct arc_cte.final_use_on_provider_report) as provider_report_count
		, c.repriced_network as network
		, c.modified_user_name as claim_modified_user_name
		, bc.benefit_contract_ud as employer_group_number
		, cgn.client_group_nm as employer_group_name
		, claim_status.adjudication_status_ud as claim_status
from claim c
	inner join adjudication_status claim_status
		on c.adjudication_status_id = claim_status.adjudication_status_id
	inner join claim_procedure cp 
		on c.claim_id = cp.claim_id
	inner join adjudication_status cp_status
		on cp.adjudication_status_id = cp_status.adjudication_status_id
	inner join family_eligibility_member_benefit_plan fembp
		on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
	inner join family_eligibility_member fem 
		on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
	inner join family_eligibility fe
		on fem.family_eligibility_id = fe.family_eligibility_id
	inner join benefit_contract bc
		on fe.benefit_contract_id = bc.benefit_contract_id
	inner join client_group cg
		on bc.client_group_id = cg.client_group_id
	inner join client_group_name cgn
		on cg.client_group_id = cgn.client_group_id
			and cgn.primary_name = 1
	left join claim_payment_process_status cpps
		on cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
	LEFT JOIN accounting_transaction_ap_claim_detail atacd
	    ON atacd.claim_procedure_id = cp.claim_procedure_id
	LEFT JOIN accounting_transaction_ap ataTrans
	    ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_apply_to ataat
	    ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_payment_detail atapd
		ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	LEFT JOIN adjudication_result_code_cte arc_cte
		ON arc_cte.claim_procedure_id = cp.claim_procedure_id
where atapd.check_date is null
	and round(dbo.plx_fn_get_adjudication_amount_for_claim_procedure('TOTAL_MEMBER_RESPONSIBILITY', cp.claim_procedure_id),2) > 0
	and claim_status.adjudication_status_ud in ('approved', 'closed')
group by claim_ud
		, claim_line_sequence
		, cpps.claim_payment_process_status_ud
		, atapd.check_date
		, dbo.plx_fn_get_adjudication_amount_for_claim_procedure('TOTAL_MEMBER_RESPONSIBILITY', cp.claim_procedure_id)
		, c.repriced_network 
		, c.modified_user_name 
		, bc.benefit_contract_ud 
		, cgn.client_group_nm
		, claim_status.adjudication_status_ud
having (count(distinct arc_cte.final_use_on_member_report) <> 1 or count(distinct arc_cte.final_use_on_provider_report) <> 1)

GO
