USE [qc_core]
GO
/****** Object:  View [dbo].[vw_adjudication_key]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_adjudication_key]
AS
WITH    cte_adjudication_key ( adjudication_result_key_id, claim_procedure_id, adjudication_result_column_name, object_record_id, [plan_iteration_index], [active], created_date, created_user_name )
AS ( SELECT  adjudication_result_key_id,
claim_procedure_id ,
CAST (key_type AS NVARCHAR(128)) AS adjudication_result_column_name ,
object_record_id ,
[plan_iteration_index] ,
1 ,
created_date ,
created_user_name
FROM     ( SELECT    adjudication_result_key_id,
claim_procedure_id ,
[plan_iteration_index] ,
1 AS [active] ,
created_date ,
created_user_name ,
ISNULL(benefit_contract_id, 0) benefit_contract_id ,
ISNULL(benefit_contract_period_benefit_plan_id,
0) benefit_contract_period_benefit_plan_id ,
ISNULL(benefit_framework_id, 0) benefit_framework_id ,
ISNULL(benefit_limit_fee_schedule_id,
0) benefit_limit_fee_schedule_id ,
ISNULL(benefit_limit_fee_schedule_modifier_id,
0) benefit_limit_fee_schedule_modifier_id ,
ISNULL(benefit_limit_msa_code_id, 0) benefit_limit_msa_code_id ,
ISNULL(benefit_limit_percent_billed_state_id,
0) benefit_limit_percent_billed_state_id ,
ISNULL(benefit_contract_period_id, 0) benefit_contract_period_id ,
ISNULL(benefit_plan_id, 0) benefit_plan_id ,
ISNULL(bundled_procedure_code_id, 0) bundled_procedure_code_id ,
ISNULL(ces_bundled_procedure_code_id,
0) ces_bundled_procedure_code_id ,
ISNULL(claim_editing_software_yes_no_id,
0) claim_editing_software_yes_no_id ,
ISNULL(claim_processing_rule_framework_id,
0) claim_processing_rule_framework_id ,
ISNULL(code_depreciation_schedule_id,
0) code_depreciation_schedule_id ,
ISNULL(coinsurance_benefit_id, 0) coinsurance_benefit_id ,
ISNULL(copay_benefit_id, 0) copay_benefit_id ,
ISNULL(covered_benefit_id, 0) covered_benefit_id ,
ISNULL(dental_alternate_course_applied_yes_no_id,
0) dental_alternate_course_applied_yes_no_id ,
ISNULL(alternate_course_of_treatment_map_id,
0) alternate_course_of_treatment_map_id ,
ISNULL(dental_procedure_grouping_applied_yes_no_id,
0) dental_procedure_grouping_applied_yes_no_id ,
ISNULL(dental_restorative_bundling_applied_yes_no_id,
0) dental_restorative_bundling_applied_yes_no_id ,
ISNULL(eligibility_state_id, 0) eligibility_state_id ,
ISNULL(employee_class_id, 0) employee_class_id ,
ISNULL(expected_fee_schedule_id, 0) expected_fee_schedule_id ,
ISNULL(expected_fee_schedule_modifier_id,
0) expected_fee_schedule_modifier_id ,
ISNULL(expected_payment_contract_id, 0) expected_payment_contract_id ,
ISNULL(externally_priced_yes_no_id, 0) externally_priced_yes_no_id ,
ISNULL(family_eligibility_id, 0) family_eligibility_id ,
ISNULL(family_eligibility_member_benefit_plan_id,
0) family_eligibility_member_benefit_plan_id ,
ISNULL(family_eligibility_member_id, 0) family_eligibility_member_id ,
ISNULL(fee_schedule_detail_id, 0) fee_schedule_detail_id ,
ISNULL(fee_schedule_id, 0) fee_schedule_id ,
ISNULL(fee_schedule_modifier_id, 0) fee_schedule_modifier_id ,
ISNULL(fee_schedule_state_id, 0) fee_schedule_state_id ,
ISNULL(ffs_equiv_msa_code_id, 0) ffs_equiv_msa_code_id ,
ISNULL(ffs_equiv_percent_billed_state_id,
0) ffs_equiv_percent_billed_state_id ,
ISNULL(ffs_equivalent_fee_schedule_id,
0) ffs_equivalent_fee_schedule_id ,
ISNULL(ffs_equivalent_fee_schedule_modifier_id,
0) ffs_equivalent_fee_schedule_modifier_id ,
ISNULL(financial_responsibility_assignment_id,
0) financial_responsibility_assignment_id ,
ISNULL(member_vendor_id,
0) member_vendor_id ,
ISNULL(ignore_possible_duplicate_claim_line_yes_no_id,
0) ignore_possible_duplicate_claim_line_yes_no_id ,
ISNULL(include_in_depreciation_yes_no_id,
0) include_in_depreciation_yes_no_id ,
ISNULL(reimburse_member_yes_no_id, 0) reimburse_member_yes_no_id ,
ISNULL(member_expense_benefit_id, 0) member_expense_benefit_id ,
ISNULL(member_expense_schedule_id, 0) member_expense_schedule_id ,
ISNULL(msa_code_id, 0) msa_code_id ,
ISNULL(payment_contract_definition_id,
0) payment_contract_definition_id ,
ISNULL(payment_contract_id, 0) payment_contract_id ,
ISNULL(payment_contract_state_id, 0) payment_contract_state_id ,
ISNULL(percent_billed_state_id, 0) percent_billed_state_id ,
ISNULL(plan_level_id, 0) plan_level_id ,
ISNULL(practice_office_id, 0) practice_office_id ,
-- Previously adjudication stored the provider id
-- not the identifier id, so it returned the last identifier
-- for the provider id. Now this will at least return the
-- the identifier that is a PCP then default if exists.
ISNULL(primary_care_physician_identifier_id,
(
CASE WHEN primary_care_physician_id IS NULL THEN 0
ELSE
(

SELECT TOP 1
provider_identifier_id
FROM provider_identifier pi
WHERE
pi.provider_id = primary_care_physician_id
ORDER BY
primary_care_physician DESC,
use_as_default DESC,
pi.provider_identifier_id DESC
)
END
)
) primary_care_physician_identifier_id ,
ISNULL(provider_id, 0) provider_id ,
ISNULL(provider_category_id, 0) provider_category_id ,
ISNULL(provider_identifier_id, 0) provider_identifier_id ,
ISNULL(provider_network_id, 0) provider_network_id ,
ISNULL(network_level_id, 0) network_level_id ,
ISNULL(rendering_practice_office_id, 0) rendering_practice_office_id ,
ISNULL(rendering_provider_id, 0) rendering_provider_id ,
ISNULL(rendering_provider_identifier_id,
0) rendering_provider_identifier_id ,
ISNULL(reinsurance_contract_id, 0) reinsurance_contract_id ,
ISNULL(tiered_coinsurance_id, 0) tiered_coinsurance_id ,
ISNULL(tier_criteria_id, 0) tier_criteria_id ,
ISNULL(vendor_id, 0) vendor_id ,
ISNULL(vendor_source_id, 0) vendor_source_id ,
ISNULL(visit_definition_id, 0) visit_definition_id ,
ISNULL(withhold_account_id, 0) withhold_account_id ,
ISNULL(withhold_schedule_id, 0) withhold_schedule_id,
ISNULL(referral_id, 0) referral_id,
ISNULL(authorization_id, 0) authorization_id
FROM      adjudication_result_key
) AS p UNPIVOT ( object_record_id FOR key_type IN -- list of adjudication_result_column_name columns used in adjduication
( benefit_contract_id,
benefit_contract_period_benefit_plan_id,
benefit_framework_id,
benefit_limit_fee_schedule_id,
benefit_limit_fee_schedule_modifier_id,
benefit_limit_msa_code_id,
benefit_limit_percent_billed_state_id,
benefit_contract_period_id, benefit_plan_id,
bundled_procedure_code_id,
ces_bundled_procedure_code_id,
claim_editing_software_yes_no_id,
claim_processing_rule_framework_id,
code_depreciation_schedule_id,
coinsurance_benefit_id, copay_benefit_id,
covered_benefit_id,
dental_alternate_course_applied_yes_no_id,
alternate_course_of_treatment_map_id,
dental_procedure_grouping_applied_yes_no_id,
dental_restorative_bundling_applied_yes_no_id,
eligibility_state_id, employee_class_id,
expected_fee_schedule_id,
expected_fee_schedule_modifier_id,
expected_payment_contract_id,
externally_priced_yes_no_id,
family_eligibility_id,
family_eligibility_member_benefit_plan_id,
family_eligibility_member_id,
fee_schedule_detail_id, fee_schedule_id,
fee_schedule_modifier_id, fee_schedule_state_id,
ffs_equiv_msa_code_id,
ffs_equiv_percent_billed_state_id,
ffs_equivalent_fee_schedule_id,
ffs_equivalent_fee_schedule_modifier_id,
financial_responsibility_assignment_id,
member_vendor_id,
ignore_possible_duplicate_claim_line_yes_no_id,
include_in_depreciation_yes_no_id,
reimburse_member_yes_no_id,
member_expense_benefit_id,
member_expense_schedule_id, msa_code_id,
payment_contract_definition_id,
payment_contract_id, payment_contract_state_id,
percent_billed_state_id, plan_level_id,
practice_office_id,
primary_care_physician_identifier_id, provider_id,
provider_category_id, provider_identifier_id,
provider_network_id, network_level_id,
referral_id,
authorization_id,
rendering_practice_office_id,
rendering_provider_id,
rendering_provider_identifier_id,
reinsurance_contract_id,
tiered_coinsurance_id, tier_criteria_id,
vendor_id, vendor_source_id,
visit_definition_id,
withhold_account_id,
withhold_schedule_id ) ) AS s
)
SELECT  ROW_NUMBER() OVER ( ORDER BY claim_procedure_id, adjudication_object_id, plan_iteration_index ) AS adjudication_key_id ,
adjudication_result_key_id,
NULL AS claim_id ,
claim_procedure_id ,
ao.golden_key ,
adjudication_object_id ,
ak.adjudication_result_column_name ,
ao.adjudication_result_column_name ao_adjudication_result_column_name ,
object_record_id ,
NULL AS [plan_level_id] ,
[plan_iteration_index] ,
1 AS [active] ,
ak.created_date
FROM    cte_adjudication_key ak
LEFT OUTER JOIN adjudication_object ao ON ao.adjudication_result_column_name = ak.adjudication_result_column_name
WHERE   ak.active = 1
AND object_record_id <> 0;
GO
