USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_arc_temp]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[bind_vw_arc_temp]
AS
SELECT
	arc.claim_procedure_id
	, rc.result_code_ud
	, rc.long_message
	, CASE
		WHEN mrpoo.report_print_override_option_ud = 'Display' THEN 1
		WHEN (rc.use_on_member_report =1 AND (mrpoo.report_print_override_option_ud <> 'Hide' OR mrpoo.report_print_override_option_ud IS NULL)) THEN 1
		ELSE 0 
	END AS final_use_on_member_report
	, CASE
		WHEN prpoo.report_print_override_option_ud = 'Display' THEN 1
		WHEN (rc.use_on_provider_report = 1 AND (prpoo.report_print_override_option_ud <> 'Hide' OR prpoo.report_print_override_option_ud IS NULL)) THEN 1
		ELSE 0 
	END AS final_use_on_provider_report
	FROM adjudication_result_code arc
		LEFT JOIN result_code rc ON arc.result_code_id = rc.result_code_id
		LEFT JOIN adjudication_result_code_override arco ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
		LEFT JOIN report_print_override_option mrpoo ON arco.member_report_print_override_option_id = mrpoo.report_print_override_option_id
		LEFT JOIN report_print_override_option prpoo ON arco.provider_report_print_override_option_id = prpoo.report_print_override_option_id

GO
