USE [qc_core]
GO
/****** Object:  View [dbo].[bind_vw_claim_status]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[bind_vw_claim_status] AS
Select distinct c.claim_id
		, c.claim_ud
		, external_claim_number.additional_reference_number
		, case when ads.adjudication_status_type_ud in ('Approved', 'Denied') then 'CLOSED' else 'PENDING' end as Status
		, case 
		    when ads.adjudication_status_type_ud in ('Approved', 'Denied') then null
			when cm.cob_member_id is null then 'Waiting for COB'
			else 'In Queue'
		  end as Reason
		, mem_info.member_number
from claim c with(nolock)
	outer apply (SELECT carn.claim_id, carn.additional_reference_number 
				 FROM claim_additional_reference_number carn with(nolock)
				 	inner join claim_additional_reference_number_type carnt with(nolock)
				 		on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
				 WHERE carn.claim_id = c.claim_id
					AND carnt.golden_key = 'D9'
				) as external_claim_number
	INNER JOIN family_eligibility_member_benefit_plan fembp with(nolock)
	    ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
	INNER JOIN family_eligibility_member mem_fem with(nolock)
	    ON fembp.family_eligibility_member_id = mem_fem.family_eligibility_member_id
	INNER JOIN family_eligibility fe with(nolock)
	    ON mem_fem.family_eligibility_id = fe.family_eligibility_id
	inner join bind_vw_PHI_member mem_info with(nolock)
		on mem_fem.member_id = mem_info.internal_member_id
	left join cob_member cm with(nolock)
		on cm.member_id = mem_fem.member_id
	inner join adjudication_status_type ads with(nolock)
		on c.adjudication_status_id = ads.adjudication_status_type_id
GO
