USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_primary_info]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--  20120511    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Primary information for a contact
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_primary_info]
AS
-- Possible TODO later: incorporate [dbo].[contact_preferred_communication]
SELECT    [con].[contact_id]                           AS [ContactInternalId]
,[concntt].[contact_type_ud]                  AS [ContactTypeIdentifier]
,[conid].[contact_identifier_ud]              AS [ContactIdentifierIdentifier]
,[midt].[member_id_type_ud]                   AS [ContactIdTypeIdentifier]
,[cn].[ContactName]
,[cn].[ContactLastName]
,[cn].[ContactFirstName]
,[cn].[ContactMiddleName]
,[cn].[ContactNameSuffix]
,[cn].[ContactNamePrefix]
,[cn].[ContactNamePrefixGoldenKey]
,[cn].[IsPrimaryContactName]
,[cn].[AliasTypeIdentifier]
,[cn].[AliasTypeDescription]
,[cn].[ContactNameComment]
,[conadd].[mail_ok]                           AS [MailOk]
,[conadd].[email_ok]                          AS [EmailOk]
,[bttc].[best_time_to_contact_ud]             AS [BestTimeToContactIdentifier]
,[caddt].[contact_address_type_ud]            AS [ContactAddressTypeIdentifier]
,[caddt].[description]                        AS [ContactAddressTypeDescription]
,[add].[Address1]
,[add].[Address2]
,[add].[Address3]
,[add].[PostalCode]                           AS [PostalCode]
,[add].[DeliveryRoute]                        AS [DeliveryRoute]
,[add].[FullZipCode]                          AS [FullZipCode]
,[add].[City]
,[add].[County]
,[add].[StateIdentifier]
,[add].[StateName]
,[add].[CountryIdentifier]
,[add].[CountryName]
,[add].[longitude]
,[add].[latitude]
,[conadd].[primary_for_contact]               AS [PrimaryAddressForContact]
,[conadd].[effective_from]                    AS [ContactAddressEffectiveFrom]
,[conadd].[effective_thru]                    AS [ContactAddressEffectiveThrough]
,[tntntype].[telephone_number_type_ud]        AS [TelephoneNumberTypeIdentifier]
,[tntntype].[description]                     AS [TelephoneNumberTypeDescription]
,[tn].[telephone_number]                      AS [TelephoneNumber]
,[tn].[telephone_number_extension]            AS [TelephoneNumberExtension]
,[contn].[comment]                            AS [ContactTelephoneNumberComment]
,[contn].[primary_for_contact]                AS [PrimaryTelephoneNumberForContact]
,[eadd].[EmailAddress]
,[eadd].[PrimaryEmailAddressForContact]
,[midt].[x12_qualifier]                       AS [X12Qualifier]
,[add].[SuppressCorrespondenceIndicator]      AS [AddressSuppressCorrespondenceIndicator]

-- ################################      METADATA     ################################
,[con].[created_date]                         AS [ContactCreatedDate]
,[con].[modified_date]                        AS [ContactModifiedDate]
,[cn].[ContactNameCreatedDate]
,[cn].[ContactNameModifiedDate]
,[conadd].[created_date]                      AS [ContactAddressCreatedDate]
,[conadd].[modified_date]                     AS [ContactAddressModifiedDate]
,[add].[AddressCreatedDate]
,[add].[AddressModifiedDate]
,[conid].[created_date]                       AS [ContactIdentifierCreatedDate]
,[conid].[modified_date]                      AS [ContactIdentifierModifiedDate]
,[contn].[created_date]                       AS [ContactTelephoneNumberCreatedDate]
,[contn].[modified_date]                      AS [ContactTelephoneNumberModifiedDate]
,[tn].[created_date]                          AS [TelephoneNumberCreatedDate]
,[tn].[modified_date]                         AS [TelephoneNumberModifiedDate]

-- ################################   FK IDENTIFIERS  ################################
,[con].[contact_type_id]                      AS [ContactTypeInternalId]
,[cn].[ContactNameInternalId]
,[cn].[NamePrefixInternalId]
,[cn].[AliasTypeInternalId]
,[cn].[AliasTypeGoldenKey]
,[conadd].[contact_address_id]                AS [ContactAddressInternalId]
,[conadd].[contact_address_type_id]           AS [ContactAddressTypeInternalId]
,[conadd].[address_id]                        AS [AddressInternalId]
,[add].[LocaleInternalId]
,[contn].[contact_telephone_number_id]        AS [ContactTelephoneNumberInternalId]
,[contn].[telephone_number_id]                AS [TelephoneNumberInternalId]
,[contn].[best_time_to_contact_id]            AS [BestTimeToContactInternalId]
,[tn].[telephone_number_type_id]              AS [TelephoneNumberTypeInternalId]
,[eadd].[ContactEmailAddressInternalId]
,[eadd].[EmailAddressInternalId]
,[conid].[contact_identifier_id]              AS [ContactIdentifierInternalId]
,[conid].[identifier_type_id]                 AS [IdentifierTypeInternalId]

FROM      [dbo].[contact] AS [con]
LEFT JOIN [dbo].[contact_type] AS [concntt]
ON   [concntt].[contact_type_id] = [con].[contact_type_id]
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_name] AS [cn]
ON   [cn].[ContactInternalId] = [con].[contact_id]
AND  [cn].[IsPrimaryContactName] = 'true'
LEFT JOIN [contact_address] AS [conadd]
ON   [conadd].[contact_id] = [con].[contact_id]
AND  [conadd].[primary_for_contact] = 'true'
LEFT JOIN [dbo].[contact_address_type] AS [caddt]
ON   [caddt].[contact_address_type_id] = [conadd].[contact_address_type_id]
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_full_address] AS [add]
ON   [add].[AddressInternalId] = [conadd].[address_id]
LEFT JOIN [contact_telephone_number] AS [contn]
ON   [contn].[contact_id] = [con].[contact_id]
AND  [contn].[primary_for_contact] = 'true'
LEFT JOIN [dbo].[telephone_number] AS [tn]
ON   [tn].[telephone_number_id] = [contn].[telephone_number_id]
LEFT JOIN [dbo].[best_time_to_contact] AS [bttc]
ON   [bttc].[best_time_to_contact_id] = [contn].[best_time_to_contact_id]
LEFT JOIN [dbo].[telephone_number_type] AS [tntntype]
ON   [tntntype].[telephone_number_type_id] = [tn].[telephone_number_type_id]
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_email_address] AS [eadd]
ON   [eadd].[ContactInternalId] = con.[contact_id]
AND  [PrimaryEmailAddressForContact] = 'true'
LEFT JOIN [contact_identifier] AS [conid]
ON   [conid].[contact_id] = [con].[contact_id]
AND  [conid].[identifier_type_id] = (SELECT MIN([identifier_type_id]) FROM [dbo].[contact_identifier] WHERE [contact_id] = [con].[contact_id])
LEFT JOIN [dbo].[member_id_type] AS [midt]
ON   [midt].[member_id_type_id] = [conid].[identifier_type_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary information for a contact' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_primary_info'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_primary_info'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_primary_info'
GO
