USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_taxonomy]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Taxonomy data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_taxonomy] AS
SELECT    [ptx].[provider_taxonomy_code_id]                 AS [Provider Taxonomy Code Id]
         ,[ptx].[provider_id]                               AS [Provider Id]
         ,[ptx].[taxonomy_code_id]                          AS [Taxonomy Code Id]

-- ####################################### USER-DEFINED KEYS ######################################
         ,[txcd].[taxonomy_code_ud]                         AS [Taxonomy Code KEY]
         ,[poff].[practice_office_ud]                       AS [Practice Office KEY]
         ,[txcdtxcl].[taxonomy_classification_ud]           AS [Taxonomy Classification KEY]
         ,[txcdtxsp].[taxonomy_specialization_ud]           AS [Taxonomy Specialization KEY]
         ,[txcdtxt].[taxonomy_type_ud]                      AS [Taxonomy TYPE KEY]

-- #######################################       NAMES       ######################################
         ,[poff].[practice_office_nm]                       AS [Practice Office Name]

-- #######################################     ATTRIBUTES    ######################################
         ,[txcd].[definition]                               AS [Taxonomy Code Definition]
         ,[txcd].[notes]                                    AS [Taxonomy Code Notes]

-- #######################################       DATES       ######################################
         ,[ptx].[effective_from]                            AS [Provider Taxonomy Code Effective FROM]
         ,[txcd].[effective_from]                           AS [Taxonomy Code Effective FROM]
         ,[ptx].[effective_thru]                            AS [Provider Taxonomy Code Effective Thru]
         ,[txcd].[effective_thru]                           AS [Taxonomy Code Effective Thru]

-- #######################################      METADATA     ######################################
         ,[ptx].[created_date]                              AS [Provider Taxonomy Code Created DATE]
         ,[ptx].[modified_date]                             AS [Provider Taxonomy Code Modified DATE]
         ,[txcd].[modified_date]                            AS [Taxonomy Code Modified DATE]
         ,[poff].[modified_date]                            AS [Taxonomy Code Practice Office Modified DATE]

-- #######################################   FK IDENTIFIERS  ######################################
         ,[ptx].[practice_office_id] AS [Practice Office Id]
         ,[txcd].[taxonomy_type_id] AS [Taxonomy TYPE Id]
         ,[txcd].[taxonomy_classification_id] AS [Taxonomy Classification Id]
         ,[txcd].[taxonomy_specialization_id] AS [Taxonomy Specialization Id]

FROM      [dbo].[provider_taxonomy_code] AS [ptx]
LEFT JOIN      [dbo].[taxonomy_code] AS [txcd]
     ON   [txcd].[taxonomy_code_id] = [ptx].[taxonomy_code_id]
LEFT JOIN      [dbo].[taxonomy_type] AS [txcdtxt]
     ON   [txcdtxt].[taxonomy_type_id] = [txcd].[taxonomy_type_id]
LEFT JOIN      [dbo].[taxonomy_classification] AS [txcdtxcl]
     ON   [txcdtxcl].[taxonomy_classification_id] = [txcd].[taxonomy_classification_id]
LEFT JOIN [dbo].[taxonomy_specialization] AS [txcdtxsp]
     ON   [txcdtxsp].[taxonomy_specialization_id] = [txcd].[taxonomy_specialization_id]
LEFT JOIN [dbo].[practice_office] AS [poff]
     ON   [poff].[practice_office_id] = [ptx].[practice_office_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Taxonomy  ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_taxonomy'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_taxonomy'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_taxonomy'
GO
