USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_internet_address]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120205    Mike Bodenhamer 0.0         Initial Version
--  20120510    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION: 0.0
--DESCRIPTION:      Denormalized Contact Internet Address data
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_internet_address] AS
SELECT    [cia].[contact_id]                                     AS [ContactInternalId]
         ,[cia].[contact_internet_address_id]                    AS [ContactInternetAddressInternalId]
         ,[cia].[internet_address_id]                            AS [InternetAddressInternalId]
         ,[intaddiat].[internet_address_type_ud]                 AS [InternetAddressTypeIdentifier]
         ,[intaddiat].[golden_key]                               AS [InternetAddressTypeGoldenKey]
         ,[intadd].[internet_address]                            AS [InternetAddress]
         ,[cia].[primary_for_contact]                            AS [PrimaryInternetAddressForContact]
         ,[intaddiat].[description]                              AS [InternetAddressTypeDescription]
         ,[cia].[created_date]                                   AS [ContactInternetAddressCreatedDate]
         ,[cia].[modified_date]                                  AS [ContactInternetAddressModifiedDate]
         ,[intadd].[modified_date]                               AS [InternetAddressModifiedDate]
         ,[intadd].[internet_address_type_id]                    AS [InternetAddressTypeInternalId]
FROM      [dbo].[contact_internet_address]        AS [cia]
JOIN      [dbo].[internet_address]                AS [intadd]
     ON   [intadd].[internet_address_id] = [cia].[internet_address_id]
JOIN      [dbo].[internet_address_type]           AS [intaddiat]
     ON   [intaddiat].[internet_address_type_id] = [intadd].[internet_address_type_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Contact Internet Address data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_internet_address'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_internet_address'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_internet_address'
GO
