USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_identifier]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Identifier data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_identifier] AS
SELECT    [pid].[provider_id]                                    AS [Provider Id]
         ,[pid].[provider_identifier_id]                         AS [Provider Identifier Id]
         ,[pid].[use_as_default]                                 AS [Use As Default]
         ,[pid].[provider_ud]                                    AS [Provider Key]
         ,[pid].[provider_identifier_type_id]                    AS [Provider Identifier Type Id]
         ,[pit].[provider_identifier_type_ud]                    AS [Provider Identifier Type Key]
         ,[pit].[golden_key]                                     AS [Provider Identifier Type Golden Key]
         ,[pit].[provider_identifier_type_nm]                    AS [Provider Identifier Type Name]
         ,[pit].[description]                                    AS [Provider Identifier Type Description]
         ,[pid].[only_practice_office_id]                        AS [Only Practice Office Id]
         ,[poff].[practice_office_id]                            AS [Practice Office Id]
         ,[poff].[practice_office_ud]                            AS [Practice Office Key]
         ,[poff].[practice_office_nm]                            AS [Practice Office Name]
         ,[pit].[x12_qualifier]                                  AS [X12 Qualifier]
         ,[pid].[primary_care_physician]                         AS [Primary Care Physician]
         ,[pit].[must_be_unique]                                 AS [Provider Identifier Type Must Be Unique]
         ,[pid].[effective_from]                                 AS [Effective From]
         ,[pid].[effective_thru]                                 AS [Effective Thru]
         ,[pid].[created_date]                                   AS [Created Date]
         ,[pid].[modified_date]                                  AS [Modified Date]
FROM      [dbo].[provider_identifier]                  AS [pid]
JOIN      [dbo].[provider_identifier_type]             AS [pit]
     ON   [pit].[provider_identifier_type_id] = [pid].[provider_identifier_type_id]
LEFT JOIN [dbo].[practice_office]                      AS [poff]
     ON   [poff].[practice_office_id] = [pid].[only_practice_office_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider identifier ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
