USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_office_hour]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
--DESCRIPTION: De-normalized Provider Office Hours data
--
--FRAMEWORK REVISION: {frameworkRevision}
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_office_hour]
AS
SELECT    [poh].[provider_office_hour_id]     AS [ProviderOfficeHourInternalId],
          [poh].[provider_id]                 AS [ProviderInternalId],
          [poh].[only_practice_office_id]     AS [OnlyPracticeOfficeInternalId],
          [poh].[provider_practice_office_id] AS [ProviderPracticeOfficeInternalId],
          [poh].[day_of_week_from_id]         AS [DayOfWeekFromInternalId],
          [dowf].[day_of_week_ud]             AS [DayOfWeekFromIdentifier],
          [dowf].[golden_key]                 AS [DayOfWeekFromGoldenKey],
          [dowf].[sort_order]                 AS [DayOfWeekFromSortOrder],
          [poh].[day_of_week_thru_id]         AS [DayOfWeekThroughInternalId],
          [dowt].[day_of_week_ud]             AS [DayOfWeekThroughIdentifier],
          [dowt].[golden_key]                 AS [DayOfWeekThroughGoldenKey],
          [dowt].[sort_order]                 AS [DayOfWeekThroughSortOrder],
          [poh].[office_hours_from]           AS [OfficeHoursFrom],
          [poh].[office_hours_thru]           AS [OfficeHoursThrough],
          REPLACE(REPLACE(ISNULL([dowf].[day_of_week_ud],'?') + 
               CASE 
                    WHEN [poh].[day_of_week_from_id] <> [poh].[day_of_week_thru_id]
                         THEN ' to ' + ISNULL([dowt].[day_of_week_ud],'?')
                    ELSE ''
               END + '; '
               + REPLACE(REPLACE(ISNULL(CONVERT(NVARCHAR(20),[office_hours_from],0),'?')
               + ' to ' + ISNULL(CONVERT(NVARCHAR(20),[office_hours_thru],0),'?'),'AM',' AM'),'PM',' PM'),
               '12:00 AM to 11:59 PM','24 hours'),
               'Sunday to Saturday','7 days')
                                              AS [OfficeHourDetail],
          [poh].[effective_from]              AS [EffectiveFrom],
          [poh].[effective_thru]              AS [EffectiveThrough],
          [poh].[created_user_name]           AS [CreatedUserName],
          [poh].[created_date]                AS [CreatedDate],
          [poh].[modified_date]               AS [ModifiedDate]
FROM      [dbo].[provider_office_hour]  AS [poh]
LEFT JOIN [dbo].[day_of_week]           AS [dowf] ON  [dowf].[day_of_week_id] = [poh].[day_of_week_from_id]
LEFT JOIN [dbo].[day_of_week]           AS [dowt] ON  [dowt].[day_of_week_id] = [poh].[day_of_week_thru_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Provider Office Hours data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_office_hour'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_office_hour'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_office_hour'
GO
