USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_ptl_adjudication_result_code]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
-- DERIVED FROM STORED PROCEDURE plx_portal.plx_adjudication_result_code_list_load
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120307    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Adjudication Result Codes for Claim Procedures 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_ptl_adjudication_result_code]
AS
WITH [hide] AS (
     SELECT [report_print_override_option_ud] as [hide_ud] FROM [dbo].[report_print_override_option] WHERE upper(golden_key) = 'HIDE'
     )
, [disp] AS (
     SELECT [report_print_override_option_ud] AS [display_ud] FROM [dbo].[report_print_override_option] WHERE upper(golden_key) = 'DISPLAY'
     )
SELECT    [adjrc].[adjudication_result_code_id]
         ,CASE WHEN [arck].[adjudication_result_code_id] IS NOT NULL
              THEN 1 
              ELSE 0 
          END AS [visible]
    --     ,'View' AS 'additional_information_button'	/* This is just for the button column in the grid */
         ,[adjrc].[claim_id]
         ,[adjrc].[claim_procedure_id]

         ,[adjrc].[result_code_id]
         ,[adjrc].[comment]
         ,[RC].[result_code_ud]
         ,[rc].[golden_key]
         ,[RC].[short_message] AS [description]

         ,ISNULL([AdjAST].[golden_key], [RCAST].[golden_key]) as [adjudication_status_type_GK]   -- used to disable override status column on grid if it is error

         ,ISNULL([RCS].[result_code_status_id],[RC].[result_code_status_id]) AS [system_status_id]
         ,ISNULL([RCS].[result_code_status_ud], [RCRCS].[result_code_status_ud]) AS [system_status]
         ,ISNULL([RCS].[golden_key], [RCRCS].[golden_key]) AS [system_status_GK]

         ,[OvrARC].[result_code_status_id] AS [user_status_id]
         ,[OvrRCS].[result_code_status_ud] AS [user_status]
         ,[OvrRCS].[golden_key] AS [user_status_GK]
         ,[OvrAST].[golden_key] AS [user_override_adjudication_status_type_GK]
         ,ISNULL([OvrARC].[last_modified_by],'System') AS [last_modified_by]
-- concurrency checking note:
-- the last modified date on the form should show the system created date if modified date is null;
--   note that the arc table modified date is always updated when changes are made,
--   but there may not be a corresonding record in the OvrARC table.

         ,ISNULL([adjrc].[modified_date],[adjrc].[created_date]) AS [last_modified_date]
         ,ISNULL([adjrc].[do_not_clear], 0) AS [do_not_clear]

-- Default print on member
         ,CASE WHEN [RC].[use_on_member_report] IS NOT NULL 
               THEN
                    CASE 
                         WHEN [RC].[use_on_member_report] = 1
                              THEN [disp].[display_ud]
                         ELSE [hide].[hide_ud]
                    END
               ELSE [disp].[display_ud]
          END
          AS [member_report_print_default_option_ud]
-- Override print on member
         ,RPOO_MEM.report_print_override_option_ud AS [member_report_print_override_option_ud]
         ,[OvrARC].member_report_print_override_option_id

-- Default print on provider
         ,CASE WHEN [RC].use_on_provider_report IS NOT NULL 
               THEN
                    CASE 
                         WHEN [RC].use_on_provider_report = 1
                              THEN [disp].[display_ud]
                         ELSE [hide].[hide_ud]
                    END
               ELSE [disp].[display_ud]
          END
          AS [provider_report_print_default_option_ud]
-- Override print on provider
         ,RPOO_PROV.report_print_override_option_ud AS [provider_report_print_override_option_ud]
         ,[OvrARC].provider_report_print_override_option_id

         ,CASE
               WHEN [OvrARC].not_a_clean_claim IS NOT NULL 
                    THEN [OvrARC].not_a_clean_claim
               ELSE  ISNULL([RC].not_a_clean_claim ,0)
          END
          AS [non_clean]
         ,[OvrARC].[adjudication_result_code_override_id]
         ,[adjrc].[user_created]
         ,[adjrc].[modified_date]
FROM      [dbo].[adjudication_result_code] [adjrc]
LEFT JOIN [dbo].[claim_procedure]                 AS [cp]
     ON   [cp].[claim_procedure_id] = [adjrc].[claim_procedure_id]
     AND  [cp].[is_negated] = 'false'
LEFT JOIN [dbo].[adjudication_result_code_override] AS [OvrARC]
     ON   [OvrARC].[adjudication_result_code_id] = [adjrc].[adjudication_result_code_id]
LEFT JOIN [dbo].[report_print_override_option]    AS RPOO_MEM 
     ON   RPOO_MEM.[report_print_override_option_id] = [OvrARC].[member_report_print_override_option_id]
LEFT JOIN [dbo].[report_print_override_option]    AS RPOO_PROV
     ON   RPOO_PROV.[report_print_override_option_id] =[OvrARC].provider_report_print_override_option_id
LEFT JOIN [dbo].[result_code]                     AS [RC] 
     ON   [adjrc].[result_code_id] = [RC].[result_code_id]
LEFT JOIN [dbo].[result_code_status]              AS [RCRCS] 
     ON   [RCRCS].[result_code_status_id] = [RC].[result_code_status_id]
LEFT JOIN [dbo].[result_code_status]              AS [RCS]
     ON   [RCS].[result_code_status_id] = [adjrc].[result_code_status_id]
LEFT JOIN [dbo].[result_code_status]              AS [OvrRCS] 
     ON   [OvrRCS].[result_code_status_id] = [OvrARC].[result_code_status_id]
LEFT JOIN [dbo].[adjudication_status_type]        AS [RCAST] 
     ON   [RCAST].[adjudication_status_type_id] = [RCRCS].[adjudication_status_type_id]
LEFT JOIN [dbo].[adjudication_status_type]        AS [AdjAST] 
     ON   [AdjAST].[adjudication_status_type_id] = [RCS].[adjudication_status_type_id]
LEFT JOIN [dbo].[adjudication_status_type]        AS [OvrAST] 
     ON [OvrAST].[adjudication_status_type_id] = [OvrRCS].[adjudication_status_type_id]
LEFT JOIN [dbo].[adjudication_result_code_key]    AS [arck]
     ON   [arck].[adjudication_result_code_id] = [adjrc].[adjudication_result_code_id]
JOIN [hide] ON 1=1
JOIN [disp] ON 1=1;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adjuication Result Code' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_adjudication_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_adjudication_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_adjudication_result_code'
GO
