USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_network_network_sets]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Network Set data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_network_network_sets] AS
SELECT
          [ppn].[provider_id]                                    AS [Provider Id]
         ,[ppn].[provider_provider_network_id]                   AS [Provider Provider Network Id]
         ,[ppn].[provider_network_id]                            AS [Provider Network Id]
         ,[pnpns].[provider_network_provider_network_set_id]     AS [Provider Network Provider Network Set Id]
         ,[pnpns].[provider_network_set_id]                      AS [Provider Network Set Id]

-- ####################################### USER-DEFINED KEYS ######################################
         ,[pid].[provider_ud]                                    AS [Provider Key]
         ,[pnet].[provider_network_ud]                           AS [Provider Network Key]
         ,[pnets].[provider_network_set_ud]                      AS [Provider Network Set Key]

-- #######################################       NAMES       ######################################
         ,[pnet].[provider_network_nm]                           AS [Provider Network Name]
         ,[pnets].[provider_network_set_nm]                      AS [Provider Network Set Name]

-- #######################################       DATES       ######################################
         ,[pnets].[effective_from]                               AS [Provider Network Set Effective From]
         ,[pnets].[effective_thru]                               AS [Provider Network Set Effective Thru]
         ,[pnpns].[effective_from]                               AS [Provider Network Provider Network Set Effective From]
         ,[pnpns].[effective_thru]                               AS [Provider Network Provider Network Set Effective Thru]

-- #######################################     PROCESSING    ######################################
         ,[ppn].[network_rank]                                   AS [Provider-Provider Network Rank]
         ,[pnpns].[rank]                                         AS [Provider Network-Provider Network Set Rank]

-- #######################################       FLAGS       ######################################
         ,[ppn].[is_pcp]                                         AS [Is PCP]
         ,[ppn].[list_in_directory]                              AS [List In Directory]

-- #######################################      METADATA     ######################################

         ,[pnets].[created_date]                                 AS [Provider Network Set Created Date]
         ,[pnets].[modified_date]                                AS [Provider Network Set Modified Date]
         ,[pnpns].[created_date]                                 AS [Provider Network-Provider Network Set Created Date]
         ,[pnpns].[modified_date]                                AS [Provider Network-Provider Network Set Modified Date]

FROM      [dbo].[provider_provider_network]             AS [ppn]
LEFT JOIN [dbo].[provider_identifier]                   AS [pid]
     ON   [pid].[provider_identifier_id] = [ppn].[provider_identifier_id]
LEFT JOIN  [dbo].[provider_network]                     AS [pnet]
     ON   [pnet].[provider_network_id] = [ppn].[provider_network_id]
JOIN      [dbo].[provider_network_provider_network_set] AS [pnpns]
     ON   [pnpns].[provider_network_id] = [pnet].[provider_network_id] 
JOIN      [dbo].[provider_network_set]                  AS [pnets]
     ON   [pnets].[provider_network_set_id] = [pnpns].[provider_network_set_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Network Set ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_network_network_sets'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_network_network_sets'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_network_network_sets'
GO
