USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_enrollment_user_assigned_result_code]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120229    Mike Bodenhamer 0.0         Initial Version
--
--DESCRIPTION:      De-normalized User-assigned Result Code data for Enrollments
--                  Derived from the stored procedure [plx_family_eligibility_user_assigned_result_code_list_load]
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_enrollment_user_assigned_result_code] AS
SELECT
		[feuarc].[family_eligibility_user_assigned_result_code_id]  AS [FamilyEnrollmentUserAssignedResultCodeInternalId],
		[feuarc].[family_eligibility_id]                            AS [FamilyEnrollmentInternalId],
		[feuarc].[criteria_id]                                      AS [CriteriaInternalId],
		[c].[criteria_ud]                                           AS [CriteriaIdentifier],
		[feuarc].[result_code_id]                                   AS [ResultCodeInternalId],
		[rc].[result_code_ud]                                       AS [ResultCodeIdentifier],
		[feuarc].[result_code_status_id]                            AS [ResultCodeStatusInternalId],
		[rcs].[result_code_status_ud]                               AS [ResultCodeStatusIdentifier],
		[rcs].[golden_key]                                          AS [ResultCodeStatusGoldenKey],
		[feuarc].[comment]                                          AS [UserAssignedResultCodeComment],
		[feuarc].[effective_from]                                   AS [UserAssignedResultCodeEffectiveFrom],
		[feuarc].[effective_thru]                                   AS [UserAssignedResultCodeEffectiveThrough],
		[feuarc].[created_user_name]                                AS [UserAssignedResultCodeCreatedUserName],
		[feuarc].[modified_date]                                    AS [UserAssignedResultCodeModifiedDate],
		[feuarc].[modified_user_name]                                    AS [UserAssignedResultCodeModifiedUserName]

FROM 	  [dbo].[family_eligibility_user_assigned_result_code] AS [feuarc]

JOIN      [dbo].[family_eligibility]    AS [fe]  ON [fe].[family_eligibility_id]  = [feuarc].[family_eligibility_id]
LEFT JOIN [dbo].[criteria]              AS [c]   ON [c].[criteria_id]             = [feuarc].[criteria_id]
LEFT JOIN [dbo].[result_code]           AS [rc]  ON [rc].[result_code_id]         = [feuarc].[result_code_id]
LEFT JOIN [dbo].[result_code_status]    AS [rcs] ON [rcs].[result_code_status_id] = [feuarc].[result_code_status_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized User-assigned Result Code data for Enrollments' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_enrollment_user_assigned_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_enrollment_user_assigned_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_enrollment_user_assigned_result_code'
GO
