USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_provider_name]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Name data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_provider_name] AS
 SELECT
          [pnm].[provider_id]                                    AS [ProviderInternalId]
         ,[pnm].[provider_name_id]                               AS [ProviderNameInternalId]
         ,[dbo].[plx_ConcatenateName](
                    [pnm].[name_last]
                   ,[pnm].[name_first]
                   ,[pnm].[name_middle]
                   ,[pnm].[name_suffix])                         AS [ProviderName]
         ,[pnm].[name_last]                                      AS [LastName]
         ,[pnm].[name_first]                                     AS [FirstName]
         ,[pnm].[name_middle]                                    AS [MiddleName]
         ,[pnm].[name_suffix]                                    AS [NameSuffix]
         ,[npre].[name_prefix_ud]                                AS [NamePrefixIdentifier]
         ,[npre].[golden_key]                                    AS [NamePrefixGoldenKey]
         ,[pnm].[is_primary]                                     AS [IsPrimaryProviderName]
         ,[pnm].[comment]                                        AS [ProviderNameComment]
         ,[at].[alias_type_ud]                                   AS [AliasTypeIdentifier]
         ,[at].[golden_key]                                      AS [AliasTypeGoldenKey]
         ,[at].[description]                                     AS [AliasTypeDescription]
         ,[npre].[description]                                   AS [NamePrefixDescription]

-- #######################################      METADATA     ######################################
         ,[pnm].[created_date]                                   AS [ProviderNameCreatedDate]
         ,[pnm].[modified_date]                                  AS [ProviderNameModifiedDate]

-- #######################################   FK IDENTIFIERS  ######################################
         ,[pnm].[name_prefix_id]                                 AS [NamePrefixInternalId]
         ,[pnm].[alias_type_id]                                  AS [AliasTypeInternalId]

FROM      [dbo].[provider_name]              AS [pnm]
JOIN      [dbo].[alias_type]                 AS [at]
     ON   [at].[alias_type_id] = [pnm].[alias_type_id]
LEFT JOIN [dbo].[name_prefix]                AS [npre]
     ON   [npre].[name_prefix_id] = [pnm].[name_prefix_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Provider Name data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_name'
GO
