USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_provider_network]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Network data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_provider_network] AS
SELECT
          [ppn].[provider_id]                                    AS [Provider Id]
         ,[ppn].[provider_provider_network_id]                   AS [Provider Provider Network Id]
         ,[ppn].[provider_network_id]                            AS [Provider Network Id]

-- ####################################### USER-DEFINED KEYS ######################################
         ,[pid].[provider_ud]                                    AS [Provider Key]
         ,[pnet].[provider_network_ud]                           AS [Provider Network Key]
         ,[poff].[practice_office_id]                            AS [Provider Provider Network Only Practice Office InternalID]
         ,[poff].[practice_office_ud]                            AS [Provider Provider Network Only Practice Office Key]
         ,[pidpit].[provider_identifier_type_ud]                 AS [Provider Identifier Type Key]

-- #######################################       NAMES       ######################################
         ,[pnet].[provider_network_nm]                           AS [Provider Network Name]
         ,[poff].[practice_office_nm]                            AS [Provider Provider Network Only Practice Office Name]
         ,[pidpit].[provider_identifier_type_nm]                 AS [Provider Identifier Type Name]

-- #######################################    DESCRIPTIONS   ######################################
         ,[pnet].[description]                                   AS [Provider Network Description]
         ,[pidpit].[description]                                 AS [Provider Identifier Type Description]

-- #######################################     ATTRIBUTES    ######################################
         ,[pidpit].[x12_qualifier]                               AS [X12 Qualifier]

-- #######################################       DATES       ######################################
         ,[pnet].[active_from_date]                              AS [Provider Network Active From Date]
         ,[pnet].[active_thru_date]                              AS [Provider Network Active Thru Date]
         ,[ppn].[effective_from]                                 AS [Provider-Provider Network Effective From]
         ,[ppn].[effective_thru]                                 AS [Provider-Provider Network Effective Thru]

-- #######################################     PROCESSING    ######################################
         ,[ppn].[network_rank]                                   AS [Provider-Provider Network Rank]

-- #######################################       FLAGS       ######################################
         ,[ppn].[is_pcp]                                         AS [Is PCP]
         ,[ppn].[list_in_directory]                              AS [List In Directory]
         ,[pid].[use_as_default]                                 AS [Provider Identifier Use As Default]
         ,[pid].[primary_care_physician]                         AS [Provider Identifier Primary Care Physician]

-- #######################################      METADATA     ######################################

         ,[pnet].[created_date]                                  AS [Provider Network Created Date]
         ,[pnet].[modified_date]                                 AS [Provider Network Modified Date]
         ,[ppn].[created_date]                                   AS [Provider-Provider Network Created Date]
         ,[ppn].[modified_date]                                  AS [Provider-Provider Network Modified Date]

-- #######################################   FK IDENTIFIERS  ######################################
         ,[ppn].[provider_identifier_id]                         AS [Provider-Provider Network Provider Identifier Id]
         ,[ppn].[only_practice_office_id]                        AS [Provider-Provider Network Only Practice Office Id]
         ,[pid].[only_practice_office_id]                        AS [Provider Identifier Only Practice Office Id]
         ,[pid].[provider_identifier_type_id]                    AS [Provider Identifier Type Id]

FROM      [dbo].[provider_provider_network]            AS [ppn]
LEFT JOIN [dbo].[provider_identifier]                  AS [pid]
     ON   [pid].[provider_identifier_id] = [ppn].[provider_identifier_id]
LEFT JOIN [dbo].[provider_network]                     AS [pnet]
     ON   [pnet].[provider_network_id] = [ppn].[provider_network_id]
LEFT JOIN [dbo].[practice_office]                      AS [poff]
     ON   [poff].[practice_office_id] = [ppn].[only_practice_office_id]
LEFT JOIN      [dbo].[provider_identifier_type]             AS [pidpit]
     ON   [pidpit].[provider_identifier_type_id] = [pid].[provider_identifier_type_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Network  ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_provider_network'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_provider_network'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_provider_network'
GO
