USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_member_name]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120203    Mike Bodenhamer 0.0         Initial Version
--  20120515    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--DESCRIPTION:      De-normalized Member Name data 
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_member_name] AS
SELECT
          [mn].[member_id]                                   AS [MemberInternalId]
         ,[mn].[member_name_id]                              AS [MemberNameInternalId]
         ,[dbo].[plx_ConcatenateName](
                    [mn].[name_last]
                   ,[mn].[name_first]
                   ,[mn].[name_middle]
                    ,ISNULL([s].[suffix_ud],[mn].[name_suffix])) AS [MemberName]
         ,[mn].[name_last]                                  AS [MemberLastName]
         ,[mn].[name_first]                                 AS [MemberFirstName]
         ,[mn].[name_middle]                                AS [MemberMiddleName]
         ,ISNULL([s].[suffix_ud],[mn].[name_suffix])       AS [MemberNameSuffix]
         ,[npre].[name_prefix_ud]                           AS [MemberNamePrefixIdentifier]
         ,[mn].[name_prefix_id]                             AS [NamePrefixInternalId]
         ,[npre].[name_prefix_ud]                           AS [NamePrefixIdentifier]
         ,[npre].[golden_key]                               AS [NamePrefixGoldenKey]
         ,[mn].[is_primary]                                 AS [IsPrimaryMemberName]
         ,[mn].[comment]                                    AS [MemberNameComment]
         ,[mn].[alias_type_id]                              AS [AliasTypeInternalId]
         ,[alias_type].[alias_type_ud]                      AS [AliasTypeIdentifier]
         ,[alias_type].[description]                        AS [AliasTypeDescription]
         ,[alias_type].[golden_key]                         AS [AliasTypeGoldenKey]
         ,[npre].[description]                              AS [NamePrefixDescription]
         ,[mn].[created_date]                               AS [MemberNameCreatedDate]
         ,[mn].[modified_date]                              AS [MemberNameModifiedDate]
FROM      [dbo].[member_name] AS [mn]
JOIN      [dbo].[member] AS [m]
     ON   [m].[member_id] = [mn].[member_id]
LEFT JOIN [dbo].[alias_type]
     ON   [alias_type].[alias_type_id] = [mn].[alias_type_id]
LEFT JOIN [dbo].[name_prefix] AS [npre]
     ON   [npre].[name_prefix_id] = [mn].[name_prefix_id]
LEFT JOIN [dbo].[suffix]    AS [s]
	 ON	  CAST([s].[suffix_id] AS VARCHAR(10)) = [mn].name_suffix;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Member Name data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_name'
GO
