USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_full_address]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer dev         Initial Version
--  20120510    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--  20121026    Mike Bodenhamer             Added [address].[delivery_route]
--  20150113	Jim Young					Added to qc_core project
--
--DESCRIPTION:     Denormalized Address data
--
--FRAMEWORK REVISION: {frameworkRevision}
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_full_address] AS
SELECT    [add].[address_id]                                     AS [AddressInternalId]

-- ####################################### USER-DEFINED KEYS ######################################
,[country].[country_ud]                                 AS [CountryIdentifier]
,[locsrc].[locale_source_ud]                            AS [LocaleSourceIdentifier]
,[state].[state_ud]                                     AS [StateIdentifier]

-- ######################################       NAMES       #######################################
,[country].[country_nm]                                 AS [CountryName]
,[state].[state_nm]                                     AS [StateName]

-- #######################################    DESCRIPTIONS   ######################################
,[locsrc].[description]                                 AS [LocaleSourceDescription]

-- #######################################     ATTRIBUTES    ######################################
,[add].[address_1]                                      AS [Address1]
,[add].[address_2]                                      AS [Address2]
,[add].[address_3]                                      AS [Address3]
,[loc].[postal_code]                                    AS [PostalCode]
,[loc].[city]                                           AS [City]
,[add].[delivery_route]                                 AS [DeliveryRoute]
,CASE
	WHEN LEN([add].[delivery_route]) > 0
	THEN LEFT([loc].[postal_code],5) + '-' + [add].[delivery_route]
	ELSE [loc].[postal_code]
	END                                                 AS [FullZipCode]
,[loc].[county]                                         AS [County]
,[add].[geo_code].Lat                                   AS [latitude]
,[add].[geo_code].Long                                  AS [longitude]
,[state].[state_ud]                                     AS [Statecode]
,[state].[state_nm]                                     AS [State]

-- #######################################     PROCESSING    ######################################
,[state].[sort_order]                                   AS [SortOrder]

-- #######################################       FLAGS       ######################################
,[add].[suppress_correspondence_indicator]              AS [SuppressCorrespondenceIndicator]

-- #######################################      METADATA     ######################################
,[add].[created_date]                                   AS [AddressCreatedDate]
,[add].[modified_date]                                  AS [AddressModifiedDate]

-- #######################################   FK IDENTIFIERS  ######################################
,[add].[locale_id]                                      AS [LocaleInternalId]
,[loc].[locale_source_id]                               AS [LocaleSourceInternalId]
,[loc].[state_id]                                       AS [StateInternalId]
,[loc].[country_id]                                     AS [CountryInternalId]
FROM      [dbo].[address]                         AS [add]
LEFT JOIN [dbo].[locale]                          AS [loc]
ON   [loc].[locale_id] = [add].[locale_id]
LEFT JOIN [dbo].[locale_source]                   AS [locsrc]
ON   [locsrc].[locale_source_id] = [loc].[locale_source_id]
LEFT JOIN [dbo].[state]
ON   [state].[state_id] = [loc].[state_id]
LEFT JOIN [dbo].[country]
ON   [country].[country_id] = [loc].[country_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Address data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_full_address'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_full_address'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_full_address'
GO
