USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_telephone_number]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--  20120510    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      Denormalized Telephone Number data
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_contact_telephone_number] AS
SELECT    [contn].[contact_id]                                   AS [ContactInternalId]
         ,[contn].[contact_telephone_number_id]                  AS [ContactTelephoneNumberInternalId]
         ,[contn].[telephone_number_id]                          AS [TelephoneNumberInternalId]
         ,[tn].[telephone_number]                                AS [TelephoneNumber]
         ,[tn].[telephone_number_extension]                      AS [TelephoneNumberExtension]
         ,[contn].[primary_for_contact]                          AS [PrimaryTelephoneNumberForContact]
         ,[bttc].[best_time_to_contact_ud]                       AS [BestTimeToContactIdentifier]
         ,[contn].[comment]                                      AS [ContactTelephoneNumberComment]
         ,[tntntype].[telephone_number_type_ud]                  AS [TelephoneNumberTypeIdentifier]
         ,[tntntype].[golden_key]                                AS [TelephoneNumberTypeGoldenKey]
         ,[tntntype].[description]                               AS [TelephoneNumberTypeDescription]
         ,[contn].[created_date]                                 AS [TelephoneNumberCreatedDate]
         ,[contn].[modified_date]                                AS [TelephoneNumberModifiedDate]
         ,[contn].[best_time_to_contact_id]                      AS [BestTimeToContactInternalId]
         ,[tn].[telephone_number_type_id]                        AS [TelephoneNumberTypeInternalId]
FROM      [dbo].[contact_telephone_number]        AS [contn]
JOIN      [dbo].[telephone_number]                AS [tn]
     ON   [tn].[telephone_number_id] = [contn].[telephone_number_id]
JOIN      [dbo].[telephone_number_type]           AS [tntntype]
     ON   [tntntype].[telephone_number_type_id] = [tn].[telephone_number_type_id]
LEFT JOIN [dbo].[best_time_to_contact]            AS [bttc]
     ON   [bttc].[best_time_to_contact_id] = [contn].[best_time_to_contact_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Telephone Number data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_telephone_number'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_telephone_number'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_contact_telephone_number'
GO
