USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_practice_office_summary]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120131    Mike Bodenhamer 0.0         Initial Version
--  20120514    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION: 0.0
--DESCRIPTION:      Practice Office Search Summary - used by Provider Search as
--                  well as Practice Office Search
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_practice_office_summary]
AS
SELECT    [po].[practice_office_id]                              AS [PracticeOfficeInternalId],
[po].[practice_office_ud]                              AS [PracticeOfficeIdentifier],
[poidt].[practice_office_identifier_type_ud]           AS [PracticeOfficeIdType],
[po].[practice_office_nm]                              AS [PracticeOfficeName],
[dbo].[plx_ConcatenateName](
[cn].[name_last],
[cn].[name_first],
[cn].[name_middle],
[cn].[name_suffix])                          AS [ContactName],
[tn].[telephone_number] + ISNULL(' x'
+ tn.[telephone_number_extension],'')        AS [ContactPhone],
[ia].[internet_address]                                AS [ContactEmail],
[add].[AddressInternalId]                              AS [ContactAddressInternalId],
COALESCE([add].[Address1] + ', ' + [add].[Address2],
[add].[Address1],
[add].[Address2])                            AS [ContactAddress],
[add].[City]                                           AS [ContactCity],
ISNULL([add].[StateCode],[add].[StateIdentifier])      AS [ContactState],
[add].[PostalCode]                                     AS [ContactPostalCode],
[add].[DeliveryRoute]                                  AS [ContactDeliveryRoute],
[add].[FullZipCode]                                    AS [ContactFullZipCode],
[add].[County]                                         AS [ContactCounty],
[add].[CountryName]                                    AS [ContactCountry],
[add].[Latitude],
[add].[Longitude]
FROM      [dbo].[practice_office]                      AS [po]
LEFT JOIN [dbo].[practice_office_identifier]           AS [poi]
ON   [poi].[practice_office_id] = po.[practice_office_id]
AND  [poi].[use_as_default] = 1
LEFT JOIN [dbo].[practice_office_identifier_type]      AS [poidt]
ON   [poidt].[practice_office_identifier_type_id] = [poi].[practice_office_identifier_type_id]
LEFT JOIN [dbo].[practice_office_contact]              AS [poc]
ON   [poc].[practice_office_id] = [po].[practice_office_id]
AND  [poc].[is_primary] = 'true'
LEFT JOIN [dbo].[contact_name]                         AS [cn]
ON   [cn].[contact_id] = [poc].[contact_id]
AND  [cn].[is_primary] = 'true'
LEFT JOIN [dbo].[contact_telephone_number]             AS [contn]
ON   [contn].[contact_id] = [poc].[contact_id]
AND  [contn].[primary_for_contact] = 'true'
LEFT JOIN [dbo].[telephone_number]                     AS [tn]
ON   [tn].[telephone_number_id] = [contn].[telephone_number_id]
LEFT JOIN [dbo].[contact_internet_address]             AS [cia]
ON   [cia].[contact_id] = [poc].[contact_id]
AND  [cia].[primary_for_contact] = 'true'
LEFT JOIN [dbo].[internet_address]                     AS [ia]
ON   [ia].[internet_address_id] = [cia].[internet_address_id]
AND  [ia].[internet_address_type_id] = (     SELECT [internet_address_type_id]
FROM   [dbo].[internet_address_type]
WHERE  [golden_key] = 'E-mail')
LEFT JOIN [contact_address]                            AS [conadd]
ON   [conadd].[contact_id] = [poc].[contact_id]
AND  [conadd].[primary_for_contact] = 'true'
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_full_address]       AS [add]
ON   [add].[AddressInternalId] = [conadd].[address_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Practice Office Search Summary' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_practice_office_summary'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_practice_office_summary'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_practice_office_summary'
GO
