USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_member_user_assigned_result_code]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120229    Mike Bodenhamer 0.0         Initial Version
--
--DESCRIPTION:      De-normalized User-assigned Result Code data for Members
--                  Derived from the stored procedure [plx_member_user_assigned_result_code_list_load]
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_member_user_assigned_result_code] AS
SELECT
		[muarc].[member_user_assigned_result_code_id]     AS [MemberUserAssignedResultCodeInternalId],
		[muarc].[member_id]                               AS [MemberInternalId],
		[muarc].[criteria_id]                             AS [CriteriaInternalId],
		[c].[criteria_ud]                                 AS [CriteriaIdentifier],
		[muarc].[result_code_id]                          AS [ResultCodeInternalId],
		[rc].[result_code_ud]                             AS [ResultCodeIdentifier],
		[muarc].[result_code_status_id]                   AS [ResultCodeStatusInternalId],
		[rcs].[result_code_status_ud]                     AS [ResultCodeStatusIdentifier],
		[rcs].[golden_key]                                AS [ResultCodeStatusGoldenKey],
		[muarc].[comment]                                 AS [MemberUserAssignedResultCodeComment],
		[muarc].[effective_from]                          AS [MemberUserAssignedResultCodeEffectiveFrom],
		[muarc].[effective_thru]                          AS [MemberUserAssignedResultCodeEffectiveThrough],
		[muarc].[created_user_name]                       AS [MemberUserAssignedResultCodeCreatedUserName],
		[muarc].[modified_date]                           AS [MemberUserAssignedResultCodeModifiedDate],
		[muarc].[modified_user_name]                       AS [MemberUserAssignedResultCodeModifiedUserName]
FROM      [dbo].[member_user_assigned_result_code] AS [muarc]
JOIN      [dbo].[member]                           AS [m]     ON [muarc].[member_id] = [m].[member_id]
LEFT JOIN [dbo].[criteria]                         AS [c]     ON [c].[criteria_id] = [muarc].[criteria_id]
LEFT JOIN [dbo].[result_code]                      AS [rc]    ON [rc].[result_code_id] = [muarc].[result_code_id]
LEFT JOIN [dbo].[result_code_status]               AS [rcs]   ON [rcs].[result_code_status_id] = [muarc].[result_code_status_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized User-assigned Result Code data for Members' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_member_user_assigned_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_member_user_assigned_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_member_user_assigned_result_code'
GO
