USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_identifier]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Identifier data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_identifier] AS
SELECT    [pid].[provider_id]                                    AS [ProviderInternalId]
         ,[pid].[provider_identifier_id]                         AS [ProviderIdentifierInternalId]
         ,[pid].[use_as_default]                                 AS [UseAsDefault]
         ,[pid].[provider_ud]                                    AS [ProviderIdentifier]
         ,[pid].[provider_identifier_type_id]                    AS [ProviderIdentifierTypeInternalId]
         ,[pit].[provider_identifier_type_ud]                    AS [ProviderIdentifierTypeIdentifier]
         ,[pit].[golden_key]                                     AS [ProviderIdentifierTypeGoldenKey]
         ,[pit].[provider_identifier_type_nm]                    AS [ProviderIdentifierTypeName]
         ,[pit].[description]                                    AS [ProviderIdentifierTypeDescription]
         ,[pid].[only_practice_office_id]                        AS [OnlyPracticeOfficeInternalId]
         ,[poff].[practice_office_id]                            AS [PracticeOfficeInternalId]
         ,[poff].[practice_office_ud]                            AS [PracticeOfficeIdentifier]
         ,[poff].[practice_office_nm]                            AS [PracticeOfficeName]
         ,[pit].[x12_qualifier]                                  AS [X12Qualifier]
         ,[pid].[primary_care_physician]                         AS [PrimaryCarePhysician]
         ,[pit].[must_be_unique]                                 AS [ProviderIdentifierTypeMustBeUnique]
         ,[pid].[effective_from]                                 AS [EffectiveFrom]
         ,[pid].[effective_thru]                                 AS [EffectiveThrough]
         ,[pid].[created_date]                                   AS [CreatedDate]
         ,[pid].[modified_date]                                  AS [ModifiedDate]
        
FROM      [dbo].[provider_identifier]                  AS [pid]
JOIN      [dbo].[provider_identifier_type]             AS [pit]
     ON   [pit].[provider_identifier_type_id] = [pid].[provider_identifier_type_id]
LEFT JOIN [dbo].[practice_office]                      AS [poff]
     ON   [poff].[practice_office_id] = [pid].[only_practice_office_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider identifier ' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_identifier'
GO
