USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_status]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Status data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_status] AS
SELECT
          [pstat].[provider_id]                        AS [Provider Id]
         ,[pstat].[provider_status_id]                 AS [Provider Status Id]
         ,[pstat].[provider_status_type_id]            AS [Provider Status Type Id]
         ,[pstatt].[provider_status_type_ud]           AS [Provider Status Type]
         ,[pstatt].[golden_key]                        AS [Provider Status GoldenKey]
         ,[pstatt].[provider_status_type_nm]           AS [Provider Status Type Name]
         ,[pstatt].[description]                       AS [Provider Status Type Description]          
         ,[pstat].[only_practice_office_id]            AS [Only Practice Office Id]
         ,[poff].[practice_office_id]                  AS [Practice Office Id]
         ,[poff].[practice_office_ud]                  AS [Practice Office Key]
         ,[poff].[practice_office_nm]                  AS [Practice Office Name]
         ,[pstat].[effective_from]                     AS [Provider Status Effective From]
         ,[pstat].[effective_thru]                     AS [Provider Status Effective Thru]
         ,[pstat].[created_date]                       AS [Provider Status Created Date]
         ,[pstat].[modified_date]                      AS [Provider Status Modified Date]
         ,[poff].[modified_date]                       AS [Only Practice Office Modified Date]
FROM      [dbo].[provider_status]            AS [pstat]
JOIN      [dbo].[provider_status_type]       AS [pstatt]
     ON   [pstatt].[provider_status_type_id] = [pstat].[provider_status_type_id]
LEFT JOIN [dbo].[practice_office]            AS [poff]
     ON   [poff].[practice_office_id] = [pstat].[only_practice_office_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Status  ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_status'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_status'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_status'
GO
