USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_vendor_identifier]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--  20120625    Mike Bodenhamer             Move to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      De-normalized Vendor Identifier data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_vendor_identifier] AS
SELECT
          [vid].[vendor_id]                                      AS [VendorInternalId]
         ,[vid].[vendor_identifier_id]                           AS [VendorIdentifierInternalId]

-- ################################# USER-DEFINED AND GOLDEN KEYS #################################
         ,[vid].[vendor_identifier_ud]                           AS [VendorIdentifier]
         ,[vidt].[vendor_identifier_type_ud]                     AS [VendorIdentifierTypeIdentifier]
         ,[idsrc].[identification_ud]                            AS [IdentificationIdentifier]
         ,[vcat].[vendor_category_ud]                            AS [VendorCategoryIdentifier]
         ,[vcat].[golden_key]                                    AS [VendorCategoryGoldenKey]

-- ######################################       NAMES       #######################################
         ,[vidt].[vendor_identifier_type_nm]                     AS [VendorIdentifierTypeName]
         ,[vcat].[vendor_category_nm]                            AS [VendorCategoryName]

-- ######################################    DESCRIPTIONS   #######################################
         ,[idsrc].[description]                                  AS [VendorIdentificationSourceDescription]

-- ######################################       DATES       #######################################
         ,[vid].[effective_from]                                 AS [VendorIdentifierEffectiveFrom]
         ,[vid].[effective_thru]                                 AS [VendorIdentifierEffectiveThrough]

-- ######################################      METADATA     #######################################
         ,[vid].[created_date]                                   AS [VendorIdentifierCreatedDate]
         ,[vid].[modified_date]                                  AS [VendorIdentifierModifiedDate]
         ,[idsrc].[modified_date]                                AS [VendorIdentificationSourceModifiedDate]

-- ######################################   FK IDENTIFIERS  #######################################
         ,[vid].[vendor_identifier_type_id]                      AS [VendorIdentifierTypeInternalId]
         ,[vid].[identification_source_id]                       AS [VendorIdentificationSourceInternalId]
         ,[vid].[vendor_category_id]                             AS [VendorCategoryInternalId]

FROM      [dbo].[vendor_identifier]               AS [vid]
LEFT JOIN [dbo].[vendor_identifier_type]          AS [vidt]
     ON   [vidt].[vendor_identifier_type_id] = [vid].[vendor_identifier_type_id]
LEFT JOIN [dbo].[identification_source]           AS [idsrc]
     ON   [idsrc].[identification_source_id] = [vid].[identification_source_id]
LEFT JOIN [dbo].[vendor_category]                 AS [vcat]
     ON   [vcat].[vendor_category_id] = [vid].[vendor_category_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Vendor Identifier ' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_identifier'
GO
