USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_ptl_third_party_liability_plan]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120524    Mike Bodenhamer             Initial Version
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      De-normalized Contact Name data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_ptl_third_party_liability_plan] AS
SELECT    [tplp].[third_party_liability_plan_id]            AS [ThirdPartyLiabilityPlanInternalId],
          [tplp].[insured_name]                             AS [InsuredName],
          [tplp].[insured_birth_date]                       AS [DateOfBirth],
          [tplp].[gender_id]                                AS [GenderInternalId],
          [g].[gender_ud]                                   AS [Gender],
--          [tplp].[policyholder_identifier],     -- do not use this field; business rules are built around [policy_holder_identifier]
          [tplp].[policy_holder_identifier]                 AS [PolicyHolderId],
          [tplp].[relationship_to_insured]                  AS [RelationshipToInsured],
          [tplp].[benefit_category_id]                      AS [BenefitCategoryReferenceInternal],
          [bc].[Benefit_category_ud]                        AS [BenefitCategoryReferenceIdentifier],
          [tplp].[insurance_plan_name]                      AS [InsurancePlanOrProgramName],
          [tplp].[insured_policy_number_group_number]       AS [InsuredPolicyGroupNumber],
          [tplp].[group_identifier]                         AS [GroupId],
          [tplp].[employer_name]                            AS [EmployerOrSchoolName],
          [tplp].[carrier_name]                             AS [CarrierName],
          [tplp].[effective_from]                           AS [EffectiveFrom],
          [tplp].[effective_thru]                           AS [EffectiveThrough],
          [tplp].[created_date]                             AS [CreatedDate],
          [tplp].[modified_date]                            AS [ModifiedDate]
FROM      [dbo].[third_party_liability_plan] AS [tplp]
LEFT JOIN [dbo].[benefit_category]           AS [bc]
     ON   [bc].[benefit_category_id] = [tplp].[benefit_category_id]
LEFT JOIN [dbo].[gender]                     AS [g]
     ON   [g].[gender_id] = [tplp].[gender_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Third-party Liability Plan data' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_third_party_liability_plan'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_third_party_liability_plan'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_third_party_liability_plan'
GO
