USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_contact_name]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--  20120511    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      De-normalized Contact Name data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_contact_name] AS
SELECT
          [connm].[contact_id]                                   AS [ContactInternalId]
         ,[connm].[contact_name_id]                              AS [ContactNameInternalId]
         ,[concntt].[contact_type_ud]                            AS [ContactTypeIdentifier]
         ,[dbo].[plx_ConcatenateName](
                    [connm].[name_last]
                   ,[connm].[name_first]
                   ,[connm].[name_middle]
                   ,ISNULL([s].[suffix_ud],[connm].[name_suffix])) AS [ContactName]
         ,[connm].[name_last]                                    AS [ContactLastName]
         ,[connm].[name_first]                                   AS [ContactFirstName]
         ,[connm].[name_middle]                                  AS [ContactMiddleName]
         ,ISNULL([s].[suffix_ud],[connm].[name_suffix])          AS [ContactNameSuffix]
         ,[npre].[name_prefix_ud]                                AS [ContactNamePrefix]
         ,[npre].[golden_key]                                    AS [ContactNamePrefixGoldenKey]
         ,[connm].[comment]                                      AS [ContactNameComment]
         ,[alias_type].[alias_type_ud]                           AS [AliasTypeIdentifier]
         ,[alias_type].[description]                             AS [AliasTypeDescription]
         ,[alias_type].[golden_key]                              AS [AliasTypeGoldenKey]
         ,[connm].[is_primary]                                   AS [IsPrimaryContactName]

-- #######################################      METADATA     ######################################
         ,[connm].[created_date]                                 AS [ContactNameCreatedDate]
         ,[connm].[modified_date]                                AS [ContactNameModifiedDate]

-- #######################################   FK IDENTIFIERS  ######################################
         ,[connm].[name_prefix_id]                               AS [NamePrefixInternalId]
         ,[connm].[alias_type_id]                                AS [AliasTypeInternalId]
         ,[con].[contact_type_id]                                AS [ContactTypeInternalId]
FROM      [dbo].[contact_name]               AS [connm]
JOIN      [dbo].[contact]                    AS [con]
     ON   [con].[contact_id] = [connm].[contact_id]
JOIN      [dbo].[alias_type]                 AS [alias_type]
     ON   [alias_type].[alias_type_id] = [connm].[alias_type_id]
LEFT JOIN [dbo].[name_prefix]                AS [npre]
     ON   [npre].[name_prefix_id] = [connm].[name_prefix_id]
LEFT JOIN [dbo].[contact_type]               AS [concntt]
     ON   [concntt].[contact_type_id] = [con].[contact_type_id]
LEFT join [dbo].[suffix]    AS [s]
	ON	  CAST([s].[suffix_id] AS VARCHAR(10)) = [connm].name_suffix;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Contact Name data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_contact_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_contact_name'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_contact_name'
GO
