USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_specialty]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Specialty data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_specialty] AS
SELECT    [pspec].[provider_id]                                  AS [Provider Id]
         ,[pspec].[provider_specialty_id]                        AS [Provider Specialty Id]
         ,[pspec].[provider_specialty_type_id]                   AS [Provider Specialty Type Id]

-- ####################################### USER-DEFINED KEYS ######################################
         ,[pspect].[provider_specialty_type_ud]                  AS [Provider Specialty Type Key]
          ,[pspect].[golden_key]                                 AS [Provider Specialty Type Golden Key]
         ,[poff].[practice_office_ud]                            AS [Provider Specialty Only Practice Office Key]

-- #######################################       NAMES       ######################################
         ,[poff].[practice_office_nm]                            AS [Provider Specialty Only Practice Office Name]

-- #######################################    DESCRIPTIONS   ######################################
         ,[pspec].[specialty_description]                        AS [Specialty Description]
         ,[pspect].[description]                                 AS [Provider Specialty Type Description]

-- #######################################       DATES       ######################################
         ,[pspec].[effective_from]                               AS [Provider Specialty Effective From]
         ,[pspec].[effective_thru]                               AS [Provider Specialty Effective Thru]

-- #######################################       FLAGS       ######################################
         ,[pspec].[primary_specialty]                            AS [Primary Specialty]

-- #######################################      METADATA     ######################################
         ,[pspec].[created_date]                                 AS [Provider Specialty Created Date]
         ,[pspec].[modified_date]                                AS [Provider Specialty Modified Date]
         ,[poff].[modified_date]                                 AS [Practice Office Modified Date]

-- #######################################   FK IDENTIFIERS  ######################################
         ,[pspec].[only_practice_office_id]                      AS [Only Practice Office Id]
         ,[pspec].[provider_identifier_id]                       AS [Provider Identifier Id]

FROM      [dbo].[provider_specialty]                        AS [pspec]
JOIN      [dbo].[provider_specialty_type]                   AS [pspect]
     ON   [pspect].[provider_specialty_type_id] = [pspec].[provider_specialty_type_id]
LEFT JOIN      [dbo].[practice_office]                      AS [poff]
     ON   [poff].[practice_office_id] = [pspec].[only_practice_office_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Speciality  ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_specialty'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_specialty'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_specialty'
GO
