USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_postal_code_for_search]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--****************************************************************************************/
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-----------------------------------------------------------------------------------------
--  20120626    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      Indexed view with postal_code and unformatted form of postal_code for fast comparison
--                  Use with the function [plx_portal].[plx_fn_remove_non_alphanumeric_chars]
--HEADER_END;
--****************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_postal_code_for_search] AS
SELECT
          [locale_id],
          [postal_code],
          [plx_portal].[plx_fn_remove_non_alphanumeric_chars]([postal_code]) AS [cleaned_postal_code]
FROM      [dbo].[locale];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indexed view with postal code and unformatted form of postal_code for fast comparison' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_postal_code_for_search'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_postal_code_for_search'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_postal_code_for_search'
GO
