USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_provider_practice_office_hours]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-------------------------------------------------------------------------------
--  20120131    Mike Bodenhamer 0.0         Initial Version
--  20120514    Mike Bodenhamer             Moved to plx_portal_framework_{frameworkRevision} schema
--
--CURRENT_VERSION: 0.0
--DESCRIPTION:      De-normalized Practice Office Hours data 
--HEADER_END;
******************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_ptl_provider_practice_office_hours]
AS
SELECT    [ppo].[provider_id]                                    AS [ProviderInternalId]
         ,[ppo].[provider_practice_office_id]                    AS [ProviderPracticeOfficeInternalId]
         ,[pooh].[practice_office_id]                            AS [PracticeOfficeInternalId]
         ,[pooh].[practice_office_office_hour_id]                AS [PracticeOfficeOfficeHourInternalId]
         ,[poff].[practice_office_ud]                            AS [PracticeOfficeIdentifier]
         ,[dow].[day_of_week_ud]                                 AS [DayOfWeekIdentifier]
         ,[ofhr].[office_hour_ud]                                AS [OfficeHourIdentifier]
         ,[poff].[practice_office_nm]                            AS [PracticeOfficeName]
         ,[dow].[description]                                    AS [DayOfWeekDescription]
         ,[pooh].[only_practice_office]                          AS [OnlyPracticeOffice]
         ,[pooh].[effective_from]                                AS [PracticeOfficeHourEffectiveFrom]
         ,[pooh].[effective_thru]                                AS [PracticeOfficeHourEffectiveThrough]
         ,[dow].[sort_order]                                     AS [DayOfWeekSortOrder]
         ,[pooh].[created_date]                                  AS [PracticeOfficeHourCreatedDate]
         ,[ppo].[created_date]                                   AS [ProviderPracticeOfficeCreatedDate]
         ,[poff].[created_date]                                  AS [PracticeOfficeCreatedDate]
         ,[pooh].[modified_date]                                 AS [PracticeOfficeHourModifiedDate]
         ,[ppo].[modified_date]                                  AS [ProviderPracticeOfficeModifiedDate]
         ,[poff].[modified_date]                                 AS [PracticeOfficeModifiedDate]
         ,[ppo].[default_practice_office]                        AS [DefaultPracticeOffice]
         ,[pooh].[day_of_week_id]                                AS [DayOfWeekInternalId]
         ,[pooh].[office_hour_id]                                AS [OfficeHourInternalId]
FROM      [dbo].[practice_office_office_hour] AS [pooh]
JOIN      [dbo].[practice_office] AS [poff]
     ON   [poff].[practice_office_id] = [pooh].[practice_office_id]
JOIN      [dbo].[provider_practice_office] AS [ppo]
     ON   [ppo].[practice_office_id] = [pooh].[practice_office_id]
JOIN      [dbo].[day_of_week] AS [dow]
     ON   [dow].[day_of_week_id] = [pooh].[day_of_week_id]
JOIN      [dbo].[office_hour] AS [ofhr]
     ON   [ofhr].[office_hour_id] = [pooh].[office_hour_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'De-normalized Practice Office Hours data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_practice_office_hours'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_practice_office_hours'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_provider_practice_office_hours'
GO
