USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_involvement]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20130620    Balaji Bose     1.0         Initial Version
--
--DESCRIPTION:     Authorized providers for all involvement types.
--
--SERVICE: {serviceName}
--FRAMEWORK REVISION: {frameworkRevision}
--SERVICE REVISION: {0}
--SERVICE VERSION: {1}
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_involvement] AS

SELECT DISTINCT
          [r].[referral_id],
          [r].[referral_ud],
          [rp].[referral_provider_id],
          [rp].[provider_identifier_id],
          [rp].[provider_id],
          [pi].[provider_ud],
          [pi].[provider_identifier_type_id],
          [pit].[provider_identifier_type_ud],
          ISNULL([rp].[referral_provider_involvement_id],NULL) AS [referral_provider_involvement_id],
          [rpi].[referral_provider_involvement_ud] AS [referral_provider_involvement_ud],
          [rp].[provider_specialty_id],
          [rp].[practice_office_id],
          [r].[effective_from],
          [r].[effective_thru],
          1 AS [source]
FROM      [dbo].[referral] AS [r]
JOIN      [dbo].[referral_provider] AS [rp] ON [rp].[referral_id] = [r].[referral_id]
LEFT JOIN [dbo].[provider_identifier] AS [pi] ON [pi].[provider_identifier_id] = [rp].[provider_identifier_id]
LEFT JOIN [dbo].[provider_identifier_type] AS [pit] ON [pit].[provider_identifier_type_id] = [pi].[provider_identifier_type_id]
LEFT JOIN [dbo].[referral_provider_involvement] AS [rpi] ON [rpi].[referral_provider_involvement_id] = [rp].[referral_provider_involvement_id]
GO
EXEC sys.sp_addextendedproperty @name=N'FrameworkRevision', @value=N'{frameworkRevision}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_involvement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Authorized providers for a referral, with involvement types. Does not include data related to [referral].[referring_provider%] columns.' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_involvement'
GO
EXEC sys.sp_addextendedproperty @name=N'PortalServiceName', @value=N'{serviceName}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_involvement'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_involvement'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_involvement'
GO
