USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_member_identifier]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Identifier data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_member_identifier] AS
SELECT    [mpi].[member_personal_id_id] AS [MemberPersonalIdInternalId],
          [mpi].[member_id]             AS [MemberInternalId],
          [mpi].[id_value]              AS [MemberIdentifier],
          [mpi].[member_id_type_id]     AS [MemberIdTypeInternalId],
          [mit].[member_id_type_ud]     AS [MemberIdTypeIdentifier],
          [mit].[golden_key]            AS [MemberIdTypeGoldenKey],
          [mit].[x12_qualifier]         AS [MemberIdTypeX12Qualifier],
          [mit].[gsu]                   AS [MemberIdTypeGsu],
          [mpi].[active]                AS [Active],
          [mpi].[created_user_name]     AS [CreatedUserName],
          [mpi].[created_date]          AS [CreatedDate],
          [mpi].[modified_date]         AS [ModifiedDate],
          [mit].[table_row_id]          AS [TableRowInternalId]
FROM      [dbo].[member_personal_id]    AS [mpi]
LEFT JOIN [dbo].[member_id_type]        AS [mit]  ON  [mit].[member_id_type_id] = [mpi].[member_id_type_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Member Personal identifier ' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_identifier'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_member_identifier'
GO
