USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_vendor]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By      Description
-----------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer  Initial Version
--  20120626    Mike Bodenhamer  Moved to plx_portal_framework_{frameworkRevision} schema; utilize vendor pay to view
--
--DESCRIPTION:      De-normalized Provider Vendor data
--HEADER_END;
****************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_provider_vendor] AS
SELECT
[pv].[provider_id]                                     AS [ProviderInternalId],
[pv].[provider_vendor_id]                              AS [ProviderVendorInternalId],
[pv].[vendor_id]                                       AS [VendorInternalId],
[pv].[use_as_default]                                  AS [UseAsDefault],
[v].[vendor_ud]                                        AS [VendorIdentifier],
[v].[vendor_nm]                                        AS [VendorName],

-- ####################################### USER-DEFINED KEYS ######################################
[vcvt].[customer_vendor_type_ud]                       AS [CustomerVendorTypeIdentifier],
[poff].[practice_office_ud]                            AS [PracticeOfficeIdentifier],
[vcur].[currency_ud]                                   AS [VendorCurrencyIdentifier],
[vfi1099].[field_indicator_1099_ud]                    AS [FieldIndicator1099Identifier],
[vtxgr].[tax_group_ud]                                 AS [TaxGroupIdentifier],
[vtaxidnt].[tax_identification_number_type_ud]         AS [TaxIdentificationNumberTypeIdentifier],
[criteria].[criteria_ud]                               AS [CriteriaIdentifier],
[criteriacritfa].[criteria_functional_area_ud]         AS [CriteriaFunctionalAreaIdentifier],
[criteriacritpc].[criteria_processing_category_ud]     AS [CriteriaProcessingCategoryIdentifier],

-- #######################################       NAMES       ######################################
[vp2].[VendorPayToName],
[vp2].[VendorPayToAttentionName],
[poff].[practice_office_nm]                            AS [PracticeOfficeName],
[vcvt].[customer_vendor_type_nm]                       AS [CustomerVendorTypeName],
[vcur].[currency_nm]                                   AS [VendorCurrencyName],
[vfi1099].[field_indicator_1099_nm]                    AS [FieldIndicator1099Name],
[vtxgr].[tax_group_nm]                                 AS [TaxGroupName],

-- #######################################    DESCRIPTIONS   ######################################
[vtaxidnt].[description]                               AS [TaxIdentificationNumberTypeDescription],
[criteria].[description]                               AS [CriteriaDescription],

-- #######################################     ATTRIBUTES    ######################################
[v].[federal_ein]                                      AS [FederalEin],
[v].[w9_income_tax_name]                               AS [W9IncomeTaxName],
[vp2].[VendorPayToTelephoneNumber],
[vp2].[VendorPayToFaxTelephoneNumber],
[vp2].[VendorPayToEmailAddress],
[vp2].[VendorPayToInternetAddress],

[vp2].[VendorPayToAddressInternalId]                   AS [AddressInternalId],
[vp2].[Address1],
[vp2].[Address2],
[vp2].[Address3],
[vp2].[PostalCode],
[vp2].[DeliveryRoute],
[vp2].[FullZipCode],
[vp2].[City],
[vp2].[County],
[vp2].[Statecode],
[vp2].[State],
[vp2].[longitude],
[vp2].[latitude],
-- #######################################       DATES       ######################################
[pv].[effective_from]                                  AS [ProviderVendorEffectiveFrom],
[pv].[effective_thru]                                  AS [ProviderVendorEffectiveThrough],
[vp2].[VendorPayToEffectiveFrom],
[vp2].[VendorPayToEffectiveThrough],

-- #######################################       FLAGS       ######################################
[pv].[use_vendor_on_claim]                             AS [UseVendorOnClaim],
[pv].[use_practice_office_vendor]                      AS [UsePracticeOfficeVendor],
[v].[taxable]                                          AS [VendorTaxable],
[v].[foreign_address]                                  AS [VendorForeignAddress],
[vp2].[VendorPayToUsefor1099],

-- #######################################      METADATA     ######################################
[pv].[created_date]                                    AS [ProviderVendorCreatedDate],
[pv].[modified_date]                                   AS [ProviderVendorModifiedDate],
[v].[modified_date]                                    AS [VendorModifiedDate],
[vp2].[VendorPayToModifiedDate],
[criteria].[modified_date]                             AS [CriteriaModifiedDate],
[poff].[modified_date]                                 AS [PracticeOfficeModifiedDate],

-- #######################################   FK IDENTIFIERS  ######################################
[vp2].[VendorPayToInternalId],
[pv].[criteria_id]                                     AS [CriteriaInternalId],
[pv].[only_practice_office_id]                         AS [OnlyPracticeOfficeInternalId],
[criteria].[criteria_processing_category_id]           AS [CriteriaProcessingCategoryInternalId],
[criteria].[criteria_functional_area_id]               AS [CriteriaFunctionalAreaInternalId],
[poff].[practice_office_id]                            AS [PracticeOfficeInternalId],
[v].[customer_vendor_type_id]                          AS [CustomerVendorTypeInternalId],
[v].[currency_id]                                      AS [VendorCurrencyInternalId],
[v].[tax_group_id]                                     AS [TaxGroupInternalId],
[v].[field_indicator_1099_id]                          AS [FieldIndicator1099InternalId],
[v].[tax_identification_number_type_id]                AS [TaxIdentificationNumberTypeInternalId]

-- JOINS adapted from stored proc [dbo].[plx_provider_vendor_assignment_list_load]
FROM      [dbo].[provider_vendor]                 AS [pv]
LEFT JOIN [dbo].[criteria]                                            ON [criteria].criteria_id                             = [pv].criteria_id
LEFT JOIN [dbo].[vendor]                          AS [v]              ON [v].vendor_id                                      = [pv].vendor_id
LEFT JOIN [dbo].[practice_office]                 AS [poff]           ON [poff].practice_office_id                          = [pv].only_practice_office_id
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_vendor_pay_to]
AS [vp2]            ON [vp2].[VendorInternalId]                           = [pv].[vendor_id]
LEFT JOIN [dbo].[criteria_processing_category]    AS [criteriacritpc] ON [criteriacritpc].[criteria_processing_category_id] = [criteria].[criteria_processing_category_id]
LEFT JOIN [dbo].[criteria_functional_area]        AS [criteriacritfa] ON [criteriacritfa].[criteria_functional_area_id]     = [criteria].[criteria_functional_area_id]

LEFT JOIN [dbo].[tax_group]                       AS [vtxgr]          ON [vtxgr].[tax_group_id]                             = [v].[tax_group_id]
LEFT JOIN [dbo].[customer_vendor_type]            AS [vcvt]           ON [vcvt].[customer_vendor_type_id]                   = [v].[customer_vendor_type_id]
LEFT JOIN [dbo].[currency]                        AS [vcur]           ON [vcur].[currency_id]                               = [v].[currency_id]
LEFT JOIN [dbo].[field_indicator_1099]            AS [vfi1099]        ON [vfi1099].[field_indicator_1099_id]                = [v].[field_indicator_1099_id]
LEFT JOIN [dbo].[tax_identification_number_type]  AS [vtaxidnt]       ON [vtaxidnt].[tax_identification_number_type_id]     = [v].[tax_identification_number_type_id];
GO
EXEC sys.sp_addextendedproperty @name=N'FrameworkRevision', @value=N'{frameworkRevision}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_vendor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Vendor  ' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_provider_vendor'
GO
