USE [qc_core]
GO
/****** Object:  View [plx_portal_framework_{frameworkRevision}].[vw_plx_vendor_pay_to]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-----------------------------------------------------------------------------------------
--  20120626    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      De-normalized Vendor Pay To data
--HEADER_END;
****************************************************************************************/
CREATE VIEW [plx_portal_framework_{frameworkRevision}].[vw_plx_vendor_pay_to] AS
SELECT
[v].[vendor_id]                                        AS [VendorInternalId],
[v].[vendor_ud]                                        AS [VendorIdentifier],
[v].[vendor_nm]                                        AS [VendorName],

-- ####################################### USER-DEFINED KEYS ######################################
[vcvt].[customer_vendor_type_ud]                       AS [CustomerVendorTypeIdentifier],
[vcur].[currency_ud]                                   AS [VendorCurrencyIdentifier],
[vfi1099].[field_indicator_1099_ud]                    AS [FieldIndicator1099Identifier],
[vtxgr].[tax_group_ud]                                 AS [TaxGroupIdentifier],
[vtaxidnt].[tax_identification_number_type_ud]         AS [TaxIdentificationNumberTypeIdentifier],

-- #######################################       NAMES       ######################################
[vp2].[vendor_pay_to_nm]                               AS [VendorPayToName],
[vp2].[attention_nm]                                   AS [VendorPayToAttentionName],
[vcvt].[customer_vendor_type_nm]                       AS [CustomerVendorTypeName],
[vcur].[currency_nm]                                   AS [VendorCurrencyName],
[vfi1099].[field_indicator_1099_nm]                    AS [FieldIndicator1099Name],
[vtxgr].[tax_group_nm]                                 AS [TaxGroupName],

-- #######################################    DESCRIPTIONS   ######################################
[vtaxidnt].[description]                               AS [TaxIdentificationNumberTypeDescription],

-- #######################################     ATTRIBUTES    ######################################
[v].[federal_ein]                                      AS [FederalEin],
[v].[w9_income_tax_name]                               AS [W9IncomeTaxName],
[vp2].[telephone_number]                               AS [VendorPayToTelephoneNumber],
[vp2].[fax_telephone_number]                           AS [VendorPayToFaxTelephoneNumber],
[vp2].[email_address]                                  AS [VendorPayToEmailAddress],
[vp2].[internet_address]                               AS [VendorPayToInternetAddress],
[vp2].[address_id]                                     AS [VendorPayToAddressInternalId],
[add].[Address1],
[add].[Address2],
[add].[Address3],
[add].[PostalCode]                                    AS [PostalCode],
[add].[DeliveryRoute]                                 AS [DeliveryRoute],
[add].[FullZipCode]                                   AS [FullZipCode],
[add].[City],
[add].[County],
[add].[StateIdentifier]                               AS [Statecode],
[add].[StateName]                                     AS [State],
[add].[latitude] ,
[add].[longitude],
-- #######################################       DATES       ######################################
[vp2].[effective_from]                                 AS [VendorPayToEffectiveFrom],
[vp2].[effective_thru]                                 AS [VendorPayToEffectiveThrough],

-- #######################################       FLAGS       ######################################
[v].[taxable]                                          AS [VendorTaxable],
[v].[foreign_address]                                  AS [VendorForeignAddress],
[vp2].[use_for_1099]                                   AS [VendorPayToUsefor1099],

-- #######################################      METADATA     ######################################
[v].[created_date]                                     AS [VendorCreatedDate],
[v].[modified_date]                                    AS [VendorModifiedDate],
[vp2].[created_date]                                   AS [VendorPayToCreatedDate],
[vp2].[modified_date]                                  AS [VendorPayToModifiedDate],

-- #######################################   FK IDENTIFIERS  ######################################
[vp2].[vendor_pay_to_id]                               AS [VendorPayToInternalId],
[v].[customer_vendor_type_id]                          AS [CustomerVendorTypeInternalId],
[v].[currency_id]                                      AS [VendorCurrencyInternalId],
[v].[tax_group_id]                                     AS [TaxGroupInternalId],
[v].[field_indicator_1099_id]                          AS [FieldIndicator1099InternalId],
[v].[tax_identification_number_type_id]                AS [TaxIdentificationNumberTypeInternalId]
FROM      [dbo].[vendor]                         AS [v]
JOIN      [dbo].[vendor_pay_to]                  AS [vp2]      ON [vp2].[vendor_id]                              = [v].[vendor_id]
LEFT JOIN [dbo].[customer_vendor_type]           AS [vcvt]     ON [vcvt].[customer_vendor_type_id]               = [v].[customer_vendor_type_id]
LEFT JOIN [dbo].[currency]                       AS [vcur]     ON [vcur].[currency_id]                           = [v].[currency_id]
LEFT JOIN [dbo].[tax_group]                      AS [vtxgr]    ON [vtxgr].[tax_group_id]                         = [v].[tax_group_id]
LEFT JOIN [dbo].[field_indicator_1099]           AS [vfi1099]  ON [vfi1099].[field_indicator_1099_id]            = [v].[field_indicator_1099_id]
LEFT JOIN [dbo].[tax_identification_number_type] AS [vtaxidnt] ON [vtaxidnt].[tax_identification_number_type_id] = [v].[tax_identification_number_type_id]
LEFT JOIN [plx_portal_framework_{frameworkRevision}].[vw_plx_full_address] AS [add] ON [add].[AddressInternalId] = [vp2].[address_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Denormalized Vendor Pay To data' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_pay_to'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_pay_to'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal_framework_{frameworkRevision}', @level1type=N'VIEW',@level1name=N'vw_plx_vendor_pay_to'
GO
