USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_ptl_claim_result_code]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
-- DERIVED FROM STORED PROCEDURE plx_portal.plx_claim_result_codes_list_load
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120307    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Adjudication Result Codes for Claim Procedures 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_ptl_claim_result_code]
AS
WITH [hide] AS (
     SELECT [report_print_override_option_ud] AS [HIDE_UD] FROM [dbo].[report_print_override_option] WHERE upper([golden_key]) = 'HIDE'
     )
, [disp] AS (
     SELECT [report_print_override_option_ud] AS [DISPLAY_UD] FROM [dbo].[report_print_override_option] WHERE upper([golden_key]) = 'DISPLAY'
)
SELECT    [ARC].[adjudication_result_code_id]
         ,CASE 
               WHEN [arck].[adjudication_result_code_id] IS NOT NULL
                    THEN 1 
               ELSE 0 
           END AS [visible]
        --  ,'View' as 'additional_information_button'	/* This is just for the button column in the grid */
         ,[ARC].[claim_id]
         ,[ARC].[claim_procedure_id]

         ,[ARC].[result_code_id]
         ,[ARC].[comment]
         ,[RC].[result_code_ud]
         ,[RC].[short_message] AS [description]
         ,[RC].[golden_key]

         ,ISNULL([AST1].[adjudication_status_type_id], [AST].[adjudication_status_type_id]) AS [adjudication_status_type_id]
         ,ISNULL([AST1].[adjudication_status_type_ud], [AST].[adjudication_status_type_ud]) AS [adjudication_status_type_ud]
         ,ISNULL([AST1].[golden_key], [AST].[golden_key]) as [adjudication_status_type_GK]   -- used to disable override status column ON grid if it is error

         ,ISNULL([RCS].[result_code_status_id],[RC].[result_code_status_id]) AS [system_status_id]
         ,ISNULL([RCS].[result_code_status_ud], [RCS0].[result_code_status_ud]) AS [system_status]
         ,ISNULL([RCS].[golden_key], [RCS0].[golden_key]) AS [system_status_GK]

         ,[ARCO].[result_code_status_id] as [user_status_id]
         ,[RCS1].[result_code_status_ud] as [user_status]
         ,[RCS1].[golden_key] as [user_status_GK]

         ,ISNULL([ARCO].[last_modified_by],'System') AS [last_modified_by]

-- concurrency checking note:
-- the last modified date ON the form should show the system created date if modified date is null;
--   note that the [ARC] table modified date is always updated when changes are made,
--   but there may not be a corresonding record in the [ARCO] table. So don't use the [ARCO] modified date here.
         ,ISNULL([ARC].[modified_date],[ARC].[created_date]) AS [last_modified_date]
         ,ISNULL([ARC].[do_not_clear], 0) AS [do_not_clear]

-- Default print ON member
         ,CASE 
               WHEN [RC].[use_on_member_report] IS NOT NULL THEN
                    CASE 
                         WHEN [RC].use_on_member_report = 1
                              THEN [disp].[DISPLAY_UD]
                         ELSE [hide].[HIDE_UD]
                    END
               ELSE [disp].[DISPLAY_UD]
           END
           AS [member_report_print_default_option_ud]
-- Override print ON member
         ,[RPOO_MEM].[report_print_override_option_ud] AS [member_report_print_override_option_ud]
         ,[ARCO].member_report_print_override_option_id

-- Default print ON provider
         ,CASE 
               WHEN [RC].use_on_provider_report IS NOT NULL THEN
                    CASE 
                         WHEN [RC].use_on_provider_report = 1 
                              THEN [disp].[DISPLAY_UD]
                         ELSE [hide].[HIDE_UD]
    END
          ELSE [disp].[DISPLAY_UD] 
          END AS [provider_report_print_default_option_ud]

-- Override print ON provider
         ,[RPOO_PROV].[report_print_override_option_ud] AS [provider_report_print_override_option_ud]
         ,[ARCO].[provider_report_print_override_option_id]

         ,ISNULL([ARCO].[not_a_clean_claim],ISNULL([RC].[not_a_clean_claim] ,0)) AS [non_clean]
         ,[ARCO].[adjudication_result_code_override_id]
         ,[ARCO].[modified_date]

FROM      [dbo].[adjudication_result_code]             AS [ARC]

LEFT JOIN [dbo].[adjudication_result_code_override]    AS [ARCO] 
     ON   [ARCO].[adjudication_result_code_id] =[ARC].[adjudication_result_code_id]
LEFT JOIN [dbo].[report_print_override_option]         AS [RPOO_MEM] 
     ON   [RPOO_MEM].report_print_override_option_id =[ARCO].member_report_print_override_option_id
LEFT JOIN [dbo].[report_print_override_option]         AS [RPOO_PROV] 
     ON   [RPOO_PROV].report_print_override_option_id =[ARCO].provider_report_print_override_option_id
LEFT JOIN [dbo].[result_code]                          AS [RC] 
     ON   [ARC].[result_code_id] = [RC].[result_code_id]
LEFT JOIN [dbo].[result_code_status]                   AS [RCS0] 
     ON   [RC].[result_code_status_id] = [RCS0].[result_code_status_id]
LEFT JOIN [dbo].[result_code_status]                   AS [RCS] 
     ON   [ARC].[result_code_status_id] = [RCS].[result_code_status_id]
LEFT JOIN [dbo].[result_code_status]                   AS [RCS1] 
     ON   [ARCO].[result_code_status_id] = [RCS1].[result_code_status_id]
LEFT JOIN [dbo].[adjudication_status_type]             AS [AST] 
     ON   [RCS0].adjudication_status_type_id = [AST].adjudication_status_type_id
LEFT JOIN [dbo].[adjudication_status_type]             AS [AST1] 
     ON   [AST1].adjudication_status_type_id = [RCS].adjudication_status_type_id
LEFT JOIN [dbo].[adjudication_result_code_key]         AS [arck]
     ON   [arck].[adjudication_result_code_id] = [ARC].[adjudication_result_code_id]
JOIN [hide] ON 1=1
JOIN [disp] ON 1=1
WHERE [ARC].[claim_procedure_id] IS NULL;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Claim Result Code' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_claim_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_claim_result_code'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_ptl_claim_result_code'
GO
