USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_provider_category]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**************************************************************************************************
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
---------------------------------------------------------------------------------------------------
--  20120213    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION: 1.0
--DESCRIPTION:     Denormalized Provider Category data 
--HEADER_END;
**************************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_provider_category] AS
SELECT     [pcat].[provider_id]                                  AS [Provider Id]
          ,[pcat].[provider_category_id]                         AS [Provider Category Id]
          ,[pcat].[provider_category_type_id]                    AS [Provider Category Type Id]
          ,[pcatt].[provider_category_type_ud]                   AS [Provider Category Type Key]
          ,[pcatt].[golden_key]                                  AS [Provider Category Golden Key]
          ,[pcatt].[description]                                 AS [Provider Category Type Description]
          ,[pcat].[only_practice_office_id]                      AS [Provider Category Only Practice Office Id]
          ,[poff].[practice_office_ud]                           AS [Provider Category Only Practice Office Key]
          ,[poff].[practice_office_nm]                           AS [Provider Category Only Practice Office Name]
          ,[pid].[use_as_default]                                AS [Provider Category Provider Identifier Use As Default]
          ,[pid].[primary_care_physician]                        AS [Provider Category Provider Identifier Primary Care Physician]
          ,[pcat].[effective_from]                               AS [Provider Category Effective From]
          ,[pid].[effective_thru]                                AS [Provider Category Effective Thru]
          ,[pcat].[provider_identifier_id]                       AS [Provider Category Provider Identifier Id]
          ,[pid].[provider_identifier_type_id]                   AS [Provider Identifier Type Id]
          ,[pid].[only_practice_office_id]                       AS [Provider Identifier Only Practice Office Id]
          ,[pcat].[created_date]                                 AS [Provider Category Created Date]
          ,[pcat].[modified_date]                                AS [Provider Category Modified Date]
FROM       [dbo].[provider_category]              AS [pcat]
JOIN       [dbo].[provider_category_type]         AS [pcatt]
       ON  [pcatt].[provider_category_type_id] = [pcat].[provider_category_type_id]
LEFT JOIN  [dbo].[practice_office]                AS [poff]
       ON  [poff].[practice_office_id] = [pcat].[only_practice_office_id]
LEFT JOIN       [dbo].[provider_identifier]       AS [pid]
       ON  [pid].[provider_identifier_id] = [pcat].[provider_identifier_id];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'View for Provider Category ' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_category'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_category'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_provider_category'
GO
