USE [qc_core]
GO
/****** Object:  View [plx_portal].[vw_plx_telephone_number_for_search]    Script Date: 7/10/2026 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--****************************************************************************************/
--HEADER_BEGIN;
--AUTHOR: Mike Bodenhamer
--
-- REVISION_HISTORY:
--  Date        Modified By     Version     Description
-----------------------------------------------------------------------------------------
--  20120626    Mike Bodenhamer 1.0         Initial Version
--
--CURRENT_VERSION:  1.0
--DESCRIPTION:      Indexed view with Telephone number and numeric form of phone number for fast comparison
--                  Use with the function [plx_portal_framework_{frameworkRevision}].[plx_fn_number_from_phone_number]
--HEADER_END;
--****************************************************************************************/
CREATE VIEW [plx_portal].[vw_plx_telephone_number_for_search] AS
SELECT
          [telephone_number_id]                             AS [TelephoneNumberInternalId],
          [telephone_number]                                AS [TelephoneNumber],
          [plx_portal_framework_{frameworkRevision}].[plx_fn_number_from_phone_number](
               [telephone_number])                          AS [NumericTelephoneNumber],
          [telephone_number_extension]                      AS [TelephoneNumberExtension],
          [telephone_number_type_id]                        AS [TelephoneNumberTypeIdentifier]
FROM      [dbo].[telephone_number];
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indexed view with Telephone number and numeric form of phone number for fast comparison' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_telephone_number_for_search'
GO
EXEC sys.sp_addextendedproperty @name=N'Revision', @value=N'{0}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_telephone_number_for_search'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'{1}' , @level0type=N'SCHEMA',@level0name=N'plx_portal', @level1type=N'VIEW',@level1name=N'vw_plx_telephone_number_for_search'
GO
