USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code](
	[family_eligibility_member_benefit_plan_user_assigned_result_code_id] [int] IDENTITY(1,1) NOT NULL,
	[family_eligibility_member_benefit_plan_id] [int] NOT NULL,
	[criteria_id] [int] NULL,
	[result_code_id] [int] NULL,
	[result_code_status_id] [int] NULL,
	[comment] [nvarchar](300) NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_member_benefit_plan_user_assigned_result_code] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_member_benefit_plan_user_assigned_result_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_user_assigned_result_code_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_user_assigned_result_code_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_user_assigned_result_code_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_user_assigned_result_code_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_user_assigned_result_code_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_criteria] FOREIGN KEY([criteria_id])
REFERENCES [dbo].[criteria] ([criteria_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_criteria]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_family_eligibility_member_benefit_plan] FOREIGN KEY([family_eligibility_member_benefit_plan_id])
REFERENCES [dbo].[family_eligibility_member_benefit_plan] ([family_eligibility_member_benefit_plan_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_family_eligibility_member_benefit_plan]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_result_code] FOREIGN KEY([result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_result_code]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_result_code_status] FOREIGN KEY([result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_user_assigned_result_code] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_user_assigned_result_code_result_code_status]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_user_assigned_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to family_eligibility_member_benefit_plan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to criteria' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'criteria_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to result_code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to result_code_status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User entered comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective through. Term Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if a row is active. Used to keep a record from being viewed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the User who created this record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Group the user was member of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_user_assigned_result_code', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
