USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_result_amount_override_audit]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_result_amount_override_audit](
	[adjudication_result_amount_override_audit_id] [int] IDENTITY(1,1) NOT NULL,
	[adjudication_result_amount_override_id] [int] NOT NULL,
	[adjudication_result_amount_id] [int] NOT NULL,
	[alternate_course_member_expense] [numeric](19, 4) NULL,
	[balance_billable] [numeric](19, 4) NULL,
	[benefit_limit_amount] [numeric](19, 4) NULL,
	[cob_payment_excess_amount] [numeric](19, 4) NULL,
	[coinsurance_amount] [numeric](19, 4) NULL,
	[contract_amount] [numeric](19, 4) NULL,
	[copay_amount] [numeric](19, 4) NULL,
	[deductible_amount] [numeric](19, 4) NULL,
	[eligible_units] [numeric](19, 4) NULL,
	[eligible_visits] [numeric](19, 4) NULL,
	[exceeds_contract_amount] [numeric](19, 4) NULL,
	[ffs_equivalent_amount] [numeric](19, 4) NULL,
	[ineligible_amount] [numeric](19, 4) NULL,
	[mips_negative_adjustment_amount] [numeric](19, 4) NULL,
	[mips_positive_adjustment_amount] [numeric](19, 4) NULL,
	[sequestration_adjustment_amount] [numeric](19, 4) NULL,
	[exceeds_billed_amount] [numeric](19, 4) NULL,
	[missing_authorization_penalty_amount] [numeric](19, 4) NULL,
	[pre_existing_condition_penalty_amount] [numeric](19, 4) NULL,
	[provider_discount] [numeric](19, 4) NULL,
	[provider_responsibility_amount] [numeric](19, 4) NULL,
	[supp_plan_covered_amount] [numeric](19, 4) NULL,
	[withhold_amount] [numeric](19, 4) NULL,
	[write_off_amount] [numeric](19, 4) NULL,
	[code_depreciation_rank] [numeric](19, 4) NULL,
	[alternate_course_member_expense_adjudication_details_override_reason_id] [int] NULL,
	[balance_billable_adjudication_details_override_reason_id] [int] NULL,
	[benefit_limit_amount_adjudication_details_override_reason_id] [int] NULL,
	[cob_payment_excess_amount_adjudication_details_override_reason_id] [int] NULL,
	[coinsurance_amount_adjudication_details_override_reason_id] [int] NULL,
	[contract_amount_adjudication_details_override_reason_id] [int] NULL,
	[copay_amount_adjudication_details_override_reason_id] [int] NULL,
	[deductible_amount_adjudication_details_override_reason_id] [int] NULL,
	[eligible_units_adjudication_details_override_reason_id] [int] NULL,
	[eligible_visits_adjudication_details_override_reason_id] [int] NULL,
	[exceeds_contract_amount_adjudication_details_override_reason_id] [int] NULL,
	[ffs_equivalent_amount_adjudication_details_override_reason_id] [int] NULL,
	[ineligible_amount_adjudication_details_override_reason_id] [int] NULL,
	[missing_authorization_penalty_amount_adjudication_details_override_reason_id] [int] NULL,
	[mips_negative_adjustment_amount_adjudication_details_override_reason_id] [int] NULL,
	[mips_positive_adjustment_amount_adjudication_details_override_reason_id] [int] NULL,
	[sequestration_adjustment_amount_adjudication_details_override_reason_id] [int] NULL,
	[exceeds_billed_amount_adjudication_details_override_reason_id] [int] NULL,
	[pre_existing_condition_penalty_amount_adjudication_details_override_reason_id] [int] NULL,
	[provider_discount_adjudication_details_override_reason_id] [int] NULL,
	[provider_responsibility_amount_adjudication_details_override_reason_id] [int] NULL,
	[supp_plan_covered_amount_adjudication_details_override_reason_id] [int] NULL,
	[withhold_amount_adjudication_details_override_reason_id] [int] NULL,
	[write_off_amount_adjudication_details_override_reason_id] [int] NULL,
	[active] [bit] NOT NULL,
	[code_depreciation_rank_adjudication_details_override_reason_id] [int] NULL,
	[object_row_version] [varbinary](8) NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[operation] [char](1) NOT NULL,
 CONSTRAINT [pk_adjudication_result_amount_override_audit_id] PRIMARY KEY CLUSTERED 
(
	[adjudication_result_amount_override_audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
