USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_company_segment]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_company_segment](
	[accounting_company_segment_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_company_id] [int] NOT NULL,
	[segment_number] [int] NOT NULL,
	[segment_length] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_company_segment] PRIMARY KEY CLUSTERED 
(
	[accounting_company_segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_company_segment] ADD  CONSTRAINT [DF_accounting_company_segment_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_company_segment] ADD  CONSTRAINT [DF_accounting_company_segment_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_company_segment] ADD  CONSTRAINT [DF_accounting_company_segment_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_company_segment] ADD  CONSTRAINT [DF_accounting_company_segment_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_company_segment] ADD  CONSTRAINT [DF_accounting_company_segment_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_company_segment]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_segment_accounting_company] FOREIGN KEY([accounting_company_id])
REFERENCES [dbo].[accounting_company] ([accounting_company_id])
GO
ALTER TABLE [dbo].[accounting_company_segment] CHECK CONSTRAINT [FK_accounting_company_segment_accounting_company]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'accounting_company_segment_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_company' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This determines what order this segment is in for the list of segments for this accounting company.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'segment_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This determines how many characters this segment is allowed to have.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'segment_length'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if a row is active. Used to keep a record from being viewed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the User who created this record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Group the user was member of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_segment', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
