USE [qc_core]
GO
/****** Object:  Table [dbo].[bind_claim_processing_batch]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bind_claim_processing_batch](
	[bind_claim_processing_batch_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_start_time] [datetime] NULL,
	[batch_complete_time] [datetime] NULL,
	[created_user] [nvarchar](50) NULL,
	[created_date] [datetime] NULL,
	[modified_user] [nvarchar](50) NULL,
	[modified_date] [datetime] NULL
) ON [PRIMARY]
GO
