USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility](
	[family_eligibility_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[family_eligibility_ud] [nvarchar](100) NULL,
	[benefit_contract_id] [int] NULL,
	[never_under_coverage] [bit] NULL,
	[family_eligibility_termination_reason_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[dependent_only_policy] [bit] NULL,
	[eligibility_issue_status_id] [int] NULL,
	[current_status_id] [int] NULL,
	[auto_generated_dependent_member_records] [bit] NULL,
	[family_disclosure_restriction_id] [int] NULL,
	[disclosure_date] [datetime] NULL,
	[family_eligibility_employment_id] [int] NULL,
	[signed_in_state_id] [int] NULL,
	[grace_period_status_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_family_eligibility] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_family_eligibility_ud_benefit_contract_id] UNIQUE NONCLUSTERED 
(
	[family_eligibility_ud] ASC,
	[benefit_contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_never_under_coverage]  DEFAULT ((0)) FOR [never_under_coverage]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_dependent_only_policy]  DEFAULT ((0)) FOR [dependent_only_policy]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_auto_generated_dependent_member_records]  DEFAULT ((1)) FOR [auto_generated_dependent_member_records]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility] ADD  CONSTRAINT [DF_family_eligibility_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_benefit_contract] FOREIGN KEY([benefit_contract_id])
REFERENCES [dbo].[benefit_contract] ([benefit_contract_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_benefit_contract]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_current_status] FOREIGN KEY([current_status_id])
REFERENCES [dbo].[current_status] ([current_status_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_current_status]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_eligibility_issue_status] FOREIGN KEY([eligibility_issue_status_id])
REFERENCES [dbo].[eligibility_issue_status] ([eligibility_issue_status_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_eligibility_issue_status]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_family_disclosure_restriction] FOREIGN KEY([family_disclosure_restriction_id])
REFERENCES [dbo].[family_disclosure_restriction] ([family_disclosure_restriction_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_family_disclosure_restriction]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_family_eligibility_employment] FOREIGN KEY([family_eligibility_employment_id])
REFERENCES [dbo].[family_eligibility_employment] ([family_eligibility_employment_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_family_eligibility_employment]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_family_eligibility_termination_reason] FOREIGN KEY([family_eligibility_termination_reason_id])
REFERENCES [dbo].[family_eligibility_termination_reason] ([family_eligibility_termination_reason_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_family_eligibility_termination_reason]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_grace_period_status] FOREIGN KEY([grace_period_status_id])
REFERENCES [dbo].[grace_period_status] ([grace_period_status_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_grace_period_status]
GO
ALTER TABLE [dbo].[family_eligibility]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_state] FOREIGN KEY([signed_in_state_id])
REFERENCES [dbo].[state] ([state_id])
GO
ALTER TABLE [dbo].[family_eligibility] CHECK CONSTRAINT [FK_family_eligibility_state]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to enrollment table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'family_eligibility_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The user defined identifier for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'family_eligibility_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The benefit contract associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When set this flag indicates that the enrollment was never under coverage even when a single day of coverage is reflected in effective from and effective through.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'never_under_coverage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The family eligibility termination reason associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'family_eligibility_termination_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The effective from date for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The effective through date for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When set this flag indicates that the enrollment has a guarantor instead of a subscriber.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'dependent_only_policy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The eligibility issue status associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'eligibility_issue_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The current status associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'current_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Flag indicating whether or not to automatically create a member record for dependents that do not already exist in QC and that are entered for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'auto_generated_dependent_member_records'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The family disclosure restriction associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'family_disclosure_restriction_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The disclosure date for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'disclosure_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The enrollment employment associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'family_eligibility_employment_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The signed in state associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'signed_in_state_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The grace period status associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'grace_period_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Row version-stamp that is used to support application optimistic concurrency locking.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility', @level2type=N'COLUMN',@level2name=N'object_row_version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores enrollments.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility'
GO
