USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_referral]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_referral](
	[adjudication_referral_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_procedure_id] [int] NULL,
	[referral_id] [int] NULL,
	[referral_authorized_procedure_id] [int] NULL,
	[units] [numeric](19, 4) NULL,
	[visits] [int] NULL,
	[dollars] [numeric](19, 4) NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_referral] PRIMARY KEY CLUSTERED 
(
	[adjudication_referral_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_referral] ADD  CONSTRAINT [DF_adjudication_referral_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_referral]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_referral_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_referral] CHECK CONSTRAINT [FK_adjudication_referral_claim_procedure]
GO
ALTER TABLE [dbo].[adjudication_referral]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_referral_referral] FOREIGN KEY([referral_id])
REFERENCES [dbo].[referral] ([referral_id])
GO
ALTER TABLE [dbo].[adjudication_referral] CHECK CONSTRAINT [FK_adjudication_referral_referral]
GO
ALTER TABLE [dbo].[adjudication_referral]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_referral_referral_authorized_procedure] FOREIGN KEY([referral_authorized_procedure_id])
REFERENCES [dbo].[referral_authorized_procedure] ([referral_authorized_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_referral] CHECK CONSTRAINT [FK_adjudication_referral_referral_authorized_procedure]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADJUDICATION_REFERRAL .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'adjudication_referral_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CLAIM_PROCEDURE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to REFERRAL table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'referral_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to REFERRAL_AUTHORIZED_PROCEDURE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'referral_authorized_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'units' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'units'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'visits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'visits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'dollars' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_referral', @level2type=N'COLUMN',@level2name=N'dollars'
GO
