USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_ach_payment_processing]    Script Date: 7/10/2026 2:00:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_ach_payment_processing](
	[accounting_ach_payment_processing_id] [int] IDENTITY(1,1) NOT NULL,
	[accounting_ach_payment_processing_type_id] [int] NOT NULL,
	[file_path] [nvarchar](249) NOT NULL,
	[created_user_name] [nvarchar](50) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_ach_payment_processing] PRIMARY KEY CLUSTERED 
(
	[accounting_ach_payment_processing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing] ADD  CONSTRAINT [DF_accounting_ach_payment_processing_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing] ADD  CONSTRAINT [DF_accounting_ach_payment_processing_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing] ADD  CONSTRAINT [DF_accounting_ach_payment_processing_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing] ADD  CONSTRAINT [DF_accounting_ach_payment_processing_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing]  WITH CHECK ADD  CONSTRAINT [FK_accounting_ach_payment_processing_accounting_ach_payment_processing_type] FOREIGN KEY([accounting_ach_payment_processing_type_id])
REFERENCES [dbo].[accounting_ach_payment_processing_type] ([accounting_ach_payment_processing_type_id])
GO
ALTER TABLE [dbo].[accounting_ach_payment_processing] CHECK CONSTRAINT [FK_accounting_ach_payment_processing_accounting_ach_payment_processing_type]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for the capitation payment disbursement table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'accounting_ach_payment_processing_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_ach_payment_processing_type table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'accounting_ach_payment_processing_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'file path of the ACH or Pre-Note file' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'file_path'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'accounting_ach_payment_processing form table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_ach_payment_processing'
GO
