USE [qc_core]
GO
/****** Object:  Table [dbo].[claim]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim](
	[claim_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_ud] [nvarchar](50) NULL,
	[claim_form_type_id] [int] NULL,
	[duplicate_claim] [bit] NULL,
	[adjusted_claim] [bit] NULL,
	[non_clean_claim] [bit] NULL,
	[replacement_claim] [bit] NOT NULL,
	[void_claim] [bit] NOT NULL,
	[claim_payee_id] [int] NULL,
	[clean_date] [datetime] NULL,
	[received_date] [datetime] NULL,
	[family_eligibility_member_benefit_plan_id] [int] NULL,
	[use_eligibility_entered] [bit] NULL,
	[referral_id] [int] NULL,
	[episode_id] [int] NULL,
	[display_currency_id] [int] NULL,
	[provider_id] [int] NULL,
	[provider_specialty_type_id] [int] NULL,
	[provider_identifier_id] [int] NULL,
	[rendering_provider_additional_ud] [nvarchar](50) NULL,
	[rendering_provider_taxonomy_code] [nvarchar](50) NULL,
	[referring_provider_id] [int] NULL,
	[referring_provider_specialty_type_id] [int] NULL,
	[referring_provider_identifier_id] [int] NULL,
	[referring_provider_additional_ud] [nvarchar](50) NULL,
	[billing_provider_id] [int] NULL,
	[billing_provider_specialty_type_id] [int] NULL,
	[billing_provider_identifier_id] [int] NULL,
	[billing_provider_additional_ud] [nvarchar](50) NULL,
	[billing_provider_taxonomy_code] [nvarchar](50) NULL,
	[billing_provider_tax_id_number] [nvarchar](50) NULL,
	[practice_office_id] [int] NULL,
	[vendor_id] [int] NULL,
	[vendor_additional_ud] [nvarchar](50) NULL,
	[provider_network_id] [int] NULL,
	[provider_signature_on_file] [bit] NULL,
	[provider_signature_on_file_date] [datetime] NULL,
	[subscriber_signature_on_file_id] [int] NULL,
	[subscriber_signature_on_file_date] [datetime] NULL,
	[patient_guardian_signature_on_file] [bit] NULL,
	[patient_guardian_signature_on_file_date] [datetime] NULL,
	[ppo_claim_number] [nvarchar](50) NULL,
	[repriced_network] [nvarchar](50) NULL,
	[document_serial_number] [nvarchar](50) NULL,
	[adjudication_status_id] [int] NULL,
	[claim_payment_process_status_id] [int] NULL,
	[paper_claim] [bit] NOT NULL,
	[user_credential] [nvarchar](255) NULL,
	[original_source_gk] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_claim] PRIMARY KEY CLUSTERED 
(
	[claim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_replacement_claim]  DEFAULT ((0)) FOR [replacement_claim]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_void_claim]  DEFAULT ((0)) FOR [void_claim]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_paper_claim]  DEFAULT ((0)) FOR [paper_claim]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim] ADD  CONSTRAINT [DF_claim_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_adjudication_status] FOREIGN KEY([adjudication_status_id])
REFERENCES [dbo].[adjudication_status] ([adjudication_status_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_adjudication_status]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_billing_provider] FOREIGN KEY([billing_provider_id])
REFERENCES [dbo].[provider] ([provider_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_billing_provider]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_billing_provider_identifier] FOREIGN KEY([billing_provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_billing_provider_identifier]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_billing_provider_specialty_type] FOREIGN KEY([billing_provider_specialty_type_id])
REFERENCES [dbo].[provider_specialty_type] ([provider_specialty_type_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_billing_provider_specialty_type]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_claim_form_type] FOREIGN KEY([claim_form_type_id])
REFERENCES [dbo].[claim_form_type] ([claim_form_type_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_claim_form_type]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_claim_payee] FOREIGN KEY([claim_payee_id])
REFERENCES [dbo].[claim_payee] ([claim_payee_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_claim_payee]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_claim_payment_process_status] FOREIGN KEY([claim_payment_process_status_id])
REFERENCES [dbo].[claim_payment_process_status] ([claim_payment_process_status_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_claim_payment_process_status]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_display_currency] FOREIGN KEY([display_currency_id])
REFERENCES [dbo].[display_currency] ([display_currency_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_display_currency]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_episode] FOREIGN KEY([episode_id])
REFERENCES [dbo].[episode] ([episode_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_episode]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_family_eligibility_member_benefit_plan] FOREIGN KEY([family_eligibility_member_benefit_plan_id])
REFERENCES [dbo].[family_eligibility_member_benefit_plan] ([family_eligibility_member_benefit_plan_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_family_eligibility_member_benefit_plan]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_original_source] FOREIGN KEY([original_source_gk])
REFERENCES [dbo].[original_source] ([golden_key])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_original_source]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_practice_office] FOREIGN KEY([practice_office_id])
REFERENCES [dbo].[practice_office] ([practice_office_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_practice_office]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_provider] FOREIGN KEY([provider_id])
REFERENCES [dbo].[provider] ([provider_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_provider]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_provider_identifier] FOREIGN KEY([provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_provider_identifier]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_provider_network] FOREIGN KEY([provider_network_id])
REFERENCES [dbo].[provider_network] ([provider_network_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_provider_network]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_referral] FOREIGN KEY([referral_id])
REFERENCES [dbo].[referral] ([referral_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_referral]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_referring_provider] FOREIGN KEY([referring_provider_id])
REFERENCES [dbo].[provider] ([provider_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_referring_provider]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_referring_provider_identifier] FOREIGN KEY([referring_provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_referring_provider_identifier]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_referring_provider_specialty_type] FOREIGN KEY([referring_provider_specialty_type_id])
REFERENCES [dbo].[provider_specialty_type] ([provider_specialty_type_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_referring_provider_specialty_type]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_rendering_provider_specialty_type] FOREIGN KEY([provider_specialty_type_id])
REFERENCES [dbo].[provider_specialty_type] ([provider_specialty_type_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_rendering_provider_specialty_type]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_subscriber_signature_on_file] FOREIGN KEY([subscriber_signature_on_file_id])
REFERENCES [dbo].[subscriber_signature_on_file] ([subscriber_signature_on_file_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_subscriber_signature_on_file]
GO
ALTER TABLE [dbo].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor] ([vendor_id])
GO
ALTER TABLE [dbo].[claim] CHECK CONSTRAINT [FK_claim_vendor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the claim table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User defined key to the claim table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'claim_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CLAIM_FORM_TYPE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'claim_form_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, copy/duplicate claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'duplicate_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, adjusted claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'adjusted_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, not a clean claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'non_clean_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, this indicates that the claim is a replacement claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'replacement_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, this indicates that the claim has a request to be voided.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'void_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CLAIM_PAYEE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'claim_payee_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date claim was clean' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'clean_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date claim was received' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'received_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to member eligibility this is Individual Eligibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, use "Use Entered" Rule' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'use_eligibility_entered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to REFERRAL table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'referral_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to episode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'episode_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to DISPLAY_CURRENCY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'display_currency_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that performed the services on the claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_specialty_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that performed the services on the claim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'rendering provider additional ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'rendering_provider_additional_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'In the case of a referral, this is the provider that referred the patient to the Rendering provider' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'referring_provider_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'In the case of a referral, this is the provider that referred the patient to the Rendering provider' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'referring_provider_specialty_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'In the case of a referral, this is the provider that referred the patient to the Rendering provider' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'referring_provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The referring provider''s additional identifier for a claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'referring_provider_additional_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that sent the claim (bill) to our client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'billing_provider_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that sent the claim (bill) to our client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'billing_provider_specialty_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that sent the claim (bill) to our client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'billing_provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'billing provider additional ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'billing_provider_additional_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to practice office' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'practice_office_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the provider that we send the payment to (this providers vendor)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'vendor_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'vendor additional ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'vendor_additional_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_NETWORK table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_network_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "provider signature on file"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_signature_on_file'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of provider signature on file' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'provider_signature_on_file_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the subscriber_signature_on_file table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'subscriber_signature_on_file_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of subscriber signature on file' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'subscriber_signature_on_file_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'patient guardian signature on file' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'patient_guardian_signature_on_file'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'patient guardian signature on file date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'patient_guardian_signature_on_file_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ppo claim number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'ppo_claim_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds the name of a repriced network' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'repriced_network'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'document serial number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'document_serial_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ADJUDICATION_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'adjudication_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CLAIM_PAYMENT_PROCESS_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'claim_payment_process_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If checked, indicates that the claim was manually entered.  This is a user editable field on the claim form which defaults to true on claims that are entered through the UI.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'paper_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The user name of the user who first saved this claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'user_credential'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ORIGINAL_SOURCE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'original_source_gk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The table to hold data in common to the various claim types.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim'
GO
