USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_queue]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_queue](
	[adjudication_queue_id] [int] IDENTITY(1,1) NOT NULL,
	[adjudication_queue_ud] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[schedule_form_id] [int] NULL,
	[claim_form_type_id] [int] NULL,
	[provider_network_id] [int] NULL,
	[provider_identifier_id] [int] NULL,
	[client_id] [int] NULL,
	[client_group_id] [int] NULL,
	[benefit_contract_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_queue] PRIMARY KEY CLUSTERED 
(
	[adjudication_queue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_queue] ADD  CONSTRAINT [DF_adjudication_queue_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[adjudication_queue] ADD  CONSTRAINT [DF_adjudication_queue_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_queue] ADD  CONSTRAINT [DF_adjudication_queue_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_queue] ADD  CONSTRAINT [DF_adjudication_queue_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_queue] ADD  CONSTRAINT [DF_adjudication_queue_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_benefit_contract] FOREIGN KEY([benefit_contract_id])
REFERENCES [dbo].[benefit_contract] ([benefit_contract_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_benefit_contract]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_claim_form_type] FOREIGN KEY([claim_form_type_id])
REFERENCES [dbo].[claim_form_type] ([claim_form_type_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_claim_form_type]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([client_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_client]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_client_group] FOREIGN KEY([client_group_id])
REFERENCES [dbo].[client_group] ([client_group_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_client_group]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_provider_identifier] FOREIGN KEY([provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_provider_identifier]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_provider_network] FOREIGN KEY([provider_network_id])
REFERENCES [dbo].[provider_network] ([provider_network_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_provider_network]
GO
ALTER TABLE [dbo].[adjudication_queue]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_queue_schedule_form] FOREIGN KEY([schedule_form_id])
REFERENCES [dbo].[schedule_form] ([schedule_form_id])
GO
ALTER TABLE [dbo].[adjudication_queue] CHECK CONSTRAINT [FK_adjudication_queue_schedule_form]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'adjudication_queue_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique Identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'adjudication_queue_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to scheduler form for scheduler information' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'schedule_form_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Claim form type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'claim_form_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to provider network' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'provider_network_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to provider' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'client_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'client_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to benefit contract' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adjudication Queue - criteria for gathering claims for adjudication' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_queue'
GO
