USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_member_benefit_plan]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_member_benefit_plan](
	[family_eligibility_member_benefit_plan_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[family_eligibility_member_id] [int] NULL,
	[benefit_plan_id] [int] NULL,
	[member_eligibility_ud] [nvarchar](160) NULL,
	[eligibility_level_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[family_eligibility_termination_reason_id] [int] NULL,
	[continuous_coverage_effective_date] [datetime] NULL,
	[cobra_effective_date] [datetime] NULL,
	[cobra_coverage] [bit] NULL,
	[cobra_start_date] [datetime] NULL,
	[cobra_end_date] [datetime] NULL,
	[cobra_period_id] [int] NULL,
	[cobra_event_id] [int] NULL,
	[cobra_event_date] [datetime] NULL,
	[cobra_notification_date] [datetime] NULL,
	[election_period_ends] [nvarchar](50) NULL,
	[pre_existing_condition_credit_unit] [numeric](19, 4) NULL,
	[pre_existing_condition_unit_day_week_id] [int] NULL,
	[never_under_coverage] [bit] NULL,
	[privacy_notice_date] [datetime] NULL,
	[pend_claims_after_days] [int] NULL,
	[deny_claims_after_days] [int] NULL,
	[tenure_override] [bit] NULL,
	[tenure_start_date] [datetime] NULL,
	[tenure_user_name] [nvarchar](128) NULL,
	[eligibility_tenure_override_reason_id] [int] NULL,
	[coverage_incentive_initial_balance] [numeric](19, 4) NULL,
	[object_row_version] [timestamp] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[vendor_id] [int] NULL,
	[use_family_vendor] [bit] NULL,
	[customer_id] [int] NULL,
	[disenrollment_letter_effective_as_of] [datetime] NULL,
	[disenrollment_letter] [bit] NULL,
	[use_family_customer] [bit] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_member_benefit_plan] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_member_benefit_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_cobra_coverage]  DEFAULT ((0)) FOR [cobra_coverage]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_never_under_coverage]  DEFAULT ((0)) FOR [never_under_coverage]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_tenure_override]  DEFAULT ((0)) FOR [tenure_override]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_use_family_vendor]  DEFAULT ((1)) FOR [use_family_vendor]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_use_family_customer]  DEFAULT ((1)) FOR [use_family_customer]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_benefit_plan] FOREIGN KEY([benefit_plan_id])
REFERENCES [dbo].[benefit_plan] ([benefit_plan_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_benefit_plan]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_cobra_event] FOREIGN KEY([cobra_event_id])
REFERENCES [dbo].[cobra_event] ([cobra_event_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_cobra_event]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_cobra_period_id] FOREIGN KEY([cobra_period_id])
REFERENCES [dbo].[cobra_period] ([cobra_period_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_cobra_period_id]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_customer]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_eligibility_level] FOREIGN KEY([eligibility_level_id])
REFERENCES [dbo].[eligibility_level] ([eligibility_level_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_eligibility_level]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_eligibility_tenure_override_reason] FOREIGN KEY([eligibility_tenure_override_reason_id])
REFERENCES [dbo].[eligibility_tenure_override_reason] ([eligibility_tenure_override_reason_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_eligibility_tenure_override_reason]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_family_eligibility_member] FOREIGN KEY([family_eligibility_member_id])
REFERENCES [dbo].[family_eligibility_member] ([family_eligibility_member_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_family_eligibility_member]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_family_eligibility_termination_reason] FOREIGN KEY([family_eligibility_termination_reason_id])
REFERENCES [dbo].[family_eligibility_termination_reason] ([family_eligibility_termination_reason_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_family_eligibility_termination_reason]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_unit_day_week] FOREIGN KEY([pre_existing_condition_unit_day_week_id])
REFERENCES [dbo].[unit_day_week] ([unit_day_week_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_unit_day_week]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor] ([vendor_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_vendor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table FAMILY_ELIGIBILITY_MEMBER_BENEFIT_PLAN .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FAMILY_ELIGIBILITY_MEMBER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The UI ID for member eligibility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'member_eligibility_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ELIGIBILITY_LEVEL table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'eligibility_level_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record is no longer effective.  A null value indicates the record is still active.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The family eligibility termination reason associated with member eligibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'family_eligibility_termination_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of continuous coverage effective' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'continuous_coverage_effective_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Start date of cobra effective' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_effective_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "cobra coverage"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_coverage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Start date of cobra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'End date of cobra end' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to COBRA_PERIOD table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_period_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to COBRA_EVENT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_event_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of cobra event' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_event_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of cobra notification' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'cobra_notification_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'election period ends' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'election_period_ends'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pre existing condition credit unit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'pre_existing_condition_credit_unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to unit_day_week table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'pre_existing_condition_unit_day_week_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "never under coverage"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'never_under_coverage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of privacy notice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'privacy_notice_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pend claims after days' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'pend_claims_after_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'deny claims after days' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'deny_claims_after_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if the tenure override date should be used in calculations such as tiered coinsurance, etc., instead of the eligibility effective date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'tenure_override'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The starting date to use during calculations based on eligibility tenure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'tenure_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The user who last modified the tenure override.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'tenure_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The eligibility tenure override reason associated with the eligiibility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'eligibility_tenure_override_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Starting coverage incentive balance' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'coverage_incentive_initial_balance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Row version-stamp that is used to support application optimistic concurrency locking.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'object_row_version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to VENDOR table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'vendor_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "use family vendor"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'use_family_vendor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CUSTOMER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'customer_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date for disenrollment letter recieved - effective as of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'disenrollment_letter_effective_as_of'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "disenrollment letter recieved"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'disenrollment_letter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "use family customer"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan', @level2type=N'COLUMN',@level2name=N'use_family_customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Defines the eligibility for a family member and a  benefit plan for a date range.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan'
GO
