USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_result_code_override]    Script Date: 4/2/2026 1:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_result_code_override](
	[adjudication_result_code_override_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[adjudication_result_code_id] [int] NULL,
	[result_code_status_id] [int] NULL,
	[member_report_print_override_option_id] [int] NULL,
	[provider_report_print_override_option_id] [int] NULL,
	[not_a_clean_claim] [bit] NULL,
	[last_modified_by] [nvarchar](128) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_adjudication_result_code_override] PRIMARY KEY NONCLUSTERED 
(
	[adjudication_result_code_override_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_result_code_override] ADD  CONSTRAINT [DF_adjudication_result_code_override_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[adjudication_result_code_override] ADD  CONSTRAINT [DF_adjudication_result_code_override_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_code_override] ADD  CONSTRAINT [DF_adjudication_result_code_override_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_result_code_override] ADD  CONSTRAINT [DF_adjudication_result_code_override_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_result_code_override] ADD  CONSTRAINT [DF_adjudication_result_code_override_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_code_override]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_override_adjudication_result_code] FOREIGN KEY([adjudication_result_code_id])
REFERENCES [dbo].[adjudication_result_code] ([adjudication_result_code_id])
GO
ALTER TABLE [dbo].[adjudication_result_code_override] CHECK CONSTRAINT [FK_adjudication_result_code_override_adjudication_result_code]
GO
ALTER TABLE [dbo].[adjudication_result_code_override]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_override_report_print_override_option_member] FOREIGN KEY([member_report_print_override_option_id])
REFERENCES [dbo].[report_print_override_option] ([report_print_override_option_id])
GO
ALTER TABLE [dbo].[adjudication_result_code_override] CHECK CONSTRAINT [FK_adjudication_result_code_override_report_print_override_option_member]
GO
ALTER TABLE [dbo].[adjudication_result_code_override]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_override_report_print_override_option_provider] FOREIGN KEY([provider_report_print_override_option_id])
REFERENCES [dbo].[report_print_override_option] ([report_print_override_option_id])
GO
ALTER TABLE [dbo].[adjudication_result_code_override] CHECK CONSTRAINT [FK_adjudication_result_code_override_report_print_override_option_provider]
GO
ALTER TABLE [dbo].[adjudication_result_code_override]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_override_result_code_status] FOREIGN KEY([result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[adjudication_result_code_override] CHECK CONSTRAINT [FK_adjudication_result_code_override_result_code_status]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADJUDICATION_RESULT_CODE_OVERRIDE .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'adjudication_result_code_override_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ADJUDICATION_RESULT_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'adjudication_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESULT_CODE_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to report_print_override_option to override if this result code should be printed on the member report' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'member_report_print_override_option_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to report_print_override_option to override if this result code should be printed on the provder report' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'provider_report_print_override_option_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "not a clean claim"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'not_a_clean_claim'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'last modified by' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'last_modified_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This table stores the override information for a claim line''s result code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code_override'
GO
