USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_contact]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_contact](
	[family_eligibility_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[family_eligibility_id] [int] NULL,
	[contact_id] [int] NULL,
	[contact_association_type_id] [int] NULL,
	[is_primary] [bit] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_contact] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_contact] ADD  CONSTRAINT [DF_family_eligibility_contact_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_contact]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_contact_contact] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contact] ([contact_id])
GO
ALTER TABLE [dbo].[family_eligibility_contact] CHECK CONSTRAINT [FK_family_eligibility_contact_contact]
GO
ALTER TABLE [dbo].[family_eligibility_contact]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_contact_contact_association_type] FOREIGN KEY([contact_association_type_id])
REFERENCES [dbo].[contact_association_type] ([contact_association_type_id])
GO
ALTER TABLE [dbo].[family_eligibility_contact] CHECK CONSTRAINT [FK_family_eligibility_contact_contact_association_type]
GO
ALTER TABLE [dbo].[family_eligibility_contact]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_contact_family_eligibility] FOREIGN KEY([family_eligibility_id])
REFERENCES [dbo].[family_eligibility] ([family_eligibility_id])
GO
ALTER TABLE [dbo].[family_eligibility_contact] CHECK CONSTRAINT [FK_family_eligibility_contact_family_eligibility]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table FAMILY_ELIGIBILITY_CONTACT .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'family_eligibility_contact_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FAMILY_ELIGIBILITY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'family_eligibility_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CONTACT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'contact_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CONTACT_ASSOCIATION_TYPE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'contact_association_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determins which is priamry' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'is_primary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record is no longer effective.  A null value indicates the record is still active.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contacts for an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_contact'
GO
