USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_contract]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_contract](
	[benefit_contract_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_contract_ud] [nvarchar](50) NOT NULL,
	[benefit_contract_nm] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[benefit_current_status_id] [int] NULL,
	[client_group_id] [int] NULL,
	[benefit_contract_template] [bit] NULL,
	[auto_create_family_id_rule_id] [int] NULL,
	[billing_type_id] [int] NULL,
	[product_line_id] [int] NULL,
	[product_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[benefit_termination_reason_id] [int] NULL,
	[base_currency_id] [int] NULL,
	[currency_exchange_rate_rule_id] [int] NULL,
	[accounting_company_id] [int] NULL,
	[claim_run_in_from] [datetime] NULL,
	[claim_run_out_thru] [datetime] NULL,
	[accumulator_framework_id] [int] NULL,
	[linked_accumulator_set_id] [int] NULL,
	[timely_filing_rule] [bit] NULL,
	[timely_number_of_units] [int] NULL,
	[timely_unit_day_week_month_year_id] [int] NULL,
	[timely_result_code_id] [int] NULL,
	[timely_result_code_status_id] [int] NULL,
	[valid_eligibility_days_rule_id] [int] NULL,
	[valid_eligibility_days] [nvarchar](100) NULL,
	[valid_eligibility_days_exclude] [bit] NULL,
	[conditional_issue_rule_id] [int] NULL,
	[premium_setup_id] [int] NULL,
	[grace_period_status_id] [int] NULL,
	[line_of_business_id] [int] NULL,
	[benefit_contract_value_id] [int] NULL,
	[premium_policy_type_id] [int] NULL,
	[insurer_tin_id] [int] NULL,
	[employer_group_tin_id] [int] NULL,
	[is_payment_this_contract_only] [bit] NOT NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_contract] PRIMARY KEY CLUSTERED 
(
	[benefit_contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_benefit_contract] UNIQUE NONCLUSTERED 
(
	[benefit_contract_ud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_is_payment_this_contract_only]  DEFAULT ((0)) FOR [is_payment_this_contract_only]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_benefit_contract_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_benefit_contract_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_benefit_contract_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_benefit_contract_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_contract] ADD  CONSTRAINT [DF_benefit_contract_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_accounting_company] FOREIGN KEY([accounting_company_id])
REFERENCES [dbo].[accounting_company] ([accounting_company_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_accounting_company]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_accumulator_framework] FOREIGN KEY([accumulator_framework_id])
REFERENCES [dbo].[accumulator_framework] ([accumulator_framework_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_accumulator_framework]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_auto_create_family_id_rule] FOREIGN KEY([auto_create_family_id_rule_id])
REFERENCES [dbo].[auto_create_family_id_rule] ([auto_create_family_id_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_auto_create_family_id_rule]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_benefit_contract_value] FOREIGN KEY([benefit_contract_value_id])
REFERENCES [dbo].[benefit_contract_value] ([benefit_contract_value_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_benefit_contract_value]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_benefit_termination_reason] FOREIGN KEY([benefit_termination_reason_id])
REFERENCES [dbo].[benefit_termination_reason] ([benefit_termination_reason_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_benefit_termination_reason]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_billing_type] FOREIGN KEY([billing_type_id])
REFERENCES [dbo].[billing_type] ([billing_type_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_billing_type]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_client_group] FOREIGN KEY([client_group_id])
REFERENCES [dbo].[client_group] ([client_group_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_client_group]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_conditional_issue_rule] FOREIGN KEY([conditional_issue_rule_id])
REFERENCES [dbo].[conditional_issue_rule] ([conditional_issue_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_conditional_issue_rule]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_currency] FOREIGN KEY([base_currency_id])
REFERENCES [dbo].[currency] ([currency_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_currency]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_currency_exchange_rate_rule] FOREIGN KEY([currency_exchange_rate_rule_id])
REFERENCES [dbo].[currency_exchange_rate_rule] ([currency_exchange_rate_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_currency_exchange_rate_rule]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_current_status] FOREIGN KEY([benefit_current_status_id])
REFERENCES [dbo].[current_status] ([current_status_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_current_status]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_employer_tin_reference] FOREIGN KEY([employer_group_tin_id])
REFERENCES [dbo].[tin_reference] ([tin_reference_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_employer_tin_reference]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_grace_period_status] FOREIGN KEY([grace_period_status_id])
REFERENCES [dbo].[grace_period_status] ([grace_period_status_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_grace_period_status]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_insurer_tin_reference] FOREIGN KEY([insurer_tin_id])
REFERENCES [dbo].[tin_reference] ([tin_reference_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_insurer_tin_reference]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_line_of_business] FOREIGN KEY([line_of_business_id])
REFERENCES [dbo].[line_of_business] ([line_of_business_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_line_of_business]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_linked_accumulator] FOREIGN KEY([linked_accumulator_set_id])
REFERENCES [dbo].[linked_accumulator] ([linked_accumulator_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_linked_accumulator]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_premium_policy_type] FOREIGN KEY([premium_policy_type_id])
REFERENCES [dbo].[premium_policy_type] ([premium_policy_type_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_premium_policy_type]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_premium_setup] FOREIGN KEY([premium_setup_id])
REFERENCES [dbo].[premium_setup] ([premium_setup_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_premium_setup]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_product]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_product_line] FOREIGN KEY([product_line_id])
REFERENCES [dbo].[product_line] ([product_line_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_product_line]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_result_code] FOREIGN KEY([timely_result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_result_code]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_result_code_status] FOREIGN KEY([timely_result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_result_code_status]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_timely_unit_day_week_month_year_id] FOREIGN KEY([timely_unit_day_week_month_year_id])
REFERENCES [dbo].[unit_day_week_month_year] ([unit_day_week_month_year_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_timely_unit_day_week_month_year_id]
GO
ALTER TABLE [dbo].[benefit_contract]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_valid_eligibility_days_rule] FOREIGN KEY([valid_eligibility_days_rule_id])
REFERENCES [dbo].[valid_eligibility_days_rule] ([valid_eligibility_days_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract] CHECK CONSTRAINT [FK_benefit_contract_valid_eligibility_days_rule]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to benefit_contract table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID/Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_contract_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the Benefit Contract' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_contract_nm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The benefit current status that is associated with a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_current_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the client_group_table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'client_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used if Benefit Contract is a template' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_contract_template'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Auto Create Family ID Rule is used to specify that family eligibility ID values are to be auto generated by Quantum Choice when families are enrolled in the benefit contract' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'auto_create_family_id_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Defines if the benefit contract is to be sold to groups or to individuals' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'billing_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The product line that is associated with a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'product_line_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The product that is associated with a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date from which the Benefit Contract is associated with the Group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date through which the Benefit Contract is associated with the Group.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason for terminating the Benefit Contract''s association with the Group.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'benefit_termination_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the base currency to be used with this Benefit Contract and defines the currency type of all currency amounts saved into the database for this Benefit Plan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'base_currency_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Defines what date will be used when the system has to switch from one currency to another while processing records associated with this benefit contract' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'currency_exchange_rate_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Opens the Find Accounting Company form  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The earliest date of service for which claims will be processed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'claim_run_in_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The latest date for which claims will be processed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'claim_run_out_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Only accumulators with accumulator framework setup with Usage Schope = "Benefit Contract" are selected' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'accumulator_framework_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to linked_accumulator table (which is set in here)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'linked_accumulator_set_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Flag used to indicate that the Benefit Contract has a ''Timely Filing'' rule defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'timely_filing_rule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'# of units value from the Group under which this Benefit Contract is created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'timely_number_of_units'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Timely Number of Units' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'timely_unit_day_week_month_year_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Timely Result Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'timely_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Timely Status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'timely_result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The valid eligibility days rule that is associated with a benefit contract.  This is a rule that defines when eligibilities are allowed to be created for a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'valid_eligibility_days_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Depending on the setting of the valid eligibility days rule this is optional data used to determine a specific day or days (e.g. day or days of a month) that eligibilities can be created for a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'valid_eligibility_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Flag indicates whether or not the values entered in valid eligibility days are included or excluded.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'valid_eligibility_days_exclude'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The conditional issue rule that is associated with a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'conditional_issue_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The premium setup that is associated with a benefit contract.  This is a one to one relationship: One premium setup per benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'premium_setup_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The grace period status that is associated with a benefit contract.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'grace_period_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Association with the Line of business table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'line_of_business_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign Key. Reference to insurer_tin_id column for tin_reference table record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'insurer_tin_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign Key. Reference to employer_group_tin_id column for tin_reference table record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'employer_group_tin_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates that a Payment issued under this Benefit Contract cannot contain accounting transactions from other Benefit Contracts.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'is_payment_this_contract_only'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores benefit contracts.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract'
GO
