USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_contract_period_benefit_plan]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_contract_period_benefit_plan](
	[benefit_contract_period_benefit_plan_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_contract_period_id] [int] NULL,
	[benefit_plan_id] [int] NULL,
	[principle_plan] [bit] NULL,
	[benefit_plan_type_id] [int] NULL,
	[resolve_option_at_id] [int] NULL,
	[parent_benefit_contract_period_benefit_plan_id] [int] NULL,
	[base_supplemental_rollover_rule_id] [int] NULL,
	[accumulator_framework_id] [int] NULL,
	[accumulator_framework_accumulator_class_accumulator_id] [int] NULL,
	[disenrollment_letter] [bit] NULL,
	[financial_code_id] [int] NULL,
	[financial_sub_code_id] [int] NULL,
	[network_not_applicable] [bit] NULL,
	[auto_create_member_id_rule_id] [int] NULL,
	[eligibility_seed_value] [nvarchar](50) NULL,
	[annual_accumulator_rollover_rule_id] [int] NULL,
	[restart_accumulator_months_id] [int] NULL,
	[restart_accumulator_day_of_month] [int] NULL,
	[restart_accumulator_number_of_months] [int] NULL,
	[accumulator_start_date] [datetime] NULL,
	[pre_existing_condition_rule_set_id] [int] NULL,
	[visit_definition_id] [int] NULL,
	[hipaa_claim_filing_indicator_id] [int] NULL,
	[pay_claim_to_id] [int] NULL,
	[billing_only] [bit] NULL,
	[call_share_processing_rule_id] [int] NULL,
	[missing_authorization_penalty_rule_id] [int] NULL,
	[age_calculation_rule_id] [int] NULL,
	[is_ineligible_amount_provider_responsibility] [bit] NOT NULL,
	[cms_coverage_type_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_contract_period_benefit_plan] PRIMARY KEY CLUSTERED 
(
	[benefit_contract_period_benefit_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_is_ineligible_amount_provider_responsibility]  DEFAULT ((0)) FOR [is_ineligible_amount_provider_responsibility]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] ADD  CONSTRAINT [DF_benefit_contract_period_benefit_plan_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_accumulator_framework] FOREIGN KEY([accumulator_framework_id])
REFERENCES [dbo].[accumulator_framework] ([accumulator_framework_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_accumulator_framework]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_accumulator_framework_accumulator_class_accumulator] FOREIGN KEY([accumulator_framework_accumulator_class_accumulator_id])
REFERENCES [dbo].[accumulator_framework_accumulator_class_accumulator] ([accumulator_framework_accumulator_class_accumulator_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_accumulator_framework_accumulator_class_accumulator]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_age_calculation_rule] FOREIGN KEY([age_calculation_rule_id])
REFERENCES [dbo].[age_calculation_rule] ([age_calculation_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_age_calculation_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_annual_accumulator_rollover_rule] FOREIGN KEY([annual_accumulator_rollover_rule_id])
REFERENCES [dbo].[annual_accumulator_rollover_rule] ([annual_accumulator_rollover_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_annual_accumulator_rollover_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_auto_create_member_id_rule] FOREIGN KEY([auto_create_member_id_rule_id])
REFERENCES [dbo].[auto_create_member_id_rule] ([auto_create_member_id_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_auto_create_member_id_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_base_supplemental_rollover_rule] FOREIGN KEY([base_supplemental_rollover_rule_id])
REFERENCES [dbo].[base_supplemental_rollover_rule] ([base_supplemental_rollover_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_base_supplemental_rollover_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_contract_period] FOREIGN KEY([benefit_contract_period_id])
REFERENCES [dbo].[benefit_contract_period] ([benefit_contract_period_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_contract_period]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_plan] FOREIGN KEY([benefit_plan_id])
REFERENCES [dbo].[benefit_plan] ([benefit_plan_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_plan]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_plan_type] FOREIGN KEY([benefit_plan_type_id])
REFERENCES [dbo].[benefit_plan_type] ([benefit_plan_type_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_benefit_plan_type]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_call_share_processing_rule] FOREIGN KEY([call_share_processing_rule_id])
REFERENCES [dbo].[call_share_processing_rule] ([call_share_processing_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_call_share_processing_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_cms_coverage_type] FOREIGN KEY([cms_coverage_type_id])
REFERENCES [dbo].[cms_coverage_type] ([cms_coverage_type_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_cms_coverage_type]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_financial_code] FOREIGN KEY([financial_code_id])
REFERENCES [dbo].[financial_code] ([financial_code_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_financial_code]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_financial_sub_code] FOREIGN KEY([financial_sub_code_id])
REFERENCES [dbo].[financial_sub_code] ([financial_sub_code_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_financial_sub_code]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_hipaa_claim_filing_indicator] FOREIGN KEY([hipaa_claim_filing_indicator_id])
REFERENCES [dbo].[hipaa_claim_filing_indicator] ([hipaa_claim_filing_indicator_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_hipaa_claim_filing_indicator]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_missing_authorization_penalty_rule] FOREIGN KEY([missing_authorization_penalty_rule_id])
REFERENCES [dbo].[missing_authorization_penalty_rule] ([missing_authorization_penalty_rule_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_missing_authorization_penalty_rule]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_month] FOREIGN KEY([restart_accumulator_months_id])
REFERENCES [dbo].[month] ([month_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_month]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_parent_benefit_contract_period_benefit_plan_id] FOREIGN KEY([parent_benefit_contract_period_benefit_plan_id])
REFERENCES [dbo].[benefit_contract_period_benefit_plan] ([benefit_contract_period_benefit_plan_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_parent_benefit_contract_period_benefit_plan_id]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_pay_claim_to] FOREIGN KEY([pay_claim_to_id])
REFERENCES [dbo].[pay_claim_to] ([pay_claim_to_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_pay_claim_to]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_pre_existing_condition_rule_set] FOREIGN KEY([pre_existing_condition_rule_set_id])
REFERENCES [dbo].[pre_existing_condition_rule_set] ([pre_existing_condition_rule_set_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_pre_existing_condition_rule_set]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_resolve_option_at] FOREIGN KEY([resolve_option_at_id])
REFERENCES [dbo].[resolve_option_at] ([resolve_option_at_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_resolve_option_at]
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_plan_visit_definition] FOREIGN KEY([visit_definition_id])
REFERENCES [dbo].[visit_definition] ([visit_definition_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_benefit_plan] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_plan_visit_definition]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CONTRACT_PERIOD table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "principle plan"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'principle_plan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_PLAN_TYPE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESOLVE_OPTION_AT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'resolve_option_at_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to benefit_contract_period_benefit_plan table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'parent_benefit_contract_period_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BASE_SUPPLEMENTAL_ROLLOVER_RULE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'base_supplemental_rollover_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCUMULATOR_FRAMEWORK table for accumulator exhausted base supp rule.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'accumulator_framework_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCUMULATOR_FRAMEWORK_ACCUMULATOR_CLASS_ACCUMULATOR table for accumulator exhausted base supp rule.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'accumulator_framework_accumulator_class_accumulator_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "disenrollment letter required"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'disenrollment_letter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FINANCIAL_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'financial_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FINANCIAL_SUB_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'financial_sub_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "network not applicable"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'network_not_applicable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the auto_creat_member_id_rule table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'auto_create_member_id_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A seed value used to auto generate member eligibility ID''s when the Member Eligibility ID rule requires a seed value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'eligibility_seed_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Month the annual accumulator rollover rule will restart; FK to month' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'annual_accumulator_rollover_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Under review.  No documentation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'restart_accumulator_months_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Under review.  No documentation.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'restart_accumulator_day_of_month'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'restart accumulator number of months' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'restart_accumulator_number_of_months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of accumulator start' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'accumulator_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Used to specify the pre-existing condition rules that are to be used when adjudicating claims for the benefit plan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'pre_existing_condition_rule_set_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to VISIT_DEFINITION table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'visit_definition_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to HIPAA_CLAIM_FILING_INDICATOR table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'hipaa_claim_filing_indicator_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PAY_CLAIM_TO table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'pay_claim_to_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, indicates that the benefit contract is for billing only' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'billing_only'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The call share processing rule associated with a benefit contract period benefit plan.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'call_share_processing_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contains the Missing Authorization Penalty Rule for claims received when Member fails to get an Authoriztion for services when required' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'missing_authorization_penalty_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to age_calculation_rule table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'age_calculation_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates that any patient ineligible amount goes to the provider responsibility amount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'is_ineligible_amount_provider_responsibility'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign Key. Reference to cms_coverage_type_id column for cms_coverage_type table record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'cms_coverage_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'#10520 and #10812, 2.1.8' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_benefit_plan'
GO
