USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_plan_set_detail]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_plan_set_detail](
	[benefit_plan_set_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_plan_set_id] [int] NOT NULL,
	[benefit_plan_id] [int] NOT NULL,
	[effective_from] [datetime] NOT NULL,
	[effective_thru] [datetime] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_plan_set_detail] PRIMARY KEY CLUSTERED 
(
	[benefit_plan_set_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] ADD  CONSTRAINT [DF_benefit_plan_set_detail_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] ADD  CONSTRAINT [DF_benefit_plan_set_detail_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] ADD  CONSTRAINT [DF_benefit_plan_set_detail_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] ADD  CONSTRAINT [DF_benefit_plan_set_detail_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] ADD  CONSTRAINT [DF_benefit_plan_set_detail_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_set_detail_benefit_plan] FOREIGN KEY([benefit_plan_id])
REFERENCES [dbo].[benefit_plan] ([benefit_plan_id])
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] CHECK CONSTRAINT [FK_benefit_plan_set_detail_benefit_plan]
GO
ALTER TABLE [dbo].[benefit_plan_set_detail]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_set_detail_benefit_plan_set] FOREIGN KEY([benefit_plan_set_id])
REFERENCES [dbo].[benefit_plan_set] ([benefit_plan_set_id])
GO
ALTER TABLE [dbo].[benefit_plan_set_detail] CHECK CONSTRAINT [FK_benefit_plan_set_detail_benefit_plan_set]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'benefit_plan_set_detail_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'foreign key to parent benefit plan set' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'benefit_plan_set_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'foreign key to benefit plan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Effective From Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Effective Through Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'houses child benefit plans to parent object benefit plan set' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan_set_detail'
GO
