USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_company]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_company](
	[accounting_company_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_company_ud] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[address_id] [int] NULL,
	[telephone_number] [nvarchar](50) NULL,
	[fax_number] [nvarchar](50) NULL,
	[email_address] [nvarchar](255) NULL,
	[internet_address] [nvarchar](255) NULL,
	[federal_ein] [nvarchar](50) NULL,
	[state_ein] [nvarchar](50) NULL,
	[use_account_segment_rule] [bit] NOT NULL,
	[hold_transactions_for_negative_claim_net] [bit] NOT NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_company] PRIMARY KEY CLUSTERED 
(
	[accounting_company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_use_account_segment_rule]  DEFAULT ((0)) FOR [use_account_segment_rule]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_hold_transactions_for_negative_claim_net]  DEFAULT ((0)) FOR [hold_transactions_for_negative_claim_net]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_company] ADD  CONSTRAINT [DF_accounting_company_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_company]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_address] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([address_id])
GO
ALTER TABLE [dbo].[accounting_company] CHECK CONSTRAINT [FK_accounting_company_address]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'accounting_company_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the accounting_company''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'address_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phone Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'telephone_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fax Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'fax_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'email_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internet Address' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'internet_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Federal Tax ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'federal_ein'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'State Tax ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'state_ein'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if this accounting company uses the account segmentation rule on the Accounting #s.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'use_account_segment_rule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Should all accounting transactions be set to a Hold status for claims and linked claims that have a negative total net amount?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'hold_transactions_for_negative_claim_net'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting Company entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company'
GO
