USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_run_claim_procedure]    Script Date: 4/2/2026 1:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_run_claim_procedure](
	[adjudication_run_claim_procedure_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_procedure_id] [int] NULL,
	[adjudication_run_id] [int] NOT NULL,
	[created_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_run_claim_procedure] PRIMARY KEY CLUSTERED 
(
	[adjudication_run_claim_procedure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure] ADD  CONSTRAINT [DF_adjudication_run_claim_procedure_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure] ADD  CONSTRAINT [DF_adjudication_run_claim_procedure_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_claim_procedure_adjudication_run] FOREIGN KEY([adjudication_run_id])
REFERENCES [dbo].[adjudication_run] ([adjudication_run_id])
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure] CHECK CONSTRAINT [FK_adjudication_run_claim_procedure_adjudication_run]
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_claim_procedure_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_run_claim_procedure] CHECK CONSTRAINT [FK_adjudication_run_claim_procedure_claim_procedure]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADJUDICATION_RUN_CLAIM_PROCEDURE .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_claim_procedure', @level2type=N'COLUMN',@level2name=N'adjudication_run_claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to CLAIM_PROCEDURE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to adjudication_run table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_claim_procedure', @level2type=N'COLUMN',@level2name=N'adjudication_run_id'
GO
