USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit](
	[benefit_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_ud] [nvarchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[benefit_framework_benefit_class_id] [int] NULL,
	[copayment_value_rule_id] [int] NULL,
	[encumber_maximum_payment_accumulator] [bit] NULL,
	[treat_as_copay] [bit] NULL,
	[treat_as_coinsurance] [bit] NULL,
	[set_to_zero_if_not_in_schedule] [bit] NULL,
	[referring_provider_rule_id] [int] NULL,
	[rendering_provider_exception_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit] PRIMARY KEY CLUSTERED 
(
	[benefit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_active1]  DEFAULT ((0)) FOR [encumber_maximum_payment_accumulator]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit] ADD  CONSTRAINT [DF_benefit_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit]  WITH CHECK ADD  CONSTRAINT [FK_benefit_benefit_framework_benefit_class] FOREIGN KEY([benefit_framework_benefit_class_id])
REFERENCES [dbo].[benefit_framework_benefit_class] ([benefit_framework_benefit_class_id])
GO
ALTER TABLE [dbo].[benefit] CHECK CONSTRAINT [FK_benefit_benefit_framework_benefit_class]
GO
ALTER TABLE [dbo].[benefit]  WITH CHECK ADD  CONSTRAINT [FK_benefit_copayment_value_rule] FOREIGN KEY([copayment_value_rule_id])
REFERENCES [dbo].[copayment_value_rule] ([copayment_value_rule_id])
GO
ALTER TABLE [dbo].[benefit] CHECK CONSTRAINT [FK_benefit_copayment_value_rule]
GO
ALTER TABLE [dbo].[benefit]  WITH CHECK ADD  CONSTRAINT [FK_benefit_referring_provider_rule] FOREIGN KEY([referring_provider_rule_id])
REFERENCES [dbo].[referring_provider_rule] ([referring_provider_rule_id])
GO
ALTER TABLE [dbo].[benefit] CHECK CONSTRAINT [FK_benefit_referring_provider_rule]
GO
ALTER TABLE [dbo].[benefit]  WITH CHECK ADD  CONSTRAINT [FK_benefit_rendering_provider_exception] FOREIGN KEY([rendering_provider_exception_id])
REFERENCES [dbo].[rendering_provider_exception] ([rendering_provider_exception_id])
GO
ALTER TABLE [dbo].[benefit] CHECK CONSTRAINT [FK_benefit_rendering_provider_exception]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'benefit_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for benefit.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'benefit_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the benefit''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_FRAMEWORK_BENEFIT_CLASS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'benefit_framework_benefit_class_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to COPAYMENT_VALUE_RULE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'copayment_value_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'when true add this amount(coinsurance or copay) to the maximum payment accumulators.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'encumber_maximum_payment_accumulator'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Treat this benefit (if member expense) as copay.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'treat_as_copay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Treat this benefit (if member expense) as coinsurance.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'treat_as_coinsurance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Set the member expense amount to zero if the current procedure code doesn''t exist in the effective member_expense_schedule.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'set_to_zero_if_not_in_schedule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to referring_provider_rule table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'referring_provider_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to rendering_provider_exception table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'rendering_provider_exception_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'<ADD EXTENDED PROPERTY>' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit'
GO
