USE [qc_core]
GO
/****** Object:  Table [dbo].[bind_claim_vendor]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bind_claim_vendor](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[session_id] [varchar](36) NULL,
	[created_at] [datetime] NULL,
	[created_by] [varchar](36) NULL,
	[d9_claim_id] [nvarchar](50) NULL,
	[claim_repricer_network] [nvarchar](50) NULL,
	[vendor_id] [int] NULL,
	[vendor_ud] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
