USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_result_key]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_result_key](
	[adjudication_result_key_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_procedure_id] [int] NOT NULL,
	[plan_iteration_index] [int] NOT NULL,
	[authorization_authorized_procedure_id] [int] NULL,
	[authorization_id] [int] NULL,
	[benefit_contract_id] [int] NULL,
	[benefit_contract_period_benefit_plan_id] [int] NULL,
	[benefit_framework_id] [int] NULL,
	[benefit_limit_fee_schedule_id] [int] NULL,
	[benefit_limit_fee_schedule_modifier_id] [int] NULL,
	[benefit_limit_msa_code_id] [int] NULL,
	[benefit_limit_percent_billed_state_id] [int] NULL,
	[benefit_contract_period_id] [int] NULL,
	[benefit_plan_id] [int] NULL,
	[bundled_procedure_code_id] [int] NULL,
	[ces_bundled_procedure_code_id] [int] NULL,
	[claim_editing_software_yes_no_id] [int] NULL,
	[claim_processing_rule_framework_id] [int] NULL,
	[code_depreciation_schedule_id] [int] NULL,
	[coinsurance_benefit_id] [int] NULL,
	[copay_benefit_id] [int] NULL,
	[covered_benefit_id] [int] NULL,
	[dental_alternate_course_applied_yes_no_id] [int] NULL,
	[alternate_course_of_treatment_map_id] [int] NULL,
	[dental_procedure_grouping_applied_yes_no_id] [int] NULL,
	[dental_restorative_bundling_applied_yes_no_id] [int] NULL,
	[eligibility_state_id] [int] NULL,
	[employee_class_id] [int] NULL,
	[expected_fee_schedule_id] [int] NULL,
	[expected_fee_schedule_modifier_id] [int] NULL,
	[expected_payment_contract_id] [int] NULL,
	[externally_priced_yes_no_id] [int] NULL,
	[family_eligibility_id] [int] NULL,
	[family_eligibility_member_benefit_plan_id] [int] NULL,
	[family_eligibility_member_id] [int] NULL,
	[fee_schedule_detail_id] [int] NULL,
	[fee_schedule_id] [int] NULL,
	[fee_schedule_modifier_id] [int] NULL,
	[fee_schedule_state_id] [int] NULL,
	[ffs_equiv_msa_code_id] [int] NULL,
	[ffs_equiv_percent_billed_state_id] [int] NULL,
	[ffs_equivalent_fee_schedule_id] [int] NULL,
	[ffs_equivalent_fee_schedule_modifier_id] [int] NULL,
	[financial_responsibility_assignment_id] [int] NULL,
	[member_vendor_id] [int] NULL,
	[ignore_possible_duplicate_claim_line_yes_no_id] [int] NULL,
	[include_in_depreciation_yes_no_id] [int] NULL,
	[reimburse_member_yes_no_id] [int] NULL,
	[member_expense_benefit_id] [int] NULL,
	[member_expense_schedule_id] [int] NULL,
	[msa_code_id] [int] NULL,
	[payment_contract_definition_id] [int] NULL,
	[payment_contract_id] [int] NULL,
	[payment_contract_state_id] [int] NULL,
	[percent_billed_state_id] [int] NULL,
	[plan_level_id] [int] NULL,
	[practice_office_id] [int] NULL,
	[primary_care_physician_id] [int] NULL,
	[primary_care_physician_identifier_id] [int] NULL,
	[provider_id] [int] NULL,
	[provider_category_id] [int] NULL,
	[provider_identifier_id] [int] NULL,
	[provider_network_id] [int] NULL,
	[network_level_id] [int] NULL,
	[referral_authorized_procedure_id] [int] NULL,
	[referral_id] [int] NULL,
	[rendering_practice_office_id] [int] NULL,
	[rendering_provider_id] [int] NULL,
	[rendering_provider_identifier_id] [int] NULL,
	[reinsurance_contract_id] [int] NULL,
	[tiered_coinsurance_id] [int] NULL,
	[tier_criteria_id] [int] NULL,
	[vendor_id] [int] NULL,
	[vendor_source_id] [int] NULL,
	[visit_definition_id] [int] NULL,
	[withhold_account_id] [int] NULL,
	[withhold_schedule_id] [int] NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[modified_date] [datetime] NOT NULL,
 CONSTRAINT [PK_adjudication_result_key] PRIMARY KEY NONCLUSTERED 
(
	[adjudication_result_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_result_key] ADD  CONSTRAINT [DF_adjudication_result_key_plan_iteration_index]  DEFAULT ((1)) FOR [plan_iteration_index]
GO
ALTER TABLE [dbo].[adjudication_result_key] ADD  CONSTRAINT [DF_adjudication_result_key_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_key] ADD  CONSTRAINT [DF_adjudication_result_key_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_result_key] ADD  CONSTRAINT [DF_adjudication_result_key_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_key] ADD  CONSTRAINT [DF_adjudication_result_key_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_result_key]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_key_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_result_key] CHECK CONSTRAINT [FK_adjudication_result_key_claim_procedure]
GO
