USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_member_benefit_plan_additional_information]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information](
	[family_eligibility_member_benefit_plan_additional_information_id] [int] IDENTITY(1,1) NOT NULL,
	[family_eligibility_member_benefit_plan_id] [int] NULL,
	[additional_information_id] [int] NULL,
	[additional_information_topic_id] [int] NULL,
	[additional_information_selection_value] [nvarchar](300) NULL,
	[additional_information_value] [nvarchar](300) NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[comment] [nvarchar](500) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_member_benefit_plan_additional_information] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_member_benefit_plan_additional_information_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_additional_information_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_additional_information_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_additional_information_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_additional_information_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_additional_information_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_additional_information] FOREIGN KEY([additional_information_id])
REFERENCES [dbo].[additional_information] ([additional_information_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_additional_information]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_additional_information_topic] FOREIGN KEY([additional_information_topic_id])
REFERENCES [dbo].[additional_information_topic] ([additional_information_topic_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_additional_information_topic]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_family_eligibility_member_benefit_plan] FOREIGN KEY([family_eligibility_member_benefit_plan_id])
REFERENCES [dbo].[family_eligibility_member_benefit_plan] ([family_eligibility_member_benefit_plan_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_additional_information] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_additional_information_family_eligibility_member_benefit_plan]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_additional_information_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to family_eligibility_member_benefit_plan table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to additional_information table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to additional_information_topic table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_topic_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_selection_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Additional Information / Topics for Individual Eligibility' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_additional_information'
GO
