USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_contract_period]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_contract_period](
	[benefit_contract_period_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_contract_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[locked_from_use] [bit] NULL,
	[renewal_months_warning] [int] NULL,
	[benefit_termination_reason_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_contract_period] PRIMARY KEY CLUSTERED 
(
	[benefit_contract_period_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_contract_period] ADD  CONSTRAINT [DF_benefit_contract_period_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_contract_period] ADD  CONSTRAINT [DF_benefit_contract_period_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period] ADD  CONSTRAINT [DF_benefit_contract_period_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_contract_period] ADD  CONSTRAINT [DF_benefit_contract_period_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_contract_period] ADD  CONSTRAINT [DF_benefit_contract_period_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_contract] FOREIGN KEY([benefit_contract_id])
REFERENCES [dbo].[benefit_contract] ([benefit_contract_id])
GO
ALTER TABLE [dbo].[benefit_contract_period] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_contract]
GO
ALTER TABLE [dbo].[benefit_contract_period]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_benefit_termination_reason] FOREIGN KEY([benefit_termination_reason_id])
REFERENCES [dbo].[benefit_termination_reason] ([benefit_termination_reason_id])
GO
ALTER TABLE [dbo].[benefit_contract_period] CHECK CONSTRAINT [FK_benefit_contract_period_benefit_termination_reason]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_CONTRACT_PERIOD .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CONTRACT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record is no longer effective.  A null value indicates the record is still active.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "locked from use"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'locked_from_use'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'renewal months warning' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'renewal_months_warning'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_TERMINATION_REASON table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'benefit_termination_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
