USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_transaction_ar_accounting_transaction_ap]    Script Date: 7/9/2026 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap](
	[accounting_transaction_ar_accounting_transaction_ap_id] [bigint] IDENTITY(1,1) NOT NULL,
	[accounting_transaction_ar_id] [int] NOT NULL,
	[accounting_transaction_ap_id] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_accounting_transaction_ar_accounting_transaction_ap] PRIMARY KEY NONCLUSTERED 
(
	[accounting_transaction_ar_accounting_transaction_ap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ar_accounting_transaction_ap_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ar_accounting_transaction_ap_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ar_accounting_transaction_ap_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ap_accounting_transaction_ap_id] FOREIGN KEY([accounting_transaction_ap_id])
REFERENCES [dbo].[accounting_transaction_ap] ([accounting_transaction_ap_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ap_accounting_transaction_ap_id]
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ap_accounting_transaction_ar_id] FOREIGN KEY([accounting_transaction_ar_id])
REFERENCES [dbo].[accounting_transaction_ar] ([accounting_transaction_ar_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar_accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ap_accounting_transaction_ar_id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK for accounting_transaction_ar_accounting_transaction_ap' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_accounting_transaction_ap_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the AR Accounting Transaction.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the AP Accounting Transaction.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'table represents linked accounting transactinos for premium fee calculations.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar_accounting_transaction_ap'
GO
