USE [qc_core]
GO
/****** Object:  Table [dbo].[government_health_plan_set]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[government_health_plan_set](
	[government_health_plan_set_id] [int] IDENTITY(1,1) NOT NULL,
	[government_health_plan_set_ud] [nvarchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_government_health_plan_set] PRIMARY KEY CLUSTERED 
(
	[government_health_plan_set_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[government_health_plan_set] ADD  CONSTRAINT [DF_government_health_plan_set_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[government_health_plan_set] ADD  CONSTRAINT [DF_government_health_plan_set_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[government_health_plan_set] ADD  CONSTRAINT [DF_government_health_plan_set_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[government_health_plan_set] ADD  CONSTRAINT [DF_government_health_plan_set_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[government_health_plan_set] ADD  CONSTRAINT [DF_government_health_plan_set_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table GOVERNMENT_HEALTH_PLAN_SET .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'government_health_plan_set_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for government health plan to government health plan set.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'government_health_plan_set_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the relationship_to_insured_set''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'table for government health plan sets' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'government_health_plan_set'
GO
