USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_transaction_ap]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_transaction_ap](
	[accounting_transaction_ap_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_transaction_ap_ud] [nvarchar](100) NULL,
	[accounting_transaction_ap_type_id] [int] NOT NULL,
	[transaction_date] [datetime] NOT NULL,
	[transaction_amount] [numeric](19, 4) NOT NULL,
	[accounting_source_id] [int] NULL,
	[treat_as_accounting_source_id] [int] NULL,
	[accounting_source_record_id] [int] NULL,
	[accounting_transaction_status_id] [int] NULL,
	[accounting_company_id] [int] NULL,
	[vendor_id] [int] NOT NULL,
	[client_id] [int] NULL,
	[client_group_id] [int] NULL,
	[benefit_contract_id] [int] NULL,
	[benefit_plan_id] [int] NULL,
	[provider_network_id] [int] NULL,
	[practice_office_id] [int] NULL,
	[provider_identifier_id] [int] NULL,
	[subscriber_id] [int] NULL,
	[benefit_category_id] [int] NULL,
	[is_incomplete] [bit] NULL,
	[accounting_void_reason_id] [int] NULL,
	[comments] [nvarchar](300) NULL,
	[void_date] [datetime] NULL,
	[voided_by] [nvarchar](128) NULL,
	[tax_1099_misc_box_id] [int] NULL,
	[tax_1099_exempt] [bit] NOT NULL,
	[is_vendor_redistribution] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_transaction_ap] PRIMARY KEY CLUSTERED 
(
	[accounting_transaction_ap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_tax_1099_exempt]  DEFAULT ((0)) FOR [tax_1099_exempt]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_is_vendor_redistribution]  DEFAULT ((0)) FOR [is_vendor_redistribution]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ap] ADD  CONSTRAINT [DF_accounting_transaction_ap_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_company] FOREIGN KEY([accounting_company_id])
REFERENCES [dbo].[accounting_company] ([accounting_company_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_company]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_source] FOREIGN KEY([accounting_source_id])
REFERENCES [dbo].[accounting_source] ([accounting_source_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_source]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_source1] FOREIGN KEY([treat_as_accounting_source_id])
REFERENCES [dbo].[accounting_source] ([accounting_source_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_source1]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_ap_type] FOREIGN KEY([accounting_transaction_ap_type_id])
REFERENCES [dbo].[accounting_transaction_ap_type] ([accounting_transaction_ap_type_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_ap_type]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status] FOREIGN KEY([accounting_transaction_status_id])
REFERENCES [dbo].[accounting_transaction_status] ([accounting_transaction_status_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_void_reason] FOREIGN KEY([accounting_void_reason_id])
REFERENCES [dbo].[accounting_void_reason] ([accounting_void_reason_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_void_reason]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_benefit_category] FOREIGN KEY([benefit_category_id])
REFERENCES [dbo].[benefit_category] ([benefit_category_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_benefit_category]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_benefit_contract] FOREIGN KEY([benefit_contract_id])
REFERENCES [dbo].[benefit_contract] ([benefit_contract_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_benefit_contract]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_benefit_plan] FOREIGN KEY([benefit_plan_id])
REFERENCES [dbo].[benefit_plan] ([benefit_plan_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_benefit_plan]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([client_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_client]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_client_group] FOREIGN KEY([client_group_id])
REFERENCES [dbo].[client_group] ([client_group_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_client_group]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_family_eligibility_member_benefit_plan] FOREIGN KEY([subscriber_id])
REFERENCES [dbo].[family_eligibility_member_benefit_plan] ([family_eligibility_member_benefit_plan_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_family_eligibility_member_benefit_plan]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_practice_office] FOREIGN KEY([practice_office_id])
REFERENCES [dbo].[practice_office] ([practice_office_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_practice_office]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_provider_identifier] FOREIGN KEY([provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_provider_identifier]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_provider_network] FOREIGN KEY([provider_network_id])
REFERENCES [dbo].[provider_network] ([provider_network_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_provider_network]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_tax_1099_misc_box] FOREIGN KEY([tax_1099_misc_box_id])
REFERENCES [dbo].[tax_1099_misc_box] ([tax_1099_misc_box_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_tax_1099_misc_box]
GO
ALTER TABLE [dbo].[accounting_transaction_ap]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor] ([vendor_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap] CHECK CONSTRAINT [FK_accounting_transaction_ap_vendor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ACCOUNTING_TRANSACTION_AP .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for accounting transaction ap.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCOUNTING_TRANSACTION_AP_TYPE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'transaction_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The transaction amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'transaction_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCOUNTING_SOURCE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_source_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_source_id. Used to include a manually entered transaction in a specific DP process for Payments' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'treat_as_accounting_source_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds record id, use with other column to determine what table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_source_record_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCOUNTING_TRANSACTION_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_transaction_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to table accounting_company' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'key to vendor table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'vendor_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique ID to identify a Client ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'client_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique ID to identify a group.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'client_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to benefit_contract table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to benefit_plan table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_NETWORK table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'provider_network_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'key to practice office table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'practice_office_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_IDENTIFIER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'key to family_eligibility_member table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'subscriber_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'key to FK to the benefit category table table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'benefit_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'describes whether the transaction is ready to be picked up by accounting payment run (this is for manually created transactions)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'is_incomplete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The accounting void reason associated with an accounting transaction ap.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'accounting_void_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The comments about why an accounting transaction ap was voided.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'comments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date an accounting transaction ap was voided.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'void_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The user name of the user who voided an accounting transaction ap.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'voided_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to tax_1099_misc_box_id. Transactions are assumed to be 1099-MISC box 6. This allows selection of a different box for 1099-MISC reporting.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'tax_1099_misc_box_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates AP transaction represents a vendor redistribution, that is a transfer of an amount from one vendor to another..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'is_vendor_redistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting AP Transactions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap'
GO
