USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_framework]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_framework](
	[benefit_framework_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_framework_ud] [nvarchar](50) NULL,
	[benefit_framework_nm] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[benefit_category_id] [int] NULL,
	[benefit_sub_category_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_framework] PRIMARY KEY CLUSTERED 
(
	[benefit_framework_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_framework] ADD  CONSTRAINT [DF_benefit_framework_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_framework] ADD  CONSTRAINT [DF_benefit_framework_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_framework] ADD  CONSTRAINT [DF_benefit_framework_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_framework] ADD  CONSTRAINT [DF_benefit_framework_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_framework] ADD  CONSTRAINT [DF_benefit_framework_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_framework]  WITH CHECK ADD  CONSTRAINT [FK_benefit_framework_benefit_category] FOREIGN KEY([benefit_category_id])
REFERENCES [dbo].[benefit_category] ([benefit_category_id])
GO
ALTER TABLE [dbo].[benefit_framework] CHECK CONSTRAINT [FK_benefit_framework_benefit_category]
GO
ALTER TABLE [dbo].[benefit_framework]  WITH CHECK ADD  CONSTRAINT [FK_benefit_framework_benefit_sub_category] FOREIGN KEY([benefit_sub_category_id])
REFERENCES [dbo].[benefit_sub_category] ([benefit_sub_category_id])
GO
ALTER TABLE [dbo].[benefit_framework] CHECK CONSTRAINT [FK_benefit_framework_benefit_sub_category]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_FRAMEWORK .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'benefit_framework_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for benefit framework.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'benefit_framework_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name description for BENEFIT_FRAMEWORK table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'benefit_framework_nm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the benefit_framework''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CATEGORY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'benefit_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_SUB_CATEGORY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'benefit_sub_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_framework', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
