USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_result_key_override]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_result_key_override](
	[adjudication_result_key_override_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[adjudication_result_key_id] [int] NOT NULL,
	[authorization_id] [int] NULL,
	[authorization_adjudication_details_override_reason_id] [int] NULL,
	[claim_processing_rule_framework_id] [int] NULL,
	[dental_alternate_course_applied_yes_no_id] [int] NULL,
	[dental_procedure_grouping_applied_yes_no_id] [int] NULL,
	[dental_restorative_bundling_applied_yes_no_id] [int] NULL,
	[include_in_depreciation_yes_no_id] [int] NULL,
	[network_level_id] [int] NULL,
	[provider_network_id] [int] NULL,
	[reimburse_member_yes_no_id] [int] NULL,
	[claim_processing_rule_framework_adjudication_details_override_reason_id] [int] NULL,
	[dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id] [int] NULL,
	[dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id] [int] NULL,
	[dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id] [int] NULL,
	[include_in_depreciation_yes_no_adjudication_details_override_reason_id] [int] NULL,
	[network_level_adjudication_details_override_reason_id] [int] NULL,
	[referral_adjudication_details_override_reason_id] [int] NULL,
	[referral_id] [int] NULL,
	[provider_network_adjudication_details_override_reason_id] [int] NULL,
	[reimburse_member_yes_no_adjudication_details_override_reason_id] [int] NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_adjudication_result_key_override] PRIMARY KEY CLUSTERED 
(
	[adjudication_result_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_result_key_override] ADD  CONSTRAINT [DF_adjudication_result_key_override_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_key_override] ADD  CONSTRAINT [DF_adjudication_result_key_override_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_result_key_override] ADD  CONSTRAINT [DF_adjudication_result_key_override_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_key_override] ADD  CONSTRAINT [DF_adjudication_result_key_override_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_result_key_override]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_key_override_adjudication_result_key] FOREIGN KEY([adjudication_result_key_id])
REFERENCES [dbo].[adjudication_result_key] ([adjudication_result_key_id])
GO
ALTER TABLE [dbo].[adjudication_result_key_override] CHECK CONSTRAINT [FK_adjudication_result_key_override_adjudication_result_key]
GO
