USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_contract_period_status]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_contract_period_status](
	[benefit_contract_period_status_id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_contract_period_benefit_plan_id] [int] NULL,
	[benefit_contract_status_level_id] [int] NULL,
	[benefit_contract_period_id] [int] NULL,
	[details] [nvarchar](255) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_contract_period_status] PRIMARY KEY CLUSTERED 
(
	[benefit_contract_period_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_contract_period_status] ADD  CONSTRAINT [DF_benefit_contract_period_status_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_contract_period_status] ADD  CONSTRAINT [DF_benefit_contract_period_status_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period_status] ADD  CONSTRAINT [DF_benefit_contract_period_status_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_contract_period_status] ADD  CONSTRAINT [DF_benefit_contract_period_status_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_contract_period_status] ADD  CONSTRAINT [DF_benefit_contract_period_status_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_period_status]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_period_benefit_plan] FOREIGN KEY([benefit_contract_period_benefit_plan_id])
REFERENCES [dbo].[benefit_contract_period_benefit_plan] ([benefit_contract_period_benefit_plan_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_status] CHECK CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_period_benefit_plan]
GO
ALTER TABLE [dbo].[benefit_contract_period_status]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_period1] FOREIGN KEY([benefit_contract_period_id])
REFERENCES [dbo].[benefit_contract_period] ([benefit_contract_period_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_status] CHECK CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_period1]
GO
ALTER TABLE [dbo].[benefit_contract_period_status]  WITH CHECK ADD  CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_status_level] FOREIGN KEY([benefit_contract_status_level_id])
REFERENCES [dbo].[benefit_contract_status_level] ([benefit_contract_status_level_id])
GO
ALTER TABLE [dbo].[benefit_contract_period_status] CHECK CONSTRAINT [FK_benefit_contract_period_status_benefit_contract_status_level]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_CONTRACT_PERIOD_STATUS .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CONTRACT_STATUS_LEVEL table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'benefit_contract_status_level_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_CONTRACT_PERIOD table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'benefit_contract_period_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'details' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_period_status', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
