USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_run_result_code]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_run_result_code](
	[adjudication_run_result_code_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[adjudication_run_id] [int] NOT NULL,
	[result_code_id] [int] NULL,
	[result_code_status_id] [int] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_run_result_code] PRIMARY KEY CLUSTERED 
(
	[adjudication_run_result_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_run_result_code] ADD  CONSTRAINT [DF_adjudication_run_result_code_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_run_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_result_code_adjudication_run] FOREIGN KEY([adjudication_run_id])
REFERENCES [dbo].[adjudication_run] ([adjudication_run_id])
GO
ALTER TABLE [dbo].[adjudication_run_result_code] CHECK CONSTRAINT [FK_adjudication_run_result_code_adjudication_run]
GO
ALTER TABLE [dbo].[adjudication_run_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_result_code_result_code] FOREIGN KEY([result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[adjudication_run_result_code] CHECK CONSTRAINT [FK_adjudication_run_result_code_result_code]
GO
ALTER TABLE [dbo].[adjudication_run_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_result_code_result_code_status] FOREIGN KEY([result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[adjudication_run_result_code] CHECK CONSTRAINT [FK_adjudication_run_result_code_result_code_status]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADJUDICATION_RUN_RESULT_CODE .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code', @level2type=N'COLUMN',@level2name=N'adjudication_run_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to adjudication_run table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code', @level2type=N'COLUMN',@level2name=N'adjudication_run_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESULT_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code', @level2type=N'COLUMN',@level2name=N'result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESULT_CODE_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code', @level2type=N'COLUMN',@level2name=N'result_code_status_id'
GO
