USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_cob_payer]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_cob_payer](
	[claim_cob_payer_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_id] [int] NOT NULL,
	[sequence_id] [int] NOT NULL,
	[cob_member_commercial_health_plan_id] [int] NULL,
	[cob_member_governmental_health_plan_id] [int] NULL,
	[net_pay] [numeric](19, 4) NULL,
	[allowed_amount] [numeric](19, 4) NULL,
	[other_insurance_payment_date] [date] NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_claim_cob_payer] PRIMARY KEY NONCLUSTERED 
(
	[claim_cob_payer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_cob_payer] ADD  CONSTRAINT [DF_claim_cob_payer_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_cob_payer] ADD  CONSTRAINT [DF_claim_cob_payer_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_cob_payer] ADD  CONSTRAINT [DF_claim_cob_payer_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_cob_payer] ADD  CONSTRAINT [DF_claim_cob_payer_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_cob_payer] ADD  CONSTRAINT [DF_claim_cob_payer_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim_cob_payer]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_payer_claim] FOREIGN KEY([claim_id])
REFERENCES [dbo].[claim] ([claim_id])
GO
ALTER TABLE [dbo].[claim_cob_payer] CHECK CONSTRAINT [FK_claim_cob_payer_claim]
GO
ALTER TABLE [dbo].[claim_cob_payer]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_payer_cob_member_commercial_health_plan] FOREIGN KEY([cob_member_commercial_health_plan_id])
REFERENCES [dbo].[cob_member_commercial_health_plan] ([cob_member_commercial_health_plan_id])
GO
ALTER TABLE [dbo].[claim_cob_payer] CHECK CONSTRAINT [FK_claim_cob_payer_cob_member_commercial_health_plan]
GO
ALTER TABLE [dbo].[claim_cob_payer]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_payer_cob_member_governmental_health_plan] FOREIGN KEY([cob_member_governmental_health_plan_id])
REFERENCES [dbo].[cob_member_governmental_health_plan] ([cob_member_governmental_health_plan_id])
GO
ALTER TABLE [dbo].[claim_cob_payer] CHECK CONSTRAINT [FK_claim_cob_payer_cob_member_governmental_health_plan]
GO
ALTER TABLE [dbo].[claim_cob_payer]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_payer_sequence] FOREIGN KEY([sequence_id])
REFERENCES [dbo].[sequence] ([sequence_id])
GO
ALTER TABLE [dbo].[claim_cob_payer] CHECK CONSTRAINT [FK_claim_cob_payer_sequence]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'claim_cob_payer_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to claim table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to GD table Sequence - determines sequence.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'sequence_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Member Commmercial Health Plan - Plan information that could be outside of the system.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'cob_member_commercial_health_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Member Government Health Plan - Plan information that could be outside of the system.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'cob_member_governmental_health_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The net pay amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'net_pay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The allowed/contracted amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'allowed_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Other Insurance Adjudicated or Payment Date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'other_insurance_payment_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_payer', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
