USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_contract_value]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_contract_value](
	[benefit_contract_value_id] [int] IDENTITY(1,1) NOT NULL,
	[benefit_contract_value_ud] [nvarchar](50) NOT NULL,
	[description] [nvarchar](128) NULL,
	[golden_key] [nvarchar](50) NULL,
	[gsu] [char](1) NULL,
	[table_row_id] [int] NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[modified_date] [datetime] NOT NULL,
 CONSTRAINT [PK_benefit_contract_value] PRIMARY KEY CLUSTERED 
(
	[benefit_contract_value_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_contract_value] ADD  CONSTRAINT [DF_benefit_contract_value_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_contract_value] ADD  CONSTRAINT [DF_benefit_contract_value_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_value] ADD  CONSTRAINT [DF_benefit_contract_value_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_contract_value] ADD  CONSTRAINT [DF_benefit_contract_value_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_contract_value] ADD  CONSTRAINT [DF_benefit_contract_value_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key for table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'benefit_contract_value_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'benefit_contract_value_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'user description of record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds a value that is used in code.  Do not modify.  Note: Changing the _ud column is OK but that does NOT change the functionality' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'golden_key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the factor type is Plexis, Suggestion, or User data; g = Plexis, s = Suggestion, u = User' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'gsu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique id generated from the internal tool,Collaborator. ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'table_row_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Create to allow data to be marked as active or inactive. Not currently used and defaulted to 1 when a new record is created. ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Set once for inserts. Default to the original username of user as the connection to the instance was made.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date and time the record is created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Set for each insert, update and, when CDC auditing is enabled, delete – via trigger. Default to the original username of user as the connection to the instance was made.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'modified_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date and time the record is last modified.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_description', @value=N'Benefit Contract Value system table used to store identifying properties for fee schedule values' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_contract_value'
GO
