USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_adjustment_reason_code]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_adjustment_reason_code](
	[claim_adjustment_reason_code_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_adjustment_reason_code_nk] [nvarchar](15) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[code_effective_date] [date] NOT NULL,
	[code_deactivation_date] [date] NULL,
	[code_last_modified_date] [date] NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_claim_adjustment_reason_code] PRIMARY KEY NONCLUSTERED 
(
	[claim_adjustment_reason_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQC_claim_adjustment_reason_code] UNIQUE CLUSTERED 
(
	[claim_adjustment_reason_code_nk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_adjustment_reason_code] ADD  CONSTRAINT [DF_claim_adjustment_reason_code_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_adjustment_reason_code] ADD  CONSTRAINT [DF_claim_adjustment_reason_code_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_adjustment_reason_code] ADD  CONSTRAINT [DF_claim_adjustment_reason_code_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_adjustment_reason_code] ADD  CONSTRAINT [DF_claim_adjustment_reason_code_modified_date1]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_adjustment_reason_code] ADD  CONSTRAINT [DF_claim_adjustment_reason_code_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Primary Key.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'claim_adjustment_reason_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim adjustment reason code (unique, natural key).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'claim_adjustment_reason_code_nk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The code description (imported value).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The code effective date (imported value).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'code_effective_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The code deactivation date (imported value).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'code_deactivation_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The code last modified date (imported value).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'code_last_modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date record was created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of user who last modified this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_adjustment_reason_code', @level2type=N'COLUMN',@level2name=N'modified_user_name'
GO
