USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_plan]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_plan](
	[benefit_plan_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_plan_ud] [nvarchar](50) NULL,
	[benefit_plan_nm] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[benefit_framework_id] [int] NULL,
	[benefit_plan_marketing_nm] [nvarchar](100) NULL,
	[primary_care_provider] [bit] NULL,
	[product_line_id] [int] NULL,
	[product_id] [int] NULL,
	[plan_assignment_status_id] [int] NULL,
	[plan_adjudication_status_id] [int] NULL,
	[adj_result_code_id] [int] NULL,
	[adj_result_code_status_id] [int] NULL,
	[carrier_id] [int] NULL,
	[marketing_arm_id] [int] NULL,
	[marketing_arm_contract] [bit] NULL,
	[allow_advance_commissions] [bit] NULL,
	[pend_claims_after_days] [int] NULL,
	[deny_claims_after_days] [int] NULL,
	[capitation_benefit_id] [int] NULL,
	[pcp_required_result_code_id] [int] NULL,
	[pcp_required_result_code_status_id] [int] NULL,
	[benefit_limit_rule_id] [int] NULL,
	[coverage_incentive_id] [int] NULL,
	[dental_tooth_surface_validation] [bit] NULL,
	[include_mips] [bit] NOT NULL,
	[include_sequestration] [bit] NOT NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_plan] PRIMARY KEY CLUSTERED 
(
	[benefit_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_include_mips]  DEFAULT ((0)) FOR [include_mips]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_sequestration]  DEFAULT ((0)) FOR [include_sequestration]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_plan] ADD  CONSTRAINT [DF_benefit_plan_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_benefit_framework] FOREIGN KEY([benefit_framework_id])
REFERENCES [dbo].[benefit_framework] ([benefit_framework_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_benefit_framework]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_benefit_limit_rule] FOREIGN KEY([benefit_limit_rule_id])
REFERENCES [dbo].[benefit_limit_rule] ([benefit_limit_rule_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_benefit_limit_rule]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_capitation_benefit] FOREIGN KEY([capitation_benefit_id])
REFERENCES [dbo].[benefit] ([benefit_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_capitation_benefit]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_carrier] FOREIGN KEY([carrier_id])
REFERENCES [dbo].[carrier] ([carrier_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_carrier]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_coverage_incentive] FOREIGN KEY([coverage_incentive_id])
REFERENCES [dbo].[coverage_incentive] ([coverage_incentive_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_coverage_incentive]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_marketing_arm] FOREIGN KEY([marketing_arm_id])
REFERENCES [dbo].[marketing_arm] ([marketing_arm_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_marketing_arm]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_plan_adjudication_status] FOREIGN KEY([plan_adjudication_status_id])
REFERENCES [dbo].[plan_adjudication_status] ([plan_adjudication_status_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_plan_adjudication_status]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_plan_assignment_status] FOREIGN KEY([plan_assignment_status_id])
REFERENCES [dbo].[plan_assignment_status] ([plan_assignment_status_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_plan_assignment_status]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_product]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_product_line] FOREIGN KEY([product_line_id])
REFERENCES [dbo].[product_line] ([product_line_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_product_line]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_result_code] FOREIGN KEY([adj_result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_result_code]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_result_code_pcp_required] FOREIGN KEY([pcp_required_result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_result_code_pcp_required]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_result_code_status] FOREIGN KEY([adj_result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_result_code_status]
GO
ALTER TABLE [dbo].[benefit_plan]  WITH CHECK ADD  CONSTRAINT [FK_benefit_plan_result_code_status_pcp_required] FOREIGN KEY([pcp_required_result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[benefit_plan] CHECK CONSTRAINT [FK_benefit_plan_result_code_status_pcp_required]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_PLAN .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for benefit plan.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name description for BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_nm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the benefit_plan''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_FRAMEWORK table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_framework_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name description for BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_plan_marketing_nm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "primary care provider"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'primary_care_provider'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PRODUCT_LINE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'product_line_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PRODUCT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PLAN_ASSIGNMENT_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'plan_assignment_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PLAN_ADJUDICATION_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'plan_adjudication_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESULT_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'adj_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RESULT_CODE_STATUS table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'adj_result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to carrier table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'carrier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to MARKETING_ARM table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'marketing_arm_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "marketing arm contract"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'marketing_arm_contract'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "allow advance commissions"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'allow_advance_commissions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pend claims after days' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'pend_claims_after_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'deny claims after days' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'deny_claims_after_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The benefit to use when an eligibility is being capitated using a rate tier based on copay or other benefit related criteria' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'capitation_benefit_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds the id of the result code set when PCP assignment is required but missing.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'pcp_required_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds the id of the result code override status when PCP assignment is required but missing.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'pcp_required_result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_LIMIT_RULE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'benefit_limit_rule_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign key to the coverage incentive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'coverage_incentive_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'#10812, 2.1.1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_plan'
GO
