USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_company_account]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_company_account](
	[accounting_company_account_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_company_account_ud] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[accounting_company_id] [int] NOT NULL,
	[account_status_id] [int] NOT NULL,
	[account_balance_type_id] [int] NULL,
	[currency_id] [int] NULL,
	[account_category_id] [int] NULL,
	[account_sub_category_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_company_account] PRIMARY KEY CLUSTERED 
(
	[accounting_company_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_company_account] ADD  CONSTRAINT [DF_accounting_company_account_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_company_account] ADD  CONSTRAINT [DF_accounting_company_account_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_company_account] ADD  CONSTRAINT [DF_accounting_company_account_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_company_account] ADD  CONSTRAINT [DF_accounting_company_account_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_company_account] ADD  CONSTRAINT [DF_accounting_company_account_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_account_balance_type] FOREIGN KEY([account_balance_type_id])
REFERENCES [dbo].[account_balance_type] ([account_balance_type_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_account_balance_type]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_account_category] FOREIGN KEY([account_category_id])
REFERENCES [dbo].[account_category] ([account_category_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_account_category]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_account_status] FOREIGN KEY([account_status_id])
REFERENCES [dbo].[account_status] ([account_status_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_account_status]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_account_sub_category] FOREIGN KEY([account_sub_category_id])
REFERENCES [dbo].[account_sub_category] ([account_sub_category_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_account_sub_category]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_accounting_company] FOREIGN KEY([accounting_company_id])
REFERENCES [dbo].[accounting_company] ([accounting_company_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_accounting_company]
GO
ALTER TABLE [dbo].[accounting_company_account]  WITH CHECK ADD  CONSTRAINT [FK_accounting_company_account_currency] FOREIGN KEY([currency_id])
REFERENCES [dbo].[currency] ([currency_id])
GO
ALTER TABLE [dbo].[accounting_company_account] CHECK CONSTRAINT [FK_accounting_company_account_currency]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'accounting_company_account_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'accounting_company_account_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting company' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to account status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'account_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to account balance type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'account_balance_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to currency' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'currency_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCOUNT_CATEGORY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'account_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ACCOUNT_SUB_CATEGORY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'account_sub_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if a row is active. Used to keep a record from being viewed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the User who created this record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to Group the user was member of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_company_account', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
