USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_result_code]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_result_code](
	[adjudication_result_code_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_id] [int] NULL,
	[claim_procedure_id] [int] NULL,
	[result_code_id] [int] NULL,
	[result_code_status_id] [int] NULL,
	[keep_code_for_next_adj_run] [bit] NULL,
	[do_not_clear] [bit] NULL,
	[comment] [nvarchar](1000) NULL,
	[plan_iteration_index] [int] NULL,
	[user_created] [bit] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_adjudication_result_code] PRIMARY KEY CLUSTERED 
(
	[adjudication_result_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_result_code] ADD  CONSTRAINT [DF_adjudication_result_code_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[adjudication_result_code] ADD  CONSTRAINT [DF_adjudication_result_code_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_code] ADD  CONSTRAINT [DF_adjudication_result_code_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_result_code] ADD  CONSTRAINT [DF_adjudication_result_code_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_result_code] ADD  CONSTRAINT [DF_adjudication_result_code_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_claim] FOREIGN KEY([claim_id])
REFERENCES [dbo].[claim] ([claim_id])
GO
ALTER TABLE [dbo].[adjudication_result_code] CHECK CONSTRAINT [FK_adjudication_result_code_claim]
GO
ALTER TABLE [dbo].[adjudication_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_result_code] CHECK CONSTRAINT [FK_adjudication_result_code_claim_procedure]
GO
ALTER TABLE [dbo].[adjudication_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_result_code] FOREIGN KEY([result_code_id])
REFERENCES [dbo].[result_code] ([result_code_id])
GO
ALTER TABLE [dbo].[adjudication_result_code] CHECK CONSTRAINT [FK_adjudication_result_code_result_code]
GO
ALTER TABLE [dbo].[adjudication_result_code]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_result_code_result_code_status] FOREIGN KEY([result_code_status_id])
REFERENCES [dbo].[result_code_status] ([result_code_status_id])
GO
ALTER TABLE [dbo].[adjudication_result_code] CHECK CONSTRAINT [FK_adjudication_result_code_result_code_status]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'adjudication_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the claim that holds this adjudication_result_code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the claim_procedure that added this adjudication_result_code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the result_code on the line.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the result_code_status on the line.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'result_code_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Keep this result code for the next adjudication run' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'keep_code_for_next_adj_run'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Do not clear' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'do_not_clear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The user-defined comment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This index value indicates the iteration number which generated this particular result code. A line can be adjudicated to have multiple sets of result codes due to supplemental eligibilities that would generate multiple iterations of processing.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'plan_iteration_index'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines whether this result code line was created by the user or the system.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'user_created'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Represents a result code on a claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_result_code'
GO
