USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_transaction_ar]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_transaction_ar](
	[accounting_transaction_ar_id] [int] IDENTITY(1,1) NOT NULL,
	[accounting_transaction_ar_ud] [nvarchar](100) NULL,
	[accounting_transaction_ar_type_id] [int] NOT NULL,
	[transaction_date] [datetime] NOT NULL,
	[transaction_amount] [numeric](19, 4) NOT NULL,
	[accounting_source_id] [int] NULL,
	[treat_as_accounting_source_id] [int] NULL,
	[accounting_source_record_id] [int] NULL,
	[accounting_transaction_status_id] [int] NULL,
	[accounting_company_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[client_id] [int] NULL,
	[client_group_id] [int] NULL,
	[benefit_contract_id] [int] NULL,
	[benefit_plan_id] [int] NULL,
	[family_eligibility_id] [int] NULL,
	[coverage_period_start_date] [date] NULL,
	[coverage_period_end_date] [date] NULL,
	[past_due_penalty_rate_detail_id] [int] NULL,
	[accounting_transaction_ar_void_reason_id] [int] NULL,
	[comments] [nvarchar](300) NULL,
	[void_date] [datetime] NULL,
	[voided_by] [nvarchar](128) NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_transaction_ar] PRIMARY KEY CLUSTERED 
(
	[accounting_transaction_ar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_transaction_ar] ADD  CONSTRAINT [DF_accounting_transaction_ar_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_transaction_ar] ADD  CONSTRAINT [DF_accounting_transaction_ar_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ar] ADD  CONSTRAINT [DF_accounting_transaction_ar_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ar] ADD  CONSTRAINT [DF_accounting_transaction_ar_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ar] ADD  CONSTRAINT [DF_accounting_transaction_ar_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_company] FOREIGN KEY([accounting_company_id])
REFERENCES [dbo].[accounting_company] ([accounting_company_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_company]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_source] FOREIGN KEY([accounting_source_id])
REFERENCES [dbo].[accounting_source] ([accounting_source_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_source]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_source_treat_as] FOREIGN KEY([treat_as_accounting_source_id])
REFERENCES [dbo].[accounting_source] ([accounting_source_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_source_treat_as]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ar_type] FOREIGN KEY([accounting_transaction_ar_type_id])
REFERENCES [dbo].[accounting_transaction_ar_type] ([accounting_transaction_ar_type_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_ar_type]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_status] FOREIGN KEY([accounting_transaction_status_id])
REFERENCES [dbo].[accounting_transaction_status] ([accounting_transaction_status_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_accounting_transaction_status]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_benefit_contract] FOREIGN KEY([benefit_contract_id])
REFERENCES [dbo].[benefit_contract] ([benefit_contract_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_benefit_contract]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_benefit_plan] FOREIGN KEY([benefit_plan_id])
REFERENCES [dbo].[benefit_plan] ([benefit_plan_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_benefit_plan]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([client_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_client]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_client_group] FOREIGN KEY([client_group_id])
REFERENCES [dbo].[client_group] ([client_group_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_client_group]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_customer]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_family_eligibility] FOREIGN KEY([family_eligibility_id])
REFERENCES [dbo].[family_eligibility] ([family_eligibility_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_family_eligibility]
GO
ALTER TABLE [dbo].[accounting_transaction_ar]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ar_past_due_penalty_rate_detail] FOREIGN KEY([past_due_penalty_rate_detail_id])
REFERENCES [dbo].[past_due_penalty_rate_detail] ([past_due_penalty_rate_detail_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ar] CHECK CONSTRAINT [FK_accounting_transaction_ar_past_due_penalty_rate_detail]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User entered ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_transaction_ar_type table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'transaction_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Amount of the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'transaction_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_source table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_source_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of the source record for this transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_source_record_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_transaction_status table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_transaction_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_company table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_company_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to customer table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'customer_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to client table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'client_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to client_group table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'client_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to benefit_contract table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'benefit_contract_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to benefit_plan table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to family_eligibility_member table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'family_eligibility_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The start date of the coverage period for the accounting entity, if applicable.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'coverage_period_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The end date for the coverage period for the accounting entity, if applicable.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'coverage_period_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'If this transaction was created from a penalty fee, which schedule rate was used' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'past_due_penalty_rate_detail_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_transaction_ar_void_reason' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ar_void_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'transaction comments' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'comments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date transaction is voided' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'void_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'user that voided transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'voided_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Accounting Transactions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ar'
GO
