USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_procedure_cob_amount]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_procedure_cob_amount](
	[claim_procedure_cob_amount_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_cob_payer_id] [int] NOT NULL,
	[claim_procedure_id] [int] NOT NULL,
	[net_pay] [numeric](19, 4) NOT NULL,
	[allowed_amount] [numeric](19, 4) NULL,
	[net_pay_override] [numeric](19, 4) NULL,
	[allowed_amount_override] [numeric](19, 4) NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_claim_procedure_cob_amount] PRIMARY KEY NONCLUSTERED 
(
	[claim_procedure_cob_amount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] ADD  CONSTRAINT [DF_claim_procedure_cob_amount_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] ADD  CONSTRAINT [DF_claim_procedure_cob_amount_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] ADD  CONSTRAINT [DF_claim_procedure_cob_amount_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] ADD  CONSTRAINT [DF_claim_procedure_cob_amount_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] ADD  CONSTRAINT [DF_claim_procedure_cob_amount_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_cob_amount_claim_cob_payer] FOREIGN KEY([claim_cob_payer_id])
REFERENCES [dbo].[claim_cob_payer] ([claim_cob_payer_id])
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] CHECK CONSTRAINT [FK_claim_procedure_cob_amount_claim_cob_payer]
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_cob_amount_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[claim_procedure_cob_amount] CHECK CONSTRAINT [FK_claim_procedure_cob_amount_claim_procedure]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'claim_procedure_cob_amount_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to claim_cob_payer table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'claim_cob_payer_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to claim_procedure table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The net pay amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'net_pay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The allowed/contracted amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'allowed_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The net pay override amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'net_pay_override'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The allowed/contracted override amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'allowed_amount_override'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure_cob_amount', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
