USE [qc_core]
GO
/****** Object:  Table [dbo].[beneficiary]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficiary](
	[beneficiary_id] [int] IDENTITY(1,1) NOT NULL,
	[beneficiary_type_id] [int] NULL,
	[date_of_birth] [date] NULL,
	[date_of_death] [date] NULL,
	[comment] [nvarchar](500) NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_beneficiary] PRIMARY KEY CLUSTERED 
(
	[beneficiary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[beneficiary] ADD  CONSTRAINT [DF_beneficiary_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[beneficiary] ADD  CONSTRAINT [DF_beneficiary_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[beneficiary] ADD  CONSTRAINT [DF_beneficiary_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[beneficiary] ADD  CONSTRAINT [DF_beneficiary_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[beneficiary] ADD  CONSTRAINT [DF_beneficiary_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[beneficiary]  WITH CHECK ADD  CONSTRAINT [FK_beneficiary_beneficiary_type] FOREIGN KEY([beneficiary_type_id])
REFERENCES [dbo].[beneficiary_type] ([beneficiary_type_id])
GO
ALTER TABLE [dbo].[beneficiary] CHECK CONSTRAINT [FK_beneficiary_beneficiary_type]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table beneficiary .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'beneficiary', @level2type=N'COLUMN',@level2name=N'beneficiary_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'beneficiary', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'beneficiary', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'beneficiary', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'beneficiary', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
