USE [qc_core]
GO
/****** Object:  Table [dbo].[account_balance_type]    Script Date: 7/9/2026 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_balance_type](
	[account_balance_type_id] [int] IDENTITY(1,1) NOT NULL,
	[account_balance_type_ud] [nvarchar](50) NULL,
	[golden_key] [nvarchar](50) NULL,
	[gsu] [char](1) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[table_row_id] [int] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_account_balance_type] PRIMARY KEY CLUSTERED 
(
	[account_balance_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_balance_type] ADD  CONSTRAINT [DF_account_balance_type_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[account_balance_type] ADD  CONSTRAINT [DF_account_balance_type_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[account_balance_type] ADD  CONSTRAINT [DF_account_balance_type_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[account_balance_type] ADD  CONSTRAINT [DF_account_balance_type_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[account_balance_type] ADD  CONSTRAINT [DF_account_balance_type_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ACCOUNT_BALANCE_TYPE .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'account_balance_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "ID" or dropdown value (typically is unique) on the UI form for account balance type.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'account_balance_type_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds a value that is used in code.  Do not modify.  Note: Changing the _ud column is OK but that does NOT change the functionality.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'golden_key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the factor type is Plexis, Suggestion, or User data; g = Plexis, s = Suggestion, u = User' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'gsu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to data tracking system outside this database.  Do not touch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_balance_type', @level2type=N'COLUMN',@level2name=N'table_row_id'
GO
