USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_run_result_code_key]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_run_result_code_key](
	[adjudication_run_result_code_key_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[adjudication_run_result_code_id] [int] NOT NULL,
	[adjudication_object_id] [int] NULL,
	[object_record_id] [int] NULL,
	[primary_object] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_run_result_code_key] PRIMARY KEY CLUSTERED 
(
	[adjudication_run_result_code_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_run_result_code_key] ADD  CONSTRAINT [DF_adjudication_run_result_code_key_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[adjudication_run_result_code_key]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_result_code_key_adjudication_object] FOREIGN KEY([adjudication_object_id])
REFERENCES [dbo].[adjudication_object] ([adjudication_object_id])
GO
ALTER TABLE [dbo].[adjudication_run_result_code_key] CHECK CONSTRAINT [FK_adjudication_run_result_code_key_adjudication_object]
GO
ALTER TABLE [dbo].[adjudication_run_result_code_key]  WITH CHECK ADD  CONSTRAINT [FK_adjudication_run_result_code_key_adjudication_run_result_code] FOREIGN KEY([adjudication_run_result_code_id])
REFERENCES [dbo].[adjudication_run_result_code] ([adjudication_run_result_code_id])
GO
ALTER TABLE [dbo].[adjudication_run_result_code_key] CHECK CONSTRAINT [FK_adjudication_run_result_code_key_adjudication_run_result_code]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADJUDICATION_RUN_RESULT_CODE_KEY .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'adjudication_run_result_code_key_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ADJUDICATION_RUN_RESULT_CODE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'adjudication_run_result_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ADJUDICATION_OBJECT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'adjudication_object_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds record id, use with other column to determine what table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'object_record_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "primary object"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'primary_object'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description of the adjudication_run_result_code_key''''s _ud' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_run_result_code_key', @level2type=N'COLUMN',@level2name=N'description'
GO
