USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_additional_date]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_additional_date](
	[claim_additional_date_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_id] [int] NOT NULL,
	[claim_procedure_id] [int] NULL,
	[claim_additional_date_type_id] [int] NOT NULL,
	[date_stamp] [date] NOT NULL,
	[comment] [nvarchar](255) NULL,
	[active] [bit] NULL,
	[created_date] [datetime] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_claim_additional_date] PRIMARY KEY NONCLUSTERED 
(
	[claim_additional_date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_additional_date] ADD  CONSTRAINT [DF_claim_additional_date_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_additional_date] ADD  CONSTRAINT [DF_claim_additional_date_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_additional_date] ADD  CONSTRAINT [DF_claim_additional_date_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_additional_date] ADD  CONSTRAINT [DF_claim_additional_date_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_additional_date] ADD  CONSTRAINT [DF_claim_additional_date_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim_additional_date]  WITH CHECK ADD  CONSTRAINT [FK_claim_additional_date_claim] FOREIGN KEY([claim_id])
REFERENCES [dbo].[claim] ([claim_id])
GO
ALTER TABLE [dbo].[claim_additional_date] CHECK CONSTRAINT [FK_claim_additional_date_claim]
GO
ALTER TABLE [dbo].[claim_additional_date]  WITH CHECK ADD  CONSTRAINT [FK_claim_additional_date_claim_additional_date_type] FOREIGN KEY([claim_additional_date_type_id])
REFERENCES [dbo].[claim_additional_date_type] ([claim_additional_date_type_id])
GO
ALTER TABLE [dbo].[claim_additional_date] CHECK CONSTRAINT [FK_claim_additional_date_claim_additional_date_type]
GO
ALTER TABLE [dbo].[claim_additional_date]  WITH CHECK ADD  CONSTRAINT [FK_claim_additional_date_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[claim_additional_date] CHECK CONSTRAINT [FK_claim_additional_date_claim_procedure]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Composite Key to table CLAIM_ADDTIONAL_DATE FK to CLAIM table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Composite Key to table CLAIM_ADDTIONAL_DATE FK to CLAIM_ADDITIONAL_DATE_TYPE table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'claim_additional_date_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of user that created record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last date modified.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of user that last modified record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_additional_date', @level2type=N'COLUMN',@level2name=N'modified_user_name'
GO
