USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_member_benefit_plan_provider]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_member_benefit_plan_provider](
	[family_eligibility_member_benefit_plan_provider_id] [int] IDENTITY(1,1) NOT NULL,
	[family_eligibility_member_benefit_plan_id] [int] NULL,
	[provider_id] [int] NULL,
	[provider_identifier_id] [int] NULL,
	[practice_office_id] [int] NULL,
	[provider_category_id] [int] NULL,
	[established_patient_indicator_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[provider_assignment_termination_reason_id] [int] NULL,
	[overridden_by_username] [nvarchar](128) NULL,
	[overridden_date] [datetime] NULL,
	[provider_assignment_override_reason_id] [int] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_member_benefit_plan_provider] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_member_benefit_plan_provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_provider_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_provider_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_provider_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_provider_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] ADD  CONSTRAINT [DF_family_eligibility_member_benefit_plan_provider_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_established_patient] FOREIGN KEY([established_patient_indicator_id])
REFERENCES [dbo].[established_patient_indicator] ([established_patient_indicator_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_established_patient]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_family_eligibility_member_benefit_plan] FOREIGN KEY([family_eligibility_member_benefit_plan_id])
REFERENCES [dbo].[family_eligibility_member_benefit_plan] ([family_eligibility_member_benefit_plan_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_family_eligibility_member_benefit_plan]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_practice_office] FOREIGN KEY([practice_office_id])
REFERENCES [dbo].[practice_office] ([practice_office_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_practice_office]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider] FOREIGN KEY([provider_id])
REFERENCES [dbo].[provider] ([provider_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_assignment_override_reason] FOREIGN KEY([provider_assignment_override_reason_id])
REFERENCES [dbo].[provider_assignment_override_reason] ([provider_assignment_override_reason_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_assignment_override_reason]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_assignment_termination_reason] FOREIGN KEY([provider_assignment_termination_reason_id])
REFERENCES [dbo].[provider_assignment_termination_reason] ([provider_assignment_termination_reason_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_assignment_termination_reason]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_category] FOREIGN KEY([provider_category_id])
REFERENCES [dbo].[provider_category] ([provider_category_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_category]
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_identifier] FOREIGN KEY([provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[family_eligibility_member_benefit_plan_provider] CHECK CONSTRAINT [FK_family_eligibility_member_benefit_plan_provider_provider_identifier]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table FAMILY_ELIGIBILITY_MEMBER_BENEFIT_PLAN_PROVIDER .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_provider_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FAMILY_ELIGIBILITY_MEMBER_BENEFIT_PLAN table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_benefit_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'provider_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_IDENTIFIER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PRACTICE_OFFICE table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'practice_office_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_CATEGORY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'provider_category_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to ESTABLISHED_PATIENT_INDICATOR table. Used for edi 834 transaction, Loop 2310, NM110.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'established_patient_indicator_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record is no longer effective.  A null value indicates the record is still active.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to PROVIDER_ASSIGNMENT_TERMINATION_REASON table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'provider_assignment_termination_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who override the warning on this assignment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'overridden_by_username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the override.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'overridden_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to the PROVIDER_ASSIGNMENT_OVERRIDE_REASON table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'provider_assignment_override_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Represents providers assigned to an eligibility.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member_benefit_plan_provider'
GO
