USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_cob_adjustment]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_cob_adjustment](
	[claim_cob_adjustment_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_cob_payer_id] [int] NOT NULL,
	[adjudication_object_id] [int] NULL,
	[claim_adjustment_group_code_gk] [nvarchar](50) NULL,
	[claim_adjustment_reason_code_nk] [nvarchar](15) NULL,
	[amount] [numeric](19, 4) NOT NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NOT NULL,
	[modified_user_name] [nvarchar](128) NOT NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_claim_cob_adjustment] PRIMARY KEY NONCLUSTERED 
(
	[claim_cob_adjustment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_cob_adjustment] ADD  CONSTRAINT [DF_claim_cob_adjustment_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_cob_adjustment] ADD  CONSTRAINT [DF_claim_cob_adjustment_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_cob_adjustment] ADD  CONSTRAINT [DF_claim_cob_adjustment_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_cob_adjustment] ADD  CONSTRAINT [DF_claim_cob_adjustment_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_cob_adjustment] ADD  CONSTRAINT [DF_claim_cob_adjustment_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim_cob_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_adjustment_adjudication_object] FOREIGN KEY([adjudication_object_id])
REFERENCES [dbo].[adjudication_object] ([adjudication_object_id])
GO
ALTER TABLE [dbo].[claim_cob_adjustment] CHECK CONSTRAINT [FK_claim_cob_adjustment_adjudication_object]
GO
ALTER TABLE [dbo].[claim_cob_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_adjustment_claim_adjustment_group_code] FOREIGN KEY([claim_adjustment_group_code_gk])
REFERENCES [dbo].[claim_adjustment_group_code] ([golden_key])
GO
ALTER TABLE [dbo].[claim_cob_adjustment] CHECK CONSTRAINT [FK_claim_cob_adjustment_claim_adjustment_group_code]
GO
ALTER TABLE [dbo].[claim_cob_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_claim_cob_adjustment_claim_cob_payer] FOREIGN KEY([claim_cob_payer_id])
REFERENCES [dbo].[claim_cob_payer] ([claim_cob_payer_id])
GO
ALTER TABLE [dbo].[claim_cob_adjustment] CHECK CONSTRAINT [FK_claim_cob_adjustment_claim_cob_payer]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'claim_cob_adjustment_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to claim_cob_payer table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'claim_cob_payer_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The adjudication item; FK to adjudication_object table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'adjudication_object_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK. The Claim Adjustment Group Code golden_key.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'claim_adjustment_group_code_gk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Claim Adjustment Reason Code (not a FK).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'claim_adjustment_reason_code_nk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The adjustment amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_cob_adjustment', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
