USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_details_override_reason]    Script Date: 4/2/2026 1:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_details_override_reason](
	[adjudication_details_override_reason_id] [int] IDENTITY(1,1) NOT NULL,
	[adjudication_details_override_reason_ud] [nvarchar](50) NULL,
	[gsu] [nchar](1) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[table_row_id] [int] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_adjudication_details_override_reason] PRIMARY KEY CLUSTERED 
(
	[adjudication_details_override_reason_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_details_override_reason] ADD  CONSTRAINT [DF_adjudication_details_override_reason_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[adjudication_details_override_reason] ADD  CONSTRAINT [DF_adjudication_details_override_reason_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_details_override_reason] ADD  CONSTRAINT [DF_adjudication_details_override_reason_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_details_override_reason] ADD  CONSTRAINT [DF_adjudication_details_override_reason_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[adjudication_details_override_reason] ADD  CONSTRAINT [DF_adjudication_details_override_reason_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'adjudication_details_override_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ud.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'adjudication_details_override_reason_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the factor type is Plexis, Suggestion, or User data; g = Plexis, s = Suggestion, u = User' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'gsu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to data tracking system outside this database.  Do not touch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason', @level2type=N'COLUMN',@level2name=N'table_row_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Populates the Override Reason dropdown on the Adjudication Details grid.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_details_override_reason'
GO
