USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_transaction_ap_accounting_transaction_status_history]    Script Date: 7/9/2026 4:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history](
	[accounting_transaction_ap_accounting_transaction_status_history_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_transaction_ap_id] [int] NOT NULL,
	[accounting_transaction_status_id] [int] NOT NULL,
	[status_change_reason_id] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_transaction_ap_accounting_transaction_status_history] PRIMARY KEY CLUSTERED 
(
	[accounting_transaction_ap_accounting_transaction_status_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] ADD  CONSTRAINT [DF_accounting_transaction_ap_accounting_transaction_status_history_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] ADD  CONSTRAINT [DF_accounting_transaction_ap_accounting_transaction_status_history_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] ADD  CONSTRAINT [DF_accounting_transaction_ap_accounting_transaction_status_history_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] ADD  CONSTRAINT [DF_accounting_transaction_ap_accounting_transaction_status_history_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] ADD  CONSTRAINT [DF_accounting_transaction_ap_accounting_transaction_status_history_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_accounting_transaction_ap] FOREIGN KEY([accounting_transaction_ap_id])
REFERENCES [dbo].[accounting_transaction_ap] ([accounting_transaction_ap_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_accounting_transaction_ap]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_accounting_transaction_status] FOREIGN KEY([accounting_transaction_status_id])
REFERENCES [dbo].[accounting_transaction_status] ([accounting_transaction_status_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_accounting_transaction_status]
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history]  WITH CHECK ADD  CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_status_change_reason] FOREIGN KEY([status_change_reason_id])
REFERENCES [dbo].[status_change_reason] ([status_change_reason_id])
GO
ALTER TABLE [dbo].[accounting_transaction_ap_accounting_transaction_status_history] CHECK CONSTRAINT [FK_accounting_transaction_ap_accounting_transaction_status_history_status_change_reason]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ACCOUNTING_TRANSACTION_AP_ACCOUNTING_TRANSACTION_STATUS_HISTORY .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_accounting_transaction_status_history_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_transaction_ap' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'accounting_transaction_ap_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to accounting_transaction_status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'accounting_transaction_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The reason for the status change' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'status_change_reason_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if a row is active. Used for archiving' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of user that created the row' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the Group user was member of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_transaction_ap_accounting_transaction_status_history', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
