USE [qc_core]
GO
/****** Object:  Table [dbo].[bind_claim_processing]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bind_claim_processing](
	[bind_claim_processing_id] [int] IDENTITY(1,1) NOT NULL,
	[bind_claim_processing_batch_id] [int] NOT NULL,
	[claim_id] [int] NULL,
	[claim_ud] [nvarchar](50) NULL,
	[new_claim_id] [int] NULL,
	[new_claim_ud] [nvarchar](50) NULL,
	[to_duplicate] [bit] NULL,
	[duplicate_time] [datetime] NULL,
	[to_negate] [bit] NULL,
	[netgate_time] [datetime] NULL,
	[to_clear] [bit] NULL,
	[clear_time] [datetime] NULL,
	[to_adjudicate] [bit] NULL,
	[adjudicate_time] [datetime] NULL,
	[to_adjust] [bit] NULL,
	[adjustment_time] [datetime] NULL,
	[correct_override] [bit] NULL,
	[override_time] [datetime] NULL,
	[created_user] [nvarchar](50) NULL,
	[created_date] [datetime] NULL,
	[modified_user] [nvarchar](50) NULL,
	[modified_date] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [to_duplicate]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [to_negate]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [to_clear]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [to_adjudicate]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [to_adjust]
GO
ALTER TABLE [dbo].[bind_claim_processing] ADD  DEFAULT ((0)) FOR [correct_override]
GO
