USE [qc_core]
GO
/****** Object:  Table [dbo].[accounting_payment_status]    Script Date: 7/9/2026 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounting_payment_status](
	[accounting_payment_status_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[accounting_payment_status_ud] [nvarchar](50) NOT NULL,
	[sort_order] [int] NOT NULL,
	[golden_key] [nvarchar](50) NULL,
	[gsu] [char](1) NULL,
	[active] [bit] NOT NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[modified_date] [datetime] NULL,
	[table_row_id] [int] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_accounting_payment_status] PRIMARY KEY CLUSTERED 
(
	[accounting_payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounting_payment_status] ADD  CONSTRAINT [DF_accounting_payment_status_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[accounting_payment_status] ADD  CONSTRAINT [DF_accounting_payment_status_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[accounting_payment_status] ADD  CONSTRAINT [DF_accounting_payment_status_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[accounting_payment_status] ADD  CONSTRAINT [DF_accounting_payment_status_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[accounting_payment_status] ADD  CONSTRAINT [DF_accounting_payment_status_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'accounting_payment_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'accounting_payment_status_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gives the order the list should be displayed in.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'sort_order'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'golden key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'golden_key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the factor type is Plexis, Suggestion, or User data; g = Plexis, s = Suggestion, u = User' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'gsu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Determines if a row is active. Used for archiving' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of user that created the row' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the Group user was member of' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to data tracking system outside this database.  Do not touch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounting_payment_status', @level2type=N'COLUMN',@level2name=N'table_row_id'
GO
