USE [qc_core]
GO
/****** Object:  Table [dbo].[adjudication_payment_item_claim_adjustment]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjudication_payment_item_claim_adjustment](
	[adjudication_payment_item_claim_adjustment_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_procedure_id] [int] NOT NULL,
	[plan_iteration_index] [int] NOT NULL,
	[adjudication_object_id] [int] NOT NULL,
	[claim_adjustment_group_code_gk] [nvarchar](50) NOT NULL,
	[claim_adjustment_reason_code_nk] [nvarchar](15) NOT NULL,
	[remittance_advice_remark_code_nk] [nvarchar](15) NULL,
	[created_user_name] [nvarchar](128) NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_adjudication_payment_item_claim_adjustment] PRIMARY KEY CLUSTERED 
(
	[adjudication_payment_item_claim_adjustment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] ADD  CONSTRAINT [DF_adjudication_payment_item_claim_adjustment_plan_iteration_index]  DEFAULT ((1)) FOR [plan_iteration_index]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] ADD  CONSTRAINT [DF_adjudication_payment_item_claim_adjustment_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] ADD  CONSTRAINT [DF_adjudication_payment_item_claim_adjustment_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_adjudication_object] FOREIGN KEY([adjudication_object_id])
REFERENCES [dbo].[adjudication_object] ([adjudication_object_id])
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] CHECK CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_adjudication_object]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_adjustment_group_code] FOREIGN KEY([claim_adjustment_group_code_gk])
REFERENCES [dbo].[claim_adjustment_group_code] ([golden_key])
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] CHECK CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_adjustment_group_code]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_adjustment_reason_code] FOREIGN KEY([claim_adjustment_reason_code_nk])
REFERENCES [dbo].[claim_adjustment_reason_code] ([claim_adjustment_reason_code_nk])
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] CHECK CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_adjustment_reason_code]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_procedure] FOREIGN KEY([claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] CHECK CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_claim_procedure]
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment]  WITH NOCHECK ADD  CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_remittance_advice_remark_code] FOREIGN KEY([remittance_advice_remark_code_nk])
REFERENCES [dbo].[remittance_advice_remark_code] ([remittance_advice_remark_code_nk])
GO
ALTER TABLE [dbo].[adjudication_payment_item_claim_adjustment] CHECK CONSTRAINT [FK_adjudication_payment_item_claim_adjustment_remittance_advice_remark_code]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the claim adjustment payment item map table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'adjudication_payment_item_claim_adjustment_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the associated claim procedure record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The plan iteration index, used in base-supp processing, defaulted to 1.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'plan_iteration_index'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the associated payment item record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'adjudication_object_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Golden Key of the associated claim adjustment group code record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'claim_adjustment_group_code_gk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Natural Key of the associated claim adjustment reason code record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'claim_adjustment_reason_code_nk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Natural Key of the associated remittance advice remark code record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'remittance_advice_remark_code_nk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date record was created.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'adjudication_payment_item_claim_adjustment', @level2type=N'COLUMN',@level2name=N'created_date'
GO
