USE [qc_core]
GO
/****** Object:  Table [dbo].[additional_information_data]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[additional_information_data](
	[additional_information_data_id] [int] IDENTITY(1,1) NOT NULL,
	[additional_information_id] [int] NULL,
	[additional_information_selection_value] [nvarchar](300) NULL,
	[additional_information_value] [nvarchar](300) NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[comment] [nvarchar](500) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_additional_information_data] PRIMARY KEY CLUSTERED 
(
	[additional_information_data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[additional_information_data] ADD  CONSTRAINT [DF_additional_information_data_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[additional_information_data] ADD  CONSTRAINT [DF_additional_information_data_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[additional_information_data] ADD  CONSTRAINT [DF_additional_information_data_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[additional_information_data] ADD  CONSTRAINT [DF_additional_information_data_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[additional_information_data] ADD  CONSTRAINT [DF_additional_information_data_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[additional_information_data]  WITH CHECK ADD  CONSTRAINT [FK_additional_information_data_additional_information] FOREIGN KEY([additional_information_id])
REFERENCES [dbo].[additional_information] ([additional_information_id])
GO
ALTER TABLE [dbo].[additional_information_data] CHECK CONSTRAINT [FK_additional_information_data_additional_information]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table ADDITIONAL_INFORMATION_DATA .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'additional_information_data_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to form/topic' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'additional_information_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'additional_information_selection_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'additional_information_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Data on additional information grid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has defalut of getdate())' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information_data', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
