USE [qc_core]
GO
/****** Object:  Table [dbo].[benefit_coverage_rules]    Script Date: 7/10/2026 2:00:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit_coverage_rules](
	[benefit_coverage_rules_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[benefit_id] [int] NULL,
	[benefit_framework_choice_list_id] [int] NULL,
	[benefit_coverage_rules_value_type_id] [int] NULL,
	[single_value] [nvarchar](100) NULL,
	[tiered_coinsurance_id] [int] NULL,
	[yes_no_id] [int] NULL,
	[effective_from] [datetime] NULL,
	[effective_thru] [datetime] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_benefit_coverage_rules] PRIMARY KEY CLUSTERED 
(
	[benefit_coverage_rules_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[benefit_coverage_rules] ADD  CONSTRAINT [DF_benefit_coverage_rules_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[benefit_coverage_rules] ADD  CONSTRAINT [DF_benefit_coverage_rules_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[benefit_coverage_rules] ADD  CONSTRAINT [DF_benefit_coverage_rules_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[benefit_coverage_rules] ADD  CONSTRAINT [DF_benefit_coverage_rules_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[benefit_coverage_rules] ADD  CONSTRAINT [DF_benefit_coverage_rules_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[benefit_coverage_rules]  WITH CHECK ADD  CONSTRAINT [FK_benefit_coverage_rules_benefit] FOREIGN KEY([benefit_id])
REFERENCES [dbo].[benefit] ([benefit_id])
GO
ALTER TABLE [dbo].[benefit_coverage_rules] CHECK CONSTRAINT [FK_benefit_coverage_rules_benefit]
GO
ALTER TABLE [dbo].[benefit_coverage_rules]  WITH CHECK ADD  CONSTRAINT [FK_benefit_coverage_rules_benefit_coverage_rules_value_type] FOREIGN KEY([benefit_coverage_rules_value_type_id])
REFERENCES [dbo].[benefit_coverage_rules_value_type] ([benefit_coverage_rules_value_type_id])
GO
ALTER TABLE [dbo].[benefit_coverage_rules] CHECK CONSTRAINT [FK_benefit_coverage_rules_benefit_coverage_rules_value_type]
GO
ALTER TABLE [dbo].[benefit_coverage_rules]  WITH CHECK ADD  CONSTRAINT [FK_benefit_coverage_rules_benefit_framework_choice_list] FOREIGN KEY([benefit_framework_choice_list_id])
REFERENCES [dbo].[benefit_framework_choice_list] ([benefit_framework_choice_list_id])
GO
ALTER TABLE [dbo].[benefit_coverage_rules] CHECK CONSTRAINT [FK_benefit_coverage_rules_benefit_framework_choice_list]
GO
ALTER TABLE [dbo].[benefit_coverage_rules]  WITH CHECK ADD  CONSTRAINT [FK_benefit_coverage_rules_tiered_coinsurance] FOREIGN KEY([tiered_coinsurance_id])
REFERENCES [dbo].[tiered_coinsurance] ([tiered_coinsurance_id])
GO
ALTER TABLE [dbo].[benefit_coverage_rules] CHECK CONSTRAINT [FK_benefit_coverage_rules_tiered_coinsurance]
GO
ALTER TABLE [dbo].[benefit_coverage_rules]  WITH CHECK ADD  CONSTRAINT [FK_benefit_coverage_rules_yes_no] FOREIGN KEY([yes_no_id])
REFERENCES [dbo].[yes_no] ([yes_no_id])
GO
ALTER TABLE [dbo].[benefit_coverage_rules] CHECK CONSTRAINT [FK_benefit_coverage_rules_yes_no]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table BENEFIT_COVERAGE_RULES .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'benefit_coverage_rules_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'benefit_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to BENEFIT_FRAMEWORK_CHOICE_LIST table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'benefit_framework_choice_list_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The value type for the benefit coverage rules.  Examples are single values, choice lists, tiered coinsurance, etc.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'benefit_coverage_rules_value_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'single value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'single_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The tiered coinsurance associated with the benefit coverate rules.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'tiered_coinsurance_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to YES_NO table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'yes_no_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date effective from' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date the record is no longer effective.  A null value indicates the record is still active.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Benefit coverage rules for a benefit.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'benefit_coverage_rules'
GO
