USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_vendor]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_vendor](
	[family_eligibility_vendor_id] [int] IDENTITY(1,1) NOT NULL,
	[family_eligibility_id] [int] NOT NULL,
	[vendor_id] [int] NOT NULL,
	[criteria_id] [int] NULL,
	[effective_from] [datetime] NOT NULL,
	[effective_thru] [datetime] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_vendor] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_vendor] ADD  CONSTRAINT [DF_family_eligibility_vendor_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_vendor] ADD  CONSTRAINT [DF_family_eligibility_vendor_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_vendor] ADD  CONSTRAINT [DF_family_eligibility_vendor_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_vendor] ADD  CONSTRAINT [DF_family_eligibility_vendor_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_vendor] ADD  CONSTRAINT [DF_family_eligibility_vendor_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_vendor]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_vendor_criteria] FOREIGN KEY([criteria_id])
REFERENCES [dbo].[criteria] ([criteria_id])
GO
ALTER TABLE [dbo].[family_eligibility_vendor] CHECK CONSTRAINT [FK_family_eligibility_vendor_criteria]
GO
ALTER TABLE [dbo].[family_eligibility_vendor]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_vendor_family_eligibility] FOREIGN KEY([family_eligibility_id])
REFERENCES [dbo].[family_eligibility] ([family_eligibility_id])
GO
ALTER TABLE [dbo].[family_eligibility_vendor] CHECK CONSTRAINT [FK_family_eligibility_vendor_family_eligibility]
GO
ALTER TABLE [dbo].[family_eligibility_vendor]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_vendor_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor] ([vendor_id])
GO
ALTER TABLE [dbo].[family_eligibility_vendor] CHECK CONSTRAINT [FK_family_eligibility_vendor_vendor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key to the family eligibility vendor table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'family_eligibility_vendor_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The family eligibility associated with a family eligibility vendor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'family_eligibility_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The vendor associated with a family eligibility vendor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'vendor_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The criteria associated with a family eligibility vendor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'criteria_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The effective from date of the family eligibility vendor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The effective through date of the family eligibility vendor.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'effective_thru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_vendor', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
