USE [qc_core]
GO
/****** Object:  Table [dbo].[family_eligibility_member]    Script Date: 7/10/2026 2:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[family_eligibility_member](
	[family_eligibility_member_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[family_eligibility_id] [int] NULL,
	[member_id] [int] NULL,
	[relationship_to_insured_id] [int] NULL,
	[person_code] [nchar](2) NULL,
	[member_disclosure_restriction_id] [int] NULL,
	[use_subsciber_address] [bit] NULL,
	[treat_as_spouse] [bit] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
 CONSTRAINT [PK_family_eligibility_member] PRIMARY KEY CLUSTERED 
(
	[family_eligibility_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_use_subsciber_address]  DEFAULT ((1)) FOR [use_subsciber_address]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_treat_as_spouse]  DEFAULT ((0)) FOR [treat_as_spouse]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[family_eligibility_member] ADD  CONSTRAINT [DF_family_eligibility_member_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[family_eligibility_member]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_family_eligibility] FOREIGN KEY([family_eligibility_id])
REFERENCES [dbo].[family_eligibility] ([family_eligibility_id])
GO
ALTER TABLE [dbo].[family_eligibility_member] CHECK CONSTRAINT [FK_family_eligibility_member_family_eligibility]
GO
ALTER TABLE [dbo].[family_eligibility_member]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_member] FOREIGN KEY([member_id])
REFERENCES [dbo].[member] ([member_id])
GO
ALTER TABLE [dbo].[family_eligibility_member] CHECK CONSTRAINT [FK_family_eligibility_member_member]
GO
ALTER TABLE [dbo].[family_eligibility_member]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_member_disclosure_restriction] FOREIGN KEY([member_disclosure_restriction_id])
REFERENCES [dbo].[member_disclosure_restriction] ([member_disclosure_restriction_id])
GO
ALTER TABLE [dbo].[family_eligibility_member] CHECK CONSTRAINT [FK_family_eligibility_member_member_disclosure_restriction]
GO
ALTER TABLE [dbo].[family_eligibility_member]  WITH CHECK ADD  CONSTRAINT [FK_family_eligibility_member_relationship_to_insured] FOREIGN KEY([relationship_to_insured_id])
REFERENCES [dbo].[relationship_to_insured] ([relationship_to_insured_id])
GO
ALTER TABLE [dbo].[family_eligibility_member] CHECK CONSTRAINT [FK_family_eligibility_member_relationship_to_insured]
GO
ALTER TABLE [dbo].[family_eligibility_member]  WITH CHECK ADD  CONSTRAINT [CK_family_eligibility_member_person_code] CHECK  (([person_code] like '[0-9][0-9]'))
GO
ALTER TABLE [dbo].[family_eligibility_member] CHECK CONSTRAINT [CK_family_eligibility_member_person_code]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key for table FAMILY_ELIGIBILITY_MEMBER .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'family_eligibility_member_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to FAMILY_ELIGIBILITY table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'family_eligibility_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to MEMBER table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'member_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to RELATIONSHIP_TO_INSURED table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'relationship_to_insured_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK to MEMBER_DISCLOSURE_RESTRICTION table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'member_disclosure_restriction_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "use subsciber address"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'use_subsciber_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "treat as spouse"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'treat_as_spouse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Members associated with an enrollment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'family_eligibility_member'
GO
