USE [qc_core]
GO
/****** Object:  Table [dbo].[additional_information]    Script Date: 7/9/2026 4:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[additional_information](
	[additional_information_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[additional_information_form_id] [int] NOT NULL,
	[additional_information_topic_id] [int] NOT NULL,
	[is_additional_information_required] [bit] NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_group_id] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_additional_information] PRIMARY KEY CLUSTERED 
(
	[additional_information_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[additional_information] ADD  CONSTRAINT [DF_additional_information_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[additional_information] ADD  CONSTRAINT [DF_additional_information_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[additional_information] ADD  CONSTRAINT [DF_additional_information_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[additional_information] ADD  CONSTRAINT [DF_additional_information_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[additional_information] ADD  CONSTRAINT [DF_additional_information_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[additional_information]  WITH CHECK ADD  CONSTRAINT [FK_additional_information_additional_information_form] FOREIGN KEY([additional_information_form_id])
REFERENCES [dbo].[additional_information_form] ([additional_information_form_id])
GO
ALTER TABLE [dbo].[additional_information] CHECK CONSTRAINT [FK_additional_information_additional_information_form]
GO
ALTER TABLE [dbo].[additional_information]  WITH CHECK ADD  CONSTRAINT [FK_additional_information_additional_information_topic] FOREIGN KEY([additional_information_topic_id])
REFERENCES [dbo].[additional_information_topic] ([additional_information_topic_id])
GO
ALTER TABLE [dbo].[additional_information] CHECK CONSTRAINT [FK_additional_information_additional_information_topic]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to form' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_form_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link to topic' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'additional_information_topic_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Setting to check if additional information is required before saving the form data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'is_additional_information_required'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This column is under review and may be removed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'created_group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate())' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Base table for additional information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'additional_information'
GO
