USE [qc_core]
GO
/****** Object:  Table [dbo].[claim_procedure]    Script Date: 7/9/2026 4:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claim_procedure](
	[claim_procedure_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_id] [int] NOT NULL,
	[service_from_date] [datetime] NULL,
	[service_thru_date] [datetime] NULL,
	[place_of_service_id] [int] NULL,
	[type_of_service_id] [int] NULL,
	[procedure_code_2_id] [int] NULL,
	[procedure_code_2_ud] [nvarchar](50) NULL,
	[procedure_code_id] [int] NULL,
	[procedure_code_ud] [nvarchar](50) NULL,
	[modifiers] [nvarchar](50) NULL,
	[diagnosis_code_ud] [nvarchar](50) NULL,
	[diagnosis_sequence] [nvarchar](50) NULL,
	[charge] [numeric](19, 4) NULL,
	[units] [numeric](19, 4) NULL,
	[unit_type_dental_claim_id] [int] NULL,
	[visits] [int] NULL,
	[cob] [bit] NULL,
	[early_periodic_screen] [bit] NULL,
	[emergency] [bit] NULL,
	[repricing_amount] [numeric](19, 4) NULL,
	[cob_amount] [numeric](19, 4) NULL,
	[add_cob_amount] [bit] NULL,
	[other_cob] [numeric](19, 4) NULL,
	[add_other_cob] [bit] NULL,
	[non_covered_charge] [numeric](19, 4) NULL,
	[alternate_procedure_code_id] [int] NULL,
	[alternate_procedure_code_ud] [nvarchar](50) NULL,
	[relative_value_units] [numeric](19, 4) NULL,
	[institutional_rate] [numeric](19, 4) NULL,
	[service_preauth] [bit] NULL,
	[tooth_system_id] [int] NULL,
	[tooth_number_letter_id] [int] NULL,
	[area_of_oral_cavity_id] [int] NULL,
	[line_item_control_number] [nvarchar](100) NULL,
	[ndc] [nvarchar](50) NULL,
	[ndc_procedure_code_id] [int] NULL,
	[ndc_unit_of_measure_id] [int] NULL,
	[ndc_quantity] [decimal](19, 4) NULL,
	[comment] [nvarchar](300) NULL,
	[unlisted_procedure_code_description] [nvarchar](80) NULL,
	[local_use] [nvarchar](300) NULL,
	[claim_line_sequence] [numeric](19, 4) NULL,
	[adjudication_generated_context_id] [int] NULL,
	[is_system_generated] [bit] NULL,
	[is_negated] [bit] NULL,
	[negated_claim_procedure_id] [int] NULL,
	[npi_provider_identifier_id] [int] NULL,
	[adjudication_status_id] [int] NULL,
	[claim_payment_process_status_id] [int] NULL,
	[claim_payment_run_id] [int] NULL,
	[hold] [bit] NOT NULL,
	[npi_rendering_provider_identifier_ud] [nvarchar](128) NULL,
	[rendering_provider_taxonomy_code] [nvarchar](50) NULL,
	[other_rendering_provider_identifier_ud] [nvarchar](128) NULL,
	[other_rendering_provider_identifier_type_ud] [nvarchar](128) NULL,
	[clean_date] [datetime] NULL,
	[received_date] [datetime] NULL,
	[original_line_amount] [numeric](19, 4) NULL,
	[original_source_gk] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[created_user_name] [nvarchar](128) NULL,
	[created_user_group] [int] NULL,
	[created_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[modified_user_name] [nvarchar](128) NULL,
	[object_row_version] [timestamp] NOT NULL,
 CONSTRAINT [PK_claim_procedure] PRIMARY KEY CLUSTERED 
(
	[claim_procedure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_is_negated1]  DEFAULT ((0)) FOR [is_system_generated]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_is_negated]  DEFAULT ((0)) FOR [is_negated]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_hold]  DEFAULT ((0)) FOR [hold]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_created_user_name]  DEFAULT (original_login()) FOR [created_user_name]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
ALTER TABLE [dbo].[claim_procedure] ADD  CONSTRAINT [DF_claim_procedure_modified_user_name]  DEFAULT (original_login()) FOR [modified_user_name]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_adjudication_generated_context] FOREIGN KEY([adjudication_generated_context_id])
REFERENCES [dbo].[adjudication_generated_context] ([adjudication_generated_context_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_adjudication_generated_context]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_adjudication_status] FOREIGN KEY([adjudication_status_id])
REFERENCES [dbo].[adjudication_status] ([adjudication_status_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_adjudication_status]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_alternate_procedure_code] FOREIGN KEY([alternate_procedure_code_id])
REFERENCES [dbo].[procedure_code] ([procedure_code_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_alternate_procedure_code]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_area_of_oral_cavity] FOREIGN KEY([area_of_oral_cavity_id])
REFERENCES [dbo].[area_of_oral_cavity] ([area_of_oral_cavity_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_area_of_oral_cavity]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_claim] FOREIGN KEY([claim_id])
REFERENCES [dbo].[claim] ([claim_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_claim]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_claim_payment_process_status] FOREIGN KEY([claim_payment_process_status_id])
REFERENCES [dbo].[claim_payment_process_status] ([claim_payment_process_status_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_claim_payment_process_status]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_claim_payment_run] FOREIGN KEY([claim_payment_run_id])
REFERENCES [dbo].[claim_payment_run] ([claim_payment_run_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_claim_payment_run]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_claim_procedure_negated] FOREIGN KEY([negated_claim_procedure_id])
REFERENCES [dbo].[claim_procedure] ([claim_procedure_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_claim_procedure_negated]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_ndc_procedure_code] FOREIGN KEY([ndc_procedure_code_id])
REFERENCES [dbo].[procedure_code] ([procedure_code_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_ndc_procedure_code]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_ndc_unit_of_measure] FOREIGN KEY([ndc_unit_of_measure_id])
REFERENCES [dbo].[unit_of_measure] ([unit_of_measure_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_ndc_unit_of_measure]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_original_source] FOREIGN KEY([original_source_gk])
REFERENCES [dbo].[original_source] ([golden_key])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_original_source]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_place_of_service] FOREIGN KEY([place_of_service_id])
REFERENCES [dbo].[place_of_service] ([place_of_service_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_place_of_service]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_procedure_code] FOREIGN KEY([procedure_code_id])
REFERENCES [dbo].[procedure_code] ([procedure_code_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_procedure_code]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_procedure_code_2] FOREIGN KEY([procedure_code_2_id])
REFERENCES [dbo].[procedure_code] ([procedure_code_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_procedure_code_2]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_provider_identifier] FOREIGN KEY([npi_provider_identifier_id])
REFERENCES [dbo].[provider_identifier] ([provider_identifier_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_provider_identifier]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_tooth_number_letter] FOREIGN KEY([tooth_number_letter_id])
REFERENCES [dbo].[tooth_number_letter] ([tooth_number_letter_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_tooth_number_letter]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_tooth_system] FOREIGN KEY([tooth_system_id])
REFERENCES [dbo].[tooth_system] ([tooth_system_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_tooth_system]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_type_of_service] FOREIGN KEY([type_of_service_id])
REFERENCES [dbo].[type_of_service] ([type_of_service_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_type_of_service]
GO
ALTER TABLE [dbo].[claim_procedure]  WITH CHECK ADD  CONSTRAINT [FK_claim_procedure_unit_type_dental_claim] FOREIGN KEY([unit_type_dental_claim_id])
REFERENCES [dbo].[unit_type_dental_claim] ([unit_type_dental_claim_id])
GO
ALTER TABLE [dbo].[claim_procedure] CHECK CONSTRAINT [FK_claim_procedure_unit_type_dental_claim]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The primary key for the claim procedure table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim associated with a claim procedure line.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The from date of service (DOS) associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'service_from_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The through date of service (DOS) associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'service_thru_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The place of service (POS) associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'place_of_service_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The type of service (TOS) associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'type_of_service_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Institional Claim: this represents Procedure which is generally a CPT or Anesthesia code used to avoid duplicate code entries' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'procedure_code_2_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Institional Claim: this represents Procedure which is generally a CPT or Anesthesia code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'procedure_code_2_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The procedure code associated with a claim procedure used to avoid duplicate code entries' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'procedure_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The procedure code associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'procedure_code_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The modifier associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'modifiers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The diagnosis code associated with a claim procedure.  Not used in Institutional.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'diagnosis_code_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The diagnosis code sequence number(s) associated with a claim procedure.  This is a pointer to one or more diagnosis codes associated with a professional or institutional claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'diagnosis_sequence'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The charge associated with a claim procedure.  Same as fee in Dental Claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'charge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The units associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'units'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The unit type dental claim associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'unit_type_dental_claim_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The visits associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'visits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When this flag is set it indicates that cob applies to a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'cob'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Professional Claim only' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'early_periodic_screen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Professional Claim only' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'emergency'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Same as net pay' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'repricing_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The cob amount associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'cob_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The add cob amount.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'add_cob_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The other cob amount associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'other_cob'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bit to determine true or false if "add other cob"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'add_other_cob'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The non covered charge associated with a claim procedure.  Institutional Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'non_covered_charge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The alternate procedure code id associated with a claim procedure.  Dental Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'alternate_procedure_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The alternate procedure code associated with a claim procedure.  Dental Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'alternate_procedure_code_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The relative value units (RVUs) associated with a claim procedure.  Professional Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'relative_value_units'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The institutional rate associated with a claim procedure.  Institutional Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'institutional_rate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pre Determination bit field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'service_preauth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The tooth system associated with a claim procedure.  Dental Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'tooth_system_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The tooth number letter associated with a claim procedure.  Dental Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'tooth_number_letter_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The area of oral cavity associated with a claim procedure.  Dental Claim only.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'area_of_oral_cavity_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Claim line identification from the provider or submitters accounting system - or generated by QC for repricing lines' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'line_item_control_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Procedure Code UD representing the national drug code associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'ndc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The national drug code associated with a claim procedure. Foreign key to Procedure Code table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'ndc_procedure_code_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type of measure of quantity for NDC code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'ndc_unit_of_measure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity for NDC code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'ndc_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The comment associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The drug description for non-specific procedure codes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'unlisted_procedure_code_description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The local use field (box 10d) on a professional claim.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'local_use'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim line sequence number associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_line_sequence'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'true if system creates drg line for institutional claim --if it found pps code on claim otherwise false' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'is_system_generated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'is_negated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'is_negated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The negated claim procedure associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'negated_claim_procedure_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The nationial provider identifier associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'npi_provider_identifier_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The adjudication status associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'adjudication_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim payment process status associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_payment_process_status_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim payment run associated with a claim procedure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'claim_payment_run_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The claim line is on hold from processing.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'hold'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rendering Provider NPI Identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'npi_rendering_provider_identifier_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rendering Provider Other Identifier' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'other_rendering_provider_identifier_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rendering Provider Other Identifier Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'other_rendering_provider_identifier_type_ud'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date claim procedure is considered clean.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'clean_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date claim procedure was received.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'received_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'May not be implemented for this table but this determines if a row is active. Used to keep a record from being viewed.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the user who created this record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'created_user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'created user group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'created_user_group'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date created (has default of getdate()).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'created_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last modified date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure', @level2type=N'COLUMN',@level2name=N'modified_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores common claim procedure information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'claim_procedure'
GO
