USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_vendor_identifier_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:	Vishwa Jella
Date:	06/23/2010
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------
06/23/2010	Vishwa Jella		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down vendor_identifier_type (Vendor ID Type)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_vendor_identifier_type_load]

AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
vit.vendor_identifier_type_id
,vit.vendor_identifier_type_ud
FROM dbo.vendor_identifier_type vit
ORDER BY vit.vendor_identifier_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
