USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_history_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyHa 1.0			Created
12/11/2012  eponomareff         removed salary and hours columns, moved to compensation grid;
added employment_status_code
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Employment History"
in Family Eligibility form.

NOTE - Salary and Hourly information has been moved from the "Employment History" grid,
(table: family_eligibility_employment_history) to the "Compensation" grid
(table: family_eligibility_employment_compensation).

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_employment_history_load]

(
@family_eligibility_employment_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
feeh.family_eligibility_employment_history_id
,feeh.family_eligibility_employment_id
,feeh.employee_class_id
,feeh.employee_division_id
,feeh.employee_subdivision_id
,feeh.employment_status_code_id
,esc.employment_status_code_ud
,feeh.occupation_code_id
,oc.occupation_code_ud
,feeh.effective_from
,feeh.effective_thru
,feeh.modified_date

FROM family_eligibility_employment_history feeh
LEFT JOIN  employment_status_code esc on feeh.employment_status_code_id = esc.employment_status_code_id
LEFT JOIN occupation_code oc ON feeh.occupation_code_id = oc.occupation_code_id
WHERE
feeh.family_eligibility_employment_id = @family_eligibility_employment_id
ORDER BY
CASE WHEN feeh.effective_from IS NULL THEN 0 ELSE 1 END
, feeh.effective_from DESC
, CASE WHEN feeh.effective_thru IS NULL THEN 0 ELSE 1 END
, feeh.effective_thru DESC
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
