USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_professional_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thang Nguyen
DATE: 01/09/2005
--
REVISION_HISTORY:
--
Date  Modified By  Version  Description
--------------------------------------------------------------------------------
01/09/2005  Thang Nguyen 1.0         Created
11/07/2005  Thang Nguyen 1.9         Delete load user name, created date
12/05/2005  Anh Ta   2.0         Change claim_line_status to adjudication_status
05/24/2006 LamNguyen  2.0   Change Net ,Result code
06/16/2006  Anh Ta   3.0         Change Golden DaTa of Adjudication_object
11/13/2006  Anh Ta   4.0         Fix Offline Defect #7205
12/05/2006  Anh Ta   5.0   Apply Sort Order Follow Effective Date
19/1/2007 HuyThan   5.1   Removed claim_procedure_comment
03/26/2008 lrenard   5.2   Added adjudication_status.golden_key as adjudication_status_golden_key for delete comparisons to golden key values
03/10/2009 Vishwa Jella 2.0   removed procedure_code_id fields to avoid duplicate rows when same code with different version exists
03/23/2009 David Slayton 5.4   Add ndc, comment, and npi_provider_identifier_id columns.
07/29/2009 Vishwa   6.0   updated with _id fields for procedure codes
03/23/2011 ggutshall  6.1   updated to retrieve procedure_code_id, cleaned up code
05/04/2011 ggutshal  6.2   updated to lookup proper procedure code id
04/20/2015	dcannon	 6.3	added order by clause to place system generated line at top
10/27/2017	eponomareff			RT:11929 - Non-functional change; Added comments ONLY.
07/16/2018	dcannon	6.5		RT:13109 add NDC unit of measure and quantity
07/26/2018  amortensen 6.6  RT:13109/13110 - Adding NDC Validation Rules
09/11/2022	dcannon		6.7	RT:20902 Added QPA fields
01/25/2024	cknobloch		6.8		RT:23783 - Added Hold Functionality
--
CURRENT_VERSION: 6.8
--
DESCRIPTION:
This procedure is used to load claim procedure data for professional claim form

RT:11929 -	This stored procedure is also used to populate the read-only partial service grid on the COB Entry form.
ensuring that the sorted order of claim lines is the same as what appears on the claim.

--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE  PROCEDURE  [dbo].[plx_claim_procedure_professional_load]
(
@professional_claim_id INT = NULL
)

AS

DECLARE @SP_SUCCESS INT
SELECT @SP_SUCCESS = 0

DECLARE @claim_id INT

SET @claim_id =
(
SELECT
TOP 1 professional_claim.claim_id
FROM
professional_claim
WHERE
professional_claim.professional_claim_id = @professional_claim_id
)

SELECT
claim_procedure.claim_procedure_id,
@professional_claim_id AS professional_claim_id,
claim_procedure.cob,
claim_procedure.emergency,
claim_procedure.early_periodic_screen,
dbo.plx_fn_get_line_procedure_id(claim_procedure.claim_procedure_id) as procedure_code_id,
claim_procedure.procedure_code_ud,
claim_procedure.diagnosis_sequence,
claim_procedure.place_of_service_id,
place_of_service.place_of_service_ud,
claim_procedure.npi_provider_identifier_id,
provider_identifier.provider_ud AS npi_provider_ud,
claim_procedure.adjudication_status_id,
adjudication_status.adjudication_status_ud,
adjudication_status.golden_key AS adjudication_status_golden_key,
claim_payment_process_status.claim_payment_process_status_ud,
claim_payment_process_status.golden_key AS claim_payment_process_status_golden_key,
claim_procedure.hold,
claim_procedure.type_of_service_id,
type_of_service.type_of_service_ud,
claim_procedure.service_from_date,
claim_procedure.service_thru_date,
claim_procedure.repricing_amount,
claim_procedure.charge,
dbo.plx_fn_get_cob_amount_for_claim_procedure(claim_procedure.claim_procedure_id) AS 'cob_amount',
null AS cob_entry_button,
claim_procedure.ndc_procedure_code_id,
claim_procedure.ndc AS ndc_procedure_code_ud,
claim_procedure.ndc_quantity,
claim_procedure.ndc_unit_of_measure_id,
uom.unit_of_measure_ud,
null AS ambulance_information_button,
claim_procedure.comment,
claim_procedure.unlisted_procedure_code_description,
claim_procedure.local_use,
claim_procedure.modifiers,
claim_procedure.claim_line_sequence,
claim_procedure.npi_rendering_provider_identifier_ud,
claim_procedure.other_rendering_provider_identifier_ud,
claim_procedure.other_rendering_provider_identifier_type_ud,
claim_procedure.rendering_provider_taxonomy_code,
claim_procedure.is_negated,
claim_procedure.negated_claim_procedure_id,
temp_table.net_pay AS net,
claim_procedure.relative_value_units,
claim_procedure.visits,
claim_procedure.units,
claim_procedure.original_line_amount,
claim_procedure.active,
dbo.claim_procedure_result_code_combination (claim_procedure.claim_procedure_id) AS 'result_code',
'' AS cob_button,
claim_procedure.cob,
claim_procedure.cob_amount,
claim_procedure.other_cob,
claim_procedure.add_other_cob,
claim_procedure.add_cob_amount,
claim_procedure.clean_date,
claim_procedure.received_date,
claim_procedure.modified_date,
claim_procedure.[is_system_generated],
claim_procedure_qualified_payment_amount_id,
qpa.qualified_payment_amount
FROM
claim_procedure
LEFT JOIN claim
ON claim.claim_id = claim_procedure.claim_id
LEFT JOIN claim_payment_process_status
ON claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN place_of_service
ON place_of_service.place_of_service_id = claim_procedure.place_of_service_id
LEFT JOIN provider_identifier
ON claim_procedure.npi_provider_identifier_id = provider_identifier.provider_identifier_id
LEFT JOIN type_of_service
ON type_of_service.type_of_service_id = claim_procedure.type_of_service_id
LEFT JOIN adjudication_status
ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
LEFT JOIN unit_of_measure AS uom
ON uom.unit_of_measure_id = claim_procedure.ndc_unit_of_measure_id
LEFT JOIN claim_procedure_qualified_payment_amount qpa
ON claim_procedure.claim_procedure_id = qpa.claim_procedure_id
LEFT JOIN
(
SELECT
adjudication_result_amount.claim_procedure_id,
SUM(net_payment) AS net_pay
FROM
adjudication_result_amount
WHERE net_payment IS NOT NULL
GROUP BY
claim_procedure_id
) temp_table
ON temp_table.claim_procedure_id = claim_procedure.claim_procedure_id
WHERE
claim_procedure.claim_id = @claim_id
ORDER BY
claim_procedure.[is_system_generated] desc,
claim_procedure.claim_line_sequence,
CASE
WHEN claim_procedure.service_from_date IS NULL THEN 0
ELSE 1
END,
claim_procedure.service_from_date DESC,
CASE
WHEN claim_procedure.service_thru_date IS NULL THEN 0
ELSE 1
END,
claim_procedure.service_thru_date DESC
--
declare @err int

set @err = @@ERROR

print @err

RETURN @SP_SUCCESS
GO
