USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_tiered_maximum_payment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/12/2015	Aaron Mortensen	1.0		Created from [plx_find_tiered_coinsurance_load]

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find Tiered Maximum Payment that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@tiered_maximum_payment_ud
@description
@tier_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_tiered_maximum_payment_load]
(
@get_column_headers			BIT = 0
, @tiered_maximum_payment_ud				NVARCHAR(50) = NULL
, @tiered_maximum_payment_description					NVARCHAR(255) = NULL
, @tier_id						INT = NULL
, @show_exact_matches			BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @tiered_maximum_payment_ud IS NOT NULL AND @tiered_maximum_payment_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(tmp.tiered_maximum_payment_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tiered_maximum_payment_ud, @show_exact_matches) + @Suffix

IF @tiered_maximum_payment_description IS NOT NULL AND @tiered_maximum_payment_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(tmp.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tiered_maximum_payment_description, @show_exact_matches) + @Suffix

IF @tier_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND tier.tier_id = ' + CONVERT(NVARCHAR, @tier_id)

SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
tmp.tiered_maximum_payment_id
,tmp.tiered_maximum_payment_ud
,tmp.description
,tier.tier_ud
FROM  dbo.tiered_maximum_payment tmp
LEFT JOIN tier tier ON tmp.tier_id = tier.tier_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY tmp.tiered_maximum_payment_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY tmp.tiered_maximum_payment_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
