USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_distribution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen

REVISION_HISTORY:
--
Date        Modified By   Version  Description
--------------------------------------------------------------------------------
03/17/2009  wchristensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete distributions on Accounting Transaction AR form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_transaction_ar_distribution_delete]
(
@accounting_transaction_distribution_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0
--
DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_distribution_id = @accounting_transaction_distribution_id
--
RETURN @SP_SUCCESS
--
GO
