USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_collaborator_system_column_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton

REVISION_HISTORY:
--
Date  Modified By  Version  Description
--------------------------------------------------------------------------------
2014-08-19	eponomareff		RT:6046 Tombstone modifications


DESCRIPTION:
Called to insert or update system column rows.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_gdct_collaborator_system_column_save]
(
@table_column_def_id INT,
@system_table_id INT,
@design_name NVARCHAR(255),
@column_name NVARCHAR(255),
@linked_system_table_id INT = NULL,
@linked_system_column_id INT = NULL,
@column_order INT,
@visible BIT,
@sort BIT,
@sort_descending BIT,
@show_in_editor BIT,
@column_width INT,
@created_user_name NVARCHAR(255)
)
AS
BEGIN
IF EXISTS (SELECT * FROM system_column WHERE table_column_def_id = @table_column_def_id)
BEGIN
UPDATE system_column
SET
system_table_id = @system_table_id,
design_name = dbo.plx_EncodeStringWildCard(@design_name, 1),
column_name = dbo.plx_EncodeStringWildCard(@column_name, 1),
linked_system_table_id = @linked_system_table_id,
linked_system_column_id = @linked_system_column_id,
column_order = @column_order,
visible = @visible,
sort = @sort,
sort_descending = @sort_descending,
show_in_editor = @show_in_editor,
column_width = @column_width,
modified_user_name 	=	ORIGINAL_LOGIN(),
modified_date 	= 	GETDATE()
WHERE table_column_def_id = @table_column_def_id
END
ELSE
BEGIN
INSERT INTO system_column (
system_table_id,
design_name,
column_name,
linked_system_table_id,
linked_system_column_id,
column_order,
visible,
sort,
sort_descending,
show_in_editor,
column_width,
table_column_def_id)
SELECT
@system_table_id,
dbo.plx_EncodeStringWildCard(@design_name, 1),
dbo.plx_EncodeStringWildCard(@column_name, 1),
@linked_system_table_id,
@linked_system_column_id,
@column_order,
@visible,
@sort,
@sort_descending,
@show_in_editor,
@column_width,
@table_column_def_id
END
END
GO
