USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_benefit_contract_period_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete period node
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_benefit_contract_period_delete]
(
@family_eligibility_benefit_contract_period_id int = null
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM family_eligibility_benefit_contract_period WHERE family_eligibility_benefit_contract_period_id = @family_eligibility_benefit_contract_period_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM family_eligibility_benefit_contract_period
WHERE family_eligibility_benefit_contract_period_id = @family_eligibility_benefit_contract_period_id
END
--
RETURN @SP_SUCCESS
--
GO
