USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Capitation Member Roster form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_member_roster_save]
(
@capitation_member_roster_id	int = NULL   OUTPUT
,@capitation_member_roster_ud	nvarchar(50) = NULL
,@description			nvarchar(255) = NULL
,@capitation_member_selection_id	int = NUll
,@active				bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

DECLARE @capitation_membership_basis_id INT
SELECT @capitation_membership_basis_id = capitation_membership_basis_id FROM capitation_membership_basis WHERE golden_key = 'PCP_ASSIGNMENT'

IF @capitation_member_roster_id is Null or @capitation_member_roster_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_member_roster(
capitation_member_roster_ud
,description
,capitation_member_selection_id
,capitation_membership_basis_id
,active
)
VALUES
(@capitation_member_roster_ud
,@description
,@capitation_member_selection_id
,@capitation_membership_basis_id
,@active
)
--
SET @capitation_member_roster_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM capitation_member_roster WHERE capitation_member_roster_id = @capitation_member_roster_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE capitation_member_roster
SET
capitation_member_roster_ud		= @capitation_member_roster_ud
,description				= @description
,capitation_member_selection_id		= @capitation_member_selection_id
,capitation_membership_basis_id		= @capitation_membership_basis_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_member_roster_id = @capitation_member_roster_id

END
--
RETURN @SP_SUCCESS
--
GO
