USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_eligibility_inactive_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/11/2005				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'current_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
create      PROCEDURE [dbo].[plx_dd_family_eligibility_inactive_reason_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_inactive_reason.family_eligibility_inactive_reason_id
,family_eligibility_inactive_reason.family_eligibility_inactive_reason_ud
,family_eligibility_inactive_reason.family_eligibility_inactive_reason_nm

FROM family_eligibility_inactive_reason
ORDER BY family_eligibility_inactive_reason.family_eligibility_inactive_reason_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
