USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_agent_limit_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:41PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_advance_agent_limit table.
--
REQUIREMENTS:
--
INPUTS:
commission_advance_agent_limit_id - Key to commission_advance_agent_limit table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_commission_advance_agent_limit_list_load]
(
@commission_advance_setup_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_advance_agent_limit.commission_advance_agent_limit_id
,commission_advance_agent_limit.number_of_months
,commission_advance_agent_limit.percent_payable
,commission_advance_agent_limit.allowed_max_amount_per_sale
,commission_advance_agent_limit.allowed_max_amount_per_benefit_contract
,commission_advance_agent_limit.effective_from
,commission_advance_agent_limit.effective_thru
FROM commission_advance_agent_limit

WHERE commission_advance_agent_limit.commission_advance_setup_id = @commission_advance_setup_id
ORDER BY
CASE WHEN commission_advance_agent_limit.effective_from IS NULL THEN 0 ELSE 1 END , commission_advance_agent_limit.effective_from DESC
,CASE WHEN commission_advance_agent_limit.effective_thru IS NULL THEN 0 ELSE 1 END , commission_advance_agent_limit.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
