USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_member_info_from_eligibility_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: Sep 26 2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/03/2014	dcannon		1.1			added delivery_route to function
09/19/2014	dcannon		1.2			RT:7004 member address restructure

--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
The procedure is used to load member info from eligibility member.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_get_member_info_from_eligibility_member_load]
(
@family_eligibility_member_benefit_plan_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF (@family_eligibility_member_benefit_plan_id is null) OR (@family_eligibility_member_benefit_plan_id = 0)
BEGIN
SELECT

distinct family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
,family_eligibility_member_benefit_plan.member_eligibility_ud
, dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle,member_name.name_suffix) as member_name
, dbo.plx_ConcatenateAddress(member_address.address_1, member_address.address_2, member_address.delivery_route, locale.locale_id) as member_address
,client_name.client_ud
,client_name.client_id

,client_group_name.client_group_ud
,client_group_name.client_group_id

,benefit_contract.benefit_contract_ud
,benefit_contract.benefit_contract_id

,benefit_plan.benefit_plan_ud

,benefit_plan.benefit_plan_id


FROM family_eligibility_member_benefit_plan
left join family_eligibility_member on family_eligibility_member.family_eligibility_member_id=family_eligibility_member_benefit_plan.family_eligibility_member_id
left join member	on member.member_id	=    family_eligibility_member.member_id
left join member_name on (member_name.member_id = family_eligibility_member.member_id and member_name.is_primary=1)
left join member_address on member_address.member_id = family_eligibility_member.member_id
left join locale on locale.locale_id = member_address.locale_id
left join state on state.state_id = locale.state_id
left join benefit_contract_period_benefit_plan on benefit_contract_period_benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
left join benefit_contract_period on benefit_contract_period.benefit_contract_period_id =benefit_contract_period_benefit_plan.benefit_contract_period_id
left join benefit_contract on benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
left join benefit_plan on benefit_plan.benefit_plan_id = benefit_contract_period_benefit_plan.benefit_plan_id
left join client_group on client_group.client_group_id = benefit_contract.client_group_id
left join client_name on client_name.client_id = client_group.client_id
left join client_group_name on client_group_name.client_group_id = client_group.client_group_id
END
ELSE
BEGIN
SELECT

family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
,family_eligibility_member_benefit_plan.member_eligibility_ud
, dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle,member_name.name_suffix) as member_name
, dbo.plx_ConcatenateAddress(member_address.address_1, member_address.address_2, member_address.delivery_route, locale.locale_id) as member_address
,client_name.client_ud
,client_name.client_id

,client_group_name.client_group_ud
,client_group_name.client_group_id

,benefit_contract.benefit_contract_ud
,benefit_contract.benefit_contract_id
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_id



FROM family_eligibility_member_benefit_plan
left join family_eligibility_member on family_eligibility_member.family_eligibility_member_id=family_eligibility_member_benefit_plan.family_eligibility_member_id
left join member	on member.member_id	=    family_eligibility_member.member_id
left join member_name on (member_name.member_id = family_eligibility_member.member_id AND member_name.is_primary = 1)
left join member_address on member_address.member_id = family_eligibility_member.member_id
left join locale on locale.locale_id = member_address.locale_id
left join state on state.state_id = locale.state_id
left join benefit_plan on benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
left join family_eligibility enrollment on enrollment.family_eligibility_id = family_eligibility_member.family_eligibility_id
left join benefit_contract on benefit_contract.benefit_contract_id = enrollment.benefit_contract_id
left join client_group on client_group.client_group_id = benefit_contract.client_group_id
left join client_name on client_name.client_id = client_group.client_id
left join client_group_name on client_group_name.client_group_id = client_group.client_group_id

WHERE family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
END
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
