USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_eligibility_rule_get_for_benefit_contract_period_benefit_plan]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox

--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/23/2014	cmaddox			1.0			Create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Retrieve the auto member eligibility rule golden_key for a benefit contract period benefit plan.

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_auto_create_eligibility_rule_get_for_benefit_contract_period_benefit_plan]
(
@benefit_contract_period_benefit_plan_id 	INT = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- get the global rule for Auto Create Eligibility Id Rule
DECLARE	@global_rule_auto_create_member_rule_id INT
SELECT @global_rule_auto_create_member_rule_id = MAX(auto_create_member_id_rule_id) FROM global_rule

SELECT golden_key = COALESCE(acmir_bcpbp.golden_key, acmir_global.golden_key)
FROM
benefit_contract_period_benefit_plan bcpbp
LEFT JOIN auto_create_member_id_rule acmir_bcpbp ON acmir_bcpbp.auto_create_member_id_rule_id = bcpbp.auto_create_member_id_rule_id
LEFT JOIN auto_create_member_id_rule acmir_global ON acmir_global.auto_create_member_id_rule_id = ISNULL(@global_rule_auto_create_member_rule_id,0)
WHERE bcpbp.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)

RETURN @SP_SUCCESS

END
GO
