USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_first_coverage_scope_of_limit_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/13/2013	cmaddox						Create
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'first_coverage_scope_of_limit' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_first_coverage_scope_of_limit_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
first_coverage_scope_of_limit_id
,first_coverage_scope_of_limit_ud
,golden_key
FROM first_coverage_scope_of_limit
ORDER BY first_coverage_scope_of_limit.first_coverage_scope_of_limit_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
