USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_run_errors_by_eligibility_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/12/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdAutoTerminationProcessErrors on form frmAutoTerminationRun

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_auto_termination_run_errors_by_eligibility_load]
(
@auto_termination_run_id    INT = NULL,
@family_eligibility_member_benefit_plan_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
rc.result_code_id,
rc.result_code_ud,
rc.short_message

FROM dbo.auto_termination_run_result_code atrrc
INNER JOIN result_code rc ON atrrc.result_code_id = rc.result_code_id
INNER JOIN family_eligibility_member_benefit_plan elig ON atrrc.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
WHERE atrrc.auto_termination_run_id = @auto_termination_run_id
AND elig.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

ORDER BY rc.result_code_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
