USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_stage_zero_no_benefit_lines_whole_claim]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_payment_process_stage_zero_no_benefit_lines_whole_claim]
(
@vendors udtt_claim_payment_vendor READONLY
)
AS
DECLARE
@adjStatusApproved INT,
@adjStatusDenied INT,
@processStatusAvailable INT,
@claimTypePredetermination INT,
@claimConcurrencyLockType INT

SELECT @adjStatusApproved = adjudication_status_id FROM adjudication_status WHERE golden_key = 'APPROVED';
SELECT @adjStatusDenied = adjudication_status_id FROM adjudication_status WHERE golden_key = 'DENY';
SELECT @processStatusAvailable = claim_payment_process_status_id FROM claim_payment_process_status WHERE golden_key = 'AVAILABLE';
SELECT @claimTypePredetermination = claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination';
SELECT @claimConcurrencyLockType = concurrency_lock_type_id FROM concurrency_lock_type WHERE golden_key = 'CLAIM';

DECLARE @claim_payment_queue_vendor_count INT
SET @claim_payment_queue_vendor_count =
(SELECT COUNT(*) FROM @vendors)


CREATE TABLE #matchingProcs
(
claim_procedure_id INT NOT NULL,
claim_procedure_adjudication_status_id INT NOT NULL,
claim_id INT NOT NULL,
plan_iteration_index INT NULL,
vendor_id INT NULL,
member_vendor_id INT NULL,
eligibility_id INT NULL
);
CREATE CLUSTERED INDEX #ix_temp_matching_procs ON #matchingProcs ([claim_id]);

WITH ready_claims (
claim_id,
claim_procedure_id,
claim_procedure_adjudication_status_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
eligibility_id
)
AS
(
SELECT
c.claim_id,
cp.claim_procedure_id,
cp.adjudication_status_id,
ISNULL(ark.plan_iteration_index, 1),
ark.vendor_id,
ark.member_vendor_id,
ark.family_eligibility_member_benefit_plan_id
FROM
claim c
INNER JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
LEFT JOIN adjudication_result_key ark
ON cp.claim_procedure_id = ark.claim_procedure_id
WHERE
c.claim_form_type_id <> @claimTypePredetermination
-- Claim status.
AND c.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Claim procedure status.
AND cp.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Not being held
AND ISNULL(cp.hold, 0) = 0
-- Not already in accounting.
AND (c.claim_payment_process_status_id = @processStatusAvailable OR c.claim_payment_process_status_id IS NULL)
AND (cp.claim_payment_process_status_id = @processStatusAvailable OR cp.claim_payment_process_status_id IS NULL)
-- Not being edited.
AND NOT EXISTS (SELECT 1 FROM concurrency_lock cl WHERE cl.concurrency_lock_type_id = @claimConcurrencyLockType AND record_id = c.claim_id)
-- Not in another run.
AND cp.claim_payment_run_id IS NULL
-- Only include base plans. Supp plans are handled by a different stored procedure.
AND ark.plan_iteration_index = 1
AND
-- Match on vendor if all vendor rows have criteria
(
@claim_payment_queue_vendor_count = 0
OR
(
ark.vendor_id IN (SELECT vendor_id FROM @vendors)
OR
ark.member_vendor_id IN (SELECT vendor_id FROM @vendors)
)
)

-- Not for any claims already in the work table
AND
NOT EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_id = cp.claim_id)

)
INSERT INTO #matchingProcs (
claim_procedure_id,
claim_procedure_adjudication_status_id,
claim_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
eligibility_id
)
SELECT
rc.claim_procedure_id,
rc.claim_procedure_adjudication_status_id,
rc.claim_id,
rc.plan_iteration_index,
rc.vendor_id,
rc.member_vendor_id,
rc.eligibility_id
FROM
ready_claims rc


CREATE TABLE #zero_claims
(
claim_id INT,
no_benefits_count INT,
transaction_count INT
);

INSERT INTO #zero_claims
(
claim_id,
no_benefits_count,
transaction_count
)
SELECT
claim_id,
SUM(case WHEN eligibility_id IS NULL then 1 else 0 end) as no_benefits_count,
COUNT(claim_id) as transaction_count
FROM
#matchingProcs mp
GROUP BY mp.claim_id


INSERT INTO claim_payment_processing_work_table (
claim_procedure_id,
claim_procedure_adjudication_status_id,
claim_id,
plan_iteration_index,
vendor_id,
member_vendor_id
)
SELECT
mp.claim_procedure_id,
mp.claim_procedure_adjudication_status_id,
mp.claim_id,
mp.plan_iteration_index,
mp.vendor_id,
mp.member_vendor_id
FROM
#matchingProcs mp
JOIN
#zero_claims zc
ON mp.claim_id = zc.claim_id
WHERE
zc.no_benefits_count = zc.transaction_count
AND
NOT EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_procedure_id = mp.claim_procedure_id)
GO
