USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_fee_calculation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_premium_fee_calculation_rule_load]
AS

SET NOCOUNT ON

SELECT
premium_fee_calculation_rule_id
,premium_fee_calculation_rule_ud
,golden_key
FROM premium_fee_calculation_rule
ORDER BY premium_fee_calculation_rule_ud

RETURN 0
GO
