USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_usage_scope_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 30 2005  1:39PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down usage_scope (Usage Scope)
--
REQUIREMENTS:
--
INPUTS:
usage_scope_id - Key to usage_scope table, identifies a single stored dd_usage_scope.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_usage_scope_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
usage_scope.usage_scope_id
,usage_scope.usage_scope_ud
,golden_key

FROM usage_scope
ORDER BY usage_scope_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
