USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_process_service_date_enrollment_period_mismatch_claims]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   PROCEDURE [dbo].[bind_process_service_date_enrollment_period_mismatch_claims]
AS
BEGIN
    SET NOCOUNT ON;
 
    DECLARE @result_code_ud NVARCHAR(50) ='BDPRIORELG';
    DECLARE @claim_ud NVARCHAR(50);
 
    DECLARE serviceDateMismatchCursor CURSOR FOR
    SELECT
       qc_claim_reference_number
    FROM bind_vw_service_date_mismatch;
 
    OPEN serviceDateMismatchCursor;
 
    FETCH NEXT FROM serviceDateMismatchCursor INTO @claim_ud;
 
    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC bind_update_claim_insert_result_code
            null,
            @result_code_ud,
            @claim_ud;
 
        FETCH NEXT FROM serviceDateMismatchCursor INTO @claim_ud;
    END;
 
    CLOSE serviceDateMismatchCursor;
    DEALLOCATE serviceDateMismatchCursor;
END;
GO
