USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_identifier_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  1 2006  2:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for agent identifier grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_identifier_id - Key to agent_identifier table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_identifier_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_identifier.agent_identifier_id
,agent_identifier.agent_id
,agent_identifier.agent_id_type_id
,agent_identifier.agent_ud
,agent_identifier.is_default
,agent_identifier.brokerage_agent_id      	as identifier_brokerage_id
,brokerage_identifier.agent_identifier_id 	as identifier_brokerage_identifier_id
,brokerage_identifier.agent_ud 	   	as identifier_brokerage_ud
,dbo.plx_ConcatenateName(agent_name.name_last, agent_name.name_first, agent_name.name_middle, agent_name.name_suffix) as identifier_brokerage_name
,agent_identifier.effective_from     		as identifier_effective_from
,agent_identifier.effective_thru     		as identifier_effective_thru
FROM agent_identifier
LEFT JOIN agent as brokerage ON agent_identifier.brokerage_agent_id = brokerage.agent_id
LEFT JOIN agent_identifier as brokerage_identifier ON brokerage_identifier.agent_identifier_id = agent_identifier.brokerage_agent_identifier_id
LEFT JOIN agent_name ON brokerage.agent_id = agent_name.agent_id
AND is_primary = 1
WHERE agent_identifier.agent_id = @agent_id
ORDER BY
CASE WHEN agent_identifier.effective_from IS NULL THEN 0 ELSE 1 END , agent_identifier.effective_from DESC
,CASE WHEN agent_identifier.effective_thru  IS NULL THEN 0 ELSE 1 END , agent_identifier.effective_thru  DESC
--
RETURN @SP_SUCCESS
GO
