USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_modifier_conflict_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/06/2012	dcannon		1.1			Add Result Code Override and Modifier Set columns
01/20/2012	dcannon		1.1			refactored table name and removed column 2 Px codes
--
DESCRIPTION:
Load for Fee Schedule Rule mututally exclusive modifier grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_rule_modifier_conflict_load]
(
@fee_schedule_rule_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
mem.fee_schedule_rule_modifier_conflict_id
,mem.procedure_code_type_id
,pct1.procedure_code_type_ud
,mem.starting_procedure_code_id
,pc1.procedure_code_ud as starting_procedure_code_ud
,mem.ending_procedure_code_id
,pc1end.procedure_code_ud as ending_procedure_code_ud
,mem.column_1_modifier
,mem.column_1_modifier_set_id
,ms1.modifier_set_ud as column_1_modifier_set_ud
,mem.column_2_modifier
,mem.column_2_modifier_set_id
,ms2.modifier_set_ud as column_2_modifier_set_ud
,mem.result_code_override_id
,rc.result_code_ud
,mem.effective_from
,mem.effective_thru

FROM fee_schedule_rule_modifier_conflict mem
LEFT JOIN procedure_code_type pct1 ON mem.procedure_code_type_id = pct1.procedure_code_type_id
LEFT JOIN procedure_code pc1 ON mem.starting_procedure_code_id = pc1.procedure_code_id
LEFT JOIN procedure_code pc1end ON mem.ending_procedure_code_id = pc1end.procedure_code_id
LEFT JOIN modifier_set ms1 ON mem.column_1_modifier_set_id = ms1.modifier_set_id
LEFT JOIN modifier_set ms2 ON mem.column_2_modifier_set_id = ms2.modifier_set_id
LEFT JOIN result_code rc ON mem.result_code_override_id = rc.result_code_id
WHERE mem.fee_schedule_rule_id = @fee_schedule_rule_id
ORDER BY
CASE WHEN mem.effective_from IS NULL THEN 0 ELSE 1 END , mem.effective_from DESC
,CASE WHEN mem.effective_thru IS NULL THEN 0 ELSE 1 END , mem.effective_thru DESC

--
RETURN @SP_SUCCESS
--
GO
