USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_mips_procedure_code_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for drop down procedure_code_type (Procedure Code Type)
for MIPS forms, restricted to CPT, HCPCS
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_mips_procedure_code_type_load]
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cpt.procedure_code_type_id
,cpt.procedure_code_type_ud
FROM procedure_code_type cpt
WHERE golden_key in ('CPT', 'HCPCS')
ORDER BY procedure_code_type_ud
--
RETURN @SP_EXCEPTION

END
GO
