USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_diagnosis_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Hiep Nguyen		1.0		Created and used for Find DX Form
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
07/18/2013	eponomareff		1.3		Added support for ICD-10
08/16/2013	eponomareff		1.4		Modified the logic so that Complete property is for Date of Query (Now)

--
CURRENT_VERSION: 1.4
--
ICU:
--
DESCRIPTION:
The procedure is used to find the diagnosis codes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_diagnosis_code_load]
(
@get_column_headers			BIT				= 0,
@diagnosis_code_ud			NVARCHAR(50)	= '',
@description				NVARCHAR(255)	= '',
@diagnosis_code_version_id	INT				= NULL,
@effective_from				DATETIME		= NULL,
@effective_thru				DATETIME		= NULL,
@show_complete_only			BIT				= 0,
@show_incomplete_only		BIT				= 0,
@show_current				BIT				= 0
)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000),
@sqlCondition	 NVARCHAR(4000)

SELECT
@sqlString 	= '',
@sqlCondition 	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

SET @sqlString = 'SELECT TOP (dbo.fn_results_limit())
diagnosis_code.diagnosis_code_id
,diagnosis_code.diagnosis_code_ud
,diagnosis_code.diagnosis_code_version_id
,diagnosis_code_version.diagnosis_code_version_ud
,diagnosis_code.description
,diagnosis_code.description as diagnosis_code_description
,CONVERT(NVARCHAR, diagnosis_code.effective_from, 101) AS effective_from
,CONVERT(NVARCHAR, diagnosis_code.effective_thru, 101) AS effective_thru
,completeness_indicator_table.is_complete_indicator

FROM diagnosis_code
LEFT JOIN diagnosis_code_version ON diagnosis_code.diagnosis_code_version_id = diagnosis_code_version.diagnosis_code_version_id
'

IF @diagnosis_code_ud IS NOT NULL AND @diagnosis_code_ud <> ''
SET @SqlCondition = @SqlCondition + dbo.plx_AddStringsearch('diagnosis_code.diagnosis_code_ud', @diagnosis_code_ud, 0)

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + dbo.plx_AddStringsearch('diagnosis_code.description', @description, 0)

IF @diagnosis_code_version_id IS NOT NULL AND @diagnosis_code_version_id <> 0
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('diagnosis_code.diagnosis_code_version_id', @diagnosis_code_version_id)

IF @show_current = 1
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ((DATEDIFF(Day, diagnosis_code.effective_from, GETDATE()) >= 0 OR diagnosis_code.effective_from IS NULL) AND
(DATEDIFF(Day, diagnosis_code.effective_thru, GETDATE()) <= 0 OR diagnosis_code.effective_thru IS NULL))'

END

-- Evaluate Date Range - follows QC Standards for Find Forms as documented in Find Form Func Spec 10497.doc
-- If Effective From defined on Find Form, returned records must have Effective From greater or equal to Find Form Effective From
-- If Effective Through defined on Find Form, returned records must have Effective Thru less than or equal to Find Form Effective Through
-- This function returns an empty string if the Find Form does not define the variables
BEGIN
set @sqlCondition = @sqlCondition + dbo.plx_AddDateMoreThanSearch('diagnosis_code.effective_from', @effective_from)
set @sqlCondition = @sqlCondition + dbo.plx_AddDateLessThanSearch('diagnosis_code.effective_thru', @effective_thru)
END

-- complete diagnosis codes have a child record marked "complete" at time of querying (Now), and incomplete have a child record marked "incomplete"
IF @show_complete_only<>0 OR @show_incomplete_only<>0
BEGIN
DECLARE @complete_char AS CHAR(1)

-- Determine whether we want a "complete" child record, or an "incomplete" child record
IF @show_complete_only = 1
SET @complete_char = '1'
ELSE SET @complete_char = 0

SET @sqlCondition = @sqlCondition +
' AND EXISTS ' +
+ '( ' +
'SELECT * FROM diagnosis_code_complete dcc WHERE dcc.diagnosis_code_id = diagnosis_code.diagnosis_code_id '
+
' AND dcc.complete = ' + @complete_char

-- This function returns an empty string if the Find Form does not define the variables
BEGIN
set @sqlCondition = @sqlCondition + dbo.plx_AddDateLessThanSearch('dcc.effective_from', getdate())
set @sqlCondition = @sqlCondition + dbo.plx_AddDateMoreThanSearch('ISNULL(dcc.effective_thru, getdate())', getdate())
END
-- close parens
SET @sqlCondition = @sqlCondition +	')'
END

-- add completeness indicator to join clause
SET @sqlString = @sqlString + '
-- Determines Current Completeness of the Code (C/I)
LEFT JOIN (
select
dc.diagnosis_code_id,
CASE
WHEN MAX(CAST(dcc.complete AS INT)) = 1	THEN ''C''
WHEN MAX(CAST(dcc.complete AS INT)) = 0	THEN ''I''
ELSE null
end AS is_complete_indicator
from diagnosis_code dc
left join diagnosis_code_complete dcc
on dc.diagnosis_code_id = dcc.diagnosis_code_id
AND dcc.effective_from <= GETDATE()		-- or use search criteria dates
AND ISNULL(dcc.effective_thru, getdate()) >= GETDATE() -- or use search criteria dates
group by dc.diagnosis_code_id) as completeness_indicator_table
ON diagnosis_code.diagnosis_code_id = completeness_indicator_table.diagnosis_code_id
-- end completeness_indicator_table
'

SET @sqlString = @sqlString + @sqlCondition

SET @sqlString = @sqlString + ' ORDER BY
CASE WHEN diagnosis_code.effective_from IS NULL THEN 0 ELSE 1 END , diagnosis_code.effective_from DESC
,CASE WHEN diagnosis_code.effective_thru IS NULL THEN 0 ELSE 1 END , diagnosis_code.effective_thru DESC '

--PRINT (@sqlString)
EXEC(@sqlString)

END
GO
