USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_referral_form_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
DATE: 04/24/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/24/2006	Han Cao
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down referral_form_type (Form Type (Referral/Authorization))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_referral_form_type_load]


AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
referral_form_type.referral_form_type_id
,referral_form_type.referral_form_type_ud
,referral_form_type.golden_key
FROM referral_form_type

Order by referral_form_type_ud



--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
