USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_last_scheduled_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/05/2008	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load last scheduled run date for form frmAutoTerminationQueue

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_queue_last_scheduled_run_load]
(
@auto_termination_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
MAX(cpr.start_time) as last_scheduled_run
FROM dbo.auto_termination_queue atq
LEFT JOIN dbo.auto_termination_run cpr ON atq.auto_termination_queue_id = cpr.auto_termination_queue_id
WHERE atq.auto_termination_queue_id = @auto_termination_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
