USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_get_eligibility_calculations_batch]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_get_eligibility_calculations_batch]
(
@pageNumber INT,
@pageSize INT,
@capitationPeriodId INT,
@providerId INT
)
AS

SET NOCOUNT ON;

CREATE TABLE #paged_eligibilities
(
eligibility_id INT NOT NULL,
enrollment_id INT NOT NULL
);

INSERT INTO #paged_eligibilities (eligibility_id, enrollment_id)
SELECT
se.eligibility_id,
se.enrollment_id
FROM
capitation_staging_eligibilities se
ORDER BY
se.eligibility_id ASC
OFFSET @pageNumber * @pageSize ROWS
FETCH NEXT @pageSize ROWS ONLY;

SELECT
cc.capitation_calculation_id,
cc.capitation_run_id,
cc.capitation_period_id,
cc.provider_id,
cc.capitation_rate_assignment_id,
cc.capitation_rate_assignment_tier_criteria_amount_id,
cc.family_eligibility_id,
cc.family_eligibility_member_benefit_plan_id,
cc.base_rate_amount,
cc.withhold_amount,
cc.withhold_account_id,
cc.coverage_period_from,
cc.coverage_period_thru,
cc.vendor_id,
cc.negated_capitation_calculation_id
FROM
#paged_eligibilities se
INNER JOIN capitation_calculation cc
ON cc.family_eligibility_member_benefit_plan_id = se.eligibility_id
WHERE
cc.capitation_period_id = @capitationPeriodId
AND cc.provider_id = @providerId;
GO
