USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/06/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a claim payment queue before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the claim payment queue to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_payment_queue_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the claim payment queue exists
IF NOT EXISTS (SELECT claim_payment_queue_id FROM claim_payment_queue WHERE claim_payment_queue_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM claim_payment_run WHERE claim_payment_queue_id = @id)
BEGIN
--check claim payment runs
SELECT 'Claim Payment Run' AS object_golden_key, claim_payment_run_ud AS object_ud
FROM claim_payment_run
WHERE claim_payment_queue_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
