USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carc_rarc_result_code_mapping_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to save carc/rarc mapping to result codes
Form: Assign Claim Adjustment Reason Codes
Grid: Result Code Claim Adjustment Reason Code Assignment (grdResultCodeCarcRarcAssign)
******************************/
CREATE PROCEDURE [dbo].[plx_carc_rarc_result_code_mapping_save]
(
@claim_adjustment_result_code_map_id	INT = 0 OUTPUT
,@adjudication_object_id				INT
,@ranking								INT
,@result_code_id						INT
,@claim_adjustment_group_code_id		INT
,@claim_adjustment_reason_code_nk		NVARCHAR(15)
,@remittance_advice_remark_code_nk		NVARCHAR(15)	= NULL
,@effective_from						DATE
,@effective_thru						DATE			= NULL
)
AS


DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--

-- get @claim_adjustment_group_code_gk
DECLARE @claim_adjustment_group_code_gk NVARCHAR(50);
SET @claim_adjustment_group_code_gk =
(SELECT golden_key FROM claim_adjustment_group_code
WHERE claim_adjustment_group_code_id = @claim_adjustment_group_code_id);

IF ISNULL(@claim_adjustment_result_code_map_id, 0) = 0
-- Create a new record
BEGIN
INSERT INTO claim_adjustment_result_code_map (
adjudication_object_id
,ranking
,result_code_id
,claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk
,remittance_advice_remark_code_nk
,effective_from
,effective_thru
)
SELECT
@adjudication_object_id
,@ranking
,@result_code_id
,@claim_adjustment_group_code_gk
,@claim_adjustment_reason_code_nk
,@remittance_advice_remark_code_nk
,@effective_from
,@effective_thru
;

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS);

SET @claim_adjustment_result_code_map_id = SCOPE_IDENTITY();
END

ELSE IF NOT EXISTS (SELECT * FROM claim_adjustment_result_code_map WHERE
claim_adjustment_result_code_map_id = @claim_adjustment_result_code_map_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--

ELSE
BEGIN
UPDATE claim_adjustment_result_code_map
SET
adjudication_object_id                     =     @adjudication_object_id
,ranking                                    =     @ranking
,result_code_id                             =     @result_code_id
,claim_adjustment_group_code_gk             =     @claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk            =     @claim_adjustment_reason_code_nk
,remittance_advice_remark_code_nk           =     @remittance_advice_remark_code_nk
,effective_from                             =     @effective_from
,effective_thru                             =     @effective_thru
,modified_user_name                         =     ORIGINAL_LOGIN()
,modified_date                              =     GETDATE()

WHERE
claim_adjustment_result_code_map_id = @claim_adjustment_result_code_map_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
GO
