USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_diagnosis_code_version_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2009-01-09	jgarro		created, for loading diagnosis code versions for Drop downs
2013-07-10  eponomareff modified, system data types should load golden_keys in dropdowns.
******************************/


CREATE PROCEDURE [dbo].[plx_dd_diagnosis_code_version_load]
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
diagnosis_code_version_id
,diagnosis_code_version_ud
,golden_key

FROM diagnosis_code_version
ORDER BY sort_order

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
