USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_advance_zoom_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
Date: 10/14/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/21/2014	lrenard		2.0			RT:4870 - Base Supp - updated plx_get_benefit_contract_period_benefit_plan_id_by_claim_procedure_id call to include @family_eligibility_member_benefit_plan_id parameter added
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Advanced Eligibility Setup form on a zoom.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_advance_zoom_load]
(
@family_eligibility_member_benefit_plan_id INT = null
,@claim_procedure_id INT = NULL

)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SET @BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID = dbo.plx_get_benefit_contract_period_benefit_plan_id_by_claim_procedure_id(@claim_procedure_id, @family_eligibility_member_benefit_plan_id)
EXEC plx_family_eligibility_member_benefit_plan_advance_load @family_eligibility_member_benefit_plan_id, @BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
