USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_get_eligibility_batch]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_get_eligibility_batch]
(
@pageNumber INT,
@pageSize INT
)
AS

SET NOCOUNT ON;

CREATE TABLE #paged_eligibilities
(
eligibility_id INT NOT NULL,
enrollment_id INT NOT NULL
);

INSERT INTO #paged_eligibilities (eligibility_id, enrollment_id)
SELECT
se.eligibility_id,
se.enrollment_id
FROM
capitation_staging_eligibilities se
ORDER BY
se.eligibility_id ASC
OFFSET @pageNumber * @pageSize ROWS
FETCH NEXT @pageSize ROWS ONLY;

-- Eligibilities.
SELECT
e.family_eligibility_member_benefit_plan_id,
e.member_eligibility_ud,
e.effective_from,
e.effective_thru,
m.birth_date,
m.gender_id,
m.member_id,
e.benefit_plan_id,
fe.benefit_contract_id,
cg.client_group_id,
cg.client_id,
bf.benefit_category_id,
bp.capitation_benefit_id,
bp.benefit_framework_id,
fem.family_eligibility_id
FROM
#paged_eligibilities se
INNER JOIN family_eligibility_member_benefit_plan e
ON e.family_eligibility_member_benefit_plan_id = se.eligibility_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = e.family_eligibility_member_id
INNER JOIN member m
ON m.member_id = fem.member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN benefit_contract bc
ON bc.benefit_contract_id = fe.benefit_contract_id
INNER JOIN client_group cg
ON cg.client_group_id = bc.client_group_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = e.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id;

-- Breaks in coverage.
SELECT
se.eligibility_id,
ip.inactive_from_date,
ip.inactive_thru_date
FROM
#paged_eligibilities se
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = se.enrollment_id
INNER JOIN family_eligibility_employment emp
ON emp.family_eligibility_employment_id = fe.family_eligibility_employment_id
INNER JOIN family_eligibility_employment_inactive_period ip
ON ip.family_eligibility_employment_id = emp.family_eligibility_employment_id;

-- Provider assignments.
SELECT
ep.family_eligibility_member_benefit_plan_id,
ep.provider_id,
ep.provider_identifier_id,
ep.practice_office_id,
ep.provider_category_id,
pc.provider_category_type_id,
ep.effective_from,
ep.effective_thru
FROM
#paged_eligibilities se
INNER JOIN family_eligibility_member_benefit_plan_provider ep
ON ep.family_eligibility_member_benefit_plan_id = se.eligibility_id
LEFT JOIN provider_category pc
ON pc.provider_category_id = ep.provider_category_id;

-- Rate values assigned to the member.
SELECT DISTINCT
se.eligibility_id,
cmr.member_id,
cmr.capitation_member_rate_id,
cmr.effective_from,
cmr.effective_thru
FROM
#paged_eligibilities se
INNER JOIN family_eligibility_member_benefit_plan e
ON e.family_eligibility_member_benefit_plan_id = se.eligibility_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = e.family_eligibility_member_id
INNER JOIN member_capitation_member_rate cmr
ON cmr.member_id = fem.member_id
WHERE
cmr.never_assigned = 0;
GO
