USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_duplicate_claim_rule_field_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 12/18/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/18/2007	Vishwa Jella	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Duplicate Claim Field Criteria" on Duplicate Claim Rule Tab
in frmClaimDuplicateRules form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_duplicate_claim_rule_duplicate_claim_rule_field_load]

(
@golden_key			VARCHAR(50)=NULL
)
AS
--
DECLARE  @SP_SUCCESS int
SET	@SP_SUCCESS = 0
DECLARE @duplicate_claim_rule_id int
SET @duplicate_claim_rule_id = 0

SET @duplicate_claim_rule_id =  ( SELECT Top 1 duplicate_claim_rule.duplicate_claim_rule_id  FROM duplicate_claim_rule INNER JOIN
claim_form_type ON duplicate_claim_rule.claim_form_type_id = claim_form_type.claim_form_type_id
WHERE claim_form_type.golden_key = @golden_key )


If ( (@duplicate_claim_rule_id=0) or (@duplicate_claim_rule_id Is NULL))

begin

If (@golden_key ='Professional') -- Add New

begin

select	 null as duplicate_claim_rule_duplicate_claim_rule_field_id
,null as duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,( case
when duplicate_claim_rule_field.is_duplicate_default = 1 then cast( 1 as bit)
else cast(0 as bit)
end ) as [use]
,cast(null as int) as  is_changed
FROM    duplicate_claim_rule_field
WHERE   (duplicate_claim_rule_field.is_professional = 1)


end

else If (@golden_key ='Institutional') -- Add New

begin

select   null as duplicate_claim_rule_duplicate_claim_rule_field_id
,null as duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,( case
when duplicate_claim_rule_field.is_duplicate_default = 1 then cast( 1 as bit)
else cast(0 as bit)
end ) as [use]
,cast(null as int) as  is_changed
FROM    duplicate_claim_rule_field
WHERE   (duplicate_claim_rule_field.is_institutional = 1)


end

else If (@golden_key ='Dental') -- Add New

begin

SELECT      NULL AS duplicate_claim_rule_duplicate_claim_rule_field_id
,NULL AS duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,( case
when duplicate_claim_rule_field.is_duplicate_default = 1 then cast( 1 as bit)
else cast(0 as bit)
end ) as [use]
,CAST(NULL AS int) AS is_changed
FROM       duplicate_claim_rule_field
WHERE      (duplicate_claim_rule_field.is_dental = 1)


end

end
else

begin

If (@golden_key ='Professional')

begin
select  duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_duplicate_claim_rule_field_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast( 1 as bit) as [use]
,cast(null as int) as  is_changed
from duplicate_claim_rule_duplicate_claim_rule_field
inner join duplicate_claim_rule_field on duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id=duplicate_claim_rule_field.duplicate_claim_rule_field_id
where   (duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id)
AND (duplicate_claim_rule_field.is_professional = 1)
AND (duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)
union
select	null as duplicate_claim_rule_duplicate_claim_rule_field_id
,null as duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast(0 as bit) as [use]
,cast(null as int) as  is_changed
FROM duplicate_claim_rule_field
WHERE  (duplicate_claim_rule_field.is_professional = 1)  and duplicate_claim_rule_field.duplicate_claim_rule_field_id
not in ( select duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
from duplicate_claim_rule_duplicate_claim_rule_field
where duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id
and duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)
end

else If (@golden_key ='Institutional')

begin
select  duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_duplicate_claim_rule_field_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast( 1 as bit) as [use]
,cast(null as int) as  is_changed
from 	duplicate_claim_rule_duplicate_claim_rule_field
inner join duplicate_claim_rule_field on duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id=duplicate_claim_rule_field.duplicate_claim_rule_field_id
where 	duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id
AND (duplicate_claim_rule_field.is_institutional = 1)
AND (duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)

union

select	null as duplicate_claim_rule_duplicate_claim_rule_field_id
,null as duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast(0 as bit) as [use]
,cast(null as int) as  is_changed
FROM 	duplicate_claim_rule_field

WHERE 	(duplicate_claim_rule_field.is_institutional = 1)  and duplicate_claim_rule_field.duplicate_claim_rule_field_id
not in (select duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
from duplicate_claim_rule_duplicate_claim_rule_field
where duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id
and duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)
end



else If (@golden_key ='Dental')

begin
select  duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_duplicate_claim_rule_field_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id
,duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast( 1 as bit) as [use]
,cast(null as int) as  is_changed
from duplicate_claim_rule_duplicate_claim_rule_field
inner join duplicate_claim_rule_field on duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id=duplicate_claim_rule_field.duplicate_claim_rule_field_id
where   (duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id)
AND (duplicate_claim_rule_field.is_dental = 1)
AND (duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)
union

select	null as duplicate_claim_rule_duplicate_claim_rule_field_id
,null as duplicate_claim_rule_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_id
,duplicate_claim_rule_field.duplicate_claim_rule_field_ud
,duplicate_claim_rule_field.golden_key
,cast(0 as bit) as [use]
,cast(null as int) as  is_changed
FROM    duplicate_claim_rule_field
WHERE  (duplicate_claim_rule_field.is_dental = 1)  and duplicate_claim_rule_field.duplicate_claim_rule_field_id
not in ( select duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_field_id
from duplicate_claim_rule_duplicate_claim_rule_field
where duplicate_claim_rule_duplicate_claim_rule_field.duplicate_claim_rule_id=@duplicate_claim_rule_id
and duplicate_claim_rule_duplicate_claim_rule_field.is_duplicate_data = 1)
end
end


--
RETURN @SP_SUCCESS
--
GO
