USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_tenure_override_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[plx_dd_eligibility_tenure_override_reason_load]
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
eligibility_tenure_override_reason_id
,eligibility_tenure_override_reason_ud

FROM eligibility_tenure_override_reason
ORDER BY eligibility_tenure_override_reason_ud ASC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
