USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_internet_address_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_internet_address_load]
(
@beneficiary_id  INT = NULL
)
AS
BEGIN

SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT	@SP_SUCCESS = 0

SELECT
beneficiary_internet_address.beneficiary_internet_address_id
,beneficiary.beneficiary_id
,beneficiary_internet_address.internet_address_id
,internet_address.internet_address
,CONVERT(BIT, isnull(beneficiary_internet_address.primary_for_beneficiary,0)) as primary_for_beneficiary
,internet_address_type.internet_address_type_id
,internet_address_type.internet_address_type_ud
FROM beneficiary
INNER JOIN beneficiary_internet_address  ON beneficiary.beneficiary_id = beneficiary_internet_address.beneficiary_id
LEFT JOIN internet_address  ON internet_address.internet_address_id = beneficiary_internet_address.internet_address_id
LEFT JOIN internet_address_type  ON internet_address.internet_address_type_id = internet_address_type.internet_address_type_id
WHERE beneficiary_internet_address.beneficiary_id = @beneficiary_id
ORDER BY primary_for_beneficiary DESC,
internet_address_type.internet_address_type_ud,
internet_address.internet_address

RETURN @SP_SUCCESS

END
GO
