USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_set_detail_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[plx_client_set_detail_load] (@client_set_id INT = 0)
AS
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT csd.client_set_detail_id,
csd.client_set_id,
csd.client_id,
cn.client_ud,
cn.client_nm,
csd.effective_from,
csd.effective_thru,
csd.active,
csd.created_user_name,
csd.created_group_id,
csd.created_date,
csd.modified_date
FROM dbo.client_set_detail csd
INNER JOIN dbo.client_name cn
ON csd.client_id = cn.client_id
WHERE csd.client_set_id = @client_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
