USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_valid_choice_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid Valid Choices of a Choice list in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accumulator_valid_choice_save]
(
@accumulator_valid_choice_id                int = NULL   OUTPUT
,@valid_choice                               nvarchar(200) = NULL
,@accumulator_choice_list_id                 int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--

IF @accumulator_valid_choice_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_valid_choice(
valid_choice
,accumulator_choice_list_id
,active
)
VALUES
(@valid_choice
,@accumulator_choice_list_id
,@active
)
--
SET @accumulator_valid_choice_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_valid_choice WHERE accumulator_valid_choice_id = @accumulator_valid_choice_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing record
UPDATE accumulator_valid_choice
SET
valid_choice                             = @valid_choice
,accumulator_choice_list_id               = @accumulator_choice_list_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_valid_choice_id = @accumulator_valid_choice_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
