USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_rules_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 09/15/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data of an benefit coverage rule
--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_coverage_rules_save]
(
@benefit_coverage_rules_id                  int = NULL   OUTPUT
,@benefit_coverage_rules_value_type_id	   int = NULL
,@benefit_framework_choice_list_id                     int = NULL
,@yes_no_id								   int = NULL
,@single_value                               nvarchar(200) = NULL
,@tiered_coinsurance_id                      int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@benefit_id                                 int = NULL
,@active                                     bit = NULL
,@ui_engine_data_type_id                       INT
) AS
--
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--
IF @benefit_coverage_rules_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_coverage_rules(
benefit_coverage_rules_value_type_id
,benefit_framework_choice_list_id
,single_value
,yes_no_id
,tiered_coinsurance_id
,effective_from
,effective_thru
,benefit_id
,active
)
VALUES
(@benefit_coverage_rules_value_type_id
,@benefit_framework_choice_list_id
,@single_value
,@yes_no_id
,@tiered_coinsurance_id
,@effective_from
,@effective_thru
,@benefit_id
,@active
)
SET @benefit_coverage_rules_id = @@IDENTITY
END --(2) end of add new benefit_coverage_rules

ELSE IF NOT EXISTS (SELECT * FROM benefit_coverage_rules WHERE benefit_coverage_rules_id = @benefit_coverage_rules_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_coverage_rules
SET
benefit_coverage_rules_value_type_id = @benefit_coverage_rules_value_type_id
,benefit_framework_choice_list_id	 = @benefit_framework_choice_list_id
,single_value                             = @single_value
,yes_no_id								 = @yes_no_id
,tiered_coinsurance_id					 = @tiered_coinsurance_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,benefit_id                               = @benefit_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_coverage_rules_id = @benefit_coverage_rules_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
