USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_user_assigned_result_code_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data on Customer user result  grid
--
REQUIREMENTS:
--
INPUTS:
@customer_user_assigned_result_code_id - Key to customer_user_assigned_result_code table, identifies a single customer_user_assigned_result_code,
@customer_id  - A property value of the customer_user_assigned_result_code object.
@criteria_id  - A property value of the customer_user_assigned_result_code object.
@result_code_id  - A property value of the customer_user_assigned_result_code object.
@result_code_status_id  - A property value of the customer_user_assigned_result_code object.
@comment  - A property value of the customer_user_assigned_result_code object.
@effective_from  - A property value of the customer_user_assigned_result_code object.
@effective_thru  - A property value of the customer_user_assigned_result_code object.
@active  - A property value of the customer_user_assigned_result_code object.
@created_user_name  - A property value of the customer_user_assigned_result_code object.
@created_group_id  - A property value of the customer_user_assigned_result_code object.
@created_date  - A property value of the customer_user_assigned_result_code object.
@modified_date  - A property value of the customer_user_assigned_result_code object.
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_customer_user_assigned_result_code_save]
(
@customer_user_assigned_result_code_id      int = NULL   OUTPUT
,@customer_id                                int = NULL
,@criteria_id                                int = NULL
,@result_code_id                             int = NULL
,@result_code_status_id                      int = NULL
,@comment                                   nvarchar(600) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @customer_user_assigned_result_code_id is Null
BEGIN
--- Create a new record
INSERT INTO customer_user_assigned_result_code(
customer_id
,criteria_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
VALUES
(@customer_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@active
)
--
SET @customer_user_assigned_result_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM customer_user_assigned_result_code WHERE customer_user_assigned_result_code_id = @customer_user_assigned_result_code_id )
BEGIN
RAISERROR('customer_user_assigned_result_code object not found in customer_user_assigned_result_code for internal key %d.', 16, 1, @customer_user_assigned_result_code_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE customer_user_assigned_result_code
SET
customer_id                              = @customer_id
,criteria_id                              = @criteria_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,comment                                 = @comment
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE customer_user_assigned_result_code_id = @customer_user_assigned_result_code_id
END
--
RETURN @SP_SUCCESS
--
GO
