USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_rule_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey \ MAbdul
DATE: 07/29/2010
--
DESCRIPTION:
This procedure is used to check if a correspondence_rule can be deleted or not.
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_rule_check_delete]
(
@id	INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		INT,
@SP_DELETE_UNABLE	INT

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT correspondence_rule_id
FROM correspondence_rule
WHERE correspondence_rule_id = @id)

RETURN @SP_DELETE_ABLE

ELSE
BEGIN
-- If the rules is used on the correspondence form then do not delete
IF EXISTS(SELECT correspondence_rule_id
FROM correspondence
WHERE correspondence_rule_id = @id)
BEGIN

--rule assigned to correspondence
SELECT DISTINCT 'Correspondence' AS object_golden_key, c.correspondence_ud AS object_ud
FROM correspondence c
WHERE c.correspondence_rule_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
