USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_stage_provider_group_by_network_set]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_stage_provider_group_by_network_set]
(
@capitationDefinitionId INT,
@capitationGroupId INT,
@effectiveFrom DATE,
@effectiveThru DATE
)
AS
BEGIN
SET NOCOUNT ON;

INSERT INTO capitation_staging_providers
(
provider_id
)
SELECT DISTINCT
p.provider_id
FROM
capitation_group_provider_network_set cgpns
INNER JOIN provider_network_set pns
ON pns.provider_network_set_id = cgpns.provider_network_set_id
INNER JOIN provider_network_provider_network_set pnpns
ON pnpns.provider_network_set_id = pns.provider_network_set_id
INNER JOIN provider_provider_network ppn
ON ppn.provider_network_id = pnpns.provider_network_id
INNER JOIN provider p
ON p.provider_id = ppn.provider_id
WHERE
-- Definitions with multiple groups can have providers that exist in multiple groups.
NOT EXISTS(SELECT 1 FROM capitation_staging_providers csp WHERE csp.provider_id = p.provider_id)

AND cgpns.capitation_group_id = @capitationGroupId
AND cgpns.is_excluded = 0

-- Network set intersects with the capitationperiod.
AND (pns.effective_from IS NULL OR pns.effective_from <= @effectiveThru)
AND (pns.effective_thru IS NULL OR @effectiveFrom <= pns.effective_thru)

---- Provider effective dates intersect with the capitation period.
AND (pnpns.effective_from IS NULL OR pnpns.effective_from <= @effectiveThru)
AND (pnpns.effective_thru IS NULL OR @effectiveFrom <= pnpns.effective_thru)

---- Provider effective dates intersect with the capitation period.
AND (p.effective_from IS NULL OR p.effective_from <= @effectiveThru)
AND (p.effective_thru IS NULL OR @effectiveFrom <= p.effective_thru)

-- Network not excluded.
AND ppn.provider_network_id NOT IN
(
SELECT
cgpn.provider_network_id
FROM
capitation_group_provider_network cgpn
WHERE
cgpn.capitation_group_id = @capitationGroupId
AND cgpn.is_excluded = 1
)

-- Provider not excluded.
AND ppn.provider_id NOT IN
(
SELECT
pi.provider_id
FROM
capitation_group_provider_identifier cgpi
INNER JOIN provider_identifier pi
ON pi.provider_identifier_id = cgpi.provider_identifier_id
WHERE
cgpi.capitation_group_id = @capitationGroupId
AND cgpi.is_excluded = 1
);

SELECT @@ROWCOUNT as 'staged_provider_count';

END
GO
