USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dollar_limit_assignment_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version		Description
--------------------------------------------------------------------------------
07/13/2012 			dcannon				1.0			Created
07/31/2012			dcannon				1.1			updated column name to type_of_bill_set_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save the Dollar Limit Assignment grid.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dollar_limit_assignment_save]
(
@dollar_limit_assignment_id		INT = 0   OUTPUT
,@client_id                                 INT = NULL
,@client_group_id                           INT = NULL
,@line_of_business_id						INT = NULL
,@claim_form_type_id	                    INT = NULL
,@claim_type_id								INT = NULL
,@type_of_bill_set_id						INT = NULL
,@procedure_code_group_id					INT = NULL
,@result_code_set_id						INT = NULL
,@scope_of_limit_id							INT = NULL
,@operator_id								INT = NULL
,@dollar_limit								NUMERIC(19, 4) = NULL
,@result_code_id							INT = NULL
,@effective_from                            DATETIME = NULL
,@effective_thru                            DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'


IF ISNULL(@dollar_limit_assignment_id, 0) = 0
BEGIN
INSERT INTO dollar_limit_assignment
(
client_id
,client_group_id
,line_of_business_id
,claim_form_type_id
,claim_type_id
,type_of_bill_set_id
,procedure_code_group_id
,result_code_set_id
,scope_of_limit_id
,operator_id
,dollar_limit
,result_code_id
,effective_from
,effective_thru
)
VALUES
(@client_id
,@client_group_id
,@line_of_business_id
,@claim_form_type_id
,@claim_type_id
,@type_of_bill_set_id
,@procedure_code_group_id
,@result_code_set_id
,@scope_of_limit_id
,@operator_id
,@dollar_limit
,@result_code_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @dollar_limit_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(
SELECT dollar_limit_assignment_id
FROM dollar_limit_assignment
WHERE dollar_limit_assignment_id = @dollar_limit_assignment_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE dollar_limit_assignment
SET
client_id						= @client_id
,client_group_id				= @client_group_id
,line_of_business_id			= @line_of_business_id
,claim_form_type_id				= @claim_form_type_id
,claim_type_id					= @claim_type_id
,type_of_bill_set_id			= @type_of_bill_set_id
,procedure_code_group_id		= @procedure_code_group_id
,result_code_set_id				= @result_code_set_id
,scope_of_limit_id				= @scope_of_limit_id
,operator_id					= @operator_id
,dollar_limit					= @dollar_limit
,result_code_id					= @result_code_id
,effective_from 				= @effective_from
,effective_thru 				= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE dollar_limit_assignment_id = @dollar_limit_assignment_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
