USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_caption_upd]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_caption_upd]    Script Date: 07/18/2008 10:30:45 ******/

Create Procedure [dbo].[plx_dto_report_parameter_caption_upd] (
@report_parameter_caption_id int output,
@report_parameter_caption_ud nvarchar(50)
) As

if (@report_parameter_caption_id is null)
Begin
Insert Into report_parameter_caption (
report_parameter_caption_ud
)
Values (
@report_parameter_caption_ud
)

Set @report_parameter_caption_id = @@IDENTITY
End
Else
Begin
Update
report_parameter_caption
Set
report_parameter_caption_ud = @report_parameter_caption_ud
Where
report_parameter_caption_id = @report_parameter_caption_id
End
GO
