USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_set_detail_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_client_set_detail_delete] (@client_set_detail_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

--
IF NOT EXISTS (
SELECT *
FROM client_set_detail
WHERE client_set_detail_id = @client_set_detail_id
)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE
FROM client_set_detail
WHERE client_set_detail_id = @client_set_detail_id
END

--
RETURN @SP_SUCCESS
--
GO
