USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_mapped_result_code_type_all_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Nov 24 2005  3:50PM   Initial generation
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
02/26/2010	Vishwa			1.0			Description field is removed from the list
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single result_code_type_list from the result_code_type table.
--
REQUIREMENTS:
--
INPUTS:
result_code_type_id - Key to result_code_type table, identifies a single stored result_code_type_list.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_mapped_result_code_type_all_load]
AS
--
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
result_code_type.result_code_type_id
,result_code_type.result_code_type_ud
FROM result_code_type
WHERE ISNULL(golden_key, '') NOT IN('QC Adjudication')
ORDER BY result_code_type_ud
--
RETURN @SP_SUCCESS
--
GO
