USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_customer_refund_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: This procedure is used to find Customer Refunds.
******************************/
CREATE PROCEDURE [dbo].[plx_find_customer_refund_load](
@get_column_headers BIT = 0
,@accounting_transaction_ar_ud NVARCHAR(100) = NULL
,@customer_id INT = NULL
,@accounting_payment_status_id INT = NULL
,@accounting_company_id INT = NULL
,@bank_account_id INT = NULL
,@ar_accounting_company_account_id INT = NULL
,@receivables_ar_id INT = NULL
,@transaction_date_from DATETIME = NULL
,@transaction_date_thru DATETIME = NULL
,@amount_from NUMERIC(20,10) = NULL
,@amount_thru NUMERIC(20,10) = NULL
,@show_exact_match BIT = 0
)
AS
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SqlQuery NVARCHAR(4000)
,@SqlCondition NVARCHAR(4000)
,@SqlOrderBy NVARCHAR(4000)
,@Prefix NVARCHAR(10)
,@Suffix NVARCHAR(10);


SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@SqlQuery = ''
,@SqlCondition = ' WHERE '+CONVERT(NVARCHAR(1),@get_column_headers)+' = 0 '
,@SqlOrderBy = ''
,@Prefix = ''
,@Suffix = '';


-- Make sure to compare dates only
SET @transaction_date_from = CONVERT(DATE,@transaction_date_from)
-- add a day to the thru date and then use the < comparison operator
SET @transaction_date_thru = DATEADD(day,1,CONVERT(DATE,@transaction_date_thru))

IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = ''' ';
END
ELSE
BEGIN
SET @Prefix = ' LIKE N''';
SET @Suffix = '%''';
END

--accounting_transaction_ar_ud
IF @accounting_transaction_ar_ud IS NOT NULL
AND @accounting_transaction_ar_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(ata.accounting_transaction_ar_ud, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@accounting_transaction_ar_ud,@show_exact_match
)+@Suffix
END

--@customer_id
IF(@customer_id IS NOT NULL
AND @customer_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND c.customer_id = '+CONVERT(VARCHAR(10),@customer_id)
END

--@accounting_payment_status_id
IF(@accounting_payment_status_id IS NOT NULL
AND @accounting_payment_status_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.accounting_payment_status_id = '+CONVERT(VARCHAR(10),@accounting_payment_status_id)
END

--@accounting_company_id
IF(@accounting_company_id IS NOT NULL
AND @accounting_company_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ac.accounting_company_id = '+CONVERT(VARCHAR(10),@accounting_company_id)
END

--@bank_account_id
IF(@bank_account_id IS NOT NULL
AND @bank_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.bank_account_id = '+CONVERT(VARCHAR(10),@bank_account_id)
END

--@ar_accounting_company_account_id
IF(@ar_accounting_company_account_id IS NOT NULL
AND @ar_accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.ar_accounting_company_account_id = '+CONVERT(VARCHAR(10),@ar_accounting_company_account_id)
END

--@receivables_ar_id
IF(@receivables_ar_id IS NOT NULL
AND @receivables_ar_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ar_tx_apply_to.to_accounting_transaction_ar_id = '+CONVERT(VARCHAR(10),@receivables_ar_id)
END

--@transaction_date_from
IF(@transaction_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_date >= '''+CONVERT(VARCHAR(23),@transaction_date_from)+''''
END

--@transaction_date_thru
IF(@transaction_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_date < '''+CONVERT(VARCHAR(23),@transaction_date_thru)+''''
END

--@amount_from
IF(@amount_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_amount >= '+CONVERT(VARCHAR(23),@amount_from)
END

--@amount_thru
IF(@amount_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_amount <= '+CONVERT(VARCHAR(23),@amount_thru)
END

SET @SqlQuery =
' SELECT  DISTINCT ' +
'		ata.accounting_transaction_ar_id, '+
'		ata.accounting_transaction_ar_ud, '+
'		ata.customer_id, '+
'		c.customer_ud, '+
'		ata.transaction_date,'+
'		ata.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		bank_account.bank_account_ud, '+
'		detail.accounting_payment_status_id, '+
'		accounting_payment_status.accounting_payment_status_ud, '+
'		accounting_payment_status.golden_key as accounting_payment_status_gk, '+
'		aca.accounting_company_account_ud, '+
'		ata.transaction_amount as transaction_amount '+
' FROM 	' +
'		accounting_transaction_ar_refund_detail detail ' +
'		LEFT JOIN accounting_transaction_ar ata '+
'			ON ata.accounting_transaction_ar_id = detail.accounting_transaction_ar_id '+
'		LEFT JOIN customer c '+
'			ON c.customer_id = ata.customer_id '+
'		LEFT JOIN accounting_company AS ac '+
'			ON ata.accounting_company_id = ac.accounting_company_id '+
'		LEFT JOIN bank_account '+
'			ON detail.bank_account_id = bank_account.bank_account_id '+
'		LEFT JOIN accounting_company_account AS aca '+
'			ON detail.ar_accounting_company_account_id = aca.accounting_company_account_id '+
'		LEFT OUTER JOIN accounting_payment_status  '+
'			ON detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id '+
'       LEFT JOIN accounting_transaction_ar_apply_to ar_tx_apply_to' +
'           ON ata.accounting_transaction_ar_id = ar_tx_apply_to.from_accounting_transaction_ar_id'

SET @SqlOrderBy = '	ORDER BY ata.accounting_transaction_ar_ud'

-- PRINT @SqlQuery + @SqlCondition + @SqlOrderBy
EXEC (@SqlQuery+@SqlCondition+@SqlOrderBy)
IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
