USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Thuy Ngo	1.0			Created and used for Procedure Code Form
03/09/2009  Isaac Overacker 1.1  Defaulted units to 1
07/29/2009	Vishwa			2.0	updated with _id fields for procedure codes
03/11/2010	Vishwa			2.1	added service_preauth field to support dental claim pre_determination services
08/18/2014 - RT:6046 Updated created/modified tombstone columns
11/13/2017	eponomareff		RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT' on claim_procedure inserts
12/18/2017	amortensen 		2.4	RT:12550 - Units have been added to Dental claims, no longer defaulted to 1
--
CURRENT_VERSION: 2.4
--
ICU:
--
DESCRIPTION:
This procedure is used to update claim procedure data for dental claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_procedure_save] (
@claim_procedure_id           INT = NULL OUTPUT
,@dental_claim_id             INT = NULL
,@procedure_code_id           INT = NULL
,@procedure_code_ud           NVARCHAR(50) = NULL
,@alternate_procedure_code_id INT = NULL
,@alternate_procedure_code_ud NVARCHAR(50) = NULL
,@diagnosis_code_ud           NVARCHAR(50) = NULL
,@diagnosis_sequence          NVARCHAR(50) = NULL
,@modifiers                   NVARCHAR(100) = NULL
,@institutional_rate          NUMERIC(20, 10) = NULL
,@place_of_service_id         INT = NULL
,@type_of_service_id          INT = NULL
,@units                       NUMERIC(19, 4) = NULL
,@unit_type_dental_claim_id   INT = NULL
,@visits                      INT = NULL
,@allowed_amount              NUMERIC(20, 10) = NULL
,@cob                         BIT = NULL
,@cob_amount                  NUMERIC(20, 10) = NULL
,@add_cob_amount              BIT = NULL
,@other_cob                   NUMERIC(20, 10) = NULL
,@add_other_cob               BIT = NULL
,@charge                      NUMERIC(20, 10) = NULL
,@non_covered_charge          NUMERIC(20, 10) = NULL
,@claim_line_status_id        INT = NULL
,@relative_value_units        NUMERIC(20, 10) = NULL
,@early_periodic_screen       BIT = NULL
,@emergency                   BIT = NULL
,@service_preauth             BIT = 0
,@tooth_system_id             INT = NULL
,@tooth_number_letter_id      INT = NULL
,@area_of_oral_cavity_id      INT = NULL
,@local_use                   NVARCHAR(50) = NULL
,@tooth_surface_ud            NVARCHAR(50) = NULL
,@procedure_date              DATETIME = NULL
,@claim_line_sequence         INT = NULL
,@clean_date                  DATETIME = NULL
,@received_date               DATETIME = NULL
,@original_line_amount        NUMERIC(20, 10) = NULL
,@active                      BIT = 1
,@created_user_group          INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON

--
DECLARE
@SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@SP_EXCEPTION INT

SELECT
@SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '159840011'
,@ERROR_NOT_EXIST = '159840012'
,@ERROR_CANT_UPDATE = '159840013'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@SP_EXCEPTION = - 1

-- RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT'
DECLARE @Original_Source_USER_INTERFACE_GK NVARCHAR(50)

SET @Original_Source_USER_INTERFACE_GK = 'QC_THICK_CLIENT'

DECLARE @parent_key INT
DECLARE @i INT
DECLARE @temp NVARCHAR(50)
DECLARE @temp1 NVARCHAR(50)
DECLARE @index INT
DECLARE @claim_id INT

SET @claim_id = (SELECT TOP 1 claim_id FROM dental_claim WHERE dental_claim.dental_claim_id = @dental_claim_id)

--
IF (@claim_procedure_id IS NULL) OR (@claim_procedure_id = 0)
BEGIN
--- Create a new record
INSERT INTO claim_procedure (
claim_id
,procedure_code_id
,procedure_code_ud
,alternate_procedure_code_id
,alternate_procedure_code_ud
,diagnosis_code_ud
,diagnosis_sequence
,modifiers
,institutional_rate
,service_from_date
,service_thru_date
,place_of_service_id
,type_of_service_id
,units
,unit_type_dental_claim_id
,visits
,repricing_amount
,cob
,cob_amount
,add_cob_amount
,other_cob
,add_other_cob
,charge
,non_covered_charge
,relative_value_units
,early_periodic_screen
,emergency
,service_preauth
,tooth_system_id
,tooth_number_letter_id
,area_of_oral_cavity_id
,local_use
,claim_line_sequence
,clean_date
,received_date
,original_line_amount
,original_source_gk
,active
,created_user_group
)
VALUES (
@claim_id
,@procedure_code_id
,@procedure_code_ud
,@alternate_procedure_code_id
,@alternate_procedure_code_ud
,@diagnosis_code_ud
,@diagnosis_sequence
,@modifiers
,@institutional_rate
,@procedure_date
,@procedure_date
,@place_of_service_id
,@type_of_service_id
,@units
,@unit_type_dental_claim_id
,@visits
,@allowed_amount
,@cob
,@cob_amount
,@add_cob_amount
,@other_cob
,@add_other_cob
,@charge
,@non_covered_charge
,@relative_value_units
,@early_periodic_screen
,@emergency
,@service_preauth
,@tooth_system_id
,@tooth_number_letter_id
,@area_of_oral_cavity_id
,@local_use
,@claim_line_sequence
,@clean_date
,@received_date
,@original_line_amount
,@Original_Source_USER_INTERFACE_GK
,@active
,@created_user_group
)

--
SET @claim_procedure_id = SCOPE_IDENTITY()
SET @parent_key = SCOPE_IDENTITY()

--insert a row into claim_procedure_tooth_surface table
IF (@tooth_surface_ud IS NOT NULL) AND (LTRIM(@tooth_surface_ud) <> '')
BEGIN
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ' ', '')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ',', '')
SET @temp = @tooth_surface_ud
SET @i = 1

WHILE (@i <= LEN(@tooth_surface_ud))
BEGIN
SET @temp1 = SUBSTRING(@temp, @i, 1)
SET @index = (SELECT TOP 1 tooth_surface.tooth_surface_id FROM tooth_surface WHERE tooth_surface.tooth_surface_ud = @temp1)

IF (@index IS NOT NULL) AND (@index <> 0)
BEGIN
INSERT INTO claim_procedure_tooth_surface (
claim_procedure_id
,tooth_surface_id
)
VALUES (
@parent_key
,@index
)
END

SET @i = @i + 1
END
END
END
ELSE IF NOT EXISTS (SELECT * FROM claim_procedure WHERE claim_procedure_id = @claim_procedure_id)
BEGIN
-- Don't check it now, cause of the duplicated by using PX, DX code
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
DELETE FROM claim_procedure_tooth_surface
WHERE claim_procedure_id IN (SELECT claim_procedure.claim_procedure_id FROM claim_procedure WHERE claim_procedure.claim_procedure_id = @claim_procedure_id)

--- Updating an existing record
--
DECLARE @ErrorVar INT, @RowCountVar INT

UPDATE claim_procedure
SET
claim_id = @claim_id
,procedure_code_id           = @procedure_code_id
,procedure_code_ud           = @procedure_code_ud
,alternate_procedure_code_id = @alternate_procedure_code_id
,alternate_procedure_code_ud = @alternate_procedure_code_ud
,diagnosis_code_ud           = @diagnosis_code_ud
,diagnosis_sequence          = @diagnosis_sequence
,modifiers                   = @modifiers
,institutional_rate          = @institutional_rate
,service_from_date           = @procedure_date
,service_thru_date           = @procedure_date
,place_of_service_id         = @place_of_service_id
,type_of_service_id          = @type_of_service_id
,units                       = @units
,unit_type_dental_claim_id   = @unit_type_dental_claim_id
,visits                      = @visits
,repricing_amount            = @allowed_amount
,cob                         = @cob
,cob_amount                  = @cob_amount
,add_cob_amount              = @add_cob_amount
,other_cob                   = @other_cob
,add_other_cob               = @add_other_cob
,charge                      = @charge
,non_covered_charge          = @non_covered_charge
,relative_value_units        = @relative_value_units
,early_periodic_screen       = @early_periodic_screen
,emergency                   = @emergency
,service_preauth             = @service_preauth
,tooth_system_id             = @tooth_system_id
,tooth_number_letter_id      = @tooth_number_letter_id
,area_of_oral_cavity_id      = @area_of_oral_cavity_id
,local_use                   = @local_use
,claim_line_sequence         = @claim_line_sequence
,clean_date                  = @clean_date
,received_date               = @received_date
,original_line_amount        = @original_line_amount
,active                      = @active
,created_user_group          = @created_user_group
,modified_user_name          = ORIGINAL_LOGIN()
,modified_date               = GETDATE()
WHERE claim_procedure_id = @claim_procedure_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

--
SET @parent_key = @claim_procedure_id

--insert a row into claim_procedure_tooth_surface table
IF (@tooth_surface_ud IS NOT NULL) AND (LTRIM(@tooth_surface_ud) <> '')
BEGIN
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ' ', '')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ',', '')
SET @temp = @tooth_surface_ud
SET @i = 1

WHILE (@i <= LEN(@tooth_surface_ud))
BEGIN
SET @temp1 = SUBSTRING(@temp, @i, 1)
SET @index = (SELECT TOP 1 tooth_surface.tooth_surface_id FROM tooth_surface WHERE tooth_surface.tooth_surface_ud = @temp1)

IF (@index IS NOT NULL) AND (@index <> 0)
BEGIN
INSERT INTO claim_procedure_tooth_surface (
claim_procedure_id
,tooth_surface_id
)
VALUES (
@parent_key
,@index
)
END

SET @i = @i + 1
END
END
END

--
RETURN @SP_SUCCESS
END
GO
