USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_method_payment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
DATE: 05/03/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/03/2006	Lamnguyen	1.0		create and using form 10511 Accounting Transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down payment_method_payment (Payment Method (Payment))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_payment_method_payment_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
payment_method_payment.payment_method_payment_id
,payment_method_payment.payment_method_payment_ud
,payment_method_payment.golden_key
FROM payment_method_payment
order by payment_method_payment_ud asc

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
