USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_object_show_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Nov  6 2006  4:37PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Create a single object into the adjudication_object_show table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_adjudication_object_show_save]
(
@adjudication_object_show_id                int = NULL   OUTPUT
,@claim_form_type_id                         int = NULL
,@workgroup_role_uid                         int = NULL
,@adjudication_object_id                     int = NULL
,@order_to_show                              int = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @adjudication_object_show_id is Null
BEGIN

--- Create a new adjudication_object_show record
INSERT INTO adjudication_object_show(
claim_form_type_id
,workgroup_role_uid
,adjudication_object_id
,order_to_show
,active
)
VALUES
(@claim_form_type_id
,@workgroup_role_uid
,@adjudication_object_id
,@order_to_show
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @adjudication_object_show_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM adjudication_object_show WHERE adjudication_object_show_id = @adjudication_object_show_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing adjudication_object_show record
UPDATE adjudication_object_show
SET
claim_form_type_id                       = @claim_form_type_id
,workgroup_role_uid                       = @workgroup_role_uid
,adjudication_object_id                   = @adjudication_object_id
,order_to_show                            = @order_to_show
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE adjudication_object_show_id = @adjudication_object_show_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
