USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_capitation_definition_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/27/2008	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations
02/28/2018	amortensen		1.2		RT:8562Added wildcard encoding of ud and description fields
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find capitation definitions that match criteria.
--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_capitation_definition_load]
(
@capitation_definition_ud				NVARCHAR(50) = NULL
, @description							NVARCHAR(255) = NULL
, @capitation_group_id					INT = NULL
, @capitation_member_roster_id			INT = NULL
, @capitation_rate_id					INT = NULL
, @show_exact_matches					BIT = 0
)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

SET @capitation_definition_ud = dbo.plx_EncodeStringWildCard(@capitation_definition_ud, @show_exact_matches)
SET @description = dbo.plx_EncodeStringWildCard(@description, @show_exact_matches)

SELECT DISTINCT TOP (dbo.fn_results_limit())
cd.capitation_definition_id
,cd.capitation_definition_ud
,cd.description
,cmr.capitation_member_roster_ud
,cr.capitation_rate_ud
,cd.capitation_period_method_id
,cpm.capitation_period_method_ud
FROM  dbo.capitation_definition cd
LEFT JOIN capitation_definition_capitation_group cdcg ON
cd.capitation_definition_id = cdcg.capitation_definition_id
LEFT JOIN capitation_member_roster cmr ON
cd.capitation_member_roster_id = cmr.capitation_member_roster_id
LEFT JOIN capitation_rate cr ON
cd.capitation_rate_id = cr.capitation_rate_id
LEFT JOIN capitation_period_method cpm ON
cd.capitation_period_method_id = cpm.capitation_period_method_id
WHERE
(
ISNULL(@capitation_definition_ud,'') = ''
OR
(
(@show_exact_matches = 1 AND cd.capitation_definition_ud = @capitation_definition_ud)
OR
(@show_exact_matches = 0 AND cd.capitation_definition_ud LIKE @capitation_definition_ud + '%')
)
)
AND
(
ISNULL(@description,'') = ''
OR
(
(@show_exact_matches = 1 AND cd.description = @description)
OR
(@show_exact_matches = 0 AND cd.description LIKE @description + '%')
)
)
AND
(
ISNULL(@capitation_group_id,'') = ''
OR
cdcg.capitation_group_id = @capitation_group_id
)
AND
(
ISNULL(@capitation_member_roster_id,'') = ''
OR
cmr.capitation_member_roster_id = @capitation_member_roster_id
)
AND
(
ISNULL(@capitation_rate_id,'') = ''
OR
cr.capitation_rate_id = @capitation_rate_id
)
ORDER BY cd.capitation_definition_ud

RETURN @SP_SUCCESS
GO
