USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_auto_termination_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0		Created
05/12/2009	Chad Maddox	1.1		Added ability to short circuit where clause to just return column names.
02/25/2010	Vishwa			1.2		Removed missing_elgiibility field on auto termination queue criteria grid to															fecilitate denied lines to pick up same quueue
11/17/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Find auto termination Queues that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@auto_termination_queue_ud
@description
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_auto_termination_queue_load]
(
@get_column_headers		BIT = 0
, @auto_termination_queue_ud	NVARCHAR(50) = NULL
, @description				NVARCHAR(255) = NULL
, @client_id				INT = NULL
, @client_group_id			INT = NULL
, @benefit_contract_id		INT = NULL
, @benefit_plan_id			INT = NULL
, @show_exact_matches		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @auto_termination_queue_ud IS NOT NULL AND @auto_termination_queue_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(atq.auto_termination_queue_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@auto_termination_queue_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(atq.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND atqc.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND atqc.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @benefit_contract_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND atqc.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)

IF @benefit_plan_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND atqc.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id)


SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
atq.auto_termination_queue_id
,atq.auto_termination_queue_ud
,cn.client_ud
,cgn.client_group_ud
,bc.benefit_contract_ud
,bp.benefit_plan_ud
FROM  dbo.auto_termination_queue atq
LEFT JOIN auto_termination_queue_queue_criteria atqc ON atq.auto_termination_queue_id = atqc.auto_termination_queue_id
LEFT JOIN client_name cn ON atqc.client_id = cn.client_id
LEFT JOIN client_group_name cgn ON atqc.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON atqc.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp ON atqc.benefit_plan_id = bp.benefit_plan_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY atq.auto_termination_queue_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY atq.auto_termination_queue_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
