USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_family_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Generate the Enrollment ID for Enrollment records (family_eligibility table).
This ID may be overwritten in the UI by the user.

Note that the "Employee PID" referred to in the golden key is the
PID on the Subscriber member record.

In each case, we first build a @prefix, which holds whatever data is required by rule,
apart from the counter. Later we add the counter, if needed.

******************************/
CREATE      PROCEDURE [dbo].[plx_auto_create_family_id_rule]
(
@golden_key			NVARCHAR(50) = NULL
,@benefit_contract_id	INT = NULL
,@PID			 		NVARCHAR(50) = NULL
,@client_group_ud		NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

IF ISNULL(@golden_key, '') = ''
BEGIN
SELECT @golden_key = auto_create_family_id_rule.golden_key
FROM   benefit_contract
LEFT JOIN auto_create_family_id_rule ON auto_create_family_id_rule.auto_create_family_id_rule_id = benefit_contract.auto_create_family_id_rule_id
WHERE  benefit_contract.benefit_contract_id=@benefit_contract_id;
END

--No rule selected on contract, so look for one in global rules.
IF ISNULL(@golden_key, '') = ''
BEGIN
SET @golden_key = (SELECT a.golden_key FROM auto_create_family_id_rule as a
inner join global_rule as gr
ON  a.auto_create_family_id_rule_id = gr.auto_create_family_id_rule_id);
END

-- Set the prefix for the auto generated id.
DECLARE
@prefix				NVARCHAR(100)
,@family_eligibility_ud NVARCHAR(100);

SET @family_eligibility_ud='';

-- Only 'Group ID + Counter' needs a counter; everything else exits early.
IF ((@golden_key='Group ID + Counter') OR (@golden_key='Group ID + Counter (No Hyphen)'))
BEGIN
-- if Group ID not passed in, find it on Benefit Contract
IF ISNULL(@client_group_ud, '') = ''
BEGIN
SELECT @client_group_ud = client_group_name.client_group_ud
FROM   benefit_contract
LEFT JOIN client_group ON client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client_group_name ON client_group_name.client_group_id = client_group.client_group_id
WHERE  benefit_contract.benefit_contract_id=@benefit_contract_id
AND client_group_name.primary_name = 1;
END
SET @prefix = ISNULL(@client_group_ud, '');
END
ELSE IF (@golden_key='Group ID + Employee PID (Personal Identification)')
BEGIN
-- if Group ID not passed in, find it on Benefit Contract
IF ISNULL(@client_group_ud, '') = ''
BEGIN
SELECT @client_group_ud = client_group_name.client_group_ud
FROM   benefit_contract
LEFT JOIN client_group ON client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client_group_name ON client_group_name.client_group_id = client_group.client_group_id
WHERE  benefit_contract.benefit_contract_id=@benefit_contract_id
AND client_group_name.primary_name = 1;
END
SELECT ISNULL(@client_group_ud, '') + '-' + @PID AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END
ELSE IF (@golden_key='Employee PID + Benefit Contract ID')
BEGIN
DECLARE @benefit_contract_ud NVARCHAR(50);
SELECT @benefit_contract_ud = benefit_contract_ud FROM benefit_contract WHERE benefit_contract_id=@benefit_contract_id;
SELECT @PID + '_' + ISNULL(@benefit_contract_ud, '') AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END
ELSE IF (@golden_key='Internal ID')
BEGIN
SELECT dbo.plx_fn_IntToString(IDENT_CURRENT('family_eligibility') + 1, 8) AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END
ELSE IF (@golden_key='Default Eligibility ID' OR @golden_key='Employee PID' )
BEGIN
SELECT @PID AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END
ELSE
BEGIN
SELECT @family_eligibility_ud AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_length				INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@hyphen						NVARCHAR(1);

SET @counter_length = 5;
SET @auto_create_counter_type_ud = 'Enrollment ' + @prefix;

IF (@golden_key like '%(No Hyphen)')
SET @hyphen = '';
ELSE
SET @hyphen = '-';

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud;
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length);
SELECT @family_eligibility_ud = ISNULL(@prefix, '') + @hyphen + @counter_text;

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM family_eligibility
WHERE family_eligibility_ud = @family_eligibility_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud;
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length);
SELECT @family_eligibility_ud = ISNULL(@prefix, '') + @hyphen + @counter_text;
END

SELECT @family_eligibility_ud AS family_eligibility_ud;
RETURN @SP_SUCCESS;
END
GO
