USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/15/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2005	ptran	1.0			create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single accumulator
--
REQUIREMENTS:
--
INPUTS:
@accumulator_id - Key to accumulator table, identifies a single stored accumulator.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_delete]
(
@accumulator_id             int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT 1 FROM accumulator WHERE accumulator_id = @accumulator_id )
BEGIN
-- RAISERROR('accumulator object not found in accumulator for internal key %d.', 16, 1, @accumulator_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM accumulator
WHERE accumulator_id = @accumulator_id
END
--
RETURN @SP_SUCCESS
--
GO
