USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_by_benefit_framework_per_benefit_contract_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Date: 08/25/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/25/2005	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select data from benefit_plan table by benefit_framework_id and benefit_contract
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_by_benefit_framework_per_benefit_contract_load]
(
@benefit_framework_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT distinct
benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_nm
,benefit_contract.benefit_contract_id
,  benefit_contract.benefit_contract_ud
, '' as effective_from
, '' as effective_thru
FROM benefit_plan
left join benefit_framework  ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
left join benefit_contract_period_benefit_plan on benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
left join benefit_contract_period on benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
left join benefit_contract on benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
WHERE benefit_plan.benefit_framework_id = @benefit_framework_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
