USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_diagnosis_code_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:	eponomareff
Date:	2013-jul-23
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/23/2013	eponomareff		1.0			created
07/31/2013	eponomareff		1.1			added diagnosis_code_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save stored procedure for Diagnosis Codes grid in Dental Claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dental_claim_diagnosis_code_save]
(
@dental_claim_diagnosis_code_id              int = NULL   OUTPUT
,@dental_claim_diagnosis_code_sequence      int = NULL
,@dental_claim_id                            int = NULL
,@diagnosis_code_id                          int = NULL
,@diagnosis_code_ud                          nvarchar(50) = NULL
,@diagnosis_code_version_id                  int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @dental_claim_diagnosis_code_id is Null
BEGIN
--- Create a new record
INSERT INTO dental_claim_diagnosis_code(
dental_claim_diagnosis_code_sequence
,dental_claim_id
,diagnosis_code_id
,diagnosis_code_ud
,diagnosis_code_version_id
,active
)
VALUES
(@dental_claim_diagnosis_code_sequence
,@dental_claim_id
,@diagnosis_code_id
,@diagnosis_code_ud
,@diagnosis_code_version_id
,@active
)
--
SET @dental_claim_diagnosis_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dental_claim_diagnosis_code WHERE dental_claim_diagnosis_code_id = @dental_claim_diagnosis_code_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE dental_claim_diagnosis_code
SET
dental_claim_id                          =  @dental_claim_id
,dental_claim_diagnosis_code_sequence     = @dental_claim_diagnosis_code_sequence
,diagnosis_code_id                        = @diagnosis_code_id
,diagnosis_code_ud                        = @diagnosis_code_ud
,diagnosis_code_version_id                = @diagnosis_code_version_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE dental_claim_diagnosis_code_id = @dental_claim_diagnosis_code_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
