USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_framework_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2005	HiepNguyen	1.0		Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single object from the benefit_plan_accumulator_framework table.
This stored procedure is used in the Accumulator Framework of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
benefit_plan_accumulator_framework_id - Key to benefit_plan_accumulator_framework table, identifies a single stored benefit_plan_accumulator_framework_list.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_accumulator_framework_list_load]
(
@benefit_plan_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bpcf.benefit_plan_accumulator_framework_id
,bpcf.accumulator_framework_id
,ac.accumulator_framework_ud
,ac.accumulator_framework_nm

FROM benefit_plan_accumulator_framework bpcf
inner join benefit_plan bp ON bp.benefit_plan_id = bpcf.benefit_plan_id
inner join accumulator_framework  ac ON ac.accumulator_framework_id = bpcf.accumulator_framework_id
WHERE bp.benefit_plan_id = @benefit_plan_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
