USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_tiered_coinsurance_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
09/08/2010	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Find Tiered Coinsurance that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@tiered_coinsurance_ud
@description
@tier_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_tiered_coinsurance_load]
(
@get_column_headers			BIT = 0
, @tiered_coinsurance_ud				NVARCHAR(50) = NULL
, @tiered_coinsurance_description					NVARCHAR(255) = NULL
, @tier_id						INT = NULL
, @show_exact_matches			BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @tiered_coinsurance_ud IS NOT NULL AND @tiered_coinsurance_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(tc.tiered_coinsurance_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tiered_coinsurance_ud, @show_exact_matches) + @Suffix

IF @tiered_coinsurance_description IS NOT NULL AND @tiered_coinsurance_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(tc.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tiered_coinsurance_description, @show_exact_matches) + @Suffix

IF @tier_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND tier.tier_id = ' + CONVERT(NVARCHAR, @tier_id)

SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
tc.tiered_coinsurance_id
,tc.tiered_coinsurance_ud
,tc.description
,tier.tier_ud
FROM  dbo.tiered_coinsurance tc
LEFT JOIN tier tier ON tc.tier_id = tier.tier_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY tc.tiered_coinsurance_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY tc.tiered_coinsurance_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
