USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_institutional_provider_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION	:
This procedure is used to load provider data for institutional claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE PROCEDURE [dbo].[plx_claim_institutional_provider_load]
(
@provider_identifier_id INT = NULL ,
@provider_id INT = NULL ,
@claim_id INT = NULL
)
AS
BEGIN

CREATE TABLE #provider
(
provider_id INT ,
provider_identifier_id INT ,
provider_ud NVARCHAR(256)
);

--use provider_identifier preferentially, if provided
IF @provider_identifier_id IS NOT NULL
AND @provider_id IS NOT NULL
BEGIN
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
INNER JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   pi.provider_identifier_id = @provider_identifier_id
AND p.provider_id = @provider_id;
END;
ELSE
IF @provider_id IS NOT NULL
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
LEFT JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   p.provider_id = @provider_id;
ELSE
IF @provider_identifier_id IS NOT NULL -- Use provider_identifier_only
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
LEFT JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   pi.provider_identifier_id = @provider_identifier_id;


---

-- If #provider not populated, nothing will be returned
SELECT DISTINCT
pn.name_first AS provider_name_first ,
pn.name_last AS provider_name_last ,
pn.name_middle AS provider_name_middle ,
a.address_1 AS 'provider_address_1' ,
a.address_2 AS 'provider_address_2' ,
l.city AS 'provider_city' ,
s.state_ud AS 'provider_state' ,
l.postal_code AS 'provider_postal_code' ,
country.country_ud AS 'provider_country'
FROM    #provider p
LEFT JOIN dbo.provider_name pn ON pn.provider_id = p.provider_id
AND pn.is_primary = 1
LEFT JOIN dbo.address a ON a.address_id = dbo.plx_fn_claim_provider_address_id(@claim_id,
p.provider_id)
LEFT JOIN locale AS l ON l.locale_id = a.locale_id
LEFT JOIN state AS s ON s.state_id = l.state_id
LEFT JOIN country ON country.country_id = l.country_id;
END;
GO
