USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_record_id_by_note_link_view_and_view_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Vishwa Jella
;
REVISION_HISTORY:

Date			Modified By		Version		Description
--------------------------------------------------------------------------------------------------
08/10/2009	Vishwa Jella	1.0			Created

12/18/2015  Incorporating performance changes for ticket 9552
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Checks Whether note_link_view data has match for record_id
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_check_record_id_by_note_link_view_and_view_id]
(

@note_link_view_record_id int,  -- view record id ( filter with this id)
@note_link_view nvarchar(261),
@link_table_column_id nvarchar(128),
@record_id int,			 -- look for this id in view (parent id - finding notes for this id)
@record_column_id nvarchar(128),
@record_exists bit OUTPUT
)
AS
SET NOCOUNT ON

DECLARE @ReturnValue int = 0

DECLARE @SQL nvarchar(2000)
DECLARE @CRLF nchar(2) = NCHAR(13) + NCHAR(10)
DECLARE @TAB nchar(1) = NCHAR(9)

DECLARE @ObjectName nvarchar(128)
DECLARE @ObjectSchema nvarchar(128)

DECLARE @note_link_record_id int

SET @record_exists = 0

SET @note_link_view_record_id = COALESCE(@note_link_view_record_id, 0)
SET @note_link_view = NULLIF(LTRIM(RTRIM(@note_link_view)), N'')
SET @link_table_column_id = NULLIF(LTRIM(RTRIM(@link_table_column_id)), N'')
SET @record_id = COALESCE(@record_id, 0)
SET @record_column_id = NULLIF(LTRIM(RTRIM(@record_column_id)), N'')

IF @record_id > 0 AND @note_link_view_record_id > 0 AND @note_link_view IS NOT NULL AND @link_table_column_id IS NOT NULL AND @record_column_id IS NOT NULL
BEGIN
SET @ObjectName = PARSENAME(@note_link_view, 1)
SET @ObjectSchema = COALESCE(PARSENAME(@note_link_view, 2), N'dbo')

SET @SQL = N'SELECT DISTINCT'
SET @SQL += @CRLF + @TAB + N'@note_link_record_id = t1.' + QUOTENAME(PARSENAME(@record_column_id, 1))
SET @SQL += @CRLF + N'FROM ' + QUOTENAME(@ObjectSchema) + N'.' + QUOTENAME(@ObjectName) + N' t1'
SET @SQL += @CRLF + N'WHERE t1.' + QUOTENAME(PARSENAME(@link_table_column_id, 1)) + N' = @note_link_view_record_id'
SET @SQL += @CRLF + N'AND t1.' + QUOTENAME(PARSENAME(@record_column_id, 1)) + N' = @record_id'

BEGIN TRY
EXEC sys.sp_executesql @SQL, N'@note_link_record_id int OUTPUT, @note_link_view_record_id int, @record_id int', @note_link_record_id OUTPUT, @note_link_view_record_id, @record_id

IF @@ROWCOUNT > 0
IF @note_link_record_id > 0
SET @record_exists = 1
END TRY
BEGIN CATCH
SET @ReturnValue = ERROR_NUMBER()
END CATCH

--PRINT @SQL
--PRINT ' '
--PRINT '@note_link_view_record_id = ' + COALESCE(CONVERT(varchar(11), @note_link_view_record_id), '(null)')
--PRINT '@record_id = ' + COALESCE(CONVERT(varchar(11), @record_id), '(null)')
--PRINT '@note_link_record_id = ' + COALESCE(CONVERT(varchar(11), @note_link_record_id), '(null)')
--PRINT ' '
END

RETURN(@ReturnValue)
GO
