USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_detail_clear]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_timely_payment_queue_detail_clear]
@claim_timely_payment_queue_id INT
AS
-- clear out all records for this filter that have not been reviewed
DELETE FROM claim_timely_payment_queue_detail
WHERE
claim_timely_payment_queue_id = @claim_timely_payment_queue_id
AND
reviewed = 0

UPDATE claim_timely_payment_queue SET generated_date = NULL
WHERE claim_timely_payment_queue_id = @claim_timely_payment_queue_id
RETURN 0
GO
