USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_using_accumulator_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
DATE: 10/04/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/04/2007	Abhishek	1.0		Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Benefit Contracts Where accumulator framework is used

--
REQUIREMENTS:
--
INPUTS:
@accumulator_framework_id
--
OUTPUTS:
benefit_contract records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_using_accumulator_framework_load]
(
@accumulator_framework_id int = NULL
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
bp.benefit_plan_id as benefit_plan_id
,bp.benefit_plan_ud as benefit_plan_ud
,bp.benefit_plan_nm
,bc.benefit_contract_id
,bc.benefit_contract_nm
,  bc.benefit_contract_ud
, bcp.effective_from
,bcp.effective_thru
,bcaf.modified_date
FROM benefit_contract_accumulator_framework bcaf
left join benefit_contract bc on bc.benefit_contract_id = bcaf.benefit_contract_id
left join benefit_contract_period bcp on bcp.benefit_contract_id=bc.benefit_contract_id
left join benefit_contract_period_benefit_plan bcpbp on bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
left join benefit_plan bp on bcpbp.benefit_plan_id = bp.benefit_plan_id
WHERE bcaf.accumulator_framework_id = @accumulator_framework_id
--ORDER BY
--	  CASE WHEN bcp.effective_from IS NULL THEN 0 ELSE 1 END , bcp.effective_from DESC
--	 ,CASE WHEN bcp.effective_thru IS NULL THEN 0 ELSE 1 END , bcp.effective_thru DESC


union
SELECT DISTINCT
bp.benefit_plan_id as benefit_plan_id
,bp.benefit_plan_ud as benefit_plan_ud
,bp.benefit_plan_nm
,bc.benefit_contract_id
,bc.benefit_contract_nm
,  bc.benefit_contract_ud
, bcp.effective_from
,bcp.effective_thru
,bcp.modified_date

FROM benefit_contract bc
INNER JOIN benefit_contract_period bcp ON bcp.benefit_contract_id = bc.benefit_contract_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan bp on bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework on benefit_plan_accumulator_framework.benefit_plan_id = bp.benefit_plan_id
INNER JOIN accumulator_framework on benefit_plan_accumulator_framework.accumulator_framework_id = accumulator_framework.accumulator_framework_id
WHERE accumulator_framework.accumulator_framework_id = @accumulator_framework_id

--ORDER BY
--	  CASE WHEN bcp.effective_from IS NULL THEN 0 ELSE 1 END , bcp.effective_from DESC
--	 ,CASE WHEN bcp.effective_thru IS NULL THEN 0 ELSE 1 END , bcp.effective_thru DESC


--

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
