USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ucr_conversion_factor_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[plx_dd_ucr_conversion_factor_load]
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
umucf.ucr_module_id
,ucf.ucr_conversion_factor_id
,ucr_conversion_factor_ud
,ucf.golden_key
FROM ucr_conversion_factor ucf
JOIN ucr_module_ucr_conversion_factor umucf
ON
ucf.ucr_conversion_factor_id = umucf.ucr_conversion_factor_id
ORDER BY ucr_conversion_factor_ud ASC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
