USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Aug 31 2005 10:15AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/03/2005	Trinh Le		1.0			Get benefit class id
12/10/2007	David Slayton	1.1			IC# 17575: Removed all_treatment_type_sets column
06/24/2009	Vishwa Jella	1.2		Added encumber_maximum_payment_accumulator to copay and coinsurance class
08/04/2009  ioveracker     1.3      Added referring_provider_rule_id and rendering_provider_exception_id.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_benefit_load]
(
@benefit_id		Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit.benefit_id
,benefit.benefit_ud as benefit_ud
,benefit.description as benefit_description
,benefit.treat_as_copay
,benefit.treat_as_coinsurance
,benefit.set_to_zero_if_not_in_schedule
,benefit.referring_provider_rule_id
,benefit.rendering_provider_exception_id
,benefit_framework_benefit_class.benefit_framework_benefit_class_id
,copayment_value_rule.copayment_value_rule_id
,copayment_value_rule_ud
,encumber_maximum_payment_accumulator
--Trinh Le Added
,benefit_framework_benefit_class.benefit_class_id
,benefit_class.ui_engine_data_type_id
,benefit.modified_date


FROM 	benefit
inner join benefit_framework_benefit_class  ON benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit.benefit_framework_benefit_class_id
left join benefit_class on benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
left join ui_engine_data_type on ui_engine_data_type.ui_engine_data_type_id = benefit_class.ui_engine_data_type_id


left join copayment_value_rule on copayment_value_rule.copayment_value_rule_id=benefit.copayment_value_rule_id
WHERE 	benefit.benefit_id = @benefit_id

--select * from benefit_framework_benefit_class

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
