USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_claim_certification_condition_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/04/2018 	eponomareff	1.0		RT:11001 UI Duplicate Claim must support claim certification condition
02/01/2022  kirkc		1.1		RT-20830 addressed performance issue by removing cursor
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to duplicate claim line level claim condition information from tables:

claim_certification_condition

when duplicating a claim_procedure record or claim record.

******************************/
CREATE  PROCEDURE [dbo].[plx_claim_procedure_claim_certification_condition_duplicate]
(

@new_claim_id                 INT,              -- new claim_id (may not be null)
@old_claim_id                 INT = NULL,       -- old claim_id (may be null if record is for claim_procedure)
@new_claim_procedure_id       INT = NULL,       -- new claim_procedure_id (may be null if child record is for entire claim)
@old_claim_procedure_id       INT = NULL        -- current claim_procedure_id (may be null if child record is for entire claim)

) AS
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0;

--
SET NOCOUNT ON;

-- will duplicate appropriately whether or not associated with a claim_procedure record
INSERT INTO dbo.claim_certification_condition (
claim_id
,claim_procedure_id
,claim_certification_condition_code_gk
,claim_certification_condition_code_applies_flag
,claim_certification_condition_type_gk
,active
)
SELECT
@new_claim_id
,@new_claim_procedure_id
,ccc.claim_certification_condition_code_gk
,ccc.claim_certification_condition_code_applies_flag
,ccc.claim_certification_condition_type_gk
,ccc.active
FROM claim_certification_condition ccc
WHERE
(@old_claim_procedure_id IS NULL AND claim_procedure_id IS NULL AND claim_id = @old_claim_id)	-- child record is for the entire claim
OR
(claim_procedure_id = @old_claim_procedure_id);	-- child record is for the claim_procedure

RETURN @SP_SUCCESS;
--
END;
GO
