USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to save a row in grid "Family Members" on the Enrollment form.
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_save] (
@family_eligibility_member_id INT = NULL OUTPUT
,@family_eligibility_id INT = NULL
,@member_id INT = NULL OUTPUT
,@member_name_id INT = NULL OUTPUT
,@relationship_to_insured_id INT = NULL
,@person_code CHAR(2) = NULL
,@member_disclosure_restriction_id INT = NULL
,@use_subsciber_address BIT = NULL
,@name_last NVARCHAR(100)
,@name_first NVARCHAR(100)
,@name_middle NVARCHAR(100)
,@name_prefix_id INT = NULL
,@name_suffix NVARCHAR(50) = NULL
,@personalid NVARCHAR(50) = NULL
,@personal_id_id INT = NULL OUTPUT
,@birth_date DATETIME = NULL
,@gender_id INT = NULL
,@active BIT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON;

--
DECLARE @SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT
,@SP_EXCEPTION INT;

SELECT @SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '159840011'
,@ERROR_NOT_EXIST = '159840012'
,@ERROR_CANT_UPDATE = '159840013'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3
,@SP_EXCEPTION = - 1;

DECLARE @member_id_type_id INT;
DECLARE @telephone_number_type_id INT;
DECLARE @fax_number_type_id INT;

SET @member_id_type_id = (
SELECT [member_id_type_id]
FROM [member_id_type]
WHERE [member_id_type].[golden_key] = 'PID'
);

--// create & update new member
IF @member_id IS NULL
-- create new member
BEGIN
EXEC [plx_member_save] @member_id = @member_id OUTPUT
,@member_name_id = @member_name_id OUTPUT
,@name_last = @name_last
,@name_first = @name_first
,@name_middle = @name_middle
,@name_prefix_id = @name_prefix_id
,@name_suffix = @name_suffix
,@personal_id_id = @personal_id_id OUTPUT
,@personal_pid = @personalid
,@birth_date = @birth_date
,@gender_id = @gender_id
,@active = @active;

IF @family_eligibility_member_id IS NULL
BEGIN
--- Create a new record
INSERT INTO [family_eligibility_member] (
[family_eligibility_id]
,[member_id]
,[relationship_to_insured_id]
,[person_code]
,[member_disclosure_restriction_id]
,[use_subsciber_address]
,[active]
)
VALUES (
@family_eligibility_id
,@member_id
,@relationship_to_insured_id
,@person_code
,@member_disclosure_restriction_id
,@use_subsciber_address
,@active
);

SET @family_eligibility_member_id = @@IDENTITY;
END;
END;
ELSE
BEGIN
-- --------------------------------------------------------------------------------------
DECLARE @ErrorVar INT
,@RowCountVar INT;

UPDATE [member]
SET [birth_date] = @birth_date
,[gender_id] = @gender_id
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
WHERE [member_id] = @member_id
-- Update only if data has changed.
AND (
DATEDIFF(DAY, [member].[birth_date], @birth_date) <> 0
OR [member].gender_id <> @gender_id
);

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_UPDATE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
END;

----------------Update member_name
DECLARE @alias_type_id INT;

SELECT @alias_type_id = [alias_type_id]
FROM [dbo].[alias_type]
WHERE [alias_type_ud] = 'Person';

DECLARE @old_name_first NVARCHAR(100)
,@old_name_last NVARCHAR(100)
,@old_name_middle NVARCHAR(100)
,@old_name_prefix_id INT
,@old_name_suffix NVARCHAR(50)
,@new_name_first NVARCHAR(100)
,@new_name_last NVARCHAR(100)
,@new_name_middle NVARCHAR(100)
,@new_name_prefix_id INT
,@new_name_suffix NVARCHAR(50);

SELECT @old_name_first = ISNULL([name_first], '')
,@old_name_last = ISNULL([name_last], '')
,@old_name_middle = ISNULL([name_middle], '')
,@old_name_prefix_id = ISNULL([name_prefix_id], 0)
,@old_name_suffix = ISNULL([name_suffix], '')
FROM [dbo].[member_name]
WHERE [member_name_id] = @member_name_id;

SET @new_name_first = ISNULL(@name_first, '');
SET @new_name_last = ISNULL(@name_last, '');
SET @new_name_middle = ISNULL(@name_middle, '');
SET @new_name_prefix_id = ISNULL(@name_prefix_id, 0);
SET @new_name_suffix = ISNULL(@name_suffix, '');

IF @name_last IS NOT NULL
OR @name_first IS NOT NULL
BEGIN
IF @old_name_first <> @new_name_first
OR @old_name_last <> @new_name_last
OR @old_name_prefix_id <> @new_name_prefix_id
OR @old_name_suffix <> @new_name_suffix
OR @old_name_middle <> @new_name_middle
BEGIN
PRINT 'update member name alias  ';

UPDATE [member_name]
SET [is_primary] = 0
WHERE [member_name_id] = @member_name_id;

INSERT INTO [member_name] (
[member_id]
,[name_last]
,[name_first]
,[name_middle]
,[name_prefix_id]
,[name_suffix]
,[alias_type_id]
,[is_primary]
,[active]
)
VALUES (
@member_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
);

SET @member_name_id = @@IDENTITY;

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END;
END;
END;

-------------------------------------PID------------------------------------------------------------------------
BEGIN
UPDATE [member_personal_id]
SET [member_id] = @member_id
,[member_id_type_id] = @member_id_type_id
,[id_value] = @personalid
WHERE [member_personal_id_id] = @personal_id_id;
END;

DECLARE @relationship_to_insured_golden NVARCHAR(50);

SELECT @relationship_to_insured_golden = [relationship_to_insured].[golden_key]
FROM [relationship_to_insured]
WHERE [relationship_to_insured].[relationship_to_insured_id] = @relationship_to_insured_id;

IF @family_eligibility_member_id IS NULL
BEGIN
--- Create a new record
INSERT INTO [family_eligibility_member] (
[family_eligibility_id]
,[member_id]
,[relationship_to_insured_id]
,[person_code]
,[member_disclosure_restriction_id]
,[use_subsciber_address]
,[active]
)
VALUES (
@family_eligibility_id
,@member_id
,@relationship_to_insured_id
,@person_code
,@member_disclosure_restriction_id
,@use_subsciber_address
,@active
);

SET @family_eligibility_member_id = @@IDENTITY;
END;
ELSE
BEGIN
IF NOT EXISTS (
SELECT *
FROM [family_eligibility_member]
WHERE [family_eligibility_member_id] = @family_eligibility_member_id
)
BEGIN
RETURN @SP_EXCEPTION;
END;
ELSE
BEGIN
UPDATE [family_eligibility_member]
SET [family_eligibility_id] = @family_eligibility_id
,[member_id] = @member_id
,[relationship_to_insured_id] = @relationship_to_insured_id
,[person_code] = @person_code
,[member_disclosure_restriction_id] = @member_disclosure_restriction_id
,[use_subsciber_address] = @use_subsciber_address
,[active] = @active
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
WHERE [family_eligibility_member_id] = @family_eligibility_member_id;

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_UPDATE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
END;
END;;
END;
END;

RETURN @SP_SUCCESS;
END;
GO
