USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_correspondence_manual_generated_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/19/2006	Hiep Nguyen	1.0		Created
08/31/2006	Hiep Nguyen	1.1		Changed created_date to date_document_received
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Manually Generated Documents grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_correspondence_manual_generated_list_load]
(
@client_id	INT = NULL
)
AS
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_correspondence.client_correspondence_id
, correspondence_manual_generated.correspondence_manual_generated_id
-- Document Name
, correspondence_manual_generated.document_name
-- Generated By
, correspondence_manual_generated.generated_by
, user_generated.uid as user_generated_id
-- Received By
, correspondence_manual_generated.received_by
, user_received.uid as user_received_id
-- Date Generated
, correspondence_manual_generated.date_generated
-- Date Received
, correspondence_manual_generated.date_received
-- Document Saved Location
, correspondence_manual_generated.document_saved_path
-- Date Time
, correspondence_manual_generated.date_document_received as date_time
FROM client_correspondence
INNER JOIN correspondence_manual_generated
ON correspondence_manual_generated.correspondence_manual_generated_id = client_correspondence.correspondence_manual_generated_id
LEFT JOIN sysusers user_generated
ON user_generated.name = correspondence_manual_generated.generated_by
LEFT JOIN sysusers user_received
ON user_received.name = correspondence_manual_generated.received_by
WHERE
client_correspondence.client_id = @client_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
