USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_license_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:17AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for agent license grid on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_agent_license_list_save]
(
@agent_license_id                           int = NULL   OUTPUT
,@agent_id                                   int = NULL
,@state_id                                   int = NULL
,@agent_licensing_body_name                  nvarchar(100) = NULL
,@benefit_category_id                        int = NULL
,@license_number                             nvarchar(50) = NULL
,@licensing_effective_from                datetime = NULL
,@licensing_effective_thru                 datetime = NULL
,@cancellation_reason_id                     int = NULL
,@commission_payment_status_id               int = NULL
,@active                                     bit = 1
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_license_id is Null
BEGIN

--- Create a new agent_license record
INSERT INTO agent_license(
agent_id
,state_id
,agent_licensing_body_name
,benefit_category_id
,license_number
,effective_from
,effective_thru
,cancellation_reason_id
,commission_payment_status_id
,active
)
VALUES
(@agent_id
,@state_id
,@agent_licensing_body_name
,@benefit_category_id
,@license_number
,@licensing_effective_from
,@licensing_effective_thru
,@cancellation_reason_id
,@commission_payment_status_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_license_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_license WHERE agent_license_id = @agent_license_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_license record
UPDATE agent_license
SET
agent_id                                 = @agent_id
,state_id                                 = @state_id
,agent_licensing_body_name                = @agent_licensing_body_name
,benefit_category_id                      = @benefit_category_id
,license_number                           = @license_number
,effective_from                           = @licensing_effective_from
,effective_thru                           = @licensing_effective_thru
,cancellation_reason_id                   = @cancellation_reason_id
,commission_payment_status_id             = @commission_payment_status_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_license_id = @agent_license_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
