USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_choice_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	mttran		1.0			create
2006/02/17	Thuy Ha				Delete rows in referenced tables:
accumulator_limit_rule,
accumulator_sub_limit_rule
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a accumulator choice list in accumulator framework.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accumulator_choice_list_delete]
(
@accumulator_choice_list_id                 int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@FINAL_RESULT int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@FINAL_RESULT = 0
--
IF NOT EXISTS (SELECT * FROM accumulator_choice_list WHERE accumulator_choice_list_id = @accumulator_choice_list_id )
BEGIN
set @FINAL_RESULT = @SP_EXCEPTION
END
--
ELSE
BEGIN
--delete its reference(s)
DELETE FROM accumulator_valid_choice
WHERE accumulator_choice_list_id = @accumulator_choice_list_id

DELETE FROM accumulator_limit_rule
WHERE accumulator_limit_rule.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR accumulator_limit_rule.family_accumulator_choice_list_id = @accumulator_choice_list_id

DELETE FROM accumulator_sub_limit_rule
WHERE accumulator_sub_limit_rule.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR accumulator_sub_limit_rule.family_accumulator_choice_list_id = @accumulator_choice_list_id

--delete itself
DELETE FROM accumulator_choice_list
WHERE accumulator_choice_list_id = @accumulator_choice_list_id
END
--
--catch error if it happen
DECLARE @SWV_error int
SELECT  @SWV_error = @@ERROR
IF(@SWV_error <> 0) SET @FINAL_RESULT = @SP_EXCEPTION
--
RETURN @FINAL_RESULT
--
GO
