USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_run_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 02/11/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/11/2009	David Slayton	1.0			Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_run_status (Premium Run Status)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_run_status_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
premium_run_status.premium_run_status_id
,premium_run_status.premium_run_status_ud
,premium_run_status.golden_key

FROM premium_run_status
ORDER BY  premium_run_status_ud

RETURN @SP_SUCCESS
GO
