USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date:   08/10/2009
--
REVISION_HISTORY:
--
Date				Modified By		Version		Description
--------------------------------------------------------------------------------
04/20/2010		Vishwa Jella	1.0			Updated to show capitation_status field
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for capitation details grid on frmCapitationManualRun

--
REQUIREMENTS:
--
INPUTS:
@capitation_manual_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_manual_run_detail_load] (
@capitation_manual_run_id INT
) AS

SELECT
cmrd.capitation_manual_run_detail_id
,cmrd.capitation_manual_run_id
,cmrd.effective_from
,cmrd.effective_thru
,cmrd.provider_identifier_id
,pi.provider_ud
,dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name
,(cmrd.amount + ISNULL(cmrd.withhold_amount, 0)) as amount
,ISNULL(cmrd.withhold_amount, 0) as withhold_amount
,cmrd.withhold_account_id
,cmrd.amount as total
,cmrd.capitation_status_id
,cstat.capitation_status_ud
FROM capitation_manual_run_detail cmrd
JOIN provider_identifier pi on cmrd.provider_identifier_id = pi.provider_identifier_id
JOIN provider p on pi.provider_id = p.provider_id
JOIN provider_name pn on p.provider_id = pn.provider_id and pn.is_primary = 1
JOIN capitation_status cstat ON cmrd.capitation_status_id = cstat.capitation_status_id
WHERE cmrd.capitation_manual_run_id = @capitation_manual_run_id

ORDER BY
cmrd.effective_from
GO
