USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_treatment_type_is_service_included]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Used by Adjudication Only
Author: Aaron O'Neil
Purpose: Checks to see if a service is included in a treatment type for a given date.
Returns: 0 if not included or 1 if included.

Modified: 10/08/2013 eponomareff	Added icd version for px/dx codes

*/

Create Procedure [dbo].[plx_dto_treatment_type_is_service_included] (
@treatment_type_id int,
@px_code nvarchar(50),
@procedure_code_type_id int,
@procedure_code_icd_version_id int = null,
@dx_code nvarchar(50),
@diagnosis_code_version_id int,
@date_of_service datetime,
@debug int = 0
) As

Declare
@result int

-- Check to see if PX code has been eplicitly excluded. Excludes take priority over includes.
exec @result = plx_dto_treatment_type_is_service_included_check_px
@treatment_type_id,
@px_code,
@procedure_code_type_id,
@procedure_code_icd_version_id,
@date_of_service,
1

if @debug = 1
select @result as 'PX Excluded'

-- Exluded, nothing else matters.
if @result = 1
begin
return 0
end

-- Check to see if the PX code has been included.
exec @result = plx_dto_treatment_type_is_service_included_check_px
@treatment_type_id,
@px_code,
@procedure_code_type_id,
@procedure_code_icd_version_id,
@date_of_service,
0

if @debug = 1
select @result as 'PX Included'

-- Not included, can stop now, DX is irrelevant if the PX doesn't exist.
if @result = 0
begin
return 0
end

-- If there are not any DX codegroups assigned for the date of service, all DX codes are
-- considered covered.
exec @result = plx_dto_treatment_type_is_service_included_check_dx_assigned
@treatment_type_id,
@date_of_service

if @debug = 1
select @result as 'DX Code Groups Assigned'

-- Nothing assigned, all DX codes good.
if @result = 0
return 1

-- Check to see if DX code has been eplicitly excluded.
exec @result = plx_dto_treatment_type_is_service_included_check_dx
@treatment_type_id,
@dx_code,
@diagnosis_code_version_id,
@date_of_service,
1

if @debug = 1
select @result as 'DX Excluded'

-- Exluded, nothing else matters.
if @result = 1
begin
return 0
end

-- Check to see if the DX code has been included.
exec @result = plx_dto_treatment_type_is_service_included_check_dx
@treatment_type_id,
@dx_code,
@diagnosis_code_version_id,
@date_of_service,
0

if @debug = 1
select @result as 'DX Included'

-- DX not included.
if @result = 0
begin
return 0
end

return 1
GO
