USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_additional_information_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 4/1/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/03/2014  eponomareff             RT:6046 Data modification project
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Additional Information" (grdBCPBPAdditionalInfo)
in Benefit Contract Period Benefit Plan Additional Information form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_additional_information_delete]

(
@benefit_contract_period_benefit_plan_additional_information_id  int = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --

DELETE FROM benefit_contract_period_benefit_plan_additional_information
WHERE benefit_contract_period_benefit_plan_additional_information_id = @benefit_contract_period_benefit_plan_additional_information_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)


--
RETURN @SP_SUCCESS
--
GO
