USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_claim_payment_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/28/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/28/2008	David Slayton	1.0			Created
07/18/2008	David Slayton	1.1			Renamed table from claim_payment_vendor_account_assignment
to account_assignment_claim_payment
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for grdCPAccountAssignment on form frmAccountAssignment

--
REQUIREMENTS:
--
INPUTS:
@account_assignment_claim_payment_id
@criteria_id
@benefit_plan_id
@product_id
@provider_identifier_id
@client_id
@ap_accounting_company_account_id
@expense_accounting_company_account_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_account_assignment_claim_payment_save]
(
@account_assignment_claim_payment_id INT = 0   OUTPUT
,@criteria_id							INT = NULL
,@benefit_plan_id						INT = NULL
,@product_id							INT = NULL
,@provider_identifier_id				INT = NULL
,@client_id								INT = NULL
,@ap_accounting_company_account_id      INT = NULL
,@expense_accounting_company_account_id INT = NULL
,@effective_from						DATETIME = NULL
,@effective_thru						DATETIME = NULL
,@active								BIT = NULL

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
, @ERROR_CANT_UPDATE   NVARCHAR(50)
, @ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
, @ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
, @ERROR_CANT_UPDATE = '105280010'

IF ISNULL(@account_assignment_claim_payment_id, 0) = 0
BEGIN
INSERT INTO account_assignment_claim_payment(
criteria_id
,benefit_plan_id
,product_id
,provider_identifier_id
,client_id
,ap_accounting_company_account_id
,expense_accounting_company_account_id
,effective_from
,effective_thru
,active
)
VALUES
(@criteria_id
,@benefit_plan_id
,@product_id
,@provider_identifier_id
,@client_id
,@ap_accounting_company_account_id
,@expense_accounting_company_account_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @account_assignment_claim_payment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM account_assignment_claim_payment WHERE account_assignment_claim_payment_id = @account_assignment_claim_payment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


UPDATE account_assignment_claim_payment
SET
criteria_id				= @criteria_id
,benefit_plan_id			= @benefit_plan_id
,product_id				= @product_id
,provider_identifier_id	= @provider_identifier_id
,client_id				= @client_id
,ap_accounting_company_account_id		= @ap_accounting_company_account_id
,expense_accounting_company_account_id	= @expense_accounting_company_account_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,active                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE account_assignment_claim_payment_id = @account_assignment_claim_payment_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--



IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
