USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_criteria]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/06/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Loads data for drop down complex_duplicate_claim_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_criteria]

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
c.criteria_id,
c.criteria_ud
FROM
criteria c
INNER JOIN criteria_functional_area cfa
ON c.criteria_functional_area_id = cfa.criteria_functional_area_id
INNER JOIN criteria_processing_category cpc
ON c.criteria_processing_category_id = cpc.criteria_processing_category_id
WHERE
cpc.golden_key = 'COMPLEXDUPLICATECLAIMRULES'
AND cfa.golden_key = 'COMPLEXDUPLICATECLAIMRULES'

ORDER BY
c.criteria_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
