USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_stage_provider_group_by_provider]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_stage_provider_group_by_provider]
(
@capitationDefinitionId INT,
@capitationGroupId INT,
@effectiveFrom DATE,
@effectiveThru DATE
)
AS
BEGIN
SET NOCOUNT ON;

INSERT INTO capitation_staging_providers
(
provider_id
)
SELECT DISTINCT
pi.provider_id
FROM
capitation_group_provider_identifier cgpi
INNER JOIN provider_identifier pi
ON pi.provider_identifier_id = cgpi.provider_identifier_id
INNER JOIN provider p
ON p.provider_id = pi.provider_id
WHERE
-- Definitions with multiple groups can have providers that exist in multiple groups.
NOT EXISTS(SELECT 1 FROM capitation_staging_providers csp WHERE csp.provider_id = pi.provider_id)

AND cgpi.capitation_group_id = @capitationGroupId
AND cgpi.is_excluded = 0

-- Provider identifier intersects with the capitation period.
AND pi.effective_from <= @effectiveThru
AND (pi.effective_thru IS NULL OR @effectiveFrom <= pi.effective_thru)

-- Provider effective dates intersect with the capitation period.
AND (p.effective_from IS NULL OR p.effective_from <= @effectiveThru)
AND (p.effective_thru IS NULL OR @effectiveFrom <= p.effective_thru);

SELECT @@ROWCOUNT as 'staged_provider_count';

END
GO
