USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_zero_claim_vendor_batch_details_load_0229]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Client-specific functionality
Find data for zero claim vendor batch details find form.
******************************/
CREATE PROCEDURE [dbo].[plx_find_zero_claim_vendor_batch_details_load_0229] (
@get_column_headers					BIT = 0,
@reference_number					NVARCHAR(50) = NULL,
@vendor_id							INT = NULL,
@claim_id							INT = NULL,
@finalized_date_from				DATE = NULL,
@finalized_date_thru				DATE = NULL,
@last_printed_date_from				DATE = NULL,
@last_printed_date_thru				DATE = NULL,
@show_exact_matches					BIT = 0,
-- client-specific fields
@client_id							INT = NULL,
@provider_network_set_id			INT = NULL
)
AS
DECLARE
@SP_SUCCESS INT = 0,
@EARLIEST_FROM_DATE NVARCHAR(30) = '01-01-1753',
@LATEST_THROUGH_DATE NVARCHAR(30) = '12-30-9999';

-- using function calls in the 'where' clause can cause sql server to have to do table scans rather then index seeks.
DECLARE
@finalized_date_from2 DATE = ISNULL(@finalized_date_from, @EARLIEST_FROM_DATE),
@finalized_date_thru2 DATE = DATEADD(d, 1, ISNULL(@finalized_date_thru, @LATEST_THROUGH_DATE)),
@last_printed_date_from2 DATE = ISNULL(@last_printed_date_from, @EARLIEST_FROM_DATE),
@last_printed_date_thru2 DATE = DATEADD(d, 1, ISNULL(@last_printed_date_thru, @LATEST_THROUGH_DATE));

SELECT TOP (dbo.fn_results_limit())
b.zero_tracking_vendor_batch_id,
b.reference_number,
v.vendor_id,
v.vendor_ud,
v.vendor_nm,
claim_count.number_of_claims,
b.finalized_date,
b.last_printed_date,
-- client-specific fields
b_0229.client_id,
cn.client_ud,
b_0229.provider_network_set_id,
pns.provider_network_set_ud
FROM
zero_tracking_vendor_batch b
JOIN vendor v
ON v.vendor_id = b.vendor_id
JOIN zero_tracking_claim_procedure cp
ON cp.zero_tracking_vendor_batch_id = b.zero_tracking_vendor_batch_id
JOIN (
SELECT
COUNT(DISTINCT claim_id) AS number_of_claims,
zero_tracking_vendor_batch_id
FROM zero_tracking_claim_procedure
GROUP BY
zero_tracking_vendor_batch_id
) claim_count
ON claim_count.zero_tracking_vendor_batch_id = b.zero_tracking_vendor_batch_id
-- client-specific
LEFT JOIN 		zero_tracking_vendor_batch_0229 b_0229
ON b.zero_tracking_vendor_batch_id = b_0229.zero_tracking_vendor_batch_id
LEFT JOIN client_name cn
ON b_0229.client_id = cn.client_id
LEFT JOIN provider_network_set pns
ON b_0229.provider_network_set_id = pns.provider_network_set_id

WHERE
@get_column_headers = 0
AND (@vendor_id IS NULL OR @vendor_id = b.vendor_id)
AND (@claim_id IS NULL OR @claim_id = cp.claim_id)
AND ((@finalized_date_from IS NULL AND @finalized_date_thru IS NULL)
OR
b.finalized_date BETWEEN @finalized_date_from2 AND @finalized_date_thru2)
AND ((@last_printed_date_from IS NULL AND @last_printed_date_thru IS NULL)
OR
b.last_printed_date BETWEEN @last_printed_date_from2 AND @last_printed_date_thru2)
AND (@reference_number IS NULL
OR
(b.reference_number = @reference_number AND @show_exact_matches = 1)
OR
(ISNULL(@show_exact_matches,0) = 0 AND b.reference_number LIKE '%' + dbo.plx_EncodeStringWildCard(@reference_number, @show_exact_matches) + '%'))
-- client-specific fields
AND (@client_id IS NULL OR @client_id = b_0229.client_id)
AND (@provider_network_set_id IS NULL OR @provider_network_set_id = b_0229.provider_network_set_id)
GROUP BY
b.zero_tracking_vendor_batch_id,
b.reference_number,
v.vendor_id,
v.vendor_ud,
v.vendor_nm,
claim_count.number_of_claims,
b.finalized_date,
b.last_printed_date,
-- client-specific fields
b_0229.client_id,
cn.client_ud,
b_0229.provider_network_set_id,
pns.provider_network_set_ud

RETURN @SP_SUCCESS;
GO
