USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accumulator_by_accumulator_framework_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 10/17/2013
--
REVISION_HISTORY:
--
Date  Modified By Version  Description
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This script will fill a return Accumulator Framework Accumulator Class Accumulator information from the provided Accumulator Framework
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_accumulator_by_accumulator_framework_load]
(
@accumulator_framework_id INT = null
)
AS
--
DECLARE
@SP_SUCCESS INT

SELECT
@SP_SUCCESS = 0

SELECT
classAccum.accumulator_framework_accumulator_class_accumulator_id
,classAccum.accumulator_framework_accumulator_class_accumulator_ud
FROM
accumulator_framework_accumulator_class_accumulator classAccum
INNER JOIN
accumulator_framework_accumulator_class class ON class.accumulator_framework_accumulator_class_id = classAccum.accumulator_framework_accumulator_class_id
WHERE
class.accumulator_framework_id = ISNULL(@accumulator_framework_id, 0)
--
RETURN @SP_SUCCESS
--
GO
