USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_enroll_entire_family_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Aug 31 2005  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/18/2005	Tinh Do			Created
10/25/2005	Tinh Do						Do not select Garantor to Individual Member
08/18/2008	David Slayton	1.3			Removed life_insurance_coverage_unit column.
03/2/2010	Vishwa Jella	1.4			updated with family_eligibility_termination_reason_id to seed from
Enrollment to Eligibility
04/26/2012	eponomareff		1.5			effective date should be greatest of the following:
benefit period eff from, enrollment eff from, member birth date (newborns)

CURRENT_VERSION: 1.5
--
DESCRIPTION:
This procedure is used to enroll all member in Family Member grid in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_family_eligibility_enroll_entire_family_load]
(
@family_eligibility_id INT = null
,@benefit_contract_period_benefit_plan_id int = null
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@benefit_contract_period_effective_from datetime,
@default_eligibility_level_key nvarchar(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT @benefit_contract_period_effective_from = bcp.effective_from,
@default_eligibility_level_key = case
when bpt.golden_key = 'Base Plan' then 'PRIMARY'
when bpt.golden_key = 'Supplemental Plan' then 'SUPPLEMENTAL'
when bpt.golden_key = 'Rider Plan' then 'RIDER'
else 'PRIMARY' end --Default to Primary if an appropriate type is not found
FROM benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan_type bpt
ON bcpbp.benefit_plan_type_id = bpt.benefit_plan_type_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
--
SELECT distinct
0 as 'family_eligibility_member_benefit_plan_id'
,family_eligibility_member.family_eligibility_member_id
,@benefit_contract_period_benefit_plan_id as benefit_contract_period_benefit_plan_id
,'' as 'member_eligibility_ud'
-- eligibilities are 'Primary' level by default
,(SELECT eligibility_level_id FROM eligibility_level
WHERE UPPER(eligibility_level.golden_key) = @default_eligibility_level_key) AS 'eligibility_level_id'
,dbo.plx_ConcatenateName(name_last,name_first,name_middle,NULL) AS member_name
,family_eligibility_member.relationship_to_insured_id
,relationship_to_insured.relationship_to_insured_ud
-- effective date should be greatest of the following dates:
--		benefit_contract_period : effective from
--		enrollment : effective from
--		member: birth date
,effective_from =
CASE
WHEN @benefit_contract_period_effective_from IS NULL
OR family_eligibility.effective_from >= @benefit_contract_period_effective_from
THEN
CASE
WHEN family_eligibility.effective_from >= member.birth_date THEN family_eligibility.effective_from
ELSE member.birth_date
END
WHEN family_eligibility.effective_from < @benefit_contract_period_effective_from
THEN
CASE
WHEN @benefit_contract_period_effective_from >= member.birth_date THEN @benefit_contract_period_effective_from
ELSE member.birth_date
END
END
, family_eligibility.effective_thru
,family_eligibility.family_eligibility_termination_reason_id
,cast(0 as bit) as 'never_under_coverage'
,cast(0 as bit) as 'network_not_applicable'
,member.member_id
,cast(null as int) as template ----template filed
,(
SELECT benefit_plan_id from benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
) as 'benefit_plan_id'
,CAST(0 as bit) as 'disenrollment_letter_received'
,CAST(NULL as datetime) as 'disenrollment_letter_received_effective_as_of'

FROM family_eligibility_member
INNER JOIN member ON family_eligibility_member.member_id = member.member_id
AND family_eligibility_member.family_eligibility_id = @family_eligibility_id
INNER JOIN family_eligibility ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
INNER JOIN member_name ON  member.member_id  = member_name.member_id
LEFT JOIN relationship_to_insured ON family_eligibility_member.relationship_to_insured_id =relationship_to_insured.relationship_to_insured_id
WHERE family_eligibility_member.family_eligibility_member_id NOT IN
(
SELECT family_eligibility_member.family_eligibility_member_id
FROM family_eligibility_member
INNER JOIN family_eligibility ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
INNER JOIN relationship_to_insured ON family_eligibility_member.relationship_to_insured_id =relationship_to_insured.relationship_to_insured_id
WHERE family_eligibility.family_eligibility_id = @family_eligibility_id
--AND family_eligibility.dependent_only_policy = 1
AND relationship_to_insured.golden_key = 'Guarantor'
)
AND member_name.is_primary = 1
--
RETURN @SP_SUCCESS
--
GO
