USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_adding_child_reference_identifiers]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--===============================================================================================================
--Stored Procedure Name: bind_sp_adding_child_reference_identifiers
--Description: Identifies children claims that do not have d9 or clearing_house_claim_id values and adds the original claim's value
--Create Date: 07/29/2021
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description
--===============================================================================================================
--07/29/2021 | DJS    | 1.0     | Created stored procedure
--===============================================================================================================

CREATE PROCEDURE [dbo].[bind_sp_adding_child_reference_identifiers]

AS

BEGIN TRY
	BEGIN TRANSACTION

-- Identifying all claims that are missing either d9 and/or clearing_house_claim_id values first
-- to limit the number of claims that need to be processed further on, saving i/o
;with cte_S1 as (select distinct linked_claim_id from  qc_core.dbo.linked_claim_information lci
	where not exists (select 1 from qc_core.dbo.claim_additional_reference_number c
	where lci.claim_id=claim_id and c.claim_additional_reference_number_type_id = 7)
		or not exists (select 1 from qc_core.dbo.claim_additional_reference_number c
		where lci.claim_id=claim_id and c.claim_additional_reference_number_type_id = 2))

--pulling in the original view code from bind_vw_child_claim_identifier_reference
--and using a temp table for performance reasons.
,original_claim_reference as (
	select
		lci.claim_id as internal_claim_id,
		min(lci.linked_claim_id) as original_claim_id
	from qc_core.dbo.linked_claim_information lci with(nolock)
	where 1 = 1
	and linked_claim_id in (select linked_claim_id from cte_S1)
	group by
		lci.claim_id
)
,claim_identifier_reference as (
	select
		pivot_carn.claim_id as internal_claim_id,
		pivot_carn.d9,
		pivot_carn.clearing_house_claim_id
	from (
			select distinct
				case
					when carnt.golden_key not in ('D9','F8')
						then lower(replace(carnt.claim_additional_reference_number_type_ud,' ','_'))
					when carnt.golden_key in ('D9')
						then 'd9'
					when carnt.golden_key in ('F8')
						then 'clearing_house_claim_id'
				end
				as claim_additional_reference_number_type,
				carn.claim_id,
				carn.additional_reference_number
			from qc_core.dbo.claim_additional_reference_number carn with(nolock)
					inner join qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
						on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
			WHERE 1 = 1
		) t
		pivot (
			max(additional_reference_number)
			for claim_additional_reference_number_type in (
															d9,
															clearing_house_claim_id
															)
				) pivot_carn
	where 1 = 1
)
select
	ocr.internal_claim_id,
	ocr.original_claim_id,
	cir.d9,
	cir.clearing_house_claim_id
    into #tempresults
from original_claim_reference ocr
		inner join claim_identifier_reference cir
			on cir.internal_claim_id = ocr.original_claim_id
where 1 = 1


-- Identifying all claims that are missing either d9 and/or clearing_house_claim_id values and identifying the correct values
SELECT
	a.internal_claim_id,
	a.claim_ud,
	a.claim_additional_reference_number_type_id,
	a.additional_reference_number
	INTO
	#temp
FROM (
		SELECT
			ccir.internal_claim_id,
			c.claim_ud,
			7 AS claim_additional_reference_number_type_id,
			ccir.d9 AS additional_reference_number
		FROM qc_core.dbo.claim c WITH(NOLOCK)
             INNER JOIN #tempresults ccir
					ON ccir.internal_claim_id = c.claim_id
				LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
					ON carn.claim_id = c.claim_id
						and carn.claim_additional_reference_number_type_id = 7 -- d9
		WHERE 1 = 1
		AND carn.claim_id IS NULL
		AND ccir.d9 IS NOT NULL
		UNION ALL
		SELECT
			ccir.internal_claim_id,
			c.claim_ud,
			2 AS claim_additional_reference_number_type_id,
			ccir.clearing_house_claim_id AS additional_reference_number
		FROM qc_core.dbo.claim c WITH(NOLOCK)
             INNER JOIN #tempresults ccir
					ON ccir.internal_claim_id = c.claim_id
				LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
					ON carn.claim_id = c.claim_id
						and carn.claim_additional_reference_number_type_id = 2 -- clearing_house_claim_id
		WHERE 1 = 1
		AND carn.claim_id IS NULL
		AND ccir.clearing_house_claim_id IS NOT NULL
	) a


	-- Adding missing d9 & clearing_house_claim_id references
	INSERT INTO qc_core.dbo.claim_additional_reference_number (claim_id, claim_procedure_id, claim_additional_reference_number_type_id, additional_reference_number, comment, active, created_date, created_user_name, modified_date, modified_user_name)
	SELECT
		t.internal_claim_id AS claim_id,
		NULL AS claim_procedure_id,
		t.claim_additional_reference_number_type_id AS claim_additional_reference_number_type_id,
		t.additional_reference_number AS additional_reference_number,
		NULL AS comment,
		1 AS active,
		GETDATE() AS created_date,
		'bind\qcdatacleanup' AS created_user_name,
		GETDATE() modified_date,
		'bind\qcdatacleanup' AS modified_user_name
	FROM #temp t
	WHERE 1 = 1


	COMMIT TRANSACTION
END TRY

BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK
END CATCH
GO
