USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_void_claim_can_process]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************
DESCRIPTION:
This stored procedure checks if an claim_id can be process - if not we return the process preventing the claim from being processed.

******************************/
CREATE PROCEDURE [dbo].[plx_check_void_claim_can_process]
(
@claim_id INT,
@LOCK_PREVENTING NVARCHAR(50) OUTPUT
)
AS

SET @LOCK_PREVENTING = 'NO_LOCKS'
DECLARE @PROCESS_LOCK_TYPE_DP_CAPITATION_GK NVARCHAR(50) = 'DP_CAPITATION'
DECLARE @PROCESS_LOCK_TYPE_DP_CLAIMS_PAYMENT_GK NVARCHAR(50) = 'DP_CLAIMS_PAYMENT'
DECLARE @PROCESS_LOCK_TYPE_DP_CLIENT_FEES_GK NVARCHAR(50) = 'DP_CLIENT_FEES'
DECLARE @PROCESS_LOCK_TYPE_TAP_CAPITATION_GK NVARCHAR(50) = 'TAP_CAPITATION'
DECLARE @PROCESS_LOCK_TYPE_TAP_CLAIMS_PAYMENT_GK NVARCHAR(50) = 'TAP_CLAIMS_PAYMENT'
--DECLARE @PROCESS_LOCK_TYPE_TAP_PREMIUM_BILLING_GK NVARCHAR(50) = 'TAP_PREMIUM_BILLING' NOT NEEDED - DOES NOT TOUCH CLAIM
DECLARE @PROCESS_LOCK_TYPE_TAP_REINSURANCE_BILLING_GK NVARCHAR(50) = 'TAP_REINSURANCE_BILLING'
DECLARE @CONCURRENCY_LOCK_TYPE_CLAIM_GK NVARCHAR(50) = 'CLAIM'

--Check to see if the claim has a concurrency lock
IF EXISTS(
SELECT 1
FROM concurrency_lock
JOIN concurrency_lock_type
ON concurrency_lock.concurrency_lock_type_id = concurrency_lock_type.concurrency_lock_type_id
WHERE
concurrency_lock_type.golden_key = @CONCURRENCY_LOCK_TYPE_CLAIM_GK
AND
concurrency_lock.record_id = @claim_id
)
SET @LOCK_PREVENTING = 'CONCURRENCY_LOCK'

--Check to see if the claim has a process lock
-- IF there is a concerrency lock it doesn't matter since a process lock of
--  these types will force the process to have to stop processing claims since these processes
--  wont update statuses until its finished and we heavily rely on the status to be right before we process.
IF EXISTS(
SELECT 1
FROM process_lock
JOIN process_lock_type
ON process_lock.process_lock_type_id = process_lock_type.process_lock_type_id
WHERE
process_lock_type.golden_key IN (
@PROCESS_LOCK_TYPE_DP_CAPITATION_GK,
@PROCESS_LOCK_TYPE_DP_CLAIMS_PAYMENT_GK,
@PROCESS_LOCK_TYPE_DP_CLIENT_FEES_GK,
@PROCESS_LOCK_TYPE_TAP_CAPITATION_GK,
@PROCESS_LOCK_TYPE_TAP_CLAIMS_PAYMENT_GK,
--@PROCESS_LOCK_TYPE_TAP_PREMIUM_BILLING_GK, NOT NEEDED - DOES NOT TOUCH CLAIM
@PROCESS_LOCK_TYPE_TAP_REINSURANCE_BILLING_GK
)
)
SELECT @LOCK_PREVENTING = golden_key
FROM process_lock
JOIN process_lock_type
ON process_lock.process_lock_type_id = process_lock_type.process_lock_type_id
WHERE
process_lock_type.golden_key IN (
@PROCESS_LOCK_TYPE_DP_CAPITATION_GK,
@PROCESS_LOCK_TYPE_DP_CLAIMS_PAYMENT_GK,
@PROCESS_LOCK_TYPE_DP_CLIENT_FEES_GK,
@PROCESS_LOCK_TYPE_TAP_CAPITATION_GK,
@PROCESS_LOCK_TYPE_TAP_CLAIMS_PAYMENT_GK,
--@PROCESS_LOCK_TYPE_TAP_PREMIUM_BILLING_GK, NOT NEEDED - DOES NOT TOUCH CLAIM
@PROCESS_LOCK_TYPE_TAP_REINSURANCE_BILLING_GK
)
GO
