USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tier_criteria_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 01/19/2012

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/19/2012	eponomareff		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of tier criteria for a given tier
--
REQUIREMENTS:
--
INPUTS:

@tier_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_tier_criteria_load]
(
@tier_id int
)

AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
tier_criteria_id
,tier_criteria_ud

FROM
tier_criteria

WHERE
tier_id = @tier_id

ORDER BY tier_criteria_ud
--
RETURN @SP_SUCCESS
--
GO
