USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_disenrollment_letter_check]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cknobloch
Date: 09/13/2011
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is used to indicate if the disenrollment letter is required off of the benefit plan.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_disenrollment_letter_check]
(
@benefit_contract_period_benefit_plan_id                 int
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE @IS_CHECKED INT
--

IF EXISTS (
SELECT * FROM benefit_contract_period_benefit_plan bcpbp
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
and CAST (ISNULL(bcpbp.disenrollment_letter,0) AS BIT ) = 1
)
BEGIN
SELECT @IS_CHECKED = 1
END

ELSE
BEGIN
SELECT @IS_CHECKED = 0
END
--
RETURN @IS_CHECKED
--
SET NOCOUNT OFF

END
GO
