USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_ncci_editing_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
2/1/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load NCCI editing parameters for Claim Processing Rules Framework
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_ncci_editing_load]
(
@claim_processing_rule_framework_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
SELECT 'Professional' as ncci_type_of_claim
,0 as ncci_enable
,0 as ncci_payment_modification
UNION
SELECT 'Institutional Outpatient' as ncci_type_of_claim
,0 as ncci_enable
,0 as ncci_payment_modification
END

ELSE
BEGIN

SELECT 'Professional' as ncci_type_of_claim
,ncci_professional_enable as ncci_enable
,ncci_professional_payment_modification as ncci_payment_modification
FROM claim_processing_rule_framework
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT 'Institutional Outpatient' as ncci_type_of_claim
,ncci_institutional_outpatient_enable as ncci_enable
,ncci_institutional_outpatient_payment_modification as ncci_payment_modification
FROM claim_processing_rule_framework
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
--
RETURN @SP_SUCCESS
GO
