USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_agent_carrier_appointment_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006 	HuyThan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down agent_carrier_appointment_status (Appointment Status)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_agent_carrier_appointment_status_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_carrier_appointment_status.agent_carrier_appointment_status_id
,agent_carrier_appointment_status.agent_carrier_appointment_status_ud
,agent_carrier_appointment_status.description
FROM agent_carrier_appointment_status
ORDER BY agent_carrier_appointment_status_ud
--
RETURN @SP_SUCCESS
GO
