USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_past_due_penalty_rate_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Jun  2 2006 11:32AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/06/2009	David Slayton	1.1		Removed commented out code reference to billing_rule.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the billing_rule table.
--
REQUIREMENTS:
--
INPUTS:
billing_rule_id - Key to billing_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_past_due_penalty_rate_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
past_due_penalty_rate.past_due_penalty_rate_id
,past_due_penalty_rate.past_due_penalty_rate_ud
--   ,bill_to.golden_key
FROM dbo.past_due_penalty_rate
ORDER BY past_due_penalty_rate_ud
--
RETURN @SP_SUCCESS
GO
