USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_company_account_with_accouting_company_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
DATE: 04/28/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/28/2006	Anh Ta		1.0		Created
09/28/2006	Anh Ta		2.0		Fixed Deffect Offline #6621
12/16/2006	Anh Ta		3.0		Fixed Deffect Offline #8000
05/21/2008	lrenard		3.1     accounting_company_account schema change - 18152
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_accounting_company_account_with_accouting_company_load]
(
@accounting_company_id INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_company_account_id as accounting_company_account_id
,acc.accounting_company_account_ud as accounting_company_account_ud
FROM accounting_company_account acc
INNER JOIN accounting_company  ON accounting_company.accounting_company_id = acc.accounting_company_id
WHERE acc.accounting_company_id= @accounting_company_id
AND acc.account_status_id = (SELECT account_status_id
FROM account_status
WHERE golden_key = 'ACTIVE'
)
ORDER BY accounting_company_account_ud
--
RETURN @SP_SUCCESS
--
GO
