USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_revert_table_change]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey

DESCRIPTION:
Called to revert a change made by a user to data we ship from Collaborator.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

Create Procedure [dbo].[plx_gdct_revert_table_change]
(
@table_name nvarchar(255)
)
As
Begin
DECLARE
@table_row_id int,
@has_been_deleted bit,
@table_def_id int

SELECT @table_def_id = table_def_id FROM
system_table WHERE table_name = @table_name

IF @table_def_id IS NULL
return

DECLARE cur_row CURSOR FOR
SELECT table_row_id, has_been_deleted
FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id

OPEN cur_row
FETCH NEXT FROM cur_row
INTO @table_row_id, @has_been_deleted

WHILE @@FETCH_STATUS = 0
BEGIN
IF (@has_been_deleted = 1)
EXEC plx_gdct_revert_deleted_row @table_def_id, @table_row_id
ELSE
EXEC plx_gdct_revert_row_change @table_name, @table_row_id

FETCH NEXT FROM cur_row
INTO @table_row_id, @has_been_deleted
END

CLOSE cur_row
DEALLOCATE cur_row

End
GO
