USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Save data for Vendor Refund Payment form Header
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_detail_save]
(
@accounting_transaction_ap_id                         INT = NULL  OUTPUT -- This param must be first!
,@accounting_transaction_ap_refund_payment_detail_id   INT = NULL   OUTPUT
-- accounting_transaction_ap table
-- no ud, because it is auto-generated and may not be edited
,@payment_amount                                       NUMERIC(20,10)
,@accounting_payment_status_id                         INT = NULL
,@vendor_id                                            INT
,@accounting_company_id                                INT
,@ap_accounting_company_account_id                     INT
,@bank_account_id                                      INT
,@payment_date                                         DATETIME
,@payment_method_payment_id                            INT
,@check_ach_reference                                  NVARCHAR(50)
,@memo                                                 NVARCHAR(200)
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @accounting_vendor_refund_payment_transaction_type_id INT

SELECT @accounting_vendor_refund_payment_transaction_type_id = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'VENDOR_REFUND_PAYMENT';

IF @payment_amount IS NULl
SET @payment_amount = 0;

-- Find account associated with bank account
DECLARE @cash_account_id INT =
(SELECT cash_accounting_company_account_id
FROM bank_account
WHERE bank_account_id = @bank_account_id
AND effective_from <= @payment_date
AND (effective_thru IS NULL OR effective_thru >= @payment_date));
--

IF @accounting_transaction_ap_refund_payment_detail_id IS NULL
BEGIN
-- Get the autogenerated Vendor Refund Payment UD
DECLARE @vendor_refund_ud NVARCHAR(100)
EXEC plx_auto_create_accounting_vendor_refund_id_rule @vendor_id, @vendor_refund_ud OUTPUT

INSERT INTO accounting_transaction_ap(
accounting_transaction_ap_ud
,vendor_id
,accounting_company_id
,accounting_transaction_ap_type_id
,transaction_date
,transaction_amount
)
VALUES
(
@vendor_refund_ud
,@vendor_id
,@accounting_company_id
,@accounting_vendor_refund_payment_transaction_type_id
,@payment_date
,@payment_amount
)

SET @accounting_transaction_ap_id = @@IDENTITY

INSERT INTO accounting_transaction_ap_refund_payment_detail(
accounting_transaction_ap_id
,ap_accounting_company_account_id
,bank_account_id
,accounting_payment_status_id
,payment_method_payment_id
,check_ach_reference
,memo
)
VALUES (
@accounting_transaction_ap_id
,@ap_accounting_company_account_id
,@bank_account_id
,@accounting_payment_status_id
,@payment_method_payment_id
,@check_ach_reference
,@memo
)

-- Distribution Records
-- AP Account (a credit type account) is increased (reversing credit that decreases)
INSERT INTO accounting_transaction_ap_distribution (
accounting_transaction_ap_id
,accounting_company_account_id
,amount
,is_debit
)
VALUES (
@accounting_transaction_ap_id
,@ap_accounting_company_account_id
,@payment_amount
,0
)

-- Cash Account (a debit type account) is increased
INSERT INTO accounting_transaction_ap_distribution (
accounting_transaction_ap_id
,accounting_company_account_id
,amount
,is_debit
)
VALUES (
@accounting_transaction_ap_id
,@cash_account_id
,@payment_amount
,1
)

SET @accounting_transaction_ap_refund_payment_detail_id = @@IDENTITY

END
ELSE IF NOT EXISTS
(SELECT * FROM accounting_transaction_ap_refund_payment_detail atpd
JOIN accounting_transaction_ap ata
ON atpd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
WHERE atpd.accounting_transaction_ap_id = @accounting_transaction_ap_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Update transaction record	(transaction of type vendor_refund_payment)
UPDATE accounting_transaction_ap
SET
vendor_id                          = @vendor_id
,accounting_company_id              = @accounting_company_id
,accounting_transaction_ap_type_id  = @accounting_vendor_refund_payment_transaction_type_id
,transaction_date                   = @payment_date
,transaction_amount                 = @payment_amount
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE   accounting_transaction_ap_id = @accounting_transaction_ap_id

-- Update vendor_refund_payment details record
UPDATE accounting_transaction_ap_refund_payment_detail
SET
accounting_transaction_ap_id       = @accounting_transaction_ap_id
,ap_accounting_company_account_id   = @ap_accounting_company_account_id
,bank_account_id                    = @bank_account_id
,accounting_payment_status_id       = @accounting_payment_status_id
,payment_method_payment_id          = @payment_method_payment_id
,memo                               = @memo
,check_ach_reference                = @check_ach_reference
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ap_refund_payment_detail_id = @accounting_transaction_ap_refund_payment_detail_id;

-- Update Distribution Records
-- AP Account (a credit type account) is increased (reversing credit that decreases)
UPDATE accounting_transaction_ap_distribution
SET
accounting_company_account_id      = @ap_accounting_company_account_id
,amount                             = @payment_amount
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
AND is_debit = 0;

-- Cash Account (a debit type account) is increased
UPDATE accounting_transaction_ap_distribution
SET
accounting_company_account_id = @cash_account_id
,amount                        = @payment_amount
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
AND is_debit = 1;
END

--
RETURN @SP_SUCCESS
--
GO
