USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns


DESCRIPTION:	Save a record for benefit_plan set detail on frmBenefitPlanSet

******************************/

CREATE   PROCEDURE [dbo].[plx_benefit_plan_set_detail_save]
(
@benefit_plan_set_detail_id		INT = 0   OUTPUT
,@benefit_plan_set_id				INT = 0
,@benefit_plan_id					INT = 0
,@effective_from					DATETIME = NULL
,@effective_thru					DATETIME = NULL
,@active							BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@benefit_plan_set_detail_id, 0) = 0
BEGIN
INSERT INTO benefit_plan_set_detail(
benefit_plan_set_id
,benefit_plan_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_plan_set_id
,@benefit_plan_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_plan_set_detail_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_set_detail WHERE benefit_plan_set_detail_id = @benefit_plan_set_detail_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE benefit_plan_set_detail
SET
benefit_plan_set_id		= @benefit_plan_set_id
,benefit_plan_id			= @benefit_plan_id
,effective_from		= @effective_from
,effective_thru		= @effective_thru
,active					= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_set_detail_id = @benefit_plan_set_detail_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
