USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_predetermination_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns

HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_dental_claim_predetermination_save]
(
@dental_claim_predetermination_id INT = NULL OUTPUT,
@dental_claim_id			INT = NULL,
@pred_dental_claim_id INT = NULL
)
AS

SET NOCOUNT ON

IF ISNULL(@dental_claim_predetermination_id, 0) = 0
BEGIN
INSERT INTO dental_claim_predetermination
(
dental_claim_id
,pred_dental_claim_id
)
VALUES
(@dental_claim_id
,@pred_dental_claim_id
)
SET @dental_claim_predetermination_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE	dental_claim_predetermination
SET
@dental_claim_id	=	@dental_claim_id
,pred_dental_claim_id = @pred_dental_claim_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE	dental_claim_predetermination_id = @dental_claim_predetermination_id
END
GO
