USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_claim_sel_by_adjudication_queue_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/05/2024	Kirk Chedotal	1.1		RT-25453 - performance tuning: Added SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Returns a list of OPEN, unlokced claims for use in the autoAdjudication service
The selection criteria is queried from the user entered, filter values entered on
the Adjudication Queue Form in the UI for the adjudication_queue_id passed
REQUIREMENTS:
--
INPUTS:
adjucation_queue_id of the queue to be processed
--
OUTPUTS:
ordered list of claim and eligibility iD's to be processed
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dto_claim_sel_by_adjudication_queue_id]
(@adjudication_queue_id INT)
AS

BEGIN
SET NOCOUNT ON;

DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR INT,
@PROVIDER_NETWORK_ID INT,
@CLIENT_GROUP_ID INT,
@CLIENT_ID INT,
@CLAIM_FORM_TYPE_ID INT,
@PROVIDER_IDENTIFIER_ID INT,
@BENEFIT_CONTRACT_ID INT,
@SQLSELECT NVARCHAR(4000),
@SQLFROM NVARCHAR(4000),
@SQLWHERE NVARCHAR(4000),
@EXECPARAMS NVARCHAR(1000);

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

DECLARE @adjudication_status_id_open INT;
SELECT @adjudication_status_id_open = adjudication_status_id
FROM dbo.adjudication_status
WHERE golden_key = 'OPEN';

BEGIN TRY

IF OBJECT_ID('tempdb.dbo.#claim_pi', 'U') IS NOT NULL
DROP TABLE #claim_pi;
IF OBJECT_ID('tempdb.dbo.#claim_pn', 'U') IS NOT NULL
DROP TABLE #claim_pn;

SELECT @PROVIDER_NETWORK_ID = provider_network_id,
@CLIENT_GROUP_ID = client_group_id,
@CLIENT_ID = client_id,
@CLAIM_FORM_TYPE_ID = claim_form_type_id,
@PROVIDER_IDENTIFIER_ID = provider_identifier_id,
@BENEFIT_CONTRACT_ID = benefit_contract_id
FROM dbo.adjudication_queue
WHERE adjudication_queue_id = @adjudication_queue_id;

-- Set up the base query SELECT, FROM and WHERE clauses before inspecting filter variables and
-- adding additional join/where clauses to satisfy the filter criteria
SET @SQLSELECT
= N'SELECT DISTINCT '
+ N'    claim.claim_id, '
+ N'    fem.family_eligibility_id, '
+ N'    (SELECT MIN(service_from_date) FROM claim_procedure WHERE claim_procedure.claim_id = claim.claim_id) AS service_from_date '

SET @SQLFROM
= N'FROM claim '
+ N'LEFT JOIN family_eligibility_member_benefit_plan indiv_elig ON indiv_elig.family_eligibility_member_benefit_plan_id = claim.family_eligibility_member_benefit_plan_id '
+ N'LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = indiv_elig.family_eligibility_member_id '
-- RT:25453 - changed JOIN to use family_eligibility instead of going through the benefit_contract_period_benefit_plan and benefit_contract_period which could produce inaccurate results
+ N'LEFT JOIN dbo.family_eligibility fe ON fem.family_eligibility_id = fe.family_eligibility_id '
+ N'LEFT JOIN benefit_contract ON fe.benefit_contract_id = benefit_contract.benefit_contract_id '
+ N'LEFT JOIN client_group ON benefit_contract.client_group_id = client_group.client_group_id '
+ N'LEFT JOIN claim_procedure cproc ON cproc.claim_id = claim.claim_id '
+ N'LEFT JOIN concurrency_lock cl ON record_id = claim.claim_id '
+ N'LEFT JOIN concurrency_lock_type clt ON clt.concurrency_lock_type_id = cl.concurrency_lock_type_id '
+ N'AND clt.golden_key = ''CLAIM'' ';

SET @SQLWHERE
= N' WHERE cl.concurrency_lock_type_id IS NULL '
+ N'AND ('
-- RT:25453 - changed to use the indexed column instead of the golden_key text value
+ N'(claim.adjudication_status_id = @adjudication_status_id_open) OR '
+ N'('
-- RT:25453 - changed to use the indexed column instead of the golden_key text value
--Updated status check to check the claim line's status as well
+ N'(cproc.adjudication_status_id = @adjudication_status_id_open OR cproc.adjudication_status_id IS NULL)'
--Since claim lines are LEFT joined, we have to make sure a claim line exists for the claim as well and that it is a valid claim line to check
+ N'AND cproc.claim_procedure_id IS NOT NULL '
+ N'and claim.adjudication_status_id <> 16'
+ N')'
+ N') ';

-- Add clauses to filter by ClientId or ClientGroupId
IF @CLIENT_ID IS NOT NULL
OR @CLIENT_GROUP_ID IS NOT NULL
OR @BENEFIT_CONTRACT_ID IS NOT NULL
BEGIN
IF @CLIENT_GROUP_ID IS NOT NULL
SET @SQLWHERE = @SQLWHERE + N'AND client_group.client_group_id = @CLIENT_GROUP_ID ';
IF @CLIENT_ID IS NOT NULL
SET @SQLWHERE = @SQLWHERE + N'AND client_group.client_id = @CLIENT_ID ';
IF @BENEFIT_CONTRACT_ID IS NOT NULL
SET @SQLWHERE = @SQLWHERE + N'AND benefit_contract.benefit_contract_id = @BENEFIT_CONTRACT_ID ';
END;

-- Add clauses to filter by ProviderIdentifierId
IF @PROVIDER_IDENTIFIER_ID IS NOT NULL
AND @PROVIDER_IDENTIFIER_ID <> N''
BEGIN
SELECT t1.claim_id
INTO #claim_pi
FROM
(
SELECT claim_id
FROM dbo.claim
WHERE provider_identifier_id = @PROVIDER_IDENTIFIER_ID
UNION
SELECT claim_id
FROM dbo.claim
WHERE billing_provider_identifier_id = @PROVIDER_IDENTIFIER_ID
) t1;
SET @SQLFROM += N' Inner JOIN #claim_pi  pi ON pi.claim_id = claim.claim_id';
END;

-- Add clauses to filter by ProviderNetworkId
IF @PROVIDER_NETWORK_ID IS NOT NULL
AND @PROVIDER_NETWORK_ID <> N''
BEGIN
SELECT t1.claim_id
INTO #claim_pn
FROM
(
SELECT c.claim_id
FROM dbo.claim c
INNER JOIN dbo.provider_provider_network ppn
ON ppn.provider_id = c.provider_id --@provider_identifier_id
WHERE ppn.provider_network_id = @PROVIDER_NETWORK_ID
UNION
SELECT c.claim_id
FROM dbo.claim c
INNER JOIN dbo.provider_provider_network ppn
ON ppn.provider_id = c.billing_provider_id --@provider_identifier_id
WHERE ppn.provider_network_id = @PROVIDER_NETWORK_ID
) t1;
SET @SQLFROM += N' Inner JOIN #claim_pn  pn ON pn.claim_id = claim.claim_id';
END;

-- Add clauses to filter by Claim Type
IF NOT (
@CLAIM_FORM_TYPE_ID IS NULL
OR EXISTS
(
SELECT *
FROM dbo.claim_form_type
WHERE claim_form_type_id = @CLAIM_FORM_TYPE_ID
AND golden_key = 'All Claims'
)
)
BEGIN
SET @SQLWHERE = @SQLWHERE + N'AND claim_form_type_id = @CLAIM_FORM_TYPE_ID ';
END;

-- Concatenate all the pieces into a single SQL query and execute it
SET @SQLSELECT
= @SQLSELECT
+ @SQLFROM
+ @SQLWHERE
+ N'ORDER BY fem.family_eligibility_id, service_from_date '
+ 'OPTION (MAXDOP 0)';;

SELECT @EXECPARAMS
= N'@CLIENT_GROUP_ID			int '
+ N', @CLIENT_ID				int '
+ N', @CLAIM_FORM_TYPE_ID		int '
+ N', @BENEFIT_CONTRACT_ID		int '
+ N', @adjudication_status_id_open int';

EXEC sys.sp_executesql @SQLSELECT,
@EXECPARAMS,
@CLIENT_GROUP_ID,
@CLIENT_ID,
@CLAIM_FORM_TYPE_ID,
@BENEFIT_CONTRACT_ID,
@adjudication_status_id_open;

-- Check error status for return value
SET @ERROR = @@error;
IF @ERROR > 0
RETURN @SP_EXCEPTION;
ELSE
RETURN @SP_SUCCESS;

END TRY
BEGIN CATCH
SELECT ErrorNumber = ERROR_NUMBER(),
ErrorSeverity = ERROR_SEVERITY(),
ErrorState = ERROR_STATE(),
ErrorProcedure = ERROR_PROCEDURE(),
ErrorLine = ERROR_LINE(),
ErrorMessage = ERROR_MESSAGE();
END CATCH;

END;
GO
