USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alias_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Date: Nov 18 2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/02/2005 	AnhTa 			1.5 		changed entity_type to alias_type
12/05/2005 	AnhTa 			1.6 		changed entity_type_id to alias_type_id
12/06/2005	HienDNguyen		1.7			added the case that alias is contact
01/09/2006	AnhTa			1.8			Change from comment to comment
01/11/2006	HienDNguyen		2.0			Add client and group
01/12/2006	AnhTa			2.1			Add comment field in client and group
2006/03/08	ThuyHa						created_date and modified_date using DB Server date
08/03/2006	HuyThan			2.3			added the case that alias is agent
08/03/2006	HuyThan			2.4			added the case that alias is brokerage
06/27/2008	Scott Fraser	???			Change sequential "IF" statements to nested "IF ... ELSE IF" clauses.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data of an Alias for grid Aliases in form Aliases
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_alias_save]
(
@parent_alias_id	int = NULL
,@alias_name		nvarchar(50)= NULL
,@alias_id			int = NULL   OUTPUT
,@name_last			nvarchar(200) = NULL
,@name_first		nvarchar(200) = NULL
,@name_middle		nvarchar(200) = NULL
,@name_prefix_id	int = NULL
,@name_suffix		nvarchar(100) = NULL
,@alias_type_id		int = NULL
,@comment			nvarchar(600) = NULL
,@is_primary		bit = 0
,@active			bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT_MEMBER 	 	NVARCHAR(50),
@ERROR_CANT_INSERT_PROVIDER	 	NVARCHAR(50),
@ERROR_CANT_INSERT_AGENT	 	NVARCHAR(50),
@ERROR_CANT_INSERT_BROKERAGE 	NVARCHAR(50),
@ERROR_CANT_INSERT_CONTACT	 	NVARCHAR(50),
@ERROR_CANT_INSERT_CLIENT		NVARCHAR(50),
@ERROR_CANT_INSERT_CLIENT_GROUP	NVARCHAR(50),

@ERROR_CANT_UPDATE_MEMBER 		NVARCHAR(50),
@ERROR_CANT_UPDATE_PROVIDER 	NVARCHAR(50),
@ERROR_CANT_UPDATE_AGENT 		NVARCHAR(50),
@ERROR_CANT_UPDATE_BROKERAGE 	NVARCHAR(50),
@ERROR_CANT_UPDATE_CONTACT 		NVARCHAR(50),
@ERROR_CANT_UPDATE_CLIENT 		NVARCHAR(50),
@ERROR_CANT_UPDATE_CLIENT_GROUP	NVARCHAR(50),

@ERROR_NOT_EXIST_MEMBER			NVARCHAR(50),
@ERROR_NOT_EXIST_PROVIDER		NVARCHAR(50),
@ERROR_NOT_EXIST_AGENT			NVARCHAR(50),
@ERROR_NOT_EXIST_BROKERAGE		NVARCHAR(50),
@ERROR_NOT_EXIST_CONTACT		NVARCHAR(50),
@ERROR_NOT_EXIST_CLIENT			NVARCHAR(50),
@ERROR_NOT_EXIST_CLIENT_GROUP	NVARCHAR(50)


SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT_MEMBER		= '1589800001',
@ERROR_CANT_INSERT_PROVIDER		= '1589800002',
@ERROR_CANT_INSERT_AGENT		= '',
@ERROR_CANT_INSERT_BROKERAGE	= '',
@ERROR_CANT_INSERT_CONTACT		= '1589800003',
@ERROR_CANT_INSERT_CLIENT		= '1589800004',
@ERROR_CANT_INSERT_CLIENT_GROUP	= '1589800005',

@ERROR_CANT_UPDATE_MEMBER		= '1589800006',
@ERROR_CANT_UPDATE_PROVIDER		= '1589800007',
@ERROR_CANT_UPDATE_AGENT		= '',
@ERROR_CANT_UPDATE_BROKERAGE	= '',
@ERROR_CANT_UPDATE_CONTACT		= '1589800008',
@ERROR_CANT_UPDATE_CLIENT		= '1589800009',
@ERROR_CANT_UPDATE_CLIENT_GROUP	= '1589800010',

@ERROR_NOT_EXIST_MEMBER			= '1589800011',
@ERROR_NOT_EXIST_PROVIDER		= '1589800012',
@ERROR_NOT_EXIST_AGENT			= '',
@ERROR_NOT_EXIST_BROKERAGE		= '',
@ERROR_NOT_EXIST_CONTACT		= '1589800013',
@ERROR_NOT_EXIST_CLIENT			= '1589800014',
@ERROR_NOT_EXIST_CLIENT_GROUP	= '1589800015'

IF @alias_name ='MEMBER'
BEGIN
IF @alias_id is Null
BEGIN
--- Create a new record
INSERT INTO member_name(
member_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,comment
,is_primary
,active
)
VALUES
(@parent_alias_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_MEMBER)
END
ELSE IF NOT EXISTS (SELECT * FROM member_name WHERE member_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_MEMBER)
END
ELSE
BEGIN
UPDATE member_name
SET
member_id                                = @parent_alias_id
,name_last                                = @name_last
,name_first                               = @name_first
,name_middle                              = @name_middle
,name_prefix_id                           = @name_prefix_id
,name_suffix                              = @name_suffix
,alias_type_id                           = @alias_type_id
,comment                                 = @comment
,is_primary                               = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
member_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_MEMBER)
END
END

-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='PROVIDER'
BEGIN
--- Create a new record
IF @alias_id is Null
BEGIN
INSERT INTO provider_name(
provider_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,comment
,is_primary
,active
)
VALUES
(@parent_alias_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_PROVIDER)

END -- end of NULL
ELSE IF NOT EXISTS (SELECT * FROM provider_name WHERE provider_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_PROVIDER)
END
ELSE
BEGIN
UPDATE provider_name
SET
provider_id                              = @parent_alias_id
,name_last                                = @name_last
,name_first                               = @name_first
,name_middle                              = @name_middle
,name_prefix_id                           = @name_prefix_id
,name_suffix                              = @name_suffix
,alias_type_id                           = @alias_type_id
,comment                                 = @comment
,is_primary                               = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
provider_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_PROVIDER)
END
END
-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='AGENT'
BEGIN
--- Create a new record
IF @alias_id is Null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,comment
,is_primary
,active
)
VALUES
(@parent_alias_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_AGENT)

END -- end of NULL
ELSE IF NOT EXISTS (SELECT * FROM agent_name WHERE agent_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_AGENT)
END
ELSE
BEGIN
UPDATE agent_name
SET
agent_id	                             = @parent_alias_id
,name_last                                = @name_last
,name_first                               = @name_first
,name_middle                              = @name_middle
,name_prefix_id                           = @name_prefix_id
,name_suffix                              = @name_suffix
,alias_type_id                            = @alias_type_id
,comment                                  = @comment
,is_primary                               = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
agent_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_AGENT)
END
END
-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='BROKERAGE'
BEGIN
--- Create a new record
IF @alias_id is Null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,comment
,is_primary
,active
)
VALUES
(@parent_alias_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_BROKERAGE)

END -- end of NULL
ELSE IF NOT EXISTS (SELECT * FROM agent_name WHERE agent_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_BROKERAGE)
END
ELSE
BEGIN
UPDATE agent_name
SET
agent_id	                         = @parent_alias_id
,name_last                                = @name_last
,name_first                               = @name_first
,name_middle                              = @name_middle
,name_prefix_id                           = @name_prefix_id
,name_suffix                              = @name_suffix
,alias_type_id                            = @alias_type_id
,comment                                  = @comment
,is_primary                               = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
agent_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_BROKERAGE)
END
END
-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='CONTACT'
BEGIN
IF @alias_id is Null
BEGIN
INSERT INTO contact_name(
contact_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,comment
,is_primary
,active
)
VALUES
(@parent_alias_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_CONTACT)
END
ELSE IF NOT EXISTS (SELECT * FROM contact_name WHERE contact_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CONTACT)
END
ELSE
BEGIN
UPDATE contact_name
SET
contact_id                               = @parent_alias_id
,name_last                                = @name_last
,name_first                               = @name_first
,name_middle                              = @name_middle
,name_prefix_id                           = @name_prefix_id
,name_suffix                              = @name_suffix
,alias_type_id                            = @alias_type_id
,comment                                  = @comment
,is_primary                               = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE contact_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_CONTACT)
END
END
-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='CLIENT'
BEGIN
IF @alias_id is Null
BEGIN
INSERT INTO client_name(
client_id
,client_nm
,alias_type_id
,comment
,primary_name
,active
)
VALUES
(@parent_alias_id
,@name_last
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_CLIENT)
END
ELSE IF NOT EXISTS (SELECT * FROM client_name WHERE client_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CLIENT)
END
ELSE
BEGIN
UPDATE client_name
SET
client_id                                = @parent_alias_id
,client_nm                                = @name_last
,alias_type_id                            = @alias_type_id
,comment		                         = @comment
,primary_name                             = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_CLIENT)
END
END
-------------------------------------------------------------------------------------------------
ELSE IF @alias_name ='GROUP'
BEGIN
IF @alias_id is Null
BEGIN
INSERT INTO client_group_name(
client_group_id
,client_group_nm
,alias_type_id
,comment
,primary_name
,active
)
VALUES
(@parent_alias_id
,@name_last
,@alias_type_id
,@comment
,@is_primary
,@active
)
SET @alias_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_CLIENT_GROUP)
END
ELSE IF NOT EXISTS (SELECT * FROM client_group_name WHERE client_group_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CLIENT_GROUP)
END
ELSE
BEGIN
UPDATE client_group_name
SET
client_group_id                          = @parent_alias_id
,client_group_nm                          = @name_last
,alias_type_id                            = @alias_type_id
,comment                                  = @comment
,primary_name   = @is_primary
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_group_name_id = @alias_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_CLIENT_GROUP)
END
END
RETURN @SP_SUCCESS
GO
