USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_payment_method_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_beneficiary_payment_method_load]
(
@beneficiary_id  INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bpm.beneficiary_payment_method_id
,bpm.beneficiary_id
,bpm.payment_method_payment_id
,pmp.payment_method_payment_ud
,bpm.effective_from
,bpm.effective_thru
FROM beneficiary_payment_method bpm
LEFT JOIN beneficiary b ON b.beneficiary_id = bpm.beneficiary_id
LEFT JOIN payment_method_payment pmp ON pmp.payment_method_payment_id = bpm.payment_method_payment_id
WHERE bpm.beneficiary_id = @beneficiary_id

ORDER BY
CASE WHEN bpm.effective_from IS NULL THEN 0 ELSE 1 END , bpm.effective_from DESC
,CASE WHEN bpm.effective_thru IS NULL THEN 0 ELSE 1 END , bpm.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
