USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_service_representative_client_group_benefit_contract_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Sep  9 2005  2:16PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	Tinh Do		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_service_representative_client_group_benefit_contract from the service_representative_client_group_benefit_contract table.
--
REQUIREMENTS:
--
INPUTS:
service_representative_client_group_benefit_contract_id - Key to service_representative_client_group_benefit_contract table, identifies a single stored dd_service_representative_client_group_benefit_contract.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_service_representative_client_group_benefit_contract_list_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
service_representative_client_group_benefit_contract_id
,service_representative_client_group_benefit_contract_ud
,service_representative_client_group_benefit_contract_nm

FROM service_representative_client_group_benefit_contract
order by service_representative_client_group_benefit_contract_ud
--
RETURN @SP_SUCCESS
GO
