USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_record_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey

DESCRIPTION:
Called to record a delete made by a user to the data shipped from Collaborator.  This data is
used both to allow the user to revert a change back to our default and to allow our update
scripts a method of determining which data should not be overwritten during an upgrade.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

Create Procedure [dbo].[plx_gdct_record_delete]
(
@table_def_id int,
@table_row_id int
)
As
Begin

IF EXISTS(SELECT * FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id AND table_row_id = @table_row_id)
BEGIN
-- update
UPDATE system_golden_data_row_change SET has_been_deleted = 1, has_been_edited = 0
WHERE table_def_id = @table_def_id AND table_row_id = @table_row_id
END
ELSE
BEGIN
-- insert
INSERT INTO system_golden_data_row_change
(
table_def_id,
table_row_id,
has_been_deleted,
has_been_edited
)
VALUES
(
@table_def_id,
@table_row_id,
1,
0
)
END

DECLARE
@system_table_id int,
@table_name nvarchar(255),
@column_name nvarchar(255),
@table_column_def_id int,
@sql_insert nvarchar(1000),
@system_golden_data_row_change_id int

SELECT @system_golden_data_row_change_id = system_golden_data_row_change_id
FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id AND table_row_id = @table_row_id

SELECT @system_table_id = system_table_id, @table_name = table_name FROM system_table
WHERE table_def_id = @table_def_id

DECLARE column_cursor CURSOR FOR
SELECT column_name, table_column_def_id
FROM system_column where system_table_id = @system_table_id

OPEN column_cursor
FETCH NEXT FROM column_cursor
INTO @column_name, @table_column_def_id

WHILE @@FETCH_STATUS = 0
BEGIN
-- save plexis value if not saved yet
SET @sql_insert = ''

IF NOT EXISTS (SELECT * FROM system_golden_data_original_column_value col
INNER JOIN system_golden_data_row_change row
ON row.system_golden_data_row_change_id = col.system_golden_data_row_change_id
WHERE row.table_def_id = @table_def_id
AND row.table_row_id = @table_row_id
AND col.table_column_def_id = @table_column_def_id)
BEGIN
SET @sql_insert = '
DECLARE @plexis_value NVARCHAR(255)
SELECT @plexis_value = ' + @column_name + '
FROM ' + @table_name + '
WHERE table_row_id = ' + CAST(@table_row_id AS NVARCHAR) + '

INSERT INTO system_golden_data_original_column_value
(
system_golden_data_row_change_id,
table_column_def_id,
plexis_value
)
VALUES
(' + CAST(@system_golden_data_row_change_id AS NVARCHAR) + ', '
+ CAST(@table_column_def_id AS NVARCHAR) + ',
@plexis_value
)'

EXEC(@sql_insert)

END

FETCH NEXT FROM column_cursor
INTO @column_name, @table_column_def_id
END

CLOSE column_cursor
DEALLOCATE column_cursor

End
GO
