USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_client_group_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/03/2005				1.0		Created
08/10/2005				1.1		Add cgn.primary_name = 1
31/10/2005        Anh Ta                            1.2                     Use for ICU # 10505 Claims Processing workflow
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to load 'client_group' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_client_group_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cg.client_group_id
,cgn.client_group_ud

FROM client_group cg
INNER JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1)
ORDER BY cgn.client_group_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
