USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_life_premium_rate_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Find Life Premium Rates that match criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_life_premium_rate_load]
(
@get_column_headers					BIT = 0
, @premium_rate_ud						NVARCHAR(50) = NULL
, @description							NVARCHAR(255) = NULL
, @preimum_rate_base_type_id			INT = NULL
, @tier_id								INT = NULL
, @premium_rate_componenet_set_id		INT = NULL
, @base_rate_effective_through			DATETIME = NULL
, @base_rate_effective_from				DATETIME = NULL
, @premium_factor_id					INT = NULL
, @premium_factor_effective_through		DATETIME = NULL
, @premium_factor_effective_from		DATETIME = NULL
, @premium_rate_relationship_type_id	INT = NULL
, @show_exact_matches					BIT = 0
, @show_only_current					BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

DECLARE @premium_rate_type_id int

SELECT  @premium_rate_type_id = premium_rate_type_id
FROM    premium_rate_type
WHERE   golden_key = 'LIFE_PREMIUM_RATE'

SET @SqlCondition = @SqlCondition + ' AND pr.premium_rate_type_id = ' + CONVERT(NVARCHAR, @premium_rate_type_id)

IF @premium_rate_ud IS NOT NULL AND @premium_rate_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pr.premium_rate_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_rate_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pr.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @preimum_rate_base_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND prb.preimum_rate_base_type_id = ' + CONVERT(NVARCHAR, @preimum_rate_base_type_id)

IF @tier_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND prb.tier_id = ' + CONVERT(NVARCHAR, @tier_id)

IF @premium_rate_componenet_set_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND prb.premium_rate_componenet_set_id = ' + CONVERT(NVARCHAR, @premium_rate_componenet_set_id)

IF @show_only_current=1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ((DATEDIFF(Day, prb.effective_from, GETDATE()) >= 0 OR prb.effective_from IS NULL) AND
(DATEDIFF(Day, prb.effective_thru, GETDATE()) <= 0 OR prb.effective_thru IS NULL))'
END

IF @show_exact_matches=1
BEGIN
IF @base_rate_effective_from IS NOT NULL AND @base_rate_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,prb.effective_from,101) =   ''' + CONVERT(NVARCHAR, @base_rate_effective_from,101) + ''' '
END
IF @base_rate_effective_through IS NOT NULL AND @base_rate_effective_through <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,prb.effective_thru,101) =  ''' + CONVERT(NVARCHAR, @base_rate_effective_through,101) + ''' '
END
END
ELSE
BEGIN

IF @base_rate_effective_from IS NOT NULL AND @base_rate_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND prb.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @base_rate_effective_from,101) + ''', 101) '
END
IF @base_rate_effective_through IS NOT NULL AND @base_rate_effective_through <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND  prb.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @base_rate_effective_through,101) + ''', 101) '
END
END

IF @premium_factor_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND prpfa.premium_factor_id = ' + CONVERT(NVARCHAR, @premium_factor_id)

IF @premium_rate_relationship_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND prbl.premium_rate_relationship_type_id = ' + CONVERT(NVARCHAR, @premium_rate_relationship_type_id)

IF @show_exact_matches=1
BEGIN
IF @premium_factor_effective_from IS NOT NULL AND @premium_factor_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,prpfa.effective_from,101) =   ''' + CONVERT(NVARCHAR, @premium_factor_effective_from,101) + ''' '
END
IF @premium_factor_effective_through IS NOT NULL AND @premium_factor_effective_through <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,prpfa.effective_thru,101) =  ''' + CONVERT(NVARCHAR, @premium_factor_effective_through,101) + ''' '
END
END
ELSE
BEGIN

IF @premium_factor_effective_from IS NOT NULL AND @premium_factor_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND prpfa.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @premium_factor_effective_from,101) + ''', 101) '
END
IF @premium_factor_effective_through IS NOT NULL AND @premium_factor_effective_through <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND  prpfa.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @premium_factor_effective_through,101) + ''', 101) '
END
END


SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
pr.premium_rate_id
,pr.premium_rate_ud
,pr.description
,prbt.premium_rate_base_type_ud
,t.tier_ud
,prb.effective_from as premium_rate_base_effective_from
,prb.effective_thru as premium_rate_base_effective_thru
FROM  dbo.premium_rate pr
LEFT JOIN premium_rate_base prb ON pr.premium_rate_id = prb.premium_rate_id
LEFT JOIN premium_rate_base_type prbt ON prb.premium_rate_base_type_id = prbt.premium_rate_base_type_id
LEFT JOIN tier t ON prb.tier_id = t.tier_id
LEFT JOIN premium_rate_premium_factor_assignment prpfa on pr.premium_rate_id = prpfa.premium_rate_id
LEFT JOIN premium_rate_base_life prbl ON prb.premium_rate_base_id = prbl.premium_rate_base_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY pr.premium_rate_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY pr.premium_rate_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
