USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_run_amount_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimdisbursementInformation on form frmClaimdisbursementRun

--
REQUIREMENTS:
--
INPUTS:
@disbursement_claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_disbursement_claim_payment_run_amount_load]
(
@disbursement_claim_payment_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
atap.accounting_transaction_ap_id as payment_id
,atap.accounting_transaction_ap_ud as payment_ud
,acc_co.accounting_company_id
,accounting_company_ud
,bank.bank_account_id
,bank_account_ud
,atap.transaction_amount as payment_amount
FROM dbo.accounting_transaction_ap atap
JOIN dbo.accounting_transaction_ap_payment_detail atap_pay_detail
ON atap.accounting_transaction_ap_id = atap_pay_detail.accounting_transaction_ap_id
JOIN dbo.bank_account bank
ON bank.bank_account_id = atap_pay_detail.bank_account_id
JOIN dbo.accounting_company acc_co
ON acc_co.accounting_company_id = bank.accounting_company_id
JOIN dbo.accounting_source atap_source
ON atap.accounting_source_id = atap_source.accounting_source_id

WHERE
atap_source.golden_key = 'Disbursement Claims Payment Run'
AND
atap.accounting_source_record_id = @disbursement_claim_payment_run_id



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
