USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_name_get_name]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	 Tinh Do	1.0			Created and used for Client Group Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Get Group Name
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_name_get_name]
(
@clent_group_id AS INT=NULL
)
AS
SELECT client_group_nm
FROM client_group_name
WHERE client_group_id= @clent_group_id
AND primary_name=1
GO
