USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_treatment_type_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le	1.0		create
9-13-2005	Trinh Le				Get treatment type ui
11-02-2005	Trinh Le				Get category ud
09-12-2006	Mai Tran				Change column apply_id to apply_yes_no_id & limit_id to limit_yes_no_id
12/16/2008	Jeremy Hein			Removed apply_yes_no_id and limit_yes_no_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid "Sub Limit for These Treatment Types" grid in Accumulator Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_treatment_type_set_load]
(
@accumulator_sub_limit_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_sub_limit_treatment_type_set.accumulator_sub_limit_treatment_type_set_id
,accumulator_sub_limit_treatment_type_set.accumulator_sub_limit_id
,accumulator_sub_limit_treatment_type_set.treatment_type_set_id
,accumulator_sub_limit_treatment_type_set.treatment_type_category_id
,treatment_type_category.treatment_type_category_ud
,accumulator_sub_limit_treatment_type_set.treatment_type_id
,treatment_type.treatment_type_ud
,accumulator_sub_limit_treatment_type_set.effective_from
,accumulator_sub_limit_treatment_type_set.effective_thru
,accumulator_sub_limit_treatment_type_set.modified_date
FROM accumulator_sub_limit_treatment_type_set
left join treatment_type on  accumulator_sub_limit_treatment_type_set.treatment_type_id = treatment_type.treatment_type_id
left join treatment_type_category on  accumulator_sub_limit_treatment_type_set.treatment_type_category_id = treatment_type_category.treatment_type_category_id
WHERE accumulator_sub_limit_treatment_type_set.accumulator_sub_limit_id = @accumulator_sub_limit_id

ORDER BY
CASE WHEN accumulator_sub_limit_treatment_type_set.effective_from IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_treatment_type_set.effective_from DESC
,CASE WHEN accumulator_sub_limit_treatment_type_set.effective_thru IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_treatment_type_set.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
