USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_waiting_period_definition_override_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
AUTHOR: eponomareff
DATE: 03/15/2018
--
DESCRIPTION:
Load data for Benefit Waiting Period Override grid
on Advanced Individual Eligibility Setup form, Benefit Waiting Period tab,
providing the user with the ability to override the completed date and comment.

NOTES:
** This stored procedure filters based on the eligiblity relationship compared
to the relationship or relationship set defined on the benefit waiting period definition.

** This stored procedure calculates the default benefit waiting period definition completed date,
based on the appropriate date, based on the benefit_waiting_period_date_rule

DATE_OF_HIRE
ELIGIBILITY_EFFECTIVE_DATE
CONTINUOUS_COVERAGE_EFFECTIVE_DATE

--
******************************/
CREATE   PROCEDURE [dbo].[plx_eligibility_waiting_period_definition_override_list_load]
(
@family_eligibility_member_benefit_plan_id	int
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION	= -1

-- get benefit contract and plan from eligibility
DECLARE @benefit_contract_id INT, @benefit_plan_id INT
SET @benefit_contract_id =
(SELECT fe.benefit_contract_id
FROM family_eligibility fe
JOIN family_eligibility_member fem ON fe.family_eligibility_id = fem.family_eligibility_id
JOIN family_eligibility_member_benefit_plan fembp ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

SET @benefit_plan_id =
(SELECT fembp.benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

-- get elig relationship gk
DECLARE @elig_relationship_gk NVARCHAR(50)
SET @elig_relationship_gk =
(SELECT rti.golden_key
FROM family_eligibility_member_benefit_plan fembp
JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN relationship_to_insured rti
ON fem.relationship_to_insured_id = rti.relationship_to_insured_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

-- get continuous coverage date
DECLARE @continuousCoverageDate DATE
SET @continuousCoverageDate =
(SELECT continuous_coverage_effective_date FROM family_eligibility_member_benefit_plan fembp
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

-- date of hire
DECLARE @dateHired DATE
SET @dateHired =
(SELECT fee.date_hired
FROM family_eligibility_member_benefit_plan fembp
JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
JOIN family_eligibility_employment fee
ON fe.family_eligibility_employment_id = fee.family_eligibility_employment_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

-- get elig eff date
DECLARE @eligibilityEffectiveDate DATE
SET @eligibilityEffectiveDate =
(SELECT effective_from FROM family_eligibility_member_benefit_plan fembp
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id)

SELECT
-- read only columns
bwp.benefit_waiting_period_id,
bwp.benefit_waiting_period_ud,
definition_relationship_or_set = coalesce(rti.relationship_to_insured_ud, rtis.relationship_to_insured_set_ud),
bwprtswp.benefit_waiting_period_relationship_to_subscriber_waiting_period_id,
bwprtswp.benefit_waiting_period_relationship_to_subscriber_waiting_period_ud,
bwprtswp.benefit_waiting_period_date_rule_id,
dateAccordingToRule.benefit_waiting_period_date_rule_ud,
bwprtswp.number_of_units,
udwmy.unit_day_week_month_year_ud,

-- calculated waiting period completed date (effective thru)
-- based on appropriate start date (based on rule)
CASE
WHEN udwmy.golden_key = 'Days' THEN DATEADD(DAY, bwprtswp.number_of_units, dateAccordingToRule.effective_coverage_date_from_rule )
WHEN udwmy.golden_key = 'Weeks' THEN DATEADD(WEEK, bwprtswp.number_of_units, dateAccordingToRule.effective_coverage_date_from_rule )
WHEN udwmy.golden_key = 'Months' THEN DATEADD(MONTH, bwprtswp.number_of_units, dateAccordingToRule.effective_coverage_date_from_rule )
WHEN udwmy.golden_key = 'Years' THEN DATEADD(YEAR, bwprtswp.number_of_units, dateAccordingToRule.effective_coverage_date_from_rule )
ELSE null
END
as [default_waiting_period_complete_date],

-- specific to eligibility
elig_override.eligibility_waiting_period_definition_override_id,
elig_override.family_eligibility_member_benefit_plan_id,
-- editable fields
elig_override.override_completed_date,
elig_override.comment

FROM
benefit_waiting_period_relationship_to_subscriber_waiting_period bwprtswp
LEFT JOIN eligibility_waiting_period_definition_override elig_override
ON elig_override.benefit_waiting_period_relationship_to_subscriber_waiting_period_id = bwprtswp.benefit_waiting_period_relationship_to_subscriber_waiting_period_id
AND elig_override.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
JOIN unit_day_week_month_year udwmy
ON bwprtswp.unit_day_week_month_year_id = udwmy.unit_day_week_month_year_id
-- subselect to get effective date according to the rule
JOIN (
SELECT
benefit_waiting_period_date_rule_id,
benefit_waiting_period_date_rule_ud,
[effective_coverage_date_from_rule] =
CASE
WHEN golden_key = 'DATE_OF_HIRE' THEN @dateHired
WHEN golden_key = 'ELIGIBILITY_EFFECTIVE_DATE' THEN @eligibilityEffectiveDate
WHEN golden_key = 'CONTINUOUS_COVERAGE_EFFECTIVE_DATE' THEN COALESCE(@continuousCoverageDate, @eligibilityEffectiveDate)
ELSE @eligibilityEffectiveDate
END
FROM benefit_waiting_period_date_rule) dateAccordingToRule
ON dateAccordingToRule.benefit_waiting_period_date_rule_id = bwprtswp.benefit_waiting_period_date_rule_id
JOIN benefit_waiting_period_relationship_to_subscriber bwprts
ON bwprts.benefit_waiting_period_relationship_to_subscriber_id = bwprtswp.benefit_waiting_period_relationship_to_subscriber_id
JOIN benefit_contract_period_benefit_plan_benefit_waiting_period assgn
ON assgn.benefit_waiting_period_id = bwprts.benefit_waiting_period_id
JOIN benefit_waiting_period bwp
ON assgn.benefit_waiting_period_id = bwp.benefit_waiting_period_id
JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = assgn.benefit_contract_period_benefit_plan_id
JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN relationship_to_insured rti
ON rti.relationship_to_insured_id = bwprts.relationship_to_insured_id
LEFT JOIN relationship_to_insured_set rtis
ON rtis.relationship_to_insured_set_id = bwprts.relationship_to_insured_set_id
LEFT JOIN relationship_in_the_relationship_set set_rel
ON set_rel.relationship_to_insured_set_id = rtis.relationship_to_insured_set_id
LEFT JOIN relationship_to_insured rti2
ON rti2.relationship_to_insured_id = set_rel.relationship_to_insured_id
WHERE
-- get correct benefit contract and benefit plan
bcp.benefit_contract_id = @benefit_contract_id
AND bcpbp.benefit_plan_id = @benefit_plan_id
-- with relationship matching
AND (
-- relationship match
(rti.golden_key IS NOT NULL AND rti.golden_key = @elig_relationship_gk)
OR
-- relationship is relationship set
(rti2.golden_key IS NOT NULL AND rti2.golden_key = @elig_relationship_gk)
)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
END
GO
