USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_additional_information_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Nov 17 2005  2:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Nov 17 2005	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Delete data for grid grdAdditionalInformation on form frmProviderPracticeOffice


--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_practice_office_additional_information_delete]
(
@practice_office_additional_information_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM practice_office_additional_information
WHERE practice_office_additional_information_id = @practice_office_additional_information_id

--
RETURN @SP_SUCCESS
--
GO
