USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 09/22/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/22/2008	Vishwa Jella	1.0		Created for 18152.h Accounting Payment UI Functionality
10/03/2008	Vishwa Jella	2.0		added  code for creating distributions for payment
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Used to delete transaction record from Transactions Included in Payment grid on payment form.
removes record from accounting_transaction_ap_apply_to table
And creating distributions for payment.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_delete]
(
@accounting_transaction_ap_apply_to_id 	INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@from_accounting_transaction_ap_id int,
@accounting_transaction_ap_id int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@from_accounting_transaction_ap_id = 0
--
IF @accounting_transaction_ap_apply_to_id is not null
BEGIN
IF NOT EXISTS (SELECT 1 FROM accounting_transaction_ap_apply_to WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- Get the transaction and payment ID's from the apply to record for updates later
SELECT
@from_accounting_transaction_ap_id = from_accounting_transaction_ap_id,
@accounting_transaction_ap_id = to_accounting_transaction_ap_id
FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id

-- Delete the apply to record from the payment
DELETE FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id

-- Re-Calculate Payment distributions
EXEC plx_accounting_transaction_ap_payment_distributions_update @from_accounting_transaction_ap_id

-- Update the transaction statuses
EXEC plx_update_accounting_statuses_for_transaction @accounting_transaction_ap_id


-- If the apply to transaction is a BILL payment penalty (not credit), it needs to be deleted, as it was created
-- by disbursement and the original transaction will be
-- picked up by disbursement again, and a new payment penalty will be generated (if still applicable) at that time.
DECLARE @payment_penalty_accounting_source_id INT
SET @payment_penalty_accounting_source_id =
(SELECT accounting_source_id
FROM accounting_source
WHERE golden_key = 'PAYMENT_PENALTY')

DECLARE @bill_accounting_transaction_ap_type_id INT
SET @bill_accounting_transaction_ap_type_id =
(SELECT accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'BILL')

DECLARE @accounting_transaction_ap_source_id INT
SET @accounting_transaction_ap_source_id =
(SELECT accounting_source_id
FROM accounting_transaction_ap
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id
AND
accounting_transaction_ap_type_id = @bill_accounting_transaction_ap_type_id
)

IF(@accounting_transaction_ap_source_id = @payment_penalty_accounting_source_id)
BEGIN
DELETE FROM accounting_transaction_ap_claim_detail WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
DELETE FROM accounting_transaction_ap_distribution WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
DELETE FROM accounting_transaction_ap WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
END


END
--
END
RETURN @SP_SUCCESS
--
GO
