USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_fee_detail_by_customer_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 08/19/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
08/19/2009	W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for fee details by customer grid on ClaimPaymentRunAPFeeDetail Form
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
@customer_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_payment_run_fee_detail_by_customer_load]
(
@claim_payment_run_id    INT = 0
,@customer_id				INT = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
c.claim_id,
c.claim_ud,
cfs.client_id,
cn.client_ud,
cn.client_nm,
cft.client_fee_type_ud,
cfsaf.description,
(
SELECT SUM(amount)
FROM claim_payment_run_ar_fee cpraf
WHERE cpraf.customer_id = @customer_id AND cpraf.claim_id = c.claim_id AND cpraf.client_fee_setup_ar_fee_id = cfsaf.client_fee_setup_ar_fee_id
)AS amount

FROM claim_payment_run_ar_fee cpraf
INNER JOIN client_fee_setup_ar_fee cfsaf ON cpraf.client_fee_setup_ar_fee_id = cfsaf.client_fee_setup_ar_fee_id
INNER JOIN client_fee_setup cfs ON cfsaf.client_fee_setup_id = cfs.client_fee_setup_id
INNER JOIN client_fee_type cft ON cfsaf.client_fee_type_id = cft.client_fee_type_id
LEFT JOIN client_name cn on cfs.client_id = cn.client_id and cn.primary_name = 1
INNER JOIN claim c ON cpraf.claim_id = c.claim_id

WHERE cpraf.claim_payment_run_id = @claim_payment_run_id and cpraf.customer_id = @customer_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
