USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_date_type_timely_payment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_dd_claim_date_type_timely_payment_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
claim_date_type.claim_date_type_id
,claim_date_type.claim_date_type_ud
,claim_date_type.golden_key
FROM claim_date_type
WHERE golden_key = 'CLEAN' OR golden_key = 'RECEIVED'
ORDER BY claim_date_type_ud
--
RETURN @SP_SUCCESS
GO
