USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
To load data into Transactions Included in Vendor Refund Request Grid;
NOTE: database apply_to record amounts are absolute value; however they
display as positive or negative depending on whether they are
Bills (display negative) or Credits (display positive). Because
this is a Refund, it is the reverse of an AP Payment.
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_load]
(
@accounting_transaction_ap_id INT = NULL -- vendor_refund_request ID ( = @from_accounting_transaction_ap_id)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@UNAPPLIED_AMOUNT numeric(20,10),
@APPLIED_AMOUNT numeric(20,10);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0;

SELECT
apply_to.accounting_transaction_ap_apply_to_id
,apply_to.from_accounting_transaction_ap_id
,apply_to.to_accounting_transaction_ap_id
,ata.accounting_transaction_ap_ud
,ata.accounting_transaction_ap_type_id
,ata.transaction_date
,CASE
WHEN aps.golden_key = 'ENTERED' THEN
-- The unapplied amount is refreshed if the vendor_refund_request is in an Entered status.
-- This could come into play if a Paid vendor_refund_request with the same transaction partially applied were voided.
-- The function below returns the absolute value of the Unapplied Amount for the Bill or Credit,
--		filtering out vendor_refund_requests/Refunds in a status of VOIDED or ENTERED.
(CASE apType.golden_key
WHEN 'BILL' THEN (-1 * dbo.plx_fn_get_unapplied_amount_for_transaction(ata.accounting_transaction_ap_id, 1))
WHEN 'CREDIT' THEN dbo.plx_fn_get_unapplied_amount_for_transaction(ata.accounting_transaction_ap_id, 1)
END)
ELSE
(CASE apType.golden_key
WHEN 'BILL' THEN  (-1 * apply_to.unapplied_amount)
WHEN 'CREDIT' THEN apply_to.unapplied_amount
END)
END as unapplied_amount
,CASE apType.golden_key
WHEN 'BILL' THEN (-1 * apply_to.amount)
WHEN 'CREDIT' THEN apply_to.amount
END as apply_to_amount
,apply_to.comment
,ata.accounting_source_id
,accounting_source.accounting_source_ud
,accounting_source.golden_key
,c.claim_id
,c.claim_ud
FROM accounting_transaction_ap_apply_to as apply_to
JOIN accounting_transaction_ap ata ON apply_to.to_accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN accounting_source ON ata.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN accounting_transaction_ap_type apType ON ata.accounting_transaction_ap_type_id = apType.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_claim_detail claimDetail ON ata.accounting_transaction_ap_id = claimDetail .accounting_transaction_ap_id
LEFT JOIN claim c ON claimDetail.claim_id = c.claim_id
LEFT JOIN accounting_transaction_ap_refund_request_detail atarid ON  atarid.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
LEFT JOIN accounting_payment_status aps ON  aps.accounting_payment_status_id = atarid.accounting_payment_status_id
WHERE apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
ORDER BY apply_to.accounting_transaction_ap_apply_to_id DESC;

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
