USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_required_procedure_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   04/08/2011
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Coverage incentive max incentive required procedure grid row deletion
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_coverage_incentive_required_procedure_delete]
(
@coverage_incentive_required_procedure_id                  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0
--

DELETE FROM coverage_incentive_required_procedure
WHERE coverage_incentive_required_procedure_id = isnull(@coverage_incentive_required_procedure_id,0)
--
RETURN @SP_SUCCESS
GO
