USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_report_company_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Rosie Roberson
--
REVISION_HISTORY:
--
Date				 Modified By			Version		Description
--------------------------------------------------------------------------------
02/16/2010      Rosie Roberson		1.0			Created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Returns a unique report_company_id and displays the report_company_ud.
--
REQUIREMENTS:
--
INPUTS:
none
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_report_company_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
report_company.report_company_id,
report_company.report_company_ud
FROM
report_company

ORDER BY report_company_ud ASC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
