USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_global_payment_value_fee_schedule_procedure_code_range]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Francis Cahill
DATE: 1/12/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/06/2009	Vishwa Jella	1.0			updated with filter condition for Global Payment method
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
from input fee schedule id, load procedure code range ud's concatenated
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_global_payment_value_fee_schedule_procedure_code_range]
(
@fee_schedule_id  int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1

begin

select
start_pc.procedure_code_ud + '-' + end_pc.procedure_code_ud as procedure_code_range
,start_pc.procedure_code_id as starting_procedure_code_id
,end_pc.procedure_code_id as ending_procedure_code_id
from
fee_schedule_professional_medical_detail fspmd
left join procedure_code start_pc
on fspmd.starting_procedure_code_id = start_pc.procedure_code_id
left join procedure_code end_pc
on fspmd.ending_procedure_code_id = end_pc.procedure_code_id
LEFT JOIN fee_schedule_payment_method fspm
on fspmd.fee_schedule_payment_method_id = fspm.fee_schedule_payment_method_id
where fspmd.fee_schedule_id=@fee_schedule_id
AND	fspm.golden_key = 'USE_GLOBAL_PAYMENT_VALUE'


end
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
