USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_provider_select]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/07/2009	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Select providers based capitation definition and time period


--
REQUIREMENTS:
--
INPUTS:
@capitation_definition_id
@period_start_date
@period_end_date

HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_definition_provider_select]
(
@capitation_definition_id INT,
@capitation_period_id INT = NULL
)
AS

DECLARE
@period_start_date AS DATETIME,
@period_end_date AS DATETIME
SELECT @period_start_date = effective_from, @period_end_date = effective_thru FROM
capitation_period where capitation_period_id = @capitation_period_id
-- Make to max if not defined
SET @period_start_date = ISNULL(@period_start_date, '1/1/1753')
SET @period_end_date = ISNULL(@period_end_date, '9/9/9999')

-- What are the rules for multiple matches?
-- Which items should be excluded when out of period?
-- Provider Identifier
SELECT provider_id FROM
(
SELECT provider_id, capitation_group_id FROM
(
SELECT p.provider_id, cg.capitation_group_id FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_identifier cgpi
ON cg.capitation_group_id = cgpi.capitation_group_id
JOIN provider_identifier [pi]
ON cgpi.provider_identifier_id = [pi].provider_identifier_id
JOIN provider p
ON [pi].provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpi.is_excluded = 0
AND
ISNULL([pi].effective_from, '1/1/1753') <= @period_end_date	AND	ISNULL([pi].effective_thru, '9/9/9999') >= @period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru, '9/9/9999') >= @period_start_date
UNION
-- Provider Network
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_network cgpn
ON cg.capitation_group_id = cgpn.capitation_group_id
JOIN provider_network pn
ON cgpn.provider_network_id = pn.provider_network_id
JOIN provider_provider_network ppn
ON pn.provider_network_id = ppn.provider_network_id
JOIN provider p
ON ppn.provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpn.is_excluded = 0
AND
ISNULL(ppn.effective_from,'1/1/1753') <= @period_end_date	AND	ISNULL(ppn.effective_thru, '9/9/9999') >= @period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru, '9/9/9999') >= @period_start_date

UNION
--Provider Network Set
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_network_set cgpns
ON cg.capitation_group_id = cgpns.capitation_group_id
JOIN provider_network_set pns
ON cgpns.provider_network_set_id = pns.provider_network_set_id
JOIN provider_network_provider_network_set pnpns
ON pns.provider_network_set_id = pnpns.provider_network_set_id
JOIN provider_provider_network ppn
ON pnpns.provider_network_id = ppn.provider_network_id
JOIN provider p
ON ppn.provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpns.is_excluded = 0
AND
ISNULL(pnpns.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(pnpns.effective_thru, '9/9/9999') >= @period_start_date
AND
ISNULL(pns.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(pns.effective_thru, '9/9/9999') >= @period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru, '9/9/9999') >= @period_start_date
UNION
-- Provider Specialty
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_specialty_type cgpst
ON cg.capitation_group_id = cgpst.capitation_group_id
JOIN provider_specialty ps
ON cgpst.provider_specialty_type_id = ps.provider_specialty_type_id
JOIN provider p
ON ps.provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpst.is_excluded = 0
AND
ISNULL(ps.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(ps.effective_thru,'9/9/9999')>=@period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru,'9/9/9999') >= @period_start_date
UNION
-- Provider Specialty Set
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_specialty_set cgpsts
ON cg.capitation_group_id = cgpsts.capitation_group_id
JOIN provider_specialty_set pss
ON cgpsts.provider_specialty_set_id = pss.provider_specialty_set_id
JOIN provider_specialty_set_detail pssd
ON
pss.provider_specialty_set_id = pssd.provider_specialty_set_id
JOIN
provider_specialty ps
ON pssd.provider_specialty_type_id = ps.provider_specialty_type_id
JOIN provider p
ON ps.provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpsts.is_excluded = 0
AND
ISNULL(ps.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(ps.effective_thru,'9/9/9999')>=@period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru,'9/9/9999') >= @period_start_date

-- Provider Category
UNION
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_category_type cgpct
ON cg.capitation_group_id = cgpct.capitation_group_id
JOIN provider_category pc
ON cgpct.provider_category_type_id = pc.provider_category_type_id
JOIN provider p
ON pc.provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpct.is_excluded = 0
AND
ISNULL(pc.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(pc.effective_thru,'9/9/9999')>=@period_start_date
AND
ISNULL(p.effective_from,'1/1/1753') <= @period_end_date AND ISNULL(p.effective_thru,'9/9/9999') >= @period_start_date
)
as included_providers
EXCEPT
-- excluded_providers
(
SELECT p.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_identifier cgpi
ON cg.capitation_group_id = cgpi.capitation_group_id
JOIN provider_identifier [pi]
ON cgpi.provider_identifier_id = [pi].provider_identifier_id
JOIN provider p
ON [pi].provider_id = p.provider_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpi.is_excluded = 1
UNION
-- Provider Network
SELECT ppn.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_network cgpn
ON cg.capitation_group_id = cgpn.capitation_group_id
JOIN provider_network pn
ON cgpn.provider_network_id = pn.provider_network_id
JOIN provider_provider_network ppn
ON pn.provider_network_id = ppn.provider_network_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpn.is_excluded = 1
UNION
--Provider Network Set
SELECT ppn.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_network_set cgpns
ON cg.capitation_group_id = cgpns.capitation_group_id
JOIN provider_network_set pns
ON cgpns.provider_network_set_id = pns.provider_network_set_id
JOIN provider_network_provider_network_set pnpns
ON pns.provider_network_set_id = pnpns.provider_network_set_id
JOIN provider_provider_network ppn
ON pnpns.provider_network_id = ppn.provider_network_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpns.is_excluded = 1

UNION
-- Provider Specialty
SELECT ps.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_specialty_type cgpst
ON cg.capitation_group_id = cgpst.capitation_group_id
JOIN provider_specialty ps
ON cgpst.provider_specialty_type_id = ps.provider_specialty_type_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpst.is_excluded = 1
UNION
-- Provider Specialty Set
SELECT ps.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_specialty_set cgpsts
ON cg.capitation_group_id = cgpsts.capitation_group_id
JOIN provider_specialty_set pss
ON cgpsts.provider_specialty_set_id = pss.provider_specialty_set_id
JOIN provider_specialty_set_detail pssd
ON
pss.provider_specialty_set_id = pssd.provider_specialty_set_id
JOIN
provider_specialty ps
ON pssd.provider_specialty_type_id = ps.provider_specialty_type_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpsts.is_excluded = 1
-- Provider Category
UNION
SELECT pc.provider_id, cg.capitation_group_id  FROM
capitation_definition cd
JOIN capitation_definition_capitation_group cdcg
ON
cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg
ON cdcg.capitation_group_id = cg.capitation_group_id
JOIN capitation_group_provider_category_type cgpct
ON cg.capitation_group_id = cgpct.capitation_group_id
JOIN provider_category pc
ON cgpct.provider_category_type_id = pc.provider_category_type_id
WHERE
cd.capitation_definition_id = @capitation_definition_id
AND
cgpct.is_excluded = 1
)
) as providers
group by providers.provider_id
order by provider_id
GO
