USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_benefit_class_choice_list_id_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 2006/03/08
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for benefit frame work benefit class choice list

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_framework_benefit_class_choice_list_id_save]
(
@node1_id         		           int = NULL   OUTPUT
,@benefit_framework_id                       int = NULL
,@benefit_class_id                           int = NULL
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @node1_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_framework_benefit_class(
benefit_framework_id
,benefit_class_id
,active
)
VALUES
(@benefit_framework_id
,@benefit_class_id
,@active
)
--
SET @node1_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_framework_benefit_class WHERE benefit_framework_benefit_class_id = @node1_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_framework_benefit_class
SET
benefit_framework_id                     = @benefit_framework_id
,benefit_class_id                         = @benefit_class_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_benefit_class_id = @node1_id
END
--
RETURN @SP_SUCCESS
end
GO
