USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for form frmClaimdisbursementQueue

--
REQUIREMENTS:
--
INPUTS:
@disbursement_claim_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disbursement_claim_payment_queue_load]
(
@disbursement_claim_payment_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cdq.disbursement_claim_payment_queue_id
,cdq.disbursement_claim_payment_queue_ud
,cdq.description
,cdq.schedule_form_id
,cdq.payment_method_payment_id
,cdq.maximum_funding_amount
,cdq.disbursement_claim_payment_date_type_id
,sf.duration_start_date
,sf.duration_end_date
FROM dbo.disbursement_claim_payment_queue cdq
LEFT JOIN dbo.disbursement_claim_payment_run cdr ON cdq.disbursement_claim_payment_queue_id = cdr.disbursement_claim_payment_queue_id
LEFT JOIN dbo.schedule_form sf ON cdq.schedule_form_id = sf.schedule_form_id
WHERE cdq.disbursement_claim_payment_queue_id = @disbursement_claim_payment_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
