USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/11/2009	Vishwa		1.0			Added captitation run status golden key to disable
cancel button on capitation run form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for frmcapitationRun

--
REQUIREMENTS:
--
INPUTS:
@capitation_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_run_load] (
@capitation_run_id INT
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cr.capitation_run_id
,cr.capitation_run_ud
,cd.capitation_definition_ud
,cr.capitation_run_status_id
,crs.capitation_run_status_ud
,crs.golden_key as capitation_run_status_golden_key
,cr.run_date
,cr.end_of_review
,cr.do_not_release
FROM	dbo.capitation_run AS cr
LEFT JOIN capitation_run_status AS crs
ON crs.capitation_run_status_id  = cr.capitation_run_status_id
LEFT JOIN capitation_definition AS cd
ON cd.capitation_definition_id  = cr.capitation_definition_id

WHERE	cr.capitation_run_id = @capitation_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
