USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_benefit_class_choice_list_resolution_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/05/2005	ThuyNgo			1.0			Created
04/25/2008	David Slayton	1.1			Added Choice List ID column.
08/22/2013	AMortensen		1.2			Added Concurrency Check using modified_date
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Benefit Class Choice Resolution"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_benefit_class_choice_list_resolution_load]

(
@episode_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
episode_benefit_class_choice_list_resolution.episode_benefit_class_choice_list_resolution_id
,benefit.benefit_id
,benefit.benefit_ud
,benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,episode_benefit_class_choice_list_resolution.benefit_coverage_rules_id
,episode_benefit_class_choice_list_resolution.benefit_framework_valid_choice_id as benefit_framework_valid_choice_id
,benefit_framework_choice_list.benefit_framework_choice_list_ud
,benefit_framework_valid_choice.benefit_framework_choice_list_id
,episode_benefit_class_choice_list_resolution.modified_date

FROM episode_benefit_class_choice_list_resolution
left join benefit_coverage_rules  ON benefit_coverage_rules.benefit_coverage_rules_id = episode_benefit_class_choice_list_resolution.benefit_coverage_rules_id
left join benefit_framework_choice_list ON benefit_coverage_rules.benefit_framework_choice_list_id = benefit_framework_choice_list.benefit_framework_choice_list_id
left join benefit_framework_valid_choice  ON benefit_framework_valid_choice.benefit_framework_valid_choice_id = episode_benefit_class_choice_list_resolution.benefit_framework_valid_choice_id
left join benefit  ON benefit.benefit_id = benefit_coverage_rules.benefit_id
left join benefit_framework_benefit_class ON benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit.benefit_framework_benefit_class_id
left join benefit_class ON benefit_class.benefit_class_id =    benefit_framework_benefit_class.benefit_class_id
WHERE episode_benefit_class_choice_list_resolution.episode_id = @episode_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
