USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_relationship_to_insured_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/05/09	Jeremy Hein					ICU 20124 - Changed Sort to sort_order column instead of relationship_to_insured_ud
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down relationship_to_insured (Relationship to Insured)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_relationship_to_insured_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
relationship_to_insured.relationship_to_insured_id
,relationship_to_insured.relationship_to_insured_ud
,golden_key
FROM relationship_to_insured
ORDER BY sort_order

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
