USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_get_batch_employee_class]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_get_batch_employee_class]
@pagingOrderFrom INT,
@pagingOrderTo INT
AS

SET NOCOUNT ON;

SELECT
wt.disbursement_claim_payment_work_table_id,
wt.accounting_transaction_ap_id,
h.employee_class_id
FROM
disbursement_claim_payment_work_table wt
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = wt.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = wt.accounting_transaction_ap_id
INNER JOIN claim c
ON c.claim_id = cd.claim_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = cd.claim_procedure_id
INNER JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN family_eligibility_employment emp
ON emp.family_eligibility_employment_id = fe.family_eligibility_employment_id
INNER JOIN family_eligibility_employment_history h
ON h.family_eligibility_employment_id = emp.family_eligibility_employment_id
WHERE
wt.paging_order BETWEEN @pagingOrderFrom and @pagingOrderTo
AND h.effective_from <= cp.service_from_date
AND (h.effective_thru IS NULL OR h.effective_thru >= cp.service_from_date)
ORDER BY
wt.paging_order;
GO
