USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_contact_name_load_by_id]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/12/2005        HungTNguyen	               1.0 		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single member_contact_association from the contact_association table.
--
REQUIREMENTS:
--
INPUTS:
contact_association_id - Key to contact_association table, identifies a single stored member_contact_association.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_contact_name_load_by_id]

(
@contact_id int = 0
)
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
contact.contact_id
,CASE WHEN alias_type.golden_key = 'PERSON' THEN
dbo.plx_ConcatenateName(name_last, name_first, name_middle, name_suffix)
ELSE
contact_name.name_last -- company name
END
AS contact_nm
FROM contact
LEFT JOIN contact_name  ON contact.contact_id = contact_name.contact_id
LEFT JOIN alias_type  ON contact_name.alias_type_id = alias_type.alias_type_id
WHERE contact_name.is_primary=1 and contact.contact_id=@contact_id
ORDER BY contact_nm -- Fixed Offline Defect #7776

RETURN @SP_SUCCESS
--
END
--
GO
