USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_accounting_invoice_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used on Beneft Contract Premium Setup form, allowing user to override Standard
Auto Create Accounting Invoice ID Rule.

The stored procedure to load on the System Configuration form is:
[dbo].[plx_dd_auto_create_accounting_invoice_id_rule_standard_only_load]

******************************/
CREATE   PROCEDURE [dbo].[plx_dd_auto_create_accounting_invoice_id_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
auto_create_accounting_invoice_id_rule_id
,format
,golden_key
FROM auto_create_accounting_invoice_id_rule
ORDER BY auto_create_accounting_invoice_id_rule_ud
--
RETURN @SP_SUCCESS
GO
