USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Form: Claim Accounting Info form (frmClaimAccountingInfo)
Loads accounting information for a claim line

Note that this stored procedure renames the accouting_transaction_ap_id
to accounting_transaction_id; this is because it is used as an
input parameter in the Payment Info grid stored procedure:
[dbo].[plx_accounting_information_transaction_payment_list_load]

Also note that only one row is returned (ensured by the TOP 1 in the SELECT statement).
This is necessary because there may be multiple accounting transactions for a claim line,
such as when a payment penalty is applied to a claim line.

******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_information_load]
(
@claim_procedure_id INT = NULL
)
AS
--
SELECT TOP 1
cp.claim_procedure_id,
cp.claim_line_sequence,
c.claim_id,
c.claim_ud,
apClaimDetail.accounting_transaction_ap_id as accounting_transaction_id
FROM claim_procedure cp
JOIN claim c on c.claim_id =  cp.claim_id
LEFT JOIN accounting_transaction_ap_claim_detail apClaimDetail
ON apClaimDetail.claim_procedure_id = cp.claim_procedure_id
WHERE
cp.claim_procedure_id = @claim_procedure_id
ORDER BY apClaimDetail.accounting_transaction_ap_id
--
RETURN 0
GO
