USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
HEADER_BEGIN;


REVISION_HISTORY:

Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2009		Vishwa Jella	1.0			created
05/22/2012		Aaron Mortensen	1.1			changed carrier_vendor_customer to carrier_customer

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if/WHERE this client is used
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_customer_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT	customer_id
FROM	customer
WHERE	customer_id = @id)
RETURN @SP_DELETE_ABLE

ELSE
BEGIN
IF EXISTS(SELECT * FROM accounting_export_to_gl WHERE customer_id = @id)
OR EXISTS(SELECT * FROM accounting_export_to_gl_template WHERE customer_id = @id)
OR EXISTS(SELECT * FROM accounting_transaction_ar WHERE customer_id = @id)
OR EXISTS(SELECT * FROM agent_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM carrier_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM reinsurance_carrier_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM client_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM client_group_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM family_eligibility_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM family_eligibility_member_benefit_plan WHERE customer_id = @id)
OR EXISTS(SELECT * FROM member WHERE customer_id = @id)
OR EXISTS(SELECT * FROM practice_office_customer WHERE customer_id = @id)
OR EXISTS(SELECT * FROM premium WHERE customer_id = @id)
OR EXISTS(SELECT * FROM provider_network_customer WHERE customer_id = @id)
OR EXISTS (SELECT * FROM plx_fn_check_criteria_object_in_use('Customer', @id))
BEGIN
--check export to gl
SELECT 'Export to GL' As object_golden_key, export_to_gl_ud AS object_ud
FROM accounting_export_to_gl
WHERE accounting_export_to_gl.customer_id = @id

--check export to gl template
SELECT 'Export to GL Template' As object_golden_key, export_to_gl_template_ud AS object_ud
FROM accounting_export_to_gl_template
WHERE accounting_export_to_gl_template.customer_id = @id

--check accounting trasnaction ar
SELECT 'Accounts Receivable' As object_golden_key, accounting_transaction_ar_ud AS object_ud
FROM accounting_transaction_ar
WHERE accounting_transaction_ar.customer_id = @id

--check agents
SELECT 'Agent' As object_golden_key, dbo.plx_ConcatenateName(agent_name.name_last, agent_name.name_first, agent_name.name_middle, NULL) AS object_ud
FROM agent_name
INNER JOIN agent_customer ON agent_customer.agent_id = agent_name.agent_id
WHERE agent_customer.customer_id = @id

--check carriers
SELECT 'Carrier' As object_golden_key, carrier.carrier_ud AS object_ud
FROM carrier
INNER JOIN carrier_customer ON carrier_customer.carrier_id = carrier.carrier_id
WHERE carrier_customer.customer_id = @id

--check reinsurance carriers
SELECT 'Reinsurance Carrier' As object_golden_key, reinsurance_carrier.reinsurance_carrier_ud AS object_ud
FROM reinsurance_carrier
INNER JOIN reinsurance_carrier_customer ON reinsurance_carrier_customer.reinsurance_carrier_id = reinsurance_carrier.reinsurance_carrier_id
WHERE reinsurance_carrier_customer.customer_id = @id

--check clients
SELECT 'Client' As object_golden_key, client_name.client_ud AS object_ud
FROM client_name
INNER JOIN client_customer ON client_customer.client_id = client_name.client_id
WHERE client_customer.customer_id = @id

--check client groups
SELECT 'Group' As object_golden_key, client_group_name.client_group_ud AS object_ud
FROM client_group_name
INNER JOIN client_group_customer ON client_group_customer.client_group_id = client_group_name.client_group_id
WHERE client_group_customer.customer_id = @id

--check family eligibilities
SELECT 'Family Eligibility' As object_golden_key, family_eligibility.family_eligibility_ud AS object_ud
FROM family_eligibility
INNER JOIN family_eligibility_customer ON family_eligibility_customer.family_eligibility_id = family_eligibility.family_eligibility_id
WHERE family_eligibility_customer.customer_id = @id

--check member eligibilities
SELECT 'Member Eligibility' As object_golden_key, member_eligibility_ud AS object_ud
FROM family_eligibility_member_benefit_plan
WHERE family_eligibility_member_benefit_plan.customer_id = @id

--check members
SELECT 'Member' As object_golden_key, dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) AS object_ud
FROM member_name
INNER JOIN member ON member.member_id = member.member_id
WHERE member.customer_id = @id

--check Practice Offices
SELECT 'Practice Office' As object_golden_key, practice_office.practice_office_ud AS object_ud
FROM practice_office
INNER JOIN practice_office_customer ON practice_office_customer.practice_office_id = practice_office.practice_office_id
WHERE practice_office_customer.customer_id = @id

--check Provider Networks
SELECT 'Network' As object_golden_key, provider_network.provider_network_ud AS object_ud
FROM provider_network
INNER JOIN provider_network_customer ON provider_network_customer.provider_network_id = provider_network.provider_network_id
WHERE provider_network_customer.customer_id = @id

--check criteria objects
SELECT 'Criteria' AS object_golden_key, criteria_ud AS object_ud
FROM plx_fn_check_criteria_object_in_use('Customer', @id)

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
