USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claims_viewer_tree_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 	10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/15/2005       Trinh Le              Change due to database changes
03/10/2006       Trinh Le              Filter the claim processing queue type to processing and analysis only
12/08/2006	 	 HuyThan			   Changed workgroup_id => server_role_uid
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
load Claim Processing Queue Type/Queue tree on Claim Processing Workflow  spec
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       procedure [dbo].[plx_claims_viewer_tree_load]
(
@table nvarchar(50) = null
)
as
begin
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@CUR_DATE DATETIME

SELECT	@SP_SUCCESS 		= 0,
@SP_EXCEPTION 		= -1,
@CUR_DATE = getdate()

IF NOT @table IS NULL
BEGIN

IF ISNULL(@table, '') = 'claim_processing_queue'
SELECT claim_processing_queue_id as queue_id, claim_processing_queue_ud as queue_ud
FROM claim_processing_queue
WHERE @CUR_DATE >= effective_from AND @CUR_DATE <= isnull(effective_thru, @CUR_DATE)
ORDER BY claim_processing_queue_ud, claim_processing_queue_id

ELSE IF ISNULL(@table, '') = 'claim_readjudication_queue'
SELECT claim_readjudication_queue_id as queue_id, claim_readjudication_queue_ud as queue_ud
FROM claim_readjudication_queue
WHERE @CUR_DATE >= effective_from AND @CUR_DATE <= isnull(effective_thru, @CUR_DATE)
ORDER BY claim_readjudication_queue_ud, claim_readjudication_queue_id

ELSE IF ISNULL(@table, '') = 'claim_analysis_queue'
SELECT claim_analysis_queue_id as queue_id, claim_analysis_queue_ud as queue_ud
FROM claim_analysis_queue
WHERE @CUR_DATE >= effective_from AND @CUR_DATE <= isnull(effective_thru, @CUR_DATE)
ORDER BY claim_analysis_queue_ud, claim_analysis_queue_id
ELSE IF ISNULL(@table, '') = 'claim_timely_payment_queue'
SELECT claim_timely_payment_queue_id as queue_id, claim_timely_payment_queue_ud as queue_ud
FROM claim_timely_payment_queue
WHERE @CUR_DATE >= effective_from AND @CUR_DATE <= isnull(effective_thru, '9/9/9999')
ORDER BY claim_timely_payment_queue_ud, claim_timely_payment_queue_id
END

IF @@rowcount >= 1
RETURN @SP_SUCCESS

ELSE
RETURN @SP_EXCEPTION

SET NOCOUNT OFF
end
GO
