USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_periods_get_by_claim_procedures]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Description: Retrieves all of the accumulator period data sourced from a set of claim lines.

Inputs:
@claimProcedureIds - List of the claim from which to fetch rollover period data.  The set of lines does not
have to be from the same claim or even the same member.

*/

CREATE PROCEDURE [dbo].[plx_accumulator_periods_get_by_claim_procedures]
@claimProcedureIds udtt_accumulator_claim_procedures READONLY
AS

SET NOCOUNT ON;

DECLARE @accumulators TABLE
(
member_id INT NOT NULL,
accumulator_framework_accumulator_class_accumulator_id INT NOT NULL
);

-- Periods that are relevant to analysis are for the member/accumulator pair and not just the periods directly associated with the line.  The
-- unique sets of these pairs are used to find all periods for the pair.
INSERT INTO @accumulators (member_id, accumulator_framework_accumulator_class_accumulator_id)
SELECT DISTINCT
arp.member_id,
arp.accumulator_framework_accumulator_class_accumulator_id
FROM
@claimProcedureIds cps
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure rcp
ON rcp.claim_procedure_id = cps.claim_procedure_id
INNER JOIN accumulator_adjudication_rollover_period arp
ON arp.accumulator_adjudication_rollover_period_id = rcp.accumulator_adjudication_rollover_period_id;

SELECT
rp.accumulator_adjudication_rollover_period_id,
rp.accumulator_framework_accumulator_class_accumulator_id,
rp.member_id,
rp.period_from,
rp.period_thru,
rp.scope_key
FROM
@accumulators a
INNER JOIN accumulator_adjudication_rollover_period rp
ON rp.member_id = a.member_id
AND rp.accumulator_framework_accumulator_class_accumulator_id = a.accumulator_framework_accumulator_class_accumulator_id;

SELECT
rpcp.accumulator_adjudication_rollover_period_claim_procedure_id,
rpcp.accumulator_adjudication_rollover_period_id,
rpcp.claim_procedure_id,
cp.claim_id,
rpcp.inclusion_date,

-- The following columns are used only when negating when the negate needs to shift the period form and thru
-- dates around.  The data is used to match up accumulator seeds.  At some future point we will simplify how
-- seeds are processed making this obsolete.  Whether that is tagging a scope or attaching seeds with the
-- periods they get used in.  This is scope data, so although the set of data can vary for each line, whichever
-- type of scope is used will be the same across all of the lines in the period.
ark.family_eligibility_member_benefit_plan_id,
ark.family_eligibility_id,
ark.benefit_contract_id,
ark.benefit_plan_id,
ark.benefit_contract_period_id,
c.episode_id
FROM
@accumulators a
INNER JOIN accumulator_adjudication_rollover_period rp
ON rp.member_id = a.member_id
AND rp.accumulator_framework_accumulator_class_accumulator_id = a.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure rpcp
ON rpcp.accumulator_adjudication_rollover_period_id = rp.accumulator_adjudication_rollover_period_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = rpcp.claim_procedure_id
LEFT JOIN adjudication_result_key ark
ON ark.claim_procedure_id = cp.claim_procedure_id
INNER JOIN claim c
ON c.claim_id = cp.claim_id;
GO
