USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tooth_surface_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 18 2005 12:04AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down tooth_surface (Tooth Surface)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_tooth_surface_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
tooth_surface.tooth_surface_id
,tooth_surface.tooth_surface_ud
,tooth_surface.tooth_surface_nm
--      ,tooth_surface.active
--      ,tooth_surface.created_user_name
--      ,tooth_surface.created_group_id

--      ,created_group.created_group_ud
--      ,tooth_surface.created_date
--      ,tooth_surface.modified_date
FROM tooth_surface
--      inner join created_group  ON created_group.created_group_id = tooth_surface.created_group_id
--WHERE tooth_surface.tooth_surface_id = @tooth_surface_id
--
ORDER BY tooth_surface_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
