USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_authorization_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mohsin Abdul
DATE: 12/23/2010
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure used for creating duplicate Authorization/Referral Records.
--
REQUIREMENTS:
--
INPUTS:
@Id,
@UD,
and other values that need to be copied over to the duplicated form

'To Diuscuss - Implement duplicating Auths that fall before the as of date.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_authorization_duplicate]

(
@ID											INT, -- Authorization/Referral_id
@UD											NVARCHAR(50)
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@type_id										INT,
@new_id										INT,
@effective_from							DATETIME,
@ERROR 										NVARCHAR(50)

---Get @type_id (authorization or referal)
select @type_id = referral_form_type_id from referral where referral_id = @ID;

select 	@effective_from = convert(varchar(10), getdate(), 101);


--Copying header data
INSERT INTO referral (
referral_ud,
referral_type_id,
referral_form_type_id,
referral_template_id,
referral_status_id,
referral_urgency_id,
referral_date_received,
referral_time_received,
reference_referral_ud,
family_eligibility_member_benefit_plan_id,
effective_from,
referring_provider_identifier_id,
referring_provider_id,
referring_provider_network_id,
primary_diagnosis_code_id,
admit_primary_diagnosis_code_id,
expected_admit_date,
actual_admit_date,
expected_discharge_date,
actual_discharge_date,
is_newborn,
is_catastrophic,
allow_services_not_listed,
maximum_dollar_amount,
maximum_units,
maximum_visits,
expected_cost,
use_procedure_effective_dates,
use_estimated_cost_for_ibnr,
comment,
active)
SELECT
@UD,
referral_type_id,
referral_form_type_id,
referral_template_id,
'1', -- as the status in dupilcate form should be 'Entered'
referral_urgency_id,
referral_date_received,
referral_time_received,
reference_referral_ud,
family_eligibility_member_benefit_plan_id,
@effective_from,
referring_provider_identifier_id,
referring_provider_id,
referring_provider_network_id,
primary_diagnosis_code_id,
admit_primary_diagnosis_code_id,
expected_admit_date,
actual_admit_date,
expected_discharge_date,
actual_discharge_date,
is_newborn,
is_catastrophic,
allow_services_not_listed,
maximum_dollar_amount,
maximum_units,
maximum_visits,
expected_cost,
use_procedure_effective_dates,
use_estimated_cost_for_ibnr,
comment,
active
FROM	referral
WHERE	referral_id = @ID

SELECT @new_id = SCOPE_IDENTITY()

-- Copy Secondary diagnosis info
INSERT INTO referral_secondary_dx_code(
referral_id
,diagnosis_code_id
,active
)
select @new_id
,diagnosis_code_id
,active
from referral_secondary_dx_code
WHERE	referral_id = @ID

--Copying data for Referred Providers tab
INSERT INTO referral_provider
(referral_id
,provider_identifier_id
,provider_id
,provider_specialty_id
,practice_office_id
,referral_provider_involvement_id
,active
)
SELECT
@new_id
,provider_identifier_id
,provider_id
,provider_specialty_id
,practice_office_id
,referral_provider_involvement_id
,active
FROM	referral_provider
WHERE	referral_id = @ID


--Copying data for Authorized Procedures tab
insert into referral_authorized_procedure
(referral_id
,effective_from
,effective_thru
,requested_begin_procedure_code_id
,requested_begin_procedure_code_ud
,requested_end_procedure_code_id
,requested_end_procedure_code_ud
,approved_procedure_code_id
,approved_procedure_code_ud
,modifier
,place_of_service_id
,type_of_service_id
,provider_id
,units_requested
,units_approved
,visits_requested
,visits_approved
,approved_dollar_amount
,referral_procedure_status_id
,procedure_code_group_id
,comment
,active
)
SELECT 		@new_id
,effective_from
,effective_thru
,requested_begin_procedure_code_id
,requested_begin_procedure_code_ud
,requested_end_procedure_code_id
,requested_end_procedure_code_ud
,approved_procedure_code_id
,approved_procedure_code_ud
,modifier
,place_of_service_id
,type_of_service_id
,provider_id
,units_requested
,units_approved
,visits_requested
,visits_approved
,approved_dollar_amount
,referral_procedure_status_id
,procedure_code_group_id
,comment
,active
FROM	referral_authorized_procedure
WHERE	referral_id = @ID
--	AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
--			OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))


--Copying data for the Approvals tab
INSERT INTO referral_approval
(referral_id
,referral_authorization_reviewer_id
,user_name
,determination_id
,determination_date
,comment
,active
)
Select	@new_id
,referral_authorization_reviewer_id
,user_name
,determination_id
,determination_date
,comment
,active
from referral_approval
WHERE	referral_id = @ID

--Copying data for the User Assigned Result Codes tab
INSERT INTO referral_user_assigned_result_code
(referral_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
SELECT	@new_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
FROM referral_user_assigned_result_code
WHERE	referral_id = @ID



RETURN isnull(@new_id, 0)
GO
