USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_benefit_class_choice_resolution_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/06/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/06/2006	HuyThan		1.0		table benefit_framework_valid_choice.function_name is removed
09/11/2006	Hiep Nguyen	1.1		modified
04/24/2008	Vishwa Jella1.2		modified related to TK-01676
08/22/2013	AMortensen	1.3		modifed to return modified_date for concurrency check
--

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Read data from the benefit_plan_benefit_class_choice_resolution table.
This stored procedure is used in the Benefit Class Choice Resolution grid of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_plan_benefit_class_choice_resolution_list_load]
(
@benefit_plan_id			int = NULL
,@benefit_framework_id		int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- get new choice resolution list for the plan
SELECT DISTINCT
NULL AS benefit_plan_benefit_class_choice_resolution_id
,benefit_coverage_rules.benefit_coverage_rules_id
,bc.benefit_class_id
,bc.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
, null as benefit_plan_id
,bfcl.benefit_framework_choice_list_id
,bfcl.benefit_framework_choice_list_ud
,cast(null as int) AS benefit_framework_valid_choice_id
,benefit_coverage_rules.effective_from AS effective_from
,benefit_coverage_rules.effective_thru AS effective_thru
,benefit_coverage_rules.effective_from AS bc_eff_from
,benefit_coverage_rules.effective_thru AS bc_eff_thru
,bc.modified_date
FROM 		dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
WHERE   rcla.golden_key = N'BENEFIT PLAN'
AND	bf.benefit_framework_id = @benefit_framework_id
AND ( benefit_coverage_rules.benefit_coverage_rules_id
NOT IN  ( SELECT   	 benefit_coverage_rules.benefit_coverage_rules_id
FROM 		dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN dbo.benefit_plan_benefit_class_choice_resolution bpbccr
ON 	bpbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
AND	bpbccr.benefit_plan_id = @benefit_plan_id
LEFT JOIN dbo.benefit_framework_valid_choice bfvc
ON	bfvc.benefit_framework_valid_choice_id = bpbccr.benefit_framework_valid_choice_id
WHERE   rcla.golden_key = N'BENEFIT PLAN'
AND	bpbccr.benefit_plan_id = isnull(@benefit_plan_id, 0)
AND		bf.benefit_framework_id = @benefit_framework_id
AND		1 <= (	SELECT	COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id)
))

UNION
--get existing choice resolution list for this plan
SELECT   	 bpbccr.benefit_plan_benefit_class_choice_resolution_id
,benefit_coverage_rules.benefit_coverage_rules_id
,bc.benefit_class_id
,bc.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bpbccr.benefit_plan_id
,bfcl.benefit_framework_choice_list_id
,bfcl.benefit_framework_choice_list_ud
,bpbccr.benefit_framework_valid_choice_id
,bpbccr.effective_from AS effective_from
,bpbccr.effective_thru AS effective_thru
,benefit_coverage_rules.effective_from as bc_eff_from
,benefit_coverage_rules.effective_thru as bc_eff_thru
,bpbccr.modified_date
FROM 		dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN dbo.benefit_plan_benefit_class_choice_resolution bpbccr
ON 	bpbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
AND	bpbccr.benefit_plan_id = @benefit_plan_id
LEFT JOIN dbo.benefit_framework_valid_choice bfvc
ON	bfvc.benefit_framework_valid_choice_id = bpbccr.benefit_framework_valid_choice_id
WHERE   rcla.golden_key = N'BENEFIT PLAN'
AND	bpbccr.benefit_plan_id = isnull(@benefit_plan_id, 0)
AND		bf.benefit_framework_id = @benefit_framework_id
AND		1 <= (	SELECT	COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id)




--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
