USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_ap_or_ar_fee_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE CREATED: 01/21/2010
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
01/21/2010  Vishwa Jella	1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
check for delete condition for ap, ar fees grid rows if it is used or not
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_ap_or_ar_fee_check_delete]
(
@id  int = NULL,
@IS_AP_FEE	bit = 0  -- AP_FEE = 1 for client_fee_setup_ap_fee_id record
-- AP_FEE = 0 for client_fee_setup_ar_fee_id record

) AS
--
SET NOCOUNT ON

BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@IN_USE bit,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF (@IS_AP_FEE = 1)
BEGIN
IF NOT EXISTS (SELECT 1 FROM client_fee_setup_ap_fee
WHERE client_fee_setup_ap_fee_id = @id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END
-- Check AP transactions for In use of client_fee_setup_ap_fee_id
ELSE BEGIN
SELECT @IN_USE = dbo.plx_fn_check_client_fee_setup_ap_fee_in_use(@id)

IF @IN_USE = 1
SET @RESULT = @SP_DELETE_UNABLE
END
--

RETURN @RESULT
END
ELSE -- else AR_FEE
BEGIN
IF NOT EXISTS (SELECT 1 FROM client_fee_setup_ar_fee
WHERE client_fee_setup_ar_fee_id = @id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END
-- Check AR transactions for In use of client_fee_setup_ar_fee_id
ELSE BEGIN
SELECT @IN_USE = dbo.plx_fn_check_client_fee_setup_ar_fee_in_use(@id)

IF @IN_USE = 1
SET @RESULT = @SP_DELETE_UNABLE
END
--

RETURN @RESULT
END

END
GO
