USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_add_on_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
6/4/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load px code add on parameters for Claim Processing Rules Framework
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_add_on_load]
(
@claim_processing_rule_framework_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
SELECT 'Professional' as add_on_type_of_claim
,0 as add_on_same_claim_check
,0 as add_on_separate_claim_check
UNION
SELECT 'Institutional Outpatient' as add_on_type_of_claim
,0 as add_on_same_claim_check
,0 as add_on_separate_claim_check
END

ELSE
BEGIN

SELECT 'Professional' as add_on_type_of_claim
,COALESCE(add_on_professional_same_claim_check,0) as add_on_same_claim_check
,COALESCE(add_on_professional_separate_claim_check,0) as add_on_separate_claim_check
FROM claim_processing_rule_framework
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT 'Institutional Outpatient' as add_on_type_of_claim
,COALESCE(add_on_institutional_outpatient_same_claim_check,0) as add_on_same_claim_check
,COALESCE(add_on_institutional_outpatient_separate_claim_check,0) as add_on_separate_claim_check
FROM claim_processing_rule_framework
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
--
RETURN @SP_SUCCESS
GO
