USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_associate_with_family_eligibility_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/14/2005	Tinh Do			1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'accounting_company' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_member_associate_with_family_eligibility_load]

(
@family_eligibility_id 				INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_member.family_eligibility_member_id
,dbo.plx_ConcatenateName(member_name.name_last,member_name.name_first,member_name.name_middle,NULL) as member_name
FROM family_eligibility_member
INNER JOIN member ON family_eligibility_member.member_id = member.member_id
AND family_eligibility_member.family_eligibility_id =@family_eligibility_id
INNER JOIN member_name on member.member_id = member_name.member_id AND member_name.is_primary = 1
WHERE 	family_eligibility_member.family_eligibility_member_id NOT IN
(
SELECT family_eligibility_member.family_eligibility_member_id
FROM family_eligibility_member
INNER JOIN family_eligibility ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
INNER JOIN relationship_to_insured ON family_eligibility_member.relationship_to_insured_id =relationship_to_insured.relationship_to_insured_id
WHERE family_eligibility.family_eligibility_id = @family_eligibility_id
--AND family_eligibility.dependent_only_policy = 1
AND relationship_to_insured.golden_key = 'Guarantor'
)
ORDER BY member_name
--
RETURN @SP_SUCCESS
--
END
GO
