USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_result_key_claim_clear_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_adjudication_result_key_claim_clear_save]
(
@udtt_claim_clear_adjudication_key_override_ids udtt_claim_clear_adjudication_key_override_ids READONLY ,
@commit BIT ,
@debug SMALLINT
)
AS
BEGIN

IF @debug > 1
BEGIN

SELECT  'in plx_adjudication_result_key_claim_clear_save b4' ,
ark.benefit_contract_id ,
ark.claim_processing_rule_framework_id ,
ark.family_eligibility_id ,
arko.*
FROM    adjudication_result_key ark
INNER JOIN @udtt_claim_clear_adjudication_key_override_ids ako ON ako.claim_procedure_id = ark.claim_procedure_id
AND ako.adjudication_result_key_id = ark.[adjudication_result_key_id]
LEFT JOIN adjudication_result_key_override arko ON arko.adjudication_result_key_id = ark.adjudication_result_key_id;
END;

BEGIN TRY

UPDATE  ark
SET     [alternate_course_of_treatment_map_id] = NULL ,
[authorization_id] = CASE WHEN arko.[authorization_id] IS NOT NULL
THEN ark.[authorization_id]
ELSE NULL
END ,
[authorization_authorized_procedure_id] = NULL ,
[benefit_contract_id] = NULL ,
[benefit_contract_period_benefit_plan_id] = NULL ,
[benefit_contract_period_id] = NULL ,
[benefit_framework_id] = NULL ,
[benefit_limit_fee_schedule_id] = NULL ,
[benefit_limit_fee_schedule_modifier_id] = NULL ,
[benefit_limit_msa_code_id] = NULL ,
[benefit_limit_percent_billed_state_id] = NULL ,
[benefit_plan_id] = NULL ,
[bundled_procedure_code_id] = NULL ,
[ces_bundled_procedure_code_id] = NULL ,
[claim_editing_software_yes_no_id] = NULL ,
[claim_processing_rule_framework_id] = CASE
WHEN arko.[claim_processing_rule_framework_id] IS NOT NULL
THEN ark.[claim_processing_rule_framework_id]
ELSE NULL
END ,
[code_depreciation_schedule_id] = NULL ,
[coinsurance_benefit_id] = NULL ,
[copay_benefit_id] = NULL ,
[covered_benefit_id] = NULL ,
[dental_alternate_course_applied_yes_no_id] = CASE
WHEN arko.[dental_alternate_course_applied_yes_no_id] IS NOT NULL
THEN ark.[dental_alternate_course_applied_yes_no_id]
ELSE NULL
END ,
[dental_procedure_grouping_applied_yes_no_id] = CASE
WHEN arko.[dental_procedure_grouping_applied_yes_no_id] IS NOT NULL
THEN ark.[dental_procedure_grouping_applied_yes_no_id]
ELSE NULL
END ,
[dental_restorative_bundling_applied_yes_no_id] = CASE
WHEN arko.[dental_restorative_bundling_applied_yes_no_id] IS NOT NULL
THEN ark.[dental_restorative_bundling_applied_yes_no_id]
ELSE NULL
END ,
[eligibility_state_id] = NULL ,
[employee_class_id] = NULL ,
[expected_fee_schedule_id] = NULL ,
[expected_fee_schedule_modifier_id] = NULL ,
[expected_payment_contract_id] = NULL ,
[externally_priced_yes_no_id] = NULL ,
[family_eligibility_id] = NULL ,
[family_eligibility_member_benefit_plan_id] = NULL ,
[family_eligibility_member_id] = NULL ,
[fee_schedule_detail_id] = NULL ,
[fee_schedule_id] = NULL ,
[fee_schedule_modifier_id] = NULL ,
[fee_schedule_state_id] = NULL ,
[ffs_equiv_msa_code_id] = NULL ,
[ffs_equiv_percent_billed_state_id] = NULL ,
[ffs_equivalent_fee_schedule_id] = NULL ,
[ffs_equivalent_fee_schedule_modifier_id] = NULL ,
[financial_responsibility_assignment_id] = NULL ,
[member_vendor_id] = NULL ,
[ignore_possible_duplicate_claim_line_yes_no_id] = NULL ,
[include_in_depreciation_yes_no_id] = CASE
WHEN arko.[include_in_depreciation_yes_no_id] IS NOT NULL
THEN ark.[include_in_depreciation_yes_no_id]
ELSE NULL
END ,
[reimburse_member_yes_no_id] =     CASE
WHEN arko.[reimburse_member_yes_no_id] IS NOT NULL
THEN ark.[reimburse_member_yes_no_id]
ELSE NULL
END ,
[member_expense_benefit_id] = NULL ,
[member_expense_schedule_id] = NULL ,
[msa_code_id] = NULL ,
[network_level_id] = CASE WHEN arko.[network_level_id] IS NOT NULL
THEN ark.[network_level_id]
ELSE NULL
END ,
[payment_contract_definition_id] = NULL ,
[payment_contract_id] = NULL ,
[payment_contract_state_id] = NULL ,
[percent_billed_state_id] = NULL ,
[plan_level_id] = NULL ,
[practice_office_id] = NULL ,
[primary_care_physician_id] = NULL ,
[primary_care_physician_identifier_id] = NULL ,
[provider_category_id] = NULL ,
[provider_id] = NULL ,
[provider_identifier_id] = NULL ,
[provider_network_id] = CASE WHEN arko.[provider_network_id] IS NOT NULL
THEN ark.[provider_network_id]
ELSE NULL
END ,
[referral_id] = CASE WHEN arko.[referral_id] IS NOT NULL
THEN ark.[referral_id]
ELSE NULL
END ,
[referral_authorized_procedure_id] = NULL ,
[reinsurance_contract_id] = NULL,
[rendering_practice_office_id] = NULL ,
[rendering_provider_id] = NULL ,
[rendering_provider_identifier_id] = NULL ,
--[result_plan_iteration_index]   = null,
[tier_criteria_id] = NULL ,
[tiered_coinsurance_id] = NULL ,
[vendor_id] = NULL ,
[vendor_source_id] = NULL ,
[visit_definition_id] = NULL ,
[withhold_account_id] = NULL ,
[withhold_schedule_id] = NULL ,
modified_date = GETDATE() ,
modified_user_name = ORIGINAL_LOGIN()
FROM    adjudication_result_key ark
INNER JOIN @udtt_claim_clear_adjudication_key_override_ids ako ON ako.claim_procedure_id = ark.claim_procedure_id
AND ako.adjudication_result_key_id = ark.[adjudication_result_key_id]
LEFT JOIN adjudication_result_key_override arko ON arko.adjudication_result_key_id = ark.adjudication_result_key_id;


IF @debug > 1
BEGIN

SELECT  'in plx_adjudication_result_key_claim_clear_save aft' ,
ark.benefit_contract_id ,
ark.claim_processing_rule_framework_id ,
ark.family_eligibility_id ,
ark.modified_date ,
arko.*
FROM    adjudication_result_key ark
INNER JOIN @udtt_claim_clear_adjudication_key_override_ids ako ON ako.claim_procedure_id = ark.claim_procedure_id
AND ako.adjudication_result_key_id = ark.[adjudication_result_key_id]
LEFT JOIN adjudication_result_key_override arko ON arko.adjudication_result_key_id = ark.adjudication_result_key_id;
END;

RETURN 0;

END TRY

BEGIN CATCH
DECLARE @ErrorMessage NVARCHAR(4000) ,
@ErrorNumber INT = ERROR_NUMBER() ,
@ErrorSeverity INT = ERROR_SEVERITY() ,
@ErrorState INT = ERROR_STATE() ,
@ErrorLine INT = ERROR_LINE() ,
@ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT  @ErrorMessage = 'Procedure: ' + @ErrorProcedure
+ '  Line: ' + CAST(ERROR_LINE() AS NVARCHAR(16))
+ '  Message: ' + ERROR_MESSAGE();

RETURN @ErrorNumber;

END CATCH;

END;
GO
