USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/17/2006 Trang Huynh		1.0			Created
2006/03/03 Thuy Ha			2.0			Delete rows in benefit_contract_benefit_accumulator_choice_resolution
belong to removed contract
04/10/2008 lrenard			2.1			implemented dependecy checks before deletes and delete child data
added cursor to go through and delete period level
01/26/2009 lrenard			2.2			Added delete of premium_setup
02/24/2009	David Slayton	2.3			Revised delete of premium setup, added delete of premium setup schedule
04/09/2009	David Slayton	2.4			Revised delete of premium setup to include all table dependencies to premium setup.
09/03/2014  eponomareff     2.5         RT:6046 Data modification project
06/01/2016  eponomareff     2.6         RT:10282 Individual premium billing; delete additional table
--
CURRENT_VERSION: 2.6
--
DESCRIPTION:
Delete for Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_id - Key to benefit_contract table, identifies a single stored benefit_contract.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_delete]
(
@benefit_contract_id             int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@SP_RETURN int,
@ERROR_CANT_DELETE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE   = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--

DECLARE @ErrorVar int, @RowCountVar int;


IF NOT EXISTS (SELECT 1 FROM benefit_contract WHERE benefit_contract_id = @benefit_contract_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
--Check if this episode is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_benefit_contract_check_delete @benefit_contract_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

------DELETE BENEFIT PLAN
DECLARE @benefit_contract_period_benefit_plan_id INT
DECLARE authorcursor CURSOR FOR
SELECT benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
FROM benefit_contract_period
JOIN benefit_contract_period_benefit_plan on benefit_contract_period_benefit_plan.benefit_contract_period_id = benefit_contract_period.benefit_contract_period_id
WHERE benefit_contract_period.benefit_contract_id = @benefit_contract_id

OPEN authorcursor
FETCH NEXT FROM authorcursor INTO @benefit_contract_period_benefit_plan_id

WHILE @@FETCH_STATUS = 0
BEGIN
--DELETE benefit_contract_period_benefit_plan
EXEC @SP_RETURN = dbo.plx_benefit_contract_period_benefit_plan_delete @benefit_contract_period_benefit_plan_id, 0
if @SP_RETURN = @SP_EXCEPTION
begin
CLOSE authorcursor
DEALLOCATE authorcursor
return @SP_EXCEPTION
end
FETCH NEXT FROM authorcursor INTO @benefit_contract_period_benefit_plan_id
END

CLOSE authorcursor
DEALLOCATE authorcursor

-------DELETE PERIOD
DECLARE @benefit_contract_period INT
DECLARE BENEFIT_PERIOD_CURSOR CURSOR FOR
SELECT benefit_contract_period_id FROM benefit_contract_period WHERE benefit_contract_id = @benefit_contract_id

OPEN BENEFIT_PERIOD_CURSOR
FETCH NEXT FROM BENEFIT_PERIOD_CURSOR INTO @benefit_contract_period

WHILE @@FETCH_STATUS = 0
BEGIN
--DELETE benefit_contract_period
EXEC @SP_RETURN = dbo.plx_benefit_contract_period_delete @benefit_contract_period, 0
if @SP_RETURN = @SP_EXCEPTION
begin
CLOSE BENEFIT_PERIOD_CURSOR
DEALLOCATE BENEFIT_PERIOD_CURSOR
RETURN @SP_EXCEPTION
end
FETCH NEXT FROM BENEFIT_PERIOD_CURSOR INTO @benefit_contract_period
END

CLOSE BENEFIT_PERIOD_CURSOR
DEALLOCATE BENEFIT_PERIOD_CURSOR

DELETE benefit_contract_service_representative
FROM benefit_contract_service_representative
WHERE benefit_contract_service_representative.benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_accumulator_class_choice_resolution
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_accumulator_framework
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_benefit_class_choice_resolution
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_correspondence
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_service_representative
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_service_representative
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_user_assigned_result_code
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_contact
WHERE benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE benefit_contract_additional_information
FROM benefit_contract_additional_information
WHERE benefit_contract_additional_information.benefit_contract_id=@benefit_contract_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DECLARE @schedule_form_id INT

SELECT @schedule_form_id = premium_setup.schedule_form_id
FROM premium_setup
WHERE premium_setup.premium_setup_id in
(SELECT premium_setup_id
FROM benefit_contract
WHERE benefit_contract_id = @benefit_contract_id
)

-- Premium Setup
DECLARE @premium_setup_id INT

SELECT @premium_setup_id = benefit_contract.premium_setup_id
FROM benefit_contract
WHERE benefit_contract.benefit_contract_id = @benefit_contract_id

DELETE FROM premium_setup_invoice_date_rule
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_invoice_due_date_rule
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_invoice_review_period_rule
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_override_threshold
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_rule_for_cobra
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM benefit_contract_grace_period_status_override
WHERE benefit_contract_id = @benefit_contract_id

DELETE FROM premium_setup_individual_billing
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_guaranteed_rate_rule
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup_invoice_agent
WHERE premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END


DELETE FROM benefit_contract
WHERE benefit_contract.benefit_contract_id=@benefit_contract_id



SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)


If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM premium_setup
WHERE premium_setup.premium_setup_id = @premium_setup_id
If @@error >0
BEGIN
Return @SP_EXCEPTION
END

DELETE FROM schedule_form
WHERE schedule_form.schedule_form_id = @schedule_form_id

If @@error >0
BEGIN
Return @SP_EXCEPTION
END

RETURN @SP_SUCCESS
END
GO
