USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_contact_name_with_object_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Oct 13 2005  9:19AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single member_contact_association from the contact_association table.
--
REQUIREMENTS:
--
INPUTS:
contact_association_id - Key to contact_association table, identifies a single stored member_contact_association.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_contact_name_with_object_load]
(
@object_name NVARCHAR(128) = NULL,
@object_value int = NULL,
@contact_id int = 0
)
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int,
@table_contact_name nvarchar(128),
@primary_contact_name nvarchar(128),
@primary_object_name nvarchar(128),
@sqlstring nvarchar(4000)
SELECT
@SP_SUCCESS = 0,
@table_contact_name = '',
@primary_contact_name = '',
@primary_object_name = '',
@sqlstring = ''

set @primary_object_name  = @object_name + '_id'
set @table_contact_name   = @object_name + '_contact'
set @primary_contact_name = @object_name +  '_contact_id'

set @sqlstring = '
SELECT ' + @table_contact_name + '.contact_id
,CASE WHEN alias_type.golden_key = N''PERSON'' THEN
dbo.plx_ConcatenateName(name_last, name_first, name_middle, name_suffix)
ELSE
contact_name.name_last -- company name
END
AS contact_nm
FROM ' + @table_contact_name + '
LEFT JOIN contact_name  ON ' + @table_contact_name + '.contact_id = contact_name.contact_id
LEFT JOIN alias_type  ON contact_name.alias_type_id = alias_type.alias_type_id'

set @sqlstring = @sqlstring + '
WHERE contact_name.is_primary=1 '

-- load contact base on [object]_contact and [object]_value
set @sqlstring = @sqlstring + '
AND ' + @table_contact_name + '.' + @primary_object_name + '=' + CONVERT(NVARCHAR,@object_value)

set @sqlstring = @sqlstring + '
UNION
SELECT
contact.contact_id
,CASE WHEN alias_type.golden_key = N''PERSON'' THEN
dbo.plx_ConcatenateName(name_last, name_first, name_middle, name_suffix)
ELSE
contact_name.name_last -- company name
END
AS contact_nm
FROM contact
LEFT JOIN contact_name  ON contact.contact_id = contact_name.contact_id
LEFT JOIN alias_type  ON contact_name.alias_type_id = alias_type.alias_type_id
WHERE contact.contact_id = ' + CONVERT(NVARCHAR,@contact_id) + '
ORDER BY contact_nm '



print (@sqlstring)
exec (@sqlstring)

RETURN @SP_SUCCESS
--
END
--
GO
