USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_choice_list_is_in_used]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
DATE: 2006/02/20
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/03	Thuy Ha				Change table benefit_period_benefit_plan_choice_list
to benefit_contract_benefit_accumulator_choice_resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Checking if a Benefit Framework Choice List is in used by other objects
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_choice_list_id INT - Key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_benefit_framework_choice_list_is_in_used]
(
@benefit_framework_choice_list_id		int = NULL
) AS
BEGIN
DECLARE 	@SP_IS_IN_USE   int
DECLARE 	@SP_NOT_IN_USE 	int
DECLARE 	@SP_EXCEPTION 	int

SET @SP_IS_IN_USE	= 1
SET @SP_NOT_IN_USE	= 0
SET @SP_EXCEPTION	= -1

IF NOT EXISTS (	SELECT 	benefit_framework_choice_list_id
FROM 	dbo.benefit_framework_choice_list
WHERE 	benefit_framework_choice_list_id = @benefit_framework_choice_list_id )
BEGIN
RETURN @SP_EXCEPTION
END

-- Benefit framework choice list is in used by a Benefit Contract
IF EXISTS	(
SELECT	1
FROM	benefit_contract_benefit_class_choice_resolution AS bcbccr
INNER JOIN benefit_framework_valid_choice AS bfvc
ON bfvc.benefit_framework_valid_choice_id = bcbccr.benefit_framework_valid_choice_id
WHERE	bfvc.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Benefit framework choice list is resolved at a Family Eligibility
IF EXISTS 	(
SELECT 1
FROM family_eligibility_benefit_class_choice_list_resolution febcclr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = febcclr.benefit_coverage_rules_id
WHERE bcr.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Benefit framework choice list is in used in a Benefit Plan
IF EXISTS 	(
SELECT 1
FROM benefit_plan_benefit_class_choice_resolution bpbccr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = bpbccr.benefit_coverage_rules_id
WHERE bcr.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Benefit framework choice list is resolved at an Episode
IF EXISTS 	(
SELECT 1
FROM episode_benefit_class_choice_list_resolution ebcclr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = ebcclr.benefit_coverage_rules_id
WHERE bcr.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Benefit framework choice list is resolved at an Individual Eligibility
IF EXISTS 	(
SELECT 1
FROM individual_eligibility_benefit_class_choice_list_resolution iebcclr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = iebcclr.benefit_coverage_rules_id
WHERE bcr.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END

RETURN @SP_NOT_IN_USE
END
GO
