USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_method_vendor_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
NOTE - THIS IS DUPLICATE OF plx_dd_payment_method_payment_load.sql
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_payment_method_vendor_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
payment_method_payment_id
,payment_method_payment_ud
,golden_key
FROM payment_method_payment
order by payment_method_payment_ud asc

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
