USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_employment_status_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
12/19/2005	ThuyNguyen			Rem the "employment_status_code_nm"
08/25/2005	NghiNguyen			select nm as Description, reason is it use column name but display description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down employment_status_code (Employment Status Code)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_dd_employment_status_code_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
employment_status_code.employment_status_code_id
,employment_status_code.employment_status_code_ud
,employment_status_code.employment_status_code_nm as Description
--	    ,employment_status_code.description
FROM employment_status_code
ORDER BY employment_status_code.employment_status_code_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
