USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_contact_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 10/31/2005
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
10/29/2005		ptran				1.0			Create
11/04/2005		kinhquoc			1.1			Change contact_association table
to customer_contact table
11/17/2005		mttran				1.2			Use contact_name instead of contact to get
last name, first name...
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into grid Associated Contacts of Customer form

--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id
--
OUTPUTS:
contact records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_contact_list_load] (@customer_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--
SELECT customer_contact.customer_contact_id
,contact.contact_id
,customer.customer_id
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,customer_contact.is_primary
,customer_contact.effective_from
,customer_contact.effective_thru
FROM dbo.customer_contact
LEFT JOIN dbo.contact_association_type
ON customer_contact.contact_association_type_id = contact_association_type.contact_association_type_id
LEFT JOIN dbo.customer
ON customer.customer_id = customer_contact.customer_id
LEFT JOIN dbo.contact
ON contact.contact_id = customer_contact.contact_id
LEFT JOIN dbo.contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN dbo.alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE customer.customer_id = @customer_id
ORDER BY CASE
WHEN customer_contact.effective_from IS NULL
THEN 0
ELSE 1
END
,customer_contact.effective_from DESC
,CASE
WHEN customer_contact.effective_thru IS NULL
THEN 0
ELSE 1
END
,customer_contact.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
