USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_action_modification_action_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
-------------------------------------------------------------------------------
08/26/2009	ioveracker		1.0			Created.
--
DESCRIPTION:
This procedure is used to populate a combobox with the contents of the result_code_action_modification_action_type table.
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_result_code_action_modification_action_type_load]
AS
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT
SELECT @SP_SUCCESS = 0

SELECT
rcoat.result_code_action_modification_action_type_id
,rcoat.result_code_action_modification_action_type_ud
,rcoat.golden_key
FROM result_code_action_modification_action_type rcoat

RETURN @SP_SUCCESS
GO
