USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_payment_penalty_accounting_transactions_ready_for_negation]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dto_payment_penalty_accounting_transactions_ready_for_negation]
AS
-- Find all accounting_transactions that are of Payment Penalty source that belong to claim
-- lines that have been negated.
DECLARE @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID INT
SET @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID =
(SELECT accounting_source_id FROM accounting_source WHERE accounting_source.golden_key = 'PAYMENT_PENALTY')

SELECT DISTINCT
0 as clazz_,

-- load the AccountingTransactionAps
penalty_atap.*,

-- load the AccountingTransactionApDistributions the (load-collection) element above defines the wiring between the two
penalty_atapd.*
FROM
-- Get the Payment Penalty accounting transactions that need to be negated.
accounting_transaction_ap penalty_atap
JOIN accounting_transaction_ap_distribution penalty_atapd
on penalty_atap.accounting_transaction_ap_id = penalty_atapd.accounting_transaction_ap_id

-- Need to get back to the original claim detail that the payment penalty is for, to see if it needs to be negated.
JOIN accounting_transaction_ap_claim_detail clm_det
ON penalty_atap.accounting_transaction_ap_id = clm_det.accounting_transaction_ap_id
JOIN claim_procedure cp
ON clm_det.claim_procedure_id = cp.claim_procedure_id
JOIN claim_procedure negating_cp
-- only want ataps attached to claim procedures that have been negated
ON cp.claim_procedure_id = negating_cp.negated_claim_procedure_id
WHERE
penalty_atap.accounting_source_id = @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID -- only want payment penalty transactions
AND
clm_det.negate_payment_penalty = 1 -- this payment penalty accounting transaction is marked for negation

-- Don't want to include any payment penalty transactions that have already been negated
AND penalty_atap.accounting_transaction_ap_id NOT IN
(
-- any payment penalties that refer to negated claim lines
SELECT
accounting_source_record_id
FROM accounting_transaction_ap
JOIN
accounting_transaction_ap_claim_detail
ON accounting_transaction_ap.accounting_transaction_ap_id = accounting_transaction_ap_claim_detail.accounting_transaction_ap_id
JOIN
claim_procedure cp
ON accounting_transaction_ap_claim_detail.claim_procedure_id = cp.claim_procedure_id
WHERE
cp.negated_claim_procedure_id IS NOT NULL
)
RETURN 0
GO
