USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_criteria_false_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le		1.0			create
02/26/2008	David Slayton	1.1			Removed commented out join to accumulator table.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load grid "Exceptions: Do Not Accumulate When True" in Accumulator Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_criteria_false_load]
(
@accumulator_framework_accumulator_class_accumulator_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_criteria.accumulator_criteria_id
,accumulator_criteria.criteria_id
,criteria.criteria_ud
,accumulator_criteria.effective_from
,accumulator_criteria.effective_thru
,accumulator_criteria.modified_date
FROM accumulator_criteria
left  join criteria  ON criteria.criteria_id = accumulator_criteria.criteria_id
WHERE accumulator_criteria.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
and accumulator_criteria.accumulate_when_criteria_are_true=0

ORDER BY
CASE WHEN accumulator_criteria.effective_from IS NULL THEN 0 ELSE 1 END , accumulator_criteria.effective_from DESC
,CASE WHEN accumulator_criteria.effective_thru IS NULL THEN 0 ELSE 1 END , accumulator_criteria.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
