USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_usp_IndexMaintain_Online]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[bind_usp_IndexMaintain_Online]
(
      @MinPageCount            int           = 1000       -- skip tiny indexes
    , @ReorgThreshold          decimal(5,2)   = 10.0       -- reorganize at/above this
    , @RebuildThreshold        decimal(5,2)   = 30.0       -- rebuild at/above this
    , @MaxDOP                  int           = 2          -- conservative for prod
    , @DelayBetweenSeconds     int           = 2          -- throttle between indexes
    , @TimeLimitMinutes        int           = 0          -- 0 = no time limit
    , @UseResumableRebuild     bit           = 1          -- SQL 2019+ (incl 2022)
    , @ResumeInsteadOfRestart  bit           = 1          -- resume paused operations first
    , @LowPriorityWaitMinutes  int           = 10         -- lock wait before giving up
    , @LowPriorityAbortAfter   nvarchar(20)   = N'SELF'    -- NONE | SELF | BLOCKERS
    , @ScanMode                nvarchar(10)   = N'SAMPLED' -- LIMITED | SAMPLED | DETAILED
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    /* Guardrails */
    IF @LowPriorityAbortAfter NOT IN (N'NONE', N'SELF', N'BLOCKERS')
        SET @LowPriorityAbortAfter = N'SELF';

    IF @ScanMode NOT IN (N'LIMITED', N'SAMPLED', N'DETAILED')
        SET @ScanMode = N'SAMPLED';

    SET @DelayBetweenSeconds =
        CASE
            WHEN @DelayBetweenSeconds IS NULL OR @DelayBetweenSeconds < 0 THEN 0
            WHEN @DelayBetweenSeconds > 3600 THEN 3600
            ELSE @DelayBetweenSeconds
        END;

    DECLARE @RunId uniqueidentifier = NEWID();
    DECLARE @Start datetime2(0) = SYSDATETIME();
    DECLARE @Deadline datetime2(0) =
        CASE WHEN @TimeLimitMinutes > 0 THEN DATEADD(MINUTE, @TimeLimitMinutes, @Start) END;

    /* Work list */
    IF OBJECT_ID('tempdb..#Work','U') IS NOT NULL DROP TABLE #Work;
    CREATE TABLE #Work
    (
        RowId           int IDENTITY(1,1) PRIMARY KEY,
        SchemaName      sysname,
        TableName       sysname,
        ObjectId        int,
        IndexId         int,
        IndexName       sysname,
        PartitionNumber int,
        FragPercent     decimal(6,2),
        PageCount       bigint,
        IsDisabled      bit,
        IsHypothetical  bit,
        IsMemoryOpt     bit
    );

    ;WITH idx AS
    (
        SELECT
            s.name AS SchemaName,
            o.name AS TableName,
            i.object_id AS ObjectId,
            i.index_id AS IndexId,
            i.name AS IndexName,
            i.is_disabled,
            i.is_hypothetical,
            t.is_memory_optimized AS IsMemoryOpt
        FROM sys.indexes i
        JOIN sys.objects o ON i.object_id = o.object_id
        JOIN sys.schemas s ON o.schema_id = s.schema_id
        JOIN sys.tables  t ON o.object_id = t.object_id
        WHERE o.type = 'U'
          AND i.index_id > 0              -- skip heaps
          AND i.is_disabled = 0
          AND i.is_hypothetical = 0
    )
    INSERT #Work (SchemaName, TableName, ObjectId, IndexId, IndexName, PartitionNumber,
                  FragPercent, PageCount, IsDisabled, IsHypothetical, IsMemoryOpt)
    SELECT
        i.SchemaName, i.TableName, i.ObjectId, i.IndexId, i.IndexName,
        ips.partition_number,
        CAST(ips.avg_fragmentation_in_percent AS decimal(6,2)) AS FragPercent,
        ips.page_count AS PageCount,
        i.is_disabled,
        i.is_hypothetical,
        i.IsMemoryOpt
    FROM idx i
    CROSS APPLY sys.dm_db_index_physical_stats(DB_ID(), i.ObjectId, i.IndexId, NULL, @ScanMode) ips
    WHERE ips.page_count >= @MinPageCount;


/* Optional: resume paused resumable operations first */
IF @UseResumableRebuild = 1 AND @ResumeInsteadOfRestart = 1
BEGIN
    DECLARE @ResumeCmd nvarchar(max) = N'';

    SELECT @ResumeCmd = STRING_AGG(
        N'ALTER INDEX ' + QUOTENAME(ix.name) + N' ON '
        + QUOTENAME(sc.name) + N'.' + QUOTENAME(ob.name)
        + N' RESUME;'
    , CHAR(10))
    FROM sys.index_resumable_operations ro
    JOIN sys.indexes ix
      ON ro.object_id = ix.object_id AND ro.index_id = ix.index_id
    JOIN sys.objects ob
      ON ix.object_id = ob.object_id
    JOIN sys.schemas sc
      ON ob.schema_id = sc.schema_id
    WHERE ro.state_desc = N'PAUSED';

    IF @ResumeCmd IS NOT NULL AND LEN(@ResumeCmd) > 0
    BEGIN
        BEGIN TRY
            EXEC sp_executesql @ResumeCmd;

            INSERT dbo.IndexMaintenanceLog (RunId, Operation, Command, Outcome)
            VALUES (@RunId, N'RESUME_RESUMABLES', @ResumeCmd, N'SUCCESS');
        END TRY
        BEGIN CATCH
            INSERT dbo.IndexMaintenanceLog (RunId, Operation, Command, Outcome, ErrorNumber, ErrorMessage)
            VALUES (@RunId, N'RESUME_RESUMABLES', @ResumeCmd, N'ERROR', ERROR_NUMBER(), ERROR_MESSAGE());
        END CATCH
    END
END

        IF @ResumeCmd IS NOT NULL AND LEN(@ResumeCmd) > 0
        BEGIN
            BEGIN TRY
                EXEC sp_executesql @ResumeCmd;
                INSERT dbo.IndexMaintenanceLog (RunId, Operation, Command, Outcome)
                VALUES (@RunId, N'RESUME_RESUMABLES', @ResumeCmd, N'SUCCESS');
            END TRY
            BEGIN CATCH
                INSERT dbo.IndexMaintenanceLog (RunId, Operation, Command, Outcome, ErrorNumber, ErrorMessage)
                VALUES (@RunId, N'RESUME_RESUMABLES', @ResumeCmd, N'ERROR', ERROR_NUMBER(), ERROR_MESSAGE());
            END CATCH
        END
    END

    DECLARE
        @RowId int = 1,
        @MaxRowId int = (SELECT ISNULL(MAX(RowId),0) FROM #Work),
        @Schema sysname, @Table sysname, @Index sysname,
        @ObjId int, @IdxId int, @Part int,
        @Frag decimal(6,2), @Pages bigint,
        @cmd nvarchar(max), @op nvarchar(60),
        @t0 datetime2(3), @ms int;

    WHILE @RowId <= @MaxRowId
    BEGIN
        IF @Deadline IS NOT NULL AND SYSDATETIME() >= @Deadline
        BEGIN
            INSERT dbo.IndexMaintenanceLog (RunId, Operation, Outcome, ErrorMessage)
            VALUES (@RunId, N'TIMELIMIT', N'SKIPPED', N'Time limit reached; stopping run.');
            BREAK;
        END

        SELECT
            @Schema = SchemaName,
            @Table  = TableName,
            @ObjId  = ObjectId,
            @IdxId  = IndexId,
            @Index  = IndexName,
            @Part   = PartitionNumber,
            @Frag   = FragPercent,
            @Pages  = PageCount
        FROM #Work
        WHERE RowId = @RowId;

        IF EXISTS (SELECT 1 FROM #Work WHERE RowId=@RowId AND IsMemoryOpt=1)
        BEGIN
            INSERT dbo.IndexMaintenanceLog (RunId, SchemaName, TableName, IndexName, IndexId, PartitionNumber,
                                           Operation, FragPercent, PageCount, Outcome, ErrorMessage)
            VALUES (@RunId, @Schema, @Table, @Index, @IdxId, @Part,
                    N'SKIP', @Frag, @Pages, N'SKIPPED', N'Memory-optimized table; skipped.');
            SET @RowId += 1;
            CONTINUE;
        END

        SET @cmd = NULL;
        SET @op  = NULL;

        IF @Frag >= @RebuildThreshold
        BEGIN
            SET @op = CASE WHEN @UseResumableRebuild=1 THEN N'REBUILD_ONLINE_RESUMABLE' ELSE N'REBUILD_ONLINE' END;

            SET @cmd = N'ALTER INDEX ' + QUOTENAME(@Index)
                     + N' ON ' + QUOTENAME(@Schema) + N'.' + QUOTENAME(@Table)
                     + N' REBUILD WITH (ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = '
                     + CAST(@LowPriorityWaitMinutes AS nvarchar(10))
                     + N' MINUTES, ABORT_AFTER_WAIT = ' + @LowPriorityAbortAfter + N'))'
                     + N', SORT_IN_TEMPDB = ON'
                     + N', MAXDOP = ' + CAST(@MaxDOP AS nvarchar(10))
                     + CASE WHEN @UseResumableRebuild=1 THEN N', RESUMABLE = ON' ELSE N'' END
                     + N');';
        END
        ELSE IF @Frag >= @ReorgThreshold
        BEGIN
            SET @op  = N'REORGANIZE';
            SET @cmd = N'ALTER INDEX ' + QUOTENAME(@Index)
                     + N' ON ' + QUOTENAME(@Schema) + N'.' + QUOTENAME(@Table)
                     + N' REORGANIZE;';
        END
        ELSE
        BEGIN
            SET @op = N'SKIP_LOW_FRAG';
            INSERT dbo.IndexMaintenanceLog (RunId, SchemaName, TableName, IndexName, IndexId, PartitionNumber,
                                           Operation, FragPercent, PageCount, Outcome)
            VALUES (@RunId, @Schema, @Table, @Index, @IdxId, @Part, @op, @Frag, @Pages, N'SKIPPED');
            SET @RowId += 1;
            CONTINUE;
        END

        SET @t0 = SYSDATETIME();

        BEGIN TRY
            EXEC sp_executesql @cmd;
            SET @ms = DATEDIFF(MILLISECOND, @t0, SYSDATETIME());

            INSERT dbo.IndexMaintenanceLog (RunId, SchemaName, TableName, IndexName, IndexId, PartitionNumber,
                                           Operation, Command, FragPercent, PageCount, DurationMs, Outcome)
            VALUES (@RunId, @Schema, @Table, @Index, @IdxId, @Part,
                    @op, @cmd, @Frag, @Pages, @ms, N'SUCCESS');
        END TRY
        BEGIN CATCH
            SET @ms = DATEDIFF(MILLISECOND, @t0, SYSDATETIME());

            INSERT dbo.IndexMaintenanceLog (RunId, SchemaName, TableName, IndexName, IndexId, PartitionNumber,
                                           Operation, Command, FragPercent, PageCount, DurationMs, Outcome,
                                           ErrorNumber, ErrorMessage)
            VALUES (@RunId, @Schema, @Table, @Index, @IdxId, @Part,
                    @op, @cmd, @Frag, @Pages, @ms, N'ERROR',
                    ERROR_NUMBER(), ERROR_MESSAGE());
        END CATCH


        /* === Throttle (WAITFOR needs a string, not TIME) === */
        IF @DelayBetweenSeconds > 0
        BEGIN
            DECLARE @DelayString varchar(16);
        
            /* Format as hh:mm:ss (supports up to 99 hours) */
            DECLARE @h int = @DelayBetweenSeconds / 3600;
            DECLARE @m int = (@DelayBetweenSeconds % 3600) / 60;
            DECLARE @s int = @DelayBetweenSeconds % 60;
        
            SET @DelayString =
                RIGHT('00' + CAST(@h AS varchar(2)), 2) + ':' +
                RIGHT('00' + CAST(@m AS varchar(2)), 2) + ':' +
                RIGHT('00' + CAST(@s AS varchar(2)), 2);
        
            WAITFOR DELAY @DelayString;
        END


        SET @RowId += 1;
    END

GO
