USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 09/22/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/22/2008	Vishwa Jella	1.0		Created for 18152.b accounting payment functionality
10/03/2008	Vishwa Jella	2.0		added functionality for creating distributions for payment after transaction save or apply_to amount changes
02/10/2009	Jeremy Hein					Modified for credits
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Adds Accounting Transactions to Transactions Included in Payment grid on Payment form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_save]
(
@accounting_transaction_ap_apply_to_id	int = NULL OUTPUT
,@from_accounting_transaction_ap_id			int = NULL -- payment_id
,@to_accounting_transaction_ap_id         int = NULL
,@apply_to_amount									numeric(20,10) = NULL
,@transaction_date								datetime = NULL
,@comment 											nvarchar(300) = NULL
,@active                                  bit = 1
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_CANT_INSERT 	='1'
,@ERROR_CANT_UPDATE 	='2'
,@ERROR_NOT_EXIST	='3'
--
DECLARE @unapplied_amount numeric(20,10)

SET @unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_payment_detail_transactions(@to_accounting_transaction_ap_id,1)

--Only positive amounts are to be stored in the database. Convert diplayed negative from form to positive.
SET @unapplied_amount = abs(@unapplied_amount)
SET @apply_to_amount	 = abs(@apply_to_amount)

IF @accounting_transaction_ap_apply_to_id is Null

BEGIN

If @to_accounting_transaction_ap_id IN  ( SELECT     accounting_transaction_ap_1.accounting_transaction_ap_id
FROM dbo.accounting_transaction_ap_apply_to
INNER JOIN dbo.accounting_transaction_ap ON dbo.accounting_transaction_ap_apply_to.from_accounting_transaction_ap_id = dbo.accounting_transaction_ap.accounting_transaction_ap_id
INNER JOIN dbo.accounting_transaction_ap_payment_detail ON dbo.accounting_transaction_ap.accounting_transaction_ap_id = dbo.accounting_transaction_ap_payment_detail.accounting_transaction_ap_id
INNER JOIN dbo.accounting_payment_status ON dbo.accounting_transaction_ap_payment_detail.accounting_payment_status_id = dbo.accounting_payment_status.accounting_payment_status_id
INNER JOIN dbo.accounting_transaction_ap AS accounting_transaction_ap_1 ON dbo.accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id = accounting_transaction_ap_1.accounting_transaction_ap_id
WHERE accounting_payment_status.golden_key = 'ENTERED'
AND accounting_transaction_ap_1.accounting_transaction_ap_id = @to_accounting_transaction_ap_id
OR  accounting_payment_status.golden_key = 'AVAILABLE')

RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_EXCEPTION)	-- returning this value (-1) @SP_EXCEPTION  (we are checking inside our QC as -1 for failure)




--- Create a new record
INSERT INTO accounting_transaction_ap_apply_to(
from_accounting_transaction_ap_id
,to_accounting_transaction_ap_id
,unapplied_amount
,amount
,[date]
,comment
,active
)
VALUES
(@from_accounting_transaction_ap_id--payment ID
,@to_accounting_transaction_ap_id
,@unapplied_amount
,@unapplied_amount
,@transaction_date
,@comment
,@active
)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @accounting_transaction_ap_apply_to_id = @@IDENTITY

-- Re-Calculate Payment Distributions
EXEC plx_accounting_transaction_ap_payment_distributions_update @from_accounting_transaction_ap_id

END
ELSE
BEGIN
UPDATE accounting_transaction_ap_apply_to
SET
from_accounting_transaction_ap_id		= @from_accounting_transaction_ap_id
,to_accounting_transaction_ap_id			= @to_accounting_transaction_ap_id
,unapplied_amount 							= @unapplied_amount
,amount											= @apply_to_amount
,comment											= @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

-- Re-Calculate Payment Distributions
EXEC plx_accounting_transaction_ap_payment_distributions_update @from_accounting_transaction_ap_id
END
--

RETURN @SP_SUCCESS
GO
