USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_payer_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created (functionally replaces plx_claim_procedure_cob_entry_load)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load claim cob payer data for COB Sequence grid on the Claim COB Entry form

--
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_cob_payer_list_load]
(
@claim_id			Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ccp.claim_cob_payer_id
,ccp.claim_id
,ccp.sequence_id
,s.sequence_ud
,comm_plan.cob_member_commercial_health_plan_id
,gov_plan.cob_member_governmental_health_plan_id
,comm_plan.insurance_plan_name as 'Com Plan Name'
,ghp.government_health_plan_ud as 'Gov Plan Name'
,comm_plan.carrier_name
-- the payment date is displayed in the child panel for the payer
,ccp.other_insurance_payment_date
-- the gridRowIndex is populated after load, and used to correlate child grid rows
,CONVERT(INT, NULL) as gridRowIndex
-- these values are retrieved via a join in the stored procedure that populates the COB Claim Header
--,ccp.net_pay
--,ccp.allowed_amount

FROM
dbo.claim_cob_payer ccp
LEFT JOIN sequence s
ON s.sequence_id = ccp.sequence_id
LEFT JOIN cob_member_commercial_health_plan comm_plan
ON comm_plan.cob_member_commercial_health_plan_id = ccp.cob_member_commercial_health_plan_id
LEFT JOIN dbo.cob_member_governmental_health_plan gov_plan
ON gov_plan.cob_member_governmental_health_plan_id = ccp.cob_member_governmental_health_plan_id
LEFT JOIN government_health_plan ghp
ON ghp.government_health_plan_id = gov_plan.government_health_plan_id
WHERE ccp.claim_id = @claim_id
ORDER BY s.sort_order
--
RETURN @SP_SUCCESS
GO
