USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_overpayment_update_processed_flag]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--===============================================================================================================
--Object Type: Stored Procedure
--Description: Updates processed flag in bind_category_data table
--Create Date: 11/23/2020
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description  
--===============================================================================================================
--11/23/2020 | SJC    | 1.0     | Created Stored Procedure
--===============================================================================================================

CREATE procedure [dbo].[bind_overpayment_update_processed_flag]

  @id AS VARCHAR(36)
 ,@fileName VARCHAR(50)

AS

		UPDATE [dbo].[bind_overpayments]
		SET  processed = 1
		    ,[file_Name] = @fileName
			,updated_at = GetDate()
		WHERE overpayment_id = @id;

GO
