USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_tier_criteria_amount_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/30/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/30/2009	Chad Maddox		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for grid tier criteria amount (age gender, etc) grids on frmCapitationRate.

--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_capitation_rate_tier_criteria_amount_save]
(
@capitation_rate_assignment_tier_criteria_amount_id	INT = 0   OUTPUT
,@capitation_rate_assignment_id				INT = NULL
,@tier_criteria_id							INT = NULL
,@amount										NUMERIC(18, 10) = NULL
,@active										BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

--
IF ISNULL(@capitation_rate_assignment_tier_criteria_amount_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO capitation_rate_assignment_tier_criteria_amount(
capitation_rate_assignment_id
,tier_criteria_id
,amount
,active
)
VALUES
(@capitation_rate_assignment_id
,@tier_criteria_id
,@amount
,@active
)
SET @capitation_rate_assignment_tier_criteria_amount_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
UPDATE capitation_rate_assignment_tier_criteria_amount
SET
amount				= @amount
,active				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_rate_assignment_tier_criteria_amount_id = @capitation_rate_assignment_tier_criteria_amount_id
END
--
RETURN @SP_SUCCESS
--
GO
