USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_customer_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Aug  2 2006  3:51PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage customer grid on brokerage form.
--
REQUIREMENTS:
--
INPUTS:
agent_customer_id - Key to agent_customer table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_brokerage_customer_list_load]
(
@brokerage_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_customer.agent_customer_id
-- State
,agent_customer.state_id
-- Carrier
,agent_customer.carrier_id
,carrier.carrier_ud
-- Benefit Contract Template
,agent_customer.benefit_contract_id
,benefit_contract.benefit_contract_ud
-- Criteria
,agent_customer.criteria_id
,criteria.criteria_ud
-- Customer
,agent_customer.customer_id
,customer.customer_ud
-- Effective Dates
,agent_customer.effective_from as effective_from
,agent_customer.effective_thru as effective_thru

FROM agent_customer
INNER JOIN customer  ON agent_customer.customer_id = customer.customer_id
LEFT JOIN state ON state.state_id = agent_customer.state_id
LEFT JOIN carrier  ON agent_customer.carrier_id = carrier.carrier_id
LEFT JOIN benefit_contract  ON agent_customer.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN criteria  ON agent_customer.criteria_id = criteria.criteria_id

WHERE agent_customer.agent_id = @brokerage_id
ORDER BY datediff(day, agent_customer.effective_thru, getdate()) ASC,
state.state_ud ASC,
carrier.carrier_ud ASC

RETURN @SP_SUCCESS
GO
