USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_waiting_period_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Tinh Do		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Save data for eligibility restriction form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_waiting_period_save]
(
@benefit_waiting_period_relationship_to_subscriber_waiting_period_id  INT = 0   OUTPUT
,@benefit_waiting_period_relationship_to_subscriber_waiting_period_ud  NVARCHAR(50) = NULL
,@benefit_waiting_period_relationship_to_subscriber_id INT = NULL
,@effective_from							DATETIME = NULL
,@effective_thru							DATETIME = NULL
,@benefit_waiting_period_date_rule_id		INT = NULL
,@number_of_units							INT = NULL
,@unit_day_week_month_year_id				INT = NULL
,@treatment_type_set_id						INT = NULL
,@treatment_type_category_id				INT = NULL
,@treatment_type_id							INT = NULL
,@result_code_status_id                     INT = NULL
,@result_code_id							INT = NULL
,@active                                    BIT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF ISNULL(@benefit_waiting_period_relationship_to_subscriber_waiting_period_id,0) = 0
BEGIN
--- Create a new record
INSERT INTO benefit_waiting_period_relationship_to_subscriber_waiting_period(
benefit_waiting_period_relationship_to_subscriber_waiting_period_ud
,benefit_waiting_period_relationship_to_subscriber_id
,effective_from
,effective_thru
,benefit_waiting_period_date_rule_id
,number_of_units
,unit_day_week_month_year_id
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,result_code_status_id
,result_code_id
,active
)
VALUES
(@benefit_waiting_period_relationship_to_subscriber_waiting_period_ud
,@benefit_waiting_period_relationship_to_subscriber_id
,@effective_from
,@effective_thru
,@benefit_waiting_period_date_rule_id
,@number_of_units
,@unit_day_week_month_year_id
,@treatment_type_set_id
,@treatment_type_category_id
,@treatment_type_id
,@result_code_status_id
,@result_code_id
,@active
)
--
SET @benefit_waiting_period_relationship_to_subscriber_waiting_period_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_waiting_period_relationship_to_subscriber_waiting_period WHERE benefit_waiting_period_relationship_to_subscriber_waiting_period_id = @benefit_waiting_period_relationship_to_subscriber_waiting_period_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
UPDATE benefit_waiting_period_relationship_to_subscriber_waiting_period
SET
benefit_waiting_period_relationship_to_subscriber_waiting_period_ud = @benefit_waiting_period_relationship_to_subscriber_waiting_period_ud
,effective_from											= @effective_from
,effective_thru											= @effective_thru
,benefit_waiting_period_date_rule_id					= @benefit_waiting_period_date_rule_id
,number_of_units										= @number_of_units
,unit_day_week_month_year_id							= @unit_day_week_month_year_id
,treatment_type_set_id									= @treatment_type_set_id
,treatment_type_category_id								= @treatment_type_category_id
,treatment_type_id										= @treatment_type_id
,result_code_status_id									= @result_code_status_id
,result_code_id											= @result_code_id
,active													= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_waiting_period_relationship_to_subscriber_waiting_period_id = @benefit_waiting_period_relationship_to_subscriber_waiting_period_id
END
--
RETURN @SP_SUCCESS
--
GO
