USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_category_product_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
Date: 07/10/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2009	Casey B. Cessnun		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Benefit Categories Supported by This Product grid
in Product form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_category_product_save]
(
@benefit_category_product_id           int = NULL   OUTPUT
,@benefit_category_id                   int = NULL
,@benefit_sub_category_id               int = NULL
,@product_id                            int = NULL
,@effective_from                        datetime = NULL
,@effective_thru                        datetime = NULL
,@active                                bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_category_product_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_category_product(
benefit_category_id
,benefit_sub_category_id
,product_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_category_id
,@benefit_sub_category_id
,@product_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_category_product_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_category_product WHERE benefit_category_product_id = @benefit_category_product_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_category_product
SET
benefit_category_id                      = @benefit_category_id
,benefit_sub_category_id                  = @benefit_sub_category_id
,product_id								 = @product_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_category_product_id = @benefit_category_product_id
END
--
RETURN @SP_SUCCESS
end
GO
