USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_for_choice_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/06/2010 Vishwa Jella 1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load benefit class for choice list ( except benefit qualifier, member expense classes)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_benefit_class_for_choice_list_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,benefit_class.description
,benefit_class.ui_engine_data_type_id as class_data_type_id
FROM benefit_class
WHERE benefit_class.golden_key NOT IN ('MEMBER_EXPENSE','BENEFIT_COVERAGE_EXCEPTION')
ORDER BY benefit_class.sort_order
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
