USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 09/07/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2005	mttran		1.0			create
9/9/2005	mttran					replace params (@accumulator_framework_id, @accumulator_class_id, @accumulator_id)
by @accumulator_framework_accumulator_class_accumulator_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete an accumulator under accumulator framework \ accumulator class node in Accumulator
Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_accumulator_delete]
(
@accumulator_framework_accumulator_class_accumulator_id		int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@FINAL_RESULT int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@FINAL_RESULT = 0
--
IF NOT EXISTS (	SELECT	accumulator_framework_accumulator_class_accumulator_id
FROM 	accumulator_framework_accumulator_class_accumulator
WHERE	accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id)
BEGIN
SET @FINAL_RESULT = @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE accumulator_sub_limit_cursor CURSOR FOR
SELECT	accumulator_sub_limit_id
FROM 	accumulator_sub_limit
WHERE 	accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id

DECLARE @accumulator_sub_limit_id int,
@check_result int

--open cursor
OPEN accumulator_sub_limit_cursor
--traverse cursor
FETCH NEXT FROM accumulator_sub_limit_cursor
INTO @accumulator_sub_limit_id
while @@fetch_status = 0
begin
EXEC @check_result =
dbo.plx_accumulator_sub_limit_delete @accumulator_sub_limit_id
if (@check_result=@SP_EXCEPTION)
begin
SET @FINAL_RESULT = @SP_EXCEPTION
break
end
FETCH NEXT FROM accumulator_sub_limit_cursor
INTO @accumulator_sub_limit_id
end
--end cursor
CLOSE accumulator_sub_limit_cursor
DEALLOCATE accumulator_sub_limit_cursor

--delete accumulator_treatment_type_set
DELETE FROM accumulator_treatment_type_set
WHERE accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id
--delete accumulator_criteria
DELETE FROM accumulator_criteria
WHERE accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id
--delete accumulator_limit_rule
DELETE FROM accumulator_limit_rule
WHERE accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id
--delete accumulator first coverage distributions
DELETE FROM accumulator_first_coverage_distribution
WHERE accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id

--delete itself
DELETE FROM accumulator_framework_accumulator_class_accumulator
WHERE accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
END
--
--catch error if it happen
DECLARE @SWV_error int
SELECT  @SWV_error = @@ERROR
IF(@SWV_error <> 0) SET @FINAL_RESULT = @SP_EXCEPTION

RETURN @FINAL_RESULT
--
GO
