USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_audit_create_table]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_audit_create_table] ( @table_name SYSNAME )
AS -- plx_audit_create_table 'claim'

SET nocount ON

--select * from zz_audit_account_rule
--
--drop table audit_account_rule


--declare @table_name sysname
DECLARE @COLUMN_DEFINITION NVARCHAR(256)
DECLARE @sql_string NVARCHAR(4000)

--set @table_name = 'account_rule'
--
--select * --sum(column_id)
--from sys.columns
--where object_id = object_id(@table_name)

SET @sql_string = ''

--if not exists create the table
IF OBJECT_ID('zz_audit_' + @table_name) IS NULL
BEGIN
SELECT  @sql_string = @sql_string + 'CREATE TABLE dbo.'
+ 'zz_audit_' + @table_name + '('

--select @sql_string

DECLARE cols INSENSITIVE CURSOR
FOR SELECT  RTRIM(COLUMN_NAME + ' ' + DATA_TYPE
+ CASE WHEN DATA_TYPE IN ( 'varchar', 'char',
'nvarchar',
'nchar', 'binary',
'varbinary' )
THEN '('
+ CAST(CHARACTER_MAXIMUM_LENGTH AS VARCHAR)
+ ')'
WHEN DATA_TYPE IN ( 'numeric',
'decimal' )
THEN '('
+ CAST(NUMERIC_PRECISION AS VARCHAR)
+ ', '
+ CAST(NUMERIC_SCALE AS VARCHAR)
+ ')'
ELSE ''
END
+ CASE WHEN EXISTS ( SELECT   *
FROM     syscolumns
WHERE    id = OBJECT_ID(TABLE_NAME)
AND name = COLUMN_NAME
AND ( status & 0x80 ) = 0x80 )
THEN ' IDENTITY('
+ CAST(IDENT_SEED(TABLE_NAME) AS VARCHAR)
+ ', '
+ CAST(IDENT_INCR(TABLE_NAME) AS VARCHAR)
+ ')'
ELSE ''
END
+ CASE WHEN IS_NULLABLE = 'YES' THEN ' NULL'
ELSE ' NOT NULL'
END
+ CASE WHEN COLUMN_DEFAULT IS NOT NULL
AND CHARINDEX(' AS ',
REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), '(', ' ('),
CHARINDEX('  ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' ')))) <= CHARINDEX('  ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' ')))
AND CHARINDEX('  ',
REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '),
CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '))) <= CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '))
THEN '  '
ELSE ''
END
+ CASE WHEN ORDINAL_POSITION <> ( SELECT  MAX(ORDINAL_POSITION)
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   TABLE_NAME = @table_name
) THEN ','
ELSE ''
END)
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   TABLE_NAME = @table_name
ORDER BY ORDINAL_POSITION

OPEN cols

FETCH NEXT FROM cols INTO @COLUMN_DEFINITION

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT  @sql_string = @sql_string + @COLUMN_DEFINITION

FETCH NEXT FROM cols INTO @COLUMN_DEFINITION
END

CLOSE cols

DEALLOCATE cols

SELECT  @sql_string = REPLACE(@sql_string, 'IDENTITY(1, 1)', '')

SELECT  @sql_string = REPLACE(@sql_string, 'NOT NULL', 'NULL')
SELECT  @sql_string = @sql_string
+ ', audit_date datetime NULL DEFAULT GETDATE(), audit_login varchar(255) NULL DEFAULT (original_login()) , audit_action char(1))'
--            SELECT  @sql_string
EXEC sp_executesql @sql_string

PRINT 'Table audit_' + @table_name + ' created'
END
ELSE
BEGIN
--PRINT 'Table audit_' + @table_name  + ' exists and code to modify the audit table not written yet'
------------------------------------
CREATE TABLE #fix
(
update_action VARCHAR(55) NOT NULL,
TABLE_CATALOG NVARCHAR(128) NULL,
TABLE_SCHEMA NVARCHAR(128) NULL,
TABLE_NAME NVARCHAR(128) NOT NULL,
COLUMN_NAME NVARCHAR(128) NULL,
ORDINAL_POSITION INT NULL,
COLUMN_DEFAULT NVARCHAR(4000) NULL,
IS_NULLABLE VARCHAR(3) NULL,
DATA_TYPE NVARCHAR(128) NULL,
CHARACTER_MAXIMUM_LENGTH INT NULL,
CHARACTER_OCTET_LENGTH INT NULL,
NUMERIC_PRECISION TINYINT NULL,
NUMERIC_PRECISION_RADIX SMALLINT NULL,
NUMERIC_SCALE INT NULL,
DATETIME_PRECISION SMALLINT NULL,
CHARACTER_SET_CATALOG NVARCHAR(128) NULL,
CHARACTER_SET_SCHEMA NVARCHAR(128) NULL,
CHARACTER_SET_NAME NVARCHAR(128) NULL,
COLLATION_CATALOG NVARCHAR(128) NULL,
COLLATION_SCHEMA NVARCHAR(128) NULL,
COLLATION_NAME NVARCHAR(128) NULL,
DOMAIN_CATALOG NVARCHAR(128) NULL,
DOMAIN_SCHEMA NVARCHAR(128) NULL,
DOMAIN_NAME NVARCHAR(128) NULL
)

--get what needs to be added and what needs to be altered
SELECT  *
INTO    #ADD_COLUMNS
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   TABLE_NAME = @table_name
AND NOT EXISTS ( SELECT *
FROM   INFORMATION_SCHEMA.COLUMNS c
WHERE  INFORMATION_SCHEMA.COLUMNS.table_schema = c.table_schema
AND 'zz_audit_'
+ INFORMATION_SCHEMA.COLUMNS.table_name = c.table_name
AND INFORMATION_SCHEMA.COLUMNS.column_name = c.column_name -- and INFORMATION_SCHEMA.COLUMNS.data_type = c.data_type
--and isnull(INFORMATION_SCHEMA.COLUMNS.CHARACTER_MAXIMUM_LENGTH,-1) = isnull(c.CHARACTER_MAXIMUM_LENGTH ,-1)
)
INSERT  INTO #fix
(
update_action,
TABLE_CATALOG,
TABLE_SCHEMA,
TABLE_NAME,
COLUMN_NAME,
ORDINAL_POSITION,
COLUMN_DEFAULT,
IS_NULLABLE,
DATA_TYPE,
CHARACTER_MAXIMUM_LENGTH,
CHARACTER_OCTET_LENGTH,
NUMERIC_PRECISION,
NUMERIC_PRECISION_RADIX,
NUMERIC_SCALE,
DATETIME_PRECISION,
CHARACTER_SET_CATALOG,
CHARACTER_SET_SCHEMA,
CHARACTER_SET_NAME,
COLLATION_CATALOG,
COLLATION_SCHEMA,
COLLATION_NAME,
DOMAIN_CATALOG,
DOMAIN_SCHEMA,
DOMAIN_NAME
)
SELECT  'ADD',
c.TABLE_CATALOG,
c.TABLE_SCHEMA,
c.TABLE_NAME,
c.COLUMN_NAME,
c.ORDINAL_POSITION,
c.COLUMN_DEFAULT,
c.IS_NULLABLE,
c.DATA_TYPE,
c.CHARACTER_MAXIMUM_LENGTH,
c.CHARACTER_OCTET_LENGTH,
c.NUMERIC_PRECISION,
c.NUMERIC_PRECISION_RADIX,
c.NUMERIC_SCALE,
c.DATETIME_PRECISION,
c.CHARACTER_SET_CATALOG,
c.CHARACTER_SET_SCHEMA,
c.CHARACTER_SET_NAME,
c.COLLATION_CATALOG,
c.COLLATION_SCHEMA,
c.COLLATION_NAME,
c.DOMAIN_CATALOG,
c.DOMAIN_SCHEMA,
c.DOMAIN_NAME
FROM    #ADD_COLUMNs C

--select 'ADD'
--select *
--from #fix


SELECT  INFORMATION_SCHEMA.COLUMNS.*
INTO    #ALTER_COLUMNS
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   INFORMATION_SCHEMA.COLUMNS.TABLE_NAME = @table_name
AND NOT EXISTS ( SELECT *
FROM   INFORMATION_SCHEMA.COLUMNS c
WHERE  INFORMATION_SCHEMA.COLUMNS.table_schema = c.table_schema
AND 'zz_audit_'
+ INFORMATION_SCHEMA.COLUMNS.table_name = c.table_name
AND INFORMATION_SCHEMA.COLUMNS.column_name = c.column_name
AND INFORMATION_SCHEMA.COLUMNS.data_type = c.data_type
AND ISNULL(INFORMATION_SCHEMA.COLUMNS.CHARACTER_MAXIMUM_LENGTH,
-1) = ISNULL(c.CHARACTER_MAXIMUM_LENGTH, -1) )
AND COLUMN_NAME NOT IN(
SELECT COLUMN_NAME FROM #fix)

INSERT  INTO #fix
(
update_action,
TABLE_CATALOG,
TABLE_SCHEMA,
TABLE_NAME,
COLUMN_NAME,
ORDINAL_POSITION,
COLUMN_DEFAULT,
IS_NULLABLE,
DATA_TYPE,
CHARACTER_MAXIMUM_LENGTH,
CHARACTER_OCTET_LENGTH,
NUMERIC_PRECISION,
NUMERIC_PRECISION_RADIX,
NUMERIC_SCALE,
DATETIME_PRECISION,
CHARACTER_SET_CATALOG,
CHARACTER_SET_SCHEMA,
CHARACTER_SET_NAME,
COLLATION_CATALOG,
COLLATION_SCHEMA,
COLLATION_NAME,
DOMAIN_CATALOG,
DOMAIN_SCHEMA,
DOMAIN_NAME
)
SELECT  'ALTER COLUMN',
c.TABLE_CATALOG,
c.TABLE_SCHEMA,
c.TABLE_NAME,
c.COLUMN_NAME,
c.ORDINAL_POSITION,
c.COLUMN_DEFAULT,
c.IS_NULLABLE,
c.DATA_TYPE,
c.CHARACTER_MAXIMUM_LENGTH,
c.CHARACTER_OCTET_LENGTH,
c.NUMERIC_PRECISION,
c.NUMERIC_PRECISION_RADIX,
c.NUMERIC_SCALE,
c.DATETIME_PRECISION,
c.CHARACTER_SET_CATALOG,
c.CHARACTER_SET_SCHEMA,
c.CHARACTER_SET_NAME,
c.COLLATION_CATALOG,
c.COLLATION_SCHEMA,
c.COLLATION_NAME,
c.DOMAIN_CATALOG,
c.DOMAIN_SCHEMA,
c.DOMAIN_NAME
FROM    #ALTER_COLUMNS c

--select 'alter'
--select  *
--from    #fix
IF ( SELECT COUNT(*)
FROM   #fix
) = 0
BEGIN
SELECT  'Table ' + @table_name
+ ' and the audit table are the same, no changes.'
RETURN
END
ELSE

--got what is new and what is updated, now update the audit table.
------------------------------------------
SELECT  @sql_string = ''
SELECT  @sql_string = @sql_string + 'ALTER TABLE dbo.'
+ 'zz_audit_' + @table_name

--select @sql_string

DECLARE cols INSENSITIVE CURSOR
FOR SELECT  ' ' + update_action + ' ' + RTRIM(COLUMN_NAME + ' ' + DATA_TYPE + CASE WHEN DATA_TYPE IN ( 'varchar', 'char', 'nvarchar', 'nchar', 'binary', 'varbinary' ) THEN '(' + CAST(CHARACTER_MAXIMUM_LENGTH AS VARCHAR) + ')'
WHEN DATA_TYPE IN ( 'numeric', 'decimal' ) THEN '(' + CAST(NUMERIC_PRECISION AS VARCHAR) + ', ' + CAST(NUMERIC_SCALE AS VARCHAR) + ')'
ELSE ''
END + CASE WHEN EXISTS ( SELECT   *
FROM     syscolumns
WHERE    id = OBJECT_ID(TABLE_NAME)
AND name = COLUMN_NAME
AND ( status & 0x80 ) = 0x80 ) THEN ' IDENTITY(' + CAST(IDENT_SEED(TABLE_NAME) AS VARCHAR) + ', ' + CAST(IDENT_INCR(TABLE_NAME) AS VARCHAR) + ')'
ELSE ''
END + CASE WHEN IS_NULLABLE = 'YES' THEN ' NULL'
ELSE ' NOT NULL'
END + CASE WHEN COLUMN_DEFAULT IS NOT NULL
AND CHARINDEX(' AS ', REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), '(', ' ('), CHARINDEX('  ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' ')))) <= CHARINDEX('  ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' ')))
AND CHARINDEX('  ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '), CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' '))) <= CHARINDEX('CREATE ', REPLACE(REPLACE(REPLACE(COLUMN_DEFAULT, CHAR(9), ' '), CHAR(13), ' '), CHAR(10), ' ')) THEN '  '
ELSE ''
END--                                  + CASE WHEN ORDINAL_POSITION <> ( SELECT  MAX(ORDINAL_POSITION)
--                                                                    FROM    #fix
--                                                                    --WHERE   TABLE_NAME = @table_name
--                                                                  ) THEN ','
--                                         ELSE ''
--                                    END
)
FROM    #fix

OPEN cols


FETCH NEXT FROM cols INTO @COLUMN_DEFINITION

WHILE @@FETCH_STATUS = 0
BEGIN


SELECT  @sql_string = @sql_string + @COLUMN_DEFINITION

SELECT  'Changes made --',  @sql_string

exec ( @sql_string )

SELECT  @COLUMN_DEFINITION = ''
SELECT  @sql_string = ''
SELECT  @sql_string = @sql_string + 'ALTER TABLE dbo.'
+ 'zz_audit_' + @table_name

FETCH NEXT FROM cols INTO @COLUMN_DEFINITION
END


CLOSE cols

DEALLOCATE cols

--SELECT  @sql_string
END
GO
