USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_operator_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Huy Nguyen
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
06/18/2009	Vishwa		2.0			When selecting a claim-specific processing category all of the items under that category and all of the items under the 'All Claims' category are returned.
06/26/2009  Vishwa		3.0			refactoring Criteria UI objects for easy maintenance in future
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to return operators for criteria object

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_operator_load]
(
@criteria_object_id INT	= NULL
)
AS

select cop.criteria_operator_id
,cop.criteria_operator_ud
from criteria_operator cop
Inner Join criteria_operator_set_detail copsd ON copsd.criteria_operator_id = cop.criteria_operator_id
Inner Join criteria_operator_set cops ON cops.criteria_operator_set_id = copsd.criteria_operator_set_id
Inner Join criteria_object co ON co.criteria_operator_set_id = cops.criteria_operator_set_id
where co.criteria_object_id = @criteria_object_id
Order By cop.criteria_operator_ud
GO
