USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_billing_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 07/26/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/26/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdPBAccountAssignment on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_premium_billing_load]
(
@client_group_id INT = NULL
,@benefit_contract_id INT = NULL
,@benefit_plan_id INT = NULL
,@client_id  INT = NULL
,@accounting_company_id INT = NULL
,@ar_accounting_company_account_id INT = NULL
,@revenue_accounting_company_account_id INT = NULL
,@show_only_current_cp	bit = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT  DISTINCT
aapb.account_assignment_premium_billing_id
,aapb.client_group_id
,cgn.client_group_ud
,aapb.benefit_contract_id
,bc.benefit_contract_ud
,aapb.benefit_plan_id
,bp.benefit_plan_ud
,aapb.client_id
,cn.client_ud
,client.accounting_company_id
,ac.accounting_company_ud
,aapb.ar_accounting_company_account_id
,aca_ar.accounting_company_account_ud AS ar_accounting_company_account_ud
,aapb.revenue_accounting_company_account_id
,aca_rev.accounting_company_account_ud AS revenue_accounting_company_account_ud
,aapb.effective_from
,aapb.effective_thru
,aapb.modified_date

FROM dbo.account_assignment_premium_billing aapb
LEFT JOIN client_group_name cgn ON aapb.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON aapb.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp ON aapb.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN client_name cn ON aapb.client_id = cn.client_id
INNER JOIN client ON aapb.client_id = client.client_id
INNER JOIN accounting_company ac ON client.accounting_company_id = ac.accounting_company_id
INNER JOIN accounting_company_account aca_ar ON aapb.ar_accounting_company_account_id = aca_ar.accounting_company_account_id
INNER JOIN accounting_company_account aca_rev ON aapb.revenue_accounting_company_account_id = aca_rev.accounting_company_account_id
WHERE 1 = 1
'

IF @client_group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.client_group_id = ' + str(@client_group_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.benefit_contract_id = ' + str(@benefit_contract_id) + ')'

IF @benefit_plan_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.benefit_plan_id = ' + str(@benefit_plan_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.client_id = ' + str(@client_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (ac.accounting_company_id = ' + str(@accounting_company_id) + ')'

IF @ar_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.ar_accounting_company_account_id = ' + str(@ar_accounting_company_account_id) + ')'

IF @revenue_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aapb.revenue_accounting_company_account_id = ' + str(@revenue_accounting_company_account_id) + ')'

IF (NOT @show_only_current_cp IS NULL) AND (@show_only_current_cp = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), aapb.effective_from) <= 0 OR aapb.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aapb.effective_thru) >= 0 OR aapb.effective_thru IS NULL)
'
END

--SET @strSQL = @strSQL + 'ORDER BY CASE WHEN aapb.effective_from IS NULL THEN 0 ELSE 1 END ASC, aapb.effective_from DESC,
--	 CASE WHEN aapb.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aapb.effective_thru DESC,
--		cn.client_ud'


SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
