USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_claim_config]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
May 17 2006  8:47AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Check config claim?

--
REQUIREMENTS:
--
INPUTS: @payment_contract_usage_fees_setup_assignment_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      procedure [dbo].[plx_check_claim_config]
(
@claim_form_type_id		int =  null
,@workgroup_role_uid		int =  null
) as

begin
select adjudication_object_show_id
FROM adjudication_object_show
WHERE adjudication_object_show.claim_form_type_id = @claim_form_type_id
AND adjudication_object_show.workgroup_role_uid   =  @workgroup_role_uid

END
GO
