USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_adjudication_status_for_analysis_queue_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/05/2005       Anh Ta                 1.0 		Created and using for 12530 Professional claims
08/03/2009	lrenard			1.1		Updated to list only analysis queue statuses
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'claim_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/




CREATE     PROCEDURE [dbo].[plx_dd_adjudication_status_for_analysis_queue_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
adjudication_status.adjudication_status_id
,adjudication_status.adjudication_status_ud
FROM adjudication_status
WHERE
golden_key in ('PEND','ERROR','HOLD','DENY','APPROVED','CLOSED')
ORDER BY adjudication_status_ud
GO
