USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
--
DESCRIPTION:
This procedure is used to check if a correspondence_action can be deleted or not.
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_action_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT correspondence_action_id
FROM correspondence_action
WHERE correspondence_action_id = @id)

RETURN @SP_DELETE_ABLE

ELSE
BEGIN
-- If payment is not applied to any invoices then it can be deleted
IF EXISTS(SELECT correspondence_stage_id
FROM correspondence_stage
WHERE correspondence_action_id = @id)
BEGIN

--action assigned to correspondence
SELECT DISTINCT 'Correspondence' AS object_golden_key, c.correspondence_ud AS object_ud
FROM correspondence_stage cc
INNER JOIN correspondence c
ON c.correspondence_id = cc.correspondence_id
WHERE cc.correspondence_action_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
