USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_information_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan  5 2006  1:11PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/10	Anh Ta		1.0		Used for ICU#15894 Payment Contract
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load the code_depreciation_information table by code_depreciation_schedule_id.
--
REQUIREMENTS:
--
INPUTS:
code_depreciation_schedule_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_information_list_load]
(
@code_depreciation_schedule_id			Int
)
AS
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
code_depreciation_information.code_depreciation_information_id
,code_depreciation_information.code_depreciation_rank
,code_depreciation_information.code_depreciation_percent
,code_depreciation_information.code_depreciation_schedule_id
,code_depreciation_information.exceed_rank
FROM code_depreciation_information
WHERE code_depreciation_information.code_depreciation_schedule_id = @code_depreciation_schedule_id
ORDER BY code_depreciation_information.code_depreciation_rank ASC
--
RETURN @SP_SUCCESS
GO
