USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_group_benefit_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.25
--
DESCRIPTION:
Load data for benefit contract in use grid in Elibility Retrictions spec
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_eligibility_restriction_group_benefit_list_load]
(
@eligibility_restriction_id	int = NULL,
--@only_show_current_benefit_contracts bit = 0,
@only_show_one_row_per_benefit_contract bit = 0
)
AS
begin

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION	= -1

if @only_show_one_row_per_benefit_contract = 0
begin

SELECT		c.client_group_id,
client_group_name.client_group_ud,

bc.benefit_contract_id,
bc.benefit_contract_ud,
bc.effective_from,
bc.effective_thru,

bca.benefit_category_id,
bca.benefit_category_ud,
bsc.benefit_sub_category_id,
bsc.benefit_sub_category_ud,

bp.benefit_plan_id,
bp.benefit_plan_ud,
bp.benefit_plan_nm

FROM	dbo.benefit_contract_period_benefit_plan_eligibility_restriction bcpbper
INNER JOIN	dbo.benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbper.benefit_contract_period_benefit_plan_id
INNER JOIN	dbo.benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN dbo.benefit_contract bc
ON bcp.benefit_contract_id = bc.benefit_contract_id
INNER JOIN	dbo.benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN dbo.benefit_sub_category  bsc
ON bsc.benefit_sub_category_id = bf.benefit_sub_category_id
INNER JOIN dbo.benefit_category bca
ON bca.benefit_category_id = bf.benefit_category_id
INNER JOIN dbo.client_group c
ON c.client_group_id = bc.client_group_id
inner join client_group_name  on  client_group_name.client_group_id=c.client_group_id
and primary_name=1

WHERE	bcpbper.eligibility_restriction_id = @eligibility_restriction_id
end
else
begin
SELECT	DISTINCT
c.client_group_id,
client_group_name.client_group_ud,
bc.benefit_contract_id,
bc.benefit_contract_ud,
bc.effective_from,
bc.effective_thru,

bca.benefit_category_id,
bca.benefit_category_ud,
bsc.benefit_sub_category_id,
bsc.benefit_sub_category_ud,

--Hung Remove to fix bug 4821  - begin
null as benefit_plan_id,
'' as benefit_plan_ud,
'' as benefit_plan_nm
-- end

FROM	dbo.benefit_contract_period_benefit_plan_eligibility_restriction bcpbper
INNER JOIN	dbo.benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbper.benefit_contract_period_benefit_plan_id
INNER JOIN	dbo.benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN dbo.benefit_contract bc
ON bcp.benefit_contract_id = bc.benefit_contract_id
INNER JOIN	dbo.benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN dbo.benefit_sub_category  bsc
ON bsc.benefit_sub_category_id = bf.benefit_sub_category_id
INNER JOIN dbo.benefit_category bca
ON bca.benefit_category_id = bf.benefit_category_id
INNER JOIN dbo.client_group c
ON c.client_group_id = bc.client_group_id
inner join client_group_name  on  client_group_name.client_group_id=c.client_group_id
and primary_name=1
WHERE	bcpbper.eligibility_restriction_id = @eligibility_restriction_id
end

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
end
GO
