USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_procedure_code_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Thuy Ngo	1.0			Created and used for Procedure Code Form
12/04/2013	eponomareff	1.1			Fix for RT:5728 and RT:5730, revised to include id, and icd version
--
CURRENT_VERSION: 1.1
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_check_procedure_code_exist]
(
@procedure_code_id			INT = NULL,
@procedure_code_type_ud		NVARCHAR(255) = NULL,
@procedure_code_ud 			NVARCHAR(50)= NULL,
@procedure_code_icd_version_id	INT = NULL,
@effective_from 			DATETIME = NULL,
@effective_thru 			DATETIME = NULL,
@description 				NVARCHAR(255) = NULL,
@procedure_code_category_nm			NVARCHAR(255) = NULL,
@procedure_code_sub_category1_nm 	NVARCHAR(255) = NULL,
@procedure_code_sub_category2_nm 	NVARCHAR(255) = NULL,
@procedure_code_sub_category3_nm 	NVARCHAR(255) = NULL,
@show_only_current 	BIT = 0
)
AS
BEGIN

SET NOCOUNT ON


DECLARE
@SqlString  	NVARCHAR(4000),
@SqlCondition  	NVARCHAR(4000),
@criteriacount 	INT


SELECT
@criteriacount 	= 0,
@SqlCondition 	='',
@SqlString 	=''


SET @SqlString = '
SELECT pc.procedure_code_id,
pc.procedure_code_ud,
pc.description,

pc.procedure_code_type_id,
pc.procedure_code_category_id,
pc.procedure_code_sub_category1_id,
pc.procedure_code_sub_category2_id,
pc.procedure_code_sub_category3_id,
CONVERT(NVARCHAR, pc.effective_from, 101) AS effective_from,
CONVERT(NVARCHAR,pc.effective_thru, 101) AS effective_thru ,
claim_usage_type.claim_usage_type_id,
claim_usage_type.claim_usage_type_ud,
pct.procedure_code_type_ud,
pcc.procedure_code_category_nm,
pcs3.procedure_code_sub_category3_nm,
pcs1.procedure_code_sub_category1_nm,
pcs2.procedure_code_sub_category2_nm,

pc.description as	procedure_code_description,
pc.procedure_code_ud AS exclude_code_by_range_BEGINning_procedure_code_ud,
pc.procedure_code_ud AS include_code_by_range_BEGINning_procedure_code_ud,
pc.procedure_code_ud AS  include_code_by_range_ENDing_procedure_code_ud,
pc.procedure_code_ud AS exclude_code_by_range_ENDing_procedure_code_ud,
pc.procedure_code_ud AS rev_code_start_procedure_code_ud,
pc.procedure_code_ud AS rev_code_END_procedure_code_ud,
pc.procedure_code_ud AS ENDing_procedure_code_ud,
pc.procedure_code_ud AS starting_procedure_code_ud,
pc.procedure_code_ud AS second_code_procedure_code_ud,
pct.procedure_code_type_ud AS second_code_type_procedure_code_type_ud,

pc.procedure_code_id AS include_code_by_range_BEGINning_procedure_code_id,
pc.procedure_code_id AS exclude_code_by_range_BEGINning_procedure_code_id,
pc.procedure_code_id AS exclude_code_by_range_ENDing_procedure_code_id,
pc.procedure_code_id AS include_code_by_range_ENDing_procedure_code_id,
pc.procedure_code_id AS rev_code_start_procedure_code_id,
pc.procedure_code_id AS rev_code_END_procedure_code_id,
pc.procedure_code_id AS ENDing_procedure_code_id,
pc.procedure_code_id AS starting_procedure_code_id,
pc.procedure_code_id AS second_code_procedure_code_id,
pct.procedure_code_type_id AS second_code_type_procedure_code_type_id

FROM  procedure_code pc
LEFT OUTER JOIN  procedure_code_type pct ON pc.procedure_code_type_id = pct.procedure_code_type_id
LEFT OUTER JOIN  claim_usage_type ON pct.claim_usage_type_id = claim_usage_type.claim_usage_type_id
LEFT OUTER JOIN  procedure_code_category pcc ON pc.procedure_code_category_id = pcc.procedure_code_category_id
LEFT OUTER JOIN  procedure_code_sub_category1 pcs1 ON pc.procedure_code_sub_category1_id = pcs1.procedure_code_sub_category1_id
LEFT OUTER JOIN  procedure_code_sub_category2 pcs2 ON pc.procedure_code_sub_category2_id = pcs2.procedure_code_sub_category2_id
LEFT OUTER JOIN  procedure_code_sub_category3 pcs3 ON pc.procedure_code_sub_category3_id = pcs3.procedure_code_sub_category3_id '

IF @procedure_code_id IS NOT NULL AND @procedure_code_id <> 0
BEGIN
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_id', @procedure_code_id)
SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_ud IS NOT NULL AND @procedure_code_ud <> ''
BEGIN
SET @SqlCondition =  '(pc.procedure_code_ud = ''' + @procedure_code_ud + ''')'
SET @criteriacount = @criteriacount + 1
END

IF @description IS NOT NULL AND @description <> ''
BEGIN
IF @criteriacount > 0  	SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pc.description like N''' + dbo.plx_EncodeString(@description) + '%'')'

SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_type_ud IS NOT NULL AND @procedure_code_type_ud <> ''
BEGIN
IF @criteriacount > 0  SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pct.procedure_code_type_ud = ''' + dbo.plx_EncodeString(@procedure_code_type_ud) + ''')'

SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_icd_version_id IS NOT NULL AND @procedure_code_icd_version_id <> 0
BEGIN
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_icd_version_id', @procedure_code_icd_version_id)
SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_category_nm IS NOT NULL AND @procedure_code_category_nm <> ''
BEGIN
IF @criteriacount > 0  SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pcc.procedure_code_category_nm like ''%' + dbo.plx_EncodeString(@procedure_code_category_nm) + '%'')'

SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_sub_category1_nm IS NOT NULL AND @procedure_code_sub_category1_nm <> ''
BEGIN
IF @criteriacount > 0  	SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pcs1.procedure_code_sub_category1_nm like ''%' + dbo.plx_EncodeString(@procedure_code_sub_category1_nm) + '%'')'

SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_sub_category2_nm IS NOT NULL AND @procedure_code_sub_category2_nm <> ''
BEGIN
IF @criteriacount > 0  	SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pcs2.procedure_code_sub_category2_nm like ''%' + dbo.plx_EncodeString(@procedure_code_sub_category2_nm) + '%'')'

SET @criteriacount = @criteriacount + 1
END

IF @procedure_code_sub_category3_nm IS NOT NULL AND @procedure_code_sub_category3_nm <> ''
BEGIN
IF @criteriacount > 0  	SET @SqlCondition = @SqlCondition + ' AND '
SET @SqlCondition = @SqlCondition + '(pcs3.procedure_code_sub_category3_nm like ''%' + dbo.plx_EncodeString(@procedure_code_sub_category3_nm) + '%'')'

SET @criteriacount = @criteriacount + 1
END

IF @show_only_current=1
BEGIN
IF @SqlCondition <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND '
END
SET @SqlCondition = @SqlCondition + '((DATEDIFF(Day, pc.effective_from, GETDATE()) >= 0 OR pc.effective_from IS NULL) AND
(DATEDIFF(Day, pc.effective_thru, GETDATE()) <= 0 OR pc.effective_thru IS NULL))'
--' ((pc.effective_from <= GETDATE() OR pc.effective_from IS NULL) AND
--							(pc.effective_thru >= GETDATE() OR pc.effective_thru IS NULL)) '
END

IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
IF @SqlCondition <> ''
BEGIN
SET @SqlCondition = @SqlCondition  + ' AND '
END
SET @SqlCondition = @SqlCondition + ' ( pc.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from,101) + ''', 101)) '

END
IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
IF @SqlCondition <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND '
END
SET @SqlCondition = @SqlCondition + ' ( pc.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END


IF @SqlCondition <> ''	SET @SqlString = @SqlString +  ' WHERE '

EXEC(@SqlString + @SqlCondition)
END
GO
