USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_benefit_category_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: quochuynh
Date : 08/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/26/2005	quochuynh	1.0			create
09/03/2014  eponomareff             RT:6046 Data modification project
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a row in grid Supported Benefit Plan Categories in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_benefit_category_delete]
(
@accumulator_framework_benefit_category_id 	int
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--
IF NOT EXISTS (SELECT * FROM accumulator_framework_benefit_category WHERE accumulator_framework_benefit_category_id = @accumulator_framework_benefit_category_id)
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--
DELETE FROM accumulator_framework_benefit_category
WHERE accumulator_framework_benefit_category_id = @accumulator_framework_benefit_category_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
--
GO
