USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_default_result_code_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
Date: 14/02/2006
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
14/02/2006	Anh Ta			1.0			Created and Used for ICU#15894 Payment Contracts
08/28/2006	Anh Ta			2.0			Build Changes DB 260
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_default_result_code_status_load]
(
@result_code_id 	INT=NULL
)
AS
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
result_code_status.result_code_status_id
,result_code_status.result_code_status_ud
,result_code.short_message AS description
FROM result_code
LEFT JOIN result_code_status ON result_code_status.result_code_status_id = result_code.result_code_status_id
WHERE result_code_id=@result_code_id
--
RETURN @SP_SUCCESS
--
END
--
GO
