USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_form_type_load_without_all_claims]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/11/06        Created		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Loads claim form types (including Predetermination); does not include "All Claims"

Related dropdown stored procedures are:

plx_dd_claim_form_type_load -- all types
plx_dd_claim_form_type_load_without_all_claims -- all types except ALL CLAIMS
plx_dd_claim_form_type_load_without_all_claims_pred -- all types except ALL CLAIMS, and PRE-D
plx_dd_claim_form_type_except_all_load -- all types except ALL CLAIMS and PRE-D (claim form types returned as "contract_type")

******************************/
CREATE    PROCEDURE [dbo].[plx_dd_claim_form_type_load_without_all_claims]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_form_type_id
,claim_form_type_ud
,golden_key
FROM claim_form_type
WHERE golden_key <>"All Claims"
ORDER BY claim_form_type_ud
GO
