USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accumulator_framework_by_benefit_framework_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 09/01/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/01/2005	Hiep Nguyen		1.0			Created
03/10/2008	David Slayton	1.1			Removed restrictions of usage_scope when
selecting Accumulator Frameworks.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_accumulator_framework_by_benefit_framework_load]
(
@benefit_framework_id	int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT distinct
af.accumulator_framework_id
,af.accumulator_framework_ud
,af.accumulator_framework_nm
FROM	accumulator_framework af
inner join usage_scope us ON us.usage_scope_id = af.usage_scope_id
left join accumulator_framework_benefit_category afbc ON afbc.accumulator_framework_id = af.accumulator_framework_id

WHERE

((afbc.benefit_category_id is null)

or exists (	select  benefit_framework_id
from 	benefit_framework bf
where 	bf.benefit_category_id = afbc.benefit_category_id
and 	bf.benefit_framework_id = @benefit_framework_id))
AND
((afbc.benefit_sub_category_id is null)

or exists (	select  benefit_framework_id
from 	benefit_framework bf
where 	bf.benefit_sub_category_id = afbc.benefit_sub_category_id
and 	bf.benefit_framework_id = @benefit_framework_id))

ORDER BY af.accumulator_framework_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
