USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_waive_item_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNgo
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyNgo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Waive Items"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_waive_item_delete]

(
@episode_waive_item_id                 int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM episode_waive_item WHERE episode_waive_item_id = @episode_waive_item_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--


--
--  END
--
DELETE FROM episode_waive_item
WHERE episode_waive_item_id = @episode_waive_item_id
END
--
RETURN @SP_SUCCESS
GO
