USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_employee_class_load_by_group_id]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/




create    procedure [dbo].[plx_dd_employee_class_load_by_group_id]


@client_group_id[int] = NULL
as
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
employee_class_id
,employee_class_ud

FROM employee_class
left  join dbo.client_group  on dbo.client_group.client_group_id = employee_class.client_group_id
where
employee_class.client_group_id=@client_group_id
ORDER BY employee_class_ud

RETURN @SP_SUCCESS
GO
