USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_form_for_institutional_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/05/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/05/2006	mttran			0.5      ALTER
12/14/2006	Hiep Nguyen		1        Modified
03/05/2006	mttran						Change query to limit data as much as possible
by moving the criteria into INNER JOIN clause
03/17/2008	David Slayton	1.2      Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
03/23/2009	eponomareff    1.3      added security
05/07/2009	eponomareff    1.4      modified join to member so that claims with NULL eligiblities show in result set
05/12/2009	David Slayton	1.5		Added ability to short circuit where clause to just return column names.
07/08/2009	eponomareff    1.6      fix to modified join so that claims with NULL eligibliities would show in result set
but search criteria would cull out nulls
12/01/2009	Vishwa			2.0		updated Joins to fix issue for claim_type search
08/19/2015  Jon Vote				RT:8757 performance optimizations
02/10/2017	jbernard		2.1			SP11517 - HNFS major performance issue with find claim forms
03/13/2017	eponomareff     2.2     RT:11325 - Search by Claim/Line Status produces incorrect results for Missing Information, etc.
05/02/2017	amortensen		2.3		RT:11653 - Fixing error generated when searching by Occurrence Code
03/02/2018	amortensen		2.4		RT:9662 - Updating to return billing provider instead of rendering provider
12/18/2018  jchapman		2.5		RT:14132 - Use provider_network_id from adjudication_result_key for claim procedures
02/07/2019	amortensen		2.6		RT:6841 - Updated include claims with overlapping date range when searching by service from or thru dates
12/05/2024	Kirk Chedotal	2.7		RT-25268 - performance tuning: Added SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

--
CURRENT_VERSION: 2.7
--
DESCRIPTION:
Finds institutional claim based on the given criteria.
This is a sub-procedure of find claim form (plx_find_claim_form_load).
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_claim_form_for_institutional_load] (
@get_column_headers BIT = 0
, @institutional_claim_ud NVARCHAR(100) = NULL
, @institutional_claim_status_id INT = NULL
, @institutional_result_code_id INT = NULL
, @institutional_received_date_from DATETIME = NULL
, @institutional_received_date_thru DATETIME = NULL
, @institutional_clean_date DATETIME = NULL
, @institutional_place_of_service_id INT = NULL
, @institutional_claim_bill_type_id INT = NULL
, @institutional_date_entered_from DATETIME = NULL
, @institutional_date_entered_thru DATETIME = NULL
, @institutional_effective_from_date_rule_ud NVARCHAR(50) = NULL    -- not yet?
, @institutional_effective_through_date_rule_ud NVARCHAR(50) = NULL -- not yet?
, @institutional_service_from_date DATETIME = NULL
, @institutional_service_thru_date DATETIME = NULL
, @institutional_type_of_service_id INT = NULL
, @institutional_admission_from_date DATETIME = NULL
, @institutional_admission_thru_date DATETIME = NULL
, @institutional_procedure_code_ud NVARCHAR(50) = NULL
, @institutional_principle_procedure_code_ud NVARCHAR(50) = NULL
, @institutional_principle_diagnosis_code_ud NVARCHAR(50) = NULL
, @institutional_admit_diagnosis_code_ud NVARCHAR(50) = NULL
, @institutional_condition_code_id INT = NULL
, @institutional_occurrence_code_id INT = NULL
, @institutional_value_code_id INT = NULL
, @institutional_net_amount_from NUMERIC(20, 10) = NULL
, @institutional_net_amount_thru NUMERIC(20, 10) = NULL
, @institutional_accumulator_ud NVARCHAR(50) = NULL
, @institutional_accumulator_class_id INT = NULL
, @institutional_authorization_ud NVARCHAR(50) = NULL
, @institutional_claim_type_id INT = NULL
, @episode_id INT = NULL
, @provider_id INT = NULL
, @provider_identifier_id INT = NULL
, @provider_name_last NVARCHAR(100) = NULL
, @provider_name_first NVARCHAR(100) = NULL
, @billing_provider_id INT = NULL
, @billing_provider_identifier_id INT = NULL
, @billing_provider_name_last NVARCHAR(100) = NULL
, @billing_provider_name_first NVARCHAR(100) = NULL
, @provider_network_id INT = NULL
, @practice_office_id INT = NULL
, @locale_id INT = NULL
, @vendor_id INT = NULL
, @federal_ein NVARCHAR(50) = NULL
, @vendor_nm NVARCHAR(100) = NULL
, @practice_office_nm NVARCHAR(100) = NULL
, @show_exact_match BIT = 0
, @patient_eligibility_id INT = NULL
, @patient_member_id INT = NULL
, @patient_number NVARCHAR(50) = NULL
, @institutional_patient_account_number NVARCHAR(50) = NULL
, @subscriber_eligibility_id INT = NULL
, @subscriber_name_last NVARCHAR(100) = NULL
, @subscriber_name_first NVARCHAR(100) = NULL
--Benefit Tab:
, @benefit_category_id INT = NULL
, @benefit_sub_category_id INT = NULL
, @benefit_contract_id INT = NULL
, @client_id INT = NULL
, @client_group_id INT = NULL
, @benefit_plan_id INT = NULL
--  adjudication - benefit plan level
, @benefit_plan_type_id INT = NULL
-- accounting
, @check_number NVARCHAR(50) = NULL
, @zero_claim_vendor_batch_reference_number	NVARCHAR(50) = NULL
, @accounting_company_id				INT = NULL               -- Accounting Company on a related AP Transaction
, @accounting_company_account_id		INT = null               -- AP Account on a related AP Transaction

--	 security
, @security_credential nvarchar(255) = null
, @active_directory_security_user_roles udtt_security_roles readonly
, @debug_mode bit = 0
, @NumRecords int = null
)
as
begin
--RT-25268 - Find Claim Form - Causing Blocking
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

-- Caller can specify number of records
-- Default to dbo.fn_results_limit()
if @NumRecords is null
set @NumRecords = dbo.fn_results_limit();


----- Begin Member -----------
declare @sql_member                   varchar(8000)
, @search_patient_number        nvarchar(255) = null
, @search_subscriber_name_last  nvarchar(255) = null
, @search_subscriber_name_first nvarchar(255) = null;

if isnull(@patient_number, '') <> ''
set @search_patient_number = @patient_number;
if isnull(@subscriber_name_last, '') <> ''
set @search_subscriber_name_last = @subscriber_name_last;
if isnull(@subscriber_name_first, '') <> ''
set @search_subscriber_name_first = @subscriber_name_first;

EXEC dbo.plx_find_claim_form_for_member_load
@get_column_headers
, @patient_eligibility_id
, @patient_member_id
, @search_patient_number output
, @subscriber_eligibility_id
, @search_subscriber_name_last output
, @search_subscriber_name_first output
, @benefit_category_id
, @benefit_sub_category_id
, @benefit_contract_id
, @client_id
, @client_group_id
, @benefit_plan_id
, @show_exact_match
, @sql_member output
, @security_credential
, @active_directory_security_user_roles;

-- End Member

declare @sql_select                 nvarchar(max)  = ''
, @sql_condition_1_claim      nvarchar(4000) = ' WHERE ' + convert(nvarchar(1), @get_column_headers) + ' = 0 '
, @sql_condition_2            nvarchar(4000) = ''
, @sql_condition_4_misc       nvarchar(4000) = ''
, @sql_from_1_claim           nvarchar(4000) = ''
, @sql_from_2_claim_procedure nvarchar(4000) = ''
, @sql_from_3                 nvarchar(4000) = ''
, @sql_from_4_misc            nvarchar(4000) = ''
, @Prefix                     nvarchar(10)   = ''
, @Suffix                     nvarchar(10)   = '';

if @show_exact_match = 1
begin
set @Prefix = '= N''';
set @Suffix = '''';
end;
else
begin
set @Prefix = 'LIKE N''';
set @Suffix = '%''';
end;

-- Claim Form Type
declare @claim_form_type_id int;
declare @claim_form_type_ud nvarchar(50);

select @claim_form_type_id = claim_form_type_id
, @claim_form_type_ud = claim_form_type_ud
from claim_form_type
where golden_key = 'Institutional';

-- define select clause
set @sql_select
= '
SELECT	DISTINCT TOP (' + convert(varchar, @NumRecords) + ')
claim.claim_id
,claim.claim_ud
,claim.claim_form_type_id
,''' + @claim_form_type_ud
+ ''' as claim_form_type_ud
,institutional_claim_type.institutional_claim_type_ud as claim_type_ud
,claim.family_eligibility_member_benefit_plan_id AS member_eligibility_id
,claim.adjudication_status_id
,'''' as invoice_number
,dos_from
,dos_through
,claim.billing_provider_id
,claim.billing_provider_identifier_id
,claim.practice_office_id
,claim.provider_network_id
,claim.vendor_id

,member.member_eligibility_ud AS member_ud
,member.member_pid AS patient_number
,dbo.plx_ConcatenateName(member.name_last, member.name_first, member.name_middle, NULL) AS member_nm
,institutional_claim.institutional_claim_id as claim_form_id
,institutional_claim.patient_control_number as patient_account_number
'  ;

--CLAIM SPECIFIC
-- FROM
set @sql_from_1_claim
= '
FROM	claim
INNER JOIN institutional_claim
ON claim.claim_id = institutional_claim.claim_id
AND claim.claim_form_type_id =  @claim_form_type_id
LEFT JOIN 	institutional_claim_type
ON institutional_claim_type.institutional_claim_type_id = institutional_claim.institutional_claim_type_id
OUTER APPLY dbo.plx_fn_min_service_from_date (claim.claim_id) tbl_dos_from
OUTER APPLY dbo.plx_fn_max_service_thru_date (claim.claim_id) tbl_dos_thru
' ;

--   set @sql_from_1_claim += '

--LEFT JOIN  family_eligibility_member_benefit_plan
--ON claim.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
--LEFT JOIN claim_procedure
--ON claim_procedure.claim_id = claim.claim_id
--LEFT JOIN vendor
--ON vendor.vendor_id = claim.vendor_id
--LEFT JOIN practice_office
--ON practice_office.practice_office_id = claim.practice_office_id
--LEFT JOIN provider_name
--ON provider_name.provider_id = claim.provider_id AND provider_name.is_primary = 1
--LEFT JOIN provider_name billing_provider_name
--ON billing_provider_name.provider_id = claim.billing_provider_id AND billing_provider_name.is_primary = 1
--'  ;


-- Claim condition
if isnull(@institutional_claim_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized       @column_name = 'claim.claim_ud'
, @variable_name = '@institutional_claim_ud'
, @variable_value = @institutional_claim_ud output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;

end;

if isnull(@institutional_principle_diagnosis_code_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized       @column_name = 'institutional_claim.primary_diagnosis_code_ud'
, @variable_name = '@institutional_principle_diagnosis_code_ud'
, @variable_value = @institutional_principle_diagnosis_code_ud output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
end;

if isnull(@institutional_principle_procedure_code_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized       @column_name = 'institutional_claim.principal_procedure_code_ud'
, @variable_name = '@institutional_principle_procedure_code_ud'
, @variable_value = @institutional_principle_procedure_code_ud output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
end;


if isnull(@institutional_admit_diagnosis_code_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized       @column_name = 'institutional_claim.admitting_diagnosis_code_ud'
, @variable_name = '@institutional_admit_diagnosis_code_ud'
, @variable_value = @institutional_admit_diagnosis_code_ud output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
end;


if isnull(@institutional_claim_status_id, 0) > 0
begin
set @sql_condition_1_claim += ' AND (claim.adjudication_status_id = @institutional_claim_status_id '
+ ' 	OR 	EXISTS (
SELECT cp.claim_procedure_id
FROM claim_procedure cp
WHERE cp.claim_id = claim.claim_id
AND cp.adjudication_status_id = @institutional_claim_status_id  ' + '
)
AND claim.claim_form_type_id =  @claim_form_type_id)
'     ;
end;


if isnull(@institutional_received_date_from, 0) > 0
set @sql_condition_1_claim += ' AND claim.received_date >=  cast(@institutional_received_date_from as date) ';

if @institutional_received_date_thru is not null
set @sql_condition_1_claim += ' AND claim.received_date <= cast(@institutional_received_date_thru as date) ';

if @institutional_clean_date is not null
set @sql_condition_1_claim += 'AND claim.clean_date = cast(@institutional_clean_date as date) ';

if isnull(@provider_id, 0) > 0
set @sql_condition_1_claim = @sql_condition_1_claim + ' AND claim.provider_id =  @provider_id ';

if isnull(@provider_identifier_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.provider_identifier_id = @provider_identifier_id ';

if isnull(@billing_provider_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.billing_provider_id =  @billing_provider_id ';


if isnull(@billing_provider_identifier_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.billing_provider_identifier_id =  @billing_provider_identifier_id ';

if isnull(@episode_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.episode_id = @episode_id ';

if isnull(@practice_office_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.practice_office_id =  @practice_office_id ';

if isnull(@institutional_date_entered_from, '') <> ''
set @sql_condition_1_claim += ' AND  institutional_claim.created_date >=  cast(@institutional_date_entered_from as date) ';

if isnull(@institutional_date_entered_thru, '') <> ''
set @sql_condition_1_claim += ' AND institutional_claim.created_date <= cast(@institutional_date_entered_thru as date) ';

if isnull(@institutional_place_of_service_id, 0) > 0
set @sql_condition_1_claim += ' AND institutional_claim.place_of_service_id =  @institutional_place_of_service_id ';

if isnull(@institutional_claim_type_id, 0) > 0
set @sql_condition_1_claim += '  AND institutional_claim.institutional_claim_type_id =  @institutional_claim_type_id ';

if isnull(@institutional_type_of_service_id, 0) > 0
set @sql_condition_1_claim += ' AND institutional_claim.type_of_service_id =  @institutional_type_of_service_id ';

if isnull(@institutional_claim_bill_type_id, 0) > 0
set @sql_condition_1_claim += ' AND institutional_claim.institutional_claim_bill_type_id = @institutional_claim_bill_type_id ';
if isnull(@institutional_admission_from_date, '') <> ''
set @sql_condition_1_claim += ' AND institutional_claim.admission_date >=  cast(@institutional_admission_from_date as date) ';

if isnull(@institutional_admission_thru_date, '') <> ''
set @sql_condition_1_claim += ' AND  institutional_claim.admission_date <= cast(@institutional_admission_thru_date as date) ';


if isnull(@vendor_id, 0) > 0
set @sql_condition_1_claim += ' AND (claim.vendor_id = @vendor_id OR ark.vendor_id = @vendor_id)';


if @institutional_net_amount_from is not null
set @sql_condition_1_claim += '  AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ), 0)  >=  @institutional_net_amount_from ';

if @institutional_net_amount_thru is not null
set @sql_condition_1_claim += ' AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ), 0)  <=  @institutional_net_amount_thru ';

if(ISNULL(@institutional_patient_account_number, '') <> '')
BEGIN
exec dbo.plx_AddStringSearchParameterized       @column_name = 'institutional_claim.patient_control_number'
, @variable_name = '@institutional_patient_account_number'
, @variable_value = @institutional_patient_account_number output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
END
-- END CLAIM

-- BEGIN CLAIM PROCEDURE
if isnull(@institutional_place_of_service_id, 0) > 0
or isnull(@institutional_type_of_service_id, 0) > 0
or isnull(@institutional_procedure_code_ud, '') <> ''
begin


set @sql_from_2_claim_procedure += ' inner join claim_procedure
on claim_procedure.claim_id = claim.claim_id ';

if isnull(@institutional_place_of_service_id, 0) > 0
set @sql_from_2_claim_procedure += ' AND claim_procedure.place_of_service_id =  @institutional_place_of_service_id ';

if isnull(@institutional_type_of_service_id, 0) > 0
set @sql_from_2_claim_procedure += ' AND claim_procedure.type_of_service_id =  @institutional_type_of_service_id ';

if isnull(@institutional_procedure_code_ud, '') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'claim_procedure.procedure_code_2_ud'
, @variable_name = '@institutional_procedure_code_ud'
, @variable_value = @institutional_procedure_code_ud output
, @where = @sql_condition_2 output
, @show_exact_matches = @show_exact_match;

end;

if(isnull(@institutional_service_from_date, '') <> '' or isnull(@institutional_service_thru_date, '') <> '')
set @sql_condition_2 = @sql_condition_2 + '
AND (dos_from
BETWEEN ''' + convert(nvarchar, isnull(@institutional_service_from_date, '1/1/1753')) + ''' AND ''' + convert(nvarchar, isnull(@institutional_service_thru_date, '12/31/9999')) + '''
OR dos_through
BETWEEN ''' + convert(nvarchar, isnull(@institutional_service_from_date, '1/1/1753')) + ''' AND ''' + convert(nvarchar, isnull(@institutional_service_thru_date, '12/31/9999')) + ''')';

-- END CLAIM PROCEDURE

-- MISC
if isnull(@institutional_result_code_id, 0) > 0
set @sql_condition_2 += ' AND ('
+ ' EXISTS ( SELECT 1 FROM adjudication_result_code WHERE adjudication_result_code.claim_id = claim.claim_id and adjudication_result_code.result_code_id =  @institutional_result_code_id)  OR '
+ ' EXISTS ( SELECT 1 FROM adjudication_result_code arc INNER JOIN claim_procedure cp ON arc.claim_procedure_id = cp.claim_procedure_id '
+ ' WHERE cp.claim_id = claim.claim_id AND arc.result_code_id =  @institutional_result_code_id) )';

if isnull(@institutional_condition_code_id, 0) > 0
begin
set @sql_from_3 += '
INNER JOIN institutional_claim_condition_code
ON institutional_claim.institutional_claim_id = institutional_claim_condition_code.institutional_claim_id
AND institutional_claim_condition_code.condition_code_id =  @institutional_condition_code_id ';
end;

if isnull(@institutional_occurrence_code_id, 0) > 0
begin
set @sql_from_3 += '
INNER JOIN institutional_claim_occurrence_span
ON institutional_claim.institutional_claim_id = institutional_claim_occurrence_span.institutional_claim_id
AND institutional_claim_occurrence_span.occurrence_span_code_id =  @institutional_occurrence_code_id ';
end;

if isnull(@institutional_value_code_id, 0) > 0
begin
set @sql_from_3 += '
INNER JOIN institutional_claim_value_code
ON institutional_claim.institutional_claim_id = institutional_claim_value_code.institutional_claim_id
AND institutional_claim_value_code.value_code_id = @institutional_value_code_id ';
end;


if isnull(@institutional_authorization_ud, '') <> ''
begin
set @institutional_authorization_ud = dbo.plx_EncodeStringWildCard(@institutional_authorization_ud, @show_exact_match);
set @sql_from_3 += '
INNER JOIN claim_referral ON claim_referral.claim_id = claim.claim_id
INNER JOIN referral ON claim_referral.referral_id = referral.referral_id
AND referral.referral_ud = @institutional_authorization_ud ';
end;
-- END MISC

-- BEGIN PROVIDER
if isnull(@provider_name_last, '') <> ''
or isnull(@provider_name_first, '') <> ''
or isnull(@billing_provider_name_last, '') <> ''
or isnull(@billing_provider_name_first, '') <> ''
begin

set @sql_from_4_misc += '
LEFT JOIN provider_name
ON provider_name.provider_id = claim.provider_id
AND provider_name.is_primary = 1
LEFT JOIN provider_name billing_provider_name
ON claim.billing_provider_id = billing_provider_name.provider_id ';

if isnull(@provider_name_last, '') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'provider_name.name_last'
, @variable_name = '@provider_name_last'
, @variable_value = @provider_name_last output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;


if isnull(@provider_name_first, '') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'provider_name.name_first'
, @variable_name = '@provider_name_first'
, @variable_value = @provider_name_first output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;


if isnull(@billing_provider_name_last, '') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'billing_provider_name.name_last'
, @variable_name = '@billing_provider_name_last'
, @variable_value = @billing_provider_name_last output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

if isnull(@billing_provider_name_first, '') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'billing_provider_name.name_first'
, @variable_name = '@billing_provider_name_first'
, @variable_value = @billing_provider_name_first output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;
end;
-- END PROVIDER


-- BEGIN MISC
if isnull(@practice_office_nm, '') <> ''
or isnull(@locale_id, 0) > 0
set @sql_from_4_misc += ' LEFT JOIN practice_office ON claim.practice_office_id =  practice_office.practice_office_id ';

begin

if isnull(@practice_office_nm, '') <> ''
begin

exec dbo.plx_AddStringSearchParameterized       @column_name = 'practice_office.practice_office_nm'
, @variable_name = '@practice_office_nm'
, @variable_value = @practice_office_nm output
, @where = @sql_condition_2 output
, @show_exact_matches = @show_exact_match;
end;
if isnull(@locale_id, 0) > 0
begin
set @sql_from_4_misc += '
inner join address
on address_id = practice_office_address.address_id ON claim.practice_office_id =  practice_office.practice_office_id ';
set @sql_condition_4_misc += ' AND address.locale_id = @locale_id ';
end;


end;

-- BEGIN JOIN to ajudication_result_key
-- Fields: @vendor_id, @vendor_nm, @federal_ein, @provider_network_id
if isnull(@vendor_id, 0) > 0 or isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
or isnull(@provider_network_id, 0) > 0
begin
set @sql_from_4_misc +='
LEFT JOIN claim_procedure cp ON cp.claim_id = claim.claim_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = cp.claim_procedure_id ';
end
-- END JOIN to ajudication_result_key
--BEGIN VENDOR
if isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
begin
set @sql_from_4_misc += ' LEFT JOIN vendor headerVendor on headerVendor.vendor_id = claim.vendor_id
LEFT JOIN vendor adjVendor ON ark.vendor_id = adjVendor.vendor_id ';
if isnull(@vendor_nm, '') <> ''
begin
-- check header vendor and adjudicated vendor name
set @sql_condition_4_misc += ' AND (headerVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix +
' OR adjVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix + ')';
end;
if isnull(@federal_ein, '') <> ''
begin
set @sql_condition_4_misc += ' AND (headerVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix +
' OR adjVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix + ')';
end
end; -- END VENDOR
--BEGIN PROVIDER NETWORK
if isnull(@provider_network_id, 0) > 0
set @sql_condition_4_misc += ' AND ark.provider_network_id = @provider_network_id ';
--END PROVIDER NETWORK

--BEGIN ACCOUNTING
-- join to accounting_transaction_ap_claim_detail
if isnull(@check_number, '') <> '' or isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_3 += '
INNER JOIN accounting_transaction_ap_claim_detail atapcd
ON  claim.claim_id = atapcd.claim_id '
end

-- join to Payments
if isnull(@check_number, '') <> ''
begin
set @sql_from_3 += '
INNER JOIN accounting_transaction_ap_apply_to atapat
ON atapcd.accounting_transaction_ap_id = atapat.to_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail atappd
ON atapat.from_accounting_transaction_ap_id = atappd.accounting_transaction_ap_id
AND atappd.check_ach_reference IS NOT NULL ';

exec dbo.plx_AddStringSearchParameterized		  @column_name = 'atappd.check_ach_reference'
, @variable_name = '@check_number'
, @variable_value = @check_number output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end;

-- AP transactions (for accounting company and ap account)
if isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_3 += '
INNER JOIN accounting_transaction_ap apTx
ON atapcd.accounting_transaction_ap_id = apTx.accounting_transaction_ap_id';

if isnull(@accounting_company_id, 0) <> 0
begin
set @sql_condition_4_misc += ' AND apTx.accounting_company_id = @accounting_company_id ';
end

if isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_3 += '
INNER JOIN accounting_transaction_ap_distribution apTxDistribution
ON apTx.accounting_transaction_ap_id = apTxDistribution.accounting_transaction_ap_id';

set @sql_condition_4_misc += ' AND apTxDistribution.accounting_company_account_id = @accounting_company_account_id ';
end
end;

-- Zero Claim Vendor Batch Reference Number
if isnull(@zero_claim_vendor_batch_reference_number, '') <> ''
begin
set @sql_from_3 += '
INNER JOIN zero_tracking_claim_procedure ztcp
ON  claim.claim_id = ztcp.claim_id
INNER JOIN zero_tracking_vendor_batch ztvb
ON ztcp.zero_tracking_vendor_batch_id = ztvb.zero_tracking_vendor_batch_id
';

exec dbo.plx_AddStringSearchParameterized		  @column_name = 'ztvb.reference_number'
, @variable_name = '@zero_claim_vendor_batch_reference_number'
, @variable_value = @zero_claim_vendor_batch_reference_number output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end;

--END ACCOUNTING


--BEGIN ACCUMULATOR
if isnull(@institutional_accumulator_ud, '') <> ''
or isnull(@institutional_accumulator_class_id, 0) > 0
begin

set @sql_from_4_misc += ' LEFT JOIN adjudication_accumulator
ON claim.claim_id = adjudication_accumulator.claim_id
Left Join accumulator_framework_accumulator_class_accumulator
On accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id = adjudication_accumulator.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator_framework_accumulator_class
ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
'     ;

if isnull(@institutional_accumulator_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized       @column_name = 'accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_ud'
, @variable_name = '@institutional_accumulator_ud'
, @variable_value = @institutional_accumulator_ud output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end;
if isnull(@institutional_accumulator_class_id, 0) > 0
set @sql_condition_4_misc += ' AND accumulator_framework_accumulator_class.accumulator_class_id =  @institutional_accumulator_class_id ';
end;


--IF ISNULL(@benefit_plan_type_id, 0) > 0
--SET @sql_condition = @sql_condition + ' AND benefit_contract_period_benefit_plan.benefit_plan_type_id = ' + CONVERT(NVARCHAR, @benefit_plan_type_id)

-- member condition - NOTE security is enforced here
if isnull(@patient_eligibility_id, 0) <> 0
or isnull(@patient_member_id, 0) <> 0
or isnull(@patient_number, '') <> ''
or isnull(@subscriber_eligibility_id, 0) <> 0
or isnull(@subscriber_name_last, '') <> ''
or isnull(@subscriber_name_first, '') <> ''
or isnull(@benefit_category_id, 0) <> 0
or isnull(@benefit_sub_category_id, 0) <> 0
or isnull(@benefit_contract_id, 0) <> 0
or isnull(@client_id, 0) <> 0
or isnull(@client_group_id, 0) <> 0
or isnull(@benefit_plan_id, 0) <> 0
-- User has set Member Criteria, so we want to inner join member matching, and no null patients
begin
set @sql_from_3 += '
INNER JOIN (' + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'     ;
-- check security sets
set @sql_condition_2 += ' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';
end;
else
-- User has set NOT Member Criteria, so DO left join member matching, in order to enforce data security restrictions
-- Return ONLY matching claims OR those with NULL eligibilitlies, handled with WHERE CLAUSE addition
begin
set @sql_from_3 = @sql_from_3 + '
LEFT JOIN ('            + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'     ;

--this condition ensures data security is supported and returns claims that have no eligibilities attached
if @security_credential is not null
and (dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1)
-- This code was originally located in the plx_find_claim_form_for_member_load stored procedure.
-- It was moved here for performance reasons.
set @sql_condition_2 += ' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';
-- WHERE clause must filter out security-restricted members, but allow claims with no eligibility
SET @sql_condition_2 = @sql_condition_2 + ' AND ISNULL(claim.family_eligibility_member_benefit_plan_id, 0) =  ISNULL(member.member_eligibility_id, 0) ';
end;



declare @sql nvarchar(max)
= @sql_select + char(13) + @sql_from_1_claim + char(13) + @sql_from_2_claim_procedure + char(13) + @sql_from_3 + char(13) + @sql_from_4_misc + char(13)
+ @sql_condition_1_claim + char(13) + @sql_condition_2 + char(13) + @sql_condition_4_misc;


if @subscriber_name_last is not null
or @subscriber_name_first is not null
begin
set @sql += N' option (OPTIMIZE FOR (';
if @subscriber_name_last is not null
set @sql += N'@subscriber_name_last =500))';
else
set @sql += N'@subscriber_name_first =500))';
end;


if @debug_mode = 1
begin
print '@sql_select;';
print @sql_select;
print '@sql_from_1_claim;';
print @sql_from_1_claim;
print '@sql_from_2_claim_procedure;';
print @sql_from_2_claim_procedure;
print '@sql_from_3;';
print @sql_from_3;
print '@sql_from_4_misc;';
print @sql_from_4_misc;
print '@sql_condition_1_claim;';
print @sql_condition_1_claim;
print '@sql_condition_2;';
print @sql_condition_2;
print '@sql_condition_4_misc;';
print @sql_condition_4_misc;

end;


exec sp_executesql @sql
, N'@benefit_category_id int
, @benefit_contract_id int
, @benefit_plan_id int
, @benefit_plan_type_id int
, @benefit_sub_category_id int
, @billing_provider_id int
, @billing_provider_identifier_id int
, @billing_provider_name_first nvarchar(100)
, @billing_provider_name_last nvarchar(100)
, @check_number nvarchar(50)
, @zero_claim_vendor_batch_reference_number nvarchar(50)
, @accounting_company_id int
, @accounting_company_account_id int
, @claim_form_type_id int
, @client_group_id int
, @client_id int
, @episode_id int
, @federal_ein nvarchar(50)
, @institutional_accumulator_class_id int
, @institutional_accumulator_ud nvarchar(50)
, @institutional_admission_from_date datetime
, @institutional_admission_thru_date datetime
, @institutional_admit_diagnosis_code_ud nvarchar(50)
, @institutional_authorization_ud nvarchar(50)
, @institutional_claim_bill_type_id int
, @institutional_claim_status_id int
, @institutional_claim_type_id int
, @institutional_claim_ud nvarchar(100)
, @institutional_clean_date datetime
, @institutional_condition_code_id int
, @institutional_date_entered_from datetime
, @institutional_date_entered_thru datetime
, @institutional_effective_from_date_rule_ud nvarchar(50)     -- not yet?
, @institutional_effective_through_date_rule_ud nvarchar(50)  -- not yet?
, @institutional_net_amount_from numeric(20, 10)
, @institutional_net_amount_thru numeric(20, 10)
, @institutional_occurrence_code_id int
, @institutional_place_of_service_id int
, @institutional_principle_diagnosis_code_ud nvarchar(50)
, @institutional_principle_procedure_code_ud nvarchar(50)
, @institutional_procedure_code_ud nvarchar(50)
, @institutional_received_date_from datetime
, @institutional_received_date_thru datetime
, @institutional_result_code_id int
, @institutional_service_from_date datetime
, @institutional_service_thru_date datetime
, @institutional_type_of_service_id int
, @institutional_value_code_id int
, @locale_id int
, @patient_eligibility_id int
, @patient_member_id int
, @patient_number nvarchar(50)
, @institutional_patient_account_number nvarchar(50)
, @practice_office_id int
, @practice_office_nm nvarchar(100)
, @provider_id int
, @provider_identifier_id int
, @provider_name_first nvarchar(100)
, @provider_name_last nvarchar(100)
, @provider_network_id int
, @security_credential nvarchar(255)
, @subscriber_eligibility_id int
, @subscriber_name_first nvarchar(100)
, @subscriber_name_last nvarchar(100)
, @vendor_id int
, @vendor_nm nvarchar(100)
, @active_directory_security_user_roles udtt_security_roles readonly '
-- parameter list
, @benefit_category_id
, @benefit_contract_id
, @benefit_plan_id
, @benefit_plan_type_id
, @benefit_sub_category_id
, @billing_provider_id
, @billing_provider_identifier_id
, @billing_provider_name_first
, @billing_provider_name_last
, @check_number
, @zero_claim_vendor_batch_reference_number
, @accounting_company_id
, @accounting_company_account_id
, @claim_form_type_id
, @client_group_id
, @client_id
, @episode_id
, @federal_ein
, @institutional_accumulator_class_id
, @institutional_accumulator_ud
, @institutional_admission_from_date
, @institutional_admission_thru_date
, @institutional_admit_diagnosis_code_ud
, @institutional_authorization_ud
, @institutional_claim_bill_type_id
, @institutional_claim_status_id
, @institutional_claim_type_id
, @institutional_claim_ud
, @institutional_clean_date
, @institutional_condition_code_id
, @institutional_date_entered_from
, @institutional_date_entered_thru
, @institutional_effective_from_date_rule_ud    -- not yet?
, @institutional_effective_through_date_rule_ud -- not yet?
, @institutional_net_amount_from
, @institutional_net_amount_thru
, @institutional_occurrence_code_id
, @institutional_place_of_service_id
, @institutional_principle_diagnosis_code_ud
, @institutional_principle_procedure_code_ud
, @institutional_procedure_code_ud
, @institutional_received_date_from
, @institutional_received_date_thru
, @institutional_result_code_id
, @institutional_service_from_date
, @institutional_service_thru_date
, @institutional_type_of_service_id
, @institutional_value_code_id
, @locale_id
, @patient_eligibility_id
, @patient_member_id
, @search_patient_number
, @institutional_patient_account_number
, @practice_office_id
, @practice_office_nm
, @provider_id
, @provider_identifier_id
, @provider_name_first
, @provider_name_last
, @provider_network_id
, @security_credential
, @subscriber_eligibility_id
, @search_subscriber_name_first
, @search_subscriber_name_last
, @vendor_id
, @vendor_nm
, @active_directory_security_user_roles;


end;
GO
