USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_transport_distance_unit_of_measure_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_claim_transport_distance_unit_of_measure_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
unit_of_measure_id
,unit_of_measure_ud
,[description]
,RTRIM(golden_key) as golden_key
FROM unit_of_measure
ORDER BY unit_of_measure_ud
--
RETURN @SP_SUCCESS
--
GO
