USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_disbursement_claim_payment_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find Claim disbursement runs that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@disbursement_claim_payment_run_ud
@disbursement_claim_payment_queue_id
@client_id
@client_group_id
@vendor_id
@run_date
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_disbursement_claim_payment_run_load]
(
@get_column_headers		BIT = 0
, @disbursement_claim_payment_run_ud		NVARCHAR(50) = NULL
, @disbursement_claim_payment_queue_id	INT = NULL
, @client_id				INT = NULL
, @client_group_id			INT = NULL
, @vendor_id				INT = NULL
, @claim_id					INT = NULL
, @run_date					DATETIME = NULL
, @show_exact_matches		BIT = 0
, @show_zero_claim_count		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @disbursement_claim_payment_run_ud IS NOT NULL AND @disbursement_claim_payment_run_ud <> ''
SET @SqlCondition = @SqlCondition +
' AND
(dcpr.disbursement_claim_payment_run_ud '
+ @Prefix +
dbo.plx_EncodeStringWildCard(@disbursement_claim_payment_run_ud, @show_exact_matches) +
@Suffix
+
' OR dodr.disbursement_on_demand_run_ud '
+ @Prefix +
dbo.plx_EncodeStringWildCard(@disbursement_claim_payment_run_ud, @show_exact_matches) +
@Suffix

+ ')'


IF @disbursement_claim_payment_queue_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpq.disbursement_claim_payment_queue_id = ' + CONVERT(NVARCHAR, @disbursement_claim_payment_queue_id)

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @vendor_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.vendor_id = ' + CONVERT(NVARCHAR, @vendor_id)

IF @run_date IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR, dcpr.start_time, 101) = ''' + CONVERT(NVARCHAR, @run_date, 101) + ''''

IF ISNULL(@show_zero_claim_count,0) = 0
SET @SqlCondition = @SqlCondition + ' AND ISNULL(claim_count,0) > 0 '

SET @SqlCondition = @SqlCondition + ' AND dcpr.statistics_only = 0 '


SET @SqlQuery =
'
SELECT DISTINCT TOP (dbo.fn_results_limit())
dcpr.disbursement_claim_payment_run_id,
COALESCE(dodr.disbursement_on_demand_run_ud, dcpr.disbursement_claim_payment_run_ud) as disbursement_claim_payment_run_ud,
cpq.disbursement_claim_payment_queue_ud,
dcpr.start_time AS run_date,
dcpr.claim_count
FROM
dbo.disbursement_claim_payment_run dcpr
LEFT JOIN disbursement_claim_payment_queue cpq ON dcpr.disbursement_claim_payment_queue_id = cpq.disbursement_claim_payment_queue_id
LEFT JOIN disbursement_claim_payment_queue_queue_criteria cpqc ON cpq.disbursement_claim_payment_queue_id = cpqc.disbursement_claim_payment_queue_id
LEFT JOIN disbursement_on_demand_run dodr ON dcpr.disbursement_on_demand_run_id = dodr.disbursement_on_demand_run_id
LEFT JOIN client_name cn ON cpqc.client_id = cn.client_id
LEFT JOIN client_group_name cgn ON cpqc.client_group_id = cgn.client_group_id
LEFT JOIN vendor v ON cpqc.vendor_id = v.vendor_id
'
IF @claim_id IS NOT NULL
BEGIN
SET @SqlCondition = @SqlCondition +
'
AND EXISTS
(
SELECT
1
FROM
accounting_transaction_ap atap
JOIN
accounting_source source
ON
atap.accounting_source_id = source.accounting_source_id
JOIN
accounting_transaction_ap_apply_to apply_to
ON
atap.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
JOIN
accounting_transaction_ap applied_to_trans
ON
apply_to.to_accounting_transaction_ap_id = applied_to_trans.accounting_transaction_ap_id
JOIN
accounting_transaction_ap_claim_detail claim_detail
ON
applied_to_trans.accounting_transaction_ap_id = claim_detail.accounting_transaction_ap_id
WHERE
source.golden_key = ''Disbursement Claims Payment Run''
AND
atap.accounting_source_record_id = dcpr.disbursement_claim_payment_run_id
AND
claim_detail.claim_id = ' + CONVERT(NVARCHAR, @claim_id) +
')'
END

PRINT @SqlQuery + @SqlCondition + ' ORDER BY disbursement_claim_payment_run_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY disbursement_claim_payment_run_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
