USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ucr_module_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_ucr_module_load]
@code_import_data_source_id INT = NULL
AS
BEGIN
SET NOCOUNT ON;
DECLARE
@SP_SUCCESS INT = 0,
@SP_EXCEPTION INT = -1,
@Context4GoldenKey NVARCHAR(50) = 'Context4',
@Context4DataSourceId INT,
@DentalGoldenKey NVARCHAR(50) = 'DENTAL',
@DentalUcrModuleId INT;

-- Look up the data source ID for the Context4 golden key
SELECT @Context4DataSourceId = code_import_data_source_id
FROM code_import_data_source
WHERE golden_key = @Context4GoldenKey;

-- Look up the golden_key for the Dental module
SELECT @DentalUcrModuleId = ucr_module_id
FROM ucr_module
WHERE golden_key = @DentalGoldenKey;

IF @code_import_data_source_id = @Context4DataSourceId
BEGIN
SELECT
ucr_module_id,
ucr_module_ud,
golden_key
FROM ucr_module
WHERE ucr_module_id = @DentalUcrModuleId
ORDER BY ucr_module_ud DESC;
END
ELSE
BEGIN
SELECT
ucr_module_id,
ucr_module_ud,
golden_key
FROM ucr_module
ORDER BY ucr_module_ud DESC;
END

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS;
ELSE
RETURN @SP_EXCEPTION;
END
GO
