USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_address_save]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
July 29, 2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
July 29, 2011	cknobloch		1.0		Created
2014-08-19	eponomareff		RT:6046 Tombstone modifications
09/22/2014      dcannon                 1.1      RT:7004 added delivery route
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Save Practice Office Address

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_practice_office_address_save]
(
@practice_office_address_id                 int = NULL,
@practice_office_id						  int = NULL,
@primary_for_practice_office                bit = NULL ,
@primary_office_id                          int = NULL ,
@address_1                                  nvarchar(100) = NULL ,
@address_2                                  nvarchar(100) = NULL ,
@address_3                                  nvarchar(100) = NULL ,
@delivery_route								nvarchar(10) = NULL ,
@locale_id                                  int = NULL ,
@effective_from                             datetime = NULL ,
@effective_thru                             datetime = NULL
) AS
--
BEGIN

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@MODIFIEDCHECK DATETIME,
@ERROR_CANT_INSERT 		NVARCHAR(50),
@ERROR_NOT_EXIST		NVARCHAR(50),
@ERROR_RECORD_LOCKED    NVARCHAR(50),
@address_id             Int

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	     = '1588800008',
@ERROR_NOT_EXIST	     = '1589800009',
@ERROR_RECORD_LOCKED     = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'

-- CONCURRENCY CHECK --

-- Main Body --
BEGIN TRANSACTION

IF @practice_office_address_id  is Null
BEGIN
--- Create a new address record
INSERT INTO address
(
address_1 ,
address_2 ,
address_3 ,
delivery_route ,
locale_id
)
VALUES
(
@address_1 ,
@address_2 ,
@address_3 ,
@delivery_route ,
@locale_id
)
IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @address_id = SCOPE_IDENTITY()

--- Create a new practice_office_address record
INSERT INTO practice_office_address(
practice_office_id ,
address_id ,
primary_for_practice_office ,
effective_from,
effective_thru
)
VALUES(
@practice_office_id ,
@address_id ,
@primary_for_practice_office ,
@effective_from ,
@effective_thru
)

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @practice_office_address_id = SCOPE_IDENTITY()

END
ELSE IF NOT EXISTS (SELECT * FROM practice_office_address WHERE practice_office_address_id = @practice_office_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
SELECT @address_id = address_id FROM practice_office_address WHERE practice_office_address_id = @practice_office_address_id
--- Updating an existing address record
UPDATE
address
SET
address_1  								 = @address_1
,address_2                                = @address_2
,address_3                                = @address_3
,locale_id                                = @locale_id
,delivery_route							 = @delivery_route
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE
address_id = @address_id

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

--- Updating an existing practice_office_address record
UPDATE
practice_office_address
SET
--				primary_for_practice_office 			 = @primary_for_practice_office ,
effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()

WHERE
practice_office_address_id = @practice_office_address_id

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

END

COMMIT TRANSACTION
RETURN @SP_SUCCESS

END
GO
