USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_detail_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 04/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load financial responsibility schedule detail records for a financial responsibility schedule record

--
REQUIREMENTS:
--
INPUTS:
@financial_responsibility_schedule_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_financial_responsibility_schedule_detail_load]
(
@financial_responsibility_schedule_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
frsd.financial_responsibility_schedule_detail_id
,frsd.financial_responsibility_schedule_id
,frsd.procedure_code_type_id
,pct.procedure_code_type_ud
,frsd.beginning_procedure_code_id
,beg_code.procedure_code_ud as beginning_code_ud
,frsd.ending_procedure_code_id
,end_code.procedure_code_ud as ending_code_ud
,frsd.maximum
,frsd.effective_from
,frsd.effective_thru

FROM financial_responsibility_schedule_detail frsd
INNER JOIN procedure_code_type pct on frsd.procedure_code_type_id = pct.procedure_code_type_id
INNER JOIN procedure_code beg_code on frsd.beginning_procedure_code_id = beg_code.procedure_code_id
INNER JOIN procedure_code end_code on frsd.ending_procedure_code_id = end_code.procedure_code_id
WHERE frsd.financial_responsibility_schedule_id = @financial_responsibility_schedule_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
