USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/01/2013
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/01/2013	eponomareff		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
01/26/2017  eponomareff     2.0         Modified to support N-tier Composite Tiers
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Saves the Composite Tier form info

******************************/
CREATE   PROCEDURE [dbo].[plx_composite_tier_save]
(
@tier_id						INT = 0   OUTPUT
,@tier_ud						NVARCHAR(50) = NULL
,@description					NVARCHAR(255) = NULL

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

-- tier must be composite type
DECLARE @tier_criteria_type_golden_key NVARCHAR(50)
SET @tier_criteria_type_golden_key = 'COMPOSITE'

-- tier must be restricted to RATES
DECLARE @tier_restricted_to_type_id INT
SELECT @tier_restricted_to_type_id = tier_restricted_to_type_id
FROM tier_restricted_to_type WHERE golden_key = 'RATES'

IF ISNULL(@tier_id, 0) = 0
BEGIN
INSERT INTO tier(
tier_ud
,description
,tier_criteria_type_golden_key
,tier_restricted_to_type_id
)
VALUES
(@tier_ud
,@description
,@tier_criteria_type_golden_key
,@tier_restricted_to_type_id
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @tier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM tier WHERE tier_id = @tier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE tier
SET
tier_ud                            = @tier_ud
,description                        = @description
,tier_criteria_type_golden_key      = @tier_criteria_type_golden_key
,tier_restricted_to_type_id         = @tier_restricted_to_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE tier_id = @tier_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
