USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_choice_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	mttran		1.0			create
03/20/2006	Trinh Le			Apply changes on "accumulator_class" table
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data of an accumulator choice list. Used in accumulator framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accumulator_choice_list_load]
(
@accumulator_choice_list_id		Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_choice_list.accumulator_choice_list_id
,accumulator_choice_list.accumulator_choice_list_ud
,accumulator_choice_list.description  as  choicelist_description
,accumulator_choice_list.accumulator_framework_accumulator_class_id
,accumulator_choice_list.resolve_choice_list_at_id
,resolve_choice_list_at.resolve_choice_list_at_ud

,accumulator_class.accumulator_class_id
,accumulator_class.accumulator_class_ud

--		,class_data_type.class_data_type_id
,ui_engine_data_type.ui_engine_data_type_id
,ui_engine_data_type.data_type_name AS class_data_type_ud
,accumulator_choice_list.modified_date
FROM 	accumulator_choice_list
inner join accumulator_framework_accumulator_class afcc ON afcc.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id
left join resolve_choice_list_at  ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
inner join accumulator_class ON accumulator_class.accumulator_class_id = afcc.accumulator_class_id
--Trinh Le : commented out
--left join class_data_type ON class_data_type.class_data_type_id = accumulator_class.class_data_type_id
--Trinh Le : Modified
left join ui_engine_data_type ON ui_engine_data_type.ui_engine_data_type_id = accumulator_class.ui_engine_data_type_id
WHERE 	accumulator_choice_list.accumulator_choice_list_id = @accumulator_choice_list_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
