USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ccessnun
Date: 04/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/23/2008	ccessnun		1.0			Created
06/02/2009	Vishwa		2.0			Added Name field
07/17/2009	Vishwa		3.0			duplicated benefit and accumulator class choice resolution grid entries
08/03/2009  ioveracker  4.0         Added pcp_required_result_code_id and pcp_required_result_code_status_id
and updated references to result_code_id and result_code_status_id.
12/06/2009	Vishwa		5.0			Added created_user_name field to store user_name for the duplicate record
10/14/2010  eponomareff 5.1         Removed two fields, added grid, per ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for frmBenefitPlan

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_benefit_plan_duplicate]
(
@ID                 INT, -- benefit_plan_id
@UD                 NVARCHAR(50),
@AsOfDate           datetime = null,
@Name               NVARCHAR(100) = null,
@Description        NVARCHAR(255) = null
) AS
--
SET NOCOUNT ON
--
DECLARE
@new_benefit_plan_id INT,
@ERROR 	NVARCHAR(50)

BEGIN TRY

BEGIN TRANSACTION

-- Copy the benefit plan
INSERT INTO benefit_plan(
benefit_plan_ud
,benefit_plan_nm
,description
,benefit_framework_id
,adj_result_code_id
,plan_assignment_status_id
,plan_adjudication_status_id
,primary_care_provider
,adj_result_code_status_id
,pend_claims_after_days
,deny_claims_after_days
,pcp_required_result_code_id
,pcp_required_result_code_status_id
,benefit_limit_rule_id
)
SELECT
@UD
,@Name
,@description
,bp.benefit_framework_id
,bp.adj_result_code_id
,bp.plan_assignment_status_id
,bp.plan_adjudication_status_id
,bp.primary_care_provider
,bp.adj_result_code_status_id
,bp.pend_claims_after_days
,bp.deny_claims_after_days
,pcp_required_result_code_id
,pcp_required_result_code_status_id
,benefit_limit_rule_id

FROM benefit_plan bp
WHERE benefit_plan_id = @ID

-- Get the ID of the new benefit plan
SELECT @new_benefit_plan_id = SCOPE_IDENTITY()
--
DECLARE
@accumulator_framework_id						int
,@accumulator_framework_ud                      NVARCHAR(50)
,@accumulator_framework_nm                      NVARCHAR(100)
,@benefit_plan_id								int
,@calculate_member_ineligible_amount_amount_after_other_member_responsibility bit
,@rank											int
,@criteria_id									int
,@fee_schedule_id								int
,@fee_schedule_modifier_id						int
,@use_default_modifier							bit
,@effective_from								datetime
,@effective_thru								datetime
,@benefit_plan_user_assigned_result_code_id		int
,@result_code_id								int
,@result_code_status_id        					int
,@comment										nvarchar(1000)
,@benefit_plan_additional_information_id		int
,@additional_information_id						int
,@additional_information_topic_id				int
,@additional_information_selection_value		nvarchar(300)
,@additional_information_value					nvarchar(300)
,@is_new_value                               	bit
-- Benefit Class Choice Resolution
,@benefit_plan_benefit_class_choice_resolution_id  int
,@benefit_coverage_rules_id								int
,@benefit_framework_valid_choice_id						int
-- Accumulator Class Choice Resolution
,@benefit_plan_accumulator_class_choice_resolution_id	int
,@accumulator_limit_rule_id									int
,@accumulator_sub_limit_rule_id								int
,@individual_accumulator_valid_choice_id					int
,@family_accumulator_valid_choice_id						int

--Copy Accumulator Framework Assignments.
DECLARE benefit_plan_accumulator_framework_list_cursor CURSOR FOR
SELECT
bpcf.accumulator_framework_id
FROM benefit_plan_accumulator_framework bpcf
inner join benefit_plan bp ON bp.benefit_plan_id = bpcf.benefit_plan_id
WHERE bp.benefit_plan_id = @ID

OPEN benefit_plan_accumulator_framework_list_cursor
FETCH NEXT FROM benefit_plan_accumulator_framework_list_cursor
INTO @accumulator_framework_id

WHILE @@FETCH_STATUS = 0
BEGIN

INSERT INTO benefit_plan_accumulator_framework(
benefit_plan_id
,accumulator_framework_id
)
VALUES
(
@new_benefit_plan_id
,@accumulator_framework_id
)

FETCH NEXT FROM benefit_plan_accumulator_framework_list_cursor
INTO @accumulator_framework_id

END

CLOSE benefit_plan_accumulator_framework_list_cursor
DEALLOCATE benefit_plan_accumulator_framework_list_cursor

--Copy Benefit Limit Fee Schedules
INSERT INTO benefit_limit_fee_schedule(
benefit_plan_id,
fee_schedule_form_type_id,
fee_schedule_id,
fee_schedule_modifier_id,
use_default_modifier,
effective_from,
effective_thru
)
SELECT
@new_benefit_plan_id AS benefit_plan_id,
fee_schedule_form_type_id,
fee_schedule_id,
fee_schedule_modifier_id,
use_default_modifier,
effective_from,
effective_thru
FROM benefit_limit_fee_schedule blfs
WHERE benefit_plan_id = @ID
AND (
(effective_from  <= @AsOfDate AND ISNULL(effective_thru,@AsOfDate) >= @AsOfDate)
OR
(effective_from  >= @AsOfDate AND ISNULL(effective_thru,@AsOfDate) >= @AsOfDate)
OR
(effective_from >= @AsOfDate)
)

--Duplicate User Assigned Result Codes
--Select all user_assigned_result_codes_cursor from
--original benefit_plan

DECLARE user_assigned_result_codes_cursor CURSOR FOR
SELECT
bpuarc.benefit_plan_user_assigned_result_code_id
,bpuarc.criteria_id
,bpuarc.result_code_id
,bpuarc.result_code_status_id
,bpuarc.comment
,bpuarc.effective_from
,bpuarc.effective_thru
FROM benefit_plan_user_assigned_result_code bpuarc
inner join benefit_plan bp ON bp.benefit_plan_id = bpuarc.benefit_plan_id
WHERE bp.benefit_plan_id = @ID
AND (
(bpuarc.effective_from  <= @AsOfDate AND ISNULL(bpuarc.effective_thru,@AsOfDate) >= @AsOfDate)
OR
(bpuarc.effective_from  >= @AsOfDate AND ISNULL(bpuarc.effective_thru,@AsOfDate) >= @AsOfDate)

OR   (bpuarc.effective_from >= @AsOfDate))

OPEN user_assigned_result_codes_cursor
FETCH NEXT FROM user_assigned_result_codes_cursor
INTO
@benefit_plan_user_assigned_result_code_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru

WHILE @@FETCH_STATUS = 0
BEGIN

SELECT @benefit_plan_user_assigned_result_code_id = 0

--Save the duplicate assignments.
EXEC plx_benefit_plan_user_assigned_result_code_save @benefit_plan_user_assigned_result_code_id,@new_benefit_plan_id,@criteria_id,@result_code_id,@result_code_status_id,@comment,@effective_from,@effective_thru

FETCH NEXT FROM user_assigned_result_codes_cursor
INTO
@benefit_plan_user_assigned_result_code_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru

END

CLOSE user_assigned_result_codes_cursor
DEALLOCATE user_assigned_result_codes_cursor

--Duplicate Addition Information Grid Entries
DECLARE benefit_plan_additional_information_cursor CURSOR FOR
SELECT
bpai.additional_information_id
,bpai.additional_information_topic_id
,bpai.additional_information_selection_value
,bpai.additional_information_value
,bpai.effective_from
,bpai.effective_thru
,bpai.comment
FROM benefit_plan_additional_information bpai
inner join benefit_plan bp ON bp.benefit_plan_id = bpai.benefit_plan_id
WHERE bp.benefit_plan_id = @ID
AND (
(bpai.effective_from  <= @AsOfDate AND ISNULL(bpai.effective_thru,@AsOfDate) >= @AsOfDate)
OR
(bpai.effective_from  >= @AsOfDate AND ISNULL(bpai.effective_thru,@AsOfDate) >= @AsOfDate)

OR  (bpai.effective_from >= @AsOfDate))

OPEN benefit_plan_additional_information_cursor
FETCH NEXT FROM benefit_plan_additional_information_cursor
INTO
@additional_information_id
,@additional_information_topic_id
,@additional_information_selection_value
,@additional_information_value
,@effective_from
,@effective_thru
,@comment

WHILE @@FETCH_STATUS = 0
BEGIN

SELECT @benefit_plan_additional_information_id = 0

--Save the duplicate assignments.
insert into benefit_plan_additional_information(
additional_information_id
,additional_information_topic_id
,benefit_plan_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
)
values (
@additional_information_id
,@additional_information_topic_id
,@new_benefit_plan_id
,@additional_information_selection_value
,@additional_information_value
,@effective_from
,@effective_thru
,@comment
)

FETCH NEXT FROM benefit_plan_additional_information_cursor
INTO
@additional_information_id
,@additional_information_topic_id
,@additional_information_selection_value
,@additional_information_value
,@effective_from
,@effective_thru
,@comment
END

CLOSE benefit_plan_additional_information_cursor
DEALLOCATE benefit_plan_additional_information_cursor

--Duplicate Benefit Class Choice Resolution Grid Entries
DECLARE benefit_plan_benefit_class_choice_resolution_cursor CURSOR FOR
SELECT
bpbccr.benefit_coverage_rules_id
,bpbccr.benefit_framework_valid_choice_id
,bpbccr.effective_from
,bpbccr.effective_thru
FROM benefit_plan_benefit_class_choice_resolution bpbccr
inner join benefit_plan bp ON bp.benefit_plan_id = bpbccr.benefit_plan_id
WHERE bp.benefit_plan_id = @ID
AND (
(bpbccr.effective_from  <= @AsOfDate AND ISNULL(bpbccr.effective_thru,@AsOfDate) >= @AsOfDate)
OR
(bpbccr.effective_from  >= @AsOfDate AND ISNULL(bpbccr.effective_thru,@AsOfDate) >= @AsOfDate)

OR  (bpbccr.effective_from >= @AsOfDate))

OPEN benefit_plan_benefit_class_choice_resolution_cursor
FETCH NEXT FROM benefit_plan_benefit_class_choice_resolution_cursor
INTO
@benefit_coverage_rules_id
,@benefit_framework_valid_choice_id
,@effective_from
,@effective_thru

WHILE @@FETCH_STATUS = 0
BEGIN

SELECT @benefit_plan_benefit_class_choice_resolution_id = 0

--Save the duplicate benefit class choice resolutions.
insert into benefit_plan_benefit_class_choice_resolution(
benefit_plan_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
,effective_from
,effective_thru
)
values (
@new_benefit_plan_id
,@benefit_coverage_rules_id
,@benefit_framework_valid_choice_id
,@effective_from
,@effective_thru
)

FETCH NEXT FROM benefit_plan_benefit_class_choice_resolution_cursor
INTO
@benefit_coverage_rules_id
,@benefit_framework_valid_choice_id
,@effective_from
,@effective_thru
END

CLOSE benefit_plan_benefit_class_choice_resolution_cursor
DEALLOCATE benefit_plan_benefit_class_choice_resolution_cursor

--Duplicate Accumulator Class Choice Resolution Grid Entries
DECLARE benefit_plan_accumulator_class_choice_resolution_cursor CURSOR FOR
SELECT
bpaccr.accumulator_limit_rule_id
,bpaccr.accumulator_sub_limit_rule_id
,bpaccr.individual_accumulator_valid_choice_id
,bpaccr.family_accumulator_valid_choice_id
,bpaccr.effective_from
,bpaccr.effective_thru
FROM benefit_plan_accumulator_class_choice_resolution bpaccr
inner join benefit_plan bp ON bp.benefit_plan_id = bpaccr.benefit_plan_id
WHERE bp.benefit_plan_id = @ID
AND (
(bpaccr.effective_from  <= @AsOfDate AND ISNULL(bpaccr.effective_thru,@AsOfDate) >= @AsOfDate)
OR
(bpaccr.effective_from  >= @AsOfDate AND ISNULL(bpaccr.effective_thru,@AsOfDate) >= @AsOfDate)

OR  (bpaccr.effective_from >= @AsOfDate))

OPEN benefit_plan_accumulator_class_choice_resolution_cursor
FETCH NEXT FROM benefit_plan_accumulator_class_choice_resolution_cursor
INTO
@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@individual_accumulator_valid_choice_id
,@family_accumulator_valid_choice_id
,@effective_from
,@effective_thru

WHILE @@FETCH_STATUS = 0
BEGIN

SELECT @benefit_plan_accumulator_class_choice_resolution_id = 0

--Save the duplicate accumulator class choice resolutions.
insert into benefit_plan_accumulator_class_choice_resolution(
benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,effective_from
,effective_thru
)
values (
@new_benefit_plan_id
,@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@individual_accumulator_valid_choice_id
,@family_accumulator_valid_choice_id
,@effective_from
,@effective_thru
)

FETCH NEXT FROM benefit_plan_accumulator_class_choice_resolution_cursor
INTO
@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@individual_accumulator_valid_choice_id
,@family_accumulator_valid_choice_id
,@effective_from
,@effective_thru
END

CLOSE benefit_plan_accumulator_class_choice_resolution_cursor
DEALLOCATE benefit_plan_accumulator_class_choice_resolution_cursor

COMMIT TRANSACTION

END TRY
BEGIN CATCH

ROLLBACK TRANSACTION
DECLARE @error_msg as nvarchar(4000)
SELECT @error_msg = ERROR_MESSAGE()
RAISERROR(@error_msg, 16, 1)

END CATCH

RETURN ISNULL(@new_benefit_plan_id, 0)
GO
