USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Oct 29 2005 10:51AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
18/01/2006	Thuy Ha	1.0		change length of ud, nm, desc, created_user_name fields
03/03/2006	Trinh Le		1.1		use claim_form_type instead of claim_usage_type
2006/03/08	Thuy Ha	1.2		created_date and modified_date using DB Server date
04/13/2006  	HuyThan            1.3	 	Added functional_area_assignment_id
04/01/2009	lrenard		1.4	changed claim_processing_queue to adjudication_queue
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_adjudication_queue_save]
(
@adjudication_queue_id			int = NULL   OUTPUT
,@adjudication_queue_ud			nvarchar(50) = NULL
,@description				nvarchar(255) = NULL
,@schedule_form_id			int = NULL
,@claim_form_type_id             		int = NUll
,@provider_network_id			int = NULL
,@provider_identifier_id			int = NUll
,@client_id				int = NULL
,@client_group_id				int = NULL
,@benefit_contract_id			int = NUll
,@active				bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @adjudication_queue_id is Null or @adjudication_queue_id = 0
BEGIN
--- Create a new record
INSERT INTO adjudication_queue(
adjudication_queue_ud
,description
,schedule_form_id
,claim_form_type_id
,provider_network_id
,provider_identifier_id
,client_id
,client_group_id
,benefit_contract_id
,active
)
VALUES
(@adjudication_queue_ud
,@description
,@schedule_form_id
,@claim_form_type_id
,@provider_network_id
,@provider_identifier_id
,@client_id
,@client_group_id
,@benefit_contract_id
,@active
)
--
SET @adjudication_queue_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM adjudication_queue WHERE adjudication_queue_id = @adjudication_queue_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE adjudication_queue
SET
adjudication_queue_ud 	= @adjudication_queue_ud
,description 		= @description
,schedule_form_id 	= @schedule_form_id
,claim_form_type_id 	= @claim_form_type_id
,provider_network_id	= @provider_network_id
,provider_identifier_id		= @provider_identifier_id
,client_id		= @client_id
,client_group_id		= @client_group_id
,benefit_contract_id	= @benefit_contract_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE adjudication_queue_id = @adjudication_queue_id

END
--
RETURN @SP_SUCCESS
--
GO
