USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_procedure_duplicate]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 12/06/2009
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
12/06/2009		Vishwa Jella		1.0			Created
08/26/2011		Crystalyn Knobloch	1.1			Added in tooth_surface
02/02/2012		PAndersen			1.2			Fixed tooth_surface SP # 1329
11/07/2017		eponomareff			1.1			RT:11929 modified per cob schema changes.
1/8/2018		amortensen			1.3			RT:12550 modified to include units for dental claim procedures
--
--
REQUIREMENTS:
--
INPUTS:
@new_claim_id,
@claim_procedure_id,
@created_user_name

DESCRIPTION:
this procedure used to duplicate dental claim_procedure, claim_procedure_cob_amount
and claim_procedure_cob_adjustment table data

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dental_claim_procedure_duplicate]

(
@new_claim_id INT, -- new_claim_id
@claim_procedure_id INT -- current claim_procedure_id
) AS
--
SET NOCOUNT ON

DECLARE @systemDate date = getdate();

DECLARE
@new_claim_procedure_id INT

-- copy claim procedures
INSERT INTO claim_procedure(
claim_id
,procedure_code_id
,procedure_code_ud
,alternate_procedure_code_id
,alternate_procedure_code_ud
,diagnosis_code_ud
,diagnosis_sequence
,modifiers
,institutional_rate
,service_from_date
,service_thru_date
,place_of_service_id
,type_of_service_id
,units
,unit_type_dental_claim_id
,visits
,repricing_amount
,cob
,cob_amount
,add_cob_amount
,other_cob
,add_other_cob
,charge
,non_covered_charge
,relative_value_units
,early_periodic_screen
,[emergency]
,tooth_system_id
,tooth_number_letter_id
,area_of_oral_cavity_id
,original_line_amount
,local_use
,claim_line_sequence
,clean_date
,received_date
,original_source_gk
,active
)
SELECT
@new_claim_id
,procedure_code_id
,procedure_code_ud
,alternate_procedure_code_id
,alternate_procedure_code_ud
,diagnosis_code_ud
,diagnosis_sequence
,modifiers
,institutional_rate
,service_from_date
,service_thru_date
,place_of_service_id
,type_of_service_id
,units
,unit_type_dental_claim_id
,visits
,repricing_amount
,cob
,cob_amount
,add_cob_amount
,other_cob
,add_other_cob
,charge
,non_covered_charge
,relative_value_units
,early_periodic_screen
,[emergency]
,tooth_system_id
,tooth_number_letter_id
,area_of_oral_cavity_id
,original_line_amount
,local_use
,claim_line_sequence
,@systemDate			--clean_date
,@systemDate			--received_date
,original_source_gk
,active
FROM claim_procedure
WHERE	claim_procedure_id = @claim_procedure_id

---claim_procedure_tooth_surface record

SET @new_claim_procedure_id = SCOPE_IDENTITY()

--- Create a new claim_procedure_tooth_surface record
INSERT INTO claim_procedure_tooth_surface(
claim_procedure_id
,tooth_surface_id )
SELECT
@new_claim_procedure_id
,tooth_surface_id
FROM claim_procedure_tooth_surface
WHERE	claim_procedure_id = @claim_procedure_id

---end of claim_procedure_tooth_surface record

-- copy claim_procedure cob info
EXEC plx_claim_procedure_cob_info_duplicate @new_claim_procedure_id, @new_claim_id, @claim_procedure_id

RETURN 0
GO
