USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete capitation_member_roster object.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_member_roster_delete]
(
@capitation_member_roster_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   		int,
@ERROR_NOT_EXIST 	NVARCHAR(50),
@SP_EXCEPTION 		int
SELECT
@SP_SUCCESS 		= 0,
@SP_EXCEPTION 		= -1
--
IF NOT EXISTS (SELECT * FROM capitation_member_roster WHERE capitation_member_roster_id = @capitation_member_roster_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
--Check if this capitation_member_roster is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_capitation_member_roster_check_delete @capitation_member_roster_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

--Delete child tables
DELETE FROM capitation_member_roster_criteria
WHERE capitation_member_roster_id = @capitation_member_roster_id

--Delete
DELETE FROM capitation_member_roster
WHERE capitation_member_roster_id = @capitation_member_roster_id
END
--
RETURN @SP_SUCCESS
--
GO
