USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_data_area_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/28/2009	eponomareff	1.0		Created
09/12/2009  eponomareff 1.1      modified to filter by security_flag_option, as collaborator table is also
used to display data area Notes node, which does nto use security sets (flags)
--
DESCRIPTION:Load dropdown cboCategory for frmSecurityFlag

******************************/

CREATE    PROCEDURE [dbo].[plx_dd_security_data_area_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
security_data_area_id,
security_data_area_ud,
golden_key
FROM
security_data_area
WHERE ISNULL(security_flag_option, 0) = 1

RETURN @SP_SUCCESS
--
GO
