USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	hthan		1.0		Create
03/23/2015	hmillot				Cascade deletion added
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for agent on agent form
--
REQUIREMENTS:
--
INPUTS:
@agent_id - Key to agent table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*****************************************************************************************/
CREATE    PROCEDURE [dbo].[plx_agent_delete]
(
@agent_id                                   int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM agent WHERE agent_id = @agent_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
delete from agent_name where agent_id=@agent_id
delete from agent_additional_information where agent_id=@agent_id
delete from agent_agent_service_representative where agent_id=@agent_id
delete from agent_allowed_appointment where agent_id=@agent_id
delete from agent_branch where agent_id=@agent_id
delete from agent_brokerage where agent_id=@agent_id
delete from agent_brokerage where brokerage_agent_id=@agent_id
delete from agent_carrier_marketing_arm_limit where agent_id=@agent_id
delete from agent_commission_payment_status where agent_id=@agent_id
delete from agent_contact where agent_id=@agent_id
delete from agent_contract where agent_id=@agent_id
delete from agent_correspondence where agent_id=@agent_id
delete from agent_customer where agent_id=@agent_id
delete from agent_identifier where agent_id=@agent_id
delete from agent_identifier where brokerage_agent_id=@agent_id
delete from agent_liability_insurance where agent_id=@agent_id
delete from agent_license where agent_id=@agent_id
delete from agent_upline_agent where agent_id=@agent_id
delete from agent_vendor where agent_id=@agent_id

DELETE FROM agent
WHERE agent_id = @agent_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
