USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_advance_pb_detail_zoom_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 4/11/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/5/2016	eponomareff	1.1			RT:9792 Zoom now works when there is more than one plan
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load data for Advanced Eligibility Setup form on a zoom.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_advance_pb_detail_zoom_load]
(
@family_eligibility_member_benefit_plan_id INT = null
,@as_of_date DATETIME = NULL

)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT @BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID = bcpbp.benefit_contract_period_benefit_plan_id
FROM
family_eligibility_member_benefit_plan fembp
JOIN family_eligibility_member fem on
fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN family_eligibility fe on
fe.family_eligibility_id = fem.family_eligibility_id
JOIN benefit_contract bc on
fe.benefit_contract_id = bc.benefit_contract_id
JOIN benefit_contract_period bcp ON
bcp.benefit_contract_id = bc.benefit_contract_id
JOIN benefit_contract_period_benefit_plan bcpbp ON
bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
and bcpbp.benefit_plan_id = fembp.benefit_plan_id

WHERE
fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND
@as_of_date BETWEEN bcp.effective_from AND ISNULL(bcp.effective_thru, '12/31/9999')

EXEC plx_family_eligibility_member_benefit_plan_advance_load @family_eligibility_member_benefit_plan_id, @BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN_ID

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
