USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_vendor_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Aug  2 2006  3:51PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage vendor grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_brokerage_vendor_list_load]
(
@brokerage_id  INT = NULL
)
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
agent_vendor.agent_vendor_id
-- State
,agent_vendor.state_id
-- Carrier
,agent_vendor.carrier_id
,carrier.carrier_ud
-- Benefit Contract Template
,agent_vendor.benefit_contract_id
,benefit_contract.benefit_contract_ud
-- Criteria
,agent_vendor.criteria_id
,criteria.criteria_ud
-- Vendor
,agent_vendor.vendor_id
,vendor.vendor_ud
-- Effective Dates
,agent_vendor.effective_from as effective_from
,agent_vendor.effective_thru as effective_thru

FROM agent_vendor
--      inner join agent  ON agent.agent_id = agent_vendor.agent_id
INNER JOIN vendor  ON vendor.vendor_id = agent_vendor.vendor_id
LEFT JOIN state  ON state.state_id = agent_vendor.state_id
LEFT JOIN carrier  ON carrier.carrier_id = agent_vendor.carrier_id
LEFT JOIN benefit_contract  ON benefit_contract.benefit_contract_id = agent_vendor.benefit_contract_id
LEFT JOIN criteria  ON criteria.criteria_id = agent_vendor.criteria_id

WHERE agent_vendor.agent_id = @brokerage_id

ORDER BY datediff(day, agent_vendor.effective_thru, getdate()) ASC,
state.state_ud ASC,
carrier.carrier_ud ASC
--

RETURN @SP_SUCCESS
GO
