USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_usage_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Sep 10 2005 11:00AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/07/2005       Anh Ta         1.0             Use for claim type dropdown list (ICU # 10505)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_usage_type (Claim Usage Type)
--
REQUIREMENTS:
--
INPUTS:
usage_type_id - Key to usage_type table, identifies a single stored dd_usage_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_claim_usage_type_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_usage_type.claim_usage_type_id
,claim_usage_type.claim_usage_type_ud
,claim_usage_type.golden_key
FROM claim_usage_type
ORDER BY claim_usage_type.claim_usage_type_ud


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
