USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_treatment_type_set_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: maitran
Date: 09/19/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/19/2005   maitran     1.0         created


CURRENT_VERSION: 1.0
--
DESCRIPTION:
load data for grid  Allowed Treatment Type Sets of benefit framework

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_treatment_type_set_list_load]
(
@benefit_framework_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
benefit_framework_treatment_type_set.benefit_framework_treatment_type_set_id
,benefit_framework_treatment_type_set.benefit_framework_id

,benefit_framework.benefit_framework_ud
,benefit_framework_treatment_type_set.treatment_type_set_id
,benefit_framework_treatment_type_set.treatment_type_set_id as original_treatment_type_set_id


,treatment_type_set.treatment_type_set_ud
,treatment_type_set.treatment_type_set_nm
,benefit_framework_treatment_type_set.effective_from
,benefit_framework_treatment_type_set.effective_thru
,benefit_framework_treatment_type_set.modified_date
FROM benefit_framework_treatment_type_set
left join benefit_framework  ON benefit_framework.benefit_framework_id = benefit_framework_treatment_type_set.benefit_framework_id
left join treatment_type_set  ON treatment_type_set.treatment_type_set_id = benefit_framework_treatment_type_set.treatment_type_set_id
WHERE benefit_framework_treatment_type_set.benefit_framework_id = @benefit_framework_id

--ORDER BY CASE WHEN benefit_framework_treatment_type_set.effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
ORDER BY
CASE WHEN benefit_framework_treatment_type_set.effective_from IS NULL THEN 0 ELSE 1 END , benefit_framework_treatment_type_set.effective_from DESC
,CASE WHEN benefit_framework_treatment_type_set.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_framework_treatment_type_set.effective_thru DESC




--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
