USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_modifier_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
--
REVISION_HISTORY:

Date		Modified By		Version		Description
------------------------------------------------------------------------------------
08/09/2011	dcannon			1.0			initial creation
10/03/2011	ggutshall		1.1			Altered to accept option modifier_ud peram
------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'modifier' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
Create PROCEDURE [dbo].[plx_dd_modifier_load]
(
@modifier_ud nvarchar(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
modifier_id,
modifier_ud,
description,
golden_key,
gsu
FROM
modifier
WHERE
@modifier_ud IS NULL
OR @modifier_ud = modifier_ud
ORDER BY
modifier_ud
--
RETURN @SP_SUCCESS
--
END
GO
