USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: vjella
Date: 09/19/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/19/2008	Vishwa Jella	1.0		18152.b Initial Creation
10/14/2008	Vishwa Jella	2.0		updated with payment amount
11/06/2008	Vishwa Jella	3.0		updated to show Check number based on payment status = paid or voided
10/17/2018	John Chapman    4.0     updated to show ACH integration file name

CURRENT_VERSION: 4.0
--
DESCRIPTION:
Load details in header section for payment
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_load]
(
@accounting_transaction_ap_id	Int=null
)
AS
--
--

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_transaction_ap_payment_detail.accounting_transaction_ap_payment_detail_id
,accounting_transaction_ap.accounting_transaction_ap_id as accounting_transaction_ap_id -- payment_id
,accounting_transaction_ap.accounting_transaction_ap_ud --as 'payment_ud'
,accounting_transaction_ap.vendor_id
,accounting_transaction_ap.accounting_transaction_ap_type_id
,ISNULL(accounting_transaction_ap.transaction_amount,0) as payment_amount --Payment Amount
,vendor.vendor_ud
,accounting_transaction_ap_payment_detail.payment_method_payment_id
,pmp.payment_method_payment_ud
,accounting_transaction_ap.accounting_company_id
,ac.accounting_company_ud
,accounting_transaction_ap_payment_detail.bank_account_id
,ba.bank_account_ud
, CASE WHEN (accounting_payment_status.golden_key = 'PAID' OR accounting_payment_status.golden_key = 'VOIDED')
THEN accounting_transaction_ap_payment_detail.check_ach_reference
ELSE null END As check_ach_reference
, CASE WHEN (accounting_payment_status.golden_key = 'PAID' OR accounting_payment_status.golden_key = 'VOIDED')
THEN accounting_transaction_ap_payment_detail.check_date
ELSE null END As check_date
,CASE WHEN (accounting_payment_status.golden_key = 'PAID' OR accounting_payment_status.golden_key = 'VOIDED')
AND (ifs.golden_key = 'File Generated')
AND (pmp.golden_key = 'ACH')
THEN RTRIM(LTRIM(efr.file_path)) + '\' + RTRIM(LTRIM(efr.filename))
ELSE null END As export_file_name

,accounting_transaction_ap_payment_detail.accounting_payment_status_id
,accounting_payment_status.accounting_payment_status_ud
,accounting_payment_status.golden_key As 'accounting_payment_status_golden_key'
,accounting_transaction_ap_payment_detail.accounting_payment_source_id
,accounting_payment_source.accounting_payment_source_ud
,accounting_payment_source.golden_key As 'accounting_payment_source_golden_key'
,accounting_transaction_ap.modified_date


FROM accounting_transaction_ap
INNER JOIN accounting_transaction_ap_payment_detail
on accounting_transaction_ap.accounting_transaction_ap_id = accounting_transaction_ap_payment_detail.accounting_transaction_ap_id
LEFT JOIN	payment_method_payment As pmp
ON accounting_transaction_ap_payment_detail.payment_method_payment_id = pmp.payment_method_payment_id
LEFT JOIN	bank_account As ba
ON accounting_transaction_ap_payment_detail.bank_account_id = ba.bank_account_id
LEFT JOIN	accounting_payment_status
ON accounting_transaction_ap_payment_detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id
LEFT JOIN	accounting_payment_source
ON accounting_transaction_ap_payment_detail.accounting_payment_source_id = accounting_payment_source.accounting_payment_source_id
LEFT JOIN	export_file_run efr
ON accounting_transaction_ap_payment_detail.export_file_run_id  = efr.export_file_run_id
LEFT JOIN	integration_file_status ifs
ON efr.integration_file_status_id = ifs.integration_file_status_id
LEFT JOIN	vendor
ON accounting_transaction_ap.vendor_id = vendor.vendor_id
LEFT JOIN	accounting_company As ac
ON accounting_transaction_ap.accounting_company_id = ac.accounting_company_id
WHERE     (accounting_transaction_ap.accounting_transaction_ap_id = @accounting_transaction_ap_id)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
