USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_batch_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 03/13/2009
--
REVISION_HISTORY:
--
Date        Modified By      Version Description
--------------------------------------------------------------------------------
03/13/2009  Wade Christensen 1.0     Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check for transaction can be deleted or not.

Delete Condition :	When Transaction is Manual, and does not exist in any Invoices,
then we can delete it.
Can't delete transactions created by any process.

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_batch_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0
IF NOT EXISTS
(SELECT * FROM accounting_transaction_ar_payment_batch
WHERE accounting_transaction_ar_payment_batch_id = @id )
BEGIN
RETURN @SP_DELETE_ABLE
END


-- if the batch is not in entered state, the batch must not be deleted, therefore return SP_EXCEPTION
IF EXISTS
(SELECT * FROM
accounting_transaction_ar_payment_batch atapb
JOIN
accounting_transaction_ar_payment_batch_status atapbs
ON atapb.accounting_transaction_ar_payment_batch_status_id = atapbs.accounting_transaction_ar_payment_batch_status_id
WHERE
accounting_transaction_ar_payment_batch_id = @id
AND
atapbs.golden_key <> 'ENTERED'
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
-- Additionally, in case a process has not changed the status, but applied a payment, we should also not delete the batch
IF EXISTS (SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch
WHERE accounting_transaction_ar_payment_batch_id = @id)
BEGIN
RETURN @SP_DELETE_UNABLE
END

RETURN @SP_DELETE_ABLE
GO
