USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_category_and_sub_category_by_benefit_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Sep  1 2005 11:20AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2005	Hiep Nguyen		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load benefit category and sub category for Benefit Framework form
--
REQUIREMENTS:
--
INPUTS:
benefit_framework_id - Key to benefit_framework table, identifies a single stored plx_benefit_category_by_benefit_framework_load.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_category_and_sub_category_by_benefit_framework_load]
(
@benefit_framework_id Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_category.benefit_category_id
,benefit_category.benefit_category_ud
,benefit_sub_category.benefit_sub_category_id
,benefit_sub_category.benefit_sub_category_ud

FROM benefit_framework
INNER join benefit_category  ON benefit_category.benefit_category_id = benefit_framework.benefit_category_id
INNER join benefit_sub_category  ON benefit_sub_category.benefit_sub_category_id = benefit_framework.benefit_sub_category_id
WHERE benefit_framework.benefit_framework_id = @benefit_framework_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
