USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_stage_zero_no_benefit_lines_for_claims_in_run]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- For all claims in the staging table:
-- Get any ready lines (i.e. adjudicated, etc.)
-- that have no benefits and a zero payment amount that are not already in the staging table.
CREATE PROCEDURE [dbo].[plx_claim_payment_process_stage_zero_no_benefit_lines_for_claims_in_run]
AS
DECLARE
@adjStatusApproved INT,
@adjStatusDenied INT,
@processStatusAvailable INT,
@claimTypePredetermination INT,
@claimConcurrencyLockType INT

SELECT @adjStatusApproved = adjudication_status_id FROM adjudication_status WHERE golden_key = 'APPROVED';
SELECT @adjStatusDenied = adjudication_status_id FROM adjudication_status WHERE golden_key = 'DENY';
SELECT @processStatusAvailable = claim_payment_process_status_id FROM claim_payment_process_status WHERE golden_key = 'AVAILABLE';
SELECT @claimTypePredetermination = claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination';
SELECT @claimConcurrencyLockType = concurrency_lock_type_id FROM concurrency_lock_type WHERE golden_key = 'CLAIM';

DECLARE @vendors TABLE (vendor_id INT)
INSERT INTO @vendors
SELECT DISTINCT (vendor_id) FROM claim_payment_processing_work_table


DECLARE @claim_payment_queue_vendor_count INT
SET @claim_payment_queue_vendor_count =
(SELECT COUNT(*) FROM @vendors)


INSERT INTO claim_payment_processing_work_table (
claim_procedure_id,
claim_procedure_adjudication_status_id,
claim_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
is_same_claim_zero_no_benefits
)
(
SELECT
cp.claim_procedure_id,
cp.adjudication_status_id,
c.claim_id,
ISNULL(ark.plan_iteration_index, 1),
ark.vendor_id,
ark.member_vendor_id,
1
FROM
claim c
INNER JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
LEFT JOIN adjudication_result_key ark
ON cp.claim_procedure_id = ark.claim_procedure_id
WHERE
c.claim_form_type_id <> @claimTypePredetermination
-- Claim status.
AND c.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Claim procedure status.
AND cp.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Not being held
AND ISNULL(cp.hold, 0) = 0
-- Not already in accounting.
AND (c.claim_payment_process_status_id = @processStatusAvailable OR c.claim_payment_process_status_id IS NULL)
AND (cp.claim_payment_process_status_id = @processStatusAvailable OR cp.claim_payment_process_status_id IS NULL)
-- Not being edited.
AND NOT EXISTS (SELECT 1 FROM concurrency_lock cl WHERE cl.concurrency_lock_type_id = @claimConcurrencyLockType AND record_id = c.claim_id)
-- Not in another run.
AND cp.claim_payment_run_id IS NULL
-- Only include base plans. Supp plans are handled by a different stored procedure.
AND ark.plan_iteration_index = 1
AND
-- Match on vendor if all vendor rows have criteria
(
@claim_payment_queue_vendor_count = 0
OR
(
ark.vendor_id IN (SELECT vendor_id FROM @vendors)
OR
ark.member_vendor_id IN (SELECT vendor_id FROM @vendors)
)
)
AND
-- only for no benefit claims
ark.family_eligibility_member_benefit_plan_id IS NULL
AND
-- only for claim lines not already in the work table
NOT EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_procedure_id = cp.claim_procedure_id)
AND
-- And only for claims already in the work table
EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_id = cp.claim_id)

)
GO
