USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_choice_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran		1.1		FS changed
--------------------------------------------------------------------------------
12/05/2005      HungTNguyen     1.2             Build 103 table BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN field changed [pay_claim_to_id]=>[pay_claim_to_id]
02/13/2006      HungTNguyen     1.2             Build changed pre_existing_condition_rule_id to pre_existing_condition_rule_set_id
03/02/2006      HungTNguyen     1.2             Build changed visit_definition_rule_id to visit_definition_id
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Load for Plan Choices Panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_choice_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
SELECT
bcpbp.benefit_contract_period_benefit_plan_id

FROM benefit_contract_period_benefit_plan bcpbp
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
