USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_detail_ar_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load transaction info for Accounting Transaction Details AR form.
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_detail_ar_load]
(
@accounting_transaction_id		int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
,@UNAPPLIED_AMOUNT numeric(20,10)
,@APPLIED_AMOUNT numeric(20,10)

SELECT
@SP_SUCCESS = 0
,@UNAPPLIED_AMOUNT = 0.0
,@APPLIED_AMOUNT = 0.0

SELECT DISTINCT
ata.accounting_transaction_ar_id as accounting_transaction_id
,ata.accounting_transaction_ar_ud as accounting_transaction_ud

,ata.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_ar_transaction(@accounting_transaction_id,0) as unapplied_amount
,ata.accounting_source_id
,ata.treat_as_accounting_source_id
,treat_as_acc_source.golden_key as treat_as_acc_source_golden_key
,acc_source.golden_key as accounting_source_golden_key
-- detail could be a premium, premium fee, or an eligibility rate
,COALESCE(atapd.premium_id, atapfd.premium_fee_id, ataepd.eligibility_premium_id) as premium_id

,ac.accounting_company_id as accounting_company_id
,ac.accounting_company_ud as accounting_company_ud

--associations
,cn.client_id
,cn.client_ud

,gn.client_group_id
,gn.client_group_ud

,bc.benefit_contract_id
,bc.benefit_contract_ud

,bp.benefit_plan_id
,bp.benefit_plan_ud

,fe.family_eligibility_id
,fe.family_eligibility_ud

,pp.effective_from AS premium_period_from
,pp.effective_thru AS premium_period_thru

-- reinsurance associations
,reinsurance_info.reinsurance_contract_id
,reinsurance_info.reinsurance_contract_ud
,reinsurance_policy_period =
CONVERT(NVARCHAR(50), reinsurance_info.reinsurance_eff_from, 101)
+ ' - ' +
CONVERT(NVARCHAR(50), reinsurance_info.reinsurance_eff_thru, 101)
,mn.member_id
,dbo.plx_ConcatenateName_First_Middle_Last_With_Limit(mn.name_first, mn.name_middle, mn.name_last, 100) as member_name
,c.claim_id
,c.claim_ud
,cp.claim_procedure_id
,cp.claim_line_sequence

-- Fee details
,cft.client_fee_type_id
,cft.client_fee_type_ud
,cfsaf.description AS fee_description


FROM accounting_transaction_ar ata
LEFT JOIN accounting_company ac
ON ac.accounting_company_id = ata.accounting_company_id
LEFT JOIN client_name cn
ON cn.client_id = ata.client_id
LEFT JOIN client_group_name gn
ON gn.client_group_id = ata.client_group_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = ata.benefit_contract_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = ata.benefit_plan_id
LEFT JOIN family_eligibility fe
ON fe.family_eligibility_id = ata.family_eligibility_id
LEFT JOIN accounting_transaction_ar_premium_detail atapd
ON atapd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN accounting_transaction_ar_premium_fee_detail atapfd
ON atapfd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN accounting_transaction_ar_eligibility_premium_detail ataepd
ON ataepd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN premium_period pp
ON pp.premium_period_id = COALESCE(atapfd.premium_period_id, atapd.premium_period_id, ataepd.premium_period_id)
LEFT JOIN accounting_transaction_ar_fee_detail atafd
ON atafd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN client_fee_setup_ar_fee cfsaf
ON cfsaf.client_fee_setup_ar_fee_id = atafd.client_fee_setup_ar_fee_id
LEFT JOIN client_fee_type cft
ON cft.client_fee_type_id = cfsaf.client_fee_type_id
LEFT JOIN accounting_source treat_as_acc_source
ON treat_as_acc_source.accounting_source_id = ata.treat_as_accounting_source_id
LEFT JOIN accounting_source acc_source
ON acc_source.accounting_source_id = ata.accounting_source_id
-- reinsurance details
LEFT JOIN accounting_transaction_ar_reinsurance_detail atard
ON ata.accounting_transaction_ar_id = atard.accounting_transaction_ar_id
LEFT JOIN
(SELECT
rc.reinsurance_contract_id
,rc.reinsurance_contract_ud
,COALESCE(rcp_spec.effective_from, rcp_agg.effective_from) AS reinsurance_eff_from
,COALESCE(rcp_spec.effective_thru, rcp_agg.effective_thru) AS reinsurance_eff_thru
FROM reinsurance_contract rc
LEFT JOIN reinsurance_contract_specific rc_spec
ON rc.reinsurance_contract_specific_id = rc_spec.reinsurance_contract_specific_id
LEFT JOIN reinsurance_contract_policy rcp_spec
ON rc_spec.reinsurance_contract_policy_id = rcp_spec.reinsurance_contract_policy_id
LEFT JOIN reinsurance_contract_aggregate rc_agg
ON rc.reinsurance_contract_aggregate_id = rc_agg.reinsurance_contract_aggregate_id
LEFT JOIN reinsurance_contract_policy rcp_agg
ON rc_agg.reinsurance_contract_policy_id = rcp_agg.reinsurance_contract_policy_id
) reinsurance_info
ON atard.reinsurance_contract_id = reinsurance_info.reinsurance_contract_id
LEFT JOIN family_eligibility_member fem
ON atard.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN member_name mn
ON fem.member_id = mn.member_id AND mn.is_primary = 1
LEFT JOIN claim c
ON atard.claim_id = c.claim_id
LEFT JOIN claim_procedure cp
ON atard.claim_procedure_id = cp.claim_procedure_id

WHERE ata.accounting_transaction_ar_id = @accounting_transaction_id
--
RETURN @SP_SUCCESS
--
GO
