USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_customer_vendor_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:  HungTNguyen

Aug 18 2005  8:44PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/11/2006      HungTNguyen       1.1           change ortder by from name to ud as bug 4951
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down customer_vendor_type (Account Vendor Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_dd_customer_vendor_type_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
customer_vendor_type.customer_vendor_type_id
,customer_vendor_type.customer_vendor_type_ud
,customer_vendor_type.customer_vendor_type_nm

FROM customer_vendor_type
ORDER BY customer_vendor_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
