USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 04/23/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
04/23/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Deletes Customer Payment when not applied
--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_ar_id  - Key identifies a single record stored as payment.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_delete]
(
@accounting_transaction_ar_id             int = NULL OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (
SELECT *
FROM accounting_transaction_ar ata
INNER JOIN accounting_transaction_ar_payment_detail atapd
ON atapd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE ata.accounting_transaction_ar_id = @accounting_transaction_ar_id)

RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this payment can be deleted (not applied to any invoices)
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_accounting_transaction_ar_payment_detail_check_delete @accounting_transaction_ar_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete accounting_transaction_ar_payment_detail
DELETE FROM accounting_transaction_ar_payment_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar_distribution
DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END

RETURN @SP_SUCCESS
GO
