USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_object_show_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Nov  7 2006  9:38AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the adjudication_object_show table.
--
REQUIREMENTS:
--
INPUTS:
adjudication_object_show_id - Key to adjudication_object_show table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_adjudication_object_show_load]
(
@claim_form_type_id			Int = null
,@workgroup_role_uid			Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
adjudication_object_show.adjudication_object_show_id

,adjudication_object_show.claim_form_type_id
,claim_form_type.claim_form_type_ud

,adjudication_object_show.workgroup_role_uid

--      ,adjudication_object_show.adjudication_object_id
--      ,adjudication_object.adjudication_object_ud

--      ,adjudication_object_show.order_to_show
FROM adjudication_object_show
LEFT JOIN claim_form_type  ON adjudication_object_show.claim_form_type_id = claim_form_type.claim_form_type_id
--      LEFT JOIN adjudication_object  ON adjudication_object_show.adjudication_object_id = adjudication_object.adjudication_object_id
WHERE adjudication_object_show.claim_form_type_id = @claim_form_type_id
AND ((@workgroup_role_uid IS NULL) OR (adjudication_object_show.workgroup_role_uid= @workgroup_role_uid))

--
RETURN @SP_SUCCESS
GO
