USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_detail_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 04/29/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is to delete a record of financial responsibility schedule detail.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_financial_responsibility_schedule_detail_delete]
(
@financial_responsibility_schedule_detail_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM financial_responsibility_schedule_detail WHERE financial_responsibility_schedule_detail_id = @financial_responsibility_schedule_detail_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM financial_responsibility_schedule_detail
WHERE financial_responsibility_schedule_detail_id = @financial_responsibility_schedule_detail_id
END
--
RETURN @SP_SUCCESS
--
GO
