USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_valid_choice_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tmle
DATE: Nov/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/03	Thuy Ha				Change checked rule related to Benefit Contract Choice List resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in valid choice  table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@accumulator_valid_choice_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accumulator_valid_choice_check_delete]
(
@accumulator_valid_choice_id		int = NULL
--@output int OUTPUT
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1

IF NOT EXISTS (	SELECT 	 accumulator_valid_choice_id
FROM 	accumulator_valid_choice
WHERE accumulator_valid_choice_id=@accumulator_valid_choice_id )
BEGIN
SET  @FINAL_RESULT = @SP_EXCEPTION
END
--
ELSE
BEGIN
SET @FINAL_RESULT=@SP_DELETE_ABLE

IF EXISTS (
SELECT 	individual_accumulator_valid_choice_id,
family_accumulator_valid_choice_id
FROM	family_eligibility_accumulator_choice_list_resolution
WHERE 	individual_accumulator_valid_choice_id
= @accumulator_valid_choice_id  or   family_accumulator_valid_choice_id=@accumulator_valid_choice_id
)
BEGIN
SET @FINAL_RESULT = @SP_DELETE_UNABLE
RETURN @FINAL_RESULT
END


--IF EXISTS (
--	SELECT 	benefit_framework_valid_choice_id
--	FROM	family_eligibility_benefit_class_choice_list_resolution
--	WHERE 	benefit_framework_valid_choice_id
--		= @accumulator_valid_choice_id
--		)
--	BEGIN
--		SET @FINAL_RESULT = @SP_DELETE_UNABLE
--		RETURN @FINAL_RESULT
--	END
IF  EXISTS (
SELECT	1 FROM benefit_contract_accumulator_class_choice_resolution
WHERE 	individual_accumulator_valid_choice_id = @accumulator_valid_choice_id
OR	family_accumulator_valid_choice_id = @accumulator_valid_choice_id
)
BEGIN
SET @FINAL_RESULT = @SP_DELETE_UNABLE
RETURN @FINAL_RESULT
END
--Trinh Le added check on benefit_plan_accumulator_class_choice_resolution table
IF  EXISTS (
SELECT 	individual_accumulator_valid_choice_id
FROM	benefit_plan_accumulator_class_choice_resolution
WHERE 	individual_accumulator_valid_choice_id
= @accumulator_valid_choice_id
)
BEGIN
SET @FINAL_RESULT = @SP_DELETE_UNABLE
RETURN @FINAL_RESULT
END
IF  EXISTS (
SELECT 	family_accumulator_valid_choice_id
FROM	benefit_plan_accumulator_class_choice_resolution
WHERE 	family_accumulator_valid_choice_id
= @accumulator_valid_choice_id
)
BEGIN
SET @FINAL_RESULT = @SP_DELETE_UNABLE
RETURN @FINAL_RESULT
END



END

RETURN @FINAL_RESULT
END
GO
