USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_check_findform]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: HuyThan
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/21/2006	HuyThan			1.0			Created
08/25/2011	ggutshall		1.1			Altered to include @strMod in the
concatenated SQL string
--------------------------------------------------------------------------------
CURRENT_VERSION	: 1.1
;
DESCRIPTION	:
This procedure is used to check find validation rule for some special table (member_name, client_group_name, client_name...)
On criteria form
;
REQUIREMENTS	:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE       procedure [dbo].[plx_criteria_ui_check_findform]
(		@table_name 		varchar(100) ,
@displayed_field	varchar(100) ,
@stored_field 		varchar(100) ,
@displayed_value 	nvarchar(100) = null,
@stored_value 		nvarchar(100) = null,
@find_form_name	nvarchar(100) = null
)
as
begin
set nocount on
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@strSQL nvarchar(2000)	,
@strMod nvarchar(1000)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SET @strMod = ' '

--For specific table name
IF @table_name = 'member_name'
SET @strMod = ' AND member_name.is_primary = 1 '


IF @table_name = 'client_group_name'
SET @strMod = ' AND client_group_name.primary_name = 1 '


IF @table_name = 'client_name'
SET @strMod = ' AND client_name.primary_name = 1 '


IF @table_name = 'benefit_contract'
BEGIN
IF @find_form_name = 'frmFindBenefitContractTemplate'
SET @strMod = ' AND benefit_contract.benefit_contract_template = 1 '


IF @find_form_name = 'frmFindBenefitContract'
SET @strMod = ' AND benefit_contract.benefit_contract_template = 0 '

END

--End hardcode for specific table name

SET  @strSQL = 'SELECT '+  @table_name + '.' + @displayed_field + ',' +  @table_name + '.' + @stored_field
SET  @strSQL = @strSQL  + ' FROM  ' + @table_name
SET  @strSQL = @strSQL  + ' WHERE 1 = 1 '
IF isnull(@displayed_value,'') <> ''
SET  @strSQL = @strSQL  + ' AND   ' + @table_name + '.' + @displayed_field + ' =N''' +dbo.plx_EncodeString(@displayed_value) + ''' '
IF isnull(@stored_value,'') <> '' and @stored_value <> '0'
SET  @strSQL = @strSQL  + ' AND   ' + @table_name + '.' + @stored_field    + ' =' + CONVERT (nvarchar,@stored_value,101) + ' '
SET @strSQL = @strSQL + @strMod
print @strSQL

EXEC (@strSQL)
if @@rowcount >= 1
return @SP_SUCCESS
else
return @SP_EXCEPTION
end
GO
