USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_diagnosis_code_group_is_code_included]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

Create Procedure [dbo].[plx_dto_diagnosis_code_group_is_code_included] (
@diagnosis_code_group_id int,
@dx_code nvarchar(50),
@dx_icd_version int,
@date_of_service datetime
) As

-- Check for exclusions first. If exlucded, doesn't matter if included also.
if exists (
select
*
from
diagnosis_code_group dcg
Inner Join diagnosis_code_group_diagnosis_code dcgdc
on dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
Inner Join diagnosis_code dcbegin
on dcgdc.beginning_diagnosis_code_id = dcbegin.diagnosis_code_id
Inner Join diagnosis_code dcend
on dcgdc.ending_diagnosis_code_id = dcend.diagnosis_code_id
Where
dcg.diagnosis_code_group_id = @diagnosis_code_group_id
And dcgdc.diagnosis_code_version_id = @dx_icd_version
And dcgdc.is_excluded = 1
And @date_of_service between dcgdc.effective_from And IsNull(dcgdc.effective_thru, '12/31/3000')
And @dx_code between dcbegin.diagnosis_code_ud And dcend.diagnosis_code_ud
)
return 0

-- Check for inclusion.
if exists (
select
*
from
diagnosis_code_group dcg
Inner Join diagnosis_code_group_diagnosis_code dcgdc
on dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
Inner Join diagnosis_code dcbegin
on dcgdc.beginning_diagnosis_code_id = dcbegin.diagnosis_code_id
Inner Join diagnosis_code dcend
on dcgdc.ending_diagnosis_code_id = dcend.diagnosis_code_id
Where
dcg.diagnosis_code_group_id = @diagnosis_code_group_id
And dcgdc.diagnosis_code_version_id = @dx_icd_version
And dcgdc.is_excluded = 0
And @date_of_service between dcgdc.effective_from And IsNull(dcgdc.effective_thru, '12/31/3000')
And @dx_code between dcbegin.diagnosis_code_ud And dcend.diagnosis_code_ud
)
return 1

-- Wasn't excluded, but also wasn't included.
return 0
GO
