USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_panel_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/30/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/18/2006	Hiep Nguyen 	1.1		Converted null value to 0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
1. Load data for pnlRelationshipRestrictions panel on Eligibility Restriction form
2. Load data for pnlBenefitCategory panel on Eligibility Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_panel_load]
(
@benefit_waiting_period_relationship_to_subscriber_id 		Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_waiting_period_id,
benefit_waiting_period_relationship_to_subscriber_id

FROM benefit_waiting_period_relationship_to_subscriber

WHERE benefit_waiting_period_relationship_to_subscriber_id  = @benefit_waiting_period_relationship_to_subscriber_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
