USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_capitation_payment_get_active_payments]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_capitation_payment_get_active_payments]

AS

SET NOCOUNT ON;

-- The disbursement service uses an in-process status on payments while it is working over all of the transactions in batches.
-- If the service stops, either for a time limit, or a fatal error such as network timeouts or coding errors, these payments
-- will be left in the 'IN_DISBURSEMENT' status.  This is intended; the service uses this status to pull payments in this state
-- so that it can continue adding transactions to the payments next time the service runs.
--
-- This stored procedure pulls all of the in-process payments that belong to the queue being processed.

DECLARE
@inDisbursementStatusId INT,
@paymentSourceCapitationPaymentId INT;

SELECT @inDisbursementStatusId = accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'IN_DISBURSEMENT';
SELECT @paymentSourceCapitationPaymentId = accounting_payment_source_id FROM accounting_payment_source WHERE golden_key = 'Capitation';


DECLARE @details TABLE
(
accounting_transaction_ap_payment_detail_id INT NOT NULL,
accounting_transaction_ap_id INT NULL,
accounting_payment_status_id INT NULL,
accounting_payment_source_id INT NULL,
bank_account_id INT NOT NULL,
payment_method_payment_id INT NULL
);

-- Find all of the payment detail records.  Stuffed into a temp table because there
-- are multiple unique result sets based off the list of payments expected by the service.
INSERT INTO @details (
accounting_transaction_ap_payment_detail_id,
accounting_transaction_ap_id,
accounting_payment_status_id,
accounting_payment_source_id,
bank_account_id,
payment_method_payment_id
)
SELECT
pd.accounting_transaction_ap_payment_detail_id,
pd.accounting_transaction_ap_id,
pd.accounting_payment_status_id,
pd.accounting_payment_source_id,
pd.bank_account_id,
pd.payment_method_payment_id
FROM
accounting_transaction_ap_payment_detail pd
WHERE
pd.accounting_payment_status_id = @inDisbursementStatusId
AND pd.accounting_payment_source_id = @paymentSourceCapitationPaymentId

-- Parent transaction for the payment record.
SELECT
atap.accounting_transaction_ap_id,
atap.accounting_transaction_ap_ud,
atap.accounting_source_id,
atap.accounting_source_record_id,
atap.accounting_transaction_status_id,
atap.accounting_transaction_ap_type_id,
atap.transaction_date,
atap.transaction_amount,
atap.vendor_id,
atap.accounting_company_id
FROM
@details d
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = d.accounting_transaction_ap_id;

-- Payment detail records.
SELECT
accounting_transaction_ap_payment_detail_id,
accounting_transaction_ap_id,
accounting_payment_status_id,
accounting_payment_source_id,
bank_account_id,
payment_method_payment_id
FROM
@details;

-- Distributions for the payments.
SELECT
dist.accounting_transaction_ap_distribution_id,
dist.accounting_transaction_ap_id,
dist.accounting_company_account_id,
dist.is_debit,
dist.amount
FROM
@details d
INNER JOIN accounting_transaction_ap_distribution dist
ON dist.accounting_transaction_ap_id = d.accounting_transaction_ap_id;
GO
