USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_note_subject_load_security_setup]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used on the EditRole form to set up security for Notes,
in the grid grdNotePermission.

It is simlar to [dbo].[plx_dd_note_subject_load], except that there is no
security checks (as this is a security setup form).

*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_dd_note_subject_load_security_setup]
(
@note_category_id       INT = 0
)
AS
BEGIN
SET NOCOUNT ON
--

SELECT
note_subject_id
,note_subject_ud
FROM note_subject
WHERE note_category_id = ISNULL(@note_category_id, 0)
ORDER BY note_subject_ud

RETURN 0
END
GO
