USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_benefit_waiting_period_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the eligibility restrictions that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_benefit_waiting_period_load]
(
@get_column_headers			BIT = 0,
@benefit_waiting_period_ud nvarchar(50)=null,
@benefit_waiting_period_nm nvarchar(100)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = 'LIKE N'''
SET @suffix = '%'')'
END


IF @benefit_waiting_period_ud IS NOT NULL AND @benefit_waiting_period_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(benefit_waiting_period_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@benefit_waiting_period_ud, @show_exact_matches) + @Suffix
IF @benefit_waiting_period_nm IS NOT NULL AND @benefit_waiting_period_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(benefit_waiting_period_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@benefit_waiting_period_nm, @show_exact_matches) + @Suffix
/*
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeString(@description) + @Suffix

*/
SET @SqlQuery =
'		SELECT  benefit_waiting_period_id
,benefit_waiting_period_ud
,benefit_waiting_period_nm
--,'''' as description
FROM 	benefit_waiting_period
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
