USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_check_findform_patient_name_combobox]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/15/2005	HuyThan	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check validation rule on patient name control on claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_check_findform_patient_name_combobox]
(
@patient_eligibility_id int  = null,
@patient_name_field  nvarchar(100) = null,
@patient_name_string nvarchar(100) = null
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ''

IF @patient_eligibility_id IS NOT NULL AND @patient_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = ' +  dbo.plx_EncodeString(@patient_eligibility_id)

IF @patient_name_field IS NOT NULL AND @patient_name_string IS NOT NULL AND @patient_name_string <> ''
SET @SqlCondition = @SqlCondition + ' AND member_name.' + @patient_name_field + ' = ''' +  dbo.plx_EncodeString(@patient_name_string) + ''''

SET @SqlQuery =
'  SELECT DISTINCT ' +
'   family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as member_eligibility_id ' +
'	, family_eligibility_member_benefit_plan.member_eligibility_ud as member_eligibility_ud ' +
'	, name_last as name_last ' +
'	, name_first as name_first ' +
'	, name_middle as name_middle ' +
'  FROM family_eligibility_member_benefit_plan ' +
'		INNER JOIN family_eligibility_member  ON family_eligibility_member_benefit_plan.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id ' +
'      	INNER JOIN member_name ON (family_eligibility_member.member_id = member_name.member_id and member_name.is_primary = 1) '

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
Print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
