USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_security_flag_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/28/2009	eponomareff		1.0		Created
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Find Security Flag records that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@security_flag_ud
@description
@security_data_area_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_security_flag_load]
(
@get_column_headers			BIT = 0
,@security_flag_ud           NVARCHAR(255) = NULL
,@description                NVARCHAR(255) = NULL
,@security_data_area_id      INT = NULL
,@show_exact_matches          BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @security_flag_ud IS NOT NULL AND @security_flag_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(sf.security_flag_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@security_flag_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(sf.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @security_data_area_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND sf.security_data_area_id = ' + CONVERT(NVARCHAR, @security_data_area_id)

SET @SqlQuery =
'	SELECT DISTINCT
sf.security_flag_id
,sf.security_flag_ud
,sf.description
,sf.security_data_area_id
,sda.security_data_area_ud
FROM security_flag sf
INNER JOIN security_data_area sda
ON sf.security_data_area_id = sda.security_data_area_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY sf.security_flag_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY sf.security_flag_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
