USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_states_delete_for_staged_data]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used by Coverage Level Processing (queue/run process), this stored procedure
deletes coverage_level_state records where the record does not have a matching
family_eligibility_id and benefit_plan_id in the staged data table for a specific
as of date. (The "as of date" is a snapshot in time, for which the coverage
level of an enrollment and benefit plan is determined.)

If the queue filtered on the basis of benefit categories, then only those
benefit categories for the queue are considered.

******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_states_delete_for_staged_data]
(
@as_of_date DATE = null,
@benefitCategoryIds udtt_ids READONLY
)
AS

SET NOCOUNT ON;
DECLARE @deletedRecordCount INT = 0;

IF OBJECT_ID('tempdb..#coverageLevelStateRecordsToDelete') IS NOT NULL
DROP TABLE #coverageLevelStateRecordsToDelete;
CREATE TABLE #coverageLevelStateRecordsToDelete (
coverage_level_state_id INT,
family_eligibility_id INT,
benefit_plan_id INT,
as_of_date DATE
);
CREATE NONCLUSTERED INDEX ix_coverageLevelStateId ON #coverageLevelStateRecordsToDelete (coverage_level_state_id);


BEGIN TRANSACTION;

IF (SELECT COUNT(1) FROM @benefitCategoryIds) > 0
-- filter by benefit categories
BEGIN
-- identify records with no match on enrollment, benefit plan, as of date
-- with staged data, and add to table.
INSERT INTO #coverageLevelStateRecordsToDelete (
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
as_of_date)
SELECT
cls.coverage_level_state_id,
cls.family_eligibility_id,
cls.benefit_plan_id,
cls.as_of_date
FROM dbo.coverage_level_state cls
JOIN benefit_plan bp
ON cls.benefit_plan_id = bp.benefit_plan_id
-- join with frameworks
JOIN benefit_framework bf
ON bp.benefit_framework_id = bf.benefit_framework_id
JOIN @benefitCategoryIds categoryIds
ON bf.benefit_category_id = categoryIds.id
-- join staged data
LEFT OUTER JOIN dbo.coverage_level_process_work_table workTable
ON cls.family_eligibility_id = workTable.family_eligibility_id
AND cls.benefit_plan_id = workTable.benefit_plan_id
WHERE
cls.as_of_date = @as_of_date
AND
workTable.coverage_level_process_work_table_id IS NULL;
END
ELSE
-- no need to filter by benefit categories
BEGIN
-- identify records with no match on enrollment, benefit plan, as of date
-- with staged data, and add to table.
INSERT INTO #coverageLevelStateRecordsToDelete (
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
as_of_date)
SELECT
cls.coverage_level_state_id,
cls.family_eligibility_id,
cls.benefit_plan_id,
cls.as_of_date
FROM dbo.coverage_level_state cls
-- join staged data
LEFT OUTER JOIN dbo.coverage_level_process_work_table workTable
ON cls.family_eligibility_id = workTable.family_eligibility_id
AND cls.benefit_plan_id = workTable.benefit_plan_id
WHERE
cls.as_of_date = @as_of_date
AND
workTable.coverage_level_process_work_table_id IS NULL;

END

-- delete records with no match on enrollment, benefit plan, as of date
DELETE coverage_level_state WITH (UPDLOCK, SERIALIZABLE)
FROM dbo.coverage_level_state cls
JOIN #coverageLevelStateRecordsToDelete tempDelete
ON cls.coverage_level_state_id = tempDelete.coverage_level_state_id;

SET @deletedRecordCount = @@ROWCOUNT;

COMMIT TRANSACTION;

-- return deleted records to caller
SELECT @deletedRecordCount AS deletedRecordCount;

RETURN 0;
GO
