USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HISTORY:
04/07/2009 	David Slayton	1.0     Created from plx_accounting_transaction_ap_payment_detail_transactions_save
08/18/2014 - RT:6046 Updated created/modified tombstone columns
04/08/2022  eponomareff     2.0     Modified to use existing function for unapplied_amount.
The function: [dbo].[plx_fn_get_unapplied_amount_for_ar_transaction]
--
DESCRIPTION:
Adds Accounting Transactions to Transactions Included in Invoice grid on Invoice form.
Note that apply to amounts are absolute value, although displayed in grid as positive/negative
depending on whether they are charges/credits.
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_save]
(
@accounting_transaction_ar_apply_to_id          INT = NULL OUTPUT
,@from_accounting_transaction_ar_id              INT = NULL -- invoice_id
,@to_accounting_transaction_ar_id                INT = NULL
,@apply_to_amount                                NUMERIC(20,10) = NULL
,@transaction_date                               DATETIME = NULL
,@comment                                        NVARCHAR(300) = NULL
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
,@ERROR_CANT_INSERT   NVARCHAR(50)
,@ERROR_CANT_UPDATE   NVARCHAR(50)
,@ERROR_NOT_EXIST     NVARCHAR(50);
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION       = -1
,@ERROR_CANT_INSERT  ='G_INSERT_FAILS'
,@ERROR_CANT_UPDATE  ='G_UPDATE_FAILS'
,@ERROR_NOT_EXIST    ='G_DOES_NOT_EXIST';

DECLARE
@unapplied_amount   NUMERIC(20,10)
,@invoice_amount     NUMERIC(20, 10)
,@multiplier         INT
,@original_apply_to_amount  NUMERIC(20,10)

SELECT @multiplier =
CASE atart.golden_key
WHEN 'CHARGE' THEN 1
WHEN 'CREDIT' THEN -1
END
FROM accounting_transaction_ar_type atart
JOIN accounting_transaction_ar atar
ON atart.accounting_transaction_ar_type_id = atar.accounting_transaction_ar_type_id
WHERE atar.accounting_transaction_ar_id = @to_accounting_transaction_ar_id;

-- For Amount and Unapplied Amount on the apply_to table, absolute value amounts stored.
SET @apply_to_amount = ABS(ISNULL(@apply_to_amount, 0))
-- This function returns the absolute value Unapplied Amount of the AR Transaction, no conversion needed.
SET @unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_ar_transaction(@to_accounting_transaction_ar_id, 1)

-- Get invoice amount
SELECT @invoice_amount = ISNULL(accounting_transaction_ar.transaction_amount, 0)
FROM accounting_transaction_ar
WHERE accounting_transaction_ar.accounting_transaction_ar_id = @from_accounting_transaction_ar_id

IF @accounting_transaction_ar_apply_to_id IS NULL	-- Insert new apply to record
BEGIN
IF dbo.fn_check_accounting_transaction_ar_is_locked(@to_accounting_transaction_ar_id) = 1
BEGIN
RETURN @SP_EXCEPTION	-- returning this value (-1) @SP_EXCEPTION  (we are checking inside our QC as -1 for failure)
END

-- Adjust applied amount according to what is allowed for the invoice (must be >= 0)
IF (@invoice_amount + (@multiplier * @unapplied_amount)) < 0
SET @apply_to_amount = @invoice_amount
ELSE
SET @apply_to_amount = @unapplied_amount;

-- Create a new record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id
,unapplied_amount
,amount
,[date]
,comment
)
VALUES
(@from_accounting_transaction_ar_id--invoice ID
,@to_accounting_transaction_ar_id
,@unapplied_amount
,@apply_to_amount
,@transaction_date
,@comment
);

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @accounting_transaction_ar_apply_to_id = @@IDENTITY;

-- Update transaction_amount for invoice
UPDATE accounting_transaction_ar
SET
transaction_amount = @invoice_amount + (@multiplier * @apply_to_amount)
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ar_id = @from_accounting_transaction_ar_id;

END
ELSE
BEGIN
-- Get the original apply to amount before updating.
SELECT @original_apply_to_amount = ISNULL(applyTo.amount, 0)
FROM accounting_transaction_ar_apply_to applyTo
WHERE applyTo.accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

-- Update existing record.
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id	= @from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id	= @to_accounting_transaction_ar_id
,unapplied_amount 					= @unapplied_amount
,amount								= @apply_to_amount
,comment							= @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id;

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

-- Update transaction_amount for invoice
UPDATE accounting_transaction_ar
SET
transaction_amount = @invoice_amount + (@multiplier * (@apply_to_amount - @original_apply_to_amount))
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ar_id = @from_accounting_transaction_ar_id;

END
--
RETURN @SP_SUCCESS
GO
