USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_status_except_error_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/04/2005					1.0	Created
05/14/2009							As of this date, result_code_status.golden_key values are all null.
Added join to adjudication_status_type to pull the golden key from there.
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_result_code_status_except_error_load]

AS

DECLARE	@SP_SUCCESS int
SELECT	@SP_SUCCESS = 0

SELECT
result_code_status_id
,result_code_status_ud
,result_code_status.golden_key
FROM result_code_status
left join adjudication_status_type ast
on result_code_status.adjudication_status_type_id = ast.adjudication_status_type_id
WHERE ISNULL(ast.golden_key,' ') <> 'ERROR'
ORDER BY result_code_status_ud ASC
--
RETURN @SP_SUCCESS
GO
