USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_state_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cluu
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/24/2005         Tinh Do           1.0                      Created
01/19/2006	  Hiep Nguyen	1.1		Removed locale
05/31/2006	  Anh Ta		1.2		Add name colunm
08/10/2006	  Hiep Nguyen	1.3		remove state_nm
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down state (State)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_dd_state_list_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
state1.state_id as signed_in_state_id
,state1.state_ud as signed_in_state_ud
,state1.golden_key

FROM state state1
WHERE state1.state_ud <> 'All Other' -- don't need to use this value any more

ORDER BY state1.sort_order
--
RETURN @SP_SUCCESS
GO
