USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/31/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to see if a capitation definition can be deleted
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_definition_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0
IF EXISTS(
SELECT * FROM capitation_run cr
WHERE cr.capitation_definition_id = @id)
BEGIN
SELECT 'Capitation Run' AS object_golden_key, capitation_run_ud AS object_ud
FROM capitation_run
WHERE capitation_definition_id = @id
RETURN @SP_DELETE_UNABLE
END
ELSE IF EXISTS(
SELECT * FROM provider_withhold pw
WHERE pw.capitation_definition_id = @id)
BEGIN
SELECT 'Provider' AS object_golden_key,
dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix) AS object_ud
FROM provider_withhold pw
JOIN provider_name pn ON pn.provider_id = pw.provider_id
AND pn.is_primary = 1
WHERE capitation_definition_id = @id
RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
END
GO
