USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_member_expense_schedule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/30/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/30/2009	ioveracker	1.0		Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads data into the Member Expense Schedules grid on the Benefit Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_member_expense_schedule_load]
(
@benefit_id   INT = NULL
) AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = 0

SELECT
bmes.benefit_member_expense_schedule_id
,bmes.benefit_id
,bmes.member_expense_schedule_id
,mes.member_expense_schedule_ud
,bmes.effective_from
,bmes.effective_thru
,bmes.modified_date
FROM benefit_member_expense_schedule bmes
LEFT JOIN member_expense_schedule mes ON mes.member_expense_schedule_id = bmes.member_expense_schedule_id
WHERE bmes.benefit_id = @benefit_id
ORDER BY
CASE WHEN bmes.effective_from IS NULL THEN 0 ELSE 1 END , bmes.effective_from DESC
,CASE WHEN bmes.effective_thru IS NULL THEN 0 ELSE 1 END , bmes.effective_thru DESC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
