USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carc_rarc_result_code_mapping_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/17/2017	eponomareff	1.0			RT:11929 - created for carc/rarc addition
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to delete carc/rarc mapping to result codes rows
Form: Assign Claim Adjustment Reason Codes
Grid: Result Code Claim Adjustment Reason Code Assignment (grdResultCodeCarcRarcAssign)
--
******************************/
CREATE PROCEDURE [dbo].[plx_carc_rarc_result_code_mapping_delete]
(
@claim_adjustment_result_code_map_id INT
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM dbo.claim_adjustment_result_code_map
WHERE claim_adjustment_result_code_map_id = @claim_adjustment_result_code_map_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM dbo.claim_adjustment_result_code_map
WHERE claim_adjustment_result_code_map_id = @claim_adjustment_result_code_map_id
END
--
RETURN @SP_SUCCESS
GO
