USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to save a timely claim payment filter.
--
REQUIREMENTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_timely_payment_queue_save]
(
@claim_timely_payment_queue_id			INT OUTPUT,
@claim_timely_payment_queue_ud			NVARCHAR (50),
@description							NVARCHAR (255) = NULL,
@payment_penalty_calendar_id			INT            = NULL,
@state_set_id							INT            = NULL,
@claim_date_type_id						INT            = NULL,
@claim_form_type_id						INT			   = NULL,
@claim_adjudication_status_id			INT			   = NULL,
@claim_procedure_adjudication_status_id	INT			   = NULL,
@claim_payment_process_status_id		INT			   = NULL,
@age_in_days_from						INT			   = NULL,
@age_in_days_thru						INT			   = NULL,
@effective_from							DATE		   = NULL,
@effective_thru							DATE		   = NULL,
@only_paper_claims						BIT            = 0,
@active									BIT            = 1
) AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0


IF @claim_timely_payment_queue_id IS NULL
BEGIN
INSERT INTO claim_timely_payment_queue (
claim_timely_payment_queue_ud,
[description],
payment_penalty_calendar_id,
state_set_id,
claim_date_type_id,
claim_form_type_id,
claim_adjudication_status_id,
claim_procedure_adjudication_status_id,
claim_payment_process_status_id,
age_in_days_from,
age_in_days_thru,
effective_from,
effective_thru,
only_paper_claims,
active
)
VALUES
(
@claim_timely_payment_queue_ud,
@description,
@payment_penalty_calendar_id,
@state_set_id,
@claim_date_type_id,
@claim_form_type_id,
@claim_adjudication_status_id,
@claim_procedure_adjudication_status_id,
@claim_payment_process_status_id,
@age_in_days_from,
@age_in_days_thru,
@effective_from,
@effective_thru,
@only_paper_claims,
@active
)
SET @claim_timely_payment_queue_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE claim_timely_payment_queue
SET
claim_timely_payment_queue_ud			= @claim_timely_payment_queue_ud,
[description]							= @description,
payment_penalty_calendar_id				= @payment_penalty_calendar_id,
state_set_id							= @state_set_id,
claim_date_type_id						= @claim_date_type_id,
claim_form_type_id						= @claim_form_type_id,
claim_adjudication_status_id			= @claim_adjudication_status_id,
claim_procedure_adjudication_status_id	= @claim_procedure_adjudication_status_id,
claim_payment_process_status_id			= @claim_payment_process_status_id,
age_in_days_from						= @age_in_days_from,
age_in_days_thru						= @age_in_days_thru,
effective_from							= @effective_from,
effective_thru							= @effective_thru,
only_paper_claims						= @only_paper_claims,
active									= @active,
modified_user_name						= ORIGINAL_LOGIN(),
modified_date							= GETDATE()
WHERE claim_timely_payment_queue_id			= @claim_timely_payment_queue_id
END

--
RETURN @SP_SUCCESS
--
GO
