USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_agent_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to update data for individual billing agent assignment
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_agent_save]
(
@family_eligibility_premium_invoice_agent_id      INT = NULL   OUTPUT
,@family_eligibility_id								INT
,@invoice_agent_identifier_id                       INT
,@territory_id										INT = NULL
,@effective_from									DATE
,@effective_thru									DATE = NULL
,@active											BIT = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @family_eligibility_premium_invoice_agent_id is Null
BEGIN
--- Create a new agent_identifier record
INSERT INTO family_eligibility_premium_invoice_agent (
family_eligibility_id
,invoice_agent_identifier_id
,territory_id
,effective_from
,effective_thru
,active
)
VALUES
(
@family_eligibility_id
,@invoice_agent_identifier_id
,@territory_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @family_eligibility_premium_invoice_agent_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_premium_invoice_agent WHERE family_eligibility_premium_invoice_agent_id = @family_eligibility_premium_invoice_agent_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing family_eligibility_premium_invoice_agent record
UPDATE family_eligibility_premium_invoice_agent
SET
invoice_agent_identifier_id               = @invoice_agent_identifier_id
,family_eligibility_id					  = @family_eligibility_id
,territory_id							  = @territory_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE family_eligibility_premium_invoice_agent_id = @family_eligibility_premium_invoice_agent_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
