USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_business_object_for_note_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_business_object_for_note_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
note_business_object.note_business_object_id as note_business_object_id
,business_object.business_object_ud as note_business_object_ud
,business_object.golden_key
,uielp.display_form
,uielp.find_form
,uielp.table_name
,uielp.displayed_field
,uielp.stored_field
FROM note_business_object
INNER JOIN business_object  ON business_object.business_object_id = note_business_object.business_object_id
INNER JOIN ui_engine_lookup_parameter uielp ON uielp.ui_engine_lookup_parameter_id = business_object.ui_engine_lookup_parameter_id
ORDER BY note_business_object_ud
RETURN @SP_SUCCESS
END
GO
