USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/16/2008 lrenard			1.0			create
12/03/2013 amortensen		1.1			Added Benefit Plan ID
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Used to save a accounting transaction detail.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_detail_save]
(
@accounting_transaction_id	int = NULL,
@client_id                 int = NULL,
@client_group_id				int = NULL,
@benefit_contract_id			int = NULL,
@benefit_plan_id				int = NULL,
@provider_network_id			int = NULL,
@practice_office_id			int = NULL,
@provider_identifier_id		int = NULL,
@family_eligibility_member_benefit_plan_id int = NULL,
@claim_id						int = NULL,
@claim_line						int = NULL,
@active							bit = 1,
@is_AP							bit = 1
) AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION 	= -1

IF ISNULL(@is_AP,0) = 1
BEGIN

--get claim_procedure_id based on the claim line
DECLARE @claim_procedure_id INT

IF(ISNULL(@claim_id, 0) = 0 OR ISNULL(@claim_line, 0) = 0)
SELECT @claim_procedure_id = NULL
ELSE
BEGIN
SELECT claim_procedure_id, 0 AS line_number
INTO #count_claim_lines
FROM claim_procedure
WHERE claim_id = @claim_id

UPDATE #count_claim_lines
SET line_number =
(SELECT COUNT(*)
FROM claim_procedure cp
WHERE cp.claim_id = @claim_id
AND cp.claim_procedure_id <= #count_claim_lines.claim_procedure_id)

SELECT @claim_procedure_id = claim_procedure_id
FROM #count_claim_lines
WHERE line_number = @claim_line

IF @claim_procedure_id = 0
SELECT @claim_procedure_id = NULL

DROP TABLE #count_claim_lines
END

IF ISNULL(@accounting_transaction_id,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
--update
UPDATE accounting_transaction_ap
SET
client_id       				= @client_id
,client_group_id				= @client_group_id
,benefit_contract_id     	= @benefit_contract_id
,benefit_plan_id				= @benefit_plan_id
,provider_network_id     	= @provider_network_id
,practice_office_id 	   	= @practice_office_id
,provider_identifier_id		= @provider_identifier_id
,subscriber_id					= @family_eligibility_member_benefit_plan_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ap_id = @accounting_transaction_id


IF NOT EXISTS( SELECT *
FROM accounting_transaction_ap_claim_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_id)
INSERT INTO accounting_transaction_ap_claim_detail
(
accounting_transaction_ap_id
,claim_id
,claim_procedure_id
)
VALUES
(@accounting_transaction_id
,@claim_id
,@claim_procedure_id
)
ELSE
UPDATE accounting_transaction_ap_claim_detail
SET
claim_id					= @claim_id
,claim_procedure_id			= @claim_procedure_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ap_id = @accounting_transaction_id

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
END
END
/*
ELSE
BEGIN
--ar not implemented yet
END
*/


RETURN @SP_SUCCESS
GO
