USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seed_value_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinh do
DATE: 02/13/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/13/2006	tinhdo			created
11/16/2006	mttran						remove transaction
03/12/2008	David Slayton	1.2			Updated to use accumulator_framework_accumulator_class_accumulator_id/_ud
instead of accumulator_id/_ud and family_eligibility_member_benefit_plan_id
instead of family_eligibility_member_benefit_contract_period_benefit_plan_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid Accumulator Seed Values in Accumulator Seed Amount form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_seed_value_save]
(
@accumulator_seed_value_id                   int = NULL   OUTPUT
,@accumulator_seed_amount                    numeric(20,10) = NULL
,@tooth_system_id							 int = NULL
,@tooth_number_letter_id					 int = NULL
,@area_of_oral_cavity_id					 int = NULL
,@tooth_surface_ud							 nvarchar(50) = NULL
,@effective_date                             datetime = NULL
,@accumulator_seed_reason_id                 int = NULL
,@comment                                    nvarchar(255) = NULL
,@family_eligibility_member_benefit_plan_id int = Null
,@accumulator_framework_accumulator_class_accumulator_id int = NULL
,@episode_id                                 int = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '160030001',
@ERROR_NOT_EXIST	= '160030002',
@ERROR_CANT_UPDATE 	= '160030003'

IF @accumulator_seed_value_id is Null
BEGIN

--- Create a new accumulator_seed_value record
INSERT INTO accumulator_seed_value(
accumulator_seed_amount
,effective_date
,tooth_system_id
,tooth_number_letter_id
,area_of_oral_cavity_id
,accumulator_seed_reason_id
,comment
,family_eligibility_member_benefit_plan_id
,accumulator_framework_accumulator_class_accumulator_id
,episode_id
,active
)
VALUES
(@accumulator_seed_amount
,@effective_date
,@tooth_system_id
,@tooth_number_letter_id
,@area_of_oral_cavity_id
,@accumulator_seed_reason_id
,@comment
,@family_eligibility_member_benefit_plan_id
,@accumulator_framework_accumulator_class_accumulator_id
,@episode_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @accumulator_seed_value_id = @@IDENTITY

-- Add any tooth surfaces
declare @i int
declare @temp nvarchar(50)
declare @temp1 nvarchar(50)
declare @index int
--insert a row into accumulator_seed_value_tooth_surface table
if (@tooth_surface_ud is not null) and (ltrim(@tooth_surface_ud) <> '')
BEGIN
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud,' ','')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud,',','')
SET @temp = @tooth_surface_ud
SET @i = 1
WHILE (@i <= len(@tooth_surface_ud))
BEGIN
SET @temp1 = substring(@temp, @i, 1)
SET @index = (select top 1 tooth_surface.tooth_surface_id from tooth_surface where tooth_surface.tooth_surface_ud = @temp1)
IF (@index is not null) and (@index <> 0)
BEGIN
insert into accumulator_seed_value_tooth_surface (
accumulator_seed_value_id
,tooth_surface_id
)
VALUES
(@accumulator_seed_value_id
,@index
)
END
SET @i = @i + 1
END

END
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_seed_value WHERE accumulator_seed_value_id = @accumulator_seed_value_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
delete from accumulator_seed_value_tooth_surface
where accumulator_seed_value_id in (select accumulator_seed_value.accumulator_seed_value_id from accumulator_seed_value where accumulator_seed_value.accumulator_seed_value_id = @accumulator_seed_value_id)

--- Updating an existing accumulator_seed_value record
UPDATE accumulator_seed_value
SET
accumulator_seed_amount                   = @accumulator_seed_amount
,tooth_system_id						  = @tooth_system_id
,tooth_number_letter_id					  = @tooth_number_letter_id
,area_of_oral_cavity_id					  = @area_of_oral_cavity_id
,effective_date                           = @effective_date
,accumulator_seed_reason_id               = @accumulator_seed_reason_id
,comment                                  = @comment
,family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id
,accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
,episode_id                               = @episode_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_seed_value_id = @accumulator_seed_value_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

if (@tooth_surface_ud is not null) and (ltrim(@tooth_surface_ud) <> '')
begin
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud,' ','')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud,',','')
set @temp = @tooth_surface_ud
set @i = 1
while (@i <= len(@tooth_surface_ud))
begin
set @temp1 = substring(@temp, @i, 1)
set @index = (select top 1 tooth_surface.tooth_surface_id from tooth_surface where tooth_surface.tooth_surface_ud = @temp1)
if (@index is not null) and (@index <> 0)
begin
insert into accumulator_seed_value_tooth_surface (
accumulator_seed_value_id
,tooth_surface_id
)
VALUES
(@accumulator_seed_value_id
,@index
)
end
set @i = @i + 1
end
end


END

RETURN @SP_SUCCESS
GO
