USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_contact_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Dec 22 2005  3:58PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/4/2006	ThuyNguyen	1.1		sort eff from, thr
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is used in the Associated Contacts grid to load data
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_carrier_contact_list_load] (@carrier_id INT = NULL)
AS
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

SELECT carrier_contact.carrier_contact_id
,contact.contact_id
,carrier_contact.carrier_id
,carrier.carrier_ud
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,carrier_contact.is_primary
,carrier_contact.effective_from
,carrier_contact.effective_thru
FROM carrier
INNER JOIN carrier_contact
ON carrier.carrier_id = carrier_contact.carrier_id
LEFT JOIN contact_association_type
ON carrier_contact.contact_association_type_id = contact_association_type.contact_association_type_id
LEFT JOIN contact
ON carrier_contact.contact_id = contact.contact_id
LEFT JOIN contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE carrier_contact.carrier_id = @carrier_id
--ThuyNGuyen added
ORDER BY CASE
WHEN carrier_contact.effective_from IS NULL
THEN 0
ELSE 1
END ASC
,carrier_contact.effective_from DESC
,CASE
WHEN carrier_contact.effective_thru IS NULL
THEN 0
ELSE 1
END ASC
,carrier_contact.effective_thru DESC

RETURN @SP_SUCCESS
GO
