USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_matrix_weighting_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/14/2006	Hiep Nguyen	1.0		Created
10/03/2006	Hiep Nguyen	1.1		Changed data type of parameters: @deductible, @maximum_out_of_pocket
08/18/2014 - RT:6046 Updated created/modified tombstone columns
@maximum_payments, @coinsurance, @copayment
Marked authorization_required, covered_benefit, referral_required
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the benefit_choice_matrix_weighting table.
This stored procedure is used in the Benefit Choice Matrix Weighting grid of Benefit Contract Advance Plan Setup
and Benefit Contract Template Advance Plan Setu
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_matrix_weighting_save]
(
@benefit_choice_matrix_weighting_id         int = NULL   OUTPUT
,@benefit_contract_period_benefit_plan_id    int = NULL
,@deductible                                nvarchar(50) = NULL
,@maximum_out_of_pocket                     nvarchar(50)= NULL
,@maximum_payments                          nvarchar(50) = NULL
,@maximum_units                             int = NULL
,@maximum_visits                            int = NULL
,@coinsurance                               nvarchar(50) = NULL
,@copayment                                 nvarchar(50) = NULL
,@template_column                             int = NULL
,@weight_amount                              numeric(20,10) = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '133040001',
@ERROR_NOT_EXIST	= '133040002',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '133040003'
--
IF @benefit_choice_matrix_weighting_id is Null
BEGIN

--- Create a new benefit_choice_matrix_weighting record
INSERT INTO dbo.benefit_choice_matrix_weighting(
benefit_contract_period_benefit_plan_id
,deductible
,maximum_out_of_pocket
,maximum_payments
,maximum_units
,maximum_visits
,coinsurance
,copayment
,weight_amount
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@deductible
,@maximum_out_of_pocket
,@maximum_payments
,@maximum_units
,@maximum_visits
,@coinsurance
,@copayment
,@weight_amount
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @benefit_choice_matrix_weighting_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.benefit_choice_matrix_weighting WHERE benefit_choice_matrix_weighting_id = @benefit_choice_matrix_weighting_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


--- Updating an existing benefit_choice_matrix_weighting record
UPDATE dbo.benefit_choice_matrix_weighting
SET
benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
,deductible                               = @deductible
,maximum_out_of_pocket                    = @maximum_out_of_pocket
,maximum_payments                         = @maximum_payments
,maximum_units                            = @maximum_units
,maximum_visits                           = @maximum_visits
,coinsurance                              = @coinsurance
,copayment                                = @copayment
,weight_amount                            = @weight_amount
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_choice_matrix_weighting_id = @benefit_choice_matrix_weighting_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
