USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_print_checks_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2008	jeremy hein	1.0			created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
3/2/2015	cmaddox	1.1	Adding support for disbursement queues and runs in check print criteria
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save check print
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_print_checks_save]
(
@accounting_check_print_run_id           int = NULL   OUTPUT
,@date_on_checks						    datetime = NULL
,@starting_check_number					int = null
,@report_id							    int = NULL
,@disbursement_claim_payment_queue_id	int = NULL
,@disbursement_claim_payment_run_id		int = NULL
,@reuse_check_numbers                     bit = 0
,@active                                  bit = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @accounting_check_print_run_id is Null
BEGIN


--- Create a new accounting_check_print_run record
INSERT INTO dbo.accounting_check_print_run(
date_on_checks
,starting_check_number
,report_id
,disbursement_claim_payment_queue_id
,disbursement_claim_payment_run_id
,reuse_check_numbers
,active
)
VALUES
(@date_on_checks
,@starting_check_number
,@report_id
,@disbursement_claim_payment_queue_id
,@disbursement_claim_payment_run_id
,@reuse_check_numbers
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @accounting_check_print_run_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.accounting_check_print_run WHERE accounting_check_print_run_id = @accounting_check_print_run_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing accounting_check_print_run record
UPDATE dbo.accounting_check_print_run
SET
date_on_checks				= @date_on_checks
,starting_check_number			= @starting_check_number
,report_id					    = @report_id
,reuse_check_numbers	        = @reuse_check_numbers
,active                        = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_check_print_run_id = @accounting_check_print_run_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
