USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_internet_address_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hien D Nguyen
Nov 29 2005  10:30 AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Delete contact internet address

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_internet_address_delete]
(
@contact_internet_address_id                int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS   int,
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT     @SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '158880012'

IF NOT EXISTS (SELECT * FROM contact_internet_address WHERE contact_internet_address_id = @contact_internet_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
DELETE FROM contact_internet_address
WHERE contact_internet_address_id = @contact_internet_address_id

END
RETURN @SP_SUCCESS
END
GO
