USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_result_code_save_for_negated_lines_from_readjudication_filter]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
AUTHOR: Crystalyn Knobloch
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
12/15/2011	CKnobloch	 1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------

DESCRIPTION:
Only insert, should not be able to negate already negated claim.

******************************/
CREATE       PROCEDURE [dbo].[plx_adjudication_result_code_save_for_negated_lines_from_readjudication_filter]
(

@claim_id                                   int = NULL
,@claim_procedure_id                         int = NULL
,@adjudication_result_code_id				   int = NULL OUTPUT
,@result_code_id							   int = NULL

,@do_not_clear                               bit = NULL
,@comment                                    nvarchar(1000) = NULL
,@user_created							   bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int,
@CLAIM_PROCEDURE_AFTER_NEGATION  INT

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1,
@CLAIM_PROCEDURE_AFTER_NEGATION = dbo.plx_fn_get_line_procedure_id_by_negated_claim_procedure_id(@claim_procedure_id, @claim_id)

--insert new claim header result code (used by system)
BEGIN
INSERT INTO adjudication_result_code
(
claim_id
,claim_procedure_id
,result_code_id
,do_not_clear
,comment
,user_created
,active
)
VALUES
(@claim_id
,@CLAIM_PROCEDURE_AFTER_NEGATION
,@result_code_id
,@do_not_clear
,@comment
,@user_created
,1
)
--get the id
SET @adjudication_result_code_id = @@IDENTITY

END

--
RETURN @SP_SUCCESS
--
GO
