USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_employee_class_tree_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 	12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	mttran					create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load employee class tree on Group form
--
REQUIREMENTS:
--
INPUTS:
@client_group_id

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   procedure [dbo].[plx_client_group_employee_class_tree_load]
(
@client_group_id int = null
)
as
BEGIN
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@NODE_TYPE_EMPLOYEE_CLASS int,
@NODE_TYPE_EMPLOYEE_DIVISION int,
@NODE_TYPE_EMPLOYEE_SUB_DIVISION int

DECLARE
@employee_class_id	INT,
@employee_class_ud	NVARCHAR(50)

SET @SP_SUCCESS 	= 0
SET @SP_EXCEPTION 	= -1
SET @NODE_TYPE_EMPLOYEE_CLASS	= 1
SET @NODE_TYPE_EMPLOYEE_DIVISION		= 2
SET @NODE_TYPE_EMPLOYEE_SUB_DIVISION	= 3

DECLARE @tree_table TABLE (
node_id 	int NOT NULL,
parent_id 	int NULL,
node_text 	nvarchar(50) NOT NULL,
node_level 	int NULL,
node_type 	int NULL
)

-- declare cursor for node level 1
DECLARE employee_class_cursor CURSOR FOR
SELECT	employee_class_id,
employee_class_ud
FROM 	employee_class
WHERE	client_group_id = @client_group_id
ORDER BY employee_class_ud

OPEN employee_class_cursor

FETCH NEXT FROM employee_class_cursor
INTO @employee_class_id, @employee_class_ud

WHILE @@fetch_status = 0
BEGIN
print 'Create employee_class ' + CAST(@employee_class_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@employee_class_id, NULL, @employee_class_ud, 1, @NODE_TYPE_EMPLOYEE_CLASS)

-- declare cursor for node level 2
DECLARE employee_division_cursor CURSOR FOR
SELECT	employee_division_id,
employee_division_ud
FROM 	employee_division
WHERE	employee_class_id = @employee_class_id
ORDER BY employee_division_ud

OPEN employee_division_cursor

DECLARE @employee_division_id int,
@employee_division_ud	nvarchar(50)

FETCH NEXT FROM employee_division_cursor
INTO @employee_division_id, @employee_division_ud

WHILE @@fetch_status = 0
BEGIN
--insert node level 2
print 'Create employee_division ' + CAST(@employee_division_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@employee_division_id, @employee_class_id, @employee_division_ud, 2, @NODE_TYPE_EMPLOYEE_DIVISION)

-- declare cursor for node level 3
DECLARE employee_subdivision_cursor CURSOR FOR
SELECT	employee_subdivision_id,
employee_subdivision_ud
FROM 	employee_subdivision
WHERE	employee_division_id = @employee_division_id
ORDER BY employee_subdivision_ud

OPEN employee_subdivision_cursor

DECLARE @employee_subdivision_id int,
@employee_subdivision_ud	nvarchar(50)

FETCH NEXT FROM employee_subdivision_cursor
INTO @employee_subdivision_id, @employee_subdivision_ud

WHILE @@fetch_status = 0
BEGIN
--insert node level 3
print 'Create employee_subdivision ' + CAST(@employee_subdivision_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@employee_subdivision_id, @employee_division_id, @employee_subdivision_ud, 3, @NODE_TYPE_EMPLOYEE_SUB_DIVISION)

FETCH NEXT FROM employee_subdivision_cursor
INTO @employee_subdivision_id, @employee_subdivision_ud
END

CLOSE employee_subdivision_cursor
DEALLOCATE employee_subdivision_cursor

FETCH NEXT FROM employee_division_cursor
INTO @employee_division_id, @employee_division_ud
END

CLOSE employee_division_cursor
DEALLOCATE employee_division_cursor

FETCH NEXT FROM employee_class_cursor
INTO @employee_class_id, @employee_class_ud
end

CLOSE employee_class_cursor
DEALLOCATE employee_class_cursor

-- return recordset
SELECT * FROM @tree_table

RETURN @SP_SUCCESS
end
GO
