USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_procedure_code_type_professional_medical_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan  9 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/07/2006	Han Cao
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_procedure_code_type_professional_medical_load]

AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
procedure_code_type.procedure_code_type_id
,procedure_code_type.procedure_code_type_ud

FROM procedure_code_type
ORDER BY procedure_code_type.procedure_code_type_ud
--
RETURN @SP_SUCCESS
GO
