USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_queue_last_scheduled_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/02/2009	lrenard			1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load last scheduled run date for form frmClaimPaymentQueue

--
REQUIREMENTS:
--
INPUTS:
@adjudication_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_adjudication_queue_last_scheduled_run_load]
(
@adjudication_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
MAX(cpr.created_date) as last_scheduled_run
FROM dbo.adjudication_queue cpq
LEFT JOIN dbo.adjudication_run cpr ON cpq.adjudication_queue_id = cpr.adjudication_queue_id
WHERE cpq.adjudication_queue_id = @adjudication_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
