USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 09/07/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_save]
(

@auto_termination_rule_relationship_to_subscriber_id int = NULL   OUTPUT
,@auto_termination_rule_id                 int = NULL
,@relationship_to_insured_id                 int = NULL
,@relationship_to_insured_set_id             int = NULL


,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @auto_termination_rule_relationship_to_subscriber_id is Null
BEGIN
--- Create a new record
INSERT INTO auto_termination_rule_relationship_to_subscriber(
auto_termination_rule_id
,relationship_to_insured_id
,relationship_to_insured_set_id
,active
)
VALUES
(@auto_termination_rule_id
,@relationship_to_insured_id
,@relationship_to_insured_set_id
,@active
)
--
SET @auto_termination_rule_relationship_to_subscriber_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM auto_termination_rule_relationship_to_subscriber WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE auto_termination_rule_relationship_to_subscriber
SET
auto_termination_rule_id               = @auto_termination_rule_id
,relationship_to_insured_id               = @relationship_to_insured_id
,relationship_to_insured_set_id           = @relationship_to_insured_set_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id

END
--
RETURN @SP_SUCCESS
--
GO
