USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/26/2005	Tinh Do			1.0		Created		15901:Client & Group
Lamnguyen		1.1		modify
01/10/2006	mttran			1.2		add one check whether there is any benefit contract
belong to this client group and being used.
05/27/2008	wchristensen	1.3		Refactored to work with new delete dependency check system, commented
out checks on tables that are under construction/redesign
07/17/2008	lrenard			1.4		added accounting_payment_queue check
11/05/2008	Vishwa Jella	1.5		removed accounting_payment_queue check
04/06/2009	David Slayton	1.6		removed bill, billing, and receipt from commented out code.
05/13/2009	David Slayton	1.7		removed claim_payment_profile_assignment.
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.7
--
DESCRIPTION:
This procedure is used to check if/where this group is used
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_client_group_check_delete]
(
@id	int = NULL
)
AS

DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the record exists
IF NOT EXISTS (	SELECT	client_group_id
FROM	client_group
WHERE	client_group_id = @id )
RETURN @SP_DELETE_ABLE

ELSE
BEGIN
IF EXISTS (SELECT * FROM accumulator_framework_assignment WHERE client_group_id = @id)
OR EXISTS (SELECT * FROM benefit_contract WHERE client_group_id = @id)
OR EXISTS (SELECT * FROM claim_processing_queue WHERE client_group_id = @id)
OR EXISTS (SELECT * FROM adjudication_queue WHERE client_group_id = @id)
OR EXISTS (SELECT * FROM employee_class WHERE client_group_id = @id)
OR EXISTS (SELECT * FROM plx_fn_check_criteria_object_in_use('Group', @id))
OR EXISTS(SELECT * FROM payment_penalty_schedule_assignment WHERE client_group_id = @id)
OR EXISTS(SELECT * FROM payment_penalty_schedule_exemption WHERE client_group_id = @id)
OR EXISTS(SELECT * FROM benefit_qualifier_assignment WHERE client_group_id = @id)
OR EXISTS(SELECT * FROM reinsurance_contract_client_group WHERE client_group_id = @id)
OR EXISTS(SELECT * FROM client_group_set_detail WHERE client_group_id = @id)
BEGIN
--check accumulator framework assignments
SELECT 'Accumulator Framework' AS object_golden_key, accumulator_framework_ud AS object_ud
FROM accumulator_framework_assignment a
INNER JOIN accumulator_framework af ON a.accumulator_framework_id = af.accumulator_framework_id
WHERE client_group_id = @id

--check adjudication queues
SELECT 'Adjudication Queue' AS object_golden_key, adjudication_queue_ud AS object_ud
FROM adjudication_queue
WHERE client_group_id = @id

--Check benefit contracts
SELECT 'Benefit Contract' AS object_golden_key, benefit_contract_ud AS object_ud
FROM benefit_contract
WHERE client_group_id = @id

--check benefit_qualifier_assignment
SELECT DISTINCT 'Benefit Qualifier Assignment' AS object_golden_key, 'Assignment Grid' AS object_ud
FROM benefit_qualifier_assignment
WHERE client_group_id = @id

--check claim processing queues
SELECT 'Claim Processing Filter' AS object_golden_key, claim_processing_queue_ud AS object_ud
FROM claim_processing_queue
WHERE client_group_id = @id

--check criteria objects
SELECT 'Criteria' AS object_golden_key, criteria_ud AS object_ud
FROM plx_fn_check_criteria_object_in_use('Group', @id)

--check employee classes
SELECT 'Employee Class' AS object_golden_key,	employee_class_ud AS object_ud
FROM employee_class
WHERE client_group_id = @id

--check payment penalty schedule assignment
SELECT DISTINCT 'Payment Penalty Schedule Assignment' AS object_golden_key, 'Schedule Assignments' AS object_ud
FROM payment_penalty_schedule_assignment
WHERE client_group_id = @id

--check payment penalty schedule exemption
SELECT DISTINCT 'Payment Penalty Schedule Exemption' AS object_golden_key, 'Exempt Periods' AS object_ud
FROM payment_penalty_schedule_exemption
WHERE client_group_id = @id

--check reinsurance contract group assignment
SELECT DISTINCT 'Reinsurance Contract Group Assignments - Reinsurance Contract' AS object_golden_key, rc.reinsurance_contract_ud AS object_ud
FROM reinsurance_contract_client_group rccg
JOIN client_group cg
ON cg.client_group_id = rccg.client_group_id
JOIN reinsurance_contract rc
ON rc.reinsurance_contract_id = rccg.reinsurance_contract_id

--check group set assignments
SELECT 'Group Set' As object_golden_key, client_group_set_ud AS object_ud
FROM client_group_set
INNER JOIN client_group_set_detail ON client_group_set.client_group_set_id = client_group_set_detail.client_group_set_id
WHERE client_group_set_detail.client_group_id = @id

RETURN @SP_DELETE_UNABLE

END
END

RETURN @SP_DELETE_ABLE
GO
