USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 04/23/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
04/23/2009  W.Christensen	1.0     Created
05/20/2009  W.Christensen	1.1     Changed payment_method_payment to payment_method_customer
02/22/2012	A.Mortensen		1.2		Added customer payment status (accounting_transaction_ar_payment_status_ud)

CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load header section for AR Customer Payment
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_load]
(
@accounting_transaction_ar_id INT = null
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ata.accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud  	--Customer Payment ID
,ata.accounting_transaction_ar_type_id
,ata.customer_id
,customer.customer_ud
,customer.customer_nm
,ata.accounting_company_id
,ac.accounting_company_ud
,atapd.accounting_transaction_ar_payment_detail_id
,ISNULL(ata.transaction_amount,0) AS payment_amount
,atapd.payment_date
,atapd.payment_method_customer_id
,pmc.payment_method_customer_ud
,atapd.bank_account_id
,ba.bank_account_ud
,atapd.accounting_payment_status_id
,aps.accounting_payment_status_ud
,aps.golden_key AS accounting_payment_status_gk
,atapd.check_ach_reference
,atapd.ar_accounting_company_account_id AS accounting_company_account_id --AR Account Number
,aca.accounting_company_account_ud  --AR Account Number
,atapd.memo -- Comment
,atapd.created_date
,atapd.created_user_name
,atapd.modified_date
,atapd.modified_user_name

FROM accounting_transaction_ar ata
INNER JOIN accounting_transaction_ar_payment_detail atapd
ON ata.accounting_transaction_ar_id = atapd.accounting_transaction_ar_id
LEFT JOIN customer
ON ata.customer_id = customer.customer_id
LEFT JOIN payment_method_customer pmc
ON atapd.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN bank_account ba
ON atapd.bank_account_id = ba.bank_account_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atapd.ar_accounting_company_account_id
LEFT JOIN accounting_payment_status aps
ON atapd.accounting_payment_status_id = aps.accounting_payment_status_id

WHERE (ata.accounting_transaction_ar_id = @accounting_transaction_ar_id)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
