USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_print_checks_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: jhein
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2008 	jhein	1.0			created
3/2/2015	cmaddox	1.1	Adding support for disbursement queues and runs in check print criteria
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
load check print
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_print_checks_load]
(
@accounting_check_print_run_id           int = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
Select null as accounting_check_print_run_id
,getdate() as date_on_checks
,null as starting_check_number
,null as report_id
,null as disbursement_claim_payment_queue_id
,null as disbursement_claim_payment_run_id
,0 as reuse_check_numbers






--
RETURN @SP_SUCCESS
--
GO
