USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_set_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard & rvolkening
DATE: Oct 27, 2009

DESCRIPTION:
This procedure is used to check dependencies on a Fee Schedule Set before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the payment contract to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_fee_schedule_set_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the provider exists
IF NOT EXISTS (SELECT * FROM fee_schedule_set WHERE fee_schedule_set_id = @id)
RETURN @SP_DELETE_ABLE

IF EXISTS(select * from payment_contract_definition where ffs_equivalent_fee_schedule_set_id = @id)
BEGIN
--check payment contracts
SELECT 'Payment Contract' AS object_golden_key, pc.payment_contract_ud AS object_ud
FROM payment_contract_definition pcd
LEFT JOIN payment_contract pc ON pcd.payment_contract_id = pc.payment_contract_id
WHERE ffs_equivalent_fee_schedule_set_id = @id

RETURN @SP_DELETE_UNABLE
END

RETURN @SP_DELETE_ABLE
GO
