USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_limit_fee_schedule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
12/15/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid Benefit Limit Fee Schedule Assignment in form Benefit Plan
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_limit_fee_schedule_load]
(
@benefit_plan_id int
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_limit_fee_schedule.benefit_limit_fee_schedule_id,
benefit_limit_fee_schedule.fee_schedule_form_type_id,
fee_schedule_form_type.fee_schedule_form_type_ud,
benefit_limit_fee_schedule.fee_schedule_id,
fee_schedule.fee_schedule_ud,
benefit_limit_fee_schedule.fee_schedule_modifier_id,
fee_schedule_modifier.fee_schedule_modifier_ud,
benefit_limit_fee_schedule.use_default_modifier,
benefit_limit_fee_schedule.effective_from,
benefit_limit_fee_schedule.effective_thru
FROM 	benefit_limit_fee_schedule
inner join fee_schedule_form_type
ON benefit_limit_fee_schedule.fee_schedule_form_type_id = fee_schedule_form_type.fee_schedule_form_type_id
inner join fee_schedule
ON fee_schedule.fee_schedule_id = benefit_limit_fee_schedule.fee_schedule_id
left join fee_schedule_modifier
ON fee_schedule_modifier.fee_schedule_modifier_id = benefit_limit_fee_schedule.fee_schedule_modifier_id
WHERE 	benefit_plan_id = @benefit_plan_id
ORDER BY
benefit_limit_fee_schedule.effective_from DESC, fee_schedule_form_type_ud, fee_schedule_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
