USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_bank_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_financial_bank_check_delete] (
@id    INT = NULL
)
AS

DECLARE
@SP_DELETE_ABLE INT
,@SP_DELETE_UNABLE INT
,@SP_EXCEPTION INT;
SELECT
@SP_DELETE_ABLE = 1
,@SP_DELETE_UNABLE = 0
,@SP_EXCEPTION = -1;

IF NOT EXISTS (SELECT 1 FROM financial_bank WHERE financial_bank_id = @id)
BEGIN
RETURN @SP_DELETE_ABLE;
END
--
IF EXISTS (
SELECT 1
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN customer_financial_institution cfi
ON cfi.financial_institution_id = fi.financial_institution_id
WHERE fif.financial_bank_id = @id)
OR EXISTS (
SELECT 1
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN vendor_financial_institution vfi
ON vfi.financial_institution_id = fi.financial_institution_id
WHERE fif.financial_bank_id = @id)
OR EXISTS (
SELECT 1
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN beneficiary_financial_institution bfi
ON bfi.financial_institution_id = fi.financial_institution_id
WHERE fif.financial_bank_id = @id)
BEGIN

SELECT
'Customer - Banking Information' AS object_golden_key
,c.customer_ud AS object_ud
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN customer_financial_institution cfi
ON cfi.financial_institution_id = fi.financial_institution_id
JOIN customer c
ON c.customer_id = cfi.customer_id
WHERE fif.financial_bank_id = @id;

SELECT
'Vendor - Banking Information' AS object_golden_key
,v.vendor_ud AS object_ud
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN vendor_financial_institution vfi
ON vfi.financial_institution_id = fi.financial_institution_id
JOIN vendor v
ON v.vendor_id = vfi.vendor_id
WHERE fif.financial_bank_id = @id;

SELECT
'Beneficiary - Banking Information' AS object_golden_key
,bn.name_last AS object_ud
FROM financial_bank fif
JOIN financial_institution fi
ON fi.financial_bank_id = fif.financial_bank_id
JOIN beneficiary_financial_institution bfi
ON bfi.financial_institution_id = fi.financial_institution_id
JOIN beneficiary_name bn
ON bn.beneficiary_id = bfi.beneficiary_id
WHERE fif.financial_bank_id = @id;

RETURN @SP_DELETE_UNABLE;
END
ELSE
RETURN @SP_DELETE_ABLE;
GO
