USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_payment_method_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_beneficiary_payment_method_save]
(
@beneficiary_payment_method_id            INT = NULL   OUTPUT
,@beneficiary_id                           INT = NULL
,@payment_method_payment_id                INT = NULL
,@effective_from                           DATE = NULL
,@effective_thru                           DATE = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF ISNULL(@beneficiary_payment_method_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO beneficiary_payment_method(
beneficiary_id
,payment_method_payment_id
,effective_from
,effective_thru
)
VALUES
(@beneficiary_id
,@payment_method_payment_id
,@effective_from
,@effective_thru
)
--
SET @beneficiary_payment_method_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM beneficiary_payment_method WHERE beneficiary_payment_method_id = @beneficiary_payment_method_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE beneficiary_payment_method
SET
beneficiary_id                  = @beneficiary_id
,payment_method_payment_id       = @payment_method_payment_id
,effective_from                  = @effective_from
,effective_thru                  = @effective_thru
,modified_user_name              = ORIGINAL_LOGIN()
,modified_date                   = GETDATE()

WHERE beneficiary_payment_method_id = @beneficiary_payment_method_id
END
--
RETURN @SP_SUCCESS
--
GO
