USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_do_check_run]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE       PROCEDURE [dbo].[BIND_do_check_run]
AS
BEGIN
	DECLARE @starting_check_numbers AS TABLE (accounting_company_id INT, next_check_number INT);

	INSERT INTO @starting_check_numbers
	SELECT payment.accounting_company_id
		, case 
			when MAX(ISNULL(payment_detail.check_ach_reference, -1)) < ba.starting_check then ba.starting_check + 1
			else MAX(ISNULL(payment_detail.check_ach_reference, -1)) + 1
		end as next_check_number
	FROM accounting_transaction_ap payment
	INNER JOIN accounting_transaction_ap_payment_detail payment_detail
		ON payment_detail.accounting_transaction_ap_id = payment.accounting_transaction_ap_id
	inner join bank_account ba
		on payment_detail.bank_account_id = ba.bank_account_id
	WHERE payment.accounting_company_id IN (
		SELECT atap.accounting_company_id
		FROM accounting_transaction_ap atap
		INNER JOIN accounting_transaction_ap_payment_detail pay
			ON pay.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
		WHERE pay.accounting_payment_status_id = 3  -- available
	)
	GROUP by payment.accounting_company_id, ba.starting_check;

	DECLARE @accounting_company_id AS INT;
	DECLARE @starting_check_number AS INT;
	DECLARE @accounting_transaction_ids AS [BIND_zero_pay_check_accounting_transaction_table];

	WHILE EXISTS (SELECT * FROM @starting_check_numbers)
	BEGIN
		delete from @accounting_transaction_ids
		SELECT TOP 1 
			@accounting_company_id = accounting_company_id, 
			@starting_check_number = next_check_number 
		FROM @starting_check_numbers;

		IF @starting_check_number = 0
		BEGIN
			SET @starting_check_number = (SELECT starting_check FROM bank_account WHERE accounting_company_id = @accounting_company_id);
		END



		INSERT INTO @accounting_transaction_ids
		SELECT payment.accounting_transaction_ap_id
		FROM accounting_transaction_ap payment
		INNER JOIN accounting_transaction_ap_payment_detail payment_detail
			ON payment_detail.accounting_transaction_ap_id = payment.accounting_transaction_ap_id
		WHERE payment_detail.accounting_payment_status_id = 3 -- available
		AND payment.accounting_company_id = @accounting_company_id;

		EXEC [BIND_plx_update_check] @starting_check_number, @accounting_transaction_ids;

		DELETE FROM @starting_check_numbers WHERE accounting_company_id = @accounting_company_id;
	END

	exec [SUREST_zero_claim_vendor_report_automation];

	EXEC BIND_close_paid_claims;
END


GO
