USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_setup_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:39PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_advance_setup table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_advance_setup_save]
(
@commission_advance_setup_id                int = NULL   OUTPUT
,@commission_advance_setup_ud                nvarchar(50) = NULL
,@description                                nvarchar(255) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @commission_advance_setup_id is Null
BEGIN

--- Create a new commission_advance_setup record
INSERT INTO commission_advance_setup(
commission_advance_setup_ud
,description
,effective_from
,effective_thru
,active
)
VALUES
(@commission_advance_setup_ud
,@description
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_advance_setup_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_advance_setup WHERE commission_advance_setup_id = @commission_advance_setup_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_advance_setup record
UPDATE commission_advance_setup
SET
commission_advance_setup_ud              = @commission_advance_setup_ud
,description                              = @description
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_advance_setup_id = @commission_advance_setup_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
