USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_filter_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:	Load data for claim list grid on the Claim Age Filter form.

--
REQUIREMENTS:
--
INPUTS:
@claim_timely_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_timely_payment_queue_filter_list_load]
(
@claim_timely_payment_queue_id		INT = NULL
)
AS
--
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;


DECLARE @CLEAN_DATE_TYPE_ID INT;
SET @CLEAN_DATE_TYPE_ID = (SELECT claim_date_type_id FROM claim_date_type WHERE golden_key = 'CLEAN');

-- We want to pull all records greater than the last generated date for this filter,
-- since we clear out all non-reviewed records, but leave old reviewed records.
-- If there is no @last_generated_date, we want to pull from GETDATE() to not pull any old reviewed records.
DECLARE @last_generated_date DATETIME;

SELECT
@last_generated_date = queue.generated_date
FROM
claim_timely_payment_queue queue
WHERE queue.claim_timely_payment_queue_id = @claim_timely_payment_queue_id;

IF @last_generated_date IS NULL
SET @last_generated_date = GETDATE();

WITH main_cte AS
(
SELECT
cft.claim_form_type_ud,
c.claim_ud,
elig.member_eligibility_ud,
pi.provider_ud,
v.vendor_ud,
adj_stat.adjudication_status_ud,
CASE WHEN [queue].claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END as date,
0 as age_in_days -- calculated by the client
FROM claim_timely_payment_queue_detail detail
JOIN claim_timely_payment_queue
[queue] ON [queue].claim_timely_payment_queue_id = detail.claim_timely_payment_queue_id
JOIN claim c
ON detail.claim_id = c.claim_id
LEFT JOIN adjudication_status adj_stat
ON c.adjudication_status_id = adj_stat.adjudication_status_id
JOIN claim_form_type cft
ON c.claim_form_type_id = cft.claim_form_type_id
JOIN adjudication_status adj_status
ON c.adjudication_status_id = adj_status.adjudication_status_id
LEFT JOIN family_eligibility_member_benefit_plan elig
ON c.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
LEFT JOIN provider_identifier pi
ON c.billing_provider_identifier_id = pi.provider_identifier_id
LEFT JOIN vendor v
ON c.vendor_id = v.vendor_id
WHERE
detail.claim_timely_payment_queue_id = @claim_timely_payment_queue_id
AND
detail.created_date >= @last_generated_date
)
, count_cte AS (
SELECT count(*) AS total_count
FROM main_cte
)
SELECT
TOP (dbo.fn_results_limit())
claim_form_type_ud,
claim_ud,
member_eligibility_ud,
provider_ud,
vendor_ud,
adjudication_status_ud,
[date],
age_in_days,
count_cte.total_count
FROM main_cte CROSS JOIN count_cte
ORDER BY main_cte.date

RETURN @SP_SUCCESS;
GO
