USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_get_eob]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE      procedure [dbo].[bind_get_eob]
	@claimUd nvarchar(50) = null,
	@externalClaimId nvarchar(50) = null,
	@clearinghouseClaimId nvarchar(50) = null,
	@fromDate datetime = null,
	@toDate datetime = null
	
as 

declare @command nvarchar(max) =

'Select distinct c.claim_id
	, cp.claim_procedure_id
	, cp.claim_line_sequence
	, atapd.accounting_transaction_ap_id
	, ataPAY.transaction_amount
	, atapd.check_ach_reference
	, atapd.check_date
	, zvb.reference_number
	, zvb.finalized_date
from claim c
	inner join claim_procedure cp 
		on c.claim_id = cp.claim_id
	LEFT JOIN accounting_transaction_ap_claim_detail atacd
	    ON atacd.claim_procedure_id = cp.claim_procedure_id
	LEFT JOIN accounting_transaction_ap ataTrans
	    ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atat
	    ON atat.accounting_transaction_ap_type_id = ataTrans.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_apply_to ataat
	    ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap ataPAY
	    ON ataPAY.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atatPAY
	    ON atatPAY.accounting_transaction_ap_type_id = ataPAY.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_payment_detail atapd
		ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	left join accounting_check_print_run check_run
		on atapd.accounting_check_print_run_id = check_run.accounting_check_print_run_id
	left join zero_tracking_claim_procedure zcp
		on zcp.claim_procedure_id = cp.claim_procedure_id
	left join zero_tracking_vendor_batch zvb
		on zcp.zero_tracking_vendor_batch_id = zvb.zero_tracking_vendor_batch_id
	left join claim_additional_reference_number d9
		on c.claim_id = d9.claim_id
	left join claim_additional_reference_number_type d9_carnt
		on d9.claim_additional_reference_number_type_id =d9_carnt.claim_additional_reference_number_type_id
			and carnt.golden_key = ''d9''
	left join claim_additional_reference_number f8
		on c.claim_id = f8.claim_id
	left join claim_additional_reference_number_type f8_carnt
		on f8.claim_additional_reference_number_type_id =f8_carnt.claim_additional_reference_number_type_id
			and f8_carnt.golden_key = ''f8''
where 1=1'




if (@claimUd is not null)
begin 
set @command = @command + ' 
								 and claim_ud = ''' + @claimUd + ''''
end

if (@externalClaimId is not null)
begin set @command = @command + '
									and d9.additional_reference_number  ''' + @externalClaimId + ''''
end
if (@clearinghouseClaimId is not null)
begin set @command = @command + '
									and f8.additional_reference_number = ''' + @clearinghouseClaimId + ''''
end
if (@fromDate is not null)
begin set @command = @command + '
									and check_date >= ''' + convert(nvarchar(max), @fromDate, 21) + ''''
end
if (@toDate is not null)
begin set @command = @command + '
									and check_date <= ''' + convert(nvarchar(max), @todate, 21) + ''''
end


exec (@command)

GO
