USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_transport_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_transport_load]
(
@claim_transport_id  INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
ct.claim_transport_id,
ct.claim_id,
ct.claim_procedure_id,
ctrc.claim_transport_reason_code_id,
ctrc.claim_transport_reason_code_ud,
ct.distance,
ct.patient_quantity,
ct.patient_weight,
ct_drop_off.address_1 as drop_off_address_1,
ct_drop_off.address_2 as drop_off_address_2,
ct_drop_off.city as drop_off_city,
ct_drop_off.locale_id as drop_off_locale_id,
ct_drop_off.state_code as drop_off_state_code,
ct_drop_off.postal_code as drop_off_postal_code,
ct_drop_off.country_code as drop_off_country_code,
ct_drop_off.country_subdivision_code as drop_off_country_subdivision_code,
ct_pick_up.address_1 as pick_up_address_1,
ct_pick_up.address_2 as pick_up_address_2,
ct_pick_up.city as pick_up_city,
ct_pick_up.locale_id as pick_up_locale_id,
ct_pick_up.state_code as pick_up_state_code,
ct_pick_up.postal_code as pick_up_postal_code,
ct_pick_up.country_code as pick_up_country_code,
ct_pick_up.country_subdivision_code as pick_up_country_subdivision_code
FROM claim_transport ct
LEFT JOIN claim_transport_reason_code ctrc
ON ct.claim_transport_reason_code_gk = ctrc.golden_key
LEFT JOIN claim_transport_address ct_drop_off
ON ct.claim_transport_id = ct_drop_off.claim_transport_id AND ct_drop_off.claim_transport_address_type_gk = '45'
LEFT JOIN claim_transport_address ct_pick_up
ON ct.claim_transport_id = ct_pick_up.claim_transport_id AND ct_pick_up.claim_transport_address_type_gk = 'PW'
WHERE
ct.claim_transport_id = @claim_transport_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
