USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_get_max_effective_date]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 06/07/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/07/2005	HungTNguyen	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
get the limit for an Accumulator on Accumulator Framework
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_get_max_effective_date]
(

@accumulator_framework_accumulator_class_accumulator_id int=null
,@effective_from        			DATETIME = NULL
,@effective_thru				DATETIME = NULL

) AS


DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''
,@Prefix	= ''
,@Suffix	= ''


SET @SqlQuery ='
SELECT max(individual_value) as ind_max_limit
,max(family_value) as fam_max_limit
FROM 	accumulator_sub_limit
LEFT JOIN accumulator_sub_limit_rule on accumulator_sub_limit.accumulator_sub_limit_id = accumulator_sub_limit_rule.accumulator_sub_limit_id
WHERE (1=1)'

IF NOT @accumulator_framework_accumulator_class_accumulator_id IS NULL
SET @SqlCondition = @SqlCondition + ' AND (accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id = ' + CONVERT(varchar(10), @accumulator_framework_accumulator_class_accumulator_id) + ')'

IF (@effective_from IS NOT NULL) AND (@effective_from <> '')
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( (effective_thru is null) or  (DATEDIFF(day, effective_thru, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''' ) <= 0 )) '
END

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, effective_from, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''' ) >= 0  )'


--print (@SqlQuery + @SqlCondition )

EXEC(@SqlQuery + @SqlCondition )

RETURN @SP_SUCCESS
GO
