USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_category_product_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
Date: 07/10/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2009	CCESSNUN				Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Benefit Categories Supported by This product grid
in product form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_category_product_load]
(
@product_id			Int = null
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

declare @current_date datetime
set @current_date = getdate()

SELECT
benefit_category_product.benefit_category_product_id
,benefit_category_product.benefit_category_id
,benefit_category_product.benefit_sub_category_id
,benefit_category_product.benefit_category_id as original_benefit_category_id

,benefit_sub_category.benefit_sub_category_ud as benefit_sub_category_ud

,benefit_category.benefit_category_ud as benefit_category_ud
,benefit_category.description as description
,benefit_category_product.product_id

,product.product_ud
,benefit_category_product.effective_from
,benefit_category_product.effective_thru
,benefit_category_product.active
,benefit_category_product.created_user_name
,benefit_category_product.created_group_id

,benefit_category_product.created_date
,benefit_category_product.modified_date
FROM benefit_category_product
left join benefit_category  ON benefit_category.benefit_category_id = benefit_category_product.benefit_category_id
left join benefit_sub_category  ON benefit_sub_category.benefit_sub_category_id = benefit_category_product.benefit_sub_category_id
left join product  ON product.product_id = benefit_category_product.product_id
WHERE benefit_category_product.product_id = @product_id

ORDER BY
CASE WHEN benefit_category_product.effective_from IS NULL THEN 0 ELSE 1 END , benefit_category_product.effective_from DESC
,CASE WHEN benefit_category_product.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_category_product.effective_thru DESC
--
IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
END
GO
