USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_criteria_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/22/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/22/2008	David Slayton	1.0			Created
02/25/2010	Vishwa			1.1			Removed missing_elgiibility field on claim payment queue criteria grid to															fecilitate denied lines to pick up same quueue
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION: Save data for grid grdCriteria on form frmClaimPaymentQueue.

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_queue_criteria_id
@claim_payment_queue_id
@criteria_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_payment_queue_criteria_save]
(
@claim_payment_queue_queue_criteria_id	INT = 0   OUTPUT
,@claim_payment_queue_id                INT = NULL
,@criteria_id                           INT = NULL
,@vendor_id                             INT = NULL
,@client_id                             INT = NULL
,@client_group_id                       INT = NULL
,@missing_vendor                        BIT = NULL
,@effective_from                        DATETIME = NULL
,@effective_thru                        DATETIME = NULL
,@active                                BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--
IF ISNULL(@claim_payment_queue_queue_criteria_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO claim_payment_queue_queue_criteria(
claim_payment_queue_id
,criteria_id
,vendor_id
,client_id
,client_group_id
,missing_vendor
,effective_from
,effective_thru
,active
)
VALUES
(@claim_payment_queue_id
,@criteria_id
,@vendor_id
,@client_id
,@client_group_id
,@missing_vendor
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @claim_payment_queue_queue_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM claim_payment_queue_queue_criteria WHERE claim_payment_queue_queue_criteria_id = @claim_payment_queue_queue_criteria_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

UPDATE claim_payment_queue_queue_criteria
SET
claim_payment_queue_id  = @claim_payment_queue_id
,criteria_id            = @criteria_id
,vendor_id              = @vendor_id
,client_id              = @client_id
,client_group_id        = @client_group_id
,missing_vendor         = @missing_vendor
,effective_from         = @effective_from
,effective_thru         = @effective_thru
,active                 = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_payment_queue_queue_criteria_id = @claim_payment_queue_queue_criteria_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
