USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_result_amount_claim_clear_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_adjudication_result_amount_claim_clear_save]
(
@udtt_claim_clear_adjudication_amount_override_ids udtt_claim_clear_adjudication_amount_override_ids READONLY ,
@commit BIT ,
@debug SMALLINT
)
AS
BEGIN

IF @debug > 1
BEGIN

SELECT  'in plx_adjudication_result_amount_claim_clear_save b4' ,
ara.eligible_units ,
ara.ineligible_amount ,
ara.net_payment ,
ara.modified_Date ,
arao.*
FROM    adjudication_result_amount ara
INNER JOIN @udtt_claim_clear_adjudication_amount_override_ids cp_arao ON cp_arao.claim_procedure_id = ara.claim_procedure_id
AND cp_arao.adjudication_result_amount_id = ara.[adjudication_result_amount_id]
LEFT JOIN adjudication_result_amount_override arao ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id;



END;

BEGIN TRY

UPDATE  ara
SET     --apply_alternate_course_difference_to_member_expense    = null,
[authorization_required] = NULL ,
[referral_required] = NULL ,
[adjusted_contract_amount] = NULL ,
[alternate_course_member_expense] = CASE WHEN arao.[alternate_course_member_expense] IS NOT NULL
THEN ara.[alternate_course_member_expense]
ELSE NULL
END ,
[anesthesia_base_units] = NULL ,
[authorization_cost] = NULL ,
[authorization_units] = NULL ,
[balance_billable] = CASE WHEN arao.[balance_billable] IS NOT NULL
THEN ara.[balance_billable]
ELSE NULL
END ,
[benefit_contract_value_rate] = NULL ,
[benefit_limit_amount] = CASE WHEN arao.[benefit_limit_amount] IS NOT NULL
THEN ara.[benefit_limit_amount]
ELSE NULL
END ,
[benefit_limit_anesthesia_base_units] = NULL ,
[benefit_limit_bna_conversion_factor] = NULL ,
[benefit_limit_cpt_multiplier] = NULL ,
[benefit_limit_gpci_malpractice_expense_rvu] = NULL ,
[benefit_limit_gpci_practice_expense_rvu] = NULL ,
[benefit_limit_gpci_work_rvu] = NULL ,
[benefit_limit_malpractice_expense_rvu] = NULL ,
[benefit_limit_medical_conversion_factor] = NULL ,
[benefit_limit_practice_expense_rvu] = NULL ,
[benefit_limit_rvu] = NULL ,
[benefit_limit_total_anesthesia_units] = NULL ,
[benefit_limit_work_rvu] = NULL ,
[billed_code_contract_amount] = NULL ,
[bna_conversion_factor] = NULL ,
[code_depreciation_base_amount] = NULL ,
[code_depreciation_percent] = NULL ,
[code_depreciation_rank] = CASE WHEN arao.[code_depreciation_rank] IS NOT NULL
THEN ara.[code_depreciation_rank]
ELSE NULL
END ,
[cob_payment_excess_amount] = CASE WHEN arao.[cob_payment_excess_amount] IS NOT NULL
THEN ara.[cob_payment_excess_amount]
ELSE NULL
END ,
[coinsurance_amount] = CASE WHEN arao.[coinsurance_amount] IS NOT NULL
THEN ara.[coinsurance_amount]
ELSE NULL
END ,
[coinsurance_percent] = NULL ,
[contract_amount] = CASE WHEN arao.[contract_amount] IS NOT NULL
THEN ara.[contract_amount]
ELSE NULL
END ,
[contracted_copay_amount] = NULL ,
[copay_amount] = CASE WHEN arao.[copay_amount] IS NOT NULL
THEN ara.[copay_amount]
ELSE NULL
END ,
[cpt_multiplier] = NULL ,
[daily_limit_rank] = NULL ,
[deductible_amount] = CASE WHEN arao.[deductible_amount] IS NOT NULL
THEN ara.[deductible_amount]
ELSE NULL
END ,
[eligible_units] = CASE WHEN arao.[eligible_units] IS NOT NULL
THEN ara.[eligible_units]
ELSE NULL
END ,
[eligible_visits] = CASE WHEN arao.[eligible_visits] IS NOT NULL
THEN ara.[eligible_visits]
ELSE NULL
END ,
[exceeds_contract_amount] = CASE WHEN arao.[exceeds_contract_amount] IS NOT NULL
THEN ara.[exceeds_contract_amount]
ELSE NULL
END ,
[expected_payment_amount] = NULL ,
[expected_rvu] = NULL ,
[externally_priced_amount] = NULL ,
[ffs_equiv_bna_conversion_factor] = NULL ,
[ffs_equiv_cpt_multiplier] = NULL ,
[ffs_equiv_gpci_malpractice_expense_rvu] = NULL ,
[ffs_equiv_gpci_practice_expense_rvu] = NULL ,
[ffs_equiv_gpci_work_rvu] = NULL ,
[ffs_equiv_malpractice_expense_rvu] = NULL ,
[ffs_equiv_medical_conversion_factor] = NULL ,
[ffs_equiv_practice_expense_rvu] = NULL ,
[ffs_equiv_rvu] = NULL ,
[ffs_equiv_work_rvu] = NULL ,
[ffs_equivalent_amount] = CASE WHEN arao.[ffs_equivalent_amount] IS NOT NULL
THEN ara.[ffs_equivalent_amount]
ELSE NULL
END ,
[first_coverage_distribution_amount] = NULL ,
[first_coverage_provider_amount] = NULL ,
[gpci_malpractice_expense_rvu] = NULL ,
[gpci_practice_expense_rvu] = NULL ,
[gpci_work_rvu] = NULL ,
[indemnity_amount] = NULL ,
[ineligible_amount] = CASE WHEN arao.[ineligible_amount] IS NOT NULL
THEN ara.[ineligible_amount]
ELSE NULL
END ,
[malpractice_expense_rvu] = NULL ,
[medical_conversion_factor] = NULL ,
[member_expense_amount] = NULL ,
[net_payment] = NULL ,
[missing_authorization_penalty_amount] = CASE WHEN arao.[missing_authorization_penalty_amount] IS NOT NULL
THEN ara.[missing_authorization_penalty_amount]
ELSE NULL
END ,
[mips_negative_adjustment_amount] = CASE WHEN arao.[mips_negative_adjustment_amount] IS NOT NULL
THEN ara.[mips_negative_adjustment_amount]
ELSE NULL
END ,
[mips_positive_adjustment_amount] = CASE WHEN arao.[mips_positive_adjustment_amount] IS NOT NULL
THEN ara.[mips_positive_adjustment_amount]
ELSE NULL
END ,
[sequestration_adjustment_amount] = CASE WHEN arao.[sequestration_adjustment_amount] IS NOT NULL
THEN ara.[sequestration_adjustment_amount]
ELSE NULL
END ,
[exceeds_billed_amount] = CASE WHEN arao.[exceeds_billed_amount] IS NOT NULL
THEN ara.[exceeds_billed_amount]
ELSE NULL
END ,
[pre_existing_condition_penalty_amount] = CASE WHEN arao.[pre_existing_condition_penalty_amount] IS NOT NULL
THEN ara.[pre_existing_condition_penalty_amount]
ELSE NULL
END ,
[practice_expense_rvu] = NULL ,
[provider_discount] = CASE WHEN arao.[provider_discount] IS NOT NULL
THEN ara.[provider_discount]
ELSE NULL
END ,
[provider_responsibility_amount] = CASE WHEN arao.[provider_responsibility_amount] IS NOT NULL
THEN ara.[provider_responsibility_amount]
ELSE NULL
END ,
[referral_cost] = NULL ,
[referral_units] = NULL ,
[rvu] = NULL ,
[savings_amount] = NULL ,
[supp_plan_covered_amount] = CASE WHEN arao.[supp_plan_covered_amount] IS NOT NULL
THEN ara.[supp_plan_covered_amount]
ELSE NULL
END ,
[total_anesthesia_units] = NULL ,
[total_member_responsibility] = NULL ,
[visits] = NULL ,
[withhold_amount] = CASE WHEN arao.[withhold_amount] IS NOT NULL
THEN ara.[withhold_amount]
ELSE NULL
END ,
[withhold_percent] = NULL ,
[is_capitated] = NULL,
[work_rvu] = NULL ,
[write_off_amount] = CASE WHEN arao.[write_off_amount] IS NOT NULL
THEN ara.[write_off_amount]
ELSE NULL
END ,
modified_date = GETDATE() ,
modified_user_name = ORIGINAL_LOGIN()
FROM    adjudication_result_amount ara
INNER JOIN @udtt_claim_clear_adjudication_amount_override_ids cp_arao ON cp_arao.claim_procedure_id = ara.claim_procedure_id
AND cp_arao.adjudication_result_amount_id = ara.[adjudication_result_amount_id]
LEFT JOIN adjudication_result_amount_override arao ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id;




IF @debug > 1
BEGIN
SELECT  'in plx_adjudication_result_amount_claim_clear_save aft' ,
ara.eligible_units ,
ara.ineligible_amount ,
ara.net_payment ,
ara.modified_Date ,
arao.*
FROM    adjudication_result_amount ara
INNER JOIN @udtt_claim_clear_adjudication_amount_override_ids aao ON aao.claim_procedure_id = ara.claim_procedure_id
AND aao.adjudication_result_amount_id = ara.[adjudication_result_amount_id]
LEFT JOIN adjudication_result_amount_override arao ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id;
END;


RETURN 0;

END TRY

BEGIN CATCH
DECLARE @ErrorMessage NVARCHAR(4000) ,
@ErrorNumber INT = ERROR_NUMBER() ,
@ErrorSeverity INT = ERROR_SEVERITY() ,
@ErrorState INT = ERROR_STATE() ,
@ErrorLine INT = ERROR_LINE() ,
@ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT  @ErrorMessage = 'Procedure: ' + @ErrorProcedure
+ '  Line: ' + CAST(ERROR_LINE() AS NVARCHAR(16))
+ '  Message: ' + ERROR_MESSAGE();

RETURN @ErrorNumber;

END CATCH;

END;
GO
