USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Huy Than
Date: 8/2/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/01/2005	HiepNguyen	1.1		add tooth_surface_ud, tooth_surface_id, tooth_surface_nm
11/27/2005	HuyThan		1.2		remove tooth_surface_ud, tooth_surface_id, tooth_surface_nm
01/10/2006  	HuyThan     	1.3     	changed claim_line_status_id => adjudication_status_id
08/30/2006	HuyThan		1.4		remove claim.result_code_status_id
29/01/2007	HuyThan		1.5		remove claim_procedure_comment
04/28/2009	Vishwa Jella 1.6		backed out changes for previous updates
07/29/2009	Vishwa		1.7		updated with _id fields for procedure codes
03/11/2010	Vishwa		1.8		added service_preauth field to support dental claim pre_determination services
07/23/2013	eponomareff	1.9		added sequence for diagnosis codes
10/27/2017	eponomareff			RT:11929 - Non-functional change; Added comments ONLY.
01/26/2024	cknobloch		1.10		RT:23783 - Added Hold Functionality
--
CURRENT_VERSION: 1.9
--
DESCRIPTION:
This procedure is used to load data for grid "Record of Services Provided"
in frmDentalClaim form.

RT:11929 -	This stored procedure is also used to populate the read-only partial service grid on the COB Entry form.
ensuring that the sorted order of claim lines is the same as what appears on the claim.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_procedure_load]
(
@dental_claim_id INT = null
)

AS

BEGIN
--
--

SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @claim_id INT

SET @claim_id =
(
SELECT
TOP 1 dental_claim.claim_id
FROM
dental_claim
WHERE
dental_claim.dental_claim_id = @dental_claim_id
)


SELECT * FROM
(
SELECT DISTINCT

claim_procedure.claim_procedure_id,
claim_procedure.claim_id,
claim.claim_ud,
claim_procedure.procedure_code_id,
claim_procedure.procedure_code_ud,
claim_procedure.alternate_procedure_code_id,
claim_procedure.alternate_procedure_code_ud,
claim_procedure.diagnosis_sequence,
-- not sure what these below have to do with dental
diagnosis_code.diagnosis_code_id,
claim_procedure.diagnosis_code_ud,
diagnosis_code.description AS diagnosis_code_description,
claim_procedure.modifiers,
claim_procedure.institutional_rate,
claim_procedure.service_from_date AS procedure_date,
claim_procedure.service_thru_date,
claim_procedure.place_of_service_id,
place_of_service.place_of_service_ud,
claim_procedure.type_of_service_id,
type_of_service.type_of_service_ud,
claim_procedure.units,
claim_procedure.unit_type_dental_claim_id,
dbo.claim_procedure_result_code_combination (claim_procedure.claim_procedure_id) AS 'result_code',
unit_type.unit_type_dental_claim_ud,
claim_procedure.visits,
claim_procedure.repricing_amount AS allowed_amount,
temp_table.net_pay  AS net,
claim_procedure.cob,
dbo.plx_fn_get_cob_amount_for_claim_procedure(claim_procedure.claim_procedure_id) AS 'cob_amount',
null AS cob_entry_button,
claim_procedure.charge,
claim_procedure.non_covered_charge,
claim_procedure.adjudication_status_id AS claim_line_status_id,
adjudication_status.adjudication_status_ud AS claim_line_status_ud,
adjudication_status.golden_key AS adjudication_status_golden_key,
claim_payment_process_status.claim_payment_process_status_ud,
claim_procedure.hold,
claim_payment_process_status.golden_key AS claim_payment_process_status_golden_key,
dbo.claim_procedure_result_code_combination(claim_procedure.claim_procedure_id) AS result_code_status_ud,
claim_procedure.relative_value_units,
claim_procedure.early_periodic_screen,
claim_procedure.emergency,
ISNULL(claim_procedure.claim_line_sequence, 0) AS claim_line_sequence,
claim_procedure.is_negated,
claim_procedure.negated_claim_procedure_id,
claim_procedure.tooth_system_id,
tooth_system.tooth_system_ud,
claim_procedure.tooth_number_letter_id,
tooth_number_letter.tooth_number_letter_ud,
claim_procedure.area_of_oral_cavity_id,
dbo.claim_procedure_tooth_surface_seperators(claim_procedure.claim_procedure_id, '') AS tooth_surface_ud,
claim_procedure.clean_date,
claim_procedure.received_date,
claim_procedure.original_line_amount,
claim_procedure.active,
ISNULL(claim_procedure.service_preauth, 0) AS service_preauth,
CAST(null AS nvarchar(100)) AS button_column,
CAST(0 AS bit) AS is_dirty,
claim_procedure.modified_date,
claim_procedure.[is_system_generated],
is_bundled =
CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN 1
WHEN bundled_to_claim_procedure_id IS NOT NULL THEN 1
ELSE 0
END,
bundled_group_id =
CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN claim_procedure.claim_procedure_id
ELSE bundled_to_claim_procedure_id
END,
bundled_to_claim_procedure_id,
bundled_from_claim_procedure_id

FROM
claim_procedure
LEFT JOIN claim
ON claim.claim_id = claim_procedure.claim_id
LEFT JOIN claim_payment_process_status
ON claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN diagnosis_code
ON diagnosis_code.diagnosis_code_ud = claim_procedure.diagnosis_code_ud
LEFT JOIN place_of_service
ON place_of_service.place_of_service_id = claim_procedure.place_of_service_id
LEFT JOIN type_of_service
ON type_of_service.type_of_service_id = claim_procedure.type_of_service_id
LEFT JOIN unit_type_dental_claim unit_type
ON unit_type.unit_type_dental_claim_id = claim_procedure.unit_type_dental_claim_id
LEFT JOIN adjudication_status
ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
LEFT JOIN tooth_system
ON tooth_system.tooth_system_id = claim_procedure.tooth_system_id
LEFT JOIN tooth_number_letter
ON tooth_number_letter.tooth_number_letter_id = claim_procedure.tooth_number_letter_id
LEFT JOIN
(
SELECT
adjudication_result_amount.claim_procedure_id, SUM(net_payment) AS net_pay
FROM
adjudication_result_amount
WHERE net_payment IS NOT NULL
GROUP BY
claim_procedure_id
) temp_table
ON temp_table.claim_procedure_id = claim_procedure.claim_procedure_id
-- for lines bundled by dental alternate course of treatment
LEFT JOIN claim_procedure_bundle
ON claim_procedure.claim_procedure_id = claim_procedure_bundle.bundled_from_claim_procedure_id
WHERE
claim_procedure.claim_id = @claim_id

) AS CP_DISTINCT

ORDER BY
-- get bundled groups on top, with system created line on top of the bundle
is_bundled DESC,	-- puts bundled groups at the top
-- group bundles together by system-generated line, or driving line
CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN claim_procedure_id
ELSE bundled_to_claim_procedure_id
END ASC,
-- ensure system-generated line appears on top
ISNULL(bundled_from_claim_procedure_id, 0) ASC,
-- desired ordering for dental
procedure_date ASC,
ISNULL(tooth_number_letter_ud, 'ZZ') ASC,
area_of_oral_cavity_id ASC,
tooth_surface_ud ASC,
claim_line_sequence ASC



RETURN @SP_SUCCESS

END
GO
