USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_caption_sel_by_report_parameter_caption_ud]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_report_parameter_caption_sel_by_report_parameter_caption_ud] (
@report_parameter_caption_ud nvarchar(510)
) As

Select
report_parameter_caption_id,
report_parameter_caption_ud
From
report_parameter_caption
Where
report_parameter_caption_ud = @report_parameter_caption_ud
GO
