USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_complex_duplicate_claim_rule_load_by_claim_form]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/06/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Loads data for drop down complex_duplicate_claim_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_complex_duplicate_claim_rule_load_by_claim_form]
(
@from_claim_form_type_id INT = NULL,
@to_claim_form_type_id INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
*
FROM
dbo.complex_duplicate_claim_rule cdcr
WHERE
(@from_claim_form_type_id IS NULL OR cdcr.from_claim_form_type_id = @from_claim_form_type_id)
AND (@to_claim_form_type_id IS NULL OR cdcr.to_claim_form_type_id = @from_claim_form_type_id )
ORDER BY
complex_duplicate_claim_rule_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
