USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_relation_to_subscriber_child_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 09/07/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
1. Load data for pnlRelationshipRestrictions panel on Eligibility Restriction form
2. Load data for pnlBenefitCategory panel on Eligibility Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_relation_to_subscriber_child_load]
(
@auto_termination_rule_relationship_to_subscriber_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
auto_termination_rule_relationship_to_subscriber_id
,auto_termination_rule_id
,term_age_number_of_units
,term_age_unit_day_week_month_year_id
,ISNULL(exclude_all_disabled, 0) as exclude_all_disabled
,ISNULL(exclude_handicapped, 0) as exclude_handicapped
,auto_termination_date_rule_id
,auto_termination_event_id
,atrrts.disability_status_set_id
,disability_status_set_ud
,fetr.family_eligibility_termination_reason_id
,fetr.family_eligibility_termination_reason_ud
,fetr.family_eligibility_termination_reason_nm
,fetr.description AS family_eligibility_termination_reason_description
FROM auto_termination_rule_relationship_to_subscriber atrrts
LEFT JOIN family_eligibility_termination_reason fetr
ON atrrts.family_eligibility_termination_reason_id = fetr.family_eligibility_termination_reason_id
LEFT JOIN disability_status_set dss
ON atrrts.disability_status_set_id = dss.disability_status_set_id
WHERE atrrts.auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
