USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_advance_benefit_contract_period_benefit_plan_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha			1.1		created_date and modified_date using DB Server date
2008/12/10	lrenard			1.2		removed 'visit_definition_id'
2009/08/03	David Slayton	1.3		Add call_share_processing_rule_id.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--

CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to save data for two forms:
Benefit Contract Template Advanced Plan Setup
Benefit Contract Advanced Plan Setup
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id - Key to benefit_contract_period_benefit_plan table, identifies a single benefit_contract_period_benefit_plan,
@benefit_contract_period_id
@benefit_plan_id
@auto_create_member_id_rule_id
@eligibility_seed_value
@annual_accumulator_rollover_rule_id
@restart_accumulator_months_id
@restart_accumulator_day_of_month
@restart_accumulator_number_of_months
@accumulator_start_date
@pre_existing_condition_rule_id
@hipaa_claim_filing_indicator_id
@pay_claim_to_id
@billing_only
@call_share_processing_rule_id
@missing_authorization_penalty_rule_id
@age_calculation_rule_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_advance_benefit_contract_period_benefit_plan_save]
(
@benefit_contract_period_benefit_plan_id       int = NULL   OUTPUT
,@benefit_contract_period_id                   int = NULL
,@benefit_plan_id                              int = NULL
,@auto_create_member_id_rule_id                int = NULL
,@eligibility_seed_value                       varchar(50) = NULL
,@annual_accumulator_rollover_rule_id          int = NULL
,@restart_accumulator_months_id                int = NULL
,@restart_accumulator_day_of_month             int = NULL
,@restart_accumulator_number_of_months         int = NULL
,@accumulator_start_date                       datetime = NULL
,@pre_existing_condition_rule_set_id           int = NULL
,@hipaa_claim_filing_indicator_id              int = NULL
,@pay_claim_to_id                              int = NULL
,@billing_only                                 bit = NULL
,@call_share_processing_rule_id                int = NULL
,@missing_authorization_penalty_rule_id        int = NULL
,@age_calculation_rule_id                      int = NULL
,@is_ineligible_amount_provider_responsibility bit = NULL
,@active                                       bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @benefit_contract_period_benefit_plan_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan(
benefit_contract_period_id
,benefit_plan_id
,auto_create_member_id_rule_id
,eligibility_seed_value
,annual_accumulator_rollover_rule_id
,restart_accumulator_months_id
,restart_accumulator_day_of_month
,restart_accumulator_number_of_months
,accumulator_start_date
,pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id
,pay_claim_to_id
,billing_only
,call_share_processing_rule_id
,missing_authorization_penalty_rule_id
,age_calculation_rule_id
,is_ineligible_amount_provider_responsibility
,active
)
VALUES
(
@benefit_contract_period_id
,@benefit_plan_id
,@auto_create_member_id_rule_id
,@eligibility_seed_value
,@annual_accumulator_rollover_rule_id
,@restart_accumulator_months_id
,@restart_accumulator_day_of_month
,@restart_accumulator_number_of_months
,@accumulator_start_date
,@pre_existing_condition_rule_set_id
,@hipaa_claim_filing_indicator_id
,@pay_claim_to_id
,@billing_only
,@call_share_processing_rule_id
,@missing_authorization_penalty_rule_id
,@age_calculation_rule_id
,@is_ineligible_amount_provider_responsibility
,@active
)
--
SET @benefit_contract_period_benefit_plan_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan
SET
benefit_contract_period_id                    = @benefit_contract_period_id
,benefit_plan_id                              = @benefit_plan_id
,auto_create_member_id_rule_id                = @auto_create_member_id_rule_id
,eligibility_seed_value                       = @eligibility_seed_value
,annual_accumulator_rollover_rule_id          = @annual_accumulator_rollover_rule_id
,restart_accumulator_months_id                = @restart_accumulator_months_id
,restart_accumulator_day_of_month             = @restart_accumulator_day_of_month
,restart_accumulator_number_of_months         = @restart_accumulator_number_of_months
,accumulator_start_date                       = @accumulator_start_date
,pre_existing_condition_rule_set_id           = @pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id              = @hipaa_claim_filing_indicator_id
,pay_claim_to_id                              = @pay_claim_to_id
,billing_only                                 = @billing_only
,call_share_processing_rule_id                = @call_share_processing_rule_id
,missing_authorization_penalty_rule_id        = @missing_authorization_penalty_rule_id
,age_calculation_rule_id                      = @age_calculation_rule_id
,is_ineligible_amount_provider_responsibility = @is_ineligible_amount_provider_responsibility
,active                                       = @active
,modified_user_name                           = ORIGINAL_LOGIN()
,modified_date                                = GETDATE()

WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
