USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_visit_definition_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the visit definitions that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE             PROCEDURE [dbo].[plx_find_visit_definition_load]
(
@get_column_headers			BIT = 0,
@visit_definition_ud nvarchar(50)=null,
@visit_definition_nm nvarchar(100)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF @visit_definition_ud IS NOT NULL AND @visit_definition_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(visit_definition_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@visit_definition_ud, @show_exact_matches) + @Suffix
/*
IF @visit_definition_nm IS NOT NULL AND @visit_definition_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND visit_definition_nm ' + @Prefix + dbo.plx_EncodeString(@visit_definition_nm) + @Suffix
*/
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix


SET @SqlQuery =
'		SELECT  visit_definition_id
,visit_definition_ud
--,'''' as visit_definition_nm
, description
FROM 	visit_definition
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
