USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_criteria_false_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le	1.0			create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid "Exceptions: Do Not Accumulate When True" in Accumulator Framework form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_criteria_false_save]
(
@accumulator_criteria_id                    int = NULL   OUTPUT
,@accumulator_framework_accumulator_class_accumulator_id                         int = NULL
,@criteria_id                                int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--
IF @accumulator_criteria_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_criteria(
accumulator_framework_accumulator_class_accumulator_id
,criteria_id
,effective_from
,effective_thru
,accumulate_when_criteria_are_true
,active
)
VALUES
(@accumulator_framework_accumulator_class_accumulator_id
,@criteria_id
,@effective_from
,@effective_thru
,0
,@active
)
--
SET @accumulator_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_criteria WHERE accumulator_criteria_id = @accumulator_criteria_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing record
UPDATE accumulator_criteria
SET
accumulator_framework_accumulator_class_accumulator_id	= @accumulator_framework_accumulator_class_accumulator_id
,criteria_id                              								= @criteria_id
,effective_from                           								= @effective_from
,effective_thru                           								= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_criteria_id = @accumulator_criteria_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
