USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_tier_criteria_amount_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/30/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/30/2009	Chad Maddox	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a capitation rate criteria amount - currently used
in UI when the use changes the tier on an existing capitation rate criteria amount.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_rate_tier_criteria_amount_delete]
(
@capitation_rate_assignment_tier_criteria_amount_id                      int = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM capitation_rate_assignment_tier_criteria_amount
WHERE @capitation_rate_assignment_tier_criteria_amount_id = @capitation_rate_assignment_tier_criteria_amount_id

RETURN @SP_SUCCESS
--
GO
