USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
Date: 02/02/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2014	amortensen	1.2			updated to delete external_claim_result_code_mapping_assignment grid
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
This procedure is used to delete data for Claim Processing Rule Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_claim_processing_rule_framework_delete]

(
@claim_processing_rule_framework_id         int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@SP_DELETE_FAILS nvarchar(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@SP_DELETE_FAILS = 'G_CANNOT_DELETE_CLAIM_PROCESSING_RULE_FRAMEWORK'

--
IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--cannot delete if framework has been used on a claim
IF EXISTS (SELECT * FROM adjudication_result_key WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_DELETE_FAILS)
END

--cannot delete if framework has been assigned to a framework
IF EXISTS (SELECT * FROM claim_processing_rule_framework_assignment WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_DELETE_FAILS)
END

BEGIN TRANSACTION

DELETE FROM claim_processing_rule_framework
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id

IF @@ERROR > 0

BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

--delete external claim editing rules assignment grid
DELETE FROM external_claim_editing_rules_assignment
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id

IF @@ERROR > 0

BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END
--
RETURN @SP_SUCCESS
--
GO
