USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_criteria_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0			Created
02/25/2010	Vishwa			1.1			Removed missing_elgiibility field on auto termination queue criteria grid to															fecilitate denied lines to pick up same quueue
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION: Save data for grid grdCriteria on form frmAutoTerminationQueue.

--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_auto_termination_queue_criteria_save]
(
@auto_termination_queue_queue_criteria_id	INT = 0   OUTPUT
,@auto_termination_queue_id                INT = NULL
,@client_id                             INT = NULL
,@client_group_id                       INT = NULL
,@benefit_contract_id					INT = NULL
,@benefit_plan_id						INT = NULL
,@auto_termination_rule_id				INT = NULL
,@effective_from                        DATETIME = NULL
,@effective_thru                        DATETIME = NULL
,@active                                BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--
IF ISNULL(@auto_termination_queue_queue_criteria_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO auto_termination_queue_queue_criteria(
auto_termination_queue_id
,client_id
,client_group_id
,benefit_contract_id
,benefit_plan_id
,auto_termination_rule_id
,effective_from
,effective_thru
,active
)
VALUES
(@auto_termination_queue_id
,@client_id
,@client_group_id
,@benefit_contract_id
,@benefit_plan_id
,@auto_termination_rule_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @auto_termination_queue_queue_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM auto_termination_queue_queue_criteria WHERE auto_termination_queue_queue_criteria_id = @auto_termination_queue_queue_criteria_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

UPDATE auto_termination_queue_queue_criteria
SET
auto_termination_queue_id  = @auto_termination_queue_id
,client_id				= @client_id
,client_group_id		= @client_group_id
,benefit_contract_id	= @benefit_contract_id
,benefit_plan_id		= @benefit_plan_id
,auto_termination_rule_id = @auto_termination_rule_id
,effective_from         = @effective_from
,effective_thru         = @effective_thru
,active                 = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE auto_termination_queue_queue_criteria_id = @auto_termination_queue_queue_criteria_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
