USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_first_coverage_distribution_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Aug  12 2013  1:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/12/2013	cmaddox		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "First Coverage Distribution"
in the First Coverage Distribution form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_accumulator_first_coverage_distribution_list_load]

(
@accumulator_framework_accumulator_class_accumulator_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
accumulator_first_coverage_distribution.accumulator_first_coverage_distribution_id
,accumulator_first_coverage_distribution.accumulator_framework_accumulator_class_accumulator_id
,accumulator_first_coverage_distribution.percentage
,accumulator_first_coverage_distribution.effective_from
,accumulator_first_coverage_distribution.effective_thru
,accumulator_first_coverage_distribution.modified_user_name
,accumulator_first_coverage_distribution.modified_date
FROM accumulator_first_coverage_distribution
WHERE accumulator_first_coverage_distribution.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
--

RETURN @SP_SUCCESS
--
GO
