USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_premium_volume_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 01/16/2013
--
DESCRIPTION:
This procedure is used to delete data for the frmDisabilityVolume.
Deletes a single record from premium_volume table and its child records

NOTE - QC UI runs plx_premium_volume_check_delete stored procedure before deleting volume
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_disability_premium_volume_delete]

(
@premium_volume_id             int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM premium_volume WHERE premium_volume_id = @premium_volume_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
-- ok to delete premium volume
BEGIN

-- delete child records for age relationship grid
DELETE FROM premium_volume_tier_criteria_value
WHERE premium_volume_id = @premium_volume_id

-- delete object
DELETE FROM premium_volume
WHERE premium_volume_id = @premium_volume_id

END
--
RETURN @SP_SUCCESS
--
GO
