USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_case_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Mar 10 2006 11:01AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down case_type (Type of Case)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_case_type_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
case_type.case_type_id
,case_type.case_type_ud
FROM case_type
ORDER BY case_type.case_type_ud
--
RETURN @SP_SUCCESS
GO
