USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_additional_plan_options_header_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Load data for the Advanced Plan Options form, which is launched
from the Benefit Contract Form. NOTE - This form is read-only except
for the grid. Using this form to get the data row necessary for
some nice automatic grid functionality.

******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_additional_plan_options_header_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcpbp.benefit_contract_period_benefit_plan_id
,bcpbp.benefit_contract_period_id
,bcpbp.benefit_plan_id as initial_benefit_plan_id
,bcpbp.active
,bcpbp.created_user_name
,bcpbp.created_group_id
,bcpbp.created_date
,bcpbp.modified_date

,bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm

,bp.benefit_plan_ud as initial_benefit_plan_ud
,bp.benefit_plan_nm as initial_benefit_plan_nm

FROM benefit_contract_period_benefit_plan bcpbp
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id

WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
