USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to delete a timely claim payment filter.
--
REQUIREMENTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_timely_payment_queue_delete]
(
@claim_timely_payment_queue_id			INT
)
AS

DECLARE	@SP_SUCCESS INT
SELECT	@SP_SUCCESS = 0

DELETE FROM claim_timely_payment_queue_detail
WHERE claim_timely_payment_queue_id = @claim_timely_payment_queue_id

DELETE FROM claim_timely_payment_queue
WHERE claim_timely_payment_queue_id = @claim_timely_payment_queue_id

RETURN @SP_SUCCESS
GO
