USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_credit_memo_ar_applied_invoice_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Deletes an applied invoices on the Customer Credit Memo form's "Apply To" grid.
Delete of "posted" records are not allowed (is_posted)

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_credit_memo_ar_applied_invoice_delete]
(
@accounting_transaction_ar_apply_to_id         INT = NULL
) AS

SET NOCOUNT ON

DELETE accounting_transaction_ar_apply_to
WHERE
accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id
AND ISNULL(is_posted, 0) = 0;

RETURN 0
GO
