USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_commission_payment_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006 	HuyThan		1.0		Created
09/20/2006	tinh do		1.1		Add: Description, Pay and Golden column
08/31/2007	pheiner		1.2		Removed golden_key.  Was removed from table.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down commission_payment_status (Commission Payment Status)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_commission_payment_status_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_payment_status.commission_payment_status_id
,commission_payment_status.commission_payment_status_ud
,commission_payment_status.description
,CASE
WHEN commission_payment_status.pay = 0 THEN 'False'
ELSE 'True'
END AS Pay
FROM commission_payment_status
ORDER BY commission_payment_status_ud

--
RETURN @SP_SUCCESS
GO
