USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_stages_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mabdul /cfacey
DATE: 08/16/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in grid check if the stage is already ran
--
REQUIREMENTS:
--
INPUTS:
@correspondence_stage_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_correspondence_stages_check_delete]
(
@correspondence_stage_id		INT = NULL
)
AS

BEGIN
DECLARE
@SP_DELETE_ABLE			INT,
@SP_DELETE_UNABLE			INT,
@SP_EXCEPTION				INT,
@FINAL_RESULT				INT

SELECT
@SP_DELETE_ABLE			= 1,
@SP_DELETE_UNABLE			= 0,
@SP_EXCEPTION				= -1

IF NOT EXISTS (	SELECT 	correspondence_stage_id
FROM 		correspondence_stage
WHERE 	correspondence_stage_id = @correspondence_stage_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
SET @FINAL_RESULT = @SP_DELETE_ABLE

IF EXISTS (
SELECT 	1
FROM	correspondence_run_entity_stage
WHERE 	correspondence_stage_id = @correspondence_stage_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

END

RETURN @SP_DELETE_ABLE
END
GO
