USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_run_detail_by_benefit_contract_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/21/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdAutoTerminationRunDetail on form frmAutoTerminationRunDetail

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_auto_termination_run_detail_by_benefit_contract_load]
(
@auto_termination_run_id    INT = 0
,@benefit_contract_id				INT = 0
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
atr.auto_termination_rule_id
,atr.auto_termination_rule_ud
,bp.benefit_plan_id
,bp.benefit_plan_ud
,elig.family_eligibility_member_benefit_plan_id
,elig.member_eligibility_ud
,m.member_id
, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix) as member_name

FROM dbo.auto_termination_run_detail atrd
JOIN auto_termination_rule atr on atrd.auto_termination_rule_id = atr.auto_termination_rule_id
JOIN family_eligibility_member_benefit_plan elig on atrd.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
JOIN benefit_plan bp on elig.benefit_plan_id = bp.benefit_plan_id
JOIN family_eligibility_member fem on elig.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN family_eligibility fe on fem.family_eligibility_id = fe.family_eligibility_id
JOIN benefit_contract bc on fe.benefit_contract_id = bc.benefit_contract_id
JOIN member m on fem.member_id = m.member_id
LEFT JOIN member_name mn on m.member_id = mn.member_id and mn.is_primary = 1

WHERE atrd.auto_termination_run_id = @auto_termination_run_id and bc.benefit_contract_id = @benefit_contract_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
