USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_agent_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
DATE: 08/08/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/08/2006	HuyThan			1.0		Create
09/06/2006	HuyThan			1.1		Apply DB 266
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.3		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to load data for grid "Records Matching Find Criteria"
in frmFindAgent form.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_find_agent_load]

(
@get_column_headers		BIT = 0
,@agent_ud					NVARCHAR(50) = NULL
,@agent_name_last			NVARCHAR(100) = NULL
,@agent_name_first			NVARCHAR(100) = NULL
,@agent_gender_id			INT = NULL
,@effective_from        	DATETIME = NULL
,@effective_thru			DATETIME = NULL
,@agent_id_type_id			INT = NULL
,@brokerage_identifier_id	INT = NULL
,@state_id					INT = NULL
,@carrier_id				INT = NULL
,@client_group_id			INT = NULL
,@family_eligibility_id		INT	= NULL
,@vendor_id					INT = NULL
,@agent_vendor_tax			NVARCHAR(50) = NULL
,@customer_id				INT = NULL
,@show_exact_matches		BIT = 0
,@show_licensed_agents		BIT = 0
,@show_only_current			BIT = 0

)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000)
,@sqlCondition nvarchar(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

IF (@show_exact_matches = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

SET	@sqlString =  '
SELECT 	DISTINCT  TOP (dbo.fn_results_limit())
agent.agent_id
,agent_identifier.agent_identifier_id
,agent_identifier.agent_ud
,agent.effective_from
,agent.effective_thru
,agent_identifier.agent_id_type_id
,agent_id_type.agent_id_type_ud
,agent_allowed_appointment.state_id
,state.state_ud
,agent_allowed_appointment.carrier_id
,carrier.carrier_ud
,dbo.plx_ConcatenateName(agent_name.name_last, agent_name.name_first, agent_name.name_middle, agent_name.name_suffix) as agent_full_name
FROM agent
INNER JOIN agent_or_brokerage_type ON agent_or_brokerage_type.agent_or_brokerage_type_id = agent.agent_or_brokerage_type_id
AND agent_or_brokerage_type.golden_key = ''Agent''
LEFT JOIN agent_identifier ON agent.agent_id = agent_identifier.agent_id
LEFT JOIN agent_id_type ON agent_identifier.agent_id_type_id = agent_id_type.agent_id_type_id
LEFT JOIN agent_name ON agent_name.agent_id = agent.agent_id
AND agent_name.is_primary = 1
LEFT JOIN agent_allowed_appointment ON agent_allowed_appointment.agent_id = agent.agent_id
LEFT JOIN state ON state.state_id = agent_allowed_appointment.state_id
LEFT JOIN carrier ON carrier.carrier_id = agent_allowed_appointment.carrier_id '

SET
@sqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (@agent_ud IS NOT NULL) AND (@agent_ud <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(agent_identifier.agent_ud, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@agent_ud, @show_exact_matches) + @suffix
END

IF (@agent_name_last IS NOT NULL) AND (@agent_name_last <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(agent_name.name_last, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@agent_name_last, @show_exact_matches) + @suffix
END

IF (@agent_name_first IS NOT NULL) AND (@agent_name_first <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(agent_name.name_first, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@agent_name_first, @show_exact_matches) + @suffix
END

IF isnull(@agent_gender_id, 0) > 0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.gender_id = ' + CONVERT(NVARCHAR, @agent_gender_id) + ') '
END

IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, agent.effective_from, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''' ) <= 0 ) '

END

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, agent.effective_thru, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''' ) >= 0 ) '
END

IF isNull(@agent_id_type_id,0) > 0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent_identifier.agent_id_type_id = ' + CONVERT(NVARCHAR, @agent_id_type_id) + ') '
END

-- @brokerage_identifier_id --
IF isnull(@brokerage_identifier_id, 0) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN (
SELECT
agent_brokerage.agent_id
FROM agent_brokerage
WHERE agent_brokerage.brokerage_agent_identifier_id = ' +  CONVERT (varchar(10), @brokerage_identifier_id) + '
UNION
SELECT
agent_brokerage.agent_id
FROM agent_brokerage
INNER JOIN agent_identifier as brokerage_identifier ON agent_brokerage.brokerage_agent_id = brokerage_identifier.agent_id
WHERE brokerage_identifier.agent_identifier_id = ' +  CONVERT (varchar(10), @brokerage_identifier_id) + '
) )'
END

--------------------------------------------------------------------------------------------------------------------
IF isnull(@state_id, 0 ) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent_allowed_appointment.state_id = ' + CONVERT(NVARCHAR, @state_id) + ') '

END

IF isnull(@carrier_id, 0) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent_allowed_appointment.carrier_id = ' + CONVERT(NVARCHAR, @carrier_id) + ') '
END

-- @client_group_id --
IF isnull(@client_group_id, 0) >0
BEGIN
-- Do nothing; there is not currently a link between group and agent.
SET @sqlCondition = @sqlCondition
END

-- @family_eligibility_id --
IF isnull(@family_eligibility_id, 0) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN
(SELECT
agent_identifier.agent_id
FROM family_eligibility_commission_split
INNER JOIN agent_identifier ON agent_identifier.agent_identifier_id = family_eligibility_commission_split.agent_identifier_id
WHERE family_eligibility_commission_split.family_eligibility_id = ' +  CONVERT (varchar(10), @family_eligibility_id) + '
UNION
SELECT
agent_identifier.agent_id
FROM family_eligibility_commission_split
INNER JOIN family_eligibility_commission_distribution ON family_eligibility_commission_distribution.family_eligibility_commission_split_id = family_eligibility_commission_split.family_eligibility_commission_split_id
INNER JOIN agent_identifier ON agent_identifier.agent_identifier_id = family_eligibility_commission_distribution.agent_identifier_id
WHERE family_eligibility_commission_split.family_eligibility_id = ' +  CONVERT (varchar(10), @family_eligibility_id) + '
) )'
END
-- @vendor_id --
IF isnull(@vendor_id, 0) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN
(SELECT
agent_vendor.agent_id
FROM agent_vendor
WHERE agent_vendor.vendor_id = ' +  CONVERT (varchar(10), @vendor_id) + '
) )'
END

-- @agent_vendor_tax --
IF (@agent_vendor_tax IS NOT NULL) AND (@agent_vendor_tax <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN
(SELECT
agent_vendor.agent_id
FROM agent_vendor
INNER JOIN vendor ON agent_vendor.vendor_id = vendor.vendor_id
WHERE ISNULL(vendor.federal_ein, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@agent_vendor_tax, @show_exact_matches) + @suffix	 + '
)'
END

-- @customer_id --
IF isnull(@customer_id, 0) >0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN
(SELECT
agent_customer.agent_id
FROM agent_customer
WHERE agent_customer.customer_id = ' +  CONVERT (varchar(10), @customer_id) + '
) )'
END

-- @show_only_current
IF (@show_only_current = 1)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, agent.effective_from, getdate() ) >= 0  AND DATEDIFF(day, isnull(agent.effective_thru,getdate()), getdate() ) <= 0 ) '
END

-- @show_licensed_agents
IF (@show_licensed_agents = 1)
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (agent.agent_id IN
(SELECT
agent_license.agent_id
FROM agent_license
WHERE agent_license.cancellation_reason_id is null
) )'
END
print @sqlString + @sqlCondition + 'order by agent_identifier.agent_ud ASC, agent_full_name ASC, agent.effective_from ASC, agent.effective_thru '
exec(@sqlString + @sqlCondition + 'order by agent_identifier.agent_ud ASC, agent_full_name ASC, agent.effective_from ASC, agent.effective_thru ' )
END
GO
