USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_claim_procedure_is_bundled]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_check_claim_procedure_is_bundled]
(
@claim_procedure_id    Int = NULL
)
AS

BEGIN
--
DECLARE
@SP_SUCCESS int
,@IS_BUNDLED bit
SELECT
@SP_SUCCESS = 0
,@IS_BUNDLED = 0

-- get bundles
IF EXISTS ( SELECT 1 from claim_procedure_bundle cpb
WHERE
cpb.bundled_from_claim_procedure_id = ISNULL(@claim_procedure_id, 0)
OR
cpb.bundled_to_claim_procedure_id = ISNULL(@claim_procedure_id, 0)
)
BEGIN
SET @IS_BUNDLED = 1
END

RETURN @IS_BUNDLED

END
GO
