USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_timely_payment_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for grid "Records Matching Find Criteria"
in frmFindTimelyClaimPaymentFilter form.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_find_claim_timely_payment_queue_load]

(
@get_column_headers							BIT = 0
,@claim_timely_payment_queue_ud				NVARCHAR(50) = NULL
,@effective_from							DATE = NULL
,@effective_thru							DATE = NULL
,@description								NVARCHAR(255) = NULL
,@claim_date_type_id						INT = NULL
,@claim_form_type_id						INT	= NULL
,@claim_adjudication_status_id				INT	= NULL
,@claim_procedure_adjudication_status_id	INT	= NULL
,@claim_payment_process_status_id			INT	= NULL
,@age_in_days_from							INT = NULL
,@age_in_days_thru							INT = NULL
,@state_set_id								INT = NULL
,@payment_penalty_calendar_id				INT = NULL
,@only_paper_claims							BIT = NULL
,@show_exact_matches						BIT = 0
,@show_only_current							BIT = 0
)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000)
,@sqlCondition nvarchar(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

IF (@show_exact_matches = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

SET	@sqlString =  '
SELECT 	DISTINCT  TOP (dbo.fn_results_limit())
filter.claim_timely_payment_queue_id
,filter.claim_timely_payment_queue_ud
,filter.description
,filter.effective_from
,filter.effective_thru
FROM claim_timely_payment_queue filter
LEFT JOIN state_set ss ON ss.state_set_id = filter.state_set_id
'

SET
@sqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (@claim_timely_payment_queue_ud IS NOT NULL) AND (@claim_timely_payment_queue_ud <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(filter.claim_timely_payment_queue_ud, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@claim_timely_payment_queue_ud, @show_exact_matches) + @suffix
END

IF (@description IS NOT NULL) AND (@description <> '')
BEGIN
SET @sqlCondition = @sqlCondition + ' AND (ISNULL(filter.description, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @suffix
END

IF (@claim_date_type_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.claim_date_type_id = ' +  CONVERT(NVARCHAR, @claim_date_type_id )
END

IF (@claim_form_type_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.claim_form_type_id = ' +  CONVERT(NVARCHAR, @claim_form_type_id )
END


IF (@claim_adjudication_status_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.claim_adjudication_status_id = ' +  CONVERT(NVARCHAR, @claim_adjudication_status_id )
END


IF (@claim_procedure_adjudication_status_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.claim_procedure_adjudication_status_id = ' +  CONVERT(NVARCHAR, @claim_procedure_adjudication_status_id )
END


IF (@claim_payment_process_status_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.claim_payment_process_status_id = ' +  CONVERT(NVARCHAR, @claim_payment_process_status_id )
END

IF (@age_in_days_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.age_in_days_from = ' +  CONVERT(NVARCHAR, @age_in_days_from )
END

IF (@age_in_days_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.age_in_days_thru = ' +  CONVERT(NVARCHAR, @age_in_days_thru )
END

IF (@state_set_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.state_set_id = ' +  CONVERT(NVARCHAR, @state_set_id )
END

IF (@payment_penalty_calendar_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.payment_penalty_calendar_id = ' +  CONVERT(NVARCHAR, @payment_penalty_calendar_id )
END

IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( filter.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) '
END

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( filter.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END

IF (@only_paper_claims = 1) -- only restricting when checked
BEGIN
SET @sqlCondition = @sqlCondition + ' AND filter.only_paper_claims = ' +  CONVERT(NVARCHAR, @only_paper_claims)
END

-- @show_only_current
IF (@show_only_current = 1)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, filter.effective_from, getdate() ) >= 0  AND DATEDIFF(day, isnull(filter.effective_thru,getdate()), getdate() ) <= 0 ) '
END

print @sqlString + @sqlCondition + 'order by filter.claim_timely_payment_queue_ud ASC '
exec(@sqlString + @sqlCondition + 'order by filter.claim_timely_payment_queue_ud ASC ' )
END
GO
