USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_history_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
12/11/2012  eponomareff         removed salary and hours columns, moved to compensation grid
added employment_status_code
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to save a row for grid "Employment History"
in Family Eligibility form.

NOTE - Salary and Hourly information has been moved from the "Employment History" grid,
(table: family_eligibility_employment_history) to the "Compensation" grid
(table: family_eligibility_employment_compensation).

--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_employment_history_save]

(
@family_eligibility_employment_history_id         int = NULL   OUTPUT
,@family_eligibility_employment_id                 int
,@employee_class_id                                int = NULL
,@employee_division_id                             int = NULL
,@employee_subdivision_id                          int = NULL
,@employment_status_code_id					       int = NULL
,@occupation_code_id                               int = NULL
,@effective_from                                   datetime = NULL
,@effective_thru                                   datetime = NULL
,@active                                           bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @family_eligibility_employment_history_id is Null
BEGIN

--- Create a new record select * from family_eligibility_employment_history
INSERT INTO family_eligibility_employment_history(
family_eligibility_employment_id
,employee_class_id
,employee_division_id
,employee_subdivision_id
,employment_status_code_id
,occupation_code_id
,effective_from
,effective_thru
,active
)
VALUES
(@family_eligibility_employment_id
,@employee_class_id
,@employee_division_id
,@employee_subdivision_id
,@employment_status_code_id
,@occupation_code_id
,@effective_from
,@effective_thru
,@active
)
--
SET @family_eligibility_employment_history_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(SELECT * FROM family_eligibility_employment_history WHERE family_eligibility_employment_history_id = @family_eligibility_employment_history_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_employment_history

SET
family_eligibility_employment_id         = @family_eligibility_employment_id
,employee_class_id                        = @employee_class_id
,employee_division_id                     = @employee_division_id
,employee_subdivision_id                  = @employee_subdivision_id
,employment_status_code_id                = @employment_status_code_id
,occupation_code_id                       = @occupation_code_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_employment_history_id = @family_eligibility_employment_history_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
