USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_choice_list_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/15/2006      Trinh Le                         remove checking 'family choice list resoluton' table
2006/02/20	Thuy Ha				Check if benefit_framework_choice_list is resolved at an Episode
2006/03/03	Thuy Ha				Change table benefit_period_benefit_plan_choice_list to
table benefit_contract_benefit_accumulator_
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a benefit_choice_list node in benefit class/choice list ID tree
, check if this item has any reference.
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_choice_list_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_benefit_framework_choice_list_check_delete]
(
@benefit_framework_choice_list_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

SET	@result	= @SP_DELETE_ABLE -- Change @SP_DELETE_UNABLE to @SP_DELETE_ABLE by Thuy Ha on 2006/02/18

IF NOT EXISTS (	SELECT 	benefit_framework_choice_list_id
FROM 	dbo.benefit_framework_choice_list
WHERE 	benefit_framework_choice_list_id = @benefit_framework_choice_list_id )
BEGIN
--SET @result = @SP_EXCEPTION
RETURN @SP_EXCEPTION
END
--
--ELSE
IF EXISTS(	SELECT 	benefit_coverage_rules_id
FROM	dbo.benefit_coverage_rules
WHERE 	benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
--SET @result = @SP_DELETE_UNABLE
RETURN @SP_DELETE_UNABLE
END

IF EXISTS	(
SELECT	1
FROM	benefit_contract_benefit_class_choice_resolution AS bcbccr
INNER JOIN benefit_framework_valid_choice AS bfvc
ON bfvc.benefit_framework_valid_choice_id = bcbccr.benefit_framework_valid_choice_id
WHERE	bfvc.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
/*
2006/02/18: Added by Thuy Ha to check if Valid Choices of selected Choice List
are being used by Family Eligibility?
*/
IF EXISTS 	(
SELECT 1
FROM family_eligibility_benefit_class_choice_list_resolution febcclr
INNER JOIN benefit_framework_valid_choice bfvc
ON bfvc.benefit_framework_valid_choice_id = febcclr.benefit_framework_valid_choice_id
WHERE bfvc.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

/*
2006/02/18: Added by Thuy Ha to check if Valid Choices of selected Choice List
are being used by Benefit Plan?
*/
IF EXISTS 	(
SELECT 1
FROM benefit_plan_benefit_class_choice_resolution bpbccr
INNER JOIN benefit_framework_valid_choice bfvc
ON bfvc.benefit_framework_valid_choice_id = bpbccr.benefit_framework_valid_choice_id
WHERE bfvc.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

-- Benefit framework choice list is resolved at an Episode
IF EXISTS 	(
SELECT 1
FROM episode_benefit_class_choice_list_resolution ebcclr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = ebcclr.benefit_coverage_rules_id
WHERE bcr.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

RETURN @result
END
GO
