USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_benefit_class_choice_resolution_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Date: 10/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/03/2007	Abhishek		1.0		Created
03/13/2008	lrenard		1.5		removing of returning 2 rows with null IDs whether there is a resolution saved or not
insert 1 row with previous period valid choice value a NULL valid choice value for each resolution that has not been saved
11/30/2011	cknobloch		1.6		RT 	2103 - never returning a choice list with only one choice.
08/22/2013	amortensen	1.7		RT:5063 - Receiving Concurrency Lock Error when trying to modify a Choice List
11/08/2023	cknobloch		1.8		RT:15911 - Terminated benefit rule but the choice list still shows up in a new benefit plan period
--

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Read data from the benefit_contract_benefit_class_choice_resolution table.
This stored procedure is used in the Benefit Class Choice Resolved at benefit plan period grid of the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_benefit_class_choice_resolution_list_load] (
@benefit_contract_period_benefit_plan_id INT = NULL,
@benefit_contract_id INT = NULL
)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

--Insert previous period data
INSERT INTO benefit_contract_period_benefit_plan_benefit_class_choice_resolution (
benefit_contract_period_benefit_plan_id,
benefit_coverage_rules_id,
benefit_framework_valid_choice_id,
active,
modified_date
)
SELECT @benefit_contract_period_benefit_plan_id AS benefit_contract_period_benefit_plan_id,
benefit_coverage_rules.benefit_coverage_rules_id,
dbo.plx_fn_get_benefit_contract_period_benefit_plan_benefit_class_choice_list_resolution_valid_choice(benefit_coverage_rules.benefit_coverage_rules_id, bp.benefit_plan_id, bcp.benefit_contract_period_id) AS benefit_framework_valid_choice_id,
1,
bc1.modified_date
FROM benefit_contract bc1
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_id = bc1.benefit_contract_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
WHERE rcla.golden_key = N'BENEFIT CONTRACT'
AND bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (bfcl.benefit_framework_choice_list_id IS NOT NULL)
AND NOT EXISTS (
SELECT benefit_contract_period_benefit_plan_benefit_class_choice_resolution_id
FROM benefit_contract_period_benefit_plan_benefit_class_choice_resolution bcpbpbccr1
WHERE (benefit_coverage_rules.benefit_coverage_rules_id = bcpbpbccr1.benefit_coverage_rules_id)
AND (bcpbpbccr1.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
)
--Leave this out to insert nulls for valid choice, this is to prevent if a period is made and the previous period get data inserted, the null values will be overwritten
--AND dbo.plx_fn_get_benefit_contract_period_benefit_plan_benefit_class_choice_list_resolution_valid_choice(
--benefit_coverage_rules.benefit_coverage_rules_id,bp.benefit_plan_id,bcp.benefit_contract_period_id	) IS NOT NULL
AND 1 <= (
SELECT COUNT(benefit_framework_valid_choice_id)
FROM benefit_framework_valid_choice bfvc1
WHERE bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
)
AND (
(
bcp.effective_from >= benefit_coverage_rules.effective_from
AND (
benefit_coverage_rules.effective_thru IS NULL
OR bcp.effective_from <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)
OR (
bcp.effective_from < benefit_coverage_rules.effective_from
AND (
bcp.effective_thru IS NULL
OR bcp.effective_thru <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)

)

--Select choices that need to be resolved and have no previous period data
SELECT NULL AS benefit_contract_period_benefit_plan_benefit_class_choice_resolution_id,
benefit_coverage_rules.benefit_coverage_rules_id,
bc.benefit_class_id,
bc.benefit_class_ud,
benefit.benefit_id,
benefit.benefit_ud,
NULL AS benefit_plan_id,
bfcl.benefit_framework_choice_list_id,
bfcl.benefit_framework_choice_list_ud,
CONVERT(INT, NULL) AS benefit_framework_valid_choice_id,
CONVERT(NVARCHAR, NULL) AS valid_choice,
benefit_coverage_rules.effective_from AS bc_eff_from,
benefit_coverage_rules.effective_thru AS bc_eff_thru,
bc1.modified_date
FROM benefit_contract bc1
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_id = bc1.benefit_contract_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
WHERE rcla.golden_key = N'BENEFIT CONTRACT'
AND bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (bfcl.benefit_framework_choice_list_id IS NOT NULL)
AND NOT EXISTS (
SELECT benefit_contract_period_benefit_plan_benefit_class_choice_resolution_id
FROM benefit_contract_period_benefit_plan_benefit_class_choice_resolution bcpbpbccr1
WHERE (benefit_coverage_rules.benefit_coverage_rules_id = bcpbpbccr1.benefit_coverage_rules_id)
AND (bcpbpbccr1.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
)
AND 1 <= (
SELECT COUNT(benefit_framework_valid_choice_id)
FROM benefit_framework_valid_choice bfvc1
WHERE bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
)
AND (
(
bcp.effective_from >= benefit_coverage_rules.effective_from
AND (
benefit_coverage_rules.effective_thru IS NULL
OR bcp.effective_from <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)
OR (
bcp.effective_from < benefit_coverage_rules.effective_from
AND (
bcp.effective_thru IS NULL
OR bcp.effective_thru <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)
)

UNION

SELECT bcpbpbccr.benefit_contract_period_benefit_plan_benefit_class_choice_resolution_id,
benefit_coverage_rules.benefit_coverage_rules_id,
bc.benefit_class_id,
bc.benefit_class_ud,
benefit.benefit_id,
benefit.benefit_ud,
bcpbpbccr.benefit_contract_period_benefit_plan_id,
bfcl.benefit_framework_choice_list_id,
bfcl.benefit_framework_choice_list_ud,
bfvc.benefit_framework_valid_choice_id AS benefit_framework_valid_choice_id,
bfvc.valid_choice AS valid_choice,
benefit_coverage_rules.effective_from AS bc_eff_from,
benefit_coverage_rules.effective_thru AS bc_eff_thru,
bcpbpbccr.modified_date
FROM dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
INNER JOIN dbo.benefit_contract_period_benefit_plan_benefit_class_choice_resolution bcpbpbccr
ON bcpbpbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
AND bcpbpbccr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpbccr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN dbo.benefit_framework_valid_choice bfvc
ON bfvc.benefit_framework_valid_choice_id = bcpbpbccr.benefit_framework_valid_choice_id
WHERE rcla.golden_key = N'BENEFIT CONTRACT'
AND 1 <= (
SELECT COUNT(benefit_framework_valid_choice_id)
FROM benefit_framework_valid_choice bfvc1
WHERE bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
)
AND (
(
bcp.effective_from >= benefit_coverage_rules.effective_from
AND (
benefit_coverage_rules.effective_thru IS NULL
OR bcp.effective_from <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)
OR (
bcp.effective_from < benefit_coverage_rules.effective_from
AND (
bcp.effective_thru IS NULL
OR bcp.effective_thru <= ISNULL(benefit_coverage_rules.effective_thru, '8-8-8888')
)
)
)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
