USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_address_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         PROCEDURE [dbo].[plx_beneficiary_address_save]
(
@beneficiary_address_id                     int = NULL   OUTPUT
,@primary_for_beneficiary                    bit = NULL
,@contact_address_type_id                    int = NULL
,@beneficiary_id                             int = NULL
,@address_id                                 int = NULL   OUTPUT
,@address_1                                  nvarchar(100) = NULL
,@address_2                                  nvarchar(100) = NULL
,@address_3                                  nvarchar(100) = NULL
,@delivery_route                             nvarchar(10) = NULL
,@locale_id                                  int = NULL
,@mail_ok                                    bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
BEGIN

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '1588800008',
@ERROR_NOT_EXIST	= '1589800009'


IF @beneficiary_address_id is Null
BEGIN
--- Create a new address record
INSERT INTO address(
address_1
,address_2
,address_3
,delivery_route
,locale_id
,active
)
VALUES
(@address_1
,@address_2
,@address_3
,@delivery_route
,@locale_id
,@active
)
SET @address_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

--- Create a new beneficiary_address record
INSERT INTO beneficiary_address(
is_primary
,contact_address_type_id
,beneficiary_id
,address_id
,mail_ok
,effective_from
,effective_thru
,active
)
VALUES
(@primary_for_beneficiary
,@contact_address_type_id
,@beneficiary_id
,@address_id
,@mail_ok
,@effective_from
,@effective_thru
,@active
)
--
SET @beneficiary_address_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM beneficiary_address WHERE beneficiary_address_id = @beneficiary_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing address record
UPDATE address
SET
address_1								  = @address_1
,address_2                                = @address_2
,address_3                                = @address_3
,delivery_route							  = @delivery_route
,locale_id                                = @locale_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE address_id = @address_id

--- Updating an existing beneficiary_address record
UPDATE beneficiary_address
SET
is_primary                               = @primary_for_beneficiary
,contact_address_type_id                  = @contact_address_type_id
,beneficiary_id                           = @beneficiary_id
,address_id                               = @address_id
,mail_ok                                  = @mail_ok
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE beneficiary_address_id = @beneficiary_address_id
END

RETURN @SP_SUCCESS
END
GO
