USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/19/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/19/2005      Lamnguyen	1.1   		create
09/17/2008	David Slayton	1.2			Removed accounting_company_first_segment_id and nm columns.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_client_load]
(
@client_id	Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client.client_id
,client.client_acronym
,client.effective_from
,client.effective_thru
,client.termination_reason_id
,client_name.client_ud
,client_name.client_name_id
,client_name.client_nm
,client_name.[description]
,client_name.alias_type_id
,termination_reason.termination_reason_id
,client.comment
,client.incorporated_date
,client.accounting_company_id
,accounting_company.accounting_company_ud
,accounting_company.[description] As 'accounting_company_description'
,client.incorporated_country_id as country_id
,country.country_ud
,client.incorporated_state_id as state_id
,state.state_ud
,client.contractor_ud
,client.contractor_nm
,client.claim_payment_grouping_rule_id
,client.premium_payment_grouping_rule_id
,ppgr.premium_payment_grouping_rule_ud
,client.insurer_tin_id
,insurer_tin_ref.tax_identification_number as insurer_tin_tax_id_number
,client.employer_group_tin_id
,empl_group_tin_ref.tax_identification_number as employer_group_tin_tax_id_number
,convert( nvarchar ,client.created_date ,101) as     client_created_date
FROM client
left join client_name on client_name.client_id=client.client_id and client_name.primary_name=1
left join termination_reason  ON termination_reason.termination_reason_id = client.termination_reason_id
left join country  ON country.country_id = client.incorporated_country_id
left join state on state.state_id=client.incorporated_state_id
left join accounting_company on client.accounting_company_id=accounting_company.accounting_company_id
left join tin_reference insurer_tin_ref on client.insurer_tin_id = insurer_tin_ref.tin_reference_id
left join tin_reference empl_group_tin_ref on client.employer_group_tin_id = empl_group_tin_ref.tin_reference_id
left join premium_payment_grouping_rule ppgr on client.premium_payment_grouping_rule_id = ppgr.premium_payment_grouping_rule_id
WHERE client.client_id = @client_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
