USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_customer_refund_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Loads a Customer Refund
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_customer_refund_load]
(
@accounting_transaction_ar_id	INT = NULL
)
AS
--
--

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
ata.accounting_transaction_ar_id -- customer refund id
,ata.accounting_transaction_ar_ud -- customer refund ud
,detail.accounting_transaction_ar_refund_detail_id
,ata.customer_id
,ata.accounting_transaction_ar_type_id
,ata.transaction_date
,ISNULL(ata.transaction_amount,0) as refund_amount -- customer refund amount
,c.customer_ud
,detail.payment_method_customer_id
,pmc.payment_method_customer_ud
,ata.accounting_company_id
,ac.accounting_company_ud
,detail.bank_account_id
,ba.bank_account_ud
,detail.ar_accounting_company_account_id
,aca.accounting_company_account_ud as ar_accounting_company_account_ud
,detail.accounting_payment_status_id
,aps.accounting_payment_status_ud
,aps.golden_key As 'accounting_payment_status_golden_key'
,detail.check_ach_reference
,detail.memo
,detail.modified_date
,detail.modified_user_name
FROM accounting_transaction_ar ata
JOIN accounting_transaction_ar_refund_detail detail
ON ata.accounting_transaction_ar_id = detail.accounting_transaction_ar_id
LEFT JOIN payment_method_customer pmc
ON detail.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN bank_account ba
ON detail.bank_account_id = ba.bank_account_id
LEFT JOIN accounting_payment_status aps
ON detail.accounting_payment_status_id = aps.accounting_payment_status_id
LEFT JOIN customer c
ON ata.customer_id = c.customer_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca
ON detail.ar_accounting_company_account_id = aca.accounting_company_account_id
WHERE
ata.accounting_transaction_ar_id = @accounting_transaction_ar_id;

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
