USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_account_category_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Ravi
DATE: 08/30/2012
--
REVISION_HISTORY:
--
Date  Modified By Version  Description
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_account_category_type_load]
AS
--
DECLARE
@SP_SUCCESS INT

SELECT
@SP_SUCCESS = 0

SELECT
account_category_id
,account_category_ud
FROM
account_category
WHERE
account_category_ud IN ('CASH','EXPENSE')
--
RETURN @SP_SUCCESS
--
GO
