USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_claim_procedure_grace_period_ready_for_readjudication]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[plx_dto_claim_procedure_grace_period_ready_for_readjudication](
@enrollment_id		INT = NULL,
@benefit_contract_id INT = NULL
)

AS

DECLARE @CONCURRENCY_LOCK_TYPE_ID int

SELECT @CONCURRENCY_LOCK_TYPE_ID = concurrency_lock_type_id
FROM concurrency_lock_type WHERE golden_key = 'CLAIM'

SELECT cpgp.*
FROM claim_procedure_grace_period cpgp
LEFT JOIN grace_period_status cpgp_gps
ON cpgp.grace_period_status_id = cpgp_gps.grace_period_status_id
INNER JOIN claim_procedure cp
ON cpgp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_status adjStatus
ON cp.adjudication_status_id = adjStatus.adjudication_status_id
INNER JOIN claim c
ON cp.claim_id = c.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp
ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN family_eligibility fe
ON fem.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN grace_period_status fe_gps
ON fe.grace_period_status_id = fe_gps.grace_period_status_id
LEFT JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN grace_period_status bc_gps
ON bc.grace_period_status_id = bc_gps.grace_period_status_id
LEFT JOIN premium_setup ps
ON bc.premium_setup_id = ps.premium_setup_id
LEFT JOIN billing_type bt
ON ps.billing_type_id = bt.billing_type_id
WHERE
(bc.premium_setup_id IS NULL -- No premium setup means clear adjudication.  Technically this should not happen, but including just in case.
OR ps.use_grace_period_processing = 0 -- Grace period processing not being used means clear adjudication.
OR
(ps.use_grace_period_processing = 1
AND -- Match pend, hold, and denied settings on premium setup to claim procedure's adjudication status.
(
(ps.readjudicate_pended_grace_period_claim_lines = 1 AND adjStatus.golden_key = 'PEND')
OR (ps.readjudicate_held_grace_period_claim_lines = 1 AND adjStatus.golden_key = 'HOLD')
OR (ps.readjudicate_denied_grace_period_claim_lines = 1 AND adjStatus.golden_key = 'DENY')
)
AND -- Grace period status became current.
(
(bt.golden_key = 'ENROLLMENT' AND fe_gps.golden_key = 'CURRENT')
OR (bt.golden_key = 'Group' AND bc_gps.golden_key = 'CURRENT')
)
)
)
AND ISNULL(@enrollment_id, 1) =
CASE
WHEN @enrollment_id IS NULL THEN 1
ELSE fe.family_eligibility_id
END
AND ISNULL(@benefit_contract_id, 1) =
CASE
WHEN @benefit_contract_id IS NULL THEN 1
ELSE bc.benefit_contract_id
END
AND c.claim_id not in
(SELECT record_id FROM concurrency_lock WHERE concurrency_lock_type_id = @CONCURRENCY_LOCK_TYPE_ID)
GO
