USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_country_load_all]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:Trinh Le
Oct 12 2005 10:02AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2014	dcannon		1.0		Adload all countries
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down country (Country)
used by the contry address format rules in the Address Rules table of the system config form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_country_load_all]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
country.country_id,
country.country_ud,
country_nm,
country.golden_key
FROM country

ORDER BY  country.country_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
