USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_amount_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a record in the Claim - Additional Carrier Information grid on the Claim COB Entry form

NOTE - This stored procedure is NOT YET IN USE because the
Claim - Additional Carrier Information grid on the Claim COB Entry form cannot be edited by the user.

******************************/
CREATE    PROCEDURE [dbo].[plx_claim_cob_amount_delete]
(
@claim_cob_adjustment_id                         int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = ''

--
IF NOT EXISTS (SELECT * FROM dbo.claim_cob_adjustment WHERE @claim_cob_adjustment_id = @claim_cob_adjustment_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

DELETE FROM dbo.claim_cob_adjustment
WHERE claim_cob_adjustment_id = @claim_cob_adjustment_id

DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
