USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_criteria_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_criteria_list_load]
(
@coverage_level_process_queue_id    INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
crit.coverage_level_process_queue_criteria_id
,crit.benefit_category_id
,cat.benefit_category_ud
FROM dbo.coverage_level_process_queue_criteria crit
LEFT JOIN dbo.benefit_category cat ON crit.benefit_category_id = cat.benefit_category_id
WHERE crit.coverage_level_process_queue_id = @coverage_level_process_queue_id
ORDER BY cat.benefit_category_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
