USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_get_referral]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_history_get_referral] (@referralId INT) AS
SELECT
ar.adjudication_referral_id,
ar.claim_procedure_id,
cp.claim_id,
ar.referral_id,
ar.referral_authorized_procedure_id,
ar.units,
ar.visits,
ar.dollars
FROM
adjudication_referral ar
JOIN claim_procedure cp
ON ar.claim_procedure_id = cp.claim_procedure_id

WHERE
ar.referral_id = @referralId;

SELECT
ar.adjudication_referral_id,
ar.claim_procedure_id,
cp.claim_id,
ar.referral_id,
ar.referral_authorized_procedure_id,
ar.units,
ar.visits,
ar.dollars
FROM
adjudication_referral ar
JOIN claim_procedure cp
ON ar.claim_procedure_id = cp.claim_procedure_id
JOIN referral_authorized_procedure rap
ON rap.referral_authorized_procedure_id = ar.referral_authorized_procedure_id
WHERE
rap.referral_id = @referralId
AND ar.referral_id IS NULL;
GO
