USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_configurable_validation_entity_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_configurable_validation_entity_list_load]
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cve.configurable_validation_entity_id
,cve.configurable_validation_entity_ud
,cve.golden_key
FROM plx_domain_validation.configurable_validation_entity cve
ORDER BY cve.configurable_validation_entity_ud
GO
