USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_bank_account_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/28/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2006	Nghi Nguyen	1.0			create
2008/05/16	lrenard				accounting company schema and form changes
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a bank account in accounting company.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_bank_account_delete]
(
@bank_account_id         int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM bank_account WHERE bank_account_id = @bank_account_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @CAN_DELETE int
EXEC @CAN_DELETE = plx_bank_account_check_delete @bank_account_id

IF @CAN_DELETE <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Delete child data
DECLARE @address_id int
SELECT @address_id = address_id from bank_account where bank_account_id = @bank_account_id

DELETE FROM bank_account_contact
WHERE bank_account_id = @bank_account_id

DELETE FROM account_assignment_claim_payment_disbursement
WHERE bank_account_id = @bank_account_id

-- Delete bank account
DELETE FROM bank_account
WHERE bank_account_id = @bank_account_id

DELETE FROM address
WHERE address_id  = @address_id

END
--
RETURN @SP_SUCCESS
--
GO
