USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_vendor_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
DATE: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	TINH DO		CREATED		15901: CLIENT & GROUP
11/14/2006	mai tran				remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a row in Vendor Assignments grid on Group form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_vendor_delete]
(
@client_group_vendor_id                     int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CAN_NOT_DELETE	NVARCHAR(50),
@ERROR_NOT_EXIST			NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CAN_NOT_DELETE = '159010031',
@ERROR_NOT_EXIST ='159010032'
--
IF NOT EXISTS (SELECT * FROM client_group_vendor WHERE client_group_vendor_id = @client_group_vendor_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM client_group_vendor
WHERE client_group_vendor_id = @client_group_vendor_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CAN_NOT_DELETE)
END
END
--

RETURN @SP_SUCCESS
--
GO
