USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_additional_information_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 4/1/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data into grid "Additional Information" (grdBCPBPAdditionalInfo)
in Benefit Contract Period Benefit Plan Additional Information form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE                     procedure [dbo].[plx_benefit_contract_period_benefit_plan_additional_information_load]

(
@benefit_contract_period_benefit_plan_id	int = null
, @form_name		varchar(255) = null
)
as
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF (@benefit_contract_period_benefit_plan_id is null) or (@benefit_contract_period_benefit_plan_id = 0)
BEGIN
select 	cast(null as int) as benefit_contract_period_benefit_plan_additional_information_id
,ai.additional_information_id
,ai.is_additional_information_required
,topic.additional_information_topic_id
,topic.additional_information_topic_ud
,data_type.ui_engine_data_type_id --as  additional_information_data_type_id
,topic.user_can_add_data

,cast(value.additional_information_topic_value_id as nvarchar(300)) as additional_information_selection_value
,case 	when 	topic.default_value is null
then	cast(null as nvarchar(300))
else 	cast(topic.default_value as nvarchar(300))
end as additional_information_value	--// value
,case 	when 	topic.default_value is null
then	cast(null as nvarchar(300))
else 	cast(topic.default_value as nvarchar(300))
end as additional_information_raw_value	--// raw_value

,cast(null as datetime)as effective_from
,cast(null as datetime) as effective_thru
,cast(null as nvarchar(50)) as comment
,topic.format_string
,cast(0 as bit) as is_new_value
,ai.modified_date
from 	additional_information as ai
left join additional_information_form as form
on form.additional_information_form_id = ai.additional_information_form_id
left join additional_information_topic as topic
on topic.additional_information_topic_id = ai.additional_information_topic_id
left join additional_information_data_type as data_type
on topic.additional_information_data_type_id = data_type.additional_information_data_type_id
left join additional_information_topic_value as value
on ( 	value.additional_information_topic_id = topic.additional_information_topic_id
and is_topic_value_default = 1
)
where	form.additional_information_form_nm = @form_name
and ai.is_additional_information_required = 1

END
ELSE
BEGIN
select	addtemp.*
from
(
--// NamHo : select topic(has value) from table 'additional_information'
select  benefit_contract_period_benefit_plan_additional_information.benefit_contract_period_benefit_plan_additional_information_id
,benefit_contract_period_benefit_plan_additional_information.additional_information_id
,(select is_additional_information_required from additional_information where additional_information_id = benefit_contract_period_benefit_plan_additional_information.additional_information_id) as is_additional_information_required
,benefit_contract_period_benefit_plan_additional_information.additional_information_topic_id
,topic.additional_information_topic_ud
,data_type.ui_engine_data_type_id --as  additional_information_data_type_id
,topic.user_can_add_data

,case 	when 	benefit_contract_period_benefit_plan_additional_information.additional_information_selection_value is null and ui_engine_data_type.ui_engine_data_type_id = 30
then	benefit_contract_period_benefit_plan_additional_information.additional_information_value
else	benefit_contract_period_benefit_plan_additional_information.additional_information_selection_value
end	as 	additional_information_selection_value 	--// selection value
,case 	when 	ui_engine_data_type.ui_engine_data_type_id = 30
then	null
else	benefit_contract_period_benefit_plan_additional_information
.additional_information_value
end	as 	additional_information_value		--// value
,case when ui_engine_data_type.ui_engine_data_type_id = 30
then	null
else	benefit_contract_period_benefit_plan_additional_information.additional_information_value
end	as 	additional_information_raw_value	--// raw_value

,benefit_contract_period_benefit_plan_additional_information.effective_from
,benefit_contract_period_benefit_plan_additional_information.effective_thru
,benefit_contract_period_benefit_plan_additional_information.comment
,topic.format_string
,cast(0 as bit) as is_new_value
,benefit_contract_period_benefit_plan_additional_information.modified_date
from 	benefit_contract_period_benefit_plan_additional_information
left join additional_information_topic as topic
on topic.additional_information_topic_id = benefit_contract_period_benefit_plan_additional_information.additional_information_topic_id
left join additional_information_data_type as data_type
on topic.additional_information_data_type_id = data_type.additional_information_data_type_id
left join ui_engine_data_type
on ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
where	benefit_contract_period_benefit_plan_additional_information.additional_information_topic_id is not null
and benefit_contract_period_benefit_plan_additional_information.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
union
--// NamHo : select topic from table of each entity
select  benefit_contract_period_benefit_plan_additional_information.benefit_contract_period_benefit_plan_additional_information_id
,benefit_contract_period_benefit_plan_additional_information.additional_information_id
,ai.is_additional_information_required
,topic.additional_information_topic_id
,topic.additional_information_topic_ud
,data_type.ui_engine_data_type_id --as additional_information_data_type_id
,topic.user_can_add_data

,case 	when 	benefit_contract_period_benefit_plan_additional_information.additional_information_selection_value is null and ui_engine_data_type.ui_engine_data_type_id = 30
then	benefit_contract_period_benefit_plan_additional_information.additional_information_value
else	benefit_contract_period_benefit_plan_additional_information.additional_information_selection_value
end	as 	additional_information_selection_value 	--// selection value
,case 	when 	ui_engine_data_type.ui_engine_data_type_id = 30
then	null
else	benefit_contract_period_benefit_plan_additional_information.additional_information_value
end	as 	additional_information_value		--// value
,case when ui_engine_data_type.ui_engine_data_type_id = 30
then	null
else	benefit_contract_period_benefit_plan_additional_information.additional_information_value
end	as 	additional_information_raw_value	--// raw_value

,benefit_contract_period_benefit_plan_additional_information.effective_from
,benefit_contract_period_benefit_plan_additional_information.effective_thru
,benefit_contract_period_benefit_plan_additional_information.comment
,topic.format_string
,cast(0 as bit)	as is_new_value
,benefit_contract_period_benefit_plan_additional_information.modified_date
from 	benefit_contract_period_benefit_plan_additional_information
left join additional_information as ai
on ai.additional_information_id = benefit_contract_period_benefit_plan_additional_information.additional_information_id
left join additional_information_topic as topic
on topic.additional_information_topic_id = ai.additional_information_topic_id
left join additional_information_data_type as data_type
on topic.additional_information_data_type_id = data_type.additional_information_data_type_id
left join ui_engine_data_type
on ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
where	benefit_contract_period_benefit_plan_additional_information.additional_information_id is not null
and benefit_contract_period_benefit_plan_additional_information.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
) as addtemp
ORDER BY addtemp.additional_information_topic_ud
,CASE WHEN addtemp.effective_from IS NULL THEN 0 ELSE 1 END , addtemp.effective_from DESC
,CASE WHEN addtemp.effective_thru IS NULL THEN 0 ELSE 1 END , addtemp.effective_thru DESC
END
--
RETURN @SP_SUCCESS
--
GO
