USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_billing_fee_ar_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
03/27/2020 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/27/2020	Aaron Mortensen	1.0			Created from plx_account_assignment_premium_billing_delete

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from grdPBFeesARAccountAssignment on frmAccountAssignments.
--
REQUIREMENTS:
--
INPUTS:
@account_assignment_premium_billing_fee_ar_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_account_assignment_premium_billing_fee_ar_delete](
@account_assignment_premium_billing_fee_ar_id	INT = NULL
)
AS
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50);
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER';
--
IF NOT EXISTS (
SELECT 1
FROM account_assignment_premium_billing_fee_ar
WHERE account_assignment_premium_billing_fee_ar_id = @account_assignment_premium_billing_fee_ar_id)
BEGIN
RETURN @SP_EXCEPTION;
END
--
ELSE
BEGIN
DELETE FROM account_assignment_premium_billing_fee_ar
WHERE account_assignment_premium_billing_fee_ar_id = @account_assignment_premium_billing_fee_ar_id;

DECLARE
@ErrorVar INT,
@RowCountVar INT;
SELECT
@ErrorVar = @@ERROR,
@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE);
END
ELSE IF @RowCountVar = 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED);
END
END
--
RETURN @SP_SUCCESS;
--
GO
