USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_admission_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/29/2005	Nghi Nguyen	1.0		create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down admission_type (Admission Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_dd_admission_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
admission_type.admission_type_id
,admission_type.admission_type_ud
,admission_type.admission_type_nm
FROM admission_type
ORDER BY admission_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
