USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_category_effective_by_provider_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Oct 12 2005 10:46AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/06	TinhDo		Created		15656

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_provider_category_effective_by_provider_load]
(
@provider_id Int =null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
provider_category.provider_category_id
,provider_category_type.provider_category_type_ud as provider_category_ud

FROM provider_category
INNER JOIN provider ON provider.provider_id = provider_category.provider_id
AND provider_category.provider_id = @provider_id
left join provider_category_type  ON provider_category.provider_category_type_id = provider_category_type.provider_category_type_id
WHERE 		(DATEDIFF(DAY,provider_category.effective_from,GETDATE()) >= 0)
AND
(
DATEDIFF(DAY,GETDATE(), provider_category.effective_thru) >= 0
OR provider_category.effective_thru IS NULL
)
ORDER BY provider_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
