USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 11/17/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2010	eponomareff Created		Check alternate course deletion
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
See if a alternate course is in use
--
REQUIREMENTS:
--
INPUTS:
@id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_alternate_course_check_delete]
(
@id	int = 0
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

SET	@result	= @SP_DELETE_ABLE

IF EXISTS(
select 1
from benefit_plan_alternate_course_of_treatment_definition bpacotd
where
bpacotd.alternate_course_of_treatment_map_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

RETURN @result
END
GO
