USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_queue_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	07/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/16/2012	cknobloch		1.2     added new fields (RT:3046)
06/05/2013  eponomareff     1.3     changed @description to @claim_analysis_filter_description
to avoid cloberring by returning find forms with
their own "description" field (i.e., product, fee schedule)
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to load data for claim analysis queue
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_analysis_queue_load]
(
@claim_analysis_queue_id			INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
caq.claim_analysis_queue_id
,caq.claim_analysis_queue_ud
,caq.claim_selection_priority_id
,csp.claim_selection_priority_ud
,caq.effective_from
,caq.effective_thru
,caq.description as claim_analysis_filter_description

,caq.client_id
,cn.client_ud

,caq.client_set_id
,cs.client_set_ud

,caq.client_group_id
,gn.client_group_ud

,caq.client_group_set_id
,gs.client_group_set_ud

,caq.benefit_contract_id
,bc.benefit_contract_ud

,caq.product_id
,p.product_ud

,caq.family_eligibility_member_benefit_plan_id
,fembp.member_eligibility_ud

,caq.family_eligibility_id
,fe.family_eligibility_ud

,caq.fee_schedule_id
,fs.fee_schedule_ud

,caq.provider_network_id
,pn.provider_network_ud

,caq.provider_type_id as claim_provider_type_id

,caq.provider_identifier_id
,pid.provider_ud

,caq.diagnosis_type_id as claim_diagnosis_type_id

,caq.diagnosis_code_group_id
,dcg.diagnosis_code_group_ud

,caq.procedure_code_group_id
,pcg.procedure_code_group_ud

,caq.service_code_group_id
,pcg_service.procedure_code_group_ud as service_code_group_ud

,caq.result_code_set_id
,rcs.result_code_set_ud

,caq.percentage_of_claims

,caq.claim_form_type_id
,cft.claim_form_type_ud

,caq.claim_type_id
--need load function for ud

,caq.claim_status_id
,adjs.adjudication_status_ud AS claim_status_ud

,caq.adjudication_status_id--claim line status
,adjs.adjudication_status_ud
,caq.adjudication_status_all_lines

,caq.claim_date_type_id
,cdt.claim_date_type_ud
,caq.claim_date_type_from_date
,caq.claim_date_type_thru_date

,caq.value_from
,caq.from_unit_day_week_month_year_id
,unit_from.unit_day_week_month_ud AS from_unit_day_week_month_year_ud

,caq.value_thru
,caq.thru_unit_day_week_month_year_id
,unit_thru.unit_day_week_month_ud AS thru_unit_day_week_month_year_ud

,caq.institutional_statement_from_date
,caq.institutional_statement_thru_date

,caq.claim_amount_type_id
,cat.claim_amount_type_ud
,caq.amount_min
,caq.amount_max

,caq.disursement_creation_date

,caq.additional_information_topic_id
,t.additional_information_topic_ud

,caq.additional_information_topic_value

,caq.active
,caq.created_user_name
,caq.created_group_id
,caq.created_date
,caq.modified_date

FROM claim_analysis_queue caq
LEFT JOIN result_code_set rcs  ON rcs.result_code_set_id = caq.result_code_set_id
LEFT JOIN provider_network pn  ON pn.provider_network_id = caq.provider_network_id
LEFT JOIN provider_identifier pid  ON pid.provider_identifier_id = caq.provider_identifier_id
LEFT JOIN benefit_contract bc  ON bc.benefit_contract_id = caq.benefit_contract_id
LEFT JOIN client_group g  ON g.client_group_id = caq.client_group_id
LEFT JOIN client_group_name gn ON (gn.client_group_id = g.client_group_id) AND (gn.primary_name = 1)
LEFT JOIN client_group_set gs  ON gs.client_group_set_id = caq.client_group_set_id
LEFT JOIN client c  ON c.client_id = caq.client_id
LEFT JOIN client_name cn ON (cn.client_id = c.client_id) AND (cn.primary_name = 1)
LEFT JOIN client_set cs  ON cs.client_set_id = caq.client_set_id
LEFT JOIN adjudication_status adjs  ON adjs.adjudication_status_id = caq.adjudication_status_id
LEFT JOIN claim_selection_priority csp  ON csp.claim_selection_priority_id = caq.claim_selection_priority_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = caq.claim_form_type_id
LEFT JOIN claim_amount_type cat ON cat.claim_amount_type_id = caq.claim_amount_type_id
LEFT JOIN claim_date_type cdt ON cdt.claim_date_type_id = caq.claim_date_type_id
LEFT JOIN additional_information_topic t ON t.additional_information_topic_id = caq.additional_information_topic_id
LEFT JOIN procedure_code_group pcg ON pcg.procedure_code_group_id = caq.procedure_code_group_id
LEFT JOIN procedure_code_group pcg_service ON pcg_service.procedure_code_group_id = caq.service_code_group_id
LEFT JOIN diagnosis_code_group dcg ON dcg.diagnosis_code_group_id = caq.diagnosis_code_group_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = caq.family_eligibility_member_benefit_plan_id
LEFT JOIN unit_day_week_month unit_from ON unit_from.unit_day_week_month_id = caq.from_unit_day_week_month_year_id
LEFT JOIN unit_day_week_month unit_thru ON unit_thru.unit_day_week_month_id = caq.thru_unit_day_week_month_year_id
LEFT JOIN fee_schedule fs ON fs.fee_schedule_id = caq.fee_schedule_id
LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = caq.family_eligibility_id
LEFT JOIN product p ON p.product_id = caq.product_id
WHERE caq.claim_analysis_queue_id = @claim_analysis_queue_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
