USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_transaction_invoice_list_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 03/16/2009
--
REVISION_HISTORY:
--
Date        Modified By       Version  Description
--------------------------------------------------------------------------------
03/16/2009	Wade Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Invoices containing Transaction ID
--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_id -- ID of accounting_transaction_ar
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_accounting_information_transaction_invoice_list_load]
(
@accounting_transaction_id int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
atar.accounting_transaction_ar_id
,atar.accounting_transaction_ar_ud
,atar.transaction_amount
,apply_to.amount AS applied_amount
,ats.accounting_transaction_status_id
,ats.accounting_transaction_status_ud
,ats.golden_key

FROM accounting_transaction_ar_apply_to apply_to
LEFT JOIN accounting_transaction_ar atar
ON atar.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_transaction_status ats
ON ats.accounting_transaction_status_id = atar.accounting_transaction_status_id

WHERE
apply_to.to_accounting_transaction_ar_id = @accounting_transaction_id

--
RETURN @SP_SUCCESS
--
GO
