USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_release_information_institutional_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2009-01-07	jgarro			removed aliases of release_information_*
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_release_information_institutional_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
rii.release_information_institutional_id
,rii.release_information_institutional_ud
--,rii.description
FROM release_information_institutional  as rii
ORDER BY rii.release_information_institutional_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
