USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_adjudication_details_benefit_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Nov 14 2013		Created
--
REVISION_HISTORY:
--
Date		Modified By	Version	Description
11/14/2013	Aaron Mortensen		1.0	Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is called to load the Benefit Plan drop down combo box on the
Adjudication Details tab
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_adjudication_details_benefit_plan_load]
(
@claim_procedure_id INT = NULL
)AS
BEGIN
SET NOCOUNT ON;

SELECT
ISNULL(ark.plan_iteration_index,1) as 'plan_iteration_index_id',
bp.benefit_plan_ud
FROM
adjudication_result_key ark
INNER JOIN benefit_plan bp
ON ark.benefit_plan_id = bp.benefit_plan_id
WHERE
claim_procedure_id = @claim_procedure_id
ORDER BY
plan_iteration_index_id ASC
END
GO
