USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_treatment_type_set_usable_in_benefit_framework_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Aug 18 2005  3:40PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_treatment_type_set_usable_in_benefit_framework_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
treatment_type_set.treatment_type_set_id
,treatment_type_set.treatment_type_set_ud
FROM treatment_type_set
WHERE  dbo.plx_is_treatment_type_set_usable_in_befit_framework(treatment_type_set.treatment_type_set_id) = 1
--
order by treatment_type_set_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
