USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_next_available_check_number]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
10/30/2008    Creation
--
REVISION_HISTORY:
--
Date          Modified By     Version		Description
--------------------------------------------------------------------------------
10/30/2008    Vishwa Jella		1.0			Creation ( this procedure is replaced for old store procedure dbo.plx_dd_last_check_number_used.PRC)
01/07/2019	  John Chapman		1.1         Constrain select for MAX number to CHECK payment method

Current Version: 1.1
DESCRIPTION:

This procedure is used to return the next available check number for bank account

( this procedure is replaced for old store procedure dbo.plx_dd_last_check_number_used.PRC)

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:

HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_get_next_available_check_number]
(
@bank_account_id int
)
AS

SET NOCOUNT ON

DECLARE @SP_SUCCESS int
SELECT  @SP_SUCCESS = 0

DECLARE @CHECK_PAYMENT_METHOD_PAYMENT_ID int
SELECT @CHECK_PAYMENT_METHOD_PAYMENT_ID = pmp.payment_method_payment_id
FROM payment_method_payment pmp
WHERE pmp.golden_key = 'CHECK'

SELECT
CASE WHEN ISNULL(b.starting_check, 0) > ISNULL(max(pay.check_ach_reference),0) THEN ISNULL(b.starting_check, 0)
WHEN ISNULL(b.starting_check, 0) <= ISNULL(max(pay.check_ach_reference),0) THEN ISNULL(max(pay.check_ach_reference),0) +1
ELSE (COALESCE(max(pay.check_ach_reference), b.starting_check, 0) + 1) END as next_available_check_number
FROM bank_account b
LEFT JOIN accounting_transaction_ap_payment_detail pay ON pay.bank_account_id = b.bank_account_id
WHERE b.bank_account_id = @bank_account_id
AND pay.payment_method_payment_id = @CHECK_PAYMENT_METHOD_PAYMENT_ID
GROUP BY b.starting_check
--
RETURN @SP_SUCCESS
GO
