USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_distributions_update]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 10/02/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/02/2008    Vishwa Jella		1.0         	created
10/03/2008	  Vishwa Jella		2.0			Updated procedure to re-construct payment distributions.
02/06/2008	  Jeremy Hein						Update for Credit (negative ap)
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete existing distributions for payment and re construct Distributions for that payment by adding transaction or updating apply to amount.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_distributions_update]
(
@from_accounting_transaction_ap_id 		int = NULL OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@cash_account_id int,
@ap_account_id	int,
@amount numeric(20,10),
@trx_type nvarchar(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@cash_account_id = 0,
@ap_account_id = 0,
@amount = 0.0,
@trx_type = ' '
--
-- CASE 1: Create Cash Distributions for Payment

-- If  Distribution exists, Then Delete it
DELETE from accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_distribution.accounting_transaction_ap_id = @from_accounting_transaction_ap_id

--Create new cash distribution for Payement, from transaction expense distributions
DECLARE ca_distributions_for_payment CURSOR FOR
SELECT aca.accounting_company_account_id, trx_type.golden_key, SUM(applyto.amount)
FROM accounting_transaction_ap_apply_to applyto
INNER JOIN accounting_transaction_ap_payment_detail atappd ON applyto.from_accounting_transaction_ap_id = atappd.accounting_transaction_ap_id
INNER JOIN bank_account ba ON atappd.bank_account_id = ba.bank_account_id
INNER JOIN accounting_company_account aca ON ba.cash_accounting_company_account_id = aca.accounting_company_account_id
INNER JOIN accounting_transaction_ap ata ON applyto.to_accounting_transaction_ap_id = ata.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_type trx_type ON ata.accounting_transaction_ap_type_id = trx_type.accounting_transaction_ap_type_id
WHERE applyto.from_accounting_transaction_ap_id = @from_accounting_transaction_ap_id
GROUP BY
aca.accounting_company_account_id, trx_type.golden_key

OPEN ca_distributions_for_payment
FETCH NEXT FROM ca_distributions_for_payment
INTO @cash_account_id, @trx_type, @amount

WHILE @@FETCH_STATUS = 0
BEGIN
IF @cash_account_id <> 0
BEGIN
If not exists (select * from accounting_transaction_ap_distribution where accounting_transaction_ap_id = @from_accounting_transaction_ap_id
and accounting_company_account_id = @cash_account_id)
BEGIN
-- Create Cash Distributions for Payment --If there aren't any Cash Account Distribution in Distribution table for Payment
INSERT INTO accounting_transaction_ap_distribution(
accounting_transaction_ap_id
,accounting_company_account_id
,amount
,is_debit
,active
,created_user_name
,created_date )
VALUES(
@from_accounting_transaction_ap_id
,@cash_account_id
,abs(@amount)
,CASE @trx_type
WHEN 'BILL'		THEN 0 -- set is_debit = false
WHEN 'CREDIT'		THEN 1
END
,1
,SUSER_SNAME()
,getdate())
END
ELSE
BEGIN
UPDATE 	accounting_transaction_ap_distribution
SET amount =		CASE @trx_type
WHEN 'BILL'		THEN amount + @amount -- set is_debit = false
WHEN 'CREDIT'		THEN amount - @amount
END,
active               = 1,
created_user_name    = SUSER_SNAME(),
modified_date        = GETDATE()
WHERE accounting_transaction_ap_id = @from_accounting_transaction_ap_id
and	accounting_company_account_id = @cash_account_id
END

END
FETCH NEXT FROM ca_distributions_for_payment
INTO @cash_account_id, @trx_type, @amount
END

CLOSE ca_distributions_for_payment
DEALLOCATE ca_distributions_for_payment
-- CASE 2: Create AP Distributions for Payment

-- Create New AP Distributions for Payment, from transaction ap distributions.
SET @amount = 0.0

DECLARE ap_distributions_for_payment CURSOR FOR
SELECT dist.accounting_company_account_id, trx_type.golden_key,SUM(applyto.amount)
FROM accounting_transaction_ap_apply_to applyto
INNER JOIN accounting_transaction_ap_distribution dist ON applyto.to_accounting_transaction_ap_id = dist.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap ap ON applyto.to_accounting_transaction_ap_id = ap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_type trx_type ON ap.accounting_transaction_ap_type_id = trx_type.accounting_transaction_ap_type_id
INNER JOIN accounting_company_account account ON dist.accounting_company_account_id = account.accounting_company_account_id
INNER JOIN account_category cat ON account.account_category_id = cat.account_category_id
WHERE applyto.from_accounting_transaction_ap_id = @from_accounting_transaction_ap_id
AND cat.golden_key = 'AP'
GROUP BY
dist.accounting_company_account_id, trx_type.golden_key

OPEN ap_distributions_for_payment
FETCH NEXT FROM ap_distributions_for_payment
INTO @ap_account_id, @trx_type, @amount

WHILE @@FETCH_STATUS = 0
BEGIN
If not exists (select * from accounting_transaction_ap_distribution where accounting_transaction_ap_id = @from_accounting_transaction_ap_id
and accounting_company_account_id = @ap_account_id)
BEGIN
-- Create AP Distributions for Payment --If there aren't any AP Account Distribution in Distribution table for Payment
INSERT INTO accounting_transaction_ap_distribution(
accounting_transaction_ap_id
,accounting_company_account_id
,amount
,is_debit
,active
,created_user_name
,created_date )
VALUES(
@from_accounting_transaction_ap_id
,@ap_account_id
,abs(@amount)
,CASE @trx_type
WHEN 'BILL'		THEN 1 -- set is_debit = true
WHEN 'CREDIT'	THEN 0
END
,1
,SUSER_SNAME()
,getdate())
END
ELSE
BEGIN
UPDATE 	accounting_transaction_ap_distribution
SET amount =		CASE @trx_type
WHEN 'BILL'		THEN amount + @amount -- set is_debit = false
WHEN 'CREDIT'		THEN amount - @amount
END,
active               = 1,
created_user_name    = SUSER_SNAME(),
modified_date        = GETDATE()
WHERE accounting_transaction_ap_id = @from_accounting_transaction_ap_id
and	accounting_company_account_id = @ap_account_id
END

FETCH NEXT FROM ap_distributions_for_payment
INTO @ap_account_id, @trx_type, @amount
END

CLOSE ap_distributions_for_payment
DEALLOCATE ap_distributions_for_payment

--
RETURN @SP_SUCCESS
--
GO
