USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoice_frequency_tier_criteria_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 09/16/2016

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/16/2016	eponomareff		1.0			created RT:10284 System Factors
IMPORTANT - the last ud column is what gets loaded into the dropdown.
This is default behavior in the UI Engine.
Reference: Plexis.UI.PlexisUltraGridColumn class, mUltraDropDown.InitializeLayout method

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Dropdown list for ID field of the grdInvoiceFrequency on the Premium Factor form.

Other columns are needed to populate read-only columns on the grid, but
do not show up in the dropdown (hidden by the PremiumFactorController).

--
REQUIREMENTS:
--
INPUTS:

@tier_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_invoice_frequency_tier_criteria_load]
(
@tier_id int
)

AS

DECLARE	@SP_SUCCESS int
SELECT	@SP_SUCCESS = 0


SELECT
-- read-only columns specific to eligibiltiy tenure tier (display only)
tcif.frequency_id
,f.frequency_ud
-- Important: the ud column to be displayed must be the last ud in the result set
,tc.tier_criteria_id
,tc.tier_criteria_ud

FROM
tier_criteria tc
-- tier_criteria details specific to grid type
INNER JOIN tier_criteria_invoice_frequency tcif ON tcif.tier_criteria_id = tc.tier_criteria_id
INNER JOIN dbo.frequency f ON tcif.frequency_id = f.frequency_id
WHERE
tier_id = @tier_id
ORDER BY tier_criteria_ud


--
RETURN @SP_SUCCESS
--
GO
