USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Dec 19 2005 10:25AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------------------------------------------------------------------------
12/19/2005	Tinh Do			Created		15901:Client & Group
01/12/2006	Hien D Nguyen	1.1			Add alias processing
01/14/2006	Hien D Nguyen	1.2			Checking if client_group_nm is NULL
01/18/2006	Mai Tran					Update for alias
03/08/2006	Thuy Ha						created_date & modified_date use DB Server date
11/14/2006	Mai Tran					remove transaction
10/30/2007	Abhishek		1.2			added column signed_in_state_id
09/17/2008	David Slayton	1.7			Removed accounting_company_second_segment_id column.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
----------------------------------------------------------------------------------------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
Save data for Group form.

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_save]
(
@client_group_id         int = NULL   OUTPUT
,@client_group_name_id    int = NULL   OUTPUT
,@client_group_ud   	NVARCHAR(50) = NULL
,@client_group_nm 	NVARCHAR(100) =NULL
,@description 		NVARCHAR(255) = NULL
,@client_id                                  int = NULL
,@billing_type_id                            int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@termination_reason_id                int = NULL
,@company_type_id                            int = NULL
,@billing_locale_id                          int = NULL
,@incorporated_date                          datetime = NULL
,@country_id                    int = NULL
,@state_id                      int = NULL
,@industry_code_id                           int = NULL
,@contractor_ud                              NVARCHAR(50) = NULL
,@contractor_nm    NVARCHAR(100)=Null
,@client_group_service_representative_id     int = NULL
,@residence_status_id                        int = NULL
,@benefit_contract_id               int = NULL
,@accumulator_framework_id                   int = NULL
,@timely_filing_rule                         bit = NULL
,@timely_filing_number_units                 int = NULL
,@unit_day_week_month_year_id       int = NULL
,@result_code_id               int = NULL
,@timely_filing_result_code_status_id        int = NULL
,@signed_in_state_id                                 int = NULL
,@insurer_tin_id                             int
,@employer_group_tin_id                      int
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010040',
@ERROR_CANT_INSERT 	= '159010038',
@ERROR_CANT_UPDATE 	= '159010039'
DECLARE  @alias_type_id INT

SELECT	@alias_type_id = alias_type_id
FROM	alias_type
WHERE	golden_key = 'COMPANY'


--
IF @client_group_id is Null
BEGIN
--- Create a new record
INSERT INTO client_group(
client_id
,billing_type_id
,effective_from
,effective_thru
,termination_reason_id
,company_type_id
,billing_locale_id
,incorporated_date
,incorporated_country_id
,incorporated_state_id
,industry_code_id
,contractor_ud
,contractor_nm
,residence_status_id
,template_benefit_contract_id
,accumulator_framework_id
,timely_filing_rule
,timely_filing_number_units
,timely_filing_unit_day_week_month_year_id
,timely_filing_result_code_id
,timely_filing_result_code_status_id
,signed_in_state_id
,insurer_tin_id
,employer_group_tin_id
,active
)
VALUES
(@client_id
,@billing_type_id
,@effective_from
,@effective_thru
,@termination_reason_id
,@company_type_id
,@billing_locale_id
,@incorporated_date
,@country_id
,@state_id
,@industry_code_id
,@contractor_ud
,@contractor_nm
,@residence_status_id
,@benefit_contract_id
,@accumulator_framework_id
,@timely_filing_rule
,@timely_filing_number_units
,@unit_day_week_month_year_id
,@result_code_id
,@timely_filing_result_code_status_id
,@signed_in_state_id
,@insurer_tin_id
,@employer_group_tin_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_group_id = @@IDENTITY

--client_group_name
IF @client_group_nm IS NOT NULL OR @client_group_ud IS NOT NULL OR @description IS NOT NULL
BEGIN
INSERT INTO client_group_name(
client_group_id
,client_group_ud
,client_group_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_group_id
,@client_group_ud
,@client_group_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_group_name_id = @@IDENTITY
END

END
ELSE IF NOT EXISTS (SELECT * FROM client_group WHERE client_group_id = @client_group_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE client_group
SET
client_id                                = @client_id
,billing_type_id                          = @billing_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,termination_reason_id              = @termination_reason_id
,company_type_id                          = @company_type_id
,billing_locale_id                        = @billing_locale_id
,incorporated_date                        = @incorporated_date
,incorporated_country_id                  = @country_id
,incorporated_state_id                    = @state_id
,industry_code_id                         = @industry_code_id
,contractor_ud                            = @contractor_ud
,contractor_nm                            = @contractor_nm
,residence_status_id                      = @residence_status_id
,template_benefit_contract_id             = @benefit_contract_id
,accumulator_framework_id                 = @accumulator_framework_id
,timely_filing_rule                       = @timely_filing_rule
,timely_filing_number_units               = @timely_filing_number_units
,timely_filing_unit_day_week_month_year_id     = @unit_day_week_month_year_id
,timely_filing_result_code_id             = @result_code_id
,timely_filing_result_code_status_id      = @timely_filing_result_code_status_id
,signed_in_state_id =  @signed_in_state_id
,insurer_tin_id                           = @insurer_tin_id
,employer_group_tin_id                    = @employer_group_tin_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_group_id = @client_group_id

--------------------------CLIENT GROUP NAME for Alias--------------------------------------------------------------------------

IF @client_group_name_id IS NULL
BEGIN
IF @client_group_nm IS NOT NULL OR @client_group_ud IS NOT NULL OR @description IS NOT NULL
BEGIN
INSERT INTO client_group_name(
client_group_id
,client_group_ud
,client_group_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_group_id
,@client_group_ud
,@client_group_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
SET @client_group_name_id = @@IDENTITY
END
END
ELSE
BEGIN
DECLARE @old_client_group_nm NVARCHAR(100)

SELECT	@old_client_group_nm = client_group_nm
FROM	dbo.client_group_name
WHERE	client_group_name_id =  @client_group_name_id

IF ISNULL(@old_client_group_nm,'') <> ISNULL(@client_group_nm, '') AND @old_client_group_nm IS NOT NULL
BEGIN
UPDATE	client_group_name
SET
primary_name = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE	client_group_name_id = @client_group_name_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

INSERT INTO client_group_name(
client_group_id
,client_group_ud
,client_group_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_group_id
,@client_group_ud
,@client_group_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

SET @client_group_name_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE	client_group_name
SET
client_group_ud	= @client_group_ud
,client_group_nm	= @client_group_nm
,description 		= @description
,active 			= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_group_name_id = @client_group_name_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
END
END
RETURN @SP_SUCCESS
GO
