USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_other_insurance_restriction_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Sept 8th 2011  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Government Health Plans"
in Eligibility Restriction Form/Other Insurance Restriction Tab.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_other_insurance_restriction_list_load]

(
@eligibility_restriction_relationship_to_subscriber_id				Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
eroir.eligibility_restriction_relationship_to_subscriber_id
,eroir.eligibility_restriction_relationship_to_subscriber_other_insurance_restriction_id

,eroir.government_health_plan_id
,government_health_plan.government_health_plan_ud
,ghps.government_health_plan_set_id
,ghps.government_health_plan_set_ud
,eroir.override_result_code_id AS result_code_id
,result_code.result_code_ud
,result_code.short_message

,eroir.override_result_code_status_id AS result_code_status_id

,eroir.effective_from
,eroir.effective_thru
,eroir.modified_date

FROM eligibility_restriction_relationship_to_subscriber_other_insurance_restriction eroir
left join government_health_plan  ON government_health_plan.government_health_plan_id = eroir.government_health_plan_id
left join result_code ON result_code.result_code_id =  eroir.override_result_code_id
left join result_code_status ON result_code_status.result_code_status_id = eroir.override_result_code_status_id
left join government_health_plan_set ghps ON ghps.government_health_plan_set_id = eroir.government_health_plan_set_id

WHERE eroir.eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
