USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_patient_acceptance_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/16/2015  cknobloch   	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down patient_acceptance_status (Patient Acceptance Status)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_patient_acceptance_status_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pas.patient_acceptance_status_id,
pas.patient_acceptance_status_ud
FROM dbo.patient_acceptance_status pas

ORDER BY pas.patient_acceptance_status_ud


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
