USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_by_ud_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
Dec 6 2006 11:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/03/2013	eponomareff	1.1			ICD-10 changes - added diagnosis_code_version_id to result set
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_by_ud_load]
(
@diagnosis_code_ud			nvarchar(50) = null
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
diagnosis_code.diagnosis_code_id
,diagnosis_code.diagnosis_code_ud
,diagnosis_code.diagnosis_code_version_id
,diagnosis_code.description
,diagnosis_code.effective_from
,diagnosis_code.effective_thru
,diagnosis_code.active
,diagnosis_code.created_user_name
,diagnosis_code.created_date
,diagnosis_code.modified_date
FROM diagnosis_code
WHERE diagnosis_code.diagnosis_code_ud = @diagnosis_code_ud
--
RETURN @SP_SUCCESS

END
GO
