USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_stage_data]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************
This stored procedure stages data for the Coverage Level Process,
based on the following optional criteria provided:

o As Of Date -- This is provided by an As Of Date Rule defined
in the Coverage Level Process Queue, or provided directly to
the service as an override. If not provided, today's date is used.

o Benefit Category List -- This is also provided by the Coverage
Level Process Queue. If no list exists, data is not filtered
based on Benefit Category.

This stored procedure inserts records to the staging table:
coverage_level_process_work_table
and returns a count of work items to process.

Indexed temp tables are used to efficiently organize the data.
Details are provided in the comments below.

*********************************************************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_stage_data]
(
@asOfDate DATE = NULL,
@benefitCategoryIds udtt_ids READONLY
)
AS

SET NOCOUNT ON;

-- We reset the identity values each time (keep it truncate, don't change to DELETE without changing how the service requests batches).
TRUNCATE TABLE coverage_level_process_work_table;

/*********************************************************************
STEP 1: Put relevant benefit contract / benefit plans / tiers
into an indexed temp table;
We are filtering out Benefit Contract Period Benefit Plans
without assigned tiers;
We are including only those Benefit Categories specified
(if none, then we assume all Benefit Categories are included)
*********************************************************************/
IF OBJECT_ID('tempdb..#benefitContractbenefitPlanTierIds') IS NOT NULL
DROP TABLE #benefitContractbenefitPlanTierIds
CREATE TABLE #benefitContractbenefitPlanTierIds (
benefit_contract_id INT,
benefit_plan_id INT,
tier_id INT
);
CREATE NONCLUSTERED INDEX ix_benefitPlanId ON #benefitContractbenefitPlanTierIds (benefit_plan_id);
CREATE NONCLUSTERED INDEX ix_benefitContractId ON #benefitContractbenefitPlanTierIds (benefit_contract_id);

IF (SELECT COUNT(1) FROM @benefitCategoryIds) > 0
BEGIN
INSERT INTO #benefitContractbenefitPlanTierIds (
benefit_contract_id,
benefit_plan_id,
tier_id)
SELECT
bcp.benefit_contract_id,
bcpbp.benefit_plan_id,
assign.tier_id
FROM
benefit_contract_period_benefit_plan bcpbp
JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
JOIN benefit_contract_period_benefit_plan_coverage_level_tier_assignment assign
ON bcpbp.benefit_contract_period_benefit_plan_id = assign.benefit_contract_period_benefit_plan_id
JOIN benefit_contract_period bcp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
-- join with frameworks
JOIN benefit_framework bf ON bp.benefit_framework_id = bf.benefit_framework_id
JOIN @benefitCategoryIds bcIds ON bf.benefit_category_id = bcIds.id
WHERE
-- benefit_contract_period must contain As Of Date
bcp.effective_from <= @asOfDate
AND
(bcp.effective_thru IS NULL OR bcp.effective_thru >= @asOfDate)
AND
-- assignment must be current for As Of Date
assign.effective_from <= @asOfDate
AND
assign.effective_thru IS NULL OR assign.effective_thru >= @asOfDate;
END
ELSE
INSERT INTO #benefitContractbenefitPlanTierIds (
benefit_contract_id,
benefit_plan_id,
tier_id)
SELECT
bcp.benefit_contract_id,
bcpbp.benefit_plan_id,
assign.tier_id
FROM
benefit_contract_period_benefit_plan bcpbp
JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
JOIN benefit_contract_period_benefit_plan_coverage_level_tier_assignment assign
ON bcpbp.benefit_contract_period_benefit_plan_id = assign.benefit_contract_period_benefit_plan_id
JOIN benefit_contract_period bcp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE
-- benefit_contract_period must contain As Of Date
bcp.effective_from <= @asOfDate
AND
(bcp.effective_thru IS NULL OR bcp.effective_thru >= @asOfDate)
AND
-- assignment must be current for As Of Date
assign.effective_from <= @asOfDate
AND
(assign.effective_thru IS NULL OR assign.effective_thru >= @asOfDate);


/*********************************************************************
STEP 2: Put ungrouped data into indexed temp table.
We are structuring the data so that a SELECT with
a GROUP BY is efficient.
*********************************************************************/
-- so we don't have to cast the type of a calculated column
DECLARE @CountOne INT = 1;
DECLARE @CountZero INT = 0;

-- default @asOfDate to today's date
IF @asOfDate IS NULL
BEGIN
SET @asOfDate = CONVERT(DATE, GETDATE());
END

IF OBJECT_ID('tempdb..#eligibilityInfo') IS NOT NULL
DROP TABLE #eligibilityInfo
CREATE TABLE #eligibilityInfo (
family_eligibility_id INT,
benefit_plan_id INT,
is_self_one_or_zero INT,
is_spouse_one_or_zero INT,
is_dependent_one_or_zero INT,
assigned_tier_id INT
);
-- composite index column order: put most selective column,
--			that is, the one with the highest count of distinct
--			values (family_eligilbility_id) first in the index;
CREATE NONCLUSTERED INDEX ix_familyEligBenefitPlan
ON #eligibilityInfo (family_eligibility_id, benefit_plan_id, assigned_tier_id);

INSERT INTO #eligibilityInfo (
benefit_plan_id,
family_eligibility_id,
is_self_one_or_zero,
is_spouse_one_or_zero,
is_dependent_one_or_zero,
assigned_tier_id
)
SELECT
elig.benefit_plan_id,
fem.family_eligibility_id,
is_self_one_or_zero = CASE
WHEN rel.golden_key = 'Self' THEN @CountOne
ELSE @CountZero
END,
is_spouse_one_or_zero = CASE
WHEN rel.treat_as_spouse = 1 THEN @CountOne
ELSE @CountZero
END,
is_dependent_one_or_zero = CASE
WHEN rel.treat_as_dependent = 1 THEN @CountOne
ELSE @CountZero
END,
bcbpIds.tier_id
FROM  family_eligibility_member_benefit_plan elig
JOIN family_eligibility_member fem ON elig.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN relationship_to_insured rel on fem.relationship_to_insured_id = rel.relationship_to_insured_id
JOIN family_eligibility fe ON fem.family_eligibility_id = fe.family_eligibility_id
JOIN #benefitContractbenefitPlanTierIds bcbpIds
ON elig.benefit_plan_id = bcbpIds.benefit_plan_id
AND fe.benefit_contract_id = bcbpIds.benefit_contract_id
WHERE
elig.effective_from <= @asOfDate
AND (elig.effective_thru IS NULL OR elig.effective_thru >= @asOfDate)
AND (elig.never_under_coverage IS NULL OR elig.never_under_coverage = 0)
ORDER BY
-- helps make the index more efficient
fem.family_eligibility_id,
elig.benefit_plan_id,
bcbpIds.tier_id;

/*********************************************************************
STEP 3 - Stage the data
Here we insert the data into a usable format, grouping
to a single record the Enrollment, Benefit Plan, Assigned
Tier, and counts for self, spouse, and dependents.
*********************************************************************/

INSERT INTO coverage_level_process_work_table (
family_eligibility_id,
benefit_plan_id,
self_count,
spouse_count,
dependent_count,
tier_id
)
SELECT
family_eligibility_id,
elig.benefit_plan_id,
SUM(is_self_one_or_zero),
SUM(is_spouse_one_or_zero),
SUM(is_dependent_one_or_zero),
assigned_tier_id
FROM  #eligibilityInfo elig
GROUP BY
family_eligibility_id,
elig.benefit_plan_id,
assigned_tier_id;

-- we return the number of work items
SELECT COUNT(*) AS 'work_item_count' FROM coverage_level_process_work_table;
GO
