USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_agent_territory_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down agent_territory (Agent Territory)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_agent_territory_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
t.territory_id
,t.territory_ud
,t.territory_nm
FROM territory t
JOIN
territory_type tt
ON t.territory_type_id = tt.territory_type_id
WHERE tt.golden_key = 'AGENT'
ORDER BY territory_ud

RETURN @SP_SUCCESS
END
GO
