USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_status_update]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 10/23/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/23/2008	Vishwa Jella	1.0		Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Used for Saving Payment Status
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_status_update]
(
@accounting_transaction_ap_id 	INT
,@golden_key		varchar(50)
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_UPDATE 	= ''
--

-- Update accounting_transaction_ap record modified date
UPDATE dbo.accounting_transaction_ap
SET
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
--

--	SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
--
--	IF @ErrorVar <> 0
--		RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
--	ELSE IF @RowCountVar = 0
--		RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
--
--	SET @modified_date = @new_modified_date

--- Updating an existing accounting_transaction_ap_payment_detail record status
DECLARE @accounting_payment_status_id int

SELECT @accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = @golden_key

UPDATE dbo.accounting_transaction_ap_payment_detail
SET
accounting_payment_status_id	= @accounting_payment_status_id
,modified_user_name				= ORIGINAL_LOGIN()
,modified_date					= GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--
RETURN @SP_SUCCESS
GO
