USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_view_on_function_area_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Jan 16 2006  15:29PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/16/2006	Hien D Nguyen	1.0		Created
2006/03/08	Thuy Ha		1.1		modified_date using DB Server date
2014-08-19	eponomareff		RT:6046 Tombstone modifications
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save note autoview

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_auto_view_on_function_area_save]
(
@note_pop_up_id                             int = NULL   OUTPUT
,@note_linked_to_id                          int = NULL
,@note_business_object_id			   int = NULL
,@active                                     bit = NULL
,@auto_view				   bit = 0
)AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
--    @ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_DELETE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '1588700006',
--    @ERROR_NOT_EXIST	= '1588700007',
@ERROR_CANT_DELETE 	= '1588700008'

IF (@auto_view =1)
BEGIN
IF NOT EXISTS (SELECT * FROM note_pop_up WHERE note_linked_to_id = @note_linked_to_id and note_business_object_id = @note_business_object_id )
BEGIN
INSERT INTO note_pop_up(
note_linked_to_id
,note_business_object_id
,active
)
VALUES(
@note_linked_to_id
,@note_business_object_id
,@active
)
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @note_pop_up_id = @@IDENTITY
END
END
ELSE
BEGIN
IF NOT EXISTS (SELECT * FROM note_pop_up WHERE note_linked_to_id = @note_linked_to_id and note_business_object_id = @note_business_object_id )
BEGIN
--RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
-- Special case: we use some table for the grid. do not raise error if it not existed
RETURN @SP_SUCCESS
END

DELETE FROM note_pop_up
WHERE note_linked_to_id = @note_linked_to_id
AND note_business_object_id = @note_business_object_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
RETURN @SP_SUCCESS
END
GO
