USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_additional_result_code_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
09/13/2009    Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/13/2009	David Slayton		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save comment updates for additional result code information
--
REQUIREMENTS:
--
INPUTS:
@processing_result_code_id - Key to adjudication_result_code table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_adjudication_additional_result_code_information_save]
(
@processing_result_code_id		INT = NULL
,@comment						NVARCHAR(1000) = NULL
)
AS
--
DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF NOT EXISTS (SELECT * FROM adjudication_result_code WHERE adjudication_result_code_id = @processing_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

UPDATE adjudication_result_code
SET
comment	= @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE adjudication_result_code_id = @processing_result_code_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
GO
