USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kquoc
DATE: 09/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/14/2005	kquoc		1.0			create
2006/02/18	Thuy Ha				Change the check rules
2006/02/21	Thuy Ha				Add check-rule: when sub-limit is referenced by Benefit Contract
2006/03/03	Thuy Ha				Change related to Benefit Contract Choice resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in acc_choice_list_check table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@pre_existing_condition_rule_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_check_delete]
(
@accumulator_sub_limit_id		int = NULL
--,@output							int OUTPUT
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION	= -1

IF NOT EXISTS (	SELECT 	accumulator_sub_limit_id
FROM 	accumulator_sub_limit
WHERE 	accumulator_sub_limit_id = @accumulator_sub_limit_id )
BEGIN
RETURN @SP_EXCEPTION
END

-- Cannot DELETE if accumulator sub limit rule is resolved at a Benefit Plan
IF EXISTS (SELECT 1 FROM benefit_plan_accumulator_class_choice_resolution bpaccr
INNER JOIN accumulator_sub_limit_rule alsr
ON bpaccr.accumulator_sub_limit_rule_id = alsr.accumulator_sub_limit_rule_id
WHERE alsr.accumulator_sub_limit_id = @accumulator_sub_limit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator sub limit rule is resolved at an Eligibility
IF EXISTS (SELECT 1 FROM family_eligibility_accumulator_choice_list_resolution feaclr
INNER JOIN accumulator_sub_limit_rule aslr
ON feaclr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.accumulator_sub_limit_id = @accumulator_sub_limit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator sub limit rule is resolved at an Episode
IF EXISTS (SELECT 1 FROM episode_accumulator_choice_list_resolution eaclr
INNER JOIN accumulator_sub_limit_rule aslr
ON eaclr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.accumulator_sub_limit_id = @accumulator_sub_limit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator sub limit rule is resolved at a Benefit Contract
IF EXISTS (
SELECT	1
FROM	benefit_contract_accumulator_class_choice_resolution bcaccr
INNER JOIN accumulator_sub_limit_rule aslr ON bcaccr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.accumulator_sub_limit_id = @accumulator_sub_limit_id)
RETURN @SP_DELETE_UNABLE


RETURN @SP_DELETE_ABLE
END
GO
