USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_credit_memo_ar_applied_invoice_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Apply Credit Memo amount to Invoices in grid on Customer Credit Memo form.
The stored procedure:

plx_accounting_credit_memo_ar_applied_invoice_post

posts the applied amount (setting the is_posted bit on the apply_to record)
and thereby causing the Credit Memo status to be adjusted.

NOTE: This procedure follows the same logic as Customer Payment:

[dbo].[plx_accounting_transaction_ar_payment_detail_invoices_save]

The forms differ, however, in that Credit Memo form does not auto-load the Invoices.

NOTE:  This stored procedure does not POST the Credit Memo.
This functionality is provided in stored procedure:

[dbo].[plx_accounting_ar_credit_memo_post]

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_credit_memo_ar_applied_invoice_save]
(
@accounting_transaction_ar_apply_to_id         INT = NULL OUTPUT
,@accounting_transaction_ar_id                  INT = NULL             -- Credit Memo internal id (maps to FROM)
,@invoice_id                                    INT = NULL             -- Invoice internal id (maps to TO)
,@amount                                        NUMERIC(20,10) = NULL
,@transaction_date                              DATETIME = NULL
,@comment                                       NVARCHAR(300) = NULL
,@is_posted                                     BIT = NULL
,@active                                        BIT = 1
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50);

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

-- Get the available status for the invoice and the unapplied amount
DECLARE @unapplied_amount numeric(20,10)
DECLARE @available bit
SELECT
@unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT),
@available = dbo.fn_invoice_is_available(@invoice_id)

-- Inserting or updating?
IF @accounting_transaction_ar_apply_to_id IS NULL
BEGIN  -- insert apply_to
-- Verify amount is NOT NULL
IF @amount IS NOT NULL AND @amount >= 0
BEGIN
-- Verify the invoice is available to pay
IF @unapplied_amount >= 0 AND @available = 1
BEGIN
--- Create a new ApplyTo record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id
,unapplied_amount
,amount
,[date]
,comment
,is_posted
,active
)
VALUES
(@accounting_transaction_ar_id  --Credit Memo ID
,@invoice_id
,@unapplied_amount
,@amount
,@transaction_date
,@comment
,@is_posted
,@active
)
IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
SET @accounting_transaction_ar_apply_to_id = @@IDENTITY

END
ELSE
RETURN @SP_EXCEPTION
END

END  -- end insert apply_to

ELSE
BEGIN  -- update apply_to
IF @amount IS NOT NULL AND @amount > 0
BEGIN
-- Make sure the new amount does not exceed the available
DECLARE @difference decimal
SELECT @difference = (@unapplied_amount + amount - @amount)
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @difference >= 0
BEGIN
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id    = @accounting_transaction_ar_id
,to_accounting_transaction_ar_id      = @invoice_id
,unapplied_amount                     = @unapplied_amount
,amount	                              = @amount
,[date]                               = @transaction_date
,comment                              = @comment
,is_posted                            = @is_posted
,modified_user_name                   = ORIGINAL_LOGIN()
,modified_date                        = GETDATE()
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
ELSE
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
-- Amount is NULL, meaning it has been unapplied, so delete the apply_to record
DELETE accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id
IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END

END   -- end update apply_to

-- Determine which status to set on the invoice based on the unapplied amount
DECLARE @invoice_status_id int
SELECT @unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT)

IF(@unapplied_amount = 0.0)
-- Set Invoice status to PAID
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'PAID'
ELSE
-- Set Invoice status to AVAILABLE
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'AVAILABLE'

-- Update the invoice status
UPDATE accounting_transaction_ar_invoice_detail
SET
accounting_invoice_status_id       = @invoice_status_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_id = @invoice_id

--
RETURN @SP_SUCCESS
--
GO
