USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_set_detail_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[plx_client_group_set_detail_load] (@client_group_set_id INT = 0)
AS
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT cgsd.client_group_set_detail_id,
cgsd.client_group_set_id,
cgsd.client_group_id,
cgn.client_group_ud,
cgn.client_group_nm,
cgsd.effective_from,
cgsd.effective_thru,
cgsd.active,
cgsd.created_user_name,
cgsd.created_group_id,
cgsd.created_date,
cgsd.modified_date
FROM dbo.client_group_set_detail cgsd
INNER JOIN dbo.client_group_name cgn
ON cgsd.client_group_id = cgn.client_group_id
WHERE cgsd.client_group_set_id = @client_group_set_id
AND primary_name = 1

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
