USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_treatment_type_category_by_treatment_type_set_id_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 26 2005  1:09PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_treatment_type_category from the treatment_type_category table.
--
REQUIREMENTS:
--
INPUTS:
treatment_type_category_id - Key to treatment_type_category table, identifies a single stored dd_treatment_type_category.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_treatment_type_category_by_treatment_type_set_id_load]

(
@treatment_type_set_id			Int =null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
treatment_type_category_treatment_type_set.treatment_type_category_id
,treatment_type_category.treatment_type_category_ud
--  ,treatment_type_category.treatment_type_category_nm
--  ,treatment_type_category.description

FROM treatment_type_category_treatment_type_set
inner join treatment_type_category  ON treatment_type_category.treatment_type_category_id = treatment_type_category_treatment_type_set.treatment_type_category_id
WHERE treatment_type_category_treatment_type_set.treatment_type_set_id = @treatment_type_set_id
ORDER BY treatment_type_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
