USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 02/24/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/24/2010	David Slayton	1.0		Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Benefit Waiting Periods grid
in Benefit Contract Advanced Plan Setup form and
Benefit Contract Template Advanced Plan Setup form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan_benefit_waiting_period records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_list_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcpbwp.benefit_contract_period_benefit_plan_benefit_waiting_period_id
,bcpbwp.benefit_contract_period_benefit_plan_id

,bcpbwp.criteria_id
,c.criteria_ud

,bcpbwp.benefit_waiting_period_id
,bwp.benefit_waiting_period_ud
,bwp.benefit_waiting_period_nm

,bcpbwp.effective_from
,bcpbwp.effective_thru
,bcpbwp.modified_date

FROM benefit_contract_period_benefit_plan_benefit_waiting_period bcpbwp
LEFT JOIN benefit_waiting_period bwp
ON bwp.benefit_waiting_period_id = bcpbwp.benefit_waiting_period_id
LEFT JOIN criteria c
ON (c.criteria_id = bcpbwp.criteria_id)

WHERE bcpbwp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

ORDER BY CASE WHEN bcpbwp.effective_from IS NULL THEN 0 ELSE 1 END ASC, bcpbwp.effective_from DESC,
CASE WHEN bcpbwp.effective_thru IS NULL THEN 0 ELSE 1 END ASC, bcpbwp.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
