USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_payment_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/09/2008	Vishwa Jella		1.0		Created for Payment ID auto generation
11/05/2008	Vishwa Jella		2.0		Updated auto rule ID by passing table name
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:	payment_ud

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
create        PROCEDURE [dbo].[plx_auto_create_accounting_payment_id_rule]
(
@accounting_company_ud	NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Use the following in the future if more rules are added; right now there is only one rule.
--	DECLARE
--		 @accounting_payment_id_rule_golden_key 	NVARCHAR(50)
--
--
--	SELECT TOP 1 @accounting_payment_id_rule_golden_key  = auto_create_accounting_payment_id_rule.golden_key
--		FROM global_rule
--			LEFT JOIN auto_create_accounting_payment_id_rule ON global_rule.auto_create_accounting_payment_id_rule_id = auto_create_accounting_payment_id_rule.auto_create_accounting_payment_id_rule_id

-- Set the prefix for the auto generated id.
DECLARE
@prefix		NVARCHAR(100)
,@payment_ud	NVARCHAR(100)

SET @payment_ud = ''

-- The only case that currently exists is the else case; always use the
-- standard rule for now.
SET @prefix = @accounting_company_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@accounting_transaction_ap_type_id_payment INT

SET @auto_create_counter_type_ud = 'Payment ' + @prefix
SET @counter_pad_length = 5

SELECT @accounting_transaction_ap_type_id_payment = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'PAYMENT'

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @payment_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM accounting_transaction_ap
WHERE accounting_transaction_ap_ud = @payment_ud
AND accounting_transaction_ap_type_id = @accounting_transaction_ap_type_id_payment)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @payment_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @payment_ud AS payment_ud
RETURN @SP_SUCCESS
END
GO
