USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/01/2008	W.Christensen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on an episode before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the episode to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@return				int,
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int,
@SP_EXCEPTION		int
SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION 		= -1

-- First check that the provider exists
IF NOT EXISTS (SELECT episode_id FROM episode WHERE episode_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM claim WHERE episode_id = @id)
OR EXISTS(SELECT * FROM subrogation_case_member_episode WHERE episode_id = @id)
OR EXISTS(SELECT * FROM third_party_liability_plan_episode WHERE episode_id = @id)
BEGIN
--check institutional claims
SELECT 'Institutional Claim' AS object_golden_key, claim_ud AS object_ud
FROM institutional_claim ic
INNER JOIN claim c ON c.claim_id = ic.claim_id
WHERE episode_id = @id

--check professional claims
SELECT 'Professional Claim' AS object_golden_key, claim_ud AS object_ud
FROM professional_claim pc
INNER JOIN claim c ON c.claim_id = pc.claim_id
WHERE episode_id = @id

--check dental claims
SELECT 'Dental Claim' AS object_golden_key, claim_ud AS object_ud
FROM dental_claim dc
INNER JOIN claim c ON c.claim_id = dc.claim_id
WHERE episode_id = @id

--check subrogation cases
SELECT DISTINCT 'Member Subrogation Case' AS object_golden_key, subrogation_case_nm AS object_ud
FROM subrogation_case_member scm
LEFT JOIN subrogation_case_member_episode scme
ON scm.subrogation_case_member_id = scme.subrogation_case_member_id AND scme.episode_id = @id
LEFT JOIN subrogation_case_member_third_party_liability_plan scmtplp ON scmtplp.subrogation_case_member_id = scm.subrogation_case_member_id
INNER JOIN third_party_liability_plan_episode tplpe
ON scmtplp.third_party_liability_plan_id = tplpe.third_party_liability_plan_id AND tplpe.episode_id = @id



RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
