USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_run_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_run_load]
(
@coverage_level_process_run_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1;

SELECT
run.coverage_level_process_run_id
,run.coverage_level_process_run_ud
,run.coverage_level_process_queue_id
,q.coverage_level_process_queue_ud
,run.as_of_date
,CONVERT(NVARCHAR, run.start_time, 101) AS run_date
,run.coverage_level_process_run_status_id
,status.coverage_level_process_run_status_ud
,run.records_processed_count
,run.records_inserted_count
,run.records_updated_count
,run.records_unchanged_count
,run.records_deleted_count
,run.records_with_errors_count
FROM dbo.coverage_level_process_run run
JOIN dbo.coverage_level_process_run_status status
ON run.coverage_level_process_run_status_id = status.coverage_level_process_run_status_id
LEFT JOIN dbo.coverage_level_process_queue q
ON run.coverage_level_process_queue_id = q.coverage_level_process_queue_id
WHERE run.coverage_level_process_run_id = @coverage_level_process_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
