USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_check_unique]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
Oct 19 2005  4:21PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/19/2006	Trang Huynh 1.0			Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check unique Eligibility ID within Contract period.
--
REQUIREMENTS:
--
INPUTS:

1. @family_eligibility_member_benefit_contract_period_benefit_plan_id
2. @member_eligibility_ud
3. @benefit_contract_period_benefit_plan_id
4. @family_eligibility_id
--
OUTPUTS:
@IsUnique : = 1 unique
= 0 not unique
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_check_unique]
(
@family_eligibility_member_benefit_plan_id int = 0 ,
@member_eligibility_ud NVARCHAR(160),
@benefit_contract_period_benefit_plan_id int ,
@family_eligibility_id int
)
AS

DECLARE        	@IsUnique                                 int
DECLARE @member_eligibility_id INT
DECLARE @eligibility_ud NVARCHAR(50)

--- New plx_family_eligibility_member_benefit_contract_period_benefit_plan
If @family_eligibility_member_benefit_plan_id=0 Or @family_eligibility_member_benefit_plan_id Is NULL

BEGIN
If exists ( Select FEMBP.family_eligibility_member_benefit_plan_id
--From family_eligibility_member_benefit_plan B, family_eligibility_member M
FROM  dbo.family_eligibility INNER JOIN
dbo.family_eligibility_member M ON dbo.family_eligibility.family_eligibility_id = M.family_eligibility_id INNER JOIN
dbo.family_eligibility_member_benefit_plan  FEMBP ON
M.family_eligibility_member_id = FEMBP.family_eligibility_member_id INNER JOIN
dbo.benefit_contract ON dbo.family_eligibility.benefit_contract_id = dbo.benefit_contract.benefit_contract_id INNER JOIN
dbo.benefit_contract_period ON dbo.benefit_contract.benefit_contract_id = dbo.benefit_contract_period.benefit_contract_id INNER JOIN
dbo.benefit_contract_period_benefit_plan BCPBP ON
dbo.benefit_contract_period.benefit_contract_period_id = BCPBP.benefit_contract_period_id

Where BCPBP.benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
and FEMBP.member_eligibility_ud = @member_eligibility_ud and FEMBP.family_eligibility_member_id = M.family_eligibility_member_id
and	M.family_eligibility_id = @family_eligibility_id)
SET @IsUnique = 1
else SET  @IsUnique = 0
END

--- Modify plx_family_eligibility_member_benefit_plan
ELSE
BEGIN
SELECT @eligibility_ud = member_eligibility_ud,@member_eligibility_id = family_eligibility_member_id
FROM family_eligibility_member_benefit_plan
WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
IF @eligibility_ud = @member_eligibility_ud
SET @IsUnique = 0 ---update
ELSE
BEGIN
SELECT FEMBP.family_eligibility_member_benefit_plan_id

FROM 	dbo.family_eligibility INNER JOIN
dbo.family_eligibility_member M ON dbo.family_eligibility.family_eligibility_id = M.family_eligibility_id INNER JOIN
dbo.family_eligibility_member_benefit_plan FEMBP ON
M.family_eligibility_member_id = FEMBP.family_eligibility_member_id INNER JOIN
dbo.benefit_contract ON dbo.family_eligibility.benefit_contract_id = dbo.benefit_contract.benefit_contract_id INNER JOIN
dbo.benefit_contract_period ON dbo.benefit_contract.benefit_contract_id = dbo.benefit_contract_period.benefit_contract_id INNER JOIN
dbo.benefit_contract_period_benefit_plan BCPBP ON
dbo.benefit_contract_period.benefit_contract_period_id = BCPBP.benefit_contract_period_id

WHERE BCPBP.benefit_contract_period_benefit_plan_id	 = @benefit_contract_period_benefit_plan_id
AND FEMBP.member_eligibility_ud = @member_eligibility_ud
AND M.family_eligibility_id = @family_eligibility_id
AND M.family_eligibility_member_id = @member_eligibility_id
AND FEMBP.family_eligibility_member_benefit_plan_id <> @family_eligibility_member_benefit_plan_id
IF @@ROWCOUNT > 0
SET @IsUnique = 1
ELSE
SET @IsUnique = 0
END

END
RETURN @IsUnique
GO
