USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_benefit_contract_period_benefit_plan_choice_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE:  11/03/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/03/2005	mttran		1.0			create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid Accumulator Choice List resolution in Eligibility Details tab in
Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_benefit_contract_period_benefit_plan_choice_save]
(
@family_eligibility_benefit_contract_period_benefit_plan_choice_id   int = NULL   OUTPUT
,@family_eligibility_id                      int = NULL
,@benefit_contract_period_benefit_plan_id    int = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @family_eligibility_benefit_contract_period_benefit_plan_choice_id is Null
BEGIN

--- Create a new family_eligibility_benefit_contract_period_benefit_plan_choice record
INSERT INTO family_eligibility_benefit_contract_period_benefit_plan_choice(
family_eligibility_id
,benefit_contract_period_benefit_plan_id
,active
)
VALUES
(@family_eligibility_id
,@benefit_contract_period_benefit_plan_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @family_eligibility_benefit_contract_period_benefit_plan_choice_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_benefit_contract_period_benefit_plan_choice WHERE family_eligibility_benefit_contract_period_benefit_plan_choice_id = @family_eligibility_benefit_contract_period_benefit_plan_choice_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing family_eligibility_benefit_contract_period_benefit_plan_choice record
UPDATE family_eligibility_benefit_contract_period_benefit_plan_choice
SET
family_eligibility_id                    = @family_eligibility_id
,benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_benefit_contract_period_benefit_plan_choice_id = @family_eligibility_benefit_contract_period_benefit_plan_choice_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
