USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_check_findform_combobox]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
Date: 10/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2005        Anh Ta	1.0		Check UD of Client existing use in ICU# 10505 Claims Processing workflow
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single member_contact_association from the contact_association table.
--
REQUIREMENTS:
--
INPUTS:
@client_ud - Key to client table, identifies a single stored member_contact_association.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_client_check_findform_combobox]
--	(
@client_ud		nvarchar(50)=null
--	)
AS
--
DECLARE    @SP_SUCCESS int
SELECT    @SP_SUCCESS = 0

DECLARE @Table_Temp table(client_id  int, client_ud  nvarchar(50))

INSERT INTO @Table_Temp (client_id, client_ud)
SELECT
client.client_id
,client_name.client_ud
FROM client
INNER JOIN client_name ON (client_name.client_id = client.client_id) AND (client_name.primary_name = 1)
ORDER BY client_name.client_ud

SELECT * FROM @Table_Temp
WHERE client_ud LIKE @client_ud
--
RETURN @SP_SUCCESS
--
GO
