USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_activity_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  6:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Delete contact activity

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_contact_activity_delete]
(
@contact_activity_id                        int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_CONTACT_ACTIVITY NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_DELETE_CONTACT_ACTIVITY='158880007'
IF NOT EXISTS (SELECT * FROM contact_activity WHERE contact_activity_id = @contact_activity_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_CONTACT_ACTIVITY)
END
ELSE
BEGIN
DELETE FROM contact_activity
WHERE contact_activity_id = @contact_activity_id
END
RETURN @SP_SUCCESS
END
GO
