USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_episode_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
Date: 11/03/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/03/2005	Han Cao		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Associated Episodes"
in Advanced Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_episode_load]

(
@family_eligibility_member_benefit_plan_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
episode.episode_id
,episode.episode_ud
,episode.description
,episode.episode_category_id

,episode_category.episode_category_ud
,episode.episode_type_id

,episode_type.episode_type_ud
,episode.criteria_id

,criteria.criteria_ud
,episode.family_eligibility_member_benefit_plan_id

--    ,family_eligibility_member_benefit_contract_period_benefit_plan.family_eligibility_member_benefit_contract_period_benefit_plan_ud
,episode.effective_from_date_rule_id

--      ,effective_from_date_rule.effective_from_date_rule_ud
,episode.effective_from
--      ,episode.effective_thru_date_rule_id

--      ,effective_thru_date_rule.effective_thru_date_rule_ud
,episode.effective_thru
,episode.cob_applicable
FROM episode
left join episode_category  ON episode_category.episode_category_id = episode.episode_category_id
left join episode_type  ON episode_type.episode_type_id = episode.episode_type_id
left join criteria  ON criteria.criteria_id = episode.criteria_id
left join family_eligibility_member_benefit_plan  ON family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = episode.family_eligibility_member_benefit_plan_id
WHERE episode.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY
CASE WHEN episode.effective_from IS NULL THEN 0 ELSE 1 END , episode.effective_from DESC
,CASE WHEN episode.effective_thru IS NULL THEN 0 ELSE 1 END , episode.effective_thru DESC

--

RETURN @SP_SUCCESS
--
GO
