USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
DATE: 10/30/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/30/2011	cknobloch	1.0			created
02/26/2016  amortensen  1.1         RT7203: updated to check referral_additional_information
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check if/where this topic is used.
--
REQUIREMENTS:
--
INPUTS:
@id as additional_information_topic_id
--
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_additional_information_topic_check_delete]
(
@id	int = NULL
)
AS

DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the record exists
IF NOT EXISTS (	SELECT	additional_information_topic_id
FROM	additional_information_topic
WHERE	additional_information_topic_id = @id)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN

IF EXISTS (SELECT * FROM accounting_transaction_ap_additional_information WHERE additional_information_topic_id  = @id)
OR EXISTS (SELECT * FROM accounting_transaction_ar_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM agent_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM benefit_contract_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM benefit_plan_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM carrier_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM reinsurance_carrier_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM client_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM client_group_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM dental_claim_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM family_eligibility_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM institutional_claim_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM member_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM practice_office_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM product_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM professional_claim_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM provider_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM provider_network_additional_information WHERE additional_information_topic_id = @id)
OR EXISTS (SELECT * FROM referral_additional_information WHERE additional_information_topic_id = @id)

BEGIN

-- Check Accounting Transaction AP Additional Information
SELECT DISTINCT 'Accounting Transaction AP' As object_golden_key, accounting_transaction_ap_ud AS object_ud
FROM accounting_transaction_ap ata
INNER JOIN accounting_transaction_ap_additional_information atapi ON atapi.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
WHERE atapi.additional_information_topic_id = @id

-- Check Accounting Transaction AR Additional Information
SELECT DISTINCT 'Accounting Transaction AR' As object_golden_key, accounting_transaction_ar_ud AS object_ud
FROM accounting_transaction_ar atr
INNER JOIN accounting_transaction_ap_additional_information atapi ON atapi.accounting_transaction_ap_id = atr.accounting_transaction_ar_id
WHERE atapi.additional_information_topic_id = @id

-- Check Agent Additional Information
SELECT DISTINCT 'Agent Additional Information' AS object_golden_key, dbo.plx_ConcatenateName(an.name_last, an.name_first, an.name_middle, an.name_suffix) AS object_ud
FROM agent
INNER JOIN agent_additional_information adi ON adi.agent_id = agent.agent_id
INNER JOIN agent_name an ON an.agent_id = agent.agent_id
WHERE additional_information_topic_id = @id

-- Check Benefit Contract Additional Information
SELECT DISTINCT 'Benefit Contract Additional Information' AS object_golden_key, benefit_contract_ud AS object_ud
FROM benefit_contract bc
INNER JOIN benefit_contract_additional_information bcai ON bcai.benefit_contract_id = bc.benefit_contract_id
WHERE additional_information_topic_id = @id

-- Check Benefit Contract Period Benefit Plan Additional Information
SELECT DISTINCT 'Benefit Contract Period Benefit Plan Additional Information' AS object_golden_key,
object_ud =
(SELECT (bc.benefit_contract_ud) + ', ' +
CONVERT(NVARCHAR(50),bcp.effective_from, 1) + ' - ' +
ISNULL(CONVERT(NVARCHAR(50),bcp.effective_thru, 1),'') + ', ' +
bp.benefit_plan_ud)
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period bcp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
INNER JOIN benefit_contract bc ON bcp.benefit_contract_id = bc.benefit_contract_id
INNER JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan_additional_information bcpbpai
ON bcpbpai.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
WHERE additional_information_topic_id = @id

-- Check Benefit Plan Additional Information
SELECT DISTINCT 'Benefit Plan Additional Information' AS object_golden_key, benefit_plan_ud AS object_ud
FROM benefit_plan bp
INNER JOIN benefit_plan_additional_information bpai ON bpai.benefit_plan_id = bp.benefit_plan_id
WHERE additional_information_topic_id = @id

-- Check Carrier Additional Information
SELECT DISTINCT 'Carrier Additional Information' AS object_golden_key, carrier_ud AS object_ud
FROM carrier
INNER JOIN carrier_additional_information cai ON cai.carrier_id = carrier.carrier_id
WHERE additional_information_topic_id = @id

-- Check Reinsurance Carrier Additional Information
SELECT DISTINCT 'Reinsurance Carrier Additional Information' AS object_golden_key, reinsurance_carrier_ud AS object_ud
FROM reinsurance_carrier rc
INNER JOIN reinsurance_carrier_additional_information rcai ON rcai.reinsurance_carrier_id = rc.reinsurance_carrier_id
WHERE additional_information_topic_id = @id

-- Check Client Additional Information
SELECT DISTINCT 'Client Additional Information' AS object_golden_key, cn.client_ud AS object_ud
FROM client
INNER JOIN client_additional_information cai ON cai.client_id = client.client_id
INNER JOIN client_name cn ON cn.client_id = client.client_id
WHERE additional_information_topic_id = @id

-- Check Client Group Additional Information
SELECT DISTINCT 'Client Group Additional Information' AS object_golden_key, cgn.client_group_ud AS object_ud
FROM client_group cg
INNER JOIN client_group_additional_information cgai ON cgai.client_group_id = cg.client_group_id
INNER JOIN client_group_name cgn ON cgn.client_group_id = cg.client_group_id
WHERE additional_information_topic_id = @id

-- Check Dental Claim Additional Information
SELECT DISTINCT 'Dental Claim Additional Information' AS object_golden_key, claim.claim_ud AS object_ud
FROM dental_claim dc
INNER JOIN dental_claim_additional_information dcai ON dcai.dental_claim_id = dc.dental_claim_id
INNER JOIN claim ON claim.claim_id = dc.claim_id
WHERE additional_information_topic_id = @id

-- Check Family Eligibility Additional Information
SELECT DISTINCT 'Family Eligibility Additional Information' AS object_golden_key, family_eligibility_ud AS object_ud
FROM family_eligibility fe
INNER JOIN family_eligibility_additional_information feai ON feai.family_eligibility_id = fe.family_eligibility_id
WHERE additional_information_topic_id = @id

-- Check Family Eligibility Member Benefit Plan Additional Information
SELECT DISTINCT 'Advanced Individual Eligility Setup Additional Information' AS object_golden_key, fembp.member_eligibility_ud AS object_ud
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member_benefit_plan_additional_information fembpai ON fembpai.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
WHERE additional_information_topic_id = @id

-- Check Institutional Claim Additional Information
SELECT DISTINCT 'Institutional Claim Additional Information' AS object_golden_key, claim.claim_ud AS object_ud
FROM institutional_claim ic
INNER JOIN institutional_claim_additional_information icai ON icai.institutional_claim_id = ic.institutional_claim_id
INNER JOIN claim ON claim.claim_id = ic.claim_id
WHERE additional_information_topic_id = @id

-- Check Member Additional Information
SELECT DISTINCT 'Member Additional Information' AS object_golden_key, dbo.plx_ConcatenateName(nm.name_last, nm.name_first, nm.name_middle, nm.name_suffix) AS object_ud
FROM member
INNER JOIN member_additional_information mai ON mai.member_id = member.member_id
INNER JOIN member_name nm ON nm.member_id = member.member_id
WHERE additional_information_topic_id = @id

-- Check Practice Office Additional Information
SELECT DISTINCT 'Practice Office Additional Information' AS object_golden_key, practice_office_ud AS object_ud
FROM practice_office po
INNER JOIN practice_office_additional_information poai ON poai.practice_office_id = po.practice_office_id
WHERE additional_information_topic_id = @id

-- Check Product Additional Information
SELECT DISTINCT 'Product Additional Information' AS object_golden_key, product_ud AS object_ud
FROM product
INNER JOIN product_additional_information pai ON pai.product_id = product.product_id
WHERE additional_information_topic_id = @id

-- Check Professional Claim Additional Information
SELECT DISTINCT 'Professional Claim Additional Information' AS object_golden_key, claim.claim_ud AS object_ud
FROM professional_claim pc
INNER JOIN professional_claim_additional_information pcai ON pcai.professional_claim_id = pc.professional_claim_id
INNER JOIN claim ON claim.claim_id = pc.claim_id
WHERE additional_information_topic_id = @id

-- Check Provider Additional Information
SELECT DISTINCT 'Provider Additional Information' AS object_golden_key, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix) AS object_ud
FROM provider
INNER JOIN provider_additional_information pai ON pai.provider_id = provider.provider_id
INNER JOIN provider_name pn ON pn.provider_id = provider.provider_id
WHERE additional_information_topic_id = @id

-- Check Provider Network Additional Information
SELECT DISTINCT 'Provider Network Additional Information' AS object_golden_key, provider_network_ud AS object_ud
FROM provider_network pn
INNER JOIN provider_network_additional_information pnai ON pnai.provider_network_id = pn.provider_network_id
WHERE additional_information_topic_id = @id

-- Check Referral Additional Information
SELECT DISTINCT 'Referral Additional Information' AS object_golden_key, referral_ud AS object_ud
FROM referral r
INNER JOIN referral_additional_information rai ON rai.referral_id = r.referral_id
WHERE additional_information_topic_id = @id

RETURN @SP_DELETE_UNABLE

END
END

RETURN @SP_DELETE_ABLE
GO
