USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_additional_result_code_details_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: John Ourant
Sept 28 2007		Complete rewrite
--
REVISION_HISTORY:
--
Date		Modified By	Version	Description
9/28/2007	John Ourant	1.1	Rewrote query to fetch the correct data.
05/14/2008	Vishwa Jella	1.2	Updated to support Zooming the Records and displays null records with its description if exists in adjudication_result_code_key table As per F/S 16917
Ex:  adjudication_object_id = null, object_record_id = null decription ="Payment contract step needs input"
05/19/2008	Vishwa Jella	1.3	updated with claim_id as input parameter, Where either one of (claim_id , claim_procedure_id) is null always as per adjudication_result_code table.
06/17/2009	Vishwa Jella	1.4		Updated to support refactered functionality for Result Code Information form
08/08/2009	David Slayton	1.5	Changed "zoom_form_name" and "ZoomForm" back to "display_name" and "DisplayForm"
respectively.
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:	Input Parameters are Claim_id and Claim_procedure_id
Where either one of them is null always as per adjudication_result_code table.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE	PROCEDURE [dbo].[plx_adjudication_additional_result_code_details_load]
(
@processing_result_code_id		Int= NULL  -- adjudication object result code
,@processing_object_table_name	NVARCHAR(255) = NULL
,@processing_object_column_name	NVARCHAR(255) = NULL
) AS
BEGIN
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

CREATE TABLE #adjudication_objects_with_values(
adjudication_result_code_key_id int NULL
,object_value_display_name		NVARCHAR(50) NULL
,table_name	 		NVARCHAR(255) NULL
,object_record_id		int NULL
,object_value		NVARCHAR(255) NULL
,display_form			NVARCHAR(255) NULL
,find_form	 		NVARCHAR(255) NULL
,stored_procedure		NVARCHAR(255) NULL
,stored_field			NVARCHAR(255) NULL
,displayed_field		NVARCHAR(255) NULL
,adjudication_object_id		int NULL
,golden_key					NVARCHAR(255) NULL
,description			NVARCHAR(4000) NULL
)

-- Get the Additional Result code Information Record
INSERT INTO #adjudication_objects_with_values (
adjudication_result_code_key_id
,object_value_display_name
,table_name
,object_record_id
,display_form
,find_form
,stored_procedure
,stored_field
,displayed_field
,adjudication_object_id
,golden_key
,description
)
SELECT
ARCK.adjudication_result_code_key_id
,ao.adjudication_object_ud
,elp.table_name
,ARCK.object_record_id
,elp.display_form
,elp.find_form
,elp.stored_procedure
,elp.stored_field
,elp.displayed_field
,ARCK.adjudication_object_id
,elp.golden_key
,ARCK.description
FROM adjudication_result_code AS ARC
INNER JOIN adjudication_result_code_key AS ARCK
ON ARC.adjudication_result_code_id = ARCK.adjudication_result_code_id
LEFT OUTER JOIN adjudication_object AS ao
ON ARCK.adjudication_object_id = ao.adjudication_object_id
LEFT OUTER JOIN ui_engine_lookup_parameter AS elp
ON ao.ui_engine_lookup_parameter_id = elp.ui_engine_lookup_parameter_id
WHERE	ARCK.adjudication_result_code_id = @processing_result_code_id

-- Loop over for each actual object
DECLARE ObjectCursor CURSOR FOR
SELECT adjudication_result_code_key_id, table_name, object_record_id,
stored_field, displayed_field FROM #adjudication_objects_with_values

DECLARE @AdjudicationResultCodeKeyId		INT
DECLARE @TableName	 		NVARCHAR(255)
DECLARE @ObjectRecordId			INT
DECLARE @StoredField			NVARCHAR(255)
DECLARE @DisplayedField			NVARCHAR(255)

DECLARE @strSQL				NVARCHAR(500)
DECLARE @ObjectValue			NVARCHAR(255)

SET @ObjectValue = NULL

OPEN ObjectCursor

FETCH NEXT FROM ObjectCursor INTO
@AdjudicationResultCodeKeyId,
@TableName,
@ObjectRecordId,
@StoredField,
@DisplayedField

WHILE @@FETCH_STATUS = 0
BEGIN
If @ObjectRecordId > 0
and (@TableName IS NOT NULL) and (@TableName <> '')
and (@StoredField IS NOT NULL) and (@StoredField <> '')
and (@DisplayedField IS NOT NULL) and (@DisplayedField <> '')
BEGIN
SET @strSQL = 'SELECT @ObjectValue=' + @DisplayedField
SET @strSQL = @strSQL  + ' FROM ' + @TableName
SET @strSQL = @strSQL  + ' WHERE ' + @TableName + '.' + @StoredField + ' = '
SET @strSQL = @strSQL + CAST(@ObjectRecordID AS CHAR(16))
exec sp_executesql @strSQL, N'@ObjectValue NVARCHAR(255) OUTPUT', @ObjectValue OUTPUT
END
ELSE
BEGIN
SET @ObjectValue = ''
END

UPDATE #adjudication_objects_with_values
SET object_value = @ObjectValue
WHERE adjudication_result_code_key_id = @AdjudicationResultCodeKeyId

FETCH NEXT FROM ObjectCursor INTO
@AdjudicationResultCodeKeyId,
@TableName,
@ObjectRecordId,
@StoredField,
@DisplayedField
END

CLOSE ObjectCursor
DEALLOCATE ObjectCursor

-- Now select from the table what we want to be returned in the DataSet

SELECT * FROM #adjudication_objects_with_values

--
DROP TABLE #adjudication_objects_with_values

RETURN @SP_SUCCESS
END
GO
