USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_check_max_enrollment_age]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: HuyThan
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/10/2008	David Slayton	1.1			Called a different function to get the correct age
in days, weeks, months, and years.
--------------------------------------------------------------------------------
SPEC:


CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Check to enroll member on Family form
;
REQUIREMENTS	:

None
;
INPUTS		:

;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE       procedure [dbo].[plx_eligibility_restriction_check_max_enrollment_age]
@member_id 								int = null
,@relationship_to_insured_id 				int = null
,@benefit_contract_period_benefit_plan_id 	int = null
,@effective_from 							datetime = null
as
BEGIN
set nocount on
DECLARE
@SP_SUCCESS int ,
@SP_EXCEPTION int ,
@SP_EXCEPTION_MAX int,
@SP_RETURN int ,
@years_unit_type varchar(16),
@months_unit_type varchar(16),
@weeks_unit_type varchar(16),
@days_unit_type varchar(16),
@date_age int,
@week_age int,
@month_age int,
@year_age int,
@birth_date datetime
SELECT
@SP_SUCCESS = 0 ,
@SP_EXCEPTION = -1 ,
@SP_EXCEPTION_MAX = 1

SELECT
@years_unit_type = 'Years',
@months_unit_type = 'Months',
@weeks_unit_type = 'Weeks',
@days_unit_type = 'Days'

SELECT
@birth_date = birth_date
FROM member
Where member.member_id = @member_id

IF @birth_date is null OR  @effective_from is null
OR @member_id is null
OR @relationship_to_insured_id is null
OR @benefit_contract_period_benefit_plan_id is null
BEGIN
RETURN @SP_EXCEPTION
END

SET @date_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @days_unit_type)
SET @week_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @weeks_unit_type)
SET @month_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @months_unit_type)
SET @year_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @years_unit_type)
DECLARE result_codes CURSOR FOR
SELECT
--			eligibility_restriction_relationship_to_subscriber.minimum_enrollment_age_number_of_units
--		   ,eligibility_restriction_relationship_to_subscriber.minimum_enrollment_age_unit_day_week_month_year_id

eligibility_restriction_relationship_to_subscriber.maximum_enrollment_age_number_of_units
--		   ,eligibility_restriction_relationship_to_subscriber.maximum_enrollment_age_unit_day_week_month_year_id
,unit_day_week_month_year.golden_key
FROM benefit_contract_period_benefit_plan
INNER JOIN benefit_contract_period_benefit_plan_eligibility_restriction ON benefit_contract_period_benefit_plan_eligibility_restriction.benefit_contract_period_benefit_plan_id = benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
INNER JOIN eligibility_restriction ON eligibility_restriction.eligibility_restriction_id = benefit_contract_period_benefit_plan_eligibility_restriction.eligibility_restriction_id
INNER JOIN eligibility_restriction_relationship_to_subscriber ON eligibility_restriction_relationship_to_subscriber.eligibility_restriction_id = eligibility_restriction.eligibility_restriction_id
AND dbo.plx_eligibility_restriction_check_relationship_and_relationship_set( @relationship_to_insured_id
,eligibility_restriction_relationship_to_subscriber.relationship_to_insured_id
,eligibility_restriction_relationship_to_subscriber.relationship_to_insured_set_id ) = 1
AND eligibility_restriction_relationship_to_subscriber.maximum_enrollment_age_number_of_units is not null
AND eligibility_restriction_relationship_to_subscriber.maximum_enrollment_age_unit_day_week_month_year_id is not null
INNER JOIN unit_day_week_month_year ON unit_day_week_month_year.unit_day_week_month_year_id = eligibility_restriction_relationship_to_subscriber.maximum_enrollment_age_unit_day_week_month_year_id
Where benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

DECLARE @unit int
DECLARE @type nvarchar(50)

SET @SP_RETURN = @SP_SUCCESS
OPEN result_codes
FETCH NEXT FROM result_codes
INTO @unit, @type
WHILE @@FETCH_STATUS = 0
BEGIN
--Print @result_code_status_ud
IF @type = @days_unit_type and @date_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_MAX
Break
End
IF @type = @weeks_unit_type and @week_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_MAX
Break
End
IF @type = @months_unit_type and @month_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_MAX
Break
End
IF @type = @years_unit_type and @year_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_MAX
Break
End
FETCH NEXT FROM result_codes
INTO @unit, @type
END
CLOSE result_codes
DEALLOCATE result_codes

print @SP_RETURN

RETURN @SP_RETURN
END
GO
