USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_history_payment_history_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Date: 03/05/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/28/2012	CKnobloch	     1.0		Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdPaymentHistoryPaymentHistory on form frmCustomer

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_history_payment_history_load]
(
@customer_id				 INT = null
,@payment_effective_from	 DATETIME = null
,@payment_effective_thru	 DATETIME = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @strSQL nvarchar(4000) = ''

SET @strSQL =
'SELECT DISTINCT TOP (dbo.fn_results_limit())
accounting_transaction_ar.accounting_transaction_ar_id		AS payment_history_payment_accounting_transaction_ar_id
,accounting_transaction_ar.accounting_transaction_ar_ud		AS payment_history_payment_accounting_transaction_ar_ud
,atarpd.payment_date										AS payment_history_payment_date
,aps.accounting_payment_status_ud							AS payment_history_payment_status
,pmc.payment_method_customer_ud								AS payment_history_payment_method
,atarpd.check_ach_reference									AS payment_history_check_ach_reference
,ISNULL(accounting_transaction_ar.transaction_amount, 0)	AS payment_history_payment_amount
,dbo.plx_fn_get_unapplied_amount_for_customer_payment(accounting_transaction_ar.accounting_transaction_ar_id)	AS payment_history_payment_unapplied_amount
,atarpd.created_date										AS payment_history_payment_created_date
,atarpd.created_user_name									AS payment_history_payment_user_name

FROM accounting_transaction_ar_payment_detail atarpd
LEFT JOIN accounting_transaction_ar
ON accounting_transaction_ar.accounting_transaction_ar_id = atarpd.accounting_transaction_ar_id
LEFT JOIN customer
ON customer.customer_id = accounting_transaction_ar.customer_id
LEFT JOIN accounting_company ac
ON accounting_transaction_ar.accounting_company_id = ac.accounting_company_id
LEFT JOIN bank_account
ON atarpd.bank_account_id = bank_account.bank_account_id
LEFT JOIN accounting_company_account aca
ON atarpd.ar_accounting_company_account_id = aca.accounting_company_account_id
LEFT JOIN payment_method_customer pmc
ON atarpd.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN accounting_transaction_ar_apply_to invoice_apply_to
ON accounting_transaction_ar.accounting_transaction_ar_id = invoice_apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_payment_status aps
ON atarpd.accounting_payment_status_id = aps.accounting_payment_status_id

WHERE (accounting_transaction_ar.customer_id'
IF @customer_id	IS NOT NULL
SET @strSQL = @strSQL + ' = '
+ CONVERT(NVARCHAR, @customer_id, 101) + ') '
ELSE
SET @strSQL = @strSQL + ' = -1 ) '


IF @payment_effective_from IS NOT NULL
SET @strSQL = @strSQL + '
AND (atarpd.payment_date >= CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @payment_effective_from, 101) + ''', 101)) '

IF @payment_effective_thru IS NOT NULL
SET @strSQL = @strSQL + '
AND (atarpd.payment_date <= CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @payment_effective_thru, 101) + ''', 101)) '

SET @strSQL = @strSQL + '
ORDER BY
atarpd.payment_date DESC'



PRINT @strSQL

EXEC(@strSQL)

RETURN @SP_SUCCESS
--
GO
