USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_benefit_class_overview_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/14/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/13/2006	mttran			1.0			modify to set "Use All Treatment Type Set" check box
12/10/2007	David Slayton	1.1			IC# 17575: Removed all_treatment_type_sets column
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Read data for Benefit Class Overview grid on Benefit Plan \ Overview tab
This stored procedure is used in the Benefit Plan\Overview tab of the Benefit Plan form

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                     PROCEDURE [dbo].[plx_benefit_plan_benefit_class_overview_list_load]
(
@benefit_framework_id			int=NULL
,@benefit_class_id				int=NULL
,@treatment_type_set_id			int=NULL
,@treatment_type_category_id 	int=NULL
,@treatment_type_id				int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT   DISTINCT
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bcr.benefit_framework_choice_list_id
,CASE WHEN bcr.benefit_framework_choice_list_id IS NOT NULL THEN
bfcl.benefit_framework_choice_list_ud
ELSE
Cast(bcr.single_value as varchar(20))
END
AS list_id_table_id_value
,CASE WHEN bcr.benefit_framework_choice_list_id IS NOT NULL THEN
1
ELSE
3
END
AS list_table_value
,CASE WHEN bcr.benefit_framework_choice_list_id IS NOT NULL THEN
CASE WHEN bfvc.num_valid > 1 THEN
resolve_choice_list_at.resolve_choice_list_at_ud
ELSE
'Framework'
END
ELSE
'Framework'
END
AS resolve_at
,bcr.effective_from
,bcr.effective_thru
-- for order
,CASE WHEN bcr.effective_from IS NULL THEN 0 ELSE 1 END AS has_effective_from
,CASE WHEN bcr.effective_thru IS NULL THEN 0 ELSE 1 END AS has_effective_thru
FROM    dbo.benefit
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN dbo.benefit_class
ON bfbc.benefit_class_id = benefit_class.benefit_class_id
INNER JOIN dbo.benefit_coverage_rules bcr
ON benefit.benefit_id = bcr.benefit_id
LEFT JOIN dbo.benefit_treatment_type_set btts
ON btts.benefit_id = benefit.benefit_id
LEFT JOIN dbo.benefit_framework_choice_list bfcl
ON bfcl.benefit_framework_choice_list_id = bcr.benefit_framework_choice_list_id
LEFT JOIN dbo.resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN (
SELECT 	benefit_framework_choice_list_id,
COUNT(benefit_framework_valid_choice_id) AS num_valid
FROM 	dbo.benefit_framework_valid_choice
GROUP BY benefit_framework_choice_list_id
) bfvc
ON bfvc.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
WHERE 	bfbc.benefit_framework_id = @benefit_framework_id
AND		(bfbc.benefit_class_id = @benefit_class_id OR ISNULL(@benefit_class_id, 0) = 0)
AND		(
(btts.treatment_type_set_id = @treatment_type_set_id OR ISNULL(@treatment_type_set_id, 0)=0)
AND	( btts.treatment_type_category_id = @treatment_type_category_id OR ISNULL(@treatment_type_category_id, 0)=0)
AND	( btts.treatment_type_id = @treatment_type_id OR ISNULL(@treatment_type_id, 0) = 0)
)
ORDER BY has_effective_from, bcr.effective_from DESC, has_effective_thru, bcr.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
