USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_many_accounting_payment_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Joe Garro
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/08/2010	Joe Garro		Modified [plx_auto_create_accounting_payment_id_rule]
so that we could do this in bulk, being as one at a time is rather slow
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:	payment_ud

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_auto_create_many_accounting_payment_id_rule]
(
@accounting_company_ud	NVARCHAR(50) = NULL,
@number_to_create INT = 1
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Use the following in the future if more rules are added; right now there is only one rule.
--	DECLARE
--		 @accounting_payment_id_rule_golden_key 	NVARCHAR(50)
--
--
--	SELECT TOP 1 @accounting_payment_id_rule_golden_key  = auto_create_accounting_payment_id_rule.golden_key
--		FROM global_rule
--			LEFT JOIN auto_create_accounting_payment_id_rule ON global_rule.auto_create_accounting_payment_id_rule_id = auto_create_accounting_payment_id_rule.auto_create_accounting_payment_id_rule_id

-- Set the prefix for the auto generated id.
DECLARE
@prefix		NVARCHAR(100)
,@payment_ud	NVARCHAR(100)

SET @payment_ud = ''

-- The only case that currently exists is the else case; always use the
-- standard rule for now.
SET @prefix = @accounting_company_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@accounting_transaction_ap_type_id_payment INT

SET @auto_create_counter_type_ud = 'Payment ' + @prefix
SET @counter_pad_length = 5

SELECT @accounting_transaction_ap_type_id_payment = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'PAYMENT'

DECLARE @counter_value TABLE (counter INT)
DECLARE @uds TABLE (payment_ud NVARCHAR(100))

WHILE(@number_to_create > 0)
BEGIN
DECLARE @start_at INT
DECLARE @loop_to INT
DECLARE @i INT

DELETE FROM @counter_value
EXEC @start_at = dbo.plx_generate_counter @auto_create_counter_type_ud, @number_to_create

SET		@i = @start_at
SET		@loop_to = @start_at + @number_to_create

WHILE(@i < @loop_to)
BEGIN
INSERT INTO @counter_value VALUES (@i)
SET @i = @i + 1
END

INSERT INTO @uds
SELECT ISNULL(@prefix, '') + dbo.plx_fn_IntToString(counter, @counter_pad_length)
FROM @counter_value

DELETE FROM @uds WHERE
EXISTS (
SELECT	accounting_transaction_ap_id
FROM	accounting_transaction_ap
WHERE	accounting_transaction_ap_ud = payment_ud
AND	accounting_transaction_ap_type_id = @accounting_transaction_ap_type_id_payment)

SET	@number_to_create = @@ROWCOUNT
END

SELECT payment_ud FROM @uds ORDER BY payment_ud ASC
RETURN @SP_SUCCESS

END
GO
