USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_valid_choice_by_benefit_plan_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 11/03/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/03/2005   maitran     1.0         Created
08/20/2013	 amortensen	 1.1			 RT:4730 - Added case when Percent, and format value

CURRENT_VERSION: 1.0
--
DESCRIPTION:
get data for choice drop down list in benefit choice list resolution in Family Eligibility,
Episode, Benefit Plan
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_framework_valid_choice_by_benefit_plan_list_load]
(
@benefit_contract_period_benefit_plan_id	INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
SELECT
benefit_coverage_rules.benefit_coverage_rules_id
,benefit.benefit_id
,benefit_class.ui_engine_data_type_id
,ISNULL(benefit_framework_valid_choice.benefit_framework_valid_choice_id,0) AS benefit_framework_valid_choice_id
, CASE WHEN benefit_framework_valid_choice.valid_choice IS NOT NULL THEN
CASE WHEN uidt.ui_engine_data_type_ud = 'Percent' THEN
CAST((CAST(benefit_framework_valid_choice.valid_choice AS numeric(19,4)) * 100.0) AS VARCHAR)
ELSE
benefit_framework_valid_choice.valid_choice
END
ELSE yes_no.yes_no_ud
END
AS valid_choice
FROM
dbo.benefit_contract_period_benefit_plan bcpbp
INNER JOIN dbo.benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN dbo.benefit_framework
ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN benefit_class ON bfbc.benefit_class_id = benefit_class.benefit_class_id

INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
INNER JOIN dbo.benefit_framework_valid_choice
ON	benefit_framework_valid_choice.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
LEFT JOIN yes_no ON yes_no.yes_no_id = benefit_framework_valid_choice.yes_no_id
INNER JOIN ui_engine_data_type uidt
ON benefit_class.ui_engine_data_type_id = uidt.ui_engine_data_type_id

WHERE   rcla.golden_key = 'Family Eligibility'
AND		bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id


--
RETURN @SP_SUCCESS
--
GO
