USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_find_family_eligibility_as_subscriber]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date : Nov 15 2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check the existence of a family eligibility
--
REQUIREMENTS:
--
INPUTS:
claim_procedure_id - Key to claim_procedure table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_check_find_family_eligibility_as_subscriber](
@subscriber_eligibility_ud       nvarchar(160) = null,
@subscriber_eligibility_id       int  = null
)


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

If @subscriber_eligibility_id is null
Begin
SELECT
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as subscriber_eligibility_id
,family_eligibility_member_benefit_plan.member_eligibility_ud as subscriber_eligibility_ud
,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) as subscriber_name
FROM family_eligibility
inner join family_eligibility_member on family_eligibility_member.family_eligibility_id=family_eligibility.family_eligibility_id
inner join member on family_eligibility_member.member_id=member.member_id
inner join  relationship_to_insured on family_eligibility_member.relationship_to_insured_id=relationship_to_insured.relationship_to_insured_id
left join member_name on member.member_id=member_name.member_id and member_name.is_primary = 1
inner join family_eligibility_member_benefit_plan on family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
where relationship_to_insured.golden_key ='Self'
and family_eligibility_member_benefit_plan.member_eligibility_ud= @subscriber_eligibility_ud
ORDER BY family_eligibility_ud
--
End
Else
Begin
SELECT
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as subscriber_eligibility_id
,family_eligibility_member_benefit_plan.member_eligibility_ud as subscriber_eligibility_ud
,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) as subscriber_name
FROM family_eligibility
inner join family_eligibility_member on family_eligibility_member.family_eligibility_id=family_eligibility.family_eligibility_id
inner join member on family_eligibility_member.member_id=member.member_id
inner join  relationship_to_insured on family_eligibility_member.relationship_to_insured_id=relationship_to_insured.relationship_to_insured_id
left join member_name on member.member_id=member_name.member_id and member_name.is_primary = 1
inner join family_eligibility_member_benefit_plan on family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
where relationship_to_insured.golden_key ='Self'
and family_eligibility_member_benefit_plan.member_eligibility_ud= @subscriber_eligibility_ud
and family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @subscriber_eligibility_id
ORDER BY family_eligibility_ud
--
End
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
