USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_calculation_rounding_method_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 12/27/2012

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

List of calculation rounding methods available to create rounding rules.
Used for the following forms:
Premium Billing - Disability Volume
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_calculation_rounding_method_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
calculation_rounding_method_id
,calculation_rounding_method_ud
,golden_key
FROM
calculation_rounding_method
--
RETURN @SP_SUCCESS
--
GO
