USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accumulator_class_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CANH LUU
DATE: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/29/2005	CANH LUU	1.0		create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accumulator_class (Accumulator Class)
--
REQUIREMENTS:
--
INPUTS:
accumulator_class_id - Key to accumulator_class table, identifies a single stored plx_dd_accumulator_class.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_accumulator_class_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_class_id
,accumulator_class_ud
--      ,description

FROM accumulator_class
ORDER BY sort_order asc

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
