USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_contact_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kinhquoc Date: 11/04/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/04/2005    kinhquoc   1.0        Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Associated Contacts"
in Customer form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_customer_contact_delete]

(
@customer_contact_id              int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM customer_contact WHERE customer_contact_id = @customer_contact_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM customer_contact
WHERE customer_contact_id = @customer_contact_id
END
--
RETURN @SP_SUCCESS
--
GO
