USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_resolve_choice_list_at_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 24 2005 12:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down resolve_choice_list_at (Resolve Choice List At)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_resolve_choice_list_at_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
resolve_choice_list_at.resolve_choice_list_at_id
,resolve_choice_list_at.resolve_choice_list_at_ud
--      ,resolve_choice_list_at.description
--      ,resolve_choice_list_at.active
--      ,resolve_choice_list_at.created_user_name
--      ,resolve_choice_list_at.created_group_id

--      ,created_group.created_group_ud
--      ,resolve_choice_list_at.created_date
--      ,resolve_choice_list_at.modified_date
FROM resolve_choice_list_at
--     inner join created_group  ON created_group.created_group_id = resolve_choice_list_at.created_group_id
--WHERE resolve_choice_list_at.resolve_choice_list_at_id = @resolve_choice_list_at_id
--
ORDER BY resolve_choice_list_at_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
