USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/08/2005		ptran			1.1			FS changed
12/05/2005      HungTNguyen     1.2         Build 103 table BENEFIT_CONTRACT_PERIOD_BENEFIT_PLAN field changed [pay_claim_to_id]=>[pay_claim_to_id]
02/13/2006      HungTNguyen     1.2         Build changed pre_existing_condition_rule_id to pre_existing_condition_rule_set_id
03/02/2006      HungTNguyen     1.2         Build changed visit_definition_rule_id to visit_definition_id
12/10/2008		lrenard			1.3		removed visit_definition_id.
9/12/2011		cknobloch		1.4			ICU#22144 - added disenrollment_letter
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Load for Benefit Plan Panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                 PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_load]
(
@benefit_contract_period_benefit_plan_id INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
DECLARE @resolve_option_at_id INT
SELECT @resolve_option_at_id=bcpbp_parent.resolve_option_at_id
FROM benefit_contract_period_benefit_plan bcpbp_parent
,benefit_contract_period_benefit_plan bcpbp
WHERE bcpbp.benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
AND bcpbp.parent_benefit_contract_period_benefit_plan_id=bcpbp_parent.benefit_contract_period_benefit_plan_id
SELECT
bcpbp.benefit_contract_period_benefit_plan_id
,bcpbp.benefit_contract_period_id
,bcpbp.benefit_plan_id
,bcpbp.benefit_plan_id AS original_benefit_plan_id
,CAST (ISNULL(bcpbp.principle_plan,0) AS BIT ) AS principle_plan
,bcpbp.benefit_plan_type_id
,bcpbp.parent_benefit_contract_period_benefit_plan_id
,bcpbp.base_supplemental_rollover_rule_id

,af.accumulator_framework_id AS accum_framework_id
,af.accumulator_framework_ud AS accum_framework_ud
,afaca.accumulator_framework_accumulator_class_accumulator_id
,afaca.accumulator_framework_accumulator_class_accumulator_ud

,bcpbp.financial_code_id
,bcpbp.financial_sub_code_id
,CAST (ISNULL(bcpbp.network_not_applicable,0) AS BIT ) AS network_not_applicable
,bcpbp.auto_create_member_id_rule_id
,bcpbp.eligibility_seed_value
,bcpbp.annual_accumulator_rollover_rule_id
,bcpbp.restart_accumulator_months_id
,bcpbp.restart_accumulator_day_of_month
,bcpbp.restart_accumulator_number_of_months
,bcpbp.accumulator_start_date
,bcpbp.pre_existing_condition_rule_set_id
,CAST (ISNULL(bcpbp.disenrollment_letter,0) AS BIT ) as disenrollment_letter

,bcpbp.hipaa_claim_filing_indicator_id
,bcpbp.pay_claim_to_id

,bcpbp.billing_only
,bcpbp.missing_authorization_penalty_rule_id

,bp.benefit_plan_ud
,bp.benefit_plan_nm

,bca.benefit_category_id
,bca.benefit_category_ud
,bca.benefit_category_nm
,pct.golden_key as premium_category_golden_key
,bcpbp.cms_coverage_type_id
,cct.cms_code
,bsca.benefit_sub_category_id
,bsca.benefit_sub_category_ud AS benefit_plan_sub_category_ud

,pl.product_line_ud AS period_plan_product_line_ud
,pl.product_line_id AS period_plan_product_line_id
,p.product_ud AS period_plan_product_ud
,p.product_id AS period_plan_product_id
, CASE
WHEN parent_benefit_contract_period_benefit_plan_id IS NULL THEN bcpbp.resolve_option_at_id
WHEN parent_benefit_contract_period_benefit_plan_id IS NOT NULL THEN @resolve_option_at_id
END AS resolve_option_at_id

FROM benefit_contract_period_benefit_plan bcpbp
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
LEFT JOIN benefit_framework bf ON bf.benefit_framework_id = bp.benefit_framework_id
LEFT JOIN benefit_category bca ON bca.benefit_category_id = bf.benefit_category_id
LEFT JOIN premium_category_type pct ON (bca.premium_category_type_id = pct.premium_category_type_id)
LEFT JOIN benefit_sub_category bsca ON bsca.benefit_sub_category_id = bf.benefit_sub_category_id
LEFT JOIN product_line pl  ON  pl.product_line_id = bp.product_line_id
LEFT JOIN product p  ON p.product_id = bp.product_id
LEFT JOIN accumulator_framework af ON af.accumulator_framework_id = bcpbp.accumulator_framework_id
LEFT JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = bcpbp.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN cms_coverage_type cct ON bcpbp.cms_coverage_type_id = cct.cms_coverage_type_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
