USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 09/22/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/22/2008	Vishwa Jella	1.0		Created for 18152.b Accounting Payments Functionality
02/19/2009 	Jeremy Hein			Modified for Credits
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

To load data into Transactions Included in Payment Grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_transactions_load]
(
@accounting_transaction_ap_id	INT = NULL	-- payment ID	( = @from_accounting_transaction_ap_id)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@UNAPPLIED_AMOUNT numeric(20,10),
@APPLIED_AMOUNT numeric(20,10)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0


SELECT
apply_to.accounting_transaction_ap_apply_to_id
,apply_to.from_accounting_transaction_ap_id
,apply_to.to_accounting_transaction_ap_id
,accounting_transaction_ap.accounting_transaction_ap_ud As 'accounting_transaction_ap_ud'
,accounting_transaction_ap.accounting_transaction_ap_type_id
,accounting_transaction_ap.transaction_date
,CASE
when  aps.golden_key = 'ENTERED' THEN
dbo.plx_fn_get_unapplied_amount_for_payment_detail_transactions(accounting_transaction_ap.accounting_transaction_ap_id,1)
ELSE
(CASE accounting_transaction_ap_type.golden_key WHEN 'CREDIT' THEN apply_to.unapplied_amount * -1
WHEN 'BILL' THEN apply_to.unapplied_amount END)
END as unapplied_amount
,CASE accounting_transaction_ap_type.golden_key WHEN 'CREDIT' THEN apply_to.amount * -1
WHEN 'BILL'   THEN apply_to.amount
END as apply_to_amount
,apply_to.comment
,accounting_transaction_ap.accounting_source_id
,accounting_source.accounting_source_ud
,claim.claim_id
,claim.claim_ud
,cft.golden_key as claim_form_type_gk

FROM accounting_transaction_ap_apply_to as apply_to
INNER JOIN	accounting_transaction_ap ON apply_to.to_accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
LEFT JOIN	accounting_source ON accounting_transaction_ap.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN	accounting_transaction_ap_type ON accounting_transaction_ap.accounting_transaction_ap_type_id = accounting_transaction_ap_type.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_payment_detail atappd ON  atappd.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
LEFT JOIN accounting_payment_status aps ON  aps.accounting_payment_status_id = atappd.accounting_payment_status_id
LEFT JOIN accounting_transaction_ap_claim_detail apDetail ON apDetail.accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
LEFT JOIN claim ON apDetail.claim_id = claim.claim_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = claim.claim_form_type_id
WHERE apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
