USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seed_amount_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Feb 13 2006  6:13PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/13/2006	Tinh do		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Accumulator Seed Amount form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_seed_amount_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT  TOP(0) * FROM accumulator_seed_value

RETURN @SP_SUCCESS
GO
