USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_referral_authorization_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 09/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/26/2005	ThuyNgo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Referrals / Authorizations"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_referral_authorization_load]

(
@episode_id			Int  = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
episode_referral_authorization.episode_referral_authorization_id
,episode_referral_authorization.referral_id
,referral.referral_ud
,referral_type.referral_type_ud
,referral_status.referral_status_ud
,CONVERT(NVARCHAR, referral.effective_from, 101) AS effective_from
,CONVERT(NVARCHAR, referral.effective_thru, 101) AS effective_thru
FROM episode_referral_authorization
inner join episode  ON episode.episode_id = episode_referral_authorization.episode_id
inner join referral  ON referral.referral_id = episode_referral_authorization.referral_id
left join referral_type on referral_type.referral_type_id = referral.referral_type_id
left join referral_status on referral_status.referral_status_id = referral.referral_status_id
WHERE episode_referral_authorization.episode_id = @episode_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
