USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_commission_payment_status_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  1 2006  2:48PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	tqdo		1.0		Create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for agent commision payment status grid on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_agent_commission_payment_status_save]
(
@agent_commission_payment_status_id         int = NULL   OUTPUT
,@agent_id                                   int = NULL
,@carrier_id                                 int = NULL
,@commission_payment_status_id               int = NULL
,@commission_payment_status_reason_id        int = NULL
,@allow_payments_after_through_date          bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_commission_payment_status_id is Null
BEGIN

--- Create a new agent_commission_payment_status record
INSERT INTO agent_commission_payment_status(
agent_id
,carrier_id
,commission_payment_status_id
,commission_payment_status_reason_id
,allow_payments_after_through_date
,effective_from
,effective_thru
,active
)
VALUES
(@agent_id
,@carrier_id
,@commission_payment_status_id
,@commission_payment_status_reason_id
,@allow_payments_after_through_date
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_commission_payment_status_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_commission_payment_status WHERE agent_commission_payment_status_id = @agent_commission_payment_status_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_commission_payment_status record
UPDATE agent_commission_payment_status
SET
agent_id                                 = @agent_id
,carrier_id                               = @carrier_id
,commission_payment_status_id             = @commission_payment_status_id
,commission_payment_status_reason_id      = @commission_payment_status_reason_id
,allow_payments_after_through_date        = @allow_payments_after_through_date
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_commission_payment_status_id = @agent_commission_payment_status_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
