USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_member_expense_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/26/2009
--
REVISION_HISTORY:
--
Date       Modified By      Version   Description
--------------------------------------------------------------------------------
06/26/2009 Isaac Overacker   1.0      Created.
11/16/2011	ggutshall		 1.1	  Added returnset limitations
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Populates the Member Expense Schedule Find Form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_member_expense_schedule_load]
(
@get_column_headers             BIT = 0
,@member_expense_schedule_ud     NVARCHAR(50) = NULL
,@description                    NVARCHAR(255) = NULL
,@show_exact_matches             BIT = NULL
) AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1

DECLARE @sql_query NVARCHAR(4000)
DECLARE @where_clause NVARCHAR(4000)

IF RTRIM(@member_expense_schedule_ud) = ''
SET @member_expense_schedule_ud = NULL
IF RTRIM(@description) = ''
SET @description = NULL

SET @sql_query =
'  SELECT DISTINCT TOP (dbo.fn_results_limit())
mes.member_expense_schedule_id
,mes.member_expense_schedule_ud
,mes.description
FROM member_expense_schedule mes
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0'

IF (NOT @show_exact_matches IS NULL) AND (@show_exact_matches = 1)
BEGIN
IF NOT @member_expense_schedule_ud IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(mes.member_expense_schedule_ud, '''') = N''' + dbo.plx_EncodeStringWildCard(@member_expense_schedule_ud, @show_exact_matches) + ''')'
IF NOT @description IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(mes.description, '''') = N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + ''')'
END
ELSE
BEGIN
IF NOT @member_expense_schedule_ud IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(mes.member_expense_schedule_ud, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@member_expense_schedule_ud, @show_exact_matches) + '%'')'
IF NOT @description IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(mes.description, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + '%'')'
END

EXEC(@sql_query)

IF @@ROWCOUNT >= 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
