USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_get_golden_data]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_history_get_golden_data] AS

SELECT
yn.yes_no_id,
yn.yes_no_ud,
yn.golden_key
FROM
yes_no yn;
GO
