USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_member_medicare_identifier_exists]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_check_member_medicare_identifier_exists]
@identifier NVARCHAR(50) = NULL,
@medicare_identifier_type_id INT = 0,
@member_id INT = 0
AS
SELECT
mmi.member_id as other_member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix) as other_member_name
FROM member_medicare_identifier mmi
JOIN member_name mn ON mn.member_id = mmi.member_id AND ISNULL(mn.is_primary, 0) = 1
WHERE
mmi.identifier = @identifier
AND
(
ISNULL(@medicare_identifier_type_id, 0) = 0
OR
mmi.medicare_identifier_type_id = @medicare_identifier_type_id
)
AND
mmi.member_id <> @member_id


RETURN 0
GO
