USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_correspondence_generated_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	Hiep Nguyen	1.0		Created
07/22/2011	Vjella		2.0		Removed correspondence_print_queue_id part of cleanup
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Correspondence Generated grid
in Benefit Contract Communications form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_correspondence_generated_save]
(
@benefit_contract_correspondence_id	INT = NULL   OUTPUT
, @correspondence_id		INT = NULL
, @benefit_contract_id			INT = NULL
, @generated_by			NVARCHAR(50) = NULL
, @generated_date		DATETIME = NULL
, @is_response_received		BIT = 0
, @stop_correspondence		BIT = 0
, @active			BIT = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@old_is_response_received BIT,
@old_stop_correspondence BIT

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @benefit_contract_correspondence_id IS NULL
BEGIN


--- Create a new benefit_contract_correspondence record
INSERT INTO benefit_contract_correspondence(
benefit_contract_id
,active
)
VALUES
(@benefit_contract_id
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @benefit_contract_correspondence_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_correspondence WHERE (benefit_contract_correspondence_id = @benefit_contract_correspondence_id))
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing benefit_contractcorrespondence record

DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_contract_correspondence
SET
benefit_contract_id                                = @benefit_contract_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_correspondence_id = @benefit_contract_correspondence_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
