USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Jan 06 2009
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
01/15/09		Jeremy Hein			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------

--
DESCRIPTION:
This procedure is used to save data for grid "User Assigned Result Codes"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_save]
(
@family_eligibility_member_benefit_plan_user_assigned_result_code_id		int = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id			                        int = NULL
,@criteria_id                            												int = NULL
,@result_code_id                         												int = NULL
,@result_code_status_id                  												int = NULL
,@comment                                												nvarchar(255) = NULL
,@effective_from                         												datetime = NULL
,@effective_thru                         												datetime = NULL
,@active                                 												bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @family_eligibility_member_benefit_plan_user_assigned_result_code_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_member_benefit_plan_user_assigned_result_code(
family_eligibility_member_benefit_plan_id
,criteria_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@active
)
--
SET @family_eligibility_member_benefit_plan_user_assigned_result_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_user_assigned_result_code WHERE family_eligibility_member_benefit_plan_user_assigned_result_code_id = @family_eligibility_member_benefit_plan_user_assigned_result_code_id )
BEGIN
RAISERROR('family_eligibility_member_benefit_plan_user_assigned_result_code object not found in family_eligibility_member_benefit_plan_user_assigned_result_code for internal key %d.', 16, 1, @family_eligibility_member_benefit_plan_user_assigned_result_code_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
DECLARE @ErrorVar int, @RowCountVar int
--
UPDATE family_eligibility_member_benefit_plan_user_assigned_result_code
SET
family_eligibility_member_benefit_plan_id	= @family_eligibility_member_benefit_plan_id
,criteria_id										   = @criteria_id
,result_code_id										= @result_code_id
,result_code_status_id								= @result_code_status_id
,comment												= @comment
,effective_from										= @effective_from
,effective_thru										= @effective_thru
,active													= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_member_benefit_plan_user_assigned_result_code_id		= @family_eligibility_member_benefit_plan_user_assigned_result_code_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END

RETURN @SP_SUCCESS
GO
