USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_location_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
DATE: 11/11/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/11/2005	HuyThan		1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down location_code (Location Code)
--
REQUIREMENTS:
--
INPUTS:
location_code_id - Key to location_code table, identifies a single stored dd_location_code.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_location_code_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
location_code.location_code_id
,location_code.location_code_ud
,location_code.location_code_nm
--      ,location_code.description
--      ,location_code.active

FROM location_code
ORDER BY location_code_ud

IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
