USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_volume_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_volume_form_load]
@family_eligibility_member_benefit_plan_id int = NULL
AS

-- BEGIN: Needs Review Evaluation and Premium Info in Header
--		Set needs_review to true if:
--		  CASE 1:
--			the latest [premium_volume_calculation].[needs_review_volume_increase_possible] record is true
--			UNLESS the hold_volume on the latest volume_election record is CHECKED
--		or
--		  CASE 2:
--			the [premium_volume_calculation].[needs_review_evaluate_rate_adjustment] record is true
DECLARE @needs_review BIT;
DECLARE @needs_review_case_1 BIT;
DECLARE @needs_review_case_2 BIT;
DECLARE @age_reduction_schedule_applied BIT;
DECLARE @last_premium_run_date DATE;

-- determine if the needs review fields are checked
-- for the most recent premium_calculation for this eligibility
select TOP 1
@needs_review_case_1 = (ISNULL(pvc.needs_review_volume_increase_possible, 0))
,@needs_review_case_2 = (ISNULL(pvc.needs_review_evaluate_rate_adjustment, 0))
,@age_reduction_schedule_applied = (ISNULL(pvc.age_reduction_schedule_applied, 0))
,@last_premium_run_date = pr.run_date
from premium_volume_calculation pvc
JOIN premium_calculation pc on pvc.premium_calculation_id = pc.premium_calculation_id
JOIN premium p on pc.premium_id = p.premium_id
JOIN premium_period pp on p.premium_period_id = pp.premium_period_id
JOIN premium_run pr on p.premium_run_id = pr.premium_run_id
where
pc.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY pp.effective_from DESC, pr.run_date DESC

-- if CASE 2 is true, then we are done
IF @needs_review_case_2 = 1
SET @needs_review = 1
-- if both cases are false, then we are done
ELSE IF @needs_review_case_1 = 0
SET @needs_review = 0
-- if only CASE 1 is true, we need to look for a possible override on the eligibility
-- via the hold_volume field
ELSE
BEGIN
-- determine if hold_volume is checked, if so, then CASE 1 needs_review is false
DECLARE @hold_volume BIT
select TOP 1 @hold_volume = (ISNULL(hold_volume, 0))
from eligibility_volume vol_elect
where
vol_elect.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY vol_elect.effective_from DESC

-- if Hold is True, then needs review is false and vice versa
IF @hold_volume = 1
SET @needs_review = 0
ELSE
IF @needs_review_case_1 = 1 OR @needs_review_case_2 = 1
SET @needs_review = 1
END

-- END: Needs Review Evaluation and Premium Info in Header

SELECT
fembp.family_eligibility_member_benefit_plan_id,
fem.family_eligibility_id,
fembp.member_eligibility_ud,
@needs_review as needs_review,
@age_reduction_schedule_applied as age_reduction_schedule_applied,
@last_premium_run_date as last_premium_run_date,
fem.member_id,
mn.name_last,
mn.name_first,
mn.name_middle,
fembp.benefit_plan_id,
pct.golden_key as premium_category_type_golden_key,
rti.golden_key as relationship_to_insured_golden_key
FROM
dbo.family_eligibility_member_benefit_plan fembp
join family_eligibility_member fem
on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
join relationship_to_insured rti on fem.relationship_to_insured_id = rti.relationship_to_insured_id
join member_name mn
on fem.member_id = mn.member_id and ISNULL(mn.is_primary,0) = 1
join benefit_plan bp on fembp.benefit_plan_id = bp.benefit_plan_id
join benefit_framework bf on bp.benefit_framework_id = bf.benefit_framework_id
join benefit_category bc on bf.benefit_category_id = bc.benefit_category_id
join premium_category_type pct on bc.premium_category_type_id = pct.premium_category_type_id
WHERE
fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id;

RETURN 0
GO
