USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_active_bank_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Initial Creation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/02/2008	Vishwa Jella	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
load bank accounts with pre-conditions:
1. bank account should be effective.
2. bank account must have cash account
3. and cash account must be active status on chart of accounts tab.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_active_bank_account_load_by_accounting_company]
(
@accounting_company_id			INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bank_account_id
,bank_account_ud
,is_active = CASE
WHEN account_status.golden_key <> 'Active' THEN 0
WHEN ISNULL(ba.effective_from, GETDATE()) > GETDATE() THEN 0
WHEN ISNULL(ba.effective_thru, '12/31/9999') < GETDATE() THEN 0
ELSE 1
END
FROM bank_account ba
INNER JOIN accounting_company_account aca ON aca.accounting_company_account_id = ba.cash_accounting_company_account_id
INNER JOIN account_status ON account_status.account_status_id = aca.account_status_id

WHERE ba.accounting_company_id = @accounting_company_id
AND (ba.effective_from is not null)
AND(( ba.effective_thru is null) OR (ba.effective_thru > getdate()))

ORDER BY ba.bank_account_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
