USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_account_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 03/15/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/15/2006	HungTNguyen		1.0		create
2008/05/19	lrenard			1.1		accounting company schema and form changes
10/14/2008	wchristensen	1.2		removed excess joins, changed is_in_use function/column name
01/05/09		jhein							ICU 20125 - add description
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
To save an accounting company account.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_accounting_company_account_load]
(
@accounting_company_id		INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
acc.accounting_company_account_id
,acc.accounting_company_id
,acc.accounting_company_account_ud
,acc.description

,acc.account_status_id
,account_status.account_status_ud
,account_status.golden_key AS account_status_golden_key

,acc.account_balance_type_id
,account_balance_type.account_balance_type_ud

,acc.currency_id
,currency.currency_ud

,dbo.plx_fn_check_account_in_use(acc.accounting_company_account_id) AS is_in_use

,acc.account_category_id
,account_category.account_category_ud
,account_category.golden_key AS account_category_golden_key

,acc.account_sub_category_id
,account_sub_category.account_sub_category_ud

,acc.active
,acc.created_user_name
,acc.created_group_id
,acc.created_date
,acc.modified_date

FROM accounting_company_account AS acc
LEFT JOIN account_category  ON account_category.account_category_id = acc.account_category_id
LEFT JOIN account_sub_category  ON account_sub_category.account_sub_category_id = acc.account_sub_category_id
LEFT JOIN account_status  ON account_status.account_status_id = acc.account_status_id
LEFT JOIN account_balance_type  ON account_balance_type.account_balance_type_id = acc.account_balance_type_id
LEFT JOIN currency  ON currency.currency_id = acc.currency_id

WHERE acc.accounting_company_id = ISNULL(@accounting_company_id, 0)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
