USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_processing_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/09/06	Trinh Le				Find workgroup assigned to the  queue
03/13/06	Trinh Le				Select the workgroup assignment combination on the result list
04/21/06	Trinh Le				add new criteria "functional_area_assignment_id"
04/16/09	lrenard			3.0		Updated claim processsing queue form
05/12/2009	David Slayton	3.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		3.2		Added returnset limitations
--
CURRENT_VERSION: 3.2
--
DESCRIPTION:
Loads claim records based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       procedure [dbo].[plx_find_claim_processing_queue_load]
(
@get_column_headers                    BIT = 0,
@claim_processing_queue_ud             NVARCHAR(50) = '',
@description                           NVARCHAR(255) = '',
@effective_from                        DATETIME = null ,
@effective_thru                        DATETIME = null ,

@claim_selection_priority_id           INT = null ,
@result_code_set_id                    INT = null ,
@provider_network_id                   INT = null ,
@provider_identifier_id                INT = null ,

@client_id                             INT = null ,
@client_group_id                       INT = null ,
@benefit_contract_id                   INT = null ,
@diagnosis_code_group_id               INT = null ,

@claim_form_type_id                    INT = null ,
@adjudication_status_id                INT = null ,
@claim_amount_type_id                  INT = null ,
@claim_date_type_id                    INT = null ,

@show_exact_matches                    BIT = 0,
@product_id                            INT = null,

@procedure_code_id                     INT = null,
@procedure_code_type_id                INT = null,
@procedure_code_group_id               INT = null

) as
begin
DECLARE
@sqlString nvarchar(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@all_type  int


IF @show_exact_matches = 1
BEGIN
SET @Prefix = ' =N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

SET @sqlString = '
SELECT DISTINCT	 TOP (dbo.fn_results_limit())
cpq.claim_processing_queue_id,
cpq.claim_processing_queue_ud,
csp.claim_selection_priority_ud,
cpq.description,
cpq.effective_from ,
cpq.effective_thru,
CASE WHEN cpq.effective_from IS NULL THEN 0 ELSE 1 END as sort_from,
CASE WHEN cpq.effective_thru IS NULL THEN 0 ELSE 1 END as sort_thru
FROM claim_processing_queue cpq
LEFT JOIN claim_selection_priority csp ON csp.claim_selection_priority_id = cpq.claim_selection_priority_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '


IF (@claim_processing_queue_ud is not null) and (ltrim(@claim_processing_queue_ud) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(cpq.claim_processing_queue_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@claim_processing_queue_ud, @show_exact_matches) + @suffix +  ') '
END

IF (@description is not null) and (ltrim(@description) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(cpq.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @suffix +  ') '
END

IF (@adjudication_status_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.adjudication_status_id = ' +  CONVERT(NVARCHAR, @adjudication_status_id )
END

IF (@claim_selection_priority_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.claim_selection_priority_id = ' +  CONVERT(NVARCHAR, @claim_selection_priority_id )
END

IF (@claim_form_type_id is not null)  and ( isnull(@claim_form_type_id,'') <> isnull(@all_type,'') )
BEGIN
SET @sqlString = @sqlString + ' AND  cpq.claim_form_type_id = ' +  CONVERT(NVARCHAR, @claim_form_type_id )
END

IF (@client_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.client_id = ' +  CONVERT(NVARCHAR, @client_id )
END

IF (@client_group_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id )
END

IF (@provider_network_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.provider_network_id = ' +  CONVERT(NVARCHAR, @provider_network_id )
END

IF (@provider_identifier_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.provider_identifier_id = ' +  CONVERT(NVARCHAR, @provider_identifier_id )
END

IF (@result_code_set_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.result_code_set_id = ' +  CONVERT(NVARCHAR, @result_code_set_id )
END

IF (@benefit_contract_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.benefit_contract_id = ' +  CONVERT(NVARCHAR, @benefit_contract_id )
END

IF (@diagnosis_code_group_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.diagnosis_code_group_id = ' +  CONVERT(NVARCHAR, @diagnosis_code_group_id )
END

IF (@claim_amount_type_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.claim_amount_type_id = ' +  CONVERT(NVARCHAR, @claim_amount_type_id )
END

IF (@claim_date_type_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.claim_date_type_id = ' +  CONVERT(NVARCHAR, @claim_date_type_id )
END

IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( cpq.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) '
END

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( cpq.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END

IF (@product_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.product_id = ' +  CONVERT(NVARCHAR, @product_id )
END

IF (@procedure_code_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.procedure_code_id = ' +  CONVERT(NVARCHAR, @procedure_code_id )
END

IF (@procedure_code_type_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.procedure_code_type_id = ' +  CONVERT(NVARCHAR, @procedure_code_type_id )
END

IF (@procedure_code_group_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cpq.procedure_code_group_id = ' +  CONVERT(NVARCHAR, @procedure_code_group_id )
END

------------------------------------------------------------------------------------------------------------------------

SET @sqlString = @sqlString + '  ORDER BY
sort_from , cpq.effective_from DESC
,sort_thru , cpq.effective_thru DESC
,cpq.claim_processing_queue_ud '
EXEC(@sqlString)


END
GO
