USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_history_msa_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: sfraser
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
06/07/2012 	sfraser	1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load table: code_import_history_msa
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_code_import_history_msa_load]
AS
--
DECLARE @SP_SUCCESS INT;
SET @SP_SUCCESS = 0;
--
SELECT code_import_history_msa_id, code_import_history_id, client_group_id FROM code_import_history_msa;

--
RETURN @SP_SUCCESS
--
GO
