USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_modifier_method_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan 10 2006 10:14AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_fee_schedule_modifier_method_list_load]

AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_modifier_method.fee_schedule_modifier_method_id
,fee_schedule_modifier_method.fee_schedule_modifier_method_ud
FROM fee_schedule_modifier_method
ORDER BY fee_schedule_modifier_method.fee_schedule_modifier_method_ud
--
RETURN @SP_SUCCESS
GO
