USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rate_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rate_save]
(
@eligibility_rate_id                          INT  = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id    INT
,@eligibility_rate_type_id                     INT
,@reported_date                                DATE = NULL
,@eligibility_rate_code_id                     INT  = NULL
,@eligibility_rate_retro_type_id               INT  = NULL
,@customer_id                                  INT  = NULL
,@accounting_company_id                        INT  = NULL
,@ar_accounting_company_account_id             INT  = NULL
,@revenue_accounting_company_account_id        INT  = NULL
,@is_exclude_from_premium                      BIT  = 0
,@number_of_periods                            INT  = 1
,@amount                                       NUMERIC (19, 4)
,@effective_from                               DATE
,@effective_thru                               DATE = NULL
,@comment                                      NVARCHAR(200) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '105070005',
@ERROR_NOT_EXIST	= '105070006',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '105070007'
--
IF ISNULL(@eligibility_rate_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO eligibility_rate (
family_eligibility_member_benefit_plan_id
,eligibility_rate_type_id
,reported_date
,eligibility_rate_retro_type_id
,is_exclude_from_premium
,number_of_periods
,customer_id
,accounting_company_id
,ar_accounting_company_account_id
,revenue_accounting_company_account_id
,amount
,effective_from
,effective_thru
,eligibility_rate_code_id
,comment
)
VALUES (
@family_eligibility_member_benefit_plan_id
,@eligibility_rate_type_id
,@reported_date
,@eligibility_rate_retro_type_id
,ISNULL(@is_exclude_from_premium, 0)
,@number_of_periods
,@customer_id
,@accounting_company_id
,@ar_accounting_company_account_id
,@revenue_accounting_company_account_id
,@amount
,@effective_from
,@effective_thru
,@eligibility_rate_code_id
,@comment
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @eligibility_rate_id = @@IDENTITY
END
--
ELSE IF NOT EXISTS (SELECT * FROM eligibility_rate WHERE eligibility_rate_id = @eligibility_rate_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int
UPDATE eligibility_rate
SET
family_eligibility_member_benefit_plan_id   = @family_eligibility_member_benefit_plan_id
,eligibility_rate_type_id                    = @eligibility_rate_type_id
,reported_date                               = @reported_date
,eligibility_rate_retro_type_id              = @eligibility_rate_retro_type_id
,is_exclude_from_premium                     = ISNULL(@is_exclude_from_premium, 0)
,number_of_periods                           = @number_of_periods
,customer_id                                 = @customer_id
,accounting_company_id                       = @accounting_company_id
,ar_accounting_company_account_id            = @ar_accounting_company_account_id
,revenue_accounting_company_account_id       = @revenue_accounting_company_account_id
,amount                                      = @amount
,effective_from                              = @effective_from
,effective_thru                              = @effective_thru
,eligibility_rate_code_id                    = @eligibility_rate_code_id
,comment                                     = @comment
,modified_user_name                          = ORIGINAL_LOGIN()
,modified_date                               = GETDATE()

WHERE eligibility_rate_id = @eligibility_rate_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
