USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:	Delete a benefit_plan set

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_plan_set_delete]
(
@benefit_plan_set_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT benefit_plan_set_id FROM benefit_plan_set WHERE benefit_plan_set_id = @benefit_plan_set_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_benefit_plan_set_check_delete @benefit_plan_set_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

DELETE FROM benefit_plan_set_detail
WHERE benefit_plan_set_id = @benefit_plan_set_id

DELETE FROM benefit_plan_set
WHERE benefit_plan_set_id = @benefit_plan_set_id

END
--
RETURN @SP_SUCCESS
--
GO
