USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_savings_bank_seed_reason_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nguyen, Nghi
July 11 2006 12:08PM   Initial generation
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'savings_bank_seed_reason' table (dropdown data)
;

HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_savings_bank_seed_reason_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
savings_bank_seed_reason_id
,savings_bank_seed_reason_ud

FROM savings_bank_seed_reason
ORDER BY savings_bank_seed_reason_ud

--
RETURN @SP_SUCCESS
--
END
GO
