USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   09/09/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for capitation manual run details grid on the capitation manual run form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_manual_run_detail_save]
(
@capitation_manual_run_detail_id        INT = NULL OUTPUT
,@capitation_manual_run_id               INT = NULL
,@provider_identifier_id                 INT = NULL
,@effective_from                         datetime = null
,@effective_thru                         datetime = null
,@total                                  numeric(19,4) = null
,@withhold_amount                        numeric(19,4) = null
,@withhold_account_id                    INT = NULL
,@capitation_status_id                   INT = NULL
,@active                                 bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @capitation_manual_run_detail_id is Null or @capitation_manual_run_detail_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_manual_run_detail (
capitation_manual_run_id
,provider_identifier_id
,effective_from
,effective_thru
,amount
,withhold_amount
,withhold_account_id
,capitation_status_id
,active
)
VALUES
(@capitation_manual_run_id
,@provider_identifier_id
,@effective_from
,@effective_thru
,@total
,@withhold_amount
,@withhold_account_id
,@capitation_status_id
,@active
)
--
SET @capitation_manual_run_detail_id = @@IDENTITY
END
--
ELSE
BEGIN
UPDATE capitation_manual_run_detail
SET
capitation_manual_run_id            = @capitation_manual_run_id
,provider_identifier_id              = @provider_identifier_id
,effective_from                      = @effective_from
,effective_thru                      = @effective_thru
,amount                              = @total
,withhold_amount                     = @withhold_amount
,withhold_account_id                 = @withhold_account_id
,capitation_status_id                = @capitation_status_id
,active                              = @active
,modified_user_name                  = ORIGINAL_LOGIN()
,modified_date                       = GETDATE()

WHERE capitation_manual_run_detail_id = @capitation_manual_run_detail_id
END
--
RETURN @SP_SUCCESS
--
GO
