USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_liability_insurance_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for agent liability insurance grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_liability_insurance_id - Key to agent_liability_insurance table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_liability_insurance_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_liability_insurance.agent_liability_insurance_id
,agent_liability_insurance.agent_id
,agent_liability_insurance.insurance_company
,agent_liability_insurance.policy_number
,agent_liability_insurance.benefit_category_id

,agent_liability_insurance.amount_insured
,agent_liability_insurance.effective_from as insurance_effective_from
,agent_liability_insurance.effective_thru as insurance_effective_thru
FROM agent_liability_insurance
WHERE agent_liability_insurance.agent_id = @agent_id
ORDER BY
CASE WHEN agent_liability_insurance.effective_from IS NULL THEN 0 ELSE 1 END , agent_liability_insurance.effective_from DESC
,CASE WHEN agent_liability_insurance.effective_thru IS NULL THEN 0 ELSE 1 END , agent_liability_insurance.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
