USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_state_address_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Amortensen
--
REVISION_HISTORY:
--
Date        Modified By    Description
--------------------------------------------------------------------------------
06/01/2018  Amortensen     RT:12695 - Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down State Address Rule in the
COB Processing Rules grid on the Benefit Contract Advanced Plan Setup form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_state_address_rule_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
state_address_rule_id
,state_address_rule_ud
,golden_key

FROM state_address_rule

--
RETURN @SP_SUCCESS
GO
