USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_base_type_disability_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 12/17/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/17/2012  eponomareff     1.0         created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for "Rate Type" drop down in Rate Type grid
(Base Rate Type) for Disability Premium Rate Schedule. It's the same as the one for
Life Premium Rate Schedule, except, because Disability applies only to the Subscriber,
it removes both these values from the selection:

FAMILY_TIER
ONE_RATE_FOR_ALL

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_rate_base_type_disability_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
premium_rate_base_type_id
,premium_rate_base_type_ud
,golden_key
FROM
premium_rate_base_type
WHERE
golden_key in
(
'AGE_GENDER',
'FIXED_RATE_PER_MEMBER'
)
ORDER BY
premium_rate_base_type_ud

RETURN @SP_SUCCESS
GO
