USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_contact_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 05/16/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/16/2008	lrenard				created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to load data Bank Accounts Contacts in Accounting Company form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_bank_account_contact_list_load] (@bank_account_id INT = NULL)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT DISTINCT bac.bank_account_id
,bac.bank_account_contact_id
,bac.contact_id
,CASE
WHEN at.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(cn.name_last, cn.name_first, cn.name_middle, cn.name_suffix)
ELSE cn.name_last -- company name
END AS contact_nm
,bac.contact_association_type_id
,bac.is_primary
,bac.effective_from
,bac.effective_thru
,bac.active
,bac.created_user_name
,bac.created_group_id
,bac.created_date
,bac.modified_date
FROM bank_account_contact bac
LEFT JOIN contact c
ON c.contact_id = bac.contact_id
INNER JOIN contact_name cn
ON cn.contact_id = bac.contact_id
LEFT JOIN alias_type at
ON at.alias_type_id = cn.alias_type_id
WHERE bac.bank_account_id = @bank_account_id

IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
