USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_subdivision_load_by_employee_division_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: HungTNguyen
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
3/01/2006	HungTNguyen		1.0		Created
--------------------------------------------------------- -----------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:  Load employee_subdivision  based on the parameter @employee_division_id

;
REQUIREMENTS	:

None
;
INPUTS		:  @employee_division_id


;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


create    procedure [dbo].[plx_employee_subdivision_load_by_employee_division_id]
@employee_division_id[int] = NULL
as
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


select
employee_subdivision.employee_subdivision_id
,employee_subdivision.employee_subdivision_ud
from	dbo.employee_subdivision
left  join dbo.employee_division  on dbo.employee_division.employee_division_id = employee_subdivision.employee_division_id
where
employee_subdivision.employee_division_id=@employee_division_id

RETURN @SP_SUCCESS
GO
