USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date        Modified By   Version  Description
--------------------------------------------------------------------------------
12/02/2007	Vishwa Jella  1.6      Added Posthumous Claim Rule fields
08/03/2009  ioveracker    1.7      Added "adj_" prefix to result_code_id and result_code_status_id; added result code columns for PCP processing.
12/16/2009  wchristensen  1.8      Added benefit_limit_rule_id
10/14/2010  eponomareff   2.0      ICU 20727 - removed dental fields; added grid for alternate course instead
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.8
--
DESCRIPTION:
ALTER  a single object into the benefit_plan table.
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_save]
(
@benefit_plan_id                          int = NULL OUTPUT,
@benefit_plan_ud                          nvarchar(100) = NULL,
@benefit_plan_nm                          nvarchar(200) = NULL,
@benefit_plan_description                 nvarchar(510) = NULL,
@benefit_framework_id                     int = NULL,
@benefit_plan_marketing_nm                nvarchar(100) = NULL,
@primary_care_provider                    bit = NULL,
@product_id                               int = NULL,
@plan_assignment_status_id                int = NULL,
@plan_adjudication_status_id              int = NULL,
@adj_result_code_id                       int = NULL,
@adj_result_code_status_id                int = NULL,
@deny_claims_after_days                   int = NULL,
@pend_claims_after_days                   int = NULL,
@marketing_arm_id                         int = NULL,
@marketing_arm_contract                   bit = NULL,
@allow_advance_commissions                bit = NULL,
@capitation_benefit_id                    int = NULL,
@pcp_required_result_code_id              int = NULL,
@pcp_required_result_code_status_id       int = NULL,
@benefit_limit_rule_id                    int = NULL,
@coverage_incentive_id					  int = NULL,
@active                                   bit = NULL,
@product_line_id						  int = NULL,
@dental_tooth_surface_validation          bit = NULL,
@include_mips							  bit = NULL,
@include_sequestration					  bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_id is Null
BEGIN

--- Create a new record
INSERT INTO benefit_plan(
benefit_plan_ud
,benefit_plan_nm
,description
,benefit_framework_id
,benefit_plan_marketing_nm
,primary_care_provider
,product_id
,plan_assignment_status_id
,plan_adjudication_status_id
,adj_result_code_id
,adj_result_code_status_id
,deny_claims_after_days
,pend_claims_after_days
,marketing_arm_id
,marketing_arm_contract
,allow_advance_commissions
,capitation_benefit_id
,pcp_required_result_code_id
,pcp_required_result_code_status_id
,benefit_limit_rule_id
,coverage_incentive_id
,product_line_id
,dental_tooth_surface_validation
,include_mips
,include_sequestration
,active
)
VALUES
(@benefit_plan_ud
,@benefit_plan_nm
,@benefit_plan_description
,@benefit_framework_id
,@benefit_plan_marketing_nm
,@primary_care_provider
,@product_id
,@plan_assignment_status_id
,@plan_adjudication_status_id
,@adj_result_code_id
,@adj_result_code_status_id
,@deny_claims_after_days
,@pend_claims_after_days
,@marketing_arm_id
,@marketing_arm_contract
,@allow_advance_commissions
,@capitation_benefit_id
,@pcp_required_result_code_id
,@pcp_required_result_code_status_id
,@benefit_limit_rule_id
,@coverage_incentive_id
,@product_line_id
,@dental_tooth_surface_validation
,@include_mips
,@include_sequestration
,@active
)
--
SET @benefit_plan_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan WHERE benefit_plan_id = @benefit_plan_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_plan
SET
benefit_plan_ud                          = @benefit_plan_ud
,benefit_plan_nm                          = @benefit_plan_nm
,description                              = @benefit_plan_description
,benefit_framework_id                     = @benefit_framework_id
,benefit_plan_marketing_nm                = @benefit_plan_marketing_nm
,primary_care_provider                    = @primary_care_provider
,product_id                               = @product_id
,plan_assignment_status_id                = @plan_assignment_status_id
,plan_adjudication_status_id              = @plan_adjudication_status_id
,adj_result_code_id                       = @adj_result_code_id
,adj_result_code_status_id                = @adj_result_code_status_id
,deny_claims_after_days                   = @deny_claims_after_days
,pend_claims_after_days                   = @pend_claims_after_days
,marketing_arm_id                         = @marketing_arm_id
,marketing_arm_contract                   = @marketing_arm_contract
,allow_advance_commissions                = @allow_advance_commissions
,capitation_benefit_id                    = @capitation_benefit_id
,pcp_required_result_code_id              = @pcp_required_result_code_id
,pcp_required_result_code_status_id       = @pcp_required_result_code_status_id
,benefit_limit_rule_id                    = @benefit_limit_rule_id
,product_line_id						  = @product_line_id
,coverage_incentive_id					  = @coverage_incentive_id
,dental_tooth_surface_validation		  = @dental_tooth_surface_validation
,include_mips							  = @include_mips
,include_sequestration					  = @include_sequestration
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_id = @benefit_plan_id
END
--
RETURN @SP_SUCCESS
--
GO
