USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_truncate_staged_providers]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_truncate_staged_providers]
AS

SET NOCOUNT ON;

TRUNCATE TABLE capitation_staging_providers;
GO
