USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_form_load]
@family_eligibility_member_benefit_plan_id int = NULL
AS
SELECT
fembp.family_eligibility_member_benefit_plan_id,
fem.family_eligibility_id,
fe.family_eligibility_ud,
fembp.benefit_plan_id,
bp.benefit_plan_ud
FROM
dbo.family_eligibility_member_benefit_plan fembp
join family_eligibility_member fem
on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
join family_eligibility fe
on fem.family_eligibility_id = fe.family_eligibility_id
join benefit_plan bp
on fembp.benefit_plan_id = bp.benefit_plan_id
WHERE
fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id;


RETURN 0
GO
