USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_coverage_level_tier_assign_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_coverage_level_tier_assign_save]
(
@benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id INT = NULL OUTPUT
,@benefit_contract_period_benefit_plan_id INT = NULL
,@tier_id INT = NULL
,@effective_from DATETIME
,@effective_thru DATETIME
)
AS
--
DECLARE @SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)

SELECT @SP_SUCCESS = 0
,@ERROR_CANT_INSERT = ''
,@ERROR_NOT_EXIST = ''
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = ''
--
IF @benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id IS NULL
BEGIN
--- Create a new
INSERT INTO dbo.benefit_contract_period_benefit_plan_coverage_level_tier_assignment (
benefit_contract_period_benefit_plan_id
,tier_id
,effective_from
,effective_thru
)
VALUES (
@benefit_contract_period_benefit_plan_id
,@tier_id
,@effective_from
,@effective_thru
)

--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id = SCOPE_IDENTITY()
END
ELSE IF NOT EXISTS (
SELECT *
FROM dbo.benefit_contract_period_benefit_plan_coverage_level_tier_assignment
WHERE benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id = @benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar INT
,@RowCountVar INT

--- Updating an existing
UPDATE dbo.benefit_contract_period_benefit_plan_coverage_level_tier_assignment
SET benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
,tier_id = @tier_id
,effective_from = @effective_from
,effective_thru = @effective_thru
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id = @benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
--
GO
