USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_code_import_data_source_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[plx_dd_code_import_data_source_load]
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
code_import_data_source_id
,code_import_data_source_ud
,golden_key
FROM code_import_data_source
ORDER BY code_import_data_source_ud DESC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
