USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_country_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:Trinh Le
Oct 12 2005 10:02AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/11/2006	Hiep Nguyen	1.0		Removed locale and added golden_key
09/05/2014	dcannon		1.1		Added join to country_address format and parameter to return full list
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down country (Country)
--
REQUIREMENTS:
--
INPUTS:
locale_id - Key to locale table, identifies a single stored dd_state.
@AddressFormat	- default 1 to reutrn only countries with formatted address rules; 0 returns all countries from country table
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_country_load]
@AddressFormat int = 1
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
country.country_id,
country.country_ud,
country_nm,
country.golden_key
FROM country
LEFT JOIN country_address_format
ON country.country_id = country_address_format.country_id
WHERE (@AddressFormat <> 1 OR country_address_format.country_id IS NOT NULL)
ORDER BY country_address_format.is_default DESC, country.country_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
