USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_provider_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By			Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan				Created
2008-09-12	jgarro				Changed it to return a whole lot more information for whomeever may need it
09/03/2014	dcannon		1.2		added delivery_route to function
2016-03-28	10138		1.3		Improve performance by removing the case clause in the WHERE
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.3
;
DESCRIPTION	:
This procedure is used to load provider data for claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE   PROCEDURE [dbo].[plx_claim_provider_info_load]
(
@provider_identifier_id INT = NULL ,
@provider_id INT = NULL ,
@claim_id INT = NULL
)
AS
BEGIN

IF ISNULL(@provider_identifier_id, 0) <> 0
SET @provider_id = NULL;

IF ISNULL(@provider_id, 0) <> 0
SET @provider_identifier_id = NULL;

CREATE TABLE #provider
(
provider_id INT ,
provider_identifier_id INT ,
provider_ud NVARCHAR(256)
);


IF @provider_id IS NOT NULL
AND @provider_identifier_id IS NOT NULL
BEGIN
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
LEFT JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   pi.provider_identifier_id = @provider_identifier_id
AND p.provider_id = @provider_id;
END;
ELSE
IF @provider_id IS NOT NULL
AND @provider_identifier_id IS NULL
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
LEFT JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   p.provider_id = @provider_id;
ELSE				--@PROVIDER_ID IS NULL AND @PROVIDER_IDENTIFIER_ID IS NOT NULL
INSERT  INTO #provider
( provider_id ,
provider_identifier_id ,
provider_ud
)
SELECT DISTINCT
p.provider_id ,
pi.provider_identifier_id ,
pi.provider_ud
FROM    dbo.provider p
INNER JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
WHERE   pi.provider_identifier_id = @provider_identifier_id;


---
SELECT DISTINCT
p.provider_id AS provider_id ,
p.provider_identifier_id AS provider_identifier_id ,
p.provider_ud AS provider_ud ,
pn.name_last AS provider_name_last ,
pn.name_first AS provider_name_first ,
pn.name_middle AS provider_name_middle,
dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name,
dbo.plx_ConcatenateAddress(a.address_1, a.address_2, a.delivery_route,
a.locale_id) AS provider_address ,
a.address_1 AS 'provider_address_1' ,
a.address_2 AS 'provider_address_2' ,
a.delivery_route as 'provider_delivery_route',
l.postal_code AS 'provider_postal_code' ,
l.city AS 'provider_city' ,
s.state_ud AS 'provider_state' ,
country.country_ud AS 'provider_country' ,
ppn.provider_network_id AS provider_network_id ,
pnet.provider_network_id AS provider_network_id ,
ps.provider_specialty_id AS provider_specialty_id ,
pst.provider_specialty_type_ud AS provider_specialty_ud ,
(select provider_ud from dbo.provider_identifier pi_npi
INNER JOIN dbo.provider_identifier_type pit
ON pi_npi.provider_identifier_type_id = pit.provider_identifier_type_id
where pi_npi.provider_id = p.provider_id
AND provider_identifier_type_ud = 'NPI') AS provider_npi
FROM    #provider p
LEFT JOIN dbo.provider_name pn ON pn.provider_id = p.provider_id
AND pn.is_primary = 1
LEFT JOIN dbo.provider_specialty ps ON ps.provider_id = p.provider_id
AND ps.primary_specialty = 1
LEFT JOIN dbo.provider_specialty_type pst ON ps.provider_specialty_type_id = pst.provider_specialty_type_id
LEFT JOIN dbo.provider_provider_network ppn ON ppn.provider_id = p.provider_id
LEFT JOIN dbo.provider_network pnet ON pnet.provider_network_id = ppn.provider_network_id
LEFT JOIN dbo.address a ON a.address_id = dbo.plx_fn_claim_provider_address_id(@claim_id,
p.provider_id)
LEFT JOIN locale AS l ON l.locale_id = a.locale_id
LEFT JOIN state AS s ON s.state_id = l.state_id
LEFT JOIN country ON country.country_id = l.country_id;


END;
GO
