USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: vishwa Jella
DATE: 06/22/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/22/2008	vishwa jella	1.0		created
08/15/2008	lrenard			1.1		new accounting schema
09/29/2008	Vishwa Jella	1.2		Updated delete functionality for transaction.
12/15/2016  jbernard 		1.3		SP11148 - Delete FK relationship in disbursement_claim_payment_run_result_code
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete AP/AR transaction.
--Currently we implemented AP related delete functionality.

---- for AP :

Delete Condition:	Transaction is Manually created. And Is not existing in any payment.
If Transaction is created by other process, we can't delete it


--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_delete](@accounting_transaction_id INT = NULL
,@is_AP BIT = 1)
AS
--
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = -1

IF @is_AP = 1
BEGIN
--
IF NOT EXISTS
(
SELECT *
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_id
)
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this transaction is being used
DECLARE @DELETE_OK INT
EXEC @DELETE_OK = plx_accounting_transaction_check_delete
@accounting_transaction_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete child tables
DELETE FROM accounting_transaction_ap_claim_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ap_additional_information
WHERE accounting_transaction_ap_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ap_accounting_transaction_status_history
WHERE accounting_transaction_ap_id = @accounting_transaction_id

-- SP11148
DELETE FROM disbursement_claim_payment_run_result_code
WHERE accounting_transaction_ap_id = @accounting_transaction_id

--Delete the accounting_transaction_ap
DELETE FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_id
IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION
END
END

/* -- ar not implemented yet
ELSE
BEGIN

IF NOT EXISTS (SELECT * FROM accounting_transaction_ar WHERE accounting_transaction_ar_id = @accounting_transaction_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

DELETE FROM accounting_transaction_ar_accounting_transaction_status
WHERE accounting_transaction_ar_accounting_transaction_status.accounting_transaction_ar_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END

END
*/
--
RETURN @SP_SUCCESS
--
GO
