USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_noelig_network_override]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE      PROCEDURE [dbo].[bind_noelig_network_override]
AS
BEGIN
    DECLARE @upDate DATETIME = GETDATE();
    DECLARE @upUser NVARCHAR(200) = SYSTEM_USER;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO bind_noelg_override_audit (
            claim_id, claim_ud, repriced_network, provider_network_id,
            provider_network_ud, claim_procedure_id, claim_line_sequence,
            modified_date, modified_user_name
        )
        SELECT
            c.claim_id, c.claim_ud, c.repriced_network,
            ISNULL(c.provider_network_id, pn.provider_network_id),
            pn.provider_network_ud, cp.claim_procedure_id,
            cp.claim_line_sequence, @upDate, @upUser
        FROM claim c
        INNER JOIN adjudication_status cas ON c.adjudication_status_id = cas.adjudication_status_id
        INNER JOIN claim_procedure cp ON c.claim_id = cp.claim_id
        INNER JOIN adjudication_result_key ark ON cp.claim_procedure_id = ark.claim_procedure_id
        LEFT JOIN adjudication_result_key_override arko ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
        INNER JOIN adjudication_result_code arc ON cp.claim_procedure_id = arc.claim_procedure_id
        INNER JOIN result_code rc ON arc.result_code_id = rc.result_code_id AND rc.result_code_ud = 'BDNOELG'
        INNER JOIN adjudication_status cpas ON cp.adjudication_status_id = cpas.adjudication_status_id
        INNER JOIN bind_network_map bnm ON c.repriced_network = bnm.repriced_network
        INNER JOIN provider_network pn ON pn.provider_network_id = bnm.provider_network_id
        WHERE cas.adjudication_status_ud = 'approved' AND ark.provider_network_id IS NULL;

        UPDATE ark
        SET
            ark.provider_network_id = CASE
                WHEN c.provider_network_id IS NULL THEN pn.provider_network_id
                ELSE c.provider_network_id
            END,
            ark.modified_date = @upDate,
            ark.modified_user_name = @upUser
        FROM claim c
        INNER JOIN adjudication_status cas ON c.adjudication_status_id = cas.adjudication_status_id
        INNER JOIN claim_procedure cp ON c.claim_id = cp.claim_id
        INNER JOIN adjudication_result_key ark ON cp.claim_procedure_id = ark.claim_procedure_id
        LEFT JOIN adjudication_result_key_override arko ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
        INNER JOIN adjudication_result_code arc ON cp.claim_procedure_id = arc.claim_procedure_id
        INNER JOIN result_code rc ON arc.result_code_id = rc.result_code_id AND rc.result_code_ud = 'BDNOELG'
        INNER JOIN adjudication_status cpas ON cp.adjudication_status_id = cpas.adjudication_status_id
        INNER JOIN bind_network_map bnm ON c.repriced_network = bnm.repriced_network
        INNER JOIN provider_network pn ON pn.provider_network_id = bnm.provider_network_id
        WHERE cas.adjudication_status_ud = 'approved' AND ark.provider_network_id IS NULL AND cpas.adjudication_status_ud = 'denied';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END;
GO
