USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 08/11/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/11/2009	Chad Maddox	Created		Check capitation_run deletion
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
See if a capitation_run is in use
--
REQUIREMENTS:
--
INPUTS:
@id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_run_check_delete]
(
@capitation_run_id	int = 0
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

SET	@result	= @SP_DELETE_ABLE

IF EXISTS(
select 1 from
capitation_calculation neg_calculation
JOIN
capitation_calculation calculation
ON neg_calculation.capitation_calculation_id = calculation.negated_capitation_calculation_id
WHERE neg_calculation.capitation_run_id = @capitation_run_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

RETURN @result
END
GO
