USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_set_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_client_group_set_check_delete] (@id INT = NULL)
AS
DECLARE @SP_DELETE_ABLE INT,
@SP_DELETE_UNABLE INT

SELECT @SP_DELETE_ABLE = 1,
@SP_DELETE_UNABLE = 0

-- First check that the record exists
IF NOT EXISTS (
SELECT client_group_set_id
FROM client_group_set
WHERE client_group_set_id = @id
)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN
IF EXISTS (
SELECT *
FROM claim_analysis_queue
WHERE client_group_set_id = @id
)
BEGIN
--check accumulator framework assignments
SELECT 'Claim Analysis Filter' AS object_golden_key,
claim_analysis_queue_ud AS object_ud
FROM claim_analysis_queue c
WHERE client_group_set_id = @id

RETURN @SP_DELETE_UNABLE
END
END

RETURN @SP_DELETE_ABLE
GO
