USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_benefit_class_choice_list_resolution_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 11/03/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/03/2005	mttran		1.0			create
08/15/2007        meena             modified
08/22/2013	amortensen	1.2			RT:5063 - Receiving Concurrency Lock Error when trying to modify a Choice List
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to load data for grid Benefit Class Choice List resolution in Eligibility Details tab in
Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_family_eligibility_benefit_class_choice_list_resolution_list_load]
(
@family_eligibility_id						INT = NULL
,@benefit_contract_period_benefit_plan_id	INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF ISNULL(@family_eligibility_id, 0) <= 0
BEGIN
SELECT  DISTINCT
NULL AS family_eligibility_benefit_class_choice_list_resolution_id
,bc.benefit_class_id
,bc.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bfcl.benefit_framework_choice_list_id
,bfcl.benefit_framework_choice_list_ud
,NULL AS benefit_coverage_rules_id
,CAST(NULL AS INT) AS benefit_framework_valid_choice_id
,NULL AS valid_choice
,bcpbp.modified_date
FROM
dbo.benefit_contract_period_benefit_plan bcpbp
INNER JOIN dbo.benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN dbo.benefit_framework
ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
WHERE   UPPER(rcla.golden_key) = UPPER('Family Eligibility')
AND		bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
ORDER BY bc.benefit_class_ud

END
ELSE
BEGIN
SELECT	DISTINCT
resolution.family_eligibility_benefit_class_choice_list_resolution_id
,bc.benefit_class_id
,bc.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bfcl.benefit_framework_choice_list_ud
,resolution.benefit_coverage_rules_id
,resolution.benefit_framework_valid_choice_id
,bfcl.benefit_framework_choice_list_id
,resolution.valid_choice
,resolution.modified_date
FROM
dbo.benefit_contract_period_benefit_plan bcpbp
INNER JOIN dbo.benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN dbo.benefit_framework
ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN (
SELECT 	 febcclr.family_eligibility_benefit_class_choice_list_resolution_id
,febcclr.family_eligibility_id
,febcclr.benefit_contract_period_benefit_plan_id
,benefit_coverage_rules.benefit_id
,febcclr.benefit_coverage_rules_id
,febcclr.benefit_framework_valid_choice_id
,benefit_framework_valid_choice.benefit_framework_choice_list_id
,benefit_framework_valid_choice.valid_choice AS valid_choice
,febcclr.modified_date
FROM	dbo.family_eligibility_benefit_class_choice_list_resolution febcclr
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_coverage_rules_id = febcclr.benefit_coverage_rules_id
INNER JOIN dbo.benefit_framework_valid_choice
ON	benefit_framework_valid_choice.benefit_framework_valid_choice_id = febcclr.benefit_framework_valid_choice_id
) resolution
ON	resolution.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
AND	resolution.benefit_id = benefit.benefit_id
AND	resolution.family_eligibility_id = @family_eligibility_id
AND     resolution.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
WHERE   UPPER(rcla.golden_key) = UPPER('Family Eligibility')
AND		bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
ORDER BY bc.benefit_class_ud
END

--
RETURN @SP_SUCCESS
--
GO
