USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_lock_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005		ptran			1.1		FS changed
12/14/2005      HungTNguyen		1.2               BENEFIT_CONTRACT_PERIOD_LOCKS ==> BENEFIT_CONTRACT_PERIOD_LOCK
12/14/2005      HungTNguyen     1.2               comment=>comment
12/14/2005      HungTNguyen     1.2               locks_by=>lock_by
benefit_contract_period_locks_id=>benefit_contract_period_lock_id
2006/03/08	Thuy Ha				created_date and modified_date use DB Server date
2014-08-19	eponomareff		RT:6046 Tombstone modifications
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save for Locks grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_lock_id - Key to benefit_contract_period_locks table, identifies a single benefit_contract_period_locks,
@benefit_contract_period_id
@result_code_id
@lock_set_on
@lock_removed_on
@lock_removed_by
@comment
@active
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_lock_save]
(
@benefit_contract_period_lock_id           int = NULL   OUTPUT
,@benefit_contract_period_id                 int = NULL
,@result_code_id                             int = NULL
,@lock_set_on                                datetime = NULL
,@lock_removed_on                            datetime = NULL
,@lock_removed_by                            nvarchar(256) = NULL
,@comment                                   nvarchar(600) = NULL
,@lock_by			nvarchar(256) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1


--
if @lock_removed_on is not null
begin
set @lock_removed_by= ORIGINAL_LOGIN()
end
IF @benefit_contract_period_lock_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_lock(
benefit_contract_period_id
,result_code_id
,lock_set_on
,lock_removed_on
,lock_removed_by
,comment
,lock_by
,active
)
VALUES(
@benefit_contract_period_id
,@result_code_id
,GETDATE()
,@lock_removed_on
,@lock_removed_by
,@comment
,ORIGINAL_LOGIN()
,@active
)
--
SET @benefit_contract_period_lock_id = @@IDENTITY
IF @benefit_contract_period_lock_id>0 AND ISNULL(@benefit_contract_period_id,0) > 0
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period
SET
locked_from_use =dbo.plx_is_benefit_contract_period_locked(@benefit_contract_period_id)
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE benefit_contract_period_id=@benefit_contract_period_id


SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_lock WHERE benefit_contract_period_lock_id = @benefit_contract_period_lock_id )
BEGIN
-- RAISERROR('benefit_contract_period_locks object not found in benefit_contract_period_locks for internal key %d.', 16, 1, @benefit_contract_period_locks_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE benefit_contract_period_locks_id = @benefit_contract_period_locks_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--



UPDATE
benefit_contract_period_lock
SET
benefit_contract_period_id               = @benefit_contract_period_id
,result_code_id                           = @result_code_id
,lock_set_on                              = @lock_set_on
,lock_removed_on                          = @lock_removed_on
,lock_removed_by                          = @lock_removed_by
,lock_by  	                        = @lock_by
,comment                                 = @comment
,active                                   = @active
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE benefit_contract_period_lock_id = @benefit_contract_period_lock_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@error =0  and @benefit_contract_period_lock_id>0 AND ISNULL(@benefit_contract_period_id,0) > 0
BEGIN
UPDATE
benefit_contract_period
SET
locked_from_use =dbo.plx_is_benefit_contract_period_locked(@benefit_contract_period_id)
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE benefit_contract_period_id=@benefit_contract_period_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
END
--
RETURN @SP_SUCCESS
--
GO
