USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_missing_information]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
Dec 22 2005  4:08PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/08/2007	mttran					Remove using temp table by a single query
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  procedure [dbo].[plx_check_missing_information]
(
@claim_id	int = null
)
as
begin
declare @missing_member bit
declare @missing_facility bit
declare @missing_billing_provider bit
declare @missing_rendering_provider bit
declare @missing_vendor bit
declare @MISSING_BILLING_PROVIDER_GK nvarchar(50)
declare @MISSING_RENDERING_PROVIDER_GK nvarchar(50)

set @missing_member = 0
set @missing_facility = 0
set @missing_billing_provider = 0
set @missing_rendering_provider = 0
set @missing_vendor = 0
set @MISSING_BILLING_PROVIDER_GK = 'BILLING_PROVIDER'
set @MISSING_RENDERING_PROVIDER_GK = 'RENDERING_PROVIDER'
if (@claim_id is not null) and (@claim_id <> 0)
begin
--check missing member

if exists(select missing_patient_information.claim_id
from missing_patient_information
where missing_patient_information.claim_id = @claim_id
union
select missing_subscriber_information.claim_id
from missing_subscriber_information
where missing_subscriber_information.claim_id = @claim_id)
set @missing_member = 1
else
set @missing_member = 0
--check missing facility
if exists(select missing_facility_information.missing_facility_information_id
from missing_facility_information
where missing_facility_information.claim_id = @claim_id)
set @missing_facility = 1
else
set @missing_facility = 0
--check missing billing provider
if exists(select missing_provider_information.missing_provider_information_id
from missing_provider_information
LEFT JOIN missing_provider_information_provider_type ON missing_provider_information_provider_type.missing_provider_information_provider_type_id = missing_provider_information.missing_provider_information_provider_type_id
where missing_provider_information.claim_id = @claim_id
AND golden_key = @MISSING_BILLING_PROVIDER_GK)
set @missing_billing_provider = 1
else
set @missing_billing_provider = 0
--check missing provider
if exists(select missing_provider_information.missing_provider_information_id
from missing_provider_information
LEFT JOIN missing_provider_information_provider_type ON missing_provider_information_provider_type.missing_provider_information_provider_type_id = missing_provider_information.missing_provider_information_provider_type_id
where missing_provider_information.claim_id = @claim_id
AND golden_key = @MISSING_RENDERING_PROVIDER_GK)
set @missing_rendering_provider = 1
else
set @missing_rendering_provider = 0
--check missing vendor
if exists(select missing_vendor_information.missing_vendor_information_id
from missing_vendor_information
where missing_vendor_information.claim_id = @claim_id)
set @missing_vendor = 1
else
set @missing_vendor = 0
end

select	 @missing_member AS missing_member
,@missing_facility AS missing_facility
,@missing_billing_provider AS missing_billing_provider
,@missing_rendering_provider AS missing_rendering_provider
,@missing_vendor AS missing_vendor

end
GO
