USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_detail_tiers_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_composite_tier_detail_tiers_list_load]
(
@tier_id int = 0
)
AS
SELECT
tcd.block_order_for_display
,detail_tier.tier_id as detail_tier_id
,detail_tier.tier_ud as detail_tier_ud
,tcd.composite_tier_column_name
,detail_tier.tier_criteria_type_golden_key
,count(detail_tier_criteria.tier_criteria_id) as tier_criteria_count_for_tier
,tcd.is_blank_tier_criteria_allowed
,tcd.udf_blank_tier_criteria_ud
,tcd.tier_id as tier_id
FROM tier_composite_detail tcd
LEFT JOIN tier detail_tier ON detail_tier.tier_id = tcd.composed_tier_id
LEFT JOIN tier_criteria detail_tier_criteria ON detail_tier_criteria.tier_id = detail_tier.tier_id
GROUP BY
tcd.block_order_for_display
,detail_tier.tier_id
,detail_tier.tier_ud
,tcd.composite_tier_column_name
,detail_tier.tier_criteria_type_golden_key
,is_blank_tier_criteria_allowed
,tcd.udf_blank_tier_criteria_ud
,tcd.tier_id
HAVING tcd.tier_id = @tier_id
ORDER BY
tcd.block_order_for_display


RETURN 0
GO
