USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 07/02/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/02/2009  W.Christensen  1.0      Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a client fee setup.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_delete]
(
@client_id   int = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@client_fee_setup_id int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''

SELECT @client_fee_setup_id = client_fee_setup_id
FROM client_fee_setup
WHERE client_id = @client_id

IF @client_fee_setup_id IS NULL RETURN @SP_SUCCESS

BEGIN TRANSACTION

-- Delete fees
DELETE client_fee_setup_ap_fee WHERE client_fee_setup_id = @client_fee_setup_id
DELETE client_fee_setup_ar_fee WHERE client_fee_setup_id = @client_fee_setup_id

-- Delete related Invoice Date Rules
DELETE client_fee_setup_invoice_date_rule WHERE client_fee_setup_id = @client_fee_setup_id
DELETE client_fee_setup_invoice_due_date_rule WHERE client_fee_setup_id = @client_fee_setup_id
DELETE client_fee_setup_invoice_review_period_rule WHERE client_fee_setup_id = @client_fee_setup_id

-- Delete schedule
DELETE schedule_form WHERE schedule_form_id =
(SELECT invoice_schedule_form_id
FROM client_fee_setup
WHERE client_fee_setup_id = @client_fee_setup_id)

-- Delete client_fee_setup
DELETE client_fee_setup  WHERE client_fee_setup_id = @client_fee_setup_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END


COMMIT TRANSACTION

RETURN @SP_SUCCESS
--
GO
