USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_additional_information_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to save data to the Additional Information grid
on the following QC forms:
o	Customer Credit Memo
o	Customer Debit Memo
o	Customer Refund
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_additional_information_save]
(
@accounting_transaction_ar_additional_information_id  INT = NULL OUTPUT,
@accounting_transaction_ar_id                         INT = NULL,
@additional_information_id                            INT = NULL,
@additional_information_topic_id                      INT = NULL,
@additional_information_selection_value               NVARCHAR(300) = NULL,
@additional_information_value                         NVARCHAR(300) = NULL,
@additional_information_raw_value                     NVARCHAR(300) = NULL,
@effective_from                                       DATETIME = NULL,
@effective_thru                                       DATETIME = NULL,
@comment                                              NVARCHAR(500) = NULL,
@is_new_value                                         BIT = NULL,
@active                                     	      BIT = NULL)
AS

DECLARE	@SUCCESS INT = 0;
DECLARE @EXCEPTION INT = -1;

IF (@accounting_transaction_ar_additional_information_id IS NULL)
BEGIN
INSERT INTO accounting_transaction_ar_additional_information(
additional_information_id
,additional_information_topic_id
,accounting_transaction_ar_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@additional_information_id
,@additional_information_topic_id
,@accounting_transaction_ar_id
,CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,@effective_from
,@effective_thru
,@comment
,@active
)
IF @@ROWCOUNT <= 0 RETURN @EXCEPTION
SET @accounting_transaction_ar_additional_information_id = @@IDENTITY

END
ELSE
BEGIN

UPDATE 	accounting_transaction_ar_additional_information
SET
additional_information_id              = @additional_information_id
,additional_information_topic_id        = @additional_information_topic_id
,accounting_transaction_ar_id           = @accounting_transaction_ar_id
,additional_information_selection_value =
CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,additional_information_value           =
CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,effective_from                         = @effective_from
,effective_thru                         = @effective_thru
,comment                                = @comment
,active                                 = @active
,modified_user_name                     = ORIGINAL_LOGIN()
,modified_date                          = GETDATE()

WHERE
accounting_transaction_ar_additional_information_id =
@accounting_transaction_ar_additional_information_id

IF @@ROWCOUNT <= 0 RETURN @EXCEPTION

END
--
RETURN @SUCCESS
--
GO
