USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION:
--
DESCRIPTION:
This procedure is used to load data for Correnpondance form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_load]
(
@correspondence_id			INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS	INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS	= 0,
@SP_EXCEPTION = -1

SELECT
c.correspondence_id
,c.correspondence_ud
,c.description AS correspondence_description
,c.schedule_form_id
,c.correspondence_rule_id
,cr.correspondence_rule_ud
,cr.correspondence_rule_type_id
,crt.correspondence_rule_type_ud
,sf.duration_start_date
,sf.duration_end_date
,c.modified_date
,c.document_number_generation_rule_id
,dngr.document_number_generation_rule_ud
,c.daily_run_date
,c.daily_run_time
,c.days_to_check_for_errors
FROM correspondence c
LEFT JOIN schedule_form sf ON c.schedule_form_id = sf.schedule_form_id
JOIN correspondence_rule cr ON c.correspondence_rule_id = cr.correspondence_rule_id
JOIN correspondence_rule_type crt ON cr.correspondence_rule_type_id = crt.correspondence_rule_type_id
JOIN document_number_generation_rule dngr ON c.document_number_generation_rule_id = dngr.document_number_generation_rule_id
WHERE c.correspondence_id = @correspondence_id


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
