USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_inactive_period_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Eligibility Inactive Period"
in frmFamilyEligibility form.
--
REQUIREMENTS:
--
INPUTS:










@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_employment_inactive_period_save]

(
@family_eligibility_employment_inactive_period_id  int = NULL   OUTPUT
,@family_eligibility_employment_id           int = NULL
,@inactive_from_date                         datetime = NULL
,@inactive_thru_date                         datetime = NULL
,@family_eligibility_inactive_reason_id      int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @family_eligibility_employment_inactive_period_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_employment_inactive_period(
family_eligibility_employment_id
,inactive_from_date
,inactive_thru_date
,family_eligibility_inactive_reason_id
,active
)
VALUES
(@family_eligibility_employment_id
,@inactive_from_date
,@inactive_thru_date
,@family_eligibility_inactive_reason_id
,@active
)
--
SET @family_eligibility_employment_inactive_period_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_employment_inactive_period WHERE family_eligibility_employment_inactive_period_id = @family_eligibility_employment_inactive_period_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_employment_inactive_period
SET
family_eligibility_employment_id         = @family_eligibility_employment_id
,inactive_from_date                       = @inactive_from_date
,inactive_thru_date                       = @inactive_thru_date
,family_eligibility_inactive_reason_id    = @family_eligibility_inactive_reason_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_employment_inactive_period_id = @family_eligibility_employment_inactive_period_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
