USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0     Created from plx_accounting_transaction_ap_payment_detail_save
08/18/2014 - RT:6046 Updated created/modified tombstone columns


CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Invoice form Header
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_save]
(
@accounting_transaction_ar_id   		INT = NULL  OUTPUT -- This param must be first!
,@accounting_transaction_ar_invoice_detail_id	INT = NULL   OUTPUT
,@accounting_transaction_ar_ud			NVARCHAR(100)
,@customer_id                      		INT
,@accounting_company_id                 INT
,@ar_accounting_company_account_id      INT
,@accounting_invoice_status_id   		INT = NULL
,@accounting_invoice_source_id 			INT = NULL
,@invoice_date							DATETIME
,@due_date								DATETIME
,@review_period							BIT
,@end_review_date						DATETIME = NULL
,@active                         		BIT = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @accounting_invoice_transaction_type_id INT

SELECT  @accounting_invoice_transaction_type_id = accounting_transaction_ar_type_id
FROM    accounting_transaction_ar_type
WHERE   golden_key = 'INVOICE'
--
IF @accounting_transaction_ar_invoice_detail_id is Null
BEGIN
INSERT INTO accounting_transaction_ar(
accounting_transaction_ar_ud
,customer_id
,accounting_company_id
,accounting_transaction_ar_type_id
,transaction_date
,transaction_amount
)
VALUES
(@accounting_transaction_ar_ud
,@customer_id
,@accounting_company_id
,@accounting_invoice_transaction_type_id
,GETDATE()
,0
)

SET @accounting_transaction_ar_id = @@IDENTITY

INSERT INTO accounting_transaction_ar_invoice_detail(
accounting_transaction_ar_id
,ar_accounting_company_account_id
,accounting_invoice_status_id
,accounting_invoice_source_id
,invoice_date
,due_date
,review_period
,end_review_date
,active
)
VALUES
(@accounting_transaction_ar_id
,@ar_accounting_company_account_id
,@accounting_invoice_status_id
,@accounting_invoice_source_id
,@invoice_date
,@due_date
,@review_period
,@end_review_date
,@active
)

SET @accounting_transaction_ar_invoice_detail_id = @@IDENTITY

END
ELSE IF NOT EXISTS
(SELECT * FROM accounting_transaction_ar_invoice_detail atpd
INNER JOIN accounting_transaction_ar ata
ON atpd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE atpd.accounting_transaction_ar_id = @accounting_transaction_ar_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Update transaction record	(transaction of type invoice)
UPDATE accounting_transaction_ar
SET
accounting_transaction_ar_ud		= @accounting_transaction_ar_ud
,customer_id						= @customer_id
,accounting_company_id				= @accounting_company_id
,accounting_transaction_ar_type_id	= @accounting_invoice_transaction_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE   accounting_transaction_ar_id = @accounting_transaction_ar_id

-- Update invoice details record
UPDATE accounting_transaction_ar_invoice_detail
SET
accounting_transaction_ar_id		= @accounting_transaction_ar_id
,ar_accounting_company_account_id	= @ar_accounting_company_account_id
,accounting_invoice_status_id		= @accounting_invoice_status_id
,accounting_invoice_source_id		= @accounting_invoice_source_id
,invoice_date						= @invoice_date
,due_date							= @due_date
,review_period						= @review_period
,end_review_date					= @end_review_date
,active								= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_invoice_detail_id = @accounting_transaction_ar_invoice_detail_id
END

--
RETURN @SP_SUCCESS
--
GO
