USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_capitation_payment_finalize_payments]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_capitation_payment_finalize_payments]
@payments udtt_disbursement_capitation_payment_finalize_payments READONLY,
@paymentStatusId INT
AS

SET NOCOUNT ON;

UPDATE
detail
SET
detail.accounting_payment_status_id = @paymentStatusId
FROM
@payments p
INNER JOIN accounting_transaction_ap_payment_detail detail
ON detail.accounting_transaction_ap_payment_detail_id = p.accounting_transaction_ap_payment_detail_id;
GO
