USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_identifier_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[plx_beneficiary_identifier_load]
(
@beneficiary_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bi.beneficiary_identifier_id      AS   beneficiary_identifier_id
,bi.beneficiary_identifier_ud      AS   beneficiary_identifier_ud
,bi.beneficiary_id                 AS   beneficiary_id
,bi.identifier_type_id             AS   identifier_type_id
,mit.member_id_type_ud             AS   identifier_type_ud

FROM beneficiary_identifier bi
INNER JOIN member_id_type mit
ON bi.identifier_type_id = mit.member_id_type_id

WHERE bi.beneficiary_id = @beneficiary_id

ORDER BY identifier_type_ud

RETURN @SP_SUCCESS
--
GO
