USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_schedule_parameters_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
5/18/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load Code Depreciation parameters for Code Depreciation Schedule form
--
REQUIREMENTS:
--
INPUTS:
code_depreciation_schedule_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_code_depreciation_schedule_parameters_load]
(
@code_depreciation_schedule_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF NOT EXISTS (SELECT * FROM code_depreciation_schedule WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id )
BEGIN
SELECT 'Professional' as type_of_claim
,0 as code_depreciation_enabled
,0 as payment_modification
UNION
SELECT 'Institutional Outpatient' as type_of_claim
,0 as code_depreciation_enabled
,0 as payment_modification
END

ELSE
BEGIN

SELECT 'Professional' as type_of_claim
,COALESCE(professional_enabled,0)as code_depreciation_enabled
,COALESCE(professional_payment_modification,0) as payment_modification
FROM code_depreciation_schedule
WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
UNION
SELECT 'Institutional Outpatient' as type_of_claim
,COALESCE(institutional_outpatient_enabled,0)as code_depreciation_enabled
,COALESCE(institutional_outpatient_payment_modification,0) as payment_modification
FROM code_depreciation_schedule
WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
END
--
RETURN @SP_SUCCESS
GO
