USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_internet_address_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_internet_address_delete]
(
@beneficiary_internet_address_id                int = NULL   OUTPUT
) AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS   int,
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT     @SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '158880012'

IF NOT EXISTS (SELECT * FROM beneficiary_internet_address WHERE beneficiary_internet_address_id = @beneficiary_internet_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
DELETE FROM beneficiary_internet_address
WHERE beneficiary_internet_address_id = @beneficiary_internet_address_id

END
RETURN @SP_SUCCESS
END
GO
