USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_code_group_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 01/26/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure used for creating duplicate Dental Alternate Course Code Group Definitions.
--
REQUIREMENTS:
--
INPUTS:
@Id,
@UD,
and other values that need to be copied over to the duplicated form

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_alternate_course_code_group_duplicate]

(
@ID											INT,
@UD											NVARCHAR(50)
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@new_id										INT,
@ERROR 										NVARCHAR(50)


--Copying header data

INSERT INTO alternate_course_code_group(
alternate_course_code_group_ud
,description
,use_min_total
,min_total
,active
)
SELECT
@UD
,description
,use_min_total
,min_total
,active
FROM alternate_course_code_group
WHERE alternate_course_code_group_id = @ID
--
SELECT @new_id = SCOPE_IDENTITY()

-- CHILD TABLES
INSERT INTO alternate_course_code_group_procedure_code
(
alternate_course_code_group_id
, procedure_code_id
, minimum_number
, maximum_number
, active
)
SELECT
@new_id
, procedure_code_id
, minimum_number
, maximum_number
, active
FROM alternate_course_code_group_procedure_code
WHERE alternate_course_code_group_id = @ID

RETURN isnull(@new_id, 0)
GO
