USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_ndc]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: C. Maddox
;
REVISION_HISTORY:

Date      Modified By  Version  Description
--------------------------------------------------------------------------------
2011/03/26  C. Maddox   1.0     Created
2018/06/22	CKnobloch	2.0		Rewrite - Format has changed
--------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure imports NDC data from the code loader into the procedure code table.

;
REQUIREMENTS:

The import table must be created in the same connection before calling this method:

-- Create the holding table

IF OBJECT_ID('#NdcProductImport') IS NOT NULL
DROP TABLE #NdcProductImport

CREATE TABLE #NdcProductImport (
ProductID
ProductNdc
ProductTypeName
ProprietaryName
ProprietaryNameSuffix
)

IF OBJECT_ID('#NdcPackageImport') IS NOT NULL
DROP TABLE #NdcPackageImport

CREATE TABLE #NdcPackageImport (
ProductID
ProductNdc
NdcPackageCode
PackageDescription
StartMarketingDate
NdcPackageCode
)

;
INPUTS:
@effective_date - The new effective date for the codes imported

;
OUTPUTS:

;
RETURN_VALUES:

0	Success
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_code_import_ndc]
(
@effective_date As DATETIME,
@ndc_code_import_type_id AS INT,       -- code_import_type fk
@modified_user_name AS NVARCHAR(128),
@invalidProduct AS XML OUTPUT,
@invalidPackage AS XML OUTPUT
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT,
@ndc_procedure_code_type_id INT,
@modified_date DATETIME,
@term_date DATETIME

SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1,
@modified_date = GETDATE(),
@term_date = DATEADD(dd, -1, @effective_date)

SELECT
@ndc_procedure_code_type_id = procedure_code_type_id
FROM procedure_code_type
WHERE golden_key = 'NDC'

-- Load product and packages into a new temp
IF OBJECT_ID('#ndc_import') IS NOT NULL
DROP TABLE #ndc_import

SELECT
RTRIM(NdcPackageCode) as unformattedNdcPackageCode,
RTRIM(_NdcPackageCodeFormated) as NdcPackageCode,
LEFT(RTRIM(ProprietaryName) + ' - ' + RTRIM(PackageDescription), 225) AS Description
INTO #ndc_import
FROM
#NdcProductImport product
JOIN
#NdcPackageImport pkg on RTRIM(product.ProductID) = RTRIM(pkg.ProductID)

-- Before we do anything validate the effective dates for Procedure Codes
-- Effective Date must be BEFORE effective from
BEGIN
DECLARE @procedureXML XML =
(
SELECT DISTINCT TOP(40)
procedure_code_ud AS procedure_code,
effective_from,
effective_thru
FROM procedure_code pc
INNER JOIN #ndc_import tmp ON tmp.NdcPackageCode = pc.procedure_code_ud
WHERE pc.effective_thru IS NULL
AND pc.effective_from >= @effective_date
AND pc.procedure_code_type_id = @ndc_procedure_code_type_id
FOR XML AUTO
)
IF @procedureXML IS NOT NULL
BEGIN
PRINT 'INVALID RECORDS: '
PRINT CONVERT(NVARCHAR(MAX), @procedureXML)
RAISERROR('Records with effective dates on or greater than the import effective date were found.', 16, 1)
RETURN @sp_exception
END
END

-- Before we do anything else validate for duplicates
-- FDA has an issue with validation that allows duplicates entries into their codes.
BEGIN
DECLARE @duplicateXML XML =
(
SELECT unformattedNdcPackageCode,COUNT(*) as 'RecordCount'
FROM
#ndc_import
GROUP BY
unformattedNdcPackageCode
HAVING
COUNT(*) > 1
FOR XML AUTO
)
IF @duplicateXML IS NOT NULL
BEGIN
PRINT 'INVALID RECORDS: '
PRINT CONVERT(NVARCHAR(MAX), @duplicateXML)
RAISERROR('There are duplicate NDC Packages Codes within the import file.', 16, 1)
RETURN @sp_exception
END
END

-- First Report the Product Records that dont have an assoicated Package Records
-- As of 08/01/2018 this count is 200
BEGIN
SET @invalidPackage =
(
SELECT
RTRIM(NdcPackageCode) as unformattedNdcPackageCode
FROM
#NdcProductImport product
RIGHT OUTER JOIN
#NdcPackageImport pkg on RTRIM(product.ProductID) = RTRIM(pkg.ProductID)
WHERE product.ProductID is null
FOR XML RAW
)
END



-- Second Report the Package Records that dont have an assoicated Product Record
-- As of 08/01/2018 this count is 6
BEGIN
SET @invalidProduct =
(
SELECT
RTRIM(product.ProductNdc) as productNdc
FROM
#NdcProductImport product
LEFT OUTER JOIN
#NdcPackageImport pkg on RTRIM(product.ProductID) = RTRIM(pkg.ProductID)
WHERE pkg.ProductID is null
FOR XML AUTO
)
END

-- Delete NdcProductImport
IF OBJECT_ID('#NdcProductImport') IS NOT NULL
DROP TABLE #NdcProductImport

-- Delete NdcPackageImport
IF OBJECT_ID('#NdcPackageImport') IS NOT NULL
DROP TABLE #NdcPackageImport

-- Term codes no longer in the import file
DECLARE @TermedProcedureCodes TABLE (procedure_code_id INTEGER)
UPDATE procedure_code
SET effective_thru = @term_date,
modified_date = @modified_date,
modified_user_name = @modified_user_name
OUTPUT inserted.procedure_code_id INTO @TermedProcedureCodes  --36 seconds
FROM procedure_code pc
WHERE NOT EXISTS
( SELECT DISTINCT pc.procedure_code_id
FROM #ndc_import tmp
WHERE NdcPackageCode = pc.procedure_code_ud)
AND procedure_code_type_id = @ndc_procedure_code_type_id
AND pc.effective_thru IS NULL

UPDATE procedure_code_code_import_type
SET
effective_thru = @term_date,
modified_user_name = @modified_user_name
FROM procedure_code_code_import_type pccit
INNER JOIN @TermedProcedureCodes termed
ON pccit.procedure_code_id = termed.procedure_code_id

-- Update and Create New Procedure Codes
-- If the Code Exists
-- Update Description
-- ModifiedDate = Today
-- ModifiedUser = Passed in
-- Also Create New Code Import Type Records for the New Procedure Codes
-- Add the new procedure_code_ids to the procedure_code_code_import_type

DECLARE @NewProcedureCodes TABLE (ActionTaken nvarchar(10), procedure_code_id INTEGER)
MERGE procedure_code AS target
USING (
SELECT
NdcPackageCode,
Description
FROM #ndc_import tmp
) AS source
ON  source.NdcPackageCode = target.procedure_code_ud
AND (target.effective_thru IS NULL OR target.effective_thru >= @term_date)
AND target.procedure_code_type_id = @ndc_procedure_code_type_id
WHEN MATCHED THEN UPDATE SET
description = RTRIM(source.Description),
modified_date = @modified_date,
modified_user_name = @modified_user_name
WHEN NOT MATCHED THEN
INSERT (procedure_code_ud,
description,
procedure_code_type_id,
effective_from,
effective_thru)
VALUES (RTRIM(source.NdcPackageCode),
RTRIM(source.Description),
@ndc_procedure_code_type_id,
@effective_date,
NULL )
OUTPUT $action, inserted.procedure_code_id INTO @NewProcedureCodes;  --36 seconds

INSERT INTO procedure_code_code_import_type
(
procedure_code_id,
code_import_type_id,
effective_from,
effective_thru
)
SELECT
new.procedure_code_id,
@ndc_code_import_type_id,
@effective_date,
NULL
FROM @NewProcedureCodes new
INNER JOIN procedure_code pc ON pc.procedure_code_id = new.procedure_code_id
INNER JOIN #ndc_import tmp ON tmp.NdcPackageCode = pc.procedure_code_ud
WHERE new.ActionTaken = 'INSERT'


RETURN @SP_SUCCESS
GO
