USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_penalty_exempt_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 08/25/2009
--
--
DESCRIPTION:
This procedure is used to load data for drop down payment_penalty_exempt_reason
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_payment_penalty_exempt_reason_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
payment_penalty_exempt_reason_id
,payment_penalty_exempt_reason_ud
FROM payment_penalty_exempt_reason
ORDER BY payment_penalty_exempt_reason_ud
--
RETURN @SP_SUCCESS
GO
