USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cancellation_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006 	HuyThan	1.0		Created
09/20/2006	HuyThan	1.1		Add description, change 	cancellation_reason_ud => reason
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down cancellation_reason (Cancellation Reason)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_cancellation_reason_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
cancellation_reason.cancellation_reason_id
,cancellation_reason.cancellation_reason_ud
,cancellation_reason.description
FROM cancellation_reason
ORDER BY cancellation_reason_ud
--
RETURN @SP_SUCCESS
GO
