USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_case_type_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Mar 10 2006  2:42PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_case_type_load]
(
@case_type_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
case_type.case_type_id
,case_type.case_type_ud
,case_type.golden_key
,case_type.gsu
FROM case_type
WHERE case_type.case_type_id = @case_type_id
--
RETURN @SP_SUCCESS
GO
