USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_rollover_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  14 2005  3:11 PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/05	mttran				update accordingly with the new design of table
benefit_plan_accumulator_class_choice_resolution
(delete accumulator_framework_accumulator_class_accumulator_id,
add accumulator_sub_limit_rule_id)
12/28/2007	Vishwa Jella	1.1		Updated to display benefit_plan_id

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify Rollover Rule for Benefit Setup errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
--exec plx_benefit_contract_period_verify_rollover_rule 1
CREATE         PROCEDURE [dbo].[plx_benefit_contract_period_verify_rollover_rule]
(
@benefit_contract_period_id	Int
)
AS
--
--
SET NOCOUNT ON
--

SELECT	benefit_contract_period_benefit_plan_id, benefit_plan.benefit_plan_id, benefit_plan.benefit_plan_ud
FROM	benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework bpcf
ON bpcf.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN accumulator_framework af
ON af.accumulator_framework_id = bpcf.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_id = af.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN accumulator a
ON a.accumulator_id = afaca.accumulator_id
INNER JOIN accumulator_rollover_type rt
ON rt.accumulator_rollover_type_id= a.accumulator_rollover_type_id
WHERE 	bcpbp.benefit_contract_period_id = @benefit_contract_period_id
and 	rt.golden_key = 'Annual'
and 	bcpbp.annual_accumulator_rollover_rule_id is null
--
GO
