USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_accumulator_class_choice_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEPNGUYEN
DATE: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/05/2005	HiepNguyen		1.0			Created
03/15/2006	Thuy Ha						If either effective_from or effective_thru is defined, return no choice list
03/17/2006	Thuy Ha						Add column accumulator_choice_list_id
03/11/2008	David Slayton	1.3			Updated accumulator table references to point to the
accumulator_framework_accumulator_class_accumulator table.
Removed join to the benefit_contract_period_benefit_plan table.
04/25/2008	David Slayton	1.4			Added Ind Choice List ID and Fam Choice List ID columns.
05/05/2008	lrenard			1.5		added date limits and @family_eligibility_member_benefit_plan_id HAS to limit the dataset, use isnull(??, 0)
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Benefit Choice List of Episode
--
REQUIREMENTS:
--
INPUTS:
- episode_id
- @episode_category_id
- @episode_type_id
- @family_eligibility_member_benefit_plan_id
- @effective_from
- @effective_thru
--
OUTPUTS:

--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_episode_accumulator_class_choice_list_load]
(
@episode_category_id		INT = NULL
, @episode_type_id		INT = NULL
, @family_eligibility_member_benefit_plan_id	INT = NULL
, @effective_from			DATETIME = NULL
, @effective_thru			DATETIME = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @SqlQuery 		VARCHAR(8000)
, @SqlCondition	VARCHAR(2000)
, @SqlSelect1	VARCHAR(8000)
, @SqlSelect3	VARCHAR(8000)
, @strEffFrom NVARCHAR(15)
, @strEffThru NVARCHAR(15)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @SqlQuery = ''
, @SqlCondition = ''
, @SqlSelect1 = ''
, @SqlSelect3 = ''

IF @episode_category_id IS NOT NULL AND @episode_category_id > 0
SET @SqlCondition = @SqlCondition + ' AND (accumulator_framework_accumulator_class_accumulator.episode_category_id = ' + dbo.plx_EncodeString(@episode_category_id) + ' OR accumulator_framework_accumulator_class_accumulator.episode_category_id IS NULL) '
IF @episode_type_id IS NOT NULL AND @episode_type_id > 0
SET @SqlCondition = @SqlCondition + ' AND (accumulator_framework_accumulator_class_accumulator.episode_type_id = ' + dbo.plx_EncodeString(@episode_type_id) + ' OR accumulator_framework_accumulator_class_accumulator.episode_type_id IS NULL) '

IF @effective_from IS NOT NULL AND @effective_from <> '' SET @strEffFrom = CONVERT(NVARCHAR, @effective_from, 101)
ELSE SET @strEffFrom = ''
IF @effective_thru IS NOT NULL AND @effective_from <> '' SET @strEffThru = CONVERT(NVARCHAR, @effective_thru, 101)
ELSE SET @strEffThru = ''
SET @SqlCondition = @SqlCondition + ' AND dbo.plx_fn_is_date_overlapping(''' + @strEffFrom + ''',''' + @strEffThru + ''''
+ ',ALR.effective_from,ALR.effective_thru) = 1'

IF @family_eligibility_member_benefit_plan_id IS NOT NULL AND @family_eligibility_member_benefit_plan_id > 0
SET @SqlCondition = @SqlCondition + ' AND family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = ' +  dbo.plx_EncodeString(@family_eligibility_member_benefit_plan_id)
ELSE SET @SqlCondition = ''

SET @SqlSelect1 =
'	SELECT accumulator_class.accumulator_class_id
, accumulator_class.accumulator_class_ud
, accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id
, accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_ud
, ALR.accumulator_limit_rule_id
, ALR.accumulator_sub_limit_rule_id
, ALR.individual_accumulator_choice_list_ud
, ALR.family_accumulator_choice_list_ud
FROM   family_eligibility_member_benefit_plan
INNER JOIN benefit_plan ON family_eligibility_member_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework ON benefit_plan.benefit_plan_id = benefit_plan_accumulator_framework.benefit_plan_id
INNER JOIN accumulator_framework ON accumulator_framework.accumulator_framework_id = benefit_plan_accumulator_framework.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class ON accumulator_framework_accumulator_class.accumulator_framework_id = accumulator_framework.accumulator_framework_id
INNER JOIN accumulator_class ON accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator ON accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id
INNER JOIN
(SELECT	DISTINCT
accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id,
accumulator_limit_rule.accumulator_limit_rule_id,
NULL as accumulator_sub_limit_rule_id,
accumulator_limit_rule.individual_accumulator_choice_list_id,
ACL1.accumulator_choice_list_ud as individual_accumulator_choice_list_ud,
accumulator_limit_rule.family_accumulator_choice_list_id,
ACL2.accumulator_choice_list_ud as family_accumulator_choice_list_ud,
accumulator_limit_rule.effective_from,
accumulator_limit_rule.effective_thru
FROM
accumulator_limit_rule
LEFT JOIN accumulator_choice_list ACL1 ON accumulator_limit_rule.individual_accumulator_choice_list_id = ACL1.accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice  AVC1 ON AVC1.accumulator_choice_list_id = ACL1.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at RCL1 ON RCL1.resolve_choice_list_at_id = ACL1.resolve_choice_list_at_id
LEFT JOIN accumulator_choice_list ACL2 ON accumulator_limit_rule.family_accumulator_choice_list_id = ACL2.accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice  AVC2 ON AVC2.accumulator_choice_list_id = ACL2.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at RCL2 ON RCL2.resolve_choice_list_at_id = ACL2.resolve_choice_list_at_id
WHERE (RCL1.golden_key = N''EPISODE'' OR RCL2.golden_key = N''EPISODE'')

AND (
((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc11
WHERE	avc11.accumulator_choice_list_id = ACL2.accumulator_choice_list_id) > 1)
OR ((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc22
WHERE	avc22.accumulator_choice_list_id = ACL1.accumulator_choice_list_id) > 1))
'
SET @SqlSelect3 = '
UNION
SELECT DISTINCT
accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id,
NULL as accumulator_choice_list_id,
accumulator_sub_limit_rule.accumulator_sub_limit_rule_id,
accumulator_sub_limit_rule.individual_accumulator_choice_list_id,
ACL3.accumulator_choice_list_ud as individual_accumulator_choice_list_ud,
accumulator_sub_limit_rule.family_accumulator_choice_list_id,
ACL4.accumulator_choice_list_ud as family_accumulator_choice_list_ud,
accumulator_sub_limit_rule.effective_from,
accumulator_sub_limit_rule.effective_thru

FROM
accumulator_sub_limit
INNER JOIN accumulator_sub_limit_rule ON accumulator_sub_limit_rule.accumulator_sub_limit_id = accumulator_sub_limit.accumulator_sub_limit_id
LEFT JOIN accumulator_choice_list ACL3 ON accumulator_sub_limit_rule.individual_accumulator_choice_list_id = ACL3.accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice  AVC3 ON AVC3.accumulator_choice_list_id = ACL3.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at RCL3 ON RCL3.resolve_choice_list_at_id = ACL3.resolve_choice_list_at_id
LEFT JOIN accumulator_choice_list ACL4 ON accumulator_sub_limit_rule.family_accumulator_choice_list_id = ACL4.accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice  AVC4 ON AVC4.accumulator_choice_list_id = ACL4.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at RCL4 ON RCL4.resolve_choice_list_at_id = ACL4.resolve_choice_list_at_id
WHERE (RCL3.golden_key = N''EPISODE'' OR RCL4.golden_key = N''EPISODE'')
AND (
((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc33
WHERE	avc33.accumulator_choice_list_id = ACL3.accumulator_choice_list_id) > 1)
OR ((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc44
WHERE	avc44.accumulator_choice_list_id = ACL4.accumulator_choice_list_id) > 1))
) ALR ON ALR.accumulator_framework_accumulator_class_accumulator_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id
WHERE 1=1  '


IF @SqlCondition <> ''
BEGIN
--print  (@SqlSelect1 + @SqlSelect3 + @SqlCondition)

SET @SqlQuery = @SqlSelect1 + @SqlSelect3 + @SqlCondition

EXEC (@SqlQuery)
END

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
