USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_max_balance_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   04/08/2011
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
max incentive amount save
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_coverage_incentive_max_balance_save]
(
@coverage_incentive_max_balance_id	int = NULL   OUTPUT
,@coverage_incentive_id								int = NULL
,@amount											numeric(20,10) = NULL
,@calendar_year										int = NULL
,@through											int = NULL
,@active											bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0
--

IF @coverage_incentive_max_balance_id is Null or @coverage_incentive_max_balance_id = 0
BEGIN
--- Create a new record
INSERT INTO coverage_incentive_max_balance(
coverage_incentive_id
,amount
,calendar_year
,through
,active
)
VALUES
(@coverage_incentive_id
,@amount
,@calendar_year
,@through
,@active
)
SET @coverage_incentive_max_balance_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE coverage_incentive_max_balance
SET
coverage_incentive_id	=		@coverage_incentive_id
,amount					=		@amount
,calendar_year			=		@calendar_year
,through				=		@through
,active					=		@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE coverage_incentive_max_balance_id = @coverage_incentive_max_balance_id
END
--
RETURN @SP_SUCCESS
--
GO
