USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_eligibility_restriction_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/09/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/09/2006	Phong Tran		1.0		Created
09/15/2005	HiepNguyen		1.1		Add criteria_ud
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load for Eligibility Restrictions grid
in Benefit Contract Template Advanced Plan Setup form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan_eligibility_restriction records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_eligibility_restriction_list_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcper.benefit_contract_period_benefit_plan_eligibility_restriction_id
,bcper.benefit_contract_period_benefit_plan_id
,bcper.eligibility_restriction_id

,er.eligibility_restriction_ud
,er.eligibility_restriction_nm

,bcper.effective_from
,bcper.effective_thru
,bcper.modified_date

FROM benefit_contract_period_benefit_plan_eligibility_restriction bcper
LEFT JOIN eligibility_restriction er ON er.eligibility_restriction_id = bcper.eligibility_restriction_id

WHERE bcper.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

ORDER BY CASE WHEN bcper.effective_from IS NULL THEN 0 ELSE 1 END ASC, bcper.effective_from DESC,
CASE WHEN bcper.effective_thru IS NULL THEN 0 ELSE 1 END ASC, bcper.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
