USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_vendor_refund_payment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: This procedure is used to find Vendor Refund Payments.
******************************/
CREATE PROCEDURE [dbo].[plx_find_vendor_refund_payment_load]
(
@get_column_headers BIT = 0
,@accounting_transaction_ap_ud NVARCHAR(100) = NULL
,@vendor_id INT = NULL
,@accounting_payment_status_id INT = NULL
,@payment_amount NUMERIC(20,10) = NULL
,@accounting_company_id INT = NULL
,@bank_account_id INT = NULL
,@accounting_company_account_id INT = NULL
,@payment_date DATETIME = NULL
,@payment_method_payment_id INT = NULL
,@check_ach_reference NVARCHAR(50) = NULL
,@memo NVARCHAR(200) = NULL
,@show_exact_match BIT = 0
)
AS
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SqlQuery NVARCHAR(4000)
,@SqlCondition NVARCHAR(4000)
,@SqlOrderBy NVARCHAR(4000)
,@Prefix NVARCHAR(10)
,@Suffix NVARCHAR(10);


SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@SqlQuery = ''
,@SqlCondition = ' WHERE '+CONVERT(NVARCHAR(1),@get_column_headers)+' = 0 '
,@SqlOrderBy = ''
,@Prefix = ''
,@Suffix = '';


IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = ''' ';
END
ELSE
BEGIN
SET @Prefix = ' LIKE N''';
SET @Suffix = '%''';
END

--accounting_transaction_ap_ud
IF @accounting_transaction_ap_ud IS NOT NULL AND @accounting_transaction_ap_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(ata.accounting_transaction_ap_ud, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@accounting_transaction_ap_ud,@show_exact_match
)+@Suffix
END

--@vendor_id
IF(@vendor_id IS NOT NULL
AND @vendor_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND v.vendor_id = '+CONVERT(VARCHAR(10),@vendor_id)
END

--@payment_method_payment_id
IF(@payment_method_payment_id IS NOT NULL AND @payment_method_payment_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.payment_method_payment_id = '+CONVERT(VARCHAR(10),@payment_method_payment_id)
END

--@accounting_payment_status_id
IF(@accounting_payment_status_id IS NOT NULL
AND @accounting_payment_status_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.accounting_payment_status_id = '+CONVERT(VARCHAR(10),@accounting_payment_status_id)
END

--@accounting_company_id
IF(@accounting_company_id IS NOT NULL
AND @accounting_company_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ac.accounting_company_id = '+CONVERT(VARCHAR(10),@accounting_company_id)
END

--@accounting_company_account_id
IF(@accounting_company_account_id IS NOT NULL
AND @accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.ap_accounting_company_account_id = '+CONVERT(VARCHAR(10),@accounting_company_account_id)
END

--@bank_account_id
IF(@bank_account_id IS NOT NULL
AND @bank_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.bank_account_id = '+CONVERT(VARCHAR(10),@bank_account_id)
END

--@payment_amount
IF(@payment_amount IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_amount = '+CONVERT(VARCHAR(23),@payment_amount)
END

--@check_ach_reference
IF @check_ach_reference IS NOT NULL AND @check_ach_reference <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(detail.check_ach_reference, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@check_ach_reference,@show_exact_match
)+@Suffix
END

--@memo
IF @memo IS NOT NULL AND @memo <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(detail.memo, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@memo,@show_exact_match
)+@Suffix
END

--@payment_date
IF(@payment_date IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_date = '''+CONVERT(VARCHAR(23),@payment_date)+''''
END

SET @SqlQuery =
' SELECT  DISTINCT ' +
'		ata.accounting_transaction_ap_id, '+
'		ata.accounting_transaction_ap_ud, '+
'		ata.vendor_id, '+
'		v.vendor_ud, '+
'		ata.transaction_date as vendor_refund_payment_date,'+
'		detail.accounting_payment_status_id, '+
'		accounting_payment_status.accounting_payment_status_ud, '+
'		accounting_payment_status.golden_key as accounting_payment_status_gk, '+
'		ata.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		ba.bank_account_ud, ' +
'		pm.payment_method_payment_ud, ' +
'		detail.check_ach_reference, ' +
'		ata.transaction_amount as payment_amount'+
' FROM 	' +
'		accounting_transaction_ap_refund_payment_detail detail ' +
'		LEFT JOIN accounting_transaction_ap ata '+
'			ON ata.accounting_transaction_ap_id = detail.accounting_transaction_ap_id '+
'		LEFT JOIN vendor v '+
'			ON v.vendor_id = ata.vendor_id '+
'		LEFT JOIN accounting_company AS ac '+
'			ON ata.accounting_company_id = ac.accounting_company_id '+
'		LEFT JOIN bank_account AS ba '+
'			ON detail.bank_account_id = ba.bank_account_id '+
'		LEFT JOIN accounting_payment_status  '+
'			ON detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id '+
'		LEFT JOIN payment_method_payment pm' +
'			ON detail.payment_method_payment_id = pm.payment_method_payment_id'

SET @SqlOrderBy = '	ORDER BY ata.accounting_transaction_ap_ud'

-- PRINT @SqlQuery + @SqlCondition + @SqlOrderBy
EXEC (@SqlQuery+@SqlCondition+@SqlOrderBy)
IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
