USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_contact_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	mttran		1.0			created
11/16/2006	mttran					remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single row in Associated Contacts grid on Group form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_client_group_contact_delete]
(
@client_group_contact_id                     int = NULL
,@cascade                                    bit = 0
) AS
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE_CONTACT	NVARCHAR(50),
@ERROR_NOT_EXIST			NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE_CONTACT	= '159010004',
@ERROR_NOT_EXIST			= '159010005'
--
IF NOT EXISTS (SELECT client_group_contact_id FROM client_group_contact WHERE client_group_contact_id = @client_group_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM client_group_contact
WHERE client_group_contact_id = @client_group_contact_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_CONTACT)
END

END
--
RETURN @SP_SUCCESS
--
GO
