USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_ach_payment_processing_genereated_files_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 04/27/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/27/2012  CKnobloch		1.0		create

CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to load data for grid "Generated Files" on  the ACH Payment Processing form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_ach_payment_processing_genereated_files_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
aapp.accounting_ach_payment_processing_id
,aapp.file_path
,aapp.created_date
,aappt.accounting_ach_payment_processing_type_ud


FROM accounting_ach_payment_processing aapp
LEFT JOIN accounting_ach_payment_processing_type aappt
ON aappt.accounting_ach_payment_processing_type_id = aapp.accounting_ach_payment_processing_type_id


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
