USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_benefit_class_choice_list_id_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/18/2005     maitran   1.0        Created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete BenefitFramwork benefit class choice list
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_benefit_class_choice_list_id_delete]
(
@benefit_framework_benefit_class_id         int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_framework_benefit_class WHERE benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM	benefit_framework_valid_choice
WHERE benefit_framework_valid_choice.benefit_framework_choice_list_id in
(	SELECT 	benefit_framework_choice_list_id
FROM	benefit_framework_choice_list
WHERE	benefit_framework_choice_list.benefit_framework_benefit_class_id =
@benefit_framework_benefit_class_id )

DELETE FROM	benefit_framework_choice_list
WHERE benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id

DELETE FROM benefit_framework_benefit_class
WHERE benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id
END
--
RETURN @SP_SUCCESS
--
GO
