USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_rule_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mabdul\CFacey
Date: 08/07/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save Correspondence Rule form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_rule_save]
(
@correspondence_rule_id                     INT = NULL   OUTPUT
,@correspondence_rule_ud                     NVARCHAR(50) = NULL
,@correspondence_rule_category_id            INT = NULL
,@correspondence_rule_type_id                INT = NULL
,@description                                NVARCHAR(255) = NULL
,@active                                     BIT = 1
) AS


BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				INT
,@SP_EXCEPTION				INT
,@ERROR_CANT_INSERT 		NVARCHAR(50)
,@ERROR_NOT_EXIST			NVARCHAR(50)
,@ERROR_CANT_UPDATE 		NVARCHAR(50)
,@ERROR_INSERT_FAILS		NVARCHAR(50)
,@ERROR_UPDATE_FAILS		NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST	NVARCHAR(50)
,@ERROR_RECORD_LOCKED	NVARCHAR(50)
SELECT
@SP_SUCCESS					= 0
,@SP_EXCEPTION				= -1
,@ERROR_CANT_INSERT 		= ''
,@ERROR_NOT_EXIST			= ''
,@ERROR_INSERT_FAILS		= 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS		= 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST	= 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED	= 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE		= '105280010'
--
IF @correspondence_rule_id IS NULL
BEGIN
--- Create a new record
INSERT INTO correspondence_rule(
correspondence_rule_ud
,correspondence_rule_category_id
,correspondence_rule_type_id
,description
,active
)
VALUES
(@correspondence_rule_ud
,@correspondence_rule_category_id
,@correspondence_rule_type_id
,@description
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM correspondence_rule WHERE correspondence_rule_id = @correspondence_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing record
DECLARE @ErrorVar INT, @RowCountVar INT
--
UPDATE correspondence_rule
SET
correspondence_rule_ud                   = @correspondence_rule_ud
,correspondence_rule_category_id          = @correspondence_rule_category_id
,correspondence_rule_type_id					 = @correspondence_rule_type_id
,description                              = @description
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE correspondence_rule_id = @correspondence_rule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END


IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
END
GO
