USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_claim_payment_run_ready_for_accounting]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

Create Procedure [dbo].[plx_dto_claim_payment_run_ready_for_accounting]

As

Select
claim_payment_run_id,
claim_payment_run_ud,
run.claim_payment_run_status_id,
claim_payment_queue_id,
start_time,
end_time,
end_review,
do_not_release
From
claim_payment_run run
INNER JOIN claim_payment_run_status stat
ON run.claim_payment_run_status_id = stat.claim_payment_run_status_id
Where
do_not_release = 0 AND
stat.golden_key = 'AVAILABLE' AND
(end_review IS NULL OR GetDate() > end_review)
GO
