USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_suffix_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down suffix (Suffix)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_suffix_load]

AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT
suffix_id
,suffix_ud
FROM suffix
ORDER BY suffix_ud

RETURN @SP_SUCCESS
END
GO
