USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_claim_transport_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/04/2018 	eponomareff	1.0		RT:11001 UI Duplicate Claim must support claim transport
02/01/2022  kirkc		1.1		RT-20830 addressed performance issue by removing ISNULL function from WHERE clause
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to duplicate claim line level claim transport information from tables:

claim_transport
claim_transport_address

when duplicating a claim_procedure record or claim record.

******************************/
CREATE  PROCEDURE [dbo].[plx_claim_procedure_claim_transport_duplicate]
(

@new_claim_id                 INT,              -- new claim_id (may not be null)
@old_claim_id                 INT = NULL,       -- old claim_id (may be null if record is for claim_procedure)
@new_claim_procedure_id       INT = NULL,       -- new claim_procedure_id (may be null if child record is for entire claim)
@old_claim_procedure_id       INT = NULL        -- current claim_procedure_id (may be null if child record is for entire claim)

) AS
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0;

--
SET NOCOUNT ON;

-- use cursor to move through child records
-- will duplicate appropriately whether or not associated with a claim_procedure record
DECLARE @claim_transport_id INT;

DECLARE crs_claim_transport CURSOR FAST_FORWARD FOR
SELECT
claim_transport_id
FROM
dbo.claim_transport
WHERE
(@old_claim_procedure_id IS NULL AND claim_procedure_id IS NULL AND claim_id = @old_claim_id)	-- child record is for the entire claim
OR
(claim_procedure_id = @old_claim_procedure_id);	-- child record is for the claim_procedure

OPEN crs_claim_transport;

FETCH NEXT FROM crs_claim_transport
INTO
@claim_transport_id;

WHILE @@FETCH_STATUS = 0
BEGIN

INSERT INTO dbo.claim_transport
(
claim_id
,   claim_procedure_id
,   patient_weight_unit_of_measurement_gk
,   patient_weight
,   claim_transport_reason_code_gk
,   distance_unit_of_measurement_gk
,   distance
,   patient_quantity
,   purpose_round_trip
,   purpose_stretcher
,   active
)
SELECT
@new_claim_id
,   @new_claim_procedure_id
,   ct.patient_weight_unit_of_measurement_gk
,   ct.patient_weight
,   ct.claim_transport_reason_code_gk
,   ct.distance_unit_of_measurement_gk
,   ct.distance
,   ct.patient_quantity
,   ct.purpose_round_trip
,   ct.purpose_stretcher
,   ct.active
FROM
dbo.claim_transport ct
WHERE
ct.claim_transport_id = @claim_transport_id;

DECLARE @new_claim_transport_id INT = SCOPE_IDENTITY();

--- Create a new claim_transport_address record
INSERT INTO dbo.claim_transport_address
(
claim_transport_id
,   claim_transport_address_type_gk
,   address_1
,   address_2
,   city
,   state_code
,   postal_code
,   country_code
,   country_subdivision_code
,   locale_id
,   active
)
SELECT
@new_claim_transport_id
,   cta.claim_transport_address_type_gk
,   cta.address_1
,   cta.address_2
,   cta.city
,   cta.state_code
,   cta.postal_code
,   cta.country_code
,   cta.country_subdivision_code
,   cta.locale_id
,   cta.active
FROM
dbo.claim_transport_address cta
WHERE
cta.claim_transport_id = @claim_transport_id;

FETCH NEXT FROM crs_claim_transport
INTO
@claim_transport_id;
END;

CLOSE crs_claim_transport;
DEALLOCATE crs_claim_transport;

RETURN @SP_SUCCESS;
--
END;
GO
