USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_control_container_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/17/2009
--
REVISION_HISTORY:
--
Date        Modified By   Version   Description
--------------------------------------------------------------------------------
02/26/2009  eponomareff   1.0       Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load drop down of security permission containers for control - Form, Tab Page, and Group Box
This combo box appears on the security form Edit Permissions - Field Permissions tab
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_control_container_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT security_securable_object_type_ud
FROM security_securable_object_type
WHERE is_control_container = 1

RETURN @SP_SUCCESS
--
GO
