USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_qualifier_assignment_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 09/25/2009
--
DESCRIPTION:
Loads benefit_qualifier_assignment records based on the filter.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_qualifier_assignment_load]
(
@procedure_code_group_id	int = NULL
,@benefit_contract_id		int = NULL
,@client_group_id		int = NULL
,@client_id			int = NULL
,@benefit_plan_id		int = NULL
,@benefit_coverage_exception_rule_id int = NULL
,@effective_from		DATETIME = NULL
,@effective_thru		DATETIME = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@DATE_MAX DATETIME
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@DATE_MAX = '8-8-8888'

SELECT
bqa.benefit_qualifier_assignment_id,
bqa.benefit_coverage_exception_rule_id,
bcer.benefit_coverage_exception_rule_ud,
bqa.effective_from,
bqa.effective_thru,

bqa.procedure_code_group_id,
p.procedure_code_group_ud,
bqa.client_id,
cn.client_ud,
bqa.client_group_id,
gn.client_group_ud,
bqa.benefit_contract_id,
bc.benefit_contract_ud,
bqa.benefit_plan_id,
bp.benefit_plan_ud,
cast(1 as bit) as validation_bit

FROM benefit_qualifier_assignment AS bqa
LEFT JOIN benefit_coverage_exception_rule bcer  ON bcer.benefit_coverage_exception_rule_id = bqa.benefit_coverage_exception_rule_id
LEFT JOIN procedure_code_group p  ON p.procedure_code_group_id = bqa.procedure_code_group_id
LEFT JOIN benefit_contract bc  ON bc.benefit_contract_id = bqa.benefit_contract_id
LEFT JOIN client_group_name gn  ON gn.client_group_id = bqa.client_group_id
LEFT JOIN client_name cn  ON cn.client_id = bqa.client_id
LEFT JOIN benefit_plan bp  ON bp.benefit_plan_id = bqa.benefit_plan_id
WHERE
ISNULL(@procedure_code_group_id, ISNULL(bqa.procedure_code_group_id,0)) = ISNULL(bqa.procedure_code_group_id,0)
AND ISNULL(@benefit_contract_id, ISNULL(bqa.benefit_contract_id,0)) = ISNULL(bqa.benefit_contract_id,0)
AND ISNULL(@client_group_id, ISNULL(bqa.client_group_id,0)) = ISNULL(bqa.client_group_id,0)
AND ISNULL(@client_id, ISNULL(bqa.client_id,0)) = ISNULL(bqa.client_id,0)
AND ISNULL(@benefit_plan_id, ISNULL(bqa.benefit_plan_id,0)) = ISNULL(bqa.benefit_plan_id,0)
AND ISNULL(@benefit_coverage_exception_rule_id, ISNULL(bqa.benefit_coverage_exception_rule_id,0)) = ISNULL(bqa.benefit_coverage_exception_rule_id,0)
AND (@effective_from IS NULL OR ISNULL(bqa.effective_thru, @DATE_MAX) >= @effective_from)
AND (@effective_thru IS NULL OR ISNULL(bqa.effective_thru, @DATE_MAX) <= @effective_thru)
ORDER BY
ISNULL(bqa.effective_thru, @DATE_MAX) DESC
,bqa.effective_from DESC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
