USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_asc_facility_wage_index_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Dec 22 2005  3:58PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to load data of an asc facility wage index
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_asc_facility_wage_index_load]
(
@asc_facility_wage_index_id    INT = NULL
)
AS
BEGIN
DECLARE     @SP_SUCCESS int
SELECT     @SP_SUCCESS = 0

SELECT
asc_facility_wage_index_id
,asc_facility_location_code
,city_county_area
,asc_facility_wage_index.state
,wage_index
,state
FROM	asc_facility_wage_index
WHERE 	asc_facility_wage_index_id = @asc_facility_wage_index_id

RETURN @SP_SUCCESS

END
GO
