USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_payer_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created (functionally replaces plx_claim_cob_payer_save)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a record of COB Sequence grid on the Claim COB Entry form

--
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_cob_payer_save]
(
--claim_cob_payer
@claim_cob_payer_id                         int = NULL   OUTPUT
,@claim_id                                   int = NULL
,@cob_member_commercial_health_plan_id       int = NULL
,@cob_member_governmental_health_plan_id     int = NULL
,@sequence_id                                int = NULL
,@other_insurance_payment_date               date = NULL
-- for now, the user may not enter or update claim header cob amounts
--,@net_pay                                    numeric(20,10) = NULL
--,@allowed_amount                             numeric(20,10) = NULL

) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

--
IF ISNULL(@claim_cob_payer_id,0) = 0
BEGIN

--- Create a new claim_cob_payer record
INSERT INTO dbo.claim_cob_payer(
claim_id
,sequence_id
,cob_member_commercial_health_plan_id
,cob_member_governmental_health_plan_id
,other_insurance_payment_date
-- for now, the user may not enter or update claim header cob amounts
--,net_pay
--,allowed_amount
)
VALUES(
@claim_id
,@sequence_id
,@cob_member_commercial_health_plan_id
,@cob_member_governmental_health_plan_id
,@other_insurance_payment_date
-- for now, the user may not enter or update claim header cob amounts
--,@net_pay
--,@allowed_amount
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
SET @claim_cob_payer_id = SCOPE_IDENTITY()
END

ELSE IF NOT EXISTS (SELECT * FROM dbo.claim_cob_payer WHERE claim_cob_payer_id = @claim_cob_payer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing claim_cob_payer record
UPDATE dbo.claim_cob_payer
SET
claim_id                                = @claim_id
,sequence_id                             = @sequence_id
,cob_member_commercial_health_plan_id    = @cob_member_commercial_health_plan_id
,cob_member_governmental_health_plan_id  = @cob_member_governmental_health_plan_id
,other_insurance_payment_date            = @other_insurance_payment_date
-- for now, the user may not enter or update claim header cob amounts
--,net_pay                                 = @net_pay
--,allowed_amount                          = @allowed_amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()

WHERE claim_cob_payer_id = @claim_cob_payer_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

RETURN @SP_SUCCESS
--
GO
