USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/01/2013
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/01/2013	eponomareff		1.0			Created
01/26/2017  eponomareff     2.0         Modified to support N-tier Composite Tiers
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:

Deletes a composite tier, its tier criteria children, and its tier criteria extension children
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_composite_tier_delete]
(
@tier_id                      int = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

BEGIN TRAN

-- delete child extension rows first
DELETE FROM tier_criteria_composite_detail
WHERE tier_criteria_id IN
(SELECT tc.tier_criteria_id
FROM tier_criteria tc
WHERE tc.tier_id = @tier_id)

-- delete tier criteria child rows
DELETE FROM tier_criteria
WHERE tier_id = @tier_id

-- delete tier composite detail rows
DELETE FROM tier_composite_detail
WHERE tier_id = @tier_id

-- delete tier
DELETE FROM tier
WHERE tier_id = @tier_id

COMMIT TRAN

RETURN @SP_SUCCESS
--
GO
