USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_assignment_find_all_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
05/13/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
--
DESCRIPTION:
Used for Financial Responsibility Assignment Form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE	PROCEDURE [dbo].[plx_financial_responsibility_assignment_find_all_load]
(
@financial_responsibility_assignment_ud nvarchar(50) = NULL
,@financially_responsible_party_id INT = NULL
,@criteria_id Int = NULL
,@client_id INT = NULL
,@client_group_id  INT = NULL
,@benefit_contract_id INT = NULL
,@benefit_category_id INT = NULL
,@network_level_id INT = NULL
,@treatment_type_id INT = NULL
,@financial_responsibility_schedule_id INT = NULL
,@result_code_id INT = NULL
,@result_code_status_id	 INT = NULL
,@effective_from datetime = NULL
,@effective_thru datetime = NULL
,@show_only_current	bit = NULL
)
AS
--------------------------------

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)

IF @criteria_id <= 0
SET @criteria_id = NULL

IF @benefit_category_id <= 0
SET @benefit_category_id = NULL

IF @benefit_contract_id <= 0
SET @benefit_contract_id = NULL

IF @client_id <= 0
SET @client_id = NULL

IF @financially_responsible_party_id  <= 0
SET @financially_responsible_party_id  = NULL

IF @financial_responsibility_schedule_id  <= 0
SET @financial_responsibility_schedule_id  = NULL

IF @client_group_id   <= 0
SET @client_group_id   = NULL

IF @financial_responsibility_assignment_ud  = ''
SET @financial_responsibility_assignment_ud  = NULL

IF @network_level_id   <= 0
SET @network_level_id   = NULL

IF @result_code_id   <= 0
SET @result_code_id   = NULL

IF @treatment_type_id   <= 0
SET @treatment_type_id   = NULL

SET @strSQL =
'SELECT
fra.financial_responsibility_assignment_id
,fra.financial_responsibility_assignment_ud
--,fra.financial_responsibility_id as financial_responsibility_old_id -- fixed 6489

,fra.financially_responsible_party_id
,frp.financially_responsible_party_ud
--,frp.golden_key as responsible_party_GK

,fra.criteria_id
,criteria.criteria_ud

,fra.client_id
,client_name.client_ud

,fra.client_group_id
,client_group_name.client_group_name_id
,client_group_name.client_group_ud

,fra.benefit_contract_id
,benefit_contract.benefit_contract_ud

,fra.benefit_category_id
,benefit_category.benefit_category_ud
,benefit_category.golden_key as benefit_category_GK

,fra.network_level_id
,network_level.network_level_ud
,network_level.golden_key as network_level_GK

,fra.treatment_type_id
,tt.treatment_type_ud

,fra.financial_responsibility_schedule_id
,frs.financial_responsibility_schedule_ud

,fra.result_code_id
,rc.result_code_ud

,fra.result_code_status_id
,rcs.result_code_status_ud
,rcs.golden_key as result_code_GK

,fra.effective_from
,fra.effective_thru
,isnull(fra.effective_thru,''9999/01/01'') as sort_effective_thru

FROM financial_responsibility_assignment fra
left join financially_responsible_party frp on fra.financially_responsible_party_id = frp.financially_responsible_party_id
left join criteria on fra.criteria_id = criteria.criteria_id
left join client on fra.client_id = client.client_id
left join client_name on client.client_id = client_name.client_id
left join client_group on fra.client_group_id = client_group.client_group_id
left join client_group_name on client_group.client_group_id = client_group_name.client_group_id
left join benefit_contract on fra.benefit_contract_id = benefit_contract.benefit_contract_id
left join benefit_category on fra.benefit_category_id = benefit_category.benefit_category_id
left join network_level on fra.network_level_id = network_level.network_level_id
left join treatment_type tt on fra.treatment_type_id = tt.treatment_type_id
left join financial_responsibility_schedule frs on fra.financial_responsibility_schedule_id = frs.financial_responsibility_schedule_id
left join result_code rc on fra.result_code_id = rc.result_code_id
left join result_code_status rcs on fra.result_code_status_id = rcs.result_code_status_id
WHERE 1= 1
'

IF @criteria_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.criteria_id = ' + str(@criteria_id) + ')'

IF @benefit_category_id  IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.benefit_category_id  = ' + str(@benefit_category_id) + ')'

IF @benefit_contract_id  IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.benefit_contract_id  = ' + str(@benefit_contract_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.client_id  = ' + str(@client_id) + ')'

IF @financially_responsible_party_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.financially_responsible_party_id  = ' + str(@financially_responsible_party_id) + ')'

IF @financial_responsibility_schedule_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.financial_responsibility_schedule_id  = ' + str(@financial_responsibility_schedule_id) + ')'

IF @client_group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.client_group_id = ' + str(@client_group_id) + ')'

IF @network_level_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.network_level_id = ' + str(@network_level_id) + ')'

IF @result_code_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.result_code_id = ' + str(@result_code_id) + ')'

IF @treatment_type_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.treatment_type_id = ' + str(@treatment_type_id) + ')'

IF @financial_responsibility_assignment_ud IS NOT NULL
SET @strSQL = @strSQL + ' AND (fra.financial_responsibility_assignment_ud LIKE ''%'+ @financial_responsibility_assignment_ud  + '%'')'


IF @effective_from IS NOT NULL
SET @strSQL = @strSQL + ' AND DATEDIFF(day, isnull(fra.effective_from,''1900/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @strSQL = @strSQL + ' AND DATEDIFF(day, isnull(fra.effective_thru,''9999/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '

IF (NOT @show_only_current IS NULL) AND (@show_only_current = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), fra.effective_from) <= 0 )--OR fra.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), fra.effective_thru) >= 0 OR fra.effective_thru IS NULL)
'
END

-- Default Sort order on Effective Through (descending order), Effective From (descending order), then Payment Contract ID (ascending order).
SET @strSQL = @strSQL + 'ORDER BY sort_effective_thru DESC, fra.effective_from DESC, fra.financial_responsibility_assignment_ud'

execute sp_executesql @strSQL
print @strSQL
--
RETURN @SP_SUCCESS
GO
