USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_debit_memo_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_debit_memo_delete]
(
@accounting_transaction_ar_id             int = NULL OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (
SELECT *
FROM accounting_transaction_ar ata
INNER JOIN accounting_transaction_ar_debit_memo_detail detail
ON detail.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE ata.accounting_transaction_ar_id = @accounting_transaction_ar_id)

RETURN @SP_SUCCESS

ELSE
BEGIN
--Check if this debit_memo can be deleted (not applied to any customer payments or credit memos)
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_accounting_transaction_ar_debit_memo_check_delete @accounting_transaction_ar_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete accounting_transaction_ar_debit_memo_detail
DELETE FROM accounting_transaction_ar_debit_memo_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar_distribution
DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar_additional_information
DELETE FROM accounting_transaction_ar_additional_information
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar_apply_to
DELETE FROM accounting_transaction_ar_apply_to
WHERE to_accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

IF @@ERROR > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END

RETURN @SP_SUCCESS
GO
