USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_gender_exclude_unknown_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 06/23/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/23/2008	David Slayton	1.0			Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load all entries from the gender table except for 'Unknown'.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_gender_exclude_unknown_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
gender.gender_id
,gender.gender_ud
,gender.golden_key

FROM gender
WHERE golden_key NOT IN ('Unknown')
ORDER By  gender.gender_ud
--
RETURN @SP_SUCCESS
--
GO
