USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_referral_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/08/2006	tinh do			1.0			Create
03/20/207	tinh do			1.1			Fixed SCR #5855,#5856 (online)
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_auto_create_referral_id_rule]
(
@golden_key	NVARCHAR(50) = NULL
,@form_type 	NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF ISNULL(@golden_key, '') = ''
BEGIN
IF @form_type 	= 'Referral'
BEGIN
SELECT TOP 1 @golden_key  = auto_create_referral_id_rule.golden_key
FROM global_rule
LEFT JOIN auto_create_referral_id_rule ON global_rule.auto_create_referral_id_rule_id = auto_create_referral_id_rule.auto_create_referral_id_rule_id
END
ELSE
BEGIN
SELECT TOP 1 @golden_key  = auto_create_referral_id_rule.golden_key
FROM global_rule
LEFT JOIN auto_create_referral_id_rule ON global_rule.authorization_auto_create_referral_id_rule_id = auto_create_referral_id_rule.auto_create_referral_id_rule_id
END
END

-- Set the prefix for the auto generated id.
DECLARE
@prefix	NVARCHAR(100)
,@referral_ud NVARCHAR(100)

SET @referral_ud = ''

IF (@golden_key='Date + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)
END
ELSE IF (@golden_key='Date + User Code/initials + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + 'Batch Code' ---Batch Code is underconstruction.Please refer to ICU 3187
END
ELSE IF (@golden_key='Date + Form Type + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + ISNULL(@form_type, '')
END
ELSE
BEGIN
SELECT @referral_ud AS referral_ud
RETURN @SP_SUCCESS
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_length				INT
,@counter						INT
,@counter_text					NVARCHAR(50)

SET @counter_length = 5
SET @auto_create_counter_type_ud = 'Referral/Authorization ' + @prefix

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @referral_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM referral
WHERE referral_ud = @referral_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @referral_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @referral_ud AS referral_ud
RETURN @SP_SUCCESS
END
GO
