USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_refund_distributions_update]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:	Used by Customer Refund form, to recalculate the two
distribution records for the Refund.

For Refund, the CASH account associated with the Refund
bank account is credtied. (Because CASH is a debit account,
an increase in Cash is a debit, a decrease in cash is a credit.
A refund decreases cash; we are paying money to a customer).

The A/R account (or whatever account is selected) is debited.

The amount is the sum of the AR Transaction amounts that have been
applied to the Refund, in the accounting_transaction_ar_apply_to
table.

*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_refund_distributions_update]
(
@accounting_transaction_ar_id  INT = 0 -- Refund id
)

AS

-- delete the existing distribution records, if any.
DELETE accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

-- fill variables
-- only CREDITS are allowed on refunds, so we can do a simple sum.
DECLARE @refund_amount NUMERIC(20,10) = (SELECT ISNULL(SUM(amount), 0) FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @accounting_transaction_ar_id);

-- get accounts
DECLARE @debit_account_id INT = (SELECT detail.ar_accounting_company_account_id FROM accounting_transaction_ar_refund_detail detail
WHERE detail.accounting_transaction_ar_id = @accounting_transaction_ar_id);
DECLARE @credit_cash_account_id INT = (SELECT bc.cash_accounting_company_account_id FROM bank_account bc
JOIN accounting_transaction_ar_refund_detail detail
ON bc.bank_account_id = detail.bank_account_id
WHERE detail.accounting_transaction_ar_id = @accounting_transaction_ar_id);
-- insert debit distribution
INSERT accounting_transaction_ar_distribution
(accounting_transaction_ar_id
,accounting_company_account_id
,amount
,is_debit
)
VALUES
(@accounting_transaction_ar_id
,@debit_account_id
,@refund_amount
,1
);

-- insert credit (cash) distribution
INSERT accounting_transaction_ar_distribution
(accounting_transaction_ar_id
,accounting_company_account_id
,amount
,is_debit
)
VALUES
(@accounting_transaction_ar_id
,@credit_cash_account_id
,@refund_amount
,0
);

RETURN 0
GO
