USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_external_claim_editing_result_code_mapping_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 03/31/2014
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/31/2014	amortensen		1.0		Created from external_pricing_result_map_load
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find external_claim_editing_result_map that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@external_claim_editing_result_code_mapping_ud
@description
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_external_claim_editing_result_code_mapping_load]
(
@get_column_headers			BIT = 0,
@external_claim_editing_result_code_mapping_ud		NVARCHAR(50) = NULL,
@description				NVARCHAR(100) = NULL,
@show_exact_matches			BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION 	INT,
@SqlQuery 		NVARCHAR(4000),
@SqlCondition	NVARCHAR(2000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1,
@SqlQuery		= '',
@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix		= '',
@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @external_claim_editing_result_code_mapping_ud IS NOT NULL AND @external_claim_editing_result_code_mapping_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ecercm.external_claim_editing_result_code_mapping_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@external_claim_editing_result_code_mapping_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ecercm.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix


SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
ecercm.external_claim_editing_result_code_mapping_id,
ecercm.external_claim_editing_result_code_mapping_ud,
ecercm.description
FROM  dbo.external_claim_editing_result_code_mapping ecercm

'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY ecercm.external_claim_editing_result_code_mapping_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
