USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 09/07/2011

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_delete]
(
@auto_termination_rule_relationship_to_subscriber_id int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM auto_termination_rule_relationship_to_subscriber WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id )
BEGIN

RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
DELETE FROM auto_termination_rule_relationship_to_subscriber
WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id
END
--
RETURN @SP_SUCCESS
--
GO
