USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_processing_queue_units_from_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/16/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/16/2009	lrenard	1.0			Created for 19866 - claim processing queue
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down Units for the date option on the claim processing queue.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_claim_processing_queue_units_from_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
unit_day_week_month_year_id as from_unit_day_week_month_year_id
,unit_day_week_month_year_ud as from_unit_day_week_month_year_ud
,golden_key
FROM unit_day_week_month_year
--
RETURN @SP_SUCCESS
GO
