USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_process_lock_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	06/09/2010
--
--05/01/2015	schong		rt6268 - update to hide eligibility and show claim adjudication
--07/29/2019	amortensen	RT14598 - Lock type for adjduciation enrollment
--
DESCRIPTION:
This procedure is used to load a list of current running processes based on filter criteria.

HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_find_process_lock_load]
(
@get_column_headers	bit = 1
,@task_type_id 	int = null
,@effective_from 			datetime = null
,@effective_thru 		datetime = null
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@Eligibility_Lock_type int = null

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
--

SELECT @Eligibility_Lock_type = PLT.process_lock_type_id
FROM process_lock_type PLT
WHERE PLT.golden_key = 'ADJUDICATION_ENROLLMENT'

SELECT DISTINCT CAST(0 AS BIT) AS [select]
, pl.process_lock_id
, plt.task_type_ud
, pl.object_record_id
, CASE WHEN ISNULL(plt.ui_engine_lookup_parameter_id,0) = 0 THEN ''''
WHEN plt.golden_key = 'CHANGE_LINE_STATUS' THEN dbo.plx_fn_get_ud_by_ui_engine_lookup_parameter(plt.ui_engine_lookup_parameter_id, cp.claim_id)
ELSE dbo.plx_fn_get_ud_by_ui_engine_lookup_parameter(plt.ui_engine_lookup_parameter_id, pl.object_record_id)
END AS record_ud
, pl.locked_by
, pl.locked_on
, pl.machine_name
FROM process_lock pl
INNER JOIN vw_task_type_process_lock_type plt on plt.process_lock_type_id = pl.process_lock_type_id
LEFT JOIN claim_procedure cp ON plt.golden_key = 'CHANGE_LINE_STATUS' AND cp.claim_procedure_id = pl.object_record_id
WHERE @get_column_headers = 0
AND plt.process_lock_type_id != @Eligibility_Lock_type -- dont show eligibility locks here rt 6268
AND plt.task_type_id = ( CASE WHEN @task_type_id IS NULL THEN plt.task_type_id
WHEN @task_type_id <= 0 THEN plt.task_type_id
ELSE @task_type_id END)
AND 0 >= ( CASE WHEN @effective_from IS NOT NULL THEN DATEDIFF(DAY, pl.locked_on, CAST(@effective_from AS DATE)) ELSE 0 END )
AND 0 <= ( CASE WHEN @effective_thru IS NOT NULL THEN DATEDIFF(DAY, pl.locked_on, CAST(@effective_thru AS DATE)) ELSE 0 END )

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
