USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_benefit_class_choice_resolution_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Date: 10/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek	1.0		Created
03/19/2008	lrenard	1.1		replaced @benefit_contract_id with isnull(@benefit_contract_id, 0)
04/14/2008	lrenard	1.2		added "AND bc.benefit_class_id = bc1.benefit_class_id" specification to the
existing check to exclude checking resolutions for other classes
05/08/2008	lrenard	1.3		fixed check for existing to make sure the resolution has the same benefit_coverage_rules_id
12/2/2011 cknobloch 1.4		RT 	2103 - never returning a choice list with only one choice.
08/22/2013	amortensen	1.5	RT:5063 - Receiving Concurrency Lock Error when trying to modify a Choice List
--

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Read data from the benefit_contract_benefit_class_choice_resolution table.
This stored procedure is used in the Benefit Class Choice Resolution grid of the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_benefit_class_choice_resolution_list_load]
(
@benefit_contract_id	int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--get resolution through the plan
SELECT  DISTINCT
NULL AS benefit_contract_benefit_class_choice_resolution_id
,bc.benefit_contract_id
,bcr.benefit_coverage_rules_id
,bc1.benefit_class_id
,bc1.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bfcl.benefit_framework_choice_list_id
,bfcl.benefit_framework_choice_list_ud
,bcr.effective_from AS effective_from
,bcr.effective_thru AS effective_thru
,CAST(NULL AS INT) AS benefit_framework_valid_choice_id
,bc.modified_date
FROM         	      dbo.benefit_contract AS bc INNER JOIN
dbo.benefit_contract_period AS bcp ON bcp.benefit_contract_id = bc.benefit_contract_id INNER JOIN
dbo.benefit_contract_period_benefit_plan AS bcpbp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id INNER JOIN
dbo.benefit_plan AS bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id INNER JOIN
dbo.benefit_framework AS bf ON bf.benefit_framework_id = bp.benefit_framework_id INNER JOIN
dbo.benefit_framework_benefit_class AS bfbc ON bfbc.benefit_framework_id = bf.benefit_framework_id INNER JOIN
dbo.benefit ON dbo.benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id INNER JOIN
dbo.benefit_class AS bc1 ON bc1.benefit_class_id = bfbc.benefit_class_id INNER JOIN
dbo.benefit_framework_choice_list AS bfcl ON bfcl.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id INNER JOIN
dbo.resolve_choice_list_at AS rcla ON rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id INNER JOIN
dbo.benefit_coverage_rules AS bcr ON dbo.benefit.benefit_id = bcr.benefit_id AND
dbo.benefit.benefit_id = bcr.benefit_id AND
bfcl.benefit_framework_choice_list_id = bcr.benefit_framework_choice_list_id
WHERE   UPPER(rcla.golden_key) = UPPER('BENEFIT CONTRACT HEADER')
AND		bc.benefit_contract_id  = isnull(@benefit_contract_id, 0)
AND NOT EXISTS (
SELECT	bcbccr.benefit_contract_benefit_class_choice_resolution_id
FROM	dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN dbo.benefit_contract_benefit_class_choice_resolution bcbccr
ON 	bcbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
LEFT JOIN dbo.benefit_framework_valid_choice bfvc
ON	bfvc.benefit_framework_valid_choice_id = bcbccr.benefit_framework_valid_choice_id
WHERE   rcla.golden_key = N'BENEFIT CONTRACT HEADER'
AND	bcbccr.benefit_contract_id = isnull(@benefit_contract_id, 0)
AND bc.benefit_class_id = bc1.benefit_class_id
AND		1 <= (	SELECT	COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
AND bcr.benefit_coverage_rules_id = bcbccr.benefit_coverage_rules_id)
)

union
--get existing resolutions for this contract
SELECT   bcbccr.benefit_contract_benefit_class_choice_resolution_id
,bcbccr.benefit_contract_id
,benefit_coverage_rules.benefit_coverage_rules_id
,bc.benefit_class_id
,bc.benefit_class_ud
,benefit.benefit_id
,benefit.benefit_ud
,bfcl.benefit_framework_choice_list_id
,bfcl.benefit_framework_choice_list_ud
,CASE WHEN bcbccr.benefit_contract_benefit_class_choice_resolution_id IS NOT NULL THEN bcbccr.effective_from
ELSE benefit_coverage_rules.effective_from END
AS effective_from
,CASE WHEN bcbccr.benefit_contract_benefit_class_choice_resolution_id IS NOT NULL THEN bcbccr.effective_thru
ELSE benefit_coverage_rules.effective_thru END
AS effective_thru
,bcbccr.benefit_framework_valid_choice_id
,bcbccr.modified_date
FROM
dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit_class bc
ON bc.benefit_class_id = bfbc.benefit_class_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
LEFT JOIN dbo.benefit_contract_benefit_class_choice_resolution bcbccr
ON 	bcbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
LEFT JOIN dbo.benefit_framework_valid_choice bfvc
ON	bfvc.benefit_framework_valid_choice_id = bcbccr.benefit_framework_valid_choice_id

WHERE   rcla.golden_key = N'BENEFIT CONTRACT HEADER'
AND	bcbccr.benefit_contract_id = isnull(@benefit_contract_id, 0)
AND		1 <= (	SELECT	COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id)


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
