USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_accounting_transaction_ar_ready_for_client_fees_invoice]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[plx_dto_accounting_transaction_ar_ready_for_client_fees_invoice]
(
@client_fee_setup_id int
)
AS

SELECT	atar.*
FROM
accounting_transaction_ar atar
INNER JOIN accounting_source src ON atar.accounting_source_id = src.accounting_source_id
LEFT JOIN accounting_transaction_ar_fee_detail fee_detail
INNER JOIN client_fee_setup_ar_fee cfsaf ON fee_detail.client_fee_setup_ar_fee_id = cfsaf.client_fee_setup_ar_fee_id
ON atar.accounting_transaction_ar_id = fee_detail.accounting_transaction_ar_id
INNER JOIN accounting_transaction_status stat ON atar.accounting_transaction_status_id = stat.accounting_transaction_status_id
INNER JOIN accounting_transaction_ar_type atat ON atar.accounting_transaction_ar_type_id = atat.accounting_transaction_ar_type_id

WHERE

stat.golden_key = 'AVAILABLE'
AND src.golden_key = 'CLIENT_FEES'
AND cfsaf.client_fee_setup_id = @client_fee_setup_id
AND atat.golden_key IN ('CHARGE', 'CREDIT')
AND dbo.plx_fn_get_unapplied_amount_for_ar_transaction(atar.accounting_transaction_ar_id,0) <> 0
AND dbo.fn_check_accounting_transaction_ar_is_locked(atar.accounting_transaction_ar_id) = 0
GO
