USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 09/06/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/06/2005 Hiep Nguyen	1.0			Created
04/07/2008 lrenard	2.0				implemented dependecy checks before deletes and delete child data
10/14/2010 eponomareff   2.1        ICU 20727 - removed dental fields; added grid for alternate course instead
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object from benefit_plan table
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_delete]
(
@benefit_plan_id                            int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_plan WHERE benefit_plan_id = @benefit_plan_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
if (exists(select * from benefit_contract_period_benefit_plan where benefit_plan_id = @benefit_plan_id)
OR exists(select * from family_eligibility_member_benefit_plan where benefit_plan_id = @benefit_plan_id)
OR exists(select * from benefit_qualifier_assignment where benefit_plan_id = @benefit_plan_id)	)
begin
select cast(NULL as nvarchar)  as 'Benefit Contract', cast(NULL as nvarchar) as 'Benefit Contract Template',
family_eligibility_ud as 'Family Eligibility', cast(NULL as nvarchar) as 'Payment Penalty Schedule Exemption',
cast(NULL as nvarchar) as 'Benefit Qualifier Assignment'
from family_eligibility fe
inner join family_eligibility_member fem on fem.family_eligibility_id = fe.family_eligibility_id
inner join family_eligibility_member_benefit_plan fembp on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
where benefit_plan_id = @benefit_plan_id
UNION
select cast(NULL as nvarchar)  as 'Benefit Contract', benefit_contract_ud as 'Benefit Contract Template',
cast(NULL as nvarchar) as 'Family Eligibility', cast(NULL as nvarchar) as 'Payment Penalty Schedule Exemption',
cast(NULL as nvarchar) as 'Benefit Qualifier Assignment'
from benefit_contract bc
inner join benefit_contract_period bcp on bcp.benefit_contract_id = bc.benefit_contract_id
inner join benefit_contract_period_benefit_plan bcpbp on bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
where benefit_plan_id = @benefit_plan_id and benefit_contract_template = 1
UNION
select benefit_contract_ud as 'Benefit Contract', cast(NULL as nvarchar) as 'Benefit Contract Template',
cast(NULL as nvarchar) as 'Family Eligibility', cast(NULL as nvarchar) as 'Payment Penalty Schedule Exemption',
cast(NULL as nvarchar) as 'Benefit Qualifier Assignment'
from benefit_contract bc
inner join benefit_contract_period bcp on bcp.benefit_contract_id = bc.benefit_contract_id
inner join benefit_contract_period_benefit_plan bcpbp on bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
where benefit_plan_id = @benefit_plan_id and benefit_contract_template = 0
UNION
select distinct cast(NULL as nvarchar) as 'Benefit Contract', cast(NULL as nvarchar) as 'Benefit Contract Template',
cast(NULL as nvarchar) as 'Family Eligibility', 'Exempt Periods' as 'Payment Penalty Schedule Exemption',
cast(NULL as nvarchar) as 'Benefit Qualifier Assignment'
from payment_penalty_schedule_exemption
where benefit_plan_id = @benefit_plan_id
UNION
select distinct cast(NULL as nvarchar) as 'Benefit Contract', cast(NULL as nvarchar) as 'Benefit Contract Template',
cast(NULL as nvarchar) as 'Family Eligibility', cast(NULL as nvarchar) as 'Payment Penalty Schedule Exemption',
'Assignment Grid' as 'Benefit Qualifier Assignment'
from benefit_qualifier_assignment
where benefit_plan_id = @benefit_plan_id

RETURN @SP_EXCEPTION
end

DELETE FROM benefit_plan_alternate_course_of_treatment_definition
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan_benefit_class_choice_resolution
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan_user_assigned_result_code
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan_additional_information
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan_accumulator_class_choice_resolution
WHERE benefit_plan_id = @benefit_plan_id

--child data - similar information as benefit_plan_accumulator_framework
DELETE FROM accumulator_framework_assignment
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan_accumulator_framework
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_limit_fee_schedule
WHERE benefit_plan_id = @benefit_plan_id

DELETE FROM benefit_plan
WHERE benefit_plan_id = @benefit_plan_id
END
--
RETURN @SP_SUCCESS
--
GO
