USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 09/19/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/19/2008 	Vishwa Jella	1.0		Created
09/26/2008	Vishwa Jella	1.1		updated delete based on status (we can delete only when payment status = 'ENTERED')
10/24/2008	WChristensen	1.2		Changed to call delete proc for apply_to records
04/03/2018	AMortensen		1.3		RT:10654 - Updating to reset zero pay($0) transactions to available after delete
02/08/2024  eponomareff     2.0     RT-23783 - Zero Pay have been moved to their own table, so we update that too, but
leaving the RT:10654 fix in place for payments created prior to the new
zero pay implementation.
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Deletes Payment when Payment Status = 'ENTERED'
--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_ap_id  - Key identifies a single record stored as payment. (Its 1 to 1 in accounting_transaction_ap_payment_detail table
to accounting_transaction_ap table
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_delete]
(
@accounting_transaction_ap_id	INT = NULL OUTPUT -- Payment ID
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				INT,
@SP_EXCEPTION			INT,
@ERROR_RECORD_LOCKED	NVARCHAR(50)

SELECT
@SP_SUCCESS				= 0,
@SP_EXCEPTION			= -1
--
IF NOT EXISTS (	SELECT *
FROM accounting_transaction_ap atap
INNER JOIN accounting_transaction_ap_payment_detail atappd ON atappd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
WHERE atap.accounting_transaction_ap_id = @accounting_transaction_ap_id)
RETURN @SP_SUCCESS
ELSE
BEGIN

/****************************************************BEGIN: PART 1 - RT:10654 FIX****************************************************
/ RT:10654 - Update zero pay ($0) transactions to 'Available' after delete.
/  - Issue: When a payment gets deleted, associated transactions return to 'Available'. However, zero pay ($0)
/           transactions were not being updated. Normally updating the status is handled by a trigger on the
/           accounting_transaction_ap_payment_detail table, which calls a stored procedure. However, the stored procedure
/           was really slow. Aaron O'Neil rewrote the stored procedure to make it much faster, but it still doesn't handle
/           zero pay ($0) transactions. There is a lot of risk to updating that stored procedure, so instead we are going
/           to update the statuses here for transactions associated with the deleted payment here.
/  - Done in two parts: - Needs to be done in two parts due to Trigger (Part 1 happens before payment is deleted, part 2 happens after)
/           Part 1: Queries which transactions are associated with the payment being deleted that need to be updated to 'Available'.
/           Part 2: Updates the zero pay transactions to 'Available'.
************************************************************************************************************************************/
DECLARE @zeroPayTransactions TABLE
(
accounting_transaction_ap_id INT
)

INSERT INTO @zeroPayTransactions
SELECT transactions.accounting_transaction_ap_id
FROM accounting_transaction_ap transactions
INNER JOIN accounting_transaction_ap_apply_to apply_to
ON apply_to.to_accounting_transaction_ap_id = transactions.accounting_transaction_ap_id
WHERE transactions.transaction_amount = 0
AND apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
/****************************************************END: PART 1 - RT:10654 FIX****************************************************/

--Delete child tables
DECLARE @apply_to_transaction_id int

DECLARE cur_apply_to_transactions CURSOR FOR
SELECT accounting_transaction_ap_apply_to_id
FROM accounting_transaction_ap_apply_to
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id

OPEN cur_apply_to_transactions
FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id

WHILE @@FETCH_STATUS = 0
BEGIN
-- Delete the apply to transaction
EXEC plx_accounting_transaction_ap_payment_detail_transactions_delete @apply_to_transaction_id

FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id
END

CLOSE cur_apply_to_transactions
DEALLOCATE cur_apply_to_transactions

/***************************************************************************************
RT:23783 - NEW Zero Pay tables handle deleting zeros differently.
Before deleting the Payment, need to remove reference to Zero Claim Lines.
Update the NEW zero_tracking_claim_procedure records referenced by the Payment:
o set the status to Available
o remove the FK reference to the Payment
****************************************************************************************/
DECLARE @AVAILABLE_ZERO_TRACKING_CLIAM_PROCEDURE_STATUS_ID INT =
(SELECT zero_tracking_claim_procedure_status_id
FROM zero_tracking_claim_procedure_status
WHERE golden_key = 'AVAILABLE');

UPDATE dbo.zero_tracking_claim_procedure
SET payment_accounting_transaction_ap_id = NULL,
zero_tracking_claim_procedure_status_id = @AVAILABLE_ZERO_TRACKING_CLIAM_PROCEDURE_STATUS_ID
WHERE payment_accounting_transaction_ap_id = @accounting_transaction_ap_id;

/******************
DELETE THE PAYMENT
*******************/

--Delete the payment (First we have to delete from accounting_transaction_ap_payment_detail, then from accounting_transaction_ap table)
--Delete accounting_transaction_ap_payment_detail
DELETE FROM accounting_transaction_ap_payment_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

DECLARE @ErrorVar int, @RowCountVar int;

--Delete accounting_transaction_ap
DELETE FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_EXCEPTION)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

/****************************************************BEGIN: PART 2 - RT:10654 FIX****************************************************/
DECLARE @accountingTransactionStatusAvailable INT
SELECT @accountingTransactionStatusAvailable = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'AVAILABLE');

UPDATE transactions
SET accounting_transaction_status_id = @accountingTransactionStatusAvailable

FROM accounting_transaction_ap transactions
INNER JOIN @zeroPayTransactions zeroPayTrans
ON zeroPayTrans.accounting_transaction_ap_id = transactions.accounting_transaction_ap_id
/****************************************************END: PART 2 - RT:10654 FIX*****************************************************/

RETURN @SP_SUCCESS
GO
