USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_document_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;;
--
AUTHOR: MAbdul \ CFacey
DATE: 07/27/2010
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------
09/14/2007	MAbdul \ CFacey		1.0			Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--


DESCRIPTION:
Loads the Correspondence form data
--
REQUIREMENTS:
--
INPUTS:
report_setup_id - Key to report setup table.
--
OUTPUTS:
All selected fields from report_setup, report, report_category & rerport_setup_correspondence tables.
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_document_load]
(
@report_setup_id			INT = NULL
,@report_id					INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

IF @report_setup_id  <> 0

BEGIN

SELECT
rs.report_setup_id
,rs.report_setup_ud
,rs.report_setup_nm

,report.report_id
,report.report_ud

,report.report_category_id
,report_category.report_category_ud

,ce.correspondence_entity_id
,ce.correspondence_entity_ud

---print section
,ISNULL(rs.print_include_in_scheduling,0)AS print_include_in_scheduling
,ISNULL(rs.choose_default_printer, 0) AS choose_default_printer
,rs.printer_path_name
,rs.no_of_copies
,rs.paper_size
,rs.page_orientation

--Save to Location
,ISNULL(rs.include_network_in_scheduling, 0 ) AS include_network_in_scheduling
,rs.network_report_file_format_id
,rscs.save_document_number_generation_rule_id AS save_document_number_generation_rule_id
,rs.network_location

--- email info Section
,ISNULL(rs.include_email_in_scheduler,0) AS include_email_in_scheduler
,rs.email_report_file_format_id
,rscs.email_document_number_generation_rule_id AS email_document_number_generation_rule_id
,rscs.correspondence_email_rule_id
,cer.correspondence_email_rule_ud
,rs.subject
,rs.text
,rs.modified_date

FROM	report_setup  rs
LEFT OUTER JOIN report ON rs.report_id = report.report_id
LEFT OUTER JOIN report_category ON report.report_category_id = report_category.report_category_id
LEFT JOIN global_reports_location grl ON global_reports_location_id IN (SELECT MAX(global_reports_location_id) AS global_reports_location_id FROM global_reports_location)
LEFT JOIN report_setup_correspondence_setting rscs ON rscs.report_setup_correspondence_setting_id = rs.report_setup_correspondence_setting_id
LEFT JOIN correspondence_email_rule cer ON cer.correspondence_email_rule_id = rscs.correspondence_email_rule_id
LEFT JOIN correspondence_entity ce ON ce.correspondence_entity_id = report.correspondence_entity_id
WHERE
rs.report_setup_id = @report_setup_id

END

ELSE IF NOT @report_id IS NULL

BEGIN
SELECT
NULL AS report_setup_id
,'' AS report_setup_ud
,'' AS report_setup_nm

,report.report_id
,report.report_ud

,report.report_category_id
,report_category.report_category_ud

,ce.correspondence_entity_id
,ce.correspondence_entity_ud

---print section
,0 AS print_include_in_scheduling
,0 AS choose_default_printer
,'' AS  printer_path_name
,'' AS no_of_copies
,'' AS paper_size
,'' AS page_orientation

--Save to Location
,0 AS include_network_in_scheduling
,NULL AS network_report_file_format_id
,0 AS  save_report_file_name_generation_rule_id
,'' AS network_location

--- email info Section
,0 AS  include_email_in_scheduler
,NULL AS email_report_file_format_id
,0 AS email_report_file_name_generation_rule_id
,NULL correspondence_email_rule_id
,'' AS correspondence_email_rule_ud
,'' AS subject
,'' AS TEXT
FROM  report
LEFT OUTER JOIN  report_category ON report.report_category_id = report_category.report_category_id
LEFT JOIN correspondence_entity ce ON ce.correspondence_entity_id = report.correspondence_entity_id
WHERE report.report_id = @report_id

END
--
RETURN @SP_SUCCESS
GO
