USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Dec 12 2005 10:52AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/12/2005	Nam Ho			1.0			Created
05/02/2008	W.Christensen	1.1			Changed to use dependency check
05/27/2008	wchristensen	1.2			Changed to return success if record does not exist
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Delete data on form frmProviderPracticeOffice


--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_practice_office_delete]
(
@practice_office_id	int = NULL
,@object_row_version	rowversion = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   		 INT,
@SP_EXCEPTION 		 INT,
@SP_ERROR_RECORD_LOCKED      INT,
@SP_ERROR_NOT_EXIST	        INT,
@ERROR_RECORD_LOCKED         NVARCHAR(50),
@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS                  = 0,
@SP_EXCEPTION                = -1,
@SP_ERROR_RECORD_LOCKED      = 2,
@SP_ERROR_NOT_EXIST	       = 3,
@ERROR_RECORD_LOCKED         = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'


--
IF NOT EXISTS (SELECT * FROM practice_office WHERE practice_office_id = @practice_office_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_practice_office_check_delete @practice_office_id


IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Check Concurrency
DECLARE @concurrencyCheckResult int
EXEC @concurrencyCheckResult = plx_practice_office_check_and_rev_row_version @practice_office_id, @object_row_version
IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END
-- End Check concurrency


--Delete child tables
DELETE FROM practice_office_additional_information
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_address
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_asc_facility_wage_index
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_contact
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_correspondence
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_customer
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_gpci
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_identifier
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_office_hour
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_user_assigned_result_code
WHERE practice_office_id = @practice_office_id

DELETE FROM practice_office_vendor
WHERE practice_office_id = @practice_office_id

--Delete practice office
DELETE FROM practice_office
WHERE practice_office_id = @practice_office_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_EXCEPTION)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
--
GO
