USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoice_review_period_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/03/2009 	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down Invoice Review Period Rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_invoice_review_period_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
invoice_review_period_rule_id
,invoice_review_period_rule_ud
,golden_key
FROM invoice_review_period_rule
ORDER BY invoice_review_period_rule_ud
--
RETURN @SP_SUCCESS
GO
