USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_states_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used by Coverage Level Processing to store a batch of records
in the coverage_level_state table. A record is stored only if it provides
new information. This means:
o if no record having the same enrollment, benefit plan, and as of date exists,
then a record is inserted,
o else, if such a record does exist, and with a different tier critiera,
then that record is updated,
o else, if an identical record exists, no change is made to the database.

This stored procedure returns counts of records inserted and updated:
updatedRecordCount
insertedRecordCount

Note: Deletes (for termed coverages) are processed separately by a
stored procedure which compares the staged data with what is
in the database. We do not do the deletes in this save stored procedure
(Because the data may be batched, which means there could be a match
for an existing record in a batch separate from this one.)

plx_coverage_level_process_states_delete_for_staged_data

******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_states_save]
(
@states udtt_coverage_level_states READONLY
)
AS

BEGIN

SET NOCOUNT ON;
DECLARE @updatedRecordCount INT = 0;
DECLARE @insertedRecordCount INT = 0;

BEGIN TRANSACTION;

-- update matching records with different coverage level (tier_criteria_id)
UPDATE coverage_level_state WITH (UPDLOCK, SERIALIZABLE)
SET tier_criteria_id = newCls.tierCriteriaId
FROM dbo.coverage_level_state cls
JOIN @states newCls ON cls.family_eligibility_id = newCls.enrollmentId
WHERE
cls.benefit_plan_id = newCls.benefitPlanId
AND
cls.as_of_date = newCls.asOfDate
AND
cls.tier_criteria_id <> newCls.tierCriteriaId;

SET @updatedRecordCount = @@ROWCOUNT;

-- insert new records where no record exists with same enrollment / benefit plan / as of date
INSERT dbo.coverage_level_state (
family_eligibility_id,
benefit_plan_id,
tier_criteria_id,
as_of_date)
SELECT
enrollmentId,
benefitPlanId,
tierCriteriaId,
asOfDate
FROM @states newCls
WHERE NOT EXISTS (SELECT 1 FROM dbo.coverage_level_state cls
WHERE
cls.family_eligibility_id = newCls.enrollmentId
AND
cls.benefit_plan_id = newCls.benefitPlanId
AND
cls.as_of_date = newCls.asOfDate);

SET @insertedRecordCount = @@ROWCOUNT;

COMMIT TRANSACTION;
END

SELECT
@updatedRecordCount AS updatedRecordCount,
@insertedRecordCount AS insertedRecordCount;

RETURN 0
GO
