USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_find_accumulator_in_accumulator_framework]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: Trinh Le
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/21/2006	Thuy Ha			1.0			Created
03/12/2008	David Slayton	1.1			Removed commented out references to accumulator table.
--------------------------------------------------------------------------------
SPEC:


CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to check the existence of an accumulator in an accumulator framework
;
REQUIREMENTS	:

None
;
INPUTS		:
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE         procedure [dbo].[plx_check_find_accumulator_in_accumulator_framework]
(
@accumulator_framework_accumulator_class_accumulator_ud		NVARCHAR(100)=NULL
,@accumulator_framework_accumulator_class_id 			INT = NULL
)
AS
BEGIN
SET NOCOUNT ON

SELECT
afaca.accumulator_framework_accumulator_class_accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud
FROM accumulator_framework_accumulator_class_accumulator   afaca

WHERE afaca.accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id
AND afaca.accumulator_framework_accumulator_class_accumulator_ud = @accumulator_framework_accumulator_class_accumulator_ud
END
GO
