USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_framework_benefit_class_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Huy Truong
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/12/2005	Huy Truong	1.0			create
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Load benefit_framework_benefit_class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dd_benefit_framework_benefit_class_load]
(
@benefit_framework_id	int = NULL,
@benefit_class_id	int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

if(@benefit_framework_id is not null and @benefit_class_id is not null)
begin

SELECT 	DISTINCT  benefit_framework_benefit_class.benefit_framework_benefit_class_id
,benefit_framework_benefit_class.benefit_framework_id
,benefit_framework_benefit_class.benefit_class_id

FROM benefit_framework_benefit_class
WHERE benefit_framework_benefit_class.benefit_framework_id=@benefit_framework_id
and benefit_framework_benefit_class.benefit_class_id=@benefit_class_id
ORDER BY benefit_framework_benefit_class.benefit_framework_benefit_class_id

end
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
