USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/27/2005	tvngo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the diagnosis_code_group table.
This stored procedure is used in the Diagnosis Code Group form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_load]
(
@diagnosis_code_group_id			Int = NULL
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
diagnosis_code_group.diagnosis_code_group_id
,diagnosis_code_group.diagnosis_code_group_ud
,diagnosis_code_group.code_group_type_id

,code_group_type.code_group_type_ud
,diagnosis_code_group.description
,diagnosis_code_group.active
,diagnosis_code_group.created_user_name
,diagnosis_code_group.created_group_id

,diagnosis_code_group.created_date
,diagnosis_code_group.modified_date
FROM diagnosis_code_group
left join code_group_type  ON code_group_type.code_group_type_id = diagnosis_code_group.code_group_type_id
WHERE diagnosis_code_group.diagnosis_code_group_id = @diagnosis_code_group_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
