USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_yes_no_y_n_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for drop down yes_no (Yes/No) but displayed as (Y/N)
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_yes_no_y_n_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
yes_no_id
,CASE WHEN golden_key = 'yes' THEN 'Y' ELSE 'N' END as yes_no_ud
,golden_key
FROM yes_no
ORDER BY yes_no_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
