USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 09/06/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an alternate course of treatment map
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_delete]
(
@alternate_course_of_treatment_map_id       int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM alternate_course_of_treatment_map WHERE alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

BEGIN TRANSACTION

-- delete child tables
-- Alternate Course of Treatment Grid (which may have child records)
DECLARE @alternate_course_of_treatment_map_detail_id INT

DECLARE cur_details CURSOR FOR
SELECT alternate_course_of_treatment_map_detail_id
FROM alternate_course_of_treatment_map_detail
WHERE alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id

OPEN cur_details
FETCH NEXT FROM cur_details
INTO @alternate_course_of_treatment_map_detail_id

WHILE @@FETCH_STATUS = 0
BEGIN
-- delete the detail record and its child records
EXEC plx_alternate_course_of_treatment_map_detail_delete @alternate_course_of_treatment_map_detail_id

FETCH NEXT FROM cur_details
INTO @alternate_course_of_treatment_map_detail_id
END

CLOSE cur_details
DEALLOCATE cur_details

-- restorative bundling grid
DELETE FROM
alternate_course_dental_restorative_bundling_set
WHERE
alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id

-- grouping grid
DELETE FROM
alternate_course_of_treatment_grouping_assignment
WHERE
alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id

-- the record itself
DELETE FROM
alternate_course_of_treatment_map
WHERE
alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id

-- commit or rollback
IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END

--
RETURN @SP_SUCCESS
--
GO
