USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_by_benefit_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 06/17/2009
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
06/17/2009	Vishwa Jella		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
returns benefit framework by benefit id for Zoom on Result Code Information form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_by_benefit_id]
(
@benefit_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
bf.benefit_framework_id
,bf.benefit_framework_ud
FROM benefit_framework bf
left join benefit_framework_benefit_class  bfbc  ON bfbc.benefit_framework_id = bf.benefit_framework_id
left join benefit b  ON b.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id

WHERE b.benefit_id = @benefit_id
ORDER BY bf.benefit_framework_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
