USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_list_load1]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/24/2005	Trinh Le	1.0			create
03/20/2006	Trinh Le	1.0		Apply changes on "Benefit_class" table
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for benefit framework choice list
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_list_load1]
(
@benefit_framework_choice_list_id	Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
--SELECT
set @SP_SUCCESS = 0
set @SP_EXCEPTION = -1

if (@benefit_framework_choice_list_id is not null )
begin
SELECT
benefit_framework_choice_list.benefit_framework_choice_list_id as benefit_framework_choice_list_id
,benefit_framework_choice_list.benefit_framework_choice_list_ud as benefit_framework_choice_list_ud
,benefit_framework_choice_list.description as benefit_choice_list_description
,benefit_class.benefit_class_id as benefit_class_id1
,benefit_class.benefit_class_ud as benefit_class_ud1
,benefit_framework_choice_list.resolve_choice_list_at_id
,ui_engine_data_type.ui_engine_data_type_ud as class_data_type_ud1
,ui_engine_data_type.ui_engine_data_type_id
,benefit_framework_choice_list.episode_category_id
,benefit_framework_choice_list.episode_type_id
,episode_type.episode_type_ud
,episode_category.episode_category_ud
,benefit_framework_benefit_class.benefit_framework_benefit_class_id
,ui_engine_data_type.data_type_name
,benefit_framework_choice_list.modified_date
FROM benefit_framework_choice_list
left join benefit_framework_benefit_class  ON benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit_framework_choice_list.benefit_framework_benefit_class_id
left join benefit_class on benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
left join ui_engine_data_type on ui_engine_data_type.ui_engine_data_type_id = benefit_class.ui_engine_data_type_id
left join episode_type on episode_type.episode_type_id = benefit_framework_choice_list.episode_type_id
left join episode_category on episode_category.episode_category_id = benefit_framework_choice_list.episode_category_id
WHERE (benefit_framework_choice_list.benefit_framework_choice_list_id = @benefit_framework_choice_list_id)
end
else
begin
SELECT
null as benefit_framework_choice_list_id
,null as benefit_framework_choice_list_ud
,null as benefit_choice_list_description
,benefit_class.benefit_class_id as benefit_class_id1
,benefit_class.benefit_class_ud as benefit_class_ud1
,ui_engine_data_type.data_type_name as data_type_name
,ui_engine_data_type.ui_engine_data_type_id
,null as episode_category_id
,null as episode_type_id
,null as episode_type_ud
,null as episode_category_ud
FROM benefit_class
left join ui_engine_data_type on ui_engine_data_type.ui_engine_data_type_id = benefit_class.ui_engine_data_type_id
WHERE benefit_class.benefit_class_id = (
select benefit_class_id
from benefit_framework_benefit_class
where benefit_framework_benefit_class_id = @benefit_framework_choice_list_id)

end

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
