USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_premium_fee_definition_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_premium_fee_definition_load]
(
@premium_fee_definition_ud                    NVARCHAR(50) = NULL
, @premium_fee_definition_description           NVARCHAR(255) = NULL
, @show_exact_matches                           BIT = 0
)
AS

DECLARE
@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10);

SELECT
@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= '';

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = '''';
END
ELSE
BEGIN
SET @Prefix = 'LIKE N''';
SET @Suffix = '%''';
END

IF @premium_fee_definition_ud IS NOT NULL AND @premium_fee_definition_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pfd.premium_fee_definition_ud, '''') '
+ @Prefix
+ dbo.plx_EncodeStringWildCard(@premium_fee_definition_ud, @show_exact_matches)
+ @Suffix;

IF @premium_fee_definition_description IS NOT NULL AND @premium_fee_definition_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pfd.description, '''') '
+ @Prefix
+ dbo.plx_EncodeStringWildCard(@premium_fee_definition_description, @show_exact_matches)
+ @Suffix;

SET @SqlQuery =
'SELECT DISTINCT
pfd.premium_fee_definition_id
,pfd.premium_fee_definition_ud
,pfd.description as premium_fee_definition_description
,pftt.premium_fee_transaction_type_id
,pftt.premium_fee_transaction_type_ud
,is_vendor_required =
CASE
WHEN pftt.golden_key in (''VENDOR_ONLY'', ''CUSTOMER_AND_VENDOR'') THEN CONVERT(BIT, 1)
ELSE CONVERT(BIT, 0)
END
FROM  dbo.premium_fee_definition pfd
LEFT JOIN premium_fee_transaction_type pftt
ON pftt.premium_fee_transaction_type_id = pfd.premium_fee_transaction_type_id
';

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition;

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY pfd.premium_fee_definition_ud');

RETURN 0
GO
