USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_cob_member_commercial_health_plan_claim_CAQH_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[bind_sp_cob_member_commercial_health_plan_claim_CAQH_backup]
as
begin

--exec dbo.bind_sp_cob_member_commercial_health_plan_claim_CAQH_backup

with cte_update as (

SELECT [cob_member_commercial_health_plan_claim_id]
      ,[cob_member_commercial_health_plan_id]
      ,[claim_id]
      ,[comment]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]

  FROM [qc_core].[dbo].[cob_member_commercial_health_plan_claim]
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
  )-- select * From cte_update



 merge into import.dbo.cob_member_commercial_health_plan_claim_CAQH_bk as T
    using cte_update as S
        on T.cob_member_commercial_health_plan_claim_id = S.cob_member_commercial_health_plan_claim_id
    when not matched then
        insert ([cob_member_commercial_health_plan_claim_id]
      ,[cob_member_commercial_health_plan_id]
      ,[claim_id]
      ,[comment]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      )
      Values (
      S.[cob_member_commercial_health_plan_claim_id]
      ,S.[cob_member_commercial_health_plan_id]
      ,S.[claim_id]
      ,S.[comment]
      ,S.[active]
      ,S.[created_user_name]
      ,S.[created_group_id]
      ,S.[created_date]
      ,S.[modified_date]
      ,S.[modified_user_name]
      )

        when matched then
            update set
            t.[cob_member_commercial_health_plan_claim_id] = s.[cob_member_commercial_health_plan_claim_id],
            t.[cob_member_commercial_health_plan_id] = s.[cob_member_commercial_health_plan_id],
            t.[claim_id] = s.[claim_id],
            t.[comment] = s.[comment],
            t.[active] = s.[active],
            t.[created_user_name] = s.[created_user_name],
            t.[created_group_id] = s.[created_group_id],
            t.[created_date] = s.[created_date],
            t.[modified_date] = s.[modified_date],
            t.[modified_user_name] = s.[modified_user_name]
            ;
end
GO
