USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/25/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/25/2012	CKnobloch	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to chk before deleting - delete frmAddOnProcedureCodeSchedule.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_check_delete]
(
@id								INT = NULL --procedure_code_add_on_schedule_id
,@procedure_code_add_on_id			INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE   int,
@SP_EXCEPTION int,
@ERROR_NOT_EXIST	NVARCHAR(50),
@result int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1,
@ERROR_NOT_EXIST	= 156560011,
@result				= @SP_DELETE_ABLE

IF @procedure_code_add_on_id IS NOT NULL
BEGIN
IF NOT EXISTS
(SELECT  procedure_code_add_on_id
FROM	procedure_code_add_on
WHERE	procedure_code_add_on_id = @procedure_code_add_on_id )
BEGIN
SET @result = dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
END

RETURN @result
--
GO
