USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_credit_memo_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_accounting_credit_memo_status_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
acms.accounting_credit_memo_status_id
,acms.accounting_credit_memo_status_ud
,acms.golden_key
FROM accounting_credit_memo_status acms
ORDER BY acms.sort_order
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
