USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_internet_address_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_beneficiary_internet_address_save]
(
@beneficiary_internet_address_id                int = NULL   OUTPUT
,@beneficiary_id                                 int = NULL
,@internet_address_id                        int = NULL   OUTPUT
,@internet_address_type_id                   int = NULL
,@internet_address                           nvarchar(255) = NULL
,@primary_for_beneficiary                        bit = NULL
) AS
BEGIN

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '1588800010',
@ERROR_NOT_EXIST	= '1588800011'


IF @beneficiary_internet_address_id is Null
BEGIN
--- Create a new internet_address record
INSERT INTO internet_address(
internet_address_type_id
,internet_address
)
VALUES
(@internet_address_type_id
,@internet_address
)
SET @internet_address_id = @@IDENTITY
--- Create a new beneficiary_internet_address record
INSERT INTO beneficiary_internet_address(
beneficiary_id
,internet_address_id
,primary_for_beneficiary
)
VALUES
(@beneficiary_id
,@internet_address_id
,@primary_for_beneficiary
)
--
SET @beneficiary_internet_address_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM beneficiary_internet_address WHERE beneficiary_internet_address_id = @beneficiary_internet_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE
BEGIN
--- Updating an existing internet_address record
UPDATE internet_address
SET
internet_address_type_id            = @internet_address_type_id
,internet_address                   = @internet_address
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE internet_address_id = @internet_address_id

--- Updating an existing beneficiary_internet_address record
UPDATE beneficiary_internet_address
SET
beneficiary_id                          = @beneficiary_id
,internet_address_id                = @internet_address_id
,primary_for_beneficiary                = @primary_for_beneficiary
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE beneficiary_internet_address_id = @beneficiary_internet_address_id
END

RETURN @SP_SUCCESS
END
GO
