USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_get_accumulators]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_history_get_accumulators] (@memberId INT) AS

SET NOCOUNT ON;

DECLARE @preDetermination INT = (SELECT claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination');

--- First gather the Enrollments relative to the member, and get the constraining
--  eligibility dates for the member. The constraining dates will be used to
--  filter out claim lines outside the member's eligibility effective date span, so that
--  the individual member is not responsible for family members before or after the individual's
--  effective date span.
DECLARE @enrollmentDateContraints TABLE
(
family_eligibility_id INT,
constraining_eff_from DATE,
constraining_eff_thru DATE
);

INSERT INTO @enrollmentDateContraints
(
family_eligibility_id,
constraining_eff_from,
constraining_eff_thru
)
SELECT
fe.family_eligibility_id,
elig_INDIV.effective_from,
elig_INDIV.effective_thru
FROM
family_eligibility_member fem_INDIV
JOIN family_eligibility_member_benefit_plan elig_INDIV
ON elig_INDIV.family_eligibility_member_id = fem_INDIV.family_eligibility_member_id
JOIN family_eligibility fe
ON fe.family_eligibility_id = fem_INDIV.family_eligibility_id
WHERE
fem_INDIV.member_id = @memberId
AND ISNULL(elig_INDIV.never_under_coverage, 0) = 0
AND ISNULL(fe.never_under_coverage, 0) = 0;

-- claim lines must have DOS constrained by constraining dates determined above
DECLARE @source TABLE
(
claim_id INT,
episode_id INT,
enrollment_id INT,
member_id INT,
claim_procedure_id INT
);

INSERT INTO @source
(
claim_id,
episode_id,
enrollment_id,
member_id,
claim_procedure_id
)
SELECT DISTINCT
c.claim_id,
c.episode_id,
fem.family_eligibility_id,
fem.member_id,
cp.claim_procedure_id
FROM
claim c
JOIN claim_procedure cp
ON c.claim_id = cp.claim_id
JOIN adjudication_result_key ark
ON ark.claim_procedure_id = cp.claim_procedure_id
JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = ark.family_eligibility_member_benefit_plan_id
JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
JOIN @enrollmentDateContraints enrollmentConstraints
ON fem.family_eligibility_id = enrollmentConstraints.family_eligibility_id
WHERE
c.claim_form_type_id <> @preDetermination
AND
-- ensure that claim lines are within the constraining dates of the individual member eligibility
cp.service_from_date >= enrollmentConstraints.constraining_eff_from
AND
(enrollmentConstraints.constraining_eff_thru IS NULL
OR cp.service_thru_date <= enrollmentConstraints.constraining_eff_thru);

SELECT
aa.adjudication_accumulator_id,
cp.claim_id,
aa.claim_procedure_id,
ac.golden_key AS 'accumulator_class_golden_key',
adjs.golden_key AS 'adjudication_status_golden_key',
aa.amount,
cp.service_from_date,
cp.service_thru_date,
aa.accumulator_framework_accumulator_class_accumulator_id,
aa.accumulator_sub_limit_id,
aa.plan_level_id,
aa.benefit_plan_id,
s.enrollment_id,
ark.benefit_contract_id,
ark.family_eligibility_member_benefit_plan_id AS 'eligibility_id',
ark.benefit_contract_period_id,
s.episode_id,
e.episode_category_id,
e.episode_type_id,
s.member_id,
cp.tooth_number_letter_id,
ark.rendering_provider_id,
cp.area_of_oral_cavity_id,
cp.tooth_number_letter_id
FROM
@source s
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = s.claim_procedure_id
INNER JOIN claim c
ON cp.claim_id = c.claim_id
INNER JOIN adjudication_accumulator aa
ON aa.claim_procedure_id = cp.claim_procedure_id
INNER JOIN adjudication_result_key ark
ON ark.claim_procedure_id = aa.claim_procedure_id
AND ark.benefit_plan_id = aa.benefit_plan_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = aa.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_class ac
ON ac.accumulator_class_id = afac.accumulator_class_id
LEFT JOIN adjudication_status adjs
ON adjs.adjudication_status_id = cp.adjudication_status_id
LEFT JOIN episode e
ON c.episode_id = e.episode_id
;


SELECT
cpts.claim_procedure_id,
cpts.tooth_surface_id
FROM
@source s
INNER JOIN claim_procedure cp
ON cp.claim_id = s.claim_id
INNER JOIN claim_procedure_tooth_surface cpts
ON cpts.claim_procedure_id = cp.claim_procedure_id;
GO
