USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_periods_get_by_member_and_accumulator]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Description: Retrieves all of the period data for a member/accumluator pair.  This is used by adjudication when processing
claim lines against an accumulator.

Inputs:
@memberId - Primary key of the member.
@accumulatorId - Primay key of the accumulator_framework_accumulator_class_accumulator record.


*/

CREATE PROCEDURE [dbo].[plx_accumulator_periods_get_by_member_and_accumulator]
@memberId INT,
@accumulatorId INT
AS

SET NOCOUNT ON;

SELECT
rp.accumulator_adjudication_rollover_period_id,
rp.accumulator_framework_accumulator_class_accumulator_id,
rp.member_id,
rp.period_from,
rp.period_thru,
rp.scope_key
FROM
accumulator_adjudication_rollover_period rp
WHERE
rp.member_id = @memberId
AND rp.accumulator_framework_accumulator_class_accumulator_id = @accumulatorId;

SELECT
rpcp.accumulator_adjudication_rollover_period_claim_procedure_id,
rpcp.accumulator_adjudication_rollover_period_id,
rpcp.claim_procedure_id,
cp.claim_id,
rpcp.inclusion_date
FROM
accumulator_adjudication_rollover_period rp
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure rpcp
ON rpcp.accumulator_adjudication_rollover_period_id = rp.accumulator_adjudication_rollover_period_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = rpcp.claim_procedure_id
WHERE
rp.member_id = @memberId
AND rp.accumulator_framework_accumulator_class_accumulator_id = @accumulatorId;
GO
