USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_country_address_format_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 03/15/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2014	dcannon		1.0			initial commit
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is to delete an address format rule
--
REQUIREMENTS:
--
INPUTS:
@country_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_country_address_format_delete]
(
@country_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM country_address_format WHERE country_id= @country_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM country_address_format
WHERE country_id = @country_id
END
--
RETURN @SP_SUCCESS
--
GO
