USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_agent_type_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006 10:13AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006     tvngo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the commission_depreciation_agent_type table.
--
REQUIREMENTS:
--
INPUTS:
@commission_depreciation_agent_type_id - Key to commission_depreciation_agent_type table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_commission_depreciation_agent_type_delete]
(
@commission_depreciation_agent_type_id      int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM commission_depreciation_agent_type WHERE commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id )
BEGIN
RETURN  @SP_SUCCESS
END
--
ELSE
BEGIN
DELETE FROM commission_depreciation_rule
WHERE commission_depreciation_rule.commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id

DELETE FROM commission_depreciation_agent_type
WHERE commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
GO
