USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_unit_day_month_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: DanNguyen
Nov 10 2005  1:45PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down unit_day_month (Unit (D/M))
--
REQUIREMENTS:
--
INPUTS:
unit_day_month_id - Key to unit_day_month table, identifies a single stored dd_unit_day_month.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_unit_day_month_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
unit_day_month.unit_day_month_id
,unit_day_month.unit_day_month_ud
FROM unit_day_month
ORDER BY unit_day_month_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
