USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/03/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Capitation Definition form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_definition_save]
(
@capitation_definition_id			INT = NULL OUTPUT
,@capitation_definition_ud			nvarchar(50) = NULL
,@description						nvarchar(255) = NULL
,@apply_review_period				BIT = NULL
,@capitation_rate_id				INT = NULL
,@capitation_member_roster_id		INT = NULL
,@capitation_period_method_id		INT = NULL
,@do_not_release					BIT = NULL
,@test_day							INT = NULL
,@capitation_period_start_date		DATETIME = NULL
,@invoice_period_start_date			DATETIME = NULL
,@capitation_frequency_id			INT = NULL
,@invoicing_frequency_id			INT = NULL
,@days_of_review_period				INT = NULL
,@periods_to_look_back_for_retro	INT = NULL
,@conversion_date					DATETIME = NULL
,@is_scheduling_active				BIT = NULL
,@time_to_process					DATETIME = NULL
,@schedule_form_id					INT = NULL OUTPUT
,@active							bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--


IF @capitation_definition_id is Null or @capitation_definition_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_definition(
capitation_definition_ud
,description
,apply_review_period
,capitation_rate_id
,capitation_member_roster_id
,capitation_period_method_id
,do_not_release
,test_day
,capitation_period_start_date
,invoice_period_start_date
,capitation_frequency_id
,invoicing_frequency_id
,days_of_review_period
,periods_to_look_back_for_retro
,conversion_date
,is_scheduling_active
,time_to_process
,active
)
VALUES
(@capitation_definition_ud
,@description
,@apply_review_period
,@capitation_rate_id
,@capitation_member_roster_id
,@capitation_period_method_id
,@do_not_release
,@test_day
,@capitation_period_start_date
,@invoice_period_start_date
,@capitation_frequency_id
,@invoicing_frequency_id
,@days_of_review_period
,@periods_to_look_back_for_retro
,@conversion_date
,@is_scheduling_active
,@time_to_process
,@active
)
--
SET @capitation_definition_id = @@IDENTITY
END
--
ELSE
BEGIN
UPDATE capitation_definition
SET
capitation_definition_ud =			@capitation_definition_ud
,description =						@description
,apply_review_period =				@apply_review_period
,capitation_rate_id =				@capitation_rate_id
,capitation_member_roster_id =		@capitation_member_roster_id
,capitation_period_method_id =		@capitation_period_method_id
,do_not_release =					@do_not_release
,test_day =							@test_day
,capitation_period_start_date =		@capitation_period_start_date
,invoice_period_start_date =			@invoice_period_start_date
,capitation_frequency_id =			@capitation_frequency_id
,invoicing_frequency_id =			@invoicing_frequency_id
,days_of_review_period =				@days_of_review_period
,periods_to_look_back_for_retro =	@periods_to_look_back_for_retro
,conversion_date =					@conversion_date
,is_scheduling_active =				@is_scheduling_active
,time_to_process	=					@time_to_process
,active =							@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_definition_id = @capitation_definition_id

END

-- SCHEDULING --


DECLARE @task_type_id INT

SELECT @task_type_id = task_type_id
FROM task_type
WHERE golden_key = 'Capitation'

IF(@schedule_form_id is NULL)
BEGIN
SELECT @schedule_form_id = schedule_form_id
FROM schedule_form
WHERE task_type_id = @task_type_id and object_record_id = @capitation_definition_id
END

-- SCHEDULER
IF(isnull(@is_scheduling_active,0) = 0)
BEGIN
UPDATE capitation_definition
SET
schedule_form_id = NULL
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_definition_id = @capitation_definition_id

DELETE FROM schedule_form WHERE schedule_form_id = @schedule_form_id
END
ELSE
BEGIN
DECLARE
@occurs_id INT,
@occurs_frequency_number INT,
@duration_start_date DATETIME,
@duration_end_date DATETIME,
@end_date BIT,
@day_of_month BIT,
@day_month_frequency INT

SELECT @duration_end_date = NULL

IF @duration_end_date IS NULL
SELECT @end_date = 0
ELSE
SELECT @end_date = 1

IF EXISTS(select frequency_id from frequency where golden_key = 'Weekly' and frequency_id = @invoicing_frequency_id)
BEGIN
SELECT @occurs_id = occurs_id FROM occurs WHERE golden_key = 'Daily'
SELECT @day_of_month = 0

SELECT @occurs_frequency_number = 7

SELECT
@duration_start_date = @invoice_period_start_date
END
ELSE
BEGIN
--Setup for monthly type billing
SELECT @occurs_id = occurs_id FROM occurs WHERE golden_key = 'Monthly'
SELECT @day_of_month = 1

SELECT
@day_month_frequency = day(@invoice_period_start_date),
@duration_start_date = @invoice_period_start_date

--Setup for monthly specific type billing
IF EXISTS(select frequency_id from frequency where golden_key = 'Monthly' and frequency_id = @invoicing_frequency_id)
BEGIN
SELECT @occurs_frequency_number = 1
END

--Setup for quarterly specific type billing
ELSE IF EXISTS(select frequency_id from frequency where golden_key = 'Quarterly' and frequency_id = @invoicing_frequency_id)
BEGIN
SELECT @occurs_frequency_number = 3
END

--Setup for annually specific type billing
ELSE IF EXISTS(select frequency_id from frequency where golden_key = 'Annually' and frequency_id = @invoicing_frequency_id)
BEGIN
SELECT @occurs_frequency_number = 12
END
END

IF (ISNULL(@schedule_form_id, 0) = 0)
BEGIN -- Insert Schedule
INSERT INTO schedule_form(
task_type_id
,object_record_id
,occurs_id
,occurs_at
,occur_time
,occurs_every
,occurs_frequency_number
,occurs_frequency_id
,occurs_every_frequency
,starting_at
,ending_at
,monday
,tuesday
,wednesday
,thursday
,friday
,saturday
,sunday
,duration_start_date
,duration_end_date
,end_date
,day_of_month
,day_month_frequency
,the_month
,occurs_monthly_id
,day_of_week_id
,number_of_months
,active
)
VALUES
(@task_type_id,
@capitation_definition_id,
@occurs_id,
1, --occurs_at,
@time_to_process, --occur_time,
0, --occurs_every,
@occurs_frequency_number,
NULL, --occurs_frequency_id,
NULL, --occurs_every_frequency,
NULL, --starting_at,
NULL, --ending_at,
0, --monday,
0, --tuesday,
0, --wednesday,
0, --thursday,
0, --friday,
0, --saturday,
0, --sunday,
@duration_start_date,
@duration_end_date,
@end_date,
@day_of_month,
@day_month_frequency,
0, --the_month,
NULL, --occurs_monthly_id,
NULL, --day_of_week_id,
NULL --number_of_months
,@active
)

SET @schedule_form_id = @@IDENTITY
END
ELSE
BEGIN -- Update Schedule
UPDATE schedule_form
SET
occurs_id					= @occurs_id
,occurs_at					= 1
,occur_time					= @time_to_process
,occurs_every				= 0
,occurs_frequency_number	= @occurs_frequency_number
,starting_at                = NULL
,ending_at                  = NULL
,monday                     = 0
,tuesday                    = 0
,wednesday                  = 0
,thursday                   = 0
,friday                     = 0
,saturday                   = 0
,sunday                     = 0
,duration_start_date        = @duration_start_date
,duration_end_date          = @duration_end_date
,end_date                   = @end_date
,day_of_month               = @day_of_month
,day_month_frequency        = @day_month_frequency
,the_month                  = 0
,occurs_monthly_id          = NULL
,day_of_week_id				= NULL
,number_of_months			= NULL
,active						= @active
,task_type_id				= @task_type_id
,object_record_id			= @capitation_definition_id
,occurs_frequency_id		= NULL
,occurs_every_frequency		= NULL
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE schedule_form_id = @schedule_form_id
END

UPDATE capitation_definition
SET
schedule_form_id = @schedule_form_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_definition_id = @capitation_definition_id

END


--
RETURN @SP_SUCCESS
--
GO
