USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_locale_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BIND_locale_save]
(
@locale_id                                  int = NULL   OUTPUT
,@postal_code                                nvarchar(255) = NULL
,@city                                       nvarchar(255) = NULL
,@county                                     nvarchar(255) = NULL
,@locale_source_id                           int = NULL
,@statecode                                  nvarchar(50) = NULL
,@state                                      nvarchar(255) = NULL
,@state_id                                   int = NULL
,@country_id                                 int = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @locale_id is Null
BEGIN

--- Create a new locale record
INSERT INTO locale(
postal_code
,city
,county
,locale_source_id
,statecode
,state
,state_id
,country_id
,active
)
VALUES(
@postal_code
,@city
,@county
,@locale_source_id
,@statecode
,@state
,@state_id
,@country_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @locale_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM locale WHERE locale_id = @locale_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing locale record
UPDATE locale
SET
postal_code                              = @postal_code
,city                                     = @city
,county                                   = @county
,locale_source_id                         = @locale_source_id
,statecode                                = @statecode
,state                                    = @state
,state_id                                 = @state_id
,country_id                               = @country_id
,active                                   = @active
,modified_user_name                       = ORIGINAL_LOGIN()
,modified_date                            = GETDATE()

WHERE locale_id = @locale_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--

GO
