USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------

--
DESCRIPTION:
This procedure is used to save data for grid "Coverage Incentive Qualified Procedure List"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_save]
(
@family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id		int = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id											    int = NULL
,@procedure_code_id                            											int = NULL
,@units	                        														int = NULL
,@date_of_service                         												datetime = NULL
,@active                                 												bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1
--
IF @family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id IS NULL
BEGIN
INSERT INTO family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure (
family_eligibility_member_benefit_plan_id
,procedure_code_id
,units
,date_of_service
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@procedure_code_id
,@units
,@date_of_service
,@active
)
SET @family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id = @@IDENTITY
END
ELSE
BEGIN
--- Updating an existing record
UPDATE family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure
SET
family_eligibility_member_benefit_plan_id	= @family_eligibility_member_benefit_plan_id
,procedure_code_id							= @procedure_code_id
,units										= @units
,date_of_service							= @date_of_service
,active									= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id =
@family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id
END

RETURN @SP_SUCCESS
GO
