USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dollar_limit_assignment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version				Description
--------------------------------------------------------------------------------
07/13/2012			dcannon				1.0					Created
07/31/2012			dcannon				1.1			updated column name to type_of_bill_set_id
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Loads for Dollar Limits Assignments grid
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dollar_limit_assignment_load]

AS
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
SELECT
dla.dollar_limit_assignment_id
,dla.client_id
,(select distinct client_ud from client_name where client_id = dla.client_id and primary_name = 1) as client_ud
,dla.client_group_id
,(select distinct client_group_ud from client_group_name where client_group_id = dla.client_group_id and primary_name = 1) as client_group_ud
,dla.line_of_business_id
,lob.line_of_business_ud
,dla.claim_form_type_id
,cft.claim_form_type_ud
,dla.claim_type_id
,dla.type_of_bill_set_id
,tob.type_of_bill_set_ud
,dla.procedure_code_group_id
,pcg.procedure_code_group_ud
,dla.result_code_set_id
,rcs.result_code_set_ud
,dla.scope_of_limit_id
,sol.scope_of_limit_ud
,dla.operator_id
,co.criteria_operator_ud
,dla.dollar_limit
,dla.result_code_id
,rc.result_code_ud as result_code_ud
,dla.effective_from
,dla.effective_thru
FROM dollar_limit_assignment dla
LEFT JOIN line_of_business lob ON dla.line_of_business_id = lob.line_of_business_id
LEFT JOIN claim_form_type cft ON dla.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN type_of_bill_set tob on dla.type_of_bill_set_id = tob.type_of_bill_set_id
LEFT JOIN procedure_code_group pcg on dla.procedure_code_group_id = pcg.procedure_code_group_id
LEFT JOIN result_code_set rcs ON dla.result_code_set_id = rcs.result_code_set_id
LEFT JOIN result_code rc ON dla.result_code_id = rc.result_code_id
LEFT JOIN scope_of_limit sol ON dla.scope_of_limit_id = sol.scope_of_limit_id
LEFT JOIN criteria_operator co ON dla.operator_id = co.criteria_operator_id
ORDER BY
CASE WHEN dla.effective_from IS NULL THEN 0 ELSE 1 END , dla.effective_from DESC
,CASE WHEN dla.effective_thru IS NULL THEN 0 ELSE 1 END , dla.effective_thru DESC

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
ELSE RETURN @SP_SUCCESS
GO
