USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_add_provider_network]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE   procedure [dbo].[bind_add_provider_network]
	@repricer_network nvarchar(50) = ''
	,@provider_network_ud nvarchar(50) = null
	,@provider_network_name nvarchar(50) = ''
	
as 

declare @UpUser nvarchar(50) = system_user
declare @upDate datetime = getdate()
declare @new_network_id int
declare @networkRank int




if (@provider_network_ud is null)
begin 

	set @provider_network_ud = @repricer_network

end

if not exists(select * from provider_network where provider_network_ud = @provider_network_ud)
begin
	insert into provider_network(provider_network_ud, provider_network_nm, created_user_name, created_date, modified_date, modified_user_name)
	values(@provider_network_ud, @provider_network_name, @UpUser, @upDate, @upDate, @UpUser)
	
	set @new_network_id = SCOPE_IDENTITY();
end
else
begin
	print 'Provider Network already exists'
	select @new_network_id = provider_network_id  from provider_network where provider_network_ud = @provider_network_ud

end

if not exists (select 1 from bind_network_rank where provider_network_id = @new_network_id)
begin 
	set @networkRank = (select max(network_rank) + 1 from bind_network_rank)
	INSERT INTO [dbo].[bind_network_rank]
	           ([provider_network_id]
	           ,[provider_network_ud]
	           ,[network_rank]
	           ,[created_date]
	           ,[created_by]
	           ,[modified_date]
	           ,[modified_by])
	     VALUES (
				@new_network_id
				, @provider_network_ud
				, @networkRank
				, @upDate
				, @UpUser
				, @upDate
				, @UpUser
			   )
end


if not exists(select 1 from bind_network_map where provider_network_id = @new_network_id and repriced_network = @repricer_network)
begin
	
	INSERT INTO [dbo].[bind_network_map]
	           ([repriced_network]
	           ,[provider_network_id]
	           ,[provider_network_nm]
	           ,[created_date]
	           ,[created_by]
	           ,[modified_date]
	           ,[modified_by])
	     VALUES
	           (@repricer_network
	           ,@new_network_id
	           ,@provider_network_name
	           ,@upDate
	           ,@UpUser
	           ,@upDate
	           ,@UpUser)

end

exec bind_update_provider_network_rank_all



GO
