USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_duplicate]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 04/11/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
DATE: 04/11/2011	Chad Maddox		1.0			Created and used for creating duplicate coverage incentive records only
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure used for creating duplicate Coverage Incentive Records only.
Creates a duplicate of the record indicated by @coverage_incentive_id giving the duplicate record
with UD
--
REQUIREMENTS:
--
INPUTS:
@ID,
@UD,
@created_user_name
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_coverage_incentive_duplicate]

(
@ID	INT -- current coverage_incentive_id
,@UD	NVARCHAR(50) = NULL
,@description NVARCHAR(255) = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@new_coverage_incentive_id INT,
@ERROR 	NVARCHAR(50)

--- Create coverage_incentive record
INSERT INTO coverage_incentive(
coverage_incentive_ud,
description,
minimum_months_plan_effective,
minimum_months_continuous_eligibility
,active
)
SELECT
@UD
,@description
,minimum_months_plan_effective
,minimum_months_continuous_eligibility
,active
FROM coverage_incentive
WHERE	coverage_incentive.coverage_incentive_id = @ID

SET @new_coverage_incentive_id = SCOPE_IDENTITY()

INSERT INTO coverage_incentive_required_procedure(
coverage_incentive_id
,procedure_code_id
,procedure_code_group_id
,min_number
,calendar_year
,through
,active
)
SELECT
@new_coverage_incentive_id
,procedure_code_id
,procedure_code_group_id
,min_number
,calendar_year
,through
,active
FROM
coverage_incentive_required_procedure
WHERE coverage_incentive_id = @ID


INSERT INTO coverage_incentive_max_net_pay(
coverage_incentive_id
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,max_amount
,calendar_year
,through
,active
)
SELECT
@new_coverage_incentive_id
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,max_amount
,calendar_year
,through
,active
FROM
coverage_incentive_max_net_pay
WHERE coverage_incentive_id = @ID

INSERT INTO coverage_incentive_max_balance(
coverage_incentive_id
,amount
,calendar_year
,through
,active
)
SELECT
@new_coverage_incentive_id
,amount
,calendar_year
,through
,active
FROM
coverage_incentive_max_balance
WHERE coverage_incentive_id = @ID

INSERT INTO coverage_incentive_benefit(
coverage_incentive_id
,amount
,calendar_year
,through
,active
)
SELECT
@new_coverage_incentive_id
,amount
,calendar_year
,through
,active
FROM
coverage_incentive_benefit
WHERE coverage_incentive_id = @ID

RETURN isnull(@new_coverage_incentive_id, 0)
GO
