USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_task_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/03/2006	tinh do			1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'current_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_task_type_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
task_type_id
,task_type_ud
,golden_key
FROM task_type
ORDER BY task_type_ud

RETURN @SP_SUCCESS
END
GO
