USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kquoc
DATE: 09/13/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/17	Thuy Ha				Return the stored beforehand
2006/02/18	Thuy Ha				Add checking delete constraints on accumulator resolved at other objects
2006/02/21	Thuy Ha				Comment previous check rules,
add check rule when Accumulator Choice List is resolved at a Benefit Contract
2006/03/03	Thuy Ha				Change checked rules
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in pre_existing_condition_rule_set table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@pre_existing_condition_rule_set_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_accumulator_check_delete]
(
@accumulator_framework_accumulator_class_accumulator_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1

IF NOT EXISTS (	SELECT 	accumulator_framework_accumulator_class_accumulator_id
FROM 	accumulator_framework_accumulator_class_accumulator
WHERE 	accumulator_framework_accumulator_class_accumulator_id =
@accumulator_framework_accumulator_class_accumulator_id )
BEGIN
RETURN @SP_EXCEPTION
END

-- Cannot DELETE if accumulator limit rule is resolved at a Benefit Plan
IF EXISTS (SELECT 1 FROM benefit_plan_accumulator_class_choice_resolution bpaccr
INNER JOIN accumulator_valid_choice avc ON avc.accumulator_valid_choice_id = bpaccr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = bpaccr.family_accumulator_valid_choice_id
INNER JOIN accumulator_choice_list acl ON acl.accumulator_choice_list_id = avc.accumulator_choice_list_id
INNER JOIN accumulator_framework_accumulator_class afac ON afac.accumulator_framework_accumulator_class_id = acl.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afaca.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator limit rule is resolved at Eligibility
IF EXISTS (SELECT 1 FROM family_eligibility_accumulator_choice_list_resolution feaclr
INNER JOIN accumulator_valid_choice avc ON avc.accumulator_valid_choice_id = feaclr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = feaclr.family_accumulator_valid_choice_id
INNER JOIN accumulator_choice_list acl ON acl.accumulator_choice_list_id = avc.accumulator_choice_list_id
INNER JOIN accumulator_framework_accumulator_class afac ON afac.accumulator_framework_accumulator_class_id = acl.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afaca.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator limit rule is resolved at an Episode
IF EXISTS (SELECT 1 FROM episode_accumulator_choice_list_resolution eaclr
INNER JOIN accumulator_valid_choice avc ON avc.accumulator_valid_choice_id = eaclr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = eaclr.family_accumulator_valid_choice_id
INNER JOIN accumulator_choice_list acl ON acl.accumulator_choice_list_id = avc.accumulator_choice_list_id
INNER JOIN accumulator_framework_accumulator_class afac ON afac.accumulator_framework_accumulator_class_id = acl.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afaca.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id)
RETURN @SP_DELETE_UNABLE

RETURN @SP_DELETE_ABLE
END
GO
