USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seed_amount_member_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/14/2006	tinhdo			1.0			create
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Get member info to display in Accumulator Seed Amount form.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_seed_amount_member_info_load]
@family_eligibility_member_benefit_plan_id int = null
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fa.member_eligibility_ud
,fa.family_eligibility_member_benefit_plan_id
,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle,NULL) as member_name
,client_group_name.client_group_id
,client_group_name.client_group_ud
,benefit_contract.benefit_contract_id
,benefit_contract.benefit_contract_ud
,bp.benefit_plan_id
,bp.benefit_plan_ud
,bca.benefit_category_ud
,bsc.benefit_sub_category_ud
,benefit_plan_type.benefit_plan_type_ud

FROM family_eligibility_member_benefit_plan fa
INNER JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_member_id = fa.family_eligibility_member_id
inner join member_name on member_name.member_id = family_eligibility_member.member_id  and member_name.is_primary = 1
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON fa.benefit_plan_id = bcpbp.benefit_plan_id
LEFT JOIN benefit_plan_type ON benefit_plan_type.benefit_plan_type_id = bcpbp.benefit_plan_type_id
INNER JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_contract ON benefit_contract.benefit_contract_id  = benefit_contract_period.benefit_contract_id
LEFT JOIN client_group_name ON client_group_name.client_group_id = benefit_contract.client_group_id AND primary_name  = 1
INNER JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)
INNER JOIN benefit_framework bf ON (bf.benefit_framework_id = bp.benefit_framework_id)
INNER JOIN benefit_category bca ON (bca.benefit_category_id = bf.benefit_category_id)
left JOIN benefit_sub_category bsc ON (bsc.benefit_sub_category_id = bf.benefit_sub_category_id)
WHERE (bcpbp.parent_benefit_contract_period_benefit_plan_id IS NULL)
and fa.family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id


RETURN @SP_SUCCESS
--
END
GO
