USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_member_auto_generated_id_rule_get_system_configuration]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2009-10-30 	David Slayton	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to get the currently set rule in System Configuration for
Auto Create Member ID Rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_create_member_auto_generated_id_rule_get_system_configuration]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT acmagidr.golden_key
FROM global_rule gr
LEFT JOIN auto_create_member_auto_generated_id_rule acmagidr
ON gr.auto_create_member_auto_generated_id_rule_id = acmagidr.auto_create_member_auto_generated_id_rule_id
--
RETURN @SP_SUCCESS
GO
