USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_capitation_manual_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/10/2008	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations
02/28/2018	amortensen		1.2		RT:8562 Added wildcard encoding of ud field
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find capitation runs that match criteria.
--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_find_capitation_manual_run_load]
(
@capitation_manual_run_ud nvarchar(50) = NULL
,@capitation_manual_run_status_id INT = NULL
,@run_date DATETIME = NULL
,@benefit_plan_id INT= NULL
,@benefit_contract_id INT= NULL
,@client_group_id INT = NULL
,@client_id INT = NULL
,@benefit_category_id INT = NULL
,@effective_from DATETIME = NULL
,@effective_thru DATETIME = NULL
,@provider_identifier_id INT = NULL
, @show_exact_matches			BIT = 0
)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

SET @capitation_manual_run_ud = dbo.plx_EncodeStringWildCard(@capitation_manual_run_ud, @show_exact_matches)

SELECT DISTINCT  TOP (dbo.fn_results_limit())
cr.capitation_manual_run_id
,cr.capitation_manual_run_ud
,crs.capitation_manual_run_status_ud
,cr.run_date
,cr.end_of_review
,cr.do_not_release
FROM  dbo.capitation_manual_run cr
LEFT JOIN capitation_manual_run_detail crd ON
cr.capitation_manual_run_id = crd.capitation_manual_run_id
LEFT JOIN capitation_manual_run_status crs ON
cr.capitation_manual_run_status_id = crs.capitation_manual_run_status_id
LEFT JOIN
benefit_contract bc ON
cr.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN
client_group cg ON
cr.client_group_id = cg.client_group_id
LEFT JOIN
client c ON
cr.client_id = c.client_id
LEFT JOIN
benefit_plan bp ON
cr.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN
benefit_category bcat ON
cr.benefit_category_id = bcat.benefit_category_id
WHERE
(
ISNULL(@benefit_category_id, '') = ''
OR
(
bcat.benefit_category_id = @benefit_category_id

)
)
AND
(
ISNULL(@benefit_contract_id, '') = ''
OR
(
bc.benefit_contract_id = @benefit_contract_id
)
)
AND
(
ISNULL(@benefit_plan_id, '') = ''
OR
(
bp.benefit_plan_id = @benefit_plan_id
)
)
AND
(
ISNULL(@client_id, '') = ''
OR
(
c.client_id = @client_id
)
)
AND
(
ISNULL(@client_group_id, '') = ''
OR
(
cg.client_group_id = @client_group_id
)
)
AND
(
ISNULL(@run_date, '') = ''
OR
(
cr.run_date >= @run_date
)
)
AND
(
ISNULL(@effective_from, '') = ''
OR
(
ISNULL(crd.effective_from, '1/1/1753') = @effective_from
)
)
AND
(
ISNULL(@effective_thru, '') = ''
OR
(
ISNULL(crd.effective_thru, '9/9/9999') = @effective_thru
)
)
AND
(
ISNULL(@capitation_manual_run_status_id, '') = ''
OR
(
cr.capitation_manual_run_status_id = @capitation_manual_run_status_id
)
)
AND
(
ISNULL(@provider_identifier_id, '') = ''
OR
(
crd.provider_identifier_id = @provider_identifier_id
)
)
AND
(
ISNULL(@capitation_manual_run_ud, '') = ''
OR
(
(@show_exact_matches = 1 AND cr.capitation_manual_run_ud = @capitation_manual_run_ud)
OR
(@show_exact_matches = 0 AND cr.capitation_manual_run_ud LIKE @capitation_manual_run_ud + '%')
)
)
ORDER BY cr.capitation_manual_run_ud

RETURN @SP_SUCCESS
GO
