USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_employer_group_tin_reference_taboff]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_employer_group_tin_reference_taboff]
(
@employer_group_tin_ud                    NVARCHAR(50) = NULL
)
AS
SELECT  TOP (dbo.fn_results_limit())
tr.tin_reference_id as employer_group_tin_id,
tr.tax_identification_number as employer_group_tin_tax_id_number
FROM tin_reference tr
LEFT JOIN cms_tin_id_type ctt
ON tr.cms_tin_id_type_id = ctt.cms_tin_id_type_id
WHERE
tr.tax_identification_number = @employer_group_tin_ud
AND
ctt.golden_key IN ('EMPLOYER_E','SPONSOR_S','FEDERAL_F','FOREIGN_Z')

RETURN 0
GO
