USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_class_choice_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: htruong
DATE: 08/31/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2006	htruong		1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get all choice list of accumulator framework. Used in accumulator framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_class_choice_list_load]
(
@accumulator_framework_id int  = null
)
AS
--
--
SET NOCOUNT ON
--


DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_choice_list.accumulator_choice_list_id
,accumulator_choice_list.accumulator_choice_list_ud
,accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id as accumulator_framework_accumulator_class --use alias to avoid conflict in engine
FROM 		accumulator_choice_list
left join accumulator_framework_accumulator_class  ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id
left join accumulator_class  ON accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id

WHERE 	 accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = @accumulator_framework_id
ORDER BY accumulator_choice_list_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
