USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_in_use_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By		Version	Description
--------------------------------------------------------------------------------------------------
08/15/2006	HuyThan			1.0		Created
12/16/2006	HuyThan			2.0		Changed benefit_plan.carrier => benefit_plan_carrier.carrier
09/09/2009	David Slayton	2.1		Removed commissions link to client_group.
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to load data for agent in-used grid on agent form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_agent_in_use_list_load]
(
@agent_id							int
,@carrier_id 						int = NULL
,@assignment_benefit_plan_id		int = NULL
,@assignment_client_group_id  		int = NULL
,@assignment_family_eligibility_id	int = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString1 NVARCHAR(4000),
@sqlString2 NVARCHAR(4000),
@sqlCondition1 NVARCHAR(4000),
@sqlCondition2	 NVARCHAR(4000)

SET @sqlCondition1 = ''
SET @sqlCondition2 = ''

SET @agent_id = isnull(@agent_id, 0)

IF( @carrier_id IS NOT NULL and @carrier_id > 0)
BEGIN
SET @sqlCondition1 = @sqlCondition1 + ' AND carrier.carrier_id = ' +  CONVERT (varchar(10), @carrier_id)
SET @sqlCondition2 = @sqlCondition2 + ' AND carrier.carrier_id = ' +  CONVERT (varchar(10), @carrier_id)
END

IF( @assignment_benefit_plan_id IS NOT NULL and @assignment_benefit_plan_id > 0)
BEGIN
SET @sqlCondition1 = @sqlCondition1 + ' AND benefit_plan.benefit_plan_id = ' +  CONVERT (varchar(10), @assignment_benefit_plan_id)
SET @sqlCondition2 = @sqlCondition2 + ' AND benefit_plan.benefit_plan_id = ' +  CONVERT (varchar(10), @assignment_benefit_plan_id)
END

IF( @assignment_client_group_id IS NOT NULL and @assignment_client_group_id > 0)
BEGIN
SET @sqlCondition1 = @sqlCondition1 + ' AND client_group_name.client_group_id = ' +  CONVERT (varchar(10), @assignment_client_group_id)
SET @sqlCondition2 = @sqlCondition2 + ' AND 1 = 0 '
END

IF( @assignment_family_eligibility_id IS NOT NULL and @assignment_family_eligibility_id > 0)
BEGIN
SET @sqlCondition2 = @sqlCondition2 + ' AND family_eligibility.family_eligibility_id = ' +  CONVERT (varchar(10), @assignment_family_eligibility_id)
SET @sqlCondition1 = @sqlCondition1 + ' AND 1 = 0 '
END
-------------------------------------------------------------------------------------
SET @sqlString1 = '
SELECT DISTINCT
carrier.carrier_id
,carrier.carrier_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,client_group.client_group_id
,client_group_name.client_group_ud
,cast(null as int) as family_eligibility_id
,cast(null as nvarchar(50)) as family_eligibility_ud
FROM  client_group
INNER JOIN dbo.client_group_name ON	client_group.client_group_id = client_group_name.client_group_id
AND	client_group_name.primary_name = 1
INNER JOIN (SELECT 0 as agent_type_id, 0 as client_group_id
) as union_commission ON  union_commission.client_group_id = client_group.client_group_id
LEFT JOIN agent_type ON agent_type.agent_type_id = union_commission.agent_type_id
LEFT JOIN benefit_contract ON benefit_contract.client_group_id = client_group.client_group_id
AND benefit_contract_template = 0
LEFT JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_contract_period_id = benefit_contract_period.benefit_contract_period_id
LEFT JOIN benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN carrier ON carrier.carrier_id ='+ CONVERT (varchar(10), ISNULL(@carrier_id,0))
-------------------------------------------------------------------------------------
SET @sqlString2 = '
SELECT DISTINCT
carrier.carrier_id
,carrier.carrier_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,cast(null as int) as client_group_id
,cast(null as nvarchar(50)) as client_group_ud
,family_eligibility.family_eligibility_id
,family_eligibility.family_eligibility_ud
FROM  family_eligibility

INNER JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
INNER JOIN family_eligibility_member_benefit_plan ON family_eligibility_member_benefit_plan.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
INNER JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
LEFT JOIN benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN carrier ON carrier.carrier_id ='+ CONVERT (varchar(10), ISNULL(@carrier_id,0))
-------------------------------------------------------------------------------------
-- Result conditional string
--print @sqlString1  + ' WHERE 1=1 ' + @sqlCondition1
--print @sqlString2  + ' WHERE 1=1 ' + @sqlCondition2
--EXEC (' SELECT * FROM (' +  @sqlString1  + ' WHERE 1=1 ' + @sqlCondition1 + ' UNION ' + @sqlString2 + ' WHERE 1=1 ' + @sqlCondition2 + ')   ' )
EXEC (  @sqlString1  + ' WHERE 1=1 ' + @sqlCondition1 + ' UNION ' + @sqlString2 + ' WHERE 1=1 ' + @sqlCondition2   )
END
GO
