USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_asc_facility_wage_index_save]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for grid grdACSFacilityLocationCodeInformation on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_practice_office_asc_facility_wage_index_save]
(
@practice_office_asc_facility_wage_index_id       int = NULL  OUTPUT
,@practice_office_id                         int = NULL
,@asc_facility_wage_index_id                 int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
IF @practice_office_asc_facility_wage_index_id is Null
BEGIN
--- Create a new record
INSERT INTO practice_office_asc_facility_wage_index(
practice_office_id
,asc_facility_wage_index_id
--,use_asc_facility_wage_index_for_rural_areas
,effective_from
,effective_thru
,active
)
VALUES
(@practice_office_id
,@asc_facility_wage_index_id
--,@use_asc_facility_wage_index_for_rural_areas
,@effective_from
,@effective_thru
,@active
)
--
SET @practice_office_asc_facility_wage_index_id = @@IDENTITY
END
--
ELSE
BEGIN
--- Updating an existing record
--
UPDATE practice_office_asc_facility_wage_index
SET
practice_office_id                       = @practice_office_id
,asc_facility_wage_index_id               = @asc_facility_wage_index_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE practice_office_asc_facility_wage_index_id = @practice_office_asc_facility_wage_index_id
END
--
RETURN @SP_SUCCESS
--
GO
