USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_additional_plan_options_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Delete a record from the grid on Additional Plan Options Form, which is launched
from the Benefit Contract Form

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_contract_additional_plan_options_delete]
(
@benefit_contract_additional_plan_options_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_contract_additional_plan_options WHERE benefit_contract_additional_plan_options_id = @benefit_contract_additional_plan_options_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_contract_additional_plan_options
WHERE benefit_contract_additional_plan_options_id = @benefit_contract_additional_plan_options_id
END
--
RETURN @SP_SUCCESS
--
GO
