USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payroll_frequency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 12/27/2012

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of frequencies allowed for payroll, used in premium Billing forms:
Disability Volume
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_payroll_frequency_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
frequency_id as payroll_frequency_id
,frequency_ud as payroll_frequency_ud
,golden_key
FROM frequency
WHERE golden_key in
('WEEKLY',
'BIWEEKLY',
'MONTHLY',
'BIMONTHLY',
'SEMIMONTHLY',
'SEMIANNUALLY',
'ANNUALLY')
ORDER BY sort_order DESC
--
RETURN @SP_SUCCESS
--
GO
