USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_address_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Date: 10/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Using contact and contact_address tables to load data
09/03/2014		dcannon		1.2		RT:7004 added delivery_route and removed concatenated locale


CURRENT_VERSION: 1.2
--
DESCRIPTION: Load contact address

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
RETURN
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_address_load]
(
@contact_id INT = NULL
)AS
BEGIN
DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

SET NOCOUNT ON

SELECT contact_address.contact_address_id
,contact_address.contact_id
,CONVERT(BIT, ISNULL(contact_address.primary_for_contact, 0)) AS primary_for_contact
,contact_address.contact_address_type_id
,contact_address_type.contact_address_type_ud
,contact_address.address_id
,address.address_1
,address.address_2
,address.address_3
,locale.locale_id
,locale.postal_code
,address.delivery_route
,locale.county
,country.country_id
,country.country_ud
,state.state_id
,state.state_ud
,locale.city
,CONVERT(BIT, ISNULL(contact_address.mail_ok, 0)) AS mail_ok
,contact_address.effective_from
,contact_address.effective_thru
FROM contact_address
LEFT JOIN contact_address_type
ON contact_address_type.contact_address_type_id = contact_address.contact_address_type_id
LEFT JOIN address
ON address.address_id = contact_address.address_id
LEFT JOIN locale
ON address.locale_id = locale.locale_id
LEFT JOIN state
ON locale.state_id = state.state_id
LEFT JOIN country
ON locale.country_id = country.country_id
WHERE contact_address.contact_id = @contact_id
-- The grid is sorted on the Primary column first (Primary at top), Type column second
ORDER BY primary_for_contact DESC
,contact_address_type.contact_address_type_ud

RETURN @SP_SUCCESS
END
GO
