USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_document_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: MAbdul / CFacey
Date: 07/28/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete Correspondence Document
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_document_delete]
(
@report_setup_id                            INT = NULL
,@cascade                                    BIT = 0
) AS


BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS											INT,
@SP_EXCEPTION										INT,
@ERROR_NOT_EXIST									NVARCHAR(50),
@ERROR_CANT_DELETE								NVARCHAR(50),
@ERROR_RECORD_LOCKED								NVARCHAR(50),
@report_setup_correspondence_setting_id	INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST   = '159840014',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012'
--
IF NOT EXISTS (SELECT * FROM report_setup WHERE report_setup_id = @report_setup_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN TRY

SELECT @report_setup_correspondence_setting_id = rs.report_setup_correspondence_setting_id
FROM report_setup rs
WHERE rs.report_setup_id = @report_setup_id

DELETE FROM report_setup
WHERE report_setup_id = @report_setup_id


IF @report_setup_correspondence_setting_id IS NOT NULL
BEGIN

DELETE FROM report_setup_correspondence_setting
WHERE report_setup_correspondence_setting_id = @report_setup_correspondence_setting_id
END


DECLARE @ErrorVar INT,	@RowCountVar INT
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

RETURN @SP_SUCCESS
END TRY

BEGIN CATCH
RETURN @SP_EXCEPTION
END CATCH

END -- end
GO
