USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_carrier_marketing_arm_limit_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for marketing arm limit grid on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_agent_carrier_marketing_arm_limit_list_save]
(
@agent_carrier_marketing_arm_limit_id       int = NULL   OUTPUT
,@agent_id                                   int = NULL
,@carrier_id                                 int = NULL
,@marketing_arm_id                           int = NULL
,@maximum_debt_limit                         numeric(20,10) = NULL
,@maxlimit_effective_from                    datetime = NULL
,@maxlimit_effective_thru                     datetime = NULL
,@active                                     bit = 1
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_carrier_marketing_arm_limit_id is Null
BEGIN

--- Create a new agent_carrier_marketing_arm_limit record
INSERT INTO agent_carrier_marketing_arm_limit(
agent_id
,carrier_id
,marketing_arm_id
,maximum_debt_limit
,effective_from
,effective_thru
,active
)
VALUES
(@agent_id
,@carrier_id
,@marketing_arm_id
,@maximum_debt_limit
,@maxlimit_effective_from
,@maxlimit_effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_carrier_marketing_arm_limit_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_carrier_marketing_arm_limit WHERE agent_carrier_marketing_arm_limit_id = @agent_carrier_marketing_arm_limit_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_carrier_marketing_arm_limit record
UPDATE agent_carrier_marketing_arm_limit
SET
agent_id                                 = @agent_id
,carrier_id                               = @carrier_id
,marketing_arm_id                         = @marketing_arm_id
,maximum_debt_limit                       = @maximum_debt_limit
,effective_from                           = @maxlimit_effective_from
,effective_thru                           = @maxlimit_effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_carrier_marketing_arm_limit_id = @agent_carrier_marketing_arm_limit_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
