USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_customer_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Aug  2 2006  3:51PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	Hiep Nguyen	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for brokerage customer grid on brokerage form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_brokerage_customer_save]
(
@agent_customer_id                          int = NULL   OUTPUT
,@brokerage_id                                   int = NULL
,@customer_id                                int = NULL
,@state_id                                   int = NULL
,@carrier_id                                 int = NULL
,@benefit_contract_id                        int = NULL
,@criteria_id                                int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_customer_id is Null
BEGIN

--- Create a new agent_customer record
INSERT INTO agent_customer(
agent_id
,customer_id
,state_id
,carrier_id
,benefit_contract_id
,criteria_id
,effective_from
,effective_thru
,active
)
VALUES
(@brokerage_id
,@customer_id
,@state_id
,@carrier_id
,@benefit_contract_id
,@criteria_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_customer_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_customer WHERE agent_customer_id = @agent_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_customer record
UPDATE agent_customer
SET
agent_id                                 = @brokerage_id
,customer_id                              = @customer_id
,state_id                                 = @state_id
,carrier_id                               = @carrier_id
,benefit_contract_id                      = @benefit_contract_id
,criteria_id                              = @criteria_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_customer_id = @agent_customer_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
