USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_first_coverage_distribution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Apr  3 2006  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/03/2006	tqdo		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "User Assigned Result Codes"
in Authorization form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_accumulator_first_coverage_distribution_delete]

(
@accumulator_first_coverage_distribution_id           int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159020040',
@ERROR_CANT_DELETE = '159020039'
--
IF NOT EXISTS (SELECT * FROM accumulator_first_coverage_distribution WHERE accumulator_first_coverage_distribution_id = @accumulator_first_coverage_distribution_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM accumulator_first_coverage_distribution
WHERE accumulator_first_coverage_distribution_id = @accumulator_first_coverage_distribution_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
