USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_user_assigned_result_code_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
DATE: 01/09/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/09/2006	tinhdo		1.0		Created
11/14/2006	mai tran				remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a row in User Assigned Result Codes grid on Client form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_client_user_assigned_result_code_delete]
(
@client_user_assigned_result_code_id        int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159010077',
@ERROR_CANT_DELETE = '159010076'

--
IF NOT EXISTS (SELECT * FROM client_user_assigned_result_code WHERE client_user_assigned_result_code_id = @client_user_assigned_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM client_user_assigned_result_code
WHERE client_user_assigned_result_code_id = @client_user_assigned_result_code_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--

RETURN @SP_SUCCESS
GO
