USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_enrollment_coverage_level_detail_edi_import_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load data with paging
Form: frmEnrollmentCoverageLevelDetail
Grid: grdEdiCoverageLevelDetails
******************************/
CREATE PROCEDURE [dbo].[plx_enrollment_coverage_level_detail_edi_import_load]
(
@family_eligibility_id                      INT = 0,        -- calling form primary key
-- filter inputs
@benefit_plan_id                            INT = NULL,     -- used for filter (optional)
@benefit_contract_period_benefit_plan_id    INT = NULL,      -- used for filter (optional)
-- paging inputs
@page_number                      INT = 1,
@page_size                        INT = 50,
@sort_by                          NVARCHAR(255) = NULL,
@sort_ascending                   BIT = 1
)
AS

DECLARE @total_count INT;

-- set @benefit_plan_id based on @benefit_contract_period_benefit_plan_id, if needed.
IF @benefit_contract_period_benefit_plan_id IS NOT NULL AND @benefit_plan_id IS NULL
SET @benefit_plan_id = (SELECT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id);

-- put results into temp table, which will be paged and sorted later
DECLARE @temp_results TABLE (edi_import_coverage_level_detail INT);

INSERT INTO @temp_results
SELECT
edi.edi_import_coverage_level_detail_id
FROM
edi_import_coverage_level_detail edi
WHERE
edi.family_eligibility_id = @family_eligibility_id
AND
(@benefit_plan_id IS NULL OR @benefit_plan_id = edi.benefit_plan_id);

SELECT @total_count = @@ROWCOUNT;

SELECT
edi.edi_import_coverage_level_detail_id,
edi.family_eligibility_id,
edi.benefit_plan_id,
bp.benefit_plan_ud,
edi.coverage_level_code_HD05 AS coverage_level,
edi.coverage_level_effective_date AS effective_date,
edi.import_date,
edi.edi_file_name
FROM
@temp_results t
JOIN edi_import_coverage_level_detail edi
ON t.edi_import_coverage_level_detail = edi.edi_import_coverage_level_detail_id
LEFT JOIN benefit_plan bp ON edi.benefit_plan_id = bp.benefit_plan_id
ORDER BY
--sort by specified field (by UD if available)
CASE WHEN @sort_by = 'benefit_plan_ud' AND @sort_ascending = 1 THEN bp.benefit_plan_ud END ASC,
CASE WHEN @sort_by = 'benefit_plan_ud' AND @sort_ascending = 0 THEN bp.benefit_plan_ud END DESC,

CASE WHEN @sort_by = 'coverage_level' AND @sort_ascending = 1 THEN edi.coverage_level_code_HD05 END ASC,
CASE WHEN @sort_by = 'coverage_level' AND @sort_ascending = 0 THEN edi.coverage_level_code_HD05 END DESC,

CASE WHEN @sort_by = 'effective_date' AND @sort_ascending = 1 THEN edi.coverage_level_effective_date END ASC,
CASE WHEN @sort_by = 'effective_date' AND @sort_ascending = 0 THEN edi.coverage_level_effective_date END DESC,

CASE WHEN @sort_by = 'import_date' AND @sort_ascending = 1 THEN edi.import_date END ASC,
CASE WHEN @sort_by = 'import_date' AND @sort_ascending = 0 THEN edi.import_date END DESC,

CASE WHEN @sort_by = 'edi_file_name' AND @sort_ascending = 1 THEN edi.edi_file_name END ASC,
CASE WHEN @sort_by = 'edi_file_name' AND @sort_ascending = 0 THEN edi.edi_file_name END DESC,

--no sort order specified
CASE WHEN @sort_by IS NULL THEN import_date END DESC, edi.edi_import_coverage_level_detail_id DESC

OFFSET ((@page_number - 1) * @page_size) ROWS
FETCH NEXT @page_size ROWS ONLY

SELECT @total_count AS total_count

RETURN 0
GO
