USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_sub_limit_tree_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 	09/07/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/07/2005	mttran						create
09/09/2005	mttran						replace
accumulator class node id = accumulator_framework_accumulator_class_id
instead of accumulator_class_id,
accumulator node id = @accumulator_framework_accumulator_class_accumulator_id
instead of accumulator_id
03/12/2007	David Slayton	1.2			Delete references to accumulator table and columns.
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Accumulator Class/Accumulator/Sub limit tree in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:
@accumulator_framework_id

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  procedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_sub_limit_tree_load]
(
@accumulator_framework_id int = null
)
as
begin
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@NODE_TYPE_ACCUMULATOR_CLASS int,
@NODE_TYPE_ACCUMULATOR int,
@NODE_TYPE_SUB_LIMIT int

DECLARE
@accumulator_class_ud nvarchar(50),
@accumulator_class_id int,
@accumulator_framework_accumulator_class_id int


SET @SP_SUCCESS 	= 0
SET @SP_EXCEPTION 	= -1
SET @NODE_TYPE_ACCUMULATOR_CLASS	= 1
SET @NODE_TYPE_ACCUMULATOR			= 2
SET @NODE_TYPE_SUB_LIMIT			= 3

DECLARE @tree_table TABLE (
node_id 	int NOT NULL,
parent_id 	int NULL,
node_text 	nvarchar(50) NOT NULL,
node_level 	int NULL,
node_type 	int NULL
)

-- declare cursor for node level 1
DECLARE accumulator_class_cursor CURSOR FOR
SELECT	a1.accumulator_framework_accumulator_class_id,
a1.accumulator_class_id,
a2.accumulator_class_ud
FROM 	accumulator_framework_accumulator_class a1
INNER JOIN accumulator_class a2
ON a1.accumulator_class_id = a2.accumulator_class_id
WHERE	accumulator_framework_id = @accumulator_framework_id
ORDER BY a2.accumulator_class_ud

OPEN accumulator_class_cursor

FETCH NEXT FROM accumulator_class_cursor
INTO @accumulator_framework_accumulator_class_id, @accumulator_class_id, @accumulator_class_ud

while @@fetch_status = 0
begin
print 'Create accumulator class ' + CAST(@accumulator_class_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@accumulator_framework_accumulator_class_id, NULL, @accumulator_class_ud, 1, @NODE_TYPE_ACCUMULATOR_CLASS)

-- declare cursor for node level 2
DECLARE accumulator_cursor CURSOR FOR
SELECT	a1.accumulator_framework_accumulator_class_accumulator_id,
a1.accumulator_framework_accumulator_class_accumulator_ud
FROM 	accumulator_framework_accumulator_class_accumulator a1
WHERE	a1.accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id
ORDER BY a1.accumulator_framework_accumulator_class_accumulator_ud

OPEN accumulator_cursor

DECLARE @accumulator_framework_accumulator_class_accumulator_id int,
@accumulator_framework_accumulator_class_accumulator_ud	nvarchar(50)

FETCH NEXT FROM accumulator_cursor
INTO @accumulator_framework_accumulator_class_accumulator_id, @accumulator_framework_accumulator_class_accumulator_ud

while @@fetch_status = 0
begin
--insert node level 2
print 'Create accumulator ' + CAST(@accumulator_framework_accumulator_class_accumulator_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@accumulator_framework_accumulator_class_accumulator_id, @accumulator_framework_accumulator_class_id, @accumulator_framework_accumulator_class_accumulator_ud, 2, @NODE_TYPE_ACCUMULATOR)

-- declare cursor for node level 3
DECLARE accumulator_sub_limit_cursor CURSOR FOR
SELECT	accumulator_sub_limit_id,
accumulator_sub_limit_ud
FROM 	accumulator_sub_limit
WHERE	accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
ORDER BY accumulator_sub_limit_ud

OPEN accumulator_sub_limit_cursor

DECLARE @accumulator_sub_limit_id int,
@accumulator_sub_limit_ud	nvarchar(50)

FETCH NEXT FROM accumulator_sub_limit_cursor
INTO @accumulator_sub_limit_id, @accumulator_sub_limit_ud

while @@fetch_status = 0
begin
--insert node level 3
print 'Create sub limit ' + CAST(@accumulator_sub_limit_ud as nvarchar)

INSERT INTO @tree_table	(node_id, parent_id, node_text, node_level, node_type)
VALUES	(@accumulator_sub_limit_id, @accumulator_framework_accumulator_class_accumulator_id, @accumulator_sub_limit_ud, 3, @NODE_TYPE_SUB_LIMIT)

FETCH NEXT FROM accumulator_sub_limit_cursor
INTO @accumulator_sub_limit_id, @accumulator_sub_limit_ud
end

CLOSE accumulator_sub_limit_cursor
DEALLOCATE accumulator_sub_limit_cursor

FETCH NEXT FROM accumulator_cursor
INTO @accumulator_framework_accumulator_class_accumulator_id, @accumulator_framework_accumulator_class_accumulator_ud
end

CLOSE accumulator_cursor
DEALLOCATE accumulator_cursor

FETCH NEXT FROM accumulator_class_cursor
INTO @accumulator_framework_accumulator_class_id, @accumulator_class_id, @accumulator_class_ud
end

CLOSE accumulator_class_cursor
DEALLOCATE accumulator_class_cursor

-- return recordset
SELECT * FROM @tree_table

if @@rowcount >= 1
return @SP_SUCCESS
else
return @SP_EXCEPTION

SET NOCOUNT OFF
end
GO
