USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_factor_sub_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 09/09/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------


--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_factor_sub_type (Premium Factor Sub Type)
In versions previous to QC 16.4, this data was represented as the Premium Factor Type.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_factor_sub_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
premium_factor_sub_type.premium_factor_sub_type_id
,premium_factor_sub_type.premium_factor_sub_type_ud
,premium_factor_sub_type.golden_key

FROM premium_factor_sub_type
ORDER BY  premium_factor_sub_type_ud


RETURN @SP_SUCCESS
GO
