USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_resolve_plan_option_at_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Mar 31 2006 10:16AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_benefit_category_commission from the benefit_category_commission table.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
create   PROCEDURE [dbo].[plx_dd_resolve_plan_option_at_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
resolve_option_at_id
,resolve_option_at_ud
FROM resolve_option_at
ORDER BY resolve_option_at_ud

--
RETURN @SP_SUCCESS
GO
