USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_referral_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
HEADER_BEGIN;


REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/17/05    --
04/06/2011  eponomareff            modified incorrect description/comments

CURRENT_VERSION: 1.0

DESCRIPTION:

Load data into referral authorization grid on all claim forms
Professional, Professional Data Entry, Institutional, and Dental (preAuthorization)


RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_claim_referral_list_load]
(
@claim_id	int	= null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_referral_id,
claim_id,
cr.referral_id,
referral_ud,
cr.modified_date
FROM claim_referral cr inner join referral r
on cr.referral_id = r.referral_id
Where cr.claim_id = @claim_id

ORDER BY referral_ud
GO
