USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_savings_bank_rollover_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
Jul 10 2006  4:30PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/07/2006 	Anh Ta		1.0		Created and Using for 16985 Savings Bank (COB)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down savings_bank_rollover_type (Savings Bank Rollover Type)
--
REQUIREMENTS:
--
INPUTS:
savings_bank_rollover_type_id - Key to savings_bank_rollover_type table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_savings_bank_rollover_type_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
savings_bank_rollover_type.savings_bank_rollover_type_id
,savings_bank_rollover_type.savings_bank_rollover_type_ud
,savings_bank_rollover_type.description
,savings_bank_rollover_type.golden_key
FROM dbo.savings_bank_rollover_type
ORDER BY savings_bank_rollover_type.savings_bank_rollover_type_ud ASC
--
RETURN @SP_SUCCESS
GO
