USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_premium_payment_update_payment]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_premium_payment_update_payment]
@transactionId INT,
@transactionAmount NUMERIC(19,4),
@paymentDetailId INT,
@paymentStatusId INT,
@newDistributions udtt_disbursement_premium_payment_distribution READONLY,
@changedDistributions udtt_disbursement_premium_payment_distribution READONLY,
@applyTo udtt_disbursement_premium_payment_apply_to READONLY
AS

SET NOCOUNT ON;

UPDATE
accounting_transaction_ap
SET
transaction_amount = @transactionAmount
WHERE
accounting_transaction_ap_id = @transactionId;

UPDATE
accounting_transaction_ap_payment_detail
SET
accounting_payment_status_id = @paymentStatusId
WHERE
accounting_transaction_ap_payment_detail_id = @paymentDetailId;

INSERT INTO accounting_transaction_ap_distribution (
accounting_transaction_ap_id,
accounting_company_account_id,
is_debit,
amount )
SELECT
@transactionId,
nd.accounting_company_account_id,
nd.is_debit,
nd.amount
FROM
@newDistributions nd;

UPDATE
d
SET
d.amount = cd.amount
FROM
@changedDistributions cd
INNER JOIN accounting_transaction_ap_distribution d
ON d.accounting_transaction_ap_distribution_id = cd.accounting_transaction_ap_distribution_id;

INSERT INTO accounting_transaction_ap_apply_to (
from_accounting_transaction_ap_id,
to_accounting_transaction_ap_id,
unapplied_amount,
amount,
[date] )
SELECT
@transactionId,
a.to_accounting_transaction_ap_id,
a.unapplied_amount,
a.amount,
a.[date]
FROM
@applyTo a;


exec plx_disbursement_premium_payment_update_taxes @paymentDetailId=@paymentDetailId;
exec plx_disbursement_premium_payment_update_payment_related_statuses @paymentDetailId=@paymentDetailId;

SELECT
accounting_transaction_ap_distribution_id,
accounting_company_account_id,
is_debit,
amount
FROM
accounting_transaction_ap_distribution
WHERE
accounting_transaction_ap_id = @transactionId;
GO
