USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_benefit_contract_period_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha			1.0			create
08/14/2008	David Slayton	1.1			Removed location columns.  Table is basically empty
but leaving in case we need it in the future.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for period node
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_benefit_contract_period_load]
(
@family_eligibility_benefit_contract_period_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_benefit_contract_period.family_eligibility_benefit_contract_period_id
,family_eligibility_benefit_contract_period.family_eligibility_id
,family_eligibility_benefit_contract_period.benefit_contract_period_id

FROM family_eligibility_benefit_contract_period
WHERE family_eligibility_benefit_contract_period.family_eligibility_benefit_contract_period_id = @family_eligibility_benefit_contract_period_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
