USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_cob_member_user_assigned_result_code_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_sp_cob_member_user_assigned_result_code_backup]
as
begin

--exec dbo.bind_sp_cob_member_user_assigned_result_code_backup


with cte_update as (
SELECT [member_user_assigned_result_code_id]
      ,[member_id]
      ,[criteria_id]
      ,[result_code_id]
      ,[result_code_status_id]
      ,[comment]
      ,[effective_from]
      ,[effective_thru]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
  FROM [qc_core].[dbo].[member_user_assigned_result_code]
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
)-- select * from cte_update



 merge into import.dbo.member_user_assigned_result_code_CAQH_BK as T
    using cte_update as S
        on T.member_user_assigned_result_code_id = S.member_user_assigned_result_code_id
    when not matched then
        insert (
                [member_user_assigned_result_code_id]
              ,[member_id]
              ,[criteria_id]
              ,[result_code_id]
              ,[result_code_status_id]
              ,[comment]
              ,[effective_from]
              ,[effective_thru]
              ,[active]
              ,[created_user_name]
              ,[created_group_id]
              ,[created_date]
              ,[modified_date]
              ,[modified_user_name]
              )
        Values (
                S.[member_user_assigned_result_code_id]
              ,S.[member_id]
              ,S.[criteria_id]
              ,S.[result_code_id]
              ,S.[result_code_status_id]
              ,S.[comment]
              ,S.[effective_from]
              ,S.[effective_thru]
              ,S.[active]
              ,S.[created_user_name]
              ,S.[created_group_id]
              ,S.[created_date]
              ,S.[modified_date]
              ,S.[modified_user_name]
        )
        when matched then
            update set
                    T.[member_user_assigned_result_code_id] = S.[member_user_assigned_result_code_id],
                    T.[member_id] = S.[member_id],
                    T.[criteria_id] = S.[criteria_id],
                    T.[result_code_id] = S.[result_code_id],
                    T.[result_code_status_id] = S.[result_code_status_id],
                    T.[comment] = S.[comment],
                    T.[effective_from] = S.[effective_from],
                    T.[effective_thru] = S.[effective_thru],
                    T.[active] = S.[active],
                    T.[created_user_name] = S.[created_user_name],
                    T.[created_group_id] = S.[created_group_id],
                    T.[created_date] = S.[created_date],
                    T.[modified_date] = S.[modified_date],
                    T.[modified_user_name] = S.[modified_user_name]
                    ;
End
GO
