USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_stage_initial_document_cc_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION:
--
DESCRIPTION:
This procedure is used to load data for Intitial document CC grid load
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_stage_initial_document_cc_list_load]
(
@correspondence_stage_id			INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ccce.correspondence_stage_correspondence_entity_id
,ccce.correspondence_entity_id
,ce.correspondence_entity_ud
,ccce.modified_date
FROM correspondence_stage_correspondence_entity ccce, correspondence_entity ce
WHERE ccce.correspondence_stage_id = @correspondence_stage_id
AND	ccce.correspondence_entity_id = ce.correspondence_entity_id
AND is_cc_for_initial_document = 1



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
