USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_ncci]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************************
HEADER_BEGIN;

AUTHOR: B. Iyer
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2011/04/25	B. Iyer			1.0			Created
2011/09/29	dcannon			1.1			added clean up script for ncci_edit descriptions
--------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.1
;
DESCRIPTION:
This stored procedure imports NCCI edits data from the code loader into the
ncci_code_pair and ncci_edit_description table

STEPS INVOLVED:
ncci_edit_description is the master table.
ncci_code_pair is related to ncci_edit_description via ncci_edit_description_id

Update ncci_edit_description. This has to be done first.
In involves:
1. Term codes in ncci_edit_description that do not exist in tmp_ncci
2. Insert codes that exist in tmp_ncci but not in ncci_edit_description

Then update ncci_code_pair table.
This should be done only after ncci_edit_description is udated.
It involves:
3. Term all codes in ncci_code_pair where
procedure_code_1, procedure_code_2, ncci_edit_decription and allow_modifier not in tmp_ncci
and effective_thru is null
set effective_thru date is current date - 1

http://sql-server-tool.com/compare-two-tables.htm

4. Insert records where ncci_edit_description_id is new in ncci_edit_desccription

;

PRE-REQUISITES:

The import table must be created in the same connection before calling this method:

-- Create the holding table

IF OBJECT_ID('#IngenixNcciImport') IS NOT NULL
DROP TABLE #IngenixNcciImport

CREATE TABLE #IngenixNcciImport (
procedure_code1 char(50),
procedure_code2 char(50),
ncci_edit_description nvarchar(100),
allow_modifier bit
)
GO

INPUTS:

@effective_date - The new effective date for the code imported

;

OUTPUTS:

;
RETURN_VALUES:

0	Success

;

CALLED PROCEDURES:

None

;
HEADER_END;
************************************************************************************/

create procedure [dbo].[plx_code_import_ncci]
(
@effective_date as DATETIME

)

as

declare
@sp_success int,
@sp_exception int

select
@sp_success = 0,
@sp_exception = -1

--seems ncci has no entry in procedure_code_type table
--declare @ncci_edit_procedure_code_id int
--select @ncci_edit_procedure_code_id = procedure_code_type_id from procedure_code_type where golden_key='NCCI'




-- 1. Term codes in ncci_edit_description that do not exist in tmp_ncci
update ncci_edit_description
set effective_thru = dateadd(dd, -1, @effective_date)
from ncci_edit_description ned, dbo.#IngenixNcciImport tn
where not exists
(select distinct ncci_edit_description from dbo.#IngenixNcciImport tn where tn.ncci_edit_description = ned.description)

--2. Insert codes that exist in tmp_ncci but not in ncci_edit_description

insert into ncci_edit_description (description, effective_from)
select distinct ncci_edit_description, @effective_date from #IngenixNcciImport tn
where not exists
(select * from ncci_edit_description ned where ned.description = tn.ncci_edit_description and ned.effective_thru is null)
-- give condition for effective_thru because a distinct record can include a terminated entry, so if the code
-- comes back some time in the future again, it should not be entered in the table.

--3. Term all codes in ncci_code_pair where procedure_code_1, procedure_code_2, ncci_edit_decription and allow_modifier not in tmp_ncci:
-- set effective_thru date to (effective_date-1) where effective_thru is greater than, equal to effective_date or is null


update ncci_code_pair set effective_thru =  dateadd(dd, -1, @effective_date)
from ncci_code_pair ncp
--join ncci_edit_description ned on ned.ncci_edit_description_id = ncp.ncci_edit_description_id
where not exists
(select 1 from #IngenixNcciImport tn
join ncci_edit_description ned on ncp.ncci_edit_description_id = ned.ncci_edit_description_id
where ncp.procedure_code_1 =tn.procedure_code1
and ncp.procedure_code_2 = tn.procedure_code2
and ncp.allow_modifier = tn.allow_modifier
and tn.ncci_edit_description = ned.description
and ned.effective_thru is null)
and ncp.effective_thru is null




--4. Update effective from date with effective date where procedure_code_1, procedure_code_2, ncci_edit_description and allow_modifer == tmp_ncci values
-- need not be done thru sql, check implemented at UI level

/*update ncci_code_pair set effective_from = @effective_date
from ncci_code_pair ncp, #IngenixNcciImport tn, ncci_edit_description ned
where ncp.procedure_code_1 = tn.procedure_code1
and ncp.procedure_code_2 = tn.procedure_code2
and ncp.allow_modifier = tn.allow_modifier
and ncp.ncci_edit_description_id = ned.ncci_edit_description_id
and ncp.effective_from >= @effective_date and ncp.effective_from is not null*/


--5. Insert records which are not present in ncp_code_pair

insert into ncci_code_pair
(procedure_code_1, procedure_code_2, ncci_edit_description_id, allow_modifier, effective_from)
select tn.procedure_code1, tn.procedure_code2, ned.ncci_edit_description_id,
tn.allow_modifier, @effective_date
from #IngenixNcciImport tn
join ncci_edit_description ned on ned.description = tn.ncci_edit_description and ned.effective_thru is null
where not exists
(select * from ncci_code_pair ncp where ncp.effective_thru is null
and tn.procedure_code1 = ncp.procedure_code_1
and tn.procedure_code2 = ncp.procedure_code_2
and tn.allow_modifier = ncp.allow_modifier
and ned.ncci_edit_description_id = ncp.ncci_edit_description_id)

update ncci_code_pair set procedure_code_1 = rtrim(ltrim(procedure_code_1))
update ncci_code_pair set procedure_code_2 = rtrim(ltrim(procedure_code_2))
UPDATE ncci_edit_description SET [description] = RTRIM(LTRIM([description]))

return @sp_success
GO
