USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rates_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rates_form_load]
@family_eligibility_member_benefit_plan_id int = NULL
AS
SELECT
fembp.family_eligibility_member_benefit_plan_id,
fembp.member_eligibility_ud,
fem.member_id,
mn.name_last,
mn.name_first,
mn.name_middle
FROM
dbo.family_eligibility_member_benefit_plan fembp
join family_eligibility_member fem
on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
join member_name mn
on fem.member_id = mn.member_id and ISNULL(mn.is_primary,0) = 1
WHERE
fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id;

RETURN 0
GO
