USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_institutional_claim_other_provider_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2013	cmaddox	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for the Other Providers grid provider type drop down column (Institutional Claims))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_dd_institutional_claim_other_provider_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
institutional_claim_other_provider_type_id,
institutional_claim_other_provider_type_ud,
golden_key
FROM institutional_claim_other_provider_type
ORDER BY institutional_claim_other_provider_type_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
