USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date		Modified By	 Version		Description
--------------------------------------------------------------------------------
05/21/2012  CKnobloch	  1.0			create

CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to load data for grid "Add-On Procedure Code Detail" in frmAddOnProcedureCodeSchedule.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_detail_load]
(
@procedure_code_add_on_schedule_id			 INT = NULL
,@parent_procedure_code_id					 INT = NULL
,@add_on_procedure_code_id					 INT = NULL
,@effective_from                             DATETIME = NULL
,@effective_thru                             DATETIME = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''

IF @procedure_code_add_on_schedule_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND pcao.procedure_code_add_on_schedule_id = ' + CONVERT(NVARCHAR, @procedure_code_add_on_schedule_id) + ' '
ELSE
SET @SqlCondition = @SqlCondition + ' AND pcao.procedure_code_add_on_schedule_id = ' + CONVERT(NVARCHAR, 0) + ' '

IF @parent_procedure_code_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND pcao.parent_procedure_code_id = ' + + CONVERT(NVARCHAR, @parent_procedure_code_id) + ' '

IF @add_on_procedure_code_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND pcao.add_on_procedure_code_id = ' + + CONVERT(NVARCHAR, @add_on_procedure_code_id) + ' '

IF @effective_from IS NOT NULL AND @effective_from <> ''
SET @SqlCondition = @SqlCondition + ' AND (pcao.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from,101) + ''', 101)) '

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
SET @SqlCondition = @SqlCondition + ' AND (pcao.effective_thru >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru,101) + ''', 101)) '

SET @SqlQuery =
' SELECT
pcao.procedure_code_add_on_id
,pcao.parent_procedure_code_id
,pc1.procedure_code_ud as parent_procedure_code_ud
,pcao.add_on_procedure_code_id
,pc2.procedure_code_ud as add_on_procedure_code_ud
,pcao.result_code_id
,rc.result_code_ud
,pcao.imported_add_on
,pcao.effective_from
,pcao.effective_thru

,pct1.procedure_code_type_id as parent_procedure_code_type_id
,pct1.procedure_code_type_ud as parent_procedure_code_type_ud
,pct2.procedure_code_type_id as add_on_procedure_code_type_id
,pct2.procedure_code_type_ud as add_on_procedure_code_type_ud

FROM procedure_code_add_on pcao
LEFT JOIN procedure_code pc1
ON pc1.procedure_code_id = pcao.parent_procedure_code_id
LEFT JOIN procedure_code_type pct1
ON pct1.procedure_code_type_id = pc1.procedure_code_type_id
LEFT JOIN procedure_code pc2
ON pc2.procedure_code_id = pcao.add_on_procedure_code_id
LEFT JOIN procedure_code_type pct2
ON pct2.procedure_code_type_id = pc2.procedure_code_type_id
LEFT JOIN result_code rc
ON rc.result_code_id = pcao.result_code_id
'

IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition +

' ORDER BY
CASE WHEN pcao.effective_from IS NULL THEN 0 ELSE 1 END , pcao.effective_from DESC
,CASE WHEN pcao.effective_thru IS NULL THEN 0 ELSE 1 END , pcao.effective_thru DESC
')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
