USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/07/2011		 Glenn Gutshall	  Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--

DESCRIPTION:
Saves data for complex_duplicate_claim_rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_save]
(
@complex_duplicate_claim_rule_id INT = NULL OUTPUT,
@complex_duplicate_claim_rule_ud NVARCHAR(50) = NULL,
@from_claim_form_type_id INT = NULL,
@to_claim_form_type_id INT = NULL,
@ignore_denied_lines_complex BIT = NULL,
@ignore_claim_lines_modifier51_complex BIT = NULL,
@check_duplicate_lines_same_claim_complex BIT = NULL,
@complex_result_code_id INT = NULL,
@complex_result_code_status_id INT = NULL,
@criteria_id INT = NULL,
@complex_duplicate_claim_rule_type_id INT = NULL
)

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@Temp INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @to_claim_form_type_id < @from_claim_form_type_id
BEGIN
SET @Temp = @from_claim_form_type_id
SET @from_claim_form_type_id = @to_claim_form_type_id
SET @to_claim_form_type_id = @Temp
END

IF @complex_duplicate_claim_rule_id IS NULL
BEGIN
INSERT INTO complex_duplicate_claim_rule
(
complex_duplicate_claim_rule_ud
,from_claim_form_type_id
,to_claim_form_type_id
,ignore_denied_lines_complex
,ignore_claim_lines_modifier51_complex
,check_duplicate_lines_same_claim_complex
,complex_result_code_id
,complex_result_code_status_id
,criteria_id
,complex_duplicate_claim_rule_type_id
)
VALUES
(@complex_duplicate_claim_rule_ud
,@from_claim_form_type_id
,@to_claim_form_type_id
,@ignore_denied_lines_complex
,@ignore_claim_lines_modifier51_complex
,@check_duplicate_lines_same_claim_complex
,@complex_result_code_id
,@complex_result_code_status_id
,@criteria_id
,@complex_duplicate_claim_rule_type_id
)
SELECT @complex_duplicate_claim_rule_id	 = SCOPE_IDENTITY()
END
ELSE
BEGIN
UPDATE
complex_duplicate_claim_rule
SET
complex_duplicate_claim_rule_ud = @complex_duplicate_claim_rule_ud
,from_claim_form_type_id = @from_claim_form_type_id
,to_claim_form_type_id = @to_claim_form_type_id
,ignore_denied_lines_complex = @ignore_denied_lines_complex
,ignore_claim_lines_modifier51_complex = @ignore_claim_lines_modifier51_complex
,check_duplicate_lines_same_claim_complex = @check_duplicate_lines_same_claim_complex
,complex_result_code_id = @complex_result_code_id
,complex_result_code_status_id = @complex_result_code_status_id
,criteria_id = @criteria_id
,complex_duplicate_claim_rule_type_id = @complex_duplicate_claim_rule_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
complex_duplicate_claim_rule_id = @complex_duplicate_claim_rule_id
END

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
