USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:	Load a record for benefit_plan set

******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_set_load]
(
@benefit_plan_set_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
bps.benefit_plan_set_id
,bps.benefit_plan_set_ud
,bps.benefit_plan_set_nm
,bps.active
,bps.created_user_name
,bps.created_group_id
,bps.created_date
,bps.modified_date
FROM dbo.benefit_plan_set bps
WHERE bps.benefit_plan_set_id = @benefit_plan_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
