USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_professional_medical_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Vishwa Jella
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
10/30/2007	Vishwa Jella	1.0		Created
04/08/2008 lrenard		1.1			implemented dependecy checks before deletes and delete child data
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to delete Professional /Medical fee schedule record

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:
0	Success
-1	Exception occurred, refer to error message
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_fee_schedule_professional_medical_delete]
(
@fee_schedule_id INT = NULL
)

AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT fee_schedule_id FROM fee_schedule WHERE fee_schedule_id = @fee_schedule_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
--check dependencies
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_fee_schedule_check_delete @fee_schedule_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

DELETE FROM fee_schedule_professional_medical_detail WHERE fee_schedule_id = @fee_schedule_id
DELETE FROM fee_schedule WHERE fee_schedule_id = @fee_schedule_id

RETURN @SP_SUCCESS
GO
