USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_branch_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Sep  1 2006 10:47AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2006	hthan		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for brokerage branch grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_brokerage_branch_list_save]
(
@brokerage_branch_id	                        int = NULL   OUTPUT
,@brokerage_branch_ud                        nvarchar(50) = NULL
,@brokerage_branch_nm                        nvarchar(100) = NULL
,@brokerage_id                               int = NULL
,@branches_effective_from                    datetime = NULL
,@branches_effective_thru                    datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @brokerage_branch_id is Null
BEGIN

--- Create a new brokerage_branch record
INSERT INTO agent_branch(
agent_branch_ud
,agent_branch_nm
,agent_id
,effective_from
,effective_thru
,active
)
VALUES
(@brokerage_branch_ud
,@brokerage_branch_nm
,@brokerage_id
,@branches_effective_from
,@branches_effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @brokerage_branch_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_branch WHERE agent_branch_id = @brokerage_branch_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing brokerage_branch record
UPDATE agent_branch
SET
agent_branch_ud                      = @brokerage_branch_ud
,agent_branch_nm                      = @brokerage_branch_nm
,agent_id                             = @brokerage_id
,effective_from                           = @branches_effective_from
,effective_thru                           = @branches_effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_branch_id = @brokerage_branch_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
