USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_statement_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/22/2010				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'Statement ' in grids (drop down)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_correspondence_statement_load]
(
@correspondence_object_id					int = NULL,
@correspondence_operator_id				int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				int,
@SP_EXCEPTION			int
SELECT
@SP_SUCCESS		= 0,
@SP_EXCEPTION	= -1


SELECT
cs.correspondence_statement_id
,cs.correspondence_statement_ud
FROM correspondence_statement cs
,correspondence_operator cop
,correspondence_operator_set coset
,correspondence_operator_set_correspondence_operator cosco
,correspondence_object cobj
,correspondence_operator_correspondence_statement  cocs
WHERE cs.correspondence_statement_id = cocs.correspondence_statement_id
AND cop.correspondence_operator_id = cocs.correspondence_operator_id
AND cobj.correspondence_operator_set_id = coset.correspondence_operator_set_id
AND coset.correspondence_operator_set_id = cosco.correspondence_operator_set_id
AND cosco.correspondence_operator_id = cop.correspondence_operator_id
AND cobj.correspondence_object_id = @correspondence_object_id
AND cop.correspondence_operator_id = @correspondence_operator_id
ORDER BY correspondence_object_ud


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
