USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_stage_data_funding_limit]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_stage_data_funding_limit]
@disbursementClaimPaymentQueueId INT,
@asOfDate DATETIME,
@transactionTypeBill INT,
@transactionTypeCredit INT,
@transactionStatusAvailable INT,
@sourceClaims INT,
@sourcePaymentPenalty INT,
@sourceManual INT,
@queuePaymentMethod INT,
@queueDatetype INT,
@dateTypeClean INT,
@paymentStatusVoided INT
AS

SET NOCOUNT ON;

-- When a funding limit is used, the transactions are placed into payments as long as the total for the entire claim fits within the funding
-- limit.
-- Rules:
--    1) Claim cannot be split, entire claim needs to be in the payment.
--    2) Claims are paid from oldest to newest.
--    3) "Oldest" is determined by either the received or clean date, the oldest transaction belonging to the claim.
-- Temp tables were used to group the transactions by claim and find the mininum date.
-- This is used to force the entries into the work table in order from oldest to newest.  Because the service does not have all of the
-- transaction data in memory at once, it has to rely on it being fed into those tables in the proper order.

IF OBJECT_ID('tempdb..#temp_work') IS NOT NULL
DROP TABLE #temp_work;

CREATE TABLE #temp_work
(
accounting_transaction_ap_id                 INT NOT NULL,
is_bill_type                                 BIT NOT NULL,
amount                                       NUMERIC(19,4) NOT NULL,
vendor_id                                    INT NOT NULL,
payment_method_payment_id                    INT NULL,
clean_date                                   DATETIME NULL,
ready_date                                   DATETIME NULL,
criteria_id                                  INT NULL,
claim_id                                     INT NULL,
claim_procedure_id                           INT NULL,
plan_iteration_index                         INT NULL,
claim_total                                  NUMERIC(19,4) NULL,
client_id                                    INT NULL,
client_group_id                              INT NULL,
benefit_contract_id                          INT NULL,
benefit_plan_id                              INT NULL,
line_of_business_id                          INT NULL,
original_line_amount                         NUMERIC(19,4) NULL,
procedure_clean_date						 DATETIME NULL,
procedure_received_date						 DATETIME NULL,
received_date								 DATETIME NULL,
negated_claim_procedure_id					 INT NULL,
is_payment_this_contract_only                BIT NULL
);

CREATE CLUSTERED INDEX CX_plx_disbursement_claim_payment_stage_data_funding_limit_temp_work_claim_id ON #temp_work (claim_id);

-- CTE calculates the amount of the AP Transaction already applied to a non-voided Payment
;WITH applied_amount_payment (accounting_transaction_ap_id, applied_amount) AS
(
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
pd.accounting_payment_status_id <> @paymentStatusVoided
GROUP BY
apto.to_accounting_transaction_ap_id
),
-- CTE calculates the amount of the AP Transaction already applied to a non-voided Vendor Refund Request
applied_amount_refund (accounting_transaction_ap_id, applied_amount) AS
(
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap_refund_request_detail refundDetail
ON refundDetail.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
refundDetail.accounting_payment_status_id <> @paymentStatusVoided
GROUP BY
apto.to_accounting_transaction_ap_id
)
INSERT INTO #temp_work (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
ready_date,
criteria_id,
claim_id,
claim_procedure_id,
plan_iteration_index,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
line_of_business_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only)
SELECT DISTINCT
atap.accounting_transaction_ap_id,
CASE
WHEN atap.accounting_transaction_ap_type_id = @transactionTypeBill
THEN 1
ELSE 0
END,
atap.transaction_amount,
atap.vendor_id,
vpm.payment_method_payment_id,
c.clean_date,
ISNULL(
CASE
WHEN @queueDatetype = @dateTypeClean
THEN c.clean_date
ELSE c.received_date
END,
GETDATE()),
queue_criteria.criteria_id,
cd.claim_id,
cd.claim_procedure_id,
cd.plan_iteration_index,
atap.client_id,
atap.client_group_id,
atap.benefit_contract_id,
atap.benefit_plan_id,
bc.line_of_business_id,
cp.original_line_amount,
cp.clean_date,
cp.received_date,
c.received_date,
cp.negated_claim_procedure_id,
is_payment_this_contract_only
FROM
accounting_transaction_ap atap
INNER JOIN vendor v
ON v.vendor_id = atap.vendor_id
LEFT JOIN vendor_payment_method vpm
ON vpm.vendor_id = atap.vendor_id
AND vpm.effective_from <= @asOfDate
AND
(
vpm.effective_thru IS NULL
OR vpm.effective_thru >= @asOfDate
)

LEFT JOIN applied_amount_payment aaPmt
ON aaPmt.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN applied_amount_payment aaRefund
ON aaRefund.accounting_transaction_ap_id = atap.accounting_transaction_ap_id

LEFT JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN claim_procedure cp
ON cp.claim_procedure_id = cd.claim_procedure_id
LEFT JOIN claim c
ON c.claim_id = cp.claim_id

LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = atap.benefit_contract_id

LEFT JOIN disbursement_claim_payment_queue_queue_criteria queue_criteria
ON queue_criteria.disbursement_claim_payment_queue_id = @disbursementClaimPaymentQueueId

WHERE
atap.accounting_transaction_status_id = @transactionStatusAvailable
AND atap.accounting_transaction_ap_type_id IN (@transactionTypeBill, @transactionTypeCredit)
AND
(
atap.accounting_source_id IN (@sourceClaims, @sourcePaymentPenalty)
OR (atap.accounting_source_id = @sourceManual AND atap.treat_as_accounting_source_id IN (@sourceClaims, @sourcePaymentPenalty))
)
AND
(
atap.transaction_amount = 0
OR
-- Will be NULL if there are no apply_to records.
(aaPmt.applied_amount IS NULL AND aaRefund.applied_amount IS NULL)
OR
atap.transaction_amount - ISNULL(aaPmt.applied_amount, 0) - ISNULL(aaRefund.applied_amount, 0) != 0
)
AND (@queuePaymentMethod IS NULL OR vpm.payment_method_payment_id = @queuePaymentMethod)
AND (queue_criteria.client_group_id IS NULL OR atap.client_group_id = queue_criteria.client_group_id)
AND (queue_criteria.client_id IS NULL OR atap.client_id = queue_criteria.client_id)
AND (queue_criteria.vendor_id IS NULL OR atap.vendor_id = queue_criteria.vendor_id);

IF OBJECT_ID('tempdb..#work_claims') IS NOT NULL
DROP TABLE #work_claims;

CREATE TABLE #work_claims
(
claim_id INT NOT NULL,
min_ready_date DATETIME NOT NULL,
claim_total NUMERIC(19,4) NOT NULL
);

CREATE CLUSTERED INDEX CX_plx_disbursement_claim_payment_stage_data_funding_limit_work_claims_claim_id ON #work_claims (claim_id);

INSERT INTO #work_claims (
claim_id,
min_ready_date,
claim_total )
SELECT
claim_id,
MIN(ready_date) as 'min_ready_date',
SUM(amount) as 'claim_total'
FROM
#temp_work
WHERE
claim_id IS NOT NULL
GROUP BY
claim_id;

INSERT INTO disbursement_claim_payment_work_table (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
ready_date,
criteria_id,
claim_id,
claim_procedure_id,
plan_iteration_index,
claim_total,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
line_of_business_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only
)
SELECT
tw.accounting_transaction_ap_id,
tw.is_bill_type,
tw.amount,
tw.vendor_id,
tw.payment_method_payment_id,
tw.clean_date,
tw.ready_date,
tw.criteria_id,
tw.claim_id,
tw.claim_procedure_id,
tw.plan_iteration_index,
wc.claim_total,
tw.client_id,
tw.client_group_id,
tw.benefit_contract_id,
tw.benefit_plan_id,
tw.line_of_business_id,
tw.original_line_amount,
tw.procedure_clean_date,
tw.procedure_received_date,
tw.received_date,
tw.negated_claim_procedure_id,
is_payment_this_contract_only
FROM
#work_claims wc
INNER JOIN #temp_work tw
ON tw.claim_id = wc.claim_id
ORDER BY
wc.min_ready_date

INSERT INTO disbursement_claim_payment_work_table (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
ready_date,
criteria_id,
claim_id,
claim_procedure_id,
plan_iteration_index,
claim_total,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
line_of_business_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only)
SELECT
tw.accounting_transaction_ap_id,
tw.is_bill_type,
tw.amount,
tw.vendor_id,
tw.payment_method_payment_id,
tw.clean_date,
tw.ready_date,
tw.criteria_id,
tw.claim_id,
tw.claim_procedure_id,
tw.plan_iteration_index,
tw.amount, -- claim_total
tw.client_id,
tw.client_group_id,
tw.benefit_contract_id,
tw.benefit_plan_id,
tw.line_of_business_id,
tw.original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only
FROM
#temp_work tw
WHERE
tw.claim_id IS NULL;
GO
