USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_benefit_class_choice_list_resolution_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/05/2005	ThuyNgo		1.0		Created
03/08/2006	Thuy Ha		1.1		created_date & modified_date use DB Server date
08/22/2013	AMortensen	1.2		Added Concurrency Check using modified_date and error handling
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Benefit Class Choice Resolution"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_benefit_class_choice_list_resolution_save]

(
@episode_benefit_class_choice_list_resolution_id int = NULL output
,@episode_id                                 int = NULL
,@benefit_coverage_rules_id                  int = NULL
,@benefit_framework_valid_choice_id     int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @episode_benefit_class_choice_list_resolution_id is Null
BEGIN
--- Create a new record
INSERT INTO episode_benefit_class_choice_list_resolution(
episode_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
,active
)
VALUES
(@episode_id
,@benefit_coverage_rules_id
,@benefit_framework_valid_choice_id
,@active
)
--
SET @episode_benefit_class_choice_list_resolution_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM episode_benefit_class_choice_list_resolution WHERE episode_benefit_class_choice_list_resolution_id = @episode_benefit_class_choice_list_resolution_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE episode_benefit_class_choice_list_resolution
SET
--  episode_id                               = @episode_id
benefit_coverage_rules_id                = @benefit_coverage_rules_id
,benefit_framework_valid_choice_id   = @benefit_framework_valid_choice_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE episode_benefit_class_choice_list_resolution_id = @episode_benefit_class_choice_list_resolution_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END
--
RETURN @SP_SUCCESS
GO
