USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_beneficiary_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_beneficiary_type_load]
AS
SET NOCOUNT ON

SELECT
bt.beneficiary_type_id
,bt.beneficiary_type_ud
FROM beneficiary_type bt
ORDER BY bt.beneficiary_type_ud

RETURN 0
GO
