USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_plan_by_benefit_contract_latest_period_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/30/2012	eponomareff		1.0			Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load target benefit plans for target benefit contract

;
REQUIREMENTS	:

None
;
INPUTS		:
@benefit_contract_id
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_benefit_plan_by_benefit_contract_latest_period_load]
(
@target_benefit_contract_id INT = 0
) AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @max_bc_period INT
SELECT @max_bc_period = MAX(benefit_contract_period_id)
FROM benefit_contract_period
WHERE benefit_contract_id = ISNULL(@target_benefit_contract_id,0)

SELECT
bp.benefit_plan_id		as target_benefit_plan_id
,bp.benefit_plan_ud		as target_benefit_plan_ud
FROM
benefit_plan bp
INNER JOIN
benefit_contract_period_benefit_plan bcpbp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN
benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE
bcp.benefit_contract_id = @target_benefit_contract_id
AND
bcp.benefit_contract_period_id = @max_bc_period

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
