USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_find_patient_eligibility]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2005	HiepNguyen	1.0		Created
06/22/2006	Anh Ta		1.1		Fixed SCR Integration #13
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check validation rule for patient eligibility on claim history
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_claim_history_find_patient_eligibility]
(
@patient_eligibility_id int  = null,
@patient_eligibility_ud nvarchar(160) = null,
@patient_name_id  int = null,
@patient_name_last  nvarchar(100) = null,
@patient_name_first nvarchar(100) = null
)
AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''

IF @patient_eligibility_id IS NOT NULL AND @patient_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND bpfem.family_eligibility_member_benefit_plan_id = ' +  CONVERT(NVARCHAR, @patient_eligibility_id)
IF @patient_eligibility_ud IS NOT NULL AND @patient_eligibility_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(bpfem.member_eligibility_ud, '''') = N''' +  dbo.plx_EncodeStringWildCard(@patient_eligibility_ud, 1) + ''''
IF @patient_name_last IS NOT NULL AND @patient_name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mn.name_last, '''') = N''' +  dbo.plx_EncodeStringWildCard(@patient_name_last, 1) + ''''
IF @patient_name_first IS NOT NULL AND @patient_name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mn.name_first, '''') = N''' +  dbo.plx_EncodeStringWildCard(@patient_name_first, 1)  + ''''
IF @patient_name_id IS NOT NULL AND @patient_name_id > 0
SET @SqlCondition = @SqlCondition + ' AND mn.member_name_id = ' + CONVERT(NVARCHAR, @patient_name_id)


SET @SqlQuery =
'  SELECT DISTINCT ' +
'     bpfem.family_eligibility_member_benefit_plan_id as patient_eligibility_id ' +
'   , fem.member_id ' +
'   , bpfem.member_eligibility_ud as patient_eligibility_ud ' +
'   , mn.name_last as patient_name_last ' +
'   , mn.name_first as patient_name_first ' +
'   , mn.member_name_id as patient_name_id ' +
' FROM family_eligibility_member fem ' +
'      LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id ' +
'      LEFT JOIN family_eligibility_member_benefit_plan bpfem ON bpfem.family_eligibility_member_id = fem.family_eligibility_member_id ' +
'      LEFT JOIN member_name mn ON (mn.member_id = fem.member_id) AND (mn.is_primary = 1)'

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC(@SqlQuery + @SqlCondition )

--
RETURN @SP_SUCCESS
GO
