USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_user_assigned_result_code_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
HEADER_BEGIN;

REVISION_HISTORY:

Date		Modified By	 Version		Description
-----------------------------------------------------------------------------------------------
10/01/2007    Abhishek Saxena     1.0                   Created
08/22/2014		eponomareff			RT:6046 data modification project


CURRENT_VERSION: 1.0

DESCRIPTION:
Load data into grid  User Assigned Result Codes of Benifit Contract form

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*/
CREATE   PROCEDURE [dbo].[plx_benefit_contract_user_assigned_result_code_list_load]
(
@benefit_contract_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcuarc.benefit_contract_user_assigned_result_code_id
,bcuarc.criteria_id
,c.criteria_ud
,bcuarc.result_code_id
,bcuarc.result_code_status_id as result_code_status_id
,rc.result_code_ud
,rcs.result_code_status_ud
,bcuarc.comment
,bcuarc.effective_from
,bcuarc.effective_thru
,bcuarc.benefit_contract_id
,bcuarc.user_name
,bcuarc.modified_user_name
,bcuarc.modified_date

FROM benefit_contract_user_assigned_result_code bcuarc
inner join benefit_contract  bc ON bcuarc.benefit_contract_id = bc.benefit_contract_id
left join criteria c ON c.criteria_id = bcuarc.criteria_id
left join result_code rc ON rc.result_code_id = bcuarc.result_code_id
left join result_code_status rcs ON rcs.result_code_status_id = bcuarc.result_code_status_id
WHERE bcuarc.benefit_contract_id = @benefit_contract_id
ORDER BY
CASE WHEN bcuarc.effective_from IS NULL THEN 0 ELSE 1 END , bcuarc.effective_from DESC
,CASE WHEN bcuarc.effective_thru IS NULL THEN 0 ELSE 1 END , bcuarc.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
