USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cms_coverage_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
Date: 03/31/2021
--
DESCRIPTION:
Procedure to load drop down for CMS Coverage Types – Should provide  CMS Code and UD and GK.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_cms_coverage_type_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cms_coverage_type_id
,cms_code
,cms_coverage_type_ud
,description
,golden_key

FROM cms_coverage_type
ORDER BY cms_coverage_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
