USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION:
--
DESCRIPTION:
This procedure is used to load data for Correnpondance rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_rule_load]
(
@correspondence_rule_id			INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			INT,
@SP_EXCEPTION			INT
SELECT
@SP_SUCCESS		= 0,
@SP_EXCEPTION		= -1

SELECT
cr.correspondence_rule_id
,cr.correspondence_rule_ud
,cr.description
,cr.correspondence_rule_category_id
,crc.correspondence_rule_category_ud
,cr.correspondence_rule_type_id
,crt.correspondence_rule_type_ud
,cr.modified_date
,crt.correspondence_entity_id
,ce.correspondence_entity_ud
FROM correspondence_rule cr, correspondence_rule_category crc, correspondence_rule_type  crt, correspondence_entity ce
WHERE cr.correspondence_rule_id = @correspondence_rule_id
AND cr.correspondence_rule_category_id = crc.correspondence_rule_category_id
AND cr.correspondence_rule_type_id = crt.correspondence_rule_type_id
AND crt.correspondence_entity_id = ce.correspondence_entity_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
