USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_max_net_pay_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 04/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/08/2011	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for max_net_pay grid on the frmCoverageIncentive form

--
REQUIREMENTS:
--
INPUTS:
@coverage_incentive_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_coverage_incentive_max_net_pay_list_load]
(
@coverage_incentive_id		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
ci.coverage_incentive_id
,cimnp.coverage_incentive_max_net_pay_id
,cimnp.treatment_type_set_id
,tts.treatment_type_set_ud
,cimnp.treatment_type_category_id
,ttc.treatment_type_category_ud
,cimnp.treatment_type_id
,tt.treatment_type_ud
,cimnp.max_amount
,cimnp.calendar_year
,cimnp.through
FROM
coverage_incentive ci
JOIN
coverage_incentive_max_net_pay cimnp ON ci.coverage_incentive_id = cimnp.coverage_incentive_id
LEFT JOIN treatment_type_set tts ON cimnp.treatment_type_set_id = tts.treatment_type_set_id
LEFT JOIN treatment_type_category ttc ON cimnp.treatment_type_category_id = ttc.treatment_type_category_id
LEFT JOIN treatment_type tt ON cimnp.treatment_type_id = tt.treatment_type_id
WHERE ci.coverage_incentive_id = @coverage_incentive_id
ORDER BY cimnp.calendar_year, cimnp.through


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
