USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_inpatient_detail_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
Jan 11 2006  1:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Forgets a single fee_schedule_inpatient into the fee_schedule_inpatient_detail table.
This stored procedure is used for the Fee Schedule Information grid
in the Fee Schedule Inpatient form

--
REQUIREMENTS:
--
INPUTS:
@fee_schedule_inpatient_detail_id - Key to fee_schedule_inpatient_detail table, identifies a single stored fee_schedule_inpatient.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_fee_schedule_inpatient_detail_delete]
(
@fee_schedule_inpatient_detail_id           int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159070019',
@ERROR_CANT_DELETE = '159070020'
--
IF NOT EXISTS (SELECT * FROM fee_schedule_inpatient_detail WHERE fee_schedule_inpatient_detail_id = @fee_schedule_inpatient_detail_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM fee_schedule_inpatient_detail
WHERE fee_schedule_inpatient_detail_id = @fee_schedule_inpatient_detail_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
GO
