USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_provider_primary_effective_specialty_type_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 08/27/2009
--
REVISION_HISTORY:
--
Date             Modified By      Version       Description
--------------------------------------------------------------------------------


--
DESCRIPTION:
Returns primary provider specialties that are effective for the passed in claim line DOS and provider id
--

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_provider_primary_effective_specialty_type_load]
(
@provider_id 	int
,@DOS				datetime
)

AS

DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

--provider_id passed in from UI is actually the provider_identifier_id
--so get the provider_id from the identifier table
Select @provider_id = provider_id from provider_identifier where provider_identifier_id = @provider_id

SELECT
pst.provider_specialty_type_id
,pst.provider_specialty_type_ud

FROM dbo.provider_specialty ps
INNER JOIN provider_specialty_type pst on ps.provider_specialty_type_id = pst.provider_specialty_type_id
WHERE ps.provider_id = @provider_id
AND ps.primary_specialty = 1
AND datediff(day, @DOS, isnull(ps.effective_from, @DOS))	<= 0
AND datediff(day, @DOS, isnull(ps.effective_thru, @DOS))	>= 0


RETURN @SP_SUCCESS
GO
