USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_grouping_assignment_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/13/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/13/2010	eponomareff		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete an alternate_course_of_treatment_grouping_assignment.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_alternate_course_grouping_assignment_delete]
(
@alternate_course_of_treatment_grouping_assignment_id INT = 0
)
AS

--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM
alternate_course_of_treatment_grouping_assignment
WHERE
alternate_course_of_treatment_grouping_assignment_id = @alternate_course_of_treatment_grouping_assignment_id

RETURN @SP_SUCCESS
--
GO
