USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reconciliation_config_ar_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reconciliation_config_ar_account_load_by_accounting_company] (
@accounting_company_id INT = NULL
)
AS
BEGIN
--
DECLARE @SP_SUCCESS INT = 0;

SELECT
aca.accounting_company_account_id AS customer_payment_ar_accounting_company_account_id,
aca.accounting_company_account_ud AS customer_payment_ar_accounting_company_account_ud

FROM accounting_company_account aca
JOIN account_status
ON aca.account_status_id = account_status.account_status_id
JOIN account_category
ON aca.account_category_id = account_category.account_category_id

WHERE
(
@accounting_company_id IS NULL
OR
aca.accounting_company_id = @accounting_company_id
)
AND account_status.golden_key = 'Active'
AND account_category.golden_key = 'AR'

ORDER BY aca.accounting_company_account_ud

RETURN @SP_SUCCESS;
END
GO
