USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_id_card_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/08/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/12/2005	ptran			1.1		DB changed
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load benefit_id_card list by benefit_contract_period
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_period_id
--
OUTPUTS:
benefit_id_card records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_id_card_list_load]
(
@benefit_contract_period_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bic.benefit_id_card_id
,bic.benefit_contract_period_id
,bic.benefit_category_id
,bic.benefit_plan_id
,bic.report_file_path
,new_family_eligibility_created
,new_member_eligibility_created
,address_change
,new_benefit_period_created
,new_benefit_plan_added
,bic.active
,bic.created_user_name
,bic.created_group_id
,bic.created_date
,bic.modified_date

FROM benefit_id_card bic
WHERE bic.benefit_contract_period_id = @benefit_contract_period_id


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
