USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_modifier_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 06/04/2009
--
REVISION_HISTORY:
--
Date			Modified By		Version	Description
--------------------------------------------------------------------------------
06/04/2009		Vishwa Jella	1.0		Created
11/17/2011		ggutshall		1.1		Added returnset limitations
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Find modifier_set that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@modifier_set_ud
@modifier_set_nm

@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_modifier_set_load]
(
@modifier_set_ud			NVARCHAR(50) = NULL
, @modifier_set_nm			NVARCHAR(100) = NULL
, @modifier					NVARCHAR(50) = NULL
, @show_exact_matches		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @modifier_set_ud IS NOT NULL AND @modifier_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ms.modifier_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@modifier_set_ud, @show_exact_matches) + @Suffix

IF @modifier_set_nm IS NOT NULL AND @modifier_set_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ms.modifier_set_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@modifier_set_nm, @show_exact_matches) + @Suffix

IF @modifier IS NOT NULL AND @modifier <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(msd.modifier, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@modifier, @show_exact_matches) + @Suffix

SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
ms.modifier_set_id
,ms.modifier_set_ud
,ms.modifier_set_nm
FROM  dbo.modifier_set ms
LEFT JOIN modifier_set_detail msd ON msd.modifier_set_id = ms.modifier_set_id
'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY ms.modifier_set_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
