USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_matrix_weighting_check_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/20/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check whether Benefit Contract Period Benefit Plan Id is existed in Benefit Choice Matrix Weighting or not
This stored procedure is used in the Benefit Choice Matrix Weighting grid of Benefit Contract Advance Plan Setup
and Benefit Contract Template Advance Plan Setup
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_choice_matrix_weighting_check_exist]
(
@benefit_contract_period_benefit_plan_id	INT
)
AS


SELECT * FROM benefit_choice_matrix_weighting
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
GO
