USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_capitation_manual_run_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 07/31/2009

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of capitation run status
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_capitation_manual_run_status_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
capitation_manual_run_status_id
,capitation_manual_run_status_ud
,golden_key
FROM capitation_manual_run_status
ORDER BY capitation_manual_run_status_ud ASC
--
RETURN @SP_SUCCESS
--
GO
