USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_asc_facility_wage_index_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Dec 19 2005  2:37PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Dec 19 2005	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Delete data for grid grdACSFacilityLocationCodeInformation on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_practice_office_asc_facility_wage_index_delete]
(
@practice_office_asc_facility_wage_index_id	int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0
--
DELETE FROM practice_office_asc_facility_wage_index
WHERE practice_office_asc_facility_wage_index_id = @practice_office_asc_facility_wage_index_id
--
RETURN @SP_SUCCESS
--
GO
