USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 9/6/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
9/6/2005	hthan					created
12/23/2008  ccessnun				updated to implement VersionONE Change Request: CR - 19688 - Update Alternate Course of Treatment Map Form R-01795
10/13/2020  eponomareff 3.0         Changes per ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an alternate course of treatment map detail
for grid Alternate Course of Treatment in form Dental Alternate PX Treatment Map

HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_detail_load]
(
@alternate_course_of_treatment_map_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

acotmd.alternate_course_of_treatment_map_detail_id
-- area of oral cavity
,acotmd.area_of_oral_cavity_id
-- criteria code type
,acotmd.match_on_procedure_code_type_id
-- billed px
--,Cast(Null as int) as match_on_procedure_code_id
--,alternate_course_of_treatment_map_detail.match_on_procedure_code_ud
-- tooth surface
,dbo.alternate_course_of_treatment_map_detail_tooth_surface_seperators(acotmd.alternate_course_of_treatment_map_detail_id, '') as tooth_surface_ud
-- #of surfaces
,acotmd.match_on_number_of_surfaces
-- begin age
,acotmd.match_on_age_begin
-- end age
,acotmd.match_on_age_end
-- code type
,acotmd.alternate_course_procedure_code_type_id
-- Px Code
,Cast(Null as int) as alternate_course_procedure_code_id
,acotmd.alternate_course_procedure_code_ud
-- result code
--,alternate_course_of_treatment_map_detail.result_code_id as detail_result_code_id
--,result_code.result_code_ud as detail_result_code_ud
,acotmd.match_on_begin_tooth_number_id
,acotmd.match_on_end_tooth_number_id
,begin_tooth_number_letter.tooth_number_letter_ud as begin_tooth_number_letter_ud
,end_tooth_number_letter.tooth_number_letter_ud as end_tooth_number_letter_ud
-- status
--,alternate_course_of_treatment_map_detail.result_code_status_id as detail_result_code_status_id
--,result_code_status.result_code_status_ud as detail_result_code_status_ud
,acotmd.procedure_code_group_id
,acotmd.match_on_begin_procedure_code_id
,acotmd.match_on_end_procedure_code_id
,pcg.procedure_code_group_ud
,begin_procedure_code.procedure_code_ud as begin_procedure_code_ud
,end_procedure_code.procedure_code_ud as end_procedure_code_ud
,umy.unit_month_year_ud
,acotmd.unit_month_year_id
,acotmd.member_responsibility

FROM alternate_course_of_treatment_map_detail acotmd
--left join result_code  ON result_code.result_code_id = alternate_course_of_treatment_map_detail.result_code_id
--left join result_code_status  ON result_code_status.result_code_status_id = alternate_course_of_treatment_map_detail.result_code_status_id
left join procedure_code_group pcg on pcg.procedure_code_group_id = acotmd.procedure_code_group_id
left join procedure_code as begin_procedure_code on begin_procedure_code.procedure_code_id = acotmd.match_on_begin_procedure_code_id
left join procedure_code as end_procedure_code on end_procedure_code.procedure_code_id = acotmd.match_on_end_procedure_code_id
left join tooth_number_letter as begin_tooth_number_letter on begin_tooth_number_letter.tooth_number_letter_id = acotmd.match_on_begin_tooth_number_id
left join tooth_number_letter as end_tooth_number_letter on end_tooth_number_letter.tooth_number_letter_id = acotmd.match_on_end_tooth_number_id
left join unit_month_year as umy on umy.unit_month_year_id = acotmd.unit_month_year_id
WHERE acotmd.alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
