USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005 10:43AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
24/11/2005	Hien D Nguyen	1.1		Added error msg and see more clearly
01/16/2009	eponomareff		1.2		icu 19959 - additional child table contact_identifier added
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Delete contact

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_contact_delete]
(
@contact_id                                 int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_CONTACT NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_DELETE_CONTACT	= '1588800001',
@ERROR_NOT_EXIST 		= '1588800003'

IF NOT EXISTS (SELECT * FROM contact WHERE contact_id = @contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN

DELETE FROM
contact_activity
WHERE contact_activity.contact_id in
( @contact_id
)

declare @address_id int,
@contact_address_id int

DECLARE field_cursor CURSOR FOR
SELECT address_id, contact_address_id  FROM contact_address WHERE contact_id = @contact_id
OPEN field_cursor
FETCH NEXT FROM field_cursor INTO @address_id, @contact_address_id

WHILE @@fetch_status =0
BEGIN
DELETE FROM contact_address
WHERE contact_address_id = @contact_address_id

IF (@address_id is not null)
BEGIN
DELETE FROM address
WHERE address_id = @address_id
END

FETCH NEXT FROM field_cursor INTO @address_id, @contact_address_id
END

CLOSE field_cursor
DEALLOCATE field_cursor


DELETE FROM
contact_address
WHERE contact_address.contact_id in
( @contact_id
)

DELETE FROM
contact_email_address
WHERE contact_email_address.contact_id in
( @contact_id
)

DELETE FROM
contact_internet_address
WHERE contact_internet_address.contact_id in
( @contact_id
)

DELETE FROM
contact_preferred_communication
WHERE contact_preferred_communication.contact_id in
( @contact_id
)

--icu 19959
DELETE FROM
contact_identifier
WHERE contact_identifier.contact_id in
( @contact_id
)
--
DELETE FROM
contact_name
WHERE contact_name.contact_id in
( @contact_id
)
--
DELETE FROM
contact_telephone_number
WHERE contact_telephone_number.contact_id in
( @contact_id
)
--
DELETE FROM contact
WHERE contact_id = @contact_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_CONTACT)

END
RETURN @SP_SUCCESS
GO
