USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_stage_data_on_demand]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_stage_data_on_demand]
@onDemandRunId INT,
@asOfDate DATETIME,
@transactionTypeBill INT,
@transactionStatusAvailable INT

AS

SET NOCOUNT ON;

DECLARE
@paymentStatusEntered INT,
@paymentStatusAvailable INT;

SELECT @paymentStatusEntered = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'ENTERED');
SELECT @paymentStatusAvailable = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'AVAILABLE');

IF OBJECT_ID('tempdb..#transactions') IS NOT NULL
DROP TABLE #transactions;

CREATE TABLE #transactions
(
accounting_transaction_ap_id INT NOT NULL
);

INSERT INTO
#transactions
SELECT
rd.accounting_transaction_ap_id
FROM
disbursement_on_demand_run_detail rd
WHERE
rd.disbursement_on_demand_run_id = @onDemandRunId
AND rd.accounting_transaction_ap_id IS NOT NULL;

INSERT INTO
#transactions
SELECT DISTINCT
cd.accounting_transaction_ap_id
FROM
disbursement_on_demand_run_detail rd
INNER JOIN accounting_transaction_ap_claim_detail cd
ON cd.claim_id = rd.claim_id
WHERE
rd.disbursement_on_demand_run_id = @onDemandRunId
AND rd.accounting_transaction_ap_id IS NULL
AND rd.claim_id IS NOT NULL
AND NOT EXISTS (SELECT 1 FROM #transactions t WHERE t.accounting_transaction_ap_id = cd.accounting_transaction_ap_id);

INSERT INTO disbursement_claim_payment_work_table (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
claim_id,
claim_procedure_id,
plan_iteration_index,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
line_of_business_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only
)
SELECT
atap.accounting_transaction_ap_id,
CASE
WHEN atap.accounting_transaction_ap_type_id = @transactionTypeBill
THEN 1
ELSE 0
END,
atap.transaction_amount,
atap.vendor_id,
vpm.payment_method_payment_id,
c.clean_date,
cd.claim_id,
cd.claim_procedure_id,
cd.plan_iteration_index,
atap.client_id,
atap.client_group_id,
atap.benefit_contract_id,
atap.benefit_plan_id,
bc.line_of_business_id,
cp.original_line_amount,
cp.clean_date,
cp.received_date,
c.received_date,
cp.negated_claim_procedure_id,
is_payment_this_contract_only
FROM
#transactions t
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = t.accounting_transaction_ap_id
LEFT JOIN vendor_payment_method vpm
ON vpm.vendor_id = atap.vendor_id
AND vpm.effective_from <= @asOfDate
AND
(
vpm.effective_thru IS NULL
OR vpm.effective_thru >= @asOfDate
)

LEFT JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN claim_procedure cp
ON cp.claim_procedure_id = cd.claim_procedure_id
LEFT JOIN claim c
ON c.claim_id = cp.claim_id

LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = atap.benefit_contract_id
WHERE
atap.accounting_transaction_status_id = @transactionStatusAvailable
AND NOT EXISTS
(
-- Exclude transactions that are already in a payment with status of 'Entered' or 'Available'
SELECT 1
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
WHERE
apto.to_accounting_transaction_ap_id = t.accounting_transaction_ap_id
AND pd.accounting_payment_status_id IN (@paymentStatusEntered, @paymentStatusAvailable)
)
AND NOT EXISTS
(
-- Exclude transactions that are already in a Vendor Refund Request with status of 'Entered' or 'Available'
SELECT 1
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_refund_request_detail refundDetail
ON refundDetail.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
WHERE
apto.to_accounting_transaction_ap_id = t.accounting_transaction_ap_id
AND refundDetail.accounting_payment_status_id IN (@paymentStatusEntered, @paymentStatusAvailable)
)
GO
