USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_linked_accumulator]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Francis Cahill
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find Product
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_find_linked_accumulator]
(
@get_column_headers			BIT = 0
,@linked_accumulator_ud 		nvarchar(50)=null
,@description 		nvarchar(255) = null
,@show_exact_matches bit	= 0
)AS
BEGIN
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

IF @linked_accumulator_ud IS NOT NULL AND @linked_accumulator_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(linked_accumulator_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@linked_accumulator_ud,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT TOP (dbo.fn_results_limit()) linked_accumulator_id
,linked_accumulator_ud
,description
FROM 	linked_accumulator
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
--
END
--
GO
