USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_choice_list_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kquoc
DATE: 09/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/17	Thuy Ha				Return the stored beforehand
2006/02/18	Thuy Ha				Check if accumulator_valid_choice is used in family_eligibility_accumulator_choice_list_resolution,
and benefit_plan_accumulator_class_choice_resolution
2006/03/02	Thuy Ha				Remove codes related to table benefit_period_benefit_plan_choice_list
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in acc_choice_list_check table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@pre_existing_condition_rule_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_choice_list_check_delete]
(
@accumulator_choice_list_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

IF NOT EXISTS (	SELECT 	accumulator_choice_list_id
FROM 	accumulator_choice_list
WHERE 	accumulator_choice_list_id = @accumulator_choice_list_id )
BEGIN
RETURN @SP_EXCEPTION
END


IF EXISTS (
SELECT 	accumulator_limit_rule_id
FROM	accumulator_limit_rule
WHERE 	individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 	accumulator_sub_limit_rule_id
FROM	accumulator_sub_limit_rule
WHERE 	individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END


-- Selected accumulator choice list is resolved at a Family Eligibility
IF EXISTS (
SELECT 1 FROM accumulator_limit_rule alr
INNER JOIN family_eligibility_accumulator_choice_list_resolution feaclr
ON feaclr.accumulator_limit_rule_id = alr.accumulator_limit_rule_id
WHERE alr.individual_accumulator_choice_list_id  = @accumulator_choice_list_id
OR alr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
IF EXISTS (
SELECT 1 FROM accumulator_sub_limit_rule aslr
INNER JOIN family_eligibility_accumulator_choice_list_resolution feaclr
ON feaclr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR aslr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
RETURN @SP_DELETE_UNABLE
-- Selected accumulator choice list is resolved at a Benefit Plan
IF EXISTS (
SELECT 1 FROM accumulator_limit_rule alr
INNER JOIN benefit_plan_accumulator_class_choice_resolution bpaccr
ON bpaccr.accumulator_limit_rule_id = alr.accumulator_limit_rule_id
WHERE alr.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR alr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 1 FROM accumulator_sub_limit_rule aslr
INNER JOIN benefit_plan_accumulator_class_choice_resolution bpaccr
ON bpaccr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR aslr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
-- Selected accumulator choice list is resolved at an Episode
IF EXISTS (
SELECT 1 FROM accumulator_limit_rule alr
INNER JOIN episode_accumulator_choice_list_resolution eaclr
ON eaclr.accumulator_limit_rule_id = alr.accumulator_limit_rule_id
WHERE alr.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR alr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 1 FROM accumulator_sub_limit_rule aslr
INNER JOIN episode_accumulator_choice_list_resolution eaclr
ON eaclr.accumulator_sub_limit_rule_id = aslr.accumulator_sub_limit_rule_id
WHERE aslr.individual_accumulator_choice_list_id = @accumulator_choice_list_id
OR aslr.family_accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

/* [2006/03/02 ThuyHa]: Begin */
IF EXISTS (
SELECT	1
FROM	benefit_contract_accumulator_class_choice_resolution AS bcaccr
INNER JOIN accumulator_valid_choice AS avc
ON avc.accumulator_valid_choice_id = bcaccr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = bcaccr.family_accumulator_valid_choice_id
WHERE	avc.accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
/*[2006/03/02 ThuyHa]: End */
RETURN @SP_DELETE_ABLE
END
GO
