USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seed_value_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 02/13/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/13/2006	Tinh do			1.0			Created
03/12/2008	David Slayton	1.2			Updated to use accumulator_framework_accumulator_class_accumulator_id/_ud
instead of accumulator_id/_ud and family_eligibility_member_benefit_plan_id
instead of family_eligibility_member_benefit_contract_period_benefit_plan_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid Accumulator Seed Values in Accumulator Seed Amount form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_seed_value_list_load]
(
@family_eligibility_member_benefit_plan_id              INT = NULL
,@accumulator_framework_accumulator_class_accumulator_id INT = NULL
,@episode_id                                             INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
asv.accumulator_seed_value_id
,asv.accumulator_framework_accumulator_class_accumulator_id
,asv.family_eligibility_member_benefit_plan_id
,asv.episode_id
,asv.accumulator_seed_amount
,asv.tooth_system_id
,tooth_system.tooth_system_ud
,asv.tooth_number_letter_id
,tooth_number_letter.tooth_number_letter_ud
,asv.area_of_oral_cavity_id
,dbo.accumulator_seed_value_tooth_surface_separators(asv.accumulator_seed_value_id, '') AS tooth_surface_ud
,asv.effective_date
,asv.accumulator_seed_reason_id
,asr.accumulator_seed_reason_ud
,asv.comment
,asv.created_user_name as user_name
,asv.created_date

FROM accumulator_seed_value asv
LEFT JOIN accumulator_seed_reason asr
ON asr.accumulator_seed_reason_id = asv.accumulator_seed_reason_id
LEFT JOIN tooth_system
ON tooth_system.tooth_system_id = asv.tooth_system_id
LEFT JOIN tooth_number_letter
ON tooth_number_letter.tooth_number_letter_id = asv.tooth_number_letter_id
WHERE asv.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND asv.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
AND ISNULL(asv.episode_id,0) = ISNULL(@episode_id,0)
--
RETURN @SP_SUCCESS
GO
