USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_contact_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 10/29/2005
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
10/29/2005		mttran				1.0			Create
11/03/2005		kinhquoc				1.0		Change
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data for grid "Contact"
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id
--
OUTPUTS:
contact records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_contact_list_load] (@family_eligibility_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT family_eligibility_contact.family_eligibility_contact_id
,contact.contact_id
,family_eligibility.family_eligibility_id
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,family_eligibility_contact.is_primary
,family_eligibility_contact.effective_from
,family_eligibility_contact.effective_thru
,family_eligibility_contact.modified_date
FROM dbo.family_eligibility_contact
LEFT JOIN dbo.contact_association_type
ON contact_association_type.contact_association_type_id = family_eligibility_contact.contact_association_type_id
LEFT JOIN dbo.family_eligibility
ON family_eligibility.family_eligibility_id = family_eligibility_contact.family_eligibility_id
LEFT JOIN dbo.contact
ON contact.contact_id = family_eligibility_contact.contact_id
LEFT JOIN dbo.contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN dbo.alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE family_eligibility.family_eligibility_id = @family_eligibility_id
ORDER BY CASE
WHEN family_eligibility_contact.effective_from IS NULL
THEN 0
ELSE 1
END
,family_eligibility_contact.effective_from DESC
,CASE
WHEN family_eligibility_contact.effective_thru IS NULL
THEN 0
ELSE 1
END
,family_eligibility_contact.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
