USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_amt_applied_to_threshold_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------

--
DESCRIPTION:
This procedure is used to save data for grid "Coverage Incentive Applied To Threshold for the Incentive Year"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_amt_applied_to_threshold_save]
(
@family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id			int = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id													int = NULL
,@coverage_incentive_max_net_pay_id                            								int = NULL
,@amount	                        														NUMERIC(19,4) = NULL
,@as_of_date                         														datetime = NULL
,@active                                 													bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1
--
IF @family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id IS NULL
BEGIN
INSERT INTO family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold (
family_eligibility_member_benefit_plan_id
,coverage_incentive_max_net_pay_id
,amount
,as_of_date
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@coverage_incentive_max_net_pay_id
,@amount
,@as_of_date
,@active
)
SET @family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id = @@IDENTITY
END
ELSE
BEGIN
--- Updating or deleting an existing record
IF @amount IS NULL AND @as_of_date IS NULL  -- Then the record should be deleted as these are required fields
BEGIN
DELETE FROM family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold
WHERE
family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id
=
@family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id
END
ELSE -- Update the record
BEGIN
UPDATE family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold
SET
family_eligibility_member_benefit_plan_id	= @family_eligibility_member_benefit_plan_id
,coverage_incentive_max_net_pay_id			= @coverage_incentive_max_net_pay_id
,amount									= @amount
,as_of_date								= @as_of_date
,active									= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id =
@family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id
and family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
END
END

RETURN @SP_SUCCESS
GO
