USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_referral_procedure_status_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/03/2006				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_category' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_referral_procedure_status_list_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
referral_procedure_status_id
,referral_procedure_status_ud
,golden_key
FROM referral_procedure_status
ORDER BY referral_procedure_status_ud
--
RETURN @SP_SUCCESS
--
END
GO
