USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_check_delete]
(
@id      INT = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE   INT,
@SP_DELETE_UNABLE INT,
@SP_EXCEPTION     INT,
@result           INT;

SET @SP_DELETE_ABLE     = 1;
SET @SP_DELETE_UNABLE   = 0;
SET @SP_EXCEPTION       = -1;

SET @result = @SP_DELETE_ABLE;

-- return exception if beneficiary does not exist
IF NOT EXISTS (SELECT 1 FROM beneficiary WHERE beneficiary_id = @id )
BEGIN
RETURN @SP_EXCEPTION
END

-- check to see if beneficiary has been assigned to a member
ELSE IF EXISTS (SELECT 1 FROM member_beneficiary mb
WHERE mb.beneficiary_id = @id)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END

-- check to see if beneficiary has been assigned to a group
ELSE IF EXISTS (SELECT 1 FROM group_beneficiary_assignment gba
WHERE gba.beneficiary_id = @id)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END

RETURN @result
GO
