USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_component_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
DESCRIPTION: Loads the drop down for NCCI component codes
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_component_code_load]
(
@procedure_code_1 NVARCHAR(50) = NULL
)
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
procedure_code_2

FROM ncci_code_pair
WHERE @procedure_code_1 IS NULL OR procedure_code_1 = @procedure_code_1
ORDER BY procedure_code_2
--
RETURN @SP_SUCCESS
--
GO
