USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_providers_capitated_in_period_with_non_zero_total_select]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/14/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/14/2009	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Select providers in a capitation period that have capitation charges


--
REQUIREMENTS:
--
INPUTS:
@capitation_definition_id
@period_start_date
@period_end_date

HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_providers_capitated_in_period_with_non_zero_total_select]
(
@capitation_period_id INT = NULL
)
AS
select provider_id from capitation_calculation
where capitation_period_id = @capitation_period_id
group by provider_id
having sum(base_rate_amount) <> 0
order by provider_id
GO
