USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_customer_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	Tinh Do		Created 	15901: Client & group
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
11/16/2006	mttran					remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Customer Assignments grid on Group form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_customer_save]
(
@client_group_customer_id                   int = NULL   OUTPUT
,@client_group_id                            int = NULL
,@customer_id                                int = NULL
,@criteria_id                                int = NULL
,@effective_from                              datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010035',
@ERROR_CANT_INSERT 	= '159010033',
@ERROR_CANT_UPDATE 	= '159010034'
--
IF @client_group_customer_id is Null
BEGIN
--- Create a new record
INSERT INTO client_group_customer(
client_group_id
,customer_id
,criteria_id
,effective_from
,effective_thru
,active
)
VALUES
(@client_group_id
,@customer_id
,@criteria_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_group_customer_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM client_group_customer WHERE client_group_customer_id = @client_group_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

ELSE
BEGIN
--- Updating an existing record

UPDATE client_group_customer
SET
client_group_id                          = @client_group_id
,customer_id                              = @customer_id
,criteria_id                              = @criteria_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_group_customer_id = @client_group_customer_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
