USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_find_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan			1.0			Created
05/14/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.2
;
DESCRIPTION	: Procedure to find criteria

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE      PROCEDURE [dbo].[plx_criteria_ui_find_load]
(
@get_column_headers			BIT = 0
,@criteria_ud					NVARCHAR(50) = NULL
,@description					NVARCHAR(255) = NULL
,@criteria_category_id			INT = NULL
,@criteria_functional_area_id	INT = NULL
,@show_exact_matches			BIT = 0
)

AS

DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

IF @criteria_category_id > 0
SET @SqlCondition = @SqlCondition + ' AND ( criteria_processing_category.criteria_processing_category_id = ' + CONVERT(VARCHAR(10), @criteria_category_id) + ' )'

IF @criteria_functional_area_id > 0
SET @SqlCondition = @SqlCondition + ' AND ( criteria_functional_area.criteria_functional_area_id = ' +  CONVERT(VARCHAR(10),  @criteria_functional_area_id) + ' )'

IF  @criteria_ud IS NOT NULL AND @criteria_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(criteria.criteria_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@criteria_ud,@show_exact_matches)  + @Suffix
IF NOT @description IS NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(criteria.description, '''') '+ @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches)  + @Suffix

SET @SqlQuery =
'SELECT DISTINCT TOP (dbo.fn_results_limit())
criteria.criteria_id
,criteria.criteria_ud
,criteria.description
,criteria_processing_category.criteria_processing_category_ud as criteria_category_ud
,criteria_functional_area.criteria_functional_area_ud
FROM criteria
INNER JOIN criteria_processing_category ON criteria.criteria_processing_category_id =  criteria_processing_category.criteria_processing_category_id
INNER JOIN criteria_functional_area ON criteria_functional_area.criteria_functional_area_id = criteria.criteria_functional_area_id
'
--	print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
GO
