USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0     Created from plx_accounting_transaction_ap_payment_detail_load
03/02/2012	Aaron Mortensen 1.1		Added invoice_status


CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load details in header section for invoice
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_load]
(
@accounting_transaction_ar_id	Int=null
)
AS
--
--


SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
accounting_transaction_ar.accounting_transaction_ar_id AS accounting_transaction_ar_id -- invoice_id
,accounting_transaction_ar.accounting_transaction_ar_ud --as 'invoice_ud'
,accounting_transaction_ar.accounting_transaction_ar_type_id
,accounting_transaction_ar_invoice_detail.accounting_transaction_ar_invoice_detail_id
,accounting_transaction_ar.created_date as date_created
,ISNULL(accounting_transaction_ar.transaction_amount,0) AS invoice_amount --Total Invoice Amount
,accounting_transaction_ar.customer_id
,customer.customer_ud
,accounting_transaction_ar.accounting_company_id
,ac.accounting_company_ud
,accounting_transaction_ar_invoice_detail.ar_accounting_company_account_id
,aca.accounting_company_account_ud AS ar_accounting_company_account_ud
,accounting_transaction_ar_invoice_detail.accounting_invoice_status_id
,accounting_invoice_status.accounting_invoice_status_ud
,accounting_invoice_status.golden_key AS 'accounting_invoice_status_golden_key'
,accounting_transaction_ar_invoice_detail.accounting_invoice_source_id
,accounting_invoice_source.accounting_invoice_source_ud
,accounting_invoice_source.golden_key AS 'accounting_invoice_source_golden_key'
,accounting_transaction_ar_invoice_detail.invoice_date
,accounting_transaction_ar_invoice_detail.due_date
,accounting_transaction_ar_invoice_detail.review_period
,accounting_transaction_ar_invoice_detail.end_review_date
,accounting_transaction_ar_invoice_detail.export_date
,mn.member_id
,dbo.plx_ConcatenateName_First_Middle_Last_With_Limit(mn.name_first, mn.name_middle, mn.name_last, 100) as member_name
,c.claim_id
,c.claim_ud
,rc.reinsurance_contract_id
,rc.reinsurance_contract_ud
FROM accounting_transaction_ar
INNER JOIN accounting_transaction_ar_invoice_detail on accounting_transaction_ar.accounting_transaction_ar_id = accounting_transaction_ar_invoice_detail.accounting_transaction_ar_id
LEFT JOIN customer ON accounting_transaction_ar.customer_id = customer.customer_id
LEFT JOIN accounting_company As ac ON accounting_transaction_ar.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca ON accounting_transaction_ar_invoice_detail.ar_accounting_company_account_id = aca.accounting_company_account_id
LEFT JOIN accounting_invoice_status ON accounting_transaction_ar_invoice_detail.accounting_invoice_status_id = accounting_invoice_status.accounting_invoice_status_id
LEFT JOIN accounting_invoice_source ON accounting_transaction_ar_invoice_detail.accounting_invoice_source_id = accounting_invoice_source.accounting_invoice_source_id
LEFT JOIN family_eligibility_member fem ON accounting_transaction_ar_invoice_detail.reinsurance_family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN member_name mn ON fem.member_id = mn.member_id AND mn.is_primary = 1
LEFT JOIN claim c ON accounting_transaction_ar_invoice_detail.reinsurance_claim_id = c.claim_id
LEFT JOIN reinsurance_contract rc ON accounting_transaction_ar_invoice_detail.reinsurance_contract_id = rc.reinsurance_contract_id

WHERE     (accounting_transaction_ar.accounting_transaction_ar_id = @accounting_transaction_ar_id)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
