USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_generate_counter]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 01/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/10/2006	mttran		1.0			created
05/06/2006	Trang Huynh	1.2			added @is_daily_refresh
06/08/2010	Joe Garro	2.0			We can generate an arbitrary number of counters.
09/20/2012	eponomareff 3.0			Fix problem with @object_name length - should be 200
The procedure will return the number to start at
and calling procedures are responsible for creating the range
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Generates the counter for Auto-Generated Ids, for example
-- member
-- enrollment
-- member eligibility

Populates table that keeps track of highest counter value
for a given type and Auto-Generated Id prefix, for example:
'Member Eligibility HereIsAMemberEligibilityPrefixThatCanBeUpTo150CharsAndMayHaveSpaces'

--
REQUIREMENTS:
--
INPUTS:
object_name = 	the Prefix for the Auto-generated ID, which could be 150 chars,
depending on a rule
@number_to_create = optionally, can increment counter by more than 1 (batch process ID generation)

OUTPUTS:

--
RETURN_VALUES:

integer value of the starting counter value

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_generate_counter]
(
@object_name         NVARCHAR(200)
,@number_to_create    INT = 1
)
AS
BEGIN
SET NOCOUNT ON
DECLARE
@counter INT,
@auto_create_counter_type_id INT

BEGIN TRANSACTION

-- counter is per prefix (= type + prefix -- prefix length is 150 chars, can be composed of multiple ud's)
SELECT	@auto_create_counter_type_id = auto_create_counter_type_id
FROM	dbo.auto_create_counter_type WITH (HOLDLOCK, TABLOCKX)
WHERE	auto_create_counter_type_ud = @object_name

If @auto_create_counter_type_id Is Null
Begin
INSERT INTO dbo.auto_create_counter_type (auto_create_counter_type_ud,created_date)
VALUES (@object_name,getdate())
Set @auto_create_counter_type_id = Scope_Identity()
End

SELECT	@counter = auto_create_counter_value
FROM	dbo.auto_create_counter counter WITH (HOLDLOCK, TABLOCKX)
WHERE	counter.auto_create_counter_type_id = @auto_create_counter_type_id

DECLARE @start_at INT

If @counter Is Null
Begin
SET @start_at = 1
SET @counter = @number_to_create

INSERT INTO dbo.auto_create_counter
(
auto_create_counter_value,
auto_create_counter_type_id,
created_date,
modified_date
)
VALUES
(
@counter,
@auto_create_counter_type_id,
getdate(),
getdate()
)
End
Else
Begin
SET @start_at = @counter + 1
Set @counter = @counter + @number_to_create

UPDATE	dbo.auto_create_counter
SET	auto_create_counter_value = @counter
,modified_date =  getdate()
WHERE	auto_create_counter_type_id = @auto_create_counter_type_id
End

COMMIT TRANSACTION

RETURN @start_at

END
GO
