USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_code_group_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 26 2005  5:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down code_group_type (Code Group Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_code_group_type_load]

AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
code_group_type.code_group_type_id
,code_group_type.code_group_type_ud
--      ,code_group_type.active
--      ,code_group_type.created_user_name
--      ,code_group_type.created_group_id

--,created_group.created_group_ud
--      ,code_group_type.created_date
--      ,code_group_type.modify_date
FROM code_group_type
order by code_group_type_ud
--inner join created_group  ON created_group.created_group_id = code_group_type.created_group_id
--WHERE code_group_type.code_group_type_id = @code_group_type_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
