USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_amount_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[plx_claim_payment_run_amount_load] (
    @claim_payment_run_id INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SP_SUCCESS INT,
            @SP_EXCEPTION INT;

    SELECT @SP_SUCCESS = 0,
           @SP_EXCEPTION = -1;

    -- Temporary table to store vendor claims and amounts
    SELECT
        0 AS release,
        v.vendor_id,
        v.vendor_ud,
        v.vendor_nm,
        COUNT(DISTINCT c.claim_id) AS number_of_claims_per_vendor,
        SUM(cpra.amount) AS amount_per_vendor
    INTO #claim_run
    FROM dbo.claim_payment_run_amount cpra
    LEFT JOIN dbo.vendor v ON cpra.vendor_id = v.vendor_id
    LEFT JOIN dbo.claim_procedure cp ON cpra.claim_procedure_id = cp.claim_procedure_id
    INNER JOIN dbo.claim c ON cpra.claim_id = c.claim_id OR cp.claim_id = c.claim_id
    WHERE cpra.claim_payment_run_id = @claim_payment_run_id
    GROUP BY v.vendor_ud, v.vendor_nm, v.vendor_id;

    -- Temporary table to store available balances
    SELECT
        SUM(CASE accounting_transaction_ap_type.golden_key
            WHEN 'CREDIT' THEN ISNULL(transaction_amount, 0) * -1
            WHEN 'BILL' THEN ISNULL(transaction_amount, 0)
        END) AS available_balances,
        vendor_id
    INTO #available_balances
    FROM accounting_transaction_ap
    LEFT JOIN accounting_transaction_ap_type ON accounting_transaction_ap.accounting_transaction_ap_type_id = accounting_transaction_ap_type.accounting_transaction_ap_type_id
    WHERE vendor_id IN (SELECT vendor_id FROM #claim_run)
      AND accounting_transaction_status_id = 1
      AND (accounting_source_id = 3 OR treat_as_accounting_source_id = 3)
    GROUP BY vendor_id
    OPTION (RECOMPILE);

    -- Temporary table to store applied amounts
    SELECT
        SUM(CASE accounting_transaction_ap_type.golden_key
            WHEN 'CREDIT' THEN ISNULL(transaction_amount, 0) * -1
            WHEN 'BILL' THEN ISNULL(transaction_amount, 0)
        END) AS applied_amount,
        vendor_id
    INTO #applied_amount
    FROM accounting_transaction_ap ap
    INNER JOIN accounting_transaction_ap_apply_to apply_to ON ap.accounting_transaction_ap_id = apply_to.to_accounting_transaction_ap_id
    INNER JOIN accounting_transaction_ap_payment_detail payment ON apply_to.from_accounting_transaction_ap_id = payment.accounting_transaction_ap_id
    LEFT JOIN accounting_transaction_ap_type ON ap.accounting_transaction_ap_type_id = accounting_transaction_ap_type.accounting_transaction_ap_type_id
    WHERE vendor_id IN (SELECT vendor_id FROM #claim_run)
      AND accounting_transaction_status_id = 1
      AND (accounting_source_id = 3 OR treat_as_accounting_source_id = 3 AND payment.accounting_payment_status_id <> 2)
    GROUP BY vendor_id
    OPTION (RECOMPILE);

    -- Final result combining all temporary tables
    SELECT
        0 AS release,
        f.vendor_id,
        f.vendor_ud,
        f.vendor_nm,
        f.number_of_claims_per_vendor,
        ISNULL(available_balances, 0) - ISNULL(applied_amount, 0) AS vendor_balance
    FROM #claim_run f
    LEFT JOIN #available_balances f1 ON f.vendor_id = f1.vendor_id
    LEFT JOIN #applied_amount f2 ON f.vendor_id = f2.vendor_id;

    -- Return success or exception based on row count
    IF @@ROWCOUNT = 1
        RETURN @SP_SUCCESS;
    ELSE
        RETURN @SP_EXCEPTION;
END;
GO
