USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_client_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 01/10/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
01/10/2006	mttran			1.0		created
04/03/2008	lrenard			1.1		changed client_group.effective_thru to isnull(client_group.effective_thru, '9/9/9999')
for the show only current check
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
The procedure is used to find the client groups that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_find_client_group_load]
(
@get_column_headers			BIT = 0
,@client_group_id					int = NULL
,@client_group_ud					NVARCHAR(50) = NULL
,@client_group_nm					NVARCHAR(50) = NULL
,@client_id							INT = NULL
,@benefit_contract_id				INT = NULL
,@vendor_id							INT = NULL
,@customer_id						INT = NULL
--	,@agent_id							INT = NULL   -- under contruction
,@company_type_id					INT = NULL
,@country_id						INT = NULL
,@state_id							INT = NULL
,@termination_reason_id				INT = NULL
,@industry_code_id					INT = NULL
,@service_representative_id			INT = NULL
,@service_type_id					INT = NULL
,@effective_from					DATETIME = NULL
,@effective_thru					DATETIME = NULL
,@show_exact_matches				BIT	= 0
,@show_only_current					BIT = 0
)

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@SqlOrder		NVARCHAR(500)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@SqlOrder		= ''
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF @client_group_ud IS NOT NULL AND @client_group_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(client_group_name.client_group_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@client_group_ud,@show_exact_matches) + @Suffix

IF ISNULL(@client_group_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group_name.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @client_group_nm IS NOT NULL AND @client_group_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(client_group_name.client_group_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@client_group_nm,@show_exact_matches) + @Suffix

IF ISNULL(@client_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF ISNULL(@benefit_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition +
' AND EXISTS (	SELECT	benefit_contract.benefit_contract_id ' +
'				FROM 	dbo.benefit_contract ' +
'				WHERE	benefit_contract.client_group_id = client_group.client_group_id ' +
'				AND		benefit_contract.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id) +
' ) '

IF ISNULL(@vendor_id, 0) > 0
SET @SqlCondition = @SqlCondition +
' AND EXISTS (	SELECT	vendor.vendor_id ' +
'				FROM 	dbo.client_group_vendor ' +
'						INNER JOIN dbo.vendor ON vendor.vendor_id = client_group_vendor.vendor_id ' +
'				WHERE	client_group_vendor.client_group_id = client_group.client_group_id ' +
'				AND		vendor.vendor_id = ' + CONVERT(NVARCHAR, @vendor_id) +
' ) '

IF ISNULL(@customer_id, 0) > 0
SET @SqlCondition = @SqlCondition +
' AND EXISTS (	SELECT	customer.customer_id ' +
'				FROM 	dbo.client_group_customer ' +
'						INNER JOIN dbo.customer ON customer.customer_id = client_group_customer.customer_id ' +
'				WHERE	client_group_customer.client_group_id = client_group.client_group_id ' +
'				AND		customer.customer_id = ' + CONVERT(NVARCHAR, @customer_id) +
' ) '

IF ISNULL(@company_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.company_type_id = ' + CONVERT(NVARCHAR, @company_type_id)

IF ISNULL(@country_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.incorporated_country_id = ' + CONVERT(NVARCHAR, @country_id)

IF ISNULL(@state_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.incorporated_state_id = ' + CONVERT(NVARCHAR, @state_id)

IF ISNULL(@termination_reason_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.termination_reason_id = ' + CONVERT(NVARCHAR, @termination_reason_id)

IF ISNULL(@industry_code_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND client_group.industry_code_id = ' + CONVERT(NVARCHAR, @industry_code_id)

IF ISNULL(@service_representative_id, 0) > 0
SET @SqlCondition = @SqlCondition +
' AND EXISTS (	SELECT	sr.client_group_service_representative_id ' +
'				FROM 	dbo.client_group_service_representative sr ' +
'				WHERE	sr.client_group_id = client_group.client_group_id ' +
'				AND		sr.service_representative_client_group_benefit_contract_id = ' + CONVERT(NVARCHAR, @service_representative_id) +
' ) '

IF ISNULL(@service_type_id, 0) > 0
SET @SqlCondition = @SqlCondition +
' AND EXISTS (	SELECT	sr.client_group_service_representative_id ' +
'				FROM 	dbo.client_group_service_representative sr ' +
'				WHERE	sr.client_group_id = client_group.client_group_id ' +
'				AND		sr.service_representative_type_id = ' + CONVERT(NVARCHAR, @service_type_id) +
' ) '
IF @show_exact_matches = 1
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, client_group.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) = 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, client_group.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) = 0 '

END
ELSE
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, client_group.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, client_group.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '
END
IF @show_only_current = 1
BEGIN
SET @SqlCondition = @SqlCondition +
' AND DATEDIFF(day, client_group.effective_from, GETDATE()) >= 0 '	+
' AND DATEDIFF(day, isnull(client_group.effective_thru, ''9/9/9999''), GETDATE()) <= 0 '
END

SET @SqlQuery =
'	SELECT  TOP (dbo.fn_results_limit())
client_group.client_group_id ' +
'	,client_group_name.client_group_name_id ' +
'	,client_group_name.client_group_ud ' +
'	,client_group_name.client_group_nm ' +
'	,client_group.incorporated_state_id ' +
'	,state.state_ud  ' +
'	,client_group.incorporated_country_id ' +
'	,country.country_ud ' +
'	,client_group.client_id ' +
'	,client_name.client_ud ' +
'	,client_group.effective_from ' +
'	,client_group.effective_thru ' +
'	FROM	dbo.client_group ' +
'	INNER JOIN dbo.client_group_name ' +
'		ON	client_group.client_group_id = client_group_name.client_group_id ' +
'		AND	client_group_name.primary_name = 1 ' +
'	INNER JOIN dbo.client ' +
'		ON	client.client_id = client_group.client_id ' +
'	INNER JOIN dbo.client_name ' +
'		ON	client_name.client_id = client.client_id ' +
'		AND	client_name.primary_name = 1 ' +
'	LEFT JOIN dbo.country ' +
'		ON 	client_group.incorporated_country_id = country.country_id ' +
'	LEFT JOIN dbo.state ' +
'		ON client_group.incorporated_state_id = state.state_id '

SET @SqlOrder = ' ORDER BY client_group_name.client_group_ud, client_group_name.client_group_nm, ' +
' client_group.effective_from, client_group.effective_thru '

EXEC(@SqlQuery + @SqlCondition + @SqlOrder)
GO
