USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_agent_service_representative_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/16/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage service representative grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:
agent_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_brokerage_agent_service_representative_list_load]
(
@brokerage_id	INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_agent_service_representative.agent_agent_service_representative_id

,agent_agent_service_representative.agent_service_representative_id

,agent_agent_service_representative.service_type_id
,service_type.service_type_ud

,agent_agent_service_representative.effective_from
,agent_agent_service_representative.effective_thru
FROM agent_agent_service_representative
INNER JOIN agent_service_representative
ON agent_agent_service_representative.agent_service_representative_id = agent_service_representative.agent_service_representative_id
LEFT JOIN service_type
ON agent_agent_service_representative.service_type_id = service_type.service_type_id
WHERE agent_agent_service_representative.agent_id = @brokerage_id

ORDER BY CASE WHEN agent_agent_service_representative.effective_from IS NULL THEN 0 ELSE 1 END ASC, agent_agent_service_representative.effective_from DESC,
CASE WHEN agent_agent_service_representative.effective_thru IS NULL THEN 0 ELSE 1 END ASC, agent_agent_service_representative.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
