USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_in_use_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_contact_in_use_list_load]
(
@contact_id int = 0
)AS
IF OBJECT_ID('tempdb..#TEMPContactsInUse') IS NOT NULL
DROP TABLE #TEMPContactsInUse

DECLARE
@zoomParameter nvarchar(50)

CREATE TABLE #TEMPContactsInUse
(
record_type nvarchar(50),
record_ud nvarchar(50),
record_id nvarchar(50), --hidden
record_name nvarchar(50),
display_form nvarchar(50), --hidden
)

/*Accounting Company*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'ACCOUNTING_COMPANY'

INSERT INTO #TEMPContactsInUse
SELECT
'Accounting Company',
ac.accounting_company_ud,
ac.accounting_company_id,
ac.description,
@zoomParameter
FROM accounting_company ac
LEFT JOIN bank_account ba ON ba.accounting_company_id = ac.accounting_company_id
JOIN bank_account_contact bac ON bac.bank_account_id = ba.bank_account_id
WHERE
bac.contact_id = @contact_id

/*Agent*/
/* not in ui_engine_lookup_parameter - is being removed */
SELECT
@zoomParameter = 'frmAgent'

INSERT INTO #TEMPContactsInUse
SELECT
'Agent',
ai.agent_ud,
a.agent_id,
dbo.plx_ConcatenateName(an.name_last, an.name_first, an.name_middle, an.name_suffix),
@zoomParameter
FROM agent a
LEFT JOIN agent_name an ON an.agent_id = a.agent_id AND an.is_primary = 1
JOIN agent_or_brokerage_type aobt ON aobt.agent_or_brokerage_type_id = a.agent_or_brokerage_type_id
LEFT JOIN agent_identifier ai ON ai.agent_id = a.agent_id AND ai.is_default = 1
JOIN agent_contact ac ON ac.agent_id = a.agent_id
WHERE
ac.contact_id = @contact_id
AND	aobt.golden_key = 'Agent'

/*Benefit Contract*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'BENEFIT_CONTRACT'

INSERT INTO #TEMPContactsInUse
SELECT
'Benefit Contract',
bc.benefit_contract_ud,
bc.benefit_contract_id,
bc.benefit_contract_nm,
@zoomParameter
FROM benefit_contract bc
JOIN benefit_contract_contact bcc ON bcc.benefit_contract_id = bc.benefit_contract_id
WHERE
bcc.contact_id = @contact_id

/*Brokerage*/
/* not in ui_engine_lookup_parameter - is being removed */
SELECT
@zoomParameter = 'frmBrokerage'

INSERT INTO #TEMPContactsInUse
SELECT
'Brokerage',
ai.agent_ud,
ac.agent_id,
dbo.plx_ConcatenateName(an.name_last, an.name_first, an.name_middle, an.name_suffix),
@zoomParameter
FROM agent a
LEFT JOIN agent_name an ON an.agent_id = a.agent_id AND an.is_primary = 1
JOIN agent_or_brokerage_type aobt ON aobt.agent_or_brokerage_type_id = a.agent_or_brokerage_type_id
LEFT JOIN agent_identifier ai ON ai.agent_id = a.agent_id AND ai.is_default = 1
JOIN agent_contact ac ON ac.agent_id = a.agent_id
WHERE
ac.contact_id = @contact_id
AND	aobt.golden_key = 'Brokerage'

/*Carrier*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'CARRIER'

INSERT INTO #TEMPContactsInUse
SELECT
'Carrier',
c.carrier_ud,
c.carrier_id,
c.carrier_nm,
@zoomParameter
FROM carrier c
JOIN carrier_contact cc ON cc.carrier_id = c.carrier_id
WHERE
cc.contact_id = @contact_id

/*Client*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'CLIENT_NAME'

INSERT INTO #TEMPContactsInUse
SELECT
'Client',
cn.client_ud,
cc.client_id,
cn.client_nm,
@zoomParameter
FROM client_contact cc
JOIN client_name cn ON cn.client_id = cc.client_id
WHERE
cc.contact_id = @contact_id
AND cn.primary_name = 1

/*Customer*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'CUSTOMER'

INSERT INTO #TEMPContactsInUse
SELECT
'Customer',
c.customer_ud,
c.customer_id,
c.customer_nm,
@zoomParameter
FROM customer c
JOIN customer_contact cc ON cc.customer_id = c.customer_id
WHERE
cc.contact_id = @contact_id

/*Family Eligibility aka Enrollment*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'FAMILY_ELIGIBILITY'

INSERT INTO #TEMPContactsInUse
SELECT
'Enrollment',
fe.family_eligibility_ud,
fe.family_eligibility_id,
'',
@zoomParameter
FROM family_eligibility fe
JOIN family_eligibility_contact fec ON fec.family_eligibility_id = fe.family_eligibility_id
WHERE
fec.contact_id = @contact_id

/*Group*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'CLIENT_GROUP_NAME'

INSERT INTO #TEMPContactsInUse
SELECT
'Group',
cgn.client_group_ud,
cgc.client_group_id,
cgn.client_group_nm,
@zoomParameter
FROM client_group_contact cgc
JOIN client_group_name cgn ON cgn.client_group_id = cgc.client_group_id
WHERE
cgc.contact_id = @contact_id
AND cgn.primary_name = 1

/*Member*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'MEMBER'

INSERT INTO #TEMPContactsInUse
SELECT
'Member',
mpi.id_value,
mc.member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix),
@zoomParameter
FROM member_contact mc
JOIN member_name mn ON mn.member_id = mc.member_id
JOIN member_personal_id mpi ON mpi.member_id = mc.member_id
JOIN member_id_type mit ON mit.member_id_type_id = mpi.member_id_type_id AND mit.golden_key = 'AUTO_GENERATED_ID'
WHERE
mc.contact_id = @contact_id
AND mn.is_primary = 1

/*Member COB*/
INSERT INTO #TEMPContactsInUse
SELECT
'Member COB - Commercial',
cmchp.insurance_plan_name,
cm.member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix),
@zoomParameter
FROM cob_member cm
LEFT JOIN cob_member_commercial_health_plan cmchp ON cmchp.cob_member_id = cm.cob_member_id
LEFT JOIN cob_member_commercial_health_plan_contact cmchpc ON cmchpc.cob_member_commercial_health_plan_id = cmchp.cob_member_commercial_health_plan_id
JOIN member_name mn ON mn.member_id = cm.member_id
WHERE
cmchpc.contact_id = @contact_id
AND mn.is_primary = 1

INSERT INTO #TEMPContactsInUse
SELECT
'Member COB - Governmental',
ghp.government_health_plan_ud,
cm.member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix),
@zoomParameter
FROM cob_member cm
LEFT JOIN cob_member_governmental_health_plan cmghp ON cmghp.cob_member_id = cm.cob_member_id
LEFT JOIN cob_member_governmental_health_plan_contact cmghpc ON cmghpc.cob_member_governmental_health_plan_id = cmghp.cob_member_governmental_health_plan_id
LEFT JOIN government_health_plan ghp ON ghp.government_health_plan_id = cmghp.government_health_plan_id
JOIN member_name mn ON mn.member_id = cm.member_id
WHERE
cmghpc.contact_id = @contact_id
AND mn.is_primary = 1

/*Member Subrogation Case*/
INSERT INTO #TEMPContactsInUse
SELECT
'Member Subrogation Case',
ccm.subrogation_case_nm,
ccm.subrogation_case_member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix),
@zoomParameter
FROM subrogation_case_member ccm
JOIN member_name mn ON mn.member_id = ccm.member_id
LEFT JOIN subrogation_case_member_third_party_liability_plan scmtplp ON scmtplp.subrogation_case_member_id = ccm.subrogation_case_member_id
JOIN subrogation_case_member_third_party_liability_plan_contact scmtplpc ON scmtplpc.subrogation_case_member_third_party_liability_plan_id = scmtplp.subrogation_case_member_third_party_liability_plan_id
WHERE
scmtplpc.contact_id = @contact_id
AND mn.is_primary = 1

/*Third Party Liability Plan*/
INSERT INTO #TEMPContactsInUse
SELECT
'Third Party Liability Plan',
tplp.insurance_plan_name,
tplp.third_party_liability_plan_id,
tplp.insured_name,
@zoomParameter
FROM third_party_liability_plan_contact tplpc
JOIN third_party_liability_plan tplp ON tplp.third_party_liability_plan_id = tplpc.third_party_liability_plan_id
WHERE
tplpc.contact_id = @contact_id

/*Provider Network*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'PROVIDER_NETWORK'

INSERT INTO #TEMPContactsInUse
SELECT
'Network',
pn.provider_network_ud,
pn.provider_network_id,
pn.provider_network_nm,
@zoomParameter
FROM provider_network pn
JOIN provider_network_contact pnc ON pnc.provider_network_id = pn.provider_network_id
WHERE
pnc.contact_id = @contact_id

/*Practice Office*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'PRACTICE_OFFICE'

INSERT INTO #TEMPContactsInUse
SELECT
'Practice Office',
po.practice_office_ud,
po.practice_office_id,
po.practice_office_nm,
@zoomParameter
FROM practice_office po
JOIN practice_office_contact poc ON poc.practice_office_id = po.practice_office_id
WHERE
poc.contact_id = @contact_id

/*Vendor*/
SELECT
@zoomParameter = display_form
FROM ui_engine_lookup_parameter
WHERE
golden_key = 'VENDOR'

INSERT INTO #TEMPContactsInUse
SELECT
'Vendor',
v.vendor_ud,
v.vendor_id,
v.vendor_nm,
@zoomParameter
FROM vendor v
JOIN vendor_contact vc ON vc.vendor_id = v.vendor_id
WHERE
vc.contact_id = @contact_id

SELECT *
FROM #TEMPContactsInUse

DROP TABLE #TEMPContactsInUse

RETURN 0
GO
