USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_additional_information_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to load data to the Additional Information grid
on the following QC forms:
o	Customer Credit Memo
o	Customer Debit Memo
o	Customer Refund
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_additional_information_load]
(
@accounting_transaction_ar_id      INT = NULL,
@form_name                         NVARCHAR(255) = NULL
)
AS

IF (ISNULL(@accounting_transaction_ar_id, 0) = 0)
BEGIN
SELECT
CAST(NULL AS int) AS accounting_transaction_ar_additional_information_id,
ai.additional_information_id,
ai.is_additional_information_required,
topic.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,
value.additional_information_topic_value_id AS additional_information_selection_value,
topic.default_value AS additional_information_value,
topic.default_value AS additional_information_raw_value,
CAST(NULL AS datetime) AS effective_from,
CAST(NULL AS datetime) AS effective_thru,
CAST(NULL AS nvarchar(50)) AS comment,
topic.format_string,
CAST(0 AS bit) AS is_new_value
FROM additional_information AS ai
LEFT JOIN additional_information_form AS form
ON form.additional_information_form_id = ai.additional_information_form_id
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = ai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN additional_information_topic_value AS value
ON (value.additional_information_topic_id = topic.additional_information_topic_id
AND is_topic_value_default = 1
)
WHERE
form.additional_information_form_nm = @form_name
AND ai.is_additional_information_required = 1
END
ELSE
BEGIN

-- Get ID for User Defined Topic List GK
DECLARE @user_defined_topic_list_gk_id INT
SET @user_defined_topic_list_gk_id =
(SELECT ui_engine_data_type_id
FROM additional_information_data_type
WHERE golden_key = 'User Defined Topic List')

SELECT	addtemp.*
FROM
(
SELECT
ataai.accounting_transaction_ar_additional_information_id,
ataai.additional_information_id,
(	SELECT is_additional_information_required
FROM additional_information
WHERE additional_information_id = ataai.additional_information_id
) AS is_additional_information_required,
ataai.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,

CASE WHEN ataai.additional_information_selection_value IS NULL
AND ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN ataai.additional_information_value
ELSE ataai.additional_information_selection_value
END	AS additional_information_selection_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN NULL
ELSE ataai.additional_information_value
END	AS additional_information_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN NULL
ELSE ataai.additional_information_value
END	AS additional_information_raw_value,

ataai.effective_from,
ataai.effective_thru,
ataai.comment,
topic.format_string,
CAST(0 AS bit) AS is_new_value
FROM accounting_transaction_ar_additional_information ataai
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = ataai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN ui_engine_data_type
ON ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
WHERE	ataai.additional_information_topic_id IS NOT NULL
AND ataai.accounting_transaction_ar_id = @accounting_transaction_ar_id
UNION
-- Select topic from table of each entity
SELECT
ataai.accounting_transaction_ar_additional_information_id,
ataai.additional_information_id,
ai.is_additional_information_required,
topic.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,

CASE WHEN ataai.additional_information_selection_value IS NULL
AND ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN ataai.additional_information_value
ELSE ataai.additional_information_selection_value
END	AS additional_information_selection_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN null
ELSE ataai.additional_information_value
END	AS additional_information_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = @user_defined_topic_list_gk_id
THEN null
ELSE ataai.additional_information_value
END	AS additional_information_raw_value,

ataai.effective_from,
ataai.effective_thru,
ataai.comment,
topic.format_string,
0 AS is_new_value
FROM accounting_transaction_ar_additional_information ataai
LEFT JOIN additional_information AS ai
ON ai.additional_information_id = ataai.additional_information_id
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = ai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN ui_engine_data_type
ON ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
WHERE ataai.additional_information_id IS NOT NULL
AND ataai.accounting_transaction_ar_id = @accounting_transaction_ar_id
) AS addtemp
ORDER BY
CASE WHEN addtemp.effective_from IS NULL THEN 0 ELSE 1 END, addtemp.effective_from DESC,
CASE WHEN addtemp.effective_thru IS NULL THEN 0 ELSE 1 END, addtemp.effective_thru DESC

END
--
RETURN 0;
--
GO
