USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_data_audit_table_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kirk Chedotal
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/01/2024  Kirk Chedotal	1.0			Created
06/09/2024	Kirk Chedotal	1.1			RT-26227: changed code to cover multiple column changes on the same table
07/15/2025	Kirk Chedotal	1.2			RT-26422: removed support for NOT NULL constraint in audit tables (no other constraints previously supported)
audit table columns will all be set to NULL even if base table columns are set to NOT NULL

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
-- Adds or updates the data auditing table for the audited table specified. Also calls the
--		procedure plx_data_audit_trigger_save to Add or Update the trigger for the audited table specified.
REQUIREMENTS:
--
INPUTS:
-- @data_audit_table_id					ID for the data_audit_table table
-- @data_audit_operation				'A' for add or 'U' for update (delete has it's own process)
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
-- [plx_data_audit_trigger_save]
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_data_audit_table_save]
(
@data_audit_table_id           INT,
@data_audit_operation			CHAR(1)
)
AS

BEGIN

SET NOCOUNT ON;

-- Return constants
DECLARE @ResultCodeSuccess INT = 0;

BEGIN TRY

IF NOT EXISTS (SELECT 1
FROM dbo.data_audit_table
WHERE data_audit_table_id = @data_audit_table_id)
THROW 50000, 'Invalid data_audit_table_id', 1;

IF ISNULL(@data_audit_operation,'') NOT IN ('A','U')
THROW 50000, 'Invalid data_audit_operation', 1;

DECLARE @sql NVARCHAR(MAX) = N'';

IF @data_audit_operation = N'A'
BEGIN
-- create audit table scripts
SELECT @sql = STRING_AGG(CAST(t1.create_definition_start + t1.column_definition + t1.create_definition_end AS NVARCHAR(MAX)), '')
FROM
(
SELECT create_definition_start = CASE
WHEN c.column_id = MIN(c.column_id) OVER (PARTITION BY t.object_id) THEN
'CREATE TABLE plx_data_audit.[' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit] ' + CHAR(10)
+ '('  + CHAR(10)
+ '    ' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit_id BIGINT IDENTITY(1,1) NOT NULL,' + CHAR(10)
ELSE
''
END,
column_definition = '    [' + c.name + '] '
+ UPPER(CASE
WHEN tp.name = 'timestamp' THEN
'varbinary(8)'
WHEN tp.name = 'text' THEN
'varchar(max)'
WHEN tp.name = 'ntext' THEN
'nvarchar(max)'
WHEN tp.name = 'image' THEN
'varbinary(max)'
ELSE
tp.name
END
)
+ CASE
WHEN tp.is_table_type = 1 THEN
''
WHEN tp.is_assembly_type = 1 THEN
''
WHEN tp.name IN ( 'decimal', 'numeric' ) THEN
'(' + CAST(c.precision AS VARCHAR(2)) + ',' + CAST(c.scale AS VARCHAR(2))
+ ')'
WHEN tp.name = 'datetime2' THEN
'(' + CAST(c.scale AS VARCHAR(2)) + ')'
WHEN tp.name = 'float' THEN
CASE WHEN c.scale <= 0 THEN '' ELSE '(' + CAST(c.scale AS VARCHAR(2)) + ')' END
WHEN tp.name LIKE 'n%char%' THEN
'(' + CASE
WHEN c.max_length = -1 THEN
'max'
ELSE
CAST(c.max_length / 2 AS VARCHAR(10))
END + ')'
WHEN tp.name LIKE '%char%' THEN
'(' + CASE
WHEN c.max_length = -1 THEN
'max'
ELSE
CAST(c.max_length AS VARCHAR(10))
END + ')'
ELSE
''
END
+ CASE WHEN c.collation_name IS NOT NULL THEN ' COLLATE ' + c.collation_name ELSE '' END
+ ' NULL',
create_definition_end = CASE
WHEN c.column_id = MAX(c.column_id) OVER (PARTITION BY t.object_id) THEN
',' + CHAR(10)
+ '    [data_audit_created_user_name] NVARCHAR(128), ' + CHAR(10)
+ '    [data_audit_created_date] DATETIME, ' + CHAR(10)
+ '    [data_audit_operation] CHAR(1), ' + CHAR(10)
+ '    CONSTRAINT [pk_' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit] ' + CHAR(10)
+ '        PRIMARY KEY CLUSTERED ([' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit_id] ASC)' + CHAR(10)
+ ');'  + CHAR(10)
ELSE
',' + CHAR(10)
END
FROM sys.tables t
JOIN sys.columns c
ON t.object_id = c.object_id
JOIN sys.types tp
ON c.system_type_id = tp.system_type_id
AND c.user_type_id = tp.user_type_id
LEFT JOIN sys.identity_columns ic
ON c.object_id = ic.object_id
AND c.column_id = ic.column_id
LEFT JOIN sys.default_constraints dc
ON c.object_id = dc.parent_object_id
AND c.default_object_id = dc.object_id
AND c.column_id = dc.parent_column_id
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.[data_audit_table_schema_nm]
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE dat.data_audit_table_id = @data_audit_table_id
AND tp.name NOT IN ('image','ntext','text') -- data types are not supported for use in triggers
) t1;

END;
ELSE IF @data_audit_operation = N'U'
BEGIN

WITH
cte_core_tables AS
(
SELECT dat.data_audit_table_id,
schemaname = SCHEMA_NAME(t.schema_id),
tablename = t.name,
columnname = c.name,
typename = UPPER(   CASE
WHEN tp.name = 'timestamp' THEN
'varbinary'
WHEN tp.name = 'text' THEN
'varchar'
WHEN tp.name = 'ntext' THEN
'nvarchar'
WHEN tp.name = 'image' THEN
'varbinary'
ELSE
tp.name
END
),
c.max_length,
c.precision,
c.scale,
tp.is_assembly_type,
tp.is_table_type,
c.is_nullable,
c.collation_name
FROM sys.tables t
JOIN sys.columns c
ON t.object_id = c.object_id
JOIN sys.types tp
ON c.system_type_id = tp.system_type_id
AND c.user_type_id = tp.user_type_id
LEFT JOIN sys.identity_columns ic
ON c.object_id = ic.object_id
AND c.column_id = ic.column_id
LEFT JOIN sys.default_constraints dc
ON c.object_id = dc.parent_object_id
AND c.default_object_id = dc.object_id
AND c.column_id = dc.parent_column_id
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.data_audit_table_schema_nm
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE dat.data_audit_table_id = @data_audit_table_id
AND tp.name NOT IN ('image','ntext','text') -- data types are not supported for use in triggers
),
cte_audit_tables AS
(
SELECT dat.data_audit_table_id,
columnname = c.name,
typename = tp.name,
c.max_length,
c.precision,
c.scale,
c.is_nullable,
c.collation_name
FROM sys.tables t
JOIN sys.columns c
ON t.object_id = c.object_id
JOIN sys.types tp
ON c.system_type_id = tp.system_type_id
AND c.user_type_id = tp.user_type_id
LEFT JOIN sys.identity_columns ic
ON c.object_id = ic.object_id
AND c.column_id = ic.column_id
LEFT JOIN sys.default_constraints dc
ON c.object_id = dc.parent_object_id
AND c.default_object_id = dc.object_id
AND c.column_id = dc.parent_column_id
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = N'plx_data_audit'
AND t.name = dat.[data_audit_table_schema_nm] + '_' + dat.[data_audit_table_table_nm] + '_data_audit'
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE
dat.data_audit_table_id = @data_audit_table_id
AND c.name NOT IN (SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit_id','data_audit_created_user_name','data_audit_created_date','data_audit_operation')  -- ignore the audit table specific column
)
SELECT @sql =
STRING_AGG('ALTER TABLE plx_data_audit.' + cte_core_tables.schemaname + '_' + cte_core_tables.tablename + '_data_audit '
+ CASE
WHEN cte_audit_tables.columnname IS NULL THEN
'ADD ['
WHEN cte_core_tables.typename <> cte_audit_tables.typename
OR cte_core_tables.max_length <> cte_audit_tables.max_length
OR cte_core_tables.precision <> cte_audit_tables.precision
OR cte_core_tables.scale <> cte_audit_tables.scale
OR isnull(cte_core_tables.collation_name,'') <> isnull(cte_audit_tables.collation_name,'') THEN
'ALTER COLUMN ['
END
+ cte_core_tables.columnname + '] ' + UPPER(CASE
WHEN cte_core_tables.typename = 'timestamp' THEN
'varbinary(8)'
WHEN cte_core_tables.typename = 'text' THEN
'varchar(max)'
WHEN cte_core_tables.typename = 'ntext' THEN
'nvarchar(max)'
WHEN cte_core_tables.typename = 'image' THEN
'varbinary(max)'
ELSE
cte_core_tables.typename
END
)
+ CASE
WHEN cte_core_tables.is_table_type = 1 THEN
''
WHEN cte_core_tables.is_assembly_type = 1 THEN
''
WHEN cte_core_tables.typename IN ( 'decimal', 'numeric' ) THEN
'(' + CAST(cte_core_tables.precision AS VARCHAR(2)) + ',' + CAST(cte_core_tables.scale AS VARCHAR(2))
+ ')'
WHEN cte_core_tables.typename = 'datetime2' THEN
'(' + CAST(cte_core_tables.scale AS VARCHAR(2)) + ')'
WHEN cte_core_tables.typename = 'float' THEN
CASE WHEN cte_core_tables.scale <= 0 THEN '' ELSE '(' + CAST(cte_core_tables.scale AS VARCHAR(2)) + ')' END
WHEN cte_core_tables.typename LIKE 'n%char%' THEN
'(' + CASE
WHEN cte_core_tables.max_length = -1 THEN
'max'
ELSE
CAST(cte_core_tables.max_length / 2 AS VARCHAR(10))
END + ')'
WHEN cte_core_tables.typename LIKE '%char%' THEN
'(' + CASE
WHEN cte_core_tables.max_length = -1 THEN
'max'
ELSE
CAST(cte_core_tables.max_length AS VARCHAR(10))
END + ')'
ELSE
''
END
+ CASE WHEN cte_core_tables.collation_name IS NOT NULL THEN ' COLLATE ' + cte_core_tables.collation_name ELSE '' END
+ ' NULL', ';' + CHAR(10)) + ';'
FROM
cte_core_tables
LEFT JOIN
cte_audit_tables
ON
cte_core_tables.data_audit_table_id = cte_audit_tables.data_audit_table_id
AND cte_core_tables.columnname = cte_audit_tables.columnname
WHERE
(
cte_audit_tables.columnname IS NULL
OR cte_core_tables.typename <> cte_audit_tables.typename
OR cte_core_tables.max_length <> cte_audit_tables.max_length
OR cte_core_tables.precision <> cte_audit_tables.precision
OR cte_core_tables.scale <> cte_audit_tables.scale
OR isnull(cte_core_tables.collation_name,'') <> isnull(cte_audit_tables.collation_name,'')
);

END;  -- ELSE ERROR

EXEC (@sql);

EXEC dbo.[plx_data_audit_trigger_save] @data_audit_table_id, @data_audit_operation;

END TRY
BEGIN CATCH

DECLARE
@ErrorMessage   NVARCHAR(4000)
,   @ErrorNumber    INT           = ERROR_NUMBER()
,   @ErrorSeverity  INT           = ERROR_SEVERITY()
,   @ErrorState     INT           = ERROR_STATE()
,   @ErrorLine      INT           = ERROR_LINE()
,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT
@ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
+ CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
+ ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR(
@ErrorMessage, @ErrorSeverity, 1
,   @ErrorNumber    -- parameter: original error number.
,   @ErrorSeverity  -- parameter: original error severity.
,   @ErrorState     -- parameter: original error state.
,   @ErrorProcedure -- parameter: original error procedure name.
,   @ErrorLine      -- parameter: original error line number.
);

END CATCH;

RETURN @ResultCodeSuccess;

END;
GO
