USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_cob_member_governmental_health_plan_CAQH_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_sp_cob_member_governmental_health_plan_CAQH_backup]
as
begin

--exec dbo.bind_sp_cob_member_governmental_health_plan_CAQH_backup

with cte_update as (
SELECT  [cob_member_governmental_health_plan_id]
      ,[cob_member_id]
      ,[government_health_plan_id]
      ,[cob_government_health_plan_id_type_id]
      ,[insured_name]
      ,[sequence_id]
      ,[benefit_category_id]
      ,[governmental_policy_holder_ud]
      ,[effective_from]
      ,[effective_thru]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
  FROM [qc_core].[dbo].[cob_member_governmental_health_plan]
  where created_date >= '2025-01-01 00:00:00.000'
) --select * from cte_update

 merge into import.dbo.cob_member_governmental_health_plan_CAQH_bk as T
    using cte_update as S
        on T.cob_member_governmental_health_plan_id = S.cob_member_governmental_health_plan_id
    when not matched then
        insert ([cob_member_governmental_health_plan_id]
      ,[cob_member_id]
      ,[government_health_plan_id]
      ,[cob_government_health_plan_id_type_id]
      ,[insured_name]
      ,[sequence_id]
      ,[benefit_category_id]
      ,[governmental_policy_holder_ud]
      ,[effective_from]
      ,[effective_thru]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
      )
      values (
                s.[cob_member_governmental_health_plan_id]
                ,s.[cob_member_id]
                ,s.[government_health_plan_id]
                ,s.[cob_government_health_plan_id_type_id]
                ,s.[insured_name]
                ,s.[sequence_id]
                ,s.[benefit_category_id]
                ,s.[governmental_policy_holder_ud]
                ,s.[effective_from]
                ,s.[effective_thru]
                ,s.[active]
                ,s.[created_user_name]
                ,s.[created_group_id]
                ,s.[created_date]
                ,s.[modified_date]
                ,s.[modified_user_name]
                ,s.[object_row_version]
                )
        when matched then
            update set
            t.[cob_member_governmental_health_plan_id] = s.[cob_member_governmental_health_plan_id],
            t.[cob_member_id] = s.[cob_member_id],
            t.[government_health_plan_id] = s.[government_health_plan_id],
            t.[cob_government_health_plan_id_type_id] = s.[cob_government_health_plan_id_type_id],
            t.[insured_name] = s.[insured_name],
            t.[sequence_id] = s.[sequence_id],
            t.[benefit_category_id] = s.[benefit_category_id],
            t.[governmental_policy_holder_ud] = s.[governmental_policy_holder_ud],
            t.[effective_from] = s.[effective_from],
            t.[effective_thru] = s.[effective_thru],
            t.[active] = s.[active],
            t.[created_user_name] = s.[created_user_name],
            t.[created_group_id] = s.[created_group_id],
            t.[created_date] = s.[created_date],
            t.[modified_date] = s.[modified_date],
            t.[modified_user_name] = s.[modified_user_name],
            t.[object_row_version] = s.[object_row_version]

            ;
end
GO
