USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_ar_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By      Version Description
--------------------------------------------------------------------------------
03/10/2009  Wade Christensen 1.0     Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accounting_transaction_ar_status
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_dd_accounting_transaction_ar_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_transaction_status_id
,accounting_transaction_status_ud
,golden_key
FROM accounting_transaction_status
WHERE ISNULL(is_ar, 0) = 1
ORDER BY accounting_transaction_status_ud

RETURN @SP_SUCCESS
END
GO
