USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_agent_service_representative_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/16/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for agent service representative grid on agent form
--
REQUIREMENTS:
--
INPUTS:
@agent_agent_service_representative_id - Key to agent_agent_service_representative table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_agent_agent_service_representative_delete]
(
@agent_agent_service_representative_id INT = NULL
--,@cascade                                    BIT = 0
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''

IF NOT EXISTS (SELECT * FROM agent_agent_service_representative WHERE agent_agent_service_representative_id = @agent_agent_service_representative_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN

DELETE FROM agent_agent_service_representative
WHERE agent_agent_service_representative_id = @agent_agent_service_representative_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END

RETURN @SP_SUCCESS
GO
