USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_pay_claim_to]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  13 2005  6:54PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/5/2005       HungTNguyen     1.1           	In build 103 field [pay_claim_to_id] has been changed to [pay_claim_to_id]
12/21/2007	Vishwa Jella	1.2		Updated fields to get Plan_ID
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify Pay Claim To for Benefit Setup Errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_verify_pay_claim_to]
(
@benefit_contract_period_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT bcpbp.benefit_contract_period_benefit_plan_id, bcpbp.benefit_plan_id, benefit_plan.benefit_plan_ud, bcpbp.pay_claim_to_id
FROM benefit_contract_period_benefit_plan AS bcpbp LEFT OUTER JOIN
benefit_plan ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
WHERE (bcpbp.benefit_contract_period_id = @benefit_contract_period_id) AND (bcpbp.pay_claim_to_id IS NULL)


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
