USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_allowed_appointment_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:45AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for agent allowed appointment grid on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_agent_allowed_appointment_list_save]
(
@agent_allowed_appointment_id               int = NULL   OUTPUT
,@agent_id                                   int = NULL
,@state_id                                   int = NULL
,@carrier_id                                 int = NULL
,@agent_carrier_appointment_status_id        int = NULL
,@appointment_effective_from                             datetime = NULL
,@appointment_effective_thru                             datetime = NULL
,@active                                     bit = 1
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_allowed_appointment_id is Null
BEGIN

--- Create a new agent_allowed_appointment record
INSERT INTO agent_allowed_appointment(
agent_id
,state_id
,carrier_id
,agent_carrier_appointment_status_id
,effective_from
,effective_thru
,active
)
VALUES
(@agent_id
,@state_id
,@carrier_id
,@agent_carrier_appointment_status_id
,@appointment_effective_from
,@appointment_effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_allowed_appointment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_allowed_appointment WHERE agent_allowed_appointment_id = @agent_allowed_appointment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_allowed_appointment record
UPDATE agent_allowed_appointment
SET
agent_id                                 = @agent_id
,state_id                                 = @state_id
,carrier_id                               = @carrier_id
,agent_carrier_appointment_status_id      = @agent_carrier_appointment_status_id
,effective_from                           = @appointment_effective_from
,effective_thru                           = @appointment_effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_allowed_appointment_id = @agent_allowed_appointment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
