USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_eligibility_effective_through_udpate]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
06/20/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/20/2008	lrenard	1.0			created for D-02069 - Family Eligibility -
Member effective through dates should
be automatically filled when a benefit
period is termed.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to update eligibility term dates of the 2nd to the latest period
to be the same as the period term date if a new period is created without the previous
benefit plans.

"According to the 19323 spec page 8:
Rule: When a new Benefit Period is available for a Family Eligibility that does not
include the previous Benefit Plan option, the Eligibility IDs receive the same Effective
Through date as the Benefit Period.  If the Eligibility ID already has an associated
Effective Through date, that date is retained."

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_member_eligibility_effective_through_udpate]
(
@family_eligibility_id INT = NULL
)
AS
--
DECLARE
@benefit_contract_id int,
@latest_benefit_contract_period_id int,
@next_latest_benefit_contract_period_id int,
@MAX_EFF_THRU datetime,
@NEXT_MAX_EFF_THRU datetime,
@MAX_DATE datetime,
@SP_SUCCESS int
SELECT
@MAX_DATE = '9/9/9999',
@SP_SUCCESS = 0

IF @family_eligibility_id IS NULL RETURN @SP_SUCCESS

--get benefit contract id
SELECT @benefit_contract_id = benefit_contract_id FROM family_eligibility WHERE family_eligibility_id = @family_eligibility_id

--get the latest period
SELECT @MAX_EFF_THRU = MAX(isnull(effective_thru, @MAX_DATE))
FROM benefit_contract_period
WHERE benefit_contract_id = @benefit_contract_id

SELECT @latest_benefit_contract_period_id = benefit_contract_period_id
FROM benefit_contract_period
WHERE benefit_contract_id = @benefit_contract_id AND @MAX_EFF_THRU = isnull(effective_thru, @MAX_DATE)



--get the second to the latest period
SELECT @NEXT_MAX_EFF_THRU = MAX(isnull(effective_thru, @MAX_DATE))
FROM benefit_contract_period
WHERE benefit_contract_id = @benefit_contract_id AND isnull(effective_thru, @MAX_DATE) < @MAX_EFF_THRU

SELECT @next_latest_benefit_contract_period_id = benefit_contract_period_id
FROM benefit_contract_period
WHERE benefit_contract_id = @benefit_contract_id AND @NEXT_MAX_EFF_THRU = isnull(effective_thru, @MAX_DATE)



--
IF (@latest_benefit_contract_period_id is NULL OR @next_latest_benefit_contract_period_id is NULL) RETURN @SP_SUCCESS
--

--find all plans that are in this_period but not in next_period
SELECT benefit_plan_id
INTO #update_plan
FROM benefit_contract_period_benefit_plan bcpbp
WHERE bcpbp.benefit_plan_id IN
(select benefit_plan_id from benefit_contract_period_benefit_plan where benefit_contract_period_id = @next_latest_benefit_contract_period_id)
AND bcpbp.benefit_plan_id NOT IN
(select benefit_plan_id from benefit_contract_period_benefit_plan where benefit_contract_period_id = @latest_benefit_contract_period_id)

IF NOT EXISTS(select * from #update_plan)
BEGIN
DROP TABLE #update_plan
RETURN @SP_SUCCESS
END


--get member eligibilities associated to this family eligibility
SELECT family_eligibility_member_id
INTO #update_eligibility
FROM family_eligibility_member fem
WHERE fem.family_eligibility_id = @family_eligibility_id

IF NOT EXISTS(select * from #update_eligibility)
BEGIN
DROP TABLE #update_plan
DROP TABLE #update_eligibility
RETURN @SP_SUCCESS
END

--update the effective_thru dates for the individual eligibilities with the following conditions
--1. eligibilities for plans in the current family eligibilities benefit contract (check #update_plan table)
--2. eligibilities for members of family eligibility @family_eligibility_id (check #update_eligibility table)
--3. eligibilities have NULL for effective_thru dates
UPDATE family_eligibility_member_benefit_plan
SET effective_thru = @NEXT_MAX_EFF_THRU
WHERE
effective_thru IS NULL
AND benefit_plan_id IN (select benefit_plan_id from #update_plan)
AND family_eligibility_member_id IN (select family_eligibility_member_id from #update_eligibility)


--/*--debugging plan selection
select * from #update_plan
select * from #update_eligibility
select @next_latest_benefit_contract_period_id as '@next_latest_benefit_contract_period_id', @latest_benefit_contract_period_id as '@latest_benefit_contract_period_id'
--*/


--
DROP TABLE #update_plan
DROP TABLE #update_eligibility
RETURN @SP_SUCCESS
GO
