USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_postal_code_set_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
05/08/2008 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/08/2008	David Slayton	1.0			Created based on plx_provider_delete
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete frmPostalCodeSet object.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_postal_code_set_delete]
(
@postal_code_set_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM postal_code_set WHERE postal_code_set_id = @postal_code_set_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--dslayton: Don't know of any place where postal code sets are being used yet.
--Need to add this functionality when postal code sets start being used.

--Check if this provider is being used
--DECLARE @DELETE_OK int

--EXEC @DELETE_OK = plx_postal_code_set_check_delete @postal_code_set_id

--IF @DELETE_OK <= 0
--	BEGIN
--		RETURN @SP_EXCEPTION
--	END

--Delete child tables
DELETE FROM postal_code_set_postal_code
WHERE postal_code_set_id = @postal_code_set_id
----------------------------------------

--Delete postal_code_set
DELETE FROM postal_code_set
WHERE postal_code_set_id = @postal_code_set_id
END
--
RETURN @SP_SUCCESS
--
GO
