USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_treatment_type_set_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
09/12/2006	Mai Tran				Change column apply_id to apply_yes_no_id & limit_id to limit_yes_no_id
12/16/2008	Jeremy Hein			Removed apply_yes_no_id and limit_yes_no_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid "Sub Limit for These Treatment Types" grid in Accumulator Framework form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_treatment_type_set_save]
(
@accumulator_sub_limit_treatment_type_set_id	int = NULL   OUTPUT
,@accumulator_sub_limit_id                      int = NULL
,@treatment_type_set_id							int = NULL
,@treatment_type_category_id                    int = NULL
,@treatment_type_id								int = NULL
,@effective_from								datetime = NULL
,@effective_thru								datetime = NULL
,@active										bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--
IF @accumulator_sub_limit_treatment_type_set_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_sub_limit_treatment_type_set(
accumulator_sub_limit_id
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@accumulator_sub_limit_id
,@treatment_type_set_id
,@treatment_type_category_id
,@treatment_type_id
,@effective_from
,@effective_thru
,@active
)
--
SET @accumulator_sub_limit_treatment_type_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_sub_limit_treatment_type_set WHERE accumulator_sub_limit_treatment_type_set_id = @accumulator_sub_limit_treatment_type_set_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE accumulator_treatment_type_set_id = @accumulator_treatment_type_set_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int


UPDATE accumulator_sub_limit_treatment_type_set
SET
treatment_type_set_id                    = @treatment_type_set_id
,treatment_type_category_id               = @treatment_type_category_id
,treatment_type_id                        = @treatment_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_sub_limit_treatment_type_set_id = @accumulator_sub_limit_treatment_type_set_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
