USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_icd]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************
HEADER_BEGIN;

AUTHOR: cknobloch
;
REVISION_HISTORY:

Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------
12/06/2017	cknobloch			1.0			Created following same pattern as plx_code_import_ncci

----------------------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure imports ICD procedure codes via the code importer.

STEPS INVOLVED:
Inserts records into temp table #tmpICDimport - this happens in the C# code.

PRE-REQUISITES:
The import table must be created in the same connection before calling this method.
This is done in the code. Below is the SQL you can use to create the prerequisite
to test this stored procedure:

-- Create the holding table
IF OBJECT_ID('#tmpICDimport') IS NOT NULL
DROP TABLE #tmpICDimport

CREATE TABLE #tmpICDimport
(
Icd10CodeField char(8) null,
ValidityField char(1) null,
ShortDescriptionField char(35) null,
LongDescriptionField char(48) null,
FullDescriptionField char(2000) null,
StatusField char(1) null,
TypeField char(1) null
)
GO

CREATE CLUSTERED INDEX [idx_#tmpICDimport_Icd10CodeField] on #tmpICDimport.Icd10CodeField
GO

INPUTS:
@diagnosis_code_icd_version_id - diagnosis_code_version id determined by the C# code
@procedure_code_icd_version_id - procedure_code_icd_version id determined by the C# code
@icd_code_import_type_id  - code_import_type id determined by the C# code
@effective_date - The new effective date for the code imported
@modified_user_name - User name passed in vi the UI

OUTPUTS:
None

RETURN_VALUES:
0	Success

CALLED PROCEDURES:
None

HEADER_END;
************************************************************************************/

CREATE PROCEDURE [dbo].[plx_code_import_icd]
(
@diagnosis_code_icd_version_id AS INT, -- diagnosis_code_version fk
@procedure_code_icd_version_id AS INT, -- procedure_code_icd_version fk
@icd_code_import_type_id AS INT,       -- code_import_type fk
@effective_date AS DATETIME,
@modified_user_name AS NVARCHAR(128)
)

AS

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@modified_date DATETIME,
@term_date DATETIME

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@modified_date = GETDATE(),
@term_date = DATEADD(dd, -1, @effective_date)

DECLARE @procedure_icd_code_type_id INT -- procedure_code_type fk
SELECT  @procedure_icd_code_type_id = procedure_code_type_id
FROM procedure_code_type
WHERE golden_key = 'ICD-9' -- 6

-- Before we do anything validate the effective dates for Diagnosis Codes
IF EXISTS( SELECT 1 FROM #tmpICDimport WHERE TypeField = 1)
-- Effective Date must be BEFORE effective froms
BEGIN
DECLARE @diagnosisXML XML =
(
SELECT DISTINCT TOP(40)
diagnosis_code_ud AS diagnosis_code,
dc.effective_from AS diagnosis_code_effective_from,
dc.effective_thru AS diagnosis_code_effective_thru,
dcc.effective_from AS diagnosis_code_complete_effective_from,
dcc.effective_thru AS diagnosis_code_complete_effective_thru
FROM diagnosis_code dc
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = dc.diagnosis_code_ud
INNER JOIN diagnosis_code_complete dcc ON dc.diagnosis_code_id = dcc.diagnosis_code_id
WHERE ((dc.effective_thru IS NULL AND dc.effective_from >= @effective_date)
OR (dcc.effective_thru IS NULL AND dcc.effective_from > @effective_date))
AND dc.diagnosis_code_version_id = @diagnosis_code_icd_version_id
AND  tmp.TypeField = 1
FOR XML AUTO
)
IF @diagnosisXML IS NOT NULL
BEGIN
PRINT 'INVALID RECORDS: '
PRINT CONVERT(NVARCHAR(MAX), @diagnosisXML)
RAISERROR('Records with effective dates on or greater than the import effective date were found.', 16, 1)
RETURN @sp_exception
END
END

-- Before we do anything validate the effective dates for Procedure Codes
IF EXISTS( SELECT 1 FROM #tmpICDimport WHERE TypeField = 3)
-- Effective Date must be BEFORE effective froms
BEGIN
DECLARE @procedureXML XML =
(
SELECT DISTINCT TOP(40)
procedure_code_ud AS procedure_code,
effective_from,
effective_thru
FROM procedure_code pc
INNER JOIN #tmpICDimport  tmp ON tmp.Icd10CodeField = pc.procedure_code_ud
WHERE pc.effective_thru IS NULL
AND pc.effective_from >= @effective_date
AND pc.procedure_code_type_id = @procedure_icd_code_type_id
AND pc.procedure_code_icd_version_id = @procedure_code_icd_version_id
AND  tmp.TypeField = 3
FOR XML AUTO
)
IF @procedureXML IS NOT NULL
BEGIN
PRINT 'INVALID RECORDS: '
PRINT CONVERT(NVARCHAR(MAX), @procedureXML)
RAISERROR('Records with effective dates on or greater than the import effective date were found.', 16, 1)
RETURN @sp_exception
END
END

-- Update the value of the "complete" field, based on the value of the Validity flag.
-- C is Complete all others are not.
UPDATE #tmpICDimport
SET ValidityField = CASE WHEN ValidityField = 'C' THEN 1 ELSE 0 END -- 2 seconds

--Handle Diagnosis Ones First - TypeField = 1

-- Term if Status is D
-- effective_from = @effective_date - 1
-- Also term them in the diagnosis_code_complete by the diagnosis_code_id

DECLARE @TermedDiagnosisCodes TABLE (diagnosis_code_id INTEGER)
UPDATE diagnosis_code
SET effective_thru = @term_date,
modified_date = @modified_date,
modified_user_name = @modified_user_name
OUTPUT inserted.diagnosis_code_id INTO @TermedDiagnosisCodes  --36 seconds
FROM diagnosis_code dc
WHERE EXISTS
( SELECT DISTINCT dc.diagnosis_code_id
FROM #tmpICDimport tmp
WHERE tmp.StatusField = 'D'
AND tmp.Icd10CodeField = dc.diagnosis_code_ud
AND dc.diagnosis_code_version_id = @diagnosis_code_icd_version_id
AND tmp.TypeField = 1 )

UPDATE diagnosis_code_complete
SET
effective_thru = @term_date,
modified_date = @modified_date,
modified_user_name = @modified_user_name
FROM diagnosis_code_complete dcc
INNER JOIN @TermedDiagnosisCodes termed
ON dcc.diagnosis_code_id = termed.diagnosis_code_id

-- Update Diagnosis Completeness - diagnosis_code_complete

-- Update the ones with same effective Date
UPDATE diagnosis_code_complete
SET
complete = tmp.ValidityField,
modified_date = @modified_date,
modified_user_name = @modified_user_name
FROM diagnosis_code_complete dcc
INNER JOIN diagnosis_code dc ON dcc.diagnosis_code_id = dc.diagnosis_code_id
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = dc.diagnosis_code_ud
WHERE dcc.complete != tmp.ValidityField
AND dcc.effective_from = @effective_date
AND dc.diagnosis_code_version_id = @diagnosis_code_icd_version_id
AND tmp.TypeField = 1

-- If complete is different than the existing record term the old and create new
DECLARE @NeedNewDiagnosisCodeComplete TABLE (diagnosis_code_id INTEGER)
UPDATE diagnosis_code_complete
SET effective_thru = @term_date,
modified_date = @modified_date,
modified_user_name = @modified_user_name
OUTPUT inserted.diagnosis_code_id INTO @NeedNewDiagnosisCodeComplete
FROM diagnosis_code_complete dcc
INNER JOIN diagnosis_code dc ON dcc.diagnosis_code_id = dc.diagnosis_code_id
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = dc.diagnosis_code_ud
WHERE dcc.complete != tmp.ValidityField
AND (dcc.effective_thru IS NULL OR dcc.effective_thru = @term_date)
AND dc.diagnosis_code_version_id = @diagnosis_code_icd_version_id
AND tmp.TypeField = 1

-- Create new ones for the ones we just Termed
INSERT INTO diagnosis_code_complete
(
diagnosis_code_id,
complete,
effective_from,
effective_thru
)
SELECT new.diagnosis_code_id, tmp.ValidityField, @effective_date, CASE WHEN tmp.StatusField = 'D' THEN @effective_date ELSE NULL END
FROM @NeedNewDiagnosisCodeComplete new
INNER JOIN diagnosis_code dc ON dc.diagnosis_code_id = new.diagnosis_code_id
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = dc.diagnosis_code_ud
WHERE  tmp.TypeField = 1

-- Update and Create New Diagnosis Codes
-- If the Code Exists
-- Update Description = LongDescription
-- ModifiedDate = Today
-- ModifiedUser = Pass this in
-- Also Create New Diagnosis Complete Records for the New Diagnosis Codes
-- Add the new diagnosis_code_ids to the diagnosis_code_complete

DECLARE @NewDiagnosisCodes TABLE (ActionTaken nvarchar(10), diagnosis_code_id INTEGER)
MERGE diagnosis_code AS target
USING (
SELECT
Icd10CodeField,
LongDescriptionField,
StatusField
FROM #tmpICDimport tmp
WHERE tmp.TypeField = 1
) AS source
ON  source.Icd10CodeField = target.diagnosis_code_ud
AND (target.effective_thru IS NULL OR target.effective_thru >= @term_date)
-- Effective Thru must be greater than @effective_date because we term existing records
-- with @effective_date - 1 and we dont want those to trigger a new record
AND target.diagnosis_code_version_id = @diagnosis_code_icd_version_id
WHEN MATCHED THEN UPDATE SET
description = RTRIM(source.LongDescriptionField),
modified_date = @modified_date,
modified_user_name = @modified_user_name
WHEN NOT MATCHED THEN
INSERT (diagnosis_code_ud,
description,
diagnosis_code_version_id,
effective_from,
effective_thru)
VALUES (RTRIM(source.Icd10CodeField),
RTRIM(source.LongDescriptionField),
@diagnosis_code_icd_version_id,
@effective_date,
CASE WHEN source.StatusField = 'D' THEN @effective_date ELSE NULL END)
-- If the code is new to us but has a status field of D it has been deleted.
-- Code Importer Code terms this with the effective_date not effective_date - 1
-- so this means that the effective_from and effective_thru will have the same date.
OUTPUT $action, inserted.diagnosis_code_id INTO @NewDiagnosisCodes;  --36 seconds


INSERT INTO diagnosis_code_complete
(
diagnosis_code_id,
complete,
effective_from,
effective_thru
)
SELECT
new.diagnosis_code_id, tmp.ValidityField, @effective_date, CASE WHEN tmp.StatusField = 'D' THEN @effective_date ELSE NULL END
FROM @NewDiagnosisCodes new
INNER JOIN diagnosis_code dc ON dc.diagnosis_code_id = new.diagnosis_code_id
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = dc.diagnosis_code_ud
WHERE  tmp.TypeField = 1
AND new.ActionTaken = 'INSERT'

-- Then Handle Procedure Codes - TypeField = 3

-- Term if Status is D
-- effective_from = @effective_date - 1
-- Also term them in the procedure_code_code_import_type by the procedure_code_id

DECLARE @TermedProcedureCodes TABLE (procedure_code_id INTEGER)
UPDATE procedure_code
SET effective_thru = @term_date,
modified_date = @modified_date,
modified_user_name = @modified_user_name
OUTPUT inserted.procedure_code_id INTO @TermedProcedureCodes  --36 seconds
FROM procedure_code pc
WHERE EXISTS
( SELECT DISTINCT pc.procedure_code_id
FROM #tmpICDimport tmp
WHERE tmp.StatusField = 'D'
AND tmp.Icd10CodeField = pc.procedure_code_ud
AND procedure_code_type_id = @procedure_icd_code_type_id
AND procedure_code_icd_version_id = @procedure_code_icd_version_id
AND tmp.TypeField = 3 )

UPDATE procedure_code_code_import_type
SET
effective_thru = @term_date,
modified_user_name = @modified_user_name
FROM procedure_code_code_import_type pccit
INNER JOIN @TermedProcedureCodes termed
ON pccit.procedure_code_id = termed.procedure_code_id

-- Update and Create New Diagnosis Codes
-- If the Code Exists
-- Update Description = LongDescription
-- ModifiedDate = Today
-- ModifiedUser = Pass this in
-- Update Completeness
-- Also Create New Code Import Type Records for the New Procedure Codes
-- Add the new procedure_code_ids to the procedure_code_code_import_type

DECLARE @NewProcedureCodes TABLE (ActionTaken nvarchar(10), procedure_code_id INTEGER)
MERGE procedure_code AS target
USING (
SELECT
Icd10CodeField,
LongDescriptionField,
ValidityField,
StatusField
FROM #tmpICDimport tmp
WHERE tmp.TypeField = 3
) AS source
ON  source.Icd10CodeField = target.procedure_code_ud
AND (target.effective_thru IS NULL OR target.effective_thru >= @term_date)
-- Effective Thru must be greater than @effective_date because we term existing records
-- with @effective_date - 1 and we dont want those to trigger a new record
AND target.procedure_code_type_id = @procedure_icd_code_type_id
AND target.procedure_code_icd_version_id = @procedure_code_icd_version_id
WHEN MATCHED THEN UPDATE SET
description = RTRIM(source.LongDescriptionField),
is_complete = source.ValidityField,
modified_date = @modified_date,
modified_user_name = @modified_user_name
WHEN NOT MATCHED THEN
INSERT (procedure_code_ud,
description,
procedure_code_type_id,
procedure_code_icd_version_id,
is_complete,
effective_from,
effective_thru)
VALUES (RTRIM(source.Icd10CodeField),
RTRIM(source.LongDescriptionField),
@procedure_icd_code_type_id,
@procedure_code_icd_version_id,
source.ValidityField,
@effective_date,
CASE WHEN source.StatusField = 'D' THEN @effective_date ELSE NULL END)
-- If the code is new to us but has a status field of D it has been deleted.
-- Code Importer Code terms this with the effective_date not effective_date - 1
-- so this means that the effective_from and effective_thru will have the same date.
OUTPUT $action, inserted.procedure_code_id INTO @NewProcedureCodes;  --36 seconds

INSERT INTO procedure_code_code_import_type
(
procedure_code_id,
code_import_type_id,
effective_from,
effective_thru
)
SELECT
new.procedure_code_id, @icd_code_import_type_id, @effective_date, CASE WHEN tmp.StatusField = 'D' THEN @effective_date ELSE NULL END
FROM @NewProcedureCodes new
INNER JOIN procedure_code pc ON pc.procedure_code_id = new.procedure_code_id
INNER JOIN #tmpICDimport tmp ON tmp.Icd10CodeField = pc.procedure_code_ud
WHERE  tmp.TypeField = 3 AND new.ActionTaken = 'INSERT'


RETURN @SP_SUCCESS
GO
