USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_void_execute_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 07/27/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/27/2010	David Slayton	1.0		Created from plx_payment_void_execute_save.
2014-08-19	eponomareff		RT:6046 Tombstone modifications

CURRENT_VERSION: 1.0
--
DESCRIPTION:

Voids Accounting Transaction AP form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_void_execute_save]
(
@accounting_transaction_ap_id	INT = NULL OUTPUT
,@accounting_void_reason_id		INT = NULL
,@void_date						DATETIME = NULL
,@voided_by						NVARCHAR(128) = NULL
,@comments						NVARCHAR(300) = NULL
,@active						BIT = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

DECLARE @accounting_transaction_status_id INT

SELECT @accounting_transaction_status_id = accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED'

DECLARE @ErrorVar INT, @RowCountVar INT

-- Update accounting_transaction_ap record
UPDATE dbo.accounting_transaction_ap
SET
accounting_void_reason_id			= @accounting_void_reason_id
,accounting_transaction_status_id	= @accounting_transaction_status_id
,comments							= @comments
,void_date							= @void_date
,voided_by							= @voided_by
,active								= @active
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()

WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

-- Update the status in accounting_transaction_ap_payment_detail record if one exists
IF EXISTS (SELECT * FROM accounting_transaction_ap_payment_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id)
BEGIN
DECLARE
@accounting_payment_status_id INT,
@accounting_transaction_ap_payment_detail_id INT,
@accounting_payment_source_id INT,
@payment_penalty_accounting_source_id INT,
@bill_accounting_transaction_ap_type_id INT,
@claimsSourceId INT,
@capitationSourceId INT;

SELECT @accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED';

SELECT
@claimsSourceId = accounting_payment_source_id
FROM
accounting_payment_source
WHERE golden_key = 'CLAIMS';

SELECT
@capitationSourceId = accounting_payment_source_id
FROM
accounting_payment_source
WHERE golden_key = 'CAPITATION';

SELECT
@payment_penalty_accounting_source_id = accounting_source_id
FROM
accounting_source
WHERE golden_key = 'PAYMENT_PENALTY';

SELECT
@bill_accounting_transaction_ap_type_id = accounting_transaction_ap_type_id
FROM
accounting_transaction_ap_type
WHERE golden_key = 'BILL'

SELECT
@accounting_transaction_ap_payment_detail_id = accounting_transaction_ap_payment_detail_id,
@accounting_payment_source_id = accounting_payment_source_id
FROM
accounting_transaction_ap_payment_detail
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id;

UPDATE dbo.accounting_transaction_ap_payment_detail
SET
accounting_payment_status_id	= @accounting_payment_status_id,
modified_user_name 	        = ORIGINAL_LOGIN(),
modified_date 	                = GETDATE()
WHERE accounting_transaction_ap_payment_detail_id = @accounting_transaction_ap_payment_detail_id;

IF @accounting_payment_source_id = @claimsSourceId
BEGIN
-- Disbursement for claims was updated to not rely on the trigger that updates claim procedures and transactions statuses for transactions
-- in the payment (for performance).  The trigger is still in use for payments that were not generated by the disbursement process.
-- This stored procedure is how disbursement now updates those statuses for payments.
EXEC plx_disbursement_claim_payment_update_payment_related_statuses @paymentDetailId=@accounting_transaction_ap_payment_detail_id;

-- RT:10654 The above procedure doesn't handle updating transactions to 'Available' with zero pay ($0). That function needs to be very performant
-- because it is used by disbursement. Updating zero pay transactions is only needed when voiding payments, so a new procedure will
-- be called here to handle updating the zero pay transactions related to the payment being voided.
EXEC plx_void_payment_update_transactions_with_zero_amount_related_statuses @paymentDetailId = @accounting_transaction_ap_payment_detail_id

-- Disbursement for claims was updated to create payment penalties for BILLS.  When the payment is voided,
-- all associated BILL payment penalty transactions need to be voided as well.

-- Place the penalties to void in a temporary table
DECLARE @payment_penalty_transactions_to_void TABLE (payment_penalty_accounting_transaction_id INT)
INSERT INTO @payment_penalty_transactions_to_void
SELECT apply_to_atap.accounting_transaction_ap_id
FROM
accounting_transaction_ap_apply_to apply_to
JOIN accounting_transaction_ap apply_to_atap
ON apply_to.to_accounting_transaction_ap_id = apply_to_atap.accounting_transaction_ap_id
WHERE apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
AND
apply_to_atap.accounting_source_id = @payment_penalty_accounting_source_id
AND
apply_to_atap.accounting_transaction_ap_type_id = @bill_accounting_transaction_ap_type_id


-- Update the accounting transaction status for the penalty transactions
UPDATE dbo.accounting_transaction_ap
SET
accounting_void_reason_id			= @accounting_void_reason_id
,accounting_transaction_status_id	= @accounting_transaction_status_id
,comments							= @comments
,void_date							= @void_date
,voided_by							= @voided_by
,active								= @active
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE accounting_transaction_ap_id IN (SELECT payment_penalty_accounting_transaction_id FROM @payment_penalty_transactions_to_void)

-- Create reverse distribution records for the voided transaction
--Create new void distributions for accounting_transaction_ap
INSERT INTO dbo.accounting_transaction_ap_distribution(
accounting_transaction_ap_id
,accounting_company_account_id
,is_debit
,amount
)
SELECT
accounting_transaction_ap_id
,accounting_company_account_id
--Flip the is_debit bit to reverse direction of distributions
,CASE is_debit
WHEN 1 THEN 0
WHEN 0 THEN 1
END
,amount
FROM dbo.accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_id in
(SELECT payment_penalty_accounting_transaction_id FROM @payment_penalty_transactions_to_void)

END

IF @accounting_payment_source_id = @capitationSourceId
BEGIN
-- Update statuses of capitation transactions for payment
EXEC plx_disbursement_capitation_payment_update_payment_related_statuses @paymentDetailId = @accounting_transaction_ap_payment_detail_id;
END

END

--Create new void distributions for accounting_transaction_ap
INSERT INTO dbo.accounting_transaction_ap_distribution(
accounting_transaction_ap_id
,accounting_company_account_id
,is_debit
,amount
)
SELECT
accounting_transaction_ap_id
,accounting_company_account_id
--Flip the is_debit bit to reverse direction of distributions
,CASE is_debit
WHEN 1 THEN 0
WHEN 0 THEN 1
END
,amount
FROM dbo.accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

-- Handle zero pay claim lines associated with payment transaction that is being voided
-- Need to update zero_tracking_claim_procedure to null payment reference and update status to AVAILABLE
IF EXISTS(SELECT * FROM zero_tracking_claim_procedure s WHERE s.payment_accounting_transaction_ap_id = @accounting_transaction_ap_id)
BEGIN

DECLARE @availableZeroTrackingClaimProcedureStatusId INT
SET @availableZeroTrackingClaimProcedureStatusId =
(
SELECT zero_tracking_claim_procedure_status_id
FROM zero_tracking_claim_procedure_status
WHERE golden_key = 'AVAILABLE'
);

UPDATE zero_tracking_claim_procedure
SET
payment_accounting_transaction_ap_id = NULL,
zero_tracking_claim_procedure_status_id = @availableZeroTrackingClaimProcedureStatusId

FROM zero_tracking_claim_procedure zt
JOIN accounting_transaction_ap ap
ON ap.accounting_transaction_ap_id = zt.payment_accounting_transaction_ap_id

WHERE  zt.payment_accounting_transaction_ap_id = @accounting_transaction_ap_id;
END

--TODO:	Design has yet to determine whether applied to amounts should be set to 0 or not.
--			Commenting out to keep as is. If design changes their mind, just uncomment. UI already updated
--			to handle change if needed.

--Set amount to 0 for all transactions this payment was applied to.
--UPDATE dbo.accounting_transaction_ap_apply_to
--SET amount = 0.0
--WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id

--
RETURN @SP_SUCCESS
GO
