USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_pharmacy_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_pharmacy_list_load]
(
@benefit_contract_period_benefit_plan_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcpbppi.benefit_contract_period_benefit_plan_pharmacy_information_id
,bcpbppi.rx_group_number
,bcpbppi.rx_benefit_identification_number
,bcpbppi.rx_processor_control_number
,bcpbppi.rx_phone_number
,bcpbppi.effective_from
,bcpbppi.effective_thru
FROM
dbo.benefit_contract_period_benefit_plan_pharmacy_information bcpbppi
WHERE bcpbppi.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
ORDER BY
CASE WHEN bcpbppi.effective_from IS NULL THEN 0 ELSE 1 END ASC,
bcpbppi.effective_from DESC,
CASE WHEN bcpbppi.effective_thru IS NULL THEN 0 ELSE 1 END ASC,
bcpbppi.effective_thru DESC,
bcpbppi.rx_group_number

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
