USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_check_delete]
(
@id	INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE   INT,
@SP_DELETE_UNABLE INT

SELECT
@SP_DELETE_ABLE    = 1,
@SP_DELETE_UNABLE  = 0


-- First check that the coverage level process queue exists
IF NOT EXISTS (SELECT coverage_level_process_queue_id
FROM coverage_level_process_queue
WHERE coverage_level_process_queue_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS (SELECT * FROM coverage_level_process_run
WHERE coverage_level_process_queue_id = @id)
BEGIN
--check coverage level pocess runs
SELECT
'Coverage Level Process Run' AS object_golden_key,
coverage_level_process_run_ud AS object_ud
FROM coverage_level_process_run
WHERE coverage_level_process_queue_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
