USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_criteria_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/22/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/22/2008	David Slayton	1.0			Created
02/25/2010	Vishwa			1.1			Removed missing_elgiibility field on claim payment queue criteria grid to															fecilitate denied lines to pick up same quueue
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Load data for grid grdCriteria on form frmClaimPaymentQueue

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_payment_queue_criteria_load]
(
@claim_payment_queue_id    INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cpqc.claim_payment_queue_queue_criteria_id
,cpqc.criteria_id
,c.criteria_ud
,cpqc.vendor_id
,v.vendor_ud
,cpqc.client_id
,cn.client_ud
,cpqc.client_group_id
,cgn.client_group_ud
,ISNULL(cpqc.missing_vendor, 0) AS missing_vendor
,cpqc.effective_from
,cpqc.effective_thru

FROM dbo.claim_payment_queue_queue_criteria cpqc
left join dbo.criteria c ON cpqc.criteria_id = c.criteria_id
left join dbo.vendor v ON cpqc.vendor_id = v.vendor_id
left join dbo.client_name cn ON cpqc.client_id = cn.client_id
left join dbo.client_group_name cgn ON cpqc.client_group_id = cgn.client_group_id

WHERE cpqc.claim_payment_queue_id = @claim_payment_queue_id

ORDER BY CASE WHEN cpqc.effective_from IS NULL THEN 0 ELSE 1 END ASC, cpqc.effective_from DESC,
CASE WHEN cpqc.effective_thru IS NULL THEN 0 ELSE 1 END ASC, cpqc.effective_thru DESC,
c.criteria_ud, v.vendor_ud, cn.client_ud, cgn.client_group_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
