USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/07/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2005	mttran		1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save accumulator class node in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_save]
(
@accumulator_framework_accumulator_class_id	int=Null OUTPUT
,@accumulator_framework_id                   int = NULL
,@accumulator_class_id                       int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @accumulator_framework_accumulator_class_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_framework_accumulator_class (
accumulator_framework_id
,accumulator_class_id
,active
)
VALUES
(@accumulator_framework_id
,@accumulator_class_id
,@active
)
--
SET @accumulator_framework_accumulator_class_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_framework_accumulator_class WHERE accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE accumulator_framework_accumulator_class
SET
accumulator_framework_id                 = @accumulator_framework_id
,accumulator_class_id                     = @accumulator_class_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id
END
--
RETURN @SP_SUCCESS
--
GO
