USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_cleanup]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:Cleans up the staging tables used by the coverage level process.
******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_cleanup]
AS

TRUNCATE TABLE coverage_level_process_work_table;
GO
