USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyHa
Date: 02/06/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/06/2006	ThuyHa		1.0		change parameter length, correct colum name [created_date]
03/08/2006	ThuyHa		1.1		created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save benefit framework form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_save]
(
@benefit_framework_id                       int = NULL   OUTPUT
,@benefit_framework_ud                       nvarchar(50) = NULL   	--[02/06/2006 ThuyHa]
,@benefit_framework_nm                       nvarchar(100) = NULL   	--[02/06/2006 ThuyHa]
,@benefit_framework_description              nvarchar(255) = NULL   	--[02/06/2006 ThuyHa]
,@benefit_category_id                        int = NULL
,@benefit_sub_category_id                    int = NULL
,@active                                     bit = 1
,@creatied_date                              datetime = NULL
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

--
IF @benefit_framework_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_framework(
benefit_framework_ud
,benefit_framework_nm
,description
,benefit_category_id
,benefit_sub_category_id
,active
)
VALUES
(@benefit_framework_ud
,@benefit_framework_nm
,@benefit_framework_description
,@benefit_category_id
,@benefit_sub_category_id
,@active
)
--
SET @benefit_framework_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_framework WHERE benefit_framework_id = @benefit_framework_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_framework
SET
benefit_framework_ud                     = @benefit_framework_ud
,benefit_framework_nm                     = @benefit_framework_nm
,description                              = @benefit_framework_description
,benefit_category_id                      = @benefit_category_id
,benefit_sub_category_id                  = @benefit_sub_category_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_id = @benefit_framework_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--




END
--
--
RETURN @SP_SUCCESS
end
GO
