USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_carc_rarc_payment_items_to_map]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Dropdown list for Payment Items that have amounts that can be exported to 835,
and therefore need CAGC/CARC/RARC mappings.
Used in UI Form: Assign Claim Adjustment Reason Codes (frmClaimAdjustmentMap)
******************************/
CREATE PROCEDURE [dbo].[plx_dd_carc_rarc_payment_items_to_map]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
adjudication_object_id
,adjudication_object_ud
FROM dbo.adjudication_object
WHERE golden_key in
(
'ALTERNATE_COURSE_MEMBER_EXPENSE',
'BALANCE_BILLABLE',
'COB_PAYMENT_EXCESS_AMOUNT',
'CODE_DEPRECIATION_BASE_AMOUNT',
'COINSURANCE_AMOUNT',
'COPAY_AMOUNT',
'DEDUCTIBLE_AMOUNT',
'EXCEEDS_BILLED_AMOUNT',
'EXCEEDS_CONTRACT_AMOUNT',
'FFS_EQUIVALENT_AMOUNT',
'FIRST_COVERAGE_DISTRIBUTION_AMOUNT',
'INELIGIBLE_AMOUNT',
'MEMBER_EXPENSE_AMOUNT',
'MIPS_NEGATIVE_ADJUSTMENT_AMOUNT',
'MIPS_POSITIVE_ADJUSTMENT_AMOUNT',
'MISSING_AUTHORIZATION_PENALTY_AMOUNT',
'PRE_EXISTING_CONDITION_PENALTY_AMOUNT',
'PROVIDER_DISCOUNT',
'PROVIDER_RESPONSIBILITY_AMOUNT',
'SEQUESTRATION_ADJUSTMENT_AMOUNT',
'WITHHOLD_AMOUNT',
'WRITE_OFF_AMOUNT'
)
order by adjudication_object_ud

--
RETURN @SP_SUCCESS
--
GO
