USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_rendering_provider_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan			1.0		Created
10/06/2008	eponomareff		1.1		Changed to get single row with npi, removed networks
This sp should return only bindable columns
Because networks don't have primary, you may get multiple rows
back, which causes an infinite loop invoking the find
For addresses, implemented a derived table in the join
to get correct (primary/default) address from practice
office contact.
03/26/2009	David Slayton	1.2		Added ability to load based on last name and id.
06/07/2010 Aaron O'Neil     1.3     There is a set of these info look up procecures -- moved common default
address code to a view shared between them all.
Created an early exit when no parameters are given.
09/03/2014	dcannon		1.4		added delivery_route to function
12/18/2015  Incorporating performance changes for ticket 9552 - but changed generic t1, t2, t3, etc. aliases to
alias names similiar to the source tables.  Additionally took out the left trim on the provider last name
parameter as this failed a use case where there was white space at the start of the name.
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.3
;
DESCRIPTION	:
This procedure is used to load rendering provider data for Professional claim form
Code requires a single row returned to close find form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_claim_rendering_provider_info_load]
@claim_id int = NULL,
@rendering_provider_id int = NULL,
@rendering_provider_identifier_id int = NULL,
@rendering_provider_ud nvarchar(50) = NULL,
@rendering_provider_name_last nvarchar(100) = NULL
AS
SET NOCOUNT ON

DECLARE @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST table
(
rendering_provider_id int NOT NULL,
rendering_provider_identifier_id int NULL,
rendering_provider_ud nvarchar(50) NULL,
rendering_provider_name_last nvarchar(100) NULL,
rendering_provider_name nvarchar(2000) NULL,
rendering_provider_first_middle_name nvarchar(201) NULL,
rendering_provider_address nvarchar(2000) NULL,
rendering_provider_npi nvarchar(50) NULL
)

DECLARE	@npi_provider_identifier_type_id int

SET @claim_id = NULLIF(@claim_id, 0)
SET @rendering_provider_id = NULLIF(@rendering_provider_id, 0)
SET @rendering_provider_identifier_id = NULLIF(@rendering_provider_identifier_id, 0)
SET @rendering_provider_ud = NULLIF(LTRIM(RTRIM(@rendering_provider_ud)), N'')
SET @rendering_provider_name_last = NULLIF(RTRIM(@rendering_provider_name_last), N'')

IF @rendering_provider_id IS NOT NULL OR @rendering_provider_identifier_id IS NOT NULL OR @rendering_provider_ud IS NOT NULL OR @rendering_provider_name_last IS NOT NULL
BEGIN
IF @rendering_provider_identifier_id IS NULL AND @rendering_provider_ud IS NULL
BEGIN
set transaction isolation level read uncommitted;
INSERT INTO @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST
(
rendering_provider_id,
rendering_provider_identifier_id,
rendering_provider_ud,
rendering_provider_name_last,
rendering_provider_name,
rendering_provider_first_middle_name,
rendering_provider_npi
)
SELECT
prov.provider_id AS rendering_provider_id,
NULL AS rendering_provider_identifier_id,
NULL AS rendering_provider_ud,
prov_name.name_last AS rendering_provider_name_last,
dbo.plx_ConcatenateName(prov_name.name_last, prov_name.name_first, prov_name.name_middle, NULL) AS rendering_provider_name,
COALESCE(prov_name.name_first, N'') + COALESCE(N' ' + prov_name.name_middle, N'') AS rendering_provider_first_middle_name,
N'' AS rendering_provider_npi
FROM dbo.Provider prov
LEFT JOIN dbo.provider_name prov_name
ON prov.provider_id = prov_name.provider_id
AND prov_name.is_primary = 1
WHERE
(
@rendering_provider_id IS NULL
OR
prov.provider_id = @rendering_provider_id
)
AND
(
@rendering_provider_name_last IS NULL
OR
prov_name.name_last = @rendering_provider_name_last
)
ORDER BY 1 ASC
--OPTION
--(
--	MAXDOP 1
--)
END
ELSE
BEGIN
--Get provider_identifier_type_id for NPI
SET @npi_provider_identifier_type_id =
(
SELECT
prov_id_type.provider_identifier_type_id
FROM provider_identifier_type prov_id_type
WHERE prov_id_type.golden_key = N'NPI'
)

INSERT INTO @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST
(
rendering_provider_id,
rendering_provider_identifier_id,
rendering_provider_ud,
rendering_provider_name_last,
rendering_provider_name,
rendering_provider_first_middle_name,
rendering_provider_npi
)
SELECT
prov.provider_id as rendering_provider_id,
prov_id_1.provider_identifier_id as rendering_provider_identifier_id,
prov_id_1.provider_ud as rendering_provider_ud,
prov_name.name_last as rendering_provider_name_last,
dbo.plx_ConcatenateName(prov_name.name_last, prov_name.name_first, prov_name.name_middle, NULL) AS rendering_provider_name,
COALESCE(prov_name.name_first, N'') + COALESCE(N' ' + prov_name.name_middle, N'') AS rendering_provider_first_middle_name,
prov_id_2.provider_ud as rendering_provider_npi
FROM dbo.Provider prov
LEFT OUTER JOIN dbo.provider_identifier prov_id_1
ON prov.provider_id = prov_id_1.provider_id
LEFT OUTER JOIN dbo.provider_name prov_name
ON prov.provider_id = prov_name.provider_id
AND prov_name.is_primary = 1
LEFT JOIN dbo.provider_identifier prov_id_2
on prov.provider_id = prov_id_2.provider_id
AND prov_id_2.provider_identifier_type_id = @npi_provider_identifier_type_id
WHERE
(
@rendering_provider_id IS NULL
OR
prov.provider_id = @rendering_provider_id
)
AND
(
@rendering_provider_identifier_id IS NULL
OR
prov_id_1.provider_identifier_id = @rendering_provider_identifier_id
)
AND
(
@rendering_provider_ud IS NULL
OR
prov_id_1.provider_ud = @rendering_provider_ud
)
AND
(
@rendering_provider_name_last IS NULL
OR
prov_name.name_last = @rendering_provider_name_last
)
ORDER BY 1 ASC
--OPTION
--(
--	MAXDOP 1
--)
END

UPDATE clm_rend_prov_info_results
SET
rendering_provider_address = dbo.plx_ConcatenateAddress(prov_addr.address_1, prov_addr.address_2, prov_addr.delivery_route, prov_addr.locale_id)
FROM @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST clm_rend_prov_info_results
CROSS APPLY
(
SELECT
addr.address_1,
addr.address_2,
addr.delivery_route,
addr.locale_id
FROM dbo.address addr
WHERE addr.address_id = dbo.plx_fn_claim_provider_address_id(@claim_id, clm_rend_prov_info_results.rendering_provider_id)
) prov_addr
--OPTION
--(
--	MAXDOP 1
--)
END
ELSE
BEGIN
--Insert dummy record in the returing table type in order to match the return signature of this edge case
INSERT INTO @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST
(
rendering_provider_id
)
VALUES
(
0
)
END

SELECT
NULLIF(clm_rend_prov_info_results.rendering_provider_id, 0) AS rendering_provider_id,
clm_rend_prov_info_results.rendering_provider_identifier_id,
clm_rend_prov_info_results.rendering_provider_ud,
clm_rend_prov_info_results.rendering_provider_name_last,
clm_rend_prov_info_results.rendering_provider_name,
clm_rend_prov_info_results.rendering_provider_first_middle_name,
clm_rend_prov_info_results.rendering_provider_address,
clm_rend_prov_info_results.rendering_provider_npi
FROM @CLAIM_RENDERING_PROVIDER_INFO_RESULT_LIST clm_rend_prov_info_results
ORDER BY 1 ASC

RETURN(@@ROWCOUNT)
GO
