USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_coverage_level_tier_assign_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_coverage_level_tier_assign_list_load]
(
@benefit_contract_period_benefit_plan_id INT = NULL
)
AS
SET NOCOUNT ON
SET @benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)

DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT
bpcpclta.benefit_contract_period_benefit_plan_coverage_level_tier_assignment_id
,bpcpclta.benefit_contract_period_benefit_plan_id
,bpcpclta.tier_id
,t.tier_ud
,bpcpclta.effective_from
,bpcpclta.effective_thru
,bpcpclta.active
,bpcpclta.created_user_name
,bpcpclta.created_date
,bpcpclta.modified_date
FROM benefit_contract_period_benefit_plan_coverage_level_tier_assignment AS bpcpclta
JOIN tier t
ON t.tier_id = bpcpclta.tier_id
WHERE bpcpclta.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
