USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_data_row_change_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey
--
DATE: April 27, 2010
--
DESCRIPTION:
Function to check collaborator data if the data has been modified by the user
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_check_data_row_change_exist]
(
@table_name NVARCHAR(255)
)
AS
BEGIN

DECLARE
@row_change int,
@table_def_id int

SELECT
@row_change = 0

SELECT @table_def_id = table_def_id
FROM system_table WHERE table_name = @table_name

IF @table_def_id IS NOT NULL
BEGIN
IF EXISTS (SELECT * FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id
AND (has_been_edited = 1 OR has_been_deleted = 1))
SELECT @row_change = 1
END

RETURN @row_change

END
GO
