USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_claim_procedure_cob_amount_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure  [dbo].[bind_sp_claim_procedure_cob_amount_backup]
as
Begin

--exec dbo.bind_sp_claim_procedure_cob_amount_backup

with cte_update as (
SELECT
      cpca.claim_procedure_cob_amount_id
      ,cpca.claim_cob_payer_id
      ,cpca.claim_procedure_id
      ,cpca.net_pay
      ,cpca.allowed_amount
      ,cpca.net_pay_override
      ,cpca.allowed_amount_override
      ,cpca.active
      ,cpca.created_user_name
      ,cpca.created_date
      ,cpca.modified_date
      ,cpca.modified_user_name
      ,cpca.object_row_version
  from qc_core.dbo.claim_procedure_cob_amount cpca
--  LEFT JOIN dbo.claim_procedure_cob_amount_CAQH_BK cpca_bk on cpca.claim_procedure_cob_amount_id = cpca_bk.claim_procedure_cob_amount_id
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
) --select * From cte_update

merge into import.dbo.claim_procedure_cob_amount_CAQH_BK as T
    using cte_update as S
        on T.claim_procedure_cob_amount_id = S.claim_procedure_cob_amount_id
    when not matched then
        insert (
                   claim_procedure_cob_amount_id
                  ,claim_cob_payer_id
                  ,claim_procedure_id
                  ,net_pay
                  ,allowed_amount
                  ,net_pay_override
                  ,allowed_amount_override
                  ,active
                  ,created_user_name
                  ,created_date
                  ,modified_date
                  ,modified_user_name
                  ,object_row_version
                  )
        values (
                   s.claim_procedure_cob_amount_id
                  ,s.claim_cob_payer_id
                  ,s.claim_procedure_id
                  ,s.net_pay
                  ,s.allowed_amount
                  ,s.net_pay_override
                  ,s.allowed_amount_override
                  ,s.active
                  ,s.created_user_name
                  ,s.created_date
                  ,s.modified_date
                  ,s.modified_user_name
                  ,s.object_row_version
                )
    when matched then
        update set
                t.claim_procedure_cob_amount_id = s.claim_procedure_cob_amount_id
                  ,t.claim_cob_payer_id = s.claim_cob_payer_id
                  ,t.claim_procedure_id = s.claim_procedure_id
                  ,t.net_pay = s.net_pay
                  ,t.allowed_amount = s.allowed_amount
                  ,t.net_pay_override = s.net_pay_override
                  ,t.allowed_amount_override = s.allowed_amount_override
                  ,t.active = s.active
                  ,t.created_user_name = s.created_user_name
                  ,t.created_date = s.created_date
                  ,t.modified_date = s.modified_date
                  ,t.modified_user_name = s.modified_user_name
                  ,t.object_row_version = s.object_row_version
                ;

End
GO
