USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_accounting_transaction_ap_load_show_unlocked_transactions_bk_20260605]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------

03/16/2018  LHendrix		1.0		SP13104. Created.
01/16/2026  KChedotal       2.0     RT-26216 - performance tweaks
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find data for accounting transaction find form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
Backing up code to deploy changes provided by plexis - py 20260605

******************************/
CREATE PROCEDURE [dbo].[plx_find_accounting_transaction_ap_load_show_unlocked_transactions_bk_20260605] (
@get_column_headers BIT = 0
,@accounting_transaction_ap_ud NVARCHAR(100) = NULL
,@accounting_source_id INT = NULL
,@accounting_transaction_type_id INT = NULL
,@accounting_transaction_status_id INT = NULL
,@transaction_date DATETIME = NULL
,@transaction_amount NUMERIC(20, 10) = NULL
,@accounting_company_id INT = NULL
,@accounting_company_account_id INT = NULL
,@vendor_id INT = NULL
,@claim_id INT = NULL
,@show_exact_match BIT = 0
,@show_locked_transactions BIT = 1 -- Be default set to 1 to show it on Find Accounting Transaction form
,@manual_trx_with_treat_as_claims_payment_only BIT = 0
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @local_accounting_transaction_ap_type_id_payment INT = (
SELECT accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'Payment'
);

DECLARE @local_accounting_source_id_manual INT = (
SELECT accounting_source_id
FROM accounting_source
WHERE golden_key = 'Manual Transaction'
);

DECLARE @local_accounting_source_id_claims INT = (
SELECT accounting_source_id
FROM accounting_source
WHERE golden_key = 'Claims'
);

DECLARE @local_accounting_transaction_status_id_available INT = (
SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'AVAILABLE'
);

DECLARE @local_accounting_payment_status_id_available INT = (
SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE'
);

DECLARE @local_accounting_payment_status_id_entered INT = (
SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'ENTERED'
);

-- Performance tweak: assign parameters to local variables
DECLARE @local_accounting_source_id INT = @accounting_source_id;
DECLARE @local_accounting_transaction_type_id INT = @accounting_transaction_type_id;
DECLARE @local_accounting_transaction_status_id INT = @accounting_transaction_status_id;
DECLARE @local_transaction_date_start DATETIME = CAST(@transaction_date AS DATE);
DECLARE @local_transaction_date_end DATETIME = DATEADD(DAY, 1, CAST(@transaction_date AS DATE));
DECLARE @local_transaction_amount NUMERIC(20, 10) = @transaction_amount;
DECLARE @local_accounting_company_id INT = @accounting_company_id;
DECLARE @local_accounting_company_account_id INT = @accounting_company_account_id;
DECLARE @local_vendor_id INT = @vendor_id;
DECLARE @local_claim_id INT = @claim_id;
DECLARE @local_accounting_transaction_ap_id INT;
DECLARE @local_accounting_transaction_ap_ids TABLE (atap_id INT PRIMARY KEY);

IF @show_exact_match = 1
BEGIN

SELECT @local_accounting_transaction_ap_id = accounting_transaction_ap_id
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_ud = @accounting_transaction_ap_ud;

SELECT DISTINCT TOP (dbo.fn_results_limit())
a.accounting_transaction_ap_id AS accounting_transaction_id
,a.accounting_transaction_ap_ud AS accounting_transaction_ud
,a.transaction_date AS transaction_date
,a.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 1) AS unapplied_amount
,a.accounting_source_id
,asrc.accounting_source_ud AS accounting_source_ud
,ats.accounting_transaction_status_ud AS accounting_transaction_status_ud
,atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud
,v.vendor_ud AS vendor_ud
,v.vendor_nm
,c.claim_ud
FROM accounting_transaction_ap a
LEFT JOIN accounting_source treat_as_accounting_source
ON a.treat_as_accounting_source_id = treat_as_accounting_source.accounting_source_id
LEFT JOIN vendor v
ON v.vendor_id = a.vendor_id
LEFT JOIN accounting_transaction_ap_claim_detail det
ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id
LEFT JOIN claim c
ON c.claim_id = det.claim_id
LEFT JOIN accounting_source asrc
ON asrc.accounting_source_id = a.accounting_source_id
LEFT JOIN accounting_transaction_status ats
ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_type atype
ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_distribution atad
ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atad.accounting_company_account_id
WHERE @get_column_headers = 0
AND ats.accounting_transaction_status_id = @local_accounting_transaction_status_id_available
AND (@local_accounting_transaction_ap_id IS NULL OR a.accounting_transaction_ap_id = @local_accounting_transaction_ap_id)
AND atype.accounting_transaction_ap_type_id <> @local_accounting_transaction_ap_type_id_payment
AND (@local_accounting_source_id IS NULL OR @local_accounting_source_id = a.accounting_source_id)
AND (@local_accounting_transaction_type_id IS NULL OR @local_accounting_transaction_type_id = a.accounting_transaction_ap_type_id)
AND (@local_accounting_transaction_status_id IS NULL OR @local_accounting_transaction_status_id = a.accounting_transaction_status_id)
AND (
@local_transaction_date_start IS NULL OR
(a.transaction_date >= @local_transaction_date_start
AND a.transaction_date < @local_transaction_date_end)
)
AND (@local_accounting_company_id IS NULL OR @local_accounting_company_id = aca.accounting_company_id)
AND (@local_accounting_company_account_id IS NULL OR @local_accounting_company_account_id = aca.accounting_company_account_id)
AND (@local_vendor_id IS NULL OR @local_vendor_id = a.vendor_id)
AND (@local_claim_id IS NULL OR @local_claim_id = det.claim_id)
AND (@local_transaction_amount IS NULL OR @local_transaction_amount = a.transaction_amount)
AND (
@manual_trx_with_treat_as_claims_payment_only IS NULL
OR @manual_trx_with_treat_as_claims_payment_only = 0
OR (
a.accounting_source_id = @local_accounting_source_id_manual
AND a.treat_as_accounting_source_id = @local_accounting_source_id_claims
AND a.accounting_transaction_status_id = @local_accounting_transaction_status_id_available
)
)
AND NOT EXISTS (
SELECT 1
FROM accounting_transaction_ap_apply_to
INNER JOIN accounting_transaction_ap
ON accounting_transaction_ap_apply_to.from_accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail
ON accounting_transaction_ap.accounting_transaction_ap_id = accounting_transaction_ap_payment_detail.accounting_transaction_ap_id
INNER JOIN accounting_payment_status
ON accounting_transaction_ap_payment_detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id
INNER JOIN accounting_transaction_ap AS accounting_transaction_ap_1
ON accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id = accounting_transaction_ap_1.accounting_transaction_ap_id
WHERE (
accounting_payment_status.accounting_payment_status_id = @local_accounting_payment_status_id_available
OR accounting_payment_status.accounting_payment_status_id = @local_accounting_payment_status_id_entered
)
AND a.accounting_transaction_ap_id = accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id
);

END
ELSE
BEGIN

INSERT INTO @local_accounting_transaction_ap_ids (atap_id)
SELECT accounting_transaction_ap_id
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_ud LIKE (@accounting_transaction_ap_ud + '%');

SELECT DISTINCT TOP (dbo.fn_results_limit())
a.accounting_transaction_ap_id AS accounting_transaction_id
,a.accounting_transaction_ap_ud AS accounting_transaction_ud
,a.transaction_date AS transaction_date
,a.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 1) AS unapplied_amount
,a.accounting_source_id
,asrc.accounting_source_ud AS accounting_source_ud
,ats.accounting_transaction_status_ud AS accounting_transaction_status_ud
,atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud
,v.vendor_ud AS vendor_ud
,v.vendor_nm
,c.claim_ud
FROM accounting_transaction_ap a
LEFT JOIN accounting_source treat_as_accounting_source
ON a.treat_as_accounting_source_id = treat_as_accounting_source.accounting_source_id
LEFT JOIN vendor v
ON v.vendor_id = a.vendor_id
LEFT JOIN accounting_transaction_ap_claim_detail det
ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id
LEFT JOIN claim c
ON c.claim_id = det.claim_id
LEFT JOIN accounting_source asrc
ON asrc.accounting_source_id = a.accounting_source_id
LEFT JOIN accounting_transaction_status ats
ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_type atype
ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_distribution atad
ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atad.accounting_company_account_id
WHERE @get_column_headers = 0
AND ats.accounting_transaction_status_id = @local_accounting_transaction_status_id_available
AND (@local_accounting_transaction_ap_id IS NULL OR a.accounting_transaction_ap_id IN (SELECT atap_id FROM @local_accounting_transaction_ap_ids))
AND atype.accounting_transaction_ap_type_id <> @local_accounting_transaction_ap_type_id_payment
AND (@local_accounting_source_id IS NULL OR @local_accounting_source_id = a.accounting_source_id)
AND (@local_accounting_transaction_type_id IS NULL OR @local_accounting_transaction_type_id = a.accounting_transaction_ap_type_id)
AND (@local_accounting_transaction_status_id IS NULL OR @local_accounting_transaction_status_id = a.accounting_transaction_status_id)
AND (
@local_transaction_date_start IS NULL OR
(a.transaction_date >= @local_transaction_date_start
AND a.transaction_date < @local_transaction_date_end)
)
AND (@local_accounting_company_id IS NULL OR @local_accounting_company_id = aca.accounting_company_id)
AND (@local_accounting_company_account_id IS NULL OR @local_accounting_company_account_id = aca.accounting_company_account_id)
AND (@local_vendor_id IS NULL OR @local_vendor_id = a.vendor_id)
AND (@local_claim_id IS NULL OR @local_claim_id = det.claim_id)
AND (@local_transaction_amount IS NULL OR @local_transaction_amount = a.transaction_amount)
AND (
@manual_trx_with_treat_as_claims_payment_only IS NULL
OR @manual_trx_with_treat_as_claims_payment_only = 0
OR (
a.accounting_source_id = @local_accounting_source_id_manual
AND a.treat_as_accounting_source_id = @local_accounting_source_id_claims
AND a.accounting_transaction_status_id = @local_accounting_transaction_status_id_available
)
)
AND NOT EXISTS (
SELECT 1
FROM accounting_transaction_ap_apply_to
INNER JOIN accounting_transaction_ap
ON accounting_transaction_ap_apply_to.from_accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail
ON accounting_transaction_ap.accounting_transaction_ap_id = accounting_transaction_ap_payment_detail.accounting_transaction_ap_id
INNER JOIN accounting_payment_status
ON accounting_transaction_ap_payment_detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id
INNER JOIN accounting_transaction_ap AS accounting_transaction_ap_1
ON accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id = accounting_transaction_ap_1.accounting_transaction_ap_id
WHERE (
accounting_payment_status.accounting_payment_status_id = @local_accounting_payment_status_id_available
OR accounting_payment_status.accounting_payment_status_id = @local_accounting_payment_status_id_entered
)
AND a.accounting_transaction_ap_id = accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id
);

END

SET NOCOUNT OFF;

END;
GO
