USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_class_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
11/16/2006	mttran					remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data of an  employee class
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_employee_class_save]
(
@employee_class_id                          int = NULL   OUTPUT
,@employee_class_ud                          nvarchar(50) = NULL
,@client_group_id                           int = NULL
,@employee_class_nm                          nvarchar(100) = NULL
,@employee_class_desc                                nvarchar(255) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010008',
@ERROR_CANT_INSERT 	= '159010006',
@ERROR_CANT_UPDATE 	= '159010007'
--
IF ISNULL(@employee_class_id, 0) <= 0
BEGIN
--- Create a new employee_class record
INSERT INTO employee_class(
employee_class_ud
,client_group_id
,employee_class_nm
,description
,active
)
VALUES
(@employee_class_ud
,@client_group_id
,@employee_class_nm
,@employee_class_desc
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @employee_class_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT employee_class_id FROM employee_class WHERE employee_class_id = @employee_class_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing employee_class record
UPDATE employee_class
SET
employee_class_ud                        = @employee_class_ud
,client_group_id                          = @client_group_id
,employee_class_nm                        = @employee_class_nm
,description                              = @employee_class_desc
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE employee_class_id = @employee_class_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--

RETURN @SP_SUCCESS
--
GO
