USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/04/2014
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/04/2014	amortensen		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Saves a record for External Claim Editing Rules Assignment grid on
frmClaimProcessingRuleFramework External Claim Editing Rules tab

--
REQUIREMENTS:
--
INPUTS:
@external_claim_editing_rule_assignment_id,
@claim_processing_rule_framework_id,
@claim_form_type_id,
@type_of_bill_set_id,
@procedure_code_group_id,
@effective_from,
@effective_thru
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_save]
(
@external_claim_editing_rules_assignment_id INT = NULL OUTPUT,
@claim_processing_rule_framework_id INT = NULL,
@claim_form_type_id INT = NULL,
@type_of_bill_set_id INT = NULL,
@procedure_code_group_id INT = NULL,
@effective_from DATETIME = NULL,
@effective_thru DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS   INT,
@ERROR_INSERT_FAILS NVARCHAR(50),
@ERROR_UPDATE_FAILS NVARCHAR(50),
@ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0,
@ERROR_INSERT_FAILS = 'G_INSERT_FAILS',
@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS',
@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@external_claim_editing_rules_assignment_id, 0) = 0
BEGIN
INSERT INTO external_claim_editing_rules_assignment(
claim_processing_rule_framework_id,
claim_form_type_id,
type_of_bill_set_id,
procedure_code_group_id,
effective_from,
effective_thru
)
VALUES(
@claim_processing_rule_framework_id,
@claim_form_type_id,
@type_of_bill_set_id,
@procedure_code_group_id,
@effective_from,
@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @external_claim_editing_rules_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM external_claim_editing_rules_assignment WHERE external_claim_editing_rules_assignment_id = @external_claim_editing_rules_assignment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE external_claim_editing_rules_assignment
SET
claim_processing_rule_framework_id	=	@claim_processing_rule_framework_id ,
claim_form_type_id					=	@claim_form_type_id,
type_of_bill_set_id					=	@type_of_bill_set_id,
procedure_code_group_id				=	@procedure_code_group_id,
effective_from						=	@effective_from,
effective_thru						=	@effective_thru,
modified_date						=	GETDATE(),
modified_user_name					=	ORIGINAL_LOGIN()

WHERE external_claim_editing_rules_assignment_id = @external_claim_editing_rules_assignment_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
