USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reconciliation_config_debit_memo_credit_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reconciliation_config_debit_memo_credit_account_load_by_accounting_company] (
@accounting_company_id int = NULL
)
AS
BEGIN
DECLARE @SP_SUCCESS INT = 0;

SELECT
accounting_company_account_id AS debit_memo_credit_accounting_company_account_id,
accounting_company_account_ud AS debit_memo_credit_accounting_company_account_ud

FROM accounting_company_account aca
JOIN account_category ac
ON ac.account_category_id = aca.account_category_id
JOIN account_status astat
ON aca.account_status_id = astat.account_status_id

WHERE
(
@accounting_company_id IS NULL
OR
aca.accounting_company_id = @accounting_company_id
)
AND
astat.golden_key = 'Active'

ORDER BY account_category_ud, accounting_company_account_ud;
--
RETURN @SP_SUCCESS;
END
--
GO
