USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/05/2005	mttran			1.0			create
12-9-2005 	Trinh Le		1.1			use alias for description
03-11-2005 	Trinh Le		1.2			Get Accumualtor Class Datatype
02/20/2008	David Slayton	1.3			Added print_on_EOB and print_on_EOP columns
simplified joins.
02/26/2008	David Slayton	1.4			Added accumulator_ud, episode_category_ud, and
episode_type_ud.
02/27/2008	David Slayton	1.5			Sourced print_on_EOB, print_on_EOP, and
min_number_individuals_before_family_met
columns from parent accumulator.
12/29/2008	Jeremy Hein		1.6			Added sub_limit_apply and sub_limit_limit from parent accumulator
04/25/2012	Kyle Maher		1.7			Added support for result_code_message
--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
Load accumulator sub limit rule data in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_load]
(
@accumulator_sub_limit_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_sub_limit.accumulator_sub_limit_id
,accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
,accumulator_sub_limit.accumulator_sub_limit_ud
,accumulator_sub_limit.description as sub_limit_description
,accumulator_sub_limit.result_code_message as sub_limit_result_code_message
,a.min_number_individuals_before_family_met as sub_limit_min_number_individuals_before_family_met
,a.apply as sub_limit_apply
,a.limit as sub_limit_limit
,a.print_on_EOB as sub_limit_print_on_EOB
,a.print_on_EOP as sub_limit_print_on_EOP
,a.per_tooth as sub_limit_per_tooth
,a.per_area_of_oral_cavity as sub_limit_per_area_of_oral_cavity
,a.limit_contracted as sub_limit_limit_contracted
,a.deductible as sub_limit_deductible
,a.coinsurance as sub_limit_coinsurance
,a.copayment as sub_limit_copayment
,accumulator.accumulator_ud as sub_limit_accumulator_ud
,ec.episode_category_ud as sub_limit_episode_category_ud
,et.episode_type_ud as sub_limit_episode_type_ud
,afac.accumulator_class_id
FROM	accumulator_sub_limit
INNER JOIN accumulator_framework_accumulator_class_accumulator a
ON a.accumulator_framework_accumulator_class_accumulator_id = accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator
ON accumulator.accumulator_id= a.accumulator_id
LEFT JOIN accumulator_framework_accumulator_class afaC
ON a.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
LEFT JOIN episode_category ec
ON a.episode_category_id = ec.episode_category_id
LEFT JOIN episode_type et
ON a.episode_type_id = et.episode_type_id
WHERE	accumulator_sub_limit_id = @accumulator_sub_limit_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
