USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:HungTNguyen
Mar 31 2006 11:06AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
-- 03/30/2006      HungTNguyen     1.0          Created
09/13/2006      HungTNguyen     1.1             Removed table member_cob
10/27/2014      Jefrey Bernard                  RT:7345 Made changes to support concurrency checking
--
DESCRIPTION:
This procedure is used to load data for frmMemberCOB form.
--
REQUIREMENTS:
-- This procedure is used to save data for form "MemberCOB"
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_cob_member_load] (@member_id INT = NULL)
AS
BEGIN
--
--
SET NOCOUNT ON;

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT;

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1;

SELECT [cob_member].[cob_member_id]
,[member].[member_id]
,[dbo].[plx_ConcatenateName]([member_name].[name_last], [member_name].[name_first], [member_name].[name_middle], NULL) AS [member_name]
,[member_personal_id].[id_value]
,[cob_member].[require_cob_information]
,[cob_member].[cob_information_last_update_date]
,CAST(NULL AS DATETIME) AS [cob_report_print_date]
,CAST(NULL AS DATETIME) AS [old_cob_report_print_date]
,[cob_member].[esrd]
,[cob_member].[esrd_effective_from]
,[cob_member].[esrd_effective_thru]
,[cob_member].[has_black_lung]
,[cob_member].[black_lung_effective_from]
,[cob_member].[black_lung_effective_thru]
,[cob_member].[kidney_transplant]
,[cob_member].[kidney_transplant_date]
,[cob_member].[disabled]
,[cob_member].[disabled_effective_from]
,[cob_member].[disabled_effective_thru]
,[cob_member].[active]
,[cob_member].[created_user_name]
,[cob_member].[created_group_id]
,[cob_member].[created_date]
,[cob_member].[modified_date]
-- hard code here
,'1' AS [force_save_change]
,[member].[use_savings_bank]
,[member].object_row_version
FROM [member]
LEFT JOIN [cob_member] ON [cob_member].[member_id] = [member].[member_id]
LEFT JOIN [member_name] ON [member_name].[member_id] = [member].[member_id]
AND [is_primary] = 1
LEFT JOIN [member_personal_id] ON [member_personal_id].[member_id] = [member].[member_id]
WHERE [member].[member_id] = @member_id;

--
IF @@ROWCOUNT = 1
BEGIN
RETURN @SP_SUCCESS;
END
ELSE
BEGIN
RETURN @SP_EXCEPTION;
END
--
;
END;
GO
