USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_present_on_admission_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2009-01-07	jgarro					Created to list Present on Admission indicators
******************************/
CREATE PROCEDURE [dbo].[plx_dd_present_on_admission_load]
AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
present_on_admission_id
,present_on_admission_ud
,golden_key
FROM present_on_admission
ORDER BY sort_order

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
