USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/17	Thuy Ha				Return the stored beforehand,
change the check rule
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a benefit id node in benefit class/choice list ID tree
, check if this item has any reference.
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_choice_list_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_check_delete]
(
@benefit_id		int = NULL
--,@output			int OUTPUT
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1
SET	@result	= @SP_DELETE_ABLE

IF NOT EXISTS (	SELECT 	benefit_id
FROM 	dbo.benefit
WHERE 	benefit_id = @benefit_id )
BEGIN
--SET @result = @SP_EXCEPTION
RETURN @SP_EXCEPTION
END

-- Cannot DELETE if benefit is resolved in a Benefit Plan
IF EXISTS (SELECT 1 FROM benefit_plan_benefit_class_choice_resolution bpbccr
INNER JOIN benefit_coverage_rules bcr
ON bpbccr.benefit_coverage_rules_id = bcr.benefit_coverage_rules_id
WHERE benefit_id = @benefit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if benefit is resolved in a Benefit Class
IF EXISTS (SELECT 1 FROM episode_benefit_class_choice_list_resolution epcclr
INNER JOIN benefit_coverage_rules bcr
ON epcclr.benefit_coverage_rules_id = bcr.benefit_coverage_rules_id
WHERE benefit_id = @benefit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if benefit is resolved in a Family Eligibility
IF EXISTS (SELECT 1 FROM family_eligibility_benefit_class_choice_list_resolution febcclr
INNER JOIN benefit_coverage_rules bcr
ON febcclr.benefit_coverage_rules_id = bcr.benefit_coverage_rules_id
WHERE benefit_id = @benefit_id)
RETURN @SP_DELETE_UNABLE

-- Cannot delete if benefit is resolved at a Benefit Contract
IF EXISTS (SELECT 1 FROM benefit_contract_benefit_class_choice_resolution bcbccr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = bcbccr.benefit_coverage_rules_id
WHERE bcr.benefit_id = @benefit_id)
RETURN @SP_DELETE_UNABLE

-- Other cases: Can delete
RETURN @result
/*
--
--ELSE
IF EXISTS(	SELECT 	1
FROM	benefit_treatment_type_set
WHERE 	benefit_id = @benefit_id
)
BEGIN
--SET @result = @SP_DELETE_UNABLE
RETURN @SP_DELETE_UNABLE
END
--ELSE
IF EXISTS(	SELECT 	1
FROM	benefit_coverage_rules
WHERE 	benefit_id = @benefit_id
)
BEGIN
--SET @result = @SP_DELETE_UNABLE
RETURN @SP_DELETE_UNABLE
END
--ELSE
IF EXISTS(	SELECT 	1
FROM	benefit_criteria
WHERE 	benefit_id = @benefit_id
)
BEGIN
--SET @result = @SP_DELETE_UNABLE
RETURN @SP_DELETE_UNABLE
END

--SELECT @result as delete_able
--set @output = @result

RETURN @result
*/
END
GO
