USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_capitation_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/10/2008	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations
02/28/2018	amortensen		1.2		RT:8562 Added wildcard encoding of ud field
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find capitation runs that match criteria.
--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_find_capitation_run_load]
(
@get_column_headers				BIT = 0
,@benefit_category_id				INT = NULL
,@benefit_contract_id				INT= NULL
,@benefit_plan_id					INT= NULL
,@capitation_definition_id			INT = NULL
,@capitation_group_id				INT = NULL
,@client_id							INT = NULL
,@end_of_review_period				DATETIME = NULL
,@client_group_id					INT = NULL
,@capitation_member_selection_id	INT = NULL
,@capitation_run_date				DATETIME = NULL
,@capitation_run_status_id			INT = NULL
,@vendor_id							INT = NULL
,@capitation_run_ud					NVARCHAR(50) = NULL
,@show_exact_matches				BIT = 0
)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

DECLARE
@_benefit_category_id				INT
,@_benefit_contract_id				INT
,@_benefit_plan_id					INT
,@_capitation_definition_id			INT
,@_capitation_group_id				INT
,@_client_id							INT
,@_end_of_review_period				DATETIME
,@_client_group_id					INT
,@_capitation_member_selection_id	INT
,@_capitation_run_date				DATETIME
,@_capitation_run_status_id			INT
,@_vendor_id							INT
,@_capitation_run_ud					NVARCHAR(50)
,@_show_exact_matches				BIT


SET	 @_benefit_category_id				= @benefit_category_id
SET	 @_benefit_contract_id				= @benefit_contract_id
SET	 @_benefit_plan_id					= @benefit_plan_id
SET	 @_capitation_definition_id			= @capitation_definition_id
SET	 @_capitation_group_id				= @capitation_group_id
SET	 @_client_id						= @client_id
SET	 @_end_of_review_period				= @end_of_review_period
SET	 @_client_group_id					= @client_group_id
SET	 @_capitation_member_selection_id	= @capitation_member_selection_id
SET	 @_capitation_run_date				= @capitation_run_date
SET	 @_capitation_run_status_id			= @capitation_run_status_id
SET	 @_vendor_id						= @vendor_id
SET	 @_capitation_run_ud				= dbo.plx_EncodeStringWildCard(@capitation_run_ud, @show_exact_matches)
SET	 @_show_exact_matches				= @show_exact_matches

SELECT DISTINCT  TOP (dbo.fn_results_limit())
cr.do_not_release
,cr.end_of_review
,cr.run_date
,cd.capitation_definition_ud
,cr.capitation_run_id
,cr.capitation_run_ud
,crs.capitation_run_status_ud
FROM  dbo.capitation_run cr
LEFT JOIN capitation_run_status crs ON
cr.capitation_run_status_id = crs.capitation_run_status_id
LEFT JOIN capitation_definition cd ON
cr.capitation_definition_id = cd.capitation_definition_id
LEFT JOIN capitation_definition_capitation_group cdcg ON
cd.capitation_definition_id = cdcg.capitation_definition_id
LEFT JOIN capitation_group cgroup ON
cdcg.capitation_group_id = cgroup.capitation_group_id
LEFT JOIN capitation_member_roster cmr ON
cd.capitation_member_roster_id = cmr.capitation_member_roster_id
LEFT JOIN capitation_calculation cc ON
cr.capitation_run_id = cc.capitation_run_id
LEFT JOIN vendor v ON
cc.vendor_id = v.vendor_id
LEFT JOIN
family_eligibility_member_benefit_plan e ON
cc.family_eligibility_member_benefit_plan_id = e.family_eligibility_member_benefit_plan_id
LEFT JOIN
family_eligibility fe_from_calc ON
cc.family_eligibility_id = fe_from_calc.family_eligibility_id
LEFT JOIN
family_eligibility_member fem ON
e.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN
family_eligibility fe ON
fem.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN
benefit_contract bc ON
(
fe.benefit_contract_id = bc.benefit_contract_id
OR
fe_from_calc.benefit_contract_id = bc.benefit_contract_id
)
LEFT JOIN
client_group cg ON
bc.client_group_id = cg.client_group_id
LEFT JOIN
client c ON
cg.client_id = c.client_id
LEFT JOIN
benefit_plan bp ON
e.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN
benefit_framework bf ON
bp.benefit_framework_id = bf.benefit_framework_id
LEFT JOIN
benefit_category bcat ON
bf.benefit_category_id = bcat.benefit_category_id
WHERE @get_column_headers = 0
AND
(
ISNULL(@_benefit_category_id, '') = ''
OR
(
bcat.benefit_category_id = @_benefit_category_id

)
)
AND
(
ISNULL(@_benefit_contract_id, '') = ''
OR
(
bc.benefit_contract_id = @_benefit_contract_id
)
)
AND
(
ISNULL(@_benefit_plan_id, '') = ''
OR
(
bp.benefit_plan_id = @_benefit_plan_id
)
)
AND
(
ISNULL(@_capitation_definition_id, '') = ''
OR
(
cd.capitation_definition_id = @_capitation_definition_id
)
)
AND
(
ISNULL(@_capitation_group_id, '') = ''
OR
(
cgroup.capitation_group_id = @_capitation_group_id
)
)
AND
(
ISNULL(@_client_id, '') = ''
OR
(
c.client_id = @_client_id
)
)
AND
(
ISNULL(@_end_of_review_period, '') = ''
OR
(
ISNULL(cr.end_of_review, '9/9/9999') >= @_end_of_review_period
)
)
AND
(
ISNULL(@_client_group_id, '') = ''
OR
(
cg.client_group_id = @_client_group_id
)
)
AND
(
ISNULL(@_capitation_member_selection_id, '') = ''
OR
(
cmr.capitation_member_selection_id = @_capitation_member_selection_id
)
)
AND
(
ISNULL(@_capitation_run_date, '') = ''
OR
(
cr.run_date >= @_capitation_run_date
)
)
AND
(
ISNULL(@_capitation_run_status_id, '') = ''
OR
(
cr.capitation_run_status_id = @_capitation_run_status_id
)
)
AND
(
ISNULL(@_vendor_id, '') = ''
OR
(
v.vendor_id = @_vendor_id
)
)
AND
(
ISNULL(@_capitation_run_ud, '') = ''
OR
(
(@_show_exact_matches = 1 AND cr.capitation_run_ud = @_capitation_run_ud)
OR
(@_show_exact_matches = 0 AND cr.capitation_run_ud LIKE @_capitation_run_ud + '%')
)
)
ORDER BY cr.capitation_run_ud

RETURN @SP_SUCCESS
GO
