USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_definition_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 03/19/2018
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is check if a Benefit Waiting Period Defininition may be deleted.

If the Benefit Waiting Period Defininition is referenced by an Override at the Eligibility
this stored procedure will return 0 [@SP_DELETE_UNABLE]

Tables:
benefit_waiting_period_relationship_to_subscriber_waiting_period
eligibility_waiting_period_definition_override

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_waiting_period_definition_check_delete]
(
@id	int = NULL
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT 1 FROM benefit_waiting_period_relationship_to_subscriber_waiting_period
WHERE benefit_waiting_period_relationship_to_subscriber_waiting_period_id = @id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END

ELSE
BEGIN
IF EXISTS(
SELECT 1
FROM eligibility_waiting_period_definition_override elig_bwpDef_Override
WHERE elig_bwpDef_Override.benefit_waiting_period_relationship_to_subscriber_waiting_period_id = @id
)
BEGIN
SET @RESULT = @SP_DELETE_UNABLE
END
ELSE
BEGIN
SET @RESULT = @SP_DELETE_ABLE
END
END
END

RETURN @RESULT
GO
