USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 09/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/26/2005	ThuyNgo		1.0		Created
09/03/2014	dcannon		1.1		added delivery_route to function
09/19/2014	dcannon		1.2			RT:7004 member address restructure
02/17/2017  jchapman	1.3		RT:11570 Changed family_eligibility join, added predicates to select only primary names
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to load data for frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_episode_load](@episode_id INT = NULL)
AS
--
--
SET NOCOUNT ON;
--
DECLARE @SP_SUCCESS INT, @SP_EXCEPTION INT;
SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
episode.episode_id,
episode.episode_ud,
episode.description AS episode_description,
episode.episode_category_id,
episode_category.episode_category_ud,
episode.episode_type_id,
episode_type.episode_type_ud,
episode.criteria_id,
criteria.criteria_ud,
episode.family_eligibility_member_benefit_plan_id,
family_eligibility_member_benefit_plan.member_eligibility_ud,
dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, member_name.name_suffix) AS member_name,
dbo.plx_ConcatenateAddress(member_address.address_1, member_address.address_2, member_address.delivery_route, locale.locale_id) AS member_address,
client_name.client_id,
client_name.client_ud,
client_group_name.client_group_id,
client_group_name.client_group_ud,
benefit_contract.benefit_contract_id,
benefit_contract.benefit_contract_ud,
benefit_plan.benefit_plan_id,
benefit_plan.benefit_plan_ud,
episode.effective_from_date_rule_id,
episode.effective_from AS episode_effective_from,
episode.effective_thru_date_rule_id AS effective_through_date_rule_id,
episode.effective_thru AS episode_effective_thru,
episode.cob_applicable,
episode.modified_date
FROM episode
LEFT JOIN episode_category ON episode_category.episode_category_id = episode.episode_category_id
LEFT JOIN episode_type ON episode_type.episode_type_id = episode.episode_type_id
LEFT JOIN criteria ON criteria.criteria_id = episode.criteria_id
LEFT JOIN family_eligibility_member_benefit_plan ON family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = episode.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN family_eligibility ON family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
LEFT JOIN member ON member.member_id = family_eligibility_member.member_id
LEFT JOIN member_name ON(member_name.member_id = family_eligibility_member.member_id
AND member_name.is_primary = 1)
LEFT JOIN member_address ON member_address.member_id = family_eligibility_member.member_id
LEFT JOIN locale ON locale.locale_id = member_address.locale_id
LEFT JOIN state ON state.state_id = locale.state_id
LEFT JOIN benefit_contract ON benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
LEFT JOIN benefit_plan ON benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
LEFT JOIN client_group ON client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client_name ON client_name.client_id = client_group.client_id
AND client_name.primary_name = 1
LEFT JOIN client_group_name ON client_group_name.client_group_id = client_group.client_group_id
AND client_group_name.primary_name = 1
WHERE episode.episode_id = @episode_id;
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS;
ELSE
BEGIN

RETURN @SP_EXCEPTION;
END;
GO
