USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 03/28/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/17/2008	Vishwa Jella	1.1		Reanmed possible_result_code related fields
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for frmClaimDuplicateRules form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_duplicate_claim_rule_load]
(
@claim_form_type_id 		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

select 	duplicate_claim_rule.duplicate_claim_rule_id
,duplicate_claim_rule.claim_form_type_id
,claim_form_type.golden_key
-- Duplicate Claim Rule Details
,isnull(duplicate_claim_rule.is_rule_enabled, 0) as 'is_rule_enabled'
,isnull(duplicate_claim_rule.ignore_denied_lines, 0) as 'ignore_denied_lines'
,isnull(duplicate_claim_rule.ignore_claim_lines_modifier_51, 0) as 'ignore_claim_lines_modifier_51'
,isnull(duplicate_claim_rule.check_duplicate_lines_same_claim, 0) as 'check_duplicate_lines_same_claim'
,duplicate_claim_rule.result_code_id  as 'duplicate_result_code_id'
,result_code.result_code_ud as 'duplicate_result_code_ud'
,result_code.short_message as 'duplicate_result_code_desc'
,duplicate_claim_rule.result_code_status_id as 'duplicate_result_code_status_id'
,result_code_status.result_code_status_ud  as 'duplicate_result_code_status_ud'

-- Possible Duplicate Rule Details
,isnull(duplicate_claim_rule.is_possible_rule_enabled, 0) as 'is_possible_rule_enabled'
,isnull(duplicate_claim_rule.possible_ignore_denied_lines, 0) as 'possible_ignore_denied_lines'
,isnull(duplicate_claim_rule.possible_ignore_claim_lines_modifier_51, 0) as 'possible_ignore_claim_lines_modifier_51'
,isnull(duplicate_claim_rule.possible_check_duplicate_lines_same_claim, 0) as 'possible_check_duplicate_lines_same_claim'
,duplicate_claim_rule.possible_result_code_id as 'possible_result_code_id'
,possible_result_code.result_code_ud as 'possible_result_code_ud'
,possible_result_code.short_message as 'possible_result_code_desc'
,duplicate_claim_rule.possible_result_code_status_id as 'possible_result_code_status_id'
,possible_result_code_status.result_code_status_ud as 'possible_result_code_status_ud'

FROM duplicate_claim_rule
left join claim_form_type  ON claim_form_type.claim_form_type_id = duplicate_claim_rule.claim_form_type_id
left join result_code  ON result_code.result_code_id = duplicate_claim_rule.result_code_id
left join result_code_status  ON result_code_status.result_code_status_id = duplicate_claim_rule.result_code_status_id
left join result_code  as possible_result_code  ON possible_result_code.result_code_id = duplicate_claim_rule.possible_result_code_id
left join result_code_status  as possible_result_code_status  ON possible_result_code_status.result_code_status_id = duplicate_claim_rule.possible_result_code_status_id
WHERE  (duplicate_claim_rule.claim_form_type_id = @claim_form_type_id)
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
