USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_get_batch]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_payment_process_get_batch] (
@fromId INT,
@toId INT
) AS

DECLARE @yesNoId_YES INT;
SET @yesNoId_YES = (SELECT yes_no_id FROM yes_no WHERE golden_key = 'yes');
DECLARE @TRUE BIT = 1;
DECLARE @FALSE BIT = 0;

SELECT
wt.claim_payment_processing_work_table_id,
wt.claim_id,
c.clean_date as 'claim_clean_date',
wt.claim_procedure_id,
wt.claim_procedure_adjudication_status_id,
cp.clean_date as 'procedure_clean_date',
cp.received_date as 'procedure_received_date',
ara.net_payment,
ara.indemnity_amount,
ara.first_coverage_distribution_amount as 'first_coverage_amount',
ara.contract_amount,
ara.savings_amount,
wt.criteria_id,
wt.client_id,
wt.client_group_id,
wt.benefit_plan_id,
wt.plan_iteration_index,
wt.vendor_id,
wt.member_vendor_id,
'is_reimburse_member' =
CASE
WHEN COALESCE(arko.reimburse_member_yes_no_id, ark.reimburse_member_yes_no_id) = @yesNoId_YES THEN @TRUE
ELSE @FALSE
END,
ISNULL(arko.provider_network_id, ark.provider_network_id) as 'network_id',
ISNULL(arko.network_level_id, ark.network_level_id) as 'network_level_id',
ark.practice_office_id,
ark.payment_contract_id,
ark.benefit_contract_id,
ark.provider_identifier_id,
bf.benefit_category_id,
wt.line_of_business_id,
wt.is_same_claim_zero_no_benefits,
-- For referential integrity checks, validated by the service.
v.vendor_id as 'ref_vendor_id',
v_member.vendor_id as 'ref_member_vendor_id',
bp.benefit_plan_id as 'ref_benefit_plan_id'

FROM
claim_payment_processing_work_table wt
INNER JOIN claim c
ON c.claim_id = wt.claim_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = wt.claim_procedure_id
LEFT JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = wt.claim_procedure_id
AND ara.plan_iteration_index = wt.plan_iteration_index
LEFT JOIN adjudication_result_amount_override arao
ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id
LEFT JOIN adjudication_result_key ark
ON ark.claim_procedure_id = wt.claim_procedure_id
AND ark.plan_iteration_index = wt.plan_iteration_index
LEFT JOIN adjudication_result_key_override arko
ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
LEFT JOIN benefit_framework bf
ON bf.benefit_framework_id = ark.benefit_framework_id

-- The following joins have been added to guarantee referential integrity.  The service will flag any records
-- that have an incoming id for these objects that do not have existing records.
--
-- claim_procedure_id and claim_id are not explicity validated because the the work table is filled by inner
-- joining that data (it won't be here if it doesn't exist).
--
-- The objects below are sourced from the vertical adjudication storage which does not have foreign keys to
-- guarantee it remains valid.
LEFT JOIN vendor v
ON v.vendor_id = wt.vendor_id
LEFT JOIN vendor v_member
ON v_member.vendor_id = wt.member_vendor_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = wt.benefit_plan_id

WHERE
wt.claim_payment_processing_work_table_id BETWEEN @fromId AND @toId;

SELECT
cwt.claim_procedure_id,
cwt.plan_iteration_index,
cwt.criteria_id
FROM
claim_payment_processing_work_table wt
INNER JOIN claim_payment_processing_criteria_work_table cwt
ON cwt.claim_procedure_id = wt.claim_procedure_id
WHERE
wt.claim_payment_processing_work_table_id BETWEEN @fromId AND @toId;
GO
