USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reinsurance_contract_benefit_category_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 12/01/2020
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
12/01/2020  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the 'Benefit Plan Category' dropdown for the Type of Coverage grid on the
Reinsurance Contract form.

******************************/
CREATE PROCEDURE [dbo].[plx_dd_reinsurance_contract_benefit_category_list_load]
AS
BEGIN
SET NOCOUNT ON;

--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = - 1;

SELECT
benefit_category_id,
benefit_category_ud,
golden_key
FROM benefit_category
ORDER BY benefit_category.sort_order

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END

END
GO
