USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_modifier_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
DATE: 1/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/10/2006 n8nguyen  	1.0         	Created
04/07/2008 lrenard		1.1			implemented dependecy checks before deletes and delete child data

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete Fee Schedule Modifier Table object.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_fee_schedule_modifier_delete]
(
@fee_schedule_modifier_id                   int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST   = '159050004',
@ERROR_CANT_DELETE = '159050005'
--
IF NOT EXISTS (SELECT * FROM fee_schedule_modifier WHERE fee_schedule_modifier_id = @fee_schedule_modifier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--dependency checks
if exists(select * from payment_contract_definition_fee_schedule where fee_schedule_modifier_id = @fee_schedule_modifier_id)
OR exists(select * from default_fee_schedule_modifier_table where fee_schedule_modifier_table_id = @fee_schedule_modifier_id)
OR exists(select * from benefit_limit_fee_schedule where fee_schedule_modifier_id = @fee_schedule_modifier_id)
OR exists(select * from fee_schedule_set_fee_schedule where fee_schedule_modifier_id = @fee_schedule_modifier_id)
begin
select pc.payment_contract_ud as 'Payment Contract', cast(NULL as nvarchar) as 'Global Configuration',
cast(NULL as nvarchar) as 'Benefit Plan', cast(NULL as nvarchar) as 'Fee Schedule Set'
from payment_contract_definition_fee_schedule pcdfs
inner join payment_contract_definition pcd on pcd.payment_contract_definition_id = pcdfs.payment_contract_definition_id
inner join payment_contract pc on pc.payment_contract_id = pcd.payment_contract_id
where fee_schedule_modifier_id = @fee_schedule_modifier_id
UNION
select distinct cast(NULL as nvarchar) as 'Payment Contract', 'Default Fee Schedule Modifier Table' as 'Global Configuration',
cast(NULL as nvarchar) as 'Benefit Plan', cast(NULL as nvarchar) as 'Fee Schedule Set'
from default_fee_schedule_modifier_table
where fee_schedule_modifier_table_id = @fee_schedule_modifier_id
UNION
select cast(NULL as nvarchar) as 'Payment Contract', cast(NULL as nvarchar) as 'Global Configuration',
benefit_plan_ud as 'Benefit Plan', cast(NULL as nvarchar) as 'Fee Schedule Set'
from benefit_limit_fee_schedule
INNER JOIN benefit_plan on benefit_limit_fee_schedule.benefit_plan_id = benefit_plan.benefit_plan_id
where fee_schedule_modifier_id = @fee_schedule_modifier_id
UNION
select cast(NULL as nvarchar) as 'Payment Contract', cast(NULL as nvarchar) as 'Global Configuration',
cast(NULL as nvarchar) as 'Benefit Plan', fee_schedule_set_ud as 'Fee Schedule Set'
from fee_schedule_set
where fee_schedule_set_id in
(select fee_schedule_set_id from fee_schedule_set_fee_schedule where fee_schedule_modifier_id = @fee_schedule_modifier_id)

RETURN @SP_EXCEPTION
end
DELETE FROM fee_schedule_modifier_detail
WHERE fee_schedule_modifier_id = @fee_schedule_modifier_id

DELETE FROM fee_schedule_modifier
WHERE fee_schedule_modifier_id = @fee_schedule_modifier_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
GO
