USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_amount_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
02/27/2018	eponomareff	1.1		RT:11933 Updated - grdCobClaimHeader grid is now editable, with
behavior similar to the grdCobClaimProcedure

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to save a record in the Claim - Additional Carrier Information grid on the Claim COB Entry form

--
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_cob_amount_save]
(

@claim_cob_adjustment_id                    INT = NULL   OUTPUT
,@claim_id                                   INT
,@claim_cob_payer_id                         INT = NULL
,@sequence_id                                INT = NULL
,@amount                                     numeric(19,4) = NULL
,@claim_adjustment_group_code_id             int = NULL
,@claim_adjustment_reason_code_nk            NVARCHAR(15) = NULL
-- the adjudication object golden key must be examined to determine whether the
-- change needs to be made to the claim_procedure_cob_amount table
-- It is not available to adjustments other than deductible, coinsurance, copay
,@adjudication_object_id                     INT
,@adjudication_object_gk                     NVARCHAR(50) = NULL

) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= ''

--
-- get golden key for @claim_adjusment_group_code_id
DECLARE @claim_adjustment_group_code_gk NVARCHAR(50)
SET @claim_adjustment_group_code_gk =
(SELECT golden_key FROM claim_adjustment_group_code
WHERE claim_adjustment_group_code_id = @claim_adjustment_group_code_id)

-- If necessary, get claim_cob_payer_id based on sequence_id
IF ISNULL(@claim_cob_payer_id, 0) = 0
BEGIN
SET @claim_cob_payer_id =
(SELECT claim_cob_payer_id FROM claim_cob_payer
WHERE claim_id = @claim_id AND sequence_id = @sequence_id)
END

-- We cannot update if unable to resolve claim_cob_payer_id
IF ISNULL(@claim_cob_payer_id, 0) = 0
RETURN -1

-- CASE 1 - NET PAY populate claim_cob_payer table
--			The record always exists, because it represents the payer.
--			So, just update the value.
IF @adjudication_object_gk = 'NET_PAYMENT'
BEGIN
-- update existing record
UPDATE 	claim_cob_payer
SET
net_pay                                 = @amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()
WHERE claim_cob_payer_id = @claim_cob_payer_id
END

-- CASE 2 - CONTRACTED/ALLOWED AMOUNT populate claim_procedure_cob_amount table
--			The record always exists, because it represents the payer.
--			So, just update the value.
ELSE IF @adjudication_object_gk = 'CONTRACT_AMOUNT'
BEGIN
-- update existing record
UPDATE 	claim_cob_payer
SET
allowed_amount                           = @amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()
WHERE claim_cob_payer_id = @claim_cob_payer_id
END

-- CASE 3 - INSERT ADJUSTMENT -  claim_cob_adjustment table
--          Inserts, Updates are normal
ELSE IF ISNULL(@claim_cob_adjustment_id,0) = 0

BEGIN
--- Create a new claim_cob_adjustment record
INSERT INTO dbo.claim_cob_adjustment(
claim_cob_payer_id
,adjudication_object_id
,claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk
,amount
)
VALUES(
@claim_cob_payer_id
,@adjudication_object_id
,@claim_adjustment_group_code_gk
,@claim_adjustment_reason_code_nk
,ISNULL(@amount, 0)
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
SET @claim_cob_adjustment_id = SCOPE_IDENTITY()
END
--
-- CASE 4 - UPDATE EXISTING ADJUSTMENT -  claim_cob_adjustment table
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int
--- Updating an existing claim_cob_adjustment record

--- SPECIAL CASE FOR DEDUCTIBLE, COINSURANCE_AMOUNT, COPAY_AMOUNT
--- If the user has deleted the amount, the intention is to delete the entire
--- record. (Deletions to the grid are not allowed for pre-defined records for these
--- three adjustments.)
--- However, any adjustment without an Amount may be deleted.
BEGIN
IF @amount IS NULL
BEGIN
-- delete the existing record
DELETE dbo.claim_cob_adjustment
WHERE claim_cob_adjustment_id = @claim_cob_adjustment_id
-- remember to set record id to NULL otherwise subsequent updates will fail.
SET @claim_cob_adjustment_id = NULL;
END
ELSE
BEGIN
UPDATE dbo.claim_cob_adjustment
SET
claim_cob_payer_id                      = @claim_cob_payer_id
,adjudication_object_id                  = @adjudication_object_id
,claim_adjustment_group_code_gk          = @claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk	     = @claim_adjustment_reason_code_nk
,amount                                  = @amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()

WHERE claim_cob_adjustment_id = @claim_cob_adjustment_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
END
END

RETURN @SP_SUCCESS
--
GO
