USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_account_sub_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: Jun 02 2008 11:37AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down account_sub_category (Account Sub Category)
--
REQUIREMENTS:
--
INPUTS:
account_sub_category_id - Key to account_sub_category table, identifies a single stored dd_account_sub_category.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_account_sub_category_load]

(
@account_category_id	Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
account_sub_category.account_sub_category_id
,account_sub_category.account_sub_category_ud
,account_sub_category.account_category_id as account_category

FROM account_sub_category

left join account_category  ON account_category.account_category_id = account_sub_category.account_category_id

ORDER BY account_sub_category.account_sub_category_ud ASC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
