USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_external_claim_editing_result_code_mapping_assignment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/01/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/01/2014	amortensen	1.0			Created
05/05/2014 	dcannon		1.1			Added Result Code Status to query to support RT:6608
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load the external claim editing result code mapping assignment grid
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_external_claim_editing_result_code_mapping_assignment_load]
(
@external_claim_editing_result_code_mapping_id		INT=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ma.external_claim_editing_result_code_mapping_assignment_id,
ma.external_claim_edit_classification_id,
c.description as external_claim_edit_classification_ud,
ma.edit_result_identifier,
ma.result_code_id,
rc.result_code_ud,
rc.short_message as result_code_description,
rcs.result_code_status_ud as result_code_status,
ma.effective_from,
ma.effective_thru
FROM
external_claim_editing_result_code_mapping_assignment ma

LEFT JOIN result_code rc
ON ma.result_code_id = rc.result_code_id
LEFT JOIN result_code_status rcs
ON rc.result_code_status_id = rcs.result_code_status_id
LEFT JOIN external_claim_edit_classification c
ON ma.external_claim_edit_classification_id = c.external_claim_edit_classification_id

WHERE ma.external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id

ORDER BY
CASE WHEN ma.effective_from IS NULL THEN 0 ELSE 1 END , ma.effective_from DESC,
CASE WHEN ma.effective_thru IS NULL THEN 0 ELSE 1 END , ma.effective_thru DESC
--
RETURN @SP_SUCCESS
--
GO
