USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_distribution_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to load data for Distribution grid on
Accounting Transaction AR form.

NOTE: For voided AR Transactions, reversed distributions are hidden from grid.
******************************/
CREATE procedure [dbo].[plx_accounting_transaction_ar_distribution_load]
(
@accounting_transaction_id INT = NULL
)
AS

DECLARE @VoidedStatusId NVARCHAR(50);
SELECT @VoidedStatusId = accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED';

SELECT
atad.accounting_transaction_ar_id as accounting_transaction_id
,atad.accounting_transaction_ar_distribution_id as accounting_transaction_distribution_id
,atad.accounting_company_account_id
,aca.accounting_company_account_ud
,ac.account_category_ud
,asbc.account_sub_category_ud
,atad.amount
FROM
accounting_transaction_ar_distribution atad
JOIN accounting_transaction_ar ata
ON ata.accounting_transaction_ar_id = atad.accounting_transaction_ar_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atad.accounting_company_account_id
LEFT JOIN account_category ac
ON ac.account_category_id = aca.account_category_id
LEFT JOIN account_sub_category asbc
ON asbc.account_sub_category_id = aca.account_sub_category_id
WHERE
atad.accounting_transaction_ar_id = @accounting_transaction_id
AND ac.golden_key = 'INCOME'
AND NOT EXISTS
(SELECT 1
FROM accounting_transaction_ar_distribution void_dist
WHERE
-- same AR business entity
void_dist.accounting_transaction_ar_id = @accounting_transaction_id
AND
-- AR business entity is voided
ata.accounting_transaction_status_id = @VoidedStatusId
AND
-- there is a distribution for the same account
void_dist.accounting_company_account_id = atad.accounting_company_account_id
AND
-- in the opposite direction
(
(atad.is_debit = 1 AND void_dist.is_debit = 0)
OR
(atad.is_debit = 0 AND void_dist.is_debit =	1)
)
AND
-- was created afterwards
atad.accounting_transaction_ar_distribution_id > void_dist.accounting_transaction_ar_distribution_id
);

--
RETURN 0
--
GO
