USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_all_available_items_list_load_has_config]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 31 2006  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
10/31/2006	ThuyNguyen	1.0		Created
10/07/2011	CKnobloch	1.1		Defect ID - 164
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data from the adjudication_object table.
--
REQUIREMENTS:
--
INPUTS:
adjudication_object_id - Key to adjudication_object table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_all_available_items_list_load_has_config]
(
@claim_form_type_id			Int = NULL
,@workgroup_role_uid			Int = NULL
,@adjudication_object_type_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
adjudication_object.adjudication_object_id
,adjudication_object.adjudication_object_ud
, cast(0 as int) as 'default_order'

FROM adjudication_object
LEFT JOIN adjudication_object_type ON adjudication_object.adjudication_object_type_id = adjudication_object_type.adjudication_object_type_id
WHERE adjudication_object_type.adjudication_object_type_id = @adjudication_object_type_id
AND is_visible_claim_result_item = 1
AND adjudication_object.adjudication_object_id not in (
SELECT adjudication_object_id
FROM adjudication_object_show
LEFT JOIN adjudication_object_type ON adjudication_object.adjudication_object_type_id = adjudication_object_type.adjudication_object_type_id
WHERE adjudication_object_type.adjudication_object_type_id = @adjudication_object_type_id AND adjudication_object_show.claim_form_type_id = @claim_form_type_id
AND ((@workgroup_role_uid IS NULL) OR (adjudication_object_show.workgroup_role_uid= @workgroup_role_uid))
)

ORDER BY adjudication_object_ud
--
RETURN @SP_SUCCESS
GO
