USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_user_assigned_result_code_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Sep 11 2005  3:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/03/2005	Ha Ta		1.0		Create
08/22/2014		eponomareff			RT:6046 data modification project
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "User Assigned Result Codes"
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_user_assigned_result_code_list_load]

(
@family_eligibility_id	Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
feuarc.family_eligibility_user_assigned_result_code_id
,feuarc.criteria_id
,c.criteria_ud
,feuarc.result_code_id
,rc.result_code_ud
,feuarc.result_code_status_id
,rcs.result_code_status_ud
,feuarc.comment
,feuarc.effective_from
,feuarc.effective_thru
,feuarc.modified_user_name
,feuarc.modified_date

FROM 	family_eligibility_user_assigned_result_code feuarc

INNER JOIN family_eligibility fe ON fe.family_eligibility_id =feuarc.family_eligibility_id
LEFT JOIN criteria  c ON c.criteria_id = feuarc.criteria_id
LEFT JOIN result_code  rc ON rc.result_code_id = feuarc.result_code_id
LEFT JOIN result_code_status  rcs ON rcs.result_code_status_id = feuarc.result_code_status_id
WHERE 	feuarc.family_eligibility_id  = @family_eligibility_id
ORDER BY
CASE WHEN feuarc.effective_from IS NULL THEN 0 ELSE 1 END , feuarc.effective_from DESC
,CASE WHEN feuarc.effective_thru IS NULL THEN 0 ELSE 1 END , feuarc.effective_thru DESC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
