USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_service_representative_carrier_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Nguyen
Nov  9 2006  2:16PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/09/2006	Thuy Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_service_representative_client_group_benefit_contract from the service_representative_client_group_benefit_contract table.
--
REQUIREMENTS:
--
INPUTS:
carrier_service_representative_id - Key to carrier_service_representative table, identifies a single stored plx_dd_service_representative_carrier_list_load.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_service_representative_carrier_list_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
carrier_service_representative_id
,carrier_service_representative_ud
,carrier_service_representative_nm
FROM carrier_service_representative
order by carrier_service_representative_ud
--
RETURN @SP_SUCCESS
GO
