USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_cob_member_commercial_health_plan_CAQH_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_sp_cob_member_commercial_health_plan_CAQH_backup]
as
begin

--exec dbo.bind_sp_cob_member_commercial_health_plan_CAQH_backup

with cte_update as (
SELECT [cob_member_commercial_health_plan_id]
      ,[cob_member_id]
      ,[sequence_id]
      ,[insured_name]
      ,[date_of_birth]
      ,[gender_id]
      ,[relationship_to_member_id]
      ,[benefit_category_id]
      ,[effective_from]
      ,[effective_thru]
      ,[insurance_plan_name]
      ,[commercial_policy_holder_ud]
      ,[employer_name]
      ,[cob_plan_type_id]
      ,[cob_plan_status_id]
      ,[insured_policy_group_number]
      ,[group_identifier]
      ,[carrier_name]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
FROM [qc_core].[dbo].[cob_member_commercial_health_plan]
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
) --select * From cte_update


 merge into import.dbo.cob_member_commercial_health_plan_CAQH_bk as T
    using cte_update as S
        on T.cob_member_commercial_health_plan_id = S.cob_member_commercial_health_plan_id
    when not matched then
        insert (
        [cob_member_commercial_health_plan_id]
      ,[cob_member_id]
      ,[sequence_id]
      ,[insured_name]
      ,[date_of_birth]
      ,[gender_id]
      ,[relationship_to_member_id]
      ,[benefit_category_id]
      ,[effective_from]
      ,[effective_thru]
      ,[insurance_plan_name]
      ,[commercial_policy_holder_ud]
      ,[employer_name]
      ,[cob_plan_type_id]
      ,[cob_plan_status_id]
      ,[insured_policy_group_number]
      ,[group_identifier]
      ,[carrier_name]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
)
values (
        S.[cob_member_commercial_health_plan_id]
      ,S.[cob_member_id]
      ,S.[sequence_id]
      ,S.[insured_name]
      ,S.[date_of_birth]
      ,S.[gender_id]
      ,S.[relationship_to_member_id]
      ,S.[benefit_category_id]
      ,S.[effective_from]
      ,S.[effective_thru]
      ,S.[insurance_plan_name]
      ,S.[commercial_policy_holder_ud]
      ,S.[employer_name]
      ,S.[cob_plan_type_id]
      ,S.[cob_plan_status_id]
      ,S.[insured_policy_group_number]
      ,S.[group_identifier]
      ,S.[carrier_name]
      ,S.[active]
      ,S.[created_user_name]
      ,S.[created_group_id]
      ,S.[created_date]
      ,S.[modified_date]
      ,S.[modified_user_name]
      ,S.[object_row_version]
)
        when matched then
            update set
                t.[cob_member_commercial_health_plan_id] = s.[cob_member_commercial_health_plan_id],
                t.[cob_member_id] = s.[cob_member_id],
                t.[sequence_id] = s.[sequence_id],
                t.[insured_name] = s.[insured_name],
                t.[date_of_birth] = s.[date_of_birth],
                t.[gender_id] = s.[gender_id],
                t.[relationship_to_member_id] = s.[relationship_to_member_id],
                t.[benefit_category_id] = s.[benefit_category_id],
                t.[effective_from] = s.[effective_from],
                t.[effective_thru] = s.[effective_thru],
                t.[insurance_plan_name] = s.[insurance_plan_name],
                t.[commercial_policy_holder_ud] = s.[commercial_policy_holder_ud],
                t.[employer_name] = s.[employer_name],
                t.[cob_plan_type_id] = s.[cob_plan_type_id],
                t.[cob_plan_status_id] = s.[cob_plan_status_id],
                t.[insured_policy_group_number] = s.[insured_policy_group_number],
                t.[group_identifier] = s.[group_identifier],
                t.[carrier_name] = s.[carrier_name],
                t.[active] = s.[active],
                t.[created_user_name] = s.[created_user_name],
                t.[created_group_id] = s.[created_group_id],
                t.[created_date] = s.[created_date],
                t.[modified_date] = s.[modified_date],
                t.[modified_user_name] = s.[modified_user_name],
                t.[object_row_version] = s.[object_row_version]

            ;
end
GO
