USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_established_patient_indicator_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 06/26/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/06/2012	eponomareff     1.0         created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down established_patient_indicator_id
on Advanced Individual Eligibility, Provider Assignments tab, Provider Assignments grid.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_established_patient_indicator_list_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
epi.established_patient_indicator_id
,epi.established_patient_indicator_ud as [Established Patient Indicator]
,epi.x12_code as [X12 Code]
,epi.golden_key

FROM established_patient_indicator epi
ORDER BY  established_patient_indicator_ud


RETURN @SP_SUCCESS
GO
