USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_past_due_penalty_rate_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jun  5 2006  9:52AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the past_due_penalty_rate_detail table.
--
REQUIREMENTS:
--
INPUTS:
past_due_penalty_rate_detail_id - Key to past_due_penalty_rate_detail table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_past_due_penalty_rate_type_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

-- TEMPORARY, NOT ENOUGH TIME TO ADD TABLES

SELECT
1 AS past_due_penalty_rate_type_id, 'Percentage' as past_due_penalty_rate_type_ud
UNION SELECT
2 AS past_due_penalty_rate_type_id, 'Flat Rate' as past_due_penalty_rate_type_ud

--
RETURN @SP_SUCCESS
GO
