USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 03/31/2009
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
03/31/2009	Isaac Overacker	1.0			Initial creation.
05/26/2009	Vishwa Jella		2.0			Updated with duplicating Qualifier rules
06/29/2009  Isaac Overacker   2.1         Removed duplication of Banded Table ids, which are no longer on the BF form.
07/09/2009  Isaac Overacker   2.2         Added duplication of Member Expense benefits.
08/01/2009	Vishwa Jella		3.0			Updated with matched benefit id
08/04/2009  Isaac Overacker   4.0         Added duplication of Referring Provider Rule and Rendering Provider Exception.
12/06/2009	Vishwa Jella		5.0			Added created_user_name field to store user_name for the duplicate record
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Creates a duplicate of a benefit framework from the given parameters.
--
REQUIREMENTS:
--
INPUTS:

@id - the id of the framework
@ud - the ud of the benefit framework to be created
@asOfDate - the "cut-off" date for copying over effective items
@description - description of the benefit framework to be created
@name - the name of the new benefit framework
@benefitCategory - the benefit category of the new benefit framework
@benefitSubCategory - the benefit sub category of the new benefit framework

--
OUTPUTS:
--
RETURN_VALUES:
The Id of the newly created duplicate benefit framework (> 0)
or 0 if there was a problem.
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_framework_duplicate]
(
@id									INT,
@ud									NVARCHAR(50),
@asOfDate							datetime = null,
@name									NVARCHAR(100) = null,
@description						NVARCHAR(255) = null,
@created_user_name				NVARCHAR(128) = null,
@benefitCategory					INT,
@benefitSubCategory				INT
) AS
SET NOCOUNT ON

DECLARE @SP_EXCEPTION INT
SELECT @SP_EXCEPTION = -1

BEGIN TRY

-- Create a temp table that will map the id of an original benefit to its duplicate.
CREATE TABLE #benefit_to_benefit
(
original_benefit_id		INT
,duplicate_benefit_id	INT
)

BEGIN TRANSACTION

DECLARE
@duplicate_benefit_framework_id INT

-- Create a new entry in benefit_framework table
INSERT INTO benefit_framework
(
benefit_framework_ud
,benefit_framework_nm
,description
,benefit_category_id
,benefit_sub_category_id
)
SELECT
@ud
,@name
,@description
,@benefitCategory
,@benefitSubCategory

SELECT @duplicate_benefit_framework_id = SCOPE_IDENTITY()

-- Variables for each benefit_framework_benefit_class
DECLARE @current_benefit_framework_benefit_class_id AS INT
DECLARE @current_benefit_class_id AS INT
DECLARE @duplicate_benefit_class_id as INT
-- Variables for each benefit_framework_choice_list
DECLARE @current_benefit_framework_choice_list_ud AS NVARCHAR(50)
DECLARE @current_description AS NVARCHAR(255)
DECLARE @current_resolve_choice_list_at_id AS INT
DECLARE @current_episode_category_id AS INT
DECLARE @current_episode_type_id AS INT
DECLARE @original_choice_list_id AS INT
DECLARE @duplicate_choice_list_id AS INT
-- Variables for each benefit
DECLARE @benefit_benefit_ud AS NVARCHAR(50)
DECLARE @benefit_description AS NVARCHAR(255)
DECLARE @benefit_copayment_value_rule_id AS INT
DECLARE @current_duplicate_benefit_id AS INT
DECLARE @current_original_benefit_id AS INT
DECLARE @treat_as_copay AS BIT
DECLARE @treat_as_coinsurance AS BIT
DECLARE @set_to_zero_if_not_in_schedule AS BIT
DECLARE @referring_provider_rule_id AS INT
DECLARE @rendering_provider_exception_id AS INT
-- Variables for each benefit_framework_valid_choice
DECLARE @benefit_framework_valid_choice_ud AS NVARCHAR(50)
DECLARE @valid_choice AS NVARCHAR(100)
DECLARE @valid_choice_yes_no_id AS INT
-- Variables for each benefit_coverage_rules
DECLARE @benefit_coverage_rules_value_type_id AS INT
DECLARE @tiered_coinsurance_id AS INT

DECLARE @benefit_id AS INT
DECLARE @benefit_coverage_rules_benefit_framework_choice_list_id AS INT
DECLARE @single_value AS NVARCHAR(100)
DECLARE @coverage_rules_yes_no_id AS INT
DECLARE @effective_from AS DATETIME
DECLARE @effective_thru AS DATETIME
-- Variables for each benefit_benefit_coverage_exception_rule
DECLARE @benefit_coverage_exception_rule_id AS INT
-- Variables for each benefit_member_expense_schedule
DECLARE @member_expense_schedule_id AS INT

-- Declare a cursor to iterate over all of the benefit_framework_benefit_class
-- records attached to the original benefit_framework.  Duplicate each of the
-- records and attach it to the new duplicate benefit_framework, and duplicate
-- each of the descendants of the original benefit_framework_benefit_class.
DECLARE bfbc_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_framework_benefit_class_id
,benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @id

OPEN bfbc_cursor
FETCH NEXT FROM bfbc_cursor
INTO
@current_benefit_framework_benefit_class_id
,@current_benefit_class_id

WHILE @@FETCH_STATUS = 0
BEGIN	-- Iterate over each benefit_framework_benefit_class

INSERT INTO benefit_framework_benefit_class
(
benefit_framework_id
,benefit_class_id
)
SELECT
@duplicate_benefit_framework_id
,@current_benefit_class_id
SET @duplicate_benefit_class_id = SCOPE_IDENTITY()

-- Declare a cursor to iterate over the benefits to duplicate
DECLARE b_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_id
,benefit_ud
,description
,copayment_value_rule_id
,treat_as_copay
,treat_as_coinsurance
,set_to_zero_if_not_in_schedule
,referring_provider_rule_id
,rendering_provider_exception_id
FROM benefit
WHERE benefit_framework_benefit_class_id = @current_benefit_framework_benefit_class_id

OPEN b_cursor
FETCH NEXT FROM b_cursor
INTO
@current_original_benefit_id
,@benefit_benefit_ud
,@benefit_description
,@benefit_copayment_value_rule_id
,@treat_as_copay
,@treat_as_coinsurance
,@set_to_zero_if_not_in_schedule
,@referring_provider_rule_id
,@rendering_provider_exception_id

WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each benefit

INSERT INTO benefit
(
benefit_ud
,description
,benefit_framework_benefit_class_id
,copayment_value_rule_id
,treat_as_copay
,treat_as_coinsurance
,set_to_zero_if_not_in_schedule
,referring_provider_rule_id
,rendering_provider_exception_id
)
SELECT
@benefit_benefit_ud
,@benefit_description
,@duplicate_benefit_class_id
,@benefit_copayment_value_rule_id
,@treat_as_copay
,@treat_as_coinsurance
,@set_to_zero_if_not_in_schedule
,@referring_provider_rule_id
,@rendering_provider_exception_id

SET @current_duplicate_benefit_id = SCOPE_IDENTITY()

-- Create records mapping the original benefits to their duplicates
INSERT INTO #benefit_to_benefit
(
original_benefit_id
,duplicate_benefit_id
)
SELECT
benefit_id
,@current_duplicate_benefit_id
FROM benefit
WHERE benefit_framework_benefit_class_id = @current_benefit_framework_benefit_class_id
AND benefit_id = @current_original_benefit_id

-- Duplicate benefit_criteria records related to this benefit
INSERT INTO benefit_criteria
(
benefit_id
,criteria_id
,criteria_are_true
,effective_from
,effective_thru
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @current_original_benefit_id)
,criteria_id
,criteria_are_true
,effective_from
,effective_thru
FROM benefit_criteria
WHERE benefit_id = @current_original_benefit_id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

-- Duplicate benefit_treatment_type_set records related to this benefit
INSERT INTO benefit_treatment_type_set
(
benefit_id
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,effective_from
,effective_thru
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @current_original_benefit_id)
,treatment_type_set_id
,treatment_type_category_id
,treatment_type_id
,effective_from
,effective_thru
FROM benefit_treatment_type_set
WHERE benefit_id = @current_original_benefit_id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

-- Declare a cursor to iterate over the qualifier rules (benefit_benefit_coverage_exception_rule)
-- to duplicate that are attached to this benefit
DECLARE bbcer_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_id
,benefit_coverage_exception_rule_id
,effective_from
,effective_thru
FROM benefit_benefit_coverage_exception_rule
WHERE benefit_id = @current_original_benefit_id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

OPEN bbcer_cursor
FETCH NEXT FROM bbcer_cursor
INTO
@benefit_id
,@benefit_coverage_exception_rule_id
,@effective_from
,@effective_thru
WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each benefit_benefit_coverage_exception_rule record

INSERT INTO benefit_benefit_coverage_exception_rule
(
benefit_id
,benefit_coverage_exception_rule_id
,effective_from
,effective_thru
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @benefit_id)
,@benefit_coverage_exception_rule_id
,@effective_from
,@effective_thru

FETCH NEXT FROM bbcer_cursor
INTO
@benefit_id
,@benefit_coverage_exception_rule_id
,@effective_from
,@effective_thru
END
CLOSE bbcer_cursor
DEALLOCATE bbcer_cursor

-- Declare a cursor to iterate over the member expense schedules
DECLARE bmes_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_id
,member_expense_schedule_id
,effective_from
,effective_thru
FROM benefit_member_expense_schedule
WHERE benefit_id = @current_original_benefit_id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

OPEN bmes_cursor
FETCH NEXT FROM bmes_cursor
INTO
@benefit_id
,@member_expense_schedule_id
,@effective_from
,@effective_thru
WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO benefit_member_expense_schedule
(
benefit_id
,member_expense_schedule_id
,effective_from
,effective_thru
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @current_original_benefit_id)
,@member_expense_schedule_id
,@effective_from
,@effective_thru

FETCH NEXT FROM bmes_cursor
INTO
@benefit_id
,@member_expense_schedule_id
,@effective_from
,@effective_thru
END
CLOSE bmes_cursor
DEALLOCATE bmes_cursor

-- Declare a cursor to iterate over the coverage rules to duplicate that are
-- attached to this benefit and do not have a choice list (those with a choice
-- list will be duplicated while duplicating the choice lists).
DECLARE bcr_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_id
,benefit_framework_choice_list_id
,single_value
,yes_no_id
,effective_from
,effective_thru
,benefit_coverage_rules_value_type_id
,tiered_coinsurance_id

FROM benefit_coverage_rules
WHERE benefit_id = @current_original_benefit_id
AND benefit_framework_choice_list_id IS NULL
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

OPEN bcr_cursor
FETCH NEXT FROM bcr_cursor
INTO
@benefit_id
,@benefit_coverage_rules_benefit_framework_choice_list_id
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id
,@tiered_coinsurance_id
WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each benefit_coverage_rules record

INSERT INTO benefit_coverage_rules
(
benefit_id
,single_value
,yes_no_id
,effective_from
,effective_thru
,benefit_coverage_rules_value_type_id
,tiered_coinsurance_id
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @benefit_id)
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id
,@tiered_coinsurance_id

FETCH NEXT FROM bcr_cursor
INTO
@benefit_id
,@benefit_coverage_rules_benefit_framework_choice_list_id
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id
,@tiered_coinsurance_id
END
CLOSE bcr_cursor
DEALLOCATE bcr_cursor

FETCH NEXT FROM b_cursor
INTO
@current_original_benefit_id
,@benefit_benefit_ud
,@benefit_description
,@benefit_copayment_value_rule_id
,@treat_as_copay
,@treat_as_coinsurance
,@set_to_zero_if_not_in_schedule
,@referring_provider_rule_id
,@rendering_provider_exception_id

END
CLOSE b_cursor
DEALLOCATE b_cursor

-- Declare a cursor to iterate over the choice lists to duplicate
DECLARE bfcl_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_framework_choice_list_id
,benefit_framework_choice_list_ud
,description
,resolve_choice_list_at_id
,episode_category_id
,episode_type_id
FROM benefit_framework_choice_list
WHERE benefit_framework_benefit_class_id = @current_benefit_framework_benefit_class_id

OPEN bfcl_cursor
FETCH NEXT FROM bfcl_cursor
INTO
@original_choice_list_id
,@current_benefit_framework_choice_list_ud
,@current_description
,@current_resolve_choice_list_at_id
,@current_episode_category_id
,@current_episode_type_id
WHILE @@FETCH_STATUS = 0
BEGIN	-- Iterate over each benefit_framework_choice_list

INSERT INTO benefit_framework_choice_list
(
benefit_framework_choice_list_ud
,description
,resolve_choice_list_at_id
,benefit_framework_benefit_class_id
,episode_category_id
,episode_type_id
)
SELECT
@current_benefit_framework_choice_list_ud
,@current_description
,@current_resolve_choice_list_at_id
,@duplicate_benefit_class_id
,@current_episode_category_id
,@current_episode_type_id
SET @duplicate_choice_list_id = SCOPE_IDENTITY()

-- Declare a cursor to iterate over the valid choices to duplicate
DECLARE bfvc_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_framework_valid_choice_ud
,valid_choice
,yes_no_id
FROM benefit_framework_valid_choice
WHERE benefit_framework_choice_list_id = @original_choice_list_id

OPEN bfvc_cursor
FETCH NEXT FROM bfvc_cursor
INTO
@benefit_framework_valid_choice_ud
,@valid_choice
,@valid_choice_yes_no_id
WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each benefit_framework_valid_choice

INSERT INTO benefit_framework_valid_choice
(
benefit_framework_valid_choice_ud
,valid_choice
,yes_no_id
,benefit_framework_choice_list_id
)
SELECT
@benefit_framework_valid_choice_ud
,@valid_choice
,@valid_choice_yes_no_id
,@duplicate_choice_list_id

FETCH NEXT FROM bfvc_cursor
INTO
@benefit_framework_valid_choice_ud
,@valid_choice
,@valid_choice_yes_no_id
END
CLOSE bfvc_cursor
DEALLOCATE bfvc_cursor

-- Declare a cursor to iterate over the coverage rules to duplicate
DECLARE bcr_cursor CURSOR FAST_FORWARD FOR
SELECT
benefit_id
,benefit_framework_choice_list_id
,single_value
,yes_no_id
,effective_from
,effective_thru
,benefit_coverage_rules_value_type_id
FROM benefit_coverage_rules
WHERE benefit_framework_choice_list_id = @original_choice_list_id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

OPEN bcr_cursor
FETCH NEXT FROM bcr_cursor
INTO
@benefit_id
,@benefit_coverage_rules_benefit_framework_choice_list_id
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id
WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each benefit_coverage_rules record

INSERT INTO benefit_coverage_rules
(
benefit_id
,benefit_framework_choice_list_id
,single_value
,yes_no_id
,effective_from
,effective_thru
,benefit_coverage_rules_value_type_id
)
SELECT
(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = @benefit_id)
,@duplicate_choice_list_id
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id

FETCH NEXT FROM bcr_cursor
INTO
@benefit_id
,@benefit_coverage_rules_benefit_framework_choice_list_id
,@single_value
,@coverage_rules_yes_no_id
,@effective_from
,@effective_thru
,@benefit_coverage_rules_value_type_id
END
CLOSE bcr_cursor
DEALLOCATE bcr_cursor

FETCH NEXT FROM bfcl_cursor
INTO
@original_choice_list_id
,@current_benefit_framework_choice_list_ud
,@current_description
,@current_resolve_choice_list_at_id
,@current_episode_category_id
,@current_episode_type_id
END
CLOSE bfcl_cursor
DEALLOCATE bfcl_cursor

FETCH NEXT FROM bfbc_cursor
INTO
@current_benefit_framework_benefit_class_id
,@current_benefit_class_id
END
CLOSE bfbc_cursor
DEALLOCATE bfbc_cursor

-- Create new entries in benefit_framework_treatment_type_set
INSERT INTO benefit_framework_treatment_type_set
(
benefit_framework_id
,treatment_type_set_id
,effective_from
,effective_thru
)
SELECT
@duplicate_benefit_framework_id
,treatment_type_set_id
,effective_from
,effective_thru
FROM benefit_framework_treatment_type_set
WHERE benefit_framework_id = @id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

-- Create new entries in benefit_framework_user_assigned_result_code
INSERT INTO benefit_framework_user_assigned_result_code
(
benefit_framework_id
,criteria_id
,benefit_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
)
SELECT
@duplicate_benefit_framework_id
,criteria_id
,(SELECT duplicate_benefit_id FROM #benefit_to_benefit WHERE original_benefit_id = benefit_id)
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
FROM benefit_framework_user_assigned_result_code
WHERE benefit_framework_id = @id
AND @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999')

COMMIT TRANSACTION

END TRY
BEGIN CATCH

ROLLBACK TRANSACTION
DECLARE @error_msg as nvarchar(4000)
SELECT @error_msg = ERROR_MESSAGE()
RAISERROR(@error_msg, 16, 1)

END CATCH

RETURN ISNULL(@duplicate_benefit_framework_id, 0)
GO
