USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_clear_claim_procedure_ids_to_clear]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/18/2019  amortensen		1.0         Create

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is called by Clear Adjudication service to
get claim_procedure_id records that need to be cleared.
Originally, this query existed in the plx_claim_clear stored,
procedure, but was moved to this stored procedure.

The Clear Adjudication service calls this stored procedure to get
a list of claim_procedure records to clear, does some additional
work, then calls the regular plx_claim_clear stored procedure
passing it the list of claim_procedure_ids to finally clear them.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_claim_clear_claim_procedure_ids_to_clear] (
@ClaimId INT
,@commit BIT = NULL
,@debug SMALLINT = NULL
)
AS

BEGIN

SET NOCOUNT ON;

DECLARE @ClaimPaymentProcessAvailable INT;

SELECT @ClaimPaymentProcessAvailable = claim_payment_process_status_id
FROM claim_payment_process_status
WHERE golden_key = 'AVAILABLE';

-- Get the claim_procedures related to this claim
-- DO NOT CLEAR:
--  (1) claim lines with a payment status other than NULL or AVAILABLE
--  (2) negated claim lines

SELECT claim_procedure_id
FROM claim_procedure
WHERE claim_id = @ClaimId
AND (
claim_payment_process_status_id IS NULL
OR claim_payment_process_status_id = @ClaimPaymentProcessAvailable)
AND (
is_negated = 0
OR is_negated IS NULL);

END
GO
