USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_specialty_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 08/05/2009
--
--
CURRENT_VERSION: 1
--
DESCRIPTION:
This procedure is used to load data for frmCapitationGroup provider related grids
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_group_specialty_set_load]
(
@capitation_group_id AS INT = 0
)
AS
--
--
SET NOCOUNT ON
--
SELECT
cg.capitation_group_id,
cgpss.capitation_group_provider_specialty_set_id,
cgpss.provider_specialty_set_id,
pss.provider_specialty_set_ud,
pss.description,
cg.active,
cg.created_user_name,
cg.created_group_id,
cg.created_date,
cg.modified_date
FROM capitation_group cg
JOIN capitation_group_provider_specialty_set cgpss ON
cg.capitation_group_id = cgpss.capitation_group_id
JOIN provider_specialty_set pss on cgpss.provider_specialty_set_id = pss.provider_specialty_set_id
WHERE cg.capitation_group_id = isnull(@capitation_group_id, 0)

RETURN @@ROWCOUNT

--
GO
