USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_member_include_used_subcriber_address_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
Date: 10/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
10/15/2005  Trinh Le               1.0		 Add more select field
10/18/2005	Mai Tran				modify search SQL for @search_in_alias, @subscriber_id, @subcriber_tax parametrr.
10/27/2005	Mai Tran
06/14/2006	HuyThan					Search used subcriber address
10/09/2006	HuyThan					Changed member_additional_information
10/18/2006	HuyThan	 		2.0		Changed search with topic
11/09/2006	HuyThan			2.1		Changed vendor_tax
03/31/2009	eponomareff		3.0		Security Added - Result set restricted by security credential
05/11/2009	David Slayton	3.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		3.2		Added returnset limitations
09/19/2014	dcannon			3.3		RT:7004 modified for new member schema
01/15/2015	amortensen		3.4		RT:7741 reapplying fix for RT:7596 that was reverted due to incorrect commit
04/06/2015  LHendrix        3.5     RT:7779 and 8072 - remove ISNULL from columns in where clause
12/11/2015  amortensen      3.6     RT:9582 fixing issue with parameters passed to plx_ConcatenateAddress function
02/10/2016  amortensen      3.7     RT:9413 updating for searching member_additional_information by raw value
--
CURRENT_VERSION: 3.7
--
DESCRIPTION:
Finds member based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_find_member_include_used_subcriber_address_load]
(
@get_column_headers						BIT	= 0
,@personal_ud							NVARCHAR(50) = NULL
,@member_eligibility_ud					NVARCHAR(160) = NULL
,@name_last								NVARCHAR(50) = NULL
,@name_first							NVARCHAR(50) = NULL
,@name_middle							NVARCHAR(50) = NULL
,@member_name_id						INT = NULL
,@birth_date							DATETIME = NULL
,@phone_number							NVARCHAR(50) = NULL
,@member_personal_id_value				NVARCHAR(50) = NULL
,@personal_id_type_id					INT = NULL
,@address								NVARCHAR(255) = NULL
,@postal_code							NVARCHAR(35) = NULL
,@city									NVARCHAR(35) = NULL
,@state_id								INT = NULL
,@country_id							INT = NULL
,@county								NVARCHAR(35) = NULL
,@client_id								INT = NULL
,@client_group_id						INT = NULL
,@benefit_contract_id					INT = NULL
,@family_eligibility_id					INT = NULL
,@subscriber_id							INT = NULL
,@federal_ein							NVARCHAR(50) = NULL --federal_ein
,@additional_information_topic_id		INT = NULL
,@additional_information_topic_value	NVARCHAR(50) = NULL
,@additional_information_topic_raw_value NVARCHAR(50) = NULL
,@search_in_alias						BIT = 0
,@show_exact_matches					BIT	= 0
--security
,@security_credential            NVARCHAR(255) = NULL
,@active_directory_security_user_roles udtt_security_roles readonly

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		VARCHAR(8000)
,@SqlQuery1		VARCHAR(8000)
,@SqlQuery2		VARCHAR(8000)
,@SqlCondition	VARCHAR(8000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlQuery1	    = ''
,@SqlQuery2     = ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

--- RT:7741 re-adding RT7596: removed the ISNULL() check for pid.personal_id to allow the sql to make efficient use of the index.
IF @personal_ud IS NOT NULL AND @personal_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND pid.personal_id ' + @Prefix + dbo.plx_EncodeStringWildCard(@personal_ud,@show_exact_matches) + @Suffix

IF @member_eligibility_ud IS NOT NULL AND @member_eligibility_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND bpfem.member_eligibility_ud ' + @Prefix + dbo.plx_EncodeStringWildCard(@member_eligibility_ud,@show_exact_matches) + @Suffix

IF @name_last IS NOT NULL AND @name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_last ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_last,@show_exact_matches) + @Suffix

IF @name_first IS NOT NULL AND @name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_first ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_first,@show_exact_matches) + @Suffix

IF @name_middle IS NOT NULL AND @name_middle <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_middle ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_middle,@show_exact_matches) + @Suffix

IF @member_name_id IS NOT NULL AND @member_name_id <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.member_name_id  = ' + CONVERT(NVARCHAR, @member_name_id)


IF @birth_date IS NOT NULL AND @birth_date <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member.birth_date = CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @birth_date, 101) + ''', 101) '

IF @phone_number IS NOT NULL AND @phone_number <> ''
SET @SqlCondition = @SqlCondition + ' AND member_phone_number.telephone_number ' + @Prefix + dbo.plx_EncodeStringWildCard(@phone_number,@show_exact_matches) + @Suffix

IF @member_personal_id_value IS NOT NULL AND @member_personal_id_value <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'	EXISTS (SELECT 	member_personal_id.member_personal_id_id' +
'			FROM 	dbo.member_personal_id ' +
'			WHERE	member.member_id = member_personal_id.member_id ' +
' 			AND 	dbo.member_personal_id.id_value ' + @Prefix + dbo.plx_EncodeStringWildCard(@member_personal_id_value,@show_exact_matches) + @Suffix

IF @personal_id_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.member_personal_id.member_id_type_id = ' + CONVERT(NVARCHAR, @personal_id_type_id)
SET @SqlCondition = @SqlCondition + ')'
END

IF @show_exact_matches = 1
BEGIN
IF (@address IS NOT NULL) OR (@address <> '')
SET @SqlCondition = @SqlCondition + 'AND ISNULL(member_address.address_1,'''') +'' '' +ISNULL(member_address.address_2, '''')' + @Prefix + dbo.plx_EncodeStringWildCard(@address, @show_exact_matches) + @Suffix
END
ELSE
BEGIN
IF (@address IS NOT NULL) OR (@address <> '')
SET @SqlCondition = @SqlCondition + 'AND ISNULL(member_address.address_1,'''') +'' '' +ISNULL(member_address.address_2, '''')' +@Prefix+ dbo.plx_EncodeStringWildCard(@address, @show_exact_matches) + @Suffix
END

IF @postal_code IS NOT NULL AND @postal_code <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.postal_code ' + @Prefix + dbo.plx_EncodeStringWildCard(@postal_code,@show_exact_matches) + @Suffix

IF @city IS NOT NULL AND @city <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.city ' + @Prefix + dbo.plx_EncodeStringWildCard(@city,@show_exact_matches) + @Suffix

IF @state_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.state_id = ' + CONVERT(NVARCHAR, @state_id)

IF @country_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.country_id = ' + CONVERT(NVARCHAR, @country_id)

IF @county IS NOT NULL AND @county <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.county ' + @Prefix + dbo.plx_EncodeStringWildCard(@county,@show_exact_matches) + @Suffix

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client_group.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @benefit_contract_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.benefit_contract.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)

IF @family_eligibility_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.family_eligibility.family_eligibility_id = ' + CONVERT(NVARCHAR, @family_eligibility_id)

IF @subscriber_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND subscriber.family_eligibility_member_benefit_plan_id = ' + CONVERT(NVARCHAR, @subscriber_id)

IF @federal_ein IS NOT NULL AND @federal_ein <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'EXISTS (SELECT	vendor.federal_ein ' +
'		FROM 	vendor 			   ' +
' 		WHERE vendor.federal_ein ' + @Prefix + dbo.plx_EncodeStringWildCard(@federal_ein,@show_exact_matches) + @Suffix +
'		) '
END

IF @additional_information_topic_id IS NOT NULL AND @additional_information_topic_raw_value IS NOT NULL AND @additional_information_topic_raw_value <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'EXISTS
(
SELECT
member_additional_information_id
FROM member_additional_information mia
LEFT JOIN additional_information_topic_value aitv
ON aitv.additional_information_topic_value_id =
CAST(mia.additional_information_selection_value as NVARCHAR)
WHERE mia.member_id = member.member_id
AND mia.additional_information_topic_id = ' + CONVERT(VARCHAR, @additional_information_topic_id) + '
AND COALESCE(mia.additional_information_value, aitv.additional_information_topic_value_ud, mia.additional_information_selection_value, '''') '
+ @Prefix + CONVERT(VARCHAR, dbo.plx_EncodeStringWildCard(@additional_information_topic_raw_value,@show_exact_matches)) + @Suffix
SET @SqlCondition = @SqlCondition + ') '
END

SET @SqlQuery =  '
SELECT	 DISTINCT TOP (dbo.fn_results_limit())
member.member_id
,pid.personal_id as personalid
,pid.member_personal_id_id as personal_id_id
,member.gender_id
,member_phone_number.telephone_number AS phone_number
,dbo.member.birth_date AS birth_date
,locale.locale_id
,locale.postal_code
,locale.city
,locale.county
,state.state_ud
,country.country_ud
,CASE WHEN member_name.is_primary = 1 THEN cast( 0 as bit)  ELSE cast( 1 as bit) END AS alias
,member_name.name_first
,member_name.name_middle
,member_name.name_last
,member_name.name_suffix
,member_name.name_prefix_id
,member_name.member_name_id
,member_address.member_address_id
,member_address.address_1
,member_address.address_2
,member_phone_number.member_telephone_number_id as phone_id
,member_email.member_internet_address_id as email_address_id
,member_fax_number.fax_id as fax_id
,member_address.mail_ok
,member_fax_number.fax_number
,member_email.email
FROM
'
SET @SqlQuery1 =  '
dbo.member
LEFT JOIN
(
SELECT
member_personal_id.member_id
,id_value AS personal_id
,member_personal_id_id
FROM dbo.member_personal_id
INNER JOIN member_id_type
ON member_id_type.member_id_type_id = member_personal_id.member_id_type_id
WHERE member_id_type.golden_key = ''PID''
) pid
ON dbo.member.member_id = pid.member_id
INNER JOIN dbo.member_name
ON dbo.member.member_id = dbo.member_name.member_id '

IF @search_in_alias = 0  -- seacrh in primary names only
SET @SqlQuery1 = @SqlQuery1 + ' AND member_name.is_primary = 1 '

SET @SqlQuery1 = @SqlQuery1 + '
LEFT JOIN dbo.member_address
ON	member_address.member_id = member.member_id
AND member_address.is_primary = 1
LEFT JOIN dbo.locale
ON	member_address.locale_id = locale.locale_id
LEFT JOIN dbo.state
ON	state.state_id = locale.state_id
LEFT JOIN dbo.country
ON	country.country_id = locale.country_id

-- phone
LEFT JOIN
(
SELECT
member_telephone_number.member_id
,member_telephone_number.telephone_number
,member_telephone_number.member_telephone_number_id
FROM dbo.member_telephone_number
INNER JOIN dbo.telephone_number_type
ON telephone_number_type.telephone_number_type_id = member_telephone_number.telephone_number_type_id
WHERE telephone_number_type.golden_key = ''Unknown''
) AS member_phone_number
ON	member_phone_number.member_id = member.member_id

-- fax
LEFT JOIN
(
SELECT
member_telephone_number.member_id
,member_telephone_number.telephone_number AS fax_number
,member_telephone_number.member_telephone_number_id AS fax_id
FROM dbo.member_telephone_number
INNER JOIN dbo.telephone_number_type
ON telephone_number_type.telephone_number_type_id = member_telephone_number.telephone_number_type_id
WHERE	telephone_number_type.golden_key = ''Fax''
) AS member_fax_number
ON	member_fax_number.member_id = member.member_id

-- email
LEFT JOIN
(
SELECT
member_internet_address.member_id
,member_internet_address.member_internet_address_id
,member_internet_address.internet_address email
FROM member_internet_address
INNER JOIN dbo.internet_address_type
ON internet_address_type.internet_address_type_id = member_internet_address.internet_address_type_id
WHERE internet_address_type.golden_key = ''E-Mail''
AND member_internet_address.is_primary = 1
) AS member_email
ON	member_email.member_id = member.member_id

--eligibility
LEFT JOIN dbo.family_eligibility_member
ON dbo.family_eligibility_member.member_id = dbo.member.member_id
LEFT JOIN  dbo.family_eligibility
ON dbo.family_eligibility.family_eligibility_id = dbo.family_eligibility_member.family_eligibility_id
LEFT JOIN dbo.family_eligibility_member_benefit_plan bpfem
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
LEFT JOIN dbo.benefit_contract
ON dbo.benefit_contract.benefit_contract_id = dbo.family_eligibility.benefit_contract_id
LEFT JOIN dbo.benefit_contract_period bcp
ON bcp.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN dbo.benefit_plan
ON bpfem.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN dbo.client_group
ON dbo.benefit_contract.client_group_id = dbo.client_group.client_group_id
LEFT JOIN dbo.client_group_name
ON dbo.client_group_name.client_group_id = dbo.client_group.client_group_id
LEFT JOIN dbo.client
ON dbo.client_group.client_id = dbo.client.client_id
LEFT JOIN dbo.client_name
ON dbo.client_name.client_id = dbo.client.client_id
LEFT JOIN
(
SELECT
f.family_eligibility_member_id
,f.family_eligibility_id
,f.member_id
,bpfem1.family_eligibility_member_benefit_plan_id
,bpfem1.member_eligibility_ud
FROM dbo.family_eligibility_member f
INNER JOIN dbo.relationship_to_insured
ON f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem1
ON bpfem1.family_eligibility_member_id = f.family_eligibility_member_id
WHERE relationship_to_insured.golden_key IN (''SELF'',''GUARANTOR'')
) subscriber
ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN dbo.member_name subscriber_name
ON subscriber_name.member_id = subscriber.member_id
AND subscriber_name.is_primary = 1
LEFT JOIN dbo.member subscriber_member
ON subscriber_member.member_id = subscriber.member_id '


SET @SqlQuery2 =  '
(
SELECT
member_use_address_not_subcriber.*,
member_is_subcriber.member_id  as member_subcriber_id
--,member_is_subcriber.internet_address_id  as member_subcriber_internet_address_id
FROM
(
SELECT
f1.family_eligibility_member_id
,f1.family_eligibility_id
,f1.member_id
FROM family_eligibility_member f1
INNER JOIN relationship_to_insured
ON f1.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
AND relationship_to_insured.golden_key NOT IN (''SELF'',''GUARANTOR'')
WHERE f1.use_subsciber_address =1
) member_use_address_not_subcriber
INNER JOIN
(
SELECT
fem1.family_eligibility_id,
fem1.member_id
--member.internet_address_id
FROM family_eligibility_member fem1
INNER JOIN relationship_to_insured
ON fem1.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
AND relationship_to_insured.golden_key IN (''SELF'',''GUARANTOR'')
INNER JOIN member
ON fem1.member_id = member.member_id
--INNER JOIN internet_address ON member.internet_address_id =  internet_address.internet_address_id
)  member_is_subcriber
ON member_use_address_not_subcriber.family_eligibility_id = member_is_subcriber.family_eligibility_id
)fem
INNER JOIN dbo.member
ON member.member_id  = fem.member_id
LEFT JOIN
(
SELECT
member_personal_id.member_id
,id_value AS personal_id
,member_personal_id_id
FROM dbo.member_personal_id
INNER JOIN member_id_type
ON member_id_type.member_id_type_id = member_personal_id.member_id_type_id
WHERE member_id_type.golden_key = ''PID''
) pid
ON dbo.member.member_id = pid.member_id
LEFT JOIN dbo.member_name
ON dbo.member.member_id = dbo.member_name.member_id '

IF @search_in_alias = 0
SET @SqlQuery2 = @SqlQuery2 + ' AND member_name.is_primary = 1 '

SET @SqlQuery2 = @SqlQuery2 + '
LEFT JOIN dbo.member_address
ON fem.member_subcriber_id = member_address.member_id
AND member_address.is_primary = 1
LEFT JOIN dbo.locale
ON member_address.locale_id = locale.locale_id
LEFT JOIN dbo.state
ON state.state_id = locale.state_id
LEFT JOIN dbo.country
ON country.country_id = locale.country_id
-- phone
LEFT JOIN
(
SELECT
member_telephone_number.member_id
,member_telephone_number.telephone_number
,member_telephone_number.member_telephone_number_id
FROM dbo.member_telephone_number
INNER JOIN dbo.telephone_number_type
ON telephone_number_type.telephone_number_type_id = member_telephone_number.telephone_number_type_id
WHERE telephone_number_type.golden_key = ''Unknown''
) AS member_phone_number
ON	member_phone_number.member_id = fem.member_subcriber_id

-- fax
LEFT JOIN
(
SELECT
member_telephone_number.member_id
,member_telephone_number.telephone_number AS fax_number
,member_telephone_number.member_telephone_number_id AS fax_id
FROM dbo.member_telephone_number
INNER JOIN dbo.telephone_number_type
ON telephone_number_type.telephone_number_type_id = member_telephone_number.telephone_number_type_id
WHERE telephone_number_type.golden_key = ''Fax''
) AS member_fax_number
ON	member_fax_number.member_id = fem.member_subcriber_id

-- email
LEFT JOIN
(
SELECT
member_internet_address.member_id
,member_internet_address.member_internet_address_id
,member_internet_address.internet_address email
FROM member_internet_address
INNER JOIN dbo.internet_address_type
ON internet_address_type.internet_address_type_id = member_internet_address.internet_address_type_id
WHERE internet_address_type.golden_key = ''E-Mail''
) AS member_email
ON	member_email.member_id = fem.member_subcriber_id

--eligibility
LEFT OUTER JOIN	dbo.family_eligibility
ON dbo.family_eligibility.family_eligibility_id = fem.family_eligibility_id
LEFT OUTER JOIN	family_eligibility_member_benefit_plan AS bpfem
ON bpfem.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT OUTER JOIN	dbo.benefit_contract
ON dbo.benefit_contract.benefit_contract_id = dbo.family_eligibility.benefit_contract_id
LEFT OUTER JOIN	dbo.benefit_contract_period AS bcp
ON bcp.benefit_contract_id = dbo.benefit_contract.benefit_contract_id
LEFT OUTER JOIN	dbo.benefit_plan
ON bpfem.benefit_plan_id = dbo.benefit_plan.benefit_plan_id
LEFT JOIN dbo.client_group
ON dbo.benefit_contract.client_group_id = dbo.client_group.client_group_id
LEFT JOIN dbo.client_group_name
ON dbo.client_group_name.client_group_id = dbo.client_group.client_group_id
LEFT JOIN dbo.client
ON dbo.client_group.client_id = dbo.client.client_id
LEFT JOIN dbo.client_name
ON dbo.client_name.client_id = dbo.client.client_id
LEFT JOIN
(
SELECT
f.family_eligibility_member_id
,f.family_eligibility_id
,f.member_id
,bpfem1.family_eligibility_member_benefit_plan_id
,bpfem1.member_eligibility_ud
FROM dbo.family_eligibility_member f
INNER JOIN dbo.relationship_to_insured
ON f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem1
ON bpfem1.family_eligibility_member_id = f.family_eligibility_member_id
WHERE relationship_to_insured.golden_key IN (''SELF'',''GUARANTOR'')
) subscriber
ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN dbo.member_name subscriber_name
ON subscriber_name.member_id = subscriber.member_id
AND subscriber_name.is_primary = 1
LEFT JOIN dbo.member subscriber_member
ON subscriber_member.member_id = subscriber.member_id '

-----------------------------------
--Security - Data Security addition
-----------------------------------
--declare and instantiate security strings
DECLARE @SqlSecurityQueryAddition VARCHAR(1000)
SET @SqlSecurityQueryAddition = ''

--determine whether security is invoked -  if no security_credential is passed, security is not invoked
IF ISNULL(@security_credential, '') <> ''
BEGIN
--shortcircuit to avoid unnecessary work - determine whether user is restricted (i.e., does not have an unrestricted role)
IF dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1
BEGIN
--TODO security flag restriction is not yet implemented
SET @SqlSecurityQueryAddition =	'
INNER JOIN dbo.plx_fn_security_allowed_member_records(''' + @security_credential + ''' , @active_directory_security_user_roles) AS amr ON amr.member_id = #temp.member_id'
END
END
--------------
--end security
--------------
DECLARE @str NVARCHAR(MAX) = ''

IF ISNULL(@phone_number, '') <> '' OR ISNULL(@address, '') <> ''  OR
ISNULL(@postal_code, '') <> ''  OR ISNULL(@city, '') <> ''     OR
ISNULL(@state_id, 0) <> 0       OR ISNULL(@country_id,0) <> 0  OR
ISNULL(@county ,'') <> ''
BEGIN
PRINT '1'

--this proc will give you nightmares
--uncomment the print statements if you need to debug
--print @SqlQuery
--print @SqlQuery1
--Print @SqlCondition
--Print 'union'
--print @SqlQuery
--print @SqlQuery2
--print @SqlCondition

SET @str = '
SELECT *
INTO #temp
FROM
( ' + @SqlQuery + @SqlQuery1 + @SqlCondition + 'UNION '+ @SqlQuery + @SqlQuery2 + @SqlCondition + ' )

member_result

SELECT
*
,dbo.plx_ConcatenateName(name_last, name_first, name_middle, NULL) AS member_name
,dbo.plx_ConcatenateAddress(address_1, address_2, NULL, locale_id) as address
,dbo.plx_ConcatenateLocation(city, state_ud, country_ud, NULL, NULL, NULL) AS city_state_country
FROM #temp'
+ @SqlSecurityQueryAddition

EXEC sp_executesql @str, N'@active_directory_security_user_roles udtt_security_roles readonly', @active_directory_security_user_roles = @active_directory_security_user_roles

END
ELSE
BEGIN
PRINT '2'

SET @str = '
SELECT *
INTO #temp
FROM
( ' + @SqlQuery + @SqlQuery1 + @SqlCondition + ' )

member_result

SELECT
*
,dbo.plx_ConcatenateName(name_last, name_first, name_middle, NULL) AS member_name
,dbo.plx_ConcatenateAddress(address_1, address_2, NULL, locale_id) as address
,dbo.plx_ConcatenateLocation(city, state_ud, country_ud, NULL, NULL, NULL) AS city_state_country
FROM #temp'
+ @SqlSecurityQueryAddition

EXEC sp_executesql @str, N'@active_directory_security_user_roles udtt_security_roles readonly', @active_directory_security_user_roles = @active_directory_security_user_roles

END

RETURN @SP_SUCCESS
GO
