USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_client_group_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 8/8/2005
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/8/2005	HungTNguyen			1.0				Created
8/10/2005	HungTNguyen			1.1				Add cgn.primary_name = 1
02/09/2006  HungTNguyen         1.2             Removed contractor_id
--
CURRENT_VERSION	: 1.0
--
DESCRIPTION	:
Load Group by id for Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_benefit_contract_client_group_load]
(
@client_group_id	int = NULL
)
AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cg.client_group_id
,cgn.client_group_ud
,cgn.client_group_nm
,cg.client_id
,cg.billing_type_id
,cg.effective_from
,cg.effective_thru
,cg.termination_reason_id
,cg.company_type_id
,cg.billing_locale_id
,cg.incorporated_date
,cg.incorporated_country_id
,cg.incorporated_state_id
,cg.industry_code_id
--      ,cg.contractor_id
--  ,cg.client_group_service_representative_id
,cg.residence_status_id
--   ,cg.benefit_contract_template_id
,cg.accumulator_framework_id
,cg.timely_filing_rule
,cg.timely_filing_number_units
--      ,cg.timely_filing_unit_type_group_id
,cg.timely_filing_unit_day_week_month_year_id
,cg.timely_filing_result_code_id
,cg.timely_filing_result_code_status_id
,cg.active
,cg.created_user_name
,cg.created_group_id
,cg.created_date
,cg.modified_date

FROM client_group cg
LEFT JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1)
WHERE cg.client_group_id = @client_group_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
