USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_alt_course_def_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/14/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/14/2010  eponomareff 2.0			Created ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete alternate course of treatment definitions associated with a benefit plan
for Alternate Course Definition Assignment grid (grdAlternateCourseDefinitionAssignment) on Benefit Plan Form (frmBenefitPlan)

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_plan_alt_course_def_delete]
(
@benefit_plan_alternate_course_of_treatment_definition_id    int = NULL
,@cascade                                                     bit = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM benefit_plan_alternate_course_of_treatment_definition
WHERE benefit_plan_alternate_course_of_treatment_definition_id = @benefit_plan_alternate_course_of_treatment_definition_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM
benefit_plan_alternate_course_of_treatment_definition
WHERE
benefit_plan_alternate_course_of_treatment_definition_id = @benefit_plan_alternate_course_of_treatment_definition_id
END
--
RETURN @SP_SUCCESS
--
GO
