USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_reinsurance_contract_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 12/23/2020
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
12/23/2020  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the 'Reinsurance Contract Assignments' grid on the Client form.

******************************/
CREATE PROCEDURE [dbo].[plx_client_reinsurance_contract_load] (
@client_id INT = NULL
)
AS
DECLARE @SP_SUCCESS INT = 0;

SELECT
rc.reinsurance_contract_id,
rc.reinsurance_contract_ud,
rc.use_for_all_groups,
CASE WHEN rcr.reinsurance_contract_id IS NOT NULL
THEN 1
ELSE 0
END in_reinsurance_calculation_run,

specific_policy_effective_dates =
CONVERT(VARCHAR(10), spec_policy.effective_from, 101)
+ ' - '
+ CONVERT(VARCHAR(10), spec_policy.effective_thru, 101),

specific_policy_benefit_category =
dbo.plx_fn_get_reinsurance_contract_benefit_categories(
spec_policy.reinsurance_contract_policy_id),

aggregate_policy_effective_dates =
CONVERT(VARCHAR(10), agg_policy.effective_from, 101)
+ ' - '
+ CONVERT(VARCHAR(10), agg_policy.effective_thru, 101),

aggregate_policy_benefit_category =
dbo.plx_fn_get_reinsurance_contract_benefit_categories(
agg_policy.reinsurance_contract_policy_id)

FROM reinsurance_contract rc
LEFT JOIN reinsurance_contract_specific spec
ON spec.reinsurance_contract_specific_id = rc.reinsurance_contract_specific_id
LEFT JOIN reinsurance_contract_policy spec_policy
ON spec_policy.reinsurance_contract_policy_id = spec.reinsurance_contract_policy_id
LEFT JOIN reinsurance_contract_aggregate agg
ON agg.reinsurance_contract_aggregate_id = rc.reinsurance_contract_aggregate_id
LEFT JOIN reinsurance_contract_policy agg_policy
ON agg_policy.reinsurance_contract_policy_id = agg.reinsurance_contract_policy_id
LEFT JOIN (
SELECT DISTINCT rcr.reinsurance_contract_id
FROM reinsurance_calculation_run rcr
) rcr
on rcr.reinsurance_contract_id = rc.reinsurance_contract_id


WHERE
rc.client_id = @client_id;

RETURN @SP_SUCCESS;
GO
