USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_on_demand_run_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a on demand run before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the on demand run to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disbursement_on_demand_run_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the disbursement on demand run exists
IF NOT EXISTS (SELECT disbursement_on_demand_run_id FROM disbursement_on_demand_run WHERE disbursement_on_demand_run_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM disbursement_claim_payment_run WHERE disbursement_on_demand_run_id = @id)
BEGIN
--check claim disbursement runs
SELECT 'Disbursement Claims Payment Run' AS object_golden_key, disbursement_claim_payment_run_ud AS object_ud
FROM disbursement_claim_payment_run
WHERE disbursement_on_demand_run_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE

--
GO
