USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_external_claim_editing_result_code_mapping_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/01/2014
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/31/2014	amortensen		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the external_claim_editing_result_code_mapping form.
--
REQUIREMENTS:
--
INPUTS:
@external_claim_editing_result_code_mapping_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_external_claim_editing_result_code_mapping_load]
(
@external_claim_editing_result_code_mapping_id		INT=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ecercm.external_claim_editing_result_code_mapping_id,
ecercm.external_claim_editing_result_code_mapping_ud,
ecercm.description,
ecercm.apply_claim_edits_to_claim_header_result_codes

FROM
external_claim_editing_result_code_mapping ecercm

WHERE ecercm.external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id

RETURN @SP_SUCCESS
GO
