USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
DESCRIPTION:
Load for Fee Schedule Rule combo box
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_fee_schedule_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_rule_id
,fee_schedule_rule_ud
FROM fee_schedule_rule
ORDER BY fee_schedule_rule_ud
--
RETURN @SP_SUCCESS
GO
