USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_members_volume]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Retrieves volumes for enrollment members on the same plan, for validation;
Used by QC UI form: Eligibility Volume and Underwriting
to validate Volume, Rate, and Underwriting Details grid
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_members_volume]
(
@family_eligibility_id	INT,
@benefit_plan_id  INT,
@validation_effective_from DATE,
@validation_effective_thru  DATE = NULL
)
AS

-- Get elections and relationship for eligibilities for this enrollment and plan,
-- where the election datespan overlaps the effective from for the configuration data

DECLARE @maxDate DATE
SET @maxDate = '9999/12/31'

-- modify @validation_effective_thru to handle NULL
IF @validation_effective_thru IS NULL
set @validation_effective_thru = @maxDate

SELECT DISTINCT
elect.family_eligibility_member_benefit_plan_id,
-- relationship information
rti.golden_key as relationship_to_insured_golden_key,
rti.treat_as_dependent as relationship_to_insured_treat_as_dependent,
rti.treat_as_spouse as relationship_to_insured_treat_as_spouse,
-- election amount and effective period
elect.requested_amount,
elect.effective_from AS election_effective_from,
elect.effective_thru AS election_effective_thru,
vol_assign.premium_rate_relationship_type_id,
vol_assign.volume_id,
pr_rel_type.golden_key as premium_rate_relationship_type_golden_key
FROM
eligibility_volume elect
JOIN family_eligibility_member_benefit_plan fembp
ON elect.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN relationship_to_insured rti
ON fem.relationship_to_insured_id = rti.relationship_to_insured_id
JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
JOIN benefit_contract_period bcp
ON bcp.benefit_contract_id = fe.benefit_contract_id
JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
AND bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
JOIN benefit_contract_period_benefit_plan_volume vol_assign
ON bcpbp.benefit_contract_period_benefit_plan_id = vol_assign.benefit_contract_period_benefit_plan_id
JOIN premium_rate_relationship_type pr_rel_type
ON vol_assign.premium_rate_relationship_type_id = pr_rel_type.premium_rate_relationship_type_id
WHERE
fem.family_eligibility_id = @family_eligibility_id
AND	fembp.benefit_plan_id = @benefit_plan_id
-- relationships are relevant - make sure relationships are compatible
AND
(
rti.golden_key in ('Self', 'Guarantor') AND pr_rel_type.golden_key in ('SELF', 'SELF_SPOUSE', 'SELF_DEPENDENT', 'SELF_SPOUSE_DEPENDENT')
OR
rti.treat_as_spouse = 1 AND pr_rel_type.golden_key in ('SPOUSE', 'SELF_SPOUSE', 'SPOUSE_DEPENDENT', 'SELF_SPOUSE_DEPENDENT')
OR
rti.treat_as_dependent = 1 AND pr_rel_type.golden_key in ('DEPENDENT', 'SELF_DEPENDENT', 'SPOUSE_DEPENDENT', 'SELF_SPOUSE_DEPENDENT')
)
-- dates are relevant - look for any overlap
AND
(
vol_assign.effective_from BETWEEN @validation_effective_from AND @validation_effective_thru
OR
@validation_effective_from BETWEEN vol_assign.effective_from AND ISNULL(vol_assign.effective_thru, @maxDate)
);
GO
