USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_audit_create_objects]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  plx_audit_create_objects claim_processing_queue

CREATE PROCEDURE [dbo].[plx_audit_create_objects] (
@table_name VARCHAR(128) = NULL
)
AS
SET nocount ON

--DECLARE @table_name VARCHAR(128)

--  plx_audit_create_objects 'claim'
/*
select 'drop table '+name
from sys.objects
where name like 'zz_audit_%'
and name != 'zz_audit_aa_table_list'
order by name
*/

--if just working on one table
IF @table_name IS NOT NULL
BEGIN

EXEC plx_audit_create_table @table_name

EXEC plx_audit_create_trigger @table_name

RETURN

END
ELSE
--review of the database.  reads table list
--drop all triggers.  If a table has been removed from the list then remove the audit trigger
DECLARE @cmd VARCHAR(4000)
DECLARE cur_drop_trigger CURSOR
FOR SELECT
'drop trigger [' + name + ']'
FROM
sys.triggers
WHERE
name LIKE 'trg_audit%'

OPEN cur_drop_trigger
WHILE 1 = 1
BEGIN
FETCH cur_drop_trigger INTO @cmd
IF @@fetch_status != 0
BREAK
EXEC (@cmd)
END
CLOSE cur_drop_trigger
DEALLOCATE cur_drop_trigger

--now add any tables that are missing and the triggers
DECLARE crs_list_audit_tables CURSOR
FOR SELECT
table_name
FROM
zz_audit_aa_table_list


OPEN crs_list_audit_tables

FETCH NEXT FROM crs_list_audit_tables INTO @table_name

IF @@FETCH_STATUS = 0
BEGIN
PRINT '-----------------------------------------------------------------'
PRINT '-- Updating audit objects'
PRINT '-----------------------------------------------------------------'
END

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT
@table_name



EXEC plx_audit_create_table @table_name

EXEC plx_audit_create_trigger @table_name

FETCH NEXT FROM crs_list_audit_tables INTO @table_name
END

CLOSE crs_list_audit_tables
DEALLOCATE crs_list_audit_tables
GO
