USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_accumulator_choice_list_resolution_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Accumulator Class Choice Resolution"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_episode_accumulator_choice_list_resolution_save]

(
@episode_accumulator_choice_list_resolution_id int = NULL OUTPUT
,@episode_id                                 int = NULL
,@accumulator_limit_rule_id                  int = NULL
,@accumulator_sub_limit_rule_id              int = NULL
,@family_accumulator_valid_choice_id         int = NULL
,@individual_accumulator_valid_choice_id     int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @episode_accumulator_choice_list_resolution_id is Null
BEGIN
--- Create a new record
INSERT INTO episode_accumulator_choice_list_resolution(
episode_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,family_accumulator_valid_choice_id
,individual_accumulator_valid_choice_id
,active
)
VALUES
(@episode_id
,@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@family_accumulator_valid_choice_id
,@individual_accumulator_valid_choice_id
,@active
)
--
SET @episode_accumulator_choice_list_resolution_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM episode_accumulator_choice_list_resolution WHERE episode_accumulator_choice_list_resolution_id = @episode_accumulator_choice_list_resolution_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

--- Updating an existing record
--
UPDATE episode_accumulator_choice_list_resolution
SET
accumulator_limit_rule_id                = @accumulator_limit_rule_id
,accumulator_sub_limit_rule_id            = @accumulator_sub_limit_rule_id
,family_accumulator_valid_choice_id       = @family_accumulator_valid_choice_id
,individual_accumulator_valid_choice_id   = @individual_accumulator_valid_choice_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE episode_accumulator_choice_list_resolution_id = @episode_accumulator_choice_list_resolution_id
END
--
RETURN @SP_SUCCESS
GO
