USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_past_due_penalty_account_assignment_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[plx_customer_past_due_penalty_account_assignment_delete]
(
@customer_past_due_penalty_account_assignment_id            int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM dbo.customer_past_due_penalty_account_assignment WHERE customer_past_due_penalty_account_assignment_id = @customer_past_due_penalty_account_assignment_id )BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--


--
--  END
--
UPDATE dbo.customer_past_due_penalty_account_assignment
SET active = 0
WHERE customer_past_due_penalty_account_assignment_id = @customer_past_due_penalty_account_assignment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
