USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_criteria_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0			Created
02/25/2010	Vishwa			1.1			Removed missing_elgiibility field on auto termination queue criteria grid to															fecilitate denied lines to pick up same quueue
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Load data for grid grdCriteria on form frmAutoTerminationQueue

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_auto_termination_queue_criteria_load]
(
@auto_termination_queue_id    INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
atqc.auto_termination_queue_queue_criteria_id
,atqc.client_id
,cn.client_ud
,atqc.client_group_id
,cgn.client_group_ud
,atqc.benefit_contract_id
,bc.benefit_contract_ud
,atqc.benefit_plan_id
,bp.benefit_plan_ud
,atqc.auto_termination_rule_id
,atr.auto_termination_rule_ud
,atqc.effective_from
,atqc.effective_thru

FROM dbo.auto_termination_queue_queue_criteria atqc
left join dbo.client_name cn ON atqc.client_id = cn.client_id
left join dbo.client_group_name cgn ON atqc.client_group_id = cgn.client_group_id
left join dbo.benefit_contract bc ON atqc.benefit_contract_id = bc.benefit_contract_id
left join dbo.benefit_plan bp ON atqc.benefit_plan_id = bp.benefit_plan_id
left join dbo.auto_termination_rule atr ON atqc.auto_termination_rule_id = atr.auto_termination_rule_id

WHERE atqc.auto_termination_queue_id = @auto_termination_queue_id

ORDER BY CASE WHEN atqc.effective_from IS NULL THEN 0 ELSE 1 END ASC, atqc.effective_from DESC,
CASE WHEN atqc.effective_thru IS NULL THEN 0 ELSE 1 END ASC, atqc.effective_thru DESC,
atr.auto_termination_rule_ud, bc.benefit_contract_ud, bp.benefit_plan_ud, cn.client_ud, cgn.client_group_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
