USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 03/13/2009
--
REVISION_HISTORY:
--
Date        Modified By      Version Description
--------------------------------------------------------------------------------
03/13/2009  Wade Christensen 1.0     Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check for transaction can be deleted or not.

Delete Condition :	When Transaction is Manual, and does not exist in any Invoices,
then we can delete it.
Can't delete transactions created by any process.

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT accounting_transaction_ar_id
FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @id)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN
-- If payment is not applied to any invoices then it can be deleted
IF EXISTS(SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @id)
BEGIN
--check apply_to transactions (accounting_transaction_ap_apply_to)
SELECT
'Invoice or Debit Memo' AS object_golden_key,
atar.accounting_transaction_ar_ud AS object_ud
FROM accounting_transaction_ar_apply_to apply_to
JOIN accounting_transaction_ar atar
ON atar.accounting_transaction_ar_id = apply_to.to_accounting_transaction_ar_id
WHERE apply_to.from_accounting_transaction_ar_id = @id

RETURN @SP_DELETE_UNABLE
END

--Check Reconciliation
-- Individual
IF EXISTS (SELECT 1
FROM reconciliation_premium_payment_individual_detail_generated_transaction rec_ind_det_cp
WHERE rec_ind_det_cp.accounting_transaction_ar_id = @id
)
BEGIN
SELECT 'RECONCILIATION_WORK_QUEUE' AS object_golden_key, 'Reconciliation Payment Process' AS object_ud
RETURN @SP_DELETE_UNABLE
END

END

RETURN @SP_DELETE_ABLE
GO
