USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_negate_payment_penalties]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 4/6/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
4/6/2015	Chad Maddox		1.0			created
9/24/2024 Crystalyn 		1.1			Added optional claim_procedure_ids for Readjudication service
--

--
DESCRIPTION:
When a claim procedure has been chosen for negation, the associated accounting transactions for any
payment penalties accrued may also need to be negated. The reversal of the transactions happens
at a later time than negation, which at this time is in the Payment Penalty run.
The decision to negate the payment penalties is recorded with this stored procedure.
It takes only the claim_procedure_id and no other parameters, as once the claim is negated,
there is no way to reverse the decision to negate the payment penalties.

Is used in the UI and in the Readjudication service.
--
REQUIREMENTS:
--
INPUTS:
@claim_procedure_id
@negate_penalties BIT - 1 = negate 0 or omitted = no negation
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_claim_procedure_negate_payment_penalties]
(
@claim_procedure_id		INT = NULL,
@negate_penalties		BIT = 0,
@claim_procedure_ids	udtt_ids READONLY
)
AS
BEGIN
DECLARE @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID INT;

-- Get the accounting source ID for payment penalties
SET @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID =
(SELECT accounting_source_id
FROM accounting_source
WHERE golden_key = 'PAYMENT_PENALTY');

-- Update negate_payment_penalty based on the provided claim_procedure_ids or single claim_procedure_id
UPDATE accounting_transaction_ap_claim_detail
SET negate_payment_penalty = @negate_penalties
FROM accounting_transaction_ap_claim_detail detail
JOIN accounting_transaction_ap atap
ON detail.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
WHERE (EXISTS (SELECT 1 FROM @claim_procedure_ids) AND claim_procedure_id IN (SELECT id FROM @claim_procedure_ids))
OR claim_procedure_id = ISNULL(@claim_procedure_id, 0)
AND atap.accounting_source_id = @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID;

RETURN 0;
END
GO
