USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_asc_facility_location_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
DATE: 12/27/2005
--
REVISION_HISTORY:
--
Date         Modified By   Version	Description
--------------------------------------------------------------------------------
12/27/2005  Hiep Nguyen     1.0     Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.2
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:

, @show_exact_match
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_find_asc_facility_location_code_load]
(
@get_column_headers						BIT = 0
, @asc_facility_location_code            NVARCHAR(50) = NULL
, @city_county_area                      NVARCHAR(300) = NULL
, @state                                 NVARCHAR(50) = NULL
, @wage_index                            numeric = NULL
, @effective_from                        DATETIME = NULL
, @effective_thru                        DATETIME = NULL
, @show_exact_match                      BIT = 0
) AS

BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)
,@EffFrom       NVARCHAR(10)
,@EffThru       NVARCHAR(10)
,@OrderBy	NVARCHAR(1000)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
,@EffFrom       = ''
,@EffThru       = ''
,@OrderBy	= ''
--
IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
SET @EffFrom = '='
SET @EffThru = '='
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
SET @EffFrom = '>='
SET @EffThru = '<='
END

IF @asc_facility_location_code IS NOT NULL AND @asc_facility_location_code <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(a.asc_facility_location_code, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@asc_facility_location_code, @show_exact_match) + @Suffix

IF @city_county_area IS NOT NULL AND @city_county_area <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(a.city_county_area, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@city_county_area, @show_exact_match) + @Suffix

IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND a.effective_from ' + @EffFrom + ' CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''',101)'

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND a.effective_thru ' + @EffThru + ' CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''',101)'

IF @state IS NOT NULL AND @state <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(a.state, '''') '+ @Prefix + dbo.plx_EncodeStringWildCard(@state, @show_exact_match) + @Suffix

IF @wage_index IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND a.wage_index =  '+ CONVERT(NVARCHAR, @wage_index)


SET @SqlQuery = '
SELECT DISTINCT  TOP (dbo.fn_results_limit())
a.asc_facility_wage_index_id
, a.asc_facility_location_code
, a.wage_index
, a.effective_from
, a.effective_thru
, a.state
, a.city_county_area
, CASE WHEN a.effective_from IS NULL THEN 0 ELSE 1 END
, CASE WHEN a.effective_thru IS NULL THEN 0 ELSE 1 END
FROM dbo.asc_facility_wage_index a	'

SET @OrderBy = '
ORDER BY
CASE WHEN a.effective_from IS NULL THEN 0 ELSE 1 END , a.effective_from DESC
,CASE WHEN a.effective_thru IS NULL THEN 0 ELSE 1 END , a.effective_thru DESC
'

EXEC (@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
END
GO
