USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_financial_institution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[plx_beneficiary_financial_institution_delete]
(
@beneficiary_financial_institution_id   int = NULL   OUTPUT
,@financial_institution_id		         int =null
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM beneficiary_financial_institution WHERE beneficiary_financial_institution_id = @beneficiary_financial_institution_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM beneficiary_financial_institution
WHERE beneficiary_financial_institution_id = @beneficiary_financial_institution_id

DELETE FROM financial_institution
WHERE financial_institution_id = @financial_institution_id
END
--
RETURN @SP_SUCCESS
--
GO
