USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_provider_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 08/05/2009
--
--
CURRENT_VERSION: 1
--
DESCRIPTION:
This procedure is used to load data for frmCapitationGroup provider related grids
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_group_provider_load]
(
@capitation_group_id INT,
@is_excluded BIT = 0
)
AS
--
--
SET NOCOUNT ON
--
SELECT
cg.capitation_group_id,
cgp.capitation_group_provider_identifier_id,
cgp.provider_identifier_id,
pi.provider_ud,
dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name,
cg.active,
cg.created_user_name,
cg.created_group_id,
cg.created_date,
cg.modified_date
FROM capitation_group cg
JOIN capitation_group_provider_identifier cgp ON
cg.capitation_group_id = cgp.capitation_group_id
JOIN provider_identifier pi on cgp.provider_identifier_id = pi.provider_identifier_id
JOIN provider p on pi.provider_id = p.provider_id
JOIN provider_name pn on p.provider_id = pn.provider_id and pn.is_primary = 1
WHERE cg.capitation_group_id = isnull(@capitation_group_id, 0) AND cgp.is_excluded = isnull(@is_excluded,0)

RETURN @@ROWCOUNT

--
GO
