USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/24/2005	ptran	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Benefit Contract Period panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_id
--
OUTPUTS:
benefit period detail records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_benefit_contract_period_load]
(
@benefit_contract_period_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcp.benefit_contract_period_id
,CAST(NULL AS INT) AS prev_benefit_contract_period_id
,bcp.benefit_contract_id

,bcp.effective_from 	AS  period_effective_from	--,CONVERT(varchar(10), bcp.effective_from, 101) AS effective_from
,bcp.effective_thru 	AS	period_effective_thru	--,CONVERT(varchar(10), bcp.effective_thru, 101) AS effective_thru
,bcp.locked_from_use
,bcp.renewal_months_warning
,bcp.benefit_termination_reason_id

,bcp.active
,bcp.created_user_name
,bcp.created_group_id

,bcp.created_date
,bcp.modified_date

,bcp.effective_from as period_plan_eff_from 	--use to populate data for eff from on Plan Choices Tab
,bcp.effective_thru as period_plan_eff_thru	--use to populate data for eff through on Plan Choices Tab


FROM benefit_contract_period bcp
WHERE benefit_contract_period_id = @benefit_contract_period_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
