USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_alt_course_def_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/14/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/14/2010  eponomareff 2.0			Created ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load alternate course of treatment definitions associated with a benefit plan
for Alternate Course Definition Assignment grid (grdAlternateCourseDefinitionAssignment) on Benefit Plan Form (frmBenefitPlan)
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_alt_course_def_load]
(
@benefit_plan_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

bpacotd.benefit_plan_alternate_course_of_treatment_definition_id
,bpacotd.alternate_course_of_treatment_map_id
,alternate_course_of_treatment_map_ud
,bpacotd.effective_from
,bpacotd.effective_thru

FROM

benefit_plan_alternate_course_of_treatment_definition bpacotd
left join alternate_course_of_treatment_map acotm
ON bpacotd.alternate_course_of_treatment_map_id = acotm.alternate_course_of_treatment_map_id

WHERE
bpacotd.benefit_plan_id = @benefit_plan_id
ORDER BY
bpacotd.effective_from asc
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN 1
END
--
GO
