USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_user_assigned_result_code_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
DATE: 01/09/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/09/2006	tinhdo		1.0		Created
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
11/14/2006	mai tran				remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for User Assigned Result Codes grid on Client form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_user_assigned_result_code_save]
(
@client_user_assigned_result_code_id        int = NULL   OUTPUT
,@client_id                                  int = NULL
,@criteria_id                                int = NULL
,@result_code_id                             int = NULL
,@result_code_status_id                      int = NULL
,@comment                                    nvarchar(1000) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010075',
@ERROR_CANT_INSERT 	= '159010073',
@ERROR_CANT_UPDATE 	= '159010074'
--
--
IF @client_user_assigned_result_code_id is Null
BEGIN
--- Create a new record
INSERT INTO client_user_assigned_result_code(
client_id
,criteria_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
VALUES
(@client_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_user_assigned_result_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM client_user_assigned_result_code WHERE client_user_assigned_result_code_id = @client_user_assigned_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE client_user_assigned_result_code
SET
client_id                                = @client_id
,criteria_id                              = @criteria_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,comment                                  = @comment
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_user_assigned_result_code_id = @client_user_assigned_result_code_id
IF @@ERROR <> 0

BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
--
RETURN @SP_SUCCESS
--
GO
