USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_network_ranking_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/11/2005				1.0		Created
01/23/2003	Thuy Ha					Change @@ROWCOUNT = 1 --> @@ROWCOUNT >= 1
03/09/2006	HungTNguyen		1.2             the table has been changed to network_level
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'provider_network_ranking' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE         PROCEDURE [dbo].[plx_dd_provider_network_ranking_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
network_level_id as provider_network_level_id
--,network_level_ud as provider_network_ranking_ud
,network_level_ud as provider_network_level_ud


FROM network_level
ORDER BY provider_network_level_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
