USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/12/2011
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
09/12/2011	Chad Maddox  1.0      Created
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load data for form frmAutoTerminationRun
--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_run_load]
(
@auto_termination_run_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
atr.auto_termination_run_id
,atr.auto_termination_run_ud
,atr.auto_termination_queue_id
,atq.auto_termination_queue_ud
,CONVERT(NVARCHAR, atr.start_time, 101) AS run_date
FROM dbo.auto_termination_run atr
LEFT JOIN dbo.auto_termination_queue atq ON atr.auto_termination_queue_id = atq.auto_termination_queue_id
WHERE atr.auto_termination_run_id = @auto_termination_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
