USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_check_resolved_choice_list]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 04/12/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/12/2006	mttran		1.0			created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check benefit whether it has any Benefit / Accumulator choice list have not been resolved in Benefit / Accumulator
choice list resolution grid.
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_id
OUTPUTS:
--
RETURN_VALUES:
1	Valid (means all choice list have been resolved)
0	Invalid
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_plan_check_resolved_choice_list]
(
@benefit_plan_id 	INT = NULL
) AS
BEGIN
DECLARE
@SP_EXCEPTION int,
@SP_VALID int,
@SP_INVALID int
--	@tmp int

SET @SP_EXCEPTION	= -1
SET @SP_VALID 		= 1
SET	@SP_INVALID		= 0

-- check whether this benefit plan exists
IF NOT EXISTS (	SELECT benefit_plan_id FROM benefit_plan WHERE benefit_plan_id = @benefit_plan_id)
begin
select @SP_EXCEPTION
RETURN @SP_EXCEPTION
end
-- check whether there are any benefit choice list which haven't been resolved yet
IF EXISTS (
SELECT	1
FROM
-- get all coverage rule using choice list resolved at "Benefit Plan" -- begin
dbo.benefit_framework bf
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = bf.benefit_framework_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
-- get all coverage rule using choice list resolved at "Benefit Plan" -- end
LEFT JOIN dbo.benefit_plan_benefit_class_choice_resolution bpbccr
ON 	bpbccr.benefit_coverage_rules_id = benefit_coverage_rules.benefit_coverage_rules_id
AND	bpbccr.benefit_plan_id = @benefit_plan_id
WHERE   rcla.golden_key = N'BENEFIT PLAN'
AND		bf.benefit_framework_id = (SELECT benefit_framework_id FROM benefit_plan WHERE benefit_plan_id = @benefit_plan_id)
-- only choice list has more than one valid choice can be resolved at somewhere different from benefit framework
AND		1 < (	SELECT	COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id)
-- get coverage rule / choice list not resolved at benefit plan
AND		(	bpbccr.benefit_coverage_rules_id IS NULL -- means this is a new coverage rule
OR	bpbccr.benefit_framework_valid_choice_id IS NULL -- means this choice list was resolved
)
)
begin
select @SP_INVALID
update benefit_plan set plan_assignment_status_id=3 where benefit_plan_id=@benefit_plan_id
RETURN @SP_INVALID
end
-- check whether there are any accumulator choice list which haven't been resolved yet
IF EXISTS (
SELECT	*
FROM    -- get all limit rule / sub limit rule using choice list resolved at "Benefit Plan" -- begin
dbo.accumulator_framework af
INNER JOIN dbo.accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN dbo.accumulator_framework_accumulator_class_accumulator afacc
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN (
SELECT 	 accumulator_framework_accumulator_class_accumulator_id
,individual_accumulator_choice_list_id
,family_accumulator_choice_list_id
,effective_from
,effective_thru
,accumulator_limit_rule_id
,NULL AS accumulator_sub_limit_rule_id
FROM 	accumulator_limit_rule
UNION
SELECT	 asl.accumulator_framework_accumulator_class_accumulator_id
,aslr.individual_accumulator_choice_list_id
,aslr.family_accumulator_choice_list_id
,aslr.effective_from
,aslr.effective_thru
,NULL AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id
FROM 	accumulator_sub_limit_rule aslr
INNER JOIN accumulator_sub_limit asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
) accumulator_rule
ON accumulator_rule.accumulator_framework_accumulator_class_accumulator_id = afacc.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN (
SELECT 	ind_choice_list1.accumulator_choice_list_id,
ind_choice_list1.accumulator_choice_list_ud
FROM	dbo.accumulator_choice_list ind_choice_list1
INNER JOIN dbo.resolve_choice_list_at ind_rcla
ON	ind_rcla.resolve_choice_list_at_id = ind_choice_list1.resolve_choice_list_at_id
WHERE	ind_rcla.golden_key = N'BENEFIT PLAN'
-- only choice list has more than one valid choice can be resolved at somewhere different from framework
AND		1 < (	SELECT	COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice
WHERE	accumulator_valid_choice.accumulator_choice_list_id = ind_choice_list1.accumulator_choice_list_id)
) ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_rule.individual_accumulator_choice_list_id
LEFT JOIN (
SELECT 	family_choice_list1.accumulator_choice_list_id,
family_choice_list1.accumulator_choice_list_ud
FROM	dbo.accumulator_choice_list family_choice_list1
INNER JOIN dbo.resolve_choice_list_at family_rcla
ON	family_rcla.resolve_choice_list_at_id = family_choice_list1.resolve_choice_list_at_id
WHERE	family_rcla.golden_key = N'BENEFIT PLAN'
-- only choice list has more than one valid choice can be resolved at somewhere different from framework
AND		1 < (	SELECT	COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice
WHERE	accumulator_valid_choice.accumulator_choice_list_id = family_choice_list1.accumulator_choice_list_id)
) family_choice_list
ON family_choice_list.accumulator_choice_list_id = accumulator_rule.family_accumulator_choice_list_id
-- get all limit rule / sub limit rule using choice list resolved at "Benefit Plan" -- end
LEFT JOIN dbo.benefit_plan_accumulator_class_choice_resolution bpcccr
ON	bpcccr.benefit_plan_id = @benefit_plan_id
AND	((accumulator_rule.accumulator_limit_rule_id IS NULL AND bpcccr.accumulator_limit_rule_id IS NULL
AND accumulator_rule.accumulator_sub_limit_rule_id = bpcccr.accumulator_sub_limit_rule_id)
OR
(accumulator_rule.accumulator_sub_limit_rule_id IS NULL AND bpcccr.accumulator_sub_limit_rule_id IS NULL
AND accumulator_rule.accumulator_limit_rule_id = bpcccr.accumulator_limit_rule_id)
)

WHERE	afac.accumulator_framework_id IN (	SELECT	accumulator_framework_id
FROM 	benefit_plan_accumulator_framework
WHERE	benefit_plan_id = @benefit_plan_id )
-- this make sure the limit rule / sub limit rule have choice list need be resolved at Benefit Plan
AND		(ind_choice_list.accumulator_choice_list_id IS NOT NULL OR family_choice_list.accumulator_choice_list_id IS NOT NULL)
-- get coverage rule / choice list not resolved at benefit plan
AND		((bpcccr.accumulator_limit_rule_id IS NULL AND bpcccr.accumulator_sub_limit_rule_id IS NULL) -- means this is new rule
OR (
(bpcccr.accumulator_limit_rule_id IS NOT NULL OR bpcccr.accumulator_sub_limit_rule_id IS NOT NULL) -- means this is existed rule
AND
( -- check whether choice list of rule have value, but valid choice are not selected in resolution grid
(family_choice_list.accumulator_choice_list_id IS NOT NULL AND bpcccr.family_accumulator_valid_choice_id IS NULL)
OR (ind_choice_list.accumulator_choice_list_id IS NOT NULL AND bpcccr.individual_accumulator_valid_choice_id IS NULL)
)))
)
begin
select @SP_INVALID
update benefit_plan set plan_assignment_status_id=3 where benefit_plan_id=@benefit_plan_id

RETURN @SP_INVALID
end
begin
select @SP_VALID
RETURN @SP_VALID
end
END
GO
