USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 02/24/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/24/2010	David Slayton	1.0		Created
09/03/2014  eponomareff             RT:6046 Data modification project
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for Benefit Waiting Period grid
in Benefit Contract Advanced Plan Setup form and
Benefit Contract Template Advanced Plan Setup form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_benefit_waiting_period_id - Key to benefit_contract_period_benefit_plan_benefit_waiting_period table, identifies a single stored benefit_contract_period_benefit_plan_benefit_waiting_period.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_delete]
(
@benefit_contract_period_benefit_plan_benefit_waiting_period_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT 1 FROM benefit_contract_period_benefit_plan_benefit_waiting_period WHERE benefit_contract_period_benefit_plan_benefit_waiting_period_id = @benefit_contract_period_benefit_plan_benefit_waiting_period_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_contract_period_benefit_plan_benefit_waiting_period
WHERE benefit_contract_period_benefit_plan_benefit_waiting_period_id = @benefit_contract_period_benefit_plan_benefit_waiting_period_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
--
GO
