USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_pred_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hai Phu Van
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
07/23/2013	eponomareff		1.9			added sequence for diagnosis codes
10/20/2020	amortensen		2.0			RT:17400 updating cob_amount column to call function to calculate cob amount

HEADER_END;
******************************/


CREATE      PROCEDURE [dbo].[plx_claim_procedure_pred_load]

(
@claim_id								INT = null
,@get_column_headers					BIT = 0
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_procedure.claim_id
,claim_procedure.claim_procedure_id
,claim_procedure.area_of_oral_cavity_id
,area_of_oral_cavity.area_of_oral_cavity_ud
,claim_procedure.tooth_number_letter_id
,tooth_number_letter.tooth_number_letter_ud
,dbo.claim_procedure_tooth_surface_seperators(claim_procedure.claim_procedure_id, '') as tooth_surface_ud
,claim_procedure.procedure_code_id
,claim_procedure.procedure_code_ud
,claim_procedure.alternate_procedure_code_id
,claim_procedure.alternate_procedure_code_ud
,claim_procedure.diagnosis_sequence
,claim_procedure.units
,claim_procedure.charge			-- do not change the name of this column as it is used in the claim approval limit
,claim_procedure.repricing_amount as repriced_amount
,dbo.plx_fn_get_cob_amount_for_claim_procedure(claim_procedure.claim_procedure_id) AS 'cob_amount'
,null as cob_entry
,temp_table.net_pay  as amount
,claim_procedure.adjudication_status_id as claim_line_status_id
,adjudication_status.adjudication_status_ud as claim_line_status_ud
,dbo.claim_procedure_result_code_combination (claim_procedure.claim_procedure_id) as 'result_code_ud'
,claim_payment_process_status.claim_payment_process_status_id as process_status_id
,claim_payment_process_status.claim_payment_process_status_ud as process_status_ud
,claim_procedure.clean_date
,claim_procedure.received_date
,claim_procedure.service_from_date
,claim_procedure.service_thru_date
,dbo.plx_fn_get_date_of_adjudication_run(@claim_id) as adjudication_date

,ISNULL(claim_procedure.claim_line_sequence, 0) as claim_line_sequence
,cast(null as nvarchar(100)) as button_column
,cast(0 as bit) as is_dirty
,claim_procedure.modified_date

-- for calculating billed charges with bundled lines in the UI
,claim_procedure.[is_system_generated]

-- for grouping/ordering bundled claim lines
,is_bundled =
CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN 1
WHEN bundled_to_claim_procedure_id IS NOT NULL THEN 1
ELSE 0
END
,bundled_group_id =
CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN claim_procedure.claim_procedure_id
ELSE bundled_to_claim_procedure_id
END


FROM claim_procedure
left join claim_payment_process_status on claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
left join adjudication_status ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
left join tooth_system  ON tooth_system.tooth_system_id = claim_procedure.tooth_system_id
left join tooth_number_letter  ON tooth_number_letter.tooth_number_letter_id = claim_procedure.tooth_number_letter_id
left join area_of_oral_cavity on claim_procedure.area_of_oral_cavity_id = area_of_oral_cavity.area_of_oral_cavity_id
left join
(
select
adjudication_result_amount.claim_procedure_id,
sum(net_payment) as net_pay
from adjudication_result_amount
where net_payment IS NOT NULL
group by claim_procedure_id
) temp_table on temp_table.claim_procedure_id = claim_procedure.claim_procedure_id
-- for lines bundled by dental alternate course of treatment
left join claim_procedure_bundle ON claim_procedure.claim_procedure_id = claim_procedure_bundle.bundled_from_claim_procedure_id

WHERE claim_procedure.claim_id = @claim_id
AND CONVERT(NVARCHAR(1), @get_column_headers) = 0


ORDER BY
-- get bundled groups on top, with system created line on top of the bundle
is_bundled DESC	-- puts bundled groups at the top
-- group bundles together by system-generated line, or driving line
,CASE
WHEN ISNULL([is_system_generated], 0) = 1 THEN claim_procedure.claim_procedure_id
ELSE bundled_to_claim_procedure_id
END ASC
-- ensure system-generated line appears on top
,ISNULL(bundled_from_claim_procedure_id, 0) ASC
-- desired ordering for dental
,ISNULL(tooth_number_letter.tooth_number_letter_ud, 'ZZ') ASC
,claim_procedure.area_of_oral_cavity_id ASC
,tooth_surface_ud ASC
,claim_procedure.claim_line_sequence ASC


RETURN @SP_SUCCESS

END
GO
