USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_clear]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
AUTHOR: eponomareff
--
REVISION_HISTORY:

Date        Modified By     Version     Description
----------------------------------------------------------------------------------------------------------------------------------------------------------------
3-Feb-2017  eponomareff     1.0         10285 - Composite Tiers
----------------------------------------------------------------------------------------------------------------------------------------------------------------

DEFINITION:

A composite tier is made of two or more detail tiers.

DESCRIPTION:

Part of the Premium Billing forms functionality, this stored procedure builds and stores a new tier
composed of one or more existing tiers.

This stored procedure CLEARS the tier, by deleting the child records in these two tables:
tier_criteria
tier_criteria_composite_detail


NOTE: If the tier is in use, the button is disabled.

*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_composite_tier_clear]
(
@tier_id int = 0
)
AS

SET NOCOUNT ON
--

DELETE tier_criteria_composite_detail
FROM tier_criteria_composite_detail tccd
INNER JOiN tier_criteria tc
ON tc.tier_criteria_id = tccd.tier_criteria_id
WHERE tier_id = @tier_id

DELETE tier_criteria
WHERE tier_id = @tier_id


RETURN 0
GO
