USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_client_fees_disbursement_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Jeremy Hein
Date: 09/16/2009

REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------



DESCRIPTION:Load data for DP AccountAssignments grid on form frmClientFeesAccountAssignments


RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_client_fees_disbursement_load]
(
@criteria_id				INT = NULL
,@vendor_id					INT = NULL
,@accounting_company_id		INT = NULL
,@client_id					INT = NULL
,@client_group_id			INT = NULL
,@benefit_contract_id		INT = NULL
,@bank_account_id			INT = NULL
,@show_only_current_dp		bit = NULL


)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT  DISTINCT
aacfd.account_assignment_client_fees_disbursement_id
,aacfd.criteria_id
,c.criteria_ud
,aacfd.vendor_id
,v.vendor_ud
,aacfd.accounting_company_id
,ac.accounting_company_ud
,aacfd.client_id
,cn.client_ud
,aacfd.client_group_id
,cgn.client_group_ud
,aacfd.benefit_contract_id
,bc.benefit_contract_ud
,aacfd.bank_account_id
,ba.bank_account_ud
,aacfd.effective_from
,aacfd.effective_thru
,aacfd.modified_date
FROM dbo.account_assignment_client_fees_disbursement aacfd
LEFT JOIN accounting_company ac ON aacfd.accounting_company_id = ac.accounting_company_id
LEFT JOIN client ON aacfd.client_id = client.client_id
LEFT JOIN client_name cn ON client.client_id = cn.client_id
LEFT JOIN client_group cg ON aacfd.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON aacfd.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON aacfd.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN vendor v ON aacfd.vendor_id = v.vendor_id
LEFT JOIN criteria c ON aacfd.criteria_id = c.criteria_id
LEFT JOIN bank_account ba on aacfd.bank_account_id = ba.bank_account_id
WHERE 1 = 1
'

IF @criteria_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.criteria_id = ' + str(@criteria_id) + ')'

IF @vendor_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.vendor_id = ' + str(@vendor_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.accounting_company_id = ' + str(@accounting_company_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.client_id = ' + str(@client_id) + ')'

IF @client_group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.client_group_id = ' + str(@client_group_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.benefit_contract_id = ' + str(@benefit_contract_id) + ')'

IF @bank_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacfd.bank_account_id = ' + str(@bank_account_id) + ')'

IF (NOT @show_only_current_dp IS NULL) AND (@show_only_current_dp = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), aacfd.effective_from) <= 0 OR aacfd.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aacfd.effective_thru) >= 0 OR aacfd.effective_thru IS NULL)
'
END

--SET @strSQL = @strSQL + 'ORDER BY CASE WHEN aacfd.effective_from IS NULL THEN 0 ELSE 1 END ASC, aacfd.effective_from DESC,
--	 CASE WHEN aacfd.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aacfd.effective_thru DESC,
--		cn.client_ud'

SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
GO
