USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_framework_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek Saxena	1.0	Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single object from the benefit_contract_accumulator_framework table.
This stored procedure is used in the Accumulator Framework of the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_accumulator_framework_id - Key to benefit_contract_accumulator_framework table, identifies a single stored benefit_contract_accumulator_framework_list.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_accumulator_framework_list_load]
(
@benefit_contract_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcaf.benefit_contract_accumulator_framework_id
,bcaf.accumulator_framework_id
,ac.accumulator_framework_ud
,ac.accumulator_framework_nm
,bcaf.modified_date

FROM benefit_contract_accumulator_framework bcaf
inner join benefit_contract bc ON bc.benefit_contract_id = bcaf.benefit_contract_id
inner join accumulator_framework  ac ON ac.accumulator_framework_id = bcaf.accumulator_framework_id
WHERE bc.benefit_contract_id = @benefit_contract_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
