USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_service_representative_provider_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Dec 15 2005  3:42PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/15/2005	Anh Ta		1.0			Created and using for ICU#15893 Provider Func Spec (Provider network form)
12/28/2005	Anh Ta		1.1			Show one colunm ( UD )
03/01/2006	Anh Ta		1.2			Change from service_representative_provider to provider_service_representativer
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_service_representative_provider from the service_representative_provider table.
--
REQUIREMENTS:
--
INPUTS:
service_representative_provider_id - Key to service_representative_provider table, identifies a single stored dd_service_representative_provider.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_service_representative_provider_load]
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
provider_service_representative_id
,provider_service_representative_ud
FROM provider_service_representative
ORDER BY provider_service_representative_ud
--
RETURN @SP_SUCCESS
--
END
--
GO
