USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cash_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used in QC UI Form Vendor Credit Redistribution
Load accounts for Accounting Company provided, having a category of 'Cash'
******************************/
CREATE PROCEDURE [dbo].[plx_dd_cash_account_load_by_accounting_company]
(
@accounting_company_id   INT = NULL
)
AS

SET NOCOUNT ON
--
SELECT
aca.accounting_company_account_id AS cash_accounting_company_account_id
,aca.accounting_company_account_ud AS cash_accounting_company_account_ud
FROM accounting_company_account aca
JOIN account_category ON aca.account_category_id = account_category.account_category_id
WHERE aca.accounting_company_id = @accounting_company_id
AND account_category.golden_key = 'CASH'
ORDER BY cash_accounting_company_account_ud

RETURN 0
GO
