USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_value_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
Date: 12/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/01/2005	Han Cao					Created
------ --------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid List of Allowed Values for the Topic
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_additional_information_topic_value_list_load]
(
@additional_information_topic_id	int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
additional_information_topic_value.additional_information_topic_value_id
,additional_information_topic_value.additional_information_topic_value_ud
,additional_information_topic_value.[description]
,additional_information_topic_value.is_topic_value_default
,additional_information_topic_value.additional_information_topic_id
FROM 	additional_information_topic_value
left outer join additional_information_topic  ON additional_information_topic.additional_information_topic_id = additional_information_topic_value.additional_information_topic_id
WHERE 	additional_information_topic_value.additional_information_topic_id = @additional_information_topic_id
--
-- It May return multiple records. So there is no checking for the Multiple records return.
RETURN @SP_SUCCESS
--
GO
