USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_result_codes_form_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/08/2006  	HuyThan
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads Result Codes of the claim
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
--dbo.plx_claim_result_codes_list_load 3
CREATE          PROCEDURE [dbo].[plx_claim_result_codes_form_load](
@claim_id int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_id
, claim_ud
,modified_date
FROM 	claim

WHERE claim.claim_id = @claim_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
