USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_additional_information_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object from the benefit_plan_additional_information table.
This stored procedure is used in the Additional Information grid of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_additional_information_delete]
(
@benefit_plan_additional_information_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM benefit_plan_additional_information
WHERE benefit_plan_additional_information_id = @benefit_plan_additional_information_id

--
RETURN @SP_SUCCESS
--
GO
