USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_id_type_ignore_pid_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Oct 11 2005  2:40PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_member_id_type from the member_id_type table.
--
REQUIREMENTS:
--
INPUTS:
member_id_type_id - Key to member_id_type table, identifies a single stored dd_member_id_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_member_id_type_ignore_pid_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
member_id_type.member_id_type_id
,member_id_type.member_id_type_ud
,member_id_type.golden_key
FROM member_id_type
WHERE member_id_type.golden_key IS NULL
OR member_id_type.golden_key <> 'PID'
ORDER BY member_id_type_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
