USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_framework_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2005	HiepNguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
delete a single benefit_plan_accumulator_framework_list into the benefit_plan_accumulator_framework table.
use in the Accumulator Framework grid of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_accumulator_framework_id - Key to benefit_plan_accumulator_framework table, identifies a single stored benefit_plan_accumulator_framework_list.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_accumulator_framework_delete]
(
@benefit_plan_accumulator_framework_id      int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_accumulator_framework_id is null
RETURN @SP_SUCCESS
IF NOT EXISTS (SELECT * FROM benefit_plan_accumulator_framework WHERE benefit_plan_accumulator_framework_id = @benefit_plan_accumulator_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
-- Update efftive through accumulator framewprk assign
DECLARE   @benefit_plan_id                            int
DECLARE   @accumulator_framework_id                   int

SELECT  @benefit_plan_id = benefit_plan_id
,@accumulator_framework_id = accumulator_framework_id
FROM benefit_plan_accumulator_framework
WHERE benefit_plan_accumulator_framework_id = @benefit_plan_accumulator_framework_id

IF (isnull(@benefit_plan_id,0) > 0)
and (isnull(@accumulator_framework_id,0) > 0)
begin
DECLARE @effective_thru datetime
SET @effective_thru = GETDATE()
UPDATE accumulator_framework_assignment
SET
effective_thru                           =  @effective_thru
,modified_date                            =  @effective_thru
WHERE benefit_plan_id =  @benefit_plan_id
AND   accumulator_framework_id =  @accumulator_framework_id
end
--end
DELETE FROM benefit_plan_accumulator_framework
WHERE benefit_plan_accumulator_framework_id = @benefit_plan_accumulator_framework_id


END
--
RETURN @SP_SUCCESS
--
GO
