USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_claim_procedure_can_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: n8nguyen
Dec  7 2006  9:09AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version	Description
--------------------------------------------------------------------------------
08/08/2008	lrenard & ccessnun	1.1		accounting schema changed - fixing joins
08/30/2009	dslayton	1.2		Removed adjudication_benefit_plan_family_eligibility_member.
07/27/2018  amortensen  1.3     RT:13087 - Allow claim line added by negate and not in accounting to be deleted.
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Check if claim procedure can delete.
--
REQUIREMENTS:
--
INPUTS:
claim_procedure_id - Key to claim_procedure table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_check_claim_procedure_can_delete]
(
@claim_procedure_id			Int = NULL
)
AS
BEGIN
--
DECLARE
@SP_SUCCESS int
,@adjudication_status_gk NVARCHAR(50)
,@IS_DELETED bit
SELECT
@SP_SUCCESS = 0
,@IS_DELETED = 1
,@adjudication_status_gk = (SELECT golden_key
FROM adjudication_status
WHERE adjudication_status_id =
(SELECT adjudication_status_id
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
)
)
IF @adjudication_status_gk IS NULL
SET @adjudication_status_gk = ''

-- Allow delete if not existed claim line
IF (@claim_procedure_id IS NULL) OR (@claim_procedure_id <= 0)
RETURN 1

-- If this claim line is an adjustment claim line created when a different claim line was negated,
-- and this claim line hasn't been processed by accounting yet, then the claim line can be deleted.
IF EXISTS (SELECT *
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
AND is_negated = 1
AND claim_procedure.claim_payment_process_status_id IS NULL)
RETURN 1

-- Check if it has been adjudicated then not allow delete
IF EXISTS (SELECT *
FROM adjudication_run_claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' existed in adjudication_run_claim_procedure'
SET @IS_DELETED = 0
END

-- IF EXISTED adjudication_result_amount then can not delete
ELSE IF EXISTS (SELECT	*
FROM	adjudication_result_amount
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' existed in adjudication_result_amount'
SET @IS_DELETED = 0
END
ELSE IF EXISTS (SELECT	*
FROM	accounting_transaction_ap_claim_detail
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' existed in accounting_transaction_ap'
SET @IS_DELETED = 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_result_key
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' existed in adjudication_result_key'
SET @IS_DELETED = 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_accumulator
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' existed in adjudication_accumulator'
SET @IS_DELETED = 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_result_code
WHERE	claim_procedure_id = @claim_procedure_id
AND result_code_status_id IS NOT NULL
)
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' can not delete because it has result codes which exit system status'
SET @IS_DELETED = 0
END

ELSE IF ISNULL(@adjudication_status_gk, '') <> '' -- has been adjudicated
BEGIN
SET @IS_DELETED = 0

-- IF the line is not a NEGATED then allow delete it >=0
IF EXISTS   ( SELECT *
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
AND ISNULL(repricing_amount, 0) >= 0
AND ISNULL(cob_amount, 0) >= 0
AND ISNULL(charge, 0) >= 0
AND ISNULL(other_cob, 0) >= 0
)
--non_covered_charge
--relative_value_units
--institutional_rate
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' is allowed delete '
print 'because one of these fields > 0: repricing_amount, cob_amount, charge, other_cob'
SET @IS_DELETED = 1
END


-- IF the line in accounting then allow delete
ELSE IF (@adjudication_status_gk = 'IN ACCT')
OR (@adjudication_status_gk = 'POSTED')
OR (@adjudication_status_gk = 'PAID')
BEGIN
print 'claim_procedure_id ' + CONVERT(NVARCHAR, @claim_procedure_id) + ' is allowed delete '
print 'because it''status in ''IN ACCT'', ''POSTED'', ''PAID'' '
SET @IS_DELETED = 1
END

IF (@IS_DELETED = 0)
BEGIN
print 'The claim procedure has been adjudicated.'
END

END

--SELECT @IS_DELETED
--
RETURN @IS_DELETED

END
GO
