USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_member_expense_schedule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/30/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/30/2009	ioveracker	1.0		Created.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Saves the data in the Member Expense Schedules grid on the Benefit Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_member_expense_schedule_save]
(
@benefit_member_expense_schedule_id   INT = NULL
,@benefit_id                           INT = NULL
,@member_expense_schedule_id           INT = NULL OUTPUT
,@effective_from                       DATETIME = NULL
,@effective_thru                       DATETIME = NULL
,@active                               BIT = 1
) AS
SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(20)
,@ERROR_UPDATE_FAILS NVARCHAR(20)
,@ERROR_DOES_NOT_EXIST NVARCHAR(20)
,@ERROR_CANT_UPDATE   NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = '105280010'

IF @benefit_member_expense_schedule_id IS NULL
BEGIN
INSERT INTO benefit_member_expense_schedule
(
benefit_id
,member_expense_schedule_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_id
,@member_expense_schedule_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_member_expense_schedule_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(
SELECT benefit_member_expense_schedule_id
FROM benefit_member_expense_schedule
WHERE benefit_member_expense_schedule_id = @benefit_member_expense_schedule_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_member_expense_schedule
SET
benefit_id                   = @benefit_id
,member_expense_schedule_id   = @member_expense_schedule_id
,effective_from               = @effective_from
,effective_thru               = @effective_thru
,active                       = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_member_expense_schedule_id = @benefit_member_expense_schedule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END

RETURN @SP_SUCCESS
GO
