USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_relation_to_subscriber_child_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/30/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
1. Save data for pnlRelationshipRestrictions panel on Eligibility Restriction form
2. Save data for pnlBenefitCategory panel on Eligibility Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_relation_to_subscriber_child_save]
(

@auto_termination_rule_relationship_to_subscriber_id	int = NULL
,@auto_termination_rule_id 								int = NULL
,@term_age_number_of_units 								int = NULL
,@term_age_unit_day_week_month_year_id 					int = NULL
,@exclude_all_disabled 									bit = NULL
,@exclude_handicapped 									bit = NULL
,@auto_termination_date_rule_id 						int = NULL
,@auto_termination_event_id								int = NULL
,@disability_status_set_id 								int = NULL
,@family_eligibility_termination_reason_id 				int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @auto_termination_rule_relationship_to_subscriber_id is Null
BEGIN
RETURN @SP_EXCEPTION
END
ELSE IF NOT EXISTS (SELECT * FROM auto_termination_rule_relationship_to_subscriber WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE auto_termination_rule_relationship_to_subscriber
SET
term_age_number_of_units								= @term_age_number_of_units
,term_age_unit_day_week_month_year_id					= @term_age_unit_day_week_month_year_id
,exclude_all_disabled									= @exclude_all_disabled
,exclude_handicapped									= @exclude_handicapped
,auto_termination_date_rule_id							= @auto_termination_date_rule_id
,auto_termination_event_id								= @auto_termination_event_id
,disability_status_set_id								= @disability_status_set_id
,family_eligibility_termination_reason_id				= @family_eligibility_termination_reason_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE auto_termination_rule_relationship_to_subscriber_id = @auto_termination_rule_relationship_to_subscriber_id
END
--
RETURN @SP_SUCCESS
--
GO
