USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:	Load benefit_plan set detail records for a benefit_plan set record on frmBenefitPlanSet

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_plan_set_detail_load]
(
@benefit_plan_set_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
bpsd.benefit_plan_set_detail_id
,bpsd.benefit_plan_set_id
,bpsd.benefit_plan_id
,bp.benefit_plan_ud
,bp.benefit_plan_nm
,bpsd.effective_from
,bpsd.effective_thru
,bpsd.active
,bpsd.created_user_name
,bpsd.created_group_id
,bpsd.created_date
,bpsd.modified_date

FROM
dbo.benefit_plan_set_detail bpsd
INNER JOIN dbo.benefit_plan bp
ON bpsd.benefit_plan_id = bp.benefit_plan_id
WHERE
bpsd.benefit_plan_set_id = @benefit_plan_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
