USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_void_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 07/27/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/27/2010	David Slayton	1.0		Created from plx_payment_void_load.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
To load data (void reason) into void form from Accounting Transaction AP form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_void_load]
(
@accounting_transaction_ap_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
atap.accounting_transaction_ap_id
,atap.accounting_transaction_ap_ud
,atap.accounting_void_reason_id
,avr.accounting_void_reason_ud
,atap.comments
,atap.void_date
,atap.voided_by
,atap.modified_date
FROM	accounting_transaction_ap atap
LEFT OUTER JOIN	accounting_void_reason avr
ON atap.accounting_void_reason_id = avr.accounting_void_reason_id
WHERE atap.accounting_transaction_ap_id = @accounting_transaction_ap_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
