USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_subdivision_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
11/16/2006	mttran					remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an  employee subdivisio
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_employee_subdivision_delete]
(
@employee_subdivision_id                       int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION	NVARCHAR(50),
@ERROR_NOT_EXIST			NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST						= '159010021',
@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION	= '159010022'

--
IF NOT EXISTS (SELECT employee_subdivision_id FROM employee_subdivision WHERE employee_subdivision_id = @employee_subdivision_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
-- delete sub division
DELETE FROM employee_subdivision
WHERE employee_subdivision_id = @employee_subdivision_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION)
END
END
--
RETURN @SP_SUCCESS
--
GO
