USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_status_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran			1.1			FS changed
02/9/2006	HungtNguyen    	1.12		Changed from error_in_key_object to error_in_key_business_object_id
2006/03/08	Thuy Ha			1.2			created_date and modified_date use DB Server date
01/07/2008	Vishwa Jella		1.3	Updated with ICU 17841
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Save for Benefit Setup Errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_contract_period_status_save]
(
@benefit_contract_period_status_id    	    int = NULL   OUTPUT
,@benefit_contract_period_benefit_plan_id    int = NULL
,@benefit_contract_period_id                 int = NULL
,@benefit_contract_status_level_id           int = NULL
,@details		                    nvarchar(256) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @benefit_contract_period_status_id is Null  Or @benefit_contract_period_status_id = 0
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_status(
benefit_contract_period_benefit_plan_id
,benefit_contract_period_id
,benefit_contract_status_level_id
,details
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@benefit_contract_period_id
,@benefit_contract_status_level_id
,@details
,@active
)
--
SET @benefit_contract_period_status_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_status WHERE benefit_contract_period_status_id = @benefit_contract_period_status_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


--- Updating an existing record
--
UPDATE benefit_contract_period_status
SET
benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
,benefit_contract_period_id  		 = @benefit_contract_period_id
,benefit_contract_status_level_id         = @benefit_contract_status_level_id
,details					 = @details
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_status_id = @benefit_contract_period_status_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
