USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_component_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/08/2012
--
DESCRIPTION:

This procedure is used to load data for drop down list for Premium Rate Components.

It is called from these forms:
o  frmPremiumRateComponentSet  (BusinessRules.Billing.PremiumRateComponentSetForm) -- called from a grid column
o  frmFindPremiumRateComponentSet (BusinessRules.Billing.FindPremiumRateComponentSetForm) -- comboBox

CODING NOTE -	This stored procedure pulls down the Id/Ud (as usual) and the Description (not usual).

The Description column *may* not show in the dropdown (Design makes this call), but the
description text appears in other controls (adjacent column in grid, or textbox next to combobox).

This avoids an extra trip to the database.

However, extra coding is involved, and you *may* need to hide the description in the dropdown.
(In the combobox on the Find Form, Design opted to keep both columns.)

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_premium_rate_component_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
prc.premium_rate_component_id
,prc.premium_rate_component_ud
-- form code hides this column in the dropdown by marking it
-- hidden in the BeforeCellListDropDown of the grid (see Coding Note above)
,description as premium_rate_component_description
FROM premium_rate_component prc
ORDER BY premium_rate_component_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
