USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_form_for_professional_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
Date: 12/05/2006
--
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------------
12/14/2006	Hiep Nguyen		1.1      Modified
03/05/2007	mttran                  Change query to limit data as much as possible
by moving the criteria into INNER JOIN clause
03/17/2008	David Slayton	1.3      Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
03/23/2009	eponomareff		1.4      security - added data security by benefit contract id
05/07/2009	eponomareff    1.5      modified join so that claims with NULL eligibliities would show in result set
05/12/2009	David Slayton	1.6		Added ability to short circuit where clause to just return column names.
07/08/2009	eponomareff    1.7      fix to modified join so that claims with NULL eligibliities would show in result set
but search criteria would cull out nulls
12/01/2009	Vishwa			2.0		updated Joins to fix issue for claim_type search
08/19/2015  Jon Vote				RT:8757 performance optimizations
02/10/2017	jbernard		2.2			SP11517 - HNFS major performance issue with find claim forms
03/13/2017	eponomareff     2.3     RT:11325 - Search by Claim/Line Status produces incorrect results for Missing Information, etc.
03/02/2018	amortensen      2.4     RT:9662 - Updating to return billing provider instead of rendering provider
12/18/2018  jchapman			 2.5		RT:14132 - Use provider_network_id from adjudication_result_key for claim procedures
02/07/2019	amortensen      2.6     RT:6841 - Updated include claims with overlapping date range when searching by service from or thru dates

--
CURRENT_VERSION: 2.5
--
ICU:
--
DESCRIPTION:
Finds professional claim based on the given criteria.
This is a sub-procedure of find claim form (plx_find_claim_form_load).
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
--------------------------------------------------------------------------------------------------------
NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE
--------------------------------------------------------------------------------------------------------
This proc uses the family_eligibility_member_benefit_plan_id stored on the claim header to link claims
to benefit plans.  Because the benefit plans in question may only be referenced in the
adjudication_details associated with the supllementary plan, this proc may not return the results
anticipated.  e.g. searching for a claim that references a supplemental plan will not return results.
--------------------------------------------------------------------------------------------------------
NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE
--------------------------------------------------------------------------------------------------------
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_claim_form_for_professional_load]
@get_column_headers bit = 0
, @professional_claim_ud nvarchar(100) = null
, @professional_invoice_number nvarchar(100) = null
, @professional_claim_status_id int = null
, @professional_result_code_id int = null
, @professional_received_date_from datetime = null
, @professional_received_date_thru datetime = null
, @professional_clean_date datetime = null
, @professional_place_of_service_id int = null
, @professional_date_entered_from datetime = null
, @professional_date_entered_thru datetime = null
, @professional_service_from_date datetime = null
, @professional_service_thru_date datetime = null
, @professional_unable_to_work_from_date datetime = null
, @professional_unable_to_work_thru_date datetime = null
, @professional_type_of_service_id int = null
, @professional_hospitalization_from_date datetime = null
, @professional_hospitalization_thru_date datetime = null
, @professional_same_or_similar_date_from datetime = null
, @professional_same_or_similar_date_thru datetime = null
, @professional_date_of_current_from datetime = null
, @professional_date_of_current_thru datetime = null
, @professional_diagnosis_code_ud nvarchar(50) = null
, @professional_procedure_code_ud nvarchar(50) = null
, @professional_net_amount_from numeric = null
, @professional_net_amount_thru numeric = null
, @professional_accumulator_ud nvarchar(50) = null
, @professional_accumulator_class_id int = null
, @professional_authorization_id int = null
, @professional_claim_type_id int = null
, @episode_id int = null
, @provider_id int = null
, @provider_identifier_id int = null
, @provider_name_last nvarchar(100) = null
, @provider_name_first nvarchar(100) = null
, @billing_provider_id int = null
, @billing_provider_identifier_id int = null
, @billing_provider_name_last nvarchar(100) = null
, @billing_provider_name_first nvarchar(100) = null
, @provider_network_id int = null
, @practice_office_id int = null
, @locale_id int = null
, @vendor_id int = null
, @federal_ein nvarchar(50) = null
, @vendor_nm nvarchar(100) = null
, @practice_office_nm nvarchar(100) = null
, @show_exact_match bit = 0
--Member/Provider Tab
, @patient_eligibility_id int = null
, @patient_member_id int = null
, @patient_number nvarchar(50) = null
, @professional_patient_account_number nvarchar(50) = null
, @subscriber_eligibility_id int = null
, @subscriber_name_last nvarchar(100) = null
, @subscriber_name_first nvarchar(100) = null

--Benefit Tab:
, @benefit_category_id int = null
, @benefit_sub_category_id int = null
, @benefit_contract_id int = null
, @client_id int = null
, @client_group_id int = null
, @benefit_plan_id int = null

--  adjudication - benefit plan level
, @benefit_plan_type_id int = null

-- accounting
, @check_number nvarchar(50) = null
, @zero_claim_vendor_batch_reference_number	NVARCHAR(50) = null
, @accounting_company_id				INT = NULL               -- Accounting Company on a related AP Transaction
, @accounting_company_account_id		INT = NULL               -- AP Account on a related AP Transaction

--	 security
, @security_credential nvarchar(255) = null
, @active_directory_security_user_roles udtt_security_roles readonly
, @NumRecords int = null
as
begin
--SP11931 [Fix] - Find Claim Form - Causing Blocking
set transaction isolation level read uncommitted;
-- Caller can specify number of records
-- Default to dbo.fn_results_limit()
if @NumRecords is null
set @NumRecords = dbo.fn_results_limit();

----- Begin Member -----------
declare @sql_member                   varchar(8000)
, @search_patient_number        nvarchar(255) = null
, @search_subscriber_name_last  nvarchar(255) = null
, @search_subscriber_name_first nvarchar(255) = null;

if isnull(@patient_number, '') <> ''
set @search_patient_number = @patient_number;
if isnull(@subscriber_name_last, '') <> ''
set @search_subscriber_name_last = @subscriber_name_last;
if isnull(@subscriber_name_first, '') <> ''
set @search_subscriber_name_first = @subscriber_name_first;

EXEC dbo.plx_find_claim_form_for_member_load
@get_column_headers
, @patient_eligibility_id
, @patient_member_id
, @search_patient_number output
, @subscriber_eligibility_id
, @search_subscriber_name_last output
, @search_subscriber_name_first output
, @benefit_category_id
, @benefit_sub_category_id
, @benefit_contract_id
, @client_id
, @client_group_id
, @benefit_plan_id
, @show_exact_match
, @sql_member output
, @security_credential
, @active_directory_security_user_roles;

----- End Member  ------------

declare @sql_select                 nvarchar(max)  = ''
, @sql_condition_1_claim      nvarchar(4000) = ' WHERE ' + convert(nvarchar(1), @get_column_headers) + ' = 0 '
, @sql_condition_2            nvarchar(4000) = ''
, @sql_condition_3            nvarchar(4000) = ''  --- Not used, remove
, @sql_condition_4_misc       nvarchar(4000) = ''
, @sql_from_1_claim           nvarchar(4000) = ''
, @sql_from_2_claim_procedure nvarchar(4000) = ''
, @sql_from_3_mbr             nvarchar(4000) = ''
, @sql_from_4_misc            nvarchar(4000) = ''
, @Prefix                     nvarchar(10)
, @Suffix                     nvarchar(10);

-- Show Exact Matches Only
if @show_exact_match = 1
begin
set @Prefix = '= N''';
set @Suffix = ''' ';
end;
else
begin
set @Prefix = 'LIKE N''';
set @Suffix = '%''';
end;



-- Claim Form Type
declare @claim_form_type_id int;
declare @claim_form_type_ud nvarchar(255);

select @claim_form_type_id = claim_form_type_id
, @claim_form_type_ud = claim_form_type_ud
from claim_form_type
where golden_key = 'Professional';

-- define select clause

set @sql_select
= '
SELECT	DISTINCT TOP (' + convert(varchar, @NumRecords) + ')
claim.claim_id					,
claim.claim_ud					,
claim.claim_form_type_id		,
''' + @claim_form_type_ud
+ ''' as claim_form_type_ud ,
professional_claim_type.professional_claim_type_ud as claim_type_ud ,
claim.family_eligibility_member_benefit_plan_id AS member_eligibility_id		,
claim.adjudication_status_id	,	professional_claim.invoice_number				,
dos_from	,
dos_through	,
claim.billing_provider_id		,		claim.billing_provider_identifier_id		,
claim.practice_office_id		,		claim.provider_network_id			,
claim.vendor_id					,

member.member_eligibility_ud AS member_ud ,
member.member_pid AS patient_number,
dbo.plx_ConcatenateName(member.name_last, member.name_first, member.name_middle, NULL) AS member_nm ,
professional_claim.professional_claim_id as claim_form_id,
claim_illness_injury.patient_account_number
'  ;

--CLAIM SPECIFIC
-- FROM
set @sql_from_1_claim
= '
FROM	claim
INNER JOIN professional_claim
ON claim.claim_id = professional_claim.claim_id
AND claim.claim_form_type_id = @claim_form_type_id
LEFT JOIN 	professional_claim_type
ON professional_claim_type.professional_claim_type_id = professional_claim.professional_claim_type_id
OUTER APPLY dbo.plx_fn_min_service_from_date (claim.claim_id) tbl_dos_from
OUTER APPLY dbo.plx_fn_max_service_thru_date (claim.claim_id) tbl_dos_thru ';

-- Claim condition
if isnull(@professional_claim_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized		  @column_name = 'claim.claim_ud'
, @variable_name = '@professional_claim_ud'
, @variable_value = @professional_claim_ud output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
end;

if isnull(@professional_invoice_number, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized		  @column_name = 'professional_claim.invoice_number'
, @variable_name = '@professional_invoice_number'
, @variable_value = @professional_invoice_number output
, @where = @sql_condition_1_claim output
, @show_exact_matches = @show_exact_match;
end;

if isnull(@professional_claim_status_id, 0) > 0
begin
set @sql_condition_1_claim += ' AND (claim.adjudication_status_id = @professional_claim_status_id '
+ ' OR EXISTS (
SELECT cp.claim_procedure_id
FROM claim_procedure cp
WHERE cp.claim_id = claim.claim_id
AND cp.adjudication_status_id = @professional_claim_status_id ' + '
)
AND claim.claim_form_type_id = @claim_form_type_id) ';
end;


if isnull(@professional_received_date_from, '') <> ''
set @sql_condition_1_claim += ' AND claim.received_date >=  cast(@professional_received_date_from as date) ';

if isnull(@professional_received_date_thru, '') <> ''
set @sql_condition_1_claim += ' AND claim.received_date <= cast(@professional_received_date_thru as date) ';

if isnull(@professional_clean_date, '') <> ''
set @sql_condition_1_claim += ' AND claim.clean_date = cast(@professional_clean_date as date) ';

if isnull(@professional_date_entered_from, '') <> ''
set @sql_condition_1_claim += ' AND professional_claim.created_date >= cast(@professional_date_entered_from as date) ';

if isnull(@professional_date_entered_thru, '') <> ''
set @sql_condition_1_claim += ' AND professional_claim.created_date  <= cast(@professional_date_entered_thru as date) ';

if isnull(@episode_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.episode_id = @episode_id ';

if isnull(@provider_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.provider_id = @provider_id ';

if isnull(@provider_identifier_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.provider_identifier_id = @provider_identifier_id ';


if isnull(@billing_provider_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.billing_provider_id = @billing_provider_id ';

if isnull(@billing_provider_identifier_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.billing_provider_identifier_id = @billing_provider_identifier_id ';

if isnull(@practice_office_id, 0) > 0
set @sql_condition_1_claim += ' AND claim.practice_office_id = @practice_office_id ';

if isnull(@vendor_id, 0) > 0
set @sql_condition_1_claim += ' AND (claim.vendor_id = @vendor_id OR ark.vendor_id = @vendor_id)';

if @professional_net_amount_from is not null
set @sql_condition_1_claim += ' AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ),0)  >= '
+ convert(nvarchar(30), @professional_net_amount_from);

if @professional_net_amount_thru is not null
set @sql_condition_1_claim += ' AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ),0)  <= '
+ convert(nvarchar(30), @professional_net_amount_thru);
-- END CLAIM

-- BEGIN smember condition - NOTE security is enforced here
if isnull(@patient_eligibility_id, 0) <> 0
or isnull(@patient_member_id, 0) <> 0
or isnull(@patient_number, '') <> ''
or isnull(@subscriber_eligibility_id, 0) <> 0
or isnull(@subscriber_name_last, '') <> ''
or isnull(@subscriber_name_first, '') <> ''
or isnull(@benefit_category_id, 0) <> 0
or isnull(@benefit_sub_category_id, 0) <> 0
or isnull(@benefit_contract_id, 0) <> 0
or isnull(@client_id, 0) <> 0
or isnull(@client_group_id, 0) <> 0
or isnull(@benefit_plan_id, 0) <> 0

-- User has set Member Criteria, so we want to inner join member matching, and no null patients
begin
set @sql_from_3_mbr += '
INNER JOIN (' + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'     ;
--this condition ensures data security is supported for security sets
set @sql_condition_2 +=' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';
end;
else
-- User has set NOT Member Criteria, so DO left join member matching, in order to enforce data security restrictions
-- Return ONLY matching claims OR those with NULL eligibilitlies, handled with WHERE CLAUSE addition
begin
set @sql_from_3_mbr = @sql_from_3_mbr + '
LEFT JOIN ('                + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'     ;
--this condition ensures data security is supported and returns claims that have no eligibilities attached
if @security_credential is not null
and (dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1)
-- This code was originally located in the plx_find_claim_form_for_member_load stored procedure.
-- It was moved here for performance reasons.
set @sql_condition_2 +=' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';
-- WHERE clause must filter out security-restricted members, but allow claims with no eligibility
SET @sql_condition_2 = @sql_condition_2 + ' AND ISNULL(claim.family_eligibility_member_benefit_plan_id, 0) =  ISNULL(member.member_eligibility_id, 0) ';
end;


if isnull(@professional_result_code_id, 0) > 0
-- add adjudication_result_code to the join list (this may not be efficient but give it a try) on arc.result_code_id = @professional_result_code_id and (
-- add condition where arc.claim_id = c.claim_id or arc.claim_procedure_id = cp.claim_procedure_id
set @sql_condition_2 += ' AND ('
+ ' EXISTS (SELECT 1 FROM adjudication_result_code WHERE adjudication_result_code.claim_id = claim.claim_id and adjudication_result_code.result_code_id = '
+ ' @professional_result_code_id) OR '
+ ' EXISTS (SELECT 1 FROM adjudication_result_code arc INNER JOIN claim_procedure cp ON arc.claim_procedure_id = cp.claim_procedure_id '
+ ' WHERE cp.claim_id = claim.claim_id AND arc.result_code_id =  @professional_result_code_id) )';


-- CLAIM_PROCEDURE Specific

if isnull(@professional_place_of_service_id, 0) > 0
or isnull(@professional_type_of_service_id, 0) > 0
or isnull(@professional_procedure_code_ud, '') <> ''
begin
-- FROM
set @sql_from_2_claim_procedure += ' inner join claim_procedure
on claim_procedure.claim_id = claim.claim_id ';

if isnull(@professional_place_of_service_id, 0) > 0
set @sql_from_2_claim_procedure += ' AND claim_procedure.place_of_service_id =  @professional_place_of_service_id ';

if isnull(@professional_type_of_service_id, 0) > 0
set @sql_from_2_claim_procedure += ' AND claim_procedure.type_of_service_id =  @professional_type_of_service_id ';

exec dbo.plx_AddStringSearchParameterized		 @column_name = 'claim_procedure.procedure_code_ud'
, @variable_name = '@professional_procedure_code_ud'
, @variable_value = @professional_procedure_code_ud output
, @where = @sql_condition_2 output
, @show_exact_matches = @show_exact_match;

end;

if(isnull(@professional_service_from_date, '') <> '' or isnull(@professional_service_thru_date, '') <> '')
SET @sql_condition_2 = @sql_condition_2 + '
AND (dos_from
BETWEEN ''' + convert(nvarchar, isnull(@professional_service_from_date, '1/1/1753')) + ''' AND ''' + convert(nvarchar, isnull(@professional_service_thru_date, '12/31/9999')) + '''
OR dos_through
BETWEEN ''' + convert(nvarchar, isnull(@professional_service_from_date, '1/1/1753')) + ''' AND ''' + convert(nvarchar, isnull(@professional_service_thru_date, '12/31/9999')) + ''')';

-- END CLAIM PROCEDURE


-- BEGIN CLAIM ILLNESS INJURY SPECIFIC

if @professional_unable_to_work_from_date is not null
or @professional_unable_to_work_thru_date is not null
or @professional_hospitalization_from_date is not null
or @professional_hospitalization_thru_date is not null
or @professional_same_or_similar_date_from is not null
or @professional_same_or_similar_date_thru is not null
or @professional_date_of_current_from is not null
or @professional_date_of_current_thru is not null
or ISNULL(@professional_patient_account_number,'') <> ''
begin
set @sql_from_4_misc = @sql_from_4_misc + ' INNER JOIN claim_illness_injury ON claim.claim_id = claim_illness_injury.claim_id ';

if @professional_unable_to_work_from_date is not null
set @sql_from_4_misc = @sql_from_4_misc + ' AND claim_illness_injury.unable_to_work_from_date  >= @professional_unable_to_work_from_date ';

if @professional_unable_to_work_thru_date is not null
set @sql_from_4_misc += ' AND claim_illness_injury.unable_to_work_thru_date <= @professional_unable_to_work_thru_date ';

if @professional_hospitalization_from_date is not null
set @sql_from_4_misc += ' AND  claim_illness_injury.hospitalization_from_date >=  @professional_hospitalization_from_date ';

if @professional_hospitalization_thru_date is not null
set @sql_from_4_misc += ' AND  claim_illness_injury.hospitalization_thru_date <= @professional_hospitalization_thru_date ';

if @professional_same_or_similar_date_from is not null
set @sql_from_4_misc += ' AND claim_illness_injury.same_or_similar_date >=  @professional_same_or_similar_date_from ';

if @professional_same_or_similar_date_thru is not null
set @sql_from_4_misc += ' AND  claim_illness_injury.same_or_similar_date <= @professional_same_or_similar_date_thru ';

if @professional_date_of_current_from is not null
set @sql_from_4_misc += ' AND  claim_illness_injury.date_of_current >= @professional_date_of_current_from ';

if @professional_date_of_current_thru is not null
set @sql_from_4_misc += ' AND  claim_illness_injury.date_of_current <= @professional_date_of_current_thru ';

if ISNULL(@professional_patient_account_number,'') <> ''
exec dbo.plx_AddStringSearchParameterized       @column_name = 'claim_illness_injury.patient_account_number'
, @variable_name = '@professional_patient_account_number'
, @variable_value = @professional_patient_account_number output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end
else
begin
set @sql_from_4_misc = @sql_from_4_misc + ' LEFT JOIN claim_illness_injury ON claim.claim_id = claim_illness_injury.claim_id ';
end;

-- BEGIN MISC JOINS
if isnull(@professional_diagnosis_code_ud, '') <> ''
begin
set @sql_from_4_misc += ' INNER JOIN professional_claim_diagnosis_code
ON professional_claim_diagnosis_code.professional_claim_id = professional_claim.professional_claim_id ';
exec dbo.plx_AddStringSearchParameterized		  @column_name = 'professional_claim_diagnosis_code.diagnosis_code_ud'
, @variable_name = '@professional_diagnosis_code_ud'
, @variable_value = @professional_diagnosis_code_ud output
, @where = @sql_from_4_misc output
, @show_exact_matches = @show_exact_match;
end;


--BEGIN ACCUMULATOR
if isnull(@professional_accumulator_ud, '') <> ''
or isnull(@professional_accumulator_class_id, 0) > 0
begin

set @sql_from_4_misc += ' LEFT JOIN adjudication_accumulator
ON claim.claim_id = adjudication_accumulator.claim_id
Left Join accumulator_framework_accumulator_class_accumulator
On accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id = adjudication_accumulator.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator_framework_accumulator_class
ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
'     ;

if isnull(@professional_accumulator_ud, '') <> ''
begin
exec dbo.plx_AddStringSearchParameterized		 @column_name = 'accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_ud'
, @variable_name = '@professional_accumulator_ud'
, @variable_value = @professional_accumulator_ud output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;
end
if isnull(@professional_accumulator_class_id, 0) > 0
set @sql_condition_4_misc += ' AND accumulator_framework_accumulator_class.accumulator_class_id =  @professional_accumulator_class_id ';

end; -- END ACCUMULATOR

--BEGIN ACCOUNTING
-- join to accounting_transaction_ap_claim_detail
if isnull(@check_number, '') <> '' or isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_4_misc += '
INNER JOIN accounting_transaction_ap_claim_detail atapcd
ON  claim.claim_id = atapcd.claim_id '
end

-- join to Payments
if isnull(@check_number, '') <> ''
begin
set @sql_from_4_misc += '
INNER JOIN accounting_transaction_ap_apply_to atapat
ON atapcd.accounting_transaction_ap_id = atapat.to_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail atappd
ON atapat.from_accounting_transaction_ap_id = atappd.accounting_transaction_ap_id
AND atappd.check_ach_reference IS NOT NULL ';

exec dbo.plx_AddStringSearchParameterized		  @column_name = 'atappd.check_ach_reference'
, @variable_name = '@check_number'
, @variable_value = @check_number output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end;

-- AP transactions (for accounting company and ap account)
if isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_4_misc += '
INNER JOIN accounting_transaction_ap apTx
ON atapcd.accounting_transaction_ap_id = apTx.accounting_transaction_ap_id';

if isnull(@accounting_company_id, 0) <> 0
begin
set @sql_condition_4_misc += ' AND apTx.accounting_company_id = @accounting_company_id ';
end

if isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from_4_misc += '
INNER JOIN accounting_transaction_ap_distribution apTxDistribution
ON apTx.accounting_transaction_ap_id = apTxDistribution.accounting_transaction_ap_id';

set @sql_condition_4_misc += ' AND apTxDistribution.accounting_company_account_id = @accounting_company_account_id ';
end
end;

-- Zero Claim Vendor Batch Reference Number
if isnull(@zero_claim_vendor_batch_reference_number, '') <> ''
begin
set @sql_from_4_misc += '
INNER JOIN zero_tracking_claim_procedure ztcp
ON  claim.claim_id = ztcp.claim_id
INNER JOIN zero_tracking_vendor_batch ztvb
ON ztcp.zero_tracking_vendor_batch_id = ztvb.zero_tracking_vendor_batch_id
';

exec dbo.plx_AddStringSearchParameterized		  @column_name = 'ztvb.reference_number'
, @variable_name = '@zero_claim_vendor_batch_reference_number'
, @variable_value = @zero_claim_vendor_batch_reference_number output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end;

--END ACCOUNTING

if isnull(@professional_authorization_id, 0) > 0
begin
set @sql_from_4_misc += ' LEFT JOIN claim_referral ON claim.claim_id = claim_referral.claim_id ';
set @sql_condition_4_misc += '  AND claim_referral.referral_id = @professional_authorization_id ';
end;

if isnull(@professional_claim_type_id, 0) > 0
set @sql_condition_4_misc += ' AND professional_claim_type.professional_claim_type_id =  @professional_claim_type_id ';


-- BEGIN PROVIDER
if isnull(@provider_name_last, '') <> ''
or isnull(@provider_name_first, '') <> ''
or isnull(@billing_provider_name_last, '') <> ''
or isnull(@billing_provider_name_first, '') <> ''
begin

set @sql_from_4_misc += '
LEFT JOIN provider_name
ON provider_name.provider_id = claim.provider_id
AND provider_name.is_primary = 1
LEFT JOIN provider_name billing_provider_name
ON claim.billing_provider_id = billing_provider_name.provider_id ';

if isnull(@provider_name_last, '') <> ''
exec dbo.plx_AddStringSearchParameterized		 @column_name = 'provider_name.name_last'
, @variable_name = '@provider_name_last'
, @variable_value = @provider_name_last output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;


if isnull(@provider_name_first, '') <> ''
exec dbo.plx_AddStringSearchParameterized		 @column_name = 'provider_name.name_first'
, @variable_name = '@provider_name_first'
, @variable_value = @provider_name_first output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;


if isnull(@billing_provider_name_last, '') <> ''
exec dbo.plx_AddStringSearchParameterized		 @column_name = 'billing_provider_name.name_last'
, @variable_name = '@billing_provider_name_last'
, @variable_value = @billing_provider_name_last output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

if isnull(@billing_provider_name_first, '') <> ''
exec dbo.plx_AddStringSearchParameterized		 @column_name = 'billing_provider_name.name_first'
, @variable_name = '@billing_provider_name_first'
, @variable_value = @billing_provider_name_first output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;

end; -- END PROVIDER

if isnull(@practice_office_nm, '') <> ''
begin
set @sql_from_4_misc += ' LEFT JOIN practice_office ON claim.practice_office_id =  practice_office.practice_office_id ';
exec dbo.plx_AddStringSearchParameterized		  @column_name = 'practice_office.practice_office_nm'
, @variable_name = '@practice_office_nm'
, @variable_value = @practice_office_nm output
, @where = @sql_condition_4_misc output
, @show_exact_matches = @show_exact_match;
end;

if isnull(@locale_id, 0) > 0
begin
set @sql_from_4_misc += ' inner JOIN practice_office_address
on practice_office_address.practice_office_id = claim.practice_office_id
inner join address
on address_id = practice_office_address.address_id ON claim.practice_office_id =  practice_office.practice_office_id ';
set @sql_condition_4_misc += ' AND address.locale_id = @locale_id ';
end;

-- BEGIN JOIN to ajudication_result_key
-- Fields: @vendor_id, @vendor_nm, @federal_ein, @provider_network_id
if isnull(@vendor_id, 0) > 0 or isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
or isnull(@provider_network_id, 0) > 0
begin
set @sql_from_4_misc +='
LEFT JOIN claim_procedure cp ON cp.claim_id = claim.claim_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = cp.claim_procedure_id ';
end
-- END JOIN to ajudication_result_key
--BEGIN VENDOR
if isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
begin
set @sql_from_4_misc += ' LEFT JOIN vendor headerVendor on headerVendor.vendor_id = claim.vendor_id
LEFT JOIN vendor adjVendor ON ark.vendor_id = adjVendor.vendor_id ';
if isnull(@vendor_nm, '') <> ''
begin
-- check header vendor and adjudicated vendor name
set @sql_condition_4_misc += ' AND (headerVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix +
' OR adjVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix + ')';
end;
if isnull(@federal_ein, '') <> ''
begin
set @sql_condition_4_misc += ' AND (headerVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix +
' OR adjVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix + ')';
end
end; -- END VENDOR
--BEGIN PROVIDER NETWORK
if isnull(@provider_network_id, 0) > 0
set @sql_condition_4_misc += ' AND ark.provider_network_id = @provider_network_id ';
--END PROVIDER NETWORK

declare @sql nvarchar(max)
= @sql_select + char(13) + @sql_from_1_claim + char(13) + @sql_from_2_claim_procedure + char(13) + @sql_from_3_mbr + char(13) + @sql_from_4_misc
+ char(13) + @sql_condition_1_claim + char(13) + @sql_condition_2 + char(13) + @sql_condition_3 + char(13) + @sql_condition_4_misc;

if @subscriber_name_last is not null
or @subscriber_name_first is not null
begin
set @sql += N' option (OPTIMIZE FOR (';
if @subscriber_name_last is not null
set @sql += N'@subscriber_name_last =500))';
else
set @sql += N'@subscriber_name_first =500))';
end;


print '@sql';
print @sql;

print '@sql_select';
print @sql_select;
print '@sql_from_1_claim';
print @sql_from_1_claim;
print '@sql_condition_1_claim';
print @sql_condition_1_claim;


print '@sql_from_3_mbr';
print @sql_from_3_mbr;
print '@sql_condition_2';
print @sql_condition_2;
print '@sql_condition_3';
print @sql_condition_3;
print '@sql_condition_4_misc';
print @sql_condition_4_misc;

exec sp_executesql @sql
, N'@benefit_category_id int
, @benefit_contract_id int
, @benefit_plan_id int
, @benefit_plan_type_id int
, @benefit_sub_category_id int
, @billing_provider_id int
, @billing_provider_identifier_id int
, @billing_provider_name_first nvarchar(100)
, @billing_provider_name_last nvarchar(100)
, @check_number nvarchar(50)
, @zero_claim_vendor_batch_reference_number nvarchar(50)
, @accounting_company_id int
, @accounting_company_account_id int
, @claim_form_type_id int
, @client_group_id int
, @client_id int
, @episode_id int
, @federal_ein nvarchar(50)
, @locale_id int
, @patient_eligibility_id int
, @patient_member_id int
, @patient_number nvarchar(50)
, @professional_patient_account_number nvarchar(50)
, @practice_office_id int
, @practice_office_nm nvarchar(100)
, @professional_accumulator_class_id int
, @professional_accumulator_ud nvarchar(50)
, @professional_authorization_id int
, @professional_claim_status_id int
, @professional_claim_type_id int
, @professional_claim_ud nvarchar(100)
, @professional_clean_date datetime
, @professional_date_entered_from datetime
, @professional_date_entered_thru datetime
, @professional_date_of_current_from datetime
, @professional_date_of_current_thru datetime
, @professional_diagnosis_code_ud nvarchar(50)
, @professional_hospitalization_from_date datetime
, @professional_hospitalization_thru_date datetime
, @professional_invoice_number nvarchar(100)
, @professional_net_amount_from numeric
, @professional_net_amount_thru numeric
, @professional_place_of_service_id int
, @professional_procedure_code_ud nvarchar(50)
, @professional_received_date_from datetime
, @professional_received_date_thru datetime
, @professional_result_code_id int
, @professional_same_or_similar_date_from datetime
, @professional_same_or_similar_date_thru datetime
, @professional_service_from_date datetime
, @professional_service_thru_date datetime
, @professional_type_of_service_id int
, @professional_unable_to_work_from_date datetime
, @professional_unable_to_work_thru_date datetime
, @provider_id int
, @provider_identifier_id int
, @provider_name_first nvarchar(100)
, @provider_name_last nvarchar(100)
, @provider_network_id int
, @security_credential nvarchar(255)
, @show_exact_match bit = 0
, @subscriber_eligibility_id int
, @subscriber_name_first nvarchar(100)
, @subscriber_name_last nvarchar(100)
, @vendor_id int
, @vendor_nm nvarchar(100)
, @active_directory_security_user_roles udtt_security_roles readonly'
-- parameter list
, @benefit_category_id
, @benefit_contract_id
, @benefit_plan_id
, @benefit_plan_type_id
, @benefit_sub_category_id
, @billing_provider_id
, @billing_provider_identifier_id
, @billing_provider_name_first
, @billing_provider_name_last
, @check_number
, @zero_claim_vendor_batch_reference_number
, @accounting_company_id
, @accounting_company_account_id
, @claim_form_type_id
, @client_group_id
, @client_id
, @episode_id
, @federal_ein
, @locale_id
, @patient_eligibility_id
, @patient_member_id
, @search_patient_number
, @professional_patient_account_number
, @practice_office_id
, @practice_office_nm
, @professional_accumulator_class_id
, @professional_accumulator_ud
, @professional_authorization_id
, @professional_claim_status_id
, @professional_claim_type_id
, @professional_claim_ud
, @professional_clean_date
, @professional_date_entered_from
, @professional_date_entered_thru
, @professional_date_of_current_from
, @professional_date_of_current_thru
, @professional_diagnosis_code_ud
, @professional_hospitalization_from_date
, @professional_hospitalization_thru_date
, @professional_invoice_number
, @professional_net_amount_from
, @professional_net_amount_thru
, @professional_place_of_service_id
, @professional_procedure_code_ud
, @professional_received_date_from
, @professional_received_date_thru
, @professional_result_code_id
, @professional_same_or_similar_date_from
, @professional_same_or_similar_date_thru
, @professional_service_from_date
, @professional_service_thru_date
, @professional_type_of_service_id
, @professional_unable_to_work_from_date
, @professional_unable_to_work_thru_date
, @provider_id
, @provider_identifier_id
, @provider_name_first
, @provider_name_last
, @provider_network_id
, @security_credential
, @show_exact_match
, @subscriber_eligibility_id
, @search_subscriber_name_first
, @search_subscriber_name_last
, @vendor_id
, @vendor_nm
, @active_directory_security_user_roles;

--print  'ex:' + CONVERT(NVARCHAR, GETDATE(), 114)
--  exec (@sql_select + @sql_from_1_claim + @sql_condition_1_claim + @sql_from_4_misc + @sql_from_3_mbr + @sql_condition_2 + @sql_condition_3 + @sql_condition_4_misc);
--print  'ex:' + CONVERT(NVARCHAR, GETDATE(), 114)
end;
GO
