USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_rbrvs_conversion_factor_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 02/06/2009
--
REVISION_HISTORY:
--
Date				Modified By		Version		Description
--------------------------------------------------------------------------------
02/06/2009      Vishwa			1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Load data from rbrvs_conversion_factor_type table
--
REQUIREMENTS:
--

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_rbrvs_conversion_factor_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

rbrvs_conversion_factor_type.rbrvs_conversion_factor_type_id
,rbrvs_conversion_factor_type.rbrvs_conversion_factor_type_ud
,rbrvs_conversion_factor_type.golden_key

FROM rbrvs_conversion_factor_type
ORDER BY rbrvs_conversion_factor_type_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
