USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 01/06/2009
--
REVISION_HISTORY:
--
Date			Modified By					Description
--------------------------------------------------------------------------------
01/15/09		Jeremy Hein					Created
09/03/2014  eponomareff             RT:6046 Data modification project
--

DESCRIPTION:

This procedure is used to delete a row in grid "User Assigned Result Codes"
on Advanced Individual Eligibility Setup form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_delete]
(
@family_eligibility_member_benefit_plan_user_assigned_result_code_id	int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_user_assigned_result_code WHERE family_eligibility_member_benefit_plan_user_assigned_result_code_id = @family_eligibility_member_benefit_plan_user_assigned_result_code_id )
BEGIN
RAISERROR('family_eligibility_member_benefit_plan_user_assigned_result_code object not found in family_eligibility_member_benefit_plan_user_assigned_result_code for internal key %d.', 16, 1, @family_eligibility_member_benefit_plan_user_assigned_result_code_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM family_eligibility_member_benefit_plan_user_assigned_result_code
WHERE family_eligibility_member_benefit_plan_user_assigned_result_code_id = @family_eligibility_member_benefit_plan_user_assigned_result_code_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
GO
