USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_activity_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  6:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
24/11/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save contact activity

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_contact_activity_save]
(
@contact_activity_id                        int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@contact_activity_type_id                   int = NULL
,@contact_activity_date                      datetime = NULL
,@contact_activity_reason_id                 int = NULL
,@comment                                    nvarchar(255) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '1588800004',
@ERROR_CANT_UPDATE 	= '1588800005',
@ERROR_NOT_EXIST	= '1589800006'


IF @contact_activity_id is Null
BEGIN

--- Create a new contact_activity record
INSERT INTO contact_activity(
contact_id
,contact_activity_type_id
,contact_activity_date
,contact_activity_reason_id
,comment
,created_by_user_name
,date_created
,active
)
VALUES
(@contact_id
,@contact_activity_type_id
,@contact_activity_date
,@contact_activity_reason_id
,@comment
,ORIGINAL_LOGIN()

,GETDATE()

,@active
)
SET @contact_activity_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM contact_activity WHERE contact_activity_id = @contact_activity_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
ELSE
BEGIN
--- Updating an existing contact_activity record
UPDATE contact_activity
SET
contact_id                               = @contact_id
,contact_activity_type_id                 = @contact_activity_type_id
,contact_activity_date                    = @contact_activity_date
,contact_activity_reason_id               = @contact_activity_reason_id
,comment                                  = @comment
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE contact_activity_id = @contact_activity_id
END
RETURN @SP_SUCCESS
GO
