USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_add_claim]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
FORM: Vendor Refund Request
CONTROL: Add Claim button

Finds the Available AP Transactions for the selected claim and persists them to the table
xxx, which underlies the grid AP Transactions grid on the Vendor Refund Request form.
Also updates the total amount of the Vendor Refund Request,
accounting_transaction_ap.transaction_amount.

Validation: Checks to ensure that the AP Transactions match the Vendor and AP Account
on the Vendor Refund Request. Checks to ensure that the AP Transactions are not locked.

NOTE: apply to amounts are absolute value, although displayed in grid as positive/negative
depending on whether they are bills/credits.

On a refund, credits are applied as a positive amount, and therefore increase the amount of the
Vendor Refund Request total amount. Bills are applied as a negative amount, and decrease the amount
of the Refund Request. (In the database, however, the accounting_transaction_ap_apply_to.amount
is stored as an absolute value.)

ALSO NOTE: The total Vendor Refund Request amount cannot go negative.
Each AP Transaction is inserted to the table with the applied amount set to
the largest amount allowed. Credits are added first, then bills, in the order created (internal id).

If adding the full available amount (unapplied amount) of the bill would create a negative refund,
the amount applied (subtracted) is equal to the Vendor Refund Request amount, bringing the total
amount of the Vendor Refund Request to zero. Subsequent bill lines are included, but the
applied amount included in the Vendor Refund Request is $0.

STORED PROCEDURES CALLED:

plx_accounting_transaction_ap_refund_request_detail_transactions_save (which is also used to add
invidivdual transactions to the Vendor Refund Request with the "Add Transaction" button.)

DATA RETURNED:

This stored procedure returns counts for the number of AP Transactions added to the
Vendor Refund Request transactions grid, and the number of AP Transactions that could not be added
because they are locked. The UI may report this information to the user. (This follows the logic
of the "Add Transaction" button on the form, which reports to the user if adding a locked transaction
was attempted.)

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_add_claim]
@from_accounting_transaction_ap_id INT = 0,
@claim_id INT = 0
AS

DECLARE
@SP_SUCCESS INT = 0
,@SP_EXCEPTION INT = -1
,@spResult INT = 0;

DECLARE
@numberApTransactionsAdded INT = 0
,@numberLockedTransactions INT = 0;

DECLARE @AVAILABLE_accounting_transaction_status_id INT =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'AVAILABLE');

DECLARE @CREDIT_accounting_transaction_ap_type_id INT =
(SELECT accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'CREDIT');

DECLARE @BILL_accounting_transaction_ap_type_id INT =
(SELECT accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'BILL');

-- variables for the Vendor Refund Request
DECLARE @refundVendorId INT = 0,
@refundAccountingCompanyId INT = 0,
@refundApAccount INT = 0;
SELECT
@refundVendorId = refundRequest.vendor_id,
@refundAccountingCompanyId = refundRequest.accounting_company_id,
@refundApAccount = detail.ap_accounting_company_account_id
FROM accounting_transaction_ap_refund_request_detail detail
JOIN accounting_transaction_ap refundRequest
ON detail.accounting_transaction_ap_id = refundRequest.accounting_transaction_ap_id
WHERE detail.accounting_transaction_ap_id = @from_accounting_transaction_ap_id;

-- variables for cursors
DECLARE @to_accounting_transaction_ap_id INT, @unapplied_amount NUMERIC(20,10);
DECLARE @currentDate DATETIME = GETDATE();

-- Insert the available credits first using grid save stored procedure, also updating
-- the Vendor Refund Request total amount (accounting_transaction_ap.transaction_amount)
DECLARE credit_cursor CURSOR FAST_FORWARD FOR
SELECT
ata.accounting_transaction_ap_id,
unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_transaction(ata.accounting_transaction_ap_id, 0)
FROM
accounting_transaction_ap ata
JOIN accounting_transaction_ap_claim_detail claimDetail
ON ata.accounting_transaction_ap_id = claimDetail.accounting_transaction_ap_id
WHERE
claimDetail.claim_id = @claim_id
AND ata.accounting_transaction_status_id = @AVAILABLE_accounting_transaction_status_id
AND ata.accounting_transaction_ap_type_id = @CREDIT_accounting_transaction_ap_type_id
-- verify that the vendor, accounting company, and ap account match the Vendor Refund Request
AND ata.vendor_id = @refundVendorId
AND ata.accounting_company_id = @refundAccountingCompanyId
AND EXISTS (SELECT 1
FROM accounting_transaction_ap_distribution dist
WHERE
dist.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
AND dist.accounting_company_account_id = @refundApAccount)
ORDER BY
ata.accounting_transaction_ap_id;

OPEN credit_cursor;
FETCH NEXT FROM credit_cursor
INTO @to_accounting_transaction_ap_id, @unapplied_amount;
WHILE @@FETCH_STATUS = 0
BEGIN
-- Insert the credit
EXEC @spResult = dbo.plx_accounting_transaction_ap_refund_request_detail_transactions_save
@from_accounting_transaction_ap_id = @from_accounting_transaction_ap_id,
@to_accounting_transaction_ap_id = @to_accounting_transaction_ap_id,
@apply_to_amount = @unapplied_amount,
@transaction_date = @currentDate,
@comment = NULL;
FETCH NEXT FROM credit_cursor
INTO @to_accounting_transaction_ap_id, @unapplied_amount;

-- Add to the count of transactions added or locked
IF @spResult = @SP_EXCEPTION
SET @numberLockedTransactions = @numberLockedTransactions + 1;
ELSE
SET @numberApTransactionsAdded = @numberApTransactionsAdded + 1;
END
CLOSE credit_cursor;
DEALLOCATE credit_cursor;

-- Insert the bills next, checking to ensure that the total refund amount does not go below $0
DECLARE @total_refund_amount NUMERIC(20,10);
DECLARE @apply_to_amount NUMERIC(20,10);

DECLARE bill_cursor CURSOR FAST_FORWARD FOR
SELECT
ata.accounting_transaction_ap_id,
unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_transaction(ata.accounting_transaction_ap_id, 0)
FROM
accounting_transaction_ap ata
JOIN accounting_transaction_ap_claim_detail claimDetail
ON ata.accounting_transaction_ap_id = claimDetail.accounting_transaction_ap_id
WHERE
claimDetail.claim_id = @claim_id
AND ata.accounting_transaction_status_id = @AVAILABLE_accounting_transaction_status_id
AND ata.accounting_transaction_ap_type_id = @BILL_accounting_transaction_ap_type_id
-- verify that the vendor, accounting company, and ap account match the Vendor Refund Request
AND ata.vendor_id = @refundVendorId
AND ata.accounting_company_id = @refundAccountingCompanyId
AND EXISTS (SELECT 1
FROM accounting_transaction_ap_distribution dist
WHERE
dist.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
AND dist.accounting_company_account_id = @refundApAccount)
ORDER BY
ata.accounting_transaction_ap_id;

OPEN bill_cursor;
FETCH NEXT FROM bill_cursor
INTO @to_accounting_transaction_ap_id, @unapplied_amount;
WHILE @@FETCH_STATUS = 0
BEGIN
-- Get the total refund amount
SET @total_refund_amount =
(SELECT transaction_amount
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @from_accounting_transaction_ap_id);

-- Insert the bill, but only for the amount that will not cause the refund to go negative
IF @unapplied_amount > @total_refund_amount
SET @apply_to_amount = @total_refund_amount
ELSE
SET @apply_to_amount = @unapplied_amount;

EXEC @spResult = dbo.plx_accounting_transaction_ap_refund_request_detail_transactions_save
@from_accounting_transaction_ap_id = @from_accounting_transaction_ap_id,
@to_accounting_transaction_ap_id = @to_accounting_transaction_ap_id,
@apply_to_amount = @apply_to_amount,
@transaction_date = @currentDate,
@comment = NULL;

-- Add to the count of transactions added or locked
IF @spResult = @SP_EXCEPTION
SET @numberLockedTransactions = @numberLockedTransactions + 1;
ELSE
SET @numberApTransactionsAdded = @numberApTransactionsAdded + 1;

FETCH NEXT FROM bill_cursor
INTO @to_accounting_transaction_ap_id, @unapplied_amount;

END
CLOSE bill_cursor;
DEALLOCATE bill_cursor;

-- return the number of transactions added; and the number of transactions that were locked
SELECT
@numberApTransactionsAdded AS transactions_added,
@numberLockedTransactions AS transactions_locked,
claim_ud
FROM claim WHERE claim_id = @claim_id;

RETURN 0
GO
