USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_contact_info_by_practice_office_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Dec  9 2005 12:14PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to load contact info by practice office.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_get_contact_info_by_practice_office_load]
(
@practice_office_id Int =NULL
)
AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT

practice_office.practice_office_id,
practice_office.practice_office_ud,
practice_office.practice_office_nm,
CT.contact_id,
CT.provider_contact_name,
CT.provider_contact_phone

FROM practice_office
LEFT JOIN (
select
POC.practice_office_id,
POC.contact_id,
dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, null) AS provider_contact_name,
telephone_number.telephone_number as provider_contact_phone
From
(Select practice_office_contact.practice_office_id
,practice_office_contact.contact_id
From practice_office_contact
Where practice_office_contact.is_primary = 1
And ((DATEDIFF(Day, practice_office_contact.effective_from, GETDATE()) >= 0 OR practice_office_contact.effective_from IS NULL) AND
(DATEDIFF(Day, practice_office_contact.effective_thru, GETDATE()) <= 0 OR practice_office_contact.effective_thru IS NULL))
And practice_office_contact.practice_office_id in
(
Select practice_office_contact.practice_office_id
From practice_office_contact
Where practice_office_contact.is_primary = 1
and ((DATEDIFF(Day, practice_office_contact.effective_from, GETDATE()) >= 0 OR practice_office_contact.effective_from IS NULL) AND
(DATEDIFF(Day, practice_office_contact.effective_thru, GETDATE()) <= 0 OR practice_office_contact.effective_thru IS NULL))
Group By practice_office_contact.practice_office_id
Having Count(practice_office_contact.practice_office_id) = 1
)
)POC
LEFT JOIN  contact_name ON POC.contact_id = contact_name.contact_id
LEFT JOIN  contact_telephone_number ON POC.contact_id = contact_telephone_number.contact_id
LEFT JOIN  telephone_number ON contact_telephone_number.telephone_number_id = telephone_number.telephone_number_id
Where contact_name.is_primary = 1

)CT ON practice_office.practice_office_id = CT.practice_office_id
WHERE
practice_office.practice_office_id = @practice_office_id
RETURN @SP_SUCCESS

END
GO
