USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0		Created from plx_accounting_transaction_ap_payment_detail_transactions_delete
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Used to delete transaction record from Transactions Included in Transactions grid on Invoice form.
removes record from accounting_transaction_ar_apply_to table.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_delete]
(
@accounting_transaction_ar_apply_to_id 	INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT
,@SP_EXCEPTION INT
,@invoice_id INT
,@accounting_transaction_ar_id INT
,@multiplier INT
,@apply_to_amount NUMERIC(20,10)

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
--
IF @accounting_transaction_ar_apply_to_id is not null
BEGIN
IF NOT EXISTS (SELECT 1 FROM accounting_transaction_ar_apply_to WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- Get the transaction id, Invoice ID, and apply to amount from the apply to record for updates later
SELECT
@invoice_id = from_accounting_transaction_ar_id
,@accounting_transaction_ar_id = to_accounting_transaction_ar_id
,@apply_to_amount = amount
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

-- Get the multiplier for the ar transaction.
SELECT @multiplier =
CASE atart.golden_key
WHEN 'CHARGE' THEN 1
WHEN 'CREDIT' THEN -1
END
FROM accounting_transaction_ar_type atart
INNER JOIN accounting_transaction_ar atar
ON atart.accounting_transaction_ar_type_id = atar.accounting_transaction_ar_type_id
WHERE atar.accounting_transaction_ar_id = @accounting_transaction_ar_id

-- Delete the apply to record from the Invoice
DELETE FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Update invoice amount
UPDATE accounting_transaction_ar
SET accounting_transaction_ar.transaction_amount = accounting_transaction_ar.transaction_amount - (@multiplier * @apply_to_amount)
WHERE accounting_transaction_ar.accounting_transaction_ar_id = @invoice_id

-- Update the transaction statuses
EXEC plx_update_accounting_statuses_for_ar_transaction @accounting_transaction_ar_id

END
--
END
RETURN @SP_SUCCESS
--
GO
