USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_accounting_transaction_ap_ready_for_payment_penalty]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[plx_dto_accounting_transaction_ap_ready_for_payment_penalty]

AS

DECLARE @TRX_TYPE_PAYMENT_ID INT, @PAYMENT_STATUS_AVAIL_ID INT, @PAYMENT_STATUS_ENTERED_ID INT
SELECT @TRX_TYPE_PAYMENT_ID = accounting_transaction_ap_type_id FROM accounting_transaction_ap_type WHERE golden_key = 'PAYMENT'
SELECT @PAYMENT_STATUS_AVAIL_ID = accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'AVAILABLE'
SELECT @PAYMENT_STATUS_ENTERED_ID = accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'ENTERED'

SELECT DISTINCT
atap.accounting_transaction_ap_id,
atacd.claim_procedure_id,
cp.original_line_amount,
MAX(trx_det.check_date) AS last_check_date
FROM
accounting_transaction_ap atap
INNER JOIN accounting_transaction_status stat ON stat.accounting_transaction_status_id = atap.accounting_transaction_status_id
INNER JOIN accounting_source accs ON accs.accounting_source_id = atap.accounting_source_id
INNER JOIN accounting_transaction_ap_claim_detail atacd ON atacd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
INNER JOIN claim_procedure cp ON atacd.claim_procedure_id = cp.claim_procedure_id
INNER JOIN accounting_transaction_ap_apply_to applyTo ON applyTo.to_accounting_transaction_ap_id = atap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap from_trx ON from_trx.accounting_transaction_ap_id = applyTo.from_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail trx_det ON trx_det.accounting_transaction_ap_id = from_trx.accounting_transaction_ap_id
WHERE
--transaction is paid
stat.golden_key = 'PAID'

--transaction came from claims payment
AND accs.golden_key = 'Claims'

--only include transactions that are payments
and from_trx.accounting_transaction_ap_type_id = @TRX_TYPE_PAYMENT_ID

AND ISNULL(cp.is_negated,0) = 0

--only include transactions that have an associated claim procedure
--and isnull(atacd.claim_procedure_id,0) <> 0 -- this can be commented as we now inner join to the claim line for the cp.original_line_amount.

--all payments applied must not be in Available status
AND NOT EXISTS
(
SELECT * FROM accounting_transaction_ap_apply_to apply
INNER JOIN accounting_transaction_ap trxFrom
ON trxFrom.accounting_transaction_ap_id = apply.from_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail detail
ON detail.accounting_transaction_ap_id = trxFrom.accounting_transaction_ap_id
WHERE apply.to_accounting_transaction_ap_id = atap.accounting_transaction_ap_id
AND (
detail.accounting_payment_status_id = @PAYMENT_STATUS_AVAIL_ID
OR
detail.accounting_payment_status_id = @PAYMENT_STATUS_ENTERED_ID
)
AND trxFrom.accounting_transaction_ap_type_id = @TRX_TYPE_PAYMENT_ID
)

--transaction must not be in any existing payment penalty runs
AND atap.accounting_transaction_ap_id NOT IN
(SELECT source_accounting_transaction_ap_id as accounting_transaction_ap_id FROM payment_penalty_run_detail)
GROUP BY
atap.accounting_transaction_ap_id
,atacd.claim_procedure_id
,cp.original_line_amount
GO
