USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_capitation_group_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   07/28/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Capitation group grid save
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_definition_capitation_group_save]
(
@capitation_definition_capitation_group_id	int = NULL   OUTPUT
,@capitation_definition_id		int = NULL
,@capitation_group_id			int = NULL
,@effective_from				datetime = NULL
,@effective_thru				datetime = NULL
,@active						bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0
--

IF @capitation_definition_capitation_group_id is Null or @capitation_definition_capitation_group_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_definition_capitation_group(
capitation_definition_id
,capitation_group_id
,effective_from
,effective_thru
,active
)
VALUES
(@capitation_definition_id
,@capitation_group_id
,@effective_from
,@effective_thru
,@active
)
SET @capitation_definition_capitation_group_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE capitation_definition_capitation_group
SET
capitation_definition_id =		@capitation_definition_id
,capitation_group_id =		@capitation_group_id
,effective_from =			@effective_from
,effective_thru =			@effective_thru
,active =					@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_definition_capitation_group_id = @capitation_definition_capitation_group_id

END
--
RETURN @SP_SUCCESS
--
GO
