USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_form_type_only_professional_institutional_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
DATE: 04/08/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/08/2014	AMortensen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_form_type (Claim Type)
includes ALL CLAIMS and PREDETERMINATION

Related dropdown stored procedures are:

plx_dd_claim_form_type_load -- all types
plx_dd_claim_form_type_load_without_all_claims -- all types except ALL CLAIMS
plx_dd_claim_form_type_load_without_all_claims_pred -- all types except ALL CLAIMS, and PRE-D
plx_dd_claim_form_type_except_all_load -- all types except ALL CLAIMS and PRE-D (claim form types returned as "contract_type")
plx_dd_claim_from_type_only_professional_institutional_load -- only PROFESSIONAL and INSTITUTIONAL


******************************/
CREATE   PROCEDURE [dbo].[plx_dd_claim_form_type_only_professional_institutional_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_form_type_id
,claim_form_type_ud
,golden_key
FROM claim_form_type
WHERE golden_key in ('Institutional','Professional')
ORDER BY claim_form_type_ud
GO
