USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 11/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005	HungTNguyen	1.0		Created
12/28/2005	PhongQTran	1.0		Modified
09/21/2006	NamHo		1.0		Modified
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This Sps is used to save the given additional_information_topic details.
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
,@additional_information_topic_ud
,@description
,@additional_information_data_type_id
,@user_defined_validation_function
,@format_string
,@user_can_add_data
,@cascade
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_additional_information_topic_save]
(
@additional_information_topic_id 	int = NULL OUTPUT
,@additional_information_topic_ud       nvarchar(50) = NULL
,@description       			nvarchar(255) = NULL
,@additional_information_data_type_id   int = NULL
,@ui_engine_data_type_id   		int = NULL OUTPUT
,@default_value 			nvarchar(50) = NULL
,@raw_default_value 			nvarchar(50) = NULL
,@format_string                         nvarchar(200) = NULL
,@user_can_add_data                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @additional_information_topic_id is Null
BEGIN
--- Create a new record
INSERT INTO additional_information_topic
(
additional_information_topic_ud
,[description]
,additional_information_data_type_id
,default_value
,format_string
,user_can_add_data
)
VALUES
(@additional_information_topic_ud
,@description
,@additional_information_data_type_id
,@raw_default_value
,@format_string
,@user_can_add_data
)
SET @additional_information_topic_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM additional_information_topic WHERE additional_information_topic_id = @additional_information_topic_id )
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
UPDATE additional_information_topic
SET
additional_information_topic_ud         = @additional_information_topic_ud
,[description]          			= @description
,additional_information_data_type_id     = @additional_information_data_type_id
,default_value				= @raw_default_value
,format_string                           = @format_string
,user_can_add_data                       = @user_can_add_data
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE  additional_information_topic_id = @additional_information_topic_id
END

--//Nam Ho : added 09/21/2006
select 	@ui_engine_data_type_id = ui_engine_data_type_id
from 	additional_information_data_type
where	additional_information_data_type_id = @additional_information_data_type_id
--RETURN @SP_SUCCESS
GO
