USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_address_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
July 29, 2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
July 29, 2011	cknobloch		1.0		Created

CURRENT_VERSION: 1.0
--
DESCRIPTION: Delete practice office address

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_practice_office_address_delete]
(
@address_id                        int = NULL
) AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
--@address_id int,
@practice_office_address_id int,
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_DELETE  NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '158880009',
@ERROR_CANT_DELETE  = '137020017'

-- Main Body --
BEGIN TRANSACTION

IF NOT EXISTS (SELECT * FROM practice_office_address WHERE address_id = @address_id  )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

SELECT @practice_office_address_id = practice_office_address_id FROM practice_office_address WHERE address_id = @address_id

DELETE FROM practice_office_address
WHERE practice_office_address_id = @practice_office_address_id

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

IF EXISTS (SELECT * FROM address WHERE address_id = @address_id)
BEGIN
DELETE FROM address
WHERE address_id = @address_id
END

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
COMMIT TRANSACTION
RETURN @SP_SUCCESS
END
GO
