USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_criteria_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a row from Member Assignment grid on Capitation Member Roster form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_member_roster_criteria_delete]
(
@capitation_member_roster_criteria_id                  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM capitation_member_roster_criteria WHERE capitation_member_roster_criteria_id = @capitation_member_roster_criteria_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM capitation_member_roster_criteria
WHERE capitation_member_roster_criteria_id = isnull(@capitation_member_roster_criteria_id,0)

END
--
RETURN @SP_SUCCESS
--
GO
