USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_first_coverage_distribution_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Aug  12 2013  1:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/12/2013	cmaddox		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "First Coverage Distribution"
in the First Coverage Distribution form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_accumulator_first_coverage_distribution_save]

(
@accumulator_first_coverage_distribution_id int = null output
,@accumulator_framework_accumulator_class_accumulator_id int = NULL
,@percentage                             numeric(19,4) = NULL
,@effective_from                      DATETIME = NULL
,@effective_thru                      DATETIME = NULL
,@active                                     bit = 1

) AS
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159020038',
@ERROR_CANT_INSERT 	= '159020036',
@ERROR_CANT_UPDATE 	= '159020037'
--
IF @accumulator_first_coverage_distribution_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_first_coverage_distribution(
accumulator_framework_accumulator_class_accumulator_id
,percentage
,effective_from
,effective_thru
,active
)
VALUES
(@accumulator_framework_accumulator_class_accumulator_id
,@percentage
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @accumulator_first_coverage_distribution_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_first_coverage_distribution WHERE accumulator_first_coverage_distribution_id = @accumulator_first_coverage_distribution_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE accumulator_first_coverage_distribution
SET
accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
,percentage                           = @percentage
,effective_from                    = @effective_from
,effective_thru				 = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_first_coverage_distribution_id = @accumulator_first_coverage_distribution_id
IF @@ERROR <> 0

BEGIN


RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

END
--
RETURN @SP_SUCCESS
--
GO
