USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_distribution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2008 lrenard		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for Distribution on accounting_transaction Form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_transaction_distribution_delete]
(
@accounting_transaction_distribution_id  int = NULL
,@is_AP bit = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

IF isnull(@is_AP, 0) = 1
DELETE FROM accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_distribution_id = @accounting_transaction_distribution_id
/*
ELSE
--ar not implemented yet
*/
--
RETURN @SP_SUCCESS
--
GO
