USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_get_negated_first_date_of_service_accumulator_lines_by_claim]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Description:  The UI currently lets a user "un-negate" a line by deleting the negating line.  This causes a problem with
first date of service accumulators which track more data.  Undoing a negate is not really possible with a first date of
service without saving the data that the negate process removed to start with.  This stored procedure will return any lines
on a claim that have been previously negated and are part of a first date of service accumulator.  The UI prevents the user
from undoing a negate by just deleting the negating line off the claim.

*/

CREATE PROCEDURE [dbo].[plx_accumulator_get_negated_first_date_of_service_accumulator_lines_by_claim]
@claimId INT
AS

SET NOCOUNT ON;

SELECT
n.claim_procedure_id
FROM
claim_procedure cp
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure_negated n
ON n.claim_procedure_id = cp.claim_procedure_id
WHERE
cp.claim_id = @claimId
AND n.is_first_date_of_service = 1;
GO
