USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_code_group_type_is_used_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuyngo
DATE: 08/15/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load code_group_type_id by id
--
REQUIREMENTS:
--
INPUTS:
@code_group_type_id
--
OUTPUTS:
a code_group_type_id record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
Create      PROCEDURE [dbo].[plx_dd_code_group_type_is_used_load]
(
@code_group_type_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
code_group_type_id
FROM procedure_code_group
WHERE procedure_code_group.code_group_type_id = @code_group_type_id
UNION
SELECT
code_group_type_id
FROM diagnosis_code_group
WHERE diagnosis_code_group.code_group_type_id = @code_group_type_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
