USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_dollar_limit_total_claim_net_payment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 07/13/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/13/2012	dcannon		1.0			initial create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure loads dollar limit operators for total claim net payment scope of limit
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_dollar_limit_total_claim_net_payment_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
criteria_operator.criteria_operator_id
,criteria_operator.criteria_operator_ud
,criteria_operator.golden_key
FROM criteria_operator
WHERE golden_key in ('<=', '<')

--
RETURN @SP_SUCCESS
GO
