USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_financial_institution_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThanhNguyen
Date: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	ThanhNguyen 	1.0		Created
03/08/2006	Thuy Ha			1.1		created_date & modified_date use DB Server date
04/17/2012  CKnobloch		1.2		added pre_note_genereated column and ach_hold column
08/18/2014 - RT:6046 Updated created/modified tombstone columns
06/14/2021  AMortensen      1.3     RT:17518 - Added additional columns
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Save data into grid Customer financial institution
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_customer_financial_institution_save] (
@customer_id                          INT           = NULL
,@financial_institution_id             INT           = NULL OUTPUT
,@customer_financial_institution_id    INT           = NULL OUTPUT
,@financial_institution_nm             NVARCHAR(100) = NULL
,@financial_bank_id                    INT           = NULL
,@financial_bank_branch_id             INT           = NULL
,@name_on_account                      NVARCHAR(100) = NULL
,@bank_account_type_id                 INT           = NULL
,@routing_transit_number               NVARCHAR(100) = NULL
,@account_number                       NVARCHAR(100) = NULL
,@swift_code                           NVARCHAR(50)  = NULL
,@active                               BIT           = NULL
,@ach_hold                             BIT           = NULL
,@effective_from                       DATETIME      = NULL
,@effective_thru                       DATETIME      = NULL
,@pre_note_generated                   BIT           = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;
--
IF @financial_institution_id IS NULL
BEGIN
--- Create a new record
INSERT INTO financial_institution (
financial_bank_id
,financial_bank_branch_id
,name_on_account
,bank_account_type_id
,routing_transit_number
,account_number
,swift_code
,pre_note_generated
,ach_hold
,effective_from
,effective_thru
,active
)
VALUES (
@financial_bank_id
,@financial_bank_branch_id
,@name_on_account
,@bank_account_type_id
,@routing_transit_number
,@account_number
,@swift_code
,@pre_note_generated
,@ach_hold
,@effective_from
,@effective_thru
,@active
);
--
SET @financial_institution_id = SCOPE_IDENTITY();

INSERT INTO customer_financial_institution (
customer_id
,financial_institution_id
)
VALUES (
@customer_id
,@financial_institution_id
);

SET @customer_financial_institution_id = SCOPE_IDENTITY();
END
ELSE IF NOT EXISTS (SELECT * FROM financial_institution WHERE financial_institution_id = @financial_institution_id )
BEGIN
RETURN @SP_EXCEPTION;
END
--
ELSE
BEGIN
UPDATE financial_institution
SET
financial_bank_id            = @financial_bank_id
,financial_bank_branch_id    = @financial_bank_branch_id
,name_on_account             = @name_on_account
,bank_account_type_id        = @bank_account_type_id
,routing_transit_number      = @routing_transit_number
,account_number              = @account_number
,swift_code                  = @swift_code
,pre_note_generated          = @pre_note_generated
,ach_hold                    = @ach_hold
,effective_from              = @effective_from
,effective_thru              = @effective_thru
,active                      = @active
,modified_user_name          = ORIGINAL_LOGIN()
,modified_date               = GETDATE()

WHERE financial_institution_id = @financial_institution_id;
END
--
RETURN @SP_SUCCESS
GO
