USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Date: 11/15/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version	Description
--------------------------------------------------------------------------------
11/15/2006	Nghi Nguyen	1.0		Created
08/08/2008	lrenard & ccessnun	1.1		accounting schema changed - fixing joins
08/30/2009	dslayton	1.2		Removed adjudication_benefit_plan_family_eligibility_member.
05/02/2013	bsarge		1.3		Migrated gguthall's change from 11.3.0.1370 to trunk.
09/03/2014  eponomareff             RT:6046 Data modification project
10/20/2017	eponomareff				RT:11929 - Delete COB information for claim procedure (new schema)
07/27/2018  amortensen  1.6     RT:13087 - Allow claim line added by negate and not in accounting to be deleted.
09/11/2022	dcannon		1.7		RT:20902 Added QPA fields

--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
This procedure is used to delete a row in grid "Procedures"
in frmProfessionalClaim form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_procedure_delete]
(
@claim_procedure_id                         int = NULL
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT * FROM claim_procedure WHERE claim_procedure_id = @claim_procedure_id )
BEGIN

-- Don't check it now, cause of the duplicated by using PX, DX code
RETURN @SP_SUCCESS
-- RETURN @SP_EXCEPTION  END
--
END
ELSE
BEGIN

DECLARE @deleting_negated_adjustment_claim_line BIT

-- IF claim line is an adjustment claim line created by negating a different claim line
-- and this claim line hasn't been processed by accounting yet, then the claim line can be deleted.
IF EXISTS (SELECT *
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
AND is_negated = 1
AND claim_procedure.claim_payment_process_status_id IS NULL
)
BEGIN
SET @deleting_negated_adjustment_claim_line = 1
END

-- Begin Nghi added 11/15/2006
-- IF EXISTED adjudication_result_amount then can not delete
ELSE IF EXISTS (SELECT	*
FROM	adjudication_result_amount
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
RETURN 0
END
ELSE IF EXISTS (SELECT	*
FROM	accounting_transaction_ap_claim_detail
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
RETURN 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_run_claim_procedure
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
RETURN 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_result_key
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
RETURN 0
END
ELSE IF EXISTS (SELECT	*
FROM	adjudication_accumulator
WHERE	claim_procedure_id = @claim_procedure_id
)
BEGIN
RETURN 0
END

-- delete accumulators
DELETE FROM adjudication_accumulator_pred
WHERE claim_procedure_id = @claim_procedure_id

DELETE FROM adjudication_accumulator
WHERE claim_procedure_id = @claim_procedure_id

-- delete referrals
DELETE FROM adjudication_referral
WHERE claim_procedure_id = @claim_procedure_id

-- delete adjudication_result_amount and overrides
DELETE FROM adjudication_result_amount_override
WHERE adjudication_result_amount_id IN (
SELECT adjudication_result_amount_id
FROM adjudication_result_amount
WHERE claim_procedure_id = @claim_procedure_id
)

DELETE FROM adjudication_result_amount
WHERE claim_procedure_id = @claim_procedure_id

-- delete adjudication_result_key and overrides
DELETE FROM adjudication_result_key_override
WHERE adjudication_result_key_id IN (
SELECT adjudication_result_key_id
FROM adjudication_result_key
WHERE claim_procedure_id = @claim_procedure_id
)

DELETE FROM adjudication_result_key
WHERE claim_procedure_id = @claim_procedure_id

-- delete values in result code grid
DELETE FROM adjudication_result_code_override
WHERE adjudication_result_code_id IN
(SELECT adjudication_result_code_id
FROM adjudication_result_code
WHERE adjudication_result_code.claim_procedure_id = @claim_procedure_id
)

DELETE FROM adjudication_result_code
WHERE claim_procedure_id = @claim_procedure_id
-- End Nghi added 11/15/2006

delete from claim_procedure_area_of_oral_cavity
where claim_procedure_id in (select claim_procedure.claim_procedure_id from claim_procedure where claim_procedure.claim_procedure_id = @claim_procedure_id)

-- delete values in claim_procedure_tooth_surface table
delete from claim_procedure_tooth_surface
where claim_procedure_id in (select claim_procedure.claim_procedure_id from claim_procedure where claim_procedure.claim_procedure_id = @claim_procedure_id)

-- delete values in claim_procedure_bundle table (items created by adjudication when claim procedures are bundled)
delete from claim_procedure_bundle
where
bundled_to_claim_procedure_id in (select claim_procedure.claim_procedure_id from claim_procedure where claim_procedure.claim_procedure_id = @claim_procedure_id)
or
bundled_from_claim_procedure_id in (select claim_procedure.claim_procedure_id from claim_procedure where claim_procedure.claim_procedure_id = @claim_procedure_id)


delete from claim_additional_reference_number WHERE claim_procedure_id = @claim_procedure_id

delete from claim_certification_condition WHERE claim_procedure_id = @claim_procedure_id

delete from claim_additional_date WHERE claim_procedure_id = @claim_procedure_id

DELETE FROM claim_procedure_qualified_payment_amount WHERE claim_procedure_id = @claim_procedure_id

-- delete the associated claim transport records
delete from claim_transport_address
WHERE claim_transport_id IN
(select claim_transport_id FROM claim_transport WHERE claim_procedure_id = @claim_procedure_id)

delete from claim_transport WHERE claim_procedure_id = @claim_procedure_id

-- RT:11929 - Update delete claim_procedure to take into account new schema
-- claim_procedure_cob_amount
DELETE FROM dbo.claim_procedure_cob_amount
WHERE claim_procedure_id = @claim_procedure_id
-- claim_procedure_cob_adjustment
DELETE FROM dbo.claim_procedure_cob_adjustment
WHERE claim_procedure_id = @claim_procedure_id

-- delete carc rarcs if present
DELETE FROM dbo.adjudication_payment_item_claim_adjustment_override
FROM dbo.adjudication_payment_item_claim_adjustment_override apicao
JOIN dbo.adjudication_payment_item_claim_adjustment apica
ON apicao.adjudication_payment_item_claim_adjustment_id = apica.adjudication_payment_item_claim_adjustment_id
WHERE apica.claim_procedure_id = @claim_procedure_id;

DELETE FROM dbo.adjudication_payment_item_claim_adjustment
WHERE claim_procedure_id = @claim_procedure_id

IF(@deleting_negated_adjustment_claim_line = 1)
BEGIN
-- update original claim line negated to pre-negated state
UPDATE claim_procedure
SET is_negated = 0
WHERE claim_procedure_id = (
SELECT negated_claim_procedure_id
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id
)
END

DELETE FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id

DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
end
GO
