USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_overpayment_create_json]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









--===============================================================================================================
--Object Type: Stored Procedure
--Description: Creates check run JSON string
--Create Date: 11/23/2020
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description  
--===============================================================================================================
--11/23/2020 | SJC    | 1.0     | Created Stored Procedure
--05/29/2024 | SJM    | 1.1     | Handles vendor_pay_to_nm values with double quotes
--===============================================================================================================

CREATE procedure [dbo].[bind_overpayment_create_json]

 @id VARCHAR(36)
,@control_number VARCHAR(8)
,@jsonOut VARCHAR(8000) OUTPUT

AS

DECLARE @altClaimNumber			 VARCHAR(50)
DECLARE @billingProviderAddress1 VARCHAR(100)
DECLARE @billingProviderAddress2 VARCHAR(100)
DECLARE @billingProviderCity     VARCHAR(50)
DECLARE @billingProviderName     VARCHAR(100)
DECLARE @billingProviderState    VARCHAR(50)
DECLARE	@billingProviderTaxId    VARCHAR(50)
DECLARE @billingProviderZip      VARCHAR(10)
DECLARE @bindSubscriberNumber    VARCHAR(12) 
DECLARE @claimType				 VARCHAR(1)
DECLARE @groupNumber             VARCHAR(50)
DECLARE @letterCount			 VARCHAR(1)
DECLARE @letterDate				 VARCHAR(10)
DECLARE @letterType				 VARCHAR(16)
DECLARE @masterClaimNumber       VARCHAR(50)
DECLARE @overpaymentAmount	     VARCHAR(100)
DECLARE @overpaymentReasonDetail VARCHAR(100)
DECLARE @patientAccountNumber    VARCHAR(100)
DECLARE @patientName             VARCHAR(100)
DECLARE @planSponsorName         VARCHAR(50)
DECLARE @qcClaimNumber		     VARCHAR(50)
DECLARE @serviceEndDate          VARCHAR(10)
DECLARE @serviceStartDate		 VARCHAR(10)
DECLARE @subscriberName          VARCHAR(100)
DECLARE @type					 VARCHAR(8)

SET NOCOUNT ON;


BEGIN
	SELECT @letterType = CASE 
							WHEN letter_type = '1' THEN 'LETTER_1'
							WHEN letter_type = '2' THEN 'LETTER_2'
							WHEN letter_type = '3' THEN 'LETTER_3'
							WHEN letter_type = 'P' THEN 'PAYMENT_RECEIVED'
						 END
		  ,@letterCount = letter_type
		  ,@qcClaimNumber = claim_id
		  ,@letterDate = CAST(CAST(GETDATE() AS DATE) AS VARCHAR(10))
		  ,@claimType = claim_type
	FROM bind_overpayments
	WHERE overpayment_id = @id;
END

--====================
--Get the letter count
--====================
BEGIN
	SELECT @letterCount = count(*)
	FROM bind_overpayments
	WHERE claim_id = @qcClaimNumber;
END



IF @claimType = 'I' 
	--Institutional Claims
	BEGIN
			SELECT DISTINCT

			 @altClaimNumber		  = cl.claim_ud	
			,@billingProviderAddress1 = UPPER(ad.address_1)
			,@billingProviderAddress2 = isnull(upper(ad.address_2),'')
			,@billingProviderCity	  = upper(l.city)
			,@billingProviderState    = upper(s.state_ud)
			,@billingProviderZip      = upper(l.postal_code)
			,@billingProviderName	  = REPLACE(UPPER(vp.vendor_pay_to_nm), '"', '')
			,@billingProviderTaxId	  = v.federal_ein	
			,@bindSubscriberNumber	  = member_id.id_value
			,@groupNumber			  = bc.benefit_contract_ud										 
			,@masterClaimNumber		  = isnull(carn.additional_reference_number,'') -- This is the d9 number for UMR since this process is only for United, and not the Bind master claim number
			,@overpaymentAmount		  = c.additional_information_value
			,@overpaymentReasonDetail = t.[description]	
			,@patientAccountNumber    = coalesce(tpm_batch.external_identifier, cii.patient_account_number, ic.patient_control_number, '')
			,@patientName			  = mn.name_first + ' ' + mn.name_last
			,@planSponsorName		  = cgn.client_group_nm	
			,@serviceEndDate		  = CAST(CONVERT(VARCHAR,cd.[service_thru_date],111) AS VARCHAR(10))
			,@serviceStartDate		  = CAST(CONVERT(VARCHAR,cd.[service_from_date],111) AS VARCHAR(10)) 
			,@subscriberName		  = subscriber.name_first + ' ' + subscriber.name_last

			FROM [dbo].[institutional_claim_additional_information] c with(nolock)
					INNER JOIN [dbo].[additional_information_topic] t with(nolock)
						ON c.additional_information_topic_id = t.additional_information_topic_id	
					INNER JOIN [dbo].[institutional_claim] ic with(nolock)
						ON c.institutional_claim_id = ic.institutional_claim_id
					INNER JOIN [dbo].[bind_overpayments] o with(nolock)
						ON ic.claim_id = o.claim_id 
					INNER JOIN [dbo].[claim] cl with(nolock)
						ON ic.claim_id = cl.claim_id	
					INNER JOIN [dbo].[vendor_pay_to] vp with(nolock)
						ON cl.vendor_id = vp.vendor_id
					INNER JOIN [dbo].[address] ad with(nolock)
						ON vp.address_id = ad.address_id
					inner join locale l
						on l.locale_id = ad.locale_id
					inner join state s
						on l.state_id = s.state_id
					INNER JOIN [dbo].[vendor] v with(nolock)
						ON vp.vendor_id = v.vendor_id
					LEFT JOIN dbo.claim_additional_reference_number carn with(nolock)
						INNER JOIN dbo.claim_additional_reference_number_type carnt with(nolock)
							ON carnt.claim_additional_reference_number_type_id = carn.claim_additional_reference_number_type_id
								AND carnt.golden_key = 'd9'
						ON carn.claim_id = cl.claim_id
					inner join family_eligibility_member_benefit_plan fembp with(nolock)
						on cl.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
					inner join family_eligibility_member fem with(nolock)
						on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
					inner join dbo.member m with(nolock)
						on m.member_id = fem.member_id
					inner join dbo.member_name mn with(nolock)
						on mn.member_id = m.member_id
							and mn.is_primary = 1
					inner join family_eligibility fe with(nolock)
						on fem.family_eligibility_id = fe.family_eligibility_id
					inner join benefit_contract bc with(nolock)
						on fe.benefit_contract_id = bc.benefit_contract_id
					inner join client_group cg with(nolock) 
						on bc.client_group_id = cg.client_group_id
					inner join client_group_name cgn with(nolock)
						on cg.client_group_id = cgn.client_group_id
							and cgn.primary_name = 1
					left join claim_illness_injury cii
						on o.claim_id = cii.claim_id
					outer apply (
									select b.batch_id
										, bt.external_identifier
										, b.created_date as batch_import_date
										, b.file_name
									from qc_tpm.dbo.batch b with(nolock)
										inner join qc_tpm.dbo.batch_transaction bt with(nolock)
					 						on b.batch_id = bt.batch_id
										inner join qc_tpm.dbo.agreement a with(nolock)
					 						on b.agreement_id = a.agreement_id
									where a.document_exchange_type_id in ('X12837P','X12837IA2')
									and bt.internal_identifier = cl.claim_id
								) as tpm_batch
					CROSS APPLY (
									SELECT
										min(cp.service_from_date) as service_from_date,
										max(cp.service_thru_date) as service_thru_date
									FROM dbo.claim_procedure cp
									WHERE 1 = 1
									AND cp.claim_id = cl.claim_id
								) cd
					cross apply (
									select
										ca_fem.member_id,
										sub_mn.name_first,
										sub_mn.name_last
									from family_eligibility_member ca_fem with(nolock)
											inner join relationship_to_insured ca_rti with(nolock)
												on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
											inner join dbo.member_name sub_mn with(nolock)
												on sub_mn.member_id = ca_fem.member_id
													and sub_mn.is_primary = 1
									where ca_fem.family_eligibility_id = fe.family_eligibility_id
									and ca_rti.golden_key = 'Self'
								) as subscriber
					CROSS APPLY (
								 select top 1 mpi.id_value
												, mit.member_id_type_ud
								 from member_personal_id mpi with(nolock)
									inner join member_id_type mit with(nolock)
										on mpi.member_id_type_id = mit.member_id_type_id
								 where mpi.member_id = subscriber.member_id
								 and mit.golden_key = 'pid'
								) as member_id
			WHERE 1=1
			AND o.overpayment_id = @id
			AND o.claim_type = 'I';
	END

ELSE
	--Professional Claims
	BEGIN
			SELECT DISTINCT

			 @altClaimNumber		  = cl.claim_ud	
			,@billingProviderAddress1 = UPPER(ad.address_1)
			,@billingProviderAddress2 = isnull(upper(ad.address_2),'')
			,@billingProviderCity	  = upper(l.city)
			,@billingProviderState    = upper(s.state_ud)
			,@billingProviderZip      = upper(l.postal_code)
			,@billingProviderName	  = REPLACE(UPPER(vp.vendor_pay_to_nm), '"', '')
			,@billingProviderTaxId	  = v.federal_ein	
			,@bindSubscriberNumber	  = member_id.id_value
			,@groupNumber			  = bc.benefit_contract_ud									 
			,@masterClaimNumber		  = isnull(carn.additional_reference_number,'') -- This is the d9 number for UMR since this process is only for United, and not the Bind master claim number
			,@overpaymentAmount		  = p.additional_information_value
			,@overpaymentReasonDetail = t.[description]
			,@patientAccountNumber    = coalesce(tpm_batch.external_identifier, cii.patient_account_number, ic.patient_control_number, '')
			,@patientName			  = mn.name_first + ' ' + mn.name_last
			,@planSponsorName		  = cgn.client_group_nm
			,@serviceEndDate		  = CAST(CONVERT(VARCHAR,cd.[service_thru_date],111) AS VARCHAR(10))
			,@serviceStartDate		  = CAST(CONVERT(VARCHAR,cd.[service_from_date],111) AS VARCHAR(10)) 
			,@subscriberName		  = subscriber.name_first + ' ' + subscriber.name_last

			FROM [dbo].[professional_claim_additional_information] p
					INNER JOIN [dbo].[additional_information_topic] t with(nolock)
						ON p.additional_information_topic_id = t.additional_information_topic_id	
					INNER JOIN [dbo].[professional_claim] ic with(nolock)
						ON p.professional_claim_id = ic.professional_claim_id
					INNER JOIN [dbo].[bind_overpayments] o with(nolock)
						ON ic.claim_id = o.claim_id 
					INNER JOIN [dbo].[claim] cl with(nolock)
						ON ic.claim_id = cl.claim_id	
					INNER JOIN [dbo].[vendor_pay_to] vp with(nolock)
						ON cl.vendor_id = vp.vendor_id
					INNER JOIN [dbo].[address] ad with(nolock)
						ON vp.address_id = ad.address_id
					inner join locale l
						on l.locale_id = ad.locale_id
					inner join state s
						on l.state_id = s.state_id
					INNER JOIN [dbo].[vendor] v with(nolock)
						ON vp.vendor_id = v.vendor_id
					LEFT JOIN dbo.claim_additional_reference_number carn with(nolock)
						INNER JOIN dbo.claim_additional_reference_number_type carnt with(nolock)
							ON carnt.claim_additional_reference_number_type_id = carn.claim_additional_reference_number_type_id
								AND carnt.golden_key = 'd9'
						ON carn.claim_id = cl.claim_id
					inner join family_eligibility_member_benefit_plan fembp with(nolock)
						on cl.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
					inner join family_eligibility_member fem with(nolock)
						on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
					inner join dbo.member m with(nolock)
						on m.member_id = fem.member_id
					inner join dbo.member_name mn with(nolock)
						on mn.member_id = m.member_id
							and mn.is_primary = 1
					inner join family_eligibility fe with(nolock)
						on fem.family_eligibility_id = fe.family_eligibility_id
					inner join benefit_contract bc with(nolock)
						on fe.benefit_contract_id = bc.benefit_contract_id
					inner join client_group cg with(nolock) 
						on bc.client_group_id = cg.client_group_id
					inner join client_group_name cgn with(nolock)
						on cg.client_group_id = cgn.client_group_id
							and cgn.primary_name = 1
					left join claim_illness_injury cii
						on o.claim_id = cii.claim_id
					outer apply (
									select b.batch_id
										, bt.external_identifier
										, b.created_date as batch_import_date
										, b.file_name
									from qc_tpm.dbo.batch b with(nolock)
										inner join qc_tpm.dbo.batch_transaction bt with(nolock)
					 						on b.batch_id = bt.batch_id
										inner join qc_tpm.dbo.agreement a with(nolock)
					 						on b.agreement_id = a.agreement_id
									where a.document_exchange_type_id in ('X12837P','X12837IA2')
									and bt.internal_identifier = cl.claim_id
								) as tpm_batch
					CROSS APPLY (
									SELECT
										min(cp.service_from_date) as service_from_date,
										max(cp.service_thru_date) as service_thru_date
									FROM dbo.claim_procedure cp
									WHERE 1 = 1
									AND cp.claim_id = cl.claim_id
								) cd
					cross apply (
									select
										ca_fem.member_id,
										sub_mn.name_first,
										sub_mn.name_last
									from family_eligibility_member ca_fem with(nolock)
											inner join relationship_to_insured ca_rti with(nolock)
												on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
											inner join dbo.member_name sub_mn with(nolock)
												on sub_mn.member_id = ca_fem.member_id
													and sub_mn.is_primary = 1
									where ca_fem.family_eligibility_id = fe.family_eligibility_id
									and ca_rti.golden_key = 'Self'
								) as subscriber
					CROSS APPLY (
								 select top 1 mpi.id_value
												, mit.member_id_type_ud
								 from member_personal_id mpi with(nolock)
									inner join member_id_type mit with(nolock)
										on mpi.member_id_type_id = mit.member_id_type_id
								 where mpi.member_id = subscriber.member_id
								 and mit.golden_key = 'pid'
								) as member_id
			WHERE 1=1
			AND o.overpayment_id = @id
			AND o.claim_type = 'P';
	END




BEGIN
	SELECT @jsonOut = '{'
	SELECT @jsonOut = @jsonOut + '"type": "' + @letterType + '",'
	SELECT @jsonOut = @jsonOut + '"controlNumber": "' + @control_number + '",'
	SELECT @jsonOut = @jsonOut + '"letterCount": "' + @letterCount + '",'
	SELECT @jsonOut = @jsonOut + '"letterDate": "' + @letterDate + '",'
	SELECT @jsonOut = @jsonOut + '"acctNum": "' + @patientAccountNumber + '",'
	SELECT @jsonOut = @jsonOut + '"bindSubscriberNumber": "' + @bindSubscriberNumber + '",'
	SELECT @jsonOut = @jsonOut + '"qcClaimNumber": "' + @altClaimNumber + '",'
	SELECT @jsonOut = @jsonOut + '"masterClaimNumber": "' + @masterClaimNumber + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderName": "' + @billingProviderName + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderTaxId": "' + @billingProviderTaxId + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderAddress1": "' + @billingProviderAddress1 + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderAddress2": "' + @billingProviderAddress2 + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderCity": "' + @billingProviderCity + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderState": "' + @billingProviderState + '",'
	SELECT @jsonOut = @jsonOut + '"billingProviderZip": "' + @billingProviderZip + '",'
	SELECT @jsonOut = @jsonOut + '"serviceStartDate": "' + @serviceStartDate + '",'
	SELECT @jsonOut = @jsonOut + '"serviceEndDate": "' + @serviceEndDate + '",'
	SELECT @jsonOut = @jsonOut + '"overpaymentAmount": "$' + @overpaymentAmount + '",'
	SELECT @jsonOut = @jsonOut + '"overpaymentReasonDetail": "' + @overpaymentReasonDetail + '",'
	SELECT @jsonOut = @jsonOut + '"subscriberName": "' + @subscriberName + '",'
	SELECT @jsonOut = @jsonOut + '"patientName": "' + @patientName + '",'
	SELECT @jsonOut = @jsonOut + '"groupNumber": "' + @groupNumber + '",'
	SELECT @jsonOut = @jsonOut + '"planSponsorName": "' + @planSponsorName + '"'
	SELECT @jsonOut = @jsonOut + '}'
END

if (isnull(@jsonOut, '') = '')
begin

 update op
 set op.failed = 1
 from bind_overpayments op
 where op.overpayment_id = @id

end

else 
begin

 update op
 set op.failed = 0
 from bind_overpayments op
 where op.overpayment_id = @id

end

SELECT @jsonOut

GO
