USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_predetermination_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
03/22/2013 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/22/2013	cmaddox		1.0			Created for the predetermination grid on the dental claim form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for the predetermination grid on the dental claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dental_claim_predetermination_delete]
(
@dental_claim_predetermination_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --


DELETE FROM dental_claim_predetermination
WHERE dental_claim_predetermination_id = @dental_claim_predetermination_id

DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

--
RETURN @SP_SUCCESS
--
GO
