USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_override_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: fcahill
Nov 12 2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_framework_override_save]
(
@benefit_framework_user_assigned_result_code_id	int = NULL OUTPUT
,@benefit_framework_id                 int = NULL
,@criteria_id                          int = NULL
,@benefit_id                           int = NULL
,@result_code_id                       int = NULL
,@result_code_status_id   		         int = NULL
,@comment                              nvarchar(1000) = NULL
,@effective_from                       datetime = NULL
,@effective_thru                       datetime = NULL
,@active                               bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--
IF ISNULL(@benefit_framework_user_assigned_result_code_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO benefit_framework_user_assigned_result_code(
benefit_framework_id
,criteria_id
,benefit_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_framework_id
,@criteria_id
,@benefit_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_framework_user_assigned_result_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT *
FROM
benefit_framework_user_assigned_result_code
WHERE
benefit_framework_user_assigned_result_code_id = @benefit_framework_user_assigned_result_code_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_framework_user_assigned_result_code
SET
benefit_framework_id                     = @benefit_framework_id
,criteria_id                              = @criteria_id
,benefit_id                               = @benefit_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,comment                                  = @comment
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
benefit_framework_user_assigned_result_code_id = @benefit_framework_user_assigned_result_code_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
