USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_transport_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_transport_save]
(
@claim_transport_id							INT = NULL	OUTPUT,
@claim_id									INT = NULL,
@claim_procedure_id							INT = NULL,
@patient_weight								NUMERIC(19,2) = NULL,
@claim_transport_reason_code_id				INT = NULL,
@distance									NUMERIC(9,2) = NULL,
@patient_quantity							INT = NULL,
-- drop off transport address
@drop_off_address_1							NVARCHAR(100) = NULL,
@drop_off_address_2							NVARCHAR(100) = NULL,
@drop_off_city								NVARCHAR(50) = NULL,
@drop_off_locale_id							INT = NULL,
@drop_off_state_code						NCHAR(2) = NULL,
@drop_off_postal_code						NVARCHAR(15) = NULL,
@drop_off_country_code						NCHAR(2) = NULL,
@drop_off_country_subdivision_code			NCHAR(3) = NULL,
-- pick up transport address
@pick_up_address_1							NVARCHAR(100) = NULL,
@pick_up_address_2							NVARCHAR(100) = NULL,
@pick_up_city								NVARCHAR(50) = NULL,
@pick_up_locale_id							INT = NULL,
@pick_up_state_code							NCHAR(2) = NULL,
@pick_up_postal_code						NVARCHAR(15) = NULL,
@pick_up_country_code						NCHAR(2) = NULL,
@pick_up_country_subdivision_code			NCHAR(3) = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

DECLARE	@claim_transport_reason_code_gk	NCHAR(4)
SET @claim_transport_reason_code_gk =
(
SELECT golden_key
FROM claim_transport_reason_code WHERE claim_transport_reason_code_id = @claim_transport_reason_code_id
)

-- Claim Transport
IF @claim_transport_id IS NULL
BEGIN
--- Create a new record
INSERT INTO claim_transport
(
claim_id,
claim_procedure_id,
patient_weight_unit_of_measurement_gk,
patient_weight,
patient_quantity,
claim_transport_reason_code_gk,
distance_unit_of_measurement_gk,
distance
)
VALUES
(
@claim_id,
@claim_procedure_id,
'LB',
@patient_weight,
@patient_quantity,
@claim_transport_reason_code_gk,
'DH',
@distance
)

SET @claim_transport_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE claim_transport
SET
patient_weight_unit_of_measurement_gk	= 'LB',
patient_weight							= @patient_weight,
claim_transport_reason_code_gk			= @claim_transport_reason_code_gk,
distance_unit_of_measurement_gk			= 'DH',
distance								= @distance,
patient_quantity						= @patient_quantity,
modified_user_name						= ORIGINAL_LOGIN(),
modified_date							= GETDATE()
WHERE claim_transport_id = @claim_transport_id
END

-- Drop Off Address
DECLARE @drop_off_claim_transport_address_id INT
SET @drop_off_claim_transport_address_id =
(
SELECT claim_transport_address_id
FROM claim_transport_address
WHERE
claim_transport_id = @claim_transport_id
AND claim_transport_address_type_gk = '45'
)


IF @drop_off_claim_transport_address_id IS NULL
BEGIN
--- Create a new record
INSERT INTO claim_transport_address
(
claim_transport_id,
claim_transport_address_type_gk,
address_1,
address_2,
city,
locale_id,
state_code,
postal_code,
country_code,
country_subdivision_code
)
VALUES
(
@claim_transport_id,
'45',
@drop_off_address_1,
@drop_off_address_2,
@drop_off_city,
@drop_off_locale_id	,
@drop_off_state_code,
@drop_off_postal_code,
@drop_off_country_code,
@drop_off_country_subdivision_code
)
END
ELSE
BEGIN
UPDATE claim_transport_address
SET
claim_transport_id			= @claim_transport_id,
address_1					= @drop_off_address_1,
address_2					= @drop_off_address_2,
city						= @drop_off_city,
locale_id					= @drop_off_locale_id,
state_code					= @drop_off_state_code,
postal_code					= @drop_off_postal_code,
country_code				= @drop_off_country_code,
country_subdivision_code	= @drop_off_country_subdivision_code,
modified_user_name			= ORIGINAL_LOGIN(),
modified_date				= GETDATE()
WHERE claim_transport_address_id = @drop_off_claim_transport_address_id
END


-- Pick up Address
DECLARE @pick_up_claim_transport_address_id INT
SET @pick_up_claim_transport_address_id =
(
SELECT claim_transport_address_id
FROM claim_transport_address
WHERE
claim_transport_id = @claim_transport_id
AND claim_transport_address_type_gk = 'PW'
)

IF @pick_up_claim_transport_address_id IS NULL
BEGIN
--- Create a new record
INSERT INTO claim_transport_address
(
claim_transport_id,
claim_transport_address_type_gk,
address_1,
address_2,
city,
locale_id,
state_code,
postal_code,
country_code,
country_subdivision_code
)
VALUES
(
@claim_transport_id,
'PW',
@pick_up_address_1,
@pick_up_address_2,
@pick_up_city,
@pick_up_locale_id	,
@pick_up_state_code,
@pick_up_postal_code,
@pick_up_country_code,
@pick_up_country_subdivision_code
)
END
ELSE
BEGIN
UPDATE claim_transport_address
SET
claim_transport_id				= @claim_transport_id,
address_1						= @pick_up_address_1,
address_2						= @pick_up_address_2,
city							= @pick_up_city,
locale_id						= @pick_up_locale_id,
state_code						= @pick_up_state_code,
postal_code						= @pick_up_postal_code,
country_code					= @pick_up_country_code,
country_subdivision_code		= @pick_up_country_subdivision_code,
modified_user_name				= ORIGINAL_LOGIN(),
modified_date					= GETDATE()
WHERE claim_transport_address_id = @pick_up_claim_transport_address_id
END

RETURN @SP_SUCCESS
GO
