USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_unit_day_week_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 11/15/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/15/2007	Vishwa Jella	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data (days and weeks) for drop down under Pre-existing Condition Rules Form (Unit (D/M))
--
REQUIREMENTS:
--
INPUTS:
unit_day_week_id - Key to unit_day_week table, identifies a single stored dd_unit_day_week.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_unit_day_week_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
unit_day_week.unit_day_week_id
,unit_day_week.unit_day_week_ud
FROM unit_day_week
ORDER BY unit_day_week_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
