USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_duplicate]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 02/17/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure used for creating duplicate Fee Schedule Rules
It copies the child records and associates it to the new fee schedule rule record
--
REQUIREMENTS:
--
INPUTS:

@fee_schedule_id,
@UD,
@Description

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_fee_schedule_rule_duplicate]

(
@ID						INT, -- fee_schedule_id
@UD						NVARCHAR(50),
@Description			NVARCHAR(255) = null,
@AsOfDate				datetime = null
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@new_fee_schedule_rule_id INT,
@ERROR 	NVARCHAR(50)

INSERT INTO fee_schedule_rule (
fee_schedule_rule_ud
,description
)
SELECT
@UD
,@Description
FROM	fee_schedule_rule
WHERE	fee_schedule_rule_id = @ID

SELECT @new_fee_schedule_rule_id = SCOPE_IDENTITY()

INSERT INTO fee_schedule_rule_modifier_conflict(

fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,column_1_modifier
,column_1_modifier_set_id
,column_2_modifier
,column_2_modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
)
SELECT
@new_fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,column_1_modifier
,column_1_modifier_set_id
,column_2_modifier
,column_2_modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
FROM	fee_schedule_rule_modifier_conflict
WHERE	fee_schedule_rule_id = @ID
AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))

INSERT INTO fee_schedule_rule_not_covered_modifier(

fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
)
SELECT
@new_fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
FROM	fee_schedule_rule_not_covered_modifier
WHERE	fee_schedule_rule_id = @ID
AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))

INSERT INTO fee_schedule_rule_procedure_code_conflict(

fee_schedule_rule_id
,column_1_procedure_code_type_id
,column_1_starting_procedure_code_id
,column_1_ending_procedure_code_id
,column_2_procedure_code_type_id
,column_2_starting_procedure_code_id
,column_2_ending_procedure_code_id
,result_code_override_id
,effective_from
,effective_thru
)
SELECT
@new_fee_schedule_rule_id
,column_1_procedure_code_type_id
,column_1_starting_procedure_code_id
,column_1_ending_procedure_code_id
,column_2_procedure_code_type_id
,column_2_starting_procedure_code_id
,column_2_ending_procedure_code_id
,result_code_override_id
,effective_from
,effective_thru
FROM	fee_schedule_rule_procedure_code_conflict
WHERE	fee_schedule_rule_id = @ID
AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))

INSERT INTO fee_schedule_rule_required_modifier(

fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,procedure_code_group_id
,modifier
,modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
)
SELECT
@new_fee_schedule_rule_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,procedure_code_group_id
,modifier
,modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
FROM	fee_schedule_rule_required_modifier
WHERE	fee_schedule_rule_id = @ID
AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))

RETURN isnull(@new_fee_schedule_rule_id, 0)
GO
