USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_bank_account_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	Nghi Nguyen		1.0		create
2008/05/16	lrenard					accounting company schema and form changes
04/17/2012  CKnobloch		1.2		added use_for_ach column

CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to load data for grid "Bank Accounts" in Accounting Company form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_bank_account_load]
(
@accounting_company_id			INT
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ba.bank_account_id
,ba.bank_account_ud
,ba.description
,ba.cash_accounting_company_account_id
,aca.accounting_company_account_ud AS cash_accounting_company_account_ud
,ba.use_for_ach
,ba.accounting_company_id
,ba.effective_from
,ba.effective_thru

FROM bank_account ba
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = ba.cash_accounting_company_account_id

WHERE ba.accounting_company_id = @accounting_company_id

ORDER BY
CASE WHEN ba.effective_from IS NULL THEN 0 ELSE 1 END , ba.effective_from DESC
,CASE WHEN ba.effective_thru IS NULL THEN 0 ELSE 1 END , ba.effective_thru DESC


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
