USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_remittance_percent_assignments_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
7/10/2009   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
7/10/2009	CCESSNUN	1.0			Created Place Holder
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Populate Carrier Remittance Percent Assignments Grid

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_carrier_remittance_percent_assignments_list_load]
--(
--@carrier_id			Int
--)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT 0 as criteria_id,
' ' as criteria_ud,
0 as benefit_category_id,
' ' as benefit_category_ud,
0 as remittance_calculation_id,
' ' as remittance_calculation_ud,
0 as frequency_id,
' ' as frequency_ud,
' ' as effective_from,
' ' as effective_thru

--
RETURN @SP_SUCCESS
GO
