USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_accounting_invoice_id_rule_standard_only_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used in the System Configuration form. Only the standard rule may be global.

The other rule (Enrollment + Date + Counter) may be selected on the Benefit Contract
Premium Setup form, which uses a different loading stored procedure:

[dbo].[plx_dd_auto_create_accounting_invoice_id_rule_load]

to be used with Invoices that are per Enrollment.

******************************/
CREATE   PROCEDURE [dbo].[plx_dd_auto_create_accounting_invoice_id_rule_standard_only_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
auto_create_accounting_invoice_id_rule_id
,format
,golden_key
FROM auto_create_accounting_invoice_id_rule
WHERE golden_key = 'STANDARD'
ORDER BY auto_create_accounting_invoice_id_rule_ud
--
RETURN @SP_SUCCESS
GO
