USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_qualifier_assignment_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 09/25/2009
--
DESCRIPTION:
deletes a benefit_qualifier_assignment record.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_qualifier_assignment_delete]
(
@benefit_qualifier_assignment_id	int = NULL
)

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
IF NOT EXISTS (SELECT * FROM benefit_qualifier_assignment WHERE benefit_qualifier_assignment_id = @benefit_qualifier_assignment_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_qualifier_assignment
WHERE benefit_qualifier_assignment_id = @benefit_qualifier_assignment_id
END
--

RETURN @SP_SUCCESS
--
GO
