USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_group_size]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_group_size]
AS
SET NOCOUNT ON

SELECT
gs.group_size_id
,gs.group_size_ud
FROM group_size gs
ORDER BY gs.group_size_ud

RETURN 0
GO
