USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_reinsurance_billing_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load data for grid grdAccountAssignment on form frmReinsuranceBillingAccountAssignments
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_reinsurance_billing_load]
(
@reinsurance_contract_id INT = NULL
,@client_group_id INT = NULL
,@benefit_contract_id INT = NULL
,@benefit_plan_id INT = NULL
,@client_id  INT = NULL
,@accounting_company_id INT = NULL
,@ar_accounting_company_account_id INT = NULL
,@revenue_accounting_company_account_id INT = NULL
,@show_only_current_cp	bit = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT;
SELECT
@SP_SUCCESS = 0;

DECLARE @strSQL nvarchar(4000);

SET @strSQL =
'SELECT  DISTINCT
aarb.account_assignment_reinsurance_billing_id
,aarb.reinsurance_contract_id
,rc.reinsurance_contract_ud
,aarb.client_group_id
,cgn.client_group_ud
,aarb.benefit_contract_id
,bc.benefit_contract_ud
,aarb.benefit_plan_id
,bp.benefit_plan_ud
,aarb.client_id
,cn.client_ud
,client.accounting_company_id
,ac.accounting_company_ud
,aarb.ar_accounting_company_account_id
,aca_ar.accounting_company_account_ud AS ar_accounting_company_account_ud
,aarb.revenue_accounting_company_account_id
,aca_rev.accounting_company_account_ud AS revenue_accounting_company_account_ud
,aarb.effective_from
,aarb.effective_thru
,aarb.modified_date

FROM dbo.account_assignment_reinsurance_billing aarb
LEFT JOIN reinsurance_contract rc ON aarb.reinsurance_contract_id = rc.reinsurance_contract_id
LEFT JOIN client_group_name cgn ON aarb.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON aarb.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp ON aarb.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN client_name cn ON aarb.client_id = cn.client_id
INNER JOIN client ON aarb.client_id = client.client_id
INNER JOIN accounting_company ac ON client.accounting_company_id = ac.accounting_company_id
INNER JOIN accounting_company_account aca_ar ON aarb.ar_accounting_company_account_id = aca_ar.accounting_company_account_id
INNER JOIN accounting_company_account aca_rev ON aarb.revenue_accounting_company_account_id = aca_rev.accounting_company_account_id
WHERE 1 = 1
'

IF @reinsurance_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.reinsurance_contract_id = ' + str(@reinsurance_contract_id) + ')'

IF @client_group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.client_group_id = ' + str(@client_group_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.benefit_contract_id = ' + str(@benefit_contract_id) + ')'

IF @benefit_plan_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.benefit_plan_id = ' + str(@benefit_plan_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.client_id = ' + str(@client_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (ac.accounting_company_id = ' + str(@accounting_company_id) + ')'

IF @ar_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.ar_accounting_company_account_id = ' + str(@ar_accounting_company_account_id) + ')'

IF @revenue_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aarb.revenue_accounting_company_account_id = ' + str(@revenue_accounting_company_account_id) + ')'

IF (NOT @show_only_current_cp IS NULL) AND (@show_only_current_cp = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), aarb.effective_from) <= 0 OR aarb.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aarb.effective_thru) >= 0 OR aarb.effective_thru IS NULL)
'
END

--SET @strSQL = @strSQL + 'ORDER BY CASE WHEN aarb.effective_from IS NULL THEN 0 ELSE 1 END ASC, aarb.effective_from DESC,
--	 CASE WHEN aarb.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aarb.effective_thru DESC,
--		cn.client_ud'


SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
