USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_diagnosis_code_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Hiep Nguyen		1.0		Created and used for Find DX Code Group Form
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.2
--
ICU:
--
DESCRIPTION:
The procedure is used to find the diagnosis code groups that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_find_diagnosis_code_group_load]
(
@get_column_headers			BIT = 0,
@diagnosis_code_group_ud nvarchar(50) 		= null,
@description nvarchar(255) 		= '',
@code_group_type_ud nvarchar(50) = '',
@exact_match 		bit		= 0
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString 		AS NVARCHAR(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@table_name	NVARCHAR(255)


SELECT
@sqlString 		= '',
@sqlCondition		= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix 	= '',
@Suffix 	= '',
@table_name 	= ''

IF @exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = 'LIKE N'''
SET @suffix = '%'')'
END

SET @sqlString = 'SELECT TOP (dbo.fn_results_limit()) code_group_type.code_group_type_ud AS code_group_type_ud ,
diagnosis_code_group.diagnosis_code_group_ud AS diagnosis_code_group_ud,
diagnosis_code_group.diagnosis_code_group_id AS diagnosis_code_group_id,
diagnosis_code_group.description,
diagnosis_code_group.description as diagnosis_code_group_description
FROM
dbo.diagnosis_code_group
LEFT OUTER JOIN code_group_type ON diagnosis_code_group.code_group_type_id = code_group_type.code_group_type_id '

IF (@diagnosis_code_group_ud IS NOT NULL) AND (@diagnosis_code_group_ud <> '')
SET @sqlCondition = @sqlCondition + ' AND (ISNULL(diagnosis_code_group.diagnosis_code_group_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@diagnosis_code_group_ud, @exact_match) + @Suffix

IF (@description IS NOT NULL) AND (@description <> '')
SET @sqlCondition = @sqlCondition + ' AND (ISNULL(diagnosis_code_group.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @exact_match) + @Suffix

IF (@code_group_type_ud is not null) and (@code_group_type_ud <> '')
set @sqlCondition = @sqlCondition + ' AND (ISNULL(code_group_type.code_group_type_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@code_group_type_ud, @exact_match) + @Suffix

SET @sqlString = @sqlString + @sqlCondition

EXEC(@sqlString)

END
GO
