USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_check_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/28/2008	wchristensen	1.0			Created
05/27/2008	wchristensen	1.1			Chagned to return success if record does not exist
07/17/2008	lrenard			1.2			added accounting_payment_queue check
11/05/2008	Vishwa Jella	1.3			removed accounting_payment_queue check
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check dependencies on a provider before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the provider to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_practice_office_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@return				int,
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int,
@SP_EXCEPTION		int
SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION 		= -1

-- First check that the provider exists
IF NOT EXISTS (SELECT practice_office_id FROM practice_office WHERE practice_office_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM claim WHERE practice_office_id = @id)
OR EXISTS(SELECT * FROM provider_practice_office WHERE practice_office_id = @id)
OR EXISTS(SELECT * FROM referral_provider WHERE practice_office_id = @id)
OR EXISTS(SELECT * FROM referral_template_provider WHERE practice_office_id = @id)
OR EXISTS(SELECT * FROM withhold_schedule_detail WHERE practice_office_id = @id)
BEGIN
--check institutional claims
SELECT 'Institutional Claim' AS object_golden_key, claim_ud AS object_ud
FROM institutional_claim ic
INNER JOIN claim c ON c.claim_id = ic.claim_id
WHERE c.practice_office_id = @id

--check professional claims
SELECT 'Professional Claim' AS object_golden_key, claim_ud AS object_ud
FROM professional_claim pc
INNER JOIN claim c ON c.claim_id = pc.claim_id
WHERE c.practice_office_id = @id

--check dental claims
SELECT 'Dental Claim' AS object_golden_key, claim_ud AS object_ud
FROM dental_claim dc
INNER JOIN claim c ON c.claim_id = dc.claim_id
WHERE c.practice_office_id = @id

--check providers
SELECT
'Provider' AS object_golden_key
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix) AS object_ud
FROM provider_name pn
INNER JOIN provider_practice_office ppo
ON pn.provider_id = ppo.provider_id
AND pn.is_primary = 1
WHERE ppo.practice_office_id = @id

--check referrals
SELECT DISTINCT object_golden_key =
CASE rt.golden_key
WHEN 'Referral'	THEN 'Referral'
WHEN 'Authorization' THEN 'Authorization'
END, referral_ud AS object_ud
FROM referral r
INNER JOIN referral_form_type rt ON rt.referral_form_type_id = r.referral_form_type_id
LEFT JOIN referral_provider rp ON rp.referral_id = r.referral_id
WHERE rp.practice_office_id = @id

--check referral templates
SELECT 'Referral Template' AS object_golden_key, referral_template_ud AS object_ud
FROM referral_template_provider rp
INNER JOIN referral_template r ON r.referral_template_id = rp.referral_template_id
WHERE rp.practice_office_id = @id

SELECT 'Withhold Schedule' AS object_golden_key, withhold_schedule_ud AS object_ud
FROM withhold_schedule ws
INNER JOIN withhold_schedule_detail wsd ON ws.withhold_schedule_id = wsd.withhold_schedule_id
WHERE practice_office_id = @id


RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
