USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_bank_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_financial_bank_delete] (
@financial_bank_id    INT = NULL
)
AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

IF NOT EXISTS (SELECT 1 FROM financial_bank WHERE financial_bank_id = @financial_bank_id)
BEGIN
RETURN @SP_EXCEPTION;
END
ELSE
BEGIN
DELETE FROM financial_bank_branch
WHERE financial_bank_id = @financial_bank_id;

DELETE FROM financial_bank
WHERE financial_bank_id = @financial_bank_id;
END

RETURN @SP_SUCCESS;
GO
