USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_claim_notes_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE  [dbo].[bind_claim_notes_save]
	-- Add the parameters for the stored procedure here
	(
		@reference_claim_id NVARCHAR(160),
		@note_text NVARCHAR(300),
		@note_type_ud NVARCHAR(160)
	)
AS
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

DECLARE
	@note_id int,
	@note_text_id int,
	@reference_id int,
	@note_linked_to_id int,
	@note_business_object_id int,	
	@message NVARCHAR(max),
	@SP_SUCCESS INT,
	@SP_ERROR INT

SET XACT_ABORT ON;
BEGIN TRANSACTION;

BEGIN TRY
	SELECT
	@SP_SUCCESS = 0,
	@SP_ERROR= 1
	
	CREATE TABLE #output(
		noteId int,
		noteTextId int,
		noteLinkedTo int,
		noteBusinessObject int,
		errorMessage NVARCHAR(max)
	)
	SELECT TOP(1) @note_business_object_id = [note_business_object_id]      
		FROM [qc_core].[dbo].[note_business_object]
		WHERE note_business_object_ud = @note_type_ud
	if(@@ROWCOUNT = 0)
	BEGIN
		SET @message = CONCAT('No business type found for ', @note_type_ud, ' identifier')
		INSERT INTO #output SELECT 0, 0, 0, 0, @message
		goto logerror
	END

	SELECT @reference_id = claim_id FROM claim where claim_ud = @reference_claim_id
	if(@@ROWCOUNT = 0)
	BEGIN
		SET @message = 'No claim_id found for '+ @reference_claim_id
		INSERT iNTO #output SELECT 0, 0, 0, 0, @message
		goto logerror
	END
	
	EXEC [dbo].[plx_note_save]
		@note_id = @note_id OUTPUT,
		@note_text_id = @note_text_id OUTPUT,
		@note_version = 0,
		@note_status_id = 1,--this means Open status		
		@note_text_append_new = @note_text

	EXEC [dbo].[plx_note_linked_to_save]
		@note_linked_to_id = @note_linked_to_id OUTPUT,
		@note_business_object_id = @note_business_object_id,-- could be either Professional or Institutional Claim
		@record_id = @reference_id,
		@note_text_id = @note_text_id

END TRY
BEGIN CATCH
	SET @message = ERROR_MESSAGE() + ''
	INSERT iNTO #output SELECT 0, 0, 0, 0, @message
	SELECT * FROM #output
	print 'exception'
	goto logerror
END CATCH

logerror:
BEGIN
	IF @message IS NOT NULL AND @message <> '' 
	BEGIN
		SELECT * FROM #output
		print 'error'
		WHILE @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
		RETURN @SP_ERROR
	END
END

IF  @@TRANCOUNT > 0 COMMIT TRANSACTION
BEGIN
	print 'success'
	INSERT INTO #output SELECT @note_id, @note_text_id, @note_linked_to_id, @note_business_object_id, @message
	SELECT * FROM #output
	RETURN @SP_SUCCESS
END
GO
