USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_contact_association_type_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mayuri
Date: 11/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/14/2005	Mayuri		1.0		Created .See description
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure to load all the contact association types
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_contact_association_type_load]
AS
--
--
SET NOCOUNT ON
--

SELECT
benefit_contract_association_type.benefit_contract_association_type_id as contact_association_type_id
,benefit_contract_association_type.benefit_contract_association_type_ud as contact_association_type_ud

FROM benefit_contract_association_type
GO
