USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_correspondence_manual_generated_delete]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2005	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Delete data for grid grdManuallyGeneratedCorrespondence on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:
@practice_office_correspondence_id - Key to practice_office_correspondence table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_practice_office_correspondence_manual_generated_delete]
(
@practice_office_correspondence_id	int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@correspondence_manual_generated_id int
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM practice_office_correspondence WHERE practice_office_correspondence_id = @practice_office_correspondence_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Get correspondence manual generated from practice_office correspondence id
SELECT @correspondence_manual_generated_id = correspondence_manual_generated_id
FROM practice_office_correspondence
WHERE practice_office_correspondence_id = @practice_office_correspondence_id

-- Delete practice_office correspondence
DELETE FROM practice_office_correspondence
WHERE practice_office_correspondence_id = @practice_office_correspondence_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
-- Delete correspondence manual generated
DELETE	FROM correspondence_manual_generated
WHERE correspondence_manual_generated_id = @correspondence_manual_generated_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

END
--
RETURN @SP_SUCCESS
GO
