USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_ap_ach_processing_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

DESCRIPTION:
Loads data for the AP ACH Payment Processing form

******************************/
CREATE       PROCEDURE [dbo].[plx_ap_ach_processing_load]
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
gpr.ap_ach_company_identifier,
gpr.ap_ach_company_name as nacha_ap_ach_company_name,
gpr.ap_ach_company_name as republic_ap_ach_company_name,
gpr.ap_ach_export_file_format_id,
gpr.ap_ach_file_bank_transit_routing_number,
gpr.ap_ach_file_path,
gpr.ap_ach_file_recipient,
gpr.ap_ach_bank_account,
gpr.ap_ach_bank_code,
gpr.ap_ach_bank_branch,
gpr.ap_ach_description,
eft.export_file_format_ud,
eft.golden_key as export_file_format_golden_key
FROM global_processing_rule gpr
LEFT JOIN export_file_format eft on gpr.ap_ach_export_file_format_id = eft.export_file_format_id

--

RETURN @SP_SUCCESS
GO
