USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_certification_condition_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_certification_condition_save]
(
@claim_certification_condition_id			INT = NULL OUTPUT,
@claim_transport_id							INT,
@yes_no_id									INT,
@claim_certification_condition_code_id		INT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

DECLARE @yes_no_golden_key NVARCHAR(50) = (SELECT golden_key FROM yes_no where yes_no_id = @yes_no_id)
DECLARE @claim_id INT = (SELECT claim_id FROM claim_transport WHERE claim_transport_id = @claim_transport_id)
DECLARE @claim_procedure_id INT = (SELECT claim_procedure_id FROM claim_transport WHERE claim_transport_id = @claim_transport_id)
DECLARE @claim_certification_condition_code_gk NVARCHAR(50) =
(
SELECT golden_key
FROM claim_certification_condition_code
WHERE claim_certification_condition_code_id = @claim_certification_condition_code_id
)

IF @claim_certification_condition_id IS NULL
BEGIN
--- Create a new record
INSERT INTO claim_certification_condition
(
claim_id,
claim_procedure_id,
claim_certification_condition_type_gk,
claim_certification_condition_code_applies_flag,
claim_certification_condition_code_gk
)
VALUES
(
@claim_id,
@claim_procedure_id,
'EV',
CASE WHEN @yes_no_golden_key = 'yes' THEN 'Y' ELSE 'N' END,
@claim_certification_condition_code_gk
)

SET @claim_transport_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE claim_certification_condition
SET
claim_certification_condition_code_applies_flag = CASE WHEN @yes_no_golden_key = 'yes' THEN 'Y' ELSE 'N' END,
claim_certification_condition_code_gk = @claim_certification_condition_code_gk,
modified_user_name						= ORIGINAL_LOGIN(),
modified_date							= GETDATE()
WHERE claim_certification_condition_id = @claim_certification_condition_id
END

RETURN @SP_SUCCESS
GO
