USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_1099_payee_data_extract]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;


Date			Modified By		Version	Description
--------------------------------------------------------------------------------
07/25/2011	Jeremy Hein		 1.0		Used to extract payee payment data for 1099 reporting
10/20/2011	Jeremy Hein		 1.1		Added Vendor TIN as a parameter.
03/08/2012	Jeremy Hein		 2.0		Updated to pull 1099 box amounts instead of the payment total amount.
Returns the box amounts instead of lumping everything into box 6 medical.
--------------------------------------------------------------------------------

-Payee (Vendor)
TIN - pulled from the vendor_pay_to record
- accounting company data pulled for payer matching

Totals the payment amount for payments by vendor that are in PAID status. This total is returned as a single total
and not split into different 1099 amount boxes as only box 6 will be used for the current project requirement.


HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_1099_payee_data_extract]
(
@accountingCompanyID INT = NULL,
@statementStartDate datetime = NULL,
@statementEndDate datetime = NULL,
@vendorID INT = NULL, --return data for a certain vendor
@vendorTIN varchar(50) = NULL

)
AS


DECLARE @paidStatusID INT,
@paymentTypeID INT,
@nonExempt INT,
@minimumPaidAmount money

IF ltrim(rtrim(@vendorTIN)) = ''
SET @vendorTIN = NULL


--Set the statement start date to have a time at the beginning of the day
IF @statementStartDate IS NOT NULL
SELECT @statementStartDate = dateadd(dd,0, datediff(dd,0,@statementStartDate))
--Set the statement end date to have a time at the end of the day
IF @statementEndDate IS NOT NULL
BEGIN
SELECT  @statementEndDate = DATEADD(day, 1, @statementEndDate)
SELECT @statementEndDate = DATEADD(millisecond, -3, @statementEndDate)
END


SET @minimumPaidAmount = 600.00 --1099 reporting is required for $600 or more in payments to payee. Override if needed.
--Golden data grab
SELECT @paidStatusID = accounting_payment_status_id FROM dbo.accounting_payment_status WHERE golden_key = 'PAID'
SELECT @paymentTypeID = accounting_transaction_ap_type_id FROM dbo.accounting_transaction_ap_type WHERE golden_key = 'PAYMENT'

--Waiting for colaborator update:
SELECT @nonExempt = field_indicator_1099_id FROM dbo.field_indicator_1099 WHERE golden_key = 'NON_EXEMPT'

--Missing QC data return
IF @paidStatusID IS NULL OR @paymentTypeID IS NULL OR @nonExempt IS NULL--TODO add @includeIndicatorID once the data is updated
BEGIN
RAISERROR ('QC Golden Data Missing. Unable to generate 1099-Misc request.)', 16,   1  );
return --error message??
END


--Payment data grouped by (vendor_tax_id OR vendor_id (if TIN is NULL)) AND accounting_company_id
CREATE TABLE #payment_information
(	 vendor_id INT,
vendor_tax_id nvarchar(50) NULL,
vendor_tax_id_type nvarchar(50) NULL,
accounting_company_id INT,
accounting_company_ud nvarchar(50),
vendor_pay_to_name nvarchar(100) NULL,
foreign_address_indicator bit NULL,
vendor_address_1 nvarchar(100) NULL,
vendor_address_2 nvarchar(100) NULL,
vendor_city nvarchar(255) NULL,
vendor_state nvarchar(50) NULL,
vendor_postal_code nvarchar(50) NULL,
accounting_company_tin nvarchar(50) NULL,
box_one_rents numeric(19,4) NULL,
box_three_other_income numeric(19, 4) NULL,
box_four_federal_income_withheld numeric(19, 4) NULL,
box_six_medical_and_healthcare_payments numeric(19, 4) NULL,
box_seven_nonemployee_compensation numeric(19, 4) NULL,
box_fourteen_gross_proceeds_paid_to_an_attorney numeric(19, 4) NULL,
box_fifteen_a_section_409a_deferrals numeric(19, 4) NULL,
box_fifteen_b_section_409a_income numeric(19, 4) NULL,

)

/*****************************************************************************************************
-Get total of payment amount by vendor_id and accounting_company_id
-When vendor TIN is null
-Only getting the required group by data and payment total at this time
to avoid any totalling issues from potential bad extraneous data ie address, etc...
-Get nothing here if @vendorTIN as passed in.
*****************************************************************************************************/
INSERT INTO #payment_information
(	 vendor_id,
accounting_company_id,
box_one_rents,
box_three_other_income,
box_four_federal_income_withheld,
box_six_medical_and_healthcare_payments,
box_seven_nonemployee_compensation,
box_fourteen_gross_proceeds_paid_to_an_attorney,
box_fifteen_a_section_409a_deferrals,
box_fifteen_b_section_409a_income
)
SELECT  v.vendor_id,
ac.accounting_company_id,
SUM(ISNULL(pay.tax_1099_rents_amount, 0)),
SUM(ISNULL(pay.tax_1099_other_amount, 0)),
SUM(ISNULL(pay.tax_1099_federal_amount, 0)),
SUM(ISNULL(pay.tax_1099_medical_amount, 0)),
SUM(ISNULL(pay.tax_1099_compensation_amount, 0)),
SUM(ISNULL(pay.tax_1099_attorney_amount, 0)),
SUM(ISNULL(pay.tax_1099_deferrals_amount, 0)),
SUM(ISNULL(pay.tax_1099_income_amount, 0))
FROM dbo.accounting_transaction_ap AS trx
INNER JOIN dbo.accounting_transaction_ap_payment_detail as pay
ON trx.accounting_transaction_ap_id = pay.accounting_transaction_ap_id
INNER JOIN dbo.accounting_company AS ac
ON trx.accounting_company_id = ac.accounting_company_id
INNER JOIN dbo.vendor AS v
ON trx.vendor_id = v.vendor_id
WHERE pay.accounting_payment_status_id = @paidStatusID
AND v.federal_ein IS NULL
AND trx.accounting_transaction_ap_type_id = @paymentTypeID
AND (pay.check_date <= @statementEndDate OR @statementEndDate is NULL)
AND (pay.check_date >= @statementStartDate OR @statementStartDate IS NULL)
AND v.vendor_id = ISNULL(@vendorID, v.vendor_id) --Only search for specific Vendor ID
AND @vendorTIN IS NULL									 --when there is no TIN, do not search by both as TIN can span multiple vendor records
AND ac.accounting_company_id = ISNULL(@accountingCompanyID, ac.accounting_company_id)
AND v.field_indicator_1099_id = @nonExempt
GROUP BY v.vendor_id, ac.accounting_company_id

/*****************************************************************************************************
-Get total payment amount by TIN and accounting_company_id
-Multiple vendors can have the same TIN
-Only getting the required group by data and payment total at this time
to avoid any totalling issues from potential bad extraneous data ie address, etc...
-Get nothing here if @vendorID was passed in.
*****************************************************************************************************/
INSERT INTO #payment_information
(	 vendor_tax_id,
accounting_company_id,
box_one_rents,
box_three_other_income,
box_four_federal_income_withheld,
box_six_medical_and_healthcare_payments,
box_seven_nonemployee_compensation,
box_fourteen_gross_proceeds_paid_to_an_attorney,
box_fifteen_a_section_409a_deferrals,
box_fifteen_b_section_409a_income
)
SELECT  v.federal_ein,
ac.accounting_company_id,
SUM(ISNULL(pay.tax_1099_rents_amount, 0)),
SUM(ISNULL(pay.tax_1099_other_amount, 0)),
SUM(ISNULL(pay.tax_1099_federal_amount, 0)),
SUM(ISNULL(pay.tax_1099_medical_amount, 0)),
SUM(ISNULL(pay.tax_1099_compensation_amount, 0)),
SUM(ISNULL(pay.tax_1099_attorney_amount, 0)),
SUM(ISNULL(pay.tax_1099_deferrals_amount, 0)),
SUM(ISNULL(pay.tax_1099_income_amount, 0))
FROM dbo.accounting_transaction_ap AS trx
INNER JOIN dbo.accounting_transaction_ap_payment_detail as pay
ON trx.accounting_transaction_ap_id = pay.accounting_transaction_ap_id
INNER JOIN dbo.accounting_company AS ac
ON trx.accounting_company_id = ac.accounting_company_id
INNER JOIN dbo.vendor AS v
ON trx.vendor_id = v.vendor_id
WHERE pay.accounting_payment_status_id = @paidStatusID
AND trx.accounting_transaction_ap_type_id = @paymentTypeID
AND v.federal_ein IS NOT NULL
AND (pay.check_date <= @statementEndDate OR @statementEndDate is NULL)
AND (pay.check_date >= @statementStartDate OR @statementStartDate IS NULL)
AND @vendorID IS NULL --don't search by both vendorID and TIN. TIN can span multiple vendors
AND ac.accounting_company_id = ISNULL(@accountingCompanyID, ac.accounting_company_id)
AND v.field_indicator_1099_id = @nonExempt
AND (v.federal_ein = @vendorTIN OR @vendorTIN IS NULL)
GROUP BY v.federal_ein, ac.accounting_company_id

/*****************************************************************************************************
All box amounts need to be the minimum amount exept for box four, federal withholding.
*****************************************************************************************************/
UPDATE #payment_information SET box_one_rents = 0 WHERE box_one_rents < @minimumPaidAmount

UPDATE #payment_information SET box_three_other_income = 0 WHERE box_three_other_income < @minimumPaidAmount

UPDATE #payment_information SET box_six_medical_and_healthcare_payments = 0 WHERE box_six_medical_and_healthcare_payments < @minimumPaidAmount

UPDATE #payment_information SET box_seven_nonemployee_compensation = 0 WHERE box_seven_nonemployee_compensation < @minimumPaidAmount

UPDATE #payment_information SET box_fourteen_gross_proceeds_paid_to_an_attorney = 0 WHERE box_fourteen_gross_proceeds_paid_to_an_attorney < @minimumPaidAmount

UPDATE #payment_information SET box_fifteen_a_section_409a_deferrals = 0 WHERE box_fifteen_a_section_409a_deferrals < @minimumPaidAmount

UPDATE #payment_information SET box_fifteen_b_section_409a_income = 0 WHERE box_fifteen_b_section_409a_income < @minimumPaidAmount


--Do not report on records that have no federal withholding and all amounts are less than the minimum
DELETE FROM #payment_information
WHERE box_one_rents < @minimumPaidAmount
AND	  box_three_other_income < @minimumPaidAmount
AND	  box_four_federal_income_withheld <= 0
AND	  box_six_medical_and_healthcare_payments < @minimumPaidAmount
AND	  box_seven_nonemployee_compensation < @minimumPaidAmount
AND	  box_fourteen_gross_proceeds_paid_to_an_attorney < @minimumPaidAmount
AND	  box_fifteen_a_section_409a_deferrals < @minimumPaidAmount
AND	  box_fifteen_b_section_409a_income < @minimumPaidAmount

/*****************************************************************************************************
-Get accounting company information
*****************************************************************************************************/
UPDATE #payment_information
SET accounting_company_ud = ac.accounting_company_ud
FROM accounting_company as ac
WHERE ac.accounting_company_id = #payment_information.accounting_company_id


/*****************************************************************************************************
-Get additional vendor information by vendor_id for vendors without a TIN
-No need to look for a single address per multiple vendors (Use 1099 checkbox)
since that functionality is for different vendors with same TIN
*****************************************************************************************************/
UPDATE payInfo
SET vendor_pay_to_name = payto.vendor_pay_to_nm,
vendor_address_1 = a.address_1,
vendor_address_2 = a.address_2,
vendor_city = l.city,
vendor_state = s.state_ud,
vendor_postal_code = l.postal_code,
foreign_address_indicator = v.foreign_address,
vendor_tax_id_type = t.tax_identification_number_type_ud
FROM #payment_information as payInfo
INNER JOIN dbo.vendor as v
ON payInfo.vendor_id = v.vendor_id
AND payInfo.vendor_tax_id IS NULL
LEFT JOIN tax_identification_number_type as t --might not make sense to return type for a non-existent TIN, but returning it if selected anyhow for QA.
on v.tax_identification_number_type_id = t.tax_identification_number_type_id
LEFT JOIN dbo.vendor_pay_to AS payTo
ON v.vendor_id = payTo.vendor_id
LEFT JOIN dbo.[address] AS a
ON payTo.address_id = a.address_id
LEFT JOIN dbo.locale AS l
ON a.locale_id = l.locale_id
LEFT JOIN dbo.country AS c
ON l.country_id = c.country_id
LEFT JOIN dbo.[state] AS s
ON l.state_id = s.state_id

/*****************************************************************************************************
Get additional vendor information by TIN
Get one that has use_for_1099 set to true - there can be multiple vendors with the same TIN
*****************************************************************************************************/
UPDATE #payment_information
SET vendor_pay_to_name = payto.vendor_pay_to_nm,
vendor_address_1 = a.address_1,
vendor_address_2 = a.address_2,
vendor_city = l.city,
vendor_state = s.state_ud,
vendor_postal_code = l.postal_code,
foreign_address_indicator = v.foreign_address,
vendor_tax_id_type = t.tax_identification_number_type_ud
FROM dbo.vendor as v
LEFT JOIN dbo.vendor_pay_to AS payTo
ON v.vendor_id = payTo.vendor_id
AND payTo.use_for_1099 = 1
LEFT JOIN tax_identification_number_type as t
on v.tax_identification_number_type_id = t.tax_identification_number_type_id
LEFT JOIN dbo.[address] AS a
ON payTo.address_id = a.address_id
LEFT JOIN dbo.locale AS l
ON a.locale_id = l.locale_id
LEFT JOIN dbo.country AS c
ON l.country_id = c.country_id
LEFT JOIN dbo.[state] AS s
ON l.state_id = s.state_id
WHERE v.federal_ein = #payment_information.vendor_tax_id

SELECT  ISNULL(accounting_company_ud, '') as AccountingCompanyUd,
ISNULL(vendor_tax_id, '') as PayeeTaxIdentificationNumber,
ISNULL(vendor_tax_id_type, '') as PayeeTaxIdType,
ISNULL(LEFT(vendor_pay_to_name, 40), '') AS FirstPayeeNameLine, --IRS PUB 1220 - is 40 chars
CASE WHEN LEN(vendor_pay_to_name) > 40
THEN SUBSTRING(vendor_pay_to_name, 41, 40)
ElSE ''
END as SecondPayeeNameLine, --IRS PUB 1220 - is 40 chars. DB is 100, so will be truncated if over 80 total
foreign_address_indicator as ForeignCountryIndicator,
ISNULL(vendor_address_1, '') as PayeeAddress1,
ISNULL(vendor_address_2, '') as PayeeAddress2,
ISNULL(vendor_city, '') as PayeeCity,
ISNULL(vendor_state, '') as PayeeState,
ISNULL(vendor_postal_code, '') as PayeeZipcode,
CAST(ROUND(box_one_rents, 2) as decimal(12, 2)) as BoxOneRents,
CAST(ROUND(box_three_other_income, 2) as decimal(12, 2)) as BoxThreeOtherIncome,
CAST(ROUND(box_four_federal_income_withheld, 2) as decimal(12, 2)) as BoxFourFederalIncomeWithheld,
CAST(ROUND(box_six_medical_and_healthcare_payments, 2) as decimal(12, 2)) as BoxSixMedicalAndHealthcarePayments,
CAST(ROUND(box_seven_nonemployee_compensation, 2) as decimal(12, 2)) as BoxSevenNonemployeeCompensation,
CAST(ROUND(box_fourteen_gross_proceeds_paid_to_an_attorney, 2) as decimal(12, 2)) as BoxFourteenGrossProceedsToAnAttorney,
CAST(ROUND(box_fifteen_a_section_409a_deferrals, 2) as decimal(12, 2)) as BoxFifteenASection409aDeferrals,
CAST(ROUND(box_fifteen_b_section_409a_income, 2) as decimal(12, 2)) as BoxFifteenBSection409aIncome
FROM #payment_information

DROP TABLE #payment_information
GO
