USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/21/2012  CKnobloch		1.0		new

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to load data for the form  "frmAddOnProcedureCodeSchedule".
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_load]
(
@procedure_code_add_on_schedule_id			INT
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
procedure_code_add_on_schedule_id
,procedure_code_add_on_schedule_ud
,description

FROM procedure_code_add_on_schedule

WHERE procedure_code_add_on_schedule_id = @procedure_code_add_on_schedule_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
