USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[get_paid_payments_for_lookback_period]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================================================
-- Retrieve all payment id records for a lookback period.
-- Added clause to only return payments that have been assigned a check number.
--  	AND detail.check_ach_reference IS NOT NULL 
-- Added clause to only return payments that have not been voided and put in a look-back period
--      AND atp.void_date is not null
--      AND atp.transaction_date > DATEADD(day,DATEDIFF(day,0,GETDATE())-30,0)  --30 day look-back period to only pull payments in last 30 days.
-- Added clause to only return payments where the check has successfully printed.  This enables the check # to show in the Claim line Accounting Information form in the UI.
--      AND detail.accounting_check_print_run_id IS NOT NULL
--  NOTE that the TPM export agreement should still be configured to exclude previously exported payments/checks.
--You can add the additional criteria to limit by Vendor or by specific Check # using the variables and clauses that are commented out.
-- =========================================================================================
CREATE PROCEDURE [dbo].[get_paid_payments_for_lookback_period] 
--	@vendor_ud				nvarchar(50) = NULL
--	@checknum				int = NULL
    @placeholder            int = NULL

AS
BEGIN
 
		SELECT atp.[accounting_transaction_ap_id]
			  ,atp.[accounting_transaction_ap_ud]
		FROM [accounting_transaction_ap] atp
		INNER JOIN accounting_transaction_ap_type att
			ON atp.accounting_transaction_ap_type_id = att.accounting_transaction_ap_type_id
		INNER JOIN accounting_transaction_ap_payment_detail detail
			ON atp.accounting_transaction_ap_id = detail.accounting_transaction_ap_id
		LEFT OUTER JOIN vendor
			ON atp.vendor_id = vendor.vendor_id 
		WHERE 	att.golden_key = 'Payment'
--		AND detail.check_ach_reference = @checknum
		AND detail.check_ach_reference IS NOT NULL
		AND detail.accounting_check_print_run_id IS NOT NULL
		--AND vendor.vendor_ud =  @vendor_ud
		AND atp.void_date is null  --payment has not been voided
		AND atp.transaction_date > DATEADD(day,DATEDIFF(day,0,GETDATE())-30,0) 
END
GO
