USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_framework_valid_choice_by_episode_level_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 09/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/05/2005	HiepNguyen	1.0		Created
11/08/2005	HiepNguyen	1.1		only consider valid choices is belong to "Episode" level
03/15/2006	Trinh Le	1.2            	only load one column for valid choice and banded table
11/07/2006	Hiep Nguyen	1.3		Applied Yes/No
03/16/2007	Tinh Do		1.4     		Add 	   benefit_class.ui_engine_data_type_id
12/2/2011 cknobloch     1.5		RT 	2103 - never returning a choice list with only one choice.
08/19/2013	amortensen	1.6		RT:4730 - Added case when Percent, and format value
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single plx_dd_benefit_framework_valid_choice_by_episode_level from the benefit_framework_valid_choice table.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_benefit_framework_valid_choice_by_episode_level_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
distinct
benefit_class.ui_engine_data_type_id
,benefit_framework_valid_choice.benefit_framework_valid_choice_id
, CASE WHEN benefit_framework_valid_choice.valid_choice IS NOT NULL THEN
CASE WHEN uidt.ui_engine_data_type_ud = 'Percent' THEN
CAST((CAST(benefit_framework_valid_choice.valid_choice AS numeric(19,4)) * 100.0) AS VARCHAR)
ELSE
benefit_framework_valid_choice.valid_choice
END
ELSE yes_no.yes_no_ud
END AS valid_choice
,benefit_coverage_rules.benefit_coverage_rules_id as benefit_coverage_rule


FROM   benefit_framework_valid_choice
LEFT JOIN yes_no ON yes_no.yes_no_id = benefit_framework_valid_choice.yes_no_id
inner join benefit_framework_choice_list  ON benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_framework_valid_choice.benefit_framework_choice_list_id
inner JOIN benefit_framework_benefit_class ON  benefit_framework_choice_list.benefit_framework_benefit_class_id = benefit_framework_benefit_class.benefit_framework_benefit_class_id
INNER JOIN benefit_class ON benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
inner join benefit_coverage_rules ON benefit_coverage_rules.benefit_framework_choice_list_id = benefit_framework_choice_list.benefit_framework_choice_list_id
inner join resolve_choice_list_at ON resolve_choice_list_at.resolve_choice_list_at_id = benefit_framework_choice_list.resolve_choice_list_at_id
INNER JOIN ui_engine_data_type uidt ON benefit_class.ui_engine_data_type_id = uidt.ui_engine_data_type_id
WHERE
resolve_choice_list_at.golden_key = N'EPISODE'
AND (SELECT COUNT(benefit_framework_valid_choice_id)
FROM 	benefit_framework_valid_choice bfvc1
WHERE	bfvc1.benefit_framework_choice_list_id = benefit_framework_choice_list.benefit_framework_choice_list_id) >= 1

ORDER BY valid_choice

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
