USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_provider_name_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan		1.0		Created

--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to load provider name data for claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE   PROCEDURE [dbo].[plx_claim_provider_name_info_load]
(
@provider_id        INT = NULL
)
AS
BEGIN

SELECT
pn.provider_id
, pn.name_last as provider_name_last
, pn.name_first as provider_name_first
, pn.name_middle as provider_name_middle
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name
, isnull(pn.name_first, '') + ' ' + isnull(pn.name_middle, '') AS provider_first_middle_name
, ppn.provider_network_id
, pnet.provider_network_ud
FROM dbo.provider_name pn
LEFT JOIN dbo.provider_provider_network ppn ON ppn.provider_id = @provider_id
LEFT JOIN dbo.provider_network pnet ON pnet.provider_network_id = ppn.provider_network_id
WHERE pn.provider_id = @provider_id  AND pn.is_primary = 1
END
GO
