USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_fee_schedule_rule_not_covered_modifiers_1]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_get_fee_schedule_rule_not_covered_modifiers_1] (
@dateOfService DATETIME = NULL,
@procedureCodeId INT = NULL,
@feeScheduleRuleId INT = NULL
)
AS
--INTERNAL VARIABLES
DECLARE @procedureCodeUd NVARCHAR(50) = NULL,
@procedureCodeTypeId INT = NULL,
@SP_SUCCESS INT

SET @SP_SUCCESS = 0

SELECT @procedureCodeUd = pc.procedure_code_ud,
@procedureCodeTypeId = pc.procedure_code_type_id
FROM procedure_code pc
WHERE pc.procedure_code_id = @procedureCodeId;

WITH Exclude (fee_schedule_rule_not_covered_modifier_id)
AS (
SELECT fee_schedule_rule_not_covered_modifier_id
FROM fee_schedule_rule_not_covered_modifier fsrncm
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcgpc.procedure_code_group_id = fsrncm.procedure_code_group_id
INNER JOIN procedure_code bpc
ON bpc.procedure_code_id = pcgpc.begin_procedure_code_id
AND (
bpc.procedure_code_type_id = @procedureCodeTypeId
OR bpc.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc
ON epc.procedure_code_id = pcgpc.end_procedure_code_id
AND (
epc.procedure_code_type_id = @procedureCodeTypeId
OR epc.procedure_code_type_id IS NULL
)
WHERE @procedureCodeUd BETWEEN bpc.procedure_code_ud
AND epc.procedure_code_ud -- procedure code 1
AND pcgpc.is_excluded = 1
AND fsrncm.fee_schedule_rule_id = @feeScheduleRuleId
AND @dateOfService >= pcgpc.effective_from
AND (
@dateOfService <= pcgpc.effective_thru
OR pcgpc.effective_thru IS NULL
)
),
FeeScheduleRuleNotCoveredModifiers (
fee_schedule_rule_not_covered_modifier_id,
fee_schedule_rule_id,
procedure_code_type_id,
starting_procedure_code_id,
ending_procedure_code_id,
procedure_code_group_id,
procedure_code_type_2_id,
starting_procedure_code_2_id,
ending_procedure_code_2_id,
procedure_code_group_2_id,
modifier,
modifier_set_id,
result_code_override_id,
effective_from,
effective_thru
)
AS (
SELECT fee_schedule_rule_not_covered_modifier_id,
fee_schedule_rule_id,
procedure_code_type_id,
starting_procedure_code_id,
ending_procedure_code_id,
procedure_code_group_id,
procedure_code_type_2_id,
starting_procedure_code_2_id,
ending_procedure_code_2_id,
procedure_code_group_2_id,
modifier,
modifier_set_id,
result_code_override_id,
effective_from,
effective_thru
FROM fee_schedule_rule_not_covered_modifier fsrncm
WHERE fsrncm.fee_schedule_rule_id = @feeScheduleRuleId
AND @dateOfService >= fsrncm.effective_from
AND (
@dateOfService <= fsrncm.effective_thru
OR fsrncm.effective_thru IS NULL
)
AND fsrncm.starting_procedure_code_2_id IS NULL
AND fsrncm.ending_procedure_code_2_id IS NULL
AND fsrncm.procedure_code_group_2_id IS NULL
)
SELECT fsrncm.*
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
INNER JOIN (
-- Range
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code spc1
ON spc1.procedure_code_id = fsrncm.starting_procedure_code_id
AND (
spc1.procedure_code_type_id = @procedureCodeTypeId
OR spc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = fsrncm.ending_procedure_code_id
AND (
epc1.procedure_code_type_id = @procedureCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
WHERE @procedureCodeUd BETWEEN spc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1

UNION

-- ProcedureCodeGroup
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcgpc.procedure_code_group_id = fsrncm.procedure_code_group_id
INNER JOIN procedure_code bpc
ON bpc.procedure_code_id = pcgpc.begin_procedure_code_id
AND (
bpc.procedure_code_type_id = @procedureCodeTypeId
OR bpc.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc
ON epc.procedure_code_id = pcgpc.end_procedure_code_id
AND (
epc.procedure_code_type_id = @procedureCodeTypeId
OR epc.procedure_code_type_id IS NULL
)
WHERE @procedureCodeUd BETWEEN bpc.procedure_code_ud
AND epc.procedure_code_ud -- procedure code 1
AND pcgpc.is_excluded = 0
AND @dateOfService >= pcgpc.effective_from
AND (
@dateOfService <= pcgpc.effective_thru
OR pcgpc.effective_thru IS NULL
)
) r
ON r.fee_schedule_rule_not_covered_modifier_id = fsrncm.fee_schedule_rule_not_covered_modifier_id
WHERE fsrncm.fee_schedule_rule_not_covered_modifier_id NOT IN (
SELECT fee_schedule_rule_not_covered_modifier_id
FROM Exclude
)

RETURN @SP_SUCCESS
GO
