USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_rules_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 09/15/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2005	HungTNguyen	1.0		Created
08/24/2006	HungTNguyen	1.0		Modified
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an benefit coverage rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_coverage_rules_load]
(
@benefit_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_coverage_rules.benefit_coverage_rules_id
,benefit_coverage_rules.benefit_coverage_rules_value_type_id
,benefit_coverage_rules.benefit_framework_choice_list_id
,benefit_framework_choice_list.benefit_framework_choice_list_ud
,CASE bcrvt.golden_key
WHEN 'SINGLE_VALUE'
THEN
case when not  benefit_coverage_rules.yes_no_id is null then
yn.yes_no_ud
else
benefit_coverage_rules.single_value
end
WHEN 'TIERED_COINSURANCE'
THEN
tc.tiered_coinsurance_ud
ELSE
benefit_framework_choice_list.benefit_framework_choice_list_ud
END as value
,benefit_coverage_rules.tiered_coinsurance_id
,tc.tiered_coinsurance_ud
,benefit_coverage_rules.yes_no_id
,benefit_coverage_rules.single_value
,benefit_coverage_rules.effective_from
,benefit_coverage_rules.effective_thru
,benefit_coverage_rules.benefit_id
,benefit_coverage_rules.modified_date

FROM benefit_coverage_rules
left join benefit_framework_choice_list  ON benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
left join benefit_coverage_rules_value_type bcrvt on benefit_coverage_rules.benefit_coverage_rules_value_type_id = bcrvt.benefit_coverage_rules_value_type_id
left join tiered_coinsurance tc on benefit_coverage_rules.tiered_coinsurance_id = tc.tiered_coinsurance_id
left join yes_no yn on benefit_coverage_rules.yes_no_id = yn.yes_no_id
WHERE benefit_coverage_rules.benefit_id = @benefit_id

ORDER BY
CASE WHEN benefit_coverage_rules.effective_from IS NULL THEN 0 ELSE 1 END , benefit_coverage_rules.effective_from DESC
,CASE WHEN benefit_coverage_rules.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_coverage_rules.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
