USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_inpatient_detail_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
Jan 11 2006  1:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/08/2006	Tinh Do		1.1		Modified
12/20/06	tinhdo		1.2		modify order
01/13/2008	Vjella		2.0	updated with carve out detail changes in fee_schedule_inpatient_detail table
09/07/2013	eponomareff	2.1		added code_icd_version_id (for first procedure code, usually REV) and procedure_code_icd_version_id (for second procedure code, usually ICD)
10/20/2015  LHendrix    2.2       Include start px type and category with expectation that subsequent calls to two SPs can be eliminated
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:
Reads a single fee_schedule_inpatient from the fee_schedule_inpatient_detail table.
This stored procedure is used for the Fee Schedule Information grid
in the Fee Schedule Inpatient form
--
REQUIREMENTS:
--
INPUTS:
fee_schedule_inpatient_detail_id - Key to fee_schedule_inpatient_detail table, identifies a single stored fee_schedule_inpatient.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_fee_schedule_inpatient_detail_load]
(
@fee_schedule_id	Int =null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_inpatient_detail.fee_schedule_inpatient_detail_id
,fee_schedule_inpatient_detail.criteria_id
,criteria.criteria_ud
,fee_schedule_inpatient_detail.code_type_id
,code_type.procedure_code_type_ud as code_type_ud
,fee_schedule_inpatient_detail.code_icd_version_id
,code_icd_version.procedure_code_icd_version_ud as code_icd_version_ud
,code_type.golden_key as code_type_gk
,fee_schedule_inpatient_detail.starting_code_id
,starting_code.procedure_code_ud as starting_code_ud
,fee_schedule_inpatient_detail.ending_code_id
,ending_code.procedure_code_ud as ending_code_ud
,fee_schedule_inpatient_detail.procedure_code_type_id
,procedure_code_type.procedure_code_type_ud
,procedure_code_type.golden_key as procedure_code_type_gk
,fee_schedule_inpatient_detail.procedure_code_icd_version_id
,procedure_code_icd_version.procedure_code_icd_version_ud
,fee_schedule_inpatient_detail.starting_procedure_code_id
,starting_procedure_code.procedure_code_ud as starting_procedure_code_ud
,fee_schedule_inpatient_detail.ending_procedure_code_id
,ending_procedure_code.procedure_code_ud as ending_procedure_code_ud
,fee_schedule_inpatient_detail.modifier
,fee_schedule_inpatient_detail.fee_schedule_payment_method_id
,fee_schedule_payment_method.fee_schedule_payment_method_ud
,fee_schedule_payment_method.golden_key as fee_schedule_payment_method_gk
,fee_schedule_inpatient_detail.payment_value
,fee_schedule_inpatient_detail.anesthesia_time_value
,fee_schedule_inpatient_detail.anesthesia_base_standard_anesthesia_type_id
,fee_schedule_inpatient_detail.anesthesia_minute_standard_anesthesia_type_id
,fee_schedule_inpatient_detail.effective_from
,fee_schedule_inpatient_detail.effective_thru
,fee_schedule_inpatient_detail.is_balance_billable
,fee_schedule_inpatient_detail.pend_for_review
,fee_schedule_inpatient_detail.hold_for_payment

,start_procedure_code_type.golden_key as procedure_code_type_gk
,pcc.procedure_code_category_nm    -- Check to see if it's 'ANES'

FROM fee_schedule_inpatient_detail
LEFT JOIN criteria  ON criteria.criteria_id = fee_schedule_inpatient_detail.criteria_id
LEFT JOIN procedure_code_type as code_type   ON code_type.procedure_code_type_id = fee_schedule_inpatient_detail.code_type_id
LEFT JOIN procedure_code_icd_version as code_icd_version ON code_icd_version.procedure_code_icd_version_id = fee_schedule_inpatient_detail.code_icd_version_id
LEFT JOIN procedure_code as starting_code  ON starting_code.procedure_code_id = fee_schedule_inpatient_detail.starting_code_id
LEFT JOIN procedure_code as ending_code  ON ending_code.procedure_code_id = fee_schedule_inpatient_detail.ending_code_id
LEFT JOIN procedure_code_type  ON procedure_code_type.procedure_code_type_id = fee_schedule_inpatient_detail.procedure_code_type_id
LEFT JOIN procedure_code_icd_version ON procedure_code_icd_version.procedure_code_icd_version_id = fee_schedule_inpatient_detail.procedure_code_icd_version_id

LEFT JOIN procedure_code as starting_procedure_code  ON starting_procedure_code.procedure_code_id = fee_schedule_inpatient_detail.starting_procedure_code_id
left JOIN procedure_code_type as start_procedure_code_type
ON start_procedure_code_type.procedure_code_type_id = starting_procedure_code.procedure_code_type_id
left join procedure_code_category pcc
on starting_procedure_code.procedure_code_category_id=pcc.procedure_code_category_id

LEFT JOIN procedure_code as ending_procedure_code  ON ending_procedure_code.procedure_code_id = fee_schedule_inpatient_detail.ending_procedure_code_id
LEFT JOIN fee_schedule_payment_method  ON fee_schedule_payment_method.fee_schedule_payment_method_id = fee_schedule_inpatient_detail.fee_schedule_payment_method_id
WHERE fee_schedule_inpatient_detail.fee_schedule_id = @fee_schedule_id
ORDER BY CASE WHEN fee_schedule_inpatient_detail.effective_from IS NULL THEN 0 ELSE 1 END , fee_schedule_inpatient_detail.effective_from DESC,
CASE WHEN fee_schedule_inpatient_detail.effective_thru IS NULL THEN 0 ELSE 1 END , fee_schedule_inpatient_detail.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
