USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_location_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cluu
DATE: 11/22/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/22/2005	cluu			1.0
12/22/2005  Lamnguyen       1.1  	add  c.country_id
3/1/2006    HungTNguyen     1.2    	added  county_id, county_ud
03/27/2006	n8nguyen		1.3		Add select primary_id to load for plx_location_code_load
04/11/2006	tinhdo			1.4		Apply change DB: delete County
05/12/2009	David Slayton	1.5		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.6		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.6
--
DESCRIPTION:
The procedure is used to find the location codes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:
@postal_code			nvarchar(35) = NULL
,@city				nvarchar(35) = NULL
,@county			nvarchar(35) = NULL
,@state_id			int = NULL
,@country_id			int = NULL
,@locale_source_id 		int = NULL
,@show_exact_matches		bit = NULL
--
OUTPUTS:
a location record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                  PROCEDURE [dbo].[plx_find_location_code_load]
(
@get_column_headers			BIT = 0
,@postal_code			NVARCHAR(35) = NULL
,@city				NVARCHAR(35) = NULL
,@county			NVARCHAR(35) = NULL
,@state_ud			NVARCHAR(50) = NULL
,@country_ud			NVARCHAR(50) = NULL
,@locale_source_id 		NVARCHAR(50) = NULL
,@show_exact_matches		BIT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 		INT
,@SqlQuery		VARCHAR(8000)
,@SqlCondition		VARCHAR(8000)
,@SqlOrder		NVARCHAR(1000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''

--
IF @show_exact_matches = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix =  ''''
END
ELSE
BEGIN
SET @Prefix =  'LIKE N'''
SET @Suffix =  '%'''

END

SET @SqlQuery =
'SELECT   DISTINCT TOP (dbo.fn_results_limit())
l.locale_id, l.postal_code,c.country_id
, l.city, l.county, s.state_id,s.state_ud
, c.country_ud, ls.locale_source_id
, l.county as county_ud
, ls.locale_source_ud
, ISNULL(l.city, '''')
+
CASE ISNULL(l.county, '''')
WHEN '''' THEN ''''
ELSE '', '' + l.county
END
+
CASE ISNULL(s.state_ud, '''')
WHEN '''' THEN ''''
ELSE '', '' + s.state_ud
END
+
CASE ISNULL(c.country_ud, '''')
WHEN '''' THEN ''''
ELSE '', '' + c.country_ud
END as location
FROM locale l
LEFT JOIN state s ON l.state_id = s.state_id
LEFT JOIN country c ON l.country_id = c.country_id
LEFT JOIN locale_source ls ON l.locale_source_id = ls.locale_source_id
'

--IF @postal_code IS NOT NULL AND (REPLACE(@postal_code,'*', '') <> '')
IF (dbo.plx_fn_need_find_on_criteria(@postal_code, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(l.postal_code, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@postal_code,@show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@city, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(l.city, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@city,@show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@county, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(l.county, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@county,@show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@state_ud, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(s.state_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@state_ud,@show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@country_ud, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(c.country_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@country_ud,@show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@locale_source_id, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND ls.locale_source_id = ' + CONVERT(varchar(10), @locale_source_id)

SET @SqlOrder = ' ORDER BY postal_code, city ASC '
--print (@SqlQuery + @SqlcONDITION + @SqlOrder)
exec (@SqlQuery + @SqlcONDITION + @SqlOrder)

--
RETURN @SP_SUCCESS
--
GO
