USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alt_course_dental_restorative_bundling_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/27/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/27/2010	eponomareff		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

DESCRIPTION:

Used to save a set of Dental Restorative Bundling Rules to apply in the context
of Alternate Course of Treatment
Used by grid: grdRestorativeBundlingRule
On form:  frmDentalAlternatePXTreatmentMap

NOTE - the bundling set column is read only, and all the values are loaded.
They are enabled if and only if the user checks them enabled.
(So, we really only need to store the enabled rows).

******************************/

CREATE   PROCEDURE [dbo].[plx_alt_course_dental_restorative_bundling_rule_save]
(
@alternate_course_dental_restorative_bundling_set_id    INT = NULL   OUTPUT
,@alternate_course_of_treatment_map_id                    INT
,@dental_restorative_bundling_set_id                      INT
,@enabled                                                 BIT = 0
,@active                                                  BIT = 1
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

-- NOTE - you cannot insert values into this grid currently, but leaving this
--        in case current functionality is changed to allow inserts

IF ISNULL(@alternate_course_dental_restorative_bundling_set_id, 0) = 0
BEGIN
INSERT INTO alternate_course_dental_restorative_bundling_set
(
alternate_course_of_treatment_map_id
,dental_restorative_bundling_set_id
,[enabled]
,active
)
VALUES
(@alternate_course_of_treatment_map_id
,@dental_restorative_bundling_set_id
,@enabled
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @alternate_course_dental_restorative_bundling_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(SELECT * FROM alternate_course_dental_restorative_bundling_set
WHERE
alternate_course_dental_restorative_bundling_set_id = @alternate_course_dental_restorative_bundling_set_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE alternate_course_dental_restorative_bundling_set
SET
alternate_course_of_treatment_map_id    = @alternate_course_of_treatment_map_id
,dental_restorative_bundling_set_id      = @dental_restorative_bundling_set_id
,[enabled]                               = @enabled
,active                                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
alternate_course_dental_restorative_bundling_set_id = @alternate_course_dental_restorative_bundling_set_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
