USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_by_family_eligibility_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Aug 31 2005  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/18/2005	Tinh Do			Created
08/18/2008	David Slayton	1.0		Removed life_insurance_coverage_unit column.
04/26/2012	eponomareff		1.1		effective date should be greatest of the following:
benefit period eff from, enrollment eff from, member birth date (newborns)


CURRENT_VERSION: 1.1
--
DESCRIPTION:
Get information of family member in Family on Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_by_family_eligibility_member_load]
(
@family_eligibility_id INT = null
,@benefit_contract_period_benefit_plan_id int = null
,@family_eligibility_member_id int = null
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@benefit_contract_period_effective_from datetime,
@default_eligibility_level_key nvarchar(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
SELECT @benefit_contract_period_effective_from = bcp.effective_from,
@default_eligibility_level_key = case
when bpt.golden_key = 'Base Plan' then 'PRIMARY'
when bpt.golden_key = 'Supplemental Plan' then 'SUPPLEMENTAL'
when bpt.golden_key = 'Rider Plan' then 'RIDER'
else 'PRIMARY' end --Default to Primary if an appropriate type is not found
FROM benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan_type bpt
ON bcpbp.benefit_plan_type_id = bpt.benefit_plan_type_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
--

SELECT distinct 0 as 'family_eligibility_member_benefit_plan_id',family_eligibility_member.family_eligibility_member_id
,@benefit_contract_period_benefit_plan_id as benefit_contract_period_benefit_plan_id
,'' as 'member_eligibility_ud'
,(SELECT eligibility_level_id FROM eligibility_level
WHERE UPPER(eligibility_level.golden_key) = @default_eligibility_level_key) AS 'eligibility_level_id'
,dbo.plx_ConcatenateName(name_last,name_first,name_middle,NULL)AS member_name
,family_eligibility_member.relationship_to_insured_id ,relationship_to_insured.relationship_to_insured_ud
-- effective date should be greatest of the following dates:
--		benefit_contract_period : effective from
--		enrollment : effective from
--		member: birth date
,effective_from =
CASE
WHEN @benefit_contract_period_effective_from IS NULL
OR family_eligibility.effective_from >= @benefit_contract_period_effective_from
THEN
CASE
WHEN family_eligibility.effective_from >= member.birth_date THEN family_eligibility.effective_from
ELSE member.birth_date
END
WHEN family_eligibility.effective_from < @benefit_contract_period_effective_from
THEN
CASE
WHEN @benefit_contract_period_effective_from >= member.birth_date THEN @benefit_contract_period_effective_from
ELSE member.birth_date
END
END
, family_eligibility.effective_thru
,cast(0 as bit) as 'never_under_coverage'
,member.member_id
,benefit_contract_period_benefit_plan.benefit_plan_id
,benefit_contract_period_benefit_plan.benefit_contract_period_id

-- FROM family_eligibility_member
-- 	INNER JOIN member ON family_eligibility_member.member_id = member.member_id
-- 		AND family_eligibility_member.family_eligibility_id = @family_eligibility_id
-- 	INNER JOIN family_eligibility ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
-- 	INNER JOIN member_name ON  member.member_id  = member_name.member_id
-- 	LEFT JOIN relationship_to_insured ON family_eligibility_member.relationship_to_insured_id =relationship_to_insured.relationship_to_insured_id
FROM         dbo.benefit_contract_period_benefit_plan RIGHT OUTER JOIN
dbo.benefit_contract_period ON
dbo.benefit_contract_period_benefit_plan.benefit_contract_period_id = dbo.benefit_contract_period.benefit_contract_period_id RIGHT OUTER JOIN
dbo.family_eligibility_member INNER JOIN
dbo.member ON dbo.family_eligibility_member.member_id = dbo.member.member_id AND
dbo.family_eligibility_member.family_eligibility_id = @family_eligibility_id INNER JOIN
dbo.family_eligibility ON dbo.family_eligibility_member.family_eligibility_id = dbo.family_eligibility.family_eligibility_id INNER JOIN
dbo.member_name ON dbo.member.member_id = dbo.member_name.member_id ON
dbo.benefit_contract_period.benefit_contract_id = dbo.family_eligibility.benefit_contract_id LEFT OUTER JOIN
dbo.relationship_to_insured ON
dbo.family_eligibility_member.relationship_to_insured_id = dbo.relationship_to_insured.relationship_to_insured_id

WHERE family_eligibility_member.family_eligibility_member_id =@family_eligibility_member_id
AND benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id =@benefit_contract_period_benefit_plan_id
--
RETURN @SP_SUCCESS
--
GO
