USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_principle_plan]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  13 2005  7:17PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/13/2005	Thuy Nguyen		1.0	Created
12/26/2007	Vishwa Jella		1.1	Updated Fields To Display Benefit_Plan_ID
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify Benefit Plan for Benefit Setup Errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_verify_principle_plan]
(
@benefit_contract_period_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT  bcpbp.benefit_contract_period_benefit_plan_id, bcpbp.benefit_plan_id, benefit_plan.benefit_plan_ud
FROM 	benefit_contract_period_benefit_plan AS bcpbp INNER JOIN
benefit_plan ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
WHERE  (bcpbp.benefit_contract_period_id = @benefit_contract_period_id) AND (bcpbp.principle_plan = 0)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
