USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_identifier_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
2009-01-16
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Contact Identifiers"
in frmContacts form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_contact_identifier_load]

(
@contact_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ci.contact_identifier_id     AS   contact_identifier_id
,ci.contact_identifier_ud    AS   contact_identifier_ud
,ci.contact_id               AS   contact_id
,ci.identifier_type_id       AS   identifier_type_id
,mit.member_id_type_ud       AS   identifier_type_ud
,ci.modified_date

FROM contact_identifier ci
INNER JOIN member_id_type mit
ON ci.identifier_type_id = mit.member_id_type_id

WHERE ci.contact_id = @contact_id

ORDER BY identifier_type_ud

RETURN @SP_SUCCESS
--
GO
