USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_value_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
Date: 12/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/01/2005	Han Cao				Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid List of Allowed Values for the Topic
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_additional_information_topic_value_delete]

(
@additional_information_topic_value_id      int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM additional_information_topic_value WHERE additional_information_topic_value_id = @additional_information_topic_value_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM additional_information_topic_value
WHERE additional_information_topic_value_id = @additional_information_topic_value_id
END
--
RETURN @SP_SUCCESS
--
GO
