USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_posthumous_claim_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 11/15/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/19/2007	Vishwa Jella	1.0		Created
--
DESCRIPTION:
Select fields from the benefit_plan table.
This stored procedure is used In Advanced Eligibility Setup form
--
REQUIREMENTS:
--
INPUTS:
benefit_plan_id - Key to benefit_plan table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_posthumous_claim_rule_load]
(
@benefit_plan_id			Int = NULL
)
AS
--
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
pend_claims_after_days
,deny_claims_after_days
FROM benefit_plan

WHERE benefit_plan_id = @benefit_plan_id
--
RETURN @SP_SUCCESS
GO
