USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_report_print_override_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mabdul/CFacey
DATE: May 20 2010 12:52PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data Report print override data for the drop down
--
REQUIREMENTS:
--
INPUTS:
report_print_override_option_ud - Key to student_status table, identifies a single stored report_print_override_option_ud.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_report_print_override_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
report_print_override_option.report_print_override_option_id
,report_print_override_option.report_print_override_option_ud


FROM report_print_override_option
order by report_print_override_option_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
