USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 10/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
10/15/2005  Trinh Le				Add more select field
10/18/2005	Mai Tran				modify search SQL for @search_in_alias, @subscriber_id, @subcriber_tax parametrr.
10/27/2005	Mai Tran
11/01/2005	Mai Tran
05/11/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
01/16/2015	AMortensen		1.5		RT:7741 reapplying fix for RT:7596 that was reverted due to incorrect commit
04/06/2015        LHendrix     1.6    RT:8072 Apply 14.2.6 changes (remove ISNULL on columns in the where clause
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Finds member based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_find_member_load]
(
@get_column_headers					BIT = 0
,@personal_ud							NVARCHAR(50) = NULL
,@member_eligibility_ud					NVARCHAR(160) = NULL
,@name_last								NVARCHAR(50) = NULL
,@name_first							NVARCHAR(50) = NULL
,@name_middle							NVARCHAR(50) = NULL
,@member_name_id						INT = NULL
,@birth_date							DATETIME = NULL
,@phone_number							NVARCHAR(50) = NULL
,@member_personal_id_value				NVARCHAR(50) = NULL
,@personal_id_type_id					INT = NULL
,@address								NVARCHAR(50) = NULL
,@postal_code							NVARCHAR(35) = NULL
,@city									NVARCHAR(35) = NULL
,@state_id								INT = NULL
,@country_id							INT = NULL
,@county								NVARCHAR(35) = NULL
,@client_id								INT = NULL
,@client_group_id						INT = NULL
,@benefit_contract_id					INT = NULL
,@family_eligibility_id					INT = NULL
,@subscriber_id							INT = NULL
,@federal_ein							NVARCHAR(50) = NULL --federal_ein
,@additional_information_topic_id		INT = NULL
,@additional_information_topic_value	NVARCHAR(50) = NULL
,@search_in_alias						BIT = 0
,@show_exact_matches					BIT	= 0

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		VARCHAR(8000)
,@SqlCondition	VARCHAR(8000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

--RT:7741 re-adding RT7596: Removed the ISNULL() check for pid.personal_id to allow the sql to make efficient use of the index
IF @personal_ud IS NOT NULL AND @personal_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND pid.personal_id ' + @Prefix + dbo.plx_EncodeStringWildCard(@personal_ud,@show_exact_matches) + @Suffix

IF @member_eligibility_ud IS NOT NULL AND @member_eligibility_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND bpfem.member_eligibility_ud ' + @Prefix + dbo.plx_EncodeStringWildCard(@member_eligibility_ud,@show_exact_matches) + @Suffix

IF @name_last IS NOT NULL AND @name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_last ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_last,@show_exact_matches) + @Suffix

IF @name_first IS NOT NULL AND @name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_first ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_first,@show_exact_matches) + @Suffix

IF @name_middle IS NOT NULL AND @name_middle <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.name_middle, ' + @Prefix + dbo.plx_EncodeStringWildCard(@name_middle,@show_exact_matches) + @Suffix

IF @member_name_id IS NOT NULL AND @member_name_id <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member_name.member_name_id  = ' + CONVERT(NVARCHAR, @member_name_id)


IF @birth_date IS NOT NULL AND @birth_date <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.member.birth_date = CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @birth_date, 101) + ''', 101) '

IF @phone_number IS NOT NULL AND @phone_number <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(member_phone_number.telephone_number, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@phone_number,@show_exact_matches) + @Suffix

IF @member_personal_id_value IS NOT NULL AND @member_personal_id_value <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'	EXISTS (SELECT 	member_personal_id.member_personal_id_id' +
'			FROM 	dbo.member_personal_id ' +
'			WHERE	member.member_id = member_personal_id.member_id ' +
' 			AND 	ISNULL(dbo.member_personal_id.id_value, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@member_personal_id_value,@show_exact_matches) + @Suffix

IF @personal_id_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.member_personal_id.member_id_type_id = ' + CONVERT(NVARCHAR, @personal_id_type_id)

SET @SqlCondition = @SqlCondition + ')'
END

IF @address IS NOT NULL AND @address <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(address.address_1 + '' '' + address.address_2, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@address,@show_exact_matches) + @Suffix

IF @postal_code IS NOT NULL AND @postal_code <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.postal_code ' + @Prefix + dbo.plx_EncodeStringWildCard(@postal_code,@show_exact_matches) + @Suffix

IF @city IS NOT NULL AND @city <> ''
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.city ' + @Prefix + dbo.plx_EncodeStringWildCard(@city,@show_exact_matches) + @Suffix

IF @state_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.state_id = ' + CONVERT(NVARCHAR, @state_id)

IF @country_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.locale.country_id = ' + CONVERT(NVARCHAR, @country_id)

IF @county IS NOT NULL AND @county <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(dbo.locale.county, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@county,@show_exact_matches) + @Suffix

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.client_group.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @benefit_contract_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.benefit_contract.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)

IF @family_eligibility_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND dbo.family_eligibility.family_eligibility_id = ' + CONVERT(NVARCHAR, @family_eligibility_id)

IF @subscriber_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND subscriber.family_eligibility_member_benefit_contract_period_benefit_plan_id = ' + CONVERT(NVARCHAR, @subscriber_id)

IF @federal_ein IS NOT NULL AND @federal_ein <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'EXISTS (SELECT	vendor.federal_ein ' +
'		FROM 	vendor ' +
'		WHERE	vendor.vendor_id = subscriber_member.vendor_id ' +
' 		AND 	ISNULL(vendor.federal_ein, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@federal_ein,@show_exact_matches) + @Suffix +
'		UNION ' +
'		SELECT	vendor.federal_ein ' +
'		FROM 	vendor ' +
'		WHERE	vendor.vendor_id = member.vendor_id ' +
' 		AND 	ISNULL(vendor.federal_ein, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@federal_ein,@show_exact_matches) + @Suffix +
'		) '
END

IF @additional_information_topic_id IS NOT NULL AND @additional_information_topic_value IS NOT NULL AND @additional_information_topic_value <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ' +
'EXISTS (SELECT	member_additional_information_id ' +
'		FROM 	member_additional_information ' +
'				INNER JOIN additional_information ' +
'					ON additional_information.additional_information_id = member_additional_information.additional_information_id ' +
'				LEFT JOIN additional_information_topic_value ' +
'					ON CONVERT(INT, member_additional_information.additional_information_selection_value) = additional_information_topic_value.additional_information_topic_value_id ' +
'		WHERE	member_additional_information.member_id = member.member_id ' +
' 		AND 	additional_information.additional_information_topic_id = ' + CONVERT(VARCHAR, @additional_information_topic_id) +
' 		AND 	CASE WHEN member_additional_information.additional_information_value IS NOT NULL THEN ' +
' 					ISNULL(member_additional_information.additional_information_value, '''') ' +
'				ELSE ' +
'					ISNULL(additional_information_topic_value.additional_information_topic_value_ud, '''') ' +
' 				END ' + @Prefix + CONVERT(VARCHAR, dbo.plx_EncodeStringWildCard(@additional_information_topic_value,@show_exact_matches)) + @Suffix

SET @SqlCondition = @SqlCondition + ') '
END

SET @SqlQuery =
'	SELECT	 DISTINCT ' +
'	 dbo.member.member_id ' +
'	,pid.personal_id as personalid ' +
'	,pid.member_personal_id_id as personal_id_id ' +
'	,dbo.member.gender_id ' +
'	,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) AS member_name ' +
'	,member_phone_number.telephone_number AS phone_number ' +
--		'	,CONVERT(NVARCHAR, dbo.member.birth_date, 101) AS birth_date ' +
'	,dbo.member.birth_date AS birth_date ' +
'	,locale.postal_code ' +
'	,LTRIM(RTRIM(member_address.address_1 + '' '' + member_address.address_2)) AS member_address ' +
'	,locale.city ' +
'	,CASE WHEN member_name.is_primary = 1 THEN cast( 0 as bit)  ELSE cast(1 as bit) END AS alias ' +
-- use family eligibility
'	,dbo.member_name.name_first ' +
'	,dbo.member_name.name_middle ' +
'	,dbo.member_name.name_last ' +
'	,dbo.member_name.name_suffix ' +
'	,dbo.member_name.name_prefix_id ' +
'	,dbo.member_name.member_name_id ' +
'	,dbo.locale.locale_id ' +
'	,member_address.address_1	 ' +
'	,member_address.address_2	 ' +
'	,member_phone_number.telephone_number as phone ' +
'	,dbo.plx_ConcatenateLocation(locale.city, state.state_ud, country.country_ud, NULL, NULL, NULL) AS city_state_country ' +
'	,locale.county ' +
'	,member_address.mail_ok ' +

'	FROM ' +
'	dbo.member ' +
'	LEFT JOIN ( ' +
'		SELECT	 member_personal_id.member_id ' +
'				,id_value AS personal_id ' +
'				,member_personal_id_id ' +

'		FROM 	dbo.member_personal_id ' +
'				INNER JOIN member_id_type ON member_id_type.member_id_type_id = member_personal_id.member_id_type_id ' +
'		WHERE	member_id_type.golden_key = ''PID'' ' +
'		) pid ' +
'		ON dbo.member.member_id = pid.member_id ' +
'	LEFT JOIN dbo.member_name ' +
'		ON dbo.member.member_id = dbo.member_name.member_id '

IF @search_in_alias = 0
SET @SqlQuery = @SqlQuery + ' AND member_name.is_primary = 1 '

SET @SqlQuery = @SqlQuery +
'	LEFT JOIN dbo.member_address ' +
'		ON	member_address.member_id = member.member_id ' +
'		AND member_address.is_primary = 1 ' +
'	LEFT JOIN dbo.locale ' +
'		ON	member_address.locale_id = locale.locale_id ' +
'	LEFT JOIN dbo.state ' +
'		ON	state.state_id = locale.state_id ' +
'	LEFT JOIN dbo.country ' +
'		ON	country.country_id = locale.country_id ' +
-- phone
'	LEFT JOIN ( ' +
'		SELECT	 member_telephone_number.member_id ' +
'				,member_telephone_number.telephone_number ' +
'		FROM 	dbo.member_telephone_number ' +
'				INNER JOIN dbo.telephone_number_type ' +
'					ON telephone_number_type.telephone_number_type_id = member_telephone_number.telephone_number_type_id ' +
'		) AS member_phone_number ' +
'		ON	member_phone_number.member_id = member.member_id ' +

'	LEFT JOIN dbo.family_eligibility_member ' +
'		ON dbo.family_eligibility_member.member_id = dbo.member.member_id ' +
'	LEFT JOIN  dbo.family_eligibility ' +
'		ON dbo.family_eligibility.family_eligibility_id = dbo.family_eligibility_member.family_eligibility_id ' +
'	LEFT JOIN dbo.family_eligibility_member_benefit_plan bpfem ' +
'		ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id ' +
-- 		'	LEFT JOIN dbo.benefit_contract_period_benefit_plan bcpbp ' +
-- 		'		ON bcpbp.benefit_contract_period_benefit_plan_id = bpfem.benefit_contract_period_benefit_plan_id ' +

'	LEFT JOIN dbo.benefit_plan ' +
'		ON bpfem.benefit_plan_id = benefit_plan.benefit_plan_id ' +

-- 		' 	LEFT JOIN dbo.benefit_contract_period ' +
-- 		'		ON benefit_contract_period.benefit_contract_period_id = bcpbp.benefit_contract_period_id ' +
'	LEFT JOIN dbo.benefit_contract ' +
'		ON dbo.benefit_contract.benefit_contract_id = dbo.family_eligibility.benefit_contract_id ' +
'	LEFT JOIN dbo.client_group ' +
'		ON dbo.benefit_contract.client_group_id = dbo.client_group.client_group_id ' +
'	LEFT JOIN dbo.client_group_name ' +
'		ON dbo.client_group_name.client_group_id = dbo.client_group.client_group_id ' +
'	LEFT JOIN dbo.client ' +
'		ON dbo.client_group.client_id = dbo.client.client_id ' +
'	LEFT JOIN dbo.client_name ' +
'		ON dbo.client_name.client_id = dbo.client.client_id ' +

'	LEFT JOIN ( ' +
'		SELECT 	 f.family_eligibility_member_id ' +
'				,f.family_eligibility_id ' +
'				,f.member_id '	+
'				,bpfem1.family_eligibility_member_benefit_plan_id  '	+
'				,bpfem1.member_eligibility_ud '	+
'		FROM 	dbo.family_eligibility_member f ' +
'				INNER JOIN dbo.relationship_to_insured ' +
'					ON f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id ' +
'				INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem1 ' +
'					ON bpfem1.family_eligibility_member_id = f.family_eligibility_member_id ' +
'		WHERE	relationship_to_insured.golden_key = ''SELF'' ' +
'		) subscriber ' +
'		ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id  ' +

'	LEFT JOIN dbo.member_name subscriber_name ' +
'		ON subscriber_name.member_id = subscriber.member_id ' +
'		AND subscriber_name.is_primary = 1 ' +
'	LEFT JOIN dbo.member subscriber_member ' +
'		ON subscriber_member.member_id = subscriber.member_id '

print (@SqlQuery + @SqlCondition)
EXEC(@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
