USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thangtnguyen
Nov  1 2005  2:08PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha			1.0			created_date and modified_date using DB Server date
2006/03/09	Thuy Ha			1.1			removed transaction, removed tables telephone_number, internet_address, financial_institution
2006/06/13	HungTNguyen		1.2			Adding starting_balance, starting_balance
2006/06/13	HungTNguyen		1.3			Removed currency_id
2008/05/16	lrenard			1.4			accounting company schema and form changes
2008/10/13	wchristensen	1.5			split starting check and ach ref numbers
08/18/2014 - RT:6046 Updated created/modified tombstone columns
09/19/2014	schong			1.6			update to save delivery route
--
CURRENT_VERSION: 1.6
--
DESCRIPTION:
Save data for Bank Account form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_bank_account_save] (
@bank_account_id INT = NULL OUTPUT
, @bank_account_ud NVARCHAR(100) = NULL
, @description NVARCHAR(510) = NULL
, @cash_accounting_company_account_id INT = NULL
, @bank_account_number NVARCHAR(50) = NULL
, @routing_transaction_number NVARCHAR(50) = NULL
, @bank_name NVARCHAR(100) = NULL
, @bank_address_id INT = NULL
, @bank_address_1 NVARCHAR(100) = NULL
, @bank_address_2 NVARCHAR(100) = NULL
, @bank_locale_id INT = NULL
, @bank_delivery_route NVARCHAR(50) = NULL
, @bank_telephone_number NVARCHAR(50) = NULL
, @bank_fax_number NVARCHAR(50) = NULL
, @starting_check NVARCHAR(100) = NULL
, @starting_ach_reference nvarchar(100) = NULL) AS
BEGIN
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_CANT_INSERT_ADDRESS NVARCHAR(50)
, @ERROR_CANT_UPDATE_ADDRESS NVARCHAR(50)
, @ERROR_CANT_UPDATE_BANK_ACCOUNT NVARCHAR(50)
, @ERROR_NOT_EXIST_BANK_ACCOUNT NVARCHAR(50)

SELECT @SP_SUCCESS = 0
, @SP_EXCEPTION = - 1
, @ERROR_CANT_INSERT_ADDRESS = '137020003'
, @ERROR_CANT_UPDATE_ADDRESS = '137020004'
, @ERROR_CANT_UPDATE_BANK_ACCOUNT = '137020014'
, @ERROR_NOT_EXIST_BANK_ACCOUNT = '137020015'

IF @bank_account_id IS NULL
BEGIN

-- Create a new record
-- Insert address table
INSERT INTO address (
address_1
,address_2
,locale_id
, delivery_route
,active
)
VALUES
(@bank_address_1
,@bank_address_2
,@bank_locale_id
, @bank_delivery_route
, 1
)

SET @bank_address_id = @@IDENTITY

IF (@@ERROR <> 0)
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_ADDRESS)

-- Insert bank account
INSERT INTO bank_account (
bank_account_ud
,description
,cash_accounting_company_account_id
,bank_account_number
,routing_transaction_number
,bank_name
,address_id
,telephone_number
,fax_number
,starting_check
,starting_ach_reference
,active
)
VALUES
(@bank_account_ud
, @description
, @cash_accounting_company_account_id
, @bank_account_number
, @routing_transaction_number
, @bank_name
, @bank_address_id
, @bank_telephone_number
, @bank_fax_number
, @starting_check
, @starting_ach_reference
, 1
)

SET @bank_account_id = @@IDENTITY

END
ELSE IF NOT EXISTS (
SELECT *
FROM bank_account
WHERE bank_account_id = @bank_account_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_BANK_ACCOUNT)
END
ELSE
BEGIN

IF EXISTS (
SELECT *
FROM bank_account
WHERE bank_account_id = @bank_account_id
AND address_id IS NULL
)
BEGIN

INSERT INTO address (
address_1
, address_2
, locale_id
, delivery_route
, active
)
VALUES (
@bank_address_1
, @bank_address_2
, @bank_locale_id
, @bank_delivery_route
, 1
)

SET @bank_address_id = @@IDENTITY

IF (@@ERROR <> 0)
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_ADDRESS)
END
ELSE

BEGIN
UPDATE address SET
address_1			= @bank_address_1
,address_2			= @bank_address_2
,locale_id			= @bank_locale_id
, delivery_route	= @bank_delivery_route
,modified_user_name = ORIGINAL_LOGIN()
,modified_date      = GETDATE()
WHERE address_id = @bank_address_id

IF (@@ERROR <> 0)
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_ADDRESS)
END

UPDATE bank_account
SET bank_account_ud = @bank_account_ud
,description = @description
,cash_accounting_company_account_id = @cash_accounting_company_account_id
,bank_account_number	= @bank_account_number
,routing_transaction_number = @routing_transaction_number
,bank_name = @bank_name
,address_id = @bank_address_id
,telephone_number = @bank_telephone_number
,fax_number = @bank_fax_number
,starting_check = @starting_check
,starting_ach_reference = @starting_ach_reference
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE bank_account_id = @bank_account_id

IF (@@ERROR <> 0)
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_BANK_ACCOUNT)
END

RETURN @SP_SUCCESS
END
GO
