USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_run_eligibility_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton	1.0			Created
09/13/2013	cmaddox			2.0			Modified for auto termination error not showing errors related to the run.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid Eligibility grid on the Auto Termination Errors tab on the Auto Termination Runorm

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_auto_termination_run_eligibility_load]
(
@auto_termination_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
DISTINCT elig.family_eligibility_member_benefit_plan_id
, elig.member_eligibility_ud

FROM dbo.auto_termination_run_result_code atrc
JOIN family_eligibility_member_benefit_plan elig on atrc.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
WHERE atrc.auto_termination_run_id = @auto_termination_run_id

ORDER BY elig.member_eligibility_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
