USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_practice_office_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan			1.0		Created
09/03/2014	dcannon			1.1		added delivery_route to function
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	:
This procedure is used to load practice office data for claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE   procedure [dbo].[plx_claim_practice_office_info_load]
(
@practice_office_id        INT = NULL
)
AS
BEGIN

SELECT
po.practice_office_id
, po.practice_office_ud
, po.practice_office_nm
, dbo.plx_ConcatenateAddress(a.address_1, a.address_2, a.delivery_route, l.locale_id) as office_address
, tn.telephone_number as office_phone_number
FROM dbo.practice_office po
LEFT JOIN dbo.practice_office_contact poc ON poc.practice_office_id = po.practice_office_id and poc.is_primary = 1
LEFT JOIN dbo.contact c ON c.contact_id = poc.contact_id
LEFT JOIN dbo.contact_address ca ON ca.contact_id = c.contact_id and ca.primary_for_contact = 1
LEFT JOIN dbo.address a ON a.address_id = ca.address_id
LEFT JOIN dbo.locale l ON l.locale_id = a.locale_id
LEFT JOIN dbo.contact_telephone_number ctn ON ctn.contact_id = c.contact_id and ctn.primary_for_contact = 1
LEFT JOIN dbo.telephone_number tn ON tn.telephone_number_id = ctn.telephone_number_id
--        		LEFT JOIN dbo.contact_internet_address cia ON cia.contact_id = c.contact_id and cia.primary_for_contact = 1
--        		LEFT JOIN dbo.internet_address ia ON ia.internet_address_id = cia.internet_address_id
--        		LEFT JOIN dbo.internet_address_type iat ON iat.internet_address_type_id = ia.internet_address_type_id AND iat.golden_key = 'E-Mail'
WHERE po.practice_office_id = @practice_office_id

END
GO
