USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_capitation_payment_insert_payment]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_capitation_payment_insert_payment]
@transactionUd NVARCHAR(100),
@transactionTypeId INT,
@transactionDate DATETIME,
@transactionAmount NUMERIC(19,4),
@transactionSourceId INT,
@transactionSourceRecordId INT,
@transactionStatusId INT,
@transactionAccountingCompanyId INT,
@transactionVendorId INT,
@detailBankAccountId INT,
@detailPaymentMethodId INT,
@detailPaymentStatusId INT,
@detailPaymentSourceId INT,
@distributions udtt_disbursement_capitation_payment_distribution READONLY,
@applyTo udtt_disbursement_capitation_payment_apply_to READONLY
AS

SET NOCOUNT ON;

INSERT INTO accounting_transaction_ap (
accounting_transaction_ap_ud,
accounting_transaction_ap_type_id,
transaction_date,
transaction_amount,
accounting_source_id,
accounting_source_record_id,
accounting_transaction_status_id,
accounting_company_id,
vendor_id,
tax_1099_exempt )
VALUES (
@transactionUd,
@transactionTypeId,
@transactionDate,
@transactionAmount,
@transactionSourceId,
@transactionSourceRecordId,
@transactionStatusId,
@transactionAccountingCompanyId,
@transactionVendorId,
0);

DECLARE @paymentTransactionId INT = SCOPE_IDENTITY();

INSERT INTO accounting_transaction_ap_payment_detail (
accounting_transaction_ap_id,
bank_account_id,
payment_method_payment_id,
accounting_payment_status_id,
accounting_payment_source_id,
is_reconciled )
VALUES (
@paymentTransactionId,
@detailBankAccountId,
@detailPaymentMethodId,
@detailPaymentStatusId,
@detailPaymentSourceId,
0);

DECLARE @paymentDetailId INT = SCOPE_IDENTITY();

INSERT INTO accounting_transaction_ap_distribution (
accounting_transaction_ap_id,
accounting_company_account_id,
is_debit,
amount )
SELECT
@paymentTransactionId,
d.accounting_company_account_id,
d.is_debit,
d.amount
FROM
@distributions d;

INSERT INTO accounting_transaction_ap_apply_to (
from_accounting_transaction_ap_id,
to_accounting_transaction_ap_id,
unapplied_amount,
amount,
[date] )
SELECT
@paymentTransactionId,
a.to_accounting_transaction_ap_id,
a.unapplied_amount,
a.amount,
a.[date]
FROM
@applyTo a;


exec plx_disbursement_capitation_payment_update_taxes @paymentDetailId=@paymentDetailId;
exec plx_disbursement_capitation_payment_update_payment_related_statuses @paymentDetailId=@paymentDetailId;

SELECT
@paymentTransactionId as 'accounting_transaction_ap_id',
@paymentDetailId as 'accounting_transaction_ap_payment_detail_id';

SELECT
accounting_transaction_ap_distribution_id,
accounting_company_account_id,
is_debit,
amount
FROM
accounting_transaction_ap_distribution
WHERE
accounting_transaction_ap_id = @paymentTransactionId;
GO
