USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dp_errors_capitation_payment_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox

Date: 08/22/2009
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------
--

--
DESCRIPTION:
Displays all errors for the Disbursements Process - Capitation Payment
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dp_errors_capitation_payment_list_load]
(
@from_date datetime = null,
@thru_date datetime = null,
@schema_only bit = 1
)
AS
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ata.accounting_transaction_ap_id
,ata.accounting_transaction_ap_ud
,ata.accounting_company_id
,ac.accounting_company_ud
,ata.vendor_id
,vendor.vendor_ud
,run.start_time AS run_date
,res.result_code_id
,rc.result_code_ud
,rc.short_message AS result_code_description

FROM disbursement_capitation_payment_run run
INNER JOIN disbursement_capitation_payment_run_result_code res ON res.disbursement_capitation_payment_run_id = run.disbursement_capitation_payment_run_id
INNER JOIN result_code rc ON res.result_code_id = rc.result_code_id
INNER JOIN accounting_transaction_ap ata on res.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN vendor ON vendor.vendor_id = ata.vendor_id
LEFT JOIN accounting_company ac ON ata.accounting_company_id = ac.accounting_company_id

WHERE
@schema_only = 0
AND DATEDIFF(day, ISNULL(@from_date, run.start_time), run.start_time) >= 0
AND DATEDIFF(day, ISNULL(@thru_date, run.start_time), run.start_time) <= 0

ORDER BY run_date DESC

--
RETURN @SP_SUCCESS
GO
