USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_information_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: John Ourant
Sept 28 2007		Complete rewrite
--
REVISION_HISTORY:
--
Date		Modified By	Version	Description
9/28/2007	John Ourant		1.1	Rewrote query to fetch the correct data.
03/28/08	lrenard			1.2	Added check for visible
05/02/2008	Vishwa Jella	1.3	updated with sort_order column for adjudication items
06/15/2009	Vishwa Jella	1.4	Update joins to get claim_form_type in order to avoid diplicates
07/07/2009  eponomareff		1.5 override_reason --> dropdown fk to result_code (override_result_code_id)
04/25/2010	Vishwa Jella	1.6	 Applied DISTINCT for Identified Duplicate Records selection with Similar data Joins
01/26/2011  ggutshall       1.7 Corrected functional logic, improved performance (hopefully)
and simplified code.
11/14/2013	amortensen		1.8	Updated logic to use new parameter plan_iteration_index
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.8
--
DESCRIPTION:
This procedure is called to load the "Adjudication Details" grid on the claim form.  That form
has two check boxes above the grid labelled "Show Selected Items" and "Show All Items".  If the
user has clicked the "Show Selected Items" checkbox, this procedure is called and the claim_form_type_id
parameter value is suppled.  If the other is selected, this procedure is called, but the
claim_form_type_id parameter is allowed to assume the default value of 0 (zero).  The functional
meaning of these two values is this...  If "Show Selected Items" is checked only those adjudication
objects which are selected by the user and save in the adjudication_object_show table are returned and
the ordering of those items is as specified in the order_to_show column.
If "Show All Items" is selected then the contents of adjudication_object_show are ignored and
those items from adjudication_object where the is_visible_claim_result_item is true are retrieved.
The ordering of this resultset is as specified in the sort_order column of adujudication_object.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success (Note:  This will always be 0 as the proc contains no error handling - gg )
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_adjudication_information_list_load] (
@claim_procedure_id INT = NULL,
@plan_iteration_index INT = NULL,
@show_all BIT = 1
)
AS
BEGIN

DECLARE @SP_SUCCESS int


DECLARE @temp TABLE (
adjudication_key_id INT NULL,
claim_procedure_id INT NULL,
plan_iteration_index INT NULL,
adjudication_object_id INT NULL,
adjudication_object_ud NVARCHAR(50) NULL,
golden_key NVARCHAR(50) NULL,
table_name NVARCHAR(255) NULL,
object_record_id INT NULL,
displayed_value NVARCHAR(255) NULL,
display_form NVARCHAR(255) NULL,
find_form NVARCHAR(255) NULL,
stored_procedure NVARCHAR(255) NULL,
stored_field NVARCHAR(255) NULL,
displayed_field NVARCHAR(255) NULL,
override_allowed bit NULL,
override_record_id INT NULL,
override_value NVARCHAR(255) NULL,
[user_name] NVARCHAR(128) NULL,
override_date DATETIME NULL,
adjudication_details_override_reason_id INT NULL,
adjudication_details_override_reason_ud NVARCHAR(50) NULL,
adjudication_key_override_id INT NULL,
modified_date DATETIME NULL,
show_selected BIT NULL,
sort_order INT NULL
)

IF (ISNULL(@plan_iteration_index, 0) = 0)
BEGIN
SET @plan_iteration_index = 1
END

DECLARE @claim_form_type_id INT

SELECT @claim_form_type_id = claim_form_type_id
FROM claim
JOIN claim_procedure cp
ON cp.claim_id = claim.claim_id
WHERE cp.claim_procedure_id = @claim_procedure_id;

INSERT INTO @Temp
SELECT ak.adjudication_key_id,
ak.claim_procedure_id,
ak.plan_iteration_index,
ao.adjudication_object_id,
ao.adjudication_object_ud,
ao.golden_key,
elp.table_name,
ak.object_record_id,
NULL,
elp.display_form,
elp.find_form,
elp.stored_procedure,
elp.stored_field,
elp.displayed_field,
ao.override_allowed,
ako.object_record_id,
NULL,
ako.created_user_name,
ako.modified_date,
ako.adjudication_details_override_reason_id,
ador.adjudication_details_override_reason_ud,
ako.adjudication_key_override_id,
ako.modified_date,
CASE
WHEN aos.adjudication_object_id IS NOT NULL
THEN 1
ELSE 0
END AS show_selected,
CASE
WHEN @show_all = 1
THEN ao.sort_order
ELSE aos.order_to_show
END AS order_to_show
FROM plx_fn_adjudication_key(@claim_procedure_id, @plan_iteration_index) ak
INNER JOIN adjudication_object ao
ON ao.adjudication_object_id = ak.adjudication_object_id
AND ao.is_visible_claim_result_item = 1
INNER JOIN adjudication_object_type aot
ON ao.adjudication_object_type_id = aot.adjudication_object_type_id
AND aot.golden_key = 'ADJUDICATION_ITEM'
LEFT JOIN adjudication_object_show AS AOS
ON ao.adjudication_object_id = AOS.adjudication_object_id
AND aos.claim_form_type_id = @claim_form_type_id
LEFT OUTER JOIN ui_engine_lookup_parameter elp
ON ao.ui_engine_lookup_parameter_golden_key = elp.golden_key
LEFT OUTER JOIN plx_fn_adjudication_key_override(@claim_procedure_id, @plan_iteration_index) ako
ON ak.adjudication_key_id = ako.adjudication_key_id
LEFT OUTER JOIN adjudication_details_override_reason ador
ON ador.adjudication_details_override_reason_id = ako.adjudication_details_override_reason_id
WHERE ak.claim_procedure_id = @claim_procedure_id
AND (
ak.plan_iteration_index = @plan_iteration_index
OR (
@plan_iteration_index = 1
AND ak.plan_iteration_index IS NULL
)
)

/** ---- BEGIN - ADD REFERRAL RESULT ---- **/
-- If there is no referral item and there is a result code indicating multiple referrals, we need to create
-- an empty item for the client to be able to override.
IF EXISTS (
SELECT 1
FROM adjudication_result_code arc
JOIN result_code rc
ON arc.result_code_id = rc.result_code_id
WHERE arc.claim_procedure_id = @claim_procedure_id
AND arc.plan_iteration_index = @plan_iteration_index
AND rc.golden_key = 'REF_MULTIPLE_REFERRALS_AUTHORIZATIONS_FOUND'
)
OR -- There is a referral override entered
EXISTS (
SELECT 1
FROM adjudication_result_key ark
JOIN adjudication_result_key_override arko
ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
WHERE ark.claim_procedure_id = @claim_procedure_id
AND (
ark.plan_iteration_index = @plan_iteration_index
OR @plan_iteration_index = 0
)
AND arko.referral_id IS NOT NULL
)
BEGIN
-- If there isn't already a referral entry
IF NOT EXISTS (
SELECT 1
FROM @Temp t
JOIN adjudication_object ao
ON t.adjudication_object_id = ao.adjudication_object_id
WHERE ao.golden_key = 'REFERRAL_ID'
)
INSERT INTO @Temp
SELECT
-- The record does have an adjudication_key (which is an artificial construct from the adjudication_key view.
-- So, a new key will be generated as the max key + 1
CASE
WHEN (
EXISTS (
SELECT 1
FROM @temp
)
)
THEN (
SELECT MAX(ISNULL(adjudication_key_id, 0)) + 1
FROM @Temp
)
ELSE 1
END,
@claim_procedure_id,
@plan_iteration_index,
ao.adjudication_object_id,
ao.adjudication_object_ud,
ao.golden_key,
elp.table_name,
ark.referral_id,
null,
elp.display_form,
elp.find_form,
elp.stored_procedure,
elp.stored_field,
elp.displayed_field,
ao.override_allowed,
arko.referral_id,
null,
arko.created_user_name,
arko.modified_date,
arko.referral_adjudication_details_override_reason_id,
ador.adjudication_details_override_reason_ud,
arko.adjudication_result_key_override_id,
arko.modified_date,
1, --show_selected
ao.sort_order
FROM adjudication_object ao
INNER JOIN adjudication_object_type aot
ON ao.adjudication_object_type_id = aot.adjudication_object_type_id
AND aot.golden_key = 'ADJUDICATION_ITEM'
LEFT OUTER JOIN ui_engine_lookup_parameter elp
ON ao.ui_engine_lookup_parameter_golden_key = elp.golden_key
LEFT OUTER JOIN adjudication_result_key ark
ON ark.claim_procedure_id = @claim_procedure_id
AND ark.plan_iteration_index = @plan_iteration_index
LEFT OUTER JOIN adjudication_result_key_override arko
ON arko.adjudication_result_key_id = ark.adjudication_result_key_id
LEFT OUTER JOIN adjudication_details_override_reason ador
ON ador.adjudication_details_override_reason_id = arko.referral_adjudication_details_override_reason_id
WHERE ao.golden_key = 'REFERRAL_ID'
END -- adjudication result code indicates multiple referrals found
/** ---- END - ADD REFERRAL RESULT ---- **/

DECLARE ObjectCursor CURSOR
FOR
SELECT adjudication_key_id,
plan_iteration_index,
object_record_id,
table_name,
stored_field,
displayed_field,
override_record_id
FROM @Temp

DECLARE @AdjudicationKeyId INT
DECLARE @PlanIterationIndex INT
DECLARE @ObjectRecordId INT
DECLARE @TableName NVARCHAR(255)
DECLARE @StoredField NVARCHAR(255)
DECLARE @OverrideRecordId INT

DECLARE @strSQL NVARCHAR(500)
DECLARE @DisplayedValue NVARCHAR(255)
DECLARE @OverrideValue NVARCHAR(50)
DECLARE @DisplayedField NVARCHAR(255)

SET @DisplayedValue = NULL
SET @OverrideValue = NULL

OPEN ObjectCursor

FETCH NEXT
FROM ObjectCursor
INTO @AdjudicationKeyId,
@planIterationIndex,
@ObjectRecordId,
@TableName,
@StoredField,
@DisplayedField,
@OverrideRecordId

WHILE @@fetch_status = 0
BEGIN
--Go Grab the "Displayed_Value"
IF @ObjectRecordId > 0
AND (@TableName IS NOT NULL)
AND (@TableName <> '')
AND (@StoredField IS NOT NULL)
AND (@StoredField <> '')
AND (@DisplayedField IS NOT NULL)
AND (@DisplayedField <> '')
BEGIN
SET @strSQL = 'SELECT @DispValue=' + @DisplayedField
SET @strSQL = @strSQL + ' FROM ' + @TableName
SET @strSQL = @strSQL + ' WHERE ' + @TableName + '.' + @StoredField + ' = '
SET @strSQL = @strSQL + CAST(@ObjectRecordID AS CHAR(16))

EXECUTE sp_executesql @strSQL,
N'@DispValue NVARCHAR(255) OUTPUT ',
@DisplayedValue OUTPUT
END
ELSE
BEGIN
SET @DisplayedValue = ''
END

--Update the Temp table
UPDATE @Temp
SET displayed_value = @DisplayedValue
WHERE adjudication_key_id = @AdjudicationKeyId

--Go get the "Override_Value"
IF @OverrideRecordId > 0
AND (@TableName IS NOT NULL)
AND (@TableName <> '')
AND (@StoredField IS NOT NULL)
AND (@StoredField <> '')
AND (@DisplayedField IS NOT NULL)
AND (@DisplayedField <> '')
BEGIN
SET @strSQL = 'SELECT @OverDispValue=' + @DisplayedField
SET @strSQL = @strSQL + ' FROM ' + @TableName
SET @strSQL = @strSQL + ' WHERE ' + @TableName + '.' + @StoredField + ' = '
SET @strSQL = @strSQL + CAST(@OverrideRecordId AS CHAR(16))

EXECUTE sp_executesql @strSQL,
N'@OverDispValue NVARCHAR(255) output ',
@OverrideValue OUTPUT
END
ELSE
BEGIN
SET @OverrideValue = ''
END

--Update the Temp table
UPDATE @Temp
SET override_value = @OverrideValue
WHERE adjudication_key_id = @AdjudicationKeyId

FETCH NEXT
FROM ObjectCursor
INTO @AdjudicationKeyId,
@PlanIterationIndex,
@ObjectRecordId,
@TableName,
@StoredField,
@DisplayedField,
@OverrideRecordId
END

CLOSE ObjectCursor
DEALLOCATE ObjectCursor

--Select our prepared results from the temp table
SELECT * FROM @Temp ORDER BY sort_order

SELECT @SP_SUCCESS = 0
RETURN @SP_SUCCESS

END
GO
