USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_lock_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	mttran		1.0			created
01/05/2006	tinhdo				Add: ORDER BY lock_removed_on
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Locks grid on Group form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_lock_list_load]
(
@client_group_id			Int
)
AS
--
SET NOCOUNT ON
--
SELECT
client_group_lock.client_group_lock_id
,client_group_lock.client_group_id
,client_group_lock.result_code_id
,result_code.result_code_ud
,result_code.short_message
,client_group_lock.lock_set_on
,client_group_lock.lock_removed_on
,client_group_lock.lock_removed_by
,client_group_lock.comment
,client_group_lock.lock_by as locks_by
FROM	dbo.client_group_lock
INNER JOIN dbo.client_group	ON client_group.client_group_id = client_group_lock.client_group_id
INNER JOIN dbo.result_code	ON result_code.result_code_id = client_group_lock.result_code_id
WHERE	client_group.client_group_id = @client_group_id
ORDER BY lock_removed_on
--
GO
