USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_framework_benefit_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: fcahill
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Load benefit_framework_benefit_class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dd_benefit_framework_benefit_load]
(
@benefit_framework_id	int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

begin
select distinct
benefit_id,
benefit_ud,
bc.benefit_class_ud as 'Benefit Class'
from
benefit b
left join benefit_framework_benefit_class bfbc
on b.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
left join benefit_plan bp
on bfbc.benefit_framework_id = bp.benefit_framework_id
left join benefit_class bc
on bc.benefit_class_id = bfbc.benefit_class_id
where
bfbc.benefit_framework_id = @benefit_framework_id
order by
benefit_ud

end
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
