USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_category_by_benefit_contract_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/19/2008	David Slayton	1.0			Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_category' table for premium profile assignment
on the billing setup form.

;
REQUIREMENTS	:

None
;
INPUTS		:
@benefit_contract_id

;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_benefit_category_by_benefit_contract_load]
(
@benefit_contract_id INT = 0
) AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcat.benefit_category_id
,bcat.benefit_category_ud
,bcat.golden_key
FROM benefit_category bcat
INNER JOIN benefit_framework bf ON bcat.benefit_category_id = bf.benefit_category_id
INNER JOIN benefit_plan bp ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period bcp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bcp.benefit_contract_id = @benefit_contract_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
