USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_premium_rate_component_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 01/12/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:		Find premium rate component set(s) that match criteria.

******************************/
CREATE       PROCEDURE [dbo].[plx_find_premium_rate_component_set_load]
(
@premium_rate_component_set_ud               NVARCHAR(50) = NULL
, @premium_rate_component_set_description      NVARCHAR(255) = NULL
, @premium_rate_component_id                   int = NULL
, @premium_rate_component_set_type_id          int = NULL
, @show_exact_matches                          BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @premium_rate_component_set_ud IS NOT NULL AND @premium_rate_component_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(prcs.premium_rate_component_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_rate_component_set_ud, @show_exact_matches) + @Suffix

IF @premium_rate_component_set_description IS NOT NULL AND @premium_rate_component_set_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(prcs.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_rate_component_set_description, @show_exact_matches) + @Suffix

IF ISNULL(@premium_rate_component_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND prca.premium_rate_component_id = ' + CONVERT(NVARCHAR, @premium_rate_component_id)

IF ISNULL(@premium_rate_component_set_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND prcs.premium_rate_component_set_type_id = ' + CONVERT(NVARCHAR, @premium_rate_component_set_type_id)

SET @SqlQuery =
'	SELECT DISTINCT
prcs.premium_rate_component_set_id
,prcs.premium_rate_component_set_ud
,prcs.description
FROM  dbo.premium_rate_component_set prcs
LEFT JOIN premium_rate_component_assignment prca ON prca.premium_rate_component_set_id = prcs.premium_rate_component_set_id
'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY prcs.premium_rate_component_set_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
