USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_member_load]

AS
BEGIN

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT     dbo.member.member_id, dbo.family_eligibility.family_eligibility_ud AS member_eligibility_ud
FROM         dbo.member INNER JOIN
dbo.family_eligibility_member ON dbo.member.member_id = dbo.family_eligibility_member.member_id INNER JOIN
dbo.family_eligibility ON dbo.family_eligibility_member.family_eligibility_id = dbo.family_eligibility.family_eligibility_id
ORDER BY member_eligibility_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--

END
GO
