USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tier_restricted_to_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE CREATED: 02/04/2009

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/04/2009	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of tier restricted to types.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_tier_restricted_to_type_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
tier_restricted_to_type_id
,tier_restricted_to_type_ud
,golden_key
FROM tier_restricted_to_type
ORDER BY tier_restricted_to_type_ud
--
RETURN @SP_SUCCESS
--
GO
