USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_base_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey
DATE: 1/16/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2/21/2013   eponomareff     1.1         removed "Composite Grid" from dropdown
3/10/2017	eponomareff		1.2			added "Composite" into dropdown for SP10285

--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
This procedure is used to load data for drop down premium_rate_type (Premium Rate Type)
for the Premium Rate Schedule Form

The Life Premium Rate Schedule form uses stored procedure: plx_dd_life_premium_rate_base_type_load
The Disability Premium Rate Schedule form uses stored procedure:
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_rate_base_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
premium_rate_base_type_id
,premium_rate_base_type_ud
,golden_key

FROM premium_rate_base_type
WHERE golden_key in
(
'FAMILY_TIER',
'AGE_GENDER',
'FIXED_RATE_PER_MEMBER',
'ONE_RATE_FOR_ALL',
'COMPOSITE'
)

ORDER BY  premium_rate_base_type_ud

RETURN @SP_SUCCESS
GO
