USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_procedure_code_group_is_service_included]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[plx_dto_procedure_code_group_is_service_included] (
@procedure_code_group_id int,
@px_code_ud nvarchar(50),
@px_code_type_id int,
@px_icd_version_id int = NULL,
@date_of_service datetime
) AS

SET NOCOUNT ON

-- Check for exclusions matched on prodecure code range. If excluded, doesn't matter if included also.
IF EXISTS (
SELECT
*
FROM
procedure_code_group pcg
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN procedure_code pcbegin
ON pcgpc.begin_procedure_code_id = pcbegin.procedure_code_id
INNER JOIN procedure_code pcend
ON pcgpc.end_procedure_code_id = pcend.procedure_code_id

WHERE
-- specific procedure code group
pcg.procedure_code_group_id = @procedure_code_group_id
-- get EXCLUDED codes
AND pcgpc.is_excluded = 1
-- code type match
AND pcgpc.procedure_code_type_id = @px_code_type_id
-- icd version match
AND (@px_icd_version_id IS NULL OR pcgpc.procedure_code_icd_version_id = @px_icd_version_id)
-- code range is effective for dos
AND @date_of_service BETWEEN pcgpc.effective_from AND ISNULL(pcgpc.effective_thru, '12/31/9999')
-- code ud is included in code range
AND @px_code_ud BETWEEN pcbegin.procedure_code_ud AND pcend.procedure_code_ud
)

RETURN 0

-- Check for exclusions, match on category/subcategories
IF EXISTS (
SELECT
*
FROM
procedure_code_group pcg
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN procedure_code pc
ON pc.procedure_code_category_id = pcgpc.procedure_code_category_id
AND (pcgpc.procedure_code_sub_category1_id IS NULL OR pcgpc.procedure_code_sub_category1_id = pc.procedure_code_sub_category1_id)
AND (pcgpc.procedure_code_sub_category2_id IS NULL OR pcgpc.procedure_code_sub_category2_id = pc.procedure_code_sub_category2_id)
AND (pcgpc.procedure_code_sub_category3_id IS NULL OR pcgpc.procedure_code_sub_category3_id = pc.procedure_code_sub_category3_id)

WHERE
pcg.procedure_code_group_id = @procedure_code_group_id
AND pcgpc.is_excluded = 1
AND @date_of_service BETWEEN pcgpc.effective_from AND ISNULL(pcgpc.effective_thru, '12/31/9999')
AND pcgpc.procedure_code_type_id = @px_code_type_id
-- icd version match
AND (@px_icd_version_id IS NULL OR pcgpc.procedure_code_icd_version_id = @px_icd_version_id)
AND @px_code_ud = pc.procedure_code_ud
)

RETURN 0

-- Check for inclusion matched on procedure code range.
IF EXISTS (
SELECT
*
FROM
procedure_code_group pcg
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN procedure_code pcbegin
ON pcgpc.begin_procedure_code_id = pcbegin.procedure_code_id
INNER JOIN procedure_code pcend
ON pcgpc.end_procedure_code_id = pcend.procedure_code_id

WHERE
pcg.procedure_code_group_id = @procedure_code_group_id
-- get INCLUDED codes
AND pcgpc.is_excluded = 0
-- code type match
AND pcgpc.procedure_code_type_id = @px_code_type_id
-- icd version match
AND (@px_icd_version_id IS NULL OR pcgpc.procedure_code_icd_version_id = @px_icd_version_id)
-- code range is effective for dos
AND @date_of_service BETWEEN pcgpc.effective_from AND ISNULL(pcgpc.effective_thru, '12/31/9999')
-- code ud is included in code range
AND @px_code_ud BETWEEN pcbegin.procedure_code_ud AND pcend.procedure_code_ud
)

RETURN 1

-- Check for inclusion matched on category/subcategories
IF EXISTS (
SELECT
*
FROM
procedure_code_group pcg
INNER JOIN procedure_code_group_procedure_code pcgpc
ON pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
INNER JOIN procedure_code pc
ON pc.procedure_code_category_id = pcgpc.procedure_code_category_id
AND (pcgpc.procedure_code_sub_category1_id IS NULL OR pcgpc.procedure_code_sub_category1_id = pc.procedure_code_sub_category1_id)
AND (pcgpc.procedure_code_sub_category2_id IS NULL OR pcgpc.procedure_code_sub_category2_id = pc.procedure_code_sub_category2_id)
AND (pcgpc.procedure_code_sub_category3_id IS NULL OR pcgpc.procedure_code_sub_category3_id = pc.procedure_code_sub_category3_id)

WHERE
pcg.procedure_code_group_id = @procedure_code_group_id
AND pcgpc.is_excluded = 0
AND @date_of_service BETWEEN pcgpc.effective_from AND ISNULL(pcgpc.effective_thru, '12/31/9999')
AND pcgpc.procedure_code_type_id = @px_code_type_id
-- icd version match
AND (@px_icd_version_id IS NULL OR pcgpc.procedure_code_icd_version_id = @px_icd_version_id)
AND @px_code_ud = pc.procedure_code_ud
)

RETURN 1

-- Wasn't excluded, but also wasn't included.
RETURN 0

SET NOCOUNT OFF
GO
