USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/14/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/14/2009  W.Christensen  1.0      Added end date to schedule.
05/07/2014  L Hendrix      1.1      Removed locking on modified_date.  Ticket #6631
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save ClientFeeSetup form data
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_save]
(
@client_fee_setup_id       int = NULL   OUTPUT
,@client_id	                int = NULL
,@invoice_schedule_form_id  int = NULL OUTPUT
,@active                    bit = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @client_fee_setup_id IS NULL
BEGIN
-- Create a new client_fee_setup record
INSERT INTO client_fee_setup (
client_id
,invoice_schedule_form_id
,active
)
VALUES
(@client_id
,@invoice_schedule_form_id
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @client_fee_setup_id = SCOPE_IDENTITY()

END
ELSE IF NOT EXISTS (SELECT * FROM client_fee_setup WHERE client_fee_setup_id = @client_fee_setup_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

-- Updating an existing client_fee_setup record
UPDATE client_fee_setup
SET
client_id                  = @client_id
,invoice_schedule_form_id  = @invoice_schedule_form_id
,active                    = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_fee_setup_id = @client_fee_setup_id
--

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)

END

RETURN @SP_SUCCESS
--
GO
