USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 09/29/2008
--
REVISION_HISTORY:
--
Date        Modified By      Version Description
--------------------------------------------------------------------------------
09/29/2008	vishwa Jella	 1.0     Created
03/12/2009  Wade Christensen 1.1     Fixed error in select criteria for payments
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check for transaction can be deleted or not.

Delete Condition :	When Transaction is Manual, And It is not existing in Any Payment.
Then We can Delete it.
Otherwise It can't be deleted.
And Also We cna't delete transactions created by any other Process except manual


--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT accounting_transaction_ap_id
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @id)
RETURN @SP_DELETE_ABLE

ELSE
BEGIN -- If Transaction is Manually Created and It is not existing in any payment, then We can able to Delete,OtherWise we can't delete transaction
IF EXISTS(	SELECT accounting_transaction_ap_id FROM accounting_transaction_ap atap
INNER JOIN accounting_source ON accounting_source.accounting_source_id = atap.accounting_source_id
WHERE accounting_transaction_ap_id = @id and accounting_source.golden_key != 'Manual Transaction')
OR EXISTS(	SELECT accounting_transaction_ap_id FROM accounting_transaction_ap_apply_to atapat
INNER JOIN accounting_transaction_ap atap ON atap.accounting_transaction_ap_id = atapat.to_accounting_transaction_ap_id
WHERE to_accounting_transaction_ap_id = @id)
BEGIN

--check apply_to transactions (accounting_transaction_ap_apply_to)
SELECT 'Payment' AS object_golden_key,atp.accounting_transaction_ap_ud As object_ud
FROM accounting_transaction_ap_apply_to atapat
INNER JOIN accounting_transaction_ap atp ON atp.accounting_transaction_ap_id = atapat.from_accounting_transaction_ap_id
WHERE atapat.to_accounting_transaction_ap_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
