USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_invoice_review_period_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/06/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/06/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for client_fee_setup_invoice_review_period_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_fee_setup_invoice_review_period_rule_load]
(
@client_fee_setup_id AS INT
)
AS
--
--
SET NOCOUNT ON
--

SELECT
cfsirpr.client_fee_setup_invoice_review_period_rule_id,
cfsirpr.client_fee_setup_id,
cfsirpr.invoice_review_period_rule_id,
irpr.invoice_review_period_rule_ud,
cfsirpr.number_of_days,
cfsirpr.effective_from,
cfsirpr.effective_thru,
cfsirpr.modified_date
FROM client_fee_setup_invoice_review_period_rule cfsirpr
INNER JOIN invoice_review_period_rule irpr ON cfsirpr.invoice_review_period_rule_id = irpr.invoice_review_period_rule_id
WHERE client_fee_setup_id = @client_fee_setup_id

return @@ROWCOUNT
--
GO
