USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_vendor_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 18 2005  8:44PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_vendor_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
vendor.vendor_id
,vendor.vendor_ud
--      ,vendor.vendor_nm
--      ,vendor.description
--      ,vendor.vendor_tax_identifier
--      ,vendor.active
--      ,vendor.created_user_name
--      ,vendor.created_group_id

--      ,created_group.created_group_ud
--      ,vendor.created_date
--      ,vendor.modified_date
FROM vendor
--      inner join created_group  ON created_group.created_group_id = vendor.created_group_id
--WHERE vendor.vendor_id = @vendor_id
--
ORDER BY vendor_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
