USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_area_of_oral_cavity_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
DATE: 08/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/17/2005	Hiep Nguyen	1.0		create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down area_of_oral_cavity (Area Of Oral Cavity)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_area_of_oral_cavity_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
area_of_oral_cavity.area_of_oral_cavity_id
,area_of_oral_cavity.area_of_oral_cavity_ud
,area_of_oral_cavity.area_of_oral_cavity_nm

FROM area_of_oral_cavity

--
ORDER BY area_of_oral_cavity_ud ASC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
