USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_header_result_code]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeffrey Bernard
Date: 3/4/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/04/2016	jbernard		1.0			Created
--
CURRENT_VERSION: 1.0

HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_add_header_result_code] (
@claimId BIGINT
,@resultCodeId BIGINT
,@resultCodeStatusId BIGINT = NULL
)
AS
BEGIN
---- If status code is null, use the default.
--IF (@resultCodeStatusId IS NULL)
--	SELECT @resultCodeStatusId = rc.result_code_status_id
--	FROM result_code rc
--	WHERE rc.result_code_id = @resultCodeId

-- Do not insert the result code if it already exists.
IF NOT EXISTS (
SELECT 1
FROM dbo.adjudication_result_code arc
WHERE arc.claim_id = @claimId
AND arc.claim_procedure_id IS NULL
AND arc.result_code_id = @resultCodeId
)
BEGIN
-- Add result code to the header.
INSERT INTO dbo.adjudication_result_code (
dbo.adjudication_result_code.claim_id
,dbo.adjudication_result_code.result_code_id
,dbo.adjudication_result_code.result_code_status_id
,dbo.adjudication_result_code.active
)
VALUES (
@claimId
,@resultCodeId
,@resultCodeStatusId
,1
)
END
END
-- RETURN 1
GO
