USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_condition_list_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to insert | update criteria_condition

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:
0	Success
-1	Exception occurred, refer to error message
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_condition_list_save]
(
@criteria_condition_id		INT = NULL OUTPUT
,@criteria_id			INT = NULL
,@criteria_object_id		INT = NULL
,@criteria_operator_id		INT = NULL
,@criteria_value			NVARCHAR(255) = NULL
,@value_stored_id		NVARCHAR(255) = NULL
,@find_form			NVARCHAR(255) = NULL
,@active			BIT = 1
)

AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF isnull(@find_form,'') <> ''
SET @criteria_value = @value_stored_id

IF @criteria_condition_id IS NULL
BEGIN
-- insert new criteria_condition
INSERT INTO criteria_condition
(
criteria_id
,criteria_object_id
,criteria_operator_id
,criteria_value
,active
)
VALUES
(@criteria_id
,@criteria_object_id
,@criteria_operator_id
,@criteria_value
,@active
)
SET @criteria_condition_id = @@IDENTITY
END
ELSE IF NOT EXISTS ( SELECT criteria_condition_id FROM criteria_condition WHERE criteria_condition_id = @criteria_condition_id )
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
-- update criteria_condition
UPDATE criteria_condition
SET
criteria_id			= @criteria_id
,criteria_object_id		= @criteria_object_id
,criteria_operator_id		= @criteria_operator_id
,criteria_value			= @criteria_value
,active				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE criteria_condition_id = @criteria_condition_id
END

IF @@ERROR <> ''
RETURN @SP_EXCEPTION
RETURN @SP_SUCCESS
GO
