USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_on_demand_run_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for form frmDisbursementOnDemandRun

--
REQUIREMENTS:
--
INPUTS:
@disbursement_on_demand_run_id
@do_not_release
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disbursement_on_demand_run_save]
(
@disbursement_on_demand_run_id    INT = NULL OUTPUT
,@disbursement_on_demand_run_ud NVARCHAR(50) = NULL
,@description NVARCHAR(255) = NULL
,@active                BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_UPDATE_FAILS NVARCHAR(50)

SELECT
@SP_SUCCESS   = 0
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'


IF @disbursement_on_demand_run_id IS NULL
BEGIN
INSERT INTO disbursement_on_demand_run (
disbursement_on_demand_run_ud
,description
) VALUES
(
@disbursement_on_demand_run_ud
,@description
)
SET @disbursement_on_demand_run_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE disbursement_on_demand_run
SET
disbursement_on_demand_run_ud = @disbursement_on_demand_run_ud
,description					= @description
,active                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE disbursement_on_demand_run_id = @disbursement_on_demand_run_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
