USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_family_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for drop down auto_create_family_id_rule (Auto Create Family ID Rule)
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_auto_create_family_id_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
auto_create_family_id_rule_id
,auto_create_family_id_rule_ud
,golden_key
FROM auto_create_family_id_rule
ORDER BY auto_create_family_id_rule_ud
--
RETURN @SP_SUCCESS
GO
