USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_episode_type_by_episode_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 30 2005  3:20PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
02/27/2008	David Slayton	1.1			Filtered list by Category ID.
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load data for drop down episode_type (Episode Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_episode_type_by_episode_category_load]
(
@episode_category_id			int = NULL
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
episode_type.episode_type_id
,episode_type.episode_type_ud
FROM episode_type
--      inner join created_group  ON created_group.created_group_id = episode_type.created_group_id
WHERE episode_type.episode_category_id = @episode_category_id
ORDER BY episode_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
