USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_check_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/16/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/16/2008	lrenard					created
08/08/2008	lrenard & ccessnun	1.1		accounting schema changed - fixing joins
09/28/2008	Vishwa Jella	1.2		removed accounting payment queue joins and revise check delete
04/22/2009	David Slayton	1.3		Removed accounting company from customer table.
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Used to check if an accounting company can be deleted.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_check_delete]
(
@id                      int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@return			int,
@SP_DELETE_ABLE	int,
@SP_DELETE_UNABLE	int,
@SP_EXCEPTION		int
SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION 		= -1


-- delete company 1
IF NOT EXISTS (SELECT * FROM accounting_company WHERE accounting_company_id =  @id)
BEGIN
RETURN @SP_DELETE_ABLE
END
--
IF EXISTS(SELECT * FROM accounting_transaction_ap WHERE accounting_company_id = @id)
OR EXISTS(SELECT * FROM accounting_transaction_ar WHERE accounting_company_id = @id)
OR EXISTS(SELECT * FROM benefit_contract WHERE accounting_company_id = @id)
OR EXISTS(SELECT * FROM client WHERE accounting_company_id = @id)
BEGIN
SELECT 'Accounting Transaction AP' AS object_golden_key,
ata.accounting_transaction_ap_ud AS object_ud
FROM accounting_transaction_ap ata
INNER JOIN accounting_transaction_ap_type atat ON atat.accounting_transaction_ap_type_id = ata.accounting_transaction_ap_type_id
WHERE ata.accounting_company_id = @id
AND atat.golden_key <> 'PAYMENT'

SELECT 'Accounting Transaction AR' AS object_golden_key,
accounting_transaction_ar_ud AS object_ud
FROM accounting_transaction_ar
WHERE accounting_company_id = @id

SELECT 'Benefit Contract' AS object_golden_key,
benefit_contract_ud AS object_ud
FROM benefit_contract
WHERE accounting_company_id = @id

SELECT 'Payment' AS object_golden_key,
ata.accounting_transaction_ap_ud AS object_ud
FROM accounting_transaction_ap_payment_detail atappd
INNER JOIN accounting_transaction_ap ata ON ata.accounting_transaction_ap_id = atappd.accounting_transaction_ap_id
WHERE ata.accounting_company_id = @id

SELECT 'Client' AS object_golden_key,
cn.client_ud AS object_ud
FROM client c
INNER JOIN client_name cn ON cn.client_id = c.client_id AND cn.primary_name = 1
WHERE c.accounting_company_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE

--
GO
