USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_adjudication_object_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
DATE: 10/31/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2006	ThuyNguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
This procedure is used to load data for drop down adjudication_object_type (Adjudication Object Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/



CREATE   PROCEDURE [dbo].[plx_dd_adjudication_object_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
adjudication_object_type.adjudication_object_type_id
,adjudication_object_type.adjudication_object_type_ud

FROM adjudication_object_type
ORDER BY adjudication_object_type_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
