USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_number_of_tooth_surfaces_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/25/2010
--
REVISION_HISTORY:
--
Date          Modified By    Version		Description
--------------------------------------------------------------------------------
10/25/2010    eponomareff    1.0            Created

DESCRIPTION:

For dental procedure codes - Some CDT codes specify the number of tooth surfaces
as part of the Procedure Code description.

HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_number_of_tooth_surfaces_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
number_of_tooth_surfaces_id
,number_of_tooth_surfaces_ud
FROM
number_of_tooth_surfaces
ORDER BY
number_of_tooth_surfaces_ud
--
RETURN @SP_SUCCESS
--
GO
