USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_procedure_code_group_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2005	Tinh Do		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_procedure_code_group_load]
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT procedure_code_group_id ,procedure_code_group_ud
FROM procedure_code_group
ORDER BY procedure_code_group_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
