USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_contact_association_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/12/2005	Anh Ta		1.0		Load Contact Association Type
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down contact_association_type (Association Type (Contact Association Type))
--
REQUIREMENTS:
--
INPUTS:
contact_association_type_id - Key to contact_association_type table, identifies a single stored dd_contact_association_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_contact_association_type_load]

--	(
--      @contact_association_type_id			Int
--	)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
-- ,contact_association_type.active
-- ,contact_association_type.created_user_name
-- ,contact_association_type.created_group_id

-- ,created_group.created_group_ud
-- ,contact_association_type.created_date
-- ,contact_association_type.modified_date
FROM contact_association_type
--      inner join created_group  ON created_group.created_group_id = contact_association_type.created_group_id
--WHERE contact_association_type.contact_association_type_id = @contact_association_type_id
--
ORDER BY contact_association_type_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
--RAISERROR('dd_contact_association_type object not found in contact_association_type for internal key %d.', 16, 1, @contact_association_type_id)
RETURN @SP_EXCEPTION
END
--
GO
