USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_all_user_defined_factor_topic_value_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen
Date: 4/14/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/14/2006   	HiepNguyen   1.1        Modified
6/04/2009  Chad Maddox			Copied from additional_information for user_defined_factors
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load all user defined factor topic value.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_all_user_defined_factor_topic_value_load]
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
user_defined_factor_topic_value.user_defined_factor_topic_value_id
,user_defined_factor_topic_value.user_defined_factor_topic_value_ud
,user_defined_factor_topic_value.description
,user_defined_factor_topic_value.is_topic_value_default
,user_defined_factor_topic_value.user_defined_factor_topic_id	AS	'topicID'
,user_defined_factor_topic.user_defined_factor_topic_ud	AS	'topicUD'
FROM user_defined_factor_topic_value
inner join user_defined_factor_topic  ON user_defined_factor_topic.user_defined_factor_topic_id = user_defined_factor_topic_value.user_defined_factor_topic_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
