USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_state_single_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used by Coverage Level Processing (called by the UI) to store a single record
in the coverage_level_state table. A record is stored only if it provides
new information. This means:
o if no record having the same enrollment, benefit plan, and as of date exists,
then a record is inserted,
o else, if such a record does exist, and with a different tier critiera,
then that record is updated,
o else, if an identical record exists, no change is made to the database.

This stored procedure returns a boolean (bit) for each possibility:
isInserted
isUpdated
isNoChange

Note: Deletes (for termed coverages) are processed separately by
stored procedure:
plx_coverage_level_process_states_delete_for_enrollment

******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_state_single_save]
@family_eligibility_id INT,
@benefit_plan_id INT,
@tier_criteria_id INT,
@as_of_date DATE
AS

BEGIN

DECLARE @isInserted BIT = 0,
@isUpdated BIT = 0,
@isNoChange BIT = 0

DECLARE @coverageLevelStateId INT =
(SELECT cls.coverage_level_state_id FROM coverage_level_state cls
WHERE cls.as_of_date = @as_of_date
AND cls.family_eligibility_id = @family_eligibility_id
AND cls.benefit_plan_id = @benefit_plan_id)

IF @coverageLevelStateId IS NULL
BEGIN
INSERT coverage_level_state (family_eligibility_id, benefit_plan_id, as_of_date, tier_criteria_id)
VALUES (@family_eligibility_id, @benefit_plan_id, @as_of_date, @tier_criteria_id);
SET @coverageLevelStateId = @@IDENTITY;
SET @isInserted = 1;
END
ELSE
BEGIN
-- check if tier criteria has changed
DECLARE @currentTierCriteriaId INT = (SELECT cls.tier_criteria_id
FROM coverage_level_state cls
WHERE coverage_level_state_id = @coverageLevelStateId);

IF @currentTierCriteriaId <> @tier_criteria_id
BEGIN
UPDATE coverage_level_state
SET tier_criteria_id = @tier_criteria_id,
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()
WHERE coverage_level_state_id = @coverageLevelStateId;
SET @isUpdated = 1;
END
ELSE
BEGIN
SET @isNoChange = 1;
END
END

-- report results back to caller
SELECT
@coverageLevelStateId as [coverage_level_state_id],
@isInserted as [IsInserted],
@isUpdated as [IsUpdated],
@isNoChange as [IsNochange];

END

RETURN 0;
GO
