USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
05/31/2008 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/31/2008	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a auto termination Queue.
--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_queue_delete]
(
@auto_termination_queue_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM auto_termination_queue WHERE auto_termination_queue_id = @auto_termination_queue_id)
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

--Check if this auto termination queue is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_auto_termination_queue_check_delete @auto_termination_queue_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Delete auto termination queue children.
DELETE FROM auto_termination_queue_queue_criteria
WHERE auto_termination_queue_id = @auto_termination_queue_id

-- Get the schedule form id
DECLARE @schedule_form_id INT

SELECT @schedule_form_id = schedule_form_id
FROM auto_termination_queue
WHERE auto_termination_queue_id = @auto_termination_queue_id

-- Delete the auto termination queue.
DELETE FROM auto_termination_queue
WHERE auto_termination_queue_id = @auto_termination_queue_id

-- Delete the schedule for the auto termination queue.
IF @schedule_form_id IS NOT NULL
BEGIN
DELETE FROM schedule_form
WHERE schedule_form_id = @schedule_form_id
END
END
--
RETURN @SP_SUCCESS
--
GO
