USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_contact_check_delete]
(
@id INT = NULL OUTPUT
)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_DELETE_ABLE INT
,@SP_DELETE_UNABLE INT
,@SP_EXCEPTION INT
,@result INT;

SET @SP_DELETE_ABLE = 1;
SET @SP_DELETE_UNABLE = 0;
SET @SP_EXCEPTION = - 1;
SET @result = @SP_DELETE_ABLE;

-- return exception if contact does not exist
IF NOT EXISTS (
SELECT 1
FROM contact
WHERE contact_id = @id
)
BEGIN
RETURN @SP_EXCEPTION
END
-- check to see if its assigned to a accounting company
ELSE IF EXISTS (
SELECT 1
FROM bank_account_contact bac
WHERE bac.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a agent/brokerage
ELSE IF EXISTS (
SELECT 1
FROM agent_contact ac
WHERE ac.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a benefit contract
ELSE IF EXISTS (
SELECT 1
FROM benefit_contract_contact bcc
WHERE bcc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a carrier
ELSE IF EXISTS (
SELECT 1
FROM carrier_contact cc
WHERE cc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a client
ELSE IF EXISTS (
SELECT 1
FROM client_contact cc
WHERE cc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a customer
ELSE IF EXISTS (
SELECT 1
FROM customer_contact cc
WHERE cc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a group
ELSE IF EXISTS (
SELECT 1
FROM client_group_contact cgc
WHERE cgc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a member
ELSE IF EXISTS (
SELECT 1
FROM member_contact mc
WHERE mc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a member cob commercial
ELSE IF EXISTS (
SELECT 1
FROM cob_member_commercial_health_plan_contact cmchpc
WHERE cmchpc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a member cob governmental
ELSE IF EXISTS (
SELECT 1
FROM cob_member_governmental_health_plan_contact cmghpc
WHERE cmghpc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a member subrogation case
ELSE IF EXISTS (
SELECT 1
FROM subrogation_case_member_third_party_liability_plan_contact scmtplpc
WHERE scmtplpc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a member Third Party Liability Plan
ELSE IF EXISTS (
SELECT 1
FROM third_party_liability_plan_contact tplpc
WHERE tplpc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a provider network
ELSE IF EXISTS (
SELECT 1
FROM provider_network_contact pnc
WHERE pnc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a practice office
ELSE IF EXISTS (
SELECT 1
FROM practice_office_contact poc
WHERE poc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a vendor
ELSE IF EXISTS (
SELECT 1
FROM vendor_contact vc
WHERE vc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END
-- check to see if its assigned to a reinsurance carrier
ELSE IF EXISTS (
SELECT 1
FROM reinsurance_carrier_contact rc
WHERE rc.contact_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END

RETURN @result
GO
