USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_reinsurance_billing_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to delete a row from grdAccountAssignment on
frmReinsuranceBillingAccountAssignments.
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_reinsurance_billing_delete]
(
@account_assignment_reinsurance_billing_id INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50);
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER';
--
IF NOT EXISTS (SELECT * FROM account_assignment_reinsurance_billing WHERE account_assignment_reinsurance_billing_id = @account_assignment_reinsurance_billing_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM account_assignment_reinsurance_billing
WHERE account_assignment_reinsurance_billing_id = @account_assignment_reinsurance_billing_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
GO
