USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 31 2006  9:41AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/30/2006      HungTNguyen     1.0             Create
05/13/2009	lrenard		2.0		Updated Commercial Health Plan form (18594)

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Commercial Health Plans"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_list_load]

(
@cob_member_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cm.cob_member_commercial_health_plan_id
,cm.cob_member_id

,s.sequence_ud
,cm.insured_name
,cm.date_of_birth
,gender.gender_ud
,rti.relationship_to_insured_ud as relationship_to_member_ud
,benefit_category.benefit_category_ud
,cm.effective_from
,cm.effective_thru
,cm.insurance_plan_name
,cm.commercial_policy_holder_ud
,cm.insured_policy_group_number
,cm.group_identifier
,cm.employer_name

,cm.active
,cm.created_user_name
,cm.created_group_id
,cm.created_date
,cm.modified_date
FROM cob_member_commercial_health_plan cm
left join cob_member  ON cob_member.cob_member_id = cm.cob_member_id
left join gender  ON gender.gender_id = cm.gender_id
left join benefit_category  ON benefit_category.benefit_category_id = cm.benefit_category_id
LEFT JOIN [sequence] s ON s.sequence_id = cm.sequence_id
LEFT JOIN relationship_to_insured rti ON rti.relationship_to_insured_id = cm.relationship_to_member_id

WHERE cm.cob_member_id = @cob_member_id
order by
--cm.effective_from desc,
CASE WHEN cm.effective_from IS NULL THEN 0 ELSE 1 END , cm.effective_from DESC
,CASE WHEN cm.effective_thru IS NULL THEN 0 ELSE 1 END , cm.effective_thru DESC
,insurance_plan_name asc, carrier_name asc, benefit_category_ud asc


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
