USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_frequency_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
2016-04-15 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2016-04-15	eponomareff	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from grdInvoiceFrequency on Enrollment Form.
--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_premium_invoice_frequency_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_frequency_delete]
(
@family_eligibility_premium_invoice_frequency_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --

--
IF NOT EXISTS (SELECT * FROM family_eligibility_premium_invoice_frequency WHERE family_eligibility_premium_invoice_frequency_id = @family_eligibility_premium_invoice_frequency_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM family_eligibility_premium_invoice_frequency
WHERE family_eligibility_premium_invoice_frequency_id = @family_eligibility_premium_invoice_frequency_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
