USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_by_accumulator_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 09/15/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/03/20005	mttran						add two more rules:
1. only list choice list resolved at "Benefit Plan"
2. only list choice list with more than one valid choice
10/20/2005	mttran						get more choice list on accumulator sub limit rule
02/29/2008	David Slayton	1.2			accumulator_id/_ud fields now point to the
accumulator_framework_accumulator_class_accumulator_id/_ud fields
03/18/2008	David Slayton	1.3			Included accumulator_sub_limit_id in the returned result set;
will be used to evaluate auto population of the Accumulator
Choice Resolution grid.
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Populate accumulator class record in Accumulator choice list resolution when user choose a Accumulator framework
in Accumulator framework grid of Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:

--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_by_accumulator_framework_load]
(
@accumulator_framework_id 	int
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
NULL AS benefit_plan_accumulator_class_choice_resolution_id
,accumulator_rule.accumulator_limit_rule_id
,accumulator_rule.accumulator_sub_limit_rule_id
,afac.accumulator_framework_id
,afac.accumulator_class_id
,accumulator_class.accumulator_class_ud
,afacc.accumulator_framework_accumulator_class_accumulator_id
,afacc.accumulator_framework_accumulator_class_accumulator_ud
,accumulator_rule.accumulator_sub_limit_id
,ind_choice_list.accumulator_choice_list_id		as individual_accumulator_choice_list_id
,CONVERT(INT, NULL) 							as individual_accumulator_valid_choice_id
,CONVERT(NVARCHAR, NULL)						as individual_accumulator_valid_choice_ud
,family_choice_list.accumulator_choice_list_id	as family_accumulator_choice_list_id
,CONVERT(INT, NULL)								as family_accumulator_valid_choice_id
,CONVERT(NVARCHAR, NULL)						as family_accumulator_valid_choice_ud
,accumulator_rule.effective_from			as effective_from
,accumulator_rule.effective_thru			as effective_thru
,accumulator_rule.effective_from			as ac_eff_from
,accumulator_rule.effective_thru			as ac_eff_thru
FROM
dbo.accumulator_framework_accumulator_class_accumulator afacc
INNER JOIN dbo.accumulator_framework_accumulator_class afac
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN dbo.accumulator_class
ON accumulator_class.accumulator_class_id = afac.accumulator_class_id
INNER JOIN (
SELECT 	 accumulator_framework_accumulator_class_accumulator_id
,NULL AS accumulator_sub_limit_id
,individual_accumulator_choice_list_id
,family_accumulator_choice_list_id
,effective_from
,effective_thru
,accumulator_limit_rule_id
,NULL AS accumulator_sub_limit_rule_id
FROM 	accumulator_limit_rule
UNION
SELECT	 asl.accumulator_framework_accumulator_class_accumulator_id
,asl.accumulator_sub_limit_id
,aslr.individual_accumulator_choice_list_id
,aslr.family_accumulator_choice_list_id
,aslr.effective_from
,aslr.effective_thru
,NULL AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id
FROM 	accumulator_sub_limit_rule aslr
INNER JOIN accumulator_sub_limit asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
) accumulator_rule
ON accumulator_rule.accumulator_framework_accumulator_class_accumulator_id = afacc.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN (
SELECT 	ind_choice_list1.accumulator_choice_list_id
FROM	dbo.accumulator_choice_list ind_choice_list1
INNER JOIN dbo.resolve_choice_list_at ind_rcla
ON	ind_rcla.resolve_choice_list_at_id = ind_choice_list1.resolve_choice_list_at_id
WHERE	UPPER(ind_rcla.golden_key) = N'BENEFIT PLAN'
AND		1 < (	SELECT	COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice
WHERE	accumulator_valid_choice.accumulator_choice_list_id = ind_choice_list1.accumulator_choice_list_id)
) ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_rule.individual_accumulator_choice_list_id
LEFT JOIN (
SELECT 	family_choice_list1.accumulator_choice_list_id
FROM	dbo.accumulator_choice_list family_choice_list1
INNER JOIN dbo.resolve_choice_list_at family_rcla
ON	family_rcla.resolve_choice_list_at_id = family_choice_list1.resolve_choice_list_at_id
WHERE	UPPER(family_rcla.golden_key) = N'BENEFIT PLAN'
AND		1 < (	SELECT	COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice
WHERE	accumulator_valid_choice.accumulator_choice_list_id = family_choice_list1.accumulator_choice_list_id)
) family_choice_list
ON family_choice_list.accumulator_choice_list_id = accumulator_rule.family_accumulator_choice_list_id
WHERE	afac.accumulator_framework_id = @accumulator_framework_id
AND		(ind_choice_list.accumulator_choice_list_id IS NOT NULL OR family_choice_list.accumulator_choice_list_id IS NOT NULL)

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
