USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_repricing_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Mar 31 2011 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
07/23/2015	dcannon		1.1			added active bit check
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load Repricing Type values on Assign Repricing Workflow form
--

******************************/
CREATE   PROCEDURE [dbo].[plx_dd_repricing_type_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
rt.repricing_type_id
,rt.repricing_type_ud
,rt.golden_key
FROM repricing_type rt
WHERE active = 1
ORDER BY repricing_type_ud
--
RETURN @SP_SUCCESS
GO
