USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_status_in_the_disability_set_find_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 10/4/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
10/04/2005	HungTNguyen		1.1		Created
03/30/2006	Anh Ta			1.2		Fix WildCard
05/14/2009	David Slayton	1.3		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.4		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.4
--
DESCRIPTION:
Load data into Disability set grid
--
REQUIREMENTS:
--
INPUTS:
@disability_status_set_ud 	nvarchar(100) = NULL
,@disability_status_set_nm	nvarchar(200) = NULL
--	,@description			 	nvarchar(510) = NULL
,@effective_from                        datetime = NULL
,@effective_thru                        datetime = NULL
,@disability_status_id	int = NULL
,@show_exact_matches		bit = NULL
)

--
OUTPUTS:
disability_status_set
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE                        PROCEDURE [dbo].[plx_disability_status_in_the_disability_set_find_load]
(
@get_column_headers			BIT = 0
,@disability_status_set_ud 	nvarchar(100) = NULL
,@disability_status_set_nm	nvarchar(200) = NULL
,@description			nvarchar(255) = NULL
,@effective_from                datetime = NULL
,@effective_thru                datetime = NULL
,@disability_status_id		int = NULL
,@show_exact_matches		bit = NULL
,@show_only_current		BIT = 0

)
AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END
IF @disability_status_set_ud IS NOT NULL AND @disability_status_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(d1.disability_status_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@disability_status_set_ud, @show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(d1.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix
IF NOT @disability_status_id IS NULL
SET @SqlCondition = @SqlCondition + ' AND (d2.disability_status_id = ' + CONVERT(varchar(10), @disability_status_id) + ')'


IF @show_only_current = 1
BEGIN
SET @SqlCondition = @SqlCondition + 'AND  ((d1.effective_from IS NULL OR d1.effective_from <=GETDATE())
AND
(d1.effective_thru IS NULL OR d1.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101))) '
END


IF @show_exact_matches = 1
BEGIN
IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ( d1.effective_from = CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from,101) + ''', 101)) '

END
IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND  ( d1.effective_thru = CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END
END
ELSE
BEGIN
IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ( d1.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from,101) + ''', 101)) '

END
IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND  ( d1.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END
END

SET @SqlCondition = @SqlCondition + ' ORDER BY
CASE WHEN d1.effective_from IS NULL THEN 0 ELSE 1 END , d1.effective_from DESC
,CASE WHEN d1.effective_thru IS NULL THEN 0 ELSE 1 END , d1.effective_thru DESC '



SET @SqlQuery =
'SELECT  distinct  TOP (dbo.fn_results_limit())
d1.disability_status_set_id
,d1.disability_status_set_ud
,d1.disability_status_set_ud as disability_status_set_nm
,d1.description
,d1.effective_from
,d1.effective_thru
,CASE WHEN d1.effective_from IS NULL THEN 0 ELSE 1 END
,CASE WHEN d1.effective_thru IS NULL THEN 0 ELSE 1 END


FROM disability_status_set d1
LEFT JOIN disability_status_in_the_disability_set  d2 ON d2.disability_status_set_id = d1.disability_status_set_id
'

--
--	print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
--
GO
