USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_patient_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/24/2006	Anh Ta			1.0		Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the patient statuses that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_find_patient_status_load]
(
@get_column_headers			BIT = 0,
@patient_status_ud nvarchar(50)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)AS
BEGIN
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

IF @patient_status_ud IS NOT NULL AND @patient_status_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(patient_status_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@patient_status_ud,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT  patient_status_id
,patient_status_ud
,description
FROM 	patient_status
'

print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
--
END
--
GO
