USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_cob_amount_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load claim line cob amounts for Claim Line - Additional Carrier Information grid on the Claim COB Entry form
This information is shown per Payer, and per Claim Line.

NOTE:
At least five rows are ALWAYS displayed (see below), even if there
In addition, additional adjustments may be displayed if added by the user or imported.

-- adjudication_object golden keys of grid rows always displayed in this order, and with these names

Golden Key						COB Item				Adjudication UD
-----------------------------------------------------------------------
NET_PAYMENT						Net Payment				Provider Net Payemnt
CONTRACT_AMOUNT					Contracted Amount		Contracted Amount
DEDUCTIBLE_AMOUNT				Deductible Amount		Deductible
COINSURANCE_AMOUNT				Coinsurance Amount		Coinsurance Amount
COPAY_AMOUNT					Copay Amount			Copay Amount


NOTE:
columns with _nk suffix behave like _ud suffix, except that _nk columns should never be changed by users,
like golden keys. The reason we don't use golden_keys for claim_adjustment_reason_code is that this data
must be purchased, so we cannot ship with it.
--
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_procedure_cob_amount_list_load]
(
@claim_id           Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


-- NET PAY ROW
SELECT
cp.claim_procedure_id
,ccp.claim_cob_payer_id
,ccp.sequence_id
,null                          as claim_procedure_cob_adjustment_id
,claim_procedure_cob_amount_id
,null                          as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,null                          as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,'Net Payment'					as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,cpca.net_pay                  as amount
,cpca.net_pay_override         as override_amount
,1                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_procedure cp
JOIN claim_cob_payer ccp
ON cp.claim_id = ccp.claim_id
LEFT JOIN claim_procedure_cob_amount cpca
ON cp.claim_procedure_id = cpca.claim_procedure_id
AND ccp.claim_cob_payer_id = cpca.claim_cob_payer_id
LEFT JOIN adjudication_object ao
ON ao.golden_key = 'NET_PAYMENT'
WHERE cp.claim_id = @claim_id

UNION
-- CONTRACTED AMOUNT (ALLOWED AMOUNT) ROW
SELECT
cp.claim_procedure_id
,ccp.claim_cob_payer_id
,ccp.sequence_id
,null                          as claim_procedure_cob_adjustment_id
,claim_procedure_cob_amount_id
,null                          as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,null                          as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,ao.adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,cpca.allowed_amount           as amount
,cpca.allowed_amount_override  as override_amount
,2                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_procedure cp
JOIN claim_cob_payer ccp
ON cp.claim_id = ccp.claim_id
LEFT JOIN claim_procedure_cob_amount cpca
ON cp.claim_procedure_id = cpca.claim_procedure_id
AND ccp.claim_cob_payer_id = cpca.claim_cob_payer_id
LEFT JOIN adjudication_object ao
ON ao.golden_key = 'CONTRACT_AMOUNT'
WHERE cp.claim_id = @claim_id

UNION
-- THREE NAMED ADJUSTMENTS - DEDUCTIBLE, COINSURANCE, COPAY
-- All three must show
SELECT
cp.claim_procedure_id
,ccp.claim_cob_payer_id
,ccp.sequence_id
,cpca.claim_procedure_cob_adjustment_id
,NULL                          as claim_procedure_cob_amount_id
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,carc.claim_adjustment_reason_code_id
,cpca.claim_adjustment_reason_code_nk
,ao.adjudication_object_id
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 'Deductible Amount'
ELSE ao.adjudication_object_ud
END as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,cpca.amount
,cpca.override_amount
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 3
WHEN ao.golden_key = 'COINSURANCE_AMOUNT' THEN 4
WHEN ao.golden_key = 'COPAY_AMOUNT' THEN 5
END as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_procedure cp
JOIN claim_cob_payer ccp
ON cp.claim_id = ccp.claim_id
left JOIN adjudication_object ao
ON ao.golden_key in (
'DEDUCTIBLE_AMOUNT',
'COINSURANCE_AMOUNT',
'COPAY_AMOUNT')
LEFT JOIN 	claim_procedure_cob_adjustment cpca
ON cp.claim_procedure_id = cpca.claim_procedure_id
AND ccp.claim_cob_payer_id = cpca.claim_cob_payer_id
AND ao.adjudication_object_id = cpca.adjudication_object_id
LEFT JOIN claim_adjustment_group_code cagc
ON cpca.claim_adjustment_group_code_gk = cagc.golden_key
LEFT JOIN claim_adjustment_reason_code carc
ON carc.claim_adjustment_reason_code_nk = cpca.claim_adjustment_reason_code_nk
WHERE cp.claim_id = @claim_id

UNION
-- ANY OTHER ADJUSTMENTS, order by the order entered, only if we have them
SELECT
cpca.claim_procedure_id
,cpca.claim_cob_payer_id
,ccp.sequence_id
,cpca.claim_procedure_cob_adjustment_id
,NULL                          as claim_procedure_cob_amount_id
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,carc.claim_adjustment_reason_code_id
,cpca.claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,carc.description				as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,cpca.amount
,cpca.override_amount
,(cpca.claim_procedure_cob_adjustment_id + 5) as sort_order     -- same order as entered
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_procedure_cob_adjustment cpca
LEFT JOIN adjudication_object ao
ON ao.adjudication_object_id = cpca.adjudication_object_id
LEFT JOIN claim_adjustment_group_code cagc
ON cpca.claim_adjustment_group_code_gk = cagc.golden_key
LEFT JOIN claim_adjustment_reason_code carc
ON carc.claim_adjustment_reason_code_nk = cpca.claim_adjustment_reason_code_nk
LEFT JOIN claim_procedure cp
ON cp.claim_procedure_id = cpca.claim_procedure_id
LEFT JOIN claim_cob_payer ccp
ON ccp.claim_cob_payer_id = cpca.claim_cob_payer_id
WHERE cp.claim_id = @claim_id
AND ao.golden_key IS NULL
ORDER BY sort_order
--
RETURN @SP_SUCCESS
GO
