USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_modifier_rules_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE:   3/27/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
5/3/2012	dcannon		1.1			removed result code override
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to update data for claim processing rule framework form Modifier Rules group
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id
modifier_ud
mod_rule_enabled
mod_result_code_override_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_modifier_rules_save]
(
@claim_processing_rule_framework_id	int = NULL
,@modifier_ud							nvarchar(50) = NULL
,@mod_rule_enabled					bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
IF @modifier_ud = '24'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_24 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '25'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_25 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '54'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_54 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '55'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_55 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '56'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_56 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '57'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_57 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '58'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_58 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '59'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_59 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '78'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_78 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '79'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_79 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '80'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_80 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '81'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_81 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = '82'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_82 = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @modifier_ud = 'AS'
BEGIN
UPDATE claim_processing_rule_framework
SET
mod_AS = @mod_rule_enabled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
END

--
RETURN @SP_SUCCESS
--
GO
