USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_client_fee_setup_ar_fee_total]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

Create Procedure [dbo].[plx_dto_client_fee_setup_ar_fee_total] (
@client_fee_setup_ar_fee_id int,
@from_date datetime,
@thru_date datetime
) AS

SET NOCOUNT ON

SELECT
SUM (cpraf.amount) AS total_amount
FROM
claim_payment_run_ar_fee cpraf
INNER JOIN claim_payment_run cpr ON cpraf.claim_payment_run_id = cpr.claim_payment_run_id
INNER JOIN claim_payment_run_status cprs ON cpr.claim_payment_run_status_id = cprs.claim_payment_run_status_id
INNER JOIN claim_procedure ON cpraf.claim_procedure_id = claim_procedure.claim_procedure_id
INNER JOIN claim ON claim_procedure.claim_id = claim.claim_id

WHERE
cpraf.client_fee_setup_ar_fee_id = @client_fee_setup_ar_fee_id
AND cprs.golden_key <> 'ERROR'
AND claim.clean_date BETWEEN @from_date AND @thru_date


RETURN 0

SET NOCOUNT OFF
GO
