USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_agent_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--

DESCRIPTION:
This procedure is used to load data for individual billing agent assignment
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_agent_list_load]
(
@family_eligibility_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--

SELECT
fepia.family_eligibility_premium_invoice_agent_id,
fepia.family_eligibility_id,
fepia.invoice_agent_identifier_id,
agent_ident.invoice_agent_id,
agent_ident.invoice_agent_identifier_id,
agent_ident.invoice_agent_identifier_ud,
fepia.territory_id,
agent_terr.territory_ud,
fepia.effective_from,
fepia.effective_thru
FROM family_eligibility_premium_invoice_agent fepia
LEFT JOIN invoice_agent_identifier agent_ident ON fepia.invoice_agent_identifier_id = agent_ident.invoice_agent_identifier_id
LEFT JOIN territory agent_terr ON fepia.territory_id = agent_terr.territory_id
WHERE family_eligibility_id = @family_eligibility_id

return @@ROWCOUNT
--
GO
