USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_coverage_level_process_as_of_date_rule_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_coverage_level_process_as_of_date_rule_list_load]
AS

SET NOCOUNT ON

SELECT
coverage_level_process_as_of_date_rule_id
,coverage_level_process_as_of_date_rule_ud
,golden_key
FROM coverage_level_process_as_of_date_rule
ORDER BY coverage_level_process_as_of_date_rule_ud

RETURN 0
GO
