USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le		1.0			create
03/19/2008	David Slayton	1.1			Modeled after plx_benefit_framework_delete.
@cascade not used.  Make sure accumulator framework
is not used before delete.  Delete all dependent data.
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete an accumulator framework.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_delete]
(
@accumulator_framework_id                   int = NULL
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@FOUND_CHILD int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@FOUND_CHILD = 0,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'

-- Temporary table to store where the accumulator framework is used
CREATE TABLE #InUse (
[MessageKey] VARCHAR(255) NULL,
[DisplayData] VARCHAR(255) NULL)

--
IF NOT EXISTS (SELECT * FROM accumulator_framework WHERE accumulator_framework_id = @accumulator_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
-- Check if this accumulator framework is in use in any benefit plans.
INSERT INTO #InUse ([DisplayData])
SELECT 'Benefit Plan ID: ' + benefit_plan.benefit_plan_ud
FROM benefit_plan
INNER JOIN benefit_plan_accumulator_framework
ON benefit_plan.benefit_plan_id = benefit_plan_accumulator_framework.benefit_plan_id
WHERE benefit_plan_accumulator_framework.accumulator_framework_id  = @accumulator_framework_id

-- Check if this accumulator framework is in use in any benefit contracts.
INSERT INTO #InUse ([DisplayData])
SELECT 'Benefit Contract ID: ' + benefit_contract.benefit_contract_ud
FROM benefit_contract
INNER JOIN benefit_contract_accumulator_framework
ON benefit_contract.benefit_contract_id = benefit_contract_accumulator_framework.benefit_contract_id
WHERE benefit_contract_accumulator_framework.accumulator_framework_id  = @accumulator_framework_id
AND benefit_contract.benefit_contract_template = 0

-- Check if this accumulator framework is in use in any benefit contract templates.
INSERT INTO #InUse ([DisplayData])
SELECT 'Benefit Contract Template ID: ' + benefit_contract.benefit_contract_ud
FROM benefit_contract
INNER JOIN benefit_contract_accumulator_framework
ON benefit_contract.benefit_contract_id = benefit_contract_accumulator_framework.benefit_contract_id
WHERE benefit_contract_accumulator_framework.accumulator_framework_id  = @accumulator_framework_id
AND benefit_contract.benefit_contract_template = 1

-- If any rows are in the in use table then the accumulator framework is used and can not be deleted.
IF EXISTS (SELECT * FROM #InUse)
BEGIN
SELECT @FOUND_CHILD = 1
END

IF @FOUND_CHILD = 0
BEGIN
BEGIN TRANSACTION

-- Delete child rows and then delete accumulator framework row.
-- Assume that if the accumulator framework isn't being used, that the child data isn't being used.
DELETE FROM accumulator_sub_limit_rule
FROM accumulator_sub_limit_rule aslr
INNER JOIN accumulator_sub_limit asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON asl.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_sub_limit_treatment_type_set
FROM accumulator_sub_limit_treatment_type_set asltts
INNER JOIN accumulator_sub_limit asl
ON asltts.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON asl.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_sub_limit_criteria
FROM accumulator_sub_limit_criteria aslc
INNER JOIN accumulator_sub_limit asl
ON aslc.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON asl.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_sub_limit
FROM accumulator_sub_limit asl
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON asl.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_limit_rule
FROM accumulator_limit_rule alr
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON alr.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_first_coverage_distribution
FROM accumulator_first_coverage_distribution afcd
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afcd.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_treatment_type_set
FROM accumulator_treatment_type_set atts
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON atts.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_criteria
FROM accumulator_criteria ac
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON ac.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_framework_accumulator_class_accumulator
FROM accumulator_framework_accumulator_class_accumulator afaca
INNER JOIN accumulator_framework_accumulator_class afac
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_valid_choice
FROM accumulator_valid_choice avc
INNER JOIN accumulator_choice_list acl
ON avc.accumulator_choice_list_id = acl.accumulator_choice_list_id
INNER JOIN accumulator_framework_accumulator_class afac
ON acl.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_choice_list
FROM accumulator_choice_list acl
INNER JOIN accumulator_framework_accumulator_class afac
ON acl.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
WHERE afac.accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_framework_accumulator_class
WHERE accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_framework_benefit_category
WHERE accumulator_framework_id = @accumulator_framework_id

DELETE FROM accumulator_framework
WHERE accumulator_framework_id = @accumulator_framework_id



DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)


COMMIT TRANSACTION
END
ELSE
BEGIN
-- Return objects that the accumulator framework is used on.  Dash as an alias is temporary
-- until final messaging system is implemented.  Only returning DisplayData until final
-- implementation of messaging.
SELECT  --[MessageKey],
[DisplayData] as '-'
FROM #InUse
RETURN @SP_EXCEPTION
END
END
--
RETURN @SP_SUCCESS
--
END
GO
