USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_allowed_on_benefit_contract_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006  3:46PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/10/2006     Thuy Ngo   1.0          created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_depreciation_allowed_on_benefit_contract table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_depreciation_allowed_on_benefit_contract_save]
(
@commission_depreciation_allowed_on_benefit_contract_id int = NULL OUTPUT
,@commission_depreciation_id                 int = NULL
,@benefit_contract_id                        int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @commission_depreciation_allowed_on_benefit_contract_id is Null
BEGIN

--- Create a new commission_depreciation_allowed_on_benefit_contract record
INSERT INTO commission_depreciation_allowed_on_benefit_contract(
commission_depreciation_id
,benefit_contract_id
,effective_from
,effective_thru
)
VALUES
(@commission_depreciation_id
,@benefit_contract_id
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_depreciation_allowed_on_benefit_contract_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_depreciation_allowed_on_benefit_contract WHERE commission_depreciation_allowed_on_benefit_contract_id = @commission_depreciation_allowed_on_benefit_contract_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_depreciation_allowed_on_benefit_contract record
UPDATE commission_depreciation_allowed_on_benefit_contract
SET
commission_depreciation_id               = @commission_depreciation_id
,benefit_contract_id                      = @benefit_contract_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_depreciation_allowed_on_benefit_contract_id = @commission_depreciation_allowed_on_benefit_contract_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
