USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_volume_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_volume_load] (@benefit_contract_period_benefit_plan_id INT = NULL)
AS
SET NOCOUNT ON
SET @benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)

DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT bpcpv.benefit_contract_period_benefit_plan_volume_id
,bpcpv.benefit_contract_period_benefit_plan_id
,bpcpv.employee_class_id
,ec.employee_class_ud
,bpcpv.premium_rate_relationship_type_id
,prrt.premium_rate_relationship_type_ud
,bpcpv.volume_id
,pr.premium_volume_ud AS volume_ud
,bpcpv.effective_from
,bpcpv.effective_thru
,bpcpv.active
,bpcpv.created_user_name
,bpcpv.created_group_id
,bpcpv.created_date
,bpcpv.modified_date
FROM benefit_contract_period_benefit_plan_volume AS bpcpv
LEFT JOIN employee_class ec
ON ec.employee_class_id = bpcpv.employee_class_id
LEFT JOIN premium_rate_relationship_type prrt
ON prrt.premium_rate_relationship_type_id = bpcpv.premium_rate_relationship_type_id
INNER JOIN premium_volume pr
ON pr.premium_volume_id = bpcpv.volume_id
WHERE bpcpv.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
