USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************

AUTHOR: Jeremy Hein
Jan	06	2009
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
01/15/09		Jeremy Hein			Created
08/22/2014		eponomareff			RT:6046 data modification project
--------------------------------------------------------------------------------
DESCRIPTION:
This procedure is used to load data for grid "User Assigned Result Codes"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_user_assigned_result_code_list_load]

(
@family_eligibility_member_benefit_plan_id	Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
uarc.family_eligibility_member_benefit_plan_user_assigned_result_code_id
,uarc.criteria_id
,c.criteria_ud
,uarc.result_code_id
,rc.result_code_ud
,uarc.result_code_status_id
,rcs.result_code_status_ud
,uarc.comment
,uarc.effective_from
,uarc.effective_thru
,uarc.modified_user_name
,uarc.modified_date

FROM family_eligibility_member_benefit_plan_user_assigned_result_code uarc
LEFT JOIN criteria  c ON c.criteria_id = uarc.criteria_id
LEFT JOIN result_code  rc ON rc.result_code_id = uarc.result_code_id
LEFT JOIN result_code_status  rcs ON rcs.result_code_status_id = uarc.result_code_status_id
WHERE 	uarc.family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id
ORDER BY
CASE WHEN uarc.effective_from IS NULL THEN 0 ELSE 1 END , uarc.effective_from DESC
,CASE WHEN uarc.effective_thru IS NULL THEN 0 ELSE 1 END , uarc.effective_thru DESC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
