USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_sel_by_report_file_name]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_report_sel_by_report_file_name] (
@report_file_name nvarchar(100)
) As

Select
report_id,
report_ud,
description,
report_type_id,
report_category_id,
report_file_name,
golden_key
From
report
Where
report_file_name = @report_file_name
GO
