USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/24/2005	Trinh Le	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a benefit choice list in Benefit Framework.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_list_delete]
(
@node1_id                     int = NULL
,@parent1_id			int = null
,@cascade                                    bit = 0
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
if (@parent1_id is not null)
begin
IF NOT EXISTS (SELECT * FROM benefit_framework_choice_list WHERE benefit_framework_choice_list_id = @node1_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_framework_choice_list
WHERE benefit_framework_choice_list_id = @node1_id
END
--
RETURN @SP_SUCCESS
end
else
begin
return @SP_EXCEPTION
end

end
GO
