USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_payment_item_claim_adjustment_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used for Claim Adjustment Reason Codes for all claim forms.
******************************/
CREATE PROCEDURE [dbo].[plx_adjudication_payment_item_claim_adjustment_list_load]
(
@claim_procedure_id INT = NULL,
@plan_iteration_index INT = NULL
)
AS
--
IF (ISNULL(@plan_iteration_index, 0) = 0)
BEGIN
SET @plan_iteration_index = 1;
END;

SELECT
-- adjudication read-only values
apica.adjudication_payment_item_claim_adjustment_id,
apica.claim_procedure_id,
apica.plan_iteration_index,
apica.adjudication_object_id,
ao.adjudication_object_ud,
ao.golden_key,
ao.ui_engine_data_type_id,
override_allowed =
CASE
WHEN ao.golden_key IN
('INELIGIBLE_AMOUNT',
'WRITE_OFF_AMOUNT',
'PROVIDER_RESPONSIBILITY_AMOUNT'
) THEN 1
ELSE 0
END,
aa.adjudication_amount_id,
aa.amount AS calculated_value,
aav.adjudication_amount_override_id,
aav.amount AS override_value,
-- adjudication read-only cacg/carc/rarc values
apica.claim_adjustment_group_code_gk AS adjudicated_claim_adjustment_group_code_gk,
adjudicated_cagc.claim_adjustment_group_code_ud AS adjudicated_claim_adjustment_group_code_ud,
apica.claim_adjustment_reason_code_nk AS adjudicated_claim_adjustment_reason_code_nk,
apica.remittance_advice_remark_code_nk AS adjudicated_remittance_advice_remark_code_nk,
-- editable override values
apica_override.adjudication_payment_item_claim_adjustment_override_id,
apica_override.claim_adjustment_group_code_gk,
cagc.claim_adjustment_group_code_id,
cagc.claim_adjustment_group_code_ud,
carc.claim_adjustment_reason_code_id,
apica_override.claim_adjustment_reason_code_nk,
rarc.remittance_advice_remark_code_id,
apica_override.remittance_advice_remark_code_nk,
apica_override.adjudication_details_override_reason_id,
ador.adjudication_details_override_reason_ud,
apica_override.created_user_name AS user_name,
apica_override.created_date,
apica_override.modified_date
FROM adjudication_payment_item_claim_adjustment apica
LEFT JOIN plx_fn_adjudication_amount(@claim_procedure_id, @plan_iteration_index) aa
ON aa.claim_procedure_id = apica.claim_procedure_id
AND aa.plan_iteration_index = apica.plan_iteration_index
AND aa.adjudication_object_id = apica.adjudication_object_id
LEFT JOIN claim_adjustment_group_code adjudicated_cagc ON adjudicated_cagc.golden_key = apica.claim_adjustment_group_code_gk
-- editable fields
LEFT JOIN adjudication_payment_item_claim_adjustment_override apica_override
ON apica.adjudication_payment_item_claim_adjustment_id = apica_override.adjudication_payment_item_claim_adjustment_id
LEFT JOIN claim_adjustment_group_code cagc ON cagc.golden_key = apica_override.claim_adjustment_group_code_gk
LEFT JOIN claim_adjustment_reason_code carc ON apica_override.claim_adjustment_reason_code_nk = carc.claim_adjustment_reason_code_nk
LEFT JOIN dbo.remittance_advice_remark_code rarc ON apica_override.remittance_advice_remark_code_nk = rarc.remittance_advice_remark_code_nk
-- additional fields
JOIN adjudication_object ao
ON ao.adjudication_object_id = apica.adjudication_object_id
LEFT JOIN plx_fn_adjudication_amount_override(@claim_procedure_id, @plan_iteration_index) aav
ON aa.adjudication_amount_id = aav.adjudication_amount_id
LEFT JOIN adjudication_details_override_reason ador
ON apica_override.adjudication_details_override_reason_id = ador.adjudication_details_override_reason_id
where apica.claim_procedure_id = @claim_procedure_id
AND (
apica.plan_iteration_index = @plan_iteration_index
OR
(
@plan_iteration_index = 1
AND
apica.plan_iteration_index IS NULL
)
)
ORDER BY ao.sort_order;

--
RETURN 0;
GO
