USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
HEADER_BEGIN;


REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/28/05  	PhongQTran		1.0
03/01/2006  HungTNguyen		1.1         changed from tax_exempt_id to tax_exempt_number
08/11/2008	Jonathan McCoy	1.2			added accounting company col & removed include_finance_charge
04/21/2009	David Slayton	1.3			Removed accounting company
03/28/2012	Aaron Mortensen	1.4			Added nsf_fee_amount
09/19/2014	schong			1.5			Added delivery route, and country name
09/22/2014	eponomareff					RT:6823 changes to support Optimistic Concurrency.

CURRENT_VERSION: 1.2

DESCRIPTION:
Load data into customer form


RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_load] (@customer_id INT = NULL)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT customer.customer_id
,customer.customer_ud
,customer.customer_nm
,CONVERT(NVARCHAR(10), customer.premium_paid_through_date, 101) as premium_paid_through_date
,customer.customer_vendor_type_id
,customer.currency_id
,customer.taxable
,customer.tax_group_id
,customer.federal_ein
,customer.tax_exempt_number
,customer.automatically_apply_overpayments
,customer.nsf_fee_amount
,customer_bill_to.customer_bill_to_id
,customer_bill_to.customer_bill_to_nm
,customer_bill_to.attention_nm
,customer_bill_to.address_id
,address.address_1
,address.address_2
,address.delivery_route
,locale.locale_id
,locale.postal_code
,locale.city
,locale.county
,STATE.state_ud
,country.country_ud
,country.country_nm
,customer_bill_to.telephone_number AS phone_number
,customer_bill_to.fax_number AS fax_number
,customer_bill_to.email_address
,customer_bill_to.internet_address
,customer.active
,customer.object_row_version
FROM customer
LEFT JOIN customer_bill_to
ON customer_bill_to.customer_bill_to_id = customer.customer_bill_to_id
LEFT JOIN address
ON address.address_id = customer_bill_to.address_id
LEFT JOIN locale
ON locale.locale_id = address.locale_id
LEFT JOIN STATE
ON STATE.state_id = locale.state_id
LEFT JOIN country
ON country.country_id = locale.country_id
WHERE customer.customer_id = @customer_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
