USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_template_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
DATE: 09/08/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2005	tnguyen			1.0			Created
05/28/2008	wchristensen	1.1			Modified to delegate the call to benefit_contract_delete, since
these are stored in the same table.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for Benefit Contract Template form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_id - Key to benefit_contract table, identifies a single stored benefit_contract.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_template_delete]
(
@benefit_contract_id             int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@RESULT			int

--
EXEC @RESULT = plx_benefit_contract_delete @benefit_contract_id

--
RETURN @RESULT
GO
