USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_cob_amount_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
03/01/2018  eponomareff 1.1     RT:12981 Fix issue with update of netpay deleting the row
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a record in the Claim Line - Additional Carrier Information grid on the Claim COB Entry form
--
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_procedure_cob_amount_save]
(

@claim_procedure_cob_adjustment_id          INT = NULL   OUTPUT
,@claim_procedure_cob_amount_id              INT = NULL   OUTPUT
,@claim_procedure_id                         INT = NULL
,@claim_cob_payer_id                         INT = NULL
,@sequence_id                                INT = NULL
,@amount                                     NUMERIC(19,4) = NULL
,@override_amount                            NUMERIC(19,4) = NULL
,@claim_adjustment_group_code_id             INT = NULL
,@claim_adjustment_reason_code_nk            NVARCHAR(15) = NULL
-- the adjudication object golden key must be examined to determine whether the
-- change needs to be made to the claim_procedure_cob_amount table
-- It is not available to adjustments other than deductible, coinsurance, copay
,@adjudication_object_id                     INT
,@adjudication_object_gk                     NVARCHAR(50) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= ''

--
-- get golden key for @claim_adjusment_group_code_id
DECLARE @claim_adjustment_group_code_gk NVARCHAR(50)
SET @claim_adjustment_group_code_gk =
(SELECT golden_key FROM claim_adjustment_group_code
WHERE claim_adjustment_group_code_id = @claim_adjustment_group_code_id)

-- If necessary, get claim_cob_payer_id based on sequence_id
IF ISNULL(@claim_cob_payer_id, 0) = 0
BEGIN
DECLARE @claim_id INT
SET @claim_id = (SELECT claim_id FROM claim_procedure WHERE claim_procedure_id = @claim_procedure_id)
SET @claim_cob_payer_id =
(SELECT claim_cob_payer_id FROM claim_cob_payer
WHERE claim_id = @claim_id AND sequence_id = @sequence_id)
END

-- CASE 1 - NET PAY populate claim_procedure_cob_amount table
--			NOTE: This row cannot be deleted in the grid; a NULL amount results in deleting the record.
IF @adjudication_object_gk = 'NET_PAYMENT'
BEGIN
IF ISNULL(@claim_procedure_cob_amount_id, 0) = 0
-- create new record
BEGIN
INSERT claim_procedure_cob_amount
(claim_procedure_id, claim_cob_payer_id, net_pay, net_pay_override)
VALUES
(@claim_procedure_id, @claim_cob_payer_id, ISNULL(@amount, 0), @override_amount)

SET @claim_procedure_cob_amount_id = SCOPE_IDENTITY();
END
ELSE
IF @amount IS NOT NULL OR @override_amount IS NOT NULL
BEGIN
-- update existing record
UPDATE 	claim_procedure_cob_amount
SET
net_pay                                 = ISNULL(@amount,0)
,net_pay_override                        = @override_amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()
WHERE claim_procedure_cob_amount_id = @claim_procedure_cob_amount_id
END
ELSE
BEGIN
-- delete the existing record
DELETE claim_procedure_cob_amount
WHERE claim_procedure_cob_amount_id = @claim_procedure_cob_amount_id;
-- remember to set record id to NULL otherwise subsequent updates will fail.
SET @claim_procedure_cob_amount_id = NULL;
END

END

-- CASE 2 - CONTRACTED/ALLOWED AMOUNT populate claim_procedure_cob_amount table
--			Contract Amount must be added AFTER Net Pay, so will always be an UPDATE;
--			A NULL amount for Contracted Amount does not result in deleting the record;
ELSE IF @adjudication_object_gk = 'CONTRACT_AMOUNT'
BEGIN
-- update existing record
UPDATE 	claim_procedure_cob_amount
SET
allowed_amount                          = @amount
,allowed_amount_override                 = @override_amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()
WHERE claim_procedure_id = @claim_procedure_id
AND claim_cob_payer_id = @claim_cob_payer_id
END

-- CASE 3 - INSERT ADJUSTMENT -  claim_procedure_cob_adjustment table

ELSE IF ISNULL(@claim_procedure_cob_adjustment_id,0) = 0

BEGIN
--- Create a new claim_procedure_cob_adjustment record
INSERT INTO dbo.claim_procedure_cob_adjustment(
claim_cob_payer_id
,claim_procedure_id
,adjudication_object_id
,claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk
,amount
,override_amount
)
VALUES(
@claim_cob_payer_id
,@claim_procedure_id
,@adjudication_object_id
,@claim_adjustment_group_code_gk
,@claim_adjustment_reason_code_nk
,ISNULL(@amount, 0)
,@override_amount
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
SET @claim_procedure_cob_adjustment_id = SCOPE_IDENTITY()
END
--
-- CASE 4 - UPDATE EXISTING ADJUSTMENT -  claim_procedure_cob_adjustment table
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int
--- Updating an existing claim_procedure_cob_adjustment record

--- SPECIAL CASE FOR DEDUCTIBLE, COINSURANCE_AMOUNT, COPAY_AMOUNT
--- If the user has deleted the amount, the intention is to delete the entire
--- record. (Deletions to the grid are not allowed for pre-defined records for these
--- three adjustments.)
--- However, any adjustment without an Amount or an Override Amount may be deleted.
BEGIN
IF @amount IS NULL AND @override_amount IS NULL
BEGIN
-- delete the existing record
DELETE dbo.claim_procedure_cob_adjustment
WHERE claim_procedure_cob_adjustment_id = @claim_procedure_cob_adjustment_id
-- remember to set record id to NULL otherwise subsequent updates will fail.
SET @claim_procedure_cob_adjustment_id = NULL;
END
ELSE
BEGIN
UPDATE dbo.claim_procedure_cob_adjustment
SET
claim_cob_payer_id                      = @claim_cob_payer_id
,claim_procedure_id                      = @claim_procedure_id
,adjudication_object_id                  = @adjudication_object_id
,claim_adjustment_group_code_gk          = @claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk	     = @claim_adjustment_reason_code_nk
,amount                                  = ISNULL(@amount,0)
,override_amount                         = @override_amount
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()

WHERE claim_procedure_cob_adjustment_id = @claim_procedure_cob_adjustment_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
END
END

RETURN @SP_SUCCESS
--
GO
