USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_code_group_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/28/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load a Dental Alternate Course Grouping Definition entity

******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_code_group_load]
(
@alternate_course_code_group_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accg.alternate_course_code_group_id
,accg.alternate_course_code_group_ud
,accg.description
,accg.use_min_total
,accg.min_total

FROM
alternate_course_code_group accg

WHERE
accg.alternate_course_code_group_id = @alternate_course_code_group_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN 1
END
--
GO
