USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_hold_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: PhongQTran
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/27/2005	PhongQTran	1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down hold_reason (Hold Reason)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_hold_reason_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
hold_reason.hold_reason_id
,hold_reason.hold_reason_ud
FROM hold_reason
ORDER BY hold_reason.hold_reason_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
