USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/07/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Deletes data from complex_duplicate_claim_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_delete]
(
@complex_duplicate_claim_rule_object_operator_assignment_id INT
)

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DELETE FROM
complex_duplicate_claim_rule_object_operator_assignment
WHERE
complex_duplicate_claim_rule_object_operator_assignment_id = @complex_duplicate_claim_rule_object_operator_assignment_id

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
