USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_customer_payment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 04/08/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/08/2009 	David Slayton	1.0		Created from plx_find_invoice_load
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
03/01/2012	Aaron Mortensen	1.2		Added accounting_payment_status
10/11/2016	jbernard		1.3		Fixed issue with date span checking
06/13/2017	Aaron Mortensen 1.4		RT:10857 - Adding ability to search by payment_posted_date
--
CURRENT_VERSION: 1.3
-
DESCRIPTION:
This procedure is used to find Customer Payments
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_customer_payment_load](
@get_column_headers BIT = 0
,@accounting_transaction_ar_ud NVARCHAR(100) = NULL
,@customer_id INT = NULL
,@payment_method_customer_id INT = NULL
,@check_ach_reference NVARCHAR(20) = NULL
,@accounting_company_id INT = NULL
,@bank_account_id INT = NULL
,@ar_accounting_company_account_id INT = NULL
,@invoice_id INT = NULL
,@payment_date_from DATETIME = NULL
,@payment_date_thru DATETIME = NULL
,@payment_posted_date_from DATETIME = NULL
,@payment_posted_date_thru DATETIME = NULL
,@amount_from NUMERIC(20,10) = NULL
,@amount_thru NUMERIC(20,10) = NULL
,@balance_from NUMERIC(20,10) = NULL
,@balance_thru NUMERIC(20,10) = NULL
,@show_exact_match BIT = 0
,@accounting_payment_status_id INT = NULL)
AS
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SqlQuery NVARCHAR(4000)
,@SqlCondition NVARCHAR(4000)
,@SqlOrderBy NVARCHAR(4000)
,@Prefix NVARCHAR(10)
,@Suffix NVARCHAR(10)


SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@SqlQuery = ''
,@SqlCondition = ' WHERE '+CONVERT(NVARCHAR(1),@get_column_headers)+' = 0 '
,@SqlOrderBy = ''
,@Prefix = ''
,@Suffix = ''


-- Make sure to compare dates only
SET @payment_date_from = CONVERT(DATE,@payment_date_from)
SET @payment_posted_date_from = CONVERT(DATE, @payment_posted_date_from)
-- add a day to the thru date and then use the < comparison operator
SET @payment_date_thru = DATEADD(day,1,CONVERT(DATE,@payment_date_thru))
SET @payment_posted_date_thru = DATEADD(day,1,CONVERT(DATE,@payment_posted_date_thru))


IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

--accounting_transaction_ar_ud
IF @accounting_transaction_ar_ud IS NOT NULL
AND @accounting_transaction_ar_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(accounting_transaction_ar.accounting_transaction_ar_ud, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@accounting_transaction_ar_ud,@show_exact_match
)+@Suffix
END

--@customer_id
IF(@customer_id IS NOT NULL
AND @customer_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND customer.customer_id = '+CONVERT(VARCHAR(10),@customer_id)
END

--@payment_method_customer_id
IF(@payment_method_customer_id IS NOT NULL
AND @payment_method_customer_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar_payment_detail.payment_method_customer_id = '+CONVERT(VARCHAR(10),@payment_method_customer_id)
END

--@accounting_payment_status_id
IF(@accounting_payment_status_id IS NOT NULL
AND @accounting_payment_status_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_payment_status.accounting_payment_status_id = '+CONVERT(VARCHAR(10),@accounting_payment_status_id)
END

--@check_ach_reference
IF(@check_ach_reference IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(accounting_transaction_ar_payment_detail.check_ach_reference, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@check_ach_reference,@show_exact_match
)+@Suffix
END

--@accounting_company_id
IF(@accounting_company_id IS NOT NULL
AND @accounting_company_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ac.accounting_company_id = '+CONVERT(VARCHAR(10),@accounting_company_id)
END

--@bank_account_id
IF(@bank_account_id IS NOT NULL
AND @bank_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar_payment_detail.bank_account_id = '+CONVERT(VARCHAR(10),@bank_account_id)
END

--@ar_accounting_company_account_id
IF(@ar_accounting_company_account_id IS NOT NULL
AND @ar_accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar_payment_detail.ar_accounting_company_account_id = '+CONVERT(VARCHAR(10),@ar_accounting_company_account_id)
END

--@invoice_id
IF(@invoice_id IS NOT NULL
AND @invoice_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND invoice_apply_to.to_accounting_transaction_ar_id = '+CONVERT(VARCHAR(10),@invoice_id)
END

--@payment_date_from
IF(@payment_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar_payment_detail.payment_date >= '''+CONVERT(VARCHAR(23),@payment_date_from)+''''
END

--@payment_date_thru
IF(@payment_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar_payment_detail.payment_date < '''+CONVERT(VARCHAR(23),@payment_date_thru)+''''
END

--@payment_posted_date_from
IF(@payment_posted_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND invoice_apply_to.posted_date >= '''+CONVERT(VARCHAR(23),@payment_posted_date_from)+''''
END

--@payment_posted_date_thru
IF(@payment_posted_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND invoice_apply_to.posted_date < '''+CONVERT(VARCHAR(23),@payment_posted_date_thru)+''''
END

--@amount_from
IF(@amount_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar.transaction_amount >= '+CONVERT(VARCHAR(23),@amount_from)
END

--@amount_thru
IF(@amount_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND accounting_transaction_ar.transaction_amount <= '+CONVERT(VARCHAR(23),@amount_thru)
END

--@balance_from
IF(@balance_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND dbo.plx_fn_get_unapplied_amount_for_customer_payment(accounting_transaction_ar.accounting_transaction_ar_id) >= '+CONVERT(VARCHAR(23),@balance_from)
END

--@balance_thru
IF(@balance_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND dbo.plx_fn_get_unapplied_amount_for_customer_payment(accounting_transaction_ar.accounting_transaction_ar_id) <= '+CONVERT(VARCHAR(23),@balance_thru)
END

SET @SqlQuery =
' SELECT  DISTINCT ' +
'		accounting_transaction_ar.accounting_transaction_ar_id, '+
'		accounting_transaction_ar.accounting_transaction_ar_ud, '+
'		accounting_transaction_ar.customer_id, '+
'		customer.customer_ud, '+
'		accounting_transaction_ar_payment_detail.payment_date,'+
'		accounting_transaction_ar.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		bank_account.bank_account_ud, '+
'		accounting_transaction_ar_payment_detail.accounting_payment_status_id, '+
'		accounting_payment_status.accounting_payment_status_ud, '+
'		accounting_payment_status.golden_key As accounting_payment_status_gk, '+
'		aca.accounting_company_account_ud AS ar_accounting_company_account_ud, '+
'		pmc.payment_method_customer_ud, '+
'		accounting_transaction_ar_payment_detail.check_ach_reference,'+
'		accounting_transaction_ar.transaction_amount as amount,'+
'		dbo.plx_fn_get_unapplied_amount_for_customer_payment(accounting_transaction_ar.accounting_transaction_ar_id) AS balance'+
' FROM 	' +
'		accounting_transaction_ar_payment_detail ' +
'		LEFT JOIN accounting_transaction_ar '+
'			ON accounting_transaction_ar.accounting_transaction_ar_id = accounting_transaction_ar_payment_detail.accounting_transaction_ar_id '+
'		LEFT JOIN customer '+
'			ON customer.customer_id = accounting_transaction_ar.customer_id '+
'		LEFT JOIN accounting_company AS ac '+
'			ON accounting_transaction_ar.accounting_company_id = ac.accounting_company_id '+
'		LEFT JOIN bank_account '+
'			ON accounting_transaction_ar_payment_detail.bank_account_id = bank_account.bank_account_id '+
'		LEFT JOIN accounting_company_account AS aca '+
'			ON accounting_transaction_ar_payment_detail.ar_accounting_company_account_id = aca.accounting_company_account_id '+
'		LEFT OUTER JOIN accounting_payment_status  '+
'			ON accounting_transaction_ar_payment_detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id '+
'		LEFT JOIN payment_method_customer AS pmc '+
'			ON accounting_transaction_ar_payment_detail.payment_method_customer_id = pmc.payment_method_customer_id '+
'       LEFT JOIN accounting_transaction_ar_apply_to invoice_apply_to' +
'           ON accounting_transaction_ar.accounting_transaction_ar_id = invoice_apply_to.from_accounting_transaction_ar_id'

SET @SqlOrderBy = '	ORDER BY accounting_transaction_ar.accounting_transaction_ar_ud'

PRINT @SqlQuery + @SqlCondition + @SqlOrderBy
EXEC (@SqlQuery+@SqlCondition+@SqlOrderBy)
IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
