USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_sysusers_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Aug  4 2006  4:52PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/04/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the sysusers table.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_sysusers_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
sysusers.uid as 'system_user_name_id'
, sysusers.name as 'system_user_name_ud'
FROM sysusers
ORDER BY sysusers.name

--
RETURN @SP_SUCCESS
GO
