USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_payment_process_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:

HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_claim_payment_process_status_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_payment_process_status_id
,claim_payment_process_status_ud

FROM claim_payment_process_status
ORDER BY claim_payment_process_status_ud asc

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
