USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_note_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeffrey Bernard
--
REVISION_HISTORY:
--
Date		Modified By		        Version		Description
--------------------------------------------------------------------------------
07/01/2014	Jeffrey Bernard			1.0			RT:8526 - Create stored procedure
--------------------------------------------------------------------------------
DESCRIPTION: Auto-Generate Note Identifiers
INPUTS: optional golden_key for the auto_create_note_id_rule
OUTPUTS: Success/Fail
RETURN_VALUES: note_ud
CALLED_PROCEDURES: plx_generate_counter

HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_auto_create_note_id_rule] (
@golden_key NVARCHAR(50) = NULL -- not used
,@note_ud NVARCHAR(100) OUTPUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT = 0
,@SP_EXCEPTION INT = - 1
,@prefix NVARCHAR(100) = ''
,@auto_create_counter_type_ud NVARCHAR(200)
,@counter_length INT = 6
,@counter INT
,@counter_text NVARCHAR(50)

-- RT:8526 Functionality not implemented for this release
--IF ISNULL(@golden_key, '') = ''
--BEGIN
--	SELECT TOP 1 @golden_key = auto_create_note_id_rule.golden_key
--	FROM auto_create_note_id_rule
--END
SET @prefix = CONVERT(NVARCHAR(2), GETDATE(), 12) + '-'
SET @auto_create_counter_type_ud = 'Note ' + @prefix

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud

SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)

SELECT @note_ud = @prefix + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT *
FROM note
WHERE note_ud = @note_ud
)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud

SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)

SELECT @note_ud = @prefix + @counter_text
END

RETURN @SP_SUCCESS
END
GO
