USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_auto_create_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinh do

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/05/2006	tinh do		1.0			create
04/14/2010  Jeremy Hein 1.1			D-04559 - If there is no rule selected on contract, select the one from
global rules. Per design, contract still trumps global.
08/22/2012	eponomareff	1.2			added ud to return
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.2
--
DESCRIPTION:

This procedure is used to generate Auto Created Family Rule in Family Eligibility form.
Also used for checking for valid autocreate rules in Mass Enrollment Change

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_family_eligibility_auto_create_rule_load]
(
@benefit_contract_id 		int = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@golden_key			NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT DISTINCT
COALESCE(bc_acfir.auto_create_family_id_rule_ud, gr_acfir.auto_create_family_id_rule_ud) as auto_create_family_id_rule_ud
,COALESCE(bc_acfir.golden_key, gr_acfir.golden_key) as golden_key

FROM benefit_contract bc
LEFT JOIN auto_create_family_id_rule bc_acfir
ON bc_acfir.auto_create_family_id_rule_id = bc.auto_create_family_id_rule_id
CROSS JOIN global_rule gr
LEFT JOIN auto_create_family_id_rule gr_acfir
ON gr_acfir.auto_create_family_id_rule_id = gr.auto_create_family_id_rule_id
WHERE  bc.benefit_contract_id = @benefit_contract_id

RETURN @SP_SUCCESS
END
GO
