USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_network_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/16/2005	HiepNguyen		1.0		Created
12/26/2005	HiepNguyen		1.1		remove effective_from and effective_thru
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
The procedure is used to find the network sets that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_network_set_load]
(
@get_column_headers					 BIT = 0
, @provider_network_set_ud             NVARCHAR(50) = NULL
, @provider_network_set_nm             NVARCHAR(100) = NULL
, @provider_network_id                 INT  = NULL
, @provider_network_nm                 NVARCHAR(100) = NULL
, @show_exact_matches                  BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @provider_network_set_ud IS NOT NULL AND @provider_network_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pns.provider_network_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_network_set_ud, @show_exact_matches) + @Suffix

IF @provider_network_set_nm IS NOT NULL AND @provider_network_set_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pns.provider_network_set_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_network_set_nm, @show_exact_matches) + @Suffix

IF @provider_network_id IS NOT NULL AND @provider_network_id > 0
SET @SqlCondition = @SqlCondition + ' AND pn.provider_network_id ='  + CONVERT(NVARCHAR, @provider_network_id)

IF @provider_network_nm IS NOT NULL AND @provider_network_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pn.provider_network_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_network_nm, @show_exact_matches) + @Suffix

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit()) ' +
'          pns.provider_network_set_id ' +
'          , pns.provider_network_set_ud ' +
'          , pns.provider_network_set_nm ' +
'   FROM  dbo.provider_network_set pns ' +
'         LEFT JOIN provider_network_provider_network_set pnpns ON pnpns.provider_network_set_id = pns.provider_network_set_id ' +
'         LEFT JOIN provider_network pn ON pn.provider_network_id = pnpns.provider_network_id '

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY 3 ')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
