USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_referral_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
DATE: 9/18/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/20/2006	Anh Ta		1.0			Created and Used for 12530 Professional Claim Form
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Referral Authorization grid in Professional Claim form
and Dental Claim form


--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE             procedure [dbo].[plx_claim_referral_save]
(
@claim_referral_id				int = null output
,@claim_id					int = null
,@referral_id					int = null
,@active                                     	bit = NULL
)
as
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

if (@claim_referral_id is null)
begin
insert into claim_referral(
claim_id
,referral_id
,active
)
VALUES
(@claim_id
,@referral_id
,@active
)

set @claim_referral_id = @@identity

if not exists (select * from claim_referral where claim_referral_id = @claim_referral_id )
begin
return @SP_EXCEPTION
end
end
else
begin

DECLARE @ErrorVar int, @RowCountVar int

update 	claim_referral
set
claim_id 				= @claim_id
,referral_id 				= @referral_id
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	claim_referral_id = @claim_referral_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
end

return @SP_SUCCESS
GO
