USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Sep 15 2005  3:46PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/09	Trang Huynh	1.1		Remove fee_schedule.fee_schedule_nm
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_fee_schedule from the fee_schedule table.
--
REQUIREMENTS:
--
INPUTS:
fee_schedule_id - Key to fee_schedule table, identifies a single stored dd_fee_schedule.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_fee_schedule_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fee_schedule.fee_schedule_id
,fee_schedule.fee_schedule_ud
--      ,fee_schedule.fee_schedule_nm
FROM fee_schedule
ORDER BY fee_schedule_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
