USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 09/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/12/2005	hthan		1.0		Created
10/13/2010  eponomareff 2.0     Modified per ICU 20727
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an alternate course of treatment map
for grid Alternate Course of Treatment in form Dental Alternate PX Treatment Map

******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_save]
(
@alternate_course_of_treatment_map_id        int = NULL   OUTPUT
,@alternate_course_of_treatment_map_ud        nvarchar(100) = NULL
,@alternate_course_of_treatment_map_nm        nvarchar(200) = NULL
,@description                                 nvarchar(510) = NULL
,@active                                      bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @alternate_course_of_treatment_map_id is Null
BEGIN
--- Create a new record
INSERT INTO alternate_course_of_treatment_map(
alternate_course_of_treatment_map_ud
,alternate_course_of_treatment_map_nm
,description
,active
)
VALUES
(@alternate_course_of_treatment_map_ud
,@alternate_course_of_treatment_map_nm
,@description
,@active
)
--
SET @alternate_course_of_treatment_map_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM alternate_course_of_treatment_map WHERE alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE alternate_course_of_treatment_map
SET
alternate_course_of_treatment_map_ud      = @alternate_course_of_treatment_map_ud
,alternate_course_of_treatment_map_nm     = @alternate_course_of_treatment_map_nm
,description                              = @description
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id
END
--
RETURN @SP_SUCCESS
--
GO
