USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Tinh Do		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Save data for eligibility restriction form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_eligibility_restriction_save]
(
@eligibility_restriction_id                 int = NULL   OUTPUT
,@eligibility_restriction_ud                 nvarchar(50) = NULL
,@eligibility_restriction_nm                 nvarchar(100) = NULL
,@maternity_restriction_id                   int = NULL
,@subscriber_min_hours_for_eligibility       int = NULL
,@min_hours_unit_day_week_month_year_id      int = NULL
,@result_code_id                             int = NULL
,@result_code_status_id                      int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @eligibility_restriction_id is Null
BEGIN
--- Create a new record
INSERT INTO eligibility_restriction(
eligibility_restriction_ud
,eligibility_restriction_nm
,subscriber_min_hours_for_eligibility
,min_hours_unit_day_week_month_year_id
,result_code_id
,result_code_status_id
,active
)
VALUES
(@eligibility_restriction_ud
,@eligibility_restriction_nm
,@subscriber_min_hours_for_eligibility
,@min_hours_unit_day_week_month_year_id
,@result_code_id
,@result_code_status_id
,@active
)
--
SET @eligibility_restriction_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM eligibility_restriction WHERE eligibility_restriction_id = @eligibility_restriction_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
UPDATE eligibility_restriction
SET
eligibility_restriction_ud               = @eligibility_restriction_ud
,eligibility_restriction_nm               = @eligibility_restriction_nm
,subscriber_min_hours_for_eligibility     = @subscriber_min_hours_for_eligibility
,min_hours_unit_day_week_month_year_id    = @min_hours_unit_day_week_month_year_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE eligibility_restriction_id = @eligibility_restriction_id
END
--
RETURN @SP_SUCCESS
--
GO
