USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_adjudication_status_for_analysis_queue_without_closed_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Cknobloch
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'claim_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_dd_adjudication_status_for_analysis_queue_without_closed_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
adjudication_status.adjudication_status_id
,adjudication_status.adjudication_status_ud
FROM adjudication_status
WHERE
golden_key in ('PEND','ERROR','HOLD','DENY','APPROVED')
ORDER BY adjudication_status_ud
GO
