USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_object_show_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 31 2006 11:01AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/02/2008	Vishwa Jella	1.0		updated with adjudication_object_type_id to display filtered items based on adjudication object type
01/11/2010	Vishwa			2.0		filtering adjudication objects with items to
show only on procedure line details form show items grid
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the adjudication_object_show table.
--
REQUIREMENTS:
--
INPUTS:
adjudication_object_show_id - Key to adjudication_object_show table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_adjudication_object_show_list_load]
(
@claim_form_type_id			Int = NULL
,@adjudication_object_type_id		Int =NULL
,@workgroup_role_uid			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT

adjudication_object_show.adjudication_object_show_id
,adjudication_object_show.claim_form_type_id
,claim_form_type.claim_form_type_ud

,adjudication_object_show.workgroup_role_uid
,adjudication_object_show.adjudication_object_id
,adjudication_object.adjudication_object_ud

,adjudication_object_show.order_to_show
, cast(0 as int) as 'default_order'
FROM adjudication_object_show
LEFT JOIN claim_form_type  ON adjudication_object_show.claim_form_type_id = claim_form_type.claim_form_type_id
LEFT JOIN adjudication_object  ON adjudication_object_show.adjudication_object_id = adjudication_object.adjudication_object_id
LEFT JOIN adjudication_object_type  ON adjudication_object.adjudication_object_type_id = adjudication_object_type.adjudication_object_type_id
WHERE adjudication_object_show.claim_form_type_id = @claim_form_type_id
AND adjudication_object_type.adjudication_object_type_id = @adjudication_object_type_id
AND adjudication_object.is_visible_claim_result_item = 1
AND ((@workgroup_role_uid IS NULL) OR (adjudication_object_show.workgroup_role_uid= @workgroup_role_uid))
--
RETURN @SP_SUCCESS
GO
