USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_category_and_sub_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Rosie Roberson
--
REVISION_HISTORY:
--
Date				 Modified By			Version		Description
--------------------------------------------------------------------------------
-2/12/2010	Rosie Roberson		1.1			Changing sp name per Aaron
from: plx_dd_benefit_sub_category_load_report_setup
to: plx_dd_benefit_category_and_sub_category_load
02/12/2010      Rosie Roberson		1.0			Created
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Returns a unique benefit_sub_category_id, but displays not on the benefit_sub_category_ud
but also the benefit_category_ud associated.  This is for the report setup form.
--
REQUIREMENTS:
--
INPUTS:
none
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_benefit_category_and_sub_category_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_sub_category.benefit_sub_category_id,
(benefit_category.benefit_category_ud+' - '+benefit_sub_category.benefit_sub_category_ud) as 'cat_and_sub_cat_ud'
FROM
benefit_sub_category
INNER JOIN benefit_category
ON benefit_sub_category.benefit_category_id = benefit_category.benefit_category_id

ORDER BY benefit_category_ud, benefit_sub_category_ud ASC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
