USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_certification_condition_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_certification_condition_list_load]
@claim_transport_id int = NULL,
@claim_id int = NULL,
@claim_procedure_id int = NULL
AS
DECLARE @yes_id INT = (SELECT yes_no_id FROM yes_no where golden_key = 'yes')
DECLARE @no_id INT = (SELECT yes_no_id FROM yes_no where golden_key = 'no')
SELECT
@claim_transport_id as claim_transport_id,
claim_certification_condition_id,
CASE WHEN ccc.claim_certification_condition_code_applies_flag = 'Y' THEN @yes_id ELSE @no_id END as yes_no_id,
CASE WHEN ccc.claim_certification_condition_code_applies_flag = 'Y' THEN 'Y' ELSE 'N' END as yes_no_ud,
code.claim_certification_condition_code_id,
code.golden_key as claim_certification_condition_code_ud,
code.description
FROM
claim_certification_condition ccc
LEFT JOIN claim_certification_condition_code code
ON ccc.claim_certification_condition_code_gk = code.golden_key
LEFT JOIN claim_transport ct
ON ccc.claim_id = ct.claim_id
AND ((ct.claim_procedure_id IS NULL AND ccc.claim_procedure_id IS NULL) OR
ct.claim_procedure_id = ccc.claim_procedure_id)
WHERE
claim_transport_id = @claim_transport_id
OR
(
@claim_id = ccc.claim_id
AND ((@claim_procedure_id IS NULL AND ccc.claim_procedure_id IS NULL) OR
@claim_procedure_id = ccc.claim_procedure_id)
)

RETURN 0
GO
