USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_summary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/11/2009	Vishwa		1.0			updated load parameters to load per vendor from run
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for frmCapitationDetail

--
REQUIREMENTS:
--
INPUTS:
@capitation_detail_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_summary_load] (
@capitation_run_id INT
,@vendor_id  INT
,@capitation_period_id INT
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cs.capitation_run_id
,cs.capitation_period_id
,cr.capitation_run_ud
,cr.capitation_definition_id
,cd.capitation_definition_ud
,cs.vendor_id
,v.vendor_ud
,cstat.capitation_status_ud
,SUM (cs.summary_amount) AS summary_amount
FROM	dbo.capitation_summary cs
JOIN capitation_run cr
ON cs.capitation_run_id  = cr.capitation_run_id
JOIN capitation_definition AS cd
ON cr.capitation_definition_id = cd.capitation_definition_id
JOIN vendor v
ON cs.vendor_id = v.vendor_id
JOIN capitation_status cstat
ON cs.capitation_status_id = cstat.capitation_status_id
WHERE	cs.capitation_run_id = @capitation_run_id
AND cs.vendor_id = @vendor_id
AND cs.capitation_period_id = @capitation_period_id
GROUP BY cs.capitation_run_id,cs.capitation_period_id,cr.capitation_run_ud,cr.capitation_definition_id,
cd.capitation_definition_ud,cs.vendor_id, v.vendor_ud,cstat.capitation_status_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
