USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/24/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for benefit framework choice list
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_list_save]
(
@node1_id                     		   int = NULL   OUTPUT
,@benefit_choice_list_ud                     nvarchar(100) = NULL
,@benefit_choice_list_description            nvarchar(510) = NULL
,@resolve_choice_list_at_id                  int = NULL
,@parent1_id         			   int = NULL
,@episode_category_id			   int = null
,@episode_type_id				   int = null
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
if (@parent1_id is not null )
begin
IF @node1_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_framework_choice_list(
benefit_framework_choice_list_ud
,description
,resolve_choice_list_at_id
,benefit_framework_benefit_class_id
,episode_category_id
,episode_type_id
,active
)
VALUES
(@benefit_choice_list_ud
,@benefit_choice_list_description
,@resolve_choice_list_at_id
,@parent1_id
,@episode_category_id
,@episode_type_id
,@active
)
--
SET @node1_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_framework_choice_list WHERE benefit_framework_choice_list_id = @node1_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_framework_choice_list
SET
benefit_framework_choice_list_ud                   = @benefit_choice_list_ud
,description                              = @benefit_choice_list_description
,resolve_choice_list_at_id                = @resolve_choice_list_at_id
,benefit_framework_benefit_class_id       = @parent1_id
,episode_category_id			 = @episode_category_id
,episode_type_id				 = @episode_type_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_choice_list_id = @node1_id
END
RETURN @SP_SUCCESS
end
else
begin
RETURN @SP_EXCEPTION
end
--

end
GO
