USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_carc_rarc]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************

HEADER_BEGIN;

AUTHOR: eponomareff
;
REVISION_HISTORY:

Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------
10/03/2017	eponomareff		1.0			Created following same pattern as plx_code_import_ncci and plx_code_import_hipps
----------------------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure imports CARC and RARC codes via the code importer.

NOTE: These are not procedure codes. The destination tables are:
claim_adjustment_reason_code
remittance_advice_remark_code

STEPS INVOLVED:
QC UI Code Loader inserts records into one, or both, of these temp tables:
#tmpCarcImport
#tmpRarcImport

BUSINESS RULES:

This stored procedure Updates and Inserts CARC/RARC records based on import.
The import file is considered to be correct; its data overwrites the existing data.

1. If record with code exists in the database table, it is updated with all new values in the file
2. If record with code does not exist in the database table, it is inserted

PRE-REQUISITES:

The import table must be created in the same connection before calling this method.
This is done in the code. Below is the SQL you can use to create the prerequisite
to test this stored procedure

-- Use the following to test this stored procedure

-- Create the holding table
IF OBJECT_ID('tempdb..#tmpCarcImport') IS NOT NULL
DROP TABLE #tmpCarcImport

CREATE TABLE #tmpCarcImport
(
code_ud									nvarchar(10),
description								nvarchar(2000),
code_effective_date						datetime,
code_deactivation_date					datetime,
code_last_modified_date					datetime,
notes									nvarchar(2000)
)
GO

INSERT INTO #tmpCarcImport
(code_ud, description, code_effective_date)
values
('999', 'ADJ TEST DESCRIPTION', '01/01/2011')

-- Create the holding table
IF OBJECT_ID('tempdb..#tmpRarcImport') IS NOT NULL
DROP TABLE #tmpRarcImport

CREATE TABLE #tmpRarcImport
(
code_ud									nvarchar(10),
description								nvarchar(2000),
code_effective_date						datetime,
code_deactivation_date					datetime,
code_last_modified_date					datetime,
notes									nvarchar(2000)
)
GO

INSERT INTO #tmpRarcImport
(code_ud, description, code_effective_date)
values
('M999', 'REMIT TEST DESCRIPTION', '02/02/2012')

INPUTS:
None

OUTPUTS:
None

RETURN_VALUES:
0	Success

CALLED PROCEDURES:
None

HEADER_END;
************************************************************************************/

CREATE PROCEDURE [dbo].[plx_code_import_carc_rarc]
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

------------------------------------------------------------------
-- STEP ONE - DO THE CARCS (Updates and Inserts)
------------------------------------------------------------------

-- Check for the temp table
IF OBJECT_ID('tempdb..#tmpCarcImport') IS NOT NULL
BEGIN
-- Update all fields of existing CARC codes, matching on Code
UPDATE claim_adjustment_reason_code
SET
description					= RTRIM(import_carc.description),
code_effective_date			= import_carc.code_effective_date,
code_deactivation_date		= import_carc.code_deactivation_date,
code_last_modified_date		= import_carc.code_last_modified_date,
modified_date				= GETDATE(),
modified_user_name			= ORIGINAL_LOGIN()
FROM
claim_adjustment_reason_code carc
JOIN #tmpCarcImport import_carc
ON carc.claim_adjustment_reason_code_nk = RTRIM(import_carc.code_ud)
WHERE
ISNULL(carc.description, '')						<> RTRIM(ISNULL(import_carc.description, '')) OR
ISNULL(carc.code_effective_date, '1/1/1900')		<> ISNULL(import_carc.code_effective_date, '1/1/1900') OR
ISNULL(carc.code_deactivation_date, '1/1/1900')		<> ISNULL(import_carc.code_deactivation_date, '1/1/1900') OR
ISNULL(carc.code_last_modified_date, '1/1/1900')	<> ISNULL(import_carc.code_last_modified_date, '1/1/1900')

-- Insert all newly imported records
INSERT INTO claim_adjustment_reason_code(
claim_adjustment_reason_code_nk,
description,
code_effective_date,
code_deactivation_date,
code_last_modified_date
)
SELECT
RTRIM(import_carc.code_ud),
RTRIM(import_carc.description),
import_carc.code_effective_date,
import_carc.code_deactivation_date,
import_carc.code_last_modified_date
FROM #tmpCarcImport import_carc
LEFT JOIN claim_adjustment_reason_code carc
ON carc.claim_adjustment_reason_code_nk = RTRIM(import_carc.code_ud)
WHERE
carc.claim_adjustment_reason_code_id IS NULL
END
------------------------------------------------------------------
-- STEP TWO - DO THE RARCS (Updates and Inserts)
------------------------------------------------------------------
-- Check for the temp table
IF OBJECT_ID('tempdb..#tmpRarcImport') IS NOT NULL
BEGIN

-- Update all fields of existing RARC codes, matching on Code
UPDATE remittance_advice_remark_code
SET
description					= RTRIM(import_rarc.description),
code_effective_date			= RTRIM(import_rarc.code_effective_date),
code_deactivation_date		= import_rarc.code_deactivation_date,
code_last_modified_date		= import_rarc.code_last_modified_date,
modified_date				= GETDATE(),
modified_user_name			= ORIGINAL_LOGIN()
FROM
remittance_advice_remark_code rarc
JOIN #tmpRarcImport import_rarc
ON rarc.remittance_advice_remark_code_nk = RTRIM(import_rarc.code_ud)
WHERE
ISNULL(rarc.description, '')						<> RTRIM(ISNULL(import_rarc.description, '')) OR
ISNULL(rarc.code_effective_date, '1/1/1900')		<> ISNULL(import_rarc.code_effective_date, '1/1/1900') OR
ISNULL(rarc.code_deactivation_date, '1/1/1900')		<> ISNULL(import_rarc.code_deactivation_date, '1/1/1900') OR
ISNULL(rarc.code_last_modified_date, '1/1/1900')	<> ISNULL(import_rarc.code_last_modified_date, '1/1/1900')

-- Insert all newly imported records
INSERT INTO remittance_advice_remark_code(
remittance_advice_remark_code_nk,
description,
code_effective_date,
code_deactivation_date,
code_last_modified_date
)
SELECT
RTRIM(import_rarc.code_ud),
RTRIM(import_rarc.description),
import_rarc.code_effective_date,
import_rarc.code_deactivation_date,
import_rarc.code_last_modified_date
FROM #tmpRarcImport import_rarc
LEFT JOIN remittance_advice_remark_code rarc
ON rarc.remittance_advice_remark_code_nk = import_rarc.code_ud
WHERE
rarc.remittance_advice_remark_code_id IS NULL

END

RETURN @SP_SUCCESS
GO
