USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	Nghi Nguyen	1.0			create
2008/05/16	lrenard				accounting company schema and form changes
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete an accounting company.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_delete]
(
@accounting_company_id                      int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM accounting_company WHERE accounting_company_id = @accounting_company_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_accounting_company_check_delete @accounting_company_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Delete child data
DECLARE @addresses_to_delete TABLE(
address_id int)

INSERT INTO @addresses_to_delete SELECT address_id FROM accounting_company WHERE accounting_company_id = @accounting_company_id
INSERT INTO @addresses_to_delete SELECT address_id FROM bank_account WHERE accounting_company_id = @accounting_company_id

-- Account assignments (TAP)
DELETE FROM account_assignment_claim_payment
WHERE account_assignment_claim_payment_id IN(
SELECT account_assignment_claim_payment_id
FROM account_assignment_claim_payment
INNER JOIN accounting_company_account aca
ON (aca.accounting_company_account_id = account_assignment_claim_payment.expense_accounting_company_account_id
OR aca.accounting_company_account_id = account_assignment_claim_payment.ap_accounting_company_account_id)
WHERE aca.accounting_company_id = @accounting_company_id)

-- Account assignments (Disbursement)
DELETE FROM account_assignment_claim_payment_disbursement
WHERE account_assignment_claim_payment_disbursement_id IN(
SELECT account_assignment_claim_payment_disbursement_id
FROM account_assignment_claim_payment_disbursement aacpd
INNER JOIN bank_account ba
ON ba.bank_account_id = aacpd.bank_account_id
WHERE ba.accounting_company_id = @accounting_company_id)

-- Account assignments (Premium Billing)
DELETE FROM account_assignment_premium_billing
WHERE account_assignment_premium_billing_id IN(
SELECT account_assignment_premium_billing_id
FROM account_assignment_premium_billing aapb
INNER JOIN accounting_company_account aca
ON (aca.accounting_company_account_id = aapb.ar_accounting_company_account_id
OR aca.accounting_company_account_id = aapb.revenue_accounting_company_account_id)
WHERE aca.accounting_company_id = @accounting_company_id)

DELETE FROM accounting_company_segment
WHERE accounting_company_id = @accounting_company_id

DELETE FROM bank_account_contact
WHERE bank_account_id in (SELECT bank_account_id FROM bank_account WHERE accounting_company_id = @accounting_company_id)

DELETE FROM bank_account
WHERE accounting_company_id = @accounting_company_id

DELETE FROM accounting_company_account
WHERE accounting_company_id = @accounting_company_id

-- Delete parent record
DELETE FROM accounting_company
WHERE accounting_company_id = @accounting_company_id

-- Delete addresses
DELETE FROM address
WHERE address_id IN (SELECT address_id FROM @addresses_to_delete)

END
--
RETURN @SP_SUCCESS
--
GO
