USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_value_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 11/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/29/2005	mttran		1.0			created
11/29/2005 	Lamnguyen                                  change  @SP_DELETE_UNABLE = 0  to  @SP_DELETE_UNABLE	= 2
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check if a topic value can be deleted.
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_additional_information_topic_value_check_delete]
(
@additional_information_topic_value_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int,
@ERROR_NOT_EXIST	NVARCHAR(50),
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 2
SET @ERROR_NOT_EXIST	= '158990001'
SET @result 			= @SP_DELETE_ABLE

IF NOT EXISTS (	SELECT 	additional_information_topic_value_id
FROM 	dbo.additional_information_topic_value
WHERE 	additional_information_topic_value_id = @additional_information_topic_value_id )
BEGIN
SET @result = dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN benefit_contract_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN client_group_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN dental_claim_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN family_eligibility_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN institutional_claim_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN member_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN professional_claim_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN benefit_plan_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE IF EXISTS (SELECT 	additional_information_topic_value.additional_information_topic_value_id
FROM	dbo.additional_information_topic_value
INNER JOIN client_additional_information tmp
ON additional_information_topic_value.additional_information_topic_value_id =cast( tmp.additional_information_selection_value as int )
WHERE	additional_information_topic_value.additional_information_topic_value_id = @additional_information_topic_value_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

ELSE
BEGIN
SET @result = @SP_DELETE_ABLE
END

RETURN @result
END
GO
