USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_referral_provider_name_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/12/2006				1.0		Created
05/05/2006	tinhdo		1.1		change provider_name_id to provider_id
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_category' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE       PROCEDURE [dbo].[plx_dd_referral_provider_name_list_load]
@referral_id INT = NULL
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

/*	SELECT provider_name.provider_name_id,dbo.plx_ConcatenateName(name_last,name_first,name_middle,null) AS provider_name_nm
FROM (
SELECT provider_name_id
FROM referral_provider
WHERE referral_provider.referral_id = @referral_id
--		UNION
--		SELECT provider_name.provider_name_id
--		FROM referral_provider
--			LEFT JOIN provider_practice_office ON referral_provider.practice_office_id = provider_practice_office.practice_office_id
--			INNER JOIN provider_name ON provider_name.provider_id = provider_practice_office.provider_id AND provider_name.is_primary = 1
--		WHERE referral_provider.referral_id = @referral_id
) provider_union
*/
SELECT DISTINCT referral_provider.provider_id,dbo.plx_ConcatenateName(name_last,name_first,name_middle,null) AS provider_name_nm
FROM referral_provider
INNER JOIN provider_name ON referral_provider.provider_id = provider_name.provider_id	AND provider_name.is_primary = 1

WHERE referral_provider.referral_id = @referral_id
--

RETURN @SP_SUCCESS
--
END
GO
