USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_concurrency_lock_release]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	04/16/2010
--
2015-07-30 - jvote
- Allow null values to clear all concurrency locks for a user
- used to remove all orphan locks at app startup and close
- Returns @@RowCount to caller
--

DESCRIPTION:
This procedure is used to release (delete) a lock for a form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
@@Row Count
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_concurrency_lock_release]
(
-- Pass nulls to clear all locks for the user
@form_name	NVARCHAR(100) = null,
@record_id	INT = null,
@user_name	NVARCHAR(255)
)
AS
SET NOCOUNT ON
DECLARE
@typeId int = null

if @form_name is not null begin
SELECT @typeId = c.concurrency_lock_type_id
FROM concurrency_lock_type_ui_engine_lookup c
INNER JOIN ui_engine_lookup_parameter u
ON u.ui_engine_lookup_parameter_id = c.ui_engine_lookup_parameter_id
WHERE u.display_form = @form_name
end

SET NOCOUNT OFF
DELETE FROM concurrency_lock
WHERE (@typeId is null or concurrency_lock_type_id = @typeId)
AND (@record_id is null or record_id = @record_id)
AND security_user_name = @user_name
--
RETURN @@RowCount
GO
