USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_overpayments_get_unprocessed]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--===============================================================================================================
--Object Type: Stored Procedure
--Description: Get unprocessed overpayments
--Create Date: 11/23/2020
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description  
--===============================================================================================================
--11/23/2020 | SJC    | 1.0     | Created Stored Procedure
--===============================================================================================================

CREATE procedure [dbo].[bind_overpayments_get_unprocessed]

AS

BEGIN

declare @leading_letter_integer int
declare @leading_letter varchar(1)

set @leading_letter_integer = (
								select max(bo.control_number)/99999
								from qc_core.dbo.bind_overpayments bo
								where 1 = 1
							  )

set @leading_letter = (select Char(66 + @leading_letter_integer))

	SELECT 
	 CAST(overpayment_id AS VARCHAR(36)) AS [id]
	,@leading_letter + CAST(REPLICATE('0',5-LEN(RTRIM(RIGHT(control_number,5)))) + RTRIM(RIGHT(control_number,5)) AS VARCHAR(5)) + '-' + letter_type AS control_number
	FROM bind_overpayments
	WHERE processed = 0;
END

GO
