USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_external_claim_editing_result_code_mapping_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/03/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is to delete a record of external claim editing result code mapping
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_external_claim_editing_result_code_mapping_delete]
(
@external_claim_editing_result_code_mapping_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM external_claim_editing_result_code_mapping WHERE external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DELETE FROM external_claim_editing_result_code_mapping_assignment
WHERE external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id

DELETE FROM external_claim_editing_result_code_mapping
WHERE external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id
END
--
RETURN @SP_SUCCESS
--
GO
