USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE:   2/2/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
5/17/2012	dcannon		1.1			removed ignore_modifier_51
6/4/2012	dcannon		1.2			added procedure_code_add_on
8/10/2012	pprasad		1.3			updated to save primary_diagnosis_code
04/07/2014	amortensen	1.4			updated to save external_claim_editing_result_code_mapping
08/18/2014 - RT:6046 Updated created/modified tombstone columns
04/16/2015	dcannon		1.5			RT:7225 added automated_bundling bit
11/09/2015	amortensen	1.6			RT:7732 added ncci_ignore_denied_claim_line
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
This procedure is used to update data for claim processing rule framework form
--
REQUIREMENTS:
--
INPUTS:

claim_processing_rule_framework_id
claim_processing_rule_framework_ud
description
ncci_modifier_set_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_save]
(
@claim_processing_rule_framework_id	int = NULL   OUTPUT,
@claim_processing_rule_framework_ud	nvarchar(50) = NULL,
@description							nvarchar(255) = NULL,
@ncci_modifier_set_id				int = NULL,
@ncci_ignore_denied_claim_line		int = NULL,
@add_on_procedure_code_schedule_id	int = NULL,
@external_claim_editing_result_code_mapping_id int = NULL,
@ignore_denied_claim_line			bit = 0,
@global_period_process				bit = 0,
@ignore_icd_edits					bit = 0,
@payment_modification				bit = 0,
@primary_diagnosis_code				bit = 0,
@automate_bundling					bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @claim_processing_rule_framework_id is Null
BEGIN

--- Create a new record
INSERT INTO claim_processing_rule_framework(
claim_processing_rule_framework_ud
,description
--ncci group
,ncci_modifier_set_id
,ncci_ignore_denied_claim_line
,ncci_professional_enable
,ncci_professional_payment_modification
,ncci_institutional_outpatient_enable
,ncci_institutional_outpatient_payment_modification
--P/T Conflict Group
,ignore_denied_claim_line
,pt_conflict_professional_enabled
,pt_conflict_institutional_outpatient_enabled
,pt_conflict_cross_claim_type_enabled
--Additional Processing Rules group
,global_period_process
,ignore_icd_edits
,payment_modification
--Add On Px Code Group
,add_on_procedure_code_schedule_id
,add_on_professional_same_claim_check
,add_on_professional_separate_claim_check
,add_on_institutional_outpatient_same_claim_check
,add_on_institutional_outpatient_separate_claim_check
--External Claim Editing Result Code Mapping
,external_claim_editing_result_code_mapping_id
--Modifier Rules group
,mod_24
,mod_25
,mod_54
,mod_55
,mod_56
,mod_57
,mod_58
,mod_59
,mod_78
,mod_79
,mod_80
,mod_81
,mod_82
,mod_AS
--Diagnosis code
,primary_diagnosis_code
--CES
,automate_bundling
)
VALUES
(@claim_processing_rule_framework_ud
,@description
--ncci group
,@ncci_modifier_set_id
,@ncci_ignore_denied_claim_line
,0
,0
,0
,0
--P/T Conflict Group
,@ignore_denied_claim_line
,0
,0
,0
--Additional Processing Rules group
,@global_period_process
,@ignore_icd_edits
,@payment_modification
--Add On Px Code Group
,@add_on_procedure_code_schedule_id
,0
,0
,0
,0
--External Claim Editing Result Code Mapping
,@external_claim_editing_result_code_mapping_id
--Modifier Rules group
,0
,0
,0
,0
,0
,0
,0
,0
,0
,0
,0
,0
,0
,0
--Diagnosis code
,@primary_diagnosis_code
--CES
,@automate_bundling
)
--
SET @claim_processing_rule_framework_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE claim_processing_rule_framework
SET
claim_processing_rule_framework_ud	= @claim_processing_rule_framework_ud
,description							= @description
,ncci_modifier_set_id				= @ncci_modifier_set_id
,ncci_ignore_denied_claim_line		= @ncci_ignore_denied_claim_line
,add_on_procedure_code_schedule_id	= @add_on_procedure_code_schedule_id
,external_claim_editing_result_code_mapping_id	= @external_claim_editing_result_code_mapping_id
,ignore_denied_claim_line			= @ignore_denied_claim_line
,global_period_process				= @global_period_process
,ignore_icd_edits					= @ignore_icd_edits
,payment_modification				= @payment_modification
,primary_diagnosis_code				= @primary_diagnosis_code
,automate_bundling					= @automate_bundling
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END

--
RETURN @SP_SUCCESS
--
GO
