USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_plans_copy]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/13/2006	t6nguyen		1.0		Used to Benefit Contract Form
08/14/2008	David Slayton	1.6		Removed references to family_eligibility_family_rate and family_eligibility_weight_factor tables.
Removed location columns.
08/18/2008	David Slayton	1.3		Removed life_insurance_coverage_unit column.
12/10/2008	lrenard			1.4		removed visit_definition_id
12/22/2008	lrenard			1.5		added benefit_contract_period_benefit_plan_visit_definition copy
added benefit_contract_period_benefit_plan_eligibility_restriction copy
08/06/2009	David Slayton	1.6		Added call_share_processing_rule_id.  Cleaned up some commented
out code.  Refactored dynamic sql to not be dynamic.
04/01/2012  eponomareff     1.7     added bcpbp Additional Information copy same as pcpbp premium rate
02/10/2015  jbernard  		1.8     RT:7550 - Copy Auto Termination Rules (only ones that are still effective)
Copy age_calculation_rule_id
04/01/2024                  2.0     RT:9745  Modified to handle a list of Benefit Plans to exclude from new
Benefit Contract, when created from a Benefit Contract Template

DESCRIPTION:
This stored procedure is used in two separate workflows:
(1)	When creating a new Benefit Period within a Benefit Contract, ensuring that the
plans are copied as well as their related data.

For this workflow, the parameters are set:
@copy_from_benefit_contract_template BIT = 0
@removedPlans is not provided as a parameter when the stored procedure
is called. The default value for a table-valued parameter is an empty table.
https://stackoverflow.com/questions/3630632/binding-empty-list-or-null-value-to-table-valued-parameter-on-a-stored-procedure

(2)	When a Benefit Contract is created anew (in the Group form)
from a Benefit Contract Template, and some plans are exlcuded from the
new Benefit Contract.

For this workflow, the parameters are set:
@copy_from_benefit_contract_template BIT = 1
@removedPlans is a table of id's to exclude

******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_plans_copy] (
@pre_benefit_contract_period_id INT = NULL
,@benefit_contract_period_id INT = NULL
,@copy_from_benefit_contract_template BIT = 0
,@removedPlans [udtt_ids] READONLY
)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--
BEGIN
--update for Update to Benefit Contract Template
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan (
benefit_contract_period_id
,benefit_plan_id
,principle_plan
,benefit_plan_type_id
,parent_benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id
,accumulator_framework_id
,accumulator_framework_accumulator_class_accumulator_id
,financial_code_id
,financial_sub_code_id
,network_not_applicable
,auto_create_member_id_rule_id
,eligibility_seed_value
,annual_accumulator_rollover_rule_id
,restart_accumulator_months_id
,restart_accumulator_day_of_month
,restart_accumulator_number_of_months
,accumulator_start_date
,pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id
,pay_claim_to_id
,billing_only
,call_share_processing_rule_id
,missing_authorization_penalty_rule_id
-- RT:7550 - Copying age_calculation_rule_id
,age_calculation_rule_id
,active
,resolve_option_at_id
)
SELECT @benefit_contract_period_id
,benefit_plan_id
,principle_plan
,benefit_plan_type_id
,benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id
,accumulator_framework_id
,accumulator_framework_accumulator_class_accumulator_id
,financial_code_id
,financial_sub_code_id
,network_not_applicable
,auto_create_member_id_rule_id
,eligibility_seed_value
,annual_accumulator_rollover_rule_id
,restart_accumulator_months_id
,restart_accumulator_day_of_month
,benefit_contract_period_benefit_plan_id
,accumulator_start_date
,pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id
,pay_claim_to_id
,billing_only
,call_share_processing_rule_id
,missing_authorization_penalty_rule_id
-- RT:7550 - Copying age_calculation_rule_id
,age_calculation_rule_id
,1
,resolve_option_at_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_id = @pre_benefit_contract_period_id
AND parent_benefit_contract_period_benefit_plan_id IS NULL
AND (
-- copy over all plans unless copying from Benefit Contract Template
ISNULL(@copy_from_benefit_contract_template, 0) = 0
OR
benefit_contract_period_benefit_plan_id NOT IN (SELECT id FROM @removedPlans)
)

INSERT INTO benefit_contract_period_benefit_plan (
benefit_contract_period_id
,benefit_plan_id
,principle_plan
,benefit_plan_type_id
,parent_benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id
,accumulator_framework_id
,accumulator_framework_accumulator_class_accumulator_id
,financial_code_id
,financial_sub_code_id
,network_not_applicable
,auto_create_member_id_rule_id
,eligibility_seed_value
,annual_accumulator_rollover_rule_id
,restart_accumulator_months_id
,restart_accumulator_day_of_month
,restart_accumulator_number_of_months
,accumulator_start_date
,pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id
,pay_claim_to_id
,billing_only
,call_share_processing_rule_id
,missing_authorization_penalty_rule_id
-- RT:7550 - Copying age_calculation_rule_id
,age_calculation_rule_id
,active
,resolve_option_at_id
)
SELECT @benefit_contract_period_id
,benefit_plan_id
,principle_plan
,benefit_plan_type_id
,parent_benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id
,accumulator_framework_id
,accumulator_framework_accumulator_class_accumulator_id
,financial_code_id
,financial_sub_code_id
,network_not_applicable
,auto_create_member_id_rule_id
,eligibility_seed_value
,annual_accumulator_rollover_rule_id
,restart_accumulator_months_id
,restart_accumulator_day_of_month
,benefit_contract_period_benefit_plan_id
,accumulator_start_date
,pre_existing_condition_rule_set_id
,hipaa_claim_filing_indicator_id
,pay_claim_to_id
,billing_only
,call_share_processing_rule_id
,missing_authorization_penalty_rule_id
-- RT:7550 - Copying age_calculation_rule_id
,age_calculation_rule_id
,0
,resolve_option_at_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_id = @pre_benefit_contract_period_id
AND parent_benefit_contract_period_benefit_plan_id IS NOT NULL
AND (
-- copy over all plans unless copying from Benefit Contract Template
ISNULL(@copy_from_benefit_contract_template, 0) = 0
OR
benefit_contract_period_benefit_plan_id NOT IN (SELECT id FROM @removedPlans)
)

--end of update for Update to Benefit Contract Template
INSERT INTO benefit_contract_period_benefit_plan_network_level_ranking (
benefit_contract_period_benefit_plan_id
,provider_network_level_id
,provider_network_set_id
,provider_network_id
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcpbp2.provider_network_level_id
,bcpbp2.provider_network_set_id
,bcpbp2.provider_network_id
FROM benefit_contract_period_benefit_plan bcpbp1
INNER JOIN benefit_contract_period_benefit_plan_network_level_ranking bcpbp2
ON bcpbp1.restart_accumulator_number_of_months = bcpbp2.benefit_contract_period_benefit_plan_id
WHERE bcpbp1.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO benefit_contract_period_benefit_plan_accumulator_class_choice_resolution (
benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
)
SELECT bcpbp.benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
FROM benefit_contract_period_benefit_plan_accumulator_class_choice_resolution AS bcpbpaccr
INNER JOIN benefit_contract_period_benefit_plan AS bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpaccr.benefit_contract_period_benefit_plan_id
WHERE bcpbp.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO benefit_contract_period_benefit_plan_benefit_class_choice_resolution (
benefit_contract_period_benefit_plan_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
)
SELECT bcpbp.benefit_contract_period_benefit_plan_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
FROM benefit_contract_period_benefit_plan_benefit_class_choice_resolution bcpbpbccr
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpbccr.benefit_contract_period_benefit_plan_id
WHERE bcpbp.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO benefit_contract_period_accumulator_carryover (
accumulator_framework_id
,accumulator_id
,carryover_months
,active
,benefit_contract_period_id
)
SELECT bcpac.accumulator_framework_id
,bcpac.accumulator_id
,bcpac.carryover_months
,1
,@benefit_contract_period_id
FROM benefit_contract_period_accumulator_carryover bcpac
WHERE bcpac.benefit_contract_period_id = @pre_benefit_contract_period_id

INSERT INTO benefit_choice_matrix_weighting (
benefit_contract_period_benefit_plan_id
,deductible
,maximum_out_of_pocket
,maximum_payments
,maximum_units
,maximum_visits
,coinsurance
,copayment
,weight_amount
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcpbp2.deductible
,bcpbp2.maximum_out_of_pocket
,bcpbp2.maximum_payments
,bcpbp2.maximum_units
,bcpbp2.maximum_visits
,bcpbp2.coinsurance
,bcpbp2.copayment
,bcpbp2.weight_amount
FROM benefit_contract_period_benefit_plan bcpbp1
INNER JOIN benefit_choice_matrix_weighting bcpbp2
ON bcpbp1.restart_accumulator_number_of_months = bcpbp2.benefit_contract_period_benefit_plan_id
WHERE bcpbp1.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO family_eligibility_benefit_contract_period_benefit_plan_choice (
benefit_contract_period_benefit_plan_id
,family_eligibility_id
,active
,created_user_name
,created_group_id
,created_date
,modified_date
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcpbp2.family_eligibility_id
,bcpbp2.active
,bcpbp2.created_user_name
,bcpbp2.created_group_id
,GETDATE() --@created_date
,NULL --@modified_date
FROM benefit_contract_period_benefit_plan bcpbp1
INNER JOIN family_eligibility_benefit_contract_period_benefit_plan_choice bcpbp2
ON bcpbp1.restart_accumulator_number_of_months = bcpbp2.benefit_contract_period_benefit_plan_id
WHERE bcpbp1.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO family_eligibility_benefit_contract_period (
family_eligibility_id
,benefit_contract_period_id
,active
,created_user_name
,created_group_id
,created_date
,modified_date
)
SELECT family_eligibility_id
,@benefit_contract_period_id
,active
,created_user_name
,family_eligibility_benefit_contract_period_id
,created_date
,modified_date
FROM family_eligibility_benefit_contract_period febcp
WHERE febcp.benefit_contract_period_id = @pre_benefit_contract_period_id

INSERT INTO family_eligibility_benefit_class_choice_list_resolution (
family_eligibility_id
,benefit_contract_period_benefit_plan_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
,active
,created_user_name
,created_group_id
,created_date
,modified_date
)
SELECT febcclr1.family_eligibility_id
,bcpbp1.benefit_contract_period_benefit_plan_id
,febcclr1.benefit_coverage_rules_id
,febcclr1.benefit_framework_valid_choice_id
,febcclr1.active
,febcclr1.created_user_name
,febcclr1.created_group_id
,GETDATE() --@created_date
,NULL --@modified_date
FROM family_eligibility_benefit_class_choice_list_resolution febcclr1
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp1.restart_accumulator_number_of_months = febcclr1.benefit_contract_period_benefit_plan_id
WHERE bcpbp1.benefit_contract_period_id = @benefit_contract_period_id

INSERT INTO family_eligibility_accumulator_choice_list_resolution (
family_eligibility_id
,benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,active
,created_user_name
,created_group_id
,created_date
)
SELECT feaclr.family_eligibility_id
,bcpbp1.benefit_contract_period_benefit_plan_id
,feaclr.accumulator_limit_rule_id
,feaclr.accumulator_sub_limit_rule_id
,feaclr.individual_accumulator_valid_choice_id
,feaclr.family_accumulator_valid_choice_id
,feaclr.active
,feaclr.created_user_name
,feaclr.created_group_id
,getdate()
FROM family_eligibility_accumulator_choice_list_resolution feaclr
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp1.restart_accumulator_number_of_months = feaclr.benefit_contract_period_benefit_plan_id
WHERE bcpbp1.benefit_contract_period_id = @benefit_contract_period_id

-- If copying from a template copy items using the period's effective dates.
IF (@copy_from_benefit_contract_template = 1)
BEGIN
--19858 copying Visit Definitions (only ones that are still effective)
INSERT INTO benefit_contract_period_benefit_plan_visit_definition (
benefit_contract_period_benefit_plan_id
,criteria_id
,visit_definition_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,vd.criteria_id
,vd.visit_definition_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_visit_definition vd
ON bcpbp.benefit_contract_period_benefit_plan_id = vd.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--RT:7550 - Copying Auto Termination Rules (only ones that are still effective)
INSERT INTO benefit_contract_period_benefit_plan_auto_termination_rule (
benefit_contract_period_benefit_plan_id
,auto_termination_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,atr.auto_termination_rule_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_auto_termination_rule atr
ON bcpbp.benefit_contract_period_benefit_plan_id = atr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying COB Processing Rules
INSERT INTO benefit_contract_period_benefit_plan_cob_processing_rule (
benefit_contract_period_benefit_plan_id
,cob_processing_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,cpr.cob_processing_rule_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_cob_processing_rule cpr
ON bcpbp.benefit_contract_period_benefit_plan_id = cpr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Eligibility Restrictions
INSERT INTO benefit_contract_period_benefit_plan_eligibility_restriction (
benefit_contract_period_benefit_plan_id
,eligibility_restriction_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,er.eligibility_restriction_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_eligibility_restriction er
ON bcpbp.benefit_contract_period_benefit_plan_id = er.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Benefit Waiting Periods
INSERT INTO benefit_contract_period_benefit_plan_benefit_waiting_period (
benefit_contract_period_benefit_plan_id
,criteria_id
,benefit_waiting_period_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bwp.criteria_id
,bwp.benefit_waiting_period_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_benefit_waiting_period bwp
ON bcpbp.benefit_contract_period_benefit_plan_id = bwp.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Volumes
INSERT INTO benefit_contract_period_benefit_plan_volume (
benefit_contract_period_benefit_plan_id
,employee_class_id
,premium_rate_relationship_type_id
,volume_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bv.employee_class_id
,bv.premium_rate_relationship_type_id
,bv.volume_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_volume bv
ON bcpbp.benefit_contract_period_benefit_plan_id = bv.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Coverage Level Tier Assignments
INSERT INTO benefit_contract_period_benefit_plan_coverage_level_tier_assignment(
benefit_contract_period_benefit_plan_id
,tier_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bclta.tier_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_coverage_level_tier_assignment bclta
ON bcpbp.benefit_contract_period_benefit_plan_id = bclta.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Underwriting Rules
INSERT INTO benefit_contract_period_benefit_plan_underwriting_rule (
benefit_contract_period_benefit_plan_id
,underwriting_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bur.underwriting_rule_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_underwriting_rule bur
ON bcpbp.benefit_contract_period_benefit_plan_id = bur.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Additional Plan Options
INSERT INTO benefit_contract_additional_plan_options (
benefit_contract_period_benefit_plan_id
,benefit_plan_set_id
,benefit_plan_id
,required_for_subscriber
,required_for_dependent
,created_date
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcapo.benefit_plan_set_id
,bcapo.benefit_plan_id
,bcapo.required_for_subscriber
,bcapo.required_for_dependent
,getdate()
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_additional_plan_options bcapo
ON bcpbp.benefit_contract_period_benefit_plan_id = bcapo.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Premium Rates
INSERT INTO benefit_contract_period_benefit_plan_premium_rate (
benefit_contract_period_benefit_plan_id
,premium_calculation_rule_id
,premium_rate_id
,employee_class_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,pr.premium_calculation_rule_id
,pr.premium_rate_id
,pr.employee_class_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_premium_rate pr
ON bcpbp.benefit_contract_period_benefit_plan_id = pr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Premium Fees
INSERT INTO benefit_contract_period_benefit_plan_premium_fee (
benefit_contract_period_benefit_plan_id
,premium_fee_definition_id
,vendor_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,pf.premium_fee_definition_id
,pf.vendor_id
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_premium_fee pf
ON bcpbp.benefit_contract_period_benefit_plan_id = pf.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying BCPBP Additional Info
INSERT INTO benefit_contract_period_benefit_plan_additional_information (
benefit_contract_period_benefit_plan_id
,additional_information_topic_id
,additional_information_id
,additional_information_selection_value
,additional_information_value
,comment
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcpbpai.additional_information_topic_id
,bcpbpai.additional_information_id
,bcpbpai.additional_information_selection_value
,bcpbpai.additional_information_value
,bcpbpai.comment
,bcp.effective_from
,bcp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_additional_information bcpbpai
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpai.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
END
ELSE -- Copy anything that happens to be effective during the benefit period.
BEGIN
--19858 copying Visit Definitions (only ones that are still effective)
INSERT INTO benefit_contract_period_benefit_plan_visit_definition (
benefit_contract_period_benefit_plan_id
,criteria_id
,visit_definition_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,vd.criteria_id
,vd.visit_definition_id
,vd.effective_from
,vd.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_visit_definition vd
ON bcpbp.benefit_contract_period_benefit_plan_id = vd.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE vd.effective_from <= ISNULL(bcp.effective_thru, vd.effective_from)
AND ISNULL(vd.effective_thru, bcp.effective_from) >= bcp.effective_from

--RT:7550 - Copying Auto Termination Rules (only ones that are still effective)
INSERT INTO benefit_contract_period_benefit_plan_auto_termination_rule (
benefit_contract_period_benefit_plan_id
,auto_termination_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,atr.auto_termination_rule_id
,atr.effective_from
,atr.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_auto_termination_rule atr
ON bcpbp.benefit_contract_period_benefit_plan_id = atr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE atr.effective_from <= ISNULL(bcp.effective_thru, atr.effective_from)
AND ISNULL(atr.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying COB Processing Rules
INSERT INTO benefit_contract_period_benefit_plan_cob_processing_rule (
benefit_contract_period_benefit_plan_id
,cob_processing_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,cpr.cob_processing_rule_id
,cpr.effective_from
,cpr.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_cob_processing_rule cpr
ON bcpbp.benefit_contract_period_benefit_plan_id = cpr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE cpr.effective_from <= ISNULL(bcp.effective_thru, cpr.effective_from)
AND ISNULL(cpr.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Eligibility Restrictions
INSERT INTO benefit_contract_period_benefit_plan_eligibility_restriction (
benefit_contract_period_benefit_plan_id
,eligibility_restriction_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,er.eligibility_restriction_id
,er.effective_from
,er.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_eligibility_restriction er
ON bcpbp.benefit_contract_period_benefit_plan_id = er.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE er.effective_from <= ISNULL(bcp.effective_thru, er.effective_from)
AND ISNULL(er.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Benefit Waiting Periods
INSERT INTO benefit_contract_period_benefit_plan_benefit_waiting_period (
benefit_contract_period_benefit_plan_id
,criteria_id
,benefit_waiting_period_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bwp.criteria_id
,bwp.benefit_waiting_period_id
,bwp.effective_from
,bwp.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_benefit_waiting_period bwp
ON bcpbp.benefit_contract_period_benefit_plan_id = bwp.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bwp.effective_from <= ISNULL(bcp.effective_thru, bwp.effective_from)
AND ISNULL(bwp.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Volumes
INSERT INTO benefit_contract_period_benefit_plan_volume (
benefit_contract_period_benefit_plan_id
,employee_class_id
,premium_rate_relationship_type_id
,volume_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bv.employee_class_id
,bv.premium_rate_relationship_type_id
,bv.volume_id
,bv.effective_from
,bv.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_volume bv
ON bcpbp.benefit_contract_period_benefit_plan_id = bv.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bv.effective_from <= ISNULL(bcp.effective_thru, bv.effective_from)
AND ISNULL(bv.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Coverage Level Tier Assignments
INSERT INTO benefit_contract_period_benefit_plan_coverage_level_tier_assignment(
benefit_contract_period_benefit_plan_id
,tier_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bclta.tier_id
,bclta.effective_from
,bclta.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_coverage_level_tier_assignment bclta
ON bcpbp.benefit_contract_period_benefit_plan_id = bclta.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bclta.effective_from <= ISNULL(bcp.effective_thru, bclta.effective_from)
AND ISNULL(bclta.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Underwriting Rules
INSERT INTO benefit_contract_period_benefit_plan_underwriting_rule (
benefit_contract_period_benefit_plan_id
,underwriting_rule_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bur.underwriting_rule_id
,bur.effective_from
,bur.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_underwriting_rule bur
ON bcpbp.benefit_contract_period_benefit_plan_id = bur.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bur.effective_from <= ISNULL(bcp.effective_thru, bur.effective_from)
AND ISNULL(bur.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Additional Plan Options
INSERT INTO benefit_contract_additional_plan_options (
benefit_contract_period_benefit_plan_id
,benefit_plan_set_id
,benefit_plan_id
,required_for_subscriber
,required_for_dependent
,created_date
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcapo.benefit_plan_set_id
,bcapo.benefit_plan_id
,bcapo.required_for_subscriber
,bcapo.required_for_dependent
,getdate()
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_additional_plan_options bcapo
ON bcpbp.benefit_contract_period_benefit_plan_id = bcapo.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id

--copying Premium Rates
INSERT INTO benefit_contract_period_benefit_plan_premium_rate (
benefit_contract_period_benefit_plan_id
,premium_calculation_rule_id
,premium_rate_id
,employee_class_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,pr.premium_calculation_rule_id
,pr.premium_rate_id
,pr.employee_class_id
,pr.effective_from
,pr.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_premium_rate pr
ON bcpbp.benefit_contract_period_benefit_plan_id = pr.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE pr.effective_from <= ISNULL(bcp.effective_thru, pr.effective_from)
AND ISNULL(pr.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying Premium Fees
INSERT INTO benefit_contract_period_benefit_plan_premium_fee (
benefit_contract_period_benefit_plan_id
,premium_fee_definition_id
,vendor_id
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,pf.premium_fee_definition_id
,pf.vendor_id
,pf.effective_from
,pf.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_premium_fee pf
ON bcpbp.benefit_contract_period_benefit_plan_id = pf.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE pf.effective_from <= ISNULL(bcp.effective_thru, pf.effective_from)
AND ISNULL(pf.effective_thru, bcp.effective_from) >= bcp.effective_from

--copying BCPBP Additional Info
INSERT INTO benefit_contract_period_benefit_plan_additional_information (
benefit_contract_period_benefit_plan_id
,additional_information_topic_id
,additional_information_id
,additional_information_selection_value
,additional_information_value
,comment
,effective_from
,effective_thru
)
SELECT bcpbp1.benefit_contract_period_benefit_plan_id
,bcpbpai.additional_information_topic_id
,bcpbpai.additional_information_id
,bcpbpai.additional_information_selection_value
,bcpbpai.additional_information_value
,bcpbpai.comment
,bcpbpai.effective_from
,bcpbpai.effective_thru
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period_benefit_plan bcpbp1
ON bcpbp.benefit_plan_id = bcpbp1.benefit_plan_id
AND bcpbp.benefit_contract_period_id = @pre_benefit_contract_period_id
AND bcpbp1.benefit_contract_period_id = @benefit_contract_period_id
INNER JOIN benefit_contract_period_benefit_plan_additional_information bcpbpai
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpai.benefit_contract_period_benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp1.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE bcpbpai.effective_from <= ISNULL(bcp.effective_thru, bcpbpai.effective_from)
AND ISNULL(bcpbpai.effective_thru, bcp.effective_from) >= bcp.effective_from
END

UPDATE bp1
SET restart_accumulator_number_of_months = bp2.restart_accumulator_number_of_months
FROM benefit_contract_period_benefit_plan bp1
,benefit_contract_period_benefit_plan bp2
WHERE bp1.benefit_contract_period_id = @benefit_contract_period_id
AND bp1.restart_accumulator_number_of_months = bp2.benefit_contract_period_benefit_plan_id

UPDATE bp1
SET parent_benefit_contract_period_benefit_plan_id = bp2.benefit_contract_period_benefit_plan_id
FROM benefit_contract_period_benefit_plan bp1
,benefit_contract_period_benefit_plan bp2
WHERE bp2.benefit_contract_period_id = @benefit_contract_period_id
AND bp2.active = 1
AND bp1.parent_benefit_contract_period_benefit_plan_id = bp2.parent_benefit_contract_period_benefit_plan_id
AND bp1.active = 0
AND bp1.benefit_contract_period_id = @benefit_contract_period_id

UPDATE benefit_contract_period_benefit_plan
SET parent_benefit_contract_period_benefit_plan_id = NULL
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_id = @benefit_contract_period_id
AND active = 1

UPDATE benefit_contract_period_benefit_plan
SET active = bp2.active
,created_user_name = bp2.created_user_name
,created_group_id = bp2.created_group_id
,created_date = bp2.created_date
,modified_date = bp2.modified_date
FROM benefit_contract_period bp2
WHERE benefit_contract_period_benefit_plan.benefit_contract_period_id = bp2.benefit_contract_period_id
AND bp2.benefit_contract_period_id = @benefit_contract_period_id

UPDATE bp1
SET created_group_id = bp2.created_group_id
FROM family_eligibility_benefit_contract_period bp1
,family_eligibility_benefit_contract_period bp2
WHERE bp1.benefit_contract_period_id = @benefit_contract_period_id
AND bp1.created_group_id = bp2.family_eligibility_benefit_contract_period_id

SELECT *
FROM benefit_contract_period
WHERE benefit_contract_period_id = @benefit_contract_period_id
END
GO
