USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_stages_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION:
--
DESCRIPTION:
This procedure is used to load data for Correnpondance form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_stages_list_load]
(
@correspondence_id			INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cc.correspondence_stage_id
,cc.stage_number
,cc.correspondence_action_id
,ca.correspondence_action_ud
,cc.report_setup_id
,rs1.report_setup_ud
,cc.days_to_next_stage
,cc.response_required
,cc.response_report_setup_id
,rs2.report_setup_ud AS response_report_setup_ud
,cc.modified_date
,0 as correspondence_run_cycle_id
FROM correspondence_stage cc
LEFT JOIN correspondence_action ca ON ca.correspondence_action_id = cc.correspondence_action_id
LEFT JOIN report_setup rs1 ON rs1.report_setup_id = cc.report_setup_id
LEFT JOIN report_setup rs2 ON rs2.report_setup_id = cc.response_report_setup_id
-- LEFT JOIN correspondence_run_cycle crc ON crc.correspondence_stage_id = cc.correspondence_stage_id
WHERE cc.correspondence_id = @correspondence_id
ORDER BY cc.stage_number


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
