USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_user_assigned_result_code_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: crowe
Sep 11 2005  3:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/23/2005	crowe 		1.0		Created
08/22/2014		eponomareff			RT:6046 data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Read a single object from the benefit_framework_user_assigned_result_code table
This stored procedure is used in the User Assigned Result Codes grid of the Benefit Framework form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_framework_user_assigned_result_code_list_load]
(
@benefit_framework_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_framework_user_assigned_result_code.benefit_framework_user_assigned_result_code_id
,benefit_framework_user_assigned_result_code.criteria_id
,criteria.criteria_ud
,benefit_framework_user_assigned_result_code.result_code_id
,result_code.result_code_ud
,benefit_framework_user_assigned_result_code.result_code_status_id
,result_code_status.result_code_status_ud
,benefit_framework_user_assigned_result_code.comment
,benefit_framework_user_assigned_result_code.effective_from
,benefit_framework_user_assigned_result_code.effective_thru
,benefit_framework_user_assigned_result_code.modified_user_name
FROM 	benefit_framework_user_assigned_result_code
inner join benefit_framework  ON benefit_framework.benefit_framework_id = benefit_framework_user_assigned_result_code.benefit_framework_id
left join criteria  ON criteria.criteria_id = benefit_framework_user_assigned_result_code.criteria_id
left join result_code  ON result_code.result_code_id = benefit_framework_user_assigned_result_code.result_code_id
left join result_code_status  ON result_code_status.result_code_status_id = benefit_framework_user_assigned_result_code.result_code_status_id
WHERE 	benefit_framework_user_assigned_result_code.benefit_framework_id  = @benefit_framework_id
ORDER BY CASE WHEN benefit_framework_user_assigned_result_code.effective_from IS NULL THEN 0 ELSE 1 END ASC, benefit_framework_user_assigned_result_code.effective_from DESC,
CASE WHEN benefit_framework_user_assigned_result_code.effective_thru IS NULL THEN 0 ELSE 1 END ASC, benefit_framework_user_assigned_result_code.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
