USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_process_tin_billing_provider_id_mismatch]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[bind_process_tin_billing_provider_id_mismatch]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @claim_status NVARCHAR(50) = 'Hold';
    DECLARE @result_code_ud NVARCHAR(50) ='BDBADTIN';
    DECLARE @claim_ud NVARCHAR(50);
    DECLARE @updated_count INT = 0;

    DECLARE tinMismatchCursor CURSOR FOR
    SELECT
       claim_ud
    FROM bind_vw_tin_provider_billing_id_mismatch;

    OPEN tinMismatchCursor;

    FETCH NEXT FROM tinMismatchCursor INTO @claim_ud;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC bind_update_claim_insert_result_code
            @claim_status,
            @result_code_ud,
            @claim_ud;

        SET @updated_count = @updated_count + 1;

        FETCH NEXT FROM tinMismatchCursor INTO @claim_ud;
    END;

    CLOSE tinMismatchCursor;
    DEALLOCATE tinMismatchCursor;

    -- Log the number of claims updated
    RAISERROR ('%d claims were updated by bind_process_tin_billing_provider_id_mismatch.', 0, 1, @updated_count) WITH NOWAIT;

END;

GO
