USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_modifier_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
DATE: 1/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/10/2006     n8nguyen  1.0         Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for Fee Schedule Modifier Table form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_fee_schedule_modifier_save]

(
@fee_schedule_modifier_id                   int = NULL   OUTPUT
,@fee_schedule_modifier_ud                   nvarchar(50) = NULL
--      ,@fee_schedule_modifier_nm                   nvarchar(100) = NULL
,@fee_schedule_modifier_description          nvarchar(255) = NULL
,@procedure_code_type_id                     int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159050001',
@ERROR_NOT_EXIST	= '159050002',
@ERROR_CANT_UPDATE 	= '159050003'
--
IF @fee_schedule_modifier_id is Null
BEGIN

--- Create a new fee_schedule_modifier record
INSERT INTO fee_schedule_modifier(
fee_schedule_modifier_ud
--,fee_schedule_modifier_nm
,description
,procedure_code_type_id
,active
)
VALUES
(@fee_schedule_modifier_ud
--,@fee_schedule_modifier_nm
,@fee_schedule_modifier_description
,@procedure_code_type_id
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @fee_schedule_modifier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule_modifier WHERE fee_schedule_modifier_id = @fee_schedule_modifier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_modifier record
UPDATE fee_schedule_modifier
SET
fee_schedule_modifier_ud                 = @fee_schedule_modifier_ud
--       ,fee_schedule_modifier_nm                 = @fee_schedule_modifier_nm
,description                              = @fee_schedule_modifier_description
,procedure_code_type_id                   = @procedure_code_type_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_modifier_id = @fee_schedule_modifier_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
