USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_financially_responsible_party_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load financially_responsible_party table dropdown


;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_financially_responsible_party_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
financially_responsible_party_id
,financially_responsible_party_ud
,golden_key
FROM financially_responsible_party
ORDER BY financially_responsible_party.financially_responsible_party_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
