USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_close_paid_claims]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE        PROCEDURE [dbo].[BIND_close_paid_claims]
AS

				/**SYSTEM SETTINGS**/
					DECLARE @COMMIT BIT ,@ERRMSG VARCHAR(3000), 
							@LOGTEXT VARCHAR(120), @CURDATE VARCHAR(20),
							@MODE VARCHAR(10), @UPD_RECS INT, @MAIN_TEXT VARCHAR(80),
							@DISP_RECS VARCHAR(10)
				/********END*********/
/********************************************************************************************************************************
	USER CONFIGURABLE SETTINGS BELOW
 ********************************************************************************************************************************

	RUN SCRIPT WITH BIT COMMIT SET TO 0 FIRST TO DETERMINE IF THERE WILL BE	ANY ERRORS.
	ONCE TEST RUN COMPLETES WITH NO ERRORS, CHANGE TO 1 AND RUN AGAIN TO COMMIT THE CHANGES TO THE DATABASE.	
	IF THERE ARE ERRORS, PLEASE CONTACT PLEXIS TECHNICAL SUPPORT BEFORE COMMITING ANY CHANGES. */

SET @COMMIT = 1;

/********************************************************************************************************************************
	END USER CONFIGURABLE SETTINGS
********************************************************************************************************************************/

-- SET SYSTEM VARIABLES --

SET @UPD_RECS = 0;
SET @MAIN_TEXT = ' RUN OF BIND APPROVED CLAIM STATUS FIX. Total Records Updated = ';
IF (@COMMIT = 0)
	SET @MODE = 'TEST'
ELSE
	SET @MODE = 'COMMIT'
SET @CURDATE = GETDATE();

-- SET UP TEMP TABLE WITH IDS

	IF OBJECT_ID('TEMPDB..#APPR_CLAIM_ID') IS NOT NULL
		DROP TABLE #APPR_CLAIM_ID

;WITH unpaid_claims AS
	(
	SELECT DISTINCT
		c.claim_id
	FROM
		claim c
	JOIN claim_procedure cp
		ON cp.claim_id = c.claim_id
	WHERE
		cp.claim_payment_process_status_id <> 4
		OR cp.claim_payment_process_status_id is null
	)
SELECT DISTINCT
	c.claim_id
INTO 
	#APPR_CLAIM_ID
FROM	
	claim c
LEFT JOIN claim_procedure cp
	ON	c.claim_id = cp.claim_id
LEFT JOIN unpaid_claims uc
	ON uc.claim_id = c.claim_id
WHERE	
	c.adjudication_status_id = 1
	AND cp.claim_payment_process_status_id = 4
	AND uc.claim_id IS NULL
ORDER BY 
	c.claim_id ASC

	DECLARE @RELEVANT_DATA VARCHAR(MAX)
	SET @RELEVANT_DATA = 
			'SELECT c.claim_ud, c.claim_form_type_id form_type, c.adjudication_status_id adj_status, 
			 c.claim_payment_process_status_id pay_status, c.active, c.adjusted_claim, c.modified_date, 
			 c.modified_user_name
			FROM claim c
			WHERE c.claim_id IN (
				SELECT claim_id
				FROM #APPR_CLAIM_ID
				)
				ORDER BY c.claim_ud'
	
	IF (SELECT TOP 1 claim_id FROM #APPR_CLAIM_ID) IS NULL
		BEGIN
			SELECT 'NO RECORDS MATCHED' AS 'SCRIPT_STATUS'
		END
	ELSE
		BEGIN
			EXEC (@RELEVANT_DATA)	
			SELECT	COUNT(*) 'TOTAL RECORDS TO UPDATE'
			FROM	#APPR_CLAIM_ID

-- list all claim lines in update		
			SELECT 
				c.claim_ud, cp.type_of_service_id service, ads.adjudication_status_ud adj_status, cp.claim_line_sequence, 
				CASE cp.procedure_code_ud
					WHEN NULL THEN cp.procedure_code_2_ud
					ELSE cp.procedure_code_ud
				END AS procedure_code,
				cp.units, cp.charge, cpra.amount, cpps.claim_payment_process_status_ud pay_status
			FROM
				claim c
			JOIN	adjudication_status ads
			ON		ads.adjudication_status_id = c.adjudication_status_id
			JOIN	claim_procedure cp
			ON		c.claim_id = cp.claim_id
			JOIN	claim_payment_process_status cpps
			ON		cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
			JOIN	claim_payment_run_amount cpra
			ON		c.claim_id = cpra.claim_id
			AND		cp.claim_procedure_id = cpra.claim_procedure_id
			JOIN	#APPR_CLAIM_ID aci
			ON		c.claim_id = aci.claim_id
			ORDER BY	1, 2
	END

IF (@COMMIT = 0)
	SELECT 'TEST' AS 'MODE:', 'DATA BEFORE CORRECTION:' AS SCRIPT_STATUS
ELSE
	SELECT 'COMMIT' AS 'MODE:', 'DATA BEFORE CORRECTION:' AS SCRIPT_STATUS
	
BEGIN TRANSACTION TRANS
	BEGIN TRY

/*********************************************************
RECORD HOTFIX IN SYSTEM UPDATE AND LOG
	SYSTEM_UPDATE_LOG
*********************************************************/
	SET @UPD_RECS =
		(SELECT 
			COUNT(*)
		 FROM	
			#APPR_CLAIM_ID);

	SET @DISP_RECS =
		(SELECT		
			CAST(@UPD_RECS AS VARCHAR(10)) AS TL)

	SET @LOGTEXT = 'SP14789 ' + @CURDATE + ' ' + @MODE + @MAIN_TEXT + @DISP_RECS
	SELECT @LOGTEXT AS 'LOG TEXT'

	--LOGGING
	DECLARE @SYSTEM_UPDATE_UD NVARCHAR(50), @SYSTEM_UPDATE_NM NVARCHAR(50), @DESCRIPTION NVARCHAR(100)

	-- SET VARIABLES FOR CURRENT VERSION
	SET @SYSTEM_UPDATE_UD = (SELECT TOP 1 SYSTEM_UPDATE_UD FROM SYSTEM_UPDATE ORDER BY STARTED DESC)
	SET @SYSTEM_UPDATE_NM = (SELECT TOP 1 SYSTEM_UPDATE_NM FROM SYSTEM_UPDATE ORDER BY STARTED DESC)
	SET @DESCRIPTION = (SELECT TOP 1 DESCRIPTION FROM SYSTEM_UPDATE ORDER BY STARTED DESC)
	
	--DB UPDATE LOG
	DECLARE @SYSTEM_UPDATE_ID INT, @LOG NVARCHAR(1000)
	
	-- ADD LOG ENTRY
	SELECT 
		@LOG = @LOGTEXT,
		@SYSTEM_UPDATE_ID = SYSTEM_UPDATE_ID
	FROM SYSTEM_UPDATE
	WHERE SYSTEM_UPDATE_UD = @SYSTEM_UPDATE_UD
	IF NOT EXISTS(SELECT * FROM SYSTEM_UPDATE_LOG WHERE SYSTEM_UPDATE_ID = @SYSTEM_UPDATE_ID AND CHANGE_LOG = @LOG )
		BEGIN
			 INSERT INTO SYSTEM_UPDATE_LOG(SYSTEM_UPDATE_ID,CHANGE_LOG)
			 VALUES(@SYSTEM_UPDATE_ID, @LOG)
		END

-- *** ADD FIX (UPDATE/DELETE) STATEMENTS HERE *** 
	UPDATE	claim
	SET		adjudication_status_id = 4,
			modified_date = GETDATE(),
			modified_user_name = SYSTEM_USER
	WHERE	claim_id IN (
				SELECT claim_id
				FROM #APPR_CLAIM_ID
				)

	END TRY
	BEGIN CATCH
		SELECT @ERRMSG = ERROR_MESSAGE() 
		RAISERROR(@ERRMSG, 16, 1)
		ROLLBACK TRANSACTION TRANS
		RETURN
	END CATCH

--CHECK IF COMMIT IS SET, IF YES COMMIT, IF NO ROLLBACK
SELECT 'DATA AFTER CORRECTION:' AS SCRIPT_STATUS

	IF @COMMIT = 1
		BEGIN
			SELECT 'DATA UPDATED. DATA AFTER UPDATE:' AS 'SCRIPT_STATUS'
			COMMIT TRANSACTION TRANS

			SELECT 'NO ERRORS - SCRIPT COMPLETED SUCCESSFULLY' AS 'SCRIPT_STATUS'
			EXEC (@RELEVANT_DATA)
		END
	ELSE
		BEGIN
			EXEC (@RELEVANT_DATA)
			ROLLBACK TRANSACTION TRANS
			SELECT 'NO ERRORS - SCRIPT COMPLETED SUCCESSFULLY' AS 'SCRIPT_STATUS'
		END
-- GET RID OF TEMP TABLE
	DROP TABLE #APPR_CLAIM_ID

GO
