USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_queue_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	07/28/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in claim_analysis_queue table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_analysis_queue_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0
-- First check that the provider exists
IF NOT EXISTS (SELECT claim_analysis_queue_id FROM claim_analysis_queue WHERE claim_analysis_queue_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM claim_analysis_set WHERE claim_analysis_queue_id = @id)
BEGIN
--check Claim Set
SELECT 'Claim Set' AS object_golden_key, claim_analysis_set_ud AS object_ud
FROM claim_analysis_set
WHERE claim_analysis_queue_id = @id

RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
END
GO
