USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_load_by_contract_and_family_eligibility_ud]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 12/04/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_eligibility_load_by_contract_and_family_eligibility_ud]
(
@benefit_contract_id INT
,@family_eligibility_ud	NVARCHAR(255)
) AS

SELECT fembp.* FROM family_eligibility fe
join family_eligibility_member fem on fe.family_eligibility_id = fem.family_eligibility_id
join family_eligibility_member_benefit_plan fembp on fem.family_eligibility_member_id = fembp.family_eligibility_member_id
join benefit_plan bp on fembp.benefit_plan_id = bp.benefit_plan_id
join benefit_contract_period_benefit_plan bcpbp on bcpbp.benefit_plan_id = bp.benefit_plan_id
join benefit_contract_period bcp on bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
join benefit_contract bc on bcp.benefit_contract_id = bc.benefit_contract_id
WHERE
bc.benefit_contract_id = @benefit_contract_id
AND
fe.family_eligibility_ud = @family_eligibility_ud
GO
