USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_vendor_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/16/2005	Lamnguyen		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Vendor grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_vendor_list_load]
(
@client_id			INT =NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
client_vendor.client_vendor_id
,client_vendor.client_id
,client_vendor.vendor_id
,vendor.vendor_ud
,client_vendor.criteria_id
,criteria.criteria_ud
,client_vendor.effective_from
,client_vendor.effective_thru
,isnull(client_vendor.effective_thru,'9999-12-31') as order_effective_thru
FROM client_vendor
LEFT   JOIN vendor  ON  client_vendor.vendor_id = vendor.vendor_id
LEFT   JOIN criteria  ON  client_vendor.criteria_id = criteria.criteria_id
WHERE client_vendor.client_id = @client_id
order by order_effective_thru  desc,criteria.criteria_ud asc
GO
