USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_zero_tracking_claim_procedure_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_accounting_information_zero_tracking_claim_procedure_load] (
@claim_procedure_id INT
)
AS
SELECT
p.accounting_transaction_ap_id,
p.accounting_transaction_ap_ud,
v.vendor_id,
v.vendor_ud,
v.vendor_nm,
pd.check_date,
zb.reference_number as zero_claim_vendor_batch_reference_number,
zb.finalized_date AS zero_claim_vendor_batch_finalized_date,
zb.last_printed_date AS zero_claim_eop_print_date,
zcps.zero_tracking_claim_procedure_status_ud

FROM
zero_tracking_claim_procedure z
JOIN claim_procedure cp
ON cp.claim_procedure_id = z.claim_procedure_id
JOIN vendor v
ON v.vendor_id = z.vendor_id
LEFT JOIN zero_tracking_vendor_batch zb
ON zb.zero_tracking_vendor_batch_id = z.zero_tracking_vendor_batch_id
LEFT JOIN accounting_transaction_ap p
ON p.accounting_transaction_ap_id = z.payment_accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = p.accounting_transaction_ap_id
LEFT JOIN zero_tracking_claim_procedure_status zcps
ON zcps.zero_tracking_claim_procedure_status_id = z.zero_tracking_claim_procedure_status_id
WHERE
z.claim_procedure_id = @claim_procedure_id;

RETURN 0;
GO
