USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_assignment_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 02/08/2012
--
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a claim processing rule framwework assignment before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the claim_processeing_rule_framework_assignment to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_assignment_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


IF EXISTS (SELECT * FROM adjudication_result_key ark WHERE ark.claim_processing_rule_framework_id = @id)
RETURN @SP_DELETE_UNABLE
ELSE
RETURN @SP_DELETE_ABLE

--
GO
