USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_day_of_week_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Dec 19 2005  2:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down day_of_week (Day Of Week)
--
REQUIREMENTS:
--
INPUTS:
day_of_week_id - Key to day_of_week table, identifies a single stored dd_day_of_week.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_day_of_week_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
day_of_week.day_of_week_id
,day_of_week.day_of_week_ud

FROM day_of_week
order by sort_order
GO
