USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_criteria_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Member Assignment grid on Capitation Member Roster form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_member_roster_criteria_save]
(
@capitation_member_roster_criteria_id	int = NULL   OUTPUT
,@capitation_member_roster_id		int = NULL
,@benefit_contract_id			int = NULL
,@benefit_plan_id             		int = NUll
,@client_id				int = NULL
,@client_group_id				int = NUll
,@benefit_category_id			int = NULL
,@effective_from			datetime = NULL
,@effective_thru			datetime = NULL
,@active				bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @capitation_member_roster_criteria_id is Null or @capitation_member_roster_criteria_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_member_roster_criteria(
capitation_member_roster_id
,benefit_contract_id
,benefit_plan_id
,client_id
,client_group_id
,benefit_category_id
,effective_from
,effective_thru
,active
)
VALUES
(@capitation_member_roster_id
,@benefit_contract_id
,@benefit_plan_id
,@client_id
,@client_group_id
,@benefit_category_id
,@effective_from
,@effective_thru
,@active
)
--
SET @capitation_member_roster_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM capitation_member_roster_criteria WHERE capitation_member_roster_criteria_id = @capitation_member_roster_criteria_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE capitation_member_roster_criteria
SET
capitation_member_roster_id	= @capitation_member_roster_id
,benefit_contract_id		= @benefit_contract_id
,benefit_plan_id			= @benefit_plan_id
,client_id			= @client_id
,client_group_id			= @client_group_id
,benefit_category_id		= @benefit_category_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_member_roster_criteria_id = @capitation_member_roster_criteria_id

END
--
RETURN @SP_SUCCESS
--
GO
