USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_other_insurance_required]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cknobloch
Date: 09/13/2011
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_other_insurance_required]
(
@benefit_contract_period_benefit_plan_id              int
,@family_eligibility_member_id							int
,@relationship_to_insured_id							int
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE @IS_CHECKED INT
--

DECLARE
@CURSOR_GOVERNMENT_HEALTH_PLAN_ID INT,
@CURSOR_GOVERNMENT_HEALTH_PLAN_SET_ID INT,
@BENEFIT_CATEGORY_ID INT,
@FOUND BIT

SET @FOUND = -1

SET @BENEFIT_CATEGORY_ID = (SELECT bf.benefit_category_id
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf ON bf.benefit_framework_id = bp.benefit_framework_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)

DECLARE enrollment_restrictions_cursor CURSOR
FOR SELECT
errtsoir.government_health_plan_id,
errtsoir.government_health_plan_set_id
FROM
benefit_contract_period_benefit_plan_eligibility_restriction bcper
LEFT JOIN eligibility_restriction er ON er.eligibility_restriction_id = bcper.eligibility_restriction_id
LEFT JOIN eligibility_restriction_relationship_to_subscriber errts ON errts.eligibility_restriction_id = er.eligibility_restriction_id
INNER JOIN eligibility_restriction_relationship_to_subscriber_other_insurance_restriction errtsoir ON errtsoir.eligibility_restriction_relationship_to_subscriber_id = errts.eligibility_restriction_relationship_to_subscriber_id
LEFT JOIN government_health_plan_set ghps ON ghps.government_health_plan_set_id = errtsoir.government_health_plan_set_id
LEFT JOIN government_health_plan_in_the_government_health_plan_set ghpighps ON ghpighps.government_health_plan_set_id = ghps.government_health_plan_set_id
WHERE
bcper.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (  (bcper.effective_from IS NULL OR bcper.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (bcper.effective_thru IS NULL OR bcper.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND (  (errtsoir.effective_from IS NULL OR errtsoir.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (errtsoir.effective_thru IS NULL OR errtsoir.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND (  (ghpighps.effective_from IS NULL OR ghpighps.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (ghpighps.effective_thru IS NULL OR ghpighps.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND (errts.relationship_to_insured_id = @relationship_to_insured_id OR (errts.relationship_to_insured_set_id IN
(SELECT relationship_to_insured_set.relationship_to_insured_set_id
FROM relationship_to_insured_set, relationship_in_the_relationship_set
WHERE relationship_to_insured_set.relationship_to_insured_set_id = relationship_in_the_relationship_set.relationship_to_insured_set_id
AND relationship_in_the_relationship_set.relationship_to_insured_id = @relationship_to_insured_id
AND (  (relationship_to_insured_set.effective_from IS NULL OR relationship_to_insured_set.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (relationship_to_insured_set.effective_thru IS NULL OR relationship_to_insured_set.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND (  (relationship_in_the_relationship_set.effective_from IS NULL OR relationship_in_the_relationship_set.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (relationship_in_the_relationship_set.effective_thru IS NULL OR relationship_in_the_relationship_set.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
)))

OPEN enrollment_restrictions_cursor

FETCH NEXT FROM enrollment_restrictions_cursor
INTO @CURSOR_GOVERNMENT_HEALTH_PLAN_ID, @CURSOR_GOVERNMENT_HEALTH_PLAN_SET_ID;

WHILE @@FETCH_STATUS = 0
BEGIN

IF @FOUND = 0
BEGIN
CLOSE enrollment_restrictions_cursor;
DEALLOCATE enrollment_restrictions_cursor;
RETURN 0;
END

SET @FOUND = 0

-- check government_health_plan_id
IF ISNULL(@CURSOR_GOVERNMENT_HEALTH_PLAN_ID, -1) <> -1 AND EXISTS (
SELECT
cmghp.government_health_plan_id
FROM  family_eligibility_member
INNER JOIN cob_member cm ON family_eligibility_member.member_id = cm.member_id
INNER JOIN cob_member_governmental_health_plan cmghp ON cm.cob_member_id = cmghp.cob_member_id
WHERE family_eligibility_member.family_eligibility_member_id = @family_eligibility_member_id
AND cmghp.government_health_plan_id = @CURSOR_GOVERNMENT_HEALTH_PLAN_ID
AND (  (cmghp.effective_from IS NULL OR cmghp.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (cmghp.effective_thru IS NULL OR cmghp.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND cmghp.benefit_category_id = @BENEFIT_CATEGORY_ID
)
BEGIN
SET @FOUND = 1
END

-- check government_health_plan_set_id
IF ISNULL(@CURSOR_GOVERNMENT_HEALTH_PLAN_SET_ID, -1) <> -1 AND @FOUND <> 1 AND EXISTS (
SELECT
cmghp.government_health_plan_id
FROM  family_eligibility_member
INNER JOIN cob_member cm ON family_eligibility_member.member_id = cm.member_id
INNER JOIN cob_member_governmental_health_plan cmghp ON cm.cob_member_id = cmghp.cob_member_id
AND (  (cmghp.effective_from IS NULL OR cmghp.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (cmghp.effective_thru IS NULL OR cmghp.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
AND cmghp.benefit_category_id = @BENEFIT_CATEGORY_ID
WHERE family_eligibility_member.family_eligibility_member_id = @family_eligibility_member_id
AND cmghp.government_health_plan_id IN (SELECT ghpighps.government_health_plan_id
FROM government_health_plan_set ghps
INNER JOIN government_health_plan_in_the_government_health_plan_set ghpighps ON ghps.government_health_plan_set_id = ghpighps.government_health_plan_set_id
WHERE ghps.government_health_plan_set_id = @CURSOR_GOVERNMENT_HEALTH_PLAN_SET_ID
AND (  (ghpighps.effective_from IS NULL OR ghpighps.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND (ghpighps.effective_thru IS NULL OR ghpighps.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
)
)
BEGIN
SET @FOUND = 1
END

FETCH NEXT FROM enrollment_restrictions_cursor
INTO @CURSOR_GOVERNMENT_HEALTH_PLAN_ID, @CURSOR_GOVERNMENT_HEALTH_PLAN_SET_ID;

END
CLOSE enrollment_restrictions_cursor;
DEALLOCATE enrollment_restrictions_cursor;

IF ISNULL(@found, 1) = 1
BEGIN
RETURN 1
END
ELSE
BEGIN
RETURN 0
END
SET NOCOUNT OFF

END
GO
