USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_overpayment]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--===============================================================================================================
--Object Type: Stored Procedure
--Description: Checks for new overpayments
--Create Date: 11/23/2020
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description
--===============================================================================================================
--11/23/2020 | SJC    | 1.0     | Created Stored Procedure
--03/27/2024 | SJM    | 1.1     | Added Distinct
--02/18/2025 | CNF    | 1.2     | Performance/scalability improvements.
--===============================================================================================================

CREATE   PROCEDURE [dbo].[bind_overpayment]

AS

SET NOCOUNT ON;
IF OBJECT_ID('tempdb..#overpayment') IS NOT NULL DROP TABLE #overpayment
CREATE TABLE #overpayment (
							  id int identity(1,1)
							, claim_id int
							, claim_type char(3)
							, current_letter char(3)
							, last_sent_date datetime
							, next_letter char(3)
							, additional_info_effective_thru datetime )
--=========
--Letter #1
--=========
--Institutional
	BEGIN TRY
		BEGIN TRANSACTION
		DECLARE @current_date datetime = getdate();
         SELECT DISTINCT claim_id INTO #temp_inst_claimids
         FROM [dbo].[institutional_claim_additional_information] icai
         INNER JOIN institutional_claim ic
             ON icai.institutional_claim_id = ic.institutional_claim_id
         WHERE NOT EXISTS (
                 SELECT 1
                 FROM bind_overpayments o
                 WHERE ic.claim_id = claim_id
                     AND o.claim_type = 'I'
                     AND o.letter_type = '1'
             )
             AND icai.effective_from >= '03/01/2021'
             AND icai.effective_thru IS NULL
             AND icai.created_date > (select max(created_at) from bind_overpayments where claim_type = 'I' and letter_type='1');


         INSERT INTO [dbo].[bind_overpayments] ([claim_id], [claim_type], [letter_type], [letter_type_sort])
         SELECT DISTINCT
             c.claim_id AS claim_id,
             'I' AS claim_type,
             '1' AS letter_type,
             1 AS letter_type_sort
         FROM #temp_inst_claimids c
         OUTER APPLY (
             SELECT TOP 1
                 pn.provider_network_nm AS override_picked_network,
                 arko.created_user_name AS override_user,
                 pn_auto.provider_network_nm AS auto_picked_network
             FROM claim_procedure cp WITH (nolock)
             INNER JOIN adjudication_result_key ark WITH (nolock)
                 ON cp.claim_procedure_id = ark.claim_procedure_id
             LEFT JOIN adjudication_result_key_override arko WITH (nolock)
                 ON ark.adjudication_result_key_id = arko.adjudication_result_key_id
                 AND arko.provider_network_id IS NOT NULL
             LEFT JOIN provider_network pn WITH (nolock)
                 ON arko.provider_network_id = pn.provider_network_id
             LEFT JOIN provider_network pn_auto WITH (nolock)
                 ON ark.provider_network_id = pn_auto.provider_network_id
             WHERE c.claim_id = cp.claim_id
             ORDER BY cp.claim_line_sequence
         ) AS adj_pn
         WHERE COALESCE(adj_pn.override_picked_network, adj_pn.auto_picked_network, '') LIKE 'UMR%';



--Professional
        SELECT DISTINCT claim_id INTO #temp_prof_claimids
        FROM professional_claim_additional_information pcai
        INNER JOIN professional_claim pc
            ON pcai.professional_claim_id = pc.professional_claim_id
        WHERE NOT EXISTS (
                SELECT 1
                FROM bind_overpayments o
                WHERE pc.claim_id = claim_id
                    AND o.claim_type = 'P'
                    AND o.letter_type = '1'
            )
            AND pcai.effective_from >= '03/01/2021'
            AND pcai.effective_thru IS NULL
            AND pcai.created_date > (select max(created_at) from bind_overpayments where claim_type = 'P' and letter_type='1');


			INSERT INTO [dbo].[bind_overpayments] ([claim_id],[claim_type],[letter_type],[letter_type_sort])
			SELECT DISTINCT
			 c.claim_id AS claim_id
			,'P' AS claim_type
			,'1' AS letter_type
			, 1 as letter_type_sort
			FROM #temp_prof_claimids c
				outer apply (Select top 1
									  pn.provider_network_nm as override_picked_network
									, arko.created_user_name as override_user
									, pn_auto.provider_network_nm as auto_picked_network
								from claim_procedure cp with(nolock)
									inner join adjudication_result_key ark with(nolock)
										on cp.claim_procedure_id = ark.claim_procedure_id
									left join adjudication_result_key_override arko  with(nolock)
										on ark.adjudication_result_key_id = arko.adjudication_result_key_id
											and arko.provider_network_id is not null
									left join provider_network pn with(nolock)
										on arko.provider_network_id = pn.provider_network_id
									left join provider_network pn_auto with(nolock)
										on ark.provider_network_id = pn_auto.provider_network_id
								where c.claim_id = cp.claim_id
								order by cp.claim_line_sequence
							) as adj_pn
				where coalesce( adj_pn.override_picked_network, adj_pn.auto_picked_network,'') like 'UMR%';

        insert into #overpayment (claim_id, claim_type, current_letter, last_sent_date, next_letter, additional_info_effective_thru)
        select distinct ic.claim_id, 'I', op.letter_type, op.updated_at, null, icai.effective_thru
        FROM [dbo].[institutional_claim_additional_information] icai
            inner join institutional_claim ic
                on icai.institutional_claim_id = ic.institutional_claim_id
            cross apply (select top 1 *
                         from bind_overpayments ca_o
                         where ca_o.claim_id = ic.claim_id
                         order by ca_o.letter_type_sort desc
                         ) as op
        where 1=1
            and op.letter_type not in ('3', 'P')
            and op.created_at < cast(getdate() as date)

        insert into #overpayment (claim_id, claim_type, current_letter, last_sent_date, next_letter, additional_info_effective_thru)
        select distinct pc.claim_id, 'P', op.letter_type, op.updated_at, null, pcai.effective_thru
        FROM [dbo].[professional_claim_additional_information] pcai
            inner join professional_claim pc
                on pcai.professional_claim_id = pc.professional_claim_id
            cross apply (select top 1 *
                         from bind_overpayments ca_o
                         where ca_o.claim_id = pc.claim_id
                         order by ca_o.letter_type_sort desc
                         ) as op
        where 1=1
            and op.letter_type not in ('3', 'P')
            and op.created_at < cast(getdate() as date)


        update o
        set o.next_letter = case
                    when o.current_letter = '1' and datediff(dd,o.last_sent_date,getdate()) >= 30 and o.additional_info_effective_thru is null then '2'
                    when o.current_letter = '2' and datediff(dd,o.last_sent_date,getdate()) >= 30 and o.additional_info_effective_thru is null then '3'
                    when o.current_letter <> 'P' and o.additional_info_effective_thru is not null then 'P'
                    else null
                    end
        from #overpayment o


        INSERT INTO [dbo].[bind_overpayments] ([claim_id],[claim_type],[letter_type],[letter_type_sort])
        select DISTINCT o.claim_id
             , o.claim_type
             , o.next_letter
             , case next_letter
                when '2' then 2
                when '3' then 3
                when 'P' then 4
                end as letter_type_sort
        from #overpayment o
        where o.next_letter is not null

         --Fill in control numbers for claims
         insert into bind_overpayment_claim_control_number (claim_id)
         select distinct op.claim_id
         from bind_overpayments op
            left join bind_overpayment_claim_control_number boccn
                on op.claim_id = boccn.claim_id
         where boccn.claim_id is null
         and op.created_at >= @current_date

         update op
         set op.control_number = boccn.control_number
         from bind_overpayments op
            inner join bind_overpayment_claim_control_number boccn
                on op.claim_id = boccn.claim_id
        where op.control_number is null

	    COMMIT TRANSACTION
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK;
		THROW;
	END CATCH


GO
