USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_batch_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 04/05/2012
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
04/05/2012	A.Mortensen		1.3		Created from plx_accounting_transaction_ar_payment_detail_save
08/18/2014  Development     1.4     RT:6046 Updated created/modified tombstone columns
02/14/2024  eponomareff     1.5     Ensure distribution records updated upon save

DESCRIPTION:
Saves Customer Payment batch form Payment grid data

--------------------------------------------------------------------------------
ACCOUNTING NOTES
--------------------------------------------------------------------------------
Balance Type			Debit		|		Credit
--------------------------------------------------------------------------------
Account Category		AR			|		Revenue
Cash		|
Expense		|		AP

Debit Balance Type Accounts INCREASE when debited, and DECREASE when credited.

A Customer Payment does the folowing:
- decreases the AR (Accounts Receivable), so the is_debit is FALSE
- increases the Cash account, so the is_debit is TRUE

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_batch_detail_save]
(
@accounting_transaction_ar_id   		INT = NULL OUTPUT, -- This param must be first!
@accounting_transaction_ar_payment_detail_id INT = NULL OUTPUT,
@accounting_transaction_ar_payment_batch_id	INT	= NULL,
@customer_id                      		INT,
@accounting_company_id					INT,
@bank_account_id                		INT,
@accounting_company_account_id			INT,
@payment_method_customer_id      		INT = NULL,
@amount                 				NUMERIC(20, 10),
@payment_date							DATETIME,
@check_ach_reference					NVARCHAR(20) = NULL,
@comment								NVARCHAR(300) = NULL,
@active                         		BIT = 1,
@accounting_payment_status_id   		INT = NULL
) AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

DECLARE @accounting_transaction_ar_type_id INT =
(SELECT  accounting_transaction_ar_type_id
FROM accounting_transaction_ar_type
WHERE golden_key = 'PAYMENT');

-- Get the cash account ID from the bank account
DECLARE @cash_account_id INT =
(SELECT cash_accounting_company_account_id
FROM bank_account
WHERE bank_account_id = @bank_account_id);

IF @accounting_transaction_ar_payment_detail_id IS NULL
BEGIN
-- Get the autogenerated Customer Payment UD
DECLARE @customer_payment_ud NVARCHAR(100)
EXEC plx_auto_create_accounting_customer_payment_id_rule @customer_id, @customer_payment_ud OUTPUT

INSERT INTO accounting_transaction_ar(
accounting_transaction_ar_ud
,customer_id
,accounting_company_id
,accounting_transaction_ar_type_id
,transaction_date
,transaction_amount
)
VALUES
(@customer_payment_ud
,@customer_id
,@accounting_company_id
,@accounting_transaction_ar_type_id
,@payment_date
,@amount
)

SET @accounting_transaction_ar_id = @@IDENTITY

INSERT INTO accounting_transaction_ar_payment_detail(
accounting_transaction_ar_id
,bank_account_id
,ar_accounting_company_account_id
,payment_method_customer_id
,payment_date
,check_ach_reference
,memo
,active
,accounting_payment_status_id
,accounting_transaction_ar_payment_batch_id
)
VALUES
(@accounting_transaction_ar_id
,@bank_account_id
,@accounting_company_account_id
,@payment_method_customer_id
,@payment_date
,@check_ach_reference
,@comment
,@active
,@accounting_payment_status_id
,@accounting_transaction_ar_payment_batch_id
)

SET @accounting_transaction_ar_payment_detail_id = @@IDENTITY

----------------------------------------------
-- Create the distributions
----------------------------------------------
INSERT INTO accounting_transaction_ar_distribution(
accounting_transaction_ar_id
,accounting_company_account_id
,is_debit
,amount
,active
)
VALUES
(@accounting_transaction_ar_id,
@accounting_company_account_id,
0, -- AR account is credited
@amount,
@active
)

INSERT INTO accounting_transaction_ar_distribution(
accounting_transaction_ar_id
,accounting_company_account_id
,is_debit
,amount
,active
)
VALUES
(@accounting_transaction_ar_id
,@cash_account_id
,1
--Cash account is debited
,@amount
,@active
)
END
--
ELSE IF NOT EXISTS (
SELECT * FROM accounting_transaction_ar_payment_detail atpd
JOIN accounting_transaction_ar ata
ON atpd.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE atpd.accounting_transaction_ar_id = @accounting_transaction_ar_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Update transaction record	(transaction of type payment)
UPDATE accounting_transaction_ar
SET
transaction_amount				    = @amount
,customer_id                        = @customer_id
,accounting_company_id              = @accounting_company_id
,transaction_date                   = @payment_date
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

-- Update payment details record
UPDATE accounting_transaction_ar_payment_detail
SET
bank_account_id                            = @bank_account_id
,ar_accounting_company_account_id		    = @accounting_company_account_id
,payment_method_customer_id				    = @payment_method_customer_id
,payment_date							    = @payment_date
,check_ach_reference                        = @check_ach_reference
,memo                                       = @comment
,active									    = @active
,accounting_payment_status_id			    = @accounting_payment_status_id
,accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id
,modified_user_name                         = ORIGINAL_LOGIN()
,modified_date                              = GETDATE()
WHERE accounting_transaction_ar_payment_detail_id = @accounting_transaction_ar_payment_detail_id

----------------------------------------------
-- UPDATE the distributions
-- Update the AR and Cash accounts as necessary,
--        The AR Account has is_debit set to 0
--        The Cash Account is derived from the Bank Account
--            and has is_debit set to 1
----------------------------------------------
UPDATE accounting_transaction_ar_distribution
SET
accounting_company_account_id      = @accounting_company_account_id,
amount                             = @amount,
modified_user_name                 = ORIGINAL_LOGIN(),
modified_date                      = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id
AND is_debit = 0;

UPDATE accounting_transaction_ar_distribution
SET
accounting_company_account_id      = @cash_account_id,
amount                             = @amount,
modified_user_name                 = ORIGINAL_LOGIN(),
modified_date                      = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id
AND is_debit = 1;

END
--
--
RETURN @SP_SUCCESS
--
GO
