USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_reconciliation_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/20/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load the customer payment grid on the payment reconciliation form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_reconciliation_load]
(
@bank_account_id               int             = null
,@from_date                     datetime        = null
,@thru_date                     datetime		= null
,@check_ach_reference           int             = null
,@show_outstanding_only         bit             = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SET @check_ach_reference = rtrim(ltrim(@check_ach_reference))
IF  @check_ach_reference = '' set @check_ach_reference = null

SELECT
trx.accounting_transaction_ar_id
,trx.accounting_transaction_ar_ud
,isnull(pay.is_reconciled, 0) as is_reconciled
,pay.check_ach_reference
,pay.payment_date
,trx.customer_id
,c.customer_ud
,trx.transaction_amount
,CASE
WHEN @show_outstanding_only = 1 THEN 0
ELSE 1
END AS show_all
FROM accounting_transaction_ar trx
INNER JOIN accounting_transaction_ar_payment_detail as pay ON trx.accounting_transaction_ar_id = pay.accounting_transaction_ar_id
INNER JOIN bank_account as b on pay.bank_account_id = b.bank_account_id
INNER JOIN customer as c ON trx.customer_id = c.customer_id
INNER JOIN payment_method_customer as method on pay.payment_method_customer_id = method.payment_method_customer_id
-- Filter criteria
WHERE
--Only handling checks at this time
method.golden_key = 'Check'
AND (CASE
WHEN @show_outstanding_only = 1 THEN 0
ELSE 1 END = 1 OR ISNULL(pay.is_reconciled, 0) = 0)
AND (b.bank_account_id = @bank_account_id) --bank account is required on form filter
AND (pay.check_ach_reference = ISNULL(@check_ach_reference, pay.check_ach_reference))
AND DATEDIFF(day, ISNULL(@from_date, pay.payment_date), pay.payment_date) >= 0
AND DATEDIFF(day, ISNULL(@thru_date, pay.payment_date), pay.payment_date) <= 0
-- order by the columns in the grid from left to right
ORDER BY pay.check_ach_reference, trx.accounting_transaction_ar_ud, pay.payment_date, c.customer_ud, trx.transaction_amount
--
RETURN @SP_SUCCESS
--
GO
