USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_set_claim_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to load all claims by the given Claim Set ID. However, if no Claim Set ID
is provided, claims will be retrieved based on the Claim Analysis Queue ID.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
plx_claims_viewer_claim_analysis_queue_claim_load
;
CALLED_BY:
;
HEADER_END;
*******************************************************************************/

CREATE PROCEDURE [dbo].[plx_claim_analysis_set_claim_load]
(
@claim_analysis_set_id INT = null,
@claim_analysis_queue_id INT = null,
@claim_id INT = null
) AS
BEGIN

DECLARE
@SQL_SELECT NVARCHAR(4000),
@SQL_ORDER NVARCHAR(500),
@CUR_DATE DATETIME

SELECT
@SQL_SELECT = '',
@SQL_ORDER = '',
@CUR_DATE = GETDATE()

IF ISNULL(@claim_id, 0) > 0
BEGIN

SELECT DISTINCT
null as claim_analysis_set_claim_id,
null as claim_analysis_set_id,
c.claim_id,
c.claim_ud,
c.received_date,
cft.claim_form_type_ud,
cft.golden_key as claim_form_type_gk,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
sum
(
CASE WHEN ISNULL(cp.[is_system_generated], 0) = 0 THEN cp.charge
ELSE 0
END
) as total_billed_charges,
sum(isnull(ara.net_payment, 0)) as total_net_payment,
null as active,
null as created_user_name,
null as created_group_id,
null as created_date,
null as modified_date
FROM claim c
LEFT JOIN claim_procedure cp ON cp.claim_id = c.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN provider_identifier pid ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN adjudication_status adjs ON adjs.adjudication_status_id = c.adjudication_status_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v ON v.vendor_id = c.vendor_id
-- to get benefit contract, client and group info
LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
-- adjudication info
LEFT JOIN adjudication_result_amount ara ON ara.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run_claim_procedure arcp ON arcp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run ar ON ar.adjudication_run_id = arcp.adjudication_run_id

WHERE c.claim_id = ISNULL(@claim_id, 0)
GROUP BY
c.claim_id,
c.claim_ud,
c.received_date,
cft.claim_form_type_ud,
cft.golden_key,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud
END
ELSE IF ISNULL(@claim_analysis_set_id, 0) > 0
BEGIN

SELECT DISTINCT
casc.claim_analysis_set_claim_id,
casc.claim_analysis_set_id,
c.claim_id,
c.claim_ud,
c.received_date,
cft.claim_form_type_ud,
cft.golden_key as claim_form_type_gk,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
sum
(
CASE WHEN ISNULL(cp.[is_system_generated], 0) = 0 THEN cp.charge
ELSE 0
END
) as total_billed_charges,
sum(isnull(ara.net_payment, 0)) as total_net_payment,
casc.active,
casc.created_user_name,
casc.created_group_id,
casc.created_date,
casc.modified_date
FROM claim_analysis_set_claim casc
INNER JOIN claim c ON c. claim_id = casc.claim_id
LEFT JOIN claim_procedure cp ON cp.claim_id = c.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN provider_identifier pid ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN adjudication_status adjs ON adjs.adjudication_status_id = c.adjudication_status_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v ON v.vendor_id = c.vendor_id
-- to get benefit contract, client and group info
LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
-- adjudication info
LEFT JOIN adjudication_result_amount ara ON ara.claim_procedure_id = cp.claim_procedure_id

LEFT JOIN adjudication_run_claim_procedure arcp ON arcp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run ar ON ar.adjudication_run_id = arcp.adjudication_run_id

WHERE casc.claim_analysis_set_id = ISNULL(@claim_analysis_set_id, 0)
GROUP BY
casc.claim_analysis_set_claim_id,
casc.claim_analysis_set_id,
c.claim_id,
c.claim_ud,
c.received_date,
cft.claim_form_type_ud,
cft.golden_key,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
casc.active,
casc.created_user_name,
casc.created_group_id,
casc.created_date,
casc.modified_date
END
ELSE
BEGIN
EXECUTE plx_claims_viewer_claim_analysis_queue_claim_load @claim_analysis_queue_id, 1
END
END
GO
