USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_plan_by_benefit_category]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/










CREATE    PROCEDURE [dbo].[plx_dd_benefit_plan_by_benefit_category]


(
@benefit_contract_period_id	int = NULL,
@benefit_category_id	int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

if(@benefit_category_id is not null)
begin

SELECT 	DISTINCT bp.benefit_plan_id
,bp.benefit_plan_ud

FROM benefit_plan bp
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
INNER JOIN benefit_Framework bf on bf.benefit_framework_id= bp.benefit_framework_id
INNER JOIN Benefit_category  bca on bca.benefit_category_id= bf. benefit_Category_id
WHERE --(bcpbp.parent_benefit_contract_period_benefit_plan_id IS NULL) AND
(bcpbp.benefit_contract_period_id = @benefit_contract_period_id)
and bca.benefit_category_id= @benefit_category_id
ORDER BY bp.benefit_plan_ud

end
else
begin
SELECT 	DISTINCT bp.benefit_plan_id
,bp.benefit_plan_ud

FROM benefit_plan bp
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
WHERE (bcpbp.benefit_contract_period_id = @benefit_contract_period_id)
ORDER BY bp.benefit_plan_ud


end

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
