USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_set_claim_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Delete a Claim/Claim Set join.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
;
HEADER_END;
*******************************************************************************/

CREATE PROCEDURE [dbo].[plx_claim_analysis_set_claim_delete]
(
@claim_analysis_set_claim_id INT = null
)
AS
BEGIN

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DELETE FROM claim_analysis_set_claim
WHERE claim_analysis_set_claim_id = @claim_analysis_set_claim_id

IF (@@ERROR <> 0) RETURN @SP_EXCEPTION


RETURN @SP_SUCCESS

END
GO
