USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_eligibility_ud_auto_create_rules_for_benefit_contract_period]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2013-11-18	eponomareff		1.1		SP:4747 - Make Mass Eligibility Copy/Move
aware of auto create rules, in order to
check for PID dependencies

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:

Used for Mass Enrollment Changes - Creation of new enrollments
and for Mass Enrollment Changes - Creation of new eligiblities

This procedure gets all the auto-create Eligibility Ud rules for a selected
benefit contract (for the latest benefit period, as these are assigned per
plan per period)

******************************/
CREATE         PROCEDURE [dbo].[plx_get_eligibility_ud_auto_create_rules_for_benefit_contract_period]
(
@benefit_contract_id 		int
,@benefit_plan_id			int = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@LAST_BENEFIT_PERIOD_ID INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- if benefit_plan_id is 0, reset it to NULL
IF @benefit_plan_id = 0
SET @benefit_plan_id = NULL

-- get the latest benefit period for the benefit contract
DECLARE GetLatestPeriod CURSOR
FOR SELECT TOP(1) bcp.benefit_contract_period_id
FROM benefit_contract_period bcp
WHERE bcp.benefit_contract_id = @benefit_contract_id
ORDER BY bcp.effective_from desc

OPEN GetLatestPeriod
FETCH NEXT FROM GetLatestPeriod INTO @LAST_BENEFIT_PERIOD_ID
CLOSE GetLatestPeriod
DEALLOCATE GetLatestPeriod

-- return all the rules for this benefit contract period
-- setting on benefit contract period benefit plan overrides global settings
SELECT DISTINCT
bcpbp.benefit_contract_period_id
,bcpbp.benefit_plan_id
,bp.benefit_plan_ud
,COALESCE(bcpbp.auto_create_member_id_rule_id, gr.auto_create_member_id_rule_id) as auto_create_member_id_rule_id
,COALESCE(bcpbp_acmir.auto_create_member_id_rule_ud, gr_acmir.auto_create_member_id_rule_ud)	as auto_create_member_id_rule_ud
,COALESCE(bcpbp_acmir.golden_key, gr_acmir.golden_key)							 as golden_key
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp
ON bcpbp.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN auto_create_member_id_rule bcpbp_acmir
ON bcpbp.auto_create_member_id_rule_id = bcpbp_acmir.auto_create_member_id_rule_id
-- global rule has only one row
CROSS JOIN global_rule gr
LEFT JOIN auto_create_member_id_rule gr_acmir
ON gr.auto_create_member_id_rule_id = gr_acmir.auto_create_member_id_rule_id
WHERE bcpbp.benefit_contract_period_id = @LAST_BENEFIT_PERIOD_ID
AND bp.benefit_plan_id = ISNULL(@benefit_plan_id, bp.benefit_plan_id)

RETURN @SP_SUCCESS
END
GO
