USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_efffrom_earlier_family_eligibility_efffrom_check]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:  Trang Huynh
12/22/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/22/2005        Trang Huynh       1.0            created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check Eff From Earlier of Family Eligibility
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_efffrom_earlier_family_eligibility_efffrom_check]
(
@benefit_contract_id int = 0 ,
@effective_from datetime
)
AS

Declare @Result bit
SET @Result = 1

If  @effective_from is not null
BEGIN
If exists(Select * From family_eligibility
Where (benefit_contract_id = @benefit_contract_id)
and
(DATEDIFF(DAY,effective_from,@effective_from) > 0 ) )
SET @Result = 0
else
SET @Result = 1
END

Return @Result
GO
