USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	07/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/16/2012	cknobloch		1.2     added new fields (RT:3046)
06/05/2013  eponomareff     1.3     changed additional_information_topic_value from int to nvarchar(300),
also changed table schema;
changed @description to @claim_analysis_filter_description
to avoid cloberring by returning find forms with
their own "description" field (i.e., product, fee schedule)
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to update for claim analysis queue form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_analysis_queue_save]
(
@claim_analysis_queue_id                    INT = NULL   OUTPUT
,@claim_analysis_queue_ud                    NVARCHAR(50) = NULL
,@claim_selection_priority_id                INT = NULL
,@effective_from                             DATETIME = NULL
,@effective_thru                             DATETIME = NULL
,@claim_analysis_filter_description          NVARCHAR(255) = NULL

,@client_id                                  INT = NULL
,@client_set_id                              INT = NULL
,@client_group_id                            INT = NULL
,@client_group_set_id                        INT = NULL
,@benefit_contract_id            		     INT = NULL

,@product_id								 INT = NULL

,@family_eligibility_member_benefit_plan_id  INT = NULL
,@family_eligibility_id			             INT = NULL

,@fee_schedule_id				             INT = NULL

,@provider_network_id                        INT = NULL

,@claim_provider_type_id					 INT = NULL
,@provider_identifier_id					 INT = NULL

,@claim_diagnosis_type_id					 INT = NULL
,@diagnosis_code_group_id					 INT = NULL

,@procedure_code_group_id					 INT = NULL
,@service_code_group_id						 INT = NULL

,@result_code_set_id                         INT = NULL

,@percentage_of_claims			             INT = NULL

,@claim_form_type_id        	             INT = NULL
,@claim_type_id                              INT = NULL

,@claim_status_id							 INT = NULL
,@adjudication_status_id                     INT = NULL
,@adjudication_status_all_lines              BIT = NULL

,@claim_date_type_id                         INT = NULL
,@claim_date_type_from_date                  DATETIME = NULL
,@claim_date_type_thru_date                  DATETIME = NULL
,@value_from	                             INT = NULL
,@from_unit_day_week_month_year_id    	     INT = NULL
,@value_thru	                             INT = NULL
,@thru_unit_day_week_month_year_id	         INT = NULL

,@institutional_statement_from_date          DATETIME = NULL
,@institutional_statement_thru_date          DATETIME = NULL

,@claim_amount_type_id                       INT = NULL
,@amount_min	                             NUMERIC(20,10) = NULL
,@amount_max	                             NUMERIC(20,10) = NULL

,@disursement_creation_date					 DATETIME = NULL

,@additional_information_topic_id            INT = NULL
,@additional_information_topic_value         NVARCHAR(300) = NULL

,@active                                     BIT = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @claim_analysis_queue_id IS NULL
BEGIN

--- Create a new record
INSERT INTO claim_analysis_queue(
claim_analysis_queue_ud
,claim_selection_priority_id
,effective_from
,effective_thru
,description
,client_id
,client_set_id
,client_group_id
,client_group_set_id
,benefit_contract_id
,product_id
,family_eligibility_member_benefit_plan_id
,family_eligibility_id
,fee_schedule_id
,provider_network_id
,provider_type_id
,provider_identifier_id
,diagnosis_type_id
,diagnosis_code_group_id
,procedure_code_group_id
,service_code_group_id
,result_code_set_id
,percentage_of_claims
,claim_form_type_id
,claim_type_id
,claim_status_id
,adjudication_status_id
,adjudication_status_all_lines
,claim_date_type_id
,claim_date_type_from_date
,claim_date_type_thru_date
,value_from
,from_unit_day_week_month_year_id
,value_thru
,thru_unit_day_week_month_year_id
,institutional_statement_from_date
,institutional_statement_thru_date
,claim_amount_type_id
,amount_min
,amount_max
,disursement_creation_date
,additional_information_topic_id
,additional_information_topic_value
,active
)
VALUES
(@claim_analysis_queue_ud
,@claim_selection_priority_id
,@effective_from
,@effective_thru
,@claim_analysis_filter_description
,@client_id
,@client_set_id
,@client_group_id
,@client_group_set_id
,@benefit_contract_id
,@product_id
,@family_eligibility_member_benefit_plan_id
,@family_eligibility_id
,@fee_schedule_id
,@provider_network_id
,@claim_provider_type_id
,@provider_identifier_id
,@claim_diagnosis_type_id
,@diagnosis_code_group_id
,@procedure_code_group_id
,@service_code_group_id
,@result_code_set_id
,@percentage_of_claims
,@claim_form_type_id
,@claim_type_id
,@claim_status_id
,@adjudication_status_id
,@adjudication_status_all_lines
,@claim_date_type_id
,@claim_date_type_from_date
,@claim_date_type_thru_date
,@value_from
,@from_unit_day_week_month_year_id
,@value_thru
,@thru_unit_day_week_month_year_id
,@institutional_statement_from_date
,@institutional_statement_thru_date
,@claim_amount_type_id
,@amount_min
,@amount_max
,@disursement_creation_date
,@additional_information_topic_id
,@additional_information_topic_value
,@active
)
--
SET @claim_analysis_queue_id = @@IDENTITY

END

ELSE IF NOT EXISTS (SELECT * FROM claim_analysis_queue WHERE claim_analysis_queue_id = @claim_analysis_queue_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE claim_analysis_queue
SET
claim_analysis_queue_ud                = @claim_analysis_queue_ud
,description                           = @claim_analysis_filter_description
,claim_selection_priority_id           = @claim_selection_priority_id
,effective_from                        = @effective_from
,effective_thru                        = @effective_thru
,client_id                             = @client_id
,client_set_id                         = @client_set_id
,client_group_id                       = @client_group_id
,client_group_set_id                   = @client_group_set_id
,benefit_contract_id                   = @benefit_contract_id
,product_id                            = @product_id
,family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id
,family_eligibility_id	                    = @family_eligibility_id
,fee_schedule_id                          = @fee_schedule_id
,provider_network_id                      = @provider_network_id
,provider_type_id	                      = @claim_provider_type_id
,provider_identifier_id                   = @provider_identifier_id
,diagnosis_type_id                        = @claim_diagnosis_type_id
,diagnosis_code_group_id                  = @diagnosis_code_group_id
,procedure_code_group_id                  = @procedure_code_group_id
,service_code_group_id	                  = @service_code_group_id
,result_code_set_id                       = @result_code_set_id
,percentage_of_claims                     = @percentage_of_claims
,claim_form_type_id                       = @claim_form_type_id
,claim_type_id                            = @claim_type_id
,claim_status_id                          = @claim_status_id
,adjudication_status_id                   = @adjudication_status_id
,adjudication_status_all_lines            = @adjudication_status_all_lines
,claim_date_type_id                       = @claim_date_type_id
,claim_date_type_from_date                = @claim_date_type_from_date
,claim_date_type_thru_date                = @claim_date_type_thru_date
,value_from                               = @value_from
,from_unit_day_week_month_year_id         = @from_unit_day_week_month_year_id
,value_thru                               = @value_thru
,thru_unit_day_week_month_year_id         = @thru_unit_day_week_month_year_id
,institutional_statement_from_date        = @institutional_statement_from_date
,institutional_statement_thru_date        = @institutional_statement_thru_date
,claim_amount_type_id                     = @claim_amount_type_id
,amount_min                               = @amount_min
,amount_max                               = @amount_max
,disursement_creation_date                = @disursement_creation_date
,additional_information_topic_id          = @additional_information_topic_id
,additional_information_topic_value       = @additional_information_topic_value
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_analysis_queue_id = @claim_analysis_queue_id
END

--
RETURN @SP_SUCCESS
--
GO
