USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ap_refund_payment_post_payment]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Posts a Vendor Refund Payment.
Launched from cmdPostPayment on frmVendorRefundPayment.

NOTES:
Modeled after PostCustomerPayment service in Accounting.sln

Assumes that the apply_to rows have been validated and saved to database.

Updates the following fields for the apply-to's:
is_posted (bit) to true
posted_date to refund payment date
posted_user_name to user
modified_user_name to user
modified_date to current date/time

If no apply-to's are updated, the procedure updates the Vendor Refund Payment status
to AVAILABLE, and returns SUCCESS.

Determines the affected rows using OUTPUT clause.
https://learn.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver16

Updates the Vendor Refund Payment status to AVAILABLE or APPLIED, depending if the
Vendor Refund Payment has been fully applied.

Updates the Vendor Refund Request status to PAID, if the amount due is $0.

Does NOT update the statuses of the AP Accounting Transactions associated
with the Vendor Refund Request. This Vendor Refund Request updates the AP Transaction statuses
in the following procedures:

* plx_accounting_ap_refund_request_make_available
sets the Vendor Refund Request status to AVAILABLE and sets
the AP Transaction statuses to PAID, if they are fully applied.

* plx_accounting_ap_refund_request_void
sets the Vendor Refund Request status to VOIDED and sets
the AP Transaction statuses to AVAILABLE.

How apply_to's work:
Vendor Refund Payment / Vendor Refund Request apply_to's:
==> FROM = The Vendor Refund Payment
TO   = The Vendor Refund Request

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ap_refund_payment_post_payment]
(
@accounting_transaction_ap_id	INT = NULL -- Vendor Refund Payment ID ( = @from_accounting_transaction_ap_id)
)
AS
--
--
SET NOCOUNT ON;

BEGIN TRY
--
BEGIN TRANSACTION

-- Get Payment Statuses for Vendor Refund Payments and Requests
DECLARE @paymentStatusId_AVAILABLE INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

DECLARE @paymentStatusId_APPLIED INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'APPLIED');

DECLARE @AppliedToVendorRefundRequests TABLE
(
vendorRefundRequestId INT NOT NULL,
amountApplied NUMERIC(20,10) NOT NULL
);

-- Here we only update the is_posted bit and related fields.
-- Other fields (amount, comments) have already been updated on the save.
UPDATE accounting_transaction_ap_apply_to
SET
is_posted                      = 1,
posted_date                    = ata.transaction_date,
posted_user_name               = ORIGINAL_LOGIN(),
modified_user_name             = ORIGINAL_LOGIN(),
modified_date                  = GETDATE()
OUTPUT INSERTED.to_accounting_transaction_ap_id, INSERTED.amount
INTO @AppliedToVendorRefundRequests
FROM accounting_transaction_ap_apply_to apply_to
JOIN accounting_transaction_ap ata
ON ata.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
WHERE
apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
AND apply_to.amount IS NOT NULL
AND ISNULL(is_posted, 0) = 0;

-- If no updates were made, than return without updating status of Vendor Refund Payment.
IF @@ROWCOUNT <= 0
BEGIN
-- Nothing to post, so just update the Vendor Refund Payment status to AVAILABLE
UPDATE accounting_transaction_ap_refund_payment_detail
SET accounting_payment_status_id = @paymentStatusId_AVAILABLE
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;
COMMIT TRANSACTION
RETURN 0;
END

-- Check amount due and determine status for vendor refund payment
DECLARE @vendorPaymentAmountApplied NUMERIC(20,10) = 0.0;
SELECT @vendorPaymentAmountApplied = ISNULL(SUM(amount), 0)
FROM accounting_transaction_ap_apply_to
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id;
DECLARE @paymentTotalAmount NUMERIC(20,10) = 0.0;
SELECT @paymentTotalAmount = transaction_amount
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;
IF @vendorPaymentAmountApplied = @paymentTotalAmount
BEGIN
-- Update Vendor Refund Payment status to APPLIED
UPDATE accounting_transaction_ap_refund_payment_detail
SET accounting_payment_status_id = @paymentStatusId_APPLIED
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;
END
ELSE
BEGIN
-- Update Vendor Refund Payment status to AVAILABLE
UPDATE accounting_transaction_ap_refund_payment_detail
SET accounting_payment_status_id = @paymentStatusId_AVAILABLE
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;
END

-- Update status of fully paid Vendor Refund Requests

DECLARE @paymentStatusId_PAID INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'PAID');

UPDATE accounting_transaction_ap_refund_request_detail
SET
accounting_payment_status_id = @paymentStatusId_PAID
,modified_user_name              = ORIGINAL_LOGIN()
,modified_date                   = GETDATE()
FROM @AppliedToVendorRefundRequests appliedRequests
JOIN accounting_transaction_ap_refund_request_detail requestDetail
ON requestDetail.accounting_transaction_ap_id = appliedRequests.vendorRefundRequestId
JOIN accounting_transaction_ap refundRequest
ON refundRequest.accounting_transaction_ap_id = requestDetail.accounting_transaction_ap_id
WHERE
ISNULL(appliedRequests.amountApplied, 0) = refundRequest.transaction_amount
OR
dbo.plx_fn_get_unapplied_amount_for_vendor_refund_request(requestDetail.accounting_transaction_ap_id, 1) = 0;

COMMIT TRANSACTION

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT @ErrorMessage = ERROR_MESSAGE()
,@ErrorSeverity = ERROR_SEVERITY()
,@ErrorState = ERROR_STATE();

-- Use RAISERROR inside the CATCH block to return error
-- information about the original error that caused
-- execution to jump to the CATCH block.
RAISERROR(@ErrorMessage, -- Message text.
@ErrorSeverity, -- Severity.
@ErrorState -- State.
);
END CATCH
--
RETURN 0
GO
