USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_framework_valid_choice_by_choice_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 09/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/10/2005	HiepNguyen	1.0		Created
10/31/2005	HiepNguyen	1.1		Remove function_name
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_benefit_framework_valid_choice from the benefit_framework_valid_choice table.
--
REQUIREMENTS:
--
INPUTS:
benefit_framework_choice_list_id - Key to benefit_framework_valid_choice table, identifies a single stored dd_benefit_framework_valid_choice.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_benefit_framework_valid_choice_by_choice_list_load]
(
@benefit_framework_choice_list_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_framework_valid_choice.benefit_framework_valid_choice_id
,CASE WHEN benefit_framework_valid_choice.valid_choice IS NOT NULL THEN benefit_framework_valid_choice.valid_choice
ELSE yes_no.yes_no_ud
END AS valid_choice_ud

FROM benefit_framework_valid_choice
LEFT JOIN yes_no
ON yes_no.yes_no_id = benefit_framework_valid_choice.yes_no_id
INNER JOIN benefit_framework_choice_list
ON benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_framework_valid_choice.benefit_framework_choice_list_id

WHERE benefit_framework_valid_choice.benefit_framework_choice_list_id = @benefit_framework_choice_list_id

ORDER BY benefit_framework_valid_choice_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
