USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_limit_fee_schedule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
12/15/2009  W.Christensen  1.0      Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for grid Benefit Limit Fee Schedule Assignment in form Benefit Plan
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_limit_fee_schedule_save]
(
@benefit_limit_fee_schedule_id              int = NULL   OUTPUT
,@benefit_plan_id                            int = NULL
,@fee_schedule_form_type_id                  int = NULL
,@fee_schedule_id                            int = NULL
,@fee_schedule_modifier_id                   int = NULL
,@use_default_modifier                       bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF ISNULL(@benefit_limit_fee_schedule_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO benefit_limit_fee_schedule(
benefit_plan_id
,fee_schedule_form_type_id
,fee_schedule_id
,fee_schedule_modifier_id
,use_default_modifier
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_plan_id
,@fee_schedule_form_type_id
,@fee_schedule_id
,@fee_schedule_modifier_id
,@use_default_modifier
,@effective_from
,@effective_thru
,@active
)

SET @benefit_limit_fee_schedule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_limit_fee_schedule WHERE benefit_limit_fee_schedule_id = @benefit_limit_fee_schedule_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_limit_fee_schedule
SET
benefit_plan_id             = @benefit_plan_id
,fee_schedule_form_type_id  = @fee_schedule_form_type_id
,fee_schedule_id            = @fee_schedule_id
,fee_schedule_modifier_id   = @fee_schedule_modifier_id
,use_default_modifier       = @use_default_modifier
,effective_from             = @effective_from
,effective_thru             = @effective_thru
,active                     = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_limit_fee_schedule_id = @benefit_limit_fee_schedule_id
END
--
RETURN @SP_SUCCESS
--
GO
