USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_tier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/03/2009	David Slayton	1.0		Created
02/26/2009	David Slayton	1.1		Added @include_blank_tier_restricted_to_type flag.
05/13/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.3		Added returnset limitations
02/09/2013	eponomareff		1.4		Fixed problem with attempt to convert NULL value
02/24/2017	eponomareff		1.5		Find tier should not include COMPOSITE tiers
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Find Billing Tier Levels that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@tier_ud
@description
@tier_criteria_type_id
@tier_restricted_to_type_id
@include_blank_tier_restricted_to_type
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_tier_load]
(
@get_column_headers			BIT = 0
, @tier_ud									NVARCHAR(50) = NULL
, @description								NVARCHAR(255) = NULL
, @tier_criteria_type_id					INT = NULL
, @tier_restricted_to_type_id				INT = NULL
, @include_blank_tier_restricted_to_type	BIT = 0
, @show_exact_matches						BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE t.tier_criteria_type_golden_key <> ''COMPOSITE'' AND ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @tier_ud IS NOT NULL AND @tier_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(t.tier_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tier_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(t.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @tier_criteria_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND tct.tier_criteria_type_id = ' + CONVERT(NVARCHAR(16), @tier_criteria_type_id)


IF @include_blank_tier_restricted_to_type = 1 AND @tier_restricted_to_type_id IS NOT NULL
BEGIN
SET @SqlCondition = @SqlCondition
+ ' AND (t.tier_restricted_to_type_id = ' + CONVERT(NVARCHAR(16), @tier_restricted_to_type_id)
+ '		 OR t.tier_restricted_to_type_id IS NULL)'
END
ELSE IF @tier_restricted_to_type_id IS NOT NULL
BEGIN
SET @SqlCondition = @SqlCondition + ' AND t.tier_restricted_to_type_id = ' + CONVERT(NVARCHAR(16), @tier_restricted_to_type_id)
END

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
t.tier_id
,t.tier_ud
,t.description
,tct.tier_criteria_type_id
,tct.tier_criteria_type_ud
,trtt.tier_restricted_to_type_id
,trtt.tier_restricted_to_type_ud
FROM  dbo.tier t
LEFT JOIN tier_criteria_type tct ON t.tier_criteria_type_golden_key = tct.golden_key
LEFT JOIN tier_restricted_to_type trtt ON t.tier_restricted_to_type_id = trtt.tier_restricted_to_type_id
'

--PRINT @SqlQuery + @SqlCondition + ' ORDER BY t.tier_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY t.tier_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
