USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_capitation_payment_disbursement_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 08/20/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid gridAccountAssignmentsCapDP on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_capitation_payment_disbursement_load]
(
@bank_account_id 			INT = NULL
,@vendor_id  				INT = NULL
,@accounting_company_id 		INT = NULL
,@benefit_contract_id 		INT = NULL
,@client_group_id 			INT = NULL
,@client_id 					INT = NULL
,@benefit_category_id 		INT = NULL
,@show_only_current			BIT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT  DISTINCT
aacpd.account_assignment_capitation_payment_disbursement_id
,aacpd.effective_from
,aacpd.effective_thru
,aacpd.bank_account_id
,ba.bank_account_ud
,aacpd.vendor_id
,v.vendor_ud
,aacpd.accounting_company_id
,ac.accounting_company_ud
,aacpd.benefit_contract_id
,bc.benefit_contract_ud
,aacpd.client_group_id
,cgn.client_group_ud
,aacpd.client_id
,cn.client_ud
,aacpd.benefit_category_id
,bcat.benefit_category_ud
,aacpd.modified_date

FROM dbo.account_assignment_capitation_payment_disbursement aacpd
LEFT JOIN accounting_company ac ON aacpd.accounting_company_id = ac.accounting_company_id
LEFT JOIN client ON aacpd.client_id = client.client_id
LEFT JOIN client_name cn ON client.client_id = cn.client_id
LEFT JOIN client_group cg ON aacpd.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON aacpd.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON aacpd.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN vendor v ON aacpd.vendor_id = v.vendor_id
LEFT JOIN benefit_category bcat ON aacpd.benefit_category_id = bcat.benefit_category_id
LEFT JOIN bank_account ba on aacpd.bank_account_id = ba.bank_account_id
WHERE
(
ISNULL(@bank_account_id, 0) = 0 OR @bank_account_id = aacpd.bank_account_id
)
AND
(
ISNULL(@vendor_id, 0) = 0 OR @vendor_id = aacpd.vendor_id
)
AND
(
ISNULL(@accounting_company_id, 0) = 0 OR @accounting_company_id = aacpd.accounting_company_id
)
AND
(
ISNULL(@benefit_contract_id, 0) = 0 OR @benefit_contract_id = aacpd.benefit_contract_id
)
AND
(
ISNULL(@client_group_id, 0) = 0 OR @client_group_id = aacpd.client_group_id
)
AND
(
ISNULL(@client_id, 0) = 0 OR @client_id = aacpd.client_id
)
AND
(
ISNULL(@benefit_category_id, 0) = 0 OR @benefit_category_id = aacpd.benefit_category_id
)
AND
(
ISNULL(@show_only_current, 0) = 0 OR
(DATEDIFF(day, GETDATE(), aacpd.effective_from) <= 0 OR aacpd.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aacpd.effective_thru) >= 0 OR aacpd.effective_thru IS NULL)
)

--ORDER BY CASE WHEN aacpd.effective_from IS NULL THEN 0 ELSE 1 END ASC, aacpd.effective_from DESC,
--CASE WHEN aacpd.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aacpd.effective_thru DESC,
--cn.client_ud

ORDER BY cn.client_ud

RETURN @SP_SUCCESS
--
GO
