USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_all_schedules_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/07/08	lrenard			1.0		Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Finds schedules based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                   PROCEDURE [dbo].[plx_find_all_schedules_load]
(
@get_column_headers	BIT = 0
,@task_type_id			int = null
,@effective_from		datetime = null
,@effective_thru 		datetime = null

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

--Check dates
IF @effective_from is NOT NULL OR @effective_thru is NOT NULL
BEGIN

--Set beginning and end of time if dates are empty
IF @effective_thru IS NULL
SET @effective_thru = '8-8-8888'

IF @effective_from IS NULL
SET @effective_from = '1-1-1900'

SET @SqlCondition = @SqlCondition +
' AND (
(dateadd(day, 0, ''' --passed in effective from is within schedule range
+ CONVERT(NVARCHAR(10), @effective_from, 101) + ''')
BETWEEN ISNULL(sf.duration_start_date, dateadd(day, 0, ''1/1/1900''))
AND ISNULL(sf.duration_end_date, dateadd(day, 0, ''8/8/8888''))
)' + '
OR
(' --passed in effective thru is within schedule range
+ CONVERT(NVARCHAR(10), @effective_thru, 101) + '
BETWEEN ISNULL(sf.duration_start_date, dateadd(day, 0, ''1/1/1900''))
AND ISNULL(sf.duration_end_date, dateadd(day, 0, ''8/8/8888''))
)
OR
(' --start date is within effective range
+ 'ISNULL(sf.duration_start_date, dateadd(day, 0, ''1/1/1900''))
BETWEEN dateadd(day, 0, ''' + CONVERT(NVARCHAR(10), @effective_from, 101) + ''')
AND dateadd(day, 0, ''' + CONVERT(NVARCHAR(10), @effective_thru, 101) + ''')
)
OR
(' --end date is within effective range
+ 'ISNULL(sf.duration_end_date, dateadd(day, 0, ''8/8/8888''))
BETWEEN dateadd(day, 0, ''' + CONVERT(NVARCHAR(10), @effective_from, 101) + ''')
AND dateadd(day, 0, ''' + CONVERT(NVARCHAR(10), @effective_thru, 101) + ''')
)' +
')'
END

--Check task type
IF @task_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (sf.task_type_id = ' + CONVERT(NVARCHAR, @task_type_id) + ')'

SET @SqlQuery =
'	SELECT DISTINCT ' +
'		sf.schedule_form_id,
dbo.plx_fn_schedule_duration(sf.schedule_form_id, sf.occurs_id) as schedule,
dbo.plx_fn_schedule_object_ud(sf.task_type_id, sf.object_record_id) as object_record_ud,
sf.object_record_id,
tt.task_type_ud,
tt.golden_key,
isnull(sf.duration_start_date, ''1-1-1900'') as effective_from,
isnull(sf.duration_end_date, ''8-8-8888'') as effective_thru
FROM ' +
'		schedule_form sf
INNER JOIN task_type tt ON sf.task_type_id = tt.task_type_id'

EXEC(@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
