USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tax_identification_number_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
DATE: 07/27/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
07/27/2011		 Jeremy Hein	  Created
--

DESCRIPTION:
Loads data for drop down tax_identification_number_type
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_tax_identification_number_type_load] AS


SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT  tax_identification_number_type_id,
tax_identification_number_type_ud,
[description],
golden_key
FROM dbo.tax_identification_number_type
ORDER BY tax_identification_number_type_ud


IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
