USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_update_provider_network_rank]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[bind_update_provider_network_rank]
AS
BEGIN TRY
    BEGIN TRANSACTION;

    IF OBJECT_ID('tempdb..#Results') IS NOT NULL
        DROP TABLE #Results;

    CREATE TABLE #Results (
        id INT IDENTITY(1,1),
        network NVARCHAR(50),
        provider_network_id INT,
        NRank INT
    );

    DECLARE @update DATETIME = GETDATE();
    DECLARE @upuser NVARCHAR(50) = SYSTEM_USER;

    INSERT INTO provider_provider_network (
        provider_id,
        network_rank,
        provider_network_id,
        is_pcp,
        list_in_directory,
        effective_from,
        effective_thru,
        active,
        created_user_name,
        created_date,
        modified_date,
        modified_user_name
    )
    SELECT
        p.provider_id,
        r.network_rank,
        r.provider_network_id,
        0,
        0,
        '2017-08-01',
        '9999-12-31',
        1,
        @upuser,
        @update,
        @update,
        @upuser
    FROM provider p
    CROSS JOIN bind_network_rank r
    LEFT JOIN provider_provider_network ppn
        ON ppn.provider_id = p.provider_id
        AND ppn.provider_network_id = r.provider_network_id
        AND ppn.network_rank = r.network_rank
    WHERE ppn.provider_provider_network_id IS NULL
    and p.created_date > getdate() - 30
    ORDER BY p.provider_id, r.network_rank;

    DROP TABLE #Results;

    COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK;
END CATCH;
GO
