USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_additional_plan_options_load_rule_info]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/23/2011
--plx_family_eligibility_additional_plan_options_load_rule_info
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
2017-07-20		eponomareff			1.1				RT:9471 - Auto enroll supp plans at supp level

DESCRIPTION:	Load records rule information corresponding to the Additional Plan Options
tab in the eligibilities panel on the Enrollment form. Used for auto-enroll process.

Additional information provided:
- returns the benefit_contract_period_benefit_plan_id for the destination node

TODO - need to flatten out benefit sets

******************************/

CREATE  PROCEDURE [dbo].[plx_family_eligibility_additional_plan_options_load_rule_info]
(
@benefit_contract_period_benefit_plan_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- get eligibility_level id's for golden data
DECLARE @PrimaryEligibilityLevel INT, @SuppEligibilityLevel INT, @RiderEligibilityLevel INT
SET @PrimaryEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'Primary')
SET @SuppEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'SUPPLEMENTAL')
SET @RiderEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'RIDER')

SELECT
bcapo.benefit_contract_additional_plan_options_id
,bcapo.benefit_contract_period_benefit_plan_id as source_bcpbp_id
,destination_bcpbp.benefit_contract_period_benefit_plan_id as dest_bcpbp_id
,destination_bcpbp.benefit_contract_period_id as dest_bcp_id
,bcapo.benefit_plan_set_id
,bps.benefit_plan_set_ud
,bcapo.benefit_plan_id
,bp.benefit_plan_ud
,[name] =
CASE
WHEN bcapo.benefit_plan_set_id IS NOT NULL THEN bps.benefit_plan_set_ud
WHEN bcapo.benefit_plan_id IS NOT NULL THEN bp.benefit_plan_ud
ELSE ''
END
-- get eligibility level
,[destination_eliglibility_level_id] =
CASE
WHEN destination_bpt.golden_key = 'Base Plan' THEN @PrimaryEligibilityLevel
WHEN destination_bpt.golden_key = 'Supplemental Plan' THEN @SuppEligibilityLevel
WHEN destination_bpt.golden_key = 'Rider Plan' THEN @RiderEligibilityLevel
ELSE @PrimaryEligibilityLevel
END
,bcapo.required_for_subscriber
,bcapo.required_for_dependent
,bcapo.modified_date

FROM
dbo.benefit_contract_additional_plan_options bcapo
LEFT OUTER JOIN dbo.benefit_plan bp
ON bcapo.benefit_plan_id = bp.benefit_plan_id
LEFT OUTER JOIN dbo.benefit_plan_set bps
ON bcapo.benefit_plan_set_id = bps.benefit_plan_set_id
INNER JOIN dbo.benefit_contract_period_benefit_plan bcpbp
ON bcapo.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
LEFT OUTER JOIN benefit_contract_period_benefit_plan destination_bcpbp
ON bcpbp.benefit_contract_period_id = destination_bcpbp.benefit_contract_period_id
LEFT JOIN benefit_plan_type destination_bpt
ON destination_bpt.benefit_plan_type_id = destination_bcpbp.benefit_plan_type_id
WHERE
bcapo.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND destination_bcpbp.benefit_plan_id = ISNULL(bcapo.benefit_plan_id, 0)

--

RETURN @SP_SUCCESS
--
GO
