USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 03/13/2009
--
REVISION_HISTORY:
--
Date        Modified By      Version Description
--------------------------------------------------------------------------------
03/13/2009  Wade Christensen 1.0     Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check for transaction can be deleted or not.

Delete Condition :	When Transaction is Manual, and does not exist in any Invoices,
then we can delete it.
Can't delete transactions created by any process.

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT accounting_transaction_ar_id
FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @id)

RETURN @SP_DELETE_ABLE

ELSE
BEGIN -- If Transaction is Manually Created and It is not existing in any payment, then We can able to Delete,OtherWise we can't delete transaction
IF EXISTS(	SELECT accounting_transaction_ar_id
FROM accounting_transaction_ar atar
INNER JOIN accounting_source
ON accounting_source.accounting_source_id = atar.accounting_source_id
WHERE accounting_transaction_ar_id = @id
AND accounting_source.golden_key != 'Manual Transaction')
OR EXISTS(	SELECT accounting_transaction_ar_id
FROM accounting_transaction_ar_apply_to atarat
INNER JOIN accounting_transaction_ar atar
ON atar.accounting_transaction_ar_id = atarat.to_accounting_transaction_ar_id
WHERE to_accounting_transaction_ar_id = @id)
BEGIN

--check apply_to transactions (accounting_transaction_ap_apply_to)
SELECT 'Invoice' AS object_golden_key, atar.accounting_transaction_ar_ud As object_ud
FROM accounting_transaction_ar_apply_to atarat
INNER JOIN accounting_transaction_ar atar ON atar.accounting_transaction_ar_id = atarat.from_accounting_transaction_ar_id
WHERE atarat.to_accounting_transaction_ar_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
