USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_network_level_ranking_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/20/2005  HungTNguyen     1.1             add fields provider_network_set.provider_network_set_ud,provider_network.provider_network_ud
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Networks grid
in Benefit Contract Template form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan_network_level_ranking records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE         PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_network_level_ranking_list_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcpbpnlr.benefit_contract_period_benefit_plan_network_level_ranking_id
,bcpbpnlr.benefit_contract_period_benefit_plan_id
,bcpbpnlr.provider_network_level_id
,bcpbpnlr.provider_network_set_id
,provider_network_set.provider_network_set_ud
,bcpbpnlr.provider_network_id
,provider_network.provider_network_ud
,bcpbpnlr.active
,bcpbpnlr.created_user_name
,bcpbpnlr.created_group_id
,bcpbpnlr.created_date
,bcpbpnlr.modified_date
,nl.ranking as provider_network_ranking_ud

FROM benefit_contract_period_benefit_plan_network_level_ranking bcpbpnlr
left join network_level nl on nl.network_level_id=bcpbpnlr.provider_network_level_id
left join provider_network on provider_network.provider_network_id=bcpbpnlr.provider_network_id
left join provider_network_set on provider_network_set.provider_network_set_id=bcpbpnlr.provider_network_set_id

WHERE bcpbpnlr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
