USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_capitation_payment_disbursement_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 08/21/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for gridAccountAssignmentsCapDP on form frmAccountAssignment

--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_account_assignment_capitation_payment_disbursement_save]
(
@account_assignment_capitation_payment_disbursement_id  INT = 0   OUTPUT
,@benefit_category_id                               INT = NULL
,@accounting_company_id                             INT = NULL
,@bank_account_id                                   INT = NULL
,@benefit_contract_id                               INT = NULL
,@client_id                                         INT = NULL
,@client_group_id                                   INT = NULL
,@vendor_id                                         INT = NULL
,@effective_from                                    DATETIME = NULL
,@effective_thru                                    DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
, @ERROR_CANT_UPDATE   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_CANT_UPDATE = '105280010'

IF ISNULL(@account_assignment_capitation_payment_disbursement_id, 0) = 0
BEGIN
INSERT INTO account_assignment_capitation_payment_disbursement(
benefit_category_id
,accounting_company_id
,bank_account_id
,benefit_contract_id
,client_id
,client_group_id
,vendor_id
,effective_from
,effective_thru
)
VALUES(
@benefit_category_id
,@accounting_company_id
,@bank_account_id
,@benefit_contract_id
,@client_id
,@client_group_id
,@vendor_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @account_assignment_capitation_payment_disbursement_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM account_assignment_capitation_payment_disbursement WHERE account_assignment_capitation_payment_disbursement_id = @account_assignment_capitation_payment_disbursement_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int



UPDATE account_assignment_capitation_payment_disbursement
SET
benefit_category_id		= @benefit_category_id
,accounting_company_id		= @accounting_company_id
,bank_account_id			= @bank_account_id
,benefit_contract_id		= @benefit_contract_id
,client_id					= @client_id
,client_group_id			= @client_group_id
,vendor_id					= @vendor_id
,effective_from             = @effective_from
,effective_thru             = @effective_thru
,modified_user_name         = ORIGINAL_LOGIN()
,modified_date              = GETDATE()
WHERE account_assignment_capitation_payment_disbursement_id = @account_assignment_capitation_payment_disbursement_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
