USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_resolution_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Feb 15 2006  2:50PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/15	Anh Ta		1.0		Used for ICU#15894 Payment Contract
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down fee_schedule_resolution_rule (Fee Schedule Resolution Rule (Payment Contract))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_fee_schedule_resolution_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_resolution_rule.fee_schedule_resolution_rule_id
,fee_schedule_resolution_rule.fee_schedule_resolution_rule_ud
--	      ,fee_schedule_resolution_rule.description
FROM fee_schedule_resolution_rule
ORDER BY fee_schedule_resolution_rule.fee_schedule_resolution_rule_ud
--
RETURN @SP_SUCCESS
--
GO
