USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_brokerage_id_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
July 31 2006  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down brokerage_id_type (Brokerage ID Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_brokerage_id_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
brokerage_id_type_id
,brokerage_id_type_ud
,description
FROM brokerage_id_type
ORDER BY brokerage_id_type_ud

RETURN @SP_SUCCESS
END
GO
