USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Sep  5 2005  4:26PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	Hiep Nguyen	1.0		Created
09/15/2005	HuyThan		1.1		Add Selected field : benefit_plan_contract_type_id  (row 96)
09/29/2005	Hiep Nguyen	1.2		Change alternate_course_of_treatment_map_id by the "benefit_plan" table
08/16/2006	Nam Ho		1.3		Add fields : carrier_id, marketing_arm_id, allow_advance_commissions
09/14/2006	Hiep Nguyen	1.4		Modified
10/09/2006	Hiep Nguyen	1.5		Commented some fields
12/02/2007	Vishwa Jella	1.6		Added Posthumous Claim Rule fields
08/03/2009  ioveracker  1.7      Added "adj_" prefix to result_code_id and result_code_status_id; added result code columns for PCP processing.
10/14/2010  eponomareff 2.0      ICU 20727 - removed dental fields; added grid for alternate course instead
01/19/2011  ggutshalll  2.1		added used_count to select list.  This return value is used to determine if the benefit_plan is
referenced by an adjudicated claim.  If this value is greater than 0, then the product and
product line combos are disabled in the UI, preventing them from being changed.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select a single from the benefit_plan table.
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_plan_load]
(
@benefit_plan_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bp.benefit_plan_id
,bp.benefit_plan_ud
,bp.benefit_plan_nm
,bp.description as 'benefit_plan_description'
,bp.benefit_framework_id
,bf.benefit_framework_ud
,bp.benefit_framework_id as old_benefit_framework_id
,bf.benefit_framework_ud as old_benefit_framework_ud
,bp.benefit_plan_marketing_nm
,bp.primary_care_provider
,bp.product_line_id

,pl.product_line_ud
,bp.product_id

,p.product_ud
,bp.plan_assignment_status_id

,pas.plan_assignment_status_ud
,bp.plan_adjudication_status_id

,las.plan_adjudication_status_ud
,bp.adj_result_code_id

,rc.result_code_ud as adj_result_code_ud
,bp.adj_result_code_status_id

,rcs.result_code_status_ud as adj_result_code_status_ud
,bp.deny_claims_after_days
,bp.pend_claims_after_days

,bc.benefit_category_ud
,bc.benefit_category_nm
,pct.golden_key as premium_category_golden_key
,bsc.benefit_sub_category_ud
,bc.benefit_category_id
,bsc.benefit_sub_category_id
,bp.benefit_limit_rule_id
,blr.benefit_limit_rule_ud
,bp.marketing_arm_contract
,bp.marketing_arm_id
,bp.allow_advance_commissions
,bp.capitation_benefit_id
,bp.coverage_incentive_id
,ci.coverage_incentive_ud
,bp.pcp_required_result_code_id
,pcprc.result_code_ud as pcp_required_result_code_ud

,bp.pcp_required_result_code_status_id
,pcprcs.result_code_status_ud as pcp_required_result_code_status_ud
,dbo.plx_fn_count_benefit_plan_adjudicated_claims(bp.benefit_plan_id) as used_count
,bp.dental_tooth_surface_validation
,bp.include_mips
,bp.include_sequestration
FROM benefit_plan bp
left join benefit_framework bf   ON bf.benefit_framework_id = bp.benefit_framework_id
left JOIN benefit_sub_category bsc ON ( bf.benefit_sub_category_id = bsc.benefit_sub_category_id)
left JOIN benefit_category bc ON ( bf.benefit_category_id = bc.benefit_category_id)
left JOIN premium_category_type pct ON (bc.premium_category_type_id = pct.premium_category_type_id)
left join product_line pl  ON  pl.product_line_id = bp.product_line_id
left join product p  ON p.product_id = bp.product_id
left join plan_assignment_status pas  ON pas.plan_assignment_status_id = bp.plan_assignment_status_id
left join plan_adjudication_status  las ON las.plan_adjudication_status_id = bp.plan_adjudication_status_id
left join result_code rc  ON rc.result_code_id = bp.adj_result_code_id
left join result_code pcprc ON pcprc.result_code_id = bp.pcp_required_result_code_id
left join result_code_status  rcs ON rcs.result_code_status_id = bp.adj_result_code_status_id
left join result_code_status pcprcs ON pcprcs.result_code_status_id = bp.pcp_required_result_code_status_id
left join carrier  ON carrier.carrier_id = bp.carrier_id
left join benefit_limit_rule blr ON bp.benefit_limit_rule_id = blr.benefit_limit_rule_id
left join coverage_incentive ci ON bp.coverage_incentive_id = ci.coverage_incentive_id

WHERE bp.benefit_plan_id = @benefit_plan_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
