USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_associated_agent_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Sep  1 2006  1:43PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2006	hthan		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for brokerage associated agent grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_brokerage_associated_agent_list_save]
(
@agent_brokerage_id                         int = NULL   OUTPUT
,@brokerage_id                               int = NULL
,@associated_agent_id                    	   int = NULL
,@associated_agent_identifier_id		       int = NULL
,@associated_effective_from                  datetime = NULL
,@associated_effective_thru                  datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_brokerage_id is Null
BEGIN

--- Create a new agent_brokerage record
INSERT INTO agent_brokerage(
brokerage_agent_id
,agent_id
,agent_identifier_id
,effective_from
,effective_thru
,active
)
VALUES
(@brokerage_id
,@associated_agent_id
,@associated_agent_identifier_id
,@associated_effective_from
,@associated_effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_brokerage_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_brokerage WHERE agent_brokerage_id = @agent_brokerage_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_brokerage record
UPDATE agent_brokerage
SET
brokerage_agent_id                       = @brokerage_id
,agent_id                			     = @associated_agent_id
,agent_identifier_id						 = @associated_agent_identifier_id
,effective_from                           = @associated_effective_from
,effective_thru                           = @associated_effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_brokerage_id = @agent_brokerage_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
