USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_rule_panel_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006  1:24PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006    ThuyNgo   1.0             created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_depreciation_rule table.
--
REQUIREMENTS:
--
INPUTS:
commission_depreciation_rule_id - Key to commission_depreciation_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_commission_depreciation_rule_panel_load]
(
@commission_depreciation_agent_type_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT @commission_depreciation_agent_type_id as commission_depreciation_agent_type_id

--
RETURN @SP_SUCCESS
GO
