USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_unit_day_week_month_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
Jul 31 2006  9:12AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/31/2006	Anh Ta			1.0 		Created and Used for 10518 Commission Instructions
06/09/2008	David Slayton	1.1			Sorted Days, Weeks, Months.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down unit_day_week_month (Unit (D/W/M))
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_unit_day_week_month_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

CREATE TABLE #temp_unit_day_week_month
(unit_day_week_month_id INT NOT NULL,
unit_day_week_month_ud NVARCHAR(50),
golden_key NVARCHAR(50),
sort_order INT)

INSERT #temp_unit_day_week_month (
unit_day_week_month_id
,unit_day_week_month_ud
,golden_key
,sort_order)
SELECT
udwm.unit_day_week_month_id
,udwm.unit_day_week_month_ud
,udwm.golden_key
,CASE golden_key
WHEN 'Days' THEN 1
WHEN 'Weeks' THEN 2
WHEN 'Months' THEN 3
END AS sort_order
FROM unit_day_week_month udwm
ORDER BY sort_order

SELECT
unit_day_week_month_id
,unit_day_week_month_ud
,golden_key
FROM #temp_unit_day_week_month
ORDER BY sort_order
--
RETURN @SP_SUCCESS
GO
