USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_audit_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 4/25/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/25/2012	A.Mortensen		1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Eligibility Audit form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_eligibility_audit_form_load]
(
@family_eligibility_id INT = NULL,
@benefit_contract_period_benefit_plan_id INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
@family_eligibility_id AS family_eligibility_id,
@benefit_contract_period_benefit_plan_id AS benefit_contract_period_benefit_plan_id


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
END
GO
