USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_lock_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	mttran		1.0			created
01/05/2005	tinhdo				Add: @created_date input parameter
Set value to @lock_removed_by filed
11/14/2006	mai tran				remove transaction
2014-08-19	eponomareff		RT:6046 Tombstone modifications
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Locks grid on Group form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_lock_save]
(
@client_group_lock_id                       int = NULL   OUTPUT
,@client_group_id                            int = NULL
,@result_code_id                             int = NULL
,@lock_set_on                                datetime = NULL
,@lock_removed_on                            datetime = NULL
,@lock_removed_by                            nvarchar(128) = NULL
,@comment                                    nvarchar(300) = NULL
,@locks_by                                    nvarchar(128) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010055',
@ERROR_CANT_INSERT 	= '159010053',
@ERROR_CANT_UPDATE 	= '159010054'
--
if @lock_removed_on is not null
begin
set @lock_removed_by = ORIGINAL_LOGIN()
end

IF ISNULL(@client_group_lock_id, 0) = 0
BEGIN
-- Create a new client_group_lock record
INSERT INTO client_group_lock(
client_group_id
,result_code_id
,lock_set_on
,lock_removed_on
,lock_removed_by
,comment
,lock_by
,active
)
VALUES(
@client_group_id
,@result_code_id
,GETDATE()
,@lock_removed_on
,@lock_removed_by
,@comment
,ORIGINAL_LOGIN()
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @client_group_lock_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT client_group_lock_id FROM client_group_lock WHERE client_group_lock_id = @client_group_lock_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
-- Updating an existing client_group_lock record
UPDATE	client_group_lock
SET
client_group_id                          = @client_group_id
,result_code_id                           = @result_code_id
,lock_set_on                              = @lock_set_on
,lock_removed_on                          = @lock_removed_on
,lock_removed_by                          = @lock_removed_by
,comment                                  = @comment
,lock_by                                  = @locks_by
,active                                   = @active
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE	client_group_lock_id = @client_group_lock_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
