USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_specialty_by_provider_name_all_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/03/2006				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_category' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_provider_specialty_by_provider_name_all_list_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
provider_specialty_id
,provider_specialty_type.provider_specialty_type_ud

FROM provider_specialty
INNER JOIN provider_specialty_type ON provider_specialty_type.provider_specialty_type_id = provider_specialty.provider_specialty_type_id
ORDER BY provider_specialty_type.provider_specialty_type_ud

--

RETURN @SP_SUCCESS
--
END
GO
