USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_product_line_product]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cfacey / mabdul
Sep 15 2006  9:17AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into Product dropdown on benefit Plan Form
--
REQUIREMENTS:
--
INPUTS:
product_line_id - Key to product_line table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_product_line_product]
(
@product_line_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
product_line_product.product_id
,product.product_ud
FROM product_line_product
LEFT JOIN product_line  ON product_line_product.product_line_id = product_line.product_line_id
LEFT JOIN product  ON product_line_product.product_id = product.product_id
WHERE product_line_product.product_line_id = @product_line_id

--

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
