USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_1099_amounts_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
DATE: 02/23/2012
--
REVISION_HISTORY:
--
Date		Modified By				Description
--------------------------------------------------------------------------------

--

--
DESCRIPTION:

Loads tax 1099 misc box amounts for a payment

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:

--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_1099_amounts_load]
(
@accounting_transaction_ap_payment_detail_id INT
)
AS

SELECT  tax_1099_attorney_amount,
tax_1099_compensation_amount,
tax_1099_deferrals_amount,
tax_1099_federal_amount,
tax_1099_income_amount,
tax_1099_medical_amount,
tax_1099_other_amount,
tax_1099_rents_amount
FROM accounting_transaction_ap_payment_detail
WHERE accounting_transaction_ap_payment_detail_id = @accounting_transaction_ap_payment_detail_id
GO
