USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_stage_data]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[plx_claim_payment_process_stage_data] (
@claim_payment_queue_id INT
) AS

-- Want to reset the identity values each time (keep it truncate, don't change to DELETE without changing how the service requests batches).
TRUNCATE TABLE claim_payment_processing_work_table;
TRUNCATE TABLE claim_payment_processing_criteria_work_table;


-- The service requires ordering of the data by:
-- 1) regular lines first (all in the cursor loop)
-- 2) The zero with benefits lines from claims already loaded (first after the cursor)
-- 3) The whole zero with benefit claims (2nd after the cursor)
-- If something changes such as not using cursors, etc. This order must still be kept (or change the service, etc.).

IF NOT EXISTS(SELECT 1 FROM claim_payment_queue_queue_criteria WHERE claim_payment_queue_id = @claim_payment_queue_id)
BEGIN
EXEC plx_claim_payment_process_stage_data_queue_detail NULL
END
ELSE
BEGIN

EXEC plx_claim_payment_process_stage_data_queue_detail_v3 @claim_payment_queue_id

END

-- Get all zero payment with no benefit claim lines for claims already in the run.
EXEC plx_claim_payment_process_stage_zero_no_benefit_lines_for_claims_in_run
-- Get all zero payment claim lines for claims with all lines having zero pay and without benefits.


DECLARE @no_benefits_flag BIT
SET @no_benefits_flag =
(SELECT no_benefits
FROM claim_payment_queue
WHERE claim_payment_queue_id = @claim_payment_queue_id)

-- If the no benefits flag is set, get all of the vendor_ids that were used for the run
-- and if any of them are null, then we interpret that as there being no vendor criteria,
-- and pull all vendors.
IF @no_benefits_flag = 1
BEGIN
DECLARE @vendors AS TABLE (vendor_id INT NULL)
INSERT INTO @vendors (vendor_id)
SELECT
DISTINCT vendor_id
FROM
claim_payment_queue_queue_criteria d
WHERE
claim_payment_queue_id = @claim_payment_queue_id
AND
(
effective_from <= getdate()
AND
(
effective_thru IS NULL
OR effective_thru >= getdate()
)
)
DECLARE @null_vendor_count INT
DECLARE @vendors_for_whole_claim AS udtt_claim_payment_vendor

SET @null_vendor_count = (SELECT COUNT(*) FROM @vendors WHERE vendor_id IS NULL)
-- If there all criteria lines were populated with vendors, then constrain the whole claim
-- gathering stored procedure by those vendors, otherwise sending an empty set of vendors
-- to the stored procedure indicates that all matching lines are valid regardless of vendor.
IF @null_vendor_count = 0
INSERT INTO @vendors_for_whole_claim
SELECT DISTINCT vendor_id
FROM @vendors

EXEC plx_claim_payment_process_stage_zero_no_benefit_lines_whole_claim @vendors_for_whole_claim
END

Select COUNT(*) as 'work_item_count' FROM claim_payment_processing_work_table;
GO
