USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_check_unique]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Nguyen
DATE: 10/19/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/19/2005	Thuy Nguyen	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to unique Family ID within associated Benefit Contract
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

1. @family_eligibility_id
2. @family_eligibility_ud
3. @benefit_contract_id
--
OUTPUTS:
@IsUnique : = 1 unique
= 0 not unique
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_family_eligibility_check_unique]
(
@family_eligibility_id int = 0 ,
@family_eligibility_ud NVARCHAR(100),
@benefit_contract_id int
)
AS

Declare        	@IsUnique                                 int
--- New plx_family_eligibility_member_benefit_plan
If @family_eligibility_id=0
BEGIN
If exists ( Select * From family_eligibility
Where family_eligibility_ud=@family_eligibility_ud
and benefit_contract_id = @benefit_contract_id )
SET @IsUnique = 1
else SET  @IsUnique = 0
END

--- Modify plx_family_eligibility_member_benefit_contract_period_benefit_plan
ELSE
BEGIN
If exists ( Select * From family_eligibility
Where family_eligibility_ud=@family_eligibility_ud
and benefit_contract_id = @benefit_contract_id
and family_eligibility_id <> @family_eligibility_id )
SET @IsUnique = 1
else SET  @IsUnique = 0
END
RETURN @IsUnique
GO
