USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_customer_debit_memo_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_customer_debit_memo_load](
@get_column_headers BIT = 0
,@accounting_transaction_ar_ud NVARCHAR(100) = NULL
,@customer_id INT = NULL
,@accounting_company_id INT = NULL
,@accounting_company_account_id INT = NULL	-- this is the Debit Account #
,@credit_accounting_company_account_id INT = NULL	-- this is the Credit Account # (in the Debit Memo distributions grid)
,@transaction_date_from DATETIME = NULL
,@transaction_date_thru DATETIME = NULL
,@amount_from NUMERIC(20,10) = NULL
,@amount_thru NUMERIC(20,10) = NULL
,@balance_from NUMERIC(20,10) = NULL
,@balance_thru NUMERIC(20,10) = NULL
,@show_exact_match BIT = 0
,@accounting_debit_memo_status_id INT = NULL
,@debit_memo_type_id INT = NULL
--- Reporting Criteria fields
,@client_id                                  INT = NULL
,@client_group_id                            INT = NULL
,@benefit_contract_id                        INT = NULL
,@benefit_plan_id                            INT = NULL
,@family_eligibility_id                      INT = NULL
,@legacy_member_identifier                   NVARCHAR(50) = NULL
,@legacy_member_name                         NVARCHAR(200) = NULL
,@coverage_period_start_date                 DATETIME = NULL
,@coverage_period_end_date                   DATETIME = NULL
,@additional_information_topic_id            INT = NULL
,@topic_value                                NVARCHAR(200) = NULL
,@reference_number                           NVARCHAR(100) = NULL
)
AS
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SqlQuery NVARCHAR(4000)
,@SqlCondition NVARCHAR(4000)
,@SqlOrderBy NVARCHAR(4000)
,@Prefix NVARCHAR(10)
,@Suffix NVARCHAR(10)


SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@SqlQuery = ''
,@SqlCondition = ' WHERE '+CONVERT(NVARCHAR(1),@get_column_headers)+' = 0 '
,@SqlOrderBy = ''
,@Prefix = ''
,@Suffix = ''


-- Make sure to compare dates only
SET @transaction_date_from = CONVERT(DATE,@transaction_date_from)
-- add a day to the thru date and then use the < comparison operator
SET @transaction_date_thru = DATEADD(day,1,CONVERT(DATE,@transaction_date_thru))

IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

--@debit_memo_type_id
IF(@debit_memo_type_id IS NOT NULL
AND @debit_memo_type_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.debit_memo_type_id = '+CONVERT(VARCHAR(10),@debit_memo_type_id)
END

--accounting_transaction_ar_ud
IF @accounting_transaction_ar_ud IS NOT NULL
AND @accounting_transaction_ar_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(ata.accounting_transaction_ar_ud, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@accounting_transaction_ar_ud,@show_exact_match
)+@Suffix
END

--@customer_id
IF(@customer_id IS NOT NULL
AND @customer_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND customer.customer_id = '+CONVERT(VARCHAR(10),@customer_id)
END

--@accounting_debit_memo_status_id
IF(@accounting_debit_memo_status_id IS NOT NULL
AND @accounting_debit_memo_status_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND adms.accounting_debit_memo_status_id = '+CONVERT(VARCHAR(10),@accounting_debit_memo_status_id)
END

--@accounting_company_id
IF(@accounting_company_id IS NOT NULL
AND @accounting_company_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ac.accounting_company_id = '+CONVERT(VARCHAR(10),@accounting_company_id)
END

--@accounting_company_account_id -- this is the account which is DEBITED
IF(@accounting_company_account_id IS NOT NULL
AND @accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND detail.debit_accounting_company_account_id = '+CONVERT(VARCHAR(10),@accounting_company_account_id)
END

--@credit_accounting_company_account_id -- this is the account which is CREDITED (in the Distributions grid)
IF(@credit_accounting_company_account_id IS NOT NULL
AND @credit_accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND dist.accounting_company_account_id = '+CONVERT(VARCHAR(10),@credit_accounting_company_account_id)
+ ' AND dist.is_debit = 0 '
END

--@transaction_date_from
IF(@transaction_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_date >= '''+CONVERT(VARCHAR(23),@transaction_date_from)+''''
END

--@transaction_date_thru
IF(@transaction_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_date < '''+CONVERT(VARCHAR(23),@transaction_date_thru)+''''
END

--@amount_from
IF(@amount_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_amount >= '+CONVERT(VARCHAR(23),@amount_from)
END

--@amount_thru
IF(@amount_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.transaction_amount <= '+CONVERT(VARCHAR(23),@amount_thru)
END

--@balance_from
IF(@balance_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(ata.accounting_transaction_ar_id, DEFAULT) >= '+CONVERT(VARCHAR(23),@balance_from)
END

--@balance_thru
IF(@balance_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(ata.accounting_transaction_ar_id, DEFAULT) <= '+CONVERT(VARCHAR(23),@balance_thru)
END

--@client_id
IF(@client_id IS NOT NULL
AND @client_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.client_id = '+CONVERT(VARCHAR(10),@client_id)
END

--@client_group_id
IF(@client_group_id IS NOT NULL
AND @client_group_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.client_group_id = '+CONVERT(VARCHAR(10),@client_group_id)
END

--@benefit_contract_id
IF(@benefit_contract_id IS NOT NULL
AND @benefit_contract_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.benefit_contract_id = '+CONVERT(VARCHAR(10),@benefit_contract_id)
END

--@benefit_plan_id
IF(@benefit_plan_id IS NOT NULL
AND @benefit_plan_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.benefit_plan_id = '+CONVERT(VARCHAR(10),@benefit_plan_id)
END

--@family_eligibility_id
IF(@family_eligibility_id IS NOT NULL
AND @family_eligibility_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.family_eligibility_id = '+CONVERT(VARCHAR(10),@family_eligibility_id)
END

--legacy_member_identifier
IF @legacy_member_identifier IS NOT NULL
AND @legacy_member_identifier <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(detail.legacy_member_identifier, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@legacy_member_identifier,@show_exact_match
)+@Suffix
END

--legacy_member_name
IF @legacy_member_name IS NOT NULL
AND @legacy_member_name <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(detail.legacy_member_name, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@legacy_member_name,@show_exact_match
)+@Suffix
END

--@reference_number
IF @reference_number IS NOT NULL
AND @reference_number <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND ISNULL(detail.reference_number, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@reference_number,@show_exact_match
)+@Suffix
END

--@coverage_period_start_date
IF(@coverage_period_start_date IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.coverage_period_start_date = '''+CONVERT(VARCHAR(23),@coverage_period_start_date)+''''
END

--@coverage_period_end_date
IF(@coverage_period_end_date IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ata.coverage_period_end_date = '''+CONVERT(VARCHAR(23),@coverage_period_end_date)+''''
END


-- Additional Information
--additional_information_topic_id
IF(@additional_information_topic_id IS NOT NULL
AND @additional_information_topic_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition+' AND ataai.additional_information_topic_id = '+CONVERT(VARCHAR(10),@additional_information_topic_id)
END
--topic_value
IF @topic_value IS NOT NULL
AND @topic_value <> ''
BEGIN
SET @sqlCondition = @sqlCondition+' AND
ISNULL(ataai.additional_information_value, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@topic_value,@show_exact_match
)+@Suffix
+ ' OR
ISNULL(ataai.additional_information_selection_value, '''') '+@Prefix+dbo.plx_EncodeStringWildCard
(@topic_value,@show_exact_match
)+@Suffix
END

SET @SqlQuery =
' SELECT  DISTINCT ' +
'		ata.accounting_transaction_ar_id, '+
'		ata.accounting_transaction_ar_ud, '+
'		ata.customer_id, '+
'		customer.customer_ud, '+
'		ata.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		ata.transaction_date,'+
'		ata.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		detail.accounting_debit_memo_status_id, '+
'		adms.accounting_debit_memo_status_ud, '+
'		adms.golden_key As accounting_debit_memo_status_gk, '+
'		aca.accounting_company_account_ud AS ar_accounting_company_account_ud, '+
'		ata.transaction_amount as amount,'+
'		dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(ata.accounting_transaction_ar_id, DEFAULT) AS balance'+
' FROM 	' +
'		accounting_transaction_ar_debit_memo_detail detail ' +
'		LEFT JOIN accounting_transaction_ar ata '+
'			ON ata.accounting_transaction_ar_id = detail.accounting_transaction_ar_id '+
'		LEFT JOIN customer '+
'			ON customer.customer_id = ata.customer_id '+
'		LEFT JOIN accounting_company ac '+
'			ON ata.accounting_company_id = ac.accounting_company_id '+
'		LEFT JOIN accounting_company_account aca '+
'			ON detail.debit_accounting_company_account_id = aca.accounting_company_account_id '+
'		LEFT OUTER JOIN accounting_debit_memo_status adms '+
'			ON detail.accounting_debit_memo_status_id = adms.accounting_debit_memo_status_id '+
'       LEFT JOIN accounting_transaction_ar_apply_to invoice_apply_to' +
'           ON ata.accounting_transaction_ar_id = invoice_apply_to.to_accounting_transaction_ar_id '+
'       LEFT JOIN accounting_transaction_ar_additional_information ataai ' +
'           ON ata.accounting_transaction_ar_id = ataai.accounting_transaction_ar_id ' +
'       LEFT JOIN accounting_transaction_ar_distribution dist ' +
'           ON ata.accounting_transaction_ar_id = dist.accounting_transaction_ar_id '

SET @SqlOrderBy = '	ORDER BY ata.accounting_transaction_ar_ud'

-- PRINT @SqlQuery + @SqlCondition + @SqlOrderBy
EXEC (@SqlQuery+@SqlCondition+@SqlOrderBy)
IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
