USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/22/2006	TINH DO		1.1		ADD agent_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_brokerage_save]
(
@brokerage_id                       	int = NULL   OUTPUT
,@agent_id				INT = NULL  OUTPUT
,@agent_or_brokerage_type_id          	int = NULL
,@brokerage_effective_from            	datetime = NULL
,@brokerage_effective_thru            	datetime = NULL
,@incorporation_date		datetime = NULL
,@incorporated_in_country_id	int = NULL
,@incorporated_in_state_id		int	= NULL
,@company_type_id                    	int = NULL
,@agent_name_id			int = NULL	OUTPUT
,@name_last			nvarchar(100) = NULL
,@is_primary				bit = 1
,@active                              		bit = 1
--,@cascade                             	bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--

DECLARE @alias_type_id INT
SELECT  @alias_type_id = alias_type_id
FROM 	dbo.alias_type
WHERE golden_key = 'Company'

SELECT  @agent_or_brokerage_type_id = agent_or_brokerage_type_id
FROM 	dbo.agent_or_brokerage_type
WHERE golden_key = 'Brokerage'

IF @brokerage_id is Null
BEGIN

--- Create a new brokerage record
print 'save new brokerage'
INSERT INTO agent(
agent_or_brokerage_type_id
,effective_from
,effective_thru
,incorporation_date
,incorporated_in_country_id
,incorporated_in_state_id
,company_type_id
,active
)
VALUES
(@agent_or_brokerage_type_id
,@brokerage_effective_from
,@brokerage_effective_thru
,@incorporation_date
,@incorporated_in_country_id
,@incorporated_in_state_id
,@company_type_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @brokerage_id = @@IDENTITY
SET @agent_id = @brokerage_id
print 'save brokerage name new'
IF  @name_last is not null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,alias_type_id
,is_primary
,active
)
VALUES
(@brokerage_id
,@name_last
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--     print 'save brokerage name new'


END
ELSE IF NOT EXISTS (SELECT * FROM agent WHERE agent_id = @brokerage_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent record
print 'update brokerage '
UPDATE agent
SET
agent_or_brokerage_type_id             	= @agent_or_brokerage_type_id
,effective_from                           	= @brokerage_effective_from
,effective_thru                           	= @brokerage_effective_thru
,incorporation_date			= @incorporation_date
,incorporated_in_country_id		= @incorporated_in_country_id
,incorporated_in_state_id		= @incorporated_in_state_id
,company_type_id			= @company_type_id
,active                                   		= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_id = @brokerage_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--------------------------BROKERAGE NAME--------------------------------------------------------------------------
IF @agent_name_id is Null
BEGIN
IF @name_last is not null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,alias_type_id
,is_primary
,active
)
VALUES
(@brokerage_id
,@name_last
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--    print 'save brokerage name new'
END
ELSE -- @agent_name_id is not null
BEGIN
-- check if primary name is change, updates the old primary name as Alias
--		print @agent_name_id
DECLARE
@old_name_last NVARCHAR(100) ,
@new_name_last NVARCHAR(100)

SELECT @old_name_last = ISNULL(name_last   , '')
FROM  dbo.agent_name
WHERE agent_name_id =  @agent_name_id

SET @new_name_last = ISNULL(@name_last   , '')

--		print @old_name_last  + ' --- ' + @new_name_last
IF @name_last is not null
BEGIN
IF (@old_name_last <> @new_name_last)
BEGIN
print 'update brokerage name alias  '
UPDATE agent_name
SET
is_primary = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_name_id = @agent_name_id

INSERT INTO agent_name(
agent_id
,name_last
,alias_type_id
,is_primary
,active
)
VALUES
(@brokerage_id
,@name_last
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
--						print 'save new agent name alias  '
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
END
END

END
--
RETURN @SP_SUCCESS
--
GO
