USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_procedure_code_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan  9 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_fee_schedule_procedure_code_type_load]

AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
procedure_code_type.procedure_code_type_id as fsm_procedure_code_type_id
,procedure_code_type.procedure_code_type_ud as fsm_procedure_code_type_ud

FROM procedure_code_type
INNER JOIN claim_usage_type  ON claim_usage_type.claim_usage_type_id = procedure_code_type.claim_usage_type_id

WHERE claim_usage_type.golden_key = 'Procedure'
ORDER BY procedure_code_type.procedure_code_type_ud
--
RETURN @SP_SUCCESS
GO
