USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_division_load_by_employee_class_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;

AUTHOR		:HungTNguyen
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
3/1/2006 	HungTNguyen		 1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:  Load employee_division by employee_class_id

;
REQUIREMENTS	:

None
;
INPUTS		:  @employee_class_id


;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE   procedure [dbo].[plx_employee_division_load_by_employee_class_id]
@employee_class_id [int] = NULL
as
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


select
employee_division.employee_division_id
,employee_division.employee_division_ud
from	dbo.employee_division
left  join dbo.employee_class  on dbo.employee_class.employee_class_id = employee_division.employee_class_id
where
employee_division.employee_class_id=@employee_class_id


RETURN @SP_SUCCESS
GO
