USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_run_result_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION
Used on Coverage Level Process Run form to populate read-only Errors grid.
******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_run_result_code_load]
(
@coverage_level_process_run_id          INT = NULL
)
AS

SET NOCOUNT ON
SELECT
runResultCode.coverage_level_process_run_result_code_id,
runResultCode.coverage_level_process_run_id,
rc.result_code_id,
rc.result_code_ud,
rc.short_message,
fe.family_eligibility_id,
fe.family_eligibility_ud,
bp.benefit_plan_id,
bp.benefit_plan_ud
FROM dbo.coverage_level_process_run_result_code runResultCode
JOIN result_code rc ON runResultCode.result_code_id = rc.result_code_id
LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = runResultCode.family_eligibility_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = runResultCode.benefit_plan_id
WHERE runResultCode.coverage_level_process_run_id = @coverage_level_process_run_id

ORDER BY rc.result_code_ud

RETURN 0;
GO
