USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_ap_ach_export_file_run_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--

DESCRIPTION:
This procedure is used to load data for the AP ACH file export run grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_ap_ach_export_file_run_list_load]
AS
--
--
SET NOCOUNT ON

SELECT
fer.export_file_run_id
,CASE
WHEN ifs.golden_key = 'File Generated'
THEN
fet.export_file_type_ud
ELSE
NULL
END as export_file_type_ud
,fet.export_file_type_ud
,fer.run_date as created_on
,fer.export_file_values
,
ISNULL(fer.file_path,'') +
CASE WHEN(
RIGHT(ISNULL(fer.file_path,''),1) = '\') THEN ''
ELSE
CASE WHEN LEN(ISNULL(fer.file_path,''))>1 THEN '\' ELSE '' END
END +
ISNULL(fer.filename,'') as location
,ifs.integration_file_status_ud as result
,ifs.golden_key as integration_file_status_golden_key
,'' AS [values]
FROM export_file_run fer
JOIN export_file_type fet ON fer.export_file_type_id = fet.export_file_type_id
JOIN integration_file_status ifs ON fer.integration_file_status_id = ifs.integration_file_status_id
WHERE fet.golden_key IN ('ACH_PRENOTE', 'ACH_PAYMENT')
ORDER BY fer.created_date DESC


return @@ROWCOUNT
--
GO
