USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/31/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to see if a capitation manual_run can be deleted
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_manual_run_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0
IF EXISTS(
SELECT *
FROM
capitation_manual_run cmr
JOIN capitation_manual_run_status cmrs ON cmr.capitation_manual_run_status_id = cmrs.capitation_manual_run_status_id
WHERE cmr.capitation_manual_run_id = @id AND cmrs.golden_key = 'IN_ACCOUNTING'
)
BEGIN
RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
END
GO
