USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
Date: 10/20/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2005	Mai Tran	1.0		1.remove @accumulator_framework_accumulator_class_accumulator_id
2.add column @accumulator_sub_limit_rule_id
03/08/2006	Thuy Ha		1.1		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER a single object into the benefit_plan_accumulator_class_choice_resolution table.
This stored procedure is used for the Accumulator Class Choice grid in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_save]
(
@benefit_plan_accumulator_class_choice_resolution_id	int = NULL OUTPUT
,@benefit_plan_id                           int = NULL
,@accumulator_limit_rule_id					INT = NULL
,@accumulator_sub_limit_rule_id					INT = NULL
,@individual_accumulator_valid_choice_id	INT = NULL
,@family_accumulator_valid_choice_id		INT = NULL
,@effective_from                            datetime = NULL
,@effective_thru                            datetime = NULL
,@active                                    bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_accumulator_class_choice_resolution_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_plan_accumulator_class_choice_resolution(
benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_plan_id
,@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@individual_accumulator_valid_choice_id
,@family_accumulator_valid_choice_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_plan_accumulator_class_choice_resolution_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_accumulator_class_choice_resolution WHERE benefit_plan_accumulator_class_choice_resolution_id = @benefit_plan_accumulator_class_choice_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_plan_accumulator_class_choice_resolution
SET
benefit_plan_id                          	= @benefit_plan_id
,individual_accumulator_valid_choice_id		= @individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id			= @family_accumulator_valid_choice_id
,effective_from                           	= @effective_from
,effective_thru                           	= @effective_thru
,active                                   	= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_accumulator_class_choice_resolution_id = @benefit_plan_accumulator_class_choice_resolution_id
END
--
RETURN @SP_SUCCESS
--
GO
