USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_transaction_list_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 10/20/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/20/2008	Vishwa Jella	1.0			created
09/14/2009	Jeremy Hein						-Union ar transactions and add fee info.
--

--
DESCRIPTION:
Load Transactions grid on Claim Accounting Information form
--
REQUIREMENTS:
--
INPUTS:
@claim_procedure_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_accounting_information_transaction_list_load]
(
@claim_procedure_id				Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

(	SELECT
accounting_transaction_ap.accounting_transaction_ap_id as accounting_transaction_id
,accounting_transaction_ap.accounting_transaction_ap_ud as accounting_transaction_ud
,ISNULL(accounting_transaction_ap.benefit_plan_id, adj_bp.benefit_plan_id) as benefit_plan_id
,ISNULL(bp.benefit_plan_ud, adj_bp.benefit_plan_ud) as benefit_plan_ud
,case
when t.golden_key = 'CREDIT' then
abs(accounting_transaction_ap.transaction_amount) * -1
else
abs(accounting_transaction_ap.transaction_amount)
end as transaction_amount
,case
when t.golden_key = 'CREDIT' then
abs(dbo.plx_fn_get_unapplied_amount_for_transaction(accounting_transaction_ap.accounting_transaction_ap_id,0)) * -1
else
abs(dbo.plx_fn_get_unapplied_amount_for_transaction(accounting_transaction_ap.accounting_transaction_ap_id,0))
end as unapplied_amount
,ats.accounting_transaction_status_id
,ats.accounting_transaction_status_ud
,ats.golden_key
,cfsaf.description
,cft.client_fee_type_ud
, 1 as AP
, 0 as AR
, CASE
-- any claim procedure that is negated should be true.
WHEN (src.golden_key = 'Claims' AND cp.is_negated = 1)
-- any payment penalty that is attached to a claim procedure with negate_payment_penalty = true should be true.
OR   (src.golden_key = 'PAYMENT_PENALTY' AND atacd.negate_payment_penalty = 1 )
-- any payment penalty that is attached to a claim_procedure negating another claim_procedure should be true.
OR   (src.golden_key = 'PAYMENT_PENALTY' AND cp.negated_claim_procedure_id IS NOT NULL)
THEN
1
ELSE
0
END as negated_transaction
, accounting_transaction_ap.is_vendor_redistribution
FROM accounting_transaction_ap
INNER JOIN claim_procedure cp ON cp.claim_procedure_id = @claim_procedure_id
INNER JOIN accounting_transaction_ap_type t ON t.accounting_transaction_ap_type_id = accounting_transaction_ap.accounting_transaction_ap_type_id
INNER JOIN accounting_source src ON src.accounting_source_id = accounting_transaction_ap.accounting_source_id
LEFT JOIN accounting_transaction_ap_claim_detail atacd ON atacd.accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
LEFT JOIN claim ON claim.claim_id = atacd.claim_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = accounting_transaction_ap.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_fee_detail atafd on accounting_transaction_ap.accounting_transaction_ap_id = atafd.accounting_transaction_ap_id
LEFT JOIN client_fee_setup_ap_fee cfsaf on atafd.client_fee_setup_ap_fee_id = cfsaf.client_fee_setup_ap_fee_id
LEFT JOIN client_fee_type cft on cfsaf.client_fee_type_id = cft.client_fee_type_id
LEFT JOIN benefit_plan bp on accounting_transaction_ap.benefit_plan_id = bp.benefit_plan_id

-- Pull the Benefit Plan ID from the adjudication keys table if there is no benefit plan on the transaction
LEFT JOIN adjudication_result_key bp_key
ON accounting_transaction_ap.benefit_plan_id IS NULL AND bp_key.claim_procedure_id = atacd.claim_procedure_id
LEFT JOIN benefit_plan adj_bp on accounting_transaction_ap.benefit_plan_id IS NULL AND bp_key.benefit_plan_id = adj_bp.benefit_plan_id

WHERE atacd.claim_procedure_id = @claim_procedure_id )

UNION

(SELECT
accounting_transaction_ar.accounting_transaction_ar_id as accounting_transaction_id
,accounting_transaction_ar.accounting_transaction_ar_ud as accounting_transaction_ud
,NULL as 'benefit_plan_id'
,NULL as 'benefit_plan_ud'
,accounting_transaction_ar.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_ar_transaction(accounting_transaction_ar.accounting_transaction_ar_id,0) as unapplied_amount
,ats.accounting_transaction_status_id
,ats.accounting_transaction_status_ud
,ats.golden_key
,cfsaf.description
,cft.client_fee_type_ud
, 0 as AP
, 1 as AR
, 0 as negated_transaction
, CONVERT(BIT, 0) AS is_vendor_redistribution
FROM accounting_transaction_ar
LEFT JOIN accounting_transaction_ar_claim_detail atacd ON atacd.accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
LEFT JOIN claim ON claim.claim_id = atacd.claim_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = accounting_transaction_ar.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ar_fee_detail atafd on accounting_transaction_ar.accounting_transaction_ar_id = atafd.accounting_transaction_ar_id
LEFT JOIN client_fee_setup_ar_fee cfsaf on atafd.client_fee_setup_ar_fee_id = cfsaf.client_fee_setup_ar_fee_id
LEFT JOIN client_fee_type cft on cfsaf.client_fee_type_id = cft.client_fee_type_id
WHERE atacd.claim_procedure_id = @claim_procedure_id )

RETURN @SP_SUCCESS
GO
