USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_find_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 01/09/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
01/09/2006	Trang Huynh		1.0
02/13/2006	Trang Huynh		1.2		remove fee_schedule_nm , add description
05/14/2009	David Slayton	1.3		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.4		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.4
--
DESCRIPTION:
Find all the Fee Schedules based on the criteria entered on the Find Fee Schedule form.
The returned results must contain the Fee Schedule ID,  Fee Schedule Name,
Fee Schedule Type ID, Fee Schedule Type Name .

--
REQUIREMENTS:
--
INPUTS:
@fee_schedule_ud		nvarchar(100) = NULL
,@fee_schedule_nm		nvarchar(200) = NULL
,@fee_schedule_form_type_id 	int = NULL
,@base_fee_schedule_id	int = NULL
,@fee_schedule_modifier_id	int = NULL
,@show_exact_matches		bit = NULL

--
OUTPUTS:
a fee schedule record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                     PROCEDURE [dbo].[plx_fee_schedule_find_load]
(
@get_column_headers			BIT = 0
,@fee_schedule_ud		nvarchar(100) = NULL
,@description		nvarchar(255) = NULL
,@fee_schedule_form_type_id 	int = NULL
,@base_fee_schedule_id	int = NULL
,@fee_schedule_modifier_id	int = NULL
,@show_exact_matches		bit = NULL
)
AS

--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
DECLARE @strSQL nvarchar(4000)
DECLARE @WhereClause nvarchar(4000)

IF RTRIM(@fee_schedule_ud) = ''
SET @fee_schedule_ud = NULL
IF RTRIM(@description) = ''
SET @description = NULL

IF @fee_schedule_form_type_id <= 0
SET @fee_schedule_form_type_id = NULL
IF @base_fee_schedule_id <= 0
SET @base_fee_schedule_id = NULL
IF @fee_schedule_modifier_id <= 0
SET @fee_schedule_modifier_id = NULL

SET @strSQL =
'SELECT   DISTINCT TOP (dbo.fn_results_limit()) fee_schedule.fee_schedule_id
,fee_schedule.fee_schedule_ud
,fee_schedule.fee_schedule_id	as base_fee_schedule_id
,fee_schedule.fee_schedule_ud	as base_fee_schedule_ud
--	  ,fee_schedule.fee_schedule_nm
,fee_schedule.description
,fee_schedule.fee_schedule_form_type_id
,fee_schedule_form_type.fee_schedule_form_type_ud
,fee_schedule_form_type.golden_key
FROM fee_schedule
left join fee_schedule_form_type on fee_schedule.fee_schedule_form_type_id = fee_schedule_form_type.fee_schedule_form_type_id
left join fee_schedule as base_fee_schedule on fee_schedule.base_fee_schedule_id = base_fee_schedule.fee_schedule_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (NOT @show_exact_matches IS NULL) AND (@show_exact_matches = 1)
BEGIN
IF NOT @fee_schedule_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(fee_schedule.fee_schedule_ud, '''') = N''' + dbo.plx_EncodeStringWildCard(@fee_schedule_ud, @show_exact_matches) + ''')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(fee_schedule.description, '''') = N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + ''')'
END
ELSE
BEGIN
IF NOT @fee_schedule_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(fee_schedule.fee_schedule_ud, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@fee_schedule_ud, @show_exact_matches) + '%'')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(fee_schedule.description, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + '%'')'
END

IF @fee_schedule_form_type_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fee_schedule.fee_schedule_form_type_id = ' + str(@fee_schedule_form_type_id) + ')'

IF @base_fee_schedule_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (fee_schedule.base_fee_schedule_id = ' + str(@base_fee_schedule_id) + ')'

exec(@strSQL)
--
IF @@ROWCOUNT >= 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
