USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_individual_benefit_framework_valid_choice_effective_by_benefit_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: meena
Date: 08/13/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
get data for choice drop down list in individual benefit choice list resolution in Family Eligibility,
Episode, Benefit Plan
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_dd_individual_benefit_framework_valid_choice_effective_by_benefit_plan_load]
(
@benefit_contract_period_benefit_plan_id	INT = NULL
,@benefit_id 				INT = NULL
,@benefit_framework_choice_list_id         INT = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
SELECT   benefit_coverage_rules.benefit_coverage_rules_id
,benefit.benefit_id
,benefit_framework_valid_choice.benefit_framework_valid_choice_id
,benefit_framework_valid_choice.benefit_framework_choice_list_id
,CASE WHEN benefit_framework_valid_choice.valid_choice IS NOT NULL THEN
benefit_framework_valid_choice.valid_choice
ELSE yes_no.yes_no_ud
END
AS valid_choice
FROM
dbo.benefit_contract_period_benefit_plan bcpbp
INNER JOIN dbo.benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN dbo.benefit_framework
ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit_framework_benefit_class bfbc
ON	bfbc.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN dbo.benefit
ON 	benefit.benefit_framework_benefit_class_id = bfbc.benefit_framework_benefit_class_id
INNER JOIN benefit_coverage_rules
ON benefit_coverage_rules.benefit_id = benefit.benefit_id
INNER JOIN dbo.benefit_framework_choice_list bfcl
ON	bfcl.benefit_framework_choice_list_id = benefit_coverage_rules.benefit_framework_choice_list_id
INNER JOIN dbo.resolve_choice_list_at rcla
ON	rcla.resolve_choice_list_at_id = bfcl.resolve_choice_list_at_id
INNER JOIN dbo.benefit_framework_valid_choice
ON	benefit_framework_valid_choice.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
LEFT JOIN yes_no ON yes_no.yes_no_id = benefit_framework_valid_choice.yes_no_id

WHERE   UPPER(rcla.golden_key) = UPPER('Individual Eligibility')
AND		bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND 		benefit.benefit_id = @benefit_id
AND                   benefit_framework_valid_choice.benefit_framework_choice_list_id = @benefit_framework_choice_list_id


--
RETURN @SP_SUCCESS
--
GO
