USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_premium_payment_stage_data]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_premium_payment_stage_data]
@asOfDate DATETIME
AS

SET NOCOUNT ON;

-- Want to reset the identity values each time (keep it truncate, don't change to DELETE without changing how the service requests batches).
TRUNCATE TABLE disbursement_premium_payment_work_table;

DECLARE
@transactionStatusAvailable INT,
@transactionTypeBill INT,
@transactionTypeCredit INT,
@sourcePremium INT,
@sourceManual INT,
@paymentStatusVoided INT,
@groupByClientId INT;

SELECT
@transactionStatusAvailable = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'AVAILABLE'),
@transactionTypeBill = (SELECT accounting_transaction_ap_type_id FROM accounting_transaction_ap_type WHERE golden_key = 'BILL'),
@transactionTypeCredit = (SELECT accounting_transaction_ap_type_id FROM accounting_transaction_ap_type WHERE golden_key = 'CREDIT'),
@sourcePremium = (SELECT accounting_source_id FROM accounting_source WHERE golden_key = 'PREMIUM_FEE_AP'),
@sourceManual = (SELECT accounting_source_id FROM accounting_source WHERE golden_key = 'Manual Transaction'),
@paymentStatusVoided = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'VOIDED'),
@groupByClientId = (SELECT premium_payment_grouping_rule_id FROM premium_payment_grouping_rule WHERE golden_key = 'GROUP_BY_CLIENT');

;WITH applied_amount (accounting_transaction_ap_id, applied_amount) AS
(
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
pd.accounting_payment_status_id <> @paymentStatusVoided
GROUP BY
apto.to_accounting_transaction_ap_id
)
INSERT INTO disbursement_premium_payment_work_table (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
client_id,
is_group_by_client
)
SELECT DISTINCT
atap.accounting_transaction_ap_id,
CASE
WHEN atap.accounting_transaction_ap_type_id = @transactionTypeBill
THEN 1
ELSE 0
END,
atap.transaction_amount,
atap.vendor_id,
vpm.payment_method_payment_id,
atap.client_id,
CASE
WHEN client.premium_payment_grouping_rule_id = @groupByClientId
THEN 1
ELSE 0
END
FROM
accounting_transaction_ap atap
INNER JOIN vendor v
ON v.vendor_id = atap.vendor_id
LEFT JOIN vendor_payment_method vpm
ON vpm.vendor_id = atap.vendor_id
AND vpm.effective_from <= @asOfDate
AND
(
vpm.effective_thru IS NULL
OR vpm.effective_thru >= @asOfDate
)
LEFT JOIN applied_amount aa
ON aa.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN client
ON client.client_id = atap.client_id
WHERE
atap.accounting_transaction_status_id = @transactionStatusAvailable
AND atap.accounting_transaction_ap_type_id IN (@transactionTypeBill, @transactionTypeCredit)
AND
(
atap.accounting_source_id IN (@sourcePremium)
OR
(atap.accounting_source_id = @sourceManual AND atap.treat_as_accounting_source_id = @sourcePremium)
)
AND
(
-- Will be NULL if there are no apply_to records.
aa.applied_amount IS NULL
OR
atap.transaction_amount - aa.applied_amount != 0
)
ORDER BY
atap.vendor_id,
atap.client_id,
atap.accounting_transaction_ap_id;

SELECT COUNT(*) AS 'work_item_count' FROM disbursement_premium_payment_work_table;
GO
