USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_treatment_type_is_service_included_check_px]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Used by Adjudication Only
Unit tests for calling Stored Procedure are in Adjudication Service Solution
Called by: plx_dto_treatment_type_is_service_included
Modified: 10/08/2013 eponomareff	Added icd version for px/dx codes

*/


Create Procedure [dbo].[plx_dto_treatment_type_is_service_included_check_px] (
@treatment_type_id int,
@px_code nvarchar(50),
@procedure_code_type_id int,
@procedure_code_icd_version_id int = null,
@date_of_service datetime,
@is_excluded bit
) As

-- RT:5900 - handle case when procedure_code_icd_version_id value passed in is 0 rather than null
if @procedure_code_icd_version_id = 0
set @procedure_code_icd_version_id = null

if exists (
select
*
from
treatment_type_procedure_code_group ttpcg
Inner Join procedure_code_group pcg
on ttpcg.procedure_code_group_id = pcg.procedure_code_group_id
Inner Join procedure_code_group_procedure_code pcgpc
on pcg.procedure_code_group_id = pcgpc.procedure_code_group_id
and pcgpc.procedure_code_type_id = @procedure_code_type_id
Inner Join procedure_code pcbegin
on pcgpc.begin_procedure_code_id = pcbegin.procedure_code_id
Inner Join procedure_code pcend
on pcgpc.end_procedure_code_id = pcend.procedure_code_id
Where
ttpcg.treatment_type_id = @treatment_type_id
And @date_of_service between ttpcg.effective_from and ISNULL(ttpcg.effective_thru, @date_of_service)
And pcgpc.is_excluded = @is_excluded
And @date_of_service between pcgpc.effective_from And ISNULL(pcgpc.effective_thru, @date_of_service)
And @px_code between pcbegin.procedure_code_ud And pcend.procedure_code_ud
And (@procedure_code_icd_version_id IS NULL or pcgpc.procedure_code_icd_version_id = @procedure_code_icd_version_id)
)
return 1

return 0
GO
