USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_credit_memo_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to check whether a Customer Credit Memo may be deleted.
Delete Condition :	When Customer Credit Memo has not been applied to any
invoice, or debit memo, or in use by reconciliation, it may be deleted.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_credit_memo_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT accounting_transaction_ar_id
FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @id)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN
-- check status, if NULL or ENTERED, it is deletable.
DECLARE @STATUS_GK NVARCHAR(50);
SET @STATUS_GK = (SELECT golden_key
FROM accounting_transaction_ar_credit_memo_detail detail
JOIN accounting_credit_memo_status memo_status
ON detail.accounting_credit_memo_status_id = memo_status.accounting_credit_memo_status_id
WHERE accounting_transaction_ar_id = @id);
IF ISNULL(@STATUS_GK, 'ENTERED') = 'ENTERED'
RETURN @SP_DELETE_ABLE;

-- check for invoices
IF EXISTS(SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @id)
BEGIN
--check apply_to transactions (accounting_transaction_ap_apply_to)
SELECT 'Invoice' AS object_golden_key, atar.accounting_transaction_ar_ud AS object_ud
FROM accounting_transaction_ar_apply_to apply_to
INNER JOIN accounting_transaction_ar atar
ON atar.accounting_transaction_ar_id = apply_to.to_accounting_transaction_ar_id
WHERE apply_to.from_accounting_transaction_ar_id = @id
END

-- check for debit memos
-- TODO

----Check Reconciliation
-- TODO

---- Individual
IF EXISTS (SELECT 1
FROM reconciliation_premium_payment_individual_detail_generated_transaction rec_ind_det_cm
WHERE rec_ind_det_cm.accounting_transaction_ar_id = @id
)
BEGIN
SELECT 'RECONCILIATION_WORK_QUEUE' AS object_golden_key, 'Reconciliation Payment Process' AS object_ud
RETURN @SP_DELETE_UNABLE
END

-- Organization
IF EXISTS (SELECT 1
FROM reconciliation_premium_payment_organization_detail_generated_transaction rec_org_det_cp
WHERE rec_org_det_cp.accounting_transaction_ar_id = @id
)
BEGIN
SELECT 'RECONCILIATION_WORK_QUEUE' AS object_golden_key, 'Reconciliation Payment Process' AS object_ud
RETURN @SP_DELETE_UNABLE
END

END

RETURN @SP_DELETE_ABLE
GO
