USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 07/19/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
-----------------------------------------------------------------------------------------------
07/19/2006	Hiep Nguyen	   1.0		Created
09/27/2007	Abhishek Saxena  1.0		Modified
07/08/2009	David Slayton	1.2		Replaced bc.billing_type_id with ps.billing_type_id, bt.billing_type_ud
and added bc.grace_period_status_id
11/21/2009	Vishwa Jella	2.0		Added linked_accumulator_set_id field to benefit contract Form advanced setup Tab
06/15/2010  Mabdul/Cfacey	2.1		Added line of business & removed Product Id
11/22/2010	Chad Maddox		2.2		Changed grace_period_status_id to grace_period_status_ud as it is now a read-only text field.
05/09/2016	dcannon			2.3		RT:8612 add benefit contract value
05/09/2016	eponomareff		2.3		RT:10282 add reference to premium_policy_type for individual premium billing

--
CURRENT_VERSION: 2.3
--
DESCRIPTION:
This procedure is used to load data for Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_contract_load]

(
@benefit_contract_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bc.benefit_contract_id
,bc.benefit_contract_ud

,bc.benefit_contract_nm
,bc.description
,bc.benefit_current_status_id

,bc.client_group_id
,cgn.client_group_ud

,bc.benefit_contract_template
,bc.auto_create_family_id_rule_id

,ps.premium_setup_id
,ps.billing_type_id
,bt.billing_type_ud
,bt.golden_key AS billing_type_golden_key
,bc.grace_period_status_id
,gps.grace_period_status_ud

--,pl.product_line_id
-- ,p.product_id

,bc.line_of_business_id
,lob.line_of_business_ud

,bc.effective_from
,bc.effective_thru
,bc.benefit_termination_reason_id as benefit_contract_termination_id
,bc.base_currency_id
,bc.currency_exchange_rate_rule_id
,c.accounting_company_id as client_accounting_company_id
,bc.accounting_company_id
,bc.accumulator_framework_id
,bc.linked_accumulator_set_id as linked_accumulator_id
,la.linked_accumulator_ud
,bc.claim_run_in_from
,bc.claim_run_out_thru
,bc.timely_filing_rule
,bc.timely_number_of_units
,bc.timely_unit_day_week_month_year_id
,bc.timely_result_code_id
,rc.result_code_ud AS 'timely_result_code_ud'
,rc.short_message AS 'timely_result_code_description'
,bc.timely_result_code_status_id
,bc.active
,bc.created_user_name
,bc.created_group_id
,bc.created_date
,bc.modified_date
,bc.benefit_contract_template
,cg.client_id
,cn.client_ud
,bc.benefit_contract_id as benefit_contract_template_id
,bc.valid_eligibility_days_rule_id
,bc.valid_eligibility_days
,bc.valid_eligibility_days_exclude
,bc.conditional_issue_rule_id
,cir.golden_key AS 'conditional_issue_rule_golden_key'
,cir.conditional_issue_rule_ud
,vedr.golden_key AS 'valid_eligibility_days_rule_golden_key'
,vedr.valid_eligibility_days_rule_ud
,bc.benefit_contract_value_id
--End --Abhishek ICU #18153
,bc.[premium_policy_type_id]
,ppt.golden_key AS premium_policy_type_gk
,bc.insurer_tin_id
,insurer_tin_ref.tax_identification_number as insurer_tin_tax_id_number
,bc.employer_group_tin_id
,empl_group_tin_ref.tax_identification_number as employer_group_tin_tax_id_number
,is_payment_this_contract_only

FROM benefit_contract bc
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN client c ON c.client_id = cg.client_id
LEFT JOIN client_name cn ON cn.client_id = c.client_id and cn.primary_name = 1
LEFT JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id AND cgn.primary_name = 1)
--LEFT JOIN product_line pl ON pl.product_line_id = bc.product_line_id
LEFT JOIN premium_setup ps ON bc.premium_setup_id = ps.premium_setup_id
LEFT JOIN linked_accumulator la ON bc.linked_accumulator_set_id = la.linked_accumulator_id
LEFT JOIN billing_type bt ON ps.billing_type_id = bt.billing_type_id
LEFT JOIN product p ON p.product_id = bc.product_id
LEFT JOIN result_code rc ON rc.result_code_id = bc.timely_result_code_id
LEFT JOIN conditional_issue_rule cir ON cir.conditional_issue_rule_id=bc.conditional_issue_rule_id
LEFT JOIN valid_eligibility_days_rule vedr ON vedr.valid_eligibility_days_rule_id=bc.valid_eligibility_days_rule_id
LEFT JOIN line_of_business lob ON lob.line_of_business_id = bc.line_of_business_id
LEFT JOIN grace_period_status gps ON bc.grace_period_status_id = gps.grace_period_status_id
LEFT JOIN [premium_policy_type] ppt ON bc.[premium_policy_type_id] = ppt.[premium_policy_type_id]
LEFT JOIN tin_reference insurer_tin_ref on bc.insurer_tin_id = insurer_tin_ref.tin_reference_id
LEFT JOIN tin_reference empl_group_tin_ref on bc.employer_group_tin_id = empl_group_tin_ref.tin_reference_id

WHERE bc.benefit_contract_id = @benefit_contract_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
