USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_member_eligibility_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do

--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/03/2006	tinh do			1.0			Create
04/29/2009	Vishwa Jella	2.0			Updated to use system seed value
06/26/2009	Vishwa Jella	3.0			Updated Auto create member ID rule selection rules
09/18/2012  eponomareff		4.0			Updated to handle new rule: ClientUD_GroupUD_Counter
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Generate the Internal ID

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_auto_create_member_eligibility_id_rule]
(
@golden_key                                NVARCHAR(50) = NULL
,@benefit_contract_period_benefit_plan_id 	INT = NULL
,@employee_pid	 							NVARCHAR(50) = NULL
,@family_eligibility_ud						NVARCHAR(100) = NULL
,@eligibility_seed_value					NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF ISNULL(@golden_key, '') = ''
BEGIN

-- First Check Benefit Contract Advanced Plan Setup auto create meber rule ID then  Global Rule auto create meber rule ID
-- BC Period Plan Setup auto create member rule ID		Global Rule auto create member rule ID	Final Value
--		NULL											NULL									NULL
--		None											Family ID + Counter						NULL
--		Family ID + Seed + Counter						Family ID + Counter						Family ID + Seed + Counter
--		None											None									NULL
--		Family ID + Counter								None									Family ID + Counter
--		NULL											Family ID + Seed + Counter				Family ID + Seed + Counter

-- get the global rule for Auto Create Eligibility Id Rule
DECLARE	@global_rule_auto_create_member_rule_id INT
SELECT @global_rule_auto_create_member_rule_id = MAX(auto_create_member_id_rule_id) FROM global_rule

SELECT @golden_key = COALESCE(acmir_bcpbp.golden_key, acmir_global.golden_key)
FROM
benefit_contract_period_benefit_plan bcpbp
LEFT JOIN auto_create_member_id_rule acmir_bcpbp ON acmir_bcpbp.auto_create_member_id_rule_id = bcpbp.auto_create_member_id_rule_id
LEFT JOIN auto_create_member_id_rule acmir_global ON acmir_global.auto_create_member_id_rule_id = ISNULL(@global_rule_auto_create_member_rule_id,0)
WHERE bcpbp.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)
--
IF ISNULL(@golden_key,'') = 'None'
SET @golden_key = NULL
END

-- Set the prefix for the auto generated id.
DECLARE
@prefix                       NVARCHAR(150)
,@member_eligibility_ud        NVARCHAR(160)

SET @member_eligibility_ud = ''

IF (@golden_key='Employee''s PID + Counter')
BEGIN
SET @prefix = ISNULL(@employee_pid, '')
END
ELSE IF (@golden_key='Employee''s PID + Seed Value + Counter')
BEGIN
-- Get Global Rule  System Seed Value
If (ISNULL(@eligibility_seed_value, '')  = '')
BEGIN
SELECT @eligibility_seed_value = benefit_contract_period_benefit_plan.eligibility_seed_value
FROM   benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
END

If (ISNULL(@eligibility_seed_value, '')  = '')
BEGIN
SELECT   @eligibility_seed_value = global_rule.system_seed_value
FROM   global_rule
WHERE ISNULL(global_rule.global_rule_id,0) = 1
END

SET @prefix = ISNULL(@employee_pid, '') + ISNULL(@eligibility_seed_value,'')
END
ELSE IF (@golden_key='Family ID + Counter')
BEGIN
SET @prefix = ISNULL(@family_eligibility_ud, '')
END
ELSE IF (@golden_key='Family ID + Seed + Counter')
BEGIN
-- Get Global Rule  System Seed Value
If ISNULL(@eligibility_seed_value, '')  = ''
BEGIN
SELECT @eligibility_seed_value = benefit_contract_period_benefit_plan.eligibility_seed_value
FROM   benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
END

If ISNULL(@eligibility_seed_value, '')  = ''
BEGIN
SELECT   @eligibility_seed_value = global_rule.system_seed_value
FROM   global_rule
WHERE ISNULL(global_rule.global_rule_id,0) = 1
END

SET @prefix = ISNULL(@family_eligibility_ud, '') + ISNULL(@eligibility_seed_value, '')
END
ELSE IF (@golden_key='Internal ID')
BEGIN
SELECT dbo.plx_fn_IntToString(IDENT_CURRENT('family_eligibility_member_benefit_plan') + 1, 8) AS member_eligibility_ud
RETURN @SP_SUCCESS
END
ELSE IF (@golden_key='Client ID + Group ID + Counter')
BEGIN
-- get client_ud, group_ud
DECLARE @client_ud NVARCHAR(50), @group_ud NVARCHAR(50)
SELECT @client_ud = cn.client_ud , @group_ud = cgn.client_group_ud
FROM client_name cn
INNER JOIN client_group cg ON cn.client_id = cg.client_id
INNER JOIN client_group_name cgn ON cg.client_group_id = cgn.client_group_id
INNER JOIN benefit_contract bc ON cg.client_group_id = bc.client_group_id
INNER JOIN benefit_contract_period bcp ON bc.benefit_contract_id = bcp.benefit_contract_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)
AND cn.primary_name = 1
AND cgn.primary_name = 1

SET @prefix = ISNULL(@client_ud, '') + '_' +  ISNULL(@group_ud, '') + '_'
END
ELSE
BEGIN
SELECT @member_eligibility_ud AS member_eligibility_ud
RETURN @SP_SUCCESS
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_length				INT
,@counter						INT
,@counter_text					NVARCHAR(50)

-- counter is different (bigger) for prefixes that are more global than enrollment or pid
IF (@golden_key='Client ID + Group ID + Counter')
BEGIN
SET @counter_length = 12
END
ELSE
BEGIN
SET @counter_length = 2
END

SET @auto_create_counter_type_ud = 'Member Eligibility ' + @prefix
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @member_eligibility_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM family_eligibility_member_benefit_plan
WHERE member_eligibility_ud = @member_eligibility_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @member_eligibility_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @member_eligibility_ud AS member_eligibility_ud
RETURN @SP_SUCCESS

END
GO
