USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_underwriting_tier_criteria_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Dropdown list for ID field of the grdUnderwritingCriteria on the Underwriting Rule form.
Other columns are needed to populate read-only columns on the grid, but
do not show up in the dropdown (hidden by the UnderwritingRuleController).
******************************/
CREATE PROCEDURE [dbo].[plx_dd_underwriting_tier_criteria_list_load]
(
@tier_id int
)

AS

DECLARE	@SP_SUCCESS int
SELECT	@SP_SUCCESS = 0

SELECT
-- read-only columns specific to Age Gender Relationship tier (display only)
tcagr.minimum_age
,tcagr.maximum_age
,tcagr.unit_month_year_id
,umy.unit_month_year_ud
,tcagr.gender_id
,g.gender_ud
,tcagr.premium_rate_relationship_type_id
,prrt.premium_rate_relationship_type_ud
-- Important: the ud column to be displayed must be the last ud in the result set
,tc.tier_criteria_id
,tc.tier_criteria_ud

FROM
tier_criteria tc
INNER JOIN tier_criteria_age_gender_relationship tcagr ON tc.tier_criteria_id = tcagr.tier_criteria_id
INNER JOIN dbo.unit_month_year umy ON tcagr.unit_month_year_id = umy.unit_month_year_id
INNER JOIN dbo.gender g ON tcagr.gender_id = g.gender_id
INNER JOIN dbo.premium_rate_relationship_type prrt
ON tcagr.premium_rate_relationship_type_id = prrt.premium_rate_relationship_type_id
WHERE
tier_id = @tier_id
ORDER BY tier_criteria_ud
--
RETURN @SP_SUCCESS
--
GO
