USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_alias_type_is_company_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Dec  2 2005  1:44PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/02/2005	Anh Ta 		1.0		Created and using by 15898 Aliases
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_alias_type from the alias_type table.
When user open Alias Form form Client and Group form then Alias Type is only compnay
--
REQUIREMENTS:
--
INPUTS:
alias_type_id - Key to alias_type table, identifies a single stored dd_alias_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_alias_type_is_company_load]
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
at.alias_type_id
,at.alias_type_ud
,at.golden_key
FROM alias_type at
WHERE at.golden_key = 'COMPANY'
ORDER BY at.alias_type_ud
--
RETURN @SP_SUCCESS
--
END
--
GO
