USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_information_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan  5 2006  1:11PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/10	Anh Ta		1.0		Used for ICU#15894 Payment Contract
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a record in code_depreciation_information table.
--
REQUIREMENTS:
--
INPUTS:
@code_depreciation_information_id.
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_information_delete]
(
@code_depreciation_information_id           int = NULL   OUTPUT
)
AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159840039',
@ERROR_CANT_DELETE = '159840040'
--
IF NOT EXISTS (SELECT * FROM code_depreciation_information WHERE code_depreciation_information_id = @code_depreciation_information_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM code_depreciation_information
WHERE code_depreciation_information_id = @code_depreciation_information_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
GO
