USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_transaction_identifier_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/25/2008	Vishwa Jella		1.0		Created for TransactionID auto generation for 18152.c Accounting Transaction UI Functionality
11/05/2008	Vishwa Jella		2.0		Updated auto ID rule by passing table name
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_auto_create_accounting_transaction_identifier_id_rule]
(
@golden_key	NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE
@accounting_transaction_identifier_rule_golden_key NVARCHAR(50)
,@source_abbreviation			NVARCHAR(50)

SELECT TOP 1 @accounting_transaction_identifier_rule_golden_key  = accounting_transaction_identifier_rule.golden_key
FROM global_rule
LEFT JOIN accounting_transaction_identifier_rule ON global_rule.accounting_transaction_identifier_rule_id = accounting_transaction_identifier_rule.accounting_transaction_identifier_rule_id

SELECT TOP 1 @source_abbreviation  = accounting_source.abbreviation
FROM accounting_source WHERE accounting_source.golden_key = @golden_key

-- Set the prefix for the auto generated id.
DECLARE
@prefix						NVARCHAR(100)
,@accounting_transaction_ap_ud	NVARCHAR(200)

SET @accounting_transaction_ap_ud = ''

IF (@accounting_transaction_identifier_rule_golden_key = 'SOURCE_YEAR_MONTH_DAY_COUNTER')
BEGIN
SET @prefix = ISNULL(@source_abbreviation, '') + CONVERT(NVARCHAR(8), GETDATE(), 112)
END
ELSE
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(100)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@accounting_transaction_ap_type_id_bill INT
,@accounting_transaction_ap_type_id_credit INT

SET @auto_create_counter_type_ud = 'Accounts Payable ' + @prefix
SET @counter_pad_length = 5

SELECT @accounting_transaction_ap_type_id_bill = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'BILL'

SELECT @accounting_transaction_ap_type_id_credit = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'CREDIT'

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @accounting_transaction_ap_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS
(
SELECT * FROM accounting_transaction_ap
WHERE accounting_transaction_ap_ud = @accounting_transaction_ap_ud
AND accounting_transaction_ap_type_id IN
(@accounting_transaction_ap_type_id_bill, @accounting_transaction_ap_type_id_credit)
)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @accounting_transaction_ap_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @accounting_transaction_ap_ud AS accounting_transaction_ud
RETURN @SP_SUCCESS

END
GO
