USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_process_unbalanced_claims]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[bind_process_unbalanced_claims]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @claim_status NVARCHAR(50) = 'Hold';
    DECLARE @result_code_ud NVARCHAR(50) = 'BDUNBALANCE';
    DECLARE @claim_ud NVARCHAR(50);
    DECLARE @processed_count INT = 0;

    -- Guard against leftover temp tables from a previous failed run
    DROP TABLE IF EXISTS #unbalanced_claims;
    DROP TABLE IF EXISTS #claims_with_positive_charges;

    BEGIN TRY
        -- Temp table 1: distinct unbalanced claims from the view
        CREATE TABLE #unbalanced_claims (claim_ud NVARCHAR(50));

        INSERT INTO #unbalanced_claims (claim_ud)
        SELECT DISTINCT claim_ud
        FROM bind_vw_unbalanced_claims
        WHERE charge >= 0;

        PRINT 'Unbalanced claims found: ' + CAST(@@ROWCOUNT AS NVARCHAR(10));

        -- Temp table 2: of those, find claims where sum(charge) across claim_procedure is > 0
        CREATE TABLE #claims_with_positive_charges (claim_ud NVARCHAR(50));

        INSERT INTO #claims_with_positive_charges (claim_ud)
        SELECT c.claim_ud
        FROM claim c
        JOIN claim_procedure cp ON cp.claim_id = c.claim_id
        WHERE c.claim_ud IN (SELECT claim_ud FROM #unbalanced_claims)
        GROUP BY c.claim_ud
        HAVING SUM(cp.charge) > 0;

        PRINT 'Claims with positive charges: ' + CAST(@@ROWCOUNT AS NVARCHAR(10));

        -- Cursor over claims with positive charges
        DECLARE unbalancedClaimsCursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT claim_ud
        FROM #claims_with_positive_charges;

        OPEN unbalancedClaimsCursor;

        FETCH NEXT FROM unbalancedClaimsCursor INTO @claim_ud;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            PRINT 'Processing claim_ud: ' + @claim_ud;
            EXEC bind_update_claim_insert_result_code
                @claim_status = @claim_status,
                @result_code_ud = @result_code_ud,
                @claim_ud = @claim_ud;

            SET @processed_count += 1;

            FETCH NEXT FROM unbalancedClaimsCursor INTO @claim_ud;
        END;

        PRINT 'Total claims processed: ' + CAST(@processed_count AS NVARCHAR(10));

        CLOSE unbalancedClaimsCursor;
        DEALLOCATE unbalancedClaimsCursor;

        DROP TABLE IF EXISTS #unbalanced_claims;
        DROP TABLE IF EXISTS #claims_with_positive_charges;
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'unbalancedClaimsCursor') >= 0
        BEGIN
            CLOSE unbalancedClaimsCursor;
            DEALLOCATE unbalancedClaimsCursor;
        END;

        DROP TABLE IF EXISTS #unbalanced_claims;
        DROP TABLE IF EXISTS #claims_with_positive_charges;

        THROW;
    END CATCH;
END;

GO
