USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_loan_applicant_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:	UI Loan Information form, Applicant dropdown.
This dropdown excludes Members without Eligibilities,
and excludes Members who are Guarantors.
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_dd_loan_applicant_list_load]
(
@family_eligibility_id  INT = NULL,
@benefit_plan_id        INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
SELECT
fem.family_eligibility_member_id
,dbo.plx_ConcatenateName(mn.name_last,mn.name_first,mn.name_middle,NULL) as member_name
FROM family_eligibility_member_benefit_plan fembp
JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN member m
ON fem.member_id = m.member_id
AND fem.family_eligibility_id =@family_eligibility_id
JOIN member_name mn
ON m.member_id = mn.member_id AND mn.is_primary = 1
-- relationship, to exclude a Gurantor
JOIN relationship_to_insured rti
ON rti.relationship_to_insured_id = fem.relationship_to_insured_id
WHERE
fem.family_eligibility_id = @family_eligibility_id
AND
fembp.benefit_plan_id = @benefit_plan_id
AND
rti.golden_key <> 'Guarantor'
ORDER BY member_name;
--
RETURN 0
--
END
GO
