USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_patient_gender_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Sep  30 2005  9:41AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down gender (Gender)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_patient_gender_load]



AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
gender.gender_id as patient_gender_id
,gender.gender_ud as patient_gender_ud

FROM gender
ORDER By  gender.gender_ud
--
RETURN @SP_SUCCESS
--
GO
