USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_company_account_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Dropdown for all accounts for an accounting company
******************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_company_account_list_load]
(
@accounting_company_id int = NULL
)
AS

SELECT	accounting_company_account_id,
accounting_company_account_ud	--,
--ac.account_category_ud,
--ac.golden_key AS account_category_gk
FROM accounting_company_account aca
INNER JOIN account_category ac ON ac.account_category_id = aca.account_category_id
INNER JOIN account_status astat ON aca.account_status_id = astat.account_status_id
WHERE
aca.accounting_company_id = @accounting_company_id
AND
astat.golden_key = 'ACTIVE'
ORDER BY account_category_ud, accounting_company_account_ud;
--
RETURN 0;
--
GO
