USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_underwriting_reviewer_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_underwriting_reviewer_load]

AS
--
DECLARE
@SP_SUCCESS int;
SELECT
@SP_SUCCESS = 0;

SELECT
ur.underwriting_reviewer_id
,ur.underwriting_reviewer_ud
,ur.underwriting_reviewer_nm
FROM underwriting_reviewer ur
ORDER BY underwriting_reviewer_ud
--
RETURN @SP_SUCCESS
GO
