USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_default_disbursement_claim_payment_queue_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_get_default_disbursement_claim_payment_queue_id]
AS
SELECT TOP 1 disbursement_claim_payment_queue_id
FROM disbursement_claim_payment_queue q
JOIN disbursement_claim_payment_queue_type t
on q.disbursement_claim_payment_queue_type_id = t.disbursement_claim_payment_queue_type_id
WHERE t.golden_key = 'GLOBAL'
RETURN 0
GO
