USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hung Nguyen
Date: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for eligibility restriction form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_load]
(
@eligibility_restriction_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
eligibility_restriction.eligibility_restriction_id
,eligibility_restriction.eligibility_restriction_ud
,eligibility_restriction.eligibility_restriction_nm

,eligibility_restriction.subscriber_min_hours_for_eligibility
,eligibility_restriction.min_hours_unit_day_week_month_year_id

,eligibility_restriction.result_code_id
,result_code.result_code_ud
,result_code.short_message
,eligibility_restriction.result_code_status_id
,result_code_status.result_code_status_ud

,eligibility_restriction.active
,eligibility_restriction.created_user_name
,eligibility_restriction.created_group_id
,eligibility_restriction.created_date
,eligibility_restriction.modified_date
FROM eligibility_restriction
LEFT JOIN result_code  ON result_code.result_code_id = eligibility_restriction.result_code_id
LEFT JOIN result_code_status  ON result_code_status.result_code_status_id = eligibility_restriction.result_code_status_id

WHERE eligibility_restriction.eligibility_restriction_id = @eligibility_restriction_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
