USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_summary_services_institutional_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
-------------------------------------------------------------------------------
08/25/2009	ioveracker		1.0			Created.
--
DESCRIPTION:
This procedure populates the institutional Services grid on the Claim Summary form.
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_summary_services_institutional_load]
(
@claim_id INT = NULL
) AS

DECLARE @SP_SUCCESS INT
SET @SP_SUCCESS = 0

DECLARE @drg BIT
IF EXISTS
(
SELECT claim_procedure.claim_procedure_id
FROM claim_procedure
WHERE
claim_procedure.claim_id = @claim_id
AND claim_procedure.[is_system_generated] = 1
)
SET @drg = 1
ELSE
SET @drg = 0

SELECT
cp.claim_procedure_id

,cp.service_from_date
,cp.service_thru_date

,cp.procedure_code_id
,cp.procedure_code_ud

,cp.procedure_code_2_id
,cp.procedure_code_2_ud

,cp.modifiers

,cp.charge

,dbo.plx_fn_get_cob_amount_for_claim_procedure(cp.claim_procedure_id) AS cob_amount

,net_tbl.net_pay

,cp.adjudication_status_id
,adj_s.adjudication_status_ud

,cp.claim_payment_process_status_id
,cpps.claim_payment_process_status_ud

,dbo.claim_procedure_result_code_combination(cp.claim_procedure_id) as result_code

FROM claim_procedure cp
LEFT JOIN adjudication_status adj_s ON adj_s.adjudication_status_id = cp.adjudication_status_id
LEFT JOIN
(
SELECT ara.claim_procedure_id, SUM(net_payment) AS net_pay
FROM adjudication_result_amount ara
WHERE ara.net_payment IS NOT NULL
GROUP BY claim_procedure_id
) net_tbl ON net_tbl.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN claim_payment_process_status cpps ON cpps.claim_payment_process_status_id = cp.claim_payment_process_status_id
WHERE cp.claim_id = @claim_id AND cp.[is_system_generated] = @drg
ORDER BY
cp.claim_line_sequence, CASE WHEN cp.service_from_date IS NULL THEN 0 ELSE 1 END, cp.service_from_date DESC

RETURN @SP_SUCCESS
GO
