USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/02/2005				1.0		Created
09/14/2005	Hiep Nguyen		1.1		Order result_code_status_id
12/06/2005	Anh Ta			1.1		Use in Result code form
12/06/2005	Anh Ta			1.2		ORDER BY RANKING
08/21/2007       meena                                                         modified to solve the error 22116
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_result_code_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
result_code_status.result_code_status_id
,result_code_status.result_code_status_ud
, adjudication_status_type.golden_key
FROM result_code_status
INNER JOIN adjudication_status_type
ON result_code_status.adjudication_status_type_id = adjudication_status_type.adjudication_status_type_id
ORDER BY result_code_status_ud ASC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
