USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_choice_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/30/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/30/2006	mttran		1.0			create
09/09/2005	mttran					replace params (@accumulator_framework_id, @accumulator_class_id)
by @accumulator_framework_accumulator_class_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete node accumulator class and its accumulator choice list in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_choice_list_delete]
(
@accumulator_framework_accumulator_class_id		int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@FINAL_RESULT int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@FINAL_RESULT = 0
--
IF NOT EXISTS (	SELECT	accumulator_framework_accumulator_class_id
FROM	accumulator_framework_accumulator_class
WHERE 	accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id )
BEGIN
SET @FINAL_RESULT = @SP_EXCEPTION
END
--
ELSE
BEGIN
--delete accumulator_choice_list
---declare variables for cursor
DECLARE accumulator_choice_list_cursor CURSOR FOR
SELECT	accumulator_choice_list_id
FROM 	accumulator_choice_list
WHERE 	accumulator_framework_accumulator_class_id =
@accumulator_framework_accumulator_class_id

DECLARE @accumulator_choice_list_id int,
@check_result int

--open cursor
OPEN accumulator_choice_list_cursor
--traverse cursor
FETCH NEXT FROM accumulator_choice_list_cursor
INTO @accumulator_choice_list_id
while @@fetch_status = 0
begin
EXEC @check_result =
dbo.plx_accumulator_choice_list_delete @accumulator_choice_list_id

IF ( @check_result = @SP_EXCEPTION)
BEGIN
set @FINAL_RESULT = @SP_EXCEPTION
break
END
FETCH NEXT FROM accumulator_choice_list_cursor
INTO @accumulator_choice_list_id
end
--end cursor
CLOSE accumulator_choice_list_cursor
DEALLOCATE accumulator_choice_list_cursor

--delete accumulator_framework_accumulator_class
DELETE FROM accumulator_framework_accumulator_class
WHERE 	accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id

END
--
--catch error if it happen
DECLARE @SWV_error int
SELECT  @SWV_error = @@ERROR
IF(@SWV_error <> 0) SET @FINAL_RESULT = @SP_EXCEPTION
--
RETURN @FINAL_RESULT
GO
