USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_choice_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Aug 31 2005 10:15AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of a benefit class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_class_choice_list_load]
(
@benefit_class_id		Int=null
,@benefit_framework_id int  = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_framework_choice_list.benefit_framework_choice_list_id
,benefit_framework_choice_list.benefit_framework_choice_list_ud
FROM 		benefit_framework_choice_list
left join benefit_framework_benefit_class  ON benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit_framework_choice_list.benefit_framework_benefit_class_id
left join benefit_class  ON benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
WHERE 	benefit_class.benefit_class_id=@benefit_class_id
And  benefit_framework_benefit_class.benefit_framework_id = @benefit_framework_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
