USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_customer_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
7/9/2009   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
7/9/2009	CCESSNUN		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the carrier_customer table.
This stored procedure is used in customer  Assignments grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:
@carrier_customer_id - Key to carrier_customer table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_carrier_customer_delete]
(
@carrier_customer_id                 int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM carrier_customer WHERE carrier_customer_id = @carrier_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DELETE FROM carrier_customer
WHERE carrier_customer_id = @carrier_customer_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
