USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[get_paid_specific_payment]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================================================
-- Retrieve specific payment record
-- Added clause to only return payments that have been assigned a check number.
--  	AND detail.check_ach_reference IS NOT NULL 
-- Added clause to only return payments that have not been voided
--      AND atp.void_date is not null
-- Added clause to only return payments where the check has successfully printed.  This enables the check # to show in the Claim line Accounting Information form in the UI.
--      AND detail.accounting_check_print_run_id IS NOT NULL
-- =========================================================================================
CREATE PROCEDURE [dbo].[get_paid_specific_payment] 
	@QC_payment				nvarchar(60) = NULL
AS
BEGIN
 		SELECT atp.[accounting_transaction_ap_id]
			  ,atp.[accounting_transaction_ap_ud]
		FROM [accounting_transaction_ap] atp
		INNER JOIN accounting_transaction_ap_type att
			ON atp.accounting_transaction_ap_type_id = att.accounting_transaction_ap_type_id
		INNER JOIN accounting_transaction_ap_payment_detail detail
			ON atp.accounting_transaction_ap_id = detail.accounting_transaction_ap_id
		left JOIN disbursement_claim_payment_queue que
			ON detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
		WHERE 	att.golden_key = 'Payment'
		AND detail.check_ach_reference IS NOT NULL
		AND detail.accounting_check_print_run_id IS NOT NULL
		AND atp.void_date is null  --payment has not been voided 
		AND atp.accounting_transaction_ap_ud = @QC_payment
		order by detail.check_ach_reference asc
END
GO
