USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_carrier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the carriers that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_find_carrier_load]
(
@get_column_headers			BIT = 0,
@carrier_ud 		NVARCHAR(50)=NULL,
@carrier_nm		NVARCHAR(100) = NULL,
@show_exact_matches	BIT = 0
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF (@carrier_ud IS NOT NULL) AND (@carrier_ud <> '')
SET @SqlCondition = @SqlCondition + ' AND ISNULL(carrier_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@carrier_ud, @show_exact_matches) + @Suffix
IF @carrier_nm IS NOT NULL AND @carrier_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(carrier_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@carrier_nm, @show_exact_matches) + @Suffix

SET @SqlQuery = ' SELECT  carrier_id
, carrier_ud
, carrier_nm
FROM 	carrier
'

print @SqlQuery + @SqlCondition
EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
--
END
GO
