USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_treatment_type_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: maitran
Date: 08/30/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/30/2005    maitran    1.0         created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load row on grid  Apply for These Treatment Types of benefit framework
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_treatment_type_set_load]
(
@benefit_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_treatment_type_set.benefit_treatment_type_set_id
,benefit_treatment_type_set.treatment_type_set_id

,treatment_type_set.treatment_type_set_ud
,benefit_treatment_type_set.treatment_type_category_id

,treatment_type_category.treatment_type_category_ud
,benefit_treatment_type_set.treatment_type_id

,treatment_type.treatment_type_ud
,benefit_treatment_type_set.effective_from
,benefit_treatment_type_set.effective_thru
,benefit_treatment_type_set.modified_date
FROM benefit_treatment_type_set
left join benefit  ON benefit.benefit_id = benefit_treatment_type_set.benefit_id
left join treatment_type_set  ON treatment_type_set.treatment_type_set_id = benefit_treatment_type_set.treatment_type_set_id
left join treatment_type_category  ON treatment_type_category.treatment_type_category_id = benefit_treatment_type_set.treatment_type_category_id
left join treatment_type  ON treatment_type.treatment_type_id = benefit_treatment_type_set.treatment_type_id
WHERE benefit_treatment_type_set.benefit_id = @benefit_id
ORDER BY
CASE WHEN benefit_treatment_type_set.effective_from IS NULL THEN 0 ELSE 1 END , benefit_treatment_type_set.effective_from DESC
,CASE WHEN benefit_treatment_type_set.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_treatment_type_set.effective_thru DESC



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
