USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_capitation_run_frequency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 07/31/2009

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of frequencies allowed for capitation runs
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_capitation_run_frequency_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
frequency_id as capitation_run_frequency_id
,frequency_ud as capitation_run_frequency_ud
,golden_key
FROM frequency
WHERE golden_key in
(
'MONTHLY'
)
ORDER BY sort_order DESC
--
RETURN @SP_SUCCESS
--
GO
