USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_occurrence_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen

REVISION_HISTORY:
--
Date        Modified By		Version	Description
--------------------------------------------------------------------------------
04/27/2006  HiepNGuyen		1.0     Created
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the occurrence codes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_find_occurrence_code_load]
(
@get_column_headers			BIT = 0,
@occurrence_code_ud	nvarchar(50)=NULL,
@description        nvarchar(255)=NULL,
@show_exact_matches BIT	= 0
)
AS
BEGIN
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
IF @show_exact_matches = 1
BEGIN
SET @Prefix = ' = N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF @occurrence_code_ud IS NOT NULL AND @occurrence_code_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(occurrence_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@occurrence_code_ud,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
' SELECT occurrence_code_id ' +
'     	,occurrence_code_ud ' +
'    	,description ' +
' FROM 	occurrence_code '

EXEC(@SqlQuery + @SqlCondition )

END
GO
