USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	Nghi Nguyen	1.0			create
2008/05/16	lrenard				accounting company schema and form changes
09/09/2014	Steven Chong			Update to return Delivery Route
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get accounting company info.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_company_load]
(
@accounting_company_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@number_of_segments int,
@first_length int,
@second_length int,
@third_length int,
@fourth_length int,
@fifth_length int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

select @number_of_segments = count(*) from accounting_company_segment where accounting_company_id = @accounting_company_id
if @number_of_segments <=0 set @number_of_segments = NULL

select @first_length = segment_length from accounting_company_segment where accounting_company_id = @accounting_company_id and segment_number = 1
select @second_length = segment_length from accounting_company_segment where accounting_company_id = @accounting_company_id and segment_number = 2
select @third_length = segment_length from accounting_company_segment where accounting_company_id = @accounting_company_id and segment_number = 3
select @fourth_length = segment_length from accounting_company_segment where accounting_company_id = @accounting_company_id and segment_number = 4
select @fifth_length = segment_length from accounting_company_segment where accounting_company_id = @accounting_company_id and segment_number = 5

SELECT
accounting_company.accounting_company_id
,accounting_company.accounting_company_ud
,accounting_company.[description] As 'accounting_company_description'
,accounting_company.use_account_segment_rule
,accounting_company.hold_transactions_for_negative_claim_net

,accounting_company.address_id
,address.address_1
,address.address_2
,address.locale_id
,locale.postal_code
,address.delivery_route
,locale.city
,locale.county
,state.state_ud
,country.country_ud
,country.country_nm

,accounting_company.telephone_number
,accounting_company.fax_number
,accounting_company.email_address
,accounting_company.internet_address
,accounting_company.federal_ein
,accounting_company.state_ein

,@number_of_segments as number_of_segments
,@first_length as first_segment_length
,@second_length as second_segment_length
,@third_length as third_segment_length
,@fourth_length as fourth_segment_length
,@fifth_length as fifth_segment_length

,accounting_company.active
,accounting_company.created_user_name
,accounting_company.created_group_id
,accounting_company.created_date
,accounting_company.modified_date


FROM accounting_company
left join address  ON address.address_id = accounting_company.address_id
left join locale  ON locale.locale_id = address.locale_id
left join state  ON state.state_id = locale.state_id
left join country  ON country.country_id = locale.country_id
WHERE accounting_company.accounting_company_id = @accounting_company_id



IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
