USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_balance_as_of_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/8/2006	Tinh do			1.0		Created
09/06/2006	Hiep Nguyen		1.1		Add Description
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to load 'client' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_balance_as_of_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
balance_as_of_id
,balance_as_of_ud
,description
,golden_key

FROM balance_as_of

ORDER BY balance_as_of_ud
--
RETURN @SP_SUCCESS
--
END
GO
