USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_member_auto_generated_id_rule_in_use_client_acronym]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2009-10-30 	David Slayton	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check for a client acronym being in use in a member's auto generated id.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	False
1	True
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_create_member_auto_generated_id_rule_in_use_client_acronym]
(
@client_id INT
)
AS
--
DECLARE
@FALSE INT,
@TRUE INT
SELECT
@FALSE = 0,
@TRUE = 1

IF EXISTS (
SELECT * FROM client c
INNER JOIN client_group cg
ON c.client_id = @client_id
AND c.client_id = cg.client_id
INNER JOIN benefit_contract bc
ON cg.client_group_id = bc.client_group_id
INNER JOIN family_eligibility fe
ON bc.benefit_contract_id = fe.benefit_contract_id
INNER JOIN family_eligibility_member fem
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN member_personal_id mpid
ON fem.member_id = mpid.member_id
INNER JOIN member_id_type midt
ON midt.golden_key = 'AUTO_GENERATED_ID'
AND mpid.member_id_type_id = midt.member_id_type_id
WHERE mpid.id_value like c.client_acronym + '%')
BEGIN
RETURN @TRUE
END

--
RETURN @FALSE
GO
