USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_role_detail_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 09/19/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/20/2008	lrenard			1.0		Created
11/08/2008	eponomareff		1.1		Modified - security_role_detail table no longer exists, everything is in security_role
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load a list of all role names and the effective dates.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_security_role_detail_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0


SELECT
sr.security_role_id,
sr.security_role_name as [Role Name],
sr.effective_from as [Eff From],
sr.effective_thru as [Eff Thru]
FROM
security_role sr


RETURN @SP_SUCCESS
--
GO
