USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Adds Accounting Transactions to Transactions Included in Vendor Refund Request grid on Vendor Refund Request form.
Note that apply to amounts are absolute value, although displayed in grid as positive/negative
depending on whether they are bills/credits

NOTE: This stored procedure updates the transaction_amount on the Vendor Refund Request
(rather than the save on sthe Vendor Refund Request form).
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_save]
(
@accounting_transaction_ap_apply_to_id          INT = NULL OUTPUT
,@from_accounting_transaction_ap_id              INT = NULL -- vendor_refund_request_id
,@to_accounting_transaction_ap_id                INT = NULL -- ap transaction included in refund request
,@apply_to_amount                                NUMERIC(20,10) = NULL -- the amount to apply
,@transaction_date                               DATETIME = NULL
,@comment                                        NVARCHAR(300) = NULL
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
,@ERROR_CANT_INSERT   NVARCHAR(50)
,@ERROR_CANT_UPDATE   NVARCHAR(50)
,@ERROR_NOT_EXIST     NVARCHAR(50);
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION       = -1
,@ERROR_CANT_INSERT  ='G_INSERT_FAILS'
,@ERROR_CANT_UPDATE  ='G_UPDATE_FAILS'
,@ERROR_NOT_EXIST    ='G_DOES_NOT_EXIST';

DECLARE
@unapplied_amount               NUMERIC(20,10)
,@vendor_refund_request_amount   NUMERIC(20, 10)
,@multiplier                     INT
,@original_apply_to_amount       NUMERIC(20,10)

SELECT @multiplier =
CASE atart.golden_key
WHEN 'BILL' THEN -1           -- bills are negative on a refund
WHEN 'CREDIT' THEN 1          -- credits are positive on a refund
END
FROM accounting_transaction_ap_type atart
JOIN accounting_transaction_ap atar
ON atart.accounting_transaction_ap_type_id = atar.accounting_transaction_ap_type_id
WHERE atar.accounting_transaction_ap_id = @to_accounting_transaction_ap_id;

-- For Amount and Unapplied Amount on the apply_to table, absolute value amounts stored.
SET @apply_to_amount = ABS(ISNULL(@apply_to_amount, 0))
-- This function returns the absolute value Unapplied Amount of the AP Transaction, no conversion needed.
SET @unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_transaction(@to_accounting_transaction_ap_id, 1)

-- Get vendor_refund_request amount
SELECT @vendor_refund_request_amount = ISNULL(accounting_transaction_ap.transaction_amount, 0)
FROM accounting_transaction_ap
WHERE accounting_transaction_ap.accounting_transaction_ap_id = @from_accounting_transaction_ap_id

IF @accounting_transaction_ap_apply_to_id IS NULL  -- Insert new apply to record
BEGIN
IF dbo.fn_check_accounting_transaction_ap_is_locked(@to_accounting_transaction_ap_id) = 1
BEGIN
RETURN @SP_EXCEPTION	-- returning this value (-1) @SP_EXCEPTION  (we are checking inside our QC as -1 for failure)
END

-- Adjust applied amount according to what is allowed for the vendor_refund_request (must be >= 0)
IF (@vendor_refund_request_amount + (@multiplier * @unapplied_amount)) < 0
SET @apply_to_amount = @vendor_refund_request_amount
ELSE
SET @apply_to_amount = @unapplied_amount;

-- Create a new record
INSERT INTO accounting_transaction_ap_apply_to(
from_accounting_transaction_ap_id
,to_accounting_transaction_ap_id
,unapplied_amount
,amount
,[date]
,comment
)
VALUES
(@from_accounting_transaction_ap_id--vendor_refund_request ID
,@to_accounting_transaction_ap_id
,@unapplied_amount
,@apply_to_amount
,@transaction_date
,@comment
);

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @accounting_transaction_ap_apply_to_id = @@IDENTITY;

-- Update transaction_amount for vendor_refund_request
UPDATE accounting_transaction_ap
SET
transaction_amount = @vendor_refund_request_amount + (@multiplier * @apply_to_amount)
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ap_id = @from_accounting_transaction_ap_id;

END
ELSE
BEGIN
-- Get the original apply to amount before updating.
SELECT @original_apply_to_amount = ISNULL(applyTo.amount, 0)
FROM accounting_transaction_ap_apply_to applyTo
WHERE applyTo.accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id

-- Update existing record.
UPDATE accounting_transaction_ap_apply_to
SET
from_accounting_transaction_ap_id  = @from_accounting_transaction_ap_id
,to_accounting_transaction_ap_id    = @to_accounting_transaction_ap_id
,unapplied_amount                   = @unapplied_amount
,amount	                            = @apply_to_amount
,comment                            = @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id;

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

-- Update transaction_amount for vendor_refund_request
UPDATE accounting_transaction_ap
SET
transaction_amount = @vendor_refund_request_amount + (@multiplier * (@apply_to_amount - @original_apply_to_amount))
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ap_id = @from_accounting_transaction_ap_id;

END
--
RETURN @SP_SUCCESS
GO
