USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_claim_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimNumber on form frmClaimPaymentRun

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_payment_run_claim_load]
(
@claim_payment_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
DISTINCT c.claim_id
, c.claim_ud

FROM dbo.claim_payment_run_result_code cprrc
LEFT JOIN claim_procedure cp on cprrc.claim_procedure_id = cp.claim_procedure_id
INNER JOIN claim c ON cprrc.claim_id = c.claim_id OR cp.claim_id = c.claim_id

WHERE cprrc.claim_payment_run_id = @claim_payment_run_id

ORDER BY c.claim_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
