USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_credit_memo_ar_applied_debit_memo_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Apply Credit Memo amount to Debit Memos in grid on Customer Credit Memo form.

NOTE: This procedure follows the same logic as Customer Payment:
[dbo].[plx_accounting_transaction_ar_payment_detail_invoices_save]
, although the forms differ in that Credit Memo form
does not auto-load the Invoices or Debit Memos.

NOTE:	This stored procedure does not POST the Credit Memo.
The POST functionality is provided in stored procedure:

[dbo].[plx_accounting_ar_credit_memo_post]

which posts the applied amount (setting the is_posted bit on the apply_to record)
and thereby causing the Credit Memo status to be adjusted.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_credit_memo_ar_applied_debit_memo_save]
(
@accounting_transaction_ar_apply_to_id         INT = NULL OUTPUT
,@accounting_transaction_ar_id                  INT = NULL             -- Credit Memo internal id (maps to FROM)
,@debit_memo_id                                 INT = NULL             -- Debit Memo internal id (maps to TO)
,@amount                                        NUMERIC(20,10) = NULL
,@debit_memo_date                               DATETIME = NULL
,@comment                                       NVARCHAR(300) = NULL
,@is_posted                                     BIT = NULL
,@active                                        BIT = 1
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50);

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

-- Get the available status for the debit memo and the unapplied amount
DECLARE @unapplied_amount numeric(20,10) = 0.0;
DECLARE @isDebitMemoAvailable BIT = 0;
SELECT
@unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(@debit_memo_id, DEFAULT);
IF EXISTS (SELECT 1
FROM accounting_transaction_ar_debit_memo_detail det
JOIN accounting_debit_memo_status stat
on det.accounting_debit_memo_status_id = stat.accounting_debit_memo_status_id
WHERE det.accounting_transaction_ar_id = @debit_memo_id
AND stat.golden_key = 'AVAILABLE')
BEGIN
SET @isDebitMemoAvailable = 1;
END

-- Inserting or updating?
IF @accounting_transaction_ar_apply_to_id IS NULL
BEGIN  -- insert apply_to
IF ISNULL(@amount,0) > 0
BEGIN
-- Verify the debit memo is available to pay
IF @unapplied_amount > 0 AND @isDebitMemoAvailable = 1
BEGIN
--- Create a new ApplyTo record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id
,unapplied_amount
,amount
,[date]
,comment
,is_posted
,active
)
VALUES
(@accounting_transaction_ar_id  --Credit Memo ID
,@debit_memo_id
,@unapplied_amount
,@amount
,@debit_memo_date
,@comment
,@is_posted
,@active
)
IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
SET @accounting_transaction_ar_apply_to_id = @@IDENTITY

END
ELSE
RETURN @SP_EXCEPTION
END

END  -- end insert apply_to

ELSE
BEGIN  -- update apply_to
IF ISNULL(@amount, 0) > 0
BEGIN
-- Make sure the new amount does not exceed the available
DECLARE @difference decimal
SELECT @difference = (@unapplied_amount + amount - @amount)
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @difference >= 0
BEGIN
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id    = @accounting_transaction_ar_id
,to_accounting_transaction_ar_id      = @debit_memo_id
,unapplied_amount                     = @unapplied_amount
,amount	                              = @amount
,[date]                               = @debit_memo_date
,comment                              = @comment
,is_posted                            = @is_posted
,modified_user_name                   = ORIGINAL_LOGIN()
,modified_date                        = GETDATE()
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
ELSE
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
-- Amount is zero or null, so delete the apply_to record
DELETE accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END

END   -- end update apply_to

-- Determine which status to set on the debit memo based on the unapplied amount
DECLARE @debit_memo_status_id int
SELECT @unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(@debit_memo_id, DEFAULT)

IF(@unapplied_amount = 0.0)
-- Set Debit Memo status to PAID
SELECT @debit_memo_status_id = accounting_debit_memo_status_id
FROM accounting_debit_memo_status
WHERE golden_key = 'PAID';
ELSE
-- Set Debit Memo status to AVAILABLE
SELECT @debit_memo_status_id = accounting_debit_memo_status_id
FROM accounting_debit_memo_status
WHERE golden_key = 'AVAILABLE';

-- Update the Debit Memo status
UPDATE accounting_transaction_ar_debit_memo_detail
SET
accounting_debit_memo_status_id    = @debit_memo_status_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_id = @debit_memo_id

--
RETURN @SP_SUCCESS
--
GO
