USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_compensation_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 11/19/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/03/2013	eponomareff		1.0			Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for compensation_type (Compensation Type), to determine which types
are hourly and which are not
Used on Enrollment (Family Eligibility) form controller

NOTE: The procedure populating the dropdown is different -- plx_dd_compensation_type_load

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_compensation_type_list_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ct.compensation_type_id
,ct.compensation_type_ud
,ct.description
,ct.treat_as_hourly
,ct.golden_key

FROM compensation_type ct
ORDER BY  compensation_type_ud


RETURN @SP_SUCCESS
GO
