USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_source_of_admission_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down source_of_admission (Source of Admission (SRC))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/


CREATE   PROCEDURE [dbo].[plx_dd_source_of_admission_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT source_of_admission_id
,source_of_admission_ud
,Description
FROM source_of_admission
ORDER BY source_of_admission_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
