USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_customer_save]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Dec 19 2005  9:16AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Dec 19 2005	Nam Ho		1.0		Created
03/08/2006	Thuy Ha		1.1		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for grid grdPracticeOfficeCustomers on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_practice_office_customer_save]
(
@practice_office_customer_id                int = NULL   OUTPUT
,@practice_office_id                         int = NULL
,@customer_id                                int = NULL
,@criteria_id                                int = NULL
,@use_as_default                             bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
IF @practice_office_customer_id is Null
BEGIN
--- Create a new record
INSERT INTO practice_office_customer(
practice_office_id
,customer_id
,criteria_id
,use_as_default
,effective_from
,effective_thru
,active
)
VALUES
(@practice_office_id
,@customer_id
,@criteria_id
,@use_as_default
,@effective_from
,@effective_thru
,@active
)
--
SET @practice_office_customer_id = @@IDENTITY
END
--
ELSE
BEGIN
--- Updating an existing record
--
UPDATE practice_office_customer
SET
practice_office_id                       = @practice_office_id
,customer_id                              = @customer_id
,criteria_id                              = @criteria_id
,use_as_default                           = @use_as_default
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE practice_office_customer_id = @practice_office_customer_id

END
--
RETURN @SP_SUCCESS
--
GO
