USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_inpatient_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 01/23/2008
--
REVISION_HISTORY:
--
Date			Modified By				Version		Description
--------------------------------------------------------------------------------
01/23/2008	Vishwa Jella			1.0			Created
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Delete a single object from the fee_schedule table
This stored procedure is used in the Fee Schedule Inpatient form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_inpatient_delete]
(
@fee_schedule_id		int = NULL
) AS
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM fee_schedule WHERE fee_schedule_id = @fee_schedule_id )
BEGIN
RETURN @SP_SUCCESS
END
ELSE
BEGIN

--Check if this fee schedule is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_fee_schedule_check_delete @fee_schedule_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

--Delete child records

DELETE FROM	fee_schedule_inpatient_detail
WHERE fee_schedule_inpatient_detail.fee_schedule_id = @fee_schedule_id

--Delete fee schedule
DELETE FROM fee_schedule
WHERE fee_schedule_id = @fee_schedule_id

END
--
RETURN @SP_SUCCESS
--
GO
