USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_business_object_for_form_name_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005 8:49PM Initial generation
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
08/15/2009	Vishwa Jella		1.0			Updated to look for ui_engine_lookup_parameter table display form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load a note business object for the input form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_business_object_for_form_name_load]
@main_form_ui_engine_form_name varchar(255) = NULL
AS

BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT	note_business_object.note_business_object_id
FROM note_business_object
LEFT JOIN business_object ON business_object.business_object_id = note_business_object.business_object_id
LEFT JOIN ui_engine_lookup_parameter ON ui_engine_lookup_parameter.ui_engine_lookup_parameter_id = business_object.ui_engine_lookup_parameter_id
WHERE ui_engine_lookup_parameter.display_form = @main_form_ui_engine_form_name

RETURN @SP_SUCCESS
END
GO
