USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_claim_cob_adjustment_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[bind_sp_claim_cob_adjustment_backup]
as
begin
--exec dbo.bind_sp_claim_cob_adjustment_backup

with cte_update as (
SELECT [claim_cob_adjustment_id]
      ,[claim_cob_payer_id]
      ,[adjudication_object_id]
      ,[claim_adjustment_group_code_gk]
      ,[claim_adjustment_reason_code_nk]
      ,[amount]
      ,[active]
      ,[created_user_name]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
  FROM [qc_core].[dbo].[claim_cob_adjustment]
  where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
) --select * From cte_update

 merge into import.dbo.claim_cob_adjustment_CAQH_BK as T
    using cte_update as S
        on T.claim_cob_adjustment_id = S.claim_cob_adjustment_id
            when not matched then
                insert ([claim_cob_adjustment_id]
                      ,[claim_cob_payer_id]
                      ,[adjudication_object_id]
                      ,[claim_adjustment_group_code_gk]
                      ,[claim_adjustment_reason_code_nk]
                      ,[amount]
                      ,[active]
                      ,[created_user_name]
                      ,[created_date]
                      ,[modified_date]
                      ,[modified_user_name]
                      )
                values (
                       S.[claim_cob_adjustment_id]
                      ,S.[claim_cob_payer_id]
                      ,S.[adjudication_object_id]
                      ,S.[claim_adjustment_group_code_gk]
                      ,S.[claim_adjustment_reason_code_nk]
                      ,S.[amount]
                      ,S.[active]
                      ,S.[created_user_name]
                      ,S.[created_date]
                      ,S.[modified_date]
                      ,S.[modified_user_name]
                      )
        when matched then
            update set
                T.[claim_cob_adjustment_id] = S.[claim_cob_adjustment_id],
                T.[claim_cob_payer_id] = S.[claim_cob_payer_id],
                T.[adjudication_object_id] = S.[adjudication_object_id],
                T.[claim_adjustment_group_code_gk] = S.[claim_adjustment_group_code_gk],
                T.[claim_adjustment_reason_code_nk] = S.[claim_adjustment_reason_code_nk],
                T.[amount] = S.[amount],
                T.[active] = S.[active],
                T.[created_user_name] = S.[created_user_name],
                T.[created_date] = S.[created_date],
                T.[modified_date] = S.[modified_date],
                T.[modified_user_name] = S.[modified_user_name]
                ;
End
GO
