USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_history_msa_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: sfraser
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
06/07/2012 	sfraser	1.0			created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Insert a single record into the code_import_history_msa table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_import_history_msa_save]
(
@code_import_history_id			INT,
@client_group_id				INT,
@code_import_history_msa_id		INT = NULL	OUTPUT
)
AS
BEGIN
--
DECLARE	@SP_SUCCESS INT;
DECLARE	@ERROR_CANT_INSERT 	NVARCHAR(50);
DECLARE	@ERROR_NOT_EXIST	NVARCHAR(50);
DECLARE	@ERROR_CANT_UPDATE 	NVARCHAR(50);

SET @SP_SUCCESS = 0;
SET @ERROR_CANT_INSERT 	= '';
SET @ERROR_NOT_EXIST	= '';
SET @ERROR_CANT_UPDATE 	= '';
--
--- Create a new record
INSERT INTO code_import_history_msa
(code_import_history_id, client_group_id)
VALUES
(@code_import_history_id, @client_group_id);
--
IF (@@ERROR <> 0)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT);
END
SET @code_import_history_msa_id = @@IDENTITY;
--
RETURN @SP_SUCCESS;
--
END
GO
