USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_professional_medical_detail_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 13/1/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
13/1/2006   TrangHuynh    1.0        Created
09/07/2013	eponomareff	  1.1		added procedure_code_icd_version_id to grids
10/20/2015  LHendrix      1.2       Include start px type and category with expectation that subsequent calls to two SPs can be eliminated
05/06/2021  AMortensen    2.0       RT:16850 - Add paging functionality


CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to load data for grid "Fee Schedule Information" in  form "FeeScheduleProfessionalMedical"

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_professional_medical_detail_list_load] (
@fee_schedule_id   INT,
@code              NVARCHAR(50) = NULL,
@modifier          NVARCHAR(50) = NULL,
@show_only_current BIT = 1,
@page_number       INT = 1,
@page_size         INT = 50,
@sort_by           NVARCHAR(255) = NULL,
@sort_ascending    BIT = 1
)
AS
--
--
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS INT;
SELECT @SP_SUCCESS = 0;

DECLARE @current_date DATE = CAST(GETDATE() AS DATE);

DECLARE @total_count INT;

DECLARE @temp_results TABLE (fee_schedule_professional_medical_id INT);

INSERT INTO @temp_results
SELECT
detail.fee_schedule_professional_medical_id

FROM
fee_schedule_professional_medical_detail detail
LEFT JOIN procedure_code starting_code ON starting_code.procedure_code_id = detail.starting_procedure_code_id
LEFT JOIN procedure_code ending_code ON ending_code.procedure_code_id = detail.ending_procedure_code_id

-- fix null effective dates
INNER JOIN
(
SELECT
fee_schedule_professional_medical_id,
COALESCE(effective_from, '01-01-1753') AS effective_from,
COALESCE(effective_thru, '12-31-9999') AS effective_thru

FROM
fee_schedule_professional_medical_detail

) AS fspmd ON fspmd.fee_schedule_professional_medical_id = detail.fee_schedule_professional_medical_id

WHERE
detail.fee_schedule_id = @fee_schedule_id
AND
(
(
@show_only_current = 1
AND @current_date BETWEEN fspmd.effective_from AND fspmd.effective_thru
)
OR @show_only_current = 0
)
AND
(
@modifier IS NULL
OR
detail.modifier LIKE @modifier + '%'
)
AND
(
@code IS NULL
OR
(
starting_code.procedure_code_ud LIKE @code + '%'
OR ending_code.procedure_code_ud LIKE @code + '%'
OR @code BETWEEN starting_code.procedure_code_ud AND ending_code.procedure_code_ud
)
);

SELECT @total_count = @@ROWCOUNT;

SELECT
fsmpd.fee_schedule_professional_medical_id,
fsmpd.fee_schedule_id,
fs.fee_schedule_ud,
pct.procedure_code_type_id,
pct.procedure_code_type_ud,
pciv.procedure_code_icd_version_id,
pciv.procedure_code_icd_version_ud,
starting_procedure_code.procedure_code_id AS starting_procedure_code_id,
starting_procedure_code.procedure_code_ud AS starting_procedure_code_ud,
ending_procedure_code.procedure_code_id AS ending_procedure_code_id,
ending_procedure_code.procedure_code_ud AS ending_procedure_code_ud,
fsmpd.modifier,
fspm.fee_schedule_payment_method_id,
fspm.fee_schedule_payment_method_ud,
fsmpd.payment_value,
fsmpd.gap_code_value,
fsmpd.anesthesia_time_value,
fsmpd.anesthesia_base_standard_anesthesia_type_id,
fsmpd.anesthesia_minute_standard_anesthesia_type_id,
fsmpd.effective_from,
fsmpd.effective_thru,
fsmpd.is_balance_billable,
fsmpd.pend_for_review,
fsmpd.hold_for_payment,
start_procedure_code_type.golden_key,
pcc.procedure_code_category_nm,    -- Check to see if it's 'ANES'
@total_count as total_count

FROM
@temp_results t
INNER JOIN fee_schedule_professional_medical_detail fsmpd ON fsmpd.fee_schedule_professional_medical_id = t.fee_schedule_professional_medical_id
INNER JOIN fee_schedule fs ON fs.fee_schedule_id = fsmpd.fee_schedule_id
LEFT JOIN procedure_code_type pct ON pct.procedure_code_type_id = fsmpd.procedure_code_type_id
LEFT JOIN procedure_code_icd_version pciv ON pciv.procedure_code_icd_version_id = fsmpd.procedure_code_icd_version_id
LEFT JOIN procedure_code AS starting_procedure_code ON starting_procedure_code.procedure_code_id = fsmpd.starting_procedure_code_id
LEFT JOIN procedure_code_type AS start_procedure_code_type ON start_procedure_code_type.procedure_code_type_id = starting_procedure_code.procedure_code_type_id
LEFT JOIN procedure_code_category pcc on starting_procedure_code.procedure_code_category_id = pcc.procedure_code_category_id
LEFT JOIN procedure_code AS ending_procedure_code ON ending_procedure_code.procedure_code_id = fsmpd.ending_procedure_code_id
LEFT JOIN fee_schedule_payment_method fspm ON fspm.fee_schedule_payment_method_id = fsmpd.fee_schedule_payment_method_id

ORDER BY

--sort by specified field (by UD if available)
CASE WHEN @sort_by = 'procedure_code_type_id' AND @sort_ascending = 1 THEN pct.procedure_code_type_ud END ASC,
CASE WHEN @sort_by = 'procedure_code_type_id' AND @sort_ascending = 0 THEN pct.procedure_code_type_ud END DESC,

CASE WHEN @sort_by = 'procedure_code_icd_version_id' AND @sort_ascending = 1 THEN pciv.procedure_code_icd_version_ud END ASC,
CASE WHEN @sort_by = 'procedure_code_icd_version_id' AND @sort_ascending = 0 THEN pciv.procedure_code_icd_version_ud END DESC,

CASE WHEN @sort_by = 'starting_procedure_code_ud' AND @sort_ascending = 1 THEN starting_procedure_code.procedure_code_ud END ASC,
CASE WHEN @sort_by = 'starting_procedure_code_ud' AND @sort_ascending = 0 THEN starting_procedure_code.procedure_code_ud END DESC,

CASE WHEN @sort_by = 'ending_procedure_code_ud' AND @sort_ascending = 1 THEN ending_procedure_code.procedure_code_ud END ASC,
CASE WHEN @sort_by = 'ending_procedure_code_ud' AND @sort_ascending = 0 THEN ending_procedure_code.procedure_code_ud END DESC,

CASE WHEN @sort_by = 'modifier' AND @sort_ascending = 1 THEN fsmpd.modifier END ASC,
CASE WHEN @sort_by = 'modifier' AND @sort_ascending = 0 THEN fsmpd.modifier END DESC,

CASE WHEN @sort_by = 'fee_schedule_payment_method_id' AND @sort_ascending = 1 THEN fspm.fee_schedule_payment_method_ud END ASC,
CASE WHEN @sort_by = 'fee_schedule_payment_method_id' AND @sort_ascending = 0 THEN fspm.fee_schedule_payment_method_ud END DESC,

CASE WHEN @sort_by = 'payment_value' AND @sort_ascending = 1 THEN fsmpd.payment_value END ASC,
CASE WHEN @sort_by = 'payment_value' AND @sort_ascending = 0 THEN fsmpd.payment_value END DESC,

CASE WHEN @sort_by = 'effective_from' AND @sort_ascending = 1 THEN fsmpd.effective_from END ASC,
CASE WHEN @sort_by = 'effective_from' AND @sort_ascending = 0 THEN fsmpd.effective_from END DESC,

CASE WHEN @sort_by = 'effective_thru' AND @sort_ascending = 1 THEN fsmpd.effective_thru END ASC,
CASE WHEN @sort_by = 'effective_thru' AND @sort_ascending = 0 THEN fsmpd.effective_thru END DESC,

CASE WHEN @sort_by = 'gap_code_value' AND @sort_ascending = 1 THEN fsmpd.gap_code_value END ASC,
CASE WHEN @sort_by = 'gap_code_value' AND @sort_ascending = 0 THEN fsmpd.gap_code_value END DESC,

CASE WHEN @sort_by = 'anesthesia_time_value' AND @sort_ascending = 1 THEN fsmpd.anesthesia_time_value END ASC,
CASE WHEN @sort_by = 'anesthesia_time_value' AND @sort_ascending = 0 THEN fsmpd.anesthesia_time_value END DESC,

CASE WHEN @sort_by = 'anesthesia_base_standard_anesthesia_type_id' AND @sort_ascending = 1 THEN fsmpd.anesthesia_base_standard_anesthesia_type_id END ASC,
CASE WHEN @sort_by = 'anesthesia_base_standard_anesthesia_type_id' AND @sort_ascending = 0 THEN fsmpd.anesthesia_base_standard_anesthesia_type_id END DESC,

CASE WHEN @sort_by = 'anesthesia_minute_standard_anesthesia_type_id' AND @sort_ascending = 1 THEN fsmpd.anesthesia_minute_standard_anesthesia_type_id END ASC,
CASE WHEN @sort_by = 'anesthesia_minute_standard_anesthesia_type_id' AND @sort_ascending = 0 THEN fsmpd.anesthesia_minute_standard_anesthesia_type_id END DESC,

CASE WHEN @sort_by = 'is_balance_billable' AND @sort_ascending = 1 THEN fsmpd.is_balance_billable END ASC,
CASE WHEN @sort_by = 'is_balance_billable' AND @sort_ascending = 0 THEN fsmpd.is_balance_billable END DESC,

CASE WHEN @sort_by = 'pend_for_review' AND @sort_ascending = 1 THEN fsmpd.pend_for_review END ASC,
CASE WHEN @sort_by = 'pend_for_review' AND @sort_ascending = 0 THEN fsmpd.pend_for_review END DESC,

CASE WHEN @sort_by = 'hold_for_payment' AND @sort_ascending = 1 THEN fsmpd.hold_for_payment END ASC,
CASE WHEN @sort_by = 'hold_for_payment' AND @sort_ascending = 0 THEN fsmpd.hold_for_payment END DESC,

--no sort order specified
CASE WHEN @sort_by IS NULL AND fsmpd.effective_from IS NULL THEN 0 ELSE 1 END, fsmpd.effective_from DESC,
CASE WHEN @sort_by IS NULL AND fsmpd.effective_thru IS NULL THEN 0 ELSE 1 END, fsmpd.effective_thru DESC

--
OFFSET ((@page_number - 1) * @page_size) ROWS
FETCH NEXT @page_size ROWS ONLY

SELECT @total_count AS total_count
RETURN @SP_SUCCESS;
GO
