USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_diagnosis_code_sel_by_claim_id_and_dates_for_professional]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE Procedure [dbo].[plx_dto_diagnosis_code_sel_by_claim_id_and_dates_for_professional] (
@claim_id int,
@date_from datetime,
@date_thru datetime
) As

Select
dc.effective_thru,
dc.diagnosis_code_ud,
dc.diagnosis_code_id,
dc.effective_from
From
professional_claim_diagnosis_code pcdc
inner join professional_claim pc
on pcdc.professional_claim_id = pc.professional_claim_id
inner join diagnosis_code dc
on pcdc.diagnosis_code_ud = dc.diagnosis_code_ud
Where
pc.claim_id = @claim_id
And @date_from <= IsNull(dc.effective_thru, '12/31/3000')
And @date_thru >= dc.effective_from
GO
