USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_specialty_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date             Modified By      Version       Description
--------------------------------------------------------------------------------
1/12/2005       Thuy Ngo         1.0           Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down provider_specialty_type (Specialty)
--
REQUIREMENTS:
--
INPUTS:
provider_specialty_id - Key to provider_specialty table, identifies a single stored dd_provider_specialty.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_specialty_type_load]


AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ps.provider_specialty_type_id
,ps.provider_specialty_type_ud
,ps.description
,ps.golden_key

FROM dbo.provider_specialty_type ps

ORDER BY provider_specialty_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
