USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_user_assigned_result_code_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 10/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
18/10/2006t   HungTNguyen   1.0      created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete row in Customer user result  grid
--
REQUIREMENTS:
--
INPUTS:
@customer_user_assigned_result_code_id - Key to customer_user_assigned_result_code table, identifies a single stored customer_user_assigned_result_code.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_customer_user_assigned_result_code_delete]
(
@customer_user_assigned_result_code_id      int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM customer_user_assigned_result_code WHERE customer_user_assigned_result_code_id = @customer_user_assigned_result_code_id )
BEGIN
RAISERROR('customer_user_assigned_result_code object not found in customer_user_assigned_result_code for internal key %d.', 16, 1, @customer_user_assigned_result_code_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM customer_user_assigned_result_code
WHERE customer_user_assigned_result_code_id = @customer_user_assigned_result_code_id
END
--
RETURN @SP_SUCCESS
--
GO
