USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_result_code_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 24 2006 10:55AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/15/2006	Thuy Nguyen		1.0		Created and used for Claim
10/09/2007	John Ourant		1.1		RCS was joined to the wrong table (wrong system_status)
03/17/2008	Vishwa Jella	1.2		Updated additional_keys with additional_information column
05/15/2008	Vishwa Jella	1.3		removed unnecessary join and added visible column to support "additional_information_button" whether to display or Hide
03/18/2009	Vishwa Jella	1.4		Updated system_status (if there is no system status in adjduciation result code table, then it will display base result code status)
03/19/2009	Vishwa Jella	1.5		Updated to get golden key to enable or disable override status for user  -- if system status = error then disable
08/20/2010	lrenard			1.6		Updating use_on_%_report to be a drop down instead of a bit
11/22/2013	amortensen		1.7		Updated logic to use new parameter plan_iteration_index
--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
Select fields from the adjudication_result_code table.
--
REQUIREMENTS:
--
INPUTS:
adjudication_result_code_id - Key to adjudication_result_code table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_adjudication_result_code_list_load]
(
@claim_procedure_id		INT = NULL,
@plan_iteration_index	INT = NULL

)
AS
--
DECLARE
@SP_SUCCESS	 INT,
@HIDE_UD	 NVARCHAR(50),
@DISPLAY_UD	 NVARCHAR(50)

SELECT @HIDE_UD = report_print_override_option_ud
FROM report_print_override_option WHERE UPPER(golden_key) = 'HIDE'

SELECT @DISPLAY_UD = report_print_override_option_ud
FROM report_print_override_option WHERE UPPER(golden_key) = 'DISPLAY'

SELECT
@SP_SUCCESS = 0

IF (ISNULL(@plan_iteration_index,0) = 0)
BEGIN
SET @plan_iteration_index = 1
END

SELECT
ARC.adjudication_result_code_id,
ARC.plan_iteration_index,
CASE WHEN EXISTS (SELECT * FROM adjudication_result_code_key WHERE adjudication_result_code_id =ARC.adjudication_result_code_id)
THEN 1
ELSE 0 END AS visible,
'View' AS 'additional_information_button',	/* This is just for the button column in the grid */
ARC.claim_id,
ARC.claim_procedure_id,
ARC.result_code_id,
ARC.comment,
RC.result_code_ud,
RC.short_message AS description,
ISNULL(AST1.golden_key, AST.golden_key) AS adjudication_status_type_GK,   -- used to disable override status column on grid if it is error
ISNULL(RCS.result_code_status_id,RC.result_code_status_id) AS system_status_id,
ISNULL(RCS.result_code_status_ud, RCS0.result_code_status_ud) AS system_status,
ARCO.result_code_status_id AS user_status_id,
RCS1.result_code_status_ud AS user_status,
AST2.golden_key AS user_override_adjudication_status_type_GK,
last_modified_by =
CASE WHEN ARCO.last_modified_by IS NOT NULL
THEN ARCO.last_modified_by
ELSE 'System' END,
-- concurrency checking note:
-- the last modified date on the form should show the system created date if modified date is null;
--   note that the arc table modified date is always updated when changes are made,
--   but there may not be a corresonding record in the arco table.
last_modified_date =
CASE WHEN ARC.modified_date IS NOT NULL
THEN ARC.modified_date
ELSE ARC.created_date END,
ISNULL(ARC.do_not_clear, 0) AS do_not_clear,
-- Default print on member
member_report_print_default_option_ud =
CASE WHEN RC.use_on_member_report IS NOT NULL
THEN CASE WHEN RC.use_on_member_report = 1
THEN @DISPLAY_UD
ELSE @HIDE_UD END
ELSE @DISPLAY_UD END,
-- Override print on member
member_report_print_override_option_ud = RPOO_MEM.report_print_override_option_ud,
ARCO.member_report_print_override_option_id,
-- Default print on provider
provider_report_print_default_option_ud =
CASE WHEN RC.use_on_provider_report IS NOT NULL
THEN CASE WHEN RC.use_on_provider_report = 1
THEN @DISPLAY_UD
ELSE @HIDE_UD END
ELSE @DISPLAY_UD END,
-- Override print on provider
provider_report_print_override_option_ud = RPOO_PROV.report_print_override_option_ud,
ARCO.provider_report_print_override_option_id,
non_clean =
CASE WHEN ARCO.not_a_clean_claim IS NOT NULL
THEN ARCO.not_a_clean_claim
ELSE ISNULL(RC.not_a_clean_claim ,0) END,
ARCO.adjudication_result_code_override_id,
ARC.user_created,
ARC.modified_date
FROM
adjudication_result_code ARC

LEFT JOIN adjudication_result_code_override ARCO
ON ARCO.adjudication_result_code_id = ARC.adjudication_result_code_id
LEFT JOIN report_print_override_option RPOO_MEM
ON RPOO_MEM.report_print_override_option_id = ARCO.member_report_print_override_option_id
LEFT JOIN report_print_override_option RPOO_PROV
ON RPOO_PROV.report_print_override_option_id = ARCO.provider_report_print_override_option_id
LEFT JOIN result_code  RC
ON ARC.result_code_id = RC.result_code_id
LEFT JOIN result_code_status  RCS0
ON RC.result_code_status_id = RCS0.result_code_status_id
LEFT JOIN result_code_status  RCS
ON ARC.result_code_status_id = RCS.result_code_status_id
LEFT JOIN result_code_status RCS1
ON ARCO.result_code_status_id = RCS1.result_code_status_id
LEFT JOIN adjudication_status_type  AST
ON RCS0.adjudication_status_type_id = AST.adjudication_status_type_id
LEFT JOIN adjudication_status_type  AST1
ON AST1.adjudication_status_type_id = RCS.adjudication_status_type_id
LEFT JOIN adjudication_status_type  AST2
ON AST2.adjudication_status_type_id = RCS1.adjudication_status_type_id

WHERE
ARC.claim_procedure_id = @claim_procedure_id
AND
(
ARC.plan_iteration_index = @plan_iteration_index OR ARC.plan_iteration_index IS NULL
)
--
RETURN @SP_SUCCESS
GO
