USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Apr  3 2006  9:03AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/13/2009	lrenard		2.0		Updated Commercial Health Plan form (18594)
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for frmCommercialHealthPlan form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_save]

(
@cob_member_commercial_health_plan_id       int = NULL   OUTPUT
,@cob_member_id                              int = NULL
,@sequence_id                                int = NULL
,@insured_name                               nvarchar(255) = NULL
,@date_of_birth                              datetime = NULL
,@gender_id                                  int = NULL
,@relationship_to_member_id                  int = NULL
,@benefit_category_id                        int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@cob_plan_type_id                           int = NULL
,@cob_plan_status_id                         int = NULL
,@insurance_plan_name                        nvarchar(100) = NULL
,@commercial_policy_holder_ud                nvarchar(50) = NULL
,@insured_policy_group_number                nvarchar(50) = NULL
,@group_identifier                           nvarchar(50) = NULL
,@employer_name                              nvarchar(100) = NULL
,@carrier_name                               nvarchar(100) = NULL

,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @cob_member_commercial_health_plan_id is Null
BEGIN

--- Create a new cob_member_commercial_health_plan record
INSERT INTO cob_member_commercial_health_plan(
cob_member_id
,sequence_id
,insured_name
,date_of_birth
,gender_id
,relationship_to_member_id
,benefit_category_id
,effective_from
,effective_thru
,cob_plan_type_id
,cob_plan_status_id
,insurance_plan_name
,commercial_policy_holder_ud
,insured_policy_group_number
,group_identifier
,employer_name
,carrier_name
,active
)
VALUES
(@cob_member_id
,@sequence_id
,@insured_name
,@date_of_birth
,@gender_id
,@relationship_to_member_id
,@benefit_category_id
,@effective_from
,@effective_thru
,@cob_plan_type_id
,@cob_plan_status_id
,@insurance_plan_name
,@commercial_policy_holder_ud
,@insured_policy_group_number
,@group_identifier
,@employer_name
,@carrier_name
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @cob_member_commercial_health_plan_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM cob_member_commercial_health_plan WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing cob_member_commercial_health_plan record
UPDATE cob_member_commercial_health_plan
SET
--   cob_member_id                            = @cob_member_id
insured_name                             = @insured_name
,sequence_id				 = @sequence_id
,date_of_birth                            = @date_of_birth
,gender_id                                = @gender_id
,relationship_to_member_id                = @relationship_to_member_id
,benefit_category_id                      = @benefit_category_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,cob_plan_type_id			 = @cob_plan_type_id
,cob_plan_status_id			 = @cob_plan_status_id
,insurance_plan_name                      = @insurance_plan_name
,commercial_policy_holder_ud              = @commercial_policy_holder_ud
,insured_policy_group_number              = @insured_policy_group_number
,group_identifier                         = @group_identifier
,employer_name                            = @employer_name
,carrier_name                             = @carrier_name
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
