USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_display_currency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Jan  5 2006 11:38AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
7/14/2006	Anh Ta		1.0		Removed as [ISO Code]  - Fixed with issue # 2801
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down display_currency (Display Currency)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_display_currency_load]

AS
--
DECLARE     @SP_SUCCESS int
SELECT    @SP_SUCCESS = 0

SELECT
display_currency.display_currency_id
,display_currency.display_currency_ud
,display_currency.display_currency_nm
,display_currency.description
FROM display_currency
ORDER BY display_currency_ud
--
RETURN @SP_SUCCESS
GO
