USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_ap_fee_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 07/13/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/13/2009  W.Christensen  1.0      Created
01/21/2010	Vishwa Jella	1.1		Added is_in_use flag to set read only row
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load data for AP Fees grid on ClientFeeSetup form

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_fee_setup_ap_fee_load]
(
@client_fee_setup_id  INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT
cfsap.client_fee_setup_ap_fee_id
,cfsap.client_fee_setup_id
,cfsap.effective_from
,cfsap.effective_thru
,cfsap.client_fee_type_id
,cft.client_fee_type_ud
,cfsap.description
,cfsap.client_fee_calculation_rule_id
,cfcr.client_fee_calculation_rule_ud
,cfsap.amount
,cfsap.vendor_id
,v.vendor_ud
,dbo.plx_fn_check_client_fee_setup_ap_fee_in_use(cfsap.client_fee_setup_ap_fee_id) AS is_in_use
,cfsap.ap_accounting_company_account_id
,aca_ap.accounting_company_account_ud AS ap_accounting_company_account_ud
,cfsap.expense_accounting_company_account_id
,aca_exp.accounting_company_account_ud AS expense_accounting_company_account_ud
,cfsap.client_group_id
,cgn.client_group_ud
,cfsap.benefit_contract_id
,bc.benefit_contract_ud
,cfsap.provider_network_id
,pn.provider_network_ud
,cfsap.payment_contract_id
,pc.payment_contract_ud
,cfsap.provider_identifier_id
,prov.provider_ud
,cfsap.modified_date

FROM client_fee_setup_ap_fee cfsap
INNER JOIN client_fee_setup cfs ON cfsap.client_fee_setup_id = cfs.client_fee_setup_id
INNER JOIN accounting_company_account aca_ap ON cfsap.ap_accounting_company_account_id = aca_ap.accounting_company_account_id
INNER JOIN accounting_company_account aca_exp ON cfsap.expense_accounting_company_account_id = aca_exp.accounting_company_account_id
INNER JOIN vendor v ON cfsap.vendor_id = v.vendor_id
INNER JOIN client_fee_type cft ON cfsap.client_fee_type_id = cft.client_fee_type_id
INNER JOIN client_fee_calculation_rule cfcr ON cfsap.client_fee_calculation_rule_id = cfcr.client_fee_calculation_rule_id
LEFT JOIN client_group_name cgn ON cfsap.client_group_id = cgn.client_group_id AND cgn.primary_name = 1
LEFT JOIN provider_identifier prov ON cfsap.provider_identifier_id = prov.provider_identifier_id
LEFT JOIN payment_contract pc ON cfsap.payment_contract_id = pc.payment_contract_id
LEFT JOIN benefit_contract bc ON cfsap.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN provider_network pn ON cfsap.provider_network_id = pn.provider_network_id

WHERE
cfs.client_fee_setup_id = @client_fee_setup_id
--
RETURN @SP_SUCCESS
--
GO
