USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_add_result_code]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[bind_add_result_code]
	@claim_procedure_id int,
	@claim_id int = null,
	@result_code_ud nvarchar(50)
	
as 

if not exists (	select 1 
				from adjudication_result_code arc 
					inner join result_code rc 
						on arc.result_code_id = rc.result_code_id
							and rc.result_code_ud = @result_code_ud
				where arc.claim_procedure_id = @claim_procedure_id)
begin
	INSERT INTO [dbo].[adjudication_result_code]
	           ([claim_id]
	           ,[claim_procedure_id]
	           ,[result_code_id]
	           ,[result_code_status_id]
	           ,[keep_code_for_next_adj_run]
	           ,[do_not_clear]
	           ,[comment]
	           ,[plan_iteration_index]
	           ,[user_created]
	           ,[active]
	           ,[created_user_name]
	           ,[created_group_id]
	           ,[created_date]
	           ,[modified_date]
	           ,[modified_user_name])
	     select
	           @claim_id --<claim_id, int,> -- The claim_id only needs to be set if this is a claim wide code
	           ,@claim_procedure_id --<claim_procedure_id, int,>
	           ,rc.result_code_id --<result_code_id, int,>
	           ,rc.result_code_status_id--<result_code_status_id, int,>
	           ,null --<keep_code_for_next_adj_run, bit,>
	           ,1--<do_not_clear, bit,>
	           ,''--<comment, nvarchar(1000),>
	           ,null--<plan_iteration_index, int,>
	           ,0--<user_created, bit,>
	           ,1--<active, bit,>
	           ,SYSTEM_USER--<created_user_name, nvarchar(128),>
	           ,null--<created_group_id, int,>
	           ,getdate()--<created_date, datetime,>
	           ,getdate()--<modified_date, datetime,>
	           ,system_user--<modified_user_name, nvarchar(128),>
		from result_code rc
		where rc.result_code_ud = @result_code_ud
end 


GO
