USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_customer_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 08/12/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/12/2008	David Slayton	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for grid grdCustomerAssignments on form frmFamilyEligibility.

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_customer_id
@family_eligibility_id
@customer_id
@criteria_id
@effective_from
@effective_thru
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_customer_save]
(
@family_eligibility_customer_id	INT = 0   OUTPUT
,@family_eligibility_id			INT = NULL
,@customer_id						INT = NULL
,@criteria_id						INT = NULL
,@effective_from					DATETIME = NULL
,@effective_thru					DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF ISNULL(@family_eligibility_customer_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO family_eligibility_customer(
family_eligibility_id
,customer_id
,criteria_id
,effective_from
,effective_thru
)
VALUES
(@family_eligibility_id
,@customer_id
,@criteria_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @family_eligibility_customer_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_customer WHERE family_eligibility_customer_id = @family_eligibility_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_customer
SET
family_eligibility_id	= @family_eligibility_id
,customer_id				= @customer_id
,criteria_id				= @criteria_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_customer_id = @family_eligibility_customer_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
