USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_missing_details_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 12/06/2009
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
12/06/2009		Vishwa Jella		1.0			Created
--
CURRENT_VERSION: 1.0
--

--
REQUIREMENTS:
--
INPUTS:
@new_claim_id,
@current_claim_id,
@created_user_name

DESCRIPTION:
this procedure used to duplicate claim missing details for duplicate claim record
-	missing_facility_information
missing_patient_employment_information
missing_patient_information
missing_provider_information
missing_vendor_information

unable to find records for these in save stored procedures
missing_subscriber_employment_information
missing_subscriber_information

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_missing_details_duplicate]

(
@new_claim_id INT, -- new_claim_id
@current_claim_id INT -- current claim_procedure_id
) AS
--
SET NOCOUNT ON

-- copy missing_facility_information record
INSERT INTO missing_facility_information(
claim_id
,facility_name
,contact_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,comment
,active
)
SELECT
@new_claim_id
,facility_name
,contact_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,comment
,active
FROM missing_facility_information
WHERE missing_facility_information.claim_id = @current_claim_id

-- copy missing_patient_information record
INSERT INTO missing_patient_information(
claim_id
,patient_first_name
,patient_middle_name
,patient_last_name
,ein_number
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,date_of_birth
,gender_id
,marital_status_id
,relationship_to_insured_id
,active
)
SELECT
@new_claim_id
,patient_first_name
,patient_middle_name
,patient_last_name
,ein_number
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,date_of_birth
,gender_id
,marital_status_id
,relationship_to_insured_id
,active
FROM missing_patient_information
WHERE missing_patient_information.claim_id = @current_claim_id

-- copy missing_patient_employment_information record
Insert INTO missing_patient_employment_information(
claim_id
,employer_name
,policy_group_number
,insurance_plan_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,comment
,date_hired
,student_status_date
,employment_status_code_id
,student_status_id
,active
)
SELECT
@new_claim_id
,employer_name
,policy_group_number
,insurance_plan_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,comment
,date_hired
,student_status_date
,employment_status_code_id
,student_status_id
,active
FROM missing_patient_employment_information
WHERE missing_patient_employment_information.claim_id = @current_claim_id

-- copy missing_provider_information record
INSERT INTO missing_provider_information(
claim_id
,missing_provider_information_provider_type_id
,alias_type_id
,provider_first_name
,provider_middle_name
,provider_last_name
,ein_number
,address1
,address2
,postal_code
,delivery_route
,city
,county
,country_id
,state_id
,phone_number
,license_number
,npi
,comment
,active
)
SELECT
@new_claim_id
,missing_provider_information_provider_type_id
,alias_type_id
,provider_first_name
,provider_middle_name
,provider_last_name
,ein_number
,address1
,address2
,postal_code
,delivery_route
,city
,county
,country_id
,state_id
,phone_number
,license_number
,npi
,comment
,active
FROM missing_provider_information
WHERE missing_provider_information.claim_id = @current_claim_id

-- copy missing_vendor_information record
Insert INTO missing_vendor_information(
claim_id
,vendor_name
,contact_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,ein_number
,comment
)
SELECT
@new_claim_id
,vendor_name
,contact_name
,address1
,address2
,postal_code
,city
,county
,country_id
,state_id
,phone_number
,ein_number
,comment
FROM missing_vendor_information
WHERE missing_vendor_information.claim_id = @current_claim_id
GO
