USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_limit_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	Trinh Le	1.0			create
11/03/2005      Trinh Le                       Get the datatype of the corresponding accumulator
08/11/2015	Aaron Mortensen	1.2		RT:7284 Added Tiered Maximum Payment
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Load data for grid limit rule in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_limit_rule_load]
(
@accumulator_framework_accumulator_class_accumulator_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_limit_rule.accumulator_limit_rule_id as accumulator_limit_id
,accumulator_limit_rule.individual_accumulator_choice_list_id as ind_accumulator_valid_choice_id
,ind_choice_list.accumulator_choice_list_ud as ind_accumulator_valid_choice_ud
,accumulator_limit_rule.individual_accumulator_limit_rule_value_type_id
,CASE ind_alrvt.golden_key
WHEN 'SINGLE_VALUE'
THEN CAST(accumulator_limit_rule.individual_value AS nvarchar(100))
WHEN 'CHOICE_LIST_ID'
THEN CAST(accumulator_limit_rule.individual_accumulator_choice_list_id AS nvarchar(100))
WHEN 'TIERED'
THEN CASE accumulator_class.golden_key
WHEN 'Maximum Payments'
THEN CAST(tmp.tiered_maximum_payment_ud as nvarchar(100))
ELSE ''
END
ELSE --Coverage Incentive
''
END as individual_display_value
,accumulator_limit_rule.individual_value
,accumulator_limit_rule.tiered_maximum_payment_id
,tmp.tiered_maximum_payment_ud
,accumulator_limit_rule.family_accumulator_choice_list_id as fam_accumulator_valid_choice_id
,fam_choice_list.accumulator_choice_list_ud as fam_accumulator_valid_choice_ud
,accumulator_limit_rule.family_accumulator_limit_rule_value_type_id
,CASE fam_alrvt.golden_key
WHEN 'SINGLE_VALUE'
THEN CAST(accumulator_limit_rule.family_value AS nvarchar(100))
WHEN 'CHOICE_LIST_ID'
THEN CAST(accumulator_limit_rule.family_accumulator_choice_list_id AS nvarchar(100))
ELSE --Coverage Incentive
''
END as family_display_value
,accumulator_limit_rule.family_value
,accumulator_limit_rule.effective_from
,accumulator_limit_rule.effective_thru
,accumulator_limit_rule.first_coverage_scope_of_limit_id
,accumulator_limit_rule.active
,accumulator_limit_rule.modified_date
FROM
accumulator_limit_rule
inner join accumulator_framework_accumulator_class_accumulator
ON accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id = accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id
inner join accumulator_framework_accumulator_class
ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
inner join accumulator_class
ON accumulator_framework_accumulator_class.accumulator_class_id = accumulator_class.accumulator_class_id
left join accumulator_choice_list ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_limit_rule.individual_accumulator_choice_list_id
left join accumulator_choice_list  fam_choice_list
ON fam_choice_list.accumulator_choice_list_id = accumulator_limit_rule.family_accumulator_choice_list_id
left join accumulator_limit_rule_value_type ind_alrvt
ON accumulator_limit_rule.individual_accumulator_limit_rule_value_type_id = ind_alrvt.accumulator_limit_rule_value_type_id
left join accumulator_limit_rule_value_type fam_alrvt
ON accumulator_limit_rule.family_accumulator_limit_rule_value_type_id = fam_alrvt.accumulator_limit_rule_value_type_id
left join tiered_maximum_payment tmp
ON accumulator_limit_rule.tiered_maximum_payment_id = tmp.tiered_maximum_payment_id
WHERE accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id

ORDER BY
CASE WHEN accumulator_limit_rule.effective_from IS NULL THEN 0 ELSE 1 END , accumulator_limit_rule.effective_from DESC
,CASE WHEN accumulator_limit_rule.effective_thru IS NULL THEN 0 ELSE 1 END , accumulator_limit_rule.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
