USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_distinct_state_in_local_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:Trinh Le
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
******************************************************************************/
CREATE PROCEDURE [dbo].[plx_dd_distinct_state_in_local_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
locale.state_id
--      ,locale.postal_code
--      ,locale.preferred
--      ,locale.city
--      ,locale.county
--      ,locale.locale_source_id

--      ,locale_source.locale_source_ud
--      ,locale.state_id

,state.state_ud
--      ,locale.country_id

--      ,country.country_ud
--    ,locale.active
--      ,locale.created_user_name
--      ,locale.created_group_id

--      ,created_group.created_group_ud
--      ,locale.created_date
--      ,locale.modified_date
FROM locale
inner join state  ON state.state_id = locale.state_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
