USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 02/25/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/25/2010	David Slayton	1.0		Created.
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Coverage Restrictions grid on Eligibility Restriction form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_list_load]
(
@eligibility_restriction_relationship_to_subscriber_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
errtscr.eligibility_restriction_relationship_to_subscriber_coverage_restriction_id
,errtscr.eligibility_restriction_relationship_to_subscriber_id

,errtscr.effective_from
,errtscr.effective_thru
,errtscr.eligibility_waiting_period_date_rule_id
,errtscr.number_of_units
,errtscr.unit_day_week_month_year_id

,errtscr.override_result_code_id AS result_code_id
,result_code.result_code_ud
,result_code.short_message

,errtscr.override_result_code_status_id AS result_code_status_id


FROM eligibility_restriction_relationship_to_subscriber_coverage_restriction errtscr
LEFT JOIN result_code
ON result_code.result_code_id = errtscr.override_result_code_id

WHERE errtscr.eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

ORDER BY CASE WHEN errtscr.effective_from IS NULL THEN 0 ELSE 1 END ASC, errtscr.effective_from DESC,
CASE WHEN errtscr.effective_thru IS NULL THEN 0 ELSE 1 END ASC, errtscr.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
