USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_rate_code_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_eligibility_rate_code_list_load]
AS
SET NOCOUNT ON

SELECT
erc.eligibility_rate_code_id
,erc.eligibility_rate_code_ud
,erc.description
FROM dbo.eligibility_rate_code erc
ORDER BY erc.eligibility_rate_code_ud

RETURN 0
GO
