USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_msp_resubmission_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 040220221
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down MSP Resubmission Type. Procedure currently only loads values for Change and Change\Add
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_dd_msp_resubmission_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
msp_resubmission_type_id
,msp_resubmission_type_ud
,golden_key

FROM msp_resubmission_type
WHERE golden_key in ('MSP_DELETE','MSP_DELETE_ADD')
ORDER BY msp_resubmission_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
