USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thangtnguyen
Nov  1 2005  2:08PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2006/06/28  HungTNguyen		1.0			added routing_transaction_number
2008/05/16	lrenard			1.1			accounting company schema and form changes
2008/10/13	wchristensen	1.2			separated check and ACH REF # fields
2014/09/09	schong			1.3			Update to return delivery route
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Load data for Bank Account form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_bank_account_load]
(
@bank_account_id	INT = NULL
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ba.bank_account_id,
ba.bank_account_ud,  -- for txtBankAccountID
ba.accounting_company_id,
ba.bank_name,
ba.description,      -- for txtDescription
ba.cash_accounting_company_account_id,	 -- for cboCashAccountID
ba.routing_transaction_number,
ba.starting_check,
ba.starting_ach_reference,

-- Get last check # printed
(SELECT MAX(check_ach_reference)
FROM accounting_transaction_ap_payment_detail pay_detail
INNER JOIN payment_method_payment pmp ON pay_detail.payment_method_payment_id = pmp.payment_method_payment_id
WHERE pay_detail.bank_account_id = @bank_account_id AND pmp.golden_key = 'CHECK')
as last_check_printed,

-- Get last ach/ref # used
(SELECT TOP 1 (check_ach_reference)
FROM
(
SELECT ar_detail.check_ach_reference, ar_detail.created_date AS max_date
FROM accounting_transaction_ar_payment_detail ar_detail
INNER JOIN payment_method_customer pmc ON ar_detail.payment_method_customer_id = pmc.payment_method_customer_id
WHERE
ar_detail.bank_account_id = @bank_account_id
AND
pmc.golden_key = 'ACH'
UNION
SELECT CAST(pay_detail.check_ach_reference AS NVARCHAR), pay_detail.created_date AS max_date
FROM accounting_transaction_ap_payment_detail pay_detail
INNER JOIN payment_method_payment pmp ON pay_detail.payment_method_payment_id = pmp.payment_method_payment_id
WHERE
pay_detail.bank_account_id = @bank_account_id
AND
pmp.golden_key = 'ACH'
)as refs ORDER BY max_date DESC
) as last_ach_ref_used,

currency.currency_ud,

-- Address related fields
ba.bank_account_number,
ba.address_id AS bank_address_id,
address.address_1 AS bank_address_1,  -- for txtAddress1
address.address_2 AS bank_address_2,  -- for txtAddress2
address.locale_id AS bank_locale_id,  -- for cboPostalCode
locale.postal_code AS bank_postal_code,  -- for cboPostalCode
address.delivery_route as bank_delivery_route, -- for cboBankDeliveryRoute
locale.city AS bank_city,  -- for txtCity
locale.county AS bank_county,  -- for txtCounty
state.state_ud AS bank_state_ud,  -- for txtStateorRegion
state.state_id as bank_state_id,
country.country_ud AS bank_country_ud,  -- for txtCountry
country.country_nm as bank_country_nm, -- for txtcountryname
ba.telephone_number AS bank_telephone_number,	-- for txtPhoneNumber
ba.fax_number AS bank_fax_number  -- for txtFaxNumber

FROM bank_account ba
LEFT JOIN accounting_company_account aca ON aca.accounting_company_account_id = ba.cash_accounting_company_account_id
LEFT JOIN currency ON currency.currency_id = aca.currency_id
LEFT JOIN address ON address.address_id = ba.address_id
LEFT JOIN locale ON locale.locale_id = address.locale_id
LEFT JOIN state ON state.state_id = locale.state_id
LEFT JOIN country ON country.country_id = locale.country_id

WHERE ba.bank_account_id = @bank_account_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
