USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_invoice_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************
DESCRIPTION:	Generates Invoice ID based on a given string, so it can support the
following rules:

Accounting Company ID + Date + Counter
Enrollment ID + Date + Counter

NOTE:	The Invoice ID and the Enrollment ID are both allowed 100 chars. In order to ensure
that the date and counter appear (8 + 5 = 13 chars), we truncate the @enrollment_ud
to 87 characters.

The Accounting Company ID is limited to 50 chars.

*****************************************************************************************/
CREATE PROCEDURE [dbo].[plx_auto_create_accounting_invoice_id_rule]
(
@invoiceIdString   NVARCHAR(100) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;


-- Set the prefix for the auto generated id.
DECLARE
@prefixString		NVARCHAR(87)
,@prefix			NVARCHAR(100)
,@invoice_ud		NVARCHAR(100);

SET @invoice_ud = '';

SET @prefixString = LTRIM(RTRIM(@invoiceIdString));

SET @prefix = @prefixString  + CONVERT(NVARCHAR(8), GETDATE(), 112);

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(5)
,@accounting_transaction_ar_type_id_invoice INT;

SET @auto_create_counter_type_ud = 'Invoice ' + @prefix;
SET @counter_pad_length = 5;

SELECT @accounting_transaction_ar_type_id_invoice = accounting_transaction_ar_type_id
FROM accounting_transaction_ar_type
WHERE golden_key = 'INVOICE';

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud;
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length);
SELECT @invoice_ud = ISNULL(@prefix, '') + @counter_text;

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM accounting_transaction_ar
WHERE accounting_transaction_ar_ud = @invoice_ud
AND accounting_transaction_ar_type_id = @accounting_transaction_ar_type_id_invoice)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud;
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length);
SELECT @invoice_ud = ISNULL(@prefix, '') + @counter_text;
END

SELECT @invoice_ud AS invoice_ud;
RETURN @SP_SUCCESS;
END
GO
