USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_transaction_payment_list_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 10/20/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/20/2008	Vishwa Jella	1.0		created
11/06/2008	Vishwa Jella	2.0		updated to show Check number based on payment status = paid or voided
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Payments grid on Claim Accounting Information form

Load Payments containing Transaction ID
--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_id -- Currently implemented for accounting_transaction_ap later we will implement AR
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_accounting_information_transaction_payment_list_load]
(
@accounting_transaction_id			INT = NULL -- currenlty passing accounting_transaction_ap_id
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
-- RT:7537 - adding optional disbursement_claim_payment_run details attached to an accounting transaction.
DECLARE @disbursement_claim_payment_run_accounting_source_id INT
SELECT @disbursement_claim_payment_run_accounting_source_id = accounting_source_id
FROM accounting_source WHERE golden_key = 'Disbursement Claims Payment Run'

DECLARE @in_review_payment_status_ud NVARCHAR(255)
SET @in_review_payment_status_ud =
(SELECT accounting_payment_status_ud FROM accounting_payment_status WHERE golden_key = 'IN_REVIEW')

SELECT
atap.accounting_transaction_ap_id as accounting_transaction_ap_id -- payment_id
,atap.accounting_transaction_ap_ud as payment_ud --accounting_transaction_ap_ud --payment_ud
,pmp.payment_method_payment_ud
, CASE WHEN aps.golden_key = 'PAID' OR aps.golden_key = 'VOIDED' THEN atappd.check_ach_reference
ELSE NULL END as check_ach_reference
, CASE WHEN aps.golden_key = 'PAID' OR aps.golden_key = 'VOIDED' THEN atappd.check_date
ELSE NULL END as check_date
,case
when t.golden_key = 'CREDIT' then
abs(apply_to.amount) * -1
else
abs(apply_to.amount)
end as applied_amount
,atap.transaction_amount as total_payment_amount
,aps.accounting_payment_status_ud
,aps.golden_key
, CASE WHEN aps.golden_key = 'VOIDED' THEN atappd.modified_date
ELSE NULL END as void_date
,atap.vendor_id
,v.vendor_ud
,v.vendor_nm
,dcpr.disbursement_claim_payment_run_id
,dcpr.disbursement_claim_payment_run_ud
FROM accounting_transaction_ap_apply_to as apply_to
JOIN accounting_transaction_ap as atap ON atap.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap as atap_to ON atap_to.accounting_transaction_ap_id = apply_to.to_accounting_transaction_ap_id
JOIN accounting_transaction_ap_type as t ON t.accounting_transaction_ap_type_id = atap_to.accounting_transaction_ap_type_id
JOIN accounting_transaction_ap_payment_detail as atappd ON atappd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN payment_method_payment as pmp ON pmp.payment_method_payment_id = atappd.payment_method_payment_id
LEFT JOIN accounting_payment_status as aps ON aps.accounting_payment_status_id = atappd.accounting_payment_status_id
LEFT JOIN vendor as v on atap.vendor_id = v.vendor_id
LEFT JOIN disbursement_claim_payment_run dcpr
ON atap.accounting_source_id = @disbursement_claim_payment_run_accounting_source_id
AND atap.accounting_source_record_id = dcpr.disbursement_claim_payment_run_id
WHERE apply_to.to_accounting_transaction_ap_id = @accounting_transaction_id

-- UNION  AR transactions implemented later


--
RETURN @SP_SUCCESS
GO
