USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claims_viewer_claim_analysis_queue_claim_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
--------------------------------------------------------------------------------------------------
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/06/2013  eponomareff      1.1        Fixed SQLExceptions due to incorrect dynamic sql on new fields
06/19/2013  eponomareff      1.2        Fixed SQLExceptions caused with relation to Institutional dates
06/21/2013	eponomareff		 1.3        Fixed various filtering issues
01/17/2014	lrenard			 1.4		RT:4870 - Base Supp - Adding Plan Iteration check when joining adjudication objects to eliminate duplicates since multiple adjudication results can occur for the same line
02/05/2016	tcross			 1.5		Modified joins to adjudication_result_code table to improve performance
06/19/2018				2.0		rt:13429 - Improve query performance for many use cases
CURRENT_VERSION	: 2.0
;
DESCRIPTION	: Procedure to load all claim id by queue id.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
plx_load_claims_from_queue
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_claims_viewer_claim_analysis_queue_claim_load] (
@queue_id INT = NULL,
@select_claim_set_columns BIT = 0
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

DECLARE @SQL_TMP_TABLE NVARCHAR(4000),
@SQL_CONDITION NVARCHAR(4000),
@SQL_GROUP NVARCHAR(1000),
@SQL_FINAL_SELECT NVARCHAR(1000),
@SQL_SELECT NVARCHAR(4000),
@SQL_SELECT_CONDITION NVARCHAR(4000),
@SQL_ORDER NVARCHAR(500),
@CUR_DATE DATETIME,
@SQL NVARCHAR(max),
@SQL_DEFINE_POPULATION_AND_SELECTION_COUNT NVARCHAR(500),
@SQL_POPULATE_POPULATION_AND_SELECTION_COUNT NVARCHAR(500);

SELECT @SQL_TMP_TABLE = '',
@SQL_CONDITION = '',
@SQL_GROUP = '',
@SQL_FINAL_SELECT = '',
@SQL_SELECT = '',
@SQL_SELECT_CONDITION = '',
@SQL_ORDER = '',
@CUR_DATE = getdate();

DECLARE @SELECTION_KEY NVARCHAR(50),
@CLAIM_ALL_ID INT,
@ADJ_OBJ_NET_PAY_ID INT,
@ADJ_OBJ_FEE_SCHED_ID INT,
@ADJ_OBJ_NETWORK_ID INT,
@DATE_TYPE_ID INT,
@AMOUNT_TYPE_ID INT,
@PERCENT INT,
@SELECT_RANDOM_VALUE NVARCHAR(5), --NULL if percentage < 100, 0 if percentage = 100
@OPEN_ID INT,
@CLAIM_PROVIDER_TYPE AS NVARCHAR(100),
@CLAIM_DIAGNOSIS_TYPE AS NVARCHAR(100),
@CLAIM_FORM_TYPE AS NVARCHAR(100);

DECLARE @caq_claim_selection_priority_id INT,
@caq_result_code_set_id INT,
@caq_provider_network_id INT,
@caq_provider_type_id INT,
@caq_provider_identifier_id INT,
@caq_family_eligibility_member_benefit_plan_id INT,
@caq_family_eligibility_id INT,
@caq_client_id INT,
@caq_client_set_id INT,
@caq_client_group_id INT,
@caq_client_group_set_id INT,
@caq_benefit_contract_id INT,
@caq_claim_type_id INT,
@caq_claim_form_type_id INT,
@caq_procedure_code_group_id INT,
@caq_diagnosis_type_id INT,
@caq_diagnosis_code_group_id INT,
@caq_service_code_group_id INT,
@caq_claim_status_id INT,
@caq_adjudication_status_id INT,
@caq_adjudication_status_all_lines INT,
@caq_fee_schedule_id INT,
@caq_percentage_of_claims INT,
@caq_claim_amount_type_id INT,
@caq_amount_min NUMERIC,
@caq_amount_max NUMERIC,
@caq_claim_date_type_id INT,
@caq_claim_date_type_from_date DATETIME,
@caq_claim_date_type_thru_date DATETIME,
@caq_value_from INT,
@caq_from_unit_day_week_month_year_id INT,
@caq_value_thru INT,
@caq_thru_unit_day_week_month_year_id INT,
@caq_institutional_statement_from_date DATETIME,
@caq_institutional_statement_thru_date DATETIME,
@caq_disursement_creation_date DATETIME,
@caq_additional_information_topic_id INT,
@caq_additional_information_topic_value NVARCHAR(600),
@caq_product_id INT;

SELECT @CLAIM_ALL_ID = claim_form_type_id
FROM claim_form_type
WHERE golden_key = 'All Claims';

SELECT @OPEN_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'OPEN';

SELECT @caq_claim_selection_priority_id = claim_selection_priority_id,
@caq_result_code_set_id = result_code_set_id,
@caq_provider_network_id = provider_network_id,
@caq_provider_type_id = provider_type_id,
@caq_provider_identifier_id = provider_identifier_id,
@caq_family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan_id,
@caq_family_eligibility_id = family_eligibility_id,
@caq_client_id = client_id,
@caq_client_set_id = client_set_id,
@caq_client_group_id = client_group_id,
@caq_client_group_set_id = client_group_set_id,
@caq_benefit_contract_id = benefit_contract_id,
@caq_claim_type_id = claim_type_id,
@caq_claim_form_type_id = claim_form_type_id,
@caq_procedure_code_group_id = procedure_code_group_id,
@caq_diagnosis_type_id = diagnosis_type_id,
@caq_diagnosis_code_group_id = diagnosis_code_group_id,
@caq_service_code_group_id = service_code_group_id,
@caq_claim_status_id = claim_status_id,
@caq_adjudication_status_id = adjudication_status_id,
@caq_adjudication_status_all_lines = adjudication_status_all_lines,
@caq_fee_schedule_id = fee_schedule_id,
@caq_percentage_of_claims = percentage_of_claims,
@caq_claim_amount_type_id = claim_amount_type_id,
@caq_amount_min = amount_min,
@caq_amount_max = amount_max,
@caq_claim_date_type_id = claim_date_type_id,
@caq_claim_date_type_from_date = claim_date_type_from_date,
@caq_claim_date_type_thru_date = claim_date_type_thru_date,
@caq_value_from = value_from,
@caq_from_unit_day_week_month_year_id = from_unit_day_week_month_year_id,
@caq_value_thru = value_thru,
@caq_thru_unit_day_week_month_year_id = thru_unit_day_week_month_year_id,
@caq_institutional_statement_from_date = institutional_statement_from_date,
@caq_institutional_statement_thru_date = institutional_statement_thru_date,
@caq_disursement_creation_date = disursement_creation_date,
@caq_additional_information_topic_id = additional_information_topic_id,
@caq_additional_information_topic_value = additional_information_topic_value,
@caq_product_id = product_id
FROM claim_analysis_queue caq
WHERE caq.claim_analysis_queue_id = @queue_id;

--Dental, Institutional, Professional, Predetermination
SELECT @CLAIM_FORM_TYPE = golden_key
FROM claim_form_type
WHERE claim_form_type_id = @caq_claim_form_type_id;

--ANY_PROVIDER, BILLING_PROVIDER,RENDERING_PROVIDER
SELECT @CLAIM_PROVIDER_TYPE = golden_key
FROM claim_provider_type
WHERE claim_provider_type_id = @caq_provider_type_id;

--ANY_DIAGNOSIS, PRIMARY_DIAGNOSIS_CODE
SELECT @CLAIM_DIAGNOSIS_TYPE = golden_key
FROM claim_diagnosis_type
WHERE claim_diagnosis_type_id = @caq_diagnosis_type_id;

-- select @STATUS_LIST = '(' + cast(isnull(@OPEN_ID, 0) as nvarchar) + ')';
-- This appears to be a mechanism to garner a percentage of available claims that meet the criteria
SELECT @PERCENT = @caq_percentage_of_claims;

IF (@PERCENT IS NULL)
SET @PERCENT = 100;

IF (@PERCENT = 100)
SET @SELECT_RANDOM_VALUE = '0';
ELSE
SET @SELECT_RANDOM_VALUE = 'null';

SELECT @SELECTION_KEY = golden_key
FROM claim_selection_priority
WHERE claim_selection_priority_id = @caq_claim_selection_priority_id;

SELECT @DATE_TYPE_ID = @caq_claim_date_type_id,
@AMOUNT_TYPE_ID = @caq_claim_amount_type_id;

SELECT @SQL_DEFINE_POPULATION_AND_SELECTION_COUNT = N' DECLARE @POPULATION_COUNT NUMERIC(17, 4), @SELECTION_COUNT INT ',
@SQL_POPULATE_POPULATION_AND_SELECTION_COUNT = N' SELECT @POPULATION_COUNT = @@rowcount
SELECT @SELECTION_COUNT = CONVERT(INT, (ROUND((' + cast(@PERCENT AS NVARCHAR) + ' * @POPULATION_COUNT) / 100.00, 0)))';

SELECT @SQL_TMP_TABLE = N'
SELECT DISTINCT
c.claim_id,
c.claim_ud,
c.received_date,
cft.claim_form_type_ud,
cft.golden_key as claim_form_type_gk,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
ark.plan_iteration_index
INTO #TEMP_PROCESSING_FILTER
FROM claim c
INNER JOIN claim_procedure cp ON cp.claim_id = c.claim_id AND
c.adjudication_status_id <>  @OPEN_ID'
--OR cp.adjudication_status_id not in ' + @STATUS_LIST
+
'
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN family_eligibility fe ON fem.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN provider_identifier pid ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN adjudication_status adjs ON adjs.adjudication_status_id = c.adjudication_status_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v ON v.vendor_id = c.vendor_id
-- to get benefit contract, client and group info
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = fe.benefit_contract_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = cp.claim_procedure_id

LEFT JOIN adjudication_run_claim_procedure arcp ON arcp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run ar ON ar.adjudication_run_id = arcp.adjudication_run_id

--Check all other queue criteriaclaim_analysis_queue caq
INNER JOIN claim_analysis_queue caq ON caq.claim_analysis_queue_id = isnull(@queue_id, 0) '
;

--Set up conditions
SELECT @SQL_CONDITION = N'
WHERE 1 = 1 ';

IF @caq_provider_network_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.provider_network_id = ark.provider_network_id';
END;

---FIELDS DEPENDENT ON CLAIM FORM TYPE---
IF @caq_claim_form_type_id IS NOT NULL
BEGIN
--NEEDED FOR BASE TMP TABLE--
IF @CLAIM_FORM_TYPE = 'Dental'
OR @CLAIM_FORM_TYPE = 'Predetermination'
BEGIN
SELECT @SQL_TMP_TABLE = @SQL_TMP_TABLE + N'
INNER JOIN dental_claim dc on c.claim_id = dc.claim_id ';

IF @CLAIM_FORM_TYPE = 'Dental'
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND cft.golden_key = ''Dental'' ';
ELSE
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND cft.golden_key = ''Predetermination'' ';
END;

IF @CLAIM_FORM_TYPE = 'Professional'
BEGIN
SELECT @SQL_TMP_TABLE = @SQL_TMP_TABLE + N'
INNER JOIN professional_claim pc on c.claim_id = pc.claim_id ';
END;

IF @CLAIM_FORM_TYPE = 'Institutional'
BEGIN
SELECT @SQL_TMP_TABLE = @SQL_TMP_TABLE + N'
INNER JOIN institutional_claim ic on c.claim_id = ic.claim_id ';
END;

--END OF: NEEDED FOR BASE TMP TABLE--
--claim type--
IF @caq_claim_type_id IS NOT NULL
BEGIN
IF @CLAIM_FORM_TYPE = 'Dental'
OR @CLAIM_FORM_TYPE = 'Predetermination'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND dc.dental_claim_type_id = caq.claim_type_id ';
END;

IF @CLAIM_FORM_TYPE = 'Professional'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND pc.professional_claim_type_id = caq.claim_type_id ';
END;

IF @CLAIM_FORM_TYPE = 'Institutional'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND ic.institutional_claim_type_id = caq.claim_type_id ';
END;
END;
--END OF: claim type--
END;

---END OF: FIELDS DEPENDENT ON CLAIM FORM TYPE---
--procedure code group--
-- NOTE - First we get by Claim Form Type (if present), but if not Claim Form Type
--        designated, we get all of them
IF @caq_procedure_code_group_id IS NOT NULL
BEGIN
-- Dental / PreDetermination
IF @CLAIM_FORM_TYPE = 'Dental'
OR @CLAIM_FORM_TYPE = 'Predetermination'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
INNER JOIN dental_claim dc on cp.claim_id = dc.claim_id
JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON cp.procedure_code_id = vw_procedure.procedure_code_id  --code column
OR cp.alternate_procedure_code_id =  vw_procedure.procedure_code_id -- alternate code column
WHERE vw_procedure.procedure_code_group_id = caq.procedure_code_group_id
) ';
END;

-- Professional
IF @CLAIM_FORM_TYPE = 'Professional'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
INNER JOIN professional_claim pc on cp.claim_id = pc.claim_id
JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON cp.procedure_code_id = vw_procedure.procedure_code_id
WHERE vw_procedure.procedure_code_group_id = caq.procedure_code_group_id
) ';
END;

-- Institutional - Procedure code is saved to procedure_code_2_id (procedure_code_id is the Service code)
IF @CLAIM_FORM_TYPE = 'Institutional'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
INNER JOIN institutional_claim ic on cp.claim_id = ic.claim_id
LEFT JOIN institutional_claim_other_procedure_code icopc
ON icopc.institutional_claim_id = ic.institutional_claim_id
LEFT JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON ic.pps_code_ud = vw_procedure.procedure_code_ud
OR ic.principal_procedure_code_ud = vw_procedure.procedure_code_ud
OR icopc.procedure_code_ud = vw_procedure.procedure_code_ud
OR cp.procedure_code_2_id = vw_procedure.procedure_code_id
WHERE vw_procedure.procedure_code_group_id = caq.procedure_code_group_id
) ';
END;

-- No Claim Form Type specified, so get all of them
IF @CLAIM_FORM_TYPE IS NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION +
N'
AND c.claim_id IN
(
-- professional, dental
SELECT cp.claim_id FROM claim_procedure cp
JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON cp.procedure_code_id = vw_procedure.procedure_code_id  --code column
OR cp.alternate_procedure_code_id =  vw_procedure.procedure_code_id -- alternate code column
WHERE vw_procedure.procedure_code_group_id = caq.procedure_code_group_id

UNION ALL

-- institutional px codes
SELECT cp.claim_id FROM claim_procedure cp
INNER JOIN institutional_claim ic on cp.claim_id = ic.claim_id
LEFT JOIN institutional_claim_other_procedure_code icopc
ON icopc.institutional_claim_id = ic.institutional_claim_id
LEFT JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON ic.pps_code_ud = vw_procedure.procedure_code_ud
OR ic.principal_procedure_code_ud = vw_procedure.procedure_code_ud
OR icopc.procedure_code_ud = vw_procedure.procedure_code_ud
OR cp.procedure_code_2_id = vw_procedure.procedure_code_id
WHERE vw_procedure.procedure_code_group_id = caq.procedure_code_group_id
) '
;
END;
END;

--END OF: procedure code group--
--diagnosis code group--
IF @caq_diagnosis_code_group_id IS NOT NULL
BEGIN
--NO PRED AND DENTAL--
-- add the restriction for Dx codes for Professional / Institutional
-- Professional
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
(
-- professional Dx codes
SELECT pc.claim_id as claim_id
FROM professional_claim pc
LEFT JOIN professional_claim_diagnosis_code pcdc
on pcdc.professional_claim_id = pc.professional_claim_id

JOIN vw_diagnosis_code_group_included_diagnosis_codes vw_diagnosis ON
pcdc.diagnosis_code_ud = vw_diagnosis.diagnosis_code_ud

WHERE vw_diagnosis.diagnosis_code_group_id = caq.diagnosis_code_group_id ';

-- Primary Dx has meaning for Institutional claims, but perhaps it could mean first listed dx on Professional
IF @CLAIM_DIAGNOSIS_TYPE = 'PRIMARY_DIAGNOSIS_CODE'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
and pcdc.professional_claim_diagnosis_code_sequence = 1 --primary ? ';
END;

-- Institutional -- we are doing the union in case a claim form type is not selected
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
UNION ALL

-- institutional Dx codes
SELECT ic.claim_id as claim_id
FROM institutional_claim ic
LEFT JOIN institutional_claim_diagnosis_code icdc
on icdc.institutional_claim_id = ic.institutional_claim_id

JOIN vw_diagnosis_code_group_included_diagnosis_codes vw_diagnosis ON
ic.primary_diagnosis_code_ud = vw_diagnosis.diagnosis_code_ud  --only needed for primary
WHERE vw_diagnosis.diagnosis_code_group_id = caq.diagnosis_code_group_id ';

-- add other dx codes if Any Diagnosis specified - Admitting, Other, Reason, Emergency
IF @CLAIM_DIAGNOSIS_TYPE = 'ANY_DIAGNOSIS'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
OR ic.admitting_diagnosis_code_ud = vw_diagnosis.diagnosis_code_ud
OR icdc.diagnosis_code_ud = vw_diagnosis.diagnosis_code_ud ';
END;

-- close the parens
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
) ';
END;

--END OF: diagnosis code group--
--service code group--
IF @caq_service_code_group_id IS NOT NULL
BEGIN
--ONLY Institutional - Service Codes are saved into procedure_code_id--
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
JOIN vw_procedure_code_group_included_procedure_codes vw_procedure
ON cp.procedure_code_id = vw_procedure.procedure_code_id  --service code group

WHERE vw_procedure.procedure_code_group_id = caq.service_code_group_id
) ';
END;

--END OF: service code group--
--institutional statement dates--
IF @caq_institutional_statement_from_date IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND DATEDIFF(day, ic.statement_from_date, caq.institutional_statement_from_date) <= 0 ';
END;

IF @caq_institutional_statement_thru_date IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND DATEDIFF(day, ic.statement_thru_date, caq.institutional_statement_thru_date) >= 0  ';
END;

--END OF: institutional statement dates--
-- Provider Identifier
IF @caq_provider_identifier_id IS NOT NULL
BEGIN
IF @CLAIM_PROVIDER_TYPE = 'ANY_PROVIDER'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND c.claim_id IN
( select distinct claim_id from claim c
where @caq_provider_identifier_id in (c.provider_identifier_id,  c.referring_provider_identifier_id, c.billing_provider_identifier_id))
';
END;
ELSE IF @CLAIM_PROVIDER_TYPE = 'BILLING_PROVIDER'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.provider_identifier_id = c.billing_provider_identifier_id';
END;
ELSE IF @CLAIM_PROVIDER_TYPE = 'RENDERING_PROVIDER'
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.provider_identifier_id = c.provider_identifier_id';
END;
END;

--disbursement date--
IF @caq_disursement_creation_date IS NOT NULL
BEGIN
SELECT @SQL_TMP_TABLE = @SQL_TMP_TABLE + N'
LEFT JOIN accounting_transaction_ap_claim_detail atacd1 on atacd1.claim_id = c.claim_id
LEFT JOIN accounting_transaction_ap ata1 on atacd1.accounting_transaction_ap_id = ata1.accounting_transaction_ap_id ';

SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND ata1.transaction_date = caq.disursement_creation_date ';
END;

--topic and value--
-- topic
IF @caq_additional_information_topic_id IS NOT NULL
BEGIN
SELECT @SQL_TMP_TABLE = @SQL_TMP_TABLE + N'
LEFT JOIN accounting_transaction_ap_claim_detail atacd2 on atacd2.claim_id = c.claim_id
LEFT JOIN accounting_transaction_ap ata2 on atacd2.accounting_transaction_ap_id = ata2.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_additional_information atapai2 on atapai2.accounting_transaction_ap_id = atacd2.accounting_transaction_ap_id ';

SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND atapai2.additional_information_topic_id = caq.additional_information_topic_id ';

-- topic value (optional)
IF @caq_additional_information_topic_value IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N' AND atapai2.additional_information_value = caq.additional_information_topic_value ';
END;
END;

--eligibilty--
IF @caq_family_eligibility_member_benefit_plan_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id';
END;

IF @caq_client_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.client_id = cg.client_id';
END;

IF @caq_client_set_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND cg.client_id IN
( select distinct client_id from client_set_detail csd
where csd.client_set_id = ' + CONVERT(NVARCHAR, @caq_client_set_id) + ') ';
END;

IF @caq_client_group_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.client_group_id = cg.client_group_id';
END;

IF @caq_client_group_set_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND cg.client_group_id IN
( select distinct client_group_id from client_group_set_detail cgsd
where cgsd.client_group_set_id = ' + CONVERT(NVARCHAR, @caq_client_group_set_id) + ') ';
END;

IF @caq_benefit_contract_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.benefit_contract_id = bc.benefit_contract_id ';
END;

--CLAIM STATUS
IF @caq_claim_status_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.claim_status_id = c.adjudication_status_id ';
END;

--CLAIM LINE STATUS
IF @caq_adjudication_status_id IS NOT NULL
AND @caq_adjudication_status_all_lines IS NULL -- Option for adjudicatin_status_all_lines has not been coded.
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.adjudication_status_id = cp.adjudication_status_id ';
END;

--enrollment--
IF @caq_family_eligibility_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.family_eligibility_id = fem.family_eligibility_id ';
END;

IF @caq_fee_schedule_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.fee_schedule_id = ark.fee_schedule_id ';
END;

-- check product on benefit_plan
IF @caq_product_id IS NOT NULL
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + N'
AND caq.product_id = bp.product_id ';
END;

--Check Queue Result Code Set
IF @caq_result_code_set_id IS NOT NULL
BEGIN
--Populate #temp_claim with claims that include the result codes in question at either the claim or claim line level
;

WITH cte_arc (
claim_id,
claim_procedure_id
)
AS (
SELECT DISTINCT claim_id,
claim_procedure_id
FROM claim_analysis_queue caq
LEFT JOIN result_code_set_result_code_assign arcs
ON arcs.result_code_set_id = caq.result_code_set_id
LEFT JOIN adjudication_result_code arc
ON arc.result_code_id = arcs.result_code_id
WHERE caq.claim_analysis_queue_id = @queue_id
AND format(getdate(), 'd', 'en-US') BETWEEN arcs.effective_from
AND isnull(arcs.effective_thru, getdate())
AND caq.result_code_set_id = arcs.result_code_set_id
)
SELECT claim_id
INTO #temp_claim
FROM (
SELECT cte_arc.claim_id
FROM cte_arc
WHERE cte_arc.claim_id IS NOT NULL

UNION

SELECT cp.claim_id
FROM claim_procedure cp
INNER JOIN cte_arc
ON cte_arc.claim_procedure_id = cp.claim_procedure_id
WHERE cte_arc.claim_id IS NULL
) t1;

SELECT @SQL_CONDITION = @SQL_CONDITION + N'
and c.claim_id in (select claim_id from #temp_claim)
';
END;

IF isnull(@DATE_TYPE_ID, 0) > 0
BEGIN
DECLARE @DOS_ID INT,
@CLEAN_ID INT,
@RECIEVED_ID INT,
@ADJ_ID INT,
@FROM_UNIT NVARCHAR(20),
@THRU_UNIT NVARCHAR(20),
@FROM INT,
@THRU INT,
@DATE_CONDITION NVARCHAR(1000),
@FROM_DATE NVARCHAR(20),
@THRU_DATE NVARCHAR(20);

SELECT @DOS_ID = claim_date_type_id
FROM claim_date_type
WHERE golden_key = 'DOS';

SELECT @CLEAN_ID = claim_date_type_id
FROM claim_date_type
WHERE golden_key = 'CLEAN';

SELECT @RECIEVED_ID = claim_date_type_id
FROM claim_date_type
WHERE golden_key = 'RECEIVED';

SELECT @ADJ_ID = claim_date_type_id
FROM claim_date_type
WHERE golden_key = 'ADJUDICATION_RUN';

SELECT @DATE_CONDITION = ' ';

SELECT @FROM_UNIT = CASE fu.golden_key
WHEN 'Days'
THEN 'day'
WHEN 'Weeks'
THEN 'week'
WHEN 'Months'
THEN 'month'
WHEN 'Years'
THEN 'year'
ELSE NULL
END,
@THRU_UNIT = CASE tu.golden_key
WHEN 'Days'
THEN 'day'
WHEN 'Weeks'
THEN 'week'
WHEN 'Months'
THEN 'month'
WHEN 'Years'
THEN 'year'
ELSE NULL
END,
@FROM = cast(value_from AS INT),
@THRU = cast(value_thru AS INT)
-- from and thru dates defined for this claim analysis filter
,
@FROM_DATE = convert(NVARCHAR, claim_date_type_from_date, 101),
@THRU_DATE = convert(NVARCHAR, claim_date_type_thru_date, 101)
FROM claim_analysis_queue caq
LEFT JOIN unit_day_week_month_year fu
ON fu.unit_day_week_month_year_id = caq.from_unit_day_week_month_year_id
LEFT JOIN unit_day_week_month_year tu
ON tu.unit_day_week_month_year_id = caq.thru_unit_day_week_month_year_id
WHERE caq.claim_analysis_queue_id = @queue_id;

--date of service
IF @DATE_TYPE_ID = @DOS_ID
BEGIN
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND EXISTS(select 1 from claim_procedure line2 where 1=1 ';

IF (
@FROM_UNIT IS NOT NULL
AND @FROM IS NOT NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND dateadd( ' + @FROM_UNIT + N' , -@FROM ,  @CUR_DATE)
) <= line2.service_from_date ';

IF (
@THRU_UNIT IS NOT NULL
AND @THRU IS NOT NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND dateadd(' + @THRU_UNIT + N', -@THRU ,  @CUR_DATE ) >= line2.service_from_date ';

-- DOS is after from date, if set in filter
IF (@FROM_DATE IS NOT NULL)
BEGIN
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, line2.service_from_date, @FROM_DATE ) <= 0  ';
END;

-- DOS is before thru date, if set in filter
IF (NOT @THRU_DATE IS NULL)
BEGIN
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, line2.service_thru_date, @THRU_DATE ) >= 0  ';
END;

SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND line2.claim_id = c.claim_id ) ';
END;
--clean claim date
ELSE IF @DATE_TYPE_ID = @CLEAN_ID
BEGIN
IF (
NOT @FROM_UNIT IS NULL
AND NOT @FROM IS NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @FROM_UNIT + N' , ISNULL(c.clean_date,  @CUR_DATE),  @CUR_DATE ) <=  @FROM ';

IF (
@THRU_UNIT IS NOT NULL
AND @THRU IS NOT NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @THRU_UNIT + N' , ISNULL(c.clean_date,  @CUR_DATE ),  @CUR_DATE ) >= @THRU ';

IF (NOT @FROM_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, c.clean_date, @FROM_DATE ) <= 0  ';

IF (NOT @THRU_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, c.clean_date, @THRU_DATE ) >= 0  ';
END;
--check received date
ELSE IF @DATE_TYPE_ID = @RECIEVED_ID
BEGIN
IF (
NOT @FROM_UNIT IS NULL
AND NOT @FROM IS NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @FROM_UNIT + N' , ISNULL(c.received_date,  @CUR_DATE ),  @CUR_DATE ) <=  @FROM ';

IF (
NOT @THRU_UNIT IS NULL
AND NOT @THRU IS NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @THRU_UNIT + N', ISNULL(c.received_date,  @CUR_DATE ),  @CUR_DATE ) >= @THRU ';

IF (NOT @FROM_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, c.received_date, @FROM_DATE ) <= 0  ';

IF (NOT @THRU_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, c.received_date, @THRU_DATE ) >= 0  ';
END;
--check adjudication run start date
ELSE IF @DATE_TYPE_ID = @ADJ_ID
BEGIN
IF (
@FROM_UNIT IS NOT NULL
AND @FROM IS NOT NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @FROM_UNIT + N', ISNULL(ar.start_date,  @CUR_DATE ),  @CUR_DATE ) <=  @FROM ';

IF (
NOT @THRU_UNIT IS NULL
AND NOT @THRU IS NULL
)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND datediff(' + @THRU_UNIT + N', ISNULL(ar.start_date,  @CUR_DATE ),  @CUR_DATE ) >= @THRU ';

IF (NOT @FROM_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, ar.start_date, @FROM_DATE ) <= 0  ';

IF (NOT @THRU_DATE IS NULL)
SELECT @DATE_CONDITION = @DATE_CONDITION + N' AND DATEDIFF(day, ar.start_date, @THRU_DATE ) >= 0  ';
END;

SELECT @SQL_CONDITION = @SQL_CONDITION + @DATE_CONDITION;
END;

SELECT @SQL_FINAL_SELECT = N'
SELECT TOP (@SELECTION_COUNT)
c.claim_id,
sum(
CASE WHEN ISNULL(cp.is_system_generated, 0) = 0 THEN cp.charge
ELSE 0
END)
as total_billed_charges,
sum(isnull(ara.net_payment,0)) as total_net_payment
INTO #temp_charges
FROM #TEMP_PROCESSING_FILTER c
INNER JOIN claim_procedure cp ON cp.claim_id = c.claim_id
LEFT JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = cp.claim_procedure_id
AND ISNULL(c.plan_iteration_index,0) = ISNULL(ara.plan_iteration_index,0)
GROUP BY c.claim_id
;

SELECT TOP (@SELECTION_COUNT)
c.claim_id,
c.claim_ud,
c.received_date,
c.claim_form_type_ud,
c.claim_form_type_gk,
c.vendor_ud,
c.member_eligibility_ud,
c.provider_ud,
c.adjudication_status_ud,
t1.total_billed_charges,
T1.total_net_payment
INTO #TMP_CLAIM_SET
FROM #TEMP_PROCESSING_FILTER c
INNER Join #temp_charges t1
on c.claim_id = t1.claim_id
';

--* Benchmark
SELECT @SQL_GROUP = @SQL_GROUP + N' ORDER BY newid() ';

SELECT @SQL_SELECT = N'
SELECT DISTINCT  ';--* Change this before deploying!

IF (@select_claim_set_columns = 1)
SELECT @SQL_SELECT = @SQL_SELECT + N'
null as claim_analysis_set_claim_id,
null as claim_analysis_set_id,';

SELECT @SQL_SELECT = @SQL_SELECT + N'
claim_id,
claim_ud,
received_date,
claim_form_type_ud,
claim_form_type_gk,
vendor_ud,
member_eligibility_ud,
provider_ud,
adjudication_status_ud,
total_billed_charges,
total_net_payment,
null as active,
null as created_user_name,
null as created_group_id,
null as created_date,
null as modified_date
FROM #TMP_CLAIM_SET
where 1= 1 ';

IF isnull(@SELECTION_KEY, '') = 'Highest Value'
SELECT @SQL_ORDER = N' ORDER BY total_billed_charges DESC ';
ELSE IF isnull(@SELECTION_KEY, '') = 'Oldest Claim First'
SELECT @SQL_ORDER = N' ORDER BY received_date ASC ';
ELSE
SELECT @SQL_ORDER = N' ORDER BY claim_ud ASC ';-- default

--- END of Dynamic SQL setup
DECLARE @claim_analysis_queue_ud NVARCHAR(50),
@message NVARCHAR(128),
@end_time DATETIME,
@begin_time DATETIME;

SELECT @claim_analysis_queue_ud = claim_analysis_queue_ud
FROM claim_analysis_queue
WHERE claim_analysis_queue_id = @queue_id;

PRINT ' ';

SELECT @message = '----- Queue name: ' + isnull(@claim_analysis_queue_ud, 'Unknown');

PRINT @message;

SET @begin_time = getdate();

SELECT @SQL = @SQL_DEFINE_POPULATION_AND_SELECTION_COUNT + CHAR(13) + @SQL_TMP_TABLE + CHAR(13) + @SQL_CONDITION + N';' + CHAR(13);

SELECT @SQL = @SQL + @SQL_POPULATE_POPULATION_AND_SELECTION_COUNT + ';' + CHAR(13) + @SQL_FINAL_SELECT + CHAR(13) + @SQL_SELECT + CHAR(13) + @SQL_ORDER + N';' + CHAR(13);

EXEC sp_executesql @SQL,
N'@OPEN_ID		int,
@ADJ_OBJ_FEE_SCHED_ID int,
@ADJ_OBJ_NETWORK_ID int,
@queue_id		int,
@ADJ_OBJ_NET_PAY_ID int,
@CUR_DATE		datetime,
@FROM_UNIT		nvarchar(20),
@THRU_UNIT      nvarchar(20),
@FROM           int,
@THRU           int,
@FROM_DATE      nvarchar(20),
@THRU_DATE      nvarchar(20),
@caq_provider_identifier_id int'
-- parameters
,
@OPEN_ID = @OPEN_ID,
@ADJ_OBJ_FEE_SCHED_ID = @ADJ_OBJ_FEE_SCHED_ID,
@ADJ_OBJ_NETWORK_ID = @ADJ_OBJ_NETWORK_ID,
@queue_id = @queue_id,
@ADJ_OBJ_NET_PAY_ID = @ADJ_OBJ_NET_PAY_ID,
@CUR_DATE = @CUR_DATE,
@FROM_UNIT = @FROM_UNIT,
@THRU_UNIT = @THRU_UNIT,
@FROM = @FROM,
@THRU = @THRU,
@FROM_DATE = @FROM_DATE,
@THRU_DATE = @THRU_DATE,
@caq_provider_identifier_id = @caq_provider_identifier_id;

SELECT @message = 'Elapsed time minutes: ' + cast(datediff(minute, @begin_time, getdate()) AS NVARCHAR(30)) + ' ' + 'Elapsed time seconds: ' + cast(datediff(second, @begin_time, getdate()) AS NVARCHAR(30));

PRINT @message;
PRINT '';
PRINT @SQL_DEFINE_POPULATION_AND_SELECTION_COUNT + @SQL_TMP_TABLE + @SQL_CONDITION;
PRINT @SQL_POPULATE_POPULATION_AND_SELECTION_COUNT + @SQL_FINAL_SELECT + @SQL_GROUP;
PRINT @SQL_SELECT + @SQL_ORDER;
PRINT @sql

RETURN 0;
END;
GO
