USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_contract_accumulator_framework_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivas Kunche
DATE: 	07/26/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2005	Srinivasa	1.0		create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads all the accumulator frameworks.
--
REQUIREMENTS:
--
INPUTS:




--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_dd_benefit_contract_accumulator_framework_load]
as
begin


SET NOCOUNT ON


select distinct(af.accumulator_framework_id),af.accumulator_framework_ud
from
benefit_plan as bp
inner join
benefit_plan_accumulator_framework as bpaf
on bp.benefit_plan_id=bpaf.benefit_plan_id

inner join benefit_contract_period_benefit_plan as bcpbp
on bp.benefit_plan_id=bcpbp.benefit_plan_id

inner join benefit_contract_period as bcp
on bcpbp.benefit_contract_period_id=bcp.benefit_contract_period_id

inner join accumulator_framework as af
on bpaf.accumulator_framework_id=af.accumulator_framework_id


return @@rowcount

SET NOCOUNT OFF
end
GO
