USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_find_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/15/2005	ptran			1.1		Allow wildcard search, cgn.primary_name = 1
09/08/2005	mttran					query product line, product based on benefit plan
01/23/2006	thha					Update Unicode data comparision string (add N')
02/10/2006	HungTNguyen				add cn.primary_name = 1
03/10/2006  hthan					get more field client_group_name_id
05/14/2009	David Slayton	1.6		Added ability to short circuit where clause to just return column names.
07/27/2009  eponomareff    1.7      removed 1:M child columns from result set to prevent duplicate rows on find form
11/17/2011	ggutshall		1.8		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.8
--
DESCRIPTION:
Find all the Benefit Contracts based on the criteria entered on the form.
The returned results must contain the Benefit Contract ID, Benefit Contract Name,
Group ID, Group Name, Benefit Plan ID, Benefit Plan Name, Product Line, and Product.
Merge with plx_benefit_contract_template_find_load ???
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_ud		nvarchar(100) = NULL
@benefit_contract_nm		nvarchar(200) = NULL
@description			nvarchar(510) = NULL
@client_group_id		nvarchar(100) = NULL
@client_group_ud		nvarchar(200) = NULL
@benefit_plan_id		int = NULL
@line_of_business_id	int = NULL
@show_exact_matches		bit = NULL

--
OUTPUTS:
a benefit contract record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_find_load]
(
@get_column_headers	bit = 0
,@benefit_contract_ud	nvarchar(100) = NULL
,@benefit_contract_nm	nvarchar(200) = NULL
,@description			nvarchar(510) = NULL
,@client_id				int = NULL
,@client_group_id		int = NULL
,@benefit_plan_id		int = NULL
--,@product_id			int = NULL
,@line_of_business_id	int = NULL
,@show_exact_matches	bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
DECLARE @strSQL nvarchar(3990)
IF RTRIM(@benefit_contract_ud) = ''
SET @benefit_contract_ud = NULL
IF RTRIM(@benefit_contract_nm) = ''
SET @benefit_contract_nm = NULL
IF RTRIM(@description) = ''
SET @description = NULL

IF @client_group_id <= 0
SET @client_group_id = NULL
IF @client_id <= 0
SET @client_id = NULL
IF @benefit_plan_id <= 0
SET @benefit_plan_id = NULL
IF @line_of_business_id <= 0
SET @line_of_business_id = NULL

SET @strSQL =
'SELECT  DISTINCT TOP (dbo.fn_results_limit())
bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm' +
', cgn.client_group_name_id' +
', cgn.client_group_ud' +
', cgn.client_group_nm' +
', cn.client_ud' +
', cn.client_id' +
', b.billing_type_ud' +
', bc.client_group_id' +
'
FROM benefit_contract bc
LEFT JOIN client_group cg ON (cg.client_group_id = bc.client_group_id)
LEFT JOIN client c ON c.client_id = cg.client_id
LEFT JOIN client_name cn on ((cn.client_id = c.client_id )and cn.primary_name=1)
LEFT JOIN client_group_name cgn ON ((cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1))
LEFT JOIN billing_type b ON b.billing_type_id = cg.billing_type_id
LEFT JOIN benefit_contract_period bcp ON (bcp.benefit_contract_id = bc.benefit_contract_id)
LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON (bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id)
LEFT JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)
LEFT JOIN line_of_business lob ON (lob.line_of_business_id = bc.line_of_business_id)

WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0
AND ((bc.benefit_contract_template IS NULL) OR (bc.benefit_contract_template = 0))
'

IF (NOT @show_exact_matches IS NULL) AND (@show_exact_matches = 1)
BEGIN
IF NOT @benefit_contract_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_ud, '''') = N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_ud,@show_exact_matches) + ''')'
IF NOT @benefit_contract_nm IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_nm, '''') = N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_nm,@show_exact_matches) + ''')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.description, '''') = N''' + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + ''')'
END
ELSE
BEGIN
IF NOT @benefit_contract_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_ud, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_ud,@show_exact_matches) + '%'')'
IF NOT @benefit_contract_nm IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_nm, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_nm,@show_exact_matches) + '%'')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.description, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + '%'')'
END

IF NOT @client_group_id IS NULL
SET @strSQL = @strSQL + ' AND (bc.client_group_id = ' + CONVERT(varchar(10), @client_group_id) + ')'

IF NOT @client_id IS NULL
SET @strSQL = @strSQL + ' AND (cg.client_id = ' + CONVERT(varchar(10), @client_id) + ')'

IF NOT @line_of_business_id IS NULL
SET @strSQL = @strSQL + ' AND (bc.line_of_business_id = ' + CONVERT(varchar(10), @line_of_business_id) + ')'

IF NOT @benefit_plan_id IS NULL
SET @strSQL = @strSQL + ' AND (bcpbp.benefit_plan_id = ' + CONVERT(varchar(10), @benefit_plan_id) + ')'

-- Add ORDER BY only when searching by benefit_contract_ud for consistent results
IF NOT @benefit_contract_ud IS NULL
SET @strSQL = @strSQL + ' ORDER BY bc.benefit_contract_ud'

--print '--------QUERY---------'
--print @strSQL
--print '------END QUERY-------'


exec(@strSQL)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
