USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to load a timely claim payment filter.
--
REQUIREMENTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_timely_payment_queue_load]
(
@claim_timely_payment_queue_id			INT = NULL
)
AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
filter.claim_timely_payment_queue_id,
filter.claim_timely_payment_queue_ud,
filter.[description],
filter.payment_penalty_calendar_id,
ppc.payment_penalty_calendar_ud,
filter.state_set_id,
ss.state_set_ud,
filter.claim_date_type_id,
cdt.claim_date_type_ud,
filter.claim_form_type_id,
filter.claim_adjudication_status_id,
filter.claim_procedure_adjudication_status_id,
filter.claim_payment_process_status_id,
filter.age_in_days_from,
filter.age_in_days_thru,
filter.effective_from,
filter.effective_thru,
filter.only_paper_claims,
filter.generated_date
FROM claim_timely_payment_queue filter
LEFT JOIN payment_penalty_calendar ppc ON filter.payment_penalty_calendar_id = ppc.payment_penalty_calendar_id
LEFT JOIN state_set ss ON filter.state_set_id = ss.state_set_id
LEFT JOIN claim_date_type cdt ON cdt.claim_date_type_id = filter.claim_date_type_id

WHERE filter.claim_timely_payment_queue_id = @claim_timely_payment_queue_id
GO
