USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
Jul 18 2006  2:31PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/18/2006	Anh Ta		1.0		Created and Used for 13931	Claims Duplicate Rule and Configuration
01/21/2008	Vishwa Jella	1.1 		Updated with cascade delete for child record
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the duplicate_claim_rule table.
--
REQUIREMENTS:
--
INPUTS:
@duplicate_claim_rule_id - Key to duplicate_claim_rule table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_duplicate_claim_rule_delete]
(
@duplicate_claim_rule_id                    int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM dbo.duplicate_claim_rule WHERE duplicate_claim_rule_id = @duplicate_claim_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DELETE FROM dbo.duplicate_claim_rule_duplicate_claim_rule_field
WHERE duplicate_claim_rule_id = @duplicate_claim_rule_id

DELETE FROM dbo.duplicate_claim_rule
WHERE duplicate_claim_rule_id = @duplicate_claim_rule_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
