USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoicing_frequency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
DESCRIPTION:
List of frequencies allowed for premium invoicing periods
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_invoicing_frequency_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
frequency_id as invoicing_frequency_id
,frequency_ud as invoicing_frequency_ud
,golden_key

FROM frequency
WHERE golden_key in
('Weekly',
'Bi-Weekly',
'Monthly',
'Quarterly',
'Semiannually',
'Annually')
ORDER BY sort_order DESC
--
RETURN @SP_SUCCESS
--
GO
