USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 08/03/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/03/2005	hthan		1.0		Created
03/12/2013	cmaddox		1.1		Need to delete associated result code overrides
09/04/2014  eponomareff             RT:6046 Data modification project
10/20/2017	eponomareff				RT:11929 - Delete COB information for claim (new schema)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete frmDentalClaim object.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dental_claim_delete]
(
@dental_claim_id         INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS          INT,
@SP_EXCEPTION        INT,
@ERROR_CANT_DELETE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE   = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--
DECLARE @claim_id INT
DECLARE @ErrorVar int, @RowCountVar int;

IF NOT EXISTS (SELECT * FROM dental_claim WHERE dental_claim_id = @dental_claim_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

SELECT	@claim_id = claim_id FROM dental_claim WHERE dental_claim_id = @dental_claim_id

------------------------------------------------------
-- RT:11929 -	Delete COB info first, because some
--				tables reference to claim_procedure
--				and claim_cob_payer table
------------------------------------------------------
-- DELETE COB BEGIN
------------------------------------------------------
-- claim_procedure_cob_amount
DELETE cpca
FROM dbo.claim_procedure_cob_amount cpca
INNER JOIN dbo.claim_procedure cp
ON cp.claim_procedure_id = cpca.claim_procedure_id
WHERE cp.claim_id = @claim_id

-- claim_procedure_cob_adjustment
DELETE cpca
FROM dbo.claim_procedure_cob_adjustment cpca
INNER JOIN dbo.claim_procedure cp
ON cp.claim_procedure_id = cpca.claim_procedure_id
WHERE cp.claim_id = @claim_id

-- claim_cob_adjustment
DELETE cca
FROM dbo.claim_cob_adjustment cca
INNER JOIN claim_cob_payer ccp
ON cca.claim_cob_payer_id = ccp.claim_cob_payer_id
WHERE ccp.claim_id = @claim_id

-- claim_cob_adjustment
DELETE dbo.claim_cob_payer
WHERE claim_id = @claim_id

------------------------------------------------------
-- DELETE COB END
------------------------------------------------------

DECLARE @claim_procedure_id INT

DECLARE crs_claim_procedure CURSOR FAST_FORWARD
FOR
SELECT	claim_procedure_id
FROM	claim_procedure
WHERE	claim_id = @claim_id

OPEN crs_claim_procedure

WHILE 1 = 1
BEGIN
FETCH NEXT FROM crs_claim_procedure
INTO @claim_procedure_id

IF @@FETCH_STATUS <> 0
BREAK

EXEC plx_claim_procedure_delete @claim_procedure_id
END

CLOSE crs_claim_procedure
DEALLOCATE crs_claim_procedure

DELETE FROM claim_episode
WHERE claim_id = @claim_id

DELETE FROM claim_illness_injury
WHERE claim_id = @claim_id

DELETE FROM missing_patient_information
WHERE claim_id = @claim_id

DELETE FROM missing_provider_information
WHERE claim_id = @claim_id

DELETE FROM missing_patient_employment_information
WHERE claim_id = @claim_id

DELETE FROM missing_facility_information
WHERE claim_id = @claim_id

DELETE FROM missing_subscriber_information
WHERE claim_id = @claim_id

DELETE FROM missing_vendor_information
WHERE claim_id = @claim_id

DELETE FROM missing_subscriber_employment_information
WHERE claim_id = @claim_id

DELETE FROM missing_tooth_detail
WHERE claim_id = @claim_id

DELETE FROM claim_attachment
WHERE claim_id = @claim_id

DELETE FROM linked_claim_information
WHERE claim_id = @claim_id

--When Claim Additional Date becomes a grid, this deletion needs to be reviewed
DELETE FROM claim_additional_date
WHERE claim_id = @claim_id


DELETE FROM claim_additional_reference_number WHERE claim_id = @claim_id

DELETE FROM claim_certification_condition WHERE claim_id = @claim_id

-- delete the associated claim transport records
DELETE FROM claim_transport_address
WHERE claim_transport_id IN
(select claim_transport_id FROM claim_transport WHERE claim_id = @claim_id)

DELETE FROM claim_transport WHERE claim_id = @claim_id



DELETE FROM dental_claim_additional_information
WHERE dental_claim_id = @dental_claim_id

DELETE FROM dental_claim_predetermination
WHERE dental_claim_id = @dental_claim_id

DELETE FROM dental_claim_diagnosis_code
WHERE dental_claim_id = @dental_claim_id

DELETE FROM dental_claim
WHERE dental_claim_id = @dental_claim_id

DELETE FROM adjudication_result_code_override
WHERE adjudication_result_code_id IN
(
SELECT adjudication_result_code_id
FROM adjudication_result_code
WHERE claim_id = @claim_id
)

DELETE FROM adjudication_result_code
WHERE claim_id = @claim_id

DELETE FROM claim_referral WHERE claim_id = @claim_id

DELETE FROM claim_override WHERE claim_id = @claim_id

DELETE FROM claim WHERE claim_id = @claim_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
