USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_internet_address_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  5:59PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save contact internet address

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_contact_internet_address_save]
(
@contact_internet_address_id                int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@internet_address_id                        int = NULL   OUTPUT
,@internet_address_type_id                   int = NULL
,@internet_address                           nvarchar(255) = NULL
,@primary_for_contact                        bit = NULL
,@active                                     bit = NULL
) AS
BEGIN

SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '1588800010',
@ERROR_NOT_EXIST	= '1588800011'


IF @contact_internet_address_id is Null
BEGIN
--- Create a new internet_address record
INSERT INTO internet_address(
internet_address_type_id
,internet_address
,active
)
VALUES
(@internet_address_type_id
,@internet_address
,@active
)
SET @internet_address_id = @@IDENTITY
--- Create a new contact_internet_address record
INSERT INTO contact_internet_address(
contact_id
,internet_address_id
,primary_for_contact
,active
)
VALUES
(@contact_id
,@internet_address_id
,@primary_for_contact
,@active
)
--
SET @contact_internet_address_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM contact_internet_address WHERE contact_internet_address_id = @contact_internet_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE
BEGIN
--- Updating an existing internet_address record
UPDATE internet_address
SET
internet_address_type_id                 = @internet_address_type_id
,internet_address                         = @internet_address
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE internet_address_id = @internet_address_id

--- Updating an existing contact_internet_address record
UPDATE contact_internet_address
SET
contact_id                               = @contact_id
,internet_address_id                      = @internet_address_id
,primary_for_contact                      = @primary_for_contact
,active             = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE contact_internet_address_id = @contact_internet_address_id
END
RETURN @SP_SUCCESS
END
GO
