USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_system_config_claim_attachment_type_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachment type codes on the system configuration form
******************************/
CREATE PROCEDURE [dbo].[plx_dd_system_config_claim_attachment_type_code_load]
AS
SELECT
atatc.claim_attachment_type_code_id,
atatc.claim_attachment_type_code_ud,
atatc.description
FROM dbo.claim_attachment_type_code atatc
ORDER BY atatc.claim_attachment_type_code_ud
RETURN 0
GO
