USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_invoice_date_rule_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/06/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/06/2009  W.Christensen  1.0      Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a client_fee_setup_invoice_date_rule record.
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_invoice_date_rule_delete]
(
@client_fee_setup_invoice_date_rule_id                      int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '',
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM client_fee_setup_invoice_date_rule WHERE client_fee_setup_invoice_date_rule_id = @client_fee_setup_invoice_date_rule_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- Delete parent record
DELETE client_fee_setup_invoice_date_rule
WHERE client_fee_setup_invoice_date_rule_id = @client_fee_setup_invoice_date_rule_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
