USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 03/13/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
03/13/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete AR transactions.

Delete Condition:	Transaction is Manually created. And Is not existing in any invoice.
If Transaction is created by other process, we can't delete it


--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_delete]
(
@accounting_transaction_id			int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int
SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1

IF NOT EXISTS (SELECT * FROM accounting_transaction_ar WHERE accounting_transaction_ar_id = @accounting_transaction_id )
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this transaction is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_accounting_transaction_ar_check_delete @accounting_transaction_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete child tables
DELETE FROM accounting_transaction_ar_premium_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ar_premium_fee_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ar_eligibility_premium_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_id

DELETE FROM accounting_transaction_ar_additional_information
WHERE accounting_transaction_ar_id = @accounting_transaction_id

--Delete the accounting_transaction_ar
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_id

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION
END
--
RETURN @SP_SUCCESS
--
GO
