USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_benefit_plan_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen
Date: 10/29/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
10/29/2005	HiepNguyen		1.0		Created
10/31/2005	HiepNguyen		1.1		get client_group_id, client_group_ud, client_group_nm, client_id, client_ud, client_nm
11/10/2005	HiepNguyen		1.2		remove client_group_id, client_group_ud, client_group_nm, client_id, client_ud, client_nm
01/23/2006	ThuyHa					add Unicode comparision prefix
05/12/2009	David Slayton	1.3		Added ability to short circuit where clause to just return column names.
07/27/2009  eponomareff    1.4      removed 1:M child data to avoid duplicate rows being returned by find form.
11/17/2011	ggutshall		1.5		Added returnset limitations
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Finds member based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                   PROCEDURE [dbo].[plx_find_benefit_plan_load]
(
@get_column_headers			BIT = 0,
@benefit_plan_ud	nvarchar(50) = null,
@benefit_plan_nm	nvarchar(100) = null,
@description 		nvarchar(250) = null,
@benefit_category_id	int = null,
@benefit_sub_category_id	int = null,
@product_line_id	int = null,
@product_id	int = null,
@benefit_contract_id	int = null,
@show_exact_matches	BIT= 0

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

IF @benefit_plan_ud IS NOT NULL AND @benefit_plan_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(bp.benefit_plan_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@benefit_plan_ud, @show_exact_matches) + @Suffix

IF @benefit_plan_nm IS NOT NULL AND @benefit_plan_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(bp.benefit_plan_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@benefit_plan_nm, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(bp.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @benefit_category_id IS NOT NULL

SET @SqlCondition = @SqlCondition + ' AND (bf.benefit_category_id =  ' +  CONVERT(nvarchar, @benefit_category_id ) + ')'

IF @benefit_sub_category_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (bf.benefit_sub_category_id =  ' + CONVERT(nvarchar, @benefit_sub_category_id) + ')'

IF @product_line_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (bp.product_line_id = ' + CONVERT(nvarchar, @product_line_id) + ')'

IF @product_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (bp.product_id = ' + CONVERT(NVARCHAR, @product_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (bct.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id) + ')'

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit()) ' +
'		bp.benefit_plan_id, ' +
'		bp.description as benefit_plan_description, ' +
'		bp.benefit_plan_nm, ' +
'		bp.benefit_plan_ud, ' +
'		bp.product_line_id, ' +
'		bp.product_id, ' +
'		bp.benefit_plan_id as benefit_benefit_plan_id, ' +
'		bp.benefit_plan_ud as benefit_benefit_plan_ud, ' +
'		bp.benefit_plan_nm as benefit_benefit_plan_nm, ' +
'		bf.benefit_category_id, ' +
'		bf.benefit_sub_category_id, ' +
'		bc.benefit_category_ud, ' +
'		bsc.benefit_sub_category_ud ' +
--'		, pl.product_line_ud, ' +
--'		p.product_ud, ' +
--'		bct.benefit_contract_id, ' +
--'		bct.benefit_contract_ud, ' +
--'		bct.benefit_contract_nm ' +
'	FROM ' +
'		benefit_plan bp ' +
'		LEFT JOIN product_line pl ON pl.product_line_id = bp.product_line_id ' +
'		LEFT JOIN product p ON p.product_id = bp.product_id ' +
'		LEFT JOIN benefit_framework bf ON bf.benefit_framework_id = bp.benefit_framework_id ' +
'		LEFT JOIN benefit_category bc ON bc.benefit_category_id = bf.benefit_category_id ' +
'		LEFT JOIN benefit_sub_category bsc ON bsc.benefit_sub_category_id = bf.benefit_sub_category_id ' +
'		LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id ' +
'		LEFT JOIN benefit_contract_period pcp ON pcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id ' +
'		LEFT JOIN benefit_contract bct ON bct.benefit_contract_id = pcp.benefit_contract_id	'

EXEC(@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
