USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_credit_memo_detail_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
To load data into Customer Credit Memos Applied To Invoice grid
on Invoice form. (Grid is read-only)
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_credit_memo_detail_transactions_load]
(
@accounting_transaction_ar_id	INT = NULL	-- Invoice ID	( = @to_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON
--
SELECT
apply_to.accounting_transaction_ar_apply_to_id
,ata.transaction_date
,ata.accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud
,apply_to.amount
,det.memo
,cm_status.accounting_credit_memo_status_id
,cm_status.accounting_credit_memo_status_ud
,cm_status.golden_key as accounting_credit_memo_status_gk
,apply_to.is_posted
FROM accounting_transaction_ar_apply_to AS apply_to
JOIN accounting_transaction_ar ata
ON apply_to.from_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
JOIN accounting_transaction_ar_credit_memo_detail det
ON  det.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_credit_memo_status cm_status
ON det.accounting_credit_memo_status_id = cm_status.accounting_credit_memo_status_id
WHERE apply_to.to_accounting_transaction_ar_id = @accounting_transaction_ar_id;

RETURN 0;
--
GO
