USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_additional_information_data_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005	Lamnguyen	1.0		Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to load data for drop down additional_information_data_type (Topic Data Type)
--
REQUIREMENTS:
--
INPUTS:
None
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_dd_additional_information_data_type_load]

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
additional_information_data_type.additional_information_data_type_id
,additional_information_data_type.additional_information_data_type_ud
--,ui_engine_data_type.ui_engine_data_type_ud
--,ui_engine_data_type.data_type_name
,additional_information_data_type.ui_engine_data_type_id as golden_key -- re-use golden_key column


FROM additional_information_data_type
left join ui_engine_data_type on ui_engine_data_type.ui_engine_data_type_id=additional_information_data_type.ui_engine_data_type_id
order by ui_engine_data_type.data_type_name

--
RETURN @SP_SUCCESS
--
GO
