USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Sep 8 2005  4:46PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/20/2006	Trinh Le			Apply changes on "Benefit_class" table
03/22/2006	Trinh Le			Get Benefit class Id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of a benefit class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_benefit_class_load]
(
@benefit_class_id  int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
--      ,accumulator_class.class_data_type_id
,ui_engine_data_type.data_type_name as class_data_type_ud
,ui_engine_data_type.ui_engine_data_type_id
FROM benefit_class
--Trinh Le commented out
--left join class_data_type  ON class_data_type.class_data_type_id = benefit_class.class_data_type_id
--	left join ui_engine_data_type ON ui_engine_data_type.ui_engine_data_type_id = class_data_type.ui_engine_data_type_id
left join ui_engine_data_type ON ui_engine_data_type.ui_engine_data_type_id = benefit_class.ui_engine_data_type_id
WHERE  benefit_class.benefit_class_id= @benefit_class_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
