USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_grace_period_status_override_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 11/22/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/22/2010	Chad Maddox		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid Override Grace Period Status
in the Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_grace_period_status_override_load]
(
@family_eligibility_id	int = null
)
as
SELECT
bcgpso.family_eligibility_grace_period_status_override_id,
bcgpso.grace_period_status_id,
bcgpso.effective_from,
bcgpso.effective_thru,
bcgpso.comment,
bcgpso.active,
bcgpso.created_user_name,
bcgpso.modified_user_name,
bcgpso.created_group_id,
bcgpso.created_date,
bcgpso.modified_date
FROM
family_eligibility_grace_period_status_override bcgpso
WHERE bcgpso.family_eligibility_id = @family_eligibility_id
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru
GO
