USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_identifier_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  1 2006  2:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	hthan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage identifier grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:
agent_identifier_id - Key to agent_identifier table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_brokerage_identifier_list_load]
(
@brokerage_id			int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_identifier.agent_identifier_id
,agent_identifier.agent_id as brokerage_id
,agent_identifier.agent_id_type_id as brokerage_id_type_id
,agent_identifier.agent_ud as brokerage_ud
,agent_identifier.is_default
,agent_identifier.effective_from     as identifier_effective_from
,agent_identifier.effective_thru     as identifier_effective_thru
FROM agent_identifier
WHERE agent_identifier.agent_id = @brokerage_id
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru DESC
--
RETURN @SP_SUCCESS
GO
