USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_status_in_the_disability_set_list_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 10/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/05/2005		HungTNguyen  1.0     Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete row in Disability set grid

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disability_status_in_the_disability_set_list_delete]
(
@disability_status_in_the_disability_set_id Int
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM disability_status_in_the_disability_set WHERE disability_status_in_the_disability_set_id = @disability_status_in_the_disability_set_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM disability_status_in_the_disability_set
WHERE disability_status_in_the_disability_set_id = @disability_status_in_the_disability_set_id
END
--
RETURN @SP_SUCCESS
--
GO
