USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_company_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/29/2005	Nghi Nguyen	1.0		Created
04/28/2006	Anh Ta		1.0		Using for 10511 Accouting Transaction
04/28/2006	Lamnguyen	1.0		Using for 10511 Accouting Transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_accounting_transaction_type from the accounting_transaction_type table.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_accounting_company_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_company_id
,accounting_company_ud

FROM accounting_company
ORDER BY accounting_company_ud
--
RETURN @SP_SUCCESS
--
GO
