USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_rules_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
DATE: 2006/02/18
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/03	ThuyHa				Change table benefit_period_benefit_plan_choice_list
to table benefit_contract_benefit_accumulator_choice_resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if we are able to delete an benefit coverage rule
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                  PROCEDURE [dbo].[plx_benefit_coverage_rules_check_delete]
(
@benefit_coverage_rules_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1

SELECT @FINAL_RESULT = @SP_DELETE_ABLE

IF NOT EXISTS (	SELECT 	1
FROM 	benefit_coverage_rules
WHERE 	benefit_coverage_rules_id = @benefit_coverage_rules_id)
BEGIN
RETURN @SP_EXCEPTION
END

-- Cannot DELETE if benefit coverage rule is resolved at a Benefit Plan
IF EXISTS (SELECT 1 FROM benefit_plan_benefit_class_choice_resolution bpbccr
WHERE bpbccr.benefit_coverage_rules_id = @benefit_coverage_rules_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if benefit coverage rule is resolved at Eligibility
IF EXISTS (SELECT 1 FROM family_eligibility_benefit_class_choice_list_resolution febcclr
WHERE febcclr.benefit_coverage_rules_id = @benefit_coverage_rules_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if benefit coverage rule is resolved at an Episode
IF EXISTS (SELECT 1 FROM episode_benefit_class_choice_list_resolution ebcclr
WHERE ebcclr.benefit_coverage_rules_id = @benefit_coverage_rules_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if benefit coverage rule is resolved at a Benefit Contract
IF EXISTS	(
SELECT	1
FROM	benefit_contract_benefit_class_choice_resolution
WHERE	benefit_coverage_rules_id = @benefit_coverage_rules_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END


RETURN @FINAL_RESULT
END
GO
