USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_clear_old]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	

CREATE PROCEDURE [dbo].[plx_claim_clear_old]
    (
        @ClaimId           INT
    ,   @commit            BIT      = NULL
    ,   @debug             SMALLINT = NULL
    ,   @ClaimProcedureIDs udtt_claim_clear_claim_procedure_ids READONLY
    )
AS
BEGIN
    SET NOCOUNT ON;

    -- Return constants
    DECLARE @ResultCodeNoWorries INT = 0;
    DECLARE @ResultCodeClosedClaim INT = -1;
    DECLARE @ResultCodeNoClaim INT = -2;
    -- drg_apc_id table
    DECLARE @InstClaimDrgApcIds TABLE
        (
            drg_apc_result_id INT
        );
    DECLARE @ClaimProcedureDrgApcIds TABLE
        (
            drg_apc_result_id INT
        );
    DECLARE @CheckClaimId INT;
    DECLARE @ClaimUd NVARCHAR(50);
    DECLARE @ClaimFormTypeUd NVARCHAR(50);
    DECLARE @AdjudicationStatusId INT;
    DECLARE @OriginalAdjudicationStatusId INT;
    DECLARE @ClaimPaymentProcessAvailable INT;

    DECLARE @udtt_claim_clear_adjudication_amount_override_ids AS udtt_claim_clear_adjudication_amount_override_ids;
    DECLARE @adjudication_amount_override_amount_ids TABLE
        (
            adjudication_result_amount_id INT
        );
    DECLARE @udtt_claim_clear_adjudication_key_override_ids AS udtt_claim_clear_adjudication_key_override_ids;
    DECLARE @adjudication_key_override_key_ids TABLE
        (
            adjudication_result_key_id INT
        );
    DECLARE @DeletableSystemClaimProcedureIds TABLE
        (
            claim_procedure_id INT
        );
    DECLARE @adjudication_result_code_overrides TABLE
        (
            adjudication_result_code_id INT
        );
    DECLARE @InstitutionalClaimId INT;
    DECLARE @DentAppliedAlternateCourse INT;
    DECLARE @DentAppliedAlternateCourseIDs TABLE
        (
            claim_procedure_id INT
        );
    DECLARE @IsDental BIT;
    DECLARE @LinesInPaymentProcessingCount INT;
    DECLARE
        @AdjudicationStatusOpenId             INT
    ,   @AdjudicationStatusDenyId             INT
    ,   @ClaimAdjudicationStatusId            INT
    ,   @adjudicationStatusApprovedId         INT
    ,   @adjudicationStatusMissingInfoId      INT
    ,   @missingPatientResultCodeId           INT = NULL
    ,   @missingProviderResultCodeId          INT = NULL
    ,   @missingFacilityResultCodeId          INT = NULL
    ,   @missingVendorResultCodeId            INT = NULL
    ,   @IsMissingInformation                 BIT = 0
    ,   @MissingInformationRank               INT
    ,   @ClaimAdjudicaitonRank                INT
    ,   @familyEligibilityMemberBenefitPlanId INT
    ,   @providerId                           INT
    ,   @practiceOfficeId                     INT
    ,   @vendorId                             INT
    ,   @return_value                         INT;

    -- Debugging
    --   global replace "--SET @RowsDeleted" with "SET @RowsDeleted"
    --   global replace "--SET @RowsDeleted" with "SET @RowsDeleted"
    --   uncomment these variables:
    --DECLARE @RowsDeleted INT=0;
    --DECLARE @debug INT=1; -- 0 no debug, 1 summary count, 2 count each delete

    BEGIN TRY

        -- get claim status on available claims
        SELECT
            @ClaimPaymentProcessAvailable = claim_payment_process_status_id
        FROM
            dbo.claim_payment_process_status (NOLOCK)
        WHERE
            golden_key = 'AVAILABLE';

        SELECT
            @AdjudicationStatusOpenId = adjudication_status_id
        FROM
            dbo.adjudication_status (NOLOCK)
        WHERE
            golden_key = 'OPEN';

        SELECT
            @AdjudicationStatusDenyId = adjudication_status_id
        FROM
            dbo.adjudication_status (NOLOCK)
        WHERE
            golden_key = 'DENY';

        SELECT
            @adjudicationStatusApprovedId = adjudication_status_id
        FROM
            dbo.adjudication_status (NOLOCK)
        WHERE
            golden_key = 'APPROVED';

        -- Get the claim status
        SELECT
            @CheckClaimId = c.claim_id
        ,   @ClaimUd = c.claim_ud
        ,   @ClaimFormTypeUd = cft.claim_form_type_ud
        ,   @AdjudicationStatusId = c.adjudication_status_id
        -- for missing information
        ,   @familyEligibilityMemberBenefitPlanId = c.family_eligibility_member_benefit_plan_id
        -- missing provider to look for is billing_provider_id (RT:10730)
        ,   @providerId = c.billing_provider_id
        ,   @practiceOfficeId = c.practice_office_id
        ,   @vendorId = c.vendor_id
        FROM
            dbo.claim c (NOLOCK)
        INNER JOIN
            dbo.claim_form_type cft (NOLOCK)
                ON c.claim_form_type_id = cft.claim_form_type_id
        WHERE
            c.claim_id = @ClaimId;

        -- Make sure we have a claim
        IF @CheckClaimId IS NULL
        BEGIN
            SELECT
                result_code = @ResultCodeNoClaim;
            GOTO Done;
        END;

        -- never clear adjudication on closed claims
        IF @AdjudicationStatusId =
            (
                SELECT
                    adjudication_status_id
                FROM
                    dbo.adjudication_status (NOLOCK)
                WHERE
                    golden_key = 'CLOSED'
            )
        BEGIN
            SELECT
                result_code = @ResultCodeClosedClaim;
            GOTO Done;
        END;

        -- flag if this a dental claim
        IF EXISTS
            (
                SELECT
                    1
                FROM
                    dbo.dental_claim (NOLOCK)
                WHERE
                    claim_id = @ClaimId
            )
            SET @IsDental = 1;
        ELSE
            SET @IsDental = 0;

        SET @DentAppliedAlternateCourse =
            (
                SELECT TOP (1)
                       result_code_id
                FROM
                    dbo.result_code (NOLOCK)
                WHERE
                    golden_key = 'DENT_APPLIED_ALTERNATE_COURSE'
            );

        INSERT @DentAppliedAlternateCourseIDs
            (
                claim_procedure_id
            )
        SELECT
            cp.claim_procedure_id
        FROM
            dbo.claim_procedure cp (NOLOCK)
        INNER JOIN
            @ClaimProcedureIDs cpi
                ON cp.claim_procedure_id  = cpi.claim_procedure_id
        INNER JOIN
            dbo.adjudication_result_code arc (NOLOCK)
                ON cpi.claim_procedure_id = arc.claim_procedure_id
                AND arc.result_code_id    = @DentAppliedAlternateCourse
        WHERE
            cp.alternate_procedure_code_id IS NOT NULL
        AND
            (
                cp.alternate_procedure_code_ud IS NOT NULL
          OR    cp.alternate_procedure_code_ud <> ''
            );

        -- get the institutional claim id, if this is an institutional claim
        SELECT
            @InstitutionalClaimId = institutional_claim_id
        FROM
            dbo.institutional_claim (NOLOCK)
        WHERE
            claim_id = @ClaimId;

        ------------------------------------------------------------------
        -- Missing Information
        -- The result codes will be added within the transaction if the ID is NOT NULL
        ------------------------------------------------------------------
        IF @familyEligibilityMemberBenefitPlanId IS NULL
        AND EXISTS
            (
                SELECT
                    1
                FROM
                    dbo.missing_patient_information mpi (NOLOCK)
                WHERE
                    mpi.claim_id = @ClaimId
            )
        BEGIN
            SET @IsMissingInformation = 1;

            SELECT
                @missingPatientResultCodeId = rc.result_code_id
            FROM
                dbo.result_code rc (NOLOCK)
            WHERE
                rc.golden_key = 'MISSING_INFO_NO_PATIENT';
        END;

        IF @providerId IS NULL
        AND EXISTS
            (
                SELECT
                    1
                FROM
                    dbo.missing_provider_information mpi (NOLOCK)
                WHERE
                    mpi.claim_id = @ClaimId
            )
        BEGIN
            SET @IsMissingInformation = 1;

            SELECT
                @missingProviderResultCodeId = rc.result_code_id
            FROM
                dbo.result_code rc (NOLOCK)
            WHERE
                rc.golden_key = 'MISSING_INFO_NO_PROVIDER';
        END;

        -- Missing Facility Info not valid for Institutional Claim
        IF (@InstitutionalClaimId IS NULL)
        BEGIN
            IF @practiceOfficeId IS NULL
            AND EXISTS
                (
                    SELECT
                        1
                    FROM
                        dbo.missing_facility_information mfi (NOLOCK)
                    WHERE
                        mfi.claim_id = @ClaimId
                )
            BEGIN
                SET @IsMissingInformation = 1;

                SELECT
                    @missingFacilityResultCodeId = rc.result_code_id
                FROM
                    dbo.result_code rc (NOLOCK)
                WHERE
                    rc.golden_key = 'MISSING_INFO_NO_PRACTICE_OFFICE';
            END;
        END;

        IF @vendorId IS NULL
        AND EXISTS
            (
                SELECT
                    1
                FROM
                    dbo.missing_vendor_information mvi (NOLOCK)
                WHERE
                    mvi.claim_id = @ClaimId
            )
        BEGIN
            SET @IsMissingInformation = 1;

            SELECT
                @missingVendorResultCodeId = rc.result_code_id
            FROM
                dbo.result_code rc (NOLOCK)
            WHERE
                rc.golden_key = 'MISSING_INFO_NO_VENDOR';
        END;

        ------------------------------------------------------------------
        -- End of Missing Information
        ------------------------------------------------------------------


        -- Find out if there are any claim procedure lines that are in "Payment Processing"
        SELECT
            @LinesInPaymentProcessingCount = COUNT(*)
        FROM
            dbo.claim_procedure (NOLOCK)
        WHERE
            claim_id                        = @ClaimId
        AND claim_payment_process_status_id IS NOT NULL
        AND claim_payment_process_status_id != @ClaimPaymentProcessAvailable;

        -- We must collect both claim and claim_procedure result codes with overrides
        -- which are used in several deletes to prevent deleting adjudication results with an override.
        -- More efficient to do this one time outside of the transaction

        -- get the claim's result code overrides
        INSERT @adjudication_result_code_overrides
            (
                adjudication_result_code_id
            )
        SELECT
            arc.adjudication_result_code_id
        FROM
            dbo.adjudication_result_code_override arco (NOLOCK)
        JOIN
            dbo.adjudication_result_code arc (NOLOCK)
                ON arco.adjudication_result_code_id = arc.adjudication_result_code_id
        WHERE
            arc.claim_id = @ClaimId
        -- these will be deleted
        AND (arco.result_code_status_id IS NOT NULL);

        -- get the claim_procedure result code overrides
        INSERT @adjudication_result_code_overrides
            (
                adjudication_result_code_id
            )
        SELECT
            arc.adjudication_result_code_id
        FROM
            @ClaimProcedureIDs cpi
        JOIN
            dbo.adjudication_result_code arc (NOLOCK)
                ON cpi.claim_procedure_id           = arc.claim_procedure_id
        JOIN
            dbo.adjudication_result_code_override arco (NOLOCK)
                ON arco.adjudication_result_code_id = arc.adjudication_result_code_id
                -- these will be deleted
                AND (arco.result_code_status_id IS NOT NULL);

        -- Collect (for deletion) system-generated DRG claim lines that do not have overrides.
        INSERT @DeletableSystemClaimProcedureIds
            (
                claim_procedure_id
            )
        SELECT
            cp.claim_procedure_id
        FROM
            dbo.claim_procedure cp (NOLOCK)
        INNER JOIN
            @ClaimProcedureIDs cpi
                ON cp.claim_procedure_id = cpi.claim_procedure_id
        WHERE
            cp.is_system_generated = 1
        AND NOT EXISTS
            (
                -- adjudication_result_code: override
                SELECT
                    arc.claim_procedure_id
                FROM
                    dbo.adjudication_result_code arc (NOLOCK)
                INNER JOIN
                    dbo.adjudication_result_code_override arco (NOLOCK)
                        ON arco.adjudication_result_code_id = arc.adjudication_result_code_id
                WHERE
                    arc.claim_procedure_id = cp.claim_procedure_id
                AND arco.result_code_status_id IS NOT NULL
                UNION

                -- adjudication_result_code: do_not_clear flag
                SELECT
                    arc.claim_procedure_id
                FROM
                    dbo.adjudication_result_code arc (NOLOCK)
                WHERE
                    arc.claim_procedure_id = cp.claim_procedure_id
                AND arc.do_not_clear       = 1
                UNION

                -- adjudication_result_amount: override
                SELECT
                    aa.claim_procedure_id
                FROM
                    dbo.adjudication_result_amount aa (NOLOCK)
                INNER JOIN
                    dbo.adjudication_result_amount_override aao (NOLOCK)
                        ON aa.adjudication_result_amount_id = aao.adjudication_result_amount_id
                WHERE
                    aa.claim_procedure_id = cp.claim_procedure_id
                UNION

                -- adjudication_key: override
                SELECT
                    ak.claim_procedure_id
                FROM
                    dbo.adjudication_result_key ak (NOLOCK)
                INNER JOIN
                    dbo.adjudication_result_key_override ako (NOLOCK)
                        ON ak.adjudication_result_key_id = ako.adjudication_result_key_id
                WHERE
                    ak.claim_procedure_id = cp.claim_procedure_id
                UNION

                -- SP9538: Do not delete if there is a COB entry on the DRG line.
                SELECT
                    cpca.claim_procedure_id
                FROM
                    dbo.claim_procedure_cob_amount cpca (NOLOCK)
                WHERE
                    cpca.claim_procedure_id = cp.claim_procedure_id
            );

        -------------------------------------------------
        -- calcuate claim status outside of the transaction.
        -------------------------------------------------
        -- find lowest rank adjudication status for result code overrides
        ;
        WITH AdjudicationStatus (adjudication_status_type_id
                                , original_status_type_id
                                )
            AS (
               SELECT
                   COALESCE(
                               rcsmo.adjudication_status_type_id
                           ,   arcrcs.adjudication_status_type_id
                           ,   rcs.adjudication_status_type_id
                           )
               ,   rcs.adjudication_status_type_id
               FROM
                   dbo.claim c (NOLOCK)
               LEFT JOIN
                   dbo.adjudication_result_code arc (NOLOCK)
                       ON c.claim_id                       = arc.claim_id
               -- only look at claim procedures we are not deleting
               JOIN
                   @ClaimProcedureIDs cpi
                       ON arc.claim_procedure_id           = cpi.claim_procedure_id
               LEFT JOIN
                   dbo.result_code rc (NOLOCK)
                       ON arc.result_code_id               = rc.result_code_id
               LEFT JOIN
                   dbo.adjudication_result_code_override arco (NOLOCK)
                       ON arco.adjudication_result_code_id = arc.adjudication_result_code_id
               -- If the result status has been manually overridden:
               LEFT JOIN
                   dbo.result_code_status rcsmo (NOLOCK)
                       ON arco.result_code_status_id       = rcsmo.result_code_status_id
               -- If the result code status has been overriden by configuration
               LEFT JOIN
                   dbo.result_code_status arcrcs (NOLOCK)
                       ON arc.result_code_status_id        = arcrcs.result_code_status_id
               -- Otherwise, use the result code status
               LEFT JOIN
                   dbo.result_code_status rcs (NOLOCK)
                       ON rc.result_code_status_id         = rcs.result_code_status_id
               WHERE
                   c.claim_id = @ClaimId
               AND arc.claim_procedure_id IS NULL
               )
        SELECT TOP 1
               @ClaimAdjudicationStatusId = as1.adjudication_status_id
        ,      @OriginalAdjudicationStatusId = oas1.adjudication_status_id
        ,      @ClaimAdjudicaitonRank = ast.rank
        FROM
            AdjudicationStatus t (NOLOCK)
        JOIN
            dbo.adjudication_status as1 (NOLOCK)
                ON t.adjudication_status_type_id = as1.adjudication_status_type_id
        JOIN
            dbo.adjudication_status oas1 (NOLOCK)
                ON t.original_status_type_id     = as1.adjudication_status_type_id
        JOIN
            dbo.adjudication_status_type ast (NOLOCK)
                ON t.adjudication_status_type_id = ast.adjudication_status_type_id
        WHERE
            ast.rank IS NOT NULL
        ORDER BY
            ast.rank;

        -- If the claim has missing information check if a lower result code or an override exists
        IF (@IsMissingInformation = 1)
        BEGIN
            SELECT
                @adjudicationStatusMissingInfoId = as1.adjudication_status_id
            ,   @MissingInformationRank = ast.rank
            FROM
                dbo.adjudication_status as1 (NOLOCK)
            JOIN
                dbo.adjudication_status_type ast (NOLOCK)
                    ON as1.adjudication_status_type_id = ast.adjudication_status_type_id
            WHERE
                as1.golden_key = 'MISSING_INFO';

            -- did we find a not open result codeset?
            IF @ClaimAdjudicationStatusId IS NULL
            BEGIN
                SET @ClaimAdjudicationStatusId = @adjudicationStatusMissingInfoId;
            END;
            ELSE
            -- was the original missing information overriden?
            IF @ClaimAdjudicationStatusId <> @adjudicationStatusMissingInfoId
            AND @OriginalAdjudicationStatusId = @adjudicationStatusMissingInfoId
                SET @ClaimAdjudicationStatusId = @AdjudicationStatusOpenId;
            ELSE
                SET @ClaimAdjudicationStatusId = @adjudicationStatusMissingInfoId;
        END;
        ELSE
        BEGIN
            IF @ClaimAdjudicationStatusId IS NULL
                IF @LinesInPaymentProcessingCount > 0
                    SET @ClaimAdjudicationStatusId = @adjudicationStatusApprovedId;
                ELSE
                    -- if we did not find a not open result code, set the status to open
                    SET @ClaimAdjudicationStatusId = @AdjudicationStatusOpenId;
            ELSE
            -- if the result code is Deny then set the claim to approved
            IF @ClaimAdjudicationStatusId = @AdjudicationStatusDenyId
                SET @ClaimAdjudicationStatusId = @adjudicationStatusApprovedId;
        END;

        -- throw an exception if we came out of the claim status logic without a status
        IF @ClaimAdjudicationStatusId IS NULL
        BEGIN
            RAISERROR('Claim Status is NULL', 16, 1);
        END;


        -------------------------------------------------
        -- end claim status
        -------------------------------------------------

        -- Check for adjudication amount and key and their overrides.
        INSERT INTO @udtt_claim_clear_adjudication_amount_override_ids
            (
                claim_procedure_id
            ,   plan_iteration_index
            ,   adjudication_result_amount_id
            ,   adjudication_result_amount_override_id
            )
        SELECT
            ark.claim_procedure_id
        ,   ISNULL(ark.plan_iteration_index, 1)
        ,   ISNULL(ark.adjudication_result_amount_id, 0)
        ,   ISNULL(arko.adjudication_result_amount_override_id, 0)
        FROM
            dbo.adjudication_result_amount ark (NOLOCK)
        INNER JOIN
            @ClaimProcedureIDs cpids
                ON cpids.claim_procedure_id           = ark.claim_procedure_id
        LEFT JOIN
            dbo.adjudication_result_amount_override arko (NOLOCK)
                ON arko.adjudication_result_amount_id = ark.adjudication_result_amount_id;

        INSERT INTO @udtt_claim_clear_adjudication_key_override_ids
            (
                claim_procedure_id
            ,   plan_iteration_index
            ,   adjudication_result_key_id
            ,   adjudication_result_key_override_id
            )
        SELECT
            ark.claim_procedure_id
        ,   ISNULL(ark.plan_iteration_index, 1)
        ,   ISNULL(ark.adjudication_result_key_id, 0)
        ,   ISNULL(arko.adjudication_result_key_override_id, 0)
        FROM
            dbo.adjudication_result_key ark (NOLOCK)
        INNER JOIN
            @ClaimProcedureIDs cpids
                ON cpids.claim_procedure_id        = ark.claim_procedure_id
        LEFT JOIN
            dbo.adjudication_result_key_override arko (NOLOCK)
                ON arko.adjudication_result_key_id = ark.adjudication_result_key_id;

        -- Check for non-NULL adjudication amount and key override amounts and keys
        INSERT INTO @adjudication_amount_override_amount_ids
            (
                adjudication_result_amount_id
            )
        SELECT
            aao.adjudication_result_amount_id
        FROM
            @udtt_claim_clear_adjudication_amount_override_ids aao
        INNER JOIN
            dbo.vw_adjudication_amount_override_amounts vw_aaoa (NOLOCK)
                ON vw_aaoa.adjudication_result_amount_id = aao.adjudication_result_amount_id
        WHERE
            vw_aaoa.amount IS NOT NULL; -- assume that an amount of zero is valid

        INSERT INTO @adjudication_key_override_key_ids
            (
                adjudication_result_key_id
            )
        SELECT
            arko.adjudication_result_key_id
        FROM
            @udtt_claim_clear_adjudication_key_override_ids arko
        INNER JOIN
            dbo.vw_adjudication_key_override_keys vw_akok (NOLOCK)
                ON vw_akok.adjudication_result_key_id = arko.adjudication_result_key_id
        WHERE
            vw_akok.object_record_id IS NOT NULL;

        IF @debug >= 1
        BEGIN

            SELECT
                '@ClaimProcedureIDs '
            ,   COUNT(*)
            FROM
                @ClaimProcedureIDs;
            SELECT
                '@ClaimProcedureIDs '
            ,   *
            FROM
                @ClaimProcedureIDs;

            SELECT
                '@udtt_claim_clear_adjudication_amount_override_ids'
            ,   *
            FROM
                @udtt_claim_clear_adjudication_amount_override_ids;

            SELECT
                '@udtt_claim_clear_adjudication_key_override_ids'
            ,   *
            FROM
                @udtt_claim_clear_adjudication_key_override_ids;

            SELECT
                '@adjudication_amount_override_amount_ids'
            ,   *
            FROM
                @adjudication_amount_override_amount_ids;

        END;

        ------------------------------------------------------------------
        -- Clear Episode dates
        ------------------------------------------------------------------
        DECLARE @LAST_DOS_EFF_DATE_THRU_RULE_ID INT;
        SELECT
            @LAST_DOS_EFF_DATE_THRU_RULE_ID = effective_thru_date_rule_id
        FROM
            dbo.effective_thru_date_rule (NOLOCK)
        WHERE
            golden_key = 'Last DOS';

        -- @clear_episode_due_to_last_dos_id will not be null there is an attached episode, and it uses the last date rule.
        DECLARE @clear_episode_due_to_last_dos_id INT = NULL;
        SELECT
            @clear_episode_due_to_last_dos_id = e.episode_id
        FROM
            dbo.claim c (NOLOCK)
        JOIN
            dbo.episode e (NOLOCK)
                ON c.episode_id = e.episode_id
        WHERE
            c.claim_id                    = @ClaimId
        AND e.effective_thru_date_rule_id = @LAST_DOS_EFF_DATE_THRU_RULE_ID;

        ----------------- DO THE MINIMUM NECESSARY INSIDE THIS TRANSACTION -----------------
        BEGIN TRAN;


        -- Dental only - Determine whether Alternate Code was system entered
        -- this check must be performed prior to deleting adjudication result codes
        IF (@IsDental = 1)
        BEGIN

            -- RT:11155 - Dental only: delete missing tooth detail, if extracted by this claim being cleared
            DELETE FROM
            dbo.missing_tooth_detail
            WHERE
                claim_id = @ClaimId;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'missing_tooth_detail: ' + cast(@RowsDeleted as varchar(100));

        END;

        -- claim_procedure_bundle - used by CES and Dental-Alternate Course of Treatment (bundling)
        -- Business Rule (RT:11813):
        --          delete all bundles where
        --          (a) the system-gen bundled-to line is deletable, OR
        --          (b) the bundled-to line is NOT system generated (ex: dental grouping)

        DELETE
        cpb
        FROM
            dbo.claim_procedure_bundle cpb
        INNER JOIN
            @ClaimProcedureIDs cpi_bundled_from
                ON cpb.bundled_from_claim_procedure_id = cpi_bundled_from.claim_procedure_id
        INNER JOIN
            dbo.claim_procedure cp_bundled_to
                ON cpb.bundled_to_claim_procedure_id   = cp_bundled_to.claim_procedure_id
        LEFT JOIN
            @DeletableSystemClaimProcedureIds scpi
                ON cpb.bundled_to_claim_procedure_id   = scpi.claim_procedure_id
        WHERE
            scpi.claim_procedure_id IS NOT NULL
        OR  ISNULL(cp_bundled_to.is_system_generated, 0) = 0;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure_bundle: ' + cast(@RowsDeleted as varchar(100));

        -- RT:21012 broke up delete so claim level and claim_procedure level records were deleted sererately for better performance
        -- Delete claim level Adjudication Accumulators
        DELETE
        aa
        FROM
            dbo.adjudication_accumulator aa
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON aa.claim_procedure_id = cpi.claim_procedure_id
        WHERE
            (aa.claim_id = @ClaimId);
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_accumulator: ' + cast(@RowsDeleted as varchar(100));

        -- Delete claim_procedure level Adjudication Accumulators
        DELETE
        aa
        FROM
            dbo.adjudication_accumulator aa
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON aa.claim_procedure_id = cpi.claim_procedure_id
        WHERE
            cpi.claim_procedure_id IS NOT NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_accumulator: ' + cast(@RowsDeleted as varchar(100));

        DELETE
        aap
        FROM
            dbo.adjudication_accumulator_pred aap
        INNER JOIN
            @ClaimProcedureIDs cpi
                ON aap.claim_procedure_id = cpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_accumulator_pred: ' + cast(@RowsDeleted as varchar(100));


        /*-- MANAGE Adjudication Amount
    1) 	Delete adjudication amount override where all overrides are null (This is legacy stuff.  Should not be necessary)
    2)  Delete all adjudication_result_amount s without overrides
    3)  Reset all values in existing adjudication_result_amount *unless* that value has been overridden */


        IF @debug >= 1
        BEGIN
            SELECT
                'b4 amount '
            ,   ara.eligible_units
            ,   ara.ineligible_amount
            ,   arao.*
            FROM
                dbo.adjudication_result_amount ara (NOLOCK)
            INNER JOIN
                @udtt_claim_clear_adjudication_amount_override_ids armo
                    ON armo.claim_procedure_id            = ara.claim_procedure_id
                    AND armo.plan_iteration_index         = ara.plan_iteration_index
            LEFT JOIN
                dbo.adjudication_result_amount_override arao (NOLOCK)
                    ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id;

            SELECT
                'b4 key '
            ,   k.claim_processing_rule_framework_id
            ,   keyo.*
            FROM
                dbo.adjudication_result_key k (NOLOCK)
            INNER JOIN
                @udtt_claim_clear_adjudication_key_override_ids arko
                    ON arko.claim_procedure_id          = k.claim_procedure_id
                    AND arko.adjudication_result_key_id = k.adjudication_result_key_id
            LEFT JOIN
                dbo.adjudication_result_key_override keyo (NOLOCK)
                    ON keyo.adjudication_result_key_id  = k.adjudication_result_key_id;

        END;

        --1) 	Delete adjudication amount override where all overrides are null (This is legacy stuff.  Should not be necessary)
        DELETE
        arao
        FROM
            dbo.adjudication_result_amount_override arao
        INNER JOIN
            @udtt_claim_clear_adjudication_amount_override_ids amo
                -- RT:21012 changed join to use adjudication_result_amount_id instead of adjudication_result_amount_override_id
                ON amo.adjudication_result_amount_id  = arao.adjudication_result_amount_id
        LEFT JOIN
            @adjudication_amount_override_amount_ids aaoa
                ON aaoa.adjudication_result_amount_id = arao.adjudication_result_amount_id
        WHERE
            aaoa.adjudication_result_amount_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_amount_override: ' + cast(@RowsDeleted as varchar(100));

        --	2)  Delete all adjudication_result_amount without overrides
        DELETE
        ara
        FROM
            dbo.adjudication_result_amount ara
        INNER JOIN
            @udtt_claim_clear_adjudication_amount_override_ids amo
                ON ara.claim_procedure_id    = amo.claim_procedure_id
                AND ara.plan_iteration_index = amo.plan_iteration_index
        WHERE
            amo.adjudication_result_amount_override_id = 0;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_amount: ' + cast(@RowsDeleted as varchar(100));

        --	3)  Reset all values in existing adjudication_result_amount *unless* that value has been overridden
        EXEC @return_value = dbo.plx_adjudication_result_amount_claim_clear_save
            @udtt_claim_clear_adjudication_amount_override_ids = @udtt_claim_clear_adjudication_amount_override_ids
        ,   @commit = @commit
        ,   @debug = @debug;
        IF @return_value <> 0
        BEGIN
            DECLARE @error_msg_amount NVARCHAR(128) = N'Error '
                                                      + CAST(@return_value AS NVARCHAR(14))
                                                      + N' in adjudication_result_amount_reset';
            RAISERROR(@error_msg_amount, 16, 1);
        END;


        /*-- MANAGE Adjudication key
    1) 	Delete adjudication key override where all overrides are null (This is legacy stuff.  Should not be necessary)
    2)  Delete all adjudication_result_key s without overrides
    3)  Reset all values in existing adjudication_result_key *unless* that value has been overridden */

        --	1) 	Delete adjudication key override where all overrides are null (This is legacy stuff.  Should not be necessary)
        DELETE
        arko
        FROM
            dbo.adjudication_result_key_override arko
        INNER JOIN
            @udtt_claim_clear_adjudication_key_override_ids ako
                ON ako.adjudication_result_key_override_id = arko.adjudication_result_key_override_id
        LEFT JOIN
            @adjudication_key_override_key_ids akok
                ON akok.adjudication_result_key_id         = arko.adjudication_result_key_id
        WHERE
            akok.adjudication_result_key_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_key_override: ' + cast(@RowsDeleted as varchar(100));

        --	2)  Delete all adjudication_result_keywithout overrides
        DELETE
        ak
        FROM
            dbo.adjudication_result_key ak
        INNER JOIN
            @udtt_claim_clear_adjudication_key_override_ids ako
                ON ak.claim_procedure_id           = ako.claim_procedure_id
                AND ak.plan_iteration_index        = ako.plan_iteration_index
        LEFT JOIN
            dbo.adjudication_result_key_override arko
                ON arko.adjudication_result_key_id = ak.adjudication_result_key_id
        WHERE
            ako.adjudication_result_key_override_id = 0;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_key: ' + cast(@RowsDeleted as varchar(100));

        --3)  Reset all values in existing adjudication_result_key *unless* that value has been overridden
        EXEC @return_value = dbo.plx_adjudication_result_key_claim_clear_save
            @udtt_claim_clear_adjudication_key_override_ids = @udtt_claim_clear_adjudication_key_override_ids
        ,   @commit = @commit
        ,   @debug = @debug;
        IF @return_value <> 0
        BEGIN
            DECLARE @error_msg_key NVARCHAR(128) = N'Error '
                                                   + CAST(@return_value AS NVARCHAR(14))
                                                   + N' in adjudication_result_key_reset';
            RAISERROR(@error_msg_key, 16, 1);
        END;

        IF @debug >= 1
        BEGIN
            SELECT
                'Aft amount '
            ,   ara.eligible_units
            ,   ara.ineligible_amount
            ,   ara.*
            ,   arao.*
            FROM
                dbo.adjudication_result_amount ara (NOLOCK)
            INNER JOIN
                @udtt_claim_clear_adjudication_amount_override_ids armo
                    ON armo.claim_procedure_id            = ara.claim_procedure_id
                    AND armo.plan_iteration_index         = ara.plan_iteration_index
            LEFT JOIN
                dbo.adjudication_result_amount_override arao (NOLOCK)
                    ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id;

            SELECT
                'aft key '
            ,   k.claim_processing_rule_framework_id
            ,   k.*
            ,   keyo.*
            FROM
                dbo.adjudication_result_key k (NOLOCK)
            INNER JOIN
                @udtt_claim_clear_adjudication_key_override_ids arko
                    ON arko.claim_procedure_id          = k.claim_procedure_id
                    AND arko.adjudication_result_key_id = k.adjudication_result_key_id
            LEFT JOIN
                dbo.adjudication_result_key_override keyo (NOLOCK)
                    ON keyo.adjudication_result_key_id  = k.adjudication_result_key_id;
        END;


        -- Delete adjudication_key_override records  -- This code should never be executed because the UI should delete the override row when the last override is set to null.

        -- adjudication_referral
        DELETE
        ar
        FROM
            dbo.adjudication_referral ar
        INNER JOIN
            @ClaimProcedureIDs cpi
                ON ar.claim_procedure_id = cpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_referral: ' + cast(@RowsDeleted as varchar(100));

        -- claim_procedure_grace_period
        DELETE
        cpgp
        FROM
            dbo.claim_procedure_grace_period cpgp
        INNER JOIN
            @ClaimProcedureIDs cpi
                ON cpgp.claim_procedure_id = cpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure_grace_period: ' + cast(@RowsDeleted as varchar(100));

        -- RT:21012 broke up delete so claim level and claim_procedure level records were deleted sererately for better performance
        -- claim level adjudication_result_code_override
        DELETE
        arco
        FROM
            dbo.adjudication_result_code_override arco
        INNER JOIN
            dbo.adjudication_result_code arc
                ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id          = cpi.claim_procedure_id
        WHERE
            ((arc.claim_id = @ClaimId))
        -- do not delete if there is an override
        AND arco.result_code_status_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code_override: ' + cast(@RowsDeleted as varchar(100));

        -- claim_procedure level adjudication_result_code_override
        DELETE
        arco
        FROM
            dbo.adjudication_result_code_override arco
        INNER JOIN
            dbo.adjudication_result_code arc
                ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id          = cpi.claim_procedure_id
        WHERE
            ((cpi.claim_procedure_id IS NOT NULL))
        -- do not delete if there is an override
        AND arco.result_code_status_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code_override: ' + cast(@RowsDeleted as varchar(100));

        -- RT:21012 broke up delete so claim level and claim_procedure level records were deleted sererately for better performance
        -- claim level adjudication_result_code_key
        DELETE
        arck
        FROM
            dbo.adjudication_result_code_key arck
        INNER JOIN
            dbo.adjudication_result_code arc
                ON arck.adjudication_result_code_id = arc.adjudication_result_code_id
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id           = cpi.claim_procedure_id
        LEFT JOIN
            @adjudication_result_code_overrides arco
                ON arc.adjudication_result_code_id  = arco.adjudication_result_code_id
        WHERE
            (
                arc.do_not_clear <> 1
          OR    arc.do_not_clear IS NULL
            )
        AND ((arc.claim_id       = @ClaimId))
        -- do not delete if there is an override
        AND arco.adjudication_result_code_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code_key: ' + cast(@RowsDeleted as varchar(100));

        -- claim_procedure level adjudication_result_code_key
        DELETE
        arck
        FROM
            dbo.adjudication_result_code_key arck
        INNER JOIN
            dbo.adjudication_result_code arc
                ON arck.adjudication_result_code_id = arc.adjudication_result_code_id
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id           = cpi.claim_procedure_id
        LEFT JOIN
            @adjudication_result_code_overrides arco
                ON arc.adjudication_result_code_id  = arco.adjudication_result_code_id
        WHERE
            (
                arc.do_not_clear <> 1
          OR    arc.do_not_clear IS NULL
            )
        AND ((cpi.claim_procedure_id IS NOT NULL))
        -- do not delete if there is an override
        AND arco.adjudication_result_code_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code_key: ' + cast(@RowsDeleted as varchar(100));

        -- RT:21012 broke up delete so claim level and claim_procedure level records were deleted sererately for better performance
        -- claim level adjudication_result_code
        DELETE
        arc
        FROM
            dbo.adjudication_result_code arc
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id          = cpi.claim_procedure_id
        LEFT JOIN
            @adjudication_result_code_overrides arco
                ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        WHERE
            ((arc.claim_id       = @ClaimId))
        AND
            (
                arc.do_not_clear IS NULL
          OR    arc.do_not_clear <> 1
            )
        -- do not delete if there is an override
        AND arco.adjudication_result_code_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code: ' + cast(@RowsDeleted as varchar(100));

        -- claim_procedure level adjudication_result_code
        DELETE
        arc
        FROM
            dbo.adjudication_result_code arc
        LEFT JOIN
            @ClaimProcedureIDs cpi
                ON arc.claim_procedure_id          = cpi.claim_procedure_id
        LEFT JOIN
            @adjudication_result_code_overrides arco
                ON arc.adjudication_result_code_id = arco.adjudication_result_code_id
        WHERE
            ((cpi.claim_procedure_id IS NOT NULL))
        AND
            (
                arc.do_not_clear IS NULL
          OR    arc.do_not_clear <> 1
            )
        -- do not delete if there is an override
        AND arco.adjudication_result_code_id IS NULL;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_result_code: ' + cast(@RowsDeleted as varchar(100));

        -- adjudication_run_claim_procedure
        DELETE
        arcp
        FROM
            dbo.adjudication_run_claim_procedure arcp
        JOIN
            @ClaimProcedureIDs t
                ON arcp.claim_procedure_id = t.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'adjudication_run_claim_procedure: ' + cast(@RowsDeleted as varchar(100));


        -- RT:10884 - delete tooth_surface on system_generated (bundled) lines that are OK to clear
        -- NOTE - This must be done before deleting system-generated lines from claim_procedure below
        -- claim_procedure_tooth_surface
        DELETE
        cpts
        FROM
            dbo.claim_procedure_tooth_surface cpts
        JOIN
            @DeletableSystemClaimProcedureIds scpi
                ON cpts.claim_procedure_id = scpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure_tooth_surface_result: ' + cast(@RowsDeleted as varchar(100));

        DELETE
        cpca
        FROM
            dbo.claim_procedure_cob_amount cpca
        JOIN
            @DeletableSystemClaimProcedureIds scpi
                ON cpca.claim_procedure_id = scpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure_cob_amount: ' + cast(@RowsDeleted as varchar(100));

        DELETE
        cpca
        FROM
            dbo.claim_procedure_cob_adjustment cpca
        JOIN
            @DeletableSystemClaimProcedureIds scpi
                ON cpca.claim_procedure_id = scpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure_cob_adjustment: ' + cast(@RowsDeleted as varchar(100));


        ------------------------------------------------------------------
        -- Missing Information
        -- The result codes will be added within the transaction If the ID is NOT NULL
        -- Only need to insert the result code one time
        ------------------------------------------------------------------
        IF (@missingPatientResultCodeId IS NOT NULL)
        BEGIN
            EXEC dbo.plx_add_header_result_code
                @claimId = @ClaimId
            ,   @resultCodeId = @missingPatientResultCodeId;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) print 'missing Patient information'
        END;

        IF (@missingProviderResultCodeId IS NOT NULL)
        BEGIN
            EXEC dbo.plx_add_header_result_code
                @claimId = @ClaimId
            ,   @resultCodeId = @missingProviderResultCodeId;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) print 'missing Provider information'
        END;

        IF (@missingFacilityResultCodeId IS NOT NULL)
        BEGIN
            EXEC dbo.plx_add_header_result_code
                @claimId = @ClaimId
            ,   @resultCodeId = @missingFacilityResultCodeId;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) print 'missing Facility information'
        END;

        IF (@missingVendorResultCodeId IS NOT NULL)
        BEGIN
            EXEC dbo.plx_add_header_result_code
                @claimId = @ClaimId
            ,   @resultCodeId = @missingVendorResultCodeId;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) print 'missing Vendor information'
        END;
        ------------------------------------------------------------------
        -- End Missing Information
        ------------------------------------------------------------------


        -- The date should be cleared out if there are no other adjudicated claims for that episode
        IF @clear_episode_due_to_last_dos_id IS NOT NULL
        BEGIN
            IF NOT EXISTS
                (
                    SELECT
                        *
                    FROM
                        dbo.claim c (NOLOCK)
                    LEFT JOIN
                        dbo.adjudication_status stat (NOLOCK)
                            ON c.adjudication_status_id = stat.adjudication_status_id
                    WHERE
                        c.episode_id        = @clear_episode_due_to_last_dos_id
                    AND c.claim_id          <> @ClaimId
                    AND
                        (
                            stat.adjudication_status_id IS NOT NULL
                     AND    stat.golden_key <> 'OPEN'
                        )
                )
            BEGIN
                UPDATE
                    dbo.episode
                SET
                    effective_thru = NULL
                WHERE
                    episode_id = @clear_episode_due_to_last_dos_id;
            END;
        END;

        -- If this is the system-created DRG line, we want to delete it when clearing adjudication unless there is an override
        DELETE
        cp
        FROM
            dbo.claim_procedure cp
        INNER JOIN
            @DeletableSystemClaimProcedureIds scpi
                ON cp.claim_procedure_id = scpi.claim_procedure_id;
        --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) 	print 'claim_procedure: ' + cast(@RowsDeleted as varchar(100));

        UPDATE
            cp
        SET
            cp.adjudication_status_id = @AdjudicationStatusOpenId
        ,   cp.alternate_procedure_code_id = CASE
                                                 WHEN @IsDental = 1
                                                 AND arc.claim_procedure_id IS NOT NULL
                                                     THEN NULL
                                                 ELSE cp.alternate_procedure_code_id
                                             END
        ,   cp.alternate_procedure_code_ud = CASE
                                                 WHEN @IsDental = 1
                                                 AND arc.claim_procedure_id IS NOT NULL
                                                     THEN NULL
                                                 ELSE cp.alternate_procedure_code_ud
                                             END
        FROM
            dbo.claim_procedure cp
        JOIN
            @ClaimProcedureIDs cpi
                ON cp.claim_procedure_id  = cpi.claim_procedure_id
        LEFT JOIN
            @DentAppliedAlternateCourseIDs arc
                ON cpi.claim_procedure_id = arc.claim_procedure_id;

        UPDATE
            dbo.claim
        SET
            adjudication_status_id = @ClaimAdjudicationStatusId
        WHERE
            claim_id = @ClaimId;

        IF @debug >= 1
            PRINT 'DONE';

        IF ISNULL(@commit, 0) = 0
            ROLLBACK TRAN;
        ELSE
            COMMIT TRAN;

    --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) BEGIN print 'rowsdeleted='+cast(@rowsdeleted as varchar(100))+'  claim_id='+cast(@claimid as varchar(100)); END;
    --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) SELECT adjudication_status_ud as ClaimStatus	FROM claim c JOIN adjudication_status claimstatus ON c.adjudication_status_id=claimstatus.adjudication_status_id WHERE c.claim_id = @ClaimId;
    --SET @RowsDeleted += @@ROWCOUNT; if (@debug=2) SELECT adjudication_status_ud as claimLineStatus FROM claim_procedure cp JOIN adjudication_status claimLineStatus ON cp.adjudication_status_id=claimLineStatus.adjudication_status_id	WHERE cp.claim_id = @ClaimId;
    END TRY
    BEGIN CATCH
        DECLARE
            @ErrorMessage   NVARCHAR(4000)
        ,   @ErrorNumber    INT           = ERROR_NUMBER()
        ,   @ErrorSeverity  INT           = ERROR_SEVERITY()
        ,   @ErrorState     INT           = ERROR_STATE()
        ,   @ErrorLine      INT           = ERROR_LINE()
        ,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

        SELECT
            @ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
                            + CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
                            + ERROR_MESSAGE();

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        RAISERROR(
                     @ErrorMessage, @ErrorSeverity, 1
                 ,   @ErrorNumber    -- parameter: original error number.
                 ,   @ErrorSeverity  -- parameter: original error severity.
                 ,   @ErrorState     -- parameter: original error state.
                 ,   @ErrorProcedure -- parameter: original error procedure name.
                 ,   @ErrorLine      -- parameter: original error line number.
                 );
    END CATCH;

    Done:

    -- The calling service wants to know the UD and Form Type
    SELECT
        result_code = @ResultCodeNoWorries
    ,   claim_ud = @ClaimUd
    ,   claim_form_type_ud = @ClaimFormTypeUd;
END;
GO
