USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_lock_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran		1.1		FS changed
12/14/2005      HungTNguyen	1.2               BENEFIT_CONTRACT_PERIOD_LOCKS ==> BENEFIT_CONTRACT_PERIOD_LOCK
12/14/2005      HungTNguyen     1.2               comment=>comment
12/14/2005      HungTNguyen     1.2               locks_by=>lock_by
benefit_contract_period_locks_id=>benefit_contract_period_lock_id
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Delete for Locks grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_lock_id - Key to benefit_contract_period_lock table, identifies a single stored benefit_contract_period_lock.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_contract_period_lock_delete]
(
@benefit_contract_period_lock_id            int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT 1 FROM benefit_contract_period_lock WHERE benefit_contract_period_lock_id = @benefit_contract_period_lock_id )
BEGIN
-- RAISERROR('benefit_contract_period_locks object not found in benefit_contract_period_locks for internal key %d.', 16, 1, @benefit_contract_period_locks_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--
--
--  END
--
DELETE FROM benefit_contract_period_lock
WHERE benefit_contract_period_lock_id = @benefit_contract_period_lock_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
--
GO
