USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 09/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/12/2005	hthan		1.0		    Created
12/23/2008  ccessnun	2.0         Modified to implement VersionONE Change Request:CR - 19688 - Update Alternate Course of Treatment Map Form R-01795
10/13/2020  eponomareff 3.0         Changes per ICU 20727
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an alternate course of treatment map detail
for grid Alternate Course of Treatment in form Dental Alternate PX Treatment Map
--
REQUIREMENTS:
--
INPUTS:
@alternate_course_of_treatment_map_id
@match_on_tooth_set_id
@match_on_procedure_code_type_id
@match_on_procedure_code_ud
@match_on_number_of_surfaces
@match_on_age_begin
@match_on_age_end
@alternate_course_procedure_code_type_id
@alternate_course_procedure_code_ud
@result_code_id
@default_result_code_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_detail_save]
(
@alternate_course_of_treatment_map_detail_id int = NULL   OUTPUT
,@alternate_course_of_treatment_map_id       int = NULL
,@match_on_tooth_set_id                      int = NULL
,@match_on_procedure_code_type_id            int = NULL
,@procedure_code_group_id			int = NULL
,@match_on_number_of_surfaces                int = NULL
,@match_on_age_begin                         int = NULL
,@match_on_age_end                           int = NULL
,@match_on_begin_tooth_number_id             int = NULL
,@match_on_end_tooth_number_id               int = NULL
,@area_of_oral_cavity_id							int = NULL
,@match_on_begin_procedure_code_id           int = NULL
,@match_on_end_procedure_code_id             int = NULL
,@alternate_course_procedure_code_type_id    int = NULL
,@alternate_course_procedure_code_ud         nvarchar(100) = NULL
,@unit_month_year_id                         int = null
,@tooth_surface_ud                           nvarchar(50) = NULL
,@member_responsibility                      bit = 0
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

declare @parent_key int
declare @i int
declare @temp nvarchar(50)
declare @temp1 nvarchar(50)
declare @index int
declare @claim_id int

--
IF ( @alternate_course_of_treatment_map_detail_id is Null ) or ( @alternate_course_of_treatment_map_detail_id = 0 )
BEGIN
INSERT INTO alternate_course_of_treatment_map_detail(
alternate_course_of_treatment_map_id
,match_on_tooth_set_id
,match_on_procedure_code_type_id
,procedure_code_group_id
,match_on_number_of_surfaces
,match_on_age_begin
,match_on_age_end
,unit_month_year_id
,match_on_begin_tooth_number_id
,match_on_end_tooth_number_id
,area_of_oral_cavity_id
,match_on_begin_procedure_code_id
,match_on_end_procedure_code_id
,alternate_course_procedure_code_type_id
,alternate_course_procedure_code_ud
,member_responsibility
,active
)
VALUES
(@alternate_course_of_treatment_map_id
,@match_on_tooth_set_id
,@match_on_procedure_code_type_id
,@procedure_code_group_id
,@match_on_number_of_surfaces
,@match_on_age_begin
,@match_on_age_end
,@unit_month_year_id
,@match_on_begin_tooth_number_id
,@match_on_end_tooth_number_id
,@area_of_oral_cavity_id
,@match_on_begin_procedure_code_id
,@match_on_end_procedure_code_id
,@alternate_course_procedure_code_type_id
,@alternate_course_procedure_code_ud
,@member_responsibility
,@active
) --
SET @alternate_course_of_treatment_map_detail_id = @@IDENTITY

if (@tooth_surface_ud is not null) and (ltrim(@tooth_surface_ud) <> '')
begin
set @temp = @tooth_surface_ud
set @i = 1
while (@i <= len(@tooth_surface_ud))
begin
set @temp1 = substring(@temp, @i, 1)
set @index = (select top 1 tooth_surface.tooth_surface_id from tooth_surface where tooth_surface.tooth_surface_ud = @temp1)
if (@index is not null) and (@index <> 0)
begin
insert into alternate_course_of_treatment_map_detail_tooth_surface (
alternate_course_of_treatment_map_detail_id
,tooth_surface_id
)
VALUES
(@alternate_course_of_treatment_map_detail_id
,@index
)
end
set @i = @i + 1
end
end

END
ELSE IF NOT EXISTS (SELECT * FROM alternate_course_of_treatment_map_detail WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE alternate_course_of_treatment_map_detail
SET
alternate_course_of_treatment_map_id		=@alternate_course_of_treatment_map_id
,match_on_tooth_set_id						=@match_on_tooth_set_id
,match_on_procedure_code_type_id			=@match_on_procedure_code_type_id
,procedure_code_group_id			=@procedure_code_group_id
,match_on_number_of_surfaces				=@match_on_number_of_surfaces
,match_on_age_begin							=@match_on_age_begin
,match_on_age_end							=@match_on_age_end
,unit_month_year_id						=@unit_month_year_id
,match_on_begin_tooth_number_id				=@match_on_begin_tooth_number_id
,match_on_end_tooth_number_id				=@match_on_end_tooth_number_id
,area_of_oral_cavity_id						=@area_of_oral_cavity_id
,match_on_begin_procedure_code_id			=@match_on_begin_procedure_code_id
,match_on_end_procedure_code_id				=@match_on_end_procedure_code_id
,alternate_course_procedure_code_type_id	=@alternate_course_procedure_code_type_id
,alternate_course_procedure_code_ud			=@alternate_course_procedure_code_ud
,member_responsibility                      =@member_responsibility
,active										=@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id

delete  alternate_course_of_treatment_map_detail_tooth_surface
where	alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id

--insert a row into alternate_course_of_treatment_map_detail_tooth_surface table
if (@tooth_surface_ud is not null) and (ltrim(@tooth_surface_ud) <> '')
begin
set @temp = @tooth_surface_ud
set @i = 1
while (@i <= len(@tooth_surface_ud))
begin
set @temp1 = substring(@temp, @i, 1)
set @index = (select top 1 tooth_surface.tooth_surface_id from tooth_surface where tooth_surface.tooth_surface_ud = @temp1)
if (@index is not null) and (@index <> 0)
begin
insert into alternate_course_of_treatment_map_detail_tooth_surface (
alternate_course_of_treatment_map_detail_id
,tooth_surface_id
)
VALUES
(@alternate_course_of_treatment_map_detail_id
,@index
)
end
set @i = @i + 1
end

end

END
--
RETURN @SP_SUCCESS
--
GO
