USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_trading_partner_identifier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Mar 31 2011 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Repricing Type values on Assign Repricing Workflow form
--

******************************/
CREATE   PROCEDURE [dbo].[plx_dd_trading_partner_identifier_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT

tpi.trading_partner_identifier_id
,tpi.trading_partner_identifier_ud

FROM trading_partner_identifier tpi
ORDER BY trading_partner_identifier_ud
--
RETURN @SP_SUCCESS
GO
