USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_update_payment_related_statuses]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_update_payment_related_statuses]
@paymentDetailId INT
AS

SET NOCOUNT ON;

-- There is a function that is used to get the unapplied amounts for a transaction.  This function has some performance problems at
-- times when dealing with a volume of transactions.  This code intentionally does not use that function (don't put it back).  It is
-- not always immediately obvious that the function will be the cause of performance issues.

DECLARE
@paymentStatusVoided INT,
@paymentStatusEntered INT;

SELECT @paymentStatusVoided = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'VOIDED');
SELECT @paymentStatusEntered = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'ENTERED');

IF OBJECT_ID('tempdb..#applied_amounts') IS NOT NULL
DROP TABLE #applied_amounts;

CREATE TABLE #applied_amounts
(
accounting_transaction_ap_id INT NOT NULL,
applied_amount NUMERIC(19,4) NOT NULL
);

;WITH in_payment (accounting_transaction_ap_id) AS
(
SELECT DISTINCT
apto.to_accounting_transaction_ap_id
FROM
accounting_transaction_ap_payment_detail pd
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = pd.accounting_transaction_ap_id
WHERE
pd.accounting_transaction_ap_payment_detail_id = @paymentDetailId
)
INSERT INTO #applied_amounts
(
accounting_transaction_ap_id,
applied_amount
)
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
in_payment ip
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.to_accounting_transaction_ap_id = ip.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
pd.accounting_payment_status_id NOT IN (@paymentStatusVoided, @paymentStatusEntered)
GROUP BY
apto.to_accounting_transaction_ap_id;

CREATE INDEX IDX_plx_disbursement_applied_amounts_accounting_transaction_ap_id ON #applied_amounts (accounting_transaction_ap_id);

IF OBJECT_ID('tempdb..#transactions') IS NOT NULL
DROP TABLE #transactions;

CREATE TABLE #transactions
(
accounting_transaction_ap_id INT NOT NULL,
claim_procedure_id INT,
unapplied_amount NUMERIC(19,4)
);

;WITH in_payment (accounting_transaction_ap_id) AS
(
SELECT DISTINCT
apto.to_accounting_transaction_ap_id
FROM
accounting_transaction_ap_payment_detail pd
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = pd.accounting_transaction_ap_id
WHERE
pd.accounting_transaction_ap_payment_detail_id = @paymentDetailId
)
INSERT INTO #transactions
(
accounting_transaction_ap_id,
claim_procedure_id,
unapplied_amount
)
SELECT
ip.accounting_transaction_ap_id,
cd.claim_procedure_id,
atap.transaction_amount - ISNULL(aa.applied_amount, 0)
FROM
in_payment ip
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = ip.accounting_transaction_ap_id
LEFT JOIN #applied_amounts aa
ON aa.accounting_transaction_ap_id = ip.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = ip.accounting_transaction_ap_id

DECLARE
@claimPaymentProcessStatusPaid INT,
@claimPaymentProcessStatusInAccounting INT,
@accountingTransactionStatusPaid INT,
@accountingTransactionStatusAvailable INT;

SELECT @claimPaymentProcessStatusPaid = (SELECT claim_payment_process_status_id FROM claim_payment_process_status WHERE golden_key = 'PAID');
SELECT @claimPaymentProcessStatusInAccounting = (SELECT claim_payment_process_status_id FROM claim_payment_process_status WHERE golden_key = 'IN_ACCOUNTING');
SELECT @accountingTransactionStatusPaid = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'PAID');
SELECT @accountingTransactionStatusAvailable = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'AVAILABLE');

UPDATE
atap
SET
atap.accounting_transaction_status_id =
CASE
WHEN t.unapplied_amount = 0
THEN @accountingTransactionStatusPaid
ELSE @accountingTransactionStatusAvailable
END
FROM
#transactions t
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = t.accounting_transaction_ap_id;

UPDATE
cp
SET
cp.claim_payment_process_status_id =
CASE
WHEN t.unapplied_amount = 0
THEN @claimPaymentProcessStatusPaid
ELSE @claimPaymentProcessStatusInAccounting
END
FROM
#transactions t
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = t.claim_procedure_id;
GO
