USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_reportcategory_sel_all]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_reportcategory_sel_all]
As

Select
report_category_id,
report_category_ud,
golden_key
From
report_category
GO
