USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_timely_filing_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
Feb 24 2006 11:32AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/24	Anh Ta		1.0		Used for ICU#15894 Payment Contract
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down timely_filing_rule (Timely Filing Rule)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_timely_filing_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
timely_filing_rule.timely_filing_rule_id
,timely_filing_rule.timely_filing_rule_ud
,timely_filing_rule.description
,timely_filing_rule.golden_key
FROM timely_filing_rule
ORDER BY  timely_filing_rule.timely_filing_rule_ud
--
RETURN @SP_SUCCESS
--
GO
