USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Delete a record for benefit_plan set detail on frmBenefitPlanSet

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_plan_set_detail_delete]
(
@benefit_plan_set_detail_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_plan_set_detail WHERE benefit_plan_set_detail_id = @benefit_plan_set_detail_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_plan_set_detail
WHERE benefit_plan_set_detail_id = @benefit_plan_set_detail_id
END
--
RETURN @SP_SUCCESS
--
GO
