USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_frequency_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 2016-04-15
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2016-04-15	eponomareff		1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for grid grdInvoiceFrequency on form Enrollment Form.

--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_frequency_save]
(
@family_eligibility_premium_invoice_frequency_id                   INT = 0   OUTPUT
,@family_eligibility_id			INT = NULL
,@frequency_id               INT = 0
,@effective_from				DATETIME = NULL
,@effective_thru				DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF ISNULL(@family_eligibility_premium_invoice_frequency_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO family_eligibility_premium_invoice_frequency(
family_eligibility_id
,frequency_id
,effective_from
,effective_thru
)
VALUES
(@family_eligibility_id
,@frequency_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @family_eligibility_premium_invoice_frequency_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_premium_invoice_frequency WHERE family_eligibility_premium_invoice_frequency_id = @family_eligibility_premium_invoice_frequency_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_premium_invoice_frequency
SET
frequency_id			= @frequency_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,modified_user_name     = ORIGINAL_LOGIN()
,modified_date          = GETDATE()

WHERE family_eligibility_premium_invoice_frequency_id = @family_eligibility_premium_invoice_frequency_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
