USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_individual_billing_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 04/15/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/12/2016	eponomareff	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for form Individual Billing, which is launched from the
Enrollment form header, but only if the related Benefit Contract is set up for
Individual Billing (premium policy type = INDIVIDUAL)

RETRIEVES A SINGLE ROW with latest customer.

This stored procedure takes the top row after sorting by customer, most recent first.
The business requirment is to show the latest customer associated with this
enrollment on the form.

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_individual_billing_load]
(
@family_eligibility_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

-- gets a single role for this enrollment, referencing the latest customer
SELECT TOP 1
fe.family_eligibility_id
,fe.family_eligibility_ud
,c.customer_id
,c.customer_ud
-- these fields are not used yet in the form, but may be in future
,bc.benefit_contract_id
,psib.cycle_01_days_premium_review
,psib.cycle_02_days_invoice_review
,psib.cycle_03_days_until_invoice_date
,psib.cycle_04_days_until_invoice_due_date
,psib.cycle_05_days_until_coverage_start
,psib.premium_setup_id

FROM dbo.family_eligibility fe
INNER JOIN benefit_contract bc ON fe.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN premium_setup ps ON bc.premium_setup_id = ps.premium_setup_id
LEFT JOIN premium_setup_individual_billing psib ON ps.premium_setup_id = psib.premium_setup_id
LEFT JOIN family_eligibility_customer fec on fec.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN customer c on c.customer_id = fec.customer_id

WHERE fe.family_eligibility_id = @family_eligibility_id
ORDER BY fec.effective_from desc
;
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
