USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_contact_address_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		More clearly and deleted EXCEPTION msg
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down contact_address_type (Type (Contact Address Type))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_dd_contact_address_type_load]

AS
BEGIN
SET NOCOUNT ON
DECLARE  @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT
contact_address_type_id
,contact_address_type_ud
FROM contact_address_type
ORDER BY contact_address_type_ud
RETURN @SP_SUCCESS
END
GO
