USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_complete_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
07/13/2012 cmaddox
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for the diagnosis code complete

--
REQUIREMENTS:
--
INPUTS:
@diagnosis_code_complete_id - Key to diagnosis_code_complete table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_diagnosis_code_complete_delete]
(
@diagnosis_code_complete_id                          int = NULL

) AS
--
DECLARE
@SP_SUCCESS   int

SELECT
@SP_SUCCESS = 0

--
BEGIN
DELETE FROM diagnosis_code_complete
WHERE diagnosis_code_complete_id = @diagnosis_code_complete_id
END
--
RETURN @SP_SUCCESS
--
GO
