USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/01/2009
--
REVISION_HISTORY:
--
Date        Modified By     Version  Description
--------------------------------------------------------------------------------
07/01/2009	W.Christensen   1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for frmFeeSetup
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_fee_setup_load]
(
@client_id as int
)
AS
--
SET NOCOUNT ON
--
SELECT
client.client_id,
client_name.client_ud,
client_name.client_nm,
cfs.client_fee_setup_id,
cfs.invoice_schedule_form_id,
cfs.active,
ac.accounting_company_id,
ac.accounting_company_ud,
ac.description AS accounting_company_description,
schedule_form.duration_start_date,
schedule_form.duration_end_date,
(SELECT MAX(start_time)
FROM invoice_process_client_fees_run runs
WHERE runs.client_fee_setup_id = cfs.client_fee_setup_id) AS last_scheduled_run,
client.modified_date

FROM client
LEFT JOIN client_name
ON client_name.client_id = client.client_id AND client_name.primary_name = 1
LEFT JOIN client_fee_setup cfs
ON cfs.client_id = client.client_id
INNER JOIN accounting_company ac
ON client.accounting_company_id = ac.accounting_company_id
LEFT JOIN schedule_form
ON cfs.invoice_schedule_form_id = schedule_form.schedule_form_id

WHERE client.client_id = ISNULL(@client_id, 0)

RETURN 0

--
GO
