USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_selection_priority_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/29/2005       Anh Ta           1.0             Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_selection_priority (Claims Selection Priority)
--
REQUIREMENTS:
--
INPUTS:
claim_selection_priority_id - Key to claim_selection_priority table, identifies a single stored dd_claim_selection_priority.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_selection_priority_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_selection_priority_id
,claim_selection_priority_ud
FROM claim_selection_priority
ORDER BY claim_selection_priority_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
--     RAISERROR('dd_claim_selection_priority object not found in claim_selection_priority for internal key %d.', 16, 1, @claim_selection_priority_id)
RETURN @SP_EXCEPTION
END
--
GO
