USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_relationship_maximum_age_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 10/16/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Relationship Maximum Ages grid on Eligibility Restriction form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_relationship_maximum_age_list_load]
(
@eligibility_restriction_relationship_to_subscriber_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
relationship_maximum_age.relationship_maximum_age_id
,eligibility_restriction_relationship_to_subscriber_id

,relationship_maximum_age.marital_status_id
,relationship_maximum_age.employment_status_code_id
,relationship_maximum_age.student_status_id
,relationship_maximum_age.maximum_age
,relationship_maximum_age.maximum_age_unit_day_week_month_year_id

,relationship_maximum_age.result_code_id
,result_code.result_code_ud
,result_code.short_message

,relationship_maximum_age.result_status_id as result_code_status_id


FROM relationship_maximum_age
left join result_code  ON result_code.result_code_id = relationship_maximum_age.result_code_id

WHERE relationship_maximum_age.eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
