USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_treatment_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 30 2005  4:01PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_treatment_type_load]

(
@treatment_type_set_id			Int = null
,@treatment_type_category_id		int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

if (@treatment_type_category_id is not null)
begin
select
treatment_type.treatment_type_id
,treatment_type.treatment_type_ud
from treatment_type
left join treatment_type_category_treatment_type on treatment_type_category_treatment_type.treatment_type_id = treatment_type.treatment_type_id
where treatment_type_category_treatment_type.treatment_type_category_id = @treatment_type_category_id
order by  treatment_type_ud
end
else if (@treatment_type_set_id is not null)
begin
select
treatment_type.treatment_type_id
,treatment_type.treatment_type_ud
from treatment_type
left join treatment_type_set_treatment_type on treatment_type_set_treatment_type.treatment_type_id = treatment_type.treatment_type_id
where treatment_type_set_treatment_type.treatment_type_set_id = @treatment_type_set_id
order by  treatment_type_ud
end
else
begin
select
treatment_type.treatment_type_id
,treatment_type.treatment_type_ud
from treatment_type
left join treatment_type_set_treatment_type on treatment_type_set_treatment_type.treatment_type_id = treatment_type.treatment_type_id
order by  treatment_type_ud
end


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
