USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_network_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to save data in grid "Network Assignments"
in Family Eligibility form and Advanced Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_network_save]

(
@family_eligibility_member_benefit_plan_network_id int = null output
,@family_eligibility_member_benefit_plan_id int = null
,@provider_network_level_id                  int = NULL
,@provider_network_id                        int = NULL
,@not_available                              bit = NULL
,@use_subscriber_network                     bit = NULL
,@no_fee                                     bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @family_eligibility_member_benefit_plan_network_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_member_benefit_plan_network(
family_eligibility_member_benefit_plan_id
,provider_network_level_id
,provider_network_id
,not_available
,use_subscriber_network
,no_fee
,effective_from
,effective_thru
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@provider_network_level_id
,@provider_network_id
,@not_available
,@use_subscriber_network
,@no_fee
,@effective_from
,@effective_thru
,@active
)
--
SET @family_eligibility_member_benefit_plan_network_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_network WHERE family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record

DECLARE @ErrorVar int, @RowCountVar int
--
UPDATE family_eligibility_member_benefit_plan_network
SET
family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
,provider_network_level_id                = @provider_network_level_id
,provider_network_id                      = @provider_network_id
,not_available                            = @not_available
,use_subscriber_network                   = @use_subscriber_network
,no_fee                                   = @no_fee
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
