USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_refund_void]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Voids a Customer Refund. Launched from cmdVoid on frmVoidCustomerRefund.
NOTES:
Modeled after VoidCustomerPayment service in Accounting.sln

o Updates the Customer Refund status to VOIDED
o Reverses the associated distributions

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_refund_void]
(
@accounting_transaction_ar_id	           INT = NULL     -- Customer Refund ID ( = @from_accounting_transaction_ar_id)
,@accounting_transaction_ar_void_reason_id INT = NULL
,@void_date                                DATE = NULL
,@comments                                 NVARCHAR(300) = NULL
)
AS
--
--
SET NOCOUNT ON

--
BEGIN TRANSACTION

-- get voided status on acounting_transaction_ar
DECLARE @VoidedArTransactionStatusId INT;
SET @VoidedArTransactionStatusId =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED');

UPDATE accounting_transaction_ar
SET
accounting_transaction_status_id           = @VoidedArTransactionStatusId,
accounting_transaction_ar_void_reason_id   = @accounting_transaction_ar_void_reason_id,
void_date                                  = @void_date,
comments                                   = @comments,
voided_by                                  = ORIGINAL_LOGIN(),
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id;


-- Insert reverse distributions
INSERT accounting_transaction_ar_distribution (
accounting_transaction_ar_id,
accounting_company_account_id,
is_debit,
amount,
active)
SELECT
accounting_transaction_ar_id,
accounting_company_account_id,
CASE
WHEN is_debit = 1 THEN 0
ELSE 1
END,
amount,
active
FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

-- Set voided status on detail
DECLARE @statusId INT;
SET @statusId =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED');

-- set status
UPDATE accounting_transaction_ar_refund_detail
SET accounting_payment_status_id = @statusId
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN -1
END
ELSE
COMMIT TRANSACTION
--
RETURN 0
GO
