USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_find_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 17 2006  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
17/8/2006     ThuyNgo		1.0     Created
05/14/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find commission_depreciation based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_commission_depreciation_find_load]
(
@get_column_headers			BIT = 0
,@commission_depreciation_ud                 nvarchar(50) = NULL
,@description                                nvarchar(255) = NULL
,@benefit_contract_id				int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@show_only_current        			bit = 0
,@show_exact_matches                         bit = 0
) AS
--
DECLARE
@SP_SUCCESS int
,@SqlQuery	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@SqlOrder	NVARCHAR(500)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''
--

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

SET @SqlQuery ='
SELECT  TOP (dbo.fn_results_limit())
commission_depreciation.commission_depreciation_id
,commission_depreciation.commission_depreciation_ud
,commission_depreciation.description
,benefit_contract.benefit_contract_ud
,commission_depreciation.effective_from
,commission_depreciation.effective_thru

FROM dbo.commission_depreciation
LEFT JOIN commission_depreciation_allowed_on_benefit_contract ON commission_depreciation_allowed_on_benefit_contract.commission_depreciation_id = commission_depreciation.commission_depreciation_id
LEFT JOIN benefit_contract ON benefit_contract.benefit_contract_id = commission_depreciation_allowed_on_benefit_contract.benefit_contract_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0'

IF @commission_depreciation_ud IS NOT NULL AND @commission_depreciation_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(commission_depreciation.commission_depreciation_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@commission_depreciation_ud,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(commission_depreciation.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix
IF @benefit_contract_id IS NOT NULL AND @benefit_contract_id <> ''
SET @SqlCondition = @SqlCondition + ' AND (benefit_contract.benefit_contract_id =  ' +   CONVERT(NVARCHAR, @benefit_contract_id) + ')'
IF @show_exact_matches = 1
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, commission_depreciation.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) = 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, commission_depreciation.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) = 0 '
END
ELSE
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, commission_depreciation.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, commission_depreciation.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '
END

IF @show_only_current = 1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND dbo.plx_fnIsDateInRange(commission_depreciation.effective_from, commission_depreciation.effective_thru, GETDATE()) = 1 '
END

set @SqlOrder = ' ORDER BY commission_depreciation_ud '
EXEC (@SqlQuery + @SqlCondition + @SqlOrder)
--
RETURN @SP_SUCCESS
GO
