USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 10/31/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2007	Vishwa Jella	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the diagnosis_code_group table.
This stored procedure is used in the Diagnosis Code Group form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_delete]
(
@diagnosis_code_group_id                    int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM diagnosis_code_group WHERE diagnosis_code_group_id = @diagnosis_code_group_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM diagnosis_code_group_diagnosis_code WHERE diagnosis_code_group_id = @diagnosis_code_group_id

DELETE FROM diagnosis_code_group WHERE diagnosis_code_group_id = @diagnosis_code_group_id
END
--
RETURN @SP_SUCCESS
END
GO
