USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

To load data into Transactions Included in Customer Refund Grid
on Customer Refund form

NOTE:	The form allows only AR Credits to be added.
If a Charge were added, it would show as negative, the opposite
direction of the Invoice.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_load]
(
@accounting_transaction_ar_id	INT = NULL	-- Customer Refund ID ( = @from_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@UNAPPLIED_AMOUNT NUMERIC(20,10),
@APPLIED_AMOUNT NUMERIC(20,10);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0;

SELECT
apply_to.accounting_transaction_ar_apply_to_id
,apply_to.from_accounting_transaction_ar_id
,apply_to.to_accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud
,ata.accounting_transaction_ar_type_id
,ata.transaction_date
,CASE
WHEN pmtStatus.golden_key = 'ENTERED' THEN
-- The unapplied amount is refreshed if the Refund is in an Entered status.
-- This could come into play if a Paid Invoice or Refund with the same transaction partially applied were voided.
-- The function below returns the absolute value of the Unapplied Amount for the Charge or Credit,
--		filtering out Invoices/Refunds in a status of VOIDED or ENTERED.
(CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN dbo.plx_fn_get_unapplied_amount_for_ar_transaction(ata.accounting_transaction_ar_id, 1)
WHEN 'CHARGE' THEN (-1 * dbo.plx_fn_get_unapplied_amount_for_ar_transaction(ata.accounting_transaction_ar_id, 1))
END)
ELSE
(CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN  apply_to.unapplied_amount
WHEN 'CHARGE' THEN (-1 * apply_to.unapplied_amount)
END)
END as unapplied_amount
,CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN apply_to.amount
WHEN 'CHARGE' THEN apply_to.amount * -1         -- on a refund, any charge would show as negative.
END as apply_to_amount
,apply_to.comment
,ata.accounting_source_id
,accounting_source.accounting_source_ud
,CASE accounting_source.golden_key
WHEN 'Billing' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'PREMIUM_FEE_AR' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'ELIGIBILITY_RATE' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'CLIENT_FEES' THEN (SELECT claim_payment_run_ud FROM claim_payment_run WHERE claim_payment_run_id = ata.accounting_source_record_id)
ELSE ''
END AS accounting_source_record_ud
,accounting_source.golden_key
,ata.accounting_source_record_id
FROM accounting_transaction_ar_apply_to as apply_to
JOIN accounting_transaction_ar ata ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN accounting_source ON ata.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN accounting_transaction_ar_type ON ata.accounting_transaction_ar_type_id = accounting_transaction_ar_type.accounting_transaction_ar_type_id
LEFT JOIN accounting_transaction_ar_refund_detail detail ON  detail.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_payment_status pmtStatus ON  pmtStatus.accounting_payment_status_id = detail.accounting_payment_status_id
WHERE apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
ORDER BY apply_to.accounting_transaction_ar_apply_to_id DESC;

RETURN 0
GO
