USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_status_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/01/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran			1.1			FS changed
08/10/2005	ptran			1.11		add system_claim_status_ud column
02/9/2006	HungtNguyen		1.12		Changed from error_in_key_object to error_in_key_business_object_id
12/13/2007	Vishwa Jella		1.13		Updated with ICU 17841
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load Data for Benefit Setup Errors grid in Benefit Contract form--
REQUIREMENTS:
--
INPUTS:
benefit_contract_period_id
--
OUTPUTS:
benefit_contract_period_status records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_period_status_list_load]
(
@benefit_contract_period_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--


SELECT
bcps.benefit_contract_period_status_id
,bcps.benefit_contract_period_benefit_plan_id
,bcps.benefit_contract_period_id
,bcps.benefit_contract_status_level_id
,benefit_contract_status_level.benefit_contract_status_level_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,bcps.details
,benefit_contract_period_benefit_plan.modified_date

FROM         benefit_contract_period_benefit_plan INNER JOIN
benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id RIGHT OUTER JOIN
benefit_contract_period_status AS bcps ON
benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = bcps.benefit_contract_period_benefit_plan_id LEFT OUTER JOIN
benefit_contract_status_level ON
bcps.benefit_contract_status_level_id = benefit_contract_status_level.benefit_contract_status_level_id
WHERE (bcps.benefit_contract_period_id = @benefit_contract_period_id)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
