USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load details in header section for Vendor Refund Payment
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_detail_load]
(
@accounting_transaction_ap_id    INT =NULL
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
apa.accounting_transaction_ap_id AS accounting_transaction_ap_id -- vendor_refund_payment_id
,apa.accounting_transaction_ap_ud                                 -- vendor_refund_payment_ud
,refDetail.accounting_transaction_ap_refund_payment_detail_id
,ISNULL(apa.transaction_amount,0) AS payment_amount  -- Payment Amount
,refDetail.accounting_payment_status_id
,accounting_payment_status.accounting_payment_status_ud
,accounting_payment_status.golden_key AS 'accounting_payment_status_golden_key'
,apa.transaction_date as payment_date
,refDetail.payment_method_payment_id
,pmp.payment_method_payment_ud
,apa.vendor_id
,vendor.vendor_ud
,apa.accounting_company_id
,ac.accounting_company_ud
,refDetail.ap_accounting_company_account_id
,aca.accounting_company_account_ud AS ap_accounting_company_account_ud
,refDetail.bank_account_id
,ba.bank_account_ud
,refDetail.check_ach_reference
,refDetail.memo
,apa.modified_date
,apa.modified_user_name
FROM accounting_transaction_ap apa
JOIN accounting_transaction_ap_refund_payment_detail refDetail
ON apa.accounting_transaction_ap_id = refDetail.accounting_transaction_ap_id
LEFT JOIN vendor ON apa.vendor_id = vendor.vendor_id
LEFT JOIN accounting_company As ac ON apa.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca ON refDetail.ap_accounting_company_account_id = aca.accounting_company_account_id
LEFT JOIN accounting_payment_status ON refDetail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id
LEFT JOIN bank_account ba ON refDetail.bank_account_id = ba.bank_account_id
LEFT JOIN payment_method_payment pmp ON refDetail.payment_method_payment_id = pmp.payment_method_payment_id
WHERE (apa.accounting_transaction_ap_id = @accounting_transaction_ap_id)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
