USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_last_scheduled_run_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_last_scheduled_run_load]
(
@coverage_level_process_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1;

SELECT
MAX(r.start_time) as last_scheduled_run
FROM dbo.coverage_level_process_queue q
LEFT JOIN dbo.coverage_level_process_run r
ON q.coverage_level_process_queue_id = r.coverage_level_process_queue_id
WHERE q.coverage_level_process_queue_id = @coverage_level_process_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
