USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_set_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 11/02/2009
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
DESCRIPTION:
Save for Fee Schedule Set form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_fee_schedule_set_save]
(
@fee_schedule_set_id			int = NULL   OUTPUT
,@fee_schedule_set_ud			nvarchar(50) = NULL
,@description					nvarchar(255) = NULL
,@fee_schedule_form_type_id			int = NULL
,@fee_schedule_resolution_rule_id			int = NULL
,@active						bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840006',
@ERROR_NOT_EXIST	= '159840007',
@ERROR_CANT_UPDATE 	= '159840008'
--
IF ISNULL(@fee_schedule_set_id,0) = 0
BEGIN

--- Create a new fee_schedule_set record
INSERT INTO fee_schedule_set(
fee_schedule_set_ud
,description
,fee_schedule_form_type_id
,fee_schedule_resolution_rule_id
,active
)
VALUES
(@fee_schedule_set_ud
,@description
,@fee_schedule_form_type_id
,@fee_schedule_resolution_rule_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @fee_schedule_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule_set WHERE fee_schedule_set_id = @fee_schedule_set_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_set record
UPDATE fee_schedule_set
SET
fee_schedule_set_ud                      = @fee_schedule_set_ud
,description                              = @description
,fee_schedule_form_type_id		 = @fee_schedule_form_type_id
,fee_schedule_resolution_rule_id		 = @fee_schedule_resolution_rule_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_set_id = @fee_schedule_set_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
