USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_queue_criteria_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.1
--
DESCRIPTION: Save data for grid grdCriteria on form frmClaimdisbursementQueue.

--
REQUIREMENTS:
--
INPUTS:
@disbursement_claim_payment_queue_criteria_id
@disbursement_claim_payment_queue_id
@criteria_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disbursement_claim_payment_queue_criteria_save]
(
@disbursement_claim_payment_queue_queue_criteria_id	INT = 0   OUTPUT
,@disbursement_claim_payment_queue_id                INT = NULL
,@criteria_id                           INT = NULL
,@vendor_id                             INT = NULL
,@client_id                             INT = NULL
,@client_group_id                       INT = NULL
,@effective_from                        DATETIME = NULL
,@effective_thru                        DATETIME = NULL
,@active                                BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--
IF ISNULL(@disbursement_claim_payment_queue_queue_criteria_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO disbursement_claim_payment_queue_queue_criteria(
disbursement_claim_payment_queue_id
,criteria_id
,vendor_id
,client_id
,client_group_id
,effective_from
,effective_thru
,active
)
VALUES
(@disbursement_claim_payment_queue_id
,@criteria_id
,@vendor_id
,@client_id
,@client_group_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @disbursement_claim_payment_queue_queue_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM disbursement_claim_payment_queue_queue_criteria WHERE disbursement_claim_payment_queue_queue_criteria_id = @disbursement_claim_payment_queue_queue_criteria_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

UPDATE disbursement_claim_payment_queue_queue_criteria
SET
disbursement_claim_payment_queue_id  = @disbursement_claim_payment_queue_id
,criteria_id            = @criteria_id
,vendor_id              = @vendor_id
,client_id              = @client_id
,client_group_id        = @client_group_id
,effective_from         = @effective_from
,effective_thru         = @effective_thru
,active                 = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE disbursement_claim_payment_queue_queue_criteria_id = @disbursement_claim_payment_queue_queue_criteria_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
