USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_network_level_ranking_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Networks grid
in Benefit Contract Template form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_network_level_ranking_id - Key to benefit_contract_period_benefit_plan_network_level_ranking table, identifies a single benefit_contract_period_benefit_plan_network_level_ranking,
@benefit_contract_period_benefit_plan_id
@provider_network_ranking_id
@provider_network_set_id
@provider_network_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_network_level_ranking_save]
(
@benefit_contract_period_benefit_plan_network_level_ranking_id	int = NULL output
,@benefit_contract_period_benefit_plan_id    int = NULL
,@provider_network_level_id                int = NULL
,@provider_network_set_id                    int = NULL
,@provider_network_id                        int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

--
IF @benefit_contract_period_benefit_plan_network_level_ranking_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan_network_level_ranking(
benefit_contract_period_benefit_plan_id
,provider_network_level_id
,provider_network_set_id
,provider_network_id
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@provider_network_level_id
,@provider_network_set_id
,@provider_network_id
,@active
)
--
SET @benefit_contract_period_benefit_plan_network_level_ranking_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_network_level_ranking WHERE benefit_contract_period_benefit_plan_network_level_ranking_id = @benefit_contract_period_benefit_plan_network_level_ranking_id )
BEGIN
--     RAISERROR('benefit_contract_period_benefit_plan_network_level_ranking object not found in benefit_contract_period_benefit_plan_network_level_ranking for internal key %d.', 16, 1, @benefit_contract_period_benefit_plan_network_level_ranking_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE benefit_contract_period_benefit_plan_network_level_ranking_id = @benefit_contract_period_benefit_plan_network_level_ranking_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan_network_level_ranking
SET
benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
,provider_network_level_id              = @provider_network_level_id
,provider_network_set_id                  = @provider_network_set_id
,provider_network_id                      = @provider_network_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_benefit_plan_network_level_ranking_id = @benefit_contract_period_benefit_plan_network_level_ranking_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
