USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_life_premium_volume_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 12/27/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/27/2012	eponomareff     1.0         created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_volume_type (Volume Type)
on the Find form for Life Premium Volume.

NOTE -	There is a similar form: Disability Volume, which has different premium volume type values
for its form and find form. The loading stored procedure for its dropdown is called:
plx_dd_disability_premium_volume_type_load
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_life_premium_volume_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
premium_volume_type.premium_volume_type_id
,premium_volume_type.premium_volume_type_ud
,premium_volume_type.golden_key

FROM premium_volume_type
WHERE
golden_key in (
'FIXED',
'AGE_RELATIONSHIP_TIER',
'ELECT_AT_ELIGIBILITY',
'BASED_ON_SALARY',
'ELECT_AT_ELIGIBILITY_LOAN_INFO'
)
ORDER BY  premium_volume_type_ud


RETURN @SP_SUCCESS
GO
