USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_pred_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/30/2013	eponomareff		1.1		replaced place of service checkboxes with combobox
to be like Dental Claim
06/23/2014	eponomareff		1.2		RT:6737 replace place_of_treatment_id
03/01/2016  jbernard	    2.8		Added code to update the missing info status.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
02/19/2015  amortensen      1.3     RT:7538 Original Date Received

HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_pred_save]
(
@claim_id										INT = NULL OUTPUT
,@claim_ud										NVARCHAR(100) = NULL
,@dental_claim_id								INT = NULL OUTPUT
,@dental_claim_type_id							INT = NULL
,@claim_form_type_id							INT = NULL
,@claim_status_id								INT = NULL
,@claim_status_ud								NVARCHAR(50) = NULL
,@claim_result_codes							NVARCHAR(100) = NULL
,@benefit_contract_id							INT = NULL
,@clean_date									DATETIME = NULL
,@received_date									DATETIME = NULL
,@adjudication_date								DATETIME = NULL
,@epsdt											BIT = NULL
,@replacement_of_prothesis						BIT = NULL
,@date_of_prior_placement						DATETIME = NULL
,@treatment_of_orthodontics						BIT = NULL
,@patient_eligibility_id						INT = NULL
,@use_eligibility_entered						BIT = 0
,@display_currency_id							INT = NULL
,@rendering_provider_id							INT = NULL
,@rendering_provider_identifier_id				INT = NULL
,@practice_office_id							INT = NULL
,@vendor_id										INT = NULL
,@billing_provider_id							INT = NULL
,@billing_provider_identifier_id				INT = NULL
,@other_coverage								BIT = NULL
,@patient_account_number						NVARCHAR(100) = NULL
,@treatment_due_to_auto_employment				BIT = NULL
,@treatment_due_to_auto_accident				BIT = NULL
,@treatment_due_to_other						BIT = NULL
,@date_of_accident								DATETIME = NULL
,@accident_state_id								INT = NULL
-- place of treatment, combobox replaced four checkboxes
,@place_of_service_id							INT = NULL
,@date_appliance_placed							DATETIME = NULL
,@months_of_treatment_remaining					INT = NULL
,@remarks										NVARCHAR(600) = NULL
,@patient_guardian_signature_on_file			BIT = 0
,@patient_guardian_signature_on_file_date		DATETIME = NULL
,@subscriber_signature_on_file_id				INT = NULL
,@subscriber_signature_on_file_date				DATETIME = NULL
,@provider_signature_on_file					BIT = NULL
,@provider_signature_on_file_date				DATETIME = NULL
,@vendor_additional_ud							NVARCHAR(50) = NULL
,@rendering_provider_specialty_type_id			INT = NULL
,@rendering_provider_taxonomy_code				NVARCHAR(50) = NULL
,@rendering_provider_additional_ud				NVARCHAR(50) = NULL
,@billing_provider_specialty_type_id			INT = NULL
,@billing_provider_taxonomy_code				NVARCHAR(50) = NULL
,@billing_provider_additional_ud				NVARCHAR(50) = NULL
,@ppo_claim_number								NVARCHAR(50) = NULL
,@repriced_network								NVARCHAR(50) = NULL
,@received_inhouse								DATETIME = NULL
,@paper_claim									BIT = 0
,@original_source_gk               		  		NVARCHAR(50) = NULL
,@active										BIT = 1
,@user_credential								NVARCHAR(255) = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR_CANT_INSERT   NVARCHAR(50),
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_NOT_EXIST     NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT = '105280009',
@ERROR_CANT_UPDATE = '105280010',
@ERROR_NOT_EXIST   = '105280011',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'

---------------------------------------------------
--  Assign claim form type
IF ISNULL(@claim_form_type_id, 0) = 0
SELECT @claim_form_type_id = claim_form_type_id
FROM claim_form_type
WHERE claim_form_type.golden_key = 'Predetermination'
---------------------------------------------------

---------------------------------------------------
-- Assign claim additional date type
DECLARE @received_inhouse_date_type AS INT
SELECT @received_inhouse_date_type = claim_additional_date_type_id
FROM claim_additional_date_type
WHERE claim_additional_date_type.golden_key = 'RECEIVED_INHOUSE'
---------------------------------------------------

IF ISNULL(@rendering_provider_identifier_id, 0) > 0
BEGIN
SELECT @rendering_provider_id = provider_id
FROM provider_identifier
WHERE provider_identifier_id = @rendering_provider_identifier_id
END

IF ISNULL(@billing_provider_identifier_id, 0) > 0
BEGIN
SELECT @billing_provider_id = provider_id
FROM provider_identifier
WHERE provider_identifier_id = @billing_provider_identifier_id
END

IF ISNULL(@claim_status_id, 0) = 0 AND ISNULL(@claim_status_ud, '') <> ''
BEGIN
SELECT @claim_status_id = adjudication_status.adjudication_status_id
FROM adjudication_status
WHERE adjudication_status.golden_key = @claim_status_ud
END

IF ISNULL(@clean_date, 0) = 0
BEGIN
IF ISNULL(@adjudication_date, 0) = 0
BEGIN
SET @clean_date = GETDATE()
END
ELSE
BEGIN
SET @clean_date = @adjudication_date
END
END

DECLARE @ErrorVar INT, @RowCountVar INT;

BEGIN TRANSACTION

-------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF CLAIM DATA --
-------------------------------------------------
IF ISNULL(@claim_id, 0) = 0
BEGIN
--- Create a new record for claim table
INSERT INTO claim(
claim_ud
,claim_form_type_id
,clean_date
,received_date
,family_eligibility_member_benefit_plan_id
,use_eligibility_entered
,display_currency_id
,provider_id
,provider_specialty_type_id
,rendering_provider_taxonomy_code
,provider_identifier_id
,rendering_provider_additional_ud
,billing_provider_id
,billing_provider_specialty_type_id
,billing_provider_taxonomy_code
,billing_provider_identifier_id
,billing_provider_additional_ud
,practice_office_id
,vendor_id
,vendor_additional_ud
,provider_signature_on_file
,provider_signature_on_file_date
,subscriber_signature_on_file_id
,subscriber_signature_on_file_date
,patient_guardian_signature_on_file
,patient_guardian_signature_on_file_date
,ppo_claim_number
,repriced_network
,adjudication_status_id
,user_credential
,paper_claim
,original_source_gk
,active
)
VALUES
(
@claim_ud
,@claim_form_type_id
,@clean_date
,@received_date
,@patient_eligibility_id
,@use_eligibility_entered
,@display_currency_id
,@rendering_provider_id
,@rendering_provider_specialty_type_id
,@rendering_provider_taxonomy_code
,@rendering_provider_identifier_id
,@rendering_provider_additional_ud
,@billing_provider_id
,@billing_provider_specialty_type_id
,@billing_provider_taxonomy_code
,@billing_provider_identifier_id
,@billing_provider_additional_ud
,@practice_office_id
,@vendor_id
,@vendor_additional_ud
,@provider_signature_on_file
,@provider_signature_on_file_date
,@subscriber_signature_on_file_id
,@subscriber_signature_on_file_date
,@patient_guardian_signature_on_file
,@patient_guardian_signature_on_file_date
,@ppo_claim_number
,@repriced_network
,@claim_status_id
,@user_credential
,@paper_claim
,@original_source_gk
,@active
)

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @claim_id = SCOPE_IDENTITY()
END
ELSE
BEGIN

--- updating claim data
UPDATE claim
SET
claim_ud                                    = @claim_ud
,claim_form_type_id                         = @claim_form_type_id
,clean_date                                 = @clean_date
,received_date                              = @received_date
,family_eligibility_member_benefit_plan_id  = @patient_eligibility_id
,use_eligibility_entered                    = @use_eligibility_entered
,display_currency_id                        = @display_currency_id
,provider_id                                = @rendering_provider_id
,provider_specialty_type_id                 = @rendering_provider_specialty_type_id
,rendering_provider_taxonomy_code           = @rendering_provider_taxonomy_code
,provider_identifier_id                     = @rendering_provider_identifier_id
,rendering_provider_additional_ud           = @rendering_provider_additional_ud
,billing_provider_id                        = @billing_provider_id
,billing_provider_specialty_type_id         = @billing_provider_specialty_type_id
,billing_provider_taxonomy_code             = @billing_provider_taxonomy_code
,billing_provider_identifier_id             = @billing_provider_identifier_id
,billing_provider_additional_ud             = @billing_provider_additional_ud
,practice_office_id                         = @practice_office_id
,vendor_id                                  = @vendor_id
,vendor_additional_ud                       = @vendor_additional_ud
,provider_signature_on_file                 = @provider_signature_on_file
,provider_signature_on_file_date            = @provider_signature_on_file_date
,subscriber_signature_on_file_id            = @subscriber_signature_on_file_id
,subscriber_signature_on_file_date          = @subscriber_signature_on_file_date
,patient_guardian_signature_on_file         = @patient_guardian_signature_on_file
,patient_guardian_signature_on_file_date    = @patient_guardian_signature_on_file_date
,ppo_claim_number                           = @ppo_claim_number
,repriced_network                           = @repriced_network
,adjudication_status_id                     = @claim_status_id
,user_credential                            = @user_credential
,paper_claim							= @paper_claim
,active                                     = @active
,modified_user_name                         = ORIGINAL_LOGIN()
,modified_date                              = GETDATE()

WHERE claim_id = @claim_id
--

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END

------------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF PRED CLAIM DATA --
------------------------------------------------------
IF ISNULL(@dental_claim_id, 0) = 0
BEGIN
--- Create a new dental claim record
INSERT INTO dental_claim(
claim_id
,dental_claim_type_id
,epsdt
,other_coverage
,patient_account_number
,remarks
,place_of_service_id
,treatment_of_orthodontics
,date_appliance_placed
,months_of_treatment_remaining
,replacement_of_prothesis
,date_of_prior_placement
,treatment_due_to_occupational_illness
,treatment_due_to_auto_accident
,treatment_due_to_other
,date_of_accident
,state_id
,active
)
VALUES
(
@claim_id
,@dental_claim_type_id
,@epsdt
,@other_coverage
,@patient_account_number
,@remarks
,@place_of_service_id
,@treatment_of_orthodontics
,@date_appliance_placed
,@months_of_treatment_remaining
,@replacement_of_prothesis
,@date_of_prior_placement
,@treatment_due_to_auto_employment
,@treatment_due_to_auto_accident
,@treatment_due_to_other
,@date_of_accident
,@accident_state_id
,@active
)

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @dental_claim_id = SCOPE_IDENTITY()

END
ELSE
BEGIN

--updating dental claim
UPDATE dental_claim
SET
claim_id                                    = @claim_id
,dental_claim_type_id                       = @dental_claim_type_id
,epsdt                                      = @epsdt
,other_coverage                             = @other_coverage
,patient_account_number                     = @patient_account_number
,remarks                                    = @remarks
,place_of_service_id                        = @place_of_service_id
,treatment_of_orthodontics                  = @treatment_of_orthodontics
,date_appliance_placed                      = @date_appliance_placed
,months_of_treatment_remaining              = @months_of_treatment_remaining
,replacement_of_prothesis                   = @replacement_of_prothesis
,date_of_prior_placement                    = @date_of_prior_placement
,treatment_due_to_occupational_illness      = @treatment_due_to_auto_employment
,treatment_due_to_auto_accident             = @treatment_due_to_auto_accident
,treatment_due_to_other                     = @treatment_due_to_other
,date_of_accident                           = @date_of_accident
,state_id                                   = @accident_state_id
,active                                     = @active
,modified_user_name                         = ORIGINAL_LOGIN()
,modified_date                              = GETDATE()

WHERE dental_claim_id = @dental_claim_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END

---------------------------------------------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF THE CLAIM ADDITIONAL DATE (RECEIVED_INOUSE) DATA --
---------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT claim_additional_date_id FROM claim_additional_date WHERE claim_id = @claim_id AND claim_additional_date_type_id = @received_inhouse_date_type)
BEGIN
---Create claim_additional_date (only if received_inhouse is not null)
IF @received_inhouse IS NOT NULL
BEGIN
INSERT INTO claim_additional_date
(
claim_id,
claim_additional_date_type_id,
date_stamp,
active
)
VALUES
(
@claim_id,
@received_inhouse_date_type,
@received_inhouse,
1
)
END

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
END
ELSE
BEGIN
---Update claim_additional_date (only if received_inhouse is not null)
IF @received_inhouse IS NOT NULL
BEGIN

-- Updating claim_additonal_date
UPDATE claim_additional_date
SET
date_stamp                          = @received_inhouse
,active                             = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_id = @claim_id AND claim_additional_date_type_id = @received_inhouse_date_type

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END
--if received_inhouse is null, delete the record
ELSE
BEGIN
DELETE FROM claim_additional_date
WHERE claim_id = @claim_id
END
END
EXEC [dbo].[plx_update_missing_info_status] @ClaimId = @claim_id
COMMIT TRANSACTION
--
RETURN @SP_SUCCESS
--
GO
