USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_service_representative_client_group_benefit_contract_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Sep  9 2005  2:16PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
01/23/2006	Thuy Ha				Change @@ROWCOUNT = 1 --> @@ROWCOUNT >= 1

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down service_representative_client_group_benefit_contract (Service Representative (Benefit Contracts, Clients and Groups))
--
REQUIREMENTS:
--
INPUTS:
service_representative_client_group_benefit_contract_id - Key to service_representative_client_group_benefit_contract table, identifies a single stored dd_service_representative_client_group_benefit_contract.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_service_representative_client_group_benefit_contract_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
service_representative_client_group_benefit_contract_id as service_representative_id
,service_representative_client_group_benefit_contract_ud
,service_representative_client_group_benefit_contract.service_representative_client_group_benefit_contract_nm

FROM service_representative_client_group_benefit_contract
order by service_representative_client_group_benefit_contract_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
