USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_address_location_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Oct 12 2005  2:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Populate data after tab off postal code

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_contact_address_location_load]
(
@locale_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
locale.locale_id
,locale.postal_code
, isnull(locale.city, '') +  case isnull(locale.county, '')
when '' then ''
else ', ' + locale.county
end  +
case isnull(state.state_ud, '')
when '' then ''
else ', ' + state.state_ud
end  +
case isnull(country.country_ud, '')
when '' then ''
else ', ' + country.country_ud
end as location

FROM locale
LEFT JOIN state  ON locale.state_id = state.state_id
LEFT JOIN country  ON locale.country_id = country.country_id
WHERE locale.locale_id = @locale_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
