USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dollar_limit_assignment_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version				Description
--------------------------------------------------------------------------------
07/13/2012			dcannon				1.0					Created
--
DESCRIPTION:
Delete row from Dollar Limit Assignments grid
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dollar_limit_assignment_delete]
(
@dollar_limit_assignment_id int = null
)
AS
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS
(
select dollar_limit_assignment_id
from dollar_limit_assignment
where dollar_limit_assignment_id = @dollar_limit_assignment_id
)
RETURN @SP_EXCEPTION
ELSE
BEGIN
DELETE FROM dollar_limit_assignment
WHERE
dollar_limit_assignment_id = @dollar_limit_assignment_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
--
RETURN @SP_SUCCESS
--
GO
