USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Deletes Vendor Refund Request when Status = 'ENTERED'
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_detail_delete]
(
@accounting_transaction_ap_id             int = NULL OUTPUT -- vendor_refund_request ID
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1;

IF NOT EXISTS (	SELECT *
FROM accounting_transaction_ap atar
JOIN accounting_transaction_ap_refund_request_detail atarpd
ON atarpd.accounting_transaction_ap_id = atar.accounting_transaction_ap_id
WHERE atar.accounting_transaction_ap_id = @accounting_transaction_ap_id)
RETURN @SP_SUCCESS
ELSE
BEGIN

BEGIN TRANSACTION

--Delete child tables
DECLARE @apply_to_transaction_id INT

DECLARE cur_apply_to_transactions CURSOR FOR
SELECT accounting_transaction_ap_apply_to_id
FROM accounting_transaction_ap_apply_to
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id

OPEN cur_apply_to_transactions
FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id

WHILE @@FETCH_STATUS = 0
BEGIN
-- Delete the apply to transaction
EXEC plx_accounting_transaction_ap_refund_request_detail_transactions_delete @apply_to_transaction_id

FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id
END

CLOSE cur_apply_to_transactions
DEALLOCATE cur_apply_to_transactions

--Delete the vendor_refund_request (First we have to delete from accounting_transaction_ap_refund_request_detail, then from accounting_transaction_ap table)
--Delete accounting_transaction_ap_refund_request_detail
DELETE FROM accounting_transaction_ap_refund_request_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

--Delete accounting_transaction_ap
DELETE FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION
END

RETURN @SP_SUCCESS;
GO
