USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_contact_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 05/16/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/16/2008	lrenard				created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a bank account in accounting company.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_bank_account_contact_delete]
(
@bank_account_contact_id         int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM bank_account_contact WHERE bank_account_contact_id = @bank_account_contact_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM bank_account_contact
WHERE bank_account_contact_id = @bank_account_contact_id
END
--
RETURN @SP_SUCCESS
--
GO
