USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 01/18/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/18/2006	Thuy Ha				change @claim_processing_queue_ud nvarchar(50),
@claim_processing_queue_nm nvarchar(100),
@description nvarchar(255),
@created_user_name nvarchar(128)
claim_status_id --> adjudication_status_id
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
04/16/2009	lrenard		3.0		updated claim processing queue form
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update for claim processing queue form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_queue_save]
(
@claim_processing_queue_id                  int = NULL   OUTPUT
,@claim_processing_queue_ud                  nvarchar(50) = NULL
,@description                                nvarchar(255) = NULL
,@claim_selection_priority_id                int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL

,@result_code_set_id                         int = NULL
,@provider_network_id                        int = NULL
,@provider_identifier_id                     int = NULL

,@client_id                                  int = NULL
,@client_group_id                            int = NULL
,@benefit_contract_id            		   int = NULL

,@diagnosis_code_group_id                    int = NULL
,@claim_form_type_id        	           int = NULL
,@adjudication_status_id                     int = NULL

,@claim_amount_type_id                       int = NULL
,@amount_min	                           numeric(20,10) = NULL
,@amount_max	                           numeric(20,10) = NULL

,@claim_date_type_id                       int = NULL
,@value_from	                         int = NULL
,@from_unit_day_week_month_year_id    	                 int = NULL
,@value_thru	                         int = NULL
,@thru_unit_day_week_month_year_id	                         int = NULL

,@active                                     bit = NULL
,@product_id                                 int = null
,@procedure_code_id                          int = null
,@procedure_code_type_id                     int = null
,@procedure_code_group_id                    int = null

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @claim_processing_queue_id is Null
BEGIN

--- Create a new record
INSERT INTO claim_processing_queue(
claim_processing_queue_ud
,description
,claim_selection_priority_id
,effective_from
,effective_thru
,result_code_set_id
,provider_network_id
,provider_identifier_id
,client_id
,client_group_id
,benefit_contract_id
,diagnosis_code_group_id
,claim_form_type_id
,adjudication_status_id
,claim_amount_type_id
,amount_min
,amount_max
,claim_date_type_id
,value_from
,from_unit_day_week_month_year_id
,value_thru
,thru_unit_day_week_month_year_id
,product_id
,procedure_code_id
,procedure_code_type_id
,procedure_code_group_id
,active
)
VALUES
(@claim_processing_queue_ud
,@description
,@claim_selection_priority_id
,@effective_from
,@effective_thru
,@result_code_set_id
,@provider_network_id
,@provider_identifier_id
,@client_id
,@client_group_id
,@benefit_contract_id
,@diagnosis_code_group_id
,@claim_form_type_id
,@adjudication_status_id
,@claim_amount_type_id
,@amount_min
,@amount_max
,@claim_date_type_id
,@value_from
,@from_unit_day_week_month_year_id
,@value_thru
,@thru_unit_day_week_month_year_id
,@product_id
,@procedure_code_id
,@procedure_code_type_id
,@procedure_code_group_id
,@active
)
--
SET @claim_processing_queue_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT * FROM claim_processing_queue WHERE claim_processing_queue_id = @claim_processing_queue_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE claim_processing_queue
SET
claim_processing_queue_ud                = @claim_processing_queue_ud
,description                              = @description
,claim_selection_priority_id = @claim_selection_priority_id
,effective_from = @effective_from
,effective_thru = @effective_thru
,result_code_set_id = @result_code_set_id
,provider_network_id = @provider_network_id
,provider_identifier_id = @provider_identifier_id
,client_id = @client_id
,client_group_id = @client_group_id
,benefit_contract_id = @benefit_contract_id
,diagnosis_code_group_id = @diagnosis_code_group_id
,claim_form_type_id = @claim_form_type_id
,adjudication_status_id = @adjudication_status_id
,claim_amount_type_id = @claim_amount_type_id
,amount_min = @amount_min
,amount_max = @amount_max
,claim_date_type_id = @claim_date_type_id
,value_from = @value_from
,from_unit_day_week_month_year_id = @from_unit_day_week_month_year_id
,value_thru = @value_thru
,thru_unit_day_week_month_year_id = @thru_unit_day_week_month_year_id
,product_id = @product_id
,procedure_code_id = @procedure_code_id
,procedure_code_type_id = @procedure_code_type_id
,procedure_code_group_id = @procedure_code_group_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_queue_id = @claim_processing_queue_id
END

--
RETURN @SP_SUCCESS
--
GO
