USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_account_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: h9nguyen
DATE: 7/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
7/19/2006	h9nguyen	1.0			create
2008/05/16	lrenard				accounting company schema and form changes
01/05/09    jhein					ICU 20125 - add description
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save  a single object into the accounting_company_account table.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_account_save]
(
@accounting_company_account_id           int = NULL   OUTPUT
,@accounting_company_id                   int = NULL
,@accounting_company_account_ud				nvarchar(50)	= NULL
,@description										nvarchar(255)	= NULL
,@account_status_id                       int = NULL
,@account_balance_type_id                 int = NULL
,@currency_id                             int = NULL
,@account_category_id							int = NULL
,@account_sub_category_id                 int = NULL
,@active                                  bit = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @accounting_company_account_id is Null
BEGIN

--- Create a new accounting_company_account record
INSERT INTO dbo.accounting_company_account(
accounting_company_id
,accounting_company_account_ud
,[description]
,account_status_id
,account_balance_type_id
,currency_id
,account_category_id
,account_sub_category_id
,active
)
VALUES
(@accounting_company_id
,@accounting_company_account_ud
,@description
,@account_status_id
,@account_balance_type_id
,@currency_id
,@account_category_id
,@account_sub_category_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @accounting_company_account_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.accounting_company_account WHERE accounting_company_account_id = @accounting_company_account_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing accounting_company_account record
UPDATE dbo.accounting_company_account
SET
accounting_company_id                    = @accounting_company_id
,accounting_company_account_ud            = @accounting_company_account_ud
,[description]									 = @description
,account_status_id                        = @account_status_id
,account_balance_type_id                  = @account_balance_type_id
,currency_id                              = @currency_id
,account_category_id							 = @account_category_id
,account_sub_category_id						 = @account_sub_category_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_account_id = @accounting_company_account_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
