USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_framework_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek 	1.0		Created
2008/04/17	lrenard	1.1		Updated to delete benefit contract level resolutions
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
delete a single benefit_contract_accumulator_framework_list into the benefit_contract_accumulator_framework table.
use in the Accumulator Framework grid of the Benefit contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_accumulator_framework_id - Key to benefit_contract_accumulator_framework table, identifies a single stored benefit_contract_accumulator_framework_list.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_accumulator_framework_delete]
(
@benefit_contract_accumulator_framework_id      INT = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF @benefit_contract_accumulator_framework_id is null
RETURN @SP_SUCCESS
IF NOT EXISTS (SELECT * FROM benefit_contract_accumulator_framework WHERE benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--delete the choice list resolutions associated to this
--accumulator limit rule
DELETE FROM benefit_contract_accumulator_class_choice_resolution
WHERE benefit_contract_accumulator_class_choice_resolution_id in (select benefit_contract_accumulator_class_choice_resolution_id from benefit_contract_accumulator_class_choice_resolution bcaccr
inner join accumulator_limit_rule alr on alr.accumulator_limit_rule_id = bcaccr.accumulator_limit_rule_id
inner join accumulator_framework_accumulator_class_accumulator afaca on afaca.accumulator_framework_accumulator_class_accumulator_id = alr.accumulator_framework_accumulator_class_accumulator_id
inner join accumulator_framework_accumulator_class afac on afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
inner join accumulator_framework af on af.accumulator_framework_id = afac.accumulator_framework_id
inner join benefit_contract_accumulator_framework bcaf on bcaf.accumulator_framework_id = af.accumulator_framework_id
where bcaf.benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id
AND bcaf.benefit_contract_id = bcaccr.benefit_contract_id
and not exists(select * from benefit_contract_period_benefit_plan bcpbp2
inner join benefit_contract_period bcp2 on bcp2.benefit_contract_period_id = bcpbp2.benefit_contract_period_id
inner join benefit_plan bp2 on bp2.benefit_plan_id = bcpbp2.benefit_plan_id
inner join benefit_plan_accumulator_framework bpaf2 on bpaf2.benefit_plan_id = bp2.benefit_plan_id
where bpaf2.accumulator_framework_id = af.accumulator_framework_id
and bcaf.benefit_contract_id = bcp2.benefit_contract_id)	)
--accumulator sub limit rule
DELETE FROM benefit_contract_accumulator_class_choice_resolution
WHERE benefit_contract_accumulator_class_choice_resolution_id in (select benefit_contract_accumulator_class_choice_resolution_id from benefit_contract_accumulator_class_choice_resolution bcaccr
inner join accumulator_sub_limit_rule aslr on aslr.accumulator_sub_limit_rule_id = bcaccr.accumulator_sub_limit_rule_id
inner join accumulator_sub_limit asl on asl.accumulator_sub_limit_id = aslr.accumulator_sub_limit_id
inner join accumulator_framework_accumulator_class_accumulator afaca on afaca.accumulator_framework_accumulator_class_accumulator_id = asl.accumulator_framework_accumulator_class_accumulator_id
inner join accumulator_framework_accumulator_class afac on afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
inner join accumulator_framework af on af.accumulator_framework_id = afac.accumulator_framework_id
inner join benefit_contract_accumulator_framework bcaf on bcaf.accumulator_framework_id = af.accumulator_framework_id
where bcaf.benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id
AND bcaf.benefit_contract_id = bcaccr.benefit_contract_id
and not exists(select * from benefit_contract_period_benefit_plan bcpbp2
inner join benefit_contract_period bcp2 on bcp2.benefit_contract_period_id = bcpbp2.benefit_contract_period_id
inner join benefit_plan bp2 on bp2.benefit_plan_id = bcpbp2.benefit_plan_id
inner join benefit_plan_accumulator_framework bpaf2 on bpaf2.benefit_plan_id = bp2.benefit_plan_id
where bpaf2.accumulator_framework_id = af.accumulator_framework_id
and bcaf.benefit_contract_id = bcp2.benefit_contract_id)	)

DELETE FROM benefit_contract_accumulator_framework
WHERE benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
