USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_approval_limit_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 08/18/2009
--
REVISION_HISTORY:
--
Date        Modified By      Version       Description
--------------------------------------------------------------------------------
08/18/2009  eponomareff      1.0	          created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
20119 Authorized Claim Approval Limits for Security Users - This table provides golden data Approval Limit Types
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_claim_approval_limit_type_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT

calt.claim_approval_limit_type_id
,calt.claim_approval_limit_type_ud
,calt.golden_key

FROM
claim_approval_limit_type calt

ORDER BY
claim_approval_limit_type_ud

--
RETURN @SP_SUCCESS
GO
