USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_payment_disbursement_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Supports Account Assignments gridon
UI Form: Premium Billing Account Assignments
Tab Page: Disbursement Premium Payment
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_premium_payment_disbursement_save]
(
@account_assignment_premium_payment_disbursement_id  INT = 0   OUTPUT
,@client_id                                         INT = NULL
,@vendor_id                                         INT = NULL
,@accounting_company_id                             INT = NULL
,@bank_account_id                                   INT = NULL
,@effective_from                                    DATETIME = NULL
,@effective_thru                                    DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
, @ERROR_CANT_UPDATE   NVARCHAR(50);
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_CANT_UPDATE = '105280010';

IF ISNULL(@account_assignment_premium_payment_disbursement_id, 0) = 0
BEGIN
INSERT INTO account_assignment_premium_payment_disbursement(
client_id
,vendor_id
,accounting_company_id
,bank_account_id
,effective_from
,effective_thru
)
VALUES(
@client_id
,@vendor_id
,@accounting_company_id
,@bank_account_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @account_assignment_premium_payment_disbursement_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM account_assignment_premium_payment_disbursement WHERE account_assignment_premium_payment_disbursement_id = @account_assignment_premium_payment_disbursement_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE account_assignment_premium_payment_disbursement
SET
client_id					= @client_id
,vendor_id					= @vendor_id
,accounting_company_id		= @accounting_company_id
,bank_account_id			= @bank_account_id
,effective_from             = @effective_from
,effective_thru             = @effective_thru
,modified_user_name         = ORIGINAL_LOGIN()
,modified_date              = GETDATE()
WHERE account_assignment_premium_payment_disbursement_id = @account_assignment_premium_payment_disbursement_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
