USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/10/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for capitation run form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/10/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Capitation run form save
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_run_save] (
@capitation_run_id			INT,
@do_not_release			BIT = 0,
@end_of_review			DATETIME = NULL,
@capitation_run_status_id	INT
)
AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_UPDATE_FAILS NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'

UPDATE	dbo.capitation_run
SET
do_not_release			= @do_not_release
,end_of_review			= @end_of_review
,capitation_run_status_id	= @capitation_run_status_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE	capitation_run_id = @capitation_run_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)

--
RETURN @SP_SUCCESS
--
GO
