USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_mass_enrollment_change_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
7/13/2012	        eponomareff			1			created

DESCRIPTION:		Find mass enrollment change load

******************************/
CREATE       PROCEDURE [dbo].[plx_find_mass_enrollment_change_load]
(
@mass_policy_change_definition_ud					NVARCHAR(50) = NULL
, @description										NVARCHAR(255) = NULL
, @mass_member_action_type_id						int = NULL
, @source_benefit_contract_id						int = NULL
, @source_benefit_plan_id							int = NULL
, @target_benefit_contract_id						int = NULL
, @target_benefit_plan_id							int = NULL
, @preview_date										DATETIME = NULL
, @execute_date										DATETIME = NULL
, @mass_member_action_status_id						int = NULL
, @show_exact_matches								BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @mass_policy_change_definition_ud IS NOT NULL AND @mass_policy_change_definition_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mpcd.mass_policy_change_definition_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@mass_policy_change_definition_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mpcd.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF ISNULL(@mass_member_action_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mpcd.mass_member_action_type_id = ' + CONVERT(NVARCHAR, @mass_member_action_type_id)

IF ISNULL(@source_benefit_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mpcd.source_benefit_contract_id = ' + CONVERT(NVARCHAR, @source_benefit_contract_id)

IF ISNULL(@target_benefit_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mpcd.target_benefit_contract_id = ' + CONVERT(NVARCHAR, @target_benefit_contract_id)

IF @preview_date IS NOT NULL AND @preview_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( mpcd.preview_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @preview_date, 101) + ''', 101))'

IF @execute_date IS NOT NULL AND @execute_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( mpcd.execute_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @execute_date, 101) + ''', 101))'

IF ISNULL(@mass_member_action_status_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mpcd.mass_member_action_status_id = ' + CONVERT(NVARCHAR, @mass_member_action_status_id)

SET @SqlQuery =
'	SELECT DISTINCT
mpcd.mass_policy_change_definition_id
,mpcd.mass_policy_change_definition_ud
,source_bc.benefit_contract_ud as source_benefit_contract_ud
,target_bc.benefit_contract_ud as target_benefit_contract_ud
,mpcd.description
,mmat.mass_member_action_type_ud
,mmas.mass_member_action_status_ud
FROM  dbo.mass_policy_change_definition mpcd
LEFT OUTER JOIN benefit_contract source_bc
ON source_bc.benefit_contract_id = mpcd.source_benefit_contract_id
LEFT OUTER JOIN benefit_contract target_bc
ON target_bc.benefit_contract_id = mpcd.target_benefit_contract_id
LEFT OUTER JOIN mass_member_action_type mmat
ON mmat.mass_member_action_type_id = mpcd.mass_member_action_type_id
LEFT OUTER JOIN mass_member_action_status mmas
ON mmas.mass_member_action_status_id = mpcd.mass_member_action_status_id
'
-- Handle constraint placed on child data source benefit plan
IF ISNULL(@source_benefit_plan_id, 0) > 0
BEGIN
SET @SqlQuery = @SqlQuery +
' INNER JOIN mass_policy_change_benefit_plan_mapping source_mpcbpm
ON source_mpcbpm.mass_policy_change_definition_id = mpcd.mass_policy_change_definition_id
'
SET @SqlCondition = @SqlCondition +
' AND source_mpcbpm.source_benefit_plan_id = ' + CONVERT(NVARCHAR, @source_benefit_plan_id)
END
-- Handle constraint placed on child data target benefit plan
IF ISNULL(@target_benefit_plan_id, 0) > 0
BEGIN
SET @SqlQuery = @SqlQuery +
' INNER JOIN mass_policy_change_benefit_plan_mapping target_mpcbpm
ON target_mpcbpm.mass_policy_change_definition_id = mpcd.mass_policy_change_definition_id
'
SET @SqlCondition = @SqlCondition +
' AND target_mpcbpm.target_benefit_plan_id = ' + CONVERT(NVARCHAR, @target_benefit_plan_id)
END

IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY mpcd.mass_policy_change_definition_ud')
--PRINT(@SqlQuery + @SqlCondition + ' ORDER BY mpcd.mass_policy_change_definition_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
