USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_cob_amount_get_new_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load a BLANK SET of
claim line cob amounts for Claim Line - Additional Carrier Information grid on the Claim COB Entry form

This information is displayed in the grid, per Payer, and per Claim Line.

This stored procedure loads blank rows for a new payer, but with a given claim_procedure.

NOTE:
Five rows are ALWAYS displayed (see below), even if there
In addition, additional adjustments may be displayed if added by the user or imported.

-- adjudication_object golden keys of grid rows always displayed in this order, and with these names

Golden Key						COB Item				Adjudication UD
-----------------------------------------------------------------------
NET_PAYMENT						Net Payment				Provider Net Payemnt
CONTRACT_AMOUNT					Contracted Amount		Contracted Amount
DEDUCTIBLE_AMOUNT				Deductible Amount		Deductible
COINSURANCE_AMOUNT				Coinsurance Amount		Coinsurance Amount
COPAY_AMOUNT					Copay Amount			Copay Amount

NOTE:
columns with _nk suffix behave like _ud suffix, except that _nk columns should never be changed by users,
like golden keys. The reason we don't use golden_keys for claim_adjustment_reason_code is that this data
must be purchased, so we cannot ship with it.
--
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_procedure_cob_amount_get_new_list_load]
(
@claim_procedure_id         Int = null
,@parentRowIndex             Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


-- NET PAY ROW
SELECT
@claim_procedure_id           as claim_procedure_id
,CONVERT(INT, NULL)            as claim_cob_payer_id
,CONVERT(INT, NULL)            as sequence_id
,CONVERT(INT, NULL)            as claim_procedure_cob_adjustment_id
,CONVERT(INT, NULL)            as claim_procedure_cob_amount_id
,CONVERT(INT, NULL)            as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,CONVERT(INT, NULL)            as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,adjudication_object_id
,'Net Payment'					as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,CONVERT(NUMERIC(19,3), NULL)  as amount
,CONVERT(NUMERIC(19,3), NULL)  as override_amount
,1                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,@parentRowIndex                as parentGridRowIndex

FROM
adjudication_object ao
WHERE ao.golden_key = 'NET_PAYMENT'

UNION

-- CONTRACTED AMOUNT (ALLOWED AMOUNT) ROW
-- NET PAY ROW
SELECT
@claim_procedure_id           as claim_procedure_id
,CONVERT(INT, NULL)            as claim_cob_payer_id
,CONVERT(INT, NULL)            as sequence_id
,CONVERT(INT, NULL)            as claim_procedure_cob_adjustment_id
,CONVERT(INT, NULL)            as claim_procedure_cob_amount_id
,CONVERT(INT, NULL)            as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,CONVERT(INT, NULL)            as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,ao.adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,CONVERT(NUMERIC(19,3), NULL)  as amount
,CONVERT(NUMERIC(19,3), NULL)  as override_amount
,2                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,@parentRowIndex                as parentGridRowIndex

FROM
adjudication_object ao
WHERE ao.golden_key = 'CONTRACT_AMOUNT'

UNION
-- THREE NAMED ADJUSTMENTS - DEDUCTIBLE, COINSURANCE, COPAY
SELECT
@claim_procedure_id           as claim_procedure_id
,CONVERT(INT, NULL)            as claim_cob_payer_id
,CONVERT(INT, NULL)            as sequence_id
,CONVERT(INT, NULL)            as claim_procedure_cob_adjustment_id
,CONVERT(INT, NULL)            as claim_procedure_cob_amount_id
,CONVERT(INT, NULL)            as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,CONVERT(INT, NULL)            as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 'Deductible Amount'
ELSE ao.adjudication_object_ud
END as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,CONVERT(NUMERIC(19,3), NULL)  as amount
,CONVERT(NUMERIC(19,3), NULL)  as override_amount
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 3
WHEN ao.golden_key = 'COINSURANCE_AMOUNT' THEN 4
WHEN ao.golden_key = 'COPAY_AMOUNT' THEN 5
END as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,@parentRowIndex                as parentGridRowIndex

FROM
adjudication_object ao
WHERE ao.golden_key in (
'DEDUCTIBLE_AMOUNT',
'COINSURANCE_AMOUNT',
'COPAY_AMOUNT')

ORDER BY sort_order
--
RETURN @SP_SUCCESS
GO
