USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_benefit_class_choice_resolution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 09/06/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/06/2005	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Delete a single object the benefit_plan_benefit_class_choice_resolution table.
This stored procedure is used in the Class Choice Resolution grid of the Benefit Plan form

REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_benefit_class_choice_resolution_delete]
(
@benefit_plan_benefit_class_choice_resolution_id int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_benefit_class_choice_resolution_id is null
RETURN @SP_SUCCESS

IF NOT EXISTS (SELECT * FROM benefit_plan_benefit_class_choice_resolution WHERE benefit_plan_benefit_class_choice_resolution_id = @benefit_plan_benefit_class_choice_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_plan_benefit_class_choice_resolution
WHERE benefit_plan_benefit_class_choice_resolution_id = @benefit_plan_benefit_class_choice_resolution_id
END
--
RETURN @SP_SUCCESS
--
GO
