USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the diagnosis_code_group table.
This stored procedure is used in the Diagnosis Code Group form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_save]
(
@diagnosis_code_group_id                    int = NULL   OUTPUT
,@diagnosis_code_group_ud                    nvarchar(100) = NULL
,@code_group_type_id                         int = NULL
,@description                                nvarchar(510) = NULL
,@active                                     bit = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @diagnosis_code_group_id is Null
BEGIN
--- Create a new record
INSERT INTO diagnosis_code_group(
diagnosis_code_group_ud
,code_group_type_id
,description
,active
)
VALUES
(@diagnosis_code_group_ud
,@code_group_type_id
,@description
,@active
)
--
SET @diagnosis_code_group_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM diagnosis_code_group WHERE diagnosis_code_group_id = @diagnosis_code_group_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE diagnosis_code_group
SET
diagnosis_code_group_ud                  = @diagnosis_code_group_ud
,code_group_type_id                       = @code_group_type_id
,description                              = @description
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE diagnosis_code_group_id = @diagnosis_code_group_id
END
--
RETURN @SP_SUCCESS
END
GO
