USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_auto_termination_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 2011/09/07
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2011/09/07	cmaddox			1.0	created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
To load auto termination rules for a benefit_contract_period_benefit_plan.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_auto_termination_rule_load]
(
@benefit_contract_period_benefit_plan_id		INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcpbpatr.benefit_contract_period_benefit_plan_auto_termination_rule_id
,bcpbpatr.benefit_contract_period_benefit_plan_id
,atr.auto_termination_rule_id
,atr.auto_termination_rule_ud
,bcpbpatr.effective_from
,bcpbpatr.effective_thru
,bcpbpatr.active
,bcpbpatr.created_user_name
,bcpbpatr.created_group_id
,bcpbpatr.created_date
,bcpbpatr.modified_date

FROM benefit_contract_period_benefit_plan_auto_termination_rule AS bcpbpatr
INNER JOIN auto_termination_rule atr ON bcpbpatr.auto_termination_rule_id = atr.auto_termination_rule_id

WHERE bcpbpatr.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
