USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_underwriting_determination_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_underwriting_determination_save]
(
@eligibility_underwriting_determination_id    INT  = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id    INT
,@underwriting_reviewer_id                     INT = NULL
,@underwriting_review_decision_id              INT = NULL
,@underwriting_review_code_id                  INT = NULL
,@review_date                                  DATE = NULL
,@comment                                      NVARCHAR(200) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '105070005',
@ERROR_NOT_EXIST	= '105070006',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '105070007'
--
IF ISNULL(@eligibility_underwriting_determination_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO eligibility_underwriting_determination (
family_eligibility_member_benefit_plan_id
,underwriting_reviewer_id
,underwriting_review_decision_id
,underwriting_review_code_id
,review_date
,comment
)
VALUES (
@family_eligibility_member_benefit_plan_id
,@underwriting_reviewer_id
,@underwriting_review_decision_id
,@underwriting_review_code_id
,@review_date
,@comment
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @eligibility_underwriting_determination_id = @@IDENTITY;
END
--
ELSE IF NOT EXISTS (SELECT * FROM eligibility_underwriting_determination WHERE eligibility_underwriting_determination_id = @eligibility_underwriting_determination_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int
UPDATE eligibility_underwriting_determination
SET
family_eligibility_member_benefit_plan_id   = @family_eligibility_member_benefit_plan_id
,underwriting_reviewer_id                    = @underwriting_reviewer_id
,underwriting_review_decision_id             = @underwriting_review_decision_id
,underwriting_review_code_id                 = @underwriting_review_code_id
,review_date                                 = @review_date
,comment                                     = @comment
,modified_user_name                          = ORIGINAL_LOGIN()
,modified_date                               = GETDATE()

WHERE eligibility_underwriting_determination_id = @eligibility_underwriting_determination_id;

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
