USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0		Created from plx_accounting_transaction_ap_payment_detail_delete
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Deletes Invoice when Invoice Status = 'ENTERED'
--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_ar_id  - Key identifies a single record stored as Invoice. (Its 1 to 1 in accounting_transaction_ar_invoice_detail table
to accounting_transaction_ar table
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_delete]
(
@accounting_transaction_ar_id             int = NULL OUTPUT -- Invoice ID
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (	SELECT *
FROM accounting_transaction_ar atar
INNER JOIN accounting_transaction_ar_invoice_detail atarpd ON atarpd.accounting_transaction_ar_id = atar.accounting_transaction_ar_id
WHERE atar.accounting_transaction_ar_id = @accounting_transaction_ar_id)
RETURN @SP_SUCCESS
ELSE
BEGIN

BEGIN TRANSACTION

--Delete child tables
DECLARE @apply_to_transaction_id int

DECLARE cur_apply_to_transactions CURSOR FOR
SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @accounting_transaction_ar_id

OPEN cur_apply_to_transactions
FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id

WHILE @@FETCH_STATUS = 0
BEGIN
-- Delete the apply to transaction
EXEC plx_accounting_transaction_ar_invoice_detail_transactions_delete @apply_to_transaction_id

FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id
END

CLOSE cur_apply_to_transactions
DEALLOCATE cur_apply_to_transactions

--Delete the Invoice (First we have to delete from accounting_transaction_ar_invoice_detail, then from accounting_transaction_ar table)
--Delete accounting_transaction_ar_invoice_detail
DELETE FROM accounting_transaction_ar_invoice_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

--Delete accounting_transaction_ar
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END

RETURN @SP_SUCCESS
GO
