USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_status_for_billing_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/14/2005	THUYNGO			1.0		Created
12/07/2006	Hiep Nguyen		1.0		Change "Pass" to "Approve"
08/23/2008	David Slayton	1.2		Joined on adjudication status type golden_key.
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.2
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)
with list of values: "Deny", "Hold", "Pass"

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_result_code_status_for_billing_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
result_code_status.result_code_status_id,
result_code_status.result_code_status_ud,
result_code_status.golden_key
FROM
dbo.result_code_status
INNER JOIN dbo.adjudication_status_type
ON result_code_status.adjudication_status_type_id = adjudication_status_type.adjudication_status_type_id
WHERE adjudication_status_type.golden_key IN ('Deny', 'Pend', 'Approve')

ORDER BY result_code_status.result_code_status_ud ASC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
