USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_identifier_type_x12_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Pooran Prasad
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down provider_identifier_type (Provider ID Type)
--
REQUIREMENTS:
--
INPUTS:
provider_identifier_type_id - Key to provider_identifier_type table, identifies a single stored dd_provider_identifier_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_provider_identifier_type_x12_load]

AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pit.provider_identifier_type_id
,pit.x12_qualifier as [ID Qual]
,pit.provider_identifier_type_ud
,pit.golden_key
FROM dbo.provider_identifier_type pit
where pit.x12_qualifier !=''
ORDER BY pit.provider_identifier_type_ud
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
