USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Capitation Member Roster form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_capitation_member_roster_load]
(
@capitation_member_roster_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cmr.capitation_member_roster_id
,cmr.capitation_member_roster_ud
,cmr.description

,cmr.capitation_member_selection_id
,cms.capitation_member_selection_ud

,cmr.active
,cmr.created_user_name
,cmr.created_group_id
,cmr.created_date
,cmr.modified_date
FROM capitation_member_roster cmr
LEFT OUTER JOIN capitation_member_selection cms ON cms.capitation_member_selection_id = cmr.capitation_member_selection_id
WHERE cmr.capitation_member_roster_id = isnull(@capitation_member_roster_id,0)
--

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
