USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_status_set_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data on Disability status set form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disability_status_set_save]
(
@disability_status_set_id                   int = NULL   OUTPUT
,@disability_status_set_ud                   nvarchar(100) = NULL
,@description                 		   nvarchar(255) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @disability_status_set_id is Null
BEGIN
--- Create a new record
INSERT INTO disability_status_set(
disability_status_set_ud
,description
,effective_from
,effective_thru
,active
)
VALUES
(@disability_status_set_ud
,@description
,@effective_from
,@effective_thru
,@active
)
--
SET @disability_status_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM disability_status_set WHERE disability_status_set_id = @disability_status_set_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE disability_status_set
SET
disability_status_set_ud                 = @disability_status_set_ud
,description                             = @description
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE disability_status_set_id = @disability_status_set_id
END
--
RETURN @SP_SUCCESS
--
GO
