USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_operator_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/06/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Loads data for drop down complex_duplicate_claim_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_operator_load]
(
@complex_duplicate_claim_rule_object_id INT = NULL,
@from_claim_form_type_id INT = NULL,
@to_claim_form_type_id INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@Temp INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @to_claim_form_type_id < @from_claim_form_type_id
BEGIN
SET @Temp = @from_claim_form_type_id
SET @from_claim_form_type_id = @to_claim_form_type_id
SET @to_claim_form_type_id = @Temp
END

SELECT
cdcro.complex_duplicate_claim_rule_operator_id,
cdcro.complex_duplicate_claim_rule_operator_ud
FROM
complex_duplicate_claim_rule_operator cdcro
INNER JOIN complex_duplicate_claim_rule_object_claim_form_type cdcrocft
ON cdcrocft.complex_duplicate_claim_rule_operator_id = cdcro.complex_duplicate_claim_rule_operator_id
WHERE
cdcrocft.from_claim_form_type_id = @from_claim_form_type_id
AND cdcrocft.to_claim_form_type_id = @to_claim_form_type_id
AND cdcrocft.complex_duplicate_claim_rule_object_id = @complex_duplicate_claim_rule_object_id
ORDER BY
cdcro.complex_duplicate_claim_rule_operator_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
