USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_sub_category_allowed_by_benefit_contract_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Aug 18 2005 12:08PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	Tinh Do		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
Create   PROCEDURE [dbo].[plx_dd_benefit_sub_category_allowed_by_benefit_contract_load]
(
@benefit_category_id			Int = null,
@benefit_contract_period_id int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT distinct
bsc.benefit_sub_category_id,bsc.benefit_sub_category_ud
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)
INNER JOIN benefit_framework bf ON (bf.benefit_framework_id = bp.benefit_framework_id)
INNER JOIN benefit_category bca ON (bca.benefit_category_id = bf.benefit_category_id)
left JOIN benefit_sub_category bsc ON (bsc.benefit_sub_category_id = bf.benefit_sub_category_id)
WHERE (bcpbp.benefit_contract_period_id = @benefit_contract_period_id)
and (bca.benefit_category_id =@benefit_category_id)
ORDER BY bsc.benefit_sub_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
