USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_age_gender_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/29/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/29/2009  Chad Maddox     1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for age gender grid on the capitation rate form

--
REQUIREMENTS:
--
INPUTS:
@capitation_rate_id
--
OUTPUTS:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_rate_age_gender_load]
(
@capitation_rate_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
SELECT
cratca.capitation_rate_assignment_tier_criteria_amount_id
,cra.capitation_rate_assignment_id
,tcag.tier_criteria_age_gender_id
,tcag.unit_month_year_id
,umy.unit_month_year_ud
,tcag.minimum_age
,tcag.maximum_age
,tcag.gender_id
,g.gender_ud
,t.tier_id
,tcag.tier_criteria_id
,tc.tier_criteria_ud
,cratca.amount
FROM
capitation_rate cr
JOIN
capitation_rate_assignment cra ON cr.capitation_rate_id = cra.capitation_rate_id
JOIN tier t ON cra.tier_id = t.tier_id
JOIN tier_criteria_type tct ON t.tier_criteria_type_golden_key = tct.golden_key
JOIN tier_criteria tc ON t.tier_id = tc.tier_id
JOIN tier_criteria_age_gender tcag ON tc.tier_criteria_id = tcag.tier_criteria_id
JOIN unit_month_year umy ON tcag.unit_month_year_id = umy.unit_month_year_id
JOIN gender g ON tcag.gender_id = g.gender_id
LEFT JOIN
capitation_rate_assignment_tier_criteria_amount cratca
ON
(
cra.capitation_rate_assignment_id = cratca.capitation_rate_assignment_id
AND
cratca.tier_criteria_id = tc.tier_criteria_id
)
WHERE cr.capitation_rate_id = @capitation_rate_id AND tct.golden_key = 'AGE_GENDER'
ORDER BY umy.unit_month_year_ud, tcag.minimum_age, tcag.maximum_age, g.gender_ud
GO
