USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_member_savings_bank_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
DATE: 08/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2006 	Anh Ta		1.0		Created and Using for 16985 Savings Bank (COB)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid Applied Transactions Per Savings Bank in Member COB form.
--
REQUIREMENTS:
--
INPUTS:
accounting_transaction_ap_id - Key to accounting_transaction_ap table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_member_savings_bank_load]
(
@member_savings_bank_id			Int=NULL
--	  ,@savings_bank_id 				Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_transaction_ap.accounting_transaction_ap_id
,accounting_transaction_ap.accounting_transaction_ap_ud

,accounting_transaction_ap.transaction_date
,accounting_transaction_ap.transaction_amount

,accounting_transaction_ap.vendor_id
,vendor.vendor_ud

,acc_trx_ap_acc_trx_status.accounting_transaction_status_id
,ats.accounting_transaction_status_ud
,accounting_transaction_ap.modified_date
FROM accounting_transaction_ap
LEFT JOIN accounting_source  ON accounting_transaction_ap.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN vendor  ON accounting_transaction_ap.vendor_id = vendor.vendor_id
LEFT JOIN family_eligibility_member_benefit_plan fembp  ON fembp.vendor_id = accounting_transaction_ap.vendor_id
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN member_savings_bank  ON member_savings_bank.member_id = fem.member_id
LEFT JOIN accounting_transaction_ap_accounting_transaction_status_history acc_trx_ap_acc_trx_status
ON  (acc_trx_ap_acc_trx_status.accounting_transaction_ap_id =accounting_transaction_ap.accounting_transaction_ap_id
and (acc_trx_ap_acc_trx_status.accounting_transaction_ap_accounting_transaction_status_history_id
=(select max(acc_trx_ap_acc_trx_status_tmp.accounting_transaction_ap_accounting_transaction_status_history_id)
from accounting_transaction_ap_accounting_transaction_status_history acc_trx_ap_acc_trx_status_tmp
where acc_trx_ap_acc_trx_status_tmp.accounting_transaction_ap_id =accounting_transaction_ap.accounting_transaction_ap_id)))
LEFT JOIN accounting_transaction_status ats
ON ats.accounting_transaction_status_id = acc_trx_ap_acc_trx_status.accounting_transaction_status_id

WHERE member_savings_bank.member_savings_bank_id = @member_savings_bank_id
AND accounting_source.golden_key = 'SAVINGS BANK'
--
RETURN @SP_SUCCESS
GO
