USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_country_address_format_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2014	dcannon		1.0			RT:7004 created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to save an address format rule
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_country_address_format_save]
(
@country_id							int = NULL   OUTPUT
,@is_default						bit
,@postal_code_required				bit
,@postal_code_standard_format_id	int = NULL
,@delivery_route_visible			bit
,@delivery_route_standard_format_id	int = NULL
,@state_required					bit
,@county_required					bit
,@active                            bit = 1
,@created_user_name                 nvarchar(128) = NULL
,@modified_user_name                nvarchar(128) = NULL
,@created_date                      datetime = NULL
,@modified_date                     datetime = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				int,
@ERROR_CANT_INSERT		NVARCHAR(50),
@ERROR_CANT_UPDATE		NVARCHAR(50),
@ERROR_NOT_EXIST		NVARCHAR(50),
@CURR_DATE				datetime,
@USER_NAME				nvarchar(128)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 		= '328e777f-6901-4ccb-91d4-cb08767bf02a',
@ERROR_CANT_UPDATE	 	= 'de0e0557-9425-4063-8815-1f4c2d94684e',
@ERROR_NOT_EXIST			= '158880003',
@CURR_DATE = getdate(),
@USER_NAME = ORIGINAL_LOGIN()

--
IF (not exists(select 1 from country_address_format where country_id = @country_id)
AND @country_id is not null) --is required
BEGIN
--insert new
INSERT INTO country_address_format(
country_id
,is_default
,postal_code_required
,postal_code_standard_format_id
,delivery_route_visible
,delivery_route_standard_format_id
,state_required
,county_required
,active
,created_user_name
,created_date
)VALUES(
@country_id
,@is_default
,@postal_code_required
,@postal_code_standard_format_id
,@delivery_route_visible
,@delivery_route_standard_format_id
,@state_required
,@county_required
,@active
,@USER_NAME
,@CURR_DATE
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

--SET @country_id = @@IDENTITY
END
ELSE
BEGIN
--update existing
UPDATE country_address_format
SET
country_id							= @country_id
,is_default							= @is_default
,postal_code_required				= @postal_code_required
,postal_code_standard_format_id		= @postal_code_standard_format_id
,delivery_route_visible				= @delivery_route_visible
,delivery_route_standard_format_id	= @delivery_route_standard_format_id
,state_required						= @state_required
,county_required					= @county_required
,active								= @active
,modified_user_name					= @USER_NAME
,modified_date						= @CURR_DATE
WHERE country_id=@country_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
