USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_get_title]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Mar 20 2006  9:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
8/8/2006       HungTNguyen       1.1             added field member_name
CURRENT_VERSION: 1.0
--

DESCRIPTION:
Get title of Member COb helth plan form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    procedure    [dbo].[plx_cob_member_commercial_health_plan_get_title]
(
@cob_member_id		Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
member_personal_id.id_value
,member_name.name_last
,member_name.name_first
,member_name.name_middle

,dbo.plx_ConcatenateName(member_name.name_last,member_name.name_first,member_name.name_middle,null) as member_name

FROM 	COB_MEMBER
INNER JOIN member_name on cob_member.member_id=member_name.member_id
LEFT JOIN member_personal_id ON member_personal_id.member_id=member_name.member_id
LEFT JOIN member_id_type ON member_personal_id.member_id_type_id=member_id_type.member_id_type_id

WHERE cob_member.cob_member_id= @cob_member_id
and  member_id_type.golden_key= 'PID'
AND  member_name.is_primary=1
--
RETURN @SP_SUCCESS
GO
