USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_user_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/04/2005				1.0		Created(Use in Claim Result Code form)
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_user_status_load]
AS
--
DECLARE @SP_SUCCESS int
SELECT 	@SP_SUCCESS = 0

SELECT
result_code_status_id
,result_code_status_ud
FROM result_code_status
ORDER BY result_code_status_ud
RETURN @SP_SUCCESS
GO
