USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ap_refund_request_void]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Voids a Vendor Refund Request. Launched from cmdVoid on frmVoidVendorRefundRequest.
NOTES:
Modeled after VoidCustomerPayment service in Accounting.sln

o Verifies the Vendor Refund Request is currently in an AVAILABLE status, otherwise returns error.
o Updates the Vendor Refund Request status to VOIDED (in both the main and detail tables)
o Updates the statuses of the associated AP Accounting Transactions to AVAILABLE
o Updates the Claim Payment Processing statuses of the associated Claim Procedures to IN ACCOUNTING

o This functionality does not rely on triggers.

Determines the affected rows using OUTPUT clause.
https://learn.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver16

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ap_refund_request_void]
(
@accounting_transaction_ap_id	           INT = NULL     -- Vendor Refund ID ( = @from_accounting_transaction_ap_id)
,@accounting_void_reason_id                INT = NULL
,@void_date                                DATE = NULL
,@comments                                 NVARCHAR(300) = NULL
)
AS
--
--
SET NOCOUNT ON
--

-- validate status of Vendor Refund Request is Available
DECLARE @AvailableStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ap_refund_request_detail detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
AND accounting_payment_status_id = @AvailableStatusId)
BEGIN
Return -1;
END

BEGIN TRY

BEGIN TRANSACTION

-- default void date to today if not provided
IF @void_date IS NULL
SET @void_date = GETDATE();

-- get voided status on acounting_transaction_ap
DECLARE @VoidedApTransactionStatusId INT;
SET @VoidedApTransactionStatusId =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED');

UPDATE accounting_transaction_ap
SET
accounting_transaction_status_id           = @VoidedApTransactionStatusId,
accounting_void_reason_id                  = @accounting_void_reason_id,
void_date                                  = @void_date,
comments                                   = @comments,
voided_by                                  = ORIGINAL_LOGIN(),
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Set voided status on detail
DECLARE @VoidedPaymentStatusId INT;
SET @VoidedPaymentStatusId =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED');

-- set status
UPDATE accounting_transaction_ap_refund_request_detail
SET accounting_payment_status_id = @VoidedPaymentStatusId
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Update status of related AP transactions to AVAILABLE
-- get AVAILABLE status on acounting_transaction_ap
DECLARE @AvailableApTransactionStatusId INT;
SET @AvailableApTransactionStatusId =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'AVAILABLE');

-- Update status of related AP transactions to AVAILABLE
DECLARE @AppliedApTransactions TABLE
(
apTxId INT NOT NULL
);

UPDATE accounting_transaction_ap
SET
accounting_transaction_status_id           = @AvailableApTransactionStatusId,
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
OUTPUT INSERTED.accounting_transaction_ap_id
INTO @AppliedApTransactions
FROM accounting_transaction_ap apTx
JOIN accounting_transaction_ap_apply_to applyTo
ON apTx.accounting_transaction_ap_id = applyTo.to_accounting_transaction_ap_id
WHERE applyTo.from_accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Update Claim Status for AP Transactions set to IN ACCOUNTING

DECLARE @claimPaymentProcessStatusInAccounting INT =
(SELECT claim_payment_process_status_id
FROM claim_payment_process_status WHERE golden_key = 'IN_ACCOUNTING');

UPDATE claim_procedure
SET
claim_payment_process_status_id = @claimPaymentProcessStatusInAccounting
,modified_user_name               = ORIGINAL_LOGIN()
,modified_date                    = GETDATE()
FROM @AppliedApTransactions appliedTx
JOIN accounting_transaction_ap_claim_detail claimDetail
ON appliedTx.apTxId = claimDetail.accounting_transaction_ap_id
JOIN claim_procedure cp
ON cp.claim_procedure_id = claimDetail.claim_procedure_id;

COMMIT TRANSACTION
END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT @ErrorMessage = ERROR_MESSAGE()
,@ErrorSeverity = ERROR_SEVERITY()
,@ErrorState = ERROR_STATE();

-- Use RAISERROR inside the CATCH block to return error
-- information about the original error that caused
-- execution to jump to the CATCH block.
RAISERROR(@ErrorMessage, -- Message text.
@ErrorSeverity, -- Severity.
@ErrorState -- State.
);
END CATCH;
--
RETURN 0
GO
