USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_member_by_family_eligibility_member_benefit_plan]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/18/2008	Vishwa Jella	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to load member by family eligibility member benefit plan.
this procedure is replace for plx_get_member_by_family_eligibility_member_benefit_contract_period_benefit_plan (OLD)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_get_member_by_family_eligibility_member_benefit_plan]
(
@family_eligibility_member_benefit_plan_id			Int = null
)
AS

SELECT
member_id
FROM
dbo.family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
GO
