USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_performance_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 11/01/2005--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
10/29/2005		Trang Huynh			1.0		Create
11/09/2005		Trang Huynh			1.2		Add dummy data for TotalNet
01/10/2006		Trinh Le
05/01/2008		David Slayton			1.3		Fixed weekly date range.
04/01/2009		lrenard				1.4		changed claim_processing_queue to adjudication_queue
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List summary data of Adjudication Performance for the time period
--
REQUIREMENTS:
--
INPUTS:
1. @Adjudication_Queue_ID
2. @ReportType
if @ReportType = 1, List Daily Report
if @ReportType = 2, List Weekly Report
if @ReportType = 3, List Monthly Report
3. @Number
4. @BeginDate
--
OUTPUTS:
contact records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE          PROCEDURE [dbo].[plx_adjudication_performance_list_load]
(
@Adjudication_Queue_ID int,
@ReportType tinyint,
@Number int ,
@BeginDate datetime
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

--2. @ReportType
-- if @ReportType = 1, List Daily Report
-- if @ReportType = 2, List Weekly Report
-- if @ReportType = 3, List Monthly Report

--
Declare @R_BeginDate datetime
Declare @R_EndDate datetime
Declare @Weekday tinyint
Declare @i int
SET @i = 1

Declare @Approved_status_id int,
@Closed_status_id int,
@Pend_status_id int

Select @Approved_status_id = adjudication_status_id From adjudication_status where golden_key = 'APPROVED'
Select @Closed_status_id = adjudication_status_id From adjudication_status where golden_key = 'CLOSED'
Select @Pend_status_id = adjudication_status_id From adjudication_status where golden_key = 'PEND'

Create table #temp1(Period_ID [int] IDENTITY (1, 1) NOT NULL,Period_UI int ,BeginDate datetime, EndDate datetime,
AdjudicatedNumber int, PendNumber int, PendPercent real , TotalNet numeric(20, 10)) ON [PRIMARY]

CREATE TABLE #temp2(Claim_ID int , date_out datetime, Claim_Status_ID int, TotalNet numeric(20, 10),Period_ID int)

--@ReportType = 1, List Daily Report
If @ReportType = 1
BEGIN
SET @R_BeginDate = @BeginDate
SET @R_EndDate = dateadd(d,@Number,@BeginDate)
WHILE @i <= @Number
BEGIN
INSERT #Temp1(Period_UI,BeginDate,EndDate,AdjudicatedNumber,PendNumber,PendPercent,TotalNet)
VALUES (@i,dateadd(d,@i-1,@R_BeginDate),dateadd(d,@i,@R_BeginDate)-1,0,0,0,0)
SET @i = @i+1
END
END
--@ReportType = 2, List Weekly Report
ELSE IF @ReportType = 2
BEGIN
Set @Weekday = datepart(dw,@BeginDate)

-- if @BeginDate is Sunday
If @Weekday = 1
SET @R_BeginDate = Dateadd(d,datepart(dw,@BeginDate)-7,@BeginDate)
Else
SET @R_BeginDate = Dateadd(d,2-datepart(dw,@BeginDate),@BeginDate)

SET @R_EndDate = dateadd(ww,@Number,@R_BeginDate)

WHILE @i <= @Number
BEGIN
INSERT #Temp1(Period_UI,BeginDate,EndDate,AdjudicatedNumber,PendNumber,PendPercent,TotalNet)
VALUES (datepart(ww,dateadd(ww,@i-1,@R_BeginDate)),dateadd(ww,@i-1,@R_BeginDate),dateadd(ww,@i,@R_BeginDate)-1,0,0,0,0)
SET @i = @i+1
END
END
--if @ReportType = 3, List Monthly Report
ELSE
BEGIN
SET @R_BeginDate = Dateadd(d,1-datepart(d,@BeginDate),@BeginDate)

SET @R_EndDate = dateadd(mm,@Number,@R_BeginDate)
WHILE @i <= @Number
BEGIN
INSERT #Temp1(Period_UI,BeginDate,EndDate,AdjudicatedNumber,PendNumber,PendPercent,TotalNet)
VALUES (datepart(mm,dateadd(mm,@i-1,@R_BeginDate)),dateadd(mm,@i-1,@R_BeginDate),dateadd(mm,@i,@R_BeginDate) - 1,0,0,0,0)
SET @i = @i+1
END

/*
SELECT	 Claim_status
FROM
Beginning Date, EndingDate, Number of Claims Adjudicated, % of Pending Claim , Total Net
*/
END

INSERT INTO #temp2(Claim_ID, date_out, Claim_Status_ID, TotalNet)
--Modified by Trinh Le  C.Claim_status_Id->C.Adjudication_status_id
SELECT	T.Claim_ID, T.start_time, C.Adjudication_status_id,T.TotalNet
FROM
(SELECT	CP.Claim_ID,dbo.plx_fn_claim_amount(CP.claim_id,'NETPAYAMOUNT') as TotalNet, ar.start_time
FROM	adjudication_run ar
inner join adjudication_run_claim_procedure arc on ar.adjudication_run_id = arc.adjudication_run_id
inner join Claim_Procedure CP on arc.claim_procedure_ID = CP.claim_procedure_ID
WHERE	ar.Adjudication_Queue_ID = @Adjudication_Queue_ID
AND	ar.created_date >= @R_BeginDate and ar.created_date < @R_EndDate
GROUP BY CP.Claim_ID, ar.start_time) T
inner join Claim C on T.Claim_id=C.Claim_id

Update #Temp2
Set Period_ID = #Temp1.Period_ID
From #Temp2 , #Temp1
Where #Temp2.date_out >= #Temp1.BeginDate and #Temp2.date_out < (#Temp1.EndDate + 1)

-- Update AdjudicatedNumber
Update #Temp1
SET AdjudicatedNumber = T.AdjudicatedNumber
FROM  #Temp1 , (Select Period_ID,count(*) AdjudicatedNumber From #Temp2
Where Claim_Status_ID in (@Approved_status_id,@Closed_status_id, @Pend_status_id) Group by Period_ID )T
WHERE #Temp1.Period_ID = T.Period_ID

-- Update PendNumber
Update #Temp1
SET PendNumber = T.PendNumber
FROM  #Temp1 , (Select Period_ID,count(*) PendNumber From #Temp2
Where Claim_Status_ID =  @Pend_status_id Group by Period_ID )T
WHERE #Temp1.Period_ID = T.Period_ID

-- Update TotalNet
Update #Temp1
SET TotalNet = T.TotalNet
FROM  #Temp1 , (Select Period_ID,sum(TotalNet) TotalNet From #Temp2
Group by Period_ID )T
WHERE #Temp1.Period_ID = T.Period_ID

SELECT Period_UI,BeginDate,EndDate,AdjudicatedNumber,PendNumber,
case when AdjudicatedNumber <= 0 then cast(0 as real)
else cast(PendNumber as real)/cast(AdjudicatedNumber as real)
end as PendPercent,TotalNet
FROM #Temp1
ORDER BY BeginDate DESC
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
