USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_duplicate]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to create a duplicate of the Dental Claim indicated by @claim_id.
It is called within the thickClient, and also by the Readjudication Service.

QC THICK CLIENT:

- A @ud is provided.
- All non-negated claim_procedure records are duplicated.


READJUDICATION SERVICE:

- A @ud is provided.
- A list of claim_procedure records is optionally provided,
when not all the lines of a claim are to be re-adjudicated.

- A result code id is optionally provided, to be applied to
new claim_procedures.This is used by Readjudication Service.

******************************/
CREATE      PROCEDURE [dbo].[plx_dental_claim_duplicate]
(
@ID	INT								-- current claim_id
,@UD	NVARCHAR(50) = NULL				-- new claim_ud (optional)
,@claim_procedure_ids udtt_ids READONLY	-- claim_procedure_ids to be duplicated (optional)
,@new_line_result_code_id INT = NULL	-- result code id to be applied to new claim_procedures
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@new_claim_id INT,
@dental_claim_id INT,
@new_dental_claim_id INT,
@adjudication_status_OPEN INT,
@ERROR 	NVARCHAR(50)

-- get current dental_claim_id
SELECT @dental_claim_id = dental_claim_id
FROM	dental_claim
WHERE dental_claim.claim_id = @ID

SELECT @adjudication_status_OPEN = adjudication_status_id
FROM adjudication_status
WHERE adjudication_status.golden_key = 'OPEN'

DECLARE @systemDate DATE = getdate();

BEGIN TRY
BEGIN TRANSACTION;
--- Create claim record
INSERT INTO claim(
claim_ud
,duplicate_claim
,adjusted_claim
,non_clean_claim
,clean_date
,received_date
,claim_form_type_id
,family_eligibility_member_benefit_plan_id
,use_eligibility_entered
,provider_id
,provider_identifier_id
,provider_specialty_type_id
,rendering_provider_taxonomy_code
,vendor_id
,practice_office_id
,adjudication_status_id
,claim_payee_id
,episode_id
,provider_signature_on_file
,provider_signature_on_file_date
,subscriber_signature_on_file_id
,subscriber_signature_on_file_date
,active
,display_currency_id
,ppo_claim_number
,repriced_network
,document_serial_number
,billing_provider_identifier_id
,billing_provider_id
,billing_provider_specialty_type_id
,billing_provider_taxonomy_code
,user_credential
,original_source_gk
,paper_claim)
SELECT
@UD
,1
,adjusted_claim
,non_clean_claim
,@systemDate			-- clean_date
,@systemDate			-- received_date
,claim_form_type_id
,family_eligibility_member_benefit_plan_id
,use_eligibility_entered
,provider_id
,provider_identifier_id
,provider_specialty_type_id
,rendering_provider_taxonomy_code
,vendor_id
,practice_office_id
,@adjudication_status_OPEN
,claim_payee_id
,episode_id
,provider_signature_on_file
,provider_signature_on_file_date
,subscriber_signature_on_file_id
,subscriber_signature_on_file_date
,active
,display_currency_id
,ppo_claim_number
,repriced_network
,document_serial_number
,billing_provider_identifier_id
,billing_provider_id
,billing_provider_specialty_type_id
,billing_provider_taxonomy_code
,user_credential
,original_source_gk
,paper_claim
FROM claim
WHERE	claim.claim_id = @ID

SET @new_claim_id = SCOPE_IDENTITY()

-- Create a new dental claim record
INSERT INTO dental_claim(
claim_id
,dental_claim_type_id
,statement_of_actual_services
,request_for_preauthorization
,epsdt
,other_coverage
,patient_account_number
,other_fee
,remarks
,carrier_level_id
,place_of_service_id
,treatment_of_orthodontics
,date_appliance_placed
,months_of_treatment_remaining
,replacement_of_prothesis
,date_of_prior_placement
,treatment_due_to_occupational_illness
,treatment_due_to_auto_accident
,treatment_due_to_other
,date_of_accident
,state_id
,patient_paid_amount
,provider_license
,vendor_license
,active
)
SELECT
@new_claim_id
,dental_claim_type_id
,statement_of_actual_services
,request_for_preauthorization
,epsdt
,other_coverage
,patient_account_number
,other_fee
,remarks
,carrier_level_id
,place_of_service_id
,treatment_of_orthodontics
,date_appliance_placed
,months_of_treatment_remaining
,replacement_of_prothesis
,date_of_prior_placement
,treatment_due_to_occupational_illness
,treatment_due_to_auto_accident
,treatment_due_to_other
,date_of_accident
,state_id
,patient_paid_amount
,provider_license
,vendor_license
,active
FROM dental_claim
WHERE dental_claim.claim_id = @ID

SET @new_dental_claim_id = SCOPE_IDENTITY()

-- copy missing details data for claim
EXEC plx_claim_missing_details_duplicate @new_claim_id, @ID

--- copy missing_tooth_detail record
INSERT INTO missing_tooth_detail(
member_id
,tooth_number_letter_id
,claim_id
,is_missing
,missing_date
,extraction_date
,comment
,active
)
SELECT
member_id
,tooth_number_letter_id
,@new_claim_id
,is_missing
,missing_date
,extraction_date
,comment
,active
FROM missing_tooth_detail
WHERE missing_tooth_detail.claim_id = @ID

-- copy claim_cob_payer info (MUST BE DONE PRIOR TO CLAIM_PROCEDURE DUPLICATE)
EXEC plx_claim_cob_info_duplicate @new_Claim_id, @ID

DECLARE @claim_procedure_id INT

/***************************************************************************
CLAIM LINES
---------------------------------------------------------------------------
Readjudication Service:
If claim_procedure_ids are passed, only copy those claim_procedures
***************************************************************************/
IF (SELECT COUNT(*) FROM @claim_procedure_ids) > 0
BEGIN
DECLARE crs_claim_procedure CURSOR FAST_FORWARD
FOR
SELECT	id
FROM	@claim_procedure_ids cpIds
JOIN claim_procedure cp ON cp.claim_procedure_id = cpIds.id
WHERE cp.claim_id = @ID
AND ISNULL(cp.is_system_generated, 0) = 0

OPEN crs_claim_procedure

WHILE 1 = 1
BEGIN
FETCH NEXT FROM crs_claim_procedure
INTO @claim_procedure_id
IF @@FETCH_STATUS <> 0
BREAK
-- copy professional claim_procedure and cob entry with amounts
EXEC plx_dental_claim_procedure_duplicate @new_claim_id, @claim_procedure_id
END

CLOSE crs_claim_procedure
DEALLOCATE crs_claim_procedure
END
ELSE
/***************************************************************************
Thick Client: Copy all non-negated claim_procedures
***************************************************************************/
BEGIN
-- copy claim procedures (do not copy negated claim procedures)
DECLARE crs_claim_procedure CURSOR FAST_FORWARD
FOR
SELECT	claim_procedure_id
FROM	claim_procedure
WHERE	claim_id = @ID
AND ISNULL(claim_procedure.is_negated, 0) = 0
AND ISNULL(claim_procedure.is_system_generated, 0) = 0

OPEN crs_claim_procedure

WHILE 1 = 1
BEGIN
FETCH NEXT FROM crs_claim_procedure
INTO @claim_procedure_id

IF @@FETCH_STATUS <> 0
BREAK
-- copy dental claim_procedure and cob entry with amounts
EXEC plx_dental_claim_procedure_duplicate @new_claim_id, @claim_procedure_id

END

CLOSE crs_claim_procedure
DEALLOCATE crs_claim_procedure
END

/***************************************************************************
Optionally, apply a result code to the new claim lines
***************************************************************************/
IF ISNULL(@new_line_result_code_id, 0) > 0
BEGIN
INSERT INTO adjudication_result_code
(
claim_id
,claim_procedure_id
,result_code_id
,do_not_clear
,comment
,user_created
)
SELECT
claim_id
,claim_procedure_id
,@new_line_result_code_id
,1
,null
,1
FROM claim_procedure
WHERE claim_procedure.claim_id = @new_claim_id
END

/***************************************************************************
END - claim lines
***************************************************************************/

-- copy dental_claim_additional_information
INSERT INTO dental_claim_additional_information(
additional_information_id
,additional_information_topic_id
,dental_claim_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
SELECT
additional_information_id
,additional_information_topic_id
,@new_dental_claim_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
FROM dental_claim_additional_information
WHERE	dental_claim_additional_information.dental_claim_id = @dental_claim_id

-- copy claim_attachment
INSERT INTO claim_attachment(
claim_id
,attachment_control_number
,claim_attachment_action_id
,claim_attachment_transmission_source_gk
,claim_attachment_type_code_id
,comments
,document_date
,document_link
,active
)
SELECT
@new_claim_id
,ca.attachment_control_number
,ca.claim_attachment_action_id
,ca.claim_attachment_transmission_source_gk
,ca.claim_attachment_type_code_id
,ca.comments
,ca.document_date
,ca.document_link
,active
FROM claim_attachment ca
WHERE	ca.claim_id = @ID

-- copy linked_claim_information
INSERT INTO linked_claim_information(
claim_id
,linked_claim_id
,active
)
SELECT
@new_claim_id
,linked_claim_id
,active
FROM linked_claim_information
WHERE	linked_claim_information.claim_id = @ID

-- insert current claim as linked claim number also for linking (copied from)
INSERT INTO linked_claim_information(
claim_id
,linked_claim_id
,active
)
VALUES(
@new_claim_id
,@ID
,1
)

---claim_referral record

INSERT INTO claim_referral(
claim_id
,referral_id
,active
)
SELECT
@new_claim_id
,referral_id
,null
FROM	claim_referral
WHERE	claim_referral.claim_id = @Id

--end of claim_referral record

-- copy Diagnosis Codes
INSERT INTO dental_claim_diagnosis_code(
dental_claim_diagnosis_code_sequence
,dental_claim_id
,diagnosis_code_id
,diagnosis_code_ud
,diagnosis_code_version_id
)
SELECT
dental_claim_diagnosis_code_sequence
,@new_dental_claim_id
,diagnosis_code_id
,diagnosis_code_ud
,diagnosis_code_version_id
FROM dental_claim_diagnosis_code
WHERE	dental_claim_diagnosis_code.dental_claim_id = @dental_claim_id
-- end of Diagnosis Codes
COMMIT TRANSACTION;
END TRY

BEGIN CATCH
DECLARE @ErrorMessage NVARCHAR(4000)
,@ErrorNumber INT = ERROR_NUMBER()
,@ErrorSeverity INT = ERROR_SEVERITY()
,@ErrorState INT = ERROR_STATE()
,@ErrorLine INT = ERROR_LINE()
,@ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT @ErrorMessage = 'Procedure: ' + @ErrorProcedure + '  Line: ' + cast(error_line() AS NVARCHAR(16)) + '  Message: ' + ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR (
@ErrorMessage
,@ErrorSeverity
,1
,@ErrorNumber -- parameter: original error number.
,@ErrorSeverity -- parameter: original error severity.
,@ErrorState -- parameter: original error state.
,@ErrorProcedure -- parameter: original error procedure name.
,@ErrorLine -- parameter: original error line number.
);

RETURN;
END CATCH;
RETURN isnull(@new_claim_id, 0)
GO
