USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_plan_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thanh Nguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/5/2005	Thanh Nguyen			1.0		Created
08/09/2009	Vishwa  Jella		2.0			updated with golden key
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_plan_type' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_benefit_plan_type_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_plan_type_id
,benefit_plan_type_ud
,golden_key
FROM benefit_plan_type
ORDER BY benefit_plan_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
