USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_upline_agent_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug 10 2006  2:01PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/10/2006	tqdo		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for upline agent grid on agent form
--
REQUIREMENTS:
--
INPUTS:
@agent_upline_agent_id - Key to agent_upline_agent table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_agent_upline_agent_delete]
(
@agent_upline_agent_id                      int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM agent_upline_agent WHERE agent_upline_agent_id = @agent_upline_agent_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--


--
--  END
--
DELETE FROM agent_upline_agent
WHERE agent_upline_agent_id = @agent_upline_agent_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
