USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_accounting_transaction_ap_load_show_locked_transactions]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NGA VU
May 31 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
03/16/2018  LHendrix		1.0		SP13104. Created.
01/16/2026  KChedotal       2.0     RT-26216 - performance tweaks
06/01/2026  kchedotal       2.1     RT-28121 - bug fix/performance tweaks: ID was not limiting results 
                                        on non-existing UD wildcard search. Also changed to dynamic SQL 
                                        to try to help with performance issues
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:
Find data for accounting transaction find form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_find_accounting_transaction_ap_load_show_locked_transactions] (
    @get_column_headers BIT = 0
    ,@accounting_transaction_ap_ud NVARCHAR(100) = NULL 
    ,@accounting_source_id INT = NULL
    ,@accounting_transaction_type_id INT = NULL
    ,@accounting_transaction_status_id INT = NULL
    ,@transaction_date DATETIME = NULL
    ,@transaction_amount NUMERIC(20, 10) = NULL
    ,@accounting_company_id INT = NULL
    ,@accounting_company_account_id INT = NULL
    ,@vendor_id INT = NULL
    ,@claim_id INT = NULL
    ,@show_exact_match BIT = 0
    ,@show_locked_transactions BIT = 1 -- Be default set to 1 to show it on Find Accounting Transaction form
    ,@manual_trx_with_treat_as_claims_payment_only BIT = 0
    )
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @accounting_transaction_ap_type_id_payment INT = 
    (
        SELECT accounting_transaction_ap_type_id
        FROM accounting_transaction_ap_type
        WHERE golden_key = 'Payment'
    );

    DECLARE @accounting_source_id_manual INT = 
    (
        SELECT accounting_source_id
        FROM accounting_source
        WHERE golden_key = 'Manual Transaction'
    );

    DECLARE @accounting_source_id_claims INT = 
    (
        SELECT accounting_source_id
        FROM accounting_source
        WHERE golden_key = 'Claims'
    );

    DECLARE @accounting_transaction_status_id_available INT = 
    (
        SELECT accounting_transaction_status_id
        FROM accounting_transaction_status
        WHERE golden_key = 'AVAILABLE'
    );

    DECLARE @transaction_start_date DATE = CAST(@transaction_date AS DATE);
    DECLARE @transaction_end_date DATE = DATEADD(DAY, 1, CAST(@transaction_date AS DATE));

    IF OBJECT_ID('tempdb..#atap_ids') IS NOT NULL
        DROP TABLE #atap_ids;
    CREATE TABLE #atap_ids (atap_id INT INDEX ix_atap_id CLUSTERED);

    DECLARE @sql_params NVARCHAR(1000) = N'';
    DECLARE @sql_select NVARCHAR(MAX) = N'';
    DECLARE @sql_from NVARCHAR(MAX) = N'';
    DECLARE @sql_where NVARCHAR(MAX) = N'';
    DECLARE @sql NVARCHAR(MAX) = N'';

    SET @sql_params = N'@local_get_column_headers BIT, ' +
                       '@local_manual_trx_with_treat_as_claims_payment_only BIT, ' +
                       '@local_accounting_transaction_ap_type_id_payment INT, ' +  
                       '@local_accounting_source_id_manual INT, ' + 
                       '@local_accounting_source_id_claims INT, ' + 
                       '@local_accounting_transaction_status_id_available INT, ' + 
                       '@local_accounting_source_id INT, ' + 
                       '@local_accounting_transaction_type_id INT, ' + 
                       '@local_accounting_transaction_status_id INT, ' + 
                       '@local_transaction_date_start DATE, ' + 
                       '@local_transaction_date_end DATE, ' + 
                       '@local_transaction_amount NUMERIC(20, 10), ' + 
                       '@local_accounting_company_id INT, ' + 
                       '@local_accounting_company_account_id INT, ' + 
                       '@local_vendor_id INT, ' + 
                       '@local_claim_id INT';

    SET @sql_select = N'SELECT DISTINCT TOP (dbo.fn_results_limit()) ' + 
                            ' a.accounting_transaction_ap_id AS accounting_transaction_id ' + 
                            ',a.accounting_transaction_ap_ud AS accounting_transaction_ud ' + 
                            ',a.transaction_date AS transaction_date ' + 
                            ',a.transaction_amount ' + 
                            ',dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 0) AS unapplied_amount ' + 
                            ',a.accounting_source_id ' + 
                            ',asrc.accounting_source_ud AS accounting_source_ud ' + 
                            ',ats.accounting_transaction_status_ud AS accounting_transaction_status_ud ' + 
                            ',atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud ' + 
                            ',v.vendor_ud AS vendor_ud ' + 
                            ',v.vendor_nm ' + 
                            ',c.claim_ud ';

    SET @sql_from = N'FROM accounting_transaction_ap a ' + 
                        'LEFT JOIN vendor v ' + 
                        '    ON v.vendor_id = a.vendor_id ' + 
                        'LEFT JOIN accounting_transaction_ap_claim_detail det ' + 
                        '    ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id ' + 
                        'LEFT JOIN claim c ' + 
                        '    ON c.claim_id = det.claim_id ' + 
                        'LEFT JOIN accounting_source asrc ' + 
                        '    ON asrc.accounting_source_id = a.accounting_source_id ' + 
                        'LEFT JOIN accounting_transaction_status ats ' + 
                        '    ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id ' + 
                        'LEFT JOIN accounting_transaction_ap_type atype ' + 
                        '    ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id ';

    IF @accounting_company_account_id IS NOT NULL OR @accounting_company_id IS NOT NULL
    BEGIN

        SET @sql_from = @sql_from + 
                N'JOIN accounting_transaction_ap_distribution atad ' + 
                '    ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id ' + 
                'JOIN accounting_company_account aca ' + 
                '    ON aca.accounting_company_account_id = atad.accounting_company_account_id ';

    END;

    SET @sql_where = 
            N'WHERE @local_get_column_headers = 0 ' + 
            '    AND atype.accounting_transaction_ap_type_id <> @local_accounting_transaction_ap_type_id_payment ' + 
            '    AND (' + 
            '        @local_manual_trx_with_treat_as_claims_payment_only IS NULL ' + 
            '        OR @local_manual_trx_with_treat_as_claims_payment_only = 0 ' + 
            '        OR ( ' + 
            '            a.accounting_source_id = @local_accounting_source_id_manual ' + 
            '            AND a.treat_as_accounting_source_id = @local_accounting_source_id_claims ' + 
            '            AND a.accounting_transaction_status_id = @local_accounting_transaction_status_id_available ' + 
            '            ) ' + 
            '        ) ';


    IF @accounting_transaction_ap_ud IS NOT NULL 
    BEGIN
        
        IF @show_exact_match = 1
        BEGIN

            INSERT INTO #atap_ids (atap_id)
            SELECT accounting_transaction_ap_id
            FROM accounting_transaction_ap
            WHERE accounting_transaction_ap_ud = @accounting_transaction_ap_ud;

        END
        ELSE
        BEGIN

            INSERT INTO #atap_ids (atap_id)
            SELECT accounting_transaction_ap_id
            FROM accounting_transaction_ap
            WHERE accounting_transaction_ap_ud LIKE (@accounting_transaction_ap_ud + '%');

        END

        SET @sql_where = @sql_where + N' AND a.accounting_transaction_ap_id IN (SELECT atap_id FROM #atap_ids) ';

    END

    IF @accounting_source_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND a.accounting_source_id = @local_accounting_source_id ';

    END

    IF @accounting_transaction_type_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND a.accounting_transaction_ap_type_id = @local_accounting_transaction_type_id ';

    END

    IF @accounting_transaction_status_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND a.accounting_transaction_status_id = @local_accounting_transaction_status_id ';

    END

    IF @transaction_date IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND (a.transaction_date >= @local_transaction_date_start AND a.transaction_date < @local_transaction_date_end) '
    END

    IF @transaction_amount IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND a.transaction_amount = @local_transaction_amount';

    END

    IF @accounting_company_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND aca.accounting_company_id = @local_accounting_company_id ';

    END

    IF @accounting_company_account_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND aca.accounting_company_account_id = @local_accounting_company_account_id ';

    END

    IF @vendor_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND a.vendor_id = @local_vendor_id ';

    END

    IF @claim_id IS NOT NULL
    BEGIN
        
        SET @sql_where = @sql_where + N' AND det.claim_id = @local_claim_id ';

    END

    SET @sql = @sql_select + @sql_from + @sql_where + ';';

    EXEC sys.sp_executesql 
        @stmt = @sql, 
        @params = @sql_params, 
        @local_get_column_headers = @get_column_headers, 
        @local_manual_trx_with_treat_as_claims_payment_only = @manual_trx_with_treat_as_claims_payment_only, 
        @local_accounting_transaction_ap_type_id_payment = @accounting_transaction_ap_type_id_payment,
        @local_accounting_source_id_manual = @accounting_source_id_manual,
        @local_accounting_source_id_claims = @accounting_source_id_claims,
        @local_accounting_transaction_status_id_available = @accounting_transaction_status_id_available,
        @local_accounting_source_id = @accounting_source_id,
        @local_accounting_transaction_type_id = @accounting_transaction_type_id,
        @local_accounting_transaction_status_id = @accounting_transaction_status_id,
        @local_transaction_date_start = @transaction_start_date,
        @local_transaction_date_end = @transaction_end_date,
        @local_transaction_amount = @transaction_amount,
        @local_accounting_company_id = @accounting_company_id,
        @local_accounting_company_account_id = @accounting_company_account_id,
        @local_vendor_id = @vendor_id,
        @local_claim_id = @claim_id;


    SET NOCOUNT OFF;

END;
GO
