USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_authorization_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2006 	Thuy Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_auto_create_authorization_id_rule_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
auto_create_referral_id_rule_id
,auto_create_referral_id_rule_ud
,golden_key
FROM auto_create_referral_id_rule
where golden_key <> 'Date + Form Type + Counter '
UNION

SELECT
auto_create_referral_id_rule_id
,'Date + Authorization + Counter'
,'Date + Authorization + Counter'
FROM auto_create_referral_id_rule
where golden_key = 'Date + Form Type + Counter'

ORDER BY auto_create_referral_id_rule_ud
--
RETURN @SP_SUCCESS
GO
