USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_payment_disbursement_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Supports Account Assignments gridon
UI Form: Premium Billing Account Assignments
Tab Page: Disbursement Premium Payment
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_premium_payment_disbursement_load]
(
@client_id 				INT = NULL
,@vendor_id  				INT = NULL
,@accounting_company_id 	INT = NULL
,@bank_account_id 			INT = NULL
,@show_only_current			BIT = NULL
)
AS
--
--
SET NOCOUNT ON
--
SELECT  DISTINCT
aacpd.account_assignment_premium_payment_disbursement_id
,aacpd.client_id
,cn.client_ud
,aacpd.vendor_id
,v.vendor_ud
,aacpd.accounting_company_id
,ac.accounting_company_ud
,aacpd.bank_account_id
,ba.bank_account_ud
,aacpd.effective_from
,aacpd.effective_thru
,aacpd.modified_date
FROM dbo.account_assignment_premium_payment_disbursement aacpd
LEFT JOIN client_name cn ON aacpd.client_id = cn.client_id AND cn.primary_name = 1
LEFT JOIN accounting_company ac ON aacpd.accounting_company_id = ac.accounting_company_id
LEFT JOIN vendor v ON aacpd.vendor_id = v.vendor_id
LEFT JOIN bank_account ba on aacpd.bank_account_id = ba.bank_account_id
WHERE
(
ISNULL(@bank_account_id, 0) = 0 OR @bank_account_id = aacpd.bank_account_id
)
AND
(
ISNULL(@vendor_id, 0) = 0 OR @vendor_id = aacpd.vendor_id
)
AND
(
ISNULL(@accounting_company_id, 0) = 0 OR @accounting_company_id = aacpd.accounting_company_id
)
AND
(
ISNULL(@client_id, 0) = 0 OR @client_id = aacpd.client_id
)
AND
(
ISNULL(@show_only_current, 0) = 0
OR
(
(DATEDIFF(day, GETDATE(), aacpd.effective_from) <= 0 OR aacpd.effective_from IS NULL)
AND
(DATEDIFF(day, GETDATE(), aacpd.effective_thru) >= 0 OR aacpd.effective_thru IS NULL)
)
)
ORDER BY
cn.client_ud,
aacpd.effective_from DESC
;

RETURN 0
GO
