USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_bank_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_financial_bank_load] (
@financial_bank_id    INT = NULL
)
AS
SELECT
financial_bank_id
,financial_bank_ud
,financial_bank_nm
FROM
financial_bank
WHERE
financial_bank_id = @financial_bank_id;

RETURN 0;
GO
