USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_grace_period_status_override_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 11/22/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/22/2010	Chad Maddox		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for grid Override Grace Period Status
in the Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_grace_period_status_override_save]
(
@family_eligibility_grace_period_status_override_id		int = null output
,@family_eligibility_id							int = null
,@grace_period_status_id						int = null
,@effective_from								datetime = null
,@effective_thru								datetime = null
,@comment										nvarchar(255) = null
,@is_new_value                               	bit = NULL
,@active                                     	bit = NULL
)
as

DECLARE
@SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@EXCEPTION int
SELECT
@SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@EXCEPTION = -1

if (@family_eligibility_grace_period_status_override_id is null)
begin
insert into family_eligibility_grace_period_status_override(
family_eligibility_id
,grace_period_status_id
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@family_eligibility_id
,@grace_period_status_id
,@effective_from
,@effective_thru
,@comment
,@active
)

set @family_eligibility_grace_period_status_override_id = @@identity

if not exists (select * from family_eligibility_grace_period_status_override where family_eligibility_grace_period_status_override_id = @family_eligibility_grace_period_status_override_id )
begin
return @EXCEPTION
end
end
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

update 	family_eligibility_grace_period_status_override
set
family_eligibility_id 				= @family_eligibility_id
,grace_period_status_id 			= @grace_period_status_id
,effective_from 					= @effective_from
,effective_thru 					= @effective_thru
,comment 							= @comment
,active 							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	family_eligibility_grace_period_status_override_id = @family_eligibility_grace_period_status_override_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

end

return @SUCCESS
GO
