USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_pred_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns
11/13/2017	eponomareff		RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT' on claim_procedure inserts
12/18/2017	amortensen		RT:12550 - Units have been added to predetermination claims, units are no longer defaulted to 1

HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_procedure_pred_save] (
@claim_procedure_id           INT = NULL OUTPUT
,@claim_id                    INT = NULL
,@area_of_oral_cavity_id      INT = NULL
,@tooth_number_letter_id      INT = NULL
,@tooth_surface_ud            NVARCHAR(50) = NULL
,@procedure_code_id           INT = NULL
,@procedure_code_ud           NVARCHAR(50) = NULL
,@alternate_procedure_code_id INT = NULL
,@alternate_procedure_code_ud NVARCHAR(50) = NULL
,@diagnosis_sequence          NVARCHAR(50) = NULL
,@charge                      NUMERIC(20, 10) = NULL
,@units                       NUMERIC(20, 10) = NULL
,@repriced_amount             NUMERIC(20, 10) = NULL
,@cob_amount                  NUMERIC(20, 10) = NULL
,@amount                      NUMERIC(20, 10) = NULL
,@claim_line_status_id        INT = NULL
,@result_code_ud              NVARCHAR(100) = NULL
,@process_status_id           INT = NULL
,@clean_date                  DATETIME = NULL
,@received_date               DATETIME = NULL
,@service_from_date           DATETIME = NULL
,@service_thru_date           DATETIME = NULL
,@claim_line_sequence         INT = NULL
,@active                      BIT = 1
)
AS
BEGIN
--
SET NOCOUNT ON

--
DECLARE
@SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@SP_EXCEPTION INT

SELECT
@SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '159840011'
,@ERROR_NOT_EXIST = '159840012'
,@ERROR_CANT_UPDATE = '159840013'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@SP_EXCEPTION = - 1

-- RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT'
DECLARE @Original_Source_USER_INTERFACE_GK NVARCHAR(50)

SET @Original_Source_USER_INTERFACE_GK = 'QC_THICK_CLIENT'

DECLARE @len INT
DECLARE @i INT
DECLARE @temp NVARCHAR(50)
DECLARE @id INT

IF ISNULL(@clean_date, 0) = 0
BEGIN
SET @clean_date = GETDATE()
END

IF ISNULL(@service_from_date, 0) = 0
BEGIN
SET @service_from_date = GETDATE()
END

IF ISNULL(@service_thru_date, 0) = 0
BEGIN
SET @service_thru_date = GETDATE()
END

IF ISNULL(@claim_procedure_id, 0) = 0
BEGIN
INSERT INTO claim_procedure (
claim_id
,procedure_code_id
,procedure_code_ud
,units
,charge
,repricing_amount
,cob_amount
,alternate_procedure_code_id
,alternate_procedure_code_ud
,diagnosis_sequence
,tooth_number_letter_id
,area_of_oral_cavity_id
,adjudication_status_id
,claim_payment_process_status_id
,clean_date
,received_date
,service_from_date
,service_thru_date
,claim_line_sequence
,original_source_gk
,active
)
VALUES (
@claim_id
,@procedure_code_id
,@procedure_code_ud
,@units
,@charge
,@repriced_amount
,@cob_amount
,@alternate_procedure_code_id
,@alternate_procedure_code_ud
,@diagnosis_sequence
,@tooth_number_letter_id
,@area_of_oral_cavity_id
,@claim_line_status_id
,@process_status_id
,@clean_date
,@received_date
,@service_from_date
,@service_thru_date
,@claim_line_sequence
,@Original_Source_USER_INTERFACE_GK
,@active
)

SET @claim_procedure_id = SCOPE_IDENTITY()

IF (ISNULL(@tooth_surface_ud, '') <> '')
BEGIN
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ' ', '')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ',', '')
SET @len = LEN(@tooth_surface_ud)

IF @len > 0
BEGIN
SET @i = 1

WHILE (@i <= @len)
BEGIN
SET @temp = SUBSTRING(@tooth_surface_ud, @i, 1)
SET @id = (SELECT TOP 1 tooth_surface.tooth_surface_id FROM tooth_surface WHERE tooth_surface.tooth_surface_ud = @temp)

IF ISNULL(@id, 0) > 0
BEGIN
INSERT INTO claim_procedure_tooth_surface (
claim_procedure_id
,tooth_surface_id
)
VALUES (
@claim_procedure_id
,@id
)
END

SET @i = @i + 1
END
END
END
END
ELSE
BEGIN
DELETE FROM claim_procedure_tooth_surface WHERE claim_procedure_id = @claim_procedure_id

DECLARE @ErrorVar INT, @RowCountVar INT

UPDATE claim_procedure
SET
claim_id                         = @claim_id
,procedure_code_id               = @procedure_code_id
,procedure_code_ud               = @procedure_code_ud
,units                           = @units
,charge                          = @charge
,repricing_amount                = @repriced_amount
,cob_amount                      = @cob_amount
,alternate_procedure_code_id     = @alternate_procedure_code_id
,alternate_procedure_code_ud     = @alternate_procedure_code_ud
,diagnosis_sequence              = @diagnosis_sequence
,tooth_number_letter_id          = @tooth_number_letter_id
,area_of_oral_cavity_id          = @area_of_oral_cavity_id
,adjudication_status_id          = @claim_line_status_id
,claim_payment_process_status_id = @process_status_id
,clean_date                      = @clean_date
,received_date                   = @received_date
,service_from_date               = @service_from_date
,service_thru_date               = @service_thru_date
,claim_line_sequence             = @claim_line_sequence
,active                          = @active
,modified_user_name              = ORIGINAL_LOGIN()
,modified_date                   = GETDATE()
WHERE claim_procedure_id = @claim_procedure_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

IF (ISNULL(@tooth_surface_ud, '') <> '')
BEGIN
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ' ', '')
SET @tooth_surface_ud = REPLACE(@tooth_surface_ud, ',', '')
SET @len = LEN(@tooth_surface_ud)

IF @len > 0
BEGIN
SET @i = 1

WHILE (@i <= @len)
BEGIN
SET @temp = SUBSTRING(@tooth_surface_ud, @i, 1)
SET @id = (SELECT TOP 1 tooth_surface.tooth_surface_id FROM tooth_surface WHERE tooth_surface.tooth_surface_ud = @temp)

IF ISNULL(@id, 0) > 0
BEGIN
INSERT INTO claim_procedure_tooth_surface (
claim_procedure_id
,tooth_surface_id
)
VALUES (
@claim_procedure_id
,@id
)
END

SET @i = @i + 1
END
END
END
END

--
RETURN @SP_SUCCESS
END
GO
