USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_commission_history_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
08/15/2006	HuyThan	1.0		Created
08/30/2006	HuyThan	1.1		Change accounting_transaction_ap.agent_id => accounting_transaction_ap.agent_identifier_id
11/01/2006	HuyThan	1.2		Add down_line_agent_identifier, down_line_agent_brokerage_identifier build 298
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to delete data for agent commission history grid on agent form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE      PROCEDURE [dbo].[plx_agent_commission_history_list_load]
(
@agent_id				int = NULL
,@commission_benefit_category_id 	int = NULL
,@commission_family_eligibility_id		int = NULL
,@commission_client_group_id  		int = NULL
,@commission_effective_from		datetime = null
,@commission_effective_thru		datetime = null
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString NVARCHAR(4000),
@sqlCondition NVARCHAR(4000),
@sqlWhere NVARCHAR(1000)


SET @sqlCondition = '  AND agent_identifier.agent_id = ' +  CONVERT (varchar(10), isnull(@agent_id, 0))

IF( @commission_benefit_category_id IS NOT NULL and @commission_benefit_category_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND benefit_category.benefit_category_id = ' +  CONVERT (varchar(10), @commission_benefit_category_id)
END

IF( @commission_family_eligibility_id IS NOT NULL and @commission_family_eligibility_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND family_eligibility.family_eligibility_id = ' +  CONVERT (varchar(10), @commission_family_eligibility_id)
END

IF( @commission_client_group_id IS NOT NULL and @commission_client_group_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND client_group_name.client_group_id = ' +  CONVERT (varchar(10), @commission_client_group_id)
END

IF @commission_effective_from IS NOT NULL AND @commission_effective_from <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, accounting_transaction_ap.transaction_date, ''' + CONVERT(NVARCHAR, @commission_effective_from, 101) + ''' ) <= 0 ) '
END
IF @commission_effective_thru IS NOT NULL AND @commission_effective_thru <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ( DATEDIFF(day, accounting_transaction_ap.transaction_date, ''' + CONVERT(NVARCHAR, @commission_effective_thru, 101) + ''' ) >= 0 ) '
END

-------------------------------------------------------------------------------------
--	SET @sqlString = '
--	SELECT DISTINCT
--		 accounting_transaction_ap.accounting_transaction_ap_id
--		,accounting_transaction_ap.accounting_transaction_ap_ud as commission_transantion_ud
--		,accounting_transaction_type.accounting_transaction_type_id
--		,accounting_transaction_type.accounting_transaction_type_ud as commission_transantion_type_ud
--		,accounting_transaction_ap.transaction_amount as commission_transantion_amount
--		,accounting_transaction_ap.transaction_date as commission_transantion_date
--		,vendor.vendor_id
--		,vendor.vendor_ud as commission_vendor_ud
--		,down_line_agent_identifier.agent_id as commission_down_line_agent_id
--		,down_line_agent_identifier.agent_ud as commission_down_line_agent_ud
--		,down_line_agent_brokerage_identifier.agent_id as commission_down_line_brokerage_id
--		,down_line_agent_brokerage_identifier.agent_ud as commission_down_line_brokerage_ud
--		,benefit_category.benefit_category_id
--		,benefit_category.benefit_category_ud as commission_benefit_category_ud
--		,client_group_name.client_group_id
--		,client_group_name.client_group_ud as commission_client_group_ud
--		,family_eligibility.family_eligibility_id
--		,family_eligibility.family_eligibility_ud as commission_family_eligibility_ud
--	FROM  accounting_transaction_ap
--		INNER JOIN agent_identifier ON agent_identifier.agent_identifier_id = accounting_transaction_ap.agent_identifier_id
--		INNER JOIN accounting_source ON accounting_source.accounting_source_id = accounting_transaction_ap.accounting_source_id
--			AND accounting_source.golden_key = ''Commission''
--		INNER JOIN accounting_transaction_ap_accounting_transaction_status ON accounting_transaction_ap_accounting_transaction_status.accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
--		INNER JOIN accounting_transaction_status ON accounting_transaction_status.accounting_transaction_status_id = accounting_transaction_ap_accounting_transaction_status.accounting_transaction_status_id
--			AND accounting_transaction_status.golden_key = ''Paid''
--		LEFT JOIN accounting_transaction_type ON accounting_transaction_type.accounting_transaction_type_id = accounting_transaction_ap.accounting_transaction_type_id
--		LEFT JOIN vendor ON vendor.vendor_id = accounting_transaction_ap.vendor_id
--		LEFT JOIN client_group_name ON client_group_name.client_group_id = accounting_transaction_ap.client_group_id
--		LEFT JOIN family_eligibility ON family_eligibility.family_eligibility_id = accounting_transaction_ap.family_eligibility_id
--		LEFT JOIN benefit_contract ON benefit_contract.benefit_contract_id = accounting_transaction_ap.benefit_contract_id
--			AND benefit_contract.benefit_contract_template = 0
--		LEFT JOIN benefit_contract_period ON benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
--		LEFT JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_contract_period_id = benefit_contract_period.benefit_contract_period_id
--		LEFT JOIN benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
--		LEFT JOIN benefit_framework ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
--		LEFT JOIN benefit_category ON benefit_framework.benefit_category_id = benefit_category.benefit_category_id
--		LEFT JOIN agent_identifier as down_line_agent_identifier ON down_line_agent_identifier.agent_identifier_id = accounting_transaction_ap.down_line_agent_identifier_id
--		LEFT JOIN agent_identifier as down_line_agent_brokerage_identifier ON down_line_agent_brokerage_identifier.agent_identifier_id = accounting_transaction_ap.down_line_agent_brokerage_identifier_id
--	'
----Result conditional string
--SET @sqlWhere = 'WHERE
--		( (	select top 1 golden_key
--				from 	accounting_transaction_ap_accounting_transaction_status
--				left join accounting_transaction_status
--				on accounting_transaction_status.accounting_transaction_status_id = accounting_transaction_ap_accounting_transaction_status.accounting_transaction_status_id
--				where accounting_transaction_ap_accounting_transaction_status.accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
--				order by accounting_transaction_ap_accounting_transaction_status.accounting_transaction_ap_accounting_transaction_status_id desc )= ''PAID''  ) '
--
----print @sqlString  + @strWhere + @sqlCondition
--EXEC (  @sqlString  + @sqlWhere + @sqlCondition  )
END
GO
