USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_preferred_communication_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  6:23PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Preferred Communications"
in frmContacts form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_contact_preferred_communication_save]

(
@contact_preferred_communication_id         int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@communication_type_id                      int = NULL
,@communication_method_id                    int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @contact_preferred_communication_id is Null
BEGIN

--- Create a new contact_preferred_communication record
INSERT INTO contact_preferred_communication(
contact_id
,communication_type_id
,communication_method_id
,active
)
VALUES
(@contact_id
,@communication_type_id
,@communication_method_id
,@active
)
--
SET @contact_preferred_communication_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM contact_preferred_communication WHERE contact_preferred_communication_id = @contact_preferred_communication_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

--- Updating an existing contact_preferred_communication record
UPDATE contact_preferred_communication
SET
contact_id                               = @contact_id
,communication_type_id                    = @communication_type_id
,communication_method_id                  = @communication_method_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE contact_preferred_communication_id = @contact_preferred_communication_id
END
--
RETURN @SP_SUCCESS
--
GO
