USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_billing_fee_ar_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 03/27/2020
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/37/2020	Aaron Mortensen	1.0			Created - from plx_account_assignment_premium_billing_save

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for grdPBFeesARAccountAssignment on form frmAccountAssignment

--
REQUIREMENTS:
--
INPUTS:
@account_assignment_premium_billing_fee_ar_id
,@client_group_id
,@benefit_contract_id
,@benefit_plan_id
,@client_id
,@ar_accounting_company_account_id
,@revenue_accounting_company_account_id
,@effective_from
,@effective_thru
,@active
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_premium_billing_fee_ar_save](
@account_assignment_premium_billing_fee_ar_id INT = 0   OUTPUT,
@client_group_id INT = NULL,
@benefit_contract_id INT = NULL,
@benefit_plan_id INT = NULL,
@client_id INT = NULL,
@ar_accounting_company_account_id INT = NULL,
@revenue_accounting_company_account_id INT = NULL,
@effective_from DATETIME = NULL,
@effective_thru DATETIME = NULL,
@active BIT = NULL
)
AS

DECLARE
@SP_SUCCESS   INT,
@ERROR_INSERT_FAILS NVARCHAR(50),
@ERROR_UPDATE_FAILS NVARCHAR(50),
@ERROR_DOES_NOT_EXIST   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0,
@ERROR_INSERT_FAILS = 'G_INSERT_FAILS',
@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS',
@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

IF ISNULL(@account_assignment_premium_billing_fee_ar_id, 0) = 0
BEGIN
INSERT INTO account_assignment_premium_billing_fee_ar(
client_group_id
,benefit_contract_id
,benefit_plan_id
,client_id
,ar_accounting_company_account_id
,revenue_accounting_company_account_id
,effective_from
,effective_thru
,active)
VALUES(
@client_group_id
,@benefit_contract_id
,@benefit_plan_id
,@client_id
,@ar_accounting_company_account_id
,@revenue_accounting_company_account_id
,@effective_from
,@effective_thru
,@active)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @account_assignment_premium_billing_fee_ar_id = SCOPE_IDENTITY();
END
ELSE IF NOT EXISTS (
SELECT 1
FROM account_assignment_premium_billing_fee_ar
WHERE account_assignment_premium_billing_fee_ar_id = @account_assignment_premium_billing_fee_ar_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE
@ErrorVar INT,
@RowCountVar INT;

UPDATE account_assignment_premium_billing_fee_ar
SET
client_group_id                         = @client_group_id,
benefit_contract_id                     = @benefit_contract_id,
benefit_plan_id                         = @benefit_plan_id,
client_id                               = @client_id,
ar_accounting_company_account_id        = @ar_accounting_company_account_id,
revenue_accounting_company_account_id   = @revenue_accounting_company_account_id,
effective_from                          = @effective_from,
effective_thru                          = @effective_thru,
active                                  = @active,
modified_user_name                      = ORIGINAL_LOGIN(),
modified_date                           = GETDATE()

WHERE account_assignment_premium_billing_fee_ar_id = @account_assignment_premium_billing_fee_ar_id;

SELECT
@ErrorVar = @@ERROR,
@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE);
END
ELSE IF @RowCountVar = 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED);
END
END
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS);
END
--
RETURN @SP_SUCCESS;
--
GO
