USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_customer_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
DATE: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	TINH DO		1.0			CREATED	for	15901: CLINET & GROUP
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Customer Assignments grid on Group form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_customer_list_load]
(
@client_group_id Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_group_customer.client_group_customer_id
,client_group_customer.client_group_id

,client_group_customer.customer_id
,customer.customer_ud

,client_group_customer.criteria_id
,criteria.criteria_ud

,client_group_customer.effective_from
,client_group_customer.effective_thru
,isnull(client_group_customer.effective_thru,'9999-12-31') as order_effective_thru

FROM client_group_customer
LEFT join customer  ON customer.customer_id = client_group_customer.customer_id
LEFT join criteria  ON criteria.criteria_id = client_group_customer.criteria_id

WHERE client_group_customer.client_group_id = @client_group_id
ORDER BY order_effective_thru  desc ,criteria.criteria_ud
--
RETURN @SP_SUCCESS
--
GO
