USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_last_scheduled_run_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mabdul / Cfacey
--
DESCRIPTION:
Load last scheduled run date for the Correspondence form.
--
INPUTS:
@correspondence_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_last_scheduled_run_load]
(
@correspondence_id						INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT MAX(initiated_date) AS last_scheduled_run
FROM correspondence_run run
WHERE run.correspondence_id = @correspondence_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
