USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_eligibility_restriction_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/09/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/09/2006	Phong Tran		1.0		Created
2006/03/08	Thuy Ha			1.0		created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Eligibility Restrictions grid
in Benefit Contract Template Advanced Plan Setup form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_eligibility_restriction_id - Key to benefit_contract_period_benefit_plan_eligibility_restriction table, identifies a single benefit_contract_period_benefit_plan_eligibility_restriction,
@benefit_contract_period_benefit_plan_id
@eligibility_restriction_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_eligibility_restriction_save]
(
@benefit_contract_period_benefit_plan_eligibility_restriction_id	int = NULL output
,@benefit_contract_period_benefit_plan_id    int = NULL
,@eligibility_restriction_id                 int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @benefit_contract_period_benefit_plan_eligibility_restriction_id IS NULL
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan_eligibility_restriction(
benefit_contract_period_benefit_plan_id
,eligibility_restriction_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@eligibility_restriction_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_contract_period_benefit_plan_eligibility_restriction_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_eligibility_restriction WHERE benefit_contract_period_benefit_plan_eligibility_restriction_id = @benefit_contract_period_benefit_plan_eligibility_restriction_id )
BEGIN
--     RAISERROR('benefit_contract_period_benefit_plan_eligibility_restriction object not found in benefit_contract_period_benefit_plan_eligibility_restriction for internal key %d.', 16, 1, @benefit_contract_period_benefit_plan_eligibility_restriction_id
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan_eligibility_restriction
SET
benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
,eligibility_restriction_id               = @eligibility_restriction_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_benefit_plan_eligibility_restriction_id = @benefit_contract_period_benefit_plan_eligibility_restriction_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
