USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_list_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to enroll member on Family form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_list_save]
(

@eligibility_restriction_relationship_to_subscriber_id int = NULL   OUTPUT
,@eligibility_restriction_id                 int = NULL
,@relationship_to_insured_id                 int = NULL
,@relationship_to_insured_set_id             int = NULL


,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @eligibility_restriction_relationship_to_subscriber_id is Null
BEGIN
--- Create a new record
INSERT INTO eligibility_restriction_relationship_to_subscriber(
eligibility_restriction_id
,relationship_to_insured_id
,relationship_to_insured_set_id
,active
)
VALUES
(@eligibility_restriction_id
,@relationship_to_insured_id
,@relationship_to_insured_set_id
,@active
)
--
SET @eligibility_restriction_relationship_to_subscriber_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM eligibility_restriction_relationship_to_subscriber WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE eligibility_restriction_relationship_to_subscriber
SET
eligibility_restriction_id               = @eligibility_restriction_id
,relationship_to_insured_id               = @relationship_to_insured_id
,relationship_to_insured_set_id           = @relationship_to_insured_set_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

END
--
RETURN @SP_SUCCESS
--
GO
