USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_transport_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_transport_delete]
(
@claim_transport_id             INT = NULL   OUTPUT
) AS

SET NOCOUNT ON

BEGIN
DECLARE @claim_id INT = (SELECT claim_id FROM claim_transport WHERE claim_transport_id = @claim_transport_id)
DECLARE @claim_procedure_id INT = (SELECT claim_procedure_id FROM claim_transport WHERE claim_transport_id = @claim_transport_id)

DELETE FROM claim_certification_condition
WHERE claim_id = @claim_id AND (@claim_procedure_id IS NULL OR claim_procedure_id = @claim_procedure_id)

DELETE FROM claim_transport_address
WHERE claim_transport_id = @claim_transport_id

DELETE FROM claim_transport_address
WHERE claim_transport_id = @claim_transport_id


DELETE FROM claim_transport
WHERE claim_transport_id = @claim_transport_id

END
--
RETURN 0
--
GO
