USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_update_claim_insert_result_code]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   PROCEDURE [dbo].[bind_update_claim_insert_result_code]

    @claim_status NVARCHAR(50),

    @result_code_ud NVARCHAR(50),

    @claim_ud NVARCHAR(50)

AS

BEGIN

    SET NOCOUNT ON;
 
    DECLARE @result_code_status INT;

    DECLARE @result_code_id INT;

    DECLARE @claim_status_id INT;

    DECLARE @update DATETIME = GETDATE();

    DECLARE @upuser NVARCHAR(50) = SYSTEM_USER;
 
    -- Get the adjudication_status_id based on the claim_status

    SET @claim_status_id = (SELECT adjudication_status_id

                            FROM adjudication_status

                            WHERE adjudication_status_ud = @claim_status);
 
    -- Get the result_code_id and result_code_status_id based on the result_code_ud

    SELECT @result_code_id = rc.result_code_id,

           @result_code_status = rc.result_code_status_id

    FROM result_code rc

    WHERE rc.result_code_ud = @result_code_ud;
 
    IF @claim_status IS NOT NULL

    BEGIN

        UPDATE c

        SET

            c.adjudication_status_id = @claim_status_id,

            c.modified_date = @update,

            c.modified_user_name = @upuser

        FROM claim c

        WHERE c.claim_ud = @claim_ud;

    END
 
    -- Insert into adjudication_result_code

    INSERT INTO [dbo].[adjudication_result_code]

           ([claim_id],

            [claim_procedure_id],

            [result_code_id],

            [result_code_status_id],

            [keep_code_for_next_adj_run],

            [do_not_clear],

            [comment],

            [plan_iteration_index],

            [user_created],

            [active],

            [created_user_name],

            [created_group_id],

            [created_date],

            [modified_date],

            [modified_user_name])

    SELECT c.claim_id,

           NULL, -- claim_procedure_id

           @result_code_id,

           @result_code_status,

           1, -- keep_code_for_next_adj_run

           1, -- do_not_clear

           '', -- comment

           NULL, -- plan_iteration_index

           1, -- user_created

           1, -- active

           @upuser, -- created_user_name

           NULL, -- created_group_id

           @update, -- created_date

           @update, -- modified_date

           @upuser -- modified_user_name

    FROM claim c

    WHERE c.claim_ud = @claim_ud;

END;
GO
