USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_state_mandate_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*
HEADER_BEGIN;

REVISION_HISTORY:

Date		Modified By	 Version		Description
-----------------------------------------------------------------------------------------------
10/26/2007    Abhishek Saxena     1.0                   Created


CURRENT_VERSION: 1.0

DESCRIPTION:
Load data into grid  State Mandate of Group form

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*/
CREATE   PROCEDURE [dbo].[plx_client_group_state_mandate_list_load]
(
@client_group_id		Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_group_state_mandate.client_group_state_mandate_id
,client_group_state_mandate.state_id
,state.state_ud
,client_group_state_mandate.effective_from
,client_group_state_mandate.effective_thru
FROM client_group_state_mandate
inner join state  ON state.state_id =client_group_state_mandate.state_id
WHERE client_group_state_mandate.client_group_id = @client_group_id
ORDER BY
CASE WHEN client_group_state_mandate.effective_from IS NULL THEN 0 ELSE 1 END , client_group_state_mandate.effective_from DESC
,CASE WHEN client_group_state_mandate.effective_thru IS NULL THEN 0 ELSE 1 END , client_group_state_mandate.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
