USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_patient_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThangTNguyen
Date: 09/08/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/22/2005	ThangTNguyen	1.0		Remove name_suffix table
11/11/2005  	Lamnguyen   	1.1		add subscriber_name_last,subscriber_name_first
12/07/2005	HuyThan		1.2		Changed table family_eligibility_member_benefit_contract_period_benefit_plan => family_eligibility_member_benefit_contract_period_benefit_plan
01/06/2006	HuyThan		1.3		Add student_status
04/13/2006	NghiNguyen	1.4		Add BenefitContractPlan field (='benefit_contract_ud / benefit_plan_ud')
11/13/2006	HuyThan		1.5		Add default claim_pay_to_id
11/28/2006	Anh Ta		2.0		Fixed Offline Defect #7533
09/03/2014	dcannon		2.1		added delivery_route to functin (updated relevent views to provide delivery_route)
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_claim_patient_info_load]
(
@member_eligibility_id		INT = NULL
,@claim_id			INT = NULL
)
AS
BEGIN

SELECT DISTINCT
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as member_eligibility_id
,family_eligibility_member_benefit_plan.member_eligibility_ud
,member.member_id
,member_name.name_last
,member_name.name_first
,member_name.name_middle
,member.birth_date as dob
,gender.gender_ud as member_gender
,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle,member_name.name_suffix) as full_patient_name
,dbo.plx_ConcatenateAddress(member_address.address_1, member_address.address_2, member_address.delivery_route, locale.locale_id) as patient_address
, member_address.address_1 as 'patient_address_1'
, member_address.address_2 as 'patient_address_2'
, member_address.delivery_route as 'patient_delivery_route'
, state.state_ud AS 'patient_state'
, locale.city as 'patient_city'
, locale.postal_code as 'patient_postal_code'
, country.country_ud as 'patient_country'
,relationship_to_insured.relationship_to_insured_ud as rel_to_primary
,relationship_to_insured.relationship_to_insured_id as relationship_to_insured
,dbo.plx_get_member_student_status_by_claim(member.member_id , @claim_id ) as student_status
,isnull(CONVERT(NVARCHAR, client_name.client_ud), '') + ' / ' + isnull(client_group_name.client_group_ud, '') as group_client_ud
,client_group_name.client_group_id
,isnull(client_group_name.client_group_ud, '') as group_ud
,client_name.client_id
,isnull(CONVERT(NVARCHAR, client_name.client_ud), '') as client_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,benefit_contract.benefit_contract_id
,benefit_contract.benefit_contract_ud
--	 ,benefit_contract_period_benefit_plan.pay_claim_to_id as default_pay_claim_to_id
,isnull(benefit_contract.benefit_contract_ud, '') + ' / ' + isnull(benefit_plan.benefit_plan_ud, '') as benefit_contract_plan_ud
,subscriber.family_eligibility_member_benefit_plan_id as  subscriber_member_eligibility_id
,dbo.plx_ConcatenateName(subscriber_name.name_last, subscriber_name.name_first, subscriber_name.name_middle,subscriber_name.name_suffix) as subscriber_full_name
,dbo.plx_ConcatenateAddress(subscriber_member_address.address_1, subscriber_member_address.address_2, subscriber_member_address.delivery_route, subscriber_locale.locale_id) as subscriber_address
,subscriber_name.name_last as subscriber_name_last
,subscriber_name.name_first as subscriber_name_first
,subscriber_member.birth_date as subscriber_dob
,subscriber_gender.gender_ud as subscriber_gender
,subscriber.member_eligibility_ud as subscriber_ud
,subscriber_member.member_id as subscriber_id
,subscriber_client_group_name.client_group_id as group_subscriber_id
,isnull(subscriber_client_group_name.client_group_ud, '') as group_subscriber_ud
,marital_status.marital_status_ud as member_marital_status
,currency.currency_ud as save_currency
,benefit_contract.base_currency_id
,dbo.plx_get_exchange_date(@claim_id, benefit_contract.benefit_contract_id) as exchange_date
,dbo.plx_get_exchange_rate(benefit_contract.base_currency_id, dbo.plx_get_exchange_date(@claim_id, benefit_contract.benefit_contract_id)) as exchange_rate
,subscriber.employment_status_code_id
,subscriber.employment_status_code_ud
from family_eligibility_member_benefit_plan
LEFT JOIN family_eligibility_member on family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN family_eligibility on family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
LEFT JOIN member on member.member_id = family_eligibility_member.member_id
LEFT JOIN member_name on member_name.member_id = member.member_id and member_name.is_primary = 1
LEFT JOIN member_address on member_address.member_id = member.member_id and member_address.is_primary = 1
LEFT JOIN locale on locale.locale_id = member_address.locale_id
LEFT JOIN state on state.state_id = locale.state_id
LEFT JOIN country ON country.country_id = locale.country_id
LEFT JOIN gender on gender.gender_id = member.gender_id
LEFT JOIN relationship_to_insured on relationship_to_insured.relationship_to_insured_id = family_eligibility_member.relationship_to_insured_id
LEFT JOIN benefit_contract on benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
LEFT JOIN client_group on client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client_group_name on client_group.client_group_id  = client_group_name.client_group_id AND client_group_name.primary_name = 1
LEFT JOIN client on client.client_id = client_group.client_id --Fixed Offline Defect #7533
LEFT JOIN client_name on client_name.client_id = client.client_id and client_name.primary_name = 1
--	LEFT JOIN benefit_contract_period_benefit_plan on benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = family_eligibility_member_benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
LEFT JOIN benefit_plan on benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
LEFT JOIN marital_status on marital_status.marital_status_id = member.marital_status_id
LEFT JOIN (SELECT 	 f.family_eligibility_member_id
,f.family_eligibility_id
,f.member_id
,family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
,family_eligibility_member_benefit_plan.member_eligibility_ud as member_eligibility_ud
,family_eligibility_employment.employment_status_code_id
,employment_status_code.employment_status_code_ud
,relationship_to_insured.golden_key
FROM 	dbo.family_eligibility_member f
INNER JOIN dbo.relationship_to_insured ON  f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
LEFT JOIN family_eligibility_member_benefit_plan ON family_eligibility_member_benefit_plan.family_eligibility_member_id = f.family_eligibility_member_id
LEFT JOIN family_eligibility on family_eligibility.family_eligibility_id = f.family_eligibility_id
LEFT JOIN family_eligibility_employment on family_eligibility_employment.family_eligibility_employment_id = family_eligibility.family_eligibility_employment_id
LEFT JOIN employment_status_code on employment_status_code.employment_status_code_id = family_eligibility_employment.employment_status_code_id
-- for employer info
LEFT JOIN benefit_contract on benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
LEFT JOIN client_group on client_group.client_group_id = benefit_contract.client_group_id
WHERE	relationship_to_insured.golden_key = 'Self' OR  relationship_to_insured.golden_key = 'Guarantor' ) subscriber
ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN dbo.member_name subscriber_name  ON subscriber_name.member_id = subscriber.member_id
AND subscriber_name.is_primary = 1
LEFT JOIN dbo.member subscriber_member	ON subscriber_member.member_id = subscriber.member_id
LEFT JOIN name_prefix on name_prefix.name_prefix_id = subscriber_name.name_prefix_id
LEFT JOIN gender subscriber_gender on subscriber_gender.gender_id = subscriber_member.gender_id
LEFT JOIN member_name subscriber_member_name on subscriber_member_name.member_id = subscriber_member.member_id AND subscriber_member_name.is_primary = 1
LEFT JOIN member_address subscriber_member_address on subscriber_member_address.member_id = subscriber_member.member_id
AND subscriber_member_address.is_primary = 1
LEFT JOIN locale subscriber_locale on subscriber_locale.locale_id = subscriber_member_address.locale_id
LEFT JOIN state subscriber_state on subscriber_state.state_id = subscriber_locale.state_id
LEFT JOIN family_eligibility_member subscriber_family_eligibility_member on subscriber_family_eligibility_member.family_eligibility_member_id = subscriber.family_eligibility_member_id
LEFT JOIN family_eligibility subscriber_family_eligibility on subscriber_family_eligibility.family_eligibility_id = subscriber_family_eligibility_member.family_eligibility_id
LEFT JOIN benefit_contract subscriber_benefit_contract on subscriber_benefit_contract.benefit_contract_id = subscriber_family_eligibility.benefit_contract_id
LEFT JOIN client_group subscriber_client_group on subscriber_client_group.client_group_id = subscriber_benefit_contract.client_group_id
LEFT JOIN client_group_name subscriber_client_group_name on subscriber_client_group_name.client_group_id = subscriber_client_group.client_group_id
AND subscriber_client_group_name.primary_name = 1
LEFT JOIN currency on currency.currency_id = benefit_contract.base_currency_id

WHERE family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @member_eligibility_id
END
GO
