USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_correspondence_document_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cfacey / mabdul
DATE: 07/26/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/17/2011	ggutshall		1.1		Added returnset limitations
--
DESCRIPTION:
This stored procedure is used in the Find Correspondence Document form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_correspondence_document_load]
(
@get_column_headers						BIT = 0
,@correspondence_document_ud			nvarchar(50) = NULL
,@report_setup_nm							nvarchar(255) = NULL
,@report_name_id							int = NULL
,@correspondence_entity_id				int = NULL
,@report_category_id						INT = NULL
,@show_exact_matches 					bit = 0
) AS
--
DECLARE
@SP_SUCCESS 									INT
,@SP_EXCEPTION 								INT
,@SqlQuery 										NVARCHAR(4000)
,@SqlCondition									NVARCHAR(4000)
,@Prefix											NVARCHAR(10)
,@Suffix											NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix =  ' LIKE N'''
SET @Suffix = '%'''
END

IF @report_category_id > 0
SET @SqlCondition = @SqlCondition + ' AND ( rc.report_category_id = ' + CONVERT(VARCHAR(10), @report_category_id) + ' )'

IF @correspondence_document_ud IS NOT NULL AND @correspondence_document_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rs.report_setup_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@correspondence_document_ud, @show_exact_matches) + @Suffix

IF @report_setup_nm IS NOT NULL AND @report_setup_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rs.report_setup_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@report_setup_nm, @show_exact_matches) + @Suffix

IF ISNULL(@report_name_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND r.report_id = ' + CONVERT(NVARCHAR, @report_name_id)

IF ISNULL(@correspondence_entity_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND ce.correspondence_entity_id = ' + CONVERT(NVARCHAR, @correspondence_entity_id)

--
SET @SqlQuery = '  SELECT  TOP (dbo.fn_results_limit()) ' +
' rs.report_setup_id, ' +
' rs.report_setup_ud, ' +
' rs.report_setup_nm, ' +
' ce.correspondence_entity_ud, ' +
' r.report_ud ' +
' FROM report_setup rs ' +
' LEFT JOIN report r ON r.report_id = rs.report_id ' +
' LEFT JOIN correspondence_entity ce ON ce.correspondence_entity_id = r.correspondence_entity_id ' +
' LEFT OUTER JOIN report_category rc ON r.report_category_id = rc.report_category_id'


EXEC(@SqlQuery + @SqlCondition)
--
RETURN @SP_SUCCESS
--
GO
