USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_get_claim_id_by_adjudication_run_and_sequence]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_get_claim_id_by_adjudication_run_and_sequence] (
@adjudication_run_id int,
@sequence int
) As

BEGIN

DECLARE @SP_SUCCESS int, @SP_EXCEPTION int
SELECT 	@SP_SUCCESS = 0, @SP_EXCEPTION = -1


SELECT
arsc.claim_id
FROM adjudication_run_sequence_claim arsc
INNER JOIN adjudication_run_sequence ars ON ars.adjudication_run_sequence_id = arsc.adjudication_run_sequence_id
WHERE ars.sequence=@sequence AND ars.adjudication_run_id=@adjudication_run_id
ORDER BY (SELECT MIN(service_from_date) FROM
claim_procedure WHERE claim_procedure.claim_id = arsc.claim_id)


IF @@Error > 0
RETURN @SP_EXCEPTION


RETURN @SP_SUCCESS

END
GO
