USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 10/22/2008
--
REVISION_HISTORY:
--
Date  Modified By  Version  Description
--------------------------------------------------------------------------------
02/20/2009 Jeremy Hein     Modified for Credits.
01/18/2012 Jeremy Hein     Added 1099 tax items and Treat As source for manually created transactions
08/30/2012 Ravi				SP 3616 Added cash account for distributions.
2014-08-19	eponomareff		RT:6046 Tombstone modifications
02/08/2024 cknobloch		RT:23783 - Added Hold Functionality. Deleted commented out code and formatted.

CURRENT_VERSION:
--
DESCRIPTION:
Used to save a accounting transaction.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_save] (
@accounting_transaction_id INT = NULL OUTPUT,
@accounting_transaction_ud NVARCHAR(100) = NULL,
@accounting_transaction_type_id INT = NULL,
@transaction_date DATETIME = NULL,
@transaction_amount NUMERIC(20, 10) = NULL,
@accounting_transaction_status_id INT = NULL,
@accounting_source_id INT = NULL,
@accounting_source_record_id INT = NULL,
@treat_as_accounting_source_id INT = NULL,
@is_vendor_redistribution BIT = NULL,
@tax_1099_misc_box_id INT = NULL,
@tax_1099_exempt BIT = NULL,
@customer_id INT = NULL,
@vendor_id INT = NULL,
@accounting_company_id INT = NULL,
@accounting_company_account_id INT = NULL,
@is_incomplete BIT = NULL,
@active BIT = 1
)
AS
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

DECLARE @TYPE VARCHAR(50)
DECLARE @SOURCE_CLAIMS VARCHAR(50)
DECLARE @TRANSACTION_STATUS_AVALIABLE VARCHAR(50)
DECLARE @TRANSACTION_STATUS_HOLD VARCHAR(50)

SELECT @TYPE = golden_key
FROM accounting_transaction_ap_type
WHERE accounting_transaction_ap_type_id = @accounting_transaction_type_id

SELECT @SOURCE_CLAIMS = accounting_source_id
FROM accounting_source
WHERE golden_key = 'Claims'

SELECT @TRANSACTION_STATUS_AVALIABLE = accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'AVAILABLE'

SELECT @TRANSACTION_STATUS_HOLD = accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'HOLD'

IF ISNULL(@accounting_transaction_id, 0) = 0
BEGIN
--insert new
INSERT INTO accounting_transaction_ap (
accounting_transaction_ap_ud,
accounting_transaction_ap_type_id,
transaction_date,
transaction_amount,
accounting_transaction_status_id,
accounting_source_id,
accounting_source_record_id,
treat_as_accounting_source_id,
is_vendor_redistribution,
tax_1099_misc_box_id,
tax_1099_exempt,
vendor_id,
accounting_company_id,
is_incomplete,
active
)
VALUES (
@accounting_transaction_ud,
@accounting_transaction_type_id,
@transaction_date,
ABS(@transaction_amount),
@accounting_transaction_status_id,
@accounting_source_id,
@accounting_source_record_id,
@treat_as_accounting_source_id,
@is_vendor_redistribution,
@tax_1099_misc_box_id,
@tax_1099_exempt,
@vendor_id,
@accounting_company_id,
@is_incomplete,
@active
)

SET @accounting_transaction_id = @@IDENTITY

INSERT INTO accounting_transaction_ap_distribution (
accounting_transaction_ap_id,
accounting_company_account_id,
is_debit,
amount,
active
)
VALUES (
@accounting_transaction_id,
@accounting_company_account_id,
(
CASE @TYPE
WHEN 'BILL'
THEN 0
WHEN 'CREDIT'
THEN 1
END
),
ABS(@transaction_amount),
@active
)
END
ELSE
BEGIN
UPDATE accounting_transaction_ap
SET accounting_transaction_ap_ud = @accounting_transaction_ud,
accounting_transaction_ap_type_id = @accounting_transaction_type_id,
transaction_date = @transaction_date,
transaction_amount = @transaction_amount,
accounting_transaction_status_id = @accounting_transaction_status_id,
accounting_source_id = @accounting_source_id,
accounting_source_record_id = @accounting_source_record_id,
treat_as_accounting_source_id = @treat_as_accounting_source_id,
is_vendor_redistribution = @is_vendor_redistribution,
tax_1099_misc_box_id = @tax_1099_misc_box_id,
tax_1099_exempt = @tax_1099_exempt,
vendor_id = @vendor_id,
accounting_company_id = @accounting_company_id,
is_incomplete = @is_incomplete,
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_id

--Flip is_debit bit for Credit, was coded to 0 for Bills only
DECLARE @isDebit INT

SELECT @isDebit = CASE @TYPE
WHEN 'BILL'
THEN 0
WHEN 'CREDIT'
THEN 1
END

UPDATE atd
SET accounting_company_account_id = @accounting_company_account_id,
amount = ABS(@transaction_amount),
active = @active,
is_debit = @isDebit,
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()
FROM accounting_transaction_ap_distribution atd
INNER JOIN accounting_company_account AS aca
ON atd.accounting_company_account_id = aca.accounting_company_account_id
INNER JOIN account_category AS ac
ON aca.account_category_id = ac.account_category_id
WHERE atd.accounting_transaction_ap_id = @accounting_transaction_id
AND ac.golden_key NOT IN (
'EXPENSE',
'CASH'
)

IF @accounting_source_id = @SOURCE_CLAIMS
AND (
@accounting_transaction_status_id = @TRANSACTION_STATUS_AVALIABLE
OR @accounting_transaction_status_id = @TRANSACTION_STATUS_HOLD
)
BEGIN
DECLARE @CLAIM_PROCEDURE_ID INT

SELECT @CLAIM_PROCEDURE_ID = atacd.claim_procedure_id
FROM accounting_transaction_ap ata
LEFT JOIN accounting_transaction_ap_claim_detail atacd
ON atacd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
WHERE ata.accounting_transaction_ap_id = @accounting_transaction_id

UPDATE claim_procedure
SET hold = CASE @accounting_transaction_status_id
WHEN @TRANSACTION_STATUS_AVALIABLE
THEN 0
WHEN @TRANSACTION_STATUS_HOLD
THEN 1
END
WHERE claim_procedure_id = @CLAIM_PROCEDURE_ID
END

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
END

RETURN @SP_SUCCESS
GO
