USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_list_load]
(
@family_eligibility_id int = 0,
@benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT
fel.family_eligibility_loan_id,
fel.family_eligibility_id,
fel.benefit_plan_id,
fel.loan_number,
fel.loan_amount,
fel.interest_rate,
fel.duration,
fel.unit_month_year_id,
u.unit_month_year_ud,
u.golden_key as unit_month_year_gk,
fel.maturity_date,
fel.loan_applicant_type_id,
t.loan_applicant_type_ud,
t.golden_key as loan_applicant_type_gk,
fel.zero_balance_date,
is_additional_premium = ISNULL(fel.is_additional_premium, 0),
fel.override_factor_value,
fel.effective_from,
fel.effective_thru
FROM dbo.family_eligibility_loan fel
JOIN dbo.unit_month_year u ON u.unit_month_year_id = fel.unit_month_year_id
JOIN dbo.loan_applicant_type t ON t.loan_applicant_type_id = fel.loan_applicant_type_id
WHERE
fel.family_eligibility_id = @family_eligibility_id
AND
fel.benefit_plan_id = @benefit_plan_id

RETURN 0
GO
