USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_object_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/22/2010				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'paramter ' in grids (drop down)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_correspondence_object_load]
(
@correspondence_rule_type_id			int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int
SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1

SELECT
co.correspondence_object_id
,co.correspondence_object_ud
FROM correspondence_object co, correspondence_rule_type_correspondence_object crtco
WHERE co.correspondence_object_id = crtco.correspondence_object_id
AND crtco.correspondence_rule_type_id = @correspondence_rule_type_id
ORDER BY correspondence_object_ud


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
