USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_network_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTnguyen
Date: 03/09/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/09/2006      HungTNguyen      1.1 changed from provider_network_ranking to network_level

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data in grid "Network Assignments"
in Family Eligibility form and Advanced Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_network_load]

(
@family_eligibility_member_benefit_plan_id Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT     family_eligibility_member_benefit_plan_network.family_eligibility_member_benefit_plan_network_id,
family_eligibility_member_benefit_plan_network.family_eligibility_member_benefit_plan_id,
family_eligibility_member_benefit_plan_network.provider_network_level_id,
family_eligibility_member_benefit_plan_network.provider_network_id,
network_level.ranking AS provider_network_level_ud,
provider_network.provider_network_ud, provider_network.provider_network_nm,
family_eligibility_member_benefit_plan_network.not_available,
family_eligibility_member_benefit_plan_network.use_subscriber_network,
family_eligibility_member_benefit_plan_network.no_fee,
family_eligibility_member_benefit_plan_network.effective_from,
family_eligibility_member_benefit_plan_network.effective_thru,
--                    family_eligibility_member_benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
'null' as benefit_contract_period_benefit_plan_id,
family_eligibility_member_benefit_plan_network.modified_date

FROM         family_eligibility_member_benefit_plan_network LEFT JOIN
family_eligibility_member_benefit_plan ON
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan_network.family_eligibility_member_benefit_plan_id
LEFT JOIN
network_level ON
network_level.network_level_id = family_eligibility_member_benefit_plan_network.provider_network_level_id LEFT JOIN
provider_network ON
provider_network.provider_network_id = family_eligibility_member_benefit_plan_network.provider_network_id
WHERE     family_eligibility_member_benefit_plan_network.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY
CASE WHEN family_eligibility_member_benefit_plan_network.effective_from IS NULL THEN 0 ELSE 1 END , family_eligibility_member_benefit_plan_network.effective_from DESC
,CASE WHEN family_eligibility_member_benefit_plan_network.effective_thru IS NULL THEN 0 ELSE 1 END , family_eligibility_member_benefit_plan_network.effective_thru DESC

RETURN @SP_SUCCESS
--
GO
