USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_dental_restorative_bundling_set_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/25/2010
--
REVISION_HISTORY:
--
Date          Modified By    Version		Description
--------------------------------------------------------------------------------
10/25/2010    eponomareff    1.0            Created

DESCRIPTION:

For Alternate Course of Treatment - Dental Restorative Bundling Rule
System Table data - Suggested (silver) data

HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_dental_restorative_bundling_set_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
dental_restorative_bundling_set_id
,dental_restorative_bundling_set_ud
FROM
dental_restorative_bundling_set
ORDER BY
dental_restorative_bundling_set_ud
--
RETURN @SP_SUCCESS
--
GO
