USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_correspondence_generated_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/19/2006	Hiep Nguyen	1.0		Created
07/22/2011	Vjella		2.0		Removed correspondence_print_queue_id part of cleanup
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Correspondence Generated" in Carrier form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_carrier_correspondence_generated_list_load]

(
@carrier_id	INT = NULL
)
AS
--

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
carrier_correspondence.carrier_correspondence_id
-- Correspondence ID
, null as correspondence_id
-- Correspondence Document Type Id
,null as correspondence_document_type_id
-- Document ID
, null as correspondence_document_name
-- Generated By
, null as generated_by
-- Date Generated
, null as generated_date
-- Immediate Correspondence
, null as immediate_correspondence_ud
-- Source Correspondence
, null as source_correspondence_ud
-- Document Saved Location
, null as save_document_path
-- Cycle #
, null as cycle_number
-- Response Received
, 0 AS is_response_received
-- Stop Correspondence
, 0 AS stop_correspondence
-- User
, null as updated_by_user_name
-- Date/Time
, null as updated_date

FROM carrier_correspondence
WHERE
carrier_correspondence.carrier_id = @carrier_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
