USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete Eligibility Restriction.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_waiting_period_delete]
(
@benefit_waiting_period_id                int = NULL   OUTPUT

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM  benefit_waiting_period  WHERE benefit_waiting_period_id = @benefit_waiting_period_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_waiting_period_relationship_to_subscriber_waiting_period
WHERE benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_id
IN
(
SELECT benefit_waiting_period_relationship_to_subscriber_id FROM benefit_waiting_period_relationship_to_subscriber
WHERE benefit_waiting_period_relationship_to_subscriber.benefit_waiting_period_id = @benefit_waiting_period_id
)

DELETE FROM benefit_waiting_period_relationship_to_subscriber
WHERE benefit_waiting_period_relationship_to_subscriber.benefit_waiting_period_id = @benefit_waiting_period_id

DELETE FROM  benefit_waiting_period
WHERE benefit_waiting_period_id = @benefit_waiting_period_id
END
--
RETURN @SP_SUCCESS
--
GO
