USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_source_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
DATE: 04/28/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/28/2006 	Anh Ta		1.0		Created and Using for 10511 Accouting Transaction
05/18/2006 	Nguyen, Nghi	1.0		Added golden key column
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accounting_source (Source)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_accounting_source_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_source.accounting_source_id
,accounting_source.accounting_source_ud
,accounting_source.golden_key
FROM accounting_source
ORDER BY accounting_source_ud
--
RETURN @SP_SUCCESS
GO
