USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_result_code_action_modification_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
-------------------------------------------------------------------------------
08/26/2009	ioveracker		1.0			Created.
07/20/2011	dcannon			1.1			modified to apply to result_code_action_modification
11/16/2011	ggutshall		1.2		Added returnset limitations
--
DESCRIPTION:
Populates the Result Code Action Modification find form.
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_result_code_action_modification_load]
(
@get_column_headers			BIT = 0
,@result_code_action_modification_ud	NVARCHAR(50) = NULL
,@description					NVARCHAR(255) = NULL
,@show_exact_matches			BIT = NULL
) AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1

DECLARE @sql_query NVARCHAR(4000)
DECLARE @where_clause NVARCHAR(4000)

IF RTRIM(@result_code_action_modification_ud) = ''
SET @result_code_action_modification_ud = NULL
IF RTRIM(@description) = ''
SET @description = NULL

SET @sql_query =
'  SELECT DISTINCT TOP (dbo.fn_results_limit())
rco.result_code_action_modification_id
,rco.result_code_action_modification_ud
,rco.description
FROM result_code_action_modification rco
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0'

IF (NOT @show_exact_matches IS NULL) AND (@show_exact_matches = 1)
BEGIN
IF NOT @result_code_action_modification_ud IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(rco.result_code_action_modification_ud, '''') = N''' + dbo.plx_EncodeStringWildCard(@result_code_action_modification_ud, @show_exact_matches) + ''')'
IF NOT @description IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(rco.description, '''') = N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + ''')'
END
ELSE
BEGIN
IF NOT @result_code_action_modification_ud IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(rco.result_code_action_modification_ud, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@result_code_action_modification_ud, @show_exact_matches) + '%'')'
IF NOT @description IS NULL
SET @sql_query = @sql_query + ' AND (ISNULL(rco.description, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + '%'')'
END

EXEC(@sql_query)

IF @@ROWCOUNT >= 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
