USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ap_ach_file_format_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for the ACH file format drop down
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_ap_ach_file_format_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
export_file_format_id
,export_file_format_ud
,description
,golden_key
FROM export_file_format
WHERE golden_key = 'REPUBLIC_BANK' OR golden_key = 'NACHA' OR golden_key = 'FIRST_CARIBBEAN_BANK'
ORDER BY export_file_format_ud

RETURN @SP_SUCCESS
END
GO
