USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_no_two_rider_plans_have_same_sub_category]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  13 2005  7:17PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/13/2005	Thuy Nguyen		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify no two rider plans have same subcategory for Plan Controller
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_contract_period_verify_no_two_rider_plans_have_same_sub_category]
(
@benefit_contract_period_benefit_plan_id	Int
,@benefit_category_id	Int
,@benefit_sub_category_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT bcpbp.benefit_plan_id,bcpbp.benefit_contract_period_benefit_plan_id
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan_type bpt
ON bpt.benefit_plan_type_id=bcpbp.benefit_plan_type_id
INNER JOIN  benefit_plan bp
ON bcpbp.benefit_plan_id = bp.benefit_plan_id
INNER JOIN  benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
INNER JOIN  benefit_sub_category bsc
ON bf.benefit_sub_category_id = bsc.benefit_sub_category_id
INNER JOIN  benefit_category bc
ON bf.benefit_category_id = bc.benefit_category_id
WHERE bcpbp.parent_benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
and bpt.golden_key='Rider Plan'
and bc.benefit_category_id=@benefit_category_id
and bsc.benefit_sub_category_id=@benefit_sub_category_id



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
