USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_marital_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 26 2005 10:37AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down marital_status (Marital Status)
--
REQUIREMENTS:
--
INPUTS:
benefit_sub_category_id - Key to benefit_sub_category table, identifies a single stored dd_benefit_sub_category.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_marital_status_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
marital_status.marital_status_id
--       ,marital_status.marital_status_id as pat_marital_status_id
--,marital_status.marital_status_id as sub_marital_status_id
,marital_status.marital_status_ud
--      ,maritial_status.maritial_status_nm
--      ,maritial_status.description
FROM marital_status
ORDER BY marital_status_ud

--WHERE maritial_status.maritial_status_id = @maritial_status_id
--


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
