USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_customer_payment_id_rule_for_named_query]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[plx_auto_create_accounting_customer_payment_id_rule_for_named_query]
(
@customer_id INT
)
AS
BEGIN
/*
Author - Jeremy Hein - 05/16/2012
-Used to create the Customer Payment ID (accounting_transaction_ar_ud)
-Code ninja'ed from plx_auto_create_accounting_customer_payment_id_rule
-Specifically for use with NHibernate GetNamedQuery for the Accounting Services
*/

SET NOCOUNT ON

DECLARE @prefix				NVARCHAR(100),
@customer_payment_ud nvarchar(100)

-- The only case that currently exists is the else case; always use the
-- standard rule for now.
SELECT @prefix = customer_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)
FROM customer
WHERE customer_id = @customer_id

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@accounting_transaction_ar_type_id_customer_payment INT

SET @counter_pad_length = 5
SET @auto_create_counter_type_ud = 'Customer Payment ' + @prefix

SELECT @accounting_transaction_ar_type_id_customer_payment = accounting_transaction_ar_type_id
FROM accounting_transaction_ar_type
WHERE golden_key = 'PAYMENT'

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @customer_payment_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM accounting_transaction_ar
WHERE accounting_transaction_ar_ud = @customer_payment_ud
AND accounting_transaction_ar_type_id = @accounting_transaction_ar_type_id_customer_payment)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @customer_payment_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @customer_payment_ud as customer_payment_ud

END
GO
