USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_transaction_vendor_refund_list_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Loads Vendor Refund grid on Claim Accounting Information form
related to the input cliam line (internal claim_procedure_id)
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_information_transaction_vendor_refund_list_load]
(
@claim_procedure_id  INT = NULL -- the claim line
)
AS
--
SELECT
-- vendor refund request info
apRefundRequest.accounting_transaction_ap_id as accounting_transaction_ap_id -- vendor refund request id
,apRefundRequest.accounting_transaction_ap_ud as vendor_refund_request_ud --accounting_transaction_ap_ud -- vendor refund request ud
-- vendor info
,apRefundRequest.vendor_id
,v.vendor_ud
,v.vendor_nm
-- vendor refund request detail
,CASE
-- for refunds, Credits have a positive value and Bills have a negative value
WHEN ApTxType.golden_key = 'BILL' THEN ABS(appliedRequestApplyTo.amount) * -1
ELSE ABS(appliedRequestApplyTo.amount)
END AS applied_amount
,apRefundRequest.transaction_amount as vendor_refund_request_total_amount
,refundRequestStatus.accounting_payment_status_ud
,refundRequestStatus.golden_key
,requestDetail.due_date
,apRefundRequest.void_date
-- vendor refund payment info
,apRefundPayment.accounting_transaction_ap_id as vendor_refund_payment_id
,apRefundPayment.accounting_transaction_ap_ud as vendor_refund_payment_ud
,refundPmtMethod.payment_method_payment_ud
,paymentDetail.check_ach_reference
,apRefundPayment.transaction_date as payment_date
FROM accounting_transaction_ap_claim_detail apClaimDetail
JOIN accounting_transaction_ap_apply_to appliedRequestApplyTo
ON appliedRequestApplyTo.to_accounting_transaction_ap_id = apClaimDetail.accounting_transaction_ap_id
-- vendor refund request info
JOIN accounting_transaction_ap apRefundRequest
ON apRefundRequest.accounting_transaction_ap_id = appliedRequestApplyTo.from_accounting_transaction_ap_id
JOIN accounting_transaction_ap_refund_request_detail requestDetail
ON requestDetail.accounting_transaction_ap_id = apRefundRequest.accounting_transaction_ap_id
JOIN accounting_payment_status refundRequestStatus
ON refundRequestStatus.accounting_payment_status_id = requestDetail.accounting_payment_status_id
-- vendor refund payment info (if any)
LEFT JOIN accounting_transaction_ap_apply_to as appliedPaymentApplyTo
ON appliedPaymentApplyTo.to_accounting_transaction_ap_id = apRefundRequest.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap apRefundPayment
ON appliedPaymentApplyTo.from_accounting_transaction_ap_id = apRefundPayment.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_refund_payment_detail paymentDetail
ON paymentDetail.accounting_transaction_ap_id = apRefundPayment.accounting_transaction_ap_id
LEFT JOIN payment_method_payment refundPmtMethod
ON refundPmtMethod.payment_method_payment_id = paymentDetail.payment_method_payment_id
-- apTransactionType
JOIN accounting_transaction_ap apTx
ON apTx.accounting_transaction_ap_id = apClaimDetail.accounting_transaction_ap_id
JOIN accounting_transaction_ap_type ApTxType
ON ApTxType.accounting_transaction_ap_type_id = apTx.accounting_transaction_ap_type_id
JOIN vendor v
ON apRefundRequest.vendor_id = v.vendor_id
WHERE apClaimDetail.claim_procedure_id = @claim_procedure_id
ORDER BY apRefundRequest.transaction_date desc;

--
RETURN 0;
GO
