USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_interest_rate_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:45PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_advance_interest_rate table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_advance_interest_rate_save]
(
@commission_advance_interest_rate_id        int = NULL   OUTPUT
,@commission_advance_setup_id                int = NULL
,@balance_as_of_id                           int = NULL
,@include_chargeback                         bit = NULL
,@include_interest_charged                   bit = NULL
,@include_interest_paid                      bit = NULL
,@interest_rate_percent                      numeric(20,10) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @commission_advance_interest_rate_id is Null
BEGIN

--- Create a new commission_advance_interest_rate record
INSERT INTO commission_advance_interest_rate(
commission_advance_setup_id
,balance_as_of_id
,include_chargeback
,include_interest_charged
,include_interest_paid
,interest_rate_percent
,effective_from
,effective_thru
,active
)
VALUES
(@commission_advance_setup_id
,@balance_as_of_id
,@include_chargeback
,@include_interest_charged
,@include_interest_paid
,@interest_rate_percent
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_advance_interest_rate_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_advance_interest_rate WHERE commission_advance_interest_rate_id = @commission_advance_interest_rate_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_advance_interest_rate record
UPDATE commission_advance_interest_rate
SET
commission_advance_setup_id              = @commission_advance_setup_id
,balance_as_of_id                         = @balance_as_of_id
,include_chargeback                       = @include_chargeback
,include_interest_charged                 = @include_interest_charged
,include_interest_paid                    = @include_interest_paid
,interest_rate_percent                    = @interest_rate_percent
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_advance_interest_rate_id = @commission_advance_interest_rate_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
