USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_referring_provider_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan			1.0		Created
10/06/2008	eponomareff		1.1		Changed to get single row with npi, removed networks
This sp should return only bindable columns
Because networks don't have primary, you may get multiple rows
back, which causes an infinite loop invoking the find
For addresses, implemented a derived table in the join
to get correct (primary/default) address from practice
office contact.
Changed from ALTER to CREATE
03/25/2009	David Slayton	1.2		Added ability to load based on last name and id.
06/07/2010 Aaron O'Neil     1.3     There is a set of these info look up procecures -- moved common default
address code to a view shared between them all.
Created an early exit when no parameters are given.
09/03/2014	dcannon		1.4		added delivery_route to function

--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.4
;
DESCRIPTION	:
This procedure is used to load referring provider data for Professional claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE  	PROCEDURE [dbo].[plx_claim_referring_provider_info_load]
(
@referring_provider_id				INT = NULL,
@referring_provider_identifier_id	INT = NULL,
@referring_provider_ud				NVARCHAR(50) = NULL,
@referring_provider_name_last		NVARCHAR(100) = NULL
)
AS
BEGIN
set transaction isolation level read uncommitted;
-- Early exit if no data is given.  With all of the optional NULL parameters (ORs) in the queries below
-- this ends up returning every provider without an early exit.
If (@referring_provider_id Is Null And @referring_provider_identifier_id Is Null And
@referring_provider_ud Is Null And @referring_provider_name_last Is Null)
Begin
Select
null as 'referring_provider_id',
null as 'referring_provider_identifier_id',
null as 'referring_provider_ud',
null as 'referring_provider_name_last',
null as 'referring_provider_name',
null as 'referring_provider_first_middle_name',
null as 'referring_provider_address',
null as 'referring_provider_npi'

Return
End

--Get provider_identifier_type_id for NPI
DECLARE	@npi_provider_identifier_type_id int
SELECT @npi_provider_identifier_type_id = pit.provider_identifier_type_id
FROM provider_identifier_type pit
WHERE  pit.golden_key = 'NPI'

IF ((ISNULL(@referring_provider_identifier_id, 0) = 0) AND @referring_provider_ud IS NULL)
BEGIN
SELECT
p.provider_id as referring_provider_id
, NULL as referring_provider_identifier_id
, NULL as referring_provider_ud
, pn.name_last as referring_provider_name_last
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS referring_provider_name
, isnull(pn.name_first, '') + ' ' + isnull(pn.name_middle, '') AS referring_provider_first_middle_name
,dbo.plx_ConcatenateAddress(popa.address_1, popa.address_2, popa.delivery_route, popa.locale_id) as referring_provider_address
, '' as referring_provider_npi
FROM dbo.Provider p
LEFT JOIN dbo.provider_name pn
ON pn.provider_id = p.provider_id AND pn.is_primary = 1
LEFT JOIN vw_provider_practice_office_contact_address_default popa
ON popa.provider_id = p.provider_id
WHERE
((p.provider_id = @referring_provider_id) OR (ISNULL(@referring_provider_id, 0) = 0))
AND ((pn.name_last = @referring_provider_name_last) OR (@referring_provider_name_last IS NULL))
END
ELSE
BEGIN
SELECT
pi.provider_id as referring_provider_id
, pi.provider_identifier_id as referring_provider_identifier_id
, pi.provider_ud as referring_provider_ud
, pn.name_last as referring_provider_name_last
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS referring_provider_name
, isnull(pn.name_first, '') + ' ' + isnull(pn.name_middle, '') AS referring_provider_first_middle_name
,dbo.plx_ConcatenateAddress(popa.address_1, popa.address_2, popa.delivery_route, popa.locale_id) as referring_provider_address
, pi_npi.provider_ud as referring_provider_npi
FROM dbo.Provider p
LEFT JOIN dbo.provider_identifier pi
ON p.provider_id = pi.provider_id
LEFT JOIN dbo.provider_name pn
ON pn.provider_id = p.provider_id AND pn.is_primary = 1
LEFT JOIN vw_provider_practice_office_contact_address_default popa
ON popa.provider_id = p.provider_id
LEFT JOIN dbo.provider_identifier pi_npi
on pi_npi.provider_id = p.provider_id
AND pi_npi.provider_identifier_type_id = @npi_provider_identifier_type_id
WHERE ((p.provider_id = @referring_provider_id) OR (ISNULL(@referring_provider_id, 0) = 0))
AND ((pi.provider_identifier_id = @referring_provider_identifier_id) OR (ISNULL(@referring_provider_identifier_id, 0) = 0))
AND ((pi.provider_ud = @referring_provider_ud) OR (@referring_provider_ud IS NULL))
AND ((pn.name_last = @referring_provider_name_last) OR (@referring_provider_name_last IS NULL))
END
END
GO
