USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_export_file_run_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to update data for the file export forms

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_export_file_run_save]
(
@export_file_run_id INT = NULL OUTPUT,
@export_file_type_id INT,
@export_file_format_id INT = NULL,
@export_file_values TEXT = NULL,
@integration_file_status_id INT = NULL,
@active bit = 1

) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''



IF @integration_file_status_id IS NULL
SET @integration_file_status_id =
(
SELECT integration_file_status_id
FROM integration_file_status
WHERE golden_key = 'File Processing'
)


--
IF @export_file_run_id IS NULL
BEGIN

--- Create a new record
INSERT INTO export_file_run(
export_file_type_id,
export_file_format_id,
export_file_values,
integration_file_status_id,
active
)
VALUES
(
@export_file_type_id,
@export_file_format_id,
@export_file_values,
@integration_file_status_id,
@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @export_file_run_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM export_file_run WHERE export_file_run_id = @export_file_run_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing record
UPDATE export_file_run
SET
export_file_type_id		= @export_file_type_id,
export_file_format_id   = @export_file_format_id,
export_file_values      = @export_file_values,
integration_file_status_id = @integration_file_status_id,
active					= @active,
modified_user_name      = ORIGINAL_LOGIN(),
modified_date           = GETDATE()
WHERE export_file_run_id = @export_file_run_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
