USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_adjudication_details_override_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/09/2009
--
DESCRIPTION:
This procedure loads the data from the adjudication_details_override_reason table for use in populating a combo box.
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_adjudication_details_override_reason_load] AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
adjudication_details_override_reason.adjudication_details_override_reason_id
,adjudication_details_override_reason.adjudication_details_override_reason_ud
FROM adjudication_details_override_reason

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
