USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************

AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
--------------------------------------------------------------------------------
DESCRIPTION:
This procedure is used to load data for grid "Coverage Incentive Qualified Procedure List"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_list_load]

(
@family_eligibility_member_benefit_plan_id	Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ciqp.family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id
,ciqp.procedure_code_id
,pc.procedure_code_ud
,ciqp.units
,ciqp.date_of_service
,ciqp.created_user_name as created_user_name
,ciqp.modified_date

FROM family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure ciqp
LEFT JOIN procedure_code pc ON pc.procedure_code_id = ciqp.procedure_code_id
WHERE 	ciqp.family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id
ORDER BY date_of_service
--
RETURN @SP_SUCCESS
GO
