USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a auto termination queue before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the auto termination queue to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_queue_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the auto termination queue exists
IF NOT EXISTS (SELECT auto_termination_queue_id FROM auto_termination_queue WHERE auto_termination_queue_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM auto_termination_run WHERE auto_termination_queue_id = @id)
BEGIN
--check auto termination runs
SELECT 'Auto Termination Run' AS object_golden_key, auto_termination_run_ud AS object_ud
FROM auto_termination_run
WHERE auto_termination_queue_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
