USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_policy_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 05/11/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/11/2016	eponomareff		1.0			RT:10282 Individual policy administration is introduced in QC 2016.3.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data for drop down premium_policy_type (Premium Policy Type).

Used in Premium Billing functionality, Policy Type is set on the Benefit Contract
and differentiates Individual and Group policy administration (billing) functionality.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_policy_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ppt.premium_policy_type_id
,ppt.premium_policy_type_ud
,ppt.golden_key

FROM premium_policy_type ppt
ORDER BY  premium_policy_type_ud

RETURN @SP_SUCCESS
GO
