USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_vendor_refund_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Auto-generate a unique vendor refund id
Used by two forms: Vendor Refund Request form and Vendor Refund Payment form.
******************************/
CREATE PROCEDURE [dbo].[plx_auto_create_accounting_vendor_refund_id_rule]
(
@vendor_id INT,
@vendor_refund_ud NVARCHAR(100) OUTPUT
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

-- Use the following in the future if more rules are added; right now there is only one rule.
--	DECLARE
--		 @id_rule_golden_key			NVARCHAR(50)
--
--	SELECT TOP 1 @id_rule_golden_key = ISNULL(golden_key, 'STANDARD')
--	FROM global_rule
--		LEFT JOIN auto_create_accounting_vendor_payment_id_rule
--			ON global_rule.auto_create_accounting_vendor_payment_id_rule_id = auto_create_accounting_vendor_payment_id_rule.auto_create_accounting_vendor_payment_id_rule_id

-- Set the prefix for the auto generated id.
DECLARE @prefix     NVARCHAR(100);
SET @vendor_refund_ud = '';

-- The only case that currently exists is the else case; always use the
-- standard rule for now.
SELECT @prefix = vendor_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)
FROM vendor
WHERE vendor_id = @vendor_id;

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50);

SET @counter_pad_length = 5;
SET @auto_create_counter_type_ud = 'vendor Payment ' + @prefix;

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @vendor_refund_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (SELECT * FROM accounting_transaction_ap
WHERE accounting_transaction_ap_ud = @vendor_refund_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @vendor_refund_ud = ISNULL(@prefix, '') + @counter_text
END

RETURN @SP_SUCCESS

END
GO
