USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ucr_percentile_format_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[plx_dd_ucr_percentile_format_load]
(
@code_import_data_source_id INT = NULL
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
code_import_data_source_id
,ucr_percentile_format_id
,ucr_percentile_format_ud
,golden_key
FROM ucr_percentile_format
WHERE @code_import_data_source_id IS NULL OR code_import_data_source_id = @code_import_data_source_id
ORDER BY ucr_percentile_format_ud ASC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
