USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_cancel]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 08/12/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to cancel a capitation run.
Deletes capitations and capitation periods associated with a capitation run.
Sets the capitation run status = Cancelled.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_run_cancel]
(
@capitation_run_id                      int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM capitation_run WHERE capitation_run_id = @capitation_run_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- Capitation Summary Capitation Calculation Link
DELETE FROM capitation_summary_capitation_calculation
WHERE capitation_summary_id IN (
SELECT cs.capitation_summary_id
FROM capitation_summary cs
WHERE cs.capitation_run_id = @capitation_run_id)

-- Capitation Calculation
DELETE FROM capitation_calculation
WHERE capitation_run_id = @capitation_run_id

-- capitation summary
DELETE FROM capitation_summary
WHERE capitation_run_id = @capitation_run_id

-- capitation Period
DELETE FROM capitation_period
WHERE created_by_capitation_run_id = @capitation_run_id


-- Result code details
DELETE FROM processing_result_code_detail
WHERE processing_result_code_id IN
(
SELECT processing_result_code_id
FROM dbo.capitation_run pr
JOIN dbo.processing_event pe
ON pr.processing_event_id = pe.processing_event_id
JOIN dbo.processing_result_code prc
ON	pe.processing_event_id = prc.processing_event_id
WHERE pr.capitation_run_id = @capitation_run_id
)
-- Result codes
DELETE FROM processing_result_code
WHERE processing_result_code_id IN
(
SELECT processing_result_code_id
FROM dbo.capitation_run pr
JOIN dbo.processing_event pe
ON pr.processing_event_id = pe.processing_event_id
JOIN dbo.processing_result_code prc
ON	pe.processing_event_id = prc.processing_event_id
WHERE pr.capitation_run_id = @capitation_run_id
)

--	Set capitation Run Status = Cancelled
UPDATE capitation_run
SET capitation_run_status_id =
(SELECT capitation_run_status_id FROM capitation_run_status WHERE golden_key = 'CANCELLED')
WHERE capitation_run_id = @capitation_run_id
END
--
RETURN @SP_SUCCESS
--
GO
