USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_accounting_transaction_ap_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NGA VU
May 31 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/04/2006	Nga Vu			1.0		Created
18/09/2006	Anh Ta & Mai	2.0		Fixed Defect Offline #6409
06/06/2008	Vishwa Jella	3.0		updated with 18152 .c Accounting Transaction Functionality
08/21/2008	lrenard		    3.1		new accounting schema
09/25/2008  Vishwa Jella	4.0		added locked transactions functionality
02/10/2009	Jeremy Hein				Modified for credits
03/10/2009	W Christensen	4.1		Removed all AR references
03/25/2009	W Christensen	4.2		Fixed bug with transaction date trying to match time value
05/11/2009	David Slayton	4.3		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		4.4		Added returnset limitations
03/02/2015	cmaddox	4.5	RT:7537 - adding optional limiting of find criteria
for manual transactions that have claim_payment sources and/or have treat_as_claims_payment set to true.
03/16/2018  LHendrix		5.0		SP13104. Performance enhancement V1.  Use '=' when @show_exact_match = 1.  Modify the non-exact match to use the wildcard only at the end of the string.
Limit results for both locked and unlocked transactions.
--
CURRENT_VERSION: 4.4
--
DESCRIPTION:
Find data for accounting transaction find form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_accounting_transaction_ap_load] (
@get_column_headers BIT = 0
,@accounting_transaction_ap_ud NVARCHAR(100) = NULL
,@accounting_source_id INT = NULL
,@accounting_transaction_type_id INT = NULL
,@accounting_transaction_status_id INT = NULL
,@transaction_date DATETIME = NULL
,@transaction_amount NUMERIC(20, 10) = NULL
,@accounting_company_id INT = NULL
,@accounting_company_account_id INT = NULL
,@vendor_id INT = NULL
,@claim_id INT = NULL
,@show_exact_match BIT = 0
,@show_locked_transactions BIT = 1 -- Be default set to 1 to show it on Find Accounting Transaction form
,@manual_trx_with_treat_as_claims_payment_only BIT = 0
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @PREFIX NVARCHAR(1)
,@SUFFIX NVARCHAR(1);

CREATE TABLE #accounting_transaction_ap (
accounting_transaction_id BIGINT NOT NULL
,accounting_transaction_ud NVARCHAR(100) NULL
,transaction_date DATETIME NULL
,transaction_amount NUMERIC(19, 4) NULL
,unapplied_amount NUMERIC(19, 4) NULL
,accounting_source_id INT NULL
,accounting_source_ud NVARCHAR(100) NULL
,accounting_transaction_status_ud NVARCHAR(100) NULL
,accounting_transaction_type_ud NVARCHAR(100) NULL
,vendor_ud NVARCHAR(50) NULL
,vendor_nm NVARCHAR(100) NULL
,claim_ud NVARCHAR(50) NULL
);

IF @show_locked_transactions = 1
INSERT INTO #accounting_transaction_ap (
accounting_transaction_id
,accounting_transaction_ud
,transaction_date
,transaction_amount
,unapplied_amount
,accounting_source_id
,accounting_source_ud
,accounting_transaction_status_ud
,accounting_transaction_type_ud
,vendor_ud
,vendor_nm
,claim_ud
)
EXEC dbo.plx_find_accounting_transaction_ap_load_show_locked_transactions @get_column_headers
,@accounting_transaction_ap_ud
,@accounting_source_id
,@accounting_transaction_type_id
,@accounting_transaction_status_id
,@transaction_date
,@transaction_amount
,@accounting_company_id
,@accounting_company_account_id
,@vendor_id
,@claim_id
,@show_exact_match
,@show_locked_transactions
,@manual_trx_with_treat_as_claims_payment_only;
ELSE IF @show_locked_transactions = 0
INSERT INTO #accounting_transaction_ap (
accounting_transaction_id
,accounting_transaction_ud
,transaction_date
,transaction_amount
,unapplied_amount
,accounting_source_id
,accounting_source_ud
,accounting_transaction_status_ud
,accounting_transaction_type_ud
,vendor_ud
,vendor_nm
,claim_ud
)
EXEC dbo.plx_find_accounting_transaction_ap_load_show_unlocked_transactions @get_column_headers
,@accounting_transaction_ap_ud
,@accounting_source_id
,@accounting_transaction_type_id
,@accounting_transaction_status_id
,@transaction_date
,@transaction_amount
,@accounting_company_id
,@accounting_company_account_id
,@vendor_id
,@claim_id
,@show_exact_match
,@show_locked_transactions
,@manual_trx_with_treat_as_claims_payment_only;

SELECT *
FROM #accounting_transaction_ap;

SET NOCOUNT OFF;
END;
GO
