USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_service_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/03/2005				1.0		Created
12/15/2005	Anh Ta			1.1		Created and using for ICU#15893 Provider Func Spec (Provider network form)
11/28/2006	Hiep Nguyen		2.0		Removed combine_service_ud field
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'service_type' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_service_type_load]

AS
BEGIN

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
service_type_id
,service_type_nm as 'temp_name'
,service_type_ud
,service_type_nm

FROM service_type
ORDER BY service_type_ud

RETURN @SP_SUCCESS
--
END
--
GO
