USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_agent_case_limit_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: nho
Oct 11 2006  1:30PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/4/2006	ThuyNguyen	1.1		sort eff from, thr
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the carrier_agent_case_limit table.
This stored procedure is used in the Agent Limits on Number of Cases Sold per State
grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:
carrier_agent_case_limit_id - Key to carrier_agent_case_limit table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_carrier_agent_case_limit_list_load]
(
@carrier_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
carrier_agent_case_limit.carrier_agent_case_limit_id
,carrier_agent_case_limit.country_id
,carrier_agent_case_limit.state_id
,carrier_agent_case_limit.case_limit
,carrier_agent_case_limit.effective_from
,carrier_agent_case_limit.effective_thru
FROM carrier_agent_case_limit
WHERE carrier_agent_case_limit.carrier_id = @carrier_id
ORDER BY CASE WHEN carrier_agent_case_limit.effective_from IS NULL THEN 0 ELSE 1 END ASC, carrier_agent_case_limit.effective_from DESC,
CASE WHEN carrier_agent_case_limit.effective_thru IS NULL THEN 0 ELSE 1 END ASC, carrier_agent_case_limit.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
