USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_name_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load agent name data with agent identifier
--
REQUIREMENTS:
--
INPUTS:
agent_id - Key to agent table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_name_info_load]
(
@agent_identifier_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_name.agent_id
,agent_identifier.agent_identifier_id
,dbo.plx_ConcatenateName(agent_name.name_last, agent_name.name_first, agent_name.name_middle, agent_name.name_suffix) as agent_name
FROM agent_name
INNER JOIN agent ON agent.agent_id = agent_name.agent_id
INNER JOIN agent_or_brokerage_type ON agent_or_brokerage_type.agent_or_brokerage_type_id = agent.agent_or_brokerage_type_id
AND agent_or_brokerage_type.golden_key = 'Agent'
INNER JOIN agent_identifier ON agent_identifier.agent_id = agent_name.agent_id
WHERE agent_identifier.agent_identifier_id = @agent_identifier_id
AND agent_name.is_primary = 1
--
RETURN @SP_SUCCESS
GO
