USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_limit_fee_schedule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
12/15/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from grid Benefit Limit Fee Schedule Assignment in form Benefit Plan
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_limit_fee_schedule_delete]
(
@benefit_limit_fee_schedule_id          int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @benefit_limit_fee_schedule_id is null
RETURN @SP_SUCCESS
--
IF NOT EXISTS (SELECT * FROM benefit_limit_fee_schedule WHERE benefit_limit_fee_schedule_id = @benefit_limit_fee_schedule_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_limit_fee_schedule
WHERE benefit_limit_fee_schedule_id = @benefit_limit_fee_schedule_id
END
--
RETURN @SP_SUCCESS
--
GO
