USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to check whether a Vendor Refund Payment may be deleted.
Delete Condition :	When Vendor Refund Payment is in ENTERED status, it may be deleted.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		INT,
@SP_DELETE_UNABLE	INT

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT accounting_transaction_ap_id
FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @id)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN
-- check status, if NULL or ENTERED, it is deletable.
DECLARE @STATUS_GK NVARCHAR(50);
SET @STATUS_GK = (SELECT golden_key
FROM accounting_transaction_ap_refund_payment_detail detail
JOIN accounting_payment_status pmtStatus
ON detail.accounting_payment_status_id = pmtStatus.accounting_payment_status_id
WHERE accounting_transaction_ap_id = @id);
IF ISNULL(@STATUS_GK, 'ENTERED') = 'ENTERED'
RETURN @SP_DELETE_ABLE;
END

RETURN @SP_DELETE_UNABLE
GO
