USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_reinsurance_contract_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 12/23/2020
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
12/23/2020  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Saves a row in the 'Reinsurance Contract Assignments' grid on the Client form.

******************************/
CREATE PROCEDURE [dbo].[plx_client_reinsurance_contract_save] (
@reinsurance_contract_id INT = 0,
@use_for_all_groups BIT = NULL
)
AS
DECLARE
@SP_SUCCESS INT = 0,
@SP_EXCEPTION INT = - 1;

IF NOT EXISTS (
SELECT 1
FROM reinsurance_contract
WHERE reinsurance_contract_id = @reinsurance_contract_id
)
BEGIN
RETURN @SP_EXCEPTION;
END

UPDATE reinsurance_contract
SET use_for_all_groups = @use_for_all_groups
WHERE reinsurance_contract_id = @reinsurance_contract_id;

RETURN @SP_SUCCESS;
GO
