USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_financial_institution_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_financial_institution_load] (
@beneficiary_id INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

SELECT
bfi.beneficiary_financial_institution_id
,bfi.beneficiary_id
,bfi.financial_institution_id
,fb.financial_bank_id
,fb.financial_bank_ud
,fbb.financial_bank_branch_id
,fbb.financial_bank_branch_nm
,fi.name_on_account
,bat.bank_account_type_id
,bat.bank_account_type_ud
,fi.routing_transit_number
,fi.account_number
,fi.swift_code
,fi.pre_note_generated
,fi.ach_hold
,fi.effective_from
,fi.effective_thru

FROM beneficiary_financial_institution bfi
LEFT JOIN financial_institution fi
ON fi.financial_institution_id = bfi.financial_institution_id
LEFT JOIN bank_account_type bat
ON bat.bank_account_type_id = fi.bank_account_type_id
LEFT JOIN financial_bank fb
ON fb.financial_bank_id = fi.financial_bank_id
LEFT JOIN financial_bank_branch fbb
ON fbb.financial_bank_branch_id = fi.financial_bank_branch_id

WHERE bfi.beneficiary_id = @beneficiary_id

ORDER BY
CASE WHEN fi.effective_from IS NULL THEN 0 ELSE 1 END , fi.effective_from DESC
,CASE WHEN fi.effective_thru IS NULL THEN 0 ELSE 1 END , fi.effective_thru DESC;

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
