USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_correspondence_manual_generated_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2005	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single row in Manually Generated Documents grid on Group form
--
REQUIREMENTS:
--
INPUTS:
@client_group_correspondence_id - Key to client_group_correspondence table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_correspondence_manual_generated_delete]
(
@client_group_correspondence_id	int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@correspondence_manual_generated_id int
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM client_group_correspondence WHERE client_group_correspondence_id = @client_group_correspondence_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Get correspondence manual generated from client_group correspondence id
SELECT @correspondence_manual_generated_id = correspondence_manual_generated_id
FROM client_group_correspondence
WHERE client_group_correspondence_id = @client_group_correspondence_id

-- Delete client_group correspondence
DELETE FROM client_group_correspondence
WHERE client_group_correspondence_id = @client_group_correspondence_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
-- Delete correspondence manual generated
DELETE	FROM correspondence_manual_generated
WHERE correspondence_manual_generated_id = @correspondence_manual_generated_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

END
--
RETURN @SP_SUCCESS
GO
