USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 04/08/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/08/2011	Chad Maddox	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a coverage_incentive.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_coverage_incentive_delete]
(
@coverage_incentive_id                      int = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

BEGIN TRAN

DELETE FROM coverage_incentive_benefit
WHERE coverage_incentive_id = @coverage_incentive_id

DELETE FROM coverage_incentive_max_balance
WHERE coverage_incentive_id = @coverage_incentive_id

DELETE FROM coverage_incentive_max_net_pay
WHERE coverage_incentive_id = @coverage_incentive_id

DELETE FROM coverage_incentive_required_procedure
WHERE coverage_incentive_id = @coverage_incentive_id

DELETE FROM coverage_incentive
WHERE coverage_incentive_id = @coverage_incentive_id

COMMIT TRAN

RETURN @SP_SUCCESS
--
GO
