USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_valid_choice_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2005	Trinh Le	1.0			create
9-8-2005           Trinh Le              4.7                  Remove class_data_type_id

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid Valid Choices of a Choice list in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_valid_choice_load]
(
@accumulator_choice_list_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_valid_choice.accumulator_valid_choice_id
,accumulator_valid_choice.valid_choice
,accumulator_valid_choice.modified_date
FROM accumulator_valid_choice
WHERE accumulator_valid_choice.accumulator_choice_list_id =       @accumulator_choice_list_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
