USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_agent_type_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006 10:13AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006     tvngo      1.0          created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_depreciation_agent_type table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_depreciation_agent_type_save]
(
@commission_depreciation_agent_type_id      int = NULL   OUTPUT
,@commission_depreciation_id                 int = NULL
,@agent_type_id                              int = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @commission_depreciation_agent_type_id is Null
BEGIN

--- Create a new commission_depreciation_agent_type record
INSERT INTO commission_depreciation_agent_type(
commission_depreciation_id
,agent_type_id
)
VALUES
(@commission_depreciation_id
,@agent_type_id
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_depreciation_agent_type_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_depreciation_agent_type WHERE commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_depreciation_agent_type record
UPDATE commission_depreciation_agent_type
SET
commission_depreciation_id               = @commission_depreciation_id
,agent_type_id                            = @agent_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
