USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_office_hour_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Dec 19 2005  2:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down office_hour (Office Hours)
--
REQUIREMENTS:
--
INPUTS:
office_hour_id - Key to office_hour table, identifies a single stored dd_office_hour.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_office_hour_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
office_hour.office_hour_id
,office_hour.office_hour_ud AS office_hour
FROM office_hour
ORDER BY office_hour_ud
--
GO
