USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_criteria_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_coverage_level_process_queue_criteria_delete]
(
@coverage_level_process_queue_criteria_id  INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;
--
IF NOT EXISTS (SELECT * FROM coverage_level_process_queue_criteria WHERE coverage_level_process_queue_criteria_id = @coverage_level_process_queue_criteria_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM coverage_level_process_queue_criteria
WHERE coverage_level_process_queue_criteria_id = @coverage_level_process_queue_criteria_id
END
--
RETURN @SP_SUCCESS
--
GO
