USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_termination_event_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cknobloch
--
REVISION_HISTORY:

Date			Modified By		Version		Description
--------------------------------------------------------------------------------
06/11/2021		cknobloch		1.0		Created
--------------------------------------------------------------------------------

CURRENT_VERSION	: 1.0

DESCRIPTION	: Procedure to load 'auto_termination_event' table (dropdown data)

REQUIREMENTS: RT:17625

INPUTS: None

OUTPUTS: None

RETURN_VALUES: auto_termination_event_id, auto_termination_event_ud, golden_key

CALLED_PROCEDURES: None

HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_auto_termination_event_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
auto_termination_event_id
,auto_termination_event_ud
,golden_key

FROM auto_termination_event
ORDER BY auto_termination_event_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
