USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_data_audit_trigger_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kirk Chedotal
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/01/2024  Kirk Chedotal	1.0			Created

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
-- Adds or updates the data auditing trigger for the audited table specified
--
REQUIREMENTS:
--
INPUTS:
-- @data_audit_table_id					ID for the data_audit_table table
-- @data_audit_operation				'A' for add or 'U' for update (delete has it's own process)
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_data_audit_trigger_save]
(
@data_audit_table_id			INT,
@data_audit_operation			CHAR(1)
)
AS

BEGIN

SET NOCOUNT ON;

-- Return constants
DECLARE @ResultCodeSuccess INT = 0;

BEGIN TRY

IF NOT EXISTS (SELECT 1
FROM dbo.data_audit_table
WHERE data_audit_table_id = @data_audit_table_id)
THROW 50000, 'Invalid data_audit_table_id', 1;

IF ISNULL(@data_audit_operation,'') NOT IN ('A','U')
THROW 50000, 'Invalid data_audit_operation', 1;

DECLARE @AuditSchemaName sysname;
DECLARE @AuditTableName sysname;
DECLARE @AuditTriggerName sysname;
DECLARE @TriggerName sysname;
DECLARE @TriggerType VARCHAR(50);
DECLARE @sql NVARCHAR(MAX) = N'';

SELECT @AuditSchemaName = data_audit_table_schema_nm,
@AuditTableName = data_audit_table_table_nm
FROM dbo.data_audit_table
WHERE data_audit_table_id = @data_audit_table_id;

SELECT @AuditTriggerName = N'plx_trg_audit_' + @AuditSchemaName + '_' + @AuditTableName;

IF @data_audit_operation = 'A' AND
EXISTS (SELECT 1
FROM sys.triggers tr
WHERE OBJECT_SCHEMA_NAME(tr.parent_id) = @AuditSchemaName
AND tr.name = @AuditTriggerName)
BEGIN
-- if adding a table/trigger and the audit trigger already exists, set the operation to "U"pdate so the trigger gets resynchronized properly
--   this should be an unnecessary cleanup step only needed if someone deleted the audit tables manually without deleting the triggers
SELECT @data_audit_operation = 'U'
END
ELSE IF @data_audit_operation = 'U' AND
NOT EXISTS (SELECT 1
FROM sys.triggers tr
WHERE OBJECT_SCHEMA_NAME(tr.parent_id) = @AuditSchemaName
AND tr.name = @AuditTriggerName)
BEGIN
-- if updating a table/trigger and the audit trigger does not exist, set the operation to "A"dd so the trigger gets created properly
--	this should be an unnecessary step only needed if someone deleted the trigger manually without deleting the audit table
SELECT @data_audit_operation = 'A'
END

-- if any other UPDATE or DELETE triggers exist on the table and are set to fire last, then they are set
--		with no order so that the audit trigger can be set to fire last
WHILE EXISTS (SELECT 1
FROM sys.triggers tr
JOIN sys.trigger_events tre ON tr.object_id = tre.object_id
WHERE is_last = 1
AND tre.type_desc IN ('UPDATE','DELETE')
AND OBJECT_NAME(tr.parent_id) = @AuditTableName
AND OBJECT_SCHEMA_NAME(tr.parent_id) = @AuditSchemaName
AND tr.name <> @AuditTriggerName)
BEGIN

SELECT TOP 1 @TriggerName = tr.name, @TriggerType = tre.type_desc
FROM sys.triggers tr
JOIN sys.trigger_events tre ON tr.object_id = tre.object_id
WHERE is_last = 1
AND tre.type_desc IN ('UPDATE','DELETE')
AND OBJECT_NAME(tr.parent_id) = @AuditTableName
AND OBJECT_SCHEMA_NAME(tr.parent_id) = @AuditSchemaName
AND tr.name <> @AuditTriggerName;

EXEC sp_settriggerorder @triggername = @TriggerName, @order ='None', @stmttype = @TriggerType;

END;
WITH cte_columnlist AS
(
SELECT TOP 100 PERCENT
t.object_id table_id,
c.column_id,
column_definition =
'            [' + c.name + '], ' + CHAR(10)
FROM sys.tables t
JOIN sys.columns c
ON t.object_id = c.object_id
JOIN sys.types tp
ON c.system_type_id = tp.system_type_id
AND c.user_type_id = tp.user_type_id
WHERE t.name = @AuditTableName
AND OBJECT_SCHEMA_NAME(t.object_id) = @AuditSchemaName
AND tp.name NOT IN ('image','ntext','text') -- data types are not supported for use in triggers
ORDER BY 1,2
),
cte_columns AS
(
SELECT
table_id,
STRING_AGG(CAST(column_definition AS NVARCHAR(MAX)),'') AS column_definition
FROM cte_columnlist
GROUP BY table_id
)
SELECT
@sql =
CAST('' AS NVARCHAR(MAX))
+ CASE
WHEN @data_audit_operation = N'A' THEN 'CREATE '
WHEN @data_audit_operation = N'U' THEN 'ALTER '
-- ELSE ERROR
END
+ 'TRIGGER ' + @AuditTriggerName + ' ON [' + @AuditSchemaName + '].[' + @AuditTableName + '] ' + CHAR(10)
+ 'FOR UPDATE, DELETE AS ' + CHAR(10)
+ 'IF EXISTS (SELECT 1 FROM Deleted) ' + CHAR(10)
+ 'BEGIN ' + CHAR(10)
+ '    SET NOCOUNT ON; ' + CHAR(10)
+ '    IF EXISTS (SELECT 1 FROM Inserted) ' + CHAR(10)
+ '    BEGIN ' + CHAR(10)
+ '        INSERT INTO plx_data_audit.[' + @AuditSchemaName + '_' + @AuditTableName + '_data_audit] ' + CHAR(10)
+ '            ( ' + CHAR(10)
+ column_definition
+ '            [data_audit_created_user_name],' + CHAR(10)
+ '            [data_audit_created_date],' + CHAR(10)
+ '            [data_audit_operation]' + CHAR(10)
+ '            ) '  + CHAR(10)
+ '        SELECT ' + CHAR(10)
+ REPLACE(column_definition,'[','d.[')
+ '            ORIGINAL_LOGIN(),' + CHAR(10)
+ '            GETDATE(),' + CHAR(10)
+ '            ''U''' + CHAR(10)
+ '        FROM deleted d; '  + CHAR(10)
+ '    END; ' + CHAR(10)
+ '    ELSE ' + CHAR(10)
+ '    BEGIN ' + CHAR(10)
+
CAST('' AS NVARCHAR(MAX))
+ '        INSERT INTO plx_data_audit.[' + @AuditSchemaName + '_' + @AuditTableName + '_data_audit] ' + CHAR(10)
+ '            ( ' + CHAR(10)
+ column_definition
+ '            [data_audit_created_user_name],' + CHAR(10)
+ '            [data_audit_created_date],' + CHAR(10)
+ '            [data_audit_operation]' + CHAR(10)
+ '            ) '  + CHAR(10)
+ '        SELECT ' + CHAR(10)
+ REPLACE(column_definition,'[','d.[')
+ '            ORIGINAL_LOGIN(),' + CHAR(10)
+ '            GETDATE(),' + CHAR(10)
+ '            ''D''' + CHAR(10)
+ '        FROM deleted d; '  + CHAR(10)
+ '    END; ' + CHAR(10)
+ 'END; ' + CHAR(10)
FROM cte_columns;

EXEC (@sql);

EXEC sp_settriggerorder @triggername = @AuditTriggerName, @order ='Last', @stmttype = 'UPDATE';
EXEC sp_settriggerorder @triggername = @AuditTriggerName, @order ='Last', @stmttype = 'DELETE';

END TRY
BEGIN CATCH

DECLARE
@ErrorMessage   NVARCHAR(4000)
,   @ErrorNumber    INT           = ERROR_NUMBER()
,   @ErrorSeverity  INT           = ERROR_SEVERITY()
,   @ErrorState     INT           = ERROR_STATE()
,   @ErrorLine      INT           = ERROR_LINE()
,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT
@ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
+ CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
+ ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR(
@ErrorMessage, @ErrorSeverity, 1
,   @ErrorNumber    -- parameter: original error number.
,   @ErrorSeverity  -- parameter: original error severity.
,   @ErrorState     -- parameter: original error state.
,   @ErrorProcedure -- parameter: original error procedure name.
,   @ErrorLine      -- parameter: original error line number.
);

END CATCH;

RETURN @ResultCodeSuccess;

END;
GO
