USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/28/2008	wchristensen	1.0			Created
07/17/2008	lrenard			1.1			added accounting_payment_queue check
11/05/2008	Vishwa Jella	2.0			deleted accounting_payment_queue check
02/24/2009	David Slayton	2.1			Added check for premium run.
03/04/2009	David Slayton	3.0			Added all dependencies to benefit contract.
05/13/2009	David Slayton	3.1			removed claim_payment_profile_assignment.
--
CURRENT_VERSION: 3.1
--
DESCRIPTION:
This procedure is used to check dependencies on a benefit contract (or template) before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the record to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int
SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the provider exists
IF NOT EXISTS (SELECT benefit_contract_id FROM benefit_contract WHERE benefit_contract_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM account_assignment_claim_payment_disbursement WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM account_assignment_premium_billing WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM accumulator_framework_assignment WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM agent_customer WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM agent_upline_agent WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM agent_vendor WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM client_group WHERE template_benefit_contract_id = @id)
OR EXISTS(SELECT * FROM commission_depreciation_allowed_on_benefit_contract WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM family_eligibility WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM global_payment_value WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM outlier_payment_value WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM premium_run WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM renewal_notification WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM retroactive_adjustment_schedule WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM claim_processing_queue WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM adjudication_queue WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM payment_penalty_schedule_assignment WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM payment_penalty_schedule_exemption WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM benefit_qualifier_assignment WHERE benefit_contract_id = @id)
BEGIN
--check account_assignment_premium_billing
SELECT DISTINCT 'Account Assignment' AS object_golden_key, 'TAP - Premium Billing' AS object_ud
FROM account_assignment_premium_billing
WHERE benefit_contract_id = @id

--check accumulator_framework_assignment
SELECT DISTINCT 'Accumulator Framework' AS object_golden_key, accumulator_framework_ud AS object_ud
FROM accumulator_framework
WHERE accumulator_framework_id IN
(SELECT accumulator_framework_id
FROM accumulator_framework_assignment
WHERE benefit_contract_id = @id)

--check agent_customer, agent_upline_agent, agent_vendor
SELECT DISTINCT 'Agent' AS object_golden_key,
dbo.plx_ConcatenateName(an.name_last, an.name_first, an.name_middle, an.name_suffix) AS object_ud
FROM agent_name an
WHERE agent_id IN
(SELECT agent_id
FROM agent_customer
WHERE benefit_contract_id = @id)
OR agent_id IN
(SELECT agent_id
FROM agent_upline_agent
WHERE benefit_contract_id = @id)
OR agent_id IN
(SELECT agent_id
FROM agent_vendor
WHERE benefit_contract_id = @id)

--check outlier_payment_value
SELECT DISTINCT 'Assign Outlier Payment Value' AS object_golden_key, 'Outlier Payment Value Assignments' AS object_ud
FROM outlier_payment_value
WHERE benefit_contract_id = @id

--check global_payment_value
SELECT DISTINCT 'Assign Payment Value/Provider Discount' AS object_golden_key, 'Payment Value/Provider Discount' AS object_ud
FROM global_payment_value
WHERE benefit_contract_id = @id

--check benefit_qualifier_assignment
SELECT DISTINCT 'Benefit Qualifier Assignment' AS object_golden_key, 'Assignment Grid' AS object_ud
FROM benefit_qualifier_assignment
WHERE benefit_contract_id = @id

--check commission_depreciation_allowed_on_benefit_contract
SELECT DISTINCT 'Commission Depreciation Template' AS object_golden_key, commission_depreciation_ud AS object_ud
FROM commission_depreciation
WHERE commission_depreciation_id IN
(SELECT commission_depreciation_id
FROM commission_depreciation_allowed_on_benefit_contract
WHERE benefit_contract_id = @id)

--check family_eligibility
SELECT 'Enrollment' AS object_golden_key, family_eligibility_ud AS object_ud
FROM family_eligibility
WHERE benefit_contract_id = @id

--check client_group
SELECT DISTINCT 'Group' AS object_golden_key, client_group_ud AS object_ud
FROM client_group_name
WHERE client_group_id IN
(SELECT client_group_id
FROM client_group
WHERE template_benefit_contract_id = @id)
AND primary_name=1

--check premium_run
SELECT 'Premium Run' AS object_golden_key, premium_run_ud AS object_ud
FROM premium_run
WHERE benefit_contract_id = @id

--check renewal_notification
SELECT DISTINCT 'Renewal Notification Setup' AS object_golden_key, 'Advance Renewal Notification' AS object_ud
FROM renewal_notification
WHERE benefit_contract_id = @id

--check retroactive_adjustment_schedule
SELECT DISTINCT 'Retroactive Adjustment Schedules' AS object_golden_key, 'Retroactive Adjustment Schedule Assignments' AS object_ud
FROM retroactive_adjustment_schedule
WHERE benefit_contract_id = @id

--check claim processing queue
SELECT DISTINCT 'Claim Processing Filter' AS object_golden_key, claim_processing_queue_ud AS object_ud
FROM claim_processing_queue
WHERE benefit_contract_id = @id

--check adjudication queue
SELECT DISTINCT 'Adjudication Queue' AS object_golden_key, adjudication_queue_ud AS object_ud
FROM adjudication_queue
WHERE benefit_contract_id = @id

--check payment penalty schedule assignment
SELECT DISTINCT 'Payment Penalty Schedule Assignment' AS object_golden_key, 'Schedule Assignments' AS object_ud
FROM payment_penalty_schedule_assignment
WHERE benefit_contract_id = @id

--check payment penalty schedule exemption
SELECT DISTINCT 'Payment Penalty Schedule Exemption' AS object_golden_key, 'Exempt Periods' AS object_ud
FROM payment_penalty_schedule_exemption
WHERE benefit_contract_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
