USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_controls_gridcols_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/18/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/18/2009	eponomareff		1.0		Created
2/20/2014   LHendrix        1.1     RT:6212 uncomment EditButtonColumn
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load drop down of grid columns associated with a form
This combo box appears on the security form Edit Permissions - Field Permissions tab when a grid is selected from the Form Permissions tab.
--
REQUIREMENTS:
--
INPUTS:
form_name
grid_name
--

--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message

--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_controls_gridcols_load]
(
@form_name VARCHAR(255) = NULL
,@grid_name VARCHAR(255) = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT
name              AS control_name_id
,caption            AS control_name_ud
FROM
ui_engine_control
WHERE
form_name = @form_name
AND
type in 		--securable columns in a grid
(
--FindButtonColumn
'CalendarColumn'
,'TextBoxColumn'
,'BoolColumn'
--ButtonColumn
,'ComboBoxColumn'
,'EditButtonColumn'
)
AND
parent_control_name = @grid_name

RETURN @SP_SUCCESS
--
GO
