USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_customer_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/16/2005       Lamnguyen   	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to save the client_customer table data
in Client form.

--
REQUIREMENTS:
--
INPUTS:

@client_customer_id   - PK
,@client_id            - Client ID
,@customer_id          - Customer ID
,@criteria_id          - Criteria ID
,@effective_from       - Effective From Date
,@effective_thru       - Effective Thru Date
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_customer_save]
(
@client_customer_id                         INT = NULL   OUTPUT
,@client_id                                  INT = NULL
,@customer_id                                INT = NULL
,@criteria_id                                INT = NULL
,@effective_from                             DATETIME = NULL
,@effective_thru                             DATETIME = NULL
--,@create_date
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@ERROR_NOT_EXIST	= '159010037'
,@ERROR_CANT_INSERT 	= '159010033'
, @ERROR_CANT_UPDATE 	= '159010035'

--

IF @client_customer_id IS NULL
BEGIN
--- Create a new record
INSERT INTO client_customer(
client_id
,customer_id
,criteria_id
,effective_from
,effective_thru
)
VALUES
(@client_id
,@customer_id
,@criteria_id
,@effective_from
,@effective_thru
)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_customer_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM client_customer WHERE client_customer_id = @client_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud('f5742178-b1a7-411a-a020-9981165c369a')
END
--
ELSE
BEGIN
UPDATE client_customer
SET
client_id                                = @client_id
,customer_id                              = @customer_id
,criteria_id                              = @criteria_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_customer_id = @client_customer_id
END
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--
RETURN @SP_SUCCESS
--
GO
