USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_history_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************

AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
05/10/2012		PAndersen			Modified to calculate 'available_balance' correctly
03/11/2013      lrenard             Fix defect on not showing manually added amount
10/23/2014      Jeffrey Bernard		Added concurrency logic
--------------------------------------------------------------------------------
DESCRIPTION:
This procedure is used to load data for grid "Coverage Incentive History"
on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_history_list_load] (@family_eligibility_member_benefit_plan_id INT = NULL)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--Temp table for calculating current 'available_balance'
DECLARE @COVERAGE_CALC TABLE (
coverage_incentive_calculation_id INT
,incentive_year_from DATETIME
,incentive_year_thru DATETIME
,maximum_allowed_balance NUMERIC(19, 4)
,starting_available_balance NUMERIC(19, 4)
,amt_used NUMERIC(19, 4)
,available_balance NUMERIC(19, 4)
,calculated_amt_earned NUMERIC(19, 4)
,added_to_amt_earned NUMERIC(19, 4)
,amt_earned_override NUMERIC(19, 4)
,comment NVARCHAR(255)
,object_row_version ROWVERSION
)
--See if coverage incentive applys for this eligibility
DECLARE @NUM_OF_COVERAGE_INCENTIVE_ROWS_FOR_ELIG AS INT

SELECT @NUM_OF_COVERAGE_INCENTIVE_ROWS_FOR_ELIG = COUNT(*)
FROM dbo.coverage_incentive_calculation
WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

--Find seed amount
DECLARE @SEED_AMOUNT AS NUMERIC(19, 4)

SELECT @SEED_AMOUNT = coverage_incentive_initial_balance
FROM dbo.family_eligibility_member_benefit_plan
WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

--Find the Max allowed balance
DECLARE @maximum_allowed_balance AS NUMERIC(19, 4)

SELECT TOP 1 @maximum_allowed_balance = maximum_allowed_balance
FROM dbo.coverage_incentive_calculation
WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND maximum_allowed_balance <> 0
ORDER BY maximum_allowed_balance DESC

--Returns data if no coverage incentive calculations exist
-- Fill Temp Table with coverage incentive calculations
INSERT INTO @COVERAGE_CALC
SELECT coverage_incentive_calculation_id
,incentive_year_from
,incentive_year_thru
,maximum_allowed_balance
,(
SELECT COALESCE(SUM(COALESCE(last_year.amt_earned_override, last_year.calculated_amt_earned + ISNULL(last_year.added_to_amt_earned, 0), 0) - last_year.amt_used), 0)
FROM dbo.coverage_incentive_calculation AS last_year
WHERE last_year.family_eligibility_member_benefit_plan_id = cic.family_eligibility_member_benefit_plan_id
AND last_year.incentive_year_from < cic.incentive_year_from
) + COALESCE(@SEED_AMOUNT, 0) AS starting_available_balance -- added seed amount
,amt_used
,0
,calculated_amt_earned
,added_to_amt_earned
,amt_earned_override
,comment
,NULL AS object_row_version
FROM dbo.coverage_incentive_calculation AS cic
WHERE cic.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY incentive_year_from DESC
,incentive_year_thru DESC

--Update the 'starting_available_balance' loop
DECLARE @calc_id INT

DECLARE MAX_CALC CURSOR
FOR
SELECT coverage_incentive_calculation_id
FROM @COVERAGE_CALC



OPEN MAX_CALC

FETCH NEXT
FROM MAX_CALC
INTO @calc_id

WHILE @@FETCH_STATUS = 0
BEGIN
BEGIN
UPDATE @COVERAGE_CALC
SET available_balance = (
SELECT starting_available_balance
FROM @COVERAGE_CALC
WHERE coverage_incentive_calculation_id = @calc_id
) - (
SELECT amt_used
FROM @COVERAGE_CALC
WHERE coverage_incentive_calculation_id = @calc_id
)
FROM @COVERAGE_CALC AS cic
WHERE cic.coverage_incentive_calculation_id = @calc_id
END

FETCH NEXT
FROM MAX_CALC
INTO @calc_id
END

CLOSE MAX_CALC

DEALLOCATE MAX_CALC

--Display Results
SELECT coverage_incentive_calculation_id
,incentive_year_from
,incentive_year_thru
,maximum_allowed_balance
,starting_available_balance
,amt_used
,available_balance
,calculated_amt_earned
,added_to_amt_earned
,amt_earned_override
,comment
,object_row_version AS 'family_eligibility_member_benefit_plan_object_row_version'
FROM @COVERAGE_CALC
-- Add it a blank row if we don't have one for the first year the Eligibility is Effective
UNION
SELECT
NULL AS 'coverage_incentive_calculation_id'
,CAST('1/1/' + CAST(COALESCE(YEAR(e.effective_from), 9999) AS VARCHAR) AS DATETIME) AS 'incentive_year_from'
,CAST('12/31/' + CAST(COALESCE(YEAR(e.effective_from), 9999) AS VARCHAR) AS DATETIME) AS 'incentive_year_thru'
,cimb.amount AS 'maximum_allowed_balance'
,coverage_incentive_initial_balance AS 'starting_available_balance'
,0 AS 'amt_used'
,coverage_incentive_initial_balance AS 'available_balance'
,0 AS 'calculated_amt_earned'
,NULL AS 'added_to_amt_earned'
,NULL AS 'amt_earned_override'
,NULL AS 'comment'
,object_row_version AS 'family_eligibility_member_benefit_plan_object_row_version'
FROM dbo.family_eligibility_member_benefit_plan AS e
INNER JOIN dbo.benefit_plan AS bp ON e.benefit_plan_id = bp.benefit_plan_id
INNER JOIN dbo.coverage_incentive AS ci ON bp.coverage_incentive_id = ci.coverage_incentive_id
LEFT JOIN dbo.coverage_incentive_max_balance AS cimb
on ci.coverage_incentive_id = cimb.coverage_incentive_id
AND COALESCE(YEAR(e.effective_from), 9999) BETWEEN cimb.calendar_year AND ISNULL(cimb.through, 9999)
LEFT JOIN coverage_incentive_calculation cic
ON e.family_eligibility_member_benefit_plan_id = cic.family_eligibility_member_benefit_plan_id
AND incentive_year_from = CAST('1/1/' + CAST(COALESCE(YEAR(e.effective_from), 9999) AS VARCHAR) AS DATETIME)
WHERE
e.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND
cic.incentive_year_from IS NULL
ORDER BY incentive_year_from DESC
;


RETURN @SP_SUCCESS
GO
