USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
April 7 2011  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2011	Chad Maddox	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select a single record from the coverage_incentive table.
This stored procedure is used in the Coverage Incentive form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_coverage_incentive_load]
(
@coverage_incentive_id			int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ci.coverage_incentive_id
,ci.coverage_incentive_ud
,ci.description
,ci.minimum_months_plan_effective
,ci.minimum_months_continuous_eligibility
FROM coverage_incentive ci
WHERE ci.coverage_incentive_id = @coverage_incentive_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
