USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
FORM: Benefit Contract Advanced Plan Setup [frmBenefitContractAdvancedPlanSetup]
PURPOSE: Loads benefit contract period benefit plan underwriting rules.
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_list_load]
(
@benefit_contract_period_benefit_plan_id		INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcpbpatr.benefit_contract_period_benefit_plan_underwriting_rule_id
,bcpbpatr.benefit_contract_period_benefit_plan_id
,atr.underwriting_rule_id
,atr.underwriting_rule_ud
,bcpbpatr.effective_from
,bcpbpatr.effective_thru
,bcpbpatr.created_user_name
,bcpbpatr.created_date
,bcpbpatr.modified_date
FROM benefit_contract_period_benefit_plan_underwriting_rule AS bcpbpatr
JOIN underwriting_rule atr ON bcpbpatr.underwriting_rule_id = atr.underwriting_rule_id

WHERE bcpbpatr.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
