USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_claim_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/23/2006	HuyThan		1.0			Created
12/07/2006	Anh Ta		1.1			Fixed Offline Defect #hi l
05/01/2008 lrenard		1.2			added formatting to counter and a delimiter
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Generate the Claim number

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_auto_create_claim_id_rule]
(
@golden_key		NVARCHAR(50) = NULL
,@claim_type		NVARCHAR(50) = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--Get the ID generate rule
IF ISNULL(@golden_key, '') = ''
BEGIN
IF (@claim_type = 'Dental')
BEGIN
SELECT @golden_key= claim_number_generation_rule.golden_key
FROM global_rule
LEFT JOIN claim_number_generation_rule
ON claim_number_generation_rule.claim_number_generation_rule_id = global_rule.dental_claim_number_generation_rule_id
END
ELSE IF (@claim_type = 'Predetermination')
BEGIN
SELECT @golden_key= claim_number_generation_rule.golden_key
FROM global_rule
LEFT JOIN claim_number_generation_rule
ON claim_number_generation_rule.claim_number_generation_rule_id = global_rule.predetermination_claim_number_generation_rule_id
END
ELSE IF (@claim_type = 'Professional')
BEGIN
SELECT @golden_key= claim_number_generation_rule.golden_key
FROM global_rule
LEFT JOIN claim_number_generation_rule
ON claim_number_generation_rule.claim_number_generation_rule_id = global_rule.professional_claim_number_generation_rule_id
END
ELSE IF (@claim_type = 'Institutional')
BEGIN
SELECT @golden_key= claim_number_generation_rule.golden_key
FROM global_rule
LEFT JOIN claim_number_generation_rule
ON claim_number_generation_rule.claim_number_generation_rule_id = global_rule.institutional_claim_number_generation_rule_id
END
END
--END get the ID generate rule

-- Set the prefix for the auto generated id.
DECLARE
@prefix		NVARCHAR(100)
,@claim_number	NVARCHAR(100)

SET @claim_number = ''

IF (@golden_key='Date + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)
END
ELSE IF (@golden_key='Date + Batch Code + Counter')
BEGIN -- This doesn't make sense; we should be passing the BatchCode in...
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + 'BatchCode'
END
ELSE IF (@golden_key='Date + Claim Type + Counter')
BEGIN
DECLARE @pre_claim_type nvarchar(50)

IF (@claim_type = 'Dental')
SET @pre_claim_type = 'D'
ELSE IF (@claim_type = 'Predetermination')
SET @pre_claim_type = 'PD'
ELSE IF (@claim_type = 'Professional')
SET @pre_claim_type = 'P'
ELSE IF (@claim_type = 'Institutional')
SET @pre_claim_type = 'I'

SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + ISNULL(@pre_claim_type, '')
END
ELSE IF (@golden_key='Date + User ID + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + ORIGINAL_LOGIN()
END
ELSE
BEGIN
SELECT @claim_number AS claim_number
RETURN @SP_SUCCESS
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_length	INT
,@counter			INT
,@counter_text		NVARCHAR(50)

-- Use 'claim' for all claim types because the claim_number must be unique
-- regardless of claim type.
SET @counter_length = 6
SET @auto_create_counter_type_ud = 'Claim ' + @prefix

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @claim_number = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM claim
WHERE claim_ud = @claim_number)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @claim_number = ISNULL(@prefix, '') + @counter_text
END

SELECT @claim_number AS claim_number
RETURN @SP_SUCCESS
END
GO
