USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_contact_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Dec 22 2005  4:50PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/22/2005	Hien D Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is used in the Associated Contacts grid to delete a singe object from carrier_contact table

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_carrier_contact_delete]
(
@carrier_contact_id                        int = NULL   OUTPUT
) AS
BEGIN
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '1052800014',
@ERROR_CANT_DELETE	= '1052800015'

IF NOT EXISTS (SELECT * FROM carrier_contact WHERE carrier_contact_id = @carrier_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
DELETE FROM carrier_contact
WHERE carrier_contact_id = @carrier_contact_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
RETURN @SP_SUCCESS
END
GO
