USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_delete_for_report_importer]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[plx_dto_report_delete_for_report_import]  08-22-2008******/
Create Procedure [dbo].[plx_dto_report_delete_for_report_importer] (
@report_id int
) As

Delete
report_setup_report_parameter_value
From
report_setup_report_parameter_value rsrpv
Inner Join report_setup rs
On rsrpv.report_setup_id = rs.report_setup_id

Where
rs.report_id =@report_id

Delete
report_setup
Where
report_id = @report_id

Delete
report_parameter_misc
From
report_parameter rp
Inner Join report_parameter_misc rpm
On rp.report_parameter_id = rpm.report_parameter_id
Where
rp.report_id = @report_id

Delete
report_parameter
Where
report_id =@report_id
GO
