USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_assignment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   07/28/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Capitation rate assignment grid save
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_rate_assignment_save]
(
@capitation_rate_assignment_id	int = NULL   OUTPUT
,@capitation_rate_assignment_ud	nvarchar(50) = NULL
,@effective_from				datetime = NULL
,@effective_thru				datetime = NULL
,@capitation_rate_id			int = NULL
,@capitation_rate_type_id		int = NULL
,@tier_id						int = NULL
,@flat_rate						numeric(18,10) = NULL
,@benefit_plan_id				int = NULL
,@client_id						int = NULL
,@client_group_id				int = NULL
,@benefit_contract_id			int = NULL
,@benefit_category_id			int = NULL
,@capitation_member_rate_id int = NULL
,@active						bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0
--

IF @capitation_rate_assignment_id is Null or @capitation_rate_assignment_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_rate_assignment(
capitation_rate_assignment_ud
,effective_from
,effective_thru
,capitation_rate_id
,capitation_rate_type_id
,tier_id
,flat_rate
,benefit_plan_id
,client_id
,client_group_id
,benefit_contract_id
,benefit_category_id
,capitation_member_rate_id
,active
)
VALUES
(@capitation_rate_assignment_ud
,@effective_from
,@effective_thru
,@capitation_rate_id
,@capitation_rate_type_id
,@tier_id
,@flat_rate
,@benefit_plan_id
,@client_id
,@client_group_id
,@benefit_contract_id
,@benefit_category_id
,@capitation_member_rate_id
,@active
)
SET @capitation_rate_assignment_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE capitation_rate_assignment
SET
capitation_rate_assignment_ud = @capitation_rate_assignment_ud
,effective_from =			@effective_from
,effective_thru =			@effective_thru
,capitation_rate_id =		@capitation_rate_id
,capitation_rate_type_id =	@capitation_rate_type_id
,tier_id				=	@tier_id
,flat_rate			    =   @flat_rate
,benefit_plan_id =			@benefit_plan_id
,client_id =				@client_id
,client_group_id =			@client_group_id
,benefit_contract_id =		@benefit_contract_id
,benefit_category_id =		@benefit_category_id
,capitation_member_rate_id = @capitation_member_rate_id
,active =					@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_rate_assignment_id = @capitation_rate_assignment_id

END
--
RETURN @SP_SUCCESS
--
GO
