USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_invoice_review_period_rule_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/06/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/06/2009  W.Christensen  1.0      Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save client_fee_setup_invoice_review_period_rule
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_invoice_review_period_rule_save]
(
@client_fee_setup_invoice_review_period_rule_id int = NULL   OUTPUT
,@client_fee_setup_id                            int = NULL
,@invoice_review_period_rule_id	                 int = NULL
,@number_of_days                                 int = NULL
,@effective_from                                 datetime = NULL
,@effective_thru                                 datetime = NULL
,@active                                         bit = 1
) AS
--
DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST NVARCHAR(50)
, @ERROR_RECORD_LOCKED NVARCHAR(50)
, @ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
, @ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
, @ERROR_CANT_UPDATE =''
--
IF @client_fee_setup_invoice_review_period_rule_id is Null
BEGIN

--- Create a new client_fee_setup_invoice_review_period_rule record
INSERT INTO dbo.client_fee_setup_invoice_review_period_rule(
client_fee_setup_id
,invoice_review_period_rule_id
,number_of_days
,effective_from
,effective_thru
,active
)
VALUES
(@client_fee_setup_id
,@invoice_review_period_rule_id
,@number_of_days
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)
END

SET @client_fee_setup_invoice_review_period_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.client_fee_setup_invoice_review_period_rule WHERE client_fee_setup_invoice_review_period_rule_id = @client_fee_setup_invoice_review_period_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing client_fee_setup_invoice_review_period_rule record
UPDATE dbo.client_fee_setup_invoice_review_period_rule
SET
client_fee_setup_id		= @client_fee_setup_id
,invoice_review_period_rule_id	= @invoice_review_period_rule_id
,number_of_days			= @number_of_days
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,active					= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_fee_setup_invoice_review_period_rule_id = @client_fee_setup_invoice_review_period_rule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
END
--
RETURN @SP_SUCCESS
--
GO
