USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_readjudication_queue_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   05/28/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/29/2011	cknobloch		1.1		added procedure_code_group_id, client_group_id
and family_eligibility_member_benefit_plan_id RT 1571
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for claim readjudication queue
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_readjudication_queue_load]
(
@claim_readjudication_queue_id			Int = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
crq.claim_readjudication_queue_id
,crq.claim_readjudication_queue_ud
,crq.description

,crq.effective_from
,crq.effective_thru

,crq.result_code_id
,rc.result_code_ud

,crq.result_code_set_id
,rcs.result_code_set_ud

,crq.provider_network_id
,pn.provider_network_ud

,crq.provider_identifier_id
,pid.provider_ud

, crq.claim_form_type_id
,cft.claim_form_type_ud

, crq.fee_schedule_id
,fs.fee_schedule_ud

, crq.claim_date_type_id
, cdt.claim_date_type_ud
, crq.date_type_from_date
, crq.date_type_thru_date

, crq.product_id
, p.product_ud

,crq.active
,crq.created_user_name
,crq.created_group_id

,crq.created_date
,crq.modified_date

,crq.client_group_id
,gn.client_group_ud

,crq.family_eligibility_member_benefit_plan_id
,fembp.member_eligibility_ud

,crq.procedure_code_group_id
,pcg.procedure_code_group_ud

,crq.user_assigned_result_code_id
,rc1.result_code_ud as user_assigned_result_code_ud
,rc1.short_message
,rcsat.result_code_status_ud

FROM claim_readjudication_queue crq
left join result_code rc  ON rc.result_code_id = crq.result_code_id
left join result_code rc1  ON rc1.result_code_id = crq.user_assigned_result_code_id
left join result_code_status rcsat ON rcsat.result_code_status_id = rc1.result_code_status_id
left join result_code_set rcs  ON rcs.result_code_set_id = crq.result_code_set_id
left join provider_network pn  ON pn.provider_network_id = crq.provider_network_id
left join provider_identifier pid  ON pid.provider_identifier_id = crq.provider_identifier_id
left join claim_form_type cft ON cft.claim_form_type_id = crq.claim_form_type_id
left join fee_schedule fs ON fs.fee_schedule_id = crq.fee_schedule_id
left join claim_date_type cdt ON cdt.claim_date_type_id = crq.claim_date_type_id
left join product p ON p.product_id = crq.product_id
left join client_group g  ON g.client_group_id = crq.client_group_id
left join client_group_name gn ON (gn.client_group_id = g.client_group_id) AND (gn.primary_name = 1)
left join family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = crq.family_eligibility_member_benefit_plan_id
left join procedure_code_group pcg on pcg.procedure_code_group_id = crq.procedure_code_group_id

WHERE crq.claim_readjudication_queue_id = @claim_readjudication_queue_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
