USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_service_representative_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/26/2005	mttran		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single row in Assigned Service Representatives grid on Group form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_client_group_service_representative_delete]
(
@client_group_service_representative_id     int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159010052',
@ERROR_CANT_DELETE = '159010051'
--
IF NOT EXISTS (SELECT client_group_service_representative_id FROM client_group_service_representative WHERE client_group_service_representative_id = @client_group_service_representative_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
DELETE FROM client_group_service_representative
WHERE client_group_service_representative_id = @client_group_service_representative_id

IF @@ERROR <> 0
BEGIN
RETURN @SP_SUCCESS
END
END
--
RETURN @SP_SUCCESS
--
GO
