USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_grouping_assignment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/13/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/13/2010	eponomareff		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

DESCRIPTION:

Used to save an alternate_course_of_treatment_grouping_assignment
Used by grid: grdAltCourseGroupingAssignment
On form:  frmDentalAlternatePXTreatmentMap

******************************/

CREATE   PROCEDURE [dbo].[plx_alternate_course_grouping_assignment_save]
(
@alternate_course_of_treatment_grouping_assignment_id     INT = NULL   OUTPUT
,@alternate_course_of_treatment_map_id                    INT
,@ranking                                                 INT
,@procedure_code_id                                       INT = NULL
,@alternate_course_code_group_id                          INT = NULL
,@alternate_procedure_code_id                             INT = NULL
,@combine                                                 BIT = 0
,@pend_for_review                                         BIT = 0
,@active                                                  BIT = 1
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@alternate_course_of_treatment_grouping_assignment_id, 0) = 0
BEGIN
INSERT INTO alternate_course_of_treatment_grouping_assignment
(
alternate_course_of_treatment_map_id
,ranking
,procedure_code_id
,alternate_course_code_group_id
,alternate_procedure_code_id
,combine
,pend_for_review
,active
)
VALUES
(@alternate_course_of_treatment_map_id
,@ranking
,@procedure_code_id
,@alternate_course_code_group_id
,@alternate_procedure_code_id
,@combine
,@pend_for_review
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @alternate_course_of_treatment_grouping_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(SELECT * FROM alternate_course_of_treatment_grouping_assignment
WHERE
alternate_course_of_treatment_grouping_assignment_id = @alternate_course_of_treatment_grouping_assignment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE alternate_course_of_treatment_grouping_assignment
SET
alternate_course_of_treatment_map_id    = @alternate_course_of_treatment_map_id
,ranking                                 = @ranking
,procedure_code_id                       = @procedure_code_id
,alternate_course_code_group_id          = @alternate_course_code_group_id
,alternate_procedure_code_id             = @alternate_procedure_code_id
,combine                                 = @combine
,pend_for_review                         = @pend_for_review
,active                                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
alternate_course_of_treatment_grouping_assignment_id = @alternate_course_of_treatment_grouping_assignment_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
