USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_accounting_transaction_ap_load_show_locked_transactions_old]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NGA VU
May 31 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
03/16/2018  LHendrix		1.0		SP13104. Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find data for accounting transaction find form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_accounting_transaction_ap_load_show_locked_transactions_old] (
@get_column_headers BIT = 0
,@accounting_transaction_ap_ud NVARCHAR(100) = NULL
,@accounting_source_id INT = NULL
,@accounting_transaction_type_id INT = NULL
,@accounting_transaction_status_id INT = NULL
,@transaction_date DATETIME = NULL
,@transaction_amount NUMERIC(20, 10) = NULL
,@accounting_company_id INT = NULL
,@accounting_company_account_id INT = NULL
,@vendor_id INT = NULL
,@claim_id INT = NULL
,@show_exact_match BIT = 0
,@show_locked_transactions BIT = 1 -- Be default set to 1 to show it on Find Accounting Transaction form
,@manual_trx_with_treat_as_claims_payment_only BIT = 0
)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @PREFIX NVARCHAR(1)
,@SUFFIX NVARCHAR(1);

IF @show_exact_match = 1
SELECT @PREFIX = ''
,@SUFFIX = '';
ELSE
SELECT @PREFIX = '' -- sp13104 QC find forms expect the fuzzy search at the end of the variable
,@SUFFIX = '%';

IF @show_exact_match = 1
AND @accounting_transaction_ap_ud IS NOT NULL
BEGIN
SELECT DISTINCT TOP (dbo.fn_results_limit()) a.accounting_transaction_ap_id AS accounting_transaction_id
,a.accounting_transaction_ap_ud AS accounting_transaction_ud
,a.transaction_date AS transaction_date
,a.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 0) AS unapplied_amount
,a.accounting_source_id
,asrc.accounting_source_ud AS accounting_source_ud
,ats.accounting_transaction_status_ud AS accounting_transaction_status_ud
,atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud
,v.vendor_ud AS vendor_ud
,v.vendor_nm
,c.claim_ud
FROM accounting_transaction_ap a
LEFT JOIN accounting_source treat_as_accounting_source ON a.treat_as_accounting_source_id = treat_as_accounting_source.accounting_source_id
LEFT JOIN vendor v ON v.vendor_id = a.vendor_id
LEFT JOIN accounting_transaction_ap_claim_detail det ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id
LEFT JOIN claim c ON c.claim_id = det.claim_id
LEFT JOIN accounting_source asrc ON asrc.accounting_source_id = a.accounting_source_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_type atype ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_distribution atad ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca ON aca.accounting_company_account_id = atad.accounting_company_account_id
WHERE @get_column_headers = 0
AND (a.accounting_transaction_ap_ud = @accounting_transaction_ap_ud)
AND atype.golden_key <> 'Payment'
AND isnull(@accounting_source_id, a.accounting_source_id) = a.accounting_source_id
AND isnull(@accounting_transaction_type_id, a.accounting_transaction_ap_type_id) = a.accounting_transaction_ap_type_id
AND isnull(@accounting_transaction_status_id, a.accounting_transaction_status_id) = a.accounting_transaction_status_id
AND datediff(day, '1/1/1999', a.transaction_date) = CASE
WHEN @transaction_date IS NULL
THEN datediff(day, '1/1/1999', a.transaction_date)
ELSE datediff(day, '1/1/1999', @transaction_date)
END
AND isnull(@accounting_company_id, aca.accounting_company_id) = aca.accounting_company_id
AND isnull(@accounting_company_account_id, aca.accounting_company_account_id) = aca.accounting_company_account_id
AND isnull(@vendor_id, a.vendor_id) = a.vendor_id
-- allow for manual transactions (null claim_id) if @claim_id not specified
AND (@claim_id is null OR @claim_id = det.claim_id)
AND isnull(@transaction_amount, a.transaction_amount) = a.transaction_amount
AND (
isnull(@manual_trx_with_treat_as_claims_payment_only, 0) = 0
OR (
asrc.golden_key = 'Manual Transaction'
AND treat_as_accounting_source.golden_key = 'Claims'
AND ats.golden_key = 'AVAILABLE'
)
);
END;
ELSE
BEGIN
IF @vendor_id IS NOT NULL
SELECT DISTINCT TOP (dbo.fn_results_limit()) a.accounting_transaction_ap_id AS accounting_transaction_id
,a.accounting_transaction_ap_ud AS accounting_transaction_ud
,a.transaction_date AS transaction_date
,a.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 0) AS unapplied_amount
,a.accounting_source_id
,asrc.accounting_source_ud AS accounting_source_ud
,ats.accounting_transaction_status_ud AS accounting_transaction_status_ud
,atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud
,v.vendor_ud AS vendor_ud
,v.vendor_nm
,c.claim_ud
FROM accounting_transaction_ap a
LEFT JOIN accounting_source treat_as_accounting_source ON a.treat_as_accounting_source_id = treat_as_accounting_source.accounting_source_id
INNER JOIN vendor v ON v.vendor_id = a.vendor_id
LEFT JOIN accounting_transaction_ap_claim_detail det ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id
LEFT JOIN claim c ON c.claim_id = det.claim_id
LEFT JOIN accounting_source asrc ON asrc.accounting_source_id = a.accounting_source_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_type atype ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_distribution atad ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca ON aca.accounting_company_account_id = atad.accounting_company_account_id
WHERE @get_column_headers = 0
AND (
a.accounting_transaction_ap_ud LIKE (@PREFIX + @accounting_transaction_ap_ud + @SUFFIX)
OR @accounting_transaction_ap_ud IS NULL
)
AND atype.golden_key <> 'Payment'
AND isnull(@accounting_source_id, a.accounting_source_id) = a.accounting_source_id
AND isnull(@accounting_transaction_type_id, a.accounting_transaction_ap_type_id) = a.accounting_transaction_ap_type_id
AND isnull(@accounting_transaction_status_id, a.accounting_transaction_status_id) = a.accounting_transaction_status_id
AND datediff(day, '1/1/1999', a.transaction_date) = CASE
WHEN @transaction_date IS NULL
THEN datediff(day, '1/1/1999', a.transaction_date)
ELSE datediff(day, '1/1/1999', @transaction_date)
END
AND isnull(@accounting_company_id, aca.accounting_company_id) = aca.accounting_company_id
AND isnull(@accounting_company_account_id, aca.accounting_company_account_id) = aca.accounting_company_account_id
AND @vendor_id = a.vendor_id
-- allow for manual transactions (null claim_id) if @claim_id not specified
AND (@claim_id is null OR @claim_id = det.claim_id)
AND isnull(@transaction_amount, a.transaction_amount) = a.transaction_amount
AND (
isnull(@manual_trx_with_treat_as_claims_payment_only, 0) = 0
OR (
asrc.golden_key = 'Manual Transaction'
AND treat_as_accounting_source.golden_key = 'Claims'
AND ats.golden_key = 'AVAILABLE'
)
);
ELSE
SELECT DISTINCT TOP (dbo.fn_results_limit()) a.accounting_transaction_ap_id AS accounting_transaction_id
,a.accounting_transaction_ap_ud AS accounting_transaction_ud
,a.transaction_date AS transaction_date
,a.transaction_amount
,dbo.plx_fn_get_unapplied_amount_for_transaction(a.accounting_transaction_ap_id, 0) AS unapplied_amount
,a.accounting_source_id
,asrc.accounting_source_ud AS accounting_source_ud
,ats.accounting_transaction_status_ud AS accounting_transaction_status_ud
,atype.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud
,v.vendor_ud AS vendor_ud
,v.vendor_nm
,c.claim_ud
FROM accounting_transaction_ap a
LEFT JOIN accounting_source treat_as_accounting_source ON a.treat_as_accounting_source_id = treat_as_accounting_source.accounting_source_id
LEFT JOIN vendor v ON v.vendor_id = a.vendor_id
LEFT JOIN accounting_transaction_ap_claim_detail det ON a.accounting_transaction_ap_id = det.accounting_transaction_ap_id
LEFT JOIN claim c ON c.claim_id = det.claim_id
LEFT JOIN accounting_source asrc ON asrc.accounting_source_id = a.accounting_source_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = a.accounting_transaction_status_id
LEFT JOIN accounting_transaction_ap_type atype ON atype.accounting_transaction_ap_type_id = a.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_distribution atad ON atad.accounting_transaction_ap_id = a.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca ON aca.accounting_company_account_id = atad.accounting_company_account_id
WHERE @get_column_headers = 0
AND (
a.accounting_transaction_ap_ud LIKE (@PREFIX + @accounting_transaction_ap_ud + @SUFFIX)
OR @accounting_transaction_ap_ud IS NULL
)
AND atype.golden_key <> 'Payment'
AND isnull(@accounting_source_id, a.accounting_source_id) = a.accounting_source_id
AND isnull(@accounting_transaction_type_id, a.accounting_transaction_ap_type_id) = a.accounting_transaction_ap_type_id
AND isnull(@accounting_transaction_status_id, a.accounting_transaction_status_id) = a.accounting_transaction_status_id
AND datediff(day, '1/1/1999', a.transaction_date) = CASE
WHEN @transaction_date IS NULL
THEN datediff(day, '1/1/1999', a.transaction_date)
ELSE datediff(day, '1/1/1999', @transaction_date)
END
AND isnull(@accounting_company_id, aca.accounting_company_id) = aca.accounting_company_id
AND isnull(@accounting_company_account_id, aca.accounting_company_account_id) = aca.accounting_company_account_id
AND isnull(@vendor_id, a.vendor_id) = a.vendor_id
-- allow for manual transactions (null claim_id) if @claim_id not specified
AND (@claim_id is null OR @claim_id = det.claim_id)
AND isnull(@transaction_amount, a.transaction_amount) = a.transaction_amount
AND (
isnull(@manual_trx_with_treat_as_claims_payment_only, 0) = 0
OR (
asrc.golden_key = 'Manual Transaction'
AND treat_as_accounting_source.golden_key = 'Claims'
AND ats.golden_key = 'AVAILABLE'
)
);
END;

SET NOCOUNT OFF;
END;
GO
