USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_result_code_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
DATE: 10/25/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/25/2006	tpnguyen	1.0			create
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the adjudication_result_code table.
--
REQUIREMENTS:
--
INPUTS:
@adjudication_result_code_id - Key to adjudication_result_code table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_adjudication_result_code_delete]
(
@adjudication_result_code_id                int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --

--
IF NOT EXISTS (SELECT * FROM adjudication_result_code WHERE adjudication_result_code_id = @adjudication_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM adjudication_result_code_override
WHERE adjudication_result_code_id = @adjudication_result_code_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

DECLARE @claim_procedure_id INT
SELECT @claim_procedure_id = claim_procedure_id
FROM adjudication_result_code
WHERE adjudication_result_code_id = @adjudication_result_code_id

DELETE FROM adjudication_result_code
WHERE adjudication_result_code_id = @adjudication_result_code_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--

IF @RowCountVar > 0
BEGIN
DECLARE @READJUDICATE_ADJUDICATION_STATUS_ID INT =
(SELECT adjudication_status_id FROM adjudication_status WHERE golden_key = 'READJUDICATE')

UPDATE claim
SET claim.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim
JOIN adjudication_status adj_stat
ON claim.adjudication_status_id = adj_stat.adjudication_status_id
JOIN claim_procedure cp
ON claim.claim_id = cp.claim_id
JOIN adjudication_result_code arc
ON cp.claim_procedure_id = arc.claim_procedure_id
WHERE
arc.claim_procedure_id = @claim_procedure_id
AND
adj_stat.golden_key <> 'OPEN' AND adj_stat.golden_key IS NOT NULL;
END

RETURN @SP_SUCCESS
--
GO
