USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_records_in_use]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
@array_ids INT  - keys
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
-- plx_check_records_in_use 'customer', 'customer_id', '1,2,3,4,5,6,7', 'accounting_transaction_ar,accounting_transaction_ar_id'
CREATE             PROCEDURE [dbo].[plx_check_records_in_use]
(
@table_name	SYSNAME = NULL 				-- example: 'customer'
,@column_name	SYSNAME = NULL 				-- example: 'customer_id'
,@array_ids	NVARCHAR(4000) = NULL 			-- example: '1,2,3'
,@array_table_to_check	NVARCHAR(4000) = NULL 	-- example: 'customer,customer_id,accounting_transaction_ar,accounting_transaction_ar_id'
)
AS
BEGIN

DECLARE
@SP_DELETE_ABLE   int
,@SP_DELETE_UNABLE int
,@SP_EXCEPTION int
,@result int
,@SqlQuery NVARCHAR(4000)
,@parm_definition NVARCHAR(500)
SELECT
@SP_DELETE_ABLE = 1
,@SP_DELETE_UNABLE = 0
,@SP_EXCEPTION = -1
,@result = @SP_DELETE_ABLE
,@SqlQuery = ''
,@parm_definition = N'@result INT OUTPUT'


IF @table_name IS NULL OR @array_ids IS NULL
BEGIN
RETURN @SP_DELETE_ABLE -- do not have any ids
END

SET @SqlQuery = '
IF EXISTS (SELECT	*
FROM	' + @table_name + '
WHERE	' + @column_name + ' IN (' + @array_ids  + ')
)
SET @result = 1 -- existed ids
ELSE
SET @result = 0 -- not existed ids, can delete
'

EXEC sp_executesql @SqlQuery, @parm_definition, @result OUTPUT
IF @result = 0 -- not existed ids
RETURN @SP_DELETE_ABLE


----  build list of all child tables
CREATE TABLE #fkeys (
TABLE_NAME sysname )
insert into #fkeys
SELECT * FROM plx_fn_split_string(@array_table_to_check , ',')


declare fk scroll cursor for
select * from #fkeys

OPEN FK
declare
@fk_table_name sysname
,@fk_column_name sysname

fetch first FROM fk into @fk_table_name
IF (@@fetch_status = 0)
fetch next FROM fk into @fk_column_name

while (@@fetch_status = 0) AND (@result = @SP_DELETE_ABLE)
begin
-- check each child table
SET @SqlQuery = '
IF EXISTS (SELECT	*
FROM	' + @fk_table_name + '
WHERE	' + @fk_column_name + ' IN (' + @array_ids  + ')
)
SET @result = 0 -- ids inused, can not delete
ELSE
SET @result = 1 -- ids not inused for this object
'

EXEC sp_executesql @SqlQuery, @parm_definition, @result OUTPUT

IF (@result = @SP_DELETE_UNABLE) -- ids in use
BEGIN
print (@array_ids + ' in table ' + @table_name + ' is in use by table ' + @fk_table_name)
END

fetch next FROM fk into @fk_table_name
IF (@@fetch_status = 0)
fetch next FROM fk into @fk_column_name
end

IF (@result = @SP_DELETE_ABLE)
print (@array_ids + ' in table ' + @table_name + ' is not in use')

drop table #fkeys
CLOSE fk
deallocate fk


RETURN @result
END
GO
