USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/15/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/06/2006      Trinh Le                Change column period_id to column accumulator_period_id
02/09/2006      Trinh Le                Change column accumulator_period_id to column unit_day_month_year_id
02/21/2006	Thuy Ha						Change column rollover_type_id to accumulator_rollover_type_id
02/28/2006	Trinh Le					Change column accumulator_rollover_type_id to rollover_type_id
02/20/2008	David Slayton	1.4			Remove columns accumulator_class_id, accumulator_nm, description
episode_category_id, and episode_type_id.
04/11/2017  Aaron Mortensen 1.5         RT:11124 adding annual rollover options from benefit contract to accumulator rollover
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Load accumulator by id
--
REQUIREMENTS:
--
INPUTS:
accumulator_id
--
OUTPUTS:
a accumulator record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_accumulator_load](
@accumulator_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
accumulator.accumulator_id
,accumulator.accumulator_ud
,accumulator.accumulator_rollover_type_id as accumulator_rollover_type_id
,accumulator.unit_day_month_year_id
,accumulator.rollover_moving_period_number
,accumulator.restart_accumulator_month_id
,accumulator.restart_accumulator_day_of_month
,accumulator.restart_accumulator_number_of_months
,accumulator.accumulator_start_date
,accumulator.active
,accumulator.created_user_name
,accumulator.created_group_id
,accumulator.created_date
,accumulator.modified_date
FROM accumulator
WHERE accumulator.accumulator_id = @accumulator_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
