USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_geo_factor_term]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: C. Maddox
;
REVISION_HISTORY:

Date      Modified By  Version  Description
--------------------------------------------------------------------------------
2009/10/10  C. Maddox  1.0      Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure terms existing UCR geographic factor tables for
specified module and region

;
REQUIREMENTS:


;
INPUTS:

@ucr_module_id - The UCR module that this code belongs to
@ucr_region_id - The region for this code
@effective_date - The new effective date for the codes imported

;
OUTPUTS:

;
RETURN_VALUES:

0	Success
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_code_import_geo_factor_term]
(
@ucr_module_id AS INT,
@ucr_region_id AS INT,
@effective_date As DATETIME
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- Term out the existing codes
DECLARE @TERM_DATE DATETIME
SET @TERM_DATE = DATEADD(dd,-1, @effective_date)

UPDATE ucr_geographic_factor SET effective_thru = @TERM_DATE
WHERE
ucr_module_id = @ucr_module_id
AND
ucr_region_id = @ucr_region_id
AND
effective_thru IS NULL
AND
effective_from < @effective_date

RETURN @SP_SUCCESS
GO
