USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_claim_cob_payer_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_sp_claim_cob_payer_backup]
as
begin

--exec dbo.bind_sp_claim_cob_payer_backup

with cte_update as (
SELECT  [claim_cob_payer_id]
      ,[claim_id]
      ,[sequence_id]
      ,[cob_member_commercial_health_plan_id]
      ,[cob_member_governmental_health_plan_id]
      ,[net_pay]
      ,[allowed_amount]
      ,[other_insurance_payment_date]
      ,[active]
      ,[created_user_name]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
  FROM [qc_core].[dbo].[claim_cob_payer]
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
) --select * from cte_update

   merge into import.dbo.claim_cob_payer_CAQH_BK as T
    using cte_update as S
        on T.claim_cob_payer_id = S.claim_cob_payer_id
    when not matched then
        insert ([claim_cob_payer_id]
      ,[claim_id]
      ,[sequence_id]
      ,[cob_member_commercial_health_plan_id]
      ,[cob_member_governmental_health_plan_id]
      ,[net_pay]
      ,[allowed_amount]
      ,[other_insurance_payment_date]
      ,[active]
      ,[created_user_name]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
      ,[object_row_version]
      )
      Values (
      s.[claim_cob_payer_id]
      ,s.[claim_id]
      ,s.[sequence_id]
      ,s.[cob_member_commercial_health_plan_id]
      ,s.[cob_member_governmental_health_plan_id]
      ,s.[net_pay]
      ,s.[allowed_amount]
      ,s.[other_insurance_payment_date]
      ,s.[active]
      ,s.[created_user_name]
      ,s.[created_date]
      ,s.[modified_date]
      ,s.[modified_user_name]
      ,s.[object_row_version]
      )
        when matched then
            update set 
            t.[claim_cob_payer_id] = s.[claim_cob_payer_id],
            t.[claim_id] = s.[claim_id],
            t.[sequence_id] = s.[sequence_id],
            t.[cob_member_commercial_health_plan_id] = s.[cob_member_commercial_health_plan_id],
            t.[cob_member_governmental_health_plan_id] = s.[cob_member_governmental_health_plan_id],
            t.[net_pay] = s.[net_pay],
            t.[allowed_amount] = s.[allowed_amount],
            t.[other_insurance_payment_date] = s.[other_insurance_payment_date],
            t.[active] = s.[active],
            t.[created_user_name] = s.[created_user_name],
            t.[created_date] = s.[created_date],
            t.[modified_date] = s.[modified_date],
            t.[modified_user_name] = s.[modified_user_name],
            t.[object_row_version] = s.[object_row_version]

      ;

end
GO
