USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_eligibility_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_eligibility_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
family_eligibility_id
,family_eligibility_ud
FROM family_eligibility
ORDER BY family_eligibility_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
