USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_coverage_incentive_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
April 7 2011  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2011	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Find coverage_incentive that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@coverage_incentive_ud
@description
@benefit_amount
@max_incentive_amount_balance
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_coverage_incentive_load]
(
@coverage_incentive_ud			NVARCHAR(50) = NULL
,@description NVARCHAR(255) = NULL
,@benefit_amount numeric(20,10) = NULL
,@max_incentive_amount_balance numeric(20,10) = NULL
,@show_exact_matches		BIT = 0
)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @coverage_incentive_ud IS NOT NULL AND @coverage_incentive_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ci.coverage_incentive_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@coverage_incentive_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ci.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @benefit_amount IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND ben_per_year.amount = ' + CAST(@benefit_amount AS NVARCHAR(50))

IF @max_incentive_amount_balance IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND max_incentive.amount = ' + CAST(@max_incentive_amount_balance AS NVARCHAR(50))

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
ci.coverage_incentive_id
,ci.coverage_incentive_ud
,ci.description
FROM  dbo.coverage_incentive ci
LEFT JOIN coverage_incentive_benefit ben_per_year
ON ci.coverage_incentive_id = ben_per_year.coverage_incentive_id
LEFT JOIN coverage_incentive_max_balance max_incentive
ON ci.coverage_incentive_id = max_incentive.coverage_incentive_id
'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY ci.coverage_incentive_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
