USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   09/08/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Capitation manual run detail deletion
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_manual_run_detail_delete]
(
@capitation_manual_run_detail_id                  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0
--
DELETE FROM capitation_manual_run_detail
WHERE capitation_manual_run_detail_id = isnull(@capitation_manual_run_detail_id,0)
--
RETURN @SP_SUCCESS
GO
