USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_form_for_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/05/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/05/2006	mttran			0.5		ALTER
03/05/2006	ngavu					Change query to limit data as much as possible
by moving the criteria into INNER JOIN clause
03/23/2009	eponomareff		1.3		Add security
05/02/2009	eponomareff		1.4		Add security flag enforcement
05/12/2009	David Slayton	1.5		Added ability to short circuit where clause to just return column names.
09/19/2013	lrenard			1.6		Removed subscriber criteria comparisons because subscriber does not have to be the one on the claim
02/10/2017	jbernard		1.7		SP11517 - HNFS major performance issue with find claim forms
--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
To generate query string to find member criteria in claim find form.
This is a sub-procedure of claim find form (plx_find_claim_form_load).
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_claim_form_for_member_load] (
@get_column_headers BIT = 0 ,
@patient_eligibility_id INT = NULL ,
@patient_member_id INT = NULL ,
@patient_number nVARCHAR(50) = NULL OUTPUT ,
@subscriber_eligibility_id INT = NULL ,
@subscriber_name_last nVARCHAR(100) = NULL OUTPUT ,
@subscriber_name_first nVARCHAR(100) = NULL OUTPUT ,
@benefit_category_id INT = NULL ,
@benefit_sub_category_id INT = NULL ,
@benefit_contract_id INT = NULL ,
@client_id INT = NULL ,
@client_group_id INT = NULL ,
@benefit_plan_id INT = NULL ,
@show_exact_match BIT = 0 ,
@sql_result nvarchar(max) = NULL OUTPUT
--security
,
@security_credential NVARCHAR(255) = NULL ,
@active_directory_security_user_roles udtt_security_roles readonly,
@NumRecords INT = NULL , -- Ability to limit records returned by this sp removed; was producing inacurate results. (SP15142)
@search_on_name BIT = 0 -- does not appear to be used
)
AS
BEGIN

--
--SP11931 - Find Claim Form - Causing Blocking
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;
--
DECLARE @sql_query nVARCHAR(4000) ,
@sql_condition nVARCHAR(4000) ,
@Prefix VARCHAR(10) ,
@Suffix VARCHAR(10);

SET @sql_query = '';

IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = '''';
END;
ELSE
BEGIN
SET @Prefix = 'LIKE N''';
SET @Suffix = '%''';
END;

SET @sql_query = @sql_query
+ '
SELECT	DISTINCT
member.member_id
,member_name.name_last
,member_name.name_first
,member_name.name_middle
,pid.id_value as member_pid
,eligibility.family_eligibility_member_benefit_plan_id AS member_eligibility_id
,eligibility.member_eligibility_ud
,family_eligibility.family_eligibility_id

FROM
-- member info
dbo.member
INNER JOIN dbo.member_name
ON	dbo.member.member_id = member_name.member_id
AND	member_name.is_primary = 1
';

IF ISNULL(@patient_member_id, 0) > 0
SET @sql_query = @sql_query
+ ' AND member.member_id = @patient_member_id';

SET @sql_query = @sql_query
+ '
LEFT JOIN dbo.member_personal_id pid
ON member.member_id = pid.member_id
AND pid.member_id_type_id = (select member_id_type_id from member_id_type where golden_key = ''PID'')
INNER JOIN dbo.family_eligibility_member
ON family_eligibility_member.member_id = member.member_id
INNER JOIN dbo.family_eligibility
ON family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
';

IF ISNULL(@benefit_contract_id, 0) > 0   -- These three joins need benefit_contract
OR ISNULL(@security_credential, '') <> ''
OR ISNULL(@client_group_id, 0) > 0
BEGIN
SET @sql_query = @sql_query
+ ' INNER JOIN dbo.benefit_contract
ON benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id ';

IF ISNULL(@benefit_contract_id, 0) > 0
SET @sql_query = @sql_query
+ ' AND benefit_contract.benefit_contract_id =  @benefit_contract_id';
END;

SET @sql_query = @sql_query
+ '
INNER JOIN dbo.family_eligibility_member_benefit_plan eligibility
ON eligibility.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id ';

IF ISNULL(@patient_eligibility_id, 0) > 0
SET @sql_query = @sql_query
+ ' AND eligibility.family_eligibility_member_benefit_plan_id = @patient_eligibility_id ';

IF ISNULL(@benefit_plan_id, 0) > 0
OR ISNULL(@benefit_category_id, 0) > 0
BEGIN
SET @sql_query = @sql_query
+ ' INNER JOIN dbo.benefit_plan
ON eligibility.benefit_plan_id = benefit_plan.benefit_plan_id ';
IF ISNULL(@benefit_plan_id, 0) > 0
SET @sql_query = @sql_query
+ ' AND benefit_plan.benefit_plan_id = @benefit_plan_id ';

IF ISNULL(@benefit_category_id, 0) > 0
BEGIN
SET @sql_query = @sql_query
+ ' INNER JOIN dbo.benefit_framework
ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
AND benefit_framework.benefit_category_id = @benefit_category_id';

IF ISNULL(@benefit_sub_category_id, 0) > 0
SET @sql_query = @sql_query
+ ' AND benefit_framework.benefit_sub_category_id = @benefit_sub_category_id ';
END;
END;
IF ISNULL(@client_group_id, 0) > 0
OR ISNULL(@client_id, 0) > 0
BEGIN
SET @sql_query = @sql_query
+ '	INNER JOIN dbo.client_group ON dbo.benefit_contract.client_group_id = dbo.client_group.client_group_id ';

IF ISNULL(@client_group_id, 0) > 0
SET @sql_query = @sql_query
+ '	AND client_group.client_group_id = @client_group_id ';

IF ISNULL(@client_id, 0) > 0
SET @sql_query = @sql_query
+ ' INNER JOIN dbo.client ON dbo.client_group.client_id = dbo.client.client_id AND client.client_id = @client_id ';
END;
IF @subscriber_name_last IS NOT NULL
OR @subscriber_name_first IS NOT NULL
BEGIN
SET @search_on_name = 1;

SET @sql_query = @sql_query
+ '
-- subcriber (subscriber name is included in search)
INNER JOIN (
SELECT f.family_eligibility_id
,f.family_eligibility_member_id
,f.member_id
,eligibility1.family_eligibility_member_benefit_plan_id subscriber_eligibility_id
,member_name.name_last
,member_name.name_first
FROM dbo.family_eligibility_member f
INNER JOIN dbo.relationship_to_insured
ON f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
AND relationship_to_insured.golden_key IN (''SELF'',''GUARANTOR'')
LEFT JOIN dbo.family_eligibility_member_benefit_plan eligibility1
ON eligibility1.family_eligibility_member_id = f.family_eligibility_member_id
INNER JOIN dbo.member
ON f.member_id = member.member_id
INNER JOIN dbo.member_name
ON dbo.member.member_id = member_name.member_id
AND member_name.is_primary = 1
) AS subscriber
ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
';
END;
ELSE -- subscriber name is not specified
SET @sql_query = @sql_query
+ '
-- subcriber (subscriber name is not specified in search)
INNER JOIN (
SELECT  f.family_eligibility_id
,f.family_eligibility_member_id
,f.member_id
,eligibility1.family_eligibility_member_benefit_plan_id subscriber_eligibility_id
FROM dbo.family_eligibility_member f
INNER JOIN dbo.relationship_to_insured
ON f.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
AND relationship_to_insured.golden_key IN (''SELF'',''GUARANTOR'')
LEFT JOIN dbo.family_eligibility_member_benefit_plan eligibility1
ON eligibility1.family_eligibility_member_id = f.family_eligibility_member_id
) AS subscriber
ON subscriber.family_eligibility_id = family_eligibility.family_eligibility_id
';

-----------------------------------
--Security - Data Security addition
-----------------------------------
--determine whether security is invoked -  if no security_credential is passed, security is not invoked
IF ISNULL(@security_credential, '') <> ''
BEGIN
--determine whether this user has any role which are not restricted by security
IF dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1
BEGIN
--declare and instantiate security strings
DECLARE @SqlSecurityQueryAddition NVARCHAR(1000);
SET @SqlSecurityQueryAddition = '';

--(1) ensure eligibilites are not restricted by security flags on member
--(2) ensure benefit contracts associated with eligibilities are allowed, assuming all episodes must have elig, which must have bc associated.
SET @SqlSecurityQueryAddition = '
INNER JOIN #security_allowed_benefit_contracts AS abc
ON abc.benefit_contract_id = benefit_contract.benefit_contract_id
';
--add to the main find query to execute
SET @sql_query = @sql_query
+ @SqlSecurityQueryAddition;
END;
END;
--------------
--end security
--------------

IF ( @subscriber_eligibility_id IS NOT NULL )
SET @sql_query += N' AND subscriber.subscriber_eligibility_id = @subscriber_eligibility_id';


if isnull(@subscriber_name_last,'') <> ''
begin
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'subscriber.name_last',
@variable_name = '@subscriber_name_last',
@variable_value = @subscriber_name_last OUTPUT,
@where = @sql_query OUTPUT,
@show_exact_matches = @show_exact_match;
end
if isnull(@subscriber_name_first,'') <>''
begin
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'subscriber.name_first',
@variable_name = '@subscriber_name_first',
@variable_value = @subscriber_name_first OUTPUT,
@where = @sql_query OUTPUT,
@show_exact_matches = @show_exact_match;
end

-- condition string
SET @sql_condition = ' WHERE '
+ CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ';

if isnull(@patient_number,'') <> ''
begin
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'pid.id_value',
@variable_name = '@patient_number',
@variable_value = @patient_number OUTPUT,
@where = @sql_condition OUTPUT,
@show_exact_matches = @show_exact_match;
end
--IF @search_on_name = 1
--    BEGIN
--        SET @sql_condition += N' option (OPTIMIZE FOR (';
--        IF @subscriber_name_last IS NOT NULL
--            SET @sql_condition += N'@subscriber_name_last =500))';
--        ELSE
--            SET @sql_condition += N'@subscriber_name_first =500))';
--    END;
print 'Find_member'
print @patient_number
PRINT ( @sql_query );
PRINT ( @sql_condition );
print 'end Find_member'
SET @sql_result = @sql_query + @sql_condition;



END;
GO
