USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_applied_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/20/2008	lrenard			1.0			created
10/24/2008	wchristensen	1.1			removed voided payments from results
10/25/2008	wchristensen	1.2			Added golden key for transaction type
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load applied transaction info  for Accounting Transaction Details form (Applied Transactions grid).
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_applied_transactions_load]
(
@accounting_transaction_id			int = NULL,
@is_AP							bit = 1
)
AS
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

IF (isnull(@is_AP,1) = 1)
BEGIN
SELECT DISTINCT
ataat.from_accounting_transaction_ap_id as transaction_id
,ata.accounting_transaction_ap_ud as transaction_ud
,ata.accounting_transaction_ap_type_id as transaction_type_id
,atat.accounting_transaction_ap_type_ud as transaction_type_ud
,atat.golden_key as transaction_type_golden_key
,ataat.amount
,ataat.date
,1 as is_AP
FROM accounting_transaction_ap_apply_to ataat
LEFT JOIN accounting_transaction_ap ata ON ata.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_type atat ON atat.accounting_transaction_ap_type_id = ata.accounting_transaction_ap_type_id
LEFT JOIN accounting_transaction_ap_payment_detail paydetail ON ata.accounting_transaction_ap_id = paydetail.accounting_transaction_ap_id
LEFT JOIN accounting_payment_status paystat ON paydetail.accounting_payment_status_id = paystat.accounting_payment_status_id
WHERE ataat.to_accounting_transaction_ap_id = @accounting_transaction_id
AND ISNULL(paystat.golden_key, 'OK') <> 'VOIDED' -- don't include voided payments
END


RETURN @SP_SUCCESS
GO
