USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_volume_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_volume_delete] (@benefit_contract_period_benefit_plan_volume_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_DELETE NVARCHAR(50)
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@ERROR_NOT_EXIST = '1052800009'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_DELETE = '105280012'
,@SP_EXCEPTION = - 1 --
--

IF NOT EXISTS (
SELECT *
FROM benefit_contract_period_benefit_plan_volume
WHERE benefit_contract_period_benefit_plan_volume_id = @benefit_contract_period_benefit_plan_volume_id
)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE
FROM benefit_contract_period_benefit_plan_volume
WHERE benefit_contract_period_benefit_plan_volume_id = @benefit_contract_period_benefit_plan_volume_id
END

--
RETURN @SP_SUCCESS
--
GO
