USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_procedure_for_pred_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
03/02/2018	amortensen		1.1		RT:9662 - Updating to return billing provider instead of rendering provider


HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_find_claim_procedure_for_pred_load]
@claim_id								INT = NULL
--,@get_column_headers					BIT = 0
AS
BEGIN
--
--
SET NOCOUNT ON
--

SELECT DISTINCT
c.claim_id
,fembcpbp.family_eligibility_member_benefit_plan_id as patient_id
,m.member_id
,dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, NULL) AS patient_name
,CASE
WHEN cgn.client_group_ud IS NOT NULL THEN
CASE WHEN cn.client_ud IS NOT NULL THEN
ISNULL(CONVERT(NVARCHAR, cn.client_ud), '') + ' / ' + ISNULL(cgn.client_group_ud, '')
ELSE
cgn.client_group_ud
END
ELSE
cn.client_ud
END
AS group_client_ud
,bp.benefit_plan_id
,bp.benefit_plan_ud
,bc.benefit_contract_id
,bc.benefit_contract_ud
,NULL as referring_provider_ud
,NULL as referring_provider_id
,pn.provider_id
,dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, NULL) AS provider_name
,r.referral_id
,r.referral_ud as prior_authorization_number
,po.practice_office_id
,po.practice_office_ud
,episode.episode_id
,episode.episode_ud
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'DEDUCTIBLE'), 0) as total_deduct
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'NETPAYAMOUNT'), 0) as total_paid
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'MEMBERINELIGIBLEAMOUNT'), 0) as total_member_resp
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'BILLED'), 0) as total_billed
,c.created_date as entered_date
,adjudication_status.adjudication_status_ud
,claim_form_type.claim_form_type_ud

FROM claim c
LEFT JOIN family_eligibility_member_benefit_plan fembcpbp ON fembcpbp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem on fem.family_eligibility_member_id = fembcpbp.family_eligibility_member_id
LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id
LEFT JOIN member m ON m.member_id = fem.member_id
LEFT JOIN member_name mn ON mn.member_id = m.member_id AND mn.is_primary = 1
LEFT JOIN relationship_to_insured rti ON rti.relationship_to_insured_id = fem.relationship_to_insured_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = fe.benefit_contract_id

LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN client_group_name cgn ON cgn.client_group_id = cg.client_group_id AND cgn.primary_name = 1

LEFT JOIN client cl ON cl.client_id = cg.client_id
LEFT JOIN client_name cn ON cn.client_id = cl.client_id AND cn.primary_name = 1

LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = fembcpbp.benefit_plan_id
LEFT JOIN referral r ON r.referral_id = c.referral_id
LEFT JOIN provider p ON p.provider_id = c.billing_provider_id
LEFT JOIN provider_name pn ON p.provider_id = pn.provider_id and pn.is_primary = 1
LEFT JOIN practice_office po ON po.practice_office_id = c.practice_office_id
LEFT JOIN episode ON episode.episode_id = c.episode_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = c.adjudication_status_id
INNER JOIN claim_form_type ON claim_form_type.claim_form_type_id = c.claim_form_type_id

WHERE c.claim_id = @claim_id
--AND CONVERT(NVARCHAR(1), @get_column_headers) = 0


END
GO
