USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_type_of_bill_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungNguyen

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
07/05/2006	HungTNguyen		1.0		Created
05/16/2008	Vishwa Jella	2.0		updated with description field and modified search query
05/13/2009	David Slayton	2.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		2.2		Added returnset limitations
--
CURRENT_VERSION: 2.2
--
DESCRIPTION:
The procedure is used to find the types of bill set that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_find_type_of_bill_set_load]
(
@get_column_headers			BIT = 0,
@type_of_bill_set_ud 	nvarchar(50)=null,
@description 		nvarchar(255) = null,
@show_exact_matches 	bit	= 0
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(1000)
,@SqlCondition	NVARCHAR(500)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= '''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE '''
SET @Suffix = '%'''
END
IF @type_of_bill_set_ud IS NOT NULL AND @type_of_bill_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(type_of_bill_set.type_of_bill_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@type_of_bill_set_ud,@show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(type_of_bill_set.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
'	SELECT TOP (dbo.fn_results_limit()) '+
' type_of_bill_set.type_of_bill_set_id,	' +
' type_of_bill_set.type_of_bill_set_ud,	' +
' type_of_bill_set.description '+
' FROM 	type_of_bill_set '

EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
