USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_taxonomy_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa
DATE: 07/27/2011
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down taxonomy_type
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_taxonomy_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
taxonomy_type_id
,taxonomy_type_ud
FROM taxonomy_type
ORDER BY taxonomy_type_ud
--
RETURN @SP_SUCCESS
GO
