USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_subdivision_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
11/16/2006	mttran					remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data of  an  employee division
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_employee_subdivision_save]
(
@employee_subdivision_id                    int = NULL   OUTPUT
,@employee_division_id                       int = NULL
,@employee_subdivision_ud                    nvarchar(50) = NULL
,@employee_subdivision_name                  nvarchar(100) = NULL
,@employee_subdivision_desc                                nvarchar(255) = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010020',
@ERROR_CANT_INSERT 	= '159010018',
@ERROR_CANT_UPDATE 	= '159010019'
--
IF ISNULL(@employee_subdivision_id, 0) <= 0
BEGIN
-- Create a new employee_subdivision record
INSERT INTO employee_subdivision(
employee_division_id
,employee_subdivision_ud
,employee_subdivision_name
,description
,active
)
VALUES
(@employee_division_id
,@employee_subdivision_ud
,@employee_subdivision_name
,@employee_subdivision_desc
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @employee_subdivision_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT employee_subdivision_id FROM employee_subdivision WHERE employee_subdivision_id = @employee_subdivision_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
-- Updating an existing employee_division record
UPDATE 	employee_subdivision
SET
employee_division_id                     = @employee_division_id
,employee_subdivision_ud                  = @employee_subdivision_ud
,employee_subdivision_name                = @employee_subdivision_name
,description                              = @employee_subdivision_desc
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE 	employee_subdivision_id = @employee_subdivision_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
