USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_get_adjudication_claim_details]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[bind_get_adjudication_claim_details]
 @includeExternalIdentifier bit,
 @checkNumber nvarchar(200) = null,
 @claimUds dbo.bind_claim_identifier readonly,
 @masterClaimIds dbo.bind_claim_identifier readonly,
 @intermediaryClaimIds dbo.bind_claim_identifier readonly,
 @isReversal bit = null
as
begin
if exists(select 1 from @claimUds)
 begin
    exec bind_get_adjudication_claim_details_claim_uds @claimUds, @includeExternalIdentifier, @isReversal;
 end else
if exists(select 1 from @intermediaryClaimIds)
 begin
    exec bind_get_adjudication_claim_details_intermediary_claim_ids @intermediaryClaimIds, @includeExternalIdentifier, @isReversal;
 end else
if exists(select 1 from @masterClaimIds)
 begin
    exec bind_get_adjudication_claim_details_master_claim_ids @masterClaimIds, @includeExternalIdentifier, @isReversal;
 end else
begin
    declare @sql nvarchar(max);
 declare @params nvarchar(max);
 set @sql = '
with payment_penalty_cte as ( 
 select
  atacd.claim_procedure_id
  , ata.accounting_transaction_ap_id
  , ata.transaction_amount as payment_penalty_amount
 from 
  qc_core.dbo.accounting_transaction_ap as ata 
 left join
  qc_core.dbo.accounting_source as acs on acs.accounting_source_id = ata.accounting_source_id
 left join 
  qc_core.dbo.accounting_transaction_ap_claim_detail as atacd on atacd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
 where 1=1
  and acs.accounting_source_ud = ''Payment Penalty Process''
),
claim_procedure_cte as (
 select 
  *
 from
  claim_procedure with(nolock)
 where 1 = 1
),
bind_vw_claims_cte as (  -- Slim/custom version of bind_vw_claims for this view
 select
    c.claim_id as internal_claim_id
  , c.claim_ud
  , c.duplicate_claim
  , lci.linked_claim_id as parent_claim_id
  , c.family_eligibility_member_benefit_plan_id as claim_family_eligibility_member_benefit_plan_id
  , carn.d9 as d9
  , carn.clearing_house_claim_id as clearinghouse_claim_id';
  if @includeExternalIdentifier = 1
  begin
   set @sql = @sql + '
   , tpm_batch.external_identifier as batch_external_identifier';
  end
  set @sql = @sql + '
  , ads.adjudication_status_ud
  , c.repriced_network
  , c.provider_id as rendering_provider_id
  , c.billing_provider_id as billing_provider_id
  , fem.member_id as internal_member_id
  , bc.benefit_contract_ud as employer_group_number
  , cgn.client_group_nm as employer_group_name
  , vpt.vendor_pay_to_nm as vendor_override_name
 from 
  qc_core.dbo.claim c with(nolock)
 left join
  family_eligibility_member_benefit_plan fembp with(nolock)
   on c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
 left join
  family_eligibility_member fem with(nolock)
   on fembp.family_eligibility_member_id = fem.family_eligibility_member_id
 left join
  family_eligibility fe with(nolock)
   on fem.family_eligibility_id = fe.family_eligibility_id
 left join
  benefit_contract bc with(nolock)
   on fe.benefit_contract_id = bc.benefit_contract_id
 left join
  client_group cg with(nolock)
   on bc.client_group_id = cg.client_group_id
 left join
  client_group_name cgn with(nolock)
   on cg.client_group_id = cgn.client_group_id
    and cgn.primary_name = 1
 outer apply (
  select
   pivot_carn.claim_id,
   pivot_carn.d9,
   pivot_carn.clearing_house_claim_id
  from (
    select distinct
     case
      when carnt.golden_key not in (''D9'',''F8'')
       then lower(replace(carnt.claim_additional_reference_number_type_ud,'' '',''_''))
      when carnt.golden_key in (''D9'')
       then ''d9''
      when carnt.golden_key in (''F8'')
       then ''clearing_house_claim_id''
     end as claim_additional_reference_number_type,
     carn.claim_id,
     carn.additional_reference_number
    from
     qc_core.dbo.claim_additional_reference_number carn with(nolock)
    inner join
     qc_core.dbo.claim_additional_reference_number_type carnt with(nolock)
      on carn.claim_additional_reference_number_type_id = carnt.claim_additional_reference_number_type_id
    where 1 = 1
   ) t
   pivot (
    max(additional_reference_number)
    for claim_additional_reference_number_type in (d9, clearing_house_claim_id)
   ) pivot_carn
  where 1 = 1
   and pivot_carn.claim_id = c.claim_id
 ) as carn
 outer apply (
  select 
   top 1 *
  from
   linked_claim_information oa_lci with(nolock)
  where
   c.claim_id = oa_lci.claim_id
  order by
   oa_lci.linked_claim_id
 ) as lci';
 if @includeExternalIdentifier = 1
 begin
  set @sql = @sql + '
 outer apply (
  select
   b.batch_id
   , bt.external_identifier
   , b.created_date as batch_import_date
   , b.file_name
  from
   qc_tpm.dbo.batch b with(nolock)
  inner join
   qc_tpm.dbo.batch_transaction bt with(nolock)
    on b.batch_id = bt.batch_id
  inner join
   qc_tpm.dbo.agreement a with(nolock)
    on b.agreement_id = a.agreement_id
  where 1 = 1
   and a.document_exchange_type_id in (''X12837P'',''X12837IA2'')
   and bt.internal_identifier = c.claim_id
 ) as tpm_batch';
 end
 set @sql = @sql + '
 left join
  qc_core.dbo.adjudication_status ads  with(nolock)
   on c.adjudication_status_id = ads.adjudication_status_id
 left join
  vendor_pay_to vpt with(nolock)   -- Claim level - below is for claim line level - adjudication key result
   on c.vendor_id = vpt.vendor_id
 where 1 = 1
),
procedure_code_cte as (
 select
  *
 from
  procedure_code with(nolock)
 where 1 = 1
),
provider_name_cte as (
 select
  *
 from
  provider_name with(nolock)
 where 1 = 1
),
provider_npi_cte as (
 select
  pid.provider_id,
  rtrim(ltrim(pid.provider_ud)) as npi
 from
  provider_identifier as pid with(nolock)
 inner join
  provider_identifier_type pit with(nolock)
   on pid.provider_identifier_type_id = pit.provider_identifier_type_id
    and pit.provider_identifier_type_nm = ''National Provider Identifier''
 where 1 = 1
),
accounting_transaction_ap_cte as (
 select
  left(ac.accounting_company_ud,5) as remittance_trace_code_accounting_company_ud,
  ac.federal_ein as payer_identifier_code,
  ata.*
 from
  qc_core.dbo.accounting_transaction_ap ata with(nolock)
 left join
  qc_core.dbo.accounting_company ac with(nolock)
   on ac.accounting_company_id = ata.accounting_company_id
 where 1 = 1
)
select distinct
   cp.claim_id as internal_claim_id
 , phi_member_number.member_number as member_number
 , phi_member_number.subscriber_member_number as subscriber_number
 , c.d9 as intermediary_claim_id';
 if @includeExternalIdentifier = 1
 begin
  set @sql = @sql + '
 , coalesce(c.batch_external_identifier , cii.patient_account_number, ic.patient_control_number) AS external_identifier';
 end
 else
 begin
  set @sql = @sql + '
 , '''' as external_identifier';
 end
 set @sql = @sql + '
 , c.claim_ud as qc_claim_reference_number
 , c.clearinghouse_claim_id as master_claim_id
 , c.adjudication_status_ud as claim_adjudication_status
 , ark_pn.provider_network_nm as auto_picked_provider_network
 , isnull(hist_car.original_sender, arc.created_user_name) as adjudication_user
 , arko_pn.provider_network_nm as manual_provider_network_override
 , arko.created_user_name as override_user
 , bc.benefit_contract_nm as benefit_contract_name
 , c.duplicate_claim as adjusted_claim
 , billing_provider_identifier.npi as billing_provider_npi
 , billing_provider_name.name_first as billing_provider_first_name
 , billing_provider_name.name_last as billing_provider_last_name
 , c.employer_group_number
 , c.employer_group_name
 , c.repriced_network as network
 , rendering_provider_name.name_first AS rendering_provider_first_name
 , rendering_provider_name.name_last AS rendering_provider_last_name
 , CASE WHEN cp.negated_claim_procedure_id IS NOT NULL THEN 1 ELSE 0 END AS reversal
 , ark_v.vendor_nm as vendor_name
 , c.vendor_override_name as vendor_pay_to_name
 , fdc.primary_diagnosis_code
 , fdc.admitting_diagnosis_code
 , fdc.principal_diagnosis_code
 , fdc.other_diagnosis_code_2
 , fdc.other_diagnosis_code_3
 , fdc.other_diagnosis_code_4
 , fdc.other_diagnosis_code_5
 , fdc.other_diagnosis_code_6
 , fdc.other_diagnosis_code_7
 , fdc.other_diagnosis_code_8
 , fdc.other_diagnosis_code_9
 , fdc.other_diagnosis_code_10
 , fdc.other_diagnosis_code_11
 , fdc.other_diagnosis_code_12
 , fdc.other_diagnosis_code_13
 , fdc.other_diagnosis_code_14
 , fdc.other_diagnosis_code_15
 , fdc.other_diagnosis_code_16
 , fdc.other_diagnosis_code_17
 , fdc.other_diagnosis_code_18
 , fdc.other_diagnosis_code_19
 , fdc.other_diagnosis_code_20
 , fdc.other_diagnosis_code_21
 , fdc.other_diagnosis_code_22
 , fdc.other_diagnosis_code_23
 , fdc.other_diagnosis_code_24
 , fdc.patient_reason_diagnosis_code_1
 , fdc.patient_reason_diagnosis_code_2
 , fdc.patient_reason_diagnosis_code_3
 , fdc.external_cause_injury_diagnosis_code_1
 , fdc.external_cause_injury_diagnosis_code_2
 , fdc.external_cause_injury_diagnosis_code_3
 , cp.claim_procedure_id
 , isnull(neg_cp.claim_line_sequence,cp.claim_line_sequence) as claim_line_sequence
 , format(cp.charge, ''N'', ''en-us'') as charge
 , format(cp.repricing_amount, ''N'', ''en-us'') as repricing_amount
 , case
  when len(cp.procedure_code_ud) = 4
  then cp.procedure_code_2_ud
  else cp.procedure_code_ud
   end as procedure_code
 , pc.description as procedure_code_description
 , case
  when len(cp.procedure_code_ud) = 4
   then cp.procedure_code_ud
  else NULL
   end as revenue_code
 , rc.description as revenue_code_description
 , pos.place_of_service_ud as place_of_service
 , pos.description as place_of_service_description
 , cast(cp.received_date as date) as received_date
 , cast(cp.service_from_date as date) as service_from_date
 , cast(cp.service_thru_date as date) as service_thru_date
 , cp.modifiers
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''COPAY_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS copay_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''WRITE_OFF_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS write_off_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''INELIGIBLE_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS ineligible_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''DEDUCTIBLE_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS deductible_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''COINSURANCE_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS coinsurance_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''CONTRACT_AMOUNT'', cp.claim_procedure_id), ''N'', ''en-us'') AS contract_amount
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''NET_PAYMENT'', cp.claim_procedure_id), ''N'', ''en-us'') AS net_payment
 , format(dbo.plx_fn_get_adjudication_amount_for_claim_procedure(''TOTAL_MEMBER_RESPONSIBILITY'', cp.claim_procedure_id),''N'', ''en-us'') AS total_member_responsibility
 , format(cp.cob_amount, ''N'', ''en-us'') as cob_amount
 , cp.units
 , check_info.qc_check_date
 , check_info.qc_check_number
 , check_info.voided_check
 , ads.adjudication_status_ud as claim_line_adjudication_status
 , cpps.claim_payment_process_status_ud as claim_line_payment_status
 , cp.diagnosis_sequence as diagnosis_pointers
 , check_info.payer_identifier_code
 , check_info.remittance_trace_code_accounting_company_ud + right(''0000000000'' + isnull(cast(check_info.accounting_transaction_ap_id as varchar),''''),10) + cast(check_info.qc_check_number as varchar) as remittance_trace_code
 , isnull(neg_cp.line_item_control_number,cp.line_item_control_number) as line_item_control_number
 , format(check_info.payment_transaction_amount, ''N'', ''en-us'') as total_remit_payment_amount
 , case
  when cp.negated_claim_procedure_id is not null
   then 22
  -- The sequence is offset by 1, because QC only creates a record in the claim_cob_payer table if Bind is not the primary payer
  when paid_status.sequence_id > 1
   then 3
  when paid_status.sequence_id = 1
   then 2
  else 1
   end as paid_status
 , rendering_provider_identifier.npi as rendering_provider_npi
 , isnull(adjudication_detail_vendor.mv_federal_ein,ark_v.federal_ein) as receiver_identification_number
 , ark_v.federal_ein as vendor_federal_ein
 , ark_vendor_address.address_1 as vendor_address_1
 , ark_vendor_address.address_2 as vendor_address_2
 , ark_vendor_address.city as vendor_city
 , ark_vendor_address.state_ud as vendor_state
 , ark_vendor_address.postal_code as vendor_zip
from
 claim_procedure_cte cp with(nolock)
inner join
 bind_vw_claims_cte c
  on c.internal_claim_id = cp.claim_id
left join
 bind_vw_claims_cte parent_claim
  on c.parent_claim_id = parent_claim.internal_claim_id
left join
 claim_procedure_cte neg_cp with(nolock)
  on neg_cp.claim_procedure_id = cp.negated_claim_procedure_id
left join
 adjudication_status ads with(nolock)
  on cp.adjudication_status_id = ads.adjudication_status_id
left join
 claim_payment_process_status cpps with(nolock)
  on cp.claim_payment_process_status_id = cpps.claim_payment_process_status_id
outer apply (
 select
  top 1 *
 from
  qc_history.dbo.claim_adjudication_result oa_hist_car with(nolock)
 where
  cp.claim_id = oa_hist_car.claim_id
 order by
  oa_hist_car.original_time_sent desc
) as hist_car
outer apply (
 select
  top 1 *
 from
  adjudication_result_code oa_arc with(nolock)
 where
  cp.claim_procedure_id = oa_arc.claim_procedure_id
   and oa_arc.claim_id = cp.claim_id
  order by
  oa_arc.claim_procedure_id
 ) as arc
outer apply (
 select
  cast(payment_detail.check_date as date) as qc_check_date
  , payment_detail.check_ach_reference as qc_check_number
  , payment_detail.accounting_transaction_ap_id
  , payment.payer_identifier_code
  , payment.remittance_trace_code_accounting_company_ud
  , cast(
   case
    when payment_detail.accounting_check_print_run_id IS NOT null-- don''t include payments where a QC Check Number is null
     and payment.void_date is null  --don''t include QC Payments that have been voided. Note that this is different than a voided claim that would have a payment.
     then 0
    else 1
    end as bit
  ) as voided_check,
  payment.transaction_amount as payment_transaction_amount,
  applied_to.transaction_amount as applied_to_transaction_amount
 from
  qc_core.dbo.accounting_transaction_ap_apply_to as atap_at with(nolock)
 inner join
  qc_core.dbo.accounting_transaction_ap_claim_detail atap_cd with(nolock)
   on atap_cd.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
 inner join
  accounting_transaction_ap_cte payment with(nolock)
   on payment.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
 inner join
  accounting_transaction_ap_cte applied_to with(nolock)
   on applied_to.accounting_transaction_ap_id = atap_at.to_accounting_transaction_ap_id
 inner join 
  qc_core.dbo.accounting_transaction_ap_payment_detail payment_detail with(nolock)
   on payment_detail.accounting_transaction_ap_id = atap_at.from_accounting_transaction_ap_id
 inner join
  qc_core.dbo.accounting_source accounting_source with(nolock)
   on accounting_source.accounting_source_id = applied_to.accounting_source_id
 where 1 = 1
  and cp.claim_procedure_id = atap_cd.claim_procedure_id
  and accounting_source.golden_key = ''Claims''
  and payment.accounting_transaction_ap_ud not in (''Bind Benefits2018121200007'',''UH486 UnitedHealth Group, Inc.2019020800015'',''Bind Benefits2018091900001'',''Bind Benefits2018100100001'',''Bind Benefits2018092400001'',''UH489 Specialized Bicycle2019021500002'')
) check_info
outer apply (
 select
  acd.claim_id,
  acd.claim_procedure_id,
  atp.accounting_transaction_ap_ud,
  ats.accounting_transaction_status_ud,
  atp.transaction_amount
 from
  qc_core.dbo.accounting_transaction_ap_claim_detail acd with(nolock)
 left join
  accounting_transaction_ap_cte atp with(nolock)
   on atp.accounting_transaction_ap_id = acd.accounting_transaction_ap_id
 left join
  qc_core.dbo.accounting_transaction_status ats with(nolock)
   on ats.accounting_transaction_status_id = atp.accounting_transaction_status_id
 where 1 = 1
  and acd.claim_procedure_id = cp.claim_procedure_id
) accounting_status
left join
 adjudication_result_key ark with(nolock)
  on cp.claim_procedure_id = ark.claim_procedure_id
left join
 provider_network ark_pn with(nolock)
  on ark.provider_network_id = ark_pn.provider_network_id
left join
 vendor ark_v with(nolock)
  on ark.vendor_id = ark_v.vendor_id
outer apply (
 select
  vpt.vendor_id,
  a.address_1,
  a.address_2,
  l.city,
  l.postal_code,
  s.state_ud
 from 
  qc_core.dbo.vendor_pay_to vpt with(nolock)
 inner join qc_core.dbo.address a with(nolock)
  on a.address_id = vpt.address_id
 inner join qc_core.dbo.locale l with(nolock)
  on l.locale_id = a.locale_id
 left join
  qc_core.dbo.state s with(nolock)
   on s.state_id = l.state_id
 left join
  qc_core.dbo.country c with(nolock)
   on c.country_id = l.country_id
 where 1 = 1
  and vpt.vendor_id = ark_v.vendor_id
) ark_vendor_address
left join
 adjudication_result_key_override arko with(nolock)
  on ark.adjudication_result_key_id = arko.adjudication_result_key_id
left join
 provider_network arko_pn with(nolock)
  on arko.provider_network_id = arko_pn.provider_network_id
left join
 place_of_service pos with(nolock)
  on cp.place_of_service_id = pos.place_of_service_id
left join
 benefit_contract bc with(nolock)
  on ark.benefit_contract_id = bc.benefit_contract_id
left join
 procedure_code_cte pc with(nolock)
  on case
   when len(cp.procedure_code_ud) = 4
   then cp.procedure_code_2_id
   else cp.procedure_code_id
     end = pc.procedure_code_id
left join
 procedure_code_cte rc with(nolock)
  on case
   when len(cp.procedure_code_ud) = 4
   then cp.procedure_code_id
   else null
     end = rc.procedure_code_id
left join
 provider_name_cte billing_provider_name with(nolock)
  on c.billing_provider_id = billing_provider_name.provider_id
   and billing_provider_name.is_primary = 1
left join
 provider_npi_cte billing_provider_identifier
  on c.billing_provider_id = billing_provider_identifier.provider_id
left join
 provider_name_cte rendering_provider_name with(nolock)
  on c.rendering_provider_id = rendering_provider_name.provider_id
   and rendering_provider_name.is_primary = 1
left join
 provider_npi_cte rendering_provider_identifier
  on c.rendering_provider_id = rendering_provider_identifier.provider_id
left join
 claim_illness_injury cii with(nolock)
  on c.internal_claim_id = cii.claim_id
left join
 institutional_claim ic with(nolock)
  on c.internal_claim_id = ic.claim_id
left join (
 select
  self_fem.member_id as subscriber_internal_member_id,
  self_mpi.id_value as subscriber_member_number,
  member_fem.member_id as internal_member_id,
  member_mpi.id_value as member_number,
  member_fembp.family_eligibility_member_benefit_plan_id as member_family_eligibility_member_benefit_plan_id
 from
  family_eligibility_member member_fem with(nolock)
 inner join
  family_eligibility_member self_fem with(nolock)
   on self_fem.family_eligibility_id = member_fem.family_eligibility_id
    and self_fem.relationship_to_insured_id = 2  -- Self
 inner join
  member_personal_id member_mpi with(nolock)
   on member_mpi.member_id = member_fem.member_id
 inner join
  member_id_type member_mit with(nolock)
   on member_mpi.member_id_type_id = member_mit.member_id_type_id
    and member_mit.golden_key = ''pid''
 inner join
  member_personal_id self_mpi with(nolock)
   on self_mpi.member_id = self_fem.member_id
 inner join
  member_id_type self_mit with(nolock)
   on self_mpi.member_id_type_id = self_mit.member_id_type_id
    and self_mit.golden_key = ''pid''
 inner join
  family_eligibility_member_benefit_plan member_fembp with(nolock)
   on member_fem.family_eligibility_member_id = member_fembp.family_eligibility_member_id
 where 1 = 1
 group by
  member_fem.member_id,
  self_fem.member_id,
  member_mpi.id_value,
  self_mpi.id_value,
  member_fembp.family_eligibility_member_benefit_plan_id
) phi_member_number
 on phi_member_number.internal_member_id = c.internal_member_id
  and phi_member_number.member_family_eligibility_member_benefit_plan_id = c.claim_family_eligibility_member_benefit_plan_id
left join
 bind_vw_flattened_diagnosis_codes fdc
  on fdc.internal_claim_id = cp.claim_id
left join (
 select
  ccp.claim_id,
  ccp.sequence_id,
  rank() over(partition by ccp.claim_id order by ccp.modified_date desc, ccp.sequence_id, ccp.claim_cob_payer_id desc) as reverse_sequence_order
 from
  qc_core.dbo.claim_cob_payer ccp with(nolock)
 where 1 = 1
) paid_status
 on paid_status.claim_id = cp.claim_id
  and paid_status.reverse_sequence_order = 1
outer apply (
 select
  cpc.claim_id,
  -- just need one record per claim_id
  max(adjdv.federal_ein) as mv_federal_ein
 from
  qc_core.dbo.adjudication_result_key as ark
 inner join
  qc_core.dbo.vendor as adjdv
   on ark.member_vendor_id = adjdv.vendor_id
 inner join
  claim_procedure_cte as cpc
   on cpc.claim_procedure_id = ark.claim_procedure_id
 where 1 = 1
  and ark.member_vendor_id is not null
  and cpc.claim_id = cp.claim_id
 group by
  cpc.claim_id
) adjudication_detail_vendor
left join
 payment_penalty_cte ppcte
  on cp.claim_procedure_id = ppcte.claim_procedure_id
where 1 = 1
 and (check_info.voided_check is null OR check_info.voided_check = 0)';
    set @params = '';
    set @sql = @sql + ' and (@checkNumber is null or check_info.qc_check_number = @checkNumber)';
    set @params = @params + '@checkNumber nvarchar(200) = null, ';
 if exists(select 1 from @claimUds)
 begin
    set @sql = @sql + ' and c.claim_ud in (select value from @claimUds)';
 end
    set @params = @params + '@claimUds dbo.bind_claim_identifier readonly, ';
 if exists(select 1 from @masterClaimIds)
 begin
     set @sql = @sql + ' and c.clearinghouse_claim_id in (select value from @masterClaimIds)';
 end
    set @params = @params + '@masterClaimIds dbo.bind_claim_identifier readonly, ';
 if exists(select 1 from @intermediaryClaimIds)
 begin
     set @sql = @sql + ' and c.d9 in (select value from @intermediaryClaimIds)';
 end
    set @params = @params + '@intermediaryClaimIds dbo.bind_claim_identifier readonly, ';
    
    set @sql = @sql + ' and (@isReversal is null or (CASE WHEN cp.negated_claim_procedure_id IS NOT NULL THEN 1 ELSE 0 END) = @isReversal)';
    set @params = @params + '@isReversal bit = null';
    set @sql = @sql + ' order by internal_claim_id, claim_line_sequence';
    exec sp_executesql @sql, @params, @checkNumber, @claimUds, @masterClaimIds, @intermediaryClaimIds, @isReversal;
end
end
GO
