USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_governmental_health_plan_contact_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 20 2006  9:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
3/20/2006      HungTNguyen     1.0             Create
10/19/2011 cknobloch     1.1        Associated Claim/Contacts tab for Gov Rows

CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_cob_member_governmental_health_plan_contact_list_load]
(
@cob_member_other_insurance_plan_id		Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
commcnt.cob_member_governmental_health_plan_contact_id
,commcnt.cob_member_governmental_health_plan_id
,commcnt.contact_id
,dbo.plx_fn_get_contact_name(commcnt.contact_id) as contact_nm

,commcnt.contact_association_type_id
,commcnt.is_primary

,CASE WHEN tnphone.telephone_number is null
THEN
tnfax.telephone_number
ELSE
CASE WHEN tnfax.telephone_number is null
THEN
tnphone.telephone_number
ELSE
tnphone.telephone_number + '/' + tnfax.telephone_number
END
END as 'phone_fax_number'
,commcnt.effective_from
,commcnt.effective_thru
,commcnt.modified_date




--contact_telephone_number_id
FROM cob_member_governmental_health_plan_contact commcnt

LEFT JOIN cob_member_governmental_health_plan  ON cob_member_governmental_health_plan.cob_member_governmental_health_plan_id = commcnt.cob_member_governmental_health_plan_id

LEFT JOIN contact c  ON c.contact_id = commcnt.contact_id

LEFT JOIN contact_association_type  ON contact_association_type.contact_association_type_id = commcnt.contact_association_type_id
LEFT JOIN contact_telephone_number phone ON (phone.contact_id = c.contact_id AND phone.primary_for_contact = 1 )
LEFT JOIN telephone_number tnphone ON tnphone.telephone_number_id = phone.telephone_number_id AND tnphone.telephone_number_type_id <> 3
LEFT JOIN contact_telephone_number fax ON (fax.contact_id = c.contact_id AND fax.primary_for_contact = 1 )
LEFT JOIN telephone_number tnfax ON tnfax.telephone_number_id = fax.telephone_number_id AND tnfax.telephone_number_type_id = 3

WHERE commcnt.cob_member_governmental_health_plan_id = @cob_member_other_insurance_plan_id

ORDER BY
contact_nm ASC
,CASE WHEN commcnt.effective_from IS NULL THEN 0 ELSE 1 END , commcnt.effective_from DESC
,CASE WHEN commcnt.effective_thru IS NULL THEN 0 ELSE 1 END , commcnt.effective_thru DESC


--
RETURN @SP_SUCCESS
GO
