USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/27/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/27/2009 	David Slayton	1.0			Created
03/01/2012	Aaron Mortensen	1.1			Added Payment Status
05/29/2018	eponomareff		1.2			RT:12717 - added golden key for status

--
CURRENT_VERSION: 1.2
--
DESCRIPTION:

To load data into Customer Payments Applied To Invoice grid.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_transactions_load]
(
@accounting_transaction_ar_id	INT = NULL	-- Invoice ID	( = @to_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
apply_to.accounting_transaction_ar_apply_to_id
,atarpd.payment_date
,accounting_transaction_ar.accounting_transaction_ar_id
,accounting_transaction_ar.accounting_transaction_ar_ud
,pmc.payment_method_customer_ud
,atarpd.check_ach_reference
,apply_to.amount
,atarpd.memo
,bank_account.bank_account_ud
,paystatus.accounting_payment_status_id
,paystatus.accounting_payment_status_ud
,paystatus.golden_key as accounting_payment_status_gk
,apply_to.is_posted

FROM accounting_transaction_ar_apply_to AS apply_to
INNER JOIN	accounting_transaction_ar ON apply_to.from_accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
INNER JOIN accounting_transaction_ar_payment_detail atarpd ON  atarpd.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN payment_method_customer AS pmc ON atarpd.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN bank_account ON atarpd.bank_account_id = bank_account.bank_account_id
LEFT JOIN accounting_payment_status paystatus ON atarpd.accounting_payment_status_id = paystatus.accounting_payment_status_id
WHERE apply_to.to_accounting_transaction_ar_id = @accounting_transaction_ar_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
