USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_modifier_find_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 01/06/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
01/06/2006	Trang Huynh		1.0		create
02/15/2006	Trang Huynh		1.2
09/25/2006	Nghi Nguyen		1.3		Fixed Defect Offline #6579
05/14/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.5		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Find all the Fee Schedule Modifier based on the criteria entered on the form.
The returned results must contain the Fee Schedule Modifier ID, Fee Schedule Modifier Name,
Description .

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
list Fee Schedule Modifier, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                        PROCEDURE [dbo].[plx_fee_schedule_modifier_find_load]
(
@get_column_headers			BIT = 0
,@fee_schedule_modifier_ud		nvarchar(50) = NULL
,@description		nvarchar(255) = NULL
,@procedure_code_type_id	int = NULL
,@procedure_code_id	int = NULL
,@modifier	nvarchar(50) = NULL
,@fee_schedule_modifier_method_id	int = NULL
,@effective_from	datetime = NULL
,@effective_thru	datetime = NULL
,@show_exact_matches		bit = NULL
,@show_only_current	bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
,@SqlCondition	NVARCHAR(4000)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
,@Prefix		= ''
,@Suffix		= ''
,@SqlCondition	= ''

--
DECLARE @strSQL nvarchar(4000)
DECLARE @WhereClause nvarchar(4000)
DECLARE @procedure_code_ud nvarchar(50)

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END


SET @strSQL =
'SELECT    DISTINCT TOP (dbo.fn_results_limit()) fee_schedule_modifier.fee_schedule_modifier_id
,fee_schedule_modifier.fee_schedule_modifier_ud
,fee_schedule_modifier.description
FROM fee_schedule_modifier
left join fee_schedule_modifier_detail on fee_schedule_modifier_detail.fee_schedule_modifier_id = fee_schedule_modifier.fee_schedule_modifier_id
left join procedure_code as starting_procedure_code on fee_schedule_modifier_detail.starting_procedure_code_id = starting_procedure_code.procedure_code_id
left join procedure_code as ending_procedure_code on fee_schedule_modifier_detail.ending_procedure_code_id = ending_procedure_code.procedure_code_id

WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (dbo.plx_fn_need_find_on_criteria(@fee_schedule_modifier_ud, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(fee_schedule_modifier_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@fee_schedule_modifier_ud, @show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@description, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(fee_schedule_modifier.description, '''') '+ + @Prefix  + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@modifier, @show_exact_matches) = 1)
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(fee_schedule_modifier_detail.modifier, '''') ' + + @Prefix  + dbo.plx_EncodeStringWildCard(@modifier, @show_exact_matches) + @Suffix


IF @show_exact_matches = 1
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(fee_schedule_modifier_detail.effective_from,''1900/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) = 0 '
IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(fee_schedule_modifier_detail.effective_thru,''9999/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) = 0 '
END
ELSE
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(fee_schedule_modifier_detail.effective_from,''1900/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(fee_schedule_modifier_detail.effective_thru,''9999/1/1''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '
END

IF (@procedure_code_type_id IS NOT NULL) AND (@procedure_code_type_id > 0)
SET @SqlCondition = @SqlCondition + ' AND (fee_schedule_modifier_detail.procedure_code_type_id = ' + CONVERT(NVARCHAR, @procedure_code_type_id) + ')'

IF (@procedure_code_id IS NOT NULL) AND (@procedure_code_id > 0)
BEGIN
Select @procedure_code_ud = procedure_code_ud From procedure_code Where procedure_code_id = @procedure_code_id
SET @SqlCondition = @SqlCondition + ' AND ( (starting_procedure_code.procedure_code_ud <= N'''+ @procedure_code_ud +''' AND ending_procedure_code.procedure_code_ud >= N'''+ @procedure_code_ud +''')
OR (starting_procedure_code.procedure_code_id IS NULL AND ending_procedure_code.procedure_code_ud >= N'''+ @procedure_code_ud +''')
OR (starting_procedure_code.procedure_code_ud <= N'''+ @procedure_code_ud +''' AND ending_procedure_code.procedure_code_id is NULL)
OR (starting_procedure_code.procedure_code_ud IS NULL AND ending_procedure_code.procedure_code_id is NULL)
)'
END

IF (@fee_schedule_modifier_method_id IS NOT NULL) AND (@fee_schedule_modifier_method_id > 0)
SET @SqlCondition = @SqlCondition + ' AND (fee_schedule_modifier_detail.fee_schedule_modifier_method_id = ' + CONVERT(NVARCHAR, @fee_schedule_modifier_method_id) + ')'

IF (NOT @show_only_current IS NULL) AND (@show_only_current = 1)
BEGIN
SET @SqlCondition = @SqlCondition + ' AND (DATEDIFF(day, GETDATE(), fee_schedule_modifier_detail.effective_from) <= 0 OR fee_schedule_modifier_detail.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), fee_schedule_modifier_detail.effective_thru) >= 0 OR fee_schedule_modifier_detail.effective_thru IS NULL)
'
END

EXEC (@strSQL + @SqlCondition)
PRINT (@strSQL + @SqlCondition)

--
RETURN @SP_SUCCESS
GO
