USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_contact_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	Tinh Do		1.0			created
03/08/2006	Thuy Ha					created_date & modified_date use DB Server date
11/14/2006	Mai Tran				remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Contact Grid on Client form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_client_contact_save]
(
@client_contact_id                    int = NULL   OUTPUT
,@client_id                            int = NULL
,@contact_id                                 int = NULL
,@contact_association_type_id                int = NULL
,@is_primary                                 bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST	= '159010060',
@ERROR_CANT_INSERT 	= '159010058',
@ERROR_CANT_UPDATE 	= '159010059'
--
IF @client_contact_id is Null
BEGIN
--- Create a new client_group_contact record
INSERT INTO client_contact(
client_id
,contact_id
,contact_association_type_id
,is_primary
,effective_from
,effective_thru
,active
)
VALUES
(@client_id
,@contact_id
,@contact_association_type_id
,@is_primary
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @client_contact_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT client_contact_id FROM client_contact WHERE client_contact_id = @client_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing client_group_contact record
UPDATE client_contact
SET
client_id                          = @client_id
,contact_id                               = @contact_id
,contact_association_type_id              = @contact_association_type_id
,is_primary                               = @is_primary
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_contact_id = @client_contact_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
--
GO
