USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_invoice_history_invoice_history_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Date: 02/28/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/28/2012	CKnobloch	     1.0		Created
03/17/2015	jyoung		2.0		RT:7325 Added check to see if invoice was voided and to return 0.0 for amount due if it is
11/18/2022	cknobloch		3.0		RT:22273 - Adjustment for performance

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdInvoiceHistoryInvoiceHistory on form frmCustomer

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_invoice_history_invoice_history_load] (
@customer_id INT = NULL
,@benefit_contract_id INT = NULL
,@invoice_effective_from DATE = NULL
,@invoice_effective_thru DATE = NULL
,@premium_period_from DATE = NULL
,@premium_period_thru DATE = NULL
,@only_outstanding_invoices BIT = NULL
)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

DECLARE @strSQL NVARCHAR(4000) = ''

IF @only_outstanding_invoices = 1
SET @strSQL = 'DECLARE @Invoice TABLE
(
invoice_history_invoice_accounting_transaction_ar_id	INT
,invoice_history_invoice_accounting_transaction_ar_ud	NVARCHAR(100)
,invoice_history_invoice_date						DATE
,invoice_history_invoice_status					NVARCHAR(100)
,invoice_premium_period							NVARCHAR(50)
,invoice_retro_premium_period						NVARCHAR(50)
,invoice_history_invoice_amount					NUMERIC(19,4)
,invoice_history_applied_amount					NUMERIC(19,4)
,invoice_history_amount_due						NUMERIC(19,4)
)

INSERT INTO @Invoice
(
invoice_history_invoice_accounting_transaction_ar_id
,invoice_history_invoice_accounting_transaction_ar_ud
,invoice_history_invoice_date
,invoice_history_invoice_status
,invoice_premium_period
,invoice_retro_premium_period
,invoice_history_invoice_amount
,invoice_history_applied_amount
,invoice_history_amount_due
)'
SET @strSQL = @strSQL +
'SELECT  DISTINCT TOP (dbo.fn_results_limit())
invoice_history_invoice_accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
,invoice_history_invoice_accounting_transaction_ar_ud = accounting_transaction_ar.accounting_transaction_ar_ud
,invoice_history_invoice_date = CAST(invoice_date AS DATE)
,invoice_history_invoice_status = ais.accounting_invoice_status_ud
,invoice_premium_period = CASE WHEN MAX(CAST(p.is_retroactive AS TINYINT)) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id) = 0
THEN CONCAT(CONVERT(CHAR(10), MIN(pp.effective_from) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id) ,101)
,'' - '', CONVERT(CHAR(10), MAX(pp.effective_thru) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id) ,101)) END
,invoice_retro_premium_period = CASE WHEN MAX(CAST(p.is_retroactive AS TINYINT)) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id) = 1
THEN CONCAT(CONVERT(CHAR(10), MIN(pp.effective_from) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id), 101)
, '' - '', CONVERT(CHAR(10), MAX(pp.effective_thru) OVER (PARTITION BY accounting_transaction_ar.accounting_transaction_ar_id), 101)) END
,invoice_history_invoice_amount = ISNULL(accounting_transaction_ar.transaction_amount, 0) --Total Invoice Amount
,invoice_history_applied_amount = CAST(ISNULL(accounting_transaction_ar.transaction_amount - dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL ), 0 ) AS NUMERIC(19, 4))
,invoice_history_amount_due = CASE
WHEN accounting_transaction_ar_invoice_detail.accounting_invoice_status_id =
( SELECT accounting_invoice_status_id
FROM dbo.accounting_invoice_status
WHERE golden_key = ''VOIDED'')
THEN 0.0
ELSE
CAST(dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL) AS NUMERIC(19, 4))
END

FROM accounting_transaction_ar_invoice_detail
LEFT JOIN accounting_transaction_ar
ON accounting_transaction_ar.accounting_transaction_ar_id = accounting_transaction_ar_invoice_detail.accounting_transaction_ar_id
LEFT JOIN accounting_invoice_status ais
ON  ais.accounting_invoice_status_id = accounting_transaction_ar_invoice_detail.accounting_invoice_status_id
LEFT JOIN accounting_transaction_ar_apply_to ar_apply_to
ON accounting_transaction_ar.accounting_transaction_ar_id = ar_apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_transaction_ar as ar_trans
ON ar_apply_to.to_accounting_transaction_ar_id = ar_trans.accounting_transaction_ar_id
LEFT JOIN accounting_transaction_ar_premium_detail atx_premium_detail
ON atx_premium_detail.accounting_transaction_ar_id = ar_trans.accounting_transaction_ar_id
LEFT JOIN dbo.premium p
ON atx_premium_detail.premium_id = p.premium_id
LEFT JOIN
dbo.premium_period pp
ON pp.premium_period_id = atx_premium_detail.premium_period_id
AND p.premium_period_id = pp.premium_period_id

WHERE (accounting_transaction_ar.customer_id'

IF @customer_id IS NOT NULL
SET @strSQL = @strSQL + ' = ' + CONVERT(NVARCHAR, @customer_id, 101) + ') '
ELSE
SET @strSQL = @strSQL + ' = -1 ) '

IF @invoice_effective_from IS NOT NULL
SET @strSQL = @strSQL + '
AND (accounting_transaction_ar_invoice_detail.invoice_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @invoice_effective_from, 101) + ''', 101)) '

IF @invoice_effective_thru IS NOT NULL
SET @strSQL = @strSQL + '
AND (accounting_transaction_ar_invoice_detail.invoice_date <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @invoice_effective_thru, 101) + ''', 101)) '

--@premium_period_from
IF (@premium_period_from IS NOT NULL)
BEGIN
SET @strSQL = @strSQL + ' AND pp.effective_from >= ''' + CONVERT(NVARCHAR(23), @premium_period_from) + ''''
END

--@premium_period_thru
IF (@premium_period_thru IS NOT NULL)
BEGIN
SET @strSQL = @strSQL + ' AND pp.effective_thru <= ''' + CONVERT(NVARCHAR(23), @premium_period_thru) + ''''
END

--@benefit_contract_id
IF (
@benefit_contract_id IS NOT NULL
AND @benefit_contract_id > 0
)
BEGIN
SET @strSQL = @strSQL + ' AND ar_trans.benefit_contract_id = ' + CONVERT(NVARCHAR(10), @benefit_contract_id)
END

SET @strSQL = @strSQL + '
ORDER BY
CAST(accounting_transaction_ar_invoice_detail.invoice_date AS DATE) DESC'

IF @only_outstanding_invoices = 1
SET @strSQL = @strSQL + '
DELETE FROM @Invoice
WHERE invoice_history_amount_due = 0.0
SELECT * FROM @Invoice'

PRINT @strSQL

EXEC (@strSQL)

RETURN @SP_SUCCESS
--
GO
