USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_save]
(
@coverage_level_process_queue_id              INT = 0   OUTPUT
,@coverage_level_process_queue_ud              NVARCHAR(100) = NULL
,@description                                  NVARCHAR(255) = NULL
,@coverage_level_process_as_of_date_rule_id    INT = 0
,@coverage_level_process_as_of_date_rule_day   INT = NULL
,@schedule_form_id                             INT = NULL

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50);
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST';

IF ISNULL(@coverage_level_process_queue_id, 0) = 0
BEGIN
INSERT INTO coverage_level_process_queue(
coverage_level_process_queue_ud
,description
,schedule_form_id
,coverage_level_process_as_of_date_rule_id
,coverage_level_process_as_of_date_rule_day
)
VALUES
(@coverage_level_process_queue_ud
,@description
,@schedule_form_id
,@coverage_level_process_as_of_date_rule_id
,@coverage_level_process_as_of_date_rule_day
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @coverage_level_process_queue_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT *
FROM coverage_level_process_queue
WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE coverage_level_process_queue
SET
coverage_level_process_queue_ud              = @coverage_level_process_queue_ud
,description                                  = @description
,coverage_level_process_as_of_date_rule_id    = @coverage_level_process_as_of_date_rule_id
,coverage_level_process_as_of_date_rule_day   = @coverage_level_process_as_of_date_rule_day
,schedule_form_id                             = @schedule_form_id
,modified_user_name                           = ORIGINAL_LOGIN()
,modified_date                                = GETDATE()
WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
