USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_analysis_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	07/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/17/2011	ggutshall		3.2		Added returnset limitations
07/16/2012	cknobloch		3.3     added new fields (RT:3046)
06/05/2013  eponomareff     3.4     changed cheader @description to @claim_analysis_filter_description
to avoid cloberring by returning find forms with
their own "description" field (i.e., product, fee schedule)

--
CURRENT_VERSION: 3.4
--
DESCRIPTION:
Loads analysis queue records bASed on the given criteria.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_find_claim_analysis_queue_load]
(
---General Criteria---
@get_column_headers				BIT = 0,
@claim_analysis_queue_ud		NVARCHAR(50) = '',
@claim_analysis_filter_description   NVARCHAR(255) = '',
@effective_from  				DATETIME = NULL ,
@effective_thru 				DATETIME = NULL ,

@claim_selection_priority_id	INT = NULL ,

@client_id				        INT = NULL ,
@client_group_id			    INT = NULL ,
@provider_identifier_id			INT = NULL ,
@family_eligibility_member_benefit_plan_id  INT = NULL ,

@fee_schedule_id			    INT = NULL,
@claim_form_type_id			    INT = NULL ,
@claim_date_type_id		    	INT = NULL ,
@value_from	                    INT = NULL ,
@value_thru	                    INT = NULL ,

@diagnosis_code_group_id		INT = NULL ,
@procedure_code_group_id		INT = NULL ,
@service_code_group_id			INT = NULL ,
@result_code_set_id			    INT = NULL ,

---Additional Criteria---
@product_id				    	INT = NULL ,
@provider_network_id			INT = NULL ,
@benefit_contract_id			INT = NULL ,
@family_eligibility_id			INT = NULL ,

@claim_type_id                  INT = NULL ,
@claim_status_id				INT = NULL ,
@adjudication_status_id			INT = NULL ,
@disursement_creation_date		DATETIME = NULL ,

@percentage_of_claims			INT = NULL ,
@claim_amount_type_id		    INT = NULL ,
@topic_id                       INT = NULL ,
@topic_value                    NUMERIC(20,10) = NULL ,

@show_exact_matches			    BIT = 0


) AS
BEGIN

DECLARE
@sqlString         NVARCHAR(4000),
@sqlCondition	   NVARCHAR(4000),
@Prefix		       NVARCHAR(10),
@Suffix		       NVARCHAR(10),
@all_type          INT


IF @show_exact_matches = 1
BEGIN
SET @Prefix = ' =N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

SET @sqlString = '
SELECT DISTINCT TOP (dbo.fn_results_limit())
caq.claim_analysis_queue_id,
caq.claim_analysis_queue_ud,
caq.description,
csp.claim_selection_priority_ud,
caq.effective_from ,
caq.effective_thru,
CASE WHEN caq.effective_from IS NULL THEN 0 ELSE 1 END AS sort_from,
CASE WHEN caq.effective_thru IS NULL THEN 0 ELSE 1 END AS sort_thru
FROM claim_analysis_queue caq
LEFT JOIN claim_selection_priority csp ON csp.claim_selection_priority_id = caq.claim_selection_priority_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

---General Criteria---
IF (@claim_analysis_queue_ud IS NOT NULL) AND (ltrim(@claim_analysis_queue_ud) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(caq.claim_analysis_queue_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@claim_analysis_queue_ud, @show_exact_matches) + @suffix +  ') '
END

IF (@claim_analysis_filter_description IS NOT NULL) AND (ltrim(@claim_analysis_filter_description) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(caq.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@claim_analysis_filter_description, @show_exact_matches) + @suffix +  ') '
END

IF (@claim_selection_priority_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.claim_selection_priority_id = ' +  CONVERT(NVARCHAR, @claim_selection_priority_id )
END

IF (@client_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.client_id = ' +  CONVERT(NVARCHAR, @client_id )
END

IF (@client_group_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id )
END

IF (@provider_identifier_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.provider_identifier_id = ' +  CONVERT(NVARCHAR, @provider_identifier_id )
END

IF (@family_eligibility_member_benefit_plan_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.family_eligibility_member_benefit_plan_id = ' +  CONVERT(NVARCHAR, @family_eligibility_member_benefit_plan_id )
END

IF (@fee_schedule_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.fee_schedule_id = ' +  CONVERT(NVARCHAR, @fee_schedule_id )
END

IF (@claim_form_type_id IS NOT NULL)  AND ( ISNULL(@claim_form_type_id,'') <> ISNULL(@all_type,'') )
BEGIN
SET @sqlString = @sqlString + ' AND  caq.claim_form_type_id = ' +  CONVERT(NVARCHAR, @claim_form_type_id )
END

IF (@claim_date_type_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.claim_date_type_id = ' +  CONVERT(NVARCHAR, @claim_date_type_id )
END

IF @value_from IS NOT NULL AND @value_from <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( caq.value_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @value_from, 101) + ''', 101)) '
END

IF @value_thru IS NOT NULL AND @value_thru <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( caq.value_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @value_thru, 101) + ''', 101)) '
END


IF (@diagnosis_code_group_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.diagnosis_code_group_id = ' +  CONVERT(NVARCHAR, @diagnosis_code_group_id )
END

IF (@procedure_code_group_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.procedure_code_group_id = ' +  CONVERT(NVARCHAR, @procedure_code_group_id )
END

IF (@service_code_group_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.service_code_group_id = ' +  CONVERT(NVARCHAR, @service_code_group_id )
END

IF (@result_code_set_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.result_code_set_id = ' +  CONVERT(NVARCHAR, @result_code_set_id )
END

---Additional Criteria---
IF (@product_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.product_id = ' +  CONVERT(NVARCHAR, @product_id )
END

IF (@provider_network_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.provider_network_id = ' +  CONVERT(NVARCHAR, @provider_network_id )
END

IF (@benefit_contract_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.benefit_contract_id = ' +  CONVERT(NVARCHAR, @benefit_contract_id )
END

IF (@family_eligibility_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.family_eligibility_id = ' +  CONVERT(NVARCHAR, @family_eligibility_id )
END

IF (@claim_type_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.claim_type_id = ' +  CONVERT(NVARCHAR, @claim_type_id )
END

IF (@claim_status_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.claim_status_id = ' +  CONVERT(NVARCHAR, @claim_status_id )
END

IF (@adjudication_status_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.adjudication_status_id = ' +  CONVERT(NVARCHAR, @adjudication_status_id )
END

IF @disursement_creation_date IS NOT NULL AND @disursement_creation_date <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( caq.disursement_creation_date <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @disursement_creation_date, 101) + ''', 101)) '
END

IF (@percentage_of_claims IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.percentage_of_claims = ' +  CONVERT(NVARCHAR, @percentage_of_claims )
END

IF (@claim_amount_type_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + ' AND caq.claim_amount_type_id = ' +  CONVERT(NVARCHAR, @claim_amount_type_id )
END

IF @effective_from IS NOT NULL AND @effective_from <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( caq.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) '
END

IF @effective_thru IS NOT NULL AND @effective_thru <> ''
BEGIN
SET @sqlString = @sqlString + ' AND ( caq.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) '
END


------------------------------------------------------------------------------------------------------------------------

SET @sqlString = @sqlString + '  ORDER BY
sort_from , caq.effective_from DESC
,sort_thru , caq.effective_thru DESC
,caq.claim_analysis_queue_ud '
EXEC(@sqlString)

END
GO
