USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_load_by_relationship_to_insured]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Nov  9 2005  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/9/2005        HungTNguyen       1.0            created

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to calculation number of member in Family with relationship.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_member_load_by_relationship_to_insured]
(
@family_eligibility_id			Int
,@relationship_to_insured_id		Int

)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT count(family_eligibility_member.family_eligibility_member_id) as number_of_member

FROM family_eligibility, family_eligibility_member

WHERE
family_eligibility.family_eligibility_id=family_eligibility_member.family_eligibility_id
and family_eligibility_member.relationship_to_insured_id=@relationship_to_insured_id
and family_eligibility.family_eligibility_id=@family_eligibility_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
