USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_batch_detail_invoices_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Customer Payment Batch form allows user to enter/post multiple Customer Payments
at one time, with less work.

Voided or Applied Customer Payments only display Invoices to which they have been applied.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_batch_detail_invoices_load] (
@accounting_transaction_ar_id INT = NULL
,@customer_id INT = NULL
,@accounting_company_id INT = NULL
,@accounting_company_account_id INT = NULL
,@accounting_transaction_ar_payment_batch_status_id INT = NULL
,@accounting_transaction_ar_payment_batch_id INT = NULL
)
AS
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@IGNORE_ENTERED BIT
,@unapplied_amount NUMERIC
,@VOIDED_accounting_payment_status_id INT
,@APPLIED_accounting_payment_status_id INT
,@BATCH_APPLIED_status_id INT = NULL

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@IGNORE_ENTERED = 1

SELECT @BATCH_APPLIED_status_id = accounting_transaction_ar_payment_batch_status_id
FROM accounting_transaction_ar_payment_batch_status batchStatus
WHERE batchStatus.golden_key = 'APPLIED'

--Get payment status id for 'VOIDED'
SELECT @VOIDED_accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED'

--Get payment status id for 'APPLIED'
SELECT @APPLIED_accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'APPLIED'

IF NOT (@accounting_transaction_ar_payment_batch_status_id = @BATCH_APPLIED_status_id)
BEGIN	-- BATCH IS IN ENTERED STATUS
--If payment is 'VOIDED' or 'APPLIED', do not display potentially applicable Invoices in grid
IF
(SELECT accounting_payment_status_id
FROM accounting_transaction_ar_payment_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id)
IN (@VOIDED_accounting_payment_status_id, @APPLIED_accounting_payment_status_id)
BEGIN
SELECT ata.accounting_transaction_ar_id AS invoice_id
,ata.accounting_transaction_ar_ud AS invoice_ud
,1 AS 'apply'
,invoice.due_date
,ata.transaction_amount AS invoice_amount
,dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) AS unapplied_amount
,apply_to.accounting_transaction_ar_apply_to_id
,apply_to.from_accounting_transaction_ar_id
,apply_to.to_accounting_transaction_ar_id
,apply_to.amount
,apply_to.comment
,ISNULL(apply_to.is_posted, 0) AS is_posted
FROM accounting_transaction_ar_invoice_detail invoice
JOIN accounting_transaction_ar ata ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
JOIN accounting_transaction_ar_apply_to AS apply_to ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE
-- Include invoices paid by this customer payment
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
ORDER BY due_date
,invoice_ud
END
ELSE
BEGIN
SELECT ata.accounting_transaction_ar_id AS invoice_id
,ata.accounting_transaction_ar_ud AS invoice_ud
,CASE
WHEN apply_to.accounting_transaction_ar_apply_to_id IS NULL
THEN 0
ELSE 1
END AS 'apply'
,invoice.due_date
,ata.transaction_amount AS invoice_amount
,dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) AS unapplied_amount
,apply_to.accounting_transaction_ar_apply_to_id
,ISNULL(apply_to.from_accounting_transaction_ar_id, @accounting_transaction_ar_id) AS from_accounting_transaction_ar_id
,apply_to.to_accounting_transaction_ar_id
,apply_to.amount
,apply_to.comment
,ISNULL(apply_to.is_posted, 0) AS is_posted
FROM accounting_transaction_ar_invoice_detail invoice
INNER JOIN accounting_transaction_ar ata ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
INNER JOIN accounting_invoice_status invstat ON invoice.accounting_invoice_status_id = invstat.accounting_invoice_status_id
LEFT JOIN accounting_transaction_ar_apply_to AS apply_to ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
AND apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
WHERE
-- Include invoices paid by this customer payment
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
-- OR, Any open, unpaid invoices matching the customer/accounting company of this customer payment
OR (
ata.customer_id = @customer_id
AND ata.accounting_company_id = @accounting_company_id
AND invoice.ar_accounting_company_account_id = @accounting_company_account_id
AND (dbo.fn_invoice_is_available(invoice.accounting_transaction_ar_id) = 1)
AND (dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) >= 0)
)
ORDER BY due_date
,invoice_ud
END
END
ELSE --BATCH IS APPLIED, so only load invoices applied to the Customer Payments.
BEGIN
SELECT ata.accounting_transaction_ar_id AS invoice_id
,ata.accounting_transaction_ar_ud AS invoice_ud
,1 AS 'apply'
,invoice.due_date
,ata.transaction_amount AS invoice_amount
,dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) AS unapplied_amount
,apply_to.accounting_transaction_ar_apply_to_id
,apply_to.from_accounting_transaction_ar_id
,apply_to.to_accounting_transaction_ar_id
,apply_to.amount
,apply_to.comment
,ISNULL(apply_to.is_posted, 0) AS is_posted
FROM accounting_transaction_ar_invoice_detail invoice
JOIN accounting_transaction_ar ata ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
JOIN accounting_transaction_ar_apply_to AS apply_to ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE
-- Include invoices paid by this customer payment
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
ORDER BY due_date
,invoice_ud
END

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
