USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_detail_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************
Enrollment Form, Loan Info tab
This stored procedure loads the child grid Loan Distributions (grdLoanDetails)
with all of the rows for all the parent columns in the grdLoan grid.

The ParentChildGridRelationship class filters each set of child rows
accordingly.

**********************************************************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_detail_list_load]
(
@family_eligibility_id int = 0,
@benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT
feld.family_eligibility_loan_detail_id,
feld.family_eligibility_loan_id,
feld.is_primary_applicant,
feld.family_eligibility_member_id,
fem.member_id,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, mn.name_suffix) as member_name,
feld.occupation_code_id,
oc.occupation_code_ud,
feld.loan_balance,
feld.loan_percent,
coverage_amount = fel.loan_amount * feld.loan_percent,
settlement_amount = feld.loan_balance * feld.loan_percent

FROM dbo.family_eligibility_loan_detail feld
JOIN family_eligibility_loan fel ON fel.family_eligibility_loan_id = feld.family_eligibility_loan_id
JOIN family_eligibility_member fem ON feld.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN member_name mn ON fem.member_id = mn.member_id AND ISNULL(mn.is_primary,0) = 1
LEFT JOIN occupation_code oc ON feld.occupation_code_id = oc.occupation_code_id

WHERE
fel.family_eligibility_id = @family_eligibility_id
AND
fel.benefit_plan_id = @benefit_plan_id

RETURN 0
GO
