USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_benefit_contract_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
Date: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
----------------------------------------------------------------------------------------------------------------------------------------------------------------
12/26/2005	Mai Tran	1.0			Created
10/26/2015	CKnobloch	1.1			Update the Displayed Number of Subcribers and Dependents per Benefit Contract (Show only Active)
----------------------------------------------------------------------------------------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load all benefit contracts that belong to this group
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_client_group_benefit_contract_list_load]
(
@client_group_id			INT = NULL
,	@show_only_current			BIT	= NULL
)
AS
--
--
SET NOCOUNT ON
--
IF @show_only_current = 1
BEGIN
SELECT	 bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm
,ISNULL(sub.subscribers, 0)	AS subscribers
,ISNULL(dep.dependents, 0)	AS dependents
,bc.effective_from
,bc.effective_thru
,isnull(bc.effective_thru,'9999-12-31') as order_effective_thru
,btr.benefit_termination_reason_id
,btr.benefit_termination_reason_ud
FROM	dbo.benefit_contract bc
LEFT JOIN dbo.benefit_termination_reason btr
ON	btr.benefit_termination_reason_id = bc.benefit_termination_reason_id
LEFT JOIN (
SELECT	 benefit_contract_id
,COUNT(family_eligibility_id) AS subscribers
FROM	dbo.family_eligibility fe
WHERE (DATEDIFF(day, GETDATE(), fe.effective_from) <= 0 OR fe.effective_from IS NULL)
AND	(DATEDIFF(day, GETDATE(), fe.effective_thru) >= 0 OR fe.effective_thru IS NULL)
GROUP BY benefit_contract_id
) sub
ON sub.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN (
SELECT	 fe.benefit_contract_id
,COUNT(fem.family_eligibility_member_id) AS dependents
FROM	dbo.family_eligibility fe
INNER JOIN dbo.family_eligibility_member fem
ON	fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN dbo.relationship_to_insured r
ON	r.relationship_to_insured_id = fem.relationship_to_insured_id
WHERE	r.golden_key <> 'Self' AND r.golden_key <> 'Guarantor'
AND (DATEDIFF(day, GETDATE(), fe.effective_from) <= 0 OR fe.effective_from IS NULL)
AND	(DATEDIFF(day, GETDATE(), fe.effective_thru) >= 0 OR fe.effective_thru IS NULL)
GROUP BY fe.benefit_contract_id
) dep
ON dep.benefit_contract_id = bc.benefit_contract_id
WHERE	bc.client_group_id = @client_group_id
AND		(DATEDIFF(day, GETDATE(), bc.effective_from) <= 0 OR bc.effective_from IS NULL)
AND		(DATEDIFF(day, GETDATE(), bc.effective_thru) >= 0 OR bc.effective_thru IS NULL)
order by order_effective_thru desc ,bc.benefit_contract_ud  asc
END
ELSE
BEGIN
SELECT	 bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm
,ISNULL(sub.subscribers, 0)	AS subscribers
,ISNULL(dep.dependents, 0)	AS dependents
,bc.effective_from
,bc.effective_thru
,isnull(bc.effective_thru,'9999-12-31') as order_effective_thru
,btr.benefit_termination_reason_id
,btr.benefit_termination_reason_ud
FROM	dbo.benefit_contract bc
LEFT JOIN dbo.benefit_termination_reason btr
ON	btr.benefit_termination_reason_id = bc.benefit_termination_reason_id
LEFT JOIN (
SELECT	 benefit_contract_id
,COUNT(family_eligibility_id) AS subscribers
FROM	dbo.family_eligibility fe
WHERE (DATEDIFF(day, GETDATE(), fe.effective_from) <= 0 OR fe.effective_from IS NULL)
AND	(DATEDIFF(day, GETDATE(), fe.effective_thru) >= 0 OR fe.effective_thru IS NULL)
GROUP BY benefit_contract_id
) sub
ON sub.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN (
SELECT	 fe.benefit_contract_id
,COUNT(fem.family_eligibility_member_id) AS dependents
FROM	dbo.family_eligibility fe
INNER JOIN dbo.family_eligibility_member fem
ON	fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN dbo.relationship_to_insured r
ON	r.relationship_to_insured_id = fem.relationship_to_insured_id
WHERE	r.golden_key <> 'Self' AND r.golden_key <> 'Guarantor'
AND (DATEDIFF(day, GETDATE(), fe.effective_from) <= 0 OR fe.effective_from IS NULL)
AND	(DATEDIFF(day, GETDATE(), fe.effective_thru) >= 0 OR fe.effective_thru IS NULL)

GROUP BY fe.benefit_contract_id
) dep
ON dep.benefit_contract_id = bc.benefit_contract_id
WHERE	bc.client_group_id = @client_group_id
order by order_effective_thru desc,bc.benefit_contract_ud  asc
END

--
GO
