USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/02/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
06/01/2018 - amortensen - RT:12695 Added state_set_id and state_address_rule_id columns
--
DESCRIPTION:
To save cob processing rules on the benefit contract/period/plan.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_save]
(
@benefit_contract_period_benefit_plan_cob_processing_rule_id  INT = NULL   OUTPUT
,@benefit_contract_period_benefit_plan_id                     INT = NULL
,@cob_processing_rule_id                                      NVARCHAR(50) = NULL
,@state_set_id                                                INT = NULL
,@state_address_rule_id                                       INT = NULL
,@effective_from                                              DATETIME
,@effective_thru                                              DATETIME
,@active                                                      BIT = 1
)
AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @benefit_contract_period_benefit_plan_cob_processing_rule_id IS NULL
BEGIN

--- Create a new
INSERT INTO dbo.benefit_contract_period_benefit_plan_cob_processing_rule(
benefit_contract_period_benefit_plan_id
,cob_processing_rule_id
,state_set_id
,state_address_rule_id
,effective_from
,effective_thru
,active
)
VALUES (
@benefit_contract_period_benefit_plan_id
,@cob_processing_rule_id
,@state_set_id
,@state_address_rule_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @benefit_contract_period_benefit_plan_cob_processing_rule_id = SCOPE_IDENTITY()
END
ELSE IF NOT EXISTS (
SELECT *
FROM dbo.benefit_contract_period_benefit_plan_cob_processing_rule
WHERE benefit_contract_period_benefit_plan_cob_processing_rule_id = @benefit_contract_period_benefit_plan_cob_processing_rule_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing
UPDATE dbo.benefit_contract_period_benefit_plan_cob_processing_rule
SET
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
,cob_processing_rule_id                 = @cob_processing_rule_id
,state_set_id                           = @state_set_id
,state_address_rule_id                  = @state_address_rule_id
,effective_from                         = @effective_from
,effective_thru                         = @effective_thru
,active                                 = @active
,modified_user_name                     = ORIGINAL_LOGIN()
,modified_date                          = GETDATE()
WHERE benefit_contract_period_benefit_plan_cob_processing_rule_id = @benefit_contract_period_benefit_plan_cob_processing_rule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
