USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_reconciliation_analysis_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_reconciliation_analysis_queue_load]
(
@reconciliation_analysis_queue_ud	NVARCHAR(100) = NULL,
@description					NVARCHAR(255) NULL,
@show_exact_matches				BIT = 0,
@get_column_headers				BIT = 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS    INT,
@SP_EXCEPTION  INT,
@SqlQuery      NVARCHAR(4000),
@SqlCondition  NVARCHAR(4000),
@Prefix        NVARCHAR(10),
@Suffix        NVARCHAR(10)

SELECT
@SP_SUCCESS    = 0,
@SP_EXCEPTION  = -1,
@SqlQuery      = '',
@SqlCondition  = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix        = '',
@Suffix        = ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = 'LIKE N'''
SET @suffix = '%'')'
END


IF @reconciliation_analysis_queue_ud IS NOT NULL AND @reconciliation_analysis_queue_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(reconciliation_analysis_queue_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reconciliation_analysis_queue_ud, @show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

SET @SqlQuery =
' SELECT  TOP (dbo.fn_results_limit())
reconciliation_analysis_queue_id,
reconciliation_analysis_queue_ud,
description
FROM reconciliation_analysis_queue
'
--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
RETURN 0

END
GO
