USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_code_group_procedure_code_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/28/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load the procedure code grid
Procedure Code Specific Minimums and Maximums (grdPxCodeSpecificMinAndMax)
on the Dental Alternate Course Grouping Definition entity

******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_code_group_procedure_code_load]
(
@alternate_course_code_group_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

accgpc.alternate_course_code_group_procedure_code_id
, accgpc.alternate_course_code_group_id
, accgpc.procedure_code_id
, pc.procedure_code_ud as procedure_code_ud
, accgpc.minimum_number
, accgpc.maximum_number

FROM
alternate_course_code_group_procedure_code accgpc
INNER JOIN procedure_code pc
ON pc.procedure_code_id = accgpc.procedure_code_id

WHERE
accgpc.alternate_course_code_group_id = @alternate_course_code_group_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN 1
END
--
GO
