USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_customer_list_load]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Dec 19 2005  9:16AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Dec 19 2005	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdPracticeOfficeCustomers on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_practice_office_customer_list_load]
(
@practice_office_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
practice_office_customer.practice_office_customer_id

,practice_office_customer.customer_id
,customer.customer_ud

,practice_office_customer.criteria_id
,criteria.criteria_ud

,practice_office_customer.use_as_default
,practice_office_customer.effective_from
,practice_office_customer.effective_thru
FROM practice_office_customer
left join practice_office  ON practice_office.practice_office_id = practice_office_customer.practice_office_id
left join customer  ON customer.customer_id = practice_office_customer.customer_id
left join criteria  ON criteria.criteria_id = practice_office_customer.criteria_id
WHERE practice_office_customer.practice_office_id = @practice_office_id
Order by effective_from desc, criteria_ud asc
--
RETURN @SP_SUCCESS
--
GO
