USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_episod_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyVNgo

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/15/2006	ThuyVNgo		1.0			created

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Generate the Internal ID

--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
counter
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_auto_create_episod_id_rule]

AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE
@golden_key nvarchar(255)

SELECT
@golden_key=auto_create_episode_id_rule.golden_key
FROM   global_rule
LEFT JOIN auto_create_episode_id_rule ON auto_create_episode_id_rule.auto_create_episode_id_rule_id = global_rule.auto_create_episode_id_rule_id

-- Set the prefix for the auto generated id.
DECLARE
@prefix		NVARCHAR(100)
,@episode_ud	NVARCHAR(100)

SET @episode_ud = ''

IF (@golden_key='Date + Counter')
BEGIN
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)
END
ELSE IF (@golden_key='Date + Batch Code + Counter')
BEGIN -- This doesn't make sense; we should be passing the BatchCode in...
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112) + 'BatchCode'
END
ELSE
BEGIN
SELECT @episode_ud AS episode_ud
RETURN @SP_SUCCESS
END

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_length				INT
,@counter						INT
,@counter_text					NVARCHAR(50)

SET @auto_create_counter_type_ud = 'Episode ' + @prefix
SET @counter_length = 5

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @episode_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM episode
WHERE episode_ud = @episode_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_length)
SELECT @episode_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @episode_ud AS episode_ud
RETURN @SP_SUCCESS
END
GO
