USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_class_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/29/2005	Hiep Nguyen	1.0		create
05/19/2009	Vishwa		2.0		updated with sort order
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down benefit_class (Benefit Class)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_benefit_class_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,golden_key
FROM benefit_class
ORDER BY sort_order

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
