USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_type_disability_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 12/12/2012
--
REVISION_HISTORY:
--
Date		Modified By      Version     Description
--------------------------------------------------------------------------------
12/12/2012	eponomareff      1.0        Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_rate_type related only to
Long Term Disability and Short Term Disability, as a way of differentiating the two types
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_rate_type_disability_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
prt.premium_rate_type_id
,prt.premium_rate_type_ud
,prt.golden_key

FROM premium_rate_type prt
WHERE prt.golden_key
IN ('LONG_TERM_DISABILITY', 'SHORT_TERM_DISABILITY')
ORDER BY  premium_rate_type_ud

RETURN @SP_SUCCESS
GO
