USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	mttran		1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a sub limit rule in Accumulator Framework
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_delete]
(
@accumulator_sub_limit_id                   int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@FINAL_RESULT int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@FINAL_RESULT = 0
--
IF NOT EXISTS (SELECT * FROM accumulator_sub_limit WHERE accumulator_sub_limit_id = @accumulator_sub_limit_id )
BEGIN
SET @FINAL_RESULT =  @SP_EXCEPTION
END
--
ELSE
BEGIN
--delete references
DELETE FROM	accumulator_sub_limit_criteria
WHERE 	accumulator_sub_limit_id = @accumulator_sub_limit_id
DELETE FROM	accumulator_sub_limit_rule
WHERE 	accumulator_sub_limit_id = @accumulator_sub_limit_id
DELETE FROM	accumulator_sub_limit_treatment_type_set
WHERE 	accumulator_sub_limit_id = @accumulator_sub_limit_id
--delete itself
DELETE FROM accumulator_sub_limit
WHERE accumulator_sub_limit_id = @accumulator_sub_limit_id
END
--
--catch error if it happen
DECLARE @SWV_error int
SELECT  @SWV_error = @@ERROR
IF(@SWV_error <> 0) SET @FINAL_RESULT = @SP_EXCEPTION
--
RETURN @FINAL_RESULT
--
GO
