USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
05/31/2008 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/31/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a Claim Payment Queue.
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_payment_queue_delete]
(
@claim_payment_queue_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM claim_payment_queue WHERE claim_payment_queue_id = @claim_payment_queue_id)
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

--Check if this claim payment queue is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_claim_payment_queue_check_delete @claim_payment_queue_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Delete claim payment queue children.
DELETE FROM claim_payment_queue_queue_criteria
WHERE claim_payment_queue_id = @claim_payment_queue_id

-- Get the schedule form id
DECLARE @schedule_form_id INT

SELECT @schedule_form_id = schedule_form_id
FROM claim_payment_queue
WHERE claim_payment_queue_id = @claim_payment_queue_id

-- Delete the claim payment queue.
DELETE FROM claim_payment_queue
WHERE claim_payment_queue_id = @claim_payment_queue_id

-- Delete the schedule for the claim payment queue.
IF @schedule_form_id IS NOT NULL
BEGIN
DELETE FROM schedule_form
WHERE schedule_form_id = @schedule_form_id
END
END
--
RETURN @SP_SUCCESS
--
GO
