USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_number_generation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_number_generation_rule (Claim Number Generation Rule)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_claim_number_generation_rule_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
claim_number_generation_rule.claim_number_generation_rule_id
,claim_number_generation_rule.claim_number_generation_rule_ud
,claim_number_generation_rule.golden_key
FROM claim_number_generation_rule
ORDER BY claim_number_generation_rule_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
