USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_waiting_period_date_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 25 2005  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down eligibility_waiting_period_date_rule (Eligibility Waiting Period Date Rule)
--
REQUIREMENTS:
--
INPUTS:
eligibility_waiting_period_date_rule_id - Key to eligibility_waiting_period_date_rule table, identifies a single stored dd_eligibility_waiting_period_date_rule.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_eligibility_waiting_period_date_rule_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
eligibility_waiting_period_date_rule_id
,eligibility_waiting_period_date_rule_ud


FROM eligibility_waiting_period_date_rule

order by eligibility_waiting_period_date_rule_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
