USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_professional_medical_duplicate]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 12/16/2008
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
12/16/2008	Vishwa Jella			1.0			Created and used for creating duplicate Professional Medical Fee Schedule Records only
12/06/2009	Vishwa Jella			2.0			Added created_user_name field to store user_name for the duplicate record
2/21/2012	dcannon					2.1			Added anesthesia calculation rule for RT 1591
09/07/2013	eponomareff				3.1			Added procedure_code_icd_version_id
--
CURRENT_VERSION: 3.1
--
DESCRIPTION:
This procedure used for creating duplicate Professional Medical Fee Schedule Records only.
Creates a duplicate of the record indicated by @fee_schedule_id giving the duplicate record
the UD, AsOfDate and Description supplied as arguments.

If AsOfDate specified with value, Then grid rows on the form are filtered using AsOfDate.
Ex: AsOfDate 02/02/2008
Then gird rows are shown if the date range falls under this date (from this date 02/02/2008 to till future)
fee_schedule has 1 detail table, fee_schedule_professional_medical_detail
--
REQUIREMENTS:
--
INPUTS:

@fee_schedule_id,
@UD,
@Description

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_fee_schedule_professional_medical_duplicate]

(
@ID						INT, -- fee_schedule_id
@UD						NVARCHAR(50),
@AsOfDate				datetime = null,
@Description			NVARCHAR(255) = null
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@fee_schedule_form_type_id INT,
@new_fee_schedule_id INT,
@ERROR 	NVARCHAR(50)

---Get @fee_schedule_form_type_id
select @fee_schedule_form_type_id = fee_schedule_form_type_id
from fee_schedule_form_type
where fee_schedule_form_type.golden_key = 'Professional Medical'

INSERT INTO fee_schedule (
fee_schedule_ud
,description
,fee_schedule_form_type_id
,default_procedure_code_type_id
,anesthesia_per_unit
,base_fee_schedule_payment_percentage_value
,base_fee_schedule_id
,anesthesia_calculation_rule_id
,anesthesia_add_on_code_calculation
)
SELECT
@UD
,@Description
,@fee_schedule_form_type_id
,default_procedure_code_type_id
,anesthesia_per_unit
,base_fee_schedule_payment_percentage_value
,base_fee_schedule_id
,anesthesia_calculation_rule_id
,anesthesia_add_on_code_calculation
FROM	fee_schedule
WHERE	fee_schedule_id = @ID

SELECT @new_fee_schedule_id = SCOPE_IDENTITY()

INSERT INTO fee_schedule_professional_medical_detail(

fee_schedule_id
,procedure_code_type_id
,procedure_code_icd_version_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,fee_schedule_payment_method_id
,payment_value
,anesthesia_time_value
,effective_from
,effective_thru
,is_balance_billable
,pend_for_review
,hold_for_payment)

SELECT
@new_fee_schedule_id
,procedure_code_type_id
,procedure_code_icd_version_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,fee_schedule_payment_method_id
,payment_value
,anesthesia_time_value
,effective_from
,effective_thru
,is_balance_billable
,pend_for_review
,hold_for_payment

FROM	fee_schedule_professional_medical_detail
WHERE	fee_schedule_id = @ID
AND ( (@AsOfDate between effective_from AND ISNULL(effective_thru,'01/01/3000'))
OR ( @AsOfDate <= ISNULL(effective_thru,'01/01/3000')))

RETURN isnull(@new_fee_schedule_id, 0)
GO
