USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_set_fee_schedule_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard & rvolkening
DATE: Oct 27, 2009
--
DESCRIPTION:
Delete for Fee Schedule Assignment grid on Fee Schedule Set form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_fee_schedule_set_fee_schedule_delete]
(
@fee_schedule_set_fee_schedule_id                        int = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION  int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM fee_schedule_set_fee_schedule WHERE fee_schedule_set_fee_schedule_id = @fee_schedule_set_fee_schedule_id)
RETURN @SP_SUCCESS
--
ELSE
BEGIN
BEGIN TRANSACTION

BEGIN TRY

DELETE FROM fee_schedule_set_fee_schedule
WHERE fee_schedule_set_fee_schedule_id = @fee_schedule_set_fee_schedule_id

COMMIT TRANSACTION

RETURN @SP_SUCCESS

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END CATCH


END
GO
