USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_get_member_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Oct 24 2006  8:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/24/2006	tinhdo		1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to get infomation of member on grid "Family Member"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
family_eligibility_member_id - Key to family_eligibility_member table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_member_get_member_id]
(
@family_eligibility_member_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
family_eligibility_member.family_eligibility_member_id

,family_eligibility_member.family_eligibility_id

,family_eligibility_member.member_id

,family_eligibility_member.relationship_to_insured_id

,family_eligibility_member.member_disclosure_restriction_id

,family_eligibility_member.use_subsciber_address

FROM family_eligibility_member

WHERE family_eligibility_member.family_eligibility_member_id = @family_eligibility_member_id
--
RETURN @SP_SUCCESS
GO
