USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_retroactive_members]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_retroactive_members]
(
@capitationPeriodId INT,
@capitationRunId INT,
@providerId INT
)
AS
BEGIN
SET NOCOUNT ON;

-- Using a subquery was far fewer reads than combining the WHERE clause here with the main select statement.
WITH missing_eligibilities (capitation_calculation_id)
AS
(
SELECT
cc.capitation_calculation_id
FROM
capitation_calculation cc
WHERE
cc.capitation_period_id = @capitationPeriodId
AND cc.provider_id = @providerId
AND NOT EXISTS (SELECT 1 FROM capitation_staging_eligibilities se WHERE se.eligibility_id = cc.family_eligibility_member_benefit_plan_id)
)
INSERT INTO capitation_calculation
(
capitation_run_id,
capitation_period_id,
provider_id,
capitation_rate_assignment_id,
capitation_rate_assignment_tier_criteria_amount_id,
family_eligibility_id,
family_eligibility_member_benefit_plan_id,
base_rate_amount,
withhold_amount,
withhold_account_id,
coverage_period_from,
coverage_period_thru,
vendor_id,
negated_capitation_calculation_id
)
SELECT
@capitationRunId,
@capitationPeriodId,
cc.provider_id,
cc.capitation_rate_assignment_id,
cc.capitation_rate_assignment_tier_criteria_amount_id,
cc.family_eligibility_id,
cc.family_eligibility_member_benefit_plan_id,
-cc.base_rate_amount,
-cc.withhold_amount,
cc.withhold_account_id,
cc.coverage_period_from,
cc.coverage_period_thru,
cc.vendor_id,
cc.capitation_calculation_id
FROM
missing_eligibilities me
INNER JOIN capitation_calculation cc
ON cc.capitation_calculation_id = me.capitation_calculation_id
WHERE
cc.negated_capitation_calculation_id IS NULL
AND NOT EXISTS (SELECT 1 FROM capitation_calculation t WHERE t.capitation_period_id = @capitationPeriodId AND t.negated_capitation_calculation_id = cc.capitation_calculation_id);

END
GO
