USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_capitation_period_method_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/27/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down capitation_period_method (capitation period method)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_capitation_period_method_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
capitation_period_method.capitation_period_method_id
,capitation_period_method.capitation_period_method_ud
,capitation_period_method.golden_key

FROM capitation_period_method
ORDER BY  capitation_period_method_ud

RETURN @SP_SUCCESS
GO
