USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_credit_memo_post]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Posts a Credit Memo. Launched from cmdPost on frmAccountingCreditMemoAr.
NOTES:
Modeled after PostCustomerPayment service in Accounting.sln

Assumes that the apply_to rows have been validated and saved to database.

Updates the following fields for the apply-to's:
is_posted (bit) to true
posted_date to credit memo date
posted_user_name to user
modified_user_name to user
modified_date to current date/time

Update the Credit Memo status based on whether the Credit Memo amount
has been fully applied.
Amount fully applied ==> APPLIED status
Amount not fully applied ==> AVAILABLE status

How apply_to's work:
Invoice / Transaction apply_to's:
==> FROM = The Invoice
TO   = The AR transaction
unapplied_amount is the Transaction unapplied amount

Customer Payment / Invoice apply_to's:
==> FROM = The Customer Payment
TO   = The Invoice
unapplied_amount is the Invoice unapplied amount

Credit Memo / Invoice apply_to's:
==> FROM = The Credit Memo
TO   = The Invoice
unapplied_amount is the Invoice unapplied amount

Credit Memo / Debit Memo apply_to's:
==> FROM = The Credit Memo
TO   = The Debit Memo
unapplied_amount is the Debit Memo unapplied amount

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_credit_memo_post]
(
@accounting_transaction_ar_id	INT = NULL	-- Credit Memo ID ( = @from_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON;

DECLARE
@UNAPPLIED_AMOUNT NUMERIC(20,10),
@APPLIED_AMOUNT NUMERIC(20,10);

SELECT
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0;
--
BEGIN TRANSACTION

-- Here we only update the is_posted bit and related fields.
-- Other fields (amount, comments) have already been updated on the save.
UPDATE accounting_transaction_ar_apply_to
SET
is_posted                      = 1,
posted_date                    = ata.transaction_date,
posted_user_name               = ORIGINAL_LOGIN(),
modified_user_name             = ORIGINAL_LOGIN(),
modified_date                  = GETDATE()
FROM accounting_transaction_ar_apply_to apply_to
JOIN accounting_transaction_ar ata
ON ata.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
WHERE
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
AND apply_to.amount IS NOT NULL
AND ISNULL(is_posted, 0) = 0;

-- Get amount applied to invoices and debit memos, to see whether
--            Credit Memo has been fully applied, or is still available.
DECLARE @APPLIED_AMOUNT_INVOICES NUMERIC(20,10) = 0.0;
DECLARE @APPLIED_AMOUNT_DEBIT_MEMOS NUMERIC(20,10) = 0.0;
DECLARE @VOIDED_INVOICE_STATUS_ID INT =
(SELECT accounting_invoice_status_id from accounting_invoice_status
WHERE golden_key = 'VOIDED');
DECLARE @VOIDED_DEBIT_MEMO_STATUS_ID INT =
(SELECT accounting_debit_memo_status_id from accounting_debit_memo_status
WHERE golden_key = 'VOIDED');

-- add up applied amounts from this Credit Memo to non-voided invoices
SET @APPLIED_AMOUNT_INVOICES =
(SELECT SUM(amount)
FROM accounting_transaction_ar_apply_to apply_to
JOIN accounting_transaction_ar_invoice_detail inv_detail
ON apply_to.to_accounting_transaction_ar_id = inv_detail.accounting_transaction_ar_id
WHERE
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
AND
inv_detail.accounting_invoice_status_id <> @VOIDED_INVOICE_STATUS_ID);

-- add up applied amounts from this Credit Memo to non-voided invoices
SET @APPLIED_AMOUNT_DEBIT_MEMOS =
(SELECT SUM(amount)
FROM accounting_transaction_ar_apply_to apply_to
JOIN accounting_transaction_ar_debit_memo_detail dm_detail
ON apply_to.to_accounting_transaction_ar_id = dm_detail.accounting_transaction_ar_id
WHERE
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
AND
dm_detail.accounting_debit_memo_status_id <> @VOIDED_DEBIT_MEMO_STATUS_ID);

-- SET STATUS
DECLARE @statusId INT = 0;
-- compare the amounts
IF ISNULL(@APPLIED_AMOUNT_INVOICES, 0.0) + ISNULL(@APPLIED_AMOUNT_DEBIT_MEMOS, 0.0)
<  (SELECT transaction_amount
FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id)
SET @statusId =
(SELECT accounting_credit_memo_status_id
FROM accounting_credit_memo_status
WHERE golden_key = 'AVAILABLE');
ELSE
SET @statusId =
(SELECT accounting_credit_memo_status_id
FROM accounting_credit_memo_status
WHERE golden_key = 'APPLIED');

-- set status
UPDATE accounting_transaction_ar_credit_memo_detail
SET accounting_credit_memo_status_id = @statusId
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

IF @@ERROR > 0
BEGIN
ROLLBACK TRANSACTION
RETURN -1
END
ELSE
COMMIT TRANSACTION
--
RETURN 0
GO
