USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_exception_rule_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
HEADER_BEGIN;


REVISION_HISTORY:

Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2009	Vishwa Jella	1.0			created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if/WHERE this benefit_coverage_exception_rule is used
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_coverage_exception_rule_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT	benefit_coverage_exception_rule_id
FROM	benefit_coverage_exception_rule
WHERE	benefit_coverage_exception_rule_id = @id)
RETURN @SP_DELETE_ABLE

ELSE
BEGIN
IF EXISTS(SELECT * FROM benefit_benefit_coverage_exception_rule WHERE benefit_coverage_exception_rule_id = @id)
OR EXISTS(SELECT * FROM benefit_qualifier_assignment WHERE benefit_coverage_exception_rule_id = @id)
BEGIN
--check Benefits
SELECT 'Benefits' As object_golden_key, benefit_ud AS object_ud
FROM benefit
LEFT JOIN benefit_benefit_coverage_exception_rule ON benefit_benefit_coverage_exception_rule.benefit_id = benefit.benefit_id
WHERE benefit_benefit_coverage_exception_rule.benefit_coverage_exception_rule_id = @id

--check Benefit Qualifier Assignment
SELECT 'Benefit Qualifier Assignment' As object_golden_key, 'Assignment Grid' AS object_ud
FROM benefit_qualifier_assignment
WHERE benefit_coverage_exception_rule_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
