USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_fee_schedule_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: rvolkening
DATE: 11/03/2009

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/16/2011	ggutshall		1.1		Added returnset limitations
--
DESCRIPTION:
Find all the Fee Schedule Sets based on the criteria entered on the form.
The returned results must contain the Fee Schedule Set ID, Fee Schedule Set Name,
Fee Schedule Form Type ID, Fee Schedule Form Type Name .

--
REQUIREMENTS:
--
INPUTS:
@fee_schedule_set_ud		nvarchar(100) = NULL
,@description		nvarchar(200) = NULL
,@fee_schedule_form_type_id 	int = NULL
,@show_exact_matches		bit = NULL

--
OUTPUTS:
a benefit contract record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                                 PROCEDURE [dbo].[plx_find_fee_schedule_set_load]
(
@get_column_headers			BIT = 0
,@fee_schedule_set_ud		nvarchar(100) = NULL
,@description	nvarchar(200) = NULL
,@fee_schedule_form_type_id 	int = NULL
,@show_exact_matches		bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@Prefix		= ''
,@Suffix		= ''
--

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

DECLARE @strSQL nvarchar(4000)
DECLARE @WhereClause nvarchar(4000)

IF RTRIM(@fee_schedule_set_ud) = ''
SET @fee_schedule_set_ud = NULL

IF RTRIM(@description) = ''
SET @description = NULL

IF @fee_schedule_form_type_id <= 0
SET @fee_schedule_form_type_id = NULL

SET @strSQL =
'SELECT   DISTINCT TOP (dbo.fn_results_limit()) fee_schedule_set.fee_schedule_set_id
,fee_schedule_set.fee_schedule_set_ud
,fee_schedule_set.description
,fee_schedule_set.fee_schedule_form_type_id
,fee_schedule_form_type.fee_schedule_form_type_ud as fee_schedule_form_type_ud

FROM fee_schedule_set
left join fee_schedule_form_type on fee_schedule_set.fee_schedule_form_type_id = fee_schedule_form_type.fee_schedule_form_type_id
'
SET @WhereClause = '
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (dbo.plx_fn_need_find_on_criteria(@fee_schedule_set_ud, @show_exact_matches) = 1)
SET @WhereClause = @WhereClause + ' AND (ISNULL(fee_schedule_set_ud, '''')  ' + @Prefix + dbo.plx_EncodeStringWildCard(@fee_schedule_set_ud, @show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@description, @show_exact_matches) = 1)
SET @WhereClause = @WhereClause + ' AND (ISNULL(fee_schedule_set.description, '''')  ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @fee_schedule_form_type_id IS NOT NULL AND @fee_schedule_form_type_id > 0
SET @WhereClause = @WhereClause + ' AND (fee_schedule_set.fee_schedule_form_type_id = ' + str(@fee_schedule_form_type_id) + ')'

--print @strSQL + @WhereClause
exec(@strSQL + @WhereClause)

--
IF @@ROWCOUNT >= 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
