USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_check_reports_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
10/14/2008    Creation
--
REVISION_HISTORY:
--
Date          Modified By     Version		Description
--------------------------------------------------------------------------------
10/14/2008    Jeremy Hein                   Creation

DESCRIPTION:
This procedure is used to load data for drop down report for type of check_print


RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:

HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_check_reports_load]

AS

SET NOCOUNT ON

DECLARE @SP_SUCCESS int
SELECT  @SP_SUCCESS = 0

SELECT
r.report_id
,r.report_ud
,isnull(grl.path_to_reports, '') + '\' + isnull(R.report_file_name, '') as report_file_name
FROM   report r
INNER JOIN report_type rt on r.report_type_id = rt.report_type_id
LEFT JOIN global_reports_location grl ON global_reports_location_id in (select max(global_reports_location_id) as global_reports_location_id from global_reports_location)
WHERE rt.golden_key = 'CHECK_PRINT'
ORDER BY r.report_ud ASC
--
RETURN @SP_SUCCESS
GO
