USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_external_claim_edit_classification_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
DATE:	04/02/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/02/2014	amortensen	1.0			Created
04/28/2014	dcannon		1.1			RT:6504 Added UD and removed order by
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down classification id
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_external_claim_edit_classification_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
external_claim_edit_classification_id,
external_claim_edit_classification_ud as 'UD',
description
FROM external_claim_edit_classification
--
RETURN @SP_SUCCESS
GO
