USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_using_benefit_plan_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: nho
DATE: 09/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005	nho		1.1		FS changed
10/06/2006	Hiep Nguyen	1.2		Modified
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load for Benefit Contracts Where Benefit Plan Is In Use grid
in Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_id
--
OUTPUTS:
benefit_contract records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_using_benefit_plan_load]
(
@benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
select * from
(
SELECT DISTINCT
--	bp.benefit_plan_id
--	,bp.benefit_plan_ud
--	,bp.benefit_plan_nm
bcpbp.benefit_contract_period_benefit_plan_id
,bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm
,bc.effective_from
,bc.effective_thru

FROM benefit_plan bp
LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON bp.benefit_plan_id = bcpbp.benefit_plan_id
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
WHERE bp.benefit_plan_id = @benefit_plan_id and bc.benefit_contract_id is not null
AND bc.benefit_contract_template = 0
) as temp_table
ORDER BY CASE WHEN temp_table.effective_from IS NULL THEN 0 ELSE 1 END ASC, temp_table.effective_from DESC,
CASE WHEN temp_table.effective_thru IS NULL THEN 0 ELSE 1 END ASC, temp_table.effective_thru DESC


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
