USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_branch_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Sep  1 2006 10:47AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2006	hthan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage branch grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:
brokerage_branch_id - Key to brokerage_branch table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_brokerage_branch_list_load]
(
@brokerage_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_branch.agent_branch_id as brokerage_branch_id
,agent_branch.agent_branch_ud as brokerage_branch_ud
,agent_branch.agent_branch_nm as brokerage_branch_nm
,agent_branch.agent_id as brokerage_id
,agent_branch.effective_from as branches_effective_from
,agent_branch.effective_thru as branches_effective_thru
FROM agent_branch
WHERE agent_branch.agent_id = @brokerage_id
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru DESC
--
RETURN @SP_SUCCESS
GO
