USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_additional_information_form_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005  	Lamnguyen	1.0		Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to load data for drop down additional_information_form (Topic Form Names)
--
REQUIREMENTS:
--
INPUTS:
None
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_dd_additional_information_form_load]

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT distinct
additional_information_form.additional_information_form_id
,additional_information_form.additional_information_form_ud as ui_engine_form_nm
--	,ui_engine_form.[name] as ui_engine_form_nm
FROM additional_information_form
order by  ui_engine_form_nm

--
RETURN @SP_SUCCESS
--
GO
