USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_call_share_processing_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:

Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/03/2009	David Slayton	1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'call_share_processing_rule' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_call_share_processing_rule_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cspr.call_share_processing_rule_id
,cspr.call_share_processing_rule_ud
,cspr.description
,cspr.golden_key

FROM dbo.call_share_processing_rule cspr
ORDER BY cspr.call_share_processing_rule_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
