USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 11/23/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/23/2005	Lamnguyen	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Topic is Available on the Following Forms"
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:
@additional_information_id
,@additional_information_form_id
,@additional_information_topic_id
,@is_additional_information_required
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_additional_information_save]
(
@additional_information_id                  int = NULL   OUTPUT
,@additional_information_form_id             int = NULL
,@additional_information_topic_id            int = NULL
,@is_additional_information_required         bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @additional_information_id is Null
BEGIN
--- Create a new record
INSERT INTO additional_information(
additional_information_form_id
,additional_information_topic_id
,is_additional_information_required
)
VALUES
(@additional_information_form_id
,@additional_information_topic_id
,@is_additional_information_required
)
--
SET @additional_information_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM additional_information WHERE additional_information_id = @additional_information_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE additional_information SET
additional_information_form_id           = @additional_information_form_id
,additional_information_topic_id          = @additional_information_topic_id
,is_additional_information_required       = @is_additional_information_required
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
additional_information_id = @additional_information_id
END
--
RETURN @SP_SUCCESS
--
GO
