USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoice_agent_territory_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to load data for Agent Territory drop down for the agent on the premium setup form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_invoice_agent_territory_load]
(
@invoice_agent_identifier_id INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
DECLARE @invoice_agent_id INT
SET @invoice_agent_id =
(SELECT invoice_agent_id FROM invoice_agent_identifier WHERE invoice_agent_identifier_id = @invoice_agent_identifier_id)


SELECT
DISTINCT
t.territory_id
,t.territory_ud
,t.territory_nm
FROM
invoice_agent_territory iat
JOIN
territory t ON iat.territory_id = t.territory_id
WHERE
iat.invoice_agent_id = @invoice_agent_id
ORDER BY t.territory_ud
--
RETURN @SP_SUCCESS
GO
