USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_credit_memo_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load Customer Credit Memo form header data
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_credit_memo_load]
(
@accounting_transaction_ar_id INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE
@self_relationship INT
,@guarantor_relationship INT

SELECT @self_relationship = relationship_to_insured_id
FROM relationship_to_insured
WHERE golden_key = 'Self'

SELECT @guarantor_relationship = relationship_to_insured_id
FROM relationship_to_insured
WHERE golden_key = 'Guarantor'

SELECT
ata.accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud  	--Customer Credit Memo ID
,ata.accounting_transaction_ar_type_id	-- not exposed
,det.credit_memo_type_id
,ata.customer_id
,customer.customer_ud
,ata.accounting_company_id
,ac.accounting_company_ud
,ISNULL(ata.transaction_amount,0) AS transaction_amount
,ata.transaction_date
-- reporting info
,ata.client_id
,cn.client_ud
,ata.client_group_id
,cgn.client_group_ud
,ata.benefit_contract_id
,bc.benefit_contract_ud
,ata.benefit_plan_id
,bp.benefit_plan_ud
,ata.family_eligibility_id
,fe.family_eligibility_ud
,dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle,NULL) AS subscriber_name
,ata.coverage_period_start_date
,ata.coverage_period_end_date
,det.legacy_member_identifier
,det.legacy_member_name
-- details
,det.accounting_transaction_ar_credit_memo_detail_id
,det.accounting_credit_memo_status_id
,aps.accounting_credit_memo_status_ud
,aps.golden_key AS accounting_credit_memo_status_gk
,det.credit_accounting_company_account_id AS accounting_company_account_id --Credit Account Number
,aca.accounting_company_account_ud  AS accounting_company_account_ud --Credit Account Number
,det.reference_number
,det.memo
,det.created_date
,det.created_user_name
,det.modified_date
,det.modified_user_name

FROM accounting_transaction_ar ata
INNER JOIN accounting_transaction_ar_credit_memo_detail det
ON ata.accounting_transaction_ar_id = det.accounting_transaction_ar_id
LEFT JOIN customer
ON ata.customer_id = customer.customer_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = det.credit_accounting_company_account_id
LEFT JOIN accounting_credit_memo_status aps
ON det.accounting_credit_memo_status_id = aps.accounting_credit_memo_status_id
-- reporting details
LEFT JOIN client_name cn
ON ata.client_id = cn.client_id
LEFT JOIN client_group_name cgn
ON ata.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc
ON ata.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp
ON ata.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN family_eligibility fe
ON ata.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN family_eligibility_member fem
ON fe.family_eligibility_id = fem.family_eligibility_id
AND
(fem.relationship_to_insured_id = @self_relationship OR
fem.relationship_to_insured_id = @guarantor_relationship)
LEFT JOIN member_name  mn
ON fem.member_id = mn.member_id AND mn.is_primary = 1
WHERE (ata.accounting_transaction_ar_id = @accounting_transaction_ar_id)

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
