USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_verify_anesthesia_code]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
DATE: 9/13/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
9/13/2005   thuy Nguyen   1.0      Created
12/04/2008  ioveracker    1.1      Anesthesia procedures have procedure_code_type_ud of ASA and procedure_code_category_nm of ANES.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Used in Fee schedule modifier form. Check anesthesia
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_fee_schedule_verify_anesthesia_code]
(
@procedure_code_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT pc.procedure_code_id
FROM procedure_code pc
inner join procedure_code_category pcc
on pc.procedure_code_category_id=pcc.procedure_code_category_id
and pcc.procedure_code_category_nm='ANES'
WHERE pc.procedure_code_id = @procedure_code_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
