USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_user_assigned_result_code_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Sep 11 2005  3:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/23/2008	crowe		1.0		Chris Rowe
09/04/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object from the benefit_framework_user_assigned_result_code table
This stored procedure is used in the User Assigned Result Codes grid of the Benefit Framework form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_user_assigned_result_code_delete]
(
@benefit_framework_user_assigned_result_code_id 		int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_framework_user_assigned_result_code_id is null
RETURN   @SP_SUCCESS

IF NOT EXISTS (SELECT * FROM benefit_framework_user_assigned_result_code WHERE benefit_framework_user_assigned_result_code_id = @benefit_framework_user_assigned_result_code_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_framework_user_assigned_result_code
WHERE benefit_framework_user_assigned_result_code_id = @benefit_framework_user_assigned_result_code_id
END
--
RETURN @SP_SUCCESS
--
GO
