USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns


DESCRIPTION:	Save data for benefit_plan set

******************************/

CREATE   PROCEDURE [dbo].[plx_benefit_plan_set_save]
(
@benefit_plan_set_id					INT = 0   OUTPUT
,@benefit_plan_set_ud					NVARCHAR(50) = NULL
,@benefit_plan_set_nm					NVARCHAR(255) = NULL
,@active								BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@benefit_plan_set_id, 0) = 0
BEGIN
INSERT INTO benefit_plan_set(
benefit_plan_set_ud
,benefit_plan_set_nm
,active
)
VALUES
(@benefit_plan_set_ud
,@benefit_plan_set_nm
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_plan_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_set WHERE benefit_plan_set_id = @benefit_plan_set_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE benefit_plan_set
SET
benefit_plan_set_ud					= @benefit_plan_set_ud
,benefit_plan_set_nm					= @benefit_plan_set_nm
,active								= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_set_id = @benefit_plan_set_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
