USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_check_findform_provider_name_combobox]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/03/2006	HuyThan		1.0			Created
03/03/2006	Anh Ta		1.1			Fixed SCR Integration #13
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check validation rule on provider name control on claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_check_findform_provider_name_combobox]
(
@provider_identifier_id int  = null,
@provider_ud         nvarchar(100) = null,
@provider_name_last  nvarchar(100) = null,
@provider_name_first nvarchar(100) = null

)AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''

IF isnull(@provider_identifier_id,0) > 0
SET @SqlCondition = @SqlCondition + ' AND provider_identifier.provider_identifier_id = ' +  CONVERT(NVARCHAR, @provider_identifier_id)

IF @provider_ud IS NOT NULL  AND @provider_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND provider_identifier.provider_ud =  ''' +  dbo.plx_EncodeStringWildCard(@provider_ud, 1) + ''''

IF @provider_name_last IS NOT NULL  AND @provider_name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND provider_name.name_last like  ''' +  dbo.plx_EncodeStringWildCard(@provider_name_last, 1) + ''''

IF @provider_name_first IS NOT NULL AND @provider_name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND provider_name.name_first like  ''' +  dbo.plx_EncodeStringWildCard(@provider_name_first, 1) + ''''

SET @SqlQuery =
'  SELECT DISTINCT ' +
'     provider_identifier.provider_id ' +
'   , provider_identifier.provider_identifier_id ' +
'   , provider_identifier.provider_ud ' +
'   , provider_name.name_last as provider_name_last ' +
'   , provider_name.name_first as provider_name_first ' +
'   , provider_name.name_middle as provider_name_middle ' +
'   , dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, null) AS provider_name ' +
'   , isnull(provider_name.name_first, '''') + '' '' + isnull(provider_name.name_middle, '''') AS provider_first_middle_name ' +
'  FROM provider ' +
'		LEFT JOIN provider_identifier ON provider.provider_id = provider_identifier.provider_id  ' +
'      	INNER JOIN provider_name ON (provider.provider_id = provider_name.provider_id and provider_name.is_primary = 1) '

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition

EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
GO
