USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_customer_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thangtnguyen
DATE: 10/27/2005
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
20060111		HuyThan			1.1			changed customer_tax_identifier => federal_ein
03/01/2006		HungTNguyen     1.2			added @customer_type_id
04/16/2006		HungTNguyen     1.3			change fields length
04/21/2009		David Slayton	1.4			Removed accounting company.
05/12/2009		David Slayton	1.5			Added ability to short circuit where clause to just return column names.
11/17/2011		ggutshall		1.6		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.6
--
DESCRIPTION:
The procedure is used to find the customers that match the input queries.
--
REQUIREMENTS:
--
INPUTS:
@vendor_ud			NVARCHAR(50) = NULL
, @vendor_nm		NVARCHAR(100) = NULL
, @vendor_type_id	INT = NULL
, @address_1		NVARCHAR(100) = NULL
, @address_2		NVARCHAR(100) = NULL
, @postal_code		NVARCHAR(35) = NULL
, @city				NVARCHAR(35) = NULL
, @county			NVARCHAR(35) = NULL
, @state_id			INT = NULL
, @country_id		INT = NULL
, @telephone_number	NVARCHAR(35) = NULL
, @federal_ein			NVARCHAR(50) = NULL
, @show_exact_match BIT = 0
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE                PROCEDURE [dbo].[plx_find_customer_load]
(
@get_column_headers			BIT = 0
, @customer_ud			NVARCHAR(50) = NULL
, @customer_nm		NVARCHAR(100) = NULL
, @customer_vendor_type_id	INT = NULL
, @address_1		NVARCHAR(100) = NULL
, @address_2		NVARCHAR(100) = NULL
, @postal_code		NVARCHAR(35) = NULL
, @city				NVARCHAR(50) = NULL
, @county			NVARCHAR(50) = NULL
, @state_id			INT = NULL
, @country_id		INT = NULL
, @telephone_number	NVARCHAR(50) = NULL
, @federal_ein		NVARCHAR(50) = NULL
, @show_exact_match BIT = 0
)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000)
--,@sqlCondition nvarchar(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

IF (@show_exact_match = 1)
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

SET
@sqlString = 'SELECT  TOP (dbo.fn_results_limit())
ISNULL(address.address_1, '''') + case ISNULL(address.address_2, '''')
when '''' then ''''
else '', '' + address.address_2
end as address
, ISNULL(locale.city, '''') +
case isnull(state.state_ud, '''')
when '''' then ''''
else '', '' + state.state_ud
end +
case isnull(locale.postal_code, '''')
when '''' then ''''
else '' - '' + locale.postal_code
end as area
, customer.customer_id
, customer.customer_ud
, customer.customer_nm
, customer_bill_to.telephone_number as phone_number
, customer.federal_ein

FROM customer

LEFT JOIN customer_bill_to ON customer_bill_to.customer_bill_to_id = customer.customer_bill_to_id
LEFT JOIN address ON address.address_id = customer_bill_to.address_id
LEFT JOIN locale ON locale.locale_id = address.locale_id
LEFT JOIN state ON state.state_id = locale.state_id
LEFT JOIN country  ON country.country_id = locale.country_id
--LEFT JOIN telephone_number ON telephone_number.telephone_number_id = customer_bill_to.telephone_number_id
--LEFT JOIN telephone_number_type ON telephone_number_type.telephone_number_type_id = telephone_number.telephone_number_type_id AND telephone_number_type.telephone_number_type_ud not like ''Pager'' AND telephone_number_type.telephone_number_type_ud not like ''Cell Phone''
LEFT JOIN customer_vendor_type ON customer_vendor_type.customer_vendor_type_id = customer.customer_vendor_type_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '


IF (@customer_ud IS NOT NULL) OR (@customer_ud <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(customer.customer_ud, '''') ' +  @Prefix +  dbo.plx_EncodeStringWildCard(@customer_ud, @show_exact_match) + @suffix
IF (@customer_nm IS NOT NULL) OR (@customer_nm <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(customer.customer_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@customer_nm, @show_exact_match) + @suffix
IF (@address_1 IS NOT NULL) OR (@address_1 <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(address.address_1, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@address_1, @show_exact_match) + @suffix
IF (@address_2 IS NOT NULL) OR (@address_2 <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(address.address_2, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@address_2, @show_exact_match) + @suffix

IF (@postal_code IS NOT NULL) OR (@postal_code <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(locale.postal_code, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@postal_code, @show_exact_match) + @suffix
IF (@city IS NOT NULL) OR (@city <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(locale.city, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@city, @show_exact_match)  + @suffix
IF (@county IS NOT NULL) OR (@county <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(locale.county, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@county, @show_exact_match) + @suffix
IF (@telephone_number IS NOT NULL) OR (@telephone_number <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(customer_bill_to.telephone_number, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@telephone_number, @show_exact_match)  + @suffix
IF (@federal_ein IS NOT NULL) OR (@federal_ein <> '')
SET @sqlString = @sqlString + 'AND (ISNULL(customer.federal_ein, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@federal_ein, @show_exact_match)  + @suffix



IF (@customer_vendor_type_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + 'AND (customer_vendor_type.customer_vendor_type_id = ' + CONVERT(NVARCHAR, @customer_vendor_type_id) + ') '
END

IF (@state_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + 'AND (state.state_id = ' + CONVERT(NVARCHAR, @state_id) + ') '
END

IF (@country_id IS NOT NULL)
BEGIN
SET @sqlString = @sqlString + 'AND (country.country_id = ' + CONVERT(NVARCHAR, @country_id) + ') '
END

--HungTNguyen added
IF (@customer_vendor_type_id IS NOT NULL)
SET @sqlString = @sqlString + ' AND (customer.customer_vendor_type_id = ' + CONVERT(NVARCHAR, @customer_vendor_type_id) + ') '

set @sqlString = @sqlString + 'order by customer.customer_ud'

exec(@sqlString)
END
GO
