USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_check_duplicate_search_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	Tinh Do		1.0			create
08/22/2006	Mai Tran				Fix errors in wrong date comparison and change
LEFT JOIN to INNER JOIN
(Review code on August 2006)
08/14/2013	Jeremy hein				4964 - QC UI PID check on Enrollment Form member entry allows PID duplicates if duplicates already exist for same PID
10/28/2013	Aaron Mortensen	1.3	SP5291 - QC UI PID check on Enrollment Form member entry: PID not a required field. Members without PIDs are not duplicates
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to check duplicate search member in Family member grid
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_check_duplicate_search_member_load]
(
@pid as nvarchar(50) = null,
@name_last NVARCHAR(100)= null,
@name_first NVARCHAR(100) = null,
@name_middle NVARCHAR(100) = null,
@gender_id INT = null,
@birth_date DATETIME = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_RESULT int
SELECT
@SP_RESULT = 0
DECLARE @ROWCOUNT INT

BEGIN
SELECT
member_name.member_id,
member_name.member_name_id
FROM
member_name
LEFT JOIN
member
ON
member_name.member_id = member.member_id
--and member_name.is_primary = 1
LEFT JOIN
(
SELECT
member_personal_id.member_id,
id_value AS personal_id,
member_personal_id_id
FROM
dbo.member_personal_id
INNER JOIN
member_id_type
ON
member_id_type.member_id_type_id = member_personal_id.member_id_type_id
WHERE
member_id_type.golden_key = 'PID'
) pid
ON
member.member_id = pid.member_id
WHERE
ISNULL(pid.personal_id,'') = @pid
AND ISNULL(member_name.name_last,'') = @name_last
AND ISNULL(member_name.name_first,'') = @name_first
AND ISNULL(member_name.name_middle,'') = @name_middle
AND ISNULL(member.gender_id,0) = ISNULL(@gender_id,0)
AND DATEDIFF(day, ISNULL(member.birth_date,'1900/01/01'), ISNULL(@birth_date,'1900/01/01')) = 0

---GET ROW COUNT
SET @ROWCOUNT = @@ROWCOUNT

IF @ROWCOUNT  = 1
SET @SP_RESULT = 1 --PRINT('DUPLICATE SEARCH')
ELSE IF @ROWCOUNT  > 1
SET @SP_RESULT = 2 --- More than one member is found, should open find form
ELSE ---@ROWCOUNT = 0
BEGIN
SELECT
member.member_id
FROM
member
LEFT JOIN
(
SELECT
member_personal_id.member_id,
id_value AS personal_id,
member_personal_id_id
FROM
dbo.member_personal_id
INNER JOIN
member_id_type
ON
member_id_type.member_id_type_id = member_personal_id.member_id_type_id
WHERE
member_id_type.golden_key = 'PID'
) pid
ON
member.member_id = pid.member_id
WHERE
ISNULL(pid.personal_id,'') = @pid
AND ISNULL(pid.personal_id,'') != '' --SP5291 - Don't include members without Personal ID (Personal ID not required)

---GET ROW COUNT
SET @ROWCOUNT = @@ROWCOUNT
IF @ROWCOUNT  >= 1 --SP4964 - Changed from = to >=
SET @SP_RESULT = 3 --- Do not match PID
ELSE
SET @SP_RESULT = 0 --DO NOT EXIST
END
END
----
RETURN @SP_RESULT
GO
