USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/03/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for capitation group form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_group_save]
(
@capitation_group_id			INT = NULL OUTPUT
,@capitation_group_ud			nvarchar(50) = NULL
,@description						nvarchar(255) = NULL
,@capitation_group_provider_entity_type_id INT = NULL
,@active							bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @capitation_group_id is Null or @capitation_group_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_group(
capitation_group_ud
,description
,capitation_group_provider_entity_type_id
,active
)
VALUES
(@capitation_group_ud
,@description
,@capitation_group_provider_entity_type_id
,@active
)
--
SET @capitation_group_id = @@IDENTITY
END
--
ELSE
BEGIN
UPDATE capitation_group
SET
capitation_group_ud =				@capitation_group_ud
,description =						@description
,capitation_group_provider_entity_type_id =	@capitation_group_provider_entity_type_id
,active =							@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_group_id = @capitation_group_id

END
--
RETURN @SP_SUCCESS
--
GO
