USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 10/17/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/17/05	TINH DO			1.0		Created
11/07/05	mttran			1.1		update billing rate when effective dates of member are changed
02/28/2006  HungTnguyen     1.2             Changed from member_termination_reason_id to  member_eligibility_termination_reason_id
03/08/2006	Thuy Ha			1.3		created_date & modified date use DB Server date
08/18/2008	David Slayton	1.3		Removed life_insurance_coverage_unit column.
08/29/2013	A.Mortensen		1.4		RT:4999 updated to override default modified_user_name value on insert to null, and
added modified_user_name on update for better audit tracking
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is used to save a row in grid "Eligible Family Members"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_save]
(
@family_eligibility_member_benefit_plan_id   int = NULL		OUTPUT
,@family_eligibility_member_id								int = NULL
,@benefit_plan_id				                            int = NULL
,@member_eligibility_ud                                     NVARCHAR(160) = NULL
,@eligibility_level_id                                      int = NULL
,@effective_from                                            datetime = NULL
,@effective_thru                                            datetime = NULL
,@family_eligibility_termination_reason_id					int = NULL
,@never_under_coverage                                      bit = 0
,@family_eligibility_member_benefit_plan_object_row_version	     rowversion = NULL  OUTPUT
,@active			bit=0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION		    INT,
@SP_ERROR_RECORD_LOCKED INT,
@SP_ERROR_NOT_EXIST	    INT

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= 'G_DOES_NOT_EXIST',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1,
@SP_ERROR_RECORD_LOCKED      = 2,
@SP_ERROR_NOT_EXIST	       = 3
--

DECLARE @capture_row_version TABLE (new_row_version binary(8))

IF @family_eligibility_member_benefit_plan_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_member_benefit_plan(
family_eligibility_member_id
,benefit_plan_id
,member_eligibility_ud
,eligibility_level_id
,effective_from
,effective_thru
,family_eligibility_termination_reason_id
,never_under_coverage
,active
)
OUTPUT INSERTED.object_row_version INTO @capture_row_version
VALUES
(@family_eligibility_member_id
,@benefit_plan_id
,@member_eligibility_ud
,@eligibility_level_id
,@effective_from
,@effective_thru
,@family_eligibility_termination_reason_id
,@never_under_coverage
,@active
)
--

SET @family_eligibility_member_benefit_plan_id = @@IDENTITY
SET @family_eligibility_member_benefit_plan_object_row_version = (SELECT new_row_version FROM @capture_row_version)

END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--
DECLARE
@effective_from_old	DATETIME,
@effective_thru_old      DATETIME

SELECT	 @effective_from_old	=  effective_from
,@effective_thru_old	=  effective_thru
FROM	family_eligibility_member_benefit_plan
WHERE	family_eligibility_member_benefit_plan_id	= @family_eligibility_member_benefit_plan_id

DECLARE @ErrorVar int

-- RT:7065 Optimistic Concurrency check
DECLARE @row_version_check_result INT
exec @row_version_check_result = dbo.plx_family_eligibility_member_benefit_plan_check_and_rev_row_version @family_eligibility_member_benefit_plan_id, @family_eligibility_member_benefit_plan_object_row_version
IF @row_version_check_result <> 0
BEGIN
IF @row_version_check_result = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @row_version_check_result = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @row_version_check_result = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END


UPDATE family_eligibility_member_benefit_plan
SET
family_eligibility_member_id		=@family_eligibility_member_id
,benefit_plan_id					=@benefit_plan_id
,member_eligibility_ud				=@member_eligibility_ud
,eligibility_level_id				=@eligibility_level_id
,effective_from						=@effective_from
,effective_thru						=@effective_thru
,family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
,never_under_coverage 				=@never_under_coverage
,active								=@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
OUTPUT INSERTED.object_row_version INTO @capture_row_version

WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
SET @family_eligibility_member_benefit_plan_object_row_version = (SELECT new_row_version FROM @capture_row_version)

END
--


RETURN @SP_SUCCESS
--
GO
