USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_premium_fee_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_premium_fee_list_load]
(
@benefit_contract_period_benefit_plan_id    INT = NULL
)
AS

SET NOCOUNT ON

SELECT
bcpbppf.benefit_contract_period_benefit_plan_premium_fee_id
,bcpbppf.benefit_contract_period_benefit_plan_id
,bcpbppf.premium_fee_definition_id
,pfd.premium_fee_definition_ud
,pfd.description as [premium_fee_definition_description]
,is_vendor_required =
CASE
WHEN pftt.golden_key in ('VENDOR_ONLY', 'CUSTOMER_AND_VENDOR') THEN CONVERT(BIT, 1)
ELSE CONVERT(BIT, 0)
END
,v.vendor_id
,v.vendor_ud
,bcpbppf.effective_from
,bcpbppf.effective_thru
,bcpbppf.modified_date
FROM
dbo.benefit_contract_period_benefit_plan_premium_fee bcpbppf
JOIN dbo.premium_fee_definition pfd
ON bcpbppf.premium_fee_definition_id = pfd.premium_fee_definition_id
JOIN dbo.premium_fee_transaction_type pftt
ON	 pfd.premium_fee_transaction_type_id = pftt.premium_fee_transaction_type_id
LEFT JOIN dbo.vendor v
ON bcpbppf.vendor_id = v.vendor_id
WHERE bcpbppf.benefit_contract_period_benefit_plan_id =
@benefit_contract_period_benefit_plan_id
ORDER BY
bcpbppf.effective_from DESC,
pfd.premium_fee_definition_ud,
v.vendor_ud

RETURN 0
GO
