USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_address_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  2:44PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
03/08/2006	Thuy Ha			1.2		created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
09/03/2014	dcannon			1.3		added delivery_route

--
CURRENT_VERSION: 1.3
--
DESCRIPTION:Save contact address

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_address_save] (
@contact_address_id INT = NULL OUTPUT
,@primary_for_contact BIT = NULL
,@contact_address_type_id INT = NULL
,@contact_id INT = NULL
,@address_id INT = NULL OUTPUT
,@address_1 NVARCHAR(100) = NULL
,@address_2 NVARCHAR(100) = NULL
,@address_3 NVARCHAR(100) = NULL
,@delivery_route NVARCHAR(10) = NULL
,@locale_id INT = NULL
,@mail_ok BIT = NULL
,@effective_from DATETIME = NULL
,@effective_thru DATETIME = NULL
,@active BIT = NULL
)
AS
--
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)

SELECT @SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '1588800008'
,@ERROR_NOT_EXIST = '1589800009'

IF @contact_address_id IS NULL
BEGIN
--- Create a new address record
INSERT INTO address (
address_1
,address_2
,address_3
,delivery_route
,locale_id
,active
)
VALUES (
@address_1
,@address_2
,@address_3
,@delivery_route
,@locale_id
,@active
)

SET @address_id = @@IDENTITY

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

--- Create a new contact_address record
INSERT INTO contact_address (
primary_for_contact
,contact_address_type_id
,contact_id
,address_id
,mail_ok
,effective_from
,effective_thru
,active
)
VALUES (
@primary_for_contact
,@contact_address_type_id
,@contact_id
,@address_id
,@mail_ok
,@effective_from
,@effective_thru
,@active
)

--
SET @contact_address_id = @@IDENTITY
END
ELSE IF NOT EXISTS (
SELECT *
FROM contact_address
WHERE contact_address_id = @contact_address_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing address record
UPDATE address
SET address_1 = @address_1
,address_2 = @address_2
,address_3 = @address_3
,delivery_route = @delivery_route
,locale_id = @locale_id
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE address_id = @address_id

--- Updating an existing contact_address record
UPDATE contact_address
SET primary_for_contact = @primary_for_contact
,contact_address_type_id = @contact_address_type_id
,contact_id = @contact_id
,address_id = @address_id
,mail_ok = @mail_ok
,effective_from = @effective_from
,effective_thru = @effective_thru
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE contact_address_id = @contact_address_id
END

RETURN @SP_SUCCESS
END
GO
