USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_country_address_format_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/09/2014	dcannon		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for country_address_format
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_country_address_format_list_load]
AS
BEGIN

DECLARE     @SP_SUCCESS int
SELECT     @SP_SUCCESS = 0

SELECT
caf.country_id
,caf.is_default
,c.country_ud
,c.country_nm
,caf.postal_code_required
,caf.postal_code_standard_format_id
,sf_pc.standard_format_ud as postal_code_standard_format_ud
,caf.delivery_route_visible
,caf.delivery_route_standard_format_id
,sf_dr.standard_format_ud as delivery_route_standard_format_ud
,caf.state_required
,caf.county_required

FROM country_address_format caf
LEFT JOIN country c ON c.country_id = caf.country_id
LEFT JOIN standard_format sf_pc ON sf_pc.standard_format_id = caf.postal_code_standard_format_id
LEFT JOIN standard_format sf_dr ON sf_dr.standard_format_id = caf.delivery_route_standard_format_id

ORDER BY caf.is_default DESC, c.country_ud ASC

RETURN @SP_SUCCESS

END
GO
