USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_benefit_contract_period_plan_tree_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
DATE: 10/23/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/23/2005	TINH DO		1.0			Created  for 15656-Eligibility Func spec
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load tree benefit period/category/plan/sub by benefit contract id in Family Eligibility Form.
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id
--
OUTPUTS:
tree benefit period/category/plan/sub, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_family_eligibility_benefit_contract_period_plan_tree_load]
(
@benefit_contract_id int = NULL
,@family_eligibility_id INT = NULL
,@effective_from datetime = null
,@effective_thru datetime = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@category_id int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SET @category_id = 0 -- temp category_id

--
DECLARE @tree_table table(node_id int NOT NULL, parent_id int NULL , node_text nvarchar(255) NOT NULL, node_level int NULL,node_tag nvarchar(255) NULL,falimy_eligibility_period_id int null)


DECLARE period_cursor CURSOR FOR
SELECT
benefit_contract_period.benefit_contract_period_id as 'node_id'
,ISNULL(CONVERT(varchar(10), effective_from, 101),'') + ' - ' + ISNULL(CONVERT(varchar(10), effective_thru, 101),'' )as 'text'
,family_eligibility_benefit_contract_period.family_eligibility_benefit_contract_period_id as 'falimy_eligibility_period_id'
FROM benefit_contract_period
LEFT JOIN family_eligibility_benefit_contract_period ON benefit_contract_period.benefit_contract_period_id = family_eligibility_benefit_contract_period.benefit_contract_period_id
AND family_eligibility_benefit_contract_period.family_eligibility_id = @family_eligibility_id
WHERE benefit_contract_id = @benefit_contract_id
AND
((( @effective_from is NULL OR @effective_from <= effective_from )
and (effective_thru <= @effective_thru OR @effective_thru is null ))
OR
(
effective_from <= @effective_from  AND (@effective_from <= effective_thru or @effective_from is null or effective_thru is null)
AND (effective_thru <= @effective_thru or @effective_thru is null)
)
OR
(
(effective_from <= @effective_thru or @effective_thru  is null) AND (effective_from  >= @effective_from or @effective_from is null )
AND (@effective_thru <= effective_thru or effective_thru is null)
)
OR
(
(effective_from  is null or effective_from <= @effective_from) AND (@effective_thru <= effective_thru or effective_thru is null)
))
ORDER BY effective_from DESC

-- 1.  New CURSOR for Period
OPEN period_cursor

DECLARE
@period_id int,
@period_text nvarchar(255)
,@falimy_eligibility_period_id int

FETCH NEXT FROM period_cursor
INTO @period_id, @period_text,@falimy_eligibility_period_id

-- Check @@FETCH_STATUS to see if there are any more rows to fetch.
WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO @tree_table(node_id, parent_id, node_text, node_level,falimy_eligibility_period_id) VALUES
(@period_id, NULL, @period_text, 1,@falimy_eligibility_period_id)

-- 2.  New CURSOR for Category / Plan
DECLARE category_plan_cursor CURSOR FOR
SELECT bca.benefit_category_id, bca.benefit_category_ud, bcpbp.benefit_contract_period_benefit_plan_id, bp.benefit_plan_ud, bsc.benefit_sub_category_id
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)
INNER JOIN benefit_framework bf ON (bf.benefit_framework_id = bp.benefit_framework_id)
INNER JOIN benefit_category bca ON (bca.benefit_category_id = bf.benefit_category_id)
left JOIN benefit_sub_category bsc ON (bsc.benefit_sub_category_id = bf.benefit_sub_category_id)
WHERE (bcpbp.benefit_contract_period_id = @period_id) AND (bcpbp.parent_benefit_contract_period_benefit_plan_id IS NULL)
AND bcpbp.benefit_contract_period_benefit_plan_id NOT IN
(
SELECT family_eligibility_benefit_contract_period_benefit_plan_choice.benefit_contract_period_benefit_plan_id
FROM family_eligibility_benefit_contract_period_benefit_plan_choice
WHERE family_eligibility_benefit_contract_period_benefit_plan_choice.family_eligibility_id = @family_eligibility_id
)
ORDER BY bca.benefit_category_id, bp.benefit_plan_ud
OPEN category_plan_cursor
DECLARE
@cat_id int,
@old_cat_id int,
@category_text nvarchar(255),
@plan_id int,
@plan_text nvarchar(255),
@sub_cat_id int

SET @old_cat_id = 0
--PRINT '@old_cat_id = ' + CONVERT(VARCHAR(10), @old_cat_id)
FETCH NEXT FROM category_plan_cursor
INTO @cat_id, @category_text, @plan_id, @plan_text, @sub_cat_id

WHILE @@FETCH_STATUS = 0
BEGIN
--PRINT '@cat_id = ' + CONVERT(VARCHAR(10), @cat_id)
--PRINT '11111 @category_id = ' + CONVERT(VARCHAR(10), @category_id)
IF (NOT @cat_id = @old_cat_id)
BEGIN
SET @category_id = @category_id + 1
INSERT INTO @tree_table(node_id, parent_id, node_text, node_level) VALUES
(@category_id, @period_id, CONVERT(VARCHAR(10), @cat_id)+'-'+@category_text, 2)
SET @old_cat_id = @cat_id
END
-- 3. Reuse CURSOR for Plan
--PRINT '22222 @category_id = ' + CONVERT(VARCHAR(10), @category_id)
INSERT INTO @tree_table(node_id, parent_id, node_text, node_level,node_tag) VALUES
(@plan_id, @category_id, @plan_text, 3,CONVERT(VARCHAR(10), @cat_id)+'-'+CONVERT(VARCHAR(10), @sub_cat_id))


-- 4.  Insret data for Sub Plan
INSERT INTO @tree_table(node_id, parent_id, node_text, node_level,node_tag)
SELECT bcpbp.benefit_contract_period_benefit_plan_id, @plan_id, bp.benefit_plan_ud, 4,CONVERT(VARCHAR(10), bca.benefit_category_id)+'-'+CONVERT(VARCHAR(10), bsc.benefit_sub_category_id) -- @plan_id: parent_id; 4: level
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)
INNER JOIN benefit_framework bf ON (bf.benefit_framework_id = bp.benefit_framework_id)
INNER JOIN benefit_category bca ON (bca.benefit_category_id = bf.benefit_category_id)
left JOIN benefit_sub_category bsc ON (bsc.benefit_sub_category_id = bf.benefit_sub_category_id)
WHERE (bcpbp.parent_benefit_contract_period_benefit_plan_id = @plan_id)
ORDER BY bp.benefit_plan_ud


FETCH NEXT FROM category_plan_cursor
INTO @cat_id, @category_text, @plan_id, @plan_text, @sub_cat_id

END
-- 2. Close CURSOR for Category/Plan
CLOSE category_plan_cursor
DEALLOCATE category_plan_cursor


FETCH NEXT FROM period_cursor
INTO @period_id, @period_text,@falimy_eligibility_period_id
END

-- 1. Close CURSOR for Period
CLOSE period_cursor
DEALLOCATE period_cursor


SELECT * from @tree_table
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
