USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_detail_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 04/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.1
--
DESCRIPTION:Save a record for financial responsibility schedule detail on frmFinancialResponsibilitySchedule

--
REQUIREMENTS:
--
INPUTS:
@financial_responsibility_schedule_detail_id
,@financial_responsibility_schedule_id
,@procedure_code_type_id
,@beginning_procedure_code_id
,@ending_procedure_code_id
,@maximum
,@effective_from
,@effective_thru
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_financial_responsibility_schedule_detail_save]
(
@financial_responsibility_schedule_detail_id	INT = NULL	OUTPUT
,@financial_responsibility_schedule_id				INT = NULL
,@procedure_code_type_id								INT
,@beginning_procedure_code_id							INT
,@ending_procedure_code_id								INT
,@maximum													numeric(20,10)
,@effective_from											DATETIME
,@effective_thru											DATETIME = NULL

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@financial_responsibility_schedule_detail_id, 0) = 0
BEGIN
INSERT INTO financial_responsibility_schedule_detail(
financial_responsibility_schedule_id
,procedure_code_type_id
,beginning_procedure_code_id
,ending_procedure_code_id
,maximum
,effective_from
,effective_thru
)
VALUES
(@financial_responsibility_schedule_id
,@procedure_code_type_id
,@beginning_procedure_code_id
,@ending_procedure_code_id
,@maximum
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @financial_responsibility_schedule_detail_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM financial_responsibility_schedule_detail WHERE financial_responsibility_schedule_detail_id = @financial_responsibility_schedule_detail_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE financial_responsibility_schedule_detail
SET
financial_responsibility_schedule_id	= 	@financial_responsibility_schedule_id
,procedure_code_type_id						=	@procedure_code_type_id
,beginning_procedure_code_id				=	@beginning_procedure_code_id
,ending_procedure_code_id					=	@ending_procedure_code_id
,maximum											=	@maximum
,effective_from								=	@effective_from
,effective_thru								=	@effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE financial_responsibility_schedule_detail_id = @financial_responsibility_schedule_detail_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
