USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/20/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/20/2005	Lamnguyen	1.0		Creatted
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Groups grid on Client form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_list_load]
(
@client_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
client_group.client_group_id
,client_group_name.client_group_ud
,client_group_name.client_group_nm
,client_group_name.[description]
,client_group.client_id
,client_group.effective_from
,client_group.effective_thru
,client_group.termination_reason_id

,termination_reason.termination_reason_ud
,isnull(client_group.effective_thru,'9999-12-31') as order_effective_thru

FROM client_group
inner join client  ON client.client_id = client_group.client_id
inner join client_group_name on client_group_name.client_group_id=client_group.client_group_id and client_group_name.primary_name=1
left join termination_reason  ON termination_reason.termination_reason_id = client_group.termination_reason_id
WHERE client_group.client_id = @client_id
ORDER BY order_effective_thru desc ,client_group_name.client_group_ud asc

RETURN @SP_SUCCESS
--
GO
