USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_required_modifier_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 01/06/2012
--
DESCRIPTION:
Delete for Fee Schedule Rule Required modifier grid
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_rule_required_modifier_delete]
(
@fee_schedule_rule_required_modifier_id    int = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION  int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM fee_schedule_rule_required_modifier WHERE fee_schedule_rule_required_modifier_id = @fee_schedule_rule_required_modifier_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DELETE dbo.fee_schedule_rule_required_modifier
WHERE fee_schedule_rule_required_modifier_id = @fee_schedule_rule_required_modifier_id
END
RETURN @SP_SUCCESS
GO
