USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to agent's data on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_id - Key to agent table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent.agent_id
,agent.agent_or_brokerage_type_id
,agent.effective_from as agent_effective_from
,agent.effective_thru as agent_effective_thru
,agent.date_of_birth
,agent.gender_id
,agent_name.agent_name_id
,agent_name.name_prefix_id
,agent_name.name_last
,agent_name.name_first
,agent_name.name_middle
,agent_name.name_suffix
,agent_name.is_primary
,agent_name.comment
,cast(null as int) as mapping_agent_identifier_id
,cast(null as nvarchar(50)) as mapping_agent_ud
FROM agent
INNER JOIN agent_or_brokerage_type ON agent_or_brokerage_type.agent_or_brokerage_type_id = agent.agent_or_brokerage_type_id
AND agent_or_brokerage_type.golden_key = 'Agent'
LEFT JOIN agent_name ON agent.agent_id = agent_name.agent_id
AND agent_name.is_primary = 1
WHERE agent.agent_id = @agent_id
--
RETURN @SP_SUCCESS
GO
