USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_id_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Oct 11 2005  2:40PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down member_id_type (Member ID Type)
--
REQUIREMENTS:
--
INPUTS:
member_id_type_id - Key to member_id_type table, identifies a single stored dd_member_id_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_member_id_type_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
member_id_type.member_id_type_id
,member_id_type.member_id_type_ud
--      ,member_id_type.active
--      ,member_id_type.created_user_name
--      ,member_id_type.created_group_id

--      ,created_group.created_group_ud
--      ,member_id_type.created_date
--      ,member_id_type.modified_date
FROM member_id_type
ORDER BY member_id_type_ud
--inner join created_group  ON created_group.created_group_id = member_id_type.created_group_id
--WHERE member_id_type.member_id_type_id = @member_id_type_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
