USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_find_member_by_member_finder]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find a member from criteria (currently used by services)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dto_find_member_by_member_finder]
(
@benefit_plan_ud nvarchar(50) = NULL
,@benefit_contract_ud nvarchar(50) = NULL
,@member_eligibility_ud nvarchar(50) = NULL
,@member_personal_id_value nvarchar(50) = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @member_id INT

if @member_personal_id_value IS NOT NULL
BEGIN
SELECT @member_id = m.member_id
FROM member m
INNER JOIN member_personal_id mpid ON mpid.member_id = m.member_id
WHERE mpid.id_value = @member_personal_id_value
END

IF @member_id > 0
BEGIN
SELECT *
FROM member m
where m.member_id = @member_id
END

ELSE
BEGIN

SELECT member.*
FROM dbo.member
INNER JOIN dbo.family_eligibility_member
ON dbo.member.member_id = dbo.family_eligibility_member.member_id
INNER JOIN dbo.benefit_plan
INNER JOIN dbo.family_eligibility_member_benefit_plan
ON dbo.benefit_plan.benefit_plan_id = dbo.family_eligibility_member_benefit_plan.benefit_plan_id
INNER JOIN dbo.benefit_contract_period
INNER JOIN dbo.benefit_contract
ON dbo.benefit_contract_period.benefit_contract_id = dbo.benefit_contract.benefit_contract_id
INNER JOIN dbo.benefit_contract_period_benefit_plan
ON dbo.benefit_contract_period.benefit_contract_period_id = dbo.benefit_contract_period_benefit_plan.benefit_contract_period_id			ON dbo.benefit_plan.benefit_plan_id = dbo.benefit_contract_period_benefit_plan.benefit_plan_id
ON dbo.family_eligibility_member.family_eligibility_member_id = dbo.family_eligibility_member_benefit_plan.family_eligibility_member_id
where benefit_plan.benefit_plan_ud =  ISNULL(@benefit_plan_ud,'')
AND  family_eligibility_member_benefit_plan.member_eligibility_ud =  ISNULL(@member_eligibility_ud,'')
AND  benefit_contract.benefit_contract_ud =  ISNULL(@benefit_contract_ud,'')

END

RETURN @SP_SUCCESS
--
GO
