USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_payment_grouping_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 06/03/2009
--
REVISION_HISTORY:
--
Date        Modified By   Version  Description
--------------------------------------------------------------------------------
06/03/2009	WChristensen  1.0      Created for 20276 - AP Phase 2
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Claim Payment Grouping Rule drop down on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_claim_payment_grouping_rule_load]

AS
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
claim_payment_grouping_rule_id,
[description]
FROM claim_payment_grouping_rule

--
RETURN @SP_SUCCESS

END
GO
