USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 10/09/2009
--
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a diagnosis_code_group before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the diagnosis_code_group to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the diagnosis_code_group exists
IF NOT EXISTS (SELECT diagnosis_code_group_id FROM diagnosis_code_group WHERE diagnosis_code_group_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM claim_processing_queue WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM episode_service WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM member_medical_condition WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM member_medical_condition_exclusion WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM pre_existing_condition WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM pre_existing_criteria_or_diagnosis_code_group WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM treatment_type_diagnosis_code_group WHERE diagnosis_code_group_id = @id)
OR EXISTS(SELECT * FROM reinsurance_contract WHERE trigger_diagnosis_code_group_id = @id)
BEGIN
SELECT 'Claim Processing Filter' AS object_golden_key, claim_processing_queue_ud AS object_ud
FROM claim_processing_queue
WHERE diagnosis_code_group_id = @id

SELECT 'Episode' AS object_golden_key, e.episode_ud AS object_ud
FROM episode_service es
INNER JOIN episode e ON e.episode_id = es.episode_id
WHERE es.diagnosis_code_group_id = @id

SELECT 'Member Medical Conditions' AS object_golden_key, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS object_ud
FROM member_medical_condition mc
INNER JOIN member_name mn ON mn.member_id = mc.member_id
WHERE diagnosis_code_group_id = @id

SELECT 'Member Medical Condition Exclusions' AS object_golden_key, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS object_ud
FROM member_medical_condition_exclusion pec
INNER JOIN member_name mn ON mn.member_id = pec.member_id
WHERE diagnosis_code_group_id = @id

SELECT 'Member Pre-Existing Conditions' AS object_golden_key, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS object_ud
FROM pre_existing_condition pec
INNER JOIN member_name mn ON mn.member_id = pec.member_id
WHERE diagnosis_code_group_id = @id

SELECT 'Pre-Existing Condition Rule' AS object_golden_key, pre_existing_condition_rule_ud AS object_ud
FROM pre_existing_criteria_or_diagnosis_code_group pec
INNER JOIN pre_existing_condition_rule pecr ON pecr.pre_existing_condition_rule_id = pec.pre_existing_condition_rule_id
WHERE diagnosis_code_group_id = @id

SELECT 'Treatment Type' AS object_golden_key, treatment_type_ud AS object_ud
FROM treatment_type_diagnosis_code_group ttd
INNER JOIN treatment_type tt ON tt.treatment_type_id = ttd.treatment_type_id
WHERE diagnosis_code_group_id = @id

SELECT 'Reinsurance Contract' AS object_golden_key, rc.reinsurance_contract_ud AS object_ud
FROM (
SELECT
rc.reinsurance_contract_ud
FROM reinsurance_contract rc
LEFT JOIN reinsurance_contract_lasered_individual laser_ind
ON laser_ind.reinsurance_contract_id = rc.reinsurance_contract_id
WHERE
rc.trigger_diagnosis_code_group_id = @id
GROUP BY
rc.reinsurance_contract_ud
) rc

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
