USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_life_premium_rate_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Retrieves volumes information for an eligibility.
Used by QC UI form: Eligibility Volume and Underwriting
to validate Volume, Rate, and Underwriting Details grid
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_life_premium_rate_list_load]
(
@benefit_contract_period_benefit_plan_id    INT = NULL,
@family_eligibility_member_benefit_plan_id  INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcpbpv.benefit_contract_period_benefit_plan_volume_id
--,bcpbpv.effective_from as benefit_contract_period_benefit_plan_premium_rate_effective_from
--,bcpbpv.effective_thru as benefit_contract_period_benefit_plan_premium_rate_effective_thru
,prrt.premium_rate_relationship_type_ud
,pv.premium_volume_ud
,pvt.golden_key as premium_volume_type_golden_key
-- RT:11257 - volume info used to validate election
,is_amount_required =
CASE
WHEN pvt.golden_key = 'ELECT_AT_ELIGIBILITY' THEN 1
ELSE 0
END
,pv.minimum_amount
,pv.maximum_amount
,pv.increment
,pv.spouse_not_to_exceed_subscriber_percentage
,validation_effective_from		-- get the greater/later effective_from for validation
,validation_effective_thru 		-- get the lesser/earlier effective_thru for validation
FROM
dbo.benefit_contract_period_benefit_plan_volume bcpbpv
INNER JOIN dbo.premium_volume pv ON bcpbpv.volume_id = pv.premium_volume_id
INNER JOIN dbo.premium_volume_type pvt ON pv.premium_volume_type_id = pvt.premium_volume_type_id
INNER JOIN dbo.premium_rate_relationship_type prrt ON bcpbpv.premium_rate_relationship_type_id = prrt.premium_rate_relationship_type_id
INNER JOIN dbo.benefit_contract_period_benefit_plan bcpbp ON  bcpbpv.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
INNER JOIN dbo.benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN family_eligibility_member_benefit_plan fembp ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
INNER JOIN family_eligibility_member fem ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id AND fe.benefit_contract_id = bcp.benefit_contract_id

INNER JOIN relationship_to_insured rti ON fem.relationship_to_insured_id = rti.relationship_to_insured_id
-- use CROSS APPLY to join the max effective_from date from the:
-- (a) benefit contract period,
-- (b) volume assignment on the benefit contact period plan
CROSS APPLY
(SELECT validation_effective_from = MAX(ISNULL(maxDate, '12/31/9999'))
FROM (VALUES (bcp.effective_from), (bcpbpv.effective_from)) AS A(maxDate)) A
-- use CROSS APPLY to join the min effective_thru date, as above
CROSS APPLY
(SELECT validation_effective_thru = MIN(ISNULL(minDate, '12/31/9999'))
FROM (VALUES (bcp.effective_thru), (bcpbpv.effective_thru)) AS B(minDate)) B
WHERE
(@benefit_contract_period_benefit_plan_id IS NULL OR bcpbpv.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, bcpbpv.benefit_contract_period_benefit_plan_id))
AND fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND (
(prrt.self = 1 and rti.golden_key = 'Self' or rti.golden_key = 'Guarantor')
OR (prrt.spouse = 1 and rti.treat_as_spouse = 1)
OR (prrt.dependent = 1 and rti.treat_as_dependent = 1)
)
-- this comparison is necessary, to filter out assignments under wrong benefit period, which make no sense
AND validation_effective_from <= validation_effective_thru

ORDER BY
CASE WHEN bcpbpv.effective_from IS NULL THEN 0 ELSE 1 END ASC, bcpbpv.effective_from DESC
,CASE WHEN bcpbpv.effective_thru IS NULL THEN 0 ELSE 1 END ASC, bcpbpv.effective_thru DESC
,pv.premium_volume_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
