USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_volume_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_volume_list_load]
(
@family_eligibility_member_benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT DISTINCT
ev.eligibility_volume_id
,ev.family_eligibility_member_benefit_plan_id
,ev.requested_date
,ev.calculated_amount
,ev.requested_amount
,ev.hold_volume
,ev.volume_id as 'premium_volume_id'	-- using premium_volume_id so zoom will work on frmLifeVolume
,v.premium_volume_ud
,ev.maximum_amount
,ev.guaranteed_amount
,CASE WHEN ev.requested_amount IS NOT NULL AND ev.guaranteed_amount IS NOT NULL
THEN ev.requested_amount - ev.guaranteed_amount
ELSE NULL END
AS excess_amount
,ev.rated_premium_variable
,ev.rate_adjustment_amount
,ev.underwriting_rule_id
,ur.underwriting_rule_ud
,ev.effective_from
,ev.effective_thru
,NULL AS get_underwriting_docs
FROM dbo.eligibility_volume ev
LEFT JOIN dbo.underwriting_rule ur ON ev.underwriting_rule_id = ur.underwriting_rule_id
LEFT JOIN dbo.premium_volume v ON ev.volume_id = v.premium_volume_id

WHERE
ev.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY ev.effective_from DESC

RETURN 0
GO
