USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_check_overlap_by_criteria]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: Mar 20 2006  9:53AM
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/20/2006	Trinh Le	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check overlap on commerial helth plan
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
@FINAL_RESULT	0	No Overlap due to the criteria
@FINAL_RESULT   1       Overlap
@FINAL_RESULT  -1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   procedure    [dbo].[plx_cob_member_commercial_health_plan_check_overlap_by_criteria]
(
@cob_member_commercial_health_plan_id       int = NULL
,@cob_member_id                              int = NULL
,@insured_name                               nvarchar(255) = NULL
,@benefit_category_id                        int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@insurance_plan_name                        nvarchar(100) = NULL
,@commercial_policy_holder_ud                nvarchar(50) = NULL
,@group_identifier                           nvarchar(50) = NULL
,@carrier_name                               nvarchar(100) = NULL

)
AS
BEGIN
DECLARE @IS_OVERLAP BIT
SET @IS_OVERLAP =0

IF (
SELECT COUNT(*)
FROM 	cob_member_commercial_health_plan p
WHERE
( isnull(insured_name, '') =  isnull(@insured_name,''))
AND(isnull(benefit_category_id,0)= isnull(@benefit_category_id,0))
AND(isnull(cob_member_id,0)= isnull(@cob_member_id,0))
AND ( isnull(insurance_plan_name,'') =  isnull(@insurance_plan_name,''))
AND (isnull(commercial_policy_holder_ud,'') = isnull(@commercial_policy_holder_ud,''))
AND (isnull(group_identifier,'')   = isnull(@group_identifier,''))
AND (isnull(carrier_name,'')      = isnull(@carrier_name,''))
AND (isnull(cob_member_commercial_health_plan_id,0)<>isnull(@cob_member_commercial_health_plan_id,0))
AND
dbo.plx_fn_is_date_overlapping
(
isnull(effective_from,''),
isnull(effective_thru,''),
isnull(@effective_from,''),
isnull(@effective_thru,'')
) =1
)> 0

SET @IS_OVERLAP =1

RETURN @IS_OVERLAP
END
GO
