USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_plan_options_select_popup_grid_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/24/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns


DESCRIPTION:	This is used by the Additional Plans grid on the Select Advanced Plan Options popup form,
which is launched when auto enrollment guided path process is started (if there are choices to be made).

We are NOT actually saving a record to the database here. Just adding this in case it the UI engine wants to
see it in order to do the validation properly.

******************************/

CREATE   PROCEDURE [dbo].[plx_additional_plan_options_select_popup_grid_save]
(
@benefit_contract_additional_plan_options_id		INT = 0
,@benefit_contract_period_benefit_plan_id			INT = 0
,@benefit_plan_id									INT = 0
,@enroll_subscriber									BIT = 0
,@enroll_dependent									BIT = 0
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

--
RETURN @SP_SUCCESS
--
GO
