USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_pharmacy_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_pharmacy_save]
(
@benefit_contract_period_benefit_plan_pharmacy_information_id	INT = 0   OUTPUT
,@benefit_contract_period_benefit_plan_id	INT = 0
,@rx_group_number							NVARCHAR(15) = NULL
,@rx_benefit_identification_number			NVARCHAR(6) = NULL
,@rx_processor_control_number				NVARCHAR(10) = NULL
,@rx_phone_number							NVARCHAR(50) = NULL
,@effective_from							DATE = NULL
,@effective_thru							DATE = NULL
,@active									BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_CANT_UPDATE 	= '159840013'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--
IF ISNULL(@benefit_contract_period_benefit_plan_pharmacy_information_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan_pharmacy_information(
benefit_contract_period_benefit_plan_id
,rx_group_number
,rx_benefit_identification_number
,rx_processor_control_number
,rx_phone_number
,effective_from
,effective_thru
)
VALUES
(
@benefit_contract_period_benefit_plan_id
,@rx_group_number
,@rx_benefit_identification_number
,@rx_processor_control_number
,@rx_phone_number
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_contract_period_benefit_plan_pharmacy_information_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_pharmacy_information WHERE benefit_contract_period_benefit_plan_pharmacy_information_id = @benefit_contract_period_benefit_plan_pharmacy_information_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan_pharmacy_information
SET
benefit_contract_period_benefit_plan_id	= @benefit_contract_period_benefit_plan_id
,rx_group_number						= @rx_group_number
,rx_benefit_identification_number		= @rx_benefit_identification_number
,rx_processor_control_number			= @rx_processor_control_number
,rx_phone_number						= @rx_phone_number
,effective_from							= @effective_from
,effective_thru							= @effective_thru
,modified_user_name						= ORIGINAL_LOGIN()
,modified_date							= GETDATE()
WHERE
benefit_contract_period_benefit_plan_pharmacy_information_id = @benefit_contract_period_benefit_plan_pharmacy_information_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
