USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_premium_details_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Load data for premium details grid on frmFamilyEligibilityLoan
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_premium_details_list_load]
(
@premium_id INT = NULL
) AS

SELECT
premium_id
,pc.premium_calculation_id
,COALESCE(fel.loan_number, fel_NEGATED.loan_number) as loan_number
--,dbo.plx_fn_get_coverage_period_ud(pc.premium_calculation_id) AS coverage_period_ud
-- ,fembp.member_eligibility_ud
, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS member_name
,fembp.family_eligibility_member_benefit_plan_id
,pc.amount as base_rate_amount
,pc.effective_from
,dbo.plx_fn_get_factors_amount(pc.premium_calculation_id) AS factors_amount
-- we negate the applied amount, because it is a deduction
,-dbo.plx_fn_get_applied_elig_rate_amount_premium_calc(pc.premium_calculation_id) AS applied_eligibility_rate_amount
,amount = pc.amount + dbo.plx_fn_get_factors_amount(pc.premium_calculation_id) -
dbo.plx_fn_get_applied_elig_rate_amount_premium_calc(pc.premium_calculation_id)
,prt.golden_key as premium_rate_type_gk
,prb.premium_rate_id
,pr.premium_rate_ud
,prbt.premium_rate_base_type_id
,prbt.premium_rate_base_type_ud
-- get the tiers
,t.tier_id
,t.tier_ud
,t.tier_criteria_type_golden_key
,tc.tier_criteria_id
,tc.tier_criteria_ud
FROM dbo.premium_calculation pc
JOIN dbo.premium_rate_base prb ON pc.premium_rate_base_id= prb.premium_rate_base_id
JOIN dbo.premium_rate_base_type prbt ON prb.premium_rate_base_type_id= prbt.premium_rate_base_type_id
JOIN dbo.premium_rate pr ON pr.premium_rate_id = prb.premium_rate_id
JOIN dbo.premium_rate_type prt ON pr.premium_rate_type_id = prt.premium_rate_type_id
LEFT JOIN dbo.premium_rate_base_tier_criteria_value prbtcv ON prbtcv.premium_rate_base_tier_criteria_value_id = pc.premium_rate_base_tier_criteria_value_id
LEFT JOIN dbo.tier_criteria tc ON tc.tier_criteria_id = prbtcv.tier_criteria_id
LEFT JOIN dbo.tier t ON tc.tier_id = t.tier_id
LEFT JOIN dbo.family_eligibility_member_benefit_plan fembp
ON pc.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
LEFT JOIN dbo.family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN member_name mn ON fem.member_id = mn.member_id AND ISNULL(mn.is_primary,0) = 1
-- add loan detail information
LEFT JOIN premium_calculation_loan_detail pcld ON pc.premium_calculation_id = pcld.premium_calculation_id
LEFT JOIN family_eligibility_loan_detail feld ON pcld.family_eligibility_loan_detail_id = feld.family_eligibility_loan_detail_id
LEFT JOIN family_eligibility_loan fel ON feld.family_eligibility_loan_id = fel.family_eligibility_loan_id
-- add loan detail information for negated premium (loan details and volume calculations not saved for negated premium calcs)
LEFT JOIN premium_calculation_loan_detail pcld_NEGATED ON pc.negated_premium_calculation_id = pcld_NEGATED.premium_calculation_id
LEFT JOIN family_eligibility_loan_detail feld_NEGATED ON pcld_NEGATED.family_eligibility_loan_detail_id = feld_NEGATED.family_eligibility_loan_detail_id
LEFT JOIN family_eligibility_loan fel_NEGATED ON feld_NEGATED.family_eligibility_loan_id = fel_NEGATED.family_eligibility_loan_id

WHERE pc.premium_id = @premium_id

ORDER BY
fel.loan_number
,fembp.member_eligibility_ud
,pr.premium_rate_ud
--,coverage_period_ud
GO
