USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_waive_item_by_member_eligibility_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyNgo			1.0			Created
03/11/2008	David Slayton	1.1			Removed commented out code that referenced the
accumulator table to make it easier to troubleshoot
accumulator changes in the future.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load waive item with member eligibility
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_waive_item_by_member_eligibility_load]
(
@family_eligibility_member_benefit_plan_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
select
isnull(ABC.benefit_class_ud, ABC.accumulator_class_ud) as acc_benefit_class
,ABC.benefit_class_id
,ABC.benefit_class_ud
,ABC.accumulator_class_id
,ABC.accumulator_class_ud
,CAST(0 as bit) as not_applicable
from ((select
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,null as accumulator_class_id
,null as accumulator_class_ud
FROM   family_eligibility_member_benefit_plan
INNER JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
INNER JOIN benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN benefit_framework ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN benefit_framework_benefit_class ON benefit_framework_benefit_class.benefit_framework_id = benefit_framework.benefit_framework_id
INNER JOIN benefit_class ON benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
WHERE   family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
AND  benefit_class.golden_key <> N'Covered Benefit'
)
UNION
(select DISTINCT
null as benefit_class_id
,null as benefit_class_ud
,accumulator_class.accumulator_class_id
,accumulator_class.accumulator_class_ud
FROM   family_eligibility_member_benefit_plan
INNER JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
INNER JOIN benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework ON benefit_plan.benefit_plan_id = benefit_plan_accumulator_framework.benefit_plan_id
INNER JOIN accumulator_framework ON accumulator_framework.accumulator_framework_id = benefit_plan_accumulator_framework.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class ON accumulator_framework_accumulator_class.accumulator_framework_id = accumulator_framework.accumulator_framework_id
INNER JOIN accumulator_class ON accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id
WHERE	family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
))ABC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
