USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_verify_assignment_status]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  13 2005  7:17PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/13/2005	Hiep Nguyen	1.0		Created
05/19/2008	Vishwa Jella	2.0		updated JOIN with golden_key
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get data from the benefit_plan table
This stored procedure is used in the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_plan_verify_assignment_status]
(
@benefit_plan_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT bp.benefit_plan_id
from benefit_plan bp
inner join plan_assignment_status pas
on pas.plan_assignment_status_id=bp.plan_assignment_status_id
WHERE bp.benefit_plan_id = @benefit_plan_id
and pas.golden_key='Assignment Allowed'

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
