USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_contact_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_contact_load] (
@get_column_headers BIT = 0
,@name_prefix_id INT = NULL
,@name_last NVARCHAR(100) = NULL
,@name_first NVARCHAR(50) = NULL
,@name_middle NVARCHAR(50) = NULL
,@suffix_id NVARCHAR(50) = NULL
,@job_title NVARCHAR(100) = NULL
,@show_exact_matches BIT = 0
)
AS
BEGIN
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SqlQuery NVARCHAR(4000)
,@SqlCondition NVARCHAR(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@SqlQuery = ''
,@SqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (@show_exact_matches = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

--
IF @name_prefix_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND name_prefix_id = ' + CONVERT(NVARCHAR(10), @name_prefix_id)

IF @suffix_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND suffix_id = ' + CONVERT(NVARCHAR(10), @suffix_id)

IF @name_last IS NOT NULL
AND @name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(name_last, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@name_last, @show_exact_matches) + @suffix

IF @name_first IS NOT NULL
AND @name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(name_first, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@name_first, @show_exact_matches) + @suffix

IF @name_middle IS NOT NULL
AND @name_middle <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(name_middle, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@name_middle, @show_exact_matches) + @suffix

IF @job_title IS NOT NULL
AND @job_title <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(job_title, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@job_title, @show_exact_matches) + @suffix
SET @SqlQuery = '
SELECT TOP (dbo.fn_results_limit())
c.contact_id
,at.alias_type_ud
,contact_nm = dbo.plx_ConcatenateName(cn.name_last, cn.name_first, cn.name_middle, cn.name_suffix)
,c.job_title
,contact_address = dbo.plx_ConcatenateAddressLong(a.address_1, a.address_2,a.address_3, a.delivery_route, a.locale_id)
FROM contact c
LEFT JOIN contact_name cn ON
cn.contact_id = c.contact_id AND ISNULL(cn.is_primary,0) = 1
LEFT JOIN suffix s ON
s.suffix_ud = cn.name_suffix
LEFT JOIN alias_type at
ON at.alias_type_id = cn.alias_type_id
LEFT JOIN contact_address ca ON
c.contact_id = ca.contact_id AND ISNULL(ca.primary_for_contact,0) = 1
LEFT JOIN address a ON
ca.address_id = a.address_id AND ISNULL(ca.primary_for_contact,0) = 1
'

--
PRINT (@SqlQuery + @SqlCondition)

EXEC (@SqlQuery + @SqlCondition)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
END
GO
