USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_exclude_type_of_bill_code_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
10/22/2007
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
-------------------------------------------------------------------------------------------------------------------
10/22/2007	Abhishek Saxena	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Include Type of Bill Code in the Set"
in frmTypeOfBillSet form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_exclude_type_of_bill_code_list_load]

(
@type_of_bill_set_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
type_of_bill_set_detail_id
,type_of_bill_set_detail.begin_institutional_claim_bill_type_id
,institutional_claim_bill_type.institutional_claim_bill_type_ud    -- as begin_ud
--    ,institutional_claim_bill_type.institutional_claim_bill_type_id as institutional_claim_bill_type_id
-- ,institutional_claim_bill_type1.institutional_claim_bill_type_id as institutional_claim_bill_type_id1
,type_of_bill_set_detail.end_institutional_claim_bill_type_id
,institutional_claim_bill_type1.institutional_claim_bill_type_ud           as end_ud
,type_of_bill_set_detail.effective_from
,type_of_bill_set_detail.effective_thru
FROM type_of_bill_set_detail inner join institutional_claim_bill_type on institutional_claim_bill_type.institutional_claim_bill_type_id=type_of_bill_set_detail.begin_institutional_claim_bill_type_id
inner join institutional_claim_bill_type institutional_claim_bill_type1 on institutional_claim_bill_type1.institutional_claim_bill_type_id=type_of_bill_set_detail.end_institutional_claim_bill_type_id
WHERE type_of_bill_set_id= @type_of_bill_set_id and is_excluded_from_set=1
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru DESC

--
RETURN @SP_SUCCESS
GO
