USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_carc_rarc_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
10/10/2017	eponomareff		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find carc rarc codes that match criteria.

NOTE - This find form differs from others in that it returns BOTH
Claim Adjustment Reason Codes (CARC) and
Remittance Advice Remark Codes (RARC) from two
different tables.

--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_find_carc_rarc_load]
(
@get_column_headers				BIT = 0
,@code_type_id						INT = 0
,@code_ud							NVARCHAR(50) = NULL
,@description						NVARCHAR(2000) = NULL
,@show_exact_matches				BIT = 0
,@show_only_current					BIT = 0

)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1


-- get current date
DECLARE @currentDate DATE
SET @currentDate = CONVERT(DATE, GETDATE())

-- get golden key from type:
-- CARC or RARC
DECLARE @code_type_gk NVARCHAR(50)
SET @code_type_gk  =
(SELECT golden_key FROM carc_rarc
WHERE ISNULL(@code_type_id, 0) = carc_rarc_id)

IF ISNULL(@code_type_gk, '') = 'CARC'
BEGIN
SELECT
'CARC'									AS code_type_ud
,carc.claim_adjustment_reason_code_id	AS code_id
,carc.claim_adjustment_reason_code_nk	AS code_ud
,carc.description
,carc.code_effective_date
,carc.code_deactivation_date
,carc.code_last_modified_date
FROM
claim_adjustment_reason_code carc
WHERE
@get_column_headers = 0
AND	(
ISNULL(@code_ud, '') = ''
OR
(@show_exact_matches = 1 AND carc.claim_adjustment_reason_code_nk = @code_ud)
OR
(@show_exact_matches = 0 AND carc.claim_adjustment_reason_code_nk  LIKE @code_ud + '%')
)
AND	(
ISNULL(@description, '') = ''
OR
(@show_exact_matches = 1 AND carc.description = @description)
OR
(@show_exact_matches = 0 AND carc.description  LIKE @description + '%')
)
AND
(@show_only_current = 0 OR  carc.code_deactivation_date IS NULL OR carc.code_deactivation_date > @currentDate)
ORDER BY code_ud
END

ELSE IF ISNULL(@code_type_gk, '') = 'RARC'
BEGIN
SELECT
'RARC'									AS code_type_ud
,rarc.remittance_advice_remark_code_id	AS code_id
,rarc.remittance_advice_remark_code_nk	AS code_ud
,rarc.description
,rarc.code_effective_date
,rarc.code_deactivation_date
,rarc.code_last_modified_date
FROM
remittance_advice_remark_code rarc
WHERE
@get_column_headers = 0
AND	(
ISNULL(@code_ud, '') = ''
OR
(@show_exact_matches = 1 AND rarc.remittance_advice_remark_code_nk = @code_ud)
OR
(@show_exact_matches = 0 AND rarc.remittance_advice_remark_code_nk  LIKE @code_ud + '%')
)
AND	(
ISNULL(@description, '') = ''
OR
(@show_exact_matches = 1 AND rarc.description = @description)
OR
(@show_exact_matches = 0 AND rarc.description  LIKE @description + '%')
)
AND
(@show_only_current = 0 OR  rarc.code_deactivation_date IS NULL OR rarc.code_deactivation_date > @currentDate)
ORDER BY code_ud
END
-- NULL or BOTH
ELSE
BEGIN
SELECT
'CARC'									AS code_type_ud
,carc.claim_adjustment_reason_code_id	AS code_id
,carc.claim_adjustment_reason_code_nk	AS code_ud
,carc.description
,carc.code_effective_date
,carc.code_deactivation_date
,carc.code_last_modified_date
FROM
claim_adjustment_reason_code carc
WHERE
@get_column_headers = 0
AND	(
ISNULL(@code_ud, '') = ''
OR
(@show_exact_matches = 1 AND carc.claim_adjustment_reason_code_nk = @code_ud)
OR
(@show_exact_matches = 0 AND carc.claim_adjustment_reason_code_nk  LIKE @code_ud + '%')
)
AND	(
ISNULL(@description, '') = ''
OR
(@show_exact_matches = 1 AND carc.description = @description)
OR
(@show_exact_matches = 0 AND carc.description  LIKE @description + '%')
)
AND
(@show_only_current = 0 OR  carc.code_deactivation_date IS NULL OR carc.code_deactivation_date > @currentDate)

UNION
SELECT
'RARC'									AS code_type_ud
,rarc.remittance_advice_remark_code_id	AS code_id
,rarc.remittance_advice_remark_code_nk	AS code_ud
,rarc.description
,rarc.code_effective_date
,rarc.code_deactivation_date
,rarc.code_last_modified_date
FROM
remittance_advice_remark_code rarc
WHERE
@get_column_headers = 0
AND	(
ISNULL(@code_ud, '') = ''
OR
(@show_exact_matches = 1 AND rarc.remittance_advice_remark_code_nk = @code_ud)
OR
(@show_exact_matches = 0 AND rarc.remittance_advice_remark_code_nk  LIKE @code_ud + '%')
)
AND	(
ISNULL(@description, '') = ''
OR
(@show_exact_matches = 1 AND rarc.description = @description)
OR
(@show_exact_matches = 0 AND rarc.description  LIKE @description + '%')
)
AND
(@show_only_current = 0 OR  rarc.code_deactivation_date IS NULL OR rarc.code_deactivation_date > @currentDate)
ORDER BY code_type_ud, code_ud
END

RETURN @SP_SUCCESS
GO
