USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_rule_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006  1:24PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006    ThuyNgo   1.0             created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_depreciation_rule table.
--
REQUIREMENTS:
--
INPUTS:
commission_depreciation_rule_id - Key to commission_depreciation_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_commission_depreciation_rule_list_load]
(
@commission_depreciation_agent_type_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_depreciation_rule.commission_depreciation_rule_id

,commission_depreciation_rule.commission_depreciation_agent_type_id
,commission_depreciation_rule.state_id
,state.state_ud

,commission_depreciation_rule.billing_type_id
,billing_type.billing_type_ud

,commission_depreciation_rule.group_size_begin
,commission_depreciation_rule.group_size_end
,commission_depreciation_rule.premium_range_begin
,commission_depreciation_rule.premium_range_end
,commission_depreciation_rule.period_begin
,commission_depreciation_rule.period_end

,commission_depreciation_rule.period_unit_month_year_id
,commission_depreciation_rule.period_commission_percent
,cast(NULL AS int) as mark -- use to mark the row has fire rule
,cast(0 AS int) as deleted -- use to identify rows attend to delete
FROM commission_depreciation_rule
LEFT JOIN commission_depreciation_agent_type  ON commission_depreciation_rule.commission_depreciation_agent_type_id = commission_depreciation_agent_type.commission_depreciation_agent_type_id
LEFT JOIN state  ON commission_depreciation_rule.state_id = state.state_id
LEFT JOIN billing_type  ON commission_depreciation_rule.billing_type_id = billing_type.billing_type_id
WHERE commission_depreciation_rule.commission_depreciation_agent_type_id = @commission_depreciation_agent_type_id
ORDER BY state_ud, billing_type_ud, group_size_begin, premium_range_begin, period_begin

--
RETURN @SP_SUCCESS
GO
