USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_claim_procedure_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By	Version    Description
--------------------------------------------------------------------------------
11/05/2005	HiepNguyen	1.0       Created
12/13/2005	HuyThan		1.1       Changed claim_line_status => adjudication_status
03/10/2006 	HiepNguyen	1.3       Modified
04/25/2006	Hien D Nguyen	1.4       Updated UPPER case
05/29/2006  	HiepNguyen	1.5       Added condition of calculating net pay, coinsurance, deductible....
05/30/2006  	HiepNguyen	1.6       Remove result_code_status and replace it by result_code_combination..
05/31/2006  	HiepNguyen	1.7       Added "DISTINCT" keyword
09/05/2006	HiepNguyen	1.8	  changed type_adjudication_object_id to adjudication_object_id
09/12/2006	Hiep Nguyen	1.9	  changed field "unit_type_dental_claim" to "unit_type_dental_claim_id"
10/25/2006	Hiep Nguyen	2.0	  Updated condition by new golden_key in the Adjudication Object
12/06/2006	Hien D Nguyen	2.1	  Change PX/DX Code, combine through procedure_code_ud
08/07/2007  AIO         2.2        Changed the deductible for a line to a sql function.
08/29/2008	eponomareff	2.3		V1 defect D-02411 - Fixed the coinsurance join for prof/dental/inst
10/31/2008	Vishwa Jella	3.0		Updated with adding Process Status and removed Check #, Check Date.
03/09/2009	Vishwa Jella	4.0		removed procedure_code_id fields to avoid duplicate rows when same code with different version exists
(it fixes issue related to DRG codes with unique versions)
03/09/2009	Vishwa Jella	4.1		updated order by with is_system_generated to display generated line on top of the grid procedure lines
--
CURRENT_VERSION: 2.2
--
DESCRIPTION: Load claim procedure
This procedure is used to load claim procedure data for claim history form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred--, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_history_claim_procedure_load]
(
@claim_id	int = null,
@claim_form_type_id      int = null
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@claim_form_type  nvarchar(100)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

SELECT @claim_form_type = cft.golden_key
FROM claim_form_type cft
WHERE cft.claim_form_type_id = @claim_form_type_id

IF @claim_form_type = 'DENTAL'
BEGIN
SELECT DISTINCT
claim_procedure.claim_procedure_id
, claim_procedure.procedure_code_ud
, alternate_procedure_code.procedure_code_ud as alternate_procedure_code_ud
, claim_procedure.service_from_date as procedure_date
, claim_procedure.units
, unit_type.unit_type_dental_claim_ud
, claim_procedure.visits
, claim_procedure.repricing_amount as allowed_amount
, adj_amt.net_payment as net
, adj_amt.copay
, adj_amt.coinsurance
, adj_amt.deductible
, claim_procedure.cob
, claim_procedure.cob_amount
, claim_procedure.charge
, claim_procedure.non_covered_charge
, adjudication_status.adjudication_status_id as claim_line_status_id
, adjudication_status.adjudication_status_ud as claim_line_status_ud
, dbo.claim_procedure_result_code_combination(claim_procedure.claim_procedure_id) as 'result_code'
,claim_payment_process_status.claim_payment_process_status_ud
, claim_procedure.claim_line_sequence
, tooth_system.tooth_system_ud
, tooth_number_letter.tooth_number_letter_ud
, dbo.claim_procedure_tooth_surface_seperators(claim_procedure.claim_procedure_id, '') as tooth_surface_ud
, area_of_oral_cavity.area_of_oral_cavity_ud
, claim_procedure.hold

FROM claim_procedure
--- net-payment
LEFT JOIN (
SELECT
ara.claim_procedure_id,
SUM(ISNULL(ara.net_payment, 0)) as net_payment,
SUM(ISNULL(ara.coinsurance_amount, 0)) as coinsurance,
SUM(ISNULL(ara.copay_amount, 0)) as copay,
SUM(ISNULL(ara.deductible_amount, 0)) as deductible
FROM adjudication_result_amount ara
GROUP BY ara.claim_procedure_id
) as adj_amt ON adj_amt.claim_procedure_id = claim_procedure.claim_procedure_id
LEFT JOIN procedure_code alternate_procedure_code  ON alternate_procedure_code.procedure_code_ud = claim_procedure.alternate_procedure_code_ud
LEFT JOIN diagnosis_code  ON diagnosis_code.diagnosis_code_ud = claim_procedure.diagnosis_code_ud
LEFT JOIN place_of_service  ON place_of_service.place_of_service_id = claim_procedure.place_of_service_id
LEFT JOIN type_of_service  ON type_of_service.type_of_service_id = claim_procedure.type_of_service_id
LEFT JOIN unit_type_dental_claim unit_type ON unit_type.unit_type_dental_claim_id = claim_procedure.unit_type_dental_claim_id
LEFT JOIN adjudication_status  ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
LEFT JOIN claim_payment_process_status on claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN tooth_system  ON tooth_system.tooth_system_id = claim_procedure.tooth_system_id
LEFT JOIN tooth_number_letter  ON tooth_number_letter.tooth_number_letter_id = claim_procedure.tooth_number_letter_id
LEFT JOIN area_of_oral_cavity ON area_of_oral_cavity.area_of_oral_cavity_id = claim_procedure.area_of_oral_cavity_id

WHERE claim_procedure.claim_id = @claim_id
ORDER BY 	claim_procedure.claim_line_sequence
END
ELSE
BEGIN
SELECT DISTINCT
claim_procedure.claim_procedure_id

, claim_procedure.procedure_code_ud

, adjudication_status.adjudication_status_ud
, claim_procedure.service_from_date
, claim_procedure.service_thru_date
, claim_procedure.charge
, adj_amt.net_payment as net
, adj_amt.copay
, adj_amt.coinsurance
, adj_amt.deductible
, dbo.claim_procedure_result_code_combination(claim_procedure.claim_procedure_id) as 'result_code'
, claim_payment_process_status.claim_payment_process_status_ud
, claim_procedure.claim_line_sequence
,claim_procedure.[is_system_generated] -- used for system created drg line
, claim_procedure.relative_value_units
, claim_procedure.visits
, claim_procedure.units
, claim_procedure.hold

FROM claim_procedure
--- net-payment
LEFT JOIN (
SELECT
ara.claim_procedure_id,
SUM(ISNULL(ara.net_payment, 0)) as net_payment,
SUM(ISNULL(ara.coinsurance_amount, 0)) as coinsurance,
SUM(ISNULL(ara.copay_amount, 0)) as copay,
SUM(ISNULL(ara.deductible_amount, 0)) as deductible
FROM adjudication_result_amount ara
GROUP BY ara.claim_procedure_id
) as adj_amt ON adj_amt.claim_procedure_id = claim_procedure.claim_procedure_id
LEFT JOIN claim_payment_process_status on claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN adjudication_status  ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
WHERE claim_procedure.claim_id = @claim_id
ORDER BY claim_procedure.[is_system_generated] DESC,claim_procedure.claim_line_sequence
END

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
