USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_age_calculation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/09/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/09/2009	ioveracker	1.0		Created.
06/17/2009  ioveracker	1.1		Added golden_key.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure loads the data from the age_calculation_rule table for use in populating a combo box.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_age_calculation_rule_load] AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
age_calculation_rule.age_calculation_rule_id
,age_calculation_rule.age_calculation_rule_ud
,golden_key
FROM age_calculation_rule

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
