USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_accumulator_details_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date      Modified By    Version  Description
--------------------------------------------------------------------------------
12/23/08  W.Christensen  1.0      Created
03/23/09  W.Christesnen  1.1      Revised to use a table to temporarily store accum results
04/10/12  K.Follett      2.0      Got rid of SQL CLR call...only need @accumulator_result_id now
07/10/14  eponomareff    3.0      Got rid of dynamic sql, simple is better.
02/11/15  jyoung		 4.0      Inserted results into temp table variable and delete accumulator results.
04/07/15  jyoung		 5.0      Changed NUMERIC columns in temp table to NUMERID(19,4) to correct precision results.
02/17/16  amortensen     6.0      RT:9814 Merging plx_eligibility_accumulator_dental_details_load stored procedure with this procedure

--
CURRENT_VERSION: 6.0
--
DESCRIPTION:
This procedure is used to load data for grid "Family and Individual Accumulators"
in frmEpisode form and view accumulator form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_eligibility_accumulator_details_load]
(
@accumulator_result_message_key	VARCHAR(100)
)
AS

BEGIN

SET NOCOUNT ON;

-- This stored procedure returns two result sets.
-- the name of the first column of each result set
-- is used when mapping the result set to the specific
-- UI control.

-- Temp table for Accumulator Result Detail
DECLARE @tempResults TABLE(
accumulator_result_detail_id              INT,
family_eligibility_member_benefit_plan_id INT,
family                                    BIT,
episode_id                                INT,
episode_ud                                NVARCHAR(50),
accumulator_class_ud                      NVARCHAR(50),
accumulator_id                            INT,
accumulator_ud                            NVARCHAR(50),
per_tooth                                 BIT,
per_tooth_surface                         BIT,
per_area_of_oral_cavity                   BIT,
details                                   NVARCHAR(3),
accumulator_sub_limit_id                  INT,
accumulator_sub_limit_ud                  NVARCHAR(50),
rollover_type                             NVARCHAR(50),
carryover                                 INT,
period_from_date                          DATETIME,
period_thru_date                          DATETIME,
maximum                                   NUMERIC(19,4),
accumulated                               NUMERIC(19,4),
seed                                      NUMERIC(19,4),
remaining                                 NUMERIC(19,4),
scope_key                                 UNIQUEIDENTIFIER
);

-- Temp table for Accumulator Result Dental Detail
DECLARE @tempDentalResults TABLE(
accumulator_result_dental_detail_id       INT,
accumulator_result_detail_id              INT,
episode_id                                INT,
episode_ud                                NVARCHAR(50),
accumulator_class_ud                      NVARCHAR(50),
accumulator_ud                            NVARCHAR(50),
period_from_date                          DATETIME,
period_thru_date                          DATETIME,
area_of_oral_cavity_ud                    NVARCHAR(50),
tooth_number_letter_ud                    NVARCHAR(50),
tooth_surface_ud                          NVARCHAR(50),
maximum                                   NUMERIC(19,4),
accumulated                               NUMERIC(19,4),
seed                                      NUMERIC(19,4),
remaining                                 NUMERIC(19,4)
);

DECLARE @accumulator_result_id INT
SELECT  @accumulator_result_id = accumulator_result_id FROM accumulator_result WHERE message_key = @accumulator_result_message_key

-- Insert Accumulator Result Detail into temp table
INSERT INTO @tempResults
SELECT
accums.accumulator_result_detail_id,
ar.family_eligibility_member_benefit_plan_id,
accums.family,
accums.episode_id,
episode.episode_ud,
ac.accumulator_class_ud,
afaca.accumulator_framework_accumulator_class_accumulator_id AS accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud as accumulator_ud,
afaca.per_tooth,
afaca.per_tooth_surface,
afaca.per_area_of_oral_cavity,
'Det' AS details,
sub.accumulator_sub_limit_id,
sub.accumulator_sub_limit_ud AS accumulator_sub_limit_ud,
art.accumulator_rollover_type_ud AS rollover_type,
accums.carryover,
accums.period_from_date,
accums.period_thru_date,
accums.maximum,
accums.accumulated,
accums.seed,
accums.remaining,
accums.scope_key
FROM accumulator_result_detail accums
INNER JOIN accumulator_result ar
ON ar.accumulator_result_id = accums.accumulator_result_id
LEFT JOIN accumulator_class ac
ON accums.accumulator_class_id = ac.accumulator_class_id
LEFT JOIN accumulator_framework_accumulator_class_accumulator afaca
ON accums.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator_sub_limit sub
ON accums.accumulator_sub_limit_id = sub.accumulator_sub_limit_id
LEFT JOIN accumulator_rollover_type art
ON accums.accumulator_rollover_type_id = art.accumulator_rollover_type_id
LEFT JOIN episode
ON accums.episode_id = episode.episode_id
WHERE
ar.accumulator_result_id = @accumulator_result_id
ORDER BY
accums.accumulator_class_id, accums.accumulator_framework_accumulator_class_accumulator_id, accums.accumulator_sub_limit_id, accums.family

-- Insert Accumulator Result Dental Detail into temp table
INSERT INTO @tempDentalResults
SELECT
ardd.accumulator_result_dental_detail_id,
ard.accumulator_result_detail_id,
ard.episode_id,
episode.episode_ud,
ac.accumulator_class_ud,
-- accumulator ud is used as a filter for show claims button on the dental details form
afaca.accumulator_framework_accumulator_class_accumulator_ud AS accumulator_ud,
ard.period_from_date,
ard.period_thru_date,
aooc.area_of_oral_cavity_ud,
tnl.tooth_number_letter_ud,
ts.tooth_surface_ud,
ard.maximum,
ardd.amount AS accumulated,
ardd.seed,
--ard.remaining
(ard.maximum - ardd.amount - ardd.seed) AS remaining

FROM accumulator_result_dental_detail ardd
INNER JOIN accumulator_result_detail ard
ON ardd.accumulator_result_detail_id = ard.accumulator_result_detail_id
INNER JOIN accumulator_result ar
ON ar.accumulator_result_id = ard.accumulator_result_id
LEFT JOIN accumulator_class ac
ON ard.accumulator_class_id = ac.accumulator_class_id
LEFT JOIN accumulator_framework_accumulator_class_accumulator afaca
ON ard.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN episode
ON ard.episode_id = episode.episode_id
LEFT JOIN tooth_surface ts
ON ts.tooth_surface_id = ardd.tooth_surface_id
LEFT JOIN tooth_number_letter tnl
ON tnl.tooth_number_letter_id = ardd.tooth_number_letter_id
LEFT JOIN area_of_oral_cavity aooc
ON ardd.area_of_oral_cavity_id = aooc.area_of_oral_cavity_id
WHERE
ar.message_key = @accumulator_result_message_key
ORDER BY
ard.accumulator_class_id, ard.accumulator_framework_accumulator_class_accumulator_id;

-- Delete after data has been fetched
SET NOCOUNT ON;
DELETE accumulator_result_dental_detail WHERE
accumulator_result_detail_id IN
(
SELECT accumulator_result_detail_id
FROM accumulator_result_detail ard
INNER JOIN accumulator_result ar
ON ar.accumulator_result_id = ard.accumulator_result_id
WHERE ar.message_key = @accumulator_result_message_key
)

DELETE accumulator_result_detail WHERE
accumulator_result_id IN
(
SELECT accumulator_result_id
FROM accumulator_result ar
WHERE ar.message_key = @accumulator_result_message_key
)

DELETE accumulator_result WHERE accumulator_result.message_key = @accumulator_result_message_key

-- Select from temp tables
SELECT * FROM @tempResults;
SELECT * FROM @tempDentalResults;

END
GO
