USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_accumulator_seed_value_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Steve Bricker added transactions and rowlock/updlock hints to prevent deadlocks
--back in 10/2024 but the code was not committed to master. I am committing it now.
--I am also fixing an issue with the error message not being returned correctly.
CREATE   PROCEDURE [dbo].[bind_accumulator_seed_value_save]
	-- Add the parameters for the stored procedure here
	(
		@member_coverage_id NVARCHAR(160),
		@effective_date NVARCHAR(160),
		@accumulator_seed_amount NUMERIC(19,4),
		@claim_id NVARCHAR(200),
		@accumulator_type_ud NVARCHAR(50)
	)
AS
--
SET NOCOUNT ON
--
DECLARE
    @SP_SUCCESS INT,
    @SP_ERROR INT,
    @SP_EXCEPTION INT,
    @message NVARCHAR(MAX),
    @family_eligibility_member_benefit_plan_id INT,
    @accumulator_seed_reason_id INT = 2,
    @accumulator_seed_value_id INT,
    @accumulator_framework_accumulator_class_accumulator_id INT = -1,
    @eligibility_ud NVARCHAR(255);
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
BEGIN TRANSACTION
BEGIN TRY
	SELECT
		@SP_SUCCESS = 0,
		@SP_ERROR= 1,
		@SP_EXCEPTION = -1,
		@eligibility_ud = 'ELG-' +  @member_coverage_id
    CREATE TABLE #output(
       accumulatorAmount NUMERIC(19,4),
       accumulatorMaxAmount NUMERIC(19,4),
       accumulatorType NVARCHAR(30),
       errorMessage NVARCHAR(max)
    )
	SELECT  @family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan_id
		FROM family_eligibility_member_benefit_plan
		WHERE member_eligibility_ud = @eligibility_ud
	if(@@ROWCOUNT = 0)
        begin
            SET @message = 'Family Eligibility Member Benefit Plan not found.';
            INSERT INTO #output SELECT 0.00, 0.00, '', @message;
            goto logerror
        end
		print 'family_eligibility_member_benefit_plan_id'
		print @family_eligibility_member_benefit_plan_id
    SET @accumulator_framework_accumulator_class_accumulator_id =
	(SELECT afaca.accumulator_framework_accumulator_class_accumulator_id
		FROM (select  bcon.benefit_contract_id, bp.benefit_plan_id, fembp.member_eligibility_ud, bcaf.accumulator_framework_id AS contract_afi, bpaf.accumulator_framework_id AS plan_afi
			from qc_core.dbo.family_eligibility_member_benefit_plan fembp
			JOIN qc_core.dbo.family_eligibility_member fem ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
			JOIN qc_core.dbo.family_eligibility fe ON (fe.family_eligibility_id = fem.family_eligibility_id)
			JOIN qc_core.dbo.benefit_plan bp ON (fembp.benefit_plan_id = bp.benefit_plan_id)
			JOIN qc_core.dbo.benefit_contract_period_benefit_plan bcpbp ON (bcpbp.benefit_plan_id = bp.benefit_plan_id)
			JOIN qc_core.dbo.benefit_contract_period bcp ON (bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id)
			JOIN qc_core.dbo.benefit_contract bcon ON ((bcp.benefit_contract_id = bcon.benefit_contract_id) AND (bcon.benefit_contract_id = fe.benefit_contract_id))
			LEFT JOIN qc_core.dbo.benefit_contract_accumulator_framework bcaf ON bcaf.benefit_contract_id = bcon.benefit_contract_id
			LEFT JOIN qc_core.dbo.benefit_plan_accumulator_framework bpaf ON bpaf.benefit_plan_id = bp.benefit_plan_id
			WHERE (bcp.effective_from > '2017-01-01')
			  AND (((fembp.effective_from < fembp.effective_thru) AND (fembp.effective_thru > '2021-12-31')) OR (bcp.effective_thru IS NULL))
			  AND (fembp.never_under_coverage != 1)
			  AND (bcon.benefit_contract_template !=1)
			  AND ((fembp.effective_from < fembp.effective_thru) OR (fembp.effective_thru is null)) -- we have some members that are on multiple employers during the same period, but you can tell it was canceled because the effective from equals thru
			  AND fembp.family_eligibility_member_benefit_plan_id NOT IN (3033, 3035, 3058, 3059, 3086, 3087, 3088, 3094, 3102, 3112, 3113, 3114, 3115, 3116, 3126, 4951) -- these are all from an invalid 2019-01-02 fembp
		) f
		JOIN qc_core.dbo.accumulator_framework_accumulator_class afac ON afac.accumulator_framework_id = coalesce(f.plan_afi, f.contract_afi)
		JOIN qc_core.dbo.accumulator_class ac ON ac.accumulator_class_id = afac.accumulator_class_id
		JOIN qc_core.dbo.accumulator_framework_accumulator_class_accumulator afaca ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
		WHERE
		  f.member_eligibility_ud = @eligibility_ud
		  AND (
			(LOWER(@accumulator_type_ud) != 'infertility'
				AND afaca.accumulator_framework_accumulator_class_accumulator_ud like @accumulator_type_ud + '%')
			OR
			(LOWER(@accumulator_type_ud) = 'infertility'
				AND ac.accumulator_class_ud = 'Maximum Payments'
				AND afaca.accumulator_framework_accumulator_class_accumulator_ud like '%' + @accumulator_type_ud + '%')
		  )
	)
	print 'accumulator_framework_accumulator_class_accumulator_id'
	print @accumulator_framework_accumulator_class_accumulator_id
	if(@accumulator_framework_accumulator_class_accumulator_id is null)
	begin
		SET @message = 'Accumulator Framework Accumulator Class not found.'
		print @message
		INSERT INTO #output SELECT 0.00, 0.00, '', @message
		goto logerror
	end
	CREATE TABLE #accumulator_seed_validate
	(
		seed_value_id INT,
		modified_date DATETIME,
	)
	INSERT INTO #accumulator_seed_validate SELECT asv.accumulator_seed_value_id, modified_date
		FROM accumulator_seed_value asv with (ROWLOCK, UPDLOCK)
		WHERE asv.accumulator_seed_reason_id = @accumulator_seed_reason_id
		and asv.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
		and asv.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
		and asv.comment = @claim_id
	if (SELECT COUNT(seed_value_id) FROM #accumulator_seed_validate) >= 1
        begin
            SET @accumulator_seed_value_id = (SELECT TOP (1)seed_value_id FROM #accumulator_seed_validate ORDER BY modified_date DESC)
            print 'accumulator_seed_value_id '
            print @accumulator_seed_value_id
        end
	DECLARE	@return_value int
	EXEC @return_value = plx_accumulator_seed_value_save
		@accumulator_seed_value_id = @accumulator_seed_value_id OUTPUT,
		@accumulator_seed_amount = @accumulator_seed_amount,
		@tooth_system_id=NULL,
		@tooth_number_letter_id = NULL,
		@area_of_oral_cavity_id = NULL,
		@tooth_surface_ud=NULL,
		@effective_date= @effective_date,
		@accumulator_seed_reason_id = @accumulator_seed_reason_id,
		@comment = @claim_id ,
		@family_eligibility_member_benefit_plan_id= @family_eligibility_member_benefit_plan_id,
		@accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id,
		@episode_id=NULL,
		@active=1;
COMMIT TRANSACTION
END TRY
BEGIN CATCH
    SET @message = ERROR_MESSAGE() + ' Error occurred at line: ' + CAST(ERROR_LINE() AS NVARCHAR(10));
    INSERT INTO #output SELECT 0.00, 0.00, '', @message
    SELECT * FROM #output
    print 'exception'
    IF @@TRANCOUNT > 0
    BEGIN
       ROLLBACK TRANSACTION
    END
    RETURN @SP_EXCEPTION
END CATCH
logerror:
IF @message <> '' OR @message <> NULL
BEGIN
SELECT * FROM #output
print 'error'
IF @@TRANCOUNT > 0
BEGIN
   ROLLBACK TRANSACTION
END
RETURN @SP_ERROR
END
IF  @@TRANCOUNT > 0 COMMIT TRANSACTION
BEGIN
	print 'success'
	--TODO add a query to get accumulator adjusted information
	--accumulator information to return
	INSERT INTO #output SELECT 0.00, 0.00, '', NULL
	SELECT * FROM #output
	RETURN @SP_SUCCESS
END
GO
