USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_excluded_provider_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 08/05/2009
--
--
CURRENT_VERSION: 1
--
DESCRIPTION:
This procedure is used to load data for frmCapitationGroup excluded provider related grids
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_group_excluded_provider_load]
(
@capitation_group_id AS INT
)
AS
--
--
SET NOCOUNT ON
--
exec plx_capitation_group_provider_load @capitation_group_id, 1
RETURN @@ROWCOUNT

--
GO
