USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_matrix_weighting_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/14/2006	Hiep Nguyen	1.0		Created
10/03/2006	Hiep Nguyen	1.1		Marked covered_benefit, referral_required, authorization_required
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the benefit_choice_matrix_weighting table
This stored procedure is used in the Benefit Choice Matrix Weighting grid of Benefit Contract Advance Plan Setup
and Benefit Contract Template Advance Plan Setu
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_choice_matrix_weighting_list_load]
(
@benefit_contract_period_benefit_plan_id	INT
)
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@benefit_plan_id int,
@Sql_Select NVARCHAR(4000),
@Sql_Select_Temp NVARCHAR(4000)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@Sql_Select = ' ',
@Sql_Select_Temp = ''

IF EXISTS (SELECT * FROM benefit_choice_matrix_weighting WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
BEGIN

SET @Sql_Select = ' SELECT benefit_choice_matrix_weighting_id, 0 as template_column '
SET @Sql_Select_Temp = ' SELECT benefit_choice_matrix_weighting_id, 0 as template_column '

IF EXISTS(SELECT deductible FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (deductible IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', deductible'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', deductible, deductible as deductible_template '
END

IF EXISTS(SELECT maximum_out_of_pocket FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (maximum_out_of_pocket IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', maximum_out_of_pocket'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', maximum_out_of_pocket, maximum_out_of_pocket as maximum_out_of_pocket_template '
END

IF EXISTS(SELECT copayment FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (copayment IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', copayment'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', copayment, copayment as copayment_template '
END

IF EXISTS(SELECT maximum_payments FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (maximum_payments IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', maximum_payments'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', maximum_payments, maximum_payments as maximum_payments_template '
END

IF EXISTS(SELECT maximum_units FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (maximum_units IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', maximum_units'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', maximum_units, maximum_units as maximum_units_template '
END

IF EXISTS(SELECT maximum_visits FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (maximum_visits IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', maximum_visits'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', maximum_visits, maximum_visits as maximum_visits_template '
END

IF EXISTS(SELECT coinsurance FROM benefit_choice_matrix_weighting  WHERE (benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND (coinsurance IS NOT NULL))
BEGIN
SET @Sql_Select = @Sql_Select + ', coinsurance'
SET @Sql_Select_Temp = @Sql_Select_Temp + ', coinsurance, coinsurance as coinsurance_template '
END

SET @Sql_Select = @Sql_Select + ', weight_amount, modified_date FROM benefit_choice_matrix_weighting  WHERE benefit_contract_period_benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_contract_period_benefit_plan_id )

SET @Sql_Select = ' ( ' + @Sql_Select + ' ) as benefit_choice_matrix '

SET @Sql_Select_Temp = @Sql_Select_Temp + ', weight_amount, modified_date From ' + @Sql_Select

EXEC(@Sql_Select_Temp)

END
ELSE
BEGIN
SELECT
@benefit_plan_id = benefit_plan.benefit_plan_id
FROM benefit_contract_period_benefit_plan
INNER JOIN benefit_plan ON benefit_plan.benefit_plan_id = benefit_contract_period_benefit_plan.benefit_plan_id
WHERE benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

IF (@benefit_plan_id IS NOT NULL) AND (@benefit_plan_id > 0)
EXEC dbo.plx_benefit_choice_matrix_weighting_by_benefit_plan_load @benefit_contract_period_benefit_plan_id
ELSE
BEGIN
SELECT benefit_contract_period_benefit_plan_id
, deductible
, deductible as deductible_template
, maximum_out_of_pocket
, maximum_out_of_pocket as maximum_out_of_pocket_template
, maximum_payments
, maximum_payments as maximum_payments_template
, maximum_units
, maximum_units as maximum_units_template
, maximum_visits
, maximum_visits as maximum_visits_template
, coinsurance
, coinsurance as coinsurance_template
, copayment
, copayment as copayment_template
, weight_amount
, 0 as template_column
, modified_date
FROM benefit_choice_matrix_weighting
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
END

END


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
