USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
April 7 2011  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/07/2011	Chad Maddox	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Persist a single record from the coverage_incentive table.
This stored procedure is used in the Coverage Incentive form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_coverage_incentive_save]
(
@coverage_incentive_id                          int = NULL OUTPUT,
@coverage_incentive_ud                          nvarchar(50) = NULL,
@description									nvarchar(255) = NULL,
@minimum_months_plan_effective					int = NULL,
@minimum_months_continuous_eligibility			int = NULL,
@active											bit = NULL) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @coverage_incentive_id is Null
BEGIN

--- Create a new record
INSERT INTO coverage_incentive(
coverage_incentive_ud
,description
,minimum_months_plan_effective
,minimum_months_continuous_eligibility
,active
)
VALUES
(@coverage_incentive_ud
,@description
,@minimum_months_plan_effective
,@minimum_months_continuous_eligibility
,@active
)
--
SET @coverage_incentive_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM coverage_incentive WHERE coverage_incentive_id = @coverage_incentive_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE coverage_incentive
SET
coverage_incentive_ud                    = @coverage_incentive_ud
,description                              = @description
,minimum_months_plan_effective			 = @minimum_months_plan_effective
,minimum_months_continuous_eligibility	 = @minimum_months_continuous_eligibility
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE coverage_incentive_id = @coverage_incentive_id
END
--
RETURN @SP_SUCCESS
--
GO
