USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_override_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 10/25/2016
--
REVISION_HISTORY:
--
Date        Modified By     Version  Description
--------------------------------------------------------------------------------
10/25/2016	cmaddox   1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for frmClaimOverride

The claim will have 1 record for each override type.
The form does not use a grid, but has a set of controls for each override type.
This stored procedure flattens out the types and places them on one row.
The adjudication status and claim form type are used to determine which fields are displayed, and which are
read-only for the form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_override_load]
@claim_id int = NULL
AS
DECLARE @ELIG_OVERRIDE_TYPE_ID INT, @CES_OVERRIDE_TYPE_ID INT
SELECT @ELIG_OVERRIDE_TYPE_ID = claim_override_type_id FROM claim_override_type WHERE golden_key = 'ELIGIBILITY_TERM_DATE'
SELECT @CES_OVERRIDE_TYPE_ID = claim_override_type_id FROM claim_override_type WHERE golden_key = 'CES_PROCESS'

DECLARE @CLAIM_PAYMENT_PROCESS_AVAILABLE_STATUS INT
SELECT @CLAIM_PAYMENT_PROCESS_AVAILABLE_STATUS = claim_payment_process_status_id
FROM claim_payment_process_status
WHERE golden_key = 'AVAILABLE'

DECLARE @elig_override_reason_id INT, @elig_modified_user_name NVARCHAR(255), @elig_modified_date DATETIME
DECLARE @ces_override_reason_id INT, @ces_modified_user_name  NVARCHAR(255), @ces_modified_date DATETIME

SELECT
@elig_override_reason_id = co.adjudication_details_override_reason_id,
@elig_modified_user_name = co.created_user_name,
@elig_modified_date = co.modified_date
FROM claim_override co WHERE co.claim_id = @claim_id AND co.claim_override_type_id =  @ELIG_OVERRIDE_TYPE_ID

SELECT
@ces_override_reason_id = co.adjudication_details_override_reason_id,
@ces_modified_user_name = co.created_user_name,
@ces_modified_date = co.modified_date
FROM claim_override co WHERE co.claim_id = @claim_id AND co.claim_override_type_id =  @CES_OVERRIDE_TYPE_ID

SELECT
c.claim_id,
@elig_override_reason_id as elig_override_reason_id,
@elig_modified_user_name as elig_modified_user_name,
@elig_modified_date as elig_modified_date,
@ces_override_reason_id as ces_override_reason_id,
@ces_modified_user_name as ces_modified_user_name,
@ces_modified_date as ces_modified_date,
CASE WHEN adj_stat.golden_key = 'OPEN' THEN 0 ELSE 1 END AS claim_is_adjudicated,
(
SELECT CASE WHEN count(*) > 0 THEN 1 ELSE 0 END FROM claim_procedure cp
WHERE
claim_id = @claim_id AND
cp.claim_payment_process_status_id IS NOT NULL
AND
cp.claim_payment_process_status_id <> @CLAIM_PAYMENT_PROCESS_AVAILABLE_STATUS
) as claim_has_line_in_accounting,
cft.golden_key as claim_form_type_golden_key
FROM
claim c
LEFT JOIN adjudication_status adj_stat
on c.adjudication_status_id = adj_stat.adjudication_status_id
LEFT JOIN claim_form_type cft
on c.claim_form_type_id = cft.claim_form_type_id
WHERE c.claim_id = @claim_id
RETURN 0
GO
