USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/22/2006	tinh do		1.1		add agent.agent_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage form
--
REQUIREMENTS:
--
INPUTS:
agent_id - Key to agent table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_brokerage_load]
(
@brokerage_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent.agent_id as brokerage_id
,agent.agent_id
,agent.agent_or_brokerage_type_id
,agent.effective_from as brokerage_effective_from
,agent.effective_thru as brokerage_effective_thru
,agent.incorporation_date
,agent.incorporated_in_country_id
,country.country_ud as incorporated_in_country_ud
,agent.incorporated_in_state_id
,agent.company_type_id
,agent_name.agent_name_id
,agent_name.name_last
,agent_name.is_primary
,cast(null as int) as mapping_brokerage_identifier_id
,cast(null as nvarchar(50)) as mapping_brokerage_ud
FROM agent
INNER JOIN agent_or_brokerage_type ON agent_or_brokerage_type.agent_or_brokerage_type_id = agent.agent_or_brokerage_type_id
AND agent_or_brokerage_type.golden_key = 'Brokerage'
INNER JOIN agent_name ON agent.agent_id = agent_name.agent_id
AND agent_name.is_primary = 1
LEFT JOIN country ON country.country_id = agent.incorporated_in_country_id
WHERE agent.agent_id = @brokerage_id
--
RETURN @SP_SUCCESS
GO
