USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_correspondence_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cfacey / mabdul
DATE: 07/26/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/17/2011	ggutshall		1.1		Added returnset limitations
--
DESCRIPTION:
This stored procedure is used in the Find Correspondence Rule form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_correspondence_rule_load]
(
@get_column_headers							BIT = 0
,@correspondence_rule_ud					nvarchar(50) = NULL
,@description									nvarchar(255) = NULL
,@correspondence_rule_category_id		int = NULL
,@correspondence_rule_type_id				int = NULL
,@correspondence_entity_id					int = NULL
,@show_exact_matches 						bit = 0
) AS
--
DECLARE
@SP_SUCCESS 										INT
,@SP_EXCEPTION 									INT
,@SqlQuery 											NVARCHAR(4000)
,@SqlCondition										NVARCHAR(4000)
,@Prefix												NVARCHAR(10)
,@Suffix												NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix =  ' LIKE N'''
SET @Suffix = '%'''
END

IF @correspondence_rule_ud IS NOT NULL AND @correspondence_rule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(cr.correspondence_rule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@correspondence_rule_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(cr.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF ISNULL(@correspondence_rule_category_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND crc.correspondence_rule_category_id = ' + CONVERT(NVARCHAR, @correspondence_rule_category_id)

IF ISNULL(@correspondence_rule_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND crt.correspondence_rule_type_id = ' + CONVERT(NVARCHAR, @correspondence_rule_type_id)

IF ISNULL(@correspondence_entity_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND crt.correspondence_entity_id = ' + CONVERT(NVARCHAR, @correspondence_entity_id)

--
SET @SqlQuery = ' SELECT TOP (dbo.fn_results_limit()) ' +
' cr.correspondence_rule_id ' +
' ,cr.correspondence_rule_ud ' +
' ,cr.description ' +
' ,crc.correspondence_rule_category_ud ' +
' ,crt.correspondence_rule_type_ud ' +
' ,ce.correspondence_entity_ud ' +
' FROM correspondence_rule cr ' +
' LEFT JOIN correspondence_rule_category crc ON crc.correspondence_rule_category_id = cr.correspondence_rule_category_id' +
' LEFT JOIN correspondence_rule_type crt ON crt.correspondence_rule_type_id = cr.correspondence_rule_type_id' +
' LEFT JOIN correspondence_entity ce ON ce.correspondence_entity_id = crt.correspondence_entity_id'

EXEC(@SqlQuery + @SqlCondition)
--
RETURN @SP_SUCCESS
--
GO
