USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_disclosure_restriction_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/30/2005	Tinh Do		Create
08/31/2007	pheiner		1.2		Removed golden_key.  Was removed from table.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down member_disclosure_restriction (Disclosure Restrictions (Individual))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_member_disclosure_restriction_load]



AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
member_disclosure_restriction.member_disclosure_restriction_id
--	    ,member_disclosure_restriction.member_disclosure_restriction_ud
,	member_disclosure_restriction.description

FROM member_disclosure_restriction
ORDER BY member_disclosure_restriction.description

--
RETURN @SP_SUCCESS
--
END
GO
