USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_activity_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  6:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien Nguyen	1.1		Used two tables: contact and contact_activity to load data
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Activity Log"
in frmContacts form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_contact_activity_load]

(
@contact_id			Int
)
AS
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
contact_activity.contact_activity_id
,contact.contact_id

,contact_activity.contact_activity_type_id
,contact_activity_type.contact_activity_type_ud
,contact_activity.contact_activity_date
,contact_activity.contact_activity_reason_id
,contact_activity_reason.contact_activity_reason_ud
,contact_activity.comment
,contact_activity.created_by_user_name
,CONVERT(NVARCHAR, contact_activity.date_created, 101) as date_created
FROM
contact INNER JOIN contact_activity ON contact.contact_id = contact_activity.contact_id
LEFT JOIN contact_activity_type  ON contact_activity_type.contact_activity_type_id = contact_activity.contact_activity_type_id
LEFT JOIN contact_activity_reason  ON contact_activity_reason.contact_activity_reason_id = contact_activity.contact_activity_reason_id
WHERE contact_activity.contact_id = @contact_id
order by contact_activity_date desc, contact_activity_type_ud asc
--
RETURN @SP_SUCCESS
GO
