USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_msp_individual_policy_number_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_msp_individual_policy_number_type_load]
AS
SET NOCOUNT ON

SELECT
gs.msp_individual_policy_number_type_id
,gs.msp_individual_policy_number_type_ud
FROM msp_individual_policy_number_type gs
ORDER BY gs.msp_individual_policy_number_type_ud

RETURN 0
GO
