USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_capitation_payment_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 08/20/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdCapitationAccountAssignmentsTapCap on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_capitation_payment_load]
(
@accounting_company_id INT = NULL
,@ap_accounting_company_account_id INT = NULL
,@expense_accounting_company_account_id INT = NULL
,@benefit_plan_id INT = NULL
,@benefit_contract_id INT = NULL
,@client_group_id INT = NULL
,@client_id  INT = NULL
,@benefit_category_id INT = NULL
,@show_only_current bit = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT  DISTINCT
aacp.effective_from
,aacp.effective_thru
,aacp.account_assignment_capitation_payment_id
,client.accounting_company_id
,ac.accounting_company_ud
,aacp.ap_accounting_company_account_id
,aca_ap.accounting_company_account_ud AS ap_accounting_company_account_ud
,aacp.expense_accounting_company_account_id
,aca_exp.accounting_company_account_ud AS expense_accounting_company_account_ud
,aacp.benefit_plan_id
,bp.benefit_plan_ud
,aacp.benefit_contract_id
,bc.benefit_contract_ud
,aacp.client_group_id
,cgn.client_group_ud
,aacp.client_id
,cn.client_ud
,aacp.benefit_category_id
,bcat.benefit_category_ud
,aacp.modified_date

FROM dbo.account_assignment_capitation_payment aacp
LEFT JOIN client ON aacp.client_id = client.client_id
LEFT JOIN client_name cn ON aacp.client_id = cn.client_id
LEFT JOIN accounting_company_account aca_ap ON aacp.ap_accounting_company_account_id = aca_ap.accounting_company_account_id
LEFT JOIN accounting_company_account aca_exp ON aacp.expense_accounting_company_account_id = aca_exp.accounting_company_account_id
LEFT JOIN accounting_company ac ON
aca_ap.accounting_company_id = ac.accounting_company_id
LEFT JOIN client_group cg ON aacp.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON cg.client_group_id = cgn.client_group_id
LEFT JOIN benefit_plan bp ON aacp.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN benefit_contract bc ON aacp.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_category bcat ON aacp.benefit_category_id = bcat.benefit_category_id
WHERE
(
ISNULL(@accounting_company_id, 0) = 0 OR @accounting_company_id = client.accounting_company_id
)
AND
(
ISNULL(@ap_accounting_company_account_id, 0) = 0 OR @ap_accounting_company_account_id = aacp.ap_accounting_company_account_id
)
AND
(
ISNULL(@expense_accounting_company_account_id, 0) = 0 OR @expense_accounting_company_account_id = aacp.expense_accounting_company_account_id
)
AND
(
ISNULL(@benefit_plan_id, 0) = 0 OR @benefit_plan_id = aacp.benefit_plan_id
)
AND
(
ISNULL(@benefit_contract_id, 0) = 0 OR @benefit_contract_id = aacp.benefit_contract_id
)
AND
(
ISNULL(@client_group_id, 0) = 0 OR @client_group_id = aacp.client_group_id
)
AND
(
ISNULL(@client_id, 0) = 0 OR @client_id  = aacp.client_id
)
AND
(
ISNULL(@benefit_category_id, 0) = 0 OR @benefit_category_id = aacp.benefit_category_id
)
AND
(
ISNULL(@show_only_current, 0) = 0 OR
(DATEDIFF(day, GETDATE(), aacp.effective_from) <= 0 OR aacp.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aacp.effective_thru) >= 0 OR aacp.effective_thru IS NULL)
)
--ORDER BY
--CASE WHEN aacp.effective_from IS NULL THEN 0 ELSE 1 END ASC, aacp.effective_from DESC,
--CASE WHEN aacp.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aacp.effective_thru DESC,
--cn.client_ud

ORDER BY cn.client_ud

RETURN @SP_SUCCESS
--
GO
