USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_rate_item_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_eligibility_rate_item_list_load]
AS
SET NOCOUNT ON

SELECT
eri.eligibility_rate_item_id
,eri.eligibility_rate_item_ud
,eri.description
FROM dbo.eligibility_rate_item eri
ORDER BY eri.eligibility_rate_item_ud

RETURN 0
GO
