USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_volume_age_reduction_value_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 12/27/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/08/2014	cmaddox     1.0         created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_volume_age_reduction_volume_type on the
age reduction schedule detail grid.


--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_premium_volume_age_reduction_value_type_load]
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
premium_volume_age_reduction_value_type.premium_volume_age_reduction_value_type_id
,premium_volume_age_reduction_value_type.premium_volume_age_reduction_value_type_ud
,premium_volume_age_reduction_value_type.golden_key

FROM premium_volume_age_reduction_value_type
ORDER BY  premium_volume_age_reduction_value_type_ud


RETURN @SP_SUCCESS
GO
