USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_choice_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	mttran		1.0			create
9/9/2005	mttran					replace params (@accumulator_framework_id, @accumulator_class_id)
02/10/2005	tmle					change @description by @choicelist_description parameter
by @accumulator_framework_accumulator_class_id
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save an accumulator choice list. Used in Accumulator Framework form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accumulator_choice_list_save]
(
@accumulator_choice_list_id                 int = NULL   OUTPUT
,@accumulator_choice_list_ud                nvarchar(100) = NULL
,@choicelist_description                               nvarchar(255) = NULL
,@accumulator_framework_accumulator_class_id	 int = NULL
,@resolve_choice_list_at_id                 int = NULL
,@active                                    bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				int
,@SP_EXCEPTION				int
,@ERROR_INSERT_FAILS		NVARCHAR(50)
,@ERROR_UPDATE_FAILS		NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST		NVARCHAR(50)
,@ERROR_CANT_UPDATE			NVARCHAR(50)
,@ERROR_RECORD_LOCKED		NVARCHAR(50)

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = '105280010'
--

IF ISNULL(@accumulator_choice_list_id, 0) <= 0
BEGIN
--HungTNguyen fixed bug system error, please don't  remove it
if exists( select accumulator_framework_accumulator_class_id from accumulator_framework_accumulator_class where accumulator_framework_accumulator_class_id=@accumulator_framework_accumulator_class_id)
begin

--- Create a new record
INSERT INTO accumulator_choice_list(
accumulator_choice_list_ud
,description
,accumulator_framework_accumulator_class_id
,resolve_choice_list_at_id
,active
)
VALUES
(@accumulator_choice_list_ud
,@choicelist_description
,@accumulator_framework_accumulator_class_id
,@resolve_choice_list_at_id
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)
SET @accumulator_choice_list_id = @@IDENTITY
end
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_choice_list WHERE accumulator_choice_list_id = @accumulator_choice_list_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--HungTNguyen fixed bug system error, please don't  remove it
if exists( select accumulator_framework_accumulator_class_id from accumulator_framework_accumulator_class where accumulator_framework_accumulator_class_id=@accumulator_framework_accumulator_class_id)
begin
DECLARE @ErrorVar int, @RowCountVar int

UPDATE accumulator_choice_list
SET
accumulator_choice_list_ud               = @accumulator_choice_list_ud
,description                              = @choicelist_description
,resolve_choice_list_at_id                = @resolve_choice_list_at_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_choice_list_id = @accumulator_choice_list_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
end

END
--
RETURN @SP_SUCCESS
--
GO
