USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_view_on_function_area_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Jan 16 2006  15:25PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/16/2005	Hien D Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load note business object from specified business object

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_view_on_function_area_list_load]
(
@note_linked_to_id INT = NULL,
@note_business_object_id INT = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE		@SP_SUCCESS int
SELECT 		@SP_SUCCESS = 0

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[#Autoview]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table #Autoview

create table #Autoview
(
note_linked_to_id int ,
--		note_id int,
note_business_object_id  int,
business_object_ud nvarchar(50),
auto_view bit default 0
)

Insert into #Autoview (note_linked_to_id, note_business_object_id, business_object_ud)
SELECT
@note_linked_to_id,
note_auto_view_list.allowed_note_business_object_id,
business_object.business_object_ud
FROM note_auto_view_list
inner JOIN note_business_object
ON note_auto_view_list.allowed_note_business_object_id = note_business_object.note_business_object_id
inner JOIN business_object
ON note_business_object.business_object_id = business_object.business_object_id
WHERE note_auto_view_list.note_business_object_id = @note_business_object_id

Update #Autoview set auto_view =1
--	from #Autoview
where note_business_object_id in (Select note_business_object_id from  note_pop_up
where note_linked_to_id=@note_linked_to_id)



Select note_linked_to_id, note_business_object_id, business_object_ud, auto_view from #Autoview

drop table #Autoview
RETURN @SP_SUCCESS
END
GO
