USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 07/31/2009
--
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
This procedure is used to load data for frmCapitationDefinition
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_definition_load]
(
@capitation_definition_id AS INT = 0
)
AS
--
--
SET NOCOUNT ON
--

SELECT
cd.capitation_definition_id,
cd.capitation_definition_ud,
cd.description,
cr.capitation_rate_id,
cr.capitation_rate_ud,
cmr.capitation_member_roster_id,
cmr.capitation_member_roster_ud,
cd.apply_review_period,
cd.do_not_release,
cd.test_day,
cd.capitation_period_start_date,
cd.invoice_period_start_date,
cpm.capitation_period_method_id,
cpm.capitation_period_method_ud,
cd.capitation_frequency_id,
cf.frequency_ud AS capitation_frequency_ud,
cd.invoicing_frequency_id,
inf.frequency_ud AS invoicing_frequency_ud,
cd.days_of_review_period,
cd.periods_to_look_back_for_retro,
cd.conversion_date,
cd.is_scheduling_active,
cd.time_to_process,
cd.schedule_form_id,
cd.active,
cd.created_user_name,
cd.created_group_id,
cd.created_date,
cd.modified_date
FROM capitation_definition cd
LEFT JOIN capitation_rate cr ON cd.capitation_rate_id = cr.capitation_rate_id
LEFT JOIN capitation_member_roster cmr ON cd.capitation_member_roster_id = cmr.capitation_member_roster_id
LEFT JOIN frequency inf ON cd.invoicing_frequency_id = inf.frequency_id
LEFT JOIN frequency cf ON cd.capitation_frequency_id = cf.frequency_id
LEFT JOIN capitation_period_method cpm ON cd.capitation_period_method_id = cpm.capitation_period_method_id
WHERE cd.capitation_definition_id = isnull(@capitation_definition_id, 0)

RETURN @@ROWCOUNT

--
GO
