USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_all_member_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Tinh Do		1.0			Created and used for Family Eligibility Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Select all member eligibility id.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_all_member_load]
(
@family_eligibility_member_id    	INT = NULL
)
AS
SELECT 	DISTINCT family_eligibility_member_benefit_plan.family_eligibility_member_id
FROM 	family_eligibility_member_benefit_plan
WHERE   @family_eligibility_member_id is null OR family_eligibility_member_id = @family_eligibility_member_id
GO
