USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_service_representative_carrier_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Aug 31 2006 10:07AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2006	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the carrier_service_representative_carrier table.
This stored procedure is used in Assigned Service Representatives grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:
@carrier_service_representative_carrier_id - Key to carrier_service_representative_carrier table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_carrier_service_representative_carrier_delete]
(
@carrier_service_representative_carrier_id   int = NULL
-- ,@carrier_id                                 int = NULL
-- ,@carrier_service_representative_id          int = NULL
-- ,@service_type_id                            int = NULL
-- ,@effective_from                             datetime = NULL
-- ,@effective_thru                             datetime = NULL
-- ,@comment                                    nvarchar(300) = NULL
-- ,@active                                     bit = NULL
-- ,@created_user_name                          nvarchar(128) = NULL
-- ,@created_group_id                           int = NULL
-- ,@created_date                               datetime = NULL
-- ,@modified_date                              datetime = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM carrier_service_representative_carrier WHERE carrier_service_representative_carrier_id = @carrier_service_representative_carrier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--


--
--  END
--
DELETE FROM carrier_service_representative_carrier
WHERE carrier_service_representative_carrier_id = @carrier_service_representative_carrier_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
