USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_pred_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/18/2011	CKnobloch		1.1		 Addeded Extra Variables for Duplicate Fields
07/30/2013	eponomareff		1.1		replaced place of service checkboxes with combobox
to be like Dental Claim
01/22/2014	AMortensen		1.2		Commented out Benefit Plan UD, as the form does not
use this field, and is causing a naming conflict
issue with the Benefit Plan ID drop down added
by the Base Supp Project #22880
06/23/2014	eponomareff		1.3		RT:6737 replace place_of_treatment_id
with place_of_service_id
09/19/2014	dcannon			1.5			RT:7004 member address restructure
02/18/2015  amortensen      1.6     RT:7538 Original Date Received
04/23/2015  Amortensen      1.7     RT:8091 - Updated Received Date to load date without time
03/01/2016  jbernard	    1.4		Added code to update the missing info status.
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_claim_pred_load] (@claim_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
-- querying providers
DECLARE @rendering_provider_id INT
,@rendering_provider_specialty_type_id INT
,@rendering_provider_identifier_id INT
,@rendering_provider_additional_ud NVARCHAR(50)
,@billing_provider_id INT
,@billing_provider_specialty_type_id INT
,@billing_provider_identifier_id INT
,@billing_provider_additional_ud NVARCHAR(50)

SELECT @rendering_provider_id = provider_id
,@rendering_provider_specialty_type_id = provider_specialty_type_id
,@rendering_provider_identifier_id = provider_identifier_id
,@rendering_provider_additional_ud = rendering_provider_additional_ud
,@billing_provider_id = billing_provider_id
,@billing_provider_specialty_type_id = billing_provider_specialty_type_id
,@billing_provider_identifier_id = billing_provider_identifier_id
,@billing_provider_additional_ud = billing_provider_additional_ud
FROM claim
WHERE claim_id = @claim_id

DECLARE @rendering_provider_ud NVARCHAR(50)
,@rendering_provider_name NVARCHAR(300)
,@rendering_provider_address NVARCHAR(300)
,@rendering_provider_npi NVARCHAR(50)
,@rendering_provider_specialty_type_ud NVARCHAR(50)
,@billing_provider_ud NVARCHAR(50)
,@billing_provider_name NVARCHAR(300)
,@billing_provider_address NVARCHAR(300)
,@billing_provider_npi NVARCHAR(50)
,@billing_provider_specialty_type_ud NVARCHAR(50)

SELECT @rendering_provider_ud = provider_identifier.provider_ud
,@rendering_provider_name = dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, NULL)
,@rendering_provider_address = dbo.plx_ConcatenateAddress(address.address_1, address.address_2, address.delivery_route, locale.locale_id)
,@rendering_provider_npi = npi.provider_ud
,@rendering_provider_specialty_type_ud = provider_specialty_type.provider_specialty_type_ud
FROM provider
LEFT JOIN provider_identifier
ON provider.provider_id = provider_identifier.provider_id
AND provider_identifier.provider_identifier_id = @rendering_provider_identifier_id
LEFT JOIN provider_name
ON provider.provider_id = provider_name.provider_id
LEFT JOIN provider_address
ON (
provider.provider_id = provider_address.provider_id
AND provider_identifier.provider_identifier_id = provider_address.provider_identifier_id
)
LEFT JOIN address
ON provider_address.address_id = address.address_id
LEFT JOIN locale
ON address.locale_id = locale.locale_id
LEFT JOIN (
SELECT provider_identifier.provider_id
,provider_identifier.provider_ud
FROM provider_identifier
LEFT JOIN provider_identifier_type
ON provider_identifier.provider_identifier_type_id = provider_identifier_type.provider_identifier_type_id
WHERE provider_identifier_type.golden_key = 'NPI'
) npi
ON npi.provider_id = provider.provider_id
LEFT JOIN provider_specialty_type
ON provider_specialty_type.provider_specialty_type_id = @rendering_provider_specialty_type_id
WHERE provider.provider_id = @rendering_provider_id

SELECT @billing_provider_ud = provider_identifier.provider_ud
,@billing_provider_name = dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, NULL)
,@billing_provider_address = dbo.plx_ConcatenateAddress(address.address_1, address.address_2, address.delivery_route, locale.locale_id)
,@billing_provider_npi = npi.provider_ud
,@billing_provider_specialty_type_ud = provider_specialty_type.provider_specialty_type_ud
FROM provider
LEFT JOIN provider_identifier
ON provider.provider_id = provider_identifier.provider_id
AND provider_identifier.provider_identifier_id = @billing_provider_identifier_id
LEFT JOIN provider_name
ON provider.provider_id = provider_name.provider_id
LEFT JOIN provider_address
ON (
provider.provider_id = provider_address.provider_id
AND provider_identifier.provider_identifier_id = provider_address.provider_identifier_id
)
LEFT JOIN address
ON provider_address.address_id = address.address_id
LEFT JOIN locale
ON address.locale_id = locale.locale_id
LEFT JOIN (
SELECT provider_identifier.provider_id
,provider_identifier.provider_ud
FROM provider_identifier
LEFT JOIN provider_identifier_type
ON provider_identifier.provider_identifier_type_id = provider_identifier_type.provider_identifier_type_id
WHERE provider_identifier_type.golden_key = 'NPI'
) npi
ON npi.provider_id = provider.provider_id
LEFT JOIN provider_specialty_type
ON provider_specialty_type.provider_specialty_type_id = @billing_provider_specialty_type_id
WHERE provider.provider_id = @billing_provider_id

-- querying claim
SELECT
-- Part 1
claim.claim_id
,claim.claim_ud
,dental_claim.dental_claim_id
,dental_claim.dental_claim_type_id
,claim.adjudication_status_id AS claim_status_id
,CASE
WHEN ISNULL(adjudication_status.golden_key, '') = 'Approved'
OR ISNULL(adjudication_status.golden_key, '') = 'Denied'
THEN 'Pre-D'
ELSE adjudication_status.adjudication_status_ud
END AS claim_status_ud
,CASE
WHEN claim.adjudication_status_id IS NULL
THEN 1
WHEN ISNULL(adjudication_status.golden_key, '') = 'OPEN'
THEN 1
WHEN ISNULL(adjudication_status.golden_key, '') = 'MISSING_INFO'
THEN 1
ELSE 0
END adjudication_button
,dbo.claim_result_code_combination(claim.claim_id) AS claim_result_codes
,benefit_contract.benefit_contract_id
,benefit_contract.benefit_contract_ud
,DATEADD(d, 0, DATEDIFF(d, 0, claim.received_date)) AS received_date
,dbo.plx_fn_get_date_of_adjudication_run(@claim_id) AS adjudication_date
,dental_claim.epsdt
,dental_claim.replacement_of_prothesis
,dental_claim.date_of_prior_placement
,dental_claim.treatment_of_orthodontics
,claim.family_eligibility_member_benefit_plan_id AS member_eligibility_id
,claim.family_eligibility_member_benefit_plan_id AS patient_eligibility_id
,family_eligibility_member_benefit_plan.member_eligibility_ud AS patient_eligibility_ud
,claim.use_eligibility_entered
,@rendering_provider_id AS rendering_provider_id
,@rendering_provider_ud AS rendering_provider_ud
,@rendering_provider_ud AS rendering_provider_ud2
,@rendering_provider_name AS rendering_provider_name
,claim.practice_office_id
,practice_office.practice_office_ud
,practice_office.practice_office_nm
,claim.vendor_id
,vendor.vendor_ud AS vendor_ud
,vendor.vendor_ud AS vendor_ud2
,vendor.vendor_nm AS vendor_name
,@billing_provider_id AS billing_provider_id
,@billing_provider_ud AS billing_provider_ud
,@billing_provider_ud AS billing_provider_ud2
,@billing_provider_name AS billing_provider_name
,dental_claim.other_coverage
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'BILLED'), 0) AS total_billed
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'NETPAYAMOUNT'), 0) AS total_amount
-- Part 2
,relationship_to_insured.relationship_to_insured_ud AS rel_to_primary
,member.birth_date AS patient_dob
,member.gender_id AS patient_gender_id
,dental_claim.patient_account_number
,dental_claim.treatment_due_to_occupational_illness AS treatment_due_to_auto_employment
,dental_claim.treatment_due_to_auto_accident
,dental_claim.treatment_due_to_other
,dental_claim.date_of_accident
,dental_claim.state_id AS accident_state_id
,STATE.state_ud AS accident_state_ud
,dental_claim.place_of_service_id
,place_of_service.place_of_service_ud
,dental_claim.date_appliance_placed
,dental_claim.months_of_treatment_remaining
,dental_claim.remarks
,claim.patient_guardian_signature_on_file
,claim.patient_guardian_signature_on_file_date
,claim.subscriber_signature_on_file_id
,claim.subscriber_signature_on_file_date
,claim.provider_signature_on_file
,claim.provider_signature_on_file_date
,claim.vendor_additional_ud
,@rendering_provider_identifier_id AS rendering_provider_identifier_id
,@rendering_provider_address AS rendering_provider_address
,@rendering_provider_npi AS rendering_provider_npi
,@rendering_provider_specialty_type_id AS rendering_provider_specialty_type_id
,@rendering_provider_specialty_type_ud AS rendering_provider_specialty_type_ud
,claim.rendering_provider_additional_ud
,claim.rendering_provider_taxonomy_code
,@billing_provider_identifier_id AS billing_provider_identifier_id
,@billing_provider_address AS billing_provider_address
,@billing_provider_npi AS billing_provider_npi
,@billing_provider_specialty_type_id AS billing_provider_specialty_type_id
,@billing_provider_specialty_type_ud AS billing_provider_specialty_type_ud
,claim.billing_provider_additional_ud
,claim.billing_provider_taxonomy_code
--Advanced Info
,claim.display_currency_id
,display_currency.display_currency_ud
,display_currency.display_currency_nm
,claim.ppo_claim_number
,claim.repriced_network
,claim.user_credential
,claim.paper_claim
-- Claim Dates
,CONVERT(DATE, claim.created_date) AS claim_created_date
,DATEADD(d, 0, DATEDIFF(d, 0, claim.received_date)) AS claim_received_date
,DATEADD(d, 0, DATEDIFF(d, 0, claim_additional_date.date_stamp)) AS received_inhouse
--COB
--,benefit_plan.benefit_plan_ud --commenting out non-functional field for naming conflict with Benefit Plan ID dropdown added as part of Base Supp
,benefit_plan.benefit_plan_nm
,benefit_category.benefit_category_ud
,dental_claim.modified_date
,member.member_id
,claim.claim_form_type_id
,orig_source.original_source_ud
,orig_source.golden_key as original_source_gk
FROM dental_claim
LEFT JOIN [state]
ON STATE.state_id = dental_claim.state_id
LEFT JOIN claim
ON claim.claim_id = dental_claim.claim_id
LEFT JOIN adjudication_status
ON adjudication_status.adjudication_status_id = claim.adjudication_status_id
LEFT JOIN episode
ON episode.episode_id = claim.episode_id
LEFT JOIN family_eligibility_member_benefit_plan
ON family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = claim.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member
ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN relationship_to_insured
ON family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
LEFT JOIN member
ON member.member_id = family_eligibility_member.member_id
LEFT JOIN member_name
ON member_name.member_id = member.member_id
LEFT JOIN family_eligibility
ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN benefit_contract
ON family_eligibility.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN benefit_plan
ON family_eligibility_member_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN benefit_framework
ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
LEFT JOIN benefit_category
ON benefit_framework.benefit_category_id = benefit_category.benefit_category_id
LEFT JOIN member_address
ON member.member_id = member_address.member_id
LEFT JOIN vendor
ON vendor.vendor_id = claim.vendor_id
LEFT JOIN practice_office
ON practice_office.practice_office_id = claim.practice_office_id
LEFT JOIN dental_claim_type
ON dental_claim_type.dental_claim_type_id = dental_claim.dental_claim_type_id
LEFT JOIN display_currency
ON display_currency.display_currency_id = claim.display_currency_id
LEFT JOIN place_of_service
ON dental_claim.place_of_service_id = place_of_service.place_of_service_id
LEFT JOIN original_source orig_source
ON claim.original_source_gk = orig_source.golden_key
LEFT JOIN (
SELECT claim_id
,date_stamp
FROM claim_additional_date cad
INNER JOIN claim_additional_date_type cadt
ON cad.claim_additional_date_type_id = cadt.claim_additional_date_type_id
WHERE cadt.golden_key = 'RECEIVED_INHOUSE'
) AS claim_additional_date
ON claim.claim_id = claim_additional_date.claim_id
WHERE dental_claim.claim_id = @claim_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
