USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to load criteria

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_load]
(
@criteria_id INT = NULL
)

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
criteria.criteria_id
,criteria.criteria_ud
,criteria.description
,criteria_processing_category_id as criteria_category_id
,criteria_functional_area_id as criteria_functional_area_id
FROM criteria
WHERE criteria_id = @criteria_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
