USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_past_due_penalty_rate_assignment_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- 08/18/2014 - RT:6046 Updated created/modified tombstone columns

CREATE PROCEDURE [dbo].[plx_customer_past_due_penalty_rate_assignment_save]
(
@customer_past_due_penalty_rate_assignment_id            int = NULL   OUTPUT
,@customer_id								 int = NULL
,@past_due_penalty_rate_id                   int = NULL
,@effective_from							DATETIME = NULL
,@effective_thru							DATETIME = NULL
,@active                                     bit = 1
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @customer_past_due_penalty_rate_assignment_id is Null
BEGIN

--- Create a new past_due_penalty_rate_detail record
INSERT INTO dbo.customer_past_due_penalty_rate_assignment(
customer_id
,past_due_penalty_rate_id
,effective_from
,effective_thru
,active
)
VALUES
(@customer_id
,@past_due_penalty_rate_id
,@effective_from
,@effective_thru
,1
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @customer_past_due_penalty_rate_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.customer_past_due_penalty_rate_assignment WHERE customer_past_due_penalty_rate_assignment_id = @customer_past_due_penalty_rate_assignment_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing customer_past_due_penalty_rate_assignment record
UPDATE dbo.customer_past_due_penalty_rate_assignment
SET
customer_id                 = @customer_id
,past_due_penalty_rate_id                 = @past_due_penalty_rate_id
,effective_from                      = @effective_from
,effective_thru                        = @effective_thru
,active                                   = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE customer_past_due_penalty_rate_assignment_id = @customer_past_due_penalty_rate_assignment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
