USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_premium_rate_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 02/10/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/10/2009	David Slayton	1.0			Created
10/31/2012  eponomareff     2.0         Add employee class id to grid, to drive to rate
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 2.0
--
DESCRIPTION: Save data for grid grdPremiumRateAssignment on form frmBenefitContract.

--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_premium_rate_id
@benefit_contract_period_benefit_plan_id
@employee_class_id
@premium_rate_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_premium_rate_save]
(
@benefit_contract_period_benefit_plan_premium_rate_id	INT = 0   OUTPUT
,@benefit_contract_period_benefit_plan_id	INT = 0
,@premium_calculation_rule_id				INT = NULL
,@employee_class_id							INT = NULL
,@premium_rate_id							INT = NULL
,@effective_from							DATETIME = NULL
,@effective_thru							DATETIME = NULL
,@active									BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_CANT_UPDATE 	= '159840013'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--
IF ISNULL(@benefit_contract_period_benefit_plan_premium_rate_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan_premium_rate(
benefit_contract_period_benefit_plan_id
,premium_rate_id
,premium_calculation_rule_id
,employee_class_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@premium_rate_id
,@premium_calculation_rule_id
,@employee_class_id
,@effective_from
,@effective_thru
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_contract_period_benefit_plan_premium_rate_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_premium_rate WHERE benefit_contract_period_benefit_plan_premium_rate_id = @benefit_contract_period_benefit_plan_premium_rate_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan_premium_rate
SET
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
,premium_rate_id                         = @premium_rate_id
,premium_calculation_rule_id             = @premium_calculation_rule_id
,employee_class_id                       = @employee_class_id
,effective_from                          = @effective_from
,effective_thru                          = @effective_thru
,active                                  = @active
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()

WHERE benefit_contract_period_benefit_plan_premium_rate_id = @benefit_contract_period_benefit_plan_premium_rate_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
