USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/21/2012  CKnobloch	1.0		    Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to save data for grid "Add-On Procedure Code Detail" in frmAddOnProcedureCodeSchedule.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_detail_save]
(
@procedure_code_add_on_schedule_id			 INT = NULL

,@procedure_code_add_on_id				 	 INT = NULL OUTPUT
,@parent_procedure_code_id					 INT = NULL
,@add_on_procedure_code_id					 INT = NULL
,@result_code_id							 INT = NULL
,@imported_add_on							 BIT = NULL

,@active                                     BIT = NULL
,@effective_from                             DATETIME = NULL
,@effective_thru                             DATETIME = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @procedure_code_add_on_id IS NULL
BEGIN
--- Create a new record
INSERT INTO procedure_code_add_on(
--procedure_code_add_on_id
parent_procedure_code_id
,add_on_procedure_code_id
,procedure_code_add_on_schedule_id
,result_code_id
,imported_add_on
,active
,effective_from
,effective_thru
)
VALUES
(--@procedure_code_add_on_id
@parent_procedure_code_id
,@add_on_procedure_code_id
,@procedure_code_add_on_schedule_id
,@result_code_id
,@imported_add_on
,@active
,@effective_from
,@effective_thru
)
--
SET @procedure_code_add_on_id = @@IDENTITY

END
ELSE
IF NOT EXISTS (SELECT * FROM procedure_code_add_on
WHERE procedure_code_add_on_id = @procedure_code_add_on_id)

BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE procedure_code_add_on
SET
parent_procedure_code_id				  = @parent_procedure_code_id
,add_on_procedure_code_id				  = @add_on_procedure_code_id
,procedure_code_add_on_schedule_id		  = @procedure_code_add_on_schedule_id
,result_code_id							  = @result_code_id
,imported_add_on						  = @imported_add_on
,active                                   = @active
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE procedure_code_add_on_id = @procedure_code_add_on_id
END
--
RETURN @SP_SUCCESS
--
GO
