USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_queue_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for form frmClaimdisbursementQueue

--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disbursement_claim_payment_queue_save]
(
@disbursement_claim_payment_queue_id    INT = 0   OUTPUT
,@disbursement_claim_payment_queue_ud    NVARCHAR(50) = NULL
,@description           NVARCHAR(255) = NULL
,@schedule_form_id		INT = NULL
,@payment_method_payment_id INT = NULL
,@maximum_funding_amount NUMERIC(19,4) = NULL
,@disbursement_claim_payment_date_type_id INT = NULL
,@active                BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

DECLARE @user_disbursement_claim_payment_queue_type_id INT
SET @user_disbursement_claim_payment_queue_type_id =
(
SELECT
disbursement_claim_payment_queue_type_id
FROM
disbursement_claim_payment_queue_type
WHERE
golden_key = 'USER'
)


IF ISNULL(@disbursement_claim_payment_queue_id, 0) = 0
BEGIN
INSERT INTO disbursement_claim_payment_queue(
disbursement_claim_payment_queue_ud
,description
,schedule_form_id
,payment_method_payment_id
,maximum_funding_amount
,disbursement_claim_payment_date_type_id
,disbursement_claim_payment_queue_type_id
,active
)
VALUES
(
@disbursement_claim_payment_queue_ud
,@description
,@schedule_form_id
,@payment_method_payment_id
,@maximum_funding_amount
,@disbursement_claim_payment_date_type_id
,@user_disbursement_claim_payment_queue_type_id
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @disbursement_claim_payment_queue_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM disbursement_claim_payment_queue WHERE disbursement_claim_payment_queue_id = @disbursement_claim_payment_queue_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE disbursement_claim_payment_queue
SET
disbursement_claim_payment_queue_ud		= @disbursement_claim_payment_queue_ud
,description				= @description
,schedule_form_id		= @schedule_form_id
,payment_method_payment_id = @payment_method_payment_id
,maximum_funding_amount = @maximum_funding_amount
,disbursement_claim_payment_date_type_id = @disbursement_claim_payment_date_type_id
,active                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE disbursement_claim_payment_queue_id = @disbursement_claim_payment_queue_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
