USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_service_representative_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	Tinh Do				Add alias service_type_id
01/17/2006	tinhdo		1.1		Add load default value from Client
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Assigned Service Representatives grid on Group form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_client_group_service_representative_list_load]
(
@client_group_id		INT =NULL
,@client_id				INT =NULL
)
AS
--
--
SET NOCOUNT ON
--
IF 	ISNULL(@client_group_id,0) > 0
BEGIN
SELECT
cgsr.client_group_service_representative_id
,cgsr.service_representative_type_id as service_type_id
,service_type.service_type_ud

,cgsr.service_representative_client_group_benefit_contract_id
,srcgbc.service_representative_client_group_benefit_contract_ud

,cgsr.effective_from
,cgsr.effective_thru
FROM	dbo.client_group_service_representative cgsr
LEFT JOIN dbo.service_representative_client_group_benefit_contract srcgbc
ON srcgbc.service_representative_client_group_benefit_contract_id = cgsr.service_representative_client_group_benefit_contract_id
LEFT JOIN dbo.service_type
ON service_type.service_type_id = cgsr.service_representative_type_id
WHERE	cgsr.client_group_id = @client_group_id
ORDER BY
CASE WHEN cgsr.effective_from IS NULL THEN 0 ELSE 1 END , cgsr.effective_from DESC
,CASE WHEN cgsr.effective_thru IS NULL THEN 0 ELSE 1 END , cgsr.effective_thru DESC
END


ELSE ----Default value from Client
BEGIN
SELECT
client_service_representative.client_service_representative_id

,client_service_representative.service_representative_type_id as service_type_id

,service_type.service_type_ud
,client_service_representative.service_representative_client_group_benefit_contract_id
,service_representative_client_group_benefit_contract.service_representative_client_group_benefit_contract_ud

,client_service_representative.effective_from
,client_service_representative.effective_thru
,cast(0 as int) as template

FROM client_service_representative
left join service_type  ON service_type.service_type_id = client_service_representative.service_representative_type_id
left join service_representative_client_group_benefit_contract  ON service_representative_client_group_benefit_contract.service_representative_client_group_benefit_contract_id = client_service_representative.service_representative_client_group_benefit_contract_id

WHERE client_service_representative.client_id = @client_id
ORDER BY
CASE WHEN client_service_representative.effective_from IS NULL THEN 0 ELSE 1 END , client_service_representative.effective_from DESC
,CASE WHEN client_service_representative.effective_thru IS NULL THEN 0 ELSE 1 END , client_service_representative.effective_thru DESC
END

--
GO
