USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
DATE: 09/09/2005
--
REVISION_HISTORY:
--
Date      Modified By      Version      Description
--------------------------------------------------------------------------------
9/9/2005	mttran			1.0			Created
02/06/2006	ThuyHa			1.1			Change parameter @created_user_name nvarchar(256) --> nvarchar(128)
2006/03/08	Thuy Ha			1.2			created_date and modified_date using DB Server date
02/20/2008	David Slayton   1.3			Added accumulator_framework_accumulator_class_accumulator.description
episode_type, and episode_category columns, removed ineligible_amount
and net_pay columns.
12/16/2008	Jeremy Hein		1.4			Added apply and limit
04/09/2009	Isaac Overacker	1.5			Added per_tooth and per_area_of_oral_cavity columns.
07/01/2009	Isaac Overacker	1.6			Added member_expense column.
10/13/2010	Chad Maddox		1.7			Added per_tooth_surface columns
04/25/2012	Kyle Maher		1.8			Added support for result_code_message
05/24/2012	CKnobloch		1.9			Added same_provider column
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.9
--
DESCRIPTION:
Save an accumulator under accumulator framework \ accumulator class node in Accumulator
Framework form.

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0   Success
-1   Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_accumulator_save]
(
@accumulator_framework_accumulator_class_accumulator_id int = NULL OUTPUT
,@accumulator_framework_accumulator_class_accumulator_ud nvarchar(50) = NULL
,@description                                            nvarchar(255) = NULL
,@accumulator_result_code_message						 nvarchar(255) = NULL
,@accumulator_framework_accumulator_class_id             int = NULL
,@accumulator_id                                         int = NULL
,@min_number_individuals_before_family_met               int = NULL
,@deductible                                             bit = NULL
,@coinsurance                                            bit = NULL
,@copayment                                              bit = NULL
,@member_expense                                         bit = NULL
,@apply                                                  bit = NULL
,@limit                                                  bit = NULL
,@per_tooth                                              bit = NULL
,@per_tooth_surface                                      bit = NULL
,@per_area_of_oral_cavity                                bit = NULL
,@print_on_EOB                                           bit = NULL
,@print_on_EOP                                           bit = NULL
,@limit_contracted                                       bit = NULL
,@supplemental_max_extends_limit                         bit = NULL
,@same_provider											 bit = NULL
,@episode_category_id                                    int = NULL
,@episode_type_id                                        int = NULL
,@base_accumulator_framework_accumulator_class_accumulator_id int = NULL
,@active                                                 bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS					INT
,@SP_EXCEPTION				INT
,@accumulator_class_ud		NVARCHAR(50)
,@ERROR_INSERT_FAILS		NVARCHAR(50)
,@ERROR_UPDATE_FAILS		NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST		NVARCHAR(50)
,@ERROR_CANT_UPDATE			NVARCHAR(50)
,@ERROR_RECORD_LOCKED		NVARCHAR(50)

SELECT
@SP_SUCCESS				    = 0
,@SP_EXCEPTION			    = -1
,@ERROR_INSERT_FAILS		= 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS		= 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST		= 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED		= 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE			= '105280010'

--
SELECT @accumulator_class_ud = accumulator_class.accumulator_class_ud
FROM accumulator_framework_accumulator_class afac
INNER JOIN accumulator_class
ON accumulator_class.accumulator_class_id = afac.accumulator_class_id
WHERE   afac.accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id

IF ISNULL(@accumulator_framework_accumulator_class_accumulator_id, 0) <= 0
BEGIN

IF ISNULL(@accumulator_framework_accumulator_class_id, 0) > 0
BEGIN
--- Create a new record
INSERT INTO accumulator_framework_accumulator_class_accumulator(
accumulator_framework_accumulator_class_accumulator_ud
,description
,result_code_message
,accumulator_framework_accumulator_class_id
,accumulator_id
,min_number_individuals_before_family_met
,deductible
,coinsurance
,copayment
,member_expense
,apply
,limit
,per_tooth
,per_tooth_surface
,per_area_of_oral_cavity
,print_on_EOB
,print_on_EOP
,limit_contracted
,supplemental_max_extends_limit
,same_provider
,episode_category_id
,episode_type_id
,base_accumulator_framework_accumulator_class_accumulator_id
,active
)
VALUES
(@accumulator_framework_accumulator_class_accumulator_ud
,@description
,@accumulator_result_code_message
,@accumulator_framework_accumulator_class_id
,@accumulator_id
,@min_number_individuals_before_family_met
,@deductible
,@coinsurance
,@copayment
,@member_expense
,@apply
,@limit
,@per_tooth
,@per_tooth_surface
,@per_area_of_oral_cavity
,@print_on_EOB
,@print_on_EOP
,@limit_contracted
,@supplemental_max_extends_limit
,@same_provider
,@episode_category_id
,@episode_type_id
,@base_accumulator_framework_accumulator_class_accumulator_id
,@active
)
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @accumulator_framework_accumulator_class_accumulator_id = @@IDENTITY

END

END

ELSE IF NOT EXISTS (SELECT * FROM accumulator_framework_accumulator_class_accumulator WHERE accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

IF  ISNULL(@accumulator_framework_accumulator_class_id, 0) > 0  -- HungTNguyen added to fxed bug. Please don't remove it
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE accumulator_framework_accumulator_class_accumulator
SET
accumulator_framework_accumulator_class_accumulator_ud     = @accumulator_framework_accumulator_class_accumulator_ud
,description                                                = @description
,result_code_message										= @accumulator_result_code_message
,accumulator_id                                             = @accumulator_id
,min_number_individuals_before_family_met                   = @min_number_individuals_before_family_met
,deductible                                                 = @deductible
,coinsurance                                                = @coinsurance
,copayment                                                  = @copayment
,member_expense                                             = @member_expense
,apply                                                      = @apply
,limit                                                      = @limit
,per_tooth                                                  = @per_tooth
,per_tooth_surface                                          = @per_tooth_surface
,per_area_of_oral_cavity                                    = @per_area_of_oral_cavity
,print_on_EOB                                               = @print_on_EOB
,print_on_EOP                                               = @print_on_EOP
,limit_contracted                                           = @limit_contracted
,supplemental_max_extends_limit								= @supplemental_max_extends_limit
,same_provider												= @same_provider
,episode_category_id                                        = @episode_category_id
,episode_type_id                                            = @episode_type_id
,base_accumulator_framework_accumulator_class_accumulator_id = @base_accumulator_framework_accumulator_class_accumulator_id
,active                                                     = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
END
--

RETURN @SP_SUCCESS
--
GO
