USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 31 2006 11:06AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/04/2005      HungTNguyen         1.1 added field use_savings_bank
08/18/2014      RT:6046             Updated created/modified tombstone columns
10/27/2014      Jeffrey Bernard     RT:7345 Made changes to support concurrency checking
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for frmMemberCOB form.
This procedure is used to save data for form "MemberCOB"
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_cob_member_save] (
@cob_member_id INT = NULL OUTPUT
,@member_id INT = NULL
,@require_cob_information BIT = NULL
,@cob_information_last_update_date DATETIME = NULL
,@esrd BIT = NULL
,@esrd_effective_from DATETIME = NULL
,@esrd_effective_thru DATETIME = NULL
,@has_black_lung BIT = NULL
,@black_lung_effective_from DATETIME = NULL
,@black_lung_effective_thru DATETIME = NULL
,@kidney_transplant BIT = NULL
,@kidney_transplant_date DATETIME = NULL
,@disabled BIT = NULL
,@disabled_effective_from DATETIME = NULL
,@disabled_effective_thru DATETIME = NULL
,@use_savings_bank BIT = NULL
,@object_row_version ROWVERSION = NULL OUTPUT
,@active BIT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON;

--
--DECLARE @SP_SUCCESS INT
--	,@SP_EXCEPTION INT
--	,@ERROR_CANT_INSERT NVARCHAR(50)
--	,@ERROR_NOT_EXIST NVARCHAR(50)
--	,@ERROR_RECORD_LOCKED NVARCHAR(50)
--	,@ERROR_CANT_UPDATE NVARCHAR(50);
--SELECT @SP_SUCCESS = 0
--	,@SP_EXCEPTION = - 1
--	,@ERROR_CANT_INSERT = ''
--	,@ERROR_NOT_EXIST = ''
--	,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--	,@ERROR_CANT_UPDATE = '';
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT;

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@ERROR_CANT_INSERT = ''
,@ERROR_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = ''
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3;

DECLARE @ErrorVar INT
,@RowCountVar INT;
DECLARE @capture_row_version TABLE ([new_row_version] BINARY (8));

--update member first
IF NOT @member_id IS NULL
AND @member_id > 0
BEGIN
-- RT:7065 Optimistic Concurrency check
DECLARE @row_version_check_result INT

EXEC @row_version_check_result = dbo.plx_member_check_and_rev_row_version @member_id
,@object_row_version

IF @row_version_check_result <> 0
BEGIN
IF @row_version_check_result = @SP_EXCEPTION
RETURN @SP_EXCEPTION

IF @row_version_check_result = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @row_version_check_result = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

UPDATE [member]
SET [use_savings_bank] = @use_savings_bank
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
OUTPUT [INSERTED].[object_row_version]
INTO @capture_row_version
WHERE [member_id] = @member_id;

SET @object_row_version = (
SELECT [new_row_version]
FROM @capture_row_version
);

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_UPDATE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
END;
END;

IF @cob_member_id IS NULL
BEGIN
--- Create a new record
INSERT INTO [cob_member] (
[member_id]
,[require_cob_information]
,[cob_information_last_update_date]
,[esrd]
,[esrd_effective_from]
,[esrd_effective_thru]
,[has_black_lung]
,[black_lung_effective_from]
,[black_lung_effective_thru]
,[kidney_transplant]
,[kidney_transplant_date]
,[disabled]
,[disabled_effective_from]
,[disabled_effective_thru]
,[active]
)
VALUES (
@member_id
,@require_cob_information
,@cob_information_last_update_date
,@esrd
,@esrd_effective_from
,@esrd_effective_thru
,@has_black_lung
,@black_lung_effective_from
,@black_lung_effective_thru
,@kidney_transplant
,@kidney_transplant_date
,@disabled
,@disabled_effective_from
,@disabled_effective_thru
,@active
);

--
SET @cob_member_id = @@IDENTITY;
END;
ELSE
BEGIN
IF NOT EXISTS (
SELECT *
FROM [cob_member]
WHERE [cob_member_id] = @cob_member_id
)
BEGIN
RETURN @SP_EXCEPTION;
END
--
;
ELSE
BEGIN
--- Updating an existing record
--DECLARE @ErrorVar INT
--	,@RowCountVar INT;
UPDATE [cob_member]
SET [member_id] = @member_id
,[require_cob_information] = @require_cob_information
,[cob_information_last_update_date] = @cob_information_last_update_date
,[esrd] = @esrd
,[esrd_effective_from] = @esrd_effective_from
,[esrd_effective_thru] = @esrd_effective_thru
,[has_black_lung] = @has_black_lung
,[black_lung_effective_from] = @black_lung_effective_from
,[black_lung_effective_thru] = @black_lung_effective_thru
,[kidney_transplant] = @kidney_transplant
,[kidney_transplant_date] = @kidney_transplant_date
,[disabled] = @disabled
,[disabled_effective_from] = @disabled_effective_from
,[disabled_effective_thru] = @disabled_effective_thru
,[active] = @active
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
WHERE [cob_member_id] = @cob_member_id;

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_UPDATE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
END;
--
END;;
END;

--
RETURN @SP_SUCCESS;
--
END;
GO
