USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_get_batch_supplemental]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_payment_process_get_batch_supplemental] (
@fromId INT,
@toId INT
) AS

DECLARE @yesNoId_YES INT;
SET @yesNoId_YES = (SELECT yes_no_id FROM yes_no WHERE golden_key = 'yes');
DECLARE @TRUE BIT = 1;
DECLARE @FALSE BIT = 0;

SELECT
wt.claim_payment_processing_work_table_id,
c.claim_id,
c.clean_date as 'claim_clean_date',
cp.claim_procedure_id,
cp.adjudication_status_id as claim_procedure_adjudication_status_id,
cp.clean_date as 'procedure_clean_date',
cp.received_date as 'procedure_received_date',
ara.net_payment,
ara.indemnity_amount,
ara.first_coverage_distribution_amount as 'first_coverage_amount',
ara.contract_amount,
ara.savings_amount,
cg.client_id,
cg.client_group_id,
ark.benefit_plan_id,
ark.plan_iteration_index,
ark.vendor_id,
ark.member_vendor_id,
'is_reimburse_member' =
CASE
WHEN COALESCE(arko.reimburse_member_yes_no_id, ark.reimburse_member_yes_no_id) = @yesNoId_YES THEN @TRUE
ELSE @FALSE
END,
ISNULL(arko.provider_network_id, ark.provider_network_id) as 'network_id',
ISNULL(arko.network_level_id, ark.network_level_id) as 'network_level_id',
ark.practice_office_id,
ark.payment_contract_id,
ark.benefit_contract_id,
ark.provider_identifier_id,
bf.benefit_category_id,
bc.line_of_business_id,

-- For referential integrity checks, validated by the service.
v.vendor_id as 'ref_vendor_id',
v_member.vendor_id as 'ref_member_vendor_id',
bp.benefit_plan_id as 'ref_benefit_plan_id'

FROM claim c
JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
JOIN claim_payment_processing_work_table wt
ON wt.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_amount_override arao
ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id
LEFT JOIN adjudication_result_key ark
ON ark.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_key_override arko
ON arko.adjudication_result_key_id = ark.adjudication_result_key_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = ark.benefit_contract_id
LEFT JOIN client_group cg
ON cg.client_group_id = bc.client_group_id
LEFT JOIN benefit_framework bf
ON bf.benefit_framework_id = ark.benefit_framework_id

-- The following joins have been added to guarantee referential integrity.  The service will flag any records
-- that have an incoming id for these objects that do not have existing records.
--
-- claim_procedure_id and claim_id are not explicity validated because the the work table is filled by inner
-- joining that data (it won't be here if it doesn't exist).
--
-- The objects below are sourced from the vertical adjudication storage which does not have foreign keys to
-- guarantee it remains valid.
LEFT JOIN vendor v
ON v.vendor_id = ark.vendor_id
LEFT JOIN vendor v_member
ON v_member.vendor_id = ark.member_vendor_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = ark.benefit_plan_id

WHERE
wt.claim_payment_processing_work_table_id BETWEEN @fromId AND @toId
-- Only include supp plans.
AND ara.plan_iteration_index = 2
AND ark.plan_iteration_index = 2;
GO
