USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_claim_payment_disbursement_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 09/24/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/24/2008	Jeremy Hein 	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid gridDPCPAccountAssignments on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_claim_payment_disbursement_load]
(
@criteria_id				INT = NULL
,@vendor_id  				INT = NULL
,@accounting_company_id 	INT = NULL
,@client_id 				INT = NULL
,@group_id 					INT = NULL
,@product_id				INT = NULL
,@benefit_contract_id 		INT = NULL
,@bank_account_id 			INT = NULL
,@show_only_current_dp		bit = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT  DISTINCT
aacpd.account_assignment_claim_payment_disbursement_id
,aacpd.criteria_id
,c.criteria_ud
,aacpd.vendor_id
,v.vendor_ud
,aacpd.accounting_company_id
,ac.accounting_company_ud
,aacpd.client_id
,cn.client_ud
,aacpd.client_group_id
,cgn.client_group_ud
,aacpd.benefit_contract_id
,bc.benefit_contract_ud
,aacpd.bank_account_id
,ba.bank_account_ud
,aacpd.product_id
,p.product_ud
,aacpd.effective_from
,aacpd.effective_thru
,aacpd.modified_date
FROM dbo.account_assignment_claim_payment_disbursement aacpd
LEFT JOIN accounting_company ac ON aacpd.accounting_company_id = ac.accounting_company_id
LEFT JOIN client ON aacpd.client_id = client.client_id
LEFT JOIN client_name cn ON client.client_id = cn.client_id
LEFT JOIN client_group cg ON aacpd.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON aacpd.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON aacpd.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN product p ON aacpd.product_id = p.product_id
LEFT JOIN vendor v ON aacpd.vendor_id = v.vendor_id
LEFT JOIN criteria c ON aacpd.criteria_id = c.criteria_id
LEFT JOIN bank_account ba on aacpd.bank_account_id = ba.bank_account_id
WHERE 1 = 1
'

IF @criteria_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.criteria_id = ' + str(@criteria_id) + ')'

IF @vendor_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.vendor_id = ' + str(@vendor_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.accounting_company_id = ' + str(@accounting_company_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.client_id = ' + str(@client_id) + ')'

IF @group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.client_group_id = ' + str(@group_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.benefit_contract_id = ' + str(@benefit_contract_id) + ')'

IF @product_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.product_id = ' + str(@product_id) + ')'


IF @bank_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacpd.bank_account_id = ' + str(@bank_account_id) + ')'

IF (NOT @show_only_current_dp IS NULL) AND (@show_only_current_dp = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), aacpd.effective_from) <= 0 OR aacpd.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aacpd.effective_thru) >= 0 OR aacpd.effective_thru IS NULL)
'
END

--SET @strSQL = @strSQL + 'ORDER BY CASE WHEN aacpd.effective_from IS NULL THEN 0 ELSE 1 END ASC, aacpd.effective_from DESC,
--	 CASE WHEN aacpd.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aacpd.effective_thru DESC,
--		cn.client_ud'


SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
