USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_general_age_based_tab_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/30/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/18/2006	Hiep Nguyen 	1.1		Converted null value to 0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
1. Load data for pnlRelationshipRestrictions panel on Eligibility Restriction form
2. Load data for pnlBenefitCategory panel on Eligibility Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_general_age_based_tab_load]
(
@eligibility_restriction_relationship_to_subscriber_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
eligibility_restriction_relationship_to_subscriber_id
,eligibility_restriction_id

-- Required benefit category / sub category
,benefit_category_id
,benefit_sub_category_id
,benefit_result_code_id
,r1.result_code_ud benefit_result_code_ud
,r1.short_message benefit_category_result_code_message
,benefit_result_code_status_id

-- Benefit plan required
,ISNULL(benefit_plan_required, 0) as benefit_plan_required
,benefit_plan_required_result_code_id
,r2.short_message  benefit_plan_required_result_code_message
,r2.result_code_ud benefit_plan_required_result_code_ud
,benefit_plan_required_result_code_status_id

-- Relationship not eligible
,ISNULL(relationship_not_eligible, 0) as relationship_not_eligible
,relationship_not_eligible_result_code_id
,r3.short_message relationship_not_eligible_result_code_message
,r3.result_code_ud relationship_not_eligible_result_code_ud
,relationship_not_eligible_result_code_status_id

-- Subscriber required
,ISNULL(subscriber_required, 0) as subscriber_required
,subscriber_required_result_code_id
,r4.short_message subscriber_required_result_code_message
,r4.result_code_ud subscriber_required_result_code_ud
,subscriber_required_result_code_status_id

-- Member not eligible
,member_not_eligible_function
,member_not_eligible_result_code_id
,r6.short_message  member_not_eligibility_function_result_code_message
,r6.result_code_ud  member_not_eligibility_function_result_code_ud
,member_not_eligible_result_code_status_id

-- Minimum enrollment age
,minimum_enrollment_age_number_of_units
,minimum_enrollment_age_unit_day_week_month_year_id
,minimum_enrollment_age_result_code_id
,minimum_enrollment_age_result_code_status_id
,rMin.short_message minimum_enrollment_age_result_code_message
,rMin.result_code_ud minimum_enrollment_age_result_code_ud

-- Maximum enrollment age
,maximum_enrollment_age_number_of_units
,maximum_enrollment_age_unit_day_week_month_year_id
,maximum_enrollment_age_result_code_id
,rMax.short_message maximum_enrollment_age_result_code_message
,rMax.result_code_ud maximum_enrollment_age_result_code_ud
,maximum_enrollment_age_result_code_status_id

-- Age rule disability status set
,age_rule_disability_status_set_id as disability_status_set_id
,disability_status_set.disability_status_set_ud

FROM eligibility_restriction_relationship_to_subscriber
left join result_code  r1 ON r1.result_code_id = benefit_result_code_id
left join result_code  r2 ON r2.result_code_id = benefit_plan_required_result_code_id
left join result_code  r3 ON r3.result_code_id = relationship_not_eligible_result_code_id
left join result_code  r4 ON r4.result_code_id = subscriber_required_result_code_id
left join result_code  r6 ON r6.result_code_id = member_not_eligible_result_code_id

left join result_code  rMin ON rMin.result_code_id = minimum_enrollment_age_result_code_id
left join result_code  rMax ON rMax.result_code_id = maximum_enrollment_age_result_code_id
left join disability_status_set on  disability_status_set.disability_status_set_id=age_rule_disability_status_set_id

WHERE eligibility_restriction_relationship_to_subscriber.eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
