USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_component_set_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 01/04/2012
--
DESCRIPTION:
This procedure is used to load data for drop down list for Premium Rate Component Type
on grid in frmPremiumRateComponentSet form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_premium_rate_component_set_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
prcst.premium_rate_component_set_type_id
,prcst.premium_rate_component_set_type_ud
,prcst.golden_key

FROM premium_rate_component_set_type prcst
ORDER BY premium_rate_component_set_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
