USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Nov 23 2005  1:54PM   Initial generation
--
REVISION_HISTORY:
--
Date          Modified By     Version		Description
--------------------------------------------------------------------------------
12/05/2005     Hiep Nguyen      1.1           Created alias for effective_from, effective_through  Added golden_key
12/06/2005      Anh Ta              1.2           Use in Result code form
12/13/2005      Hiep Nguyen     1.3          Add result_code_type_ud and remove result_code_type_nm, effective_from, effective_thru

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down result_code_type (Result Code Type)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_result_code_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE @SP_SUCCESS int
SELECT  @SP_SUCCESS = 0

SELECT
rct.result_code_type_id
,rct.result_code_type_ud
,rct.description
,rct.golden_key
FROM   result_code_type rct
ORDER BY rct.result_code_type_ud ASC
--
RETURN @SP_SUCCESS
GO
