USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hien D Nguyen
Date: 01/14/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/14/2006	Hien D Nguyen	1.1			Add alias processing and checking if client_nm is NULL
11/14/2006	mai tran		1.2			remove transaction
09/17/2008	David Slayton	1.2			Removed accounting_company_first_segment_id column.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for client form
--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_save]
(
@client_id                         int = NULL OUTPUT
,@client_name_id				    int = NULL OUTPUT
,@client_ud                         nvarchar(100) = NULL
,@client_nm                         nvarchar(200) = NULL
,@client_acronym					nvarchar(25) = NULL
,@description                       nvarchar(510) = NULL
,@primary_name                      bit = 1
,@effective_from                    datetime = NULL
,@effective_thru                    datetime = NULL
,@termination_reason_id             int = NULL
,@country_id                        int = NULL
,@state_id                          int = NULL
,@incorporated_date                 datetime = NULL
,@accounting_company_id		        int=null
,@contractor_ud                     nvarchar(50) = NULL
,@contractor_nm                     nvarchar(100) = NULL
,@comment				            nvarchar(300)=null
,@claim_payment_grouping_rule_id    int
,@premium_payment_grouping_rule_id  int
,@insurer_tin_id                    int
,@employer_group_tin_id             int
,@active                            bit = NULL
) AS
--
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_CANT_INSERT 	='1'
,@ERROR_CANT_UPDATE 	='2'
,@ERROR_NOT_EXIST	='3'

DECLARE @alias_type_id INT

SELECT	@alias_type_id = alias_type_id
FROM	alias_type
WHERE	golden_key = 'COMPANY'

--
IF @client_id is Null
BEGIN
--- Create a new record
INSERT INTO client(
client_acronym
,effective_from
,effective_thru
,termination_reason_id
,incorporated_country_id
,incorporated_state_id
,incorporated_date
,accounting_company_id
,comment
,contractor_ud
,contractor_nm
,claim_payment_grouping_rule_id
,premium_payment_grouping_rule_id
,insurer_tin_id
,employer_group_tin_id
,active
)
VALUES
(@client_acronym
,@effective_from
,@effective_thru
,@termination_reason_id
,@country_id
,@state_id
,@incorporated_date
,@accounting_company_id
,@comment
,@contractor_ud
,@contractor_nm
,@claim_payment_grouping_rule_id
,@premium_payment_grouping_rule_id
,@insurer_tin_id
,@employer_group_tin_id
,@active
)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_id = @@IDENTITY

--client_name
IF @client_nm IS NOT NULL OR @client_ud IS NOT NULL OR @description IS NOT NULL
BEGIN
INSERT INTO client_name(
client_id
,client_ud
,client_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_id
,@client_ud
,@client_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_name_id = @@IDENTITY
END

END
ELSE IF NOT EXISTS (SELECT * FROM client WHERE client_id = @client_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
UPDATE client
SET
client_acronym						= @client_acronym
,effective_from                     = @effective_from
,effective_thru                     = @effective_thru
,termination_reason_id              = @termination_reason_id
,incorporated_country_id            = @country_id
,incorporated_state_id              = @state_id
,incorporated_date                  = @incorporated_date
,accounting_company_id              = @accounting_company_id
,comment				            = @comment
,claim_payment_grouping_rule_id     = @claim_payment_grouping_rule_id
,premium_payment_grouping_rule_id   = @premium_payment_grouping_rule_id
,insurer_tin_id                     = @insurer_tin_id
,employer_group_tin_id              = @employer_group_tin_id
,contractor_ud                      = @contractor_ud
,contractor_nm                      = @contractor_nm
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_id = @client_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--------------------------CLIENT NAME--------------------------------------------------------------------------
IF @client_name_id IS NULL
BEGIN
IF @client_nm IS NOT NULL OR @client_ud IS NOT NULL OR @description IS NOT NULL
BEGIN
INSERT INTO client_name(
client_id
,client_ud
,client_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_id
,@client_ud
,@client_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
SET @client_name_id = @@IDENTITY
END
END
ELSE
BEGIN
DECLARE @old_client_nm NVARCHAR(100)

SELECT	@old_client_nm = client_nm
FROM	dbo.client_name
WHERE	client_name_id =  @client_name_id

IF ISNULL(@old_client_nm,'') <> ISNULL(@client_nm,'') and @old_client_nm IS NOT NULL
BEGIN
UPDATE	client_name
SET
primary_name = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE	client_name_id = @client_name_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

INSERT INTO client_name(
client_id
,client_ud
,client_nm
,description
,alias_type_id
,primary_name
,active
)
VALUES
(@client_id
,@client_ud
,@client_nm
,@description
,@alias_type_id
,1
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

SET @client_name_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE	client_name
SET
client_ud	= @client_ud
,client_nm	= @client_nm
,description 		= @description
,active 			= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_name_id = @client_name_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
END
END
--
RETURN @SP_SUCCESS
GO
