USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_telephone_number_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        PROCEDURE [dbo].[plx_beneficiary_telephone_number_load]
(
@beneficiary_id			Int=null
)
AS
BEGIN

SET NOCOUNT ON

DECLARE     @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT
beneficiary_telephone_number.beneficiary_telephone_number_id
,CONVERT(BIT, ISNULL(beneficiary_telephone_number.primary_for_beneficiary,0)) AS primary_for_beneficiary
,beneficiary_telephone_number.telephone_number_id
,telephone_number.telephone_number_type_id
,telephone_number_type.telephone_number_type_ud
,telephone_number.telephone_number
,telephone_number.telephone_number_extension
,beneficiary_telephone_number.comment

FROM beneficiary
INNER JOIN beneficiary_telephone_number ON beneficiary.beneficiary_id = beneficiary_telephone_number.beneficiary_id
LEFT JOIN telephone_number  ON telephone_number.telephone_number_id = beneficiary_telephone_number.telephone_number_id
LEFT JOIN telephone_number_type  ON telephone_number_type.telephone_number_type_id = telephone_number.telephone_number_type_id

WHERE beneficiary_telephone_number.beneficiary_id = @beneficiary_id
ORDER BY primary_for_beneficiary DESC,
telephone_number_type.telephone_number_type_ud,
telephone_number.telephone_number

RETURN @SP_SUCCESS

END
GO
