USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_cascade_termination_header_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 08/13/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Load data for the Client Cascade Termination popup form, which is launched
from the Client Form "Cascade Term" button.

******************************/
CREATE      PROCEDURE [dbo].[plx_client_cascade_termination_header_load]
(
@client_id INT = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
c.client_id
,cn.client_ud
,c.effective_thru
,c.termination_reason_id
,tr.termination_reason_ud
,has_any_untermed_children =
CASE WHEN count(cg.client_group_id) > 0 THEN 1
ELSE 0
END
,count(cg.client_group_id) as untermed_child_records
FROM
client c
INNER JOIN client_name cn ON c.client_id = cn.client_id
LEFT JOIN termination_reason tr	ON c.termination_reason_id = tr.termination_reason_id
LEFT JOIN client_group cg ON cg.client_id = c.client_id
AND cg.effective_thru IS NULL
WHERE
c.client_id = @client_id
GROUP BY
c.client_id, cn.client_ud, c.effective_thru, c.termination_reason_id, tr.termination_reason_ud

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
RETURN @SP_SUCCESS
GO
