USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_anesthesia_calculation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
--
REVISION_HISTORY:

Date		Modified By		Version		Description
------------------------------------------------------------------------------------
02/22/12	dcannon			1.0			initial creation
------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load anesthesia calculation rule table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
Create PROCEDURE [dbo].[plx_dd_anesthesia_calculation_rule_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
anesthesia_calculation_rule_id,
anesthesia_calculation_rule_ud

FROM
anesthesia_calculation_rule

ORDER BY
anesthesia_calculation_rule_ud
--
RETURN @SP_SUCCESS
--
END
GO
