USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_student_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 26 2005 12:52PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down student_status (Student Status)
--
REQUIREMENTS:
--
INPUTS:
student_status_id - Key to student_status table, identifies a single stored dd_student_status.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_student_status_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
student_status.student_status_id
,student_status.student_status_ud
,student_status.description

FROM student_status
order by student_status_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
