USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_status_in_the_disability_set_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 10/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/05/2005		HungTNguyen  1.0     Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into Disability set grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disability_status_in_the_disability_set_list_load]
(
@disability_status_set_id		Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
disability_status_in_the_disability_set.disability_status_in_the_disability_set_id
,disability_status_in_the_disability_set.disability_status_id
,disability_status.disability_status_ud
,disability_status.description


,disability_status_in_the_disability_set.effective_from
,disability_status_in_the_disability_set.effective_thru


,disability_status_in_the_disability_set.active
,disability_status_in_the_disability_set.created_user_name
,disability_status_in_the_disability_set.created_group_id
,disability_status_in_the_disability_set.created_date
,disability_status_in_the_disability_set.modified_date
FROM disability_status_in_the_disability_set
left join disability_status  ON disability_status.disability_status_id = disability_status_in_the_disability_set.disability_status_id

WHERE disability_status_in_the_disability_set.disability_status_set_id = @disability_status_set_id

ORDER BY
CASE WHEN disability_status_in_the_disability_set.effective_from IS NULL THEN 0 ELSE 1 END , disability_status_in_the_disability_set.effective_from DESC
,CASE WHEN disability_status_in_the_disability_set.effective_thru IS NULL THEN 0 ELSE 1 END , disability_status_in_the_disability_set.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
