USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_attachment_transmission_source_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachment transmission sources drop downs.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_attachment_transmission_source_load]
AS
SELECT
cats.claim_attachment_transmission_source_id,
cats.claim_attachment_transmission_source_ud,
cats.description
FROM dbo.claim_attachment_transmission_source cats
ORDER BY cats.claim_attachment_transmission_source_ud
RETURN 0
GO
