USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_benefit_class_choice_list_resolution_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/05/2005	ThuyNgo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Benefit Class Choice Resolution"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_benefit_class_choice_list_resolution_delete]

(

@episode_benefit_class_choice_list_resolution_id int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM episode_benefit_class_choice_list_resolution WHERE episode_benefit_class_choice_list_resolution_id = @episode_benefit_class_choice_list_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM episode_benefit_class_choice_list_resolution
WHERE episode_benefit_class_choice_list_resolution_id = @episode_benefit_class_choice_list_resolution_id
END
--
RETURN @SP_SUCCESS
GO
