USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_product_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
07/10/2009   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2009	CCESSNUN	1.0			Created
09/04/2014  eponomareff             RT:6046 Data modification project

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the benefit_plan_product table.
This stored procedure is used in the product Assignments grid of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_product_id - Key to benefit_plan_product table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_product_delete]
(
@benefit_plan_product_id                    int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM benefit_plan_product WHERE benefit_plan_product_id = @benefit_plan_product_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--
DELETE FROM benefit_plan_product
WHERE benefit_plan_product_id = @benefit_plan_product_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
