USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_employee_class_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/11/2005				1.0		Created
09/13/2011	dcannon			1.1			Added Group ID to result to differentiate Employee Classes with same name across different groups (RT 1579)
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'current_status' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_employee_class_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
employee_class_id
,employee_class_ud
,client_group_name.client_group_ud as [Group ID]

FROM employee_class
LEFT JOIN client_group_name on employee_class.client_group_id = client_group_name.client_group_id
WHERE client_group_name.client_group_ud IS NOT NULL
ORDER BY employee_class_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
