USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
May 24 2005  3:33PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/21/2005 	Nghi Nguyen	1.0 		Use for ICU# 15888 Contacts
24/11/2005	Hien D Nguyen	1.1		Change left join  type of contact_type table to inner join type and read more clearly
02/15/2005  HuyThan                 Add requester
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:Identifies a single record based on the primary key and returns it

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_load] (@contact_id INT = NULL)
AS
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

SELECT contact.contact_id
,contact_name.contact_name_id
,contact_name.name_last
,contact_name.name_last AS company_name
,contact_name.name_first
,contact_name.name_middle
,contact_name.name_prefix_id
,name_prefix.name_prefix_ud
,contact_name.name_suffix
,contact.job_title
,contact_name.alias_type_id
,alias_type.alias_type_ud
,contact_name.comment
FROM contact
LEFT JOIN contact_name
ON contact_name.contact_id = contact.contact_id
LEFT JOIN name_prefix
ON name_prefix.name_prefix_id = contact_name.name_prefix_id
LEFT JOIN alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE contact.contact_id = @contact_id
AND contact_name.is_primary = 1

RETURN @SP_SUCCESS
END
GO
