USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_default_value_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
DATE: 10/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/19/2006  NamHo       1.0         Created
02/02/2016  AMortensen  1.1         RT:6926 - Fixed issue where Text was being
saved in the backend instead of ID for User Defined Topic Lists
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Used to get default value of a topic.
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_additional_information_topic_default_value_load]
(
@additional_information_topic_id			Int
)
AS
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ui_engine_data_type_id INT,
@default_value NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Get ID for User Defined Topic List GK
DECLARE
@user_defined_topic_list_gk_id INT
SELECT
@user_defined_topic_list_gk_id = ui_engine_data_type_id
FROM
additional_information_data_type
WHERE
golden_key = 'User Defined Topic List'

-- Get UI Engine Data Type ID for Additional Information Topic
SELECT
@ui_engine_data_type_id = ui_engine_data_type_id
FROM
additional_information_topic
LEFT JOIN additional_information_data_type
ON additional_information_data_type.additional_information_data_type_id = additional_information_topic.additional_information_data_type_id
WHERE
additional_information_topic.additional_information_topic_id = @additional_information_topic_id

IF (@ui_engine_data_type_id = @user_defined_topic_list_gk_id) --// additional information topic list
BEGIN
SELECT
@default_value = additional_information_topic_value.additional_information_topic_value_id
FROM
additional_information_topic_value
WHERE
additional_information_topic_value.additional_information_topic_id = @additional_information_topic_id
AND	additional_information_topic_value.is_topic_value_default = 1
END
ELSE
BEGIN
SELECT
@default_value = default_value
FROM
additional_information_topic
WHERE
additional_information_topic.additional_information_topic_id = @additional_information_topic_id
END

SELECT
@default_value AS 'default_value',
ui_engine_data_type_id,
format_string,
user_can_add_data
FROM
additional_information_topic
LEFT JOIN additional_information_data_type
ON additional_information_data_type.additional_information_data_type_id = additional_information_topic.additional_information_data_type_id
WHERE
additional_information_topic.additional_information_topic_id = @additional_information_topic_id

RETURN @SP_SUCCESS
GO
