USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_group_type_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
2014-08-19	eponomareff		RT:6046 Tombstone modifications
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Code Group Types"
in frmCodeGroupType form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_group_type_save]

(
@code_group_type_id                         int = NULL   OUTPUT
,@code_group_type_ud                         nvarchar(100) = NULL
,@description                                nvarchar(510) = NULL
,@active                                     bit = NULL
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @code_group_type_id is Null
BEGIN
--- Create a new record
INSERT INTO code_group_type(
code_group_type_ud
,description
,active
)
VALUES(
@code_group_type_ud
,@description
,@active
)
--
SET @code_group_type_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM code_group_type WHERE code_group_type_id = @code_group_type_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
UPDATE code_group_type
SET
code_group_type_ud                       = @code_group_type_ud
,description                              = @description
,active                                   = @active
--,modified_user_name 					  = ORIGINAL_LOGIN()
,modified_date                              = GETDATE()
WHERE code_group_type_id = @code_group_type_id
END
--
RETURN @SP_SUCCESS
END
GO
