USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_max_pay_accums_for_supp_max_pay_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 03/30/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/30/2011	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads all max payment accumulators attached to a framework not already attached to a supplemental accumulator
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_max_pay_accums_for_supp_max_pay_load]
(
@accumulator_framework_id int = 0,
@accumulator_framework_accumulator_class_accumulator_id	int = 0
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
afaca.accumulator_framework_accumulator_class_accumulator_id as base_accumulator_framework_accumulator_class_accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud as base_accumulator_framework_accumulator_class_accumulator_ud
FROM accumulator_framework af
JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
WHERE
af.accumulator_framework_id = @accumulator_framework_id
AND
ac.golden_key = 'Maximum Payments'
AND
afaca.accumulator_framework_accumulator_class_accumulator_id NOT IN
(
-- ALL Max pays USED for a framework
SELECT
afaca.base_accumulator_framework_accumulator_class_accumulator_id
FROM accumulator_framework af
JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
WHERE
af.accumulator_framework_id = @accumulator_framework_id
AND
afaca.base_accumulator_framework_accumulator_class_accumulator_id IS NOT NULL
AND
afaca.accumulator_framework_accumulator_class_accumulator_id <> ISNULL(@accumulator_framework_accumulator_class_accumulator_id, 0)
)


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
