USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_add_on_procedure_code_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
05/21/2012          CKnobloch            1.0             created

CURRENT_VERSION: 1.0
--
DESCRIPTION: Find procedure code add-on schedules that match criteria.
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_add_on_procedure_code_schedule_load]
(
@procedure_code_add_on_schedule_ud					NVARCHAR(50)  = NULL
,@procedure_code_add_on_schedule_description        NVARCHAR(255) = NULL
,@imported BIT = NULL

--,@procedure_code_add_on_effective_from              DATETIME = NULL
--,@procedure_code_add_on_effective_thru              DATETIME = NULL

--,@show_only_current									BIT = 0
,@show_exact_matches								BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @procedure_code_add_on_schedule_ud IS NOT NULL AND @procedure_code_add_on_schedule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pcaos.procedure_code_add_on_schedule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@procedure_code_add_on_schedule_ud, @show_exact_matches) + @Suffix

IF @procedure_code_add_on_schedule_description IS NOT NULL AND @procedure_code_add_on_schedule_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pcaos.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@procedure_code_add_on_schedule_description, @show_exact_matches) + @Suffix

IF @imported IS NOT NULL AND @imported <> 0
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pcao.imported_add_on, 0) = 1'

--IF @procedure_code_add_on_effective_from IS NOT NULL AND @procedure_code_add_on_effective_from <> ''
--	SET @SqlCondition = @SqlCondition + ' AND (pcao.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @procedure_code_add_on_effective_from,101) + ''', 101)) '

--IF @procedure_code_add_on_effective_thru IS NOT NULL AND @procedure_code_add_on_effective_thru <> ''
--	SET @SqlCondition = @SqlCondition + ' AND (pcao.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @procedure_code_add_on_effective_thru, 101) + ''', 101)) '

--IF @show_only_current = 1
--	SET @SqlCondition = @SqlCondition + ' AND dbo.plx_fnIsDateInRange(pcao.effective_from, pcao.effective_thru, GETDATE()) = 1 '

SET @SqlQuery =
'	SELECT DISTINCT
pcaos.procedure_code_add_on_schedule_id
,pcaos.procedure_code_add_on_schedule_ud
,pcaos.description
--,pcao.effective_from
--,pcao.effective_thru
FROM procedure_code_add_on_schedule pcaos
LEFT OUTER JOIN procedure_code_add_on pcao
ON pcaos.procedure_code_add_on_schedule_id = pcao.procedure_code_add_on_schedule_id

'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY pcaos.procedure_code_add_on_schedule_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
