USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_eligibility_member_benefit_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Sep  19 2005  8:52PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads eligibilities for a member
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_eligibility_member_benefit_plan_load]
(
@member_id INT
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_member_benefit_plan_id
, member_eligibility_ud
, benefit_plan_ud as 'Benefit Plan'
, effective_from as 'Effective From'
, effective_thru as 'Effective Through'

FROM family_eligibility_member_benefit_plan elig
JOIN
family_eligibility_member fem ON elig.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN
benefit_plan bp ON elig.benefit_plan_id = bp.benefit_plan_id
WHERE member_id = @member_id
ORDER BY member_eligibility_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
