USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_visit_count_rule_id_dental_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/04/07        ccessnun		        Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_form_type (Claim Type)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_visit_count_rule_id_dental_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

EXEC plx_dd_claim_visit_count_rule_id_load 'Dental';
GO
