USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_best_time_to_contact_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down best_time_to_contact (Best Time to Contact)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_dd_best_time_to_contact_load]

AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT    @SP_SUCCESS = 0

SELECT  best_time_to_contact_id,
best_time_to_contact_ud
FROM best_time_to_contact
ORDER BY best_time_to_contact_ud
RETURN @SP_SUCCESS
END
GO
