USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_state_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for grid "Records Matching Find Criteria"
in frmFindStateSet form.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_find_state_set_load]
(
@get_column_headers	       BIT = 0
,@state_set_ud             NVARCHAR(50) = NULL
,@description              NVARCHAR(255) = NULL
,@state_id                 INT = NULL
,@show_exact_matches       BIT = 0
)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000)
,@sqlCondition nvarchar(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

IF (@show_exact_matches = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

SET	@sqlString =  '
SELECT 	DISTINCT  TOP (dbo.fn_results_limit())
state_set.state_set_id
,state_set.state_set_ud
,state_set.description
FROM state_set
LEFT JOIN state_set_detail detail
ON detail.state_set_id = state_set.state_set_id
LEFT JOIN state
ON state.state_id = detail.state_id'

SET
@sqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (@state_set_ud IS NOT NULL) AND (@state_set_ud <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(state_set.state_set_ud, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@state_set_ud, @show_exact_matches) + @suffix
END

IF (@description IS NOT NULL) AND (@description <> '')
BEGIN
SET @sqlCondition = @sqlCondition + ' AND (ISNULL(state_set.description, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @suffix
END

IF (@state_id IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND state.state_id = ' + CONVERT(NVARCHAR(20), @state_id) + ' '
END

print @sqlString + @sqlCondition + 'order by state_set.state_set_ud ASC '
exec(@sqlString + @sqlCondition + 'order by state_set.state_set_ud ASC ' )
END
GO
