USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
05/31/2008 Initial generation
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/31/2008  David Slayton  1.0      Created
07/15/2008  W.Christensen  1.1      Added code to reset claim/claim procedure payment status
08/20/2009  W.Christensen  1.2      Added deletes for fees
04/08/2010	Vishwa Jella	1.3		Removed tap claim payment run result codes which are attached to claim_payment_run_amounts
while trying to delete claim_payment_run fixed
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to delete a Claim Payment Run.
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_payment_run_delete]
(
@claim_payment_run_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM claim_payment_run WHERE claim_payment_run_id = @claim_payment_run_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

BEGIN TRY

-- Wrap the updates/deletes in a transaction in case there is a failure
-- when deleting the run at the end.
BEGIN TRAN

-- Reset claim payment status on linked claim procedures
UPDATE claim_procedure
SET
claim_payment_process_status_id = NULL,
claim_payment_run_id = NULL
WHERE
claim_payment_run_id = @claim_payment_run_id

-- Delete tap claim payment run result codes.
DELETE FROM tap_claim_payment_run_result_code
WHERE claim_payment_run_amount_id IN
(SELECT  claim_payment_run_amount_id FROM claim_payment_run_amount
WHERE claim_payment_run_amount.claim_payment_run_id = @claim_payment_run_id)

-- Delete tap claim payment run batch statistics.
DELETE FROM claim_payment_run_batch_statistics
WHERE claim_payment_run_statistics_id IN
(SELECT  claim_payment_run_statistics_id FROM claim_payment_run_statistics
WHERE claim_payment_run_id = @claim_payment_run_id)

-- Delete tap claim payment run statistics.
DELETE FROM claim_payment_run_statistics
WHERE claim_payment_run_id = @claim_payment_run_id

-- Delete run amounts.
DELETE FROM claim_payment_run_amount
WHERE claim_payment_run_id = @claim_payment_run_id

-- Delete AP fees.
DELETE FROM claim_payment_run_ap_fee
WHERE claim_payment_run_id = @claim_payment_run_id

-- Delete AR fees.
DELETE FROM claim_payment_run_ar_fee
WHERE claim_payment_run_id = @claim_payment_run_id

-- Delete run result codes / error codes.
DELETE FROM claim_payment_run_result_code
WHERE claim_payment_run_id = @claim_payment_run_id

-- Delete the run.
DELETE FROM claim_payment_run
WHERE claim_payment_run_id = @claim_payment_run_id

COMMIT TRAN

END TRY
BEGIN CATCH

ROLLBACK TRAN
RETURN @SP_EXCEPTION

END CATCH

END
--
RETURN @SP_SUCCESS
--
GO
