USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_form_type_except_all_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/03/2006  Anh Ta        1.0       Created and used in ICU# 15894	Payment Contracts
07/18/2006  Anh Ta        2.0       Created and used in ICU# 13931 Claims Duplication Rules and Configuration
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_claim_form_type from the claim_form_type table.
Excludes "ALL CLAIMS" and "PREDERMINATION"

Related dropdown stored procedures are:

plx_dd_claim_form_type_load -- all types
plx_dd_claim_form_type_load_without_all_claims -- all types except ALL CLAIMS
plx_dd_claim_form_type_load_without_all_claims_pred -- all types except ALL CLAIMS, and PRE-D
plx_dd_claim_form_type_except_all_load -- all types except ALL CLAIMS and PRE-D (claim form types returned as "contract_type")

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_claim_form_type_except_all_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
claim_form_type_id as contract_type_id
,claim_form_type_ud as contract_type_ud
,golden_key
FROM claim_form_type
WHERE golden_key <> 'ALL CLAIMS' AND golden_key <> 'PREDETERMINATION'
ORDER BY contract_type_ud

--
RETURN @SP_SUCCESS
--
GO
