USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_concurrency_lock_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	04/20/2010
--
DESCRIPTION:
This procedure is used to load a list of concurrency locks based on filter criteria.

NOTE: Realized that functions won't allow for dynamic sql, so the implementation
of plx_fn_get_ud_by_ui_engine_lookup_parameter has changed to require very
specific lookups based off of the table name. For PPMSI RRT 21400 - Claims
Concurrency, this will work, but when implementing further Concurrency Lock
Types, we may want to find a different solution for this.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED FUNCTIONS:
plx_fn_get_ud_by_ui_engine_lookup_parameter
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_find_concurrency_lock_load]
(
@get_column_headers	bit = 0
,@concurrency_lock_type_id 	int = null
,@user_name 	nvarchar(255) = null
,@effective_from 			datetime = null
,@effective_thru 		datetime = null
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
,@show_exact_matches BIT

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
,@show_exact_matches = 0
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix =  ' LIKE N'''
SET @Suffix = '%'''
END

IF ISNULL(@concurrency_lock_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND cl.concurrency_lock_type_id = ' + CONVERT(NVARCHAR, @concurrency_lock_type_id)

IF @user_name IS NOT NULL AND @user_name <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(cl.security_user_name, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@user_name, @show_exact_matches) + @Suffix

IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, cl.lock_date, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, cl.lock_date, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '

SET @SqlQuery = '
SELECT DISTINCT
CAST(0 as BIT) as [select],
cl.concurrency_lock_type_id,
clt.concurrency_lock_type_ud,
cl.ui_engine_lookup_parameter_id,
ui.display_form as form_name,
cl.record_id,
dbo.plx_fn_get_ud_by_ui_engine_lookup_parameter(cl.ui_engine_lookup_parameter_id, cl.record_id) as record_ud,
cl.security_user_name as user_name,
cl.lock_date
FROM concurrency_lock cl
INNER JOIN concurrency_lock_type clt ON clt.concurrency_lock_type_id = cl.concurrency_lock_type_id
INNER JOIN ui_engine_lookup_parameter ui ON ui.ui_engine_lookup_parameter_id = cl.ui_engine_lookup_parameter_id
'

EXEC(@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
