USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_claim_payment_disbursement_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
09/30/2008 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/30/2008	Vishwa Jella	1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from gridDPCPAccountAssignments on frmAccountAssignments.
--
REQUIREMENTS:
--
INPUTS:
@account_assignment_claim_payment_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_account_assignment_claim_payment_disbursement_delete]
(
@account_assignment_claim_payment_disbursement_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012'
--
IF NOT EXISTS (SELECT * FROM account_assignment_claim_payment_disbursement WHERE account_assignment_claim_payment_disbursement_id = @account_assignment_claim_payment_disbursement_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM account_assignment_claim_payment_disbursement
WHERE account_assignment_claim_payment_disbursement_id = @account_assignment_claim_payment_disbursement_id

DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
GO
