USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_composite_tier_criteria_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 02/09/2013

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/09/2013	eponomareff			1.0			Created
02/09/2017	eponomareff			2.0			RT:10285 - composite n-tiers
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
List of tier criteria types supported for tier type
in the Composite Tier Building Blocks grid on the Composite form
--
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_composite_tier_criteria_type_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
tier_criteria_type_id
,tier_criteria_type_ud
,golden_key
FROM tier_criteria_type
WHERE
golden_key in (
'AGE_GENDER'
,'DUAL_ELIGIBILITY_STATUS'
,'ELIGIBILITY_TENURE'
,'FAMILY'
,'INVOICE_FREQUENCY'
,'LOAN_DURATION'
,'POSTAL_CODE_SET'
,'USER_DEFINED_TOPIC_LIST'
)
ORDER BY tier_criteria_type_ud
--
RETURN @SP_SUCCESS
--
GO
