USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_telephone_number_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[plx_beneficiary_telephone_number_save]
(
@beneficiary_telephone_number_id	int = NULL   OUTPUT
,@beneficiary_id					int = NULL
,@telephone_number_id			int = NULL   OUTPUT
,@telephone_number_type_id		int = NULL
,@telephone_number_type_ud		nvarchar(50) = NULL
,@prefix						nvarchar(15) = NULL
,@country_code					nvarchar(15) = NULL
,@telephone_number				nvarchar(50) = NULL
,@telephone_number_extension	nvarchar(10) = NULL
,@primary_for_beneficiary			bit = NULL
,@comment						nvarchar(300) = NULL
) AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '1588800014',
@ERROR_NOT_EXIST	= '1588800015'

IF (@beneficiary_telephone_number_id is Null)
BEGIN
--- Create a new telephone_number record
INSERT INTO telephone_number(
telephone_number_type_id
,telephone_number
,telephone_number_extension
)
VALUES
(@telephone_number_type_id
,@telephone_number
,@telephone_number_extension
)
SET @telephone_number_id = @@IDENTITY


--- Create a new beneficiary_telephone_number record
INSERT INTO beneficiary_telephone_number(
beneficiary_id
,telephone_number_id
,primary_for_beneficiary
,comment
)
VALUES
(@beneficiary_id
,@telephone_number_id
,@primary_for_beneficiary
,@comment
)
SET @beneficiary_telephone_number_id = @@IDENTITY
END

ELSE IF (NOT EXISTS (SELECT * FROM beneficiary_telephone_number WHERE beneficiary_telephone_number_id = @beneficiary_telephone_number_id ))
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

ELSE
BEGIN

--- Updating an existing telephone_number record
UPDATE telephone_number
SET
telephone_number_type_id		    = @telephone_number_type_id
,telephone_number				    = @telephone_number
,telephone_number_extension		    = @telephone_number_extension
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE telephone_number_id = @telephone_number_id

--- Updating an existing beneficiary_telephone_number record
UPDATE beneficiary_telephone_number
SET
beneficiary_id				            = @beneficiary_id
,telephone_number_id	                = @telephone_number_id
,primary_for_beneficiary	            = @primary_for_beneficiary
,comment				                = @comment
,modified_user_name                     = ORIGINAL_LOGIN()
,modified_date                          = GETDATE()

WHERE beneficiary_telephone_number_id = @beneficiary_telephone_number_id

END

RETURN @SP_SUCCESS

END
GO
