USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_check_for_invalid_runs]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_check_for_invalid_runs]
(
@capitationDefinitionId INT,
@currentCapitationRunId INT
)

AS

SET NOCOUNT ON;

SELECT
cr.capitation_run_id,
cr.capitation_run_ud,
cr.capitation_run_status_id,
crs.capitation_run_status_ud,
crs.golden_key
FROM
capitation_run cr
LEFT JOIN capitation_run_status crs
ON crs.capitation_run_status_id = cr.capitation_run_status_id
WHERE
cr.capitation_definition_id = @capitationDefinitionId
AND cr.capitation_run_id <> @currentCapitationRunId
AND crs.golden_key in ('CALCULATING', 'ERROR');
GO
