USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_contract_value_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/09/2016	dcannon		1.0			initial
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down benefit_contract_value
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_dd_benefit_contract_value_list_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
benefit_contract_value_id
,benefit_contract_value_ud
,description
FROM benefit_contract_value
ORDER BY benefit_contract_value_ud

RETURN @SP_SUCCESS
END
GO
