USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_compensation_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 11/19/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/19/2012 eponomareff  1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

This procedure is used to save a row on the grid "Compensation"
in Family Eligibility form, Employment tab.

NOTE - Salary and Hourly information has been moved from the "Employment History" grid,
(table: family_eligibility_employment_history) to the "Compensation" grid
(table: family_eligibility_employment_compensation).

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_employment_compensation_save]

(
@family_eligibility_employment_compensation_id        int = NULL   OUTPUT
,@family_eligibility_employment_id                     int = NULL

,@compensation_type_id                                 int = NULL
,@frequency_id                                         int = NULL

,@hours_worked                                         numeric(20,10) = NULL
,@unit_day_week_month_year_id                          int = NULL

,@amount                                               numeric(19,4) = NULL

,@effective_from                                       datetime = NULL
,@effective_thru                                       datetime = NULL
,@comment                                              nvarchar(255)= NULL

,@active                                               bit = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @family_eligibility_employment_compensation_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_employment_compensation(
family_eligibility_employment_id
,compensation_type_id
,compensation_frequency_id
,hours_worked
,unit_day_week_month_year_id
,amount
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@family_eligibility_employment_id
,@compensation_type_id
,@frequency_id
,@hours_worked
,@unit_day_week_month_year_id
,@amount
,@effective_from
,@effective_thru
,@comment
,@active
)
--
SET @family_eligibility_employment_compensation_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_employment_compensation WHERE family_eligibility_employment_compensation_id = @family_eligibility_employment_compensation_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_employment_compensation
SET
family_eligibility_employment_id         = @family_eligibility_employment_id
,compensation_type_id                     = @compensation_type_id
,compensation_frequency_id                = @frequency_id
,hours_worked                             = @hours_worked
,unit_day_week_month_year_id              = @unit_day_week_month_year_id
,amount                                   = @amount
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,comment                                  = @comment
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_employment_compensation_id = @family_eligibility_employment_compensation_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
