USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_expense_schedule_detail_payment_method_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
CREATED DATE: 06/25/2009
--
REVISION_HISTORY:
--
Date         Modified By      Version     Description
--------------------------------------------------------------------------------
06/25/2009   Isaac Overacker  1.0         Created.
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure populates the Payment Method combobox column in the Member Expense Schedule Information grid
on the Member Expense Schedule form.

It currently only selects the Flat Rate payment method, which is the only payment method needed.  If, in the
future, it is determined that more payment methods are required, the best course of action would be to add
a bit column to fee_schedule_payment_method that indicates that the FSPM record is for use on the MES form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_member_expense_schedule_detail_payment_method_load]
AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_payment_method.fee_schedule_payment_method_id
,fee_schedule_payment_method.fee_schedule_payment_method_ud
,fee_schedule_payment_method.golden_key
FROM fee_schedule_payment_method
WHERE golden_key = 'Flat Rate'

RETURN @SP_SUCCESS
GO
