USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_check_findform_provider_identifier_combobox]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/20/2006	HuyThan	1.0		Created
12/12/2011 Cknobloch 1.1    Returns like values.

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check validation rule on provider identifier on claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_check_findform_provider_identifier_combobox]
(
@provider_identifier_id int  = null,
@provider_ud         nvarchar(100) = null,
@provider_specialty_id int = null
)AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''

IF isnull(@provider_identifier_id,0) > 0
SET @SqlCondition = @SqlCondition + ' AND provider_identifier.provider_identifier_id = ' +  CONVERT(NVARCHAR, @provider_identifier_id)

IF isnull(@provider_specialty_id,0) > 0
SET @SqlCondition = @SqlCondition + ' AND provider_specialty.provider_specialty_id = ' +  CONVERT(NVARCHAR, @provider_specialty_id)

IF @provider_ud IS NOT NULL  AND @provider_ud <> ''
SET @SqlCondition = @SqlCondition + 'AND provider_identifier.provider_ud LIKE ''' +  dbo.plx_EncodeStringWildCard(@provider_ud, 1) + '%'''

SET @SqlQuery =
'  SELECT DISTINCT ' +
'     provider_identifier.provider_id ' +
'   , provider_identifier.provider_identifier_id ' +
'	, provider_identifier.provider_ud ' +
'	, provider_name.name_last as provider_name_last ' +
'	, provider_name.name_first as provider_name_first ' +
'	, provider_name.name_middle as provider_name_middle ' +
'	, dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, null) AS provider_name ' +
'	, dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, null) AS rendering_provider_name ' +
'   , isnull(provider_name.name_first, '''') + '' '' + isnull(provider_name.name_middle, '''') AS provider_first_middle_name ' +
'	, provider_specialty.provider_specialty_id as provider_specialty_id ' 	+
'	, provider_specialty_type.provider_specialty_type_ud as provider_specialty_ud ' +
'  FROM provider ' +
'		INNER JOIN provider_identifier ON provider.provider_id = provider_identifier.provider_id  ' +
'      	INNER JOIN provider_name ON (provider.provider_id = provider_name.provider_id AND provider_name.is_primary = 1) ' +
'		LEFT JOIN provider_specialty ON provider_specialty.provider_id = provider.provider_id and provider_specialty.primary_specialty = 1 ' +
'		LEFT JOIN provider_specialty_type ON provider_specialty.provider_specialty_type_id = provider_specialty_type.provider_specialty_type_id	'

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition

EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
GO
