USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_limit_rule_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
DATE: 2006/02/18
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/21	Thuy Ha				Add rule: Cannot DELETE if accumulator choice list used in limit rules is resolved at Benefit Contract
2006/03/03	Thuy Ha				Change table benefit_period_benefit_plan_choice_list to table benefit_contract_benefit_accumulator_choice_resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check if an accumulator limit rule can be deleted.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_limit_rule_check_delete]
(
@accumulator_limit_rule_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1

SELECT @FINAL_RESULT = @SP_DELETE_ABLE

IF NOT EXISTS (	SELECT 	1
FROM 	accumulator_limit_rule
WHERE 	accumulator_limit_rule_id = @accumulator_limit_rule_id)
BEGIN
RETURN @SP_EXCEPTION
END

-- Cannot DELETE if accumulator limit rule is resolved at a Benefit Plan
IF EXISTS (SELECT 1 FROM benefit_plan_accumulator_class_choice_resolution bpaccr
WHERE bpaccr.accumulator_limit_rule_id = @accumulator_limit_rule_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator choice list used in limit rules is resolved at Eligibility
IF EXISTS (SELECT 1 FROM family_eligibility_accumulator_choice_list_resolution feaclr
WHERE feaclr.accumulator_limit_rule_id = @accumulator_limit_rule_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator choice list used in limit rules is resolved at an Episode
IF EXISTS (SELECT 1 FROM episode_accumulator_choice_list_resolution eaclr
WHERE eaclr.accumulator_limit_rule_id = @accumulator_limit_rule_id)
RETURN @SP_DELETE_UNABLE

-- Cannot DELETE if accumulator choice list used in limit rules is resolved at Benefit Contract
IF EXISTS (SELECT 1
FROM benefit_contract_accumulator_class_choice_resolution bcaccr
WHERE bcaccr.accumulator_limit_rule_id = @accumulator_limit_rule_id)
RETURN @SP_DELETE_UNABLE

RETURN @FINAL_RESULT
END
GO
