USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_allowed_appointment_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:45AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Modified
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for agent allowed appointment grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_allowed_appointment_id - Key to agent_allowed_appointment table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_allowed_appointment_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_allowed_appointment.agent_allowed_appointment_id
,agent_allowed_appointment.agent_id
,agent_allowed_appointment.state_id
,agent_allowed_appointment.carrier_id
,carrier.carrier_ud
,agent_allowed_appointment.agent_carrier_appointment_status_id
,agent_allowed_appointment.effective_from as appointment_effective_from
,agent_allowed_appointment.effective_thru as appointment_effective_thru
FROM agent_allowed_appointment
LEFT JOIN carrier  ON agent_allowed_appointment.carrier_id = carrier.carrier_id
WHERE agent_allowed_appointment.agent_id = @agent_id
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru DESC
--
RETURN @SP_SUCCESS
GO
