USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_template_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By				Version		Description
--------------------------------------------------------------------------------
12/13/2006	t6nguyen                1.0         Used to Benefit Contract Form
10/03/2007	Abhishek Saxena         1.0         Modified
11/21/2009	Vishwa Jella            2.0         Added linked_accumulator_set_id field to benefit contract template Form advanced setup Tab
05/09/2016	eponomareff             2.1         RT:10282 add reference to premium_policy_type for individual premium billing
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_contract_template_load]
(
@benefit_contract_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

--

SELECT
bc.benefit_contract_id
,bc.benefit_contract_ud

,bc.benefit_contract_nm
,bc.description
,bc.benefit_current_status_id

,bc.client_group_id
,cgn.client_group_ud

,bc.benefit_contract_template
,bc.auto_create_family_id_rule_id

,ps.premium_setup_id
,bc.billing_type_id
,bt.billing_type_ud
,bt.golden_key AS billing_type_golden_key

--,bc.product_line_id
--,pl.product_line_ud

,bc.line_of_business_id
,lob.line_of_business_ud

,bc.effective_from
,bc.effective_thru
,bc.benefit_termination_reason_id as benefit_contract_termination_id
,bc.base_currency_id
,bc.currency_exchange_rate_rule_id
,bc.accounting_company_id
,bc.accumulator_framework_id
,bc.linked_accumulator_set_id as linked_accumulator_id
,la.linked_accumulator_ud
,bc.claim_run_in_from
,bc.claim_run_out_thru
,bc.timely_filing_rule
,bc.timely_number_of_units
,bc.timely_unit_day_week_month_year_id
,bc.timely_result_code_id
,rc.result_code_ud AS 'timely_result_code_ud'
,rc.short_message AS 'timely_result_code_description'
,bc.timely_result_code_status_id

,bc.active
,bc.created_user_name
,bc.created_group_id
,bc.created_date
,bc.modified_date
,CAST(NULL AS int) AS  benefit_contract_period_id
,bc.valid_eligibility_days_rule_id
,bc.valid_eligibility_days
,bc.valid_eligibility_days_exclude
,bc.conditional_issue_rule_id
,cir.golden_key AS 'conditional_issue_rule_golden_key'
,cir.conditional_issue_rule_ud
,vedr.golden_key AS 'valid_eligibility_days_rule_golden_key'
,vedr.valid_eligibility_days_rule_ud
,bc.[premium_policy_type_id]
,ppt.golden_key AS premium_policy_type_gk
FROM benefit_contract bc
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id AND primary_name = 1)
--LEFT JOIN product_line pl ON pl.product_line_id = bc.product_line_id
LEFT JOIN premium_setup ps ON bc.premium_setup_id = ps.premium_setup_id
LEFT JOIN linked_accumulator la ON bc.linked_accumulator_set_id = la.linked_accumulator_id
LEFT JOIN billing_type bt ON ps.billing_type_id = bt.billing_type_id
LEFT JOIN result_code rc ON rc.result_code_id = bc.timely_result_code_id
LEFT JOIN conditional_issue_rule cir ON cir.conditional_issue_rule_id=bc.conditional_issue_rule_id
LEFT JOIN valid_eligibility_days_rule vedr ON vedr.valid_eligibility_days_rule_id=bc.valid_eligibility_days_rule_id
LEFT JOIN line_of_business lob ON lob.line_of_business_id = bc.line_of_business_id
LEFT JOIN [premium_policy_type] ppt ON bc.[premium_policy_type_id] = ppt.[premium_policy_type_id]
WHERE bc.benefit_contract_id = @benefit_contract_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
