USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_default_family_eligibility_termination_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/27/2006	HungTNguyen		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop downs family_eligibility_termination_reason
on Mass Eligibility Change form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_dd_default_family_eligibility_termination_reason_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
-- for display
family_eligibility_termination_reason_id
,family_eligibility_termination_reason_ud
-- for source field dropdown -- this column is hidden
,family_eligibility_termination_reason_id as source_default_termination_reason_id
-- for target field dropdown -- this column is hidden
,family_eligibility_termination_reason_id as target_default_termination_reason_id
-- additional columns
,family_eligibility_termination_reason_nm
,family_eligibility_termination_reason.description
,family_eligibility_termination_reason.golden_key
FROM family_eligibility_termination_reason
ORDER BY family_eligibility_termination_reason_ud

--
RETURN @SP_EXCEPTION
--
END
GO
