USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_bank_account_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
DATE: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha					created_date and modified_date using DB Server date
2008/05/16	lrenard					accounting company schema and form changes
04/17/2012  CKnobloch		1.2		added use_for_ach column
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to save a bank account in acounting company.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_bank_account_save]
(
@bank_account_id						int = NULL OUTPUT
,@accounting_company_id					int = NULL
,@bank_account_ud						nvarchar(50) = NULL
,@description							nvarchar(510) = NULL
,@cash_accounting_company_account_id	int = NULL
,@use_for_ach							bit = NULL
,@effective_from						datetime = NULL
,@effective_thru						datetime = NULL
,@active								bit = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS						int,
@ERROR_CANT_INSERT				NVARCHAR(50),
@ERROR_CANT_UPDATE				NVARCHAR(50),
@ERROR_NOT_EXIST				NVARCHAR(50),
@ERROR_CANT_INSERT_BANK_ACCOUNT NVARCHAR(50),
@ERROR_CANT_UPDATE_BANK_ACCOUNT NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 				= '328e777f-6901-4ccb-91d4-cb08767bf02a',
@ERROR_CANT_UPDATE	 			= 'de0e0557-9425-4063-8815-1f4c2d94684e',
@ERROR_NOT_EXIST				= '158880003',
@ERROR_CANT_INSERT_BANK_ACCOUNT = '137020013',
@ERROR_CANT_UPDATE_BANK_ACCOUNT = '137020014'

--insert or update bank account table
IF @bank_account_id IS NULL
BEGIN
-- insert bank account
INSERT INTO bank_account(
bank_account_ud
,description
,cash_accounting_company_account_id
,accounting_company_id
,use_for_ach
,effective_from
,effective_thru
,active
)
VALUES
(@bank_account_ud
,@description
,@cash_accounting_company_account_id
,@accounting_company_id
,@use_for_ach
,@effective_from
,@effective_thru
,@active
)

IF (@@ERROR <> 0)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT_BANK_ACCOUNT)
END
ELSE
BEGIN
SET @bank_account_id = @@IDENTITY
END
END
ELSE
BEGIN
UPDATE bank_account
SET
bank_account_ud						= @bank_account_ud
,description						= @description
,effective_from						= @effective_from
,effective_thru						= @effective_thru
,cash_accounting_company_account_id	= @cash_accounting_company_account_id
,use_for_ach						= @use_for_ach
,active								= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
bank_account_id = @bank_account_id
AND accounting_company_id = @accounting_company_id

IF (@@ERROR <> 0)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE_BANK_ACCOUNT)
END
END
--
RETURN @SP_SUCCESS
--
GO
