USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_waive_item_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyNgo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Waive Items"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_waive_item_load]

(
@episode_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
select
episode_waive_item_id
,isnull(ABC.benefit_class_ud, ABC.accumulator_class_ud) as acc_benefit_class
,ABC.benefit_class_id
,ABC.benefit_class_ud
,ABC.accumulator_class_id
,ABC.accumulator_class_ud
,isnull(ABC.not_applicable, 0) as not_applicable
,ABC.result_code_id
,ABC.result_code_ud
,ABC.short_message
,ABC.result_code_status_id
from ((select
episode_waive_item.episode_waive_item_id
,benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,null as accumulator_class_id
,null as accumulator_class_ud
,episode_waive_item.not_applicable
,episode_waive_item.result_code_id
,result_code.result_code_ud
,result_code.short_message
,result_code_status.result_code_status_id
from episode_waive_item
inner join benefit_class on episode_waive_item.benefit_class_id=benefit_class.benefit_class_id
left join result_code  ON result_code.result_code_id = episode_waive_item.result_code_id
left join result_code_status on result_code_status.result_code_status_id =episode_waive_item.result_code_status_id
WHERE episode_waive_item.episode_id = @episode_id
)
UNION
(select
episode_waive_item.episode_waive_item_id
,null as benefit_class_id
,null as benefit_class_ud
,accumulator_class.accumulator_class_id
,accumulator_class.accumulator_class_ud
,episode_waive_item.not_applicable
,episode_waive_item.result_code_id
,result_code.result_code_ud
,result_code.short_message
,result_code_status.result_code_status_id
from episode_waive_item
inner join accumulator_class  on episode_waive_item.accumulator_class_id=accumulator_class.accumulator_class_id
left join result_code  ON result_code.result_code_id = episode_waive_item.result_code_id
left join result_code_status on result_code_status.result_code_status_id =episode_waive_item.result_code_status_id
WHERE  episode_waive_item.episode_id = @episode_id
))ABC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
