USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Jul 31 2006  2:02PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
31/6/2006     ThuyNgo    1.0         Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_depreciation table.
--
REQUIREMENTS:
--
INPUTS:
commission_depreciation_id - Key to commission_depreciation table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_commission_depreciation_load]
(
@commission_depreciation_id		Int  = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_depreciation.commission_depreciation_id
,commission_depreciation.commission_depreciation_ud
,commission_depreciation.description
,commission_depreciation.effective_from
,commission_depreciation.effective_thru
,commission_depreciation.is_commission_depreciation_template
FROM commission_depreciation
WHERE commission_depreciation.commission_depreciation_id = @commission_depreciation_id
--
RETURN @SP_SUCCESS
GO
