USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
07/15/2013  eponomareff 2.0     added ICD version support
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
ALTER  a single object into the diagnosis_code table.
This stored procedure is used in the Diagnosis Code form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_save]
(
@diagnosis_code_id                          int = NULL   OUTPUT
,@diagnosis_code_ud                          nvarchar(100) = NULL
,@diagnosis_code_version_id                  int = NULL
,@description                                nvarchar(510) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@complete                                   bit = NULL
,@active                                     bit = NULL
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @diagnosis_code_id is Null
BEGIN
--- Create a new record
INSERT INTO diagnosis_code(
diagnosis_code_ud
,diagnosis_code_version_id
,description
,effective_from
,effective_thru
,active
)
VALUES
(@diagnosis_code_ud
,@diagnosis_code_version_id
,@description
,@effective_from
,@effective_thru
,@active
)
--
SET @diagnosis_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM diagnosis_code WHERE diagnosis_code_id = @diagnosis_code_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE diagnosis_code
SET
diagnosis_code_ud                        = @diagnosis_code_ud
,diagnosis_code_version_id                = @diagnosis_code_version_id
,description                              = @description
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE diagnosis_code_id = @diagnosis_code_id
END
--
RETURN @SP_SUCCESS
END
GO
