USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
Date: 10/27/2005
--
REVISION_HISTORY:
--
Date        Modified By     Version		Description
--------------------------------------------------------------------------------
10/27/2005	Mai Tran	    1.0			add 6 cases when user change effective from and thru
03/08/2006	Thuy Ha	      	1.1			created_date & modified date use DB Server date
09/25/2006	mai Tran	    1.2			fix bug on update with no criteria
11/21/2006	tinhdo		    1.3			change Case 5: effective_from = effective_thru ==> effective_thru = effective_from
Change case 6.1: effective_thru = effective_from  ==> effective_from = effective_thru
10/01/2007  Abhishek Saxena 1.4			Added column eligibility_issue_status_id
10/30/2007  Abhishek Saxena 1.4			Added column signed_in_state_id
11/20/2007  Vishwa Jella    1.5			Changed Column name from privacy_notice_date to Disclosure_date
08/14/2008	David Slayton   1.6			Removed references to family_eligibility_family_rate and family_eligibility_weight_factor tables.
04/08/2010	Vishwa Jella	 1.7		Updated with Enrollment Termination Reason id into Eligible Member Termination Reasons if Terminated
08/29/2013	A.Mortensen		 1.8		RT:4999 updated to override default modified_user_name value on insert to null, and added modified_user_name on update for better audit tracking
08/18/2014								RT:6046 Updated created/modified tombstone columns
09/22/2014	eponomareff				    RT:6823 changes to support Optimistic Concurrency.
11/05/2014  jbernard					RT7403 : Removed redundent existence check
--------------------------------------------------------------------------------
09/22/2014	eponomareff				RT:6823 changes to support Optimistic Concurrency.
05/23/2016	eponomareff		2.0			RT:10436 : Remove dependency on existing family_eligibility_employment record
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to save data in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_save]
(
@family_eligibility_id                      int = NULL   OUTPUT
,@family_eligibility_ud                      NVARCHAR(100) = NULL
,@benefit_contract_id                        int = NULL
,@never_under_coverage                       bit = NULL
,@family_eligibility_termination_reason_id   int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@dependent_only_policy                      bit = NULL
,@current_status_id                          int = NULL
,@auto_generated_dependent_member_records    bit = NULL
,@family_disclosure_restriction_id           int = NULL
,@disclosure_date                            datetime = NULL
,@family_eligibility_employment_id           int = NULL OUTPUT
,@date_hired                                 datetime = NULL
,@employment_status_code_id                  int = NULL
,@separation_date                            datetime = NULL
,@separation_reason_id                       int = NULL
,@eligibility_issue_status_id                int = NULL
,@signed_in_state_id                         int = NULL
,@grace_period_status_id                     int = NULL
,@active                                     bit = NULL
,@object_row_version                         rowversion = NULL OUTPUT --< concurrency check
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   		 INT,
@ERROR_CANT_INSERT 	 NVARCHAR(50),
@ERROR_CANT_UPDATE 	 NVARCHAR(50),
@SP_EXCEPTION 		 INT,
@SP_ERROR_RECORD_LOCKED      INT,
@SP_ERROR_NOT_EXIST	        INT,
@ERROR_RECORD_LOCKED         NVARCHAR(50),
@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS                  = 0,
@SP_EXCEPTION                = -1,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= '',
@SP_ERROR_RECORD_LOCKED      = 2,
@SP_ERROR_NOT_EXIST	         = 3,
@ERROR_RECORD_LOCKED         = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'

-- output table to capture new rowversion
DECLARE @capture_row_version TABLE    -- table variable
(    new_row_version		binary(8) );

--
DECLARE @TranCounter int;
SET @TranCounter = @@TRANCOUNT;
--
IF @family_eligibility_id IS NULL
BEGIN	-- INSERT BLOCK

IF(@TranCounter = 0)
-- Only start a transaction if there isn't one currently open
BEGIN TRANSACTION
ELSE
-- Already in a transaction, so set a save point
SAVE TRANSACTION SAVEPROC

---Create a new record family_eligibility_employment_detail
INSERT INTO family_eligibility_employment(
date_hired
,employment_status_code_id
,separation_date
,separation_reason_id
,active
)
VALUES
(@date_hired
,@employment_status_code_id
,@separation_date
,@separation_reason_id
,@active
)

IF @@ERROR <> 0
BEGIN
IF @TranCounter = 0
ROLLBACK TRANSACTION
ELSE
ROLLBACK TRANSACTION SAVEPROC

RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
SET @family_eligibility_employment_id = SCOPE_IDENTITY()

-- Create a new enrollment record
INSERT INTO family_eligibility(
family_eligibility_ud
,benefit_contract_id
,never_under_coverage
,family_eligibility_termination_reason_id
,grace_period_status_id
,effective_from
,effective_thru
,dependent_only_policy
,current_status_id
,auto_generated_dependent_member_records
,family_disclosure_restriction_id
,disclosure_date
,family_eligibility_employment_id
,eligibility_issue_status_id
,signed_in_state_id
,active
)
OUTPUT inserted.object_row_version into @capture_row_version
VALUES
(@family_eligibility_ud
,@benefit_contract_id
,@never_under_coverage
,@family_eligibility_termination_reason_id
,@grace_period_status_id
,@effective_from
,@effective_thru
,@dependent_only_policy
,@current_status_id
,@auto_generated_dependent_member_records
,@family_disclosure_restriction_id
,@disclosure_date
,@family_eligibility_employment_id
,@eligibility_issue_status_id
,@signed_in_state_id
,@active
)

IF @@ERROR <> 0
BEGIN
IF @TranCounter = 0
ROLLBACK TRANSACTION
ELSE
ROLLBACK TRANSACTION SAVEPROC
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--
SET @object_row_version = (SELECT new_row_version FROM @capture_row_version);
SET @family_eligibility_id = SCOPE_IDENTITY()

END		-- end INSERT block
ELSE
BEGIN	-- BEGIN UPDATE block
-- Check Concurrency
DECLARE @concurrencyCheckResult int
EXEC @concurrencyCheckResult = plx_family_eligibility_check_and_rev_row_version @family_eligibility_id, @object_row_version
IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END
-- End Check concurrency

DECLARE @ErrorVar int, @RowCountVar int;

IF(@TranCounter = 0)
-- Only start a transaction if there isn't one currently open
BEGIN TRANSACTION
ELSE
-- Already in a transaction, so set a save point
SAVE TRANSACTION SAVEPROC

UPDATE family_eligibility_employment
SET
date_hired                               = @date_hired
,employment_status_code_id                = @employment_status_code_id
,separation_date                          = @separation_date
,separation_reason_id                     = @separation_reason_id
,active                                   = @active
,modified_user_name                       = ORIGINAL_LOGIN()
,modified_date                            = GETDATE()
WHERE family_eligibility_employment.family_eligibility_employment_id = @family_eligibility_employment_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
-- ERROR - rollback the transaction and return an error
IF @ErrorVar <> 0
BEGIN
IF @TranCounter = 0
ROLLBACK TRANSACTION
ELSE
ROLLBACK TRANSACTION SAVEPROC
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
-- NO CHILD EMPLOYMENT RECORD TO UPDATE, SO CREATE ONE
ELSE IF @RowCountVar = 0
-- RT:10436 - Record locking occurs when famly_eligibility_employment record does not exist for family_eligibility
-- insert a record if no child record exists (import mechanisms do not create record)
---Create a new record family_eligibility_employment_detail
BEGIN -- RT:10436 fix
INSERT INTO family_eligibility_employment(
date_hired
,employment_status_code_id
,separation_date
,separation_reason_id
,active
)
VALUES
(@date_hired
,@employment_status_code_id
,@separation_date
,@separation_reason_id
,@active
)

-- If error doing the insert of the child employent record, rollback transaction
-- and return an error, saying we cannot UPDATE (not insert, because we are updating the
-- parent Enrollment record, from the user's point of view).
IF @@ERROR <> 0
BEGIN
IF @TranCounter = 0
ROLLBACK TRANSACTION
ELSE
ROLLBACK TRANSACTION SAVEPROC
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
SET @family_eligibility_employment_id = SCOPE_IDENTITY()

END -- RT:10436 fix end

-- Update family_eligibility
DECLARE
@effective_from_old	DATETIME,
@effective_thru_old DATETIME

SELECT	 @effective_from_old	=  effective_from
,@effective_thru_old	=  effective_thru
FROM	family_eligibility
WHERE	family_eligibility_id	= @family_eligibility_id

UPDATE family_eligibility
SET
family_eligibility_ud                    = @family_eligibility_ud
,benefit_contract_id                      = @benefit_contract_id
,never_under_coverage                     = @never_under_coverage
,family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
,grace_period_status_id                   = @grace_period_status_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,dependent_only_policy                    = @dependent_only_policy
,current_status_id                        = @current_status_id
,auto_generated_dependent_member_records  = @auto_generated_dependent_member_records
,family_disclosure_restriction_id         = @family_disclosure_restriction_id
,disclosure_date                      	  = @disclosure_date
,family_eligibility_employment_id         = @family_eligibility_employment_id
,signed_in_state_id                       = @signed_in_state_id
,active                                   = @active
,modified_user_name                       = ORIGINAL_LOGIN()
,modified_date                            = GETDATE()
OUTPUT inserted.object_row_version into @capture_row_version
WHERE family_eligibility_id = @family_eligibility_id

SET @object_row_version = (SELECT new_row_version FROM @capture_row_version);

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN
IF @TranCounter = 0
ROLLBACK TRANSACTION
ELSE
ROLLBACK TRANSACTION SAVEPROC

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

-- if effective from or effective through is updated, set effective from and thru of eligibility accordingly
-- Case 1:  User changes the Effective From date on the Family Eligibility record to a date that is before the currently set date
-- no change
-- Case 2:  User changes the Effective From date on the Family Eligibility record to a date that is after the currently set date
IF DATEDIFF(day, @effective_from_old, @effective_from) > 0
BEGIN
-- Case 2.1: full termination
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_from = effective_thru
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,never_under_coverage = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		DATEDIFF(day, bpfem.effective_thru, @effective_from) > 0

-- Case 2.2: partial termination
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_from = @effective_from
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		DATEDIFF(day, bpfem.effective_from, @effective_from) > 0
AND		(DATEDIFF(day, bpfem.effective_thru, @effective_from) <= 0 OR bpfem.effective_thru IS NULL)

END
-- Case 3:  User changes the Effective Through date on the Family Eligibility record to a date that is after the currently set date
-- no change
-- Case 4:  User changes the Effective Through date on the Family Eligibility record to a date that is before the currently set date
IF (DATEDIFF(day, @effective_thru_old, @effective_thru) < 0) OR (@effective_thru IS NOT NULL AND @effective_thru_old IS NULL)
BEGIN
-- Case 4.1: full termination
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_thru = effective_from
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,never_under_coverage = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		DATEDIFF(day, bpfem.effective_from, @effective_thru) < 0

-- Case 4.2: partial termination
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_thru = @effective_thru
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		DATEDIFF(day, bpfem.effective_from, @effective_thru) >= 0
AND		(DATEDIFF(day, bpfem.effective_thru, @effective_thru) < 0 OR bpfem.effective_thru IS NULL)

END

-- Case 5:  User changes the Effective From date and the Effective Through Date on the Family Eligibility
--			record to the same date and sets the Never Covered flag to checked.
IF DATEDIFF(day, @effective_from, @effective_thru) = 0 AND @never_under_coverage = 1
BEGIN
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_thru = effective_from
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,never_under_coverage = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
END
-- Case 6:  User changes the Effective From date and the Effective Through Date on the Family Eligibility
--			record to the same date and does not set the Never Covered flag to checked
IF DATEDIFF(day, @effective_from, @effective_thru) = 0 AND @never_under_coverage = 0
BEGIN
-- Case 6.1: effective from and thru of eligibility don't cover the date of family eligibility
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_from = effective_thru
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,never_under_coverage = 1
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		(DATEDIFF(day, effective_from, @effective_from) < 0 OR DATEDIFF(day, effective_thru, @effective_from) > 0)

-- Case 6.2: effective from and thru of eligibility cover the date of family eligibility
UPDATE 	family_eligibility_member_benefit_plan
SET
effective_from = @effective_from
,effective_thru = @effective_from
,family_eligibility_termination_reason_id = CASE WHEN	family_eligibility_termination_reason_id IS NULL
THEN	@family_eligibility_termination_reason_id
ELSE family_eligibility_termination_reason_id END
,never_under_coverage = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

FROM	dbo.family_eligibility_member_benefit_plan bpfem
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	family_eligibility_member.family_eligibility_id = @family_eligibility_id
AND		(DATEDIFF(day, effective_from, @effective_from) >= 0 AND DATEDIFF(day, effective_thru, @effective_from) <= 0)
END
--
--
END -- END UPDATE BLOCK
--
IF @TranCounter = 0
COMMIT TRANSACTION
--
RETURN @SP_SUCCESS
--
GO
