USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_assignment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version		Description
--------------------------------------------------------------------------------
02/06/2012			dcannon				1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save the Claim Processing Rule Framework Assignments grid.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_processing_rule_framework_assignment_save]
(
@claim_processing_rule_framework_assignment_id	INT = 0   OUTPUT
,@claim_processing_rule_framework_id			INT = NULL
,@client_group_id								INT = NULL
,@line_of_business_id                           INT = NULL
,@payment_contract_id							INT = NULL
,@effective_from								DATETIME = NULL
,@effective_thru								DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'


IF ISNULL(@claim_processing_rule_framework_assignment_id, 0) = 0
BEGIN
INSERT INTO claim_processing_rule_framework_assignment
(
claim_processing_rule_framework_id
,line_of_business_id
,client_group_id
,payment_contract_id
,effective_from
,effective_thru
)
VALUES
(@claim_processing_rule_framework_id
,@line_of_business_id
,@client_group_id
,@payment_contract_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @claim_processing_rule_framework_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS
(
SELECT claim_processing_rule_framework_assignment_id
FROM claim_processing_rule_framework_assignment
WHERE claim_processing_rule_framework_assignment_id = @claim_processing_rule_framework_assignment_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE claim_processing_rule_framework_assignment
SET
claim_processing_rule_framework_id	= @claim_processing_rule_framework_id
,line_of_business_id			= @line_of_business_id
,client_group_id				= @client_group_id
,payment_contract_id			= @payment_contract_id
,effective_from 				= @effective_from
,effective_thru 				= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_assignment_id = @claim_processing_rule_framework_assignment_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
