USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_vendor_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/12/2005	Tinh Do		Created		15901:Client & Group
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Vendor Assignments grid on Group form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_vendor_list_load]
(
@client_group_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_group_vendor.client_group_vendor_id
,client_group_vendor.client_group_id

,client_group_vendor.vendor_id
,vendor.vendor_ud

,client_group_vendor.criteria_id
,criteria.criteria_ud

,client_group_vendor.effective_from
,client_group_vendor.effective_thru
,isnull(client_group_vendor.effective_thru,'9999-12-31') as order_effective_thru

FROM client_group_vendor
left join vendor  ON vendor.vendor_id = client_group_vendor.vendor_id
left join criteria  ON criteria.criteria_id = client_group_vendor.criteria_id

WHERE client_group_vendor.client_group_id = @client_group_id
ORDER BY order_effective_thru desc , criteria.criteria_ud
--
RETURN @SP_SUCCESS
--
GO
