USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_topiclist_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Jan 5, 2016
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to Load Topic ID drop down list.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_topiclist_load]
(
@form_name NVARCHAR(100)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @form_name IS NOT NULL
BEGIN
SELECT
ai_data_type.ui_engine_data_type_id
,ai_topic.additional_information_topic_ud
,ai_topic.additional_information_topic_id
FROM
additional_information_topic ai_topic
INNER JOIN additional_information ai
ON ai_topic.additional_information_topic_id = ai.additional_information_topic_id
INNER JOIN additional_information_form ai_form
ON ai_form.additional_information_form_id = ai.additional_information_form_id
INNER JOIN additional_information_data_type ai_data_type
ON ai_topic.additional_information_data_type_id = ai_data_type.additional_information_data_type_id

WHERE   ai_form.additional_information_form_nm = @form_name
ORDER BY additional_information_topic_ud
END
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
