USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_by_benefit_false_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/25/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/25/2005	Trinh Le	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Exceptions: Do Not Apply When True"
in Benefit Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_criteria_by_benefit_false_load]

(
@benefit_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_criteria.benefit_criteria_id
,benefit_criteria.criteria_id

,criteria.criteria_ud
,benefit_criteria.criteria_are_true
,benefit_criteria.effective_from
,benefit_criteria.effective_thru
,benefit_criteria.modified_date
FROM benefit_criteria
left join benefit  ON benefit.benefit_id = benefit_criteria.benefit_id
left join criteria  ON criteria.criteria_id = benefit_criteria.criteria_id
WHERE (benefit_criteria.benefit_id = @benefit_id) and (benefit_criteria.criteria_are_true = 0)

ORDER BY
CASE WHEN benefit_criteria.effective_from IS NULL THEN 0 ELSE 1 END , benefit_criteria.effective_from DESC
,CASE WHEN benefit_criteria.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_criteria.effective_thru DESC



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
