USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_rule_rule1_check]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Nov  9 2005  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/09/2005   HungTNguyen	1.0         created
04/21/2008	David Slayton	1.1			Corrected typo.
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to enroll member on Family form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_eligibility_restriction_rule_rule1_check]
(

@eligibility_restriction_id_list		nvarchar(510) = NULL
,@benefit_contract_period_benefit_plan_id       Int = NULL
,@relationship_to_insured_id					Int = NULL
,@family_eligibility_member_id 					Int	= NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


DECLARE @strSQL nvarchar(3990)

IF RTRIM(@eligibility_restriction_id_list) = ''
SET @eligibility_restriction_id_list = NULL


SET @strSQL ='
SELECT
count(e.eligibility_restriction_relationship_to_subscriber_id) as benefit_plan_count
FROM eligibility_restriction_relationship_to_subscriber e

WHERE ( e.benefit_category_id is not null) '

IF NOT @eligibility_restriction_id_list IS NULL
begin
SET @strSQL = @strSQL + 'and (e.eligibility_restriction_id in ('+  dbo.plx_EncodeStringWildCard(@eligibility_restriction_id_list,0) +' ) ) '
end

SET @strSQL = @strSQL +' and( (e.relationship_to_insured_id='+ CONVERT(varchar(10), @relationship_to_insured_id)+' )
or ( e.relationship_to_insured_set_id in (
select DISTINCT  rin.relationship_to_insured_set_id
from    relationship_in_the_relationship_set rin
INNER JOIN relationship_to_insured on  relationship_to_insured.relationship_to_insured_id=rin.relationship_to_insured_id
INNER JOIN relationship_to_insured_set rs on  rs.relationship_to_insured_set_id=rin.relationship_to_insured_set_id
where   (rin.relationship_to_insured_id='+ CONVERT(varchar(10), @relationship_to_insured_id)+')
AND(
(rin.effective_from IS NULL OR rin.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND(rin.effective_thru IS NULL OR rin.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101))
)
and (
(rs.effective_from IS NULL OR rs.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND(rs.effective_thru IS NULL OR rs.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101))
)
)
)
)
and ( dbo.plx_eligibility_restriction_required_benefit_plan_check( '+ CONVERT(varchar(10), @benefit_contract_period_benefit_plan_id) +  ',e.benefit_category_id,e.benefit_sub_category_id,'+ CONVERT(varchar(10), @family_eligibility_member_id) + ')=0)'


--
print '--------QUERY---------'
print @strSQL
print '------END QUERY-------'


exec(@strSQL)

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
