USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_ar_fee_details_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 08/17/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
08/17/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for AR Fees grid on Claim Payment Run form
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_payment_run_ar_fee_details_load]
(
@claim_payment_run_id    INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cpraf.customer_id,
c.customer_ud,
c.customer_nm,
SUM(cpraf.amount) AS amount

FROM dbo.claim_payment_run_ar_fee cpraf
INNER JOIN dbo.customer c ON cpraf.customer_id = c.customer_id

WHERE cpraf.claim_payment_run_id = @claim_payment_run_id

GROUP BY cpraf.customer_id, c.customer_ud, c.customer_nm


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
