USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
HEADER_BEGIN;


REVISION_HISTORY:

Date        Modified By    Version  Description
--------------------------------------------------------------------------------
10/28/05  	PhongQTran     1.0      Created
05/13/2009  Vishwa Jella   2.0      updated with deleting child tables data and added check_delete procedure
05/20/2009  W.Christensen  2.1      Removed BillingMethod and PaymentMethod references (ICU 20277)
05/13/2013	eponomareff    2.2		Added child records for Accounting Information Assignment grid
09/22/2014	eponomareff				RT:6823 changes to support Optimistic Concurrency.

CURRENT_VERSION: 2.2

DESCRIPTION:
Delete Customer object


INPUTS:
@client_id - Key to client table, identifies a single stored in client.

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_customer_delete]
(
@customer_id		    int = NULL   OUTPUT
,@object_row_version	rowversion = NULL
) AS

--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   		 INT,
@SP_EXCEPTION 		 INT,
@SP_ERROR_RECORD_LOCKED      INT,
@SP_ERROR_NOT_EXIST	        INT,
@ERROR_RECORD_LOCKED         NVARCHAR(50),
@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS                  = 0,
@SP_EXCEPTION                = -1,
@SP_ERROR_RECORD_LOCKED      = 2,
@SP_ERROR_NOT_EXIST	       = 3,
@ERROR_RECORD_LOCKED         = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'
--
IF NOT EXISTS (SELECT customer_id FROM customer WHERE customer_id = @customer_id)
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this customer is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_customer_check_delete @customer_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

-- Check Concurrency
DECLARE @concurrencyCheckResult int
EXEC @concurrencyCheckResult = plx_customer_check_and_rev_row_version @customer_id, @object_row_version
IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END
-- End Check concurrency

-- ALL OK SO DO THE DELETE
--Delete child tables

-- tab 1 - general - user assigned result codes
DELETE FROM customer_user_assigned_result_code
WHERE customer_id = @customer_id

-- tab 2 - bill to information - credit card info
DELETE FROM customer_credit_card_information
WHERE customer_id = @customer_id

-- tab 2 - bill to information - banking info
DELETE FROM customer_financial_institution
WHERE customer_id = @customer_id

-- tab 3 - invoice rules - past due penalty rate assignment
DELETE FROM customer_past_due_penalty_rate_assignment
WHERE customer_id = @customer_id

-- tab 3 - invoice rules - account information assignment
DELETE FROM customer_past_due_penalty_account_assignment
WHERE customer_id = @customer_id

-- tab 6 - Contacts - customer contact
DELETE FROM customer_contact
WHERE customer_id = @customer_id

--Delete the customer
DELETE FROM customer
WHERE customer_id = @customer_id

IF @@error > 0
BEGIN
RETURN @SP_EXCEPTION
END
END

RETURN @SP_SUCCESS
GO
