USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_visit_definition_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 2008/12/11
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2008/12/11	lrenard			1.0	created
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
To load visit definitions for a benefit_contract_period_benefit_plan.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_visit_definition_load]
(
@benefit_contract_period_benefit_plan_id		INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcpbpvd.benefit_contract_period_benefit_plan_visit_definition_id
,bcpbpvd.benefit_contract_period_benefit_plan_id
,c.criteria_id
,c.criteria_ud
,vd.visit_definition_id
,vd.visit_definition_ud
,bcpbpvd.effective_from
,bcpbpvd.effective_thru
,bcpbpvd.active
,bcpbpvd.created_user_name
,bcpbpvd.created_group_id
,bcpbpvd.created_date
,bcpbpvd.modified_date

FROM benefit_contract_period_benefit_plan_visit_definition AS bcpbpvd
LEFT JOIN criteria c ON bcpbpvd.criteria_id = c.criteria_id
INNER JOIN visit_definition vd ON bcpbpvd.visit_definition_id = vd.visit_definition_id

WHERE bcpbpvd.benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
