USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_referral_authorization_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Referrals / Authorizations"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_episode_referral_authorization_save]

(
@episode_referral_authorization_id          int = NULL   OUTPUT
,@episode_id                                 int = NULL
,@referral_id                                int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @episode_referral_authorization_id is Null
BEGIN
--- Create a new record
INSERT INTO episode_referral_authorization(
episode_id
,referral_id
,active
)
VALUES
(@episode_id
,@referral_id
,@active
)
--
SET @episode_referral_authorization_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM episode_referral_authorization WHERE episode_referral_authorization_id = @episode_referral_authorization_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE episode_referral_authorization
SET
episode_id                               = @episode_id
,referral_id                              = @referral_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE episode_referral_authorization_id = @episode_referral_authorization_id
END
--
RETURN @SP_SUCCESS
GO
