USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_client_fee_calculation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 07/14/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/14/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads data for the "Calculation Rule" drop down on the Client Fee Setup form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_client_fee_calculation_rule_load]

AS
--
SELECT
client_fee_calculation_rule_id
,client_fee_calculation_rule_ud
,golden_key
FROM client_fee_calculation_rule
ORDER BY client_fee_calculation_rule_ud
--
RETURN 0
GO
