USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_status_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Cuong Ngoc Le
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Cuong Ngoc Le	1.0			Created and used for Adjudication
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROC [dbo].[plx_adjudication_status_load]
AS
SELECT
adjudication_status_id,
adjudication_status_ud,
golden_key
FROM adjudication_status
WHERE active=1
GO
