USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:



@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_save]

(
@episode_id                                 int = NULL   OUTPUT
,@episode_ud                                 nvarchar(100) = NULL
,@episode_description                                nvarchar(510) = NULL
,@episode_category_id                        int = NULL
,@episode_type_id                            int = NULL
,@criteria_id                                int = NULL
,@family_eligibility_member_benefit_plan_id  int = NULL
,@effective_from_date_rule_id                int = NULL
,@episode_effective_from                             datetime = NULL
,@effective_through_date_rule_id                int = NULL
,@episode_effective_thru                             datetime = NULL
,@cob_applicable                             bit = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @episode_id is Null
BEGIN
--- Create a new record
INSERT INTO episode(
episode_ud
,description
,episode_category_id
,episode_type_id
,criteria_id
,family_eligibility_member_benefit_plan_id
,effective_from_date_rule_id
,effective_from
,effective_thru_date_rule_id
,effective_thru
,cob_applicable
,active
)
VALUES
(@episode_ud
,@episode_description
,@episode_category_id
,@episode_type_id
,@criteria_id
,@family_eligibility_member_benefit_plan_id
,@effective_from_date_rule_id
,@episode_effective_from
,@effective_through_date_rule_id
,@episode_effective_thru
,@cob_applicable
,@active
)
--
SET @episode_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM episode WHERE episode_id = @episode_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE episode
SET
episode_ud                               = @episode_ud
,description                              = @episode_description
,episode_category_id                      = @episode_category_id
,episode_type_id                          = @episode_type_id
,criteria_id                              = @criteria_id
,family_eligibility_member_benefit_plan_id   = @family_eligibility_member_benefit_plan_id
,effective_from_date_rule_id              = @effective_from_date_rule_id
,effective_from                           = @episode_effective_from
,effective_thru_date_rule_id              = @effective_through_date_rule_id
,effective_thru                           = @episode_effective_thru
,cob_applicable                           = @cob_applicable
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE episode_id = @episode_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--



END
--
RETURN @SP_SUCCESS
GO
