USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rate_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rate_list_load]
(
@family_eligibility_member_benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT DISTINCT
er.eligibility_rate_id
,er.family_eligibility_member_benefit_plan_id
,er.reported_date
,er.eligibility_rate_type_id
,ert.eligibility_rate_type_ud
,ert.description as eligibility_rate_type_description
,is_itemized =
CASE WHEN items.eligibility_rate_id IS NOT NULL THEN CONVERT(BIT, 1)
ELSE CONVERT(BIT, 0)
END
,er.customer_id
,c.customer_ud
,er.accounting_company_id
,ac.accounting_company_ud
,er.ar_accounting_company_account_id
,ar_aca.accounting_company_account_ud as ar_accounting_company_account_ud
,er.revenue_accounting_company_account_id
,revenue_aca.accounting_company_account_ud as revenue_accounting_company_account_ud
,er.is_exclude_from_premium
,er.amount
,er.eligibility_rate_retro_type_id
,errt.eligibility_rate_retro_type_ud
,er.effective_from
,er.effective_thru
,er.eligibility_rate_code_id
,rc.eligibility_rate_code_ud
,rc.description as eligibility_rate_code_description
,er.comment
,er.modified_date
,er.modified_user_name

FROM dbo.eligibility_rate er
LEFT JOIN dbo.eligibility_rate_type ert ON er.eligibility_rate_type_id = ert.eligibility_rate_type_id
LEFT JOIN dbo.eligibility_rate_retro_type errt ON er.eligibility_rate_retro_type_id = errt.eligibility_rate_retro_type_id
LEFT JOIN dbo.customer c ON er.customer_id = c.customer_id
LEFT JOIN dbo.accounting_company ac ON er.accounting_company_id = ac.accounting_company_id
LEFT JOIN dbo.accounting_company_account ar_aca ON er.ar_accounting_company_account_id = ar_aca.accounting_company_account_id
LEFT JOIN dbo.accounting_company_account revenue_aca ON er.revenue_accounting_company_account_id = revenue_aca.accounting_company_account_id
LEFT JOIN dbo.eligibility_rate_code rc ON er.eligibility_rate_code_id = rc.eligibility_rate_code_id
LEFT JOIN dbo.eligibility_rate_eligibility_rate_item items ON er.eligibility_rate_id = items.eligibility_rate_id

WHERE
er.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

RETURN 0
GO
