USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_get_active_payments]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_get_active_payments]
@disbursementQueueId INT,
@onDemandRundId INT
AS

SET NOCOUNT ON;

-- The disbursement service uses an in-process status on payments while it is working over all of the transactions in batches.
-- If the service stops, either for a time limit, or a fatal error such as network timeouts or coding errors, these payments
-- will be left in the 'IN_DISBURSEMENT' status.  This is intended; the service uses this status to pull payments in this state
-- so that it can continue adding transactions to the payments next time the service runs.
--
-- This stored procedure pulls all of the in-process payments that belong to the queue being processed.

DECLARE
@inDisbursementStatusId INT,
@paymentSourceClaimsPaymentId INT;

SELECT @inDisbursementStatusId = accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'IN_DISBURSEMENT';
SELECT @paymentSourceClaimsPaymentId = accounting_payment_source_id FROM accounting_payment_source WHERE golden_key = 'CLAIMS';


DECLARE @details TABLE
(
accounting_transaction_ap_payment_detail_id INT NOT NULL,
accounting_transaction_ap_id INT NULL,
accounting_payment_status_id INT NULL,
accounting_payment_source_id INT NULL,
bank_account_id INT NOT NULL,
payment_method_payment_id INT NULL,
disbursement_claim_payment_queue_id INT NULL,
disbursement_on_demand_run_id INT NULL,
claim_payment_grouping_rule_id INT NULL
);

-- Find all of the payment detail records belonging to the queue that are in-process.  Stuffed into a temp table because there
-- are multiple unique result sets based off the list of payments expected by the service.
INSERT INTO @details (
accounting_transaction_ap_payment_detail_id,
accounting_transaction_ap_id,
accounting_payment_status_id,
accounting_payment_source_id,
bank_account_id,
payment_method_payment_id,
disbursement_claim_payment_queue_id,
disbursement_on_demand_run_id,
claim_payment_grouping_rule_id
)
SELECT
pd.accounting_transaction_ap_payment_detail_id,
pd.accounting_transaction_ap_id,
pd.accounting_payment_status_id,
pd.accounting_payment_source_id,
pd.bank_account_id,
pd.payment_method_payment_id,
pd.disbursement_claim_payment_queue_id,
pd.disbursement_on_demand_run_id,
pd.claim_payment_grouping_rule_id
FROM
accounting_transaction_ap_payment_detail pd
WHERE
pd.accounting_payment_status_id = @inDisbursementStatusId
AND pd.accounting_payment_source_id = @paymentSourceClaimsPaymentId
AND
(
(@disbursementQueueId IS NOT NULL AND pd.disbursement_claim_payment_queue_id = @disbursementQueueId)
OR
(@onDemandRundId IS NOT NULL AND pd.disbursement_on_demand_run_id = @onDemandRundId)
)

-- Parent transaction for the payment record.
SELECT
atap.accounting_transaction_ap_id,
atap.accounting_transaction_ap_ud,
atap.accounting_source_id,
atap.accounting_source_record_id,
atap.accounting_transaction_status_id,
atap.accounting_transaction_ap_type_id,
atap.transaction_date,
atap.transaction_amount,
atap.vendor_id,
atap.accounting_company_id,
atap.benefit_contract_id
FROM
@details d
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = d.accounting_transaction_ap_id;

-- Payment detail records.
SELECT
accounting_transaction_ap_payment_detail_id,
accounting_transaction_ap_id,
accounting_payment_status_id,
accounting_payment_source_id,
bank_account_id,
payment_method_payment_id,
disbursement_claim_payment_queue_id,
disbursement_on_demand_run_id,
claim_payment_grouping_rule_id
FROM
@details;

-- Distributions for the payments.
SELECT
dist.accounting_transaction_ap_distribution_id,
dist.accounting_transaction_ap_id,
dist.accounting_company_account_id,
dist.is_debit,
dist.amount
FROM
@details d
INNER JOIN accounting_transaction_ap_distribution dist
ON dist.accounting_transaction_ap_id = d.accounting_transaction_ap_id;

-- There is a grouping rule defined as "One Check Per Claim".  If a payment was saved using that rule, when we continue to add transactions
-- to that payment we want to be sure and only add transactions belonging to the same claim.
DECLARE @groupingRulePerClaim INT;
SELECT @groupingRulePerClaim = (SELECT claim_payment_grouping_rule_id FROM claim_payment_grouping_rule WHERE golden_key = 'ONE_CLAIM_PER_CHECK');

SELECT
d.accounting_transaction_ap_id,
MIN(cd.claim_id) as 'claim_id'
FROM
@details d
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = d.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = apto.to_accounting_transaction_ap_id
WHERE
d.claim_payment_grouping_rule_id = @groupingRulePerClaim
GROUP BY
d.accounting_transaction_ap_id;

-- Same-claim zeros are included when a claim has a payable in a payment.  When the service is processing this is an
-- in memory collection used to decide whether to keep or discard same-claim zeros.  When recovering, need to seed that
-- list with all previously seen claim_ids in all the payments being picked back up.
SELECT DISTINCT
d.accounting_transaction_ap_id,
cd.claim_id
FROM
@details d
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = d.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = apto.to_accounting_transaction_ap_id
WHERE
cd.claim_id IS NOT NULL;
GO
