USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_account_balance_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 3/7/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
3/7/2006	HungTNguyen	1.0		created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down account_balance_type (Account Balance Type)
--
REQUIREMENTS:
--
INPUTS:
account_balance_typp_id - Key to account_balance_typp table, identifies a single stored dd_account_balance_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_account_balance_type_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
account_balance_type_id
,account_balance_type_ud
--	account_balance_type_nm
FROM account_balance_type

order by account_balance_type_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
