USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_accumulator_valid_choice_by_family_accumulator_choice_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/17/2005	Hiep Nguyen	1.0		Created
10/31/2005	Hiep Nguyen	1.1		Remove function_name
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dbo.plx_dd_family_valid_choice_by_family_choice_list_load from the accumulator_valid_choice table.
--
REQUIREMENTS:
--
INPUTS:
accumulator_valid_choice_id - Key to accumulator_valid_choice table, identifies a single stored plx_dd_accumulator_valid_choice_by_accumulator_choice_list_load.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_accumulator_valid_choice_by_family_accumulator_choice_list_load]
(
@family_accumulator_choice_list_id int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_id
,accumulator_valid_choice.valid_choice AS family_accumulator_valid_choice
FROM accumulator_valid_choice
WHERE accumulator_valid_choice.accumulator_choice_list_id = @family_accumulator_choice_list_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
