USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_all_treatment_type_in_set_and_category]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
Author: lrenard
Purpose: Retrieves list of Treatment Types in the given Treatment Type Set and/or Treatment Type Category.

Hierarchy:
TREATMENT TYPE SET
TREATMENT TYPE
TREATMENT TYPE CATEGORY
TREATMENT TYPE
TREATMENT TYPE
TREATMENT TYPE CATEGORY
TREATMENT TYPE
TREATMENT TYPE
*/

Create Procedure [dbo].[plx_dto_all_treatment_type_in_set_and_category] (
@treatment_type_set_id int = NULL,
@treatment_type_category_id int = NULL
) As

WITH AllTreatmentTypes (TreatmentTypeId)
AS
(
--Get all treatment type under Set
SELECT treatment_type_id FROM treatment_type_set_treatment_type
WHERE treatment_type_set_id = ISNULL(@treatment_type_set_id,0)
AND @treatment_type_category_id IS NULL
UNION
--Get all treatment type under Set's Categories
SELECT CatToType.treatment_type_id FROM treatment_type_category_treatment_type_set SetToCat
INNER JOIN treatment_type_category_treatment_type CatToType ON CatToType.treatment_type_category_id = SetToCat.treatment_type_category_id
WHERE SetToCat.treatment_type_set_id = ISNULL(@treatment_type_set_id,0)
AND @treatment_type_category_id IS NULL
UNION
SELECT CatToType.treatment_type_id FROM treatment_type_category_treatment_type CatToType
INNER JOIN treatment_type_category_treatment_type_set CatToSet ON CatToSet.treatment_type_category_id = CatToType.treatment_type_category_id
WHERE CatToType.treatment_type_category_id = ISNULL(@treatment_type_category_id,0)
AND CatToSet.treatment_type_set_id = ISNULL(@treatment_type_set_id,0)
)

SELECT DISTINCT * FROM treatment_type WHERE treatment_type_id IN (SELECT TreatmentTypeId FROM AllTreatmentTypes)
GO
