USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le	1.0			create
9-10-2005   Trinh Le				Add alias for description field
9-11-2005	Trinh Le				Add accumulator_choice_list_id as output
05-15-2006	Trinh Le				Load extra column on recordset for coding purpose
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load an accumulator framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_load]
(
@accumulator_framework_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_framework.accumulator_framework_id
,accumulator_framework.accumulator_framework_ud
,accumulator_framework.accumulator_framework_nm
,accumulator_framework.description as accumulatordescription
,accumulator_framework.usage_scope_id
,usage_scope.usage_scope_ud
,cast(null as int) as accumulator_choice_list_id
,null as status_indicator
,accumulator_framework.modified_date
FROM accumulator_framework
left join usage_scope  ON usage_scope.usage_scope_id = accumulator_framework.usage_scope_id
WHERE accumulator_framework.accumulator_framework_id = @accumulator_framework_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
