USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_maintenance_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_family_eligibility_maintenance_list_load]
(
@family_eligibility_member_benefit_plan_id INT = NULL
)
AS
SELECT
fem.family_eligibility_maintenance_id,
fem.eligibility_maintenance_type_code_id,
emtc.eligibility_maintenance_type_code_ud,
fem.eligibility_maintenance_reason_code_id,
emrc.eligibility_maintenance_reason_code_ud,
emrc.description,
fem.comment,
CONVERT(VARCHAR(10), fem.modified_date, 101) AS modified_date,
fem.modified_user_name

FROM dbo.family_eligibility_maintenance fem
LEFT JOIN eligibility_maintenance_reason_code emrc
ON fem.eligibility_maintenance_reason_code_id = emrc.eligibility_maintenance_reason_code_id
JOIN eligibility_maintenance_type_code emtc
ON fem.eligibility_maintenance_type_code_id = emtc.eligibility_maintenance_type_code_id

WHERE fem.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

RETURN 0
GO
