USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_benefit_class_choice_resolution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Date: 10/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek	1.0		Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Delete a single object the benefit_contract_benefit_class_choice_resolution table.
This stored procedure is used in the Class Choice Resolution grid of the Benefit Contract form

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_benefit_class_choice_resolution_delete]
(
@benefit_contract_benefit_class_choice_resolution_id int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --

--
IF @benefit_contract_benefit_class_choice_resolution_id is null
RETURN @SP_SUCCESS

IF NOT EXISTS (SELECT * FROM benefit_contract_benefit_class_choice_resolution WHERE benefit_contract_benefit_class_choice_resolution_id = @benefit_contract_benefit_class_choice_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_contract_benefit_class_choice_resolution
WHERE benefit_contract_benefit_class_choice_resolution_id = @benefit_contract_benefit_class_choice_resolution_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
