USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_status_for_adjudication_inactive_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/14/2005				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'result_code_status' table (dropdown data)
with list of values: "Deny", "Hold", "Pend"

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_result_code_status_for_adjudication_inactive_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
result_code_status_id,
result_code_status_ud,
golden_key
FROM
result_code_status
WHERE (golden_key = N'DENY') OR
(golden_key = N'PEND') OR
(golden_key = N'HOLD')
ORDER BY result_code_status_ud ASC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
