USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_cascade_term_check]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 08/30/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Used to CHECK UNDERLYING OBJECT DATES PRIOR TO terminating a Client or Group and child objects:
Group (for client) - effective thru and termination reason
Benfit Contract - effective thru and benefit termination reason
Benfit Contract Period - effective thru and benefit termination reason

Does not check objects for which "Never Under Coverage" flag may be set
Enrollment
Eligibility

Called by either:
a) frmClientCascadeTermination - which is launched from the "Cascade Term" button on the Client Form
or
b) frmGroupCascadeTermination - which is launched from the "Cascade Term" button on the Group Form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_cascade_term_check]
(
@effective_thru									datetime = null
-- CLIENT / GROUP INFO
,@client_id											int = NULL
,@client_group_id									int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_VALIDATION_SUCCESS int,
@SP_VALIDATION_FAILS int,
@SP_EXCEPTION int

SELECT
@SP_VALIDATION_SUCCESS = 0,	-- indicates it is OK to do the cascade term
@SP_VALIDATION_FAILS = 1,	-- indcates that it is NOT OK to do the casdcade term
@SP_EXCEPTION = -1

-- Validation: make sure there is an effective thru date given
IF ISNULL(@effective_thru,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Determine: whether this if for a client or group
IF ISNULL(@client_group_id,0) = 0
-- since client_group_id was not given, this must be for a client
BEGIN
-- Check to see if client exists
IF ISNULL(@client_id,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Verify the Term date for the client is not before the FROM DATE for the CLIENT
IF EXISTS
(SELECT client_id FROM client
WHERE client_id = @client_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the client is not before the FROM DATE for any CLIENT CUSTOMER
IF EXISTS
(SELECT client_id FROM client_customer
WHERE client_id = @client_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the client is not before the FROM DATE for any CLIENT VENDOR
IF EXISTS
(SELECT client_id FROM client_vendor
WHERE client_id = @client_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the client is not before the FROM DATE for any GROUP
IF EXISTS
(SELECT cg.client_group_id FROM client_group cg
WHERE cg.client_id = @client_id
AND cg.effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the client is not before the FROM DATE for any BENEFIT CONTRACT
IF EXISTS
(SELECT bc.benefit_contract_id FROM benefit_contract bc
INNER JOIN client_group cg ON cg.client_group_id = bc.client_group_id
WHERE cg.client_id = @client_id
AND bc.effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the client is not before the FROM DATE of the LAST UNTERMED BENEFIT PERIOD per Benefit Contract
IF EXISTS
(SELECT bcp.benefit_contract_period_id FROM benefit_contract_period bcp
INNER JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
AND bcp.effective_thru IS NULL
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND bcp.effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Validation succeeds
RETURN @SP_VALIDATION_SUCCESS

END
-- If we are terming a group, the SQL is the same, except that it does not go up to the client level
ELSE
-- This is just for a single Group (not a Client)
BEGIN

-- Check to see if group exists
IF ISNULL(@client_group_id,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Verify the Term date for the group is not before the FROM DATE for the GROUP
IF EXISTS
(SELECT client_group_id FROM client_group
WHERE client_group_id = @client_group_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the group is not before the FROM DATE for any GROUP CUSTOMER
IF EXISTS
(SELECT client_group_id FROM client_group_customer
WHERE client_group_id = @client_group_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the group is not before the FROM DATE for any GROUP VENDOR
IF EXISTS
(SELECT client_group_id FROM client_group_vendor
WHERE client_group_id = @client_group_id
AND effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the group is not before the FROM DATE for any BENEFIT CONTRACT under the group
IF EXISTS
(SELECT bc.benefit_contract_id FROM benefit_contract bc
WHERE bc.client_group_id = @client_group_id
AND bc.effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Verify the Term date for the group is not before the FROM DATE of the LAST UNTERMED BENEFIT PERIOD per Benefit Contract
IF EXISTS
(SELECT bcp.benefit_contract_period_id FROM benefit_contract_period bcp
INNER JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
AND bcp.effective_thru IS NULL
WHERE bc.client_group_id = @client_group_id
AND bcp.effective_from > @effective_thru)
BEGIN
RETURN @SP_VALIDATION_FAILS
END

-- Validation succeeds
RETURN @SP_VALIDATION_SUCCESS

END

IF (@@ERROR <> 0)
RETURN @SP_EXCEPTION
--
RETURN @SP_VALIDATION_SUCCESS
--
GO
