USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_most_recent_coverage_levels_for_enrollment]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_get_most_recent_coverage_levels_for_enrollment]
(
@family_eligibility_id                      INT = 0,        -- calling form primary key
@benefit_plan_id                            INT = NULL,     -- used for filter (optional)
@benefit_contract_period_benefit_plan_id    INT = NULL      -- used for filter (optional)
)
AS

-- set @benefit_plan_id based on @benefit_contract_period_benefit_plan_id, if needed.
IF @benefit_contract_period_benefit_plan_id IS NOT NULL AND @benefit_plan_id IS NULL
SET @benefit_plan_id = (SELECT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id);

DECLARE @edi_coverage_level NVARCHAR(10) =
(SELECT TOP 1 edi.coverage_level_code_HD05
FROM edi_import_coverage_level_detail edi
WHERE
edi.family_eligibility_id = @family_eligibility_id
AND
@benefit_plan_id = edi.benefit_plan_id
ORDER BY import_date desc);

DECLARE @qc_coverage_level NVARCHAR(50) =
(SELECT TOP 1 tc.tier_criteria_ud
FROM coverage_level_state cls
LEFT JOIN tier_criteria tc ON cls.tier_criteria_id = tc.tier_criteria_id
WHERE
cls.family_eligibility_id = @family_eligibility_id
AND
@benefit_plan_id = cls.benefit_plan_id
ORDER BY as_of_date desc, cls.modified_date )

SELECT
@edi_coverage_level  as edi_coverage_level ,
@qc_coverage_level as qc_coverage_level;

RETURN 0
GO
