USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_11_1_Result_code_cleanup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_11_1_Result_code_cleanup]
(
@SP_TableName NVARCHAR(255) = NULL ,
@SP_ColumnName NVARCHAR(255) = NULL ,
@SP_table_row_id INT = NULL ,
@SP_short_description VARCHAR(255) = NULL ,
@SP_new_result_code VARCHAR(255) = NULL ,
@SP_error_code INT = 0 OUT

)
AS
BEGIN
SET NOCOUNT ON ;

DECLARE @SP_rowExists INT = 0 ,
@SP_strSQLRowExists NVARCHAR(1000) = NULL ,
@SP_strSQLRowExistsParamDef NVARCHAR(300) = NULL ,
@SP_error_msg NVARCHAR(350) = NULL

SELECT  @SP_strSQLRowExistsParamDef = N'@SP_tablename nvarchar(255), @SP_columnName nvarchar(255), @SP_table_row_id int, @count_out int OUTPUT'
SELECT  @SP_strSQLRowExists = N'SELECT @count_out = count(*) FROM  ['
+ @SP_TableName + '] WHERE [' + @SP_ColumnName
+ '] in (select result_code_id from result_code '
+ 'where table_row_id = '
+ CONVERT(NVARCHAR(100), @SP_table_row_id) + ')'

EXECUTE sp_executesql @SP_strSQLRowExists, @SP_strSQLRowExistsParamDef,
@SP_TableName, @SP_ColumnName, @SP_table_row_id,
@count_out = @SP_rowExists OUTPUT ;

IF @SP_rowExists > 0 -- Found at least one reference to this result code, so perform update instead of delete
BEGIN
PRINT 'Update  old table row id ' + CONVERT(NVARCHAR(50), @SP_table_row_id) + ' in ' + @SP_TableName

UPDATE  dbo.result_code
SET     table_row_id = NULL ,
golden_key = NULL ,
gsu = NULL ,
ACTIVE = 0 ,
result_code_ud = SUBSTRING(result_code_ud, 1, 6)
+ ' Replaced' ,
short_message = @SP_short_description ,
long_message = 'Replaced, refer to '
+ @SP_new_result_code + '; ' + long_message
WHERE   table_row_id = @SP_table_row_id
IF ( @@ERROR <> 0 )
GOTO ERR_HANDLER
END
ELSE
BEGIN
PRINT 'Delete  old table row id ' + CONVERT(NVARCHAR(50), @SP_table_row_id) + ' in ' + @SP_TableName
DELETE  FROM dbo.result_code
WHERE   table_row_id = @SP_table_row_id
IF ( @@ERROR <> 0 )
GOTO ERR_HANDLER
END
RETURN 0

ERR_HANDLER:
RETURN 1

END

-- End Stored Procedure def
GO
