USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_framework_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek 	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Writes a single object into the benefit_contract_accumulator_framework table.
This stored procedure is used in the Accumulator Framework of the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_accumulator_framework_id - Key to benefit_contract_accumulator_framework table, identifies a single benefit_contract_accumulator_framework_list,
@benefit_contract_id  - A property value of the benefit_contract_accumulator_framework_list object.
@benefit_framework_id  - A property value of the benefit_contract_accumulator_framework_list object.

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_accumulator_framework_save]
(
@benefit_contract_accumulator_framework_id      int = NULL   OUTPUT
,@benefit_contract_id                            int = NULL
,@accumulator_framework_id                   int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

IF (isnull(@benefit_contract_accumulator_framework_id,0) <=0)
BEGIN
--- Create a new record
INSERT INTO benefit_contract_accumulator_framework(
benefit_contract_id
,accumulator_framework_id
)
VALUES
(@benefit_contract_id
,@accumulator_framework_id
)
--

END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_accumulator_framework WHERE benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_accumulator_framework
SET
benefit_contract_id                          = @benefit_contract_id
,accumulator_framework_id                 = @accumulator_framework_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_accumulator_framework_id = @benefit_contract_accumulator_framework_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
