USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_accumulator_valid_choice_by_episode_level_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/17/2005	Hiep Nguyen	1.0		Created
10/31/2005	Hiep Nguyen	1.1		Remove function_name
03/16/2006	Trinh Le	                combine valid choice and banded table into one column
03/16/2007	TINH DO		2.0		Add ui_engine_data_type_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single plx_dd_family_accumulator_valid_choice_by_benefit_plan_level_load from the accumulator_valid_choice table.
--
REQUIREMENTS:
--
INPUTS:
accumulator_valid_choice_id - Key to accumulator_valid_choice table, identifies a single stored dd_accumulator_valid_choice.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_family_accumulator_valid_choice_by_episode_level_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_class.ui_engine_data_type_id
,accumulator_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_id
,accumulator_valid_choice.valid_choice AS hiden_valid_choice
,accumulator_rule.accumulator_limit_rule_id as accumulator_limit_rule
,accumulator_rule.accumulator_sub_limit_rule_id as accumulator_sub_limit_rule

FROM   accumulator_valid_choice
inner join accumulator_choice_list  ON accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id
INNER JOIN accumulator_framework_accumulator_class ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_class ON accumulator_framework_accumulator_class.accumulator_class_id = accumulator_class.accumulator_class_id

inner join resolve_choice_list_at ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
inner join	(SELECT 	 			--,individual_accumulator_choice_list_id
family_accumulator_choice_list_id
,accumulator_limit_rule_id
,NULL AS accumulator_sub_limit_rule_id

FROM 	accumulator_limit_rule
WHERE	 family_accumulator_choice_list_id IS NOT NULL
AND ((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc1
WHERE	avc1.accumulator_choice_list_id = accumulator_limit_rule.family_accumulator_choice_list_id) > 1)
UNION
SELECT	aslr.family_accumulator_choice_list_id
,NULL AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id

FROM 	accumulator_sub_limit_rule aslr
WHERE	 family_accumulator_choice_list_id IS NOT NULL
AND ((SELECT COUNT(accumulator_valid_choice_id)
FROM 	accumulator_valid_choice avc2
WHERE	avc2.accumulator_choice_list_id = aslr.family_accumulator_choice_list_id) > 1)
) accumulator_rule   ON accumulator_rule.family_accumulator_choice_list_id = accumulator_choice_list.accumulator_choice_list_id
WHERE
resolve_choice_list_at.golden_key = N'EPISODE'
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
