USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_bank_accounts_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_bank_accounts_load]
(
@accounting_company_account_id INT = NULL
)
AS
--
DECLARE @SP_SUCCESS INT = 0;

SELECT
ba.bank_account_id
,ba.bank_account_ud as 'Bank Account ID'
,ba.bank_name as 'Bank Name'
,ba.bank_account_number as 'Bank Account Number'
,ba.effective_from as 'Eff From'
,ba.effective_thru as 'Eff Thru'
FROM bank_account ba
WHERE ba.cash_accounting_company_account_id = @accounting_company_account_id

ORDER BY bank_account_ud
--
RETURN @SP_SUCCESS
--
GO
