USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_cleanup]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

DESCRIPTION:Cleans up the staging tables used by the claim payment process.

HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_claim_payment_process_cleanup]
AS

TRUNCATE TABLE claim_payment_processing_work_table;
TRUNCATE TABLE claim_payment_processing_criteria_work_table;
GO
