USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_claim_info_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Apr  3 2006  1:10PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
3/4/2006     HungTNguyen  1.0       Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find Claim in Member COB
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_cob_member_claim_info_load]
(
@claim_id		Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

claim_id
,claim.claim_ud
,claim_form_type.claim_form_type_ud
,claim_form_type.claim_form_type_id
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'BILLED'), 0) as claim_amount
,adjudication_status.adjudication_status_ud as claim_status
,dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, NULL) AS provider_name

FROM claim
left  join claim_form_type  ON claim_form_type.claim_form_type_id = claim.claim_form_type_id
left  join adjudication_status on adjudication_status.adjudication_status_id=claim.adjudication_status_id
LEFT  JOIN dbo.provider_identifier p ON p.provider_identifier_id = claim.provider_identifier_id
LEFT  JOIN dbo.provider_name pn ON (pn.provider_id = p.provider_id AND pn.is_primary = 1)

WHERE claim.claim_id = @claim_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
