USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_break_in_coverage_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
This procedure is used to load data for drop down break_in_coverage_rule (Break In Coverage Rule)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/









CREATE  PROCEDURE [dbo].[plx_dd_break_in_coverage_rule_load]




AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
break_in_coverage_rule.break_in_coverage_rule_id
,break_in_coverage_rule.break_in_coverage_rule_ud

FROM break_in_coverage_rule
WHERE   break_in_coverage_rule.active=1
ORDER BY break_in_coverage_rule_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
