USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tax_1099_box_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
DATE: 01/17/2012
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
07/27/2011		 Jeremy Hein	  Created
--

DESCRIPTION:
Loads data for drop down tax 1099 box drop down for AP transactions and procedure codes
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_tax_1099_box_load] AS


SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT  tax_1099_misc_box_id,
tax_1099_misc_box_ud + ' - ' +[description] as tax_1099_misc_box_ud, --just a number in the dropdown looks lame, so showing both number and desc as ud.
GOlden_key
FROM dbo.tax_1099_misc_box
ORDER BY cast(left(tax_1099_misc_box_ud, 2) as int)


IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
