USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_service_representative_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/27/2005	ptran		1.0			Created
03/08/2006	Thuy Ha				created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Assigned Service Representatives grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_service_representative_id - Key to benefit_contract_service_representative table, identifies a single benefit_contract_service_representative
@benefit_contract_id
@service_representative_id
@service_type_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modify_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_service_representative_save]
(
@benefit_contract_service_representative_id int = NULL output
,@service_representative_id                  int = NULL
,@benefit_contract_id                        int = NULL
,@service_type_id                            int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @benefit_contract_service_representative_id IS NULL
BEGIN
--- Create a new record
INSERT INTO benefit_contract_service_representative(
benefit_contract_id
,service_representative_client_group_benefit_contract_id
,service_representative_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_id
,@service_representative_id
,@service_type_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_contract_service_representative_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT 1 FROM benefit_contract_service_representative WHERE benefit_contract_service_representative_id = @benefit_contract_service_representative_id )
BEGIN
-- RAISERROR('benefit_contract_service_representative object not found in benefit_contract_service_representative for internal key %d.', 16, 1, @benefit_contract_service_representative_id)
RETURN 1
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE benefit_contract_service_representative_id = @benefit_contract_service_representative_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_service_representative
SET
benefit_contract_id                      = @benefit_contract_id
,service_representative_client_group_benefit_contract_id                = @service_representative_id
,service_representative_type_id                          = @service_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_service_representative_id = @benefit_contract_service_representative_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
