USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_view_on_function_area_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Jan 16 2006  15:29PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Delete note pop up

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_auto_view_on_function_area_delete]
(
@note_linked_to_id int = NULL,
@note_business_object_id  int = NULL
)
AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_NOTE_POP_UP NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_DELETE_NOTE_POP_UP	= '1052800004',
@ERROR_NOT_EXIST		 	= '1052800005'

IF NOT EXISTS (SELECT * FROM note_pop_up WHERE note_linked_to_id = @note_linked_to_id and note_business_object_id = @note_business_object_id )
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)

DELETE FROM note_pop_up
WHERE note_linked_to_id = @note_linked_to_id
AND note_business_object_id = @note_business_object_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_NOTE_POP_UP)

RETURN @SP_SUCCESS
END
GO
