USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_class_by_framework_accumulator_class_id_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/09/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/09/2005	Trinh Le		1.0			created
9/11/2005 	Trinh Le		1.1			Join with ui_engine_data_type to get accumulator class datatype
03/20/2006	Trinh Le		2.0			Apply changes on "accumulator_class" table
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Get information of accumulator class under accumulator framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_class_by_framework_accumulator_class_id_load]
(
@accumulator_framework_accumulator_class_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_class.accumulator_class_id
,accumulator_class.accumulator_class_ud
,ui_engine_data_type.ui_engine_data_type_id as class_data_type_id
,ui_engine_data_type.data_type_name as class_data_type_ud
FROM 	accumulator_framework_accumulator_class
inner join accumulator_class  ON accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id
--left join class_data_type ON accumulator_class.class_data_type_id = class_data_type.class_data_type_id
left join ui_engine_data_type ON   ui_engine_data_type.ui_engine_data_type_id=accumulator_class.ui_engine_data_type_id
WHERE 	accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
