USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_claim_form_type_from_ud]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/26/2016	eponomareff	1.0			RT:10603 - created


DESCRIPTION:
Get claim form type and other info from claim_ud. Used in QC UI for CES interface.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_get_claim_form_type_from_ud]
(
@claim_ud	NVARCHAR(50)
)
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
c.claim_id
, c.claim_form_type_id
, cft.claim_form_type_ud
, cft.golden_key as claim_form_type_golden_key
FROM  dbo.claim c
LEFT JOIN dbo.claim_form_type cft ON c.claim_form_type_id = cft.claim_form_type_id
WHERE c.claim_ud = @claim_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
