USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_concurrency_lock_admin_release]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	04/19/2010
--
DESCRIPTION:
This procedure is used to release (delete) a lock.
This procedure behaves like the plx_concurrency_lock_release procedure, but
it is specifically used by the admin. No username checking is done here.
A separate procedure was created so that security limitations can be set for users.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_concurrency_lock_admin_release]
(
@concurrency_lock_type_id	INT,
@record_id					INT
)
AS
SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

DELETE FROM concurrency_lock
WHERE concurrency_lock_type_id = @concurrency_lock_type_id
AND record_id = @record_id
--
RETURN @SP_SUCCESS
GO
