USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_modifier_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Sep 15 2005  3:46PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/1/2006            HungTNguyen   1.1             fee_schedule_modifier_id=>fee_schedule_modifier_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_fee_schedule from the fee_schedule table.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_fee_schedule_modifier_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fee_schedule_modifier_id as modifier_id
,fee_schedule_modifier_ud as modifier_ud
--      ,fee_schedule_modifier_nm as modifier_nm
FROM fee_schedule_modifier
ORDER BY modifier_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
