USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_with_functional_area_check_findform_combobox]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
06/30/2009	Vishwa		2.0			Updated to support Partial Entry Fill for _ud
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check find validtion rule on criteria with functional area
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_criteria_ui_with_functional_area_check_findform_combobox]
(
@criteria_id             int  = null,
@criteria_ud		 nvarchar(50) = null,
@functional_area	 nvarchar(100) = null

)AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''

IF isnull(@criteria_id,0) > 0
SET @SqlCondition = @SqlCondition + ' AND criteria.criteria_id = ' +  CONVERT(NVARCHAR, @criteria_id)

IF @criteria_ud IS NOT NULL  AND @criteria_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND criteria.criteria_ud  LIKE ''' + dbo.plx_EncodeString(@criteria_ud) + '%'' '

IF @functional_area IS NOT NULL AND @functional_area <> ''
SET @SqlCondition = @SqlCondition + ' AND criteria_functional_area.golden_key =  ''' +  dbo.plx_EncodeStringWildCard(@functional_area, 1) + ''''

SET @SqlQuery =
'  SELECT DISTINCT ' +
'     criteria.criteria_id ' +
'    ,criteria.criteria_ud ' +
'    ,criteria_functional_area.golden_key ' +
'  FROM criteria ' +
'      	INNER JOIN criteria_functional_area ON criteria.criteria_functional_area_id = criteria_functional_area.criteria_functional_area_id '

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition

EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
GO
