USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0     Created from plx_accounting_transaction_ap_payment_detail_transactions_load
03/21/2012	CKnobloch		1.1		RT:1821 - Added accounting_source golden_key and accounting_source_record_id
04/08/2022  eponomareff     2.0     Modified to use existing function for unapplied_amount.
The function: [dbo].[plx_fn_get_unapplied_amount_for_ar_transaction]
DESCRIPTION:
To load data into Transactions Included in Invoice Grid;
NOTE: database apply_to record amounts are absolute value; however they
display as positive or negative depending on whether they are
Charges (display positive) or Credits (display negative).
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_invoice_detail_transactions_load]
(
@accounting_transaction_ar_id	INT = NULL	-- Invoice ID	( = @from_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@UNAPPLIED_AMOUNT numeric(20,10),
@APPLIED_AMOUNT numeric(20,10);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0;

SELECT
apply_to.accounting_transaction_ar_apply_to_id
,apply_to.from_accounting_transaction_ar_id
,apply_to.to_accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud As 'accounting_transaction_ar_ud'
,ata.accounting_transaction_ar_type_id
,ata.transaction_date
,CASE
WHEN ais.golden_key = 'ENTERED' THEN
-- The unapplied amount is refreshed if the Invoice is in an Entered status.
-- This could come into play if a Paid Invoice with the same transaction partially applied were voided.
-- The function below returns the absolute value of the Unapplied Amount for the Charge or Credit,
--		filtering out Invoices/Refunds in a status of VOIDED or ENTERED.
(CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN (-1 * dbo.plx_fn_get_unapplied_amount_for_ar_transaction(ata.accounting_transaction_ar_id, 1))
WHEN 'CHARGE' THEN dbo.plx_fn_get_unapplied_amount_for_ar_transaction(ata.accounting_transaction_ar_id, 1)
END)
ELSE
(CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN  (-1 * apply_to.unapplied_amount)
WHEN 'CHARGE' THEN apply_to.unapplied_amount
END)
END as unapplied_amount
,CASE accounting_transaction_ar_type.golden_key
WHEN 'CREDIT' THEN (-1 * apply_to.amount)
WHEN 'CHARGE' THEN apply_to.amount
END as apply_to_amount
,apply_to.comment
,ata.accounting_source_id
,accounting_source.accounting_source_ud
,CASE accounting_source.golden_key
WHEN 'Billing' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'PREMIUM_FEE_AR' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'ELIGIBILITY_RATE' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id = ata.accounting_source_record_id)
WHEN 'CLIENT_FEES' THEN (SELECT claim_payment_run_ud FROM claim_payment_run WHERE claim_payment_run_id = ata.accounting_source_record_id)
WHEN 'REINSURANCE_BILLING' THEN (SELECT reinsurance_calculation_run_ud FROM reinsurance_calculation_run WHERE reinsurance_calculation_run_id = ata.accounting_source_record_id)
ELSE ''
END AS accounting_source_record_ud
,accounting_source.golden_key
,ata.accounting_source_record_id

FROM accounting_transaction_ar_apply_to as apply_to
INNER JOIN accounting_transaction_ar ata ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
LEFT JOIN accounting_source ON ata.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN accounting_transaction_ar_type ON ata.accounting_transaction_ar_type_id = accounting_transaction_ar_type.accounting_transaction_ar_type_id
LEFT JOIN accounting_transaction_ar_invoice_detail atarid ON  atarid.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN accounting_invoice_status ais ON  ais.accounting_invoice_status_id = atarid.accounting_invoice_status_id
WHERE apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
ORDER BY apply_to.accounting_transaction_ar_apply_to_id DESC;

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
