USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_by_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/06/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Loads data for drop down complex_duplicate_claim_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_by_rule_load]
(
@complex_duplicate_claim_rule_id INT = null
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cdcrooa.complex_duplicate_claim_rule_object_operator_assignment_id,
cdcrooa.complex_duplicate_claim_rule_id,
cdcrooa.complex_duplicate_claim_rule_object_id,
cdcrob.complex_duplicate_claim_rule_object_ud,
cdcrooa.complex_duplicate_claim_rule_operator_id,
cdcrop.complex_duplicate_claim_rule_operator_ud
FROM
complex_duplicate_claim_rule_object_operator_assignment cdcrooa
INNER JOIN complex_duplicate_claim_rule_object cdcrob
ON cdcrob.complex_duplicate_claim_rule_object_id = cdcrooa.complex_duplicate_claim_rule_object_id
INNER JOIN complex_duplicate_claim_rule_operator cdcrop
ON cdcrop.complex_duplicate_claim_rule_operator_id = cdcrooa.complex_duplicate_claim_rule_operator_id
WHERE
(@complex_duplicate_claim_rule_id IS NULL OR cdcrooa.complex_duplicate_claim_rule_id = @complex_duplicate_claim_rule_id)
ORDER BY
cdcrop.complex_duplicate_claim_rule_operator_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
