USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_merge_child_claim_identifier_reference_wrk]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[bind_sp_merge_child_claim_identifier_reference_wrk]
as
Begin

--exec dbo.bind_sp_merge_child_claim_identifier_reference_wrk

with cte_CCIR as (
Select internal_claim_id, d9 ,clearing_house_claim_id
From [dbo].[bind_vw_child_claim_identifier_reference]
) --select * From cte_CCIR --where clearing_house_claim_id = '20157125529'

Merge Into dbo.child_claim_identifier_reference_wrk as T
	Using cte_CCIR as S
		On T.internal_claim_id = S.internal_claim_id
			When Not Matched Then
				Insert
				(internal_claim_id, d9, clearing_house_claim_id)
				Values
				(S.internal_claim_id, S.d9, S.clearing_house_claim_id)
			When Matched Then
				Update Set
					T.d9 = S.d9
					,T.clearing_house_claim_id = S.clearing_house_claim_id
					;

End

select * From dbo.child_claim_identifier_reference_wrk 
--Where ISNUMERIC (internal_claim_id) = 0

GO
