USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_customer_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Tinh Do		1.0			Created and used for Client Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
This procedure is used to delete a single row in Customer Assignments grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_client_customer_delete]
(
@client_customer_id                         INT = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   	INT
,@SP_EXCEPTION 	INT
,@ERROR_CAN_NOT_DELETE as nvarchar(50)
, @ERROR_NOT_EXIST as nvarchar(50)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@ERROR_CAN_NOT_DELETE = '159010061'
, @ERROR_NOT_EXIST ='159010062'
--
IF NOT EXISTS (SELECT * FROM client_customer WHERE client_customer_id = @client_customer_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM client_customer
WHERE client_customer_id = @client_customer_id
IF @@ERROR <> 0
BEGIN

RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CAN_NOT_DELETE)
END
END
--

RETURN @SP_SUCCESS
--
GO
