USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	hthan		1.0		Create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_agent_save]
(
@agent_id                                   	int = NULL   OUTPUT
,@agent_or_brokerage_type_id           int = NULL
,@agent_effective_from                       datetime = NULL
,@agent_effective_thru                        datetime = NULL
,@date_of_birth                              	datetime = NULL
,@gender_id                                  	int = NULL
,@agent_name_id			int = NULL	OUTPUT
,@name_prefix_id			int = NULL
,@name_last			nvarchar(100) = NULL
,@name_first			nvarchar(100) = NULL
,@name_middle			nvarchar(100) = NULL
,@name_suffix			nvarchar(50)	 = NULL
,@is_primary				bit = 1
,@comment   			nvarchar(300)
,@active                                     	bit = 1
--,@cascade                                    	bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--

DECLARE @alias_type_id INT
SELECT  @alias_type_id = alias_type_id
FROM 	dbo.alias_type
WHERE golden_key = 'Person'

SELECT  @agent_or_brokerage_type_id = agent_or_brokerage_type_id
FROM 	dbo.agent_or_brokerage_type
WHERE golden_key = 'Agent'

IF @agent_id is Null
BEGIN

--- Create a new agent record
INSERT INTO agent(
agent_or_brokerage_type_id
,effective_from
,effective_thru
,date_of_birth
,gender_id
,active
)
VALUES
(@agent_or_brokerage_type_id
,@agent_effective_from
,@agent_effective_thru
,@date_of_birth
,@gender_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_id = @@IDENTITY

--    print 'save agent name new'
IF  @name_last is not null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,is_primary
,active
)
VALUES
(@agent_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--     print 'save agent name new'


END
ELSE IF NOT EXISTS (SELECT * FROM agent WHERE agent_id = @agent_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent record
UPDATE agent
SET
agent_or_brokerage_type_id              = @agent_or_brokerage_type_id
,effective_from                           	= @agent_effective_from
,effective_thru                           	= @agent_effective_thru
,date_of_birth                            	= @date_of_birth
,gender_id                                	= @gender_id
,active                                   		= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_id = @agent_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--------------------------AGENT NAME--------------------------------------------------------------------------
IF @agent_name_id is Null
BEGIN
IF @name_last is not null
BEGIN
INSERT INTO agent_name(
agent_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,is_primary
,active
)
VALUES
(@agent_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
--    print 'save agent name new'
END
ELSE -- @agent_name_id is not null
BEGIN
-- check if primary name is change, updates the old primary name as Alias
--		print @agent_name_id
DECLARE
@old_name_first NVARCHAR(100),
@old_name_last NVARCHAR(100),
@old_name_middle NVARCHAR(100),
@old_name_prefix_id INT,
@old_name_suffix NVARCHAR(50),

@new_name_first NVARCHAR(100),
@new_name_last NVARCHAR(100),
@new_name_middle NVARCHAR(100),
@new_name_prefix_id INT,
@new_name_suffix NVARCHAR(50)

SELECT	 @old_name_first 	 = ISNULL(name_first  , '')
,@old_name_last		 = ISNULL(name_last   , '')
,@old_name_middle	 = ISNULL(name_middle , '')
,@old_name_prefix_id = ISNULL(name_prefix_id , 0)
,@old_name_suffix	 = ISNULL(name_suffix , '')
FROM  dbo.agent_name
WHERE agent_name_id =  @agent_name_id
SET @new_name_first 	= ISNULL(@name_first  , '')
SET @new_name_last		= ISNULL(@name_last   , '')
SET @new_name_middle	= ISNULL(@name_middle , '')
SET @new_name_prefix_id = ISNULL(@name_prefix_id , 0)
SET @new_name_suffix	= ISNULL(@name_suffix , '')
--		print @old_name_first  + ' --- ' + @new_name_first
--		print @old_name_last  + ' --- ' + @new_name_last
--		print @old_name_suffix  + ' --- ' + @new_name_suffix
--		print @old_name_middle  + ' --- ' + @new_name_middle
IF @name_last is not null
BEGIN
IF (@old_name_first <> @new_name_first) OR (@old_name_last <> @new_name_last) OR
(@old_name_prefix_id <> @new_name_prefix_id) OR (@old_name_suffix <> @new_name_suffix)
OR (@old_name_middle <> @new_name_middle )
BEGIN
print 'update agent name alias  '
UPDATE 	agent_name
SET
is_primary = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE 	agent_name_id = @agent_name_id

INSERT INTO agent_name(
agent_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,is_primary
,active
)
VALUES
(@agent_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
)
SET @agent_name_id = @@IDENTITY
--						print 'save new agent name alias  '
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
END
END

END
--
RETURN @SP_SUCCESS
--
GO
