USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_negate_payment_penalties]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 4/6/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
4/6/2015	Chad Maddox		1.0			created
--

--
DESCRIPTION:
When a claim has been chosen for negation, the associated accounting transactions for any
payment penalties accrued may also need to be negated.  The reversal of the transactions happens
at a later time than negation, which at this time is in the Payment Penalty run.
The decision to negate the payment penalties is recorded with this stored procedure.
It takes only the claim_id and no other parameters, as once the claim is negated,
there is no way to reverse the decision to negate the payment penalties.
--
REQUIREMENTS:
--
INPUTS:
@claim_procedure_id
@negate_penalties BIT - 1 = negate 0 or ommitted = no negation
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_claim_negate_payment_penalties]
(
@claim_id				Int = NULL,
@negate_penalties		BIT = 0
)
AS
DECLARE @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID INT
SET @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID =
(SELECT accounting_source_id FROM accounting_source WHERE accounting_source.golden_key = 'PAYMENT_PENALTY')

UPDATE accounting_transaction_ap_claim_detail SET negate_payment_penalty = @negate_penalties
FROM
accounting_transaction_ap_claim_detail detail
JOIN
accounting_transaction_ap atap ON detail.accounting_transaction_ap_id = atap.accounting_transaction_ap_id

WHERE claim_id = @claim_id
AND
atap.accounting_source_id = @PAYMENT_PENALTY_ACCOUNTING_SOURCE_ID
RETURN 0
GO
