USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_check_unique_ud]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	mttran		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The Client ID has to be unique across the system.
--
REQUIREMENTS:

--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
1	TRUE -- This ud is valid
0	FALSE -- This ud is invalid
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_client_check_unique_ud]
(
@client_id	INT = NULL,
@client_ud	NVARCHAR(50)
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_VALID		INT,
@SP_INVALID		INT,
@result			INT
SELECT
@SP_VALID = 1,
@SP_INVALID = 0,
@result = @SP_VALID
--
IF ISNULL(@client_id, 0) = 0
BEGIN
IF EXISTS (	SELECT	client.client_id
FROM 	dbo.client
INNER JOIN dbo.client_name
ON	client.client_id = client_name.client_id
AND	client_name.primary_name = 1
WHERE	client_name.client_ud = @client_ud
)
SET @result = @SP_INVALID
END
ELSE
BEGIN
IF EXISTS (	SELECT	client.client_id
FROM 	dbo.client
INNER JOIN dbo.client_name
ON	client.client_id = client_name.client_id
AND	client_name.primary_name = 1
WHERE	client_name.client_ud = @client_ud
AND		client.client_id <> @client_id
)
SET @result = @SP_INVALID
END
--
RETURN @result
--
GO
