USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyHa 			1.0			Created
03/18/2008	lrenard			2.0			added FK checks and child data deletes
04/07/2008	lrenard			2.1			error data set return clean up
08/14/2008	David Slayton	2.2			Removed references to family_eligibility_base_premium,
family_eligibility_commission_depreciation,
and family_eligibility_commission_split tables.
10/14/2009	Vishwa			2.3			removed family_eligibility_note delete check
09/03/2014  eponomareff                 RT:6046 Data modification project
09/23/2014	eponomareff                 RT:6823 changes to support Optimistic Concurrency.
11/13/2017	eponomareff					RT:11257 - delete premium volume elections related to enrollment

--------------------------------------------------------------------------------
--
DESCRIPTION:
This procedure is used to delete Family Eligibility object.
--
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_delete]
(
@family_eligibility_id          int = NULL OUTPUT
,@object_row_version             rowversion = NULL
) AS
--
SET NOCOUNT ON
--

DECLARE
@SP_SUCCESS                   INT,
@SP_EXCEPTION                 INT,
@SP_ERROR_RECORD_LOCKED       INT,
@SP_ERROR_NOT_EXIST           INT,
@ERROR_RECORD_LOCKED          NVARCHAR(50),
@ERROR_RECORD_DOES_NOT_EXIST  NVARCHAR(50)

SELECT
@SP_SUCCESS                   = 0,
@SP_EXCEPTION                 = -1,
@SP_ERROR_RECORD_LOCKED       = 2,
@SP_ERROR_NOT_EXIST           = 3,
@ERROR_RECORD_LOCKED          = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_RECORD_DOES_NOT_EXIST  = 'G_DOES_NOT_EXIST'

DECLARE
@ERROR_CANT_DELETE   NVARCHAR(50)
SELECT
@ERROR_CANT_DELETE   = '105280012'
--
IF NOT EXISTS (SELECT * FROM family_eligibility WHERE family_eligibility_id = @family_eligibility_id )
RETURN @SP_EXCEPTION
--
-- Check to see if this enrollment has an eligibility which is  used in a referral, episode, or claim
-- This appears to be the same as in the plx_family_eligibility_check_delete strored procedure, so probably is not necessary.
IF EXISTS(SELECT * FROM referral
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id))
OR exists(SELECT * FROM episode
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id))
OR exists(SELECT * FROM claim
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id))

BEGIN
SELECT referral_ud as 'Referral', cast(NULL as nvarchar) as 'Professional Claim', cast(NULL as nvarchar) as 'Institutional Claim', cast(NULL as nvarchar) as 'Episode'
FROM referral WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)
UNION
SELECT cast(NULL as nvarchar) as 'Referral',claim_ud as 'Professional Claim', cast(NULL as nvarchar) as 'Institutional Claim', cast(NULL as nvarchar) as 'Episode'
FROM claim inner join professional_claim pc on pc.claim_id = claim.claim_id
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)
UNION
SELECT cast(NULL as nvarchar) as 'Referral', cast(NULL as nvarchar) as 'Professional Claim', claim_ud as 'Institutional Claim', cast(NULL as nvarchar) as 'Episode'
FROM claim inner join institutional_claim pc on pc.claim_id = claim.claim_id
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)
UNION
SELECT cast(NULL as nvarchar) as 'Referral', cast(NULL as nvarchar) as 'Professional Claim', cast(NULL as nvarchar) as 'Institutional Claim', episode_ud as 'Episode'
FROM episode WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)
RETURN @SP_EXCEPTION
END

ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int;

BEGIN TRY

-- Check Concurrency
DECLARE @concurrencyCheckResult int
EXEC @concurrencyCheckResult = plx_family_eligibility_check_and_rev_row_version @family_eligibility_id, @object_row_version
IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END
-- End Check concurrency

DELETE FROM accumulator_seed_value
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM family_eligibility_member_benefit_plan_pre_existing_condition_duration
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM family_eligibility_member_benefit_plan_provider
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM family_eligibility_member_benefit_plan_network
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

-- delete volume elections
DELETE FROM eligibility_volume
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

-- delete override benefit waiting period definitions
DELETE FROM eligibility_waiting_period_definition_override
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM family_eligibility_member_benefit_plan
WHERE family_eligibility_member_id in
(SELECT family_eligibility_member_id FROM family_eligibility_member WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM individual_eligibility_accumulator_choice_list_resolution
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM individual_eligibility_benefit_class_choice_list_resolution
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_benefit_class_choice_list_resolution
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_accumulator_choice_list_resolution
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_benefit_contract_period_benefit_plan_choice
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_additional_information
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_contact
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_lock
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_user_assigned_result_code
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_state_mandate
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_benefit_contract_period
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_loan_detail
WHERE family_eligibility_loan_id in
(SELECT family_eligibility_loan_id FROM family_eligibility_loan
WHERE family_eligibility_id = @family_eligibility_id)

DELETE FROM family_eligibility_loan
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_member
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_grace_period_status_override
WHERE family_eligibility_id = @family_eligibility_id

-- customer and vendor intersection table records
DELETE FROM family_eligibility_customer
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_vendor
WHERE family_eligibility_id = @family_eligibility_id

-- individual policy premium billing grids
DELETE FROM family_eligibility_premium_invoice_frequency
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_premium_invoice_due_day
WHERE family_eligibility_id = @family_eligibility_id

DELETE FROM family_eligibility_premium_invoice_agent
WHERE family_eligibility_id = @family_eligibility_id

-- finally delete the enrollment
DELETE FROM family_eligibility
WHERE family_eligibility_id = @family_eligibility_id

SELECT @ErrorVar = @@ERROR
END TRY
BEGIN CATCH
SELECT @ErrorVar = @@ERROR
END CATCH

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

END
--
RETURN @SP_SUCCESS
--
GO
