USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_queue_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Oct 29 2005 10:49AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/20/2006      Trinh Le                        change left join table from claim status to adjudication status
04/16/2009	lrenard		2.0		updated claim processing queue form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for claim processing queue
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_processing_queue_load]
(
@claim_processing_queue_id			Int = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cpq.claim_processing_queue_id
,cpq.claim_processing_queue_ud
,cpq.description

,cpq.claim_selection_priority_id
,csp.claim_selection_priority_ud

,cpq.effective_from
,cpq.effective_thru

,cpq.result_code_set_id
,rcs.result_code_set_ud

,cpq.provider_network_id
,pn.provider_network_ud

,cpq.provider_identifier_id
,pid.provider_ud

,cpq.client_id
,cn.client_ud

,cpq.client_group_id
,gn.client_group_ud

,cpq.benefit_contract_id
,bc.benefit_contract_ud

, cpq.diagnosis_code_group_id
,dcg.diagnosis_code_group_ud

, cpq.claim_form_type_id
,cft.claim_form_type_ud

, cpq.adjudication_status_id
,adjs.adjudication_status_ud

, cpq.claim_amount_type_id
,cat.claim_amount_type_ud
,cpq.amount_min
,cpq.amount_max

, cpq.claim_date_type_id
,cdt.claim_date_type_ud

,cpq.value_from
,cpq.from_unit_day_week_month_year_id
,unit_from.unit_day_week_month_ud as from_unit_day_week_month_year_ud

,cpq.value_thru
,cpq.thru_unit_day_week_month_year_id
,unit_thru.unit_day_week_month_ud as thru_unit_day_week_month_year_ud

,cpq.active
,cpq.created_user_name
,cpq.created_group_id
,cpq.product_id
,p.product_ud

,cpq.procedure_code_group_id
,pcg.procedure_code_group_ud

,cpq.procedure_code_id
,pc.procedure_code_ud

,cpq.procedure_code_type_id
,pct.procedure_code_type_ud

,cpq.created_date
,cpq.modified_date

FROM claim_processing_queue cpq
left join result_code_set rcs  ON rcs.result_code_set_id = cpq.result_code_set_id
left join provider_network pn  ON pn.provider_network_id = cpq.provider_network_id
left join provider_identifier pid  ON pid.provider_identifier_id = cpq.provider_identifier_id
left join benefit_contract bc  ON bc.benefit_contract_id = cpq.benefit_contract_id
left join client_group g  ON g.client_group_id = cpq.client_group_id
left JOIN client_group_name gn ON (gn.client_group_id = g.client_group_id) AND (gn.primary_name = 1)
left join client c  ON c.client_id = cpq.client_id
left JOIN client_name cn ON (cn.client_id = c.client_id) AND (cn.primary_name = 1)
left join adjudication_status adjs  ON adjs.adjudication_status_id = cpq.adjudication_status_id
left join claim_selection_priority csp  ON csp.claim_selection_priority_id = cpq.claim_selection_priority_id
left join diagnosis_code_group dcg ON dcg.diagnosis_code_group_id = cpq.diagnosis_code_group_id
left join claim_form_type cft ON cft.claim_form_type_id = cpq.claim_form_type_id
left join claim_amount_type cat ON cat.claim_amount_type_id = cpq.claim_amount_type_id
left join claim_date_type cdt ON cdt.claim_date_type_id = cpq.claim_date_type_id

left join unit_day_week_month unit_from ON unit_from.unit_day_week_month_id = cpq.from_unit_day_week_month_year_id
left join unit_day_week_month unit_thru ON unit_thru.unit_day_week_month_id = cpq.thru_unit_day_week_month_year_id
left join product p ON p.product_id = cpq.product_id
left join procedure_code_group pcg on pcg.procedure_code_group_id = cpq.procedure_code_group_id
left join procedure_code pc on pc.procedure_code_id = cpq.procedure_code_id
left join procedure_code_type pct on pct.procedure_code_type_id = cpq.procedure_code_type_id

WHERE cpq.claim_processing_queue_id = @claim_processing_queue_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
