USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_batch_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dslayton
DATE: 03/26/2012
--------------------------------------------------------------------------------
REVISION_HISTORY:
--
Date        Modified By		Version  Description
--------------------------------------------------------------------------------
03/26/2012	dslayton		1.0		 Created.
04/05/201	amortensen		1.1		 updated to use accounting_transaction_ar_payment_batch
08/18/2014 - RT:6046 Updated created/modified tombstone columns

DESCRIPTION:
Save for Accounting Transaction AR Payment Batch form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_batch_save]
(
@accounting_transaction_ar_payment_batch_id		INT = NULL   OUTPUT,
@accounting_transaction_ar_payment_batch_ud		NVARCHAR(100) = NULL,
@description									NVARCHAR(255) = NULL,
@accounting_transaction_ar_payment_batch_status_id	INT = NULL,
@accounting_company_id							INT = NULL,
@bank_account_id								INT = NULL,
@accounting_company_account_id					INT = NULL,
@payment_method_customer_id						INT = NULL,
@payment_date									DATETIME = NULL,
@auto_apply										BIT = 0) AS
--
DECLARE
@SP_SUCCESS								INT,
@ERROR_CANT_INSERT 						NVARCHAR(50),
@ERROR_NOT_EXIST						NVARCHAR(50),
@ERROR_CANT_UPDATE 						NVARCHAR(50),
@ERROR_RECORD_LOCKED					NVARCHAR(50),
@auto_create_counter_type_ud			NVARCHAR(200),
@counter_pad_length						INT,
@counter								INT,
@counter_text							NVARCHAR(50),
@prefix									NVARCHAR(100) = NULL,
@customer_payment_batch_ud				NVARCHAR(100) = NULL

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840006',
@ERROR_NOT_EXIST	= '159840007',
@ERROR_CANT_UPDATE 	= '159840008',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@counter_pad_length = 7,
@prefix = CONVERT(NVARCHAR(8), GETDATE(), 112),
@auto_create_counter_type_ud = 'CustomerPaymentBatch ' + @prefix


EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @customer_payment_batch_ud = ISNULL(@prefix, '') + @counter_text

--
IF ISNULL(@accounting_transaction_ar_payment_batch_id,0) = 0
BEGIN
--- Create a new customer_payment_batch record
INSERT INTO accounting_transaction_ar_payment_batch
(
accounting_transaction_ar_payment_batch_ud
,description
,accounting_transaction_ar_payment_batch_status_id
,accounting_company_id
,bank_account_id
,ar_accounting_company_account_id
,payment_method_customer_id
,payment_date
,auto_apply
)
VALUES
(@customer_payment_batch_ud
,@description
,@accounting_transaction_ar_payment_batch_status_id
,@accounting_company_id
,@bank_account_id
,@accounting_company_account_id
,@payment_method_customer_id
,@payment_date
,@auto_apply
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @accounting_transaction_ar_payment_batch_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accounting_transaction_ar_payment_batch WHERE accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar INT, @RowCountVar INT

--- Updating an existing customer_payment_batch record
UPDATE accounting_transaction_ar_payment_batch
SET
@accounting_transaction_ar_payment_batch_ud			= @accounting_transaction_ar_payment_batch_ud
,description											= @description
,accounting_transaction_ar_payment_batch_status_id	= @accounting_transaction_ar_payment_batch_status_id
,accounting_company_id								= @accounting_company_id
,bank_account_id										= @bank_account_id
,ar_accounting_company_account_id					= @accounting_company_account_id
,payment_method_customer_id					= @payment_method_customer_id
,payment_date								= @payment_date
,auto_apply									= @auto_apply
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_payment_batch_id	= @accounting_transaction_ar_payment_batch_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
--
END
--
RETURN @SP_SUCCESS
--
GO
