USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for form frmAutoTerminationQueue

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_queue_id
@auto_termination_queue_ud
@description
@schedule_form_id
@review_period
@unit_day_week_month_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_auto_termination_queue_save]
(
@auto_termination_queue_id    INT = 0   OUTPUT
,@auto_termination_queue_ud    NVARCHAR(100) = NULL
,@description           NVARCHAR(200) = NULL
,@schedule_form_id		INT = NULL
,@active                BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@auto_termination_queue_id, 0) = 0
BEGIN
INSERT INTO auto_termination_queue(
auto_termination_queue_ud
,description
,schedule_form_id
,active
)
VALUES
(@auto_termination_queue_ud
,@description
,@schedule_form_id
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @auto_termination_queue_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM auto_termination_queue WHERE auto_termination_queue_id = @auto_termination_queue_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE auto_termination_queue
SET
auto_termination_queue_ud		= @auto_termination_queue_ud
,description				= @description
,schedule_form_id		= @schedule_form_id
,active                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE auto_termination_queue_id = @auto_termination_queue_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
