USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_plan_options_select_popup_grid_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/24/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
2017-07-20		eponomareff			1.1				RT:9471 - Auto enroll supp plans at supp level

DESCRIPTION:	Load records for the grid on Additional Plans on the Select Advanced Plan Options popup form,
which is launched when auto enrollment guided path process is started (if there are choices to be made).

-- NOTE			some plans in this set may not apply to the benefit contract period; we do not return those in our select

******************************/

CREATE  PROCEDURE [dbo].[plx_additional_plan_options_select_popup_grid_load]
(
@benefit_contract_additional_plan_options_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- get eligibility_level id's for golden data
DECLARE @PrimaryEligibilityLevel INT, @SuppEligibilityLevel INT, @RiderEligibilityLevel INT
SET @PrimaryEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'Primary')
SET @SuppEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'SUPPLEMENTAL')
SET @RiderEligibilityLevel = (SELECT eligibility_level_id FROM eligibility_level WHERE golden_key = 'RIDER')

SELECT
bcapo.benefit_contract_additional_plan_options_id
,bcapo.benefit_contract_period_benefit_plan_id
,bcapo.benefit_plan_set_id
,bp.benefit_plan_id
,bp.benefit_plan_ud
,bp.benefit_plan_nm
-- get eligibility level
,[destination_eliglibility_level_id] =
CASE
WHEN destination_bpt.golden_key = 'Base Plan' THEN @PrimaryEligibilityLevel
WHEN destination_bpt.golden_key = 'Supplemental Plan' THEN @SuppEligibilityLevel
WHEN destination_bpt.golden_key = 'Rider Plan' THEN @RiderEligibilityLevel
ELSE @PrimaryEligibilityLevel
END
,bcpbp_for_plans.benefit_contract_period_benefit_plan_id as dest_bcpbp
,CAST(0 AS bit) as enroll_subscriber
,CAST(0 AS bit) as enroll_dependent
,bcapo.modified_date

FROM
dbo.benefit_contract_additional_plan_options bcapo
-- get all the plans in the set
INNER JOIN dbo.benefit_plan_set bps
ON bcapo.benefit_plan_set_id = bps.benefit_plan_set_id
-- get the benefit plan names
INNER JOIN dbo.benefit_plan_set_detail bpsd
ON bps.benefit_plan_set_id = bpsd.benefit_plan_set_id
INNER JOIN dbo.benefit_plan bp
ON bpsd.benefit_plan_id = bp.benefit_plan_id
-- make sure the plan appears in the same period
-- get the period we want
INNER JOIN dbo.benefit_contract_period_benefit_plan bcpbp
ON bcapo.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
--INNER JOIN dbo.benefit_contract_period bcp
--	ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
INNER JOIN dbo.benefit_contract_period_benefit_plan bcpbp_for_plans
ON bcpbp_for_plans.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN dbo.benefit_plan_type destination_bpt
ON destination_bpt.benefit_plan_type_id = bcpbp_for_plans.benefit_plan_type_id
WHERE
bcapo.benefit_contract_additional_plan_options_id = @benefit_contract_additional_plan_options_id
-- this constrains the result set to exclude benefit plans not of the right benefit contract period
AND
bpsd.benefit_plan_id = ISNULL(bcpbp_for_plans.benefit_plan_id, 0)

--

RETURN @SP_SUCCESS
--
GO
