USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/21/2012  CKnobloch	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Save data into table procedure_code_add_on_schedule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_save]
(
@procedure_code_add_on_schedule_id			 INT = NULL OUTPUT
,@procedure_code_add_on_schedule_ud          NVARCHAR(50)  = NULL
,@description								 NVARCHAR(255) = NULL

,@active                                     BIT = NULL
,@effective_from                             DATETIME = NULL
,@effective_thru                             DATETIME = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @procedure_code_add_on_schedule_id IS NULL
BEGIN
--- Create a new record
INSERT INTO procedure_code_add_on_schedule(
--procedure_code_add_on_schedule_id
procedure_code_add_on_schedule_ud
,description
,active
,effective_from
,effective_thru
)
VALUES
(--@procedure_code_add_on_schedule_id
@procedure_code_add_on_schedule_ud
,@description
,@active
,@effective_from
,@effective_thru
)
--

SET @procedure_code_add_on_schedule_id = @@IDENTITY

END
ELSE
IF NOT EXISTS (SELECT * FROM procedure_code_add_on_schedule
WHERE procedure_code_add_on_schedule_id = @procedure_code_add_on_schedule_id)

BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE procedure_code_add_on_schedule
SET
procedure_code_add_on_schedule_ud        = @procedure_code_add_on_schedule_ud
,description							  = @description
,active                                   = @active
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE procedure_code_add_on_schedule_id = @procedure_code_add_on_schedule_id
END
--
RETURN @SP_SUCCESS
--
GO
