USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_associated_brokerage_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  1 2006  1:43PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	hthan		1.0		Modified
09/04/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for agent associated brokerage grid on agent form
--
REQUIREMENTS:
--
INPUTS:
@agent_brokerage_id - Key to agent_brokerage table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_agent_associated_brokerage_list_delete]
(
@agent_brokerage_id                         int = NULL
-- ,@agent_id                                   int = NULL
-- ,@brokerage_agent_id                         int = NULL
-- ,@effective_from                             datetime = NULL
-- ,@effective_thru                             datetime = NULL
-- ,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM agent_brokerage WHERE agent_brokerage_id = @agent_brokerage_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--


--
--  END
--
DELETE FROM agent_brokerage
WHERE agent_brokerage_id = @agent_brokerage_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
