USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_referral_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to find the referrals that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_find_referral_load]
(
@referral_id	int	= null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
IF (@referral_id is null) OR (@referral_id = 0)
BEGIN
SELECT
referral.referral_id

,referral.referral_ud
,referral.referral_type_id
,referral_type.referral_type_ud
,referral.referral_status_id
,referral_status.referral_status_ud
,CONVERT(NVARCHAR, referral.effective_from, 101) AS effective_from
,CONVERT(NVARCHAR, referral.effective_thru, 101) AS effective_thru
FROM referral
left join referral_type on referral_type.referral_type_id = referral.referral_type_id
left join referral_status on referral_status.referral_status_id = referral.referral_status_id
END
ELSE
BEGIN
SELECT
referral.referral_id
,referral.referral_ud
,referral.referral_type_id
,referral_type.referral_type_ud
,referral.referral_status_id
,referral_status.referral_status_ud
,CONVERT(NVARCHAR, referral.effective_from, 101) AS effective_from
,CONVERT(NVARCHAR, referral.effective_thru, 101) AS effective_thru
FROM referral
left join referral_type on referral_type.referral_type_id = referral.referral_type_id
left join referral_status on referral_status.referral_status_id = referral.referral_status_id
WHERE referral.referral_id = @referral_id
END
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
