USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for frmManualCapitationRun

--
REQUIREMENTS:
--
INPUTS:
@capitation_manual_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_manual_run_load] (
@capitation_manual_run_id INT
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cr.capitation_manual_run_id
,cr.capitation_manual_run_ud
,cr.capitation_manual_run_status_id
,crs.capitation_manual_run_status_ud
,cr.run_date
,cr.do_not_release
,cr.apply_review_period
,cr.days_of_review_period
,cr.end_of_review

,cr.client_group_id
,cgn.client_group_ud

,cr.client_id
,cn.client_ud

,cr.benefit_plan_id
,bp.benefit_plan_ud

,cr.benefit_contract_id
,bc.benefit_contract_ud

,cr.benefit_category_id
,bct.benefit_category_ud
FROM	dbo.capitation_manual_run AS cr
LEFT JOIN capitation_manual_run_status AS crs ON crs.capitation_manual_run_status_id  = cr.capitation_manual_run_status_id
LEFT JOIN client_group cg ON cg.client_group_id = cr.client_group_id
LEFT JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1)
LEFT JOIN client c ON c.client_id = cr.client_id
LEFT JOIN client_name cn ON (cn.client_id = c.client_id) AND (cn.primary_name = 1)
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = cr.benefit_plan_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = cr.benefit_contract_id
LEFT JOIN benefit_category bct ON bct.benefit_category_id = cr.benefit_category_id

WHERE	cr.capitation_manual_run_id = @capitation_manual_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
