USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_benefit_category_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: quochuynh
Date : 08/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/26/2005	quochuynh	1.0			create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid Supported Benefit Plan Categories in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_benefit_category_load]
(
@accumulator_framework_id			Int = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT   accumulator_framework_benefit_category_id,
benefit_category_id,
benefit_sub_category_id,
accumulator_framework_benefit_category.modified_date

FROM accumulator_framework_benefit_category

WHERE   accumulator_framework_id = @accumulator_framework_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
