USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_form_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan 10 2006  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down fee_schedule_form_type (Fee Schedule Form Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
Create  PROCEDURE [dbo].[plx_dd_fee_schedule_form_type_load]

AS
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_form_type.fee_schedule_form_type_id
,fee_schedule_form_type.fee_schedule_form_type_ud
,fee_schedule_form_type.golden_key
FROM fee_schedule_form_type
ORDER BY fee_schedule_form_type.fee_schedule_form_type_ud
--
RETURN @SP_SUCCESS
GO
