USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_credential_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Jan  3 2006 10:52AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down provider_credential_type (Credential Type)
--
REQUIREMENTS:
--
INPUTS:
provider_credential_type_id - Key to provider_credential_type table, identifies a single stored dd_provider_credential_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_credential_type_load]

AS
--
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
provider_credential_type.provider_credential_type_id
,provider_credential_type.provider_credential_type_ud
FROM provider_credential_type
ORDER BY provider_credential_type.provider_credential_type_ud

RETURN @SP_SUCCESS
--
GO
