USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_collaborator_system_table_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
AUTHOR: David Slayton

DESCRIPTION:
Called to insert or update system table rows.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_gdct_collaborator_system_table_save]
(
@table_def_id INT,
@design_name NVARCHAR(255),
@table_name NVARCHAR(255),
@golden BIT,
@show_in_editor BIT,
@created_user_name NVARCHAR(255),
@system_table_id INT OUTPUT
)
AS
BEGIN
SELECT @system_table_id = system_table_id
FROM system_table
WHERE table_def_id = @table_def_id

IF @system_table_id IS NULL
BEGIN
INSERT INTO system_table (
design_name
,table_name
,golden
,show_in_editor
,table_def_id
)
VALUES
(dbo.plx_EncodeStringWildCard(@design_name, 1)
,dbo.plx_EncodeStringWildCard(@table_name, 1)
,@golden
,@show_in_editor
,@table_def_id
)
SET @system_table_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
UPDATE system_table SET
design_name = dbo.plx_EncodeStringWildCard(@design_name, 1)
,table_name = dbo.plx_EncodeStringWildCard(@table_name, 1)
,golden = @golden
,show_in_editor = @show_in_editor
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE system_table_id = @system_table_id
END
END
GO
