USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_code_group_procedure_code_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/28/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row on the procedure code grid
Procedure Code Specific Minimums and Maximums (grdPxCodeSpecificMinAndMax)
on the Dental Alternate Course Grouping Definition entity

******************************/
CREATE  PROCEDURE [dbo].[plx_alternate_course_code_group_procedure_code_delete]
(
@alternate_course_code_group_id       int = NULL
,@cascade                              bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM alternate_course_code_group WHERE alternate_course_code_group_id = @alternate_course_code_group_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- delete child tables
-- Alternate Course Code Group and Procedure Codes assoications
DELETE FROM
alternate_course_code_group_procedure_code
WHERE
alternate_course_code_group_id = @alternate_course_code_group_id

END
--
RETURN @SP_SUCCESS
--
GO
