USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_delete_adjudication_run_sequence_by_days]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

Create Procedure [dbo].[plx_dto_delete_adjudication_run_sequence_by_days] (
@days int = null
) As

BEGIN

DECLARE @SP_SUCCESS int, @SP_EXCEPTION int
SELECT 	@SP_SUCCESS = 0, @SP_EXCEPTION = -1

DECLARE @deleteDate DATETIME

IF(ISNULL(@days, 0) <= 0)
SELECT @deleteDate = DATEADD(DAY, -1 * 5 , GETDATE()) --default to 5 days
ELSE
SELECT @deleteDate = DATEADD(DAY, -1 * @days , GETDATE())

DELETE FROM adjudication_run_sequence_claim
WHERE adjudication_run_sequence_claim_id IN
(
SELECT arsc.adjudication_run_sequence_claim_id FROM adjudication_run_sequence_claim arsc
INNER JOIN adjudication_run_sequence ars ON ars.adjudication_run_sequence_id = arsc.adjudication_run_sequence_id
INNER JOIN adjudication_run ar ON ar.adjudication_run_id = ars.adjudication_run_id
WHERE ar.start_time < @deleteDate
)

IF @@Error > 0
RETURN @SP_EXCEPTION



DELETE FROM adjudication_run_sequence
WHERE adjudication_run_sequence_id IN
(
SELECT ars.adjudication_run_sequence_id FROM adjudication_run_sequence ars
INNER JOIN adjudication_run ar ON ar.adjudication_run_id = ars.adjudication_run_id
WHERE ar.start_time < @deleteDate
)

IF @@Error > 0
RETURN @SP_EXCEPTION


RETURN @SP_SUCCESS

END
GO
