USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_scope_of_limit_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 07/13/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/13/2012	dcannon		1.0			initial create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure loads scope of limit system items
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_scope_of_limit_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
scope_of_limit.scope_of_limit_id
,scope_of_limit.scope_of_limit_ud
,scope_of_limit.golden_key
FROM scope_of_limit
ORDER BY scope_of_limit_ud
--
RETURN @SP_SUCCESS
GO
