USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_duplicate_claim]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_duplicate_claim]
	@claim_id int,
	@new_claim_id int output,
	@new_claim_ud nvarchar(50) output
	
as 


--processing varialbes 
declare @claim_type_id int --2=institutional 3=professional
declare @orig_network_id int
declare @orig_repriced_network nvarchar(50)



select @claim_type_id = c.claim_form_type_id
	, @orig_network_id = c.provider_network_id
	, @orig_repriced_network = c.repriced_network
from claim c
where c.claim_id = @claim_id 


--Institutional workflow
if @claim_type_id = 2
begin

	exec bind_auto_create_claim_id_rule @claim_type = 'Institutional', @claim_number_out = @new_claim_ud output
	exec @new_claim_id = plx_institutional_claim_duplicate @id = @claim_id, @ud = @new_claim_ud

end



--Professional workflow
else if @claim_type_id = 3
begin

	exec bind_auto_create_claim_id_rule @claim_type = 'Professional', @claim_number_out = @new_claim_ud output
	exec @new_claim_id = plx_professional_claim_duplicate @id = @claim_id, @ud = @new_claim_ud

end

update c
set c.repriced_network = @orig_repriced_network
	, c.provider_network_id = @orig_network_id
	, c.received_date = getdate()
	, c.clean_date = getdate()
from claim c
where c.claim_id = @new_claim_id

update cp
SET cp.received_date = getdate()
 , cp.clean_date = getdate()
from claim_procedure cp 
where cp.claim_id = @new_claim_id

GO
