USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/05/2008	wchristensen	1.0			Created
05/27/2008	wchristensen	1.1			Changed to return success if record does not exist
06/01/2009	lrenard			1.2		Added claim_readjudication_queue
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check dependencies on a fee schedule before deleting.
- used for both Inpatient Fee Schedule and Professional Medical Fee Schedule.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the fee schedule to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_fee_schedule_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@return				int,
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int,
@SP_EXCEPTION		int
SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION 		= -1

-- First check that the fee schedule exists
IF NOT EXISTS (SELECT fee_schedule_id FROM fee_schedule WHERE fee_schedule_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM benefit_limit_fee_schedule WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM fee_schedule WHERE base_fee_schedule_id = @id)
OR EXISTS(SELECT * FROM payment_contract_definition_fee_schedule WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM outlier_payment_value WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM global_payment_value WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM claim_readjudication_queue WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM fee_schedule_set_fee_schedule WHERE fee_schedule_id = @id)
OR EXISTS(SELECT * FROM withhold_schedule_detail WHERE fee_schedule_id = @id)

BEGIN
--check other fee schedules
SELECT 'Fee Schedule' AS object_golden_key, fee_schedule_ud AS object_ud
FROM fee_schedule
WHERE base_fee_schedule_id = @id

--check fee schedule sets
SELECT 'Fee Schedule Set' AS object_golden_key, fss.fee_schedule_set_ud AS object_ud
FROM fee_schedule_set fss
WHERE fss.fee_schedule_set_id in
(SELECT fee_schedule_set_id FROM fee_schedule_set_fee_schedule fssfs WHERE fssfs.fee_schedule_id = @id)

--check benefit limit fee schedules
SELECT 'Benefit Plan' AS object_golden_key, benefit_plan_ud AS object_ud
FROM benefit_limit_fee_schedule blfs
INNER JOIN benefit_plan bp ON blfs.benefit_plan_id = bp.benefit_plan_id
WHERE blfs.fee_schedule_id = @id

--check dental claims
SELECT 'Payment Contract' AS object_golden_key, payment_contract_ud AS object_ud
FROM payment_contract_definition_fee_schedule pcdfs
INNER JOIN payment_contract_definition pcd ON pcd.payment_contract_definition_id = pcdfs.payment_contract_definition_id
INNER JOIN payment_contract pc ON pcd.payment_contract_id = pc.payment_contract_id
WHERE pcdfs.fee_schedule_id = @id

--check outlier payment value
SELECT 'Outlier Payment Value' AS object_golden_key, outlier_payment_value_id AS object_ud
FROM outlier_payment_value
WHERE fee_schedule_id = @id

--check global payment value
SELECT 'Global Payment Value' AS object_golden_key, global_payment_value_id AS object_ud
FROM global_payment_value
WHERE fee_schedule_id = @id

--check Claim Re-Adjudication Filter
SELECT 'Claim Re-Adjudication Filter' AS object_golden_key, claim_readjudication_queue_ud AS object_ud
FROM claim_readjudication_queue
WHERE fee_schedule_id = @id

SELECT 'Withhold Schedule' AS object_golden_key, withhold_schedule_ud AS object_ud
FROM withhold_schedule ws
INNER JOIN withhold_schedule_detail wsd ON ws.withhold_schedule_id = wsd.withhold_schedule_id
WHERE fee_schedule_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
