USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_past_due_penalty_account_assignment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  PROCEDURE [dbo].[plx_customer_past_due_penalty_account_assignment_load]
(
@customer_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
cpdpaa.customer_past_due_penalty_account_assignment_id
,cpdpaa.customer_id
,cpdpaa.accounting_company_id
,ac.accounting_company_ud
,cpdpaa.accounting_company_account_id
,aca.accounting_company_account_ud
,cpdpaa.effective_from
,cpdpaa.effective_thru
FROM customer_past_due_penalty_account_assignment AS cpdpaa
INNER JOIN accounting_company AS ac
ON ac.accounting_company_id = cpdpaa.accounting_company_id
INNER JOIN accounting_company_account AS aca
ON aca.accounting_company_account_id = cpdpaa.accounting_company_account_id
WHERE cpdpaa.customer_id = @customer_id
AND cpdpaa.active = 1
ORDER BY
CASE WHEN cpdpaa.effective_from IS NULL THEN 0 ELSE 1 END , cpdpaa.effective_from DESC
,CASE WHEN cpdpaa.effective_thru IS NULL THEN 0 ELSE 1 END , cpdpaa.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
