USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_procedure_code_sub_category2_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 27 2005 12:52AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_procedure_code_sub_category2_load]

(
@procedure_code_sub_category2_nm nvarchar(255) 		= null,
@procedure_code_sub_category2_id	int 		= null,
@claim_usage_type_id int 		= null,
@procedure_code_type_id  int = null,
@procedure_code_category_id 		int		= null,
@procedure_code_sub_category1_id 		int		= null
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString 		AS NVARCHAR(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@table_name	NVARCHAR(255)


SELECT
@sqlString 		= '',
@sqlCondition		= '',
@Prefix 	= '',
@Suffix 	= '',
@table_name 	= ''

--IF @exact_match = 1 BEGIN
SET @Prefix = ' = N'''
SET @Suffix = ''' '
--END
--ELSE
--BEGIN
--	SET @Prefix = ' LIKE ''%'
--	SET @Suffix = '%'''
--END

--IF LOWER(@target_code_group) = 'procedure code groups'
--BEGIN

SET @sqlString = 'SELECT procedure_code_sub_category2.procedure_code_sub_category2_id ,
procedure_code_sub_category2.procedure_code_sub_category2_nm,
procedure_code_sub_category1.procedure_code_sub_category1_id ,
procedure_code_sub_category1.procedure_code_sub_category1_nm ,
procedure_code_category.procedure_code_category_id ,
procedure_code_category.procedure_code_category_nm ,
claim_usage_type.claim_usage_type_id,
claim_usage_type.claim_usage_type_ud,
procedure_code_type.procedure_code_type_id ,
procedure_code_type.procedure_code_type_ud

FROM
dbo.procedure_code_sub_category2
LEFT JOIN procedure_code_sub_category1 ON procedure_code_sub_category1.procedure_code_sub_category1_id = procedure_code_sub_category2.procedure_code_sub_category1_id
LEFT JOIN procedure_code_category ON procedure_code_category.procedure_code_category_id = procedure_code_sub_category1.procedure_code_category_id
LEFT JOIN procedure_code_type ON procedure_code_type.procedure_code_type_id = procedure_code_category.procedure_code_type_id
LEFT JOIN claim_usage_type ON claim_usage_type.claim_usage_type_id = procedure_code_type.claim_usage_type_id '

IF (@procedure_code_sub_category2_nm IS NOT NULL) AND (@procedure_code_sub_category2_nm <> '') BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
SET @sqlCondition = @sqlCondition + ' procedure_code_sub_category2.procedure_code_sub_category2_nm ' + @Prefix + dbo.plx_EncodeString(@procedure_code_sub_category2_nm) + @Suffix
END

IF (@procedure_code_sub_category2_id IS NOT NULL) AND (@procedure_code_sub_category2_id <> 0) BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
SET @sqlCondition = @sqlCondition +  ' procedure_code_sub_category2.procedure_code_sub_category2_id ='  + cast(@procedure_code_sub_category2_id as varchar)
END

IF (@claim_usage_type_id IS NOT NULL) AND (@claim_usage_type_id <> 0) BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
SET @sqlCondition = @sqlCondition +  ' claim_usage_type.claim_usage_type_id = '  + cast(@claim_usage_type_id as varchar)
END

IF (@procedure_code_type_id is not null) and (@procedure_code_type_id <> 0)
BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
set @sqlCondition = @sqlCondition + ' procedure_code_type.procedure_code_type_id = '  +
cast(@procedure_code_type_id as varchar)
END

IF (@procedure_code_category_id is not null) and (@procedure_code_category_id <> 0)
BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
set @sqlCondition = @sqlCondition + ' procedure_code_category.procedure_code_category_id = ' +  cast(@procedure_code_category_id as varchar)
END

IF (@procedure_code_sub_category1_id is not null) and (@procedure_code_sub_category1_id <> 0)
BEGIN
IF @sqlCondition <> '' BEGIN SET @sqlCondition = @sqlCondition + ' AND ' END
set @sqlCondition = @sqlCondition + ' procedure_code_sub_category1.procedure_code_sub_category1_id = ' + cast( @procedure_code_sub_category1_id as varchar)
END

IF @sqlCondition <> ''
BEGIN
SET @sqlString = @sqlString + ' WHERE ' + @sqlCondition
END

EXEC(@sqlString)
--PRINT(@sqlString)

END
GO
