USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_claim_payee_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuyngo
1  2 2006  9:13AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_claim_payee from the claim_payee table.
--
REQUIREMENTS:
--
INPUTS:
claim_payee_id - Key to claim_payee table, identifies a single stored dd_claim_payee.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_provider_claim_payee_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
claim_payee.claim_payee_id
,claim_payee.claim_payee_ud
,claim_payee.claim_payee_nm
FROM claim_payee
order by claim_payee_ud
--
RETURN @SP_SUCCESS
GO
