USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_preferred_communication_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  6:23PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Preferred Communications"
in frmContacts form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_contact_preferred_communication_load]

(
@contact_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
contact_preferred_communication.contact_preferred_communication_id
,contact_preferred_communication.contact_id

,contact_preferred_communication.communication_type_id
,communication_type.communication_type_ud
,contact_preferred_communication.communication_method_id
,communication_method.communication_method_ud
FROM contact_preferred_communication
left join communication_type  ON communication_type.communication_type_id = contact_preferred_communication.communication_type_id
left join communication_method  ON communication_method.communication_method_id = contact_preferred_communication.communication_method_id
WHERE contact_preferred_communication.contact_id = @contact_id
ORDER BY communication_type.communication_type_ud

RETURN @SP_SUCCESS
--
GO
