USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_copayment_value_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005 11:05AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down copayment_value_rule (Copayment Value Rule)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_copayment_value_rule_load]

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
copayment_value_rule.copayment_value_rule_id
,copayment_value_rule.copayment_value_rule_ud
--      ,copayment_value_rule.copayment_value_rule_nm
--      ,benefit_class.description
--      ,benefit_class.class_data_type_id

--      ,class_data_type.class_data_type_ud
--      ,benefit_class.active
--      ,benefit_class.created_user_name
--      ,benefit_class.created_group_id

--      ,created_group.created_group_ud
--      ,benefit_class.created_date
--      ,benefit_class.modified_date
FROM copayment_value_rule
ORDER BY copayment_value_rule.copayment_value_rule_ud
--      inner join class_data_type  ON class_data_type.class_data_type_id = benefit_class.class_data_type_id
--      inner join created_group  ON created_group.created_group_id = benefit_class.created_group_id
--WHERE benefit_class.benefit_class_id = @benefit_class_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
