USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_adjustment_group_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/05/2017	eponomareff		1.0			created RT:11929 carc/rarc

--
--
DESCRIPTION:

Dropdown list for Claim Adjustment Group Codes (system table editor)

******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_adjustment_group_code_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
claim_adjustment_group_code_id
,claim_adjustment_group_code_ud
,description

FROM claim_adjustment_group_code

--
RETURN @SP_SUCCESS
--
GO
