USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_contact_list_load]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Dec 22 2005  3:58PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Dec 22 2005	Hien D Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdAssociatedContacts on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_practice_office_contact_list_load] (@practice_office_id INT = NULL)
AS
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

SELECT practice_office_contact.practice_office_contact_id
,contact.contact_id
,practice_office_contact.practice_office_id
,practice_office.practice_office_ud
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,practice_office_contact.is_primary
,practice_office_contact.effective_from
,practice_office_contact.effective_thru
FROM practice_office
INNER JOIN practice_office_contact
ON practice_office.practice_office_id = practice_office_contact.practice_office_id
LEFT JOIN contact_association_type
ON practice_office_contact.contact_association_type_id = contact_association_type.contact_association_type_id
LEFT JOIN contact
ON practice_office_contact.contact_id = contact.contact_id
LEFT JOIN contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE practice_office_contact.practice_office_id = @practice_office_id
ORDER BY CASE
WHEN practice_office_contact.effective_from IS NULL
THEN 0
ELSE 1
END ASC
,practice_office_contact.effective_from DESC
,CASE
WHEN practice_office_contact.effective_thru IS NULL
THEN 0
ELSE 1
END ASC
,practice_office_contact.effective_thru DESC

RETURN @SP_SUCCESS
END
GO
