USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_result_codes_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 24 2006 10:55AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/14/2006	ThuyNguyen	1.1		Result code not add new in this store
09/08/2009  eponomareff 1.2      modified to handle inserts (like plx_adjudication_result_code_save)
NOTE - the table relationship is 1:1 - we dont' need @adjudication_result_code_override_id
08/20/2010	lrenard		1.3		Updating use_on_%_report to be a drop down instead of a bit
05/12/2015  lhendrix    1.4     7778 remove ISNULL in the where clause
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:

Except in rare cases, records in this grid can only be changed; however, inserts can happen, by System, but not by User.

The updated record may have a corresponding override record in the adjudication_result_code_override table
depending on which fields are populated in the grid.

NOTE THAT do not clear checkbox and comment fields are in the base table.

******************************/
CREATE        PROCEDURE [dbo].[plx_claim_result_codes_save]
(
@adjudication_result_code_id                int = NULL OUTPUT --This can be NULL if system is inserting result code
,@adjudication_result_code_override_id       int = NULL OUTPUT
,@claim_id                                   int = NULL
,@claim_procedure_id                         int = NULL
,@result_code_id                             int = NULL

,@user_status_id                             int = NULL
,@system_status_id                           int = NULL
,@last_modified_by                           nvarchar(128)= NULL
,@last_modified_date                         datetime = NULL OUTPUT
,@do_not_clear                               bit = NULL
,@non_clean                                  bit = NULL
,@member_report_print_override_option_id     int = NULL
,@provider_report_print_override_option_id   int = NULL
,@created_user_name                          nvarchar(128) = NULL
,@comment                                    nvarchar(1000) = NULL
,@modified_date                              datetime = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

--set @last_modified_by = @created_user_name

-- UPDATE/INSERT TO FIRST TABLE, adjudication_result_code
DECLARE @ErrorVar int, @RowCountVar int
DECLARE @new_modified_date datetime
SET @new_modified_date = GETDATE()

DECLARE @update_readjudicate_status BIT = 0

IF @adjudication_result_code_id IS NOT NULL
BEGIN
UPDATE adjudication_result_code
SET
do_not_clear      = @do_not_clear
,comment           = @comment
-- note that the modified_date in this table corresponds to the @last_modified_date, which is what shows in the grid
,modified_date                            = @new_modified_date
WHERE adjudication_result_code_id = @adjudication_result_code_id
AND (modified_date IS NULL OR (@last_modified_date IS NOT NULL AND modified_date = @last_modified_date))

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
SET @last_modified_date = @new_modified_date

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
ELSE
--insert new claim header result code (used by system)
BEGIN
SET @update_readjudicate_status = 1
INSERT INTO adjudication_result_code
(
claim_id
,claim_procedure_id
,result_code_id
,modified_date
,do_not_clear
,comment

)
VALUES
(
@claim_id
,@claim_procedure_id
,@result_code_id
,null
,@do_not_clear
,@comment

)

--get the id
SET @adjudication_result_code_id = @@IDENTITY
END


--DO JOINED TABLE, 1:1 RELATIONSHIP -- Only if necessary

IF EXISTS
(SELECT adjudication_result_code_override_id FROM adjudication_result_code_override
WHERE adjudication_result_code_id = @adjudication_result_code_id)
--- Updating an existing adjudication_result_code_override record
BEGIN
DECLARE @current_result_code_status_id INT = NULL
SELECT @current_result_code_status_id = result_code_status_id
FROM adjudication_result_code_override
WHERE adjudication_result_code_id = @adjudication_result_code_id

IF ISNULL(@current_result_code_status_id,0) <> ISNULL(@user_status_id,0)
BEGIN
SET @update_readjudicate_status = 1
END

UPDATE adjudication_result_code_override
SET
result_code_status_id                   = @user_status_id
,member_report_print_override_option_id  = @member_report_print_override_option_id
,provider_report_print_override_option_id= @provider_report_print_override_option_id
,not_a_clean_claim                       = @non_clean
,last_modified_by                        = @last_modified_by
,modified_date                           = @new_modified_date
WHERE adjudication_result_code_id = @adjudication_result_code_id
AND (modified_date IS NULL OR (@modified_date IS NOT NULL AND modified_date = @modified_date))

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
SET @modified_date = @new_modified_date

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
-- Insert override record ONLY if we have override information
ELSE IF (
@user_status_id     IS NOT NULL OR
@member_report_print_override_option_id    IS NOT NULL OR
@provider_report_print_override_option_id  IS NOT NULL OR
@non_clean          = 1
)

BEGIN
IF @user_status_id IS NOT NULL
BEGIN
SET @update_readjudicate_status = 1
END

INSERT INTO adjudication_result_code_override(
adjudication_result_code_id
,result_code_status_id
,member_report_print_override_option_id
,provider_report_print_override_option_id
,not_a_clean_claim
,last_modified_by
,created_date
,modified_date
)
VALUES(
@adjudication_result_code_id
,@user_status_id
,@member_report_print_override_option_id
,@provider_report_print_override_option_id
,@non_clean
,@created_user_name
,GETDATE()
,null
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
END

IF @update_readjudicate_status = 1
BEGIN
DECLARE @READJUDICATE_ADJUDICATION_STATUS_ID INT =
(SELECT adjudication_status_id FROM adjudication_status WHERE golden_key = 'READJUDICATE')

/*
UPDATE claim
SET claim.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim
JOIN adjudication_status adj_stat
ON claim.adjudication_status_id = adj_stat.adjudication_status_id
LEFT JOIN claim_procedure cp
ON claim.claim_id = cp.claim_id
WHERE
(
claim.claim_id = @claim_id
OR
cp.claim_procedure_id = @claim_procedure_id
)
AND
adj_stat.golden_key <> 'OPEN' AND adj_stat.golden_key IS NOT NULL;
*/



-- Case 1: Filter by claim_id only
UPDATE c
SET c.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim c
JOIN adjudication_status adj_stat
    ON c.adjudication_status_id = adj_stat.adjudication_status_id
WHERE
    c.claim_id = @claim_id
    AND adj_stat.golden_key <> 'OPEN'
    AND adj_stat.golden_key IS NOT NULL;


-- Case 2: Filter by claim_procedure_id
UPDATE c
SET c.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim c
JOIN adjudication_status adj_stat
    ON c.adjudication_status_id = adj_stat.adjudication_status_id
JOIN claim_procedure cp
    ON c.claim_id = cp.claim_id
WHERE
    cp.claim_procedure_id = @claim_procedure_id
    AND adj_stat.golden_key <> 'OPEN'
    AND adj_stat.golden_key IS NOT NULL;
END
--
RETURN @SP_SUCCESS
--
GO
