USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_bank_account_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
10/06/2009	Vishwa Jella	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
used to load bank accounts
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_bank_account_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bank_account.bank_account_id
,bank_account.bank_account_ud
FROM bank_account
ORDER BY bank_account_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
