USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_applied_transactions_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/13/2009	wchristensen	1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load applied transaction info  for Accounting Transaction Details AR form (Applied Transactions grid).
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_applied_transactions_load]
(
@accounting_transaction_id			int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
ataat.from_accounting_transaction_ar_id as transaction_id
,ata.accounting_transaction_ar_ud as transaction_ud
,ata.accounting_transaction_ar_type_id as transaction_type_id
,atat.accounting_transaction_ar_type_ud as transaction_type_ud
,atat.golden_key as transaction_type_golden_key
,ataat.amount
,ataat.date

FROM accounting_transaction_ar_apply_to ataat
LEFT JOIN accounting_transaction_ar ata ON ata.accounting_transaction_ar_id = ataat.from_accounting_transaction_ar_id
LEFT JOIN accounting_transaction_ar_type atat ON atat.accounting_transaction_ar_type_id = ata.accounting_transaction_ar_type_id
WHERE ataat.to_accounting_transaction_ar_id = @accounting_transaction_id
--
RETURN @SP_SUCCESS
--
GO
