USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_payment_disbursement_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Supports Account Assignments gridon
UI Form: Premium Billing Account Assignments
Tab Page: Disbursement Premium Payment
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_premium_payment_disbursement_delete]
(
@account_assignment_premium_payment_disbursement_id INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT,
@ERROR_CANT_DELETE NVARCHAR(50);
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012';
--
IF NOT EXISTS (SELECT * FROM account_assignment_premium_payment_disbursement WHERE account_assignment_premium_payment_disbursement_id = @account_assignment_premium_payment_disbursement_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM account_assignment_premium_payment_disbursement
WHERE account_assignment_premium_payment_disbursement_id = @account_assignment_premium_payment_disbursement_id

DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

END
--
RETURN @SP_SUCCESS
--
GO
