USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dp_errors_claim_payment_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------
09/29/2008	Jeremy Hein		1.0			Created
10/09/2008  Jeremy Hein     1.1         Add ids for zoom.
--

--
DESCRIPTION:
Displays all errors for the Disbursements Process - Claims Payment
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dp_errors_claim_payment_list_load]
(
@from_date datetime = null,
@thru_date datetime = null,
@result_code_id INT = null,
@schema_only bit = 1
)
AS

DECLARE @SP_SUCCESS int;
SELECT @SP_SUCCESS = 0;

DECLARE @limit INT;
SELECT @limit = dbo.fn_results_limit();

SELECT TOP (@limit)
u.accounting_transaction_ap_id,
u.accounting_transaction_ap_ud,
u.accounting_company_id,
u.accounting_company_ud,
u.vendor_id,
u.vendor_ud,
u.run_date,
u.result_code_id,
u.result_code_ud,
u.result_code_description
FROM
(
(
SELECT TOP (@limit)
ata.accounting_transaction_ap_id,
ata.accounting_transaction_ap_ud,
ata.accounting_company_id,
ac.accounting_company_ud,
ata.vendor_id,
vendor.vendor_ud,
run.start_time AS run_date,
res.result_code_id,
rc.result_code_ud,
rc.short_message AS result_code_description
FROM
disbursement_claim_payment_run run
INNER JOIN disbursement_claim_payment_run_result_code res
ON res.disbursement_claim_payment_run_id = run.disbursement_claim_payment_run_id
INNER JOIN result_code rc
ON res.result_code_id = rc.result_code_id
INNER JOIN accounting_transaction_ap ata
ON res.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN vendor
ON vendor.vendor_id = ata.vendor_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
WHERE
@schema_only = 0
AND DATEDIFF(day, ISNULL(@from_date, run.start_time), run.start_time) >= 0
AND DATEDIFF(day, ISNULL(@thru_date, run.start_time), run.start_time) <= 0
AND ISNULL(@result_code_id, res.result_code_id) = res.result_code_id
ORDER BY
run_date DESC
)
UNION
(
SELECT TOP (@limit)
NULL AS accounting_transaction_ap_id,
NULL AS accounting_transaction_ap_ud,
NULL AS accounting_company_id,
NULL AS accounting_company_ud,
zt.vendor_id,
vendor.vendor_ud,
run.start_time AS run_date,
res.result_code_id,
rc.result_code_ud,
rc.short_message AS result_code_description
FROM
disbursement_claim_payment_run run
INNER JOIN disbursement_claim_payment_run_result_code res
ON res.disbursement_claim_payment_run_id = run.disbursement_claim_payment_run_id
INNER JOIN result_code rc
ON res.result_code_id = rc.result_code_id
INNER JOIN zero_tracking_claim_procedure zt
ON zt.zero_tracking_claim_procedure_id = res.zero_tracking_claim_procedure_id
LEFT JOIN vendor
ON vendor.vendor_id = zt.vendor_id
WHERE
@schema_only = 0
AND DATEDIFF(day, ISNULL(@from_date, run.start_time), run.start_time) >= 0
AND DATEDIFF(day, ISNULL(@thru_date, run.start_time), run.start_time) <= 0
AND ISNULL(@result_code_id, res.result_code_id) = res.result_code_id
ORDER BY
run_date DESC
)
) u
ORDER BY
u.run_date DESC;

RETURN @SP_SUCCESS
GO
