USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_benefit_coverage_exception_rule_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 05/15/2009
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/15/2009	Vishwa Jella	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data on benefit coverage exception rules grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_benefit_coverage_exception_rule_list_load]
(
@benefit_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bbcrr.benefit_benefit_coverage_exception_rule_id
,bbcrr.benefit_id
,bbcrr.benefit_coverage_exception_rule_id
,benefit_coverage_exception_rule.benefit_coverage_exception_rule_ud
,benefit_coverage_exception_rule.description
,bbcrr.effective_from
,bbcrr.effective_thru
,bbcrr.modified_date
FROM benefit_benefit_coverage_exception_rule bbcrr
left join benefit_coverage_exception_rule  ON benefit_coverage_exception_rule.benefit_coverage_exception_rule_id = bbcrr.benefit_coverage_exception_rule_id
WHERE bbcrr.benefit_id = @benefit_id
ORDER BY
CASE WHEN bbcrr.effective_from IS NULL THEN 0 ELSE 1 END , bbcrr.effective_from DESC
,CASE WHEN bbcrr.effective_thru IS NULL THEN 0 ELSE 1 END , bbcrr.effective_thru DESC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
