USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_generated_capitation_summary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date:   08/10/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/11/2009	Vishwa		1.0			Updated with rolling up vendors

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for generated capitations grid on frmcapitationRun

--
REQUIREMENTS:
--
INPUTS:
@capitation_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_run_generated_capitation_summary_load] (
@capitation_run_id INT
) AS

SELECT
cs.capitation_run_id
,cs.capitation_period_id
,dbo.plx_fn_get_capitation_period_ud(cs.capitation_period_id) AS capitation_period_ud
,v.vendor_id
,v.vendor_ud
,v.vendor_nm
,SUM(cs.summary_amount) as amount
,cstat.capitation_status_ud
FROM dbo.capitation_summary cs
JOIN vendor v on cs.vendor_id = v.vendor_id
JOIN capitation_status cstat ON cs.capitation_status_id = cstat.capitation_status_id
WHERE cs.capitation_run_id = @capitation_run_id
GROUP BY cs.capitation_run_id,cs.capitation_period_id,
cstat.capitation_status_ud,
v.vendor_ud, v.vendor_nm, v.vendor_id
ORDER BY
capitation_period_ud
,vendor_ud
GO
