USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_past_due_penalty_rate_assignment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  PROCEDURE [dbo].[plx_customer_past_due_penalty_rate_assignment_load]
(
@customer_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
cpdpra.customer_past_due_penalty_rate_assignment_id
--,customer_past_due_penalty_rate_assignment.customer_id
,cpdpra.past_due_penalty_rate_id
,pdpr.past_due_penalty_rate_ud
,cpdpra.effective_from
,cpdpra.effective_thru
FROM customer_past_due_penalty_rate_assignment AS cpdpra
INNER JOIN past_due_penalty_rate as pdpr on pdpr.past_due_penalty_rate_id = cpdpra.past_due_penalty_rate_id
WHERE cpdpra.customer_id = @customer_id
AND cpdpra.active = 1
ORDER BY
CASE WHEN cpdpra.effective_from IS NULL THEN 0 ELSE 1 END , cpdpra.effective_from DESC
,CASE WHEN cpdpra.effective_thru IS NULL THEN 0 ELSE 1 END , cpdpra.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
