USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_ui_engine_lookup_parameter_sel_by_golden_key]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_ui_engine_lookup_parameter_sel_by_golden_key] (
@golden_key nvarchar(100)
) As

Select
ui_engine_lookup_parameter_id,
golden_key
From
ui_engine_lookup_parameter
Where
golden_key = @golden_key
GO
