USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_cc_entity_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mabdul\Cfacey
08/20/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Intitial document CC & Response Recived Document CC drop downs
(Correspondence Entities)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_correspondence_cc_entity_load]
(
@correspondence_entity_id		int = null
)

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION			int
SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION			= -1

SELECT
ce.correspondence_entity_id
,ce.correspondence_entity_ud
FROM correspondence_entity ce, correspondence_cc_entity cce
WHERE ce.correspondence_entity_id = cce.cc_correspondence_entity_id
and cce.to_correspondence_entity_id = @correspondence_entity_id
ORDER BY correspondence_entity_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
