USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_user_assigned_result_code_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
DATE: 01/09/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/09/2006	tinhdo		1.0		Created
08/22/2014		eponomareff			RT:6046 data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for User Assigned Result Codes grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_client_user_assigned_result_code_list_load]
(
@client_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_user_assigned_result_code.client_user_assigned_result_code_id

,client_user_assigned_result_code.criteria_id
,criteria.criteria_ud

,client_user_assigned_result_code.result_code_id
,result_code.result_code_ud

,client_user_assigned_result_code.result_code_status_id
,result_code_status.result_code_status_ud

,client_user_assigned_result_code.comment
,client_user_assigned_result_code.effective_from
,client_user_assigned_result_code.effective_thru

,client_user_assigned_result_code.modified_user_name

FROM client_user_assigned_result_code
left join criteria  ON criteria.criteria_id = client_user_assigned_result_code.criteria_id
left join result_code  ON result_code.result_code_id = client_user_assigned_result_code.result_code_id
left join result_code_status  ON result_code_status.result_code_status_id = client_user_assigned_result_code.result_code_status_id
WHERE client_user_assigned_result_code.client_id = @client_id
ORDER BY
CASE WHEN client_user_assigned_result_code.effective_from IS NULL THEN 0 ELSE 1 END , client_user_assigned_result_code.effective_from DESC
,CASE WHEN client_user_assigned_result_code.effective_thru IS NULL THEN 0 ELSE 1 END , client_user_assigned_result_code.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
