USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_distribution_customer_memo_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to save data for Distribution on the following forms:
- Customer Credit Memo, Customer Debit Memo
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_distribution_customer_memo_save]
(
@accounting_transaction_distribution_id    INT = NULL OUTPUT
,@accounting_transaction_ar_id              INT = NULL
,@accounting_company_account_id             INT = NULL
,@amount                                    NUMERIC(20,10) = NULL
)
AS

DECLARE	@SUCCESS INT
DECLARE @EXCEPTION INT
DECLARE @TYPE nvarchar(50)

SELECT 	@SUCCESS = 0, @EXCEPTION = -1

SELECT @TYPE = golden_key
FROM accounting_transaction_ar_type trx_type
INNER JOIN accounting_transaction_ar trx ON trx_type.accounting_transaction_ar_type_id = trx.accounting_transaction_ar_type_id
WHERE trx.accounting_transaction_ar_id = @accounting_transaction_ar_id

IF (@accounting_transaction_distribution_id IS NULL)
BEGIN
INSERT INTO accounting_transaction_ar_distribution(
accounting_transaction_ar_id
,accounting_company_account_id
,amount
,is_debit
)
VALUES
(@accounting_transaction_ar_id
,@accounting_company_account_id
,ABS(@amount)
,CASE @TYPE
WHEN 'CHARGE' THEN 0
WHEN 'CREDIT' THEN 1
WHEN 'AR_CREDIT_MEMO' THEN 1
WHEN 'AR_DEBIT_MEMO' THEN 0
END
)

SET @accounting_transaction_distribution_id = @@IDENTITY

IF NOT EXISTS (SELECT * FROM accounting_transaction_ar_distribution WHERE accounting_transaction_ar_distribution_id = @accounting_transaction_distribution_id )
BEGIN
RETURN @EXCEPTION
END
END
ELSE
BEGIN
UPDATE 	accounting_transaction_ar_distribution
SET
accounting_transaction_ar_id	= @accounting_transaction_ar_id
,accounting_company_account_id	= @accounting_company_account_id
,amount							= ABS(@amount)
,is_debit						= CASE @TYPE
WHEN 'CHARGE' THEN 0
WHEN 'CREDIT' THEN 1
WHEN 'AR_CREDIT_MEMO' THEN 1
WHEN 'AR_DEBIT_MEMO' THEN 0
END
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE 	accounting_transaction_ar_distribution_id = @accounting_transaction_distribution_id
END

RETURN @SUCCESS
GO
