USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_identifier_list_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  1 2006  2:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	hthan		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for brokerage identifier grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_brokerage_identifier_list_save]
(
@agent_identifier_id                        int = NULL   OUTPUT
,@brokerage_id                               int = NULL
,@brokerage_id_type_id                           int = NULL
,@brokerage_ud                               nvarchar(50) = NULL
,@is_default                                 bit = NULL
,@identifier_effective_from                  datetime = NULL
,@identifier_effective_thru                  datetime = NULL
,@active                                     bit = 1
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_identifier_id is Null
BEGIN

--- Create a new agent_identifier record
INSERT INTO agent_identifier(
agent_id
,agent_id_type_id
,agent_ud
,is_default
,effective_from
,effective_thru
,active
)
VALUES
(@brokerage_id
,@brokerage_id_type_id
,@brokerage_ud
,@is_default
,@identifier_effective_from
,@identifier_effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_identifier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_identifier WHERE agent_identifier_id = @agent_identifier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agent_identifier record
UPDATE agent_identifier
SET
agent_id                                 = @brokerage_id
,agent_id_type_id                         = @brokerage_id_type_id
,agent_ud                                 = @brokerage_ud
,is_default                               = @is_default
,effective_from                           = @identifier_effective_from
,effective_thru                           = @identifier_effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_identifier_id = @agent_identifier_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
