USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_ui_value_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;

AUTHOR: MAbdul/CFacey
;
REVISION_HISTORY:

Date			Modified By			Version		Description
--------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	:
Procedure to select correspondence_object_operator_value based on selected object & operator.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_correspondence_ui_value_type_load]
(
@correspondence_object_id INT = NULL
)

AS

If EXISTS ( SELECT * FROM correspondence_object co
WHERE co.correspondence_object_id = @correspondence_object_id
AND co.correspondence_operator_set_id IS NOT NULL )
BEGIN

SELECT
co.correspondence_object_id
,co.correspondence_operator_set_id
,co.criteria_value_id
,cv.criteria_value_ud
,cv.golden_key
,ui_engine_lookup_parameter.display_form
,ui_engine_lookup_parameter.find_form
,ui_engine_lookup_parameter.stored_procedure
,ui_engine_lookup_parameter.table_name
,ui_engine_lookup_parameter.displayed_field
,ui_engine_lookup_parameter.stored_field
FROM correspondence_object co
INNER JOIN criteria_value cv ON cv.criteria_value_id = co.criteria_value_id
INNER JOIN ui_engine_lookup_parameter ON ui_engine_lookup_parameter.ui_engine_lookup_parameter_id = co.ui_engine_lookup_parameter_id
WHERE  co.correspondence_object_id = @correspondence_object_id
AND co.correspondence_operator_set_id IS NOT NULL

END
ELSE
BEGIN

SELECT
co.correspondence_object_id
,co.correspondence_operator_set_id
,co.criteria_value_id
,cv.criteria_value_ud
,cv.golden_key
,ui_engine_lookup_parameter.display_form
,ui_engine_lookup_parameter.find_form
,ui_engine_lookup_parameter.stored_procedure
,ui_engine_lookup_parameter.table_name
,ui_engine_lookup_parameter.displayed_field
,ui_engine_lookup_parameter.stored_field
FROM correspondence_object co
INNER JOIN criteria_value cv ON cv.criteria_value_id = co.criteria_value_id
LEFT JOIN ui_engine_lookup_parameter ON ui_engine_lookup_parameter.ui_engine_lookup_parameter_id = co.ui_engine_lookup_parameter_id
WHERE  co.correspondence_object_id = @correspondence_object_id
AND co.correspondence_operator_set_id IS NULL
END
GO
