USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/01/2013
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/01/2013	eponomareff		1.0			Created
01/26/2017  eponomareff     2.0         Modified to support N-tier Composite Tiers
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:

Loads the information necessary to populate form-level data on Composite Tier form
--
REQUIREMENTS:
--
INPUTS:
@tier_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_composite_tier_load]
(
@tier_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
t.tier_id
,t.tier_ud
,t.description
,tct.tier_criteria_type_id
,t.tier_restricted_to_type_id

FROM dbo.tier t
INNER JOIN tier_criteria_type tct ON t.tier_criteria_type_golden_key = tct.golden_key
LEFT JOIN tier_criteria tc_composite ON tc_composite.tier_id = t.tier_id

WHERE
t.tier_id = @tier_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
