USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_customer_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 08/12/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/12/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdCustomerAssignments on form frmFamilyEligibility

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_customer_list_load]
(
@family_eligibility_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fec.family_eligibility_customer_id
,fec.family_eligibility_id
,fec.customer_id
,c.customer_ud
,fec.criteria_id
,cr.criteria_ud
,fec.effective_from
,fec.effective_thru
,fec.modified_date

FROM dbo.family_eligibility_customer fec
inner join dbo.customer c on fec.customer_id = c.customer_id
left join dbo.criteria cr on fec.criteria_id = cr.criteria_id

WHERE fec.family_eligibility_id = @family_eligibility_id

ORDER BY CASE WHEN fec.effective_from IS NULL THEN 0 ELSE 1 END ASC, fec.effective_from DESC,
CASE WHEN fec.effective_thru IS NULL THEN 0 ELSE 1 END ASC, fec.effective_thru DESC
,c.customer_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
