USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:Tinh Do
DATE: 12/19/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
----------------------------------------------------------------------------------------------------------------------------------------------------------------
12/19/2005	Tinh Do			1.0		Created;	15901:Client & Group
11/14/2006	Mai Tran		1.1		remove transaction
04/07/2008	lrenard			1.2		implemented dependecy checks before deletes
04/17/2008	Shekar Pandhi	1.3		Implemented missing dependency checks before deletes
05/09/2008	lrenard			1.4		implemented delete of child benefit_contract
05/27/2008	wchristensen	1.5		Removed delete of child benefit contracts per revised spec
08/06/2012	croedocker		1.6		Delete rows in result_code_override_assignment tied to specific client_group.
----------------------------------------------------------------------------------------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.6
--
DESCRIPTION:
Delete Group
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_group_delete]
(
@client_group_id                            int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				int,
@SP_EXCEPTION			int,
@class_id				int,
@division_id			int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
IF NOT EXISTS (SELECT * FROM client_group WHERE client_group_id = @client_group_id )
RETURN @SP_SUCCESS
--
ELSE
BEGIN
--Check if this group is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_client_group_check_delete @client_group_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete child records
DELETE FROM client_group_name WHERE client_group_id = @client_group_id
DELETE FROM client_group_agent WHERE client_group_id = @client_group_id
DELETE FROM client_group_additional_information WHERE client_group_id = @client_group_id
DELETE FROM client_group_contact WHERE client_group_id = @client_group_id
DELETE FROM client_group_customer WHERE client_group_id = @client_group_id
DELETE FROM client_group_lock WHERE client_group_id = @client_group_id
DELETE FROM client_group_service_representative WHERE client_group_id = @client_group_id
DELETE FROM client_group_size WHERE client_group_id = @client_group_id
DELETE FROM client_group_vendor WHERE client_group_id = @client_group_id
DELETE FROM client_group_correspondence WHERE client_group_id = @client_group_id
DELETE FROM client_group_state_mandate WHERE client_group_id = @client_group_id
DELETE FROM client_group_user_assigned_result_code WHERE client_group_id = @client_group_id

DELETE employee_subdivision
FROM employee_subdivision
INNER JOIN employee_division ON employee_subdivision.employee_division_id = employee_division.employee_division_id
INNER JOIN employee_class ON employee_division.employee_class_id = employee_class.employee_class_id
WHERE employee_class.client_group_id = @client_group_id

DELETE employee_division
FROM employee_division
INNER JOIN employee_class ON employee_division.employee_class_id = employee_class.employee_class_id
WHERE employee_class.client_group_id = @client_group_id

DELETE FROM employee_class WHERE client_group_id = @client_group_id

DELETE FROM result_code_override_assignment
WHERE client_group_id = @client_group_id

--Delete the group
DELETE FROM client_group
WHERE client_group_id = @client_group_id

IF @@ERROR <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END
--
RETURN @SP_SUCCESS
--
GO
