USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_summary_calculations_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/11/2009	Vishwa		1.0			updated load parameters to load per vendor from run
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for frmCapitationDetail grid

--
REQUIREMENTS:
--
INPUTS:
@capitation_detail_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_summary_calculations_load] (
@capitation_run_id INT
,@vendor_id	INT
,@capitation_period_id INT
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

DECLARE @flat_rate_ud nvarchar(50)
SELECT @flat_rate_ud = capitation_rate_type_ud FROM capitation_rate_type WHERE golden_key = 'FLAT_RATE'

SELECT
cs.capitation_summary_id
,cc.capitation_calculation_id
,CONVERT(NVARCHAR(50), cc.coverage_period_from, 101)
+ ' - ' +
CONVERT(NVARCHAR(50), cc.coverage_period_thru, 101) as coverage_period
,cc.provider_id
,pi.provider_ud
,dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name
,cra.capitation_rate_id
,CASE crt.golden_key
WHEN 'FLAT_RATE'
THEN @flat_rate_ud
ELSE tc.tier_criteria_ud END as tier_criteria_amount_flat_rate
,(cc.base_rate_amount + ISNULL(cc.withhold_amount,0)) as sum_amount
,ISNULL(cc.withhold_amount,0) as withhold_amount
,cc.base_rate_amount
,CASE WHEN ISNULL(cc.negated_capitation_calculation_id,0) = 0 THEN 0 ELSE 1 END AS is_adjustment
FROM	capitation_summary cs
JOIN capitation_summary_capitation_calculation cscc ON
cs.capitation_summary_id = cscc.capitation_summary_id
JOIN capitation_calculation cc ON
cscc.capitation_calculation_id = cc.capitation_calculation_id
JOIN provider p ON
cc.provider_id = p.provider_id
LEFT JOIN provider_identifier pi ON
p.provider_id = pi.provider_id
AND
ISNULL(pi.use_as_default,0) = 1
LEFT JOIN provider_name pn on p.provider_id = pn.provider_id and pn.is_primary = 1
JOIN capitation_rate_assignment cra ON
cc.capitation_rate_assignment_id = cra.capitation_rate_assignment_id
JOIN capitation_rate_type crt ON
cra.capitation_rate_type_id = crt.capitation_rate_type_id
LEFT JOIN capitation_rate_assignment_tier_criteria_amount cratca ON
cc.capitation_rate_assignment_tier_criteria_amount_id = cratca.capitation_rate_assignment_tier_criteria_amount_id
LEFT JOIN tier_criteria tc ON
cratca.tier_criteria_id = tc.tier_criteria_id
WHERE	cs.capitation_run_id = @capitation_run_id
AND cs.vendor_id = @vendor_id
AND cs.capitation_period_id = @capitation_period_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
