USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 05/23/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/23/2008	wchristensen	1.0			Created
07/17/2008	lrenard		1.1			payment_queue clean up and added
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if/WHERE this client is used
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_client_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT	client_id
FROM	client
WHERE	client_id = @id)
RETURN @SP_DELETE_ABLE

ELSE
BEGIN
IF EXISTS(SELECT * FROM client_group WHERE client_id = @id)
OR EXISTS(SELECT * FROM accumulator_framework_assignment WHERE client_id = @id)
OR EXISTS(SELECT * FROM claim_processing_queue WHERE client_id = @id)
OR EXISTS(SELECT * FROM adjudication_queue WHERE client_id = @id)
OR EXISTS(SELECT * FROM plx_fn_check_criteria_object_in_use('Client', @id))
OR EXISTS(SELECT * FROM payment_penalty_schedule_assignment WHERE client_id = @id)
OR EXISTS(SELECT * FROM payment_penalty_schedule_exemption WHERE client_id = @id)
OR EXISTS(SELECT * FROM benefit_qualifier_assignment WHERE benefit_contract_id = @id)
OR EXISTS(SELECT * FROM client_set_detail WHERE client_id = @id)
BEGIN

--check accumulator framework assignments
SELECT 'Accumulator Framework' AS object_golden_key, accumulator_framework_ud AS object_ud
FROM accumulator_framework_assignment a
INNER JOIN accumulator_framework af ON a.accumulator_framework_id = af.accumulator_framework_id
WHERE client_id = @id

--check adjudication queues
SELECT 'Adjudication Queue' AS object_golden_key, adjudication_queue_ud AS object_ud
FROM adjudication_queue
WHERE client_id = @id

--check benefit_qualifier_assignment
SELECT DISTINCT 'Benefit Qualifier Assignment' AS object_golden_key, 'Assignment Grid' AS object_ud
FROM benefit_qualifier_assignment
WHERE client_id = @id

--check claim processing queues
SELECT 'Claim Processing Filter' AS object_golden_key, claim_processing_queue_ud AS object_ud
FROM claim_processing_queue
WHERE client_id = @id

--check criteria objects
SELECT 'Criteria' AS object_golden_key, criteria_ud AS object_ud
FROM plx_fn_check_criteria_object_in_use('Client', @id)

--check client groups
SELECT 'Group' As object_golden_key, client_group_ud AS object_ud
FROM client_group_name
INNER JOIN client_group ON client_group.client_group_id = client_group_name.client_group_id
WHERE client_group.client_id = @id

--check payment penalty schedule assignment
SELECT DISTINCT 'Payment Penalty Schedule Assignment' AS object_golden_key, 'Schedule Assignments' AS object_ud
FROM payment_penalty_schedule_assignment
WHERE client_id = @id

--check payment penalty schedule exemption
SELECT DISTINCT 'Payment Penalty Schedule Exemption' AS object_golden_key, 'Exempt Periods' AS object_ud
FROM payment_penalty_schedule_exemption
WHERE client_id = @id

--check client set assignments
SELECT 'Client Set' As object_golden_key, client_set_ud AS object_ud
FROM client_set
INNER JOIN client_set_detail ON client_set.client_set_id = client_set_detail.client_set_id
WHERE client_set_detail.client_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
