USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/22/2009	Vishwa Jella		1.4			Added benefit_benefit_coverage_exception_rule delete statement
07/09/2009  Isaac Overacker   1.5         Added benefit_member_expense_schedule delete statement.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a benefit
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_delete]
(
@benefit_id                                 int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit WHERE benefit_id = @benefit_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM	benefit_criteria
WHERE benefit_criteria.benefit_id  = @benefit_id

DELETE FROM	benefit_treatment_type_set
WHERE benefit_treatment_type_set.benefit_id = @benefit_id

DELETE FROM benefit_coverage_rules
WHERE benefit_coverage_rules.benefit_id = @benefit_id

DELETE FROM benefit_benefit_coverage_exception_rule
WHERE benefit_benefit_coverage_exception_rule.benefit_id = @benefit_id

DELETE FROM benefit_member_expense_schedule
WHERE benefit_member_expense_schedule.benefit_id = @benefit_id

DELETE FROM benefit
WHERE benefit_id = @benefit_id
END
--
RETURN @SP_SUCCESS
--
GO
