USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/24/2005  Trinhle		1.0         created
12/10/2007	David Slayton	1.1			IC# 17575: Removed all_treatment_type_sets column
06/24/2009	Vishwa Jella	1.2		Added encumber_maximum_payment_accumulator to copay and coinsurance classes
08/04/2009  ioveracker     1.3      Added referring_provider_rule_id and rendering_provider_exception_id.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Save Benefit framework class choice list node
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_save]
(
@benefit_id                                 int = NULL   OUTPUT
,@benefit_ud                                 nvarchar(50) = NULL
,@benefit_description                        nvarchar(255) = NULL
,@benefit_framework_benefit_class_id         int = NULL
,@copayment_value_rule_id                    int =null
,@treat_as_copay                             bit = NULL
,@treat_as_coinsurance                       bit = NULL
,@set_to_zero_if_not_in_schedule             bit = NULL
,@encumber_maximum_payment_accumulator			bit = 0
,@referring_provider_rule_id                 int = NULL
,@rendering_provider_exception_id            int = NULL
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS					int
,@SP_EXCEPTION				int
,@ERROR_INSERT_FAILS		NVARCHAR(50)
,@ERROR_UPDATE_FAILS		NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST		NVARCHAR(50)
,@ERROR_CANT_UPDATE			NVARCHAR(50)
,@ERROR_RECORD_LOCKED		NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = '105280010'
--
if (@benefit_framework_benefit_class_id is not null )
begin
IF @benefit_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit(
benefit_ud
,description
,benefit_framework_benefit_class_id
,copayment_value_rule_id
,treat_as_copay
,treat_as_coinsurance
,set_to_zero_if_not_in_schedule
,encumber_maximum_payment_accumulator
,referring_provider_rule_id
,rendering_provider_exception_id
,active
)
VALUES
(@benefit_ud
,@benefit_description
,@benefit_framework_benefit_class_id
,@copayment_value_rule_id
,@treat_as_copay
,@treat_as_coinsurance
,@set_to_zero_if_not_in_schedule
,@encumber_maximum_payment_accumulator
,@referring_provider_rule_id
,@rendering_provider_exception_id
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit WHERE benefit_id = @benefit_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit
SET
benefit_ud                               = @benefit_ud
,description                              = @benefit_description
,benefit_framework_benefit_class_id       = @benefit_framework_benefit_class_id
,copayment_value_rule_id                  = @copayment_value_rule_id
,treat_as_copay                           = @treat_as_copay
,treat_as_coinsurance                     = @treat_as_coinsurance
,set_to_zero_if_not_in_schedule           = @set_to_zero_if_not_in_schedule
,encumber_maximum_payment_accumulator		 = @encumber_maximum_payment_accumulator
,referring_provider_rule_id               = @referring_provider_rule_id
,rendering_provider_exception_id          = @rendering_provider_exception_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_id = @benefit_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)

END
RETURN @SP_SUCCESS
end
else
begin

--RETURN @SP_SUCCESS --HungTNguyen added to fixed bug 8232
RETURN @SP_EXCEPTION
end
--

end
GO
