USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_capitation_member_selection_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
--
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'capitation_member_selection' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_capitation_member_selection_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
capitation_member_selection_id
,capitation_member_selection_ud
,golden_key
FROM capitation_member_selection
ORDER BY capitation_member_selection_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
