USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_accumulator_carryover_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivasa Kunche
DATE: 08/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/29/2007	Srinivasa	1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for accumulator carryover
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_period_accumulator_carryover_load]
(
@benefit_contract_period_id as int,
@benefit_plan_id as int = null
)
AS
--
--
SET NOCOUNT ON
--


IF(@benefit_plan_id IS NULL)

SELECT bcpac.accumulator_framework_id,bcpac.accumulator_id,bcpac.carryover_months,bcpac.benefit_contract_period_accumulator_carryover_id,bcpac.modified_date
FROM benefit_contract_period_accumulator_carryover bcpac
where bcpac.benefit_contract_period_id = @benefit_contract_period_id

ELSE
SELECT bcpac.accumulator_framework_id,bcpac.accumulator_id,bcpac.carryover_months,bcpac.benefit_contract_period_accumulator_carryover_id,bcpac.modified_date
FROM benefit_contract_period_accumulator_carryover bcpac
where bcpac.benefit_contract_period_id = @benefit_contract_period_id
AND bcpac.accumulator_framework_id in(
Select Distinct af.accumulator_framework_id
from accumulator_framework af
inner join benefit_plan_accumulator_framework bpaf on
af.accumulator_framework_id = bpaf.accumulator_framework_id
WHERE benefit_plan_id = ISNULL(@benefit_plan_id, benefit_plan_id))

return @@ROWCOUNT

--
GO
