USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_status_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 10/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/05/2005   HungTNguyen  1.0       created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into Disability status set form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disability_status_set_load]
(
@disability_status_set_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
disability_status_set.disability_status_set_id
,disability_status_set.disability_status_set_ud
,disability_status_set.description
,disability_status_set.effective_from
,disability_status_set.effective_thru


,disability_status_set.active
,disability_status_set.created_user_name
,disability_status_set.created_group_id
,disability_status_set.created_date
,disability_status_set.modified_date
FROM disability_status_set

WHERE disability_status_set.disability_status_set_id = @disability_status_set_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
