USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_brokerage_check_unique_ud]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Jul 31 2006  3:27PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check the unique UD for agent brkoerage form
--
REQUIREMENTS:
--
INPUTS:
agent_id - Key to agent table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_brokerage_check_unique_ud]
(
@agent_ud nvarchar(50) = null
,@agent_id_type_id INT = NULL
,@agent_identifier_id INT = NULL
,@type nvarchar(50) = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF @agent_identifier_id is null
SET @agent_identifier_id = 0

IF @agent_id_type_id is null
SET @agent_id_type_id = 0

SET @type = dbo.plx_EncodeStringWildCard(@type,1)
SET @agent_ud = dbo.plx_EncodeStringWildCard(@agent_ud,1)

SELECT
agent_identifier.agent_identifier_id
,agent_identifier.agent_ud
,agent_identifier.agent_id_type_id
FROM	agent_identifier
INNER JOIN	agent ON agent_identifier.agent_id = agent.agent_id
INNER JOIN agent_or_brokerage_type ON agent_or_brokerage_type.agent_or_brokerage_type_id = agent.agent_or_brokerage_type_id
AND agent_or_brokerage_type.golden_key = @type
WHERE agent_identifier.agent_identifier_id <> @agent_identifier_id
AND agent_identifier.agent_ud = @agent_ud
AND agent_identifier.agent_id_type_id = @agent_id_type_id

--
RETURN @SP_SUCCESS
GO
