USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_professional_claim_insurance_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
DATE: 04/04/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/02/2014	amortensen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down professional_claim_insurance_type
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_professional_claim_insurance_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
professional_claim_insurance_type_id,
description as professional_claim_insurance_type_ud,
golden_key
FROM professional_claim_insurance_type
ORDER BY professional_claim_insurance_type_ud
--
RETURN @SP_SUCCESS
GO
