USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_set_fee_schedule_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 11/02/2009

--
DESCRIPTION:
This procedure is used to load data for grid "Fee Schedule Assignment" in on the Fee Schedule Set form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_fee_schedule_set_fee_schedule_list_load]
(
@fee_schedule_set_id		INT=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
fssdfs.fee_schedule_set_fee_schedule_id
,fssdfs.fee_schedule_set_id
,fssdfs.rank

,fssdfs.criteria_id
,c.criteria_ud

,fssdfs.fee_schedule_id
,fs.fee_schedule_ud

,fssdfs.fee_schedule_modifier_id
,fsm.fee_schedule_modifier_ud

,fssdfs.use_default_fee_schedule_modifier_table

,fssdfs.year_id
,y.year_ud

,fssdfs.effective_from
,fssdfs.effective_thru

FROM fee_schedule_set_fee_schedule fssdfs
LEFT JOIN criteria c ON c.criteria_id = fssdfs.criteria_id
LEFT JOIN fee_schedule fs ON fs.fee_schedule_id = fssdfs.fee_schedule_id
LEFT JOIN fee_schedule_modifier fsm ON fsm.fee_schedule_modifier_id = fssdfs.fee_schedule_modifier_id
LEFT JOIN year y ON y.year_id = fssdfs.year_id
WHERE fssdfs.fee_schedule_set_id= @fee_schedule_set_id
ORDER BY
CASE WHEN fssdfs.effective_from IS NULL THEN 0 ELSE 1 END , fssdfs.effective_from DESC
,CASE WHEN fssdfs.effective_thru IS NULL THEN 0 ELSE 1 END , fssdfs.effective_thru DESC
, rank

--
RETURN @SP_SUCCESS
--
GO
