USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_member_service_representative_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Oct 12 2005  9:18AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down member_service_representative (Service Representative (Members))
--
REQUIREMENTS:
--
INPUTS:
service_representative_member_id - Key to service_representative_member table, identifies a single stored plx_dd_service_representative_member.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_member_service_representative_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
member_service_representative.member_service_representative_id
,member_service_representative.member_service_representative_ud
,member_service_representative.member_service_representative_nm
FROM member_service_representative
ORDER BY member_service_representative_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
