USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_fam_choice_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/8/2005	Trinh Le			1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Load family choice list for grid Limit Rules in Accumulator Framework.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_fam_choice_list_load]
(
@accumulator_framework_accumulator_class_id int  = null
)

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_choice_list.accumulator_choice_list_id	as fam_accumulator_valid_choice_id  --To map the foreign key
--		,accumulator_choice_list_id
,accumulator_choice_list_ud
,accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id as accumulator_framework_accumulator_class --use alias to avoid conflict in engine
FROM accumulator_choice_list
inner join accumulator_framework_accumulator_class on accumulator_choice_list.accumulator_framework_accumulator_class_id
=accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id
where accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = @accumulator_framework_accumulator_class_id
ORDER BY accumulator_choice_list_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
