USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
--
DESCRIPTION:
Select fields from the correspondence_action table.
This stored procedure is used in the Correspondence Action form
--
REQUIREMENTS:
--
INPUTS:
correspondence_action_id - Key to correspondence_action table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_correspondence_action_load]
(
@correspondence_action_id 	int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ca.correspondence_action_id
,ca.correspondence_action_ud
,ca.description
,ca.active
,ca.created_user_name
,ca.created_date
,ca.modified_date

FROM correspondence_action ca
WHERE ca.correspondence_action_id = ISNULL(@correspondence_action_id,0)
--
RETURN @SP_SUCCESS
GO
