USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_contact_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
10/31/2005   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2005	ptran		1.0			create
11/04/2005	kinhquoc			1.1			Change contact_association table
to customer_contact table
11/04/2005	kinhquoc			1.2			Change parameter's names
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save contact grid on customer form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_customer_contact_save]
(
@customer_contact_id                        int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@customer_id                      		   int = NULL
,@contact_association_type_id                int = NULL
,@is_primary                        		    bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@component_kind_id int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @contact_id IS NULL OR @contact_association_type_id IS NULL
RETURN @SP_SUCCESS
--
IF @customer_contact_id is Null
BEGIN

/*SELECT	@component_kind_id = component_kind_id
FROM	dbo.component_kind
WHERE	component_kind.golden_key = 'CUSTOMER'*/

--- Create a new record
INSERT INTO customer_contact(
contact_id
,customer_id
,contact_association_type_id
,is_primary
,effective_from
,effective_thru
,active
)
VALUES
(@contact_id
,@customer_id
,@contact_association_type_id
,@is_primary
,@effective_from
,@effective_thru
,@active
)
--
SET @customer_contact_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM customer_contact WHERE customer_contact_id = @customer_contact_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE customer_contact
SET
contact_id                               = @contact_id
,customer_id                              = @customer_id
,contact_association_type_id              = @contact_association_type_id
,is_primary                      		 = @is_primary
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE customer_contact_id = @customer_contact_id
END
--
RETURN @SP_SUCCESS
--
GO
