USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/15/2008	lrenard			1.0			created
09/05/2008	wchristensen	1.1			Moved claim line number logic into a function
09/10/2009  wchristensen    1.2         Added fee information
02/18/2010	Vishwa			1.3			Updated with correct key
12/03/2013	amortensen		1.4			Added Benefit Plan ID
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
Load transaction info  for Accounting Transaction Details form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_detail_load]
(
@accounting_transaction_id		int = NULL,
@is_AP								bit = 1
)
AS
--
DECLARE
@SP_SUCCESS int,
@UNAPPLIED_AMOUNT numeric(20,10),
@APPLIED_AMOUNT numeric(20,10),
@CLAIM_ID int,
@CLAIM_PROCEDURE_ID int

SELECT
@SP_SUCCESS = 0,
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0,
@CLAIM_ID = 0,
@CLAIM_PROCEDURE_ID = 0

IF (ISNULL(@is_AP,0) = 1)
BEGIN

SELECT DISTINCT
ata.accounting_transaction_ap_id as accounting_transaction_id,
ata.accounting_transaction_ap_ud as accounting_transaction_ud,

ata.transaction_amount,
dbo.plx_fn_get_unapplied_amount_for_transaction(@accounting_transaction_id,0) as transaction_unapplied_amount,
ata.accounting_source_id,

ac.accounting_company_id as trx_accounting_company_id,
ac.accounting_company_ud as trx_accounting_company_ud,

--associations
cn.client_id,
cn.client_ud,

gn.client_group_id,
gn.client_group_ud,

bc.benefit_contract_id,
bc.benefit_contract_ud,

bp.benefit_plan_id,
bp.benefit_plan_ud,

pn.provider_network_id,
pn.provider_network_ud,

po.practice_office_id,
po.practice_office_ud,

pid.provider_identifier_id,
pid.provider_ud,

fembp.family_eligibility_member_benefit_plan_id,
fembp.member_eligibility_ud,

atacd.claim_id,
c.claim_ud,
CASE WHEN atacd.claim_id <> 0 THEN dbo.plx_fn_get_claim_line_number(atacd.claim_id, atacd.claim_procedure_id)
ELSE NULL END as claim_line,

-- Fee details
cft.client_fee_type_id,
cft.client_fee_type_ud,
cfsaf.description AS fee_description,

ata.is_incomplete,
pf.premium_id,
1 as is_AP

FROM accounting_transaction_ap ata
LEFT JOIN accounting_transaction_ap_distribution atad
ON atad.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atad.accounting_company_account_id
LEFT JOIN accounting_company ac
ON ac.accounting_company_id = aca.accounting_company_id
LEFT JOIN accounting_transaction_ap_claim_detail atacd
ON atacd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_premium_fee_detail atapfd
ON atapfd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN premium_fee pf
ON pf.premium_fee_id = atapfd.premium_fee_id
LEFT JOIN accounting_transaction_ap_fee_detail atafd
ON atafd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN client_name cn
ON cn.client_id = ata.client_id
LEFT JOIN client_group_name gn
ON gn.client_group_id = ata.client_group_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = ata.benefit_contract_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = ata.benefit_plan_id
LEFT JOIN provider_identifier pid
ON pid.provider_identifier_id = ata.provider_identifier_id
LEFT JOIN provider_network pn
ON pn.provider_network_id = ata.provider_network_id
LEFT JOIN practice_office po
ON po.practice_office_id = ata.practice_office_id
LEFT JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = ata.subscriber_id
LEFT JOIN claim c
ON c.claim_id = atacd.claim_id
LEFT JOIN claim_procedure
ON claim_procedure.claim_procedure_id = atacd.claim_procedure_id
LEFT JOIN client_fee_setup_ap_fee cfsaf
ON cfsaf.client_fee_setup_ap_fee_id = atafd.client_fee_setup_ap_fee_id
LEFT JOIN client_fee_type cft
ON cft.client_fee_type_id = cfsaf.client_fee_type_id

WHERE ata.accounting_transaction_ap_id = @accounting_transaction_id

END

RETURN @SP_SUCCESS
GO
