USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_carryover_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivas
DATE: 08/05/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/05/2007	Srinivas	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data into the accumulator carryover table
in Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  procedure [dbo].[plx_benefit_contract_accumulator_carryover_save]
(
@benefit_contract_accumulator_carryover_id	int output
,@accumulator_framework_id			int = null
,@accumulator_id				int = null
,@carryover_period				int
,@benefit_contract_period_id			int
)
as

DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
if (@benefit_contract_accumulator_carryover_id is null)
begin
insert into benefit_contract_accumulator_carryover(
accumulator_framework_id
,accumulator_id
,carryover_period
,benefit_contract_period_id
)
VALUES
(@accumulator_framework_id
,@accumulator_id
,@carryover_period
,@benefit_contract_period_id
)

set @benefit_contract_accumulator_carryover_id = @@identity

if not exists (select * from benefit_contract_accumulator_carryover where benefit_contract_accumulator_carryover_id= @benefit_contract_accumulator_carryover_id )
begin
return @SP_EXCEPTION
end
end
else
begin
DECLARE @ErrorVar int, @RowCountVar int

update 	benefit_contract_accumulator_carryover
set
accumulator_framework_id 	= @accumulator_framework_id
,accumulator_id			= @accumulator_id
,carryover_period		= @carryover_period
,benefit_contract_period_id	= @benefit_contract_period_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	benefit_contract_accumulator_carryover_id = @benefit_contract_accumulator_carryover_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
end

return @SP_SUCCESS
GO
