USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_pred_adjudication_accumulators_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Unknown
Oct  6 2006 11:08AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/06/2006  	Anh Ta      	2.0         	Modified
08/07/2007  	AIO         	2.1         	Fixed for 'accumulator_id' being removed from adjudication_accumulator_pred table.
01/17/2008	Vishwa Jella	2.2		Fixed broken joins for accumulator_class_id for accumulator_class table
03/14/2008	David Slayton	2.3			Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
04/25/2008	lrenard		2.4			added ac.accumulator_class_id to select and
return aa.amount as a string so it can be modified/formatted
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:
Select fields from the accumulator table.
--
REQUIREMENTS:
--
INPUTS:
accumulator_id - Key to accumulator table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_pred_adjudication_accumulators_load]
(
@claim_id  INT = NULL
)

AS

--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0
--

SELECT
pc.procedure_code_id,
cp.procedure_code_ud,
cp.service_from_date,
tnl.tooth_number_letter_ud,
aooc.area_of_oral_cavity_ud,
dbo.claim_procedure_tooth_surface_seperators(cp.claim_procedure_id, '') as tooth_surface_ud,
afaca.accumulator_framework_accumulator_class_accumulator_ud,
ac.accumulator_class_id,
ac.accumulator_class_ud,
aa.accumulator_sub_limit_id,
asl.accumulator_sub_limit_ud 	AS sublimit,
CAST(aa.amount AS NVARCHAR) AS amount,
ISNULL(bp.benefit_plan_ud,
(
SELECT
benefit_plan.benefit_plan_ud
FROM
benefit_plan
INNER JOIN family_eligibility_member_benefit_plan
ON benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
INNER JOIN claim
ON claim.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
WHERE claim.claim_id = @claim_id
)) AS 'benefit_plan_ud',
cp.modified_date
FROM claim_procedure cp
INNER JOIN procedure_code pc
ON pc.procedure_code_ud = cp.procedure_code_ud
INNER JOIN adjudication_accumulator_pred aa
ON aa.claim_procedure_id = cp.claim_procedure_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = aa.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class  afac
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_class ac
ON ac.accumulator_class_id = afac.accumulator_class_id
LEFT JOIN accumulator_sub_limit asl
ON asl.accumulator_sub_limit_id = aa.accumulator_sub_limit_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = aa.benefit_plan_id
LEFT JOIN tooth_number_letter tnl
ON cp.tooth_number_letter_id = tnl.tooth_number_letter_id
LEFT JOIN area_of_oral_cavity aooc
ON cp.area_of_oral_cavity_id = aooc.area_of_oral_cavity_id
WHERE
cp.claim_id = @claim_id

--
RETURN @SP_SUCCESS
GO
