USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_debit_memo_make_available]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Makes a Debit Memo available. Launched from cmdMakeAvailable on frmAccountingDebitMemoAr.
NOTES:
Modeled after MakeInvoiceAvailable service in Accounting.sln
Validates the Debit Memo is currently in an ENTERED status, otherwise does nothing.
Sets the Debit Memo status to AVAILABLE on the accounting_transaction_ar_debit_memo_detail table

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_debit_memo_make_available]
(
@accounting_transaction_ar_id	INT = NULL	-- Debit Memo ID
)
AS
--
--
SET NOCOUNT ON;

DECLARE @EnteredStatusId INT =
(SELECT accounting_debit_memo_status_id
FROM accounting_debit_memo_status
WHERE golden_key = 'ENTERED');
DECLARE @AvailableStatusId INT =
(SELECT accounting_debit_memo_status_id
FROM accounting_debit_memo_status
WHERE golden_key = 'AVAILABLE');

-- validate status of Debit Memo is Entered
IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ar_debit_memo_detail detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id
AND accounting_debit_memo_status_id = @EnteredStatusId)
BEGIN
Return -1;
END

-- all ok, so update status
UPDATE accounting_transaction_ar_debit_memo_detail
SET
accounting_debit_memo_status_id     = @AvailableStatusId,
modified_user_name                  = ORIGINAL_LOGIN(),
modified_date                       = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id;

RETURN 0
GO
