USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_exception_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 05/13/2009
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2009	Vishwa Jella	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data on benefit coverage exception rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_coverage_exception_rule_load]
(
@benefit_coverage_exception_rule_id	int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bcrr.benefit_coverage_exception_rule_id
,bcrr.benefit_coverage_exception_rule_ud
,bcrr.description as benefit_coverage_exception_rule_description
,bcrr.is_restriction
,~(bcrr.is_restriction) As is_allowance
,bcrr.min_age
,bcrr.max_age
,bcrr.age_unit_month_year_id
,unit_month_year.unit_month_year_ud As 'age_unit_month_year_ud'
,bcrr.gender_id
,gender.gender_ud
,bcrr.place_of_service_set_id
,place_of_service_set.place_of_service_set_ud
,bcrr.provider_specialty_set_id
,provider_specialty_set.provider_specialty_set_ud
,bcrr.network_level_id
,network_level.network_level_ud
,bcrr.provider_network_set_id
,provider_network_set.provider_network_set_ud
,bcrr.relationship_to_insured_set_id
,relationship_to_insured_set.relationship_to_insured_set_ud
,bcrr.result_code_id
,result_code.result_code_ud
,result_code.short_message
,bcrr.result_code_status_id
,result_code_status.result_code_status_ud
FROM benefit_coverage_exception_rule bcrr
LEFT JOIN  unit_month_year ON unit_month_year.unit_month_year_id = bcrr.age_unit_month_year_id
LEFT JOIN  gender ON gender.gender_id = bcrr.gender_id
LEFT JOIN  place_of_service_set ON place_of_service_set.place_of_service_set_id = bcrr.place_of_service_set_id
LEFT JOIN  provider_specialty_set ON provider_specialty_set.provider_specialty_set_id = bcrr.provider_specialty_set_id
LEFT JOIN  network_level ON network_level.network_level_id = bcrr.network_level_id
LEFT JOIN  provider_network_set ON provider_network_set.provider_network_set_id = bcrr.provider_network_set_id
LEFT JOIN  relationship_to_insured_set ON relationship_to_insured_set.relationship_to_insured_set_id = bcrr.relationship_to_insured_set_id
LEFT JOIN  result_code  ON result_code.result_code_id = bcrr.result_code_id
LEFT JOIN result_code_status  ON result_code_status.result_code_status_id = bcrr.result_code_status_id
WHERE bcrr.benefit_coverage_exception_rule_id = @benefit_coverage_exception_rule_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN 1
END
--
GO
