USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_state_mandate_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena

REVISION_HISTORY:
--
Date		Modified By	      Version		Description
--------------------------------------------------------------------------------
10/29/2007	Abhishek Saxena        1.0		Created and using for ICU#18206  (Family Eligibility form)
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "State Mandate"
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_state_mandate_save]

(

@family_eligibility_state_mandate_id int = NULL OUTPUT
,@family_eligibility_id 		     int = NULL
,@state_id                             int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL

) AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '158930070',
@ERROR_NOT_EXIST	= '158930071',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '158930072'


--
IF @family_eligibility_state_mandate_id is Null
BEGIN

--- Create a new provider_user_assigned_result_code record
INSERT INTO family_eligibility_state_mandate(
family_eligibility_id
,state_id
,effective_from
,effective_thru
,active
)
VALUES
(@family_eligibility_id
,@state_id
,@effective_from
,@effective_thru
,@active
)
--
SET @family_eligibility_state_mandate_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_state_mandate WHERE family_eligibility_state_mandate_id = @family_eligibility_state_mandate_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing provider_user_assigned_result_code record
UPDATE family_eligibility_state_mandate
SET
family_eligibility_id                      = @family_eligibility_id
,state_id                              = @state_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_state_mandate_id = @family_eligibility_state_mandate_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
END
--
GO
