USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_system_errors_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimPaymentSystemErrors on form frmClaimPaymentRun

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_payment_run_system_errors_load]
(
@claim_payment_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
rc.result_code_id,
rc.result_code_ud,
rc.short_message

FROM dbo.claim_payment_run_result_code cprrc
INNER JOIN result_code rc ON cprrc.result_code_id = rc.result_code_id

WHERE cprrc.claim_payment_run_id = @claim_payment_run_id
AND claim_id IS NULL
AND claim_procedure_id IS NULL

ORDER BY rc.result_code_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
