USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_factor_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 09/10/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
06/26/2008	David Slayton	1.0			Created.
01/18/2012	eponomareff     2.0         Added Linked Member (note table has spurious data, hence golden key filter)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_factor_type (Premium Factor Type),
and is used on the Premium Factor form.

In versions previous to QC 17.1, the data in this table was different. The previous data is now housed in
the Premium Factor Sub Type table.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_factor_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
premium_factor_type.premium_factor_type_id
,premium_factor_type.premium_factor_type_ud
,premium_factor_type.golden_key

FROM premium_factor_type
ORDER BY  premium_factor_type_ud


RETURN @SP_SUCCESS
GO
