USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_email_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
-- ;
AUTHOR: Mabdul \ CFacey
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
07/28/2010	Mabdul \ CFacey		1.0			Created

--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--

--
DESCRIPTION: Loads the drop down for the email rule type combo

--
REQUIREMENTS:
--
INPUTS: none

--
OUTPUTS:
correspondence_email_rule_id,
correspondence_email_rule_ud
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_dd_correspondence_email_rule_load]
AS
--
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS					int,
@SP_EXCEPTION					int
SELECT
@SP_SUCCESS					= 0,
@SP_EXCEPTION					= -1

SELECT
correspondence_email_rule_id,
correspondence_email_rule_ud
FROM correspondence_email_rule
ORDER BY correspondence_email_rule_ud

--
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
