USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_claim_CAQH_all_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bind_sp_claim_CAQH_all_backup]
as
begin


exec dbo.bind_sp_claim_procedure_cob_amount_backup
exec dbo.bind_sp_claim_procedure_cob_adjustment_backup
exec dbo.bind_sp_claim_cob_adjustment_backup
exec dbo.bind_sp_cob_member_commercial_health_plan_contact_backup
exec dbo.bind_sp_cob_member_user_assigned_result_code_backup
exec dbo.bind_sp_cob_member_commercial_health_plan_claim_CAQH_backup
exec dbo.bind_sp_cob_member_commercial_health_plan_CAQH_backup
exec dbo.bind_sp_cob_member_governmental_health_plan_CAQH_backup
exec dbo.bind_sp_cob_member_governmental_health_plan_contact_backup
exec dbo.bind_sp_claim_cob_payer_backup
exec dbo.bind_sp_cob_member_governmental_health_plan_claim_backup

end
GO
