USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_vendor_tax_id_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 10/05/2015
--
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down vendor_tax_id

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_vendor_tax_id_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
DISTINCT federal_ein
FROM vendor
WHERE LEN(federal_ein) > 0
ORDER BY federal_ein
--
RETURN @SP_SUCCESS
GO
