USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_misc_upd]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_report_parameter_misc_upd] (
@report_parameter_misc_id int output,
@report_parameter_id int,
@report_parameter_misc_ud nvarchar(50)
) As

if (@report_parameter_misc_id is null)
Begin
Insert Into report_parameter_misc (
report_parameter_misc_ud,
report_parameter_id
)
Values (
@report_parameter_misc_ud,
@report_parameter_id
)

Set @report_parameter_misc_id = @@IDENTITY
End
Else
Begin
Update
report_parameter_misc
Set
report_parameter_misc_ud = @report_parameter_misc_ud,
report_parameter_id = @report_parameter_id
Where
report_parameter_misc_id = @report_parameter_misc_id
End
GO
