USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_member_pid_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/03/2006		tinhdo		1.0		Created
04/16/2012      eponomareff 2.0     Modified to find SUBSCRIBER PID not MEMBER PID by default;
Also modified to allow calling with family_eligilbility_id
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:

This procedure is used to get member PID of family eligibility member
in Family Eligibility form.

Currenlty, this stored procedure is used only to return the Subscriber's PID.

However, by passing in the defaulted parameter @return_subscriber_pid as FALSE
(it is defaulted to	TRUE), this stored procedure can be used to return the
enrollment's family member PID.

If family_eligibility_id is passed in, the subscriber's PID is always returned.
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_member_member_pid_load]
@family_eligibility_member_id			INT = NULL
,@family_eligibility_id					INT = NULL
,@return_subscriber_pid					BIT = 1
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF ISNULL(@family_eligibility_member_id, 0) = 0
-- get PID for subscriber on enrollment
BEGIN
SELECT	 mpi.member_id
,mpi.id_value AS personal_id
FROM family_eligibility_member fem
INNER JOIN member_personal_id mpi ON fem.member_id = mpi.member_id
INNER JOIN member_id_type mit ON mit.member_id_type_id = mpi.member_id_type_id
INNER JOIN relationship_to_insured rti ON fem.relationship_to_insured_id = rti.relationship_to_insured_id
WHERE	mit.golden_key = 'PID'
AND fem.family_eligibility_id = @family_eligibility_id
AND rti.golden_key = 'Self'
END

-- get PID for SUBSCRIBER on enrollment by way of family_eligibility_member
ELSE IF ISNULL(@return_subscriber_pid, 1) = 1
BEGIN
SELECT	 mpi.member_id
,mpi.id_value AS personal_id

FROM family_eligibility_member fem
INNER JOIN family_eligibility fe ON fem.family_eligibility_id=fe.family_eligibility_id
INNER JOIN family_eligibility_member fem2 ON fem2.family_eligibility_id = fe.family_eligibility_id
INNER JOIN relationship_to_insured rti ON fem2.relationship_to_insured_id = rti.relationship_to_insured_id
INNER JOIN  dbo.member_personal_id mpi ON fem2.member_id = mpi.member_id
INNER JOIN member_id_type mit ON mit.member_id_type_id = mpi.member_id_type_id
WHERE	mit.golden_key = 'PID'
-- get PID for specific member on enrollment
AND fem.family_eligibility_member_id = @family_eligibility_member_id
AND rti.golden_key = 'Self'
--
END

-- get PID for provided FAMILY ELIGIBILITY MEMBER on enrollment
ELSE -- @return_subscriber_pid = 0,
BEGIN
SELECT	 mpi.member_id
,mpi.id_value AS personal_id

FROM family_eligibility_member fem
INNER JOIN  dbo.member_personal_id mpi ON fem.member_id = mpi.member_id
INNER JOIN member_id_type mit ON mit.member_id_type_id = mpi.member_id_type_id
WHERE	mit.golden_key = 'PID'
-- get PID for specific member on enrollment
AND fem.family_eligibility_member_id = @family_eligibility_member_id
--
END


RETURN @SP_SUCCESS
--
END
GO
