USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_bank_account_cash_account_by_accounting_company_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/16/2006	Hiep Nguyen     1.0		Created
05/21/2008	lrenard         1.1     accounting_company_account schema change - 18152
10/13/2008	wchristensen	1.2		Removed unneccessary joins, cleaned up formatting
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_dd_bank_account_cash_account_by_accounting_company_load]
(
@accounting_company_id              INT = NULL,
@cash_accounting_company_account_id INT = NULL
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_company_account_id AS cash_accounting_company_account_id,
accounting_company_account_ud AS cash_accounting_company_account_ud,
stat.golden_key

FROM accounting_company_account aca
INNER JOIN account_status stat ON stat.account_status_id = aca.account_status_id
INNER JOIN account_category cat ON cat.account_category_id = aca.account_category_id

WHERE ((stat.golden_key = 'Active' AND cat.golden_key = 'Cash') OR (accounting_company_account_id=@cash_accounting_company_account_id))
AND accounting_company_id = @accounting_company_id


IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
