USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_service_representative_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/26/2005	mttran		1.0			created
12/27/2005	Tinh Do				change input para service_presentative_id to service_type_id
11/14/2006	mai tran				remove transaction
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Assigned Service Representatives grid on Group form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_service_representative_save]
(
@client_group_service_representative_id     int = NULL   OUTPUT
,@client_group_id                            int = NULL
,@service_representative_client_group_benefit_contract_id	int = NULL
,@service_type_id             int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '159010048',
@ERROR_CANT_UPDATE 	= '159010049',
@ERROR_NOT_EXIST	= '159010050'
--
IF ISNULL(@client_group_service_representative_id, 0) = 0
BEGIN
-- Create a new client_group_service_representative record
INSERT INTO client_group_service_representative(
client_group_id
,service_representative_client_group_benefit_contract_id
,service_representative_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@client_group_id
,@service_representative_client_group_benefit_contract_id
,@service_type_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @client_group_service_representative_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT client_group_service_representative_id FROM client_group_service_representative WHERE client_group_service_representative_id = @client_group_service_representative_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)

END
--
ELSE
BEGIN
-- Updating an existing client_group_service_representative record
UPDATE	client_group_service_representative
SET
client_group_id                          = @client_group_id
,service_representative_client_group_benefit_contract_id = @service_representative_client_group_benefit_contract_id
,service_representative_type_id           = @service_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE	client_group_service_representative_id = @client_group_service_representative_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
