USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_accumulator_class_choice_resolution_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/05/2005	mttran		1.0			create
08/14/2007        meena                                                modified
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data in grid Accumulator Choice List resolution in Eligibility Details tab in
Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_accumulator_class_choice_resolution_save]
(
@family_eligibility_accumulator_choice_list_resolution_id INT = NULL OUTPUT
,@family_eligibility_id                     int = NULL
,@benefit_contract_period_benefit_plan_id   int = NULL
,@accumulator_limit_rule_id                 int = NULL
,@accumulator_sub_limit_rule_id				int = NULL
,@individual_accumulator_valid_choice_id	int = NULL
,@family_accumulator_valid_choice_id		int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @family_eligibility_accumulator_choice_list_resolution_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_accumulator_choice_list_resolution (
family_eligibility_id
,benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,active
)
VALUES
(@family_eligibility_id
,@benefit_contract_period_benefit_plan_id
,@accumulator_limit_rule_id
,@accumulator_sub_limit_rule_id
,@individual_accumulator_valid_choice_id
,@family_accumulator_valid_choice_id
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @family_eligibility_accumulator_choice_list_resolution_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_accumulator_choice_list_resolution WHERE family_eligibility_accumulator_choice_list_resolution_id = @family_eligibility_accumulator_choice_list_resolution_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE	family_eligibility_accumulator_choice_list_resolution
SET
family_eligibility_id                    	= @family_eligibility_id
,benefit_contract_period_benefit_plan_id	= @benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id			= @accumulator_limit_rule_id
,accumulator_sub_limit_rule_id				= @accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id		= @individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id			= @family_accumulator_valid_choice_id
,active                                   	= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE 	family_eligibility_accumulator_choice_list_resolution_id = @family_eligibility_accumulator_choice_list_resolution_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
