USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_exclude_reason]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 4/22/2014

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Load Premium Exclude Reason
Used on the following forms:
Advanced Individual Eligibility Setup (header)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_premium_exclude_reason]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
premium_exclude_reason_id
,premium_exclude_reason_ud
FROM
premium_exclude_reason
--
RETURN @SP_SUCCESS
--
GO
