USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_service_representative_default_group_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinh do
Date: 03/20/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/20/2007	Tinh Do		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_service_representative_default_group_list_load]
(
@client_group_id		INT =NULL
)
AS
--
--
SET NOCOUNT ON
--
SELECT
CAST(NULL AS INT) as benefit_contract_service_representative_id

,cgsr.service_representative_type_id as service_type_id
,service_type.service_type_ud

,cgsr.service_representative_client_group_benefit_contract_id	as service_representative_id
,srcgbc.service_representative_client_group_benefit_contract_ud

,cgsr.effective_from
,cgsr.effective_thru
,cast(0 as bit) as template

FROM	dbo.client_group_service_representative cgsr
LEFT JOIN dbo.service_representative_client_group_benefit_contract srcgbc
ON srcgbc.service_representative_client_group_benefit_contract_id = cgsr.service_representative_client_group_benefit_contract_id
LEFT JOIN dbo.service_type
ON service_type.service_type_id = cgsr.service_representative_type_id
WHERE	cgsr.client_group_id = @client_group_id
ORDER BY
CASE WHEN cgsr.effective_from IS NULL THEN 0 ELSE 1 END , cgsr.effective_from DESC
,CASE WHEN cgsr.effective_thru IS NULL THEN 0 ELSE 1 END , cgsr.effective_thru DESC
GO
