USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_periods_get_by_claim]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Description: Retrieves all of the accumulator period data sourced from a claim.  This is used by both clearing and
negating for analysis.

Inputs:
@claimId - Primary key of the claim.

*/

CREATE PROCEDURE [dbo].[plx_accumulator_periods_get_by_claim]
@claimId INT
AS

SET NOCOUNT ON;

DECLARE @memberId INT =
(
SELECT
fem.member_id
FROM
claim c
INNER JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE
c.claim_id = @claimId
);

DECLARE @accumulators TABLE
(
member_id INT NOT NULL,
accumulator_framework_accumulator_class_accumulator_id INT NOT NULL
);

INSERT INTO @accumulators (member_id, accumulator_framework_accumulator_class_accumulator_id)
SELECT DISTINCT
@memberId,
arp.accumulator_framework_accumulator_class_accumulator_id
FROM
claim c
INNER JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure rcp
ON rcp.claim_procedure_id = cp.claim_procedure_id
INNER JOIN accumulator_adjudication_rollover_period arp
ON arp.accumulator_adjudication_rollover_period_id = rcp.accumulator_adjudication_rollover_period_id
WHERE
c.claim_id = @claimId;

SELECT
rp.accumulator_adjudication_rollover_period_id,
rp.accumulator_framework_accumulator_class_accumulator_id,
rp.member_id,
rp.period_from,
rp.period_thru,
rp.scope_key
FROM
@accumulators a
INNER JOIN accumulator_adjudication_rollover_period rp
ON rp.member_id = a.member_id
AND rp.accumulator_framework_accumulator_class_accumulator_id = a.accumulator_framework_accumulator_class_accumulator_id;

SELECT
rpcp.accumulator_adjudication_rollover_period_claim_procedure_id,
rpcp.accumulator_adjudication_rollover_period_id,
rpcp.claim_procedure_id,
cp.claim_id,
rpcp.inclusion_date,

-- The following columns are used only when negating when the negate needs to shift the period form and thru
-- dates around.  The data is used to match up accumulator seeds.  At some future point we will simplify how
-- seeds are processed making this obsolete.  Whether that is tagging a scope or attaching seeds with the
-- periods they get used in.  This is scope data, so although the set of data can vary for each line, whichever
-- type of scope is used will be the same across all of the lines in the period.
ark.family_eligibility_member_benefit_plan_id,
ark.family_eligibility_id,
ark.benefit_contract_id,
ark.benefit_plan_id,
ark.benefit_contract_period_id,
c.episode_id
FROM
@accumulators a
INNER JOIN accumulator_adjudication_rollover_period rp
ON rp.member_id = a.member_id
AND rp.accumulator_framework_accumulator_class_accumulator_id = a.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_adjudication_rollover_period_claim_procedure rpcp
ON rpcp.accumulator_adjudication_rollover_period_id = rp.accumulator_adjudication_rollover_period_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = rpcp.claim_procedure_id
LEFT JOIN adjudication_result_key ark
ON ark.claim_procedure_id = cp.claim_procedure_id
INNER JOIN claim c
ON c.claim_id = cp.claim_id;
GO
