USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_distribution_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: fcahill

REVISION_HISTORY:
--
Date  Modified By Version  Description
--------------------------------------------------------------------------------
10/23/2008 fcahill  1.0   Created
08/30/2012 Ravi				SP 3616 Added cash account for distributions.
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Distribution on accounting_transaction Form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

--exec [dbo].[plx_accounting_transaction_ap_distribution_load] 25

CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_distribution_load]
(
@accounting_transaction_id INT = NULL
)
AS

DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

BEGIN
SELECT
atad.accounting_transaction_ap_id AS accounting_transaction_id
,atad.accounting_transaction_ap_distribution_id AS accounting_transaction_distribution_id
,atad.accounting_company_account_id
,aca.accounting_company_account_ud
,ac.account_category_ud
,asbc.account_sub_category_ud
,
(
CASE
WHEN atat.golden_key = 'CREDIT' THEN -1
ELSE 1
END
)
* dbo.plx_fn_get_signed_amount_by_account_normal_balance
(
atad.accounting_company_account_id
,atad.amount
,atad.is_debit
) AS amount
FROM
accounting_transaction_ap_distribution atad
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = @accounting_transaction_id
AND atad.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_type atat
ON atap.accounting_transaction_ap_type_id = atat.accounting_transaction_ap_type_id
INNER JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atad.accounting_company_account_id
INNER JOIN account_category ac
ON ac.account_category_id = aca.account_category_id
AND ac.golden_key IN ('EXPENSE','CASH')
LEFT JOIN account_sub_category asbc
ON asbc.account_sub_category_id = aca.account_sub_category_id
END
/*
--ar not implemented yet
*/
--
RETURN @SP_SUCCESS
--
GO
