USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_information_claim_external_payment_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_accounting_information_claim_external_payment_load] (
@claim_procedure_id INT = NULL
)
AS
SET NOCOUNT ON;
DECLARE @claim_id INT;
SELECT @claim_id = claim_id FROM claim_procedure WHERE claim_procedure_id = @claim_procedure_id;
SELECT
cep.claim_external_payment_id,
cep.claim_id,
cep.external_payment_type,
cep.payer_claim_number,
cep.reference_number,
cep.paid_date,
cep.amount,
cep.url
FROM claim_external_payment cep
WHERE claim_id = @claim_id;

RETURN 0;
GO
