USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_treatment_type_is_service_included_check_dx]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Used by Adjudication Only
Unit tests for calling Stored Procedure are in Adjudication Service Solution
Called by: plx_dto_treatment_type_is_service_included
Modified: 10/08/2013 eponomareff	Added icd version for px/dx codes

*/


Create Procedure [dbo].[plx_dto_treatment_type_is_service_included_check_dx] (
@treatment_type_id int,
@dx_code nvarchar(50),
@diagnosis_code_version_id int,
@date_of_service datetime,
@is_excluded bit
) As

if exists (
select
*
from
treatment_type_diagnosis_code_group ttdcg
Inner Join diagnosis_code_group dcg
on ttdcg.diagnosis_code_group_id = dcg.diagnosis_code_group_id
Inner Join diagnosis_code_group_diagnosis_code dcgdc
on dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
Inner Join diagnosis_code dcbegin
on dcgdc.beginning_diagnosis_code_id = dcbegin.diagnosis_code_id
Inner Join diagnosis_code dcend
on dcgdc.ending_diagnosis_code_id = dcend.diagnosis_code_id
Where
ttdcg.treatment_type_id = @treatment_type_id
And @date_of_service between ttdcg.effective_from and ISNULL(ttdcg.effective_thru, @date_of_service)
And dcgdc.is_excluded = @is_excluded
And dcgdc.diagnosis_code_version_id = @diagnosis_code_version_id
And @date_of_service between dcgdc.effective_from And ISNULL(dcgdc.effective_thru, @date_of_service)
And @dx_code between dcbegin.diagnosis_code_ud And dcend.diagnosis_code_ud
)
return 1

return 0
GO
