USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_credit_memo_get_debit_memo_details]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used after TabOff() on Customer Credit Memo form's Applied Debit Memos grid.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_credit_memo_get_debit_memo_details]
(
@debit_memo_id	INT = NULL  -- internal debit memo id
)
AS

SET NOCOUNT ON

SELECT
ata.accounting_transaction_ar_id AS debit_memo_id,
ata.accounting_transaction_ar_ud AS debit_memo_ud,
ata.transaction_date AS debit_memo_date,
ata.transaction_amount AS debit_memo_amount,
unapplied_amount =
dbo.plx_fn_get_unapplied_amount_for_customer_debit_memo(debit_memo.accounting_transaction_ar_id, DEFAULT)
FROM accounting_transaction_ar_debit_memo_detail debit_memo
JOIN accounting_transaction_ar ata
ON debit_memo.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE
debit_memo.accounting_transaction_ar_id = @debit_memo_id;

RETURN 0
GO
