USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_for_pred_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
11/17/2011	ggutshall		1.1		Added returnset limitations
02/11/2014	eponomareff     1.2     RT:6069 Duplicate records returned when member has alias
03/02/2018	amortensen      1.3     RT:9662 - Updating to return billing provider instead of rendering provider


HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_find_claim_for_pred_load]
(
@patient_eligibility_id					INT = NULL,
@patient_eligibility_ud					NVARCHAR(50) = NULL,
@patient_name_first						NVARCHAR(255) = NULL,
@patient_name_last						NVARCHAR(255) = NULL,
@subscriber_eligibility_id				INT = NULL,
@subscriber_eligibility_ud				NVARCHAR(50) = NULL,
@subscriber_name_first					NVARCHAR(255) = NULL,
@subscriber_name_last					NVARCHAR(255) = NULL,
@provider_identifier_id					INT = NULL,
@provider_id							INT = NULL,
@provider_ud							NVARCHAR(50) = NULL,
@provider_name_first					NVARCHAR(255) = NULL,
@provider_name_last						NVARCHAR(255) = NULL,
@vendor_id								INT = NULL,
@vendor_ud								NVARCHAR(50) = NULL,
@vendor_nm								NVARCHAR(255) = NULL,
@dental_claim_ud						NVARCHAR(50) = NULL,
@claim_status_id						INT = NULL,
@claim_status_ud						NVARCHAR(50) = NULL,
@result_code_id							INT = NULL,
@result_code_ud							NVARCHAR(50) = NULL,
@dental_received_date_from				DATETIME = NULL,
@dental_received_date_thru				DATETIME = NULL,
@dental_date_entered_from				DATETIME = NULL,
@dental_date_entered_thru				DATETIME = NULL,
@area_of_oral_cavity_id					INT = NULL,
@area_of_oral_cavity_ud					NVARCHAR(50) = NULL,
@tooth_number_id						INT = NULL,
@tooth_number_ud						NVARCHAR(50) = NULL,
@tooth_number_letter_id					INT = NULL,
@tooth_number_letter_ud					NVARCHAR(50) = NULL,
@tooth_surface_id						INT = NULL,
@tooth_surface_ud						NVARCHAR(50) = NULL,
@procedure_code_id						INT = NULL,
@procedure_code_ud						NVARCHAR(50) = NULL,
@alternate_procedure_code_id			INT = NULL,
@alternate_procedure_code_ud			NVARCHAR(50) = NULL,
@get_column_headers						BIT = 0,
@show_exact_match						BIT	= 0,

--	 security
@security_credential					nvarchar(255) = null
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sql_select	NVARCHAR(4000)
,@sql_from		NVARCHAR(4000)
,@sql_where		NVARCHAR(4000)
,@sql_order		NVARCHAR(1000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END
-- Claim Form Type
DECLARE @claim_form_type_id INT
DECLARE @claim_form_type_ud NVARCHAR(50)

SELECT @claim_form_type_id = claim_form_type_id, @claim_form_type_ud = claim_form_type_ud FROM claim_form_type WHERE golden_key = 'Predetermination'

-- define select clause
SET @sql_select =
'
SELECT	 DISTINCT  TOP (dbo.fn_results_limit())
claim.claim_id
,claim.claim_ud
,claim.claim_form_type_id
,''' + @claim_form_type_ud + ''' as claim_form_type_ud
,dental_claim_type.dental_claim_type_ud as claim_type_ud
,claim.family_eligibility_member_benefit_plan_id AS member_eligibility_id
--,dos_from
--,dos_through
,claim.billing_provider_id
,claim.vendor_id
,family_eligibility_member_benefit_plan.member_eligibility_ud AS member_ud
,dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) AS member_nm
,dental_claim.dental_claim_id as claim_form_id
,dbo.plx_ConcatenateName(billing_provider_name.name_last, billing_provider_name.name_first, billing_provider_name.name_middle, null) AS provider_nm
,billing_provider_identifier.provider_ud
,vendor.vendor_nm
,dbo.plx_fn_get_date_of_adjudication_run(claim.claim_id) as adjudication_date
,adjudication_status.adjudication_status_ud
,dental_claim.dental_claim_id AS pred_dental_claim_id
,claim.claim_ud as dental_claim_ud
'

-- define from clause
SET @sql_from =
'
FROM	claim
INNER JOIN dental_claim
ON claim.claim_id = dental_claim.claim_id
LEFT JOIN 	dental_claim_type
ON dental_claim_type.dental_claim_type_id = dental_claim.dental_claim_type_id

LEFT JOIN  family_eligibility_member_benefit_plan
ON claim.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT JOIN  family_eligibility_member
ON family_eligibility_member_benefit_plan.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
LEFT JOIN member
ON family_eligibility_member.member_id = member.member_id
LEFT JOIN member_name
ON member.member_id = member_name.member_id
LEFT JOIN relationship_to_insured
ON family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
LEFT JOIN family_eligibility
ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN provider_identifier billing_provider_identifier
ON claim.billing_provider_identifier_id = billing_provider_identifier.provider_identifier_id
LEFT JOIN provider_name billing_provider_name
ON billing_provider_name.provider_id = claim.billing_provider_id AND billing_provider_name.is_primary = 1
LEFT JOIN vendor
ON vendor.vendor_id = claim.vendor_id

LEFT JOIN adjudication_status
ON claim.adjudication_status_id = adjudication_status.adjudication_status_id

LEFT JOIN adjudication_result_code
ON claim.claim_id = adjudication_result_code.claim_id
LEFT JOIN result_code
ON adjudication_result_code.result_code_id = result_code.result_code_id

LEFT JOIN claim_procedure
ON claim_procedure.claim_id = claim.claim_id
LEFT JOIN claim_procedure_area_of_oral_cavity
ON claim_procedure.claim_procedure_id = claim_procedure_area_of_oral_cavity.claim_procedure_id
LEFT JOIN claim_procedure_tooth_surface
ON claim_procedure.claim_procedure_id = claim_procedure_tooth_surface.claim_procedure_id
LEFT JOIN tooth_surface
ON claim_procedure_tooth_surface.tooth_surface_id = tooth_surface.tooth_surface_id
LEFT JOIN tooth_number_letter
ON claim_procedure.tooth_number_letter_id = tooth_number_letter.tooth_number_letter_id

LEFT JOIN
(SELECT  claim_id, MIN(service_from_date) dos_from
from claim_procedure group by claim_id) as tbl_dos_from
on tbl_dos_from.claim_id = claim.claim_id
LEFT JOIN
(SELECT  claim_id, CASE WHEN max(isnull(service_thru_date,''9999-12-31'')) = ''9999-12-31'' THEN NULL ELSE Max(service_thru_date) END  dos_through
from claim_procedure group by claim_id) as tbl_dos_thru
on tbl_dos_thru.claim_id = claim.claim_id

'

-- Define condition for dental Claim criteria
SET @sql_where = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
SET @sql_where = @sql_where + ' AND claim.claim_form_type_id = ' + CAST(@claim_form_type_id AS NVARCHAR(30))

IF ISNULL(@patient_eligibility_id, 0) > 0
SET @sql_where = @sql_where + ' AND family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = ' + CONVERT(NVARCHAR, @patient_eligibility_id)

IF ISNULL(@patient_eligibility_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(family_eligibility_member_benefit_plan.member_eligibility_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@patient_eligibility_ud,@show_exact_match) + @Suffix

IF ISNULL(@patient_name_first, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(member_name.name_first, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@patient_name_first,@show_exact_match) + @Suffix
IF ISNULL(@patient_name_last, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(member_name.name_last, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@patient_name_last,@show_exact_match) + @Suffix

IF ISNULL(@subscriber_eligibility_id, 0) > 0
SET @sql_where = @sql_where + ' AND (family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = ' + CONVERT(NVARCHAR, @subscriber_eligibility_id)
+ ' AND relationship_to_insured.golden_key = ''Self''' + ')'
IF ISNULL(@subscriber_eligibility_ud, '') <> ''
SET @sql_where = @sql_where + ' AND (ISNULL(family_eligibility_member_benefit_plan.member_eligibility_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@subscriber_eligibility_ud,@show_exact_match) + @Suffix
+ ' AND relationship_to_insured.golden_key = ''Self''' + ')'
IF ISNULL(@subscriber_name_first, '') <> ''
SET @sql_where = @sql_where + ' AND (ISNULL(member_name.name_first, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@subscriber_name_first,@show_exact_match) + @Suffix
+ ' AND relationship_to_insured.golden_key = ''Self''' + ')'
IF ISNULL(@subscriber_name_last, '') <> ''
SET @sql_where = @sql_where + ' AND (ISNULL(member_name.name_last, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@subscriber_name_last,@show_exact_match) + @Suffix
+ ' AND relationship_to_insured.golden_key = ''Self''' + ')'

-- RT:6069 - filter out aliased names if no names (subscriber/patient, last/first name) not supplied
-- RT:6791 - filter out aliased names, but still find pre-d claims when no eligibility has been entered on the claim, by allowing is_primary to be null.
IF ISNULL(@subscriber_name_last, '') = '' AND ISNULL(@subscriber_name_first, '') = '' AND ISNULL(@patient_name_last, '') = '' AND ISNULL(@patient_name_first, '') = ''
SET @sql_where = @sql_where + ' AND (member_name.is_primary IS NULL OR member_name.is_primary = 1) '

IF ISNULL(@provider_identifier_id, 0) > 0
SET @sql_where = @sql_where + ' AND billing_provider_identifier.provider_identifier_id = ' + CONVERT(NVARCHAR, @provider_identifier_id)
IF ISNULL(@provider_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim.billing_provider_id = ' + CONVERT(NVARCHAR, @provider_id)
IF ISNULL(@provider_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(billing_provider_identifier.provider_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_ud,@show_exact_match) + @Suffix
IF ISNULL(@provider_name_first, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(billing_provider_name.name_first, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_name_first,@show_exact_match) + @Suffix
IF ISNULL(@provider_name_last, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(billing_provider_name.name_last, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_name_last,@show_exact_match) + @Suffix

IF ISNULL(@vendor_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim.vendor_id = ' +  CONVERT(NVARCHAR, @vendor_id)
IF ISNULL(@vendor_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(vendor.vendor_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@vendor_ud,@show_exact_match) + @Suffix
IF ISNULL(@vendor_nm, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(vendor.vendor_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@vendor_nm,@show_exact_match) + @Suffix

IF @dental_claim_ud IS NOT NULL AND @dental_claim_ud <> ''
SET @sql_where = @sql_where + ' AND ISNULL(claim.claim_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_claim_ud,@show_exact_match) + @Suffix

IF ISNULL(@claim_status_id, 0) > 0
SET @sql_where = @sql_where + ' AND adjudication_status.adjudication_status_id = ' + CONVERT(NVARCHAR, @claim_status_id)
IF ISNULL(@claim_status_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(adjudication_status.adjudication_status_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@claim_status_ud,@show_exact_match) + @Suffix

IF ISNULL(@result_code_id, 0) > 0
SET @sql_where = @sql_where + ' AND result_code.result_code_id = ' + CONVERT(NVARCHAR, @result_code_id)
IF ISNULL(@result_code_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(result_code.result_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@result_code_ud,@show_exact_match) + @Suffix

IF @dental_received_date_from IS NOT NULL
SET @sql_where = @sql_where + ' AND DATEDIFF(day, claim.received_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_received_date_from, 101) + ''', 101)) <= 0 '

IF @dental_received_date_thru IS NOT NULL
SET @sql_where = @sql_where + ' AND DATEDIFF(day, claim.received_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_received_date_thru, 101) + ''', 101)) >= 0 '

IF @dental_date_entered_from IS NOT NULL
SET @sql_where = @sql_where + ' AND DATEDIFF(day, dental_claim.created_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_date_entered_from,101) + ''', 101)) <= 0 '

IF @dental_date_entered_thru IS NOT NULL
SET @sql_where = @sql_where + ' AND DATEDIFF(day, dental_claim.created_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_date_entered_thru,101) + ''', 101)) >= 0 '

IF ISNULL(@area_of_oral_cavity_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure_area_of_oral_cavity.area_of_oral_cavity_id = ' + CONVERT(NVARCHAR, @area_of_oral_cavity_id)
IF ISNULL(@area_of_oral_cavity_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(claim_procedure_area_of_oral_cavity.area_of_oral_cavity_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@area_of_oral_cavity_ud,@show_exact_match) + @Suffix

IF ISNULL(@tooth_number_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @tooth_number_id)
IF ISNULL(@tooth_number_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(tooth_number_letter.tooth_number_letter_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tooth_number_ud,@show_exact_match) + @Suffix

IF ISNULL(@tooth_number_letter_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @tooth_number_letter_id)
IF ISNULL(@tooth_number_letter_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(tooth_number_letter.tooth_number_letter_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tooth_number_letter_ud,@show_exact_match) + @Suffix

IF ISNULL(@tooth_surface_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure_tooth_surface.tooth_surface_id = ' + CONVERT(NVARCHAR, @tooth_surface_id)
IF ISNULL(@tooth_surface_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(tooth_surface.tooth_surface_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tooth_surface_ud,@show_exact_match) + @Suffix

IF ISNULL(@procedure_code_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure.procedure_code_id = ' + CONVERT(NVARCHAR, @procedure_code_id)
IF ISNULL(@procedure_code_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(claim_procedure.alternate_procedure_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@procedure_code_ud,@show_exact_match) + @Suffix

IF ISNULL(@alternate_procedure_code_id, 0) > 0
SET @sql_where = @sql_where + ' AND claim_procedure.procedure_code_ud = ' + CONVERT(NVARCHAR, @alternate_procedure_code_id)
IF ISNULL(@alternate_procedure_code_ud, '') <> ''
SET @sql_where = @sql_where + ' AND ISNULL(claim_procedure.alternate_procedure_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@alternate_procedure_code_ud,@show_exact_match) + @Suffix

SET @sql_order = 'ORDER BY claim.claim_ud DESC'

EXEC (@sql_select + @sql_from + @sql_where + @sql_order)

END
GO
