USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard & rvolkening
DATE: Oct 27, 2009
--
DESCRIPTION:
Load for Fee Schedule Set form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_fee_schedule_set_load]
(
@fee_schedule_set_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_set.fee_schedule_set_id
,fee_schedule_set.fee_schedule_set_ud
,fee_schedule_set.description
,fee_schedule_set.fee_schedule_form_type_id
,fee_schedule_form_type.fee_schedule_form_type_ud
,fee_schedule_set.fee_schedule_resolution_rule_id
,fee_schedule_resolution_rule.fee_schedule_resolution_rule_ud
FROM fee_schedule_set
LEFT JOIN fee_schedule_form_type ON fee_schedule_form_type.fee_schedule_form_type_id = fee_schedule_set.fee_schedule_form_type_id
LEFT JOIN fee_schedule_resolution_rule ON fee_schedule_resolution_rule.fee_schedule_resolution_rule_id = fee_schedule_set.fee_schedule_resolution_rule_id
WHERE fee_schedule_set.fee_schedule_set_id = @fee_schedule_set_id
--
RETURN @SP_SUCCESS
--
GO
