USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_advance_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Date: 10/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/17/2005	TINH DO		Created
02/28/2006  HungTNguyen     1.1     changed from  member_termination_reason_id to member_eligibility_termination_reason_id
03/08/2006	Thuy Ha				    created_date & modified_date use DB Server date
11/13/2007	Vishwa Jella	1.2		Added COBRA Update Specification 17886 changes  (,@cobra_effective_date changed to continuous_coverage_effective_date)
11/13/2007	Vishwa Jella	1.3		Privacy Notice Date
11/19/2007	Vishwa Jella	1.3		Added Posthumous Claim Rule
08/15/2008  Jeremy Hein     1.4     Removed postal_code, county, country_ud and state. Added customer and vendor per 17626.f Premium Billing Entity Updates UI Focus Spec.doc.
03/17/2010	Vishwa Jella	1.5		Updated to use family_eligibility_termination_reason_id for both Enrollment and Member Eligibilities
09/12/2011	Knobloch		1.6		Added effective_as_of & disenrollment_letter
08/29/2013	A.Mortensen	    1.7		RT:4999 updated to override default modified_user_name value on insert to null, and added modified_user_name on update for better audit tracking
08/18/2014                          RT:6046 Updated created/modified tombstone columns
11/05/2014  jbernard				RT7403 : Removed redundent existence check
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.7
--
DESCRIPTION:
This procedure is used to save data for Advanced Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_advance_save] (
@family_eligibility_member_benefit_plan_id INT = NULL OUTPUT
,@family_eligibility_member_id INT = NULL
--    ,@benefit_contract_period_benefit_plan_id int = NULL
,@eligibility_level_id INT = NULL
,@privacy_notice_date DATETIME = NULL
,@continuous_coverage_effective_date DATETIME = NULL
,@cobra_coverage BIT = 0
,@cobra_start_date DATETIME = NULL
,@cobra_end_date DATETIME = NULL
,@cobra_period_id INT = NULL
,@cobra_event_id INT = NULL
,@cobra_event_date DATETIME = NULL
,@cobra_notification_date DATETIME = NULL
,@election_period_ends NVARCHAR(50) = NULL
,@pend_claims_after_days INT = NULL
,@deny_claims_after_days INT = NULL
,@tenure_override BIT = 0
,@tenure_user_name NVARCHAR(128) = NULL
,@tenure_start_date DATETIME = NULL
,@eligibility_tenure_override_reason_id INT = NULL
,@pre_existing_condition_credit_unit INT = NULL
,@pre_existing_condition_unit_day_week_id INT = NULL
,@never_under_coverage BIT = 0
,@customer_id INT = NULL
,@use_family_customer BIT = 1
,@vendor_id INT = NULL
,@use_family_vendor BIT = 1
,@family_eligibility_member_benefit_plan_object_row_version ROWVERSION = NULL OUTPUT
,@active BIT = 0
,@disenrollment_letter BIT = 0
,@effective_as_of DATETIME = NULL
)
AS
--
SET NOCOUNT ON

--
DECLARE @capture_row_version TABLE (new_row_version BINARY (8))
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@ERROR_CANT_INSERT = ''
,@ERROR_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = ''
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3

--
IF @family_eligibility_member_benefit_plan_id IS NULL
BEGIN
--- Create a new record
INSERT INTO family_eligibility_member_benefit_plan (
family_eligibility_member_id
--,benefit_contract_period_benefit_plan_id
,eligibility_level_id
,privacy_notice_date
,continuous_coverage_effective_date
,cobra_coverage
,cobra_start_date
,cobra_end_date
,cobra_period_id
,cobra_event_id
,cobra_event_date
,cobra_notification_date
,election_period_ends
,pend_claims_after_days
,deny_claims_after_days
,tenure_override
,tenure_start_date
,tenure_user_name
,eligibility_tenure_override_reason_id
,pre_existing_condition_credit_unit
,pre_existing_condition_unit_day_week_id
,never_under_coverage
,customer_id
,use_family_customer
,vendor_id
,use_family_vendor
,active
,disenrollment_letter
,disenrollment_letter_effective_as_of
)
OUTPUT INSERTED.object_row_version
INTO @capture_row_version
VALUES (
@family_eligibility_member_id
--,@benefit_contract_period_benefit_plan_id
,@eligibility_level_id
,@privacy_notice_date
,@continuous_coverage_effective_date
,@cobra_coverage
,@cobra_start_date
,@cobra_end_date
,@cobra_period_id
,@cobra_event_id
,@cobra_event_date
,@cobra_notification_date
,@election_period_ends
,@pend_claims_after_days
,@deny_claims_after_days
,@tenure_override
,@tenure_start_date
,@tenure_user_name
,@eligibility_tenure_override_reason_id
,@pre_existing_condition_credit_unit
,@pre_existing_condition_unit_day_week_id
,@customer_id
,@use_family_customer
,@vendor_id
,@use_family_vendor
,@never_under_coverage
,@active
,@disenrollment_letter
,@effective_as_of
)

--
SET @family_eligibility_member_benefit_plan_id = @@IDENTITY
SET @family_eligibility_member_benefit_plan_object_row_version = (
SELECT new_row_version
FROM @capture_row_version
)
END
ELSE
BEGIN
DECLARE @ErrorVar INT
,@RowCountVar INT
--
-- RT:7065 Optimistic Concurrency check
DECLARE @row_version_check_result INT

EXEC @row_version_check_result = dbo.plx_family_eligibility_member_benefit_plan_check_and_rev_row_version @family_eligibility_member_benefit_plan_id
,@family_eligibility_member_benefit_plan_object_row_version

IF @row_version_check_result <> 0
BEGIN
IF @row_version_check_result = @SP_EXCEPTION
RETURN @SP_EXCEPTION

IF @row_version_check_result = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @row_version_check_result = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

UPDATE family_eligibility_member_benefit_plan
SET family_eligibility_member_id = @family_eligibility_member_id
--     ,benefit_contract_period_benefit_plan_id		=@benefit_contract_period_benefit_plan_id
,eligibility_level_id = @eligibility_level_id
,privacy_notice_date = @privacy_notice_date
,continuous_coverage_effective_date = @continuous_coverage_effective_date
,cobra_coverage = @cobra_coverage
,cobra_start_date = @cobra_start_date
,cobra_end_date = @cobra_end_date
,cobra_period_id = @cobra_period_id
,cobra_event_id = @cobra_event_id
,cobra_event_date = @cobra_event_date
,cobra_notification_date = @cobra_notification_date
,election_period_ends = @election_period_ends
,pend_claims_after_days = @pend_claims_after_days
,deny_claims_after_days = @deny_claims_after_days
,tenure_override = @tenure_override
,tenure_start_date = @tenure_start_date
,tenure_user_name = @tenure_user_name
,eligibility_tenure_override_reason_id = @eligibility_tenure_override_reason_id
,pre_existing_condition_credit_unit = @pre_existing_condition_credit_unit
,pre_existing_condition_unit_day_week_id = @pre_existing_condition_unit_day_week_id
,never_under_coverage = @never_under_coverage
,customer_id = @customer_id
,use_family_customer = @use_family_customer
,vendor_id = @vendor_id
,use_family_vendor = @use_family_vendor
,active = @active
,disenrollment_letter = @disenrollment_letter
,disenrollment_letter_effective_as_of = @effective_as_of
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
OUTPUT INSERTED.object_row_version
INTO @capture_row_version
WHERE family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

--
SET @family_eligibility_member_benefit_plan_object_row_version = (
SELECT new_row_version
FROM @capture_row_version
)
END

--
RETURN @SP_SUCCESS
--
GO
