USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_valid_choice_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tmle
DATE: Nov/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/24	Thuy Ha				Add rule check valid choice is used in benefit_period_benefit_plan_choice_list, episode choice list resolution
2006/03/03	Thuy Ha				Change table benefit_period_benefit_plan_choice_list to
table benefit_contract_benefit_accumulator_choice_resolution
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in valid choice  table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@accumulator_valid_choice_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_framework_valid_choice_check_delete]
(
@benefit_valid_choice_id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1

IF NOT EXISTS (	SELECT 	benefit_framework_valid_choice_id
FROM 	benefit_framework_valid_choice
WHERE 	benefit_framework_valid_choice_id = @benefit_valid_choice_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
IF EXISTS (
SELECT 	1
FROM	individual_eligibility_benefit_class_choice_list_resolution
WHERE 	benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 	1
FROM	family_eligibility_benefit_class_choice_list_resolution
WHERE 	benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 1
FROM episode_benefit_class_choice_list_resolution
WHERE benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (
SELECT 1
FROM benefit_plan_benefit_class_choice_resolution
WHERE benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF  EXISTS (
SELECT 	1
FROM	benefit_contract_benefit_class_choice_resolution AS bcbccr
WHERE 	bcbccr.benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

IF  EXISTS (
SELECT 	1
FROM	benefit_contract_period_benefit_plan_benefit_class_choice_resolution AS bcpbpbccr
WHERE 	bcpbpbccr.benefit_framework_valid_choice_id = @benefit_valid_choice_id
)
BEGIN
RETURN @SP_DELETE_UNABLE
END

END


RETURN @SP_DELETE_ABLE
END
GO
