USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alias_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Date: Nov 18 2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/21/2005 	HienDNguyen	1.0 		Use for ICU# 15898 Aliases
11/21/2005 	AnhTa 		1.1 		Remove --,entity_type.description AS type, --,name_prefix.description AS prefix
11/22/2005	HienDNguyen 1.2 		Added Check is_primary = 0
11/22/2005 	AnhTa 		1.3 		changed alias_id to parent_alias_id
11/23/2005 	HienDNguyen 1.3 		Added the case using for contact object
11/29/2005 	HienDNguyen 1.4 		Added ORDER BY
12/02/2005 	AnhTa 		1.5 		changed entity_type to alias_type
12/05/2005 	AnhTa 		1.6 		changed entity_type_id to alias_type_id
12/06/2005	HienDNguyen	1.7			Updated alias_type in loading contact section
12/28/2005	HienDNguyen	1.8			Add client alias
01/09/2006	AnhTa		1.9			Change from comment to comment
01/11/2006	HienDNguyen	2.0			Add client and group
02/07/2006	AnhTa		2.1			Change contact area
03/23/2006	AnhTa		2.2			Set Null as name_prefix_id
08/03/2006 	HuyThan 	1.3 		Added the case using for agent object
08/17/2006 	HuyThan 	1.3 		Added the case using for brokerage object
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid Aliases in form Aliases

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/


CREATE       PROCEDURE [dbo].[plx_alias_list_load]
(
@alias_name		NVARCHAR(50) = NULL,
@parent_alias_id	INT = NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

if @alias_name ='MEMBER'
BEGIN
SELECT
member.member_id as parent_alias_id
,'MEMBER' as alias_name
,member_name.member_name_id as alias_id

,member_name.alias_type_id
,alias_type.alias_type_ud

,member_name.name_prefix_id
,name_prefix.name_prefix_ud

,member_name.name_last
,member_name.name_first
,member_name.name_middle
,member_name.name_suffix
,member_name.comment
FROM

member INNER JOIN member_name ON member.member_id = member_name.member_id
LEFT JOIN name_prefix ON  member_name.name_prefix_id = name_prefix.name_prefix_id
LEFT JOIN alias_type ON member_name.alias_type_id = alias_type.alias_type_id
WHERE
member.member_id = @parent_alias_id
AND
ISNULL(member_name.is_primary, 0) = 0
ORDER BY alias_type.alias_type_ud,name_prefix.name_prefix_ud
END
ELSE
if @alias_name ='PROVIDER'
BEGIN
SELECT
provider.provider_id as parent_alias_id
,'PROVIDER' as alias_name
,provider_name.provider_name_id as alias_id

,provider_name.alias_type_id
,alias_type.alias_type_ud

,provider_name.name_prefix_id
,name_prefix.name_prefix_ud

,provider_name.name_last
,provider_name.name_first
,provider_name.name_middle
,provider_name.name_suffix
,provider_name.comment
FROM
provider INNER JOIN provider_name ON provider.provider_id  = provider_name.provider_id
LEFT JOIN alias_type ON provider_name.alias_type_id =  alias_type.alias_type_id
LEFT JOIN name_prefix ON provider_name.name_prefix_id = name_prefix.name_prefix_id
WHERE
provider.provider_id = @parent_alias_id
AND ISNULL(provider_name.is_primary,0) = 0
ORDER BY
alias_type.alias_type_ud,name_prefix.name_prefix_ud
END
ELSE
IF @alias_name ='AGENT'
BEGIN
SELECT
agent.agent_id as parent_alias_id
,'AGENT' as alias_name
,agent_name.agent_name_id as alias_id
,agent_name.alias_type_id
,alias_type.alias_type_ud
,agent_name.name_prefix_id
,name_prefix.name_prefix_ud
,agent_name.name_last
,agent_name.name_first
,agent_name.name_middle
,agent_name.name_suffix
,agent_name.comment
FROM
agent INNER JOIN agent_name ON agent.agent_id  = agent_name.agent_id
LEFT JOIN alias_type ON agent_name.alias_type_id =  alias_type.alias_type_id
LEFT JOIN name_prefix ON agent_name.name_prefix_id = name_prefix.name_prefix_id
WHERE
agent.agent_id = @parent_alias_id
AND ISNULL(agent_name.is_primary,0) = 0
ORDER BY
alias_type.alias_type_ud,name_prefix.name_prefix_ud
END
ELSE
IF @alias_name ='BROKERAGE'
BEGIN
SELECT
agent.agent_id as parent_alias_id
,'BROKERAGE' as alias_name
,agent_name.agent_name_id as alias_id
,agent_name.alias_type_id
,alias_type.alias_type_ud
,agent_name.name_prefix_id
,name_prefix.name_prefix_ud
,agent_name.name_last
,agent_name.name_first
,agent_name.name_middle
,agent_name.name_suffix
,agent_name.comment
FROM
agent INNER JOIN agent_name ON agent.agent_id  = agent_name.agent_id
LEFT JOIN alias_type ON agent_name.alias_type_id =  alias_type.alias_type_id
LEFT JOIN name_prefix ON agent_name.name_prefix_id = name_prefix.name_prefix_id
WHERE
agent.agent_id = @parent_alias_id
AND ISNULL(agent_name.is_primary,0) = 0
ORDER BY
alias_type.alias_type_ud,name_prefix.name_prefix_ud
END
ELSE
if @alias_name ='CONTACT'
BEGIN
SELECT
contact.contact_id as parent_alias_id
,'CONTACT' as alias_name
,contact_name.contact_name_id as alias_id

,contact_name.alias_type_id
,alias_type.alias_type_ud

,contact_name.name_prefix_id
,name_prefix.name_prefix_ud

,contact_name.name_last
,contact_name.name_first
,contact_name.name_middle
,contact_name.name_suffix
,contact_name.comment
FROM
contact INNER JOIN contact_name ON contact.contact_id  = contact_name.contact_id
LEFT JOIN alias_type ON contact_name.alias_type_id =  alias_type.alias_type_id
LEFT JOIN name_prefix ON contact_name.name_prefix_id = name_prefix.name_prefix_id
WHERE
contact.contact_id = @parent_alias_id
AND ISNULL(contact_name.is_primary,0) = 0
ORDER BY name_prefix.name_prefix_ud

END
ELSE
if @alias_name ='CLIENT'
BEGIN
SELECT
client.client_id as parent_alias_id
,'CLIENT' as alias_name
,client_name.client_name_id as alias_id

,client_name.alias_type_id
,alias_type.alias_type_ud

,Null  as name_prefix_id
,''  as name_prefix_ud

,client_name.client_nm as name_last
,'' as name_first
,'' as name_middle
,'' as name_suffix
,client_name.comment
FROM
client INNER JOIN client_name ON client.client_id  = client_name.client_id
LEFT JOIN alias_type ON client_name.alias_type_id =  alias_type.alias_type_id
WHERE
client.client_id = @parent_alias_id
AND ISNULL(client_name.primary_name,0) = 0
END
ELSE
IF @alias_name ='GROUP'
BEGIN
SELECT
client_group.client_group_id as parent_alias_id
,'GROUP' as alias_name
,client_group_name.client_group_name_id as alias_id

,client_group_name.alias_type_id
,alias_type.alias_type_ud

,Null  as name_prefix_id
,''  as name_prefix_ud

,client_group_name.client_group_nm as name_last
,'' as name_first
,'' as name_middle
,'' as name_suffix
,client_group_name.comment
FROM
client_group INNER JOIN client_group_name ON client_group.client_group_id  = client_group_name.client_group_id
LEFT JOIN alias_type ON client_group_name.alias_type_id =  alias_type.alias_type_id
WHERE
client_group.client_group_id = @parent_alias_id
AND ISNULL(client_group_name.primary_name,0) = 0
END
ELSE
BEGIN
select '' as parent_alias_id
,'' as alias_name
,'' as alias_id

,'' as alias_type_id
,'' as alias_type_ud

,'' as name_prefix_id
,'' as name_prefix_ud

,'' as name_last
,'' as name_first
,'' as name_middle
,'' as name_suffix
,'' as comment
from member_name
where 1 = 2
END
RETURN @SP_SUCCESS
END
GO
