USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_contract_accumulator_framework_by_benefit_contract]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivas Kunche
DATE: 	07/26/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2005	Srinivasa	1.0		create
10/08/2007	W. Christensen	1.1		Complete rewrite
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Loads the accumulator framework against benefit contract period
--
REQUIREMENTS:
--
INPUTS:

@benefit_contract_period_id
@benefit_contract_period_benefit_plan_id
@accumulator_id

--
OUTPUTS:
accumulator_framework_id
accumulator_framework_ud
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_dd_benefit_contract_accumulator_framework_by_benefit_contract]
(
@benefit_contract_period_id as int = null,
@benefit_contract_period_benefit_plan_id AS INT = null,
@accumulator_id as int = null
)
AS
BEGIN

SET NOCOUNT ON

SELECT DISTINCT af.accumulator_framework_id, af.accumulator_framework_ud

FROM benefit_contract_period bcp

INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan_accumulator_framework bpaf
ON bcpbp.benefit_plan_id = bpaf.benefit_plan_id
INNER JOIN accumulator_framework af
ON bpaf.accumulator_framework_id = af.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id

WHERE
(bcp.benefit_contract_period_id = ISNULL(@benefit_contract_period_id, bcp.benefit_contract_period_id))
AND (bcpbp.benefit_plan_id IN
(SELECT DISTINCT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_id = ISNULL(@benefit_contract_period_id, benefit_contract_period_id)
AND benefit_contract_period_benefit_plan_id =
ISNULL(@benefit_contract_period_benefit_plan_id, benefit_contract_period_benefit_plan_id)
)
)
AND (afaca.accumulator_id = ISNULL(@accumulator_id, afaca.accumulator_id))

ORDER BY af.accumulator_framework_ud

RETURN @@ROWCOUNT
END
GO
