USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_eob_extract]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    procedure [dbo].[bind_eob_extract]
	@checkdate datetime
	
as 

IF OBJECT_ID('tempdb..#Results') IS NOT NULL DROP TABLE #Results

CREATE TABLE #Results (
	 id int identity(1,1)
	, claim_id int
	, claim_procedure_id int
	, claim_line_sequence numeric(19,4)
	, accounting_transaction_ap_id int
	, transaction_amount money
	, ach_check_number nvarchar(15)
	, ach_check_date datetime
	, zero_pay_ref_num nvarchar(15)
	, zp_finalized_date datetime
)

IF OBJECT_ID('tempdb..#claim_lvl_check_info') IS NOT NULL DROP TABLE #claim_lvl_check_info

CREATE TABLE #claim_lvl_check_info (
	 id int identity(1,1)
	, claim_id int
	, ach_check_number nvarchar(15)
	, ach_check_date datetime
	, zero_pay_ref_num nvarchar(15)
	, zp_finalized_date datetime
	)


IF OBJECT_ID('tempdb..#Output_raw') IS NOT NULL DROP TABLE #Output_raw

CREATE TABLE #Output_raw (
	 id int identity(1,1)
	, claim_ud nvarchar(50)
	, claim_id int
	, external_claim_id nvarchar(50)
	, clearinghouse_claim_id nvarchar(50)
	, network nvarchar(50)
	, claim_procedure_id int
	, claim_line_sequence numeric(19,4) 
	, internal_member_id int
	, member_number nvarchar(50)
	, member_first_name nvarchar(100) 
	, member_date_of_birth datetime
	, subscriber_number nvarchar(50)
	, subscriber_first_name nvarchar(100) 
	, subscriber_date_of_birth datetime
	, provider_ud nvarchar(50) -- billing provider 
	, name_last nvarchar(100) -- billing provider 
	, name_first nvarchar(100) -- billin provider 
	, procedure_code_description nvarchar(255) -- need to check type 
	, service_from_date datetime 
	, service_thru_date datetime
	, charge money 
	, cob_amount money
	, copay_amount money 
	, WRITE_OFF_AMOUNT money 
	, INELIGIBLE_AMOUNT money 
	, DEDUCTIBLE_AMOUNT money 
	, COINSURANCE_AMOUNT money 
	, BALANCE_BILLABLE_AMOUNT money 
	, contract_amount money 
	, NET_PAYMENT money 
	, TOTAL_MEMBER_RESPONSIBILITY money 
	-- arc_cte
	, result_code_ud nvarchar(50)
	, long_message nvarchar(300)
	, use_on_member_report bit 
	, use_on_provider_report bit 
	, claim_line_status nvarchar(50)
	, rendering_provider_name_last nvarchar(100)
	, rendering_provider_name_first nvarchar(100)
	, vendor_nm nvarchar(100)
	, vendor_pay_to_nm nvarchar(100)
	, external_identifier nvarchar(50)
	, employer_group_number nvarchar(50) 
	, employer_group_name nvarchar(100) 
	, adjusted_claim bit
	, reversal bit 
	, check_date datetime
	, claim_line_payment_status nvarchar(100)
	, procedure_code_ud nvarchar(50)
	, revenue_code_description nvarchar(255)
	, revenue_code_ud nvarchar(50) 
	, payee_id nvarchar(50)
	, check_number nvarchar(15)
	, accounting_transaction_ap_id int
	, remit_transaction_amount money
	)


IF OBJECT_ID('tempdb..#Output') IS NOT NULL DROP TABLE #Output

CREATE TABLE #Output (
	   [claim_ud] nvarchar(50)
      ,[claim_id] int
      ,[external_claim_id] nvarchar(100)
      ,[clearinghouse_claim_id] nvarchar(100)
      ,[network] nvarchar(50)
      ,[claim_procedure_id] int
      ,[claim_line_sequence] numeric(19,4) 
      ,[internal_member_id] int
      ,[member_number] nvarchar(50)
      ,[member_first_name] nvarchar(100)
      ,[member_date_of_birth] nvarchar(100)
      ,[subscriber_number] nvarchar(50)
      ,[subscriber_first_name] nvarchar(100)
      ,[subscriber_date_of_birth] nvarchar(100)
      ,[provider_ud] nvarchar(50)
      ,[name_last] nvarchar(100)
      ,[name_first] nvarchar(100)
      ,[procedure_code_description] nvarchar(255)
      ,[service_from_date] nvarchar(100)
      ,[service_thru_date] nvarchar(100)
      ,[charge] money
      ,[cob_amount] money
      ,[COPAY_AMOUNT] money
      ,[WRITE_OFF_AMOUNT] money
      ,[INELIGIBLE_AMOUNT] money
      ,[DEDUCTIBLE_AMOUNT] money 
      ,[COINSURANCE_AMOUNT] money
      ,[CONTRACT_AMOUNT] money 
      ,[NET_PAYMENT] money 
      ,[TOTAL_MEMBER_RESPONSIBILITY] money
      ,[result_code_ud] nvarchar(50)
      ,[long_message] nvarchar(300)
      ,[use_on_member_report] bit
      ,[use_on_provider_report] bit
      ,[claim_line_status] nvarchar(50)
      ,[rendering_provider_name_last] nvarchar(100)
      ,[rendering_provider_name_first] nvarchar(100)
      ,[vendor_nm] nvarchar(100)
      ,[vendor_pay_to_nm] nvarchar(100)
      ,[external_identifier] nvarchar(50)
      ,[employer_group_number] nvarchar(50)
      ,[employer_group_name] nvarchar(100)
      ,[adjusted_claim] bit
      ,[reversal] bit 
      ,[check_date] nvarchar(100)
      ,[claim_line_payment_status] nvarchar(100)
      ,[procedure_code_ud] nvarchar(50)
      ,[revenue_code_description] nvarchar(255)
      ,[revenue_code_ud] nvarchar(50)
      ,[payee_id] nvarchar(50)
      ,[check_number] nvarchar(15)
      ,[accounting_transaction_ap_id] int
      ,[balance_billable_amount] money 
      ,[remit_transaction_amount] money
	)

declare @d9_id int
declare @clearingHouse_id int
declare @pid_id int
declare @npi_id int

set @d9_id = (select claim_additional_reference_number_type_id from claim_additional_reference_number_type where golden_key = 'd9')
set @clearingHouse_id = (select claim_additional_reference_number_type_id from claim_additional_reference_number_type where golden_key = 'f8')
set @pid_id = (select member_id_type_id from member_id_type where golden_key = 'pid')
set @npi_id = (select provider_identifier_type_id from provider_identifier_type where provider_identifier_type_nm = 'National Provider Identifier')

insert into #Results
Select distinct c.claim_id
	, cp.claim_procedure_id
	, cp.claim_line_sequence
	, atapd.accounting_transaction_ap_id
	, ataPAY.transaction_amount
	, atapd.check_ach_reference
	, atapd.check_date
	, zvb.reference_number
	, zvb.finalized_date
from claim c
	inner join claim_procedure cp 
		on c.claim_id = cp.claim_id
	LEFT JOIN accounting_transaction_ap_claim_detail atacd
	    ON atacd.claim_procedure_id = cp.claim_procedure_id
	LEFT JOIN accounting_transaction_ap ataTrans
	    ON ataTrans.accounting_transaction_ap_id = atacd.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atat
	    ON atat.accounting_transaction_ap_type_id = ataTrans.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_apply_to ataat
	    ON ataat.to_accounting_transaction_ap_id = ataTRANS.accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap ataPAY
	    ON ataPAY.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	LEFT JOIN accounting_transaction_ap_type atatPAY
	    ON atatPAY.accounting_transaction_ap_type_id = ataPAY.accounting_transaction_ap_type_id
	LEFT JOIN accounting_transaction_ap_payment_detail atapd
		ON atapd.accounting_transaction_ap_id = ataat.from_accounting_transaction_ap_id
	left join accounting_check_print_run check_run
		on atapd.accounting_check_print_run_id = check_run.accounting_check_print_run_id
	left join zero_tracking_claim_procedure zcp
		on zcp.claim_procedure_id = cp.claim_procedure_id
	left join zero_tracking_vendor_batch zvb
		on zcp.zero_tracking_vendor_batch_id = zvb.zero_tracking_vendor_batch_id
where (atapd.check_date >= @checkdate or zvb.finalized_date >= @checkdate)


insert into #claim_lvl_check_info 
select distinct c.claim_id
		, ach.ach_check_number
		, ach.ach_check_date
		, zp.zero_pay_ref_num
		, zp.zp_finalized_date
from #Results c	
	outer apply (select top 1 r.ach_check_number,  r.ach_check_date
				 from #Results r
				 where r.claim_id = c.claim_id
				 and ach_check_number is not null 
				 order by ach_check_date desc) as ach
		outer apply (select top 1 r.zero_pay_ref_num,  r.zp_finalized_date
				 from #Results r
				 where r.claim_id = c.claim_id
					and r.zero_pay_ref_num is not null
				 order by zp_finalized_date desc) as zp

insert into #Output_raw
select 
	  c.claim_ud
	, c.claim_id
	, d9.additional_reference_number  external_claim_id
	, clearingHouse.additional_reference_number clearinghouse_claim_id
	, c.repriced_network network
	, r.claim_procedure_id
	, isnull(cp_negated.claim_line_sequence, cp.claim_line_sequence)
	, mem.member_id internal_member_id
	, mem_mpi.id_value member_number
	, mem_name.name_first member_first_name
	, mem.birth_date member_date_of_birth
	, sub_mpi.id_value subscriber_number
	, sub_name.name_first subscriber_first_name
	, sub.birth_date subscriber_date_of_birth
	, billing_id.provider_ud provider_ud -- billing provider 
	, billing_name.name_last name_last -- billing provider 
	, billing_name.name_first name_first -- billin provider 
	, pc.description procedure_code_description 
	, cp.service_from_date  service_from_date
	, cp.service_thru_date service_thru_date 
	, cp.charge charge  
	, cp.cob_amount cob_amount 
	, cp_amounts.copay_amount copay_amount 
	, cp_amounts.write_off_amount WRITE_OFF_AMOUNT  
	, ineligible_amount.ineligible_amount INELIGIBLE_AMOUNT  
	, cp_amounts.deductible_amount DEDUCTIBLE_AMOUNT  
	, cp_amounts.coinsurance_amount COINSURANCE_AMOUNT  
	, cp_amounts.balance_billable BALANCE_BILLABLE_AMOUNT  
	, case 
		when cp_amounts.contract_amount > 0 and cp_amounts.maxPlanIterationIndex > 1 
			then cp.charge
		else cp_amounts.contract_amount
		end as contract_amount 
	, cp_amounts.net_payment NET_PAYMENT  
	, cp_amounts.TOTAL_MEMBER_RESPONSIBILITY TOTAL_MEMBER_RESPONSIBILITY  
	-- arc_cte
	, rc.result_code_ud result_code_ud
	, rc.long_message long_message 
	, CASE
		WHEN mrpoo.report_print_override_option_ud = 'Display' THEN 1
		WHEN (rc.use_on_member_report = 1 AND (mrpoo.report_print_override_option_ud <> 'Hide' OR mrpoo.report_print_override_option_ud IS NULL)) THEN 1
		ELSE 0
	 END AS use_on_member_report  
	, CASE
		WHEN prpoo.report_print_override_option_ud = 'Display' THEN 1
		WHEN (rc.use_on_provider_report = 1 AND (prpoo.report_print_override_option_ud <> 'Hide' OR prpoo.report_print_override_option_ud IS NULL)) THEN 1
		ELSE 0
     END AS use_on_provider_report  
	, cp_ads.adjudication_status_ud claim_line_status
	, rendering_name.name_last rendering_provider_name_last 
	, rendering_name.name_last rendering_provider_name_first 
	, v.vendor_nm vendor_nm 
	, vpt.vendor_pay_to_nm vendor_pay_to_nm 
	, coalesce(tpm_batch.batch_external_identifier , cii.patient_account_number, ic.patient_control_number, tpm_batch.batch_external_identifier) external_identifier 
	, bc.benefit_contract_ud employer_group_number 
	, cgn.client_group_nm employer_group_name 
	, c.duplicate_claim adjusted_claim 
	, CASE 
		WHEN cp.negated_claim_procedure_id IS NOT NULL THEN 1 
		ELSE 0 
	  END AS reversal  
	, case 
		when r.ach_check_date is not null then r.ach_check_date
		when clc.ach_check_date is not null then clc.ach_check_date
		else r.zp_finalized_date
		end as check_date
	, ps.claim_payment_process_status_ud claim_line_payment_status 
	, case
		when len(cp.procedure_code_ud) = 4
			then cp.procedure_code_2_ud
		else cp.procedure_code_ud
      end as procedure_code_ud
	,rev_code.description revenue_code_description 
	, case
        when len(cp.procedure_code_ud) = 4
			then cp.procedure_code_ud
        else NULL
     end as revenue_code_ud
	, v.federal_ein payee_id 
	, case 
		when r.ach_check_number is not null then r.ach_check_number
		when r.zero_pay_ref_num is not null then r.zero_pay_ref_num
		else clc.ach_check_number
		end as check_number 
	, r.accounting_transaction_ap_id
	, r.transaction_amount as  remit_transaction_amount
from #Results r
	inner join #claim_lvl_check_info clc
		on r.claim_id = clc.claim_id
	inner join claim c
		on r.claim_id = c.claim_id
	inner join claim_procedure cp 
		on r.claim_procedure_id = cp.claim_procedure_id
	inner join adjudication_status cp_ads
		on cp.adjudication_status_id = cp_ads.adjudication_status_id
	inner join claim_payment_process_status ps
		on cp.claim_payment_process_status_id = ps.claim_payment_process_status_id
	left join claim_additional_reference_number d9
		on c.claim_id = d9.claim_id
			and d9.claim_additional_reference_number_type_id = @d9_id
	left join claim_additional_reference_number clearingHouse
		on c.claim_id = clearingHouse.claim_id
			and clearingHouse.claim_additional_reference_number_type_id = @clearingHouse_id
	inner join adjudication_result_key ark
		on r.claim_procedure_id = ark.claim_procedure_id
	left join adjudication_result_key_override arko
		on ark.adjudication_result_key_id = arko.adjudication_result_key_id
	inner join adjudication_result_code arc
		on r.claim_procedure_id = arc.claim_procedure_id
	left join adjudication_result_code_override arco
		on arc.adjudication_result_code_id = arco.adjudication_result_code_id
	inner join result_code rc
		on rc.result_code_id = arc.result_code_id
	LEFT JOIN report_print_override_option mrpoo 
		ON arco.member_report_print_override_option_id = mrpoo.report_print_override_option_id
	LEFT JOIN report_print_override_option prpoo 
		ON arco.provider_report_print_override_option_id = prpoo.report_print_override_option_id
	inner join family_eligibility_member mem_fem
		on mem_fem.family_eligibility_member_id = ark.family_eligibility_member_id
	inner join member mem
		on mem_fem.member_id = mem.member_id
	inner join member_personal_id mem_mpi
		on mem.member_id = mem_mpi.member_id
			and mem_mpi.member_id_type_id = @pid_id
	inner join member_name mem_name
		on mem.member_id = mem_name.member_id
			and mem_name.is_primary = 1
	cross apply (select ca_fem.member_id
				 from family_eligibility_member ca_fem
					inner join relationship_to_insured ca_rti
						on ca_fem.relationship_to_insured_id = ca_rti.relationship_to_insured_id
				 where ca_fem.family_eligibility_id = ark.family_eligibility_id
					and ca_rti.relationship_to_insured_ud = 'self'
		) sub_mem
	inner join member sub
		on sub_mem.member_id = sub.member_id
	inner join member_personal_id sub_mpi
		on sub.member_id = sub_mpi.member_id
			and sub_mpi.member_id_type_id = @pid_id
	inner join member_name sub_name
		on sub.member_id = sub_name.member_id
			and sub_name.is_primary = 1
	inner join provider billing
		on ark.provider_id = billing.provider_id
	inner join provider_identifier billing_id
		on billing.provider_id = billing_id.provider_id
			and billing_id.provider_identifier_type_id = @npi_id
	inner join provider_name billing_name
		on billing.provider_id = billing_name.provider_id
			and billing_name.is_primary = 1
	inner join provider rendering
		on ark.rendering_provider_id = rendering.provider_id
	inner join provider_identifier rendering_id
		on rendering.provider_id = rendering_id.provider_id
			and rendering_id.provider_identifier_type_id = @npi_id
	inner join provider_name rendering_name
		on rendering.provider_id = rendering_name.provider_id
			and rendering_name.is_primary = 1
	inner join vendor v
		on isnull(ark.vendor_id,c.vendor_id) = v.vendor_id
	inner join vendor_pay_to vpt
		on v.vendor_id = vpt.vendor_id
	left join claim_illness_injury cii
		on c.claim_id = cii.claim_id
	left join institutional_claim ic
		on c.claim_id = ic.claim_id
	left join procedure_code pc with(nolock)
		on case
				when len(cp.procedure_code_ud) = 4
					then cp.procedure_code_2_id
				else cp.procedure_code_id
			end = pc.procedure_code_id
	left join procedure_code rev_code
		on case
			when len(cp.procedure_code_ud) = 4
			then cp.procedure_code_id
			else null
        end = rev_code.procedure_code_id
	inner join benefit_contract bc
		on ark.benefit_contract_id = bc.benefit_contract_id
	inner join client_group cg
		on bc.client_group_id = cg.client_group_id
	inner join client_group_name cgn
		on cg.client_group_id = cgn.client_group_id
			and cgn.primary_name = 1
	left join claim_procedure cp_negated
		on cp.negated_claim_procedure_id = cp_negated.claim_procedure_id
	cross apply ( select  SUM(coalesce(aao.copay_amount,aa.copay_amount, 0)) as copay_amount
						 ,SUM(coalesce(aao.write_off_amount,aa.write_off_amount,0)) as write_off_amount 
						 ,SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) as ineligible_amount
						 ,SUM(coalesce(aao.deductible_amount,aa.deductible_amount, 0)) as deductible_amount
						 ,SUM(coalesce(aao.coinsurance_amount,aa.coinsurance_amount, 0)) as coinsurance_amount
						 ,SUM(coalesce(aao.contract_amount,aa.contract_amount, 0)) as contract_amount
						 ,SUM(ISNULL(aa.net_payment, 0)) as net_payment
						 ,SUM(coalesce(aao.coinsurance_amount,aa.coinsurance_amount, 0)) +
						  SUM(coalesce(aao.copay_amount,aa.copay_amount, 0)) +
						  SUM(coalesce(aao.deductible_amount,aa.deductible_amount, 0)) +
						  SUM(ISNULL(aa.member_expense_amount, 0)) +
						  SUM(coalesce(aao.alternate_course_member_expense ,aa.alternate_course_member_expense, 0)) +
						  SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) +
						  SUM(coalesce(aao.balance_billable,aa.balance_billable, 0)) as TOTAL_MEMBER_RESPONSIBILITY
						  ,SUM(coalesce(aao.balance_billable,aa.balance_billable, 0)) as balance_billable
						 ,MAX(ISNULL(plan_iteration_index,0)) as maxPlanIterationIndex
				  from adjudication_result_amount aa
					left join adjudication_result_amount_override aao
						on aa.adjudication_result_amount_id = aao.adjudication_result_amount_id
				  where aa.claim_procedure_id = cp.claim_procedure_id
				  ) as cp_amounts
	cross apply ( select  SUM(coalesce(aao.ineligible_amount,aa.ineligible_amount, 0)) as ineligible_amount
				  from adjudication_result_amount aa
					left join adjudication_result_amount_override aao
						on aa.adjudication_result_amount_id = aao.adjudication_result_amount_id
				  where aa.claim_procedure_id = cp.claim_procedure_id
					and (aa.plan_iteration_index = cp_amounts.maxPlanIterationIndex OR aa.plan_iteration_index IS NULL)
				  ) as ineligible_amount
	outer apply (Select b.batch_id
						, bt.external_identifier as batch_external_identifier
						, b.created_date as batch_import_date
						, b.file_name
				 from qc_tpm.dbo.batch b with(nolock)
				 	inner join qc_tpm.dbo.batch_transaction bt with(nolock)
				 		on b.batch_id = bt.batch_id
				 	inner join qc_tpm.dbo.agreement a with(nolock)
				 		on b.agreement_id = a.agreement_id
				 where a.document_exchange_type_id in ('X12837P','X12837IA2')
					and bt.internal_identifier = cast(c.claim_id as nvarchar(50))
				 ) as tpm_batch


insert into #Output
select distinct
	   [claim_ud]
      ,[claim_id]
      ,[external_claim_id]
      ,[clearinghouse_claim_id]
      ,[network]
      ,[claim_procedure_id]
      ,[claim_line_sequence]
      ,[internal_member_id]
      ,[member_number]
      ,REPLACE([member_first_name], '"', '""') AS [member_first_name]
      ,format([member_date_of_birth], 'MM/dd/yyyy HH:mm:ss')
      ,[subscriber_number]
      ,REPLACE([subscriber_first_name], '"', '""') AS [subscriber_first_name]
      ,format([subscriber_date_of_birth], 'MM/dd/yyyy HH:mm:ss')
      ,[provider_ud]
      ,REPLACE([name_last], '"', '""') AS [name_last]
      ,REPLACE([name_first], '"', '""') AS [name_first]
      ,REPLACE([procedure_code_description], '"', '""') AS [procedure_code_description]
      ,format([service_from_date], 'MM/dd/yyyy HH:mm:ss')
      ,format([service_thru_date], 'MM/dd/yyyy HH:mm:ss')
      ,format([charge], 'N', 'en-us')
      ,format([cob_amount], 'N', 'en-us')
      ,format([COPAY_AMOUNT], 'N', 'en-us')
      ,format([WRITE_OFF_AMOUNT], 'N', 'en-us')
      ,format([INELIGIBLE_AMOUNT], 'N', 'en-us')
      ,format([DEDUCTIBLE_AMOUNT], 'N', 'en-us')
      ,format([COINSURANCE_AMOUNT], 'N', 'en-us')
      ,format([CONTRACT_AMOUNT], 'N', 'en-us')
      ,format([NET_PAYMENT], 'N', 'en-us')
      ,format([TOTAL_MEMBER_RESPONSIBILITY], 'N', 'en-us')
      ,[result_code_ud]
      ,REPLACE([long_message], '"', '""') AS [long_message]
      ,[use_on_member_report]
      ,[use_on_provider_report]
      ,[claim_line_status]
      ,REPLACE([rendering_provider_name_last], '"', '""') AS [rendering_provider_name_last]
      ,REPLACE([rendering_provider_name_first], '"', '""') AS [rendering_provider_name_first]
      ,REPLACE([vendor_nm], '"', '""') AS [vendor_nm]
      ,REPLACE([vendor_pay_to_nm], '"', '""') AS [vendor_pay_to_nm]
      ,[external_identifier]
      ,[employer_group_number]
      ,REPLACE([employer_group_name], '"', '""') AS [employer_group_name]
      ,[adjusted_claim]
      ,[reversal]
      ,format([check_date], 'MM/dd/yyyy HH:mm:ss')
      ,[claim_line_payment_status]
      ,[procedure_code_ud]
      ,REPLACE([revenue_code_description], '"', '""') AS [revenue_code_description]
      ,[revenue_code_ud]
      ,[payee_id]
      ,[check_number]
      ,[accounting_transaction_ap_id]
      ,[balance_billable_amount]
      ,[remit_transaction_amount] 
from #Output_raw 


select * 
from #Output
GO
