USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 09/07/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_relationship_to_subscriber_list_load]
(
@auto_termination_rule_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
e.auto_termination_rule_relationship_to_subscriber_id

,e.auto_termination_rule_id
-- ,auto_termination_rule.auto_termination_rule_ud

,e.relationship_to_insured_id
,r1.relationship_to_insured_ud

,e.relationship_to_insured_set_id
,r2.relationship_to_insured_set_ud
,case when e.relationship_to_insured_id is not null then
--r1.relationship_to_insured_ud
r1.description
else
r2.description
--'relationship to insured set description'
end
description
FROM auto_termination_rule_relationship_to_subscriber e
left join relationship_to_insured r1 on r1.relationship_to_insured_id = e.relationship_to_insured_id
left join relationship_to_insured_set r2 on r2.relationship_to_insured_set_id = e.relationship_to_insured_set_id


WHERE auto_termination_rule_id = @auto_termination_rule_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
