USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_one_supp_plan_in_plan]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  13 2005  7:17PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/13/2005	Thuy Nguyen		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify one supp plan in plan for Plan Controller
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_verify_one_supp_plan_in_plan]
(
@benefit_contract_period_benefit_plan_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT bcpbp.benefit_plan_id,bcpbp.benefit_contract_period_benefit_plan_id
FROM benefit_contract_period_benefit_plan bcpbp
inner join benefit_plan_type bpt
on bpt.benefit_plan_type_id=bcpbp.benefit_plan_type_id
WHERE bcpbp.parent_benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
and bpt.benefit_plan_type_ud='Supplemental Plan'

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
