USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_predetermination_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------

HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_dental_claim_predetermination_load]
(
@dental_claim_id			INT = NULL
)
AS

SET NOCOUNT ON

SELECT
dcp.dental_claim_predetermination_id
,dcp.pred_dental_claim_id
,dc.dental_claim_id
,c.claim_ud as dental_claim_ud
FROM
dental_claim_predetermination dcp
JOIN dental_claim dc on dcp.pred_dental_claim_id = dc.dental_claim_id
JOIN claim c on dc.claim_id = c.claim_id

WHERE dcp.dental_claim_id = @dental_claim_id
GO
