USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_check_findform_member_eligibility_name_combobox]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/28/2006	Anh Ta		1.0		Modified
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check the validation rule of member eligibility control on claim form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_check_findform_member_eligibility_name_combobox]
(
@member_eligibility_id 		INT  = NULL
, @member_eligibility_ud     	NVARCHAR(160) = NULL
, @name_last  					NVARCHAR(100) = NULL
, @name_first 					NVARCHAR(100) = NULL
, @name_middle 					NVARCHAR(100) = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ''

IF @member_eligibility_id IS NOT NULL AND @member_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = ' +  dbo.plx_EncodeString(@member_eligibility_id)

IF @member_eligibility_ud IS NOT NULL  AND @member_eligibility_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND family_eligibility_member_benefit_plan.member_eligibility_ud like  ''' +  dbo.plx_EncodeStringWildCard(@member_eligibility_ud, 1) + ''''

IF @name_last IS NOT NULL  AND @name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND member_name.name_last like  ''' +  dbo.plx_EncodeStringWildCard(@name_last, 1) + ''''

IF @name_first IS NOT NULL AND @name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND member_name.name_first like  ''' +  dbo.plx_EncodeStringWildCard(@name_first, 1) + ''''

IF @name_middle IS NOT NULL AND @name_middle <> ''
SET @SqlCondition = @SqlCondition + ' AND member_name.name_middle like  ''' +  dbo.plx_EncodeStringWildCard(@name_middle, 1) + ''''


SET @SqlQuery =
'  SELECT DISTINCT ' +
'   family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as member_eligibility_id ' +
'	, family_eligibility_member_benefit_plan.member_eligibility_ud as member_eligibility_ud ' +
'	, name_last as name_last ' +
'	, name_first as name_first ' +
'	, name_middle as name_middle ' +
'  FROM family_eligibility_member_benefit_plan ' +
'		INNER JOIN family_eligibility_member  ON family_eligibility_member_benefit_plan.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id ' +
'      	INNER JOIN member_name ON (family_eligibility_member.member_id = member_name.member_id and member_name.is_primary = 1) '

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
Print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
