USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seed_value_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
Feb 13 2006  6:13PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/13/2006	Tinhdo		created
11/16/2006	mttran					remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete Accumulator Seed Value in Accumulator Seed Amount form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_seed_value_delete]
(
@accumulator_seed_value_id                  int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '160030004',
@ERROR_CANT_DELETE = '160030005'
--
IF NOT EXISTS (SELECT * FROM accumulator_seed_value WHERE accumulator_seed_value_id = @accumulator_seed_value_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM accumulator_seed_value_tooth_surface
WHERE accumulator_seed_value_id = @accumulator_seed_value_id

DELETE FROM accumulator_seed_value
WHERE accumulator_seed_value_id = @accumulator_seed_value_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
