USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_member_date_of_birth_by_family_eligibility_member]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Vishwa Jella
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------------------------
10/15/2008	Vishwa Jella	1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:  Get member's date of birth by family_eligibility_member

Current Usage:

On Family Eligibility Form --> Eligiblity Details Tab --> Elibility Family Members Grid

To check Dates, When User trying to attach member whose date of birth is greater than elibility date,

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_get_member_date_of_birth_by_family_eligibility_member]
(
@family_eligibility_member_id  int = NULL
)
AS
--
SET NOCOUNT ON
--

DECLARE @SP_SUCCESS int
SET @SP_SUCCESS = 0


SELECT member.birth_date
FROM member
INNER JOIN family_eligibility_member ON family_eligibility_member.member_id = member.member_id
WHERE family_eligibility_member.family_eligibility_member_id = @family_eligibility_member_id


RETURN @SP_SUCCESS
GO
