USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		0.1			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to delete a criteria

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:
0	Success
-1	Exception occurred, refer to error message
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_delete]
(
@criteria_id	INT = NULL
)

AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT criteria_id FROM criteria WHERE criteria_id = @criteria_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--

DELETE FROM criteria_condition WHERE criteria_id = @criteria_id

DELETE FROM criteria WHERE criteria_id = @criteria_id

RETURN @SP_SUCCESS
GO
