USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ap_refund_request_make_available]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Makes a Vendor Refund Request available. Launched from cmdMakeAvailable on frmVendorRefundRequest.
NOTES:
o Validates the Vendor Refund Request is currently in an ENTERED status, otherwise returns error.
o Validates that AP Transactions have been applied to the Vendor Refund Request, otherwise returns error.
o Sets the Vendor Refund Request status to AVAILABLE on the accounting_transaction_ap_refund_request_detail table.
o Sets AP Transactions associated with the Vendor Refund Request to PAID status, if the AP Transaction is fully applied.
o Updates the Claim Payment Processing statuses of the Claim Procedures associated with
PAID Ap Transactions to PAID

o This functionality does not rely on triggers.

Determines the affected rows using OUTPUT clause.
https://learn.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver16

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ap_refund_request_make_available]
(
@accounting_transaction_ap_id	INT = NULL	-- Vendor Refund Request ID
)
AS
--
--
SET NOCOUNT ON;

BEGIN TRY

BEGIN TRANSACTION

DECLARE @EnteredStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'ENTERED');
DECLARE @AvailableStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

-- validate status of Vendor Refund Request is Entered
IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ap_refund_request_detail detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
AND accounting_payment_status_id = @EnteredStatusId)
BEGIN
Return -1;
END

-- validate transactions have been added to Vendor Refund Request
IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ap_apply_to apply
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id)
BEGIN
Return -1;
END

-- all ok, so update status
UPDATE accounting_transaction_ap_refund_request_detail
SET
accounting_payment_status_id     = @AvailableStatusId,
modified_user_name               = ORIGINAL_LOGIN(),
modified_date                    = GETDATE()
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Update status of associated AP Transactions to PAID,
-- if the AP Transaction has been fully applied.

-- Get Accounting Transaction status of PAID
DECLARE @apTransactionStatusId_PAID INT =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'PAID');

DECLARE @PaidApTransactions TABLE
(
apTxId INT NOT NULL
);

-- Update AP Transactions that are fully applied to PAID
UPDATE accounting_transaction_ap
SET
accounting_transaction_status_id  = @apTransactionStatusId_PAID
,modified_user_name                = ORIGINAL_LOGIN()
,modified_date                     = GETDATE()
OUTPUT INSERTED.accounting_transaction_ap_id
INTO @PaidApTransactions
FROM accounting_transaction_ap_apply_to applyTo
JOIN accounting_transaction_ap apTx
ON apTx.accounting_transaction_ap_id = applyTo.to_accounting_transaction_ap_id
WHERE
applyTo.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
AND
(
applyTo.amount = apTx.transaction_amount
OR
dbo.plx_fn_get_unapplied_amount_for_vendor_refund_request(apTx.accounting_transaction_ap_id, 1) = 0
)

-- Update Claim Status for AP Transactions set to PAID
DECLARE @claimPaymentProcessStatusPaid INT =
(SELECT claim_payment_process_status_id
FROM claim_payment_process_status WHERE golden_key = 'PAID');

UPDATE claim_procedure
SET
claim_payment_process_status_id = @claimPaymentProcessStatusPaid
,modified_user_name               = ORIGINAL_LOGIN()
,modified_date                    = GETDATE()
FROM @PaidApTransactions paidTx
JOIN accounting_transaction_ap_claim_detail claimDetail
ON paidTx.apTxId = claimDetail.accounting_transaction_ap_id
JOIN claim_procedure cp
ON cp.claim_procedure_id = claimDetail.claim_procedure_id;

COMMIT TRANSACTION

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT @ErrorMessage = ERROR_MESSAGE()
,@ErrorSeverity = ERROR_SEVERITY()
,@ErrorState = ERROR_STATE();

-- Use RAISERROR inside the CATCH block to return error
-- information about the original error that caused
-- execution to jump to the CATCH block.
RAISERROR(@ErrorMessage, -- Message text.
@ErrorSeverity, -- Severity.
@ErrorState -- State.
);
END CATCH

RETURN 0
GO
