USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.25
--
DESCRIPTION:
Load data for benefit contract in use grid in Elibility Retrictions spec
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_waiting_period_save]
(
@benefit_waiting_period_id                 int = NULL  OUTPUT
,@benefit_waiting_period_ud                 nvarchar(50) = NULL
,@benefit_waiting_period_nm				  nvarchar(100) = NULL
,@active                                     bit = NULL


) AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_waiting_period_id  is Null
BEGIN
--- Create a new record
INSERT INTO benefit_waiting_period(
benefit_waiting_period_ud
,benefit_waiting_period_nm
,active
)
VALUES
(@benefit_waiting_period_ud
,@benefit_waiting_period_nm
,@active
)
--
SET @benefit_waiting_period_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_waiting_period WHERE benefit_waiting_period_id = @benefit_waiting_period_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_waiting_period
SET
benefit_waiting_period_ud              = @benefit_waiting_period_ud
,benefit_waiting_period_nm           = @benefit_waiting_period_nm
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_waiting_period_id = @benefit_waiting_period_id

END
--
RETURN @SP_SUCCESS
--
GO
