USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_distribution_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: fcahill

REVISION_HISTORY:
--
Date  Modified By Version  Description
--------------------------------------------------------------------------------
10/23/2008 fcahill  1.0   Created
08/30/2012 Ravi				SP 3616 Added cash account for distributions.
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for Distribution on accounting_transaction Form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_distribution_save]
(
@accounting_transaction_distribution_id INT = NULL OUTPUT
,@accounting_transaction_id  INT = NULL
,@accounting_company_account_id INT = NULL
,@amount NUMERIC(20,10) = NULL
,@active BIT = 1
)
AS

DECLARE	@SUCCESS INT
DECLARE @EXCEPTION INT
DECLARE @TYPE nvarchar(50)

SELECT 	@SUCCESS = 0, @EXCEPTION = -1

SELECT
@TYPE = golden_key
FROM
accounting_transaction_ap_type trx_type
INNER JOIN accounting_transaction_ap trx ON trx_type.accounting_transaction_ap_type_id = trx.accounting_transaction_ap_type_id
WHERE
trx.accounting_transaction_ap_id = @accounting_transaction_id

BEGIN
DECLARE
@accountCategory NVARCHAR(100)

SET @accountCategory =
(
SELECT DISTINCT
ac.golden_key
FROM
accounting_company_account AS aca
INNER JOIN account_category AS ac
ON aca.account_category_id = ac.account_category_id
WHERE
aca.accounting_company_account_id = @accounting_company_account_id
AND ac.golden_key != 'AP'
)

DELETE atd
FROM
accounting_transaction_ap_distribution atd
INNER JOIN accounting_company_account AS aca
ON atd.accounting_company_account_id = aca.accounting_company_account_id
INNER JOIN account_category AS ac
ON aca.account_category_id = ac.account_category_id
WHERE
accounting_transaction_ap_id = @accounting_transaction_id
AND ac.golden_key NOT IN (@accountCategory,'AP')

IF (@accounting_transaction_distribution_id is null)
BEGIN
INSERT INTO accounting_transaction_ap_distribution
(
accounting_transaction_ap_id
,accounting_company_account_id
,amount
,is_debit
,active
)
VALUES
(
@accounting_transaction_id
,@accounting_company_account_id
,ABS(@amount)
,case @TYPE
WHEN 'BILL'		then 1
WHEN 'CREDIT' then 0
end
,@active
)

SET @accounting_transaction_distribution_id = @@IDENTITY

IF NOT EXISTS (SELECT * FROM accounting_transaction_ap_distribution WHERE accounting_transaction_ap_distribution_id = @accounting_transaction_distribution_id )
BEGIN
RETURN @EXCEPTION
END
END
ELSE
BEGIN
UPDATE 	accounting_transaction_ap_distribution
SET
accounting_transaction_ap_id = @accounting_transaction_id
,accounting_company_account_id = @accounting_company_account_id
,amount	= ABS(@amount)
,is_debit =
(
CASE @TYPE
WHEN 'BILL'   then 1
WHEN 'CREDIT' then 0
END
)
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE
accounting_transaction_ap_distribution_id = @accounting_transaction_distribution_id
END
END
/*
ELSE
BEGIN
--ar not implemented yet
END
*/

RETURN @SUCCESS
GO
