USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_taxonomy_classification_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa
DATE: 07/27/2011
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down taxonomy_classification
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_taxonomy_classification_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
taxonomy_classification_id
,taxonomy_classification_ud
FROM taxonomy_classification
ORDER BY taxonomy_classification_ud
--
RETURN @SP_SUCCESS
GO
