USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_diagnosis_code_include_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2013	eponomareff	1.1		added diagnosis_code_version_id to grid
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This stored procedure is used in the Incclude Codes grid of the Diagnosis Code Group form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_diagnosis_code_include_save]
(
@diagnosis_code_group_diagnosis_code_id     int = NULL   OUTPUT
,@diagnosis_code_group_id                    int = NULL
,@diagnosis_code_version_id              int = NULL
,@beginning_diagnosis_code_id                int = NULL
,@ending_diagnosis_code_id                   int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @diagnosis_code_group_diagnosis_code_id is Null
BEGIN
--- Create a new record
INSERT INTO diagnosis_code_group_diagnosis_code(
diagnosis_code_group_id
,diagnosis_code_version_id
,beginning_diagnosis_code_id
,ending_diagnosis_code_id
,effective_from
,effective_thru
,is_excluded
)
VALUES
(@diagnosis_code_group_id
,@diagnosis_code_version_id
,@beginning_diagnosis_code_id
,@ending_diagnosis_code_id
,@effective_from
,@effective_thru
,0
)
--
SET @diagnosis_code_group_diagnosis_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM diagnosis_code_group_diagnosis_code WHERE diagnosis_code_group_diagnosis_code_id = @diagnosis_code_group_diagnosis_code_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE diagnosis_code_group_diagnosis_code
SET
diagnosis_code_group_id                  = @diagnosis_code_group_id
,diagnosis_code_version_id                = @diagnosis_code_version_id
,beginning_diagnosis_code_id              = @beginning_diagnosis_code_id
,ending_diagnosis_code_id                 = @ending_diagnosis_code_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,is_excluded                              = 0
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE diagnosis_code_group_diagnosis_code_id = @diagnosis_code_group_diagnosis_code_id
END
--
RETURN @SP_SUCCESS
GO
