USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alias_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HIEN D NGUYEN
Date: Nov 18 2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/06/2005	Hien D Nguyen	1.1		Added deleting code for contact
01/11/2006	Hien D Nguyen	2.0		Add client and group
08/03/2006	HuyThan		2.1		Add agent
08/17/2006	HuyThan		2.2		Add brokerage
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an Alias for grid Aliases in form Aliases
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_alias_delete]
(
@alias_name 			nvarchar(50)=  NULL,
@alias_id               int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,

@ERROR_CANT_DELETE_MEMBER_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_PROVIDER_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_AGENT_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_BROKERAGE_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_CONTACT_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_CLIENT_NAME NVARCHAR(50),
@ERROR_CANT_DELETE_CLIENT_GROUP_NAME NVARCHAR(50),

@ERROR_NOT_EXIST_MEMBER_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_PROVIDER_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_AGENT_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_BROKERAGE_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_CONTACT_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_CLIENT_NAME NVARCHAR(50),
@ERROR_NOT_EXIST_CLIENT_GROUP_NAME NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,

@ERROR_CANT_DELETE_MEMBER_NAME	= '1589800016',
@ERROR_CANT_DELETE_PROVIDER_NAME	= '1589800017',
@ERROR_CANT_DELETE_AGENT_NAME	= '',
@ERROR_CANT_DELETE_BROKERAGE_NAME	= '',
@ERROR_CANT_DELETE_CONTACT_NAME	= '1589800018',
@ERROR_CANT_DELETE_CLIENT_NAME	= '1589800019',
@ERROR_CANT_DELETE_CLIENT_GROUP_NAME ='1589800020',
@ERROR_CANT_DELETE_PROVIDER_NAME	= '1589800021',

@ERROR_NOT_EXIST_MEMBER_NAME = '1589800022',
@ERROR_NOT_EXIST_PROVIDER_NAME = '1589800023',
@ERROR_NOT_EXIST_AGENT_NAME = '',
@ERROR_NOT_EXIST_BROKERAGE_NAME = '',
@ERROR_NOT_EXIST_CONTACT_NAME = '1589800024',
@ERROR_NOT_EXIST_CLIENT_NAME = '1589800025',
@ERROR_NOT_EXIST_CLIENT_GROUP_NAME = '1589800026'

-------------------------------------------------------------------------------------------
IF @alias_name ='MEMBER'
BEGIN
IF NOT EXISTS (SELECT * FROM member_name WHERE member_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_MEMBER_NAME)
END
ELSE
BEGIN
DELETE FROM member_name
WHERE member_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_MEMBER_NAME)
END
END
-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='PROVIDER'
BEGIN
IF NOT EXISTS (SELECT * FROM provider_name WHERE provider_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_PROVIDER_NAME)
END
ELSE
BEGIN
DELETE FROM provider_name
WHERE provider_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_PROVIDER_NAME)
END
END

-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='AGENT'
BEGIN
IF NOT EXISTS (SELECT * FROM agent_name WHERE agent_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_AGENT_NAME)
END
ELSE
BEGIN
DELETE FROM agent_name
WHERE agent_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_AGENT_NAME)
END
END

-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='BROKERAGE'
BEGIN
IF NOT EXISTS (SELECT * FROM agent_name WHERE agent_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_BROKERAGE_NAME)
END
ELSE
BEGIN
DELETE FROM agent_name
WHERE agent_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_BROKERAGE_NAME)
END
END

-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='CONTACT'
BEGIN
IF NOT EXISTS (SELECT * FROM contact_name WHERE contact_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CONTACT_NAME)
END
ELSE
BEGIN
DELETE FROM contact_name
WHERE contact_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_MEMBER_NAME)
END
END
-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='CLIENT'
BEGIN
IF NOT EXISTS (SELECT * FROM client_name WHERE client_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CLIENT_NAME)
END
ELSE
BEGIN
DELETE FROM client_name
WHERE client_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_CLIENT_NAME)
END

END
-------------------------------------------------------------------------------------------
ELSE IF  @alias_name ='GROUP'
BEGIN
IF NOT EXISTS (SELECT * FROM client_group_name WHERE client_group_name_id = @alias_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST_CLIENT_GROUP_NAME)
END
ELSE
BEGIN
DELETE FROM client_group_name
WHERE client_group_name_id = @alias_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_CLIENT_GROUP_NAME)
END
END
-------------------------------------------------------------------------------------------
RETURN @SP_SUCCESS
GO
