USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_invoices_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Apply Customer Payment amount to Invoices in grid on Customer Payment form.

NOTE:	   We allow a Customer Payment to apply $0 to a $0 Invoice in an Available status.
(Otherwise, a $0 Invoice would never be Paid.)

This is a differentsolution than that of RT-4650, which prevented
$0 application to any Invoice, even a $0 Invoice in Available status.

This will allow $0 application to any Invoice; but without throwing an error,
which was the issue in RT-4650.

For a record that exists in the database, if the amount is NULL,
this indicates that the "apply" has been unchecked. Hence, the line is deleted.

******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_invoices_save]
(
@accounting_transaction_ar_apply_to_id      INT = NULL OUTPUT
,@from_accounting_transaction_ar_id          INT = NULL
,@invoice_id                                 INT = NULL
,@amount                                     NUMERIC(20,10) = NULL
,@payment_date                               DATETIME = NULL
,@comment                                    NVARCHAR(300) = NULL
,@is_posted                                  BIT = NULL
,@active                                     BIT = 1
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1

-- Get the available status for the invoice and the unapplied amount
DECLARE @unapplied_amount NUMERIC(20,10);
DECLARE @available BIT;

SELECT
@unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT),
@available = dbo.fn_invoice_is_available(@invoice_id);

-- Inserting or updating?
IF @accounting_transaction_ar_apply_to_id IS NULL
-- INSERT
BEGIN
-- Verify the invoice is available to pay
IF @available = 1
BEGIN
--- Create a new ApplyTo record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id
,unapplied_amount
,amount
,[date]
,comment
,is_posted
,active
)
VALUES
(@from_accounting_transaction_ar_id--payment ID
,@invoice_id
,@unapplied_amount
,@amount
,@payment_date
,@comment
,@is_posted
,@active
)
IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
SET @accounting_transaction_ar_apply_to_id = @@IDENTITY
END
ELSE
-- Invoice is not available
RETURN @SP_EXCEPTION
END
ELSE
-- UPDATE
BEGIN

-- if an existing line has a NULL amount, this indicates the line is unapplied,
-- and should be deleted.
IF @amount IS NULL
BEGIN
DELETE accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
END

-- Make sure the new amount does not exceed the available
DECLARE @difference decimal
SELECT @difference = (@unapplied_amount + amount - @amount)
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @difference >= 0
BEGIN
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id = @from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id = @invoice_id
,unapplied_amount = @unapplied_amount
,amount	= @amount
,[date] = @payment_date
,comment = @comment
,is_posted = @is_posted
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
ELSE
RETURN @SP_EXCEPTION
END

-- Determine which status to set on the invoice based on the unapplied amount
DECLARE @invoice_status_id int
SELECT @unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT)

IF(@unapplied_amount = 0.0)
-- Set Invoice status to PAID
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'PAID'
ELSE
-- Set Invoice status to AVAILABLE
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'AVAILABLE'

-- Update the invoice status
UPDATE accounting_transaction_ar_invoice_detail
SET
accounting_invoice_status_id = @invoice_status_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ar_id = @invoice_id

--
RETURN @SP_SUCCESS
--
GO
