USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_invoice_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 04/08/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/08/2009 	David Slayton	1.0		Created from plx_find_payment_load
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
07/18/2009	David Slayton	1.2		Added @benefit_contract_id and @get_only_past_review_period_invoices inputs.
11/16/2011	ggutshall		1.3		Added returnset limitations
03/04/2014  jyoung			1.4		RT:7325 - Modified return set to return 0.0 for amount_due if invoice has a status of VOIDED.
01/27/2020	cknobloch		1.5		added enrollment id

--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is used to find Invoices (both Manual and Accounting Process generated)
--
REQUIREMENTS:
--
INPUTS:
@get_column_headers					BIT = 0
,@accounting_transaction_ar_ud 			NVARCHAR(100) = NULL
,@customer_id 							INT = NULL
,@accounting_invoice_status_id			INT = NULL
,@accounting_invoice_status_gk			NVARCHAR(50) = NULL
,@accounting_invoice_source_id			INT = NULL
,@accounting_company_id					INT = NULL
,@ar_accounting_company_account_id		INT = NULL
,@receivables_ar_id						INT = NULL
,@customer_payment_id					INT = NULL
,@amount_due_from						NUMERIC(20,10) = NULL
,@amount_due_thru						NUMERIC(20,10) = NULL
,@invoice_amount_from					NUMERIC(20,10) = NULL
,@invoice_amount_thru					NUMERIC(20,10) = NULL
,@due_date_from							DATETIME = NULL
,@due_date_thru							DATETIME = NULL
,@end_review_date_from					DATETIME = NULL
,@end_review_date_thru					DATETIME = NULL
,@invoice_date_from						DATETIME = NULL
,@invoice_date_thru						DATETIME = NULL
,@show_exact_match 		   				BIT = 0
,@benefit_contract_id					INT = NULL
,@get_only_past_review_period_invoices	BIT = 0
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_find_invoice_load]
(
@get_column_headers					BIT = 0
,@accounting_transaction_ar_ud 			NVARCHAR(100) = NULL
,@customer_id 							INT = NULL
,@accounting_invoice_status_id			INT = NULL
,@accounting_invoice_status_gk			NVARCHAR(50) = NULL
,@accounting_invoice_source_id			INT = NULL
,@accounting_company_id					INT = NULL
,@ar_accounting_company_account_id		INT = NULL
,@receivables_ar_id						INT = NULL
,@customer_payment_id					INT = NULL
,@amount_due_from						NUMERIC(20,10) = NULL
,@amount_due_thru						NUMERIC(20,10) = NULL
,@invoice_amount_from					NUMERIC(20,10) = NULL
,@invoice_amount_thru					NUMERIC(20,10) = NULL
,@due_date_from							DATETIME = NULL
,@due_date_thru							DATETIME = NULL
,@end_review_date_from					DATETIME = NULL
,@end_review_date_thru					DATETIME = NULL
,@invoice_date_from						DATETIME = NULL
,@invoice_date_thru						DATETIME = NULL
,@premium_period_from					DATETIME = NULL
,@premium_period_thru					DATETIME = NULL
,@show_exact_match 		   				BIT = 0
,@benefit_contract_id					INT = NULL
,@get_only_past_review_period_invoices	BIT = 0
,@family_eligibility_id					INT = NULL
-- reinsurance only
,@member_id								INT = NULL
,@claim_id								INT = NULL
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@SqlOrderBy	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
,@VoidedStatusID INT

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@SqlOrderBy = ''
,@Prefix	= ''
,@Suffix	= ''


IF @show_exact_match = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix =  ' LIKE N'''
SET @Suffix = '%'''
END

--accounting_transaction_ar_ud
IF @accounting_transaction_ar_ud IS NOT NULL AND @accounting_transaction_ar_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(accounting_transaction_ar.accounting_transaction_ar_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@accounting_transaction_ar_ud,@show_exact_match)  +  @Suffix
END

--@customer_id
IF( @customer_id IS NOT NULL AND @customer_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND customer.customer_id = ' +  CONVERT (NVARCHAR(10), @customer_id)
END

--@accounting_invoice_status_id
IF( @accounting_invoice_status_id IS NOT NULL AND @accounting_invoice_status_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_invoice_status.accounting_invoice_status_id = ' +  CONVERT (NVARCHAR(10), @accounting_invoice_status_id)
END

--@accounting_invoice_status_gk
IF( @accounting_invoice_status_gk IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(accounting_invoice_status.golden_key, '''') = ''' +  CONVERT (NVARCHAR(50), @accounting_invoice_status_gk) + ''''
END

--@accounting_invoice_source_id
IF( @accounting_invoice_source_id IS NOT NULL AND @accounting_invoice_source_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_invoice_source.accounting_invoice_source_id = ' +  CONVERT (NVARCHAR(10), @accounting_invoice_source_id)
END

--@accounting_company_id
IF( @accounting_company_id IS NOT NULL AND @accounting_company_id>0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ac.accounting_company_id = ' +  CONVERT (NVARCHAR(10), @accounting_company_id)
END

--@ar_accounting_company_account_id
IF( @ar_accounting_company_account_id IS NOT NULL AND @ar_accounting_company_account_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.ar_accounting_company_account_id = ' +  CONVERT (NVARCHAR(10), @ar_accounting_company_account_id)
END

--@receivables_ar_id
IF( @receivables_ar_id IS NOT NULL AND @receivables_ar_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ar_trans.accounting_transaction_ar_id = ' +  CONVERT (NVARCHAR(10), @receivables_ar_id)
END

--@customer_payment_id
IF( @customer_payment_id IS NOT NULL AND @customer_payment_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND cp_trans.accounting_transaction_ar_id = ' +  CONVERT (NVARCHAR(10), @customer_payment_id)
END

--@amount_due_from
IF( @amount_due_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL) >= ' +  CONVERT (NVARCHAR(23), @amount_due_from)
END

--@amount_due_thru
IF( @amount_due_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL) <= ' +  CONVERT (NVARCHAR(23), @amount_due_thru)
END

--@invoice_amount_from
IF( @invoice_amount_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar.transaction_amount >= ' +  CONVERT (NVARCHAR(23), @invoice_amount_from)
END

--@invoice_amount_thru
IF( @invoice_amount_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar.transaction_amount <= ' +  CONVERT (NVARCHAR(23), @invoice_amount_thru)
END

--@due_date_from
IF( @due_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.due_date >= ''' +  CONVERT (NVARCHAR(23), @due_date_from) + ''''
END

--@due_date_thru
IF( @due_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.due_date <= ''' +  CONVERT (NVARCHAR(23), @due_date_thru) + ''''
END

--@end_review_date_from
IF( @end_review_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.end_review_date >= ''' +  CONVERT (NVARCHAR(23), @end_review_date_from) + ''''
END

--@end_review_date_thru
IF( @end_review_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.end_review_date <= ''' +  CONVERT (NVARCHAR(23), @end_review_date_thru) + ''''
END

--@invoice_date_from
IF( @invoice_date_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.invoice_date >= ''' +  CONVERT (NVARCHAR(23), @invoice_date_from) + ''''
END

--@invoice_date_thru
IF( @invoice_date_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.invoice_date <= ''' +  CONVERT (NVARCHAR(23), @invoice_date_thru) + ''''
END

--@premium_period_from
IF( @premium_period_from IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND pp.effective_from >= ''' +  CONVERT (NVARCHAR(23), @premium_period_from) + ''''
END

--@premium_period_thru
IF( @premium_period_thru IS NOT NULL)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND pp.effective_thru <= ''' +  CONVERT (NVARCHAR(23), @premium_period_thru) + ''''
END

--@benefit_contract_id
IF( @benefit_contract_id IS NOT NULL AND @benefit_contract_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ar_trans.benefit_contract_id = ' +  CONVERT (NVARCHAR(10), @benefit_contract_id)
END

--@family_eligibility_id
IF( @family_eligibility_id IS NOT NULL AND @family_eligibility_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ar_trans.family_eligibility_id = ' +  CONVERT (NVARCHAR(10), @family_eligibility_id)
END

--@get_only_past_review_period_invoices
IF( @get_only_past_review_period_invoices = 1)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ((accounting_transaction_ar_invoice_detail.review_period IS NULL OR accounting_transaction_ar_invoice_detail.review_period = 0)'
SET @sqlCondition = @sqlCondition + ' OR (accounting_transaction_ar_invoice_detail.end_review_date IS NOT NULL AND accounting_transaction_ar_invoice_detail.end_review_date <= ''' + CONVERT (NVARCHAR(23), DATEADD(DAY, -1, GETDATE())) + '''))'
END

--@member_id
IF( @member_id IS NOT NULL AND @member_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND family_eligibility_member.member_id = ' +  CONVERT (NVARCHAR(10), @member_id)
END

--@claim_id
IF( @claim_id IS NOT NULL AND @claim_id > 0)
BEGIN
SET @sqlCondition = @sqlCondition + ' AND accounting_transaction_ar_invoice_detail.reinsurance_claim_id = ' +  CONVERT (NVARCHAR(10), @claim_id)
END



SET @SqlQuery =
' SELECT  DISTINCT TOP (dbo.fn_results_limit()) ' +
'		accounting_transaction_ar.accounting_transaction_ar_id, '+
'		accounting_transaction_ar.accounting_transaction_ar_ud, '+
'		accounting_transaction_ar.customer_id, '+
'		customer.customer_ud, '+
'		accounting_transaction_ar.accounting_company_id, '+
'		ac.accounting_company_ud, '+
'		aca.accounting_company_account_ud AS ar_accounting_company_account_ud, '+
'		accounting_transaction_ar_invoice_detail.accounting_invoice_status_id, '+
'		accounting_invoice_status.accounting_invoice_status_ud, '+
'		accounting_invoice_status.golden_key As accounting_invoice_status_gk, '+
'		accounting_transaction_ar_invoice_detail.accounting_invoice_source_id, '+
'		accounting_invoice_source.accounting_invoice_source_ud, '+
'		accounting_invoice_source.golden_key As accounting_invoice_source_gk, '+
'		accounting_transaction_ar.transaction_amount as invoice_amount,'+
'		CASE WHEN accounting_transaction_ar_invoice_detail.accounting_invoice_status_id = (SELECT accounting_invoice_status_id from  dbo.accounting_invoice_status where golden_key = ''VOIDED'') THEN 0.0 ELSE dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL) END AS amount_due,'+
'		accounting_transaction_ar_invoice_detail.invoice_date,'+
'		accounting_transaction_ar_invoice_detail.due_date,'+
'		accounting_transaction_ar_invoice_detail.end_review_date,'+
'		dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, null) AS member_name,'+
'		claim.claim_ud'+
' FROM 	' +
'		accounting_transaction_ar_invoice_detail ' +
'		LEFT JOIN accounting_transaction_ar '+
'			ON accounting_transaction_ar.accounting_transaction_ar_id = accounting_transaction_ar_invoice_detail.accounting_transaction_ar_id '+
'		LEFT JOIN customer '+
'			ON customer.customer_id = accounting_transaction_ar.customer_id '+
'		LEFT JOIN accounting_company_account As aca '+
'			ON accounting_transaction_ar_invoice_detail.ar_accounting_company_account_id = aca.accounting_company_account_id '+
'		LEFT JOIN accounting_company As ac '+
'			ON accounting_transaction_ar.accounting_company_id = ac.accounting_company_id '+
'		LEFT JOIN accounting_invoice_status  '+
'			ON accounting_transaction_ar_invoice_detail.accounting_invoice_status_id = accounting_invoice_status.accounting_invoice_status_id '+
'		LEFT OUTER JOIN accounting_invoice_source '+
'			ON accounting_transaction_ar_invoice_detail.accounting_invoice_source_id = accounting_invoice_source.accounting_invoice_source_id' +
'       LEFT JOIN accounting_transaction_ar_apply_to ar_apply_to' +
'           ON accounting_transaction_ar.accounting_transaction_ar_id = ar_apply_to.from_accounting_transaction_ar_id' +
'       LEFT JOIN accounting_transaction_ar as ar_trans' +
'           ON ar_apply_to.to_accounting_transaction_ar_id = ar_trans.accounting_transaction_ar_id' +
'       LEFT JOIN accounting_transaction_ar_apply_to cp_apply_to' +
'           ON accounting_transaction_ar.accounting_transaction_ar_id = cp_apply_to.to_accounting_transaction_ar_id' +
'       LEFT JOIN accounting_transaction_ar as cp_trans' +
'           ON cp_apply_to.from_accounting_transaction_ar_id = cp_trans.accounting_transaction_ar_id' +
'       LEFT JOIN accounting_transaction_ar_premium_detail atx_premium_detail' +
'           ON atx_premium_detail.accounting_transaction_ar_id = ar_trans.accounting_transaction_ar_id' +
'       LEFT JOIN premium_period as pp' +
'           ON pp.premium_period_id = atx_premium_detail.premium_period_id' +
'       LEFT JOIN family_eligibility_member ' +
'ON accounting_transaction_ar_invoice_detail.reinsurance_family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id' +
'       LEFT JOIN member_name ' +
'ON member_name.member_id = family_eligibility_member.member_id AND member_name.is_primary = 1' +
'       LEFT JOIN claim ' +
'ON accounting_transaction_ar_invoice_detail.reinsurance_claim_id = claim.claim_id'

SET @SqlOrderBy =
'	ORDER BY accounting_transaction_ar.accounting_transaction_ar_ud'

print @SqlQuery + @SqlCondition + @SqlOrderBy
EXEC(@SqlQuery + @SqlCondition + @SqlOrderBy)
IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
