USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_alternate_course_code_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 03/01/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to find alternate course code groups (or grouping definitions)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_find_alternate_course_code_group_load]
(
@get_column_headers			BIT = 0,
@alternate_course_code_group_ud nvarchar(50)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END
IF @alternate_course_code_group_ud IS NOT NULL AND @alternate_course_code_group_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(alternate_course_code_group_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@alternate_course_code_group_ud, @show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT  alternate_course_code_group_id
,alternate_course_code_group_ud
,description
FROM 	alternate_course_code_group
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
