USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_accumulator_carryover_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

create procedure [dbo].[plx_benefit_contract_period_accumulator_carryover_delete]
(
@benefit_contract_period_accumulator_carryover_id int = NULL
)
as
--
set nocount on
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
if not exists (select 1 from benefit_contract_period_accumulator_carryover
where benefit_contract_period_accumulator_carryover_id = @benefit_contract_period_accumulator_carryover_id )
begin
return @SP_EXCEPTION
end
--
else
begin
delete from benefit_contract_period_accumulator_carryover
where benefit_contract_period_accumulator_carryover_id = @benefit_contract_period_accumulator_carryover_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

end
--
return @SP_SUCCESS
--
GO
