USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reconciliation_config_bank_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reconciliation_config_bank_account_load_by_accounting_company] (
@accounting_company_id INT = NULL
)
AS
BEGIN
--
DECLARE @SP_SUCCESS INT = 0;

SELECT
bank_account_id AS customer_payment_bank_account_id,
bank_account_ud AS customer_payment_bank_account_ud

FROM bank_account ba
JOIN accounting_company_account aca
ON aca.accounting_company_account_id = ba.cash_accounting_company_account_id
JOIN account_status
ON account_status.account_status_id = aca.account_status_id

WHERE
(
@accounting_company_id IS NULL
OR
ba.accounting_company_id = @accounting_company_id
)
AND account_status.golden_key = 'Active'
AND ba.effective_from IS NOT NULL
AND (
ba.effective_thru IS NULL
OR
ba.effective_thru > getdate()
)
ORDER BY ba.bank_account_ud;

RETURN @SP_SUCCESS;
END
GO
