USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_refund_make_available]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Makes a Customer Refund available. Launched from cmdMakeAvailable on frmAccountingRefundAr.
NOTES:
Validates the Customer Refund is currently in an ENTERED status, otherwise returns error.
Validates that AR Transactions have been applied to the Customer Refund, otherwise returns error.
Sets the Custmer Refund status to AVAILABLE on the accounting_transaction_ar_refund_detail table.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_refund_make_available]
(
@accounting_transaction_ar_id	INT = NULL	-- Customer Refund ID
)
AS
--
--
SET NOCOUNT ON;

DECLARE @EnteredStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'ENTERED');
DECLARE @AvailableStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

-- validate status of Customer Refund is Entered
IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ar_refund_detail detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id
AND accounting_payment_status_id = @EnteredStatusId)
BEGIN
Return -1;
END

-- validate transactions have been added to Customer Refund
IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ar_apply_to apply
WHERE from_accounting_transaction_ar_id = @accounting_transaction_ar_id)
BEGIN
Return -1;
END

-- all ok, so update status
UPDATE accounting_transaction_ar_refund_detail
SET
accounting_payment_status_id     = @AvailableStatusId,
modified_user_name               = ORIGINAL_LOGIN(),
modified_date                    = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id;

RETURN 0
GO
