USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_delete]
(
@coverage_level_process_queue_id INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM coverage_level_process_queue WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id)
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
--Check if this coverage level process queue is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_coverage_level_process_queue_check_delete @coverage_level_process_queue_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Delete coverage level process queue children.
DELETE FROM coverage_level_process_queue_criteria
WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id

-- Get the schedule form id
DECLARE @schedule_form_id INT

SELECT @schedule_form_id = schedule_form_id
FROM coverage_level_process_queue
WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id

-- Delete the coverage level process queue.
DELETE FROM coverage_level_process_queue
WHERE coverage_level_process_queue_id = @coverage_level_process_queue_id

-- Delete the schedule for the coverage level process queue.
IF @schedule_form_id IS NOT NULL
BEGIN
DELETE FROM schedule_form
WHERE schedule_form_id = @schedule_form_id
END
END
--
RETURN @SP_SUCCESS
--
GO
