USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 09/07/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/08/2011	Chad Maddox	Created		Check coverage_incentive deletion
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
See if a coverage_incentive is in use
--
REQUIREMENTS:
--
INPUTS:
@id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_coverage_incentive_check_delete]
(
@id	int = 0
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

SET	@result	= @SP_DELETE_ABLE

IF EXISTS(
select 1
from benefit_plan bp
where
bp.coverage_incentive_id = @id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

RETURN @result
END
GO
