USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_modifier_detail_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
DATE: 1/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/10/2006     n8nguyen  1.0         Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Fee Schedule Modifier Information"
in Fee Schedule Modifier Table form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_fee_schedule_modifier_detail_save]

(
@fee_schedule_modifier_detail_id      int = NULL   OUTPUT
,@fee_schedule_modifier_id                   int = NULL
,@procedure_code_type_id                     int = NULL
,@starting_procedure_code_id                 int = NULL
,@ending_procedure_code_id                   int = NULL
,@modifier                                   nvarchar(50) = NULL
,@fs_description                             nvarchar(255) = NULL
,@fee_schedule_modifier_method_id            int = NULL
,@modifier_value                             numeric(20,10) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@pend_for_review                            bit = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159050006',
@ERROR_NOT_EXIST	= '159050007',
@ERROR_CANT_UPDATE 	= '159050008'
--
IF @fee_schedule_modifier_detail_id is Null
BEGIN

--- Create a new fee_schedule_modifier_detail record
INSERT INTO fee_schedule_modifier_detail(
fee_schedule_modifier_id
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,description
,fee_schedule_modifier_method_id
,modifier_value
,effective_from
,effective_thru
,pend_for_review
,active
)
VALUES
(@fee_schedule_modifier_id
,@procedure_code_type_id
,@starting_procedure_code_id
,@ending_procedure_code_id
,@modifier
,@fs_description
,@fee_schedule_modifier_method_id
,@modifier_value
,@effective_from
,@effective_thru
,@pend_for_review
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @fee_schedule_modifier_detail_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule_modifier_detail WHERE fee_schedule_modifier_detail_id = @fee_schedule_modifier_detail_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_modifier_detail record
UPDATE fee_schedule_modifier_detail
SET
fee_schedule_modifier_id           = @fee_schedule_modifier_id
,procedure_code_type_id                   = @procedure_code_type_id
,starting_procedure_code_id               = @starting_procedure_code_id
,ending_procedure_code_id                 = @ending_procedure_code_id
,modifier             = @modifier
,description                              = @fs_description
,fee_schedule_modifier_method_id          = @fee_schedule_modifier_method_id
,modifier_value                           = @modifier_value
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,pend_for_review                          = @pend_for_review
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_modifier_detail_id = @fee_schedule_modifier_detail_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
