USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_accounting_customer_payment_batch_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
03/28/2012  CKnobloch  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down Auto Create Customer Payment Batch ID Rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_auto_create_accounting_customer_payment_batch_id_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
auto_create_accounting_customer_payment_batch_id_rule_id
,auto_create_accounting_customer_payment_batch_id_rule_nm
,golden_key
FROM auto_create_accounting_customer_payment_batch_id_rule
ORDER BY auto_create_accounting_customer_payment_batch_id_rule_ud
--
RETURN @SP_SUCCESS
GO
