USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--HEADER_BEGIN;
--
--
--REVISION_HISTORY:
--
--Date  		Modified By		Version		Description
--------------------------------------------------------------------------------
--10/28/05  	PhongQTran		1.0
--10/30/05		ThanhNguyen
--03/01/2006    HungTNguyen     1.1			changed from tax_exempt_id to tax_exempt_number
--03/08/2006	Thuy Ha						created_date & modified_date use DB Server date
--03/09/2006	Thuy Ha						do not use tables telephone_number and internet_address
--08/11/2008	Jonathan McCoy	1.2			added accounting company col & removed include_finance_charge
--04/21/2009	David Slayton	1.3			Removed accounting company.
--03/28/2012	Aaron Mortensen	1.4			Added nsf_fee_amount
--05/09/2012	Aaron Mortensen 1.5			Fixed nsf_fee_amount not saving on insert new customer
--10/04/2012	Jeremy Hein					RT:3810 - NSF fee improperly rounding. Column non_sufficient_funds_fee was incorrectly set to numeric(18, 0)
--09/19/2014	schong			1.6			updated to save delivery route updated to the standard 19, 4 for storing currency.
--08/18/2014								RT:6046 Updated created/modified tombstone columns
--09/22/2014	eponomareff					RT:6823 changes to support Optimistic Concurrency.
--11/05/2014	jbernard					RT7403 : Removed redundent existence check
--------------------------------------------------------------------------------

DESCRIPTION:
Save custommer form

******************************/
CREATE PROCEDURE [dbo].[plx_customer_save] (
@customer_id INT = NULL OUTPUT
,@customer_bill_to_id INT = NULL OUTPUT
,@address_id INT = NULL OUTPUT
,@customer_ud NVARCHAR(100) = NULL
,@customer_nm NVARCHAR(200) = NULL
,@customer_vendor_type_id INT = NULL
,@currency_id INT = NULL
,@taxable BIT = NULL
,@tax_group_id INT = NULL
,@federal_ein NVARCHAR(100) = NULL
,@tax_exempt_number NVARCHAR(100) = NULL
,@customer_bill_to_nm NVARCHAR(100) = NULL
,@attention_nm NVARCHAR(100) = NULL
,@address_1 NVARCHAR(100) = NULL
,@address_2 NVARCHAR(100) = NULL
,@locale_id INT = NULL
,@delivery_route NVARCHAR(50) = NULL
,@phone_number NVARCHAR(50) = NULL
,@fax_number NVARCHAR(50) = NULL
,@internet_address NVARCHAR(256) = NULL
,@email_address NVARCHAR(256) = NULL
,@automatically_apply_overpayments BIT = 0
,@nsf_fee_amount NUMERIC(19, 4) = NULL
,@active BIT = NULL
,@object_row_version ROWVERSION = NULL OUTPUT --< concurrency check
)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@SP_EXCEPTION INT
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50)

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@ERROR_CANT_INSERT = ''
,@ERROR_CANT_UPDATE = ''
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'

--
-- output table to capture new rowversion
DECLARE @capture_row_version TABLE -- table variable
(new_row_version BINARY (8));

IF @customer_id IS NULL
BEGIN
--- Create a new record
IF (@customer_bill_to_nm IS NOT NULL)
OR (@attention_nm IS NOT NULL)
OR (@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@locale_id IS NOT NULL)
OR (@phone_number IS NOT NULL)
OR (@fax_number IS NOT NULL)
OR (@internet_address IS NOT NULL)
OR (@email_address IS NOT NULL)
BEGIN
IF (@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@locale_id IS NOT NULL)
BEGIN
INSERT INTO ADDRESS (
address_1
,address_2
,locale_id
,delivery_route
)
VALUES (
@address_1
,@address_2
,@locale_id
,@delivery_route
)

SET @address_id = @@IDENTITY
END

INSERT INTO customer_bill_to (
customer_bill_to_nm
,attention_nm
,address_id
,telephone_number
,fax_number
,email_address
,internet_address
,active
)
VALUES (
@customer_bill_to_nm
,@attention_nm
,@address_id
,@phone_number
,@fax_number
,@email_address
,@internet_address
,@active
)

--@created_date
SET @customer_bill_to_id = @@IDENTITY
END

INSERT INTO customer (
customer_ud
,customer_nm
,customer_vendor_type_id
,currency_id
,taxable
,tax_group_id
,federal_ein
,tax_exempt_number
,customer_bill_to_id
,automatically_apply_overpayments
,nsf_fee_amount
,active
)
OUTPUT inserted.object_row_version
INTO @capture_row_version
VALUES (
@customer_ud
,@customer_nm
,@customer_vendor_type_id -- HungAdded
,@currency_id
,@taxable
,@tax_group_id
,@federal_ein
,@tax_exempt_number
,@customer_bill_to_id
,@automatically_apply_overpayments
,@nsf_fee_amount
,@active
)

--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @object_row_version = (
SELECT new_row_version
FROM @capture_row_version
);
SET @customer_id = @@IDENTITY
END
ELSE
BEGIN -- BEGIN UPDATE BLOCK
-- Check Concurrency
DECLARE @concurrencyCheckResult INT

EXEC @concurrencyCheckResult = plx_customer_check_and_rev_row_version @customer_id
,@object_row_version

IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
RETURN @SP_EXCEPTION

IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END

-- End Check concurrency
IF (@address_id IS NULL)
AND (
(@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@locale_id IS NOT NULL)
)
BEGIN
INSERT INTO address (
address_1
,address_2
,locale_id
,active
,delivery_route
)
VALUES (
@address_1
,@address_2
,@locale_id
,@active
,@delivery_route
)

SET @address_id = @@IDENTITY
END
ELSE IF (@address_id IS NOT NULL)
BEGIN
UPDATE address
SET address_1 = @address_1
,address_2 = @address_2
,delivery_route = @delivery_route
,locale_id = @locale_id
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE address_id = @address_id
END

IF (@customer_bill_to_id IS NULL)
AND (
(@customer_bill_to_nm IS NOT NULL)
OR (@attention_nm IS NOT NULL)
OR (@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@locale_id IS NOT NULL)
OR (@phone_number IS NOT NULL)
OR (@fax_number IS NOT NULL)
OR (@internet_address IS NOT NULL)
OR (@email_address IS NOT NULL)
)
BEGIN
INSERT INTO customer_bill_to (
customer_bill_to_nm
,attention_nm
,address_id
,telephone_number
,fax_number
,email_address
,internet_address
,active
)
VALUES (
@customer_bill_to_nm
,@attention_nm
,@address_id
,@phone_number
,@fax_number
,@email_address
,@internet_address
,@active
)

SET @customer_bill_to_id = @@IDENTITY
END
ELSE IF (@customer_bill_to_id IS NOT NULL)
BEGIN
UPDATE customer_bill_to
SET customer_bill_to_nm = @customer_bill_to_nm
,attention_nm = @attention_nm
,address_id = @address_id
,telephone_number = @phone_number
,fax_number = @fax_number
,email_address = @email_address
,internet_address = @internet_address
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE customer_bill_to_id = @customer_bill_to_id
END

UPDATE customer
SET customer_ud = @customer_ud
,customer_nm = @customer_nm
,customer_vendor_type_id = @customer_vendor_type_id
,currency_id = @currency_id
,taxable = @taxable
,tax_group_id = @tax_group_id
,federal_ein = @federal_ein
,tax_exempt_number = @tax_exempt_number
,customer_bill_to_id = @customer_bill_to_id
,automatically_apply_overpayments = @automatically_apply_overpayments
,nsf_fee_amount = @nsf_fee_amount
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
OUTPUT inserted.object_row_version
INTO @capture_row_version
WHERE customer_id = @customer_id

DECLARE @ErrorVar INT

SELECT @ErrorVar = @@ERROR

SET @object_row_version = (
SELECT new_row_version
FROM @capture_row_version
);

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

--
RETURN @SP_SUCCESS
GO
