USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/03/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for capitation rate form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   07/28/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Capitation rate form save
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_rate_save]
(
@capitation_rate_id				int = NULL   OUTPUT
,@capitation_rate_ud			nvarchar(50) = NULL
,@description					nvarchar(255) = NULL
,@active						bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0
--

IF @capitation_rate_id is Null or @capitation_rate_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_rate(
capitation_rate_ud
,description
,active
)
VALUES
(@capitation_rate_ud
,@description
,@active
)
SET @capitation_rate_id = @@IDENTITY
END
ELSE
BEGIN
UPDATE capitation_rate
SET
capitation_rate_ud =		@capitation_rate_ud
,description =				@description
,active =					@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_rate_id = @capitation_rate_id

END
--
RETURN @SP_SUCCESS
--
GO
