USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_attachment_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:

This procedure is used to delete claim supplemental documentation rows
Form: All claim forms
Grid: Claim Supplemental Documentation
******************************/
CREATE PROCEDURE [dbo].[plx_claim_attachment_delete]
(
@claim_attachment_id INT
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM dbo.claim_attachment
WHERE claim_attachment_id = @claim_attachment_id

--
RETURN @SP_SUCCESS
GO
