USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_loan_applicant_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_loan_applicant_type_load]
AS
SET NOCOUNT ON

SELECT
gs.loan_applicant_type_id
,gs.loan_applicant_type_ud
,gs.golden_key
FROM loan_applicant_type gs
ORDER BY gs.loan_applicant_type_ud

RETURN 0
GO
