USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_rule_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006  1:24PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006    ThuyNgo   1.0             created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_depreciation_rule table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_depreciation_rule_save]
(
@commission_depreciation_rule_id            int = NULL   OUTPUT
,@commission_depreciation_agent_type_id      int = NULL
,@state_id                                   int = NULL
,@billing_type_id                            int = NULL
,@group_size_begin                           int = NULL
,@group_size_end                             int = NULL
,@premium_range_begin                        numeric(20,10) = NULL
,@premium_range_end                          numeric(20,10) = NULL
,@period_begin                               int = NULL
,@period_end                                 int = NULL
,@period_unit_month_year_id                  int = NULL
,@period_commission_percent                  numeric(20,10) = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @state_id = (SELECT MAX(state_id) + 1 FROM state)
SET @state_id = NULL

IF @commission_depreciation_rule_id is Null
BEGIN

--- Create a new commission_depreciation_rule record
INSERT INTO commission_depreciation_rule(
commission_depreciation_agent_type_id
,state_id
,billing_type_id
,group_size_begin
,group_size_end
,premium_range_begin
,premium_range_end
,period_begin
,period_end
,period_unit_month_year_id
,period_commission_percent
,active
)
VALUES
(@commission_depreciation_agent_type_id
,@state_id
,@billing_type_id
,@group_size_begin
,@group_size_end
,@premium_range_begin
,@premium_range_end
,@period_begin
,@period_end
,@period_unit_month_year_id
,@period_commission_percent
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_depreciation_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_depreciation_rule WHERE commission_depreciation_rule_id = @commission_depreciation_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_depreciation_rule record
UPDATE commission_depreciation_rule
SET
commission_depreciation_agent_type_id    = @commission_depreciation_agent_type_id
,state_id                                 = @state_id
,billing_type_id                          = @billing_type_id
,group_size_begin               = @group_size_begin
,group_size_end                           = @group_size_end
,premium_range_begin                      = @premium_range_begin
,premium_range_end                        = @premium_range_end
,period_begin                             = @period_begin
,period_end                               = @period_end
,period_unit_month_year_id                = @period_unit_month_year_id
,period_commission_percent                = @period_commission_percent
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_depreciation_rule_id = @commission_depreciation_rule_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
