USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_underwriting_document_code_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_underwriting_document_code_list_load]
AS
SET NOCOUNT ON

SELECT
udc.underwriting_document_code_id
,udc.underwriting_document_code_ud
,udc.description
FROM underwriting_document_code udc
ORDER BY udc.underwriting_document_code_ud

RETURN 0
GO
