USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_plx_update_check]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   PROCEDURE [dbo].[BIND_plx_update_check]
	(
	  @starting_check_number INT
	, @accounting_transaction_id BIND_zero_pay_check_accounting_transaction_table READONLY
	) 
AS

/*******************************************************************************
HEADER_BEGIN;
AUTHOR: Taran Cross
09/30/2015 - Created
REVISION HISTORY:
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/10/2015	Taran Cross		1.1			Modified to be utilized by zero check report. 
								Changed paramater to use custom table type to allow multiple values to be passed in.
								Created return of accounting_check_print_run_id to be used by report.
CURRENT VERSION: 
1.1
DESCRIPTION:
This procedure is used write custom check information to accounting transactions.
RETURN_VALUES:
accounting_check_print_run_id
HEADER_END;
*******************************************************************************/

--Setup Variables
DECLARE 
	@payment_status_ID INT
	, @check_print_run INT
	, @check_date DATETIME
	, @errMsg VARCHAR(MAX)
	, @return_value INT
	, @max_check_number INT

--Create temp tables
DECLARE @accounting_check_print_run AS TABLE
	(
	date_on_checks DATETIME
	, starting_check_number NVARCHAR (255)
	, report_id INT
	, reuse_check_numbers BIT
	, active BIT
	);

DECLARE @accounting_check_print_run_lookup AS TABLE 
	(
	accounting_check_print_run_lookup_id INT
	, check_number_lookup int
	);


DECLARE @transaction_check_number_offsets AS TABLE (accounting_company_id INT, check_number_offset INT IDENTITY(0, 1));

-- Use the auto-incrementing check_number_offset to determine check numbers for each transaction relative to @starting_check_number
INSERT INTO @transaction_check_number_offsets(accounting_company_id)
SELECT accounting_transaction_id
FROM @accounting_transaction_id
ORDER BY accounting_transaction_id;


SET @check_date = DATEADD(DAY, DATEDIFF(DAY, 0, GETDATE()), 0)
set @max_check_number = (@starting_check_number + (select max(check_number_offset) from @transaction_check_number_offsets))

--Get SQL ID of PAID payment status
SET @payment_status_ID = 
	(
	SELECT
		accounting_payment_status_id
	FROM
		accounting_payment_status
	WHERE
		golden_key = 'PAID'
	)

BEGIN TRANSACTION UPDATE_CHECK
	BEGIN TRY
		--Create check print entry and retrive the ID created
		INSERT INTO @accounting_check_print_run
			(
			date_on_checks
			, starting_check_number
			, report_id
			, reuse_check_numbers
			, active
			)
		SELECT top 1
			@check_date
			, @starting_check_number
			, ISNULL(report_id, 1)
			, 0
			, 1
		FROM
			report
		WHERE
			report_ud = 'Check RA Template'


		MERGE INTO accounting_check_print_run a USING @accounting_check_print_run acpr
			ON 1=0
		WHEN NOT MATCHED THEN
		INSERT
			(
			date_on_checks
			, starting_check_number
			, report_id
			, reuse_check_numbers
			, active
			)
		VALUES
			(
			acpr.date_on_checks
			, acpr.starting_check_number
			, acpr.report_id
			, acpr.reuse_check_numbers
			, acpr.active
			)
		OUTPUT 
			inserted.accounting_check_print_run_id
			, acpr.starting_check_number 
		INTO 
			@accounting_check_print_run_lookup;

		UPDATE atapd
		SET 
			check_date = @check_date
			, check_ach_reference = @starting_check_number + check_offsets.check_number_offset
			, atapd.accounting_payment_status_id = @payment_status_ID
		FROM
			accounting_transaction_ap_payment_detail atapd
		INNER JOIN accounting_transaction_ap ata
			ON atapd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
		INNER JOIN @transaction_check_number_offsets check_offsets
			ON ata.accounting_transaction_ap_id = check_offsets.accounting_company_id;


		UPDATE atapd
		SET
			accounting_check_print_run_id = acprl.accounting_check_print_run_lookup_id
		FROM
			accounting_transaction_ap_payment_detail atapd
		INNER JOIN accounting_transaction_ap ata
			ON atapd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
		INNER JOIN @accounting_check_print_run_lookup acprl
			ON atapd.check_ach_reference between acprl.check_number_lookup and @max_check_number
		WHERE 
			ata.accounting_transaction_ap_id IN
				(
				SELECT
					accounting_transaction_id
				FROM
					@accounting_transaction_id
				)
	END TRY
	BEGIN CATCH
		SELECT @errMsg = ERROR_MESSAGE() 
		RAISERROR(@errMsg, 16, 1)
		ROLLBACK TRANSACTION UPDATE_CHECK
		RETURN
	END CATCH
COMMIT TRANSACTION UPDATE_CHECK

SELECT 
	@return_value = accounting_check_print_run_lookup_id
FROM
	@accounting_check_print_run_lookup

RETURN @return_value

GO
