USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_additional_information_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
--
DESCRIPTION:
This procedure is used to update data for Additional Information grid on Advanced Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_family_eligibility_member_benefit_plan_additional_information_save]
(
@family_eligibility_member_benefit_plan_additional_information_id		int = NULL output,
@family_eligibility_member_benefit_plan_id									int = NULL,
@additional_information_id															int = NULL,
@additional_information_topic_id													int = NULL,
@additional_information_selection_value										nvarchar(300) = NULL,
@additional_information_value														nvarchar(300) = NULL,
@additional_information_raw_value												nvarchar(300) = NULL,
@effective_from																		datetime = NULL,
@effective_thru																		datetime = NULL,
@comment																					nvarchar(500) = NULL,
@is_new_value																			bit = NULL,
@active																					bit = NULL)
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

IF (@family_eligibility_member_benefit_plan_additional_information_id IS NULL)
BEGIN
INSERT INTO family_eligibility_member_benefit_plan_additional_information(
family_eligibility_member_benefit_plan_id
,additional_information_id
,additional_information_topic_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@additional_information_id
,@additional_information_topic_id
,CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,@effective_from
,@effective_thru
,@comment
,@active
)
IF @@ROWCOUNT <= 0 RETURN @SP_EXCEPTION

SET @family_eligibility_member_benefit_plan_additional_information_id = @@IDENTITY

END
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_member_benefit_plan_additional_information
SET
family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
,additional_information_id						= @additional_information_id
,additional_information_topic_id				= @additional_information_topic_id
,additional_information_selection_value		=
CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,additional_information_value					=
CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,effective_from										= @effective_from
,effective_thru										= @effective_thru
,comment												= @comment
,active												= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
family_eligibility_member_benefit_plan_additional_information_id = @family_eligibility_member_benefit_plan_additional_information_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
