USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_other_insurance_plan_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CrystalynKnobloch
Sept 1, 2011		   Initial generation
--
REVISION_HISTORY:
--
Date		   Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2011     CKnobloch     1.0             Create


CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Other Insurance Plans"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_cob_member_other_insurance_plan_list_load]

(
@cob_member_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@GovCom nvarchar(50) = NULL
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cm.cob_member_commercial_health_plan_id as cob_member_other_insurance_plan_id
,cm.cob_member_id

,s.sequence_ud
,'Com' as GovCom
,cm.insurance_plan_name as plan_name
,cm.insured_name
,cm.commercial_policy_holder_ud as policy_holder_ud
,cm.group_identifier

,benefit_category.benefit_category_ud
,cm.effective_from
,cm.effective_thru
,cm.modified_date

FROM cob_member_commercial_health_plan cm
left join cob_member  ON cob_member.cob_member_id = cm.cob_member_id
left join benefit_category  ON benefit_category.benefit_category_id = cm.benefit_category_id
LEFT JOIN sequence s ON s.sequence_id = cm.sequence_id

WHERE cm.cob_member_id = @cob_member_id

UNION

SELECT
gm.cob_member_governmental_health_plan_id as cob_member_other_health_plan_id
,gm.cob_member_id

,s.sequence_ud
,'Gov' as GovCom
,gh.government_health_plan_ud as plan_name
,gm.insured_name
,gm.governmental_policy_holder_ud as policy_holder_ud
,null

,benefit_category.benefit_category_ud
,gm.effective_from
,gm.effective_thru
,gm.modified_date

FROM cob_member_governmental_health_plan gm
left join cob_member  ON cob_member.cob_member_id = gm.cob_member_id
left join government_health_plan gh on gh.government_health_plan_id = gm.government_health_plan_id
left join benefit_category  ON benefit_category.benefit_category_id = gm.benefit_category_id
LEFT JOIN sequence s ON s.sequence_id = gm.sequence_id

WHERE gm.cob_member_id = @cob_member_id


ORDER BY
--effective_from desc, effective_thru asc, sequence asc, plan_name asc
effective_from DESC
,effective_thru ASC
,sequence_ud ASC
,plan_name ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
