USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_contact_name_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/14/2005        Anh Ta	               1.0 		Created
11/02/2005        Anh Ta	               1.2 		Get contact_nm from contact
11/03/2005        Anh Ta	               1.2 		Change name from plx_dd_member_contact_name_load to plx_dd_contact_name_load
11/03/2005        Anh Ta	               1.3  		use dbo.plx_ConcatenateName(contact.name_last,contact.name_first,contact.name_middle,NULL) AS contact_nm
11/21/2005        Anh Ta	               1.5  		Use New AS
12/29/2005        Anh Ta	               1.6  		Order by
01/06/2006	  Tinh do			1.7		Replace contact_type = alias_type
11/06/2014	eponomareff			1.8	   RT:7423 - Make parameterless stored procedures return column headers only.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single member_contact_association from the contact_association table.
--
REQUIREMENTS:
--
INPUTS:
contact_association_id - Key to contact_association table, identifies a single stored member_contact_association.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_contact_name_load]
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
'' as contact_id
,'' as contact_nm
WHERE 1 = 2

RETURN @SP_SUCCESS
--
END
--
GO
