USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_choice_list_is_in_used]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
DATE: 2006/02/20
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/03	Thuy Ha				Change: check Choice List is resolved at Benefit Contract, Benefit Plan, Episode, or FE
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check if an accumulator_choice_list is in used in other objects
--
REQUIREMENTS:
--
INPUTS:
@accumulator_choice_list_id
OUTPUTS:
--
RETURN_VALUES:
1	Is in-use
0	Not in-use
-1 	Exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_accumulator_choice_list_is_in_used]
(
@accumulator_choice_list_id		int = NULL
) AS
BEGIN
DECLARE    	@SP_IS_IN_USE   int
DECLARE 	@SP_NOT_IN_USE 	int
DECLARE 	@SP_EXCEPTION 	int

SET @SP_IS_IN_USE	= 1
SET @SP_NOT_IN_USE	= 0
SET @SP_EXCEPTION	= -1

-- Selected accumulator choice list does not exists, returns exception
IF NOT EXISTS (	SELECT 	accumulator_choice_list_id
FROM 	accumulator_choice_list
WHERE 	accumulator_choice_list_id = @accumulator_choice_list_id )
BEGIN
RETURN @SP_EXCEPTION
END
-- Selected accumulator choice list is resolved at a Family Eligibility
IF EXISTS (
SELECT 1
FROM family_eligibility_accumulator_choice_list_resolution feaclr
INNER JOIN accumulator_valid_choice avc ON avc.accumulator_valid_choice_id = feaclr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = feaclr.family_accumulator_valid_choice_id
WHERE avc.accumulator_choice_list_id  = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Selected accumulator choice list is resolved at a Benefit Contract
IF EXISTS (
SELECT	1
FROM	benefit_contract_accumulator_class_choice_resolution AS bcaccr
INNER JOIN accumulator_valid_choice AS avc
ON avc.accumulator_valid_choice_id = bcaccr.individual_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = bcaccr.family_accumulator_valid_choice_id
WHERE	avc.accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Selected accumulator choice list is resolved at a Benefit Plan
IF EXISTS (
SELECT 1
FROM benefit_plan_accumulator_class_choice_resolution bpaccr
INNER JOIN accumulator_valid_choice avc ON
bpaccr.individual_accumulator_valid_choice_id = avc.accumulator_valid_choice_id
OR bpaccr.family_accumulator_valid_choice_id = avc.accumulator_valid_choice_id
WHERE avc.accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Selected accumulator choice list is resolved at an Episode
IF EXISTS (
SELECT 1 FROM episode_accumulator_choice_list_resolution eaclr
INNER JOIN accumulator_valid_choice avc
ON avc.accumulator_valid_choice_id = eaclr.family_accumulator_valid_choice_id
OR avc.accumulator_valid_choice_id = eaclr.individual_accumulator_valid_choice_id
WHERE avc.accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END
-- Selected accumulator choice list is resolved at an Individual Eligibility
IF EXISTS (
SELECT 1 FROM individual_eligibility_accumulator_choice_list_resolution ieaclr
INNER JOIN accumulator_valid_choice avc
ON avc.accumulator_valid_choice_id = ieaclr.individual_accumulator_valid_choice_id
WHERE avc.accumulator_choice_list_id = @accumulator_choice_list_id
)
BEGIN
RETURN @SP_IS_IN_USE
END


RETURN @SP_NOT_IN_USE
END
GO
