USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_account_load_by_id]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 08/19/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2008/08/19	lrenard				created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
To load an accounting company account by its id.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_account_load_by_id]
(
@accounting_company_account_id	INT = null
)
AS


SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
acc.accounting_company_account_id
,acc.accounting_company_account_ud
,acc.account_status_id
,astat.account_status_ud
,acc.account_balance_type_id
,abt.account_balance_type_ud
,acc.account_category_id
,acat.account_category_ud
,acc.account_sub_category_id
,ascat.account_sub_category_ud
,acc.currency_id
,c.currency_ud
,acc.active
,acc.created_user_name
,acc.created_group_id
,acc.created_date
,acc.modified_date

FROM accounting_company_account AS acc
LEFT JOIN account_category acat ON acat.account_category_id = acc.account_category_id
LEFT JOIN account_sub_category ascat ON ascat.account_sub_category_id = acc.account_sub_category_id
LEFT JOIN account_status astat ON astat.account_status_id = acc.account_status_id
LEFT JOIN account_balance_type abt ON abt.account_balance_type_id = acc.account_balance_type_id
LEFT JOIN currency c ON c.currency_id = acc.currency_id

WHERE acc.accounting_company_account_id = ISNULL(@accounting_company_account_id, 0)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
