USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_possible_duplicate_claim_rule_field_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 01/07/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/07/2008	Vishwa Jella	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Duplicate Claim Field Criteria" on Possible Claim Rule Tab
in frmClaimDuplicateRules form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_duplicate_claim_rule_possible_duplicate_claim_rule_field_save]

(
@duplicate_claim_rule_duplicate_claim_rule_field_id  int=null OUTpUT
,@duplicate_claim_rule_id		             int = NULL
,@duplicate_claim_rule_field_id     		     int = NULL
,@use 						     bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT nvarchar(50),
@ERROR_NOT_EXIST nvarchar(50)

set @SP_SUCCESS = 0
set @SP_EXCEPTION = -1
set @ERROR_CANT_INSERT = '159020021'
set @ERROR_NOT_EXIST = '159020023'
--

IF @use =1
begin
If @duplicate_claim_rule_duplicate_claim_rule_field_id IS NULL  or @duplicate_claim_rule_duplicate_claim_rule_field_id = 0

BEGIN
--- Create a new record
INSERT INTO duplicate_claim_rule_duplicate_claim_rule_field(
duplicate_claim_rule_id
,duplicate_claim_rule_field_id
,is_possible_data
)
VALUES
(@duplicate_claim_rule_id
,@duplicate_claim_rule_field_id
,@use
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @duplicate_claim_rule_duplicate_claim_rule_field_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM duplicate_claim_rule_duplicate_claim_rule_field WHERE duplicate_claim_rule_duplicate_claim_rule_field_id = @duplicate_claim_rule_duplicate_claim_rule_field_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

end
else

begin
delete from duplicate_claim_rule_duplicate_claim_rule_field where duplicate_claim_rule_duplicate_claim_rule_field_id=@duplicate_claim_rule_duplicate_claim_rule_field_id
end
--
RETURN @SP_SUCCESS
--
GO
