USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_premium_individual_processing_get_enrollments]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/31/2016	eponomareff     1.0			RT:10282 - Created for Individual Billing
08/15/2016	eponomareff     1.1			RT:10802 - Pass in current datetime as input parameter

--
DESCRIPTION:

Used by Premium Billing Process Batch process

Gets enrollments that should have their premiums calculated.

Reduces trips to the database: The result set will provide the enrollment id's
plus the information necessary, so that the process can determine the appropriate
premium periods to create without going back to the database.

--
REQUIREMENTS:
--
INPUTS:

@benefit_contract_id int = null
@current_datetime datetime						<-- passes in current db date time or testing date time
(optional) @family_eligibility_id int = null	<-- used only with run me now for a single enrollment
--
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_dto_premium_individual_processing_get_enrollments]
(
@benefit_contract_id int
, @current_datetime datetime
, @family_eligibility_id int = null
)

AS

-- get benefit contract premium setup info
DECLARE @premium_setup_id int
DECLARE @days_before_due_date_to_calculate int
DECLARE @days_after_due_date_premium_coverage_starts int

-- get premium setup info necessary to figure out when next future premium periods starts
SELECT @premium_setup_id
= premium_setup_id
FROM benefit_contract WHERE benefit_contract_id = @benefit_contract_id

SELECT @days_before_due_date_to_calculate
= cycle_01_days_premium_review + cycle_02_days_invoice_review +
cycle_03_days_until_invoice_date + cycle_04_days_until_invoice_due_date
FROM premium_setup_individual_billing WHERE premium_setup_id = @premium_setup_id

-- SELECT @days_before_due_date_to_calculate as 'Days before Due Date to Calculate Premiums'

SELECT @days_after_due_date_premium_coverage_starts
= cycle_05_days_until_coverage_start
FROM premium_setup_individual_billing WHERE premium_setup_id = @premium_setup_id

-- SELECT @days_after_due_date_premium_coverage_starts as 'Days after Due Date to Start Coverage Period'

-- figure out the next period we are calculating for
DECLARE @days_ahead int
SET @days_ahead = @days_before_due_date_to_calculate + @days_after_due_date_premium_coverage_starts

DECLARE @next_coverage_start_date date
SET @next_coverage_start_date = DATEADD(dd, @days_ahead, @current_datetime)

-- BIG QUERY
-- Now get the enrollments with their latest premium periods
-- and current invoice settings (due day and frequency)
-- that DO NOT have their most recent premiums done
SELECT
fe.family_eligibility_id as individual_premium_enrollment_data
, fe.family_eligibility_id
, fe.family_eligibility_ud
, max(pp.effective_from) as last_premium_start_date
, max(pp.effective_thru) as last_premium_end_date
, fepidd.invoice_due_day
, f.golden_key as frequency_golden_key
, fe.effective_from as enrollment_effective_from
, fe.effective_thru as enrollment_effective_thru
from family_eligibility fe
left join family_eligibility_premium_invoice_due_day fepidd
on fe.family_eligibility_id = fepidd.family_eligibility_id
left join family_eligibility_premium_invoice_frequency fepif
on fe.family_eligibility_id = fepif.family_eligibility_id
left join frequency f
on fepif.frequency_id = f.frequency_id
left join premium_period pp
on pp.family_eligibility_id = fe.family_eligibility_id
where
-- if a single enrollment is provided, only that enrollment
(
@family_eligibility_id IS NULL
OR
fe.family_eligibility_id = @family_eligibility_id
)
and
-- only enrollments for this benefit contract
fe.benefit_contract_id = @benefit_contract_id
and
-- get current setting for enrollment invoice day
fepidd.effective_from <= @current_datetime and
(fepidd.effective_thru is null or fepidd.effective_thru >= @current_datetime)
and
-- get current setting for enrollment frequency
fepif.effective_from <= @current_datetime and
(fepif.effective_thru is null or fepif.effective_thru >= @current_datetime)
group by
fe.family_eligibility_id,
fe.family_eligibility_ud,
fepidd.invoice_due_day,
f.golden_key,
fe.effective_from,
fe.effective_thru
-- FILTER: include only enrollments with
--		(a) no premiums calculated (NULL) or
--		(b) most recent premiums before this cycle, and
--      (c) effective from dates within the time frame we're interested in
having
(
max(pp.effective_thru) is null
or
max(pp.effective_thru) <= @next_coverage_start_date
)
and
-- if a single enrollment is NOT provided, let's just get those enrollments
-- that are ready to be billed.
(
@family_eligibility_id IS NOT NULL
OR
fe.effective_from <= @next_coverage_start_date
)
GO
