USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_schedule_parameters_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE:   05/18/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for code depreciation parameters
REQUIREMENTS:
--
INPUTS:
code_depreciation_schedule_id
enable
payment_modification
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_code_depreciation_schedule_parameters_save]
(
@code_depreciation_schedule_id	int = NULL
,@type_of_claim					nvarchar (50) =  NULL
,@code_depreciation_enabled		bit = 0
,@payment_modification          bit = 0

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM code_depreciation_schedule WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
IF @type_of_claim = 'Professional'
BEGIN
UPDATE code_depreciation_schedule
SET
professional_enabled = @code_depreciation_enabled
,professional_payment_modification = @payment_modification
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
END
ELSE IF @type_of_claim = 'Institutional Outpatient'
BEGIN
UPDATE code_depreciation_schedule
SET
institutional_outpatient_enabled = @code_depreciation_enabled
,institutional_outpatient_payment_modification = @payment_modification
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
END
END

--
RETURN @SP_SUCCESS
--
GO
