USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_preX_condition_rule_set_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: t6nguyen
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	t6nguyen	1.0		Used to Benefit Contract Form
12/21/2007	Vishwa Jella	1.1		Updated Fields To Display Benefit Plan ID
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Verify PreX condition rule set for Benefit Setup Errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_verify_preX_condition_rule_set_id]
(
@benefit_contract_period_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT 	bcpbp.benefit_contract_period_benefit_plan_id, bcpbp.benefit_plan_id, benefit_plan.benefit_plan_ud
FROM 	benefit_contract_period_benefit_plan AS bcpbp INNER JOIN
benefit_plan ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
WHERE   (bcpbp.benefit_contract_period_id = @benefit_contract_period_id) AND (bcpbp.pre_existing_condition_rule_set_id IS NULL)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
