USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_debit_memo_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Save Customer Debit Memo form header data
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_debit_memo_save]
(
@accounting_transaction_ar_id   						INT = NULL OUTPUT -- This param must be first!
,@accounting_transaction_ar_debit_memo_detail_id 		INT = NULL OUTPUT
-- no ud, because it is auto-generated and may not be edited
,@customer_id                      		                INT
,@accounting_company_id                                 INT
,@accounting_company_account_id                         INT
,@transaction_date							            DATE
,@transaction_amount                                    NUMERIC(20, 10)
,@reference_number                                      NVARCHAR(100) = NULL
,@memo									                NVARCHAR(300) = NULL
,@accounting_debit_memo_status_id   		            INT = NULL
,@debit_memo_type_id                                    INT = NULL

-- reporting information (in base table accounting_transaction_ar)
,@client_id                                             INT = NULL
,@client_group_id                                       INT = NULL
,@benefit_contract_id                                   INT = NULL
,@benefit_plan_id                                       INT = NULL
,@family_eligibility_id                                 INT = NULL
,@coverage_period_start_date                            DATE = NULL
,@coverage_period_end_date                              DATE = NULL
-- reporting information (in detail table accounting_transaction_ar_debit_memo_detail)
,@legacy_member_identifier								NVARCHAR(50) = NULL
,@legacy_member_name									NVARCHAR(200) = NULL

) AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


DECLARE @accounting_transaction_ar_type_id INT

SELECT  @accounting_transaction_ar_type_id = accounting_transaction_ar_type_id
FROM    accounting_transaction_ar_type
WHERE   golden_key = 'AR_DEBIT_MEMO'

DECLARE @THIS_PROCEDURE_CREATED_THE_TRANSACTION BIT = 0
IF @@TRANCOUNT = 0
BEGIN
SET @THIS_PROCEDURE_CREATED_THE_TRANSACTION = 1
BEGIN TRANSACTION
END

IF @accounting_transaction_ar_debit_memo_detail_id IS NULL
BEGIN
-- Get the autogenerated Debit Memo UD
DECLARE @customer_debit_memo_ud NVARCHAR(100)
EXEC plx_auto_create_accounting_customer_payment_id_rule @customer_id, @customer_debit_memo_ud OUTPUT

INSERT INTO accounting_transaction_ar(
accounting_transaction_ar_ud
,customer_id
,accounting_company_id
,accounting_transaction_ar_type_id
,transaction_date
,transaction_amount
,client_id
,client_group_id
,benefit_contract_id
,benefit_plan_id
,family_eligibility_id
,coverage_period_start_date
,coverage_period_end_date
)
VALUES
(@customer_debit_memo_ud
,@customer_id
,@accounting_company_id
,@accounting_transaction_ar_type_id
,@transaction_date
,@transaction_amount
,@client_id
,@client_group_id
,@benefit_contract_id
,@benefit_plan_id
,@family_eligibility_id
,@coverage_period_start_date
,@coverage_period_end_date
)

SET @accounting_transaction_ar_id = @@IDENTITY

INSERT INTO accounting_transaction_ar_debit_memo_detail(
accounting_transaction_ar_id
,debit_memo_type_id
,debit_accounting_company_account_id
,reference_number
,memo
,accounting_debit_memo_status_id
,legacy_member_identifier
,legacy_member_name
)
VALUES
(@accounting_transaction_ar_id
,@debit_memo_type_id
,@accounting_company_account_id
,@reference_number
,@memo
,@accounting_debit_memo_status_id
,@legacy_member_identifier
,@legacy_member_name
)

SET @accounting_transaction_ar_debit_memo_detail_id = @@IDENTITY

----------------------------------------------
-- Create the distributions - this is the Debited Account
----------------------------------------------
INSERT INTO accounting_transaction_ar_distribution(
accounting_transaction_ar_id
,accounting_company_account_id
,is_debit
,amount
)
VALUES
(@accounting_transaction_ar_id
,@accounting_company_account_id
,1		--AR account is debited
,@transaction_amount
)

END
--
ELSE IF NOT EXISTS (
SELECT * FROM accounting_transaction_ar_debit_memo_detail detail
INNER JOIN accounting_transaction_ar ata
ON detail.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE detail.accounting_transaction_ar_id = @accounting_transaction_ar_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Update base table
UPDATE accounting_transaction_ar
SET
transaction_amount				   = @transaction_amount
,customer_id                       = @customer_id
,accounting_company_id             = @accounting_company_id
,transaction_date                  = @transaction_date
,client_id                         = @client_id
,client_group_id                   = @client_group_id
,benefit_contract_id               = @benefit_contract_id
,benefit_plan_id                   = @benefit_plan_id
,family_eligibility_id             = @family_eligibility_id
,coverage_period_start_date        = @coverage_period_start_date
,coverage_period_end_date          = @coverage_period_end_date
,modified_user_name                = ORIGINAL_LOGIN()
,modified_date                     = GETDATE()
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

-- Update payment details record
UPDATE accounting_transaction_ar_debit_memo_detail
SET
debit_memo_type_id                    = @debit_memo_type_id
,debit_accounting_company_account_id  = @accounting_company_account_id
,reference_number                     = @reference_number
,memo                                 = @memo
,accounting_debit_memo_status_id	  = @accounting_debit_memo_status_id
,legacy_member_identifier             = @legacy_member_identifier
,legacy_member_name                   = @legacy_member_name
,modified_user_name                   = ORIGINAL_LOGIN()
,modified_date                        = GETDATE()
WHERE accounting_transaction_ar_debit_memo_detail_id = @accounting_transaction_ar_debit_memo_detail_id

END

--
IF @THIS_PROCEDURE_CREATED_THE_TRANSACTION = 1
COMMIT TRANSACTION
--
RETURN @SP_SUCCESS
--
GO
