USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_standard_anesthesia_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
CREATED DATE: 10/20/2009
--
REVISION_HISTORY:
--
Date				Modified	By		Version		Description
--------------------------------------------------------------------------------
10/20/2009		cmaddox			1.0			Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down fee_schedule_standard_anesthesia_type for Standard Anesthesia Payment methods
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_fee_schedule_standard_anesthesia_type_load]

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
standard_anesthesia_type.standard_anesthesia_type_id
,standard_anesthesia_type.standard_anesthesia_type_ud
,golden_key
FROM standard_anesthesia_type
ORDER BY standard_anesthesia_type.standard_anesthesia_type_ud
--
RETURN @SP_SUCCESS
--
GO
