USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/07/2011		 Glenn Gutshall	  Created
--

DESCRIPTION:
Saves data for complex_duplicate_claim_rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_load]
(
@complex_duplicate_claim_rule_id INT = NULL
)

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
c.*,
crit.criteria_ud,
rc.result_code_ud as complex_result_code_ud,
rc.short_message as complex_result_code_desc
FROM
complex_duplicate_claim_rule c
INNER JOIN
claim_form_type toType on c.to_claim_form_type_id = toType.claim_form_type_id
INNER JOIN
claim_form_type fromType on c.from_claim_form_type_id = fromType.claim_form_type_id
LEFT JOIN
criteria crit ON crit.criteria_id = c.criteria_id
LEFT JOIN
result_code rc	on rc.result_code_id = c.complex_result_code_id
WHERE
@complex_duplicate_claim_rule_id IS NULL
OR
complex_duplicate_claim_rule_id = @complex_duplicate_claim_rule_id

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
