USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_find_load_by_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:HungTNguyen
Oct 12 2005 11:54AM   Initial generation
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
11/1/2005   HungTNguyen    1.0      Created
03/17/2009  W.Christensen  1.1      Added Client to results
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Get data from the benefit_plan table
This stored procedure is used in the Benefit Framework form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_find_load_by_id]
(
@benefit_plan_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
benefit_plan.benefit_plan_id,
benefit_plan.benefit_plan_ud,

benefit_framework.benefit_category_id,
benefit_category.benefit_category_ud,

benefit_sub_category.benefit_sub_category_ud,
benefit_framework.benefit_sub_category_id,

benefit_contract.benefit_contract_id,
benefit_contract.benefit_contract_ud,

benefit_contract.client_group_id,
client_group_name.client_group_ud,

client_group.client_id,
client_name.client_ud


FROM
benefit_plan
--LEFT JOIN product_line ON product_line.product_line_id = benefit_plan.product_line_id
--LEFT JOIN product ON product.product_id = benefit_plan.product_id
LEFT JOIN benefit_framework ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
LEFT JOIN benefit_category ON benefit_category.benefit_category_id = benefit_framework.benefit_category_id
LEFT JOIN benefit_sub_category ON benefit_sub_category.benefit_sub_category_id = benefit_framework.benefit_sub_category_id
LEFT JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
LEFT JOIN benefit_contract ON benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
LEFT JOIN client_group ON client_group.client_group_id = benefit_contract.client_group_id
--LEFT JOIN billing_type ON billing_type.billing_type_id = client_group.billing_type_id
LEFT JOIN client_group_name  ON ((client_group_name.client_group_id = client_group.client_group_id) AND (client_group_name.primary_name = 1))
LEFT JOIN client ON client_group.client_id = client.client_id
LEFT JOIN client_name  ON ((client_name.client_id = client.client_id) AND (client_name.primary_name = 1))

WHERE benefit_plan.benefit_plan_id = @benefit_plan_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
