USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_refund_post_refund]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Posts a Customer Refund. Launched from cmdPost on frmAccountingRefundAr.
NOTES:
Modeled after PostCustomerPayment service in Accounting.sln

Assumes that the apply_to rows have been validated and saved to database.

Updates the following fields for the apply-to's:
is_posted (bit) to true
posted_date to refund date
posted_user_name to user
modified_user_name to user
modified_date to current date/time

Update the Customer Refund status to PAID

How apply_to's work:
Refund / Transaction apply_to's:
==> FROM = The Refund
TO   = The AR transaction
unapplied_amount is the Transaction unapplied amount

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_refund_post_refund]
(
@accounting_transaction_ar_id	INT = NULL	-- Customer Refund ID ( = @from_accounting_transaction_ar_id)
)
AS
--
--
SET NOCOUNT ON;

DECLARE
@UNAPPLIED_AMOUNT NUMERIC(20,10),
@APPLIED_AMOUNT NUMERIC(20,10);

SELECT
@UNAPPLIED_AMOUNT = 0.0,
@APPLIED_AMOUNT = 0.0;
--
BEGIN TRANSACTION

-- Here we only update the is_posted bit and related fields.
-- Other fields (amount, comments) have already been updated on the save.
UPDATE accounting_transaction_ar_apply_to
SET
is_posted                      = 1,
posted_date                    = ata.transaction_date,
posted_user_name               = ORIGINAL_LOGIN(),
modified_user_name             = ORIGINAL_LOGIN(),
modified_date                  = GETDATE()
FROM accounting_transaction_ar_apply_to apply_to
JOIN accounting_transaction_ar ata
ON ata.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
WHERE
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
AND apply_to.amount IS NOT NULL
AND ISNULL(is_posted, 0) = 0;

-- If no updates were made, than return without updating status of Customer Refund.
IF @@ROWCOUNT <= 0
RETURN 0;

-- Set Paid Status on Refund
DECLARE @PAID_STATUS_ID INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'PAID');

UPDATE accounting_transaction_ar_refund_detail
SET accounting_payment_status_id = @PAID_STATUS_ID
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

IF @@ERROR > 0
BEGIN
ROLLBACK TRANSACTION
RETURN -1
END
ELSE
COMMIT TRANSACTION
--
RETURN 0
GO
