USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_auto_create_client_acronym_counter_member_ids]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: David Slayton
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------------------------
2009-11-03	David Slayton	1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
For each  member in family_eligibility_member for a family_eligibility auto generate the member's
id using the Client Acronym + Counter rule.

;
REQUIREMENTS	:
None
;
INPUTS		:
None
;
OUTPUTS		:
None
;
RETURN_VALUES	:
;
CALLED_PROCEDURES:
plx_get_next_member_id
plx_member_personal_id_save
None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_auto_create_client_acronym_counter_member_ids]
(
@family_eligibility_id INT
)
AS
BEGIN

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @client_acronym		NVARCHAR(25),
@member_id_type_id	INT,
@member_id			INT,
@member_ud			NVARCHAR(50)

-- Get the client acronym.
SELECT @client_acronym = c.client_acronym
FROM family_eligibility fe
INNER JOIN benefit_contract bc ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg ON bc.client_group_id = cg.client_group_id
INNER JOIN client c ON cg.client_id = c.client_id
WHERE fe.family_eligibility_id = @family_eligibility_id

-- Get the member_id_type_id corresponding to AUTO_GENERATED_ID.
SELECT @member_id_type_id = member_id_type_id
FROM member_id_type
WHERE golden_key = 'AUTO_GENERATED_ID'

DECLARE member_cursor CURSOR FOR
SELECT member_id
FROM family_eligibility_member
WHERE family_eligibility_id = @family_eligibility_id
ORDER BY member_id

OPEN member_cursor

FETCH NEXT FROM member_cursor
INTO @member_id

WHILE @@FETCH_STATUS = 0
BEGIN
IF NOT EXISTS
(
SELECT * FROM member_personal_id
WHERE member_id = @member_id
AND member_id_type_id = @member_id_type_id
)
BEGIN
EXECUTE dbo.plx_get_next_member_id @client_acronym, 'CLIENT_ACRONYM_COUNTER', @member_ud OUTPUT
EXECUTE dbo.plx_member_personal_id_save
@member_id = @member_id,
@member_id_type_id = @member_id_type_id,
@member_ud = @member_ud
END

FETCH NEXT FROM member_cursor
INTO @member_id
END

CLOSE member_cursor
DEALLOCATE member_cursor
END
GO
