USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 02/24/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/24/2010	David Slayton	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Benefit Waiting Periods grid
in Benefit Contract Advanced Plan Setup form and
Benefit Contract Template Advanced Plan Setup form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_benefit_waiting_period_id - Key to benefit_contract_period_benefit_plan_benefit_waiting_period table, identifies a single benefit_contract_period_benefit_plan_benefit_waiting_period,
@benefit_contract_period_benefit_plan_id
@criteria_id
@benefit_waiting_period_id
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_benefit_waiting_period_save]
(
@benefit_contract_period_benefit_plan_benefit_waiting_period_id	int = NULL OUTPUT
,@benefit_contract_period_benefit_plan_id    int = NULL
,@criteria_id                                int = NULL
,@benefit_waiting_period_id                 int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @benefit_contract_period_benefit_plan_benefit_waiting_period_id IS NULL
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan_benefit_waiting_period(
benefit_contract_period_benefit_plan_id
,criteria_id
,benefit_waiting_period_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@criteria_id
,@benefit_waiting_period_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_contract_period_benefit_plan_benefit_waiting_period_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_benefit_waiting_period WHERE benefit_contract_period_benefit_plan_benefit_waiting_period_id = @benefit_contract_period_benefit_plan_benefit_waiting_period_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract_period_benefit_plan_benefit_waiting_period
SET
benefit_contract_period_benefit_plan_id		= @benefit_contract_period_benefit_plan_id
,criteria_id									= @criteria_id
,benefit_waiting_period_id					= @benefit_waiting_period_id
,effective_from								= @effective_from
,effective_thru								= @effective_thru
,active										= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_benefit_plan_benefit_waiting_period_id = @benefit_contract_period_benefit_plan_benefit_waiting_period_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
