USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_age_calculation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
3/19/12
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_age_calculation_rule (premium Age Calculation Rule)
--
REQUIREMENTS:
--
INPUTS:
billing_rule_id - Key to billing_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_premium_age_calculation_rule_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
premium_age_calculation_rule.premium_age_calculation_rule_id
,premium_age_calculation_rule.premium_age_calculation_rule_ud
,premium_age_calculation_rule.golden_key

FROM dbo.premium_age_calculation_rule
ORDER BY premium_age_calculation_rule.premium_age_calculation_rule_ud
--
RETURN @SP_SUCCESS
GO
