USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_cascade_term]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 08/09/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Used to terminate a Client or Group and child objects:
Client customer/vendor assignemnts
Group (for client) - effective thru and termination reason
Group customer/vendor assignemnts
Benfit Contract - effective thru and benefit termination reason
Benfit Contract Period - effective thru and benefit termination reason
Enrollment - effective thru and family eligibility termination reason
(plus Never Under Coverage if term date is earlier than eff date)
Eligibility - effective thru and family eligibility termination reason
(plus Never Under Coverage if term date is earlier than eff date)

Called by either:
a) frmClientCascadeTermination - which is launched from the "Cascade Term" button on the Client Form
or
b) frmGroupCascadeTermination - which is launched from the "Cascade Term" button on the Group Form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_group_cascade_term]
(
@effective_thru									datetime = null
-- CLIENT / GROUP INFO
,@client_id											int = NULL
,@client_group_id									int = NULL
,@termination_reason_id								int = NULL
-- BENEFIT CONTRACT / BENEFIT CONTRACT PERIOD INFO
,@benefit_termination_reason_id						int = NULL
-- ENROLLMENT / ELIGIBILITY INFO
,@family_eligibility_termination_reason_id			int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Validation: make sure there is an effective thru date given
IF ISNULL(@effective_thru,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Determine: whether this if for a client or group
IF ISNULL(@client_group_id,0) = 0
-- since client_group_id was not given, this must be for a client
BEGIN
-- Check to see if client exists
IF ISNULL(@client_id,0) = 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Term the Client (unless already termed)
UPDATE client
SET
effective_thru = @effective_thru,
termination_reason_id = @termination_reason_id
WHERE
client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all Customer Assignemnts for client (unless already termed)
UPDATE client_customer
SET
effective_thru = @effective_thru
WHERE
client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all Vendor Assignemnts for client (unless already termed)
UPDATE client_vendor
SET
effective_thru = @effective_thru
WHERE
client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all the Groups for that Client (unless already termed)
UPDATE client_group
SET
effective_thru = @effective_thru,
termination_reason_id = @termination_reason_id
WHERE
client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all the Benefit Contracts for that Client
UPDATE benefit_contract
SET
effective_thru = @effective_thru,
benefit_termination_reason_id = @benefit_termination_reason_id
FROM benefit_contract bc
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(bc.effective_thru, '9999-12-31') > @effective_thru

-- Term all the Benefit Periods for that Client
UPDATE benefit_contract_period
SET
effective_thru = @effective_thru,
benefit_termination_reason_id = @benefit_termination_reason_id,
-- this field is set when benefit period is termed from UI
locked_from_use = 1
FROM benefit_contract_period bcp
INNER JOIN benefit_contract bc
ON bcp.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(bcp.effective_thru, '9999-12-31') > @effective_thru

-- Term all the Enrollments for that Client
UPDATE family_eligibility
SET
effective_thru = @effective_thru,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
FROM family_eligibility fe
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(fe.effective_thru, '9999-12-31') > @effective_thru
AND
-- ignore never under coverage enrollments
ISNULL(fe.never_under_coverage,0) = 0
AND
-- ignore enrollments that are effective starting after the proposed effective thru date
fe.effective_from <= @effective_thru

-- Set Never Under Coverage for all the Enrollments for that Client that have effective from dates in future
UPDATE family_eligibility
SET
effective_thru = fe.effective_from,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id,
never_under_coverage = 1
FROM family_eligibility fe
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- enrollments that are effective starting after the proposed effective thru date
fe.effective_from > @effective_thru
AND
-- ignore never under coverage enrollments
ISNULL(fe.never_under_coverage,0) = 0

-- Term all the Eligibilities for that Client
UPDATE family_eligibility_member_benefit_plan
SET
effective_thru = @effective_thru,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON  fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(fembp.effective_thru, '9999-12-31') > @effective_thru
AND
-- ignore never under coverage eligibilities
ISNULL(fembp.never_under_coverage,0) = 0
AND
-- ignore eligibilities that are effective starting after the proposed effective thru date
fembp.effective_from <= @effective_thru

-- Set Never Under Coverage for all the Eligibilities for that Client that are effective starting after the proposed effective thru date
UPDATE family_eligibility_member_benefit_plan
SET
effective_thru = fembp.effective_from,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id,
never_under_coverage = 1
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON  fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = @client_id
AND
-- eligibilities that are effective starting after the proposed effective thru date
fembp.effective_from > @effective_thru
AND
-- ignore never under coverage eligibilities
ISNULL(fembp.never_under_coverage,0) = 0

END
-- If we are terming a group, the SQL is the same, except that it does not go up to the client level
ELSE
-- This is just for a single Group (not a Client)
BEGIN
-- Term the Group (unless already termed)
UPDATE client_group
SET
effective_thru = @effective_thru,
termination_reason_id = @termination_reason_id
WHERE
client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all Customer Assignments for group (unless already termed)
UPDATE client_group_customer
SET
effective_thru = @effective_thru
WHERE
client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all Vendor Assignments for group (unless already termed)
UPDATE client_group_vendor
SET
effective_thru = @effective_thru
WHERE
client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(effective_thru, '9999-12-31') > @effective_thru

-- Term all the Benefit Contracts for that Group
UPDATE benefit_contract
SET
effective_thru = @effective_thru,
benefit_termination_reason_id = @benefit_termination_reason_id
FROM benefit_contract bc
WHERE
bc.client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(bc.effective_thru, '9999-12-31') > @effective_thru

-- Term all the Benefit Periods for that Group
UPDATE benefit_contract_period
SET
effective_thru = @effective_thru,
benefit_termination_reason_id = @benefit_termination_reason_id,
-- this field is set when benefit period is termed from UI
locked_from_use = 1
FROM benefit_contract_period bcp
INNER JOIN benefit_contract bc
ON bcp.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(bcp.effective_thru, '9999-12-31') > @effective_thru

-- Term all the Enrollments for that Group
UPDATE family_eligibility
SET
effective_thru = @effective_thru,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
FROM family_eligibility fe
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(fe.effective_thru, '9999-12-31') > @effective_thru
AND
-- ignore never under coverage enrollments
ISNULL(fe.never_under_coverage,0) = 0
AND
-- ignore enrollments that are effective starting after the proposed effective thru date
fe.effective_from <= @effective_thru

-- Set Never Under Coverage for all the Enrollments for that Group that have effective from dates in future
UPDATE family_eligibility
SET
effective_thru = fe.effective_from,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id,
never_under_coverage = 1
FROM family_eligibility fe
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = @client_group_id
AND
-- enrollments that are effective starting after the proposed effective thru date
fe.effective_from > @effective_thru
AND
-- ignore never under coverage enrollments
ISNULL(fe.never_under_coverage,0) = 0

-- Term all the Eligibilities for that Group
UPDATE family_eligibility_member_benefit_plan
SET
effective_thru = @effective_thru,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON  fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = @client_group_id
AND
-- don't term if effective thru date is already there and earlier than the configured @effective_thru
ISNULL(fembp.effective_thru, '9999-12-31') > @effective_thru
AND
-- ignore never under coverage eligibilities
ISNULL(fembp.never_under_coverage,0) = 0
AND
-- ignore eligibilities that are effective starting after the proposed effective thru date
fembp.effective_from <= @effective_thru

-- Set Never Under Coverage for all the Eligibilities for that Group that are effective starting after the proposed effective thru date
UPDATE family_eligibility_member_benefit_plan
SET
effective_thru = fembp.effective_from,
family_eligibility_termination_reason_id = @family_eligibility_termination_reason_id,
never_under_coverage = 1
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON  fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = @client_group_id
AND
-- eligibilities that are effective starting after the proposed effective thru date
fembp.effective_from > @effective_thru
AND
-- ignore never under coverage eligibilities
ISNULL(fembp.never_under_coverage,0) = 0

END

IF (@@ERROR <> 0)
RETURN @SP_EXCEPTION
--
RETURN @SP_SUCCESS
--
GO
