USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_professional_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thang Nguyen
Date: 09/01/2005
--
REVISION_HISTORY:
--
Date  Modified By  Version  Description
--------------------------------------------------------------------------------
09/01/2005  Thang Nguyen    1.0             Created
12/05/2005  Anh Ta       1.1             Change claim_line_status to adjudication_status
03/08/2006 Thuy Ha   1.2  Created_date & modified date use DB Server date
07/25/2006  Anh Ta       2.0             Added Error Msg
03/23/2009 David Slayton 2.1   Added ndc, comment, and npi_provider_identifier_id columns.
07/29/2009 Vishwa   3.0   updated with _id fields for procedure codes
08/18/2014 - RT:6046 Updated created/modified tombstone columns
11/13/2017	eponomareff		RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT' on claim_procedure inserts
07/16/2018	dcannon	3.3		RT:13109 add NDC unit of measure and quantity
07/26/2018  amortensen 3.4  RT:13109/13110 - Adding NDC Validation Rules
09/11/2022	dcannon		3.5	RT:20902 Added QPA fields
--
CURRENT_VERSION: 3.5
--
DESCRIPTION:
This procedure is used to update claim procedure data for professional claim form
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_procedure_professional_save]
(
@claim_procedure_id				int = NULL   OUTPUT
,@professional_claim_id			int
,@service_from_date				datetime = NULL
,@service_thru_date				datetime = NULL
,@place_of_service_id			int = NULL
,@type_of_service_id			int = NULL
,@procedure_code_ud				nvarchar(50) = NULL
,@procedure_code_id				int = NULL
,@modifiers						nvarchar(100) = NULL
,@diagnosis_sequence			nvarchar(100) = NULL
,@charge						numeric(19,4) = NULL
,@units							numeric(19,4) = NULL
,@original_line_amount			numeric(19,4) = NULL
,@visits						int = NULL
,@cob							bit = NULL
,@early_periodic_screen			bit = NULL
,@emergency						bit = NULL
,@relative_value_units			numeric(19,4) = NULL
,@repricing_amount				numeric(19,4) = NULL
,@cob_amount					numeric(19,4) = NULL
,@add_cob_amount				bit = NULL
,@other_cob						numeric(19,4) = NULL
,@add_other_cob					bit = NULL
,@npi_provider_identifier_id	int = NULL
,@adjudication_status_id		int = NULL
,@ndc_procedure_code_id			int = NULL
,@ndc_procedure_code_ud     	nvarchar(50) = NULL
,@ndc_quantity					numeric(19,4) = NULL
,@ndc_unit_of_measure_id		int = NULL
,@comment						nvarchar(300) = NULL
,@unlisted_procedure_code_description           nvarchar(300) = NULL
,@local_use						nvarchar(300) = NULL
,@claim_line_sequence			int = NULL
,@npi_rendering_provider_identifier_ud			nvarchar(128)= NULL
,@other_rendering_provider_identifier_ud		nvarchar(128)= NULL
,@other_rendering_provider_identifier_type_ud	nvarchar(128)= NULL
,@rendering_provider_taxonomy_code				nvarchar(50) = NULL
,@clean_date					datetime = NULL
,@received_date					datetime = NULL
,@active						bit = NULL
,@claim_procedure_qualified_payment_amount_id	int = NULL
,@qualified_payment_amount		numeric(19,4) NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT  NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_UPDATE  NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT  = '159840011',
@ERROR_NOT_EXIST = '159840012',
@ERROR_CANT_UPDATE  = '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

-- RT:11929 - Set original_source_gk to 'QC_THICK_CLIENT'
DECLARE @Original_Source_USER_INTERFACE_GK NVARCHAR(50)
SET @Original_Source_USER_INTERFACE_GK = 'QC_THICK_CLIENT'

declare @claim_id int
set @claim_id = (select top 1 claim_id from professional_claim where professional_claim.professional_claim_id = @professional_claim_id)

IF (@claim_procedure_id is Null ) or  (@claim_procedure_id =0 )
BEGIN
--- Create a new record
INSERT INTO claim_procedure(
claim_id
,service_from_date
,service_thru_date
,place_of_service_id
,type_of_service_id
,procedure_code_ud
,procedure_code_id
,modifiers
,diagnosis_sequence
,charge
,units
,original_line_amount
,visits
,cob
,early_periodic_screen
,emergency
,relative_value_units
,repricing_amount
,cob_amount
,add_cob_amount
,other_cob
,add_other_cob
,npi_provider_identifier_id
,ndc_procedure_code_id
,ndc
,ndc_quantity
,ndc_unit_of_measure_id
,comment
,unlisted_procedure_code_description
,local_use
,claim_line_sequence
,npi_rendering_provider_identifier_ud
,other_rendering_provider_identifier_ud
,other_rendering_provider_identifier_type_ud
,rendering_provider_taxonomy_code
,clean_date
,received_date
,original_source_gk
,active
)
VALUES
(@claim_id
,@service_from_date
,@service_thru_date
,@place_of_service_id
,@type_of_service_id
,@procedure_code_ud
,@procedure_code_id
,@modifiers
,@diagnosis_sequence
,@charge
,@units
,@original_line_amount
,@visits
,@cob
,@early_periodic_screen
,@emergency
,@relative_value_units
,@repricing_amount
,@cob_amount
,@add_cob_amount
,@other_cob
,@add_other_cob
,@npi_provider_identifier_id
,@ndc_procedure_code_id
,@ndc_procedure_code_ud
,@ndc_quantity
,@ndc_unit_of_measure_id
,@comment
,@unlisted_procedure_code_description
,@local_use
,@claim_line_sequence
,@npi_rendering_provider_identifier_ud
,@other_rendering_provider_identifier_ud
,@other_rendering_provider_identifier_type_ud
,@rendering_provider_taxonomy_code
,@clean_date
,@received_date
,@Original_Source_USER_INTERFACE_GK
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @claim_procedure_id = @@IDENTITY
END
--
ELSE IF NOT EXISTS (SELECT * FROM claim_procedure WHERE claim_procedure_id = @claim_procedure_id )
BEGIN
--     RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)

-- Don't check it now, cause of the duplicated by using PX, DX code
RETURN @SP_SUCCESS
-- RETURN @SP_EXCEPTION

END
ELSE
BEGIN
--

DECLARE @ErrorVar int, @RowCountVar int

UPDATE claim_procedure
SET
claim_id										= @claim_id
,service_from_date								= @service_from_date
,service_thru_date								= @service_thru_date
,place_of_service_id							= @place_of_service_id
,type_of_service_id								= @type_of_service_id
,procedure_code_ud								= @procedure_code_ud
,procedure_code_id								= @procedure_code_id
,modifiers										= @modifiers
,diagnosis_sequence								= @diagnosis_sequence
,charge											= @charge
,units											= @units
,original_line_amount							= @original_line_amount
,visits											= @visits
,cob											= @cob
,early_periodic_screen							= @early_periodic_screen
,emergency										= @emergency
,relative_value_units							= @relative_value_units
,repricing_amount								= @repricing_amount
,cob_amount										= @cob_amount
,add_cob_amount									= @add_cob_amount
,other_cob										= @other_cob
,add_other_cob									= @add_other_cob
,npi_provider_identifier_id						= @npi_provider_identifier_id
,ndc_procedure_code_id							= @ndc_procedure_code_id
,ndc											= @ndc_procedure_code_ud
,ndc_quantity									= @ndc_quantity
,ndc_unit_of_measure_id							= @ndc_unit_of_measure_id
,comment										= @comment
,unlisted_procedure_code_description            = @unlisted_procedure_code_description
,local_use										= @local_use
,claim_line_sequence							= @claim_line_sequence
,npi_rendering_provider_identifier_ud			= @npi_rendering_provider_identifier_ud
,other_rendering_provider_identifier_ud			= @other_rendering_provider_identifier_ud
,other_rendering_provider_identifier_type_ud	= @other_rendering_provider_identifier_type_ud
,rendering_provider_taxonomy_code				= @rendering_provider_taxonomy_code
,clean_date										= @clean_date
,received_date									= @received_date
,active											= @active
,modified_user_name								= ORIGINAL_LOGIN()
,modified_date									= GETDATE()

WHERE claim_procedure_id = @claim_procedure_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
IF (@claim_procedure_qualified_payment_amount_id IS NOT NULL OR @qualified_payment_amount IS NOT NULL)
BEGIN
EXEC [plx_claim_procedure_qualified_payment_amount_save] @claim_procedure_qualified_payment_amount_id, @claim_procedure_id, @qualified_payment_amount
END

--
RETURN @SP_SUCCESS
--
GO
