USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_agent_limit_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:41PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the commission_advance_agent_limit table.
--
REQUIREMENTS:
--
INPUTS:
@commission_advance_agent_limit_id - Key to commission_advance_agent_limit table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_commission_advance_agent_limit_delete]
(
@commission_advance_agent_limit_id          int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM commission_advance_agent_limit WHERE commission_advance_agent_limit_id = @commission_advance_agent_limit_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM commission_advance_agent_limit
WHERE commission_advance_agent_limit_id = @commission_advance_agent_limit_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
