USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_claim_payment_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/28/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/28/2008	David Slayton	1.0			Created
07/18/2008	David Slayton	1.1			Renamed table from claim_payment_vendor_account_assignment
to account_assignment_claim_payment
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdCPAccountAssignment on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_account_assignment_claim_payment_load]
(
@criteria_id INT = NULL
,@benefit_plan_id INT = NULL
,@product_id INT = NULL
,@provider_identifier_id INT = NULL
,@client_id  INT = NULL
,@accounting_company_id INT = NULL
,@ap_accounting_company_account_id INT = NULL
,@expense_accounting_company_account_id INT = NULL
,@show_only_current_cp	bit = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT  DISTINCT
aacp.account_assignment_claim_payment_id
,aacp.criteria_id
,c.criteria_ud
,aacp.benefit_plan_id
,bp.benefit_plan_ud
,aacp.product_id
,p.product_ud
,aacp.provider_identifier_id
,prov.provider_ud
,aacp.client_id
,cn.client_ud
,client.accounting_company_id
,ac.accounting_company_ud
,aacp.ap_accounting_company_account_id
,aca_ap.accounting_company_account_ud AS ap_accounting_company_account_ud
,aacp.expense_accounting_company_account_id
,aca_exp.accounting_company_account_ud AS expense_accounting_company_account_ud
,aacp.effective_from
,aacp.effective_thru
,aacp.modified_date
FROM dbo.account_assignment_claim_payment aacp
LEFT JOIN criteria c ON aacp.criteria_id = c.criteria_id
LEFT JOIN benefit_plan bp ON aacp.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN product p ON aacp.product_id = p.product_id
LEFT JOIN provider_identifier prov ON aacp.provider_identifier_id = prov.provider_identifier_id
LEFT JOIN client_name cn ON aacp.client_id = cn.client_id
INNER JOIN client ON aacp.client_id = client.client_id
INNER JOIN accounting_company ac ON client.accounting_company_id = ac.accounting_company_id
INNER JOIN accounting_company_account aca_ap ON aacp.ap_accounting_company_account_id = aca_ap.accounting_company_account_id
INNER JOIN accounting_company_account aca_exp ON aacp.expense_accounting_company_account_id = aca_exp.accounting_company_account_id
WHERE 1 = 1
'

IF @criteria_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.criteria_id = ' + str(@criteria_id) + ')'

IF @benefit_plan_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.benefit_plan_id = ' + str(@benefit_plan_id) + ')'

IF @product_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.product_id = ' + str(@product_id) + ')'

IF @provider_identifier_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.provider_identifier_id = ' + str(@provider_identifier_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.client_id = ' + str(@client_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (ac.accounting_company_id = ' + str(@accounting_company_id) + ')'

IF @ap_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.ap_accounting_company_account_id = ' + str(@ap_accounting_company_account_id) + ')'

IF @expense_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (aacp.expense_accounting_company_account_id = ' + str(@expense_accounting_company_account_id) + ')'

IF (NOT @show_only_current_cp IS NULL) AND (@show_only_current_cp = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), aacp.effective_from) <= 0 OR aacp.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), aacp.effective_thru) >= 0 OR aacp.effective_thru IS NULL)
'
END

--SET @strSQL = @strSQL + 'ORDER BY CASE WHEN aacp.effective_from IS NULL THEN 0 ELSE 1 END ASC, aacp.effective_from DESC,
--	 CASE WHEN aacp.effective_thru IS NULL THEN 0 ELSE 1 END ASC, aacp.effective_thru DESC,
--		cn.client_ud'

SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
