USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Date: 07/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/28/2005	tvngo		1.0		Created
03/20/2012	cmaddox		2.0		Updated to include diagnosis_complete
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Delete a single object the diagnosis_code table and diagnosis_complete records.
This stored procedure is used in the Diagnosis Code form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_delete]
(
@diagnosis_code_id                          int = NULL
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM diagnosis_code WHERE diagnosis_code_id = @diagnosis_code_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM diagnosis_code_complete
WHERE diagnosis_code_id IN
(SELECT diagnosis_code_id FROM diagnosis_code_complete
WHERE diagnosis_code_id = @diagnosis_code_id)
DELETE FROM diagnosis_code
WHERE diagnosis_code_id = @diagnosis_code_id
END
--
RETURN @SP_SUCCESS
END
GO
