USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/27/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/27/2009	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for form frmCapitationRate


--
REQUIREMENTS:
--
INPUTS:
@capitation_rate_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_rate_load]
(
@capitation_rate_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cr.capitation_rate_id
,cr.capitation_rate_ud
,cr.description
FROM dbo.capitation_rate cr
WHERE cr.capitation_rate_id = @capitation_rate_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
