USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_check_and_rev_row_version]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/22/2014
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check and Rev Rowversion for Enrollment form header.
RT:6823 Optimistic Concurrency checking mechanism

RETURN_VALUES:
0		Success
2		Concurrency Lock error
3		Record does not exist
-1		Exception occurred, refer to error message

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_check_and_rev_row_version]
(
@id					int
,@object_row_version	rowversion
)

AS
BEGIN

SET NOCOUNT ON;
DECLARE
@SP_SUCCESS INT,
@SP_ERROR_RECORD_LOCKED INT,
@SP_ERROR_NOT_EXIST	INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS = 0,
@SP_ERROR_RECORD_LOCKED = 2,
@SP_ERROR_NOT_EXIST	= 3,
@SP_EXCEPTION = -1;

DECLARE @RowsChanged INT, @Error INT;

-- attempt to update the row with the current row version
UPDATE family_eligibility
SET
modified_user_name		= ORIGINAL_LOGIN()
,modified_date			= GETDATE()
WHERE
family_eligibility_id = @id
AND
object_row_version = @object_row_version

SET @RowsChanged = @@ROWCOUNT
SET @Error = @@ERROR

-- send back error is exception
IF @Error <> 0
BEGIN
RETURN @SP_EXCEPTION
END

IF @RowsChanged <> 1
BEGIN
-- check to make sure record exists
IF NOT EXISTS (SELECT 1 FROM family_eligibility WHERE family_eligibility_id = @id)
BEGIN
RETURN @SP_ERROR_NOT_EXIST
END
ELSE
-- otherwise, the record has been modified by another user
BEGIN
RETURN @SP_ERROR_RECORD_LOCKED
END
END

-- no problems
RETURN @SP_SUCCESS
END
GO
