USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_additional_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
DATE: 9/18/2006
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/17/2005	Nam Ho		1.0		Created
03/08/2006	Thuy Ha		2.0		created_date and modified_date using DB Server date
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for grid Additional Information
in Benefit Contract form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE               procedure [dbo].[plx_benefit_contract_additional_information_save]
(
@benefit_contract_additional_information_id	int = null output
,@benefit_contract_id				int = null
,@additional_information_id			int = null
,@additional_information_topic_id		int = null
,@additional_information_selection_value	nvarchar(300) = null
,@additional_information_value			nvarchar(300) = null
,@additional_information_raw_value         	nvarchar(300) = NULL
,@effective_from				datetime = null
,@effective_thru				datetime = null
,@comment					nvarchar(500) = null
,@is_new_value                               	bit = NULL
,@active                                     	bit = NULL
)
as

DECLARE
@SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@EXCEPTION int
SELECT
@SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@EXCEPTION = -1

if (@benefit_contract_additional_information_id is null)
begin
insert into benefit_contract_additional_information(
additional_information_id
,additional_information_topic_id
,benefit_contract_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@additional_information_id
,@additional_information_topic_id
,@benefit_contract_id
,case when @is_new_value = 1 then null else @additional_information_selection_value end
,case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,@effective_from
,@effective_thru
,@comment
,@active
)

set @benefit_contract_additional_information_id = @@identity

if not exists (select * from benefit_contract_additional_information where benefit_contract_additional_information_id = @benefit_contract_additional_information_id )
begin
return @EXCEPTION
end
end
else
begin

DECLARE @ErrorVar int, @RowCountVar int

update 	benefit_contract_additional_information
set
additional_information_id 		= @additional_information_id
,additional_information_topic_id 	= @additional_information_topic_id
,benefit_contract_id 			= @benefit_contract_id
,additional_information_selection_value = case when @is_new_value = 1 then null else @additional_information_selection_value end
,additional_information_value 		= case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,effective_from 			= @effective_from
,effective_thru 			= @effective_thru
,comment 				= @comment
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	benefit_contract_additional_information_id = @benefit_contract_additional_information_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

end

return @SUCCESS
GO
