USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disability_premium_volume_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 01/16/2013
--
DESCRIPTION:

This procedure is used to load a single Disability Volume object (premium_volume record)
for the frmDisabilityVolume form.

[The table is also used to house Life Volume objects, but the Life Volume form uses
different stored procedures.)

NOTE - This procedure also determines whether this object has been used in
premium calculations. If so, the UI renders this object appropriately
read-only.

For volume, only the premium_volume record is referenced to a premium_rate,
not the tier criteria value record, hence there is an all-or-nothing
lockdown on this form, rather than by grid row (in the case of the
Age/Relationship grid).

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_disability_premium_volume_load]

(
@premium_volume_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pv.premium_volume_id
,pv.premium_volume_ud
,pv.description as premium_volume_description

,pv.premium_volume_type_id
,pvt.premium_volume_type_ud

,pv.premium_volume_age_reduction_schedule_id
,pvars.premium_volume_age_reduction_schedule_ud

-- required in disability volume form
,benefit_frequency_id
,frequency1.frequency_ud as benefit_frequency_ud

-- optionally used in disability volume form
,benefit_percentage
,CAST(ISNULL(use_benefit_percent_in_premium_calc,0) as bit) as use_benefit_percent_in_premium_calc

,maximum_covered_payroll_amount
,covered_payroll_frequency_id
,frequency2.frequency_ud as covered_payroll_frequency_ud

-- optionally used in both life volume and disability volume forms
,maximum_amount
,minimum_amount
,max_min_payroll_frequency_id
,frequency3.frequency_ud as max_min_payroll_frequency_ud

,volume_adjustment_amount    -- disability only

,compensation_rounding_item_id
,compensation_rounding_unit
,compensation_calculation_rounding_method_id
,volume_rounding_item_id
,volume_rounding_unit
,volume_calculation_rounding_method_id

,pv.modified_date

,used_in_calculation =
CAST(ISNULL(
(SELECT MIN(1) FROM premium_calculation pc
INNER JOIN premium_volume_calculation pvc ON pvc.premium_calculation_id = pc.premium_calculation_id
WHERE pvc.premium_volume_id = @premium_volume_id)
,0) as bit)

FROM premium_volume pv
LEFT JOIN premium_volume_type pvt
ON pv.premium_volume_type_id = pvt.premium_volume_type_id
LEFT JOIN premium_volume_age_reduction_schedule pvars
ON pv.premium_volume_age_reduction_schedule_id = pvars.premium_volume_age_reduction_schedule_id
LEFT JOIN frequency frequency1
ON pv.benefit_frequency_id = frequency_id
LEFT JOIN frequency frequency2
ON pv.covered_payroll_frequency_id = frequency2.frequency_id
LEFT JOIN frequency frequency3
ON pv.max_min_payroll_frequency_id= frequency3.frequency_id

WHERE pv.premium_volume_id = @premium_volume_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
