USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_grouping_assignment_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/13/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/13/2010	eponomareff		1.0			Created per ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdAltCourseGroupingAssignment

Used by grid: grdAltCourseGroupingAssignment
On form:  frmDentalAlternatePXTreatmentMap

******************************/
CREATE  PROCEDURE [dbo].[plx_alternate_course_grouping_assignment_load]
(
@alternate_course_of_treatment_map_id			INT = NULL
)
AS

SELECT

acotga.alternate_course_of_treatment_grouping_assignment_id
,acotga.alternate_course_of_treatment_map_id
,acotga.ranking
,acotga.procedure_code_id
,pc.procedure_code_ud
,acotga.alternate_course_code_group_id
,accg.alternate_course_code_group_ud
,acotga.alternate_procedure_code_id
,pc_alt.procedure_code_ud as alternate_procedure_code_ud
,acotga.combine
,acotga.pend_for_review

FROM
alternate_course_of_treatment_grouping_assignment acotga
LEFT JOIN procedure_code pc ON acotga.procedure_code_id = pc.procedure_code_id
LEFT JOIN alternate_course_code_group accg ON acotga.alternate_course_code_group_id = accg.alternate_course_code_group_id
LEFT JOIN procedure_code pc_alt ON acotga.alternate_procedure_code_id = pc_alt.procedure_code_id

WHERE
acotga.alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id

ORDER BY acotga.ranking
--
GO
