USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_postal_code_set_tier_criteria_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 01/19/2012

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/13/2012	eponomareff		1.0			Created
09/16/2016	eponomareff		1.1			RT:10284 system factor project, modified to display correct tier_criteria_ud when editing dropdown.
IMPORTANT - the last ud column is what gets loaded into the dropdown.
This is default behavior in the UI Engine.
Reference: Plexis.UI.PlexisUltraGridColumn class, mUltraDropDown.InitializeLayout method

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
List of tier criteria for a postal code tier, launched from the Premium Factor form

NOTE -  postal code set ud is returned but hidden in dropdown; value is used to populate
adjacent read-only grid columns

IMPORTANT - the last ud column is what gets loaded into the dropdown.
This is default behavior in the UI Engine.
Reference: Plexis.UI.PlexisUltraGridColumn class, mUltraDropDown.InitializeLayout method
--
REQUIREMENTS:
--
INPUTS:

@tier_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_postal_code_set_tier_criteria_load]
(
@tier_id int
)

AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
pcs.postal_code_set_ud
-- Important: the ud column to be displayed must be the last ud in the result set
,tc.tier_criteria_id
,tc.tier_criteria_ud

FROM
tier_criteria tc
left join tier_criteria_postal_code_set tcpcs
on tc.tier_criteria_id = tcpcs.tier_criteria_id
left join postal_code_set pcs
on tcpcs.postal_code_set_id = pcs.postal_code_set_id

WHERE
tier_id = @tier_id

ORDER BY tier_criteria_ud
--
RETURN @SP_SUCCESS
--
GO
