USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_contract_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:25AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for contract grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_contract_id - Key to agent_contract table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_contract_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_contract.agent_contract_id
,agent_contract.agent_id
,agent_contract.marketing_arm_id
,marketing_arm.marketing_arm_nm
,agent_contract.effective_from as contract_effective_from
,agent_contract.effective_thru  as contract_effective_thru
FROM agent_contract
LEFT JOIN marketing_arm ON marketing_arm.marketing_arm_id = agent_contract.marketing_arm_id
WHERE agent_contract.agent_id = @agent_id

ORDER BY CASE WHEN agent_contract.effective_from IS NULL THEN 0 ELSE 1 END ASC, agent_contract.effective_from DESC,
CASE WHEN agent_contract.effective_thru IS NULL THEN 0 ELSE 1 END ASC, agent_contract.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
