USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_list_save1]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/24/2005	Trinh Le	1.0			create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for benefit framework choice list
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_list_save1]
(
@benefit_framework_choice_list_id                     		   int = NULL   OUTPUT
,@benefit_framework_choice_list_ud                     nvarchar(100) = NULL
,@benefit_choice_list_description            nvarchar(510) = NULL
,@resolve_choice_list_at_id                  int = NULL
,@benefit_framework_benefit_class_id         			   int = NULL
,@episode_category_id			   int = null
,@episode_type_id				   int = null
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS					int
,@SP_EXCEPTION				int
,@ERROR_INSERT_FAILS		NVARCHAR(50)
,@ERROR_UPDATE_FAILS		NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST		NVARCHAR(50)
,@ERROR_CANT_UPDATE			NVARCHAR(50)
,@ERROR_RECORD_LOCKED		NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = '105280010'
--
if (@benefit_framework_benefit_class_id is not null )
begin
IF @benefit_framework_choice_list_id is Null
BEGIN
--HungTNguyen fixed 8229
IF EXISTS (SELECT benefit_framework_benefit_class_id FROM benefit_framework_benefit_class WHERE benefit_framework_benefit_class_id= @benefit_framework_benefit_class_id)
BEGIN

--- Create a new record
INSERT INTO benefit_framework_choice_list(
benefit_framework_choice_list_ud
,description
,resolve_choice_list_at_id
,benefit_framework_benefit_class_id
,episode_category_id
,episode_type_id
,active
)
VALUES
(@benefit_framework_choice_list_ud
,@benefit_choice_list_description
,@resolve_choice_list_at_id
,@benefit_framework_benefit_class_id
,@episode_category_id
,@episode_type_id
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @benefit_framework_choice_list_id = @@IDENTITY
END
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_framework_choice_list WHERE benefit_framework_choice_list_id = @benefit_framework_choice_list_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--HungTNguyen fixed 8229
IF EXISTS (SELECT benefit_framework_benefit_class_id FROM benefit_framework_benefit_class WHERE benefit_framework_benefit_class_id= @benefit_framework_benefit_class_id)
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_framework_choice_list
SET
benefit_framework_choice_list_ud         = @benefit_framework_choice_list_ud
,description                              = @benefit_choice_list_description
,resolve_choice_list_at_id                = @resolve_choice_list_at_id
,benefit_framework_benefit_class_id       = @benefit_framework_benefit_class_id
,episode_category_id			 = @episode_category_id
,episode_type_id				 = @episode_type_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_choice_list_id = @benefit_framework_choice_list_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
END
RETURN @SP_SUCCESS
end

else
begin
RETURN @SP_EXCEPTION
end
end
GO
