USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_procedure_code_conflict_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/06/2012	dcannon		1.1			Add Result Code Override column
01/20/2012	dcannon		1.2			refactored table name
--
DESCRIPTION:
Load for Fee Schedule Rule procedure code conflict grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_fee_schedule_rule_procedure_code_conflict_load]
(
@fee_schedule_rule_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
mep.fee_schedule_rule_procedure_code_conflict_id
,mep.column_1_procedure_code_type_id
,pct1.procedure_code_type_ud as column_1_procedure_code_type_ud
,mep.column_1_starting_procedure_code_id
,pc1.procedure_code_ud as column_1_starting_procedure_code_ud
,mep.column_1_ending_procedure_code_id
,pc1end.procedure_code_ud as column_1_ending_procedure_code_ud
,mep.column_2_procedure_code_type_id
,pct2.procedure_code_type_ud as column_2_procedure_code_type_ud
,mep.column_2_starting_procedure_code_id
,pc2.procedure_code_ud as column_2_starting_procedure_code_ud
,mep.column_2_ending_procedure_code_id
,pc2end.procedure_code_ud as column_2_ending_procedure_code_ud
,mep.result_code_override_id
,rc.result_code_ud
,mep.include_tooth_number
,mep.effective_from
,mep.effective_thru


FROM fee_schedule_rule_procedure_code_conflict mep
LEFT JOIN procedure_code_type pct1 ON mep.column_1_procedure_code_type_id = pct1.procedure_code_type_id
LEFT JOIN procedure_code_type pct2 ON mep.column_2_procedure_code_type_id = pct2.procedure_code_type_id
LEFT JOIN procedure_code pc1 ON mep.column_1_starting_procedure_code_id = pc1.procedure_code_id
LEFT JOIN procedure_code pc2 ON mep.column_2_starting_procedure_code_id = pc2.procedure_code_id
LEFT JOIN procedure_code pc1end ON mep.column_1_ending_procedure_code_id = pc1end.procedure_code_id
LEFT JOIN procedure_code pc2end ON mep.column_2_ending_procedure_code_id = pc2end.procedure_code_id
LEFT JOIN result_code rc ON mep.result_code_override_id = rc.result_code_id
WHERE mep.fee_schedule_rule_id = @fee_schedule_rule_id
ORDER BY
CASE WHEN mep.effective_from IS NULL THEN 0 ELSE 1 END , mep.effective_from DESC
,CASE WHEN mep.effective_thru IS NULL THEN 0 ELSE 1 END , mep.effective_thru DESC

--
RETURN @SP_SUCCESS
--
GO
