USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_get_form_name_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/19/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2005	Lamnguyen				create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get Form Name ID of a row in grid "Topic is Available on the Following Forms"
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_additional_information_get_form_name_id]
(
@additional_information_id as int = null
)
AS

--select @form_name_id=additional_information_form_id from additional_information where additional_information_id=@additional_information_id
SELECT additional_information_form_ud, additional_information.additional_information_form_id
FROM additional_information
INNER JOIN additional_information_form ON additional_information.additional_information_form_id=additional_information_form.additional_information_form_id
WHERE additional_information.additional_information_id=@additional_information_id
GO
