USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_state_mandate_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*
HEADER_BEGIN;

REVISION_HISTORY:

Date		Modified By	 Version		Description
-----------------------------------------------------------------------------------------------
10/29/2007    Abhishek Saxena     1.0                   Created


CURRENT_VERSION: 1.0

DESCRIPTION:
Load data into grid  State Mandate of Family Eligibility form

RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_state_mandate_list_load]
(
@family_eligibility_id		Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_state_mandate.family_eligibility_state_mandate_id
,family_eligibility_state_mandate.state_id
,state.state_ud
,family_eligibility_state_mandate.effective_from
,family_eligibility_state_mandate.effective_thru
,family_eligibility_state_mandate.modified_date
FROM family_eligibility_state_mandate
inner join state  ON state.state_id =family_eligibility_state_mandate.state_id
WHERE family_eligibility_state_mandate.family_eligibility_id = @family_eligibility_id
ORDER BY
CASE WHEN family_eligibility_state_mandate.effective_from IS NULL THEN 0 ELSE 1 END , family_eligibility_state_mandate.effective_from DESC
,CASE WHEN family_eligibility_state_mandate.effective_thru IS NULL THEN 0 ELSE 1 END , family_eligibility_state_mandate.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
