USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_claim_config_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 31 2006  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
12/7/2006	ThuyNguyen	1.0		Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check the config has exist in our system
--
REQUIREMENTS:
--
INPUTS:
@claim_form_type_id, @workgroup_role_uid
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_check_claim_config_exist]
(
@claim_form_type_id			Int = NULL
,@workgroup_role_uid			Int = NULL
)
AS
--
DECLARE
@has_config	int

SELECT
@has_config = 0

IF ISNULL(@workgroup_role_uid, 0) = 0
BEGIN
IF EXISTS (SELECT * FROM dbo.adjudication_object_show WHERE claim_form_type_id = @claim_form_type_id)
BEGIN
SET  @has_config  = 1
END
END
ELSE
BEGIN
IF EXISTS (SELECT * FROM dbo.adjudication_object_show WHERE claim_form_type_id = @claim_form_type_id AND workgroup_role_uid = @workgroup_role_uid)
BEGIN

SET  @has_config  = 1
END
END
return @has_config
GO
