USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_load_mae_recurrent_loader]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lenny L. Miller
Date: 12/05/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
0	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dto_load_mae_recurrent_loader]
(
@benefit_plan_ud	NVARCHAR(255)
,@benefit_contract_ud	NVARCHAR(255)
,@family_eligibility_ud	NVARCHAR(255)
) AS
SELECT      m.member_id
,CONVERT(CHAR(10), m.birth_date, 101) AS born
,CONVERT(CHAR(10), m.death_date, 101) AS died
,g.gender_ud AS gender
,mn.name_first AS first
,mn.name_last AS last
,mn.name_middle AS middle
,np.name_prefix_ud AS prefix
,mn.name_suffix AS suffix
,ma.address_1 AS address1
,ma.address_2 AS address2
,l.city AS city
,l.state AS state
,l.postal_code AS zip
,mtn.telephone_number as primary_phone
,tn1.telephone_number AS  work_phone
,tn2.telephone_number AS  cell_phone
,mia.internet_address AS email
,mpi5.id_value AS historical_id
,mpi1.id_value AS ssn
,null AS IGNORE
,bc.benefit_contract_ud AS benefit_contract
,bp.benefit_plan_ud AS benefit_plan
,bcat.benefit_category_ud AS benefit_category
,fembp.member_eligibility_ud AS eligibility_name
,CONVERT(CHAR(10), fembp.effective_from, 101) AS eff_date
,CONVERT(CHAR(10), fembp.effective_thru, 101) AS term_date
,tr.termination_reason_ud AS reason
,rti.relationship_to_insured_ud AS relationship
FROM member AS m
LEFT OUTER JOIN member_name AS mn ON m.member_id = mn.member_id
LEFT OUTER JOIN name_prefix AS np ON mn.name_prefix_id = np.name_prefix_id
LEFT OUTER JOIN gender AS g ON  m.gender_id = g.gender_id
LEFT OUTER JOIN member_address AS ma ON  m.member_id = ma.member_id
LEFT OUTER JOIN locale AS l ON ma.locale_id = l.locale_id
LEFT OUTER JOIN (select mtn.member_id, mtn.telephone_number
from member_telephone_number mtn
INNER JOIN telephone_number_type AS tnt ON  mtn.telephone_number_type_id = tnt.telephone_number_type_id )
AS mtn ON m.member_id = mtn.member_id

LEFT OUTER JOIN member_internet_address AS mia ON mia.member_id = m.member_id
LEFT OUTER JOIN member_personal_id AS mpi1 ON mpi1.member_id = m.member_id
LEFT OUTER JOIN member_id_type AS mit1 ON (mpi1.member_id_type_id = mit1.member_id_type_id AND mpi1.member_id_type_id = 1)

LEFT OUTER JOIN member_personal_id AS mpi5 ON mpi5.member_id = m.member_id
LEFT OUTER JOIN member_id_type AS mit5 ON (mpi5.member_id_type_id = mit5.member_id_type_id AND mpi5.member_id_type_id = 5)

LEFT OUTER JOIN family_eligibility_member AS fem ON fem.member_id = m.member_id
LEFT OUTER JOIN family_eligibility_member_benefit_plan AS fembp ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT OUTER JOIN termination_reason AS tr ON tr.termination_reason_id = fembp.family_eligibility_termination_reason_id
LEFT OUTER JOIN benefit_plan AS bp ON fembp.benefit_plan_id = bp.benefit_plan_id
LEFT OUTER JOIN benefit_framework AS bf ON bf.benefit_framework_id = bp.benefit_framework_id
LEFT OUTER JOIN benefit_category AS bcat ON bcat.benefit_category_id = bf.benefit_category_id
LEFT OUTER JOIN benefit_contract_period_benefit_plan AS bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
LEFT OUTER JOIN benefit_contract_period AS bcp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
LEFT OUTER JOIN benefit_contract AS bc ON bcp.benefit_contract_id = bc.benefit_contract_id
LEFT OUTER JOIN relationship_to_insured AS rti ON rti.relationship_to_insured_id = fem.relationship_to_insured_id
LEFT OUTER JOIN member_contact AS mc ON m.member_id = mc.member_id
LEFT OUTER JOIN contact AS c ON mc.contact_id = c.contact_id

LEFT OUTER JOIN contact_telephone_number AS ctn1 ON (mc.contact_id = ctn1.contact_id AND ctn1.primary_for_contact=1)
LEFT OUTER JOIN telephone_number AS tn1 ON ctn1.telephone_number_id = tn1.telephone_number_id
LEFT OUTER JOIN telephone_number_type tnt1 ON (tn1.telephone_number_type_id = tnt1.telephone_number_type_id  AND tnt1.telephone_number_type_id = 1 )

LEFT OUTER JOIN contact_telephone_number AS ctn2 ON (mc.contact_id = ctn2.contact_id AND ctn2.primary_for_contact=0)
LEFT OUTER JOIN telephone_number AS tn2 ON ctn2.telephone_number_id = tn2.telephone_number_id
LEFT OUTER JOIN telephone_number_type tnt2 ON (tn2.telephone_number_type_id = tnt2.telephone_number_type_id  AND tnt2.telephone_number_type_id = 2 )

WHERE
bp.benefit_plan_ud=@benefit_plan_ud AND
bc.benefit_contract_ud=@benefit_contract_ud AND
fembp.member_eligibility_ud=@family_eligibility_ud AND
--tnt.telephone_number_type_ud = 'Unknown'  AND
mit1.member_id_type_ud != 'PID' AND
mit5.member_id_type_ud != 'PID'
--and m.member_id in (882485, 882486)
GO
