USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_adjudication_get_accumulator_seeds]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used by adjudication to find the accumulator seeds
for a member, including seeds for family members.
******************************/
CREATE PROCEDURE [dbo].[plx_dto_adjudication_get_accumulator_seeds] (@memberId INT) AS

SET NOCOUNT ON;

--- First gather the Enrollments relative to the member, and get the constraining
-- eligibility dates for the member. It's OK if the same enrollment is repeated
-- in the results. Duplicate seeds will be eliminated by a group by clause later.
DECLARE @enrollmentDateContraints TABLE
(
family_eligibility_id INT,
benefit_contract_id INT,
constraining_eff_from DATE,
constraining_eff_thru DATE
);

-- Family Seeds (from other members) must be
-- constrained by the effective dates
-- of the individual member's eligibility.
INSERT INTO @enrollmentDateContraints
(
family_eligibility_id,
benefit_contract_id,
constraining_eff_from,
constraining_eff_thru
)
SELECT
fe.family_eligibility_id,
fe.benefit_contract_id,
elig_INDIV.effective_from,
elig_INDIV.effective_thru
FROM
family_eligibility_member fem_INDIV
JOIN family_eligibility_member_benefit_plan elig_INDIV
ON elig_INDIV.family_eligibility_member_id = fem_INDIV.family_eligibility_member_id
JOIN family_eligibility fe
ON fe.family_eligibility_id = fem_INDIV.family_eligibility_id
WHERE
fem_INDIV.member_id = @memberId
AND ISNULL(elig_INDIV.never_under_coverage, 0) = 0
AND ISNULL(fe.never_under_coverage, 0) = 0;

-- just to gather the FAMILY accumulator seed id's for members
-- (including the individual member with member_id = @member_id),
-- and constrained by the effective dates of the eligibilites for the indnividual @member_id;
DECLARE @source TABLE
(
member_id INT,
accumulator_seed_value_id INT,
accumulator_id INT,
effective_date DATE,
amount DECIMAL(19,4),
-- scope
eligibility_id INT,
enrollment_id INT,
benefit_contract_id INT,
benefit_plan_id INT,
episode_id INT
);

INSERT INTO @source
(
member_id,
accumulator_seed_value_id,
accumulator_id,
effective_date,
amount,
-- scope
eligibility_id,
enrollment_id,
benefit_contract_id,
benefit_plan_id,
episode_id
)
SELECT
fem.member_id,
asv.accumulator_seed_value_id,
asv.accumulator_framework_accumulator_class_accumulator_id,
asv.effective_date,
asv.accumulator_seed_amount,
-- scope
asv.family_eligibility_member_benefit_plan_id,
enroll.family_eligibility_id,
enroll.benefit_contract_id,
fembp.benefit_plan_id,
asv.episode_id
FROM
@enrollmentDateContraints enroll
JOIN family_eligibility_member fem ON enroll.family_eligibility_id = fem.family_eligibility_id
JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN accumulator_seed_value asv
ON fembp.family_eligibility_member_benefit_plan_id = asv.family_eligibility_member_benefit_plan_id
WHERE
asv.effective_date BETWEEN enroll.constraining_eff_from AND ISNULL(enroll.constraining_eff_thru, '9999-12-31');

-- All Accumulator Seed records for the Member
--		includes tooth surface records, which have
--		amounts stored on parent record.
SELECT
s.member_id,
s.accumulator_seed_value_id,
s.accumulator_id,
s.effective_date,
s.amount,
-- additional seed values
asv.area_of_oral_cavity_id,
asv.tooth_number_letter_id,
asv.tooth_system_id,
asvts.tooth_surface_id,
-- scope
s.eligibility_id,
s.enrollment_id,
s.benefit_contract_id,
-- add in benefit_contact_period for effective date
resolved_bcp.benefit_contract_period_id,
s.benefit_plan_id,
s.episode_id
FROM @source s
JOIN accumulator_seed_value asv
ON s.accumulator_seed_value_id = asv.accumulator_seed_value_id
LEFT JOIN (
SELECT
MAX(bcp.benefit_contract_period_id) as benefit_contract_period_id,
s2.accumulator_seed_value_id
FROM benefit_contract_period bcp
JOIN @source s2 ON s2.benefit_contract_id = bcp.benefit_contract_id
WHERE s2.effective_date BETWEEN bcp.effective_from AND ISNULL(bcp.effective_thru, '9999-12-31')
GROUP BY s2.accumulator_seed_value_id
) resolved_bcp
ON resolved_bcp.accumulator_seed_value_id = s.accumulator_seed_value_id
LEFT JOIN accumulator_seed_value_tooth_surface asvts
ON asv.accumulator_seed_value_id = asvts.accumulator_seed_value_id;
GO
