USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_get_basic]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_history_get_basic] (@memberId INT) AS

SET NOCOUNT ON;

DECLARE @adjudicationStatusOpen INT = (SELECT adjudication_status_id FROM adjudication_status WHERE golden_key = 'OPEN');
DECLARE @preDetermination INT = (SELECT claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination');

-- Include all the claim columns in this table so that we don't have to go back and select it?  For now keeping it simpler to code.
DECLARE @history TABLE
(
claim_id INT
);

INSERT INTO @history (claim_id)
SELECT
c.claim_id
FROM
claim c
INNER JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE
fem.member_id = @memberId
AND c.claim_form_type_id <> @preDetermination
AND EXISTS
(
SELECT 1
FROM claim_procedure cp
WHERE
cp.claim_id = c.claim_id
AND cp.adjudication_status_id IS NOT NULL
AND cp.adjudication_status_id <> @adjudicationStatusOpen
);

SELECT
c.claim_id,
c.claim_ud,
c.claim_form_type_id,
cft.golden_key as 'claim_form_type_golden_key',
c.provider_id,
c.provider_identifier_id,
c.billing_provider_id,
c.billing_provider_identifier_id
FROM
@history tc
INNER JOIN claim c
ON c.claim_id = tc.claim_id
LEFT JOIN claim_form_type cft
ON cft.claim_form_type_id = c.claim_form_type_id;

SELECT
pc.claim_id,
pc.professional_claim_type_id
FROM
@history h
INNER JOIN professional_claim pc
ON pc.claim_id = h.claim_id;

-- Institutional Claim header
SELECT
ic.claim_id,
ic.institutional_claim_type_id,
ic.institutional_claim_bill_type_id as 'bill_type_id',
bt.institutional_claim_bill_type_ud as 'bill_type_ud',
bt.treat_as_outpatient as 'bill_type_treat_as_outpatient',
ic.statement_from_date,
ic.statement_thru_date,
ic.admission_date,
ic.primary_diagnosis_code_id,
ic.primary_diagnosis_code_ud,
ic.admitting_diagnosis_code_id,
ic.admitting_diagnosis_code_ud,
ic.diagnosis_code_version_id,
ic.total_billed
FROM
@history h
INNER JOIN institutional_claim ic
ON ic.claim_id = h.claim_id
LEFT JOIN institutional_claim_bill_type bt
ON bt.institutional_claim_bill_type_id = ic.institutional_claim_bill_type_id;

-- Institutional Claim condition codes
SELECT
ic.claim_id,
iccc.condition_code_id
FROM
@history h
INNER JOIN institutional_claim ic
ON ic.claim_id = h.claim_id
INNER JOIN institutional_claim_condition_code iccc
ON ic.institutional_claim_id = iccc.institutional_claim_id;

-- Institutional Claim occurrence codes
SELECT
ic.claim_id,
icos.occurrence_span_code_id
FROM
@history h
INNER JOIN institutional_claim ic
ON ic.claim_id = h.claim_id
INNER JOIN institutional_claim_occurrence_span icos
ON ic.institutional_claim_id = icos.institutional_claim_id;

-- dental claim place of service
SELECT
dc.claim_id,
dc.place_of_service_id
FROM
@history h
INNER JOIN dental_claim dc
ON dc.claim_id = h.claim_id;

-- Diagnosis codes for professional claims.
SELECT
h.claim_id,
dx.professional_claim_diagnosis_code_sequence,
dx.diagnosis_code_id,
dx.diagnosis_code_ud,
dx.diagnosis_code_version_id
FROM
@history h
INNER JOIN professional_claim pc
ON pc.claim_id = h.claim_id
INNER JOIN professional_claim_diagnosis_code dx
ON dx.professional_claim_id = pc.professional_claim_id;

-- Diagnosis codes for institutional claims.
SELECT
h.claim_id,
dx.sequence,
dx.diagnosis_code_id,
dx.diagnosis_code_ud,
dx.diagnosis_code_version_id
FROM
@history h
INNER JOIN institutional_claim ic
ON ic.claim_id = h.claim_id
INNER JOIN institutional_claim_diagnosis_code dx
ON dx.institutional_claim_id = ic.institutional_claim_id
INNER JOIN institutional_claim_diagnosis_code_context icdcc
ON icdcc.institutional_claim_diagnosis_code_context_id = dx.institutional_claim_diagnosis_code_context_id
AND icdcc.golden_key = 'OTHER';

-- Diagnosis codes for dental claims.
SELECT
h.claim_id,
dx.dental_claim_diagnosis_code_sequence,
dx.diagnosis_code_id,
dx.diagnosis_code_ud,
dx.diagnosis_code_version_id
FROM
@history h
INNER JOIN dental_claim dc
ON dc.claim_id = h.claim_id
INNER JOIN dental_claim_diagnosis_code dx
ON dx.dental_claim_id = dc.dental_claim_id;

-- Episodes
SELECT
h.claim_id,
e.episode_id,
e.episode_ud,
e.effective_from,
e.effective_thru
FROM
@history h
INNER JOIN
claim c
on c.claim_id = h.claim_id
INNER JOIN
episode e
ON e.episode_id = c.episode_id;

-- Claim lines
SELECT
cp.claim_id,
cp.claim_procedure_id,
cp.service_from_date,
cp.service_thru_date,
cp.place_of_service_id,
pos.place_of_service_ud,
cp.tooth_number_letter_id,
cp.area_of_oral_cavity_id,
cp.type_of_service_id,
tos.type_of_service_ud,
cp.modifiers,
cp.[is_system_generated],
cp.is_negated,
cp.adjudication_status_id,
adjs.golden_key as 'adjudication_status_golden_key',
cp.procedure_code_id as 'pc1_procedure_code_id',
pc1.procedure_code_ud as 'pc1_procedure_code_ud',
pc1.procedure_code_type_id as 'pc1_procedure_code_type_id',
pc1.procedure_code_icd_version_id as 'pc1_procedure_code_icd_version_id',
alt_pc.procedure_code_id as 'alternate_procedure_code_id',
alt_pc.procedure_code_ud as 'alternate_procedure_code_ud',
alt_pc.procedure_code_type_id as 'alternate_procedure_code_type_id',
alt_pc.procedure_code_icd_version_id as 'alternate_procedure_code_icd_version_id',
pc1.dental_restorative_bundling_set_id,
cp.procedure_code_2_id as 'pc2_procedure_code_id',
pc2.procedure_code_ud as 'pc2_procedure_code_ud',
pc2.procedure_code_type_id as 'pc2_procedure_code_type_id',
pc2.procedure_code_icd_version_id as 'pc2_procedure_code_icd_version_id',
cp.diagnosis_sequence,
cp.charge,
cp.units,
cp.non_covered_charge,
cp.claim_line_sequence,
cp.cob_amount,
cp.repricing_amount,

-- result_key related data
ark.adjudication_result_key_id,
ark.plan_iteration_index as 'key_plan_iteration_index',
ISNULL(arko.claim_processing_rule_framework_id, ark.claim_processing_rule_framework_id) as 'claim_processing_rule_framework_id',
ark.rendering_provider_id,
ark.rendering_provider_identifier_id,
ark.provider_id,
ark.provider_identifier_id,
ISNULL(arko.referral_id ,ark.referral_id) as referral_id,
ark.referral_authorized_procedure_id,
ark.family_eligibility_member_id,
ark.practice_office_id,
ark.copay_benefit_id,
ark.claim_editing_software_yes_no_id,
ark.family_eligibility_member_benefit_plan_id,
ark.code_depreciation_schedule_id,
ark.claim_processing_rule_framework_id,
ark.benefit_plan_id,
ISNULL(arko.dental_restorative_bundling_applied_yes_no_id, ark.dental_restorative_bundling_applied_yes_no_id) as dental_restorative_bundling_applied_yes_no_id,
ISNULL(arko.dental_procedure_grouping_applied_yes_no_id, ark.dental_procedure_grouping_applied_yes_no_id) as dental_procedure_grouping_applied_yes_no_id,

-- result_amount related data
ara.adjudication_result_amount_id,
ara.plan_iteration_index as 'amount_plan_iteration_index',
ara.eligible_visits,
ISNULL(arao.copay_amount, ara.copay_amount) as 'copay_amount',
ara.code_depreciation_rank,
ara.code_depreciation_base_amount,
ara.contract_amount

FROM
@history h
INNER JOIN claim_procedure cp
ON cp.claim_id = h.claim_id
INNER JOIN adjudication_result_key ark
ON ark.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_key_override arko
ON arko.adjudication_result_key_id = ark.adjudication_result_key_id
INNER JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_amount_override arao
ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id
LEFT JOIN procedure_code alt_pc
ON alt_pc.procedure_code_id = cp.alternate_procedure_code_id
LEFT JOIN procedure_code pc1
ON pc1.procedure_code_id = cp.procedure_code_id
LEFT JOIN procedure_code pc2
ON pc2.procedure_code_id = cp.procedure_code_2_id
LEFT JOIN adjudication_status adjs
ON adjs.adjudication_status_id = cp.adjudication_status_id
LEFT JOIN place_of_service pos
ON pos.place_of_service_id = cp.place_of_service_id
LEFT JOIN type_of_service tos
ON tos.type_of_service_id = cp.type_of_service_id
WHERE
cp.adjudication_status_id IS NOT NULL
AND cp.adjudication_status_id <> @adjudicationStatusOpen
-- This iteration index matching is critical to how this data is parsed in the history service.  Keys and Amounts need to be matched on the same returned row.
-- It is ok to have multiple instances of the pairing returned, but the pairing must stay together.
AND ark.plan_iteration_index = ara.plan_iteration_index;

-- Tooth surfaces
SELECT
cp.claim_procedure_id,
cpts.tooth_surface_id
FROM
@history h
INNER JOIN claim_procedure cp
ON cp.claim_id = h.claim_id
INNER JOIN claim_procedure_tooth_surface cpts
ON cpts.claim_procedure_id = cp.claim_procedure_id;
GO
