USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_identifier_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 09/30/2009 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_identifier_load]
(
@provider_id INT = NULL
,@practice_office_id INT = NULL
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
provider_identifier.provider_identifier_id,
provider_identifier.provider_ud
FROM dbo.provider_identifier
WHERE provider_identifier.provider_id = @provider_id
AND (provider_identifier.only_practice_office_id IS NULL
OR provider_identifier.only_practice_office_id =
ISNULL(@practice_office_id, provider_identifier.only_practice_office_id))
ORDER BY provider_identifier.provider_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
