USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard and spandhi
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/08/2008 lrenard		1.0			Created
04/10/2008 spandhi	    1.1			Updated
04/11/2008 spandhi	    1.2			ASCII/Unicode Fix
05/09/2008 lrenard		1.3			read return value when deleting client_group
05/27/2008 wchristensen	1.4			Removed group delete code, per spec client should not
be deleted when in use by ANY other object
08/06/2012 croedocker   1.5         Delete rows in result_code_override_assignment tied to
specified client.
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:
Delete for Client form
--
REQUIREMENTS:
--
INPUTS:
@client_id - Key to client table, identifies a single stored in client.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_client_delete]
(
@client_id             int = NULL OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (SELECT client_id FROM client WHERE client_id = @client_id)
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this client is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_client_check_delete @client_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete child tables
DELETE FROM client_contact
WHERE client_id = @client_id

DELETE FROM client_service_representative
WHERE client_id = @client_id

DELETE FROM client_customer
WHERE client_id = @client_id

DELETE FROM client_correspondence
WHERE client_id = @client_id

DELETE FROM client_vendor
WHERE client_id = @client_id

DELETE FROM client_user_assigned_result_code
WHERE client_id = @client_id

DELETE FROM client_lock
WHERE client_id = @client_id

DELETE FROM client_additional_information
WHERE client_id = @client_id

DELETE FROM client_name
WHERE client_id = @client_id

EXEC plx_client_fee_setup_delete @client_id

--Delete foreign rows tied to client
DELETE FROM result_code_override_assignment
WHERE client_id = @client_id

--Delete the client
DELETE FROM client
WHERE client_id = @client_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END

RETURN @SP_SUCCESS
GO
