USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_claim_form_type_by_claim_id_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Apr  3 2006  1:10PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load claim form type by claim id
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_cob_claim_form_type_by_claim_id_load]
(
@claim_id		Int=nul
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT

claim_form_type.claim_form_type_ud
,claim_form_type.claim_form_type_id
,golden_key


FROM claim
left  join claim_form_type  ON claim_form_type.claim_form_type_id = claim.claim_form_type_id

WHERE claim.claim_id = @claim_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
