USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rate_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rate_load]
(
@eligibility_rate_id INT = NULL
)
AS

SET NOCOUNT ON
DECLARE @hasItemizedRates BIT = 0;
IF EXISTS (SELECT 1 FROM dbo.eligibility_rate_eligibility_rate_item
WHERE eligibility_rate_id = @eligibility_rate_id)
BEGIN
SET @hasItemizedRates = 1;
END
--
SELECT
er.eligibility_rate_id
,er.family_eligibility_member_benefit_plan_id
,er.eligibility_rate_type_id
,ert.eligibility_rate_type_ud
,ert.description as eligibility_rate_type_description
,er.reported_date
,er.eligibility_rate_retro_type_id
,errt.eligibility_rate_retro_type_ud
,er.is_exclude_from_premium
,er.number_of_periods
,@hasItemizedRates as has_itemized_rates
,er.amount
,er.customer_id
,c.customer_ud
,er.accounting_company_id
,ac.accounting_company_ud
,er.ar_accounting_company_account_id
,ar_aca.accounting_company_account_ud as ar_accounting_company_account_ud
,er.revenue_accounting_company_account_id
,revenue_aca.accounting_company_account_ud as revenue_accounting_company_account_ud
,er.effective_from
,er.effective_thru
,er.eligibility_rate_code_id
,erc.eligibility_rate_code_ud
,erc.description as eligibility_rate_code_description
,er.comment
,er.modified_date
,er.modified_user_name
-- populate title bar
,fembp.member_eligibility_ud
,fem.member_id
,mn.name_last
,mn.name_first
,mn.name_middle

FROM dbo.eligibility_rate er
LEFT JOIN dbo.eligibility_rate_type ert ON er.eligibility_rate_type_id = ert.eligibility_rate_type_id
LEFT JOIN dbo.eligibility_rate_retro_type errt ON er.eligibility_rate_retro_type_id = errt.eligibility_rate_retro_type_id
LEFT JOIN dbo.customer c ON er.customer_id = c.customer_id
LEFT JOIN dbo.accounting_company ac ON er.accounting_company_id = ac.accounting_company_id
LEFT JOIN dbo.accounting_company_account ar_aca ON er.ar_accounting_company_account_id = ar_aca.accounting_company_account_id
LEFT JOIN dbo.accounting_company_account revenue_aca ON er.revenue_accounting_company_account_id = revenue_aca.accounting_company_account_id
LEFT JOIN dbo.eligibility_rate_code erc ON er.eligibility_rate_code_id = erc.eligibility_rate_code_id
LEFT JOIN dbo.family_eligibility_member_benefit_plan fembp ON er.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN member_name mn ON fem.member_id = mn.member_id AND ISNULL(mn.is_primary,0) = 1
WHERE
er.eligibility_rate_id = @eligibility_rate_id

RETURN 0
GO
