USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_commission_payment_status_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006 	tinh do		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down commission_payment_status_reason (Commission Payment Status Reason)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_commission_payment_status_reason_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_payment_status_reason_id
,commission_payment_status_reason_ud
,golden_key

FROM commission_payment_status_reason
ORDER BY commission_payment_status_reason_ud
--
RETURN @SP_SUCCESS
GO
