USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_on_demand_run_detail_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for the On Demand Disbursements grid on form on the On Demand Disbursements form

--
REQUIREMENTS:
--
INPUTS:
@disbursement_on_demand_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_disbursement_on_demand_run_detail_list_load]
(
@disbursement_on_demand_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
dodrd.disbursement_on_demand_run_id
,dodrd.disbursement_on_demand_run_detail_id
,c.claim_id
,c.claim_ud
,cft.golden_key as claim_form_type_gk
,atap.accounting_transaction_ap_id
,atap.accounting_transaction_ap_ud
,COALESCE(v_for_claim.vendor_id, v_for_atap.vendor_id) as vendor_id
,COALESCE(v_for_claim.vendor_ud, v_for_atap.vendor_ud) as vendor_ud
,COALESCE(v_for_claim.vendor_nm, v_for_atap.vendor_nm) as vendor_nm
-- if claim - all taps for the claim must be used for the total
,
CASE WHEN (atap.accounting_transaction_ap_id IS NULL)
THEN
(
SELECT SUM(ISNULL(transaction_amount,0))
FROM
accounting_transaction_ap_claim_detail claim_detail
JOIN accounting_transaction_ap atap ON
atap.accounting_transaction_ap_id = claim_detail.accounting_transaction_ap_id
WHERE
claim_detail.claim_id = c.claim_id
)
ELSE
atap.transaction_amount
END as transaction_amount
FROM disbursement_on_demand_run_detail dodrd
LEFT JOIN
dbo.accounting_transaction_ap atap
ON dodrd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN
dbo.claim c ON dodrd.claim_id = c.claim_id
LEFT JOIN
dbo.claim_form_type cft ON c.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN
dbo.vendor v_for_claim ON c.vendor_id = v_for_claim.vendor_id
LEFT JOIN
dbo.vendor v_for_atap ON atap.vendor_id = v_for_atap.vendor_id
-- TODO - add claim link for payment amount
WHERE
dodrd.disbursement_on_demand_run_id = @disbursement_on_demand_run_id



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
