USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_get_enrollment_data]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************
This stored procedure gather the necessary data to resolve, for a
single Enrollment, all Coverage Levels for all Benefit Plans
having an assigned Coverage Level Tier.

This stored procedure is called from the Coverage Level Details subform,
which is launched from the Enrollment form. The "Resolve Coverage Detail"
button calls this stored procedure, passing in the internal Enrollment ID
and an optional As Of Date.

If no As Of Date is provided, today's date is used.

This stored procedure returns essentially the same result data as
the stored procedure used to stage the data in the Coverage Level Process:

plx_coverage_level_process_stage_data

*********************************************************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_get_enrollment_data]
(
@enrollmentId INT,
@asOfDate DATE = NULL
)
AS

SET NOCOUNT ON;

/*********************************************************************
STEP 1: get relevant tiers for benefit contract and benefit plans
into a temp table, including all Benefit Categories;
We are filtering out Benefit Contract Period Benefit Plans
without assigned tiers;
*********************************************************************/
-- get benefit_contract for enrollment
DECLARE @benefit_contract_id INT = (SELECT benefit_contract_id
FROM family_eligibility
WHERE family_eligibility_id = @enrollmentId);
-- default @asOfDate to today's date
IF @asOfDate IS NULL
BEGIN
SET @asOfDate = CONVERT(DATE, GETDATE());
END

-- get the benefit plans and assigned tiers
IF OBJECT_ID('tempdb..#benefitPlanTierIds') IS NOT NULL
DROP TABLE #benefitPlanTierIds

CREATE TABLE #benefitPlanTierIds (
benefit_plan_id INT,
tier_id INT
);

INSERT INTO #benefitPlanTierIds (
benefit_plan_id,
tier_id)
SELECT
bcpbp.benefit_plan_id,
assign.tier_id
FROM
benefit_contract_period bcp
JOIN benefit_contract_period_benefit_plan bcpbp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
JOIN benefit_contract_period_benefit_plan_coverage_level_tier_assignment assign
ON bcpbp.benefit_contract_period_benefit_plan_id = assign.benefit_contract_period_benefit_plan_id
WHERE
bcp.benefit_contract_id = @benefit_contract_id
AND
-- benefit_contract_period must contain As Of Date
bcp.effective_from <= @asOfDate
AND
(bcp.effective_thru IS NULL OR bcp.effective_thru >= @asOfDate)
AND
-- assignment must be current for As Of Date
assign.effective_from <= @asOfDate
AND
assign.effective_thru IS NULL OR assign.effective_thru >= @asOfDate;

/*********************************************************************
STEP 2: Put ungrouped data into indexed temp table
*********************************************************************/
-- so we don't have to cast the type of a calculated column
DECLARE @CountOne INT = 1;
DECLARE @CountZero INT = 0;

IF OBJECT_ID('tempdb..#eligibilityInfo') IS NOT NULL
DROP TABLE #eligibilityInfo
CREATE TABLE #eligibilityInfo (
family_eligibility_id INT,
benefit_plan_id INT,
is_self_one_or_zero INT,
is_spouse_one_or_zero INT,
is_dependent_one_or_zero INT,
assigned_tier_id INT
);
-- composite index column order: put most selective column,
--			that is, the one with the highest count of distinct
--			values (family_eligilbility_id) first in the index;
-- covered index: include columns that will be used in group by later
CREATE NONCLUSTERED INDEX ix_familyEligBenefitPlan
ON #eligibilityInfo (family_eligibility_id, benefit_plan_id)
INCLUDE (assigned_tier_id);

INSERT INTO #eligibilityInfo (
benefit_plan_id,
family_eligibility_id,
is_self_one_or_zero,
is_spouse_one_or_zero,
is_dependent_one_or_zero,
assigned_tier_id
)
SELECT
elig.benefit_plan_id,
fem.family_eligibility_id,
is_self_one_or_zero = CASE
WHEN rel.golden_key = 'Self' THEN @CountOne
ELSE @CountZero
END,
is_spouse_one_or_zero = CASE
WHEN rel.treat_as_spouse = 1 THEN @CountOne
ELSE @CountZero
END,
is_dependent_one_or_zero = CASE
WHEN rel.treat_as_dependent = 1 THEN @CountOne
ELSE @CountZero
END,
bcbpIds.tier_id
FROM  family_eligibility_member_benefit_plan elig
JOIN family_eligibility_member fem ON elig.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN relationship_to_insured rel on fem.relationship_to_insured_id = rel.relationship_to_insured_id
JOIN #benefitPlanTierIds bcbpIds
ON elig.benefit_plan_id = bcbpIds.benefit_plan_id
WHERE
fem.family_eligibility_id = @enrollmentId
AND elig.effective_from <= @asOfDate
AND (elig.effective_thru IS NULL OR elig.effective_thru >= @asOfDate)
AND (elig.never_under_coverage IS NULL OR elig.never_under_coverage = 0)
ORDER BY
elig.benefit_plan_id;

/*********************************************************************
STEP 3 - Return coverage level process data for Enrollment
*********************************************************************/

SELECT
elig.benefit_plan_id,
bp.benefit_plan_ud,
elig.family_eligibility_id,
fe.family_eligibility_ud,
bc.benefit_contract_ud,
SUM(is_self_one_or_zero) as self_count,
SUM(is_spouse_one_or_zero) as spouse_count,
SUM(is_dependent_one_or_zero) as dependent_count,
elig.assigned_tier_id,
t.tier_ud
FROM  #eligibilityInfo elig
JOIN benefit_plan bp ON elig.benefit_plan_id = bp.benefit_plan_id
JOIN family_eligibility fe ON elig.family_eligibility_id = fe.family_eligibility_id
JOIN tier t ON elig.assigned_tier_id = t.tier_id
JOIN benefit_contract bc ON fe.benefit_contract_id = bc.benefit_contract_id
GROUP BY
elig.family_eligibility_id,
fe.family_eligibility_ud,
bc.benefit_contract_ud,
elig.benefit_plan_id,
bp.benefit_plan_ud,
elig.assigned_tier_id,
t.tier_ud;
GO
