USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_premium_billing_fee_ar_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 03/27/2020
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/27/2020	Aaron Mortensen 1.0			Created from plx_account_assignment_premium_billing_save
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdPBFeesARAccountAssignment on form frmAccountAssignments

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_account_assignment_premium_billing_fee_ar_load](
@client_group_id INT = NULL,
@benefit_contract_id INT = NULL,
@benefit_plan_id INT = NULL,
@client_id  INT = NULL,
@accounting_company_id INT = NULL,
@ar_accounting_company_account_id INT = NULL,
@revenue_accounting_company_account_id INT = NULL,
@show_only_current_cp	BIT = NULL
)
AS
--
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS INT;
SELECT
@SP_SUCCESS = 0;

DECLARE @strSQL NVARCHAR(4000);

SET @strSQL =
'SELECT  DISTINCT
pb_fee_ar.account_assignment_premium_billing_fee_ar_id,
pb_fee_ar.client_group_id,
cgn.client_group_ud,
pb_fee_ar.benefit_contract_id,
bc.benefit_contract_ud,
pb_fee_ar.benefit_plan_id,
bp.benefit_plan_ud,
pb_fee_ar.client_id,
cn.client_ud,
client.accounting_company_id,
ac.accounting_company_ud,
pb_fee_ar.ar_accounting_company_account_id,
aca_ar.accounting_company_account_ud AS ar_accounting_company_account_ud,
pb_fee_ar.revenue_accounting_company_account_id,
aca_rev.accounting_company_account_ud AS revenue_accounting_company_account_ud,
pb_fee_ar.effective_from,
pb_fee_ar.effective_thru,
pb_fee_ar.modified_date

FROM dbo.account_assignment_premium_billing_fee_ar pb_fee_ar
LEFT JOIN client_group_name cgn ON pb_fee_ar.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON pb_fee_ar.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp ON pb_fee_ar.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN client_name cn ON pb_fee_ar.client_id = cn.client_id
INNER JOIN client ON pb_fee_ar.client_id = client.client_id
INNER JOIN accounting_company ac ON client.accounting_company_id = ac.accounting_company_id
INNER JOIN accounting_company_account aca_ar ON pb_fee_ar.ar_accounting_company_account_id = aca_ar.accounting_company_account_id
INNER JOIN accounting_company_account aca_rev ON pb_fee_ar.revenue_accounting_company_account_id = aca_rev.accounting_company_account_id
WHERE 1 = 1
'

IF @client_group_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.client_group_id = ' + STR(@client_group_id) + ')'

IF @benefit_contract_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.benefit_contract_id = ' + STR(@benefit_contract_id) + ')'

IF @benefit_plan_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.benefit_plan_id = ' + STR(@benefit_plan_id) + ')'

IF @client_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.client_id = ' + STR(@client_id) + ')'

IF @accounting_company_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (ac.accounting_company_id = ' + STR(@accounting_company_id) + ')'

IF @ar_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.ar_accounting_company_account_id = ' + STR(@ar_accounting_company_account_id) + ')'

IF @revenue_accounting_company_account_id IS NOT NULL
SET @strSQL = @strSQL + ' AND (pb_fee_ar.revenue_accounting_company_account_id = ' + STR(@revenue_accounting_company_account_id) + ')'

IF (NOT @show_only_current_cp IS NULL) AND (@show_only_current_cp = 1)
BEGIN
SET @strSQL = @strSQL + '
AND (DATEDIFF(day, GETDATE(), pb_fee_ar.effective_from) <= 0 OR pb_fee_ar.effective_from IS NULL)
AND (DATEDIFF(day, GETDATE(), pb_fee_ar.effective_thru) >= 0 OR pb_fee_ar.effective_thru IS NULL) '
END

SET @strSQL = @strSQL + 'ORDER BY cn.client_ud '

PRINT @strSQL

EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
