USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_manual_run_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   09/08/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for manual capitation run form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE          PROCEDURE [dbo].[plx_capitation_manual_run_save]
(
@capitation_manual_run_id	int = NULL   OUTPUT
,@capitation_manual_run_ud				NVARCHAR(100)= NULL
,@capitation_manual_run_status_id		INT = NULL
,@run_date								DATETIME = NULL
,@do_not_release						BIT = NULL
,@apply_review_period					BIT = NULL
,@days_of_review_period					INT = NULL
,@end_of_review							DATETIME = NULL
,@benefit_contract_id					INT = NULL
,@benefit_plan_id             			INT = NULL
,@client_id								INT = NULL
,@client_group_id						INT = NULL
,@benefit_category_id					INT = NULL
,@active								BIT = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF ISNULL(@capitation_manual_run_ud,'') = '' OR LEN(@capitation_manual_run_ud) = ''
BEGIN
DECLARE
@prefix	NVARCHAR(100)

SET @capitation_manual_run_ud = ''
SET @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)

DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)

SET @auto_create_counter_type_ud = 'Capitation Manual Run ' + @prefix
SET @counter_pad_length = 5

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @capitation_manual_run_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM capitation_manual_run
WHERE capitation_manual_run_ud = @capitation_manual_run_ud)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @capitation_manual_run_ud = ISNULL(@prefix, '') + @counter_text
END
END

IF @run_date IS NULL
SET @run_date = GETDATE()

IF @capitation_manual_run_id is Null or @capitation_manual_run_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_manual_run(
capitation_manual_run_ud
,capitation_manual_run_status_id
,run_date
,do_not_release
,apply_review_period
,days_of_review_period
,end_of_review
,benefit_contract_id
,benefit_plan_id
,client_id
,client_group_id
,benefit_category_id
,active
)
VALUES
(@capitation_manual_run_ud
,@capitation_manual_run_status_id
,@run_date
,@do_not_release
,@apply_review_period
,@days_of_review_period
,@end_of_review
,@benefit_contract_id
,@benefit_plan_id
,@client_id
,@client_group_id
,@benefit_category_id
,@active
)
--
SET @capitation_manual_run_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM capitation_manual_run WHERE capitation_manual_run_id = @capitation_manual_run_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE capitation_manual_run
SET
capitation_manual_run_ud		= @capitation_manual_run_ud
,capitation_manual_run_status_id = @capitation_manual_run_status_id
,run_date						= @run_date
,do_not_release					= @do_not_release
,apply_review_period			= @apply_review_period
,days_of_review_period			= @days_of_review_period
,end_of_review					= @end_of_review
,benefit_contract_id			= @benefit_contract_id
,benefit_plan_id				= @benefit_plan_id
,client_id						= @client_id
,client_group_id				= @client_group_id
,benefit_category_id			= @benefit_category_id
,active                         = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_manual_run_id = @capitation_manual_run_id

END
--
RETURN @SP_SUCCESS
--
GO
