USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 05-15-2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05-15-2006	Trinh Le	1.0		Load extra column on recordset for coding purpose
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load benefit framework form data
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_load]
(
@benefit_framework_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
benefit_framework.benefit_framework_id
,benefit_framework.benefit_framework_ud
,benefit_framework.benefit_framework_nm
,benefit_framework.description as benefit_framework_description
,benefit_framework.benefit_category_id

,benefit_framework.benefit_sub_category_id
,null as status_indicator
,benefit_framework.modified_date
FROM benefit_framework
left join benefit_category  ON benefit_category.benefit_category_id = benefit_framework.benefit_category_id
left join benefit_sub_category  ON benefit_sub_category.benefit_sub_category_id = benefit_framework.benefit_sub_category_id

WHERE benefit_framework.benefit_framework_id = @benefit_framework_id
ORDER BY benefit_framework.benefit_framework_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
