USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug  4 2006 11:10AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/8/2006    ThuyNgo   1.0             created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the commission_depreciation table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_commission_depreciation_save]
(
@commission_depreciation_id                int = NULL   OUTPUT
,@commission_depreciation_ud                 nvarchar(50) = NULL
,@description                                nvarchar(255) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '328e777f-6901-4ccb-91d4-cb08767bf02a',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= 'de0e0557-9425-4063-8815-1f4c2d94684e'
--
IF @commission_depreciation_id is Null
BEGIN

--- Create a new commission_depreciation record
INSERT INTO commission_depreciation(
commission_depreciation_ud
,description
,effective_from
,effective_thru
)
VALUES
(@commission_depreciation_ud
,@description
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @commission_depreciation_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM commission_depreciation WHERE commission_depreciation_id = @commission_depreciation_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing commission_depreciation record
UPDATE commission_depreciation
SET
commission_depreciation_ud               = @commission_depreciation_ud
,description                              = @description
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE commission_depreciation_id = @commission_depreciation_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
