USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_amt_applied_to_threshold_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************

AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
--------------------------------------------------------------------------------
DESCRIPTION:
This procedure is used to load data for grid "Coverage Incentive Applied To Threshold for the Incentive Year"
on Advanced Individual Eligibility Setup form.

A complication is that the grid is populated with data from the coverage incentive max pay grid via left join
so that the amount and as-of-date can be filled in.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_amt_applied_to_threshold_list_load]

(
@family_eligibility_member_benefit_plan_id	Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fembpciatt.family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold_id
,fembpciatt.amount
,fembpciatt.as_of_date
,cimnp.coverage_incentive_max_net_pay_id
,cimnp.treatment_type_set_id
,tts.treatment_type_set_ud
,cimnp.treatment_type_category_id
,ttc.treatment_type_category_ud
,cimnp.treatment_type_id
,tt.treatment_type_ud
,fembpciatt.created_user_name as created_user_name
,fembpciatt.modified_date

FROM
family_eligibility_member_benefit_plan fembp
JOIN benefit_plan bp ON fembp.benefit_plan_id = bp.benefit_plan_id
JOIN coverage_incentive ci ON bp.coverage_incentive_id = ci.coverage_incentive_id
JOIN coverage_incentive_max_net_pay cimnp ON ci.coverage_incentive_id = cimnp.coverage_incentive_id
LEFT JOIN treatment_type_set tts ON cimnp.treatment_type_set_id = tts.treatment_type_set_id
LEFT JOIN treatment_type_category ttc ON cimnp.treatment_type_category_id = ttc.treatment_type_category_id
LEFT JOIN treatment_type tt ON cimnp.treatment_type_id = tt.treatment_type_id
LEFT JOIN family_eligibility_member_benefit_plan_coverage_incentive_applied_to_threshold fembpciatt
ON fembp.family_eligibility_member_benefit_plan_id = fembpciatt.family_eligibility_member_benefit_plan_id
WHERE
fembp.family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id
AND
(
(
cimnp.calendar_year <= YEAR(fembp.effective_from)
AND ISNULL(cimnp.through, 9999) >= YEAR(ISNULL(fembp.effective_from, '9/9/9999'))
)
OR
(
cimnp.calendar_year <= YEAR(fembp.effective_thru)
AND ISNULL(cimnp.through, 9999) >= YEAR(ISNULL(fembp.effective_thru, '9/9/9999'))
)
)
ORDER BY cimnp.calendar_year, cimnp.through

RETURN @SP_SUCCESS
GO
