USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_definition_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 01/26/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure used for creating duplicate Dental Alternate Course of Treatment Definition Records.
--
REQUIREMENTS:
--
INPUTS:
@Id,
@UD,
and other values that need to be copied over to the duplicated form

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_alternate_course_of_treatment_definition_duplicate]

(
@ID											INT,
@UD											NVARCHAR(50),
@created_user_name							NVARCHAR(128)	= NULL
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@new_id										INT,
@ERROR 										NVARCHAR(50)


--Copying header data

INSERT INTO alternate_course_of_treatment_map(
alternate_course_of_treatment_map_ud
,alternate_course_of_treatment_map_nm
,description
,active
,created_user_name
,created_group_id
,created_date
,modified_date
)
SELECT
@UD
,alternate_course_of_treatment_map_nm
,description
,active
,created_user_name
,created_group_id
,GETDATE()		--@created_date
,NULL				--@modified_date
FROM alternate_course_of_treatment_map
WHERE alternate_course_of_treatment_map_id = @ID
--
SELECT @new_id = SCOPE_IDENTITY()

-- CHILD TABLES
-- Copy alternate_course_dental_restorative_bundling_set
INSERT INTO alternate_course_dental_restorative_bundling_set
(
alternate_course_of_treatment_map_id
, dental_restorative_bundling_set_id
, [enabled]
, active
, created_user_name
, created_group_id
, created_date
)
SELECT
@new_id
, dental_restorative_bundling_set_id
, [enabled]
, active
, created_user_name
, created_group_id
, getdate()
FROM alternate_course_dental_restorative_bundling_set
WHERE alternate_course_of_treatment_map_id = @ID

-- Copy alternate_course_of_treatment_grouping_assignment
INSERT INTO alternate_course_of_treatment_grouping_assignment
(
alternate_course_of_treatment_map_id
, ranking
, procedure_code_id
, alternate_course_code_group_id
, alternate_procedure_code_id
, combine
, pend_for_review
, active
, created_user_name
, created_group_id
, created_date
)
SELECT
@new_id
, ranking
, procedure_code_id
, alternate_course_code_group_id
, alternate_procedure_code_id
, combine
, pend_for_review
, active
, created_user_name
, created_group_id
, getdate()
FROM alternate_course_of_treatment_grouping_assignment
WHERE alternate_course_of_treatment_map_id = @ID

-- copy alternate_course_of_treatment_map_detail
-- use a cursor to also capture child table
DECLARE map_detail_cursor CURSOR FORWARD_ONLY FOR
SELECT alternate_course_of_treatment_map_detail_id
FROM alternate_course_of_treatment_map_detail
WHERE alternate_course_of_treatment_map_id = @ID

OPEN map_detail_cursor
DECLARE @alternate_course_of_treatment_map_detail_id INT, @new_alternate_course_of_treatment_map_detail_id INT

FETCH NEXT FROM map_detail_cursor
INTO @alternate_course_of_treatment_map_detail_id

WHILE @@FETCH_STATUS = 0
BEGIN

INSERT INTO alternate_course_of_treatment_map_detail(
alternate_course_of_treatment_map_id
,match_on_tooth_set_id
,match_on_procedure_code_type_id
,procedure_code_group_id
,match_on_number_of_surfaces
,match_on_age_begin
,match_on_age_end
,unit_month_year_id
,match_on_begin_tooth_number_id
,match_on_end_tooth_number_id
,area_of_oral_cavity_id
,match_on_begin_procedure_code_id
,match_on_end_procedure_code_id
,alternate_course_procedure_code_type_id
,alternate_course_procedure_code_ud
,member_responsibility
,active
,created_user_name
,created_group_id
,created_date
,modified_date
)
SELECT
@new_id
,match_on_tooth_set_id
,match_on_procedure_code_type_id
,procedure_code_group_id
,match_on_number_of_surfaces
,match_on_age_begin
,match_on_age_end
,unit_month_year_id
,match_on_begin_tooth_number_id
,match_on_end_tooth_number_id
,area_of_oral_cavity_id
,match_on_begin_procedure_code_id
,match_on_end_procedure_code_id
,alternate_course_procedure_code_type_id
,alternate_course_procedure_code_ud
,member_responsibility
,active
,created_user_name
,created_group_id
,GETDATE() --@created_date
,NULL --@modified_date
FROM alternate_course_of_treatment_map_detail
WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id

SET @new_alternate_course_of_treatment_map_detail_id = SCOPE_IDENTITY()

INSERT INTO	alternate_course_of_treatment_map_detail_tooth_surface (
alternate_course_of_treatment_map_detail_id
, tooth_surface_id)
SELECT
@new_alternate_course_of_treatment_map_detail_id
, tooth_surface_id
FROM alternate_course_of_treatment_map_detail_tooth_surface
WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id

FETCH NEXT FROM map_detail_cursor
INTO @alternate_course_of_treatment_map_detail_id

END

CLOSE map_detail_cursor
DEALLOCATE map_detail_cursor

RETURN isnull(@new_id, 0)
GO
