USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_batch_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dslayton
DATE: 03/26/2012
--
REVISION HISTORY:
03/26/2012 dslayton Created
03/30/2012 CKnobloch removed description and updated table/column names.
06/13/2017 AMortensen RT:10857 - Adding posted date/username

DESCRIPTION:
Load for Customer Payment Batch Form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_batch_load]
(
@accounting_transaction_ar_payment_batch_id	INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
atapb.accounting_transaction_ar_payment_batch_id
,atapb.accounting_transaction_ar_payment_batch_ud
,atapb.accounting_transaction_ar_payment_batch_status_id
,atapbs.accounting_transaction_ar_payment_batch_status_ud
,atapb.accounting_company_id
,ac.accounting_company_ud
,atapb.bank_account_id
,ba.bank_account_ud
,atapb.ar_accounting_company_account_id AS accounting_company_account_id
,aca.accounting_company_account_ud
,atapb.payment_method_customer_id
,atapb.payment_date
,atapb.auto_apply
,atapb.modified_date
,apply_to.posted_date
,apply_to.posted_user_name

FROM
accounting_transaction_ar_payment_batch atapb
LEFT JOIN accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch apply_to_batch
ON apply_to_batch.accounting_transaction_ar_payment_batch_id = atapb.accounting_transaction_ar_payment_batch_id
LEFT JOIN accounting_transaction_ar_apply_to apply_to
ON apply_to.accounting_transaction_ar_apply_to_id = apply_to_batch.accounting_transaction_ar_apply_to_id
LEFT JOIN accounting_company ac
ON ac.accounting_company_id = atapb.accounting_company_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atapb.ar_accounting_company_account_id
LEFT JOIN accounting_transaction_ar_payment_batch_status atapbs
ON atapb.accounting_transaction_ar_payment_batch_status_id = atapbs.accounting_transaction_ar_payment_batch_status_id
LEFT JOIN bank_account ba
ON ba.bank_account_id = atapb.bank_account_id

WHERE
atapb.accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id
--
RETURN @SP_SUCCESS
--
GO
