USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_practice_office_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
thuy ngo
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_practice_office_load]
(
@provider_id				INT = NULL
,@provider_identifier_id	INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT  practice_office.practice_office_id
,practice_office.practice_office_ud
,practice_office.practice_office_nm
FROM practice_office
INNER JOIN provider_practice_office
ON practice_office.practice_office_id = provider_practice_office.practice_office_id
AND provider_practice_office.provider_id = @provider_id
LEFT JOIN provider_identifier
ON provider_practice_office.provider_id = provider_identifier.provider_id
AND (provider_identifier.only_practice_office_id IS NULL
OR practice_office.practice_office_id = provider_identifier.only_practice_office_id)
WHERE provider_identifier.provider_identifier_id = @provider_identifier_id
OR @provider_identifier_id IS NULL
ORDER BY practice_office_ud

--
RETURN @SP_SUCCESS
--
END
GO
