USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_pre_existing_condition_rule_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/14/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
The procedure is used to find the pre-existing condition rule sets that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE             PROCEDURE [dbo].[plx_find_pre_existing_condition_rule_set_load]
(
@get_column_headers			BIT = 0,
@pre_existing_condition_rule_set_ud nvarchar(50)=null,
@pre_existing_condition_rule_set_nm nvarchar(100)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END
IF @pre_existing_condition_rule_set_ud IS NOT NULL AND @pre_existing_condition_rule_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pre_existing_condition_rule_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@pre_existing_condition_rule_set_ud, @show_exact_matches) + @Suffix
IF @pre_existing_condition_rule_set_nm IS NOT NULL AND @pre_existing_condition_rule_set_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pre_existing_condition_rule_set_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@pre_existing_condition_rule_set_nm, @show_exact_matches) + @Suffix
/*
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND description ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

*/
SET @SqlQuery =
'		SELECT  pre_existing_condition_rule_set_id
,pre_existing_condition_rule_set_ud
,pre_existing_condition_rule_set_nm
,'''' as description
FROM 	pre_existing_condition_rule_set
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
