USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_waiting_period_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/29/2005
--
DESCRIPTION:
Load data for benefit contract in use grid in Elibility Retrictions spec
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_waiting_period_list_load]
(
@benefit_waiting_period_relationship_to_subscriber_id	int = NULL
)
AS
begin

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION	= -1

SELECT
benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_waiting_period_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_waiting_period_ud,
benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.effective_from,
benefit_waiting_period_relationship_to_subscriber_waiting_period.effective_thru,
benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_date_rule_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.number_of_units,
benefit_waiting_period_relationship_to_subscriber_waiting_period.unit_day_week_month_year_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_set_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_category_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_status_id,
treatment_type_category.treatment_type_category_ud,
treatment_type_set.treatment_type_set_ud,
treatment_type.treatment_type_ud,
unit_day_week_month_year.unit_day_week_month_year_ud,
result_code.result_code_ud,
result_code_status.result_code_status_ud

FROM
benefit_waiting_period_relationship_to_subscriber_waiting_period
LEFT JOIN result_code_status
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_status_id = result_code_status.result_code_status_id
LEFT OUTER JOIN result_code
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_id = result_code.result_code_id
LEFT OUTER JOIN unit_day_week_month_year
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.unit_day_week_month_year_id = unit_day_week_month_year.unit_day_week_month_year_id
LEFT OUTER JOIN treatment_type_set
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_set_id = treatment_type_set.treatment_type_set_id
LEFT OUTER JOIN treatment_type
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_id = treatment_type.treatment_type_id
LEFT OUTER JOIN treatment_type_category
ON benefit_waiting_period_relationship_to_subscriber_waiting_period.treatment_type_category_id = treatment_type_category.treatment_type_category_id

WHERE
benefit_waiting_period_relationship_to_subscriber_id =@benefit_waiting_period_relationship_to_subscriber_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
END
GO
