USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_data_audit_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kirk Chedotal
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/01/2024  Kirk Chedotal	1.0			Created
06/09/2024	Kirk Chedotal	1.1			RT-26228: changed drop/create of #AuditTableCount to dynamic SQL to allow IF EXISTS check

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:
-- @data_audit_functional_area_id		ID for the data_audit_functional_area table
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
-- [plx_data_audit_table_save]
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_data_audit_save]
(
@data_audit_functional_area_id			INT = NULL

)
AS

BEGIN

SET NOCOUNT ON;

-- Return constants
DECLARE @ResultCodeSuccess INT = 0;
DECLARE @msg NVARCHAR(255) = N'';

-- exit stored procedure if data_audit_functional_area table is empty and no parameter passed
--	if the table is not empty and/or a parameter is passed, then the code continues and validation happens later in the code
IF NOT EXISTS (SELECT 1 FROM dbo.data_audit_functional_area) AND @data_audit_functional_area_id IS NULL
RETURN @ResultCodeSuccess;

BEGIN TRY

CREATE TABLE #functional_area_ids (functional_area_id INT, functional_area_is_enabled BIT);

INSERT INTO #functional_area_ids
(
functional_area_id,
functional_area_is_enabled
)
SELECT data_audit_functional_area_id
,is_enabled
FROM dbo.data_audit_functional_area
WHERE
(data_audit_functional_area_id = @data_audit_functional_area_id OR @data_audit_functional_area_id IS NULL);

IF NOT EXISTS (SELECT 1 FROM #functional_area_ids)
BEGIN
SELECT @msg = N'data_audit_functional_area_id = ' + ISNULL(CAST(@data_audit_functional_area_id AS NVARCHAR(10)),'') + N' does not exist.';
THROW 50000, @msg, 1;
END;

CREATE TABLE #data_audit_table_ids (data_audit_table_id INT, data_audit_operation CHAR(1));

DECLARE @functional_area_id						INT;
DECLARE @functional_area_is_enabled				BIT;

DECLARE functional_areas CURSOR FAST_FORWARD FOR SELECT functional_area_id, functional_area_is_enabled FROM #functional_area_ids;

OPEN functional_areas;
FETCH NEXT FROM functional_areas INTO @functional_area_id, @functional_area_is_enabled;

WHILE @@FETCH_STATUS = 0
BEGIN

DELETE FROM #data_audit_table_ids;

IF @functional_area_is_enabled = 1
BEGIN
-- tables to add to auditing process
INSERT INTO #data_audit_table_ids
(
data_audit_table_id,
data_audit_operation
)
SELECT dat.data_audit_table_id,
operation = N'A'
FROM sys.tables t
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.[data_audit_table_schema_nm]
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE
dafa.data_audit_functional_area_id = @functional_area_id
AND dafa.is_enabled = @functional_area_is_enabled
AND OBJECT_ID('plx_data_audit.' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit', 'U') IS NULL
ORDER BY dat.data_audit_table_id;

-- tables already being auditing that may need to be updated
INSERT INTO #data_audit_table_ids
(
data_audit_table_id,
data_audit_operation
)
SELECT dat.data_audit_table_id,
operation = N'U'
FROM sys.tables t
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.[data_audit_table_schema_nm]
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE
dafa.data_audit_functional_area_id = @functional_area_id
AND dafa.is_enabled = @functional_area_is_enabled
AND OBJECT_ID('plx_data_audit.' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit', 'U') IS NOT NULL
ORDER BY dat.data_audit_table_id;

END;
ELSE  -- @functional_area_is_enabled = 0
BEGIN

-- tables to remove from auditing process
INSERT INTO #data_audit_table_ids
(
data_audit_table_id,
data_audit_operation
)
SELECT dat.data_audit_table_id,
operation = N'D'
FROM sys.tables t
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.[data_audit_table_schema_nm]
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE
dafa.data_audit_functional_area_id = @functional_area_id
AND dafa.is_enabled = @functional_area_is_enabled
AND OBJECT_ID('plx_data_audit.' + SCHEMA_NAME(t.schema_id) + '_' + t.name + '_data_audit', 'U') IS NOT NULL
ORDER BY dat.data_audit_table_id;

END;

IF EXISTS (SELECT 1 FROM #data_audit_table_ids)
BEGIN

DECLARE @curr_table_id INT;
DECLARE @last_table_id INT;
DECLARE @operation CHAR(1);
DECLARE @tablename NVARCHAR(128) = N'';
DECLARE @sql NVARCHAR(1000) = N'';

SELECT @curr_table_id = MIN(data_audit_table_id) FROM #data_audit_table_ids;
SELECT @last_table_id  = MAX(data_audit_table_id) FROM #data_audit_table_ids;

WHILE @curr_table_id <= @last_table_id
BEGIN

SELECT @operation = data_audit_operation
FROM #data_audit_table_ids
WHERE data_audit_table_id = @curr_table_id;

IF @operation = N'D'
BEGIN
-- check to make sure audit table is empty to see if it can be dropped
SELECT @tablename = dat.[data_audit_table_schema_nm] + '_' + dat.[data_audit_table_table_nm] + '_data_audit'
FROM dbo.data_audit_table dat
WHERE dat.data_audit_table_id = @curr_table_id;

SELECT @sql = N'DROP TABLE IF EXISTS #AuditTableCount;';
EXEC (@sql);

CREATE TABLE #AuditTableCount (row_count INT);

-- check to make sure audit table is empty before dropping it;
SELECT @sql = N'INSERT INTO #AuditTableCount (row_count) SELECT count(*) as row_count FROM plx_data_audit.' + @tablename;
EXEC (@sql);

IF EXISTS (SELECT 1 FROM #AuditTableCount WHERE row_count > 0)
-- table is not empty, pass indicator to retain audit table
EXEC dbo.[plx_data_audit_table_delete] @curr_table_id, 0;
ELSE
-- table is empty, pass indicator to drop audit table
EXEC dbo.[plx_data_audit_table_delete] @curr_table_id, 1;
END;
ELSE
BEGIN
EXEC dbo.[plx_data_audit_table_save] @curr_table_id, @operation;
END;

SELECT @curr_table_id = MIN(data_audit_table_id) FROM #data_audit_table_ids WHERE data_audit_table_id > @curr_table_id;

END;
END;

FETCH NEXT FROM functional_areas INTO @functional_area_id, @functional_area_is_enabled;

END;

CLOSE functional_areas;
DEALLOCATE functional_areas;

END TRY
BEGIN CATCH

DECLARE
@ErrorMessage   NVARCHAR(4000)
,   @ErrorNumber    INT           = ERROR_NUMBER()
,   @ErrorSeverity  INT           = ERROR_SEVERITY()
,   @ErrorState     INT           = ERROR_STATE()
,   @ErrorLine      INT           = ERROR_LINE()
,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT
@ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
+ CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
+ ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR(
@ErrorMessage, @ErrorSeverity, 1
,   @ErrorNumber    -- parameter: original error number.
,   @ErrorSeverity  -- parameter: original error severity.
,   @ErrorState     -- parameter: original error state.
,   @ErrorProcedure -- parameter: original error procedure name.
,   @ErrorLine      -- parameter: original error line number.
);

END CATCH;

RETURN @ResultCodeSuccess;

END;
GO
