USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_vendor_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
7/9/2009   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
7/9/2009	Casey B. Cessnun		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the carrier_vendor table.
This stored procedure is used in Vendor grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_carrier_vendor_save]
(
@carrier_vendor_id                 int = NULL   OUTPUT
,@carrier_id                                 int = NULL
,@vendor_id                                  int = NULL
,@criteria_id                                int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @carrier_vendor_id is Null
BEGIN

--- Create a new carrier_vendor record
INSERT INTO carrier_vendor(
carrier_id
,vendor_id
,criteria_id
,effective_from
,effective_thru
,active
)
VALUES
(@carrier_id
,@vendor_id
,@criteria_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @carrier_vendor_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM carrier_vendor WHERE carrier_vendor_id = @carrier_vendor_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing carrier_vendor record
UPDATE carrier_vendor
SET
carrier_id                               = @carrier_id
,vendor_id                                = @vendor_id
,criteria_id                              = @criteria_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE carrier_vendor_id = @carrier_vendor_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
