USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_vendor_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/16/2005	Lamnguyen	1.0			create
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
Save data for Vendor grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_client_vendor_save]
(
@client_vendor_id                           int = NULL   OUTPUT
,@client_id                                  int = NULL
,@vendor_id                                  int = NULL
,@criteria_id                                int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
,    @ERROR_CANT_INSERT 	NVARCHAR(50)
,  @ERROR_CANT_UPDATE 	NVARCHAR(50)
,  @ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
,@ERROR_NOT_EXIST	= '159010030'
,@ERROR_CANT_INSERT 	= '159010028'
,@ERROR_CANT_UPDATE 	= '159010029'
--

IF @client_vendor_id is Null
BEGIN
--- Create a new record
INSERT INTO client_vendor(
client_id
,vendor_id
,criteria_id
,effective_from
,effective_thru
)
VALUES
(@client_id
,@vendor_id
,@criteria_id
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @client_vendor_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM client_vendor WHERE client_vendor_id = @client_vendor_id )
BEGIN

RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--
UPDATE client_vendor
SET
client_id                                = @client_id
,vendor_id                                = @vendor_id
,criteria_id                              = @criteria_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_vendor_id = @client_vendor_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
