USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_data_member_criteria_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 03/10/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/20/2009	eponomareff		1.0		Created
04/30/2009	eponomareff		1.1		Added security flag to dropdown
05/27/2009	eponomareff		1.2		Security Flag renamed Security Set
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:	Load drop down of business objects to which member data level security may be applied
This combo box appears on the security form Edit Permissions - Data Restrictions tab
NOTE: For now, we are only dealing with member, but there may be more in future.
These will need their own stored proceudre

Dropdown returns - Client, Group, Benefit Contract and Security Flag
Also their find forms, from ui_engine_parameter_lookup

--
REQUIREMENTS:
--
INPUTS:
form_name
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_data_member_criteria_type_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT

--golden key does not show in dropdown
golden_key
,criteria_object_type_name =
CASE golden_key
WHEN 'CLIENT_NAME' THEN 'Client'
WHEN 'CLIENT_GROUP' THEN 'Group'
WHEN 'BENEFIT_CONTRACT' THEN 'Benefit Contract'
WHEN 'SECURITY_FLAG' THEN 'Security Set'
END
--	,uelp.stored_field
--	,uelp.displayed_field
--	,uelp.find_form
--	,uelp.table_name
FROM ui_engine_lookup_parameter uelp
WHERE golden_key in
('CLIENT_NAME',
'CLIENT_GROUP',
'BENEFIT_CONTRACT',
'SECURITY_FLAG')
ORDER BY golden_key desc

RETURN @SP_SUCCESS
--
GO
