USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_business_object_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/01/2005	Hiep Nguyen	1.0		Created
12/06/2005	Anh Ta		1.0		Using for Result code form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down business_object (Business Object)
--
REQUIREMENTS:
--
INPUTS:
business_object_id - Key to business_object table, identifies a single stored dd_business_object.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_business_object_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
business_object_id
,business_object_ud
,business_object_nm

FROM dbo.business_object
ORDER BY business_object_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
