USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_audit_create_trigger]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_audit_create_trigger]
(
@table_name varchar(128)
)
--   plx_audit_create_trigger claim
as
set nocount on
--DECLARE @table_name SYSNAME
DECLARE @COLUMN_DEFINITION NVARCHAR(256)
DECLARE @sql_string VARCHAR(8000)
DECLARE @sql_string2 VARCHAR(8000)
DECLARE @sql_string3 VARCHAR(8000)
DECLARE @sql_drop_string NVARCHAR(4000)
DECLARE @column_list NVARCHAR(4000)
declare @extra_columns nvarchar(300)

--SET @table_name = 'account_rule'


SELECT  @column_list = COALESCE(@column_list + ', ', '') + name
FROM    sys.columns
WHERE   object_id = OBJECT_ID(@table_name)
ORDER BY column_id

SELECT  @column_list = @column_list
set @extra_columns = ', audit_date, audit_login, audit_action '




select  @sql_drop_string = 'IF OBJECT_ID(''trg_audit_' + @table_name
+ ''',''TR'') IS NOT NULL
DROP TRIGGER trg_audit_' + @table_name + ' '

select  @sql_string = 'CREATE TRIGGER trg_audit_' + @table_name + '
ON dbo.' + @table_name + '
FOR INSERT, UPDATE, DELETE
AS
set nocount on
DECLARE @Cinfo VARBINARY(128)
SELECT @Cinfo = Context_Info()
--do not execute  a
IF @Cinfo = cast(1 as VARBINARY(128))
BEGIN
RETURN
END

IF (SELECT COUNT(*) FROM inserted) > 0
BEGIN
IF (SELECT COUNT(*) FROM deleted) > 0
BEGIN -- update!
INSERT INTO zz_audit_' + @table_name + '(
' + @column_list + @extra_columns + ')
SELECT
' + @column_list + ', GETDATE(), SUSER_SNAME(), ''U''
FROM inserted
END '
select  @sql_string2 = '        ELSE
BEGIN -- insert!
INSERT INTO zz_audit_' + @table_name + '(
' + @column_list + @extra_columns + ')
SELECT
' + @column_list + ', GETDATE(), SUSER_SNAME(), ''I''
FROM inserted
END
END '
select  @sql_string3 = '        ELSE
BEGIN -- delete!
INSERT INTO zz_audit_' + @table_name + '(
' + @column_list + @extra_columns + ')
SELECT
' + @column_list + ', GETDATE(), SUSER_SNAME(), ''D''
FROM deleted
END '

--select @sql_drop_string
--select @sql_string
--select @sql_string2
--select @sql_string3


EXEC sp_executesql @sql_drop_string

EXEC ( @sql_string + @sql_string2 + @sql_string3 )
GO
