USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_set_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[plx_client_group_set_load] (@client_group_set_id INT = 0)
AS
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT cgs.client_group_set_id,
cgs.client_group_set_ud,
cgs.client_group_set_nm,
cgs.active,
cgs.created_user_name,
cgs.created_group_id,
cgs.created_date,
cgs.modified_date
FROM dbo.client_group_set cgs
WHERE cgs.client_group_set_id = @client_group_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
