USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_attachment_type_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachment type codes
******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_attachment_type_code_load]
(
@include_professional BIT = 0,
@include_dental BIT = 0,
@include_institutional BIT = 0
)
AS
SELECT
atatc.claim_attachment_type_code_id,
atatc.claim_attachment_type_code_ud,
atatc.description
FROM dbo.claim_attachment_type_code atatc
WHERE
(@include_professional = 1 AND atatc.professional = 1) OR
(@include_dental = 1 AND atatc.dental = 1) OR
(@include_institutional = 1 AND atatc.institutional = 1)
ORDER BY atatc.claim_attachment_type_code_ud
RETURN 0
GO
