USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_invoice_void_reason_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/16/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/16/2009	David Slayton	1.0			Created based on plx_dd_accounting_void_reason_load
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'accounting_invoice_void_reason' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_invoice_void_reason_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT accounting_invoice_void_reason_id,
accounting_invoice_void_reason_ud
FROM accounting_invoice_void_reason
ORDER BY accounting_invoice_void_reason_ud
--

RETURN @SP_SUCCESS
--
END
GO
