USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:	Used by Customer Refund form (frmAccountingRefundAr), to delete a record from the
AR Credit Transactions Included in Customer Refund grid (grdTransactionDetails).

After deleting the records, we also re-calculate the Refund amount.
Only Credits are added to a Refund, so we do a simple sum.

We also recalculate the distribution records.

*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_delete]
(
@accounting_transaction_ar_apply_to_id 	INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT
,@SP_EXCEPTION INT
,@refund_id INT
,@accounting_transaction_ar_id INT
,@multiplier INT
,@apply_to_amount NUMERIC(20,10);

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;
--
IF @accounting_transaction_ar_apply_to_id IS NOT NULL
BEGIN
IF NOT EXISTS (SELECT 1 FROM accounting_transaction_ar_apply_to WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
-- Get the transaction id, Refund ID, and apply to amount from the apply to record for updates later
SELECT
@refund_id = from_accounting_transaction_ar_id
,@accounting_transaction_ar_id = to_accounting_transaction_ar_id
,@apply_to_amount = amount
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id;

-- Get the multiplier for the ar transaction.
-- For a Refund, the Credit is positive (in the same direction as the Refund). A charge is negative.
SELECT @multiplier =
CASE atart.golden_key
WHEN 'CHARGE' THEN -1
WHEN 'CREDIT' THEN  1
END
FROM accounting_transaction_ar_type atart
JOIN accounting_transaction_ar atar
ON atart.accounting_transaction_ar_type_id = atar.accounting_transaction_ar_type_id
WHERE atar.accounting_transaction_ar_id = @accounting_transaction_ar_id;

-- Delete the apply to record from the Refund
DELETE FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id;

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Update the transaction status for the AR Transaction affected
EXEC plx_update_accounting_statuses_for_ar_transaction @accounting_transaction_ar_id

-- Update transaction_amount for Refund
-- only CREDITS are allowed on refunds, so we can do a simple sum.
DECLARE @refund_amount NUMERIC(20,10) = (SELECT ISNULL(SUM(amount), 0) FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @refund_id);
UPDATE accounting_transaction_ar
SET
transaction_amount          = @refund_amount
,modified_user_name         = ORIGINAL_LOGIN()
,modified_date              = GETDATE()
WHERE accounting_transaction_ar_id = @refund_id;

-- Re-Calculate Refund Distributions
EXEC plx_accounting_transaction_ar_refund_distributions_update @refund_id;

END
--
END
RETURN @SP_SUCCESS
--
GO
