USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Save data for Vendor Refund Request form Header
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_detail_save]
(
@accounting_transaction_ap_id                         INT = NULL  OUTPUT -- This param must be first!
,@accounting_transaction_ap_refund_request_detail_id   INT = NULL   OUTPUT
-- accounting_transaction_ap table
-- no ud, because it is auto-generated and may not be edited
,@vendor_refund_request_reason_id                      INT
-- DO NOT SAVE the transaction_amount for the refund request here.
-- It is updated with the save to the apply_to
-- ,@vendor_refund_request_amount                      NUMERIC(20,10)
,@accounting_payment_status_id                         INT = NULL
,@vendor_refund_request_date                           DATETIME
,@due_date                                             DATETIME
,@memo                                                 NVARCHAR(200)
,@vendor_id                                            INT
,@accounting_company_id                                INT
,@ap_accounting_company_account_id                     INT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @accounting_vendor_refund_request_transaction_type_id INT

SELECT @accounting_vendor_refund_request_transaction_type_id = accounting_transaction_ap_type_id
FROM accounting_transaction_ap_type
WHERE golden_key = 'VENDOR_REFUND_REQUEST';

--IF @vendor_refund_request_amount IS NULL
--	SET @vendor_refund_request_amount = 0;
--
IF @accounting_transaction_ap_refund_request_detail_id IS NULL
BEGIN
-- Get the autogenerated Vendor Refund Request UD
DECLARE @vendor_refund_ud NVARCHAR(100)
EXEC plx_auto_create_accounting_vendor_refund_id_rule @vendor_id, @vendor_refund_ud OUTPUT

INSERT INTO accounting_transaction_ap(
accounting_transaction_ap_ud
,vendor_id
,accounting_company_id
,accounting_transaction_ap_type_id
,transaction_date
,transaction_amount
)
VALUES
(
@vendor_refund_ud
,@vendor_id
,@accounting_company_id
,@accounting_vendor_refund_request_transaction_type_id
,@vendor_refund_request_date
,0.0
)

SET @accounting_transaction_ap_id = @@IDENTITY

INSERT INTO accounting_transaction_ap_refund_request_detail(
accounting_transaction_ap_id
,vendor_refund_request_reason_id
,ap_accounting_company_account_id
,accounting_payment_status_id
,due_date
,memo
)
VALUES (
@accounting_transaction_ap_id
,@vendor_refund_request_reason_id
,@ap_accounting_company_account_id
,@accounting_payment_status_id
,@due_date
,@memo
)

SET @accounting_transaction_ap_refund_request_detail_id = @@IDENTITY

END
ELSE IF NOT EXISTS
(SELECT * FROM accounting_transaction_ap_refund_request_detail atpd
JOIN accounting_transaction_ap ata
ON atpd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
WHERE atpd.accounting_transaction_ap_id = @accounting_transaction_ap_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Update transaction record	(transaction of type vendor_refund_request)
UPDATE accounting_transaction_ap
SET
vendor_id                          = @vendor_id
,accounting_company_id              = @accounting_company_id
,accounting_transaction_ap_type_id  = @accounting_vendor_refund_request_transaction_type_id
,transaction_date                   = @vendor_refund_request_date
--,transaction_amount                 = @vendor_refund_request_amount
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE   accounting_transaction_ap_id = @accounting_transaction_ap_id

-- Update vendor_refund_request details record
UPDATE accounting_transaction_ap_refund_request_detail
SET
accounting_transaction_ap_id       = @accounting_transaction_ap_id
,vendor_refund_request_reason_id    = @vendor_refund_request_reason_id
,ap_accounting_company_account_id   = @ap_accounting_company_account_id
,accounting_payment_status_id       = @accounting_payment_status_id
,due_date                           = @due_date
,memo                               = @memo
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ap_refund_request_detail_id = @accounting_transaction_ap_refund_request_detail_id
END

--
RETURN @SP_SUCCESS
--
GO
