USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
REVISION HISTORY:
2/17/2012 dcannon removed fee_schedule_id (fee_schedule_rule is a child to fee_schedule, not the other way around)
08/18/2014 - RT:6046 Updated created/modified tombstone columns

DESCRIPTION:
Save for Fee Schedule Rule form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_fee_schedule_rule_save]
(
@fee_schedule_rule_id	int = NULL   OUTPUT
,@fee_schedule_rule_ud	nvarchar(50) = NULL
,@fee_schedule_rule_description				nvarchar(255) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840006',
@ERROR_NOT_EXIST	= '159840007',
@ERROR_CANT_UPDATE 	= '159840008'
--
IF ISNULL(@fee_schedule_rule_id,0) = 0
BEGIN

--- Create a new fee_schedule_rule record
INSERT INTO fee_schedule_rule(
fee_schedule_rule_ud
,description
)
VALUES
(@fee_schedule_rule_ud
,@fee_schedule_rule_description
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @fee_schedule_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule_rule WHERE fee_schedule_rule_id = @fee_schedule_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_rule record
UPDATE fee_schedule_rule
SET
fee_schedule_rule_ud      = @fee_schedule_rule_ud
,description              = @fee_schedule_rule_description
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_rule_id	= @fee_schedule_rule_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
