USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Loads a Claim Set

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
;
HEADER_END;
*******************************************************************************/

CREATE PROCEDURE [dbo].[plx_claim_analysis_set_load]
(
@claim_analysis_set_id INT = null
)
AS
BEGIN
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
cas.claim_analysis_set_id,
cas.claim_analysis_set_ud,
cas.description,
caq.claim_analysis_queue_id,
caq.claim_analysis_queue_ud,
cas.active,
cas.created_user_name,
cas.created_group_id,
cas.created_date,
cas.modified_date
FROM claim_analysis_set cas
INNER JOIN claim_analysis_queue caq ON caq.claim_analysis_queue_id = cas.claim_analysis_queue_id
WHERE cas.claim_analysis_set_id = ISNULL(@claim_analysis_set_id, 0)

IF @@ROWCOUNT > 1 RETURN @SP_EXCEPTION
ELSE RETURN @SP_SUCCESS
END
GO
