USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_contact_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 10/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/29/2005	mttran		1.0		create
11/02/2005	hata		1.1		update to not saving NULL data for Association Type
11/03/2005	kinhquoc	1.1		change table contact_association to family_eligibility_contact
11/04/2005	kinhquoc	1.1		update parameter's names
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Associated Contacts"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_family_eligibility_contact_save]
(
@family_eligibility_contact_id              int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@family_eligibility_id                      int = NULL
,@contact_association_type_id                int = NULL
,@is_primary                        		   bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF @contact_id IS NULL OR @contact_association_type_id IS NULL
RETURN @SP_SUCCESS

IF ISNULL(@family_eligibility_contact_id, 0) <= 0
BEGIN

/*SELECT	@component_kind_id = component_kind_id
FROM	dbo.component_kind
WHERE	component_kind.golden_key = 'FAMILY ELIGIBILITY'*/

--- Create a new record
INSERT INTO family_eligibility_contact(
contact_id
,family_eligibility_id
,contact_association_type_id
,is_primary
,effective_from
,effective_thru
,active
)
VALUES
(@contact_id
,@family_eligibility_id
,@contact_association_type_id
,@is_primary
,@effective_from
,@effective_thru
,@active
)
--
SET @family_eligibility_contact_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_contact WHERE family_eligibility_contact_id = @family_eligibility_contact_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_contact
SET
contact_id            					 = @contact_id
,family_eligibility_id                    = @family_eligibility_id
,contact_association_type_id              = @contact_association_type_id
,is_primary                      		 = @is_primary
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_contact_id = @family_eligibility_contact_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
