USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_template_find_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: t6nguyen
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/13/2006	t6nguyen		1.0		Used to Benefit Contract Form
05/14/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
07/27/2009  eponomareff    1.2      removed 1:M child columns from result set to prevent duplicate rows on find form
11/17/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
ICU:
--
DESCRIPTION:
Find for Benefit Contract Template form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_template_find_load]
(
@get_column_headers			BIT = 0
,@benefit_contract_ud		nvarchar(100) = NULL
,@benefit_contract_nm		nvarchar(200) = NULL
,@description			nvarchar(510) = NULL
,@client_group_id		int = NULL
,@benefit_plan_id		int = NULL
--,@product_line_id		int = NULL
--,@product_id			int = NULL
,@line_of_business_id	int = NULL
,@show_exact_matches		bit = NULL
)
AS


--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
DECLARE @strSQL nvarchar(3990)
IF RTRIM(@benefit_contract_ud) = ''
SET @benefit_contract_ud = NULL
IF RTRIM(@benefit_contract_nm) = ''
SET @benefit_contract_nm = NULL
IF RTRIM(@description) = ''
SET @description = NULL

IF @client_group_id <= 0
SET @client_group_id = NULL
IF @benefit_plan_id <= 0
SET @benefit_plan_id = NULL
--IF @product_line_id <= 0
--	SET @product_line_id = NULL
IF @line_of_business_id <= 0
SET @line_of_business_id = NULL

SET @strSQL =
'SELECT   DISTINCT TOP (dbo.fn_results_limit())
bc.benefit_contract_id
,bc.benefit_contract_ud

,bc.benefit_contract_nm
,cgn.client_group_ud
,cgn.client_group_nm       ' +

--	,bp.benefit_plan_ud
--	,bp.benefit_plan_nm

--	,pl.product_line_ud
--	,p.product_ud
'
FROM benefit_contract bc
left JOIN client_group cg ON (cg.template_benefit_contract_id = bc.benefit_contract_id)
left JOIN client_group_name cgn ON ((cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1))
left JOIN benefit_contract_period bcp ON (bcp.benefit_contract_id = bc.benefit_contract_id)
left JOIN benefit_contract_period_benefit_plan bcpbp ON (bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id)
left JOIN benefit_plan bp ON (bp.benefit_plan_id = bcpbp.benefit_plan_id)


--left JOIN benefit_contract_template_product_product_line bctp ON bctp.benefit_contract_template_id = bc.benefit_contract_id

--left JOIN product_line pl ON (bctp.product_line_id = pl.product_line_id)
LEFT JOIN line_of_business lob ON (lob.line_of_business_id = bc.line_of_business_id)

WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0
AND (bc.benefit_contract_template = 1)
'

IF (NOT @show_exact_matches IS NULL) AND (@show_exact_matches = 1)
BEGIN
IF NOT @benefit_contract_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_ud, '''') = N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_ud,@show_exact_matches) + ''')'
IF NOT @benefit_contract_nm IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_nm, '''') = N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_nm,@show_exact_matches) + ''')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.description, '''') = N''' + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + ''')'
END
ELSE
BEGIN
IF NOT @benefit_contract_ud IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_ud, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_ud,@show_exact_matches) + '%'')'
IF NOT @benefit_contract_nm IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.benefit_contract_nm, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@benefit_contract_nm,@show_exact_matches) + '%'')'
IF NOT @description IS NULL
SET @strSQL = @strSQL + ' AND (ISNULL(bc.description, '''') LIKE N''' + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + '%'')'
END

IF NOT @client_group_id IS NULL
SET @strSQL = @strSQL + ' AND (cg.client_group_id = ' + CONVERT(varchar(10), @client_group_id) + ')'


/*
--IF NOT @product_line_id IS NULL
--	SET @strSQL = @strSQL + ' AND (bc.product_line_id = ' + CONVERT(varchar(10), @product_line_id) + ')'

IF NOT @product_id IS NULL
SET @strSQL = @strSQL + ' AND (bc.product_id = ' + CONVERT(varchar(10), @product_id) + ')'
*/

--IF NOT @product_line_id IS NULL
--	SET @strSQL = @strSQL + ' AND (bctp.product_line_id = ' + CONVERT(varchar(10), @product_line_id) + ')'

IF NOT @line_of_business_id IS NULL
SET @strSQL = @strSQL + ' AND (bc.line_of_business_id = ' + CONVERT(varchar(10), @line_of_business_id) + ')'



IF NOT @benefit_plan_id IS NULL
SET @strSQL = @strSQL + ' AND (bcpbp.benefit_plan_id = ' + CONVERT(varchar(10), @benefit_plan_id) + ')'


print '--------QUERY---------'
print @strSQL
print '------END QUERY-------'


exec(@strSQL)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
