USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_member_expense_schedule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 06/30/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/30/2009	ioveracker	1.0		Created.
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Deletes a row from the Member Expense Schedules grid on the Benefit Framework form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_member_expense_schedule_delete]
(
@benefit_member_expense_schedule_id    INT = NULL
) AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--

IF NOT EXISTS
(
SELECT benefit_member_expense_schedule_id
FROM benefit_member_expense_schedule
WHERE benefit_member_expense_schedule_id = @benefit_member_expense_schedule_id
)
RETURN @SP_EXCEPTION
ELSE
BEGIN
DELETE FROM benefit_member_expense_schedule
WHERE benefit_member_expense_schedule_id = @benefit_member_expense_schedule_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

RETURN @SP_SUCCESS
GO
