USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_individual_eligibility_topic_name_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
--
DESCRIPTION:
Loads the topic names for individual eligibilities.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_individual_eligibility_topic_name_load]
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
additional_information_topic.additional_information_topic_id AS individual_eligibility_topic_id
,additional_information_topic.additional_information_topic_ud AS individual_eligibility_topic_ud
FROM additional_information_form
LEFT JOIN additional_information
ON additional_information.additional_information_form_id = additional_information_form.additional_information_form_id
LEFT JOIN additional_information_topic
ON additional_information_topic.additional_information_topic_id = additional_information.additional_information_topic_id
WHERE additional_information_form.additional_information_form_nm = 'frmAdvancedEligibilitySetup'
AND additional_information_topic.additional_information_topic_id IS NOT NULL
ORDER BY additional_information_topic.additional_information_topic_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
