USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_professional_medical_payment_method_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa
CREATED DATE: 01/26/2009
--
REVISION_HISTORY:
--
Date				Modified	By		Version		Description
--------------------------------------------------------------------------------
01/26/2009		Vishwa			1.0			Created
02/26/2009		Vishwa			2.0			added golden key to filter from UI while procedure code type selection
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down fee_schedule_payment_method for Professional Payment methods (Fee Schedule Professional Payment Method)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_fee_schedule_professional_medical_payment_method_load]

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_payment_method.fee_schedule_payment_method_id
,fee_schedule_payment_method.fee_schedule_payment_method_ud
,golden_key
FROM fee_schedule_payment_method
WHERE is_professional = 'True'
ORDER BY fee_schedule_payment_method.fee_schedule_payment_method_ud
--
RETURN @SP_SUCCESS
--
GO
