USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_setup_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:39PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_advance_setup table.
--
REQUIREMENTS:
--
INPUTS:
commission_advance_setup_id - Key to commission_advance_setup table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_commission_advance_setup_load]
(
@commission_advance_setup_id	Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_advance_setup.commission_advance_setup_id
,commission_advance_setup.commission_advance_setup_ud
,commission_advance_setup.description
,commission_advance_setup.effective_from
,commission_advance_setup.effective_thru
FROM commission_advance_setup
WHERE commission_advance_setup.commission_advance_setup_id = @commission_advance_setup_id
--
RETURN @SP_SUCCESS
GO
