USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_process_stage_data_queue_detail]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_payment_process_stage_data_queue_detail] (
@claim_payment_queue_queue_criteria_id INT
) AS

DECLARE
@adjStatusApproved INT,
@adjStatusDenied INT,
@processStatusAvailable INT,
@claimTypePredetermination INT,
@claimConcurrencyLockType INT

SELECT @adjStatusApproved = adjudication_status_id FROM adjudication_status WHERE golden_key = 'APPROVED';
SELECT @adjStatusDenied = adjudication_status_id FROM adjudication_status WHERE golden_key = 'DENY';
SELECT @processStatusAvailable = claim_payment_process_status_id FROM claim_payment_process_status WHERE golden_key = 'AVAILABLE';
SELECT @claimTypePredetermination = claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination';
SELECT @claimConcurrencyLockType = concurrency_lock_type_id FROM concurrency_lock_type WHERE golden_key = 'CLAIM';

CREATE TABLE #matchingProcs
(
claim_procedure_id INT NOT NULL,
claim_procedure_adjudication_status_id INT NOT NULL,
claim_id INT NOT NULL,
criteria_id INT NULL,
client_id INT NULL,
client_group_id INT NULL,
benefit_plan_id INT NULL,
plan_iteration_index INT NULL,
vendor_id INT NULL,
member_vendor_id INT NULL,
line_of_business_id INT NULL
);

DECLARE
@criteria_id INT,
@client_id INT,
@client_group_id INT,
@vendor_id INT,
@missing_vendor BIT;

SELECT
@criteria_id = criteria_id,
@client_id = client_id,
@client_group_id = client_group_id,
@vendor_id = vendor_id,
@missing_vendor = ISNULL(missing_vendor, 0)
FROM
claim_payment_queue_queue_criteria
WHERE
claim_payment_queue_queue_criteria_id = @claim_payment_queue_queue_criteria_id;

WITH ready_claims (
claim_id,
claim_procedure_id,
claim_procedure_adjudication_status_id,
client_id,
client_group_id,
benefit_plan_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
criteria_vendor_id,
line_of_business_id
)
AS
(
SELECT
c.claim_id,
cp.claim_procedure_id,
cp.adjudication_status_id,
cg.client_id,
cg.client_group_id,
ark.benefit_plan_id,
ISNULL(ark.plan_iteration_index, 1),
ark.vendor_id,
ark.member_vendor_id,
COALESCE(ark.vendor_id, ark.member_vendor_id),
bc.line_of_business_id
FROM
claim c
INNER JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
LEFT JOIN adjudication_result_key ark
ON cp.claim_procedure_id = ark.claim_procedure_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = ark.benefit_contract_id
LEFT JOIN client_group cg
ON cg.client_group_id = bc.client_group_id
WHERE
c.claim_form_type_id <> @claimTypePredetermination
-- Claim status.
AND c.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Claim procedure status.
AND cp.adjudication_status_id in (@adjStatusApproved, @adjStatusDenied)
-- Not being held
AND ISNULL(cp.hold, 0) = 0
-- Not already in accounting.
AND (c.claim_payment_process_status_id = @processStatusAvailable OR c.claim_payment_process_status_id IS NULL)
AND (cp.claim_payment_process_status_id = @processStatusAvailable OR cp.claim_payment_process_status_id IS NULL)
-- Not being edited.
AND NOT EXISTS (SELECT 1 FROM concurrency_lock cl WHERE cl.concurrency_lock_type_id = @claimConcurrencyLockType AND record_id = c.claim_id)
-- Not in another run.
AND cp.claim_payment_run_id IS NULL
-- Only include base plans. Supp plans are handled by a different stored procedure.
AND ark.plan_iteration_index = 1
)
INSERT INTO #matchingProcs (
claim_procedure_id,
claim_procedure_adjudication_status_id,
claim_id,
criteria_id,
client_id,
client_group_id,
benefit_plan_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
line_of_business_id
)
SELECT
rc.claim_procedure_id,
rc.claim_procedure_adjudication_status_id,
rc.claim_id,
@criteria_id,
rc.client_id,
rc.client_group_id,
rc.benefit_plan_id,
rc.plan_iteration_index,
rc.vendor_id,
rc.member_vendor_id,
rc.line_of_business_id
FROM
ready_claims rc
WHERE
(
(@claim_payment_queue_queue_criteria_id IS NULL) -- When null, no criteria defined, want all claims.
OR
(
(@client_id IS NULL OR rc.client_id = @client_id)
AND (@client_group_id IS NULL OR rc.client_group_id = @client_group_id)
AND
(
(
-- All rows matching the vendor criteria.
(
@vendor_id IS NULL
OR rc.vendor_id = @vendor_id
OR rc.member_vendor_id = @vendor_id
)
)
OR
(
-- This catches the lines excluded with the check above when the missing vendor flag is set.
@missing_vendor = 1 AND rc.vendor_id IS NULL
)
)
)
);


-- When a claim procedure matches the grid criteria on multiple rows of a queue it is possible to get a situation where
-- the user defined criteria on one line would exclude the line while the criteria on another includes the line.  We do
-- not want multiple rows in the main staging table, and including the user defined criteria on multiple rows would
-- potentially select a lot more data.  This criteria-only staging table is designed to track the criteria details that
-- apply to a particular claim procedure.  The service will sort out whether the line should be in the run based on the
-- combination of all user defined criteria found.
INSERT INTO claim_payment_processing_criteria_work_table
(
claim_procedure_id,
plan_iteration_index,
criteria_id
)
SELECT
mp.claim_procedure_id,
mp.plan_iteration_index,
@criteria_id
FROM
#matchingProcs mp
WHERE
EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_procedure_id = mp.claim_procedure_id)

INSERT INTO claim_payment_processing_work_table (
claim_procedure_id,
claim_procedure_adjudication_status_id,
claim_id,
criteria_id,
client_id,
client_group_id,
benefit_plan_id,
plan_iteration_index,
vendor_id,
member_vendor_id,
line_of_business_id
)
SELECT
mp.claim_procedure_id,
mp.claim_procedure_adjudication_status_id,
mp.claim_id,
@criteria_id,
mp.client_id,
mp.client_group_id,
mp.benefit_plan_id,
mp.plan_iteration_index,
mp.vendor_id,
mp.member_vendor_id,
mp.line_of_business_id
FROM
#matchingProcs mp
WHERE
NOT EXISTS (SELECT 1 FROM claim_payment_processing_work_table wt WHERE wt.claim_procedure_id = mp.claim_procedure_id)
GO
