USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_allowed_on_benefit_contract_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006  3:46PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/10/2006     Thuy Ngo   1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_depreciation_allowed_on_benefit_contract table.
--
REQUIREMENTS:
--
INPUTS:
commission_depreciation_allowed_on_benefit_contract_id - Key to commission_depreciation_allowed_on_benefit_contract table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_commission_depreciation_allowed_on_benefit_contract_load]
(
@commission_depreciation_id			Int   = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_depreciation_allowed_on_benefit_contract.commission_depreciation_allowed_on_benefit_contract_id
,commission_depreciation_allowed_on_benefit_contract.benefit_contract_id
,benefit_contract.benefit_contract_ud
,benefit_contract.benefit_contract_nm

,commission_depreciation_allowed_on_benefit_contract.effective_from
,commission_depreciation_allowed_on_benefit_contract.effective_thru
FROM commission_depreciation_allowed_on_benefit_contract
LEFT JOIN commission_depreciation  ON commission_depreciation_allowed_on_benefit_contract.commission_depreciation_id = commission_depreciation.commission_depreciation_id
LEFT JOIN benefit_contract  ON commission_depreciation_allowed_on_benefit_contract.benefit_contract_id = benefit_contract.benefit_contract_id
WHERE commission_depreciation_allowed_on_benefit_contract.commission_depreciation_id = @commission_depreciation_id
ORDER BY
CASE WHEN commission_depreciation_allowed_on_benefit_contract.effective_from IS NULL THEN 0 ELSE 1 END , commission_depreciation_allowed_on_benefit_contract.effective_from DESC
,CASE WHEN commission_depreciation_allowed_on_benefit_contract.effective_thru IS NULL THEN 0 ELSE 1 END , commission_depreciation_allowed_on_benefit_contract.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
