USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_enrollment_coverage_level_state_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Load data with paging
Form: frmEnrollmentCoverageLevelDetail
Grid: grdQcCoverageLevelDetails
******************************/
CREATE PROCEDURE [dbo].[plx_enrollment_coverage_level_state_load]
(
@family_eligibility_id                      INT = 0,        -- calling form primary key
-- filter inputs
@benefit_plan_id                            INT = NULL,     -- used for filter (optional)
@benefit_contract_period_benefit_plan_id    INT = NULL,      -- used for filter (optional)
-- paging inputs
@page_number                      INT = 1,
@page_size                        INT = 50,
@sort_by                          NVARCHAR(255) = NULL,
@sort_ascending                   BIT = 1
)
AS

DECLARE @total_count INT;

-- set @benefit_plan_id based on @benefit_contract_period_benefit_plan_id, if needed.
IF @benefit_contract_period_benefit_plan_id IS NOT NULL AND @benefit_plan_id IS NULL
SET @benefit_plan_id = (SELECT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id);

-- put results into temp table, which will be paged and sorted later
DECLARE @temp_results TABLE
(
coverage_level_state_id INT NULL,
family_eligibility_id INT,
benefit_plan_id INT,
benefit_plan_ud NVARCHAR(100),
tier_criteria_id INT,
tier_criteria_ud NVARCHAR(100),
as_of_date DATE,
run_date DATETIME
);

INSERT INTO @temp_results
SELECT
cls.coverage_level_state_id,
cls.family_eligibility_id,
cls.benefit_plan_id,
bp.benefit_plan_ud,
cls.tier_criteria_id,
tc.tier_criteria_ud,
cls.as_of_date,
cls.modified_date as run_date
FROM
coverage_level_state cls
LEFT JOIN benefit_plan bp ON cls.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN tier_criteria tc ON cls.tier_criteria_id = tc.tier_criteria_id
WHERE
cls.family_eligibility_id = @family_eligibility_id
AND
(@benefit_plan_id IS NULL OR @benefit_plan_id = cls.benefit_plan_id);

SELECT @total_count = @@ROWCOUNT;

-- Records generated by the QC Process
SELECT
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
benefit_plan_ud,
tier_criteria_id,
tier_criteria_ud,
as_of_date,
run_date
FROM
@temp_results t
ORDER BY
--sort by specified field (by UD if available)
CASE WHEN @sort_by = 'benefit_plan_ud' AND @sort_ascending = 1 THEN benefit_plan_ud END ASC,
CASE WHEN @sort_by = 'benefit_plan_ud' AND @sort_ascending = 0 THEN benefit_plan_ud END DESC,

CASE WHEN @sort_by = 'tier_criteria_ud' AND @sort_ascending = 1 THEN tier_criteria_ud END ASC,
CASE WHEN @sort_by = 'tier_criteria_ud' AND @sort_ascending = 0 THEN tier_criteria_ud END DESC,

CASE WHEN @sort_by = 'as_of_date' AND @sort_ascending = 1 THEN as_of_date END ASC,
CASE WHEN @sort_by = 'as_of_date' AND @sort_ascending = 0 THEN as_of_date END DESC,

CASE WHEN @sort_by = 'run_date' AND @sort_ascending = 1 THEN run_date END ASC,
CASE WHEN @sort_by = 'run_date' AND @sort_ascending = 0 THEN run_date END DESC,

-- default
as_of_date DESC,
run_date DESC

OFFSET ((@page_number - 1) * @page_size) ROWS
FETCH NEXT @page_size ROWS ONLY

SELECT @total_count AS total_count

RETURN 0
GO
