USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_maintenance_list_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_family_eligibility_maintenance_list_save]
(
@family_eligibility_maintenance_id INT = NULL,
@family_eligibility_member_benefit_plan_id INT = NULL,
@eligibility_maintenance_type_code_id INT = NULL,
@eligibility_maintenance_reason_code_id INT =NULL,
@comment NVARCHAR(500) NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '105070005',
@ERROR_NOT_EXIST	= '105070006',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '105070007'
--
IF ISNULL(@family_eligibility_maintenance_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO family_eligibility_maintenance(
family_eligibility_member_benefit_plan_id,
eligibility_maintenance_type_code_id,
eligibility_maintenance_reason_code_id,
comment
)
VALUES (
@family_eligibility_member_benefit_plan_id,
@eligibility_maintenance_type_code_id,
@eligibility_maintenance_reason_code_id,
@comment
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @family_eligibility_maintenance_id = @@IDENTITY
END
--
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_maintenance WHERE family_eligibility_maintenance_id = @family_eligibility_maintenance_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int
UPDATE family_eligibility_maintenance
SET
family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id,
eligibility_maintenance_type_code_id = @eligibility_maintenance_type_code_id,
eligibility_maintenance_reason_code_id = @eligibility_maintenance_reason_code_id,
comment = @comment,
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()

WHERE family_eligibility_maintenance_id = @family_eligibility_maintenance_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
