USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_additional_information_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
--
DESCRIPTION:
This procedure loads data into the Additional Information grid on the Advanced
Individual Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_additional_information_list_load]
(
@family_eligibility_member_benefit_plan_id	int = null
,@form_name												varchar(255) = null
) AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF (
NOT
EXISTS(SELECT * FROM family_eligibility_member_benefit_plan_additional_information fembpai
WHERE fembpai.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id))
BEGIN
SELECT
CAST(NULL AS int) AS family_eligibility_member_benefit_plan_additional_information_id,
ai.additional_information_id,
ai.is_additional_information_required,
topic.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,
value.additional_information_topic_value_id AS additional_information_selection_value,
topic.default_value AS additional_information_value,
topic.default_value AS additional_information_raw_value,
CAST(NULL AS datetime) AS effective_from,
CAST(NULL AS datetime) AS effective_thru,
CAST(NULL AS nvarchar(50)) AS comment,
topic.format_string,
CAST(0 AS bit) AS is_new_value,
ai.modified_date
FROM additional_information AS ai
LEFT JOIN additional_information_form AS form
ON form.additional_information_form_id = ai.additional_information_form_id
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = ai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN additional_information_topic_value AS value
ON (value.additional_information_topic_id = topic.additional_information_topic_id
AND is_topic_value_default = 1
)
WHERE
form.additional_information_form_nm = @form_name
AND ai.is_additional_information_required = 1
END
ELSE
BEGIN
SELECT	addtemp.*
FROM
(
SELECT
fembpai.family_eligibility_member_benefit_plan_additional_information_id,
fembpai.additional_information_id,
(	SELECT is_additional_information_required
FROM additional_information
WHERE additional_information_id = fembpai.additional_information_id
) AS is_additional_information_required,
fembpai.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,

CASE WHEN fembpai.additional_information_selection_value IS NULL AND ui_engine_data_type.ui_engine_data_type_id = 30
THEN fembpai.additional_information_value
ELSE fembpai.additional_information_selection_value
END	AS additional_information_selection_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = 30
THEN NULL
ELSE fembpai.additional_information_value
END	AS additional_information_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = 30
THEN NULL
ELSE fembpai.additional_information_value
END	AS additional_information_raw_value,

fembpai.effective_from,
fembpai.effective_thru,
fembpai.comment,
topic.format_string,
fembpai.modified_date,
CAST(0 AS bit) AS is_new_value
FROM family_eligibility_member_benefit_plan_additional_information fembpai
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = fembpai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN ui_engine_data_type
ON ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
WHERE	fembpai.additional_information_topic_id IS NOT NULL
AND fembpai.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
UNION
-- Select topic from table of each entity
SELECT
fembpai.family_eligibility_member_benefit_plan_additional_information_id,
fembpai.additional_information_id,
ai.is_additional_information_required,
topic.additional_information_topic_id,
topic.additional_information_topic_ud,
data_type.ui_engine_data_type_id,
topic.user_can_add_data,

CASE WHEN fembpai.additional_information_selection_value IS NULL AND ui_engine_data_type.ui_engine_data_type_id = 30
THEN fembpai.additional_information_value
ELSE fembpai.additional_information_selection_value
END	AS additional_information_selection_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = 30
THEN null
ELSE fembpai.additional_information_value
END	AS additional_information_value,

CASE WHEN ui_engine_data_type.ui_engine_data_type_id = 30
THEN null
ELSE fembpai.additional_information_value
END	AS additional_information_raw_value,

fembpai.effective_from,
fembpai.effective_thru,
fembpai.comment,
topic.format_string,
fembpai.modified_date,
0 AS is_new_value
FROM family_eligibility_member_benefit_plan_additional_information fembpai
LEFT JOIN additional_information AS ai
ON ai.additional_information_id = fembpai.additional_information_id
LEFT JOIN additional_information_topic AS topic
ON topic.additional_information_topic_id = ai.additional_information_topic_id
LEFT JOIN additional_information_data_type AS data_type
ON topic.additional_information_data_type_id = data_type.additional_information_data_type_id
LEFT JOIN ui_engine_data_type
ON ui_engine_data_type.ui_engine_data_type_id = data_type.ui_engine_data_type_id
WHERE fembpai.additional_information_id IS NOT NULL
AND fembpai.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
) AS addtemp
ORDER BY
CASE WHEN addtemp.effective_from IS NULL THEN 0 ELSE 1 END, addtemp.effective_from DESC,
CASE WHEN addtemp.effective_thru IS NULL THEN 0 ELSE 1 END, addtemp.effective_thru DESC

END
--
RETURN @SP_SUCCESS
--
GO
