USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_invoice_history_payment_history_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Date: 03/05/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/28/2012	CKnobloch	     1.0		Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdInvoiceHistoryPaymentHistory on form frmCustomer

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_invoice_history_payment_history_load]
(
@invoice_history_invoice_accounting_transaction_ar_id	 INT = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT TOP (dbo.fn_results_limit())
accounting_transaction_ar.accounting_transaction_ar_id		AS invoice_history_payment_accounting_transaction_ar_id
,accounting_transaction_ar.accounting_transaction_ar_ud		AS invoice_history_payment_accounting_transaction_ar_ud
,atarpd.payment_date										AS invoice_history_payment_date
,aps.accounting_payment_status_ud							AS invoice_history_payment_status
,pmc.payment_method_customer_ud								AS invoice_history_payment_method
,atarpd.check_ach_reference									AS invoice_history_check_ach_reference
,accounting_transaction_ar.transaction_amount				AS invoice_history_payment_amount
,dbo.plx_fn_get_unapplied_amount_for_customer_payment(accounting_transaction_ar.accounting_transaction_ar_id) AS invoice_history_payment_applied_amount

FROM accounting_transaction_ar_apply_to apply_to
INNER JOIN	accounting_transaction_ar ON
apply_to.from_accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
INNER JOIN accounting_transaction_ar_payment_detail atarpd ON
atarpd.accounting_transaction_ar_id = apply_to.from_accounting_transaction_ar_id
LEFT JOIN payment_method_customer pmc ON
atarpd.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN accounting_payment_status aps ON
atarpd.accounting_payment_status_id = aps.accounting_payment_status_id

WHERE (apply_to.to_accounting_transaction_ar_id'
IF @invoice_history_invoice_accounting_transaction_ar_id IS NOT NULL
SET @strSQL = @strSQL + ' = '
+ CONVERT(NVARCHAR, @invoice_history_invoice_accounting_transaction_ar_id, 101) + ') '
ELSE
SET @strSQL = @strSQL + ' = -1 ) '

SET @strSQL = @strSQL + '
ORDER BY
apply_to.accounting_transaction_ar_apply_to_id DESC'



PRINT @strSQL

EXEC(@strSQL)

RETURN @SP_SUCCESS
--
GO
