USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_data_audit_table_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kirk Chedotal
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/01/2024  Kirk Chedotal	1.0			Created
06/09/2024	Kirk Chedotal	1.1			RT-26228: changed drop/create of #AuditTableCount to dynamic SQL to allow IF EXISTS check

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
--
-- Removes the audited table specified from the data auditing process. Also calls the
--		procedure plx_data_audit_trigger_delete to remove the trigger for the audited table specified.
-- NOTE: only the audit trigger is deleted; there is currently no support for removing the audit table once it is created
REQUIREMENTS:
--
INPUTS:
-- @data_audit_table_id					ID for the data_audit_table table
-- @drop_audit_table					flag to drop/retain audit table; table must be empty (archived) before dropping
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
-- [plx_data_audit_trigger_delete]
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_data_audit_table_delete]
(
@data_audit_table_id           INT,
@drop_audit_table				BIT = 0
)
AS

BEGIN

SET NOCOUNT ON;

-- Return constants
DECLARE @ResultCodeSuccess INT = 0;
DECLARE @AuditTableCount INT = 0;

BEGIN TRY

IF NOT EXISTS (SELECT 1
FROM dbo.data_audit_table
WHERE data_audit_table_id = @data_audit_table_id)
THROW 50000, 'Invalid data_audit_table_id', 1;

-- if a table is removed from the audit process, we first remove the trigger
EXEC dbo.[plx_data_audit_trigger_delete] @data_audit_table_id;

-- after removing trigger, check to see if drop table is requested
IF @drop_audit_table = 1
BEGIN

DECLARE @tablename NVARCHAR(128) = N'';
DECLARE @sql NVARCHAR(1000) = N'';
DECLARE @msg NVARCHAR(1000) = N'';

SELECT @tablename = dat.[data_audit_table_schema_nm] + '_' + dat.[data_audit_table_table_nm] + N'_data_audit;'
FROM dbo.data_audit_table dat
WHERE dat.data_audit_table_id = @data_audit_table_id;

SELECT @sql = N'DROP TABLE IF EXISTS #AuditTableCount;';
EXEC (@sql);

CREATE TABLE #AuditTableCount (row_count INT);

-- check to make sure audit table is empty before dropping it;
SELECT @sql = N'INSERT INTO #AuditTableCount (row_count) SELECT count(*) as row_count FROM plx_data_audit.' + @tablename;
EXEC(@sql);

IF EXISTS (SELECT 1 FROM #AuditTableCount WHERE row_count > 0)
BEGIN
SELECT @msg = 'Audit table ' + @tablename + 'must be empty before dropping it.';
THROW 50000, @msg, 1;
END;

SELECT @sql = N'DROP TABLE IF EXISTS plx_data_audit.' + @tablename;

EXEC (@sql);

END;

END TRY
BEGIN CATCH

DECLARE
@ErrorMessage   NVARCHAR(4000)
,   @ErrorNumber    INT           = ERROR_NUMBER()
,   @ErrorSeverity  INT           = ERROR_SEVERITY()
,   @ErrorState     INT           = ERROR_STATE()
,   @ErrorLine      INT           = ERROR_LINE()
,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT
@ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
+ CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
+ ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR(
@ErrorMessage, @ErrorSeverity, 1
,   @ErrorNumber    -- parameter: original error number.
,   @ErrorSeverity  -- parameter: original error severity.
,   @ErrorState     -- parameter: original error state.
,   @ErrorProcedure -- parameter: original error procedure name.
,   @ErrorLine      -- parameter: original error line number.
);

END CATCH;

RETURN @ResultCodeSuccess;

END;
GO
