USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_alias_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/02/2005	Anh Ta 		1.0		Created and using by 15898 Aliases
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down alias_type (Type (Alias))
--
REQUIREMENTS:
--
INPUTS:
alias_type_id - Key to alias_type table, identifies a single stored dd_alias_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_alias_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
at.alias_type_id
,at.alias_type_ud
,at.golden_key
FROM alias_type at
ORDER BY at.alias_type_ud
--
RETURN @SP_SUCCESS
GO
