USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_procedure_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/19/2006	Hiep Nguyen		1.0		Created and used for Find Procedure Code Form
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.2		Added returnset limitations
07/18/2013  eponomareff     1.3     Added support for ICD-10; fixed non-standard implementation
--
CURRENT_VERSION: 1.3
--
ICU:
--
DESCRIPTION:
The procedure is used to find the procedure codes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_find_procedure_code_load]
(
@get_column_headers						BIT = 0,

@procedure_code_ud						NVARCHAR(50)= NULL,
@description							NVARCHAR(255) = NULL,

@claim_usage_type_id					INT = NULL,
@procedure_code_type_id					INT = NULL,
@procedure_code_version_id				INT = NULL,
@procedure_code_icd_version_id			INT = NULL,
@procedure_code_category_id				INT = NULL,
@procedure_code_sub_category1_id		INT = NULL,

@effective_from							DATETIME = NULL,
@effective_thru							DATETIME = NULL,

@show_complete_only                     BIT = 0,
@show_incomplete_only                   BIT = 0,
@show_only_gap_codes					BIT = 0,
@show_only_current						BIT = 0
)
AS
BEGIN

SET NOCOUNT ON


DECLARE
@SqlString  	NVARCHAR(4000),
@SqlCondition  	NVARCHAR(4000),
@criteriacount 	INT

SELECT
@criteriacount 	= 0,
@SqlCondition 	=' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@SqlString 	=''

SET @SqlString = '
SELECT TOP (dbo.fn_results_limit()) pc.procedure_code_id,
pc.procedure_code_ud,

pc.description,
pc.description as	procedure_code_description,

pc.procedure_code_type_id,
pct.procedure_code_type_ud,

pct.claim_usage_type_id,
cut.claim_usage_type_ud,

pc.procedure_code_version_id,
pcv.procedure_code_version_ud,

pc.procedure_code_icd_version_id,
pciv.procedure_code_icd_version_ud,

is_complete_indicator =
CASE
WHEN ISNULL(pct.golden_key, '''') <> ''ICD-9'' THEN ''''
WHEN ISNULL(pc.is_complete,0) = 0 THEN ''I''
ELSE ''C''
END ,

pc.procedure_code_category_id,
pcc.procedure_code_category_nm,

pc.procedure_code_sub_category1_id,
pcs1.procedure_code_sub_category1_nm,

CONVERT(NVARCHAR, pc.effective_from, 101) AS effective_from,
CONVERT(NVARCHAR,pc.effective_thru, 101) AS effective_thru

FROM  procedure_code pc
LEFT OUTER JOIN  procedure_code_type pct ON pc.procedure_code_type_id = pct.procedure_code_type_id
LEFT OUTER JOIN  claim_usage_type cut ON pct.claim_usage_type_id = cut.claim_usage_type_id
LEFT OUTER JOIN procedure_code_version pcv ON pcv.procedure_code_version_id = pc.procedure_code_version_id
LEFT OUTER JOIN procedure_code_icd_version pciv ON pciv.procedure_code_icd_version_id = pc.procedure_code_icd_version_id
LEFT OUTER JOIN  procedure_code_category pcc ON pc.procedure_code_category_id = pcc.procedure_code_category_id
LEFT OUTER JOIN  procedure_code_sub_category1 pcs1 ON pc.procedure_code_sub_category1_id = pcs1.procedure_code_sub_category1_id
'

IF @procedure_code_ud IS NOT NULL AND @procedure_code_ud <> ''
BEGIN
SET @SqlCondition = @SqlCondition + dbo.plx_AddStringsearch('pc.procedure_code_ud', @procedure_code_ud, 0)
END

IF @description IS NOT NULL AND @description <> ''
BEGIN
SET @SqlCondition = @SqlCondition + dbo.plx_AddStringsearch('pc.description', @description, 0)
END

SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_type_id', @procedure_code_type_id)
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pct.claim_usage_type_id', @claim_usage_type_id)
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_version_id', @procedure_code_version_id)
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_icd_version_id', @procedure_code_icd_version_id)
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_category_id', @procedure_code_category_id)
SET @SqlCondition = @SqlCondition + dbo.plx_AddNumberSearch('pc.procedure_code_sub_category1_id', @procedure_code_sub_category1_id)

IF @show_complete_only = 1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND pc.is_complete = 1 '
END

IF @show_incomplete_only = 1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND pc.is_complete = 0 '
END

IF @show_only_current=1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ((DATEDIFF(Day, pc.effective_from, GETDATE()) >= 0 OR pc.effective_from IS NULL) AND
(DATEDIFF(Day, pc.effective_thru, GETDATE()) <= 0 OR pc.effective_thru IS NULL))'
END

IF @show_only_gap_codes = 1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND pc.is_gap_code = 1'
END

BEGIN
set @sqlCondition = @sqlCondition + dbo.plx_AddDateMoreThanSearch('pc.effective_from', @effective_from)
set @sqlCondition = @sqlCondition + dbo.plx_AddDateLessThanSearch('pc.effective_thru', @effective_thru)
END

SET @sqlCondition = @sqlCondition + '  ORDER BY
CASE WHEN pc.effective_from IS NULL THEN 0 ELSE 1 END , pc.effective_from DESC
,CASE WHEN pc.effective_thru IS NULL THEN 0 ELSE 1 END , pc.effective_thru DESC '

--PRINT @SqlString + @SqlCondition
EXEC(@SqlString + @SqlCondition)
END
GO
