USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_correspondence_manual_generated_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2005	Hiep Nguyen	1.0		Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to delete a row in grid "Manually Generated Documents"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_correspondence_id - Key to family_eligibility_correspondence table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_correspondence_manual_generated_delete]
(
@family_eligibility_correspondence_id	int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@correspondence_manual_generated_id int,
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012'
--
IF NOT EXISTS (SELECT * FROM family_eligibility_correspondence WHERE family_eligibility_correspondence_id = @family_eligibility_correspondence_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Get correspondence manual generated from family_eligibility correspondence id
SELECT @correspondence_manual_generated_id = correspondence_manual_generated_id
FROM family_eligibility_correspondence
WHERE family_eligibility_correspondence_id = @family_eligibility_correspondence_id

-- Delete family_eligibility correspondence
DELETE FROM family_eligibility_correspondence
WHERE family_eligibility_correspondence_id = @family_eligibility_correspondence_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
-- Delete correspondence manual generated
DELETE	FROM correspondence_manual_generated
WHERE correspondence_manual_generated_id = @correspondence_manual_generated_id




SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

END
--
RETURN @SP_SUCCESS
GO
