USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_history_invoice_history_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Date: 02/28/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/28/2012	CKnobloch	     1.0		Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdPaymentHistoryInvoiceHistory on form frmCustomer

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_payment_history_invoice_history_load]
(
@payment_history_payment_accounting_transaction_ar_id INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @strSQL nvarchar(4000)

SET @strSQL =
'SELECT TOP (dbo.fn_results_limit())
accounting_transaction_ar.accounting_transaction_ar_id					AS payment_history_invoice_accounting_transaction_ar_id
,accounting_transaction_ar.accounting_transaction_ar_ud					AS payment_history_invoice_accounting_transaction_ar_ud
,CAST(atarid.invoice_date AS DATE)										AS payment_history_invoice_date
,ais.accounting_invoice_status_ud										AS payment_history_invoice_status
,ISNULL(accounting_transaction_ar.transaction_amount,0)					AS payment_history_invoice_amount --Total Invoice Amount

,CAST(ISNULL(accounting_transaction_ar.transaction_amount -
dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL), 0) AS NUMERIC(19,4))	AS payment_history_applied_amount
,CAST(dbo.plx_fn_get_unapplied_amount_for_invoice(accounting_transaction_ar.accounting_transaction_ar_id, NULL) AS NUMERIC(19,4))	AS payment_history_amount_due

FROM accounting_transaction_ar_apply_to apply_to
INNER JOIN	accounting_transaction_ar
ON apply_to.to_accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
LEFT JOIN	accounting_source
ON accounting_transaction_ar.accounting_source_id = accounting_source.accounting_source_id
LEFT JOIN	accounting_transaction_ar_type
ON accounting_transaction_ar.accounting_transaction_ar_type_id = accounting_transaction_ar_type.accounting_transaction_ar_type_id
LEFT JOIN accounting_transaction_ar_invoice_detail atarid
ON  atarid.accounting_transaction_ar_id = apply_to.to_accounting_transaction_ar_id
LEFT JOIN accounting_invoice_status ais
ON  ais.accounting_invoice_status_id = atarid.accounting_invoice_status_id

WHERE (apply_to.from_accounting_transaction_ar_id'
IF @payment_history_payment_accounting_transaction_ar_id IS NOT NULL
SET @strSQL = @strSQL + ' = '
+ CONVERT(NVARCHAR, @payment_history_payment_accounting_transaction_ar_id, 101) + ') '
ELSE
SET @strSQL = @strSQL + ' = -1 ) '


SET @strSQL = @strSQL + '
ORDER BY
apply_to.accounting_transaction_ar_apply_to_id DESC'



PRINT @strSQL

EXEC(@strSQL)

RETURN @SP_SUCCESS
--
GO
