USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_pt_conflict_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
3/16/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load Professional/Technical Conflict check parameters for Claim Processing Rules Framework
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_pt_conflict_load]
(
@claim_processing_rule_framework_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
SELECT 'Professional' as pt_conflict_type_of_claim
,1 as order_rank
,0 as pt_conflict_enabled
UNION
SELECT 'Institutional Outpatient' as pt_conflict_type_of_claim
,2 as order_rank
,0 as pt_conflict_enabled
UNION
SELECT 'Professional/Institutional Outpatient' as pt_conflict_type_of_claim
,3 as order_rank
,0 as pt_conflict_enabled
ORDER by order_rank
END

ELSE
BEGIN
SELECT 'Professional' as pt_conflict_type_of_claim
,1 as order_rank
,COALESCE(cprf.pt_conflict_professional_enabled,0) as pt_conflict_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT 'Institutional Outpatient' as pt_conflict_type_of_claim
,2 as order_rank
,COALESCE(cprf.pt_conflict_institutional_outpatient_enabled,0) as pt_conflict_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT 'Professional/Institutional Outpatient' as pt_conflict_type_of_claim
,3 as order_rank
,COALESCE(cprf.pt_conflict_cross_claim_type_enabled,0) as pt_conflict_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
ORDER by order_rank
END
--
RETURN @SP_SUCCESS
GO
