USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_coverage_level_process_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_coverage_level_process_queue_load]
(
@get_column_headers                 BIT = 0
, @coverage_level_process_queue_ud   NVARCHAR(100) = NULL
, @description                       NVARCHAR(255) = NULL
, @benefit_category_id               INT = NULL
, @show_exact_matches                BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10);

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= '';

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = '''';
END
ELSE
BEGIN
SET @Prefix = 'LIKE N''';
SET @Suffix = '%''';
END

IF @coverage_level_process_queue_ud IS NOT NULL AND @coverage_level_process_queue_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(q.coverage_level_process_queue_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@coverage_level_process_queue_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(q.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @benefit_category_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND qc.benefit_category_id = ' + CONVERT(NVARCHAR, @benefit_category_id)


SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
q.coverage_level_process_queue_id
,q.coverage_level_process_queue_ud
,q.description
,bc.benefit_category_ud
FROM  dbo.coverage_level_process_queue q
LEFT JOIN coverage_level_process_queue_criteria qc ON q.coverage_level_process_queue_id = qc.coverage_level_process_queue_id
LEFT JOIN benefit_category bc ON qc.benefit_category_id = bc.benefit_category_id
'

-- PRINT @SqlQuery + @SqlCondition + ' ORDER BY q.coverage_level_process_queue_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY q.coverage_level_process_queue_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
