USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accumulator_seed_reason_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/14/2006	tinhdo			1.0		create
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_category' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_accumulator_seed_reason_list_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_seed_reason_id
,accumulator_seed_reason_ud

FROM accumulator_seed_reason
ORDER BY accumulator_seed_reason_ud

RETURN @SP_SUCCESS
--
END
GO
