USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_claim_can_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jon Vote
-- Create date: 2015-09-14
-- Description:	Checks to see if claim and associated procedures can be saved
-- =============================================
CREATE PROCEDURE [dbo].[plx_check_claim_can_save]
@claim_id				int,
@claim_status_id		int,
@claim_procedures		plx_type_claim_procedure ReadOnly
AS
BEGIN
SET NOCOUNT ON;

Declare		@OkToSave						int = 0;
Declare		@AdjudicatingCantSaveGK						nvarchar(50) = 'G_CLAIM_ADJUDICATING_CANT_SAVE';
Declare		@AdjudicatedCantSaveGK						nvarchar(50) = 'G_CLAIM_ADJUDICATED_CANT_SAVE';

-- Always cool to save if this is an add
if not Exists(Select 1 From claim Where claim_id = @claim_id)
return @OkToSave;

-- Get the claim lock type
Declare		@ProcessLockTypeAdjudicationClaim	int =
(Select TOP(1) process_lock_type_id From process_lock_type Where golden_key = 'ADJUDICATION_CLAIM');

-- Can't save if there is a process lock
if (
Select	process_lock_id
From	process_lock
Where	process_lock_type_id = @ProcessLockTypeAdjudicationClaim
And	object_record_id = @claim_id
) is not null
return 	dbo.plx_get_ui_engine_error_id_by_ud(@AdjudicatingCantSaveGK);

-- Can't save if claim's adjudication status has changed,
-- UNLESS it's changing to READJUDICATE (RT-20345 enhancement)
Declare	@CurrentStatusId int =
(
Select	adjudication_status_id
From	claim
Where	claim_id = @claim_id
);

Declare @ReadjudicateStatusId int =
(
Select	adjudication_status_id
From	adjudication_status
Where	golden_key = 'READJUDICATE'
);

if	Coalesce(@CurrentStatusId, 0) <> Coalesce(@claim_status_id, 0)
AND @CurrentStatusId <> @ReadjudicateStatusId
return 	dbo.plx_get_ui_engine_error_id_by_ud(@AdjudicatedCantSaveGK);

-- Can't save if claim procedure status has changed
if	(
Select		count(*)
From		claim_procedure cp
Inner Join  @claim_procedures cps
On cp.claim_procedure_id = cps.claim_procedure_id
And Coalesce(cp.adjudication_status_id, 0) <> Coalesce(cps.adjudication_status_id, 0)
) > 0
return 	dbo.plx_get_ui_engine_error_id_by_ud(@AdjudicatedCantSaveGK);

-- No worries here mate
return @OkToSave;

END
GO
