USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_category_by_benefit_plan]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thanh Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/13/2005	Thanh Nguyen	1.0		create
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/










CREATE    PROCEDURE [dbo].[plx_dd_benefit_category_by_benefit_plan]
(
@benefit_contract_period_id	int = NULL,
@benefit_plan_id                int = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

if(@benefit_plan_id is not null)
begin
SELECT
DISTINCT bca.benefit_category_id, bca.benefit_category_ud

FROM benefit_category bca
INNER JOIN benefit_framework bf ON bf.benefit_category_id = bca.benefit_category_id
INNER JOIN benefit_plan bp ON bp.benefit_framework_id = bf.benefit_framework_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
WHERE bcpbp.benefit_contract_period_id = @benefit_contract_period_id and
bp.benefit_plan_id = @benefit_plan_id
ORDER BY bca.benefit_category_ud
end
else
begin
SELECT
DISTINCT bca.benefit_category_id, bca.benefit_category_ud

FROM benefit_category bca
INNER JOIN benefit_framework bf ON bf.benefit_category_id = bca.benefit_category_id
INNER JOIN benefit_plan bp ON bp.benefit_framework_id = bf.benefit_framework_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
WHERE bcpbp.benefit_contract_period_id = @benefit_contract_period_id
ORDER BY bca.benefit_category_ud
end


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
