USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_stage_data_standard]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_stage_data_standard]
@disbursementClaimPaymentQueueId INT,
@asOfDate DATETIME,
@transactionTypeBill INT,
@transactionTypeCredit INT,
@transactionStatusAvailable INT,
@sourceClaims INT,
@sourcePaymentPenalty INT,
@sourceManual INT,
@queuePaymentMethod INT,
@queueDatetype INT,
@dateTypeClean INT,
@paymentStatusVoided INT
AS

SET NOCOUNT ON;

-- It becomes difficult to treat the filtering of transactions via the criteria rows due to some different desired
-- behaviors.  If no rows exist at all, that means "take everything."  If there are rows, even if some are not current
-- that invalidates the "take everything" statement.  The trouble is trying to identify the difference between not
-- having any rows and not having any rows because you filtered some out by date.
--
-- Instead, using a temporary table to store the valid filtering rows.  When the setup is a "take everything" case
-- a single all-null value row will be inserted into the temp table, otherwise this is a simple dump from the criteria
-- table into the temp table, but filtered for rows we want to inspect.  This means the WHERE clause does not have to
-- be overly complicated, trying to figure out if no rows means take everything vs take nothing.  There will always
-- be rows in the temporary table to control the filtering, or a lack of rows which means nothing will match.
IF OBJECT_ID('tempdb..#queue_criteria') IS NOT NULL
DROP TABLE #queue_criteria;

CREATE TABLE #queue_criteria
(
[disbursement_claim_payment_queue_id] [int] NOT NULL,
[criteria_id] [int] NULL,
[vendor_id] [int] NULL,
[client_id] [int] NULL,
[client_group_id] [int] NULL,
[effective_from] [datetime] NOT NULL,
[effective_thru] [DATETIME] NULL,
);

IF NOT EXISTS (
SELECT 1
FROM disbursement_claim_payment_queue_queue_criteria qc
WHERE qc.disbursement_claim_payment_queue_id = @disbursementClaimPaymentQueueId
)
BEGIN
-- This is the catch-all scenario.  No rows are defined the queue at all, so we want to gather everything.
-- To make life easier, the temporary criteria table gets a row that shows how that would be defined via
-- standard criteria column matching (everything is null)
INSERT INTO #queue_criteria (disbursement_claim_payment_queue_id, effective_from, effective_thru)
VALUES (@disbursementClaimPaymentQueueId, '1/1/1900', '12/31/9999');
END
ELSE
BEGIN
-- Some rows have been defined.  We might still end up with an empty set here, but in this case it is
-- appropriate.  If we filter out all the rows by date, then nothing will get gathered which is what we want.
INSERT INTO #queue_criteria
(
disbursement_claim_payment_queue_id,
criteria_id,
vendor_id,
client_id,
client_group_id,
effective_from,
effective_thru
)
SELECT
@disbursementClaimPaymentQueueId,
c.criteria_id,
c.vendor_id,
c.client_id,
c.client_group_id,
c.effective_from,
c.effective_thru
FROM
disbursement_claim_payment_queue_queue_criteria c
WHERE
c.disbursement_claim_payment_queue_id = @disbursementClaimPaymentQueueId
AND c.effective_from <= @asOfDate
AND (c.effective_thru IS NULL OR c.effective_thru >= @asOfDate);
END

-- The data selection is expensive.  Since the temporary filter table always will have a row if it plans to match
-- on anything (even in the no-filters-take-all scenario), we can early exit here if we do not have any rows
-- in the temp table. No rows in temp table means no rows can come out of the select.  This could happen through
-- normal processing when there are no effective rows.
IF NOT EXISTS (SELECT 1 FROM #queue_criteria)
RETURN;

-- CTE calculates the amount of the AP Transaction already applied to a non-voided Payment
;WITH applied_amount_payment (accounting_transaction_ap_id, applied_amount) AS
(
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
pd.accounting_payment_status_id <> @paymentStatusVoided
GROUP BY
apto.to_accounting_transaction_ap_id
),
-- CTE calculates the amount of the AP Transaction already applied to a non-voided Vendor Refund Request
applied_amount_refund (accounting_transaction_ap_id, applied_amount) AS
(
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
accounting_transaction_ap_apply_to apto
INNER JOIN accounting_transaction_ap_refund_request_detail refundDetail
ON refundDetail.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
refundDetail.accounting_payment_status_id <> @paymentStatusVoided
GROUP BY
apto.to_accounting_transaction_ap_id
)
INSERT INTO disbursement_claim_payment_work_table (
accounting_transaction_ap_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
ready_date,
criteria_id,
claim_id,
claim_procedure_id,
plan_iteration_index,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
line_of_business_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only
)
SELECT DISTINCT
atap.accounting_transaction_ap_id,
CASE
WHEN atap.accounting_transaction_ap_type_id = @transactionTypeBill
THEN 1
ELSE 0
END,
atap.transaction_amount,
atap.vendor_id,
vpm.payment_method_payment_id,
c.clean_date,
ISNULL(
CASE
WHEN @queueDatetype = @dateTypeClean
THEN c.clean_date
ELSE c.received_date
END,
GETDATE()),
qc.criteria_id,
cd.claim_id,
cd.claim_procedure_id,
cd.plan_iteration_index,
atap.client_id,
atap.client_group_id,
atap.benefit_contract_id,
atap.benefit_plan_id,
bc.line_of_business_id,
cp.original_line_amount,
cp.clean_date,
cp.received_date,
c.received_date,
cp.negated_claim_procedure_id,
bc.is_payment_this_contract_only
FROM
accounting_transaction_ap atap
LEFT JOIN vendor_payment_method vpm
ON vpm.vendor_id = atap.vendor_id
AND vpm.effective_from <= @asOfDate
AND
(
vpm.effective_thru IS NULL
OR vpm.effective_thru >= @asOfDate
)

LEFT JOIN applied_amount_payment aaPmt
ON aaPmt.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN applied_amount_payment aaRefund
ON aaRefund.accounting_transaction_ap_id = atap.accounting_transaction_ap_id

LEFT JOIN accounting_transaction_ap_claim_detail cd
ON cd.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
LEFT JOIN claim_procedure cp
ON cp.claim_procedure_id = cd.claim_procedure_id
LEFT JOIN claim c
ON c.claim_id = cp.claim_id

LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = atap.benefit_contract_id

INNER JOIN #queue_criteria qc
ON qc.disbursement_claim_payment_queue_id = @disbursementClaimPaymentQueueId
WHERE
atap.accounting_transaction_status_id = @transactionStatusAvailable
AND atap.accounting_transaction_ap_type_id IN (@transactionTypeBill, @transactionTypeCredit)
AND
(
atap.accounting_source_id IN (@sourceClaims, @sourcePaymentPenalty)
OR (atap.accounting_source_id = @sourceManual AND atap.treat_as_accounting_source_id IN (@sourceClaims, @sourcePaymentPenalty))
)
AND
(
atap.transaction_amount = 0
OR
-- Will be NULL if there are no apply_to records.
(aaPmt.applied_amount IS NULL AND aaRefund.applied_amount IS NULL)
OR
atap.transaction_amount - ISNULL(aaPmt.applied_amount, 0) - ISNULL(aaRefund.applied_amount, 0) != 0
)

AND (@queuePaymentMethod IS NULL OR vpm.payment_method_payment_id = @queuePaymentMethod)

AND (qc.client_group_id IS NULL OR atap.client_group_id = qc.client_group_id)
AND (qc.client_id IS NULL OR atap.client_id = qc.client_id)
AND (qc.vendor_id IS NULL OR atap.vendor_id = qc.vendor_id);
GO
