USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_inactive_period_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Tinh Do		1.0			Created and used for Family Eligibility Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

This procedure is used to load data for grid "Eligibility Inactive Period"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_employment_inactive_period_load]
(
@family_eligibility_employment_id			INT=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_employment_inactive_period.family_eligibility_employment_inactive_period_id
,family_eligibility_employment_inactive_period.family_eligibility_employment_id


,family_eligibility_employment_inactive_period.inactive_from_date
,family_eligibility_employment_inactive_period.inactive_thru_date
,family_eligibility_employment_inactive_period.family_eligibility_inactive_reason_id

,family_eligibility_inactive_reason.family_eligibility_inactive_reason_ud
,family_eligibility_employment_inactive_period.modified_date

FROM family_eligibility_employment_inactive_period
left join family_eligibility_employment  ON family_eligibility_employment.family_eligibility_employment_id = family_eligibility_employment_inactive_period.family_eligibility_employment_id
left join family_eligibility_inactive_reason  ON family_eligibility_inactive_reason.family_eligibility_inactive_reason_id = family_eligibility_employment_inactive_period.family_eligibility_inactive_reason_id
WHERE family_eligibility_employment_inactive_period.family_eligibility_employment_id = @family_eligibility_employment_id
ORDER BY
CASE WHEN family_eligibility_employment_inactive_period.inactive_thru_date IS NULL THEN 0 ELSE 1 END , family_eligibility_employment_inactive_period.inactive_thru_date DESC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
