USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_user_assigned_result_code_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	thuy ha		1.0			Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to delete a row in grid "User Assigned Result Codes"
in Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_user_assigned_result_code_id - Key to family_eligibility_user_assigned_result_code table, identifies a single stored family_eligibility_user_assigned_result_code.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_user_assigned_result_code_delete]
(
@family_eligibility_user_assigned_result_code_id	int = NULL   OUTPUT

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT * FROM family_eligibility_user_assigned_result_code WHERE family_eligibility_user_assigned_result_code_id = @family_eligibility_user_assigned_result_code_id )
BEGIN
RAISERROR('family_eligibility_user_assigned_result_code object not found in family_eligibility_user_assigned_result_code for internal key %d.', 16, 1, @family_eligibility_user_assigned_result_code_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM family_eligibility_user_assigned_result_code
WHERE family_eligibility_user_assigned_result_code_id = @family_eligibility_user_assigned_result_code_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
RETURN @SP_SUCCESS
--
GO
