USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_claim_procedure_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_accumulator_claim_procedure_load] (
@claim_id INT = NULL
,@claim_form_type_id INT = NULL
)
AS
BEGIN
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@claim_form_type NVARCHAR(100)

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT @claim_form_type = cft.golden_key
FROM claim_form_type cft
WHERE cft.claim_form_type_id = @claim_form_type_id

IF @claim_form_type = 'DENTAL'
OR @claim_form_type = 'Predetermination'
BEGIN
SELECT DISTINCT claim_procedure.claim_procedure_id
,claim_procedure.procedure_code_ud
,alternate_procedure_code.procedure_code_ud AS alternate_procedure_code_ud
,claim_procedure.service_from_date AS procedure_date
,claim_procedure.units
,unit_type.unit_type_dental_claim_ud
,claim_procedure.visits
,ark.vendor_id AS vendor_id
,v.vendor_ud AS vendor_ud
,dbo.plx_ClaimProcedureDeductible(claim_procedure.claim_procedure_id)
,adj_amt.net_payment AS net
,adj_amt.copay
,adj_amt.coinsurance
,claim_procedure.cob
,claim_procedure.cob_amount
,claim_procedure.charge
,claim_procedure.non_covered_charge
,adjudication_status.adjudication_status_id AS claim_line_status_id
,adjudication_status.adjudication_status_ud AS claim_line_status_ud
,dbo.claim_procedure_result_code_combination(claim_procedure.claim_procedure_id) AS 'result_code'
,claim_payment_process_status.claim_payment_process_status_ud
,claim_procedure.claim_line_sequence
,tooth_system.tooth_system_ud
,tooth_number_letter.tooth_number_letter_ud
,dbo.claim_procedure_tooth_surface_seperators(claim_procedure.claim_procedure_id, '') AS tooth_surface_ud
,area_of_oral_cavity.area_of_oral_cavity_ud
FROM claim_procedure
--- net-payment
LEFT JOIN (
SELECT ara.claim_procedure_id
,SUM(ISNULL(ara.net_payment, 0)) AS net_payment
,SUM(ISNULL(ara.coinsurance_amount, 0)) AS coinsurance
,SUM(ISNULL(ara.copay_amount, 0)) AS copay
FROM adjudication_result_amount ara
GROUP BY ara.claim_procedure_id
) AS adj_amt ON adj_amt.claim_procedure_id = claim_procedure.claim_procedure_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = claim_procedure.claim_procedure_id AND ark.plan_iteration_index = 1
LEFT JOIN vendor v ON ark.vendor_id = v.vendor_id
LEFT JOIN procedure_code alternate_procedure_code ON alternate_procedure_code.procedure_code_ud = claim_procedure.alternate_procedure_code_ud
LEFT JOIN diagnosis_code ON diagnosis_code.diagnosis_code_ud = claim_procedure.diagnosis_code_ud
LEFT JOIN place_of_service ON place_of_service.place_of_service_id = claim_procedure.place_of_service_id
LEFT JOIN type_of_service ON type_of_service.type_of_service_id = claim_procedure.type_of_service_id
LEFT JOIN unit_type_dental_claim unit_type ON unit_type.unit_type_dental_claim_id = claim_procedure.unit_type_dental_claim_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
LEFT JOIN claim_payment_process_status ON claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN tooth_system ON tooth_system.tooth_system_id = claim_procedure.tooth_system_id
LEFT JOIN tooth_number_letter ON tooth_number_letter.tooth_number_letter_id = claim_procedure.tooth_number_letter_id
LEFT JOIN area_of_oral_cavity ON area_of_oral_cavity.area_of_oral_cavity_id = claim_procedure.area_of_oral_cavity_id
WHERE claim_procedure.claim_id = @claim_id
ORDER BY claim_procedure.claim_line_sequence
END
ELSE
BEGIN
SELECT DISTINCT claim_procedure.claim_procedure_id
,claim_procedure.procedure_code_ud
,adjudication_status.adjudication_status_ud
,claim_procedure.service_from_date
,claim_procedure.service_thru_date
,claim_procedure.charge
,ark.vendor_id AS vendor_id
,v.vendor_ud AS vendor_ud
,adj_amt.net_payment AS net
,adj_amt.copay
,adj_amt.coinsurance
,dbo.claim_procedure_result_code_combination(claim_procedure.claim_procedure_id) AS 'result_code'
,claim_payment_process_status.claim_payment_process_status_ud
,claim_procedure.claim_line_sequence
,claim_procedure.[is_system_generated] -- used for system created drg line
,claim_procedure.relative_value_units
,claim_procedure.visits
,claim_procedure.units
FROM claim_procedure
--- net-payment
LEFT JOIN (
SELECT ara.claim_procedure_id
,SUM(ISNULL(ara.net_payment, 0)) AS net_payment
,SUM(ISNULL(ara.coinsurance_amount, 0)) AS coinsurance
,SUM(ISNULL(ara.copay_amount, 0)) AS copay
FROM adjudication_result_amount ara
GROUP BY ara.claim_procedure_id
) AS adj_amt ON adj_amt.claim_procedure_id = claim_procedure.claim_procedure_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = claim_procedure.claim_procedure_id AND ark.plan_iteration_index = 1
LEFT JOIN vendor v ON ark.vendor_id = v.vendor_id
LEFT JOIN claim_payment_process_status ON claim_payment_process_status.claim_payment_process_status_id = claim_procedure.claim_payment_process_status_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = claim_procedure.adjudication_status_id
WHERE claim_procedure.claim_id = @claim_id
ORDER BY claim_procedure.[is_system_generated] DESC
,claim_procedure.claim_line_sequence
END

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
