USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reconciliation_member_id_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reconciliation_member_id_type_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
member_id_type.member_id_type_id
,member_id_type.member_id_type_ud
,member_id_type.golden_key
FROM member_id_type
ORDER BY member_id_type_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
