USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_sel_by_report_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_report_parameter_sel_by_report_id] (
@report_id int
) As

Select
report_parameter_id,
report_parameter_name,
report_id,
report_parameter_caption_id,
report_parameter_info_id,
ui_engine_lookup_parameter_id,
control_name,
field_order,
record_field_name,
required,
default_value
From
report_parameter
Where
report_id = @report_id
GO
