USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_required_modifier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 01/06/2012
--
DESCRIPTION:
Load for Fee Schedule Rule Required modifier grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_rule_required_modifier_load]
(
@fee_schedule_rule_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
rm.fee_schedule_rule_required_modifier_id
,rm.procedure_code_type_id
,pct.procedure_code_type_ud
,rm.starting_procedure_code_id
,pc.procedure_code_ud as starting_procedure_code_ud
,rm.ending_procedure_code_id
,pcend.procedure_code_ud as ending_procedure_code_ud
,rm.procedure_code_group_id
,pcg.procedure_code_group_ud
,rm.modifier
,rm.modifier_set_id
,ms.modifier_set_ud
,rm.result_code_override_id
,rc.result_code_ud
,rm.effective_from
,rm.effective_thru


FROM fee_schedule_rule_required_modifier rm
LEFT JOIN procedure_code_type pct ON rm.procedure_code_type_id = pct.procedure_code_type_id
LEFT JOIN procedure_code pc ON rm.starting_procedure_code_id = pc.procedure_code_id
LEFT JOIN procedure_code pcend ON rm.ending_procedure_code_id = pcend.procedure_code_id
LEFT JOIN modifier_set ms ON rm.modifier_set_id = ms.modifier_set_id
LEFT JOIN result_code rc ON rm.result_code_override_id = rc.result_code_id
LEFT JOIN procedure_code_group pcg ON rm.procedure_code_group_id = pcg.procedure_code_group_id
WHERE rm.fee_schedule_rule_id = @fee_schedule_rule_id
ORDER BY
CASE WHEN rm.effective_from IS NULL THEN 0 ELSE 1 END , rm.effective_from DESC
,CASE WHEN rm.effective_thru IS NULL THEN 0 ELSE 1 END , rm.effective_thru DESC

--
RETURN @SP_SUCCESS
--
GO
