USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_state_mandate_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Oct 26 2007  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
------------------------------------------------------------------------------------------------------------------
10/26/2007	Abhishek Saxena	1.0		Created and using for ICU#18206  (Group Form)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "State Mandate"
in frmGroup form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_client_group_state_mandate_delete]

(
@client_group_state_mandate_id  int=NULL OUTPUT

) AS
--
BEGIN
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST = '158930073',
@ERROR_CANT_DELETE = '158930074'
--
IF NOT EXISTS (SELECT * FROM client_group_state_mandate  WHERE client_group_state_mandate_id = @client_group_state_mandate_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DELETE FROM client_group_state_mandate
WHERE client_group_state_mandate_id = @client_group_state_mandate_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
END
--
GO
