USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_customer_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 12/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/16/2005	Lamnguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to get the data from Client_customer
--
REQUIREMENTS:
--
INPUTS:
@client_id		client ID
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_customer_list_load]
(
@client_id			INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
client_customer.client_customer_id
,client_customer.client_id
,client_customer.customer_id
,customer.customer_ud
,client_customer.criteria_id
,criteria.criteria_ud
,client_customer.effective_from
,client_customer.effective_thru
,isnull(client_customer.effective_thru,'9999-12-31') as order_effective_thru
FROM client_customer
LEFT  JOIN customer  ON  client_customer.customer_id = customer.customer_id
LEFT  JOIN criteria  ON  client_customer.criteria_id = criteria.criteria_id

WHERE client_customer.client_id = @client_id
ORDER BY order_effective_thru desc ,criteria.criteria_ud asc
--

RETURN @SP_SUCCESS

--
GO
