USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_fee_schedule_modifier_method_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Jan  9 2006  1:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/31/2010	Vishwa	1.0			updated with goldenkey field
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down fee_schedule_modifier_method (Fee Schedule Modifier Method)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_fee_schedule_modifier_method_load]


AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0


SELECT
fee_schedule_modifier_method_id
,fee_schedule_modifier_method_ud
,golden_key

FROM fee_schedule_modifier_method

ORDER BY fee_schedule_modifier_method_ud
--
RETURN @SP_SUCCESS
GO
