USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_batch_detail_invoices_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Apply Customer Payment amount to Invoices in grid on Customer Payment Batch form
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_batch_detail_invoices_save]
(
@accounting_transaction_ar_apply_to_id	int = NULL OUTPUT,
@from_accounting_transaction_ar_id		int = NULL,
@invoice_id								int = NULL,
@amount									numeric(20,10) = NULL,
@payment_date							datetime = NULL,
@comment 								nvarchar(300) = NULL,
@is_posted								bit = NULL,
@active									bit = 1,
@accounting_transaction_ar_payment_batch_id int = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--workaround for child grid trying to save before payment has been saved
IF @from_accounting_transaction_ar_id IS NOT NULL
BEGIN

-- Get the available status for the invoice and the unapplied amount
DECLARE @unapplied_amount numeric(20,10)
DECLARE @available bit
SELECT
@unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT),
@available = dbo.fn_invoice_is_available(@invoice_id)

-- Inserting or updating?
IF @accounting_transaction_ar_apply_to_id IS NULL
BEGIN
-- Verify the invoice is available to pay; Invoice can be $0
IF @unapplied_amount >= 0 AND @available = 1 AND @amount IS NOT NULL AND @amount >= 0
BEGIN
--- Create a new ApplyTo record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id,
to_accounting_transaction_ar_id,
unapplied_amount,
amount,
[date],
comment,
is_posted,
active
)
VALUES(
@from_accounting_transaction_ar_id,  -- payment ID
@invoice_id,
@unapplied_amount,
@amount,
@payment_date,
@comment,
@is_posted,
@active
)

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END

SET @accounting_transaction_ar_apply_to_id = @@IDENTITY

IF NOT EXISTS (
SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch apply_to_batch
WHERE apply_to_batch.accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id
AND apply_to_batch.accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id)
BEGIN

--Create a new ApplyTo Batch record
INSERT INTO accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch(
accounting_transaction_ar_apply_to_id,
accounting_transaction_ar_payment_batch_id,
active
)
VALUES(
@accounting_transaction_ar_apply_to_id,
@accounting_transaction_ar_payment_batch_id,
@active
)

END

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END

SET @accounting_transaction_ar_apply_to_id = @@IDENTITY

END
ELSE
RETURN @SP_EXCEPTION

END

ELSE
BEGIN
IF @amount IS NOT NULL AND @amount >= 0
BEGIN
-- Make sure the new amount does not exceed the available
DECLARE @difference decimal
SELECT @difference = (@unapplied_amount + amount - @amount)
FROM accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @difference >= 0
BEGIN
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id = @from_accounting_transaction_ar_id,
to_accounting_transaction_ar_id = @invoice_id,
unapplied_amount = @unapplied_amount,
amount	= @amount,
[date] = @payment_date,
comment = @comment,
is_posted = @is_posted,
modified_user_name 	=	ORIGINAL_LOGIN(),
modified_date 	= 	GETDATE()

WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION

UPDATE accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch
SET
accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id,
accounting_transaction_ar_payment_batch_id = accounting_transaction_ar_payment_batch_id,
modified_user_name 	=	ORIGINAL_LOGIN(),
modified_date 	= 	GETDATE()

WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id
AND accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION

END
ELSE
RETURN @SP_EXCEPTION

END
ELSE
BEGIN
-- Amount is NULL, so delete the apply_to record (batch and apply_to tables)
DELETE accounting_transaction_ar_apply_to_accounting_transaction_ar_payment_batch
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id
DELETE accounting_transaction_ar_apply_to
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id

IF @@ERROR <> 0
RETURN @SP_EXCEPTION

END

END
END

-- Determine which status to set on the invoice based on the unapplied amount
DECLARE @invoice_status_id int
SELECT @unapplied_amount = dbo.[plx_fn_get_unapplied_amount_for_invoice](@invoice_id, DEFAULT)

IF(@unapplied_amount = 0.0)
-- Set Invoice status to PAID
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'PAID'
ELSE
-- Set Invoice status to AVAILABLE
SELECT @invoice_status_id = accounting_invoice_status_id FROM accounting_invoice_status	WHERE golden_key = 'AVAILABLE'

-- Update the invoice status
UPDATE accounting_transaction_ar_invoice_detail
SET
accounting_invoice_status_id = @invoice_status_id
,modified_user_name 	     = ORIGINAL_LOGIN()
,modified_date               = GETDATE()
WHERE accounting_transaction_ar_id = @invoice_id

--
RETURN @SP_SUCCESS
GO
