USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_category_with_functional_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Huy Than
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
06/26/2009  Vishwa 		2.0			refactoring Criteria UI objects for easy maintenance in future
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to load all criteria category

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_criteria_ui_category_with_functional_load]

AS

SELECT
criteria_processing_category.criteria_processing_category_id as criteria_category_id
,criteria_processing_category.criteria_processing_category_ud as criteria_category_ud
,criteria_processing_category.golden_key as category_golden_key
,criteria_functional_area.criteria_functional_area_id
,criteria_functional_area.criteria_functional_area_ud
,criteria_functional_area.golden_key as functional_golden_key
FROM criteria_processing_category_criteria_functional_area cpccfa
INNER JOIN criteria_processing_category ON criteria_processing_category.criteria_processing_category_id = cpccfa.criteria_processing_category_id
INNER JOIN criteria_functional_area ON criteria_functional_area.criteria_functional_area_id = cpccfa.criteria_functional_area_id
ORDER BY criteria_category_ud, criteria_functional_area_ud
GO
