USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_accounting_transaction_ap_ready_for_client_fees_disbursement]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[plx_dto_accounting_transaction_ap_ready_for_client_fees_disbursement]

AS

SELECT
-- this is a horribly ugly hack because NHibernate keeps attemping to resolve the subclass
-- trying to figure out how to tell it not to and always resolve the super class, but I can't figure it out
-- so for now this ugly hack will work
0 as clazz_0_,
-- end hack
atap.*
FROM
accounting_transaction_ap atap
INNER JOIN accounting_transaction_status stat ON atap.accounting_transaction_status_id = stat.accounting_transaction_status_id
INNER JOIN accounting_transaction_ap_type atat ON atap.accounting_transaction_ap_type_id = atat.accounting_transaction_ap_type_id
LEFT JOIN accounting_source accs ON atap.accounting_source_id = accs.accounting_source_id
WHERE
stat.golden_key = 'AVAILABLE'
AND atat.golden_key IN ('BILL', 'CREDIT')
AND dbo.plx_fn_get_unapplied_amount_for_transaction(atap.accounting_transaction_ap_id,0) <> 0
AND ISNULL(accs.golden_key,'')  = 'CLIENT_FEES'
AND NOT atap.accounting_transaction_ap_id IN
(
-- Exclude transactions that are already in a payment with status of 'Entered' or 'Available'
SELECT dbo.accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id
FROM dbo.accounting_transaction_ap_apply_to
INNER JOIN accounting_transaction_ap ON accounting_transaction_ap_apply_to.from_accounting_transaction_ap_id = accounting_transaction_ap.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail ON accounting_transaction_ap.accounting_transaction_ap_id = accounting_transaction_ap_payment_detail.accounting_transaction_ap_id
INNER JOIN accounting_payment_status ON accounting_transaction_ap_payment_detail.accounting_payment_status_id = accounting_payment_status.accounting_payment_status_id
INNER JOIN accounting_transaction_ap AS accounting_transaction_ap_1 ON accounting_transaction_ap_apply_to.to_accounting_transaction_ap_id = accounting_transaction_ap_1.accounting_transaction_ap_id
WHERE accounting_payment_status.golden_key = 'ENTERED' OR accounting_payment_status.golden_key = 'AVAILABLE'
)
GO
