USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_benefit_coverage_exception_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 05/13/2009
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2009	Vishwa Jella	1.0			Created
05/18/2009	Vishwa Jella	2.0			added restriction and allowance bit fields
11/17/2011	ggutshall		2.1			Added returnset limitations
--
CURRENT_VERSION: 2.1
--
DESCRIPTION:
This procedure is used to find benefit coverage exception rules
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_find_benefit_coverage_exception_rule_load]
(
@benefit_coverage_exception_rule_ud nvarchar(50)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ''
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END
IF @benefit_coverage_exception_rule_ud IS NOT NULL AND @benefit_coverage_exception_rule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(benefit_coverage_exception_rule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@benefit_coverage_exception_rule_ud, @show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT TOP (dbo.fn_results_limit()) benefit_coverage_exception_rule_id
,benefit_coverage_exception_rule_ud
,description
,is_restriction
,~is_restriction As is_allowance
FROM 	benefit_coverage_exception_rule
'

IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
