USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_sub_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 26 2005 10:37AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down benefit_sub_category (Benefit Sub Category)
--
REQUIREMENTS:
--
INPUTS:
benefit_sub_category_id - Key to benefit_sub_category table, identifies a single stored dd_benefit_sub_category.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_benefit_sub_category_load]

(
@benefit_category_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_sub_category.benefit_sub_category_id
,benefit_sub_category.benefit_sub_category_ud

--      ,benefit_sub_category.benefit_category_id
--     ,benefit_category.benefit_category_ud

FROM benefit_sub_category
-- inner join benefit_category  ON benefit_category.benefit_category_id = benefit_sub_category.benefit_category_id

WHERE benefit_sub_category.benefit_category_id = @benefit_category_id

ORDER BY benefit_sub_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
