USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_additional_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen

REVISION_HISTORY:
--
Date        Modified By   Version  Description
--------------------------------------------------------------------------------
03/18/2009  wchristensen  1.0      Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for Additional Information on AR Transaction Form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_accounting_transaction_ar_additional_information_save]
(
@accounting_transaction_ar_additional_information_id  int = NULL output,
@accounting_transaction_id                            int = NULL,
@additional_information_id                            int = NULL,
@additional_information_topic_id                      int = NULL,
@additional_information_selection_value               nvarchar(300) = NULL,
@additional_information_value                         nvarchar(300) = NULL,
@additional_information_raw_value                     nvarchar(300) = NULL,
@effective_from                                       datetime = NULL,
@effective_thru                                       datetime = NULL,
@comment                                              nvarchar(500) = NULL,
@is_new_value                                         bit = NULL,
@active                                     	      bit = NULL)
AS

DECLARE	@SUCCESS int
DECLARE @EXCEPTION int

SELECT
@SUCCESS = 0,
@EXCEPTION = -1

IF (@accounting_transaction_ar_additional_information_id IS NULL)
BEGIN
INSERT INTO accounting_transaction_ar_additional_information(
additional_information_id
,additional_information_topic_id
,accounting_transaction_ar_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@additional_information_id
,@additional_information_topic_id
,@accounting_transaction_id
,CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,@effective_from
,@effective_thru
,@comment
,@active
)
IF @@ROWCOUNT <= 0 RETURN @EXCEPTION

SET @accounting_transaction_ar_additional_information_id = @@IDENTITY

END
ELSE
BEGIN

UPDATE 	accounting_transaction_ar_additional_information
SET
additional_information_id              = @additional_information_id
,additional_information_topic_id        = @additional_information_topic_id
,accounting_transaction_ar_id           = @accounting_transaction_id
,additional_information_selection_value =
CASE WHEN @is_new_value = 1
THEN NULL
ELSE @additional_information_selection_value
END
,additional_information_value           =
CASE WHEN @is_new_value = 1
THEN @additional_information_selection_value
ELSE @additional_information_raw_value
END
,effective_from                         = @effective_from
,effective_thru                         = @effective_thru
,comment                                = @comment
,active                                 = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
accounting_transaction_ar_additional_information_id = @accounting_transaction_ar_additional_information_id

IF @@ROWCOUNT <= 0 RETURN @EXCEPTION

END
--
RETURN @SUCCESS
--
GO
