USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used to delete transaction record from Transactions Included in Transactions grid on vendor_refund_request form.
removes record from accounting_transaction_ap_apply_to table.
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_request_detail_transactions_delete]
(
@accounting_transaction_ap_apply_to_id 	INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT
,@SP_EXCEPTION INT
,@vendor_refund_request_id INT
,@accounting_transaction_ap_id INT
,@multiplier INT
,@apply_to_amount NUMERIC(20,10)

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
--
IF @accounting_transaction_ap_apply_to_id IS NOT NULL
BEGIN
IF NOT EXISTS (
SELECT 1 FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

-- Get the transaction id, vendor_refund_request ID, and apply to amount from the apply to record for updates later
SELECT
@vendor_refund_request_id = from_accounting_transaction_ap_id
,@accounting_transaction_ap_id = to_accounting_transaction_ap_id
,@apply_to_amount = amount
FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id;

-- Get the multiplier for the ar transaction.
SELECT @multiplier =
CASE atart.golden_key
WHEN 'CREDIT' THEN 1
WHEN 'BILL' THEN -1
END
FROM accounting_transaction_ap_type atart
JOIN accounting_transaction_ap atar
ON atart.accounting_transaction_ap_type_id = atar.accounting_transaction_ap_type_id
WHERE atar.accounting_transaction_ap_id = @accounting_transaction_ap_id

-- Delete the apply to record from the vendor_refund_request
DELETE FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END

-- Update vendor_refund_request amount
UPDATE accounting_transaction_ap
SET accounting_transaction_ap.transaction_amount = accounting_transaction_ap.transaction_amount - (@multiplier * @apply_to_amount)
WHERE accounting_transaction_ap.accounting_transaction_ap_id = @vendor_refund_request_id

-- Update the transaction statuses
EXEC plx_update_accounting_statuses_for_transaction @accounting_transaction_ap_id

END
--
END
RETURN @SP_SUCCESS
--
GO
