USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
To save data to the Customer Refund form, grid:
AR Credit Transactions Included in Customer Refund.

NOTE:	The form allows only AR Credits to be added.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_refund_detail_transactions_save]
(
@accounting_transaction_ar_apply_to_id	    INT = NULL OUTPUT
,@from_accounting_transaction_ar_id		    INT = NULL
,@to_accounting_transaction_ar_id           INT = NULL
,@apply_to_amount							NUMERIC(20,10) = NULL
,@transaction_date						    DATETIME = NULL
,@comment 								    NVARCHAR(300) = NULL
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@ERROR_NOT_EXIST	    NVARCHAR(50);
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_CANT_INSERT 	='G_INSERT_FAILS'
,@ERROR_CANT_UPDATE 	='G_UPDATE_FAILS'
,@ERROR_NOT_EXIST	    ='G_DOES_NOT_EXIST';

DECLARE
@unapplied_amount NUMERIC(20,10)
,@multiplier INT
,@original_apply_to_amount NUMERIC(20,10);

-- A Customer Refund is in the same direction as a Credit, so any Charges display as negative.
-- This is the opposite of Invoice, where a credit is displayed as a negative.
SELECT @multiplier =
CASE atart.golden_key
WHEN 'CHARGE' THEN -1
WHEN 'CREDIT' THEN 1
END
FROM accounting_transaction_ar_type atart
JOIN accounting_transaction_ar atar
ON atart.accounting_transaction_ar_type_id = atar.accounting_transaction_ar_type_id
WHERE atar.accounting_transaction_ar_id = @to_accounting_transaction_ar_id;

-- For Amount and Unapplied Amount on the apply_to table, absolute value amounts stored.
SET @apply_to_amount = ABS(ISNULL(@apply_to_amount, 0))
-- This function returns the absolute value Unapplied Amount of the AR Transaction, no conversion needed.
SET @unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_ar_transaction(@to_accounting_transaction_ar_id, 1)

IF @accounting_transaction_ar_apply_to_id IS NULL
BEGIN
IF dbo.fn_check_accounting_transaction_ar_is_locked(@to_accounting_transaction_ar_id) = 1
BEGIN
RETURN @SP_EXCEPTION	-- returning this value (-1) @SP_EXCEPTION
END

SET @apply_to_amount = @unapplied_amount;

-- Create a new record
INSERT INTO accounting_transaction_ar_apply_to(
from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id
,unapplied_amount
,amount
,[date]
,comment
)
VALUES
(@from_accounting_transaction_ar_id--refund ID
,@to_accounting_transaction_ar_id
,@unapplied_amount
,@apply_to_amount
,@transaction_date
,@comment
);

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @accounting_transaction_ar_apply_to_id = @@IDENTITY;

END -- end insert new apply_to record
ELSE
BEGIN
-- Get the original apply to amount before updating.
SELECT @original_apply_to_amount = ISNULL(applyTo.amount, 0)
FROM accounting_transaction_ar_apply_to applyTo
WHERE applyTo.accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id;

-- Update existing record.
UPDATE accounting_transaction_ar_apply_to
SET
from_accounting_transaction_ar_id	= @from_accounting_transaction_ar_id
,to_accounting_transaction_ar_id	= @to_accounting_transaction_ar_id
,unapplied_amount 					= @unapplied_amount
,amount								= @apply_to_amount
,comment							= @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE accounting_transaction_ar_apply_to_id = @accounting_transaction_ar_apply_to_id;

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

END -- update apply_to record

-- Do the following for both INSERT and UPDATES to transactions

-- Update transaction_amount for refund
-- only CREDITS are allowed on refunds, so we can do a simple sum.
DECLARE @refund_amount NUMERIC(20,10) = (SELECT ISNULL(SUM(amount), 0) FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @from_accounting_transaction_ar_id);

UPDATE accounting_transaction_ar
SET
transaction_amount          = @refund_amount
,modified_user_name         = ORIGINAL_LOGIN()
,modified_date              = GETDATE()
WHERE accounting_transaction_ar_id = @from_accounting_transaction_ar_id;

-- Re-Calculate Refund Distributions
EXEC plx_accounting_transaction_ar_refund_distributions_update @from_accounting_transaction_ar_id;

RETURN @SP_SUCCESS
GO
