USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_client_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:Trinh Le
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
----/----/2005        ------------                            1.0
31/10/2005        Anh Ta                            1.1                   Use for ICU # 10505 Claims Processing workflow
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to load 'client' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_client_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client.client_id
,client_name.client_ud

FROM client
INNER JOIN client_name ON (client_name.client_id = client.client_id) AND (client_name.primary_name = 1)
ORDER BY client_name.client_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
