USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_division_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
11/16/2006	mttran					remove transaction
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an  employee division
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_employee_division_delete]
(
@employee_division_id                       int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE_EMPLOYEE_DIVISION	NVARCHAR(50),
@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION	NVARCHAR(50),
@ERROR_NOT_EXIST			NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST						= '159010016',
@ERROR_CANT_DELETE_EMPLOYEE_DIVISION	= '159010017',
@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION	= '159010012'

--
IF NOT EXISTS (SELECT employee_division_id FROM employee_division WHERE employee_division_id = @employee_division_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
-- delete related sub division
DELETE FROM employee_subdivision
WHERE 	employee_subdivision.employee_division_id = @employee_division_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_EMPLOYEE_SUBDIVISION)
END

-- delete division
DELETE FROM	employee_division
WHERE employee_division.employee_division_id = @employee_division_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_EMPLOYEE_DIVISION)
END

END
--
RETURN @SP_SUCCESS
--
GO
