USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date          Modified By     Version    Description
--------------------------------------------------------------------------------
12/14/2005     Hiep Nguyen      1.0        Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down provider_type (Provider Type)
--
REQUIREMENTS:
--
INPUTS:
provider_type_id - Key to provider_type table, identifies a single stored dd_provider_type.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_type_load]


AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pt.provider_type_id
, pt.provider_type_ud

FROM dbo.provider_type pt
ORDER BY pt.provider_type_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
