USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_by_coverage_incentive_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 04/08/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/08/2011	Chad Maddox 1.0			Creation
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select data from benefit_plan table by coverage_incentive_id
This stored procedure is used in the coverage incentive form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_by_coverage_incentive_load]
(
@coverage_incentive_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
coverage_incentive.coverage_incentive_id
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_nm
,benefit_contract.benefit_contract_id
,  benefit_contract.benefit_contract_ud
, benefit_contract_period.effective_from
,benefit_contract_period.effective_thru
,benefit_plan.modified_date
FROM benefit_plan
left join coverage_incentive  ON coverage_incentive.coverage_incentive_id = benefit_plan.coverage_incentive_id
left join benefit_contract_period_benefit_plan on benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
left join benefit_contract_period on benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
left join benefit_contract on benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
WHERE ISNULL(benefit_plan.coverage_incentive_id,0) = @coverage_incentive_id
ORDER BY
CASE WHEN benefit_contract_period.effective_from IS NULL THEN 0 ELSE 1 END , benefit_contract_period.effective_from DESC
,CASE WHEN benefit_contract_period.effective_thru IS NULL THEN 0 ELSE 1 END , benefit_contract_period.effective_thru DESC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
