USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_standard_outlier_payment_value_fee_schedule_code_range]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 07/27/2009
--
REVISION_HISTORY:
--
Date				Modified By			Version			Description
--------------------------------------------------------------------------------
07/27/2009		Isaac Overacker	1.0				Created
07/29/2009     Isaac Overacker   1.1            Updated references to starting_code_id and ending_code_id to conform with DB naming conventions.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
from input fee schedule id, load procedure code range ud's concatenated -- used for Institutional fee schedule
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_standard_outlier_payment_value_fee_schedule_code_range]
(
@fee_schedule_id  int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1

begin

select
StartingCode.procedure_code_ud + '-' + EndingCode.procedure_code_ud as code_range
,StartingCode.procedure_code_id as starting_procedure_code_id
,EndingCode.procedure_code_id as ending_procedure_code_id
from
fee_schedule_inpatient_detail fsid
LEFT JOIN procedure_code StartingCode on fsid.starting_code_id = StartingCode.procedure_code_id
LEFT JOIN procedure_code EndingCode on fsid.ending_code_id = EndingCode.procedure_code_id
LEFT JOIN procedure_code_type pct1 on StartingCode.procedure_code_type_id = pct1.procedure_code_type_id
LEFT JOIN procedure_code_type pct2 on EndingCode.procedure_code_type_id = pct2.procedure_code_type_id
LEFT JOIN fee_schedule_payment_method fspm on fsid.fee_schedule_payment_method_id = fspm.fee_schedule_payment_method_id
where
fsid.fee_schedule_id	= @fee_schedule_id
AND pct1.golden_key = 'DRG'
AND pct2.golden_key = 'DRG'
AND fspm.golden_key = 'USE_STANDARD_OUTLIER_PAYMENT_METHOD'

end
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
