USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_void_claim_processing_run_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_dd_void_claim_processing_run_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
void_claim_processing_run_status_id
,void_claim_processing_run_status_ud
,golden_key

FROM void_claim_processing_run_status
ORDER BY void_claim_processing_run_status_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
