USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_volume_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_volume_save]
(
@eligibility_volume_id                            INT  = NULL   OUTPUT
,@family_eligibility_member_benefit_plan_id        INT
,@requested_date                                   DATE
,@requested_amount                                 NUMERIC (19, 4)
,@hold_volume									   BIT = NULL
,@calculated_amount                                NUMERIC (19, 4) = NULL
,@maximum_amount                                   NUMERIC (19, 4) = NULL
,@guaranteed_amount                                NUMERIC (19, 4) = NULL
,@rated_premium_variable                           NUMERIC (19, 4) = NULL
,@rate_adjustment_amount                           NUMERIC (19, 4) = NULL
,@premium_volume_id                                INT = NULL
,@underwriting_rule_id                             INT = NULL
,@effective_from                                   DATE
,@effective_thru                                   DATE = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '105070005',
@ERROR_NOT_EXIST	= '105070006',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '105070007'
--
IF ISNULL(@eligibility_volume_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO eligibility_volume (
family_eligibility_member_benefit_plan_id
,requested_date
,requested_amount
,hold_volume
,calculated_amount
,maximum_amount
,guaranteed_amount
,rated_premium_variable
,rate_adjustment_amount
,volume_id
,underwriting_rule_id
,effective_from
,effective_thru
)
VALUES (
@family_eligibility_member_benefit_plan_id
,@requested_date
,@requested_amount
,@hold_volume
,@calculated_amount
,@maximum_amount
,@guaranteed_amount
,@rated_premium_variable
,@rate_adjustment_amount
,@premium_volume_id
,@underwriting_rule_id
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @eligibility_volume_id = @@IDENTITY
END
--
ELSE IF NOT EXISTS (SELECT * FROM eligibility_volume WHERE eligibility_volume_id = @eligibility_volume_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int
UPDATE eligibility_volume
SET
family_eligibility_member_benefit_plan_id   = @family_eligibility_member_benefit_plan_id
,requested_date                              = @requested_date
,requested_amount                            = @requested_amount
,hold_volume                                 = @hold_volume
,calculated_amount                           = @calculated_amount
,maximum_amount                              = @maximum_amount
,guaranteed_amount                           = @guaranteed_amount
,rated_premium_variable                      = @rated_premium_variable
,rate_adjustment_amount                      = @rate_adjustment_amount
,volume_id                                   = @premium_volume_id
,underwriting_rule_id                        = @underwriting_rule_id
,effective_from                              = @effective_from
,effective_thru                              = @effective_thru
,modified_user_name                          = ORIGINAL_LOGIN()
,modified_date                               = GETDATE()

WHERE eligibility_volume_id = @eligibility_volume_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
