USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_network_level_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Jan  5 2006  4:36PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load the network_level table.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_provider_network_level_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
network_level.network_level_id as provider_network_level_id
,network_level.network_level_ud as provider_network_level_ud
FROM network_level
ORDER BY provider_network_level_ud
--
RETURN @SP_SUCCESS
GO
