USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_AddStringSearchParameterized]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
Date: 11/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/28/2016	bsargent				Created
02/28/2018	amortensen				RT:10925 Added wildcard encoding
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Designed to work with parameterized dynamic queries (find forms)

--
REQUIREMENTS:
--
INPUTS:

@column_name			Name of column being updated
@variable_name		Name of varialbe updating the column
@variable_value			Variable updating the column (need to add % if like is used)
@where		Adding this predicate to the where clause
@show_exact_matches	equals or like
--
OUTPUTS:
@variable_value			need to add % if like is used
@where		Adding this predicate to the where clause
--
RETURN_VALUES:
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROC [dbo].[plx_AddStringSearchParameterized]
(
@column_name          nvarchar(1000),
@variable_name        nvarchar(2000),
@variable_value       nvarchar(2000) OUTPUT,
@where                nvarchar(4000) OUTPUT,
@show_exact_matches   bit = 0
)
AS
BEGIN
IF @variable_value IS NULL
RETURN;

IF @show_exact_matches = 1
BEGIN
SET @where += N' and ' + @column_name + N' = ' + @variable_name;
END
ELSE
BEGIN
SET @where += N' and ' + @column_name + N' like ' + @variable_name;
SET @variable_value = dbo.plx_EncodeStringWildCard(@variable_value, @show_exact_matches) + N'%';
END
END
GO
