USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Aug 30 2006  3:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/30/2006	Nam Ho		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the carrier table.
This stored procedure is used in the Carrier form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_carrier_save]
(
@carrier_id                                 int = NULL   OUTPUT
,@carrier_ud                                 nvarchar(50) = NULL
,@carrier_nm                                 nvarchar(100) = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @carrier_id is Null
BEGIN

--- Create a new carrier record
INSERT INTO carrier(
carrier_ud
,carrier_nm
,active
)
VALUES
(@carrier_ud
,@carrier_nm
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @carrier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM carrier WHERE carrier_id = @carrier_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing carrier record
UPDATE carrier
SET
carrier_ud                               = @carrier_ud
,carrier_nm                               = @carrier_nm
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE carrier_id = @carrier_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
