USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_status_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\tvngo
Dec 22 2005  4:13PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down provider_status_type (Status Type ID (Provider))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_status_type_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
provider_status_type.provider_status_type_id
,provider_status_type.provider_status_type_ud
FROM provider_status_type
order by provider_status_type.provider_status_type_ud
--
RETURN @SP_SUCCESS
GO
