USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_lock_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/26/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran			1.1			FS changed
12/14/2005      HungTNguyen		1.2               BENEFIT_CONTRACT_PERIOD_LOCKS ==> BENEFIT_CONTRACT_PERIOD_LOCK
12/14/2005      HungTNguyen             1.2               comment=>comment
12/14/2005      HungTNguyen             1.2               locks_by=>lock_by
benefit_contract_period_locks_id=>benefit_contract_period_lock_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Locks grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_period_id
--
OUTPUTS:
benefit_contract_period_locks records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_contract_period_lock_list_load]
(
@benefit_contract_period_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcpl.benefit_contract_period_lock_id
,bcpl.benefit_contract_period_id
,bcpl.result_code_id
,result_code.result_code_ud
,bcpl.lock_set_on
,bcpl.lock_removed_on
,bcpl.lock_removed_by
,bcpl.comment
,bcpl.lock_by
--	,bcpl.active
--	,bcpl.created_user_name -- lock record was created by the system: "System". Otherwise username of the user creating the lock record.
--	,bcpl.created_group_id
--	,bcpl.created_date
,bcpl.modified_date

FROM benefit_contract_period_lock bcpl
LEFT JOIN result_code ON result_code.result_code_id=bcpl.result_code_id
WHERE bcpl.benefit_contract_period_id = @benefit_contract_period_id
ORDER BY lock_removed_on
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
