USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_panel_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 31 2006  9:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/30/2006      HungTNguyen     1.0             Create
10/19/2011 cknobloch     1.1        Associated Claim/Contacts tab for Gov Rows

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data for panel "pnlCommercialHealthPlans" in  form "MemberCOB"


--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_panel_load]
(
@cob_member_other_health_plan_id		Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cob_member_commercial_health_plan.cob_member_commercial_health_plan_id as cob_member_other_insurance_plan_id
,cob_member_commercial_health_plan.cob_member_id

FROM cob_member_commercial_health_plan

WHERE cob_member_commercial_health_plan.cob_member_commercial_health_plan_id = @cob_member_other_health_plan_id

UNION
SELECT
cob_member_governmental_health_plan.cob_member_governmental_health_plan_id as cob_member_other_insurance_plan_id
,cob_member_governmental_health_plan.cob_member_id

FROM cob_member_governmental_health_plan

WHERE cob_member_governmental_health_plan.cob_member_governmental_health_plan_id = @cob_member_other_health_plan_id


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
