USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_delete]
(
@beneficiary_id                                 int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_beneficiary NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_DELETE_beneficiary	= '1588800001',
@ERROR_NOT_EXIST 				= '1588800003';

IF NOT EXISTS (SELECT * FROM beneficiary WHERE beneficiary_id = @beneficiary_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST);
END
ELSE
BEGIN
-- delete child address records
declare @address_id int, @beneficiary_address_id int;

-- cursor
DECLARE field_cursor CURSOR FOR
SELECT address_id, beneficiary_address_id  FROM beneficiary_address WHERE beneficiary_id = @beneficiary_id;
OPEN field_cursor;
FETCH NEXT FROM field_cursor INTO @address_id, @beneficiary_address_id;

WHILE @@fetch_status =0
BEGIN
DELETE FROM beneficiary_address
WHERE beneficiary_address_id = @beneficiary_address_id;

IF (@address_id is not null)
BEGIN
DELETE FROM address
WHERE address_id = @address_id;
END

FETCH NEXT FROM field_cursor INTO @address_id, @beneficiary_address_id;
END
CLOSE field_cursor
DEALLOCATE field_cursor

-- delete child tables
DELETE FROM beneficiary_address
WHERE beneficiary_address.beneficiary_id = @beneficiary_id;

DELETE FROM	beneficiary_internet_address
WHERE beneficiary_internet_address.beneficiary_id = @beneficiary_id;

DELETE FROM	beneficiary_identifier
WHERE beneficiary_identifier.beneficiary_id = @beneficiary_id;

DELETE FROM beneficiary_name
WHERE beneficiary_name.beneficiary_id = @beneficiary_id

DELETE FROM beneficiary_telephone_number
WHERE beneficiary_telephone_number.beneficiary_id = @beneficiary_id

-- delete pay to information
DELETE FROM beneficiary_payment_method
WHERE beneficiary_id = @beneficiary_id

DELETE FROM beneficiary_financial_institution
WHERE beneficiary_id = @beneficiary_id

DELETE FROM beneficiary_pay_to
WHERE beneficiary_id = @beneficiary_id

DELETE FROM beneficiary
WHERE beneficiary_id = @beneficiary_id
END

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_beneficiary);

RETURN @SP_SUCCESS;
GO
