USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 09/07/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for auto termination rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_rule_load]
(
@auto_termination_rule_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
auto_termination_rule.auto_termination_rule_id
,auto_termination_rule.auto_termination_rule_ud
,auto_termination_rule.auto_termination_rule_nm
,auto_termination_rule.active
,auto_termination_rule.created_user_name
,auto_termination_rule.created_group_id
,auto_termination_rule.created_date
,auto_termination_rule.modified_date
FROM auto_termination_rule

WHERE auto_termination_rule.auto_termination_rule_id = @auto_termination_rule_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
