USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_save]
(
@beneficiary_id                             INT = NULL   OUTPUT
,@beneficiary_type_id                        INT = NULL
,@date_of_birth                              DATE = NULL
,@date_of_death                              DATE = NULL
,@beneficiary_name_id                        INT = NULL   OUTPUT
,@company_name                               NVARCHAR(100) = NULL
,@name_last                                  NVARCHAR(100) = NULL
,@name_first                                 NVARCHAR(50) = NULL
,@name_middle                                NVARCHAR(50) = NULL
,@name_prefix_id                             INT = NULL
,@name_suffix                                NVARCHAR(50) = NULL
,@alias_type_id                              INT = NULL
,@comment                                    NVARCHAR(500) = NULL
-- Beneficiary Pay To Information
,@beneficiary_pay_to_id                      INT = NULL OUTPUT
,@beneficiary_pay_to_nm                      NVARCHAR(100) = NULL
,@attention_nm                               NVARCHAR(100) = NULL
,@address_id                                 INT = NULL OUTPUT
,@address_1                                  NVARCHAR(100) = NULL
,@address_2                                  NVARCHAR(100) = NULL
,@address_3                                  NVARCHAR(100) = NULL
,@locale_id                                  INT = NULL
,@delivery_route                             NVARCHAR(35) = NULL
,@telephone_number                           NVARCHAR(35) = NULL
,@fax_number                                 NVARCHAR(35) = NULL
,@email_address                              NVARCHAR(255) = NULL
,@internet_address                           NVARCHAR(255) = NULL
,@use_for_1099                               BIT = NULL
,@foreign_address                            BIT = NULL
,@exclude_from_payment_penalty               BIT = NULL
,@is_business_accounting_ach_standard_entry_class BIT = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 		int,
@SP_EXCEPTION 		int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@alias_type_gk		NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '1589800003',
@ERROR_CANT_INSERT 	= '1588800004',
@ERROR_CANT_UPDATE 	= '1589800005',
@alias_type_gk = (SELECT golden_key FROM alias_type WHERE alias_type_id = @alias_type_id)

DECLARE @business_accounting_ach_standard_entry_class_id INT
SET @business_accounting_ach_standard_entry_class_id =
(
SELECT accounting_ach_standard_entry_class_id
FROM accounting_ach_standard_entry_class
WHERE golden_key = 'CCD')

DECLARE @person_accounting_ach_standard_entry_class_id INT
SET @person_accounting_ach_standard_entry_class_id =
(
SELECT accounting_ach_standard_entry_class_id
FROM accounting_ach_standard_entry_class
WHERE golden_key = 'PPD')

DECLARE @accounting_ach_standard_entry_class_id INT

IF ISNULL(@is_business_accounting_ach_standard_entry_class, 0) = 1
SET @accounting_ach_standard_entry_class_id = @business_accounting_ach_standard_entry_class_id
ELSE
SET @accounting_ach_standard_entry_class_id = @person_accounting_ach_standard_entry_class_id


IF @beneficiary_id IS NULL
BEGIN
-- Create a new address record
IF (@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@address_3 IS NOT NULL)
OR (@locale_id IS NOT NULL)
BEGIN
INSERT INTO address (
address_1
,address_2
,address_3
,locale_id
,delivery_route
)
VALUES (
@address_1
,@address_2
,@address_3
,@locale_id
,@delivery_route
)
SET @address_id = @@identity
END

-- Create a new beneficiary record
INSERT INTO beneficiary(
beneficiary_type_id
,date_of_birth
,date_of_death
,comment
)
VALUES
(
@beneficiary_type_id
,@date_of_birth
,@date_of_death
,@comment
)
SET @beneficiary_id = @@IDENTITY

--- Create a new beneficiary_pay_to record
IF (@beneficiary_pay_to_nm IS NOT NULL)
OR (@attention_nm IS NOT NULL)
OR (@address_id IS NOT NULL)
OR (@telephone_number IS NOT NULL)
OR (@fax_number IS NOT NULL)
OR (@email_address IS NOT NULL)
OR (@internet_address IS NOT NULL)
OR (ISNULL(@is_business_accounting_ach_standard_entry_class, 0) = 1) -- must save a beneficiary pay to record if this is checked
BEGIN
INSERT INTO beneficiary_pay_to (
beneficiary_pay_to_nm
,beneficiary_id
,attention_nm
,address_id
,telephone_number
,fax_telephone_number
,email_address
,internet_address
,use_for_1099
,foreign_address
,exclude_from_payment_penalty
,accounting_ach_standard_entry_class_id
)
VALUES (
@beneficiary_pay_to_nm
,@beneficiary_id
,@attention_nm
,@address_id
,@telephone_number
,@fax_number
,@email_address
,@internet_address
,@use_for_1099
,@foreign_address
,ISNULL(@exclude_from_payment_penalty, 0)
,@accounting_ach_standard_entry_class_id
)

SET @beneficiary_pay_to_id = @@IDENTITY
END

--- Create a new beneficiary_name record
IF (@alias_type_gk = 'PERSON') and (@name_last is not null or @name_first is not null)
INSERT INTO beneficiary_name(
beneficiary_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
)
VALUES
(@beneficiary_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
)
ELSE IF (@alias_type_gk = 'COMPANY') and (@company_name is not null)
INSERT INTO beneficiary_name(
beneficiary_id
,name_last
,alias_type_id
)
VALUES
(@beneficiary_id
,@company_name
,@alias_type_id
)
-- Set @beneficiary_name_id for insert beneficiary_name
SET @beneficiary_name_id = @@IDENTITY

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

ELSE
BEGIN

-- Update address record
IF (@address_id IS NULL)
AND (
(@address_1 IS NOT NULL)
OR (@address_2 IS NOT NULL)
OR (@address_3 IS NOT NULL)
OR (@locale_id IS NOT NULL)
)
BEGIN
INSERT INTO address (
address_1
,address_2
,address_3
,locale_id
,delivery_route
)
VALUES (
@address_1
,@address_2
,@address_3
,@locale_id
,@delivery_route
)

SET @address_id = @@identity
END
ELSE IF (@address_id IS NOT NULL)
BEGIN
UPDATE address
SET address_1 = @address_1
,address_2 = @address_2
,address_3 = @address_3
,locale_id = @locale_id
,delivery_route = @delivery_route
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE address_id = @address_id
END

-- Update beneficiary_pay_to record
IF (@beneficiary_pay_to_id IS NULL)
AND (
(@beneficiary_pay_to_nm IS NOT NULL)
OR (@attention_nm IS NOT NULL)
OR (@address_id IS NOT NULL)
OR (@telephone_number IS NOT NULL)
OR (@fax_number IS NOT NULL)
OR (@internet_address IS NOT NULL)
OR (@email_address IS NOT NULL)
OR (ISNULL(@is_business_accounting_ach_standard_entry_class, 0) = 1)
)
BEGIN
INSERT INTO beneficiary_pay_to (
beneficiary_pay_to_nm
,beneficiary_id
,attention_nm
,address_id
,telephone_number
,fax_telephone_number
,email_address
,internet_address
,use_for_1099
,foreign_address
,exclude_from_payment_penalty
,accounting_ach_standard_entry_class_id
)
VALUES (
@beneficiary_pay_to_nm
,@beneficiary_id
,@attention_nm
,@address_id
,@telephone_number
,@fax_number
,@email_address
,@internet_address
,@use_for_1099
,@foreign_address
,ISNULL(@exclude_from_payment_penalty, 0)
,@accounting_ach_standard_entry_class_id
)

SET @beneficiary_pay_to_id = @@IDENTITY
END
ELSE IF (@beneficiary_pay_to_id IS NOT NULL)
BEGIN
UPDATE beneficiary_pay_to
SET beneficiary_pay_to_nm = @beneficiary_pay_to_nm
,beneficiary_id = @beneficiary_id
,attention_nm = @attention_nm
,address_id = @address_id
,telephone_number = @telephone_number
,fax_telephone_number = @fax_number
,email_address = @email_address
,internet_address = @internet_address
,use_for_1099 = @use_for_1099
,foreign_address = @foreign_address
,exclude_from_payment_penalty = ISNULL(@exclude_from_payment_penalty, 0)
,accounting_ach_standard_entry_class_id = @accounting_ach_standard_entry_class_id
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE beneficiary_pay_to_id = @beneficiary_pay_to_id
END

-- beneficiary_name table
IF @beneficiary_name_id is null
BEGIN
IF (@alias_type_gk = 'PERSON') and (@name_last is not null or @name_first is not null)
INSERT INTO beneficiary_name(
beneficiary_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
)
VALUES
(@beneficiary_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
)
ELSE IF (@alias_type_gk = 'COMPANY') and (@company_name is not null)
INSERT INTO beneficiary_name(
beneficiary_id
,name_last
,alias_type_id
)
VALUES
(@beneficiary_id
,@company_name
,@alias_type_id
)
-- Set @beneficiary_name_id for insert beneficiary_name
SET @beneficiary_name_id = @@IDENTITY
END -- End @beneficiary_name_id is not null

-- @beneficiary_name_id is not null
ELSE IF @beneficiary_name_id is not null
BEGIN
IF (@alias_type_gk = 'PERSON') and
(@name_last is not null or @name_first is not null )
BEGIN
-- update name
UPDATE beneficiary_name
SET
name_last                 = @name_last
,name_first                = @name_first
,name_middle               = @name_middle
,name_prefix_id            = @name_prefix_id
,name_suffix               = @name_suffix
,alias_type_id             = @alias_type_id
,modified_user_name        = ORIGINAL_LOGIN()
,modified_date             = GETDATE()
WHERE beneficiary_name_id = @beneficiary_name_id
END
ELSE IF (@alias_type_gk = 'COMPANY')
and (@company_name is not null)
BEGIN
-- change company name and null out person name
UPDATE beneficiary_name
SET
name_last                 = @company_name
,name_first                = NULL
,name_middle               = NULL
,name_prefix_id            = NULL
,name_suffix               = NULL
,alias_type_id             = @alias_type_id
,modified_user_name        = ORIGINAL_LOGIN()
,modified_date             = GETDATE()
WHERE beneficiary_name_id = @beneficiary_name_id
END
END

--- Updating an existing beneficiary record
UPDATE beneficiary
SET
beneficiary_type_id                = @beneficiary_type_id
,date_of_birth                      = @date_of_birth
,date_of_death                      = @date_of_death
,comment                            = @comment
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE beneficiary_id = @beneficiary_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)

END
GO
