USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_revert_deleted_row]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey

DESCRIPTION:
Called to revert a change made by a user to data we ship from Collaborator.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

Create Procedure [dbo].[plx_gdct_revert_deleted_row]
(
@table_def_id int,
@table_row_id int
)
As
Begin
DECLARE
@table_column_def_id int,
@system_golden_data_row_change_id int,
@plexis_value nvarchar(255),
@sql_insert nvarchar(1000),
@sql_values nvarchar(1000),
@table_name nvarchar(255),
@column_name nvarchar(255)


SELECT @table_name = table_name
FROM system_table WHERE table_def_id = @table_def_id

SELECT
@sql_insert = 'INSERT INTO ' + @table_name + '( table_row_id ',
@sql_values = ' )VALUES( ' + CAST(@table_row_id AS NVARCHAR) + ' '

SELECT @system_golden_data_row_change_id = system_golden_data_row_change_id
FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id
AND table_row_id = @table_row_id

DECLARE cur_columns CURSOR FOR
SELECT col.table_column_def_id, col.plexis_value, sc.column_name
FROM system_golden_data_original_column_value col
INNER JOIN system_column sc ON sc.table_column_def_id = col.table_column_def_id
WHERE col.system_golden_data_row_change_id = @system_golden_data_row_change_id

OPEN cur_columns
FETCH NEXT FROM cur_columns
INTO @table_column_def_id, @plexis_value, @column_name

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @sql_insert = @sql_insert + ', '
SELECT @sql_values = @sql_values + ', '

-- The quoting of values regardless of type appears to work and simplifies this sql code. So
-- even for a bit field doing --> bit_column = '1' <-- sets the bit correctly.
If @plexis_value Is Null
Set @plexis_value = 'null'
Else
Set @plexis_value = '''' + @plexis_value + ''''

SELECT @sql_insert = @sql_insert + @column_name
SELECT @sql_values = @sql_values + @plexis_value

FETCH NEXT FROM cur_columns
INTO @table_column_def_id, @plexis_value, @column_name
END

CLOSE cur_columns
DEALLOCATE cur_columns

EXEC(@sql_insert + @sql_values + ')')

DELETE FROM system_golden_data_original_column_value
WHERE system_golden_data_row_change_id = @system_golden_data_row_change_id

DELETE FROM system_golden_data_row_change
WHERE system_golden_data_row_change_id = @system_golden_data_row_change_id
End
GO
