USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_detail_work_claims_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:	Load data for the Work Claims form, Timely Claim Payment Node claim list grid.

--
REQUIREMENTS:
--
INPUTS:
@claim_timely_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_timely_payment_queue_detail_work_claims_list_load]
(
@claim_timely_payment_queue_id		INT = NULL,
@page_number						INT = 1,
@page_size							INT = 50,
@sort_by							NVARCHAR(255) = NULL,
@sort_ascending						BIT = 1
)
AS
--
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;


DECLARE @CLEAN_DATE_TYPE_ID INT;
SET @CLEAN_DATE_TYPE_ID = (SELECT claim_date_type_id FROM claim_date_type WHERE golden_key = 'CLEAN');

-- We want to pull all records greater than the last generated date for this filter,
-- since we clear out all non-reviewed records, but leave old reviewed records.
-- If there is no @last_generated_date, we want to pull from GETDATE() to not pull any old reviewed records.
DECLARE @last_generated_date DATETIME;

SELECT
@last_generated_date = queue.generated_date
FROM
claim_timely_payment_queue queue
WHERE queue.claim_timely_payment_queue_id = @claim_timely_payment_queue_id;

IF @last_generated_date IS NULL
SET @last_generated_date = GETDATE();

-- Note: Initial query used the CTE method for using FETCH to get the count and the fetched rows.
-- This worked well, however, when the client asks for a page that no longer exists due to
-- underlying changes by other users, etc., the procedure returns a count of zero, as there are
-- no rows to return that also has the count, so we need the count separately.
-- Switched to using a temp table pulling only the detail ID to use to get the count
-- and to use when paging the data joined against the other tables.

CREATE TABLE #tmp_results
(
claim_timely_payment_queue_detail_id INT
);

DECLARE @total_count INT

INSERT INTO #tmp_results
SELECT
detail.claim_timely_payment_queue_detail_id
FROM claim_timely_payment_queue_detail detail
WHERE
detail.claim_timely_payment_queue_id = @claim_timely_payment_queue_id
AND
detail.reviewed = 0
AND
detail.created_date >= @last_generated_date

SET @total_count = @@ROWCOUNT

SELECT
detail.claim_timely_payment_queue_detail_id,
cft.claim_form_type_ud,
cft.golden_key AS claim_form_type_gk,
c.claim_id,
c.claim_ud,
elig.member_eligibility_ud,
pi.provider_ud,
v.vendor_ud,
adj_stat.adjudication_status_ud,
detail.claim_timely_payment_queue_id,
detail.reviewed,
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END as [date],
0 as age_in_days, -- calculated by the client
@total_count as total_count
FROM #tmp_results results
JOIN claim_timely_payment_queue_detail detail
ON results.claim_timely_payment_queue_detail_id = detail.claim_timely_payment_queue_detail_id
JOIN claim_timely_payment_queue
queue ON queue.claim_timely_payment_queue_id = detail.claim_timely_payment_queue_id
JOIN claim c
ON detail.claim_id = c.claim_id
JOIN claim_form_type cft
ON c.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN family_eligibility_member_benefit_plan elig
ON c.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
LEFT JOIN provider_identifier pi
ON c.billing_provider_identifier_id = pi.provider_identifier_id
LEFT JOIN vendor v
ON c.vendor_id = v.vendor_id
LEFT JOIN adjudication_status adj_stat
ON c.adjudication_status_id = adj_stat.adjudication_status_id
ORDER BY
CASE WHEN @sort_by IS NULL THEN
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END
END ASC,

CASE WHEN @sort_by = 'claim_form_type_ud' AND @sort_ascending = 1 THEN claim_form_type_ud END ASC,
CASE WHEN @sort_by = 'claim_form_type_ud' AND @sort_ascending = 0 THEN claim_form_type_ud END DESC,

CASE WHEN @sort_by = 'claim_ud' AND @sort_ascending = 1 THEN claim_ud END ASC,
CASE WHEN @sort_by = 'claim_ud' AND @sort_ascending = 0 THEN claim_ud END DESC,

CASE WHEN @sort_by = 'member_eligibility_ud' AND @sort_ascending = 1 THEN member_eligibility_ud END ASC,
CASE WHEN @sort_by = 'member_eligibility_ud' AND @sort_ascending = 0 THEN member_eligibility_ud END DESC,

CASE WHEN @sort_by = 'provider_ud' AND @sort_ascending = 1 THEN provider_ud END ASC,
CASE WHEN @sort_by = 'provider_ud' AND @sort_ascending = 0 THEN provider_ud END DESC,

CASE WHEN @sort_by = 'vendor_ud' AND @sort_ascending = 1 THEN vendor_ud END ASC,
CASE WHEN @sort_by = 'vendor_ud' AND @sort_ascending = 0 THEN vendor_ud END DESC,

CASE WHEN @sort_by = 'adjudication_status_ud' AND @sort_ascending = 1 THEN adjudication_status_ud END ASC,
CASE WHEN @sort_by = 'adjudication_status_ud' AND @sort_ascending = 0 THEN adjudication_status_ud END DESC,

CASE WHEN @sort_by = 'date' AND @sort_ascending = 1 THEN
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END
END ASC,
CASE WHEN @sort_by = 'date' AND @sort_ascending = 0 THEN
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END
END DESC,

CASE WHEN @sort_by = 'age_in_days' AND @sort_ascending = 1 THEN
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END
END ASC,
CASE WHEN @sort_by = 'age_in_days' AND @sort_ascending = 0 THEN
CASE WHEN queue.claim_date_type_id = @CLEAN_DATE_TYPE_ID THEN c.clean_date ELSE c.received_date END
END DESC,

CASE WHEN @sort_by = 'reviewed' AND @sort_ascending = 1 THEN reviewed END ASC,
CASE WHEN @sort_by = 'reviewed' AND @sort_ascending = 0 THEN reviewed END DESC

OFFSET ((@page_number - 1) * @page_size) ROWS
FETCH NEXT @page_size ROWS ONLY

SELECT @total_count AS total_count
RETURN @SP_SUCCESS;
GO
