USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_reconciliation_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 05/20/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/20/2009  W.Christensen  1.0      Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data (is_reconciled) for Payment grid on Customer Payment Reconciliation form

--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_ar_id
@is_reconciled
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_customer_payment_reconciliation_save]
(

@accounting_transaction_ar_id  INT
,@is_reconciled                Bit

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF NOT EXISTS (SELECT * FROM accounting_transaction_ar WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END

--
ELSE
BEGIN
UPDATE accounting_transaction_ar_payment_detail
SET
is_reconciled = @is_reconciled
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
