USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cob_processing_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/02/2009
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_cob_processing_rule_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cob_processing_rule_id
,cob_processing_rule_ud
,golden_key

FROM (
SELECT
cob_processing_rule_id
,cob_processing_rule_ud
,golden_key
,CASE golden_key
WHEN 'NONE'
THEN 0
ELSE 1
END AS sort_order
FROM cob_processing_rule
) cpr
ORDER BY sort_order, cob_processing_rule_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
