USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_get_batch]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_get_batch]
@batchSize INT,
@offset INT
AS

SET NOCOUNT ON;

SELECT
wt.coverage_level_process_work_table_id,
wt.family_eligibility_id,
wt.benefit_plan_id,
wt.self_count,
wt.spouse_count,
wt.dependent_count,
wt.tier_id
FROM
coverage_level_process_work_table wt
ORDER BY
wt.coverage_level_process_work_table_id ASC
OFFSET @offset ROWS
FETCH NEXT @batchSize ROWS ONLY;
GO
