USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_topics_credit_memo_ar_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Loads topics for the frmCreditMemoAr form
from the additional_information_topic table.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_topics_credit_memo_ar_load]

AS
--
--
SET NOCOUNT ON;
--
SELECT
ait.additional_information_topic_id
,ait.additional_information_topic_ud
FROM additional_information_form aif
LEFT JOIN additional_information ai
ON ai.additional_information_form_id = aif.additional_information_form_id
LEFT JOIN additional_information_topic ait
ON ai.additional_information_topic_id = ait.additional_information_topic_id
WHERE
aif.additional_information_form_nm='frmAccountingCreditMemoAr'
AND ait.additional_information_topic_id IS NOT NULL
ORDER BY
ait.additional_information_topic_ud;

RETURN 0;
GO
