USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_in_used_treatment_type_set_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Jul 28 2006  1:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get all Treatment type set used by benefit framework
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_framework_in_used_treatment_type_set_load]
(
@benefit_framework_id	Int = null
,@benefit_id		Int= null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT distinct
benefit_treatment_type_set.treatment_type_set_id
,benefit_treatment_type_set.effective_from
,benefit_treatment_type_set.effective_thru

FROM benefit_framework_benefit_class
INNER JOIN benefit  ON benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit.benefit_framework_benefit_class_id
INNER JOIN benefit_treatment_type_set ON benefit.benefit_id  =	benefit_treatment_type_set.benefit_id
and benefit.benefit_id <> @benefit_id


WHERE   benefit_framework_benefit_class.benefit_framework_id=@benefit_framework_id
AND   benefit_treatment_type_set.benefit_treatment_type_set_id IS NOT NULL
AND   benefit_treatment_type_set.treatment_type_set_id IS NOT NULL



RETURN @SP_SUCCESS
GO
