USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_assignment_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
05/05/2009   Created
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Financial Responsibility Assignment grid on Financial Responsiblity Assignment form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_financial_responsibility_assignment_save]
(
@financial_responsibility_assignment_id		int = NULL   OUTPUT
,@financial_responsibility_assignment_ud						nvarchar(50)
,@financially_responsible_party_id				int
,@criteria_id											int = NULL
,@client_id												int = NULL
,@client_group_id										int = NULL
,@benefit_contract_id								int = NULL
,@benefit_category_id								int = NULL
,@network_level_id									int = NULL
,@treatment_type_id									int = NULL
,@financial_responsibility_schedule_id			int = NULL
,@result_code_id										int
,@result_code_status_id								int
,@effective_from                             datetime
,@effective_thru                             datetime = NULL

) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '158940001',
@ERROR_NOT_EXIST	= '158940002',
@ERROR_CANT_UPDATE 	= '158940003'
--
IF @financial_responsibility_assignment_id is Null
BEGIN

--- Create a new financial_responsibility_assignment record
INSERT INTO financial_responsibility_assignment(
financial_responsibility_assignment_ud
,financially_responsible_party_id
,criteria_id
,client_id
,client_group_id
,benefit_contract_id
,benefit_category_id
,network_level_id
,treatment_type_id
,financial_responsibility_schedule_id
,result_code_id
,result_code_status_id
,effective_from
,effective_thru
)
VALUES
(@financial_responsibility_assignment_ud
,@financially_responsible_party_id
,@criteria_id
,@client_id
,@client_group_id
,@benefit_contract_id
,@benefit_category_id
,@network_level_id
,@treatment_type_id
,@financial_responsibility_schedule_id
,@result_code_id
,@result_code_status_id
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @financial_responsibility_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM financial_responsibility_assignment WHERE financial_responsibility_assignment_id = @financial_responsibility_assignment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing financial_responsibility_assignment record
UPDATE financial_responsibility_assignment
SET
financial_responsibility_assignment_ud	= @financial_responsibility_assignment_ud
,financially_responsible_party_id		= @financially_responsible_party_id
,criteria_id									= @criteria_id
,client_id										= @client_id
,client_group_id								= @client_group_id
,benefit_contract_id							= @benefit_contract_id
,benefit_category_id							= @benefit_category_id
,network_level_id								= @network_level_id
,treatment_type_id							= @treatment_type_id
,financial_responsibility_schedule_id	= @financial_responsibility_schedule_id
,result_code_id								= @result_code_id
,result_code_status_id						= @result_code_status_id
,effective_from								= @effective_from
,effective_thru								= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE financial_responsibility_assignment_id = @financial_responsibility_assignment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
