USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_customer_refund_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Deletes Customer Refund when Payment Status = 'ENTERED'
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_customer_refund_delete]
(
@accounting_transaction_ar_id	INT = NULL OUTPUT -- Customer Refund ID
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS				INT,
@SP_EXCEPTION			INT,
@ERROR_RECORD_LOCKED	NVARCHAR(50);

SELECT
@SP_SUCCESS				= 0,
@SP_EXCEPTION			= -1;
--
IF NOT EXISTS (	SELECT *
FROM accounting_transaction_ar atar
JOIN accounting_transaction_ar_refund_detail detail
ON detail.accounting_transaction_ar_id = atar.accounting_transaction_ar_id
WHERE atar.accounting_transaction_ar_id = @accounting_transaction_ar_id)

RETURN @SP_SUCCESS

ELSE
BEGIN

--Delete child tables
DECLARE @apply_to_transaction_id INT;

DECLARE cur_apply_to_transactions CURSOR FOR
SELECT accounting_transaction_ar_apply_to_id
FROM accounting_transaction_ar_apply_to
WHERE from_accounting_transaction_ar_id = @accounting_transaction_ar_id;

OPEN cur_apply_to_transactions
FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id;

WHILE @@FETCH_STATUS = 0
BEGIN
-- Delete the apply to transaction
EXEC plx_accounting_transaction_ar_refund_detail_transactions_delete @apply_to_transaction_id;

FETCH NEXT FROM cur_apply_to_transactions
INTO @apply_to_transaction_id;
END

CLOSE cur_apply_to_transactions
DEALLOCATE cur_apply_to_transactions

-- Delete the Distributions for the Refund
DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

--Delete the customer refund (First we have to delete from accounting_transaction_ar_refund_detail, then from accounting_transaction_ar table)
--Delete accounting_transaction_ar_refund_detail
DELETE FROM accounting_transaction_ar_refund_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

DECLARE @ErrorVar int, @RowCountVar int;

--Delete accounting_transaction_ar
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id;

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_EXCEPTION)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

RETURN @SP_SUCCESS
GO
