USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_override_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: fcahill
Nov 121 2008   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/22/2014		eponomareff			RT:6046 data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_framework_override_load]
(
@benefit_framework_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bfuarc.benefit_framework_user_assigned_result_code_id
,bfuarc.criteria_id
,criteria.criteria_ud
,bfuarc.benefit_id
,b.benefit_ud
,bfuarc.result_code_id
,result_code.result_code_ud
,bfuarc.result_code_status_id
,result_code_status.result_code_status_ud
,bfuarc.comment
,bfuarc.effective_from
,bfuarc.effective_thru
,bfuarc.modified_user_name
,bfuarc.modified_date

FROM
benefit_framework_user_assigned_result_code AS bfuarc

INNER JOIN benefit_framework
ON bfuarc.benefit_framework_id = benefit_framework.benefit_framework_id
LEFT OUTER JOIN benefit AS b
ON bfuarc.benefit_id = b.benefit_id
LEFT OUTER JOIN criteria
ON criteria.criteria_id = bfuarc.criteria_id
LEFT OUTER JOIN result_code
ON result_code.result_code_id = bfuarc.result_code_id
LEFT OUTER JOIN result_code_status
ON result_code_status.result_code_status_id = bfuarc.result_code_status_id
WHERE
(bfuarc.benefit_framework_id = @benefit_framework_id)
ORDER BY
CASE WHEN bfuarc.effective_from IS NULL THEN 0 ELSE 1 END,
bfuarc.effective_from DESC,
CASE WHEN bfuarc.effective_thru IS NULL THEN 0 ELSE 1 END,
bfuarc.effective_thru DESC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
