USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_rule_type_by_entity_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/22/2010				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'correspondence rule type ' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_correspondence_rule_type_by_entity_load]
(
@correspondence_entity_id	INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int
SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1

SELECT
crt.correspondence_rule_type_id
,crt.correspondence_rule_type_ud
FROM correspondence_rule_type crt, correspondence_entity ce
WHERE crt.correspondence_entity_id = ce.correspondence_entity_id
AND (@correspondence_entity_id IS NULL OR crt.correspondence_entity_id = @correspondence_entity_id)
ORDER BY correspondence_rule_type_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
