USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_pre_existing_condition_duration_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 12/05/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/05/2007	Vishwa Jella	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to save data in grid "Pre-existing Condition Duration"
in Family Eligibility form and Advanced Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:


@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_pre_existing_condition_duration_save]

(
@family_eligibility_member_benefit_plan_pre_existing_condition_duration_id int = NULL  output
,@family_eligibility_member_benefit_plan_id int = null
,@pre_existing_criteria_or_diagnosis_code_group_id           int = NULL
,@member_medical_condition_id                int = NULL
,@look_back_status_id                        int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @family_eligibility_member_benefit_plan_pre_existing_condition_duration_id is Null
BEGIN
--- Create a new record
INSERT INTO family_eligibility_member_benefit_plan_pre_existing_condition_duration(
family_eligibility_member_benefit_plan_id
,pre_existing_criteria_or_diagnosis_code_group_id
,member_medical_condition_id
,look_back_status_id
,active
)
VALUES
(@family_eligibility_member_benefit_plan_id
,@pre_existing_criteria_or_diagnosis_code_group_id
,@member_medical_condition_id
,@look_back_status_id
,@active
)
--
SET @family_eligibility_member_benefit_plan_pre_existing_condition_duration_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_pre_existing_condition_duration WHERE family_eligibility_member_benefit_plan_pre_existing_condition_duration_id = @family_eligibility_member_benefit_plan_pre_existing_condition_duration_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int
--
--- Updating an existing record
--
UPDATE family_eligibility_member_benefit_plan_pre_existing_condition_duration
SET
family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
,pre_existing_criteria_or_diagnosis_code_group_id = @pre_existing_criteria_or_diagnosis_code_group_id
,member_medical_condition_id              = @member_medical_condition_id
,look_back_status_id                      = @look_back_status_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_member_benefit_plan_pre_existing_condition_duration_id = @family_eligibility_member_benefit_plan_pre_existing_condition_duration_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
