USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_set_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_client_set_save] (
@client_set_id INT = 0 OUTPUT,
@client_set_ud NVARCHAR(50) = NULL,
@client_set_nm NVARCHAR(255) = NULL,
@active BIT = NULL
)
AS
DECLARE @SP_SUCCESS INT,
@ERROR_INSERT_FAILS NVARCHAR(50),
@ERROR_UPDATE_FAILS NVARCHAR(50),
@ERROR_DOES_NOT_EXIST NVARCHAR(50)

SELECT @SP_SUCCESS = 0,
@ERROR_INSERT_FAILS = 'G_INSERT_FAILS',
@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS',
@ERROR_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'

IF ISNULL(@client_set_id, 0) = 0
BEGIN
INSERT INTO client_set (
client_set_ud,
client_set_nm,
active
)
VALUES (
@client_set_ud,
@client_set_nm,
@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @client_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (
SELECT *
FROM client_set
WHERE client_set_id = @client_set_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE client_set
SET client_set_ud = @client_set_ud,
client_set_nm = @client_set_nm,
active = @active,
modified_user_name = ORIGINAL_LOGIN(),
modified_date = GETDATE()
WHERE client_set_id = @client_set_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END

--
RETURN @SP_SUCCESS
--
GO
