USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_company_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/19/2005	Tinh Do			Created 	15901:Client & Group
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to load 'client_group' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
Create PROCEDURE [dbo].[plx_dd_company_type_list_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT company_type_id
,company_type_ud
,company_type_nm

FROM company_type

ORDER BY company_type_ud
--
RETURN @SP_SUCCESS
--
END
GO
