USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_address_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_address_load]
(
@beneficiary_id INT = NULL
)
AS
BEGIN
DECLARE @SP_SUCCESS 	INT
SELECT @SP_SUCCESS 	= 0

SET NOCOUNT ON
SELECT
beneficiary_address.beneficiary_address_id
,beneficiary_address.beneficiary_id
,CONVERT(BIT, ISNULL(beneficiary_address.is_primary,0)) AS primary_for_beneficiary
,beneficiary_address.contact_address_type_id
,contact_address_type.contact_address_type_ud
,beneficiary_address.address_id
,address.address_1
,address.address_2
,address.address_3
,locale.locale_id
,locale.postal_code
,address.delivery_route
,locale.county
,country.country_id
,country.country_ud
,state.state_id
,state.state_ud
,locale.city

,CONVERT(BIT, ISNULL(beneficiary_address.mail_ok,0)) AS mail_ok
,beneficiary_address.effective_from
,beneficiary_address.effective_thru

FROM beneficiary_address
LEFT JOIN contact_address_type  ON contact_address_type.contact_address_type_id = beneficiary_address.contact_address_type_id
LEFT JOIN address  ON address.address_id = beneficiary_address.address_id
LEFT JOIN locale  ON address.locale_id = locale.locale_id
LEFT JOIN state  ON locale.state_id = state.state_id
LEFT JOIN country  ON locale.country_id = country.country_id

WHERE beneficiary_address.beneficiary_id = @beneficiary_id

-- The grid is sorted on the Primary column first (Primary at top), Type column second
ORDER BY primary_for_beneficiary DESC,
contact_address_type.contact_address_type_ud

RETURN @SP_SUCCESS
END
GO
