USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_method_customer_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/25/2012   cknobloch	1.1			removed EFT from showing.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down payment_method_customer (Payment Method (by Customers))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_dd_payment_method_customer_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
payment_method_customer_id
,payment_method_customer_ud
,golden_key

FROM payment_method_customer
WHERE golden_key <> 'ACH/EFT'
ORDER BY payment_method_customer_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
