USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_procedure_for_pred_detail_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description


HEADER_END;
******************************/


CREATE      PROCEDURE [dbo].[plx_find_claim_procedure_for_pred_detail_load]

(
@claim_id								INT = null
)
AS
BEGIN

EXEC plx_claim_procedure_pred_load @claim_id

END
GO
