USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_external_claim_editing_result_code_mapping_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/01/2014
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save a record for external claim editing result code mapping on frmExternalClaimEditingResultCodeMapping

--
REQUIREMENTS:
--
INPUTS:
@external_claim_editing_result_code_mapping_id
,@external_claim_editing_result_code_mapping_ud
,@description
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_external_claim_editing_result_code_mapping_save]
(
@external_claim_editing_result_code_mapping_id	INT = NULL	OUTPUT,
@external_claim_editing_result_code_mapping_ud	NVARCHAR(50) = NULL,
@description									NVARCHAR(255) = NULL,
@apply_claim_edits_to_claim_header_result_codes	BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT,
@ERROR_INSERT_FAILS NVARCHAR(50),
@ERROR_UPDATE_FAILS NVARCHAR(50),
@ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0,
@ERROR_INSERT_FAILS = 'G_INSERT_FAILS',
@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS',
@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@external_claim_editing_result_code_mapping_id, 0) = 0
BEGIN
INSERT INTO external_claim_editing_result_code_mapping(
external_claim_editing_result_code_mapping_ud,
description,
apply_claim_edits_to_claim_header_result_codes
)
VALUES(
@external_claim_editing_result_code_mapping_ud,
@description,
@apply_claim_edits_to_claim_header_result_codes
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @external_claim_editing_result_code_mapping_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM external_claim_editing_result_code_mapping WHERE external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE external_claim_editing_result_code_mapping
SET
external_claim_editing_result_code_mapping_ud		= 	@external_claim_editing_result_code_mapping_ud,
description										=	@description,
apply_claim_edits_to_claim_header_result_codes	= @apply_claim_edits_to_claim_header_result_codes,
modified_date									=	GETDATE(),
modified_user_name								=	ORIGINAL_LOGIN()

WHERE external_claim_editing_result_code_mapping_id = @external_claim_editing_result_code_mapping_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
