USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_underwriting_review_decision_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure loads review decision codes for the Eligibility Volume and Underwriting form.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_underwriting_review_decision_load]

AS
--
DECLARE
@SP_SUCCESS int;
SELECT
@SP_SUCCESS = 0;

SELECT
urd.underwriting_review_decision_id
,urd.underwriting_review_decision_ud
FROM underwriting_review_decision urd
ORDER BY underwriting_review_decision_ud
--
RETURN @SP_SUCCESS
GO
