USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
2/1/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
3/16/2012	dcannon		1.1			addedP/T Conflict and additional rules
5/17/2012	dcannon		1.2			removed ignore_modifier_51
6/4/2012	dcannon		1.3			added procedure_code_ad_on join
8/10/2012	pprasad		1.4			updated to load primary_diagnosis_code
4/07/2014	amortensen	1.5			updated to load external_claim_editing_result_code_mapping
04/16/2015	dcannon		1.6			RT:7225 add automate_bundling bit to query select
11/09/2015	amortensen	1.7			RT:7732 added ncci_ignore_denied_claim_line
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is used to load Claim Processing Rules Framework form
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_load]
(
@claim_processing_rule_framework_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
cprf.claim_processing_rule_framework_id,
cprf.claim_processing_rule_framework_ud,
cprf.description,
cprf.ncci_modifier_set_id,
ms.modifier_set_ud,
cprf.ncci_ignore_denied_claim_line,
cprf.add_on_procedure_code_schedule_id,
pcaos.procedure_code_add_on_schedule_ud,
cprf.external_claim_editing_result_code_mapping_id,
ecercm.external_claim_editing_result_code_mapping_ud,
ecercm.description,
cprf.ignore_denied_claim_line,
cprf.global_period_process,
cprf.ignore_icd_edits,
cprf.payment_modification,
cprf.primary_diagnosis_code,
cprf.automate_bundling
FROM claim_processing_rule_framework cprf
LEFT JOIN modifier_set ms
ON ms.modifier_set_id = cprf.ncci_modifier_set_id
LEFT JOIN procedure_code_add_on_schedule pcaos
ON pcaos.procedure_code_add_on_schedule_id = cprf.add_on_procedure_code_schedule_id
LEFT JOIN external_claim_editing_result_code_mapping ecercm
ON cprf.external_claim_editing_result_code_mapping_id = ecercm.external_claim_editing_result_code_mapping_id
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id

ORDER BY claim_processing_rule_framework_ud
--
RETURN @SP_SUCCESS
GO
