USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 04/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load a record for financial responsibility schedule

--
REQUIREMENTS:
--
INPUTS:
@financial_responsibility_schedule_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_financial_responsibility_schedule_load]
(
@financial_responsibility_schedule_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
frs.financial_responsibility_schedule_id
,frs.financial_responsibility_schedule_ud
,frs.description

FROM financial_responsibility_schedule frs
WHERE frs.financial_responsibility_schedule_id = @financial_responsibility_schedule_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
