USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_queue_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/02/2009	lrenard			1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a claim payment queue before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the claim payment queue to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_adjudication_queue_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the claim payment queue exists
IF NOT EXISTS (SELECT adjudication_queue_id FROM adjudication_queue WHERE adjudication_queue_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM adjudication_run WHERE adjudication_queue_id = @id)
BEGIN
--check claim payment runs
SELECT 'Adjudication Run' AS object_golden_key, adjudication_run_ud AS object_ud
FROM adjudication_run
WHERE adjudication_queue_id = @id

RETURN @SP_DELETE_UNABLE

END
ELSE
RETURN @SP_DELETE_ABLE
GO
