USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_provider_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: TINH DO
Oct 12 2005  9:20AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/12/2005	Tinh Do		Created
02/09/2006      HungTnguyen     changed provider_ud
03/20/2006     HungTnguyen     changed provider to provider_identifier
02/06/2013      eponomareff         added established_patient_indicator field
02/16/2015		cknobloch			adding practice_office_id, overridden_by, overridden_by_date and provider_assignment_override_reason_id

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data in grid "Provider Assignments"
in Family Eligibility form and Advance Eligibility Setup form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_provider_load]

(
@family_eligibility_member_benefit_plan_id  Int =null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
flmbcpbpp.family_eligibility_member_benefit_plan_provider_id
,flmbcpbpp.family_eligibility_member_benefit_plan_id
,flmbcpbpp.provider_identifier_id
,provider_identifier.provider_ud
,flmbcpbpp.practice_office_id
,po.practice_office_ud
,po.practice_office_nm
,flmbcpbpp.provider_id
,dbo.plx_ConcatenateName(provider_name.name_last,provider_name.name_first,provider_name.name_middle,NULL) as  provider_name
,flmbcpbpp.provider_category_id
,flmbcpbpp.established_patient_indicator_id
,epi.established_patient_indicator_ud
,flmbcpbpp.overridden_by_username
,flmbcpbpp.overridden_date
,flmbcpbpp.provider_assignment_override_reason_id
,paor.provider_assignment_override_reason_ud
,provider_category_type.provider_category_type_ud as provider_category_ud
,flmbcpbpp.effective_from
,flmbcpbpp.effective_thru
,flmbcpbpp.provider_assignment_termination_reason_id
,provider_assignment_termination_reason.provider_assignment_termination_reason_ud
,flmbcpbpp.modified_date

FROM family_eligibility_member_benefit_plan_provider flmbcpbpp
left join provider  ON provider.provider_id = flmbcpbpp.provider_id
left join provider_identifier  ON provider_identifier.provider_identifier_id = flmbcpbpp.provider_identifier_id
left join practice_office po ON flmbcpbpp.practice_office_id = po.practice_office_id
left join provider_name ON provider.provider_id = provider_name.provider_id and provider_name.is_primary = 1
left join provider_category  ON provider_category.provider_category_id = flmbcpbpp.provider_category_id
left join provider_category_type  ON provider_category.provider_category_type_id = provider_category_type.provider_category_type_id
left join provider_assignment_termination_reason  ON provider_assignment_termination_reason.provider_assignment_termination_reason_id = flmbcpbpp.provider_assignment_termination_reason_id
left join established_patient_indicator epi ON flmbcpbpp.established_patient_indicator_id = epi.established_patient_indicator_id
left join provider_assignment_override_reason paor ON flmbcpbpp.provider_assignment_override_reason_id = paor.provider_assignment_override_reason_id

WHERE flmbcpbpp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY
CASE WHEN flmbcpbpp.effective_from IS NULL THEN 0 ELSE 1 END , flmbcpbpp.effective_from DESC
,CASE WHEN flmbcpbpp.effective_thru IS NULL THEN 0 ELSE 1 END , flmbcpbpp.effective_thru DESC
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
