USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
Jul 28 2005 11:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/28/2005	tvngo		1.0		Created
07/15/2013  eponomareff 2.0     added ICD version support

--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Select fields from the diagnosis_code table.
This stored procedure is used in the Diagnosis Code form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_diagnosis_code_load]
(
@diagnosis_code_id			Int = null
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
dc.diagnosis_code_id
,dc.diagnosis_code_ud
,dc.diagnosis_code_version_id
,dcv.diagnosis_code_version_id
--,diagnosis_code.diagnosis_code_nm
,dc.description
--      ,diagnosis_code.diagnosis_code_type_id
--      ,diagnosis_code_type.diagnosis_code_type_ud
,dc.effective_from
,dc.effective_thru
,dc.active
,dc.created_user_name
,dc.created_date
,dc.modified_date
FROM diagnosis_code dc
LEFT JOIN diagnosis_code_version dcv ON dc.diagnosis_code_version_id = dcv.diagnosis_code_version_id
--      inner join diagnosis_code_type  ON diagnosis_code_type.diagnosis_code_type_id = diagnosis_code.diagnosis_code_type_id
WHERE dc.diagnosis_code_id = @diagnosis_code_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
