USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_provider_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HiepNguyen
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date             Modified By      Version      Description
--------------------------------------------------------------------------------
12/14/2005      HiepNguyen        1.0          	Created
01/04/2006      HiepNguyen        1.1          	Removed some fields
01/13/2006      HiepNguyen        1.2          	Changed provider_identifier_ud to provider_ud
01/19/2006      HiepNguyen        1.3          	Applied using default value if the user don't enter for some fields
03/02/2006      HiepNguyen        1.4          	Modified
30/03/2006      Tinh Do           1.5     	Add output column provider_name_id
09/12/2006	Hiep Nguyen	  1.6		Removed redundant code and used datediff to compare dates
09/20/2006	Hiep Nguyen	  1.7		Add Provider Specialty ID
11/16/2006	Hiep Nguyen	  1.8		changed @vendor_id to @vendor_ud
11/30/2006	Hiep Nguyen	  1.9	  	Modified based on Association Effective dates
05/06/2008	lrenard		    2.0		added taxonomy_code_ud as a search criteria
11/05/2008  jhein                show_only_defaults changed to show only default IDs, show only effective IDs  added
05/11/2009	David Slayton	2.2		Added ability to short circuit where clause to just return column names.
08/13/2009  eponomareff    2.3      20579 - removal of one-many child data from result set - except provider identifiers
11/16/2011	ggutshall		2.4		Added returnset limitations
07/25/2017	rleidich				SP12224 add joins only when needed (based on search criteria), removed ISNULLs
09/21/2017  rleidich        2.5     SP12063 Correct network and network set join
07/02/2019  lhendrix		2.6 SP15247 Convert to parameterized dyn SQL
07/17/2019  lhendrix		2.7 SP15337,  SP15332

--
CURRENT_VERSION: 2.6
--
DESCRIPTION:
The procedure is used to find the providers that match the input queries.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_provider_load]
(
@get_column_headers bit = 0
, @alias_type_id int = NULL
, @provider_ud nvarchar(50) = NULL
, @provider_company_name nvarchar(100) = NULL
, @provider_last_name nvarchar(100) = NULL
, @provider_first_name nvarchar(100) = NULL
, @provider_gender_id int = NULL
, @provider_identifier_type_id int = NULL
, @provider_category_type_id int = NULL
, @provider_specialty_type_id int = NULL
, @provider_language_id int = NULL
, @vendor_ud nvarchar(50) = NULL
, @vendor_nm nvarchar(100) = NULL
, @federal_ein nvarchar(50) = NULL
, @provider_network_id int = NULL
, @provider_network_set_id int = NULL
, @call_share_group_id int = NULL
, @taxonomy_code_ud nvarchar(50) = NULL
, @practice_office_id int = NULL
, @practice_office_phone_number nvarchar(50) = NULL
, @postal_code nvarchar(255) = NULL
, @locale_id int = NULL
, @street_address nvarchar(100) = NULL
, @city nvarchar(50) = NULL
, @county nvarchar(50) = NULL
, @state_id int = NULL
, @practice_office_provider_associated_from datetime = NULL
, @practice_office_provider_associated_thru datetime = NULL
, @email nvarchar(255) = NULL
, @show_exact_matches bit = 0
, @show_only_defaults bit = 1
, @show_only_current bit = 1
)
AS
BEGIN
DECLARE @SP_SUCCESS                  int
, @SP_EXCEPTION                int
, @SqlQuery                    nvarchar(MAX)
, @SqlCondition                nvarchar(MAX)
, @SqlQuery_ProviderIdentifier nvarchar(MAX)
, @SqlQuery_ProviderSpecialty  nvarchar(MAX)
, @SqlQuery_Vendor             nvarchar(MAX)
, @SqlQuery_Network            nvarchar(MAX)
, @SqlQuery_PracticeOffice     nvarchar(MAX)
, @SqlConditionalJoin          nvarchar(MAX)
, @effective_from              date
, @effective_thru              date
, @SqlOrder_By                 nvarchar(MAX)
, @Now                         datetime
, @vendorJoin                  bit
, @teleJoin                    bit
, @addressJoin                 bit
, @localeJoin                  bit
, @emailJoin                   bit
, @address_column_compare      nvarchar(512)
, @linebreak                   AS nchar(2);

SELECT @SP_SUCCESS                  = 0
, @SP_EXCEPTION                = -1
, @SqlQuery                    = N''
, @SqlQuery_ProviderIdentifier = N''
, @SqlQuery_ProviderSpecialty  = N''
, @SqlQuery_Vendor             = N''
, @SqlQuery_Network            = N''
, @SqlConditionalJoin          = N''
, @SqlOrder_By                 = N''
, @SqlQuery_PracticeOffice     = N''
, @Now                         = getdate()
, @vendorJoin                  = 0
, @teleJoin                    = 0
, @addressJoin                 = 0
, @localeJoin                  = 0
, @emailJoin                   = 0
, @effective_from              = isnull(@practice_office_provider_associated_from, '1/1/1753')
, @effective_thru              = isnull(@practice_office_provider_associated_thru, '12/31/9999')
, @address_column_compare
= N' (CASE WHEN a.address_1 IS NOT NULL THEN '
+ N'    CASE WHEN a.address_2 IS NOT NULL THEN a.address_1 + '', '' + a.address_2 '
+ N'    ELSE a.address_1 END ' + N'    ELSE CASE WHEN a.address_2 IS NOT null THEN a.address_2 '
+ N'  ELSE '''' END END) '
, @linebreak                   = char(13) + char(10)
, @SqlCondition                = @linebreak + N' WHERE ' + convert(nvarchar(1), @get_column_headers) + N' = 0 ';


IF isnull(@alias_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + @linebreak + N' AND at.alias_type_id =  @alias_type_id ';

IF isnull(@provider_ud, '') <> ''
SET @SqlCondition = @SqlCondition + @linebreak + N' AND p_pi.provider_ud IS NOT NULL ';
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'p_pi.provider_ud'
, @variable_name = '@provider_ud'
, @variable_value = @provider_ud OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;

IF isnull(@provider_identifier_type_id, 0) > 0
SET @SqlCondition
= @SqlCondition + @linebreak
+ N' AND pit.provider_identifier_type_id =
@provider_identifier_type_id ';

SET @SqlQuery_ProviderIdentifier = N' LEFT JOIN dbo.provider_identifier p_pi ON p_pi.provider_id = p.provider_id ';

IF (@show_only_defaults = 1)
SET @SqlCondition = @SqlCondition + @linebreak + N' AND p_pi.use_as_default = 1  ';

IF (@show_only_current = 1)
BEGIN
SET @SqlCondition
= @SqlCondition + @linebreak
+ N' AND DATEDIFF(day, p_pi.effective_from, @Now) >= 0
AND (p_pi.effective_thru IS NULL
OR (p_pi.effective_thru IS NOT NULL AND DATEDIFF(day, p_pi.effective_thru,  @Now) <= 0)) ';
END;

IF isnull(@provider_last_name, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'pn.name_last'
, @variable_name = '@provider_last_name'
, @variable_value = @provider_last_name OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
END;

IF isnull(@provider_first_name, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'pn.name_first'
, @variable_name = '@provider_first_name'
, @variable_value = @provider_first_name OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
END;

IF isnull(@provider_gender_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak + N' AND p.gender_id =   @provider_gender_id';
END;

IF isnull(@provider_company_name, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'pn.name_last'
, @variable_name = '@provider_company_name'
, @variable_value = @provider_company_name OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
END;

IF isnull(@provider_category_type_id, 0) > 0
BEGIN
SET @SqlCondition
= @SqlCondition + @linebreak + N' AND pct.provider_category_type_id =  @provider_category_type_id ';
SET @SqlConditionalJoin
= @SqlConditionalJoin + @linebreak
+ N'LEFT JOIN dbo.provider_category pc ON p.provider_id = pc.provider_id
LEFT JOIN dbo.provider_category_type pct ON pct.provider_category_type_id = pc.provider_category_type_id ';
END;

IF isnull(@provider_specialty_type_id, 0) > 0
BEGIN
SET @SqlCondition
= @SqlCondition + @linebreak + N' AND pst.provider_specialty_type_id =  @provider_specialty_type_id  ';
SET @SqlQuery_ProviderSpecialty
= N' LEFT JOIN dbo.provider_specialty p_ps ON p_ps.provider_id = p.provider_id ';
SET @SqlConditionalJoin
= @SqlConditionalJoin + @linebreak
+ N'   LEFT JOIN dbo.provider_specialty_type pst ON pst.provider_specialty_type_id = p_ps.provider_specialty_type_id ';
END;

IF isnull(@provider_language_id, 0) > 0
BEGIN

SET @SqlCondition = @SqlCondition + @linebreak + N' AND pl.language_id =  @provider_language_id ';
SET @SqlConditionalJoin
= @SqlConditionalJoin + @linebreak
+ N'LEFT JOIN dbo.provider_language pl ON pl.provider_id = p.provider_id ';
END;

IF isnull(@vendor_ud, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'v.vendor_ud'
, @variable_name = '@vendor_ud'
, @variable_value = @vendor_ud OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @vendorJoin = 1;
END;

IF isnull(@vendor_nm, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'v.vendor_nm'
, @variable_name = '@vendor_nm'
, @variable_value = @vendor_nm OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @vendorJoin = 1;
END;

IF isnull(@federal_ein, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'v.federal_ein'
, @variable_name = '@federal_ein'
, @variable_value = @federal_ein OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @vendorJoin = 1;
END;

IF @vendorJoin = 1
BEGIN
SET @SqlQuery_Vendor
= @linebreak + N' LEFT JOIN dbo.provider_vendor pv ON pv.provider_id = p.provider_id ' + @linebreak
+ N' LEFT JOIN vendor v ON pv.vendor_id = v.vendor_id ';
END;

IF isnull(@provider_network_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak + N' AND pnet.provider_network_id =  @provider_network_id ';
SET @SqlQuery_Network
= N'LEFT JOIN dbo.provider_provider_network ppn ON ppn.provider_id = p.provider_id
LEFT JOIN dbo.provider_network pnet ON pnet.provider_network_id = ppn.provider_network_id ' + @linebreak;
END;

IF isnull(@provider_network_set_id, 0) > 0
BEGIN
SET @SqlCondition
= @SqlCondition + @linebreak + N' AND pns.provider_network_set_id =  @provider_network_set_id ';
-- repeat the above join just in case it wasn't triggered
SET @SqlQuery_Network
= N'LEFT JOIN dbo.provider_provider_network ppn ON ppn.provider_id = p.provider_id
LEFT JOIN dbo.provider_network pnet ON pnet.provider_network_id = ppn.provider_network_id ' + @linebreak;
SET @SqlQuery_Network
= @SqlQuery_Network + @linebreak
+ N'LEFT JOIN dbo.provider_network_provider_network_set pnpns ON pnpns.provider_network_id = pnet.provider_network_id
LEFT JOIN dbo.provider_network_set pns ON pns.provider_network_set_id = pnpns.provider_network_set_id ' + @linebreak;
END;

IF isnull(@call_share_group_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak + N' AND csg.call_share_group_id =  @call_share_group_id ';
SET @SqlConditionalJoin
= @SqlConditionalJoin + @linebreak
+ N'LEFT JOIN dbo.provider_call_share_group pcsg ON pcsg.provider_id  = p.provider_id
LEFT JOIN dbo.call_share_group csg ON csg.call_share_group_id = pcsg.call_share_group_id ' + @linebreak;
END;

IF isnull(@taxonomy_code_ud, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'tc.taxonomy_code_ud'
, @variable_name = '@taxonomy_code_ud'
, @variable_value = @taxonomy_code_ud OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;

SET @SqlQuery_ProviderSpecialty
= @SqlQuery_ProviderSpecialty + @linebreak
+ N' LEFT JOIN provider_taxonomy_code ptc ON ptc.provider_id = p.provider_id '
+ N'LEFT JOIN taxonomy_code tc ON tc.taxonomy_code_id = ptc.taxonomy_code_id ';
END;

SET @SqlQuery_PracticeOffice
= N' LEFT JOIN dbo.provider_practice_office p_ppo ON p_ppo.provider_id = p.provider_id ';

IF isnull(@practice_office_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak + N' AND p_ppo.practice_office_id =  @practice_office_id ';

END;
ELSE
BEGIN
SET @SqlQuery_PracticeOffice = @SqlQuery_PracticeOffice + N' AND default_practice_office = 1 ';

END;

IF @practice_office_provider_associated_from IS NOT NULL
OR @practice_office_provider_associated_thru IS NOT NULL
BEGIN
SET @SqlCondition
= @SqlCondition + @linebreak
+ N' AND DATEDIFF(day, p_ppo.effective_from, @effective_from) >= 0
AND (p_ppo.effective_thru IS NULL
OR (p_ppo.effective_thru IS NOT NULL AND DATEDIFF(day, p_ppo.effective_thru,  @effective_thru) <= 0)) ';
END;


IF isnull(@practice_office_phone_number, '') <> ''
BEGIN
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'tn.telephone_number'
, @variable_name = '@practice_office_phone_number'
, @variable_value = @practice_office_phone_number OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @teleJoin = 1;
END;

IF isnull(@locale_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak + N' AND l.locale_id =   @locale_id';
SET @localeJoin = 1;
END;
ELSE
BEGIN
IF isnull(@postal_code, '') <> ''
BEGIN
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'l.postal_code'
, @variable_name = '@postal_code'
, @variable_value = @postal_code OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @localeJoin = 1;
END;
END;

IF isnull(@street_address, '') <> ''
BEGIN -- Refactor this at a later date 6/28/19
SET @SqlCondition = @SqlCondition + @linebreak;

EXEC dbo.plx_AddStringSearchParameterized @column_name = @address_column_compare
, @variable_name = '@street_address'
, @variable_value = @street_address OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @addressJoin = 1;



END;

IF isnull(@city, '') <> ''
BEGIN
SET @SqlCondition = @SqlCondition + @linebreak;
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'l.city'
, @variable_name = '@city'
, @variable_value = @city OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @localeJoin = 1;
END;

IF isnull(@county, '') <> ''
BEGIN
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'l.county'
, @variable_name = '@county'
, @variable_value = @county OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;
SET @localeJoin = 1;
END;

IF isnull(@state_id, 0) > 0
BEGIN
SET @SqlCondition = @SqlCondition + N' AND l.state_id =  @state_id ';
SET @localeJoin = 1;
END;

IF isnull(@email, '') <> ''
BEGIN

SET @SqlCondition = @SqlCondition + @linebreak
+ N' AND DATEDIFF(day, pa.effective_from, @Now) >= 0
AND (pa.effective_thru IS NULL
OR (pa.effective_thru IS NOT NULL AND DATEDIFF(day, pa.effective_thru,  @Now) <= 0)) ';

SET @SqlCondition = @SqlCondition + @linebreak + N' AND ia.internet_address IS NOT NULL ';
EXEC dbo.plx_AddStringSearchParameterized @column_name = 'ia.internet_address'
, @variable_name = '@email'
, @variable_value = @email OUTPUT
, @where = @SqlCondition OUTPUT
, @show_exact_matches = @show_exact_matches;

SET @emailJoin = 1;
END;

-- set minimum joins:
SET @SqlQuery
= N'
SELECT DISTINCT TOP (dbo.fn_results_limit())
p.provider_id
, p_pi.provider_identifier_type_id
, pit.provider_identifier_type_ud
, p_pi.provider_identifier_id
, p_pi.provider_ud
, p_pi.effective_from
, p_pi.effective_thru
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS provider_name
, pn.provider_name_id
, pn.name_last as provider_name_last
, pn.name_first as provider_name_first
, pn.name_middle as provider_name_middle
, at.alias_type_id
, dbo.plx_ConcatenateAddress(a.address_1, a.address_2, a.delivery_route, a.locale_id ) as address
FROM dbo.provider p
LEFT JOIN dbo.provider_name pn ON ((pn.provider_id = p.provider_id) and (pn.is_primary = 1)) ' + @linebreak
+ @SqlQuery_ProviderIdentifier + @linebreak
+ N'LEFT JOIN provider_identifier_type pit ON pit.provider_identifier_type_id = p_pi.provider_identifier_type_id
LEFT JOIN provider_address pa ON pa.provider_identifier_id = p_pi.provider_identifier_id
AND DATEDIFF(day, pa.effective_from, @Now) >= 0
AND (pa.effective_thru IS NULL
OR (pa.effective_thru IS NOT NULL AND DATEDIFF(day, pa.effective_thru,  @Now) <= 0))
LEFT JOIN address a ON a.address_id = pa.address_id
LEFT JOIN dbo.alias_type at ON at.alias_type_id = pn.alias_type_id';

-- practice office
IF @teleJoin = 1
OR @addressJoin = 1
OR @localeJoin = 1
OR @emailJoin = 1
SET @SqlQuery_PracticeOffice
= @SqlQuery_PracticeOffice + @linebreak
+ N'LEFT JOIN dbo.practice_office_contact poc ON poc.practice_office_id = p_ppo.practice_office_id ';

IF @teleJoin = 1
SET @SqlQuery_PracticeOffice
= @SqlQuery_PracticeOffice + @linebreak
+ N'LEFT JOIN dbo.contact_telephone_number ctn ON ctn.contact_id = poc.contact_id
LEFT JOIN dbo.telephone_number tn ON tn.telephone_number_id = ctn.telephone_number_id ';

IF @addressJoin = 1
OR @localeJoin = 1
SET @SqlQuery_PracticeOffice
= @SqlQuery_PracticeOffice + @linebreak
+ N'LEFT JOIN dbo.contact_address ca ON ca.contact_id = poc.contact_id
LEFT JOIN dbo.address a ON a.address_id = ca.address_id ';

IF @localeJoin = 1
SET @SqlQuery_PracticeOffice
= @SqlQuery_PracticeOffice + @linebreak + N'LEFT JOIN dbo.locale l ON l.locale_id = a.locale_id ';

IF @emailJoin = 1
SET @SqlQuery_PracticeOffice
= @SqlQuery_PracticeOffice + @linebreak
+ N'LEFT JOIN dbo.contact_internet_address cia ON cia.contact_id = poc.contact_id
LEFT JOIN dbo.internet_address ia ON ia.internet_address_id = cia.internet_address_id
LEFT JOIN dbo.internet_address_type iat ON iat.internet_address_type_id = ia.internet_address_type_id AND iat.golden_key = ''E-Mail''';

SET @SqlOrder_By = @SqlOrder_By + N' ORDER BY provider_name';

DECLARE @sql nvarchar(MAX)
= isnull(@SqlQuery, '') + isnull(@SqlQuery_PracticeOffice, '')
--  + isnull(@SqlQuery_ProviderIdentifier, '')
+ isnull(@SqlQuery_ProviderSpecialty, '') + isnull(@SqlConditionalJoin, '') + isnull(@SqlQuery_Network, '')
+ isnull(@SqlQuery_Vendor, '');

SET @sql = @sql + isnull(@SqlCondition, '') + isnull(@SqlOrder_By, '');

EXEC sp_executesql @sql
, N'@now datetime,
@alias_type_id int = NULL
, @provider_ud nvarchar(50) = NULL
, @provider_company_name nvarchar(100) = NULL
, @provider_last_name nvarchar(100) = NULL
, @provider_first_name nvarchar(100) = NULL
, @provider_gender_id int = NULL
, @provider_identifier_type_id int = NULL
, @provider_category_type_id int = NULL
, @provider_specialty_type_id int = NULL
, @provider_language_id int = NULL
, @vendor_ud nvarchar(50) = NULL
, @vendor_nm nvarchar(100) = NULL
, @federal_ein nvarchar(50) = NULL
, @provider_network_id int = NULL
, @provider_network_set_id int = NULL
, @call_share_group_id int = NULL
, @taxonomy_code_ud nvarchar(50) = NULL
, @practice_office_id int = NULL
, @practice_office_phone_number nvarchar(50) = NULL
, @postal_code nvarchar(255) = NULL
, @locale_id int = NULL
, @street_address nvarchar(100) = NULL
, @city nvarchar(50) = NULL
, @county nvarchar(50) = NULL
, @state_id int = NULL
, @effective_from date = NULL
, @effective_thru date = NULL
, @email nvarchar(255) = NULL'
--------------- parameter list
, @Now
, @alias_type_id
, @provider_ud
, @provider_company_name
, @provider_last_name
, @provider_first_name
, @provider_gender_id
, @provider_identifier_type_id
, @provider_category_type_id
, @provider_specialty_type_id
, @provider_language_id
, @vendor_ud
, @vendor_nm
, @federal_ein
, @provider_network_id
, @provider_network_set_id
, @call_share_group_id
, @taxonomy_code_ud
, @practice_office_id
, @practice_office_phone_number
, @postal_code
, @locale_id
, @street_address
, @city
, @county
, @state_id
, @effective_from
, @effective_thru
, @email;


IF @@rowcount = 0
RETURN @SP_EXCEPTION;
ELSE
RETURN @SP_SUCCESS;
END;
GO
