USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Aug 30 2006  3:34PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/30/2006	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the carrier table.
This stored procedure is used in the Carrier form
--
REQUIREMENTS:
--
INPUTS:
carrier_id - Key to carrier table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_carrier_load]
(
@carrier_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
carrier.carrier_id
,carrier.carrier_ud
,carrier.carrier_nm
FROM carrier
WHERE carrier.carrier_id = @carrier_id
--
RETURN @SP_SUCCESS
GO
