USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_fee_schedule_form_type_from_fee_schedule_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Jan 10 2006  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get fee schedule form type id from payment contract type id

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_get_fee_schedule_form_type_from_fee_schedule_id]
(
@fee_schedule_id          int = NULL
)
AS
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fsft.fee_schedule_form_type_id
,fsft.golden_key
FROM fee_schedule_form_type fsft
WHERE fsft.fee_schedule_form_type_id =
(SELECT fee_schedule_form_type_id FROM fee_schedule WHERE fee_schedule_id = @fee_schedule_id)

--
RETURN @SP_SUCCESS
GO
