USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_field_permission_value_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/17/2009
--
REVISION_HISTORY:
--
Date        Modified By   Version   Description
--------------------------------------------------------------------------------
02/17/2009  eponomareff   1.0       Created
02/26/2009  eponomareff   1.1       Renamed from "plx_dd_security_permission_value_load" to "plx_dd_security_field_permission_value_load"
Modified to return only permissions for fields
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load drop down of security permission values afforded securable object type 'Field'.
This combo box appears on the security form Edit Permissions - Field Permissions tab
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_field_permission_value_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

DECLARE @securable_object_type_id AS int
SET @securable_object_type_id =
(
SELECT security_securable_object_type_id
FROM security_securable_object_type
WHERE golden_key = 'FIELD'
)

SELECT
security_permission_value_id
,security_permission_value_ud
--,golden_key
FROM security_permission_value
WHERE security_securable_object_type_id = @securable_object_type_id

--ORDER BY golden_key desc

RETURN @SP_SUCCESS
--
GO
