USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_qualifier_assignment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 09/25/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
DESCRIPTION:
Saves a benefit_qualifier_assignment record.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_qualifier_assignment_save]
(
@benefit_qualifier_assignment_id	int = NULL OUTPUT
,@benefit_coverage_exception_rule_id	int = NULL
,@effective_from		datetime = NULL
,@effective_thru		datetime = NULL
,@benefit_plan_id		int = NULL
,@benefit_contract_id		int = NULL
,@client_group_id		int = NULL
,@client_id			int = NULL
,@procedure_code_group_id		int = NULL

,@active			bit = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--

IF @benefit_qualifier_assignment_id is Null
BEGIN
--- Create a new benefit_qualifier_assignment record
INSERT INTO dbo.benefit_qualifier_assignment(
benefit_coverage_exception_rule_id
,effective_from
,effective_thru
,benefit_plan_id
,benefit_contract_id
,client_group_id
,client_id
,procedure_code_group_id
,active
)
VALUES
(@benefit_coverage_exception_rule_id
,@effective_from
,@effective_thru
,@benefit_plan_id
,@benefit_contract_id
,@client_group_id
,@client_id
,@procedure_code_group_id
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @benefit_qualifier_assignment_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.benefit_qualifier_assignment WHERE benefit_qualifier_assignment_id = @benefit_qualifier_assignment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing benefit_qualifier_assignment record
UPDATE dbo.benefit_qualifier_assignment
SET
benefit_coverage_exception_rule_id	= @benefit_coverage_exception_rule_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,benefit_plan_id		= @benefit_plan_id
,benefit_contract_id		= @benefit_contract_id
,client_group_id		= @client_group_id
,client_id			= @client_id
,procedure_code_group_id	= @procedure_code_group_id
,active				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_qualifier_assignment_id = @benefit_qualifier_assignment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
--
GO
