USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_adjudication_information_save] (
@claim_procedure_id INT,
@plan_iteration_index INT,
@include_in_depreciation_yes_no_id INT = NULL,
@provider_network_id INT = NULL,
@network_level_id INT = NULL,
@referral_id INT = NULL,
--@code_depreciation_rank INT = NULL,
@reimburse_member_yes_no_id INT = NULL,
@authorization_id INT = NULL,
@dental_restorative_bundling_applied_yes_no_id INT = NULL,
@dental_procedure_grouping_applied_yes_no_id INT = NULL,
@dental_alternate_course_applied_yes_no_id INT = NULL,
@claim_processing_rule_framework_id INT = NULL,
@include_in_depreciation_yes_no_adjudication_details_override_reason_id INT = NULL,
@provider_network_adjudication_details_override_reason_id INT = NULL,
@network_level_adjudication_details_override_reason_id INT = NULL,
@referral_adjudication_details_override_reason_id INT = NULL,
--@code_depreciation_rank_adjudication_details_override_reason_id INT = NULL,
@reimburse_member_yes_no_adjudication_details_override_reason_id INT = NULL,
@authorization_adjudication_details_override_reason_id INT = NULL,
@dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id INT = NULL,
@dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id INT = NULL,
@dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id INT = NULL,
@claim_processing_rule_framework_adjudication_details_override_reason_id INT = NULL,
@active BIT = 1,
@user_name NVARCHAR(128) = NULL
)
AS
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
May 11 2006  1:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
9/28/2007	John Ourant		1.1		This was saving to adjudication amount override
not adjudication key override.
07/07/2009	eponomareff		1.4     override_reason --> dropdown fk to result_code (override_result_code_id)
08/18/2014							RT:6046 Updated created/modified tombstone columns
10/15/2019							RT:15783 added missing check for when there is a provider network override
08/04/2022	kirkc			2.0		RT:21723 wrapped processing in a transaction to try to avoid deadlocks.
also added IF EXISTS check for DELETE
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
BEGIN
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT = 0;

DECLARE @adjudication_result_key_id INT;
SET @adjudication_result_key_id = (
SELECT adjudication_result_key_id
FROM dbo.adjudication_result_key
WHERE claim_procedure_id = @claim_procedure_id
AND plan_iteration_index = @plan_iteration_index
);

DECLARE @adjudication_result_key_override_id INT;

--
SELECT @adjudication_result_key_override_id = adjudication_result_key_override_id
FROM dbo.adjudication_result_key_override
WHERE adjudication_result_key_id = @adjudication_result_key_id;

IF (@adjudication_result_key_override_id IS NULL)
BEGIN
--- Create a new adjudication_result_amount record
INSERT INTO dbo.adjudication_result_key_override (
adjudication_result_key_id,
include_in_depreciation_yes_no_id,
provider_network_id,
network_level_id,
referral_id,
--code_depreciation_rank,
reimburse_member_yes_no_id,
authorization_id,
dental_restorative_bundling_applied_yes_no_id,
dental_procedure_grouping_applied_yes_no_id,
dental_alternate_course_applied_yes_no_id,
claim_processing_rule_framework_id,
include_in_depreciation_yes_no_adjudication_details_override_reason_id,
provider_network_adjudication_details_override_reason_id,
network_level_adjudication_details_override_reason_id,
referral_adjudication_details_override_reason_id,
--code_depreciation_rank_adjudication_details_override_reason_id,
reimburse_member_yes_no_adjudication_details_override_reason_id,
authorization_adjudication_details_override_reason_id,
dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id,
dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id,
dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id,
claim_processing_rule_framework_adjudication_details_override_reason_id,
active,
created_date,
created_user_name,
modified_date,
modified_user_name
)
VALUES (
@adjudication_result_key_id,
@include_in_depreciation_yes_no_id,
@provider_network_id,
@network_level_id,
@referral_id,
--@code_depreciation_rank,
@reimburse_member_yes_no_id,
@authorization_id,
@dental_restorative_bundling_applied_yes_no_id,
@dental_procedure_grouping_applied_yes_no_id,
@dental_alternate_course_applied_yes_no_id,
@claim_processing_rule_framework_id,
@include_in_depreciation_yes_no_adjudication_details_override_reason_id,
@provider_network_adjudication_details_override_reason_id,
@network_level_adjudication_details_override_reason_id,
@referral_adjudication_details_override_reason_id,
--@code_depreciation_rank_adjudication_details_override_reason_id,
@reimburse_member_yes_no_adjudication_details_override_reason_id,
@authorization_adjudication_details_override_reason_id,
@dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id,
@dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id,
@dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id,
@claim_processing_rule_framework_adjudication_details_override_reason_id,
@active,
GETDATE(),
@user_name,
GETDATE(),
@user_name
);

SET @adjudication_result_key_override_id = SCOPE_IDENTITY();
END
ELSE IF @include_in_depreciation_yes_no_id IS NULL
AND @provider_network_id IS NULL
AND @network_level_id IS NULL
AND @referral_id IS NULL
--AND @code_depreciation_rank IS NULL
AND @reimburse_member_yes_no_id IS NULL
AND @authorization_id IS NULL
AND @dental_restorative_bundling_applied_yes_no_id IS NULL
AND @dental_procedure_grouping_applied_yes_no_id IS NULL
AND @dental_alternate_course_applied_yes_no_id IS NULL
AND @claim_processing_rule_framework_id IS NULL
BEGIN
DELETE
FROM dbo.adjudication_result_key_override
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id;
END
ELSE
BEGIN
UPDATE adjudication_result_key_override
SET include_in_depreciation_yes_no_id = @include_in_depreciation_yes_no_id,
provider_network_id = @provider_network_id,
network_level_id = @network_level_id,
referral_id = @referral_id,
--code_depreciation_rank = @code_depreciation_rank ,
reimburse_member_yes_no_id = @reimburse_member_yes_no_id,
authorization_id = @authorization_id,
dental_restorative_bundling_applied_yes_no_id = @dental_restorative_bundling_applied_yes_no_id,
dental_procedure_grouping_applied_yes_no_id = @dental_procedure_grouping_applied_yes_no_id,
dental_alternate_course_applied_yes_no_id = @dental_alternate_course_applied_yes_no_id,
claim_processing_rule_framework_id = @claim_processing_rule_framework_id,
include_in_depreciation_yes_no_adjudication_details_override_reason_id = @include_in_depreciation_yes_no_adjudication_details_override_reason_id,
provider_network_adjudication_details_override_reason_id = @provider_network_adjudication_details_override_reason_id,
network_level_adjudication_details_override_reason_id = @network_level_adjudication_details_override_reason_id,
referral_adjudication_details_override_reason_id = @referral_adjudication_details_override_reason_id,
--code_depreciation_rank_adjudication_details_override_reason_id = @code_depreciation_rank_adjudication_details_override_reason_id ,
reimburse_member_yes_no_adjudication_details_override_reason_id = @reimburse_member_yes_no_adjudication_details_override_reason_id,
authorization_adjudication_details_override_reason_id = @authorization_adjudication_details_override_reason_id,
dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id = @dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id,
dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id = @dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id,
dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id = @dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id,
claim_processing_rule_framework_adjudication_details_override_reason_id = @claim_processing_rule_framework_adjudication_details_override_reason_id,
modified_date = GETDATE(),
modified_user_name = @user_name

WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
END
END;

DECLARE @READJUDICATE_ADJUDICATION_STATUS_ID INT =
(SELECT adjudication_status_id FROM adjudication_status WHERE golden_key = 'READJUDICATE')

UPDATE claim
SET claim.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim
JOIN adjudication_status adj_stat
ON claim.adjudication_status_id = adj_stat.adjudication_status_id
JOIN claim_procedure cp
ON claim.claim_id = cp.claim_id
WHERE
cp.claim_procedure_id = @claim_procedure_id
AND
adj_stat.golden_key <> 'OPEN' AND adj_stat.golden_key IS NOT NULL;
GO
