USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2009-04-02	Vishwa Jella	1.0		created. checks to see if claim procedures can be deleted, if not prompts with claim line id
2009-12-08	Vishwa Jella	1.1		updated to check any references in linked claim information grid
2013-03-25	cmaddox			1.2		updated to check for claims that use this pre-determination claim when this claim is a pre-d claim (only applicable when this dental claim is a pre-d claim RT:4344).
2024-02-20	cknobloch		1.3		updated to check for claims that use are present in the void claim processing tables.
--
******************************/
CREATE PROCEDURE [dbo].[plx_dental_claim_check_delete](
@id INT = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0

DECLARE @claim_id INT
SELECT	@claim_id = claim_id FROM claim WHERE claim_id = @id
-- First check that the claim exists
IF ISNULL(@claim_id, 0) = 0
RETURN @SP_DELETE_ABLE

DECLARE @is_deletable BIT
DECLARE @claim_procedure_id INT
DECLARE @sequence NUMERIC(19,4)

IF EXISTS(SELECT * FROM void_claim_processing_staging WHERE target_claim_id = @claim_id OR replacement_claim_id = @claim_id)
BEGIN
SELECT DISTINCT 'The claim is scheduled for the Void Claim Process' AS object_golden_key, claim.claim_ud  AS object_ud
FROM void_claim_processing_staging
LEFT JOIN claim ON claim.claim_id = void_claim_processing_staging.target_claim_id
WHERE void_claim_processing_staging.target_claim_id = @claim_id

RETURN @SP_DELETE_UNABLE
END

IF EXISTS(SELECT * FROM void_claim_processing_run_detail WHERE target_claim_id = @claim_id OR replacement_claim_id = @claim_id)
BEGIN
SELECT DISTINCT 'The claim is assigned to a Void Claim Processing Run' AS object_golden_key, claim.claim_ud  AS object_ud
FROM void_claim_processing_run_detail
LEFT JOIN claim ON claim.claim_id = void_claim_processing_run_detail.target_claim_id
WHERE void_claim_processing_run_detail.target_claim_id = @claim_id

RETURN @SP_DELETE_UNABLE
END

DECLARE @tbl_claim_procedures TABLE (
claim_procedure_id	INT,
sequence			NUMERIC(19,4)
)

DECLARE crs_claim_procedure CURSOR FAST_FORWARD
FOR
SELECT	claim_procedure_id, claim_line_sequence
FROM	claim_procedure
WHERE	claim_id = @claim_id

OPEN crs_claim_procedure

WHILE 1 = 1
BEGIN
FETCH NEXT FROM crs_claim_procedure
INTO @claim_procedure_id, @sequence

IF @@FETCH_STATUS <> 0
BREAK

SET @is_deletable = NULL

EXEC @is_deletable = plx_check_claim_procedure_can_delete @claim_procedure_id

IF @is_deletable = 0
INSERT INTO @tbl_claim_procedures (claim_procedure_id, sequence)
VALUES (@claim_procedure_id, @sequence)
END

CLOSE crs_claim_procedure
DEALLOCATE crs_claim_procedure

IF EXISTS(SELECT * FROM @tbl_claim_procedures)
BEGIN
SELECT 'Claim Line ID' AS object_golden_key, sequence AS object_ud
FROM @tbl_claim_procedures
RETURN @SP_DELETE_UNABLE
END
ELSE IF EXISTS(SELECT * FROM linked_claim_information WHERE linked_claim_id = @claim_id)
BEGIN
SELECT 'Linked Claim Number In' AS object_golden_key, claim.claim_ud AS object_ud
FROM linked_claim_information
LEFT JOIN claim ON claim.claim_id = linked_claim_information.claim_id
WHERE linked_claim_id = @claim_id
RETURN @SP_DELETE_UNABLE
END

ELSE IF EXISTS(
SELECT *
FROM dental_claim_predetermination dcp
JOIN dental_claim dc on dcp.pred_dental_claim_id = dc.dental_claim_id
WHERE dc.claim_id = @claim_id)
BEGIN
-- Get the dental_claim_id for the claim_id for the PRE-D dental claim to be deleted
DECLARE @dental_claim_id INT
SELECT @dental_claim_id = dental_claim_id FROM dental_claim where claim_id = @claim_id

SELECT 'Referenced by Dental Claim' AS object_golden_key, claim.claim_ud AS object_ud
FROM dental_claim_predetermination dcp
JOIN dental_claim dc on dcp.dental_claim_id = dc.dental_claim_id
JOIN claim on dc.claim_id = claim.claim_id
WHERE dcp.pred_dental_claim_id = @dental_claim_id

--FROM claim
--JOIN dental_claim dc on claim.claim_id = dc.claim_id
--JOIN dental_claim_predetermination dcp on dc.dental_claim_id = dcp.dental_claim_id

--WHERE claim.claim_id IN
--(
--	SELECT * FROM dental_claim_predetermination dcp
--	JOIN dental_claim dc on dcp.pred_dental_claim_id = dc.dental_claim_id
--	WHERE dc.claim_id = @claim_id
--)


RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
GO
