USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_bill_to_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Jun  2 2006 11:32AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/06/2009	David Slayton	1.1		Removed commented out code reference to billing_rule.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load data for drop down bill_to (Bill To)
--
REQUIREMENTS:
--
INPUTS:
billing_rule_id - Key to billing_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_bill_to_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
bill_to.bill_to_id
,bill_to.bill_to_ud
,bill_to.golden_key
FROM dbo.bill_to
ORDER BY bill_to.bill_to_ud
--
RETURN @SP_SUCCESS
GO
