USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_condition_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
03/24/2009	CCESSNUN	1.1			Removed criteria_id from the select statement to fix ICU 20379 VersionONE R-02533
07/16/2009	Vosjwa		2.0		Updated with display fields for zooming criteria objects
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_condition_list_load]
(
@criteria_id INT = NULL
)

AS

SELECT
criteria_condition.criteria_condition_id
--		,criteria_condition.criteria_id
,criteria_condition.criteria_object_id
,criteria_object.criteria_object_ud
,criteria_condition.criteria_operator_id
,criteria_operator.criteria_operator_ud
,criteria_condition.criteria_value
,criteria_condition.criteria_value  as value_stored_id
,ui_engine_lookup_parameter.display_form
,ui_engine_lookup_parameter.find_form
,ui_engine_lookup_parameter.stored_procedure
,ui_engine_lookup_parameter.table_name
,ui_engine_lookup_parameter.displayed_field
,ui_engine_lookup_parameter.stored_field
,'' as control_type
FROM criteria_condition
INNER JOIN  criteria_object ON criteria_condition.criteria_object_id = criteria_object.criteria_object_id
INNER JOIN  criteria_operator ON criteria_condition.criteria_operator_id = criteria_operator.criteria_operator_id
LEFT JOIN	criteria_object_operator_field ON criteria_object.criteria_object_id = criteria_object_operator_field.criteria_object_id
AND	criteria_operator.criteria_operator_id = criteria_object_operator_field.criteria_operator_id
LEFT JOIN	ui_engine_lookup_parameter ON criteria_object_operator_field.ui_engine_lookup_parameter_id = ui_engine_lookup_parameter.ui_engine_lookup_parameter_id
WHERE criteria_condition.criteria_id = @criteria_id
ORDER BY criteria_object.criteria_object_ud ASC
GO
