USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_code_type_carc_rarc_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/10/2017	eponomareff		1.0			created RT:11929 CARC/RARC

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Dropdown list for filtering Find Form by CARC or RARC values


******************************/
CREATE PROCEDURE [dbo].[plx_dd_code_type_carc_rarc_load]

AS

SELECT
carc_rarc_id,
carc_rarc_ud,
golden_key
FROM dbo.carc_rarc

RETURN 0

--
GO
