USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_referral_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Nov 17 2005  2:15PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/20/2006	Anh Ta		1.0			Created and Used for 12530 Professional Claim Form
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for Additional Information grid in Professional Claim form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_referral_delete]
(
@claim_referral_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_CANT_DELETE_PROVIDER_OFFICE_HOUR	= '1052800010',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --


DELETE FROM claim_referral
WHERE claim_referral_id = @claim_referral_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)


--
RETURN @SP_SUCCESS
--
GO
