USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_on_demand_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox  1.0      Created
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load data for form frmDisbursementOnDemandRun
--
REQUIREMENTS:
--
INPUTS:
@disbursement_on_demand_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disbursement_on_demand_run_load]
(
@disbursement_on_demand_run_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

DECLARE @in_use BIT

IF EXISTS(SELECT * FROM disbursement_claim_payment_run dcpr WHERE
dcpr.disbursement_on_demand_run_id = @disbursement_on_demand_run_id)
SET @in_use = 1
ELSE
SET @in_use = 0


SELECT
dodr.disbursement_on_demand_run_id
,dodr.disbursement_on_demand_run_ud
,dodr.description
,@in_use as in_use
FROM dbo.disbursement_on_demand_run dodr
WHERE dodr.disbursement_on_demand_run_id = @disbursement_on_demand_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
