USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_functional_area_by_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
06/26/2009  Vishwa 		2.0			refactoring Criteria UI objects for easy maintenance in future
08/10/2009	Vishwa		3.0			updated to handle all claims inclusive with Individual claim category
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Procedure to load data for combo Functional Area in Criteria form.
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_criteria_ui_functional_area_by_category_load]
(
@criteria_category_id INT = NULL
)
AS

Declare
@extra_category_id int,
@category_golden_key nvarchar(50)

Select
@category_golden_key = cpc.golden_key
From
criteria_processing_category cpc
Where
cpc.criteria_processing_category_id = @criteria_category_id

-- The claim-type-specific categories are special in that they mean all of the data available for
-- 'All Claims' as well as the data available for that specific type.
If @category_golden_key in ('Professional Claims', 'Institutional Claims', 'Dental Claims')
Begin
Select
@extra_category_id = cpc.criteria_processing_category_id
From
criteria_processing_category cpc
Where
cpc.golden_key = 'All Claims'
End
Else
Begin
Set @extra_category_id = 0
End


IF isnull(@criteria_category_id,0) > 0
BEGIN
SELECT DISTINCT
criteria_functional_area.criteria_functional_area_id
,criteria_functional_area.criteria_functional_area_ud
,criteria_functional_area.golden_key
FROM criteria_functional_area
INNER JOIN criteria_processing_category_criteria_functional_area cpccfa ON cpccfa.criteria_functional_area_id = criteria_functional_area.criteria_functional_area_id
WHERE cpccfa.criteria_processing_category_id In (@criteria_category_id, @extra_category_id)
ORDER BY criteria_functional_area.criteria_functional_area_ud
END
ELSE
BEGIN
SELECT
criteria_functional_area_id
,criteria_functional_area_ud
,criteria_functional_area.golden_key
FROM criteria_functional_area
ORDER BY criteria_functional_area_ud
END
GO
