USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claims_viewer_claim_processing_queue_claim_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Huy Nguyen
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
05/23/2006	HuyNguyen	0.1		Created
04/21/2009	lrenard		1.0		Updated to read claim processing queue
04/28/2009	lrenard		2.0		Added plx_fn_evaluate_diagnosis_code_group and plx_fn_evaluate_result_code_set
06/02/2009	lrenard		2.1		Added "Adjudication Run" date type
06/04/2009	lrenard		2.2		Moved claim_processing_queue select to this sprc from plx_load_claims_from_queue
06/04/2009	lrenard		2.3		Added "Recieved" date type
09/30/2010  eponomareff 3.0     Added procedure code, procedure code type, procedure code group, product
defect fixes (functional accuracy); restructure for performance
10/06/2015	jbernard			Changed procedure to do all of the filtering in a single step, creating dynamic SQL.
02/09/2016  jbernard			SP11112 - Performance enhancements
10/30/2018	jchapman	3.3		RT13833 - result codes on claims (not claim lines) not being processed.
11/3/2018   jchapman	3.4		RT14230 - removed test value.
11/6/2019	eponomareff	4.0		RT15476, RT14989, RT14974

--------------------------------------------------------------------------------------------------

DESCRIPTION	: Procedure to load all claim id by queue id
Uses dynamic sql to handle optional criteria

CALLED_BY :
plx_load_claims_from_queue

VIEWS ACCESSED :

vw_claims_pend_or_hold_or_err.sql
- subset of claims - only those with claim status of Pend, Hold, or Error

vw_procedure_code_group_included_procedure_codes
- for use with procedure code group criteria

vw_diagnosis_code_group_included_diagnosis_codes
- for use with diagnosis code group criteria

DEVELOPER NOTES :

PERFORMANCE NOTES

In its current form, ver 3.0, this stored procedure has the following characteristics:

* Employs the "whittle" method. Starts with a temporary table, and deletes rows based on optional criteria, thereby "whittling down" the result set
* gathers all optional filter criteria in one select, opposed to multiple IF EXISTS queries
* Mostly avoids dynamic SQL -- except where the resulting nexted IF ELSE statements would be too cumbersome (dates for example)
* Where we do need to execute dynamic sql, we use the stored procedure sp_executesql with named parameters (also for SQL injection protection)
* In most cases, effective date ranges are ignored for query criteria

FUNCTIONALITY

(1) Implicit and Required Criteria

* Required: claim_processing_queue_id is required (even if there is no criteria set on the claim_processing_queue object)
* Implicit: claim form status must have an adjudication_status of PEND, HOLD, or ERROR.
- This requirement is enforced by base view vw_claims_pend_or_hold_or_err.sql
- The adjudication_status of the line is not considered

(2) Optional (user decides) criteria

-- CLAIM HEADER
* cpq.claim_form_type_id	NOTE - 'All Claims' is treated as NULL
* cpq.adjudication_status_id (claim header only)
* cpq.benefit_contract_id
* cpq.client_group_id		NOTE - this is ignored if benefit_contract_id criteria is used
* cpq.client_id				NOTE - this is ignored if benefit_contract_id, or client_group_id is used
* cpq.product_id			NOTE - this relates to both benefit_plan and benefit_contract
* cpq.provider_identifier_id
* cpq.provider_network_id

-- CLAIM PROCEDURE
* cpq.procedure_code_id
* cpq.procedure_code_type_id


-- CLAIM HEADER AND CLIAM PROCEDURE
* cpq.result_code_set_id

-- USING SPECIAL VIEWS (these ignore dates, but look at included versus excluded)
* cpq.procedure_code_group_id
* cpq.diagnosis_code_group_id

-- DATE RANGES - joins depend on data
* cpq.claim_date_type_id
NOTE - date can be one of four types:
- received date
- clean date
- date of service
- adjudication run date
* cpq.from_unit_day_week_month_year_id
* cpq.thru_unit_day_week_month_year_id
* cpq.value_from
* cpq.value_thru

-- MONETARY AMOUNTS
* cpq.claim_amount_type_id	NOTE - amounts can be one of two types:
- total billed
- net pay
* cpq.amount_max
* cpq.amount_min

;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_claims_viewer_claim_processing_queue_claim_load] (@queue_id INT)
AS
BEGIN
DECLARE @filterQuery NVARCHAR(max);
DECLARE @SELECTION_KEY NVARCHAR(50)
,@CLAIM_ALL_ID INT
,@CLAIM_PROFESSIONAL_ID INT
,@CLAIM_INSTITUTIONAL_ID INT
DECLARE @endQueryLine NVARCHAR(10) = NCHAR(13) + NCHAR(10) + NCHAR(9);
DECLARE @currentDateString NVARCHAR(25) = '''' + convert(NVARCHAR, GETDATE(), 101) + '''';

SELECT @CLAIM_ALL_ID = claim_form_type_id
FROM claim_form_type
WHERE golden_key = 'All Claims'

SELECT @CLAIM_PROFESSIONAL_ID = claim_form_type_id
FROM claim_form_type
WHERE golden_key = 'Professional'

SELECT @CLAIM_INSTITUTIONAL_ID = claim_form_type_id
FROM claim_form_type
WHERE golden_key = 'Institutional'


SELECT @SELECTION_KEY = golden_key
FROM claim_selection_priority
WHERE claim_selection_priority_id IN (
SELECT claim_selection_priority_id
FROM claim_processing_queue
WHERE claim_processing_queue_id = @queue_id
)

---------------------------------
DECLARE
-- criteria
@adjudication_status_id INT
,@claim_form_type_id INT
,@diagnosis_code_group_id INT
,@procedure_code_id INT
,@procedure_code_type_id INT
,@procedure_code_group_id INT
,@provider_identifier_id INT
,@provider_network_id INT
,@result_code_set_id INT
-- eligibility related
,@benefit_contract_id INT
,@client_group_id INT
,@client_id INT
,@product_id INT
-- date related
,@date_type_id INT
,@from_unit_id INT
,@from_value INT
,@thru_unit_id INT
,@thru_value INT
-- amount related
,@amount_type_id INT
,@amount_min DECIMAL(20, 10)
,@amount_max DECIMAL(20, 10)

-- Read the parameters from the [claim_processing_queue] table
SELECT
-- claim related
@adjudication_status_id = adjudication_status_id
,@claim_form_type_id = claim_form_type_id
,@diagnosis_code_group_id = diagnosis_code_group_id
,@provider_identifier_id = provider_identifier_id
,@provider_network_id = provider_network_id
-- claim procedure related
,@procedure_code_group_id = procedure_code_group_id
,@procedure_code_id = procedure_code_id
,@procedure_code_type_id = procedure_code_type_id
,@result_code_set_id = result_code_set_id
-- eligibility related
,@benefit_contract_id = benefit_contract_id
,@client_group_id = client_group_id
,@client_id = client_id
,@product_id = product_id
-- date related
,@date_type_id = claim_date_type_id
,@from_unit_id = from_unit_day_week_month_year_id
,@from_value = value_from
,@thru_unit_id = thru_unit_day_week_month_year_id
,@thru_value = value_thru
-- amount related
,@amount_type_id = claim_amount_type_id
,@amount_min = amount_min
,@amount_max = amount_max
FROM claim_processing_queue
WHERE claim_processing_queue_id = @queue_id

IF @result_code_set_id IS NOT NULL
BEGIN
IF OBJECT_ID('tempdb..#temp_arc') IS NOT NULL
DROP TABLE #temp_arc

--UNION should remove all dups
--SELECT DISTINCT ids.claim_id INTO #temp_arc
SELECT ids.claim_id INTO #temp_arc
from (
--Where there is an arc.claim id, use it as the claim_id and do the join
--by claim_id for inclusion by staus
SELECT
arc.claim_id AS claim_id
FROM adjudication_result_code arc
INNER JOIN result_code_set_result_code_assign rcsrca
ON arc.result_code_id = rcsrca.result_code_id
INNER JOIN result_code_set rcs
ON rcs.result_code_set_id = rcsrca.result_code_set_id
INNER JOIN vw_claims_pend_or_hold_or_err vwc
ON vwc.claim_id = arc.claim_id
WHERE rcs.result_code_set_id = @result_code_set_id
AND arc.claim_id IS NOT NULL
UNION
-- Where there is no arc.claim id, use claim_procedure.claim_id for the select, but do the join by
-- claim_procedure_id for inclusion by status
SELECT cp.claim_id AS claim_id
FROM adjudication_result_code arc
INNER JOIN result_code_set_result_code_assign rcsrca
ON arc.result_code_id = rcsrca.result_code_id
INNER JOIN result_code_set rcs
ON rcs.result_code_set_id = rcsrca.result_code_set_id
LEFT JOIN claim_procedure cp
ON cp.claim_procedure_id = arc.claim_procedure_id
INNER JOIN vw_claims_pend_or_hold_or_err vwc
ON vwc.claim_procedure_id = cp.claim_procedure_id
WHERE rcs.result_code_set_id = @result_code_set_id
AND arc.claim_id IS NULL
)
as ids

CREATE NONCLUSTERED INDEX [IDX_temp_rd_CLAIM_ID] ON [#temp_arc]([claim_id] ASC);

END
-------------------------------------------------------------------------
-- Begin of filter criteria
-------------------------------------------------------------------------
SET @filterQuery = 'SELECT
c.claim_id
,c.claim_ud
,c.received_date
,c.clean_date
,c.claim_form_type_id
,c.vendor_id
,c.family_eligibility_member_benefit_plan_id
,c.provider_identifier_id
,c.adjudication_status_id
,c.claim_payment_process_status_id
,SUM(CASE
WHEN ISNULL(cp.is_system_generated, 0) = 0
THEN ISNULL(cp.charge,0)
ELSE 0
END) AS total_billed_charges
,SUM(ISNULL(ara.net_payment, 0)) AS total_net_payment
FROM vw_claims_pend_or_hold_or_err c
INNER JOIN claim_procedure cp
ON c.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = c.claim_procedure_id'+@endQueryLine


IF @result_code_set_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery+'             JOIN #temp_arc arc ON arc.claim_id = c.claim_id'+@endQueryLine
END

SET @filterQuery = @filterQuery+'WHERE (1=1)'+@endQueryLine
-- apply adjudication_status criteria
IF @adjudication_status_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + 'AND c.adjudication_status_id = ' + CONVERT(NVARCHAR(20), @adjudication_status_id) + @endQueryLine
END

-- apply claim_form_type_id criteria
IF @claim_form_type_id IS NOT NULL
AND @claim_form_type_id <> @CLAIM_ALL_ID
BEGIN
SET @filterQuery = @filterQuery + 'AND claim_form_type_id = ' + CONVERT(NVARCHAR(20), @claim_form_type_id) + @endQueryLine
END

IF (@provider_identifier_id IS NOT NULL)
BEGIN
DECLARE @providerIdentifierIdString NVARCHAR(50) = CONVERT(NVARCHAR(50), @provider_identifier_id)

SET @filterQuery = @filterQuery + 'AND isnull(c.provider_identifier_id, ' + @providerIdentifierIdString + ') = ' + @providerIdentifierIdString + @endQueryLine
END
-- Provider Network ID
-- Do not check provider network if provider identifier was given as criteria
ELSE IF (@provider_network_id IS NOT NULL)
BEGIN
SET @filterQuery = @filterQuery + 'AND EXISTS(select ak.claim_procedure_id
FROM adjudication_result_key ak
WHERE ak.claim_procedure_id = c.claim_procedure_id
AND ak.provider_network_id = ' + CONVERT(NVARCHAR(20), @provider_network_id) + '
)' + @endQueryLine
END

-- Eligibility related criteria
IF @benefit_contract_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
WHERE fe.benefit_contract_id = ' + CONVERT(NVARCHAR(20), @benefit_contract_id) + '
and fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
)' + @endQueryLine
END
-- do not group if benefit contract was given as criteria
ELSE IF @client_group_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE bc.client_group_id = ' + CONVERT(NVARCHAR(20), @client_group_id) + '
and fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
)' + @endQueryLine
END
ELSE IF @client_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN benefit_contract bc
ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN client_group cg
ON bc.client_group_id = cg.client_group_id
WHERE cg.client_id = ' + convert(NVARCHAR(20), @client_id) + '
and fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
)' + @endQueryLine
END

-- Product ID
IF @product_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + ' AND EXISTS (
SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN benefit_plan bp
ON fembp.benefit_plan_id = bp.benefit_plan_id
WHERE bp.product_id = ' + CONVERT(NVARCHAR(20), @product_id) + '
AND fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
)' + @endQueryLine
END

-- apply procedure_code and procedure_code_type
IF @procedure_code_id IS NOT NULL
BEGIN
-- check for UDs for both procedure_code_ud and procedure_code_2_ud
DECLARE @procedureCodeUd NVARCHAR(50);
SET @procedureCodeUd = (SELECT procedure_code_ud FROM procedure_code WHERE procedure_code_id = @procedure_code_id);

SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT claim_procedure_id
FROM claim_procedure cp
WHERE
(cp.procedure_code_ud = ''' + @procedureCodeUd + '''
OR cp.procedure_code_2_ud = ''' + @procedureCodeUd + ''')
AND cp.claim_id = c.claim_id
)' + @endQueryLine
END
-- do not check procedure code type if procedure code was given as criteria
ELSE IF @procedure_code_type_id IS NOT NULL
BEGIN
SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT claim_procedure_id
FROM claim_procedure cp
LEFT JOIN procedure_code pc
ON cp.procedure_code_id = pc.procedure_code_id
OR cp.procedure_code_2_id = pc.procedure_code_id
WHERE pc.procedure_code_type_id = ' + convert(NVARCHAR(20), @procedure_code_type_id) + '
AND cp.claim_id = c.claim_id
)' + @endQueryLine
END

-- Procedure code group
IF (@procedure_code_group_id IS NOT NULL)
BEGIN
DECLARE @procedureCodeGroupIdString NVARCHAR(50) = CONVERT(NVARCHAR(50), @procedure_code_group_id)

SET @filterQuery = @filterQuery + 'AND EXISTS (
SELECT claim_procedure_id
FROM claim_procedure cp
INNER JOIN vw_procedure_code_group_included_procedure_codes vw_included_px_codes
ON cp.procedure_code_id = vw_included_px_codes.procedure_code_id
WHERE vw_included_px_codes.procedure_code_group_id = ' + @procedureCodeGroupIdString + '
AND cp.claim_id = c.claim_id
)' + @endQueryLine
END


-- dx code group - professional (dental claims do not have diagnosis codes)
IF @diagnosis_code_group_id IS NOT NULL
AND (
@claim_form_type_id IS NULL
OR @claim_form_type_id IN (
@CLAIM_PROFESSIONAL_ID
,@CLAIM_ALL_ID
)
)
BEGIN
SET @filterQuery = @filterQuery + '
AND EXISTS (
select pc.claim_id from professional_claim pc
JOIN professional_claim_diagnosis_code pcdc
ON pc.professional_claim_id = pcdc.professional_claim_id
JOIN vw_diagnosis_code_group_included_diagnosis_codes vw_included_dx_codes
ON pcdc.diagnosis_code_ud = vw_included_dx_codes.diagnosis_code_ud
AND vw_included_dx_codes.diagnosis_code_group_id = ' + convert(NVARCHAR(20), @diagnosis_code_group_id) + '
WHERE c.claim_id = pc.claim_id
)' + @endQueryLine
END

--dx code group - institutional
--this is complicated because dx codes are in two tables:
--	institutional_claim contains admitting and primary dx codes, while
--	institutional_claim_diagnosis_code table contains all other institutional dx codes
IF @diagnosis_code_group_id IS NOT NULL
AND (
@claim_form_type_id IS NULL
OR @claim_form_type_id IN (
@CLAIM_INSTITUTIONAL_ID
,@CLAIM_ALL_ID
)
)
BEGIN
SET @filterQuery = @filterQuery + '
AND EXISTS (
SELECT ic.claim_id from  institutional_claim ic
JOIN (
SELECT icdc.institutional_claim_id
FROM institutional_claim_diagnosis_code icdc
JOIN vw_diagnosis_code_group_included_diagnosis_codes vw_included_dx_codes
ON vw_included_dx_codes.diagnosis_code_group_id = ' + convert(NVARCHAR(20), @diagnosis_code_group_id) + '
AND icdc.diagnosis_code_ud = vw_included_dx_codes.diagnosis_code_ud
) AS ub_dxcodes
ON ic.institutional_claim_id = ub_dxcodes.institutional_claim_id
JOIN vw_diagnosis_code_group_included_diagnosis_codes vw_included_dx_codes
ON vw_included_dx_codes.diagnosis_code_group_id = ' + convert(NVARCHAR(20), @diagnosis_code_group_id) + '
AND (
ic.admitting_diagnosis_code_ud = vw_included_dx_codes.diagnosis_code_ud
OR ic.primary_diagnosis_code_ud = vw_included_dx_codes.diagnosis_code_ud
)
WHERE c.claim_id = ic.claim_id
)' + @endQueryLine
END

--------------------------------------------------
-- Handle date range criteria
--
-- Date conditions
--   You can only have one date condition at a time
--   From unit/value are NOT required fields, but if one is provided, the other is required
--   Thru unit/value are NOT required fields, but if one is provided, the other is required
IF @date_type_id IS NOT NULL
AND
-- check for some values - either to or from - the form does not currently enforce setting any values
(
(
@from_unit_id IS NOT NULL
AND @from_value IS NOT NULL
)
OR (
@thru_unit_id IS NOT NULL
AND @thru_value IS NOT NULL
)
)
BEGIN
-- declare and gather constants for date comparisons
DECLARE @DATEDIFF_SECOND_PARAMETER_EXPRESSION NVARCHAR(50)
,@DATESQL_OPTIONAL_JOIN NVARCHAR(500)
,@FROM_UNIT NVARCHAR(20)
,@THRU_UNIT NVARCHAR(20)

-- get date case type
SELECT @DATEDIFF_SECOND_PARAMETER_EXPRESSION = CASE golden_key
WHEN 'RECEIVED'
THEN 'c.received_date'
WHEN 'CLEAN'
THEN 'c.clean_date'
WHEN 'DOS'
THEN 'cp.service_from_date'
WHEN 'ADJUDICATION_RUN'
THEN 'ar.start_time'
ELSE NULL
END
,@DATESQL_OPTIONAL_JOIN = CASE golden_key
WHEN 'RECEIVED'
THEN '('
WHEN 'CLEAN'
THEN '('
WHEN 'DOS'
THEN 'EXISTS(
SELECT claim_id from claim_procedure cp
WHERE c.claim_procedure_id = cp.claim_procedure_id
AND '
WHEN 'ADJUDICATION_RUN'
THEN 'EXISTS(
SELECT claim_id from claim_procedure cp
INNER JOIN adjudication_run_claim_procedure arcp ON arcp.claim_procedure_id = cp.claim_procedure_id
INNER JOIN adjudication_run ar ON ar.adjudication_run_id = arcp.adjudication_run_id
WHERE c.claim_procedure_id = cp.claim_procedure_id
AND '
ELSE '('
END
FROM claim_date_type
WHERE claim_date_type_id = @date_type_id

-- work out time units for date diff
SELECT @FROM_UNIT = CASE golden_key
WHEN 'Days'
THEN 'dd'
WHEN 'Weeks'
THEN 'ww'
WHEN 'Months'
THEN 'mm'
WHEN 'Years'
THEN 'yy'
ELSE NULL
END
FROM unit_day_week_month_year
WHERE unit_day_week_month_year_id = @from_unit_id

SELECT @THRU_UNIT = CASE golden_key
WHEN 'Days'
THEN 'dd'
WHEN 'Weeks'
THEN 'ww'
WHEN 'Months'
THEN 'mm'
WHEN 'Years'
THEN 'yy'
ELSE NULL
END
FROM unit_day_week_month_year
WHERE unit_day_week_month_year_id = @thru_unit_id

DECLARE @DATE_CRITERIA_SQL NVARCHAR(2000)

SELECT @DATE_CRITERIA_SQL = ' '

IF @DATEDIFF_SECOND_PARAMETER_EXPRESSION IS NOT NULL
BEGIN
IF @FROM_UNIT IS NOT NULL
AND @from_value IS NOT NULL
-- remove items which are too early
SELECT @DATE_CRITERIA_SQL = ' AND ' + @DATESQL_OPTIONAL_JOIN + ' DATEDIFF(' + @FROM_UNIT + ', ' + @DATEDIFF_SECOND_PARAMETER_EXPRESSION + ', getdate()) <= ' + convert(NVARCHAR(10), @from_value) + ')' + @endQueryLine

IF @THRU_UNIT IS NOT NULL
AND @thru_value IS NOT NULL
-- remove items which are too late
SELECT @DATE_CRITERIA_SQL = @DATE_CRITERIA_SQL + ' AND ' + @DATESQL_OPTIONAL_JOIN + ' DATEDIFF(' + @FROM_UNIT + ', ' + @DATEDIFF_SECOND_PARAMETER_EXPRESSION + ', getdate()) >= ' + convert(NVARCHAR(10), @thru_value) + ')' + @endQueryLine
END
END

SELECT @filterQuery = @filterQuery + isnull(@DATE_CRITERIA_SQL, '')

SET @filterQuery = @filterQuery + 'GROUP BY c.claim_id
,c.claim_ud
,c.received_date
,c.clean_date
,c.claim_form_type_id
,c.vendor_id
,c.family_eligibility_member_benefit_plan_id
,c.provider_identifier_id
,c.adjudication_status_id
,c.claim_payment_process_status_id' + @endQueryLine

--------------------------------------------------
-- HAVING: Apply Monetary Amount Criteria
--------------------------------------------------
DECLARE @SQL_AMOUNT_CRITERIA NVARCHAR(1000)

SELECT @SQL_AMOUNT_CRITERIA = ''

IF @amount_type_id IS NOT NULL
AND (
@amount_min IS NOT NULL
OR @amount_max IS NOT NULL
)
BEGIN
DECLARE @NET_ID INT
,@BILLED_ID INT

SELECT @NET_ID = claim_amount_type_id
FROM claim_amount_type
WHERE golden_key = 'NET_PAY'

SELECT @BILLED_ID = claim_amount_type_id
FROM claim_amount_type
WHERE golden_key = 'BILLED_CHARGES'

SELECT @SQL_AMOUNT_CRITERIA = ''

IF @amount_type_id = @NET_ID
BEGIN
IF @amount_min IS NOT NULL
SELECT @SQL_AMOUNT_CRITERIA = @SQL_AMOUNT_CRITERIA + '   AND SUM(ISNULL(ara.net_payment, 0)) >= ' + convert(NVARCHAR(20), @amount_min) + @endQueryLine

IF @amount_max IS NOT NULL
SELECT @SQL_AMOUNT_CRITERIA = @SQL_AMOUNT_CRITERIA + '   AND SUM(ISNULL(ara.net_payment, 0)) <=  ' + convert(NVARCHAR(20), @amount_max) + @endQueryLine
END
ELSE IF @amount_type_id = @BILLED_ID
BEGIN
IF @amount_min IS NOT NULL
SELECT @SQL_AMOUNT_CRITERIA = @SQL_AMOUNT_CRITERIA + '
AND SUM(CASE -- total_billed_charges
WHEN ISNULL(cp.is_system_generated, 0) = 0
THEN ISNULL(cp.charge, 0)
ELSE 0
END) >= ' + convert(NVARCHAR(20), @amount_min)

IF @amount_max IS NOT NULL
SELECT @SQL_AMOUNT_CRITERIA = @SQL_AMOUNT_CRITERIA + '
AND SUM(CASE -- total_billed_charges
WHEN ISNULL(cp.is_system_generated, 0) = 0
THEN ISNULL(cp.charge, 0)
ELSE 0
END) <= ' + convert(NVARCHAR(20), @amount_max)
END
END

IF (isnull(@SQL_AMOUNT_CRITERIA, '') <> '')
BEGIN
SELECT @filterQuery = @filterQuery + ' HAVING (1=1) ' + @endQueryLine + @SQL_AMOUNT_CRITERIA
END

--------------------------------------------------
-- Order By
-- This code has been commented out until we implement the "TOP()" functionality.
-- It needs to be included if the filter criteria include TOP!
--------------------------------------------------
DECLARE @SQL_ORDER NVARCHAR(1000)

SELECT @SQL_ORDER = ''

/*
IF ISNULL(@SELECTION_KEY, '') = 'Highest Value'
SELECT @SQL_ORDER = ' ORDER BY total_billed_charges DESC, claim_ud ASC '
ELSE IF ISNULL(@SELECTION_KEY, '') = 'Oldest Claim First'
SELECT @SQL_ORDER = ' ORDER BY received_date ASC, claim_ud ASC '
ELSE
SELECT @SQL_ORDER = ' ORDER BY claim_ud ASC ' -- default

SET @filterQuery = @filterQuery + @SQL_ORDER
*/
-- DEBUGGING
PRINT '@filterQuery =>'
PRINT @filterQuery

--
-------------------------------------------------------------------------
-- End of filter criteria
-------------------------------------------------------------------------
--
-- Create a temporary table based on the view.
--SELECT c.claim_id
--	,c.claim_ud
--	,c.received_date
--	,c.clean_date
--	,c.claim_form_type_id
--	,c.vendor_id
--	,c.family_eligibility_member_benefit_plan_id
--	,c.provider_identifier_id
--	,c.adjudication_status_id
--	--,c.claim_procedure_id
--	,c.claim_payment_process_status_id
--	,convert(DECIMAL, 0) AS total_billed_charges
--	,convert(DECIMAL, 0) AS total_net_payment
--INTO #T_CLAIMS
--FROM vw_claims_pend_or_hold_or_err c
--WHERE (1 = 0)
CREATE TABLE #T_CLAIMS (
claim_id INT
,claim_ud NVARCHAR(100)
,received_date DATETIME
,clean_date DATETIME
,claim_form_type_id INT
,vendor_id INT
,family_eligibility_member_benefit_plan_id INT
,provider_identifier_id INT
,adjudication_status_id INT
,claim_payment_process_status_id INT
,total_billed_charges DECIMAL
,total_net_payment DECIMAL
)

--EXEC tempdb..sp_help #T_CLAIMS
INSERT INTO #T_CLAIMS
EXEC sp_executesql @filterQuery

-------------------------------------------------------
-- Join with other tables
-------------------------------------------------------
SELECT c.claim_id
,c.claim_ud
,c.received_date
,cft.claim_form_type_ud
,cft.golden_key AS claim_form_type_gk
,v.vendor_ud
,fembp.member_eligibility_ud
,pid.provider_ud
,adjstat.adjudication_status_ud
,adjstat.golden_key AS adjudication_status_gk
,paystat.golden_key AS process_status_gk
,c.total_billed_charges
,c.total_net_payment
INTO #T_CLAIMS_FINAL
FROM #T_CLAIMS c
INNER JOIN claim_form_type cft
ON c.claim_form_type_id = cft.claim_form_type_id
INNER JOIN adjudication_status adjstat
ON c.adjudication_status_id = adjstat.adjudication_status_id
LEFT JOIN claim_payment_process_status paystat
ON c.claim_payment_process_status_id = paystat.claim_payment_process_status_id
INNER JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN provider_identifier pid
ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN vendor v
ON c.vendor_id = v.vendor_id

--------------------------------------------------
-- Execute Final SQL
--------------------------------------------------
DECLARE @SQL_FINAL NVARCHAR(4000)

SELECT @SQL_FINAL = 'SELECT * FROM #T_CLAIMS_FINAL ' + @SQL_ORDER

-- DEBUGGING
--PRINT '@SQL_FINAL =>'
--PRINT @SQL_FINAL
--
EXEC sp_executesql @SQL_FINAL
,N'@amount_min DECIMAL(20,10), @amount_max DECIMAL(20,10)'
,@amount_min
,@amount_max

--------------------------------------------------
-- Clean up
--------------------------------------------------
DROP TABLE #T_CLAIMS

DROP TABLE #T_CLAIMS_FINAL
END
GO
