USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_applied_refund_requests_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

Form: Vendor Refund Payment form.
Grid: Vendor Refund Requests grid

This procedure loads any Vendor Refund Requests with a status of Available or Paid
that match the Vendor, Accounting Company and AP Account.on the Vendor Refund Payment.
(This is similar to the Customer Payment form.)

If the Vendor Refund Payment has a status ENTERED or AVAILABLE, display all the
potential Vendor Refund Requests that could be applied to the Vendor Refund Payment.

With any other status, only the applied and posted Vendor Refund Request
records are displayed.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_applied_refund_requests_load]
(
@accounting_transaction_ap_id    INT = NULL  -- Vendor Refund Payment ID
)
AS

SET NOCOUNT ON

DECLARE	@isEnteredOrAvailable BIT = 0;
DECLARE @statusGK NVARCHAR(50);
DECLARE @paymentVendorId INT;
DECLARE @paymentAccountingCompanyId INT;
DECLARE @paymentApAccountId INT;

--Get Payment status and data needed to match Vendor Refund Requests
SELECT
@statusGK = aps.golden_key,
@paymentVendorId = pmt.vendor_id,
@paymentAccountingCompanyId = pmt.accounting_company_id,
@paymentApAccountId = pmtDetail.ap_accounting_company_account_id
FROM accounting_transaction_ap_refund_payment_detail pmtDetail
JOIN accounting_transaction_ap pmt
ON pmtDetail.accounting_transaction_ap_id = pmt.accounting_transaction_ap_id
JOIN accounting_payment_status aps
ON aps.accounting_payment_status_id = pmtDetail.accounting_payment_status_id
WHERE pmtDetail.accounting_transaction_ap_id = @accounting_transaction_ap_id;

SET @isEnteredOrAvailable = CASE WHEN @statusGK IN ('ENTERED', 'AVAILABLE') THEN 1 ELSE 0 END;

-- If the Vendor Refund Payment is ENTERED or AVAILABLE, all Vendor Refund Request records
-- which could be applied to the Payment are displayed.
IF @isEnteredOrAvailable = 1
BEGIN
SELECT
refund.accounting_transaction_ap_id AS vendor_refund_request_id,
refund.accounting_transaction_ap_ud AS vendor_refund_request_ud,
CASE
WHEN apply_to.accounting_transaction_ap_apply_to_id IS NULL THEN 0
ELSE 1
END AS 'apply',
refundRequestDetail.due_date as due_date,
refund.transaction_amount AS vendor_refund_request_amount,
-- add to unapplied only if Vendor Refund Payment is not voided and NOT this apply_to record
unapplied_amount = dbo.plx_fn_get_unapplied_amount_for_vendor_refund_request_except_this_apply_to(
refundRequestDetail.accounting_transaction_ap_id, apply_to.accounting_transaction_ap_apply_to_id , 1),
apply_to.accounting_transaction_ap_apply_to_id,
ISNULL(apply_to.from_accounting_transaction_ap_id, @accounting_transaction_ap_id) AS from_accounting_transaction_ap_id,
apply_to.to_accounting_transaction_ap_id,
apply_to.amount,
apply_to.comment,
ISNULL(apply_to.is_posted, 0)AS is_posted
FROM accounting_transaction_ap_refund_request_detail refundRequestDetail
JOIN accounting_transaction_ap refund
ON refundRequestDetail.accounting_transaction_ap_id = refund.accounting_transaction_ap_id
JOIN accounting_payment_status refundRequestStatus
ON refundRequestDetail.accounting_payment_status_id = refundRequestStatus.accounting_payment_status_id
LEFT JOIN accounting_transaction_ap_apply_to AS apply_to
ON apply_to.to_accounting_transaction_ap_id = refund.accounting_transaction_ap_id
AND apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
WHERE
-- aready applied, or
apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
OR
-- available requests that match the vendor, accounting company, and ap account
(
refundRequestStatus.golden_key = 'AVAILABLE' AND
refund.vendor_id = @paymentVendorId AND
refund.accounting_company_id = @paymentAccountingCompanyId AND
refundRequestDetail.ap_accounting_company_account_id = @paymentApAccountId
)
ORDER BY
apply DESC, -- applied refund requests listed first
refund.transaction_date, vendor_refund_request_ud;
END
ELSE
BEGIN
SELECT
refund.accounting_transaction_ap_id AS vendor_refund_request_id,
refund.accounting_transaction_ap_ud AS vendor_refund_request_ud,
[apply] = 1,
refundRequestDetail.due_date as due_date,
refund.transaction_amount AS vendor_refund_request_amount,
unapplied_amount = apply_to.unapplied_amount,
apply_to.accounting_transaction_ap_apply_to_id,
apply_to.from_accounting_transaction_ap_id,
apply_to.to_accounting_transaction_ap_id,
apply_to.amount,
apply_to.comment,
ISNULL(apply_to.is_posted, 0) AS is_posted
FROM accounting_transaction_ap_apply_to apply_to
JOIN accounting_transaction_ap_refund_request_detail refundRequestDetail
ON apply_to.to_accounting_transaction_ap_id = refundRequestDetail.accounting_transaction_ap_id
JOIN accounting_transaction_ap refund
ON refundRequestDetail.accounting_transaction_ap_id = refund.accounting_transaction_ap_id
WHERE
apply_to.from_accounting_transaction_ap_id = @accounting_transaction_ap_id
ORDER BY
refund.transaction_date, vendor_refund_request_ud;

END

RETURN 0
GO
