USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_accumulator_valid_choice_by_benefit_contract_header_level_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Date: 10/04/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/04/2007	Abhishek	1.0		Created


--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single plx_dd_family_accumulator_valid_choice_by_benefit_contract_level_load from the accumulator_valid_choice table.
--
REQUIREMENTS:
--
INPUTS:
accumulator_valid_choice_id - Key to accumulator_valid_choice table, identifies a single stored dd_accumulator_valid_choice.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_accumulator_valid_choice_by_benefit_contract_header_level_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT DISTINCT
accumulator_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_temp_id
, accumulator_class.ui_engine_data_type_id
, accumulator_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_id
, accumulator_valid_choice.valid_choice AS family_accumulator_valid_choice
FROM   accumulator_valid_choice
inner join accumulator_choice_list
ON accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id
inner join accumulator_framework_accumulator_class
on accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id
inner join accumulator_class
on accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id
inner join resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
WHERE
UPPER(resolve_choice_list_at.golden_key) = N'BENEFIT CONTRACT HEADER'
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
