USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_gpci_locality_number_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
DATE: 12/28/2005
--
REVISION_HISTORY:
--
Date         Modified By   Version	Description
--------------------------------------------------------------------------------
12/27/2005	Hiep Nguyen		1.0		Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
01/21/2010	Vishwa Jella	1.2		Updated with UI effective dates and show_only_current fields
11/16/2011	ggutshall		1.3		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.3
--
DESCRIPTION:
The procedure is used to find the gpci locality numbers that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

, @show_exact_match
OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_find_gpci_locality_number_load]
(
@get_column_headers				BIT = 0
, @carrier_number             NVARCHAR(50) = NULL
, @locality_number            NVARCHAR(50) = NULL
, @locality_name              NVARCHAR(100) = NULL
, @effective_from					datetime = NULL
, @effective_thru					datetime = NULL
, @show_exact_match				BIT = 0
, @show_only_current				BIT = 0
) AS

BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)
,@EffFrom       NVARCHAR(10)
,@EffThru       NVARCHAR(10)
,@OrderBy	NVARCHAR(1000)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
,@EffFrom       = ''
,@EffThru       = ''
--
IF @show_exact_match = 1
BEGIN
SET @Prefix =  '= N'''
SET @Suffix =  ''''
SET @EffFrom = '='
SET @EffThru = '='
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix =  '%'''
SET @EffFrom = '>='
SET @EffThru = '<='
END

IF @locality_number IS NOT NULL AND @locality_number <> ''
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(g.locality_number, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@locality_number,@show_exact_match) + @Suffix

IF @locality_name IS NOT NULL AND @locality_name <> ''
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(g.locality_name, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@locality_name,@show_exact_match) + @Suffix

IF @carrier_number IS NOT NULL AND @carrier_number <> ''
SET @SqlCondition = @SqlCondition + ' AND  ISNULL(g.carrier_number, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@carrier_number,@show_exact_match) + @Suffix

IF @show_exact_match = 1
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, g.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) = 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, g.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) = 0 '
END
ELSE
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, g.effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, g.effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0 '
END

IF @show_only_current = 1
BEGIN
SET @SqlCondition = @SqlCondition +
' AND dbo.plx_fnIsDateInRange(g.effective_from, g.effective_thru, GETDATE()) = 1 '
END


SET @SqlQuery = '
SELECT DISTINCT TOP (dbo.fn_results_limit())
g.gpci_id
, g.carrier_number
, g.locality_number
, g.locality_name
, g.effective_from
, g.effective_thru
FROM dbo.gpci g
'

SET @OrderBy = ' ORDER BY g.carrier_number, g.locality_number, g.locality_name, g.effective_from, g.effective_thru '

Execute (@SqlQuery + @SqlCondition + @OrderBy)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
END
GO
