USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_currency_display_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 31 2005  9:51AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_currency_display_load]

AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
currency.currency_id as currency_display_id
,currency.currency_ud as currency_display_ud
,currency.currency_nm as display_currency_nm

--      ,display_currency.description
--      ,display_currency.active
--      ,display_currency.created_user_name
--      ,display_currency.created_group_id

--      ,created_group.created_group_ud
--      ,display_currency.created_date
--      ,display_currency.modified_date
FROM currency
--      inner join created_group  ON created_group.created_group_id = display_currency.created_group_id
--WHERE display_currency.display_currency_id = @display_currency_id
--
ORDER BY currency_display_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
