USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_contact_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Apr  3 2006 10:30AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
3/4/2006    trinhle     1.0         Created
09/03/2014  eponomareff             RT:6046 Data modification project

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Associated Contacts"
in frmMemberCOB form.
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_contact_delete]

(
@cob_member_commercial_health_plan_contact_id       int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = ''

--
IF NOT EXISTS (SELECT * FROM cob_member_commercial_health_plan_contact WHERE cob_member_commercial_health_plan_contact_id = @cob_member_commercial_health_plan_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM cob_member_commercial_health_plan_contact
WHERE cob_member_commercial_health_plan_contact_id = @cob_member_commercial_health_plan_contact_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
