USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_country_address_format_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 09/15/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2014	dcannon		1.0			Created

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a address format rule
make sure the country is not used in any addresses (locales)
--
REQUIREMENTS:
--
INPUTS:
@country_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_country_address_format_check_delete]
(
@country_id			int = NULL
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT 1 FROM country_address_format WHERE country_id = @country_id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END

-- check if exists in locale table
ELSE IF EXISTS ( SELECT Top(1) locale_id FROM locale WHERE country_id = @country_id)

BEGIN
SET @result = @SP_DELETE_UNABLE
END

--
RETURN @result
END
GO
