USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoice_file_date_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

DESCRIPTION:
This procedure is used to load data for Invoice File Date drop down
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_dd_invoice_file_date_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
invoice_file_date_id
,invoice_file_date_ud
,golden_key
FROM invoice_file_date
ORDER BY invoice_file_date_ud

RETURN @SP_SUCCESS
END
GO
