USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_adjudication_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
The procedure is used to find the adjudication queues that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_find_adjudication_queue_load]
(
@get_column_headers		BIT = 0
,@adjudication_queue_ud					NVARCHAR(50) = NULL
,@description						NVARCHAR(50) = NULL
,@benefit_contract_id					INT = NULL
,@claim_form_type_id					INT = NULL
,@client_id						INT = NULL
,@client_group_id					INT = NULL
,@provider_identifier_id				INT = NULL
,@provider_network_id					INT = NULL
,@scheduled_from					DATETIME = NULL
,@scheduled_thru					DATETIME = NULL
,@show_exact_matches				BIT	= 0
,@show_only_current					BIT = 0
)

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@SqlOrder		NVARCHAR(500)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@SqlOrder		= ''
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF ISNULL(@adjudication_queue_ud, '') <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(aq.adjudication_queue_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@adjudication_queue_ud,@show_exact_matches) + @Suffix

IF ISNULL(@description, '') <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(aq.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF ISNULL(@client_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF ISNULL(@client_group_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF ISNULL(@provider_identifier_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.provider_identifier_id = ' + CONVERT(NVARCHAR, @provider_identifier_id)

IF ISNULL(@provider_network_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.provider_network_id = ' + CONVERT(NVARCHAR, @provider_network_id)

IF ISNULL(@claim_form_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.claim_form_type_id = ' + CONVERT(NVARCHAR, @claim_form_type_id)

IF ISNULL(@benefit_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND aq.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)

IF @show_exact_matches = 1
BEGIN
IF @scheduled_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, sf.duration_start_date, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @scheduled_from, 101) + ''', 101)) = 0 '

IF @scheduled_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, sf.duration_end_date, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @scheduled_thru, 101) + ''', 101)) = 0 '

END
ELSE
BEGIN
IF @scheduled_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(sf.duration_start_date, ''' +
CONVERT(NVARCHAR, @scheduled_from, 101) + '''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @scheduled_from, 101) + ''', 101)) <= 0 '

IF @scheduled_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, isnull(sf.duration_end_date, ''' +
CONVERT(NVARCHAR, @scheduled_thru, 101) + '''), CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @scheduled_thru, 101) + ''', 101)) >= 0 '
END

IF @show_only_current = 1
BEGIN
SET @SqlCondition = @SqlCondition +
' AND DATEDIFF(day, sf.duration_start_date, GETDATE()) >= 0 '	+
' AND DATEDIFF(day, isnull(sf.duration_end_date, ''9/9/9999''), GETDATE()) <= 0 '
END

SET @SqlQuery =
'	SELECT TOP (dbo.fn_results_limit())
aq.adjudication_queue_id,
aq.adjudication_queue_ud,
aq.description,
sf.duration_start_date,
sf.duration_end_date
FROM adjudication_queue aq
LEFT JOIN schedule_form sf ON sf.schedule_form_id = aq.schedule_form_id '

SET @SqlOrder = ' ORDER BY aq.adjudication_queue_ud, aq.description, sf.duration_start_date, sf.duration_end_date '

EXEC(@SqlQuery + @SqlCondition + @SqlOrder)
GO
