USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_repricing_workflow_acceptance_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
April 05 2011 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load Repricing Workflow Acceptance Rule values in Repricing Workflow grid on
Repricing Workflow Assignment form
--

******************************/
CREATE   PROCEDURE [dbo].[plx_dd_repricing_workflow_acceptance_rule_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
rwar.repricing_workflow_acceptance_rule_id
,rwar.repricing_workflow_acceptance_rule_ud
FROM repricing_workflow_acceptance_rule rwar
ORDER BY repricing_workflow_acceptance_rule_ud
--
RETURN @SP_SUCCESS
GO
