USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_find_imbalance_claims]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<T.R. Cross>
-- Create date: <07/18/2018>
-- Last modified date: <11/07/2018>
-- Description:	<Find claims that are denied, 
--				have result code QC4501 or QC4505, 
--				and do not balance>
-- =============================================
CREATE PROCEDURE [dbo].[BIND_find_imbalance_claims]
AS
BEGIN
	DECLARE
		@DENY INT
		, @AVAILABLE INT

	SELECT
		@DENY = adjudication_status_id
	FROM
		adjudication_status
	WHERE
		golden_key = 'DENY'

	SELECT
		@AVAILABLE = claim_payment_process_status_id
	FROM
		claim_payment_process_status
	WHERE
		golden_key = 'AVAILABLE'

	SELECT DISTINCT
		c.claim_id
		, cp.claim_procedure_id
	FROM
		claim c
	JOIN claim_procedure cp
		ON cp.claim_id = c.claim_id
	JOIN adjudication_result_amount ara
		ON ara.claim_procedure_id = cp.claim_procedure_id
	LEFT JOIN adjudication_result_amount_override arao
		ON arao.adjudication_result_amount_id = ara.adjudication_result_amount_id
	WHERE
		cp.adjudication_status_id = @DENY --DENY
		AND (cp.charge - (ISNULL(ROUND(arao.write_off_amount, 2), ara.write_off_amount) + ISNULL(ROUND(arao.ineligible_amount, 2), ara.ineligible_amount))) <> ara.net_payment
		AND
			(
			cp.claim_payment_process_status_id IS NULL
			OR cp.claim_payment_process_status_id = @AVAILABLE
			)
END
GO
