USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rate_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rate_check_delete]
(
@id      INT = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE   INT,
@SP_DELETE_UNABLE INT,
@SP_EXCEPTION     INT,
@result           INT;

SET @SP_DELETE_ABLE     = 1;
SET @SP_DELETE_UNABLE   = 0;
SET @SP_EXCEPTION       = -1;

SET @result = @SP_DELETE_ABLE;

-- return exception if eligibility rate does not exist
IF NOT EXISTS (SELECT 1 FROM eligibility_rate WHERE eligibility_rate_id = @id )
BEGIN
RETURN @SP_EXCEPTION
END

-- check to see if premium fee has been used in calculations
ELSE IF EXISTS (SELECT 1 FROM eligibility_premium_calculation epc
WHERE epc.eligibility_rate_id = @id)
BEGIN
SET @result = @SP_DELETE_UNABLE;
END

RETURN @result
GO
