USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_accounting_customer_payment_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 05/14/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/14/2009 	W.Christensen  1.0      Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
@customer_payment_ud
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_auto_create_accounting_customer_payment_id_rule]
(
@customer_id INT,
@customer_payment_ud NVARCHAR(100) OUTPUT
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Use the following in the future if more rules are added; right now there is only one rule.
--	DECLARE
--		 @id_rule_golden_key			NVARCHAR(50)
--
--	SELECT TOP 1 @id_rule_golden_key = ISNULL(golden_key, 'STANDARD')
--	FROM global_rule
--		LEFT JOIN auto_create_accounting_customer_payment_id_rule
--			ON global_rule.auto_create_accounting_customer_payment_id_rule_id = auto_create_accounting_customer_payment_id_rule.auto_create_accounting_customer_payment_id_rule_id

-- Set the prefix for the auto generated id.
DECLARE
@prefix				NVARCHAR(100)

SET @customer_payment_ud = ''

-- The only case that currently exists is the else case; always use the
-- standard rule for now.
SELECT @prefix = customer_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)
FROM customer
WHERE customer_id = @customer_id

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud	NVARCHAR(200)
,@counter_pad_length			INT
,@counter						INT
,@counter_text					NVARCHAR(50)
,@accounting_transaction_ar_type_id_customer_payment INT

SET @counter_pad_length = 5
SET @auto_create_counter_type_ud = 'Customer Payment ' + @prefix

SELECT @accounting_transaction_ar_type_id_customer_payment = accounting_transaction_ar_type_id
FROM accounting_transaction_ar_type
WHERE golden_key = 'PAYMENT'

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @customer_payment_ud = ISNULL(@prefix, '') + @counter_text

-- Make sure the auto generated id is unique.  If not regenerate.
WHILE EXISTS (
SELECT * FROM accounting_transaction_ar
WHERE accounting_transaction_ar_ud = @customer_payment_ud
AND accounting_transaction_ar_type_id = @accounting_transaction_ar_type_id_customer_payment)
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @customer_payment_ud = ISNULL(@prefix, '') + @counter_text
END

RETURN @SP_SUCCESS

END
GO
