USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_criteria_true_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le		1.0			create
03/12/2008	David Slayton	1.1			Deleted commented out link to accumulator table.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid "Sub Limit When These Criteria Are True" in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_criteria_true_load]
(
@accumulator_sub_limit_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_sub_limit_criteria.accumulator_sub_limit_criteria_id
,accumulator_sub_limit_criteria.criteria_id
,criteria.criteria_ud
,accumulator_sub_limit_criteria.effective_from
,accumulator_sub_limit_criteria.effective_thru
,accumulator_sub_limit_criteria.modified_date
FROM accumulator_sub_limit_criteria
left join criteria  ON criteria.criteria_id = accumulator_sub_limit_criteria.criteria_id
WHERE accumulator_sub_limit_id = @accumulator_sub_limit_id and accumulate_when_criteria_are_true=1
and accumulator_sub_limit_criteria.accumulate_when_criteria_are_true=1

ORDER BY
CASE WHEN accumulator_sub_limit_criteria.effective_from IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_criteria.effective_from DESC
,CASE WHEN accumulator_sub_limit_criteria.effective_thru IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_criteria.effective_thru DESC

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
