USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_telephone_number_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Oct 12 2005  3:41PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Using contact and contact_telephone_number tables to load data
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load contact telephone number

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_contact_telephone_number_load]
(
@contact_id			Int=null
)
AS
BEGIN

SET NOCOUNT ON

DECLARE     @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT
contact_telephone_number.contact_telephone_number_id
,CONVERT(BIT, ISNULL(contact_telephone_number.primary_for_contact,0)) AS primary_for_contact
,contact_telephone_number.telephone_number_id
,telephone_number.telephone_number_type_id
,telephone_number_type.telephone_number_type_ud
,telephone_number.telephone_number
,telephone_number.telephone_number_extension

,contact_telephone_number.best_time_to_contact_id
,bttc.best_time_to_contact_ud
,contact_telephone_number.comment

FROM
contact INNER JOIN contact_telephone_number ON contact.contact_id = contact_telephone_number.contact_id
LEFT JOIN telephone_number  ON telephone_number.telephone_number_id = contact_telephone_number.telephone_number_id
LEFT JOIN telephone_number_type  ON telephone_number_type.telephone_number_type_id = telephone_number.telephone_number_type_id
LEFT JOIN best_time_to_contact AS bttc
ON bttc.best_time_to_contact_id = contact_telephone_number.best_time_to_contact_id
WHERE contact_telephone_number.contact_id = @contact_id
ORDER BY primary_for_contact DESC,
telephone_number_type.telephone_number_type_ud,
telephone_number.telephone_number
RETURN @SP_SUCCESS
END
GO
