USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Deletes Vendor Refund Payment when Status = 'ENTERED'
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_detail_delete]
(
@accounting_transaction_ap_id  INT = NULL OUTPUT -- vendor_refund_payment ID
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT;

SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1;

IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ap atap
JOIN accounting_transaction_ap_refund_payment_detail detail
ON detail.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
WHERE atap.accounting_transaction_ap_id = @accounting_transaction_ap_id)
RETURN @SP_SUCCESS
ELSE
BEGIN

BEGIN TRY
BEGIN TRANSACTION

--Delete accounting_transaction_ap_distribution child records
DELETE FROM accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

--Delete accounting_transaction_ap_apply_to child records
DELETE FROM accounting_transaction_ap_apply_to
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id

--Delete accounting_transaction_ap_refund_payment_detail record
DELETE FROM accounting_transaction_ap_refund_payment_detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

--Delete accounting_transaction_ap record
DELETE FROM accounting_transaction_ap
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

COMMIT TRANSACTION
END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT @ErrorMessage = ERROR_MESSAGE()
,@ErrorSeverity = ERROR_SEVERITY()
,@ErrorState = ERROR_STATE();

-- Use RAISERROR inside the CATCH block to return error
-- information about the original error that caused
-- execution to jump to the CATCH block.
RAISERROR(@ErrorMessage, -- Message text.
@ErrorSeverity, -- Severity.
@ErrorState -- State.
);
END CATCH

END

RETURN @SP_SUCCESS;
GO
