USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_commission_advance_setup_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/02/2006	Tinh do			1.0		Created
09/01/2006	Hiep Ngueyn		1.1		Added some fields (i.e effective_from ...)
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
The procedure is used to find the commission advance setups that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_find_commission_advance_setup_load]
(
@get_column_headers			BIT = 0,
@commission_advance_setup_ud 	NVARCHAR(50)=NULL,
@description 			NVARCHAR(255) = NULL,
@effective_from			DATETIME = NULL,
@effective_thru			DATETIME = NULL,
@show_only_current		BIT = 0,
@show_exact_matches		BIT = 0

)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF (@commission_advance_setup_ud IS NOT NULL) AND (@commission_advance_setup_ud <> '')
SET @SqlCondition = @SqlCondition + ' AND ISNULL(commission_advance_setup_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@commission_advance_setup_ud, @show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF ISNULL(@show_only_current, 0) = 1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ((DATEDIFF(Day, effective_from, GETDATE()) >= 0 OR effective_from IS NULL)' +
' AND (DATEDIFF(Day, effective_thru, GETDATE()) <= 0 OR effective_thru IS NULL))'
END

IF ISNULL(@show_exact_matches, 0) = 1
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) = 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) = 0 '
END
ELSE
BEGIN
IF @effective_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND DATEDIFF(day, effective_from, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_from, 101) + ''', 101)) <= 0 '

IF @effective_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND ((DATEDIFF(day, effective_thru, CONVERT(DATETIME, ''' +
CONVERT(NVARCHAR, @effective_thru, 101) + ''', 101)) >= 0) OR (effective_thru IS NULL)) '
END

SET @SqlQuery = ' SELECT  commission_advance_setup_id
, commission_advance_setup_ud
, description
, effective_from, effective_thru
FROM 	commission_advance_setup
'

EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
--
END
GO
