USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_load_by_benefit_contract_period_benefit_plan]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Nov  9 2005  3:29PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/9/2005       HungTNguyen      1.0                created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get Eligibility Restriction by benefit contract period benefit plan.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_eligibility_restriction_load_by_benefit_contract_period_benefit_plan]
(
@benefit_contract_period_benefit_plan_id		Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT distinct

bnfbln.eligibility_restriction_id
/*
,bnfbln.effective_from
,bnfbln.effective_thru
*/

FROM benefit_contract_period_benefit_plan_eligibility_restriction bnfbln
inner join benefit_contract_period_benefit_plan  ON benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = bnfbln.benefit_contract_period_benefit_plan_id
WHERE
(bnfbln.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND
(  (bnfbln.effective_from IS NULL OR bnfbln.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND
(bnfbln.effective_thru IS NULL OR bnfbln.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101)))
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
