USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_type_for_ar_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta

REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/04/2006	Anh Ta         1.0      Created & Used for 10511 Accounting Transaction
04/16/2009  W.Christensen  1.1      Modified to only show Credits and Charges
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Returns a list of AR transaction types.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_accounting_transaction_type_for_ar_load]

AS

SELECT
accounting_transaction_ar_type_id AS accounting_transaction_type_id
,accounting_transaction_ar_type_ud AS accounting_transaction_type_ud
,golden_key

FROM accounting_transaction_ar_type

WHERE golden_key IN('CHARGE','CREDIT')

ORDER BY accounting_transaction_type_ud

RETURN 0
GO
