USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_default_fee_schedule_modifier_table_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thai Nguyen
Jan 11 2006 10:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
May 15 2006	Nguyen, Nghi	1.1		Change default_fee_schedule_modifier_table to fee_schedule_default table
Nov 26 2007	Christensen, W	1.2		Changed back to use default_fee_schedule_modifier_table
04/04/2008	lrenard				Aliased dfsmt.default_fee_schedule_modifier_table_id  as fee_schedule_default_id
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
6.2	Default Fee Schedule Modifier Table - Load
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_default_fee_schedule_modifier_table_list_load]
AS
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
dfsmt.default_fee_schedule_modifier_table_id  as fee_schedule_default_id
,fee_schedule_modifier.fee_schedule_modifier_id
,fee_schedule_modifier.fee_schedule_modifier_ud
,dfsmt.effective_from
,dfsmt.effective_thru

FROM default_fee_schedule_modifier_table dfsmt
LEFT JOIN fee_schedule_modifier  ON fee_schedule_modifier.fee_schedule_modifier_id = dfsmt.fee_schedule_modifier_table_id

ORDER BY CASE WHEN dfsmt.effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC,
CASE WHEN dfsmt.effective_thru IS NULL THEN 0 ELSE 1 END , dfsmt.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
