USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/02/2009
--

--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/03/2014  eponomareff             RT:6046 Data modification project

DESCRIPTION:
This procedure is to delete a benefit_contract_period_benefit_plan_cob_processing_rule.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_delete]
(
@benefit_contract_period_benefit_plan_cob_processing_rule_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_cob_processing_rule WHERE benefit_contract_period_benefit_plan_cob_processing_rule_id = @benefit_contract_period_benefit_plan_cob_processing_rule_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_contract_period_benefit_plan_cob_processing_rule
WHERE benefit_contract_period_benefit_plan_cob_processing_rule_id = @benefit_contract_period_benefit_plan_cob_processing_rule_id

END
--
RETURN @SP_SUCCESS
--
GO
