USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_cob_entry_form_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   02/18/2009
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
10/20/2017		eponomareff			RT:11929 - Modified to accomodate new table name: claim_cob_payer,
which is tied to the claim, not the claim_procedure. But as this form
is launched from the claim line, leaving the input to be claim_procedure_id.
We are also adding the original_source, which tells us whether the claim_procedure
has been imported by QDS 837; this determines the appearance of the form.
06/16/2020		amortensen			RT:16595 - Modified to delete 'is_837_import' return column. Previously used to lock down
COB Entry form when claim is imported. COB Entry form will no longer be locked down for imported claims.
--
DESCRIPTION:

This procedure is used to load claim procedure cob entry data for COB Entry Form,
which is launched from a button on the claim line (claim_procedure record).

For this load, we create a datarow for the form, which includes:
(1) The form type of the claim (which determines which Services grid will be displayed)
(2) Whether the claim_procedure was imported by QDS 837, which determines the appearance of the form.

******************************/
CREATE      PROCEDURE [dbo].[plx_claim_procedure_cob_entry_form_load]
(
@claim_procedure_id             Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

-- check to see if CARC codes have been loaded
DECLARE @isCarcCodesLoaded BIT
IF EXISTS (SELECT 1 FROM claim_adjustment_reason_code)
SET @isCarcCodesLoaded = 1
ELSE
SET @isCarcCodesLoaded = 0

SELECT
cp.claim_procedure_id
, is_Carc_Codes_Loaded = @isCarcCodesLoaded
, c.claim_id
, cft.golden_key AS claim_form_type_gk					-- form type is important, because it determines which Services grid is displayed on form.
, CONVERT(BIT,0) AS disabled							-- the calling claim form sets this value immediately after load
,pc.professional_claim_id
,ic.institutional_claim_id
,dc.dental_claim_id

FROM dbo.claim_procedure cp
JOIN claim c ON c.claim_id = cp.claim_id
JOIN claim_form_type cft ON c.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN professional_claim pc ON pc.claim_id = c.claim_id
LEFT JOIN institutional_claim ic ON ic.claim_id = c.claim_id
LEFT JOIN dental_claim dc ON dc.claim_id = c.claim_id
WHERE cp.claim_procedure_id = @claim_procedure_id
--
RETURN @SP_SUCCESS
GO
