USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_stage_provider_group_by_specialty]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_stage_provider_group_by_specialty]
(
@capitationDefinitionId INT,
@capitationGroupId INT,
@effectiveFrom DATE,
@effectiveThru DATE
)
AS
BEGIN
SET NOCOUNT ON;

INSERT INTO capitation_staging_providers
(
provider_id
)
SELECT DISTINCT
p.provider_id
FROM
capitation_group_provider_specialty_type cgpst
INNER JOIN provider_specialty ps
ON ps.provider_specialty_type_id = cgpst.provider_specialty_type_id
INNER JOIN provider p
ON p.provider_id = ps.provider_id
WHERE
-- Definitions with multiple groups can have providers that exist in multiple groups.
NOT EXISTS(SELECT 1 FROM capitation_staging_providers csp WHERE csp.provider_id = p.provider_id)

AND cgpst.capitation_group_id = @capitationGroupId
AND cgpst.is_excluded = 0

-- Provider effective dates intersect with the capitation period.
AND (p.effective_from IS NULL OR p.effective_from <= @effectiveThru)
AND (p.effective_thru IS NULL OR @effectiveFrom <= p.effective_thru)

-- Provider specialty effective dates intersect with the capitation period.
AND (ps.effective_from IS NULL OR ps.effective_from <= @effectiveThru)
AND (ps.effective_thru IS NULL OR @effectiveFrom <= ps.effective_thru)

-- Provider not excluded.
AND p.provider_id NOT IN
(
SELECT
pi.provider_id
FROM
capitation_group_provider_identifier cgpi
INNER JOIN provider_identifier pi
ON pi.provider_identifier_id = cgpi.provider_identifier_id
WHERE
cgpi.capitation_group_id = @capitationGroupId
AND cgpi.is_excluded = 1
);

SELECT @@ROWCOUNT as 'staged_provider_count';

END
GO
