USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_contract_accumulator_by_benefit_contract]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivas Kunche
DATE: 	07/31/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/07/2005	Srinivasa	1.0		create
12/12/2012	eponomareff 2.0		    fix performance problem on form load
08/27/2019	amortensen	2.1			RT:14975 - First DOS Accumulator Rollover does not support carryover
--------------------------------------------------------------------------------
CURRENT_VERSION: 2.1
--
DESCRIPTION:
Loads the accumulator framework against benefit contract period
--
REQUIREMENTS:
--
INPUTS:


--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_dd_benefit_contract_accumulator_by_benefit_contract](
@benefit_contract_period_id AS INT = null, @benefit_contract_period_benefit_plan_id AS INT = null, @accumulator_framework_id AS INT = null
)
AS
BEGIN

SET NOCOUNT ON

DECLARE @FIRST_DOS_ACCUMULATOR_ROLLOVER_TYPE_ID INT;
SET @FIRST_DOS_ACCUMULATOR_ROLLOVER_TYPE_ID = (SELECT accumulator_rollover_type_id FROM accumulator_rollover_type WHERE golden_key = 'First DOS');

-- on form initial load, none of the parameters are populated, so we need all the accumulator rollover values, these
-- are filtered later based on (a) the benefit plan node selected and/or (b) the accumulator framework optionally selected
-- in the adjacent column in the Accumulator Carryover grid.

IF ISNULL(@benefit_contract_period_id, 0) = 0
AND ISNULL(@benefit_contract_period_benefit_plan_id, 0) = 0
AND ISNULL(@accumulator_framework_id, 0) = 0
BEGIN
SELECT
a.accumulator_id
,a.accumulator_ud
FROM
accumulator a
WHERE
a.accumulator_rollover_type_id <> @FIRST_DOS_ACCUMULATOR_ROLLOVER_TYPE_ID;
END
-- here we are filtering by the benefit plan node, and possibly also by the accumulator framework
ELSE
BEGIN
SELECT DISTINCT
a.accumulator_id
,a.accumulator_ud
FROM
benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan_accumulator_framework bpaf ON bcpbp.benefit_plan_id = bpaf.benefit_plan_id
INNER JOIN accumulator_framework af ON bpaf.accumulator_framework_id = af.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class afac ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator a ON a.accumulator_id = afaca.accumulator_id
WHERE
-- NOTE - @benefit_contract_period_id should always be a non-null value, except on the initial load, which is taken care of above.
-- (bcp.benefit_contract_period_id = isnull(@benefit_contract_period_id, bcp.benefit_contract_period_id))
bcp.benefit_contract_period_id = @benefit_contract_period_id
AND bcpbp.benefit_plan_id IN (
SELECT DISTINCT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_id = ISNULL(@benefit_contract_period_id, benefit_contract_period_id)
AND benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, benefit_contract_period_benefit_plan_id)
)
AND af.accumulator_framework_id = ISNULL(@accumulator_framework_id, af.accumulator_framework_id)
AND a.accumulator_rollover_type_id <> @FIRST_DOS_ACCUMULATOR_ROLLOVER_TYPE_ID
GROUP BY
af.accumulator_framework_ud
,a.accumulator_ud
,a.accumulator_id
ORDER BY
a.accumulator_ud
END

RETURN @@ROWCOUNT

SET NOCOUNT OFF
END
GO
