USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_relationship_maximum_age_list_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: h9nguyen
Sep 22 2006  5:37PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single Relationship Maximum Ages grid on Eligibility Restriction form.
--
REQUIREMENTS:
--
INPUTS:
@relationship_maximum_age_id - Key to relationship_maximum_age table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_relationship_maximum_age_list_delete]
(
@relationship_maximum_age_id                int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM relationship_maximum_age WHERE relationship_maximum_age_id = @relationship_maximum_age_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM relationship_maximum_age
WHERE relationship_maximum_age_id = @relationship_maximum_age_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
