USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_template_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 09/08/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2006	ptran			1.0			Created
03/08/2006	Thuy Ha			1.0			created_date and modified_date use DB Server date
10/03/2007  Abhishek Saxena 1.0			added column valid_eligibility_days_rule_id, valid_eligibility_days,
valid_eligibility_days_exclude,conditional_issue_rule_id
11/21/2009	Vishwa Jella		2.0		Added linked_accumulator_set_id field to benefit contract template Form advanced setup Tab
08/18/2014					-			RT:6046 Updated created/modified tombstone columns
05/09/2016	eponomareff		2.2			RT:10282 add reference to premium_policy_type for individual premium billing
--
CURRENT_VERSION: 2.2
--
DESCRIPTION:
Save for Benefit Contract Template form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_id - Key to benefit_contract table, identifies a single benefit_contract,
@benefit_contract_ud
@benefit_contract_nm
@description
@benefit_current_status_id
@client_group_id
@benefit_contract_template
@auto_create_family_id_rule_id
@billing_type_id
--@product_line_id
@effective_from
@effective_thru
@benefit_contract_termination_id
@base_currency_id
@currency_exchange_rule_id
@accounting_company_id
@linked_accumulator_id
@claim_run_in_from
@claim_run_out_thru
@accumulator_framework_id
@timely_filing_rule
@timely_number_of_units
@timely_unit_day_week_month_year_id
@timely_result_code_id
@timely_result_code_status_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_template_save]
(
@benefit_contract_id                        int = NULL   OUTPUT
,@benefit_contract_ud                        nvarchar(100) = NULL
,@benefit_contract_nm                        nvarchar(200) = NULL
,@description                                nvarchar(510) = NULL
,@benefit_current_status_id                  int = NULL
,@client_group_id                            int = NULL
,@auto_create_family_id_rule_id              int = NULL
,@billing_type_id                            int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@benefit_contract_termination_id            int = NULL
,@base_currency_id                           int = NULL
,@currency_exchange_rate_rule_id                int = NULL
,@accounting_company_id                      int = NULL
,@claim_run_in_from                          datetime = NULL
,@claim_run_out_thru                         datetime = NULL
,@accumulator_framework_id                   int = NULL
,@linked_accumulator_id								int = NULL
,@timely_filing_rule                         bit = NULL
,@timely_number_of_units                     int = NULL
,@timely_unit_day_week_month_year_id                        int = NULL
,@timely_result_code_id                      int = NULL
,@timely_result_code_status_id               int = NULL
,@active                                     bit = NULL
,@valid_eligibility_days_rule_id      int = NULL
,@valid_eligibility_days   nvarchar(100) = NULL
,@valid_eligibility_days_exclude     bit=NULL
,@conditional_issue_rule_id           int=NULL
,@line_of_business_id					int = NULL
,@premium_policy_type_id                     int=NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @benefit_contract_id IS NULL
BEGIN
--- Create a new record
INSERT INTO benefit_contract(
benefit_contract_ud
,benefit_contract_nm
,description
,benefit_current_status_id
,client_group_id
,benefit_contract_template
,auto_create_family_id_rule_id
,billing_type_id
,effective_from
,effective_thru
,benefit_termination_reason_id
,base_currency_id
,currency_exchange_rate_rule_id
,accounting_company_id
,accumulator_framework_id
,linked_accumulator_set_id
,claim_run_in_from
,claim_run_out_thru
,timely_filing_rule
,timely_number_of_units
,timely_unit_day_week_month_year_id
,timely_result_code_id
,timely_result_code_status_id
,active
,valid_eligibility_days_rule_id
,valid_eligibility_days
,valid_eligibility_days_exclude
,conditional_issue_rule_id
,line_of_business_id
,premium_policy_type_id
)
VALUES
(@benefit_contract_ud
,@benefit_contract_nm
,@description
,@benefit_current_status_id
,@client_group_id
,1--@benefit_contract_template
,@auto_create_family_id_rule_id
,@billing_type_id
,@effective_from
,@effective_thru
,@benefit_contract_termination_id
,@base_currency_id
,@currency_exchange_rate_rule_id
,@accounting_company_id
,@accumulator_framework_id
,@linked_accumulator_id
,@claim_run_in_from
,@claim_run_out_thru
,@timely_filing_rule
,@timely_number_of_units
,@timely_unit_day_week_month_year_id
,@timely_result_code_id
,@timely_result_code_status_id
,@active
,@valid_eligibility_days_rule_id
,@valid_eligibility_days
,@valid_eligibility_days_exclude
,@conditional_issue_rule_id
,@line_of_business_id
,@premium_policy_type_id
)
--
SET @benefit_contract_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT 1 FROM benefit_contract WHERE benefit_contract_id = @benefit_contract_id and benefit_contract_template = 1 )
BEGIN
-- RAISERROR('benefit_contract object not found in benefit_contract for internal key %d.', 16, 1, @benefit_contract_id)
RETURN 1
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE benefit_contract_id = @benefit_contract_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_contract
SET
benefit_contract_ud                      = @benefit_contract_ud
,benefit_contract_nm                      = @benefit_contract_nm
,description                              = @description
,benefit_current_status_id		 = @benefit_current_status_id
,client_group_id                          = @client_group_id
,benefit_contract_template                = 1--@benefit_contract_template
,auto_create_family_id_rule_id            = @auto_create_family_id_rule_id
,billing_type_id                          = @billing_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,benefit_termination_reason_id          = @benefit_contract_termination_id
,base_currency_id                         = @base_currency_id
,currency_exchange_rate_rule_id               = @currency_exchange_rate_rule_id
,accounting_company_id                    = @accounting_company_id
,accumulator_framework_id                 = @accumulator_framework_id
,linked_accumulator_set_id					 = @linked_accumulator_id
,claim_run_in_from                        = @claim_run_in_from
,claim_run_out_thru                       = @claim_run_out_thru
,timely_filing_rule                       = @timely_filing_rule
,timely_number_of_units                   = @timely_number_of_units
,timely_unit_day_week_month_year_id       = @timely_unit_day_week_month_year_id
,timely_result_code_id                    = @timely_result_code_id
,timely_result_code_status_id             = @timely_result_code_status_id
,active                                   = @active
,valid_eligibility_days_rule_id     =@valid_eligibility_days_rule_id
,valid_eligibility_days                   =@valid_eligibility_days
,valid_eligibility_days_exclude     =@valid_eligibility_days_exclude
,conditional_issue_rule_id            =@conditional_issue_rule_id
,line_of_business_id					= @line_of_business_id
,premium_policy_type_id                   = @premium_policy_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_id = @benefit_contract_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
