USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_composite_tier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/07/2013  eponomareff		1.0		Created
01/26/2016  eponomareff     2.0     RT:10284 - Composite Tier - N-dimensional
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Find Composite Billing Tier Levels that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@tier_ud
@description
@composed_tier_criteria_type_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_composite_tier_load]
(
@get_column_headers			BIT = 0
, @tier_ud									NVARCHAR(50) = NULL
, @description								NVARCHAR(255) = NULL
, @composed_tier_criteria_type_id			INT = NULL
, @show_exact_matches						BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlComplexJoin NVARCHAR(500)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlComplexJoin		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

-- set for COMPOSITE tier criteria type
SET @SqlCondition = @SqlCondition + ' AND t.tier_criteria_type_golden_key = N''COMPOSITE'''

IF @tier_ud IS NOT NULL AND @tier_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(t.tier_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@tier_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(t.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @composed_tier_criteria_type_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND tct_composed.tier_criteria_type_id = ' + CONVERT(NVARCHAR(16), @composed_tier_criteria_type_id)

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
t.tier_id
,t.tier_ud
,t.description
FROM  dbo.tier t
LEFT JOIN tier_criteria_type tct ON t.tier_criteria_type_golden_key = tct.golden_key
-- get tier criteria type for all composed (builder) tiers
LEFT JOIN tier_composite_detail tcd ON tcd.tier_id = t.tier_id
LEFT JOIN tier composed_tier ON tcd.composed_tier_id = composed_tier.tier_id
LEFT JOIN tier_criteria_type tct_composed ON tct_composed.golden_key = composed_tier.tier_criteria_type_golden_key
'


PRINT @SqlQuery + @SqlComplexJoin + @SqlCondition + ' ORDER BY t.tier_ud'

EXEC (@SqlQuery + @SqlComplexJoin + @SqlCondition + ' ORDER BY t.tier_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
