USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_treatment_type_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 18 2005  3:40PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_treatment_type_set_load]

(
@treatment_type_set_id int = null
)

AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
treatment_type_set.treatment_type_set_id
,treatment_type_set.treatment_type_set_ud
--      ,treatment_type_set.treatment_type_set_nm
--      ,treatment_type_set.description
--      ,treatment_type_set.active
--      ,treatment_type_set.created_user_name
--      ,treatment_type_set.created_group_id

--      ,created_group.created_group_ud
--      ,treatment_type_set.created_date
--      ,treatment_type_set.modified_date
FROM treatment_type_set
--      inner join created_group  ON created_group.created_group_id = treatment_type_set.created_group_id
--WHERE treatment_type_set.treatment_type_set_id = @treatment_type_set_id
--
order by treatment_type_set_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
