USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_eligibilities_by_auto_termination_queue_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  PROCEDURE [dbo].[plx_dto_eligibilities_by_auto_termination_queue_id](
@auto_termination_queue_id int,
@run_date DATETIME
) AS

DECLARE @criteria_row_count INT
SELECT @criteria_row_count = ISNULL(COUNT(*), 0)
FROM auto_termination_queue_queue_criteria
WHERE auto_termination_queue_id = @auto_termination_queue_id

IF(@criteria_row_count > 0) -- If there are rows then filter by criteria
SELECT DISTINCT elig.family_eligibility_member_benefit_plan_id, fel.family_eligibility_loan_id, criteria.auto_termination_rule_id FROM
(
SELECT
bcp.benefit_contract_id,
bcpbp.benefit_plan_id,
bcpbpatr.auto_termination_rule_id
FROM
benefit_contract_period_benefit_plan_auto_termination_rule bcpbpatr
JOIN
benefit_contract_period_benefit_plan bcpbp
ON bcpbpatr.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
JOIN
benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
JOIN
benefit_contract bc
ON bcp.benefit_contract_id = bc.benefit_contract_id
JOIN
client_group cg
ON cg.client_group_id = bc.client_group_id
JOIN
auto_termination_queue_queue_criteria queue_criteria
ON
(cg.client_id = queue_criteria.client_id OR queue_criteria.client_id IS NULL)
AND
(cg.client_group_id = queue_criteria.client_group_id OR queue_criteria.client_group_id IS NULL)
AND
(queue_criteria.benefit_contract_id = bc.benefit_contract_id OR queue_criteria.benefit_contract_id IS NULL)
AND
(queue_criteria.benefit_plan_id = bcpbp.benefit_plan_id OR queue_criteria.benefit_plan_id IS NULL)
AND
(queue_criteria.auto_termination_rule_id = bcpbpatr.auto_termination_rule_id OR queue_criteria.auto_termination_rule_id IS NULL)
WHERE
queue_criteria.auto_termination_queue_id = @auto_termination_queue_id
AND
bcpbpatr.effective_from <= @run_date
AND
ISNULL(bcpbpatr.effective_thru, '9/9/9999') >= @run_date
) as criteria
JOIN
family_eligibility fe
ON fe.benefit_contract_id = criteria.benefit_contract_id
LEFT JOIN
family_eligibility_loan fel
ON fe.family_eligibility_id = fel.family_eligibility_id
JOIN
family_eligibility_member fem
ON fem.family_eligibility_id = fe.family_eligibility_id
JOIN
family_eligibility_member_benefit_plan elig
ON fem.family_eligibility_member_id = elig.family_eligibility_member_id AND elig.benefit_plan_id = criteria.benefit_plan_id

ELSE -- else get all eligibilities for benefit contracts/benefit plans that have an effective bcpbp auto termination rule
SELECT DISTINCT elig.family_eligibility_member_benefit_plan_id, fel.family_eligibility_loan_id, bcpbpatr.auto_termination_rule_id
FROM
benefit_contract_period_benefit_plan_auto_termination_rule bcpbpatr
JOIN
benefit_contract_period_benefit_plan bcpbp
ON bcpbpatr.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
JOIN
benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
JOIN
family_eligibility fe
ON fe.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN
family_eligibility_loan fel
ON fe.family_eligibility_id = fel.family_eligibility_id
JOIN
family_eligibility_member fem
ON fem.family_eligibility_id = fe.family_eligibility_id
JOIN
family_eligibility_member_benefit_plan elig
ON fem.family_eligibility_member_id = elig.family_eligibility_member_id AND elig.benefit_plan_id = bcpbp.benefit_plan_id
WHERE bcpbpatr.effective_from <= @run_date AND ISNULL(bcpbpatr.effective_thru, '9/9/9999') >= @run_date
GO
