USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_complete_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 07/13/12
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load dx complete by Dx Code ID
--
REQUIREMENTS:
--
INPUTS:
diagnosis_code_id
--
OUTPUTS:
diagnosis_code_complete records
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_diagnosis_code_complete_load]
(
@diagnosis_code_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
dcc.diagnosis_code_complete_id
,dcc.complete
,dcc.effective_from
,dcc.effective_thru

FROM diagnosis_code_complete dcc
WHERE dcc.diagnosis_code_id = @diagnosis_code_id

--
IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
