USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_correspondence_date_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 03/31/2010
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down correspondence_date_rule
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_correspondence_date_rule_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT
correspondence_date_rule_id
,correspondence_date_rule_ud
,golden_key
FROM correspondence_date_rule
ORDER BY correspondence_date_rule_ud
--
RETURN @SP_SUCCESS
GO
