USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_hipaa_claim_filing_indicator_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/8/2005	HungTNguyen			1.0		Created
02/09/2006  HungTNguyen             1.1             added name column as descript in spec

--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'hipaa_claim_filing_indicator' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_hipaa_claim_filing_indicator_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
hipaa_claim_filing_indicator_id
,hipaa_claim_filing_indicator_ud
,hipaa_claim_filing_indicator_nm

FROM hipaa_claim_filing_indicator

ORDER BY hipaa_claim_filing_indicator_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
