USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 3/1/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
3/1/2006   	HungTNguyen    	1.2         added client_group_id
23/11/2006	tinh do			1.3 		Add mapping coloumn
10/01/2007  Abhishek Saxena 1.4         Added column eligibility_issue_status_id
10/31/2007  Abhishek Saxena 1.4         Added column signed_in_state_id
11/20/2007  Vishwa Jella    1.5         Changed Column name from privacy_notice_date to Disclosure_date
08/21/2008	David Slayton	1.6			Added accounting_company_id and accounting_company_ud fields.
03/17/2010	Vishwa Jella	1.7			Updated to use family_eligibility_termination_reason_id for both
Enrollment and Member Eligibilities
03/15/2011	ggutshall		1.8			Changed to retrieve signed_in_state information from client_group table
2/27/2012	PAndersen		1.9			Changed to retrieve billing_type_ud and billing_type_id information correctly
09/22/2014	eponomareff					RT:6823 changes to support Optimistic Concurrency.
05/09/2016	eponomareff		2.0			RT:10282 add reference to policy_type for individual premium billing

--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to load data for Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_family_eligibility_load]
(
@family_eligibility_id INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fe.family_eligibility_id,
fe.family_eligibility_ud,
dbo.plx_ConcatenateName (member_name.name_last,member_name.name_first,member_name.name_middle,NULL) AS subscriber_name,
fe.benefit_contract_id,
benefit_contract.benefit_contract_nm,
benefit_contract.benefit_contract_ud,
client_group.client_group_id,
client_group_name.client_group_ud,
billing_type.billing_type_ud,
ps.billing_type_id,
billing_type.golden_key AS billing_type_gk,
client.client_id,
client.accounting_company_id,
accounting_company.accounting_company_ud,
client_name.client_ud,
fe.never_under_coverage,
fe.family_eligibility_termination_reason_id,
family_eligibility_termination_reason.family_eligibility_termination_reason_ud,
fe.grace_period_status_id,
gps.grace_period_status_ud,
fe.effective_from,
fe.effective_thru,
fe.dependent_only_policy,
fe.current_status_id,
current_status.current_status_ud,
fe.auto_generated_dependent_member_records,
fe.family_disclosure_restriction_id,
family_disclosure_restriction.family_disclosure_restriction_ud,
fe.disclosure_date,
fe.eligibility_issue_status_id,
eligibility_issue_status.eligibility_issue_status_ud,
fe.family_eligibility_employment_id,
family_eligibility_employment.date_hired,
family_eligibility_employment.employment_status_code_id,
family_eligibility_employment.separation_date,
family_eligibility_employment.separation_reason_id,
separation_reason.separation_reason_ud,
employment_status_code.employment_status_code_ud,
cast(0 AS INT) AS sgp_locale_id,
cast(0 AS NVARCHAR(50)) AS sgp_locale_ud,
CAST(NULL AS INT) AS mapping_family_eligibility_member_benefit_plan_id,
CAST(NULL AS NVARCHAR(50)) AS mapping_member_eligibility_ud,
fe.signed_in_state_id,
state.state_ud AS signed_in_state_ud,
is_premium_individual_policy =
CASE WHEN ppt.golden_key = 'INDIVIDUAL' THEN 1
ELSE 0
END,
fe.object_row_version

FROM family_eligibility AS fe
INNER JOIN benefit_contract
ON benefit_contract.benefit_contract_id = fe.benefit_contract_id
LEFT JOIN premium_setup AS ps
ON benefit_contract.premium_setup_id = ps.premium_setup_id
LEFT JOIN [premium_policy_type] as ppt
ON benefit_contract.premium_policy_type_id = ppt.premium_policy_type_id
LEFT JOIN client_group
ON client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client
ON client.client_id =client_group.client_id
LEFT JOIN accounting_company
ON client.accounting_company_id = accounting_company.accounting_company_id
LEFT JOIN client_name
ON client_name.client_id = client.client_id
LEFT JOIN billing_type
ON billing_type.billing_type_id = ps.billing_type_id
LEFT JOIN client_group_name
ON client_group_name.client_group_id = client_group.client_group_id
LEFT JOIN family_eligibility_termination_reason
ON family_eligibility_termination_reason.family_eligibility_termination_reason_id= fe.family_eligibility_termination_reason_id
LEFT JOIN grace_period_status gps
ON gps.grace_period_status_id = fe.grace_period_status_id
LEFT JOIN current_status
ON current_status.current_status_id = fe.current_status_id
LEFT JOIN family_disclosure_restriction
ON family_disclosure_restriction.family_disclosure_restriction_id = fe.family_disclosure_restriction_id
LEFT JOIN family_eligibility_employment
ON family_eligibility_employment.family_eligibility_employment_id = fe.family_eligibility_employment_id
LEFT JOIN employment_status_code
ON family_eligibility_employment.employment_status_code_id =employment_status_code.employment_status_code_id
LEFT JOIN separation_reason
ON separation_reason.separation_reason_id =family_eligibility_employment.separation_reason_id
LEFT JOIN eligibility_issue_status
ON eligibility_issue_status.eligibility_issue_status_id = fe.eligibility_issue_status_id
LEFT JOIN [state]
ON state.state_id = fe.signed_in_state_id
LEFT JOIN family_eligibility_member
ON fe.family_eligibility_id = family_eligibility_member.family_eligibility_id
LEFT JOIN relationship_to_insured
ON relationship_to_insured.relationship_to_insured_id = family_eligibility_member.relationship_to_insured_id
AND (relationship_to_insured.golden_key = 'Self' OR relationship_to_insured.golden_key ='Guarantor')
LEFT JOIN member_name
ON member_name.member_id = family_eligibility_member.member_id
AND member_name.is_primary = 1
WHERE
fe.family_eligibility_id = @family_eligibility_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
