USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_items_for_result_code_assign]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Dropdown list for Payment Items that can have more specific
CAGC/CARC/RARC mappings based on highest-ranking result code.
Used in UI Form: Assign Claim Adjustment Reason Codes (frmClaimAdjustmentMap)

Select from
Ineligible
Write Off Amount Or Charges if Capitated
Provider Responsibility.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_payment_items_for_result_code_assign]

AS

SET NOCOUNT ON
--
SELECT
adjudication_object_id
,adjudication_object_ud
,golden_key
FROM dbo.adjudication_object
WHERE golden_key in
(
'INELIGIBLE_AMOUNT',
'WRITE_OFF_AMOUNT',
'PROVIDER_RESPONSIBILITY_AMOUNT'
)
ORDER BY adjudication_object_id DESC
--
RETURN 0
--
GO
