USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_postal_code_set_postal_code_exclude_list_load]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/07/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/07/2008	David Slayton	1.0			Created
10/14/2014     eponomareff    1.1            RT:7256 - As a result of Address project (7004), the
postal code is no longer unique in the database.
To avoid duplicate rows (due to different postal_code_id's
with the same postal_code_ud) we are just using NULL. We
don't want to get rid of the result set column altogether,
because it helps the find form work as expected.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Load data for grid grdExcludeCodes on form frmPostalCodeSet

--
REQUIREMENTS:
--
INPUTS:
@postal_code_set_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_postal_code_set_postal_code_exclude_list_load]
(
@postal_code_set_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pcspc.postal_code_set_postal_code_id
,pcspc.postal_code_set_id
,beginning_postal_code_id = CAST(NULL AS INT)	  -- id is not used, but having this column in the select is necessary for the find form to work properly
,pcspc.beginning_postal_code
,ending_postal_code_id = CAST(NULL AS INT)      -- id is not used, but having this column in the select is necessary for the find form to work properly
,pcspc.ending_postal_code
,pcspc.effective_from
,pcspc.effective_thru

FROM dbo.postal_code_set_postal_code pcspc

WHERE pcspc.postal_code_set_id = @postal_code_set_id and is_excluded = 1

ORDER BY
CASE WHEN pcspc.effective_from IS NULL THEN 0 ELSE 1 END ASC, pcspc.effective_from DESC,
CASE WHEN pcspc.effective_thru IS NULL THEN 0 ELSE 1 END ASC, pcspc.effective_thru DESC

--
IF @@ERROR <> 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
--
GO
