USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_definition_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
--
DESCRIPTION:
Select fields from the correspondence_action_definition table.
This stored procedure is used in the Correspondence Action form
--
REQUIREMENTS:
--
INPUTS:
correspondence_action_definition_id - Key to correspondence_action_definition table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_correspondence_action_definition_load]
(
@correspondence_action_id 	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
cad.correspondence_action_definition_id
,cad.correspondence_action_id

,cad.correspondence_action_rule_id
,car.correspondence_action_rule_ud

,cad.correspondence_date_rule_id
,cdr.correspondence_date_rule_ud

,cad.result_code_id
,rc.result_code_ud

,cad.result_code_status_id
,rcs.result_code_status_ud

,cad.family_eligibility_termination_reason_id
,tr.family_eligibility_termination_reason_ud

,cad.comment

,cad.active
,cad.created_user_name
,cad.created_date
,cad.modified_date


FROM correspondence_action_definition cad
LEFT JOIN correspondence_action_rule car ON car.correspondence_action_rule_id = cad.correspondence_action_id
LEFT JOIN correspondence_date_rule cdr ON cdr.correspondence_date_rule_id = cad.correspondence_date_rule_id
LEFT JOIN result_code rc ON rc.result_code_id = cad.result_code_id
LEFT JOIN result_code_status rcs ON rcs.result_code_status_id = cad.result_code_status_id
LEFT JOIN family_eligibility_termination_reason tr
ON tr.family_eligibility_termination_reason_id = cad.family_eligibility_termination_reason_id

WHERE cad.correspondence_action_id = ISNULL(@correspondence_action_id,0)
--
RETURN @SP_SUCCESS
GO
