USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_financial_institution_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_financial_institution_save] (
@beneficiary_financial_institution_id    INT          = NULL OUTPUT
,@beneficiary_id                          INT          = NULL
,@financial_institution_id                INT          = NULL OUTPUT
,@financial_bank_id                       INT          = NULL
,@financial_bank_branch_id                INT          = NULL
,@name_on_account                         NVARCHAR(50) = NULL
,@bank_account_type_id                    INT          = NULL
,@routing_transit_number                  NVARCHAR(50) = NULL
,@account_number                          NVARCHAR(50) = NULL
,@swift_code                              NVARCHAR(50) = NULL
,@ach_hold                                BIT          = NULL
,@effective_from                          DATETIME     = NULL
,@effective_thru                          DATETIME     = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;
--
IF @beneficiary_financial_institution_id IS NULL

BEGIN
--- Create a new financial_institution record
INSERT INTO financial_institution (
financial_bank_id
,financial_bank_branch_id
,name_on_account
,bank_account_type_id
,routing_transit_number
,account_number
,swift_code
,ach_hold
,effective_from
,effective_thru
)
VALUES (
@financial_bank_id
,@financial_bank_branch_id
,@name_on_account
,@bank_account_type_id
,@routing_transit_number
,@account_number
,@swift_code
,@ach_hold
,@effective_from
,@effective_thru
);
--
SET @financial_institution_id = SCOPE_IDENTITY();

--- Create a new beneficiary_financial_institution record
INSERT INTO beneficiary_financial_institution (
beneficiary_id
,financial_institution_id
)
VALUES (
@beneficiary_id
,@financial_institution_id
);
--
SET @beneficiary_financial_institution_id = SCOPE_IDENTITY();
END
ELSE IF NOT EXISTS (SELECT * FROM beneficiary_financial_institution WHERE beneficiary_financial_institution_id = @beneficiary_financial_institution_id )
BEGIN
RETURN @SP_EXCEPTION;
END
--
ELSE
BEGIN
--
UPDATE financial_institution
SET
financial_bank_id                  = @financial_bank_id
,financial_bank_branch_id           = @financial_bank_branch_id
,name_on_account                    = @name_on_account
,bank_account_type_id               = @bank_account_type_id
,routing_transit_number             = @routing_transit_number
,account_number                     = @account_number
,swift_code                         = @swift_code
,ach_hold							= @ach_hold
,effective_from                     = @effective_from
,effective_thru                     = @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE financial_institution_id = @financial_institution_id;

--- Updating an existing beneficiary_financial_institution record
--
UPDATE beneficiary_financial_institution
SET
beneficiary_id                     = @beneficiary_id
,financial_institution_id           = @financial_institution_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE beneficiary_financial_institution_id = @beneficiary_financial_institution_id;
END
--
RETURN @SP_SUCCESS;
--
GO
