USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
DATE: 10/30/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/30/2011	cknobloch	1.0			create
05/01/2012	kmaher		1.1			must delete "allowed values" if user-defined topic list
02/26/2016  amortensen  1.2         Added Try/Catch reorded delete statements due to FK constaint
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Used to delete a topic.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_additional_information_topic_delete]
(
@additional_information_topic_id       INT = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS  INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

BEGIN TRY

BEGIN TRAN

DELETE FROM additional_information_topic_value
WHERE additional_information_topic_id = @additional_information_topic_id

DELETE FROM additional_information
WHERE additional_information_topic_id = @additional_information_topic_id

DELETE FROM additional_information_topic
WHERE additional_information_topic_id  = @additional_information_topic_id

COMMIT TRAN

END TRY
BEGIN CATCH

DECLARE
@error INT,
@message NVARCHAR(4000)
SELECT
@message = ERROR_MESSAGE(),
@error = ERROR_NUMBER()

ROLLBACK TRAN
RAISERROR('%d: %s', 16, 1, @error, @message)
RETURN @SP_EXCEPTION

END CATCH

RETURN @SP_SUCCESS
--
GO
