USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_waive_item_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Waive Items"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_episode_waive_item_save]

(
@episode_waive_item_id                 int = NULL   OUTPUT
,@benefit_class_id                       int = NULL
,@accumulator_class_id                       int = NULL
,@episode_id                                 int = NULL
,@not_applicable                             bit = NULL
,@result_code_id                             int = NULL
,@result_code_status_id                             int = NULL  -- result_code_status_id
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @episode_waive_item_id is Null
BEGIN
--- Create a new record
INSERT INTO episode_waive_item(
benefit_class_id
,accumulator_class_id
,episode_id
,not_applicable
,result_code_id
,result_code_status_id
,active
)
VALUES
(@benefit_class_id
,@accumulator_class_id
,@episode_id
,@not_applicable
,@result_code_id
,@result_code_status_id
,@active
)
--
SET @episode_waive_item_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM episode_waive_item WHERE episode_waive_item_id = @episode_waive_item_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

UPDATE episode_waive_item
SET
not_applicable                           = @not_applicable
,result_code_id                           = @result_code_id
,result_code_status_id		= @result_code_status_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE episode_waive_item_id = @episode_waive_item_id
END
--
RETURN @SP_SUCCESS
GO
