USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_ar_payment_batch_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
DATE: 04/05/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/05/2012	Aaron Mortensen	1.0			Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accounting_transaction_ar_payment_batch_status (Accounting Transaction AR Payment Batch Status)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_transaction_ar_payment_batch_status_load]
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_transaction_ar_payment_batch_status.accounting_transaction_ar_payment_batch_status_id
,accounting_transaction_ar_payment_batch_status.accounting_transaction_ar_payment_batch_status_ud
,accounting_transaction_ar_payment_batch_status.golden_key

FROM accounting_transaction_ar_payment_batch_status
ORDER BY  accounting_transaction_ar_payment_batch_status.sort_order

RETURN @SP_SUCCESS
GO
