USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_check_procedure_code_is_extraction_type]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
Date: 01/24/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/24/2006    	HuyThan  	1.0            Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if the procedure code is extraction type
for dental claim
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dental_claim_check_procedure_code_is_extraction_type]
(
@procedure_code_ud			nvarchar(50) = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
IF isnull(@procedure_code_ud , '') = ''
return  @SP_SUCCESS

SELECT
procedure_code.procedure_code_id
,procedure_code.procedure_code_ud
,procedure_code_category.procedure_code_category_nm
FROM procedure_code
inner join procedure_code_category  ON procedure_code_category.procedure_code_category_id = procedure_code.procedure_code_category_id
and procedure_code_category.procedure_code_category_nm like 'Extraction'
WHERE procedure_code.procedure_code_ud = @procedure_code_ud
--
IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
