USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_advance_benefit_contract_period_benefit_plan_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/08/2005	ptran			1.1		FS changed
2008/12/10	lrenard			1.2		removed 'visit_definition_id'
2009/08/03	David Slayton	1.3		Add call_share_processing_rule_id.
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This procedure is used to load data for two forms:
Benefit Contract Template Advanced Plan Setup
Benefit Contract Advanced Plan Setup
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_advance_benefit_contract_period_benefit_plan_load] (@benefit_contract_period_benefit_plan_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--
SELECT bcpbp.benefit_contract_period_benefit_plan_id
,bcpbp.benefit_contract_period_id
,bcpbp.benefit_plan_id
,bcpbp.principle_plan
,bcpbp.benefit_plan_type_id
,bcpbp.parent_benefit_contract_period_benefit_plan_id
,bcpbp.base_supplemental_rollover_rule_id
,bcpbp.financial_code_id
,bcpbp.financial_sub_code_id
,bcpbp.network_not_applicable
,bcpbp.auto_create_member_id_rule_id
,bcpbp.eligibility_seed_value
,bcpbp.annual_accumulator_rollover_rule_id
,bcpbp.restart_accumulator_months_id
,bcpbp.restart_accumulator_day_of_month
,bcpbp.restart_accumulator_number_of_months
,bcpbp.accumulator_start_date
,bcpbp.pre_existing_condition_rule_set_id
,pre_existing_condition_rule_set.pre_existing_condition_rule_set_ud
,bcpbp.hipaa_claim_filing_indicator_id
,bcpbp.pay_claim_to_id
,bcpbp.billing_only
,bcpbp.call_share_processing_rule_id
,bcpbp.missing_authorization_penalty_rule_id
,mapr.missing_authorization_penalty_rule_ud
,bcpbp.age_calculation_rule_id
,bcpbp.is_ineligible_amount_provider_responsibility
,bcpbp.active
,bcpbp.created_user_name
,bcpbp.created_group_id
,bcpbp.created_date
,bcpbp.modified_date
,bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.benefit_contract_nm
,bc.client_group_id
,bp.benefit_plan_ud
,bp.benefit_plan_nm
,pct.golden_key as premium_category_type_gk
FROM benefit_contract_period_benefit_plan bcpbp
LEFT JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
LEFT JOIN missing_authorization_penalty_rule mapr
ON mapr.missing_authorization_penalty_rule_id = bcpbp.missing_authorization_penalty_rule_id
LEFT JOIN pre_existing_condition_rule_set
ON pre_existing_condition_rule_set.pre_existing_condition_rule_set_id = bcpbp.pre_existing_condition_rule_set_id
LEFT JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
LEFT JOIN benefit_category bca
ON bca.benefit_category_id = bf.benefit_category_id
LEFT JOIN premium_category_type pct
ON pct.premium_category_type_id = bca.premium_category_type_id


WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
