USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_eligibility_individual_accumulator_valid_choice_by_individual_accumulator_choice_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: meena
Date: 9/20/2001

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
9/20/2001	meena			1.0
03/18/2008	David Slayton	1.1			Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
get data for choice drop down list in individual accumulator choice list resolution in Family Eligibility,
Episode, Benefit Plan
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_family_eligibility_individual_accumulator_valid_choice_by_individual_accumulator_choice_list_load]
(
@ind_choice_id   INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
SELECT
accumulator_valid_choice_id AS individual_accumulator_valid_choice_id
,valid_choice AS individual_accumulator_valid_choice

FROM accumulator_valid_choice

WHERE accumulator_choice_list_id = @ind_choice_id

--
RETURN @SP_SUCCESS
--
GO
