USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_ncci_code_pair_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
DESCRIPTION:
This procedure is used to find NCCI code pairs.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_find_ncci_code_pair_load]
(
@procedure_code_1		nvarchar(50) = null,
@procedure_code_2		nvarchar(50) = null,
@ncci_edit_description_id	int = null,
@get_column_headers		bit = 1
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
--

SELECT TOP 2000
n.procedure_code_1,
n.procedure_code_2,

n.ncci_edit_description_id,
ned.description,

n.allow_modifier,
n.effective_from,
n.effective_thru
FROM
ncci_code_pair n
INNER JOIN
ncci_edit_description ned ON ned.ncci_edit_description_id = n.ncci_edit_description_id
WHERE
--check procedure code 1
( n.procedure_code_1 = isnull(@procedure_code_1, n.procedure_code_1) OR '' = isnull(@procedure_code_1, '') )
--check procedure code 2
AND ( n.procedure_code_2 = isnull(@procedure_code_2, n.procedure_code_2) OR '' = isnull(@procedure_code_2, '') )
--check ncci edit description
AND ( n.ncci_edit_description_id = isnull(@ncci_edit_description_id, n.ncci_edit_description_id) OR 0 = isnull(@ncci_edit_description_id, 0) )
--don't grab any rows if we're only getting column headers
AND @get_column_headers = 0


IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
