USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_qualified_payment_amount_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
Date: 09/11/2022
--
REVISION_HISTORY:
--
Date			Modified By		Version	Description
--------------------------------------------------------------------------------
09/011/2022		dcannon			1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update claim  qualified_payment_amount for professional claim form
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_qualified_payment_amount_save]
@claim_id int,
@qpa numeric(19,4) = NULL
AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM [claim_procedure_qualified_payment_amount] WHERE [claim_id] = @claim_id) AND (@qpa IS NOT NULL)
BEGIN
--- Create a new record
INSERT INTO [claim_procedure_qualified_payment_amount](
claim_id
,qualified_payment_amount
)
VALUES
(@claim_id
,@qpa
)
--
END

--
ELSE
BEGIN
-- if we have a @claim_procedure_qualified_payment_amount_id but no QPA, we need to delete record
IF @qpa IS NULL
BEGIN
DELETE FROM [claim_procedure_qualified_payment_amount] WHERE [claim_id] = @claim_id
RETURN @SP_SUCCESS
END

UPDATE [claim_procedure_qualified_payment_amount]
SET
qualified_payment_amount		= @qpa
,modified_user_name				= ORIGINAL_LOGIN()
,modified_date					= GETDATE()

WHERE [claim_id] = @claim_id
END
--
RETURN @SP_SUCCESS
--
GO
