USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_selecttion_for_benefit_contract_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  1 2006  1:14PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/13/2006	tinhdo			1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the benefit_contract table.
This stored procedure is used in the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id - Key to benefit_contract_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_plan_selecttion_for_benefit_contract_list_load]
(
@benefit_contract_id 					INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
---check this benefit_contract_id is template or not
DECLARE @benefit_contract_template BIT
DECLARE @resolve_option_at NVARCHAR(50)

SELECT @benefit_contract_template = benefit_contract_template
FROM benefit_contract
WHERE benefit_contract.benefit_contract_id = @benefit_contract_id
IF @benefit_contract_template = 1
SET @resolve_option_at = 'Benefit Contract'
ELSE
SET @resolve_option_at = 'Family Eligibility'
------------
SELECT
benefit_plan_option.benefit_contract_period_benefit_plan_id
,benefit_plan_option.benefit_category_ud
,benefit_plan_option.benefit_sub_category_ud
,benefit_plan_option.benefit_plan_id
,benefit_plan_option.benefit_plan_ud
,benefit_plan_option.benefit_plan_nm
,CAST(0 AS BIT) AS used
,(CAST(benefit_plan_option.benefit_contract_period_id AS NVARCHAR(50)) + benefit_plan_option.benefit_category_ud + benefit_plan_option.benefit_sub_category_ud) AS category
FROM
(
SELECT bc.benefit_category_ud
,bsc.benefit_sub_category_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_nm
,
(SELECT COUNT(benefit_category.benefit_category_ud)
FROM benefit_contract
LEFT JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN benefit_contract_period_benefit_plan ON  benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
LEFT JOIN resolve_option_at ON benefit_contract_period_benefit_plan.resolve_option_at_id = resolve_option_at.resolve_option_at_id
LEFT JOIN benefit_plan ON   benefit_plan.benefit_plan_id  = benefit_contract_period_benefit_plan.benefit_plan_id
LEFT JOIN benefit_framework ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
LEFT JOIN benefit_category ON benefit_category.benefit_category_id  =  benefit_framework.benefit_category_id
LEFT JOIN benefit_sub_category ON benefit_sub_category.benefit_sub_category_id =  benefit_framework.benefit_sub_category_id
WHERE benefit_contract.benefit_contract_id = @benefit_contract_id
AND parent_benefit_contract_period_benefit_plan_id IS NULL ---BASE PLAN
AND resolve_option_at.golden_key = @resolve_option_at
AND bc.benefit_category_ud = benefit_category.benefit_category_ud
AND bsc.benefit_sub_category_ud = benefit_sub_category.benefit_sub_category_ud
GROUP BY benefit_category.benefit_category_ud,benefit_sub_category.benefit_sub_category_ud
) AS counter
,benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
,benefit_contract_period.benefit_contract_period_id
FROM benefit_contract
LEFT JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN benefit_contract_period_benefit_plan ON  benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
LEFT JOIN resolve_option_at ON benefit_contract_period_benefit_plan.resolve_option_at_id = resolve_option_at.resolve_option_at_id
LEFT JOIN benefit_plan ON   benefit_plan.benefit_plan_id  = benefit_contract_period_benefit_plan.benefit_plan_id
LEFT JOIN benefit_framework ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
LEFT JOIN benefit_category bc ON bc.benefit_category_id  =  benefit_framework.benefit_category_id
LEFT JOIN benefit_sub_category bsc ON bsc.benefit_sub_category_id =  benefit_framework.benefit_sub_category_id
WHERE benefit_contract.benefit_contract_id = @benefit_contract_id
AND parent_benefit_contract_period_benefit_plan_id IS NULL ---BASE PLAN
AND resolve_option_at.golden_key = @resolve_option_at
) benefit_plan_option
WHERE benefit_plan_option.counter > 1
ORDER BY benefit_plan_option.benefit_category_ud,benefit_plan_option.benefit_sub_category_ud
--
RETURN @SP_SUCCESS
GO
