USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_fee_schedule_rule_not_covered_modifiers_2]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_get_fee_schedule_rule_not_covered_modifiers_2] (
@dateOfService DATETIME = NULL,
@serviceCodeId INT = NULL,
@procedureCodeId INT = NULL,
@feeScheduleRuleId INT = NULL
)
AS
--INTERNAL VARIABLES
DECLARE @serviceCodeUd NVARCHAR(50) = NULL,
@serviceCodeTypeId INT = NULL,
@procedureCodeUd NVARCHAR(50) = NULL,
@procedureCodeTypeId INT = NULL,
@SP_SUCCESS INT

SET @SP_SUCCESS = 0

SELECT @serviceCodeUd = pc.procedure_code_ud,
@serviceCodeTypeId = pc.procedure_code_type_id
FROM procedure_code pc
WHERE pc.procedure_code_id = @serviceCodeId;

SELECT @procedureCodeUd = pc.procedure_code_ud,
@procedureCodeTypeId = pc.procedure_code_type_id
FROM procedure_code pc
WHERE pc.procedure_code_id = @procedureCodeId;

WITH Exclude (fee_schedule_rule_not_covered_modifier_id)
AS (
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM fee_schedule_rule_not_covered_modifier fsrncm
-- procedure code 1
INNER JOIN procedure_code_group_procedure_code pcgpc1
ON pcgpc1.procedure_code_group_id = fsrncm.procedure_code_group_id
INNER JOIN procedure_code bpc1
ON bpc1.procedure_code_id = pcgpc1.begin_procedure_code_id
AND (
bpc1.procedure_code_type_id = @serviceCodeTypeId
OR bpc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = pcgpc1.end_procedure_code_id
AND (
epc1.procedure_code_type_id = @serviceCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
WHERE @serviceCodeUd BETWEEN bpc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1
AND pcgpc1.is_excluded = 1
AND fsrncm.fee_schedule_rule_id = @feeScheduleRuleId
AND @dateOfService >= pcgpc1.effective_from
AND (
@dateOfService <= pcgpc1.effective_thru
OR pcgpc1.effective_thru IS NULL
)

UNION

-- procedure code 2
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM fee_schedule_rule_not_covered_modifier fsrncm
INNER JOIN procedure_code_group_procedure_code pcgpc2
ON pcgpc2.procedure_code_group_id = fsrncm.procedure_code_group_2_id
INNER JOIN procedure_code bpc2
ON bpc2.procedure_code_id = pcgpc2.begin_procedure_code_id
AND (
bpc2.procedure_code_type_id = @procedureCodeTypeId
OR bpc2.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc2
ON epc2.procedure_code_id = pcgpc2.end_procedure_code_id
AND (
epc2.procedure_code_type_id = @procedureCodeTypeId
OR epc2.procedure_code_type_id IS NULL
)
WHERE @procedureCodeUd BETWEEN bpc2.procedure_code_ud
AND epc2.procedure_code_ud -- procedure code 2
AND pcgpc2.is_excluded = 1
AND fsrncm.fee_schedule_rule_id = @feeScheduleRuleId
AND @dateOfService >= pcgpc2.effective_from
AND (
@dateOfService <= pcgpc2.effective_thru
OR pcgpc2.effective_thru IS NULL
)
),
FeeScheduleRuleNotCoveredModifiers (
fee_schedule_rule_not_covered_modifier_id,
fee_schedule_rule_id,
procedure_code_type_id,
starting_procedure_code_id,
ending_procedure_code_id,
procedure_code_group_id,
procedure_code_type_2_id,
starting_procedure_code_2_id,
ending_procedure_code_2_id,
procedure_code_group_2_id,
modifier,
modifier_set_id,
result_code_override_id,
effective_from,
effective_thru
)
AS (
SELECT fee_schedule_rule_not_covered_modifier_id,
fee_schedule_rule_id,
procedure_code_type_id,
starting_procedure_code_id,
ending_procedure_code_id,
procedure_code_group_id,
procedure_code_type_2_id,
starting_procedure_code_2_id,
ending_procedure_code_2_id,
procedure_code_group_2_id,
modifier,
modifier_set_id,
result_code_override_id,
effective_from,
effective_thru
FROM fee_schedule_rule_not_covered_modifier fsrncm
WHERE fsrncm.fee_schedule_rule_id = @feeScheduleRuleId
AND @dateOfService >= fsrncm.effective_from
AND (
@dateOfService <= fsrncm.effective_thru
OR fsrncm.effective_thru IS NULL
)
)
SELECT fsrncm.*
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
INNER JOIN (
-- Range + Range
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code spc1
ON spc1.procedure_code_id = fsrncm.starting_procedure_code_id
AND (
spc1.procedure_code_type_id = @serviceCodeTypeId
OR spc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = fsrncm.ending_procedure_code_id
AND (
epc1.procedure_code_type_id = @serviceCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
-- procedure code 2
INNER JOIN procedure_code spc2
ON spc2.procedure_code_id = fsrncm.starting_procedure_code_2_id
AND (
spc2.procedure_code_type_id = @procedureCodeTypeId
OR spc2.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc2
ON epc2.procedure_code_id = fsrncm.ending_procedure_code_2_id
AND (
epc2.procedure_code_type_id = @procedureCodeTypeId
OR epc2.procedure_code_type_id IS NULL
)
WHERE @serviceCodeUd BETWEEN spc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1
AND @procedureCodeUd BETWEEN spc2.procedure_code_ud
AND epc2.procedure_code_ud -- procedure code 2

UNION

-- Range + ProcedureCodeGroup
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code spc1
ON spc1.procedure_code_id = fsrncm.starting_procedure_code_id
AND (
spc1.procedure_code_type_id = @serviceCodeTypeId
OR spc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = fsrncm.ending_procedure_code_id
AND (
epc1.procedure_code_type_id = @serviceCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
-- procedure code 2
INNER JOIN procedure_code_group_procedure_code pcgpc2
ON pcgpc2.procedure_code_group_id = fsrncm.procedure_code_group_2_id
INNER JOIN procedure_code bpc2
ON bpc2.procedure_code_id = pcgpc2.begin_procedure_code_id
AND (
bpc2.procedure_code_type_id = @procedureCodeTypeId
OR bpc2.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc2
ON epc2.procedure_code_id = pcgpc2.end_procedure_code_id
AND (
epc2.procedure_code_type_id = @procedureCodeTypeId
OR epc2.procedure_code_type_id IS NULL
)
WHERE @serviceCodeUd BETWEEN spc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1
AND @procedureCodeUd BETWEEN bpc2.procedure_code_ud
AND epc2.procedure_code_ud -- procedure code 2
AND pcgpc2.is_excluded = 0
AND @dateOfService >= pcgpc2.effective_from
AND (
@dateOfService <= pcgpc2.effective_thru
OR pcgpc2.effective_thru IS NULL
)

UNION

-- ProcedureCodeGroup + ProcedureCodeGroup
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code_group_procedure_code pcgpc1
ON pcgpc1.procedure_code_group_id = fsrncm.procedure_code_group_id
INNER JOIN procedure_code bpc1
ON bpc1.procedure_code_id = pcgpc1.begin_procedure_code_id
AND (
bpc1.procedure_code_type_id = @serviceCodeTypeId
OR bpc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = pcgpc1.end_procedure_code_id
AND (
epc1.procedure_code_type_id = @serviceCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
-- procedure code 2
INNER JOIN procedure_code_group_procedure_code pcgpc2
ON pcgpc2.procedure_code_group_id = fsrncm.procedure_code_group_2_id
INNER JOIN procedure_code bpc2
ON bpc2.procedure_code_id = pcgpc2.begin_procedure_code_id
AND (
bpc2.procedure_code_type_id = @procedureCodeTypeId
OR bpc2.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc2
ON epc2.procedure_code_id = pcgpc2.end_procedure_code_id
AND (
epc2.procedure_code_type_id = @procedureCodeTypeId
OR epc2.procedure_code_type_id IS NULL
)
WHERE @serviceCodeUd BETWEEN bpc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1
AND pcgpc1.is_excluded = 0
AND @procedureCodeUd BETWEEN bpc2.procedure_code_ud
AND epc2.procedure_code_ud -- procedure code 2
AND pcgpc2.is_excluded = 0
AND @dateOfService >= pcgpc1.effective_from
AND (
@dateOfService <= pcgpc1.effective_thru
OR pcgpc1.effective_thru IS NULL
)
AND @dateOfService >= pcgpc2.effective_from
AND (
@dateOfService <= pcgpc2.effective_thru
OR pcgpc2.effective_thru IS NULL
)

UNION

-- ProcedureCodeGroup + Range
SELECT fsrncm.fee_schedule_rule_not_covered_modifier_id
FROM FeeScheduleRuleNotCoveredModifiers fsrncm
-- procedure code 1
INNER JOIN procedure_code_group_procedure_code pcgpc1
ON pcgpc1.procedure_code_group_id = fsrncm.procedure_code_group_id
INNER JOIN procedure_code bpc1
ON bpc1.procedure_code_id = pcgpc1.begin_procedure_code_id
AND (
bpc1.procedure_code_type_id = @serviceCodeTypeId
OR bpc1.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc1
ON epc1.procedure_code_id = pcgpc1.end_procedure_code_id
AND (
epc1.procedure_code_type_id = @serviceCodeTypeId
OR epc1.procedure_code_type_id IS NULL
)
-- procedure code 2
INNER JOIN procedure_code spc2
ON spc2.procedure_code_id = fsrncm.starting_procedure_code_2_id
AND (
spc2.procedure_code_type_id = @procedureCodeTypeId
OR spc2.procedure_code_type_id IS NULL
)
INNER JOIN procedure_code epc2
ON epc2.procedure_code_id = fsrncm.ending_procedure_code_2_id
AND (
epc2.procedure_code_type_id = @procedureCodeTypeId
OR epc2.procedure_code_type_id IS NULL
)
WHERE @serviceCodeUd BETWEEN bpc1.procedure_code_ud
AND epc1.procedure_code_ud -- procedure code 1
AND pcgpc1.is_excluded = 0
AND @procedureCodeUd BETWEEN spc2.procedure_code_ud
AND epc2.procedure_code_ud -- procedure code 2
AND @dateOfService >= pcgpc1.effective_from
AND (
@dateOfService <= pcgpc1.effective_thru
OR pcgpc1.effective_thru IS NULL
)
) r
ON r.fee_schedule_rule_not_covered_modifier_id = fsrncm.fee_schedule_rule_not_covered_modifier_id
WHERE fsrncm.fee_schedule_rule_not_covered_modifier_id NOT IN (
SELECT fee_schedule_rule_not_covered_modifier_id
FROM Exclude
)

RETURN @SP_SUCCESS
GO
