USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_accumulators_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 01/09/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/09/2009	W. Christensen	1.0			Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for the View Accumulators form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_eligibility_accumulators_load]
(
@member_eligibility_id int = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_member_benefit_plan_id AS member_eligibility_id,
member_eligibility_ud,
dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) AS member_name

FROM family_eligibility_member_benefit_plan
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN member_name on fem.member_id  = member_name.member_id and member_name.is_primary=1

WHERE family_eligibility_member_benefit_plan_id = @member_eligibility_id


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
