USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_by_benefit_contract_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
--
REVISION_HISTORY:

Date			Modified By			Version		Description
--------------------------------------------------------------------------------
12/10/2013	Aaron Mortensen	1.0			Created from plx_dd_benefit_plan_by_benefit_contract_load
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'benefit_plan' table for validation against benefit contract
on the accounting transaction detail.

;
REQUIREMENTS	:

None
;
INPUTS		:
@benefit_contract_id
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_by_benefit_contract_load]
(
@benefit_contract_id INT = 0
) AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1



SELECT
bp.benefit_plan_id,
bp.benefit_plan_ud,
bf.benefit_category_id,
bf.benefit_sub_category_id

FROM
benefit_plan bp
INNER JOIN benefit_framework bf
ON bp.benefit_framework_id = bf.benefit_framework_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id

WHERE
bcp.benefit_contract_id = @benefit_contract_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
