USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_underwriting_document_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_underwriting_document_list_load]
(
@family_eligibility_member_benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT DISTINCT
eud.eligibility_underwriting_document_id
,eud.family_eligibility_member_benefit_plan_id
,eud.underwriting_document_code_id
,udc.underwriting_document_code_ud
,udc.description
,eud.requested_date
,eud.deadline_date
,eud.followup_date
,eud.underwriting_document_status_id
,uds.underwriting_document_status_ud
,eud.received_date
,eud.document_link
,eud.comment
,eud.modified_date
,eud.modified_user_name

FROM dbo.eligibility_underwriting_document eud
LEFT JOIN dbo.underwriting_document_code udc ON eud.underwriting_document_code_id = udc.underwriting_document_code_id
LEFT JOIN dbo.underwriting_document_status uds ON eud.underwriting_document_status_id = uds.underwriting_document_status_id

WHERE
eud.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY eud.requested_date DESC

RETURN 0
GO
