USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_correct_adjudication_result_amount_for_duplicate_claim]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[bind_correct_adjudication_result_amount_for_duplicate_claim]

@original_claim_id int,
@new_claim_id int

AS


--Temp table for processing
IF OBJECT_ID('tempdb..#adjudication_result_amount_override') IS NOT NULL DROP TABLE #adjudication_result_amount_override
CREATE TABLE #adjudication_result_amount_override (id int identity(1,1), claim_id int, claim_procedure_id int, claim_line_sequence numeric(19,4), adjudication_result_amount_id int, adjudication_result_amount_override_id int)

--Vars for processing 
declare @upUser nvarchar(50) = system_user
declare @upDate datetime = getdate()
declare @has_amount_override bit
declare @has_code_override bit 
declare @has_key_override bit

---- INSERTING INTO TEMP TABLE FOR PROCESSING ----
insert into #adjudication_result_amount_override
select distinct c.claim_id, cp.claim_procedure_id, cp.claim_line_sequence, ara.adjudication_result_amount_id, arao.adjudication_result_amount_override_id
from claim c
	inner join claim_procedure cp
		on c.claim_id = cp.claim_id
	inner join adjudication_result_amount ara 
		on cp.claim_procedure_id = ara.claim_procedure_id
	left join adjudication_result_amount_override arao
		on ara.adjudication_result_amount_id = arao.adjudication_result_amount_id
where c.claim_id = @original_claim_id
	and cp.units >= '0'

---- CHECKING TO SEE WHAT OVERRIDES WE NEED TO LOOK AT -



--Looping vars
declare @max int
declare @i int
declare @claim_line numeric(19,4)
declare @orig_amount_override_id int
declare @new_amount_override_id int
declare @orig_code_override_id int
declare @orig_key_override_id int


set @max = (select count(1) from #adjudication_result_amount_override)



if exists (select 1 from #adjudication_result_amount_override)
begin 
	
	-- Set our looping integer for this run
	set @i = 1


	while @i <= @max
	begin

		select @claim_line = claim_line_sequence
				, @orig_amount_override_id = adjudication_result_amount_override_id
		from #adjudication_result_amount_override
		where id = @i

		if not exists (	select 1 
						from claim c
							inner join claim_procedure cp
								on c.claim_id = cp.claim_id
							inner join adjudication_result_amount ara 
								on cp.claim_procedure_id = ara.claim_procedure_id
							inner join adjudication_result_amount_override arao
								on ara.adjudication_result_amount_id = arao.adjudication_result_amount_id
						where c.claim_id = @new_claim_id
							and cp.claim_line_sequence = @claim_line)
			begin

				INSERT INTO [dbo].[adjudication_result_amount_override]
						([adjudication_result_amount_id]
						,[alternate_course_member_expense]
						,[balance_billable]
						,[benefit_limit_amount]
						,[cob_payment_excess_amount]
						,[coinsurance_amount]
						,[contract_amount]
						,[copay_amount]
						,[deductible_amount]
						,[eligible_units]
						,[eligible_visits]
						,[exceeds_contract_amount]
						,[ffs_equivalent_amount]
						,[ineligible_amount]
						,[mips_negative_adjustment_amount]
						,[mips_positive_adjustment_amount]
						,[sequestration_adjustment_amount]
						,[exceeds_billed_amount]
						,[missing_authorization_penalty_amount]
						,[pre_existing_condition_penalty_amount]
						,[provider_discount]
						,[provider_responsibility_amount]
						,[supp_plan_covered_amount]
						,[withhold_amount]
						,[write_off_amount]
						,[code_depreciation_rank]
						,[alternate_course_member_expense_adjudication_details_override_reason_id]
						,[balance_billable_adjudication_details_override_reason_id]
						,[benefit_limit_amount_adjudication_details_override_reason_id]
						,[cob_payment_excess_amount_adjudication_details_override_reason_id]
						,[coinsurance_amount_adjudication_details_override_reason_id]
						,[contract_amount_adjudication_details_override_reason_id]
						,[copay_amount_adjudication_details_override_reason_id]
						,[deductible_amount_adjudication_details_override_reason_id]
						,[eligible_units_adjudication_details_override_reason_id]
						,[eligible_visits_adjudication_details_override_reason_id]
						,[exceeds_contract_amount_adjudication_details_override_reason_id]
						,[ffs_equivalent_amount_adjudication_details_override_reason_id]
						,[ineligible_amount_adjudication_details_override_reason_id]
						,[missing_authorization_penalty_amount_adjudication_details_override_reason_id]
						,[mips_negative_adjustment_amount_adjudication_details_override_reason_id]
						,[mips_positive_adjustment_amount_adjudication_details_override_reason_id]
						,[sequestration_adjustment_amount_adjudication_details_override_reason_id]
						,[exceeds_billed_amount_adjudication_details_override_reason_id]
						,[pre_existing_condition_penalty_amount_adjudication_details_override_reason_id]
						,[provider_discount_adjudication_details_override_reason_id]
						,[provider_responsibility_amount_adjudication_details_override_reason_id]
						,[supp_plan_covered_amount_adjudication_details_override_reason_id]
						,[withhold_amount_adjudication_details_override_reason_id]
						,[write_off_amount_adjudication_details_override_reason_id]
						,[active]
						,[code_depreciation_rank_adjudication_details_override_reason_id]
						,[created_user_name]
						,[created_date]
						,[modified_user_name]
						,[modified_date])
				select   ara.adjudication_result_amount_id
						,arao.[alternate_course_member_expense]
						,arao.[balance_billable]
						,arao.[benefit_limit_amount]
						,arao.[cob_payment_excess_amount]
						,arao.[coinsurance_amount]
						,arao.[contract_amount]
						,arao.[copay_amount]
						,arao.[deductible_amount]
						,arao.[eligible_units]
						,arao.[eligible_visits]
						,arao.[exceeds_contract_amount]
						,arao.[ffs_equivalent_amount]
						,arao.[ineligible_amount]
						,arao.[mips_negative_adjustment_amount]
						,arao.[mips_positive_adjustment_amount]
						,arao.[sequestration_adjustment_amount]
						,arao.[exceeds_billed_amount]
						,arao.[missing_authorization_penalty_amount]
						,arao.[pre_existing_condition_penalty_amount]
						,arao.[provider_discount]
						,arao.[provider_responsibility_amount]
						,arao.[supp_plan_covered_amount]
						,arao.[withhold_amount]
						,arao.[write_off_amount]
						,arao.[code_depreciation_rank]
						,arao.[alternate_course_member_expense_adjudication_details_override_reason_id]
						,arao.[balance_billable_adjudication_details_override_reason_id]
						,arao.[benefit_limit_amount_adjudication_details_override_reason_id]
						,arao.[cob_payment_excess_amount_adjudication_details_override_reason_id]
						,arao.[coinsurance_amount_adjudication_details_override_reason_id]
						,arao.[contract_amount_adjudication_details_override_reason_id]
						,arao.[copay_amount_adjudication_details_override_reason_id]
						,arao.[deductible_amount_adjudication_details_override_reason_id]
						,arao.[eligible_units_adjudication_details_override_reason_id]
						,arao.[eligible_visits_adjudication_details_override_reason_id]
						,arao.[exceeds_contract_amount_adjudication_details_override_reason_id]
						,arao.[ffs_equivalent_amount_adjudication_details_override_reason_id]
						,arao.[ineligible_amount_adjudication_details_override_reason_id]
						,arao.[missing_authorization_penalty_amount_adjudication_details_override_reason_id]
						,arao.[mips_negative_adjustment_amount_adjudication_details_override_reason_id]
						,arao.[mips_positive_adjustment_amount_adjudication_details_override_reason_id]
						,arao.[sequestration_adjustment_amount_adjudication_details_override_reason_id]
						,arao.[exceeds_billed_amount_adjudication_details_override_reason_id]
						,arao.[pre_existing_condition_penalty_amount_adjudication_details_override_reason_id]
						,arao.[provider_discount_adjudication_details_override_reason_id]
						,arao.[provider_responsibility_amount_adjudication_details_override_reason_id]
						,arao.[supp_plan_covered_amount_adjudication_details_override_reason_id]
						,arao.[withhold_amount_adjudication_details_override_reason_id]
						,arao.[write_off_amount_adjudication_details_override_reason_id]
						,arao.[active]
						,arao.[code_depreciation_rank_adjudication_details_override_reason_id]
						,@upUser--arao.[created_user_name]
						,@upDate--arao.[created_date]
						,@upUser--arao.[modified_user_name]
						,@upDate--arao.[modified_date]
				from claim_procedure cp
					inner join adjudication_result_amount ara
						on cp.claim_procedure_id = ara.claim_procedure_id
					inner join adjudication_result_amount_override arao
						on arao.adjudication_result_amount_override_id = @orig_amount_override_id
				where cp.claim_id = @new_claim_id and cp.claim_line_sequence = @claim_line
			end
		else 
			begin
				select 'Updating existing override record', @claim_line
				update arao
				set 		 arao.[alternate_course_member_expense] = narao.alternate_course_member_expense
							,arao.[balance_billable] = narao.[balance_billable]
							,arao.[benefit_limit_amount] = narao.[benefit_limit_amount]
							,arao.[cob_payment_excess_amount] = narao.[cob_payment_excess_amount]
							,arao.[coinsurance_amount] = narao.[coinsurance_amount]
							,arao.[contract_amount] = narao.[contract_amount]
							,arao.[copay_amount] = narao.[copay_amount]
							,arao.[deductible_amount] = narao.[deductible_amount]
							,arao.[eligible_units] = narao.[eligible_units]
							,arao.[eligible_visits] = narao.[eligible_visits]
							,arao.[exceeds_contract_amount] = narao.[exceeds_contract_amount]
							,arao.[ffs_equivalent_amount] = narao.ffs_equivalent_amount
							,arao.[ineligible_amount] = narao.ineligible_amount
							,arao.[mips_negative_adjustment_amount] = narao.mips_negative_adjustment_amount
							,arao.[mips_positive_adjustment_amount] = narao.mips_positive_adjustment_amount
							,arao.[sequestration_adjustment_amount] = narao.sequestration_adjustment_amount
							,arao.[exceeds_billed_amount] = narao.exceeds_billed_amount
							,arao.[missing_authorization_penalty_amount] = narao.missing_authorization_penalty_amount
							,arao.[pre_existing_condition_penalty_amount] = narao.pre_existing_condition_penalty_amount
							,arao.[provider_discount] = narao.provider_discount
							,arao.[provider_responsibility_amount] = narao.provider_responsibility_amount
							,arao.[supp_plan_covered_amount] = narao.supp_plan_covered_amount
							,arao.[withhold_amount] = narao.withhold_amount
							,arao.[write_off_amount] = narao.write_off_amount
							,arao.[code_depreciation_rank] = narao.code_depreciation_rank
							,arao.[alternate_course_member_expense_adjudication_details_override_reason_id] = narao.alternate_course_member_expense_adjudication_details_override_reason_id
							,arao.[balance_billable_adjudication_details_override_reason_id] = narao.balance_billable_adjudication_details_override_reason_id
							,arao.[benefit_limit_amount_adjudication_details_override_reason_id] = narao.benefit_limit_amount_adjudication_details_override_reason_id
							,arao.[cob_payment_excess_amount_adjudication_details_override_reason_id] = narao.cob_payment_excess_amount_adjudication_details_override_reason_id
							,arao.[coinsurance_amount_adjudication_details_override_reason_id] = narao.coinsurance_amount_adjudication_details_override_reason_id
							,arao.[contract_amount_adjudication_details_override_reason_id] = narao.contract_amount_adjudication_details_override_reason_id
							,arao.[copay_amount_adjudication_details_override_reason_id] = narao.copay_amount_adjudication_details_override_reason_id
							,arao.[deductible_amount_adjudication_details_override_reason_id] = narao.deductible_amount_adjudication_details_override_reason_id
							,arao.[eligible_units_adjudication_details_override_reason_id] = narao.eligible_units_adjudication_details_override_reason_id
							,arao.[eligible_visits_adjudication_details_override_reason_id] = narao.eligible_visits_adjudication_details_override_reason_id
							,arao.[exceeds_contract_amount_adjudication_details_override_reason_id] = narao.exceeds_contract_amount_adjudication_details_override_reason_id
							,arao.[ffs_equivalent_amount_adjudication_details_override_reason_id] = narao.ffs_equivalent_amount_adjudication_details_override_reason_id
							,arao.[ineligible_amount_adjudication_details_override_reason_id] = narao.ineligible_amount_adjudication_details_override_reason_id
							,arao.[missing_authorization_penalty_amount_adjudication_details_override_reason_id] = narao.missing_authorization_penalty_amount_adjudication_details_override_reason_id
							,arao.[mips_negative_adjustment_amount_adjudication_details_override_reason_id] = narao.mips_negative_adjustment_amount_adjudication_details_override_reason_id
							,arao.[mips_positive_adjustment_amount_adjudication_details_override_reason_id] = narao.mips_positive_adjustment_amount_adjudication_details_override_reason_id
							,arao.[sequestration_adjustment_amount_adjudication_details_override_reason_id] = narao.sequestration_adjustment_amount_adjudication_details_override_reason_id
							,arao.[exceeds_billed_amount_adjudication_details_override_reason_id] = narao.exceeds_billed_amount_adjudication_details_override_reason_id
							,arao.[pre_existing_condition_penalty_amount_adjudication_details_override_reason_id] = narao.pre_existing_condition_penalty_amount_adjudication_details_override_reason_id
							,arao.[provider_discount_adjudication_details_override_reason_id] = narao.[provider_discount_adjudication_details_override_reason_id]
							,arao.[provider_responsibility_amount_adjudication_details_override_reason_id] = narao.[provider_responsibility_amount_adjudication_details_override_reason_id]
							,arao.[supp_plan_covered_amount_adjudication_details_override_reason_id] = narao.supp_plan_covered_amount_adjudication_details_override_reason_id
							,arao.[withhold_amount_adjudication_details_override_reason_id] = narao.withhold_amount_adjudication_details_override_reason_id
							,arao.[write_off_amount_adjudication_details_override_reason_id] = narao.write_off_amount_adjudication_details_override_reason_id
							,arao.[active] = narao.active
							,arao.[code_depreciation_rank_adjudication_details_override_reason_id] = narao.code_depreciation_rank_adjudication_details_override_reason_id
							,arao.[modified_user_name] = @upUser
							,arao.[modified_date] = @upDate
				from claim_procedure cp
					inner join adjudication_result_amount ara
						on cp.claim_procedure_id = ara.claim_procedure_id
					inner join adjudication_result_amount_override arao
						on ara.adjudication_result_amount_id = arao.adjudication_result_amount_id
					inner join adjudication_result_amount_override narao
						on narao.adjudication_result_amount_override_id = @orig_amount_override_id
				where cp.claim_id = @new_claim_id and cp.claim_line_sequence = @claim_line
			end

		set @i = @i+1
		set @claim_line = null
		set @orig_amount_override_id = null
	end

end
else 
	print 'No adjudication_result_amount_override records to duplicate'
GO
