USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_currency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
1/13/2006				1.0		Created

--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.1
;
DESCRIPTION	: Procedure to load 'currency' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_currency_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
currency_id
,currency_ud
,currency_nm
FROM currency
ORDER BY currency_ud
--
END
GO
