USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_load]
(
@beneficiary_id         INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- this makes the ACH checkbox behave like the vendor form
DECLARE @business_accounting_ach_standard_entry_class_id INT
SET @business_accounting_ach_standard_entry_class_id =
(
SELECT accounting_ach_standard_entry_class_id
FROM accounting_ach_standard_entry_class
WHERE golden_key = 'CCD')

SELECT
b.beneficiary_id
,b.beneficiary_type_id
,bt.beneficiary_type_ud
,b.date_of_birth
,b.date_of_death
,b.comment
-- beneficiary name
,bn.beneficiary_name_id
,bn.name_last
,bn.name_last as company_name
,bn.name_first
,bn.name_middle
,bn.name_prefix_id
,np.name_prefix_ud
,bn.name_suffix
,bn.alias_type_id
,[at].alias_type_ud
-- pay to information
, bpt.beneficiary_pay_to_id
, bpt.beneficiary_pay_to_nm
, bpt.attention_nm
, bpt.address_id
, bpt.use_for_1099
, bpt.foreign_address
, ISNULL(bpt.exclude_from_payment_penalty, 0) AS [exclude_from_payment_penalty]
, CASE WHEN bpt.accounting_ach_standard_entry_class_id = @business_accounting_ach_standard_entry_class_id
THEN
1
ELSE
0
END as is_business_accounting_ach_standard_entry_class
, a.address_1
, a.address_2
, a.address_3
, a.locale_id
, a.delivery_route
, l.postal_code
, l.city
, l.county
, c.country_ud
, c.country_nm
, s.state_ud
, bpt.telephone_number
, bpt.fax_telephone_number AS fax_number
, bpt.email_address
, bpt.internet_address

FROM beneficiary b
LEFT JOIN beneficiary_type bt ON b.beneficiary_type_id = bt.beneficiary_type_id
LEFT JOIN beneficiary_name bn ON bn.beneficiary_id=b.beneficiary_id
LEFT JOIN name_prefix np ON np.name_prefix_id = bn.name_prefix_id
LEFT JOIN alias_type at ON at.alias_type_id = bn.alias_type_id
LEFT JOIN beneficiary_pay_to bpt ON bpt.beneficiary_id = b.beneficiary_id
LEFT JOIN address a ON a.address_id = bpt.address_id
LEFT JOIN locale l ON l.locale_id = a.locale_id
LEFT JOIN state s ON s.state_id = l.state_id
LEFT JOIN country c ON c.country_id = l.country_id
WHERE b.beneficiary_id = @beneficiary_id

RETURN @SP_SUCCESS

END
GO
