USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_premium_payment_cleanup]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:Cleans up the staging tables used by the disbursement process.
******************************/
CREATE PROCEDURE [dbo].[plx_disbursement_premium_payment_cleanup]
AS

TRUNCATE TABLE disbursement_premium_payment_work_table;
GO
