USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_underwriting_exam_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_underwriting_exam_list_load]
(
@family_eligibility_member_benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT
eue.eligibility_underwriting_exam_id
,eue.family_eligibility_member_benefit_plan_id
,eue.exam_date
,eue.comment
FROM dbo.eligibility_underwriting_exam eue
WHERE
eue.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY
eue.exam_date DESC

RETURN 0
GO
