USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_premium_volume_age_reduction_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/02/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:	Find premium volume age reduction schedule(s) that match criteria.
Supports Find Form for Age Reduction Schedule used by Life Billing
Volume.

******************************/
CREATE       PROCEDURE [dbo].[plx_find_premium_volume_age_reduction_schedule_load]
(
@premium_volume_age_reduction_schedule_ud					NVARCHAR(50) = NULL
, @premium_volume_age_reduction_schedule_description		NVARCHAR(255) = NULL
, @show_exact_matches                                       BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @premium_volume_age_reduction_schedule_ud IS NOT NULL AND @premium_volume_age_reduction_schedule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pvars.premium_volume_age_reduction_schedule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_volume_age_reduction_schedule_ud, @show_exact_matches) + @Suffix

IF @premium_volume_age_reduction_schedule_description IS NOT NULL AND @premium_volume_age_reduction_schedule_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pvars.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_volume_age_reduction_schedule_description, @show_exact_matches) + @Suffix

SET @SqlQuery =
'	SELECT DISTINCT
pvars.premium_volume_age_reduction_schedule_id
,pvars.premium_volume_age_reduction_schedule_ud
,pvars.description as premium_volume_age_reduction_schedule_description
FROM  dbo.premium_volume_age_reduction_schedule pvars

'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY pvars.premium_volume_age_reduction_schedule_ud')
PRINT (@SqlQuery + @SqlCondition + ' ORDER BY pvars.premium_volume_age_reduction_schedule_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
