USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_reinsurance_check_overlap]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_client_reinsurance_check_overlap]
@client_id INT
AS
;WITH cte_reins
AS
(
SELECT
c.client_id,
rc.reinsurance_contract_id,
rc.reinsurance_contract_ud,
rc.use_for_all_groups,
rccg.client_group_id,
rccg.employee_class_id,
rcsp.reinsurance_contract_policy_id as spec_policy_id,
rcsp_cat.benefit_category_id as spec_benefit_category_id,
rcsp.incurred_from_date AS spec_incurred_from_date,
rcsp.incurred_thru_date AS spec_incurred_thru_date,
rcsp.paid_from_date AS spec_paid_from_date,
rcsp.paid_thru_date AS spec_paid_thru_date,
rcap.reinsurance_contract_policy_id as agg_policy_id,
rcap_cat.benefit_category_id as agg_benefit_category_id,
rcap.incurred_from_date AS agg_incurred_from_date,
rcap.incurred_thru_date AS agg_incurred_thru_date,
rcap.paid_from_date AS agg_paid_from_date,
rcap.paid_thru_date AS agg_paid_thru_date
FROM
client c
JOIN reinsurance_contract rc
ON c.client_id = rc.client_id
LEFT JOIN reinsurance_contract_client_group rccg
ON rccg.reinsurance_contract_id = rc.reinsurance_contract_id
LEFT JOIN reinsurance_contract_specific rcs
ON rc.reinsurance_contract_specific_id = rcs.reinsurance_contract_specific_id
LEFT JOIN reinsurance_contract_policy rcsp
ON rcs.reinsurance_contract_policy_id = rcsp.reinsurance_contract_policy_id
LEFT JOIN reinsurance_contract_policy_benefit_category rcsp_cat
ON rcsp.reinsurance_contract_policy_id = rcsp_cat.reinsurance_contract_policy_id
LEFT JOIN reinsurance_contract_aggregate rca
ON rc.reinsurance_contract_aggregate_id = rca.reinsurance_contract_aggregate_id
LEFT JOIN reinsurance_contract_policy rcap
ON rca.reinsurance_contract_policy_id = rcap.reinsurance_contract_policy_id
LEFT JOIN reinsurance_contract_policy_benefit_category rcap_cat
ON rcap.reinsurance_contract_policy_id = rcap_cat.reinsurance_contract_policy_id
)
SELECT
DISTINCT
a.reinsurance_contract_id AS reinsurance_contract_id_1,
a.reinsurance_contract_ud AS reinsurance_contract_ud_1,
b.reinsurance_contract_id AS reinsurance_contract_id_2,
b.reinsurance_contract_ud AS reinsurance_contract_ud_2
FROM
cte_reins a	JOIN
cte_reins b ON
a.reinsurance_contract_id < b.reinsurance_contract_id
WHERE
a.client_id = @client_id
AND
b.client_id = @client_id
AND
(
(
a.use_for_all_groups <> b.use_for_all_groups
)
OR
(
ISNULL(a.client_group_id, 0) = ISNULL(b.client_group_id, 0)
AND
ISNULL(a.employee_class_id, 0) = ISNULL(b.employee_class_id, 0)
)
OR
(
ISNULL(a.client_group_id, 0) = ISNULL(b.client_group_id, 0)
AND
(
(a.employee_class_id IS NULL AND b.employee_class_id IS NOT NULL)
OR
(b.employee_class_id IS NULL AND a.employee_class_id IS NOT NULL)
)
)

)
AND -- overlapping date check (for policy and each benefit category)
(
( -- specific to specific
a.spec_policy_id IS NOT NULL AND b.spec_policy_id IS NOT NULL
AND
a.spec_benefit_category_id = b.spec_benefit_category_id
AND
(
( -- incurred date check if both from dates are not null
(a.spec_incurred_from_date IS NULL OR b.spec_incurred_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.spec_incurred_from_date, a.spec_incurred_thru_date, b.spec_incurred_from_date, b.spec_incurred_thru_date) = 1
)
AND -- paid date check if both from dates are not null
(
(a.spec_paid_from_date IS NULL OR b.spec_paid_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.spec_paid_from_date, a.spec_paid_thru_date, b.spec_paid_from_date, b.spec_paid_thru_date) = 1
)
)
)
OR
( -- specific to aggregate
a.spec_policy_id IS NOT NULL AND b.agg_policy_id IS NOT NULL
AND
a.spec_benefit_category_id = b.agg_benefit_category_id
AND
(
( -- incurred date check if both from dates are not null
(a.spec_incurred_from_date IS NULL OR b.agg_incurred_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.spec_incurred_from_date, a.spec_incurred_thru_date, b.agg_incurred_from_date, b.agg_incurred_thru_date) = 1
)
AND -- paid date check if both from dates are not null
(
(a.spec_paid_from_date IS NULL OR b.agg_paid_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.spec_paid_from_date, a.spec_paid_thru_date, b.agg_paid_from_date, b.agg_paid_thru_date) = 1
)
)
)
OR
( -- aggregate to specific
a.agg_policy_id IS NOT NULL AND b.spec_policy_id IS NOT NULL
AND
a.agg_benefit_category_id = b.spec_benefit_category_id
AND
(
(
(a.agg_incurred_from_date IS NULL OR b.spec_incurred_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.agg_incurred_from_date, a.agg_incurred_thru_date, b.spec_incurred_from_date, b.spec_incurred_thru_date) = 1
)
AND -- paid date check if both from dates are not null
(
(a.agg_paid_from_date IS NULL OR b.spec_paid_from_date IS NULL)
OR
dbo.plx_fn_is_date_overlapping(a.agg_paid_from_date, a.agg_paid_thru_date, b.spec_paid_from_date, b.spec_paid_thru_date) = 1
)
)
)
OR
( -- aggregate to aggregate
a.agg_policy_id IS NOT NULL AND b.agg_policy_id IS NOT NULL
AND
a.agg_benefit_category_id = b.agg_benefit_category_id
AND
(
dbo.plx_fn_is_date_overlapping(a.agg_incurred_from_date, a.agg_incurred_thru_date, b.agg_incurred_from_date, b.agg_incurred_thru_date) = 1
AND -- paid date check if both from dates are not null
(
(a.agg_paid_from_date IS NULL OR b.agg_paid_from_date IS NULL)
AND
dbo.plx_fn_is_date_overlapping(a.agg_paid_from_date, a.agg_paid_thru_date, b.agg_paid_from_date, b.agg_paid_thru_date) = 1
)
)
)
)
RETURN 0
GO
