USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_medicaid_resubmission_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ata
Nov 14 2006  8:57AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
8/31/2007	pheiner		1.2		Removed _nm column and added description column.  Changed database to match collaborator.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down medicaid_resubmission_code (Medicaid Resubmission Code)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_medicaid_resubmission_code_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
medicaid_resubmission_code.medicaid_resubmission_code_id
,medicaid_resubmission_code.medicaid_resubmission_code_ud
,description

FROM medicaid_resubmission_code
ORDER BY medicaid_resubmission_code_ud
--
RETURN @SP_SUCCESS
GO
