USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_first_coverage_distribution_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Aug  12 2013  1:47PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/12/2013	cmaddox		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for First Coverage Distribution form.
Serves as a UI engine stub for the Accumulator First Coverage Distribution form that has only a grid and no header record.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_accumulator_first_coverage_distribution_load]

(
@accumulator_framework_accumulator_class_accumulator_id	Int =NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT @accumulator_framework_accumulator_class_accumulator_id  as  accumulator_framework_accumulator_class_accumulator_id


--

RETURN @SP_SUCCESS
--
GO
