USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_additional_plan_options_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
26-May-2017     eponomareff	        1.1             RT:10111 - Additional Plan Options form incorrectly displays ud; should display name


DESCRIPTION:	Load records for the grid on Additional Plan Options Form, which is launched
from the Benefit Contract Form, and also shows read-only on the Advanced Plan Options
tab in the eligibilities panel on the Enrollment form

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_contract_additional_plan_options_load]
(
@benefit_contract_period_benefit_plan_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- This part of the select only considers benefit plans, which are in the same benefit contract period as the source plan
SELECT
bcapo.benefit_contract_additional_plan_options_id
,bcapo.benefit_contract_period_benefit_plan_id
,destination_bcpbp.benefit_contract_period_benefit_plan_id as dest_bcpbp_id
,bcapo.benefit_plan_set_id
,bps.benefit_plan_set_ud
,bcapo.benefit_plan_id
,bp.benefit_plan_ud
,[name] =
CASE
WHEN bcapo.benefit_plan_set_id IS NOT NULL THEN bps.benefit_plan_set_nm
WHEN bcapo.benefit_plan_id IS NOT NULL THEN bp.benefit_plan_nm
ELSE ''
END
,bcapo.required_for_subscriber
,bcapo.required_for_dependent
,bcapo.modified_date

FROM
dbo.benefit_contract_additional_plan_options bcapo
LEFT OUTER JOIN dbo.benefit_plan bp
ON bcapo.benefit_plan_id = bp.benefit_plan_id
LEFT OUTER JOIN dbo.benefit_plan_set bps
ON bcapo.benefit_plan_set_id = bps.benefit_plan_set_id
LEFT OUTER JOIN dbo.benefit_contract_period_benefit_plan bcpbp
ON bcapo.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
LEFT OUTER JOIN benefit_contract_period_benefit_plan destination_bcpbp
ON bcpbp.benefit_contract_period_id = destination_bcpbp.benefit_contract_period_id
AND ISNULL(destination_bcpbp.benefit_plan_id, 0) = ISNULL(bcapo.benefit_plan_id, 0)

WHERE
bcapo.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (
-- if it's a benefit plan, it must be in the benefit contract period to show
(
bcapo.benefit_plan_id IS NOT NULL
AND
ISNULL(destination_bcpbp.benefit_plan_id, 0) = ISNULL(bcapo.benefit_plan_id, 0)
)
-- OR, if it's a benefit plan set, we don't validate the individual plans for being in bcpcp here
OR
bcapo.benefit_plan_set_id IS NOT NULL
)

--

RETURN @SP_SUCCESS
--
GO
