USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_plan_assignment_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 26 2005  1:58PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/07        ThuyHa                        Change return condition: @@ROWCOUNT>=1
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down plan_assignment_status (Plan Assignment Status)
--
REQUIREMENTS:
--
INPUTS:
plan_assignment_status_id - Key to plan_assignment_status table, identifies a single stored dd_plan_assignment_status.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_plan_assignment_status_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
plan_assignment_status_id
,plan_assignment_status_ud
,golden_key

FROM plan_assignment_status
ORDER BY plan_assignment_status_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
