USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_disbursement_claim_payment_date_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 02/04/2015
--
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down disbursement_claim_payment_date_type
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_disbursement_claim_payment_date_type_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
disbursement_claim_payment_date_type_id
,disbursement_claim_payment_date_type_ud
FROM disbursement_claim_payment_date_type
ORDER BY disbursement_claim_payment_date_type_ud
--
RETURN @SP_SUCCESS
GO
