USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_premium_details_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Load data for Eligibility Premium Details form
******************************/
CREATE PROCEDURE [dbo].[plx_eligibility_premium_details_form_load](
@eligibility_premium_id INT
) AS

SELECT
ep.eligibility_premium_id
,pr.premium_run_id
,pr.premium_run_ud
,dbo.plx_fn_get_premium_period_ud(pp.premium_period_id) AS premium_period_ud
,bp.benefit_plan_ud
,fe.family_eligibility_ud
,dbo.plx_fn_get_subscriber_name_for_enrollment(fe.family_eligibility_id) AS subscriber_member_name
,ep.amount
,ep.is_retroactive AS adjustment
FROM
dbo.eligibility_premium ep
INNER JOIN dbo.premium_run pr ON ep.premium_run_id = pr.premium_run_id
INNER JOIN dbo.premium_period pp ON ep.premium_period_id = pp.premium_period_id
LEFT JOIN dbo.benefit_plan bp ON ep.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN dbo.family_eligibility fe ON ep.family_eligibility_id = fe.family_eligibility_id
WHERE
ep.eligibility_premium_id = @eligibility_premium_id
;
GO
