USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ncci_edit_description_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
DESCRIPTION: Loads the drop down for NCCI edit descriptions
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_ncci_edit_description_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ncci_edit_description_id,
description

FROM ncci_edit_description
ORDER BY description
--
RETURN @SP_SUCCESS
--
GO
