USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_class_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
DATE: 12/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/26/2005	Tinh Do		Created		15901:Client & Group
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a benefit id node in benefit class/choice list ID tree
, check if this item has any reference.
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_choice_list_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_employee_class_check_delete]
(
@employee_class_id	int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE		= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1
SET	@result	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT employee_class_id
FROM employee_class
WHERE employee_class.employee_class_id = @employee_class_id )
BEGIN
SET @result = @SP_EXCEPTION
END
IF EXISTS(	SELECT 	1
FROM	family_eligibility_employment_history
WHERE 	family_eligibility_employment_history.employee_class_id = @employee_class_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
IF EXISTS(SELECT 1
FROM reinsurance_contract_client_group
WHERE reinsurance_contract_client_group.employee_class_id = @employee_class_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

RETURN @result
END
GO
