USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_identifier_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_beneficiary_identifier_save]
(
@beneficiary_identifier_id         INT = NULL   OUTPUT
,@beneficiary_identifier_ud         NVARCHAR(50) = NULL
,@beneficiary_id                    INT = NULL
,@identifier_type_id                INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @beneficiary_identifier_id IS NULL
BEGIN
--- Create a new beneficiary_identifier record
INSERT INTO beneficiary_identifier(
beneficiary_id
,beneficiary_identifier_ud
,identifier_type_id
)
VALUES
(@beneficiary_id
,@beneficiary_identifier_ud
,@identifier_type_id
)
--
SET @beneficiary_identifier_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM beneficiary_identifier WHERE beneficiary_identifier_id = @beneficiary_identifier_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

--- Updating an existing beneficiary_identifier record
UPDATE beneficiary_identifier
SET
beneficiary_id                     = @beneficiary_id
,beneficiary_identifier_ud          = @beneficiary_identifier_ud
,identifier_type_id                 = @identifier_type_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
beneficiary_identifier_id = @beneficiary_identifier_id
END
--
RETURN @SP_SUCCESS
--
GO
