USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_contact_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 05-16-2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2008/05/16	lrenard				created
10/24/2008  Jhein               modified to not insert a record set sent from QC that only has bank_account_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to save a bank account contact.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_bank_account_contact_save]
(
@bank_account_contact_id         int = NULL   OUTPUT
,@bank_account_id                            int
,@contact_id					int
,@contact_association_type_id	int
,@effective_from                             datetime
,@effective_thru                             datetime = NULL
,@is_primary                            bit = NULL
,@active                                     bit = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT		NVARCHAR(50),
@ERROR_CANT_UPDATE		NVARCHAR(50),
@ERROR_NOT_EXIST			NVARCHAR(50),
@CURR_DATE	datetime
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 		= '328e777f-6901-4ccb-91d4-cb08767bf02a',
@ERROR_CANT_UPDATE	 	= 'de0e0557-9425-4063-8815-1f4c2d94684e',
@ERROR_NOT_EXIST			= '158880003',
@CURR_DATE = getdate()

--
IF (not exists(select * from bank_account_contact where bank_account_contact_id = @bank_account_contact_id)
AND @contact_id is not null) --is required
BEGIN
--insert new
INSERT INTO bank_account_contact(
bank_account_id
,contact_id
,contact_association_type_id
,effective_from
,effective_thru
,is_primary
,active
)
VALUES
(@bank_account_id
,@contact_id
,@contact_association_type_id
,@effective_from
,@effective_thru
,@is_primary
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @bank_account_contact_id = @@IDENTITY
END
ELSE
BEGIN
--update existing
UPDATE bank_account_contact
SET
bank_account_id			= @bank_account_id
,contact_id				= @contact_id
,contact_association_type_id	= @contact_association_type_id
,effective_from			= @effective_from
,effective_thru 			= @effective_thru
,is_primary				= @is_primary
,active					= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE bank_account_contact_id = @bank_account_contact_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
