USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_invoice_agent_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:
This procedure is used to load data for grid "Records Matching Find Criteria"
in frmFindInvoiceAgent form.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:

CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_find_invoice_agent_load]

(
@get_column_headers		BIT = 0
,@agent_ud					NVARCHAR(50) = NULL
,@last_name					NVARCHAR(100) = NULL
,@first_name				NVARCHAR(100) = NULL
,@company_name				NVARCHAR(100) = NULL
,@invoice_agent_id_type_id			INT = NULL
,@territory_id					    INT = NULL
,@show_exact_matches		BIT = 0
)
AS
BEGIN

DECLARE
@sqlString NVARCHAR(4000)
,@sqlCondition nvarchar(4000)
,@prefix NVARCHAR(10)
,@suffix NVARCHAR(10)

IF (@show_exact_matches = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END
DECLARE @company_alias_type_id INT, @person_alias_type_id INT

SET @company_alias_type_id = (SELECT alias_type_id FROM alias_type WHERE golden_key = 'Company')
SET @person_alias_type_id = (SELECT alias_type_id FROM alias_type WHERE golden_key = 'Person')

SET	@sqlString =  '
SELECT 	DISTINCT  TOP (dbo.fn_results_limit())
invoice_agent_id_type.invoice_agent_id_type_ud,
invoice_agent.invoice_agent_id
,invoice_agent_identifier.invoice_agent_identifier_id
,invoice_agent_identifier.invoice_agent_identifier_ud
,CASE WHEN alias_type.golden_key = ''Person'' THEN invoice_agent.name_last ELSE NULL END as name_last
,CASE WHEN alias_type.golden_key = ''Company'' THEN invoice_agent.name_last ELSE NULL END as company_name
,invoice_agent.name_first
,invoice_agent_identifier.invoice_agent_id_type_id
,territory.territory_ud
FROM invoice_agent
LEFT JOIN invoice_agent_identifier ON invoice_agent.invoice_agent_id = invoice_agent_identifier.invoice_agent_id
LEFT JOIN invoice_agent_id_type ON invoice_agent_identifier.invoice_agent_id_type_id = invoice_agent_id_type.invoice_agent_id_type_id
LEFT JOIN alias_type ON invoice_agent.alias_type_id = alias_type.alias_type_id
LEFT JOIN invoice_agent_territory ON invoice_agent.invoice_agent_id = invoice_agent_territory.invoice_agent_id
LEFT JOIN territory ON invoice_agent_territory.territory_id = territory.territory_id'

SET
@sqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (@agent_ud IS NOT NULL) AND (@agent_ud <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(invoice_agent_identifier.invoice_agent_identifier_ud, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@agent_ud, @show_exact_matches) + @suffix
END

IF (@last_name IS NOT NULL) AND (@last_name <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (alias_type.alias_type_id = ' + CONVERT(NVARCHAR, @person_alias_type_id) + ' AND (ISNULL(invoice_agent.name_last, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@last_name, @show_exact_matches) + @suffix + ')'
END

IF (@company_name IS NOT NULL) AND (@company_name <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (alias_type.alias_type_id = ' + CONVERT(NVARCHAR, @company_alias_type_id) + ' AND (ISNULL(invoice_agent.name_last, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@company_name, @show_exact_matches) + @suffix + ')'
END

IF (@first_name IS NOT NULL) AND (@first_name <> '')
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (ISNULL(invoice_agent.name_first, '''') ' +  @prefix +  dbo.plx_EncodeStringWildCard(@first_name, @show_exact_matches) + @suffix
END

IF isnull(@territory_id, 0) > 0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (invoice_agent_territory.territory_id = ' + CONVERT(NVARCHAR, @territory_id) + ') '
END

IF isNull(@invoice_agent_id_type_id,0) > 0
BEGIN
SET @sqlCondition = @sqlCondition + 'AND (invoice_agent_identifier.invoice_agent_id_type_id = ' + CONVERT(NVARCHAR, @invoice_agent_id_type_id) + ') '
END

print @sqlString + @sqlCondition + 'order by invoice_agent_identifier.invoice_agent_identifier_ud ASC '
exec(@sqlString + @sqlCondition + 'order by invoice_agent_identifier.invoice_agent_identifier_ud ASC ' )
END
GO
