USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_procedure_code_version_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 02/18/2009   Initial generation
--
REVISION_HISTORY:
--
Date				Modified By		Version		Description
--------------------------------------------------------------------------------
02/18/2009		Vishwa			1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down version on procedure code form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_procedure_code_version_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
procedure_code_version.procedure_code_version_id
,procedure_code_version.procedure_code_version_ud

FROM procedure_code_version

ORDER BY procedure_code_version_ud ASC
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
