USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tooth_letter_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 30 2005  4:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_tooth_letter_load]

AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT 	tooth_number_letter.tooth_number_letter_id
,tooth_number_letter.tooth_number_letter_ud
FROM 	tooth_number_letter
WHERE 	( ascii(tooth_number_letter.tooth_number_letter_ud) >= ascii('a')
and 	ascii(tooth_number_letter.tooth_number_letter_ud) <= ascii('z') )
or 	( ascii(tooth_number_letter.tooth_number_letter_ud) >= ascii('A')
and 	ascii(tooth_number_letter.tooth_number_letter_ud) <= ascii('Z') )
ORDER BY tooth_number_letter.tooth_number_letter_ud


IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
