USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_general_age_based_tab_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/30/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
1. Save data for pnlRelationshipRestrictions panel on Eligibility Restriction form
2. Save data for pnlBenefitCategory panel on Eligibility Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_general_age_based_tab_save]
(

@eligibility_restriction_relationship_to_subscriber_id  			int = NULL
--    ,@eligibility_restriction_id  						int = NULL

,@benefit_category_id 							int = NULL
,@benefit_sub_category_id 						int = NULL
,@benefit_result_code_id 					int = NULL
,@benefit_result_code_status_id					int = NULL
,@benefit_plan_required 							bit = NULL
,@benefit_plan_required_result_code_id 					int = NULL
,@benefit_plan_required_result_code_status_id 				int = NULL

,@relationship_not_eligible						bit = NULL
,@relationship_not_eligible_result_code_id 				int = NULL
,@relationship_not_eligible_result_code_status_id 			int = NULL

,@subscriber_required							bit = NULL
,@subscriber_required_result_code_id 					int = NULL
,@subscriber_required_result_code_status_id 				int = NULL

,@member_not_eligible_function 					varchar(50) = NULL
,@member_not_eligible_result_code_id				int = NULL
,@member_not_eligible_result_code_status_id 			int = NULL

,@minimum_enrollment_age_number_of_units 					int = NULL
,@minimum_enrollment_age_unit_day_week_month_year_id 			int = NULL
,@minimum_enrollment_age_result_code_id 					int = NULL
,@minimum_enrollment_age_result_code_status_id 				int = NULL

,@maximum_enrollment_age_number_of_units 					int = NULL
,@maximum_enrollment_age_unit_day_week_month_year_id 			int = NULL
,@maximum_enrollment_age_result_code_id 					int = NULL
,@maximum_enrollment_age_result_code_status_id 				int = NULL

,@disability_status_set_id						int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @eligibility_restriction_relationship_to_subscriber_id is Null
BEGIN
RETURN @SP_EXCEPTION
END
ELSE IF NOT EXISTS (SELECT * FROM eligibility_restriction_relationship_to_subscriber WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE eligibility_restriction_relationship_to_subscriber
SET
benefit_category_id 						=	@benefit_category_id
,benefit_sub_category_id 						=	@benefit_sub_category_id
,benefit_result_code_id 					=	@benefit_result_code_id
,benefit_result_code_status_id				=	@benefit_result_code_status_id
,benefit_plan_required 						=	@benefit_plan_required
,benefit_plan_required_result_code_id 				=	@benefit_plan_required_result_code_id
,benefit_plan_required_result_code_status_id 			=	@benefit_plan_required_result_code_status_id
,relationship_not_eligible					=	@relationship_not_eligible
,relationship_not_eligible_result_code_id 			=	@relationship_not_eligible_result_code_id
,relationship_not_eligible_result_code_status_id 		=	@relationship_not_eligible_result_code_status_id
,subscriber_required						=	@subscriber_required
,subscriber_required_result_code_id 				=	@subscriber_required_result_code_id
,subscriber_required_result_code_status_id 			=	@subscriber_required_result_code_status_id
,member_not_eligible_function 					=	@member_not_eligible_function
,member_not_eligible_result_code_id			=	@member_not_eligible_result_code_id
,member_not_eligible_result_code_status_id 		=	@member_not_eligible_result_code_status_id
,minimum_enrollment_age_number_of_units 				=	@minimum_enrollment_age_number_of_units
,minimum_enrollment_age_unit_day_week_month_year_id 		=	@minimum_enrollment_age_unit_day_week_month_year_id
,minimum_enrollment_age_result_code_id 				=	@minimum_enrollment_age_result_code_id
,minimum_enrollment_age_result_code_status_id 			=	@minimum_enrollment_age_result_code_status_id
,maximum_enrollment_age_number_of_units 				=	@maximum_enrollment_age_number_of_units
,maximum_enrollment_age_unit_day_week_month_year_id 		=	@maximum_enrollment_age_unit_day_week_month_year_id
,maximum_enrollment_age_result_code_id 				=	@maximum_enrollment_age_result_code_id
,maximum_enrollment_age_result_code_status_id 			=	@maximum_enrollment_age_result_code_status_id
,age_rule_disability_status_set_id  				=	@disability_status_set_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id
END
--
RETURN @SP_SUCCESS
--
GO
