USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_global_period]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_history_global_period]
(
@claimLines udtt_claim_history_global_period readonly
)
AS

SET NOCOUNT ON;

SELECT
cl.claim_procedure_id,
gp.golden_key
FROM
@claimLines cl
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = cl.claim_procedure_id
INNER JOIN procedure_code_global_period pcgp
ON pcgp.procedure_code_id = cp.procedure_code_id
INNER JOIN global_period gp
ON gp.global_period_id = pcgp.global_period_id
WHERE
(pcgp.effective_from IS NULL OR pcgp.effective_from <= cl.thru_date)
AND (pcgp.effective_thru IS NULL OR cl.from_date <= pcgp.effective_thru);
GO
