USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
Date: 04/28/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.1
--
DESCRIPTION:Save data for form frmFinancialResponsibilitySchedule

--
REQUIREMENTS:
--
INPUTS:
@financial_responsibility_schedule_id
@financial_responsibility_schedule_ud
@description

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_financial_responsibility_schedule_save]
(
@financial_responsibility_schedule_id			INT = 0   OUTPUT
,@financial_responsibility_schedule_ud			NVARCHAR(50) = NULL
,@description											NVARCHAR(255) = NULL

) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@financial_responsibility_schedule_id, 0) = 0
BEGIN
INSERT INTO financial_responsibility_schedule(
financial_responsibility_schedule_ud
,[description]
)
VALUES
(@financial_responsibility_schedule_ud
,@description
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @financial_responsibility_schedule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM financial_responsibility_schedule WHERE financial_responsibility_schedule_id = @financial_responsibility_schedule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE financial_responsibility_schedule
SET
financial_responsibility_schedule_ud	= @financial_responsibility_schedule_ud
,[description]									= @description
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE financial_responsibility_schedule_id = @financial_responsibility_schedule_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
