USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_get_description]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2005	Tinh Do		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get criteria description.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_criteria_get_description]
@criteria_id int = null
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--HuyThan : Now the field criteria_nm is not existed
SELECT description
FROM criteria
where criteria.criteria_id = @criteria_id

--Select '' as criteria_nm

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
