USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_result_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/01/2005	HiepNguyen		1.0		Created
12/14/2005	HungTNguyen		1.1		Add Default Result Code Status
03/27/2006	HiepNguyen		1.2		Removed "business_object" and added "functional_area_assignment"
08/28/2006	Hiep Nguyen		1.3		changed "default_result_code_status" to "result_code_status"
05/13/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
02/26/2010	Vishwa			1.5		Removed effective_from and effective_thru dates on result code form and added
Default_status field to result set

11/16/2011	ggutshall		1.6		Added returnset limitations
--
CURRENT_VERSION: 1.6
--
DESCRIPTION:
The procedure is used to find the result codes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_find_result_code_load]
(
@get_column_headers			BIT = 0
, @result_code_ud NVARCHAR(50) = NULL
, @message NVARCHAR(300) = NULL
, @result_code_type_id INT = NULL
, @functional_area_assignment_id INT = NULL
, @default_result_code_status_id INT = NULL
, @financial_responsibility_rule_id INT = NULL
, @show_unassigned_codes_also bit = 0
, @show_only_non_clean_claim_codes bit = 0
, @show_exact_matches bit	= 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)
,@OrderBy	NVARCHAR(1000)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
,@OrderBy	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '=N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF (@result_code_ud IS NOT NULL) AND (@result_code_ud <> '')
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rc.result_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@result_code_ud,@show_exact_matches) + @Suffix

IF (@message IS NOT NULL) AND (@message <> '')
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(rc.short_message, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@message,@show_exact_matches) + @Suffix + ' OR rc.long_message ' + @Prefix + dbo.plx_EncodeStringWildCard(@message,@show_exact_matches) + @Suffix

+ ' )'

IF @result_code_type_id IS NOT NULL AND @result_code_type_id > 0
SET @SqlCondition = @SqlCondition + ' AND rc.result_code_type_id = ' + CONVERT(NVARCHAR, @result_code_type_id)

IF @default_result_code_status_id IS NOT NULL AND @default_result_code_status_id > 0
SET @SqlCondition = @SqlCondition + ' AND rc.result_code_status_id = ' + CONVERT(NVARCHAR, @default_result_code_status_id)

IF @financial_responsibility_rule_id IS NOT NULL AND @financial_responsibility_rule_id > 0
SET @SqlCondition = @SqlCondition + ' AND rc.financial_responsibility_rule_id = ' + CONVERT(NVARCHAR, @financial_responsibility_rule_id)


IF ISNULL(@show_unassigned_codes_also, 0) = 0
BEGIN
IF ISNULL(@functional_area_assignment_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND rc.functional_area_assignment_id = ' + CONVERT(NVARCHAR, @functional_area_assignment_id)
ELSE
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rc.functional_area_assignment_id, 0) <> 0 '
END
ELSE
BEGIN
IF ISNULL(@functional_area_assignment_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(rc.functional_area_assignment_id, 0) = 0 OR ISNULL(rc.functional_area_assignment_id, 0) = ' + CONVERT(NVARCHAR, isnull(@functional_area_assignment_id, 0)) + ')'
ELSE
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rc.functional_area_assignment_id, 0) >= 0 '
END

IF @show_only_non_clean_claim_codes IS NOT NULL AND @show_only_non_clean_claim_codes > 0
SET @SqlCondition = @SqlCondition + ' AND rc.not_a_clean_claim = ' + CONVERT(NVARCHAR, @show_only_non_clean_claim_codes)

SET @SqlQuery =
'  SELECT  TOP (dbo.fn_results_limit())' +
'      	    rc.result_code_id ' +
'      	  , rc.result_code_ud ' +
'     	  , rc.result_code_type_id ' +
'	  , rct.result_code_type_ud ' +
'  	  , rct.result_code_type_nm ' +
'         , rc.functional_area_assignment_id ' +
'         , faa.functional_area_assignment_ud ' +
'         , rc.short_message ' +
'         , sts.result_code_status_id'+
'         , sts.result_code_status_ud'+
'         , sts.golden_key as result_code_status_golden_key'+
'	  , rc.result_code_id as base_result_code_id' +
'      	  , rc.result_code_ud as base_result_code_ud' +
'	  , rc.result_code_id as mapped_result_code_id' +
'      	  , rc.result_code_ud as mapped_result_code_ud' +
' FROM 	dbo.result_code rc ' +
'       LEFT JOIN dbo.result_code_type rct ON rct.result_code_type_id = rc.result_code_type_id ' +
'       LEFT JOIN dbo.functional_area_assignment faa ON faa.functional_area_assignment_id = rc.functional_area_assignment_id '+
'       LEFT JOIN result_code_status  sts ON sts.result_code_status_id =rc.result_code_status_id'

SET @OrderBy  = ' ORDER BY result_code_ud'

--	print (@SqlQuery + @SqlCondition + @OrderBy )
EXEC(@SqlQuery + @SqlCondition + @OrderBy )

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
END
GO
