USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_report_file_name_generation_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Sep 27 2006 10:49AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down report_file_name_generation_rule (Report File Name Generation Rule)
--
REQUIREMENTS:
--
INPUTS:
report_file_name_generation_rule_id - Key to report_file_name_generation_rule table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_report_file_name_generation_rule_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
report_file_name_generation_rule.report_file_name_generation_rule_id
,report_file_name_generation_rule.report_file_name_generation_rule_ud
,report_file_name_generation_rule.description
,report_file_name_generation_rule.golden_key
FROM report_file_name_generation_rule
ORDER BY report_file_name_generation_rule_ud
RETURN @SP_SUCCESS
GO
