USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_subscriber_required]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Nov  9 2005  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/9/2005        HungTNguyen       1.0            created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to enroll member on Family form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_eligibility_restriction_subscriber_required]
(
@eligibility_restriction_id_list		nvarchar(510) = NULL
,@benefit_contract_period_benefit_plan_id       Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


DECLARE @strSQL nvarchar(3990)

IF RTRIM(@eligibility_restriction_id_list) = ''
SET @eligibility_restriction_id_list = NULL


SET @strSQL ='
SELECT distinct
e.relationship_to_insured_id
FROM eligibility_restriction_relationship_to_subscriber e
WHERE (e.eligibility_restriction_id in ('+  dbo.plx_EncodeStringWildCard(@eligibility_restriction_id_list,0) +' ))
and ( e.relationship_to_insured_id is not null)
and(e.subscriber_required=1)
UNION '

SET @strSQL = @strSQL +
' SELECT distinct
r2.relationship_to_insured_id
FROM eligibility_restriction_relationship_to_subscriber e1, relationship_to_insured_set r1, relationship_in_the_relationship_set r2
WHERE (e1.eligibility_restriction_id in ('+  dbo.plx_EncodeStringWildCard(@eligibility_restriction_id_list,0) +' ))
and (e1.relationship_to_insured_set_id is not null)
and (e1.relationship_to_insured_set_id=r1.relationship_to_insured_set_id)
and (r1.relationship_to_insured_set_id=r2.relationship_to_insured_set_id)
and(e1.subscriber_required=1)
AND(
(r2.effective_from IS NULL OR r2.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND(r2.effective_thru IS NULL OR r2.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101))
)
and(
(r1.effective_from IS NULL OR r1.effective_from <=CONVERT(NVARCHAR, GETDATE(), 101))
AND(r1.effective_thru IS NULL OR r1.effective_thru >=CONVERT(NVARCHAR, GETDATE(), 101))
)
'

--

--
--print '--------QUERY---------'
--print @strSQL
--print '------END QUERY-------'


exec(@strSQL)

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
