USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_correspondence_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/19/2006	Hiep Nguyen	1.0		Created
07/22/2011	Vjella		2.0		Removed correspondence_print_queue_id part of cleanup
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load all correspondence of a agent.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_agent_correspondence_list_load]
(
@agent_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
agent_correspondence.agent_correspondence_id
-- Correspondence ID
, null as correspondence_id
-- Document ID
, null as correspondence_document_name
-- Generated By
, null as generated_by
-- Date Generated
, null as generated_date
-- Immediate Correspondence
, '' AS immediate_correspondence_ud
-- Source Correspondence
, '' AS source_correspondence_ud
-- Document Saved Location
, null as save_document_path
-- Cycle #
, null as cycle_number
-- Response Received
, 1 as stop_correspondence
-- Stop Correspondence
, 0 as response_received
-- User
, null as 'user'
-- Date/Time
, null as 'datetime'

FROM agent_correspondence
WHERE
agent_correspondence.agent_id = @agent_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
