USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN; ;
--
AUTHOR: Mabdul\ CFacey
August 21 2007 1:35PM Initial generation
--
REVISION_HISTORY:
--
Date				Modified By			Version			Description
07/27/2010			Mabdul\ CFacey		1.0				Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
--
ICU # 19267
--
DESCRIPTION:
To save the Correspondence form
--
REQUIREMENTS:
--
INPUTS:
Cascade changes
--
OUTPUTS:
--
RETURN_VALUES:
0 Success
-1 Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_correspondence_save]
(
@correspondence_id INT = NULL OUTPUT
,@correspondence_ud NVARCHAR(50) = NULL
,@correspondence_description NVARCHAR(255) = NULL
,@correspondence_rule_id INT = NULL
,@document_number_generation_rule_id INT = NULL
,@daily_run_date DATETIME = NULL
,@daily_run_time DATETIME = NULL
,@days_to_check_for_errors INT = NULL
,@active BIT = NULL
)

AS

--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR_CANT_INSERT NVARCHAR(50),
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT = '',
@ERROR_NOT_EXIST = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = ''

--- saving correspondence information

IF @correspondence_id IS NULL
BEGIN
--- Create a new correspondence record
INSERT INTO correspondence
(
correspondence_ud
,description
,correspondence_rule_id
,document_number_generation_rule_id
,daily_run_date
,daily_run_time
,days_to_check_for_errors
,active
)
VALUES
(@correspondence_ud
,@correspondence_description
,@correspondence_rule_id
,@document_number_generation_rule_id
,@daily_run_date
,@daily_run_time
,@days_to_check_for_errors
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM correspondence WHERE correspondence_id = @correspondence_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar INT, @RowCountVar INT

--- Updating an existing correspondence record
UPDATE
correspondence
SET
correspondence_ud = @correspondence_ud
,description = @correspondence_description
,correspondence_rule_id = @correspondence_rule_id
,document_number_generation_rule_id = @document_number_generation_rule_id
,daily_run_date = @daily_run_date
,daily_run_time = @daily_run_time
,days_to_check_for_errors = @days_to_check_for_errors
,active = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
correspondence_id = @correspondence_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
GO
