USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_override_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE:	9/1/2016
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to created or update the claim_override table for the frmClaimOverride form.

The claim will have 1 record for each override type.
The form does not use a grid, but has a set of controls for each override type.
The load stored procedure flattens out the types and places them on one row.
The data passed to this stored procedure will have values specified for each override type,
which currently supports 2 types.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_claim_override_save]
(
@claim_id			int = NULL,
@elig_override_reason_id INT = NULL,
@ces_override_reason_id INT = NULL
) AS
--
DECLARE
@SP_SUCCESS int

DECLARE @ELIG_OVERRIDE_TYPE_ID INT, @CES_OVERRIDE_TYPE_ID INT
SELECT @ELIG_OVERRIDE_TYPE_ID = claim_override_type_id FROM claim_override_type WHERE golden_key = 'ELIGIBILITY_TERM_DATE'
SELECT @CES_OVERRIDE_TYPE_ID = claim_override_type_id FROM claim_override_type WHERE golden_key = 'CES_PROCESS'


SELECT
@SP_SUCCESS = 0


-- **********************   Eligibility Overrides  *****************************
IF(@elig_override_reason_id IS NULL) -- delete the elig record
DELETE FROM claim_override WHERE claim_id = @claim_id AND claim_override_type_id = @ELIG_OVERRIDE_TYPE_ID
ELSE -- INSERT OR UPDATE the existing record
BEGIN
IF NOT EXISTS(SELECT 1 FROM claim_override
WHERE claim_id = @claim_id AND claim_override_type_id = @ELIG_OVERRIDE_TYPE_ID)
BEGIN
--- Create a new claim_override record for the claim
INSERT INTO claim_override
(
claim_id
,adjudication_details_override_reason_id
,claim_override_type_id
)
VALUES
(
@claim_id
,@elig_override_reason_id
,@ELIG_OVERRIDE_TYPE_ID
)
END
ELSE
BEGIN
--- Updating an existing claim_override record for the claim
UPDATE claim_override
SET
adjudication_details_override_reason_id		= @elig_override_reason_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE claim_id = @claim_id
AND adjudication_details_override_reason_id <> @elig_override_reason_id -- don't want to update the record unless the reason has changed.
END
END





-- **********************   CES Overrides  *****************************
IF(@ces_override_reason_id IS NULL) -- delete the ces record
DELETE FROM claim_override WHERE claim_id = @claim_id AND claim_override_type_id = @CES_OVERRIDE_TYPE_ID
ELSE -- INSERT OR UPDATE the existing record
BEGIN
IF NOT EXISTS(SELECT 1 FROM claim_override
WHERE claim_id = @claim_id AND claim_override_type_id = @CES_OVERRIDE_TYPE_ID)
BEGIN
--- Create a new claim_override record for the claim
INSERT INTO claim_override
(
claim_id
,adjudication_details_override_reason_id
,claim_override_type_id
)
VALUES
(
@claim_id
,@ces_override_reason_id
,@CES_OVERRIDE_TYPE_ID
)
END
ELSE
BEGIN
--- Updating an existing claim_override record for the claim
UPDATE claim_override
SET
adjudication_details_override_reason_id		= @ces_override_reason_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE claim_id = @claim_id
AND adjudication_details_override_reason_id <> @ces_override_reason_id -- don't want to update the record unless the reason has changed.

END
END


DECLARE @READJUDICATE_ADJUDICATION_STATUS_ID INT =
(SELECT adjudication_status_id FROM adjudication_status WHERE golden_key = 'READJUDICATE')

UPDATE claim
SET claim.adjudication_status_id = @READJUDICATE_ADJUDICATION_STATUS_ID
FROM claim
JOIN adjudication_status adj_stat
ON claim.adjudication_status_id = adj_stat.adjudication_status_id
LEFT JOIN claim_procedure cp
ON claim.claim_id = cp.claim_id
WHERE
claim.claim_id = @claim_id
AND
adj_stat.golden_key <> 'OPEN' AND adj_stat.golden_key IS NOT NULL;


--
RETURN @SP_SUCCESS
--
GO
