USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_life_premium_volume_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/02/2012
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
12/27/2012		eponomareff			2.0				renamed to differentiate from disability volume

DESCRIPTION:		Find life premium volume(s) that match criteria.

******************************/
CREATE       PROCEDURE [dbo].[plx_find_life_premium_volume_load]
(
@premium_volume_ud					NVARCHAR(50) = NULL
, @premium_volume_description			NVARCHAR(255) = NULL
, @premium_volume_type_id               int = NULL
, @premium_volume_age_reduction_schedule_id         int = NULL
, @show_exact_matches                   BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @premium_volume_ud IS NOT NULL AND @premium_volume_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pv.premium_volume_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_volume_ud, @show_exact_matches) + @Suffix

IF @premium_volume_description IS NOT NULL AND @premium_volume_description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pv.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_volume_description, @show_exact_matches) + @Suffix

IF ISNULL(@premium_volume_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND pv.premium_volume_type_id = ' + CONVERT(NVARCHAR, @premium_volume_type_id)

IF ISNULL(@premium_volume_age_reduction_schedule_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND pv.premium_volume_age_reduction_schedule_id = ' + CONVERT(NVARCHAR, @premium_volume_age_reduction_schedule_id)


SET @SqlQuery =
'	SELECT DISTINCT
pv.premium_volume_id
,pv.premium_volume_ud
,pv.description AS premium_volume_description
,pv.premium_volume_type_id
,pvt.premium_volume_type_ud
FROM  dbo.premium_volume pv
LEFT OUTER JOIN premium_volume_type pvt
ON pvt.premium_volume_type_id = pv.premium_volume_type_id
WHERE
pvt.golden_key in (
''FIXED'',
''AGE_RELATIONSHIP_TIER'',
''BASED_ON_SALARY'',
''ELECT_AT_ELIGIBILITY'',
''ELECT_AT_ELIGIBILITY_LOAN_INFO''
)
'

-- No need to initialzie WHERE condition, as it is already in the dynamic sql
-- IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY pv.premium_volume_ud')
PRINT (@SqlQuery + @SqlCondition + ' ORDER BY pv.premium_volume_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
