USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_contact_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2006	Hiep Nguyen	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for contact with is associated with agent
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_agent_contact_save]
(
@agent_contact_id 			int = NULL   OUTPUT
,@contact_id				INT = NULL
,@agent_id              	   		int = NULL
,@contact_association_type_id		   int = NULL
,@is_primary                 		   bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
BEGIN
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0



IF @agent_contact_id is Null
BEGIN
--- Create a new record
INSERT INTO agent_contact(
agent_id
,contact_id
,is_primary
,contact_association_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@agent_id
,@contact_id
,@is_primary
,@contact_association_type_id
,@effective_from
,@effective_thru
,@active
)

SET @agent_contact_id = @@IDENTITY

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE IF NOT EXISTS (SELECT * FROM agent_contact WHERE agent_contact_id = @agent_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
UPDATE agent_contact
SET
contact_id 				= @contact_id
,agent_id  				= @agent_id
,contact_association_type_id 	= @contact_association_type_id
,is_primary 				= @is_primary
,effective_from  			= @effective_from
,effective_thru  			= @effective_thru
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_contact_id 			= @agent_contact_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

RETURN @SP_SUCCESS

END
GO
