USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_run_trans_ap_pay_detail_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/10/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/10/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for Claim Disbursement Run Detail Form Claim Disbursement Run Detail grid

--
REQUIREMENTS:
--
INPUTS:
@accounting_transaction_ap_id for the disbursement
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_run_trans_ap_pay_detail_load]
(
@accounting_transaction_ap_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
c.claim_id
,c.claim_ud
, provid.provider_id
, provid.provider_ud
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix) as provider_name
, SUM(apply_to.amount) AS amount_per_claim
FROM dbo.accounting_transaction_ap atap
JOIN
accounting_transaction_ap_payment_detail payment_detail
ON	atap.accounting_transaction_ap_id = payment_detail.accounting_transaction_ap_id
JOIN
accounting_transaction_ap_apply_to apply_to
ON	payment_detail.accounting_transaction_ap_id = apply_to.from_accounting_transaction_ap_id
JOIN
accounting_transaction_ap applied_to_trans
ON	apply_to.to_accounting_transaction_ap_id = applied_to_trans.accounting_transaction_ap_id
LEFT JOIN
accounting_transaction_ap_claim_detail claim_detail
ON	applied_to_trans.accounting_transaction_ap_id = claim_detail.accounting_transaction_ap_id
LEFT JOIN claim c
ON	claim_detail.claim_id = c.claim_id
LEFT JOIN provider_identifier provid on c.provider_identifier_id = provid.provider_identifier_id
LEFT JOIN provider_name pn on c.provider_id = pn.provider_id and pn.is_primary = 1
WHERE
atap.accounting_transaction_ap_id = @accounting_transaction_ap_id
GROUP BY c.claim_ud, c.claim_id, provid.provider_id, provid.provider_ud, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix), c.provider_id

RETURN @SP_SUCCESS
GO
