USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_user_assigned_result_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Date: 10/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/18/2005   HungTNguyen   1.0       created
08/22/2014		eponomareff			RT:6046 data modification project

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into Customer user result  grid
--
REQUIREMENTS:
--
INPUTS:
customer_user_assigned_result_code_id - Key to customer_user_assigned_result_code table, identifies a single stored customer_user_assigned_result_code.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_customer_user_assigned_result_code_load]
(
@customer_id	Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
customer_user_assigned_result_code.customer_user_assigned_result_code_id
,customer_user_assigned_result_code.customer_id

,customer.customer_ud
,customer_user_assigned_result_code.criteria_id

,criteria.criteria_ud
,customer_user_assigned_result_code.result_code_id

,result_code.result_code_ud
,customer_user_assigned_result_code.result_code_status_id

,result_code_status.result_code_status_ud
,customer_user_assigned_result_code.comment
,customer_user_assigned_result_code.effective_from
,customer_user_assigned_result_code.effective_thru
,customer_user_assigned_result_code.modified_user_name
FROM customer_user_assigned_result_code
inner join customer  ON customer.customer_id = customer_user_assigned_result_code.customer_id
left join criteria  ON criteria.criteria_id = customer_user_assigned_result_code.criteria_id
left join result_code  ON result_code.result_code_id = customer_user_assigned_result_code.result_code_id
left join result_code_status  ON result_code_status.result_code_status_id = customer_user_assigned_result_code.result_code_status_id
WHERE customer_user_assigned_result_code.customer_id = @customer_id
ORDER BY
CASE WHEN customer_user_assigned_result_code.effective_from IS NULL THEN 0 ELSE 1 END , customer_user_assigned_result_code.effective_from DESC
,CASE WHEN customer_user_assigned_result_code.effective_thru IS NULL THEN 0 ELSE 1 END , customer_user_assigned_result_code.effective_thru DESC



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
GO
