USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_procedure_code_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 26 2005 11:38PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down procedure_code_type (Procedure Code Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_procedure_code_type_load]

(
@claim_usage_type_id	int =0
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
/*IF @claim_usage_type_id<>0
BEGIN
SELECT
cpt.procedure_code_type_id
,cpt.procedure_code_type_ud
,cpt.golden_key
FROM procedure_code_type cpt
WHERE cpt.claim_usage_type_id = @claim_usage_type_id
order by procedure_code_type_ud
END
ELSE*/
BEGIN
SELECT
cpt.procedure_code_type_id
,cpt.procedure_code_type_ud
,cpt.golden_key  -- Nghi added
--cpt.description    -- Nam Ho modified
FROM procedure_code_type cpt
order by procedure_code_type_ud
--WHERE code_procedure_type.code_procedure_type_id = @code_procedure_type_id
END
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
