USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_concurrency_lock_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	04/20/2010
--
DESCRIPTION:
This procedure is used to load a list of concurrency lock types for drop downs.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_concurrency_lock_type_load]
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

SELECT
concurrency_lock_type_id,
concurrency_lock_type_ud
FROM
concurrency_lock_type

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
