USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HIEN D NGUYEN
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
12/13/2006	Hien D Nguyen	1.0		Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Check if the additional information can be deleted

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE    PROCEDURE [dbo].[plx_additional_information_check_delete]
(
@additional_information_id int
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int,
@ERROR_NOT_EXIST	NVARCHAR(50),
@result 		int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE	= 2
SET @ERROR_NOT_EXIST	= 158990001
SET @result 		= @SP_DELETE_ABLE

Declare @additional_information_form_id int,
@additional_information_topic_id int,
@object_ud nvarchar(50)

select @additional_information_topic_id = additional_information_topic_id from additional_information where additional_information_id = @additional_information_id
select @additional_information_form_id = additional_information_form_id from additional_information where additional_information_id = @additional_information_id

select @object_ud = additional_information_form_ud from additional_information_form where additional_information_form_id = @additional_information_form_id


IF NOT EXISTS (	SELECT 	additional_information_id
FROM 	dbo.additional_information
WHERE 	additional_information_id = @additional_information_id )
RETURN @SP_DELETE_UNABLE

if (@object_ud) = 'Client Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.client_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Group Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.client_group_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Family Eligibility Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.family_eligibility_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Member Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.member_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Institutional Claim Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.institutional_claim_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Benefit Contract Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.benefit_contract_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Benefit Contract Template Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.benefit_contract_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Benefit Plan Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.benefit_plan_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Professional Claim Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.professional_claim_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Dental Claim Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.dental_claim_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Agent Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.agent_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Brokerage Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.agent_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Provider'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.provider_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE

END

if (@object_ud) = 'Network Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.provider_network_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Practice Office Form'
BEGIN
IF EXISTS (SELECT 	additional_information_topic_id
FROM	dbo.practice_office_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Carrier Form'
BEGIN
IF EXISTS (SELECT additional_information_topic_id
FROM	dbo.carrier_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Reinsurance Carrier Form'
BEGIN
IF EXISTS (SELECT additional_information_topic_id
FROM	dbo.reinsurance_carrier_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

if (@object_ud) = 'Product Form'
BEGIN
IF EXISTS (SELECT additional_information_topic_id
FROM	dbo.product_additional_information
WHERE	additional_information_topic_id = @additional_information_topic_id)
RETURN @SP_DELETE_UNABLE
END

IF EXISTS (SELECT additional_information_id
FROM	dbo.additional_information_data
WHERE	additional_information_id = @additional_information_id)
RETURN @SP_DELETE_UNABLE

RETURN @SP_DELETE_ABLE
END
GO
