USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cleanup_schema]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_cleanup_schema]
(
@SchemaName VARCHAR(100)
)
AS

BEGIN

SET NOCOUNT ON;

DECLARE @SQL VARCHAR(4000)
DECLARE @MSG VARCHAR(500)
DECLARE @AIS_VERSION VARCHAR(50)

IF OBJECT_ID('tempdb..#dropcode') IS NOT NULL DROP TABLE #dropcode
CREATE TABLE #dropcode
(
ID INT IDENTITY(1,1)
,SQLstatement VARCHAR(1000)
)

----------------------------------------------------------------------
-- drop all the foreign keys that reference a PK in the target schema.
----------------------------------------------------------------------
SELECT @SQL =
'SELECT
'' ALTER TABLE ''+SCHEMA_NAME(fk.schema_id)+''.''+OBJECT_NAME(fk.parent_object_id)+'' DROP CONSTRAINT ''+ fk.name
FROM sys.foreign_keys fk
JOIN sys.tables t on t.object_id = fk.referenced_object_id
WHERE t.schema_id = schema_id(''' + @SchemaName+''')
AND fk.schema_id <> t.schema_id
ORDER BY fk.name desc'

INSERT INTO #dropcode
EXEC (@SQL)

----------------------------------------------------------------------
-- drop all default constraints, check constraints and Foreign Keys.
----------------------------------------------------------------------
SELECT @SQL =
'SELECT
'' ALTER TABLE ''+schema_name(t.schema_id)+''.''+OBJECT_NAME(fk.parent_object_id)+'' DROP CONSTRAINT ''+ fk.[Name]
FROM sys.objects fk
JOIN sys.tables t on t.object_id = fk.parent_object_id
WHERE t.schema_id = schema_id(''' + @SchemaName+''')
AND fk.type IN (''D'', ''C'', ''F'')'

INSERT INTO #dropcode
EXEC (@SQL)

----------------------------------------------------------------------
-- drop all other objects in order.
----------------------------------------------------------------------
SELECT @SQL =
'SELECT
CASE WHEN SO.type=''PK'' THEN '' ALTER TABLE ''+SCHEMA_NAME(SO.schema_id)+''.''+OBJECT_NAME(SO.parent_object_id)+'' DROP CONSTRAINT ''+ SO.name
WHEN SO.type=''U'' THEN '' DROP TABLE [''+SCHEMA_NAME(SO.schema_id)+''].''+ SO.[Name]
WHEN SO.type=''V'' THEN '' DROP VIEW [''+SCHEMA_NAME(SO.schema_id)+''].''+ SO.[Name]
WHEN SO.type=''P'' THEN '' DROP PROCEDURE [''+SCHEMA_NAME(SO.schema_id)+''].''+ SO.[Name]
WHEN SO.type=''TR'' THEN ''  DROP TRIGGER  ''+SCHEMA_NAME(SO.schema_id)+''.''+ SO.[Name]
WHEN SO.type=''SN'' THEN '' DROP SYNONYM ''+SCHEMA_NAME(SO.schema_id)+''.''+ SO.[Name]
WHEN SO.type= ''SO'' THEN '' DROP SEQUENCE ''+SCHEMA_NAME(SO.schema_id)+''.''+ SO.[Name]
WHEN SO.type  IN (''FN'', ''TF'',''IF'',''FS'',''FT'') THEN '' DROP FUNCTION [''+SCHEMA_NAME(SO.schema_id)+''].''+ SO.[Name]
END
FROM SYS.OBJECTS SO
WHERE SO.schema_id = schema_id('''+ @SchemaName +''')
AND SO.type IN (''PK'', ''FN'', ''TF'', ''TR'', ''V'', ''U'', ''P'', ''SN'', ''IF'',''SO'')
ORDER BY CASE WHEN type = ''PK'' THEN 1
WHEN type = ''V'' THEN 2
WHEN type = ''TR'' THEN 3
WHEN type in (''FN'', ''TF'', ''P'',''IF'',''FS'',''FT'') THEN 4
WHEN type = ''U'' THEN 5
ELSE 6
END'

INSERT INTO #dropcode
EXEC (@SQL)

----------------------------------------------------------------------
-- drop all user-defined types.
----------------------------------------------------------------------
SELECT @SQL =
'SELECT
'' DROP TYPE [''+schema_name(st.[schema_id])+''].''+ st.[Name]
FROM sys.types st
WHERE st.schema_id = schema_id(''' + @SchemaName+''')'

INSERT INTO #dropcode
EXEC (@SQL)

----------------------------------------------------------------------
-- drop AIS functions created under dbo.
----------------------------------------------------------------------
SELECT @SQL = 'IF EXISTS(SELECT 1 FROM   sysobjects WHERE name=''plx_fn_calculate_total_invoice_amount'' and xtype=''FN'') ' +
'DROP FUNCTION [dbo].plx_fn_calculate_total_invoice_amount'+CHAR(13)+
'IF EXISTS(SELECT 1 FROM   sysobjects WHERE name=''plx_fn_calculate_total_payment_amount'' and xtype=''FN'') ' +
'DROP FUNCTION [dbo].plx_fn_calculate_total_payment_amount';

INSERT INTO #dropcode
EXEC (@SQL)

DECLARE @ID int, @statement varchar(1000)
DECLARE statement_cursor CURSOR
FOR SELECT SQLStatement
FROM #dropcode
ORDER BY ID ASC

OPEN statement_cursor
FETCH statement_cursor INTO @statement
WHILE (@@FETCH_STATUS = 0)
BEGIN

PRINT (@statement)
EXEC(@statement)

FETCH statement_cursor INTO @statement
END

CLOSE statement_cursor
DEALLOCATE statement_cursor

----------------------------------------------------------------------
-- drop schema
----------------------------------------------------------------------

IF EXISTS (SELECT * FROM sys.schemas WHERE name = N''+@SchemaName+'')
BEGIN
PRINT ('DROP SCHEMA ['+@SchemaName+']')
EXEC ('DROP SCHEMA ['+@SchemaName+']')
END
ELSE
BEGIN
PRINT ('SCHEMA ['+@SchemaName+'] not found in the database.')
END

END

GO
