USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_payment_detail_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 09/19/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/19/2008    Vishwa Jella		1.0         	created
10/14/2008	  Vishwa Jella		2.0				added payment amount update
08/18/2014 - RT:6046 Updated created/modified tombstone columns
09/21/2018	  Aaron Mortensen	2.2		RT:13448 - Adding stored procedure call for updating 1099-misc taxes

CURRENT_VERSION: 2.2
--
DESCRIPTION:
Save data for Payment form Header
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_payment_detail_save]
(
@accounting_transaction_ap_payment_detail_id	INT = NULL   OUTPUT
,@accounting_transaction_ap_id   		INT = NULL  OUTPUT
,@accounting_transaction_ap_ud			NVARCHAR(100)
,@vendor_id                      		INT
,@accounting_company_id                 INT
,@bank_account_id                		INT
,@payment_method_payment_id      		INT = NULL
,@accounting_payment_status_id   		INT = NULL
,@accounting_payment_source_id 			INT = NULL
,@payment_amount                 		NUMERIC(20, 10) = NULL
,@active                         		BIT = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= '';

DECLARE
@accounting_Payment_transaction_type_id INT;

SELECT  @accounting_Payment_transaction_type_id = accounting_transaction_ap_type_id
FROM    accounting_transaction_ap_type
WHERE   golden_key = 'PAYMENT';
--
IF @accounting_transaction_ap_payment_detail_id is Null
BEGIN
INSERT INTO accounting_transaction_ap(
accounting_transaction_ap_ud,
vendor_id,
accounting_company_id,
accounting_transaction_ap_type_id,
transaction_date,
transaction_amount
)
VALUES
(
@accounting_transaction_ap_ud,
@vendor_id,
@accounting_company_id,
@accounting_Payment_transaction_type_id,
GETDATE(),
ISNULL(@payment_amount, 0)
);

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT);

SET @accounting_transaction_ap_id = @@IDENTITY;

INSERT INTO accounting_transaction_ap_payment_detail(
bank_account_id,
accounting_transaction_ap_id,
payment_method_payment_id,
accounting_payment_status_id,
accounting_payment_source_id,
active
)
VALUES
(
@bank_account_id,
@accounting_transaction_ap_id,
@payment_method_payment_id,
@accounting_payment_status_id,
@accounting_payment_source_id,
@active
);

SET @accounting_transaction_ap_payment_detail_id = @@IDENTITY;
END
ELSE IF NOT EXISTS
(SELECT * FROM accounting_transaction_ap_payment_detail atpd
INNER JOIN accounting_transaction_ap ata
ON atpd.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
WHERE atpd.accounting_transaction_ap_id = @accounting_transaction_ap_id )
BEGIN
RETURN @SP_EXCEPTION;
END
ELSE
BEGIN
DECLARE
@ErrorVar INT,
@RowCountVar INT;

--Update transaction record	(transaction of type payment)
UPDATE accounting_transaction_ap
SET
accounting_transaction_ap_ud		= @accounting_transaction_ap_ud,
transaction_amount					= @payment_amount,
vendor_id							= @vendor_id,
accounting_company_id				= @accounting_company_id,
accounting_transaction_ap_type_id	= @accounting_Payment_transaction_type_id,
modified_user_name                 = ORIGINAL_LOGIN(),
modified_date                      = GETDATE()
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id;

SELECT
@ErrorVar = @@ERROR,
@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE);
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED);

-- Update payment details record
UPDATE accounting_transaction_ap_payment_detail
SET
bank_account_id				= @bank_account_id,
accounting_transaction_ap_id	= @accounting_transaction_ap_id,
payment_method_payment_id		= @payment_method_payment_id,
accounting_payment_status_id	= @accounting_payment_status_id,
accounting_payment_source_id	= @accounting_payment_source_id,
active							= @active,
modified_user_name                 = ORIGINAL_LOGIN(),
modified_date                      = GETDATE()
WHERE
accounting_transaction_ap_payment_detail_id = @accounting_transaction_ap_payment_detail_id;
END

IF @accounting_payment_source_id = (SELECT accounting_payment_source_id FROM accounting_payment_source WHERE golden_key = 'CLAIMS')
BEGIN
-- Disbursement for claims was updated to not rely on the trigger that updates claim procedures and transactions statuses for transactions
-- in the payment (for performance).  The trigger is still in use for payments that were not generated by the disbursement process.
-- This stored procedure is how disbursement now updates those statuses for payments.
EXEC plx_disbursement_claim_payment_update_payment_related_statuses @paymentDetailId=@accounting_transaction_ap_payment_detail_id;
END

IF @accounting_payment_source_id = (SELECT accounting_payment_source_id FROM accounting_payment_source WHERE golden_key = 'CAPITATION')
BEGIN
-- Update statuses for capitation transactions in the payment
EXEC plx_disbursement_capitation_payment_update_payment_related_statuses @paymentDetailId=@accounting_transaction_ap_payment_detail_id;
END

-- update 1099-MISC tax data
IF @accounting_payment_status_id <> (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'ENTERED')
BEGIN
EXEC [plx_accounting_transaction_ap_payment_detail_update_1099_taxes] @paymentDetailId=@accounting_transaction_ap_payment_detail_id;
END

RETURN @SP_SUCCESS;
GO
