USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_zero_tracking_claim_procedure_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_zero_tracking_claim_procedure_status_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
zero_tracking_claim_procedure_status_id
,zero_tracking_claim_procedure_status_ud
,golden_key
FROM zero_tracking_claim_procedure_status
ORDER BY zero_tracking_claim_procedure_status_ud

RETURN @SP_SUCCESS
END
GO
