USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_in_use]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 07/14/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is used to indicate if a capitation definition has been used in processing.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_definition_in_use]
(
@capitation_definition_id                    int
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE @IS_IN_USE INT
--

IF EXISTS (
SELECT * FROM capitation_run cr
WHERE cr.capitation_definition_id = @capitation_definition_id
)
BEGIN
SELECT @IS_IN_USE = 1
END

ELSE
BEGIN
SELECT @IS_IN_USE = 0
END
--
RETURN @IS_IN_USE
--
SET NOCOUNT OFF

END
GO
