USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_modifier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
DATE: 1/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
1/10/2006     n8nguyen  1.0         Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for Fee Schedule Modifier Table form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_fee_schedule_modifier_load]

(
@fee_schedule_modifier_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fee_schedule_modifier.fee_schedule_modifier_id
,fee_schedule_modifier.fee_schedule_modifier_ud
--      ,fee_schedule_modifier.fee_schedule_modifier_nm
,fee_schedule_modifier.description as fee_schedule_modifier_description
,fee_schedule_modifier.procedure_code_type_id
FROM fee_schedule_modifier
WHERE fee_schedule_modifier.fee_schedule_modifier_id = @fee_schedule_modifier_id
--
RETURN @SP_SUCCESS
GO
