USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/04/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/04/2014	amortensen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load the external claim editing rules assignment grid
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_load]
(
@claim_processing_rule_framework_id		INT=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ra.external_claim_editing_rules_assignment_id,
ra.claim_processing_rule_framework_id,
ra.claim_form_type_id,
cft.claim_form_type_ud,
ra.type_of_bill_set_id,
tobs.type_of_bill_set_ud,
ra.procedure_code_group_id,
pcg.procedure_code_group_ud,
ra.effective_from,
ra.effective_thru
FROM
external_claim_editing_rules_assignment ra

LEFT JOIN claim_form_type cft
ON ra.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN type_of_bill_set tobs
ON ra.type_of_bill_set_id = tobs.type_of_bill_set_id
LEFT JOIN procedure_code_group pcg
ON ra.procedure_code_group_id = pcg.procedure_code_group_id

WHERE ra.claim_processing_rule_framework_id = @claim_processing_rule_framework_id

ORDER BY
CASE WHEN ra.effective_from IS NULL THEN 0 ELSE 1 END , ra.effective_from DESC,
CASE WHEN ra.effective_thru IS NULL THEN 0 ELSE 1 END , ra.effective_thru DESC
--
RETURN @SP_SUCCESS
--
GO
