USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_client_load_with_reinsurance]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
TAP Reinsurance Account Assignment form, checks for conflicts.
******************************/
CREATE PROCEDURE [dbo].[plx_find_client_load_with_reinsurance]
(
@client_id								INT
,@reinsurance_contract_id				INT = NULL
,@client_group_id						INT = NULL
,@benefit_contract_id					INT = NULL
,@benefit_plan_id						INT = NULL
)
AS
--
--
SET NOCOUNT ON

-- check only if there is a @client_id
IF ISNULL(@client_id, 0) = 0
BEGIN
SELECT NULL;
RETURN 0;
END

DECLARE @result INT = NULL;

-- check for conflicting Group or Benefit Contract or Benefit Plan
-- check for conflicting Reinsurance Contract
IF @client_group_id IS NOT NULL
OR @benefit_contract_id IS NOT NULL
OR @benefit_plan_id IS NOT NULL
BEGIN
SET @result =
(SELECT TOP 1 c.client_id
FROM client c
JOIN client_group g ON c.client_id = g.client_id
JOIN benefit_contract bc ON bc.client_group_id = g.client_group_id
JOIN benefit_contract_period bcp ON bc.benefit_contract_id = bcp.benefit_contract_id
JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE
c.client_id = @client_id
AND
(@client_group_id IS NULL OR @client_group_id = g.client_group_id)
AND
(@benefit_contract_id IS NULL OR @benefit_contract_id = bc.benefit_contract_id)
AND
(@benefit_plan_id IS NULL OR @benefit_plan_id = bcpbp.benefit_plan_id)
);

-- check for conflicts
IF @result IS NULL
BEGIN
-- return empty table
SELECT 1 WHERE 1 = 0;
RETURN 0;
END
END
-- check for conflicting Reinsurance Contract
IF @reinsurance_contract_id IS NOT NULL
BEGIN
SET @result =
(SELECT TOP 1 rc.client_id
FROM reinsurance_contract rc
WHERE
rc.reinsurance_contract_id = @reinsurance_contract_id
AND
rc.client_id = @client_id
);

IF @result IS NULL
BEGIN
-- return empty table
SELECT 1 WHERE 1 = 0;
RETURN 0;
END
END

SELECT @client_id;
GO
