USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_rule_definition_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete correspondence rule definition record
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_rule_definition_delete]
(
@correspondence_rule_definition_id          INT = NULL
,@cascade                                    BIT = 0
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			INT,
@SP_EXCEPTION			INT,
@ERROR_NOT_EXIST		NVARCHAR(50),
@ERROR_CANT_DELETE	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_NOT_EXIST   = '159840014',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012'
--
IF NOT EXISTS (SELECT * FROM correspondence_rule_definition WHERE correspondence_rule_definition_id = @correspondence_rule_definition_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN TRY

DELETE FROM correspondence_rule_definition
WHERE correspondence_rule_definition_id = @correspondence_rule_definition_id

DECLARE @ErrorVar INT, @RowCountVar INT;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
RETURN @SP_SUCCESS
END TRY

BEGIN CATCH
RETURN @SP_EXCEPTION
END CATCH
END
GO
