USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_upline_agent_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug 10 2006  2:01PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/10/2006	tqdo		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for upline agent grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_upline_agent_id - Key to agent_upline_agent table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_agent_upline_agent_list_load]
(
@agent_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_upline_agent.agent_upline_agent_id

,agent_upline_agent.agent_id

,agent_upline_agent.benefit_contract_id
,benefit_contract.benefit_contract_ud

,agent_upline_agent.rank

,agent_upline_agent.agent_type_id

,agent_upline_agent.upline_agent_identifier_id
,upline_agent_identifier.agent_ud as upline_agent_identifier_ud

,agent_upline_agent.upline_brokerage_agent_identifier_id
,upline_brokerage_agent_identifier.agent_ud as upline_brokerage_agent_identifier_ud

,agent_upline_agent.effective_from
,agent_upline_agent.effective_thru
FROM agent_upline_agent
LEFT JOIN benefit_contract  ON agent_upline_agent.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN agent_identifier upline_agent_identifier  ON agent_upline_agent.upline_agent_identifier_id = upline_agent_identifier.agent_identifier_id
LEFT JOIN agent_identifier upline_brokerage_agent_identifier  ON agent_upline_agent.upline_brokerage_agent_identifier_id = upline_brokerage_agent_identifier.agent_identifier_id

WHERE agent_upline_agent.agent_id = @agent_id
ORDER BY
CASE WHEN agent_upline_agent.effective_from IS NULL THEN 0 ELSE 1 END , agent_upline_agent.effective_from DESC
,CASE WHEN agent_upline_agent.effective_thru IS NULL THEN 0 ELSE 1 END , agent_upline_agent.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
