USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_division_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an  employee division
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_employee_division_load]
(
@employee_division_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
employee_division.employee_division_id
,employee_division.employee_class_id
--		,employee_class.employee_class_ud
--		,employee_class.employee_class_nm
--		,employee_class.description
,employee_division.employee_division_ud
,employee_division.employee_division_nm
,employee_division.description as employee_division_desc
FROM	employee_division
--		INNER JOIN employee_class  ON employee_class.employee_class_id = employee_division.employee_class_id
WHERE	employee_division.employee_division_id = @employee_division_id
--

RETURN @SP_SUCCESS
GO
