USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_class_all_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/26/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/26/2005	Trinh Le	1.0			create
03/20/2006	Trinh Le			Apply changes on "accumulator_class" table
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get all accumulator class.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_accumulator_class_all_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_class.accumulator_class_id
,accumulator_class.accumulator_class_ud
--      ,accumulator_class.description
--      ,accumulator_class.class_data_type_id
--      ,class_data_type.class_data_type_ud
--      ,accumulator_class.active
--      ,accumulator_class.created_user_name
--     ,accumulator_class.create_group_id
,accumulator_class.golden_key
FROM accumulator_class
WHERE golden_key NOT IN
(
'MAX_UNITS_ALLOWED_PRIOR_TO_AUTH',
'MAX_UNITS_ALLOWED_PRIOR_TO_REF',
'MAX_PAYMENTS_ALLOWED_PRIOR_TO_AUTH',
'MAX_PAYMENTS_ALLOWED_PRIOR_TO_REF'
)
ORDER BY accumulator_class_ud
--      left join class_data_type  ON class_data_type.class_data_type_id = accumulator_class.class_data_type_id
--
GO
