USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_benefit_contract_value]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************************
HEADER_BEGIN;

AUTHOR: dcannon
;
REVISION_HISTORY:

Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------
05/18/2016	dcannon			1.0			Created following same pattern as plx_code_import_ncci

----------------------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure imports benefit contract value data from the code loader into the
benefit_contract_value_payment_method table

STEPS INVOLVED:
insert records into temp table #tmpBenefitContractValueImport

Update benefit_contract_value_payment_method.
In involves:
1. Term codes in benefit_contract_value_payment_method that do not exist in #tmpBenefitContractValueImport
2. Insert codes that exist in #tmpBenefitContractValueImport but not in benefit_contract_value_payment_method

PRE-REQUISITES:

The import table must be created in the same connection before calling this method:

-- Create the holding table

IF OBJECT_ID('#tmpBenefitContractValueImport') IS NOT NULL
DROP TABLE #tmpBenefitContractValueImport

CREATE TABLE #tmpBenefitContractValueImport (
benefit_contract_value_ud nvarchar(50),
procedure_code_ud nvarchar(50),
modifiers nvarchar(50),
rate decimal(19,4)
)
GO

INPUTS:

@effective_date - The new effective date for the code imported

;

OUTPUTS:

;
RETURN_VALUES:

0	Success

;

CALLED PROCEDURES:

None

;
HEADER_END;
************************************************************************************/

CREATE procedure [dbo].[plx_code_import_benefit_contract_value]
(
@effective_date as DATETIME
)

as

declare
@sp_success int,
@sp_exception int

select
@sp_success = 0,
@sp_exception = -1

--Create temp table to hold normalized values
IF OBJECT_ID('#tmpBenefitContractValueCompare') IS NOT NULL
DROP TABLE #tmpBenefitContractValueCompare
CREATE TABLE #tmpBenefitContractValueCompare (
benefit_contract_value_id int not null,
procedure_code_id int not null,
modifiers nvarchar(50) null,
rate decimal(19,4) null
)

--VALIDATION
--check for invalid records (benefit contract value, px code, px code type not exists or px code and code type combination doesnt exist
DECLARE @xmltmp xml =
(SELECT DISTINCT TOP(40) RTRIM(invalid_records.benefit_contract_value_ud) AS benefit_contract_value,
RTRIM(invalid_records.procedure_code_ud) AS procedure_code_ud,
RTRIM(invalid_records.procedure_code_type_ud)AS procedure_code_type
FROM #tmpBenefitContractValueImport AS invalid_records
WHERE RTRIM(invalid_records.benefit_contract_value_ud) not in( SELECT DISTINCT benefit_contract_value_ud FROM benefit_contract_value)
OR RTRIM (invalid_records.procedure_code_type_ud) not in (SELECT DISTINCT procedure_code_type_ud FROM procedure_code_type)
OR RTRIM (invalid_records.procedure_code_ud) not in
(SELECT DISTINCT procedure_code_ud FROM procedure_code WHERE procedure_code_type_id =
(SELECT procedure_code_type_id FROM procedure_code_type WHERE RTRIM (invalid_records.procedure_code_type_ud) = procedure_code_type_ud ))
FOR XML AUTO)

IF @xmltmp is not null
BEGIN
PRINT 'INVALID RECORDS: '
PRINT CONVERT(NVARCHAR(MAX), @xmltmp)
RAISERROR('Unable to import benefit contract value payment methods. Please verify import file and try again.', 16, 1)
RETURN @sp_exception
END
ELSE
BEGIN
--CONVERT data to temp table
INSERT INTO #tmpBenefitContractValueCompare (benefit_contract_value_id, procedure_code_id, modifiers, rate)
(SELECT bcv.benefit_contract_value_id, px.procedure_code_id, RTRIM(imp.modifiers), imp.rate
FROM #tmpBenefitContractValueImport imp
JOIN benefit_contract_value bcv on bcv.benefit_contract_value_ud = RTRIM(imp.benefit_contract_value_ud)
JOIN procedure_code px on px.procedure_code_ud = RTRIM(imp.procedure_code_ud)
JOIN procedure_code_type pct on pct.procedure_code_type_ud = RTRIM(imp.procedure_code_type_ud)
WHERE px.procedure_code_type_id = pct.procedure_code_type_id)

-- TERM codes in benefit_contract_value_payment_method that do not exist in #tmpBenefitContractValueImport
update benefit_contract_value_payment_method
set effective_thru = dateadd(dd, -1, @effective_date)
from benefit_contract_value_payment_method bcvpm, #tmpBenefitContractValueCompare tmp
where not exists
(select distinct benefit_contract_value_id, procedure_code_id, modifiers, rate from #tmpBenefitContractValueCompare tmp
where tmp.benefit_contract_value_id = bcvpm.benefit_contract_value_id
and tmp.procedure_code_id = bcvpm.procedure_code_id
and ((tmp.modifiers IS NULL AND bcvpm.modifiers IS NULL)  OR tmp.modifiers = bcvpm.modifiers)
and ((tmp.rate IS NULL AND bcvpm.rate IS NULL) OR tmp.rate = bcvpm.rate))
and bcvpm.effective_thru is null

-- INSERT codes that exist in #tmpBenefitContractValueImport but not in benefit_contract_value_payment_method
insert into benefit_contract_value_payment_method (benefit_contract_value_id, procedure_code_id, modifiers, rate, effective_from)
select distinct benefit_contract_value_id, procedure_code_id, modifiers, rate, @effective_date  from #tmpBenefitContractValueCompare tmp
where not exists
(select 1 from benefit_contract_value_payment_method bcvpm
where bcvpm.benefit_contract_value_id = tmp.benefit_contract_value_id
and bcvpm.procedure_code_id = tmp.procedure_code_id
and ((bcvpm.modifiers IS NULL AND tmp.modifiers IS NULL)  OR bcvpm.modifiers = tmp.modifiers)
and ((bcvpm.rate IS NULL AND tmp.rate IS NULL) OR bcvpm.rate = tmp.rate)
and bcvpm.effective_thru is null)

return @sp_success

END
GO
