USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_list_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
9/12/2011		cknobloch		1.1			added deletion of children tables.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to enroll member on Family form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_list_delete]
(
@eligibility_restriction_relationship_to_subscriber_id int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM eligibility_restriction_relationship_to_subscriber WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id )
BEGIN

RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
--Delete other insurance restrictions
DELETE FROM eligibility_restriction_relationship_to_subscriber_other_insurance_restriction
WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

--Delete coverage restrictions
DELETE FROM eligibility_restriction_relationship_to_subscriber_coverage_restriction
WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

--Delete age based restrictions
DELETE FROM relationship_maximum_age
WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id

--Delete eligibility restriction relationship to subscriber
DELETE FROM eligibility_restriction_relationship_to_subscriber
WHERE eligibility_restriction_relationship_to_subscriber_id = @eligibility_restriction_relationship_to_subscriber_id


END
--
RETURN @SP_SUCCESS
--
GO
