USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alt_course_dental_restorative_bundling_rule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/13/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/13/2010	eponomareff		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete an @alternate_course_dental_restorative_bundling_set_id record

NOTE - This grid is read-only (you can set the enabled checkbox, but cannot add or delete rows)
So, just putting this in in case it needs to be used if/when more functionality is added in future
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_alt_course_dental_restorative_bundling_rule_delete]
(
@alternate_course_dental_restorative_bundling_set_id INT = 0
)
AS

--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM
alternate_course_dental_restorative_bundling_set
WHERE
alternate_course_dental_restorative_bundling_set_id = @alternate_course_dental_restorative_bundling_set_id

RETURN @SP_SUCCESS
--
GO
