USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_audit_family_eligibility_member_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 04/26/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/24/2012	A.Mortensen		1.0			Created
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure checks to see if [plx_audit_family_eligibility_member_load] exists
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_audit_family_eligibility_member_exist]
(
@proc_exists INT = NULL OUTPUT
)
AS
BEGIN
--
SET NOCOUNT ON
--

IF EXISTS
(
SELECT * FROM dbo.sysobjects
WHERE id = object_id(N'[dbo].[plx_audit_family_eligibility_member_load]')
AND OBJECTPROPERTY(id, N'IsProcedure') = 1
)
SET @proc_exists = 1
ELSE
SET @proc_exists = 0

SELECT @proc_exists

END
GO
