USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_run_system_errors_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimDisbursementSystemErrors on form frmClaimdisbursementRun

--
REQUIREMENTS:
--
INPUTS:
@claim_disbursement_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_disbursement_claim_payment_run_system_errors_load]
(
@disbursement_claim_payment_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
rc.result_code_id,
rc.result_code_ud,
rc.short_message,
atap.accounting_transaction_ap_id,
atap.accounting_transaction_ap_ud,
acc_co.accounting_company_id,
acc_co.accounting_company_ud,
v.vendor_id,
v.vendor_ud
FROM
dbo.disbursement_claim_payment_run_result_code dcprrc
INNER JOIN result_code rc
ON dcprrc.result_code_id = rc.result_code_id
INNER JOIN accounting_transaction_ap atap
ON dcprrc.accounting_transaction_ap_id = atap.accounting_transaction_ap_id
INNER JOIN accounting_company acc_co
ON atap.accounting_company_id = acc_co.accounting_company_id
INNER JOIN vendor v
ON v.vendor_id = atap.vendor_id
WHERE
dcprrc.disbursement_claim_payment_run_id = @disbursement_claim_payment_run_id
ORDER BY rc.result_code_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
