USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to enroll member on Family form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_waiting_period_relationship_to_subscriber_list_delete]
(
@benefit_waiting_period_relationship_to_subscriber_id int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_waiting_period_relationship_to_subscriber WHERE benefit_waiting_period_relationship_to_subscriber_id = @benefit_waiting_period_relationship_to_subscriber_id )
BEGIN

RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
-- delete child records
DELETE FROM benefit_waiting_period_relationship_to_subscriber_waiting_period
WHERE benefit_waiting_period_relationship_to_subscriber_id = @benefit_waiting_period_relationship_to_subscriber_id

-- delete main record
DELETE FROM benefit_waiting_period_relationship_to_subscriber
WHERE benefit_waiting_period_relationship_to_subscriber_id = @benefit_waiting_period_relationship_to_subscriber_id
END
--
RETURN @SP_SUCCESS
--
GO
