USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_verify_multicurrency]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: thuy Nguyen
Sep  14 2005  3:11 PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/05	mttran					update accordingly with the new design of table
benefit_plan_accumulator_class_choice_resolution
(delete accumulator_framework_accumulator_class_accumulator_id,
add accumulator_sub_limit_rule_id)
12/26/2007	Vishwa Jella		1.1	Updated Fields To Display Benefit_Plan_ID
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Verify Benefit Plan for Benefit Setup Errors Grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_verify_multicurrency]
(
@benefit_contract_period_id	Int
)
AS
--
--
SET NOCOUNT ON
--

SELECT	 bc.base_currency_id, benefit_contract_period_benefit_plan.benefit_plan_id,
benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id, benefit_plan.benefit_plan_ud
FROM	 benefit_contract AS bc INNER JOIN
benefit_contract_period AS bcp ON bc.benefit_contract_id = bcp.benefit_contract_id INNER JOIN
benefit_contract_period_benefit_plan ON
bcp.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id INNER JOIN
benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id CROSS JOIN
global_processing_rule
WHERE    (bcp.benefit_contract_period_id = @benefit_contract_period_id) AND (bc.base_currency_id IS NULL) AND
(global_processing_rule.use_multi_currency = 1)

--
GO
