USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_year_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/29/2005	ThanhNguyen		1.0		Created
2006/02/15	Anh Ta			1.0		Used for ICU#15894 Payment Contract
2006/06/02	HungTNguyen		1.0		add golden key
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'year' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_year_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
year.year_id
,year.year_ud
,year.golden_key
FROM year
ORDER BY year_ud
--
RETURN @SP_SUCCESS
--
GO
