USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_name_prefix_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/30/2005	Tinh Do				Create
11/21/2005        Anh Ta               		Use ICU# 15898 Aliases
29/11/2005	Hien D Nguyen	1.1		More clearly and deleted EXCEPTION msg

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down name_prefix (Prefix)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_name_prefix_load]



AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT 	    @SP_SUCCESS = 0

SELECT
name_prefix.name_prefix_id
,name_prefix.name_prefix_ud
FROM name_prefix
ORDER BY name_prefix.name_prefix_ud

RETURN @SP_SUCCESS
END
GO
