USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_governmental_health_plan_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 31 2006  9:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/30/2006      HungTNguyen     1.0             Create
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Government Health Plans"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_cob_member_governmental_health_plan_list_load]

(
@cob_member_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cob_member_governmental_health_plan.cob_member_governmental_health_plan_id
,cob_member_governmental_health_plan.cob_member_id


,cob_member_governmental_health_plan.government_health_plan_id
,government_health_plan.government_health_plan_ud

,cob_member_governmental_health_plan.benefit_category_id

,benefit_category.benefit_category_ud
,cob_member_governmental_health_plan.governmental_policy_holder_ud
,cob_member_governmental_health_plan.effective_from
,cob_member_governmental_health_plan.effective_thru


,cob_member_governmental_health_plan.active
,cob_member_governmental_health_plan.created_user_name
,cob_member_governmental_health_plan.created_group_id
,cob_member_governmental_health_plan.created_date
,cob_member_governmental_health_plan.modified_date

FROM cob_member_governmental_health_plan
left join government_health_plan  ON government_health_plan.government_health_plan_id = cob_member_governmental_health_plan.government_health_plan_id
left join benefit_category  ON benefit_category.benefit_category_id = cob_member_governmental_health_plan.benefit_category_id


WHERE cob_member_governmental_health_plan.cob_member_id = @cob_member_id
--thanhnguyen fix for ticket #7863
ORDER BY
CASE WHEN cob_member_governmental_health_plan.effective_from IS NULL THEN 0 ELSE 1 END , cob_member_governmental_health_plan.effective_from DESC
,CASE WHEN cob_member_governmental_health_plan.effective_thru IS NULL THEN 0 ELSE 1 END , cob_member_governmental_health_plan.effective_thru DESC
, government_health_plan_ud  ASC
--end of thanhnguyen fix for ticket #7863

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
