USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_condition_list_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to delete a criteria_condition

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:
0	Success
-1	Exception occurred, refer to error message
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_condition_list_delete]
(
@criteria_condition_id	INT = NULL
)

AS
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF NOT EXISTS (SELECT criteria_condition_id FROM criteria_condition WHERE criteria_condition_id = @criteria_condition_id )
BEGIN
RETURN @SP_EXCEPTION
END

DELETE FROM criteria_condition WHERE criteria_condition_id = @criteria_condition_id

RETURN @SP_SUCCESS
GO
