USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 11/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005	HungTNguyen  	1.0	         created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This Sps is used to load the details of additional_information_topic for the
given @additional_information_topic_id
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_additional_information_list_load]
(
@additional_information_topic_id	Int
)
AS
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
additional_information_form.additional_information_form_id

,ui_engine_form.[name] as ui_engine_form_nm
,additional_information.is_additional_information_required
,additional_information_topic.additional_information_topic_id
,additional_information.additional_information_id


FROM	additional_information
left outer join additional_information_topic  ON additional_information_topic.additional_information_topic_id = additional_information.additional_information_topic_id
left outer join additional_information_form  ON additional_information_form.additional_information_form_id = additional_information.additional_information_form_id
left outer join ui_engine_form  ON additional_information_form.additional_information_form_nm = ui_engine_form.name
WHERE
additional_information.additional_information_topic_id = @additional_information_topic_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
