USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_address_load]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
July 29, 2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
July 29, 2011	cknobloch		1.0		Created
09/16/2014	dcannon		1.1			7004 Address Format- add delivery route
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load Practice Office Address


--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_practice_office_address_load]
(
@practice_office_id			Int = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
practice_office_address.practice_office_address_id ,
practice_office_address.address_id ,

address.address_id ,
address.address_1 ,
address.address_2 ,
address.address_3 ,
locale.locale_id ,
locale.postal_code ,
address.delivery_route ,
locale.city ,
locale.county ,
state.state_id ,
state.state_ud ,
country.country_id ,
country.country_ud ,
practice_office_address.modified_date ,
practice_office_address.effective_from ,
practice_office_address.effective_thru


FROM practice_office_address
LEFT JOIN address
ON address.address_id = practice_office_address.address_id
LEFT JOIN locale
ON locale.locale_id = address.locale_id
LEFT JOIN state
ON locale.state_id = state.state_id
LEFT JOIN country
ON locale.country_id = country.country_id
WHERE practice_office_address.practice_office_id = @practice_office_id


--
RETURN @SP_SUCCESS
--
GO
