USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[get_paid_payments_for_disbursement_queue]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























-- ========================================================================================
-- Retrieve payment records for a lookback period by disbursement queue name.
-- Added clause to only return payments that have been assigned a check number.
--  	AND detail.check_ach_reference IS NOT NULL 
-- Added clause to only return payments that have not been voided and put in a look-back period
--      AND atp.void_date is not null
--      AND atp.transaction_date > DATEADD(day,DATEDIFF(day,0,GETDATE())-30,0)  --30 day look-back period to only pull payments in last 30 days.
-- Added clause to only return payments where the check has successfully printed.  This enables the check # to show in the Claim line Accounting Information form in the UI.
--      AND detail.accounting_check_print_run_id IS NOT NULL
-- NOTE THAT THE TPM export agreement should still be configured to EXCLUDE PREVIOUSLY EXPORTED payments/checks.
-- =========================================================================================
CREATE                                  PROCEDURE [dbo].[get_paid_payments_for_disbursement_queue] 
	@queue					nvarchar(50) = NULL
AS
BEGIN
 		SELECT atp.[accounting_transaction_ap_id]
			  ,atp.[accounting_transaction_ap_ud]
		FROM [accounting_transaction_ap] atp
		INNER JOIN accounting_transaction_ap_type att
			ON atp.accounting_transaction_ap_type_id = att.accounting_transaction_ap_type_id
		INNER JOIN accounting_transaction_ap_payment_detail detail
			ON atp.accounting_transaction_ap_id = detail.accounting_transaction_ap_id
		JOIN disbursement_claim_payment_queue que
			ON detail.disbursement_claim_payment_queue_id = que.disbursement_claim_payment_queue_id
		WHERE 	att.golden_key = 'Payment'
		AND detail.check_ach_reference IS NOT NULL
		AND detail.accounting_check_print_run_id IS NOT NULL
		AND atp.void_date is null  --payment has not been voided
		AND atp.transaction_date > DATEADD(day,DATEDIFF(day,0,GETDATE())-90,0) --90
		--and cast(atp.transaction_date as date) = '2026-03-26'
		AND que.disbursement_claim_payment_queue_ud = @queue
		--order by detail.check_ach_reference asc

		UNION

		SELECT ztv.[zero_tracking_vendor_batch_id]  accounting_transaction_ap_id 
		   , 'ZeroPay' accounting_transaction_ap_ud /*'ZeroPay' identifies transaction as a 'zero pay' and is required*/
		FROM [zero_tracking_vendor_batch] ztv 
		INNER JOIN vendor v on v.vendor_id = ztv.vendor_id
		inner join zero_tracking_claim_procedure zcp
			on ztv.zero_tracking_vendor_batch_id = zcp.zero_tracking_vendor_batch_id
		cross apply ( select case 
								when m.provider_network_nm like '%umr%' then 'UMR Repricer'
								when m.repriced_network in ('vpn','tos','mas','csp','cor','cmi','cft','bel','med','ice','cap') then 'Bind Direct Contracts'
								when m.provider_network_nm like '%p1%' then 'P1'
								when m.provider_network_nm = 'Ascension SmartHealth' then 'ash'
								else 'UMR Repricer'
							end as disbursment_queue
						from bind_network_map m
					  where m.provider_network_id = zcp.provider_network_id
					  ) as q
		WHERE ztv.finalized_date is not null
		AND ztv.reference_number is not null
		AND ztv.finalized_date > DATEADD(day,DATEDIFF(day,30,GETDATE())-90,0) --90
		--and cast(ztv.finalized_date as date) = '2026-03-26'
		and q.disbursment_queue = @queue


END

GO
