USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reinsurance_calculation_run_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reinsurance_calculation_run_status_load]
AS
DECLARE @SP_SUCCESS INT = 0;

SELECT
reinsurance_calculation_run_status_id,
reinsurance_calculation_run_status_ud,
golden_key
FROM reinsurance_calculation_run_status;

RETURN @SP_SUCCESS;
GO
