USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_report_by_entity_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;;
--
AUTHOR: MAbdul / Cfacey
DATE: 08/05/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION:

--

--
DESCRIPTION:
This procedure is used to load data related to reports for drop down cboReportName (Form (frmFindCorrespondenceDocument)
FindCorrespondenceDocumentForm.vb
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_report_by_entity_load]

(
@report_category_id			INT = NULL,
@correspondence_entity_id	INT = NULL
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS					int,
@SP_EXCEPTION					int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT     r.report_id
, r.report_ud
, r.correspondence_entity_id
FROM  report r
INNER JOIN report_category rc ON r.report_category_id = rc.report_category_id
INNER JOIN correspondence_entity ce ON r.correspondence_entity_id = ce.correspondence_entity_id
WHERE r.report_category_id = @report_category_id
AND (@correspondence_entity_id is null OR r.correspondence_entity_id = @correspondence_entity_id)
ORDER BY r.report_ud


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
