USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_member_EZ_eligibility_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/27/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
3/3/2026		cknobloch				1.2				Rewritten for RT:27452

DESCRIPTION:	Used in auto-enroll process on the Enrollment form.

Returns all the eligibilities for a given enrollment (family_eligibility) for a
benefit contract period that corresponds to a given benefit contract period benefit plan
(based on a bcbp_id from the form)

******************************/

CREATE PROCEDURE [dbo].[plx_family_member_EZ_eligibility_load]
(
@family_eligibility_id INT = 0,
@benefit_contract_period_benefit_plan_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
-- these columns need to correspond exactly to those in the result set for [plx_family_eligibility_member_benefit_plan_load]
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id,
family_eligibility_member_benefit_plan.family_eligibility_member_id,
family_eligibility_member_benefit_plan.member_eligibility_ud,
benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id,
benefit_contract_period.benefit_contract_period_id,
family_eligibility_member_benefit_plan.benefit_plan_id,
family_eligibility_member_benefit_plan.eligibility_level_id,
eligibility_level.eligibility_level_ud,
family_eligibility_member_benefit_plan.never_under_coverage,
family_eligibility_member.relationship_to_insured_id,
relationship_to_insured.relationship_to_insured_ud,
member.member_id,
dbo.plx_ConcatenateName(member_name.name_last, member_name.name_first, member_name.name_middle, NULL) AS member_name,
family_eligibility_member_benefit_plan.effective_from,
family_eligibility_member_benefit_plan.effective_thru,
family_eligibility_member_benefit_plan.family_eligibility_termination_reason_id,
family_eligibility_termination_reason.family_eligibility_termination_reason_ud,
family_eligibility.family_eligibility_id,
ISNULL(benefit_contract_period_benefit_plan.network_not_applicable, 0) as network_not_applicable,
ISNULL(family_eligibility_member_benefit_plan.disenrollment_letter, 0) as disenrollment_letter_received,
family_eligibility_member_benefit_plan.disenrollment_letter_effective_as_of as disenrollment_letter_received_effective_as_of,
family_eligibility_member_benefit_plan.modified_date,
family_eligibility_member_benefit_plan.object_row_version AS family_eligibility_member_benefit_plan_object_row_version,

-- these columns are for use by the Eligibility Info object
@benefit_contract_period_benefit_plan_id as source_bcpbp_id,
benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id as dest_bcpbp_id,
relationship_to_insured.golden_key as relationship_to_insured_golden_key

FROM
family_eligibility
INNER JOIN family_eligibility_member
ON family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
INNER JOIN family_eligibility_member_benefit_plan
ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
INNER JOIN relationship_to_insured
ON family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
INNER JOIN member
ON family_eligibility_member.member_id = member.member_id
INNER JOIN member_name
ON member.member_id = member_name.member_id
INNER JOIN benefit_contract
ON family_eligibility.benefit_contract_id = benefit_contract.benefit_contract_id
INNER JOIN benefit_contract_period
ON benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id
INNER JOIN benefit_contract_period_benefit_plan
ON benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
INNER JOIN benefit_plan
ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
AND family_eligibility_member_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN eligibility_level
ON family_eligibility_member_benefit_plan.eligibility_level_id = eligibility_level.eligibility_level_id
LEFT OUTER JOIN family_eligibility_termination_reason
ON family_eligibility_member_benefit_plan.family_eligibility_termination_reason_id = family_eligibility_termination_reason.family_eligibility_termination_reason_id

WHERE
(@family_eligibility_id IS NOT NULL AND family_eligibility.family_eligibility_id = @family_eligibility_id)
AND ISNULL(member_name.is_primary, 0) = 1
AND (
-- Date range overlap logic - same complex logic as original but without cursor variables
((benefit_contract_period.effective_from IS NULL
OR benefit_contract_period.effective_from <= family_eligibility_member_benefit_plan.effective_from)
AND (family_eligibility_member_benefit_plan.effective_thru <= benefit_contract_period.effective_thru
OR benefit_contract_period.effective_thru IS NULL))
OR (family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_from
AND (benefit_contract_period.effective_from <= family_eligibility_member_benefit_plan.effective_thru
OR benefit_contract_period.effective_from IS NULL
OR family_eligibility_member_benefit_plan.effective_thru IS NULL)
AND (family_eligibility_member_benefit_plan.effective_thru <= benefit_contract_period.effective_thru
OR benefit_contract_period.effective_thru IS NULL))
OR ((family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_thru
OR benefit_contract_period.effective_thru IS NULL)
AND (family_eligibility_member_benefit_plan.effective_from >= benefit_contract_period.effective_from
OR benefit_contract_period.effective_from IS NULL)
AND (benefit_contract_period.effective_thru <= family_eligibility_member_benefit_plan.effective_thru
OR family_eligibility_member_benefit_plan.effective_thru IS NULL))
OR ((family_eligibility_member_benefit_plan.effective_from IS NULL
OR family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_from)
AND (benefit_contract_period.effective_thru <= family_eligibility_member_benefit_plan.effective_thru
OR family_eligibility_member_benefit_plan.effective_thru IS NULL))
)

RETURN @SP_SUCCESS
--
GO
