USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_object_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: plexis
Mar 31 2011 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
07/23/2015	dcannon		1.1			added active bit check
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load crteria objects per functional area and processing category
--


******************************************************/
CREATE PROCEDURE [dbo].[plx_criteria_ui_object_load]
(
@criteria_category_id INT = NULL
,@criteria_functional_area_id INT = NULL
)

AS

Declare
@extra_category_id int,
@category_golden_key nvarchar(50)

Select
@category_golden_key = cpc.golden_key
From
criteria_processing_category cpc
Where
cpc.criteria_processing_category_id = @criteria_category_id

-- The claim-type-specific categories are special in that they mean all of the data available for
-- 'All Claims' as well as the data available for that specific type.
If @category_golden_key in ('Professional Claims', 'Institutional Claims', 'Dental Claims')
Begin
Select
@extra_category_id = cpc.criteria_processing_category_id
From
criteria_processing_category cpc
Where
cpc.golden_key = 'All Claims'
End
Else
Begin
Set @extra_category_id = 0
End

Select co.criteria_object_id
,co.criteria_object_ud
From criteria_object co
Inner Join criteria_processing_category_criteria_functional_area_detail cpccfad ON cpccfad.criteria_object_id = co.criteria_object_id
Inner Join criteria_processing_category_criteria_functional_area cpccfa ON cpccfa.criteria_processing_category_criteria_functional_area_id = cpccfad.criteria_processing_category_criteria_functional_area_id
Where cpccfa.criteria_processing_category_id In (@criteria_category_id, @extra_category_id)
AND cpccfa.criteria_functional_area_id = @criteria_functional_area_id
AND cpccfad.active = 1
Order By
co.criteria_object_ud
GO
