USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_queue_criteria_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 02/03/2015
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/03/2015	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:Load data for grid grdCriteria on form frmClaimdisbursementQueue

--
REQUIREMENTS:
--
INPUTS:
@disbursement_claim_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_disbursement_claim_payment_queue_criteria_load]
(
@disbursement_claim_payment_queue_id    INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cpqc.disbursement_claim_payment_queue_queue_criteria_id
,cpqc.criteria_id
,c.criteria_ud
,cpqc.vendor_id
,v.vendor_ud
,cpqc.client_id
,cn.client_ud
,cpqc.client_group_id
,cgn.client_group_ud
,cpqc.effective_from
,cpqc.effective_thru

FROM dbo.disbursement_claim_payment_queue_queue_criteria cpqc
left join dbo.criteria c ON cpqc.criteria_id = c.criteria_id
left join dbo.vendor v ON cpqc.vendor_id = v.vendor_id
left join dbo.client_name cn ON cpqc.client_id = cn.client_id
left join dbo.client_group_name cgn ON cpqc.client_group_id = cgn.client_group_id

WHERE cpqc.disbursement_claim_payment_queue_id = @disbursement_claim_payment_queue_id

ORDER BY CASE WHEN cpqc.effective_from IS NULL THEN 0 ELSE 1 END ASC, cpqc.effective_from DESC,
CASE WHEN cpqc.effective_thru IS NULL THEN 0 ELSE 1 END ASC, cpqc.effective_thru DESC,
c.criteria_ud, v.vendor_ud, cn.client_ud, cgn.client_group_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
