USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_governmental_health_plan_contact_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 20 2006  9:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
3/20/2006      HungTNguyen     1.0             Create
10/19/2011 cknobloch     1.1        Associated Claim/Contacts tab for Gov Rows
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Associated Contacts" in form "MemberCOB"


--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_cob_member_governmental_health_plan_contact_save]
(
@cob_member_governmental_health_plan_contact_id      int = NULL   OUTPUT
,@cob_member_other_insurance_plan_id         int = NULL
,@contact_id                                 int = NULL
,@contact_association_type_id                int = NULL
,@is_primary                                 bit = NULL

,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @cob_member_governmental_health_plan_contact_id is Null
BEGIN

--- Create a new third_party_liability_plan_contact record
INSERT INTO cob_member_governmental_health_plan_contact(
cob_member_governmental_health_plan_id
,contact_id
,contact_association_type_id
,is_primary
,effective_from
,effective_thru
,active
)
VALUES
(@cob_member_other_insurance_plan_id
,@contact_id
,@contact_association_type_id
,@is_primary
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @cob_member_governmental_health_plan_contact_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM cob_member_governmental_health_plan_contact WHERE cob_member_governmental_health_plan_contact_id = @cob_member_governmental_health_plan_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing third_party_liability_plan_contact record
UPDATE cob_member_governmental_health_plan_contact
SET
-- third_party_liability_plan_id            = @third_party_liability_plan_id
cob_member_governmental_health_plan_id     = @cob_member_other_insurance_plan_id
,contact_id                               = @contact_id
,contact_association_type_id              = @contact_association_type_id
,is_primary                               = @is_primary
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE cob_member_governmental_health_plan_contact_id = @cob_member_governmental_health_plan_contact_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
