USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_premium_rate_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/15/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/15/2009	lrenard		1.0		created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
benefit_contract_period_benefit_plan records, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_benefit_contract_period_premium_rate_load]
(
@benefit_contract_period_benefit_plan_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
SELECT
bcpbp.benefit_contract_period_benefit_plan_id

FROM benefit_contract_period_benefit_plan bcpbp
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
