USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_assignment_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/05/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/05/2009	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for rate assignment grid on form frmCapitationRate

--
REQUIREMENTS:
--
INPUTS:
@capitation_rate_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_rate_assignment_list_load]
(
@capitation_rate_id		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cra.capitation_rate_assignment_id
,cra.capitation_rate_assignment_ud
,cra.effective_from
,cra.effective_thru
,cra.capitation_rate_id
,cra.capitation_rate_type_id
,crt.capitation_rate_type_ud
,cra.tier_id
,CASE crt.golden_key WHEN 'FLAT_RATE'
THEN CAST(cra.flat_rate as nvarchar(50)) ELSE t.tier_ud END as tier_ud
,cra.flat_rate
,cra.benefit_plan_id
,bp.benefit_plan_ud
,cra.client_id
,cn.client_ud

,cra.client_group_id
,cgn.client_group_ud

,cra.benefit_contract_id
,bc.benefit_contract_ud

,cra.benefit_category_id
,bcat.benefit_category_ud
,cra.capitation_member_rate_id
,cmra.capitation_member_rate_ud
FROM
capitation_rate cr
JOIN
capitation_rate_assignment cra ON cr.capitation_rate_id = cra.capitation_rate_id
JOIN capitation_rate_type crt ON  cra.capitation_rate_type_id = crt.capitation_rate_type_id
LEFT JOIN tier t ON cra.tier_id = t.tier_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = cra.benefit_plan_id
LEFT JOIN client c ON cra.client_id = c.client_id
LEFT JOIN client_name cn ON cn.client_id = c.client_id AND cn.primary_name = 1
LEFT JOIN client_group cg ON cra.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON cgn.client_group_id = cg.client_group_id AND cgn.primary_name = 1
LEFT JOIN benefit_contract bc ON cra.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_category bcat ON cra.benefit_category_id = bcat.benefit_category_id
LEFT JOIN capitation_member_rate cmra ON cmra.capitation_member_rate_id = cra.capitation_member_rate_id
WHERE cr.capitation_rate_id = @capitation_rate_id
ORDER BY cra.capitation_rate_assignment_ud


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
