USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_controls_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/17/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/17/2009	eponomareff		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:	Load drop down of groups associated with a form
This combo box appears on the security form Edit Permissions - Field Permissions tab

ISSUE:	Groups that do not have captions are not returned in result set
--
REQUIREMENTS:
--
INPUTS:
form_name
tab_name
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_controls_group_load]
(
@form_name VARCHAR(255) = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT
name        as group_box_id
,caption    as group_box_ud
FROM
ui_engine_control
WHERE
form_name = @form_name
AND
type = 'GroupBox'
AND
ISNULL(caption, '') <> ''

RETURN @SP_SUCCESS
--
GO
