USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005 11:28AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
24/11/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
2006/01/18	Trang Huynh	1.2		Alter follow the rule which if name is null then don't ALTER  alias
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save contact

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_save] (
@contact_id INT = NULL OUTPUT
,@requestor NVARCHAR(50) = NULL
,@requestor_id INT = NULL
,@contact_name_id INT = NULL OUTPUT
,@company_name NVARCHAR(100) = NULL
,@name_last NVARCHAR(100) = NULL
,@name_first NVARCHAR(50) = NULL
,@name_middle NVARCHAR(50) = NULL
,@name_prefix_id INT = NULL
,@name_suffix NVARCHAR(50) = NULL
,@job_title NVARCHAR(100) = NULL
,@alias_type_id INT = NULL
,@active BIT = NULL
)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@alias_type_ud NVARCHAR(50)

SELECT @SP_SUCCESS = 0
,@ERROR_NOT_EXIST = '1589800003'
,@ERROR_CANT_INSERT = '1588800004'
,@ERROR_CANT_UPDATE = '1589800005'
,@alias_type_ud = (
SELECT golden_key
FROM alias_type
WHERE alias_type_id = @alias_type_id
)

-- Contact table
IF @contact_id IS NULL
BEGIN
INSERT INTO contact (
job_title
,active
)
VALUES (
@job_title
,@active
)

--
SET @contact_id = @@IDENTITY

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE
BEGIN
--- Updating an existing contact record
UPDATE contact
SET
job_title = @job_title
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE contact_id = @contact_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

-- Contact_name table
IF @contact_name_id IS NULL
BEGIN
IF (@alias_type_ud = 'PERSON')
AND (
@name_last IS NOT NULL
OR @name_first IS NOT NULL
)
INSERT INTO contact_name (
contact_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,is_primary
,active
)
VALUES (
@contact_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
)
ELSE IF (@alias_type_ud = 'COMPANY')
AND (@company_name IS NOT NULL)
INSERT INTO contact_name (
contact_id
,name_last
,alias_type_id
,is_primary
,active
)
VALUES (
@contact_id
,@company_name
,@alias_type_id
,1
,@active
)

-- Set @contact_name_id for insert contact_name
SET @contact_name_id = @@IDENTITY
END -- End @contact_name_id is not null
-- @contact_name_id is not null
ELSE IF @contact_name_id IS NOT NULL
BEGIN
-- Get old value of alias
-- If the user updates the Contact Type or Last Name or First Name or Middle Name or Prefix or Suffix,
-- then on save the old Contact Type and Name is saved as Alias by the system.
DECLARE @old_name_first NVARCHAR(100)
,@old_name_last NVARCHAR(100)
,@old_name_middle NVARCHAR(100)
,@old_name_prefix_id INT
,@old_name_suffix NVARCHAR(50)
,@old_alias_type_id INT

SELECT @old_name_first = name_first
,@old_name_last = name_last
,@old_name_middle = name_middle
,@old_name_prefix_id = name_prefix_id
,@old_name_suffix = name_suffix
,@old_alias_type_id = alias_type_id
FROM dbo.contact_name
WHERE contact_name_id = @contact_name_id

IF (@alias_type_ud = 'PERSON')
AND (
@name_last IS NOT NULL
OR @name_first IS NOT NULL
)
BEGIN
IF (isnull(@name_last, '') <> isnull(@old_name_last, ''))
OR (isnull(@name_first, '') <> isnull(@old_name_first, ''))
OR (isnull(@name_middle, '') <> isnull(@old_name_middle, ''))
OR (isnull(@name_prefix_id, 0) <> isnull(@old_name_prefix_id, 0))
OR (isnull(@name_suffix, '') <> isnull(@old_name_suffix, ''))
OR (isnull(@alias_type_id, 0) <> isnull(@old_alias_type_id, 0))
BEGIN
-- change old record to Alias
UPDATE contact_name
SET is_primary = 0
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE contact_name_id = @contact_name_id

-- Insert new record
INSERT INTO contact_name (
contact_id
,name_last
,name_first
,name_middle
,name_prefix_id
,name_suffix
,alias_type_id
,is_primary
,active
)
VALUES (
@contact_id
,@name_last
,@name_first
,@name_middle
,@name_prefix_id
,@name_suffix
,@alias_type_id
,1
,@active
)

SET @contact_name_id = @@IDENTITY
END
END
ELSE IF (@alias_type_ud = 'COMPANY')
AND (@company_name IS NOT NULL)
BEGIN
IF (isnull(@company_name, '') <> isnull(@old_name_last, ''))
OR (isnull(@alias_type_id, 0) <> isnull(@old_alias_type_id, 0))
BEGIN
-- change old record to Alias
UPDATE contact_name
SET is_primary = 0
,active = @active
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE contact_name_id = @contact_name_id

-- Insert new contact_name record
INSERT INTO contact_name (
contact_id
,name_last
,alias_type_id
,is_primary
,active
)
VALUES (
@contact_id
,@company_name
,@alias_type_id
,1
,@active
)

SET @contact_name_id = @@IDENTITY
END
END
END
GO
