USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 09/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/12/2005	hthan		1.0		Created
10/13/2010  eponomareff 2.0     Modified per ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data of an alternate course of treatment map
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_load]
(
@alternate_course_of_treatment_map_id			Int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
acotm.alternate_course_of_treatment_map_id
,acotm.alternate_course_of_treatment_map_ud
,acotm.alternate_course_of_treatment_map_nm
,acotm.description

FROM
alternate_course_of_treatment_map acotm

WHERE
acotm.alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN 1
END
--
GO
