USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_practice_office_asc_facility_wage_index_list_load]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Dec 19 2005  2:37PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
Dec 19 2005	Nam Ho		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdACSFacilityLocationCodeInformation on form frmProviderPracticeOffice



--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_practice_office_asc_facility_wage_index_list_load]
(
@practice_office_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
practice_office_asc_facility_wage_index.practice_office_asc_facility_wage_index_id
,practice_office_asc_facility_wage_index.practice_office_id
,practice_office.practice_office_ud
,practice_office_asc_facility_wage_index.asc_facility_wage_index_id

,asc_facility_wage_index.asc_facility_location_code
,asc_facility_wage_index.city_county_area
,asc_facility_wage_index.state
,state.state_ud
,asc_facility_wage_index.wage_index

,practice_office_asc_facility_wage_index.use_asc_facility_wage_index_for_rural_areas
,practice_office_asc_facility_wage_index.effective_from
,practice_office_asc_facility_wage_index.effective_thru
FROM practice_office_asc_facility_wage_index
left join practice_office  ON practice_office.practice_office_id = practice_office_asc_facility_wage_index.practice_office_id
left join asc_facility_wage_index  ON asc_facility_wage_index.asc_facility_wage_index_id = practice_office_asc_facility_wage_index.asc_facility_wage_index_id
left join state ON state.state_ud = asc_facility_wage_index.state
WHERE practice_office_asc_facility_wage_index.practice_office_id = @practice_office_id
ORDER BY CASE WHEN practice_office_asc_facility_wage_index.effective_from IS NULL THEN 0 ELSE 1 END ASC, practice_office_asc_facility_wage_index.effective_from DESC,
CASE WHEN practice_office_asc_facility_wage_index.effective_thru IS NULL THEN 0 ELSE 1 END ASC, practice_office_asc_facility_wage_index.effective_thru DESC

--
RETURN @SP_SUCCESS
--
GO
