USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ap_refund_payment_void]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Voids a Vendor Refund Payment. Launched from cmdVoid on frmVoidVendorRefundPayment.
NOTES:
Modeled after VoidCustomerPayment service in Accounting.sln

o Verifies the Vendor Refund Payment is currently in an AVAILABLE or APPLIED status, otherwise returns error.
o Updates the Vendor Refund Payment status to VOIDED (in both the main and detail tables)
o Reverses distributions associated with the Vendor Refund Payment
o Updates the statuses of the associated Vendor Refund Requests to AVAILABLE
o Does NOT update the statuses of the AP Accounting Transactions associated
with the Vendor Refund Request. This Vendor Refund Request updates the AP Transaction statuses
in the following procedures:
* plx_accounting_ap_refund_request_make_available
sets the Vendor Refund Request status to AVAILABLE and sets
the AP Transaction statuses to PAID, if they are fully applied.
* plx_accounting_ap_refund_request_void
sets the Vendor Refund Request status to VOIDED and sets
the AP Transaction statuses to AVAILABLE.

This functionality does not rely on triggers.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ap_refund_payment_void]
(
@accounting_transaction_ap_id	           INT = NULL     -- Customer Refund ID ( = @from_accounting_transaction_ap_id)
,@accounting_void_reason_id                INT = NULL
,@void_date                                DATE = NULL
,@comments                                 NVARCHAR(300) = NULL
)
AS
--
--
SET NOCOUNT ON

-- validate status of Vendor Refund Payment is Available or Applied
DECLARE @AvailableStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

DECLARE @AppliedStatusId INT =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'APPLIED');

IF NOT EXISTS (SELECT 1
FROM accounting_transaction_ap_refund_payment_detail detail
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id
AND accounting_payment_status_id IN (@AvailableStatusId, @AppliedStatusId))
BEGIN
Return -1;
END
--
BEGIN TRY

BEGIN TRANSACTION

-- default void date to today if not provided
IF @void_date IS NULL
SET @void_date = GETDATE();

-- get voided status on acounting_transaction_ap
DECLARE @VoidedApTransactionStatusId INT;
SET @VoidedApTransactionStatusId =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED');

UPDATE accounting_transaction_ap
SET
accounting_transaction_status_id           = @VoidedApTransactionStatusId,
accounting_void_reason_id                  = @accounting_void_reason_id,
void_date                                  = @void_date,
comments                                   = @comments,
voided_by                                  = ORIGINAL_LOGIN(),
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
WHERE
accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Set voided status on detail
DECLARE @VoidedPaymentStatusId INT;
SET @VoidedPaymentStatusId =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED');

-- set status in Vendor Refund Payment detail table
UPDATE accounting_transaction_ap_refund_payment_detail
SET accounting_payment_status_id = @VoidedPaymentStatusId
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;

-- Update status of related Vendor Refund Requests to AVAILABLE

-- get AVAILABLE status on acounting_transaction_ap
DECLARE @AvailableApTransactionStatusId INT;
SET @AvailableApTransactionStatusId =
(SELECT accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'AVAILABLE');

-- Get AVAILABLE status for Vendor Refund Requests
DECLARE @AvailablePaymentStatusId INT;
SET @AvailablePaymentStatusId =
(SELECT accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'AVAILABLE');

SELECT accounting_transaction_ap_id INTO #vendorRequests
FROM (SELECT to_accounting_transaction_ap_id as accounting_transaction_ap_id
FROM accounting_transaction_ap_apply_to
WHERE from_accounting_transaction_ap_id = @accounting_transaction_ap_id)
AS vendorRequests;

UPDATE accounting_transaction_ap
SET
accounting_transaction_status_id           = @AvailableApTransactionStatusId,
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
WHERE
accounting_transaction_ap_id IN (
SELECT accounting_transaction_ap_id FROM #vendorRequests);

-- Update status of detail records of related Vendor Refund Requests to AVAILABLE
UPDATE accounting_transaction_ap_refund_request_detail
SET accounting_payment_status_id = @AvailablePaymentStatusId,
modified_user_name                         = ORIGINAL_LOGIN(),
modified_date                              = GETDATE()
WHERE
accounting_transaction_ap_id IN (
SELECT accounting_transaction_ap_id FROM #vendorRequests);

-- Insert reverse distributions
INSERT accounting_transaction_ap_distribution (
accounting_transaction_ap_id,
accounting_company_account_id,
is_debit,
amount,
active)
SELECT
accounting_transaction_ap_id,
accounting_company_account_id,
CASE
WHEN is_debit = 1 THEN 0
ELSE 1
END,
amount,
active
FROM accounting_transaction_ap_distribution
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id;

COMMIT TRANSACTION

END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT @ErrorMessage = ERROR_MESSAGE()
,@ErrorSeverity = ERROR_SEVERITY()
,@ErrorState = ERROR_STATE();

-- Use RAISERROR inside the CATCH block to return error
-- information about the original error that caused
-- execution to jump to the CATCH block.
RAISERROR(@ErrorMessage, -- Message text.
@ErrorSeverity, -- Severity.
@ErrorState -- State.
);
END CATCH
--
RETURN 0
GO
