USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_last_scheduled_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 08/13/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load last scheduled run date for form frmCapitationDefinition

--
REQUIREMENTS:
--
INPUTS:
@capitation_definition_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_capitation_last_scheduled_run_load]
(
@capitation_definition_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

--Get last run

SELECT MAX(start_time) as last_scheduled_run FROM capitation_run WHERE capitation_definition_id = isnull(@capitation_definition_id, 0)

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
