USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_create_summaries]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_capitation_service_create_summaries]
(
@capitation_run_id INT
)

AS

SET NOCOUNT ON;

DECLARE @CAP_STATUS_ID INT
SELECT @CAP_STATUS_ID = capitation_status_id FROM capitation_status WHERE golden_key = 'AVAILABLE';

INSERT INTO capitation_summary
(
capitation_run_id,
capitation_period_id,
provider_id,
vendor_id,
family_eligibility_id,
family_eligibility_member_benefit_plan_id,
summary_amount,
capitation_status_id
)
SELECT
capitation_run_id,
capitation_period_id,
provider_id,
vendor_id,
family_eligibility_id,
family_eligibility_member_benefit_plan_id,
SUM(base_rate_amount) as summary_amount,
@CAP_STATUS_ID
FROM
capitation_calculation
WHERE
capitation_run_id = @capitation_run_id
GROUP BY
capitation_run_id,
capitation_period_id,
provider_id,
vendor_id,
family_eligibility_id,
family_eligibility_member_benefit_plan_id;

INSERT INTO capitation_summary_capitation_calculation
(
capitation_calculation_id,
capitation_summary_id
)
SELECT
cc.capitation_calculation_id,
cs.capitation_summary_id
FROM
capitation_calculation cc
JOIN capitation_summary cs
ON cc.capitation_run_id = cs.capitation_run_id
AND cc.capitation_period_id = cs.capitation_period_id
AND cc.provider_id = cs.provider_id
AND cc.vendor_id = cs.vendor_id
AND cc.family_eligibility_id = cs.family_eligibility_id
AND cc.family_eligibility_member_benefit_plan_id = cs.family_eligibility_member_benefit_plan_id
LEFT JOIN capitation_summary_capitation_calculation cscc
ON cscc.capitation_summary_id = cs.capitation_summary_id
AND cscc.capitation_calculation_id = cc.capitation_calculation_id
WHERE
cc.capitation_run_id = @capitation_run_id
AND	cscc.capitation_summary_capitation_calculation_id IS NULL;
GO
