USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_financial_responsibility_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_financial_responsibility_rule_load]
AS
SET NOCOUNT ON

DECLARE @SP_SUCCESS int
SELECT  @SP_SUCCESS = 0

SELECT
frr.financial_responsibility_rule_id
,frr.financial_responsibility_rule_ud
,frr.golden_key
FROM   financial_responsibility_rule frr
ORDER BY frr.financial_responsibility_rule_ud ASC
--
RETURN @SP_SUCCESS
GO
