USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_info_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/07/2017	eponomareff	1.0		RT:11929 Created for duplicate claim stored procedures
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to duplicate claim_level COB information from tables:
claim_cob_payer
claim_cob_adjustment
when duplicating a claim.

--
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_cob_info_duplicate]
(
@new_claim_id INT, -- new_claim_id
@current_claim_id INT -- current claim_procedure_id
) AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

--
SET NOCOUNT ON

-- copy claim_cob_payer records to new claim
INSERT INTO claim_cob_payer (
claim_id
,sequence_id
,cob_member_commercial_health_plan_id
,cob_member_governmental_health_plan_id
,net_pay
,allowed_amount
,other_insurance_payment_date
,active
)
SELECT
@new_claim_id
,sequence_id
,cob_member_commercial_health_plan_id
,cob_member_governmental_health_plan_id
,net_pay
,allowed_amount
,other_insurance_payment_date
,active
FROM claim_cob_payer
WHERE claim_id = @current_claim_id
;

-- copy claim_cob_payer records to new claim
INSERT INTO claim_cob_adjustment (
claim_cob_payer_id
,adjudication_object_id
,claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk
,amount
,active
)
SELECT
ccp_new.claim_cob_payer_id
,cca.adjudication_object_id
,cca.claim_adjustment_group_code_gk
,cca.claim_adjustment_reason_code_nk
,cca.amount
,cca.active
FROM claim_cob_adjustment cca
JOIN claim_cob_payer ccp_orig
ON cca.claim_cob_payer_id = ccp_orig.claim_cob_payer_id
AND ccp_orig.claim_id = @current_claim_id
JOIN claim_cob_payer ccp_new
ON ccp_new.claim_id = @new_claim_id
AND ccp_orig.sequence_id = ccp_new.sequence_id
;

RETURN @SP_SUCCESS
--
GO
