USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_member_auto_generated_id_rule_get_blank_client_acronym]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2009-10-30 	David Slayton	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to get a list of clients that have a blank client_acronym field.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_create_member_auto_generated_id_rule_get_blank_client_acronym]
(
@client_id INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT cn.client_ud
FROM client c
INNER JOIN client_name cn
ON c.client_id = cn.client_id
WHERE ISNULL(c.client_acronym, '') = ''
AND (@client_id IS NULL OR c.client_id = @client_id)

--
RETURN @SP_SUCCESS
GO
