USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_form_for_dental_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/05/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/05/2006	mttran			0.5		create
01/04/2007	Hiep Nguyen		1        Modified
03/05/2007	mttran                  Change query to limit data as much as possible
by moving the criteria into INNER JOIN clause
03/17/2008	David Slayton	1.2      Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
03/23/2009	eponomareff    1.3      added security
05/07/2009	eponomareff    1.4      modified join with member so that claims with NULL eligibliities would show in result set
05/12/2009	David Slayton	1.5		Added ability to short circuit where clause to just return column names.
07/08/2009	eponomareff    1.7      fix to modified join so that claims with NULL eligibliities would show in result set
but search criteria would cull out nulls
12/01/2009	Vishwa			2.0		updated Joins to fix issue for claim_type search
07/30/2013	eponomareff		2.1		removed four bit fields replaced by place_of_treatment_id combobox for dental claims
06/23/2014	eponomareff		2.2		RT:6737 replace place_of_treatment_id with place_of_service_id
08/19/2015  Jon Vote				RT:8757 performance optimizations
02/10/2017	jbernard		2.3			SP11517 - HNFS major performance issue with find claim forms
03/13/2017	eponomareff     2.4     RT:11325 - Search by Claim/Line Status produces incorrect results for Missing Information, etc.
03/02/2018	amortensen      2.5     RT:9662 - Updating to return billing provider instead of rendering provider
02/07/2019	amortensen      2.6     RT:6841 - Updated include claims with overlapping date range when searching by service from or thru dates
12/05/2024	Kirk Chedotal	2.7		RT-25268 - performance tuning: Added SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

--
CURRENT_VERSION: 2.7
--
DESCRIPTION:
Finds dental claim based on the given criteria.
This is a sub-procedure of find claim form (plx_find_claim_form_load).
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_find_claim_form_for_dental_load] (
@get_column_headers BIT = 0
--Dental Claim Tab
,@dental_claim_ud NVARCHAR(50) = NULL
,@dental_claim_status_id INT = NULL
,@dental_result_code_id INT = NULL
,@dental_received_date_from DATETIME = NULL
,@dental_received_date_thru DATETIME = NULL
,@dental_authorization_ud NVARCHAR(50) = NULL
,@dental_place_of_service_id INT = NULL
,@dental_date_entered_from DATETIME = NULL
,@dental_date_entered_thru DATETIME = NULL
,@dental_service_from_date DATETIME = NULL
,@dental_service_thru_date DATETIME = NULL
,@dental_procedure_code_ud NVARCHAR(50) = NULL
,@dental_alternate_procedure_code_ud NVARCHAR(50) = NULL
,@dental_area_of_oral_cavity_id INT = NULL
,@dental_tooth_number_id INT = NULL
,@dental_tooth_letter_id INT = NULL
,@dental_tooth_surface_id INT = NULL
,@dental_net_amount_from NUMERIC = NULL
,@dental_net_amount_thru NUMERIC = NULL
,@dental_accumulator_ud NVARCHAR(50) = NULL
,@dental_accumulator_class_id INT = NULL
,@dental_object_record_id INT = NULL
,@dental_treatment_of_orthodontics BIT = 0
,@dental_replacement_of_prosthesis BIT = 0 -- OLD: @dental_initial_placement_of_prosthesis BIT = 0
,@dental_claim_type_id INT = NULL
,@episode_id INT = NULL
,@provider_id INT = NULL
,@provider_identifier_id INT = NULL
,@provider_name_last NVARCHAR(100) = NULL
,@provider_name_first NVARCHAR(100) = NULL
,@billing_provider_id INT = NULL
,@billing_provider_identifier_id INT = NULL
,@billing_provider_name_last NVARCHAR(100) = NULL
,@billing_provider_name_first NVARCHAR(100) = NULL
,@provider_network_id INT = NULL
,@practice_office_id INT = NULL
,@locale_id INT = NULL
,@vendor_id INT = NULL
,@federal_ein NVARCHAR(50) = NULL
,@vendor_nm NVARCHAR(100) = NULL
,@practice_office_nm VARCHAR(100) = NULL
,@show_exact_match BIT = 0
--Member/Provider Tab
,@patient_eligibility_id INT = NULL
,@patient_member_id INT = NULL
,@patient_number NVARCHAR(50) = NULL
,@dental_patient_account_number NVARCHAR(50) = NULL
,@subscriber_eligibility_id INT = NULL
,@subscriber_name_last NVARCHAR(100) = NULL
,@subscriber_name_first NVARCHAR(100) = NULL
--Benefit Tab:
,@benefit_category_id INT = NULL
,@benefit_sub_category_id INT = NULL
,@benefit_contract_id INT = NULL
,@client_id INT = NULL
,@client_group_id INT = NULL
,@benefit_plan_id INT = NULL
--  adjudication - benefit plan level
,@benefit_plan_type_id INT = NULL
-- accounting
,@check_number NVARCHAR(50) = NULL
,@zero_claim_vendor_batch_reference_number	NVARCHAR(50) = NULL
,@accounting_company_id				INT = NULL               -- Accounting Company on a related AP Transaction
,@accounting_company_account_id		INT = NULL               -- AP Account on a related AP Transaction

--	 security
,@security_credential NVARCHAR(255) = NULL
,@active_directory_security_user_roles udtt_security_roles READONLY
,@NumRecords INT = NULL
)
AS
BEGIN

--RT-25268 - Find Claim Form - Causing Blocking
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON

-- Caller can specify number of records
-- Default to dbo.fn_results_limit()
IF @NumRecords IS NULL
SET @NumRecords = dbo.fn_results_limit();

----- Begin Member -----------
DECLARE @sql_member VARCHAR(8000)

EXEC dbo.plx_find_claim_form_for_member_load
@get_column_headers
, @patient_eligibility_id
, @patient_member_id
, @patient_number
, @subscriber_eligibility_id
, @subscriber_name_last
, @subscriber_name_first
, @benefit_category_id
, @benefit_sub_category_id
, @benefit_contract_id
, @client_id
, @client_group_id
, @benefit_plan_id
, @show_exact_match
, @sql_member output
, @security_credential
, @active_directory_security_user_roles;

----- End Member  ------------
DECLARE @sql_select NVARCHAR(MAX)
,@sql_condition NVARCHAR(MAX)
,@sql_claim_condition NVARCHAR(MAX)
,@sql_claim_from NVARCHAR(MAX)
,@sql_from NVARCHAR(MAX)
,@sql_from1 NVARCHAR(MAX)
,@Prefix NVARCHAR(10)
,@Suffix NVARCHAR(10)

SET @sql_select = ''
SET @sql_condition = ''
SET @sql_from = ''
SET @sql_from1 = ''
SET @sql_claim_from = ''
SET @sql_claim_condition = ''

IF @show_exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

-- Claim Form Type
DECLARE @claim_form_type_id INT
DECLARE @claim_form_type_ud NVARCHAR(50)

SELECT @claim_form_type_id = claim_form_type_id
,@claim_form_type_ud = claim_form_type_ud
FROM claim_form_type
WHERE golden_key = 'Dental'

-- define select clause
SET @sql_select = @sql_select + '
SELECT	DISTINCT TOP (' + CONVERT(VARCHAR, @NumRecords) + ')
claim.claim_id
,claim.claim_ud
,claim.claim_form_type_id
,''' + @claim_form_type_ud + ''' as claim_form_type_ud
,dental_claim_type.dental_claim_type_ud as claim_type_ud
,claim.family_eligibility_member_benefit_plan_id AS member_eligibility_id
,claim.adjudication_status_id
,'''' AS invoice_number
,dos_from
,dos_through
,claim.billing_provider_id
,claim.billing_provider_identifier_id
,claim.practice_office_id
,claim.provider_network_id
,claim.vendor_id

,member.member_eligibility_ud AS member_ud
,member.member_pid AS patient_number
,dbo.plx_ConcatenateName(member.name_last, member.name_first, member.name_middle, NULL) AS member_nm
,dental_claim.dental_claim_id as claim_form_id
,dental_claim.patient_account_number
'
-- define from clause
SET @sql_claim_from = @sql_claim_from + '
FROM	claim
INNER JOIN dental_claim
ON claim.claim_id = dental_claim.claim_id
'
-- seperate from clause to add criteria related to claim into JOIN claim clause
SET @sql_from = @sql_from +
'		LEFT JOIN 	dental_claim_type
ON dental_claim_type.dental_claim_type_id = dental_claim.dental_claim_type_id
LEFT JOIN  family_eligibility_member_benefit_plan
ON claim.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
-- 		LEFT JOIN benefit_contract_period_benefit_plan
-- 			ON  family_eligibility_member_benefit_plan. benefit_contract_period_benefit_plan_id =  benefit_contract_period_benefit_plan. benefit_contract_period_benefit_plan_id
LEFT JOIN adjudication_status
ON claim.adjudication_status_id = adjudication_status.adjudication_status_id
LEFT JOIN claim_referral
ON claim.claim_id = claim_referral.claim_id
LEFT JOIN referral
ON claim_referral.referral_id = referral.referral_id
LEFT JOIN claim_procedure
ON claim_procedure.claim_id = claim.claim_id
LEFT JOIN claim_procedure_area_of_oral_cavity
ON claim_procedure.claim_procedure_id = claim_procedure_area_of_oral_cavity.claim_procedure_id
LEFT JOIN claim_procedure_tooth_surface
ON claim_procedure.claim_procedure_id = claim_procedure_tooth_surface.claim_procedure_id
LEFT JOIN vendor headerVendor
ON headerVendor.vendor_id = claim.vendor_id
LEFT JOIN practice_office
ON practice_office.practice_office_id = claim.practice_office_id
LEFT JOIN provider_name
ON provider_name.provider_id = claim.provider_id AND provider_name.is_primary = 1
LEFT JOIN provider_name billing_provider_name
ON billing_provider_name.provider_id = claim.billing_provider_id AND billing_provider_name.is_primary = 1
OUTER APPLY dbo.plx_fn_min_service_from_date (claim.claim_id) tbl_dos_from
OUTER APPLY dbo.plx_fn_max_service_thru_date (claim.claim_id) tbl_dos_thru
'
-- Define condition for dental Claim criteria
SET @sql_condition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
SET @sql_claim_condition = ' AND claim.claim_form_type_id = ' + CAST(@claim_form_type_id AS NVARCHAR(30))

IF @dental_claim_ud IS NOT NULL
AND @dental_claim_ud <> ''
SET @sql_claim_condition = @sql_claim_condition + ' AND ISNULL(claim.claim_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_claim_ud, @show_exact_match) + @Suffix

IF ISNULL(@dental_claim_status_id, 0) > 0
BEGIN
DECLARE @dental_claim_status NVARCHAR(10)

SET @dental_claim_status = CONVERT(NVARCHAR, @dental_claim_status_id)
SET @sql_claim_condition = @sql_claim_condition + ' AND (claim.adjudication_status_id = ' + @dental_claim_status + ' 	OR 	EXISTS (
SELECT cp.claim_procedure_id
FROM claim_procedure cp
WHERE cp.claim_id = claim.claim_id
AND cp.adjudication_status_id = ' + @dental_claim_status + '
)
AND claim.claim_form_type_id = ' + CONVERT(NVARCHAR, @claim_form_type_id) + ')'
END

IF ISNULL(@dental_result_code_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND (' + ' EXISTS( SELECT 1 FROM adjudication_result_code WHERE adjudication_result_code.claim_id = claim.claim_id and adjudication_result_code.result_code_id = ' + CONVERT(NVARCHAR, @dental_result_code_id) + ') OR ' + ' EXISTS( SELECT 1 FROM adjudication_result_code arc INNER JOIN claim_procedure cp ON arc.claim_procedure_id = cp.claim_procedure_id ' + ' WHERE cp.claim_id = claim.claim_id AND arc.result_code_id = ' + CONVERT(NVARCHAR, @dental_result_code_id) + ') )'

IF @dental_received_date_from IS NOT NULL
SET @sql_claim_condition = @sql_claim_condition + ' AND DATEDIFF(day, claim.received_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_received_date_from, 101) + ''', 101)) <= 0 '

IF @dental_received_date_thru IS NOT NULL
SET @sql_claim_condition = @sql_claim_condition + ' AND DATEDIFF(day, claim.received_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_received_date_thru, 101) + ''', 101)) >= 0 '

IF ISNULL(@dental_authorization_ud, '') <> ''
SET @sql_condition = @sql_condition + ' AND referral.referral_ud ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_authorization_ud, @show_exact_match) + @Suffix

IF ISNULL(@dental_place_of_service_id, 0) > 0
BEGIN
SET @sql_claim_condition = @sql_claim_condition + ' AND dental_claim.place_of_service_id =  ' + CONVERT(NVARCHAR, @dental_place_of_service_id)
END

IF @dental_date_entered_from IS NOT NULL
SET @sql_claim_condition = @sql_claim_condition + ' AND DATEDIFF(day, dental_claim.created_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_date_entered_from, 101) + ''', 101)) <= 0 '

IF @dental_date_entered_thru IS NOT NULL
SET @sql_claim_condition = @sql_claim_condition + ' AND DATEDIFF(day, dental_claim.created_date, CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @dental_date_entered_thru, 101) + ''', 101)) >= 0 '

IF(ISNULL(@dental_service_from_date, '') <> '' OR ISNULL(@dental_service_thru_date, '') <> '')
SET @sql_condition = @sql_condition + '
AND (dos_from
BETWEEN ''' + CONVERT(NVARCHAR, ISNULL(@dental_service_from_date, '1/1/1753')) + ''' AND ''' + CONVERT(NVARCHAR, ISNULL(@dental_service_thru_date, '12/31/9999')) + '''
OR dos_through
BETWEEN ''' + CONVERT(NVARCHAR, ISNULL(@dental_service_from_date, '1/1/1753')) + ''' AND ''' + CONVERT(NVARCHAR, ISNULL(@dental_service_thru_date, '12/31/9999')) + ''')';

IF ISNULL(@dental_procedure_code_ud, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(claim_procedure.procedure_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_procedure_code_ud, @show_exact_match) + @Suffix

IF ISNULL(@dental_alternate_procedure_code_ud, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(claim_procedure.alternate_procedure_code_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_alternate_procedure_code_ud, @show_exact_match) + @Suffix

IF ISNULL(@dental_area_of_oral_cavity_id, 0) > 0
BEGIN
SET @sql_condition = @sql_condition + ' AND (claim_procedure_area_of_oral_cavity.area_of_oral_cavity_id = ' + CONVERT(NVARCHAR, @dental_area_of_oral_cavity_id)
SET @sql_condition = @sql_condition + ' OR claim_procedure.area_of_oral_cavity_id = ' + CONVERT(NVARCHAR, @dental_area_of_oral_cavity_id) + ')'
END

IF (ISNULL(@dental_tooth_number_id, 0) > 0)
AND (ISNULL(@dental_tooth_letter_id, 0) > 0)
BEGIN
SET @sql_condition = @sql_condition + ' AND (claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @dental_tooth_number_id)
SET @sql_condition = @sql_condition + ' OR claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @dental_tooth_letter_id) + ')'
END
ELSE
BEGIN
IF ISNULL(@dental_tooth_number_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @dental_tooth_number_id)

IF ISNULL(@dental_tooth_letter_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND claim_procedure.tooth_number_letter_id = ' + CONVERT(NVARCHAR, @dental_tooth_letter_id)
END

IF ISNULL(@dental_tooth_surface_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND claim_procedure_tooth_surface.tooth_surface_id = ' + CONVERT(NVARCHAR, @dental_tooth_surface_id)

IF @dental_net_amount_from IS NOT NULL
AND @dental_net_amount_from > 0
SET @sql_condition = @sql_condition + '  AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ), 0)  >= ' + CONVERT(NVARCHAR, @dental_net_amount_from)

IF @dental_net_amount_thru IS NOT NULL
AND @dental_net_amount_thru > 0
SET @sql_condition = @sql_condition + ' AND ISNULL(dbo.plx_fn_claim_amount (claim.claim_id, ''NETPAYAMOUNT'' ), 0)  <= ' + CONVERT(NVARCHAR, @dental_net_amount_thru)

IF ISNULL(@dental_treatment_of_orthodontics, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND dental_claim.treatment_of_orthodontics > 0 '

IF ISNULL(@dental_replacement_of_prosthesis, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND dental_claim.replacement_of_prothesis > 0 '

IF ISNULL(@dental_claim_type_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND EXISTS( SELECT 1 FROM dental_claim_type WHERE dental_claim_type.dental_claim_type_id = dental_claim.dental_claim_type_id and dental_claim_type.dental_claim_type_id = ' + CONVERT(NVARCHAR, @dental_claim_type_id) + ')'

-- Create condition for Provider criteria
IF ISNULL(@episode_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.episode_id = ' + CONVERT(NVARCHAR, @episode_id)

IF ISNULL(@provider_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.provider_id = ' + CONVERT(NVARCHAR, @provider_id)

IF ISNULL(@provider_identifier_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.provider_identifier_id = ' + CONVERT(VARCHAR, @provider_identifier_id)

IF ISNULL(@provider_name_last, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(provider_name.name_last, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_name_last, @show_exact_match) + @Suffix

IF ISNULL(@provider_name_first, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(provider_name.name_first, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@provider_name_first, @show_exact_match) + @Suffix

-- Billing Provider criteria
IF ISNULL(@billing_provider_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.billing_provider_id = ' + CONVERT(NVARCHAR, @billing_provider_id)

IF ISNULL(@billing_provider_identifier_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.billing_provider_identifier_id = ' + CONVERT(VARCHAR, @billing_provider_identifier_id)

IF ISNULL(@billing_provider_name_last, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(billing_provider_name.name_last, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@billing_provider_name_last, @show_exact_match) + @Suffix

IF ISNULL(@billing_provider_name_first, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(billing_provider_name.name_first, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@billing_provider_name_first, @show_exact_match) + @Suffix

IF ISNULL(@practice_office_id, 0) > 0
SET @sql_claim_condition = @sql_claim_condition + ' AND claim.practice_office_id = ' + CONVERT(NVARCHAR, @practice_office_id)

IF ISNULL(@practice_office_nm, '') <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(practice_office.practice_office_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@practice_office_nm, @show_exact_match) + @Suffix

IF ISNULL(@locale_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND EXISTS (SELECT 1 FROM practice_office_address INNER JOIN address ON address.address_id = practice_office_address.address_id Where practice_office_address.practice_office_id = claim.practice_office_id and address.locale_id = ' + CONVERT(NVARCHAR, @locale_id) + ') '

IF ISNULL(@vendor_id, 0) > 0
SET @sql_condition +=  ' AND (claim.vendor_id = @vendor_id OR ark.vendor_id = @vendor_id)';

if(ISNULL(@dental_patient_account_number, '') <> '')
BEGIN
exec dbo.plx_AddStringSearchParameterized       @column_name = 'dental_claim.patient_account_number'
, @variable_name = '@dental_patient_account_number'
, @variable_value = @dental_patient_account_number output
, @where = @sql_claim_condition output
, @show_exact_matches = @show_exact_match;
END

-- BEGIN JOIN ajudication_result_key
-- Fields: @vendor_id, @vendor_nm, @federal_ein, @provider_network_id
if isnull(@vendor_id, 0) > 0 or isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
or isnull(@provider_network_id, 0) > 0
begin
set @sql_from +='
LEFT JOIN claim_procedure cpArk ON cpArk.claim_id = claim.claim_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = cpArk.claim_procedure_id ';
end
-- END JOIN ajudication_result_key
--BEGIN VENDOR
if isnull(@vendor_nm, '') <> '' or isnull(@federal_ein, '') <> ''
begin
set @sql_from += ' LEFT JOIN vendor adjVendor ON ark.vendor_id = adjVendor.vendor_id ';
if isnull(@vendor_nm, '') <> ''
begin
-- check header vendor and adjudicated vendor name
set @sql_condition += ' AND (headerVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix +
' OR adjVendor.vendor_nm ' + @Prefix + @vendor_nm + @Suffix + ')';
end;
if isnull(@federal_ein, '') <> ''
begin
set @sql_condition += ' AND (headerVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix +
' OR adjVendor.federal_ein ' + @Prefix + @federal_ein + @Suffix + ')';
end
end; -- END VENDOR
--BEGIN PROVIDER NETWORK
if isnull(@provider_network_id, 0) > 0
begin
set @sql_condition += ' AND ark.provider_network_id = '  + CAST(@provider_network_id AS NVARCHAR(30)) ;
end;    --END PROVIDER NETWORK

--BEGIN ACCOUNTING
-- join to accounting_transaction_ap_claim_detail
if isnull(@check_number, '') <> '' or isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from += '
INNER JOIN accounting_transaction_ap_claim_detail atapcd
ON  claim.claim_id = atapcd.claim_id '
end

-- join to Payments
if isnull(@check_number, '') <> ''
begin
set @sql_from += '
INNER JOIN accounting_transaction_ap_apply_to atapat
ON atapcd.accounting_transaction_ap_id = atapat.to_accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail atappd
ON atapat.from_accounting_transaction_ap_id = atappd.accounting_transaction_ap_id
AND atappd.check_ach_reference IS NOT NULL
AND CONVERT(NVARCHAR(14), atappd.check_ach_reference) ' + @Prefix + dbo.plx_EncodeStringWildCard(@check_number, @show_exact_match) + @Suffix + '
';
end;

-- AP transactions (for accounting company and ap account)
if isnull(@accounting_company_id, 0) <> 0 or isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from += '
INNER JOIN accounting_transaction_ap apTx
ON atapcd.accounting_transaction_ap_id = apTx.accounting_transaction_ap_id';

if isnull(@accounting_company_id, 0) <> 0
begin
set @sql_condition += ' AND apTx.accounting_company_id = @accounting_company_id ';
end

if isnull(@accounting_company_account_id, 0) <> 0
begin
set @sql_from += '
INNER JOIN accounting_transaction_ap_distribution apTxDistribution
ON apTx.accounting_transaction_ap_id = apTxDistribution.accounting_transaction_ap_id';

set @sql_condition += ' AND apTxDistribution.accounting_company_account_id = @accounting_company_account_id ';
end
end;

-- Zero Claim Vendor Batch Reference Number
if isnull(@zero_claim_vendor_batch_reference_number, '') <> ''
begin
set @sql_from += '
INNER JOIN zero_tracking_claim_procedure ztcp
ON  claim.claim_id = ztcp.claim_id
INNER JOIN zero_tracking_vendor_batch ztvb
ON ztcp.zero_tracking_vendor_batch_id = ztvb.zero_tracking_vendor_batch_id
AND ztvb.reference_number ' + @Prefix + dbo.plx_EncodeStringWildCard(@zero_claim_vendor_batch_reference_number, @show_exact_match) + @Suffix + '
';
end;

--END ACCOUNTING

IF ISNULL(@dental_accumulator_ud, '') <> ''
OR ISNULL(@dental_accumulator_class_id, 0) > 0
--OR ISNULL (@benefit_plan_level_id, 0) > 0
BEGIN
SET @sql_from = @sql_from + '
LEFT JOIN adjudication_accumulator
ON claim.claim_id = adjudication_accumulator.claim_id
Left Join accumulator_framework_accumulator_class_accumulator
On accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id = adjudication_accumulator.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator_framework_accumulator_class
ON accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
'

IF @dental_accumulator_ud IS NOT NULL
AND @dental_accumulator_ud <> ''
SET @sql_condition = @sql_condition + ' AND ISNULL(accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@dental_accumulator_ud, @show_exact_match) + @Suffix

IF ISNULL(@dental_accumulator_class_id, 0) > 0
SET @sql_condition = @sql_condition + ' AND accumulator_framework_accumulator_class.accumulator_class_id = ' + CONVERT(NVARCHAR, @dental_accumulator_class_id)
--IF ISNULL(@benefit_plan_level_id, 0) > 0
--SET @sql_condition = @sql_condition + ' AND adjudication_accumulator.plan_level_id = ' + CONVERT(NVARCHAR, @benefit_plan_level_id)
END

IF ISNULL(@patient_eligibility_id, 0) <> 0
OR ISNULL(@patient_member_id, 0) <> 0
OR ISNULL(@patient_number, '') <> ''
OR ISNULL(@subscriber_eligibility_id, 0) <> 0
OR ISNULL(@subscriber_name_last, '') <> ''
OR ISNULL(@subscriber_name_first, '') <> ''
OR ISNULL(@benefit_category_id, 0) <> 0
OR ISNULL(@benefit_sub_category_id, 0) <> 0
OR ISNULL(@benefit_contract_id, 0) <> 0
OR ISNULL(@client_id, 0) <> 0
OR ISNULL(@client_group_id, 0) <> 0
OR ISNULL(@benefit_plan_id, 0) <> 0
-- User has set Member Criteria, so we want to inner join member matching, and no null patients
BEGIN
SET @sql_from1 = @sql_from1 + '
INNER JOIN (' + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'
-- check security sets
SET @sql_condition = @sql_condition + ' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';

END
ELSE
-- User has set NOT Member Criteria, so DO left join member matching, in order to enforce data security restrictions
-- Return ONLY matching claims OR those with NULL eligibilitlies, handled with WHERE CLAUSE addition
BEGIN
SET @sql_from1 = @sql_from1 + '
LEFT JOIN (' + @sql_member + ' ) AS member
ON claim.family_eligibility_member_benefit_plan_id = member.member_eligibility_id
'

--this condition ensures data security is supported and returns claims that have no eligibilities attached
IF @security_credential IS NOT NULL
AND (dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1)
-- This code was originally located in the plx_find_claim_form_for_member_load stored procedure.
-- It was moved here for performance reasons.
SET @sql_condition = @sql_condition + ' AND NOT EXISTS (SELECT * FROM #security_disallowed_family_eligibilities_this_user as dafe
WHERE dafe.family_eligibility_id = member.family_eligibility_id ) ';
-- WHERE clause must filter out security-restricted members, but allow claims with no eligibility
SET @sql_condition = @sql_condition + ' AND ISNULL(claim.family_eligibility_member_benefit_plan_id, 0) =  ISNULL(member.member_eligibility_id, 0) ';
END

--print (@sql_select)
--print (@sql_claim_from)
--print (@sql_claim_condition)
--print (@sql_from)
--print (@sql_from1)
--print (@sql_condition)
declare @sql nvarchar(max)
SET @sql = @sql_select + @sql_claim_from + @sql_claim_condition + @sql_from + @sql_from1 + @sql_condition

exec sp_executesql @sql,
N'
@patient_eligibility_id INT,
@patient_member_id INT,
@patient_number nVARCHAR(50) OUTPUT ,
@dental_patient_account_number nvarchar(50),
@subscriber_eligibility_id INT,
@subscriber_name_last nVARCHAR(100) OUTPUT ,
@subscriber_name_first nVARCHAR(100) OUTPUT ,
@benefit_category_id INT,
@benefit_sub_category_id INT,
@benefit_contract_id INT,
@client_id INT,
@client_group_id INT,
@benefit_plan_id INT,
@accounting_company_id int,
@accounting_company_account_id int,
@federal_ein nvarchar(50),
@vendor_id int,
@vendor_nm nvarchar(100),
@active_directory_security_user_roles udtt_security_roles readonly
',
@patient_eligibility_id,
@patient_member_id,
@patient_number,
@dental_patient_account_number,
@subscriber_eligibility_id,
@subscriber_name_last,
@subscriber_name_first,
@benefit_category_id,
@benefit_sub_category_id,
@benefit_contract_id,
@client_id,
@client_group_id,
@benefit_plan_id,
@accounting_company_id,
@accounting_company_account_id,
@federal_ein,
@vendor_id,
@vendor_nm,
@active_directory_security_user_roles

END
GO
