USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_supplemental_rider_plans_per_benefit_plan_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  1 2006  1:14PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/13/2006	tinhdo			1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Supplemental and Rider Benefit Plans Per Selected Base Benefit Plan grid
in Benefit Plan Option Selection  form
--
REQUIREMENTS:
--
INPUTS:
agent_commission_advance_setup_id - Key to agent_commission_advance_setup table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_supplemental_rider_plans_per_benefit_plan_list_load]
(
@benefit_contract_period_benefit_plan_id					INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT   bsc.benefit_sub_category_ud
,benefit_plan.benefit_plan_id
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_nm
,benefit_plan_type.benefit_plan_type_ud

FROM benefit_contract_period_benefit_plan
LEFT JOIN benefit_plan_type ON benefit_contract_period_benefit_plan.benefit_plan_type_id = benefit_plan_type.benefit_plan_type_id
LEFT JOIN benefit_plan ON   benefit_plan.benefit_plan_id  = benefit_contract_period_benefit_plan.benefit_plan_id
LEFT JOIN benefit_framework ON benefit_framework.benefit_framework_id = benefit_plan.benefit_framework_id
LEFT JOIN benefit_category bc ON bc.benefit_category_id  =  benefit_framework.benefit_category_id
LEFT JOIN benefit_sub_category bsc ON bsc.benefit_sub_category_id =  benefit_framework.benefit_sub_category_id
WHERE benefit_contract_period_benefit_plan.parent_benefit_contract_period_benefit_plan_id  = @benefit_contract_period_benefit_plan_id
ORDER BY  bsc.benefit_sub_category_ud,benefit_plan.benefit_plan_ud,benefit_plan.benefit_plan_nm,benefit_plan_type.benefit_plan_type_ud

--
RETURN @SP_SUCCESS
GO
