USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/22/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/22/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for form frmClaimPaymentQueue

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_payment_queue_load]
(
@claim_payment_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
cpq.claim_payment_queue_id
,cpq.claim_payment_queue_ud
,cpq.description
,cpq.schedule_form_id
,cpq.review_period
,cpq.unit_day_week_month_id
,cpq.no_benefits
,sf.duration_start_date
,sf.duration_end_date
FROM dbo.claim_payment_queue cpq
LEFT JOIN dbo.claim_payment_run cpr ON cpq.claim_payment_queue_id = cpr.claim_payment_queue_id
LEFT JOIN dbo.schedule_form sf ON cpq.schedule_form_id = sf.schedule_form_id
WHERE cpq.claim_payment_queue_id = @claim_payment_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
