USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dp_errors_premium_payment_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
UI: Displays all errors for the Disbursement Process - Premium Payment
********************************************************************************/
CREATE PROCEDURE [dbo].[plx_dp_errors_premium_payment_list_load]
(
@from_date datetime = null,
@thru_date datetime = null,
@result_code_id INT = null,
@schema_only bit = 1
)
AS

DECLARE @SP_SUCCESS int;
SELECT @SP_SUCCESS = 0;

DECLARE @limit INT;
SELECT @limit = dbo.fn_results_limit();

SELECT TOP (@limit)
ata.accounting_transaction_ap_id,
ata.accounting_transaction_ap_ud,
ata.accounting_company_id,
ac.accounting_company_ud,
ata.vendor_id,
vendor.vendor_ud,
run.start_time AS run_date,
res.result_code_id,
rc.result_code_ud,
rc.short_message AS result_code_description
FROM
disbursement_premium_payment_run run
INNER JOIN disbursement_premium_payment_run_result_code res
ON res.disbursement_premium_payment_run_id = run.disbursement_premium_payment_run_id
INNER JOIN result_code rc
ON res.result_code_id = rc.result_code_id
INNER JOIN accounting_transaction_ap ata
ON res.accounting_transaction_ap_id = ata.accounting_transaction_ap_id
LEFT JOIN vendor
ON vendor.vendor_id = ata.vendor_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
WHERE
@schema_only = 0
AND DATEDIFF(day, ISNULL(@from_date, run.start_time), run.start_time) >= 0
AND DATEDIFF(day, ISNULL(@thru_date, run.start_time), run.start_time) <= 0
AND ISNULL(@result_code_id, res.result_code_id) = res.result_code_id
ORDER BY
run_date DESC;

RETURN @SP_SUCCESS
GO
