USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_composite_tier_criteria_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/03/2017
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2-Feb-2017  eponomareff     1.0         10285 - Composite Tiers
11-Jul-2017	eponomareff		1.1			RT:12327 - Composite Tier with internal tier_id higher than 99 cannot be created. FIXED.
13-Sep-2017	eponomareff		2.0			RT:12571 - Move recursion from stored procedure to vb.net code; simplify this stored procedure
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:

Composite Tier - This stored procedure loads previously saved data for a composite tier.
Used on Composite Tier form.

******************************/
CREATE PROCEDURE [dbo].[plx_composite_tier_criteria_list_load]
(
@tier_id                 INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
tc.tier_criteria_id,
tc.tier_criteria_ud,
tccd.composed_tier_criteria_id,
tccd.composed_tier_id

FROM
tier_criteria tc
JOIN tier_criteria_composite_detail tccd ON tc.tier_criteria_id = tccd.tier_criteria_id
WHERE
tc.tier_id = @tier_id
ORDER BY tc.tier_criteria_id

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
