USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_contact_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	Tinh Do		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Contact Grid on Client form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_client_contact_list_load] (@client_id INT = NULL)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT client_contact.client_contact_id
,contact.contact_id
,client.client_id
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,client_contact.is_primary
,client_contact.effective_from
,client_contact.effective_thru
FROM dbo.client_contact
INNER JOIN dbo.contact_association_type
ON client_contact.contact_association_type_id = contact_association_type.contact_association_type_id
INNER JOIN dbo.client
ON client.client_id = client_contact.client_id
INNER JOIN dbo.contact
ON contact.contact_id = client_contact.contact_id
INNER JOIN dbo.contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
INNER JOIN dbo.alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE client.client_id = @client_id
ORDER BY CASE
WHEN client_contact.effective_from IS NULL
THEN 0
ELSE 1
END
,client_contact.effective_from DESC
,CASE
WHEN client_contact.effective_thru IS NULL
THEN 0
ELSE 1
END
,client_contact.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
