USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_default_fee_schedule_modifier_table_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thai Nguyen
Jan 11 2006 10:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
May 15 2006	Nguyen, Nghi	1.1		Change default_fee_schedule_modifier_table to fee_schedule_default table
Nov 26 2007	Christensen, W	1.2		Changed back to use default_fee_schedule_modifier_table
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
6.2	Default Fee Schedule Modifier Table - Save
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_default_fee_schedule_modifier_table_save]
(
@fee_schedule_default_id                    int = NULL   OUTPUT
,@fee_schedule_modifier_id                   int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS

DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @fee_schedule_default_id is Null
BEGIN

--- Create a new fee_schedule_default record
INSERT INTO default_fee_schedule_modifier_table(
fee_schedule_modifier_table_id
,effective_from
,effective_thru
,active
)
VALUES
(@fee_schedule_modifier_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @fee_schedule_default_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM default_fee_schedule_modifier_table WHERE default_fee_schedule_modifier_table_id = @fee_schedule_default_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_default record
UPDATE default_fee_schedule_modifier_table
SET
fee_schedule_modifier_table_id 		 = @fee_schedule_modifier_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE default_fee_schedule_modifier_table_id = @fee_schedule_default_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
