USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_invoice_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0     Created from plx_dd_accounting_payment_status_load

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down invoice status on Find Invoice form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_accounting_invoice_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_invoice_status.accounting_invoice_status_id
,accounting_invoice_status.accounting_invoice_status_ud
,accounting_invoice_status.golden_key
FROM accounting_invoice_status
Order by sort_order
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
