USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/27/2006	ptran	1.0		Created
04/22/2008	lrenard	1.1		added delete for accumulator carryover
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for Benefit Contract Period panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_id - Key to benefit_contract_period table, identifies a single stored benefit_contract_period.
@cascade  - - Cascade this deletion to all child records?

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_benefit_contract_period_delete]
(
@benefit_contract_period_id            int = NULL
,@cascade                               bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT 1 FROM benefit_contract_period WHERE benefit_contract_period_id = @benefit_contract_period_id )
BEGIN
-- RAISERROR('benefit_contract_period object not found in benefit_contract_period for internal key %d.', 16, 1, @benefit_contract_period_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--
--
--  END
--
delete from benefit_contract_period_accumulator_carryover
where benefit_contract_period_id=@benefit_contract_period_id

delete from benefit_contract_period_lock
where benefit_contract_period_id=@benefit_contract_period_id

delete from benefit_contract_period_status
where benefit_contract_period_id=@benefit_contract_period_id

delete from benefit_id_card
where benefit_contract_period_id=@benefit_contract_period_id


DELETE FROM benefit_contract_period
WHERE benefit_contract_period_id = @benefit_contract_period_id
END
--
RETURN @SP_SUCCESS
--
GO
