USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_plan_level_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 2013/11/08
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2013/11/08        lrenard            creation of drop down load for plan level table
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down plan_level
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_plan_level_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
plan_level_id
,plan_level_ud
,golden_key

FROM plan_level

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
