USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tax_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:HungTNguyen
03/01/2006   8:45AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down tax_group (Account Tax Group ID)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dd_tax_group_load]


AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
tax_group.tax_group_id
,tax_group.tax_group_ud
,tax_group.tax_group_nm

FROM tax_group

order by tax_group.tax_group_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
--     RAISERROR('tax_group_dd object not found in tax_group for internal key %d.', 16, 1, @tax_group_id)
RETURN @SP_EXCEPTION
END
--
GO
