USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/31/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save accumulator framework info.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_save]
(
@accumulator_framework_id									int = NULL   OUTPUT
,@accumulator_framework_ud									nvarchar(100) = NULL
,@accumulator_framework_nm									nvarchar(100) = NULL
,@accumulatordescription									nvarchar(510) = NULL
,@usage_scope_id											int = NULL
,@active													bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

--
IF @accumulator_framework_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_framework(
accumulator_framework_ud
,accumulator_framework_nm
,description
,usage_scope_id
,active
)
VALUES
(@accumulator_framework_ud
,@accumulator_framework_nm
,@accumulatordescription
,@usage_scope_id
,@active
)
--
SET @accumulator_framework_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM accumulator_framework WHERE accumulator_framework_id = @accumulator_framework_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record

DECLARE @ErrorVar int, @RowCountVar int


UPDATE accumulator_framework
SET
accumulator_framework_ud                 = @accumulator_framework_ud
,accumulator_framework_nm                 = @accumulator_framework_nm
,description                              = @accumulatordescription
,usage_scope_id                           = @usage_scope_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_framework_id = @accumulator_framework_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


END
--
RETURN @SP_SUCCESS
--
GO
