USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/22/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/22/2008	David Slayton	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save data for form frmClaimPaymentQueue

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_queue_id
@claim_payment_queue_ud
@description
@schedule_form_id
@review_period
@unit_day_week_month_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_payment_queue_save]
(
@claim_payment_queue_id    INT = 0   OUTPUT
,@claim_payment_queue_ud    NVARCHAR(100) = NULL
,@description           NVARCHAR(200) = NULL
,@schedule_form_id		INT = NULL
,@review_period			INT = NULL
,@unit_day_week_month_id	INT = NULL
,@no_benefits               BIT = NULL
,@active                BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@claim_payment_queue_id, 0) = 0
BEGIN
INSERT INTO claim_payment_queue(
claim_payment_queue_ud
,description
,schedule_form_id
,review_period
,unit_day_week_month_id
,no_benefits
,active
)
VALUES
(@claim_payment_queue_ud
,@description
,@schedule_form_id
,@review_period
,@unit_day_week_month_id
,@no_benefits
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @claim_payment_queue_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM claim_payment_queue WHERE claim_payment_queue_id = @claim_payment_queue_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE claim_payment_queue
SET
claim_payment_queue_ud		= @claim_payment_queue_ud
,description				= @description
,schedule_form_id		= @schedule_form_id
,review_period			= @review_period
,unit_day_week_month_id	= @unit_day_week_month_id
,no_benefits            = @no_benefits
,active                  = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_payment_queue_id = @claim_payment_queue_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
