USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_lastest_member_eligibility_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 23/11/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
23/11/2006	Tinh Do			1.0	  		Add mapping coloumn
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to get the lasted member eligibility to return
Eligibility field when open Find Member and Eligibilty and New member eligibility
on Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_lastest_member_eligibility_load]
(
@family_eligibility_id			INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
,family_eligibility_member_benefit_plan.member_eligibility_ud

FROM family_eligibility_member_benefit_plan
INNER JOIN
(
SELECT family_eligibility_member.family_eligibility_id
,MAX(family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id) AS member_eligibility_id
FROM family_eligibility_member_benefit_plan
INNER JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
WHERE family_eligibility_member.family_eligibility_id = @family_eligibility_id
GROUP BY family_eligibility_member.family_eligibility_id
) member_egilibility ON member_egilibility.member_eligibility_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id

RETURN @SP_SUCCESS
GO
