USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_governmental_health_plan_claim_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Apr  4 2006  6:56PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/4/2006      HungTNguyen     1.0             Create
10/19/2011 cknobloch     1.1        Associated Claim/Contacts tab for Gov Rows and RT 1677

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Associated Claims"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_cob_member_governmental_health_plan_claim_list_load]

(
@cob_member_other_insurance_plan_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cob_member_governmental_health_plan_claim.cob_member_governmental_health_plan_claim_id
,cob_member_governmental_health_plan_claim.cob_member_governmental_health_plan_id
,cob_member_governmental_health_plan_claim.claim_id
,claim.claim_ud


,claim_form_type.claim_form_type_ud
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'BILLED'), 0) as claim_amount
,adjudication_status.adjudication_status_ud as claim_status
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, NULL) AS provider_name



,cob_member_governmental_health_plan_claim.comment



,cob_member_governmental_health_plan_claim.active
,cob_member_governmental_health_plan_claim.created_user_name
,cob_member_governmental_health_plan_claim.created_group_id

,cob_member_governmental_health_plan_claim.created_date
,cob_member_governmental_health_plan_claim.modified_date
FROM cob_member_governmental_health_plan_claim
left  join claim  ON claim.claim_id = cob_member_governmental_health_plan_claim.claim_id
left  join claim_form_type  ON claim_form_type.claim_form_type_id = claim.claim_form_type_id
left  join adjudication_status on adjudication_status.adjudication_status_id=claim.adjudication_status_id
LEFT  JOIN dbo.provider_identifier p ON p.provider_identifier_id = claim.provider_identifier_id
LEFT  JOIN dbo.provider_name pn ON (pn.provider_id = p.provider_id AND pn.is_primary = 1)

WHERE cob_member_governmental_health_plan_claim.cob_member_governmental_health_plan_id = @cob_member_other_insurance_plan_id
ORDER BY claim.claim_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
