USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_individual_invoice_frequency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2016	eponomareff		1.0			RT:10282 - Individual Premium Billing
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down for invoice frequency
set on the Enrollment popup form Individual Billing.

NOTE - For Individual Billing, Invoice Frequencies are limited to:

Annually
Semiannually
Quarterly
Monthly

--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_individual_invoice_frequency_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
frequency.frequency_id
,frequency.frequency_ud
,golden_key
FROM frequency
WHERE
golden_key in
(
'Annually',
'Semiannually',
'Quarterly',
'Monthly'
)

ORDER BY sort_order
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
