USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_capitation_payment_update_payment_related_statuses]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_capitation_payment_update_payment_related_statuses]
@paymentDetailId INT
AS

SET NOCOUNT ON;

-- There is a function that is used to get the unapplied amounts for a transaction.  This function has some performance problems at
-- times when dealing with a volume of transactions.  This code intentionally does not use that function (don't put it back).  It is
-- not always immediately obvious that the function will be the cause of performance issues.

DECLARE
@paymentStatusVoided INT,
@paymentStatusEntered INT;

SELECT @paymentStatusVoided = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'VOIDED');
SELECT @paymentStatusEntered = (SELECT accounting_payment_status_id FROM accounting_payment_status WHERE golden_key = 'ENTERED');

IF OBJECT_ID('tempdb..#applied_amounts') IS NOT NULL
DROP TABLE #applied_amounts;

CREATE TABLE #applied_amounts
(
accounting_transaction_ap_id INT NOT NULL,
applied_amount NUMERIC(19,4) NOT NULL
);

;WITH in_payment (accounting_transaction_ap_id) AS
(
SELECT DISTINCT
apto.to_accounting_transaction_ap_id
FROM
accounting_transaction_ap_payment_detail pd
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = pd.accounting_transaction_ap_id
WHERE
pd.accounting_transaction_ap_payment_detail_id = @paymentDetailId
)
INSERT INTO #applied_amounts
(
accounting_transaction_ap_id,
applied_amount
)
SELECT
apto.to_accounting_transaction_ap_id,
SUM(ISNULL(apto.amount,0))
FROM
in_payment ip
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.to_accounting_transaction_ap_id = ip.accounting_transaction_ap_id
INNER JOIN accounting_transaction_ap_payment_detail pd
ON pd.accounting_transaction_ap_id = apto.from_accounting_transaction_ap_id
WHERE
pd.accounting_payment_status_id NOT IN (@paymentStatusVoided, @paymentStatusEntered)
GROUP BY
apto.to_accounting_transaction_ap_id;

CREATE INDEX IDX_plx_disbursement_applied_amounts_accounting_transaction_ap_id ON #applied_amounts (accounting_transaction_ap_id);

IF OBJECT_ID('tempdb..#transactions') IS NOT NULL
DROP TABLE #transactions;

CREATE TABLE #transactions
(
accounting_transaction_ap_id INT NOT NULL,
unapplied_amount NUMERIC(19,4),
capitation_summary_id INT,
capitation_manual_run_detail_id INT
);

;WITH in_payment (accounting_transaction_ap_id) AS
(
SELECT DISTINCT
apto.to_accounting_transaction_ap_id
FROM
accounting_transaction_ap_payment_detail pd
INNER JOIN accounting_transaction_ap_apply_to apto
ON apto.from_accounting_transaction_ap_id = pd.accounting_transaction_ap_id
WHERE
pd.accounting_transaction_ap_payment_detail_id = @paymentDetailId
)
INSERT INTO #transactions
(
accounting_transaction_ap_id,
unapplied_amount,
capitation_summary_id,
capitation_manual_run_detail_id
)
SELECT
ip.accounting_transaction_ap_id,
atap.transaction_amount - ISNULL(aa.applied_amount, 0),
s.capitation_summary_id,
m.capitation_manual_run_detail_id
FROM
in_payment ip
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = ip.accounting_transaction_ap_id
LEFT JOIN #applied_amounts aa
ON aa.accounting_transaction_ap_id = ip.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_capitation_summary_detail s
ON s.accounting_transaction_ap_id = ip.accounting_transaction_ap_id
LEFT JOIN accounting_transaction_ap_capitation_manual_run_detail m
ON m.accounting_transaction_ap_id = ip.accounting_transaction_ap_id;

DECLARE
@accountingTransactionStatusPaid INT,
@accountingTransactionStatusAvailable INT;

SELECT @accountingTransactionStatusPaid = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'PAID');
SELECT @accountingTransactionStatusAvailable = (SELECT accounting_transaction_status_id FROM accounting_transaction_status WHERE golden_key = 'AVAILABLE');

-- Update transactions statuses
UPDATE
atap
SET
atap.accounting_transaction_status_id =
CASE
WHEN t.unapplied_amount = 0
THEN @accountingTransactionStatusPaid
ELSE @accountingTransactionStatusAvailable
END
FROM
#transactions t
INNER JOIN accounting_transaction_ap atap
ON atap.accounting_transaction_ap_id = t.accounting_transaction_ap_id;

DECLARE
@capitationStatusPaid INT,
@capitationStatusInAccounting INT,
@capitationRunStatusPaid INT,
@capitationRunStatusInAccounting INT,
@capitationManualRunStatusPaid INT,
@capitationManualRunStatusInAccounting INT;

SELECT @capitationStatusPaid = (SELECT capitation_status_id FROM capitation_status WHERE golden_key = 'PAID');
SELECT @capitationStatusInAccounting = (SELECT capitation_status_id FROM capitation_status WHERE golden_key = 'IN_ACCOUNTING');
SELECT @capitationRunStatusPaid = (SELECT capitation_run_status_id FROM capitation_run_status WHERE golden_key = 'PAID');
SELECT @capitationRunStatusInAccounting = (SELECT capitation_run_status_id FROM capitation_run_status WHERE golden_key = 'IN_ACCOUNTING');
SELECT @capitationManualRunStatusPaid = (SELECT capitation_manual_run_status_id FROM capitation_manual_run_status WHERE golden_key = 'PAID');
SELECT @capitationManualRunStatusInAccounting = (SELECT capitation_manual_run_status_id FROM capitation_manual_run_status WHERE golden_key = 'IN_ACCOUNTING');

/*** Update Capitation Summary and Capitation Run Statuses ***/
UPDATE
s
SET
s.capitation_status_id =
CASE
WHEN t.unapplied_amount = 0
THEN @capitationStatusPaid
ELSE @capitationStatusInAccounting
END
FROM
capitation_summary s
INNER JOIN #transactions t
ON t.capitation_summary_id = s.capitation_summary_id;

DECLARE @capitationRuns TABLE
(
capitation_run_id INT
);

INSERT INTO @capitationRuns (capitation_run_id)
SELECT DISTINCT s.capitation_run_id
FROM
capitation_summary s
INNER JOIN #transactions t
ON t.capitation_summary_id = s.capitation_summary_id;

-- update run status to paid if all summary records for the run are paid
-- update run status to in accounting if any summary record for run is not paid
UPDATE r
SET capitation_run_status_id =
CASE
WHEN capitation_run_total.total_number_of_summaries = ISNULL(capitation_run_paid.number_of_summaries_paid, 0)
THEN @capitationRunStatusPaid
ELSE @capitationRunStatusInAccounting
END
FROM
capitation_run r
INNER JOIN
(
SELECT
cs.capitation_run_id,
COUNT(*) total_number_of_summaries
FROM
capitation_summary cs
INNER JOIN
@capitationRuns cr
ON cr.capitation_run_id = cs.capitation_run_id
GROUP BY
cs.capitation_run_id
) capitation_run_total
ON r.capitation_run_id = capitation_run_total.capitation_run_id
LEFT JOIN
(
SELECT
cs.capitation_run_id,
count(*) number_of_summaries_paid
FROM
capitation_summary cs
INNER JOIN
@capitationRuns cr ON cr.capitation_run_id = cs.capitation_run_id
WHERE
cs.capitation_status_id = @capitationStatusPaid
GROUP BY
cs.capitation_run_id
) capitation_run_paid ON capitation_run_paid.capitation_run_id = capitation_run_total.capitation_run_id;

/*** Update Capitation Manual Detail and Capitation Manual Run Statuses ***/
UPDATE
m
SET
m.capitation_status_id =
CASE
WHEN t.unapplied_amount = 0
THEN @capitationStatusPaid
ELSE @capitationStatusInAccounting
END
FROM
capitation_manual_run_detail m
INNER JOIN #transactions t
ON t.capitation_manual_run_detail_id = m.capitation_manual_run_detail_id;

DECLARE @capitationManualRuns TABLE
(
capitation_manual_run_id INT
);

INSERT INTO @capitationManualRuns (capitation_manual_run_id)
SELECT DISTINCT r.capitation_manual_run_id
FROM
capitation_manual_run r
INNER JOIN capitation_manual_run_detail m
ON m.capitation_manual_run_id = r.capitation_manual_run_id
INNER JOIN #transactions t
ON t.capitation_manual_run_detail_id = m.capitation_manual_run_detail_id;

-- update manual runs status to paid if all detail records for the manual run are paid
-- update manual runs status to in accounting if any detail record for manual run is not paid
UPDATE mr
SET capitation_manual_run_status_id =
CASE
WHEN capitation_run_total.total_number_of_details = ISNULL(capitation_run_paid.number_of_details_paid, 0)
THEN @capitationManualRunStatusPaid
ELSE @capitationManualRunStatusInAccounting
END
FROM
capitation_manual_run mr
INNER JOIN
(
SELECT
mrd.capitation_manual_run_id,
COUNT(*) total_number_of_details
FROM
capitation_manual_run_detail mrd
INNER JOIN
@capitationManualRuns cmr ON cmr.capitation_manual_run_id = mrd.capitation_manual_run_id
GROUP BY
mrd.capitation_manual_run_id
) capitation_run_total
ON mr.capitation_manual_run_id = capitation_run_total.capitation_manual_run_id
LEFT JOIN
(
SELECT
mrd.capitation_manual_run_id,
COUNT(*) number_of_details_paid
FROM
capitation_manual_run_detail mrd
INNER JOIN
@capitationManualRuns cmr ON cmr.capitation_manual_run_id = mrd.capitation_manual_run_id
WHERE
mrd.capitation_status_id = @capitationStatusPaid
GROUP BY
mrd.capitation_manual_run_id
) capitation_run_paid ON capitation_run_paid.capitation_manual_run_id = capitation_run_total.capitation_manual_run_id;
GO
