USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_summary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
-------------------------------------------------------------------------------
08/19/2009	ioveracker		1.0			Created.
--
DESCRIPTION:
This procedure populates the controls on the Claim Summary form.
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_summary_load]
(
@claim_id	INT = NULL
) AS

DECLARE @SP_SUCCESS INT
SELECT @SP_SUCCESS = 0

SELECT
c.claim_id
-- Claim Number
,c.claim_ud

-- Claim form type
,c.claim_form_type_id
,cft.claim_form_type_ud
,cft.golden_key AS claim_form_type_golden_key

-- Claim Status
,c.adjudication_status_id
,adj_s.adjudication_status_ud

-- Episode ID
,c.episode_id
,e.episode_ud

-- Patient Name
,dbo.plx_ConcatenateName(
member_name.name_last,
member_name.name_first,
member_name.name_middle,
member_name.name_suffix) AS full_patient_name

-- Patient Eligibility ID
,c.family_eligibility_member_benefit_plan_id AS member_eligibility_id
,fembp.member_eligibility_ud

-- Provider Name
,dbo.plx_ConcatenateName(
pn.name_last,
pn.name_first,
pn.name_middle,
null) AS full_provider_name

-- Provider ID
,c.provider_id
,pi.provider_ud

-- Total Billed
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'BILLED'), 0) as total_billed

-- Total Amount
,ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'NETPAYAMOUNT'), 0) as total_amount

FROM claim c
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN adjudication_status adj_s ON adj_s.adjudication_status_id = c.adjudication_status_id
LEFT JOIN episode e ON e.episode_id = c.episode_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN member ON member.member_id = fem.member_id
LEFT JOIN member_name ON member.member_id = member_name.member_id
LEFT JOIN provider p ON p.provider_id = c.provider_id
LEFT JOIN provider_name pn ON pn.provider_id = p.provider_id
LEFT JOIN provider_identifier pi ON pi.provider_identifier_id = c.provider_identifier_id
WHERE c.claim_id = @claim_id

RETURN @SP_SUCCESS
GO
