USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_group_diagnosis_code_exclude_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thang T Nguyen
Date: 08/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/16/2005	Thang T Nguyen	1.0		change from inner to left join
09/07/2013	eponomareff		1.1		added diagnosis_code_version_id to grid
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This stored procedure is used in the Exclude Codes grid of the Diagnosis Code Group form
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_group_diagnosis_code_exclude_load]
(
@diagnosis_code_group_id	Int = null
,@exclude_current_show_only		bit = 0 --added this parameter (08/10/2005)
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

declare @current_date	datetime
set @current_date = getdate()


if (@exclude_current_show_only = 0)
begin
SELECT
diagnosis_code_group_diagnosis_code.diagnosis_code_group_diagnosis_code_id

,diagnosis_code_group_diagnosis_code.diagnosis_code_group_id
,diagnosis_code_group.diagnosis_code_group_ud

-- add diagnosis code ICD version to grid
,diagnosis_code_group_diagnosis_code.diagnosis_code_version_id
,diagnosis_code_version.diagnosis_code_version_ud

,diagnosis_code_group_diagnosis_code.beginning_diagnosis_code_id
,beginning_diagnosis_code.diagnosis_code_ud as beginning_diagnosis_code_ud

,diagnosis_code_group_diagnosis_code.ending_diagnosis_code_id
,ending_diagnosis_code.diagnosis_code_ud as ending_diagnosis_code_ud

,diagnosis_code_group_diagnosis_code.effective_from
,diagnosis_code_group_diagnosis_code.effective_thru
,diagnosis_code_group_diagnosis_code.is_excluded
FROM diagnosis_code_group_diagnosis_code
left join diagnosis_code_group  ON diagnosis_code_group.diagnosis_code_group_id = diagnosis_code_group_diagnosis_code.diagnosis_code_group_id
left join diagnosis_code_version ON diagnosis_code_version.diagnosis_code_version_id = diagnosis_code_group_diagnosis_code.diagnosis_code_version_id
left join diagnosis_code beginning_diagnosis_code  ON beginning_diagnosis_code.diagnosis_code_id = diagnosis_code_group_diagnosis_code.beginning_diagnosis_code_id
left join diagnosis_code ending_diagnosis_code  ON ending_diagnosis_code.diagnosis_code_id = diagnosis_code_group_diagnosis_code.ending_diagnosis_code_id
WHERE (diagnosis_code_group_diagnosis_code.diagnosis_code_group_id = @diagnosis_code_group_id) and (diagnosis_code_group_diagnosis_code.is_excluded = 1)
ORDER BY
CASE WHEN diagnosis_code_group_diagnosis_code.effective_from IS NULL THEN 0 ELSE 1 END , diagnosis_code_group_diagnosis_code.effective_from DESC
,CASE WHEN diagnosis_code_group_diagnosis_code.effective_thru IS NULL THEN 0 ELSE 1 END , diagnosis_code_group_diagnosis_code.effective_thru DESC
end
else
begin
SELECT
diagnosis_code_group_diagnosis_code.diagnosis_code_group_diagnosis_code_id

,diagnosis_code_group_diagnosis_code.diagnosis_code_group_id
,diagnosis_code_group.diagnosis_code_group_ud

-- add diagnosis code ICD version to grid
,diagnosis_code_group_diagnosis_code.diagnosis_code_version_id
,diagnosis_code_version.diagnosis_code_version_ud

,diagnosis_code_group_diagnosis_code.beginning_diagnosis_code_id
,beginning_diagnosis_code.diagnosis_code_ud as beginning_diagnosis_code_ud

,diagnosis_code_group_diagnosis_code.ending_diagnosis_code_id
,ending_diagnosis_code.diagnosis_code_ud as ending_diagnosis_code_ud

,diagnosis_code_group_diagnosis_code.effective_from
,diagnosis_code_group_diagnosis_code.effective_thru
,diagnosis_code_group_diagnosis_code.is_excluded
FROM diagnosis_code_group_diagnosis_code
left join diagnosis_code_group  ON diagnosis_code_group.diagnosis_code_group_id = diagnosis_code_group_diagnosis_code.diagnosis_code_group_id
left join diagnosis_code_version ON diagnosis_code_version.diagnosis_code_version_id = diagnosis_code_group_diagnosis_code.diagnosis_code_version_id
left join diagnosis_code beginning_diagnosis_code  ON beginning_diagnosis_code.diagnosis_code_id = diagnosis_code_group_diagnosis_code.beginning_diagnosis_code_id
left join diagnosis_code ending_diagnosis_code  ON ending_diagnosis_code.diagnosis_code_id = diagnosis_code_group_diagnosis_code.ending_diagnosis_code_id
WHERE (diagnosis_code_group_diagnosis_code.diagnosis_code_group_id = @diagnosis_code_group_id)
and (diagnosis_code_group_diagnosis_code.is_excluded = 1)
and (@current_date >= diagnosis_code_group_diagnosis_code.effective_from)
and ((@current_date <= diagnosis_code_group_diagnosis_code.effective_thru)
or
(diagnosis_code_group_diagnosis_code.effective_thru is null))
ORDER BY
CASE WHEN diagnosis_code_group_diagnosis_code.effective_from IS NULL THEN 0 ELSE 1 END , diagnosis_code_group_diagnosis_code.effective_from DESC
,CASE WHEN diagnosis_code_group_diagnosis_code.effective_thru IS NULL THEN 0 ELSE 1 END , diagnosis_code_group_diagnosis_code.effective_thru DESC
end



--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
