USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_accounting_info_line_sequence]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Form: Claim Accounting Information form
Populates an ordered list of claim lines, ordered by claim line sequence
******************************/
CREATE PROCEDURE [dbo].[plx_claim_accounting_info_line_sequence]
(
@claim_procedure_id INT = 0
)
AS

DECLARE @claim_id INT = (SELECT claim_id
FROM claim_procedure
WHERE claim_procedure_id = @claim_procedure_id);

SELECT
cp.claim_procedure_id,
cp.claim_line_sequence,
c.claim_id,
c.claim_ud
FROM
claim_procedure cp
JOIN claim c ON c.claim_id = cp.claim_id
WHERE
c.claim_id = ISNULL(@claim_id, 0)
ORDER BY
cp.claim_line_sequence, cp.claim_procedure_id;

RETURN 0
GO
