USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_void_execute_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
DATE: 02/17/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/17/2012	Aaron Mortensen	1.0		Created from plx_accounting_transaction_ap_execute_load.
2014-08-19	eponomareff		RT:6046 Tombstone modifications
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
void customer payment save
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_void_execute_save]
(
@accounting_transaction_ar_id					INT = NULL OUTPUT,
@accounting_transaction_ar_void_reason_id		INT = NULL,
@void_date										DATETIME = NULL,
@voided_by										NVARCHAR(128) = NULL,
@comments										NVARCHAR(300) = NULL,
@active											BIT = 1
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

DECLARE @accounting_transaction_status_id INT

SELECT @accounting_transaction_status_id = accounting_transaction_status_id
FROM accounting_transaction_status
WHERE golden_key = 'VOIDED'

DECLARE @ErrorVar INT, @RowCountVar INT

-- Update accounting_transaction_ar record
UPDATE dbo.accounting_transaction_ar
SET
accounting_transaction_ar_void_reason_id	= @accounting_transaction_ar_void_reason_id,
accounting_transaction_status_id			= @accounting_transaction_status_id,
comments									= @comments,
void_date									= @void_date,
voided_by									= @voided_by,
active										= @active
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()

WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id


SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

-- Update the status in accounting_transaction_ar_payment_detail record if one exists
IF EXISTS (SELECT * FROM accounting_transaction_ar_payment_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id)
BEGIN
DECLARE @accounting_payment_status_id INT

SELECT @accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status
WHERE golden_key = 'VOIDED'

UPDATE dbo.accounting_transaction_ar_payment_detail
SET
accounting_payment_status_id	= @accounting_payment_status_id
,modified_user_name 	=	ORIGINAL_LOGIN()
,modified_date 	= 	GETDATE()
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id
END

--Create new void distributions for accounting_transaction_ar
INSERT INTO dbo.accounting_transaction_ar_distribution(
accounting_transaction_ar_id,
accounting_company_account_id,
is_debit,
amount
)
SELECT
accounting_transaction_ar_id,
accounting_company_account_id,
--Flip the is_debit bit to reverse direction of distributions
CASE is_debit
WHEN 1 THEN 0
WHEN 0 THEN 1
END,
amount
FROM dbo.accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id


--TODO:	Design has yet to determine whether applied to amounts should be set to 0 or not.
--			Commenting out to keep as is. If design changes their mind, just uncomment. UI already updated
--			to handle change if needed.

--Set amount_to 0 for all transactions this payment was applied to.
--UPDATE dbo.accounting_transaction_ar_apply_to
--SET amount = 0.0
--WHERE from_accounting_transaction_ar_id = @accounting_transaction_ar_id

--
RETURN @SP_SUCCESS
GO
