USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_ar_acct_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_accounting_transaction_ar_acct_load]
@accounting_company_id int = NULL
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT  accounting_company_account_id,
accounting_company_account_ud,
astat.golden_key
FROM accounting_company_account aca
INNER JOIN account_category ac ON ac.account_category_id = aca.account_category_id
INNER JOIN account_status astat ON aca.account_status_id = astat.account_status_id
WHERE
aca.accounting_company_id = @accounting_company_id
AND ac.golden_key = 'AR'
--
RETURN @SP_SUCCESS
--
GO
