USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_customer_refund_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Saves a Customer Refund
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_customer_refund_save]
(
@accounting_transaction_ar_id                 INT = NULL OUTPUT -- This param must be first!
,@accounting_transaction_ar_refund_detail_id  INT = NULL  OUTPUT
-- accounting_transaction_ar table
-- no ud, because it is auto-generated and may not be edited
,@transaction_date                             DATE = NULL
,@customer_id                                  INT
,@accounting_company_id                        INT
,@refund_amount                                NUMERIC(20, 10) = NULL
-- accounting_transaction_ar_refund_detail table
,@ar_accounting_company_account_id             INT
,@bank_account_id                              INT
,@payment_method_customer_id                   INT = NULL
,@accounting_payment_status_id                 INT = NULL
,@check_ach_reference                          NVARCHAR(20) = NULL
,@memo                                         NVARCHAR(100) = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= '';

DECLARE
@REFUND_accounting_transaction_type_id INT;

SELECT  @REFUND_accounting_transaction_type_id = accounting_transaction_ar_type_id
FROM    accounting_transaction_ar_type
WHERE   golden_key = 'AR_REFUND';
--
IF @accounting_transaction_ar_refund_detail_id IS NULL
BEGIN
-- Get the autogenerated Customer UD
DECLARE @customer_refund_ud NVARCHAR(100)
EXEC plx_auto_create_accounting_customer_payment_id_rule @customer_id, @customer_refund_ud OUTPUT

INSERT INTO accounting_transaction_ar(
accounting_transaction_ar_ud,
customer_id,
accounting_company_id,
accounting_transaction_ar_type_id,
transaction_date,
transaction_amount
)
VALUES
(
@customer_refund_ud,
@customer_id,
@accounting_company_id,
@REFUND_accounting_transaction_type_id,
@transaction_date,
ISNULL(@refund_amount, 0)
);

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT);

SET @accounting_transaction_ar_id = @@IDENTITY;

INSERT INTO accounting_transaction_ar_refund_detail(
ar_accounting_company_account_id,
bank_account_id,
accounting_transaction_ar_id,
payment_method_customer_id,
accounting_payment_status_id,
check_ach_reference,
memo
)
VALUES
(
@ar_accounting_company_account_id,
@bank_account_id,
@accounting_transaction_ar_id,
@payment_method_customer_id,
@accounting_payment_status_id,
@check_ach_reference,
@memo
);

SET @accounting_transaction_ar_refund_detail_id = @@IDENTITY;
END
ELSE IF NOT EXISTS
(SELECT * FROM accounting_transaction_ar_refund_detail detail
JOIN accounting_transaction_ar ata
ON detail.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE detail.accounting_transaction_ar_id = @accounting_transaction_ar_id )
BEGIN
RETURN @SP_EXCEPTION;
END
ELSE
BEGIN
DECLARE
@ErrorVar INT,
@RowCountVar INT;

--Update transaction record	(transaction of type refund)
UPDATE accounting_transaction_ar
SET
transaction_amount					= @refund_amount,
transaction_date                    = @transaction_date,
customer_id							= @customer_id,
accounting_company_id				= @accounting_company_id,
accounting_transaction_ar_type_id	= @REFUND_accounting_transaction_type_id,
modified_user_name                  = ORIGINAL_LOGIN(),
modified_date                       = GETDATE()
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id;

SELECT
@ErrorVar = @@ERROR,
@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE);
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED);

-- Update payment details record
UPDATE accounting_transaction_ar_refund_detail
SET
accounting_transaction_ar_id     = @accounting_transaction_ar_id,
ar_accounting_company_account_id = @ar_accounting_company_account_id,
bank_account_id                  = @bank_account_id,
payment_method_customer_id       = @payment_method_customer_id,
accounting_payment_status_id     = @accounting_payment_status_id,
check_ach_reference              = @check_ach_reference,
memo                             = @memo,
modified_user_name               = ORIGINAL_LOGIN(),
modified_date                    = GETDATE()
WHERE
accounting_transaction_ar_refund_detail_id = @accounting_transaction_ar_refund_detail_id;
END

RETURN @SP_SUCCESS;
GO
