USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_payment_grouping_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used on UI Client form, field Premium Payment Grouping Rule
******************************/
CREATE PROCEDURE [dbo].[plx_dd_premium_payment_grouping_rule_load]
AS

BEGIN

SELECT
premium_payment_grouping_rule_id,
premium_payment_grouping_rule_ud
FROM premium_payment_grouping_rule
ORDER BY premium_payment_grouping_rule_ud;

RETURN 0

END
GO
