USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION: loads the reviewed and claim lock status for a claim timely playment queue detail record.
--
REQUIREMENTS:
--
INPUTS:
@claim_timely_payment_queue_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_timely_payment_queue_detail_load]
(
@claim_timely_payment_queue_detail_id		INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@CLAIM_LOCK_TYPE_ID INT

SELECT
@SP_SUCCESS = 0

SELECT @CLAIM_LOCK_TYPE_ID = concurrency_lock_type_id FROM concurrency_lock_type WHERE golden_key = 'CLAIM'

SELECT
detail.claim_timely_payment_queue_detail_id,
detail.claim_id,
CASE WHEN cl.concurrency_lock_type_id IS NULL THEN 0 ELSE 1 END as locked,
cl.security_user_name,
reviewed
FROM
claim_timely_payment_queue_detail detail
LEFT JOIN concurrency_lock cl
ON cl.record_id = detail.claim_id AND cl.concurrency_lock_type_id = @CLAIM_LOCK_TYPE_ID

WHERE
detail.claim_timely_payment_queue_detail_id = @claim_timely_payment_queue_detail_id

RETURN @SP_SUCCESS
GO
