USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_result_code_mapping_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 03/20/2013

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/20/2013	cmaddox		1.0			Created
--
DESCRIPTION:
Find all the Result Code Type Mappings based on the criteria entered on the form.

--
REQUIREMENTS:
--
INPUTS:
@result_code_mapping_nm		nvarchar(100) = NULL
,@description		nvarchar(200) = NULL
,@result_code_type_id 	int = NULL
,@show_exact_matches		bit = NULL

--
OUTPUTS:
a benefit contract record, or empty record
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                                 PROCEDURE [dbo].[plx_find_result_code_mapping_load]
(
@get_column_headers			BIT = 0
,@result_code_mapping_nm		nvarchar(100) = NULL
,@description	nvarchar(200) = NULL
,@result_code_type_id 	int = NULL
,@show_exact_matches		bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@Prefix		= ''
,@Suffix		= ''
--

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

DECLARE @strSQL nvarchar(4000)
DECLARE @WhereClause nvarchar(4000)

IF RTRIM(@result_code_mapping_nm) = ''
SET @result_code_mapping_nm = NULL

IF RTRIM(@description) = ''
SET @description = NULL

IF @result_code_type_id <= 0
SET @result_code_type_id = NULL

SET @strSQL =
'SELECT   DISTINCT TOP (dbo.fn_results_limit()) rcm.result_code_mapping_id
,rcm.result_code_mapping_nm
,rcm.description
,rct.result_code_type_ud
FROM
result_code_mapping rcm
JOIN
result_code_type rct ON
rcm.result_code_type_id = rct.result_code_type_id
'
SET @WhereClause = '
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

IF (dbo.plx_fn_need_find_on_criteria(@result_code_mapping_nm, @show_exact_matches) = 1)
SET @WhereClause = @WhereClause + ' AND (ISNULL(result_code_mapping_nm, '''')  ' + @Prefix + dbo.plx_EncodeStringWildCard(@result_code_mapping_nm, @show_exact_matches) + @Suffix

IF (dbo.plx_fn_need_find_on_criteria(@description, @show_exact_matches) = 1)
SET @WhereClause = @WhereClause + ' AND (ISNULL(rcm.description, '''')  ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @result_code_type_id IS NOT NULL AND @result_code_type_id > 0
SET @WhereClause = @WhereClause + ' AND (rcm.result_code_type_id = ' + str(@result_code_type_id) + ')'

--print @strSQL + @WhereClause
exec(@strSQL + @WhereClause)

--
IF @@ROWCOUNT >= 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
