USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_agent_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug 10 2006 10:13AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/8/2006     tvngo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_depreciation_agent_type table.
--
REQUIREMENTS:
--
INPUTS:
commission_depreciation_agent_type_id - Key to commission_depreciation_agent_type table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_commission_depreciation_agent_type_list_load]
(
@commission_depreciation_id			Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_depreciation_agent_type.commission_depreciation_agent_type_id
,commission_depreciation_agent_type.agent_type_id
,agent_type.description

FROM commission_depreciation_agent_type
LEFT JOIN commission_depreciation  ON commission_depreciation_agent_type.commission_depreciation_id = commission_depreciation.commission_depreciation_id
LEFT JOIN agent_type  ON commission_depreciation_agent_type.agent_type_id = agent_type.agent_type_id
WHERE commission_depreciation_agent_type.commission_depreciation_id = @commission_depreciation_id
--
RETURN @SP_SUCCESS
GO
