USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_frequency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
DESCRIPTION:
List of frequencies allowed for premium periods
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_premium_frequency_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
frequency_id as premium_frequency_id
,frequency_ud as premium_frequency_ud
,golden_key
FROM frequency
WHERE golden_key in
('Weekly',
'Bi-Weekly',
'Monthly',
'Bimonthly',
'Semimonthly',
'Quarterly',
'Semiannually',
'Annually')
ORDER BY sort_order DESC
--
RETURN @SP_SUCCESS
--
GO
