USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_detail_generate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_timely_payment_queue_detail_generate]
(
@claim_timely_payment_queue_id INT,
@date_from DATE,
@date_thru DATE
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SET NOCOUNT ON
-- clear the old results (while leaving the reviewed records - see plx_claim_timely_payment_queue_detail_clear
exec plx_claim_timely_payment_queue_detail_clear @claim_timely_payment_queue_id

UPDATE claim_timely_payment_queue SET generated_date = GETDATE()
WHERE claim_timely_payment_queue_id = @claim_timely_payment_queue_id

DECLARE @endQueryLine NVARCHAR(10) = NCHAR(13) + NCHAR(10) + NCHAR(9);


-- Queue Parameters
DECLARE
@claim_date_type_id INT,
@state_set_id INT,
@only_paper_claims BIT,
@claim_form_type_id INT,
@claim_adjudication_status_id INT,
@claim_procedure_adjudication_status_id INT,
@claim_payment_process_status_id INT

SELECT
@claim_date_type_id = claim_date_type_id,
@state_set_id = state_set_id,
@only_paper_claims = only_paper_claims,
@claim_form_type_id = claim_form_type_id,
@claim_adjudication_status_id = claim_adjudication_status_id,
@claim_procedure_adjudication_status_id = claim_procedure_adjudication_status_id,
@claim_payment_process_status_id = claim_payment_process_status_id
FROM
claim_timely_payment_queue
WHERE
claim_timely_payment_queue_id = @claim_timely_payment_queue_id

-- Create the temporary table for the filter results (without state set) to go into
CREATE TABLE #tmp_claim_results
(
claim_timely_payment_queue_id INT,
claim_id INT
)

-- Golden data
DECLARE	@CLEAN_ID INT,
@CLAIM_FORM_TYPE_ALL_CLAIMS_ID INT,
@RECIEVED_ID INT,
@OPEN_ADJ_STATUS_ID INT,
@PEND_ADJ_STATUS_ID INT,
@CLAIM_LOCK_TYPE_ID INT,
@CLAIM_FORM_TYPE_PRED_ID INT,
@DOS_ID	INT

SELECT @CLEAN_ID = claim_date_type_id from claim_date_type where golden_key = 'CLEAN'
SELECT @RECIEVED_ID = claim_date_type_id from claim_date_type where golden_key = 'RECEIVED'
SELECT @DOS_ID = claim_date_type_id from claim_date_type where golden_key = 'DOS'

SELECT @CLAIM_LOCK_TYPE_ID = concurrency_lock_type_id FROM concurrency_lock_type WHERE golden_key = 'CLAIM'
SELECT @CLAIM_FORM_TYPE_ALL_CLAIMS_ID = claim_form_type_id FROM claim_form_type WHERE golden_key = 'All Claims'
SELECT @CLAIM_FORM_TYPE_PRED_ID = claim_form_type_id FROM claim_form_type WHERE golden_key = 'Predetermination'

DECLARE @select NVARCHAR(max),
@where NVARCHAR(max),
@from	   NVARCHAR(max),
@full_query NVARCHAR(max)
-------------------------------------------------------------------------
-- Begin of filter criteria
-------------------------------------------------------------------------
SET @select = '
SELECT
@claim_timely_payment_queue_id as claim_timely_payment_queue_id,
c.claim_id
FROM
'
SET @from = '
claim c' + @endQueryLine
SET @where  = 'WHERE (1=1)'+@endQueryLine
SET @where  = @where  + 'AND c.paper_claim = @only_paper_claims' + @endQueryLine

IF @claim_date_type_id = @CLEAN_ID
SET @where  = @where  + 'AND c.clean_date BETWEEN @date_from AND @date_thru' + @endQueryLine
ELSE IF @claim_date_type_id = @RECIEVED_ID
SET @where  = @where  + 'AND c.received_date BETWEEN @date_from AND @date_thru' + @endQueryLine

IF @claim_adjudication_status_id IS NOT NULL
SET @where = @where + '
AND c.adjudication_status_id = @claim_adjudication_status_id' + @endQueryLine

IF @claim_form_type_id IS NOT NULL AND @claim_form_type_id <> @CLAIM_FORM_TYPE_ALL_CLAIMS_ID
SET @where = @where + '
AND c.claim_form_type_id = @claim_form_type_id' + @endQueryLine

-- Exclude PRE-D
SET @where = @where + '
AND c.claim_form_type_id <> @claim_form_type_pred_id' + @endQueryLine


IF @claim_procedure_adjudication_status_id IS NOT NULL
SET @where = @where + '
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
WHERE cp.adjudication_status_id = @claim_procedure_adjudication_status_id
) '

IF @claim_payment_process_status_id IS NOT NULL
SET @where = @where + '
AND c.claim_id IN
(
SELECT cp.claim_id FROM claim_procedure cp
WHERE cp.claim_payment_process_status_id = @claim_payment_process_status_id
) '

DECLARE @state_set_query NVARCHAR
SET @state_set_query = @endQueryLine

IF(@state_set_id IS NOT NULL)
BEGIN
-- The state set query needs to work on the smallest set of data possible and will use the existing query
-- to filter the results as much as possible, and will feed the state set query as a temporary table.
SET @state_set_query =
'
INSERT INTO #tmp_claim_states
(claim_id)
SELECT claim_id FROM claim

INTO
'
END


SET @full_query = @select + @from + @where
PRINT @full_query

INSERT INTO
#tmp_claim_results
(
claim_timely_payment_queue_id,
claim_id
)
EXEC sys.sp_executesql @full_query,
N'
@claim_timely_payment_queue_id INT,
@only_paper_claims INT,
@date_from DATE,
@date_thru DATE,
@claim_form_type_id INT,
@claim_adjudication_status_id INT,
@claim_procedure_adjudication_status_id INT,
@claim_payment_process_status_id INT,
@claim_form_type_pred_id INT',
@claim_timely_payment_queue_id,
@only_paper_claims,
@date_from,
@date_thru,
@claim_form_type_id,
@claim_adjudication_status_id,
@claim_procedure_adjudication_status_id,
@claim_payment_process_status_id,
@CLAIM_FORM_TYPE_PRED_ID

-- The state set query is the largest portion of the query.  Running the first query without the state set
-- in order to work on the smallest set of claims as possible.

IF @state_set_id IS NULL -- return the results without the state set filter
BEGIN
INSERT
INTO
claim_timely_payment_queue_detail
(
claim_timely_payment_queue_id,
claim_id
)
SELECT
claim_timely_payment_queue_id,
claim_id
FROM
#tmp_claim_results
RETURN
END


-- ****************************** RUN STATE SET FILTER QUERY ****************************************
PRINT 'Filtering preliminary results by state set criteria'
DECLARE @today AS DATE
SET @today = GETDATE()

CREATE TABLE #tmp_claim_states
(
claim_timely_payment_queue_id INT,
claim_id INT,
practice_office_id INT,
dos DATETIME,
resolved_provider_id INT,
resolved_provider_identifier_id INT,
state_id INT
)

CREATE TABLE #effective_state_criteria
(
state_id INT PRIMARY KEY
)

INSERT INTO #effective_state_criteria
(
state_id
)
SELECT state_id
FROM
state_set ss
JOIN state_set_detail ssd
ON ss.state_set_id = ssd.state_set_id
WHERE
ss.state_set_id = @state_set_id
AND
ssd.effective_from <= @today AND @today <= ISNULL(ssd.effective_thru, '9/9/9999')


-- Load the claim results into our claim states temporary table
INSERT INTO #tmp_claim_states
(claim_timely_payment_queue_id, claim_id)
SELECT claim_timely_payment_queue_id, claim_id
FROM #tmp_claim_results



-- set the practice office, the resolved provider, and DOS information for the claims in the temp table
UPDATE tc
SET
tc.practice_office_id = c.practice_office_id,
tc.dos = COALESCE(ic.statement_thru_date, resolved_claim_dos.dos),
resolved_provider_id = COALESCE(c.provider_id, c.billing_provider_id),
resolved_provider_identifier_id = COALESCE(c.provider_identifier_id, c.billing_provider_identifier_id)
FROM #tmp_claim_states tc
JOIN claim c
ON tc.claim_id = c.claim_id
JOIN
(
SELECT
cp.claim_id,
MIN(service_from_date) as dos
FROM
claim_procedure cp
GROUP BY cp.claim_id
) as resolved_claim_dos
ON tc.claim_id = resolved_claim_dos.claim_id
LEFT JOIN institutional_claim ic
ON c.claim_id = ic.claim_id


-- set the practice_office based on the provider_identifier only_at_practice_office field
UPDATE tc
SET
tc.practice_office_id = pi.only_practice_office_id
FROM #tmp_claim_states tc
INNER JOIN provider_identifier pi
ON tc.resolved_provider_identifier_id = pi.provider_identifier_id
WHERE
tc.practice_office_id IS NULL
AND
pi.only_practice_office_id IS NOT NULL

-- set the practice office from the provider practice office relationship
UPDATE tc
SET
tc.practice_office_id = ppo.practice_office_id
FROM #tmp_claim_states tc
INNER JOIN provider_practice_office ppo
ON tc.resolved_provider_id = ppo.provider_id
WHERE
tc.practice_office_id IS NULL
AND
ppo.default_practice_office = 1
AND
ppo.effective_from <= tc.dos AND tc.dos <= ISNULL(ppo.effective_thru, '9/9/9999')

-- At this point, we have an effective practice office, or we don't...
-- we could either delete the rows without practice_offices, or exclude them.

-- Get the state for the claim/practice office rows -> resolving all the way to state first due to the address not necessarily having a state_id.
-- (if we can determine for sure that there are no locales without states, then maybe we can make this a non-nullable field and get the states later...

-- Also, there may be more than one effective contact, we don't care which state matched, only that one of the contact's state was a match.

UPDATE tc
SET
tc.state_id = loc.state_id
FROM #tmp_claim_states tc
JOIN practice_office_contact poc
ON tc.practice_office_id = poc.practice_office_id
JOIN contact c
ON c.contact_id = poc.contact_id
JOIN contact_address ca
ON ca.contact_id = c.contact_id
JOIN address addr
ON addr.address_id = ca.address_id
JOIN locale loc
ON addr.locale_id = loc.locale_id
JOIN #effective_state_criteria s_crit
ON loc.state_id = s_crit.state_id
WHERE
ca.primary_for_contact = 1
AND
poc.is_primary = 1
AND
poc.effective_from <= tc.dos AND tc.dos <= ISNULL(poc.effective_thru, '9/9/9999')
AND
ca.effective_from <= tc.dos AND tc.dos <= ISNULL(ca.effective_thru, '9/9/9999')


-- Now we need to get the state by practice office address association
UPDATE tc
SET
tc.state_id = loc.state_id
FROM #tmp_claim_states tc
JOIN practice_office_address poa
ON tc.practice_office_id = poa.practice_office_id
JOIN address addr
ON addr.address_id = poa.address_id
JOIN locale loc
ON addr.locale_id = loc.locale_id
JOIN #effective_state_criteria s_crit
ON loc.state_id = s_crit.state_id
WHERE
tc.state_id IS NULL
-- note: primary_for_practice_office is a field in the table but it isn't displayed, and my data has it as null - so not using it.
AND
poa.effective_from <= tc.dos AND tc.dos <= ISNULL(poa.effective_thru, '9/9/9999')


-- Now we need to get the state provider address association
UPDATE tc
SET
tc.state_id = loc.state_id
FROM #tmp_claim_states tc
JOIN provider_address pa
ON tc.resolved_provider_identifier_id = pa.provider_identifier_id
JOIN address addr
ON addr.address_id = pa.address_id
JOIN locale loc
ON addr.locale_id = loc.locale_id
JOIN #effective_state_criteria s_crit
ON loc.state_id = s_crit.state_id
WHERE
tc.state_id IS NULL
AND
pa.effective_from <= tc.dos AND tc.dos <= ISNULL(pa.effective_thru, '9/9/9999')
-- Insert the resules into the detail table

INSERT
INTO
claim_timely_payment_queue_detail
(
claim_timely_payment_queue_id,
claim_id
)
SELECT
DISTINCT claim_timely_payment_queue_id,
claim_id
FROM #tmp_claim_states
WHERE state_id IS NOT NULL
END
GO
