USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_individual_accumulator_valid_choice_by_individual_accumulator_choice_list_id_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_individual_accumulator_valid_choice_by_individual_accumulator_choice_list_id_load]
(
@individual_accumulator_choice_list_id INT
)
AS
--
--
SET NOCOUNT ON
--
SELECT
avc.accumulator_valid_choice_id as individual_accumulator_valid_choice_id
,avc.valid_choice AS individual_accumulator_valid_choice_ud
FROM accumulator_valid_choice avc
WHERE avc.accumulator_choice_list_id = @individual_accumulator_choice_list_id
--
RETURN 0
GO
