USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_status_customer_refund_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Load Payment Status on Customer Refund Find form.
For Customer Refund, the statuses are limited to:

ENTERED
AVAILABLE
PAID
VOIDED

******************************/
CREATE PROCEDURE [dbo].[plx_dd_payment_status_customer_refund_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
aps.accounting_payment_status_id
,aps.accounting_payment_status_ud
,aps.golden_key
FROM accounting_payment_status aps
WHERE aps.golden_key in
('ENTERED',
'AVAILABLE',
'PAID',
'VOIDED')
ORDER BY aps.sort_order;
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
