USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_attachment_requirement_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachment requirements
Form: Global Configuration
Grid: Claim Document Requirements
--
******************************/
CREATE PROCEDURE [dbo].[plx_claim_attachment_requirement_list_load]
AS

SELECT
car.claim_attachment_requirement_id,
car.procedure_code_group_id,
pcg.procedure_code_group_ud,
car.claim_attachment_type_code_id,
cat.claim_attachment_type_code_ud,
cat.description as claim_attachment_type_code_description,
car.attached_result_code_id,
car.missing_result_code_id,
missing_rc.result_code_ud as missing_result_code_ud,
missing_rc.short_message as missing_result_code_short_message,
attached_rc.result_code_ud as attached_result_code_ud,
attached_rc.short_message as attached_result_code_short_message
FROM
dbo.claim_attachment_requirement car
JOIN dbo.claim_attachment_type_code cat
ON car.claim_attachment_type_code_id = cat.claim_attachment_type_code_id
JOIN dbo.procedure_code_group pcg
ON car.procedure_code_group_id= pcg.procedure_code_group_id
LEFT JOIN dbo.result_code missing_rc
ON car.missing_result_code_id  = missing_rc.result_code_id
LEFT JOIN dbo.result_code attached_rc
ON car.attached_result_code_id  = attached_rc.result_code_id

RETURN 0
GO
