USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_referring_provider_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Isaac Overacker
DATE: 08/04/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/04/2009	ioveracker	1.0		Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure loads the data from the referring_provider_rule table for use in populating a combo box.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_referring_provider_rule_load] AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
referring_provider_rule.referring_provider_rule_id
,referring_provider_rule.referring_provider_rule_ud
,golden_key
FROM referring_provider_rule

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
