USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_transport_get_id]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_transport_get_id]
@claim_id INT,
@claim_procedure_id INT = NULL
AS

IF @claim_procedure_id IS NOT NULL
SELECT claim_transport_id FROM claim_transport WHERE claim_procedure_id = @claim_procedure_id
ELSE
SELECT claim_transport_id FROM claim_transport WHERE claim_id = @claim_id AND claim_procedure_id IS NULL
RETURN 0
GO
