USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_procedure_code_exist_with_effective_date]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 07/26/2009
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
07/26/2009  Vishwa          1.0         Created
09/09/2016  AIO             2.0         Rewrote as parameterized query and added code types.
--
CURRENT_VERSION: 2.0
--
ICU:
--
DESCRIPTION:

This is used for checking procedure code ud exists with effective from date
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_check_procedure_code_exist_with_effective_date]
(
@procedure_code_id     INT = NULL,
@procedure_code_ud     NVARCHAR(50)= NULL,
@effective_from        DATETIME = NULL
)
AS

DECLARE
@sql NVARCHAR(2000);

SET @sql = '
SELECT DISTINCT
pc.procedure_code_id,
pc.procedure_code_ud,
pc.procedure_code_type_id,
pct.golden_key as ''procedure_code_type_golden_key'',
pc.effective_from,
pc.effective_thru
FROM
procedure_code pc
INNER JOIN procedure_code_type pct
ON pct.procedure_code_type_id = pc.procedure_code_type_id
WHERE
1=1';

IF ISNULL(@procedure_code_id,0) > 0
BEGIN
SET @sql = @sql +
'
AND pc.procedure_code_id = @id'
END

IF @procedure_code_ud IS NOT NULL AND @procedure_code_ud <> ''
BEGIN
SET @sql = @sql +
'
AND pc.procedure_code_ud = @ud'
END

exec sp_executesql
@stmt = @sql,
@params = N'@id INT, @ud NVARCHAR(50)',
@id = @procedure_code_id,
@ud = @procedure_code_ud
GO
