USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_payment_status_customer_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Feb 21, 2012 3:11pm   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
02/21/2012	AMortensen		1.0			Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load the status drop down on frmCustomerPayment.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_payment_status_customer_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_payment_status.accounting_payment_status_id
,accounting_payment_status.accounting_payment_status_ud
,accounting_payment_status.golden_key
FROM accounting_payment_status
Order by sort_order
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
