USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_member_name_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/03/2006		tinhdo		1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:

This procedure is used to get member name by family eligibility member id.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_member_member_name_load]
@family_eligibility_member_id		 INT = NULL
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_member_id
,dbo.plx_ConcatenateName (member_name.name_last,member_name.name_first,member_name.name_middle,NULL) AS member_name

FROM family_eligibility_member
INNER JOIN member_name ON member_name.member_id = family_eligibility_member.member_id

WHERE member_name.is_primary = 1
AND family_eligibility_member.family_eligibility_member_id = @family_eligibility_member_id
--

RETURN @SP_SUCCESS
--
END
GO
