USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
DATE: 06/06/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
06/07/2011		 Glenn Gutshall	  Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--

DESCRIPTION:
Saves data for complex_duplicate_claim_rule form from the operator/object assignment grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_complex_duplicate_claim_rule_object_operator_assignment_save]
(
@complex_duplicate_claim_rule_object_operator_assignment_id INT = NULL OUTPUT,
@complex_duplicate_claim_rule_id INT = NULL,
@complex_duplicate_claim_rule_object_id INT = NULL,
@complex_duplicate_claim_rule_operator_id INT = NULL
)

AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @complex_duplicate_claim_rule_object_operator_assignment_id IS NULL
BEGIN
INSERT INTO complex_duplicate_claim_rule_object_operator_assignment
(
complex_duplicate_claim_rule_id
,complex_duplicate_claim_rule_object_id
,complex_duplicate_claim_rule_operator_id
)
VALUES
(@complex_duplicate_claim_rule_id
,@complex_duplicate_claim_rule_object_id
,@complex_duplicate_claim_rule_operator_id
)
SELECT @complex_duplicate_claim_rule_object_operator_assignment_id	 = SCOPE_IDENTITY()
END
ELSE
BEGIN
UPDATE
complex_duplicate_claim_rule_object_operator_assignment
SET
complex_duplicate_claim_rule_id = @complex_duplicate_claim_rule_id
,complex_duplicate_claim_rule_object_id = @complex_duplicate_claim_rule_object_id
,complex_duplicate_claim_rule_operator_id = @complex_duplicate_claim_rule_operator_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
complex_duplicate_claim_rule_object_operator_assignment_id = @complex_duplicate_claim_rule_object_operator_assignment_id
END

IF @@ERROR = 0
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
