USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_summary_claim_summary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
-------------------------------------------------------------------------------
08/20/2009	ioveracker		1.0			Created.
04/22/2014	lrenard			2.0		RT:6047 - Base Supp - updated to call the [plx_fn_get_adjudication_amount_for_claim_procedure] function to consistently and properly calculate amounts
--
DESCRIPTION:
This procedure populates the Claim Summary grid on the Claim Summary form.
The Claim Summary grid displays an aggregation of certain adjudication object
amounts by claim line.
--
REQUIREMENTS:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_summary_claim_summary_load]
(
@claim_id INT = NULL
) AS

DECLARE @SP_SUCCESS INT
SET @SP_SUCCESS = 0

SELECT
ao.adjudication_object_id
,ao.adjudication_object_ud
,cast(ISNULL(dbo.plx_fn_claim_amount(@claim_id, ao.golden_key), 0) as nvarchar) as calculated_value
,ao.golden_key
,ao.ui_engine_data_type_id
,CASE
WHEN aos.order_to_show IS NULL
THEN ao.sort_order
ELSE aos.order_to_show
END AS order_to_show
FROM adjudication_amount as aa
INNER JOIN claim_procedure cp ON cp.claim_procedure_id = aa.claim_procedure_id
INNER JOIN claim c ON c.claim_id = cp.claim_id
LEFT JOIN adjudication_object ao ON ao.adjudication_object_id = aa.adjudication_object_id
LEFT JOIN adjudication_object_show aos ON aos.adjudication_object_id = ao.adjudication_object_id AND c.claim_form_type_id = aos.claim_form_type_id
LEFT JOIN adjudication_amount_override aav ON aa.adjudication_amount_id = aav.adjudication_amount_id
LEFT JOIN adjudication_object_type aot ON ao.adjudication_object_type_id = aot.adjudication_object_type_id
WHERE c.claim_id = @claim_id AND aot.golden_key = 'PAYMENT_ITEM'
AND
ao.golden_key in( 'CONTRACT_AMOUNT'
, 'WRITE_OFF_AMOUNT'
, 'COPAY_AMOUNT'
, 'NET_PAYMENT'
, 'MEMBER_BENEFIT'
, 'TOTAL_MEMBER_RESPONSIBILITY'
, 'INELIGIBLE_AMOUNT')
GROUP BY ao.adjudication_object_ud, ao.adjudication_object_id, order_to_show, sort_order, ao.golden_key, ao.ui_engine_data_type_id
ORDER BY order_to_show

RETURN @SP_SUCCESS
GO
