USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_result_code_status_by_result_code_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------9/14/2005	Hiep Nguyen	1.0			Created
02/07/2006  Thuy Ha     1.0		    Change return condition to @@ROWCOUNT>=1
08/28/2006	Anh Ta		2.0			Build Changes DB 260

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_result_code_status_by_result_code_load]
(
@result_code_id Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
result_code_status.result_code_status_id
,result_code_status.result_code_status_ud
,result_code.short_message
FROM result_code_status
left join result_code ON result_code.result_code_status_id = result_code_status.result_code_status_id
WHERE result_code_id = @result_code_id
ORDER BY result_code_status_ud

--
RETURN @SP_SUCCESS
GO
