USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_category_product_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
Date 07/10/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2009	CCESSNUN	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete for Benefit Categories Supported by This Product grid
in Product form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_category_product_delete]
(
@benefit_category_product_id           int = NULL
,@cascade                                    bit = 0
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM benefit_category_product WHERE benefit_category_product_id = @benefit_category_product_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_category_product
WHERE benefit_category_product_id = @benefit_category_product_id
END
--
RETURN @SP_SUCCESS
end
GO
