USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_totals_for_each_period_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
Aug 11 2006  1:26PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/11/2006	ThuyNguyen	1.0		    created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data into grid Commission Totals for Each Period on form frmCommissionDepreciationTemplate


--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_commission_totals_for_each_period_list_load]
(
@state_id						Int = null
,@billing_type_id						Int = null
,@group_size_begin					Int = null
,@group_size_end						Int = null
,@premium_range_begin					numeric(20,10) = null
,@premium_range_end					numeric(20,10) = null
,@commission_depreciation_id				int = null
)
AS


DECLARE
@SP_SUCCESS 		int
,@SP_EXCEPTION 		INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition		NVARCHAR(2000)
,@max_state_id              int

SELECT
@SP_SUCCESS	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ''
,@max_state_id = (Select max(state_id)+1 from State)

IF (@state_id IS NOT NULL) AND (@state_id > 0)
SET @SqlCondition = @SqlCondition + ' AND cdr.state_id = ' + CONVERT(NVARCHAR, @state_id)

IF (@billing_type_id IS NOT NULL) AND (@billing_type_id > 0)
SET @SqlCondition = @SqlCondition + ' AND cdr.billing_type_id = ' + CONVERT(NVARCHAR, @billing_type_id)

--Group
--Case 1, 2
IF (@group_size_begin IS NOT NULL) AND (@group_size_begin > 0) AND (@group_size_end IS NOT NULL) AND (@group_size_end > 0)
SET @SqlCondition = @SqlCondition + ' AND (cdr.group_size_begin <= ' + CONVERT(NVARCHAR, @group_size_begin) +
' AND cdr.group_size_end >= ' + CONVERT(NVARCHAR, @group_size_begin)+
' OR( cdr.group_size_begin <= ' + CONVERT(NVARCHAR, @group_size_end) +
' AND cdr.group_size_end >= ' + CONVERT(NVARCHAR, @group_size_end) + ') )'

--Case 3
IF (@group_size_begin IS NOT NULL) AND (@group_size_begin > 0) AND (@group_size_end IS NULL)
SET @SqlCondition = @SqlCondition + ' AND (cdr.group_size_begin <= ' + CONVERT(NVARCHAR, @group_size_begin) +
' AND cdr.group_size_end >= ' + CONVERT(NVARCHAR, @group_size_begin) +
' OR cdr.group_size_begin >= ' + CONVERT(NVARCHAR, @group_size_begin) + ')'

--Case 4
IF (@group_size_end IS NOT NULL) AND (@group_size_end > 0) AND (@group_size_begin IS NULL)
SET @SqlCondition = @SqlCondition + ' AND (cdr.group_size_begin <= ' + CONVERT(NVARCHAR, @group_size_end) +
' AND cdr.group_size_end >= ' + CONVERT(NVARCHAR, @group_size_end) +
' OR cdr.group_size_end <= ' + CONVERT(NVARCHAR, @group_size_end) + ' )'

--Premium Range
--Case 1, 2
IF (@premium_range_begin IS NOT NULL) AND (@premium_range_begin > 0) AND (@premium_range_end IS NOT NULL) AND (@premium_range_end > 0)
SET @SqlCondition = @SqlCondition + ' AND (cdr.premium_range_begin <= ' + CONVERT(NVARCHAR, @premium_range_begin) +
' AND cdr.premium_range_end >= ' + CONVERT(NVARCHAR, @premium_range_begin)+
' OR( cdr.premium_range_begin <= ' + CONVERT(NVARCHAR, @premium_range_end) +
' AND cdr.premium_range_end >= ' + CONVERT(NVARCHAR, @premium_range_end) + '))'


--Case 3
IF (@premium_range_begin IS NOT NULL) AND (@premium_range_begin > 0) AND (@premium_range_end IS NULL)
SET @SqlCondition = @SqlCondition + ' AND (cdr.premium_range_begin <= ' + CONVERT(NVARCHAR, @premium_range_begin) +
' AND cdr.premium_range_end >= ' + CONVERT(NVARCHAR, @premium_range_begin) +
' OR cdr.premium_range_begin >= ' + CONVERT(NVARCHAR, @premium_range_begin) + ')'

--Case 4
IF (@premium_range_end IS NOT NULL) AND (@premium_range_end > 0) AND (@premium_range_begin IS NULL)
SET @SqlCondition = @SqlCondition + ' AND (cdr.premium_range_begin <= ' + CONVERT(NVARCHAR, @premium_range_end) +
' AND cdr.premium_range_end >= ' + CONVERT(NVARCHAR, @premium_range_end) +
' OR cdr.premium_range_end <= ' + CONVERT(NVARCHAR, @premium_range_end) + ' )'



SET @SqlQuery =' SELECT
cdr.commission_depreciation_rule_id
,cdr.state_id
,s.state_ud
,cdr.billing_type_id
,bt.billing_type_ud
,cdr.group_size_begin
,cdr.group_size_end
,cdr.premium_range_begin
,cdr.premium_range_end
,cdr.period_begin
,cdr.period_end
,cdr.period_unit_month_year_id
,umy.unit_month_year_ud
,cdr.period_commission_percent
FROM dbo.commission_depreciation_rule cdr
LEFT JOIN dbo.state s ON cdr.state_id = s.state_id
LEFT JOIN dbo.billing_type bt  ON cdr.billing_type_id = bt.billing_type_id
LEFT JOIN dbo.unit_month_year umy  ON cdr.period_unit_month_year_id = umy.unit_month_year_id
INNER JOIN dbo.commission_depreciation_agent_type cdat ON cdat.commission_depreciation_agent_type_id = cdr.commission_depreciation_agent_type_id
WHERE cdat.commission_depreciation_id = '+CONVERT(NVARCHAR(20), isnull(@commission_depreciation_id,0))

print (@SqlQuery + @SqlCondition)
EXEC(@SqlQuery + @SqlCondition)

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
