USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_network_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 08/05/2009
--
--
CURRENT_VERSION: 1
--
DESCRIPTION:
This procedure is used to load data for frmCapitationGroup provider related grids
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_group_network_load]
(
@capitation_group_id AS INT,
@is_excluded AS BIT = 0
)
AS
--
--
SET NOCOUNT ON
--
SELECT
cg.capitation_group_id,
cgpn.capitation_group_provider_network_id,
cgpn.provider_network_id,
pn.provider_network_ud,
pn.provider_network_nm,
cg.active,
cg.created_user_name,
cg.created_group_id,
cg.created_date,
cg.modified_date
FROM capitation_group cg
JOIN capitation_group_provider_network cgpn ON
cg.capitation_group_id = cgpn.capitation_group_id
JOIN provider_network pn on cgpn.provider_network_id = pn.provider_network_id
WHERE cg.capitation_group_id = isnull(@capitation_group_id, 0) AND cgpn.is_excluded = isnull(@is_excluded,0)

RETURN @@ROWCOUNT

--
GO
