USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_ar_additional_information_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to delete data from the Additional Information grid
on the following QC forms:
o	Customer Credit Memo
o	Customer Debit Memo
o	Customer Refund
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_ar_additional_information_delete]
(
@accounting_transaction_ar_additional_information_id  int = NULL
)
AS
--
SET NOCOUNT ON
--
DELETE FROM accounting_transaction_ar_additional_information
WHERE accounting_transaction_ar_additional_information_id = @accounting_transaction_ar_additional_information_id;
--
RETURN 0
--
GO
