USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_qpa_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
This procedure is used to duplicate claim line level QPA information from tables:
claim_procedure_qualified_payment_amount
when duplicating a claim line.
NOTE - When the UI saves a qpa for a claim line, the claim_id is NULL.
******************************/
CREATE PROCEDURE [dbo].[plx_claim_procedure_qpa_duplicate]
(
@new_claim_procedure_id INT, -- new_claim_procedure_id
@current_claim_procedure_id INT -- current claim_procedure_id
) AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

--
SET NOCOUNT ON

-- copy claim_cob_payer records to new claim
INSERT INTO claim_procedure_qualified_payment_amount (
claim_id
,claim_procedure_id
,qualified_payment_amount
,active
)
SELECT
claim_id
,@new_claim_procedure_id
,qualified_payment_amount
,active
FROM claim_procedure_qualified_payment_amount
WHERE claim_procedure_id = @current_claim_procedure_id
;


RETURN @SP_SUCCESS
--
GO
