USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_employment_compensation_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 11/19/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/19/2012 eponomareff  1.0			Created
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

This procedure is used to load data for grid "Compensation"
in Family Eligibility form, Employment tab.

NOTE - Salary and Hourly information has been moved from the "Employment History" grid,
(table: family_eligibility_employment_history) to the "Compensation" grid
(table: family_eligibility_employment_compensation).


--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_employment_compensation_load]
(
@family_eligibility_employment_id			INT=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
feec.family_eligibility_employment_compensation_id
,feec.family_eligibility_employment_id
,feec.compensation_type_id
,ct.compensation_type_ud
,feec.compensation_frequency_id as frequency_id
,f.frequency_ud as frequency_ud
,feec.hours_worked
,feec.unit_day_week_month_year_id
,udwmy.unit_day_week_month_year_ud
,feec.amount
,feec.effective_from
,feec.effective_thru
,feec.comment
,feec.modified_date

FROM family_eligibility_employment_compensation feec
LEFT JOIN  family_eligibility_employment fee
ON fee.family_eligibility_employment_id = feec.family_eligibility_employment_id
LEFT JOIN  compensation_type ct
ON ct.compensation_type_id = feec.compensation_type_id
LEFT JOIN  frequency f
ON f.frequency_id = feec.compensation_frequency_id
LEFT JOIN  unit_day_week_month_year udwmy
ON udwmy.unit_day_week_month_year_id = feec.unit_day_week_month_year_id

WHERE
feec.family_eligibility_employment_id = @family_eligibility_employment_id
ORDER BY
feec.effective_from DESC
,CASE WHEN feec.effective_thru IS NULL THEN 0 ELSE 1 END
,feec.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION

--
GO
