USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By					Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox					Created
--

DESCRIPTION:

This procedure is used to delete a row in grid "Coverage Incentive Qualified Procedure List"
on Advanced Individual Eligibility Setup form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_qual_proc_delete]
(
@family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int

SELECT
@SP_SUCCESS = 0

DELETE FROM family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure
WHERE family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id = @family_eligibility_member_benefit_plan_coverage_incentive_qualifying_procedure_id

--
RETURN @SP_SUCCESS
GO
