USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_data_audit_trigger_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kirk Chedotal
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/01/2024  Kirk Chedotal	1.0			Created

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
-- Deletes the data auditing trigger for the audited table specified
-- NOTE: only the audit trigger is deleted; there is currently no support for removing the audit table once it is created
REQUIREMENTS:
--
INPUTS:
-- @data_audit_table_id					ID for the data_audit_table table
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_data_audit_trigger_delete]
(
@data_audit_table_id           INT
)
AS

BEGIN

SET NOCOUNT ON;

-- Return constants
DECLARE @ResultCodeSuccess INT = 0;

BEGIN TRY

IF NOT EXISTS (SELECT 1
FROM dbo.data_audit_table
WHERE data_audit_table_id = @data_audit_table_id)
THROW 50000, 'Invalid data_audit_table_id', 1;

DECLARE @sql NVARCHAR(MAX) = N'';

SELECT
@sql =
CAST('' AS NVARCHAR(MAX))
+ 'DROP TRIGGER IF EXISTS plx_trg_audit_' + SCHEMA_NAME(t.schema_id) + '_' + t.name + ';' + CHAR(10)
FROM sys.tables t
JOIN dbo.[data_audit_table] dat
ON SCHEMA_NAME(t.schema_id) = dat.[data_audit_table_schema_nm]
AND t.name = dat.[data_audit_table_table_nm]
JOIN dbo.[data_audit_functional_area] dafa
ON dafa.[data_audit_functional_area_id] = dat.[data_audit_functional_area_id]
WHERE dat.data_audit_table_id = @data_audit_table_id;

EXEC (@sql);

END TRY
BEGIN CATCH

DECLARE
@ErrorMessage   NVARCHAR(4000)
,   @ErrorNumber    INT           = ERROR_NUMBER()
,   @ErrorSeverity  INT           = ERROR_SEVERITY()
,   @ErrorState     INT           = ERROR_STATE()
,   @ErrorLine      INT           = ERROR_LINE()
,   @ErrorProcedure NVARCHAR(200) = ISNULL(ERROR_PROCEDURE(), '-');

SELECT
@ErrorMessage = N'Procedure: ' + @ErrorProcedure + N'  Line: '
+ CAST(ERROR_LINE() AS NVARCHAR(16)) + N'  Message: '
+ ERROR_MESSAGE();

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION;

RAISERROR(
@ErrorMessage, @ErrorSeverity, 1
,   @ErrorNumber    -- parameter: original error number.
,   @ErrorSeverity  -- parameter: original error severity.
,   @ErrorState     -- parameter: original error state.
,   @ErrorProcedure -- parameter: original error procedure name.
,   @ErrorLine      -- parameter: original error line number.
);

END CATCH;

RETURN @ResultCodeSuccess;

END;
GO
