USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_id_card_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran		1.1		FS changed
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save a single plx_benefit_contract_period_locks_save into the plx_benefit_contract_period_locks_save table.
--
REQUIREMENTS:
--
INPUTS:
@benefit_id_card_id - Key to benefit_id_card table, identifies a single benefit_id_card,
@benefit_contract_period_id
@benefit_category_id
@benefit_plan_id
@report_file_path
@new_family_eligibility_created
@new_member_eligibility_created
@address_change
@new_benefit_period_created
@new_benefit_plan_added
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_id_card_save]
(
@benefit_id_card_id                         int = NULL   OUTPUT
,@benefit_contract_period_id                 int = NULL
,@benefit_category_id                        int = NULL
,@benefit_plan_id                            int = NULL
,@report_file_path                           nvarchar(510) = NULL
,@new_family_eligibility_created		   bit = NULL
,@new_member_eligibility_created		   bit = NULL
,@address_change				   bit = NULL
,@new_benefit_period_created		   bit = NULL
,@new_benefit_plan_added			   bit = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

PRINT @report_file_path
--
IF @benefit_id_card_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_id_card(
benefit_contract_period_id
,benefit_category_id
,benefit_plan_id
,report_file_path
,new_family_eligibility_created
,new_member_eligibility_created
,address_change
,new_benefit_period_created
,new_benefit_plan_added
,active
)
VALUES
(@benefit_contract_period_id
,@benefit_category_id
,@benefit_plan_id
,@report_file_path
,@new_family_eligibility_created
,@new_member_eligibility_created
,@address_change
,@new_benefit_period_created
,@new_benefit_plan_added
,@active
)
--
SET @benefit_id_card_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_id_card WHERE benefit_id_card_id = @benefit_id_card_id )
BEGIN
-- RAISERROR('benefit_id_card object not found in benefit_id_card for internal key %d.', 16, 1, @benefit_id_card_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_id_card
SET
benefit_contract_period_id               = @benefit_contract_period_id
,benefit_category_id                      = @benefit_category_id
,benefit_plan_id                          = @benefit_plan_id
,report_file_path                         = @report_file_path
,new_family_eligibility_created		 = @new_family_eligibility_created
,new_member_eligibility_created		 = @new_member_eligibility_created
,address_change				 = @address_change
,new_benefit_period_created		 = @new_benefit_period_created
,new_benefit_plan_added			 = @new_benefit_plan_added
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_id_card_id = @benefit_id_card_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
