USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_check_unique_ud]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/27/2005	mttran		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
REQUIREMENTS:
This procedure is used to check the Group ID has to be unique within the Client to which it belongs
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
1	TRUE -- This ud is valid
0	FALSE -- This ud is invalid
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_client_group_check_unique_ud]
(
@client_id			INT = NULL,
@client_group_id	INT = NULL,
@client_group_ud	NVARCHAR(50)
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_VALID		INT,
@SP_INVALID		INT,
@result			INT
SELECT
@SP_VALID = 1,
@SP_INVALID = 0,
@result = @SP_VALID
--
IF ISNULL(@client_group_id, 0) = 0
BEGIN
IF EXISTS (	SELECT	client_group.client_group_id
FROM 	dbo.client_group
INNER JOIN dbo.client_group_name
ON	client_group.client_group_id = client_group_name.client_group_id
AND	client_group_name.primary_name = 1
INNER JOIN dbo.client
ON	client.client_id = client_group.client_id
WHERE	client_group_name.client_group_ud = @client_group_ud
AND		client.client_id = @client_id
)
SET @result = @SP_INVALID
END
ELSE
BEGIN
IF EXISTS (	SELECT	client_group.client_group_id
FROM 	dbo.client_group
INNER JOIN dbo.client_group_name
ON	client_group.client_group_id = client_group_name.client_group_id
AND	client_group_name.primary_name = 1
INNER JOIN dbo.client
ON	client.client_id = client_group.client_id
WHERE	client_group_name.client_group_ud = @client_group_ud
AND		client.client_id = @client_id
AND		client_group.client_group_id <> @client_group_id
)
SET @result = @SP_INVALID
END
--

RETURN @result

--
GO
