USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_information_save_old]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
May 11 2006  1:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
9/28/2007	John Ourant	1.1	This was saving to adjudication amount override
not adjudication key override.
07/07/2009  eponomareff    1.4      override_reason --> dropdown fk to result_code (override_result_code_id)
08/18/2014 - RT:6046 Updated created/modified tombstone columns
10/15/2019 - RT:15783 added missing check for when there is a provider network override
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE    PROCEDURE [dbo].[plx_adjudication_information_save_old]
(
@claim_procedure_id										int
,@plan_iteration_index									int
,@adjudication_object_id						int
,@override_record_id							int
,@adjudication_details_override_reason_id		int
,@active				bit = 1
,@user_name				nvarchar(128) = NULL
) AS
--

DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1

DECLARE @adjudication_result_key_id INT
SET @adjudication_result_key_id =
(
SELECT adjudication_result_key_id
FROM adjudication_result_key
WHERE claim_procedure_id = @claim_procedure_id AND plan_iteration_index = @plan_iteration_index
)



DECLARE @adjudication_result_key_override_id INT
--
SELECT @adjudication_result_key_override_id = adjudication_result_key_override_id
FROM adjudication_result_key_override
WHERE adjudication_result_key_id = @adjudication_result_key_id

IF(@adjudication_result_key_override_id IS NULL)
BEGIN
--- Create a new adjudication_result_amount record
INSERT INTO adjudication_result_key_override
(adjudication_result_key_id, active)
VALUES
(@adjudication_result_key_id, @active)
SET @adjudication_result_key_override_id = @@IDENTITY
END

DECLARE @adjudication_result_override_column_name NVARCHAR(128)
SELECT @adjudication_result_override_column_name = adjudication_result_override_column_name FROM adjudication_object
WHERE adjudication_object_id = @adjudication_object_id

IF(@adjudication_result_override_column_name = 'claim_processing_rule_framework_id')
UPDATE adjudication_result_key_override
SET claim_processing_rule_framework_id = @override_record_id, claim_processing_rule_framework_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'dental_alternate_course_applied_yes_no_id')
UPDATE adjudication_result_key_override
SET dental_alternate_course_applied_yes_no_id = @override_record_id, dental_alternate_course_applied_yes_no_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'dental_procedure_grouping_applied_yes_no_id')
UPDATE adjudication_result_key_override
SET dental_procedure_grouping_applied_yes_no_id = @override_record_id, dental_procedure_grouping_applied_yes_no_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'dental_restorative_bundling_applied_yes_no_id')
UPDATE adjudication_result_key_override
SET dental_restorative_bundling_applied_yes_no_id = @override_record_id, dental_restorative_bundling_applied_yes_no_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'include_in_depreciation_yes_no_id')
UPDATE adjudication_result_key_override
SET include_in_depreciation_yes_no_id = @override_record_id, include_in_depreciation_yes_no_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'network_level_id')
UPDATE adjudication_result_key_override
SET network_level_id = @override_record_id, network_level_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'authorization_id')
UPDATE adjudication_result_key_override
SET authorization_id = @override_record_id, authorization_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'referral_id')
UPDATE adjudication_result_key_override
SET referral_id = @override_record_id, referral_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'provider_network_id')
UPDATE adjudication_result_key_override
SET provider_network_id = @override_record_id, provider_network_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id
IF(@adjudication_result_override_column_name = 'reimburse_member_yes_no_id')
UPDATE adjudication_result_key_override
SET reimburse_member_yes_no_id = @override_record_id, reimburse_member_yes_no_adjudication_details_override_reason_id = @adjudication_details_override_reason_id
WHERE adjudication_result_key_override_id = @adjudication_result_key_override_id


DELETE FROM adjudication_result_key_override
WHERE
authorization_id IS NULL AND
claim_processing_rule_framework_id IS NULL AND
dental_alternate_course_applied_yes_no_id IS NULL AND
dental_procedure_grouping_applied_yes_no_id IS NULL AND
dental_restorative_bundling_applied_yes_no_id IS NULL AND
include_in_depreciation_yes_no_id IS NULL AND
provider_network_id IS NULL AND
network_level_id IS NULL AND
reimburse_member_yes_no_id IS NULL AND
referral_id IS NULL AND
reimburse_member_yes_no_id IS NULL AND
adjudication_result_key_override_id = @adjudication_result_key_override_id
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)

--
RETURN @SP_SUCCESS
--
GO
