USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_rate_relationship_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey
DATE: 2/29/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop downs for premium_rate_relationship_type
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_premium_rate_relationship_type_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SELECT
premium_rate_relationship_type_id
,premium_rate_relationship_type_ud
,golden_key

FROM premium_rate_relationship_type
ORDER BY  premium_rate_relationship_type_ud

RETURN @SP_SUCCESS
GO
