USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
DESCRIPTION:
Delete for Fee Schedule Rule form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_fee_schedule_rule_delete]
(
@fee_schedule_rule_id                        int = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION  int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM fee_schedule_rule WHERE fee_schedule_rule_id = @fee_schedule_rule_id)
RETURN @SP_SUCCESS
--
ELSE
BEGIN

BEGIN TRANSACTION

BEGIN TRY

--Delete child records
DELETE FROM fee_schedule_rule_modifier_conflict WHERE fee_schedule_rule_id = @fee_schedule_rule_id
DELETE FROM fee_schedule_rule_not_covered_modifier WHERE fee_schedule_rule_id = @fee_schedule_rule_id
DELETE FROM fee_schedule_rule_procedure_code_conflict WHERE fee_schedule_rule_id = @fee_schedule_rule_id
DELETE FROM fee_schedule_rule_required_modifier WHERE fee_schedule_rule_id = @fee_schedule_rule_id

--Delete the fee schedule set
DELETE fee_schedule_rule
WHERE fee_schedule_rule_id = @fee_schedule_rule_id

COMMIT TRANSACTION

RETURN @SP_SUCCESS

END TRY

BEGIN CATCH
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END CATCH


END
GO
