USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_claims_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_accumulator_claims_list_load]
@is_pred BIT,
@scope_key uniqueidentifier,
@accumulator_framework_accumulator_class_accumulator_id INT,
@family_eligibility_member_benefit_plan_id INT,
@family BIT,
@period_from DATETIME,
@period_thru DATETIME
AS

DECLARE @member_ids TABLE
(
member_id INT
);

IF @family = 1
INSERT INTO @member_ids
SELECT
DISTINCT all_fems_for_enrollment.member_id
FROM
family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility_member all_fems_for_enrollment
ON fem.family_eligibility_id = all_fems_for_enrollment.family_eligibility_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id;
ELSE
INSERT INTO @member_ids
SELECT
DISTINCT fem.member_id
FROM
family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id;

DECLARE @claim_ids TABLE
(
claim_id INT
);
INSERT INTO @claim_ids
SELECT
DISTINCT c.claim_id
FROM
claim c
INNER JOIN claim_form_type cft
ON c.claim_form_type_id = cft.claim_form_type_id
INNER JOIN claim_procedure cp
ON c.claim_id = cp.claim_id
LEFT JOIN adjudication_accumulator adj_acc
ON cp.claim_procedure_id = adj_acc.claim_procedure_id
LEFT JOIN adjudication_accumulator_pred adj_acc_pred
ON cp.claim_procedure_id = adj_acc_pred.claim_procedure_id
INNER JOIN adjudication_result_key ark
ON cp.claim_procedure_id = ark.claim_procedure_id
INNER JOIN family_eligibility_member fem
ON ark.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN @member_ids member_ids
ON fem.member_id = member_ids.member_id
OUTER APPLY dbo.plx_fn_min_service_from_date (c.claim_id) tbl_dos_from
OUTER APPLY dbo.plx_fn_max_service_thru_date (c.claim_id) tbl_dos_thru
WHERE
(
(
adj_acc.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
AND
adj_acc.scope_key = @scope_key
)
OR
(
cft.golden_key = 'Predetermination'
AND
@is_pred = 1
AND
adj_acc_pred.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
AND
adj_acc_pred.scope_key = @scope_key
)
)
AND (dos_from BETWEEN @period_from AND @period_thru
OR dos_through BETWEEN @period_from AND @period_thru);

SELECT
cft.claim_form_type_id,
cft.claim_form_type_ud,
inst_claim_type.institutional_claim_type_ud AS claim_type_ud,
c.claim_id,
c.claim_ud,
pi.provider_id,
pi.provider_ud,
dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, null) AS provider_nm,
dos_from,
dos_through,
m.member_id,
fembp.member_eligibility_ud AS member_ud,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, NULL) AS member_nm,
adj_status.adjudication_status_ud
FROM
claim c
INNER JOIN @claim_ids claim_ids
ON c.claim_id = claim_ids.claim_id
INNER JOIN claim_form_type cft
ON c.claim_form_type_id = cft.claim_form_type_id
LEFT JOIN institutional_claim ic
ON c.claim_id = ic.claim_id
LEFT JOIN institutional_claim_type inst_claim_type
ON ic.institutional_claim_type_id = inst_claim_type.institutional_claim_type_id
INNER JOIN family_eligibility_member_benefit_plan fembp
ON c.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN member m
ON fem.member_id = m.member_id
LEFT JOIN member_name mn
ON m.member_id = mn.member_id AND mn.is_primary = 1
INNER JOIN adjudication_status adj_status
ON c.adjudication_status_id = adj_status.adjudication_status_id
LEFT JOIN provider_identifier pi
ON c.billing_provider_identifier_id = pi.provider_identifier_id
LEFT JOIN provider_name
ON pi.provider_id = provider_name.provider_id
AND provider_name.is_primary = 1
OUTER APPLY dbo.plx_fn_min_service_from_date (c.claim_id) tbl_dos_from
OUTER APPLY dbo.plx_fn_max_service_thru_date (c.claim_id) tbl_dos_thru;

RETURN 0;
GO
