USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_set_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------


DESCRIPTION:	This procedure is used to check if/WHERE this benefit_plan set is used

******************************/

CREATE PROCEDURE [dbo].[plx_benefit_plan_set_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT	benefit_plan_set_id
FROM	benefit_plan_set
WHERE	benefit_plan_set_id = @id)
RETURN @SP_DELETE_ABLE

ELSE

BEGIN
IF EXISTS(SELECT * FROM benefit_contract_additional_plan_options
WHERE benefit_plan_set_id = @id)

BEGIN
RETURN @SP_DELETE_UNABLE
END

END

RETURN @SP_DELETE_ABLE
GO
