USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_12_1_Result_code_cleanup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_12_1_Result_code_cleanup]
(
@SP_TableName NVARCHAR(255) = NULL ,
@SP_ColumnName NVARCHAR(255) = NULL ,
@SP_table_row_id INT = NULL ,
@SP_short_description VARCHAR(255) = NULL ,
@SP_new_result_code VARCHAR(255) = NULL

)
AS
BEGIN
SET NOCOUNT ON ;

DECLARE @SP_rowExists INT = 0 ,
@SP_strSQLRowExists NVARCHAR(1000) = NULL ,
@SP_strSQLRowExistsParamDef NVARCHAR(300) = NULL ,
@SP_error_msg NVARCHAR(350) = NULL

SELECT  @SP_strSQLRowExistsParamDef = N'@SP_tablename nvarchar(255), @SP_columnName nvarchar(255), @SP_table_row_id int, @count_out int OUTPUT'
SELECT  @SP_strSQLRowExists = N'SELECT @count_out = count(*) FROM  ['
+ @SP_TableName + '] WHERE [' + @SP_ColumnName
+ '] in (select result_code_id from result_code '
+ 'where table_row_id =  '
+ CONVERT(NVARCHAR(100), @SP_table_row_id) + ')'

EXECUTE sp_executesql @SP_strSQLRowExists, @SP_strSQLRowExistsParamDef,
@SP_TableName, @SP_ColumnName, @SP_table_row_id,
@count_out = @SP_rowExists OUTPUT ;

IF @SP_rowExists > 0 -- Found at least one reference to this result code, so perform update
BEGIN
PRINT 'Table row id ' + CONVERT(NVARCHAR(50), @SP_table_row_id) + ' is used in ' + @SP_TableName + ' and will updated, not deleted'

UPDATE  dbo.result_code
SET     table_row_id = NULL ,
golden_key = NULL ,
gsu = NULL ,
ACTIVE = 0 ,
result_code_ud = SUBSTRING(result_code_ud, 1, 6)
+ ' Replaced' ,
short_message = @SP_short_description ,
long_message = 'Replaced, refer to '
+ @SP_new_result_code + '; ' + long_message,
modified_date = getdate()
WHERE   table_row_id = @SP_table_row_id
IF ( @@ERROR <> 0 )
RETURN -1 -- Error on update
ELSE RETURN 1 -- Used, updated successfully
END
ELSE
RETURN 0 -- Not used, ok to delete
END

-- End Stored Procedure def
GO
