USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_subrogation_case_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Mar 10 2006 11:01AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down subrogation_case_status (Status (Member Subrogation Case))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_subrogation_case_status_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
subrogation_case_status.subrogation_case_status_id
,subrogation_case_status.subrogation_case_status_ud
FROM subrogation_case_status
order by subrogation_case_status.subrogation_case_status_ud asc
--
RETURN @SP_SUCCESS
GO
