USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_break_in_coverage_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 12/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/13/2006	Tinh Do		1.0			Created and used for Pre Existing Condition Rules Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_break_in_coverage_rule_load]
(
@break_in_coverage_rule_id int = null
)

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT break_in_coverage_rule.break_in_coverage_rule_id
,break_in_coverage_rule.break_in_coverage_rule_ud
,golden_key
FROM break_in_coverage_rule
WHERE   break_in_coverage_rule.break_in_coverage_rule_id = @break_in_coverage_rule_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
