USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_detail_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_detail_save]
(
@family_eligibility_loan_detail_id          INT = NULL   OUTPUT
,@family_eligibility_loan_id                 INT
,@is_primary_applicant                       BIT = 0
,@family_eligibility_member_id               INT
,@occupation_code_id                         INT = NULL
,@loan_balance                               NUMERIC (19, 4) =  NULL
,@loan_percent                               NUMERIC (19, 4) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '105070005',
@ERROR_NOT_EXIST	= '105070006',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '105070007'
--
IF ISNULL(@family_eligibility_loan_detail_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO family_eligibility_loan_detail(
family_eligibility_loan_id
, is_primary_applicant
, family_eligibility_member_id
, occupation_code_id
, loan_balance
, loan_percent

)
VALUES (
@family_eligibility_loan_id
,@is_primary_applicant
,@family_eligibility_member_id
,@occupation_code_id
,@loan_balance
,@loan_percent
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @family_eligibility_loan_detail_id = @@IDENTITY
END
--
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_loan_detail WHERE family_eligibility_loan_detail_id = @family_eligibility_loan_detail_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int
UPDATE family_eligibility_loan_detail
SET
family_eligibility_loan_id        = @family_eligibility_loan_id
,is_primary_applicant              = @is_primary_applicant
,family_eligibility_member_id      = @family_eligibility_member_id
,occupation_code_id                = @occupation_code_id
,loan_balance                      = @loan_balance
,loan_percent                      = @loan_percent
,modified_user_name                = ORIGINAL_LOGIN()
,modified_date                     = GETDATE()

WHERE family_eligibility_loan_detail_id = @family_eligibility_loan_detail_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
