USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_provider_identifier_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Pooran Prasad
09/28/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
5/1/2013    eponomareff   1.1       modified to specify provider identifier type
--

CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to check if the provider identifier exists
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
TEST
--
- EXEC [dbo].[plx_check_provider_identifier_exist] 'BASE_3003_PVDR_ID'
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_check_provider_identifier_exist]
(
@provider_ud varchar(50) = null
,@provider_identifier_type_ud varchar(50) = null
) AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''


SELECT DISTINCT

pid.provider_identifier_id
,pidt.provider_identifier_type_ud
,pidt.golden_key

FROM provider_identifier pid
INNER JOIN provider_identifier_type pidt
ON pid.provider_identifier_type_id = pidt.provider_identifier_type_id
WHERE
pid.provider_ud = ISNULL(@provider_ud, '')
AND
pidt.provider_identifier_type_ud = ISNULL(@provider_identifier_type_ud, pidt.provider_identifier_type_ud)
GO
