USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_account_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 03/15/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/15/2006	HungTNguyen	1.0			create
2008/05/16	lrenard				accounting company schema and form changes
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is to delete an account in accounting company.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_account_delete]
(
@accounting_company_account_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM accounting_company_account WHERE accounting_company_account_id = @accounting_company_account_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM accounting_company_account
WHERE accounting_company_account_id = @accounting_company_account_id
END
--
RETURN @SP_SUCCESS
--
GO
