USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_correspondence_manual_generated_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	Hiep Nguyen	1.0		Created
08/31/2006	Hiep Nguyen	1.1.		added date_document_received
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Manually Generated Documents grid
in Benefit Contract Communications form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_correspondence_manual_generated_save]
(
@benefit_contract_correspondence_id	INT = NULL   OUTPUT
, @correspondence_manual_generated_id INT = NULL OUTPUT
, @benefit_contract_id	INT = NULL
, @document_name	NVARCHAR(255) = NULL
, @user_generated_id	INT = NULL
, @user_received_id	INT = NULL
, @date_generated	DATETIME = NULL
, @date_received	DATETIME = NULL
, @document_saved_path  NVARCHAR(255) = NULL
, @date_time		DATETIME = NULL
, @active			BIT = NULL
--	,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@generated_by NVARCHAR(128),
@received_by NVARCHAR(128)

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

-- Get system user name
SELECT @generated_by = name
FROM sysusers
WHERE uid = @user_generated_id

SELECT @received_by = name
FROM sysusers
WHERE uid = @user_received_id

IF @benefit_contract_correspondence_id IS NULL
BEGIN
--- Create a new Correspondence Print Queue
INSERT INTO correspondence_manual_generated(
document_name
,generated_by
,received_by
,date_generated
,date_received
,document_saved_path
,date_document_received
,active
)
VALUES
(@document_name
,@generated_by
,@received_by
,@date_generated
,@date_received
,@document_saved_path
,@date_time
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_manual_generated_id = @@IDENTITY

--- Create a new benefit_contract_correspondence record
INSERT INTO benefit_contract_correspondence(
benefit_contract_id
,correspondence_manual_generated_id
,active
)
VALUES
(@benefit_contract_id
,@correspondence_manual_generated_id
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @benefit_contract_correspondence_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_correspondence WHERE (benefit_contract_correspondence_id = @benefit_contract_correspondence_id) AND (correspondence_manual_generated_id = @correspondence_manual_generated_id))
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


-- Update an existing Correspondence Manual Generate
UPDATE correspondence_manual_generated
SET
document_name = @document_name
,generated_by = @generated_by
,received_by = @received_by
,date_generated = @date_generated
,date_received = @date_received
,document_saved_path = @document_saved_path
,date_document_received = @date_time
,active = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE correspondence_manual_generated_id = @correspondence_manual_generated_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

--- Update an existing benefit_contract_correspondence record

UPDATE benefit_contract_correspondence
SET
benefit_contract_id                                = @benefit_contract_id
,correspondence_manual_generated_id       = @correspondence_manual_generated_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_correspondence_id = @benefit_contract_correspondence_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
