USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_license_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:17AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for brokerage license grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:
agent_license_id - Key to agent_license table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_brokerage_license_list_load]
(
@brokerage_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_license.agent_license_id
,agent_license.agent_id as brokerage_id
,agent_license.state_id
,agent_license.agent_licensing_body_name
,agent_license.benefit_category_id
,agent_license.license_number
,agent_license.effective_from as licensing_effective_from
,agent_license.effective_thru as licensing_effective_thru
,agent_license.cancellation_reason_id
,agent_license.commission_payment_status_id
FROM agent_license
WHERE agent_license.agent_id = @brokerage_id
ORDER BY
CASE WHEN agent_license.effective_from IS NULL THEN 0 ELSE 1 END , agent_license.effective_from DESC
,CASE WHEN agent_license.effective_thru IS NULL THEN 0 ELSE 1 END , agent_license.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
