USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_treatment_type_category_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Nov  1 2005  3:19PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/29/2006	Trinh Le				Change to support wildcard searching
05/13/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
The procedure is used to find the treatment type categories that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/


CREATE        procedure [dbo].[plx_find_treatment_type_category_load]
(
@get_column_headers								BIT = 0,
@treatment_type_category_id						INT = NULL,
@treatment_type_category_ud						NVARCHAR(100) = NULL,
@treatment_type_category_nm						NVARCHAR(200) = NULL,
@treatment_type_category_description			NVARCHAR(510) = NULL,
@treatment_type_set_id							INT = NULL,
@treatment_type_set_ud							NVARCHAR(100) = NULL,
@treatment_type_ud								NVARCHAR(100) = NULL,
@criteria_ud									NVARCHAR(100) = NULL,
@criteria_description							NVARCHAR(200)=	 NULL,
@show_exact_only								BIT = 0,
@is_usable_in_benefit_framework					INT = 0,
@exclude_category_having_treatment_type_id		INT = 0,
@exclude_category_used_in_set_id				INT = 0

) as
begin
declare
@sqlString NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10)

IF @show_exact_only = 1
BEGIN
SET @Prefix = ' =N''' --[01/25/2006 ThuyHa]: add Unicode comparision prefix
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N''' --[01/25/2006 ThuyHa]: add Unicode comparision prefix
SET @Suffix = '%'''
END

set @sqlString = 'select DISTINCT TOP (dbo.fn_results_limit())
treatment_type_category.treatment_type_category_id,
treatment_type_category.treatment_type_category_ud,
treatment_type_category.treatment_type_category_nm,
treatment_type_category.description as treatment_type_category_description,
treatment_type_set.treatment_type_set_id,
treatment_type_set.treatment_type_set_ud
,0 as treatment_category
from treatment_type_category
left join treatment_type_category_criteria on treatment_type_category_criteria.treatment_type_category_id = treatment_type_category.treatment_type_category_id
left join criteria on  criteria.criteria_id = treatment_type_category_criteria.criteria_id
-- For treatmenttype set
left join treatment_type_category_treatment_type_set on treatment_type_category_treatment_type_set.treatment_type_category_id = treatment_type_category.treatment_type_category_id
left join treatment_type_set on  treatment_type_category_treatment_type_set.treatment_type_set_id = treatment_type_set.treatment_type_set_id
-- For treatmenttype
left join treatment_type_category_treatment_type on treatment_type_category_treatment_type.treatment_type_category_id = treatment_type_category.treatment_type_category_id
left join treatment_type on  treatment_type_category_treatment_type.treatment_type_id = treatment_type.treatment_type_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

If (@treatment_type_category_id is not null) and (@treatment_type_category_id > 0)
begin
set @sqlString = @sqlString + ' AND (treatment_type_category.treatment_type_category_id = ' +  + CONVERT(NVARCHAR(16), @treatment_type_category_id) +   ') '
end

if (@treatment_type_category_ud is not null) and (ltrim(@treatment_type_category_ud) <> '')
begin
set @sqlString = @sqlString + 'AND ( ISNULL(treatment_type_category.treatment_type_category_ud, '''') '+ @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_category_ud, @show_exact_only) + @suffix + ') '
end

if (@treatment_type_category_nm is not null) and (ltrim(@treatment_type_category_nm) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(treatment_type_category.treatment_type_category_nm, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_category_nm, @show_exact_only) + @suffix +  ') '
end

if (@treatment_type_category_description is not null) and (ltrim(@treatment_type_category_description) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(treatment_type_category.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_category_description, @show_exact_only) + @suffix +  ') '
end

------------------------------------------------------------------------------------------------------------------------
if (@treatment_type_ud is not null) and (ltrim(@treatment_type_ud) <> '')
begin
set @sqlString = @sqlString +
'AND (ISNULL(treatment_type.treatment_type_ud, '''') ' + @prefix +
dbo.plx_EncodeStringWildCard(@treatment_type_ud, @show_exact_only) + @suffix +  ') '
end


------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
If (@treatment_type_set_id is not null) and (@treatment_type_set_id > 0)
begin
set @sqlString = @sqlString + ' AND (treatment_type_set.treatment_type_set_id = ' +  + CONVERT(NVARCHAR(16), @treatment_type_set_id) +   ') '
end

if (@treatment_type_set_ud is not null) and (ltrim(@treatment_type_set_ud) <> '')
begin
set @sqlString = @sqlString +
'AND (ISNULL(treatment_type_set.treatment_type_set_ud, '''') ' + @prefix+
dbo.plx_EncodeStringWildCard(@treatment_type_set_ud, @show_exact_only) + @suffix +  ') '
end

------------------------------------------------------------------------------------------------------------------------
if (ltrim(@criteria_ud) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(criteria.criteria_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@criteria_ud, @show_exact_only) + @suffix +  ') '
end
------------------------------------------------------------------------------------------------------------------------

if (ltrim(@criteria_description) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(criteria.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@criteria_description, @show_exact_only) + @suffix +  ') '
end

if @is_usable_in_benefit_framework =1
begin
set @sqlString = @sqlString +  ' AND dbo.plx_is_treatment_type_category_usable_in_befit_framework(treatment_type_category.treatment_type_category_id) =1  '
end

if @exclude_category_having_treatment_type_id > 0
begin
set @sqlString = @sqlString +
' and treatment_type_category.treatment_type_category_id
not in
(select treatment_type_category_id
from treatment_type_category_treatment_type
where treatment_type_id = '
+ convert(NVARCHAR(16), @exclude_category_having_treatment_type_id)
+')'
end

if @exclude_category_used_in_set_id > 0
begin

set @sqlString = @sqlString +
' and treatment_type_category.treatment_type_category_id
not in
(select treatment_type_category_id
from treatment_type_category_treatment_type_set
where treatment_type_set_id = '
+ convert(NVARCHAR(16), @exclude_category_used_in_set_id)
+')'
end

set @sqlString = @sqlString + 'ORDER BY treatment_type_category.treatment_type_category_ud'

exec(@sqlString)

end
GO
