USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_effective_thru_check]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:  Trang Huynh
DATE: 12/22/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/22/2005        Trang Huynh       1.0            created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if there is any groups of a client that effective thru
is greater than the selected date.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_client_group_effective_thru_check]
(
@client_group_id int = 0 ,
@effective_thru datetime
)
AS

Declare        	@Result                                 bit
SET @Result = 1
If  @effective_thru is not null
BEGIN
If exists(Select * From benefit_contract
Where (client_group_id = @client_group_id)
and
( effective_thru is null or DATEDIFF(DAY,effective_thru,@effective_thru) < 0))
SET @Result = 0
else
SET @Result = 1
END


Return @Result
GO
