USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_certification_condition_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_certification_condition_delete]
(
@claim_certification_condition_id             INT = NULL   OUTPUT
) AS

SET NOCOUNT ON

BEGIN

DELETE FROM claim_certification_condition
WHERE claim_certification_condition_id = @claim_certification_condition_id

END
--
RETURN 0
--
GO
