USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_not_covered_modifier_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/06/2012	dcannon		1.1			Add Result Code Override and Modifier Set columns
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
DESCRIPTION:
Save for Fee Schedule Rule not covered modifier grid
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_fee_schedule_rule_not_covered_modifier_save] (
@fee_schedule_rule_not_covered_modifier_id INT = NULL OUTPUT
,@fee_schedule_rule_id INT = NULL

--procedure code 1
,@procedure_code_type_1_id INT = NULL
,@starting_procedure_code_1_id INT = NULL
,@ending_procedure_code_1_id INT = NULL
,@procedure_code_group_1_id INT = NULL

--procedure code 2
,@procedure_code_type_2_id INT = NULL
,@starting_procedure_code_2_id INT = NULL
,@ending_procedure_code_2_id INT = NULL
,@procedure_code_group_2_id INT = NULL

,@modifier NVARCHAR(50) = NULL
,@modifier_set_id INT = NULL
,@result_code_override_id INT = NULL
,@effective_from DATETIME = NULL
,@effective_thru DATETIME = NULL
)
AS
--
DECLARE @SP_SUCCESS INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)

SELECT @SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '159840006'
,@ERROR_NOT_EXIST = '159840007'
,@ERROR_CANT_UPDATE = '159840008'

--
IF ISNULL(@fee_schedule_rule_not_covered_modifier_id, 0) = 0
BEGIN
--- Create a new fee_schedule_rule_not_covered_modifier record
INSERT INTO fee_schedule_rule_not_covered_modifier (
fee_schedule_rule_id

--procedure code 1
,procedure_code_type_id
,starting_procedure_code_id
,ending_procedure_code_id
,procedure_code_group_id

--procedure code 2
,procedure_code_type_2_id
,starting_procedure_code_2_id
,ending_procedure_code_2_id
,procedure_code_group_2_id

,modifier
,modifier_set_id
,result_code_override_id
,effective_from
,effective_thru
)
VALUES (
@fee_schedule_rule_id

--procedure code 1
,@procedure_code_type_1_id
,@starting_procedure_code_1_id
,@ending_procedure_code_1_id
,@procedure_code_group_1_id

--procedure code 2
,@procedure_code_type_2_id
,@starting_procedure_code_2_id
,@ending_procedure_code_2_id
,@procedure_code_group_2_id

,@modifier
,@modifier_set_id
,@result_code_override_id
,@effective_from
,@effective_thru
)

--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @fee_schedule_rule_not_covered_modifier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (
SELECT *
FROM fee_schedule_rule_not_covered_modifier
WHERE fee_schedule_rule_not_covered_modifier_id = @fee_schedule_rule_not_covered_modifier_id
)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--- Updating an existing fee_schedule_rule_not covered_modifier record
UPDATE fee_schedule_rule_not_covered_modifier
SET fee_schedule_rule_id = @fee_schedule_rule_id

--procedure code 1
,procedure_code_type_id = @procedure_code_type_1_id
,starting_procedure_code_id = @starting_procedure_code_1_id
,ending_procedure_code_id = @ending_procedure_code_1_id
,procedure_code_group_id = @procedure_code_group_1_id

--procedure code 2
,procedure_code_type_2_id = @procedure_code_type_2_id
,starting_procedure_code_2_id = @starting_procedure_code_2_id
,ending_procedure_code_2_id = @ending_procedure_code_2_id
,procedure_code_group_2_id = @procedure_code_group_2_id

,modifier = @modifier
,modifier_set_id = @modifier_set_id
,result_code_override_id = @result_code_override_id
,effective_from = @effective_from
,effective_thru = @effective_thru
,modified_user_name = ORIGINAL_LOGIN()
,modified_date = GETDATE()
WHERE fee_schedule_rule_not_covered_modifier_id = @fee_schedule_rule_not_covered_modifier_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
--
GO
