USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_plan_options_select_popup_header_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/24/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Load data for the Select Advanced Plan Options popup form, which is launched
when auto enrollment guided path process is started (if there are choices to be made).

******************************/
CREATE      PROCEDURE [dbo].[plx_additional_plan_options_select_popup_header_load]
(
@benefit_contract_additional_plan_options_id INT = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bcapo.benefit_contract_additional_plan_options_id
,bcapo.benefit_plan_set_id
,bps.benefit_plan_set_ud
,bps.benefit_plan_set_nm
,bcapo.required_for_subscriber
,bcapo.required_for_dependent
,bcapo.modified_date

FROM
dbo.benefit_contract_additional_plan_options bcapo
INNER JOIN benefit_plan_set bps
ON bcapo.benefit_plan_set_id = bps.benefit_plan_set_id
WHERE
bcapo.benefit_contract_additional_plan_options_id = @benefit_contract_additional_plan_options_id
-- we should have a benefit plan set if we are calling this stored procedure
AND ISNULL(bps.benefit_plan_set_id, 0) = bcapo.benefit_plan_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
