USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_mips_institutional_code_group_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
The procedure is used to find the MIPS Institutional Code Groups that match the input queries.
******************************/
CREATE       PROCEDURE [dbo].[plx_find_mips_institutional_code_group_load]
(
@get_column_headers			BIT = 0,
@mips_institutional_code_group_ud nvarchar(50) 		= null,
@description nvarchar(255) 		= '',
@exact_match 		bit		= 0
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString 		AS NVARCHAR(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@table_name	NVARCHAR(255)

SELECT
@sqlString 		= '',
@sqlCondition		= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix 	= '',
@Suffix 	= '',
@table_name 	= ''

IF @exact_match = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

SET @sqlString = 'SELECT TOP (dbo.fn_results_limit())
micg.mips_institutional_code_group_ud,
micg.mips_institutional_code_group_id,
micg.description
FROM
dbo.mips_institutional_code_group micg'

IF (@mips_institutional_code_group_ud IS NOT NULL) AND (@mips_institutional_code_group_ud <> '')
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(micg.mips_institutional_code_group_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@mips_institutional_code_group_ud, @exact_match) + @Suffix
END

IF (@description IS NOT NULL) AND (@description <> '')
BEGIN
SET @sqlCondition = @sqlCondition +  ' AND ISNULL(micg.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @exact_match) + @Suffix
END

EXEC(@sqlString + @sqlCondition)

END
GO
