USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_benefit_contract_id_by_benefit_period_plan_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/22/2008 lrenard		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to return the benefit contract id by the benefit contract period plan id.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_get_benefit_contract_id_by_benefit_period_plan_id]
(
@benefit_contract_period_benefit_plan_id			Int=null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@benefit_contract_id int

SELECT
@benefit_contract_id = bcp.benefit_contract_id

FROM benefit_contract_period_benefit_plan bcpbp
inner join benefit_contract_period bcp on bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
--

RETURN isnull(@benefit_contract_id, 0)

--
GO
