USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ar_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 04/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/07/2009 	David Slayton	1.0     Created from plx_dd_active_bank_account_load_by_accounting_company
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
load ar accounts with pre-condition:
1. ar account must have account_category.golden_key = 'AR'.
2. ar account must be active status on chart of accounts tab.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_ar_account_load_by_accounting_company]
(
@accounting_company_id			INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
aca.accounting_company_account_id AS ar_accounting_company_account_id
,aca.accounting_company_account_ud AS ar_accounting_company_account_ud
,is_active = CASE
WHEN account_status.golden_key <> 'Active' THEN 0
ELSE 1
END
FROM accounting_company_account aca
INNER JOIN account_status ON aca.account_status_id = account_status.account_status_id
INNER JOIN account_category ON aca.account_category_id = account_category.account_category_id

WHERE aca.accounting_company_id = @accounting_company_id
AND account_category.golden_key = 'AR'

ORDER BY aca.accounting_company_account_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
