USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_professional_medical_detail_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 01/13/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/01/13	Trang Huynh	1.0			create
2006/02/08      ThuyHa                          Add parameter @conversion_factor_id
2006/02/09      ThuyHa                          Changed conversion_factor_id to conversion_factor_set_id
09/07/2013	eponomareff	1.3			added procedure_code_icd_version_id to grids
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Writes a single fee_schedule_professional_medical_detail into the fee_schedule_professional_medical_detail table.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_fee_schedule_professional_medical_detail_save]
(
@fee_schedule_professional_medical_id       int = NULL    output
,@fee_schedule_id                            int = NULL
,@procedure_code_type_id                     int = NULL
,@procedure_code_icd_version_id              int = NULL
,@starting_procedure_code_id                 int = NULL
,@ending_procedure_code_id                   int = NULL
,@modifier                                   nvarchar(50) = NULL
,@fee_schedule_payment_method_id             int = NULL
,@payment_value                              numeric(20,10) = NULL
,@gap_code_value                             numeric(20,10) = NULL
,@anesthesia_time_value                      numeric(10,5) = NULL
,@anesthesia_base_standard_anesthesia_type_id int = NULL
,@anesthesia_minute_standard_anesthesia_type_id int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@is_balance_billable                        bit = NULL
,@pend_for_review                            bit = NULL
,@hold_for_payment                           bit = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159070021',
@ERROR_NOT_EXIST	= '159070023',
@ERROR_CANT_UPDATE 	= '159070022'
--
IF @fee_schedule_professional_medical_id is Null
BEGIN

--- Create a new fee_schedule_professional_medical_detail record
INSERT INTO fee_schedule_professional_medical_detail(
fee_schedule_id
,procedure_code_type_id
,procedure_code_icd_version_id
,starting_procedure_code_id
,ending_procedure_code_id
,modifier
,fee_schedule_payment_method_id
,payment_value
,gap_code_value
,anesthesia_time_value
,anesthesia_base_standard_anesthesia_type_id
,anesthesia_minute_standard_anesthesia_type_id
,effective_from
,effective_thru
,is_balance_billable
,pend_for_review
,hold_for_payment
,active
)
VALUES
(@fee_schedule_id
,@procedure_code_type_id
,@procedure_code_icd_version_id
,@starting_procedure_code_id
,@ending_procedure_code_id
,@modifier
,@fee_schedule_payment_method_id
,@payment_value
,@gap_code_value
,@anesthesia_time_value
,@anesthesia_base_standard_anesthesia_type_id
,@anesthesia_minute_standard_anesthesia_type_id
,@effective_from
,@effective_thru
,@is_balance_billable
,@pend_for_review
,@hold_for_payment
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @fee_schedule_professional_medical_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule_professional_medical_detail WHERE fee_schedule_professional_medical_id = @fee_schedule_professional_medical_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule_professional_medical_detail record
UPDATE fee_schedule_professional_medical_detail
SET
fee_schedule_id									 = @fee_schedule_id
,procedure_code_type_id                   = @procedure_code_type_id
,procedure_code_icd_version_id            = @procedure_code_icd_version_id
,starting_procedure_code_id               = @starting_procedure_code_id
,ending_procedure_code_id                 = @ending_procedure_code_id
,modifier                                 = @modifier
,fee_schedule_payment_method_id           = @fee_schedule_payment_method_id
,payment_value                            = @payment_value
,gap_code_value                           = @gap_code_value
,anesthesia_time_value                    = @anesthesia_time_value
,anesthesia_base_standard_anesthesia_type_id = @anesthesia_base_standard_anesthesia_type_id
,anesthesia_minute_standard_anesthesia_type_id = @anesthesia_minute_standard_anesthesia_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,is_balance_billable                      = @is_balance_billable
,pend_for_review                          = @pend_for_review
,hold_for_payment                         = @hold_for_payment
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_professional_medical_id = @fee_schedule_professional_medical_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
