USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reinsurance_deductible_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reinsurance_deductible_type_load]
AS
DECLARE @SP_SUCCESS INT = 0;

SELECT
reinsurance_deductible_type_id,
reinsurance_deductible_type_ud,
golden_key
FROM reinsurance_deductible_type;

RETURN @SP_SUCCESS;
GO
