USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_group_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Dec 19 2005 10:25AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------------------------------------------------------------------------
12/19/2005	Tinh Do			Created		15901: Client & Group
10/30/2007	Abhishek		Modified	18206: Added
09/17/2008	David Slayton	1.2			Removed accounting_company_second_segment_id column.
----------------------------------------------------------------------------------------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Load data for Group form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_client_group_load]
(
@client_group_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_group.client_group_id
,client_group_name.client_group_ud
,client_group_name.client_group_nm
,client_group_name.description
,client_group_name.client_group_name_id
,client_group.client_id
,client_name.client_ud
,convert( nvarchar ,client_group.created_date ,101) as client_created_date
,client.effective_from as client_effective_from
,client.effective_thru as client_effective_thru


,client_group.billing_type_id
,billing_type.billing_type_ud

,client_group.effective_from
,client_group.effective_thru

,client_group.termination_reason_id
,termination_reason.termination_reason_ud

,client_group.company_type_id
,company_type.company_type_ud

,client_group.incorporated_date

,client_group.incorporated_country_id as country_id
,country.country_ud

,client_group.incorporated_state_id as state_id
,state.state_ud

,client_group.signed_in_state_id as signed_in_state_id
,state1.state_ud as signed_in_state_ud

,client_group.industry_code_id
,industry_code.industry_code_ud
,industry_code.industry_code_nm

,client_group.contractor_ud
,client_group.contractor_nm
,client_group.template_benefit_contract_id as benefit_contract_id
,benefit_contract.benefit_contract_ud

,client_group.timely_filing_rule
,client_group.timely_filing_number_units

,client_group.timely_filing_unit_day_week_month_year_id as unit_day_week_month_year_id
,unit_day_week_month_year.unit_day_week_month_year_ud

,client_group.timely_filing_result_code_id as result_code_id
,result_code.result_code_ud
,result_code.short_message

,client_group.timely_filing_result_code_status_id
,result_code_status.result_code_status_ud

,client.accounting_company_id
,accounting_company.accounting_company_ud
,accounting_company.[description] As 'accounting_company_description'
,client_group.insurer_tin_id
,insurer_tin_ref.tax_identification_number as insurer_tin_tax_id_number
,client_group.employer_group_tin_id
,empl_group_tin_ref.tax_identification_number as employer_group_tin_tax_id_number
FROM client_group
inner join client  ON client.client_id = client_group.client_id
left join client_group_name on client_group.client_group_id = client_group_name.client_group_id and client_group_name.primary_name = 1
left join client_name on client_group.client_id = client_name.client_id and client_name.primary_name = 1

left join billing_type  ON billing_type.billing_type_id = client_group.billing_type_id
left join termination_reason ON   client_group.termination_reason_id =termination_reason.termination_reason_id
left join company_type  ON company_type.company_type_id = client_group.company_type_id

left join country  ON country.country_id = client_group.incorporated_country_id
left join state ON state.state_id = client_group.incorporated_state_id
left join state state1 ON state1.state_id = client_group.signed_in_state_id
left join industry_code  ON industry_code.industry_code_id = client_group.industry_code_id
left join benefit_contract  ON benefit_contract.benefit_contract_id = client_group.template_benefit_contract_id

left join unit_day_week_month_year  ON unit_day_week_month_year.unit_day_week_month_year_id = client_group.timely_filing_unit_day_week_month_year_id
left join result_code  ON result_code.result_code_id = client_group.timely_filing_result_code_id
left join result_code_status  ON result_code_status.result_code_status_id = client_group.timely_filing_result_code_status_id
left join accounting_company on client.accounting_company_id=accounting_company.accounting_company_id

left join tin_reference insurer_tin_ref on client_group.insurer_tin_id = insurer_tin_ref.tin_reference_id
left join tin_reference empl_group_tin_ref on client_group.employer_group_tin_id = empl_group_tin_ref.tin_reference_id
WHERE client_group.client_group_id = @client_group_id
--
RETURN @SP_SUCCESS
--
GO
