USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_payment_penalty_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	8/21/2009
--
DESCRIPTION:
The procedure is used to find payment_penalty_schedule records.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE           PROCEDURE [dbo].[plx_find_payment_penalty_schedule_load]
(
@get_column_headers			BIT = 0,
@payment_penalty_schedule_ud nvarchar(50)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = 'LIKE N'''
SET @suffix = '%'')'
END


IF ISNULL(@payment_penalty_schedule_ud, '') <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(payment_penalty_schedule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@payment_penalty_schedule_ud, @show_exact_matches) + @Suffix
IF ISNULL(@description, '') <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT  payment_penalty_schedule_id
,payment_penalty_schedule_ud
,description
FROM 	payment_penalty_schedule
'

--print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
