USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_reprice_claim_line]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[bind_reprice_claim_line]
	@claim_procedure_id int,
	@repriced_amount money
	
as 

update cp
set cp.repricing_amount = @repriced_amount
	, cp.modified_date = getdate()
	, cp.modified_user_name = SYSTEM_USER
from claim_procedure cp
where cp.claim_procedure_id = @claim_procedure_id


GO
