USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_scope_get_key_benefit_plan]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Description: Returns an accumulator scope key for benefit plan.  An existing match will be returned
or a new entry will be added to the table and returned.  This is safe for concurrent use.

Inputs:
@benefitContractId - Primary key of the benefit contract.  Plans are not unique in themselves; a combination
of contract/plan are used to identify specific benefit plan scopes.
@benefitPlanId - Primary key of the benefit plan.

*/

CREATE PROCEDURE [dbo].[plx_accumulator_scope_get_key_benefit_plan]
@benefitContractId BIGINT,
@benefitPlanId BIGINT
AS

SET NOCOUNT ON;

DECLARE @scopeKey UNIQUEIDENTIFIER = NULL;

SELECT @scopeKey = sk.scope_key
FROM accumulator_scope_key_benefit_plan sk
WHERE
sk.benefit_contract_id = @benefitContractId
AND sk.benefit_plan_id = @benefitPlanId;

IF @scopeKey IS NOT NULL
BEGIN
SELECT @scopeKey AS 'scope_key';
RETURN;
END

BEGIN TRY

-- Possible to have a concurrency issue with multiple inserts of the same key.  In a try/catch to detect
-- the situation.  There is a unique constraint on the primary key which is what we are inserting.
INSERT INTO accumulator_scope_key_benefit_plan (benefit_contract_id, benefit_plan_id)
VALUES (@benefitContractId, @benefitPlanId);

END TRY
BEGIN CATCH

-- Anything other than a primary key voilation we want to still throw back to the user.  For a primary
-- key failure we instead want to try reading from the table again as this probably means a concurrent
-- process just inserted a value before we did.
IF ERROR_NUMBER() <> 2627
THROW;

END CATCH

-- Either we inserted a new key, or we got a constraint violation of a duplicate key.  Either case has a need
-- to try and get the new key from the table.
SELECT @scopeKey = sk.scope_key
FROM accumulator_scope_key_benefit_plan sk
WHERE
sk.benefit_contract_id = @benefitContractId
AND sk.benefit_plan_id = @benefitPlanId;

IF @scopeKey IS NOT NULL
BEGIN
-- Should hit this if we successfully entered a new key or if we violated the unique constraint and then
-- re-read the key from the table.
SELECT @scopeKey AS 'scope_key';
END
ELSE
BEGIN
-- Should only happen if something wonky went on; such as catching the primary key violation and then still
-- not finding the new key in the database.
SELECT null AS 'scope_key';
END
GO
