USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/21/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/21/2012	CKnobloch	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete rows in grid "Add-On Procedure Code Detail" in frmAddOnProcedureCodeSchedule.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_detail_delete]
(
@procedure_code_add_on_id      INT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS  INT
SELECT
@SP_SUCCESS = 0

BEGIN TRAN

DELETE FROM procedure_code_add_on
WHERE procedure_code_add_on_id  = @procedure_code_add_on_id

COMMIT TRAN

RETURN @SP_SUCCESS
--
GO
