USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_cob_amount_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/20/2017	eponomareff	1.0		RT:11929 Created
02/27/2018	eponomareff	1.1		RT:11933 Updated - grdCobClaimHeader grid is now editable, with
behavior similar to the grdCobClaimProcedure
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load claim cob amounts for Claim - Additional Carrier Information grid
(grdCobClaimHeader) on the Claim COB Entry form

NOTE:
This grid may be populated for an 837 imported claim (at least one line has an original_source_gk = 'QDS_837').
This grid may be populated with a manually entered claim.

At least five rows are always displayed (see below)
In addition, additional adjustments may be displayed if added by the user or imported.

-- adjudication_object golden keys of grid rows always displayed in this order, and with these names

Golden Key						COB Item				Adjudication UD
-----------------------------------------------------------------------
NET_PAYMENT						Net Payment				Provider Net Payemnt
CONTRACT_AMOUNT					Contracted Amount		Contracted Amount
DEDUCTIBLE_AMOUNT				Deductible Amount		Deductible
COINSURANCE_AMOUNT				Coinsurance Amount		Coinsurance Amount
COPAY_AMOUNT					Copay Amount			Copay Amount

NOTES:
Columns with _nk suffix behave like _ud suffix, except that _nk columns should never be changed by users,
like golden keys. The reason we don't use golden_keys for claim_adjustment_reason_code is that this data
must be purchased, so we cannot ship with it.

The parentGridRowIndex is used as a grid filter for newly added rows to the parent Payer Sequence Grid (grdSequence)
--
******************************/
CREATE      PROCEDURE [dbo].[plx_claim_cob_amount_list_load]
(
@claim_id	Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

-- NET PAY ROW
SELECT
ccp.claim_cob_payer_id
,ccp.sequence_id
,null                          as claim_cob_adjustment_id
,null                          as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,null                          as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,'Net Payment'					as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,ccp.net_pay                   as amount
,1                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
dbo.claim_cob_payer ccp
LEFT JOIN adjudication_object ao
ON ao.golden_key = 'NET_PAYMENT'
WHERE ccp.claim_id = @claim_id

UNION
-- CONTRACTED AMOUNT (ALLOWED AMOUNT) ROW
SELECT
ccp.claim_cob_payer_id
,ccp.sequence_id
,null                          as claim_cob_adjustment_id
,null                          as claim_adjustment_group_code_id
,null                          as claim_adjustment_group_code_ud
,null                          as claim_adjustment_reason_code_id
,null                          as claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,ao.adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,ccp.allowed_amount            as amount
,2                             as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
dbo.claim_cob_payer ccp
LEFT JOIN adjudication_object ao
ON ao.golden_key = 'CONTRACT_AMOUNT'
WHERE ccp.claim_id = @claim_id

UNION
-- THREE NAMED ADJUSTMENTS - DEDUCTIBLE, COINSURANCE, COPAY
-- All three must show
SELECT
ccp.claim_cob_payer_id
,ccp.sequence_id
,cca.claim_cob_adjustment_id
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,carc.claim_adjustment_reason_code_id
,cca.claim_adjustment_reason_code_nk
,ao.adjudication_object_id
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 'Deductible Amount'
ELSE ao.adjudication_object_ud
END as adjudication_object_ud
,ao.golden_key                 as adjudication_object_gk
,cca.amount
, CASE
WHEN ao.golden_key = 'DEDUCTIBLE_AMOUNT' THEN 3
WHEN ao.golden_key = 'COINSURANCE_AMOUNT' THEN 4
WHEN ao.golden_key = 'COPAY_AMOUNT' THEN 5
END as sort_order
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_cob_payer ccp
left JOIN adjudication_object ao
ON ao.golden_key in (
'DEDUCTIBLE_AMOUNT',
'COINSURANCE_AMOUNT',
'COPAY_AMOUNT')
LEFT JOIN claim_cob_adjustment cca
ON cca.claim_cob_payer_id = ccp.claim_cob_payer_id
AND ao.adjudication_object_id = cca.adjudication_object_id
LEFT JOIN claim_adjustment_group_code cagc
ON cca.claim_adjustment_group_code_gk = cagc.golden_key
LEFT JOIN claim_adjustment_reason_code carc
ON carc.claim_adjustment_reason_code_nk = cca.claim_adjustment_reason_code_nk
WHERE ccp.claim_id = @claim_id


UNION
-- ANY OTHER ADJUSTMENTS, order by order entered into grid
SELECT
cca.claim_cob_payer_id
,ccp.sequence_id
,cca.claim_cob_adjustment_id
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,carc.claim_adjustment_reason_code_id
,cca.claim_adjustment_reason_code_nk
,ao.adjudication_object_id
,carc.description                    as adjudication_object_ud
,ao.golden_key                       as adjudication_object_gk
,cca.amount
,(cca.claim_cob_adjustment_id + 5) as sort_order     -- same order as entered
-- the parentGridRowIndex is populated after load, and used to correlate parent grid rows
,CONVERT(INT, NULL)             as parentGridRowIndex

FROM
claim_cob_adjustment cca
JOIN claim_cob_payer ccp
ON cca.claim_cob_payer_id = ccp.claim_cob_payer_id
LEFT JOIN adjudication_object ao
ON ao.adjudication_object_id = cca.adjudication_object_id
LEFT JOIN claim_adjustment_group_code cagc
ON cca.claim_adjustment_group_code_gk = cagc.golden_key
LEFT JOIN claim_adjustment_reason_code carc
ON carc.claim_adjustment_reason_code_nk = cca.claim_adjustment_reason_code_nk
WHERE ccp.claim_id = @claim_id
AND ao.golden_key IS NULL
ORDER BY sort_order
--
RETURN @SP_SUCCESS
GO
