USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_check_max_age_for_combination_statuses]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: HungTNguyen
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/20/2005  HungTNguyen     1.0             created
04/10/2008	David Slayton	1.1			Called a different function to get the correct age
in days, weeks, months, and years.
--------------------------------------------------------------------------------

CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
Check to enroll member on Family form
;
REQUIREMENTS	:

None
;
INPUTS		:

;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE        procedure [dbo].[plx_eligibility_restriction_check_max_age_for_combination_statuses]
@member_id 								int = null
,@family_eligibility_id                     int = null
,@relationship_to_insured_id 				int = null
,@benefit_contract_period_benefit_plan_id 	int = null
,@effective_from 							datetime = null
as
BEGIN
set nocount on
DECLARE
@SP_SUCCESS int ,
@SP_EXCEPTION int ,
@SP_EXCEPTION_AGE int,
@SP_RETURN int ,
@years_unit_type varchar(16),
@months_unit_type varchar(16),
@weeks_unit_type varchar(16),
@days_unit_type varchar(16),
@date_age int,
@week_age int,
@month_age int,
@year_age int,
@birth_date datetime
SELECT
@SP_SUCCESS = 0 ,
@SP_EXCEPTION = -1 ,
@SP_EXCEPTION_AGE = 1

SELECT
@years_unit_type = 'Years',
@months_unit_type = 'Months',
@weeks_unit_type = 'Weeks',
@days_unit_type = 'Days'
------------------------------------------------------------------------------------------
SELECT
@birth_date = birth_date
FROM member
Where member.member_id = @member_id

IF @birth_date is null OR  @effective_from is null OR @member_id is null
OR @benefit_contract_period_benefit_plan_id is null OR @relationship_to_insured_id is null
OR @family_eligibility_id is null
BEGIN
Print @SP_EXCEPTION
RETURN @SP_EXCEPTION
END

SET @date_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @days_unit_type)
SET @week_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @weeks_unit_type)
SET @month_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @months_unit_type)
SET @year_age = dbo.plx_fn_calculate_age(@birth_date, @effective_from, @years_unit_type)

------------------------------------------------------------------------------------------
DECLARE @cur_marital_id int
SET @cur_marital_id = null
Select @cur_marital_id = member.marital_status_id
From member
Where member.member_id = @member_id

------------------------------------------------------------------------------------------
DECLARE @cur_employment_id int
SET @cur_employment_id = null
Select @cur_employment_id = family_eligibility_employment.employment_status_code_id
From family_eligibility
INNER JOIN family_eligibility_employment ON family_eligibility_employment.family_eligibility_employment_id = family_eligibility.family_eligibility_employment_id
Where family_eligibility.family_eligibility_id = @family_eligibility_id

------------------------------------------------------------------------------------------
DECLARE @cur_student_id int
SET @cur_student_id = null
Select @cur_student_id = member.marital_status_id
From member
Inner Join member_student_status ON member_student_status.member_id = member.member_id
Where member.member_id = @member_id
AND ( member_student_status.effective_from is null OR member_student_status.effective_from <= @effective_from )
AND ( member_student_status.effective_thru is null OR member_student_status.effective_thru >= @effective_from )
------------------------------------------------------------------------------------------

DECLARE result_codes CURSOR FOR
SELECT
relationship_maximum_age.maximum_age
,unit_day_week_month_year.golden_key
FROM benefit_contract_period_benefit_plan
INNER JOIN benefit_contract_period_benefit_plan_eligibility_restriction ON benefit_contract_period_benefit_plan_eligibility_restriction.benefit_contract_period_benefit_plan_id = benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id

INNER JOIN eligibility_restriction ON eligibility_restriction.eligibility_restriction_id = benefit_contract_period_benefit_plan_eligibility_restriction.eligibility_restriction_id
INNER JOIN eligibility_restriction_relationship_to_subscriber ON eligibility_restriction_relationship_to_subscriber.eligibility_restriction_id = eligibility_restriction.eligibility_restriction_id
AND dbo.plx_eligibility_restriction_check_relationship_and_relationship_set( @relationship_to_insured_id
,eligibility_restriction_relationship_to_subscriber.relationship_to_insured_id
,eligibility_restriction_relationship_to_subscriber.relationship_to_insured_set_id ) = 1
AND dbo.plx_eligibility_restriction_check_member_has_disability_in_set( @member_id
,eligibility_restriction_relationship_to_subscriber.age_rule_disability_status_set_id ) = 0
INNER JOIN relationship_maximum_age ON relationship_maximum_age.eligibility_restriction_relationship_to_subscriber_id = eligibility_restriction_relationship_to_subscriber.eligibility_restriction_relationship_to_subscriber_id
AND relationship_maximum_age.maximum_age is not null
AND relationship_maximum_age.maximum_age_unit_day_week_month_year_id is not null
AND (relationship_maximum_age.student_status_id is null  OR  relationship_maximum_age.student_status_id = @cur_student_id )
AND (relationship_maximum_age.employment_status_code_id is null  OR  relationship_maximum_age.employment_status_code_id = @cur_employment_id )
AND (relationship_maximum_age.marital_status_id is null  OR  relationship_maximum_age.marital_status_id = @cur_marital_id )
AND NOT (relationship_maximum_age.student_status_id is null and
relationship_maximum_age.employment_status_code_id is null and
relationship_maximum_age.marital_status_id is null )
INNER JOIN unit_day_week_month_year ON unit_day_week_month_year.unit_day_week_month_year_id = relationship_maximum_age.maximum_age_unit_day_week_month_year_id
WHERE benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

DECLARE @unit int
DECLARE @type nvarchar(50)

------------------------------------------------------------------------------------------
SET @SP_RETURN = @SP_SUCCESS
OPEN result_codes
FETCH NEXT FROM result_codes
INTO @unit, @type
WHILE @@FETCH_STATUS = 0
BEGIN
IF @type = @days_unit_type and @date_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_AGE
Break
End
IF @type = @weeks_unit_type and @week_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_AGE
Break
End
IF @type = @months_unit_type and @month_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_AGE
Break
End
IF @type = @years_unit_type and @year_age > @unit
Begin
SET @SP_RETURN = @SP_EXCEPTION_AGE
Break
End
FETCH NEXT FROM result_codes
INTO @unit, @type
END
CLOSE result_codes
DEALLOCATE result_codes
------------------------------------------------------------------------------------------

Print  @SP_RETURN
RETURN @SP_RETURN
END
GO
