USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_sub_category_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: M.SIVASHANKER
Date: 02/16/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/16/2005	M.SIVASHANKER	1.0		Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This Sps is used to load the additional Information Topic for the given
@additional_information_topic_id
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_sub_category_load]
(
@Benefit_plan_category_id	Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_sub_category.benefit_sub_category_id
,benefit_sub_category.benefit_sub_category_ud

FROM	benefit_sub_category

WHERE
benefit_sub_category.benefit_category_id =@Benefit_plan_category_id
ORDER By  benefit_sub_category.benefit_sub_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
