USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/08/2005	ptran			1.1			FS changed
2006/03/08	Thuy Ha						created_date and modified_date use DB Server date
04/30/2008	David Slayton	1.3			Included auto_create_member_id_rule_id, eligibility_seed_value
and pay_claims_to_id when creating a new record.  Values should
not ever get updated from this form and so they were not included
in update functionality.
09/12/2011	Crystalyn K		1.4			ICU# 22144 - added disenrollment_letter
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save for Benefit Plan Panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id - Key to benefit_contract_period_benefit_plan table, identifies a single benefit_contract_period_benefit_plan,
@benefit_contract_period_id
@benefit_plan_id
@original_benefit_plan_id
@principle_plan
@benefit_plan_type_id
@parent_benefit_contract_period_benefit_plan_id
@base_supplemental_rollover_rule_id
@disenrollment_letter
@financial_code_id
@financial_sub_code_id
@network_not_applicable
@resolve_option_at_id
@auto_create_member_id_rule_id
@eligibility_seed_value
@pay_claim_to_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been denormalized to child objects?

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_save]
(
@benefit_contract_period_benefit_plan_id    int = NULL   OUTPUT
,@benefit_contract_period_id                 int = NULL
,@benefit_plan_id                            int = NULL
,@original_benefit_plan_id                   int = NULL  OUTPUT
,@principle_plan                             bit = NULL
,@benefit_plan_type_id                       int = NULL
,@parent_benefit_contract_period_benefit_plan_id int = NULL
,@base_supplemental_rollover_rule_id         int = NULL
,@accum_framework_id			         int = NULL
,@accumulator_framework_accumulator_class_accumulator_id int = NULL
,@disenrollment_letter						 bit = NULL
,@financial_code_id                          int = NULL
,@financial_sub_code_id                      int = NULL
,@network_not_applicable                     bit = NULL
,@resolve_option_at_id                      int = NULL
,@auto_create_member_id_rule_id              int = NULL
,@eligibility_seed_value                     varchar(50) = NULL
,@pay_claim_to_id                            int = NULL
,@cms_coverage_type_id                       int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @benefit_contract_period_benefit_plan_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period_benefit_plan(
benefit_contract_period_id
,benefit_plan_id
,principle_plan
,benefit_plan_type_id
,parent_benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id
,accumulator_framework_id
,accumulator_framework_accumulator_class_accumulator_id
,disenrollment_letter
,financial_code_id
,financial_sub_code_id
,network_not_applicable
,resolve_option_at_id
,auto_create_member_id_rule_id
,eligibility_seed_value
,pay_claim_to_id
,cms_coverage_type_id
,active
)
VALUES
(@benefit_contract_period_id
,@benefit_plan_id
,@principle_plan
,@benefit_plan_type_id
,@parent_benefit_contract_period_benefit_plan_id
,@base_supplemental_rollover_rule_id
,@accum_framework_id
,@accumulator_framework_accumulator_class_accumulator_id
,@disenrollment_letter
,@financial_code_id
,@financial_sub_code_id
,@network_not_applicable
,@resolve_option_at_id
,@auto_create_member_id_rule_id
,@eligibility_seed_value
,@pay_claim_to_id
,@cms_coverage_type_id
,@active
)
--
SET @benefit_contract_period_benefit_plan_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan WITH (NOLOCK)WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id )
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN

IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan WITH (NOLOCK) WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
and benefit_plan_id=@benefit_plan_id)
BEGIN

DELETE	bcpbpbccr
FROM	benefit_contract_period_benefit_plan_benefit_class_choice_resolution AS bcpbpbccr
INNER JOIN benefit_contract_period_benefit_plan AS bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpbccr.benefit_contract_period_benefit_plan_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND bcpbp.benefit_plan_id = @benefit_plan_id

DELETE	bcpbpaccr
FROM	benefit_contract_period_benefit_plan_accumulator_class_choice_resolution AS bcpbpaccr
INNER JOIN benefit_contract_period_benefit_plan AS bcpbp
ON bcpbp.benefit_contract_period_benefit_plan_id = bcpbpaccr.benefit_contract_period_benefit_plan_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND bcpbp.benefit_plan_id = @benefit_plan_id

END

BEGIN

UPDATE benefit_contract_period_benefit_plan
SET
benefit_contract_period_id               = @benefit_contract_period_id
,benefit_plan_id                          = @benefit_plan_id
,principle_plan                           = @principle_plan
,benefit_plan_type_id                     = @benefit_plan_type_id
,parent_benefit_contract_period_benefit_plan_id = @parent_benefit_contract_period_benefit_plan_id
,base_supplemental_rollover_rule_id       = @base_supplemental_rollover_rule_id
,accumulator_framework_id					= @accum_framework_id
,accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id
,disenrollment_letter					 = @disenrollment_letter
,financial_code_id                        = @financial_code_id
,financial_sub_code_id                    = @financial_sub_code_id
,network_not_applicable                   = @network_not_applicable
,resolve_option_at_id					 = @resolve_option_at_id
,cms_coverage_type_id                    = @cms_coverage_type_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
END

-- Delete ID Card rule not In Benefit Period
BEGIN
DELETE
FROM benefit_id_card
WHERE benefit_id_card.benefit_contract_period_id = @benefit_contract_period_id
AND benefit_id_card.benefit_category_id NOT IN
(SELECT bf.benefit_category_id
FROM benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp ON bcpbp.benefit_plan_id = bp.benefit_plan_id
INNER JOIN benefit_framework bf ON bp.benefit_framework_id = bf.benefit_framework_id
WHERE bcpbp.benefit_contract_period_id = @benefit_contract_period_id
)
END

set @original_benefit_plan_id=@benefit_plan_id


END

--thanhnguyen develop for Update to Benefit Contract Template
if (@resolve_option_at_id is not null)
begin
if (select golden_key from benefit_plan_type where benefit_plan_type_id=@benefit_plan_type_id)='Base Plan'
begin
declare @benefit_category_id int, @benefit_sub_category_id int
select @benefit_category_id=bc.benefit_category_id
,@benefit_sub_category_id=bsc.benefit_sub_category_id
from benefit_sub_category bsc
,benefit_category bc
,benefit_framework bf
,benefit_plan bp
where bp.benefit_plan_id=@benefit_plan_id
and bf.benefit_framework_id = bp.benefit_framework_id
and bf.benefit_sub_category_id = bsc.benefit_sub_category_id
and bf.benefit_category_id = bc.benefit_category_id

update benefit_contract_period_benefit_plan
set
resolve_option_at_id=@resolve_option_at_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where benefit_plan_id in (select bcpbp.benefit_plan_id
from benefit_contract_period_benefit_plan bcpbp
inner join benefit_plan bp on bp.benefit_plan_id=bcpbp.benefit_plan_id
inner join benefit_framework bf ON bf.benefit_framework_id = bp.benefit_framework_id
where bcpbp.benefit_plan_type_id=@benefit_plan_type_id
and bcpbp.benefit_contract_period_id=@benefit_contract_period_id
and bf.benefit_category_id=@benefit_category_id
and bf.benefit_sub_category_id=@benefit_sub_category_id)
and benefit_contract_period_benefit_plan.benefit_plan_type_id=@benefit_plan_type_id
and benefit_contract_period_benefit_plan.benefit_contract_period_id=@benefit_contract_period_id
end
end
--end of developing for Update to Benefit Contract Template

--
RETURN @SP_SUCCESS
--
GO
