USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 04/04/2014
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/04/2014	amortensen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is to delete a record of external claim editing rules assignment
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_external_claim_editing_rules_assignment_delete]
(
@external_claim_editing_rules_assignment_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM external_claim_editing_rules_assignment WHERE external_claim_editing_rules_assignment_id = @external_claim_editing_rules_assignment_id)
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM external_claim_editing_rules_assignment
WHERE external_claim_editing_rules_assignment_id = @external_claim_editing_rules_assignment_id
END
--
RETURN @SP_SUCCESS
--
GO
