USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kquoc
DATE: 09/13/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/13/2005	kquoc		1.0			create
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in accumulator_framework_accumulator_class table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
@pre_existing_condition_rule_set_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_check_delete]
(
@accumulator_framework_accumulator_class_id		int = NULL,
@is_accumulator_choice_list     int = 1
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@FINAL_RESULT int

SET @SP_DELETE_ABLE		= 1
SET	@SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION		= -1

IF NOT EXISTS (	SELECT 	accumulator_framework_accumulator_class_id
FROM 	accumulator_framework_accumulator_class
WHERE 	accumulator_framework_accumulator_class_id =
@accumulator_framework_accumulator_class_id )
BEGIN
SET  @FINAL_RESULT = @SP_EXCEPTION
END
--
ELSE
IF (@is_accumulator_choice_list = 1)
BEGIN
set @FINAL_RESULT = @SP_DELETE_ABLE
IF EXISTS (
SELECT 	accumulator_framework_accumulator_class_accumulator_id
FROM	accumulator_framework_accumulator_class_accumulator
WHERE 	accumulator_framework_accumulator_class_id
= @accumulator_framework_accumulator_class_id
)
BEGIN
set @FINAL_RESULT = @SP_DELETE_UNABLE
END
ELSE
BEGIN
---declare variables for cursor
DECLARE accumulator_choice_list_cursor CURSOR FOR
SELECT	accumulator_choice_list_id
FROM 	accumulator_choice_list
WHERE 	accumulator_framework_accumulator_class_id =
@accumulator_framework_accumulator_class_id

DECLARE @accumulator_choice_list_id int,
@check_result int

--open cursor
OPEN accumulator_choice_list_cursor
--traverse cursor
FETCH NEXT FROM accumulator_choice_list_cursor
INTO @accumulator_choice_list_id

while @@fetch_status = 0
begin
EXEC @check_result =
dbo.plx_accumulator_choice_list_check_delete @accumulator_choice_list_id

IF ( @check_result = @SP_DELETE_UNABLE)
BEGIN
set @FINAL_RESULT = @SP_DELETE_UNABLE
break
END
ELSE IF ( @check_result = @SP_EXCEPTION)
BEGIN
set @FINAL_RESULT = @SP_EXCEPTION
break
END

FETCH NEXT FROM accumulator_choice_list_cursor
INTO @accumulator_choice_list_id

end
--end cursor
CLOSE accumulator_choice_list_cursor
DEALLOCATE accumulator_choice_list_cursor
END
END
--
ELSE
BEGIN
set @FINAL_RESULT = @SP_DELETE_ABLE
IF EXISTS (
SELECT	accumulator_choice_list_id
FROM 	accumulator_choice_list
WHERE 	accumulator_framework_accumulator_class_id =
@accumulator_framework_accumulator_class_id
)
BEGIN
set @FINAL_RESULT = @SP_DELETE_UNABLE
END
ELSE
BEGIN
---declare variables for cursor
DECLARE accumulator_framework_accumulator_class_accumulator_cursor CURSOR FOR
SELECT	accumulator_framework_accumulator_class_accumulator_id
FROM 	accumulator_framework_accumulator_class_accumulator
WHERE 	accumulator_framework_accumulator_class_id =
@accumulator_framework_accumulator_class_id

DECLARE @accumulator_framework_accumulator_class_accumulator_id int
,@check_result2 int

--open cursor
OPEN accumulator_framework_accumulator_class_accumulator_cursor
--traverse cursor
FETCH NEXT FROM accumulator_framework_accumulator_class_accumulator_cursor
INTO @accumulator_framework_accumulator_class_accumulator_id
while @@fetch_status = 0
begin
EXEC @check_result2 =
dbo.plx_accumulator_framework_accumulator_class_accumulator_check_delete
@accumulator_framework_accumulator_class_accumulator_id

IF ( @check_result2 = @SP_DELETE_UNABLE)
BEGIN
set @FINAL_RESULT = @SP_DELETE_UNABLE
break
END
ELSE IF ( @check_result2 = @SP_EXCEPTION)
BEGIN
set @FINAL_RESULT = @SP_EXCEPTION
break
END
FETCH NEXT FROM accumulator_framework_accumulator_class_accumulator_cursor
INTO @accumulator_framework_accumulator_class_accumulator_id
end
--end cursor
CLOSE accumulator_framework_accumulator_class_accumulator_cursor
DEALLOCATE accumulator_framework_accumulator_class_accumulator_cursor
END
END

RETURN @FINAL_RESULT
END
GO
