USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_concurrency_lock_get]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	04/16/2010
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
09/09/2014		Aaron Mortensen		RT:7069 - Updated to remove check if locking is necessary.
All Claims are locked regardless of Adjudication Status.
06/12/2015      Jeffrey Bernard	    -- RT:8468 Need to check for claim process locks when checking claim concurrency locks
--

DESCRIPTION:
This procedure is used to try to insert and retrieve a lock for a form.
Queries for: is_locked and is_lock_owner and user_name

For QC UI - Use @form_name parameter (do not need to get @concurrency_lock_type_id
For EDI - Use @concurrency_lock_type_id (do not need to get @form_name)
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
Create PROCEDURE [dbo].[plx_concurrency_lock_get] (
@form_name NVARCHAR(100) = NULL
,@concurrency_lock_type_id INT = NULL
,@record_id INT
,@user_name NVARCHAR(255)
)
AS
SET NOCOUNT ON

DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@lookupId INT
,@typeId INT
,@sql NVARCHAR(2000)
,@isLocked BIT
,@isOwner BIT
,@lockUserName NVARCHAR(255)
,@processLockTypeGoldenKey NVARCHAR(50) = NULL
,@concurrencyLockTypeGoldenKey NVARCHAR(50)


SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

IF (
ISNULL(@form_name, '') <> ''
AND ISNULL(@concurrency_lock_type_id, 0) <= 0
)
SELECT @typeId = c.concurrency_lock_type_id
,@lookupId = u.ui_engine_lookup_parameter_id
FROM concurrency_lock_type_ui_engine_lookup c
INNER JOIN ui_engine_lookup_parameter u
ON u.ui_engine_lookup_parameter_id = c.ui_engine_lookup_parameter_id
WHERE u.display_form = @form_name
ELSE
SELECT @typeId = @concurrency_lock_type_id
,@lookupId = NULL
,@concurrencyLockTypeGoldenKey = NULL

IF (ISNULL(@typeId, 0) <= 0)
BEGIN
SELECT 0 AS [is_locked]
,0 AS [is_lock_owner]
,'' AS [user_name]
,'' AS [processLockTypeGoldenKey]

RETURN @SP_EXCEPTION
END

-- RT:8468 Need to check for claim process locks when checking claim concurrency locks
-- Check for Process Lock
SELECT @concurrencyLockTypeGoldenKey = golden_key
FROM concurrency_lock_type clt
WHERE clt.concurrency_lock_type_id = @typeId

IF (ISNULL(@concurrencyLockTypeGoldenKey,'') = 'CLAIM')
BEGIN
SELECT @processLockTypeGoldenKey = plt.golden_key
FROM dbo.process_lock pl
INNER JOIN dbo.process_lock_type plt
ON plt.process_lock_type_id = pl.process_lock_type_id
WHERE pl.object_record_id = @record_id
AND plt.golden_key = 'ADJUDICATION_CLAIM'

IF (@processLockTypeGoldenKey IS NOT NULL)
BEGIN
SELECT 1 AS [is_locked]
,0 AS [is_lock_owner]
,'' AS [user_name]
,@processLockTypeGoldenKey AS [processLockTypeGoldenKey]

RETURN @SP_SUCCESS
END
END



--Attempt to Lock Claim. If Claim is already Locked, insert will fail.
BEGIN TRY
INSERT INTO concurrency_lock (
concurrency_lock_type_id
,record_id
,ui_engine_lookup_parameter_id
,security_user_name
)
VALUES (
@typeId
,@record_id
,@lookupId
,@user_name
)
END TRY

BEGIN CATCH
--If insert fails, record is locked (either by user or someone else)
SELECT 1 AS [is_locked]
,0 AS [is_lock_owner]
,security_user_name AS [user_name]
,'' AS [processLockTypeGoldenKey]


FROM concurrency_lock
WHERE concurrency_lock_type_id = @typeId
AND record_id = @record_id

RETURN @SP_SUCCESS
END CATCH

SELECT @lockUserName = security_user_name
FROM concurrency_lock
WHERE (@typeId is null OR concurrency_lock_type_id = @typeId)
AND record_id = @record_id

SELECT @isLocked = CASE
WHEN ISNULL(@lockUserName, '') = ''
THEN 0
ELSE 1
END
,@isOwner = CASE
WHEN ISNULL(@lockUserName, '') = @user_name
THEN 1
ELSE 0
END

SELECT @isLocked AS [is_locked]
,@isOwner AS [is_lock_owner]
,ISNULL(@lockUserName, '') as [user_name]
,'' AS [processLockTypeGoldenKey]

RETURN @SP_SUCCESS
GO
