USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_ar_fee_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
Date: 07/13/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/13/2009  W.Christensen  1.0      Created
01/21/2010	Vishwa Jella	1.1		Added is_in_use flag to set read only row
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load data for AR Fees grid on ClientFeeSetup form

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_fee_setup_ar_fee_load]
(
@client_fee_setup_id  INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT
cfsar.client_fee_setup_ar_fee_id
,cfsar.client_fee_setup_id
,cfsar.effective_from
,cfsar.effective_thru
,cfsar.client_fee_type_id
,cft.client_fee_type_ud
,cfsar.description
,cfsar.client_fee_calculation_rule_id
,cfcr.client_fee_calculation_rule_ud
,cfsar.amount
,cfsar.maximum_amount
,cfsar.client_fee_maximum_frequency_id
,cfmf.client_fee_maximum_frequency_ud
,cfsar.customer_id
,c.customer_ud
,dbo.plx_fn_check_client_fee_setup_ar_fee_in_use(cfsar.client_fee_setup_ar_fee_id) AS is_in_use
,cfsar.ar_accounting_company_account_id
,aca_ar.accounting_company_account_ud AS ar_accounting_company_account_ud
,cfsar.revenue_accounting_company_account_id
,aca_rev.accounting_company_account_ud AS revenue_accounting_company_account_ud
,cfsar.client_group_id
,cgn.client_group_ud
,cfsar.benefit_contract_id
,bc.benefit_contract_ud
,cfsar.provider_network_id
,pn.provider_network_ud
,cfsar.payment_contract_id
,pc.payment_contract_ud
,cfsar.provider_identifier_id
,prov.provider_ud
,cfsar.modified_date

FROM client_fee_setup_ar_fee cfsar
INNER JOIN client_fee_setup cfs ON cfsar.client_fee_setup_id = cfs.client_fee_setup_id
INNER JOIN accounting_company_account aca_ar ON cfsar.ar_accounting_company_account_id = aca_ar.accounting_company_account_id
INNER JOIN accounting_company_account aca_rev ON cfsar.revenue_accounting_company_account_id = aca_rev.accounting_company_account_id
INNER JOIN customer c ON cfsar.customer_id = c.customer_id
INNER JOIN client_fee_type cft ON cfsar.client_fee_type_id = cft.client_fee_type_id
INNER JOIN client_fee_calculation_rule cfcr ON cfsar.client_fee_calculation_rule_id = cfcr.client_fee_calculation_rule_id
LEFT JOIN client_fee_maximum_frequency cfmf ON cfsar.client_fee_maximum_frequency_id = cfmf.client_fee_maximum_frequency_id
LEFT JOIN client_group_name cgn ON cfsar.client_group_id = cgn.client_group_id AND cgn.primary_name = 1
LEFT JOIN provider_identifier prov ON cfsar.provider_identifier_id = prov.provider_identifier_id
LEFT JOIN payment_contract pc ON cfsar.payment_contract_id = pc.payment_contract_id
LEFT JOIN benefit_contract bc ON cfsar.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN provider_network pn ON cfsar.provider_network_id = pn.provider_network_id

WHERE
cfs.client_fee_setup_id = @client_fee_setup_id
--
RETURN @SP_SUCCESS
--
GO
