USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_panel_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 10/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/18/2005	Tinh Do		Create		15656 - Eligibility Func Spec

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data for panel "pnlBenefitPlan"
on Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_panel_load]
(
@family_eligibility_member_benefit_plan_id int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT family_eligibility_member_benefit_plan_id
,family_eligibility.family_eligibility_id
,family_eligibility_member_benefit_plan.benefit_plan_id
,'null' as benefit_contract_period_benefit_plan_id
,family_eligibility.object_row_version

FROM family_eligibility_member_benefit_plan
inner join family_eligibility_member on family_eligibility_member.family_eligibility_member_id =family_eligibility_member_benefit_plan.family_eligibility_member_id
inner join family_eligibility on family_eligibility.family_eligibility_id =family_eligibility_member.family_eligibility_id
where family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
