USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_functional_area_assignment_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Dec  9 2005 10:36AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/09/2005	Anh Ta		1.0		Created and using for 15889 Claim statuses and result codes
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down functional_area_assignment (Functional Area Assignment)
--
REQUIREMENTS:
--
INPUTS:
functional_area_assignment_id - Key to functional_area_assignment table, identifies a single stored dd_functional_area_assignment.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_functional_area_assignment_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
functional_area_assignment.functional_area_assignment_id
,functional_area_assignment.functional_area_assignment_ud
--      ,functional_area_assignment.description
FROM functional_area_assignment
ORDER BY functional_area_assignment_ud
--
RETURN @SP_SUCCESS
GO
