USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to insert | update a criteria

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:
0	Success
-1	Exception occurred, refer to error message
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_criteria_ui_save]
(
@criteria_id			INT 			= NULL OUTPUT
,@criteria_ud			NVARCHAR(50) 	= NULL
,@description			NVARCHAR(255) 	= NULL
,@criteria_category_id 		INT 			= NULL
,@criteria_functional_area_id 	INT 			= NULL
,@active			BIT			= 1
)

AS
SET NOCOUNT ON

--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--

IF @criteria_id IS NULL
BEGIN
-- create new criteria
INSERT INTO criteria
(
criteria_ud
,description
,criteria_processing_category_id
,criteria_functional_area_id
,active
)
VALUES
(@criteria_ud
,@description
,@criteria_category_id
,@criteria_functional_area_id
,@active
)
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT criteria_id FROM criteria WHERE criteria_id = @criteria_id )
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
ELSE
BEGIN
-- update criteria
UPDATE criteria
SET
criteria_ud 			= @criteria_ud
,description			= @description
,criteria_processing_category_id	= @criteria_category_id
,criteria_functional_area_id	= @criteria_functional_area_id
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE criteria_id = @criteria_id
END

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)

RETURN @SP_SUCCESS
GO
