USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_list_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Mar 31 2006  9:41AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/30/2006      HungTNguyen     1.0             Create
09/13/2011	Cknobloch		1.1		changed key
09/03/2014  eponomareff             RT:6046 Data modification project

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Commercial Health Plans"
in frmMemberCOB form.
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_list_delete]

(
@cob_member_commercial_health_plan_id       int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION  =-1,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = ''

IF (NOT @cob_member_commercial_health_plan_id is null ) and (@cob_member_commercial_health_plan_id >0)
BEGIN

DECLARE @ErrorVar int, @RowCountVar int;
IF EXISTS(SELECT * FROM cob_member_commercial_health_plan_contact WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id)
BEGIN
DELETE FROM cob_member_commercial_health_plan_contact
WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id
--

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

print @RowCountVar

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

IF EXISTS(SELECT * FROM cob_member_commercial_health_plan_claim WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id)
BEGIN
DELETE FROM cob_member_commercial_health_plan_claim
WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id
--

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

print @RowCountVar

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

DELETE FROM cob_member_commercial_health_plan
WHERE cob_member_commercial_health_plan_id = @cob_member_commercial_health_plan_id
--

--DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END



RETURN @SP_SUCCESS
--
GO
