USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_timely_unit_day_week_month_year_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_dd_timely_unit_day_week_month_year_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
unit_day_week_month_year.unit_day_week_month_year_id as timely_unit_day_week_month_year_id
,unit_day_week_month_year.unit_day_week_month_year_ud as timely_unit_day_week_month_year_ud
FROM unit_day_week_month_year
ORDER BY unit_day_week_month_year_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
