USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_controls_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/17/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/17/2009	eponomareff		1.0		Created
2/27/2009	eponomareff		1.1		Modified to take into account recursively all child controls of tab_page or group_box using CTE (common table expression)
This was necessary because intermediary container controls, such as panels are frequently used
05/15/2009  eponomareff    1.2      Modified to display user-friendly caption rather than name of control
06/01/2009  eponomareff    1.3      Modified to use new view on ui_engine_control table, rather than table directly
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:

Load drop down of securable controls associated with a form and (optionally)
those securable controls contained within a tab_page or group_box, within a given form.

This combo box appears on the security form Edit Permissions - Field Permissions tab

Securable controls are defined as follows:
TextBox
ComboBox
Calendar
CheckBox
NOTE - grid columns are handled by a different stored procedure

--
REQUIREMENTS:
--
INPUTS:
form_name
tab_name
group_name
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_security_controls_load]
(
@form_name VARCHAR(255) = NULL
,@parent_control_name VARCHAR(255) = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

--if no parent control, just get all the securable controls on the form
IF ISNULL(@parent_control_name, '') = ''
--changed to use view
BEGIN
SELECT
vscc.control_name                                               AS control_name_id
,vscc.user_visible_caption                                      AS control_name_ud
,vscc.control_type                                              AS 'Type'
FROM vw_securable_child_controls vscc
WHERE
vscc.control_form_name = @form_name
END;

--else, get all child controls recursively
--using CTE (Common Table Expressions)
ELSE
WITH ControlChildren (control_id, control_name, control_caption, control_type, Level)
AS
(
--Anchor member definition
-- start with the parent control (tab page or group box) and gather all the children

SELECT
vufcc.control_id             AS control_id
,vufcc.control_name           AS control_name
,vufcc.user_visible_caption   AS control_caption
,vufcc.control_type           AS control_type
,0                 AS Level
FROM vw_user_friendly_control_captions vufcc
WHERE vufcc.control_form_name = @form_name
AND ISNULL(vufcc.control_parent_name,'') = @parent_control_name
UNION ALL
--Recursive member definition
SELECT
vufcc.control_id             AS control_id
,vufcc.control_name           AS control_name
,vufcc.user_visible_caption   AS control_caption
,vufcc.control_type           AS control_type
,Level + 1
FROM vw_user_friendly_control_captions vufcc
INNER JOIN ControlChildren AS cc
ON ISNULL(cc.control_id,'') = ISNULL(vufcc.control_parent_id,'')
)
--Execute the CTE
SELECT
control_name                                                             AS control_name_id
,control_caption                                                         AS control_name_ud
,control_type                                                            AS 'Type'
--	,Level
FROM
ControlChildren
WHERE
control_type in
('TextBox', 'ComboBox', 'CheckBox', 'Calendar')


RETURN @SP_SUCCESS
--
GO
