USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_government_health_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Apr  3 2006 10:13AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down government_health_plan (Government Health Plans)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_government_health_plan_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
government_health_plan_id
,government_health_plan_ud
-- ,golden_key
-- ,gsu
FROM government_health_plan
order by    government_health_plan_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
