USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_billing_provider_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/02/2006	HuyThan			1.0		Created
10/06/2008	eponomareff		1.1		Changed to get single row with npi, removed networks
This sp should return only bindable columns
Because networks don't have primary, you may get multiple rows
back, which causes an infinite loop invoking the find
For addresses, implemented a derived table in the join
to get correct (primary/default) address from practice
office contact.
06/07/2010 Aaron O'Neil     1.2     There is a set of these info look up procecures -- moved common default
address code to a view shared between them all.
Created an early exit when no parameters are given.
09/03/2014	dcannon		1.3		added delivery_route to functin (updated relevent views to provide delivery_route)
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.3
;
DESCRIPTION	:
This procedure is used to load billing provider data for Professional claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/


CREATE   PROCEDURE [dbo].[plx_claim_billing_provider_info_load]
(
@billing_provider_identifier_id        INT = NULL,
@billing_provider_ud	varchar(50) = NULL
)
AS
BEGIN
If (@billing_provider_identifier_id Is Null And @billing_provider_ud Is Null)
Begin
Select
null as 'billing_provider_id',
null as 'billing_provider_identifier_id',
null as 'billing_provider_ud',
null as 'billing_provider_name',
null as 'billing_provider_address',
null as 'billing_provider_npi'

Return
End

--Get provider_identifier_type_id for NPI
DECLARE	@npi_provider_identifier_type_id int
SELECT @npi_provider_identifier_type_id = pit.provider_identifier_type_id
FROM provider_identifier_type pit
WHERE  pit.golden_key = 'NPI'

------------------------------------------------------------------------------------------------------------------------------------
-- Get the right address
------------------------------------------------------------------------------------------------------------------------------------

DECLARE @addr1 nvarchar(100), @addr2 nvarchar(100), @locale_id int, @delivery_route nvarchar(10)

SELECT
@addr1 = popa.address_1,
@addr2 = popa.address_2,
@locale_id = popa.locale_id,
@delivery_route = popa.delivery_route
FROM dbo.Provider p
INNER JOIN dbo.provider_identifier pi
ON p.provider_id = pi.provider_id
LEFT JOIN vw_provider_practice_office_contact_address_default popa
ON popa.provider_id = p.provider_id
WHERE
((pi.provider_identifier_id = @billing_provider_identifier_id) or (@billing_provider_identifier_id IS NULL))
and ((pi.provider_ud = @billing_provider_ud) or (@billing_provider_ud IS NULL))

IF @addr1 IS NULL AND @addr2 IS NULL AND @locale_id IS NULL
BEGIN
PRINT 'No Address'
SELECT
@addr1=a.address_1,
@addr2 = a.address_2,
@locale_id = a.locale_id,
@delivery_route  = a.delivery_route
FROM
[address] a
INNER JOIN provider_address pa
ON pa.address_id = a.address_id
INNER JOIN provider_identifier pi
ON pi.provider_id = pa.provider_id
WHERE
pi.provider_identifier_id = @billing_provider_identifier_id
END

-------------------------------------------------------------------------------------------------------------------------------------

SELECT
pi.provider_id as billing_provider_id
, pi.provider_identifier_id as billing_provider_identifier_id
, pi.provider_ud as billing_provider_ud
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, null) AS billing_provider_name
,dbo.plx_ConcatenateAddress(@addr1, @addr2, @delivery_route, @locale_id ) as billing_provider_address
, pi_npi.provider_ud as billing_provider_npi
FROM dbo.Provider p
INNER JOIN dbo.provider_identifier pi
ON p.provider_id = pi.provider_id
LEFT JOIN dbo.provider_name pn
ON pn.provider_id = p.provider_id AND pn.is_primary = 1
LEFT JOIN vw_provider_practice_office_contact_address_default popa
ON popa.provider_id = p.provider_id
LEFT JOIN dbo.provider_identifier pi_npi on pi_npi.provider_id = p.provider_id
AND pi_npi.provider_identifier_type_id = @npi_provider_identifier_type_id
WHERE
((pi.provider_identifier_id = @billing_provider_identifier_id) or (@billing_provider_identifier_id IS NULL))
and ((pi.provider_ud = @billing_provider_ud) or (@billing_provider_ud IS NULL))

END
GO
