USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_agent_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/20/2006	Nghi Nguyen	1.0		create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down agent_type (Agent Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_agent_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_type_id
,agent_type_ud
,description
,golden_key
FROM agent_type
ORDER BY agent_type_ud

RETURN @SP_SUCCESS
END
GO
