USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the correspondence_action table.
This stored procedure is used in the Correspondence Action form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_action_delete]
(
@correspondence_action_id	int = NULL
) AS
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (SELECT * FROM correspondence_action WHERE correspondence_action_id = @correspondence_action_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN
--Check if this correspondence action can be deleted (not applied to any invoices)
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_correspondence_action_check_delete @correspondence_action_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

DELETE FROM correspondence_action_definition
WHERE correspondence_action_id = @correspondence_action_id

DELETE FROM correspondence_action
WHERE correspondence_action_id = @correspondence_action_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END
--
RETURN @SP_SUCCESS
--
GO
