USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save for Benefit Contract Period panel
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_id - Key to benefit_contract_period table, identifies a single benefit_contract_period,
@benefit_contract_id
@period_effective_from
@period_effective_thru
@locked_from_use
@renewal_months_warning
@benefit_termination_reason_id
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade  - Cascade changes that have been demormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_save]
(
@benefit_contract_period_id                 int = NULL   OUTPUT
,@prev_benefit_contract_period_id            int = NULL
,@benefit_contract_id                        int = NULL
,@period_effective_from                      datetime = NULL
,@period_effective_thru                      datetime = NULL
,@locked_from_use                            bit = NULL
,@renewal_months_warning                     int = NULL
,@benefit_termination_reason_id                      int = NULL
,@active                                     bit = NULL
,@do_not_post					bit = NULL
,@retroactive_period				int = NULL
,@retroactive_unit_day_week_month_id		int = NULL

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
,@SP_EXCEPTION int
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_NOT_EXIST	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
,@benefit_contract_template INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
,@ERROR_CANT_INSERT 	= ''
,@ERROR_NOT_EXIST	= ''
,@ERROR_CANT_UPDATE 	= ''
--

IF @benefit_contract_period_id IS NULL
BEGIN
--- Create a new record
INSERT INTO benefit_contract_period(
benefit_contract_id
,effective_from
,effective_thru
,locked_from_use
,renewal_months_warning
,benefit_termination_reason_id
,active
)
VALUES
(@benefit_contract_id
,@period_effective_from
,@period_effective_thru
,@locked_from_use
,@renewal_months_warning
,@benefit_termination_reason_id
,@active
)
--
SET @benefit_contract_period_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT 1 FROM benefit_contract_period WHERE benefit_contract_period_id = @benefit_contract_period_id )
BEGIN
-- RAISERROR('benefit_contract_period object not found in benefit_contract_period for internal key %d.', 16, 1, @benefit_contract_period_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--    UPDATE
--       dbo.child_table_name
--    SET
--       denormalized_column_name_1 = class_property_1
--       denormalized_column_name_2 = class_property_2
-- WHERE benefit_contract_period_id = @benefit_contract_period_id
--    AND
--      (
--       isnull(denormalized_column_name_1,'') = isnull(class_property_1,'')
--       or isnull(denormalized_column_name_2,'') = isnull(class_property_2,'')
--       )
--  END
--- Updating an existing record
--
UPDATE benefit_contract_period
SET
benefit_contract_id                      = @benefit_contract_id
,effective_from                           = @period_effective_from
,effective_thru                           = @period_effective_thru
,locked_from_use                          = @locked_from_use
,renewal_months_warning                   = @renewal_months_warning
,benefit_termination_reason_id            = @benefit_termination_reason_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_id = @benefit_contract_period_id
END
--

IF (ISNULL(@prev_benefit_contract_period_id,0) > 0)
BEGIN
--Update date on previous period
UPDATE benefit_contract_period
SET
effective_thru                           = DATEADD(day,-1, @period_effective_from)
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_id = @prev_benefit_contract_period_id
END

SELECT @benefit_contract_template = benefit_contract_template
FROM benefit_contract
WHERE benefit_contract_id = @benefit_contract_id

RETURN @SP_SUCCESS
--
GO
