USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_modifier_rules_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
3/27/2012   Initial creation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
5/3/2012	dcannon		1.1			removed result code override
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to load Modifier Processing Rules parameters for Claim Processing Rules Framework
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id - Primary Key to claim_processing_rule_framework_id table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_modifier_rules_load]
(
@claim_processing_rule_framework_id	int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
SELECT '24' as modifier_ud
,(select [description] from modifier where modifier_ud = '24') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '25' as modifier_ud
,(select [description] from modifier where modifier_ud = '25') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '54' as modifier_ud
,(select [description] from modifier where modifier_ud = '54') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '55' as modifier_ud
,(select [description] from modifier where modifier_ud = '55') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '56' as modifier_ud
,(select [description] from modifier where modifier_ud = '56') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '57' as modifier_ud
,(select [description] from modifier where modifier_ud = '57') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '58' as modifier_ud
,(select [description] from modifier where modifier_ud = '58') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '59' as modifier_ud
,(select [description] from modifier where modifier_ud = '59') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '78' as modifier_ud
,(select [description] from modifier where modifier_ud = '78') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '79' as modifier_ud
,(select [description] from modifier where modifier_ud = '79') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '80' as modifier_ud
,(select [description] from modifier where modifier_ud = '80') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '81' as modifier_ud
,(select [description] from modifier where modifier_ud = '81') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT '82' as modifier_ud
,(select [description] from modifier where modifier_ud = '82') as modifier_description
,0 as mod_rule_enabled
UNION
SELECT 'AS' as modifier_ud
,(select [description] from modifier where modifier_ud = 'AS') as modifier_description
,0 as mod_rule_enabled
ORDER by modifier_ud
END

ELSE
BEGIN
SELECT '24' as modifier_ud
,(select [description] from modifier where modifier_ud = '24') as modifier_description
,COALESCE(mod_24,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '25' as modifier_ud
,(select [description] from modifier where modifier_ud = '25') as modifier_description
,COALESCE(mod_25,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '54' as modifier_ud
,(select [description] from modifier where modifier_ud = '54') as modifier_description
,COALESCE(mod_54,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '55' as modifier_ud
,(select [description] from modifier where modifier_ud = '55') as modifier_description
,COALESCE(mod_55,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '56' as modifier_ud
,(select [description] from modifier where modifier_ud = '56') as modifier_description
,COALESCE(mod_56,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '57' as modifier_ud
,(select [description] from modifier where modifier_ud = '57') as modifier_description
,COALESCE(mod_57,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '58' as modifier_ud
,(select [description] from modifier where modifier_ud = '58') as modifier_description
,COALESCE(mod_58,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '59' as modifier_ud
,(select [description] from modifier where modifier_ud = '59') as modifier_description
,COALESCE(mod_59,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '78' as modifier_ud
,(select [description] from modifier where modifier_ud = '78') as modifier_description
,COALESCE(mod_78,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '79' as modifier_ud
,(select [description] from modifier where modifier_ud = '79') as modifier_description
,COALESCE(mod_79,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '80' as modifier_ud
,(select [description] from modifier where modifier_ud = '80') as modifier_description
,COALESCE(mod_80,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '81' as modifier_ud
,(select [description] from modifier where modifier_ud = '81') as modifier_description
,COALESCE(mod_81,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT '82' as modifier_ud
,(select [description] from modifier where modifier_ud = '82') as modifier_description
,COALESCE(mod_82,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
UNION
SELECT 'AS' as modifier_ud
,(select [description] from modifier where modifier_ud = 'AS') as modifier_description
,COALESCE(mod_AS,0) as mod_rule_enabled
FROM claim_processing_rule_framework cprf
WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
ORDER by modifier_ud
END
--
RETURN @SP_SUCCESS
GO
