USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_ndc_unit_of_measure_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE CREATED: 07/16/18

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
List of unit of measurements to use with NDC codes
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_ndc_unit_of_measure_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
unit_of_measure_id
,unit_of_measure_ud
,[description]
FROM unit_of_measure
WHERE golden_key in
('F2',
'GR',
'ME',
'ML',
'UN')
ORDER BY unit_of_measure_ud
--
RETURN @SP_SUCCESS
--
GO
