USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_void_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
DATE: 02/17/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/17/2012	Aaron Mortensen	1.0			Created from plx_accounting_transaction_ar_void
06/07/2013  eponomareff     1.1         Added info to show if NSF tx exists for void

CURRENT_VERSION:
--
DESCRIPTION:
Used to void an accounting transaction customer payment
or customer credit memo.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_void_load]
(
@accounting_transaction_ar_id	INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- get information to check for NSF charge created, to populate NSF Applied checkbox on form
-- for voided transactions
DECLARE	@NSF_FEE_SOURCE int
SET		@NSF_FEE_SOURCE = (SELECT accounting_source_id
FROM accounting_source WHERE golden_key = 'NSF_Fee')

SELECT
atar.accounting_transaction_ar_id,
atar.accounting_transaction_ar_ud,
ats.golden_key as accounting_status_golden_key,
atar.accounting_transaction_ar_void_reason_id,
avr.accounting_transaction_ar_void_reason_ud,
atar.comments,
atar.void_date,
atar.voided_by,
atar.modified_date,
-- nsf information for void details, to populate checkbox
atar_nsf_charge.accounting_transaction_ar_id as nsf_charge_transaction_id,
atar_nsf_charge.transaction_amount as nsf_charge_transaction_charge
FROM	accounting_transaction_ar atar
LEFT JOIN accounting_transaction_status ats
ON atar.accounting_transaction_status_id = ats.accounting_transaction_status_id
LEFT OUTER JOIN	accounting_transaction_ar_void_reason avr
ON atar.accounting_transaction_ar_void_reason_id = avr.accounting_transaction_ar_void_reason_id
-- determine any nsf charges that point to this transaction as its source, assumes you can only have one
LEFT JOIN accounting_transaction_ar atar_nsf_charge
ON atar_nsf_charge.accounting_source_record_id = atar.accounting_transaction_ar_id
AND atar_nsf_charge.accounting_source_id = @NSF_FEE_SOURCE
WHERE atar.accounting_transaction_ar_id = @accounting_transaction_ar_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE

RETURN @SP_EXCEPTION
GO
