USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_manual_change_status_result_code_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/27/2009	ccessnun		1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load result_code / adjudication_status pairs for the change claim status form.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_manual_change_status_result_code_status_load]
(
@pred			BIT		=	NULL
)
AS

BEGIN
IF ISNULL(@pred, 0) = 0
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

select adjs.adjudication_status_id,adjs.adjudication_status_ud,rc.result_code_id
from result_code rc
left join adjudication_status adjs on adjs.golden_key='DENY'
left join result_code_status rcs on rcs.result_code_status_id=rc.result_code_status_id
left join adjudication_status_type adjst on adjst.adjudication_status_type_id = rcs.adjudication_status_type_id
where  rc.golden_key='MCS_CHANGED_STATUS_TO_DENY'
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
ELSE
BEGIN
select adjudication_status.adjudication_status_id, adjudication_status.adjudication_status_ud, result_code.result_code_id
from adjudication_status, result_code
where (result_code.golden_key='MCS_CHANGED_STATUS_TO_CLOSED' and adjudication_status.golden_key='CLOSED')
OR (result_code.golden_key='MCS_CHANGED_STATUS_TO_DENY' and adjudication_status.golden_key='DENY')
END
END
GO
