USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_penalty_amount_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BIND_penalty_amount_save]
(
@accounting_transaction_ap_id                int = NULL
,@claim_procedure_id                         int = NULL
,@old_payment_penalty_amount                 decimal(19, 4) = NULL
,@new_payment_penalty_amount                 decimal(19, 4) = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT @SP_SUCCESS = 0,
       @ERROR_CANT_INSERT = '',
       @ERROR_CANT_UPDATE = ''
--
IF @accounting_transaction_ap_id is not Null
BEGIN

--- Create a new penalty change record
INSERT INTO bind_penalty_amount_audit(
claim_procedure_id
, accounting_transaction_ap_id
, old_payment_penalty_amount
, new_payment_penalty_amount
, modified_date
, modified_user_name)
VALUES (
@claim_procedure_id
, @accounting_transaction_ap_id
, @old_payment_penalty_amount
, @new_payment_penalty_amount
, GETDATE()
, ORIGINAL_LOGIN())
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

ELSE
BEGIN
--- Updating an existing record with new penaly amount in account_transaction_ap table
UPDATE accounting_transaction_ap
SET transaction_amount = @new_payment_penalty_amount
  , modified_user_name = ORIGINAL_LOGIN()
  , modified_date      = GETDATE()
WHERE accounting_transaction_ap_id = @accounting_transaction_ap_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END

END
END
--
RETURN @SP_SUCCESS
--
GO
