USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_fee_schedule_form_type]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Jan 10 2006  9:42AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get fee schedule form type id from payment contract type id

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_get_fee_schedule_form_type]
(
@contract_type_id          int = NULL   	-- claim_form_type_id
)
AS
DECLARE
@SP_SUCCESS int,
@claim_form_type_gk nvarchar(50),
@fee_schedule_form_type_gk nvarchar(50)

SELECT
@SP_SUCCESS = 0,
@claim_form_type_gk = (SELECT golden_key FROM claim_form_type WHERE claim_form_type_id = @contract_type_id),
@fee_schedule_form_type_gk = ''

SET @fee_schedule_form_type_gk =
CASE @claim_form_type_gk
WHEN 'Institutional' THEN 'Inpatient'
WHEN 'Professional' THEN 'Professional Medical'
WHEN 'Dental' THEN 'Professional Medical'
WHEN 'Pharmacy' THEN 'Professional Pharmacy'
END

SELECT
fee_schedule_form_type.fee_schedule_form_type_id
,fee_schedule_form_type.golden_key
FROM fee_schedule_form_type
WHERE fee_schedule_form_type.golden_key = @fee_schedule_form_type_gk

--
RETURN @SP_SUCCESS
GO
