USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_practice_office_identifier_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/21/2005
--
REVISION_HISTORY:
--
Date           Modified By    Version      Description
--------------------------------------------------------------------------------
12/21/2005     Hiep Nguyen      1.0         Created
01/09/2006     Hiep Nguyen       1.1        change practice_office_identifier_type to practice_office_id_type
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down practice_office_identifier_type (Practice Office ID Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_practice_office_identifier_type_load]

AS
BEGIN

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
practice_office_identifier_type_id,
practice_office_identifier_type_ud
FROM dbo.practice_office_identifier_type
ORDER BY practice_office_identifier_type_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
