USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/02/2009
06/01/2018 - amortensen - RT:12695 Added state_set_id and state_address_rule_id columns
--
DESCRIPTION:
To load cob processing rules on the benefit contract/period/plan.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_cob_processing_rule_load]
(
@benefit_contract_period_benefit_plan_id  INT = NULL
)
AS

SET NOCOUNT ON

SET @benefit_contract_period_benefit_plan_id = ISNULL(@benefit_contract_period_benefit_plan_id, 0)
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bpcpr.benefit_contract_period_benefit_plan_cob_processing_rule_id
,bpcpr.benefit_contract_period_benefit_plan_id

,bpcpr.cob_processing_rule_id
,cpr.cob_processing_rule_ud

,bpcpr.state_set_id
,ss.state_set_ud

,bpcpr.state_address_rule_id
,sar.state_address_rule_ud

,bpcpr.effective_from
,bpcpr.effective_thru

,bpcpr.active
,bpcpr.created_user_name
,bpcpr.created_group_id
,bpcpr.created_date
,bpcpr.modified_date

FROM benefit_contract_period_benefit_plan_cob_processing_rule AS bpcpr
INNER JOIN cob_processing_rule cpr
ON cpr.cob_processing_rule_id = bpcpr.cob_processing_rule_id
LEFT JOIN state_set ss
ON ss.state_set_id = bpcpr.state_set_id
LEFT JOIN state_address_rule sar
on sar.state_address_rule_id = bpcpr.state_address_rule_id

WHERE bpcpr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
