USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_find_treatment_type_in_treatment_type_set]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: Trinh Le
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
SPEC:


CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to check the existence of a treatment type in a treatment type set
;
REQUIREMENTS	:

None
;
INPUTS		:  @type  : 1  Benefit Framework
2  Accumulator Framework

;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE         procedure [dbo].[plx_check_find_treatment_type_in_treatment_type_set]
@treatment_type_ud					NVARCHAR(100)=NULL,
@treatment_category_id 	INT = NULL
,@treatment_type_set_id 	INT = NULL
--	@type 	INT = 1   --Default is Benefit Framework
AS
BEGIN

SELECT
treatment_type.treatment_type_id
,treatment_type.treatment_type_ud
--		 CASE WHEN tts1.treatment_type_set_id is null
--		  THEN	treatment_type_set.treatment_type_set_id
--				  ELSE	tts1.treatment_type_set_id
--				  END	as treatment_type_set_id,
--				 CASE WHEN tts1.treatment_type_set_ud is null
--				  THEN	treatment_type_set.treatment_type_set_ud
--				  ELSE	tts1.treatment_type_set_ud
--				  END	as treatment_type_set_ud

from treatment_type
-- For treatment type category
left join treatment_type_category_treatment_type tctt on tctt.treatment_type_id = treatment_type.treatment_type_id
left join treatment_type_category on tctt.treatment_type_category_id = treatment_type_category.treatment_type_category_id
-- For treatmenttype set
left join treatment_type_category_treatment_type_set ttts on  ttts.treatment_type_category_id = treatment_type_category.treatment_type_category_id
left join treatment_type_set on  ttts.treatment_type_set_id = treatment_type_set.treatment_type_set_id
-- For treatmenttype set
left join treatment_type_set_treatment_type on  treatment_type_set_treatment_type.treatment_type_id = treatment_type.treatment_type_id
left join treatment_type_set tts1 on  treatment_type_set_treatment_type.treatment_type_set_id = tts1.treatment_type_set_id

--on tts.treatment_type_category_id=ttc.treatment_type_category_id
WHERE
treatment_type.treatment_type_ud = @treatment_type_ud
and (ttts.treatment_type_set_id=@treatment_type_set_id
or tctt.treatment_type_category_id=@treatment_category_id
or tts1.treatment_type_set_id=@treatment_type_set_id)

END
GO
