USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
DESCRIPTION:
ALTER  a single object into the correspondence_action table.
This stored procedure is used in the Correspondence Action form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_action_save]
(
@correspondence_action_id			int = NULL   OUTPUT
,@correspondence_action_ud			nvarchar(50) = NULL
,@description							nvarchar(255) = NULL
,@active										bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @correspondence_action_id is Null
BEGIN

--- Create a new correspondence_action record
INSERT INTO correspondence_action(
correspondence_action_ud
,description
,active
)
VALUES
(@correspondence_action_ud
,@description
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_action_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM correspondence_action WHERE correspondence_action_id = @correspondence_action_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing correspondence_action record
UPDATE correspondence_action
SET
correspondence_action_ud		= @correspondence_action_ud
,description					= @description
,active                       = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE correspondence_action_id = @correspondence_action_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
