USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_action_definition_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 04/01/2010
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the correspondence_action_definition table.
This stored procedure is used in the Correspondence Action form
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_correspondence_action_definition_delete]
(
@correspondence_action_definition_id	int = NULL
) AS
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int

SELECT
@SP_SUCCESS			= 0,
@SP_EXCEPTION		= -1
--
IF NOT EXISTS (SELECT * FROM correspondence_action_definition WHERE correspondence_action_definition_id = @correspondence_action_definition_id )
BEGIN
RETURN @SP_SUCCESS
END
--
ELSE
BEGIN

DELETE FROM correspondence_action_definition
WHERE correspondence_action_definition_id = @correspondence_action_definition_id

IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
END
--
RETURN @SP_SUCCESS
--
GO
