USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_set_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_client_set_delete] (@client_set_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

--
IF NOT EXISTS (
SELECT client_set_id
FROM client_set
WHERE client_set_id = @client_set_id
)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @DELETE_OK INT

EXEC @DELETE_OK = plx_client_set_check_delete @client_set_id

IF @DELETE_OK <= 0
BEGIN
RETURN @SP_EXCEPTION
END

DELETE
FROM client_set_detail
WHERE client_set_id = @client_set_id

DELETE
FROM client_set
WHERE client_set_id = @client_set_id
END

--
RETURN @SP_SUCCESS
--
GO
