USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_company_accounts_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 07/08/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/08/2009  W.Christensen  1.0      Created
08/30/2012 Ravi				SP 3616 Added cash account for distributions.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads all accounting company accounts for the specified accounting company, including
all golden keys necessary for filtering in the UI.
--
HEADER_END;

******************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_company_accounts_by_accounting_company]
(
@accounting_company_id INT = NULL,
@golden_key NVARCHAR(100) = NULL
)
AS
--
SELECT
accounting_company_account_id,
accounting_company_account_ud,
ac.golden_key AS account_category,
account_status.golden_key AS account_status
FROM
accounting_company_account aca
INNER JOIN account_category ac ON aca.account_category_id = ac.account_category_id
INNER JOIN account_status ON aca.account_status_id = account_status.account_status_id
WHERE
aca.accounting_company_id = @accounting_company_id
AND ac.golden_key =
(
CASE
WHEN @golden_key IS NULL THEN 'EXPENSE'
ELSE @golden_key
END
)
ORDER BY
accounting_company_account_ud
--
RETURN 0
--
GO
