USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_void_claim_processing_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_find_void_claim_processing_run_load]
(
@get_column_headers						BIT = 0
, @void_claim_processing_run_ud			NVARCHAR(50) = NULL
, @run_date_from						DATETIME = NULL
, @run_date_thru						DATETIME = NULL
, @void_claim_processing_run_status_id		INT = NULL
, @show_exact_matches					BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@SqlGroupBy	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 		= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition		= 'WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@SqlGroupBy		= ''
,@Prefix			= ''
,@Suffix			= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

DECLARE @COMPLETE_VOID_CLAIM_PROCESSING_STATUS_ID	INT

SELECT @COMPLETE_VOID_CLAIM_PROCESSING_STATUS_ID = VOID_CLAIM_PROCESSING_STATUS_ID
FROM VOID_CLAIM_PROCESSING_STATUS
WHERE VOID_CLAIM_PROCESSING_STATUS_UD = 'COMPLETE'

--void_claim_processing_run_ud
IF @void_claim_processing_run_ud IS NOT NULL
AND @void_claim_processing_run_ud <> ''
BEGIN
SET @sqlCondition = @sqlCondition + ' AND ISNULL(vcpr.void_claim_processing_run_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard
(@void_claim_processing_run_ud, @show_exact_matches) + @Suffix
END

--run_date_from
IF @run_date_from IS NOT NULL
BEGIN
SET @sqlCondition = @sqlCondition + ' AND vcpr.run_date >= ''' + CONVERT(VARCHAR(23),@run_date_from) + ''''
END

--run_date_thru
IF @run_date_thru IS NOT NULL
BEGIN
SET @sqlCondition = @sqlCondition + ' AND vcpr.run_date < ''' + CONVERT(VARCHAR(23),@run_date_thru) + ''''
END

--void_claim_processing_run_status_id
IF @void_claim_processing_run_status_id IS NOT NULL
AND @void_claim_processing_run_status_id > 0
BEGIN
SET @sqlCondition = @sqlCondition + ' AND vcpr.void_claim_processing_run_status_id = ' + CONVERT(VARCHAR(10),@void_claim_processing_run_status_id)
END

SET @SqlQuery =
'SELECT DISTINCT TOP (dbo.fn_results_limit())
vcpr.run_date
,vcpr.void_claim_processing_run_id
,vcpr.void_claim_processing_run_ud
,vcprs.void_claim_processing_run_status_ud
,COUNT(vcprd.void_claim_processing_run_detail_id) AS total_records
,SUM(
CASE
WHEN vcprd.void_claim_processing_status_id IS NULL
THEN 0
WHEN vcprd.void_claim_processing_status_id <> ' + CONVERT(VARCHAR(10), @COMPLETE_VOID_CLAIM_PROCESSING_STATUS_ID) + '
THEN 1
ELSE 0
END) AS total_incomplete_records
FROM void_claim_processing_run vcpr
LEFT JOIN void_claim_processing_run_detail vcprd ON vcpr.void_claim_processing_run_id = vcprd.void_claim_processing_run_id
LEFT JOIN void_claim_processing_run_status vcprs ON vcpr.void_claim_processing_run_status_id = vcprs.void_claim_processing_run_status_id
'

SET @SqlGroupBy ='
GROUP BY
vcpr.run_date,
vcpr.void_claim_processing_run_id,
vcpr.void_claim_processing_run_ud,
void_claim_processing_run_status_ud
'

PRINT @SqlQuery + @SqlCondition + @SqlGroupBy + 'ORDER BY vcpr.run_date DESC'

EXEC (@SqlQuery + @SqlCondition + @SqlGroupBy + 'ORDER BY vcpr.run_date DESC')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
