USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_internet_address_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Oct 12 2005  4:05PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
29/11/2005	Hien D Nguyen	1.1		Using contact and contact_internet_address tables to load data
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single member_contact_internet_address from the contact_internet_address table.
--
REQUIREMENTS:
--
INPUTS:
contact_internet_address_id - Key to contact_internet_address table, identifies a single stored member_contact_internet_address.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_contact_internet_address_load]
(
@contact_id			Int=null
)
AS
BEGIN

SET NOCOUNT ON
DECLARE @SP_SUCCESS int
SELECT	@SP_SUCCESS = 0

SELECT
contact_internet_address.contact_internet_address_id
,contact.contact_id
,contact_internet_address.internet_address_id
,internet_address.internet_address
,CONVERT(BIT, isnull(contact_internet_address.primary_for_contact,0)) as primary_for_contact
,internet_address_type.internet_address_type_id
,internet_address_type.internet_address_type_ud
FROM
contact INNER JOIN contact_internet_address  ON contact.contact_id = contact_internet_address.contact_id
LEFT JOIN internet_address  ON internet_address.internet_address_id = contact_internet_address.internet_address_id
LEFT JOIN internet_address_type  ON internet_address.internet_address_type_id = internet_address_type.internet_address_type_id
WHERE contact_internet_address.contact_id = @contact_id
ORDER BY primary_for_contact DESC,
internet_address_type.internet_address_type_ud,
internet_address.internet_address
RETURN @SP_SUCCESS
END
GO
