USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_payment_item_claim_adjustment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used for Claim Adjustment Reason Codes for all claim forms.
******************************/
CREATE PROCEDURE [dbo].[plx_adjudication_payment_item_claim_adjustment_save]
(
@adjudication_payment_item_claim_adjustment_override_id INT = NULL OUTPUT,
@adjudication_payment_item_claim_adjustment_id INT,
@claim_adjustment_group_code_id INT = NULL,
@claim_adjustment_reason_code_nk NVARCHAR(50) = NULL,
@remittance_advice_remark_code_nk NVARCHAR(50) = NULL,
@adjudication_details_override_reason_id INT = NULL
)
AS
--
SET @adjudication_payment_item_claim_adjustment_override_id =
(SELECT adjudication_payment_item_claim_adjustment_override_id
FROM adjudication_payment_item_claim_adjustment_override
WHERE adjudication_payment_item_claim_adjustment_id = @adjudication_payment_item_claim_adjustment_id
);

-- get @claim_adjustment_group_code_gk
DECLARE @claim_adjustment_group_code_gk NVARCHAR(50);
SET @claim_adjustment_group_code_gk =
(SELECT golden_key FROM claim_adjustment_group_code
WHERE claim_adjustment_group_code_id = @claim_adjustment_group_code_id);

IF (@adjudication_payment_item_claim_adjustment_override_id IS NULL)
BEGIN
--- Create a new adjudication_payment_item_claim_adjustment_override record
INSERT INTO adjudication_payment_item_claim_adjustment_override (
adjudication_payment_item_claim_adjustment_id,
claim_adjustment_group_code_gk,
claim_adjustment_reason_code_nk,
remittance_advice_remark_code_nk,
adjudication_details_override_reason_id,
created_date,
created_user_name
)
VALUES (
@adjudication_payment_item_claim_adjustment_id,
@claim_adjustment_group_code_gk,
@claim_adjustment_reason_code_nk,
@remittance_advice_remark_code_nk,
@adjudication_details_override_reason_id,
GETDATE(),
ORIGINAL_LOGIN()
)

SET @adjudication_payment_item_claim_adjustment_override_id = SCOPE_IDENTITY()
END
-- check all parameters for empty value and delete if true
ELSE IF
@claim_adjustment_group_code_gk  IS NULL
AND @claim_adjustment_reason_code_nk  IS NULL
AND @remittance_advice_remark_code_nk IS NULL
AND ISNULL(@adjudication_details_override_reason_id, 0) = 0
BEGIN
DELETE adjudication_payment_item_claim_adjustment_override
WHERE adjudication_payment_item_claim_adjustment_id = @adjudication_payment_item_claim_adjustment_id
END
ELSE
BEGIN
UPDATE adjudication_payment_item_claim_adjustment_override
SET
claim_adjustment_group_code_gk                = @claim_adjustment_group_code_gk,
claim_adjustment_reason_code_nk               = @claim_adjustment_reason_code_nk,
remittance_advice_remark_code_nk              = @remittance_advice_remark_code_nk,
adjudication_details_override_reason_id       = @adjudication_details_override_reason_id,
modified_date                                 = GETDATE(),
modified_user_name                            = ORIGINAL_LOGIN()
WHERE adjudication_payment_item_claim_adjustment_override_id = @adjudication_payment_item_claim_adjustment_override_id
END

--
RETURN 0

--
GO
