USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_value_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;

AUTHOR: HuyThan
;
REVISION_HISTORY:

Date			Modified By			Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan				1.0			Created
10/14/2008	VishwaJella			2.0			updated to get always only 1 row exact match only based on criteria_object_id and criteria_operator_id
06/22/2009  Vishwa Jella		3.0			updated to return specific value type ( fixed for Non Negative integer , dates etc. )
updated category inclusive of specific claim category type with 'all claims' category type objects in consideration for valye type
06/26/2009  Vishwa Jella		4.0			refactoring Criteria UI objects for easy maintenance in future
07/16/2009  Vishwa Jella		5.0			Added display_form field
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	:
Procedure to select ccriteria_object_operator_value based on selected object & operator.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_criteria_ui_value_type_load]
(
@criteria_object_id INT = NULL
,@criteria_operator_id INT = NULL
)

AS

If EXISTS ( SELECT * FROM criteria_object_operator_field
WHERE criteria_object_operator_field.criteria_object_id = @criteria_object_id
AND criteria_object_operator_field.criteria_operator_id = @criteria_operator_id )
BEGIN

SELECT
coof.criteria_object_id
,coof.criteria_operator_id
,coof.criteria_value_id
,cv.criteria_value_ud
,cv.golden_key
,ui_engine_lookup_parameter.display_form
,ui_engine_lookup_parameter.find_form
,ui_engine_lookup_parameter.stored_procedure
,ui_engine_lookup_parameter.table_name
,ui_engine_lookup_parameter.displayed_field
,ui_engine_lookup_parameter.stored_field
FROM criteria_object_operator_field coof
INNER JOIN criteria_value cv ON cv.criteria_value_id = coof.criteria_value_id
INNER JOIN ui_engine_lookup_parameter ON ui_engine_lookup_parameter.ui_engine_lookup_parameter_id = coof.ui_engine_lookup_parameter_id
WHERE  coof.criteria_object_id = @criteria_object_id
AND coof.criteria_operator_id = @criteria_operator_id
END
ELSE
BEGIN

SELECT
coof.criteria_object_id
,coof.criteria_operator_id
,coof.criteria_value_id
,cv.criteria_value_ud
,cv.golden_key
,ui_engine_lookup_parameter.display_form
,ui_engine_lookup_parameter.find_form
,ui_engine_lookup_parameter.stored_procedure
,ui_engine_lookup_parameter.table_name
,ui_engine_lookup_parameter.displayed_field
,ui_engine_lookup_parameter.stored_field
FROM criteria_object_operator_field coof
INNER JOIN criteria_value cv ON cv.criteria_value_id = coof.criteria_value_id
LEFT JOIN ui_engine_lookup_parameter ON ui_engine_lookup_parameter.ui_engine_lookup_parameter_id = coof.ui_engine_lookup_parameter_id
WHERE  coof.criteria_object_id = @criteria_object_id
AND coof.criteria_operator_id IS NULL
END
GO
