USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_schedule_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Feb 10 2006 10:16AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/10	Anh Ta		1.0			Created and used for ICU#15894 Payment Contract
2006/03/08	Anh Ta		1.1			Change form @code_depreciation_schedule_nm to description
05/18/2012	dcannon		1.4		removed references to code_depreciation_from table and added ignore_denied_claim_lines
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for frmPaymentContractCodeDepreciationSchedule form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_schedule_save]

(
@code_depreciation_schedule_id              int = NULL   OUTPUT
,@code_depreciation_schedule_ud              nvarchar(50) = NULL
,@code_depreciation_schedule_description     nvarchar(255) = NULL
,@procedure_code_group_id                    int = NULL
,@depreciated_result_code_id                 int = NULL
,@depreciated_result_code_status_id          int = NULL
,@non_rank_result_code_id                    int = NULL
,@non_rank_result_code_status_id             int = NULL
,@ignore_denied_claim_lines					 bit = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840041',
@ERROR_NOT_EXIST	= '159840042',
@ERROR_CANT_UPDATE 	= '159840043'
--
IF @code_depreciation_schedule_id is Null
BEGIN

--- Create a new code_depreciation_schedule record
INSERT INTO code_depreciation_schedule(
code_depreciation_schedule_ud
,description
,procedure_code_group_id
,depreciated_result_code_id
,depreciated_result_code_status_id
,non_rank_result_code_id
,non_rank_result_code_status_id
,ignore_denied_claim_lines
,active
--set default values in depreciation code paramters grid
,professional_enabled
,professional_payment_modification
,institutional_outpatient_enabled
,institutional_outpatient_payment_modification
)
VALUES
(@code_depreciation_schedule_ud
,@code_depreciation_schedule_description
,@procedure_code_group_id
,@depreciated_result_code_id
,@depreciated_result_code_status_id
,@non_rank_result_code_id
,@non_rank_result_code_status_id
,COALESCE(@ignore_denied_claim_lines,1)
,@active
--default values in depreciation code paramters grid
,0
,0
,0
,0
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @code_depreciation_schedule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM code_depreciation_schedule WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing code_depreciation_schedule record
UPDATE code_depreciation_schedule
SET
code_depreciation_schedule_ud            = @code_depreciation_schedule_ud
,description            					 = @code_depreciation_schedule_description
,procedure_code_group_id                  = @procedure_code_group_id
,depreciated_result_code_id               = @depreciated_result_code_id
,depreciated_result_code_status_id        = @depreciated_result_code_status_id
,non_rank_result_code_id                  = @non_rank_result_code_id
,non_rank_result_code_status_id           = @non_rank_result_code_status_id
,ignore_denied_claim_lines				  = @ignore_denied_claim_lines
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
