USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_on_demand_run_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
02/03/2015 Initial generation
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
02/03/2015  Chad Maddox		1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a disbursement on demand Run.
--
REQUIREMENTS:
--
INPUTS:
@disbursement_on_demand_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_disbursement_on_demand_run_delete]
(
@disbursement_on_demand_run_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM disbursement_on_demand_run WHERE disbursement_on_demand_run_id = @disbursement_on_demand_run_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

BEGIN TRY

-- Wrap the updates/deletes in a transaction in case there is a failure
-- when deleting the run at the end.
BEGIN TRAN


-- Delete run details
DELETE FROM disbursement_on_demand_run_detail
WHERE disbursement_on_demand_run_id = @disbursement_on_demand_run_id

-- Delete the run.
DELETE FROM disbursement_on_demand_run
WHERE disbursement_on_demand_run_id = @disbursement_on_demand_run_id

COMMIT TRAN

END TRY
BEGIN CATCH

ROLLBACK TRAN
RETURN @SP_EXCEPTION

END CATCH

END
--
RETURN @SP_SUCCESS
--
GO
