USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_vendor_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 08/12/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/12/2008	David Slayton	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for grid grdVendorAssignments on form frmFamilyEligibility.

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_vendor_id
@family_eligibility_id
@vendor_id
@criteria_id
@effective_from
@effective_thru
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_vendor_save]
(
@family_eligibility_vendor_id	INT = 0   OUTPUT
,@family_eligibility_id			INT = NULL
,@vendor_id						INT = NULL
,@criteria_id						INT = NULL
,@effective_from					DATETIME = NULL
,@effective_thru					DATETIME = NULL
) AS

DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_RECORD_LOCKED NVARCHAR(50)
, @ERROR_CANT_UPDATE 	NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
, @ERROR_CANT_UPDATE 	= '158930072'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--
IF ISNULL(@family_eligibility_vendor_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO family_eligibility_vendor(
family_eligibility_id
,vendor_id
,criteria_id
,effective_from
,effective_thru
)
VALUES
(@family_eligibility_id
,@vendor_id
,@criteria_id
,@effective_from
,@effective_thru
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @family_eligibility_vendor_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM family_eligibility_vendor WHERE family_eligibility_vendor_id = @family_eligibility_vendor_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE family_eligibility_vendor
SET
family_eligibility_id	= @family_eligibility_id
,vendor_id				= @vendor_id
,criteria_id				= @criteria_id
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_vendor_id = @family_eligibility_vendor_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
