USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_of_treatment_map_detail_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Date: 09/12/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/12/2005	hthan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an alternate course of treatment map detail
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_alternate_course_of_treatment_map_detail_delete]
(
@alternate_course_of_treatment_map_detail_id       int = NULL
,@cascade                                    bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM alternate_course_of_treatment_map_detail WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
delete from alternate_course_of_treatment_map_detail_area_of_oral_cavity
where alternate_course_of_treatment_map_detail_id in (select alternate_course_of_treatment_map_detail.alternate_course_of_treatment_map_detail_id from alternate_course_of_treatment_map_detail where alternate_course_of_treatment_map_detail.alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id)

delete from alternate_course_of_treatment_map_detail_tooth_surface
where alternate_course_of_treatment_map_detail_id in (select alternate_course_of_treatment_map_detail.alternate_course_of_treatment_map_detail_id from alternate_course_of_treatment_map_detail where alternate_course_of_treatment_map_detail.alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id)


DELETE FROM alternate_course_of_treatment_map_detail
WHERE alternate_course_of_treatment_map_detail_id = @alternate_course_of_treatment_map_detail_id
END
--
RETURN @SP_SUCCESS
--
GO
