USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_place_of_service_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 02/04/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Find place_of_service_set that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@place_of_service_set_ud
@place_of_service_set_nm
@place_of_service_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_place_of_service_set_load]
(
@get_column_headers			BIT = 0
, @place_of_service_set_ud		NVARCHAR(50) = NULL
, @place_of_service_set_nm		NVARCHAR(100) = NULL
, @place_of_service_id		INT = NULL
, @show_exact_matches			BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @place_of_service_set_ud IS NOT NULL AND @place_of_service_set_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(poss.place_of_service_set_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@place_of_service_set_ud, @show_exact_matches) + @Suffix

IF @place_of_service_set_nm IS NOT NULL AND @place_of_service_set_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(poss.place_of_service_set_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@place_of_service_set_nm, @show_exact_matches) + @Suffix

IF @place_of_service_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND possd.place_of_service_id = ' + CONVERT(NVARCHAR, @place_of_service_id)

SET @SqlQuery =
'	SELECT DISTINCT  TOP (dbo.fn_results_limit())
poss.place_of_service_set_id
,poss.place_of_service_set_ud
,poss.place_of_service_set_nm
FROM  dbo.place_of_service_set poss
LEFT JOIN place_of_service_set_detail possd ON possd.place_of_service_set_id = poss.place_of_service_set_id
--LEFT JOIN place_of_service pos ON pos.place_of_service_id = possd.place_of_service_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY poss.place_of_service_set_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY poss.place_of_service_set_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
