USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_payment_batch_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dslayton
DATE: 03/26/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/26/2012	dslayton	1.0			Create
03/06/2013	cmaddox		1.1			updated to new schema and process.  Only deleting when the batch is in an entered state
and has not been applied.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to delete a customer payment batch on frmCustomerPaymentBatch
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_customer_payment_batch_delete]
(
@accounting_transaction_ar_payment_batch_id	INT = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   		INT,
@SP_EXCEPTION 		INT

SELECT
@SP_SUCCESS 		= 0,
@SP_EXCEPTION 		= -1
-- if there is no batch to delete return success
IF NOT EXISTS
(SELECT * FROM accounting_transaction_ar_payment_batch
WHERE accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id )
BEGIN
RETURN @SP_SUCCESS
END



-- Delete the accounting transaction ar records for this batch

DECLARE @accounting_ar_transactions_to_delete TABLE (accounting_transaction_ar_id int)
INSERT INTO @accounting_ar_transactions_to_delete
SELECT accounting_transaction_ar_id FROM accounting_transaction_ar_payment_detail
where accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id

-- Delete the accounting_transaction_ar_payment_detail records
DELETE FROM accounting_transaction_ar_payment_detail
WHERE accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id

-- Delete the accounting_transaction_ar_distribution records
DELETE FROM accounting_transaction_ar_distribution
WHERE accounting_transaction_ar_id IN  (SELECT accounting_transaction_ar_id FROM @accounting_ar_transactions_to_delete)

-- Delete the accounting_transaction_ar records
DELETE FROM accounting_transaction_ar
WHERE accounting_transaction_ar_id IN (SELECT accounting_transaction_ar_id FROM @accounting_ar_transactions_to_delete)

--Delete customer_payment_batch
DELETE FROM accounting_transaction_ar_payment_batch
WHERE accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id

DECLARE @ErrorVar INT, @RowCountVar INT;
SELECT @ErrorVar = @@ERROR;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@SP_EXCEPTION)

--
RETURN @SP_SUCCESS

--
GO
