USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE: 08/08/2011
--
REVISION HISTORY:
2/17/2012 dcannon removed fee_schedule_id (fee_schedule_rule is a child to fee_schedule, not the other way around)

DESCRIPTION:
Load for Fee Schedule Rule form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_fee_schedule_rule_load]
(
@fee_schedule_rule_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fsr.fee_schedule_rule_id
,fsr.fee_schedule_rule_ud
,fsr.description as fee_schedule_rule_description
FROM fee_schedule_rule fsr
WHERE fsr.fee_schedule_rule_id = @fee_schedule_rule_id
--
RETURN @SP_SUCCESS
--
GO
