USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_premium_setup_copy]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE CREATED: 09/04/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
06/02/2009	David Slayton	1.0		Created.
08/18/2016	eponomareff		1.1		modified to copy over individual billing fields
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
This procedure is used to copy premium setup information from benefit
contract template to a new benefit contract.
--
REQUIREMENTS:
--
INPUTS:
@pre_benefit_contract_id AS INT,
@benefit_contract_id AS INT
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_premium_setup_copy]
(
@pre_benefit_contract_id AS INT,
@benefit_contract_id AS INT,
@effective_from AS DATETIME = NULL,
@effective_thru AS DATETIME = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE @pre_premium_setup_id INT,
@premium_setup_id INT

SELECT @pre_premium_setup_id = ps.premium_setup_id
FROM premium_setup ps
INNER JOIN benefit_contract bc ON ps.premium_setup_id = bc.premium_setup_id
WHERE bc.benefit_contract_id = @pre_benefit_contract_id

-- If there is a premium setup to copy
IF (ISNULL(@pre_premium_setup_id, 0) > 0)
BEGIN

SET @premium_setup_id = 0

-- Create a new premium setup
INSERT INTO premium_setup (
billing_type_id,
invoicing_frequency_id,
invoicing_period_start_date,
do_invoice_in_advance,
days_in_advance_to_bill,
premium_frequency_id,
premium_period_start_date,
premium_rule_id,
test_day,
use_retroactive_processing,
periods_to_look_back_for_retro,
conversion_date,
apply_review_period,
days_of_review_period,
do_not_release,
is_scheduling_active,
time_to_process,
schedule_form_id,
use_grace_period_processing,
days_of_grace_period,
past_due_threshold_percent,
past_due_penalty_rate_id,
family_age_calculation_rule_id,
premium_age_calculation_rule_id,
readjudicate_pended_grace_period_claim_lines,
readjudicate_held_grace_period_claim_lines,
readjudicate_denied_grace_period_claim_lines,
during_grace_period_result_code_id,
during_grace_period_result_code_status_id,
after_grace_period_result_code_id,
after_grace_period_result_code_status_id,
is_invoice_per_enrollment,
is_invoice_per_premium_period,
auto_create_accounting_invoice_id_rule_id
)
SELECT
ps.billing_type_id,
ps.invoicing_frequency_id,
ps.invoicing_period_start_date,
ps.do_invoice_in_advance,
ps.days_in_advance_to_bill,
ps.premium_frequency_id,
ps.premium_period_start_date,
ps.premium_rule_id,
ps.test_day,
ps.use_retroactive_processing,
ps.periods_to_look_back_for_retro,
ps.conversion_date,
ps.apply_review_period,
ps.days_of_review_period,
ps.do_not_release,
ps.is_scheduling_active,
ps.time_to_process,
ps.schedule_form_id,
ps.use_grace_period_processing,
ps.days_of_grace_period,
ps.past_due_threshold_percent,
ps.past_due_penalty_rate_id,
ps.family_age_calculation_rule_id,
premium_age_calculation_rule_id,
ps.readjudicate_pended_grace_period_claim_lines,
ps.readjudicate_held_grace_period_claim_lines,
ps.readjudicate_denied_grace_period_claim_lines,
ps.during_grace_period_result_code_id,
ps.during_grace_period_result_code_status_id,
ps.after_grace_period_result_code_id,
ps.after_grace_period_result_code_status_id,
is_invoice_per_enrollment,
is_invoice_per_premium_period,
auto_create_accounting_invoice_id_rule_id
FROM premium_setup ps
WHERE ps.premium_setup_id = @pre_premium_setup_id

SET @premium_setup_id = SCOPE_IDENTITY()

IF (ISNULL(@premium_setup_id, 0) > 0)
BEGIN
-- Update benefit contract to point to the new premium setup.
UPDATE benefit_contract
SET premium_setup_id = @premium_setup_id
WHERE benefit_contract_id = @benefit_contract_id

-- Add premium setup dependent data.
-- individual billing info
INSERT INTO premium_setup_individual_billing(
premium_setup_id,
cycle_01_days_premium_review,
cycle_02_days_invoice_review,
cycle_03_days_until_invoice_date,
cycle_04_days_until_invoice_due_date,
cycle_05_days_until_coverage_start)
SELECT
@premium_setup_id,
psib.cycle_01_days_premium_review,
psib.cycle_02_days_invoice_review,
psib.cycle_03_days_until_invoice_date,
psib.cycle_04_days_until_invoice_due_date,
psib.cycle_05_days_until_coverage_start
FROM premium_setup_individual_billing psib
WHERE psib.premium_setup_id = @pre_premium_setup_id

-- guaranteed rates
INSERT INTO premium_setup_guaranteed_rate_rule(
premium_setup_id,
unit_month_year_id,
quantity,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psgrr.unit_month_year_id,
psgrr.quantity,
@effective_from,
@effective_thru
FROM premium_setup_guaranteed_rate_rule psgrr
WHERE psgrr.premium_setup_id = @pre_premium_setup_id

-- premium_setup_invoice_date_rule
INSERT INTO premium_setup_invoice_date_rule (
premium_setup_id,
invoice_date_rule_id,
number_of_days,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psidr.invoice_date_rule_id,
psidr.number_of_days,
@effective_from,
@effective_thru
FROM premium_setup_invoice_date_rule psidr
WHERE psidr.premium_setup_id = @pre_premium_setup_id

-- premium_setup_invoice_due_date_rule
INSERT INTO premium_setup_invoice_due_date_rule (
premium_setup_id,
invoice_due_date_rule_id,
number_of_days,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psiddr.invoice_due_date_rule_id,
psiddr.number_of_days,
@effective_from,
@effective_thru
FROM premium_setup_invoice_due_date_rule psiddr
WHERE psiddr.premium_setup_id = @pre_premium_setup_id

-- premium_setup_invoice_review_period_rule
INSERT INTO premium_setup_invoice_review_period_rule (
premium_setup_id,
invoice_review_period_rule_id,
number_of_days,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psirpr.invoice_review_period_rule_id,
psirpr.number_of_days,
@effective_from,
@effective_thru
FROM premium_setup_invoice_review_period_rule psirpr
WHERE psirpr.premium_setup_id = @pre_premium_setup_id

-- premium_setup_override_threshold
INSERT INTO premium_setup_override_threshold (
premium_setup_id,
accounting_transaction_ar_id,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psot.accounting_transaction_ar_id,
@effective_from,
@effective_thru
FROM premium_setup_override_threshold psot
WHERE psot.premium_setup_id = @pre_premium_setup_id

-- premium_setup_rule_for_cobra
INSERT INTO premium_setup_rule_for_cobra (
premium_setup_id,
bill_to_id,
surcharge_percent,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psrfc.bill_to_id,
psrfc.surcharge_percent,
@effective_from,
@effective_thru
FROM premium_setup_rule_for_cobra psrfc
WHERE psrfc.premium_setup_id = @pre_premium_setup_id

-- premium_setup_invoice_agent
INSERT INTO premium_setup_invoice_agent (
premium_setup_id,
invoice_agent_identifier_id,
territory_id,
effective_from,
effective_thru)
SELECT
@premium_setup_id,
psia.invoice_agent_identifier_id,
psia.territory_id,
@effective_from,
@effective_thru
FROM premium_setup_invoice_agent psia
WHERE psia.premium_setup_id = @pre_premium_setup_id

-- Provide the premium setup id back to
RETURN @premium_setup_id
END
END

--
GO
