USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEAdER_BEGiN;
--
AUTHOR: Lamnguyen
Mar 28 2006  1:17pM   initial generation
--
REViSiON_HiSTORY:
--
date		Modified By	Version		description
--------------------------------------------------------------------------------
12/18/2007	Vishwa Jella	1.1		Updated Fields based on ICU 18033
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSiON: 1.0
--
DESCRIPTION:
This procedure is used to save data for frmClaimDuplicateRules form.
--
REQUiREMENTS:
--
INPUTS

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTpUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLEd_pROCEdURES:
--
HEAdER_ENd;
******************************/
CREATE PROCEdURE [dbo].[plx_duplicate_claim_rule_save]

(
@duplicate_claim_rule_id                    int = NULL   OUTpUT
,@claim_form_type_id                         int = NULL
,@is_rule_enabled                            bit = NULL
,@ignore_denied_lines                        bit = NULL
,@ignore_claim_lines_modifier_51             bit = NULL
,@check_duplicate_lines_same_claim           bit = NULL
,@duplicate_result_code_id                   int = NULL
,@duplicate_result_code_status_id            int = NULL
,@is_possible_rule_enabled                   bit = NULL
,@possible_ignore_denied_lines               bit = NULL
,@possible_ignore_claim_lines_modifier_51    bit = NULL
,@possible_check_duplicate_lines_same_claim  bit = NULL
,@possible_result_code_id                    int = NULL
,@possible_result_code_status_id             int = NULL
,@active                                     bit = NULL

) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159020021',
@ERROR_NOT_EXIST	= '159020023',
@ERROR_CANT_UPDATE 	= '159020022'
--
IF @duplicate_claim_rule_id is NULL
BEGIN
IF NOT EXISTS (SELECT * FROM duplicate_claim_rule WHERE claim_form_type_id = @claim_form_type_id )
BEGIN


--- Create a new duplicate_claim_rule record
INSERT INTO duplicate_claim_rule(
claim_form_type_id
,is_rule_enabled
,ignore_denied_lines
,ignore_claim_lines_modifier_51
,check_duplicate_lines_same_claim
,result_code_id
,result_code_status_id
,is_possible_rule_enabled
,possible_ignore_denied_lines
,possible_ignore_claim_lines_modifier_51
,possible_check_duplicate_lines_same_claim
,possible_result_code_id
,possible_result_code_status_id
,active
)
VALUES
(@claim_form_type_id
,@is_rule_enabled
,@ignore_denied_lines
,@ignore_claim_lines_modifier_51
,@check_duplicate_lines_same_claim
,@duplicate_result_code_id
,@duplicate_result_code_status_id
,@is_possible_rule_enabled
,@possible_ignore_denied_lines
,@possible_ignore_claim_lines_modifier_51
,@possible_check_duplicate_lines_same_claim
,@possible_result_code_id
,@possible_result_code_status_id
,@active
)
END

--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @duplicate_claim_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM duplicate_claim_rule WHERE duplicate_claim_rule_id = @duplicate_claim_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--



ELSE
BEGIN

--- Updating an existing duplicate_claim_rule record
UPDATE duplicate_claim_rule
SET
is_rule_enabled					= @is_rule_enabled
,ignore_denied_lines				= @ignore_denied_lines
,ignore_claim_lines_modifier_51			= @ignore_claim_lines_modifier_51
,check_duplicate_lines_same_claim		= @check_duplicate_lines_same_claim
,result_code_id  				= @duplicate_result_code_id
,result_code_status_id 				= @duplicate_result_code_status_id
,is_possible_rule_enabled   			= @is_possible_rule_enabled
,possible_ignore_denied_lines			= @possible_ignore_denied_lines
,possible_ignore_claim_lines_modifier_51		= @possible_ignore_claim_lines_modifier_51
,possible_check_duplicate_lines_same_claim	= @possible_check_duplicate_lines_same_claim
,possible_result_code_id                  	= @possible_result_code_id
,possible_result_code_status_id			= @possible_result_code_status_id
,active                                   	= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE duplicate_claim_rule_id = @duplicate_claim_rule_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @Sp_SUCCESS
--
GO
