USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_Get_Family_Details]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BIND_Get_Family_Details]
	@subscriber_individual_number varchar(15)
AS
BEGIN
	SET NOCOUNT ON;
 select
	individual_number as IndividualNumber,
	latest_member_number as MemberNumber,
	latest_member_number_hash as MemberNumberHash,
	relationship_to_subscriber as RelationshipToSubscriber,
	group_number as GroupNumber,
	latest_member_number_for_group_number as FamilyUd,
	latest_member_number_hash_for_group_number as FamilyUdHash,
	enrollment_effective_date as EnrollmentEffectiveDate,
	enrollment_term_date as EnrollmentTermDate,
	eligibility_identifier as EligibilityIdentifier,
	eligibility_effective_date as EligibilityEffectiveDate,
	eligibility_term_date as EligibilityTermDate,
	is_canceled_eligibility as IsCancelledEligibility,
	benefit_plan_identifier as BenefitPlanIdentifier
from
(
	select
		subscriber_bridge.individual_number individual_number,
		subscriber_mpi.id_value latest_member_number,
		HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONVERT(VARCHAR(MAX), subscriber_mpi.id_value))) latest_member_number_hash,
		'Self' relationship_to_subscriber,
		bc.benefit_contract_ud group_number,
		fe.family_eligibility_ud latest_member_number_for_group_number,
		HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONVERT(VARCHAR(MAX), fe.family_eligibility_ud))) latest_member_number_hash_for_group_number,
		fe.effective_from enrollment_effective_date,
		fe.effective_thru enrollment_term_date,
		subscriber_fembp.member_eligibility_ud eligibility_identifier,
		subscriber_fembp.effective_from eligibility_effective_date,
		subscriber_fembp.effective_thru eligibility_term_date,
		subscriber_fembp.never_under_coverage is_canceled_eligibility,
		subscriber_fembp.created_date created_at,
		bp.benefit_plan_ud benefit_plan_identifier
	from
		bind_qc_member_id_individual_number subscriber_bridge
	left join
		member_personal_id subscriber_mpi on subscriber_bridge.qc_member_id = subscriber_mpi.member_id
			and subscriber_mpi.member_id_type_id = 3
	left join
		family_eligibility_member subscriber_fem on subscriber_bridge.qc_member_id = subscriber_fem.member_id
			and subscriber_fem.relationship_to_insured_id = 2
	left join
		family_eligibility fe on subscriber_fem.family_eligibility_id = fe.family_eligibility_id
	left join
		benefit_contract bc on fe.benefit_contract_id = bc.benefit_contract_id
	left join
		family_eligibility_member_benefit_plan subscriber_fembp on subscriber_fem.family_eligibility_member_id = subscriber_fembp.family_eligibility_member_id
	left join
		benefit_plan bp on subscriber_fembp.benefit_plan_id = bp.benefit_plan_id
	where
		subscriber_bridge.individual_number = @subscriber_individual_number
	union all
	select
		dependent_bridge.individual_number individual_number,
		dependent_mpi.id_value latest_member_number,
		HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONVERT(VARCHAR(MAX), dependent_mpi.id_value))) latest_member_number_hash,
		rti.relationship_to_insured_ud relationship_to_subscriber,
		bc.benefit_contract_ud group_number,
		fe.family_eligibility_ud latest_member_number_for_group_number,
		HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONVERT(VARCHAR(MAX), fe.family_eligibility_ud))) latest_member_number_hash_for_group_number,
		fe.effective_from enrollment_effective_date,
		fe.effective_thru enrollment_term_date,
		dependent_fembp.member_eligibility_ud eligibility_identifier,
		dependent_fembp.effective_from eligibility_effective_date,
		dependent_fembp.effective_thru eligibility_term_date,
		dependent_fembp.never_under_coverage is_canceled_eligibility,
		dependent_fembp.created_date created_at,
		bp.benefit_plan_ud benefit_plan_identifier
	from
		bind_qc_member_id_individual_number subscriber_bridge
	left join
		family_eligibility_member subscriber_fem on subscriber_bridge.qc_member_id = subscriber_fem.member_id
			and subscriber_fem.relationship_to_insured_id = 2
	left join
		family_eligibility fe on subscriber_fem.family_eligibility_id = fe.family_eligibility_id
	left join
		benefit_contract bc on fe.benefit_contract_id = bc.benefit_contract_id
	left join
		family_eligibility_member dependent_fem on fe.family_eligibility_id = dependent_fem.family_eligibility_id
			and dependent_fem.relationship_to_insured_id <> 2
	left join
		relationship_to_insured rti on dependent_fem.relationship_to_insured_id = rti.relationship_to_insured_id
	left join
		member_personal_id dependent_mpi on dependent_fem.member_id = dependent_mpi.member_id
			and dependent_mpi.member_id_type_id = 3
	left join
		bind_qc_member_id_individual_number dependent_bridge on dependent_fem.member_id = dependent_bridge.qc_member_id
	left join
		family_eligibility_member_benefit_plan dependent_fembp on dependent_fem.family_eligibility_member_id = dependent_fembp.family_eligibility_member_id
	left join
		benefit_plan bp on dependent_fembp.benefit_plan_id = bp.benefit_plan_id
	where
		subscriber_bridge.individual_number = @subscriber_individual_number
) q
order by
	case when q.relationship_to_subscriber = 'Self' then 0 else 1 end asc,
	q.individual_number asc,
	q.is_canceled_eligibility desc,
	q.eligibility_effective_date asc,
    q.eligibility_term_date asc,
	q.created_at asc;
END
GO
