USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_valid_choice_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
01/11/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/11/2005     	Trinh Le	1.0		Get banded table ud for find form functionality
07/27/2006     	HungTNguyen	1.1		added Yes/NO
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data on grid Valid Choices of benefit framework
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_valid_choice_load]
(
@benefit_framework_choice_list_id		Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_framework_valid_choice.benefit_framework_valid_choice_id as benefit_valid_choice_id
,benefit_framework_valid_choice.benefit_framework_valid_choice_ud as benefit_valid_choice_ud
,case when not  benefit_framework_valid_choice.yes_no_id is null then
CONVERT(NVARCHAR,benefit_framework_valid_choice.yes_no_id)
else
benefit_framework_valid_choice.valid_choice
end as 	valid_choice
,benefit_framework_valid_choice.modified_date
FROM benefit_framework_valid_choice
left join benefit_framework_choice_list  ON benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_framework_valid_choice.benefit_framework_choice_list_id

WHERE benefit_framework_valid_choice.benefit_framework_choice_list_id = @benefit_framework_choice_list_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
