USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_criteria_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   07/23/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Member Assignment grid on Capitation Member Roster form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_capitation_member_roster_criteria_load]
(
@capitation_member_roster_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cmrc.capitation_member_roster_id
,cmrc.capitation_member_roster_criteria_id

,cmrc.client_group_id
,cgn.client_group_ud

,cmrc.client_id
,cn.client_ud

,cmrc.benefit_plan_id
,bp.benefit_plan_ud

,cmrc.benefit_contract_id
,bc.benefit_contract_ud

,cmrc.benefit_category_id
,bct.benefit_category_ud

,cmrc.effective_from
,cmrc.effective_thru

,cmrc.active
,cmrc.created_user_name
,cmrc.created_group_id
,cmrc.created_date
,cmrc.modified_date
FROM capitation_member_roster_criteria cmrc
left join client_group cg ON cg.client_group_id = cmrc.client_group_id
left JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1)
left join client c ON c.client_id = cmrc.client_id
left JOIN client_name cn ON (cn.client_id = c.client_id) AND (cn.primary_name = 1)
left JOIN benefit_plan bp ON bp.benefit_plan_id = cmrc.benefit_plan_id
left JOIN benefit_contract bc ON bc.benefit_contract_id = cmrc.benefit_contract_id
left JOIN benefit_category bct ON bct.benefit_category_id = cmrc.benefit_category_id
WHERE cmrc.capitation_member_roster_id = isnull(@capitation_member_roster_id,0)
--

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
