USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_information_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\t20nguye
Jan  5 2006  1:11PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/10	Anh Ta		1.0			Used for ICU#15894 Payment Contract
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Writes a single code_depreciation_information into the code_depreciation_information table.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_information_save]
(
@code_depreciation_information_id	INT = NULL   OUTPUT
,@code_depreciation_rank				INT = NULL
,@code_depreciation_percent			NUMERIC(20,10) = NULL
,@code_depreciation_schedule_id		INT = NULL
,@exceed_rank							BIT = 0
,@active								BIT = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840036',
@ERROR_NOT_EXIST	= '159840037',
@ERROR_CANT_UPDATE 	= '159840038'
--
IF @code_depreciation_information_id is Null
BEGIN

--- Create a new code_depreciation_information record
INSERT INTO code_depreciation_information(
code_depreciation_rank
,code_depreciation_percent
,code_depreciation_schedule_id
,exceed_rank
,active
)
VALUES
(@code_depreciation_rank
,@code_depreciation_percent
,@code_depreciation_schedule_id
,@exceed_rank
,@active
)
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
SET @code_depreciation_information_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM code_depreciation_information WHERE code_depreciation_information_id = @code_depreciation_information_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing code_depreciation_information record
UPDATE code_depreciation_information
SET
code_depreciation_rank			= @code_depreciation_rank
,code_depreciation_percent		= @code_depreciation_percent
,code_depreciation_schedule_id	= @code_depreciation_schedule_id
,exceed_rank						= @exceed_rank
,active							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE code_depreciation_information_id = @code_depreciation_information_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
