USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_limit_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	Trinh Le	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for grid sub limit rule in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_limit_rule_load]
(
@accumulator_sub_limit_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_sub_limit_rule.accumulator_sub_limit_rule_id as accumulator_sub_limit_rules_id
,accumulator_sub_limit_rule.individual_accumulator_choice_list_id as ind_accumulator_valid_choice_id
,accumulator_sub_limit_rule.individual_value
,accumulator_sub_limit_rule.family_accumulator_choice_list_id as fam_accumulator_valid_choice_id
,accumulator_sub_limit_rule.family_value
,accumulator_sub_limit_rule.effective_from
,accumulator_sub_limit_rule.effective_thru
,accumulator_sub_limit_rule.active
,accumulator_sub_limit_rule.modified_date
FROM accumulator_sub_limit_rule
inner join accumulator_sub_limit  ON accumulator_sub_limit.accumulator_sub_limit_id = accumulator_sub_limit_rule.accumulator_sub_limit_id
left join accumulator_choice_list  ON accumulator_choice_list.accumulator_choice_list_id = accumulator_sub_limit_rule.individual_accumulator_choice_list_id
left join accumulator_choice_list  accumulator_choice_list1  ON accumulator_choice_list1.accumulator_choice_list_id = accumulator_sub_limit_rule.family_accumulator_choice_list_id
WHERE accumulator_sub_limit_rule.accumulator_sub_limit_id = @accumulator_sub_limit_id

ORDER BY
CASE WHEN accumulator_sub_limit_rule.effective_from IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_rule.effective_from DESC
,CASE WHEN accumulator_sub_limit_rule.effective_thru IS NULL THEN 0 ELSE 1 END , accumulator_sub_limit_rule.effective_thru DESC


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
