USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_service_representative_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
DATE: 01/17/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/17/2006	tinhdo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Assigned Service Representatives grid on Client form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_client_service_representative_list_load]
(
@client_id	Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
client_service_representative.client_service_representative_id

,client_service_representative.service_representative_type_id as service_type_id

,service_type.service_type_ud
,client_service_representative.service_representative_client_group_benefit_contract_id
,service_representative_client_group_benefit_contract.service_representative_client_group_benefit_contract_ud

,client_service_representative.effective_from
,client_service_representative.effective_thru

FROM client_service_representative
left join service_type  ON service_type.service_type_id = client_service_representative.service_representative_type_id
left join service_representative_client_group_benefit_contract  ON service_representative_client_group_benefit_contract.service_representative_client_group_benefit_contract_id = client_service_representative.service_representative_client_group_benefit_contract_id

WHERE client_service_representative.client_id = @client_id
ORDER BY
CASE WHEN client_service_representative.effective_from IS NULL THEN 0 ELSE 1 END , client_service_representative.effective_from DESC
,CASE WHEN client_service_representative.effective_thru IS NULL THEN 0 ELSE 1 END , client_service_representative.effective_thru DESC
--
RETURN @SP_SUCCESS
--
GO
