USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_visit_definition_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 2008/12/11
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2008/12/11	lrenard		1.0		created
2009/01/22	JHein						Fixed update.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a single object into the benefit_contract_period_benefit_plan_visit_definition table.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_visit_definition_save]
(
@benefit_contract_period_benefit_plan_visit_definition_id	int = NULL   OUTPUT
,@benefit_contract_period_benefit_plan_id	int = NULL
,@criteria_id				int = NULL
,@visit_definition_id			int = NULL
,@effective_from				datetime = NULL
,@effective_thru				datetime = NULL
,@active					bit = 1
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @benefit_contract_period_benefit_plan_visit_definition_id is Null
BEGIN

--- Create a new benefit_contract_period_benefit_plan_visit_definition record
INSERT INTO benefit_contract_period_benefit_plan_visit_definition(
benefit_contract_period_benefit_plan_id
,criteria_id
,visit_definition_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@criteria_id
,@visit_definition_id
,@effective_from
,@effective_thru
,@active
)
--

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @benefit_contract_period_benefit_plan_visit_definition_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM dbo.benefit_contract_period_benefit_plan_visit_definition WHERE benefit_contract_period_benefit_plan_visit_definition_id = @benefit_contract_period_benefit_plan_visit_definition_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing benefit_contract_period_benefit_plan_visit_definition record
UPDATE dbo.benefit_contract_period_benefit_plan_visit_definition
SET
benefit_contract_period_benefit_plan_id	= @benefit_contract_period_benefit_plan_id
,criteria_id		= @criteria_id
,visit_definition_id	= @visit_definition_id
,effective_from	= @effective_from
,effective_thru	= @effective_thru
,active			= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_period_benefit_plan_visit_definition_id = @benefit_contract_period_benefit_plan_visit_definition_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
