USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_coverage_level_get_benefit_plans_for_enrollment]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Combobox Dropdown to display Benefit Plans associated with the
Benefit Contract for a given Enrollment.

Form: Enrollment Coverage Level Details, frmEnrollmentCoverageLevelDetail

******************************/
CREATE PROCEDURE [dbo].[plx_dd_coverage_level_get_benefit_plans_for_enrollment]
(
@family_eligibility_id INT = 0
)
AS

-- get benefit_contract_id
DECLARE @benefit_contract_id INT;
SET @benefit_contract_id = (SELECT benefit_contract_id
FROM family_eligibility
WHERE family_eligibility_id = @family_eligibility_id);

SELECT
bp.benefit_plan_id,
bp.benefit_plan_ud
FROM
benefit_contract bc
JOIN benefit_contract_period bcp
ON bc.benefit_contract_id = bcp.benefit_contract_id
JOIN benefit_contract_period_benefit_plan bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
JOIN benefit_plan bp
ON bcpbp.benefit_plan_id = bp.benefit_plan_id
WHERE bc.benefit_contract_id = @benefit_contract_id
ORDER BY bp.benefit_plan_ud

RETURN 0
GO
