USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_address_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[plx_beneficiary_address_delete]
(
@beneficiary_address_id                         int = NULL
) AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '158880009'

IF NOT EXISTS (SELECT * FROM beneficiary_address WHERE beneficiary_address_id = @beneficiary_address_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
declare @address_id int
set @address_id = ( SELECT address_id FROM beneficiary_address WHERE beneficiary_address_id = @beneficiary_address_id)

DELETE FROM beneficiary_address
WHERE beneficiary_address_id = @beneficiary_address_id

DELETE FROM address
WHERE address_id = @address_id
END
RETURN @SP_SUCCESS
END
GO
