USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_account_check_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 03/15/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/15/2006	HungTNguyen			1.0		create
2008/05/16	lrenard				1.1		accounting company schema and form changes
08/08/2008	lrenard & ccessnun	1.2		accounting schema changed - fixing joins
10/13/2008	wchristensen		1.3		fixed formatting, removed unused return values
10/14/2008	wchristensen		1.4		added checks for account assignments
-------------------------------------------------------------------
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is check if an account can be deleted.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_company_account_check_delete]
(
@accounting_company_account_id	int = NULL
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@IN_USE bit,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT 1 FROM accounting_company_account WHERE accounting_company_account_id = @accounting_company_account_id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END

--  Check for Bank Accounts referencing the account
ELSE
BEGIN
SELECT @IN_USE = dbo.plx_fn_check_account_in_use(@accounting_company_account_id)

IF @IN_USE = 1
SET @RESULT = @SP_DELETE_UNABLE
END


RETURN @RESULT

END
GO
