USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_advance_charge_back_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  2 2006  1:43PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2/8/2006     tinhdo      1.0          created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the commission_advance_charge_back table.
--
REQUIREMENTS:
--
INPUTS:
commission_advance_charge_back_id - Key to commission_advance_charge_back table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_commission_advance_charge_back_list_load]
(
@commission_advance_setup_id		Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
commission_advance_charge_back.commission_advance_charge_back_id

,commission_advance_charge_back.balance_as_of_id
,commission_advance_charge_back.include_chargeback
,commission_advance_charge_back.include_interest_charged
,commission_advance_charge_back.include_interest_paid
,commission_advance_charge_back.chargeback_percent
,commission_advance_charge_back.effective_from
,commission_advance_charge_back.effective_thru
FROM commission_advance_charge_back

WHERE commission_advance_charge_back.commission_advance_setup_id = @commission_advance_setup_id
ORDER BY
CASE WHEN commission_advance_charge_back.effective_from IS NULL THEN 0 ELSE 1 END , commission_advance_charge_back.effective_from DESC
,CASE WHEN commission_advance_charge_back.effective_thru IS NULL THEN 0 ELSE 1 END , commission_advance_charge_back.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
