USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_distribution_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen

REVISION_HISTORY:
--
Date		Modified By      Version Description
--------------------------------------------------------------------------------
03/10/2009  Wade Christensen 1.0     Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
04/21/2016	eponomareff		2.0		RT:10092 Forms were saving to the distribution table
in the wrong direction. See ACCOUNTING RULES below.

--------------------------------------------------------------------------------
CURRENT_VERSION: 2.0
--
DESCRIPTION:

Form: Accounting Transaction AR form
Grid: Revenue grid (grdDistribution)

This procedure is used to update data in the REVENUE GRID on the Accounting Transaction AR
form; this grid represents the Distribution on accounting_transaction_ar.

The Revenue grid deals with the credit-type (Income) account, so that the relevant
Accounting Rules below are (2) and (4)

RT:10092
ACCOUNTING RULES:
(1) Main Form: a CHARGE tx will debit a debit account (i.e., Accounts Receivable account field on main form)
(2) Grid: a CHARGE tx will credit a credit account (i.e., Income account in the Revenue grid)
(3) Main Form: a CREDIT tx will credit the debit account (A/R field on main form)
(4) Grid: a CREDIT tx will debit the credit account (Income account on the Revenue grid)

Note: These rules are consistent with initial specs in ICU 19700 (2009).
See also: http://accounting-simplified.com/accounting-for-receivables.html
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_distribution_save]
(
@accounting_transaction_distribution_id	    int = null output
,@accounting_transaction_id					int = NULL
,@accounting_company_account_id				int = NULL
,@amount									numeric(20,10) = NULL
,@active									bit = 1
)
AS

DECLARE	@SUCCESS INT
DECLARE @EXCEPTION INT
DECLARE @TYPE nvarchar(50)

SELECT 	@SUCCESS = 0, @EXCEPTION = -1

SELECT @TYPE = golden_key
FROM accounting_transaction_ar_type trx_type
INNER JOIN accounting_transaction_ar trx ON trx_type.accounting_transaction_ar_type_id = trx.accounting_transaction_ar_type_id
WHERE trx.accounting_transaction_ar_id = @accounting_transaction_id

IF (@accounting_transaction_distribution_id is null)
BEGIN
INSERT INTO accounting_transaction_ar_distribution(
accounting_transaction_ar_id
,accounting_company_account_id
,amount
,is_debit
,active
)
VALUES
(@accounting_transaction_id
,@accounting_company_account_id
,ABS(@amount)
,CASE @TYPE
WHEN 'CHARGE' THEN 0
WHEN 'CREDIT' THEN 1
END
,@active
)

SET @accounting_transaction_distribution_id = @@IDENTITY

IF NOT EXISTS (SELECT * FROM accounting_transaction_ar_distribution WHERE accounting_transaction_ar_distribution_id = @accounting_transaction_distribution_id )
BEGIN
RETURN @EXCEPTION
END
END
ELSE
BEGIN
UPDATE 	accounting_transaction_ar_distribution
SET
accounting_transaction_ar_id	= @accounting_transaction_id
,accounting_company_account_id	= @accounting_company_account_id
,amount							= ABS(@amount)
,is_debit						= CASE @TYPE
WHEN 'CHARGE' THEN 0
WHEN 'CREDIT' THEN 1
END
,active							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE 	accounting_transaction_ar_distribution_id = @accounting_transaction_distribution_id
END

RETURN @SUCCESS
GO
