USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_benefit_class_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/18/2005    maitran      1.0       Created

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a benefit_framework_benefit_class node in benefit class/choice list id tree or
Benefit Class/Benefit ID tree, check if this node has any reference.
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_benefit_class_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_framework_benefit_class_check_delete]
(
@benefit_framework_benefit_class_id		int = NULL,
@is_benefit_class_choice_list_tree		int = 1
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1


IF NOT EXISTS (	SELECT 	benefit_framework_benefit_class_id
FROM 	benefit_framework_benefit_class
WHERE 	benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id)
BEGIN
SET  @result = @SP_EXCEPTION
END
--
/* Added by Thuy Ha on 2006/02/24 */
ELSE IF EXISTS (
SELECT 1 FROM benefit_plan_benefit_class_choice_resolution bpbccr
INNER JOIN benefit_coverage_rules bcr ON bpbccr.benefit_coverage_rules_id = bcr.benefit_coverage_rules_id
INNER JOIN benefit_framework_choice_list bfcl ON bcr.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
WHERE bfcl.benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

ELSE IF EXISTS (
SELECT 1 FROM benefit_plan_benefit_class_choice_resolution bpbccr
INNER JOIN benefit_framework_valid_choice bfvc ON bfvc.benefit_framework_valid_choice_id = bpbccr.benefit_framework_valid_choice_id
INNER JOIN benefit_framework_choice_list bfcl ON bfvc.benefit_framework_choice_list_id = bfcl.benefit_framework_choice_list_id
WHERE bfcl.benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
/* End added by Thuy Ha on 2006/02/24 */

ELSE IF (@is_benefit_class_choice_list_tree = 1)
BEGIN
-- check whether this benefit class is used in benefit class/benefit ID tree in Beneft Coverage Rules or not
IF EXISTS (	SELECT	benefit_id
FROM	benefit
WHERE	benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
-- check all child choice list
ELSE
BEGIN
SET @result = @SP_DELETE_ABLE
---declare cursor
DECLARE benefit_choice_list_cursor CURSOR FOR
SELECT	benefit_framework_choice_list_id
FROM 	benefit_framework_choice_list
WHERE 	benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id

DECLARE @benefit_framework_choice_list_id int,
@check_result int

--open cursor
OPEN benefit_choice_list_cursor

FETCH NEXT FROM benefit_choice_list_cursor
INTO @benefit_framework_choice_list_id

while @@fetch_status = 0
begin
EXEC @result = dbo.plx_benefit_framework_choice_list_check_delete @benefit_framework_choice_list_id

IF @result <> @SP_DELETE_ABLE
break

FETCH NEXT FROM benefit_choice_list_cursor
INTO @benefit_framework_choice_list_id
end

--end cursor
CLOSE benefit_choice_list_cursor
DEALLOCATE benefit_choice_list_cursor
END
END
--
ELSE IF (@is_benefit_class_choice_list_tree = 0)
BEGIN
-- check whether this benefit class is used in benefit class/Choice List ID tree in Beneft Class Choice List tab or not
IF EXISTS (	SELECT	benefit_framework_choice_list_id
FROM	benefit_framework_choice_list
WHERE	benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
-- check all child benefit_id
ELSE
BEGIN
SET @result = @SP_DELETE_ABLE

---declare cursor
DECLARE benefit_cursor CURSOR FOR
SELECT	benefit_id
FROM 	benefit
WHERE 	benefit_framework_benefit_class_id = @benefit_framework_benefit_class_id

DECLARE @benefit_id int

--open cursor
OPEN benefit_cursor

FETCH NEXT FROM benefit_cursor
INTO @benefit_id

while @@fetch_status = 0
begin
EXEC @result = dbo.plx_benefit_check_delete @benefit_id

IF @result <> @SP_DELETE_ABLE
break

FETCH NEXT FROM benefit_cursor
INTO @benefit_id
end

--end cursor
CLOSE benefit_cursor
DEALLOCATE benefit_cursor
END
END
--
ELSE
BEGIN
SET @result = @SP_DELETE_ABLE
END
RETURN @result
END
GO
