USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_rate_eligibility_rate_item_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_rate_eligibility_rate_item_list_load]
(
@eligibility_rate_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT
ereri.eligibility_rate_eligibility_rate_item_id,
ereri.eligibility_rate_id,
ereri.eligibility_rate_item_id,
eri.eligibility_rate_item_ud,
eri.description as eligibility_rate_item_description,
ereri.amount
FROM dbo.eligibility_rate_eligibility_rate_item ereri
LEFT JOIN dbo.eligibility_rate_item eri ON ereri.eligibility_rate_item_id = eri.eligibility_rate_item_id
WHERE
ereri.eligibility_rate_id= @eligibility_rate_id

RETURN 0
GO
