USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_states_delete_for_enrollment]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
Used by Coverage Level Processing (called by the UI), this stored procedure
deletes coverage_level_state records for in input enrollment and as of date,
where the record does not having a matching benefit_plan_id in the
input benefitPlanIds list.

NOTE: This stored procedure is not used for deletes as a result of batch
processing. That stored procedure is:
plx_coverage_level_process_states_delete_termed

******************************/
CREATE PROCEDURE [dbo].[plx_coverage_level_process_states_delete_for_enrollment]
(
@family_eligibility_id INT = 0,
@as_of_date DATE = null,
@benefitPlanIds udtt_ids READONLY
)
AS

BEGIN

SET NOCOUNT ON;
DECLARE @deletedRecordCount INT = 0;

IF OBJECT_ID('tempdb..#coverageLevelStateRecordsToDelete') IS NOT NULL
DROP TABLE #coverageLevelStateRecordsToDelete

BEGIN TRANSACTION;

-- identify records with no match on enrollment, benefit plan, as of date
-- and store in temp table
SELECT
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
as_of_date,
tier_criteria_id
INTO #coverageLevelStateRecordsToDelete
FROM
(SELECT
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
as_of_date,
tier_criteria_id
FROM dbo.coverage_level_state cls
LEFT OUTER JOIN @benefitPlanIds benPlanIds
ON cls.benefit_plan_id = benPlanIds.id
WHERE
cls.family_eligibility_id = @family_eligibility_id
AND
cls.as_of_date = @as_of_date
AND
benPlanIds.id IS NULL) toDelete;

-- delete records with no match on enrollment, benefit plan, as of date
DELETE coverage_level_state WITH (UPDLOCK, SERIALIZABLE)
FROM dbo.coverage_level_state cls
JOIN #coverageLevelStateRecordsToDelete tempDelete
ON cls.coverage_level_state_id = tempDelete.coverage_level_state_id;

COMMIT TRANSACTION;
END

-- return deleted records to caller
SELECT
coverage_level_state_id,
family_eligibility_id,
benefit_plan_id,
as_of_date,
tier_criteria_id
FROM #coverageLevelStateRecordsToDelete;

RETURN 0;
GO
