USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_check_findform_combobox]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used for taboff findform validation rule on agent form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_agent_check_findform_combobox]
(
@agent_identifier_id int  = null,
@agent_ud			 nvarchar(50) = null,
@type         		 nvarchar(100) = null

)AS
--
DECLARE
@SP_SUCCESS 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SqlQuery	= ''
,@SqlCondition	= ''

IF isnull(@agent_identifier_id,0) > 0
SET @SqlCondition = @SqlCondition + ' AND agent_identifier.agent_identifier_id = ' +  CONVERT(NVARCHAR, @agent_identifier_id)

IF @agent_ud IS NOT NULL  AND @agent_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND agent_identifier.agent_ud =  ''' +  dbo.plx_EncodeStringWildCard(@agent_ud, 1) + ''''

IF @type IS NOT NULL AND @type <> ''
SET @SqlCondition = @SqlCondition + ' AND agent_or_brokerage_type.golden_key =  ''' +  dbo.plx_EncodeStringWildCard(@type, 1) + ''''

SET @SqlQuery =
'  SELECT DISTINCT ' +
'     agent_identifier.agent_id ' +
'    ,agent_identifier.agent_identifier_id ' +
'	 ,agent_identifier.agent_ud ' +
'	 ,agent_name.name_last as agent_name_last ' +
'	 ,agent_name.name_first as agent_name_first ' +
'	 ,agent_name.name_middle as agent_name_middle ' +
'	 ,dbo.plx_ConcatenateName(agent_name.name_last, agent_name.name_first, agent_name.name_middle, null) AS agent_name ' +
'  FROM agent_identifier ' +
'      	INNER JOIN agent ON (agent.agent_id = agent_identifier.agent_id ) ' +
'      	INNER JOIN agent_or_brokerage_type ON (agent.agent_or_brokerage_type_id = agent_or_brokerage_type.agent_or_brokerage_type_id ) ' +
'      	INNER JOIN agent_name ON (agent.agent_id = agent_name.agent_id AND agent_name.is_primary = 1) '

IF @SqlCondition <> ''
SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition

EXEC(@SqlQuery + @SqlCondition )
--
RETURN @SP_SUCCESS
GO
