USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alternate_course_code_group_procedure_code_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 02/28/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row on the procedure code grid
Procedure Code Specific Minimums and Maximums (grdPxCodeSpecificMinAndMax)
on the Dental Alternate Course Grouping Definition entity

******************************/

CREATE   PROCEDURE [dbo].[plx_alternate_course_code_group_procedure_code_save]
(
@alternate_course_code_group_procedure_code_id        int = NULL   OUTPUT
,@alternate_course_code_group_id                       int
,@procedure_code_id                                    int
,@use_min_total                                        bit = NULL
,@minimum_number                                       int = NULL
,@maximum_number                                       int = NULL
,@active                                               bit = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @alternate_course_code_group_procedure_code_id is Null
BEGIN

--- Create a new record
INSERT INTO alternate_course_code_group_procedure_code(
alternate_course_code_group_id
,procedure_code_id
,minimum_number
,maximum_number
,active
)
VALUES
(@alternate_course_code_group_id
,@procedure_code_id
,@minimum_number
,@maximum_number
,@active
)
--
SET @alternate_course_code_group_procedure_code_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT * FROM alternate_course_code_group_procedure_code
WHERE alternate_course_code_group_procedure_code_id = @alternate_course_code_group_procedure_code_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE alternate_course_code_group_procedure_code
SET
procedure_code_id           = @procedure_code_id
,minimum_number              = @minimum_number
,maximum_number              = @maximum_number
,active                      = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE alternate_course_code_group_procedure_code_id = @alternate_course_code_group_procedure_code_id
END
--
RETURN @SP_SUCCESS
--
GO
