USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_ajudication_object_display_selections_exist]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall
10/21/2011 Initial generation
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to determine if the Show-all or Show Selected checkboxes are to be
checked on the claim form.
--
REQUIREMENTS:
--
INPUTS:
@claim_id - the claim being displayed on the form
@adjudication_object_type_golden_key = the golden_key (PAYMENT_ITEM -or- ADJUDICATION_ITEM)
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_ajudication_object_display_selections_exist]
(
@claim_id INT,
@adjudication_object_type_golden_key NVARCHAR(50)
)

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SET @SP_SUCCESS = 0

--
DECLARE @Exists BIT
DECLARE @claim_form_type_id INT

SET @Exists = 0

SELECT @claim_form_type_id = claim_form_type_id FROM claim WHERE claim_id = @claim_id

IF EXISTS
(
SELECT
*
FROM
adjudication_object_show aos
INNER JOIN adjudication_object ao
ON ao.adjudication_object_id = aos.adjudication_object_id
INNER JOIN adjudication_object_type aot
ON aot.adjudication_object_type_id = ao.adjudication_object_type_id
WHERE
aos.claim_form_type_id = @claim_form_type_id
AND aot.golden_key=@adjudication_object_type_golden_key
) SET @Exists = 1

SELECT @Exists AS [exists]

RETURN @SP_SUCCESS
--
GO
