USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_refund_payment_applied_refund_requests_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

Form: Vendor Refund Payment form.
Grid: Vendor Refund Requests grid

This stored procedure either inserts a record to the accounting_transaction_ap_apply_to
table, updates it, or deletes it. The user "deletes" a record by unchecking the Apply checkbox.
(This functionality is similar to the Customer Payment form.)

NOTE: This grid is pre-populated with Vendor Refund Requests that are available to pay.
Only Vendor Refund Requests with the same Vendor, Accounting Company and AP Account
matches those on the Vendor Refund Payment are displayed.

NOTE: The record is stored ONLY if the Apply checkbox is checked. If the user unchecks the
Apply checkbox, the record is deleted from the underlying table. The Apply checkbox is
a calculated field, so we use whether the @amount is NULL to determine if the Apply
checkbox is unchecked, for new records.

A $0 Vendor Refund Request may be saved and posted to a Vendor Refund Payment. However, a
non-zero Vendor Refund Request may only be saved/posted to a Vendor Refund Payment if
the @maount is > $0.

This stored procedure does not POST the Vendor Refund Payment.
The POST functionality is provided by the Post Payment button stored procedure.
Posted records are read-only in the UI and cannot be modified by this stored procedure.

This stored procedure does not modify the statuses on any of the related objects.
The status of the Vendor Refund Request is modified when the Payment is Posted.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_refund_payment_applied_refund_requests_save]
(
@accounting_transaction_ap_apply_to_id         INT = NULL OUTPUT
,@accounting_transaction_ap_id                  INT = NULL             -- Vendor Refund Payment internal id (maps to FROM)
,@vendor_refund_request_id                      INT = NULL             -- Vendor Refund Request internal id (maps to TO)
,@amount                                        NUMERIC(20,10) = NULL  -- Amount to apply from Payment to Request
,@comment                                       NVARCHAR(300) = NULL
)
AS

SET NOCOUNT ON
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT 	NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50);

SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

-- Get the available status for the Vendor Refund Request and the unapplied amount
DECLARE @refundRequestUnappliedAmount numeric(20,10) = 0.0;
DECLARE @isVendorRefundRequestAvailable BIT = 0;
SELECT @refundRequestUnappliedAmount =
dbo.plx_fn_get_unapplied_amount_for_vendor_refund_request_except_this_apply_to(@vendor_refund_request_id,
@accounting_transaction_ap_apply_to_id, 1);

IF EXISTS (SELECT 1
FROM accounting_transaction_ap_refund_request_detail det
JOIN accounting_payment_status stat
on det.accounting_payment_status_id = stat.accounting_payment_status_id
WHERE det.accounting_transaction_ap_id = @vendor_refund_request_id
AND stat.golden_key = 'AVAILABLE')
BEGIN
SET @isVendorRefundRequestAvailable = 1;
END

-- Inserting or updating?
IF @accounting_transaction_ap_apply_to_id IS NULL
BEGIN  -- insert apply_to
IF @amount IS NOT NULL		-- a null value indicates "Apply" not checked by user
BEGIN

DECLARE @currentDate as Date = GETDATE();

-- Verify the Vendor Refund Request apply to is available to pay
-- But if $0 applied from non-$0 Vendor Refund Request, do not save
IF @isVendorRefundRequestAvailable = 1
AND ((@refundRequestUnappliedAmount > 0 AND @amount > 0)
OR (@amount = 0 AND @refundRequestUnappliedAmount = 0 ))
BEGIN
--- Create a new ApplyTo record
INSERT INTO accounting_transaction_ap_apply_to(
from_accounting_transaction_ap_id
,to_accounting_transaction_ap_id
,unapplied_amount
,amount
,[date]
,comment
,is_posted
,active
)
VALUES
(@accounting_transaction_ap_id  --Vendor Refund Payment ID
,@vendor_refund_request_id
,@refundRequestUnappliedAmount
,@amount
,@currentDate
,@comment
,0
,1
)
IF @@ERROR <> 0
BEGIN
RETURN @SP_EXCEPTION
END
SET @accounting_transaction_ap_apply_to_id = @@IDENTITY

END
END

END  -- end insert apply_to

ELSE
BEGIN  -- update apply_to
IF @amount IS NOT NULL
BEGIN
-- Make sure the new amount does not exceed the available, if we replaced the old amount
DECLARE @difference decimal;
SELECT @difference = (@refundRequestUnappliedAmount + amount - @amount)
FROM accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id;

IF @difference >= 0
AND ((@refundRequestUnappliedAmount > 0 AND @amount > 0)
OR (@amount = 0 AND @refundRequestUnappliedAmount = 0 ))
BEGIN
UPDATE accounting_transaction_ap_apply_to
SET
from_accounting_transaction_ap_id    = @accounting_transaction_ap_id
,to_accounting_transaction_ap_id      = @vendor_refund_request_id
,unapplied_amount                     = @refundRequestUnappliedAmount
,amount	                              = @amount
,[date]                               = @currentDate
,comment                              = @comment
,modified_user_name                   = ORIGINAL_LOGIN()
,modified_date                        = GETDATE()
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id
AND ISNULL(is_posted, 0) = 0;

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
ELSE
-- if assignment is not valid, delete it.
BEGIN
DELETE accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id
AND ISNULL(is_posted, 0) = 0;

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END
END
ELSE
BEGIN
-- Amount is null, so delete the apply_to record
DELETE accounting_transaction_ap_apply_to
WHERE accounting_transaction_ap_apply_to_id = @accounting_transaction_ap_apply_to_id
AND ISNULL(is_posted, 0) = 0;

IF @@ERROR <> 0
RETURN @SP_EXCEPTION
END

END   -- end update apply_to

--
RETURN @SP_SUCCESS
--
GO
