USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_procedure_cob_info_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/07/2017	eponomareff	1.0		RT:11929 Created for duplicate claim line stored procedures
02/01/2022  kirkc		1.1		RT-20830 addressed performance issue by removing cursor
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
This procedure is used to duplicate claim line level COB information from tables:

claim_procedure_cob_amount
claim_procedure_cob_adjustment

when duplicating a claim_procedure record.

--
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_procedure_cob_info_duplicate]
(
@new_claim_procedure_id INT, -- new claim_procedure_id
@new_claim_id INT,           -- new claim_id
@current_claim_procedure_id INT -- current claim_procedure_id
) AS
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0;

--
SET NOCOUNT ON;

-- Do child records for: claim_procedure_cob_amount
-- These may have different payers; match by sequence_id

--- Create a new claim_procedure_cob_amount record
INSERT INTO dbo.claim_procedure_cob_amount(
claim_procedure_id
,claim_cob_payer_id
,net_pay
,net_pay_override
,allowed_amount
,allowed_amount_override
,active
)
SELECT
@new_claim_procedure_id
,ccp_new.claim_cob_payer_id
,cpca.net_pay
,cpca.net_pay_override
,cpca.allowed_amount
,cpca.allowed_amount_override
,cpca.active
FROM claim_procedure_cob_amount cpca
JOIN claim_cob_payer ccp_orig ON ccp_orig.claim_cob_payer_id = cpca.claim_cob_payer_id
JOIN claim_cob_payer ccp_new ON ccp_new.claim_id = @new_claim_id
AND ccp_new.sequence_id = ccp_orig.sequence_id
WHERE	claim_procedure_id = @current_claim_procedure_id;

-- Do child records for: claim_procedure_cob_adjustment
-- These may have different payers; match by sequence_id

--- Create a new claim_procedure_cob_adjustment record
INSERT INTO dbo.claim_procedure_cob_adjustment(
claim_procedure_id
,claim_cob_payer_id
,adjudication_object_id
,claim_adjustment_group_code_gk
,claim_adjustment_reason_code_nk
,amount
,override_amount
,active
)
SELECT
@new_claim_procedure_id
,ccp_new.claim_cob_payer_id
,cpca.adjudication_object_id
,cpca.claim_adjustment_group_code_gk
,cpca.claim_adjustment_reason_code_nk
,cpca.amount
,cpca.override_amount
,cpca.active
FROM claim_procedure_cob_adjustment cpca
JOIN claim_cob_payer ccp_orig ON ccp_orig.claim_cob_payer_id = cpca.claim_cob_payer_id
JOIN claim_cob_payer ccp_new ON ccp_new.claim_id = @new_claim_id
AND ccp_new.sequence_id = ccp_orig.sequence_id
WHERE	claim_procedure_id = @current_claim_procedure_id;

RETURN @SP_SUCCESS;
--
END;
GO
