USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_agent_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to delete data for family eligibility premium agent identifier grid
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_agent_delete]
(
@family_eligibility_premium_invoice_agent_id                        int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM family_eligibility_premium_invoice_agent WHERE family_eligibility_premium_invoice_agent_id = @family_eligibility_premium_invoice_agent_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM family_eligibility_premium_invoice_agent
WHERE family_eligibility_premium_invoice_agent_id = @family_eligibility_premium_invoice_agent_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
