USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_report_parameter_caption_sel_all]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_report_parameter_caption_sel_all]
As

Select
report_parameter_caption_id,
report_parameter_caption_ud
From
report_parameter_caption
GO
