USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_service_representative_carrier_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Aug 31 2006 10:07AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/4/2006	ThuyNguyen	1.1		sort eff from, thr
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the carrier_service_representative_carrier table.
This stored procedure is used in Assigned Service Representatives grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:
carrier_service_representative_carrier_id - Key to carrier_service_representative_carrier table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_carrier_service_representative_carrier_list_load]
(
@carrier_id			Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
carrier_service_representative_carrier.carrier_service_representative_carrier_id

,carrier_service_representative_carrier.carrier_id
,carrier_service_representative_carrier.carrier_service_representative_id
,carrier_service_representative_carrier.service_type_id

,carrier_service_representative_carrier.effective_from
,carrier_service_representative_carrier.effective_thru
,carrier_service_representative_carrier.comment
FROM carrier_service_representative_carrier
WHERE carrier_service_representative_carrier.carrier_id = @carrier_id
--ThuyNguyen added to sort eff from, thr
ORDER BY CASE WHEN carrier_service_representative_carrier.effective_from IS NULL THEN 0 ELSE 1 END ASC, carrier_service_representative_carrier.effective_from DESC,
CASE WHEN carrier_service_representative_carrier.effective_thru IS NULL THEN 0 ELSE 1 END ASC, carrier_service_representative_carrier.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
