USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_tier_criteria_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
AUTHOR: David Slayton
DATE CREATED: 02/04/2009

REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/04/2009	David Slayton	1.0			Created

******************************/
CREATE    PROCEDURE [dbo].[plx_dd_tier_criteria_type_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
tier_criteria_type_id
,tier_criteria_type_ud
,golden_key
FROM tier_criteria_type
WHERE
golden_key = 'AGE_GENDER'
OR
golden_key = 'AGE_RELATIONSHIP'
OR
golden_key = 'AGE_GENDER_RELATIONSHIP_COMBO'
OR
golden_key = 'FAMILY'
OR
golden_key = 'INVOICE_FREQUENCY'
OR
golden_key = 'POSTAL_CODE_SET'
OR
golden_key = 'USER_DEFINED_TOPIC_LIST'
OR
golden_key = 'AGE_GENDER_COPAY'
OR
golden_key = 'ELIGIBILITY_TENURE'
OR
golden_key = 'DUAL_ELIGIBILITY_STATUS'
OR
golden_key = 'LOAN_DURATION'
ORDER BY tier_criteria_type_ud
--
RETURN @SP_SUCCESS
--
GO
