USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
DATE: 09/15/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek		1.0			Created
02/07/2008	Vishwa Jella	1.1			Updated with Accumulator Framework on Benefit Contract Period Level Functionality
02/29/2008	David Slayton	1.2			accumulator_id/_ud fields now point to the
accumulator_framework_accumulator_class_accumulator_id/_ud fields
03/14/2008	lrenard			2.0			insert 1 row with previous period valid choice value or a NULL valid choice value for each resolution that has not been saved
05/16/2012	amortensen		2.1			updated to insert choice list even if there is only one value in the choice list
01/24/2022	amortensen/cknobloch	2.2			update to query for accums assigned to the benefit plan

CURRENT_VERSION: 2.1
--
DESCRIPTION:
Load data for Accumulator Choice data resolved at benefit plan grid in the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id
--
OUTPUTS:

--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_load]
(
@benefit_contract_period_benefit_plan_id INT = NULL
,@benefit_contract_id INT = NULL
)
AS --
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--insert choice resolution values if they do not exist
INSERT INTO benefit_contract_period_benefit_plan_accumulator_class_choice_resolution (
benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,active
,modified_date
)
SELECT @benefit_contract_period_benefit_plan_id
,accumulator_rule.accumulator_limit_rule_id
,accumulator_rule.accumulator_sub_limit_rule_id
,dbo.plx_fn_get_benefit_contract_period_benefit_plan_accumulator_class_choice_list_resolution_valid_choice(accumulator_rule.accumulator_limit_rule_id, accumulator_rule.accumulator_sub_limit_rule_id, bp.benefit_plan_id, bcp.benefit_contract_period_id, 1) AS individual_accumulator_valid_choice_id
,dbo.plx_fn_get_benefit_contract_period_benefit_plan_accumulator_class_choice_list_resolution_valid_choice(accumulator_rule.accumulator_limit_rule_id, accumulator_rule.accumulator_sub_limit_rule_id, bp.benefit_plan_id, bcp.benefit_contract_period_id, 0) AS family_accumulator_valid_choice_id
,1
,bcp.modified_date
FROM benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework
ON benefit_plan_accumulator_framework.benefit_plan_id = bp.benefit_plan_id
INNER JOIN accumulator_framework
ON benefit_plan_accumulator_framework.accumulator_framework_id = accumulator_framework.accumulator_framework_id
INNER JOIN dbo.accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_id = accumulator_framework.accumulator_framework_id
INNER JOIN dbo.accumulator_framework_accumulator_class_accumulator afacc
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN dbo.accumulator_class
ON accumulator_class.accumulator_class_id = afac.accumulator_class_id
INNER JOIN (
SELECT accumulator_framework_accumulator_class_accumulator_id
,individual_accumulator_choice_list_id
,family_accumulator_choice_list_id
,effective_from
,effective_thru
,accumulator_limit_rule_id
,NULL AS accumulator_sub_limit_rule_id
FROM accumulator_limit_rule

UNION

SELECT asl.accumulator_framework_accumulator_class_accumulator_id
,aslr.individual_accumulator_choice_list_id
,aslr.family_accumulator_choice_list_id
,aslr.effective_from
,aslr.effective_thru
,NULL AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id
FROM accumulator_sub_limit_rule aslr
INNER JOIN accumulator_sub_limit asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
) accumulator_rule
ON accumulator_rule.accumulator_framework_accumulator_class_accumulator_id = afacc.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN dbo.benefit_contract
ON bcp.benefit_contract_id = dbo.benefit_contract.benefit_contract_id
LEFT JOIN (
SELECT ind_choice_list1.accumulator_choice_list_id
,ind_choice_list1.accumulator_choice_list_ud
FROM dbo.accumulator_choice_list ind_choice_list1
INNER JOIN dbo.resolve_choice_list_at ind_rcla
ON ind_rcla.resolve_choice_list_at_id = ind_choice_list1.resolve_choice_list_at_id
WHERE ind_rcla.golden_key = N'BENEFIT CONTRACT'
AND 1 <= (
SELECT COUNT(accumulator_valid_choice_id)
FROM accumulator_valid_choice
WHERE accumulator_valid_choice.accumulator_choice_list_id = ind_choice_list1.accumulator_choice_list_id
)
) ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_rule.individual_accumulator_choice_list_id
LEFT JOIN (
SELECT family_choice_list1.accumulator_choice_list_id
,family_choice_list1.accumulator_choice_list_ud
FROM dbo.accumulator_choice_list family_choice_list1
INNER JOIN dbo.resolve_choice_list_at family_rcla
ON family_rcla.resolve_choice_list_at_id = family_choice_list1.resolve_choice_list_at_id
WHERE family_rcla.golden_key = N'BENEFIT CONTRACT'
AND 1 <= (
SELECT COUNT(accumulator_valid_choice_id)
FROM accumulator_valid_choice
WHERE accumulator_valid_choice.accumulator_choice_list_id = family_choice_list1.accumulator_choice_list_id
)
) family_choice_list
ON family_choice_list.accumulator_choice_list_id = accumulator_rule.family_accumulator_choice_list_id
WHERE bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
--afac.accumulator_framework_id IN (	SELECT	accumulator_framework_id
--											FROM 	benefit_contract_accumulator_framework
--											WHERE	benefit_contract_id = @benefit_contract_id )
AND (
ind_choice_list.accumulator_choice_list_id IS NOT NULL
OR family_choice_list.accumulator_choice_list_id IS NOT NULL
)
AND NOT EXISTS (
SELECT benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_id
FROM benefit_contract_period_benefit_plan_accumulator_class_choice_resolution bcpbpaccr1
WHERE (
(
accumulator_rule.accumulator_limit_rule_id = bcpbpaccr1.accumulator_limit_rule_id
AND accumulator_rule.accumulator_sub_limit_rule_id IS NULL
)
OR (
accumulator_rule.accumulator_sub_limit_rule_id = bcpbpaccr1.accumulator_sub_limit_rule_id
AND accumulator_rule.accumulator_limit_rule_id IS NULL
)
)
AND bcpbpaccr1.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)

INSERT INTO benefit_contract_period_benefit_plan_accumulator_class_choice_resolution (
benefit_contract_period_benefit_plan_id
,accumulator_limit_rule_id
,accumulator_sub_limit_rule_id
,individual_accumulator_valid_choice_id
,family_accumulator_valid_choice_id
,active
,modified_date
)
SELECT @benefit_contract_period_benefit_plan_id
,accumulator_rule.accumulator_limit_rule_id
,accumulator_rule.accumulator_sub_limit_rule_id
,dbo.plx_fn_get_benefit_contract_period_benefit_plan_accumulator_class_choice_list_resolution_valid_choice(accumulator_rule.accumulator_limit_rule_id, accumulator_rule.accumulator_sub_limit_rule_id, bcpbp.benefit_plan_id, bcp.benefit_contract_period_id, 1) AS individual_accumulator_valid_choice_id
,dbo.plx_fn_get_benefit_contract_period_benefit_plan_accumulator_class_choice_list_resolution_valid_choice(accumulator_rule.accumulator_limit_rule_id, accumulator_rule.accumulator_sub_limit_rule_id, bcpbp.benefit_plan_id, bcp.benefit_contract_period_id, 0) AS family_accumulator_valid_choice_id
,1
,benefit_contract_accumulator_framework.modified_date
FROM dbo.benefit_contract_accumulator_framework
INNER JOIN dbo.accumulator_framework_accumulator_class AS afac
INNER JOIN dbo.accumulator_framework
ON afac.accumulator_framework_id = dbo.accumulator_framework.accumulator_framework_id
INNER JOIN dbo.accumulator_framework_accumulator_class_accumulator AS afacc
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN dbo.accumulator_class
ON dbo.accumulator_class.accumulator_class_id = afac.accumulator_class_id
INNER JOIN (
SELECT accumulator_framework_accumulator_class_accumulator_id
,individual_accumulator_choice_list_id
,family_accumulator_choice_list_id
,effective_from
,effective_thru
,accumulator_limit_rule_id
,NULL AS accumulator_sub_limit_rule_id
FROM dbo.accumulator_limit_rule

UNION

SELECT asl.accumulator_framework_accumulator_class_accumulator_id
,aslr.individual_accumulator_choice_list_id
,aslr.family_accumulator_choice_list_id
,aslr.effective_from
,aslr.effective_thru
,NULL AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id
FROM dbo.accumulator_sub_limit_rule AS aslr
INNER JOIN dbo.accumulator_sub_limit AS asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
) AS accumulator_rule
ON accumulator_rule.accumulator_framework_accumulator_class_accumulator_id = afacc.accumulator_framework_accumulator_class_accumulator_id
ON dbo.benefit_contract_accumulator_framework.accumulator_framework_id = dbo.accumulator_framework.accumulator_framework_id INNER JOIN dbo.benefit_contract
INNER JOIN dbo.benefit_contract_period AS bcp
INNER JOIN dbo.benefit_contract_period_benefit_plan AS bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
ON dbo.benefit_contract.benefit_contract_id = bcp.benefit_contract_id
ON dbo.benefit_contract_accumulator_framework.benefit_contract_id = dbo.benefit_contract.benefit_contract_id LEFT JOIN (
SELECT ind_choice_list1.accumulator_choice_list_id
,ind_choice_list1.accumulator_choice_list_ud
FROM dbo.accumulator_choice_list AS ind_choice_list1
INNER JOIN dbo.resolve_choice_list_at AS ind_rcla
ON ind_rcla.resolve_choice_list_at_id = ind_choice_list1.resolve_choice_list_at_id
WHERE (ind_rcla.golden_key = N'BENEFIT CONTRACT')
AND (
1 <= (
SELECT COUNT(accumulator_valid_choice_id) AS Expr1
FROM dbo.accumulator_valid_choice
WHERE (accumulator_choice_list_id = ind_choice_list1.accumulator_choice_list_id)
)
)
) AS ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_rule.individual_accumulator_choice_list_id LEFT JOIN (
SELECT family_choice_list1.accumulator_choice_list_id
,family_choice_list1.accumulator_choice_list_ud
FROM dbo.accumulator_choice_list AS family_choice_list1
INNER JOIN dbo.resolve_choice_list_at AS family_rcla
ON family_rcla.resolve_choice_list_at_id = family_choice_list1.resolve_choice_list_at_id
WHERE (family_rcla.golden_key = N'BENEFIT CONTRACT')
AND (
1 <= (
SELECT COUNT(accumulator_valid_choice_id) AS Expr1
FROM dbo.accumulator_valid_choice AS accumulator_valid_choice_1
WHERE (accumulator_choice_list_id = family_choice_list1.accumulator_choice_list_id)
)
)
) AS family_choice_list
ON family_choice_list.accumulator_choice_list_id = accumulator_rule.family_accumulator_choice_list_id WHERE (bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
AND (ind_choice_list.accumulator_choice_list_id IS NOT NULL)
AND (
NOT EXISTS (
SELECT benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_id
FROM dbo.benefit_contract_period_benefit_plan_accumulator_class_choice_resolution AS bcpbpaccr1
WHERE (
(accumulator_rule.accumulator_limit_rule_id = accumulator_limit_rule_id)
AND (accumulator_rule.accumulator_sub_limit_rule_id IS NULL)
OR (accumulator_rule.accumulator_limit_rule_id IS NULL)
AND (accumulator_rule.accumulator_sub_limit_rule_id = accumulator_sub_limit_rule_id)
)
AND bcpbpaccr1.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
)
OR (bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
AND (family_choice_list.accumulator_choice_list_id IS NOT NULL)
AND (
NOT EXISTS (
SELECT benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_id
FROM dbo.benefit_contract_period_benefit_plan_accumulator_class_choice_resolution AS bcpbpaccr1
WHERE (
(accumulator_rule.accumulator_limit_rule_id = accumulator_limit_rule_id)
AND (accumulator_rule.accumulator_sub_limit_rule_id IS NULL)
OR (accumulator_rule.accumulator_limit_rule_id IS NULL)
AND (accumulator_rule.accumulator_sub_limit_rule_id = accumulator_sub_limit_rule_id)
)
AND bcpbpaccr1.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
)

-- load grid
DECLARE @resolveAtBenefitPlanPeriod INT;

SET @resolveAtBenefitPlanPeriod = (
SELECT resolve_choice_list_at_id
FROM resolve_choice_list_at
WHERE golden_key = 'Benefit Contract'
);

SELECT bcpbpaccr.benefit_contract_period_benefit_plan_id
,bcpbpaccr.benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_id
,alr.accumulator_limit_rule_id
,CONVERT(INT, NULL) AS accumulator_sub_limit_rule_id
,afac.accumulator_framework_id
,afac.accumulator_class_id
,ac.accumulator_class_ud
,afaca.accumulator_framework_accumulator_class_accumulator_id
,afaca.accumulator_framework_accumulator_class_accumulator_ud
,
-- individual choice list
alr.individual_accumulator_choice_list_id
,IND_choice_list.accumulator_choice_list_ud AS individual_accumulator_choice_list_ud
,
-- individual selected valid choice
IND_valid_choice.accumulator_valid_choice_id AS individual_accumulator_valid_choice_id
,IND_valid_choice.valid_choice AS individual_accumulator_valid_choice_ud
,
-- family choice list
alr.family_accumulator_choice_list_id
,FAM_choice_list.accumulator_choice_list_ud AS family_accumulator_choice_list_ud
,
-- family selected valid choice
FAM_valid_choice.accumulator_valid_choice_id AS family_accumulator_valid_choice_id
,FAM_valid_choice.valid_choice AS family_accumulator_valid_choice_ud
FROM (
SELECT benefit_contract_id
,accumulator_framework_id
FROM benefit_contract_accumulator_framework

UNION

SELECT benefit_contract_id
,bpaf.accumulator_framework_id
FROM benefit_plan_accumulator_framework bpaf
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bpaf.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
) bcaf
INNER JOIN accumulator_framework af
ON bcaf.accumulator_framework_id = af.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_limit_rule alr
ON afaca.accumulator_framework_accumulator_class_accumulator_id = alr.accumulator_framework_accumulator_class_accumulator_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list IND_choice_list
ON alr.individual_accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list FAM_choice_list
ON alr.family_accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
-- actual choices made and stored
LEFT JOIN benefit_contract_period_benefit_plan_accumulator_class_choice_resolution bcpbpaccr
ON alr.accumulator_limit_rule_id = bcpbpaccr.accumulator_limit_rule_id
LEFT JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbpaccr.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
LEFT JOIN benefit_contract_period bcp
ON bcaf.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN accumulator_valid_choice IND_valid_choice
ON bcpbpaccr.individual_accumulator_valid_choice_id = IND_valid_choice.accumulator_valid_choice_id
LEFT JOIN accumulator_valid_choice FAM_valid_choice
ON bcpbpaccr.family_accumulator_valid_choice_id = FAM_valid_choice.accumulator_valid_choice_id
WHERE bcaf.benefit_contract_id = bcp.benefit_contract_id
AND bcpbpaccr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (
IND_choice_list.accumulator_choice_list_id IS NOT NULL
OR FAM_choice_list.accumulator_choice_list_id IS NOT NULL
)
AND (
IND_choice_list.resolve_choice_list_at_id IS NULL
OR IND_choice_list.resolve_choice_list_at_id = @resolveAtBenefitPlanPeriod
)
AND (
IND_valid_choice.accumulator_valid_choice_id IS NULL
OR IND_valid_choice.accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
)
AND (
FAM_choice_list.resolve_choice_list_at_id IS NULL
OR FAM_choice_list.resolve_choice_list_at_id = @resolveAtBenefitPlanPeriod
)
AND (
FAM_valid_choice.accumulator_valid_choice_id IS NULL
OR FAM_valid_choice.accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
)

UNION

-- same but with sub limit
SELECT bcpbpaccr.benefit_contract_period_benefit_plan_id
,bcpbpaccr.benefit_contract_period_benefit_plan_accumulator_class_choice_resolution_id
,CONVERT(INT, NULL) AS accumulator_limit_rule_id
,aslr.accumulator_sub_limit_rule_id
,afac.accumulator_framework_id
,afac.accumulator_class_id
,ac.accumulator_class_ud
,afaca.accumulator_framework_accumulator_class_accumulator_id
,afaca.accumulator_framework_accumulator_class_accumulator_ud
,
-- individual choice list
aslr.individual_accumulator_choice_list_id
,IND_choice_list.accumulator_choice_list_ud AS individual_accumulator_choice_list_ud
,
-- individual selected valid choice
IND_valid_choice.accumulator_valid_choice_id AS individual_accumulator_valid_choice_id
,IND_valid_choice.valid_choice AS individual_accumulator_valid_choice_ud
,
-- family choice list
aslr.family_accumulator_choice_list_id
,FAM_choice_list.accumulator_choice_list_ud AS family_accumulator_choice_list_ud
,
-- family selected valid choice
FAM_valid_choice.accumulator_valid_choice_id AS family_accumulator_valid_choice_id
,FAM_valid_choice.valid_choice AS family_accumulator_valid_choice_ud
FROM (
SELECT benefit_contract_id
,accumulator_framework_id
FROM benefit_contract_accumulator_framework

UNION

SELECT benefit_contract_id
,bpaf.accumulator_framework_id
FROM benefit_plan_accumulator_framework bpaf
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bpaf.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period bcp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
) bcaf
INNER JOIN accumulator_framework af
ON bcaf.accumulator_framework_id = af.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_sub_limit asl
ON afaca.accumulator_framework_accumulator_class_accumulator_id = asl.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_sub_limit_rule aslr
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list IND_choice_list
ON aslr.individual_accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list FAM_choice_list
ON aslr.family_accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
-- actual choices made and stored
LEFT JOIN benefit_contract_period_benefit_plan_accumulator_class_choice_resolution bcpbpaccr
ON aslr.accumulator_sub_limit_rule_id = bcpbpaccr.accumulator_sub_limit_rule_id
LEFT JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbpaccr.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
LEFT JOIN benefit_contract_period bcp
ON bcaf.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN accumulator_valid_choice IND_valid_choice
ON bcpbpaccr.individual_accumulator_valid_choice_id = IND_valid_choice.accumulator_valid_choice_id
LEFT JOIN accumulator_valid_choice FAM_valid_choice
ON bcpbpaccr.family_accumulator_valid_choice_id = FAM_valid_choice.accumulator_valid_choice_id
WHERE bcaf.benefit_contract_id = bcp.benefit_contract_id
AND bcpbpaccr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (
IND_choice_list.accumulator_choice_list_id IS NOT NULL
OR FAM_choice_list.accumulator_choice_list_id IS NOT NULL
)
AND (
IND_choice_list.resolve_choice_list_at_id IS NULL
OR IND_choice_list.resolve_choice_list_at_id = @resolveAtBenefitPlanPeriod
)
AND (
IND_valid_choice.accumulator_valid_choice_id IS NULL
OR IND_valid_choice.accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
)
AND (
FAM_choice_list.resolve_choice_list_at_id IS NULL
OR FAM_choice_list.resolve_choice_list_at_id = @resolveAtBenefitPlanPeriod
)
AND (
FAM_valid_choice.accumulator_valid_choice_id IS NULL
OR FAM_valid_choice.accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
);

RETURN 0
GO
