USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThanhNguyen
Date: 08/17/2005
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/17/2005	ThanhNguyen		1.0		Created
12/05/2005	HuyThan			1.0		Changed pay_claim_to => claim_payee
12/07/2005	HuyThan			1.0		Changed table family_eligibility_member_benefit_contract_period_benefit_plan => family_eligibility_member_benefit_contract_period_benefit_plan
02/09/2006	ThuyHa     		1.1		Changed treatment_for_orthodontics to treatment_of_orthodontics,
date_applicance_placed to date_appliance_placed
08/31/2006	HuyThan			1.2		remove carrier_level_id
09/06/2006	HuyThan			1.3		add claim.provider_speciality_id
09/12/2006	HuyThan			1.4		change claim.provider_speciality_id => claim.provider_specialty_id
10/07/2008	eponomareff				change provider_specialty_id --> 'provider_specialty_type_id
1/2/2009					1.5		changed @dental_claim_id --> @claim_id. Forms should now load based on the claim_id instead of dental_claim_id
06/16/2009 Isaac Overacker 1.6		Added repriced_network_id.
06/23/2009 Isaac Overacker 1.7		Changed repriced_network_id to repriced_network.
08/10/2009 CCESSNUN		   1.8      Added adjudication_status.golden_key to the result set for use in claim_locking.
11/03/2009	Vishwa			1.9		Added Use Eligibility Entered bit field to override Find Eligibility Rule
on Global System form
03/04/2010	Vishwa			2.0		Added rendering_provider_additional_ud, eferring_provider_additional_ud,
billing_provider_additional_ud fields
03/11/2010	Vishwa			2.1	added service_preauth field to support dental claim pre_determination services
06/17/2010	Vishwa			2.2		 Updated export fields to show edi batch export data. Later new schema update these changes
08/18/2011	CKnobloch		2.2		 Addeded Extra Variables for Duplicate Fields
10/17/2011	ggutshall		2.3		 added place_of_treatment_id
07/30/2013	eponomareff		2.4		removed four bit fields replaced by place_of_treatment_id combobox
06/23/2014	eponomareff		2.5		RT:6737 replace place_of_treatment_id
with place_of_service_id
02/18/2015  Amortensen      2.6     RT:7538 - Updated for Original Date Received
04/23/2015  Amortensen      2.7     RT:8091 - Updated Received Date, Clean Date to load date without time
--------------------------------------------------------------------------------
CURRENT_VERSION	: 2.7
--
DESCRIPTION	:
This procedure is used to load data for dental claim form
--
REQUIREMENTS	:
--
INPUTS		:
--
OUTPUTS		:
--
RETURN_VALUES	:
--
CALLED_PROCEDURES:
--
HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_dental_claim_load]
(
@claim_id			int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@provider_name nvarchar(303),
@provider_name_first nvarchar(100),
@provider_name_last  nvarchar(100),
@provider_name_middle nvarchar(100)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@provider_name = '',
@provider_name_first = '',
@provider_name_last = '',
@provider_name_middle = ''

SELECT
@provider_name_last = provn.name_last,
@provider_name_first = provn.name_first,
@provider_name_middle = provn.name_middle
FROM claim
LEFT JOIN provider_name provn ON provn.provider_id = claim.provider_id
WHERE claim.claim_id = @claim_id

IF (ISNULL(@provider_name_last,'') <> '')
BEGIN
SET @provider_name = @provider_name + @provider_name_last
END

IF (ISNULL(@provider_name_first,'') <> '')
BEGIN
IF (ISNULL(@provider_name,'') <> '' AND ISNULL(@provider_name_first,'') <> '')
BEGIN
SET @provider_name = @provider_name + ', '+ @provider_name_first
END
END

IF (ISNULL(@provider_name_first,'') <> '' AND ISNULL(@provider_name_middle,'') <> '')
BEGIN
IF (ISNULL(@provider_name,'') <> '')
BEGIN
SET @provider_name = @provider_name + ' ' + @provider_name_middle
END
END

SELECT
claim.claim_id
,dental_claim.dental_claim_id
,dental_claim.dental_claim_type_id
,claim.duplicate_claim
,claim.adjusted_claim
,claim.non_clean_claim
,claim.replacement_claim
,claim.void_claim
,claim.claim_ud
,dbo.claim_result_code_combination(claim.claim_id) AS claim_result_codes
,claim.adjudication_status_id as claim_status_id
,adjudication_status.adjudication_status_ud as claim_status_ud
,adjudication_status.golden_key as claim_status_golden_key
,claim.episode_id
,episode.episode_ud
,DATEADD(d, 0, DATEDIFF(d, 0, claim.received_date)) AS received_date
,DATEADD(d, 0, DATEDIFF(d, 0, claim.clean_date)) AS clean_date
,dental_claim.statement_of_actual_services
,dental_claim.request_for_preauthorization
,dental_claim.epsdt
,dental_claim.other_coverage
,dental_claim.patient_account_number
,dental_claim.other_fee
,dental_claim.remarks
,dental_claim.carrier_level_id
,claim.provider_signature_on_file
,claim.provider_signature_on_file_date
,claim.family_eligibility_member_benefit_plan_id as member_eligibility_id
,family_eligibility_member_benefit_plan.member_eligibility_ud
,claim.use_eligibility_entered
,member.member_id
,claim.vendor_id
,vendor.vendor_ud as vendor_ud
,vendor.vendor_ud as vendor_ud2
,dental_claim.vendor_license
,dental_claim.provider_license
,@provider_name as rendering_provider_name
,@provider_name as provider_name
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'NETPAYAMOUNT'), 0) as total_amount
,ISNULL(dbo.plx_fn_claim_amount(claim.claim_id, 'BILLED'), 0) as total_billed
,claim.provider_id as rendering_provider_id
,claim.provider_identifier_id as rendering_provider_identifier_id
,provider_identifier.provider_ud as rendering_provider_ud
,provider_identifier.provider_ud as rendering_provider_ud2
,claim.rendering_provider_additional_ud
,claim.referring_provider_additional_ud
,claim.provider_specialty_type_id as rendering_provider_specialty_type_id
,rendering_provider_specialty_type.provider_specialty_type_ud as rendering_provider_specialty_type_ud
,rendering_provider_taxonomy_code
,claim.practice_office_id
,practice_office.practice_office_ud
,claim.billing_provider_id
,claim.billing_provider_identifier_id
,billing_provider_identifier.provider_ud as billing_provider_ud
,billing_provider_identifier.provider_ud as billing_provider_ud2
,dbo.plx_ConcatenateName(bpn.name_last, bpn.name_first, bpn.name_middle, NULL) as billing_provider_name
,claim.billing_provider_additional_ud
,claim.billing_provider_specialty_type_id
,billing_provider_specialty_type.provider_specialty_type_ud as billing_provider_specialty_type_ud
,billing_provider_taxonomy_code
--	This field use for hard code when open the Missing on new form
,CAST(NULL AS INT) missing_information_flag
--	Claim Details - Part 2
,claim.patient_guardian_signature_on_file
,claim.patient_guardian_signature_on_file_date
,claim.subscriber_signature_on_file_id
,claim.subscriber_signature_on_file_date
,dental_claim.place_of_service_id
,place_of_service.place_of_service_ud
,dental_claim.treatment_of_orthodontics
,dental_claim.date_appliance_placed
,dental_claim.months_of_treatment_remaining
,dental_claim.replacement_of_prothesis
,dental_claim.date_of_prior_placement
,dental_claim.treatment_due_to_occupational_illness
,dental_claim.treatment_due_to_auto_accident
,dental_claim.treatment_due_to_other
,dental_claim.date_of_accident
,dental_claim.state_id
,state.state_ud
,dental_claim.patient_paid_amount
,claim.claim_payee_id as claim_payee_id
,claim_payee.claim_payee_ud as claim_payee_ud

--Advanced Info
,claim.display_currency_id
,display_currency.display_currency_ud
,display_currency.display_currency_nm
,claim.ppo_claim_number
,claim.repriced_network
,claim.document_serial_number
,claim.user_credential
,claim.paper_claim
,orig_source.original_source_ud
,orig_source.golden_key as original_source_gk

-- Claim Dates
,CONVERT(DATE, claim.created_date) AS claim_created_date
,DATEADD(d, 0, DATEDIFF(d, 0, claim.received_date)) AS claim_received_date
,DATEADD(d, 0, DATEDIFF(d, 0, claim.clean_date)) AS claim_clean_date
,DATEADD(d,0,DATEDIFF(d,0,claim_additional_date.date_stamp)) AS received_inhouse
,dental_claim.modified_date

FROM dental_claim
LEFT JOIN [state] ON state.state_id = dental_claim.state_id
LEFT JOIN claim ON claim.claim_id = dental_claim.claim_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = claim.adjudication_status_id
LEFT JOIN episode ON episode.episode_id = claim.episode_id
LEFT JOIN family_eligibility_member_benefit_plan ON family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = claim.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN member ON member.member_id = family_eligibility_member.member_id
LEFT JOIN claim_payee ON claim_payee.claim_payee_id = claim.claim_payee_id
LEFT JOIN vendor ON vendor.vendor_id = claim.vendor_id
LEFT JOIN provider ON provider.provider_id = claim.provider_id
LEFT JOIN provider_identifier ON provider_identifier.provider_identifier_id = claim.provider_identifier_id
LEFT JOIN provider_identifier AS billing_provider_identifier ON billing_provider_identifier.provider_identifier_id =  claim.billing_provider_identifier_id
LEFT JOIN provider_specialty_type AS rendering_provider_specialty_type ON rendering_provider_specialty_type.provider_specialty_type_id = claim.provider_specialty_type_id
LEFT JOIN provider_specialty_type AS billing_provider_specialty_type ON billing_provider_specialty_type.provider_specialty_type_id = claim.billing_provider_specialty_type_id
LEFT JOIN practice_office ON practice_office.practice_office_id = claim.practice_office_id
LEFT JOIN display_currency ON display_currency.display_currency_id = claim.display_currency_id
LEFT JOIN provider_name pn ON pn.provider_id = claim.provider_id
LEFT JOIN dental_claim_type ON dental_claim_type.dental_claim_type_id = dental_claim.dental_claim_type_id
LEFT JOIN provider_name bpn ON bpn.provider_id = claim.billing_provider_id
LEFT JOIN place_of_service ON dental_claim.place_of_service_id = place_of_service.place_of_service_id
LEFT JOIN original_source orig_source ON claim.original_source_gk = orig_source.golden_key
LEFT JOIN
(
SELECT claim_id, date_stamp
FROM claim_additional_date cad
INNER JOIN claim_additional_date_type cadt ON cad.claim_additional_date_type_id = cadt.claim_additional_date_type_id
WHERE cadt.golden_key = 'RECEIVED_INHOUSE'
) AS claim_additional_date ON claim.claim_id = claim_additional_date.claim_id

WHERE dental_claim.claim_id = @claim_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
