USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_pred_payor_information_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------

HEADER_END;
*******************************************************************************/

CREATE  PROCEDURE [dbo].[plx_claim_pred_payor_information_load]
(
@claim_id			INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
family_eligibility_member_benefit_plan.member_eligibility_ud
,member_name.name_last
,member_name.name_first
,family_eligibility.family_eligibility_ud as patient_ud
,relationship_to_insured.relationship_to_insured_ud	as rel_to_primary
,client_group_name.client_group_ud
,client_group_name.client_group_nm
,benefit_plan.benefit_plan_ud
,benefit_plan.benefit_plan_nm
,subscriber_ud
, CASE WHEN client_group_nm IS NOT NULL THEN client_group_nm ELSE benefit_plan_nm END group_plan_nm
-- don't know yet
,'' as payor_sequence
,'' as payor_name

FROM claim
LEFT JOIN family_eligibility_member_benefit_plan on family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id = claim.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member on family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
LEFT JOIN relationship_to_insured on family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
LEFT JOIN member on member.member_id = family_eligibility_member.member_id
LEFT JOIN member_name on member_name.member_id = member.member_id
LEFT JOIN family_eligibility on family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
LEFT JOIN benefit_contract on family_eligibility.benefit_contract_id = benefit_contract.benefit_contract_id
LEFT JOIN client_group on benefit_contract.client_group_id = client_group.client_group_id
LEFT JOIN client_group_name on client_group.client_group_id = client_group_name.client_group_id
LEFT JOIN benefit_plan on family_eligibility_member_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN  (select family_eligibility.family_eligibility_id, family_eligibility.family_eligibility_ud as subscriber_ud
from family_eligibility
inner join family_eligibility_member on family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
inner join member on family_eligibility_member.member_id = member.member_id
inner join relationship_to_insured on family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
where relationship_to_insured.golden_key = 'Self') subscriber on subscriber.family_eligibility_id = family_eligibility.family_eligibility_id

WHERE claim.claim_id = @claim_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
GO
