USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_individual_accumulator_choice_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_individual_accumulator_choice_list_load]
AS
SELECT
accumulator_choice_list_id as individual_accumulator_choice_list_id,
accumulator_choice_list_ud as individual_accumulator_choice_list_ud
FROM accumulator_choice_list
RETURN 0
GO
