USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_eligibility_topic_name_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/27/2005      HungTNguyen      1.0            created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Reads a single dd_additional_information_topic from the additional_information_topic table.
--
REQUIREMENTS:
--
INPUTS:
additional_information_topic_id - Key to additional_information_topic table, identifies a single stored dd_additional_information_topic.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_eligibility_topic_name_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT distinct
additional_information_topic.additional_information_topic_id as family_eligibility_topic_id
,additional_information_topic.additional_information_topic_ud as family_eligibility_topic_ud
--      ,additional_information_topic.additional_information_topic_nm


FROM additional_information_form

left join additional_information on additional_information.additional_information_form_id=additional_information_form.additional_information_form_id
left join additional_information_topic on additional_information.additional_information_topic_id=additional_information_topic.additional_information_topic_id
Where 	additional_information_form.additional_information_form_nm='frmFamilyEligibility'
and additional_information_topic.additional_information_topic_id is not null
order by additional_information_topic.additional_information_topic_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
