USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_insert_result_codes]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_insert_result_codes]
(
@resultCodes udtt_capitation_result_code READONLY,
@resultCodeDetails udtt_capitation_result_code_detail READONLY
)
AS

SET NOCOUNT ON;

DECLARE @mapTable TABLE
(
map_id UNIQUEIDENTIFIER NOT NULL INDEX idx_map_table NONCLUSTERED,
processing_result_code_id INT NOT NULL
);

-- The MERGE is a trick for being able to OUTPUT values that are not being inserted.  The condition on the
-- merge needs to remain a constantly-false evaluation so that all of the records in the set get inserted.
MERGE INTO processing_result_code USING @resultCodes rc ON 1 = 0
WHEN NOT MATCHED THEN
INSERT (processing_event_id, result_code_id, result_code_status_id, comment)
VALUES (rc.processing_event_id, rc.result_code_id, rc.result_code_status_id, rc.comment)
OUTPUT rc.map_id, INSERTED.processing_result_code_id INTO @mapTable;

-- Table variables get a 1-row estimation.  OPTION(recompile) forces the estimator to use the correct number
-- of rows.  This can make a significant difference.
INSERT INTO processing_result_code_detail
(
processing_result_code_id,
ui_engine_lookup_parameter_id,
object_record_id,
description
)
SELECT
mt.processing_result_code_id,
d.ui_engine_lookup_parameter_id,
d.object_record_id,
d.description
FROM
@resultCodeDetails d
INNER JOIN @mapTable mt
ON mt.map_id = d.map_id
OPTION (RECOMPILE);
GO
