USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_insured_plan_name_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
3/7/2006	ThuyNguyen				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'pay_claim_to' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_insured_plan_name_load]
@subrogation_case_member_id		int = NULL
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT distinct
subrogation_case_member_third_party_liability_plan.third_party_liability_plan_id
,third_party_liability_plan.insurance_plan_name
,third_party_liability_plan.insured_name
,third_party_liability_plan.carrier_name
,subrogation_case_member_third_party_liability_plan.subrogation_case_member_third_party_liability_plan_id
FROM  subrogation_case_member_third_party_liability_plan
INNER JOIN third_party_liability_plan ON subrogation_case_member_third_party_liability_plan.third_party_liability_plan_id = third_party_liability_plan.third_party_liability_plan_id
WHERE subrogation_case_member_third_party_liability_plan.subrogation_case_member_id = @subrogation_case_member_id
ORDER BY third_party_liability_plan.insurance_plan_name

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
