USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_invoice_agent_id_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

DESCRIPTION:
This procedure is used to load data for drop down invoice_agent_id_type (Invoice Agent ID Type)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_invoice_agent_id_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
invoice_agent_id_type_id
,invoice_agent_id_type_ud
,description
,golden_key
FROM invoice_agent_id_type
ORDER BY invoice_agent_id_type_ud

RETURN @SP_SUCCESS
END
GO
