USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_security_role_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 09/19/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/23/2008	lrenard			1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load drop down of role names

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_security_role_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
security_role_id,
security_role_name
FROM
security_role

RETURN @SP_SUCCESS
--
GO
