USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_accumulator_class_accumulator_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Maitran
DATE: 09/09/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
9/9/2005	mttran			1.0			Created
9/12/2005   Trinh Le		1.1			Add more select field
02/14/2006  Trinh Le		1.2			Query the description for accumulator
02/20/2008	David Slayton	1.3			Added accumulator_framework_accumulator_class_accumulator.description
episode_type, and episode_category columns, removed ineligible_amount,
net_pay, ded_deductible columns.
02/22/2008	David Slayton	1.4			Added print_on_EOB and print_on_EOP columns.
12/16/2008	Jeremy Hein		1.5			Added apply and limit
04/08/2009	Isaac Overacker	1.6			Added per_tooth and per_area_of_oral_cavity columns.
07/01/2009  Isaac Overacker	1.7			Added member_expense column.
10/13/2010	Chad Maddox		1.8			Added per_tooth_surface columns
04/25/2012	Kyle Maher		1.9			Added support for Result Code Message
05/24/2012  CKnobloch		2.0			Added same_provider column
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:
Load an accumulator under accumulator framework \ accumulator class node in Accumulator
Framework form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accumulator_framework_accumulator_class_accumulator_load]
(
@accumulator_framework_accumulator_class_accumulator_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id
,accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_ud
,accumulator_framework_accumulator_class_accumulator.description
,accumulator_framework_accumulator_class_accumulator.result_code_message AS [accumulator_result_code_message]
,accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
,accumulator_framework_accumulator_class_accumulator.accumulator_id
,accumulator.accumulator_ud
,accumulator_framework_accumulator_class_accumulator.min_number_individuals_before_family_met
,accumulator_framework_accumulator_class_accumulator.deductible
,accumulator_framework_accumulator_class_accumulator.coinsurance
,accumulator_framework_accumulator_class_accumulator.copayment
,accumulator_framework_accumulator_class_accumulator.member_expense
,accumulator_framework_accumulator_class_accumulator.apply
,accumulator_framework_accumulator_class_accumulator.limit
,accumulator_framework_accumulator_class_accumulator.per_tooth
,accumulator_framework_accumulator_class_accumulator.per_tooth_surface
,accumulator_framework_accumulator_class_accumulator.per_area_of_oral_cavity
,accumulator_framework_accumulator_class_accumulator.print_on_EOB
,accumulator_framework_accumulator_class_accumulator.print_on_EOP
,accumulator_framework_accumulator_class_accumulator.limit_contracted
,accumulator_framework_accumulator_class_accumulator.supplemental_max_extends_limit
,accumulator_framework_accumulator_class_accumulator.episode_category_id
,accumulator_framework_accumulator_class_accumulator.same_provider
,afac.accumulator_framework_id
,base_accum.accumulator_framework_accumulator_class_accumulator_id as base_accumulator_framework_accumulator_class_accumulator_id
,base_accum.accumulator_framework_accumulator_class_accumulator_ud as base_accumulator_framework_accumulator_class_accumulator_ud
,episode_category.episode_category_ud
,accumulator_framework_accumulator_class_accumulator.episode_type_id
,episode_type.episode_type_ud
--Get Accumulator Class Data Type
,accumulator_class.accumulator_class_id
,accumulator_framework_accumulator_class_accumulator.modified_date


FROM accumulator_framework_accumulator_class_accumulator
inner join accumulator  ON accumulator.accumulator_id = accumulator_framework_accumulator_class_accumulator.accumulator_id
left join accumulator_framework_accumulator_class afac	on afac.accumulator_framework_accumulator_class_id = accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_id
left join accumulator_class on accumulator_class.accumulator_class_id = afac.accumulator_class_id
left join episode_category on accumulator_framework_accumulator_class_accumulator.episode_category_id = episode_category.episode_category_id
left join episode_type on accumulator_framework_accumulator_class_accumulator.episode_type_id = episode_type.episode_type_id
left join accumulator_framework_accumulator_class_accumulator base_accum
on accumulator_framework_accumulator_class_accumulator.base_accumulator_framework_accumulator_class_accumulator_id =
base_accum.accumulator_framework_accumulator_class_accumulator_id
WHERE accumulator_framework_accumulator_class_accumulator.accumulator_framework_accumulator_class_accumulator_id = @accumulator_framework_accumulator_class_accumulator_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
