USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_bank_account_load_by_accounting_company]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/29/2005	Nghi Nguyen	1.0		create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_bank_account_load_by_accounting_company]
(
@accounting_company_id			INT = NULL
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bank_account_id
,bank_account_ud
FROM bank_account
where accounting_company_id=@accounting_company_id

ORDER BY bank_account_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
