USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_queue_criteria_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
09/08/2011 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/08/2011	Chad Maddox	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from grdCriteria on frmAutoTerminationQueue.
--
REQUIREMENTS:
--
INPUTS:
@auto_termination_queue_criteria_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_auto_termination_queue_criteria_delete]
(
@auto_termination_queue_queue_criteria_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM auto_termination_queue_queue_criteria WHERE auto_termination_queue_queue_criteria_id = @auto_termination_queue_queue_criteria_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM auto_termination_queue_queue_criteria
WHERE auto_termination_queue_queue_criteria_id = @auto_termination_queue_queue_criteria_id
END
--
RETURN @SP_SUCCESS
--
GO
