USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_claim_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 11/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/05/2005	HiepNguyen	1.0		Created
01/04/2006	HuyThan		1.1		Modified
11/22/2006	Hiep Nguyen	1.2		Modified
03/12/2007	Hiep Nguyen	1.3		Added @claim_form_type_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load details data for claim history form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_claim_history_claim_detail_load]
(
@claim_id	int = null,
@claim_form_type_id int = NULL
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@claim_form_type  nvarchar(100)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1

SELECT @claim_form_type = cft.golden_key
FROM claim_form_type cft
WHERE cft.claim_form_type_id = @claim_form_type_id

IF @claim_form_type <> 'PROFESSIONAL'
BEGIN

SELECT DISTINCT
c.claim_id
, fembcpbp.family_eligibility_member_benefit_plan_id as patient_id
, m.member_id
, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, NULL) AS patient_name
, CASE WHEN cgn.client_group_ud IS NOT NULL THEN
CASE WHEN cn.client_ud IS NOT NULL THEN
ISNULL(CONVERT(NVARCHAR, cn.client_ud), '') + ' / ' + ISNULL(cgn.client_group_ud, '')
ELSE
cgn.client_group_ud
END

ELSE
cn.client_ud
END
AS group_client_ud
, bp.benefit_plan_id
, bp.benefit_plan_ud
, bc.benefit_contract_id
, bc.benefit_contract_ud
, NULL as referring_provider_ud
, NULL as referring_provider_id
, pn.provider_id
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, NULL) AS provider_name
, r.referral_id
, r.referral_ud as prior_authorization_number
, po.practice_office_id
, po.practice_office_ud
, episode.episode_id
, episode.episode_ud
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'DEDUCTIBLE'), 0) as total_deduct
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'NETPAYAMOUNT'), 0) as total_paid
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'MEMBERRESPONSIBILITY'), 0) as total_member_resp
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'BILLED'), 0) as total_billed
, c.created_date as entered_date
, adjudication_status.adjudication_status_ud
, claim_form_type.claim_form_type_ud

FROM claim c
LEFT JOIN family_eligibility_member_benefit_plan fembcpbp ON fembcpbp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem on fem.family_eligibility_member_id = fembcpbp.family_eligibility_member_id
LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id
LEFT JOIN member m ON m.member_id = fem.member_id
LEFT JOIN member_name mn ON mn.member_id = m.member_id AND mn.is_primary = 1
LEFT JOIN relationship_to_insured rti ON rti.relationship_to_insured_id = fem.relationship_to_insured_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = fe.benefit_contract_id

LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN client_group_name cgn ON cgn.client_group_id = cg.client_group_id AND cgn.primary_name = 1

LEFT JOIN client cl ON cl.client_id = cg.client_id
LEFT JOIN client_name cn ON cn.client_id = cl.client_id AND cn.primary_name = 1

LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = fembcpbp.benefit_plan_id
LEFT JOIN referral r ON r.referral_id = c.referral_id
LEFT JOIN provider p ON p.provider_id = c.provider_id
LEFT JOIN provider_name pn ON p.provider_id = pn.provider_id and pn.is_primary = 1
LEFT JOIN practice_office po ON po.practice_office_id = c.practice_office_id
LEFT JOIN episode ON episode.episode_id = c.episode_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = c.adjudication_status_id
INNER JOIN claim_form_type ON claim_form_type.claim_form_type_id = c.claim_form_type_id

WHERE c.claim_id = @claim_id

END
ELSE
BEGIN

SELECT DISTINCT
c.claim_id
, fembcpbp.family_eligibility_member_benefit_plan_id as patient_id
, m.member_id
, dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, NULL) AS patient_name
, CASE WHEN cgn.client_group_ud IS NOT NULL THEN
CASE WHEN cn.client_ud IS NOT NULL THEN
ISNULL(CONVERT(NVARCHAR, cn.client_ud), '') + ' / ' + ISNULL(cgn.client_group_ud, '')
ELSE
cgn.client_group_ud
END
ELSE
cn.client_ud
END
AS group_client_ud
--         , ISNULL(cgn.client_group_ud, '') + ' ' + ISNULL(CONVERT(NVARCHAR, cn.client_ud), '') as group_client_ud
, bp.benefit_plan_id
, bp.benefit_plan_ud
, bc.benefit_contract_id
, bc.benefit_contract_ud
, referring_provider.provider_ud as referring_provider_ud
, referring_provider.provider_identifier_id as referring_provider_id
, pn.provider_id
, dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, NULL) AS provider_name
, r.referral_id
, r.referral_ud as prior_authorization_number
, po.practice_office_id
, po.practice_office_ud
, episode.episode_id
, episode.episode_ud
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'DEDUCTIBLE'), 0) as total_deduct
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'NETPAYAMOUNT'), 0) as total_paid
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'MEMBERRESPONSIBILITY'), 0) as total_member_resp
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'BILLED'), 0) as total_billed
, c.created_date as entered_date
, adjudication_status.adjudication_status_ud
, claim_form_type.claim_form_type_ud

FROM claim c
INNER JOIN professional_claim pc ON pc.claim_id = c.claim_id
LEFT JOIN provider_identifier referring_provider ON referring_provider.provider_identifier_id = pc.referring_provider_identifier_id
LEFT JOIN family_eligibility_member_benefit_plan fembcpbp ON fembcpbp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem on fem.family_eligibility_member_id = fembcpbp.family_eligibility_member_id
LEFT JOIN family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id
LEFT JOIN member m ON m.member_id = fem.member_id
LEFT JOIN member_name mn ON mn.member_id = m.member_id AND mn.is_primary = 1
LEFT JOIN relationship_to_insured rti ON rti.relationship_to_insured_id = fem.relationship_to_insured_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = fe.benefit_contract_id

LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN client cl ON cl.client_id = cg.client_id
LEFT JOIN client_group_name cgn ON cgn.client_group_id = cg.client_group_id AND cgn.primary_name = 1
LEFT JOIN client_name cn ON cn.client_id = cl.client_id AND cn.primary_name = 1

LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = fembcpbp.benefit_plan_id
LEFT JOIN referral r ON r.referral_id = c.referral_id
LEFT JOIN provider p ON p.provider_id = c.provider_id
LEFT JOIN provider_name pn ON p.provider_id = pn.provider_id and pn.is_primary = 1
LEFT JOIN practice_office po ON po.practice_office_id = c.practice_office_id
LEFT JOIN episode ON episode.episode_id = c.episode_id
LEFT JOIN adjudication_status ON adjudication_status.adjudication_status_id = c.adjudication_status_id
INNER JOIN claim_form_type ON claim_form_type.claim_form_type_id = c.claim_form_type_id


WHERE c.claim_id = @claim_id

END

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
