USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_panel_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Tinh Do
Date: 10/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/18/2005	Tinh Do		Create		15656 - Eligibility Func Spec
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to save data for panel "pnlBenefitPlan"
on Family Eligibility form.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_panel_save]
(
@benefit_contract_period_benefit_plan_id int = null,
@family_eligibility_id INT = NULL,
@object_row_version	binary(8) = NULL OUT
)
AS
--
--
SET NOCOUNT ON
--
DECLARE @ErrorVar int, @RowCountVar int

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50),
@SP_ERROR_RECORD_LOCKED      INT,
@SP_ERROR_NOT_EXIST	        INT

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '',
@ERROR_CANT_UPDATE 	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST',
@SP_ERROR_RECORD_LOCKED      = 2,
@SP_ERROR_NOT_EXIST	       = 3

IF @family_eligibility_id IS NOT NULL
BEGIN
DECLARE @row_version_check_result INT
exec @row_version_check_result = dbo.plx_family_eligibility_check_and_rev_row_version @family_eligibility_id, @object_row_version
IF @row_version_check_result <> 0
BEGIN
IF @row_version_check_result = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @row_version_check_result = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @row_version_check_result = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_DOES_NOT_EXIST)
END

UPDATE family_eligibility
SET
modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE family_eligibility_id	= @family_eligibility_id
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
SELECT @object_row_version = object_row_version FROM family_eligibility WHERE family_eligibility_id = @family_eligibility_id
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END

RETURN @SP_SUCCESS
--
GO
