USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_valid_eligibility_days_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/01/2007				1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load Valid_eligibility_rule (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_valid_eligibility_days_rule_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
valid_eligibility_days_rule_id
,valid_eligibility_days_rule_ud
,golden_key

FROM valid_eligibility_days_rule
ORDER BY valid_eligibility_days_rule_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
