USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_capitation_group_provider_entity_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 08/03/2009
--
REVISION_HISTORY:
--
Date             Modified By      Version       Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down capitation_group_provider_entity_type
--
REQUIREMENTS:
--
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_capitation_group_provider_entity_type_load]


AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cgpet.capitation_group_provider_entity_type_id
,cgpet.capitation_group_provider_entity_type_ud
,cgpet.golden_key

FROM dbo.capitation_group_provider_entity_type cgpet

ORDER BY capitation_group_provider_entity_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
