USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_duplicate_claim_rule_main_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 12/28/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/28/2007	Vishwa Jella	1.0		Created
01/18/2008	Vishwa Jella	1.1		Updated with claim_form_type_ud to display as a caption on main form
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data onto parent panel for frmClaimDuplicateRules form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_duplicate_claim_rule_main_load]
(
@claim_form_type_id 		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

select 	duplicate_claim_rule.duplicate_claim_rule_id
,duplicate_claim_rule.claim_form_type_id
,claim_form_type.claim_form_type_ud
,claim_form_type.golden_key

FROM duplicate_claim_rule
left join claim_form_type  ON claim_form_type.claim_form_type_id = duplicate_claim_rule.claim_form_type_id
WHERE  (duplicate_claim_rule.claim_form_type_id = @claim_form_type_id)
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
