USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_assignment_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version				Description
--------------------------------------------------------------------------------
02/06/2012			dcannon				1.0					Created
--
DESCRIPTION:
Loads for Claim Processing Rule Framwework Assignments grid
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_assignment_load]
(
@claim_processing_rule_framework_id		int = null
,@client_group_id						int = null
,@line_of_business_id					int = null
,@payment_contract_id					int = null
,@effective_from 						datetime = null
,@effective_thru 						datetime = null
,@show_only_current						bit = NULL
)
AS
--
--
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

DECLARE @strSQL nvarchar(4000)


SET @strSQL =
'SELECT
cprfa.claim_processing_rule_framework_assignment_id

,cprfa.claim_processing_rule_framework_id
,cprf.claim_processing_rule_framework_ud

,cprfa.client_group_id
,cgn.client_group_ud

,cprfa.line_of_business_id
,lob.line_of_business_ud

,cprfa.payment_contract_id
,pc.payment_contract_ud

,cprfa.effective_from
,cprfa.effective_thru
FROM claim_processing_rule_framework_assignment cprfa
LEFT JOIN claim_processing_rule_framework cprf ON cprfa.claim_processing_rule_framework_id = cprf.claim_processing_rule_framework_id
LEFT JOIN client_group cg ON cprfa.client_group_id = cg.client_group_id
LEFT JOIN client_group_name cgn ON cprfa.client_group_id = cgn.client_group_id
LEFT JOIN line_of_business lob ON cprfa.line_of_business_id = lob.line_of_business_id
LEFT JOIN payment_contract pc ON cprfa.payment_contract_id = pc.payment_contract_id
WHERE 1= 1
'
--@claim_processing_rule_framework_id
IF (@claim_processing_rule_framework_id IS NOT NULL AND @claim_processing_rule_framework_id > 0)
SET @strSQL = @strSQL + ' AND cprfa.claim_processing_rule_framework_id = ' + CONVERT(varchar(10), @claim_processing_rule_framework_id)

--@client_group_id
IF( @client_group_id IS NOT NULL AND @client_group_id>0)
BEGIN
SET @strSQL = @strSQL + ' AND cprfa.client_group_id = ' +  CONVERT (varchar(10), @client_group_id)
END

--@line_of_business_id
IF( @line_of_business_id IS NOT NULL AND @line_of_business_id>0)
BEGIN
SET @strSQL = @strSQL + ' AND cprfa.line_of_business_id =  ' +  CONVERT (varchar(10), @line_of_business_id)
END

--@payment_contract_id
IF( @payment_contract_id IS NOT NULL AND @payment_contract_id>0)
BEGIN
SET @strSQL = @strSQL + ' AND cprfa.payment_contract_id = ' +  CONVERT (varchar(10), @payment_contract_id)
END

--@effective_from
IF( @effective_from IS NOT NULL)
BEGIN
SET @strSQL = @strSQL + ' AND DATEDIFF(day, cprfa.effective_from, ''' + CONVERT(nvarchar, @effective_from, 101) + ''') <= 0 '
END

--@effective_thru
IF( @effective_thru IS NOT NULL)
BEGIN
SET @strSQL = @strSQL + ' AND DATEDIFF(day, cprfa.effective_thru, ''' + CONVERT(nvarchar, @effective_thru, 101) + ''') >= 0 '
END


IF (NOT @show_only_current IS NULL) AND (@show_only_current = 1)
BEGIN
SET @strSQL = @strSQL + ' and (DATEDIFF(day, GETDATE(), cprfa.effective_from) <= 0 OR cprfa.effective_from IS NULL)
and (DATEDIFF(day, GETDATE(), cprfa.effective_thru) >= 0 OR cprfa.effective_thru IS NULL)
'
END

SET @strSQL = @strSQL + 'ORDER BY CASE WHEN cprfa.effective_from IS NULL THEN 0 ELSE 1 END ASC, cprfa.effective_from DESC,
CASE WHEN cprfa.effective_thru IS NULL THEN 0 ELSE 1 END ASC, cprfa.effective_thru DESC,
lob.line_of_business_ud'

print @strSQL
EXECUTE  sp_executesql @strSQL

RETURN @SP_SUCCESS
--
GO
