USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_source_ap_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Form: Find AP Transaction form
Loads Accounting Sources for AP Transactions only.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_source_ap_load]
AS
SELECT
accounting_source.accounting_source_id
,accounting_source.accounting_source_ud
,accounting_source.golden_key
FROM accounting_source
WHERE golden_key IN
(
'Capitation',
'CLIENT_FEES',
'Claims',
'MANUAL_CAPITATION',
'Manual Transaction',
'PAYMENT_PENALTY',
'PREMIUM_FEE_AP'
)
ORDER BY accounting_source_ud;

RETURN 0
GO
