USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claims_viewer_missing_info_claim_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
REVISION HISTORY:
8/1/2017 dcannon RT:12127 repalced Sum functions with calls to plx_fn_claim_amount
to sum billed charges and total net payment
7/1/2019 cknobloch RT:13591 load the information needed by the UI in order to clear the claim.
10/08/2024 cknobloch RT:25080 exclude closed claims
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to load all claims with missing information statuses

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
plx_load_claims_from_queue
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_claims_viewer_missing_info_claim_load]
AS
BEGIN
DECLARE
@CLOSED_ADJUDICATION_STATUS_ID INT
,@MISSING_PATIENT_STATUS_ID INT
,@MISSING_VENDOR_STATUS_ID INT
,@MISSING_PROVIDER_STATUS_ID INT
,@MISSING_FACILITY_STATUS_ID INT
,@MISSING_INFO_STATUS_ID INT

SELECT @CLOSED_ADJUDICATION_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'CLOSED'

SELECT @MISSING_PATIENT_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'MISSING_PATIENT'

SELECT @MISSING_VENDOR_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'MISSING_VENDOR'

SELECT @MISSING_PROVIDER_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'MISSING_PROVIDER'

SELECT @MISSING_FACILITY_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'MISSING_FACILITY'

SELECT @MISSING_INFO_STATUS_ID = adjudication_status_id
FROM adjudication_status
WHERE golden_key = 'MISSING_INFO'

DECLARE @missingPatientResultCodeId BIGINT = (
SELECT result_code_id
FROM result_code rc
WHERE rc.golden_key = 'MISSING_INFO_NO_PATIENT'
)
DECLARE @missingProviderResultCodeId BIGINT = (
SELECT result_code_id
FROM result_code rc
WHERE rc.golden_key = 'MISSING_INFO_NO_PROVIDER'
)
DECLARE @missingFacilityResultCodeId BIGINT = (
SELECT result_code_id
FROM result_code rc
WHERE rc.golden_key = 'MISSING_INFO_NO_PRACTICE_OFFICE'
)
DECLARE @missingVendorResultCodeId BIGINT = (
SELECT result_code_id
FROM result_code rc
WHERE rc.golden_key = 'MISSING_INFO_NO_VENDOR'
)
DECLARE @missingRenderingProviderResultCodeId BIGINT = (
SELECT result_code_id
FROM result_code rc
WHERE rc.golden_key = 'MISSING_INFO_NO_RENDERING_PROVIDER'
)

SELECT DISTINCT c.claim_id
,c.claim_ud
,c.received_date
,cft.claim_form_type_ud
,cft.golden_key AS claim_form_type_gk
,v.vendor_ud
,fembp.member_eligibility_ud
,pid.provider_ud
,ISNULL(adjs.golden_key, '') AS adjudication_status_gk
,CASE
WHEN adjs.adjudication_status_id IN (
@MISSING_PATIENT_STATUS_ID
,@MISSING_PROVIDER_STATUS_ID
,@MISSING_VENDOR_STATUS_ID
,@MISSING_FACILITY_STATUS_ID
)
THEN
adjs.adjudication_status_ud
ELSE [dbo].[plx_fn_prioritized_missing_info_text](c.claim_id)
END AS adjudication_status_ud
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'BILLED'), 0) AS total_billed_charges
, ISNULL(dbo.plx_fn_claim_amount(c.claim_id, 'NETPAYAMOUNT'), 0) AS total_net_payment
, ISNULL(paystat.golden_key, '') AS process_status_gk
FROM claim c
LEFT JOIN claim_procedure cp
ON cp.claim_id = c.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
LEFT JOIN provider_identifier pid
ON pid.provider_identifier_id = c.billing_provider_identifier_id
LEFT JOIN adjudication_status adjs
ON adjs.adjudication_status_id = c.adjudication_status_id
LEFT JOIN claim_form_type cft
ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v
ON v.vendor_id = c.vendor_id
LEFT JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN client_group cg
ON cg.client_group_id = bc.client_group_id
LEFT JOIN adjudication_result_amount ara
ON ara.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run_claim_procedure arcp
ON arcp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run ar
ON ar.adjudication_run_id = arcp.adjudication_run_id
LEFT JOIN adjudication_result_code arc
ON arc.claim_id = cp.claim_id
LEFT JOIN claim_payment_process_status paystat
ON c.claim_payment_process_status_id = paystat.claim_payment_process_status_id
WHERE c.adjudication_status_id != @CLOSED_ADJUDICATION_STATUS_ID
AND (
c.adjudication_status_id IN (
isnull(@MISSING_PATIENT_STATUS_ID, 0)
,isnull(@MISSING_VENDOR_STATUS_ID, 0)
,isnull(@MISSING_PROVIDER_STATUS_ID, 0)
,isnull(@MISSING_FACILITY_STATUS_ID, 0)
,isnull(@MISSING_INFO_STATUS_ID, 0)
)
OR (
arc.result_code_id IN (
@missingPatientResultCodeId
,@missingProviderResultCodeId
,@missingVendorResultCodeId
,@missingFacilityResultCodeId
,@missingRenderingProviderResultCodeId
)
))
GROUP BY c.claim_id
,c.claim_ud
,c.received_date
,cft.claim_form_type_ud
,cft.golden_key
,v.vendor_ud
,fembp.member_eligibility_ud
,pid.provider_ud
,adjs.adjudication_status_ud
,adjs.adjudication_status_id
,adjs.golden_key
,paystat.golden_key
ORDER BY c.received_date
,c.claim_ud
END
GO
