USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_user_assigned_result_code_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Sep 11 2005  3:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy  Ha			created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the benefit_plan_user_assigned_result_code table.
This stored procedure is used in the User Assigned Result Codes grid of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_user_assigned_result_code_save]
(
@benefit_plan_user_assigned_result_code_id	int = NULL OUTPUT
,@benefit_plan_id                            int = NULL
,@criteria_id                                int = NULL
,@result_code_id                             int = NULL
,@result_code_status_id        		         int = NULL
,@comment                                    nvarchar(1000) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF ISNULL(@benefit_plan_user_assigned_result_code_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO benefit_plan_user_assigned_result_code(
benefit_plan_id
,criteria_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_plan_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_plan_user_assigned_result_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_user_assigned_result_code WHERE benefit_plan_user_assigned_result_code_id = @benefit_plan_user_assigned_result_code_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_plan_user_assigned_result_code
SET
benefit_plan_id                          = @benefit_plan_id
,criteria_id                              = @criteria_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,comment                                  = @comment
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_user_assigned_result_code_id = @benefit_plan_user_assigned_result_code_id
END
--
RETURN @SP_SUCCESS
--
GO
