USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_commission_depreciation_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tvngo
Aug  4 2006 11:10AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
4/8/2006     ThuyNgo    1.0         Created

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the commission_depreciation table.
--
REQUIREMENTS:
--
INPUTS:
@commission_depreciation_id - Key to commission_depreciation table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_commission_depreciation_delete]
(
@commission_depreciation_id                 int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = '77439e31-b142-4680-9a67-c3ea0e34750b'
--
IF NOT EXISTS (SELECT * FROM commission_depreciation WHERE commission_depreciation_id = @commission_depreciation_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM commission_depreciation
WHERE commission_depreciation_id = @commission_depreciation_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
GO
