USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_premium_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/11/2009	David Slayton	1.1			Added header, added premium_run_status column and
billing_type column, added parameters.
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.3		Added returnset limitations
07/12/2016	eponomareff		1.4		RT:10282 Modified family_eligibility search to select for single premium run
for that enrollment, if specified. NOTE - group find is as before, searching
on a specific enrollment (@family_eligibility_id) will not guarantee premiums
for that enrollment appear in the premium_runs found.
06/28/2017	eponomareff		1.5		RT:11073 Set Isolation Level to READ UNCOMMITTED to prevent UI freeze up during
long premium runs.

CURRENT_VERSION: 1.5
--
DESCRIPTION: Load records mathing find criteria grid for frmFindPremiumRun

--
REQUIREMENTS:
--
INPUTS:
@premium_run_ud
@benefit_contract_id
@billing_type_id
@run_date
@group_id
@client_group_id
@benefit_plan_id
@end_of_review
@family_eligibility_id
@premium_run_status_id

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_find_premium_run_load]
(
@get_column_headers		BIT = 0
, @premium_run_ud			NVARCHAR(50) = NULL
, @benefit_contract_id		INT  = NULL
, @billing_type_id			INT  = NULL
, @run_date					DATETIME  = NULL
, @client_id				INT  = NULL
, @client_group_id			INT  = NULL
, @benefit_plan_id			INT  = NULL
, @end_of_review			DATETIME  = NULL
, @family_eligibility_id	INT  = NULL
, @premium_run_status_id	INT  = NULL
, @show_exact_matches		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@SqlGroupBy	NVARCHAR(1000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF @premium_run_ud IS NOT NULL AND @premium_run_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(pr.premium_run_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@premium_run_ud, @show_exact_matches) + @Suffix

IF @benefit_contract_id IS NOT NULL AND @benefit_contract_id > 0
SET @SqlCondition = @SqlCondition + ' AND bc.benefit_contract_id ='  + CONVERT(NVARCHAR, @benefit_contract_id)

IF @billing_type_id IS NOT NULL AND @billing_type_id > 0
SET @SqlCondition = @SqlCondition + ' AND ps.billing_type_id ='  + CONVERT(NVARCHAR, @billing_type_id)

IF @run_date IS NOT NULL AND @run_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( pr.run_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @run_date,101) + ''', 101))'

IF @client_id IS NOT NULL AND @client_id > 0
SET @SqlCondition = @SqlCondition + ' AND cg.client_id ='  + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL AND @client_group_id > 0
SET @SqlCondition = @SqlCondition + ' AND bc.client_group_id ='  + CONVERT(NVARCHAR, @client_group_id)

IF @benefit_plan_id IS NOT NULL AND @benefit_plan_id > 0
SET @SqlCondition = @SqlCondition + ' AND bcpbp.benefit_plan_id ='  + CONVERT(NVARCHAR, @benefit_plan_id)

IF @end_of_review IS NOT NULL AND @end_of_review <> ''
SET @SqlCondition = @SqlCondition + ' AND ( pr.end_of_review >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @end_of_review,101) + ''', 101))'

-- RT:10282 - modified to support both Premium Policy = GROUP (where pr.family_eligibility_id is null)
--            and Premium Policy = INDIVIDUAL (where pr.family_eligibility_id is populated, and each enrollment has its own premium_run)
--            NOTE - in either case, @benefit_contract_id will be populated if @family_eligibility_id is populated.
IF @family_eligibility_id IS NOT NULL AND @family_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND (p.family_eligibility_id ='  + CONVERT(NVARCHAR, @family_eligibility_id) + ')'

IF @premium_run_status_id IS NOT NULL AND @premium_run_status_id > 0
SET @SqlCondition = @SqlCondition + ' AND pr.premium_run_status_id ='  + CONVERT(NVARCHAR, @premium_run_status_id)

SET @SqlQuery =
'	SELECT	 TOP (dbo.fn_results_limit())
pr.premium_run_id,
pr.premium_run_ud,
prs.premium_run_status_ud,
pr.benefit_contract_id,
bc.benefit_contract_ud,
bt.billing_type_ud,
pr.run_date,
pr.end_of_review,
pr.do_not_release
FROM	dbo.premium_run AS pr
LEFT JOIN dbo.benefit_contract AS bc
ON pr.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN dbo.client_group AS cg
ON bc.client_group_id = cg.client_group_id
LEFT JOIN dbo.premium_setup AS ps
ON bc.premium_setup_id = ps.premium_setup_id
LEFT JOIN dbo.benefit_contract_period AS bcp
ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN dbo.benefit_contract_period_benefit_plan AS bcpbp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN dbo.billing_type AS bt
ON ps.billing_type_id = bt.billing_type_id
LEFT JOIN dbo.premium_run_status AS prs
ON prs.premium_run_status_id = pr.premium_run_status_id
LEFT JOIN dbo.premium AS p
ON p.premium_run_id = pr.premium_run_id
'

SET @SqlGroupBy =
'
group by
pr.premium_run_id,
pr.premium_run_ud,
prs.premium_run_status_ud,
pr.benefit_contract_id,
bc.benefit_contract_ud,
bt.billing_type_ud,
pr.run_date,
pr.end_of_review,
pr.do_not_release
'

-- PRINT @SqlQuery + @SqlCondition + @SqlGroupBy + ' ORDER BY pr.run_date'

-- RT:11073 - Run in transaction with low isolation level, so Find Premium Run form does not freeze
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
BEGIN TRANSACTION;
EXEC (@SqlQuery + @SqlCondition + @SqlGroupBy + ' ORDER BY pr.run_date');
COMMIT TRANSACTION;

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
