USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_batch_detail_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron Mortensen
Date: 04/03/2012
--
REVISION_HISTORY:
--
Date        Modified By		Version		Description
--------------------------------------------------------------------------------
04/03/2012  A.Mortensen		1.0			Created
04/10/2012  CKnobloch 		1.1			Update to return payment_date_and_time

CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load Customer Payment Batch form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_batch_detail_load]
(
@accounting_transaction_ar_payment_batch_id INT = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
ata.accounting_transaction_ar_id,
ata.accounting_transaction_ar_ud,
ata.accounting_transaction_ar_type_id,
ISNULL(ata.transaction_amount,0) AS amount,
ISNULL(dbo.plx_fn_get_unapplied_amount_for_customer_payment(ata.accounting_transaction_ar_id),0)AS unapplied_amount,
ata.customer_id,
customer.customer_ud,
customer.customer_nm,
ata.accounting_company_id,
ac.accounting_company_ud,
atapd.accounting_transaction_ar_payment_detail_id,
atapd.payment_method_customer_id,
pmc.payment_method_customer_ud,
atapd.bank_account_id,
ba.bank_account_ud,
atapd.ar_accounting_company_account_id AS accounting_company_account_id,
aca.accounting_company_account_ud,
atapd.check_ach_reference,
atapd.payment_date,
atapd.memo AS comment,
dbo.plx_fn_get_open_balance_for_customer(ata.customer_id) AS customer_open_balance,
atapd.accounting_payment_status_id ,
aps.accounting_payment_status_ud,
atapd.accounting_transaction_ar_payment_batch_id,
atapd.created_date AS payment_entry_date_and_time,
atapd.created_user_name

FROM accounting_transaction_ar ata
INNER JOIN accounting_transaction_ar_payment_detail atapd
ON ata.accounting_transaction_ar_id = atapd.accounting_transaction_ar_id
LEFT JOIN customer
ON ata.customer_id = customer.customer_id
LEFT JOIN payment_method_customer pmc
ON atapd.payment_method_customer_id = pmc.payment_method_customer_id
LEFT JOIN bank_account ba
ON atapd.bank_account_id = ba.bank_account_id
LEFT JOIN accounting_company ac
ON ata.accounting_company_id = ac.accounting_company_id
LEFT JOIN accounting_company_account aca
ON aca.accounting_company_account_id = atapd.ar_accounting_company_account_id
LEFT JOIN accounting_payment_status aps
ON atapd.accounting_payment_status_id = aps.accounting_payment_status_id

WHERE (atapd.accounting_transaction_ar_payment_batch_id = @accounting_transaction_ar_payment_batch_id)


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
