USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By      Version Description
--------------------------------------------------------------------------------
03/10/2009	Wade Christensen 1.0     Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

04/21/2016	eponomareff		2.0		RT:10092 Forms were saving to the distribution table
in the wrong direction. See ACCOUNTING RULES below.

--------------------------------------------------------------------------------
CURRENT_VERSION: 2.0
--
DESCRIPTION:

Form: Accounting Transaction AR form

This procedure is used to update data in the the Accounting Transaction AR
form, which deals with the A/R field (not the Revenue grid).

So, the relevant Accounting Rules below are (1) and (3).

RT:10092
ACCOUNTING RULES:
(1) Main Form - A/R field: a CHARGE tx will debit a debit account (i.e., Accounts Receivable account field on main form)
(2) Revenue Grid: a CHARGE tx will credit a credit account (i.e., Income account in the Revenue grid)
(3) Main Form - A/R field: a CREDIT tx will credit the debit account (A/R field on main form)
(4) Revenue Grid: a CREDIT tx will debit the credit account (Income account on the Revenue grid)

Note: These rules are consistent with initial specs in ICU 19700 (2009).
See also: http://accounting-simplified.com/accounting-for-receivables.html
--
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_save]
(
@accounting_transaction_id                   int = NULL   OUTPUT
,@accounting_transaction_ud                   NVARCHAR(100) = NULL
,@accounting_transaction_type_id			  int = NULL
,@transaction_date                            datetime = NULL
,@transaction_amount                          numeric(20,10) = NULL

,@accounting_transaction_status_id            int = NULL
,@accounting_source_id                        int = NULL
,@treat_as_accounting_source_id               int = NULL
,@accounting_source_record_id				  int = NULL
,@benefit_contract_id						  int = NULL

,@customer_id                                 int = NULL
,@accounting_company_id                       int = NULL
,@accounting_company_account_id				  int = NULL

,@active                                      bit = 1

) AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION 	= -1

DECLARE	@TYPE Varchar(50)

SELECT @TYPE = golden_key FROM accounting_transaction_ar_type WHERE accounting_transaction_ar_type_id = @accounting_transaction_type_id

IF ISNULL(@accounting_transaction_id, 0) = 0
BEGIN
--insert new
INSERT INTO accounting_transaction_ar(
accounting_transaction_ar_ud
,accounting_transaction_ar_type_id
,transaction_date
,transaction_amount
,accounting_transaction_status_id
,accounting_source_id
,treat_as_accounting_source_id
,accounting_source_record_id
,customer_id
,accounting_company_id
,benefit_contract_id
,active
)
VALUES
(@accounting_transaction_ud
,@accounting_transaction_type_id
,@transaction_date
,ABS(@transaction_amount)
,@accounting_transaction_status_id
,@accounting_source_id
,@treat_as_accounting_source_id
,@accounting_source_record_id
,@customer_id
,@accounting_company_id
,@benefit_contract_id
,@active
)

SET @accounting_transaction_id = @@IDENTITY

INSERT INTO accounting_transaction_ar_distribution
(
accounting_transaction_ar_id
,accounting_company_account_id
,is_debit
,amount
,active
)
VALUES
(@accounting_transaction_id
,@accounting_company_account_id
,CASE @TYPE
WHEN 'CHARGE'	THEN 1
WHEN 'CREDIT'	THEN 0
END
,ABS(@transaction_amount)
,@active
)

END
ELSE
BEGIN
UPDATE accounting_transaction_ar
SET
accounting_transaction_ar_ud		= @accounting_transaction_ud
,accounting_transaction_ar_type_id	= @accounting_transaction_type_id
,transaction_date					= @transaction_date
,transaction_amount					= @transaction_amount
,accounting_transaction_status_id	= @accounting_transaction_status_id
,accounting_source_id				= @accounting_source_id
,treat_as_accounting_source_id		= @treat_as_accounting_source_id
,accounting_source_record_id		= @accounting_source_record_id
,customer_id						= @customer_id
,benefit_contract_id				= @benefit_contract_id
,accounting_company_id				= @accounting_company_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
accounting_transaction_ar_id = @accounting_transaction_id

DECLARE @isDebit int
SELECT @isDebit = CASE @TYPE WHEN 'CHARGE' THEN 1 WHEN 'CREDIT' THEN 0 END

UPDATE accounting_transaction_ar_distribution
SET
accounting_company_account_id	= @accounting_company_account_id
,amount							= ABS(@transaction_amount)
,active							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
accounting_transaction_ar_id	= @accounting_transaction_id
and is_debit = @isDebit

IF @@ROWCOUNT = 0
BEGIN

-- No existing ar distribution so add a new distribution

INSERT INTO accounting_transaction_ar_distribution
(
accounting_transaction_ar_id
,accounting_company_account_id
,is_debit
,amount
,active
)
VALUES
(@accounting_transaction_id
,@accounting_company_account_id
,@isDebit
,ABS(@transaction_amount)
,@active
)
END

IF @@ERROR = 0 return @SP_SUCCESS
ELSE return @SP_EXCEPTION
END


RETURN @SP_SUCCESS
GO
