USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_base_supplemental_rollover_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thanh Nguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
7/29/2005	Thanh Nguyen		1.0		Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'base_supplemental_rollover_rule' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE  PROCEDURE [dbo].[plx_dd_base_supplemental_rollover_rule_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
base_supplemental_rollover_rule_id
,base_supplemental_rollover_rule_ud
,golden_key

FROM base_supplemental_rollover_rule
ORDER BY base_supplemental_rollover_rule_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
END
GO
