USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_customer_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Casey B. Cessnun
7/9/2009 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
7/9/2009	CCESSNUN	1.1			Created
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the carrier_customer table.
This stored procedure is used in  Customer Assignments grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:
carrier_customer_id - Key to carrier_customer table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_carrier_customer_list_load]
(
@carrier_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
carrier_customer.carrier_customer_id

,carrier_customer.criteria_id
,criteria.criteria_ud

,carrier_customer.customer_id
,customer.customer_ud

,carrier_customer.customer_id

,carrier_customer.effective_from
,carrier_customer.effective_thru
FROM carrier_customer
LEFT JOIN criteria  ON carrier_customer.criteria_id = criteria.criteria_id
LEFT JOIN customer  ON carrier_customer.customer_id = customer.customer_id
WHERE carrier_customer.carrier_id = @carrier_id
--ThuyNguyen added to sort eff from, thr
ORDER BY CASE WHEN carrier_customer.effective_from IS NULL THEN 0 ELSE 1 END ASC, carrier_customer.effective_from DESC,
CASE WHEN carrier_customer.effective_thru IS NULL THEN 0 ELSE 1 END ASC, carrier_customer.effective_thru DESC

--
RETURN @SP_SUCCESS
GO
