USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_readjudication_queue_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   05/28/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/29/2011	cknobloch		1.1		added procedure_code_group_id, client_group_id
and family_eligibility_member_benefit_plan_id RT 1571
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for claim readjudication queue form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_readjudication_queue_save]
(
@claim_readjudication_queue_id              int = NULL   OUTPUT
,@claim_readjudication_queue_ud              nvarchar(50) = NULL
,@description                                nvarchar(255) = NULL

,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL

,@result_code_id							   int = NULL
,@result_code_set_id                         int = NULL
,@provider_network_id                        int = NULL
,@provider_identifier_id                     int = NULL

,@claim_form_type_id        				   int = NULL
,@fee_schedule_id                    	       int = NULL

,@claim_date_type_id                    	   int = NULL
,@date_type_from_date                    	   datetime = NULL
,@date_type_thru_date                    	   datetime = NULL

,@active                                     bit = NULL
,@product_id								   int = NULL
,@client_group_id							   int = NULL
,@procedure_code_group_id					   int = NULL
,@family_eligibility_member_benefit_plan_id  int = NULL
,@user_assigned_result_code_id			   int = null
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF @claim_readjudication_queue_id is Null
BEGIN

--- Create a new record
INSERT INTO claim_readjudication_queue(
claim_readjudication_queue_ud
,description
,effective_from
,effective_thru
,result_code_id
,result_code_set_id
,provider_network_id
,provider_identifier_id
,claim_form_type_id
,fee_schedule_id
,claim_date_type_id
,date_type_from_date
,date_type_thru_date
,product_id
,active
,client_group_id
,procedure_code_group_id
,family_eligibility_member_benefit_plan_id
,user_assigned_result_code_id
)
VALUES
(@claim_readjudication_queue_ud
,@description
,@effective_from
,@effective_thru
,@result_code_id
,@result_code_set_id
,@provider_network_id
,@provider_identifier_id
,@claim_form_type_id
,@fee_schedule_id
,@claim_date_type_id
,@date_type_from_date
,@date_type_thru_date
,@product_id
,@active
,@client_group_id
,@procedure_code_group_id
,@family_eligibility_member_benefit_plan_id
,@user_assigned_result_code_id
)
--
SET @claim_readjudication_queue_id = @@IDENTITY

END
ELSE IF NOT EXISTS (SELECT * FROM claim_readjudication_queue WHERE claim_readjudication_queue_id = @claim_readjudication_queue_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE claim_readjudication_queue
SET
claim_readjudication_queue_ud                = @claim_readjudication_queue_ud
,claim_readjudication_queue.description       = @description
,effective_from = @effective_from
,effective_thru = @effective_thru
,result_code_id = @result_code_id
,result_code_set_id = @result_code_set_id
,provider_network_id = @provider_network_id
,provider_identifier_id = @provider_identifier_id
,claim_form_type_id = @claim_form_type_id
,fee_schedule_id = @fee_schedule_id
,claim_date_type_id = @claim_date_type_id
,date_type_from_date = @date_type_from_date
,date_type_thru_date = @date_type_thru_date
,product_id = @product_id
,active                                    = @active
,client_group_id						      = @client_group_id
,procedure_code_group_id				      = @procedure_code_group_id
,family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
,user_assigned_result_code_id              = @user_assigned_result_code_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_readjudication_queue_id = @claim_readjudication_queue_id
END

--
RETURN @SP_SUCCESS
--
GO
