USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_bank_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_financial_bank_save] (
@financial_bank_id    INT           = NULL OUTPUT
,@financial_bank_ud    NVARCHAR(50)  = NULL
,@financial_bank_nm    NVARCHAR(100) = NULL
)
AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

IF @financial_bank_id IS NULL
BEGIN
INSERT INTO financial_bank (
financial_bank_ud
,financial_bank_nm
)
VALUES (
@financial_bank_ud
,@financial_bank_nm
);

SET @financial_bank_id = SCOPE_IDENTITY();
END
ELSE IF NOT EXISTS (SELECT 1 FROM financial_bank WHERE financial_bank_id = @financial_bank_id)
BEGIN
RETURN @SP_EXCEPTION;
END
ELSE
BEGIN
UPDATE financial_bank
SET
financial_bank_ud    = @financial_bank_ud
,financial_bank_nm    = @financial_bank_nm
,modified_date        = GETDATE()
,modified_user_name   = ORIGINAL_LOGIN()

WHERE financial_bank_id = @financial_bank_id;
END
RETURN @SP_SUCCESS;
GO
