USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_benefit_class_choice_resolution_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena
Date: 10/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/02/2007	Abhishek	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a single object from the benefit_contract_benefit_class_choice_resolution table.
This stored procedure is used in the Benefit Class Choice Resolution grid of the Benefit contract form

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_benefit_class_choice_resolution_save]
(
@benefit_contract_benefit_class_choice_resolution_id int = NULL  OUTPUT
,@benefit_contract_id                            int = NULL
,@benefit_coverage_rules_id					int = NULL
,@benefit_framework_valid_choice_id          int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '159840011',
@ERROR_NOT_EXIST	= '159840012',
@ERROR_CANT_UPDATE 	= '159840013',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@SP_EXCEPTION = -1
--
IF ISNULL(@benefit_contract_benefit_class_choice_resolution_id, 0) <= 0
BEGIN
--- Create a new record
INSERT INTO benefit_contract_benefit_class_choice_resolution(
benefit_contract_id
--,benefit_class_id
--,benefit_id
--,benefit_framework_choice_list_id
,benefit_coverage_rules_id
,benefit_framework_valid_choice_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_contract_id
,@benefit_coverage_rules_id
,@benefit_framework_valid_choice_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_contract_benefit_class_choice_resolution_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_benefit_class_choice_resolution WHERE benefit_contract_benefit_class_choice_resolution_id = @benefit_contract_benefit_class_choice_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


UPDATE benefit_contract_benefit_class_choice_resolution
SET
benefit_contract_id                    = @benefit_contract_id
,benefit_coverage_rules_id		= @benefit_coverage_rules_id
,benefit_framework_valid_choice_id      = @benefit_framework_valid_choice_id
,effective_from                         = @effective_from
,effective_thru                         = @effective_thru
,active                                 = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_benefit_class_choice_resolution_id = @benefit_contract_benefit_class_choice_resolution_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--

RETURN @SP_SUCCESS
--
GO
