USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_npi_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used for NPI combobox on Provider form, MIPS tab, both MIPS grids
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_provider_npi_load]
(
@provider_id INT = NULL
)
AS

BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
[pi].provider_identifier_id,
[pi].provider_ud
FROM dbo.provider_identifier [pi]
JOIN dbo.provider_identifier_type pit ON [pi].provider_identifier_type_id = pit.provider_identifier_type_id
WHERE [pi].provider_id = @provider_id
AND pit.golden_key = 'NPI'
ORDER BY [pi].provider_ud

END
GO
