USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Huy Than
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Procedure to load all criteria category

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_criteria_ui_category_load]

AS

SELECT
criteria_processing_category_id as criteria_category_id
,criteria_processing_category_ud as criteria_category_ud
,criteria_processing_category.golden_key
FROM criteria_processing_category
GO
