USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE CREATED: 07/31/2009
--
--
CURRENT_VERSION: 10
--
DESCRIPTION:
This procedure is used to load data for frmCapitationGroup
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_group_load]
(
@capitation_group_id AS INT = 0
)
AS
--
--
SET NOCOUNT ON
--

SELECT
cg.capitation_group_id,
cg.capitation_group_ud,
cg.description,
cgpet.capitation_group_provider_entity_type_id,
cgpet.capitation_group_provider_entity_type_ud,
cg.active,
cg.created_user_name,
cg.created_group_id,
cg.created_date,
cg.modified_date
FROM capitation_group cg
JOIN capitation_group_provider_entity_type cgpet ON
cg.capitation_group_provider_entity_type_id = cgpet.capitation_group_provider_entity_type_id
WHERE cg.capitation_group_id = isnull(@capitation_group_id, 0)

RETURN @@ROWCOUNT

--
GO
