USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_all_available_items_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNguyen
DATE: 10/31/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/31/2006	ThuyNguyen	1.0		Created
01/11/2010	Vishwa		2.0		filtering adjudication objects with items to
show only on configure procedure line details forms

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid Available Items in form Claim Line Config
--
REQUIREMENTS:
--
INPUTS:
adjudication_object_id - Key to adjudication_object table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_all_available_items_list_load]
(
@adjudication_object_type_id			int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
adjudication_object.adjudication_object_id
,adjudication_object.adjudication_object_ud
, cast(0 as int) as 'default_order'

FROM adjudication_object
WHERE adjudication_object.adjudication_object_type_id = @adjudication_object_type_id
AND is_visible_claim_result_item = 1
ORDER BY adjudication_object_ud
--
RETURN @SP_SUCCESS
GO
