USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_geo_factor_standard]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: C. Maddox
;
REVISION_HISTORY:

Date      Modified By  Version  Description
--------------------------------------------------------------------------------
2009/10/10  C. Maddox  1.0      Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure loads the UCR geographic factor tables

;
REQUIREMENTS:

The import table must be created in the same connection before calling this method:
-- Create the holding table

IF OBJECT_ID('#UcrGeographicFactorStandardImport') IS NOT NULL
DROP TABLE #UcrGeographicFactorStandardImport

CREATE TABLE #UcrGeographicFactorStandardImport (
GeographicZipArea char(3) NULL,
ConversionFactorID char(2) NULL,
ProcedureCodeRangeLower char(5) NULL,
ProcedureCodeRangeUpper char(5) NULL,
Percentile50th char(7) NULL,
Percentile60th char(7) NULL
Percentile70th char(7) NULL,
Percentile75th char(7) NULL,
Percentile80th char(7) NULL,
Percentile85th char(7) NULL,
Percentile90th char(7) NULL,
Percentile95th char(7) NULL,
)


;
INPUTS:

@ucr_module_id - The UCR module that this code belongs to
@ucr_region_id - The region for this code
@ucr_percentile_format_id - This could have been inferred, but only if the code data source ID was given.
@effective_date - The new effective date for the codes imported

;
OUTPUTS:

Rows updated and inserted
;
RETURN_VALUES:

0	Success
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_code_import_geo_factor_standard]
(
@ucr_module_id AS INT,
@ucr_region_id AS INT,
@ucr_percentile_format_id AS INT,
@effective_date As DATETIME
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1


DECLARE @import_start DATETIME
SET @import_start = getdate()

-- Insert the new codes
INSERT INTO ucr_geographic_factor
(
ucr_module_id,
ucr_region_id,
ucr_percentile_format_id,
geographic_zip_area,
conversion_factor_identifier,
beginning_procedurecode,
ending_procedurecode,
effective_from
)
SELECT
@ucr_module_id,
@ucr_region_id,
@ucr_percentile_format_id,
GeographicZipArea,
ConversionFactorID,
ProcedureCodeRangeLower,
ProcedureCodeRangeUpper,
@effective_date
FROM
#UcrGeographicFactorStandardImport







DECLARE	@Percentile25thID INT
DECLARE	@Percentile30thID INT
DECLARE	@Percentile35thID INT
DECLARE	@Percentile40thID INT
DECLARE	@Percentile45thID INT
DECLARE	@Percentile50thID INT
DECLARE	@Percentile55thID INT
DECLARE	@Percentile60thID INT
DECLARE	@Percentile65thID INT
DECLARE	@Percentile70thID INT
DECLARE	@Percentile75thID INT
DECLARE	@Percentile80thID INT
DECLARE	@Percentile85thID INT
DECLARE	@Percentile90thID INT
DECLARE	@Percentile95thID INT

SELECT	@Percentile25thID = ucr_percentile_id from ucr_percentile where golden_key = '25'
SELECT	@Percentile30thID = ucr_percentile_id from ucr_percentile where golden_key = '30'
SELECT	@Percentile35thID = ucr_percentile_id from ucr_percentile where golden_key = '35'
SELECT	@Percentile40thID = ucr_percentile_id from ucr_percentile where golden_key = '40'
SELECT	@Percentile45thID = ucr_percentile_id from ucr_percentile where golden_key = '45'
SELECT	@Percentile50thID = ucr_percentile_id from ucr_percentile where golden_key = '50'
SELECT	@Percentile55thID = ucr_percentile_id from ucr_percentile where golden_key = '55'
SELECT	@Percentile60thID = ucr_percentile_id from ucr_percentile where golden_key = '60'
SELECT	@Percentile65thID = ucr_percentile_id from ucr_percentile where golden_key = '65'
SELECT	@Percentile70thID = ucr_percentile_id from ucr_percentile where golden_key = '70'
SELECT	@Percentile75thID = ucr_percentile_id from ucr_percentile where golden_key = '75'
SELECT	@Percentile80thID = ucr_percentile_id from ucr_percentile where golden_key = '80'
SELECT	@Percentile85thID = ucr_percentile_id from ucr_percentile where golden_key = '85'
SELECT	@Percentile90thID = ucr_percentile_id from ucr_percentile where golden_key = '90'
SELECT	@Percentile95thID = ucr_percentile_id from ucr_percentile where golden_key = '95'

-- Add the percentiles

-- 50th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile50thID as ucr_percentile_id,
z.Percentile50th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile50th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start

-- 60th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile60thID as ucr_percentile_id,
z.Percentile60th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile60th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start


-- 70th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile70thID as ucr_percentile_id,
z.Percentile70th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile70th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start



-- 75th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile75thID as ucr_percentile_id,
z.Percentile75th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile75th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start



-- 80th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile80thID as ucr_percentile_id,
z.Percentile80th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile80th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start



-- 85th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile85thID as ucr_percentile_id,
z.Percentile85th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile85th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start



-- 90th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile90thID as ucr_percentile_id,
z.Percentile90th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile90th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start



-- 95th --
INSERT INTO ucr_geographic_factor_percentile
(
ucr_geographic_factor_id,
ucr_percentile_id,
percentile_value
)
select
ucr_geographic_factor_id,
@Percentile95thID as ucr_percentile_id,
z.Percentile95th
from ucr_geographic_factor u
JOIN
#UcrGeographicFactorStandardImport z
ON
z.Percentile95th IS NOT NULL
AND u.effective_thru IS NULL
AND u.ucr_module_id = @ucr_module_id
AND u.ucr_region_id = @ucr_region_id
AND u.ucr_percentile_format_id = @ucr_percentile_format_id
AND u.geographic_zip_area =z.GeographicZipArea
AND u.conversion_factor_identifier = z.ConversionFactorID
AND u.beginning_procedurecode = z.ProcedureCodeRangeLower
AND u.ending_procedurecode = z.ProcedureCodeRangeUpper
AND u.effective_from = @effective_date
AND u.created_date >= @import_start


RETURN @SP_SUCCESS
GO
