USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_identifier_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_identifier_delete]
(
@beneficiary_identifier_id         int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM beneficiary_identifier WHERE beneficiary_identifier_id = @beneficiary_identifier_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM beneficiary_identifier
WHERE beneficiary_identifier_id = @beneficiary_identifier_id
END
--
RETURN @SP_SUCCESS
--
GO
