USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_correct_adjudication_result_code_for_duplicate_claim]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[bind_correct_adjudication_result_code_for_duplicate_claim]

@original_claim_id int,
@new_claim_id int

AS

IF OBJECT_ID('tempdb..#adjudication_result_code_override') IS NOT NULL DROP TABLE #adjudication_result_code_override
create table #adjudication_result_code_override (id int identity(1,1), claim_id int, claim_procedure_id int, claim_line_sequence numeric(19,4), adjudication_result_code_id int, result_code_id int, code_override_id int)


insert into #adjudication_result_code_override (claim_id, claim_procedure_id, claim_line_sequence, adjudication_result_code_id, result_code_id, code_override_id)
select cp.claim_id, cp.claim_procedure_id, cp.claim_line_sequence, arc.adjudication_result_code_id, arc.result_code_id, arco.adjudication_result_code_override_id
from claim_procedure cp 
	inner join adjudication_result_code arc
		on cp.claim_procedure_id = arc.claim_procedure_id
	left join adjudication_result_code_override arco
		on arc.adjudication_result_code_id = arco.adjudication_result_code_id
where cp.claim_id = @original_claim_id
	and cp.units >= 1
order by cp.claim_line_sequence


declare @max int 
declare @i int
declare @claim_line numeric(19,4)
declare @new_claim_procedure_id int
declare @adjudication_result_code_id int
declare @new_adjudication_result_code_id int
declare @result_code int
declare @adjudication_result_code_override int
declare @upUser nvarchar(50) = system_user
declare @upDate datetime = getdate()


set @max = (select count(1) from #adjudication_result_code_override)

set @i = 1

while @i <= @max
begin

	select @claim_line = arco.claim_line_sequence
			, @adjudication_result_code_id = arco.adjudication_result_code_id
			, @result_code = arco.result_code_id
			, @adjudication_result_code_override = arco.code_override_id
	from #adjudication_result_code_override arco
	where id = @i

	select @new_claim_procedure_id = claim_procedure_id from claim_procedure where claim_id = @new_claim_id and claim_line_sequence = @claim_line

	--First lets make sure that the result code is on the duplicated line. If it doesn't exist we need to insert a record into the system.
	if not exists (	select 1
					from claim_procedure cp 
						inner join adjudication_result_code new_arc
							on cp.claim_procedure_id = new_arc.claim_procedure_id
								and new_arc.result_code_id = @result_code
					where cp.claim_id = @new_claim_id 
						and cp.claim_line_sequence = @claim_line	
						)
	begin
		INSERT INTO [dbo].[adjudication_result_code]
           ([claim_id]
           ,[claim_procedure_id]
           ,[result_code_id]
           ,[result_code_status_id]
           ,[keep_code_for_next_adj_run]
           ,[do_not_clear]
           ,[comment]
           ,[plan_iteration_index]
           ,[user_created]
           ,[active]
           ,[created_user_name]
           ,[created_group_id]
           ,[created_date]
           ,[modified_date]
           ,[modified_user_name])
		select	 case 
					when arc.claim_id is not null then @new_claim_id
					else null
				 end								--<claim_id, int,>
				,@new_claim_procedure_id			--<claim_procedure_id, int,>
				,arc.result_code_id					--<result_code_id, int,>
				,arc.result_code_status_id			--<result_code_status_id, int,>
				,arc.keep_code_for_next_adj_run		--<keep_code_for_next_adj_run, bit,>
				,arc.do_not_clear					--<do_not_clear, bit,>
				,arc.comment						--<comment, nvarchar(1000),>
				,arc.plan_iteration_index			--<plan_iteration_index, int,>
				,arc.user_created					--<user_created, bit,>
				,arc.active							--<active, bit,>
				,@upUser							--<created_user_name, nvarchar(128),>
				,null								--<created_group_id, int,>
				,@upDate							--<created_date, datetime,>
				,@upDate							--<modified_date, datetime,>
				,@upUser							--<modified_user_name, nvarchar(128),>
		from adjudication_result_code arc
		where arc.adjudication_result_code_id = @adjudication_result_code_id

		set @new_adjudication_result_code_id = SCOPE_IDENTITY()
	end
	--if it does exist we need to grab the Id from the table so we can use it for the override 
	else 
	begin
		select @new_adjudication_result_code_id = new_arc.adjudication_result_code_id
		from claim_procedure cp 
			inner join adjudication_result_code new_arc
				on cp.claim_procedure_id = new_arc.claim_procedure_id
					and new_arc.result_code_id = @result_code
		where cp.claim_id = @new_claim_id 
			and cp.claim_line_sequence = @claim_line
	end

	--Now we need to see if that record was overridden and also override it if it was.
	if (@adjudication_result_code_override is not null)
	begin
		-- If it doesn't already exist we need to create a record
		if not exists (select 1
					   from adjudication_result_code_override
					   where adjudication_result_code_id = @new_adjudication_result_code_id)
		begin
			INSERT INTO [dbo].[adjudication_result_code_override]
							([adjudication_result_code_id]
							,[result_code_status_id]
							,[member_report_print_override_option_id]
							,[provider_report_print_override_option_id]
							,[not_a_clean_claim]
							,[last_modified_by]
							,[active]
							,[created_user_name]
							,[created_group_id]
							,[created_date]
							,[modified_date]
							,[modified_user_name])
				select
			        @new_adjudication_result_code_id				--<adjudication_result_code_id, int,>
			       ,arco.result_code_status_id						--<result_code_status_id, int,>
			       ,arco.member_report_print_override_option_id		--<member_report_print_override_option_id, int,>
			       ,arco.provider_report_print_override_option_id	--<provider_report_print_override_option_id, int,>
			       ,arco.not_a_clean_claim							--<not_a_clean_claim, bit,>
			       ,@upUser											--<last_modified_by, nvarchar(128),>
			       ,arco.active										--<active, bit,>
			       ,@upUser											--<created_user_name, nvarchar(128),>
			       ,null											--<created_group_id, int,>
			       ,@upDate											--<created_date, datetime,>
			       ,@upDate											--<modified_date, datetime,>
			       ,@upUser											--<modified_user_name, nvarchar(128),>
				from adjudication_result_code_override arco
				where arco.adjudication_result_code_override_id = @adjudication_result_code_override
		end
	-- If it does exist lets just update it to make sure it matches the line we are working
	else
		begin
			update arco
			set arco.result_code_status_id = orig_arco.result_code_status_id
				, arco.active = orig_arco.active
				, arco.member_report_print_override_option_id = orig_arco.member_report_print_override_option_id
				, arco.provider_report_print_override_option_id = orig_arco.provider_report_print_override_option_id
				, arco.not_a_clean_claim = orig_arco.not_a_clean_claim
				, arco.modified_date = @upDate
				, arco.modified_user_name = @upUser
				, arco.last_modified_by = @upUser
			from adjudication_result_code_override arco
				inner join adjudication_result_code_override orig_arco
					on orig_arco.adjudication_result_code_override_id = @adjudication_result_code_override
			where arco.adjudication_result_code_id = @new_adjudication_result_code_id
		end
	end

	set @i = @i+1
	set @claim_line = null
	set @adjudication_result_code_id = null
	set @result_code = null
	set @adjudication_result_code_override = null
	set @new_claim_procedure_id = null
end



GO
