USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_call_share_group_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/08/2005
--
REVISION_HISTORY:
--
Date             Modified By    Version     Description
--------------------------------------------------------------------------------
12/08/2005       Hiep Nguyen      1.0         Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_call_share_group_load]
(
@call_share_group_id   INT
)
AS

DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT csg.*

FROM dbo.call_share_group csg

WHERE csg.call_share_group_id = @call_share_group_id

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
