USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_financial_institution_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThanhNguyen
Date: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/28/2005	ThanhNguyen    1.0       created
04/17/2012  CKnobloch	   1.1		 added pre_note_genereated column and hold column
06/14/2021  AMortensen     1.2       RT:17518 - Customer Vendor Banking Details

CURRENT_VERSION: 1.2
--
DESCRIPTION:
Load data into grid Customer financial institution
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_customer_financial_institution_load] (
@customer_id INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1;

SELECT
cfi.customer_financial_institution_id
,cfi.customer_id
,fi.financial_institution_id
,fb.financial_bank_id
,fb.financial_bank_ud
,fbb.financial_bank_branch_id
,fbb.financial_bank_branch_nm
,fi.name_on_account
,fi.bank_account_type_id
,fi.routing_transit_number
,fi.account_number
,fi.swift_code
,fi.pre_note_generated
,fi.ach_hold
,fi.effective_from
,fi.effective_thru

FROM customer_financial_institution cfi
JOIN financial_institution fi
ON cfi.financial_institution_id = fi.financial_institution_id
LEFT JOIN financial_bank fb
ON fb.financial_bank_id = fi.financial_bank_id
LEFT JOIN financial_bank_branch fbb
ON fbb.financial_bank_branch_id = fi.financial_bank_branch_id

WHERE cfi.customer_id = @customer_id

ORDER BY
CASE WHEN fi.effective_from IS NULL THEN 0 ELSE 1 END, fi.effective_from DESC
,CASE WHEN fi.effective_thru IS NULL THEN 0 ELSE 1 END, fi.effective_thru DESC;

--
IF @@ROWCOUNT = 1
BEGIN
RETURN @SP_SUCCESS;
END
ELSE
BEGIN
RETURN @SP_EXCEPTION;
END
--
GO
