USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_limit_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
DATE: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
08/12/2015	Aaron Mortensen 1.3		RT:7284 - added tiered_maximum_payment
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Save a limit rule in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_limit_rule_save]
(
@accumulator_limit_id                       int = NULL  OUTPUT
,@accumulator_framework_accumulator_class_accumulator_id int
,@ind_accumulator_valid_choice_id      int = NULL
,@individual_value                           nvarchar(200) = NULL
,@individual_accumulator_limit_rule_value_type_id INT = NULL
,@tiered_maximum_payment_id				int = NULL
,@fam_accumulator_valid_choice_id          int = NULL
,@family_value                               nvarchar(200) = NULL
,@family_accumulator_limit_rule_value_type_id INT = NULL
,@first_coverage_scope_of_limit_id INT		= NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--

IF @accumulator_limit_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_limit_rule(
accumulator_framework_accumulator_class_accumulator_id
,individual_accumulator_choice_list_id
,individual_value
,individual_accumulator_limit_rule_value_type_id
,tiered_maximum_payment_id
,family_accumulator_choice_list_id
,family_value
,family_accumulator_limit_rule_value_type_id
,first_coverage_scope_of_limit_id
,effective_from
,effective_thru
,active
)
VALUES(
@accumulator_framework_accumulator_class_accumulator_id
,@ind_accumulator_valid_choice_id
,@individual_value
,@individual_accumulator_limit_rule_value_type_id
,@tiered_maximum_payment_id
,@fam_accumulator_valid_choice_id
,@family_value
,@family_accumulator_limit_rule_value_type_id
,@first_coverage_scope_of_limit_id
,@effective_from
,@effective_thru
,@active
)
--
SET @accumulator_limit_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_limit_rule WHERE accumulator_limit_rule_id = @accumulator_limit_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing record
UPDATE accumulator_limit_rule
SET
individual_accumulator_choice_list_id			= @ind_accumulator_valid_choice_id
,individual_value								= @individual_value
,individual_accumulator_limit_rule_value_type_id = @individual_accumulator_limit_rule_value_type_id
,tiered_maximum_payment_id						= @tiered_maximum_payment_id
,family_accumulator_choice_list_id				= @fam_accumulator_valid_choice_id
,family_value									= @family_value
,family_accumulator_limit_rule_value_type_id	= @family_accumulator_limit_rule_value_type_id
,first_coverage_scope_of_limit_id				= @first_coverage_scope_of_limit_id
,effective_from									= @effective_from
,effective_thru									= @effective_thru
,active											= @active
,modified_user_name								= ORIGINAL_LOGIN()
,modified_date									= GETDATE()

WHERE accumulator_limit_rule_id = @accumulator_limit_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--

RETURN @SP_SUCCESS
--
GO
