USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_age_gender_copay_load_for_tier]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/09/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/09/2009	Chad Maddox 1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for age gender copay grid  on form frmCapitationRate when a new age gender rate tier is selected
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_rate_age_gender_copay_load_for_tier]
(
@tier_id						INT
)
AS
SET NOCOUNT ON
SELECT
CAST(NULL AS INT) AS capitation_rate_assignment_tier_criteria_amount_id
,CAST(NULL AS INT) AS capitation_rate_assignment_id
,tcagc.tier_criteria_age_gender_copay_id
,tcagc.unit_month_year_id
,umy.unit_month_year_ud
,tcagc.minimum_age
,tcagc.maximum_age
,tcagc.gender_id
,g.gender_ud
,t.tier_id
,tcagc.minimum_copay_amount
,tcagc.maximum_copay_amount
,tc.tier_criteria_id
,tc.tier_criteria_ud
,CAST(NULL AS NUMERIC(18,10)) AS amount
FROM dbo.tier t
JOIN dbo.tier_criteria tc ON t.tier_id = tc.tier_id
JOIN tier_criteria_age_gender_copay tcagc ON tc.tier_criteria_id = tcagc.tier_criteria_id
JOIN unit_month_year umy ON tcagc.unit_month_year_id = umy.unit_month_year_id
JOIN gender g ON tcagc.gender_id = g.gender_id
WHERE t.tier_id = @tier_id

ORDER BY umy.unit_month_year_ud, tcagc.minimum_age, tcagc.maximum_age, g.gender_ud
GO
