USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ui_functional_area_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Huy Than
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
11/08/2006	HuyThan		1.0			Created
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load all functional area

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_criteria_ui_functional_area_load]
AS
SELECT
criteria_functional_area_id
,criteria_functional_area_ud
,criteria_functional_area.golden_key
FROM
criteria_functional_area
GO
