USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_choice_list_id_tree_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date:
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/06/2009	Vishwa	1.0			updated with golden_key for benefit classes in choice list tree
10/07/2009	Vishwa	2.0			updated with benefit qualifier and member expense choice lists not to show in choice												- list tree under benefit class choice list
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load all the tree of benefit class es of a benefit framework
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_class_choice_list_id_tree_load]
(
@benefit_framework_id		int = null
)
as
begin
set nocount on
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

set @SP_SUCCESS = 0
set @SP_EXCEPTION = -1

declare
@NODE_TYPE_BENEFIT_CLASS int,
@NODE_TYPE_CHOICE_LIST int
set @NODE_TYPE_BENEFIT_CLASS = 1
set @NODE_TYPE_CHOICE_LIST = 2

DECLARE @tree_table table(node_id int NOT NULL,
parent_id int NULL,
node_text nvarchar(50) NOT NULL,
golden_key nvarchar(50) NULL,
node_level int NULL,
node_type int NULL)
declare benefit_class_cursor cursor for
select benefit_framework_benefit_class.benefit_framework_benefit_class_id as node_id, benefit_class.benefit_class_ud as node_text,	benefit_class.golden_key
from benefit_framework_benefit_class
inner join benefit_class on benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
where benefit_framework_benefit_class.benefit_framework_id = @benefit_framework_id
AND benefit_class.golden_key NOT IN ('BENEFIT_COVERAGE_EXCEPTION', 'MEMBER_EXPENSE')
open benefit_class_cursor
declare @benefit_class_id int,
@benefit_class_text nvarchar(50),
@benefit_class_golden_key nvarchar(50)
fetch next from benefit_class_cursor
into @benefit_class_id, @benefit_class_text, @benefit_class_golden_key
while @@fetch_status = 0
begin
insert into @tree_table(node_id, parent_id, node_text,golden_key, node_level, node_type)
values(@benefit_class_id, null, isnull(@benefit_class_text,''),isnull(@benefit_class_golden_key,''), 1, @NODE_TYPE_BENEFIT_CLASS)

declare benefit_choice_list_cursor cursor for
select benefit_framework_choice_list.benefit_framework_choice_list_id, benefit_framework_choice_list.benefit_framework_choice_list_ud
from benefit_framework_choice_list
where benefit_framework_choice_list.benefit_framework_benefit_class_id = @benefit_class_id

open benefit_choice_list_cursor
declare @benefit_choice_list_id int,
@benefit_choice_list_text nvarchar(50)
fetch next from benefit_choice_list_cursor
into @benefit_choice_list_id, @benefit_choice_list_text
while @@fetch_status = 0
begin
insert into @tree_table(node_id, parent_id, node_text, node_level, node_type)
values (@benefit_choice_list_id, @benefit_class_id, isnull(@benefit_choice_list_text,''), 2, @NODE_TYPE_CHOICE_LIST)
fetch next from benefit_choice_list_cursor
into @benefit_choice_list_id, @benefit_choice_list_text
end
close benefit_choice_list_cursor
deallocate benefit_choice_list_cursor
fetch next from benefit_class_cursor
into @benefit_class_id, @benefit_class_text, @benefit_class_golden_key
end
close benefit_class_cursor
deallocate benefit_class_cursor
select * from @tree_table
if @@rowcount >= 1
return @SP_SUCCESS
else
return @SP_EXCEPTION
end
GO
