USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_payment_queue_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/22/2008	David Slayton	1.0		Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
02/25/2010	Vishwa			1.2		Removed missing_elgiibility field on claim payment queue criteria grid to															fecilitate denied lines to pick up same quueue
11/17/2011	ggutshall		1.3		Added returnset limitations
--
CURRENT_VERSION: 1.3
--
DESCRIPTION:
Find Claim Payment Queues that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_queue_ud
@description
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_claim_payment_queue_load]
(
@get_column_headers		BIT = 0
, @claim_payment_queue_ud	NVARCHAR(50) = NULL
, @description				NVARCHAR(255) = NULL
, @client_id				INT = NULL
, @client_group_id			INT = NULL
, @vendor_id				INT = NULL
, @missing_vendor			BIT = 0
, @no_benefits				BIT = 0
, @show_exact_matches		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @claim_payment_queue_ud IS NOT NULL AND @claim_payment_queue_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(cpq.claim_payment_queue_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@claim_payment_queue_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(cpq.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @vendor_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND cpqc.vendor_id = ' + CONVERT(NVARCHAR, @vendor_id)

IF ISNULL(@missing_vendor, 0) = 1
SET @SqlCondition = @SqlCondition + ' AND cpqc.missing_vendor = 1'

IF ISNULL(@no_benefits, 0) = 1
SET @SqlCondition = @SqlCondition + ' AND cpq.no_benefits = 1'

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
cpq.claim_payment_queue_id
,cpq.claim_payment_queue_ud
,v.vendor_ud
,cn.client_ud
,cgn.client_group_ud
FROM  dbo.claim_payment_queue cpq
LEFT JOIN claim_payment_queue_queue_criteria cpqc ON cpq.claim_payment_queue_id = cpqc.claim_payment_queue_id
LEFT JOIN client_name cn ON cpqc.client_id = cn.client_id
LEFT JOIN client_group_name cgn ON cpqc.client_group_id = cgn.client_group_id
LEFT JOIN vendor v ON cpqc.vendor_id = v.vendor_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY cpq.claim_payment_queue_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY cpq.claim_payment_queue_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
