USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_provider_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE:   08/03/2009
--
REVISION_HISTORY:
--
Date				Modified By			Version		Description
--------------------------------------------------------------------------------
05/01/2010		Vishwa Jella		1.1			Updated with correct identity field creation
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.1
--
DESCRIPTION:
Save for capitation group form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_capitation_group_provider_save]
(
@capitation_group_provider_identifier_id INT = NULL OUTPUT
,@capitation_group_id		INT = NULL
,@provider_identifier_id INT = NULL
,@is_excluded BIT = 0
,@active							bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '159010038',
@ERROR_CANT_UPDATE 	= '159010039'
--

IF @capitation_group_provider_identifier_id is Null or @capitation_group_provider_identifier_id = 0
BEGIN
--- Create a new record
INSERT INTO capitation_group_provider_identifier (
capitation_group_id
,provider_identifier_id
,is_excluded
,active
)
VALUES
(@capitation_group_id
,@provider_identifier_id
,@is_excluded
,@active
--@created_date
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @capitation_group_provider_identifier_id = @@IDENTITY
END
--
ELSE
BEGIN
UPDATE capitation_group_provider_identifier
SET
capitation_group_id =				@capitation_group_id
,provider_identifier_id =			@provider_identifier_id
,is_excluded			  =			    @is_excluded
,active =							@active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE capitation_group_provider_identifier_id = @capitation_group_provider_identifier_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
