USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_collaborator_column_data_update]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chris Facey

DESCRIPTION:
Called to update plexis data in the appropriate table upon importing from Collaborator
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

Create Procedure [dbo].[plx_gdct_collaborator_column_data_update]
(
@table_def_id int,
@plexis_value nvarchar(255),
@table_column_def_id int,
@table_row_id int,
@column_name nvarchar(255)
)
As
Begin
DECLARE
@system_golden_data_row_change_id int,
@sql nvarchar(1000),
@table_name nvarchar(255)

IF ISNULL(@table_row_id, 0) = 0
return

SELECT @system_golden_data_row_change_id = system_golden_data_row_change_id
FROM system_golden_data_row_change
WHERE table_def_id = @table_def_id
AND table_row_id = ISNULL(@table_row_id, 0)

IF ISNULL(@table_column_def_id, 0) <> 0
AND EXISTS(SELECT * FROM system_golden_data_original_column_value
WHERE system_golden_data_row_change_id = ISNULL(@system_golden_data_row_change_id, 0)
AND table_column_def_id = @table_column_def_id)
BEGIN
UPDATE system_golden_data_original_column_value
SET plexis_value = @plexis_value
WHERE system_golden_data_row_change_id = @system_golden_data_row_change_id
AND table_column_def_id = @table_column_def_id
END
ELSE
BEGIN
-- The quoting of values regardless of type appears to work and simplifies this sql code. So
-- even for a bit field doing --> bit_column = '1' <-- sets the bit correctly.
If @plexis_value Is Null
Set @plexis_value = 'null'
Else
BEGIN
-- RT:7358 - Replace single quotes with double quotes in column text
DECLARE @SINGLE_QUOTE NVARCHAR(10), @DOUBLE_QUOTE NVARCHAR(10)
SET @SINGLE_QUOTE = ''''
SET @DOUBLE_QUOTE = ''''''
Set @plexis_value = REPLACE(@plexis_value, @SINGLE_QUOTE, @DOUBLE_QUOTE)
Set @plexis_value = @SINGLE_QUOTE + @plexis_value + @SINGLE_QUOTE
END
SELECT @table_name = table_name
FROM system_table
WHERE table_def_id = @table_def_id

SELECT @sql = '
UPDATE ' + @table_name +
' SET ' + @column_name + ' = ' + @plexis_value +
' WHERE table_row_id = ' + CAST(@table_row_id AS NVARCHAR)

EXEC(@sql)
END
End
GO
