USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_attachment_requirement_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:

This procedure is used to save claim supplemental documentation requirements
Form: Global Configuration
Grid: Claim Document Requirements
******************************/
CREATE PROCEDURE [dbo].[plx_claim_attachment_requirement_save]
(
@claim_attachment_requirement_id		INT = 0 OUTPUT,
@attached_result_code_id				INT = NULL,
@missing_result_code_id					INT = NULL,
@procedure_code_group_id				INT = NULL,
@claim_attachment_type_code_id			INT = NULL
)
AS


DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--

IF ISNULL(@claim_attachment_requirement_id, 0) = 0
-- Create a new record
BEGIN
INSERT INTO claim_attachment_requirement (
attached_result_code_id,
missing_result_code_id,
procedure_code_group_id,
claim_attachment_type_code_id
)
SELECT
@attached_result_code_id,
@missing_result_code_id,
@procedure_code_group_id,
@claim_attachment_type_code_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS);

SET @claim_attachment_requirement_id = SCOPE_IDENTITY();
END

ELSE IF NOT EXISTS (SELECT * FROM claim_attachment_requirement WHERE
claim_attachment_requirement_id = @claim_attachment_requirement_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--

ELSE
BEGIN
UPDATE claim_attachment_requirement
SET
attached_result_code_id						=	@attached_result_code_id,
missing_result_code_id						=	@missing_result_code_id,
procedure_code_group_id						=	@procedure_code_group_id,
claim_attachment_type_code_id				=	@claim_attachment_type_code_id,
modified_user_name							=	ORIGINAL_LOGIN(),
modified_date								=	GETDATE()
WHERE
claim_attachment_requirement_id = @claim_attachment_requirement_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
GO
