USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_user_assigned_result_code_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Abhishek Saxena

REVISION_HISTORY:
--
Date		Modified By	      Version		Description
--------------------------------------------------------------------------------
09/27/2007	Abhishek Saxena        1.0		Created and using for ICU#18153  (Product form)
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "User Assigned Result Codes"
in frmBenefitContract form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_user_assigned_result_code_save]

(

@benefit_contract_user_assigned_result_code_id int = NULL OUTPUT
,@benefit_contract_id		     int = NULL
,@criteria_id                                int = NULL
,@result_code_id                             int = NULL
,@result_code_status_id                      int = NULL
,@comment                                   nvarchar(300) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@user_name                                  nvarchar(50) = NULL
,@active                                     bit = NULL

) AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),

@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '158930070',
@ERROR_NOT_EXIST	= '158930071',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= '158930072'



IF @benefit_contract_user_assigned_result_code_id is Null
BEGIN

--- Create a new provider_user_assigned_result_code record
INSERT INTO benefit_contract_user_assigned_result_code(
benefit_contract_id
,criteria_id
,result_code_id
,result_code_status_id
,comment
,effective_from
,effective_thru
,user_name
,active
)
VALUES
(@benefit_contract_id
,@criteria_id
,@result_code_id
,@result_code_status_id
,@comment
,@effective_from
,@effective_thru
,@user_name
,@active
)
--
SET @benefit_contract_user_assigned_result_code_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_contract_user_assigned_result_code WHERE benefit_contract_user_assigned_result_code_id = @benefit_contract_user_assigned_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing provider_user_assigned_result_code record
UPDATE benefit_contract_user_assigned_result_code
SET
benefit_contract_id                      = @benefit_contract_id
,criteria_id                              = @criteria_id
,result_code_id                           = @result_code_id
,result_code_status_id                    = @result_code_status_id
,comment                                  = @comment
,effective_from                           = @effective_from
,effective_thru
= @effective_thru
,user_name                                = @user_name
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_contract_user_assigned_result_code_id = @benefit_contract_user_assigned_result_code_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
END
--
GO
