USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton  1.0      Created
08/17/2009  W.Christensen  1.1      Added total columns for amounts and fees
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Load data for form frmClaimPaymentRun
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_payment_run_load] (@claim_payment_run_id INT = 0)
AS
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT cpr.claim_payment_run_id
,cpr.claim_payment_run_ud
,cpr.claim_payment_queue_id
,cpq.claim_payment_queue_ud
,cprs.golden_key AS claim_payment_run_status_golden_key
,CASE
WHEN EXISTS (
SELECT 1 FROM claim_payment_run_result_code cprrc
WHERE cprrc.claim_payment_run_id = cpr.claim_payment_run_id
)
THEN cprs.claim_payment_run_status_ud + '*'
ELSE cprs.claim_payment_run_status_ud
END AS claim_payment_run_status_ud
,CONVERT(NVARCHAR, cpr.start_time, 101) AS run_date
,CONVERT(NVARCHAR, cpr.end_review, 101) AS end_review
,cpr.do_not_release
,ISNULL((
SELECT SUM(cpra.amount)
FROM claim_payment_run_amount cpra
WHERE cpra.claim_payment_run_id = cpr.claim_payment_run_id
), 0.00) AS total_amount
,ISNULL((
SELECT SUM(cprapf.amount)
FROM claim_payment_run_ap_fee cprapf
WHERE cprapf.claim_payment_run_id = cpr.claim_payment_run_id
), 0.00) AS ap_fee_total
,ISNULL((
SELECT SUM(cprarf.amount)
FROM claim_payment_run_ar_fee cprarf
WHERE cprarf.claim_payment_run_id = cpr.claim_payment_run_id
), 0.00) AS ar_fee_total
FROM dbo.claim_payment_run cpr
LEFT JOIN dbo.claim_payment_queue cpq
ON cpr.claim_payment_queue_id = cpq.claim_payment_queue_id
LEFT JOIN dbo.unit_day_week_month udwm
ON cpq.unit_day_week_month_id = udwm.unit_day_week_month_id
LEFT JOIN dbo.claim_payment_run_status cprs
ON cpr.claim_payment_run_status_id = cprs.claim_payment_run_status_id
WHERE cpr.claim_payment_run_id = @claim_payment_run_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
