USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_transport_reason_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_claim_transport_reason_code_load]
AS

SET NOCOUNT ON

SELECT
claim_transport_reason_code_id,
TRIM(golden_key) as claim_transport_reason_code_ud,  -- requires golden key to be displayed instead of the UD, but the engine expects _ud
description
FROM claim_transport_reason_code
ORDER BY claim_transport_reason_code_ud

RETURN 0
GO
