USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 02/25/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/25/2010	David Slayton	1.0		Created.
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single Coverage Restrictions grid row on Eligibility Restriction form.
--
REQUIREMENTS:
--
INPUTS:
@eligibility_restriction_relationship_to_subscriber_coverage_restriction_id - Key to eligibility_restriction_relationship_to_subscriber_coverage_restriction table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_delete]
(
@eligibility_restriction_relationship_to_subscriber_coverage_restriction_id                int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM eligibility_restriction_relationship_to_subscriber_coverage_restriction
WHERE eligibility_restriction_relationship_to_subscriber_coverage_restriction_id = @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM eligibility_restriction_relationship_to_subscriber_coverage_restriction
WHERE eligibility_restriction_relationship_to_subscriber_coverage_restriction_id = @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
