USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accumulator_rollover_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ngo
DATE: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/09/2006      Trinh Le                        Get the golden key for coding
02/14/2006	Thuy Ha				Rename, change return condition
02/28/2006	Trinh Le			change table to accumulator_rollover_type
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accumulator_rollover_type (Accumulator Rollover Type)
--
REQUIREMENTS:
--
INPUTS:
rollover_type_id - Key to rollover_type table, identifies a single stored dd_rollover_type_load.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_accumulator_rollover_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accumulator_rollover_type.accumulator_rollover_type_id
,accumulator_rollover_type.accumulator_rollover_type_ud
,description
,accumulator_rollover_type.golden_key

FROM accumulator_rollover_type
ORDER BY accumulator_rollover_type_ud

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
