USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_load]
(
@coverage_level_process_queue_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

SELECT
q.coverage_level_process_queue_id
,q.coverage_level_process_queue_ud
,q.description
,q.coverage_level_process_as_of_date_rule_id
,r.coverage_level_process_as_of_date_rule_ud
,q.coverage_level_process_as_of_date_rule_day
,q.schedule_form_id
,sf.duration_start_date
,sf.duration_end_date
FROM dbo.coverage_level_process_queue q
LEFT JOIN dbo.coverage_level_process_as_of_date_rule r ON q.coverage_level_process_as_of_date_rule_id = r.coverage_level_process_as_of_date_rule_id
LEFT JOIN dbo.schedule_form sf ON q.schedule_form_id = sf.schedule_form_id
WHERE q.coverage_level_process_queue_id = @coverage_level_process_queue_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
