USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_agent_service_representative_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/16/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down agent_service_representative (Service Representative (Agent and Brokerage))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_agent_service_representative_load]


AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_service_representative_id
,agent_service_representative_ud
,agent_service_representative_nm
,golden_key
--      ,gsu
FROM agent_service_representative
ORDER BY agent_service_representative_ud ASC

RETURN @SP_SUCCESS
GO
