USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_complex_duplicate_claim_rule_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
DATE: 05/27/2011
--
REVISION_HISTORY:
--
Date				 Modified By	  Description
--------------------------------------------------------------------------------
05/27/2011		 Jeremy Hein	  Created
--

DESCRIPTION:
Loads data for drop down complex_duplicate_claim_rule_type
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_complex_duplicate_claim_rule_type_load] AS


SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT  complex_duplicate_claim_rule_type_id,
complex_duplicate_claim_rule_type_ud,
golden_key
FROM dbo.complex_duplicate_claim_rule_type
ORDER BY complex_duplicate_claim_rule_type_ud


IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
