USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_history_find_subscriber_eligibility]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/20/2006	HiepNguyen	1.0		Created
09/12/2006	HiepNguyen	1.1		Add family_eligibility_id
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check validation rule for subscriber eligibility on claim history
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_claim_history_find_subscriber_eligibility]
(
@family_eligibility_id INT = NULL
, @subscriber_eligibility_id INT  = NULL
, @subscriber_eligibility_ud NVARCHAR(50) = NULL
, @subscriber_name_id INT = NULL
, @subscriber_name_last  NVARCHAR(100) = NULL
, @subscriber_name_first NVARCHAR(100) = NULL
)
AS
BEGIN

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(2000)
,@SqlCondition	NVARCHAR(500)
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ''


IF @subscriber_eligibility_id IS NOT NULL AND @subscriber_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND subscriber.family_eligibility_member_benefit_plan_id = ' +  dbo.plx_EncodeStringWildCard(@subscriber_eligibility_id, null)
IF @subscriber_eligibility_ud IS NOT NULL AND @subscriber_eligibility_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(subscriber.member_eligibility_ud, '''') = ''' +  dbo.plx_EncodeStringWildCard(@subscriber_eligibility_ud, 1) + ''''
IF @subscriber_name_last IS NOT NULL AND @subscriber_name_last <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(member_name.name_last, '''') = N''' +  dbo.plx_EncodeStringWildCard(@subscriber_name_last, 1)  + ''''
IF @subscriber_name_first IS NOT NULL AND @subscriber_name_first <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(member_name.name_first, '''') = N''' +  dbo.plx_EncodeStringWildCard(@subscriber_name_first, 1)  + ''''

IF @subscriber_name_id IS NOT NULL AND @subscriber_name_id > 0
SET @SqlCondition = @SqlCondition + ' AND member_name.member_name_id = ' + CONVERT(NVARCHAR, @subscriber_name_id)
IF @family_eligibility_id IS NOT NULL AND @family_eligibility_id > 0
SET @SqlCondition = @SqlCondition + ' AND family_eligibility.family_eligibility_id = '  + CONVERT(NVARCHAR, @family_eligibility_id)


SET @SqlQuery =
' SELECT DISTINCT
subscriber.family_eligibility_member_benefit_plan_id as subscriber_eligibility_id
, member.member_id
, subscriber.member_eligibility_ud as subscriber_eligibility_ud
, member_name.member_name_id as subscriber_name_id
, member_name.name_last as subscriber_name_last
, member_name.name_first as subscriber_name_first

FROM family_eligibility
INNER JOIN family_eligibility_member
ON family_eligibility_member.family_eligibility_id = family_eligibility.family_eligibility_id
INNER JOIN relationship_to_insured
ON (relationship_to_insured.relationship_to_insured_id = family_eligibility_member.relationship_to_insured_id)
AND (lower(relationship_to_insured.golden_key) IN (''self'', ''guarantor''))
INNER JOIN member ON member.member_id = family_eligibility_member.member_id
INNER JOIN member_name ON (member_name.member_id = member.member_id) AND (member_name.is_primary = 1)
LEFT JOIN family_eligibility_member_benefit_plan subscriber
ON subscriber.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id '


SET @SqlCondition = ' WHERE 1=1 ' + @SqlCondition + ' ORDER BY 1 '

EXEC(@SqlQuery + @SqlCondition )

END
GO
