USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: 08/29/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.25
--
DESCRIPTION:
Load data for benefit contract in use grid in Elibility Retrictions spec
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_waiting_period_load]
(
@benefit_waiting_period_id	int = NULL

)
AS
begin

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION	= -1

SELECT
benefit_waiting_period.benefit_waiting_period_id,
benefit_waiting_period.benefit_waiting_period_ud,
benefit_waiting_period.benefit_waiting_period_nm,
benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_id,
result_code.result_code_ud, result_code.short_message,
benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_status_id,
benefit_waiting_period_relationship_to_subscriber.active,
benefit_waiting_period_relationship_to_subscriber.created_user_name,
benefit_waiting_period_relationship_to_subscriber.created_group_id,
benefit_waiting_period_relationship_to_subscriber.created_date,
benefit_waiting_period_relationship_to_subscriber.modified_date
FROM  benefit_waiting_period
LEFT OUTER JOIN benefit_waiting_period_relationship_to_subscriber ON
benefit_waiting_period.benefit_waiting_period_id = benefit_waiting_period_relationship_to_subscriber.benefit_waiting_period_id
LEFT OUTER JOIN benefit_waiting_period_relationship_to_subscriber_waiting_period ON
benefit_waiting_period_relationship_to_subscriber.benefit_waiting_period_relationship_to_subscriber_id = benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_waiting_period_id
AND
benefit_waiting_period_relationship_to_subscriber.benefit_waiting_period_relationship_to_subscriber_id = benefit_waiting_period_relationship_to_subscriber_waiting_period.benefit_waiting_period_relationship_to_subscriber_id
LEFT OUTER JOIN result_code ON benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_id = result_code.result_code_id
LEFT OUTER JOIN result_code_status ON
benefit_waiting_period_relationship_to_subscriber_waiting_period.result_code_status_id = result_code_status.result_code_status_id AND
result_code.result_code_status_id = result_code_status.result_code_status_id
WHERE benefit_waiting_period.benefit_waiting_period_id = @benefit_waiting_period_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
end
GO
