USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_note_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nghi Nguyen
Aug 29 2005  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date				Modified By		Version		Description
--------------------------------------------------------------------------------
08/07/2009		Vishwa Jella	1.0			updated with golden key  field
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down note_status (Status (Notes))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_dd_note_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
note_status_id
,note_status_ud
,golden_key
FROM note_status
ORDER BY golden_key DESC

RETURN @SP_SUCCESS
END
GO
