USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
DATE: 08/31/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single benefit_plan_accumulator_class_choice_resolution into the benefit_plan_accumulator_class_choice_resolution table.
This stored procedure is used in Accumulator Choice List Resolution grid of Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_accumulator_class_choice_resolution_id - Key to benefit_plan_accumulator_class_choice_resolution table, identifies a single stored benefit_plan_accumulator_class_choice_resolution.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE   PROCEDURE [dbo].[plx_benefit_plan_accumulator_class_choice_resolution_delete]
(
@benefit_plan_accumulator_class_choice_resolution_id	int = NULL
,@cascade	bit = 0
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_accumulator_class_choice_resolution_id is not null
BEGIN
IF NOT EXISTS (SELECT 1 FROM benefit_plan_accumulator_class_choice_resolution WHERE benefit_plan_accumulator_class_choice_resolution_id = @benefit_plan_accumulator_class_choice_resolution_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_plan_accumulator_class_choice_resolution
WHERE benefit_plan_accumulator_class_choice_resolution_id = @benefit_plan_accumulator_class_choice_resolution_id
END
--
END
RETURN @SP_SUCCESS
--
GO
