USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_seeds_get_by_member]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Description: Retrieves all accumulator seeds for a member along with accumulator scope related data.  This is used when
adjusting the date ranges on first date of service accumulators.  Used to determine whether new seeds enter the
adjusted period or existing seeds fall out of the adjusted period.

This can be simplified in the future when seeds get tagged with a scope key.

Inputs:
@memberId - Primary key of the member.

*/

CREATE PROCEDURE [dbo].[plx_accumulator_seeds_get_by_member]
@memberId INT
AS

SET NOCOUNT ON;

SELECT
asv.accumulator_seed_value_id,
asv.family_eligibility_member_benefit_plan_id,
asv.accumulator_framework_accumulator_class_accumulator_id,
asv.effective_date,
asv.episode_id,
fembp.benefit_plan_id,
fe.family_eligibility_id,
fe.benefit_contract_id,
bcp.benefit_contract_period_id,
us.golden_key AS 'scope_golden_key'
FROM
family_eligibility_member fem
INNER JOIN family_eligibility_member_benefit_plan fembp
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN accumulator_seed_value asv
ON asv.family_eligibility_member_benefit_plan_id = fembp.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_id = fe.benefit_contract_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = asv.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework af
ON af.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN usage_scope us
ON us.usage_scope_id = af.usage_scope_id
WHERE
fem.member_id = @memberId
AND asv.effective_date >= bcp.effective_from
AND (bcp.effective_thru IS NULL OR asv.effective_date <= bcp.effective_thru);
GO
