USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_institutional_field_81_box_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_institutional_field_81_box_load]
AS

SET NOCOUNT ON

SELECT
institutional_field_81_box_id
,institutional_field_81_box_ud
,golden_key
FROM institutional_field_81_box
ORDER BY institutional_field_81_box_ud

RETURN 0
GO
