USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_update_taxes]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_update_taxes]
@paymentDetailId INT
AS

SET NOCOUNT ON;

DECLARE
@creditType INT,
@taxMedical INT,
@taxAttorney INT,
@taxCompensation INT,
@taxDeferrals INT,
@taxFederal INT,
@taxIncome INT,
@taxOther INT,
@taxRent INT;

SELECT @creditType = (SELECT accounting_transaction_ap_type_id FROM accounting_transaction_ap_type WHERE golden_key = 'CREDIT');
SELECT @taxRent = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'RENTS');
SELECT @taxOther = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'OTHER');
SELECT @taxFederal = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'FEDERAL');
SELECT @taxMedical = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'MEDICAL');
SELECT @taxCompensation = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'COMPENSATION');
SELECT @taxAttorney = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'ATTORNEY');
SELECT @taxDeferrals = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'DEFERRALS');
SELECT @taxIncome = (SELECT tax_1099_misc_box_id FROM tax_1099_misc_box WHERE golden_key = 'INCOME');

DECLARE @totals TABLE
(
tax_1099_misc_box_id INT,
amount NUMERIC(19,4)
);

INSERT INTO @totals (
tax_1099_misc_box_id,
amount )
SELECT
tax_1099_misc_box_id,
SUM (CASE WHEN accounting_transaction_ap_type_id = @creditType THEN -applied_amount ELSE applied_amount END)
FROM
vw_disbursement_claim_payment_taxes
WHERE
accounting_transaction_ap_payment_detail_id = @paymentDetailId
AND tax_1099_exempt = 0
GROUP BY
tax_1099_misc_box_id;

UPDATE
accounting_transaction_ap_payment_detail
SET
tax_1099_rents_amount =  COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxRent), 0),
tax_1099_other_amount =  COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxOther), 0),
tax_1099_federal_amount =  COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxFederal), 0),
tax_1099_compensation_amount = COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxCompensation), 0),
tax_1099_attorney_amount = COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxAttorney), 0),
tax_1099_deferrals_amount =  COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxDeferrals), 0),
tax_1099_income_amount =  COALESCE((SELECT amount FROM @totals WHERE tax_1099_misc_box_id = @taxIncome), 0),
tax_1099_medical_amount =  COALESCE((SELECT SUM(amount) FROM @totals WHERE tax_1099_misc_box_id IS NULL OR tax_1099_misc_box_id = @taxMedical), 0)
WHERE
accounting_transaction_ap_payment_detail_id = @paymentDetailId;
GO
