USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 11/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/10/2006	Mai Tran 1.0			Created
1/9/2012    Cknobloch 1.1           Added in check for adjudication_key
(in the case for best matched logic on claims)
5/24/2012   cfacey    1.2			added check for mass member move
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:

This procedure is used to check delete member eligibility.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_check_delete]
(
@family_eligibility_member_benefit_plan_id	int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE   int,
@SP_EXCEPTION int,
@ERROR_NOT_EXIST	NVARCHAR(50),
@result int

SELECT	@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0,
@SP_EXCEPTION		= -1,
@ERROR_NOT_EXIST	= 156560011,
@result				= @SP_DELETE_ABLE

IF NOT EXISTS (	SELECT  family_eligibility_member_benefit_plan_id
FROM	family_eligibility_member_benefit_plan
WHERE	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
IF EXISTS (	SELECT 	claim_id
FROM 	claim
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE
IF EXISTS (	SELECT 	episode_id
FROM 	episode
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE
IF EXISTS (	SELECT 	referral_id
FROM 	referral
WHERE 	family_eligibility_member_benefit_plan_id  = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE
IF EXISTS (	SELECT 	1
FROM 	family_eligibility_member_benefit_plan_network
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE
IF EXISTS (	SELECT 	1
FROM 	family_eligibility_member_benefit_plan_provider
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---accumulator_seed_value
IF EXISTS (	SELECT 	1
FROM 	accumulator_seed_value
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---mass_member_action_eligibility source
IF EXISTS (	SELECT 	1
FROM 	mass_member_action_eligibility
WHERE 	source_eligibility_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---member_medical_condition source
IF EXISTS (	SELECT 	1
FROM 	member_medical_condition
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---member_medical_condition_exclusion source
IF EXISTS (	SELECT 	1
FROM 	member_medical_condition_exclusion
WHERE 	family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---mass_member_action_eligibility target
IF EXISTS (	SELECT 	1
FROM 	mass_member_action_eligibility
WHERE 	target_eligibility_id = @family_eligibility_member_benefit_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---if the case of "Find Best Match" logic one must check the adjudication records for what eligibility was used.
IF EXISTS (	SELECT 	1
FROM 	adjudication_result_key ark
WHERE 	ark.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
ELSE ---if there are any Loans associated with the Eligibility Member and Benefit Plan, the Loan must be modified before the eligibility can be deleted.
IF EXISTS (	SELECT 	1
FROM 	family_eligibility_loan_detail feld
JOIN family_eligibility_loan fel ON fel.family_eligibility_loan_id = feld.family_eligibility_loan_id
JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_id = feld.family_eligibility_member_id
AND fembp.benefit_plan_id = fel.benefit_plan_id
WHERE 	fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END

--
RETURN @result
--
GO
