USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claims_viewer_claim_readjudication_queue_claim_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
;
REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------------------------
06/05/2009	lrenard		0.1		Created
12/06/2012	cknobloch   1.0     Added group, eligibility, and proceduce code group.
01/20/2014	lrenard		1.1		RT:4870 - Base Supp - Adding Plan Iteration check to eliminate duplicates since multiple adjudication results can occur for the same line
02/12/2014	cknobloch	1.2     RT:6039 - Temp Fix. These joins probably need to be broken out
more into ones that need always and ones that you need only
when the filter actually calls for it.
02/22/2016	tcross		1.3		Modified joins to adjudication_result_code table to improve performance
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.3
;
DESCRIPTION	: Procedure to load all claim id by readjudication queue id

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
plx_load_claim_lines_from_queue
;
HEADER_END;
*******************************************************************************/

CREATE PROCEDURE [dbo].[plx_claims_viewer_claim_readjudication_queue_claim_load]
(
@claim_readjudication_queue_id INT = null
)
AS
BEGIN

DECLARE
@SQL_SELECT NVARCHAR(4000),
@SQL_CONDITION NVARCHAR(4000),
@SQL_ORDER NVARCHAR(500),
@CUR_DATE DATETIME

SELECT
@SQL_SELECT = '',
@SQL_CONDITION = '',
@SQL_ORDER = '',
@CUR_DATE = GETDATE()

DECLARE
@SELECTION_KEY NVARCHAR(50),
@CLAIM_ALL_ID INT,
@ADJ_OBJ_NET_PAY_ID INT,
@ADJ_OBJ_FEE_SCHED_ID INT,
@ADJ_OBJ_NETWORK_ID INT,
@ADJ_OBJ_INDIVIDUAL_ELIGIBILITY_ID INT,
@DATE_TYPE_ID INT,
@OPEN_ID INT,
@AVAIL_STATUS_ID int

SELECT @CLAIM_ALL_ID = claim_form_type_id FROM claim_form_type WHERE golden_key = 'All Claims'
SELECT @ADJ_OBJ_NET_PAY_ID = adjudication_object_id FROM adjudication_object WHERE golden_key = 'NET_PAYMENT'
SELECT @ADJ_OBJ_FEE_SCHED_ID = adjudication_object_id FROM adjudication_object WHERE golden_key = 'FEE_SCHEDULE_ID'
SELECT @ADJ_OBJ_NETWORK_ID = adjudication_object_id FROM adjudication_object WHERE golden_key = 'PROVIDER_NETWORK_ID'
SELECT @ADJ_OBJ_INDIVIDUAL_ELIGIBILITY_ID = adjudication_object_id FROM adjudication_object WHERE golden_key = 'FAMILY_ELIGIBILITY_MEMBER_BENEFIT_PLAN_ID'
SELECT @OPEN_ID = adjudication_status_id FROM adjudication_status WHERE golden_key = 'OPEN'
SELECT @DATE_TYPE_ID = claim_date_type_id FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = @claim_readjudication_queue_id
SELECT @AVAIL_STATUS_ID = claim_payment_process_status_id
FROM claim_payment_process_status
WHERE golden_key = 'AVAILABLE'

IF EXISTS(SELECT * FROM claim_readjudication_queue q
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND q.result_code_id IS NOT NULL -- we only want result code for this query
AND q.claim_date_type_id IS NULL
AND q.client_group_id IS NULL
AND q.family_eligibility_member_benefit_plan_id IS NULL
AND q.fee_schedule_id IS NULL
AND q.procedure_code_group_id IS NULL
AND q.product_id IS NULL
AND q.provider_identifier_id IS NULL
AND q.provider_network_id IS NULL
AND q.result_code_set_id IS NULL
AND q.claim_form_type_id IS NULL

)
BEGIN
DECLARE @result_code_id INT
SET @result_code_id =
(
SELECT result_code_id
FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = @claim_readjudication_queue_id
)
SELECT DISTINCT
c.claim_id,
cp.claim_procedure_id,
cp.service_from_date,
cp.procedure_code_ud,
cp.procedure_code_2_ud,
c.claim_ud,
cft.claim_form_type_ud,
cft.golden_key as claim_form_type_gk,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
CASE WHEN ISNULL(cp.[is_system_generated], 0) = 0 THEN cp.charge
ELSE 0
END as billed_charges,
aa_net.net_payment as net_payment,
cpps.claim_payment_process_status_ud,
cpps.golden_key as claim_payment_process_status_gk
FROM claim_procedure cp
INNER JOIN claim c ON c.claim_id = cp.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN provider_identifier pid ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN adjudication_status adjs ON adjs.adjudication_status_id = cp.adjudication_status_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v ON v.vendor_id = c.vendor_id
LEFT JOIN adjudication_result_amount aa_net
ON aa_net.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN claim_payment_process_status cpps ON cpps.claim_payment_process_status_id = cp.claim_payment_process_status_id
LEFT JOIN procedure_code pc ON pc.procedure_code_id = cp.procedure_code_id
LEFT JOIN procedure_code pc2 ON pc2.procedure_code_id = cp.procedure_code_2_id
WHERE
cp.claim_procedure_id IN
(
SELECT
clm_proc.claim_procedure_id
FROM
claim_procedure clm_proc
JOIN adjudication_result_code adj_result_code ON
clm_proc.claim_procedure_id = adj_result_code.claim_procedure_id
WHERE ISNULL(cp.adjudication_status_id, 0) NOT IN (ISNULL(@OPEN_ID,0), 0)
AND cp.is_negated <> 1
AND adj_result_code.result_code_id = @result_code_id
)
END
ELSE
BEGIN

SELECT @SELECTION_KEY = golden_key FROM claim_selection_priority
WHERE claim_selection_priority_id in
(select claim_selection_priority_id from claim_readjudication_queue where claim_readjudication_queue_id = @claim_readjudication_queue_id)

SELECT @SQL_SELECT = '
SELECT DISTINCT
c.claim_id,
cp.claim_procedure_id,
cp.service_from_date,
cp.procedure_code_ud,
cp.procedure_code_2_ud,
c.claim_ud,
cft.claim_form_type_ud,
cft.golden_key as claim_form_type_gk,
v.vendor_ud,
fembp.member_eligibility_ud,
pid.provider_ud,
adjs.adjudication_status_ud,
CASE WHEN ISNULL(cp.is_system_generated, 0) = 0 THEN cp.charge
ELSE 0
END as billed_charges,
ara.net_payment,
cpps.claim_payment_process_status_ud,
cpps.golden_key as claim_payment_process_status_gk
FROM claim_procedure cp '

--RT:6039 Do Not Join if we do not need to.
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not procedure_code_group_id is null)
BEGIN
SELECT @SQL_SELECT = @SQL_SELECT + 'INNER JOIN vw_procedure_code_group_included_procedure_codes vw_included_px_codes
ON cp.procedure_code_id = vw_included_px_codes.procedure_code_id OR cp.procedure_code_ud = vw_included_px_codes.procedure_code_ud '
END

SELECT @SQL_SELECT = @SQL_SELECT + '
INNER JOIN claim c ON c.claim_id = cp.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN provider_identifier pid ON pid.provider_identifier_id = c.provider_identifier_id
LEFT JOIN adjudication_status adjs ON adjs.adjudication_status_id = cp.adjudication_status_id
LEFT JOIN claim_form_type cft ON cft.claim_form_type_id = c.claim_form_type_id
LEFT JOIN vendor v ON v.vendor_id = c.vendor_id
LEFT JOIN benefit_contract_period_benefit_plan bcpbp ON bcpbp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN benefit_contract_period bcp ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
LEFT JOIN benefit_contract bc ON bc.benefit_contract_id = bcp.benefit_contract_id
LEFT JOIN benefit_plan bp ON bp.benefit_plan_id = fembp.benefit_plan_id
LEFT JOIN client_group cg ON cg.client_group_id = bc.client_group_id
LEFT JOIN adjudication_result_amount ara ON ara.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_result_key ark ON ark.claim_procedure_id = cp.claim_procedure_id AND ara.plan_iteration_index = ark.plan_iteration_index
LEFT JOIN adjudication_run_claim_procedure arcp ON arcp.claim_procedure_id = cp.claim_procedure_id
LEFT JOIN adjudication_run ar ON ar.adjudication_run_id = arcp.adjudication_run_id
LEFT JOIN claim_payment_process_status cpps ON cpps.claim_payment_process_status_id = cp.claim_payment_process_status_id

INNER JOIN claim_readjudication_queue crq ON crq.claim_readjudication_queue_id = ' + cast(isnull(@claim_readjudication_queue_id,0) as nvarchar) + '
LEFT JOIN result_code_set_result_code_assign arcs on arcs.result_code_set_id = crq.result_code_set_id
LEFT JOIN adjudication_result_code arcC on arcC.result_code_id = arcs.result_code_id
and (arcC.claim_id = c.claim_id)
LEFT JOIN adjudication_result_code arcCP on arcCP.result_code_id = arcs.result_code_id
and (arcCP.claim_procedure_id = cp.claim_procedure_id)
'

--Check claim lines which are not OPEN
SELECT @SQL_CONDITION = '
WHERE isnull(cp.adjudication_status_id, 0) not in (' + cast(isnull(@OPEN_ID,0) as nvarchar) + ', 0)
--AND isnull(cp.claim_payment_process_status_id, @AVAIL_STATUS_ID) = @AVAIL_STATUS_ID
AND cp.is_negated <> 1
'

--Check Result Code Set
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not result_code_set_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND ''' + convert(nvarchar, @CUR_DATE, 101) + ''' BETWEEN ISNULL(arcs.effective_from, ''' + convert(nvarchar, @CUR_DATE, 101) + ''')
AND ISNULL(arcs.effective_thru, ''' + convert(nvarchar, @CUR_DATE, 101) + ''')
AND crq.result_code_set_id = ISNULL(arcs.result_code_set_id, 0)
AND 0 < (select count(*) FROM adjudication_result_code  a WHERE a.claim_procedure_id = cp.claim_procedure_id and a. result_code_id in (SELECT result_code_id from result_code_set_result_code_assign ra where ra.result_code_set_id = crq.result_code_set_id))
AND
(
arcs.result_code_id = arcC.result_code_id
OR arcs.result_code_id = arcCP.result_code_id
)'
END

--Check provider, provider network, result code, fee schedule and claim form type
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not provider_network_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.provider_network_id = ISNULL(ark.provider_network_id, 0)'
END

IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not provider_identifier_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.provider_identifier_id = ISNULL(c.provider_identifier_id, 0)'
END

IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not fee_schedule_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND ISNULL(ark.fee_schedule_id, 0) = crq.fee_schedule_id'
END

SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND (
isnull(crq.result_code_id, 0) = 0
OR crq.result_code_id IN (select result_code_id from adjudication_result_code arc where
crq.result_code_id = arc.result_code_id
and arc.claim_procedure_id = cp.claim_procedure_id)
)
'

IF EXISTS(select * from claim_readjudication_queue where isnull(claim_form_type_id,@CLAIM_ALL_ID) <> @CLAIM_ALL_ID and claim_readjudication_queue_id = @claim_readjudication_queue_id)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.claim_form_type_id = ISNULL(c.claim_form_type_id, 0) '
END

-- check product on benefit_plan
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not product_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.product_id = ISNULL(bp.product_id, 0)'
END

-- Check Group
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not client_group_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.client_group_id = ISNULL(cg.client_group_id, 0)'
END

-- Check Eligibility
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not family_eligibility_member_benefit_plan_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.family_eligibility_member_benefit_plan_id = ISNULL(ark.family_eligibility_member_benefit_plan_id, 0)'
END

-- Check Procedure Code Group
IF EXISTS(SELECT * FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = isnull(@claim_readjudication_queue_id,0)
AND not procedure_code_group_id is null)
BEGIN
SELECT @SQL_CONDITION = @SQL_CONDITION + '
AND crq.procedure_code_group_id = ISNULL(vw_included_px_codes.procedure_code_group_id, 0)'
END

IF ISNULL(@DATE_TYPE_ID,0) > 0
BEGIN
DECLARE
@DOS_ID INT,
@CLEAN_ID INT,
@RECIEVED_ID INT,
@ADJ_ID INT,
@FROM NVARCHAR(15),
@THRU NVARCHAR(15),
@MAX_DATE NVARCHAR(15),
@DATE_CONDITION NVARCHAR(1000)

SELECT @DOS_ID = claim_date_type_id from claim_date_type where golden_key = 'DOS'
SELECT @CLEAN_ID = claim_date_type_id from claim_date_type where golden_key = 'CLEAN'
SELECT @RECIEVED_ID = claim_date_type_id from claim_date_type where golden_key = 'RECEIVED'
SELECT @ADJ_ID = claim_date_type_id from claim_date_type where golden_key = 'ADJUDICATION_RUN'

SELECT @DATE_CONDITION = ' '

SELECT @FROM = convert(nvarchar, date_type_from_date, 101),
@THRU = convert(nvarchar,date_type_thru_date, 101),
@MAX_DATE = convert(nvarchar, dateadd(day, 0, '8888-08-08'), 101)
FROM claim_readjudication_queue
WHERE claim_readjudication_queue_id = @claim_readjudication_queue_id

--check date of service
IF @DATE_TYPE_ID = @DOS_ID
BEGIN
IF (ISNULL(@FROM, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ''' + @FROM + ''' <= cp.service_from_date '

IF (ISNULL(@THRU, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ISNULL(''' + @THRU + ''', cp.service_from_date) >= cp.service_from_date'

SELECT @DATE_CONDITION = @DATE_CONDITION + ' AND cp.claim_id = c.claim_id '
END
--check date type
ELSE IF @DATE_TYPE_ID = @CLEAN_ID
BEGIN
IF (ISNULL(@FROM, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ''' + @FROM + ''' <= c.clean_date'

IF (ISNULL(@THRU, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ISNULL(''' + @THRU + ''', cp.service_from_date) >= c.clean_date '
END
--check received date
ELSE IF @DATE_TYPE_ID = @RECIEVED_ID
BEGIN
IF (ISNULL(@FROM, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ''' + @FROM + ''' <=  c.received_date '

IF (ISNULL(@THRU, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ISNULL(''' + @THRU + ''', c.received_date) >= c.received_date '
END
--check adjudication run start date
ELSE IF @DATE_TYPE_ID = @ADJ_ID
BEGIN
IF (ISNULL(@FROM, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND ''' + @FROM + ''' <= ar.start_time '

IF (ISNULL(@THRU, '') <> '')
SELECT @DATE_CONDITION = @DATE_CONDITION
+ ' AND DATEADD(day,1,''' + @THRU + ''') >= ar.start_time '
END

SELECT @SQL_CONDITION = @SQL_CONDITION + @DATE_CONDITION

END

SELECT @SQL_ORDER = ' ORDER BY c.claim_ud ASC ' -- default


EXEC(@SQL_SELECT + @SQL_CONDITION + @SQL_ORDER)
--DEBUG
--PRINT ISNULL(@SQL_SELECT, '') + ISNULL(@SQL_CONDITION, '') + ISNULL(@SQL_ORDER, '')
END
END
GO
