USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_age_reduction_reduce_to_or_by_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 1/23/2013

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Load applicable rules for applying age reduction schedule percentages.
Used on the following forms:
Premium Billing - Age Reduction Schedule (grid)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_age_reduction_reduce_to_or_by_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
reduction_schedule_calculation_instruction_id
,reduction_schedule_calculation_instruction_ud
,golden_key
FROM
reduction_schedule_calculation_instruction
WHERE
golden_key in
(
'REDUCE_BY',
'REDUCE_TO'
)
--
RETURN @SP_SUCCESS
--
GO
