USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_framework_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2005	HiepNguyn	1.0		Created
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Writes a single object into the benefit_plan_accumulator_framework table.
This stored procedure is used in the Accumulator Framework of the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_accumulator_framework_id - Key to benefit_plan_accumulator_framework table, identifies a single benefit_plan_accumulator_framework_list,
@benefit_plan_id  - A property value of the benefit_plan_accumulator_framework_list object.
@benefit_framework_id  - A property value of the benefit_plan_accumulator_framework_list object.
@active  - A property value of the benefit_plan_accumulator_framework_list object.
@created_user_name  - A property value of the benefit_plan_accumulator_framework_list object.
@created_group_id  - A property value of the benefit_plan_accumulator_framework_list object.
@created_date  - A property value of the benefit_plan_accumulator_framework_list object.
@modified_date  - A property value of the benefit_plan_accumulator_framework_list object.
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_accumulator_framework_save]
(
@benefit_plan_accumulator_framework_id      int = NULL   OUTPUT
,@benefit_plan_id                            int = NULL
,@accumulator_framework_id                   int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
--
IF (isnull(@benefit_plan_accumulator_framework_id,0) <=0)
BEGIN
--- Create a new record
INSERT INTO benefit_plan_accumulator_framework(
benefit_plan_id
,accumulator_framework_id
,active
)
VALUES
(@benefit_plan_id
,@accumulator_framework_id
,@active
)
--
SET @benefit_plan_accumulator_framework_id = @@IDENTITY
-- Update the Accumulator Framework Assign
Declare @accumulator_framework_assignment_id int
INSERT INTO accumulator_framework_assignment(
--accumulator_framework_assignment_id
accumulator_framework_id
,benefit_plan_id
,effective_from
,active
)
VALUES
(--@accumulator_framework_assignment_id
@accumulator_framework_id
,@benefit_plan_id
,GETDATE()

,@active
)
--     SET @accumulator_framework_assignment_id = @@IDENTITY
-- End
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_accumulator_framework WHERE benefit_plan_accumulator_framework_id = @benefit_plan_accumulator_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_plan_accumulator_framework
SET
benefit_plan_id                          = @benefit_plan_id
,accumulator_framework_id                 = @accumulator_framework_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_plan_accumulator_framework_id = @benefit_plan_accumulator_framework_id
END
--
RETURN @SP_SUCCESS
--
GO
