USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_penalty_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Aug 30 2005  3:36PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down penalty_type (Penalty Type)
--
REQUIREMENTS:
--
INPUTS:
penalty_type_id - Key to penalty_type table, identifies a single stored dd_penalty_type_load.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_penalty_type_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
penalty_type.penalty_type_id
,penalty_type.penalty_type_ud
,penalty_type.golden_key


/*   ,penalty_type.description
,penalty_type.active
,penalty_type.created_user_name
,penalty_type.created_group_id

,created_group.created_group_ud
,penalty_type.created_date
,penalty_type.modified_date*/
FROM penalty_type
-- inner join created_group  ON created_group.created_group_id = penalty_type.created_group_id
--WHERE penalty_type.penalty_type_id = @penalty_type_id
--
ORDER BY penalty_type_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
--  RAISERROR('dd_penalty_type_load object not found in penalty_type for internal key %d.', 16, 1, @penalty_type_id)
RETURN @SP_EXCEPTION
END
--
GO
