USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_assignment_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy Hein
05/05/2009
--
REVISION_HISTORY:
--
Date		Modified By			Version		Description
--------------------------------------------------------------------------------

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Financial Responsibility Assignments grid in Financial Responsibility Assignments form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE               PROCEDURE [dbo].[plx_financial_responsibility_assignment_load]
(
@financial_responsibility_assignment_id			Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
fra.financial_responsibility_assignment_id
,fra.financial_responsibility_assignment_ud

,fra.financially_responsible_party_id
,frp.financially_responsible_party_ud

,fra.criteria_id
,criteria.criteria_ud

,fra.client_id
,client_name.client_ud

,fra.client_group_id
,client_group_name.client_group_ud

,fra.benefit_contract_id
,benefit_contract.benefit_contract_ud

,fra.benefit_category_id
,benefit_category.benefit_category_ud
,benefit_category.golden_key as benefit_category_GK

,fra.network_level_id
,network_level.network_level_ud
,network_level.golden_key as network_level_GK

,fra.treatment_type_id
,tt.treatment_type_ud

,fra.financial_responsibility_schedule_id
,frs.financial_responsibility_schedule_ud

,fra.result_code_id
,rc.result_code_ud

,fra.result_code_status_id
,rcs.result_code_status_ud
,rcs.golden_key as result_code_GK

,fra.effective_from
,fra.effective_thru
,isnull(fra.effective_thru,'9999/01/01') as      sort_effective_thru


FROM financial_responsibility_assignment fra
left join financially_responsible_party frp on fra.financially_responsible_party_id = frp.financially_responsible_party_id
left join criteria on fra.criteria_id = criteria.criteria_id
left join client on fra.client_id = client.client_id
left join client_name on client.client_id = client_name.client_id and client_name.primary_name = 1
left join client_group on fra.client_group_id = client_group.client_group_id
left join client_group_name on client_group.client_group_id = client_group_name.client_group_id and client_group_name.primary_name = 1
left join benefit_contract on fra.benefit_contract_id = benefit_contract.benefit_contract_id
left join benefit_category on fra.benefit_category_id = benefit_category.benefit_category_id
left join network_level on fra.network_level_id = network_level.network_level_id
left join treatment_type tt on fra.treatment_type_id = tt.treatment_type_id
left join financial_responsibility_schedule frs on fra.financial_responsibility_schedule_id = frs.financial_responsibility_schedule_id
left join result_code rc on fra.result_code_id = rc.result_code_id
left join result_code_status rcs on fra.result_code_status_id = rcs.result_code_status_id

WHERE fra.financial_responsibility_assignment_id = @financial_responsibility_assignment_id
-- Default Sort order on Effective Through (descending order), Effective From (descending order), then Financial Responsibility Schedule ID (ascending order).
ORDER BY sort_effective_thru DESC, fra.effective_from DESC, fra.financial_responsibility_schedule_id

--
RETURN @SP_SUCCESS
GO
