USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_family_age_calculation_rule_bc_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
01/17/2017	eponomareff		1.0		RT:10284 - system factors
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load data for drop down family_age_calculation_rule (Family Age Calculation Rule)
on the Benefit Contract premium Setup form
It is used in both the individual control and the group control.

NOTE -  This stored procedure is similar to the stored procedure [plx_dd_family_age_calculation_rule_load],
except that it excludes the setting Use Benefit Contract Age Based Rules.
--
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_family_age_calculation_rule_bc_load]
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
family_age_calculation_rule.family_age_calculation_rule_id
,family_age_calculation_rule.family_age_calculation_rule_ud
,family_age_calculation_rule.golden_key
FROM dbo.family_age_calculation_rule
WHERE golden_key <> 'Use Benefit Contract Age Based Rules'
ORDER BY family_age_calculation_rule.family_age_calculation_rule_ud
--
RETURN @SP_SUCCESS
GO
