USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_waiting_period_definition_override_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
AUTHOR: eponomareff
DATE: 03/5/2018
--
DESCRIPTION:
Save data for Benefit Waiting Period Override grid
on Advanced Individual Eligibility Setup form, Benefit Waiting Period tab,
providing the user with the ability to override the completed date and comment.


--
******************************/
CREATE   PROCEDURE [dbo].[plx_eligibility_waiting_period_definition_override_save]
(
@eligibility_waiting_period_definition_override_id                         int OUTPUT,
@family_eligibility_member_benefit_plan_id                                 int,
@benefit_waiting_period_relationship_to_subscriber_waiting_period_id       int,
-- editable fields
@override_completed_date                                                   date,
@comment                                                                   nvarchar(200)
)
AS
BEGIN

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION	= -1


-- eligibility_waiting_period_definition_override elig_override
IF ISNULL(@eligibility_waiting_period_definition_override_id, 0) = 0
-- create new record
BEGIN
INSERT eligibility_waiting_period_definition_override (
family_eligibility_member_benefit_plan_id,
benefit_waiting_period_relationship_to_subscriber_waiting_period_id,
override_completed_date,
comment )
VALUES (
@family_eligibility_member_benefit_plan_id,
@benefit_waiting_period_relationship_to_subscriber_waiting_period_id,
@override_completed_date,
@comment)
SET @eligibility_waiting_period_definition_override_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
IF @override_completed_date IS NOT NULL OR @comment IS NOT NULL
BEGIN
-- update existing record
UPDATE 	eligibility_waiting_period_definition_override
SET
override_completed_date     = @override_completed_date
,comment                     = @comment
,modified_user_name          = ORIGINAL_LOGIN()
,modified_date               = GETDATE()
WHERE eligibility_waiting_period_definition_override_id
= @eligibility_waiting_period_definition_override_id
END
ELSE
BEGIN
-- delete the existing record if both the Override Date and the Comment are NULL
DELETE eligibility_waiting_period_definition_override
WHERE eligibility_waiting_period_definition_override_id
= @eligibility_waiting_period_definition_override_id
-- null out the record id, otherwise subsequent updates will fail
SET @eligibility_waiting_period_definition_override_id = NULL
END
END

RETURN @SP_SUCCESS
END
GO
