USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_detail_by_vendor_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton	1.0			Created
05/02/2017	Aaron Mortensen 1.1			RT:11873 - updating to load billing provider instead of rendering provider
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimPaymentRunDetail on form frmClaimPaymentRunDetail

--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_payment_run_detail_by_vendor_load] (
@claim_payment_run_id INT = 0,
@vendor_id INT = 0,
--Filter Information
@claim_id INT = NULL,
@provider_id INT = NULL
)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT 0 AS release,
c.claim_id,
c.claim_ud,
c.billing_provider_id,
provid.provider_ud,
dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix) AS provider_name,
SUM(cpra.amount) AS amount_per_claim
FROM dbo.claim_payment_run_amount cpra
LEFT JOIN claim_procedure cp
ON cpra.claim_procedure_id = cp.claim_procedure_id
INNER JOIN claim c
ON cpra.claim_id = c.claim_id
OR cp.claim_id = c.claim_id
LEFT JOIN provider_identifier provid
ON c.billing_provider_identifier_id = provid.provider_identifier_id
LEFT JOIN provider_name pn
ON c.billing_provider_id = pn.provider_id
AND pn.is_primary = 1
WHERE cpra.claim_payment_run_id = @claim_payment_run_id
AND ISNULL(cpra.vendor_id, 0) = ISNULL(@vendor_id, 0)
AND (
@claim_id IS NULL
OR c.claim_id = @claim_id
)
AND (
@provider_id IS NULL
OR c.billing_provider_id = @provider_id
)
GROUP BY c.claim_ud,
c.claim_id,
provid.provider_ud,
dbo.plx_ConcatenateName(pn.name_last, pn.name_first, pn.name_middle, pn.name_suffix),
c.billing_provider_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
