USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_next_invoice_agent_id]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

DESCRIPTION	:
Get the next agent identifier that matches the pattern of date + counter.

This procedure uses plx_fn_IntToString to pad the counter so that at a minimum it will always
have length = 7.

This procedure will check that the agent identifier being returned is unique in the system
and if it is not will keep incrementing counter until a unique identifier is obtained.

;
REQUIREMENTS	:
None
;
INPUTS		:
None
;
OUTPUTS		:
None
;
RETURN_VALUES	:

A nvarchar(50) string of prefix + counter with counter no less than
"@counter_length" characters.

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_get_next_invoice_agent_id]
(
@golden_key	NVARCHAR(50) = NULL,
@invoice_agent_identifier_ud		NVARCHAR(100) = NULL OUTPUT
)
AS
BEGIN

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @prefix		NVARCHAR(100) = NULL

SELECT @invoice_agent_identifier_ud = ''

-- If a golden_key isn't passed in or it is an empty string then try to find the
-- golden key from the global system configuration table.
IF ISNULL(@golden_key, '') = ''
BEGIN
-- Get Global Rule auto create agent rule ID golden key
SELECT @golden_key = ISNULL(aca.golden_key, '')
FROM   dbo.global_rule gr
LEFT JOIN auto_create_invoice_agent_id_rule aca
ON gr.auto_create_invoice_agent_id_rule_id = aca.auto_create_invoice_agent_id_rule_id
WHERE ISNULL(gr.global_rule_id,0) = 1
END

SELECT @golden_key = ISNULL(@golden_key, '')

IF (@golden_key='DATE_COUNTER')
BEGIN
SELECT @prefix = CONVERT(NVARCHAR(8), GETDATE(), 112)
END
ELSE -- There was no match for the criteria above; no id will be generated and exit.
BEGIN
SELECT @invoice_agent_identifier_ud AS invoice_agent_identifier_ud
RETURN @SP_SUCCESS
END

DECLARE
@auto_create_counter_type_ud			NVARCHAR(200),
@counter_pad_length						INT,
@counter								INT,
@counter_text							NVARCHAR(50),
@invoice_agent_id_type_id_auto_generated_id	INT

SET @counter_pad_length = 7
SET @auto_create_counter_type_ud = 'agent ' + @prefix

EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @invoice_agent_identifier_ud = ISNULL(@prefix, '') + @counter_text

SELECT @invoice_agent_id_type_id_auto_generated_id = invoice_agent_id_type_id
FROM invoice_agent_id_type
WHERE golden_key = 'AUTO_GENERATED_ID'

WHILE EXISTS (
SELECT * FROM invoice_agent_identifier
WHERE invoice_agent_identifier_ud = @invoice_agent_identifier_ud )
BEGIN
EXEC @counter = dbo.plx_generate_counter @auto_create_counter_type_ud
SELECT @counter_text = dbo.plx_fn_IntToString(@counter, @counter_pad_length)
SELECT @invoice_agent_identifier_ud = ISNULL(@prefix, '') + @counter_text
END

SELECT @invoice_agent_identifier_ud AS invoice_agent_identifier_ud
RETURN @SP_SUCCESS
END
GO
