USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_institutional_provider_info_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
--
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to load provider data for Institutional claim form
;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/

CREATE   PROCEDURE [dbo].[plx_claim_institutional_provider_info_load]
(
@provider_identifier_id	INT = NULL
)
AS
BEGIN

--Get provider_identifier_type_id for NPI
DECLARE	@npi_provider_identifier_type_id int, @provider_id int

SET 	@npi_provider_identifier_type_id =
(SELECT pit.provider_identifier_type_id
FROM provider_identifier_type pit
WHERE  pit.golden_key = 'NPI')

-- Get provider_id for provider_address (rather than practice_office contact)
SELECT @provider_id = provider_id FROM provider_identifier
WHERE provider_identifier_id = @provider_identifier_id

SELECT
pi.provider_id as provider_id
, pi.provider_identifier_id as provider_identifier_id
, pi.provider_ud as provider_ud
, pn.name_last
, pn.name_first
, substring(pn.name_middle,1,1) as provider_name_middle
, popa.address_1
, popa.address_2
, popa.postal_code
, popa.city
, popa.[state]
, popa.country_ud
, pi_npi.provider_ud as provider_npi
FROM dbo.Provider p
LEFT JOIN dbo.provider_identifier pi ON p.provider_id = pi.provider_id
LEFT JOIN dbo.provider_name pn ON pn.provider_id = p.provider_id AND pn.is_primary = 1
--rewritten to return a single row if an address exists
LEFT JOIN
-- using a derived table to get a single address for this provider
-- RT:7235 - modifying to match initial load, so that provider address is the most current address
--		 in the provider address table. (Previously, it was pulling the practice office contact address)
--		 This change is related to the overall address project - RT:7004 - Address Enhancement Project.
(SELECT top 1 a.address_1,
a.address_2,
pa.provider_id,
l.postal_code,
l.city,
ct.country_ud,
st.state_ud as [state]
--l.statecode
FROM dbo.address a
INNER JOIN dbo.provider_address pa
ON a.address_id = pa.address_id
LEFT JOIN locale l
ON l.locale_id = a.locale_id
LEFT JOIN country ct
ON ct.country_id = l.country_id
LEFT JOIN [state] st
ON st.state_id = l.state_id
WHERE pa.provider_id = @provider_id
-- take the most recent address
ORDER BY pa.effective_from DESC
)
AS popa
ON popa.provider_id = p.provider_id

LEFT JOIN dbo.provider_identifier pi_npi on pi_npi.provider_id = p.provider_id
AND pi_npi.provider_identifier_type_id = @npi_provider_identifier_type_id

WHERE   ((pi.provider_identifier_id = @provider_identifier_id) OR (ISNULL(@provider_identifier_id, 0) = 0))
END
GO
