USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_account_assignment_claim_payment_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
05/29/2008 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/29/2008	David Slayton	1.0			Created
07/18/2008	David Slayton	1.1			Renamed table from claim_payment_vendor_account_assignment
to account_assignment_claim_payment
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row from grdCPAccountAssignment on frmAccountAssignments.
--
REQUIREMENTS:
--
INPUTS:
@account_assignment_claim_payment_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_account_assignment_claim_payment_delete]
(
@account_assignment_claim_payment_id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_DELETE = '105280012',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
--
IF NOT EXISTS (SELECT * FROM account_assignment_claim_payment WHERE account_assignment_claim_payment_id = @account_assignment_claim_payment_id)
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM account_assignment_claim_payment
WHERE account_assignment_claim_payment_id = @account_assignment_claim_payment_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
