USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_has_medical_condition_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Oct 19 2005  5:36PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down has_medical_condition (Has Medical Condition)
--
REQUIREMENTS:
--
INPUTS:
has_medical_condition_id - Key to has_medical_condition table, identifies a single stored dd_has_medical_condition.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_has_medical_condition_load]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
has_medical_condition.has_medical_condition_id
,has_medical_condition.has_medical_condition_ud
,golden_key
--,has_medical_condition.description
--,has_medical_condition.active
--,has_medical_condition.created_user_name
--,has_medical_condition.created_group_id

--,created_group.created_group_ud
--,has_medical_condition.created_date
--,has_medical_condition.modified_date
FROM has_medical_condition
ORDER BY has_medical_condition.has_medical_condition_ud ASC

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
