USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cob_government_health_plan_id_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cknobloch
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
9/7/2011	cknobloch		1.0			Made
--------------------------------------------------------------------------------
--
CURRENT_VERSION	: 1.0
--
DESCRIPTION	: Procedure to load 'cob_government_health_plan_id_type' table (dropdown data)
--
ICU:
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_cob_government_health_plan_id_type_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cob_government_health_plan_id_type_id
,cob_government_health_plan_id_type_ud
,golden_key
FROM cob_government_health_plan_id_type


--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
END
GO
