USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_stages_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN; ;
--
AUTHOR: Mabdul\ CFacey
August 21 2007  1:35PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
08/12/2010	Mabdul\ CFacey	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
--
ICU # 19267
--
DESCRIPTION:
To save the Correspondence stages grid in the correspondence form
--
REQUIREMENTS:
--
INPUTS:
Cascade changes
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_correspondence_stages_save]
(
@correspondence_stage_id						INT = NULL   OUTPUT
,@stage_number										INT = NULL
,@correspondence_action_id						INT = NULL
,@correspondence_id								INT = NULL
,@report_setup_id									INT = NULL
,@days_to_next_stage								INT = NULL
,@response_required								BIT = 0
,@response_report_setup_id						INT = NULL
,@active												BIT = NULL
)

AS

--
DECLARE
@SP_SUCCESS				INT,
@SP_EXCEPTION			INT,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST		NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS				= 0,
@SP_EXCEPTION			=-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST		= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

--- saving correspondence stage information

IF @correspondence_stage_id IS NULL
BEGIN

--- Create a new correspondence record
INSERT INTO correspondence_stage(
stage_number
,correspondence_id
,correspondence_action_id
,report_setup_id
,days_to_next_stage
,response_required
,response_report_setup_id
,active
)
VALUES
(@stage_number
,@correspondence_id
,@correspondence_action_id
,@report_setup_id
,@days_to_next_stage
,@response_required
,@response_report_setup_id
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_stage_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM correspondence_stage WHERE correspondence_stage_id = @correspondence_stage_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar INT, @RowCountVar INT

--- Updating an existing correspondence stage record
UPDATE correspondence_stage
SET
stage_number								= @stage_number
,correspondence_action_id				= @correspondence_action_id
,report_setup_id							= @report_setup_id
,days_to_next_stage						= @days_to_next_stage
,response_required						= @response_required
,response_report_setup_id				= @response_report_setup_id
,active										= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE correspondence_stage_id = @correspondence_stage_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
GO
