USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_incentive_required_procedure_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 04/08/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
04/08/2011	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for required_procedure grid on the frmCoverageIncentive form

--
REQUIREMENTS:
--
INPUTS:
@coverage_incentive_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_coverage_incentive_required_procedure_list_load]
(
@coverage_incentive_id		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
ci.coverage_incentive_id
,cirp.coverage_incentive_required_procedure_id
,cirp.procedure_code_id
,pc.procedure_code_ud
,pc.description
,cirp.procedure_code_group_id
,pcg.procedure_code_group_ud
,pcg.description as procedure_code_group_description
,cirp.min_number
,cirp.calendar_year
,cirp.through
FROM
coverage_incentive ci
JOIN
coverage_incentive_required_procedure cirp ON ci.coverage_incentive_id = cirp.coverage_incentive_id
LEFT JOIN procedure_code pc ON cirp.procedure_code_id = pc.procedure_code_id
LEFT JOIN procedure_code_group pcg ON cirp.procedure_code_group_id = pcg.procedure_code_group_id
WHERE ci.coverage_incentive_id = @coverage_incentive_id
ORDER BY cirp.calendar_year, cirp.through


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
