USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_employee_class_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/14/2005	mttran		1.0			created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load an  employee class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_employee_class_load]
(
@employee_class_id			INT
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
employee_class.employee_class_id
,employee_class.employee_class_ud
,employee_class.client_group_id
,employee_class.employee_class_nm
,employee_class.description as employee_class_desc
FROM 	dbo.employee_class
INNER JOIN client_group  ON client_group.client_group_id = employee_class.client_group_id
WHERE 	employee_class.employee_class_id = @employee_class_id
--

RETURN @SP_SUCCESS
GO
