USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_identifier_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
2009-01-16
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row in grid "Contact Identifiers"
in frmContacts form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_contact_identifier_save]

(
@contact_identifier_id         int = NULL   OUTPUT
,@contact_identifier_ud         nvarchar(50) = NULL
,@contact_id                    int = NULL
,@identifier_type_id            int = NULL
,@active                        bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @contact_identifier_id IS NULL
BEGIN

--- Create a new contact_identifier record
INSERT INTO contact_identifier(
contact_id
,contact_identifier_ud
,identifier_type_id
,active
)
VALUES
(@contact_id
,@contact_identifier_ud
,@identifier_type_id
,@active
)
--
SET @contact_identifier_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM contact_identifier WHERE contact_identifier_id = @contact_identifier_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

--- Updating an existing contact_identifier record
UPDATE contact_identifier
SET
contact_id                          = @contact_id
,contact_identifier_ud              = @contact_identifier_ud
,identifier_type_id                 = @identifier_type_id
,active                             = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
contact_identifier_id = @contact_identifier_id
END
--
RETURN @SP_SUCCESS
--
GO
