USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_additional_result_code_information_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
March 18 2008    Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/18/2008	Vishwa Jella		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
selects additional result code information for adjudication result codes
--
REQUIREMENTS:
--
INPUTS:
@processing_result_code_id - Key to adjudication_result_code table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE      PROCEDURE [dbo].[plx_adjudication_additional_result_code_information_load]
(
@processing_result_code_id		Int= NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT DISTINCT
ARC.adjudication_result_code_id as processing_result_code_id
,'' AS processing_object_table_name
,'' AS processing_object_column_name
,ARC.result_code_id
,ARC.comment
,RC.result_code_ud
,RC.long_message AS description
FROM    adjudication_result_code AS ARC
LEFT OUTER JOIN result_code AS RC ON ARC.result_code_id = RC.result_code_id
WHERE   ARC.adjudication_result_code_id = @processing_result_code_id

--
RETURN @SP_SUCCESS
GO
