USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_attachment_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:

This procedure is used to save claim supplemental documents
Form: All claim forms
Grid: Claim Supplemental Document
******************************/
CREATE PROCEDURE [dbo].[plx_claim_attachment_save]
(
@claim_attachment_id						INT = 0 OUTPUT,
@claim_id									INT = NULL,
@claim_attachment_type_code_id				INT = NULL,
@claim_attachment_action_id					INT = NULL,
@document_date								DATE = NULL,
@claim_attachment_transmission_source_id	INT = NULL,
@attachment_control_number					NVARCHAR(80),
@document_link								NVARCHAR(MAX),
@comments									NVARCHAR(1000)
)
AS


DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--

DECLARE @claim_attachment_transmission_source_gk NVARCHAR(8)
SET @claim_attachment_transmission_source_gk =
(
SELECT golden_key
FROM claim_attachment_transmission_source cats
WHERE
cats.claim_attachment_transmission_source_id = @claim_attachment_transmission_source_id
)

IF ISNULL(@claim_attachment_id, 0) = 0
-- Create a new record
BEGIN
INSERT INTO claim_attachment (
claim_id,
claim_attachment_type_code_id,
claim_attachment_action_id,
document_date,
claim_attachment_transmission_source_gk,
attachment_control_number,
document_link,
comments
)
SELECT
@claim_id,
@claim_attachment_type_code_id,
@claim_attachment_action_id,
@document_date,
@claim_attachment_transmission_source_gk,
@attachment_control_number,
@document_link,
@comments


IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS);

SET @claim_attachment_id = SCOPE_IDENTITY();
END

ELSE IF NOT EXISTS (SELECT * FROM claim_attachment WHERE
claim_attachment_id = @claim_attachment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--

ELSE
BEGIN
UPDATE claim_attachment
SET
claim_id									= @claim_id,
claim_attachment_type_code_id				= @claim_attachment_type_code_id,
claim_attachment_action_id					= @claim_attachment_action_id,
document_date								= @document_date,
claim_attachment_transmission_source_gk		= @claim_attachment_transmission_source_gk,
attachment_control_number					= @attachment_control_number,
document_link								= @document_link,
comments									= @comments,
modified_user_name							=	ORIGINAL_LOGIN(),
modified_date								=	GETDATE()
WHERE
claim_attachment_id = @claim_attachment_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
GO
