USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 02/25/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
02/25/2010	David Slayton	1.0		Created.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data for Coverage Restrictions grid on Eligibility Restriction form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_eligibility_restriction_relationship_to_subscriber_coverage_restriction_save]
(
@eligibility_restriction_relationship_to_subscriber_coverage_restriction_id	INT = NULL   OUTPUT
,@eligibility_restriction_relationship_to_subscriber_id						INT = NULL

,@effective_from							DATETIME = NULL
,@effective_thru							DATETIME = NULL
,@eligibility_waiting_period_date_rule_id	INT	= NULL
,@number_of_units							INT = NULL
,@unit_day_week_month_year_id				INT = NULL
,@result_code_id							INT = NULL
,@result_code_status_id					INT = NULL

,@active									BIT = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id is Null
BEGIN
--- Create a new record
INSERT INTO eligibility_restriction_relationship_to_subscriber_coverage_restriction(
eligibility_restriction_relationship_to_subscriber_id
,effective_from
,effective_thru
,eligibility_waiting_period_date_rule_id
,number_of_units
,unit_day_week_month_year_id
,override_result_code_id
,override_result_code_status_id
,active
)
VALUES
(@eligibility_restriction_relationship_to_subscriber_id
,@effective_from
,@effective_thru
,@eligibility_waiting_period_date_rule_id
,@number_of_units
,@unit_day_week_month_year_id
,@result_code_id
,@result_code_status_id
,@active
)
--
SET @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM eligibility_restriction_relationship_to_subscriber_coverage_restriction WHERE eligibility_restriction_relationship_to_subscriber_coverage_restriction_id = @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE eligibility_restriction_relationship_to_subscriber_coverage_restriction
SET
effective_from							= @effective_from
,effective_thru							= @effective_thru
,eligibility_waiting_period_date_rule_id	= @eligibility_waiting_period_date_rule_id
,number_of_units							= @number_of_units
,unit_day_week_month_year_id				= @unit_day_week_month_year_id
,override_result_code_id					= @result_code_id
,override_result_code_status_id			= @result_code_status_id
,active									= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE eligibility_restriction_relationship_to_subscriber_coverage_restriction_id = @eligibility_restriction_relationship_to_subscriber_coverage_restriction_id
END
--
RETURN @SP_SUCCESS
--
GO
