USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_months_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
8/8/2005	HungTNguyen		1.0		Created
02/09/2006       HungTNguyen                 1.2         	Month is ordered by 1->12 not by alpha -> beta
06/05/2006	tinh do			1.3		Add golden_key
07/11/2006	Anh Ta			1.3 		Using for 16985 Savings Bank (COB)
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'months' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE     PROCEDURE [dbo].[plx_dd_months_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
month_id
,month_ud
,golden_key
FROM month
ORDER BY sort_order

--
RETURN @SP_SUCCESS
--
GO
