USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_currency_exchange_rate_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 10/04/2005
--
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'currency_exchange_rate_rule' table (dropdown data)

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE   PROCEDURE [dbo].[plx_dd_currency_exchange_rate_rule_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
currency_exchange_rate_rule_id
,currency_exchange_rate_rule_ud
,golden_key
FROM 	currency_exchange_rate_rule
ORDER BY currency_exchange_rate_rule_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
