USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_find_treatment_category_in_treatment_type_set]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;

AUTHOR		: Trinh Le
;
REVISION_HISTORY:

Date		Modified By		Version		Description
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
SPEC:


CURRENT_VERSION	: 1.0
;
DESCRIPTION	:
This procedure is used to check the existence of a treatment category in a treatment type set
;
REQUIREMENTS	:

None
;
INPUTS		:  @type  : 1  Benefit Framework
2  Accumulator Framework

;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE          procedure [dbo].[plx_check_find_treatment_category_in_treatment_type_set]
@treatment_category_ud					NVARCHAR(100)=NULL,
@treatment_type_set_id 	INT = NULL
--	@type 	INT = 1   --Default is Benefit Framework
AS
BEGIN

SELECT
ttc.treatment_type_category_id,
ttc.treatment_type_category_ud

FROM treatment_type_category_treatment_type_set tts
inner join treatment_type_category ttc
on tts.treatment_type_category_id=ttc.treatment_type_category_id
WHERE
ttc.treatment_type_category_ud = @treatment_category_ud
and tts.treatment_type_set_id=@treatment_type_set_id

END
GO
