USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_add_on_procedure_code_schedule_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CKnobloch
DATE: 5/25/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/25/2012	CKnobloch	1.0			create
07/19/2013	CMaddox		1.0			update for RT:4571 - changed to duplicate the schedule as well as the add-on procedure record, and returned the new ID.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to duplicate frmAddOnProcedureCodeSchedule.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_add_on_procedure_code_schedule_duplicate]
(
@ID						INT, -- procedure_code_add_on_schedule_id
@UD						NVARCHAR(50) -- new UD

) AS
--
SET NOCOUNT ON
--
DECLARE
@new_procedure_code_add_on_schedule_id INT


INSERT INTO procedure_code_add_on_schedule
(
procedure_code_add_on_schedule_ud,
description,
effective_from,
effective_thru
)
SELECT
@UD,
description,
effective_from,
effective_thru
from procedure_code_add_on_schedule
WHERE procedure_code_add_on_schedule_id = @ID

SELECT @new_procedure_code_add_on_schedule_id = SCOPE_IDENTITY()

-- copy add on procedure codes
INSERT INTO procedure_code_add_on(
parent_procedure_code_id
,add_on_procedure_code_id
,effective_from
,effective_thru
,procedure_code_add_on_schedule_id
,result_code_id
,imported_add_on
,active
)
SELECT
parent_procedure_code_id
,add_on_procedure_code_id
,effective_from
,effective_thru
,@new_procedure_code_add_on_schedule_id
,result_code_id
,imported_add_on
,active
FROM procedure_code_add_on
WHERE procedure_code_add_on_schedule_id = @ID

RETURN isnull(@new_procedure_code_add_on_schedule_id, 0)
GO
