USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_medicare_identifier_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_medicare_identifier_type_list_load]
AS
SET NOCOUNT ON

SELECT
mit.medicare_identifier_type_id
,mit.medicare_identifier_type_ud
FROM medicare_identifier_type mit
ORDER BY mit.medicare_identifier_type_ud

RETURN 0
GO
