USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_update_write_off_amount]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Zach Burgess>
-- Create date: <01/15/2024>
-- Last modified date: <01/15/2024>
-- Description:	<Update write off amounts on unbalanced check-run>
-- =============================================
CREATE PROCEDURE [dbo].[BIND_update_write_off_amount]
	 @commit bit
	 ,@claim nvarchar(50),
	 @upDate datetime = NULL,
	 @upUser nvarchar(128) = NULL
AS
BEGIN

	SET @upUser = SYSTEM_USER
	SET @upDate = getdate()
	select @commit as commit_bit
	select @claim as claim_identifier
	DECLARE @original TABLE (claim_id INT
							, claim_ud nvarchar(50)
							, negated_claim_line_sequence numeric(19,4)
							, negated_write_off_amount numeric(19,4)
							, original_claim_line_sequence numeric(19,4)
							, original_write_off_amount numeric(19,4)
							)
INSERT INTO @original
select c.claim_id
		, c.claim_ud
		, negated_cp.claim_line_sequence as negated_claim_line_sequence
		, negated_ara.write_off_amount as negated_write_off_amount
		, orig_cp.claim_line_sequence as original_claim_line_sequence
		, orig_ara.write_off_amount as orignal_write_off_amount
from claim c 
	inner join claim_procedure negated_cp 
		on c.claim_id = negated_cp.claim_id
	inner join adjudication_result_amount negated_ara
		on negated_cp.claim_procedure_id = negated_ara.claim_procedure_id
	inner join claim_procedure orig_cp
		on negated_cp.negated_claim_procedure_id = orig_cp.claim_procedure_id
	inner join adjudication_result_amount orig_ara
		on orig_cp.claim_procedure_id = orig_ara.claim_procedure_id
where c.claim_ud = @claim
	and negated_cp.is_negated = 1
	and negated_ara.write_off_amount is null
	and orig_ara.write_off_amount is not null


SELECT * from @original
END
GO
