USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_professional_medical_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tinhdo
DATE: 01/13/2006
--
REVISION_HISTORY:
--
Date				Modified By			Version		Description
--------------------------------------------------------------------------------
01/13/2006		tinhdo				1.0			create
11/18	/2009		Vishwa Jella		2.0			added default_modifier field to use is modifier is not
found on claim line
8/10/2011			dcannon				2.1			added fee_schedule_rule_id parameter
2/21/2012			dcannon				2.2			Added anesthesia calculation rule for RT 1591
--
CURRENT_VERSION: 2.2
--
DESCRIPTION:
This procedure is used to load data for frmFeeScheduleProfessionalMedical form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_fee_schedule_professional_medical_load]

(
@fee_schedule_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
fee_schedule.fee_schedule_id
,fee_schedule.fee_schedule_ud
--,fee_schedule.fee_schedule_nm
,fee_schedule.description
,fee_schedule.anesthesia_per_unit
,fee_schedule.round_to_whole
,fee_schedule.round_to_tenth
,fee_schedule.round_up
,fee_schedule.default_procedure_code_type_id as procedure_code_type_id
,procedure_code_type.procedure_code_type_ud
,fee_schedule.base_fee_schedule_payment_percentage_value
,fee_schedule.base_fee_schedule_id
,base_fee_schedule.fee_schedule_ud as base_fee_schedule_ud
,fee_schedule.default_modifier
,fee_schedule.fee_schedule_rule_id
,fsr.fee_schedule_rule_ud
,fee_schedule.anesthesia_calculation_rule_id
,acr.anesthesia_calculation_rule_ud
,fee_schedule.anesthesia_add_on_code_calculation
FROM fee_schedule
left join fee_schedule base_fee_schedule  ON base_fee_schedule.fee_schedule_id = fee_schedule.base_fee_schedule_id
left join   procedure_code_type ON procedure_code_type.procedure_code_type_id=fee_schedule.default_procedure_code_type_id
left join fee_schedule_rule fsr ON fee_schedule.fee_schedule_rule_id = fsr.fee_schedule_rule_id
left join anesthesia_calculation_rule acr ON fee_schedule.anesthesia_calculation_rule_id = acr.anesthesia_calculation_rule_id
WHERE fee_schedule.fee_schedule_id = @fee_schedule_id

RETURN @SP_SUCCESS
--
GO
