USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_all_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Nov 01 2005 Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/20/2006	Trinh Le					Apply changes on "Benefit_class" table
05/21/2009	Vishwa		1.1		Updated with sort_order
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load all benefit class
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_benefit_class_all_load]
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_class.benefit_class_id
,benefit_class.benefit_class_ud
,benefit_class.description
,benefit_class.ui_engine_data_type_id as class_data_type_id
FROM benefit_class
ORDER BY benefit_class.sort_order
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
