USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dental_claim_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThangNguyen
Date: 08/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/17/2005	ThangNguyen	1.0		Created
12/05/2005	HuyThan		1.1		Changed pay_claim_to => claim_payee
02/09/2006	ThuyHa		1.2		Changed treatment_for_orthodontics to treatment_of_orthodontics,
date_applicance_placed to date_appliance_placed
02/24/2006	ThuyHa		1.3		Set modified_date = null when objects are newly created
03/08/2006	ThuyHa		1.4		created_date & modified_date use DB Server date
08/30/2006	HuyThan		1.5		remove carrier_level
09/06/2006	HuyThan		1.6		add claim.provider_speciality_id
09/12/2006	HuyThan		1.6		changed claim.provider_speciality_id => claim.provider_specialty_id
10/07/2008	eponomareff			changed claim.provider_specialty_id --> claim.provider_specialty_type_id
06/16/2009  ioveracker  1.7		Added repriced_network_id.
06/23/2009  ioveracker  1.8		Changed repriced_network_id to repriced_network.
11/03/2009	Vishwa		1.9		Added Use Eligibility Entered bit field to override Find Eligibility Rule
on Global System form
03/04/2010	Vishwa		2.0		Added rendering_provider_additional_ud, referring_provider_additional_ud,
billing_provider_additional_ud fields
03/11/2010	Vishwa		2.1		added service_preauth field to support dental claim pre_determination services
10/17/2011	ggutshall	2.2		added place_of_treatment_id
07/30/2013	eponomareff	2.3		removed four bit fields replaced by place_of_treatment_id combobox
06/23/2014	eponomareff	2.4		RT:6737 replace place_of_treatment_id with place_of_service_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
02/18/2015  Amortensen  2.5     RT:7538 - Updated for Original Date Received, added error handling, cleaned up stored procedure
03/01/2016  jbernard	2.8		Added code to update the missing info status.
--
CURRENT_VERSION: 2.5
--
DESCRIPTION:
This procedure is used to save data for frmDentalClaim form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dental_claim_save]
(
@dental_claim_id                         INT = NULL OUTPUT
,@claim_id                               INT = NULL OUTPUT
,@claim_ud                               NVARCHAR(100) = NULL
,@dental_claim_type_id                   INT = NULL
,@statement_of_actual_services           BIT = NULL
,@request_for_preauthorization           BIT = NULL
,@epsdt                                  BIT = NULL
,@other_coverage                         BIT = NULL
,@patient_account_number                 NVARCHAR(100) = NULL
,@other_fee                              NUMERIC(20,10) = NULL
,@remarks                                NVARCHAR(600) = NULL
,@provider_signature_on_file             BIT = NULL
,@provider_signature_on_file_date        DATETIME = NULL
,@carrier_level_id                       INT = NULL
,@place_of_service_id					 INT = NULL
,@treatment_of_orthodontics              BIT = NULL
,@date_appliance_placed                  DATETIME = NULL
,@months_of_treatment_remaining          INT = NULL
,@replacement_of_prothesis               BIT = NULL
,@date_of_prior_placement                DATETIME = NULL
,@treatment_due_to_occupational_illness  BIT = NULL
,@treatment_due_to_auto_accident         BIT = NULL
,@treatment_due_to_other                 BIT = NULL
,@date_of_accident                       DATETIME = NULL
,@state_id                               INT = NULL
,@patient_paid_amount                    NUMERIC(20,10) = NULL
,@currency_display_id                    INT = NULL
,@subscriber_signature_on_file_id	     INT = NULL
,@subscriber_signature_on_file_date      DATETIME = NULL
,@patient_guardian_signature_on_file     BIT = 0
,@patient_guardian_signature_on_file_date  DATETIME = NULL
,@display_currency_id                    INT = NULL
,@save_currency	                         NVARCHAR(50)=NULL
,@exchange_date                          DATETIME = NULL
,@exchange_rate                          NUMERIC(13) = NULL
,@ppo_claim_number                       NVARCHAR(50) = NULL
,@repriced_network                       NVARCHAR(50) = NULL
,@document_serial_number                 NVARCHAR(50) = NULL
,@active                                 BIT = 1
,@adjusted_claim                         BIT = 0
,@non_clean_claim				         BIT = 0
,@episode_id                             INT = NULL
,@received_date                          DATETIME = NULL
,@clean_date                             DATETIME = NULL
,@claim_payee_id                         INT = NULL
,@member_eligibility_id                  INT = NULL
,@use_eligibility_entered                BIT = 0
,@rendering_provider_id                  INT = NULL
,@rendering_provider_identifier_id       INT = NULL
,@rendering_provider_additional_ud		 NVARCHAR(50) = NULL
,@rendering_provider_specialty_type_id   INT = NULL
,@rendering_provider_taxonomy_code       NVARCHAR(50) = NULL
,@vendor_id                              INT = NULL
,@referring_provider_additional_ud		 NVARCHAR(50) = NULL
,@practice_office_id                     INT = NULL
,@provider_license                       NVARCHAR(50) = NULL
,@vendor_license                         NVARCHAR(50) = NULL
,@claim_status_id                        INT = NULL
,@billing_provider_id                    INT = NULL
,@billing_provider_identifier_id         INT = NULL
,@billing_provider_additional_ud		 NVARCHAR(50) = NULL
,@billing_provider_specialty_type_id     INT = NULL
,@billing_provider_taxonomy_code         NVARCHAR(50) = NULL
,@received_inhouse                       DATETIME = NULL
,@user_credential                        NVARCHAR(255) = NULL
,@paper_claim							 BIT = 0
,@original_source_gk               		  NVARCHAR(50) = NULL


) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@ERROR_CANT_INSERT   NVARCHAR(50),
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_NOT_EXIST     NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT = '105280009',
@ERROR_CANT_UPDATE = '105280010',
@ERROR_NOT_EXIST   = '105280011'

---------------------------------------------------
--  Assign claim form type
DECLARE @claim_form_type AS INT
SELECT @claim_form_type = claim_form_type_id
FROM claim_form_type
WHERE claim_form_type.golden_key = 'Dental'
---------------------------------------------------

------------------------------------------------------------------
-- Assign claim additional date type
DECLARE @received_inhouse_date_type AS INT
SELECT @received_inhouse_date_type = claim_additional_date_type_id
FROM claim_additional_date_type
WHERE claim_additional_date_type.golden_key = 'RECEIVED_INHOUSE'
-----------------------------------------------------------------

DECLARE @ErrorVar INT, @RowCountVar INT;

BEGIN TRANSACTION

-------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF CLAIM DATA --
-------------------------------------------------
IF ISNULL(@claim_id, 0) = 0
BEGIN

--- Create a new record for claim table
INSERT INTO claim(
claim_ud
,adjusted_claim
,non_clean_claim
,clean_date
,received_date
,claim_form_type_id
,family_eligibility_member_benefit_plan_id
,use_eligibility_entered
,provider_id
,provider_identifier_id
,rendering_provider_additional_ud
,provider_specialty_type_id
,rendering_provider_taxonomy_code
,vendor_id
,referring_provider_additional_ud
,practice_office_id
,adjudication_status_id
,claim_payee_id
,episode_id
,provider_signature_on_file
,provider_signature_on_file_date
,subscriber_signature_on_file_id
,subscriber_signature_on_file_date
,patient_guardian_signature_on_file
,patient_guardian_signature_on_file_date
,display_currency_id
,ppo_claim_number
,repriced_network
,document_serial_number
,billing_provider_identifier_id
,billing_provider_id
,billing_provider_additional_ud
,billing_provider_specialty_type_id
,billing_provider_taxonomy_code
,user_credential
,paper_claim
,original_source_gk
,active
)
VALUES
(
@claim_ud
,@adjusted_claim
,@non_clean_claim
,@clean_date
,@received_date
,@claim_form_type
,@member_eligibility_id
,@use_eligibility_entered
,@rendering_provider_id
,@rendering_provider_identifier_id
,@rendering_provider_additional_ud
,@rendering_provider_specialty_type_id
,@rendering_provider_taxonomy_code
,@vendor_id
,@referring_provider_additional_ud
,@practice_office_id
,@claim_status_id
,@claim_payee_id
,@episode_id
,@provider_signature_on_file
,@provider_signature_on_file_date
,@subscriber_signature_on_file_id
,@subscriber_signature_on_file_date
,@patient_guardian_signature_on_file
,@patient_guardian_signature_on_file_date
,@display_currency_id
,@ppo_claim_number
,@repriced_network
,@document_serial_number
,@billing_provider_identifier_id
,@billing_provider_id
,@billing_provider_additional_ud
,@billing_provider_specialty_type_id
,@billing_provider_taxonomy_code
,@user_credential
,@paper_claim
,@original_source_gk
,@active
)

SELECT @ErrorVar = @@ERROR

IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @claim_id = SCOPE_IDENTITY()
END
ELSE
BEGIN
--- updating claim
UPDATE claim
SET
claim_ud                                   = @claim_ud
,adjusted_claim                            = @adjusted_claim
,non_clean_claim                           = @non_clean_claim
,clean_date                                = @clean_date
,received_date                             = @received_date
,claim_form_type_id                        = @claim_form_type
,family_eligibility_member_benefit_plan_id = @member_eligibility_id
,use_eligibility_entered                   = @use_eligibility_entered
,provider_id                               = @rendering_provider_id
,rendering_provider_additional_ud          = @rendering_provider_additional_ud
,provider_identifier_id                    = @rendering_provider_identifier_id
,provider_specialty_type_id                = @rendering_provider_specialty_type_id
,rendering_provider_taxonomy_code          = @rendering_provider_taxonomy_code
,vendor_id                                 = @vendor_id
,referring_provider_additional_ud          = @referring_provider_additional_ud
,practice_office_id                        = @practice_office_id
,adjudication_status_id                    = @claim_status_id
,claim_payee_id                            = @claim_payee_id
,episode_id                                = @episode_id
,provider_signature_on_file                = @provider_signature_on_file
,provider_signature_on_file_date           = @provider_signature_on_file_date
,subscriber_signature_on_file_id           = @subscriber_signature_on_file_id
,subscriber_signature_on_file_date         = @subscriber_signature_on_file_date
,patient_guardian_signature_on_file        = @patient_guardian_signature_on_file
,patient_guardian_signature_on_file_date   = @patient_guardian_signature_on_file_date
,display_currency_id                       = @display_currency_id
,ppo_claim_number                          = @ppo_claim_number
,repriced_network                          = @repriced_network
,document_serial_number                    = @document_serial_number
,billing_provider_identifier_id            = @billing_provider_identifier_id
,billing_provider_id                       = @billing_provider_id
,billing_provider_additional_ud            = @billing_provider_additional_ud
,billing_provider_specialty_type_id        = @billing_provider_specialty_type_id
,billing_provider_taxonomy_code            = @billing_provider_taxonomy_code
,paper_claim                               = @paper_claim
,active                                    = @active
,modified_user_name                        = ORIGINAL_LOGIN()
,modified_date                             = GETDATE()

WHERE claim_id = @claim_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END

------------------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF THE DENTAL CLAIM DATA --
------------------------------------------------------------
IF ISNULL(@dental_claim_id, 0) = 0
BEGIN
--- Create a new dental claim record
INSERT INTO dental_claim(
claim_id
,dental_claim_type_id
,statement_of_actual_services
,request_for_preauthorization
,epsdt
,other_coverage
,patient_account_number
,other_fee
,remarks
,carrier_level_id
,place_of_service_id
,treatment_of_orthodontics
,date_appliance_placed
,months_of_treatment_remaining
,replacement_of_prothesis
,date_of_prior_placement
,treatment_due_to_occupational_illness
,treatment_due_to_auto_accident
,treatment_due_to_other
,date_of_accident
,state_id
,patient_paid_amount
,provider_license
,vendor_license
,active
)
VALUES
(
@claim_id
,@dental_claim_type_id
,@statement_of_actual_services
,@request_for_preauthorization
,@epsdt
,@other_coverage
,@patient_account_number
,@other_fee
,@remarks
,@carrier_level_id
,@place_of_service_id
,@treatment_of_orthodontics
,@date_appliance_placed
,@months_of_treatment_remaining
,@replacement_of_prothesis
,@date_of_prior_placement
,@treatment_due_to_occupational_illness
,@treatment_due_to_auto_accident
,@treatment_due_to_other
,@date_of_accident
,@state_id
,@patient_paid_amount
,@provider_license
,@vendor_license
,@active
)

SELECT @ErrorVar = @@ERROR

IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @dental_claim_id = SCOPE_IDENTITY()

END
ELSE
BEGIN

-- Updating Dental Claim record
UPDATE dental_claim
SET
claim_id                                  = @claim_id
,dental_claim_type_id					  = @dental_claim_type_id
,statement_of_actual_services             = @statement_of_actual_services
,request_for_preauthorization             = @request_for_preauthorization
,epsdt                                    = @epsdt
,other_coverage                           = @other_coverage
,patient_account_number                   = @patient_account_number
,other_fee                                = @other_fee
,remarks                                  = @remarks
,carrier_level_id                         = @carrier_level_id
,place_of_service_id                      = @place_of_service_id
,treatment_of_orthodontics                = @treatment_of_orthodontics
,date_appliance_placed                    = @date_appliance_placed
,months_of_treatment_remaining            = @months_of_treatment_remaining
,replacement_of_prothesis                 = @replacement_of_prothesis
,date_of_prior_placement                  = @date_of_prior_placement
,treatment_due_to_occupational_illness    = @treatment_due_to_occupational_illness
,treatment_due_to_auto_accident           = @treatment_due_to_auto_accident
,treatment_due_to_other                   = @treatment_due_to_other
,date_of_accident                         = @date_of_accident
,state_id                                 = @state_id
,patient_paid_amount                      = @patient_paid_amount
,provider_license                         = @provider_license
,vendor_license                           = @vendor_license
,active                                   = @active
,modified_user_name                       = ORIGINAL_LOGIN()
,modified_date                            = GETDATE()

WHERE dental_claim_id = @dental_claim_id


SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
--
END
---------------------------------------------------------------------------------------
-- HANDLE THE CREATION OR UPDATE OF THE CLAIM ADDITIONAL DATE (RECEIVED_INOUSE) DATA --
---------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT claim_additional_date_id FROM claim_additional_date WHERE claim_id = @claim_id AND claim_additional_date_type_id = @received_inhouse_date_type)
BEGIN
---Create claim_additional_date (only if received_inhouse is not null)
IF @received_inhouse IS NOT NULL
BEGIN
INSERT INTO claim_additional_date
(
claim_id,
claim_additional_date_type_id,
date_stamp,
active
)
VALUES
(
@claim_id,
@received_inhouse_date_type,
@received_inhouse,
@active
)
END

SELECT @ErrorVar = @@ERROR
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
END
ELSE
BEGIN
---Update claim_additional_date (only if received_inhouse is not null)
IF @received_inhouse IS NOT NULL
BEGIN

-- Updating claim_additonal_date
UPDATE claim_additional_date
SET
date_stamp							= @received_inhouse
,active = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_id = @claim_id AND claim_additional_date_type_id = @received_inhouse_date_type

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
ELSE IF @RowCountVar = 0
BEGIN
ROLLBACK TRANSACTION
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
END
--if received_inhouse is null, delete the record
ELSE
BEGIN
DELETE FROM claim_additional_date
WHERE claim_id = @claim_id
END
END
EXEC [dbo].[plx_update_missing_info_status] @ClaimId = @claim_id
COMMIT TRANSACTION
--
--
RETURN @SP_SUCCESS
--
GO
