USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_beneficiary_relationship_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_beneficiary_relationship_load]
AS
SET NOCOUNT ON

SELECT
br.beneficiary_relationship_id
,br.beneficiary_relationship_ud
FROM beneficiary_relationship br
ORDER BY br.beneficiary_relationship_ud

RETURN 0
GO
