USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_eligibility_underwriting_determination_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_eligibility_underwriting_determination_list_load]
(
@family_eligibility_member_benefit_plan_id int = 0
)
AS

SET NOCOUNT ON
--
SELECT
eud.eligibility_underwriting_determination_id
,eud.family_eligibility_member_benefit_plan_id
,eud.underwriting_reviewer_id
,ur.underwriting_reviewer_ud
,ur.underwriting_reviewer_nm
,eud.underwriting_review_decision_id
,urd.underwriting_review_decision_ud
,eud.underwriting_review_code_id
,urc.underwriting_review_code_ud
,eud.review_date
,eud.modified_user_name
,eud.comment
FROM dbo.eligibility_underwriting_determination eud
left join underwriting_reviewer ur on eud.underwriting_reviewer_id = ur.underwriting_reviewer_id
left join underwriting_review_decision urd on eud.underwriting_review_decision_id = urd.underwriting_review_decision_id
left join underwriting_review_code urc on eud.underwriting_review_code_id = urc.underwriting_review_code_id
WHERE
eud.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
ORDER BY ISNULL(eud.review_date, '9999-12-31') DESC

RETURN 0
GO
