USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
Date: 11/29/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/29/2005	Lamnguyen	1.0		Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This Sp is used to delete a row in grid "Topic is Available on the Following Forms"
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:
@additional_information_id int
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_additional_information_delete]
(
@additional_information_id                  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM additional_information WHERE additional_information_id = @additional_information_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM additional_information
WHERE additional_information_id = @additional_information_id
END
--
RETURN @SP_SUCCESS
--
GO
