USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_payment_detail_invoices_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE: 04/23/2009
--
REVISION_HISTORY:
--
Date        Modified By		Version Description
--------------------------------------------------------------------------------
04/23/2009  W.Christensen	1.0     Created
05/05/2009  W.Christensen	1.1     Changed sort order
03/14/2012	A.Mortensen		1.2		Added is_posted column
03/26/2012	A.Mortensen		1.3		updated to not add unapplied amounts if payment is voided

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads invoices into Customer Payment form's "Apply To" grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_payment_detail_invoices_load]
(
@accounting_transaction_ar_id	int = NULL,
@customer_id					int = NULL,
@accounting_company_id			int = NULL,
@accounting_company_account_id	int = NULL
)
AS

SET NOCOUNT ON

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@IGNORE_ENTERED bit,
@unapplied_amount numeric,
@VOIDED_accounting_payment_status_id nvarchar(50),
@APPLIED_accounting_payment_status_id nvarchar(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@IGNORE_ENTERED = 1

--Get payment status id for 'VOIDED'
SELECT @VOIDED_accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status WHERE accounting_payment_status_ud = 'VOIDED'

--Get payment status id for 'APPLIED'
SELECT @APPLIED_accounting_payment_status_id = accounting_payment_status_id
FROM accounting_payment_status WHERE accounting_payment_status_ud = 'APPLIED'

--If payment is 'VOIDED' or 'APPLIED', do not add unapplied amounts
IF ((SELECT accounting_payment_status_id
FROM accounting_transaction_ar_payment_detail
WHERE accounting_transaction_ar_id = @accounting_transaction_ar_id)
IN (@VOIDED_accounting_payment_status_id, @APPLIED_accounting_payment_status_id))
BEGIN

SELECT
ata.accounting_transaction_ar_id AS invoice_id,
ata.accounting_transaction_ar_ud AS invoice_ud,
CASE
WHEN apply_to.accounting_transaction_ar_apply_to_id IS NULL THEN 0
ELSE 1
END AS 'apply',
invoice.due_date,
ata.transaction_amount AS invoice_amount,
dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) AS unapplied_amount,
apply_to.accounting_transaction_ar_apply_to_id,
ISNULL(apply_to.from_accounting_transaction_ar_id, @accounting_transaction_ar_id) AS from_accounting_transaction_ar_id,
apply_to.to_accounting_transaction_ar_id,
apply_to.amount,
apply_to.comment,
ISNULL(apply_to.is_posted, 0)AS is_posted

FROM accounting_transaction_ar_invoice_detail invoice
INNER JOIN accounting_transaction_ar ata
ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
INNER JOIN accounting_invoice_status invstat
ON invoice.accounting_invoice_status_id = invstat.accounting_invoice_status_id
JOIN accounting_transaction_ar_apply_to AS apply_to
ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
AND apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
WHERE
-- Include ONLY invoices APPLIED TO this customer payment
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id

ORDER BY due_date, invoice_ud
END
ELSE
BEGIN
SELECT
ata.accounting_transaction_ar_id AS invoice_id,
ata.accounting_transaction_ar_ud AS invoice_ud,
CASE
WHEN apply_to.accounting_transaction_ar_apply_to_id IS NULL THEN 0
ELSE 1
END AS 'apply',
invoice.due_date,
ata.transaction_amount AS invoice_amount,
dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT)+ ISNULL(apply_to.amount, 0) AS unapplied_amount,
apply_to.accounting_transaction_ar_apply_to_id,
ISNULL(apply_to.from_accounting_transaction_ar_id, @accounting_transaction_ar_id) AS from_accounting_transaction_ar_id,
apply_to.to_accounting_transaction_ar_id,
apply_to.amount,
apply_to.comment,
ISNULL(apply_to.is_posted, 0)AS is_posted

FROM accounting_transaction_ar_invoice_detail invoice
INNER JOIN accounting_transaction_ar ata
ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
INNER JOIN accounting_invoice_status invstat
ON invoice.accounting_invoice_status_id = invstat.accounting_invoice_status_id
LEFT JOIN accounting_transaction_ar_apply_to AS apply_to
ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
AND apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
WHERE
-- Include invoices paid by this customer payment
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
-- OR, Any open, unpaid invoices matching the customer/accounting company of this customer payment
OR (
ata.customer_id = @customer_id
AND ata.accounting_company_id = @accounting_company_id
AND invoice.ar_accounting_company_account_id = @accounting_company_account_id
AND (dbo.fn_invoice_is_available(invoice.accounting_transaction_ar_id) = 1)
-- allow available $0 invoices to be paid by Customer Payment
AND (dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT) >= 0)
)

ORDER BY due_date, invoice_ud
END


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION
--
GO
