USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_benefit_coverage_exception_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 09/15/2009
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
05/15/2009	Vishwa			1.0		Created
08/27/2009	Vishwa			2.0		Updated with effective_from and effective_thru save fields for update operation
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for benefit coverage exception rules grid
--
REQUIREMENTS:
--
INPUTS:
@benefit_benefit_coverage_restriction_rule_id
,@benefit_id
,@benefit_coverage_restriction_rule_id
,@effective_from
,@effective_thru

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_benefit_coverage_exception_rule_save]
(
@benefit_benefit_coverage_exception_rule_id       int = NULL   OUTPUT
,@benefit_id													int = NULL
,@benefit_coverage_exception_rule_id					int = NULL
,@effective_from												datetime = NULL
,@effective_thru												datetime = NULL
,@active															bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

--
IF @benefit_benefit_coverage_exception_rule_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_benefit_coverage_exception_rule(
benefit_id
,benefit_coverage_exception_rule_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_id
,@benefit_coverage_exception_rule_id
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_benefit_coverage_exception_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_benefit_coverage_exception_rule WHERE benefit_benefit_coverage_exception_rule_id = @benefit_benefit_coverage_exception_rule_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_benefit_coverage_exception_rule
SET
benefit_id										= @benefit_id
,benefit_coverage_exception_rule_id		= @benefit_coverage_exception_rule_id
,effective_from								= @effective_from
,effective_thru								= @effective_thru
,active											= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_benefit_coverage_exception_rule_id = @benefit_benefit_coverage_exception_rule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


END
--
RETURN @SP_SUCCESS
--
GO
