USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_waiting_period_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_waiting_period_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
-- First check that the record exists
IF NOT EXISTS (	SELECT	benefit_waiting_period_id
FROM	benefit_waiting_period
WHERE	benefit_waiting_period_id = @id)
RETURN @SP_DELETE_ABLE
ELSE
BEGIN
-- check to see if IN USE by a Benefit Contract
IF EXISTS(
SELECT * FROM benefit_contract_period_benefit_plan_benefit_waiting_period bcpbpwp
WHERE bcpbpwp.benefit_waiting_period_id = @id)
BEGIN
SELECT DISTINCT 'Benefit Contract' AS object_golden_key, benefit_contract_ud AS object_ud
FROM benefit_contract bc
JOIN
benefit_contract_period bcp on bc.benefit_contract_id = bcp.benefit_contract_id
JOIN
benefit_contract_period_benefit_plan bcpbp on bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
JOIN
benefit_contract_period_benefit_plan_benefit_waiting_period bcpbpwp on bcpbp.benefit_contract_period_id = bcpbpwp.benefit_contract_period_benefit_plan_id
WHERE bcpbpwp.benefit_waiting_period_id = @id
RETURN @SP_DELETE_UNABLE
END
-- check to see if IN USE by an Eligibility
-- Note: If so, there will also need to be (or have been) a Benefit Contract attached,
-- so it is unlikely this code condition every hit.
IF EXISTS(
SELECT 1 FROM eligibility_waiting_period_definition_override elig_bwpDef_Override
JOIN benefit_waiting_period_relationship_to_subscriber_waiting_period bwpDef
ON elig_bwpDef_Override.benefit_waiting_period_relationship_to_subscriber_waiting_period_id =
bwpDef.benefit_waiting_period_relationship_to_subscriber_waiting_period_id
JOIN benefit_waiting_period_relationship_to_subscriber bwpSub
ON bwpDef.benefit_waiting_period_relationship_to_subscriber_id =
bwpSub.benefit_waiting_period_relationship_to_subscriber_id
WHERE bwpSub.benefit_waiting_period_id = @id)
BEGIN
-- there could be multiple eligibilites;
SELECT TOP(1) 'Eligibility' AS object_golden_key, member_eligibility_ud AS object_ud
FROM family_eligibility_member_benefit_plan fembp
JOIN eligibility_waiting_period_definition_override elig_bwpDef_Override
ON fembp.family_eligibility_member_benefit_plan_id
= elig_bwpDef_Override.family_eligibility_member_benefit_plan_id
JOIN benefit_waiting_period_relationship_to_subscriber_waiting_period bwpDef
ON elig_bwpDef_Override.benefit_waiting_period_relationship_to_subscriber_waiting_period_id =
bwpDef.benefit_waiting_period_relationship_to_subscriber_waiting_period_id
JOIN benefit_waiting_period_relationship_to_subscriber bwpSub
ON bwpDef.benefit_waiting_period_relationship_to_subscriber_id =
bwpSub.benefit_waiting_period_relationship_to_subscriber_id
WHERE bwpSub.benefit_waiting_period_id = @id

RETURN @SP_DELETE_UNABLE
END
END

RETURN @SP_DELETE_ABLE
GO
