USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_referral_urgency_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
DATE: 03/27/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/27/2006	Han Cao
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down referral_urgency (Urgency)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE     PROCEDURE [dbo].[plx_dd_referral_urgency_load]


AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
referral_urgency.referral_urgency_id
,referral_urgency.referral_urgency_ud
--   ,referral_urgency.description
FROM referral_urgency

Order by referral_urgency_ud



--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
