USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_group_type_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 07/28/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete a row in grid "Code Group Types"
in frmCodeGroupType form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_group_type_delete]

(
@code_group_type_id                         int = NULL   OUTPUT
,@cascade                                    bit = 0
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM code_group_type WHERE code_group_type_id = @code_group_type_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM code_group_type
WHERE code_group_type_id = @code_group_type_id
END
--
RETURN @SP_SUCCESS
END
GO
