USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_stage_response_received_cc_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN; ;
--
AUTHOR: Mabdul\ CFacey
August 21 2007  1:35PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
08/12/2010	Mabdul\ CFacey	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
--
ICU # 19267
--
DESCRIPTION:
This procedure is used to save data for Resopnse Received CC grid
--
REQUIREMENTS:
--
INPUTS:
Cascade changes
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_correspondence_stage_response_received_cc_save]
(
@correspondence_stage_correspondence_entity_id		int = NULL   OUTPUT
,@correspondence_entity_id									int = NULL
,@correspondence_stage_id									int = NULL
,@active															bit = NULL
)

AS

--
DECLARE
@SP_SUCCESS				int,
@SP_EXCEPTION			int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST		NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS				= 0,
@SP_EXCEPTION			=-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST		= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

--- saving correspondence stage information

IF @correspondence_stage_correspondence_entity_id IS NULL
BEGIN

--- Create a new correspondence record
INSERT INTO correspondence_stage_correspondence_entity(
correspondence_entity_id
,correspondence_stage_id
,is_cc_for_initial_document
,active
)
VALUES
(@correspondence_entity_id
,@correspondence_stage_id
,0
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @correspondence_stage_correspondence_entity_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM correspondence_stage_correspondence_entity
WHERE correspondence_stage_correspondence_entity_id = @correspondence_stage_correspondence_entity_id)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing correspondence cycle record
UPDATE correspondence_stage_correspondence_entity
SET
correspondence_entity_id				= @correspondence_entity_id
,active										= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE correspondence_stage_correspondence_entity_id = @correspondence_stage_correspondence_entity_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
GO
