USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_result_codes_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
Oct 25 2006  3:31PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/01/2006	ThuyNguyen	1.0		Created
09/03/2014  eponomareff             RT:6046 Data modification project

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete the result code on claim form
--
REQUIREMENTS:
--
INPUTS:
@adjudication_result_code_id - Key to adjudication_result_code table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_claim_result_codes_delete]
(
@adjudication_result_code_id                int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM adjudication_result_code WHERE adjudication_result_code_id = @adjudication_result_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
--Sample Cascade logic:
--IF @cascade != 0
--  BEGIN
--
--    DELETE FROM adjudication_result_code_key
--    WHERE adjudication_result_code_key.adjudication_result_code_id in
--    ( @adjudication_result_code_id
--    )
--
--    DELETE FROM
--    adjudication_result_code_override
--    WHERE adjudication_result_code_override.adjudication_result_code_id in
--    ( @adjudication_result_code_id
--    )
--
--  END
--
DELETE FROM adjudication_result_code_override
WHERE adjudication_result_code_id = @adjudication_result_code_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END

DELETE FROM adjudication_result_code
WHERE adjudication_result_code_id = @adjudication_result_code_id



--DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
