USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_detail_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to save a timely claim payment filter.
--
REQUIREMENTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_timely_payment_queue_detail_save]
(
@claim_timely_payment_queue_detail_id	INT,
@reviewed								BIT,
@active									BIT   = 1
) AS
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0


UPDATE claim_timely_payment_queue_detail
SET
reviewed							    = @reviewed,
active									= @active,
modified_user_name						= ORIGINAL_LOGIN(),
modified_date							= GETDATE()
WHERE claim_timely_payment_queue_detail_id	= @claim_timely_payment_queue_detail_id

--
RETURN @SP_SUCCESS
--
GO
