USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reinsurance_invoice_date_rule_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 09/15/2022
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
09/15/2022  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the Invoice Date Rule dropdown on the Reinsurance Contract form.

******************************/
CREATE PROCEDURE [dbo].[plx_dd_reinsurance_invoice_date_rule_list_load]
AS
SELECT
invoice_date_rule_id,
invoice_date_rule_ud,
golden_key
FROM invoice_date_rule
WHERE golden_key = 'DATE_CREATED_PLUS_NUMBER_OF_DAYS';
RETURN 0
GO
