USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_service_stage_provider_pcp_eligibilities]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_capitation_service_stage_provider_pcp_eligibilities]
(
@capitationDefinitionId INT,
@providerId INT,
@effectiveFrom DATE,
@effectiveThru DATE,
@memberRosterId INT
)
AS

SET NOCOUNT ON;

TRUNCATE TABLE capitation_staging_eligibilities;

DECLARE
@pcpCategoryTypeId INT,
@rosterPerEligibilityId INT,
@rosterPerEnrollmentId INT,
@relationshipSelfId INT,
@relationshipGuarantorId INT,
@rosterMemberSelectionId INT;

SELECT @pcpCategoryTypeId = pct.provider_category_type_id FROM provider_category_type pct WHERE pct.golden_key = 'PCP';
SELECT @rosterPerEligibilityId = cms.capitation_member_selection_id FROM capitation_member_selection cms WHERE cms.golden_key = 'PER_ELIGIBILITY';
SELECT @rosterPerEnrollmentId = cms.capitation_member_selection_id FROM capitation_member_selection cms WHERE cms.golden_key = 'PER_ENROLLMENT';
SELECT @relationshipSelfId = rti.relationship_to_insured_id FROM relationship_to_insured rti WHERE rti.golden_key = 'Self';
SELECT @relationshipGuarantorId = rti.relationship_to_insured_id FROM relationship_to_insured rti WHERE rti.golden_key = 'Guarantor';

SELECT @rosterMemberSelectionId = cmr.capitation_member_selection_id FROM capitation_member_roster cmr WHERE cmr.capitation_member_roster_id = @memberRosterId;

WITH qualified_eligibility
(
eligibility_id,
enrollment_id,
benefit_plan_id,
benefit_contract_id,
client_group_id,
client_id,
benefit_category_id,
eligibility_effective_from,
eligibility_effective_thru,
provider_assignment_effective_from,
provider_assignment_effective_thru
)
AS
(
SELECT
e.family_eligibility_member_benefit_plan_id,
fe.family_eligibility_id,
e.benefit_plan_id,
fe.benefit_contract_id,
bc.client_group_id,
cg.client_id,
bf.benefit_category_id,
e.effective_from AS 'eligibility_effective_from',
e.effective_thru AS 'eligibility_effective_thru',
ep.effective_from AS 'provider_assignment_effective_from',
ep.effective_thru AS 'provider_assignment_effective_thru'
FROM
family_eligibility_member_benefit_plan_provider ep
INNER JOIN provider_category pc
ON pc.provider_category_id = ep.provider_category_id
INNER JOIN family_eligibility_member_benefit_plan e
ON e.family_eligibility_member_benefit_plan_id = ep.family_eligibility_member_benefit_plan_id
INNER JOIN family_eligibility_member fem
ON fem.family_eligibility_member_id = e.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
INNER JOIN benefit_contract bc
ON bc.benefit_contract_id = fe.benefit_contract_id
INNER JOIN client_group cg
ON cg.client_group_id = bc.client_group_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = e.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
WHERE
ep.provider_id = @providerId

-- Only working with providers assigned as the PCP.
AND pc.provider_category_type_id = @pcpCategoryTypeId

-- Provider assignment intersects period.
AND (ep.effective_from IS NULL OR ep.effective_from <= @effectiveThru)
AND (ep.effective_thru IS NULL OR @effectiveFrom <= ep.effective_thru)

-- Eligibility intersects period.
AND e.effective_from < @effectiveThru
AND (e.effective_thru IS NULL OR @effectiveFrom < e.effective_thru)

AND
(
-- Per eligibility, take them all.
@rosterMemberSelectionId = @rosterPerEligibilityId
OR
(
-- Per enrollment, take only SELF and GUARANTOR.
@rosterMemberSelectionId = @rosterPerEnrollmentId
AND
(
fem.relationship_to_insured_id = @relationshipSelfId
OR fem.relationship_to_insured_id = @relationshipGuarantorId
)
)
)
)
INSERT INTO capitation_staging_eligibilities
(
eligibility_id,
enrollment_id
)
SELECT DISTINCT
qe.eligibility_id,
qe.enrollment_id
FROM
qualified_eligibility qe
CROSS JOIN capitation_member_roster_criteria mrc
WHERE
-- Criteria rows that intersect the period.
mrc.capitation_member_roster_id = @memberRosterId
AND mrc.effective_from < @effectiveThru
AND (mrc.effective_thru IS NULL OR @effectiveFrom < mrc.effective_thru)

AND (mrc.benefit_plan_id IS NULL OR mrc.benefit_plan_id = qe.benefit_plan_id)
AND (mrc.benefit_contract_id IS NULL OR mrc.benefit_contract_id = qe.benefit_contract_id)
AND (mrc.client_group_id IS NULL or mrc.client_group_id = qe.client_group_id)
AND (mrc.client_id IS NULL or mrc.client_id = qe.client_id)
AND (mrc.benefit_category_id IS NULL or mrc.benefit_category_id = qe.benefit_category_id);

SELECT @@ROWCOUNT AS 'eligibility_count';
GO
