USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_reinsurance_carrier_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 08/09/2022
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
08/09/2022  amortensen      1.0         Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find a Reinsurance Carrier.

******************************/
CREATE PROCEDURE [dbo].[plx_find_reinsurance_carrier_load] (
@get_column_headers BIT = 0,
@reinsurance_carrier_ud NVARCHAR(50) = NULL,
@reinsurance_carrier_nm NVARCHAR(100) = NULL,
@show_exact_matches BIT = 0
)
AS
BEGIN
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT,
@SqlQuery NVARCHAR(2000),
@SqlCondition NVARCHAR(2000),
@Prefix NVARCHAR(10),
@Suffix NVARCHAR(10);

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1,
@SqlQuery = '',
@SqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix = '',
@Suffix = '';

--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF (@reinsurance_carrier_ud IS NOT NULL)
AND (@reinsurance_carrier_ud <> '')
SET @SqlCondition = @SqlCondition + ' AND ISNULL(reinsurance_carrier_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reinsurance_carrier_ud, @show_exact_matches) + @Suffix

IF @reinsurance_carrier_nm IS NOT NULL
AND @reinsurance_carrier_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(reinsurance_carrier_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reinsurance_carrier_nm, @show_exact_matches) + @Suffix
SET @SqlQuery = '
SELECT
reinsurance_carrier_id,
reinsurance_carrier_ud,
reinsurance_carrier_nm
FROM reinsurance_carrier '

PRINT @SqlQuery + @SqlCondition

EXEC (@SqlQuery + @SqlCondition)

--
RETURN @SP_SUCCESS
--
END
GO
