USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_service_representative_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

















/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/24/2005	ptran		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Assigned Service Representatives grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id
--
OUTPUTS:
benefit_contract_service_representative records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_benefit_contract_service_representative_list_load]
(
@benefit_contract_id int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--

SELECT
bs.benefit_contract_service_representative_id
,bs.benefit_contract_id
,s.service_representative_client_group_benefit_contract_id as service_representative_id
,st.service_type_id
,bs.effective_from
,bs.effective_thru
,bs.active
,bs.created_user_name
,bs.created_group_id
,bs.created_date
,bs.modified_date

,s.service_representative_client_group_benefit_contract_nm

,st.service_type_ud
,bs.modified_date

FROM benefit_contract_service_representative bs
INNER JOIN service_representative_client_group_benefit_contract s ON bs.service_representative_client_group_benefit_contract_id = s.service_representative_client_group_benefit_contract_id
LEFT JOIN service_type st ON bs.service_representative_type_id = st.service_type_id
WHERE bs.benefit_contract_id = @benefit_contract_id
ORDER BY
CASE WHEN bs.effective_from IS NULL THEN 0 ELSE 1 END , bs.effective_from DESC
,CASE WHEN bs.effective_thru IS NULL THEN 0 ELSE 1 END , bs.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
