USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_rule_definition_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CFacey\Mabdul
Date: 07/22/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION:
--
DESCRIPTION:
This procedure is used to load data for Correnpondance rule Definition Grid
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_correspondence_rule_definition_list_load]
(
@correspondence_rule_id			INT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS		INT,
@SP_EXCEPTION		INT
SELECT
@SP_SUCCESS		=	0,
@SP_EXCEPTION		= -1

SELECT
crd.correspondence_rule_definition_id
,crd.correspondence_object_id
,crd.correspondence_operator_id
,crd.value
,crd.value AS value_stored_id
,crd.correspondence_statement_id
,cs.correspondence_statement_ud
,crd.exclude
,crd.use_to_determine_response
,crd.modified_date
,uelp.display_form
,uelp.find_form
,uelp.stored_procedure
,uelp.table_name
,uelp.displayed_field
,uelp.stored_field
,'' AS control_type
FROM correspondence_rule_definition crd
JOIN correspondence_object co ON crd.correspondence_object_id = co.correspondence_object_id
LEFT JOIN ui_engine_lookup_parameter uelp ON co.ui_engine_lookup_parameter_id = uelp.ui_engine_lookup_parameter_id
LEFT JOIN correspondence_statement cs ON crd.correspondence_statement_id =cs.correspondence_statement_id
WHERE crd.correspondence_rule_id = @correspondence_rule_id


--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
