USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_withhold_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 03/12/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
Find withhold_schedule that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@withhold_schedule_ud
@description
@provider_specialty_type_id
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_withhold_schedule_load]
(
@get_column_headers			BIT = 0
, @withhold_schedule_ud		NVARCHAR(50) = NULL
, @description		NVARCHAR(100) = NULL
, @show_exact_matches			BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @withhold_schedule_ud IS NOT NULL AND @withhold_schedule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ws.withhold_schedule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@withhold_schedule_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(ws.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
ws.withhold_schedule_id
,ws.withhold_schedule_ud
,ws.description
FROM  dbo.withhold_schedule ws
LEFT JOIN withhold_schedule_detail wsd ON wsd.withhold_schedule_id = ws.withhold_schedule_id

'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY ws.withhold_schedule_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY ws.withhold_schedule_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
