USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_contact_name_with_contact_id_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO












/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nguyen, Nghi
Date: April 17 2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
The procedure is used to load contact name by id.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_get_contact_name_with_contact_id_load]
(
@contact_id	int = NULL
)
AS
--
BEGIN
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
CASE WHEN alias_type.golden_key = 'PERSON' THEN
dbo.plx_ConcatenateName(name_last, name_first, name_middle, name_suffix)
ELSE
contact_name.name_last -- company name
END
AS contact_nm
FROM contact
LEFT JOIN contact_name  ON contact.contact_id = contact_name.contact_id
LEFT JOIN alias_type  ON contact_name.alias_type_id = alias_type.alias_type_id
WHERE contact.contact_id=@contact_id AND contact_name.is_primary=1
ORDER BY contact_nm

RETURN @SP_SUCCESS
--
END
--
GO
