USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_contact_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2006	Hiep Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for contact with is associated with agent
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:

0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_agent_contact_list_load]
(
@agent_id INT = NULL
)
AS
BEGIN
DECLARE @SP_SUCCESS INT

SELECT @SP_SUCCESS = 0

SELECT agent_contact.agent_contact_id
,contact.contact_id
,agent_contact.agent_id
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,contact_association_type.contact_association_type_id
,contact_association_type.contact_association_type_ud
,agent_contact.is_primary
,agent_contact.effective_from
,agent_contact.effective_thru
FROM agent
INNER JOIN agent_contact
ON agent.agent_id = agent_contact.agent_id
LEFT JOIN contact_association_type
ON agent_contact.contact_association_type_id = contact_association_type.contact_association_type_id
LEFT JOIN contact
ON agent_contact.contact_id = contact.contact_id
LEFT JOIN contact_name
ON contact.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id

WHERE agent_contact.agent_id = @agent_id
ORDER BY CASE
WHEN agent_contact.effective_from IS NULL
THEN 0
ELSE 1
END ASC
,agent_contact.effective_from DESC
,CASE
WHEN agent_contact.effective_thru IS NULL
THEN 0
ELSE 1
END ASC
,agent_contact.effective_thru DESC

RETURN @SP_SUCCESS
END
GO
