USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_complete_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 07/13/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for Diagnosis Code Complete grid on the diagnosis code form.
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_complete_save]

(
@diagnosis_code_complete_id		int = NULL   OUTPUT
,@complete		BIT = 0
,@diagnosis_code_id       int = NULL
,@effective_from          datetime = NULL
,@effective_thru          datetime = NULL
,@active                  bit = NULL
) AS
BEGIN
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
--SELECT
SET   @SP_SUCCESS = 0
SET   @SP_EXCEPTION = -1
--
IF @diagnosis_code_complete_id is NULL
BEGIN
--- Create a new record
INSERT INTO diagnosis_code_complete(
complete
,diagnosis_code_id
,effective_from
,effective_thru
,active
)
VALUES
(@complete
,@diagnosis_code_id
,@effective_from
,@effective_thru
,@active
)
--
SET @diagnosis_code_complete_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM diagnosis_code_complete WHERE diagnosis_code_complete_id = @diagnosis_code_complete_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
UPDATE diagnosis_code_complete
SET
complete          = @complete
,diagnosis_code_id         = @diagnosis_code_id
,effective_from            = @effective_from
,effective_thru            = @effective_thru
,active                    = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE diagnosis_code_complete_id = @diagnosis_code_complete_id
END
--
RETURN @SP_SUCCESS
END
GO
