USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_create_many_accounting_invoice_id_rule]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Kyle Maher
DATE: 2012-08-07
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
2012-08-07	Kyle Maher		Initial Creation
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Get a recordset of unique invoice Ud values.

--
REQUIREMENTS:
--
INPUTS:
@accounting_company_ud = Accounting company for invoice(s)
@numberToGenerate = Number of unique invoice Ud value(s) to return

OUTPUTS:

--
RETURN_VALUES:
Invoice_Uds

CALLED_PROCEDURES:
plx_generate_counter

--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_auto_create_many_accounting_invoice_id_rule]
(
@accounting_company_ud NVARCHAR(50) = NULL,
@numberToGenerate INT = 1
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


-- Set the prefix for the auto generated id.
DECLARE
@prefix	NVARCHAR(100),
@invoice_ud NVARCHAR(100)

SET @invoice_ud = ''

SET @prefix = @accounting_company_ud + CONVERT(NVARCHAR(8), GETDATE(), 112)

-- Get the auto generated id.
DECLARE
@auto_create_counter_type_ud NVARCHAR(200),
@counter_pad_length INT,
@counter INT,
@counter_text NVARCHAR(50),
@accounting_transaction_ar_type_id_invoice INT

SET @auto_create_counter_type_ud = 'Invoice ' + @prefix
SET @counter_pad_length = 5

SELECT @accounting_transaction_ar_type_id_invoice = accounting_transaction_ar_type_id
FROM accounting_transaction_ar_type
WHERE golden_key = 'INVOICE'


DECLARE @counterValues TABLE
(
value INT
)
DECLARE @invoiceUds TABLE
(
invoiceUd NVARCHAR(100)
)


WHILE (@numberToGenerate > 0)
BEGIN
DECLARE
@startAt INT,
@loopTo INT,
@i INT


DELETE FROM @counterValues
EXEC @startAt = dbo.plx_generate_counter @auto_create_counter_type_ud, @numberToGenerate

SET @i = @startAt
SET @loopTo = @startAt + @numberToGenerate

WHILE (@i < @loopTo)
BEGIN
INSERT INTO @counterValues VALUES (@i)
SET @i = @i + 1
END

INSERT INTO @invoiceUds
SELECT ISNULL(@prefix, '') + dbo.plx_fn_IntToString(value, @counter_pad_length)
FROM @counterValues

DELETE invoiceUds
FROM @invoiceUds AS invoiceUDs
INNER JOIN accounting_transaction_ar
ON accounting_transaction_ar.accounting_transaction_ar_ud = invoiceUDs.invoiceUd
WHERE accounting_transaction_ar_type_id = @accounting_transaction_ar_type_id_invoice

SET @numberToGenerate = @@ROWCOUNT
END


SELECT invoiceUD AS invoice_ud
FROM @invoiceUds
ORDER BY invoiceUd ASC


RETURN @SP_SUCCESS
END
GO
