USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_cob_member_commercial_health_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:   02/18/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/13/2009	lrenard		2.0		Added sequence column - 18594
10/13/2011  cknobloch   2.1     Renamed Plan Name Column to Com Plan Name
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load a drop down of commercial health plans from the member cob
--
REQUIREMENTS:
--
INPUTS:
claim_procedure_cob_entry_id - Key to claim_procedure_cob_entry table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_dd_cob_member_commercial_health_plan_load]
(
@claim_procedure_id 	Int = null
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

--Get cob_member_id
DECLARE @cob_member_id INT, @service_from_date DATETIME

SELECT	@cob_member_id = cm.cob_member_id
,@service_from_date = cp.service_from_date
FROM	claim_procedure cp
LEFT JOIN claim c
ON c.claim_id = cp.claim_id
LEFT JOIN family_eligibility_member_benefit_plan fp
ON fp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member fe
ON fe.family_eligibility_member_id = fp.family_eligibility_member_id
LEFT JOIN member m
ON m.member_id = fe.member_id
LEFT JOIN cob_member cm
ON cm.member_id = m.member_id
WHERE @claim_procedure_id = cp.claim_procedure_id

SELECT
cob.cob_member_commercial_health_plan_id
,cob.insurance_plan_name as 'Com Plan Name'
,s.sequence_ud as 'Payor Sequence'
,cob.carrier_name as 'Carrier Name'
,cob.effective_from as 'Eff From'
,cob.effective_thru as 'Eff Thru'
FROM dbo.cob_member_commercial_health_plan cob
LEFT JOIN [sequence] s ON s.sequence_id = cob.sequence_id
WHERE cob.cob_member_id = @cob_member_id
AND
(@service_from_date >= cob.effective_from OR @service_from_date <=cob.effective_thru)
--
RETURN @SP_SUCCESS
GO
