USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_agent_case_limit_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Oct 11 2006  1:30PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/11/2006	Nam Ho		1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
ALTER  a single object into the carrier_agent_case_limit table.
This stored procedure is used in the Agent Limits on Number of Cases Sold per State
grid of the Carrier form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_carrier_agent_case_limit_save]
(
@carrier_agent_case_limit_id                int = NULL   OUTPUT
,@carrier_id                                 int = NULL
,@country_id                                 int = NULL
,@state_id                                   int = NULL
,@case_limit                                 int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
--,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @carrier_agent_case_limit_id is Null
BEGIN

--- Create a new carrier_agent_case_limit record
INSERT INTO carrier_agent_case_limit(
carrier_id
,country_id
,state_id
,case_limit
,effective_from
,effective_thru
,active
)
VALUES
(@carrier_id
,@country_id
,@state_id
,@case_limit
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @carrier_agent_case_limit_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM carrier_agent_case_limit WHERE carrier_agent_case_limit_id = @carrier_agent_case_limit_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing carrier_agent_case_limit record
UPDATE carrier_agent_case_limit
SET
carrier_id                               = @carrier_id
,country_id                               = @country_id
,state_id                                 = @state_id
,case_limit                               = @case_limit
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE carrier_agent_case_limit_id = @carrier_agent_case_limit_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
