USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_option_selection_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  1 2006  1:14PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
11/13/2006	tinhdo			1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the agent_commission_advance_setup table.
This stored procedure is used in the Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
agent_commission_advance_setup_id - Key to agent_commission_advance_setup table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_plan_option_selection_load]
(
@benefit_contract_id 					INT = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT @benefit_contract_id AS benefit_contract_id
--
RETURN @SP_SUCCESS
GO
