USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_accumulator_class_overview_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/15/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
12/13/2006	mttran						modify to set "Use All Treatment Type Set" check box
02/29/2008	David Slayton	1.1			accumulator_id/_ud fields now point to the
accumulator_framework_accumulator_class_accumulator_id/_ud fields
05/13/2008	lrenard		1.2			modify select of sub limit rule to leave out non matching sub limits
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for Accumulator Class Overview grid on Benefit Plan \ Overview tab
This stored procedure is used in the Benefit Plan form
--
REQUIREMENTS:
--
INPUTS:

@accumulator_framework_list_id : list of accumulator framework id selected in Accumulator Framework tab,
each id is seperated by ','
Ex: accumulator_framework_id1,accumulator_framework_id2...

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                    PROCEDURE [dbo].[plx_benefit_plan_accumulator_class_overview_list_load]
(
@accumulator_framework_list_id			nvarchar(1000)=NULL
,@accumulator_class_id				int=NULL
,@treatment_type_set_id				int=NULL
,@treatment_type_category_id 			int=NULL
,@treatment_type_id				int=NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

select * from(
-- for limit rule
SELECT   DISTINCT
afac.accumulator_class_id
,accumulator_class.accumulator_class_ud
,afacc.accumulator_framework_accumulator_class_accumulator_id
,afacc.accumulator_framework_accumulator_class_accumulator_ud
,limit_rule.accumulator_level
,accumulator_choice_list.accumulator_choice_list_id
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
accumulator_choice_list.accumulator_choice_list_ud
ELSE
Cast(limit_rule.single_value as varchar(20))
END
AS list_id_table_id_value
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
1
ELSE
3
END
AS list_table_value
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
CASE WHEN avc.num_valid > 1 THEN
resolve_choice_list_at.resolve_choice_list_at_ud
ELSE
'Framework'
END
ELSE
'Framework'
END
AS resolve_at
,limit_rule.effective_from
,limit_rule.effective_thru
FROM	dbo.accumulator_framework_accumulator_class_accumulator afacc
LEFT JOIN dbo.accumulator_treatment_type_set atts
ON atts.accumulator_framework_accumulator_class_accumulator_id = afacc.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN dbo.accumulator_framework_accumulator_class afac
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN dbo.accumulator_class
ON afac.accumulator_class_id = accumulator_class.accumulator_class_id
INNER JOIN (
SELECT	 accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id
,'Individual' as accumulator_level
,accumulator_limit_rule.individual_accumulator_choice_list_id 	as choice_list_id
,accumulator_limit_rule.individual_value						as single_value
,accumulator_limit_rule.effective_from
,accumulator_limit_rule.effective_thru
FROM	dbo.accumulator_limit_rule
WHERE	accumulator_limit_rule.individual_accumulator_choice_list_id IS NOT NULL
OR		accumulator_limit_rule.individual_value IS NOT NULL
UNION
SELECT	 accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id
,'Family' as accumulator_level
,accumulator_limit_rule.family_accumulator_choice_list_id 	as choice_list_id
,accumulator_limit_rule.family_value						as single_value
,accumulator_limit_rule.effective_from
,accumulator_limit_rule.effective_thru
FROM	dbo.accumulator_limit_rule
WHERE	accumulator_limit_rule.family_accumulator_choice_list_id IS NOT NULL
OR		accumulator_limit_rule.family_value IS NOT NULL
) limit_rule
ON afacc.accumulator_framework_accumulator_class_accumulator_id = limit_rule.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN dbo.accumulator_choice_list
ON limit_rule.choice_list_id = accumulator_choice_list.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
LEFT JOIN (
SELECT 	accumulator_choice_list_id,
COUNT(accumulator_valid_choice_id) AS num_valid
FROM 	dbo.accumulator_valid_choice
GROUP BY accumulator_choice_list_id
) avc
ON avc.accumulator_choice_list_id = accumulator_choice_list.accumulator_choice_list_id
WHERE 	CHARINDEX (CONVERT(nvarchar, afac.accumulator_framework_id), CONVERT(NVARCHAR,@accumulator_framework_list_id)) > 0
AND		(afac.accumulator_class_id = @accumulator_class_id or ISNULL(@accumulator_class_id, 0) = 0)
AND		(isnull(atts.treatment_type_set_id, 0) = @treatment_type_set_id or ISNULL(@treatment_type_set_id, 0) = 0)
AND		(isnull(atts.treatment_type_category_id, 0) = @treatment_type_category_id or ISNULL(@treatment_type_category_id, 0) = 0)
AND		(isnull(atts.treatment_type_id, 0) = @treatment_type_id or ISNULL(@treatment_type_id, 0) = 0)

UNION
-- for sub limit rule
SELECT   DISTINCT
afac.accumulator_class_id
,accumulator_class.accumulator_class_ud
,afacc.accumulator_framework_accumulator_class_accumulator_id
,afacc.accumulator_framework_accumulator_class_accumulator_ud
,limit_rule.accumulator_level
,accumulator_choice_list.accumulator_choice_list_id
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
accumulator_choice_list.accumulator_choice_list_ud
ELSE
Cast(limit_rule.single_value as varchar(20))
END
AS list_id_table_id_value
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
1
ELSE
3
END
AS list_table_value
,CASE WHEN limit_rule.choice_list_id IS NOT NULL THEN
CASE WHEN avc.num_valid > 1 THEN
resolve_choice_list_at.resolve_choice_list_at_ud
ELSE
'Framework'
END
ELSE
'Framework'
END
AS resolve_at
,limit_rule.effective_from
,limit_rule.effective_thru
FROM	dbo.accumulator_sub_limit
LEFT JOIN dbo.accumulator_sub_limit_treatment_type_set atts
ON accumulator_sub_limit.accumulator_sub_limit_id = atts.accumulator_sub_limit_id
INNER JOIN dbo.accumulator_framework_accumulator_class_accumulator afacc
ON afacc.accumulator_framework_accumulator_class_accumulator_id = accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN dbo.accumulator_framework_accumulator_class afac
ON afacc.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN dbo.accumulator_class
ON afac.accumulator_class_id = accumulator_class.accumulator_class_id
INNER JOIN (
SELECT	 accumulator_sub_limit.accumulator_sub_limit_id
,accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
,'Individual' as accumulator_level
,accumulator_sub_limit_rule.individual_accumulator_choice_list_id 	as choice_list_id
,accumulator_sub_limit_rule.individual_value						as single_value
,accumulator_sub_limit_rule.effective_from
,accumulator_sub_limit_rule.effective_thru
FROM	dbo.accumulator_sub_limit_rule
INNER JOIN accumulator_sub_limit
ON dbo.accumulator_sub_limit.accumulator_sub_limit_id = accumulator_sub_limit_rule.accumulator_sub_limit_id
WHERE	accumulator_sub_limit_rule.individual_accumulator_choice_list_id IS NOT NULL
OR		accumulator_sub_limit_rule.individual_value IS NOT NULL
UNION
SELECT	 accumulator_sub_limit.accumulator_sub_limit_id
,accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
,'Family' as accumulator_level
,accumulator_sub_limit_rule.family_accumulator_choice_list_id 	as choice_list_id
,accumulator_sub_limit_rule.family_value						as single_value
,accumulator_sub_limit_rule.effective_from
,accumulator_sub_limit_rule.effective_thru
FROM	dbo.accumulator_sub_limit_rule
INNER JOIN accumulator_sub_limit
ON dbo.accumulator_sub_limit.accumulator_sub_limit_id = accumulator_sub_limit_rule.accumulator_sub_limit_id
WHERE	accumulator_sub_limit_rule.family_accumulator_choice_list_id IS NOT NULL
OR		accumulator_sub_limit_rule.family_value IS NOT NULL
) limit_rule
ON afacc.accumulator_framework_accumulator_class_accumulator_id = limit_rule.accumulator_framework_accumulator_class_accumulator_id
AND limit_rule.accumulator_sub_limit_id = accumulator_sub_limit.accumulator_sub_limit_id
LEFT JOIN dbo.accumulator_choice_list
ON limit_rule.choice_list_id = accumulator_choice_list.accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
LEFT JOIN (
SELECT 	accumulator_choice_list_id,
COUNT(accumulator_valid_choice_id) AS num_valid
FROM 	dbo.accumulator_valid_choice
GROUP BY accumulator_choice_list_id
) avc
ON avc.accumulator_choice_list_id = accumulator_choice_list.accumulator_choice_list_id
WHERE 	CHARINDEX (CONVERT(nvarchar, afac.accumulator_framework_id), CONVERT(NVARCHAR,@accumulator_framework_list_id)) > 0
AND		(afac.accumulator_class_id = @accumulator_class_id or ISNULL(@accumulator_class_id, 0) = 0)
AND		(isnull(atts.treatment_type_set_id, 0) = @treatment_type_set_id or ISNULL(@treatment_type_set_id, 0) = 0)
AND		(isnull(atts.treatment_type_category_id, 0) = @treatment_type_category_id or ISNULL(@treatment_type_category_id, 0) = 0)
AND		(isnull(atts.treatment_type_id, 0) = @treatment_type_id or ISNULL(@treatment_type_id, 0) = 0)


) as temp_table
ORDER BY CASE WHEN temp_table.effective_from IS NULL THEN 0 ELSE 1 END ASC, temp_table.effective_from DESC,
CASE WHEN temp_table.effective_thru IS NULL THEN 0 ELSE 1 END ASC, temp_table.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
