USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_additional_information_delete]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2008 lrenard		1.0			Created
03/20/2013 cmaddox		2.0			Making specific to AP as AR sps exist separately. (RT:4316)
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for Additional Information on accounting_transaction_ap Form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_transaction_additional_information_delete]
(
@accounting_transaction_ap_additional_information_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int
SELECT
@SP_SUCCESS = 0

DELETE FROM accounting_transaction_ap_additional_information
WHERE accounting_transaction_ap_additional_information_id = @accounting_transaction_ap_additional_information_id

--
RETURN @SP_SUCCESS
--
GO
