USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_address_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/18/2014	dcannon		1.0		RT:7004 address format
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down address_type
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     PROCEDURE [dbo].[plx_dd_address_type_load]

AS
BEGIN
SET NOCOUNT ON
DECLARE  @SP_SUCCESS int
SELECT @SP_SUCCESS = 0

SELECT
address_type_id
,address_type_ud
FROM address_type
ORDER BY address_type_ud
RETURN @SP_SUCCESS
END
GO
