USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_carrier_marketing_arm_limit_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  2 2006  9:53AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/02/2006	hthan		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for marketing arm limit grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_carrier_marketing_arm_limit_id - Key to agent_carrier_marketing_arm_limit table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_agent_carrier_marketing_arm_limit_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_carrier_marketing_arm_limit.agent_carrier_marketing_arm_limit_id
,agent_carrier_marketing_arm_limit.agent_id
,agent_carrier_marketing_arm_limit.carrier_id
,carrier.carrier_ud
,agent_carrier_marketing_arm_limit.marketing_arm_id
,agent_carrier_marketing_arm_limit.maximum_debt_limit as maximum_debt_limit
,agent_carrier_marketing_arm_limit.effective_from as maxlimit_effective_from
,agent_carrier_marketing_arm_limit.effective_thru as maxlimit_effective_thru
FROM agent_carrier_marketing_arm_limit
LEFT JOIN carrier  ON agent_carrier_marketing_arm_limit.carrier_id = carrier.carrier_id
WHERE agent_carrier_marketing_arm_limit.agent_id = @agent_id
ORDER BY
CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END , effective_from DESC
,CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END , effective_thru DESC
--
RETURN @SP_SUCCESS
GO
