USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_payment_status_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 07/03/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/03/2008	Vishwa Jella	1.0		created for 18152.h Accounting Payment UI Functionality
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down payment status on Find Payment form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_accounting_payment_status_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
accounting_payment_status.accounting_payment_status_id
,accounting_payment_status.accounting_payment_status_ud
,accounting_payment_status.golden_key
FROM accounting_payment_status
Order by sort_order
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
