USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Patrick Andersen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/7/2012	PAndersen	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on an Enrollment before deleting.
--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id - Primary key of the Family Eligibility to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE		int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the Enrollment exists
IF NOT EXISTS(
SELECT 1 FROM family_eligibility
WHERE family_eligibility_id = @id )
RETURN @SP_DELETE_ABLE


IF EXISTS(
SELECT 1 FROM referral WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id))

OR EXISTS(
SELECT 1 FROM episode WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id))

OR EXISTS(
SELECT 1 FROM claim WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id))

OR EXISTS(
SELECT 1 FROM member_medical_condition_exclusion WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM
family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id))

OR EXISTS(
SELECT 1 FROM member_medical_condition WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM
family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id))

BEGIN

SELECT 'Referral' AS object_golden_key, referral_ud AS object_ud
FROM referral WHERE family_eligibility_member_benefit_plan_id IN
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

UNION

SELECT 'Member Medical Condition Exclusion' AS object_golden_key,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS object_ud
FROM member_medical_condition_exclusion mmce
INNER JOIN member_name mn ON mn.member_id = mmce.member_id
WHERE family_eligibility_member_benefit_plan_id IN
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

UNION

SELECT 'Member Medical Conditions' AS object_golden_key,
dbo.plx_ConcatenateName(mn.name_last, mn.name_first, mn.name_middle, null) AS object_ud
FROM member_medical_condition mmc
INNER JOIN member_name mn ON mn.member_id = mmc.member_id
WHERE family_eligibility_member_benefit_plan_id IN
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

UNION
SELECT 'Professional Claim'AS object_golden_key, claim_ud AS object_ud
FROM claim
INNER JOIN professional_claim AS pc
on pc.claim_id = claim.claim_id
WHERE family_eligibility_member_benefit_plan_id IN
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

UNION

SELECT 'Institutional Claim' AS object_golden_key, claim_ud AS object_ud
FROM claim
INNER JOIN institutional_claim AS pc
on pc.claim_id = claim.claim_id
WHERE family_eligibility_member_benefit_plan_id IN
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

UNION

SELECT 'Episode' AS object_golden_key, episode_ud AS object_ud
FROM episode
WHERE family_eligibility_member_benefit_plan_id in
(SELECT family_eligibility_member_benefit_plan_id
FROM family_eligibility_member_benefit_plan AS fembp
INNER JOIN family_eligibility_member AS fem
ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE family_eligibility_id = @id)

RETURN @SP_DELETE_UNABLE

END

ELSE

RETURN @SP_DELETE_ABLE
GO
