USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_episode_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: kinhquoc
October 14 2005 14:00  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
04/27/2008	David Slayton	1.1		Removed Accumulator ID as a criteria.
03/23/2008	eponomareff		1.2		Security addition
05/02/2009  eponomareff    1.3		Security - security flag implemented
05/12/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
11/17/2011	ggutshall		1.5		Added returnset limitations
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
The procedure is used to find the episodes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE                 PROCEDURE [dbo].[plx_find_episode_form_load]
(
@get_column_headers			BIT = 0,
@episode_ud	nvarchar(50) = null,
@episode_description nvarchar(255) = null,
@episode_category_id  int = null,
@episode_type_id	int  = null,
@criteria_id 	int = null,
@family_eligibility_member_benefit_plan_id  int = null,
@member_id  int = null,
@effective_from_date_rule_id 	int = null,
@effective_through_date_rule_id 	int = null,
@find_effective_from DATETIME = NULL,
@find_effective_thru DATETIME = NULL,
@referral_id   		int = null,
@procedure_code_group_id	int = null,
@diagnosis_code_group_id	int = null,
@show_only_current 	BIT = 0,
@show_exact_matches BIT	= 0
--	security addition
,@security_credential	NVARCHAR(255)	=	NULL
,@active_directory_security_user_roles udtt_security_roles readonly
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = 'LIKE N'''
SET @suffix = '%'')'
END

IF @episode_ud IS NOT NULL AND @episode_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(episode.episode_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@episode_ud, @show_exact_matches) + @Suffix
IF @episode_description IS NOT NULL AND @episode_description <> ''
SET @SqlCondition = @SqlCondition + ' AND (ISNULL(episode.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@episode_description, @show_exact_matches) + @Suffix
IF @episode_category_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND (episode.episode_category_id  =  ' + CONVERT(NVARCHAR, @episode_category_id) + ')'
IF @episode_type_id IS NOT NULL AND @episode_type_id <> ''
SET @SqlCondition = @SqlCondition + ' AND (episode.episode_type_id =  ' +   CONVERT(NVARCHAR, @episode_type_id) + ')'
IF @criteria_id IS NOT NULL AND @criteria_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  (episode.criteria_id = '  + CONVERT(NVARCHAR, @criteria_id) + ')'
IF @family_eligibility_member_benefit_plan_id IS NOT NULL AND @family_eligibility_member_benefit_plan_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  episode.family_eligibility_member_benefit_plan_id =  '
+ CAST(@family_eligibility_member_benefit_plan_id AS NVARCHAR)
IF @member_id IS NOT NULL AND @member_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  family_eligibility_member.member_id =  '
+ CAST(@member_id AS NVARCHAR)
IF @effective_from_date_rule_id IS NOT NULL AND @effective_from_date_rule_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  episode.effective_from_date_rule_id =  ' + CAST(@effective_from_date_rule_id AS NVARCHAR)
IF @effective_through_date_rule_id IS NOT NULL AND @effective_through_date_rule_id <> ''
SET @SqlCondition = @SqlCondition + ' AND episode.effective_thru_date_rule_id =  '+ CAST(@effective_through_date_rule_id AS NVARCHAR)

IF @show_only_current=1
BEGIN
SET @SqlCondition = @SqlCondition + ' AND ((DATEDIFF(Day, episode.effective_from, GETDATE()) >= 0 OR episode.effective_from IS NULL) AND
(DATEDIFF(Day, episode.effective_thru, GETDATE()) <= 0 OR episode.effective_thru IS NULL))'
END

IF @show_exact_matches=1
BEGIN
IF @find_effective_from IS NOT NULL AND @find_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,episode.effective_from,101) =   ''' + CONVERT(NVARCHAR, @find_effective_from,101) + ''' '
END
IF @find_effective_thru IS NOT NULL AND @find_effective_thru <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR,episode.effective_thru,101) =  ''' + CONVERT(NVARCHAR, @find_effective_thru,101) + ''' '
END
END
ELSE
BEGIN

IF @find_effective_from IS NOT NULL AND @find_effective_from <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND episode.effective_from >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @find_effective_from,101) + ''', 101) '
END
IF @find_effective_thru IS NOT NULL AND @find_effective_thru <> ''
BEGIN
SET @SqlCondition = @SqlCondition + ' AND  episode.effective_thru <= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @find_effective_thru,101) + ''', 101) '
END
END

IF @referral_id IS NOT NULL AND @referral_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  episode_referral_authorization.referral_id =  ' +  CAST(@referral_id AS NVARCHAR)
IF @procedure_code_group_id IS NOT NULL AND @procedure_code_group_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  episode_service.procedure_code_group_id = '  + CAST(@procedure_code_group_id AS NVARCHAR)
IF @diagnosis_code_group_id IS NOT NULL AND @diagnosis_code_group_id <> ''
SET @SqlCondition = @SqlCondition + ' AND  episode_service.diagnosis_code_group_id =  ' + CAST(@diagnosis_code_group_id AS NVARCHAR)

SET @SqlQuery =
'SELECT  distinct TOP (dbo.fn_results_limit()) episode.episode_id ,
episode.episode_ud ,
episode.description episode_description,
episode.created_user_name,
episode_category.episode_category_ud episode_category,
episode_type.episode_type_ud episode_type,
CONVERT(NVARCHAR, episode.effective_from, 101) eff_from,
CASE WHEN episode.effective_from IS NULL THEN 0 ELSE 1 END as from_date,
CONVERT(NVARCHAR, episode.effective_thru, 101) eff_through,
CASE WHEN episode.effective_thru IS NULL THEN 0 ELSE 1 END as thru_date,
effective_from_date_rule.effective_from_date_rule_ud eff_from_date_rule,
effective_thru_date_rule.effective_thru_date_rule_ud eff_through_date_rule

FROM         episode
LEFT JOIN episode_type ON episode.episode_type_id = episode_type.episode_type_id
LEFT JOIN episode_category ON  episode.episode_category_id = episode_category.episode_category_id
LEFT JOIN effective_from_date_rule ON episode.effective_from_date_rule_id = effective_from_date_rule.effective_from_date_rule_id
LEFT JOIN effective_thru_date_rule ON episode.effective_thru_date_rule_id = effective_thru_date_rule.effective_thru_date_rule_id
LEFT JOIN episode_referral_authorization ON episode.episode_id = episode_referral_authorization.episode_id
LEFT JOIN episode_service ON episode.episode_id = episode_service.episode_id
LEFT JOIN family_eligibility_member_benefit_plan ON episode.family_eligibility_member_benefit_plan_id = family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
LEFT JOIN family_eligibility_member ON family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id
'

-----------------------------------
--Security - Data Security addition
-----------------------------------
--determine whether security is invoked -  if no security_credential is passed, security is not invoked
IF ISNULL(@security_credential, '') <> ''
BEGIN
--determine whether this user has any role which are not restricted by security
IF dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1
BEGIN
--declare and instantiate security strings
DECLARE @SqlSecurityQueryAddition NVARCHAR(1000)
SET @SqlSecurityQueryAddition = ''

--ensure benefit contracts associated with eligibilities are allowed, assuming all episodes must have elig, which must have bc associated.
SET @SqlSecurityQueryAddition =
'	LEFT JOIN family_eligibility fe ON family_eligibility_member.family_eligibility_id = fe.family_eligibility_id
LEFT JOIN benefit_contract bc ON fe.benefit_contract_id = bc.benefit_contract_id
INNER JOIN dbo.plx_fn_security_allowed_benefit_contracts(''' + @security_credential + ''' , @active_directory_security_user_roles) AS abc ON abc.benefit_contract_id = bc.benefit_contract_id
'
--add to the main find query to execute
SET @SqlQuery = @SqlQuery + @SqlSecurityQueryAddition

--add to the WHERE clause for disallowed eligibilities due to security flag
SET @SqlCondition = @SqlCondition + N' AND NOT EXISTS('
+ N' SELECT * FROM dbo.plx_fn_security_disallowed_family_eligibilities_this_user(''' + @security_credential + ''' , @active_directory_security_user_roles) as dafe '
+ N' WHERE dafe.family_eligibility_id = fe.family_eligibility_id ) '
END
END
--------------
--end security
--------------

SET @SqlCondition = @SqlCondition + ' ORDER BY
from_date , eff_from DESC
,thru_date , eff_through DESC '

DECLARE @str NVARCHAR(MAX) = ''
SET @str = @SqlQuery + @SqlCondition

--print (@str)
EXEC sp_executesql @str, N'@active_directory_security_user_roles udtt_security_roles readonly', @active_directory_security_user_roles = @active_directory_security_user_roles

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION
ELSE
RETURN @SP_SUCCESS
GO
