USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_assignment_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date				Modified By			Version				Description
--------------------------------------------------------------------------------
02/06/2011			dcannon				1.0					Created
--
DESCRIPTION:
Delete for Claim Processing Rule Framework Assignment
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_processing_rule_framework_assignment_delete]
(
@claim_processing_rule_framework_assignment_id int = null
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS
(
SELECT claim_processing_rule_framework_assignment_id FROM claim_processing_rule_framework_assignment
WHERE claim_processing_rule_framework_assignment_id = @claim_processing_rule_framework_assignment_id)
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
DELETE FROM claim_processing_rule_framework_assignment
WHERE claim_processing_rule_framework_assignment_id = @claim_processing_rule_framework_assignment_id
END
--
RETURN @SP_SUCCESS
--
GO
