USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_update_claim_procedures]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_claim_payment_run_update_claim_procedures] (
@procedures udtt_claim_payment_run_update_claim_procedure READONLY,
@claim_payment_run_id INT,
@claim_payment_process_status_id INT
) AS

UPDATE claim_procedure
SET
claim_payment_run_id = @claim_payment_run_id,
claim_payment_process_status_id = @claim_payment_process_status_id
FROM
claim_procedure cp
INNER JOIN @procedures p
ON cp.claim_procedure_id = p.claim_procedure_id
GO
