USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_beneficiary_name_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_beneficiary_name_load] (
@member_id INT = NULL
)
AS

SET NOCOUNT ON

SELECT
mb.member_beneficiary_id
, CASE WHEN at.golden_key = 'PERSON' THEN
dbo.plx_ConcatenateName(bn.name_last, bn.name_first, bn.name_middle, bn.name_suffix)
ELSE
bn.name_last -- company name
END
AS beneficiary_name
FROM member_beneficiary mb
LEFT JOIN beneficiary_name bn
ON mb.beneficiary_id = bn.beneficiary_id
LEFT JOIN alias_type at
ON bn.alias_type_id = at.alias_type_id
WHERE mb.member_id = @member_id
ORDER BY beneficiary_name

RETURN 0
GO
