USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_mass_eligibility_change_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------
5/16/2012	        cfacey					1			created

DESCRIPTION:		Find mass eligibility change load

******************************/
CREATE       PROCEDURE [dbo].[plx_find_mass_eligibility_change_load]
(
@mass_member_action_ud							NVARCHAR(50) = NULL
, @description										NVARCHAR(255) = NULL
, @mass_member_action_type_id						int = NULL
, @benefit_contract_id								int = NULL
, @source_benefit_plan_id							int = NULL
, @target_benefit_plan_id							int = NULL
, @preview_date										DATETIME = NULL
, @execute_date										DATETIME = NULL
, @mass_member_action_status_id						int = NULL
, @show_exact_matches								BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ''
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @mass_member_action_ud IS NOT NULL AND @mass_member_action_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mma.mass_member_action_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@mass_member_action_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(mma.description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix

IF ISNULL(@mass_member_action_type_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mma.mass_member_action_type_id = ' + CONVERT(NVARCHAR, @mass_member_action_type_id)

IF ISNULL(@benefit_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mma.source_benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)

IF ISNULL(@source_benefit_plan_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mma.source_benefit_plan_id = ' + CONVERT(NVARCHAR, @source_benefit_plan_id)

IF ISNULL(@target_benefit_plan_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mma.target_benefit_plan_id = ' + CONVERT(NVARCHAR, @target_benefit_plan_id)

IF @preview_date IS NOT NULL AND @preview_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( mma.preview_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @preview_date, 101) + ''', 101))'

IF @execute_date IS NOT NULL AND @execute_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( mma.accept_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @execute_date, 101) + ''', 101))'

IF ISNULL(@mass_member_action_status_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND mma.mass_member_action_status_id = ' + CONVERT(NVARCHAR, @mass_member_action_status_id)

SET @SqlQuery =
'	SELECT DISTINCT
mma.mass_member_action_id
,mma.mass_member_action_ud
,bc.benefit_contract_ud
,mma.description
,mmat.mass_member_action_type_ud
,mmas.mass_member_action_status_ud
FROM  dbo.mass_member_action mma
LEFT OUTER JOIN benefit_contract bc
ON bc.benefit_contract_id = mma.source_benefit_contract_id
LEFT OUTER JOIN mass_member_action_type mmat
ON mmat.mass_member_action_type_id = mma.mass_member_action_type_id
LEFT OUTER JOIN mass_member_action_status mmas
ON mmas.mass_member_action_status_id = mma.mass_member_action_status_id

'
IF @SqlCondition <> '' SET @SqlCondition = ' WHERE 1 = 1 ' + @SqlCondition
EXEC (@SqlQuery + @SqlCondition + ' ORDER BY mma.mass_member_action_ud')

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
