USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_correspondence_document_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN; ;
--
AUTHOR: Mabdul\ CFacey
August 21 2007  1:35PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
07/27/2010	Mabdul\ CFacey	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
--
ICU # 19267
--
DESCRIPTION:
To save the Correspondence Document form
--
REQUIREMENTS:
--
INPUTS:
Cascade changes
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_correspondence_document_save]
(      @report_setup_id										INT = NULL  OUTPUT 		--declare report_setup_id as null and should be output parameter
,@report_setup_ud										NVARCHAR(50) = NULL
,@report_setup_nm										NVARCHAR(100) = NULL
,@report_id												INT = NULL

--- report setup print info
,@print_include_in_scheduling						BIT = NULL
,@choose_default_printer							BIT = NULL
,@printer_path_name									NVARCHAR(300) = NULL
,@paper_size											NVARCHAR(300) = NULL
,@no_of_copies											INT = NULL
,@page_orientation									NVARCHAR(50) = NULL

--- save section
,@save_document_number_generation_rule_id		INT = NULL
,@include_network_in_scheduling					BIT = NULL
,@network_report_file_format_id					INT = NULL
,@network_location									NVARCHAR(300) = NULL

--- report setup email info
,@include_email_in_scheduler						BIT = NULL
,@email_report_file_format_id						INT = NULL
,@email_document_number_generation_rule_id	INT = NULL
,@correspondence_email_rule_id					INT = NULL

,@subject												NVARCHAR(300) = NULL
,@text													NTEXT = NULL
,@active													BIT = NULL
)

AS

--
DECLARE
@SP_SUCCESS											INT,
@SP_EXCEPTION											INT,
@ERROR_CANT_INSERT 									NVARCHAR(50),
@ERROR_NOT_EXIST										NVARCHAR(50),
@ERROR_RECORD_LOCKED								NVARCHAR(50),
@ERROR_CANT_UPDATE 									NVARCHAR(50),
@report_setup_correspondence_setting_id		INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''

--- saving report_setup information

IF @report_setup_id IS NULL
BEGIN

--Insert into the child table first
INSERT INTO report_setup_correspondence_setting
(
correspondence_email_rule_id
,save_document_number_generation_rule_id
,email_document_number_generation_rule_id
,active
)
VALUES
(@correspondence_email_rule_id
,@save_document_number_generation_rule_id
,@email_document_number_generation_rule_id
,@active
)

SET @report_setup_correspondence_setting_id = SCOPE_IDENTITY()

--- Create a new report_setup record
INSERT INTO report_setup(
report_setup_ud
,report_setup_nm
,report_id
,print_include_in_scheduling
,choose_default_printer
,printer_path_name
,paper_size
,no_of_copies
,page_orientation
,include_network_in_scheduling
,network_report_file_format_id
,network_location
,include_email_in_scheduler
,email_report_file_format_id
,report_setup_correspondence_setting_id
,subject
,TEXT
,active
)
VALUES
(@report_setup_ud
,@report_setup_nm
,@report_id
,@print_include_in_scheduling
,@choose_default_printer
,@printer_path_name
,@paper_size
,@no_of_copies
,@page_orientation
,@include_network_in_scheduling
,@network_report_file_format_id
,@network_location
,@include_email_in_scheduler
,@email_report_file_format_id
,@report_setup_correspondence_setting_id
,@subject
,@text
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @report_setup_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM report_setup WHERE report_setup_id = @report_setup_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--

ELSE
BEGIN

DECLARE @ErrorVar INT, @RowCountVar INT


SELECT @report_setup_correspondence_setting_id = rs.report_setup_correspondence_setting_id
FROM report_setup rs
WHERE rs.report_setup_id = @report_setup_id

IF @report_setup_correspondence_setting_id IS NOT NULL
BEGIN
UPDATE report_setup_correspondence_setting
SET
correspondence_email_rule_id = @correspondence_email_rule_id
,save_document_number_generation_rule_id = @save_document_number_generation_rule_id
,email_document_number_generation_rule_id = @email_document_number_generation_rule_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE report_setup_correspondence_setting_id = @report_setup_correspondence_setting_id
END
ELSE
BEGIN
INSERT INTO report_setup_correspondence_setting
(
correspondence_email_rule_id
,save_document_number_generation_rule_id
,email_document_number_generation_rule_id
,active
)
VALUES
(@correspondence_email_rule_id
,@save_document_number_generation_rule_id
,@email_document_number_generation_rule_id
,@active
)

SET @report_setup_correspondence_setting_id = SCOPE_IDENTITY()
END



--- Updating an existing report_setup record
UPDATE report_setup
SET
report_setup_ud                           = @report_setup_ud
,report_setup_nm                           = @report_setup_nm
,report_id                                 = @report_id
,print_include_in_scheduling               = @print_include_in_scheduling
,choose_default_printer                    = @choose_default_printer
,printer_path_name                         = @printer_path_name
,paper_size                                = @paper_size
,no_of_copies                              = @no_of_copies
,page_orientation                          = @page_orientation
,include_network_in_scheduling             = @include_network_in_scheduling
,network_report_file_format_id             = @network_report_file_format_id
,network_location                          = @network_location
,include_email_in_scheduler                = @include_email_in_scheduler
,email_report_file_format_id               = @email_report_file_format_id
,report_setup_correspondence_setting_id	  = @report_setup_correspondence_setting_id
,subject                                   = @subject
,text                                      = @text
,active                                    = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE report_setup_id = @report_setup_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END

--
RETURN @SP_SUCCESS
GO
