USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_disbursement_claim_payment_stage_data_same_claim_zeros]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Purpose:

Any claims that have payable amounts in the run need to also gather any zero-amount lines from those same claims.  This is
intended to keep the claim together for reporting.  Benefit filtering is not applied to the zero-lines.

*/
CREATE PROCEDURE [dbo].[plx_disbursement_claim_payment_stage_data_same_claim_zeros]
@asOfDate DATETIME,
@transactionTypeBill INT,
@transactionTypeCredit INT,
@transactionStatusAvailable INT,
@zeroStatusAvailable INT,
@sourceClaims INT,
@sourcePaymentPenalty INT,
@sourceManual INT,
@queuePaymentMethod INT,
@queueDatetype INT,
@dateTypeClean INT
AS

;WITH claims_in_work_table AS
(
SELECT claim_id
FROM disbursement_claim_payment_work_table
GROUP BY claim_id
)
INSERT INTO disbursement_claim_payment_work_table (
zero_tracking_claim_procedure_id,
is_bill_type,
amount,
vendor_id,
payment_method_payment_id,
clean_date,
ready_date,
claim_id,
claim_procedure_id,
plan_iteration_index,
client_id,
client_group_id,
benefit_contract_id,
benefit_plan_id,
original_line_amount,
procedure_clean_date,
procedure_received_date,
received_date,
negated_claim_procedure_id,
is_payment_this_contract_only
)
SELECT DISTINCT
zt.zero_tracking_claim_procedure_id,
1,
0.0,
zt.vendor_id,
vpm.payment_method_payment_id,
c.clean_date,
ISNULL(
CASE
WHEN @queueDatetype = @dateTypeClean
THEN c.clean_date
ELSE c.received_date
END,
GETDATE()),
zt.claim_id,
zt.claim_procedure_id,
zt.plan_iteration_index,
zt.client_id,
zt.client_group_id,
zt.benefit_contract_id,
zt.benefit_plan_id,
cp.original_line_amount,
cp.clean_date,
cp.received_date,
c.received_date,
cp.negated_claim_procedure_id,
CASE
WHEN bc.is_payment_this_contract_only IS NULL THEN 0
ELSE bc.is_payment_this_contract_only
END
FROM
claims_in_work_table cwt
INNER JOIN zero_tracking_claim_procedure zt
ON zt.claim_id = cwt.claim_id
INNER JOIN claim_procedure cp
ON cp.claim_procedure_id = zt.claim_procedure_id
INNER JOIN claim c
ON c.claim_id = cwt.claim_id
LEFT JOIN vendor_payment_method vpm
ON vpm.vendor_id = zt.vendor_id
AND vpm.effective_from <= @asOfDate
AND
(
vpm.effective_thru IS NULL
OR vpm.effective_thru >= @asOfDate
)
LEFT JOIN benefit_contract bc
ON bc.benefit_contract_id = ISNULL(zt.benefit_contract_id, 0)
WHERE
zt.zero_tracking_claim_procedure_status_id = @zeroStatusAvailable
AND (@queuePaymentMethod IS NULL OR vpm.payment_method_payment_id = @queuePaymentMethod);
GO
