USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_call_share_group_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/08/2005
--
REVISION_HISTORY:
--
Date          Modified By         Version      Description
--------------------------------------------------------------------------------
12/08/2005    Hiep Nguyen           1.0           Created
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_call_share_group_delete] (
@call_share_group_id INT = NULL OUTPUT
,@object_row_version ROWVERSION = NULL
)
AS
BEGIN
--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_RECORD_DOES_NOT_EXIST NVARCHAR(50)
,@ERROR_CANT_DELETE NVARCHAR(50);

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_RECORD_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_CANT_DELETE = '105280012';

-- Check Concurrency
DECLARE @concurrencyCheckResult INT;

EXEC @concurrencyCheckResult = [plx_call_share_group_check_and_rev_row_version] @call_share_group_id
,@object_row_version;

IF @concurrencyCheckResult <> 0
BEGIN
IF @concurrencyCheckResult = @SP_EXCEPTION
BEGIN
RETURN @SP_EXCEPTION
END;

IF @concurrencyCheckResult = @SP_ERROR_RECORD_LOCKED
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;

IF @concurrencyCheckResult = @SP_ERROR_NOT_EXIST
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_DOES_NOT_EXIST)
END;
END;

-- End Check concurrency
-- Delete children first
DELETE [provider_call_share_group]
WHERE [call_share_group_id] = @call_share_group_id;

IF @@ERROR <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_DELETE)
END;

-- Delete parent
DELETE [call_share_group]
WHERE [call_share_group_id] = @call_share_group_id;

DECLARE @ErrorVar INT
,@RowCountVar INT;

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_DELETE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
RETURN @SP_SUCCESS;
--
END;
GO
