USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[Plx_claim_vendor_info_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
--
REVISION_HISTORY:

Date    Modified By		Version	Description
--------------------------------------------------------------------------------
03/02/2006  HuyThan				Created
2008-09-15  jgarro				Added a bunch more information to the query
09/03/2014	dcannon		1.2		added delivery_route to function

--------------------------------------------------------------------------------
;
CURRENT_VERSION  : 1.2
;
DESCRIPTION  :
This procedure is used to load vendor data for claim form
;
REQUIREMENTS  :

None
;
INPUTS    :

None
;
OUTPUTS    :

None
;
RETURN_VALUES  :

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[Plx_claim_vendor_info_load] (@vendor_id INT = NULL)
AS
BEGIN
SELECT v.vendor_id,
v.vendor_ud,
v.federal_ein,
v.vendor_nm as  vendor_name,

Isnull(CASE WHEN cn.name_last != '' THEN cn.name_last
END, v.vendor_nm) AS 'vendor_name_last',
Isnull(CASE WHEN cn.name_first != '' THEN cn.name_first
END, '')  AS 'vendor_name_first',
Isnull(CASE WHEN cn.name_middle != '' THEN cn.name_middle
END, '') AS  'vendor_name_middle',
dbo.Plx_concatenateaddress(va.address_1, va.address_2, va.delivery_route, vl.locale_id) AS vendor_address,
va.address_1  AS 'vendor_address_1',
va.address_2  AS 'vendor_address_2',
va.delivery_route AS 'vendor_delivery_route',
vl.postal_code AS 'vendor_postal_code',
vl.city        AS 'vendor_city',
s.state_ud     AS 'vendor_state',
c.country_ud   AS 'vendor_country',
vpt.telephone_number AS vendor_phone,
vpt.fax_telephone_number AS vendor_fax,
cv.customer_vendor_type_ud
FROM   vendor v
LEFT JOIN vendor_pay_to vpt
ON vpt.vendor_id = v.vendor_id
LEFT JOIN vendor_contact AS vc
ON vc.vendor_id = v.vendor_id
LEFT JOIN contact_name AS cn
ON cn.contact_id = vc.contact_id AND cn.is_primary = 1
LEFT JOIN address va
ON va.address_id = vpt.address_id
LEFT JOIN locale vl
ON vl.locale_id = va.locale_id
LEFT JOIN state AS s
ON s.state_id = vl.state_id
LEFT JOIN country AS c
ON c.country_id = vl.country_id
LEFT JOIN customer_vendor_type AS cv
ON cv.customer_vendor_type_id = v.customer_vendor_type_id
WHERE
v.vendor_id = @vendor_id
ORDER  BY vendor_name_middle DESC,
vendor_name_first DESC
END
GO
