USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_plan_capitation_copay_benefit_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 	08/24/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the capitation copay benefits available on a benefit plan
--
REQUIREMENTS:
--
INPUTS:
@benefit_plan_id

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_dd_benefit_plan_capitation_copay_benefit_load]
(
@benefit_framework_id AS INT = null
)
AS
BEGIN

SET NOCOUNT ON

select b.benefit_id as capitation_benefit_id, b.benefit_ud as capitation_benefit_ud
from benefit_framework bf
join benefit_framework_benefit_class bfbc
on bfbc.benefit_framework_id = bf.benefit_framework_id
join benefit_class bc
on bfbc.benefit_class_id = bc.benefit_class_id
join benefit b
on
bfbc.benefit_framework_benefit_class_id = b.benefit_framework_benefit_class_id
where
bc.golden_key = 'Copayment'
AND
bf.benefit_framework_id = @benefit_framework_id

RETURN @@ROWCOUNT

SET NOCOUNT OFF
END
GO
