USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_definition_capitation_group_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 07/05/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
07/31/2009	Chad Maddox		1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for group grid on form frmCapitationDefinition

--
REQUIREMENTS:
--
INPUTS:
@capitation_definition_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_capitation_definition_capitation_group_list_load]
(
@capitation_definition_id		INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
SELECT
cd.capitation_definition_id
,cg.capitation_group_id
,cg.capitation_group_ud
,cg.description
,cdcg.capitation_definition_capitation_group_id
,cdcg.effective_from
,cdcg.effective_thru
FROM
capitation_definition cd
JOIN
capitation_definition_capitation_group cdcg ON cd.capitation_definition_id = cdcg.capitation_definition_id
JOIN capitation_group cg ON  cdcg.capitation_group_id = cg.capitation_group_id
WHERE cd.capitation_definition_id = @capitation_definition_id
ORDER BY cdcg.effective_from, cdcg.effective_thru, cg.capitation_group_ud


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
