USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_historical_claims_by_eligibility]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
--
REVISION HISTORY:

DATE		AUTHOR			VERSION	COMMENT

03/24/2017	jbernard		Creation date

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used by View Accumulators only
--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
Returns claims needed to calculate accumulator results

CALLED_PROCEDURES:


--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_get_historical_claims_by_eligibility]
@family_eligibility_member_benefit_plan_id INT
,@as_of_date DATETIME
AS
BEGIN
DECLARE @eligibilityId INT = @family_eligibility_member_benefit_plan_id
DECLARE @usageScopeId_Individual_Eligibility INT = (
SELECT usage_scope_id
FROM usage_scope
WHERE golden_key = 'Individual Eligibility'
)
DECLARE @usageScopeId_Benefit_Plan INT = (
SELECT usage_scope_id
FROM usage_scope
WHERE golden_key = 'Benefit Plan'
)
DECLARE @memberId INT = (
SELECT fem.member_id
FROM family_eligibility_member fem
JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @family_eligibility_member_benefit_plan_id
)

--BENEFIT PLAN ID -------------------------------------
DECLARE @benefitPlanId INT = (
SELECT benefit_plan_id
FROM family_eligibility_member_benefit_plan fembp
WHERE family_eligibility_member_benefit_plan_id = @eligibilityId
)

IF @benefitPlanId IS NULL
RETURN

--BENEFIT CONTRACT ID --------------------------------
DECLARE @benefitContractId INT = (
SELECT fe.benefit_contract_id
FROM family_eligibility fe
JOIN family_eligibility_member fem ON fem.family_eligibility_id = fe.family_eligibility_id
JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
WHERE fembp.family_eligibility_member_benefit_plan_id = @eligibilityId
)

IF @benefitContractId IS NULL
RETURN

/* -----------------------------------------------
Find all accumulator frameworks for
-- Benefit Plan and
-- Benefit Contract
for which there are accumulators defined
----------------------------------------------- */
SELECT DISTINCT af.accumulator_framework_id
,af.usage_scope_id
INTO #unique_frameworks
FROM (
SELECT bpaf.accumulator_framework_id
FROM benefit_plan_accumulator_framework bpaf
WHERE bpaf.benefit_plan_id = @benefitPlanId

UNION

SELECT accumulator_framework_id
FROM benefit_contract_accumulator_framework bcaf
WHERE bcaf.benefit_contract_id = @benefitContractId
) AS uf
JOIN accumulator_framework af ON af.accumulator_framework_id = uf.accumulator_framework_id
JOIN accumulator_framework_accumulator_class afac ON afac.accumulator_framework_id = af.accumulator_framework_id
JOIN accumulator_framework_accumulator_class_accumulator afaca ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id

/* -----------------------------------------------
'Target Linked Accumulator' is dependent on its 'Source Linked Accumulator':
-- Add all accumulator frameworks for 'Source Linked Accumulators' where
-- the framework for the 'Target Linked Accumulator' is in the list of frameworks used.
----------------------------------------------- */
INSERT INTO #unique_frameworks (
accumulator_framework_id
,usage_scope_id
)
SELECT af1.accumulator_framework_id
,af1.usage_scope_id
FROM linked_accumulator_detail lad
JOIN linked_accumulator la ON la.linked_accumulator_id = lad.linked_accumulator_id
JOIN benefit_contract bc ON bc.linked_accumulator_set_id = la.linked_accumulator_id

-- Source linked accumulator
JOIN accumulator_framework_accumulator_class_accumulator afaca1 ON afaca1.accumulator_framework_accumulator_class_accumulator_id = lad.source_accumulator_framework_accumulator_class_accumulator_id
JOIN accumulator_framework_accumulator_class afac1 ON afac1.accumulator_framework_accumulator_class_id = afaca1.accumulator_framework_accumulator_class_id
JOIN accumulator_framework af1 ON af1.accumulator_framework_id = afac1.accumulator_framework_id

-- Target linked accumulator
JOIN accumulator_framework_accumulator_class_accumulator afaca2 ON afaca2.accumulator_framework_accumulator_class_accumulator_id = lad.target_accumulator_framework_accumulator_class_accumulator_id
JOIN accumulator_framework_accumulator_class afac2 ON afac2.accumulator_framework_accumulator_class_id = afaca2.accumulator_framework_accumulator_class_id
JOIN accumulator_framework af2 ON af2.accumulator_framework_id = afac2.accumulator_framework_id

WHERE bc.benefit_contract_id = @benefitContractId
AND afac2.accumulator_framework_id IN (
SELECT accumulator_framework_id
FROM #unique_frameworks
)

/* -----------------------------------------------
Usage Scope is not:
-- Individual Eligibility
-- Benefit_Plan
----------------------------------------------- */
IF EXISTS (
SELECT *
FROM #unique_frameworks
WHERE usage_scope_id NOT IN (
@usageScopeId_Individual_Eligibility
,@usageScopeId_Benefit_Plan
)
)
BEGIN
-- Note: Theoretically we could filter by Benefit Contract here.
SELECT distinct c.*
FROM claim c
JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE fem.member_id = @memberId
RETURN
END

/* -----------------------------------------------
Filter the claims by Benefit Plan
----------------------------------------------- */
SELECT distinct c.*
FROM claim c
JOIN claim_procedure cp ON cp.claim_id = c.claim_id
JOIN adjudication_result_key ark ON ark.claim_procedure_id = cp.claim_procedure_id
JOIN benefit_plan bp ON bp.benefit_plan_id = ark.benefit_plan_id
JOIN family_eligibility_member_benefit_plan fembp ON fembp.family_eligibility_member_benefit_plan_id = c.family_eligibility_member_benefit_plan_id
JOIN family_eligibility_member fem ON fem.family_eligibility_member_id = fembp.family_eligibility_member_id
WHERE fem.member_id = @memberId
AND bp.benefit_plan_id = @benefitPlanId

RETURN
END
GO
