USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_code_depreciation_schedule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
03/02/2006	Anh Ta			1.0		Created
04/03/2006	Anh Ta			1.1		Fixed Wildcard
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
The procedure is used to find the code depreciation schedules that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE          PROCEDURE [dbo].[plx_find_code_depreciation_schedule_load]
(
@get_column_headers			BIT = 0,
@code_depreciation_schedule_ud nvarchar(50)=null,
@code_depreciation_schedule_nm nvarchar(100)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(4000)
,@SqlCondition	NVARCHAR(4000)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''')'
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'')'
END

IF @code_depreciation_schedule_ud IS NOT NULL AND @code_depreciation_schedule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(code_depreciation_schedule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@code_depreciation_schedule_ud,@show_exact_matches) + @Suffix
IF @code_depreciation_schedule_nm IS NOT NULL AND @code_depreciation_schedule_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(code_depreciation_schedule_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@code_depreciation_schedule_nm,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ( ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
'		SELECT  code_depreciation_schedule_id
,code_depreciation_schedule_ud
,description
FROM 	code_depreciation_schedule
'

print (@SqlQuery + @SqlCondition )
EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
