USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_get_accounting_sources_from_ap_transaction]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_get_accounting_sources_from_ap_transaction]
@accounting_transaction_ap_id int = 0
AS
SELECT
apTx.accounting_source_id,
apSrc.accounting_source_ud,
apSrc.golden_key as accounting_source_gk,
apTx.treat_as_accounting_source_id,
apTreatAs.accounting_source_ud as treat_as_accounting_source_ud,
apTreatAs.golden_key as treat_as_accounting_source_gk
FROM accounting_transaction_ap apTx
JOIN accounting_source apSrc ON apTx.accounting_source_id = apSrc.accounting_source_id
LEFT JOIN accounting_source apTreatAs ON apTx.treat_as_accounting_source_id = apTreatAs.accounting_source_id
WHERE apTx.accounting_transaction_ap_id = @accounting_transaction_ap_id;

RETURN 0
GO
