USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_premium_rate_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 02/10/20089
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/10/20089	David Slayton	1.0			Created
10/31/2012  eponomareff     2.0         Add employee class id to grid, to drive to rate
--
CURRENT_VERSION: 2.0
--
DESCRIPTION:Load data for grid grdPremiumRateAssignment on form frmBenefitContract

--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_premium_rate_list_load]
(
@benefit_contract_period_benefit_plan_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
bcpbppr.benefit_contract_period_benefit_plan_premium_rate_id
,bcpbppr.employee_class_id
,ec.employee_class_ud
,bcpbppr.premium_calculation_rule_id
,pcr.premium_calculation_rule_ud
,bcpbppr.premium_rate_id
,pr.premium_rate_ud
,bcpbppr.effective_from
,bcpbppr.effective_thru
,bcpbppr.modified_date

FROM
dbo.benefit_contract_period_benefit_plan_premium_rate bcpbppr
INNER JOIN
dbo.premium_rate pr ON bcpbppr.premium_rate_id = pr.premium_rate_id
LEFT JOIN
dbo.employee_class ec ON bcpbppr.employee_class_id = ec.employee_class_id
LEFT JOIN
dbo.premium_calculation_rule pcr ON bcpbppr.premium_calculation_rule_id = pcr.premium_calculation_rule_id

WHERE bcpbppr.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

ORDER BY
CASE WHEN bcpbppr.effective_from IS NULL THEN 0 ELSE 1 END ASC,
bcpbppr.effective_from DESC,
CASE WHEN bcpbppr.effective_thru IS NULL THEN 0 ELSE 1 END ASC,
bcpbppr.effective_thru DESC,
ec.employee_class_ud,
pr.premium_rate_ud
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
