USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_plan_alt_course_def_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/14/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/14/2010  eponomareff 2.0			Created ICU 20727
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save alternate course of treatment definitions associated with a benefit plan
for Alternate Course Definition Assignment grid (grdAlternateCourseDefinitionAssignment) on Benefit Plan Form (frmBenefitPlan)

******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_plan_alt_course_def_save]
(
@benefit_plan_alternate_course_of_treatment_definition_id     int = NULL  OUTPUT
,@benefit_plan_id                                              int
,@alternate_course_of_treatment_map_id                         int
,@effective_from                                               datetime
,@effective_thru                                               datetime = NULL
,@active                                                       bit = 1
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_plan_alternate_course_of_treatment_definition_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_plan_alternate_course_of_treatment_definition
(
benefit_plan_id
,alternate_course_of_treatment_map_id
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_plan_id
,@alternate_course_of_treatment_map_id
,@effective_from
,@effective_thru
,@active
)

SET @benefit_plan_alternate_course_of_treatment_definition_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM benefit_plan_alternate_course_of_treatment_definition
WHERE benefit_plan_alternate_course_of_treatment_definition_id = @benefit_plan_alternate_course_of_treatment_definition_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_plan_alternate_course_of_treatment_definition
SET
alternate_course_of_treatment_map_id    =  @alternate_course_of_treatment_map_id
,effective_from                          =  @effective_from
,effective_thru                          =  @effective_thru
,active                                  =  @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
benefit_plan_alternate_course_of_treatment_definition_id = @benefit_plan_alternate_course_of_treatment_definition_id
END
--
RETURN @SP_SUCCESS
--
GO
