USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_outstanding_invoices_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
DATE: 05/07/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
05/07/2009 	David Slayton	1.0		Created.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to find Oustanding Invoices (both Manual and Accounting Process generated)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_find_outstanding_invoices_load]

(
@family_eligibility_id	INT = NULL
,@client_group_id		INT = NULL
)
AS
BEGIN
SET NOCOUNT ON

-- We only want to match on one criteria and it should be the most specific criteria.
IF @family_eligibility_id IS NOT NULL
SET @client_group_id = NULL

SELECT  DISTINCT
accounting_transaction_ar.accounting_transaction_ar_id,
accounting_transaction_ar.accounting_transaction_ar_ud,
accounting_transaction_ar.customer_id,
customer.customer_ud,
accounting_transaction_ar_invoice_detail.invoice_date,
accounting_transaction_ar_invoice_detail.due_date,
accounting_transaction_ar.transaction_amount as invoice_amount,
accounting_transaction_ar.transaction_amount - dbo.[plx_fn_get_unapplied_amount_for_invoice](accounting_transaction_ar.accounting_transaction_ar_id, NULL) AS amount_received,
dbo.[plx_fn_get_unapplied_amount_for_invoice](accounting_transaction_ar.accounting_transaction_ar_id, NULL) AS amount_due
FROM
accounting_transaction_ar_invoice_detail
INNER JOIN accounting_transaction_ar
ON accounting_transaction_ar_invoice_detail.accounting_transaction_ar_id = accounting_transaction_ar.accounting_transaction_ar_id
INNER JOIN customer
ON accounting_transaction_ar.customer_id = customer.customer_id
LEFT JOIN family_eligibility_customer
ON customer.customer_id = family_eligibility_customer.customer_id
LEFT JOIN client_group_customer
ON customer.customer_id = client_group_customer.customer_id
WHERE
dbo.fn_invoice_is_available(accounting_transaction_ar.accounting_transaction_ar_id) = 1
AND accounting_transaction_ar_invoice_detail.invoice_date <= GETDATE()
AND ISNULL(family_eligibility_customer.family_eligibility_id, 0) =
CASE
WHEN @family_eligibility_id IS NULL THEN ISNULL(family_eligibility_customer.family_eligibility_id, 0)
ELSE @family_eligibility_id
END
AND ISNULL(client_group_customer.client_group_id, 0) =
CASE
WHEN @client_group_id IS NULL THEN ISNULL(client_group_customer.client_group_id, 0)
ELSE @client_group_id
END
ORDER BY accounting_transaction_ar.accounting_transaction_ar_ud

SET NOCOUNT OFF
END
GO
