USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_claim_list_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
Apr  3 2006  1:10PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/19/2011 cknobloch     1.1        Associated Claim/Contacts tab for Gov Rows
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Associated Claims"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_claim_list_save]

(
@cob_member_commercial_health_plan_claim_id      int =null output
,@cob_member_other_insurance_plan_id       	int = NULL
,@claim_id                                  	int = NULL
,@comment                                   	nvarchar(300)=null
,@active                                     	bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @cob_member_commercial_health_plan_claim_id is Null
BEGIN
--- Create a new record
INSERT INTO cob_member_commercial_health_plan_claim(
cob_member_commercial_health_plan_id
,claim_id
,comment
,active
)
VALUES
(@cob_member_other_insurance_plan_id
,@claim_id
,@comment
,@active
)
--
SET @cob_member_commercial_health_plan_claim_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM cob_member_commercial_health_plan_claim WHERE cob_member_commercial_health_plan_claim_id = @cob_member_commercial_health_plan_claim_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN


DECLARE @ErrorVar int, @RowCountVar int

UPDATE cob_member_commercial_health_plan_claim
SET
cob_member_commercial_health_plan_id     = @cob_member_other_insurance_plan_id
,claim_id                                 = @claim_id
,comment =				   @comment
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE cob_member_commercial_health_plan_claim_id = @cob_member_commercial_health_plan_claim_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
