USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_group_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/31/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to see if a capitation group can be deleted
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_group_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0
IF EXISTS(
SELECT *
FROM capitation_group cg
JOIN
capitation_definition_capitation_group cdcg ON
cg.capitation_group_id = cdcg.capitation_group_id
WHERE cg.capitation_group_id = @id)
BEGIN
SELECT 'Capitation Definition' AS object_golden_key, capitation_definition_ud AS object_ud
FROM capitation_group cg
JOIN
capitation_definition_capitation_group cdcg ON
cg.capitation_group_id = cdcg.capitation_group_id
JOIN
capitation_definition cd ON
cdcg.capitation_definition_id = cd.capitation_definition_id
WHERE cg.capitation_group_id = @id
RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
END
GO
