USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_hipps]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************
HEADER_BEGIN;

AUTHOR: cknobloch
;
REVISION_HISTORY:

Date		Modified By		Version		Description
----------------------------------------------------------------------------------------------
05/03/2017	cknobloch			1.0			Created following same pattern as plx_code_import_ncci

----------------------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:
This stored procedure imports HIPPS procedure codes via the code importer.

STEPS INVOLVED:
Inserts records into temp table #tmpHippsImport

Updates and Inserts for HIPPS records.
1. If the Effective From date is the same but the Effective Thru is different - update the Effective From.
2. If the Effective Thru date is the same but the Effective From is different - update the Effective Thru.
3. If the Description is different - update the Description.
4. Insert codes that exist in #tmpHippsImport but not in procedure_code

PRE-REQUISITES:
The import table must be created in the same connection before calling this method:

-- Create the holding table
IF OBJECT_ID('#tmpHippsImport') IS NOT NULL
DROP TABLE #tmpHippsImport

CREATE TABLE #tmpHippsImport
(
procedure_code_ud nvarchar(50),
effective_from datetime,
effective_thru datetime,
payment_indicator nvarchar(5),
description nvarchar(1000)
)
GO

INPUTS:
None

OUTPUTS:
None

RETURN_VALUES:
0	Success

CALLED PROCEDURES:
None

HEADER_END;
************************************************************************************/

CREATE PROCEDURE [dbo].[plx_code_import_hipps]
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @hipps_procedure_code_type_id INT
SELECT @hipps_procedure_code_type_id = procedure_code_type_id
FROM procedure_code_type
WHERE golden_key = 'HIPPS'

DECLARE @max_date DATETIME;
SET @max_date = CAST('12/31/9999' as DATETIME);

-- UPDATE existing effective_from
UPDATE procedure_code
SET effective_from = hipps.effective_from
FROM
procedure_code pc
JOIN #tmpHippsImport hipps
-- Same Procedure Code UD
-- Same Procedure Code Type of Hipps
-- Same Effective Thru
-- DIFFERENT Effective From
ON pc.procedure_code_ud = hipps.procedure_code_ud
AND pc.procedure_code_type_id = @hipps_procedure_code_type_id
AND ISNULL(pc.effective_thru, @max_date) = ISNULL(hipps.effective_thru, @max_date)
AND pc.effective_from != hipps.effective_from

-- UPDATE existing effective_thru
UPDATE procedure_code
SET effective_thru = hipps.effective_thru
FROM
procedure_code pc
JOIN #tmpHippsImport hipps
-- Same Procedure Code UD
-- Same Procedure Code Type of Hipps
-- Same Effective From
-- DIFFERENT Effective Thru
ON pc.procedure_code_ud = hipps.procedure_code_ud
AND pc.procedure_code_type_id = @hipps_procedure_code_type_id
AND pc.effective_from = hipps.effective_from
AND ISNULL(pc.effective_thru, @max_date) != ISNULL(hipps.effective_thru, @max_date)

-- UPDATE existing descriptions
UPDATE procedure_code
SET description = SUBSTRING(hipps.description,0,255)
FROM
procedure_code pc
JOIN #tmpHippsImport hipps
-- Same Procedure Code UD
-- Same Procedure Code Type of Hipps
-- Same Effective From and Thru
-- DIFFERENT Description
ON pc.procedure_code_ud = hipps.procedure_code_ud
AND pc.procedure_code_type_id = @hipps_procedure_code_type_id
AND pc.effective_from = hipps.effective_from
AND ISNULL(pc.effective_thru, @max_date) = ISNULL(hipps.effective_thru, @max_date)
AND pc.description != SUBSTRING(hipps.description,0,255)

-- INSERT the new records into the procedure_code table
INSERT INTO procedure_code
(
procedure_code_ud,
description,
effective_from,
effective_thru,
procedure_code_type_id
)
SELECT
hipps.procedure_code_ud,
SUBSTRING(hipps.description,0,255)  as description,
hipps.effective_from,
hipps.effective_thru,
@hipps_procedure_code_type_id
FROM #tmpHippsImport hipps
LEFT JOIN procedure_code pc on hipps.procedure_code_ud = pc.procedure_code_ud
WHERE pc.procedure_code_id IS NULL


RETURN @SP_SUCCESS
GO
