USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_member_roster_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 07/23/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a row in capitation_member_roster table
, check if this row has any reference.
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_member_roster_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0
-- First check that the provider exists
IF NOT EXISTS (SELECT capitation_member_roster_id FROM capitation_member_roster WHERE capitation_member_roster_id = @id)
RETURN @SP_DELETE_ABLE


IF EXISTS(SELECT * FROM capitation_definition WHERE capitation_member_roster_id = @id)
BEGIN
--check Capitation Definitions
SELECT 'Capitation Definition' AS object_golden_key, capitation_definition_ud AS object_ud
FROM capitation_definition
WHERE capitation_member_roster_id = @id

RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END

END
GO
