USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[Plx_family_eligibility_member_benefit_plan_pre_existing_condition_duration_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 11/29/2007
--
REVISION_HISTORY:
--
Date    Modified By  Version    Description
--------------------------------------------------------------------------------
11/29/2007  Vishwa Jella  1.0    Created


--
INITIAL VERSION
1.0
--
DESCRIPTION:

This procedure is used to load data in grid "Pre-existing Condition Duration"
in Family Eligibility form and Advanced Eligibility Setup form on General Tab.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0  Success
-1  Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE
[dbo].[Plx_family_eligibility_member_benefit_plan_pre_existing_condition_duration_load] (
--        @family_eligibility_member_id            Int = NULL,
@family_eligibility_member_benefit_plan_id INT = NULL,
@benefit_contract_period_benefit_plan_id   INT= NULL)
AS
--
--
SET nocount ON

--
DECLARE @SP_SUCCESS   INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
date_from.date_from_id,
date_from.date_from_ud,
d.diagnosis_code_group_ud,
m.member_medical_condition_id,
p.pre_existing_condition_rule_id,
CASE date_from.golden_key
WHEN 'Eligibility Date' THEN f.effective_from
WHEN 'Continuous Coverage Date' THEN
f.continuous_coverage_effective_date
WHEN 'Hire Date' THEN emp.date_hired
WHEN '' THEN NULL
ELSE NULL
END  AS eff_from,
CASE
WHEN f.effective_from IS NULL THEN NULL
ELSE CASE u.golden_key
WHEN 'Days' THEN Dateadd(DAY, -restrict_look_back_count,
f.effective_from)
WHEN 'Weeks' THEN Dateadd(week, -restrict_look_back_count,
f.effective_from)
ELSE NULL
END
END  AS look_back_eff_from,
CASE date_from.golden_key
WHEN 'Eligibility Date' THEN f.effective_thru
WHEN 'Continuous Coverage Date' THEN NULL
WHEN 'Hire Date' THEN emp.separation_date
WHEN '' THEN NULL
ELSE NULL
END  AS eff_through,
m.diagnosis_code_group_id,
m.effective_from,
m.effective_thru,
p.pre_existing_criteria_or_diagnosis_code_group_id,
u.golden_key,
NULL AS 'look_back_status_id',
benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
FROM   member_medical_condition AS m
INNER JOIN diagnosis_code_group AS d
ON m.diagnosis_code_group_id = d.diagnosis_code_group_id
INNER JOIN member on m.member_id = member.member_id
INNER JOIN family_eligibility_member AS fem
ON member.member_id = fem.member_id
INNER JOIN family_eligibility_member_benefit_plan AS f
ON fem.family_eligibility_member_id = f.family_eligibility_member_id
INNER JOIN pre_existing_criteria_or_diagnosis_code_group AS p
ON d.diagnosis_code_group_id = p.diagnosis_code_group_id
INNER JOIN pre_existing_condition_rule AS rule1
ON p.pre_existing_condition_rule_id =
rule1.pre_existing_condition_rule_id
INNER JOIN date_from
ON rule1.date_from_id = dbo.date_from.date_from_id

INNER JOIN family_eligibility AS fe
ON fem.family_eligibility_id = fe.family_eligibility_id
INNER JOIN family_eligibility_employment AS emp
ON fe.family_eligibility_employment_id =
emp.family_eligibility_employment_id
AND fe.family_eligibility_employment_id =
emp.family_eligibility_employment_id
LEFT JOIN dbo.unit_day_week AS u
ON rule1.break_in_coverage_unit_day_week_id = u.unit_day_week_id
AND rule1.restrict_look_back_unit_day_week_id = u.unit_day_week_id
INNER JOIN dbo.pre_existing_condition_rule_set
ON rule1.pre_existing_condition_rule_set_id =
dbo.pre_existing_condition_rule_set.pre_existing_condition_rule_set_id
INNER JOIN dbo.benefit_contract
ON fe.benefit_contract_id = dbo.benefit_contract.benefit_contract_id
INNER JOIN dbo.benefit_contract_period
ON dbo.benefit_contract.benefit_contract_id =
dbo.benefit_contract_period.benefit_contract_id
INNER JOIN dbo.benefit_contract_period_benefit_plan
ON
dbo.pre_existing_condition_rule_set.pre_existing_condition_rule_set_id =
dbo.benefit_contract_period_benefit_plan.pre_existing_condition_rule_set_id
AND dbo.benefit_contract_period.benefit_contract_period_id =
dbo.benefit_contract_period_benefit_plan.benefit_contract_period_id
WHERE
(
dbo.benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
= @benefit_contract_period_benefit_plan_id )
AND ( f.family_eligibility_member_benefit_plan_id =
@family_eligibility_member_benefit_plan_id )

RETURN @SP_SUCCESS

--
GO
