USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_gdct_record_column_change]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Aaron O

DESCRIPTION:
Called to record a change made by a user to the data shipped from Collaborator.  This data is
used both to allow the user to revert a change back to our default and to allow our update
scripts a method of determining which data should not be overwritten during an upgrade.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

Create Procedure [dbo].[plx_gdct_record_column_change]
(
@table_def_id int,
@table_row_id int,
@table_column_def_id int,
@plexis_value nvarchar(255)
)
As
Begin

Declare
@system_golden_data_row_change_id int,
@has_been_deleted bit

Select
@system_golden_data_row_change_id = system_golden_data_row_change_id,
@has_been_deleted = has_been_deleted
From
system_golden_data_row_change
Where
table_def_id = @table_def_id
And table_row_id = @table_row_id

-- Deleted rows should not need to mark changes.  When deleted all of the columns are
-- recorded with the original values already.
If @system_golden_data_row_change_id Is Not Null And @has_been_deleted = 1
return

-- If we do not have a row change record already, a new one is created marked as edited
-- and not deleted.
If @system_golden_data_row_change_id Is Null
Begin
Insert Into system_golden_data_row_change (
table_def_id,
table_row_id,
has_been_deleted,
has_been_edited)
Values (
@table_def_id,
@table_row_id,
0,
1)

Set @system_golden_data_row_change_id = SCOPE_IDENTITY()
End

-- If the column tracking record alreadys exists, it will not be updated.  New records are
-- are inserted with the original values.  There should not be a need to update it once
-- it has been set (the collaborator update being an exception that is handled outside of
-- this stored procedure).
If Not Exists(
Select
*
From
system_golden_data_original_column_value
Where
system_golden_data_row_change_id = @system_golden_data_row_change_id
And table_column_def_id = @table_column_def_id)
Begin
Insert Into system_golden_data_original_column_value (
system_golden_data_row_change_id,
table_column_def_id,
plexis_value)
Values (
@system_golden_data_row_change_id,
@table_column_def_id,
@plexis_value)
End

End
GO
