USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_run_errors_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 08/11/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.2
--
DESCRIPTION: Load data for errors grid on frmCapitationRun


--
REQUIREMENTS:
--
INPUTS:
@capitation_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_capitation_run_errors_load](
@capitation_run_id INT
) AS

--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
cr.capitation_run_id,
prc.processing_result_code_id,
rc.result_code_id,
rc.result_code_ud,
rc.short_message AS 'description',
CONVERT(NVARCHAR(32), COUNT(prcd.processing_result_code_detail_id)) AS 'additional_information',
rcs.result_code_status_ud

FROM dbo.capitation_run cr
INNER JOIN dbo.processing_event pe
ON cr.processing_event_id = pe.processing_event_id
INNER JOIN dbo.processing_result_code prc
ON	pe.processing_event_id = prc.processing_event_id
INNER JOIN dbo.result_code rc
ON	 rc.result_code_id = prc.result_code_id
LEFT JOIN dbo.result_code_status rcs
ON	 rcs.result_code_status_id = prc.result_code_status_id
LEFT JOIN dbo.processing_result_code_detail prcd
ON	prc.processing_result_code_id = prcd.processing_result_code_id
GROUP BY rc.result_code_ud, rc.result_code_id, cr.capitation_run_id, rc.short_message, rcs.result_code_status_ud, prc.processing_result_code_id
HAVING cr.capitation_run_id = @capitation_run_id
ORDER BY rc.result_code_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
