USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_class_choice_resolution_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_benefit_contract_accumulator_class_choice_resolution_list_load]
(
@benefit_contract_id INT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE @resolveAtBenefitContractHeader INT;
SET @resolveAtBenefitContractHeader =
(
SELECT resolve_choice_list_at_id
FROM resolve_choice_list_at
WHERE golden_key = 'Benefit Contract Header'
);

DECLARE @accumulatorClassChoicesAtBenefitContract TABLE
(
benefit_contract_id INT,
benefit_contract_accumulator_class_choice_resolution_id INT,
accumulator_limit_rule_id INT,
accumulator_sub_limit_rule_id INT,
accumulator_framework_id INT,
accumulator_class_id INT,
accumulator_framework_accumulator_class_accumulator_id INT,
individual_accumulator_choice_list_id INT,
individual_accumulator_valid_choice_id INT,
family_accumulator_choice_list_id INT,
family_accumulator_valid_choice_id INT,
effective_from DATE,
effective_thru DATE
);

WITH BenefitContractAccumulators (benefit_contract_id, accumulator_framework_id, accumulator_class_id, accumulator_framework_accumulator_class_accumulator_id)
AS
(
SELECT
bcaf.benefit_contract_id,
af.accumulator_framework_id,
ac.accumulator_class_id,
afaca.accumulator_framework_accumulator_class_accumulator_id
FROM
benefit_contract_accumulator_framework bcaf
JOIN accumulator_framework af
ON bcaf.accumulator_framework_id = af.accumulator_framework_id
JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
WHERE
bcaf.benefit_contract_id = @benefit_contract_id
UNION
SELECT
bcp.benefit_contract_id,
af.accumulator_framework_id,
ac.accumulator_class_id,
afaca.accumulator_framework_accumulator_class_accumulator_id
FROM
benefit_plan_accumulator_framework bpaf
JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_plan_id = bpaf.benefit_plan_id
JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
JOIN accumulator_framework af
ON bpaf.accumulator_framework_id = af.accumulator_framework_id
JOIN accumulator_framework_accumulator_class afac
ON af.accumulator_framework_id = afac.accumulator_framework_id
JOIN accumulator_class ac
ON afac.accumulator_class_id = ac.accumulator_class_id
JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
WHERE
bcp.benefit_contract_id = @benefit_contract_id
)
INSERT INTO @accumulatorClassChoicesAtBenefitContract
(
benefit_contract_id,
benefit_contract_accumulator_class_choice_resolution_id,
accumulator_limit_rule_id,
accumulator_sub_limit_rule_id ,
accumulator_framework_id ,
accumulator_class_id ,
accumulator_framework_accumulator_class_accumulator_id ,
individual_accumulator_choice_list_id ,
individual_accumulator_valid_choice_id ,
family_accumulator_choice_list_id ,
family_accumulator_valid_choice_id ,
effective_from ,
effective_thru
)
SELECT
bca.benefit_contract_id,
bcaccr.benefit_contract_accumulator_class_choice_resolution_id,
alr.accumulator_limit_rule_id,
CONVERT(INT, NULL) as accumulator_sub_limit_rule_id,
bca.accumulator_framework_id,
bca.accumulator_class_id,
bca.accumulator_framework_accumulator_class_accumulator_id,
-- individual choice list
alr.individual_accumulator_choice_list_id,
-- individual selected valid choice
IND_valid_choice.accumulator_valid_choice_id as individual_accumulator_valid_choice_id,
-- family choice list
alr.family_accumulator_choice_list_id,
-- family selected valid choice
FAM_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_id,
-- coalesce effective dates
bcaccr.effective_from,
bcaccr.effective_thru
FROM
BenefitContractAccumulators bca
JOIN accumulator_limit_rule alr
ON bca.accumulator_framework_accumulator_class_accumulator_id = alr.accumulator_framework_accumulator_class_accumulator_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list IND_choice_list
ON alr.individual_accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list FAM_choice_list
ON alr.family_accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
-- actual choices made and stored
LEFT JOIN benefit_contract_accumulator_class_choice_resolution bcaccr
ON alr.accumulator_limit_rule_id = bcaccr.accumulator_limit_rule_id
AND bca.benefit_contract_id = bcaccr.benefit_contract_id
LEFT JOIN accumulator_valid_choice IND_valid_choice
ON bcaccr.individual_accumulator_valid_choice_id = IND_valid_choice.accumulator_valid_choice_id
LEFT JOIN accumulator_valid_choice FAM_valid_choice
ON bcaccr.family_accumulator_valid_choice_id = FAM_valid_choice.accumulator_valid_choice_id
WHERE (IND_choice_list.accumulator_choice_list_id IS NOT NULL OR FAM_choice_list.accumulator_choice_list_id IS NOT NULL)
AND (IND_choice_list.resolve_choice_list_at_id IS NULL OR IND_choice_list.resolve_choice_list_at_id = @resolveAtBenefitContractHeader)
AND (IND_valid_choice.accumulator_valid_choice_id IS NULL OR IND_valid_choice.accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id)
AND (FAM_choice_list.resolve_choice_list_at_id IS NULL OR FAM_choice_list.resolve_choice_list_at_id = @resolveAtBenefitContractHeader)
AND (FAM_valid_choice.accumulator_valid_choice_id IS NULL OR FAM_valid_choice.accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id)

UNION
-- same but with sub limit
SELECT
bca.benefit_contract_id,
bcaccr.benefit_contract_accumulator_class_choice_resolution_id,
CONVERT(INT, NULL) as accumulator_limit_rule_id,
aslr.accumulator_sub_limit_rule_id,
bca.accumulator_framework_id,
bca.accumulator_class_id,
bca.accumulator_framework_accumulator_class_accumulator_id,
-- individual choice list
aslr.individual_accumulator_choice_list_id,
-- individual selected valid choice
IND_valid_choice.accumulator_valid_choice_id as individual_accumulator_valid_choice_id,
-- family choice list
aslr.family_accumulator_choice_list_id,
-- family selected valid choice
FAM_valid_choice.accumulator_valid_choice_id as family_accumulator_valid_choice_id,
-- coalesce effective dates
bcaccr.effective_from,
bcaccr.effective_thru
FROM
BenefitContractAccumulators bca
JOIN accumulator_sub_limit asl
ON bca.accumulator_framework_accumulator_class_accumulator_id = asl.accumulator_framework_accumulator_class_accumulator_id
JOIN accumulator_sub_limit_rule aslr
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list IND_choice_list
ON aslr.individual_accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id
-- choice list information - left joins because we can have individual without family and vice versa
LEFT JOIN accumulator_choice_list FAM_choice_list
ON aslr.family_accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id
-- actual choices made and stored
LEFT JOIN benefit_contract_accumulator_class_choice_resolution bcaccr
ON aslr.accumulator_sub_limit_rule_id = bcaccr.accumulator_sub_limit_rule_id
AND bca.benefit_contract_id = bcaccr.benefit_contract_id
LEFT JOIN accumulator_valid_choice IND_valid_choice
ON bcaccr.individual_accumulator_valid_choice_id = IND_valid_choice.accumulator_valid_choice_id
LEFT JOIN accumulator_valid_choice FAM_valid_choice
ON bcaccr.family_accumulator_valid_choice_id = FAM_valid_choice.accumulator_valid_choice_id
WHERE (IND_choice_list.accumulator_choice_list_id IS NOT NULL OR FAM_choice_list.accumulator_choice_list_id IS NOT NULL)
AND (IND_choice_list.resolve_choice_list_at_id IS NULL OR IND_choice_list.resolve_choice_list_at_id = @resolveAtBenefitContractHeader)
AND (IND_valid_choice.accumulator_valid_choice_id IS NULL OR IND_valid_choice.accumulator_choice_list_id = IND_choice_list.accumulator_choice_list_id)
AND (FAM_choice_list.resolve_choice_list_at_id IS NULL OR FAM_choice_list.resolve_choice_list_at_id = @resolveAtBenefitContractHeader)
AND (FAM_valid_choice.accumulator_valid_choice_id IS NULL OR FAM_valid_choice.accumulator_choice_list_id = FAM_choice_list.accumulator_choice_list_id);

-- RT:18071 - Add a new template row if the accumulator choice has been termed.
-- When an accumulator choice gets termed, need to add a new row for the accumulator
-- so a new choice can be made with new effectve dates.
-- Defaulting effective from date to the day after the latest termed thru date for the accumulator choice.
INSERT INTO @accumulatorClassChoicesAtBenefitContract
(
benefit_contract_id,
benefit_contract_accumulator_class_choice_resolution_id,
accumulator_limit_rule_id,
accumulator_sub_limit_rule_id ,
accumulator_framework_id ,
accumulator_class_id ,
accumulator_framework_accumulator_class_accumulator_id ,
individual_accumulator_choice_list_id ,
family_accumulator_choice_list_id ,
effective_from ,
effective_thru
)
SELECT
benefit_contract_id,
NULL, --benefit_contract_accumulator_class_choice_resolution_id (null because this is a template row until user selects a choice and saves form)
accumulator_limit_rule_id,
accumulator_sub_limit_rule_id,
accumulator_framework_id,
accumulator_class_id,
accumulator_framework_accumulator_class_accumulator_id,
individual_accumulator_choice_list_id,
family_accumulator_choice_list_id,
--new effective_from is day after last terminated effective_thru date
DATEADD(DAY, 1, effective_thru) AS effective_from,
NULL AS effective_thru
FROM
(
SELECT
benefit_contract_id,
accumulator_limit_rule_id,
accumulator_sub_limit_rule_id,
accumulator_framework_id,
accumulator_class_id,
accumulator_framework_accumulator_class_accumulator_id,
individual_accumulator_choice_list_id,
family_accumulator_choice_list_id,
MAX(ISNULL(effective_thru, '9999-12-31')) AS effective_thru
FROM @accumulatorClassChoicesAtBenefitContract
GROUP BY
benefit_contract_id,
accumulator_limit_rule_id,
accumulator_sub_limit_rule_id,
accumulator_framework_id,
accumulator_class_id,
accumulator_framework_accumulator_class_accumulator_id,
individual_accumulator_choice_list_id,
family_accumulator_choice_list_id
) AS NewTemplateRowsForTermedRecords
WHERE
effective_thru <> '9999-12-31';

SELECT
accabc.benefit_contract_id,
accabc.benefit_contract_accumulator_class_choice_resolution_id,
accabc.accumulator_limit_rule_id,
accabc.accumulator_sub_limit_rule_id,
accabc.accumulator_framework_id,
ac.accumulator_class_id,
ac.accumulator_class_ud,
afaca.accumulator_framework_accumulator_class_accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud,
IND_choice_list.accumulator_choice_list_id AS individual_accumulator_choice_list_id,
IND_choice_list.accumulator_choice_list_ud AS individual_accumulator_choice_list_ud,
IND_valid_choice.accumulator_valid_choice_id AS individual_accumulator_valid_choice_id,
IND_valid_choice.valid_choice AS individual_accumulator_valid_choice_ud,
FAM_choice_list.accumulator_choice_list_id AS family_accumulator_choice_list_id,
FAM_choice_list.accumulator_choice_list_ud AS family_accumulator_choice_list_ud,
FAM_valid_choice.accumulator_valid_choice_id AS family_accumulator_valid_choice_id,
FAM_valid_choice.valid_choice AS family_accumulator_valid_choice_ud,
accabc.effective_from,
accabc.effective_thru
FROM @accumulatorClassChoicesAtBenefitContract accabc
JOIN accumulator_class ac
ON ac.accumulator_class_id = accabc.accumulator_class_id
JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = accabc.accumulator_framework_accumulator_class_accumulator_id
LEFT JOIN accumulator_choice_list IND_choice_list
ON IND_choice_list.accumulator_choice_list_id = accabc.individual_accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice IND_valid_choice
ON IND_valid_choice.accumulator_valid_choice_id = accabc.individual_accumulator_valid_choice_id
LEFT JOIN accumulator_choice_list FAM_choice_list
ON FAM_choice_list.accumulator_choice_list_id = accabc.family_accumulator_choice_list_id
LEFT JOIN accumulator_valid_choice FAM_valid_choice
ON FAM_valid_choice.accumulator_valid_choice_id = accabc.family_accumulator_valid_choice_id
ORDER BY
ac.accumulator_class_ud,
afaca.accumulator_framework_accumulator_class_accumulator_ud,
accabc.effective_from,
accabc.effective_thru;

RETURN 0
GO
