USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_matrix_weighting_get_benefit_plan_choice_data_type]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: LamNguyen
Date: 05/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/08/2006	LamNguyen			Created
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Get data type in the ui_engine_data_type table

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_choice_matrix_weighting_get_benefit_plan_choice_data_type]

AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
golden_key AS benefit_plan_choice,
ui_engine_data_type_id
FROM benefit_class

UNION

SELECT
golden_key AS benefit_plan_choice,
ui_engine_data_type_id
FROM accumulator_class

RETURN @SP_SUCCESS
GO
