USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_processing_rule_framework_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_processing_rule_framework_load]

HEADER_BEGIN;

--
AUTHOR: dcannon
Date: 02/02/2012
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Find claim_processing_rule_framework that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@claim_processing_rule_framework_ud
@description
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_find_claim_processing_rule_framework_load]
(
@get_column_headers					BIT = 0
,@claim_processing_rule_framework_ud	NVARCHAR(50) = NULL
,@description							NVARCHAR(100) = NULL
,@show_exact_matches					BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N''%'
SET @Suffix = '%'''
END


IF @claim_processing_rule_framework_ud IS NOT NULL AND @claim_processing_rule_framework_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(claim_processing_rule_framework_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@claim_processing_rule_framework_ud, @show_exact_matches) + @Suffix

IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @Suffix


SET @SqlQuery =
'	SELECT DISTINCT TOP (dbo.fn_results_limit())
claim_processing_rule_framework_id
,claim_processing_rule_framework_ud
,description
FROM  dbo.claim_processing_rule_framework

'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY claim_processing_rule_framework_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
