USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_set_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[plx_client_set_load] (@client_set_id INT = 0)
AS
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT cs.client_set_id,
cs.client_set_ud,
cs.client_set_nm,
cs.active,
cs.created_user_name,
cs.created_group_id,
cs.created_date,
cs.modified_date
FROM dbo.client_set cs
WHERE cs.client_set_id = @client_set_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
