USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_enrollment_coverage_level_detail_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_enrollment_coverage_level_detail_form_load]
(
@family_eligibility_id                      INT = 0,        -- calling form primary key
@benefit_plan_id                            INT = NULL,     -- used for filter (optional)
@benefit_contract_period_benefit_plan_id    INT = NULL      -- used for filter (optional)
)
AS
-- set @benefit_plan_id based on @benefit_contract_period_benefit_plan_id, if needed.
IF @benefit_contract_period_benefit_plan_id IS NOT NULL AND @benefit_plan_id IS NULL
SET @benefit_plan_id = (SELECT benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id);

DECLARE @benefit_plan_ud NVARCHAR(50) =
(SELECT benefit_plan_ud FROM benefit_plan WHERE benefit_plan_id = @benefit_plan_id);

SELECT
fe.family_eligibility_id,
fe.family_eligibility_ud,
@benefit_plan_id as benefit_plan_id,
@benefit_plan_ud as benefit_plan_ud,
@benefit_contract_period_benefit_plan_id as benefit_contract_period_benefit_plan_id
FROM
family_eligibility fe
WHERE fe.family_eligibility_id = @family_eligibility_id

RETURN 0
GO
