USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_identifier_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tpnguyen
DATE: 07/10/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2006 	Thuy Nguyen	1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down accounting_transaction_identifier_rule (Transaction ID Rule)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_accounting_transaction_identifier_rule_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
accounting_transaction_identifier_rule_id
,accounting_transaction_identifier_rule_ud
,golden_key
FROM accounting_transaction_identifier_rule
ORDER BY accounting_transaction_identifier_rule_ud
--
RETURN @SP_SUCCESS
GO
