USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_additional_information_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/15/2008 lrenard		1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for Additional Information on accounting_transaction Form

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE procedure [dbo].[plx_accounting_transaction_additional_information_save]
(
@accounting_transaction_ap_additional_information_id	int = null output
,@accounting_transaction_id				int = null
,@additional_information_id			int = null
,@additional_information_topic_id		int = null
,@additional_information_selection_value	nvarchar(300) = null
,@additional_information_value			nvarchar(300) = null
,@additional_information_raw_value         	nvarchar(300) = NULL
,@effective_from				datetime = null
,@effective_thru				datetime = null
,@comment					nvarchar(500) = null
,@is_new_value                               	bit = NULL
,@active                                     	bit = NULL
)
as

declare	@SUCCESS int
declare @EXCEPTION int

select 	@SUCCESS = 0, @EXCEPTION = -1

if (@accounting_transaction_ap_additional_information_id is null)
begin
insert into accounting_transaction_ap_additional_information(
additional_information_id
,additional_information_topic_id
,accounting_transaction_ap_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@additional_information_id
,@additional_information_topic_id
,@accounting_transaction_id
,case when @is_new_value = 1 then null else @additional_information_selection_value end
,case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,@effective_from
,@effective_thru
,@comment
,@active
)

set @accounting_transaction_ap_additional_information_id = @@identity

if not exists (select * from accounting_transaction_ap_additional_information where accounting_transaction_ap_additional_information_id = @accounting_transaction_ap_additional_information_id )
begin
return @EXCEPTION
end
end
else
begin
update 	accounting_transaction_ap_additional_information
set
additional_information_id 		= @additional_information_id
,additional_information_topic_id 	= @additional_information_topic_id
,accounting_transaction_ap_id 			= @accounting_transaction_id
,additional_information_selection_value = case when @is_new_value = 1 then null else @additional_information_selection_value end
,additional_information_value 		= case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,effective_from 			= @effective_from
,effective_thru 			= @effective_thru
,comment 				= @comment
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	accounting_transaction_ap_additional_information_id = @accounting_transaction_ap_additional_information_id
end

return @SUCCESS
GO
