USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_missing_authorization_penalty_rule_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/17/2005	HiepNguyen		1.0		Created
05/12/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
The procedure is used to find the missing authorization penalty rules that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_find_missing_authorization_penalty_rule_load]
(
@get_column_headers			BIT = 0,
@missing_authorization_penalty_rule_ud nvarchar(50)=null,
@missing_authorization_penalty_rule_nm nvarchar(100)=null,
@description nvarchar(255) = null,
@show_exact_matches bit	= 0

)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 	NVARCHAR(1000)
,@SqlCondition	NVARCHAR(500)
,@Prefix	NVARCHAR(10)
,@Suffix	NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery	= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix	= ''
,@Suffix	= ''
--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END
IF @missing_authorization_penalty_rule_ud IS NOT NULL AND @missing_authorization_penalty_rule_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(missing_authorization_penalty_rule_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@missing_authorization_penalty_rule_ud,@show_exact_matches) + @Suffix
IF @missing_authorization_penalty_rule_nm IS NOT NULL AND @missing_authorization_penalty_rule_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(missing_authorization_penalty_rule_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@missing_authorization_penalty_rule_nm,@show_exact_matches) + @Suffix
IF @description IS NOT NULL AND @description <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(description, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@description,@show_exact_matches) + @Suffix

SET @SqlQuery =
'  SELECT  TOP (dbo.fn_results_limit()) missing_authorization_penalty_rule_id ' +
'      	    ,missing_authorization_penalty_rule_ud ' +
'     	    ,missing_authorization_penalty_rule_nm ' +
'  	    ,description ' +
' FROM 	missing_authorization_penalty_rule '

EXEC(@SqlQuery + @SqlCondition )
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
