USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_factor_rule_by_tier_criteria_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE: 02/07/2017
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/07/2017  eponomareff     1.0        RT:10285 - Composite Tier functionaltiy
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down premium_factor_rule (Premium Factor Rule)
which is used on the Composite Tier Form, Composite Tier Buildling Blocks grid (grdCompositeTierDetail)

INPUTS:

The tier types are the golden_key values for the table tier_criteria_type,
as follows:

AGE_GENDER				- all the age rules
POSTAL_CODE_SET			- the address rules
ELIGIBILITY_TENURE		- standard rules
USER_DEFINED_TOPIC_LIST - standard rules

FAMILY				-	(no rules)
INVOICE_FREQUENCY	-	(no rules)


******************************/
CREATE PROCEDURE [dbo].[plx_dd_premium_factor_rule_by_tier_criteria_type_load]
(
@tier_criteria_type_golden_key as NVARCHAR(50) = NULL
)
AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
pfr.premium_factor_rule_id
,pfr.premium_factor_rule_ud
,pfr.golden_key
FROM premium_factor_rule pfr

WHERE
-- AGE_GENDER
(
@tier_criteria_type_golden_key = 'AGE_GENDER'
AND pfr.golden_key IN  ( 'Oldest of Subscriber or Spouse Age'
,'Subscriber Age'
,'Youngest of Subscriber or Spouse Age'
,'Each Individual Member Age'
,'Use Benefit Contract Age Based Rules')
)
OR
-- POSTAL_CODE_SET
(
@tier_criteria_type_golden_key = 'POSTAL_CODE_SET'
AND pfr.golden_key IN  ( 'USE_INDIVIDUAL_ADDRESS'
,'USE_SUBSCRIBER/GUARANTOR_ADDRESS')
)
OR
-- ELIGIBILITY_TENURE, USER_DEFINED_TOPIC_LIST
(
@tier_criteria_type_golden_key IN ('ELIGIBILITY_TENURE', 'USER_DEFINED_TOPIC_LIST')
AND pfr.golden_key IN  ( 'SUBSCRIBER_GUARANTOR_INFORMATION_ONLY'
,'USE_ALL_INDIVIDUAL_MEMBERS_INFORMATION')
)

ORDER BY  pfr.premium_factor_rule_ud

RETURN @SP_SUCCESS
GO
