USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_form_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 12/05/2006
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
12/05/2006	mttran			0.5		CREATED
12/14/2006	Hiep Nguyen		1		Change Numberic to Numberic(20,10)
12/20/2006	Hiep Nguyen		1.1		Added provider_name_last, provider_name_first,
referring_provider_name_last, referring_provider_name_first
03/16/2007	Hiep Nguyen		1.2		Remove provider_id and referring_provider_id
03/23/2009	eponomareff		1.3		Add security
05/12/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
05/21/2009	David Slayton	1.5		Removed obsolete payables tables and added parameter for @check_number.
04/06/2011	eponomareff     1.6     Removed OLD OLD Predetermination logic; we have another form for that.
10/04/2011	ggutshal		1.7		changed the join for provider_name table from claim.provider_id to
provider_identifier.provider_id because provider_id is often null
in the claim record.
06/23/2014	eponomareff		1.8		RT:6737 replace place_of_treatment_id with place_of_service_id
08/19/2015  Jon Vote				RT:8757 performance optimizations
12/05/2024	Kirk Chedotal	1.9		RT-25268 - performance tuning: Added SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
--
CURRENT_VERSION: 1.9
--
DESCRIPTION:
Finds claim based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_find_claim_form_load]
(
@get_column_headers			BIT = 0,
--Member/Provider Tab
@patient_eligibility_id				INT = NULL,
@patient_member_id					INT = NULL,
@patient_number 				NVARCHAR(50) = NULL,
@professional_invoice_number		NVARCHAR(100) = NULL,
@episode_id 					INT = NULL,

@subscriber_eligibility_id 			INT = NULL,
@subscriber_name_last 				NVARCHAR(100) = NULL,
@subscriber_name_first				NVARCHAR(100) = NULL,
--	@provider_id					INT = NULL,
@provider_identifier_id				INT = NULL,
@provider_name_last				NVARCHAR(100) = NULL,
@provider_name_first				NVARCHAR(100) = NULL,
--	@referring_provider_id 				INT = NULL,
@referring_provider_identifier_id		INT = NULL,
@referring_provider_name_last			NVARCHAR(100) = NULL,
@referring_provider_name_first			NVARCHAR(100) = NULL,
--	@billing_provider_id 				INT = NULL,
@billing_provider_identifier_id		INT = NULL,
@billing_provider_name_last			NVARCHAR(100) = NULL,
@billing_provider_name_first			NVARCHAR(100) = NULL,
@provider_network_id				INT = NULL,
@practice_office_id				INT = NULL,
@locale_id					INT = NULL,

@vendor_id					INT = NULL,
@federal_ein					NVARCHAR(50) = NULL,
@vendor_nm					NVARCHAR(100) = NULL,
@practice_office_nm				NVARCHAR(100) = NULL,
@show_exact_match				BIT	= 0,
@claim_payment_process_status_id INT = NULL,

--Adjudication / Benefit Tab:
@benefit_category_id				INT = NULL,
@benefit_sub_category_id			INT = NULL,
@benefit_contract_id				INT = NULL,
@client_id					INT = NULL,
@client_group_id				INT = NULL,
@benefit_plan_id				INT = NULL,
@benefit_plan_type_id				INT = NULL,
@adjudication_run_ud				NVARCHAR(50) = NULL,
@adjudicated_date_from				DATETIME = NULL,
@adjudicated_date_thru				DATETIME = NULL,
@check_number						NVARCHAR(50) = NULL,
@zero_claim_vendor_batch_reference_number	NVARCHAR(50) = NULL,
@accounting_company_id				INT = NULL,               -- Accounting Company on a related AP Transaction
@accounting_company_account_id		INT = NULL,               -- AP Account on a related AP Transaction

--Professional Claim Tab
@professional_claim_ud				NVARCHAR(50) = NULL,
@professional_claim_status_id		INT = NULL,
@professional_result_code_id		INT = NULL,
@professional_received_date_from	DATETIME = NULL,
@professional_received_date_thru	DATETIME = NULL,
@professional_clean_date			DATETIME = NULL,
@professional_place_of_service_id	INT = NULL,
@professional_date_entered_from		DATETIME = NULL,
@professional_date_entered_thru		DATETIME = NULL,
@professional_service_from_date			DATETIME = NULL,
@professional_service_thru_date			DATETIME = NULL,
@professional_unable_to_work_from_date	DATETIME = NULL,
@professional_unable_to_work_thru_date	DATETIME = NULL,
@professional_type_of_service_id		INT = NULL,
@professional_hospitalization_from_date DATETIME = NULL,
@professional_hospitalization_thru_date DATETIME = NULL,
@professional_same_or_similar_date_from DATETIME = NULL,
@professional_same_or_similar_date_thru DATETIME = NULL,
@professional_date_of_current_from		DATETIME = NULL,
@professional_date_of_current_thru 		DATETIME = NULL,
@professional_diagnosis_code_ud			NVARCHAR(50) = NULL,
@professional_procedure_code_ud			NVARCHAR(50) = NULL,
@professional_net_amount_from			NUMERIC(20,10) = NULL,
@professional_net_amount_thru			NUMERIC(20,10) = NULL,
@professional_accumulator_ud			NVARCHAR(50) = NULL,
@professional_accumulator_class_id		INT = NULL,
@professional_authorization_id			INT = NULL,
@professional_claim_type_id				INT = NULL,
@professional_patient_account_number	NVARCHAR(100) = NULL,

--Institutional Claim Tab
@institutional_claim_ud					NVARCHAR(50) = NULL,
@institutional_claim_status_id			INT = NULL,
@institutional_result_code_id			INT = NULL,
@institutional_received_date_from		DATETIME = NULL,
@institutional_received_date_thru		DATETIME = NULL,
@institutional_clean_date				DATETIME = NULL,
@institutional_place_of_service_id		INT = NULL,
@institutional_claim_bill_type_id		INT = NULL,
@institutional_date_entered_from		DATETIME = NULL,
@institutional_date_entered_thru		DATETIME = NULL,
@institutional_effective_from_date_rule_ud		NVARCHAR(50) = NULL,
@institutional_effective_through_date_rule_ud	NVARCHAR(50) = NULL,
@institutional_service_from_date		DATETIME = NULL,
@institutional_service_thru_date		DATETIME = NULL,
@institutional_type_of_service_id		INT = NULL,
@institutional_admission_from_date		DATETIME = NULL,
@institutional_admission_thru_date		DATETIME = NULL,
@institutional_procedure_code_ud		NVARCHAR(50) = NULL,
@institutional_principle_procedure_code_ud	NVARCHAR(50) = NULL,
@institutional_principle_diagnosis_code_ud 	NVARCHAR(50) = NULL,
@institutional_admit_diagnosis_code_ud		NVARCHAR(50) = NULL,
@institutional_condition_code_id		INT = NULL,
@institutional_occurrence_code_id		INT = NULL,
@institutional_value_code_id			INT = NULL,
@institutional_net_amount_from			NUMERIC(20,10) = NULL,
@institutional_net_amount_thru			NUMERIC(20,10) = NULL,
@institutional_accumulator_ud			NVARCHAR(50) = NULL,
@institutional_accumulator_class_id		INT = NULL,
@institutional_authorization_ud			NVARCHAR(50)= NULL,
@institutional_claim_type_id			INT = NULL,
@institutional_patient_account_number	NVARCHAR(100) = NULL,

--Dental Claim Tab
@dental_claim_ud						NVARCHAR(50) = NULL,
@dental_claim_status_id					INT = NULL,
@dental_result_code_id					INT = NULL,
@dental_received_date_from				DATETIME = NULL,
@dental_received_date_thru				DATETIME = NULL,
@dental_authorization_ud				NVARCHAR(50) = NULL,
@dental_place_of_service_id				INT = NULL,
@dental_date_entered_from				DATETIME = NULL,
@dental_date_entered_thru				DATETIME = NULL,
@dental_service_from_date				DATETIME = NULL,
@dental_service_thru_date				DATETIME = NULL,
@dental_procedure_code_ud				NVARCHAR(50) = NULL,
@dental_alternate_procedure_code_ud		NVARCHAR(50) = NULL,
@dental_area_of_oral_cavity_id			INT = NULL,
@dental_tooth_number_id					INT = NULL,
@dental_tooth_letter_id					INT = NULL,
@dental_tooth_surface_id				INT = NULL,
@dental_net_amount_from					NUMERIC(20,10) = NULL,
@dental_net_amount_thru					NUMERIC(20,10) = NULL,
@dental_accumulator_ud					NVARCHAR(50) = NULL,
@dental_accumulator_class_id			INT = NULL,
@dental_object_record_id				INT = NULL,
@dental_treatment_of_orthodontics		BIT = 0,
@dental_replacement_of_prosthesis		BIT = 0, -- OLD: @dental_initial_placement_of_prosthesis BIT = 0
@dental_claim_type_id					INT = NULL,
@dental_patient_account_number			NVARCHAR(100) = NULL,

-- hold bit on grid
@show_only_claims_with_held_line        BIT = 0,
-- debut mode
@debug_mode                             BIT = 0,
-- SECURITY
@security_credential                    NVARCHAR(255) = NULL,
@active_directory_security_user_roles udtt_security_roles readonly

)
AS
BEGIN
if @debug_mode = 1
print 'start:' + CONVERT(NVARCHAR, GETDATE(), 114)
--
--RT-25268 - Find Claim Form - Causing Blocking
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON
--
DECLARE
@Prefix			NVARCHAR(10)
,@Suffix			NVARCHAR(10)

-- Show Exact Matches Only

IF @show_exact_match = 1
BEGIN
SET @Prefix =  ' N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix =  ' N'''
SET @Suffix = '%'''
END

CREATE TABLE #tbl_claim (
claim_id					INT NULL ,
claim_ud				NVARCHAR (50) NULL ,
claim_form_type_id			INT NULL ,
claim_form_type_ud			NVARCHAR (50) NULL,
claim_type_ud				NVARCHAR (50) NULL,
member_eligibility_id			INT NULL ,
adjudication_status_id			INT NULL ,
invoice_number				NVARCHAR(100) NULL,
dos_from				DATETIME NULL,
dos_through				DATETIME NULL,
provider_id				INT NULL ,
provider_identifier_id			INT NULL ,
practice_office_id			INT NULL ,
provider_network_id			INT NULL ,
vendor_id				INT NULL ,
check_number 				INT NULL,
check_date 				DATETIME NULL,
adj_date 				DATETIME NULL,
patient_number				NVARCHAR (50) NULL ,
member_ud				NVARCHAR (160) NULL ,
member_nm				NVARCHAR (150) NULL	,
claim_form_id				INT NULL,
patient_account_number NVARCHAR(50) NULL

)

-- Only do the hard work if @get_column_headers = 0
IF @get_column_headers = 0
BEGIN


--- Security related:
--- This temporary table is used by the professional, institutional, and dental
--- find claim procedures that are called by this stored procedure.
SELECT
family_eligibility_id
INTO
#security_disallowed_family_eligibilities_this_user
FROM
dbo.plx_fn_security_disallowed_family_eligibilities_this_user(@security_credential, @active_directory_security_user_roles)

--- Security related:
--- This temporary table is used by the the plx_find_claim_form_for_member_load stored procedure
--- which is called by the professional, institutional, and dental
--- find claim procedures that are called by this stored procedure.
SELECT
benefit_contract_id
INTO
#security_allowed_benefit_contracts
FROM
dbo.plx_fn_security_allowed_benefit_contracts(@security_credential, @active_directory_security_user_roles)


-- Check if 1 of 3 tab Professional / Institutional / Dental has criteria search then find exactly tab(s) with criteria search
DECLARE	@is_find_professional_claim  bit
DECLARE	@is_find_institutional_claim  bit
DECLARE	@is_find_dental_claim  bit

IF 	ISNULL(@professional_claim_ud, '') <> ''
OR ISNULL(@professional_invoice_number, '') <> ''
OR ISNULL(@professional_claim_status_id, 0) > 0
OR ISNULL(@professional_result_code_id, 0) > 0
OR @professional_received_date_from	IS NOT NULL
OR @professional_received_date_thru	IS NOT NULL
OR @professional_clean_date		IS NOT NULL
OR ISNULL(@professional_place_of_service_id, 0) > 0
OR @professional_date_entered_from		IS NOT NULL
OR @professional_date_entered_thru		IS NOT NULL
OR @professional_service_from_date		IS NOT NULL
OR @professional_service_thru_date		IS NOT NULL
OR @professional_unable_to_work_from_date	IS NOT NULL
OR @professional_unable_to_work_thru_date	IS NOT NULL
OR ISNULL(@professional_type_of_service_id, 0) > 0
OR @professional_hospitalization_from_date IS NOT NULL
OR @professional_hospitalization_thru_date IS NOT NULL
OR @professional_same_or_similar_date_from IS NOT NULL
OR @professional_same_or_similar_date_thru IS NOT NULL
OR @professional_date_of_current_from	IS NOT NULL
OR @professional_date_of_current_thru 	IS NOT NULL
OR ISNULL(@professional_diagnosis_code_ud, '') <> ''
OR ISNULL(@professional_procedure_code_ud, '') <> ''
OR @professional_net_amount_from	IS NOT NULL
OR @professional_net_amount_thru	IS NOT NULL
OR ISNULL(@professional_accumulator_ud, '') <> ''
OR ISNULL(@professional_accumulator_class_id, 0) > 0
OR ISNULL(@professional_authorization_id, 0) > 0
OR ISNULL(@professional_claim_type_id, 0) > 0
OR ISNULL(@professional_patient_account_number, '') <> ''
SET @is_find_professional_claim = 1

IF 	ISNULL(@institutional_claim_ud, '') <> ''
OR ISNULL(@institutional_claim_status_id, 0) > 0
OR ISNULL(@institutional_result_code_id, 0) > 0
OR @institutional_received_date_from IS NOT NULL
OR @institutional_received_date_thru	IS NOT NULL
OR @institutional_clean_date		IS NOT NULL
OR ISNULL(@institutional_place_of_service_id, 0) > 0
OR ISNULL(@institutional_claim_bill_type_id, 0) > 0
OR @institutional_date_entered_from	IS NOT NULL
OR @institutional_date_entered_thru	IS NOT NULL
OR ISNULL(@institutional_effective_from_date_rule_ud, '') <> ''
OR ISNULL(@institutional_effective_through_date_rule_ud, '') <> ''
OR @institutional_service_from_date	IS NOT NULL
OR @institutional_service_thru_date	IS NOT NULL
OR ISNULL(@institutional_type_of_service_id, 0) > 0
OR @institutional_admission_from_date	IS NOT NULL
OR @institutional_admission_thru_date	IS NOT NULL
OR ISNULL(@institutional_procedure_code_ud, '') <> ''
OR ISNULL(@institutional_principle_procedure_code_ud, '') <> ''
OR ISNULL(@institutional_principle_diagnosis_code_ud, '') <> ''
OR ISNULL(@institutional_admit_diagnosis_code_ud, '') <> ''
OR ISNULL(@institutional_condition_code_id, 0) > 0
OR ISNULL(@institutional_occurrence_code_id, 0) > 0
OR ISNULL(@institutional_value_code_id, 0) > 0
OR @institutional_net_amount_from		IS NOT NULL
OR @institutional_net_amount_thru		IS NOT NULL
OR ISNULL(@institutional_accumulator_ud, '') <> ''
OR ISNULL(@institutional_accumulator_class_id, 0) > 0
OR ISNULL(@institutional_authorization_ud, '') <> ''
OR ISNULL(@institutional_claim_type_id, 0) > 0
OR ISNULL(@institutional_patient_account_number, '') <> ''

SET @is_find_institutional_claim = 1

IF 	ISNULL(@dental_claim_ud, '') <> ''
OR ISNULL(@dental_claim_status_id, 0) > 0
OR ISNULL(@dental_result_code_id, 0) > 0
OR @dental_received_date_from IS NOT NULL
OR @dental_received_date_thru IS NOT NULL
OR ISNULL(@dental_authorization_ud, '') <> ''
OR ISNULL(@dental_place_of_service_id, 0) > 0
OR @dental_date_entered_from IS NOT NULL
OR @dental_date_entered_thru IS NOT NULL
OR @dental_service_from_date IS NOT NULL
OR @dental_service_thru_date IS NOT NULL
OR ISNULL(@dental_procedure_code_ud, '') <> ''
OR ISNULL(@dental_alternate_procedure_code_ud, '') <> ''
OR ISNULL(@dental_area_of_oral_cavity_id, 0) > 0
OR ISNULL(@dental_tooth_number_id, 0) > 0
OR ISNULL(@dental_tooth_letter_id, 0) > 0
OR ISNULL(@dental_tooth_surface_id, 0) > 0
OR @dental_net_amount_from	IS NOT NULL
OR @dental_net_amount_thru	IS NOT NULL
OR ISNULL(@dental_accumulator_ud, '') <> ''
OR ISNULL(@dental_accumulator_class_id, 0) > 0
OR ISNULL(@dental_object_record_id, 0) > 0
OR ISNULL(@dental_treatment_of_orthodontics, 0) > 0
OR ISNULL(@dental_replacement_of_prosthesis, 0) > 0
OR ISNULL(@dental_claim_type_id, 0) > 0
OR ISNULL(@dental_patient_account_number, '') <> ''
BEGIN
SET @is_find_dental_claim = 1
END

-- Check if all 3 tab Professional / Institutional / Dental has no criteria search
IF 	@is_find_professional_claim  IS NULL
AND @is_find_institutional_claim  IS NULL
AND @is_find_dental_claim  IS NULL
BEGIN
SET @is_find_professional_claim  = 1
SET @is_find_institutional_claim  = 1
SET @is_find_dental_claim = 1
END

Declare		@NumRecords	int = dbo.fn_results_limit();;
---- find professional claim ----
if @debug_mode = 1
print 'p:' + CONVERT(NVARCHAR, GETDATE(), 114)

IF @is_find_professional_claim = 1
BEGIN
INSERT INTO #tbl_claim (
claim_id				,	claim_ud					,
claim_form_type_id			,		claim_form_type_ud	,
claim_type_ud				,
member_eligibility_id		,
adjudication_status_id		,		invoice_number				,
dos_from					,		dos_through					,
provider_id					,		provider_identifier_id		,
practice_office_id			,		provider_network_id			,
vendor_id					,
member_ud					,
patient_number				,		member_nm					,
claim_form_id,
patient_account_number
)
EXEC dbo.plx_find_claim_form_for_professional_load
@get_column_headers
,@professional_claim_ud						,@professional_invoice_number
,@professional_claim_status_id				,@professional_result_code_id
,@professional_received_date_from			,@professional_received_date_thru
,@professional_clean_date					,@professional_place_of_service_id
,@professional_date_entered_from			,@professional_date_entered_thru
,@professional_service_from_date			,@professional_service_thru_date
,@professional_unable_to_work_from_date		,@professional_unable_to_work_thru_date
,@professional_type_of_service_id			,@professional_hospitalization_from_date
,@professional_hospitalization_thru_date	,@professional_same_or_similar_date_from
,@professional_same_or_similar_date_thru	,@professional_date_of_current_from
,@professional_date_of_current_thru			,@professional_diagnosis_code_ud
,@professional_procedure_code_ud			,@professional_net_amount_from
,@professional_net_amount_thru				,@professional_accumulator_ud
,@professional_accumulator_class_id			,@professional_authorization_id
,@professional_claim_type_id
,@episode_id
,NULL --	,@provider_id
,@provider_identifier_id				,@provider_name_last
,@provider_name_first
,NULL --	,@billing_provider_id
,@billing_provider_identifier_id			,@billing_provider_name_last
,@billing_provider_name_first				,@provider_network_id
,@practice_office_id						,@locale_id
,@vendor_id									,@federal_ein
,@vendor_nm									,@practice_office_nm
,@show_exact_match

-- Member
,@patient_eligibility_id
,@patient_member_id
,@patient_number
,@professional_patient_account_number
,@subscriber_eligibility_id 				,@subscriber_name_last
,@subscriber_name_first						,@benefit_category_id
,@benefit_sub_category_id					,@benefit_contract_id
,@client_id									,@client_group_id
,@benefit_plan_id
--  adjudication - benefit plan level
,@benefit_plan_type_id

-- accounting
,@check_number
,@zero_claim_vendor_batch_reference_number
,@accounting_company_id                      -- Accounting Company on a related AP Transaction
,@accounting_company_account_id              -- AP Account on a related AP Transaction

--  security
,@security_credential
,@active_directory_security_user_roles


END

if @debug_mode = 1 begin
print 'p:' + CONVERT(NVARCHAR, GETDATE(), 114)
print 'i:' + CONVERT(NVARCHAR, GETDATE(), 114)
end
---- find institutional claim ----

IF @is_find_institutional_claim  = 1
BEGIN
INSERT INTO #tbl_claim (
claim_id					,		claim_ud					,
claim_form_type_id			,		claim_form_type_ud	,
claim_type_ud				,
member_eligibility_id		,
adjudication_status_id		,		invoice_number				,
dos_from					,		dos_through					,
provider_id					,		provider_identifier_id		,
practice_office_id			,		provider_network_id			,
vendor_id					,
member_ud					,
patient_number				,		member_nm					,
claim_form_id				, 		patient_account_number

)
EXEC dbo.plx_find_claim_form_for_institutional_load
@get_column_headers
,@institutional_claim_ud					,@institutional_claim_status_id
,@institutional_result_code_id				,@institutional_received_date_from
,@institutional_received_date_thru			,@institutional_clean_date
,@institutional_place_of_service_id			,@institutional_claim_bill_type_id
,@institutional_date_entered_from			,@institutional_date_entered_thru
,@institutional_effective_from_date_rule_ud	,@institutional_effective_through_date_rule_ud
,@institutional_service_from_date			,@institutional_service_thru_date
,@institutional_type_of_service_id			,@institutional_admission_from_date
,@institutional_admission_thru_date			,@institutional_procedure_code_ud
,@institutional_principle_procedure_code_ud
,@institutional_principle_diagnosis_code_ud ,@institutional_admit_diagnosis_code_ud
,@institutional_condition_code_id			,@institutional_occurrence_code_id
,@institutional_value_code_id				,@institutional_net_amount_from
,@institutional_net_amount_thru				,@institutional_accumulator_ud
,@institutional_accumulator_class_id		,@institutional_authorization_ud
,@institutional_claim_type_id
,@episode_id
, NULL -- ,@provider_id
,@provider_identifier_id				,@provider_name_last
,@provider_name_first
, NULL --- ,@referring_provider_id
,@billing_provider_identifier_id			,@billing_provider_name_last
,@billing_provider_name_first				,@provider_network_id
,@practice_office_id						,@locale_id
,@vendor_id									,@federal_ein
,@vendor_nm									,@practice_office_nm
,@show_exact_match

-- Member
,@patient_eligibility_id
,@patient_member_id							,@patient_number
,@institutional_patient_account_number
,@subscriber_eligibility_id 				,@subscriber_name_last
,@subscriber_name_first						,@benefit_category_id
,@benefit_sub_category_id					,@benefit_contract_id
,@client_id									,@client_group_id
,@benefit_plan_id
--  adjudication - benefit plan level
,@benefit_plan_type_id

-- accounting
,@check_number
,@zero_claim_vendor_batch_reference_number
,@accounting_company_id                      -- Accounting Company on a related AP Transaction
,@accounting_company_account_id              -- AP Account on a related AP Transaction

--	 security
,@security_credential
,@active_directory_security_user_roles
,@NumRecords
END

if @debug_mode = 1 begin
print 'i:' + CONVERT(NVARCHAR, GETDATE(), 114)
print 'd:' + CONVERT(NVARCHAR, GETDATE(), 114)
end

---- find dental claim ----
IF @is_find_dental_claim = 1
BEGIN
INSERT INTO #tbl_claim (
claim_id					,		claim_ud					,
claim_form_type_id			,		claim_form_type_ud	,
claim_type_ud				,
member_eligibility_id		,
adjudication_status_id		,		invoice_number				,
dos_from					,		dos_through					,
provider_id					,		provider_identifier_id		,
practice_office_id			,		provider_network_id			,
vendor_id					,
member_ud					,
patient_number				,		member_nm					,
claim_form_id				, 		patient_account_number

)
EXEC dbo.plx_find_claim_form_for_dental_load
@get_column_headers
,@dental_claim_ud							,@dental_claim_status_id
,@dental_result_code_id						,@dental_received_date_from
,@dental_received_date_thru					,@dental_authorization_ud
,@dental_place_of_service_id				,@dental_date_entered_from
,@dental_date_entered_thru					,@dental_service_from_date
,@dental_service_thru_date					,@dental_procedure_code_ud
,@dental_alternate_procedure_code_ud		,@dental_area_of_oral_cavity_id
,@dental_tooth_number_id					,@dental_tooth_letter_id
,@dental_tooth_surface_id					,@dental_net_amount_from
,@dental_net_amount_thru					,@dental_accumulator_ud
,@dental_accumulator_class_id
,@dental_object_record_id					,@dental_treatment_of_orthodontics
,@dental_replacement_of_prosthesis
,@dental_claim_type_id
,@episode_id
,NULL --,@provider_id
,@provider_identifier_id				,@provider_name_last
,@provider_name_first
, NULL -- ,@billing_provider_id
,@billing_provider_identifier_id			,@billing_provider_name_last
,@billing_provider_name_first				,@provider_network_id
,@practice_office_id						,@locale_id
,@vendor_id									,@federal_ein
,@vendor_nm									,@practice_office_nm
,@show_exact_match

-- Member
,@patient_eligibility_id
,@patient_member_id							,@patient_number
,@dental_patient_account_number
,@subscriber_eligibility_id 				,@subscriber_name_last
,@subscriber_name_first						,@benefit_category_id
,@benefit_sub_category_id					,@benefit_contract_id
,@client_id									,@client_group_id
,@benefit_plan_id
--  adjudication - benefit plan level
,@benefit_plan_type_id

-- accounting
,@check_number
,@zero_claim_vendor_batch_reference_number
,@accounting_company_id                      -- Accounting Company on a related AP Transaction
,@accounting_company_account_id              -- AP Account on a related AP Transaction

--	 security
,@security_credential
,@active_directory_security_user_roles
,@NumRecords
END

if @debug_mode = 1
print 'd:' + CONVERT(NVARCHAR, GETDATE(), 114)
-- find with adjudication + other criteria

-- RT:7537 Only include claims containing lines with a claim payment process status matching the value given
IF ISNULL(@claim_payment_process_status_id, '') <> ''
BEGIN
DELETE tmp
FROM #tbl_claim tmp
WHERE tmp.claim_id NOT IN
(
SELECT #tbl_claim.claim_id
FROM #tbl_claim
JOIN claim_procedure cp on cp.claim_id = tmp.claim_id
WHERE cp.claim_payment_process_status_id = @claim_payment_process_status_id
)
END
-- RT:14072 - Only include claims containing lines with a benefit plan type matching the value given
IF ISNULL(@benefit_plan_type_id, '') <> ''
BEGIN
-- Map benefit plan type to plan level based on golden key equivalence.
DECLARE @plan_level_id INT
SELECT @plan_level_id = plan_level_id FROM plan_level pl
JOIN benefit_plan_type bpt ON pl.golden_key = REPLACE(bpt.golden_key, ' PLAN', '')
WHERE benefit_plan_type_id = @benefit_plan_type_id

-- Remove any values of an unselected plan type.
DELETE
FROM #tbl_claim
WHERE claim_id NOT IN (
SELECT claim_id
FROM adjudication_result_key ark
JOIN claim_procedure cp ON cp.claim_procedure_id = ark.claim_procedure_id
WHERE ark.plan_level_id = @plan_level_id
)
END
-- RT:23783 - Only include claims with a claim line on hold,
--			  if Show Only Claims Where Line is onHold checkbox is checked.
IF ISNULL(@show_only_claims_with_held_line, 0) = 1
BEGIN
DELETE tmp
FROM #tbl_claim tmp
WHERE tmp.claim_id NOT IN (
SELECT #tbl_claim.claim_id
FROM #tbl_claim JOIN claim_procedure cp
ON cp.claim_id = tmp.claim_id
WHERE ISNULL(cp.hold,0) = 1)
END

END
if @debug_mode = 1

print 'return:' + CONVERT(NVARCHAR, GETDATE(), 114)
-- return result
SELECT	DISTINCT TOP (dbo.fn_results_limit())
claim.claim_id ,
claim.claim_ud ,
claim_form_id,
claim.claim_form_type_id,
claim.claim_form_type_ud ,
cft.golden_key AS claim_form_type_gk,
claim.claim_type_ud ,
claim.invoice_number,
claim.dos_from,
claim.dos_through,
patient_number,
patient_account_number,
member_ud ,
member_nm ,
adjudication_status.adjudication_status_ud ,
claim.provider_id ,
dbo.plx_ConcatenateName(provider_name.name_last, provider_name.name_first, provider_name.name_middle, null) AS provider_nm ,
claim.provider_identifier_id,
provider_identifier.provider_ud ,
practice_office.practice_office_ud ,
practice_office.practice_office_nm ,
dbo.plx_ConcatenateAddress(address.address_1, address.address_2, address.delivery_route, address.locale_id) as office_address ,
claim.vendor_id ,
vendor.vendor_ud,
vendor.vendor_nm ,
vendor.federal_ein ,
dbo.plx_fn_get_date_of_adjudication_run(claim.claim_id) as adj_date

INTO #tbl_claims_data_to_return
FROM 	#tbl_claim claim
--		INNER JOIN #tbl_member member
--			ON claim.member_eligibility_id = member.member_eligibility_id
--		LEFT JOIN claim_form_type
--			ON claim_form_type.claim_form_type_id = claim.claim_form_type_id
LEFT JOIN adjudication_status
ON claim.adjudication_status_id = adjudication_status.adjudication_status_id
LEFT JOIN vendor
ON vendor.vendor_id = claim.vendor_id
LEFT JOIN provider_identifier
ON provider_identifier.provider_identifier_id = claim.provider_identifier_id
LEFT JOIN provider_name
ON provider_identifier.provider_id = provider_name.provider_id AND provider_name.is_primary = 1
--ON claim.provider_id = provider_name.provider_id AND provider_name.is_primary = 1
--claim.provider_id is often null for some reason.  This change ensures we get the name
LEFT JOIN practice_office
ON practice_office.practice_office_id = claim.practice_office_id
LEFT JOIN practice_office_contact
ON (practice_office.practice_office_id = practice_office_contact.practice_office_id) AND (practice_office_contact.is_primary =1 )
LEFT JOIN contact
ON practice_office_contact.contact_id = contact.contact_id
LEFT JOIN contact_address
ON (contact.contact_id = contact_address.contact_id) AND (contact_address.primary_for_contact =1)
LEFT JOIN address
ON contact_address.address_id = address.address_id
LEFT JOIN claim_form_type cft
ON claim.claim_form_type_id = cft.claim_form_type_id


SELECT * FROM #tbl_claims_data_to_return
if @debug_mode = 1

print 'end:' + CONVERT(NVARCHAR, GETDATE(), 114)
END
GO
