USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_rate_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_eligibility_rate_type_list_load]
AS
SET NOCOUNT ON

SELECT
ert.eligibility_rate_type_id
,ert.eligibility_rate_type_ud
,ert.description
FROM dbo.eligibility_rate_type ert
ORDER BY ert.eligibility_rate_type_ud

RETURN 0
GO
