USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
DATE: 10/21/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/21/2008	Vishwa Jella	1.0			Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check if/where this benefit framework is used
--
REQUIREMENTS:
--
INPUTS:

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_framework_check_delete]
(
@id	int = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE		= 1,
@SP_DELETE_UNABLE	= 0

-- First check that the record exists
IF NOT EXISTS (	SELECT	benefit_framework_id
FROM	benefit_framework
WHERE	benefit_framework_id = @id)
RETURN @SP_DELETE_ABLE

ELSE
BEGIN
IF EXISTS(SELECT * FROM benefit_plan WHERE benefit_framework_id = @id)
BEGIN
--check benefit plans
SELECT 'Benefit Plan' As object_golden_key, benefit_plan_ud AS object_ud
FROM benefit_plan
WHERE benefit_plan.benefit_framework_id = @id

RETURN @SP_DELETE_UNABLE

END

END

RETURN @SP_DELETE_ABLE
GO
