USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_maintenance_type_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_eligibility_maintenance_type_code_load]
AS
SET NOCOUNT ON

SELECT
emtc.eligibility_maintenance_type_code_id
,emtc.eligibility_maintenance_type_code_ud
FROM dbo.eligibility_maintenance_type_code emtc
ORDER BY emtc.eligibility_maintenance_type_code_ud

RETURN 0
GO
