USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carc_rarc_payment_item_mapping_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/05/2017	eponomareff	1.0			RT:11929 - created for carc/rarc addition
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to load carc/rarc mapping to payment items
Form: Assign Claim Adjustment Reason Codes
Grid: Payment Item Claim Adjustment Reason Code Assignment (grdPaymentItemCarcRarcAssign)
--
******************************/
CREATE PROCEDURE [dbo].[plx_carc_rarc_payment_item_mapping_list_load]
AS

SELECT

capim.claim_adjustment_payment_item_map_id
,capim.adjudication_object_id
,ISNULL(capim.is_capitated, 0) AS is_capitated
,ao.adjudication_object_ud
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,capim.claim_adjustment_group_code_gk
,carc.claim_adjustment_reason_code_id
,capim.claim_adjustment_reason_code_nk
,rarc.remittance_advice_remark_code_id
,capim.remittance_advice_remark_code_nk
,capim.effective_from
,capim.effective_thru
FROM
dbo.claim_adjustment_payment_item_map capim
JOIN dbo.adjudication_object ao
ON capim.adjudication_object_id  = ao.adjudication_object_id
JOIN dbo.claim_adjustment_group_code cagc
ON capim.claim_adjustment_group_code_gk = cagc.golden_key
JOIN dbo.claim_adjustment_reason_code carc
ON capim.claim_adjustment_reason_code_nk = carc.claim_adjustment_reason_code_nk
-- RARC is optional
LEFT JOIN dbo.remittance_advice_remark_code rarc
ON capim.remittance_advice_remark_code_nk = rarc.remittance_advice_remark_code_nk

RETURN 0
GO
