USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_customer_new_from_family_eligibility_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
Date: 08/23/2011
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/19/2014	dcannon		1.1			RT:7004 member address restructure
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for member form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE  PROCEDURE [dbo].[plx_customer_new_from_family_eligibility_load]
(
@family_eligibility_id			Int
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS			int,
@SP_EXCEPTION		int,
@customer_vendor_type_id int,
@currency_id		int,
@phone_number		varchar(50),
@fax_number			varchar(50);
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT @customer_vendor_type_id = customer_vendor_type_id
FROM customer_vendor_type WHERE customer_vendor_type_ud = 'Individual'

SELECT @currency_id = currency_id
FROM currency WHERE golden_key = 'USD'

SELECT
fe.family_eligibility_ud,
dbo.plx_fn_get_subscriber_name_for_enrollment(@family_eligibility_id) as customer_nm,
dbo.plx_fn_get_subscriber_name_for_enrollment(@family_eligibility_id) as customer_bill_to_nm,
@customer_vendor_type_id as customer_vendor_type_id,
@currency_id as currency_id,
ma.address_1,
ma.address_2,
locale.locale_id,
locale.postal_code,
locale.city,
locale.county,
state.state_ud,
country.country_ud,
phone.telephone_number as phone_number,
fax.telephone_number as fax_number,
email.internet_address as email_address
FROM
family_eligibility fe
JOIN family_eligibility_member fem ON fe.family_eligibility_id = fem.family_eligibility_id
JOIN member m ON fem.member_id = m.member_id
JOIN relationship_to_insured rti on fem.relationship_to_insured_id = rti.relationship_to_insured_id
LEFT JOIN member_address ma on m.member_id = ma.member_id
AND ma.is_primary = 1
--LEFT JOIN address addr ON ma.address_id = addr.address_id
LEFT JOIN locale ON locale.locale_id = ma.locale_id
LEFT JOIN state ON state.state_id = locale.state_id
LEFT JOIN country  ON country.country_id = locale.country_id
LEFT JOIN (SELECT
mia.member_id,
mia.member_internet_address_id
,mia.internet_address
FROM member_internet_address mia
inner join internet_address_type ON internet_address_type.internet_address_type_id = mia.internet_address_type_id
WHERE internet_address_type.golden_key = 'E-mail'
AND mia.is_primary = 1) as email
ON email.member_id = m.member_id
LEFT JOIN (SELECT
mtn.member_id,
mtn.telephone_number
FROM
member_telephone_number mtn
--JOIN telephone_number tn ON mtn.telephone_number_id = tn.telephone_number_id
JOIN telephone_number_type AS tnt ON mtn.telephone_number_type_id = tnt.telephone_number_type_id
AND tnt.golden_key = 'Unknown'
) as phone
ON m.member_id = phone.member_id
LEFT JOIN (SELECT
mtn.member_id,
mtn.telephone_number
FROM
member_telephone_number mtn
--JOIN telephone_number tn ON mtn.telephone_number_id = tn.telephone_number_id
JOIN telephone_number_type AS tnt ON mtn.telephone_number_type_id = tnt.telephone_number_type_id
AND tnt.golden_key = 'fax'
) as fax
ON m.member_id = fax.member_id
WHERE fem.family_eligibility_id = @family_eligibility_id;

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS;
ELSE
BEGIN

RETURN @SP_EXCEPTION;
END
END
GO
