USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_correspondence_generated_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/31/2006	Hiep Nguyen	1.0		Created
07/22/2011	Vjella		2.0		Removed correspondence_print_queue_id part of cleanup
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for brokerage correspondence generated grid on brokerage form.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_brokerage_correspondence_generated_save]
(
@agent_correspondence_id	INT = NULL   OUTPUT
, @correspondence_id		INT = NULL
, @brokerage_id			INT = NULL
, @generated_by			NVARCHAR(50) = NULL
, @generated_date		DATETIME = NULL
, @is_response_received		BIT = 0
, @stop_correspondence		BIT = 0
, @active			BIT = NULL
, @updated_date			DATETIME = NULL
, @updated_by_user_name		NVARCHAR(128) = NULL
--	,@cascade                                    bit = 0
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@old_is_response_received BIT,
@old_stop_correspondence BIT

SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @agent_correspondence_id IS NULL
BEGIN

--- Create a new agent_correspondence record
INSERT INTO agent_correspondence(
agent_id
,active
)
VALUES
(@brokerage_id
,@active
)

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @agent_correspondence_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_correspondence WHERE (agent_correspondence_id = @agent_correspondence_id))
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing agentcorrespondence record

UPDATE agent_correspondence
SET
agent_id                                = @brokerage_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_correspondence_id = @agent_correspondence_id

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
