USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_diagnosis_code_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cmaddox
DATE: 03/20/2013
--
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check dependencies on a diagnosis_code before deleting.
--
REQUIREMENTS:
--
INPUTS:
@id - Primary key of the diagnosis_code to check for dependencies
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_diagnosis_code_check_delete]
(
@id	int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0


-- First check that the diagnosis_code exists
IF NOT EXISTS (SELECT diagnosis_code_id FROM diagnosis_code WHERE diagnosis_code_id = @id)
RETURN @SP_DELETE_ABLE

IF EXISTS
(
SELECT * FROM referral
WHERE
admit_primary_diagnosis_code_id = @id
OR
primary_diagnosis_code_id = @id
OR
secondary_diagnosis_code_id = @id
)
OR EXISTS
(
SELECT * FROM referral_secondary_dx_code
WHERE
diagnosis_code_id = @id
)
OR EXISTS
(
SELECT * FROM diagnosis_code_group_diagnosis_code
WHERE
beginning_diagnosis_code_id = @id
OR
ending_diagnosis_code_id = @id
)
BEGIN
SELECT 'Referral' AS object_golden_key, referral_ud AS object_ud
FROM referral
WHERE
admit_primary_diagnosis_code_id = @id
OR
primary_diagnosis_code_id = @id
OR
secondary_diagnosis_code_id = @id
UNION
SELECT 'Referral' AS object_golden_key, referral_ud AS object_ud
FROM referral_secondary_dx_code rsdc
JOIN referral r
ON r.referral_id = rsdc.referral_id
WHERE
diagnosis_code_id = @id

SELECT DISTINCT 'DX Code Group' AS object_golden_key, dcg.diagnosis_code_group_ud AS object_ud
FROM
diagnosis_code_group dcg
JOIN diagnosis_code_group_diagnosis_code dcgdc
ON dcg.diagnosis_code_group_id = dcgdc.diagnosis_code_group_id
WHERE
beginning_diagnosis_code_id = @id
OR
ending_diagnosis_code_id = @id


RETURN @SP_DELETE_UNABLE
END
ELSE
RETURN @SP_DELETE_ABLE
GO
