USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/27/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/03	ThuyHa		1.0		Update to reflect removing table benefit_period_benefit_plan_choice_list,
and adding table benefit_contract_benefit_accumulator_choice_resolution
2008/03/10	lrenard		2.0		Updated to remove FROM benefit_contract_period_benefit_plan_accumulator_class_choice_resolution
and check for existing member eiligibilities
2008/04/01	lrenard		2.1		Updated to check for existing member eligibilities
2008/04/07	lrenard		2.2		Updated to union return data set
2008/04/11	lrenard		2.3		Updated to delete benefit contract level resolutions
2008/12/19	lrenard		2.4		Updated to delete benefit_contract_period_benefit_plan_visit_definition
2011/03/04	ggutshall	2.5		Updated to return a more informative error code, cleaned up code.
2011/10/19	ggutshal	2.6		Removed one section preventing deletion, added transaction and error handling
0212/04/01  eponomareff 2.7     Added delete for new table benefit_contract_period_benefit_plan_additional_information
2012/04/11	ggutshall	2.8		reinstated check previously commented out, but limited check with effective dates

--
CURRENT_VERSION: 2.8
--
DESCRIPTION:
Delete for Benefit Plan Panel
In Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
@benefit_contract_period_benefit_plan_id - Key to benefit_contract_period_benefit_plan table, identifies a single stored benefit_contract_period_benefit_plan.
@cascade  - - Cascade this deletion to all child records?

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE        PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_delete]
(
@benefit_contract_period_benefit_plan_id int = NULL,
@cascade bit = 0
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@SP_INUSE int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

-- Go get the appropriate ui_engine_error_id for if the plan is in use
SELECT
@SP_INUSE = ui_engine_error_id
FROM
ui_engine_error
WHERE
golden_key = 'G_BENEFIT_PLAN_IN_USE'

--
IF NOT EXISTS
(
SELECT
1
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
BEGIN
--If exiting here, it is because the benefit_contract_period_benefit_plan simply
--does NOT exist
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

IF EXISTS
(
SELECT
*
FROM
family_eligibility_accumulator_choice_list_resolution
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
OR EXISTS
(
SELECT
*
FROM
family_eligibility_benefit_class_choice_list_resolution
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
OR EXISTS
(
SELECT
*
FROM
family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
WHERE
benefit_plan_id IN
(
SELECT
benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
AND fe.benefit_contract_id IN
(
SELECT
benefit_contract_id
FROM
benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE
-- look for overlapping eligibilities
(
(
-- eligibility starts within period
(fembp.effective_from >= bcp.effective_from AND (bcp.effective_thru IS NULL OR  fembp.effective_from <= bcp.effective_thru))
)
or
-- eligibility starts before, but overlaps period
(
(fembp.effective_from < bcp.effective_from AND (fembp.effective_thru IS NULL OR  fembp.effective_thru <= bcp.effective_thru))
)
)
-- make sure eligibility is NOT never-covered
AND ISNULL(fembp.never_under_coverage, 0) = 0
AND benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
)

BEGIN

--eligibility choice list exist for this plan-period
SELECT
DISTINCT fe.family_eligibility_ud as 'Family Eligibility',
cast(NULL as nvarchar) as 'Member Eligibility'
FROM
family_eligibility_benefit_class_choice_list_resolution feb
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = feb.family_eligibility_id
WHERE
feb.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
UNION

--eligibility choice list exist for this plan-period
SELECT
DISTINCT  fe.family_eligibility_ud as 'Family Eligibility',
cast(NULL as nvarchar) as 'Member Eligibility'
FROM
family_eligibility_accumulator_choice_list_resolution fea
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fea.family_eligibility_id
WHERE
fea.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
UNION

--member eligibility plan
SELECT
DISTINCT  cast(NULL as nvarchar) as 'Family Eligibility',
fembp.member_eligibility_ud as 'Member Eligibility'
FROM
family_eligibility_member_benefit_plan fembp
INNER JOIN family_eligibility_member fem
ON fembp.family_eligibility_member_id = fem.family_eligibility_member_id
INNER JOIN family_eligibility fe
ON fe.family_eligibility_id = fem.family_eligibility_id
WHERE
benefit_plan_id IN
(
SELECT
benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
AND fe.benefit_contract_id IN
(
SELECT
benefit_contract_id
FROM
benefit_contract_period bcp
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON bcpbp.benefit_contract_period_id = bcp.benefit_contract_period_id
WHERE
bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
--At this point you are exiting because the benefit contract
--is in use and therefore can not be deleted
RETURN @SP_INUSE
END

-----------------------------------------------------------

--thanhnguyen develop for Update to Benefit Contract Template

BEGIN TRANSACTION

DECLARE @benefit_plan_type_id int,@benefit_plan_id int,@benefit_contract_period_id int, @err int

SELECT
@benefit_plan_type_id=benefit_plan_type_id,
@benefit_plan_id=benefit_plan_id,
@benefit_contract_period_id=benefit_contract_period_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id

IF
(
SELECT
golden_key
FROM
benefit_plan_type
WHERE
benefit_plan_type_id=@benefit_plan_type_id)='Base Plan'
BEGIN

DECLARE @benefit_category_id int, @benefit_sub_category_id int

SELECT
@benefit_category_id=bc.benefit_category_id,
@benefit_sub_category_id=bsc.benefit_sub_category_id
FROM
benefit_sub_category bsc,
benefit_category bc,
benefit_framework bf,
benefit_plan bp
WHERE
bp.benefit_plan_id=@benefit_plan_id
AND bf.benefit_framework_id = bp.benefit_framework_id
AND bf.benefit_sub_category_id = bsc.benefit_sub_category_id
AND bf.benefit_category_id = bc.benefit_category_id

DECLARE @number_same_benefit_plan int

SELECT
@number_same_benefit_plan=count(benefit_plan_id)
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_plan_id IN
(
SELECT
bcpbp.benefit_plan_id
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id=bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
WHERE
bcpbp.benefit_plan_type_id=@benefit_plan_type_id
AND bcpbp.benefit_contract_period_id=@benefit_contract_period_id
AND bf.benefit_category_id=@benefit_category_id
AND bf.benefit_sub_category_id=@benefit_sub_category_id
)
AND benefit_contract_period_benefit_plan.benefit_plan_type_id=@benefit_plan_type_id
AND benefit_contract_period_benefit_plan.benefit_contract_period_id=@benefit_contract_period_id

IF @number_same_benefit_plan<=2
BEGIN

UPDATE
benefit_contract_period_benefit_plan
SET
resolve_option_at_id=null
WHERE
benefit_plan_id IN
(
SELECT
bcpbp.benefit_plan_id
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id=bcpbp.benefit_plan_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bp.benefit_framework_id
WHERE
bcpbp.benefit_plan_type_id=@benefit_plan_type_id
AND bcpbp.benefit_contract_period_id=@benefit_contract_period_id
AND bf.benefit_category_id=@benefit_category_id
AND bf.benefit_sub_category_id=@benefit_sub_category_id
)
AND benefit_contract_period_benefit_plan.benefit_plan_type_id=@benefit_plan_type_id
AND benefit_contract_period_benefit_plan.benefit_contract_period_id=@benefit_contract_period_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
END

END

--END of developing for Update to Benefit Contract Template

-- delete benefit class choice list
DELETE FROM
benefit_contract_benefit_class_choice_resolution
WHERE
benefit_contract_benefit_class_choice_resolution_id IN
(
SELECT
benefit_contract_benefit_class_choice_resolution_id
FROM
benefit_contract_benefit_class_choice_resolution bcbccr
INNER JOIN benefit_coverage_rules bcr
ON bcr.benefit_coverage_rules_id = bcbccr.benefit_coverage_rules_id
INNER JOIN benefit b
ON bcr.benefit_id = b.benefit_id
INNER JOIN benefit_framework_benefit_class bfbc
ON bfbc.benefit_framework_benefit_class_id = b.benefit_framework_benefit_class_id
INNER JOIN benefit_framework bf
ON bf.benefit_framework_id = bfbc.benefit_framework_id
INNER JOIN benefit_plan bp
ON bp.benefit_framework_id = bf.benefit_framework_id
WHERE
bp.benefit_plan_id IN
(
SELECT
benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
AND bcbccr.benefit_contract_id IN
(
SELECT
benefit_contract_id
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
AND NOT EXISTS
(
SELECT
*
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_contract_period bcp
ON bcp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN benefit_plan bp
ON bp.benefit_plan_id = bcpbp.benefit_plan_id
WHERE
bcpbp.benefit_contract_period_benefit_plan_id <> @benefit_contract_period_benefit_plan_id
AND bf.benefit_framework_id = bp.benefit_framework_id
AND bcbccr.benefit_contract_id = bcp.benefit_contract_id
)
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

-- delete accumulator class choice list
--limit rule
DELETE FROM
benefit_contract_accumulator_class_choice_resolution
WHERE
benefit_contract_accumulator_class_choice_resolution_id IN
(
SELECT
benefit_contract_accumulator_class_choice_resolution_id
FROM
benefit_contract_accumulator_class_choice_resolution bcaccr
INNER JOIN accumulator_limit_rule alr
ON alr.accumulator_limit_rule_id = bcaccr.accumulator_limit_rule_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = alr.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework af
ON af.accumulator_framework_id = afac.accumulator_framework_id
LEFT JOIN benefit_plan_accumulator_framework bpaf
ON bpaf.accumulator_framework_id = af.accumulator_framework_id
WHERE
bpaf.benefit_plan_id IN
(
SELECT
benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
AND bcaccr.benefit_contract_id IN
(
SELECT
benefit_contract_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
--do NOT delete WHERE this accumulator framework does NOT associate to the benefit contract through another plan or accum framework assignment
AND NOT EXISTS
(
SELECT
*
FROM
benefit_contract_period_benefit_plan bcpbp2
INNER JOIN benefit_contract_period bcp2
ON bcp2.benefit_contract_period_id = bcpbp2.benefit_contract_period_id
INNER JOIN benefit_plan bp2
ON bp2.benefit_plan_id = bcpbp2.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework bpaf2
ON bpaf2.benefit_plan_id = bp2.benefit_plan_id
WHERE
bcpbp2.benefit_contract_period_benefit_plan_id <> @benefit_contract_period_benefit_plan_id
AND bpaf2.accumulator_framework_id = bpaf.accumulator_framework_id
AND bcaccr.benefit_contract_id = bcp2.benefit_contract_id
)
AND NOT EXISTS
(
SELECT
*
FROM
benefit_contract_accumulator_framework bcaf2
WHERE
bcaf2.accumulator_framework_id = bpaf.accumulator_framework_id
AND bcaccr.benefit_contract_id = bcaf2.benefit_contract_id
)
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

--sub limit rule
DELETE FROM
benefit_contract_accumulator_class_choice_resolution
WHERE
benefit_contract_accumulator_class_choice_resolution_id IN
(
SELECT
benefit_contract_accumulator_class_choice_resolution_id
FROM
benefit_contract_accumulator_class_choice_resolution bcaccr
INNER JOIN accumulator_sub_limit_rule aslr
ON aslr.accumulator_sub_limit_rule_id = bcaccr.accumulator_sub_limit_rule_id
INNER JOIN accumulator_sub_limit asl
ON asl.accumulator_sub_limit_id = aslr.accumulator_sub_limit_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_accumulator_id = asl.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_framework_accumulator_class afac
ON afac.accumulator_framework_accumulator_class_id = afaca.accumulator_framework_accumulator_class_id
INNER JOIN accumulator_framework af
ON af.accumulator_framework_id = afac.accumulator_framework_id
LEFT JOIN benefit_plan_accumulator_framework bpaf
ON bpaf.accumulator_framework_id = af.accumulator_framework_id
WHERE
bpaf.benefit_plan_id IN
(
SELECT
benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
AND bcaccr.benefit_contract_id IN
(
SELECT
benefit_contract_id
FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
)
--do NOT delete WHERE this accumulator framework does NOT associate to the benefit contract through another plan or accum framework assignment
AND NOT EXISTS
(
SELECT
*
FROM
benefit_contract_period_benefit_plan bcpbp2
INNER JOIN benefit_contract_period bcp2
ON bcp2.benefit_contract_period_id = bcpbp2.benefit_contract_period_id
INNER JOIN benefit_plan bp2
ON bp2.benefit_plan_id = bcpbp2.benefit_plan_id
INNER JOIN benefit_plan_accumulator_framework bpaf2
ON bpaf2.benefit_plan_id = bp2.benefit_plan_id
WHERE
bcpbp2.benefit_contract_period_benefit_plan_id <> @benefit_contract_period_benefit_plan_id
AND bpaf2.accumulator_framework_id = bpaf.accumulator_framework_id
AND bcaccr.benefit_contract_id = bcp2.benefit_contract_id
)
AND NOT EXISTS
(
SELECT
*
FROM
benefit_contract_accumulator_framework bcaf2
WHERE
bcaf2.accumulator_framework_id = bpaf.accumulator_framework_id
AND bcaccr.benefit_contract_id = bcaf2.benefit_contract_id
)
)


SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_cob_processing_rule
WHERE
benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_accumulator_class_choice_resolution
WHERE
benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_benefit_class_choice_resolution
WHERE
benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_eligibility_restriction
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_auto_termination_rule
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_underwriting_rule
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_volume
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_coverage_level_tier_assignment
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_network_level_ranking
WHERE
benefit_contract_period_benefit_plan_id =
(
SELECT
benefit_contract_period_benefit_plan_id
FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id=@benefit_contract_period_benefit_plan_id
)

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan
WHERE
parent_benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_eligibility_restriction
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_auto_termination_rule
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_underwriting_rule
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_volume
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_coverage_level_tier_assignment
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_network_level_ranking
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id


SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_benefit_class_choice_resolution
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_accumulator_class_choice_resolution
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_choice_matrix_weighting
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
family_eligibility_benefit_contract_period_benefit_plan_choice
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_premium_rate
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_premium_fee
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_additional_information
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id


SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_visit_definition
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan_benefit_waiting_period
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END





DELETE FROM
benefit_contract_period_benefit_plan_pharmacy_information
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

DELETE FROM
benefit_contract_period_benefit_plan
WHERE
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

SET @err = @@ERROR
IF @err<>0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END

COMMIT TRANSACTION

END
--
RETURN @SP_SUCCESS
--
GO
