USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_limit_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
SAUTHOR: Trinh Le
DATE: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/05/2005	Trinh Le	1.0			create
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save a row in grid sub limit rule in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_limit_rule_save]
(
@accumulator_sub_limit_rules_id                       int = NULL   OUTPUT
,@accumulator_sub_limit_id int
,@ind_accumulator_valid_choice_id      int = NULL
,@individual_value                           nvarchar(200) = NULL
,@fam_accumulator_valid_choice_id          int = NULL
,@family_value                               nvarchar(200) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'
--
IF @accumulator_sub_limit_rules_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_sub_limit_rule(
accumulator_sub_limit_id
,individual_accumulator_choice_list_id
,individual_value
,family_accumulator_choice_list_id
,family_value
,effective_from
,effective_thru
,active
)
VALUES
(@accumulator_sub_limit_id
,@ind_accumulator_valid_choice_id
,@individual_value
,@fam_accumulator_valid_choice_id
,@family_value
,@effective_from
,@effective_thru
,@active
)
--
SET @accumulator_sub_limit_rules_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_sub_limit_rule WHERE accumulator_sub_limit_rule_id = @accumulator_sub_limit_rules_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
--
DECLARE @ErrorVar int, @RowCountVar int

UPDATE accumulator_sub_limit_rule
SET
individual_accumulator_choice_list_id    = @ind_accumulator_valid_choice_id
,individual_value                         = @individual_value
,family_accumulator_choice_list_id        = @fam_accumulator_valid_choice_id
,family_value                             = @family_value
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_sub_limit_rule_id = @accumulator_sub_limit_rules_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

END
--
RETURN @SP_SUCCESS
--
GO
