USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_network_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mai Tran
Date: 11/10/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/16/2006	mttran					remove transaction
09/03/2014  eponomareff             RT:6046 Data modification project
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

This procedure is used to delete a row in grid "Network Assignments"
in Family Eligibility form and Advanced Eligibility Setup form.

--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_network_delete]
(
@family_eligibility_member_benefit_plan_network_id  int = null
) AS
--
SET NOCOUNT ON
--
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int,
@ERROR_CANT_DELETE NVARCHAR(50),
@ERROR_CANT_DELETE_MEMBER_NETWORK int,
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_NOT_EXIST int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '',
@ERROR_CANT_DELETE_MEMBER_NETWORK	= 156560012,
@ERROR_NOT_EXIST					= 156560013
--
IF NOT EXISTS (SELECT * FROM family_eligibility_member_benefit_plan_network WHERE family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @is_subscriber INT

-- check whether this member is subscriber or not, if he/she is subscriber, then delete all network assignment
-- of other member which indicate to use Subscriber's
SELECT	@is_subscriber = CASE WHEN UPPER(relationship_to_insured.golden_key) = UPPER('Self') THEN 1 ELSE 0 END
FROM 	dbo.family_eligibility_member_benefit_plan_network bpfemn
INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem
ON bpfemn.family_eligibility_member_benefit_plan_id = bpfem.family_eligibility_member_benefit_plan_id
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
INNER JOIN dbo.relationship_to_insured
ON family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id
WHERE	family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id

IF (@is_subscriber = 1)
BEGIN
DELETE	family_eligibility_member_benefit_plan_network
FROM 	family_eligibility_member_benefit_plan_network bpfemn
INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem
ON bpfemn.family_eligibility_member_benefit_plan_id = bpfem.family_eligibility_member_benefit_plan_id
INNER JOIN dbo.family_eligibility_member
ON bpfem.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
WHERE	bpfemn.use_subscriber_network = 1
AND		family_eligibility_member.family_eligibility_id =
(
SELECT	family_eligibility_member1.family_eligibility_id
FROM 	family_eligibility_member_benefit_plan_network bpfemn1
INNER JOIN dbo.family_eligibility_member_benefit_plan bpfem1
ON bpfemn1.family_eligibility_member_benefit_plan_id = bpfem1.family_eligibility_member_benefit_plan_id
INNER JOIN dbo.family_eligibility_member as family_eligibility_member1
ON bpfem1.family_eligibility_member_id = family_eligibility_member1.family_eligibility_member_id
WHERE	bpfemn1.family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id
)
END

IF (@@ERROR <>0)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_MEMBER_NETWORK)
END

DELETE	FROM family_eligibility_member_benefit_plan_network
WHERE	family_eligibility_member_benefit_plan_network_id = @family_eligibility_member_benefit_plan_network_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

IF (@@ERROR <>0)
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE_MEMBER_NETWORK)
END
END
--
RETURN @SP_SUCCESS
--
GO
