USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_timely_payment_queue_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
DESCRIPTION:
This procedure is used to determine if a timely claim payment filter is in use.
--
REQUIREMENTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_claim_timely_payment_queue_check_delete]
(
@id  INT = NULL
) AS

BEGIN
DECLARE
@SP_DELETE_ABLE		INT,
@SP_DELETE_UNABLE	INT

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0

RETURN @SP_DELETE_ABLE



END
GO
