USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--

AUTHOR: Tinh Do
Date: 10/28/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/18/2005	Tinh Do			1.0		Create		15656 - Eligibility Func Spec
11/11/2005	HuyThan	Edit	1.1		Add family_eligibility_id
11/28/2007	Vishwa Jella	1.2		Updated with network not applicatble for plan (ICU 16296)
08/18/2008	David Slayton	1.3		Removed life_insurance_coverage_unit column.
06/28/2011	Kyle Maher		1.4		changed table that modified_date is pulled from.
08/27/2012  eponomareff		2.0		Added termination reason to eligibility grid on Enrollment form
03/21/2017	eponomareff		2.1		RT:11012 Premium Billing - Volume rate on enrollment form throws exception
Added comment to keep in sync with [plx_eligibility_members_volume]
09/06/2017	eponomareff		2.2		RT:11257 Removed unnecessary dependency on this stored procedure in
[plx_eligibility_members_volume]. No change to this stored procedure;
only Volume Elections on advanced eligibility affected.

CURRENT_VERSION: 2.2
--
DESCRIPTION:
This procedure is used to load data for grid "Eligible Family Members"
in Family Eligibility form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_load]

(
@family_eligibility_id int = null
,@benefit_contract_period_benefit_plan_id Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @eligibility_members table(
family_eligibility_member_benefit_plan_id 	int NULL
,family_eligibility_member_id			int NULL
,member_eligibility_ud				NVARCHAR(160) NULL
,benefit_contract_period_benefit_plan_id	int NULL
,benefit_contract_period_id			int NULL
,benefit_plan_id				int NULL
,eligibility_level_id				int NULL
,eligibility_level_ud				nvarchar(255) NULL
,never_under_coverage				bit NULL
,relationship_to_insured_id			int NULL
,relationship_to_insured_ud			nvarchar(255) NULL
,member_id 					int NULL
,member_name					nvarchar(255) NULL
,effective_from 				datetime NULL
,effective_thru 				datetime NULL
,family_eligibility_termination_reason_id	int null
,family_eligibility_termination_reason_ud	nvarchar(255) null
,family_eligibility_id				int NULL
,network_not_applicable				bit NULL
,disenrollment_letter_received		bit NULL
,disenrollment_letter_received_effective_as_of datetime NULL
,modified_date datetime NULL
,family_eligibility_member_benefit_plan_object_row_version binary(8)
)


DECLARE	@period_id int
DECLARE @effective_from datetime
DECLARE @effective_thru datetime
DECLARE @benefit_contract_period_cursor CURSOR

SET @benefit_contract_period_cursor = CURSOR FAST_FORWARD
FOR
SELECT TOP 1  benefit_contract_period.benefit_contract_period_id,
benefit_contract_period.effective_from, benefit_contract_period.effective_thru
FROM         benefit_contract_period_benefit_plan INNER JOIN
benefit_contract_period ON
benefit_contract_period_benefit_plan.benefit_contract_period_id = benefit_contract_period.benefit_contract_period_id INNER JOIN
benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id INNER JOIN
benefit_contract ON benefit_contract_period.benefit_contract_id = benefit_contract.benefit_contract_id INNER JOIN
family_eligibility ON benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
WHERE     (benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id) AND
(family_eligibility.family_eligibility_id = @family_eligibility_id)

OPEN @benefit_contract_period_cursor

FETCH NEXT FROM @benefit_contract_period_cursor
INTO @period_id, @effective_from, @effective_thru

WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO	@eligibility_members(family_eligibility_member_benefit_plan_id,family_eligibility_member_id
,member_eligibility_ud ,benefit_contract_period_benefit_plan_id
,benefit_contract_period_id ,benefit_plan_id ,eligibility_level_id
,eligibility_level_ud ,never_under_coverage
,relationship_to_insured_id ,relationship_to_insured_ud ,member_id
,member_name ,effective_from ,effective_thru ,family_eligibility_termination_reason_id, family_eligibility_termination_reason_ud, family_eligibility_id
,network_not_applicable, disenrollment_letter_received, disenrollment_letter_received_effective_as_of, modified_date, family_eligibility_member_benefit_plan_object_row_version
)
SELECT
family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
,family_eligibility_member_benefit_plan.family_eligibility_member_id
,family_eligibility_member_benefit_plan.member_eligibility_ud
,benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id
,benefit_contract_period.benefit_contract_period_id
,family_eligibility_member_benefit_plan.benefit_plan_id
,family_eligibility_member_benefit_plan.eligibility_level_id
,eligibility_level.eligibility_level_ud
,family_eligibility_member_benefit_plan.never_under_coverage
,family_eligibility_member.relationship_to_insured_id
,relationship_to_insured.relationship_to_insured_ud
,member.member_id
,dbo.plx_ConcatenateName(member_name.name_last,member_name.name_first,member_name.name_middle,NULL) As member_name
,family_eligibility_member_benefit_plan.effective_from
,family_eligibility_member_benefit_plan.effective_thru
,family_eligibility_member_benefit_plan.family_eligibility_termination_reason_id
,family_eligibility_termination_reason.family_eligibility_termination_reason_ud
,family_eligibility.family_eligibility_id
,isnull(benefit_contract_period_benefit_plan.network_not_applicable,0)
,ISNULL(family_eligibility_member_benefit_plan.disenrollment_letter, 0)
,family_eligibility_member_benefit_plan.disenrollment_letter_effective_as_of
,family_eligibility_member_benefit_plan.modified_date
,family_eligibility_member_benefit_plan.object_row_version as family_eligibility_member_benefit_plan_object_row_version
FROM  	family_eligibility INNER JOIN
family_eligibility_member ON family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id INNER JOIN
family_eligibility_member_benefit_plan ON
family_eligibility_member.family_eligibility_member_id = family_eligibility_member_benefit_plan.family_eligibility_member_id INNER JOIN
relationship_to_insured ON
family_eligibility_member.relationship_to_insured_id = relationship_to_insured.relationship_to_insured_id INNER JOIN
member ON family_eligibility_member.member_id = member.member_id INNER JOIN
member_name ON member.member_id = member_name.member_id INNER JOIN
benefit_contract ON family_eligibility.benefit_contract_id = benefit_contract.benefit_contract_id INNER JOIN
benefit_contract_period ON benefit_contract.benefit_contract_id = benefit_contract_period.benefit_contract_id INNER JOIN
benefit_contract_period_benefit_plan ON
benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id INNER JOIN
benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id AND
family_eligibility_member_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id INNER JOIN
eligibility_level ON family_eligibility_member_benefit_plan.eligibility_level_id = eligibility_level.eligibility_level_id LEFT JOIN
family_eligibility_termination_reason ON family_eligibility_member_benefit_plan.family_eligibility_termination_reason_id = family_eligibility_termination_reason.family_eligibility_termination_reason_id

WHERE   (benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id)
AND (family_eligibility.family_eligibility_id = @family_eligibility_id)
AND member_name.is_primary = 1
AND ((( @effective_from is NULL OR @effective_from <= family_eligibility_member_benefit_plan.effective_from )
and (family_eligibility_member_benefit_plan.effective_thru <= @effective_thru OR @effective_thru is null ))
OR (family_eligibility_member_benefit_plan.effective_from <= @effective_from  AND (@effective_from <= family_eligibility_member_benefit_plan.effective_thru or @effective_from is null or family_eligibility_member_benefit_plan.effective_thru is null)
AND (family_eligibility_member_benefit_plan.effective_thru <= @effective_thru or @effective_thru is null))
OR ((family_eligibility_member_benefit_plan.effective_from <= @effective_thru or @effective_thru  is null) AND (family_eligibility_member_benefit_plan.effective_from  >= @effective_from or @effective_from is null )
AND (@effective_thru <= family_eligibility_member_benefit_plan.effective_thru or family_eligibility_member_benefit_plan.effective_thru is null))
OR ((family_eligibility_member_benefit_plan.effective_from  is null or family_eligibility_member_benefit_plan.effective_from <= @effective_from) AND (@effective_thru <= family_eligibility_member_benefit_plan.effective_thru or family_eligibility_member_benefit_plan.effective_thru is null) ))
ORDER BY family_eligibility_member_benefit_plan.effective_from DESC

FETCH NEXT FROM @benefit_contract_period_cursor
INTO @period_id, @effective_from, @effective_thru
END

CLOSE @benefit_contract_period_cursor
DEALLOCATE @benefit_contract_period_cursor

SELECT * from @eligibility_members
--
IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
--
END
GO
