USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_premium_billing_rounding_item_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
DATE CREATED: 12/27/2012

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

List of Premium Billing rounding items available to create rounding rules.
Used for the following forms:
Premium Billing - Disability Volume
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_dd_premium_billing_rounding_item_load]
AS

DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
ri.rounding_item_id
,ri.rounding_item_ud
,ri.golden_key
FROM
rounding_item ri
INNER JOIN processing_engine_type pet
ON ri.processing_engine_type_id = pet.processing_engine_type_id
WHERE
pet.golden_key = 'PREMIUM_BILLING'
and ri.golden_key <> 'VOLUME_ROUND_BEFORE_AGE_REDUCTION'
and ri.golden_key <> 'VOLUME_ROUND_AFTER_AGE_REDUCTION'
--
RETURN @SP_SUCCESS
--
GO
