USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_benefit_sub_category_by_benefit_category_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/18/2005	Trinh Le	1.0			create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_benefit_sub_category_by_benefit_category_load]
(
@benefit_category_id			Int = null
)
AS
begin
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
benefit_sub_category.benefit_sub_category_id
,benefit_sub_category.benefit_sub_category_ud
--      ,benefit_sub_category.benefit_category_id

--      ,benefit_category.benefit_category_ud
--      ,benefit_sub_category.active
--      ,benefit_sub_category.created_user_name
--      ,benefit_sub_category.created_group_id

--      ,created_group.created_group_ud
--      ,benefit_sub_category.created_date
--      ,benefit_sub_category.modified_date
FROM benefit_sub_category
left join benefit_category  ON benefit_category.benefit_category_id = benefit_sub_category.benefit_category_id
--      inner join created_group  ON created_group.created_group_id = benefit_sub_category.created_group_id
WHERE benefit_sub_category.benefit_category_id = @benefit_category_id
ORDER BY benefit_sub_category.benefit_sub_category_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
end
GO
