USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_premium_invoice_due_day_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 2016-04-15
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
2016-04-15	eponomareff	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdInvoiceDueDay on form Enrollment Form

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_premium_invoice_due_day_list_load]
(
@family_eligibility_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
family_eligibility_premium_invoice_due_day_id
,family_eligibility_id
,invoice_due_day
,effective_from
,effective_thru

FROM dbo.family_eligibility_premium_invoice_due_day

WHERE family_eligibility_id = @family_eligibility_id

ORDER BY CASE WHEN effective_from IS NULL THEN 0 ELSE 1 END ASC, effective_from DESC,
CASE WHEN effective_thru IS NULL THEN 0 ELSE 1 END ASC, effective_thru DESC


--
RETURN @SP_SUCCESS
--
GO
