USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[BIND_insert_835_unbalanced_result_code]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<T.R. Cross>
-- Create date: <07/18/2018>
-- Description:	<Insert Result Code onto specified claim line>
-- =============================================
CREATE PROCEDURE [dbo].[BIND_insert_835_unbalanced_result_code]
	(
	@claim_procedure_id INT --Should I pend just the line or ALL lines on the claim?
	, @user NVARCHAR(250)
	)
AS
BEGIN
	IF NOT EXISTS (SELECT 1 FROM result_code WHERE result_code_ud = '835_unbalanced')
		BEGIN
			EXEC plx_result_code_save 
				@result_code_ud=N'835_unbalanced'
				, @short_message=N'Pend for Write Off Amount Imbalance'
				, @long_message=NULL
				, @result_code_type_id=1
				, @result_code_status_id=2
				, @functional_area_assignment_id=5
				, @may_be_used_on_claim=1
				, @may_be_used_on_claim_line=1
				, @use_on_member_report=1
				, @use_on_provider_report=1
				, @not_a_clean_claim=0 
		END
	DECLARE
		@result_code_id INT

	SELECT
		@result_code_id = result_code_id
	FROM
		result_code
	WHERE
		result_code_ud = '835_unbalanced'

	--Check Claim doesn't already have result code
	IF NOT EXISTS (SELECT * FROM adjudication_result_code WHERE claim_procedure_id = @claim_procedure_id AND result_code_id = @result_code_id)
		BEGIN
			INSERT INTO	adjudication_result_code
				(
				claim_procedure_id
				, result_code_id
				, do_not_clear
				, active
				, created_user_name
				, created_date
				, modified_date
				, modified_user_name
				)
			SELECT
				@claim_procedure_id
				, @result_code_id
				, 1
				, 1
				, @user
				, GETDATE()
				, GETDATE()
				, @user
		END
END


GO
