USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_by_benefit_true_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 08/25/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/25/2005	Trinh Le	1.0			create
03/08/2006	Thuy Ha				created_date & modified_date use DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Apply When These Criteria Are True "
in Benefit Framework form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_criteria_by_benefit_true_save]

(
@benefit_criteria_id                        int = NULL   OUTPUT
,@benefit_id                                 int = NULL
,@criteria_id                                int = NULL
--     ,@criteria_are_true                          bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

--
IF @benefit_criteria_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_criteria(
benefit_id
,criteria_id
,criteria_are_true
,effective_from
,effective_thru
,active
)
VALUES
(@benefit_id
,@criteria_id
,1
,@effective_from
,@effective_thru
,@active
)
--
SET @benefit_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_criteria WHERE benefit_criteria_id = @benefit_criteria_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int

UPDATE benefit_criteria
SET
benefit_id                               = @benefit_id
,criteria_id                              = @criteria_id
,criteria_are_true                        = 1
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_criteria_id = @benefit_criteria_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--


END
--
RETURN @SP_SUCCESS
end
GO
