USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_premium_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_auto_create_premium_id_rule_load]

AS

SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS 	INT,
@SP_EXCEPTION   INT
SELECT
@SP_SUCCESS 	= 0,
@SP_EXCEPTION 	= -1

SELECT
auto_create_premium_id_rule_id
,auto_create_premium_id_rule_ud
FROM dbo.auto_create_premium_id_rule

order by auto_create_premium_id_rule_ud

--
RETURN @SP_SUCCESS
--
GO
