USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_claim_analysis_set_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE:	09/15/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/17/2011	ggutshall		3.2		Added returnset limitations
--
CURRENT_VERSION: 3.2
--
DESCRIPTION:
Loads claim set records based on the given criteria.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       procedure [dbo].[plx_find_claim_analysis_set_load]
(
@get_column_headers				BIT = 0,
@claim_analysis_set_ud		NVARCHAR(50) = '',
@claim_analysis_queue_id		INT = null,
@description					NVARCHAR(255) = '',
@show_exact_matches			BIT = 0
) as
begin
DECLARE
@sqlString nvarchar(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@all_type  int


IF @show_exact_matches = 1
BEGIN
SET @Prefix = ' =N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

SET @sqlString = '
SELECT DISTINCT	 TOP (dbo.fn_results_limit())
cas.claim_analysis_set_id,
cas.claim_analysis_set_ud,
cas.description,
caq.claim_analysis_queue_ud
FROM claim_analysis_set cas
LEFT JOIN claim_analysis_queue caq ON caq.claim_analysis_queue_id = cas.claim_analysis_queue_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '


IF (@claim_analysis_set_ud is not null) and (ltrim(@claim_analysis_set_ud) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(cas.claim_analysis_set_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@claim_analysis_set_ud, @show_exact_matches) + @suffix +  ') '
END

IF (@description is not null) and (ltrim(@description) <> '')
BEGIN
SET @sqlString = @sqlString + ' AND (ISNULL(cas.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_matches) + @suffix +  ') '
END

IF (@claim_analysis_queue_id is not null)
BEGIN
SET @sqlString = @sqlString + ' AND cas.claim_analysis_queue_id = ' +  CONVERT(NVARCHAR, @claim_analysis_queue_id )
END
------------------------------------------------------------------------------------------------------------------------

SET @sqlString = @sqlString + '  ORDER BY cas.claim_analysis_set_ud '
EXEC(@sqlString)

END
GO
