USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_exception_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 09/12/2009
--
REVISION_HISTORY:
--
Date			Modified By	Version		Description
--------------------------------------------------------------------------------
05/14/2009	Vishwa			1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save data for benefit coverage exception rule form
--
REQUIREMENTS:
--
INPUTS:
@benefit_coverage_restriction_rule_id
,@benefit_coverage_restriction_rule_ud
,@benefit_coverage_exception_rule_description
,@is_restriction
,@min_age
,@max_age
,@age_unit_month_year_id
,@gender_id
,@place_of_service_set_id
,@provider_specialty_set_id
,@network_level_id
,@relationship_to_insured_set_id
,@result_code_id
,@result_code_status_id

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_coverage_exception_rule_save]
(
@benefit_coverage_exception_rule_id				int = NULL   OUTPUT
,@benefit_coverage_exception_rule_ud			nvarchar(50) = NULL
,@benefit_coverage_exception_rule_description	nvarchar(255) = NULL
,@is_restriction										bit = 0
,@min_age												int = NULL
,@max_age												int = NULL
,@age_unit_month_year_id							int = NULL
,@gender_id												int = NULL
,@place_of_service_set_id							int = NULL
,@provider_specialty_set_id						int = NULL
,@network_level_id									int = NULL
,@provider_network_set_id							int = NULL
,@relationship_to_insured_set_id					int = NULL
,@result_code_id										int = NULL
,@result_code_status_id								int = NULL
,@active													bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @benefit_coverage_exception_rule_id is Null
BEGIN
--- Create a new record
INSERT INTO benefit_coverage_exception_rule(
benefit_coverage_exception_rule_ud
,[description]
,is_restriction
,min_age
,max_age
,age_unit_month_year_id
,gender_id
,place_of_service_set_id
,provider_specialty_set_id
,network_level_id
,provider_network_set_id
,relationship_to_insured_set_id
,result_code_id
,result_code_status_id
,active
)
VALUES
(@benefit_coverage_exception_rule_ud
,@benefit_coverage_exception_rule_description
,@is_restriction
,@min_age
,@max_age
,@age_unit_month_year_id
,@gender_id
,@place_of_service_set_id
,@provider_specialty_set_id
,@network_level_id
,@provider_network_set_id
,@relationship_to_insured_set_id
,@result_code_id
,@result_code_status_id
,@active
)
--
SET @benefit_coverage_exception_rule_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_coverage_exception_rule WHERE benefit_coverage_exception_rule_id = @benefit_coverage_exception_rule_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE benefit_coverage_exception_rule
SET
benefit_coverage_exception_rule_ud		= @benefit_coverage_exception_rule_ud
,[description]									= @benefit_coverage_exception_rule_description
,is_restriction								= @is_restriction
,min_age											= @min_age
,max_age											= @max_age
,age_unit_month_year_id						= @age_unit_month_year_id
,gender_id										= @gender_id
,place_of_service_set_id					= @place_of_service_set_id
,provider_specialty_set_id					= @provider_specialty_set_id
,network_level_id								= @network_level_id
,provider_network_set_id					= @provider_network_set_id
,relationship_to_insured_set_id			= @relationship_to_insured_set_id
,result_code_id								= @result_code_id
,result_code_status_id						= @result_code_status_id
,active											= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_coverage_exception_rule_id = @benefit_coverage_exception_rule_id
END
--
RETURN @SP_SUCCESS
--
GO
