USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_individual_billing_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 04/15/2016
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/12/2016	eponomareff	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for form Individual Billing, which is launched from the
Enrollment form header, but only if the related Benefit Contract is set up for
Individual Billing (premium policy type = INDIVIDUAL)

For now, this stored procedure SAVES NO DATA. (But it is necessary for a form to have
an Insert Update Parameter stored procedure, so that the saving that happens on the
grids is enabled.)

--
REQUIREMENTS:
--
INPUTS:
@family_eligibility_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_family_eligibility_individual_billing_save]
(
@family_eligibility_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON;
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

-- does nothing
RETURN @SP_SUCCESS
--
GO
