USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_additional_information_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
DATE: 9/18/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid "Additional Information" in Carrier form.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE            procedure [dbo].[plx_carrier_additional_information_save]

(
@carrier_additional_information_id	int = null output
,@carrier_id				int = null
,@additional_information_id			int = null
,@additional_information_topic_id		int = null
,@additional_information_selection_value	nvarchar(300) = null
,@additional_information_value			nvarchar(300) = null
,@additional_information_raw_value         	nvarchar(300) = NULL
,@effective_from				datetime = null
,@effective_thru				datetime = null
,@comment					nvarchar(500) = null
,@is_new_value                               	bit = NULL
,@active                                     	bit = NULL
)
as

declare	@SUCCESS int
declare @EXCEPTION int

select 	@SUCCESS = 0, @EXCEPTION = -1

if (@carrier_additional_information_id is null)
begin
insert into carrier_additional_information(
additional_information_id
,additional_information_topic_id
,carrier_id
,additional_information_selection_value
,additional_information_value
,effective_from
,effective_thru
,comment
,active
)
VALUES
(@additional_information_id
,@additional_information_topic_id
,@carrier_id
,case when @is_new_value = 1 then null else @additional_information_selection_value end
,case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,@effective_from
,@effective_thru
,@comment
,@active
)

set @carrier_additional_information_id = @@identity

if not exists (select * from carrier_additional_information where carrier_additional_information_id = @carrier_additional_information_id )
begin
return @EXCEPTION
end
end
else
begin
update 	carrier_additional_information
set
additional_information_id 		= @additional_information_id
,additional_information_topic_id 	= @additional_information_topic_id
,carrier_id 			= @carrier_id
,additional_information_selection_value = case when @is_new_value = 1 then null else @additional_information_selection_value end
,additional_information_value 		= case when @is_new_value = 1 then @additional_information_selection_value else @additional_information_raw_value end
,effective_from 			= @effective_from
,effective_thru 			= @effective_thru
,comment 				= @comment
,active 				= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

where 	carrier_additional_information_id = @carrier_additional_information_id
end

return @SUCCESS
GO
