USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_attachment_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachments
Form: All claim forms
Grid: Claim Supplemental Documentation
--
******************************/
CREATE PROCEDURE [dbo].[plx_claim_attachment_list_load]
(
@claim_id INT = NULL
)
AS

SELECT
ca.claim_id,
ca.claim_attachment_id,
ca.claim_attachment_type_code_id,
cat.claim_attachment_type_code_ud,
cat.description as claim_attachment_type_code_description,
ca.claim_attachment_action_id,
caa.claim_attachment_action_ud,
ca.document_date,
cats.claim_attachment_transmission_source_id,
cats.claim_attachment_transmission_source_ud,
cats.description as claim_attachment_transmission_description,
ca.attachment_control_number,
ca.document_link,
ca.comments
FROM
dbo.claim_attachment ca
JOIN dbo.claim_attachment_type_code cat
ON ca.claim_attachment_type_code_id = cat.claim_attachment_type_code_id
JOIN dbo.claim_attachment_action caa
ON ca.claim_attachment_action_id = caa.claim_attachment_action_id
JOIN dbo.claim_attachment_transmission_source cats
ON ca.claim_attachment_transmission_source_gk = cats.golden_key
WHERE ca.claim_id = @claim_id

RETURN 0
GO
