USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/17/2012 - Jeremy Hein	 - Added NSF_Fee to accounting source id load.
06/19/2012 - Jeremy Hein	 - Added LATE_PAYMENT_FEE to accounting source id load.

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load transaction info  for Accounting Transaction form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ar_load]
(
@accounting_transaction_id  int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

BEGIN

SELECT DISTINCT

ata.accounting_transaction_ar_id as accounting_transaction_id
,ata.accounting_transaction_ar_ud as accounting_transaction_ud

,ata.accounting_transaction_ar_type_id	as accounting_transaction_type_id
,atat.accounting_transaction_ar_type_ud as accounting_transaction_type_ud

,ata.accounting_transaction_status_id
,ats.accounting_transaction_status_ud

,ata.transaction_date
,ata.transaction_amount
,ata.benefit_contract_id
,bc.benefit_contract_ud
,dbo.plx_fn_get_unapplied_amount_for_ar_transaction(@accounting_transaction_id,0) as transaction_unapplied_amount

--for accounting source
,ata.accounting_source_id
,CASE asrc.golden_key
WHEN 'Billing' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id=ata.accounting_source_record_id)
WHEN 'CLIENT_FEES' THEN (SELECT claim_payment_run_ud FROM claim_payment_run WHERE claim_payment_run_id=ata.accounting_source_record_id)
WHEN 'NSF_Fee' THEN (SELECT accounting_transaction_ar_ud FROM accounting_transaction_ar WHERE accounting_transaction_ar_id = ata.accounting_source_record_id)
WHEN 'LATE_PAYMENT_FEE' THEN (SELECT accounting_transaction_ar_ud FROM accounting_transaction_ar WHERE accounting_transaction_ar_id = ata.accounting_source_record_id)
WHEN 'PREMIUM_FEE_AR' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id=ata.accounting_source_record_id)
WHEN 'ELIGIBILITY_RATE' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id=ata.accounting_source_record_id)
WHEN 'REINSURANCE_BILLING' THEN (SELECT reinsurance_calculation_run_ud from reinsurance_calculation_run WHERE reinsurance_calculation_run_id =ata.accounting_source_record_id)
ELSE ''
END AS accounting_source_record_ud
,ata.accounting_source_record_id
,ata.treat_as_accounting_source_id

,ata.accounting_company_id
,ac.accounting_company_ud

--for customer
,ata.customer_id
,c.customer_ud
,c.customer_nm

,aca.accounting_company_account_id
,aca.accounting_company_account_ud

FROM accounting_transaction_ar ata

LEFT JOIN accounting_transaction_ar_type atat ON atat.accounting_transaction_ar_type_id = ata.accounting_transaction_ar_type_id
LEFT JOIN accounting_transaction_status ats ON ats.accounting_transaction_status_id = ata.accounting_transaction_status_id
left JOIN accounting_company ac ON ac.accounting_company_id = ata.accounting_company_id
LEFT JOIN customer c ON c.customer_id = ata.customer_id
LEFT JOIN accounting_source asrc ON ata.accounting_source_id = asrc.accounting_source_id
LEFT JOIN benefit_contract bc on bc.benefit_contract_id = ata.benefit_contract_id
LEFT JOIN accounting_transaction_ar_distribution dist
INNER JOIN accounting_company_account aca
INNER JOIN account_category cat
ON aca.account_category_id = cat.account_category_id
AND cat.golden_key = 'AR'
ON dist.accounting_company_account_id = aca.accounting_company_account_id
ON dist.accounting_transaction_ar_id = ata.accounting_transaction_ar_id

WHERE
ata.accounting_transaction_ar_id = @accounting_transaction_id

END

RETURN @SP_SUCCESS
GO
