USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_call_share_group_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/08/2005
--
REVISION_HISTORY:
--
Date          Modified By        Version      Description
--------------------------------------------------------------------------------
12/08/2005    Hiep Nguyen          1.0          Created
03/08/2006	Thuy Ha				created_date & modified_date use DB server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
03/23/2014 - RT:7391 Changed @ERROR_NOT_EXIST value
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
@call_share_group_id
@call_share_group_ud
@call_share_group_nm
@active
@created_user_name
@created_group_id
@created_date
@modified_date
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_call_share_group_save]
(
@call_share_group_id	INT = NULL   OUTPUT
,@call_share_group_ud	NVARCHAR(100) = NULL
,@call_share_group_nm	NVARCHAR(200) = NULL
,@object_row_version				     rowversion = NULL  OUTPUT
,@active				BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@ERROR_CANT_INSERT   NVARCHAR(50)
,@ERROR_CANT_UPDATE   NVARCHAR(50)
,@ERROR_NOT_EXIST     NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@SP_ERROR_RECORD_LOCKED      INT
,@SP_ERROR_NOT_EXIST	     INT
,@SP_EXCEPTION 		     INT

SELECT
@SP_SUCCESS = 0
,@ERROR_CANT_INSERT = '105280009'
,@ERROR_CANT_UPDATE = '105280010'
,@ERROR_NOT_EXIST   = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@SP_ERROR_RECORD_LOCKED      = 2
,@SP_ERROR_NOT_EXIST	       = 3
,@SP_EXCEPTION                = -1
--
DECLARE @capture_row_version TABLE (new_row_version binary(8))

IF ISNULL(@call_share_group_id, 0)= 0
BEGIN
--- Create a new record
INSERT INTO call_share_group(
call_share_group_ud
,call_share_group_nm
,active
)
OUTPUT INSERTED.object_row_version INTO @capture_row_version
VALUES
(@call_share_group_ud
,@call_share_group_nm
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)

SET @call_share_group_id = SCOPE_IDENTITY()
SET @object_row_version = (SELECT new_row_version FROM @capture_row_version)
END
ELSE IF NOT EXISTS (SELECT * FROM call_share_group WHERE call_share_group_id = @call_share_group_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DECLARE @ErrorVar int, @RowCountVar int;
-- RT:7065 Optimistic Concurrency check
DECLARE @row_version_check_result INT
exec @row_version_check_result = dbo.plx_call_share_group_check_and_rev_row_version @call_share_group_id, @object_row_version
IF @row_version_check_result <> 0
BEGIN
IF @row_version_check_result = @SP_EXCEPTION
RETURN @SP_EXCEPTION
IF @row_version_check_result = @SP_ERROR_RECORD_LOCKED
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
IF @row_version_check_result = @SP_ERROR_NOT_EXIST
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END


UPDATE call_share_group
SET
call_share_group_ud                      = @call_share_group_ud
,call_share_group_nm                      = @call_share_group_nm
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
OUTPUT INSERTED.object_row_version INTO @capture_row_version

WHERE call_share_group_id = @call_share_group_id

SELECT @ErrorVar = @@ERROR;
SET @object_row_version = (SELECT new_row_version FROM @capture_row_version)

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)

END
--
RETURN @SP_SUCCESS
--
GO
