USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reconciliation_error_message_code_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_reconciliation_error_message_code_load]
AS
SET NOCOUNT ON

SELECT
rem.reconciliation_error_message_code_id
,rem.reconciliation_error_message_code_ud
FROM dbo.reconciliation_error_message_code rem
ORDER BY rem.reconciliation_error_message_code_ud

RETURN 0
GO
