USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_beneficiary_telephone_number_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_beneficiary_telephone_number_delete]
(
@beneficiary_telephone_number_id                int = NULL   OUTPUT
) AS
BEGIN
SET NOCOUNT ON
DECLARE @SP_SUCCESS   int,
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT     @SP_SUCCESS = 0,
@ERROR_NOT_EXIST	= '158880013'

IF NOT EXISTS (SELECT * FROM beneficiary_telephone_number WHERE beneficiary_telephone_number_id = @beneficiary_telephone_number_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
DELETE FROM beneficiary_telephone_number
WHERE beneficiary_telephone_number_id = @beneficiary_telephone_number_id
END
RETURN @SP_SUCCESS
END
GO
