USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_framework_duplicate]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Creates a duplicate of a accumulator framework from the given parameters.
--
REQUIREMENTS:
--
INPUTS:

@id - the id of the framework
@ud - the ud of the accumulator framework to be created
@asOfDate - the "cut-off" date for copying over effective items
@description - description of the accumulator framework to be created
@name - the name of the new accumulator framework


--
OUTPUTS:
--
RETURN_VALUES:
The Id of the newly created duplicate accumulator framework (> 0)
or 0 if there was a problem.
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE PROCEDURE [dbo].[plx_accumulator_framework_duplicate](@id INT,
@ud NVARCHAR(50),
@asOfDate DATETIME = NULL,
@name NVARCHAR(100) = NULL,
@description NVARCHAR(255) = NULL)
AS

SET NOCOUNT ON;

DECLARE @SP_EXCEPTION INT;
SELECT @SP_EXCEPTION = -1;

BEGIN TRY

BEGIN TRANSACTION

-- Create a temp table variable that will map the id of an original accumulator choice list to its duplicate.
DECLARE @choice_list_to_choice_list TABLE (original_choice_list_id INT,
duplicate_choice_list_id INT);

-- Create a temp table variable that will map the id of an original accumulator framework accumulator class accumulator to its duplicate.
DECLARE @afaca_to_afaca TABLE (original_afaca_id INT,
duplicate_afaca_id INT);


-- Create a temp table variable that will map the id of an original sub limit to its duplicate.
DECLARE @sublimit_to_sublimit TABLE (original_sublimit_id INT,
duplicate_sublimit_id INT);

/*********************************************************************************
*******************  ACCUMULATOR_FRAMEWORK  *************************************
********************************************************************************/
DECLARE @duplicate_accumulator_framework_id INT;

-- Create a new entry in accumulator_framework table
INSERT INTO accumulator_framework(accumulator_framework_ud,
accumulator_framework_nm,
description,
usage_scope_id)
SELECT @ud,
@name,
@description,
usage_scope_id
FROM accumulator_framework WHERE accumulator_framework_id = @id

SELECT @duplicate_accumulator_framework_id = SCOPE_IDENTITY();


/********************************************************************************
*******************  ACCUMULATOR_FRAMEWORK_BENEFIT_CATEGORY  *******************
********************************************************************************/
INSERT INTO accumulator_framework_benefit_category
(
accumulator_framework_id,
benefit_category_id,
benefit_sub_category_id
)
SELECT
@duplicate_accumulator_framework_id,
benefit_category_id,
benefit_sub_category_id
FROM accumulator_framework_benefit_category
WHERE accumulator_framework_id = @id

/********************************************************************************
*******************  ACCUMULATOR_FRAMEWORK_ACCUMULATOR_CLASS  *******************
********************************************************************************/
DECLARE @current_accumulator_framework_accumulator_class_id AS INT;
DECLARE @current_accumulator_class_id AS INT;
DECLARE @duplicate_accumulator_framework_accumulator_class_id AS INT;

DECLARE accumulator_framework_accumulator_class_cursor CURSOR FAST_FORWARD
FOR SELECT afac.accumulator_framework_accumulator_class_id,
afac.accumulator_class_id
FROM accumulator_framework_accumulator_class afac
JOIN accumulator_class ac on afac.accumulator_class_id = ac.accumulator_class_id
WHERE accumulator_framework_id = @id
ORDER BY ac.golden_key -- need to make sure that max pay is before supplemental due to base class accumulator framework accumulator class.
OPEN accumulator_framework_accumulator_class_cursor;
FETCH NEXT FROM
accumulator_framework_accumulator_class_cursor
INTO
@current_accumulator_framework_accumulator_class_id,
@current_accumulator_class_id;

WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO accumulator_framework_accumulator_class(accumulator_framework_id,
accumulator_class_id)
SELECT @duplicate_accumulator_framework_id,
@current_accumulator_class_id;
SET @duplicate_accumulator_framework_accumulator_class_id = SCOPE_IDENTITY();

/*******************************************************************************
**************************  ACCUMULATOR_CHOICE_LIST *****************************
*********************************************************************************/
DECLARE
@accumulator_choice_list_id	int,
@accumulator_choice_list_ud	nvarchar(50),
@accumulator_choice_list_description	nvarchar(255),
@resolve_choice_list_at_id	int,
@duplicate_choice_list_id int

DECLARE accumulator_choice_list_cursor CURSOR FAST_FORWARD
FOR SELECT
accumulator_choice_list_id,
accumulator_choice_list_ud,
description,
resolve_choice_list_at_id
FROM accumulator_choice_list acl
WHERE acl.accumulator_framework_accumulator_class_id = @current_accumulator_framework_accumulator_class_id;

OPEN accumulator_choice_list_cursor;
FETCH NEXT FROM
accumulator_choice_list_cursor
INTO
@accumulator_choice_list_id,
@accumulator_choice_list_ud,
@accumulator_choice_list_description,
@resolve_choice_list_at_id

WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each accumulator_choice_list
INSERT INTO accumulator_choice_list
(
accumulator_framework_accumulator_class_id,
accumulator_choice_list_ud,
description,
resolve_choice_list_at_id
)
SELECT
@duplicate_accumulator_framework_accumulator_class_id,
@accumulator_choice_list_ud,
@accumulator_choice_list_description,
@resolve_choice_list_at_id

SET @duplicate_choice_list_id = SCOPE_IDENTITY()
-- Add the record mapping the original choice list it's duplicate
INSERT INTO
@choice_list_to_choice_list(original_choice_list_id, duplicate_choice_list_id)
VALUES
(@accumulator_choice_list_id, @duplicate_choice_list_id)


FETCH NEXT FROM accumulator_choice_list_cursor INTO
@accumulator_choice_list_id,
@accumulator_choice_list_ud,
@accumulator_choice_list_description,
@resolve_choice_list_at_id
END
CLOSE accumulator_choice_list_cursor
DEALLOCATE accumulator_choice_list_cursor


/********************************************************************************
************  ACCUMULATOR_FRAMEWORK_ACCUMULATOR_CLASS_ACCUMULATOR  **************
********************************************************************************/
DECLARE @current_accumulator_framework_accumulator_class_accumulator_id	int
DECLARE @accumulator_framework_accumulator_class_accumulator_ud	nvarchar(50)
DECLARE @accumulator_framework_accumulator_class_accumulator_description nvarchar(255)
DECLARE @result_code_message	nvarchar(255)
DECLARE @accumulator_id	int
DECLARE @min_number_individuals_before_family_met	int
DECLARE @base_accumulator_framework_accumulator_class_accumulator_id	int
DECLARE @coinsurance	bit
DECLARE @copayment	bit
DECLARE @deductible	bit
DECLARE @member_expense	bit
DECLARE @print_on_EOB	bit
DECLARE @print_on_EOP	bit
DECLARE @same_provider	bit
DECLARE @episode_category_id	int
DECLARE @episode_type_id	int
DECLARE @apply	bit
DECLARE @limit	bit
DECLARE @per_tooth	bit
DECLARE @per_tooth_surface	bit
DECLARE @per_area_of_oral_cavity	bit
DECLARE @limit_contracted	bit
DECLARE @supplemental_max_extends_limit	bit

DECLARE accumulator_framework_accumulator_class_accumulator_cursor CURSOR FAST_FORWARD
FOR SELECT
accumulator_framework_accumulator_class_accumulator_id,
accumulator_framework_accumulator_class_accumulator_ud,
description,
result_code_message,
accumulator_id,
min_number_individuals_before_family_met,
base_accumulator_framework_accumulator_class_accumulator_id,
coinsurance,
copayment,
deductible,
member_expense,
print_on_EOB,
print_on_EOP,
same_provider,
episode_category_id,
episode_type_id,
[apply],
limit,
per_tooth,
per_tooth_surface,
per_area_of_oral_cavity,
limit_contracted,
supplemental_max_extends_limit

FROM accumulator_framework_accumulator_class_accumulator
WHERE accumulator_framework_accumulator_class_id
=
@current_accumulator_framework_accumulator_class_id;

OPEN accumulator_framework_accumulator_class_accumulator_cursor;
FETCH NEXT FROM accumulator_framework_accumulator_class_accumulator_cursor
INTO
@current_accumulator_framework_accumulator_class_accumulator_id,
@accumulator_framework_accumulator_class_accumulator_ud,
@accumulator_framework_accumulator_class_accumulator_description,
@result_code_message,
@accumulator_id,
@min_number_individuals_before_family_met,
@base_accumulator_framework_accumulator_class_accumulator_id,
@coinsurance,
@copayment,
@deductible,
@member_expense,
@print_on_EOB,
@print_on_EOP,
@same_provider,
@episode_category_id,
@episode_type_id,
@apply,
@limit,
@per_tooth,
@per_tooth_surface,
@per_area_of_oral_cavity,
@limit_contracted,
@supplemental_max_extends_limit

WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO accumulator_framework_accumulator_class_accumulator
(
accumulator_framework_accumulator_class_id,
accumulator_framework_accumulator_class_accumulator_ud,
description,
result_code_message,
accumulator_id,
min_number_individuals_before_family_met,
base_accumulator_framework_accumulator_class_accumulator_id,
coinsurance,
copayment,
deductible,
member_expense,
print_on_EOB,
print_on_EOP,
same_provider,
episode_category_id,
episode_type_id,
[apply],
limit,
per_tooth,
per_tooth_surface,
per_area_of_oral_cavity,
limit_contracted,
supplemental_max_extends_limit
)
SELECT
@duplicate_accumulator_framework_accumulator_class_id,
@accumulator_framework_accumulator_class_accumulator_ud,
@accumulator_framework_accumulator_class_accumulator_description,
@result_code_message,
@accumulator_id,
@min_number_individuals_before_family_met,
(SELECT duplicate_afaca_id -- supplementals can reference a max pay afaca so max pays are processed
FROM @afaca_to_afaca   -- before supps, so that this query can find the new base.
WHERE original_afaca_id = @base_accumulator_framework_accumulator_class_accumulator_id),
@coinsurance,
@copayment,
@deductible,
@member_expense,
@print_on_EOB,
@print_on_EOP,
@same_provider,
@episode_category_id,
@episode_type_id,
@apply,
@limit,
@per_tooth,
@per_tooth_surface,
@per_area_of_oral_cavity,
@limit_contracted,
@supplemental_max_extends_limit

DECLARE @duplicate_accumulator_framework_accumulator_class_accumulator_id INT
SET @duplicate_accumulator_framework_accumulator_class_accumulator_id = SCOPE_IDENTITY()

-- Create records mapping the original accumulator framework accumulator class accumulators to their duplicates
INSERT INTO
@afaca_to_afaca(original_afaca_id, duplicate_afaca_id)
VALUES
(@current_accumulator_framework_accumulator_class_accumulator_id,
@duplicate_accumulator_framework_accumulator_class_accumulator_id)

/*******************************************************************************
**************************  ACCUMULATOR_SUB_LIMIT  *****************************
*******************************************************************************/
DECLARE
@accumulator_sub_limit_id	int,
@accumulator_sub_limit_ud	nvarchar(50),
@accumulator_sub_limit_description	nvarchar(255),
@accumulator_sub_limit_result_code_message	nvarchar(255)

DECLARE accumulator_sub_limit_cursor CURSOR FAST_FORWARD
FOR SELECT
accumulator_sub_limit_id,
accumulator_sub_limit_ud,
description,
result_code_message
FROM accumulator_sub_limit
WHERE accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id = @current_accumulator_framework_accumulator_class_accumulator_id;

OPEN accumulator_sub_limit_cursor;
FETCH NEXT FROM
accumulator_sub_limit_cursor
INTO
@accumulator_sub_limit_id,
@accumulator_sub_limit_ud,
@accumulator_sub_limit_description,
@accumulator_sub_limit_result_code_message
WHILE @@FETCH_STATUS = 0
BEGIN -- Iterate over each accumulator_sub_limit
INSERT INTO accumulator_sub_limit
(
accumulator_sub_limit_ud,
description,
result_code_message,
accumulator_framework_accumulator_class_accumulator_id
)
SELECT
@accumulator_sub_limit_ud,
@accumulator_sub_limit_description,
@accumulator_sub_limit_result_code_message,
@duplicate_accumulator_framework_accumulator_class_accumulator_id

-- Create records mapping the original sub limit to their duplicates
INSERT INTO
@sublimit_to_sublimit(original_sublimit_id, duplicate_sublimit_id)
VALUES
(@accumulator_sub_limit_id,	SCOPE_IDENTITY())

FETCH NEXT FROM accumulator_sub_limit_cursor INTO
@accumulator_sub_limit_id,
@accumulator_sub_limit_ud,
@accumulator_sub_limit_description,
@accumulator_sub_limit_result_code_message
;
END;
CLOSE accumulator_sub_limit_cursor;
DEALLOCATE accumulator_sub_limit_cursor;

FETCH NEXT FROM accumulator_framework_accumulator_class_accumulator_cursor INTO
@current_accumulator_framework_accumulator_class_accumulator_id,
@accumulator_framework_accumulator_class_accumulator_ud,
@accumulator_framework_accumulator_class_accumulator_description,
@result_code_message,
@accumulator_id,
@min_number_individuals_before_family_met,
@base_accumulator_framework_accumulator_class_accumulator_id,
@coinsurance,
@copayment,
@deductible,
@member_expense,
@print_on_EOB,
@print_on_EOP,
@same_provider,
@episode_category_id,
@episode_type_id,
@apply,
@limit,
@per_tooth,
@per_tooth_surface,
@per_area_of_oral_cavity,
@limit_contracted,
@supplemental_max_extends_limit
;
END; -- END AFACA ITERATION
CLOSE accumulator_framework_accumulator_class_accumulator_cursor;
DEALLOCATE accumulator_framework_accumulator_class_accumulator_cursor;

FETCH NEXT FROM accumulator_framework_accumulator_class_cursor INTO
@current_accumulator_framework_accumulator_class_id,
@current_accumulator_class_id;
END
CLOSE accumulator_framework_accumulator_class_cursor
DEALLOCATE accumulator_framework_accumulator_class_cursor

/*********************************************************************************
***************************  ACCUMULATOR_VALID_CHOICE ****************************
*********************************************************************************/
-- Duplicate accumulator_valid_choice records related to this accumulator
INSERT INTO accumulator_valid_choice(
accumulator_choice_list_id,
valid_choice)
SELECT
cltcl.duplicate_choice_list_id,
avc.valid_choice
FROM accumulator_valid_choice avc
JOIN
@choice_list_to_choice_list cltcl on avc.accumulator_choice_list_id = cltcl.original_choice_list_id


/*********************************************************************************
***************************  ACCUMULATOR_FIRST_COVERAGE_DISTRIBUTION *************
*********************************************************************************/
-- Duplicate accumulator_criteria records related to this accumulator
INSERT INTO accumulator_first_coverage_distribution (
accumulator_framework_accumulator_class_accumulator_id,
percentage,
effective_from,
effective_thru)
SELECT
ata.duplicate_afaca_id,
afcd.percentage,
afcd.effective_from,
afcd.effective_thru
FROM accumulator_first_coverage_distribution afcd
JOIN
@afaca_to_afaca ata on afcd.accumulator_framework_accumulator_class_accumulator_id = ata.original_afaca_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');


/********************************************************************************
***************************  ACCUMULATOR_CRITERIA  ******************************
********************************************************************************/
-- Duplicate accumulator_criteria records related to this accumulator
INSERT INTO accumulator_criteria(accumulator_framework_accumulator_class_accumulator_id,
criteria_id,
accumulate_when_criteria_are_true,
effective_from,
effective_thru)
SELECT
ata.duplicate_afaca_id,
criteria_id,
accumulate_when_criteria_are_true,
effective_from,
effective_thru
FROM accumulator_criteria ac
JOIN
@afaca_to_afaca ata on ac.accumulator_framework_accumulator_class_accumulator_id = ata.original_afaca_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');

/*********************************************************************************
**********************  ACCUMULATOR_TREATMENT_TYPE_SET  *************************
********************************************************************************/
-- Duplicate accumulator_treatment_type_set records related to this accumulator
INSERT INTO accumulator_treatment_type_set(accumulator_framework_accumulator_class_accumulator_id,
treatment_type_set_id,
treatment_type_category_id,
treatment_type_id,
effective_from,
effective_thru)
SELECT ata.duplicate_afaca_id,
treatment_type_set_id,
treatment_type_category_id,
treatment_type_id,
effective_from,
effective_thru
FROM accumulator_treatment_type_set tts
JOIN @afaca_to_afaca ata
ON tts.accumulator_framework_accumulator_class_accumulator_id = ata.original_afaca_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');



/*********************************************************************************
**********************  ACCUMULATOR_LIMIT_RULE  **********************************
*********************************************************************************/
INSERT INTO accumulator_limit_rule
(
accumulator_framework_accumulator_class_accumulator_id,
individual_accumulator_limit_rule_value_type_id,
individual_accumulator_choice_list_id,
individual_value,
tiered_maximum_payment_id,
family_accumulator_limit_rule_value_type_id,
family_accumulator_choice_list_id,
family_value,
first_coverage_scope_of_limit_id,
effective_from,
effective_thru
)
SELECT
ata.duplicate_afaca_id,
individual_accumulator_limit_rule_value_type_id,
individual_cltcl.duplicate_choice_list_id,
individual_value,
tiered_maximum_payment_id,
family_accumulator_limit_rule_value_type_id,
family_cltcl.duplicate_choice_list_id,
family_value,
first_coverage_scope_of_limit_id,
effective_from,
effective_thru
FROM accumulator_limit_rule alr
JOIN @afaca_to_afaca ata ON alr.accumulator_framework_accumulator_class_accumulator_id = ata.original_afaca_id
LEFT JOIN @choice_list_to_choice_list individual_cltcl ON alr.individual_accumulator_choice_list_id = individual_cltcl.original_choice_list_id
LEFT JOIN @choice_list_to_choice_list family_cltcl ON alr.family_accumulator_choice_list_id = family_cltcl.original_choice_list_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');

/*********************************************************************************
**********************  ACCUMULATOR_SUB_LIMIT_RULE  ******************************
*********************************************************************************/
INSERT INTO accumulator_sub_limit_rule
(
accumulator_sub_limit_id,
individual_accumulator_choice_list_id,
individual_value,
family_accumulator_choice_list_id,
family_value,
effective_from,
effective_thru
)
SELECT
sts.duplicate_sublimit_id,
individual_accumulator_choice_list_id,
individual_value,
family_accumulator_choice_list_id,
family_value,
effective_from,
effective_thru
FROM
accumulator_sub_limit_rule aslr
JOIN @sublimit_to_sublimit sts ON aslr.accumulator_sub_limit_id = sts.original_sublimit_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');


/********************************************************************************
***************************  ACCUMULATOR_SUB_LIMIT_CRITERIA  ********************
********************************************************************************/
INSERT INTO accumulator_sub_limit_criteria(accumulator_sub_limit_id,
criteria_id,
accumulate_when_criteria_are_true,
effective_from,
effective_thru)
SELECT
sts.duplicate_sublimit_id,
criteria_id,
accumulate_when_criteria_are_true,
effective_from,
effective_thru
FROM accumulator_sub_limit_criteria aslc
JOIN
@sublimit_to_sublimit sts on aslc.accumulator_sub_limit_id = sts.original_sublimit_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');

/********************************************************************************
**********************  ACCUMULATOR_SUB_LIMIT_TREATMENT_TYPE_SET  ***************
********************************************************************************/
INSERT INTO accumulator_sub_limit_treatment_type_set(
accumulator_sub_limit_id,
treatment_type_set_id,
treatment_type_category_id,
treatment_type_id,
effective_from,
effective_thru)
SELECT sts.duplicate_sublimit_id,
treatment_type_set_id,
treatment_type_category_id,
treatment_type_id,
effective_from,
effective_thru
FROM accumulator_sub_limit_treatment_type_set tts
JOIN @sublimit_to_sublimit sts
ON tts.accumulator_sub_limit_id = sts.original_sublimit_id
WHERE @asOfDate BETWEEN effective_from AND ISNULL(effective_thru, '12/31/9999');


COMMIT TRANSACTION

END TRY
BEGIN CATCH

ROLLBACK TRANSACTION
DECLARE @error_msg as nvarchar(4000)
SELECT @error_msg = ERROR_MESSAGE()
RAISERROR(@error_msg, 16, 1)

END CATCH

RETURN ISNULL(@duplicate_accumulator_framework_id, 0);
GO
