USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_treatment_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Nov  1 2005  3:19PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
03/29/2006	Trinh Le					Apply searching wildcard
05/23/2006	Trinh Le					Fix bugs: search treatment type by treatment type set to wich treatment type belong direcly
09/25/2006	HungTNguyen					Fix bug 6555: removed some redundant fields
10/27/2008	David Slayton	1.3			Allow a reduced set of treatment types to be returned
based on whether treatment types are used in a provided
set or category.
05/13/2009	David Slayton	1.4		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.5		Added returnset limitations
--
CURRENT_VERSION: 1.5
--
DESCRIPTION:
The procedure is used to find the treatment types that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE             PROCEDURE [dbo].[plx_find_treatment_type_load]
(
@get_column_headers				BIT = 0,
@treatment_type_id				INT = NULL,
@treatment_type_ud				nvarchar(50) = '',
@treatment_type_nm				nvarchar(50) = '',
@treatment_type_description		nvarchar(300) = '',
@treatment_type_set_id			INT = NULL,
@treatment_type_set_ud			nvarchar(50) = '',
@treatment_type_category_id		INT = NULL,
@treatment_type_category_ud		nvarchar(50) = '',
@criteria_ud					nvarchar(50) = '',
@criteria_description			nvarchar(50)= '',
@procedure_code_group_ud		nvarchar(50) = '',
@procedure_code_group_description	nvarchar(255) = '',
@diagnosis_code_group_ud			nvarchar(50) = '',
@diagnosis_code_group_description	nvarchar(255) = '',
@show_exact_only					bit = 0,
@is_usable_in_benefit_framework		int = 0,
@exclude_treatment_type_used_in_set_id int = 0,
@exclude_treatment_type_used_in_category_id int = 0

) AS
BEGIN
DECLARE
@sqlString NVARCHAR(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10)

IF @show_exact_only = 1
BEGIN
SET @Prefix = ' =N'''
SET @Suffix = ''' '
END
ELSE
BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = '%'''
END

-- fcahill - removing category from select stops dupe rows
--				from appearing [icu19981 cr67]
--	,treatment_type_category.treatment_type_category_id
--	,treatment_type_category.treatment_type_category_ud

set @sqlString = 'select DISTINCT TOP (dbo.fn_results_limit())
treatment_type.treatment_type_id
,treatment_type.treatment_type_ud
,treatment_type.treatment_type_nm
,treatment_type.description as treatment_type_description
,1 as treatment_type
from treatment_type
left join treatment_type_criteria on treatment_type_criteria.treatment_type_id = treatment_type.treatment_type_id
left join criteria on  criteria.criteria_id = treatment_type_criteria.criteria_id
left join treatment_type_diagnosis_code_group on treatment_type_diagnosis_code_group.treatment_type_id = treatment_type.treatment_type_id
left join diagnosis_code_group on diagnosis_code_group.diagnosis_code_group_id = treatment_type_diagnosis_code_group.diagnosis_code_group_id
left join treatment_type_procedure_code_group on treatment_type_procedure_code_group.treatment_type_id = treatment_type.treatment_type_id
left join procedure_code_group on procedure_code_group.procedure_code_group_id = treatment_type_procedure_code_group.procedure_code_group_id
-- For treatment type category
left join treatment_type_category_treatment_type on treatment_type_category_treatment_type.treatment_type_id = treatment_type.treatment_type_id
left join treatment_type_category on treatment_type_category_treatment_type.treatment_type_category_id = treatment_type_category.treatment_type_category_id
-- For treatmenttype set
left join treatment_type_category_treatment_type_set on  treatment_type_category_treatment_type_set.treatment_type_category_id = treatment_type_category.treatment_type_category_id
left join treatment_type_set on  treatment_type_category_treatment_type_set.treatment_type_set_id = treatment_type_set.treatment_type_set_id

-- For treatmenttype set
left join treatment_type_set_treatment_type on  treatment_type_set_treatment_type.treatment_type_id = treatment_type.treatment_type_id
left join treatment_type_set tts1 on  treatment_type_set_treatment_type.treatment_type_set_id = tts1.treatment_type_set_id

WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

If (@treatment_type_id is not null) and (@treatment_type_id > 0)
begin
set @sqlString = @sqlString + ' AND (treatment_type.treatment_type_id = '
+ CONVERT(NVARCHAR(16), @treatment_type_id) +   ') '
end

if (@treatment_type_ud is not null) and (ltrim(@treatment_type_ud) <> '')
begin
set @sqlString = @sqlString + 'AND ( ISNULL(treatment_type.treatment_type_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_ud, @show_exact_only) + @suffix + ') '
end

if (@treatment_type_nm is not null) and (ltrim(@treatment_type_nm) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(treatment_type.treatment_type_nm, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_nm, @show_exact_only) + @suffix +  ') '
end

if (@treatment_type_description is not null) and (ltrim(@treatment_type_description) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(treatment_type.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@treatment_type_description, @show_exact_only) + @suffix +  ') '
end

------------------------------------------------------------------------------------------------------------------------
If (@treatment_type_set_id is not null) and (@treatment_type_set_id > 0)
begin
set @sqlString = @sqlString + ' AND ((treatment_type_set.treatment_type_set_id = '
+ CONVERT(NVARCHAR(16), @treatment_type_set_id) +   ') '
+ 'OR (tts1.treatment_type_set_id = '
+ CONVERT(NVARCHAR(16), @treatment_type_set_id) +   ')) '
end

if (@treatment_type_set_ud is not null) and (ltrim(@treatment_type_set_ud) <> '')
begin
set @sqlString = @sqlString +
'AND ((ISNULL(treatment_type_set.treatment_type_set_ud, '''') ' +
@prefix + dbo.plx_EncodeStringWildCard(@treatment_type_set_ud, @show_exact_only) + @suffix +  ') '
+'or (ISNULL(tts1.treatment_type_set_ud, '''') ' +
@prefix + dbo.plx_EncodeStringWildCard(@treatment_type_set_ud, @show_exact_only) + @suffix +  ')) '
end

If (@treatment_type_category_id is not null) and (@treatment_type_category_id > 0)
begin
set @sqlString = @sqlString + ' AND (treatment_type_category.treatment_type_category_id = ' +  + CONVERT(NVARCHAR(16), @treatment_type_category_id) +   ') '
end

if (@treatment_type_category_ud is not null) and (ltrim(@treatment_type_category_ud) <> '')
begin
set @sqlString = @sqlString +
'AND (ISNULL(treatment_type_category.treatment_type_category_ud, '''') ' +
@prefix + dbo.plx_EncodeStringWildCard(@treatment_type_category_ud, @show_exact_only) + @suffix +  ') '
end
------------------------------------------------------------------------------------------------------------------------
-- HungTNguyen removed

if (@criteria_ud is not null) and (ltrim(@criteria_ud) <> '')
begin
set @sqlString = @sqlString + 'AND (criteria.criteria_ud ' + @prefix + replace(@criteria_ud, '''', '''''') + @suffix +  ') '
end

if (@criteria_description is not null) and (ltrim(@criteria_description) <> '')
begin
set @sqlString = @sqlString + 'AND (criteria.description ' + @prefix + replace(@criteria_description, '''', '''''') + @suffix +  ') '
end


if (@procedure_code_group_ud is not null) and (ltrim(@procedure_code_group_ud) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(procedure_code_group.procedure_code_group_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@procedure_code_group_ud, @show_exact_only) + @suffix +  ') '
end

if (@procedure_code_group_description is not null) and (ltrim(@procedure_code_group_description) <> '')

begin
set @sqlString = @sqlString + 'AND (procedure_code_group.description ' + @prefix + replace(@procedure_code_group_description, '''', '''''') + @suffix +  ') '
end

if (@diagnosis_code_group_ud is not null) and (ltrim(@diagnosis_code_group_ud) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(diagnosis_code_group.diagnosis_code_group_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@diagnosis_code_group_ud, @show_exact_only) + @suffix +  ') '
end

if (@diagnosis_code_group_description is not null) and (ltrim(@diagnosis_code_group_description) <> '')
begin
set @sqlString = @sqlString + 'AND (ISNULL(diagnosis_code_group.description, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@diagnosis_code_group_description, @show_exact_only) + @suffix +  ') '
end

if @is_usable_in_benefit_framework =1
begin
set @sqlString = @sqlString +  ' AND dbo.plx_is_existing_px_in_treatment_type(treatment_type.treatment_type_id) =1  '
end

if @exclude_treatment_type_used_in_set_id > 0
begin
set @sqlString = @sqlString +
' AND (treatment_type.treatment_type_id not in
(select treatment_type_set_treatment_type.treatment_type_id
from treatment_type_set_treatment_type
where
treatment_type_set_treatment_type.treatment_type_set_id = ' + convert(nvarchar(16), @exclude_treatment_type_used_in_set_id)
+ '))'
end

if @exclude_treatment_type_used_in_category_id > 0
begin
set @sqlString = @sqlString +
' AND (treatment_type.treatment_type_id not in
(select treatment_type_category_treatment_type.treatment_type_id
from treatment_type_category_treatment_type
where
treatment_type_category_treatment_type.treatment_type_category_id = ' + convert(nvarchar(16), @exclude_treatment_type_used_in_category_id)
+ '))'
end

set @sqlString = @sqlString + 'ORDER BY treatment_type.treatment_type_ud'

exec(@sqlString)
end
GO
