USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_detail_ar_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN
--
AUTHOR: Wade Christensen
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/16/2008  WChristensen    1.0         Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Used to save a accounting transaction detail.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_detail_ar_save]
(
@accounting_transaction_id int = NULL,
@client_id                 int = NULL,
@client_group_id		   int = NULL,
@benefit_contract_id       int = NULL,
@benefit_plan_id           int = NULL,
@family_eligibility_id     int = NULL
) AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

IF ISNULL(@accounting_transaction_id,0) > 0
BEGIN

UPDATE accounting_transaction_ar
SET
client_id             = @client_id
,client_group_id       = @client_group_id
,benefit_contract_id   = @benefit_contract_id
,benefit_plan_id       = @benefit_plan_id
,family_eligibility_id = @family_eligibility_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
accounting_transaction_ar_id = @accounting_transaction_id

IF @@ERROR = 0 RETURN @SP_SUCCESS

END
--
RETURN @SP_EXCEPTION
--
GO
