USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_get_by_id]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_accumulator_get_by_id]
@accumulatorFrameworkAccumulatorClassAccumulatorId INT
AS

SET NOCOUNT ON;

SELECT
afaca.accumulator_framework_accumulator_class_accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud,
a.unit_day_month_year_id,
a.rollover_moving_period_number,
a.restart_accumulator_month_id,
a.restart_accumulator_day_of_month,
a.restart_accumulator_number_of_months,
a.accumulator_start_date,
art.accumulator_rollover_type_id,
art.golden_key as 'rollover_type_golden_key'
FROM
accumulator_framework_accumulator_class_accumulator afaca
INNER JOIN accumulator a
ON a.accumulator_id = afaca.accumulator_id
INNER JOIN accumulator_rollover_type art
ON art.accumulator_rollover_type_id = a.accumulator_rollover_type_id
WHERE
afaca.accumulator_framework_accumulator_class_accumulator_id = 123;
GO
