USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carc_rarc_result_code_mapping_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Form: Assign Claim Adjustment Reason Codes
Grid: Result Code Claim Adjustment Reason Code Assignment (grdResultCodeCarcRarcAssign)

This procedure is used to load carc/rarc mapping to result codes.
--
******************************/
CREATE PROCEDURE [dbo].[plx_carc_rarc_result_code_mapping_list_load]
AS

SELECT
carcm.claim_adjustment_result_code_map_id
,carcm.ranking
,carcm.adjudication_object_id
,ao.adjudication_object_ud
,ao.golden_key as adjudication_object_gk
,carcm.result_code_id
,rc.result_code_ud
,rc.short_message
,cagc.claim_adjustment_group_code_id
,cagc.claim_adjustment_group_code_ud
,carcm.claim_adjustment_group_code_gk
,carc.claim_adjustment_reason_code_id
,carcm.claim_adjustment_reason_code_nk
,rarc.remittance_advice_remark_code_id
,carcm.remittance_advice_remark_code_nk
,carcm.effective_from
,carcm.effective_thru
FROM
dbo.claim_adjustment_result_code_map carcm
JOIN adjudication_object ao
ON carcm.adjudication_object_id = ao.adjudication_object_id
JOIN dbo.result_code rc
ON carcm.result_code_id  = rc.result_code_id
JOIN dbo.claim_adjustment_group_code cagc
ON carcm.claim_adjustment_group_code_gk = cagc.golden_key
JOIN dbo.claim_adjustment_reason_code carc
ON carcm.claim_adjustment_reason_code_nk = carc.claim_adjustment_reason_code_nk
-- RARC is optional
LEFT JOIN dbo.remittance_advice_remark_code rarc
ON carcm.remittance_advice_remark_code_nk = rarc.remittance_advice_remark_code_nk
ORDER BY
ao.adjudication_object_ud
,carcm.ranking
;

RETURN 0
GO
