USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_reinsurance_contract_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 12/01/2020
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
12/01/2020  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Finds Reinsurance Contracts. Used by the Find Reinsurance Contract form.

******************************/
CREATE PROCEDURE [dbo].[plx_find_reinsurance_contract_load] (
@get_column_headers BIT = 0,
@reinsurance_contract_id INT = NULL,
@reinsurance_contract_ud NVARCHAR(50) = NULL,
@reinsurance_contract_nm NVARCHAR(50) = NULL,
@client_id INT = NULL,
@reinsurance_carrier_id INT = NULL,
@show_exact_matches BIT = 0
)
AS
SET NOCOUNT ON

--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@SqlQuery NVARCHAR(4000),
@SqlCondition NVARCHAR(4000),
@Prefix NVARCHAR(10),
@Suffix NVARCHAR(10);

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = - 1,
@SqlQuery = '',
@SqlCondition = ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix = '',
@Suffix = '';

--
IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N''';
SET @Suffix = ''' ';
END
ELSE
BEGIN
SET @Prefix = ' LIKE N''';
SET @Suffix = '%''';
END

IF ISNULL(@reinsurance_contract_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND rc.reinsurance_contract_id = ' + CONVERT(NVARCHAR, @reinsurance_contract_id);

IF @reinsurance_contract_ud IS NOT NULL
AND @reinsurance_contract_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rc.reinsurance_contract_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reinsurance_contract_ud, @show_exact_matches) + @Suffix;

IF @reinsurance_contract_nm IS NOT NULL
AND @reinsurance_contract_nm <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(rc.reinsurance_contract_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reinsurance_contract_nm, @show_exact_matches) + @Suffix;

IF ISNULL(@client_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND rc.client_id = ' + CONVERT(NVARCHAR, @client_id);

IF ISNULL(@reinsurance_carrier_id, 0) > 0
SET @SqlCondition = @SqlCondition + ' AND rc.reinsurance_carrier_id = ' + CONVERT(NVARCHAR, @reinsurance_carrier_id);

SET @SqlQuery =
' SELECT DISTINCT TOP (dbo.fn_results_limit()) ' +
'	rc.reinsurance_contract_id, ' +
'	rc.reinsurance_contract_ud, ' +
'	rc.reinsurance_contract_nm, ' +
'	ca.reinsurance_carrier_id, ' +
'	ca.reinsurance_carrier_ud, ' +
'	cln.client_id, ' +
'	cln.client_ud ' +
' FROM reinsurance_contract rc ' +
'	LEFT JOIN reinsurance_carrier ca ON ca.reinsurance_carrier_id = rc.reinsurance_carrier_id ' +
'	LEFT JOIN client cl ON cl.client_id = rc.client_id ' +
'	LEFT JOIN client_name cln ON cln.client_id = cl.client_id AND cln.primary_name = 1';

EXEC (@SqlQuery + @SqlCondition);

IF @@ROWCOUNT = 0
RETURN @SP_EXCEPTION;
ELSE
RETURN @SP_SUCCESS;
GO
