USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_assignment_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: Jeremy Hein
05/14/2009

REVISION_HISTORY:

Date		Modified By	Version		Description
--------------------------------------------------------------------------------




DESCRIPTION:
Delete for Financial Responsibility Assignments grid on Financial Responsibility Assignments form
--
REQUIREMENTS:
--
INPUTS:
@financial_responsibility_assignment_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_financial_responsibility_assignment_delete]
(
@financial_responsibility_assignment_id             int
) AS

DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '158940004',
@ERROR_CANT_DELETE = '158940005'

IF NOT EXISTS (SELECT * FROM financial_responsibility_assignment WHERE financial_responsibility_assignment_id = @financial_responsibility_assignment_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END

ELSE
BEGIN

DELETE FROM financial_responsibility_assignment
WHERE financial_responsibility_assignment_id = @financial_responsibility_assignment_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END

RETURN @SP_SUCCESS
GO
