USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_governmental_health_plan_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Crystalyn Knobloch
Sept 8th 2011  Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/18/2014 - RT:6046 Updated created/modified tombstone columns

CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save from the frm "Government Health Plans"
in frmMemberCOB form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_cob_member_governmental_health_plan_save]

(
@cob_member_governmental_health_plan_id      int = NULL   OUTPUT
,@cob_member_id                              int = NULL
,@government_health_plan_id                  int = NULL
,@cob_government_health_plan_id_type_id		 int = NULL
,@insured_name								 nvarchar(256) = NULL
,@sequence_id								 int = NULL
,@benefit_category_id                        int = NULL
,@governmental_policy_holder_ud              nvarchar(100) = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION =-1,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @government_health_plan_id is null
BEGIN
SET @government_health_plan_id =  (SELECT TOP 1 government_health_plan_id
FROM government_health_plan)
END
IF @cob_member_governmental_health_plan_id is Null
BEGIN
--- Create a new record
INSERT INTO cob_member_governmental_health_plan(
cob_member_id
,government_health_plan_id
,cob_government_health_plan_id_type_id
,insured_name
,sequence_id
,benefit_category_id
,governmental_policy_holder_ud
,effective_from
,effective_thru
,active
)
VALUES
(@cob_member_id
,@government_health_plan_id
,@cob_government_health_plan_id_type_id
,@insured_name
,@sequence_id
,@benefit_category_id
,@governmental_policy_holder_ud
,@effective_from
,@effective_thru
,@active
)
--
SET @cob_member_governmental_health_plan_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM cob_member_governmental_health_plan WHERE cob_member_governmental_health_plan_id = @cob_member_governmental_health_plan_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int
--- Updating an existing record
UPDATE cob_member_governmental_health_plan
SET
cob_member_id                             = @cob_member_id
,government_health_plan_id                = @government_health_plan_id
,cob_government_health_plan_id_type_id    = @cob_government_health_plan_id_type_id
,insured_name                             = @insured_name
,sequence_id                              = @sequence_id
,benefit_category_id                      = @benefit_category_id
,governmental_policy_holder_ud            = @governmental_policy_holder_ud
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE cob_member_governmental_health_plan_id = @cob_member_governmental_health_plan_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--
END
--
RETURN @SP_SUCCESS
--
GO
