USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_attachment_action_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:

This procedure is used to load claim attachment action drop downs.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_claim_attachment_action_load]
AS
SELECT
caa.claim_attachment_action_id,
caa.claim_attachment_action_ud,
caa.golden_key
FROM dbo.claim_attachment_action caa
ORDER BY caa.claim_attachment_action_ud
RETURN 0
GO
