USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_auto_termination_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
09/12/2011	Chad Maddox		1.0		Created
11/17/2011	ggutshall		1.1		Added returnset limitations
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Find Auto Termination runs that match criteria.
--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_ud
@auto_termination_queue_id
@client_id
@client_group_id
@vendor_id
@run_date
@end_review
@show_exact_matches
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_auto_termination_run_load]
(
@get_column_headers		BIT = 0
, @auto_termination_run_ud		NVARCHAR(50) = NULL
, @auto_termination_queue_id	INT = NULL
, @client_id				INT = NULL
, @client_group_id			INT = NULL
, @benefit_contract_id				INT = NULL
, @member_id				INT = NULL
, @benefit_plan_id				INT = NULL
, @auto_termination_rule_id	INT = NULL
, @run_date_from			DATETIME = NULL
, @run_date_thru			DATETIME = NULL
, @show_exact_matches		BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10)

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= ''

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END


IF @auto_termination_run_ud IS NOT NULL AND @auto_termination_run_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND apr.auto_termination_run_ud ' + @Prefix + dbo.plx_EncodeStringWildCard(@auto_termination_run_ud, @show_exact_matches) + @Suffix

IF @auto_termination_queue_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apq.auto_termination_queue_id = ' + CONVERT(NVARCHAR, @auto_termination_queue_id)

IF @client_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apqc.client_id = ' + CONVERT(NVARCHAR, @client_id)

IF @client_group_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apqc.client_group_id = ' + CONVERT(NVARCHAR, @client_group_id)

IF @benefit_contract_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apqc.benefit_contract_id = ' + CONVERT(NVARCHAR, @benefit_contract_id)
IF @member_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apqc.member_id = ' + CONVERT(NVARCHAR, @member_id)
IF @benefit_plan_id IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND apqc.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id)

IF @run_date_from IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR, apr.start_time, 101) = ''' + CONVERT(NVARCHAR, @run_date_from, 101) + ''''

IF @run_date_thru IS NOT NULL
SET @SqlCondition = @SqlCondition + ' AND CONVERT(NVARCHAR, apr.end_time, 101) = ''' + CONVERT(NVARCHAR, @run_date_thru, 101) + ''''

SET @SqlQuery =
'
SELECT DISTINCT  TOP (dbo.fn_results_limit())
apr.auto_termination_run_id,
apr.auto_termination_run_ud,
apq.auto_termination_queue_ud,
CONVERT(NVARCHAR, apr.start_time, 101) AS run_date
FROM  dbo.auto_termination_run apr
INNER JOIN auto_termination_queue apq ON apr.auto_termination_queue_id = apq.auto_termination_queue_id
LEFT JOIN auto_termination_queue_queue_criteria apqc ON apq.auto_termination_queue_id = apqc.auto_termination_queue_id
LEFT JOIN client_name cn ON apqc.client_id = cn.client_id
LEFT JOIN client_group_name cgn ON apqc.client_group_id = cgn.client_group_id
LEFT JOIN benefit_contract bc ON apqc.benefit_contract_id = bc.benefit_contract_id
LEFT JOIN benefit_plan bp ON apqc.benefit_plan_id = bp.benefit_plan_id
'

PRINT @SqlQuery + @SqlCondition + ' ORDER BY apr.auto_termination_run_ud'

EXEC (@SqlQuery + @SqlCondition + ' ORDER BY apr.auto_termination_run_ud')

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
