USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Apr  3 2006    Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
05/13/2009	lrenard		2.0		Updated Commercial Health Plan form (18594)
09/13/2011	Cknobloch		1.1		changed key
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for frmCommercialHealthPlan form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_load]
(
@cob_member_other_insurance_plan_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
chp.cob_member_commercial_health_plan_id
,chp.cob_member_id

,chp.sequence_id
,s.sequence_ud

,chp.insured_name
,chp.date_of_birth

,chp.gender_id
,gender.gender_ud

,chp.relationship_to_member_id
,rti.relationship_to_insured_ud as relationship_to_member_ud

,chp.benefit_category_id
,bc.benefit_category_ud

,chp.cob_plan_type_id
,cpt.cob_plan_type_ud

,chp.cob_plan_status_id
,cps.cob_plan_status_ud

,chp.effective_from
,chp.effective_thru
,chp.insurance_plan_name
,chp.commercial_policy_holder_ud
,chp.insured_policy_group_number
,chp.group_identifier
,chp.employer_name
,chp.carrier_name
,chp.modified_date
FROM cob_member_commercial_health_plan chp
LEFT JOIN [sequence] s ON s.sequence_id = chp.sequence_id
LEFT JOIN gender ON gender.gender_id = chp.gender_id
LEFT JOIN relationship_to_insured rti ON rti.relationship_to_insured_id = chp.relationship_to_member_id
LEFT JOIN benefit_category bc ON bc.benefit_category_id = chp.benefit_category_id
LEFT JOIN cob_plan_type cpt ON cpt.cob_plan_type_id = chp.cob_plan_type_id
LEFT JOIN cob_plan_status cps ON cps.cob_plan_status_id = chp.cob_plan_status_id
WHERE chp.cob_member_commercial_health_plan_id = @cob_member_other_insurance_plan_id
--
RETURN @SP_SUCCESS
GO
