USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_note_subject_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cluu
01 16 2006  8:49PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By      Version      Description
--------------------------------------------------------------------------------
03/17/2009	lrenard       1.1          added category filter
09/13/2009  eponomareff   1.2          Updated to support Note Security (user_credential string added as a parameter)
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
This procedure is used to load data for drop down note_subject (Subject)
Note Security (by subject) is enforced
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_dd_note_subject_load](
@note_category_id       INT           = 0
,@security_credential    NVARCHAR(255) = NULL
,@active_directory_security_user_roles udtt_security_roles readonly
)
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
note_subject_id
,note_subject_ud
FROM note_subject
WHERE note_category_id = isnull(@note_category_id,0)
-- Note Security added
AND note_subject_id NOT IN
(SELECT note_subject_id
FROM dbo.plx_fn_security_disallowed_note_subjects_this_user(@security_credential, @active_directory_security_user_roles))
ORDER BY note_subject_ud

RETURN @SP_SUCCESS
END
GO
