USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_associated_brokerage_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Aug  1 2006  1:43PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	hthan		1.0		Modified
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for associated brokerage grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_id - Key to agent_brokerage table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_agent_associated_brokerage_list_load]
(
@agent_id			Int
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_brokerage.agent_brokerage_id
,agent_brokerage.agent_id
,agent_brokerage.brokerage_agent_id		 as associated_brokerage_id
,agent_brokerage.brokerage_agent_identifier_id 	 as associated_brokerage_identifier_id
,brokerage_identifier.agent_ud	  		 as associated_brokerage_ud
,brokerage_name.name_last 			  	 as associated_brokerage_name
,agent_brokerage.effective_from     			 as associated_effective_from
,agent_brokerage.effective_thru     			 as associated_effective_thru
FROM agent_brokerage
INNER JOIN agent as brokerage ON agent_brokerage.brokerage_agent_id = brokerage.agent_id
INNER JOIN agent_name as brokerage_name ON brokerage.agent_id = brokerage_name.agent_id
AND is_primary = 1
LEFT JOIN agent_identifier as brokerage_identifier ON agent_brokerage.brokerage_agent_identifier_id = brokerage_identifier.agent_identifier_id
WHERE agent_brokerage.agent_id  = @agent_id
ORDER BY
CASE WHEN agent_brokerage.effective_from     IS NULL THEN 0 ELSE 1 END , agent_brokerage.effective_from     DESC
,CASE WHEN agent_brokerage.effective_thru   IS NULL THEN 0 ELSE 1 END , agent_brokerage.effective_thru   DESC

--
RETURN @SP_SUCCESS
GO
