USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_vendor_refund_request_reason_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_vendor_refund_request_reason_load]
AS
SELECT
rr.vendor_refund_request_reason_id,
rr.vendor_refund_request_reason_ud,
rr.description
FROM vendor_refund_request_reason rr
ORDER BY rr.vendor_refund_request_reason_ud;

RETURN 0
GO
