USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_coverage_level_process_queue_criteria_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_coverage_level_process_queue_criteria_save]
(
@coverage_level_process_queue_criteria_id       INT = 0   OUTPUT
,@coverage_level_process_queue_id                INT = NULL
,@benefit_category_id                            INT = NULL
) AS

DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50);
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST';
--
IF ISNULL(@coverage_level_process_queue_criteria_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO coverage_level_process_queue_criteria (
coverage_level_process_queue_id
,benefit_category_id
)
VALUES (
@coverage_level_process_queue_id
,@benefit_category_id
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @coverage_level_process_queue_criteria_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM coverage_level_process_queue_criteria WHERE coverage_level_process_queue_criteria_id = @coverage_level_process_queue_criteria_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE coverage_level_process_queue_criteria
SET
coverage_level_process_queue_id    = @coverage_level_process_queue_id
,benefit_category_id                = @benefit_category_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()
WHERE coverage_level_process_queue_criteria_id = @coverage_level_process_queue_criteria_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
