USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_queue_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Oct 29 2005 10:49AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/03/2006       Trinh Le                        Use claim_form_type instead of claim_usage_type table
04/13/2006       HuyThan                         Added functional_area_assignment_id
11/01/2006	HuyThan	1.2	Add schedule_form_id
04/01/2009	lrenard		1.3	changed claim_processing_queue to adjudication_queue
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_adjudication_queue_load]
(
@adjudication_queue_id			Int = null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
aq.adjudication_queue_id
,aq.adjudication_queue_ud
,aq.description

,aq.schedule_form_id
,cast(null as datetime) as last_scheduled_run
,sf.duration_start_date
,sf.duration_end_date

,aq.claim_form_type_id
,cft.claim_form_type_ud

,aq.provider_identifier_id
,p.provider_ud

,aq.provider_network_id
,pnet.provider_network_ud

,aq.client_group_id
,cgn.client_group_ud

,aq.client_id
,cn.client_ud

,aq.benefit_contract_id
,bc.benefit_contract_ud

,aq.active
,aq.created_user_name
,aq.created_group_id
,aq.created_date
,aq.modified_date
FROM adjudication_queue aq
left join provider_network pnet ON pnet.provider_network_id = aq.provider_network_id
left join provider_identifier p ON p.provider_identifier_id = aq.provider_identifier_id
left join client_group cg ON cg.client_group_id = aq.client_group_id
left JOIN client_group_name cgn ON (cgn.client_group_id = cg.client_group_id) AND (cgn.primary_name = 1)
left join client c ON c.client_id = aq.client_id
left JOIN client_name cn ON (cn.client_id = c.client_id) AND (cn.primary_name = 1)
left JOIN claim_form_type cft ON cft.claim_form_type_id = aq.claim_form_type_id
left JOIN benefit_contract bc ON bc.benefit_contract_id = aq.benefit_contract_id
LEFT JOIN dbo.schedule_form sf ON aq.schedule_form_id = sf.schedule_form_id
WHERE aq.adjudication_queue_id = isnull(@adjudication_queue_id,0)
--

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
