USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_carrier_contact_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thuy Ha
Dec 22 2005  4:55PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	Thuy Ha		1.0		created_date & modified_date use DB Server date
04/20/2006	Anh Ta		1.1		change from contact_type_id to contact_association_type_id
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This stored procedure is used in the Associated Contacts
grid of the Carrier form to alter a single object from carrier_contract table

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_carrier_contact_save]
(
@carrier_contact_id  		   int = NULL   OUTPUT
,@contact_id                                 int = NULL
,@carrier_id              	   int = NULL
,@contact_association_type_id		   int = NULL
,@is_primary                 		   bit = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
BEGIN
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '1052800011',
@ERROR_CANT_UPDATE 	= '1052800012',
@ERROR_NOT_EXIST	= '1052800013'


IF @carrier_contact_id is Null
BEGIN
--- Create a new record
INSERT INTO carrier_contact(
carrier_id
,contact_id
,is_primary
,contact_association_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@carrier_id
,@contact_id
,@is_primary
,@contact_association_type_id
,@effective_from
,@effective_thru
,@active
)
SET @carrier_contact_id = @@IDENTITY
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE IF NOT EXISTS (SELECT * FROM carrier_contact WHERE carrier_contact_id = @carrier_contact_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN
UPDATE carrier_contact
SET
contact_id                        	     = @contact_id
,carrier_id                       = @carrier_id
,contact_association_type_id        	     = @contact_association_type_id
,is_primary                  	   	     = @is_primary
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE carrier_contact_id = @carrier_contact_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
RETURN @SP_SUCCESS
END
GO
