USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_additional_plan_options_grid_validation]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 09/13/2011
--
REVISION_HISTORY:
--
Date			Modified By			Version			Description
--------------------------------------------------------------------------------

DESCRIPTION:	Used to validate grid on Additional Plan Options Form, which is launched
from the Benefit Contract Form, and also shows read-only on the Advanced Plan Options
tab in the eligibilities panel on the Enrollment form

Performs two validations, depending on input:
(1) [input = benefit_plan_id]

Ensures that selected benefit plan appears in the same benefit contract period as the source plan

(2) [input = benefit_plan_set_id]

Ensures that the selected benefit plan set contains at least one plan which contained in
the same benefit contract periodas the source plan

******************************/

CREATE  PROCEDURE [dbo].[plx_benefit_contract_additional_plan_options_grid_validation]
(
@benefit_contract_period_benefit_plan_id INT = 0
,@benefit_plan_id INT = 0
,@benefit_plan_set_id INT = 0
)
AS

DECLARE
@SP_SUCCESS   INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS   = 0,
@SP_EXCEPTION = -1

-- Valiadation Option 1 - check benefit plan in benefit contract period

IF ISNULL(@benefit_plan_id, 0) <> 0
BEGIN
SELECT
CAST(null AS INT) as benefit_plan_set_id
,bp.benefit_plan_id
,bp.benefit_plan_ud
,@benefit_contract_period_benefit_plan_id as source_bcpbp_id
,destination_bcpbp.benefit_contract_period_benefit_plan_id as dest_bcpbp_id
FROM
dbo.benefit_plan bp
INNER JOIN	dbo.benefit_contract_period_benefit_plan destination_bcpbp
ON bp.benefit_plan_id = destination_bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON destination_bcpbp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
WHERE
bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND
bp.benefit_plan_id = @benefit_plan_id
END
ELSE IF ISNULL(@benefit_plan_set_id, 0) <> 0
BEGIN
SELECT
bps.benefit_plan_set_id
,bp.benefit_plan_id
,bp.benefit_plan_ud
,@benefit_contract_period_benefit_plan_id as source_bcpbp_id
,destination_bcpbp.benefit_contract_period_benefit_plan_id as dest_bcpbp_id
FROM
dbo.benefit_plan_set bps
INNER JOIN benefit_plan_set_detail bpsd
ON bps.benefit_plan_set_id = bpsd.benefit_plan_set_id
INNER JOIN dbo.benefit_plan bp
ON bp.benefit_plan_id = bpsd.benefit_plan_id
INNER JOIN	dbo.benefit_contract_period_benefit_plan destination_bcpbp
ON bp.benefit_plan_id = destination_bcpbp.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON destination_bcpbp.benefit_contract_period_id = bcpbp.benefit_contract_period_id
WHERE
bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND bps.benefit_plan_set_id = @benefit_plan_set_id
END

ELSE
BEGIN
RETURN @SP_EXCEPTION
END


--

RETURN @SP_SUCCESS
--
GO
