USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_place_of_service_set_save]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
Date: 02/04/2009
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.1
--
DESCRIPTION:Save data for form frmPlaceOfServiceSet

--
REQUIREMENTS:
--
INPUTS:
@place_of_service_set_id
@place_of_service_set_ud
@place_of_service_set_nm
@active
@created_user_name
@created_group_id
@created_date
@modified_date
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_place_of_service_set_save]
(
@place_of_service_set_id					INT = 0   OUTPUT
,@place_of_service_set_ud					NVARCHAR(50) = NULL
,@place_of_service_set_nm					NVARCHAR(100) = NULL
,@active						BIT = NULL
) AS

DECLARE
@SP_SUCCESS   INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST   NVARCHAR(50)
SELECT
@SP_SUCCESS   = 0
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'

IF ISNULL(@place_of_service_set_id, 0) = 0
BEGIN
INSERT INTO place_of_service_set(
place_of_service_set_ud
,place_of_service_set_nm
,active
)
VALUES
(@place_of_service_set_ud
,@place_of_service_set_nm
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @place_of_service_set_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM place_of_service_set WHERE place_of_service_set_id = @place_of_service_set_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN
UPDATE place_of_service_set
SET
place_of_service_set_ud					= @place_of_service_set_ud
,place_of_service_set_nm					= @place_of_service_set_nm
,active							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE place_of_service_set_id = @place_of_service_set_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
