USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_episode_service_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ThuyNgo
Date: 03/08/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/08/2006	ThuyNgo		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for grid "Services"
in frmEpisode form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_episode_service_load]

(
@episode_id			Int  =null
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
episode_service.episode_service_id
-- ,episode_service.episode_id

-- ,episode.episode_ud
,episode_service.procedure_code_group_id as procedure_code_group_id

,procedure_code_group.procedure_code_group_ud as procedure_code_group_ud
,procedure_code_group.description as procedure_code_group_description
,episode_service.diagnosis_code_group_id as diagnosis_code_group_id

,diagnosis_code_group.diagnosis_code_group_ud as diagnosis_code_group_ud
,diagnosis_code_group.description as diagnosis_code_group_description
FROM episode_service
inner join episode  ON episode.episode_id = episode_service.episode_id
left join procedure_code_group  ON procedure_code_group.procedure_code_group_id = episode_service.procedure_code_group_id
left join diagnosis_code_group  ON diagnosis_code_group.diagnosis_code_group_id = episode_service.diagnosis_code_group_id
--inner join created_group  ON created_group.created_group_id = episode_service.created_group_id
WHERE episode_service.episode_id = @episode_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
GO
