USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_reinsurance_calculation_run_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_find_reinsurance_calculation_run_load]
(
@get_column_headers                       BIT = 0
, @reinsurance_calculation_run_ud           NVARCHAR(50) = NULL
, @reinsurance_contract_id                  INT  = NULL
, @client_group_id                          INT  = NULL
, @reinsurance_calculation_run_status_id    INT  = NULL
, @run_date                                 DATETIME  = NULL
, @end_of_review                            DATETIME  = NULL
, @do_not_release                           BIT = 0
, @show_exact_matches                       BIT = 0
)
AS

DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
,@SqlQuery 		NVARCHAR(4000)
,@SqlCondition	NVARCHAR(2000)
,@SqlGroupBy	NVARCHAR(1000)
,@Prefix		NVARCHAR(10)
,@Suffix		NVARCHAR(10);

SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1
,@SqlQuery		= ''
,@SqlCondition	= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '
,@Prefix		= ''
,@Suffix		= '';

IF @show_exact_matches = 1
BEGIN
SET @Prefix = '= N'''
SET @Suffix = ''''
END
ELSE
BEGIN
SET @Prefix = 'LIKE N'''
SET @Suffix = '%'''
END

IF @reinsurance_calculation_run_ud IS NOT NULL AND @reinsurance_calculation_run_ud <> ''
SET @SqlCondition = @SqlCondition + ' AND ISNULL(run.reinsurance_calculation_run_ud, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@reinsurance_calculation_run_ud, @show_exact_matches) + @Suffix

IF @reinsurance_contract_id IS NOT NULL AND @reinsurance_contract_id > 0
SET @SqlCondition = @SqlCondition + ' AND rc.reinsurance_contract_id ='  + CONVERT(NVARCHAR, @reinsurance_contract_id)

IF @run_date IS NOT NULL AND @run_date <> ''
SET @SqlCondition = @SqlCondition + ' AND ( run.run_date >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @run_date,101) + ''', 101))'

IF @client_group_id IS NOT NULL AND @client_group_id > 0
SET @SqlCondition = @SqlCondition + ' AND bc.client_group_id ='  + CONVERT(NVARCHAR, @client_group_id)

IF @end_of_review IS NOT NULL AND @end_of_review <> ''
SET @SqlCondition = @SqlCondition + ' AND ( run.end_of_review >= CONVERT(DATETIME, ''' + CONVERT(NVARCHAR, @end_of_review,101) + ''', 101))'

IF @reinsurance_calculation_run_status_id IS NOT NULL AND @reinsurance_calculation_run_status_id > 0
SET @SqlCondition = @SqlCondition + ' AND run.reinsurance_calculation_run_status_id ='  + CONVERT(NVARCHAR, @reinsurance_calculation_run_status_id)

IF ISNULL(@do_not_release, 0) = 1
SET @SqlCondition = @SqlCondition + ' AND ISNULL(run.do_not_release,0) = 1 '



SET @SqlQuery =
'
SELECT	 TOP (dbo.fn_results_limit())
run.reinsurance_calculation_run_id,
run.reinsurance_calculation_run_ud,
run.reinsurance_contract_id,
rc.reinsurance_contract_ud,
cgn.client_group_id,
cgn.client_group_ud,
rcrs.reinsurance_calculation_run_status_ud,
run.run_date,
run.end_of_review,
run.do_not_release,
SUM(rcalc.amount) as [run_total_amount]
FROM	dbo.reinsurance_calculation_run  run
LEFT JOIN dbo.reinsurance_contract rc ON run.reinsurance_contract_id = rc.reinsurance_contract_id
LEFT JOIN dbo.reinsurance_calculation_run_status rcrs ON rcrs.reinsurance_calculation_run_status_id = run.reinsurance_calculation_run_status_id
LEFT JOIN dbo.reinsurance_calculation rcalc ON rcalc.reinsurance_calculation_run_id = run.reinsurance_calculation_run_id
LEFT JOIN dbo.family_eligibility_member fem ON fem.family_eligibility_member_id = rcalc.family_eligibility_member_id
LEFT JOIN dbo.family_eligibility fe ON fe.family_eligibility_id = fem.family_eligibility_id
LEFT JOIN dbo.benefit_contract bc ON bc.benefit_contract_id = fe.benefit_contract_id
LEFT JOIN dbo.client_group_name cgn ON cgn.client_group_id = bc.client_group_id AND cgn.primary_name = 1
'
SET @SqlGroupBy =
'
GROUP BY
run.reinsurance_calculation_run_id,
run.reinsurance_calculation_run_ud,
run.reinsurance_contract_id,
rc.reinsurance_contract_ud,
cgn.client_group_id,
cgn.client_group_ud,
rcrs.reinsurance_calculation_run_status_ud,
run.run_date,
run.end_of_review,
run.do_not_release
'

-- PRINT @SqlQuery + @SqlCondition + @SqlGroupBy + ' ORDER BY run.run_date'

-- RT:11073 - Run in transaction with low isolation level, so Find reinsurance_calculation Run form does not freeze
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
BEGIN TRANSACTION;
EXEC (@SqlQuery + @SqlCondition + @SqlGroupBy + ' ORDER BY run.run_date DESC');
COMMIT TRANSACTION;

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
