USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_treatment_type_is_service_included_check_dx_assigned]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[plx_dto_treatment_type_is_service_included_check_dx_assigned] (
@treatment_type_id int,
@date_of_service datetime
) As

if exists (
select
*
from
treatment_type_diagnosis_code_group ttdcg
Inner Join diagnosis_code_group dcg
on ttdcg.diagnosis_code_group_id = dcg.diagnosis_code_group_id
Where
ttdcg.treatment_type_id = @treatment_type_id
And @date_of_service between ttdcg.effective_from and isnull(ttdcg.effective_thru, @date_of_service)
)
return 1

return 0
GO
