USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_loan_premiums_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION: Load data for Generated Premiums grid on frmFamilyEligibilityLoan
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_loan_premiums_list_load]
@family_eligibility_id INT = 0,
@benefit_plan_id INT = 0
AS

SELECT
p.premium_id
,p.premium_ud
,pr.premium_run_id
,pr.premium_run_ud
,dbo.plx_fn_get_premium_period_ud(pp.premium_period_id) AS premium_period_ud
,bp.benefit_plan_id
,bp.benefit_plan_ud
,fe.family_eligibility_id
,fe.family_eligibility_ud
,fem.member_id
,dbo.plx_fn_get_subscriber_name_for_enrollment(fe.family_eligibility_id) AS subscriber_member_name
,p.amount
,p.is_retroactive AS adjustment
,ps.premium_status_ud
,ata.accounting_transaction_ar_id
,ata.accounting_transaction_ar_ud
FROM dbo.premium p
JOIN premium_run pr ON p.premium_run_id = pr.premium_run_id
JOIN premium_period pp ON p.premium_period_id = pp.premium_period_id
JOIN benefit_plan bp ON p.benefit_plan_id = bp.benefit_plan_id
JOIN family_eligibility fe ON p.family_eligibility_id = fe.family_eligibility_id
JOIN family_eligibility_member fem ON fe.family_eligibility_id = fem.family_eligibility_id
JOIN relationship_to_insured rti ON fem.relationship_to_insured_id = rti.relationship_to_insured_id
LEFT JOIN premium_status ps ON p.premium_status_id = ps.premium_status_id
LEFT JOIN accounting_transaction_ar_premium_detail atapd
INNER JOIN accounting_transaction_ar ata ON
ata.accounting_transaction_ar_id = atapd.accounting_transaction_ar_id
ON atapd.premium_id = p.premium_id
WHERE fe.family_eligibility_id = @family_eligibility_id
AND bp.benefit_plan_id = @benefit_plan_id
AND	rti.golden_key IN ('Guarantor','Self')
ORDER BY
pp.effective_from,
is_retroactive,
p.premium_id
GO
