USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_cob_member_commercial_health_plan_check_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 03/15/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/15/2006	 HungTNguyen  1.0 		Created
09/13/2011	Cknobloch		1.1		changed key
11/07/2017	eponomareff				RT:11929 modified per new cob schema.
-------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
belong to this client group and being used.
--
REQUIREMENTS:
--
INPUTS:
@benefit_framework_choice_list_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_cob_member_commercial_health_plan_check_delete]
(
@cob_member_other_insurance_plan_id	int = NULL
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE   int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@result int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE	= 0
SET @SP_EXCEPTION	= -1

SET	@result	= @SP_DELETE_ABLE


IF EXISTS( select * from claim_cob_payer where cob_member_commercial_health_plan_id = @cob_member_other_insurance_plan_id )
BEGIN
SET @result = @SP_DELETE_UNABLE
END

RETURN @result

END
GO
