USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_commission_payment_status_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: tqdo
Aug  1 2006  2:48PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/01/2006	tqdo		1.0		Create
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for agent commision payment status grid on agent form
--
REQUIREMENTS:
--
INPUTS:
agent_commission_payment_status_id - Key to agent_commission_payment_status table.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_agent_commission_payment_status_list_load]
(
@agent_id 	Int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
agent_commission_payment_status.agent_commission_payment_status_id

,agent_commission_payment_status.carrier_id
,carrier.carrier_ud

,agent_commission_payment_status.commission_payment_status_id

,agent_commission_payment_status.commission_payment_status_reason_id

,agent_commission_payment_status.allow_payments_after_through_date
,agent_commission_payment_status.effective_from
,agent_commission_payment_status.effective_thru

FROM agent_commission_payment_status
LEFT JOIN carrier  ON agent_commission_payment_status.carrier_id = carrier.carrier_id
WHERE agent_commission_payment_status.agent_id = @agent_id
ORDER BY
CASE WHEN agent_commission_payment_status.effective_from IS NULL THEN 0 ELSE 1 END , agent_commission_payment_status.effective_from DESC
,CASE WHEN agent_commission_payment_status.effective_thru IS NULL THEN 0 ELSE 1 END , agent_commission_payment_status.effective_thru DESC
--
RETURN @SP_SUCCESS
GO
