USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_brokerage_branch_list_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: hthan
Sep  1 2006 10:47AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/01/2006	hthan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Delete a single object the brokerage_branch table.
This procedure is used to delete data for brokerage branch grid on brokerage form
--
REQUIREMENTS:
--
INPUTS:
@brokerage_branch_id - Key to brokerage_branch table.
@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_brokerage_branch_list_delete]
(
@brokerage_branch_id                        int = NULL
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM agent_branch WHERE agent_branch_id = @brokerage_branch_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM agent_branch
WHERE agent_branch_id = @brokerage_branch_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
GO
