USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: cluu
DATE: 09/10/2005
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------


CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load contact list by contract id
--
REQUIREMENTS:
--
INPUTS:
contract_id
--
OUTPUTS:
contact records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_list_load] (@contact_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

SELECT TOP 1 c.contact_id
,tnphone.telephone_number
,tnt.telephone_number_type_ud
,tnphone.telephone_number AS 'fax_telephone_number'
,ia.internet_address
FROM contact c
LEFT JOIN contact_internet_address cia
ON (
cia.contact_id = c.contact_id
AND cia.primary_for_contact = 1
)
LEFT JOIN internet_address ia
ON ia.internet_address_id = cia.internet_address_id
AND ia.internet_address_type_id = 1
LEFT JOIN contact_telephone_number phone
ON (
phone.contact_id = c.contact_id
AND phone.primary_for_contact = 1
)
LEFT JOIN telephone_number tnphone
ON tnphone.telephone_number_id = phone.telephone_number_id --AND tnphone.telephone_number_type_id <> 3
LEFT JOIN telephone_number_type tnt
ON tnt.telephone_number_type_id = tnphone.telephone_number_type_id
WHERE (c.contact_id = @contact_id)

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
