USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_adjudication_queue_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: NamHo
Oct 29 2005 10:51AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/01/2009	lrenard		1.1	changed adjudication_queue to adjudication_queue
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_adjudication_queue_delete]
(
@adjudication_queue_id                  int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF NOT EXISTS (SELECT * FROM adjudication_queue WHERE adjudication_queue_id = @adjudication_queue_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DECLARE @SCHEDID INT
select @SCHEDID = schedule_form_id from adjudication_queue where adjudication_queue_id=isnull(@adjudication_queue_id,0)

DELETE FROM adjudication_queue
WHERE adjudication_queue_id = isnull(@adjudication_queue_id,0)

DELETE FROM schedule_form
WHERE schedule_form_id = @SCHEDID
END
--
RETURN @SP_SUCCESS
--
GO
