USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_criteria_ud_existence_check]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Glenn Gutshall

--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
04/29/2011	ggutshall	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to check for the existence of a givenr criteria_ud in the criteria table
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE      PROCEDURE [dbo].[plx_criteria_ud_existence_check]
(
@criteria_ud		 nvarchar(50)

)AS
--
SELECT
COUNT(*)
FROM
criteria
WHERE
criteria_ud = @criteria_ud
--
RETURN 0
GO
