USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_default_fee_schedule_modifier_table_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thai Nguyen
Jan 11 2006 10:31AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
May 15 2006	Nguyen, Nghi	1.1		Change default_fee_schedule_modifier_table to fee_schedule_default table
Nov 26 2007	Christensen, W	1.2		Changed back to use default_fee_schedule_modifier_table
--
CURRENT_VERSION: 1.2
--
DESCRIPTION:
6.2	delete fee_schedule_default table
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_default_fee_schedule_modifier_table_delete]
(
@fee_schedule_default_id     int = NULL   OUTPUT
) AS

DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '',
@ERROR_CANT_DELETE = ''
--
IF NOT EXISTS (SELECT * FROM default_fee_schedule_modifier_table WHERE default_fee_schedule_modifier_table_id = @fee_schedule_default_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM default_fee_schedule_modifier_table
WHERE default_fee_schedule_modifier_table_id = @fee_schedule_default_id
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
--
RETURN @SP_SUCCESS
--
GO
