USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_accounting_transaction_type_for_ap_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used for "Type" dropdown in forms:
AP Transaction form
Find AP Transaction form

Populates the Accounting Transaction Type drop down list for AP Transactions only,
with values limited to "Bill" and "Credit'.
******************************/
CREATE PROCEDURE [dbo].[plx_dd_accounting_transaction_type_for_ap_load]
AS

SELECT
accounting_transaction_ap_type_id
,accounting_transaction_ap_type_ud
,golden_key
FROM accounting_transaction_ap_type
WHERE golden_key IN
(
'BILL',
'CREDIT'
)
ORDER BY accounting_transaction_ap_type_ud;
--
RETURN 0
--
GO
