USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_telephone_number_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\n8nguyen
Nov 17 2005  3:35PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/29/2005	Hien D Nguyen	1.1		Added error msg and maked more clearly
06/26/2008	Scott Fraser	???		Reformat to make it more readable.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Save contact telephone number

--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_contact_telephone_number_save]
(
@contact_telephone_number_id	int = NULL   OUTPUT
,@contact_id					int = NULL
,@telephone_number_id			int = NULL   OUTPUT
,@telephone_number_type_id		int = NULL
,@telephone_number_type_ud		nvarchar(50) = NULL
,@prefix						nvarchar(15) = NULL
,@country_code					nvarchar(15) = NULL
,@telephone_number				nvarchar(50) = NULL
,@telephone_number_extension	nvarchar(10) = NULL
,@primary_for_contact			bit = NULL
,@best_time_to_contact_id		int = NULL
,@comment						nvarchar(300) = NULL
,@active						bit = NULL
) AS
BEGIN
SET NOCOUNT ON
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50)

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_CANT_INSERT 	= '1588800014',
@ERROR_NOT_EXIST	= '1588800015'



IF (@contact_telephone_number_id is Null)
BEGIN
--- Create a new telephone_number record
INSERT INTO telephone_number(
telephone_number_type_id
,telephone_number
,telephone_number_extension
,active
)
VALUES
(@telephone_number_type_id
,@telephone_number
,@telephone_number_extension
,@active
)
SET @telephone_number_id = @@IDENTITY


--- Create a new contact_telephone_number record
INSERT INTO contact_telephone_number(
contact_id
,telephone_number_id
,primary_for_contact
,best_time_to_contact_id
,comment
,active
)
VALUES
(@contact_id
,@telephone_number_id
,@primary_for_contact
,@best_time_to_contact_id
,@comment
,@active
)
SET @contact_telephone_number_id = @@IDENTITY
END
ELSE IF (NOT EXISTS (SELECT * FROM contact_telephone_number WHERE contact_telephone_number_id = @contact_telephone_number_id ))
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE
BEGIN

--- Updating an existing telephone_number record
UPDATE telephone_number
SET
telephone_number_type_id		= @telephone_number_type_id
,telephone_number				= @telephone_number
,telephone_number_extension		= @telephone_number_extension
,active							= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE telephone_number_id = @telephone_number_id

--- Updating an existing contact_telephone_number record
UPDATE contact_telephone_number
SET
contact_id				= @contact_id
,telephone_number_id	= @telephone_number_id
,primary_for_contact	= @primary_for_contact
,best_time_to_contact_id= @best_time_to_contact_id
,comment				= @comment
,active					= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE contact_telephone_number_id = @contact_telephone_number_id
END
RETURN @SP_SUCCESS
END
GO
