USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_auto_termination_run_summary_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
Date: 09/12/2011
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdAutoTerminationInformation on form frmAutoTerminationRun

--
REQUIREMENTS:
--
INPUTS:
@auto_termination_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_auto_termination_run_summary_load]
(
@auto_termination_run_id    INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
bc.benefit_contract_id
,bc.benefit_contract_ud
,bc.description
,COUNT(cprd.family_eligibility_member_benefit_plan_id) AS number_of_eligibilities_termed_per_benefit_contract

FROM dbo.auto_termination_run_detail cprd
JOIN dbo.family_eligibility_member_benefit_plan elig ON cprd.family_eligibility_member_benefit_plan_id = elig.family_eligibility_member_benefit_plan_id
JOIN dbo.family_eligibility_member fem ON elig.family_eligibility_member_id = fem.family_eligibility_member_id
JOIN dbo.family_eligibility fe ON fem.family_eligibility_id = fe.family_eligibility_id
JOIN dbo.benefit_contract bc ON fe.benefit_contract_id = bc.benefit_contract_id
WHERE cprd.auto_termination_run_id = @auto_termination_run_id

GROUP BY bc.benefit_contract_id, bc.benefit_contract_ud, bc.description

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
