USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_claim_amount_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: lrenard
DATE: 06/06/2008
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
06/06/2008	lrenard	1.0			Created for 18152 - Accounting Payment Queue
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down claim_amount_type (Claim Date)
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dd_claim_amount_type_load]

AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
claim_amount_type.claim_amount_type_id
,claim_amount_type.claim_amount_type_ud
,claim_amount_type.golden_key
FROM claim_amount_type
ORDER BY claim_amount_type_ud
--
RETURN @SP_SUCCESS
GO
