USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_procedure_code_category_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Hiep Nguyen		1.0		Created and used for Find PX Category Form
05/13/2009	David Slayton	1.1		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.2		Added returnset limitations
--
CURRENT_VERSION: 1.2
--
ICU:
--
DESCRIPTION:
The procedure is used to find the procedure code categories that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_procedure_code_category_load]
(
@get_column_headers			BIT = 0,
@procedure_code_type_id  int = null,
@procedure_code_category_nm 		 nvarchar(255) 		= null
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@sqlString 		AS NVARCHAR(4000),
@sqlCondition		AS NVARCHAR(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10),
@table_name	NVARCHAR(255)


SELECT
@sqlString 		= '',
@sqlCondition		= ' WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 ',
@Prefix 	= '',
@Suffix 	= '',
@table_name 	= ''

BEGIN
SET @Prefix = ' LIKE N'''
SET @Suffix = ''''
END

SET @sqlString = 'SELECT TOP (dbo.fn_results_limit())
procedure_code_type.procedure_code_type_id,
procedure_code_type.procedure_code_type_ud,
procedure_code_category.procedure_code_category_id ,
procedure_code_category.procedure_code_category_nm ,
claim_usage_type.claim_usage_type_id ,
claim_usage_type.claim_usage_type_ud

FROM
dbo.procedure_code_category
LEFT JOIN procedure_code_type ON procedure_code_type.procedure_code_type_id = procedure_code_category.procedure_code_type_id
LEFT JOIN claim_usage_type ON claim_usage_type.claim_usage_type_id = procedure_code_type.claim_usage_type_id '


IF (@procedure_code_type_id is not null) and (@procedure_code_type_id <> 0)
BEGIN
set @sqlCondition = @sqlCondition + ' AND procedure_code_type.procedure_code_type_id = '  + cast(@procedure_code_type_id as varchar)
END

IF (@procedure_code_category_nm is not null) and (@procedure_code_category_nm <> '')
BEGIN
SET @sqlCondition =  @sqlCondition + ' AND ISNULL(procedure_code_category.procedure_code_category_nm, '''') ' + @Prefix + dbo.plx_EncodeStringWildCard(@procedure_code_category_nm, null) + @Suffix
END

EXEC(@sqlString + @sqlCondition)

END
GO
