USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_company_save]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:  HungTNguyen

Mar  3 2006  3:21PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/03/08	Thuy Ha				created_date and modified_date using DB Server date
2006/07/20	HungTNguyen			added field define_segments
2008/05/16	lrenard				accounting company schema and form changes
08/18/2014 - RT:6046 Updated created/modified tombstone columns
2014/09/12	schong				added delivery route saving.
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save accounting company data.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_company_save] (
@accounting_company_id INT = NULL OUTPUT
, @accounting_company_ud NVARCHAR(100) = NULL
, @accounting_company_description NVARCHAR(255) = NULL
, @address_id INT = NULL OUTPUT
, @address_1 NVARCHAR(100) = NULL
, @address_2 NVARCHAR(100) = NULL
, @locale_id INT = NULL OUTPUT
, @delivery_route NVARCHAR(100) = NULL
, @telephone_number NVARCHAR(100) = NULL
, @fax_number NVARCHAR(100) = NULL
, @email_address NVARCHAR(255) = NULL
, @internet_address NVARCHAR(255) = NULL
, @federal_ein NVARCHAR(100) = NULL
, @state_ein NVARCHAR(100) = NULL
, @first_segment_length INT = NULL
, @second_segment_length INT = NULL
, @third_segment_length INT = NULL
, @fourth_segment_length INT = NULL
, @fifth_segment_length INT = NULL
, @use_account_segment_rule BIT = NULL
, @hold_transactions_for_negative_claim_net BIT = NULL
, @active BIT = NULL
)
AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int


SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

--
IF @accounting_company_id is Null
BEGIN


-- Create a new address record
if (@address_1 is not null)
or (@address_2 is not null)
or (@locale_id is not null)
begin
insert into address (
address_1
,address_2
,delivery_route
,locale_id
,active
)
VALUES
(@address_1
,@address_2
,@delivery_route
,@locale_id
,@active
)
set @address_id = @@identity

end

--- Create a new record
INSERT INTO accounting_company(
accounting_company_ud
,[description]
,address_id
,telephone_number
,fax_number
,email_address
,internet_address
,federal_ein
,state_ein
,use_account_segment_rule
,hold_transactions_for_negative_claim_net
,active
)
VALUES
(@accounting_company_ud
,@accounting_company_description
,@address_id
,@telephone_number
,@fax_number
,@email_address
,@internet_address
,@federal_ein
,@state_ein
,@use_account_segment_rule
,@hold_transactions_for_negative_claim_net
,@active
)
--
SET @accounting_company_id = @@IDENTITY


--- Create a new segment records
--Segment 1
if isnull(@first_segment_length,0) > 0
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,1
,@first_segment_length
,@active
)
end

--Segment 2
if isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,2
,@second_segment_length
,@active
)
end

--Segment 3
if isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,3
,@third_segment_length
,@active
)
end

--Segment 4
if isnull(@fourth_segment_length, 0) > 0 AND isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,4
,@fourth_segment_length
,@active
)
end

--Segment 5
if isnull(@fifth_segment_length, 0) > 0 AND isnull(@fourth_segment_length, 0) > 0 AND isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,5
,@fifth_segment_length
,@active
)
end

END
ELSE IF NOT EXISTS (SELECT * FROM accounting_company WHERE accounting_company_id = @accounting_company_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing address
if (@address_id is null)
and ((@address_1 is not null)
or (@address_2 is not null)
or (@locale_id is not null))
begin
insert into address (
address_1
,address_2
,locale_id
,active
,delivery_route
)
VALUES
(@address_1
,@address_2
,@locale_id
,@active
,@delivery_route
)
set @address_id = @@identity
end
else if (@address_id is not null)
begin
UPDATE address
SET address_1 = @address_1
, address_2 = @address_2
, locale_id = @locale_id
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

, delivery_route = @delivery_route
WHERE address_id = @address_id
END

--- Updating an existing record
UPDATE accounting_company
SET
accounting_company_ud                    = @accounting_company_ud
,[description]                   		 = @accounting_company_description
,address_id                               = @address_id
,telephone_number                         = @telephone_number
,fax_number                               = @fax_number
,email_address                            = @email_address
,internet_address                         = @internet_address
,federal_ein                              = @federal_ein
,state_ein                                = @state_ein
,use_account_segment_rule			    = @use_account_segment_rule
,hold_transactions_for_negative_claim_net = @hold_transactions_for_negative_claim_net
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id

--- Updating an existing segments
--Segment 1
if isnull(@first_segment_length,0) > 0
begin
if exists(select * from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number = 1)
begin
UPDATE accounting_company_segment
SET
segment_length = @first_segment_length
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id AND segment_number = 1
end
else
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,1
,@first_segment_length
,@active
)
end
end
else
begin
delete from accounting_company_segment where accounting_company_id = @accounting_company_id
end

--Segment 2
if isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
if exists(select * from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number = 2)
begin
UPDATE accounting_company_segment
SET
segment_length = @second_segment_length
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id AND segment_number = 2
end
else
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,2
,@second_segment_length
,@active
)
end
end
else
begin
delete from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number >= 2
end

--Segment 3
if isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
if exists(select * from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number = 3)
begin
UPDATE accounting_company_segment
SET
segment_length = @third_segment_length
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id AND segment_number = 3
end
else
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,3
,@third_segment_length
,@active
)
end
end
else
begin
delete from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number >= 3
end

--Segment 4
if isnull(@fourth_segment_length, 0) > 0 AND isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
if exists(select * from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number = 4)
begin
UPDATE accounting_company_segment
SET
segment_length = @fourth_segment_length
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id AND segment_number = 4
end
else
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,4
,@fourth_segment_length
,@active
)
end
end
else
begin
delete from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number >= 4
end

--Segment 5
if isnull(@fifth_segment_length, 0) > 0 AND isnull(@fourth_segment_length, 0) > 0 AND isnull(@third_segment_length, 0) > 0 AND isnull(@second_segment_length,0) > 0 AND isnull(@first_segment_length,0) > 0
begin
if exists(select * from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number = 5)
begin
UPDATE accounting_company_segment
SET
segment_length = @fifth_segment_length
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accounting_company_id = @accounting_company_id AND segment_number = 5
end
else
begin
INSERT INTO accounting_company_segment(
accounting_company_id
,segment_number
,segment_length
,active
)
VALUES
(@accounting_company_id
,5
,@fifth_segment_length
,@active
)
end
end
else
begin
delete from accounting_company_segment where accounting_company_id = @accounting_company_id AND segment_number >= 5
end
END
--
RETURN @SP_SUCCESS
--
GO
