USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_valid_choice_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date: 02/06/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
02/06/2006      Trinh Le                        Change create_user_group to created_group_id
03/08/2006	Thuy Ha				created_date & modified_date use DB server date
07/27/2006      HungTNguyen                     added Yes/No
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save data on grid Valid Choices of benefit framework
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_valid_choice_save]
(
@benefit_valid_choice_id                    int = NULL   OUTPUT
,@benefit_valid_choice_ud                    nvarchar(100) = NULL
,@valid_choice                               nvarchar(200) = NULL
,@ui_engine_data_type_id                       INT
,@benefit_framework_choice_list_id                int = NULL
,@active                                     bit = 1
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@ERROR_CANT_UPDATE   NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1,
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE = '105280010'

--[12/19/2006] HungTNguyen: cheat code to fixed 6294
IF (NOT @ui_engine_data_type_id IS NULL)
AND (@ui_engine_data_type_id<>78)
and (not @valid_choice is null)
and (LEN(@valid_choice)>0)
and (CHARINDEX('.', @valid_choice)<=0)
begin
set @valid_choice=@valid_choice+'.00'
end


--
IF @benefit_valid_choice_id is Null
BEGIN
--Yes/No
IF (NOT @ui_engine_data_type_id IS NULL) AND (@ui_engine_data_type_id=78)
BEGIN
--- Create a new record
INSERT INTO benefit_framework_valid_choice(
benefit_framework_valid_choice_ud
,valid_choice
,yes_no_id
,benefit_framework_choice_list_id
,active
)
VALUES
(@benefit_valid_choice_ud
,null
,@valid_choice
,@benefit_framework_choice_list_id
,@active
)
END
ELSE
BEGIN
--- Create a new record
INSERT INTO benefit_framework_valid_choice(
benefit_framework_valid_choice_ud
,valid_choice
,yes_no_id
,benefit_framework_choice_list_id
,active
)
VALUES
(@benefit_valid_choice_ud
,@valid_choice
,null
,@benefit_framework_choice_list_id
,@active
)
END
--
SET @benefit_valid_choice_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM benefit_framework_valid_choice WHERE benefit_framework_valid_choice_id = @benefit_valid_choice_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int


IF (NOT @ui_engine_data_type_id IS  NULL) AND (@ui_engine_data_type_id=78)
BEGIN
UPDATE benefit_framework_valid_choice
SET
benefit_framework_valid_choice_ud = @benefit_valid_choice_ud
,valid_choice                     = null
,yes_no_id			  = @valid_choice
,active                           = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_valid_choice_id = @benefit_valid_choice_id

END
ELSE
BEGIN
UPDATE benefit_framework_valid_choice
SET
benefit_framework_valid_choice_ud = @benefit_valid_choice_ud
,valid_choice                     = @valid_choice
,yes_no_id			  = null
,active                           = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE benefit_framework_valid_choice_id = @benefit_valid_choice_id


END
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--



END
--
RETURN @SP_SUCCESS
end
GO
