USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_carc_for_taboff]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/03/2017	eponomareff		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

Find Claim Adjustment Resaon Codes (CARC) that match criteria.

It is used in the Claim COB Entry form
to make the TabOff easier. The other stored procedure
had different id/ud column names.

--
REQUIREMENTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE       PROCEDURE [dbo].[plx_find_carc_for_taboff]
(
@claim_adjustment_reason_code_nk   NVARCHAR(50) = NULL
)
AS
DECLARE
@SP_SUCCESS 	INT
,@SP_EXCEPTION 	INT
SELECT
@SP_SUCCESS 	= 0
,@SP_EXCEPTION 	= -1


SELECT
carc.claim_adjustment_reason_code_id
,carc.claim_adjustment_reason_code_nk
,carc.description
FROM
claim_adjustment_reason_code carc
WHERE
(
ISNULL(@claim_adjustment_reason_code_nk, '') = ''
OR
(carc.claim_adjustment_reason_code_nk = @claim_adjustment_reason_code_nk)
)
ORDER BY claim_adjustment_reason_code_nk

RETURN @SP_SUCCESS
GO
