USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_value_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Han Cao
Date: 12/01/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/01/2005	Han Cao				Created
2006/03/08	Thuy Ha				Modified: created_date and modified_date using DB Server date
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to save a row for grid List of Allowed Values for the Topic
in Topic Definition form.
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_additional_information_topic_value_save]

(
@additional_information_topic_value_id      int = NULL   OUTPUT
,@additional_information_topic_value_ud      nvarchar(50) = NULL
,@description      			   nvarchar(255) = NULL
,@is_topic_value_default                     bit = NULL
,@additional_information_topic_id            int = NULL
,@active                                     bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @additional_information_topic_value_id is Null
BEGIN
--- Create a new record
INSERT INTO additional_information_topic_value(
additional_information_topic_value_ud
,[description]
,is_topic_value_default
,additional_information_topic_id
,active
)
VALUES
(@additional_information_topic_value_ud
,@description
,@is_topic_value_default
,@additional_information_topic_id
,@active
)
--
SET @additional_information_topic_value_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM additional_information_topic_value WHERE additional_information_topic_value_id = @additional_information_topic_value_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
UPDATE additional_information_topic_value
SET
additional_information_topic_value_ud    = @additional_information_topic_value_ud
,[description]    			 = @description
,is_topic_value_default                   = @is_topic_value_default
,additional_information_topic_id          = @additional_information_topic_id
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE additional_information_topic_value_id = @additional_information_topic_value_id
END
--
RETURN @SP_SUCCESS
--
GO
