USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_processing_rule_framework_add_on_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: dcannon
DATE:   6/4/2012
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
08/18/2014 - RT:6046 Updated created/modified tombstone columns
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for claim processing rule framework form Px Code Add On Editing group
--
REQUIREMENTS:
--
INPUTS:
claim_processing_rule_framework_id

ncci_professional_enable
ncci_professional_payment_modification
ncci_institutional_outpatient_enable
ncci_institutional_outpatient_payment_modification
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_processing_rule_framework_add_on_save]
(
@claim_processing_rule_framework_id	int = NULL
,@add_on_type_of_claim					nvarchar (50) =  NULL
,@add_on_same_claim_check				bit = 0
,@add_on_separate_claim_check           bit = 0

) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--

IF NOT EXISTS (SELECT * FROM claim_processing_rule_framework WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
IF @add_on_type_of_claim = 'Professional'
BEGIN
UPDATE claim_processing_rule_framework
SET
add_on_professional_same_claim_check = @add_on_same_claim_check
,add_on_professional_separate_claim_check = @add_on_separate_claim_check
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
ELSE IF @add_on_type_of_claim = 'Institutional Outpatient'
BEGIN
UPDATE claim_processing_rule_framework
SET
add_on_institutional_outpatient_same_claim_check = @add_on_same_claim_check
,add_on_institutional_outpatient_separate_claim_check = @add_on_separate_claim_check
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE claim_processing_rule_framework_id = @claim_processing_rule_framework_id
END
END

--
RETURN @SP_SUCCESS
--
GO
