USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_rate_retro_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_eligibility_rate_retro_type_list_load]
AS
SET NOCOUNT ON

SELECT
errt.eligibility_rate_retro_type_id
,errt.eligibility_rate_retro_type_ud
,errt.golden_key
FROM eligibility_rate_retro_type errt
ORDER BY errt.eligibility_rate_retro_type_ud

RETURN 0
GO
