USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_financial_responsibility_schedule_check_delete]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Jeremy hein
Date: 04/29/2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is to check if a financial responsibility schedule can be deleted.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
--
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_financial_responsibility_schedule_check_delete]
(
@financial_responsibility_schedule_id	int
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT 1 FROM financial_responsibility_schedule WHERE financial_responsibility_schedule_id = @financial_responsibility_schedule_id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END

ELSE
BEGIN

--find if this financial responsibility schedule is assigned on the financial responsibility assignment grid
IF EXISTS(
SELECT 1 FROM financial_responsibility_assignment WHERE financial_responsibility_schedule_id = @financial_responsibility_schedule_id
)
BEGIN
SET @RESULT = @SP_DELETE_UNABLE
END

ELSE
BEGIN
SET @RESULT = @SP_DELETE_ABLE
END
END


RETURN @RESULT

END
GO
