USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_void_refund_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used to load Void Vendor Refund Request form and
Void Vendor Refund Payment form.
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ap_void_refund_load]
(
@accounting_transaction_ap_id     INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT;
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1;

SELECT
apRefundOrPayment.accounting_transaction_ap_id,
apRefundOrPayment.accounting_transaction_ap_ud,
ats.golden_key as accounting_payment_status_golden_key,
apRefundOrPayment.accounting_void_reason_id,
avr.accounting_void_reason_ud,
apRefundOrPayment.comments,
apRefundOrPayment.void_date,
apRefundOrPayment.voided_by,
apRefundOrPayment.modified_date
FROM accounting_transaction_ap apRefundOrPayment
LEFT JOIN accounting_transaction_status ats
ON apRefundOrPayment.accounting_transaction_status_id = ats.accounting_transaction_status_id
LEFT JOIN accounting_void_reason avr
ON apRefundOrPayment.accounting_void_reason_id = avr.accounting_void_reason_id
WHERE apRefundOrPayment.accounting_transaction_ap_id = @accounting_transaction_ap_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
RETURN @SP_EXCEPTION;
GO
