USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_capitation_rate_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
DATE: 07/28/2009
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Check to see if a capitation rate can be deleted
--
REQUIREMENTS:
--
INPUTS:
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delete
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_capitation_rate_check_delete]
(
@id		int = NULL
) AS
BEGIN
DECLARE
@SP_DELETE_ABLE		int,
@SP_DELETE_UNABLE	int

SELECT
@SP_DELETE_ABLE 	= 1,
@SP_DELETE_UNABLE	= 0

IF EXISTS(SELECT * FROM capitation_definition WHERE capitation_rate_id = @id)
BEGIN
SELECT 'Capitation Definition' AS object_golden_key, capitation_definition_ud AS object_ud
FROM capitation_definition
WHERE capitation_rate_id = @id

RETURN @SP_DELETE_UNABLE
END
ELSE
IF EXISTS(
SELECT * FROM capitation_calculation cc JOIN capitation_rate_assignment cra ON
cc.capitation_rate_assignment_id = cra.capitation_rate_assignment_id
WHERE cra.capitation_rate_id = @id)
BEGIN
SELECT 'Capitation Run' AS object_golden_key, capitation_run_ud AS object_ud
FROM capitation_calculation cc
JOIN capitation_run on cc.capitation_run_id = capitation_run.capitation_run_id
JOIN capitation_rate_assignment cra on cc.capitation_rate_assignment_id = cra.capitation_rate_assignment_id
JOIN capitation_rate on cra.capitation_rate_id = capitation_rate.capitation_rate_id
WHERE cc.capitation_rate_assignment_id = @id

RETURN @SP_DELETE_UNABLE
END
ELSE
BEGIN
RETURN @SP_DELETE_ABLE
END
END
GO
