USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_contact_check_findform_combobox]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
Date: 10/14/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
10/14/2005      Anh Ta		1.0		Create
11/02/2005	Ha Ta		1.1		Update for not joining to contact_name table and change to golden_key instead of ud
11/03/2005     	Anh Ta	     	1.3  		use dbo.plx_ConcatenateName(contact.name_last,contact.name_first,contact.name_middle,NULL) AS contact_nm
11/16/2005 	Anh Ta	    	1.4  		change contact to contact_name to load contact_nm
--
CURRENT_VERSION: 1.1
--
DESCRIPTION:
Reads a single member_contact_association from the contact_association table.
--
REQUIREMENTS:
--
INPUTS:
contact_association_id - Key to contact_association table, identifies a single stored member_contact_association.
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_contact_check_findform_combobox]
@contact_nm nvarchar(150) = null
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @Table_Temp table(contact_id  int, contact_nm  nvarchar(150))

INSERT INTO @Table_Temp (contact_id, contact_nm)
SELECT
contact.contact_id
, dbo.plx_ConcatenateName(contact_name.name_last,contact_name.name_first,contact_name.name_middle,NULL) AS contact_nm
FROM contact
INNER JOIN contact_name  ON contact_name.contact_id = contact.contact_id
INNER JOIN contact_type  ON contact.contact_type_id = contact_type.contact_type_id
WHERE contact_type.golden_key = 'PERSON'
--
UNION
--
SELECT
contact.contact_id
,contact_name.name_last as contact_nm    --contact_name.company_name as contact_nm
FROM contact
INNER JOIN contact_name  ON contact_name.contact_id = contact.contact_id
INNER JOIN contact_type  ON contact.contact_type_id = contact_type.contact_type_id
WHERE contact_type.golden_key = 'COMPANY'

SELECT * FROM @Table_Temp
WHERE contact_nm LIKE @contact_nm


IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
--     RAISERROR('member_contact_association object not found in contact_association for internal key %d.', 16, 1, @contact_association_id)
RETURN @SP_EXCEPTION
END
--
GO
