USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_framework_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
Date: 08/22/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
08/22/2005	huytruong		1.0			create
06/26/2007	John Ourant		1.1			Added benefit plan check. Added more deletes of child rows.
10/21/2008	Vishwa Jella	1.2			added check_delete procedure call
04/16/2009  Casey Cessnun   1.3         Removed reference to benefit_framework_product_line
05/22/2009	Vishwa Jella	1.4			Added benefit_benefit_coverage_exception_rule delete statement
10/21/2009  W.Christensen   1.5         Added delete for UARC child records
09/03/2014  eponomareff             RT:6046 Data modification project
--
DESCRIPTION:
Delete a benefit framework.
Assumes if the framework isn't being used, that its child data isn't being used.
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_framework_delete]
(
@benefit_framework_id                  int = NULL
) AS
begin
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_DELETE NVARCHAR(50)
,@ERROR_NOT_EXIST     NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_CANT_DELETE = '105280012'
,@ERROR_NOT_EXIST   = '105280011'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'

--
IF NOT EXISTS (SELECT * FROM benefit_framework WHERE benefit_framework_id = @benefit_framework_id )
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this client is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_benefit_framework_check_delete @benefit_framework_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

-- Delete child rows and then delete benefit framework row.
-- Assume that if the framework isn't being used, that the child data isn't being used.
DELETE FROM benefit_framework_user_assigned_result_code
WHERE benefit_framework_id = @benefit_framework_id

DELETE FROM benefit_treatment_type_set
WHERE benefit_id in
(SELECT benefit_id FROM benefit
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id))

DELETE FROM benefit_criteria
WHERE benefit_id in
(SELECT benefit_id FROM benefit
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id))

DELETE FROM benefit_coverage_rules
WHERE benefit_id in
(SELECT benefit_id FROM benefit
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id))

DELETE FROM benefit_benefit_coverage_exception_rule
WHERE benefit_id in
(SELECT benefit_id FROM benefit
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id))

DELETE FROM benefit
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id)


DELETE FROM benefit_framework_valid_choice
WHERE benefit_framework_choice_list_id in
(SELECT benefit_framework_choice_list_id
FROM benefit_framework_choice_list
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE (benefit_framework_id = @benefit_framework_id)))

DELETE FROM benefit_framework_choice_list
WHERE benefit_framework_benefit_class_id in
(SELECT benefit_framework_benefit_class_id
FROM benefit_framework_benefit_class
WHERE (benefit_framework_id = @benefit_framework_id))


DELETE FROM benefit_framework_benefit_class
WHERE benefit_framework_id = @benefit_framework_id


DELETE FROM benefit_framework_treatment_type_set
WHERE benefit_framework_id = @benefit_framework_id


DELETE FROM benefit_framework
WHERE benefit_framework_id = @benefit_framework_id



DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)


IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION
END
--
RETURN @SP_SUCCESS
end
GO
