USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_provider_network_level_use_in_benefit_contract]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
02/14/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to get provider network level that's used in a benefit contract
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE     procedure [dbo].[plx_check_provider_network_level_use_in_benefit_contract]
(
@provider_network_ranking_id int = null
) AS
SET NOCOUNT ON

DECLARE
@SP_DELETE_ABLE		INT
,@SP_DELETE_UNABLE	INT
SELECT
@SP_DELETE_ABLE		= 1
,@SP_DELETE_UNABLE	= 0


IF EXISTS
(
SELECT benefit_contract_period_benefit_plan_network_level_ranking.benefit_contract_period_benefit_plan_network_level_ranking_id
FROM benefit_contract_period_benefit_plan_network_level_ranking
WHERE benefit_contract_period_benefit_plan_network_level_ranking.provider_network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
IF EXISTS
(
SELECT payment_contract_assignment.payment_contract_assignment_id
FROM payment_contract_assignment
WHERE payment_contract_assignment.provider_network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
IF EXISTS
(
SELECT benefit_coverage_exception_rule.benefit_coverage_exception_rule_id
FROM benefit_coverage_exception_rule
WHERE benefit_coverage_exception_rule.network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
IF EXISTS
(
SELECT family_eligibility_member_benefit_plan_network.family_eligibility_member_benefit_plan_network_id
FROM family_eligibility_member_benefit_plan_network
WHERE family_eligibility_member_benefit_plan_network.provider_network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
IF EXISTS
(
SELECT financial_responsibility_assignment.financial_responsibility_assignment_id
FROM financial_responsibility_assignment
WHERE financial_responsibility_assignment.network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
IF EXISTS
(
SELECT global_payment_value.global_payment_value_id
FROM global_payment_value
WHERE global_payment_value.network_level_id = @provider_network_ranking_id
)
RETURN @SP_DELETE_UNABLE
ELSE
RETURN @SP_DELETE_ABLE
GO
