USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 08/15/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
02/09/2006      Trinh Le
02/21/2006	Thuy Ha						Remove roll_over_type_id due to DB build change 153
2006/03/08	Thuy Ha						created_date and modified_date using DB Server date
02/20/2008	David Slayton	1.3			Remove columns accumulator_class_id, accumulator_nm, description
episode_category_id, and episode_type_id.
08/18/2014 - RT:6046 Updated created/modified tombstone columns
04/11/2017  Aaron Mortensen 1.5         RT:11124 adding annual rollover options from benefit contract to accumulator rollover
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.5
--
DESCRIPTION:
Save a single accumulator into the accumulator table.
--
REQUIREMENTS:
--
INPUTS:
@accumulator_id - Key to accumulator table, identifies a single accumulator,
@accumulator_ud
@accumulator_rollover_type_id
@unit_day_month_year_id
@rollover_moving_period_number
@active
@created_user_name
@created_group_id
@created_date
@modified_date

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_accumulator_save](
@accumulator_id                        INT           = NULL   OUTPUT
,@accumulator_ud                       NVARCHAR(100) = NULL
,@accumulator_rollover_type_id         INT           = NULL
,@unit_day_month_year_id               INT           = NULL
,@rollover_moving_period_number        INT           = NULL
,@restart_accumulator_month_id        INT           = NULL
,@restart_accumulator_day_of_month	   INT           = NULL
,@restart_accumulator_number_of_months INT           = NULL
,@accumulator_start_date               DATETIME      = NULL
,@active                               BIT           = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
--
IF @accumulator_id IS NULL
BEGIN
--- Create a new record
INSERT INTO accumulator(
accumulator_ud
,accumulator_rollover_type_id
,unit_day_month_year_id
,rollover_moving_period_number
,restart_accumulator_month_id
,restart_accumulator_day_of_month
,restart_accumulator_number_of_months
,accumulator_start_date
,active
)
VALUES(
@accumulator_ud
,@accumulator_rollover_type_id
,@unit_day_month_year_id
,@rollover_moving_period_number
,@restart_accumulator_month_id
,@restart_accumulator_day_of_month
,@restart_accumulator_number_of_months
,@accumulator_start_date
,@active
)
--
SET @accumulator_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT 1 FROM accumulator WHERE accumulator_id = @accumulator_id )
BEGIN
--     RAISERROR('accumulator object not found in accumulator for internal key %d.', 16, 1, @accumulator_id)
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
--- Updating an existing record
UPDATE accumulator
SET
accumulator_ud                         = @accumulator_ud
,accumulator_rollover_type_id          = @accumulator_rollover_type_id
,unit_day_month_year_id                = @unit_day_month_year_id
,rollover_moving_period_number         = @rollover_moving_period_number
,restart_accumulator_month_id         = @restart_accumulator_month_id
,restart_accumulator_day_of_month      = @restart_accumulator_day_of_month
,restart_accumulator_number_of_months  = @restart_accumulator_number_of_months
,accumulator_start_date                = @accumulator_start_date
,active                                = @active
,modified_user_name                    = ORIGINAL_LOGIN()
,modified_date                         = GETDATE()

WHERE accumulator_id = @accumulator_id
END
--
RETURN @SP_SUCCESS
--
GO
