USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_member_and_eligibility_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Copyright (C) 2006-2009 Plexis Healthcare Systems, Inc.  All Rights Reserved.
--
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
08/21/2008	rbevers					Performance improvement for form
03/23/2009	eponomareff		1.3		Add security
05/02/2009	eponomareff		1.4		Add security flag enforcement
05/11/2009	David Slayton	1.5		Added ability to short circuit where clause to just return column names.
02/23/2010	Vishwa			1.6		Removed phone_number field no longer fpart of result set data
08/30/2012	PAndersen		1.7		SP # 3730 Added GROUP BY to query to eliminate duplicate results
04/24/2015  LHendrix        1.8     Maintainability: Removed Group by, added select distinct and reduced number attributes in the order by clause
01/17/2016	bsargent		1.9		Indentation, readability and performance refactor.
03/02/2017  jbernard		2.0		SP11613: Added the member_id, name_first and name_last back into the result set.
--
DESCRIPTION:
Finds eligibilities based on the given criteria. Loads Find Enrollment forms
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/


CREATE procedure [dbo].[plx_find_member_and_eligibility_load]
(
@get_column_headers								bit = 0,
@name_last                                     nvarchar(50) = null,
@name_first                                    nvarchar(50) = null,
@name_middle                                   nvarchar(50) = null,
@member_pid                                    nvarchar(50) = null,
@family_eligibility_ud                         nvarchar(100) = null,
@member_eligibility_ud                         nvarchar(160) = null,
@client_id                                     int = null,
@client_group_id                               int = null,
@benefit_contract_id                           int = null,
@benefit_category_id                           int = null,
@benefit_plan_id                               int = null,
@member_personal_id_value                      nvarchar(50) = null,
@personal_id_type_id                           int = null,
@birth_date                                    datetime = null,
@eligbible_from                                datetime = null,
@eligbible_thru                                datetime = null,

-- additional criteria tab
@claims_entered_within_last_#_of_days          int = null,
@referrals_entered_within_last_#_of_days       int = null,
@authorizations_entered_within_last_#_of_days  int = null,
@vendor_id                                     int = null,
@customer_id                                   int = null,
@episode_id                                    int = null,
@family_topic_id                               int = null,
@family_topic_value                            nvarchar(50) = null,
@member_email                                  nvarchar(255) = null,
@member_topic_id                               int = null,
@member_topic_value                            nvarchar(50) = null,
@show_subscribers_only                         bit = 0,
@individual_eligibility_topic_id               int = null,
@individual_eligibility_topic_value            nvarchar(50) = null,

-- hidden value
--TODO: Refactor, this parm is unused
@relationship_to_insured                       nvarchar(50) = null,

@search_in_alias                               bit = 0,
@show_currently_effective_plan_only            bit = 0,
@show_primary_plan_only                        bit = 0,
@show_exact_matches                            bit = 0

--security
,@security_credential                          nvarchar(255) =  null
,@active_directory_security_user_roles udtt_security_roles readonly

) as
BEGIN
--
-- Transact-SQL Settings
--
set nocount on

--
-- External Interface
--
declare	@select nvarchar(4000) = '',
@order_by nvarchar(4000) = ''

set @select = '
SELECT DISTINCT TOP (dbo.fn_results_limit())
fe.family_eligibility_id
,fem.person_code
,member.member_id
,name.member_name_id
,name.name_last
,name.name_first
,dbo.plx_ConcatenateName(name.name_last, name.name_first, name.name_middle, NULL) AS member_name
,pid.id_value
,eligibility.member_eligibility_ud
,eligibility.family_eligibility_member_benefit_plan_id
,fe.family_eligibility_ud
,bcon.benefit_contract_ud
,bcat.benefit_category_ud
,member.birth_date
,eligibility_level_ud
,eligibility.effective_from
,eligibility.effective_thru';

set @order_by = N'ORDER BY dbo.plx_ConcatenateName(name.name_last, name.name_first, name.name_middle, NULL),pid.id_value,member.birth_date,fe.family_eligibility_ud,eligibility.member_eligibility_ud,bcon.benefit_contract_ud,bcat.benefit_category_ud,eligibility_level_ud,eligibility.effective_from,eligibility.effective_thru'

--
-- Internal Implementation
--
declare	@from nvarchar(4000),
@join nvarchar(4000) = '',
@where nvarchar(4000) = ' WHERE 1=1';

-----------------------------------
-- Minimum join needed to get result set
-----------------------------------
set @from = N'
FROM dbo.member
LEFT JOIN	dbo.member_name AS name	ON member.member_id = name.member_id  AND name.is_primary = 1
LEFT JOIN	(
dbo.member_personal_id AS pid
JOIN dbo.member_id_type AS pid_type ON	pid_type.member_id_type_id = pid.member_id_type_id  AND pid_type.golden_key = ''PID''
) ON	member.member_id = pid.member_id
LEFT JOIN	dbo.family_eligibility_member	AS fem		ON	fem.member_id = member.member_id
LEFT JOIN	dbo.family_eligibility			AS fe		ON	fe.family_eligibility_id = fem.family_eligibility_id
LEFT JOIN	dbo.benefit_contract  			AS bcon		ON	bcon.benefit_contract_id = fe.benefit_contract_id
LEFT JOIN	dbo.family_eligibility_member_benefit_plan AS eligibility	ON	eligibility.family_eligibility_member_id = fem.family_eligibility_member_id
LEFT JOIN	dbo.eligibility_level			AS el		ON	el.eligibility_level_id = eligibility.eligibility_level_id
LEFT JOIN	dbo.benefit_plan				AS bp		ON	eligibility.benefit_plan_id = bp.benefit_plan_id
LEFT JOIN	dbo.benefit_framework			AS bf		ON	bf.benefit_framework_id = bp.benefit_framework_id
LEFT JOIN	dbo.benefit_category			AS	bcat	ON	bcat.benefit_category_id = bf.benefit_category_id'

-----------------------------------
-- If only columns are requested execute resultsset with a simple no-op predicate and exit, bypassing complex logic
-----------------------------------
IF @get_column_headers = 1
BEGIN
-- PRINT 'Columns Only'

DECLARE @sqlColumnsOnly NVARCHAR(4000) =  @select + CHAR(13) + @from + CHAR(13) + ' WHERE 1=0';
EXEC SP_EXECUTESQL @sqlColumnsOnly

RETURN 0
END

-----------------------------------
--Security - Data Security addition
-----------------------------------
--determine whether security is invoked -  if no security_credential is passed, security is not invoked
IF ISNULL(@security_credential, '') <> ''
BEGIN
--determine whether this user has any role which are not restricted by security
IF dbo.plx_fn_security_user_is_data_restricted(@security_credential, 'MEMBER', @active_directory_security_user_roles) = 1
BEGIN
--ensure benefit contracts associated with eligibilities are allowed, assuming all episodes must have elig, which must have bc associated.
--TODO if security flag is invoked, connect via members via family_eligibilty_member table, will need an additional join on same table
SET @from +=
N' INNER JOIN dbo.plx_fn_security_allowed_benefit_contracts(''' + @security_credential + ''' , @active_directory_security_user_roles) AS abc ON abc.benefit_contract_id = bcon.benefit_contract_id'

--add to the @where clause for disallowed eligibilities due to security flag
SET @where = @where + N' AND NOT EXISTS('
+ N' SELECT * FROM dbo.plx_fn_security_disallowed_family_eligibilities_this_user(''' + @security_credential + ''' , @active_directory_security_user_roles) as dafe'
+ N' WHERE dafe.family_eligibility_id = fe.family_eligibility_id )'

END
END
--------------
--end security
--------------

--TODO: In constructing this WHERE clause, nothing ensures that we don't run over the
--	max length of the variable

--TODO: Lots of these joins and subqueries do not utilize effective date ranges, should they?

if isnull(@search_in_alias, 0) <> 0
begin
-- Search for any matching name
SET @join += N' JOIN member_name as mn ON mn.member_id = member.member_id'

EXEC dbo.plx_AddStringSearchParameterized @column_name='mn.name_last', @variable_name='@name_last', @variable_value=@name_last OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='mn.name_first', @variable_name='@name_first', @variable_value=@name_first OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='mn.name_middle', @variable_name='@name_middle', @variable_value=@name_middle OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
end
else
begin
-- Search only the view, which has the primary name
EXEC dbo.plx_AddStringSearchParameterized @column_name='name_last', @variable_name='@name_last', @variable_value=@name_last OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='name_first', @variable_name='@name_first', @variable_value=@name_first OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='name_middle', @variable_name='@name_middle', @variable_value=@name_middle OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
end

EXEC dbo.plx_AddStringSearchParameterized @column_name='pid.id_value', @variable_name='@member_pid', @variable_value=@member_pid OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='fe.family_eligibility_ud', @variable_name='@family_eligibility_ud', @variable_value=@family_eligibility_ud OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
EXEC dbo.plx_AddStringSearchParameterized @column_name='eligibility.member_eligibility_ud', @variable_name='@member_eligibility_ud', @variable_value=@member_eligibility_ud OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches

IF (@client_id IS NOT NULL) OR (@client_group_id IS NOT NULL)
SET @join += N' LEFT JOIN	dbo.client_group ON	bcon.client_group_id = client_group.client_group_id'
IF (@client_id IS NOT NULL)
SET @where += N' and client_group.client_id=@client_id';
IF (@client_group_id IS NOT NULL)
SET @where += N' and client_group.client_group_id=@client_group_id';

IF (@benefit_contract_id IS NOT NULL) SET @where += N' and bcon.benefit_contract_id=@benefit_contract_id';
IF (@benefit_category_id IS NOT NULL) SET @where += N' and bcat.benefit_category_id=@benefit_category_id';
IF (@benefit_plan_id IS NOT NULL)     SET @where += N' and bp.benefit_plan_id=@benefit_plan_id';

if @member_personal_id_value is not null
begin
SET @join += N' JOIN member_personal_id as mid ON mid.member_id = member.member_id';

EXEC dbo.plx_AddStringSearchParameterized @column_name='mid.id_value', @variable_name='@member_personal_id_value', @variable_value=@member_personal_id_value OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
IF (@member_personal_id_value IS NOT NULL) SET @where += N' and mid.member_id_type_id=@personal_id_type_id';
end

-- birth_date column must be date only with time set to '00:00:00.000'
-- note using date function on birth_date column to allow index to be used
IF (@birth_date IS NOT NULL) SET @where += N' and birth_date=CAST(@birth_date AS DATE)'

-- TODO: does it make sense to do an exact match on eligibility from/thru?
if isnull(@show_exact_matches, 0) <> 0
begin
IF (@eligbible_from IS NOT NULL) SET @where += N' and eligibility.effective_from = CAST(@eligibility_from AS DATE)'
IF (@eligbible_thru IS NOT NULL)SET @where += N' and eligibility.effective_thru = CAST(@eligibility_thru AS DATE)'
end
else
begin
IF (@eligbible_from IS NOT NULL) SET @where += N' and eligibility.effective_from >= CAST(@eligibility_from AS DATE)'
IF (@eligbible_thru IS NOT NULL) SET @where += N' and eligibility.effective_thru <= CAST(@eligibility_thru AS DATE)'
end

if @claims_entered_within_last_#_of_days is not null
begin
set @join = @join + N' JOIN claim as C ON c.family_eligibility_member_benefit_plan_id = eligibility.family_eligibility_member_benefit_plan_id'

SET @where += N' and c.created_date >= dateadd(day, -@claims_entered_within_last_#_of_days, cast(getdate() as date))';
end

if @referrals_entered_within_last_#_of_days is not null
begin
set @join += N' JOIN referral as r on r.family_eligibility_member_benefit_plan_id = eligibility.family_eligibility_member_benefit_plan_id';
set @join += N' join referral_form_type as rft on r.referral_form_type_id = rft.referral_form_type_id';

set @where += N' and rft.golden_key = ''Referral''';
set @where += N' and r.created_date >= dateadd(day, -@referrals_entered_within_last_#_of_days, cast(getdate() as date))';
end

if @authorizations_entered_within_last_#_of_days is not null
begin
set @join += N' JOIN referral as ar on ar.family_eligibility_member_benefit_plan_id = eligibility.family_eligibility_member_benefit_plan_id';
set @join += N' join referral_form_type as arft on ar.referral_form_type_id = arft.referral_form_type_id';

set @where += N' and arft.golden_key = ''Authorization''';

SET @where += N' and ar.created_date >= dateadd(day, -@authorizations_entered_within_last_#_of_days, cast(getdate() as date))';
end

if @vendor_id is not null
begin

SET @join += N' LEFT JOIN family_eligibility_vendor as fev ON fev.family_eligibility_id = fe.family_eligibility_id'

SET @where += N' AND ((fev.vendor_id=@vendor_id) OR (isnull(eligibility.use_family_vendor, 0) = 0 and eligibility.vendor_id=@vendor_id))'
end

if @customer_id is not null
begin
SET @join += N' LEFT JOIN family_eligibility_customer as fec ON fec.family_eligibility_id = fe.family_eligibility_id'

SET @where += N' AND (fec.customer_id=@customer_id OR (isnull(eligibility.use_family_customer, 0) = 0 AND eligibility.customer_id=@customer_id))'
end

if @episode_id is not null
begin
SET @join += N' JOIN episode as e ON e.family_eligibility_member_benefit_plan_id = eligibility.family_eligibility_member_benefit_plan_id';

SET @where += N' and e.episode_id=@episode_id';
end

if @family_topic_id is not null
begin
SET @join += N' JOIN family_eligibility_additional_information as feai ON feai.family_eligibility_id = fe.family_eligibility_id'
SET @join += N' left join additional_information_topic_value as aiv on feai.additional_information_selection_value = cast(aiv.additional_information_topic_value_id as nvarchar)';

SET @where += N' and feai.additional_information_topic_id=@family_topic_id'
EXEC dbo.plx_AddStringSearchParameterized @column_name='coalesce(feai.additional_information_value,aiv.additional_information_topic_value_ud,'''')', @variable_name='@family_topic_value', @variable_value=@family_topic_value OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
end

if @member_email is not null
begin
SET @join +=  N' JOIN member_internet_address as ia ON ia.member_id = member.member_id';
SET @join += N' JOIN internet_address_type as iat ON ia.internet_address_type_id = iat.internet_address_type_id';

SET @where += N' and iat.golden_key = ''E-Mail''';
EXEC dbo.plx_AddStringSearchParameterized @column_name='ia.internet_address', @variable_name='@member_email', @variable_value=@member_email OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches;
end

if @member_topic_id is not null
begin
--TODO: This join looks wonky.
--	I made it safer by casting the int to nvarchar instead of vice versa.
--	But it still looks wonky.
SET @join += N' JOIN member_additional_information as mai ON mai.member_id = member.member_id'
SET @join += N' LEFT JOIN additional_information_topic_value as maiv ON mai.additional_information_selection_value = cast(maiv.additional_information_topic_value_id as nvarchar)'

SET @where += N' and mai.additional_information_topic_id=@member_topic_id'
EXEC dbo.plx_AddStringSearchParameterized @column_name='coalesce(mai.additional_information_value,maiv.additional_information_topic_value_ud,mai.additional_information_selection_value,'''')', @variable_name='@member_topic_value', @variable_value=@member_topic_value OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
end

if @individual_eligibility_topic_id is not null
begin
--TODO: This join looks wonky.
--	I made it safer by casting the int to nvarchar instead of vice versa.
--	But it still looks wonky.
SET @join += N' JOIN family_eligibility_member_benefit_plan_additional_information as fembpai ON  fembpai.family_eligibility_member_benefit_plan_id = eligibility.family_eligibility_member_benefit_plan_id'
SET @join += N' LEFT JOIN additional_information_topic_value as elig_aiv ON fembpai.additional_information_selection_value = cast(elig_aiv.additional_information_topic_value_id as nvarchar)'

SET @where += N' and fembpai.additional_information_topic_id=@individual_eligibility_topic_id'
EXEC dbo.plx_AddStringSearchParameterized @column_name='coalesce(fembpai.additional_information_value,elig_aiv.additional_information_topic_value_ud,'''')', @variable_name='@individual_eligibility_topic_value', @variable_value=@individual_eligibility_topic_value OUTPUT, @where=@where OUTPUT, @show_exact_matches=@show_exact_matches
end

if @show_subscribers_only <> 0
BEGIN
SET @join += N' JOIN dbo.family_eligibility_member AS subscriber ON subscriber.family_eligibility_id = fe.family_eligibility_id'
SET @join += N'	JOIN	dbo.relationship_to_insured AS subscriber_relationship	ON	subscriber.relationship_to_insured_id = subscriber_relationship.relationship_to_insured_id'

SET @where += N' AND subscriber_relationship.golden_key IN (''SELF'',''GUARANTOR'')'
SET @where += N' AND member.member_id = subscriber.member_id'
END

if @show_currently_effective_plan_only <> 0
BEGIN
SET @WHERE +=	N' AND ISNULL(eligibility.effective_from,CAST(GETDATE() AS DATE)) <= CAST(GETDATE() AS DATE)'
SET @WHERE +=	N' AND ISNULL(eligibility.effective_thru, CAST(GETDATE() AS DATE)) >= CAST(GETDATE() AS DATE)'
END

if @show_primary_plan_only <> 0
BEGIN
SET	@where += N' AND el.golden_key = ''Primary'''
END

--------------
-- Results
--------------
declare @sql nvarchar(max) =
@select + CHAR(13)
+ @from + CHAR(13)
+ @join + CHAR(13)
+ @where + CHAR(13)
+ @order_by;

-- print @sql

exec sp_executesql @sql,
N'@name_last                                     nvarchar(50),
@name_first                                    nvarchar(50),
@name_middle                                   nvarchar(50),
@member_pid                                    nvarchar(50),
@family_eligibility_ud                         nvarchar(100),
@member_eligibility_ud                         nvarchar(160),
@client_id                                     int,
@client_group_id                               int,
@benefit_contract_id                           int,
@benefit_category_id                           int,
@benefit_plan_id                               int,
@member_personal_id_value                      nvarchar(50),
@personal_id_type_id                           int,
@birth_date                                    datetime,
@eligibility_from                              datetime,
@eligibility_thru                              datetime,
@claims_entered_within_last_#_of_days          int,
@referrals_entered_within_last_#_of_days       int,
@authorizations_entered_within_last_#_of_days  int,
@vendor_id                                     int,
@customer_id                                   int,
@episode_id                                    int,
@family_topic_id                               int,
@family_topic_value                            nvarchar(50),
@member_email                                  nvarchar(255),
@member_topic_id                               int,
@member_topic_value                            nvarchar(50),
@show_subscribers_only                         bit,
@individual_eligibility_topic_id               int,
@individual_eligibility_topic_value            nvarchar(50),
@active_directory_security_user_roles udtt_security_roles readonly',
--------------- parameter list
@name_last,
@name_first,
@name_middle,
@member_pid,
@family_eligibility_ud,
@member_eligibility_ud,
@client_id,
@client_group_id,
@benefit_contract_id,
@benefit_category_id,
@benefit_plan_id,
@member_personal_id_value,
@personal_id_type_id,
@birth_date,
@eligbible_from,
@eligbible_thru,
@claims_entered_within_last_#_of_days,
@referrals_entered_within_last_#_of_days,
@authorizations_entered_within_last_#_of_days,
@vendor_id,
@customer_id,
@episode_id,
@family_topic_id,
@family_topic_value,
@member_email,
@member_topic_id,
@member_topic_value,
@show_subscribers_only,
@individual_eligibility_topic_id,
@individual_eligibility_topic_value,
@active_directory_security_user_roles
return 0
END
GO
