USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_additional_information_topic_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Nam Ho
Feb 17 2005  5:30PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By		Version	Description
--------------------------------------------------------------------------------
11/17/2005	Lamnguyen  		1.0	    created
05/12/2009	David Slayton	1.2		Added ability to short circuit where clause to just return column names.
11/16/2011	ggutshall		1.3		Added returnset limitations
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.3
--
DESCRIPTION:
This Sps is used to find additional_information_topic
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/

CREATE        procedure [dbo].[plx_find_additional_information_topic_load]
(
@get_column_headers		BIT = 0
,@additional_information_topic_ud	nvarchar(50) = NULL
,@description				nvarchar(100) = NULL
,@additional_information_data_type_id	int=null
,@additional_information_form_id	int=null
,@show_exact_only			bit = 1
) as
begin
declare
@sqlString nvarchar(4000),
@Prefix		NVARCHAR(10),
@Suffix		NVARCHAR(10)

IF (@show_exact_only = 1)
BEGIN
SET @prefix = '= N'''
SET @suffix = ''')'
END
ELSE
BEGIN
SET @prefix = ' LIKE N'''
SET @suffix = '%'')'
END

set @sqlString = 'SELECT  distinct TOP (dbo.fn_results_limit())
tp.additional_information_topic_id
,tp.additional_information_topic_ud
,tp.[description]
--//Nam Ho : added 9/27/2006 : Additional Information grid
,tp.additional_information_data_type_id
,tp.default_value
,tp.default_value AS ''raw_default_value''
,tp.format_string
,tp.user_can_add_data
,ui_engine_data_type.ui_engine_data_type_id
,ui_engine_data_type.ui_engine_data_type_ud
,ui_engine_data_type.data_type_name
--\\Nam Ho
FROM	additional_information_topic tp
left outer join additional_information_data_type  ON additional_information_data_type.additional_information_data_type_id = tp.additional_information_data_type_id
left outer join ui_engine_data_type ON ui_engine_data_type.ui_engine_data_type_id=additional_information_data_type.ui_engine_data_type_id
left outer join additional_information  ON additional_information.additional_information_topic_id = tp.additional_information_topic_id
left outer join additional_information_form  ON additional_information_form.additional_information_form_id = additional_information.additional_information_form_id
left outer join ui_engine_form  ON additional_information_form.golden_key = ui_engine_form.name
--	left outer join additional_information_topic_value ON additional_information_topic.additional_information_topic_id=additional_information_topic_value.additional_information_topic_id
WHERE ' + CONVERT(NVARCHAR(1), @get_column_headers) + ' = 0 '

if (@additional_information_topic_ud is not null) and (@additional_information_topic_ud <> '')
begin
set @sqlString = @sqlString + ' AND ( ISNULL(tp.additional_information_topic_ud, '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@additional_information_topic_ud,@show_exact_only) + @suffix
end

if (@description is not null) and (@description <> '')
begin
set @sqlString = @sqlString + ' AND (ISNULL(tp.[description], '''') ' + @prefix + dbo.plx_EncodeStringWildCard(@description, @show_exact_only) + @suffix
end


IF (NOT @additional_information_data_type_id IS NULL) and (@additional_information_data_type_id>0)
begin
set @sqlString = @sqlString + ' AND (tp.additional_information_data_type_id = ' + CONVERT(NVARCHAR(10), @additional_information_data_type_id) + ') '
end

IF (NOT @additional_information_form_id IS NULL) and (@additional_information_form_id>0)
begin
set @sqlString = @sqlString + ' AND (additional_information.additional_information_form_id = ' + CONVERT(NVARCHAR(10), @additional_information_form_id) + ') '
end

set @sqlString = @sqlString + ' ORDER BY tp.additional_information_topic_ud'
--	print @sqlString
exec(@sqlString)
end
GO
