USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_schedule_delete]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: FCGNET\ata
Feb 10 2006 10:16AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/10	Anh Ta		1.0			Created and used for ICU#15894 Payment Contract
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete frmPaymentContractCodeDepreciationSchedule object.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - - Cascade this deletion to all child records?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_schedule_delete]

(
@code_depreciation_schedule_id              int = NULL   OUTPUT
) AS
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST   = '159840044',
@ERROR_CANT_DELETE = '159840045'
--
IF NOT EXISTS (SELECT * FROM code_depreciation_schedule WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN
DELETE FROM code_depreciation_information
WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
DELETE FROM code_depreciation_schedule
WHERE code_depreciation_schedule_id = @code_depreciation_schedule_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)
END
END
--
RETURN @SP_SUCCESS
--
GO
