USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_payment_run_amount_load_orig]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/30/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/30/2008	David Slayton	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:Load data for grid grdClaimPaymentInformation on form frmClaimPaymentRun
--
REQUIREMENTS:
--
INPUTS:
@claim_payment_run_id
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_claim_payment_run_amount_load_orig] (
@claim_payment_run_id INT = NULL
)
AS
--
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT,
@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0,
@SP_EXCEPTION = - 1

SELECT 0 AS release,
v.vendor_id,
v.vendor_ud,
v.vendor_nm,
COUNT(DISTINCT c.claim_id) AS number_of_claims_per_vendor,
SUM(cpra.amount) AS amount_per_vendor,
dbo.plx_fn_vendor_balance_claims_payment(v.vendor_id) AS vendor_balance
FROM dbo.claim_payment_run_amount cpra
LEFT JOIN dbo.vendor v
ON cpra.vendor_id = v.vendor_id
LEFT JOIN dbo.claim_procedure cp
ON cpra.claim_procedure_id = cp.claim_procedure_id
INNER JOIN dbo.claim c
ON cpra.claim_id = c.claim_id
OR cp.claim_id = c.claim_id
WHERE cpra.claim_payment_run_id = @claim_payment_run_id
GROUP BY v.vendor_ud,
v.vendor_nm,
v.vendor_id

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
