USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
FORM: Benefit Contract Advanced Plan Setup [frmBenefitContractAdvancedPlanSetup]
PURPOSE: Saves or updates a benefit contract period benefit plan underwriting rule.
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_save]
(
@benefit_contract_period_benefit_plan_underwriting_rule_id	int = NULL   OUTPUT
,@benefit_contract_period_benefit_plan_id	int = NULL
,@underwriting_rule_id			int = NULL
,@effective_from				datetime = NULL
,@effective_thru				datetime = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_UPDATE 	= ''
--
IF @benefit_contract_period_benefit_plan_underwriting_rule_id is Null
BEGIN
--- Create a new benefit_contract_period_benefit_plan_underwriting_rule record
INSERT INTO benefit_contract_period_benefit_plan_underwriting_rule(
benefit_contract_period_benefit_plan_id
,underwriting_rule_id
,effective_from
,effective_thru
)
VALUES
(@benefit_contract_period_benefit_plan_id
,@underwriting_rule_id
,@effective_from
,@effective_thru
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END

SET @benefit_contract_period_benefit_plan_underwriting_rule_id = @@IDENTITY
END

ELSE IF NOT EXISTS (SELECT * FROM dbo.benefit_contract_period_benefit_plan_underwriting_rule WHERE benefit_contract_period_benefit_plan_underwriting_rule_id = @benefit_contract_period_benefit_plan_underwriting_rule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing benefit_contract_period_benefit_plan_underwriting_rule record
UPDATE dbo.benefit_contract_period_benefit_plan_underwriting_rule
SET
benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
,underwriting_rule_id                    = @underwriting_rule_id
,effective_from                          = @effective_from
,effective_thru                          = @effective_thru
,modified_user_name                      = ORIGINAL_LOGIN()
,modified_date                           = GETDATE()

WHERE benefit_contract_period_benefit_plan_underwriting_rule_id = @benefit_contract_period_benefit_plan_underwriting_rule_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
--
GO
