USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_cob_member_commercial_health_plan_contact_backup]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[bind_sp_cob_member_commercial_health_plan_contact_backup]
as
begin
--exec dbo.bind_sp_cob_member_commercial_health_plan_contact_backup
with cte_update as ( 
 SELECT [cob_member_commercial_health_plan_contact_id]
      ,[cob_member_commercial_health_plan_id]
      ,[contact_id]
      ,[contact_association_type_id]
      ,[is_primary]
      ,[effective_from]
      ,[effective_thru]
      ,[active]
      ,[created_user_name]
      ,[created_group_id]
      ,[created_date]
      ,[modified_date]
      ,[modified_user_name]
  FROM [qc_core].[dbo].[cob_member_commercial_health_plan_contact]
where created_date >= '2025-01-01 00:00:00.000' --limit to 1 year
)--select * From cte_update

 merge into import.dbo.cob_member_commercial_health_plan_contact_CAQH_BK as T
    using cte_update as S
        on T.cob_member_commercial_health_plan_contact_id = S.cob_member_commercial_health_plan_contact_id
    when not matched then
        insert (
                [cob_member_commercial_health_plan_contact_id]
              ,[cob_member_commercial_health_plan_id]
              ,[contact_id]
              ,[contact_association_type_id]
              ,[is_primary]
              ,[effective_from]
              ,[effective_thru]
              ,[active]
              ,[created_user_name]
              ,[created_group_id]
              ,[created_date]
              ,[modified_date]
              ,[modified_user_name]
              )
        Values (
                S.[cob_member_commercial_health_plan_contact_id]
              ,S.[cob_member_commercial_health_plan_id]
              ,S.[contact_id]
              ,S.[contact_association_type_id]
              ,S.[is_primary]
              ,S.[effective_from]
              ,S.[effective_thru]
              ,S.[active]
              ,S.[created_user_name]
              ,S.[created_group_id]
              ,S.[created_date]
              ,S.[modified_date]
              ,S.[modified_user_name]
              )
        when matched then
            update set
                T.[cob_member_commercial_health_plan_contact_id] = S.[cob_member_commercial_health_plan_contact_id],
                T.[cob_member_commercial_health_plan_id] = S.[cob_member_commercial_health_plan_id],
                T.[contact_id] = S.[contact_id],
                T.[contact_association_type_id] = S.[contact_association_type_id],
                T.[is_primary] = S.[is_primary],
                T.[effective_from] = S.[effective_from],
                T.[effective_thru] = S.[effective_thru],
                T.[active] = S.[active],
                T.[created_user_name] = S.[created_user_name],
                T.[created_group_id] = S.[created_group_id],
                T.[created_date] = S.[created_date],
                T.[modified_date] = S.[modified_date],
                T.[modified_user_name] = S.[modified_user_name]
            ;
end
GO
