USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_choice_matrix_weighting_by_benefit_plan_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/10/2006	Hiep Nguyen	1.0		Created
09/11/2006	Hiep Nguyen	1.1		Added some sql clauses
10/03/2006	Hiep Nguyen	1.2		Marked covered_benefit, referral_required and authorization_required
08/20/2013	AMortensen	1.3		RT:4730 Updated Coinsurance to correctly formatted
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Select fields from the benefit_choice_matrix_weighting table.
This stored procedure is used in the Benefit Choice Matrix Weighting grid of Benefit Contract Advance Plan Setup
and Benefit Contract Template Advance Plan Setup

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_benefit_choice_matrix_weighting_by_benefit_plan_load]
(
@benefit_contract_period_benefit_plan_id   INT
)AS


DECLARE
@sql_co_payment NVARCHAR(4000),
@sql_coinsurance NVARCHAR(4000),
@sql_authorization_required NVARCHAR(4000),
@sql_covered_benefit NVARCHAR(4000),
@sql_maxinum_out_of_pocket_1 NVARCHAR(4000),
@sql_maxinum_out_of_pocket_2 NVARCHAR(4000),
@sql_deductible_1 NVARCHAR(4000),
@sql_deductible_2 NVARCHAR(4000),
@sql_maximum_payments_1 NVARCHAR(4000),
@sql_maximum_payments_2 NVARCHAR(4000),
@sql_maximum_units_1 NVARCHAR(4000),
@sql_maximum_units_2 NVARCHAR(4000),
@sql_maximum_visits_1 NVARCHAR(4000),
@sql_maximum_visits_2 NVARCHAR(4000),
@sql_referral_required NVARCHAR(4000),
@sql_select NVARCHAR (4000),
@sql_select_template NVARCHAR (4000),
@benefit_plan_id INT
SELECT
@sql_co_payment = '',
@sql_coinsurance = '',
@sql_authorization_required = '',
@sql_covered_benefit = '',
@sql_maxinum_out_of_pocket_1 = '',
@sql_maxinum_out_of_pocket_2 = '',
@sql_deductible_1 = '',
@sql_deductible_2 = '',
@sql_maximum_payments_1 = '',
@sql_maximum_payments_2 = '',
@sql_maximum_units_1 = '',
@sql_maximum_units_2 = '',
@sql_maximum_visits_1 = '',
@sql_maximum_visits_2 = '',
@sql_referral_required = '',
@sql_select = '',
@sql_select_template = ''

SELECT @benefit_plan_id = benefit_plan_id
FROM benefit_contract_period_benefit_plan
WHERE benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id

--- Copayment
IF (dbo.plx_fn_get_num_of_benefit_framework_valid_choice(@benefit_plan_id, 'copayment') > 0)
BEGIN
SET @sql_select = @sql_select + ' , co_payment.valid_choice as copayment'
SET @sql_select_template = @sql_select_template + ', copayment, copayment as copayment_template '

SET @sql_co_payment =
' (SELECT DISTINCT benefit_framework_valid_choice.valid_choice
, benefit_framework_valid_choice.benefit_framework_valid_choice_id
FROM benefit_plan_benefit_class_choice_resolution
INNER JOIN benefit_framework_valid_choice
ON (benefit_framework_valid_choice.benefit_framework_valid_choice_id = benefit_plan_benefit_class_choice_resolution.benefit_framework_valid_choice_id)
INNER JOIN benefit_framework_choice_list
ON (benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_framework_valid_choice.benefit_framework_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = benefit_framework_choice_list.resolve_choice_list_at_id
INNER JOIN benefit_framework_benefit_class
ON (benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit_framework_choice_list.benefit_framework_benefit_class_id)
INNER JOIN benefit_class
ON (benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id)
AND (lower(benefit_class.golden_key) = ''copayment'')
WHERE benefit_plan_benefit_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) AS co_payment, '
END


--- Coinsurance
IF (dbo.plx_fn_get_num_of_benefit_framework_valid_choice(@benefit_plan_id, 'coinsurance') > 0)
BEGIN
SET @sql_select = @sql_select + ' , coinsurance.valid_choice as coinsurance '
SET @sql_select_template = @sql_select_template + ', coinsurance, coinsurance as coinsurance_template '

SET @sql_coinsurance =
' (SELECT DISTINCT CAST((CAST(benefit_framework_valid_choice.valid_choice AS numeric(19,4)) * 100.0) AS VARCHAR) as valid_choice
, benefit_framework_valid_choice.benefit_framework_valid_choice_id
FROM benefit_plan_benefit_class_choice_resolution
INNER JOIN benefit_framework_valid_choice
ON (benefit_framework_valid_choice.benefit_framework_valid_choice_id = benefit_plan_benefit_class_choice_resolution.benefit_framework_valid_choice_id)
INNER JOIN benefit_framework_choice_list
ON (benefit_framework_choice_list.benefit_framework_choice_list_id = benefit_framework_valid_choice.benefit_framework_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = benefit_framework_choice_list.resolve_choice_list_at_id
INNER JOIN benefit_framework_benefit_class
ON (benefit_framework_benefit_class.benefit_framework_benefit_class_id = benefit_framework_choice_list.benefit_framework_benefit_class_id)
INNER JOIN benefit_class
ON (benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id)
AND (lower(benefit_class.golden_key) = ''coinsurance'')
WHERE benefit_plan_benefit_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) AS coinsurance, '
END

-- Maximum Out Of Pocket
IF (dbo.plx_fn_get_num_of_accumulator_framework_valid_choice(@benefit_plan_id, 'maximum out of pocket') > 0)
BEGIN
SET @sql_select = @sql_select + ' , maxinum_out_of_pocket.valid_choice as maximum_out_of_pocket'
SET @sql_select_template = @sql_select_template + ', maximum_out_of_pocket, maximum_out_of_pocket as maximum_out_of_pocket_template '

SET @sql_maxinum_out_of_pocket_1 =
' (
(SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum out of pocket'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) UNION '
SET @sql_maxinum_out_of_pocket_2 =
'  (SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum out of pocket'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id) +
' )) AS maxinum_out_of_pocket,'
END

--- Deductible
IF (dbo.plx_fn_get_num_of_accumulator_framework_valid_choice(@benefit_plan_id, 'deductible') > 0)
BEGIN
SET @sql_select = @sql_select + ' , deductible.valid_choice as deductible'
SET @sql_select_template = @sql_select_template + ', deductible, deductible as deductible_template '

SET @sql_deductible_1 =
' (
(SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''deductible'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) UNION '
SET @sql_deductible_2 =
' (SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''deductible'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id) +
' )) AS deductible,'
END

-- Maxinum Payments
IF (dbo.plx_fn_get_num_of_accumulator_framework_valid_choice(@benefit_plan_id, 'maximum payments') > 0)
BEGIN
SET @sql_select = @sql_select + ' , maximum_payments.valid_choice as maximum_payments'
SET @sql_select_template = @sql_select_template + ', maximum_payments, maximum_payments as maximum_payments_template '

SET @sql_maximum_payments_1 =
' (
(SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum payments'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) UNION '
SET @sql_maximum_payments_2 =
'  (SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum payments'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id) +
' )) AS maximum_payments,'
END

--- Maximum Units
IF (dbo.plx_fn_get_num_of_accumulator_framework_valid_choice(@benefit_plan_id, 'maximum units') > 0)
BEGIN
SET @sql_select = @sql_select + ' , maximum_units.valid_choice as maximum_units'
SET @sql_select_template = @sql_select_template + ', maximum_units, maximum_units as maximum_units_template '

SET @sql_maximum_units_1 =
' (
(SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum units'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) UNION '
SET @sql_maximum_units_2 =
' (SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum units'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id) +
' )) AS maximum_units,'
END

--- Maximum Visits
IF (dbo.plx_fn_get_num_of_accumulator_framework_valid_choice(@benefit_plan_id, 'maximum visits') > 0)
BEGIN
SET @sql_select = @sql_select + ' , maximum_visits.valid_choice as maximum_visits'
SET @sql_select_template = @sql_select_template + ', maximum_visits, maximum_visits as maximum_visits_template '

SET @sql_maximum_visits_1 =
' (
(SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum visits'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id =' +  CONVERT(NVARCHAR, @benefit_plan_id) +
' ) UNION '
SET @sql_maximum_visits_2 =
' (SELECT DISTINCT accumulator_valid_choice.valid_choice
, benefit_plan_accumulator_class_choice_resolution.family_accumulator_valid_choice_id
, benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id
FROM benefit_plan_accumulator_class_choice_resolution
LEFT JOIN accumulator_valid_choice
ON (accumulator_valid_choice.accumulator_valid_choice_id = benefit_plan_accumulator_class_choice_resolution.individual_accumulator_valid_choice_id)
INNER JOIN accumulator_choice_list
ON (accumulator_choice_list.accumulator_choice_list_id = accumulator_valid_choice.accumulator_choice_list_id)
INNER JOIN resolve_choice_list_at
ON resolve_choice_list_at.resolve_choice_list_at_id = accumulator_choice_list.resolve_choice_list_at_id
INNER JOIN accumulator_framework_accumulator_class
ON (accumulator_framework_accumulator_class.accumulator_framework_accumulator_class_id = accumulator_choice_list.accumulator_framework_accumulator_class_id)
INNER JOIN accumulator_class
ON (accumulator_class.accumulator_class_id = accumulator_framework_accumulator_class.accumulator_class_id)
AND (lower(accumulator_class.golden_key) = ''maximum visits'')
WHERE benefit_plan_accumulator_class_choice_resolution.benefit_plan_id = ' + CONVERT(NVARCHAR, @benefit_plan_id) +
' )) AS maximum_visits, '
END

IF (@benefit_plan_id IS NOT NULL) AND (@benefit_plan_id > 0)
BEGIN
IF @Sql_Select = ''
BEGIN
Select weight_amount, benefit_choice_matrix_weighting_id, modified_date, 0 as template_column
FROM benefit_choice_matrix_weighting
WHERE benefit_contract_period_benefit_plan_id = -@benefit_contract_period_benefit_plan_id
END
ELSE
BEGIN
SET @sql_select_template = ' SELECT CAST(NULL as datetime) as modified_date, benefit_choice_matrix_weighting_id, template_column ' + @sql_select_template + ', weight_amount '

EXEC(@sql_select_template + ' From ( SELECT DISTINCT Cast(NULL AS numeric) as weight_amount, NULL as benefit_choice_matrix_weighting_id, 0 as template_column '
+ @Sql_Select +
' FROM ' + @sql_co_payment + @sql_coinsurance + @sql_authorization_required
+ @sql_covered_benefit + @sql_referral_required
+ @sql_maxinum_out_of_pocket_1 + @sql_maxinum_out_of_pocket_2
+ @sql_deductible_1 + @sql_deductible_2
+ @sql_maximum_payments_1 + @sql_maximum_payments_2
+ @sql_maximum_units_1 + @sql_maximum_units_2
+ @sql_maximum_visits_1 + @sql_maximum_visits_2
+ ' benefit_class) as benefit_choice_matrix1 ')
print @sql_select_template + ' From ( SELECT DISTINCT Cast(NULL AS numeric) as weight_amount, NULL as benefit_choice_matrix_weighting_id, 0 as template_column '
+ @Sql_Select +
' FROM ' + @sql_co_payment + @sql_coinsurance + @sql_authorization_required
+ @sql_covered_benefit + @sql_referral_required
+ @sql_maxinum_out_of_pocket_1 + @sql_maxinum_out_of_pocket_2
+ @sql_deductible_1 + @sql_deductible_2
+ @sql_maximum_payments_1 + @sql_maximum_payments_2
+ @sql_maximum_units_1 + @sql_maximum_units_2
+ @sql_maximum_visits_1 + @sql_maximum_visits_2
+ ' benefit_class) as benefit_choice_matrix1 '
END
END
GO
