USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_ap_fee_save]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/14/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/14/2009  W.Christensen  1.0      Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Save AP Fees from Client Fee Setup form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_client_fee_setup_ap_fee_save]
(
@client_fee_setup_ap_fee_id             int = NULL   OUTPUT
,@client_fee_setup_id                    int = NULL
,@effective_from                         datetime = NULL
,@effective_thru                         datetime = NULL
,@client_fee_type_id                     int = NULL
,@description                            nvarchar(100) = NULL
,@client_fee_calculation_rule_id         int = NULL
,@amount                                 decimal(20,10) = NULL
,@vendor_id	                             int = NULL
,@expense_accounting_company_account_id	 int = NULL
,@ap_accounting_company_account_id       int = NULL
,@client_group_id                        int = NULL
,@benefit_contract_id                    int = NULL
,@provider_network_id                    int = NULL
,@payment_contract_id                    int = NULL
,@provider_identifier_id                 int = NULL
,@active                                 bit = 1

) AS
--
DECLARE
@SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_INSERT_FAILS NVARCHAR(50)
,@ERROR_UPDATE_FAILS NVARCHAR(50)
,@ERROR_DOES_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
,@SP_EXCEPTION = -1
,@ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
,@ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
,@ERROR_DOES_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE =''
--
IF @client_fee_setup_ap_fee_id IS NULL
BEGIN
--- Create a new client_fee_setup_ap_fee record
INSERT INTO dbo.client_fee_setup_ap_fee (
client_fee_setup_id
,effective_from
,effective_thru
,client_fee_type_id
,[description]
,client_fee_calculation_rule_id
,amount
,vendor_id
,expense_accounting_company_account_id
,ap_accounting_company_account_id
,client_group_id
,benefit_contract_id
,provider_network_id
,payment_contract_id
,provider_identifier_id
,active
)
VALUES
(@client_fee_setup_id
,@effective_from
,@effective_thru
,@client_fee_type_id
,@description
,@client_fee_calculation_rule_id
,@amount
,@vendor_id
,@expense_accounting_company_account_id
,@ap_accounting_company_account_id
,@client_group_id
,@benefit_contract_id
,@provider_network_id
,@payment_contract_id
,@provider_identifier_id
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @client_fee_setup_ap_fee_id = SCOPE_IDENTITY()

END
ELSE IF NOT EXISTS (SELECT * FROM dbo.client_fee_setup_ap_fee WHERE client_fee_setup_ap_fee_id = @client_fee_setup_ap_fee_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

DECLARE @ErrorVar int, @RowCountVar int

--- Updating an existing client_fee_setup_ap_fee record
UPDATE client_fee_setup_ap_fee
SET
client_fee_setup_id		               = @client_fee_setup_id
,effective_from                        = @effective_from
,effective_thru                        = @effective_thru
,client_fee_type_id                    = @client_fee_type_id
,[description]                         = @description
,client_fee_calculation_rule_id        = @client_fee_calculation_rule_id
,amount                                = @amount
,vendor_id                             = @vendor_id
,expense_accounting_company_account_id = @expense_accounting_company_account_id
,ap_accounting_company_account_id      = @ap_accounting_company_account_id
,client_group_id                       = @client_group_id
,benefit_contract_id                   = @benefit_contract_id
,provider_network_id                   = @provider_network_id
,payment_contract_id                   = @payment_contract_id
,provider_identifier_id                = @provider_identifier_id
,active                                = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE client_fee_setup_ap_fee_id = @client_fee_setup_ap_fee_id

SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;
IF @ErrorVar <> 0 OR @RowCountVar = 0
BEGIN


IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)
END
--

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)

END
--
RETURN @SP_SUCCESS
--
GO
