USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[bind_sp_adding_child_reference_identifiers_Test]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--===============================================================================================================
--Stored Procedure Name: bind_sp_adding_child_reference_identifiers
--Description: Identifies children claims that do not have d9 or clearing_house_claim_id values and adds the original claim's value
--Create Date: 07/29/2021
--Version: 1.0
--===============================================================================================================
--Date       | Author | Version | Change Description
--===============================================================================================================
--07/29/2021 | DJS    | 1.0     | Created stored procedure
--===============================================================================================================

CREATE   PROCEDURE [dbo].[bind_sp_adding_child_reference_identifiers_Test]

AS

BEGIN TRY

	BEGIN TRANSACTION

-- Identifying all claims that are missing either d9 and/or clearing_house_claim_id values and identifying the correct values
	;with cte_Claims as (
		SELECT
			ccir.internal_claim_id,
			c.claim_ud,
			7 AS claim_additional_reference_number_type_id,
			ccir.d9 AS additional_reference_number
		FROM qc_core.dbo.claim c WITH(NOLOCK)
				INNER JOIN dbo.child_claim_identifier_reference_wrk ccir
					ON ccir.internal_claim_id = c.claim_id
				LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
					ON carn.claim_id = c.claim_id
						and carn.claim_additional_reference_number_type_id = 7 -- d9
		WHERE 1 = 1 
		AND carn.claim_id IS NULL
		AND ccir.d9 IS NOT NULL
		UNION ALL
		SELECT
			ccir.internal_claim_id,
			c.claim_ud,
			2 AS claim_additional_reference_number_type_id,
			ccir.clearing_house_claim_id AS additional_reference_number
		FROM qc_core.dbo.claim c WITH(NOLOCK)
				INNER JOIN dbo.child_claim_identifier_reference_wrk ccir
					ON ccir.internal_claim_id = c.claim_id
				LEFT JOIN qc_core.dbo.claim_additional_reference_number carn WITH(NOLOCK)
					ON carn.claim_id = c.claim_id
						and carn.claim_additional_reference_number_type_id = 2 -- clearing_house_claim_id
		WHERE 1 = 1 
		AND carn.claim_id IS NULL
		AND ccir.clearing_house_claim_id IS NOT NULL
	)



	-- Adding missing d9 & clearing_house_claim_id references
	--INSERT INTO qc_core.dbo.claim_additional_reference_number (claim_id, claim_procedure_id, claim_additional_reference_number_type_id, additional_reference_number, comment, active, created_date, created_user_name, modified_date, modified_user_name)
	SELECT
		t.internal_claim_id AS claim_id,
		NULL AS claim_procedure_id,
		t.claim_additional_reference_number_type_id AS claim_additional_reference_number_type_id,
		t.additional_reference_number AS additional_reference_number,
		NULL AS comment,
		1 AS active,
		GETDATE() AS created_date,
		'bind\qcdatacleanup' AS created_user_name,
		GETDATE() modified_date,
		'bind\qcdatacleanup' AS modified_user_name
	FROM cte_Claims t
	WHERE 1 = 1


	COMMIT TRANSACTION
END TRY

BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK
END CATCH
GO
