USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_global_professional_technical_modifier_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: CCESSNUN
Date: 01-16-2009
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01-16-2009	CCESSNUN	1.0			Created
--
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load the type_id that is associated with the modifier.

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_global_professional_technical_modifier_type_load]
@global_professional_technical_modifier_id INT = NULL
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
global_professional_technical_type.global_professional_technical_type_id
FROM global_professional_technical_type
JOIN global_professional_technical_modifier gptm
on gptm.global_professional_technical_modifier_id = @global_professional_technical_modifier_id
WHERE global_professional_technical_type.global_professional_technical_type_id = gptm.global_professional_technical_type_id
--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
