USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_accumulator_choice_list_resolution_list_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: meena
Date: 08/13/2007
--
REVISION_HISTORY:
--
Date		Modified By			Description
--------------------------------------------------------------------------------
08/13/2007  meena  	            Create
03/18/2008	David Slayton       Change fields to use accumulator_framework_accumulator_class_accumulator_id/_ud
rather than accumulator_id/_ud.
12/19/2008	Jeremy Hein         Included accumulator_sub_limit_id in the returned result set;
will be used to evaluate auto population of the Accumulator Choice Resolution grid.
02/05/2009  Wade Christensen    Revised to include Accum Frameworks assigned at the Benefit Contract. Removed
unnecessary second query for null family elig.
03/10/2009	Wade Christensen    Removed banded tables references, pull limit rule ids from
primary tables so they are never null.
--
DESCRIPTION:
Used to load data for grid Accumulator Choice List resolution in Eligibility Details tab in
Family Eligibility form. ----testing  -used
--
REQUIREMENTS:
--
INPUTS:
@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_accumulator_choice_list_resolution_list_load]
(
@family_eligibility_id                   int = NULL,
@benefit_contract_period_benefit_plan_id int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
--
SELECT	DISTINCT
resolution.family_eligibility_accumulator_choice_list_resolution_id,
afac.accumulator_class_id,
accumulator_class.accumulator_class_ud,
afaca.accumulator_framework_accumulator_class_accumulator_id,
afaca.accumulator_framework_accumulator_class_accumulator_ud,
CASE
WHEN accumulator_rule.accumulator_sub_limit_id IS NOT NULL
AND ind_rcla.golden_key = 'FAMILY ELIGIBILITY' THEN accumulator_rule.accumulator_sub_limit_id
END AS accumulator_sub_limit_id,
CASE
WHEN accumulator_rule.individual_accumulator_choice_list_id IS NOT NULL
AND ind_rcla.golden_key = 'FAMILY ELIGIBILITY' THEN ind_choice_list.accumulator_choice_list_ud
END AS ind_choice_ud,
CASE
WHEN accumulator_rule.individual_accumulator_choice_list_id IS NOT NULL
AND ind_rcla.golden_key = 'FAMILY ELIGIBILITY' THEN ind_choice_list.accumulator_choice_list_id
END AS ind_choice_id,
CASE
WHEN accumulator_rule.family_accumulator_choice_list_id IS NOT NULL
AND family_rcla.golden_key = 'FAMILY ELIGIBILITY' THEN family_choice_list.accumulator_choice_list_ud
END As fam_choice_ud,
CASE
WHEN accumulator_rule.family_accumulator_choice_list_id IS NOT NULL
AND family_rcla.golden_key = 'FAMILY ELIGIBILITY' THEN family_choice_list.accumulator_choice_list_id
END As fam_choice_id,
NULL AS fam_choice,
accumulator_rule.accumulator_limit_rule_id,
accumulator_rule.accumulator_sub_limit_rule_id,
resolution.individual_accumulator_valid_choice_id,
resolution.family_accumulator_valid_choice_id,
bcpbp.modified_date
FROM
benefit_contract_period_benefit_plan bcpbp
INNER JOIN benefit_plan
ON bcpbp.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN (
SELECT DISTINCT
benefit_contract_period_id,
bpaf.accumulator_framework_id
FROM benefit_plan_accumulator_framework bpaf
INNER JOIN benefit_plan
ON bpaf.benefit_plan_id = benefit_plan.benefit_plan_id
INNER JOIN benefit_contract_period_benefit_plan bcpbp
ON benefit_plan.benefit_plan_id = bcpbp.benefit_plan_id
--
UNION -- Bring the distinct frameworks from both benefit plan and benefit contract
--
SELECT DISTINCT
benefit_contract_period_id,
accumulator_framework_id
FROM benefit_contract_accumulator_framework bcaf
INNER JOIN benefit_contract_period bcp
ON bcaf.benefit_contract_id = bcp.benefit_contract_id
) assigned_accumulator_frameworks
ON assigned_accumulator_frameworks.benefit_contract_period_id = bcpbp.benefit_contract_period_id
INNER JOIN accumulator_framework_accumulator_class afac
ON assigned_accumulator_frameworks.accumulator_framework_id = afac.accumulator_framework_id
INNER JOIN accumulator_framework_accumulator_class_accumulator afaca
ON afaca.accumulator_framework_accumulator_class_id = afac.accumulator_framework_accumulator_class_id
INNER JOIN (
SELECT accumulator_framework_accumulator_class_accumulator_id,
individual_accumulator_choice_list_id,
family_accumulator_choice_list_id,
accumulator_limit_rule_id,
NULL AS accumulator_sub_limit_rule_id,
NULL AS accumulator_sub_limit_id
FROM 	accumulator_limit_rule
WHERE	(individual_accumulator_choice_list_id IS NOT NULL OR family_accumulator_choice_list_id IS NOT NULL)
UNION
SELECT	asl.accumulator_framework_accumulator_class_accumulator_id,
aslr.individual_accumulator_choice_list_id,
aslr.family_accumulator_choice_list_id	,
NULL AS accumulator_limit_rule_id,
aslr.accumulator_sub_limit_rule_id,
asl.accumulator_sub_limit_id
FROM accumulator_sub_limit_rule aslr
INNER JOIN accumulator_sub_limit asl
ON aslr.accumulator_sub_limit_id = asl.accumulator_sub_limit_id
WHERE (individual_accumulator_choice_list_id IS NOT NULL OR family_accumulator_choice_list_id IS NOT NULL)
) accumulator_rule
ON afaca.accumulator_framework_accumulator_class_accumulator_id = accumulator_rule.accumulator_framework_accumulator_class_accumulator_id
INNER JOIN accumulator_class
ON accumulator_class.accumulator_class_id = afac.accumulator_class_id
LEFT JOIN accumulator_choice_list ind_choice_list
ON ind_choice_list.accumulator_choice_list_id = accumulator_rule.individual_accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at ind_rcla
ON ind_rcla.resolve_choice_list_at_id = ind_choice_list.resolve_choice_list_at_id
LEFT JOIN accumulator_choice_list family_choice_list
ON family_choice_list.accumulator_choice_list_id = accumulator_rule.family_accumulator_choice_list_id
LEFT JOIN resolve_choice_list_at family_rcla
ON family_rcla.resolve_choice_list_at_id = family_choice_list.resolve_choice_list_at_id
LEFT JOIN (
SELECT feaclr.family_eligibility_accumulator_choice_list_resolution_id,
feaclr.family_eligibility_id,
feaclr.benefit_contract_period_benefit_plan_id,
CASE WHEN accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id IS NOT NULL THEN
accumulator_limit_rule.accumulator_framework_accumulator_class_accumulator_id
ELSE
accumulator_sub_limit.accumulator_framework_accumulator_class_accumulator_id
END AS accumulator_framework_accumulator_class_accumulator_id,
feaclr.accumulator_limit_rule_id,
ind_valid_choice.accumulator_choice_list_id	AS ind_choice_id,
family_valid_choice.accumulator_choice_list_id AS fam_choice_id,
feaclr.accumulator_sub_limit_rule_id,
ind_valid_choice.accumulator_valid_choice_id AS individual_accumulator_valid_choice_id,
ind_valid_choice.valid_choice AS ind_valid_choice,
family_valid_choice.accumulator_valid_choice_id AS family_accumulator_valid_choice_id,
family_valid_choice.valid_choice AS family_valid_choice
FROM family_eligibility_accumulator_choice_list_resolution feaclr
LEFT JOIN accumulator_limit_rule
ON accumulator_limit_rule.accumulator_limit_rule_id = feaclr.accumulator_limit_rule_id
LEFT JOIN accumulator_sub_limit_rule
ON accumulator_sub_limit_rule.accumulator_sub_limit_rule_id = feaclr.accumulator_sub_limit_rule_id
LEFT JOIN accumulator_sub_limit
ON accumulator_sub_limit.accumulator_sub_limit_id = accumulator_sub_limit_rule.accumulator_sub_limit_id
LEFT JOIN accumulator_valid_choice ind_valid_choice
ON ind_valid_choice.accumulator_valid_choice_id = feaclr.individual_accumulator_valid_choice_id
LEFT JOIN accumulator_valid_choice family_valid_choice
ON family_valid_choice.accumulator_valid_choice_id = feaclr.family_accumulator_valid_choice_id
) resolution
ON resolution.benefit_contract_period_benefit_plan_id = bcpbp.benefit_contract_period_benefit_plan_id
AND resolution.accumulator_framework_accumulator_class_accumulator_id = afaca.accumulator_framework_accumulator_class_accumulator_id
AND resolution.family_eligibility_id = @family_eligibility_id
WHERE
bcpbp.benefit_contract_period_benefit_plan_id = @benefit_contract_period_benefit_plan_id
AND (ind_rcla.golden_key = 'FAMILY ELIGIBILITY' OR family_rcla.golden_key = 'FAMILY ELIGIBILITY')

ORDER BY accumulator_class.accumulator_class_ud
--
RETURN @SP_SUCCESS
--
GO
