USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_fee_schedule_inpatient_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trang Huynh
DATE: 01/12/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
01/12/2006	Trang Huynh	1.0			create
2006/02/08        ThuyHa                        Add 2 parameters: @result_code_id, @result_code_status_id
2006/03/01	Trang Huynh	1.3		Change fee_schedule_type to fee_schedule_form_type
03/08/2006	Thuy Ha				created_date & modified date use DB Server date
12/06/2006	tinhdo				change base_fee_schedule_payment_percentage_value -> base_fee_schedule_payment_percentage_value numeric(20,10)
change base_fee_schedule_default_outlier_percent  -> base_fee_schedule_default_outlier_percent numeric(20,10)
02/25/2009	Vishwa Jella 1.4	added procedure_code_version_id field
11/18	/2009		Vishwa Jella		2.0			added default_modifier field to use is modifier is not
found on claim line
8/10/2011			dcannon				2.1			added fee_schedule_rule_id parameter
2/21/2012	dcannon						2.2			Added anesthesia calculation rule for RT 1591
08/18/2014 - RT:6046 Updated created/modified tombstone columns

--
CURRENT_VERSION: 2.2
--
DESCRIPTION:
This procedure is used to save data for form "FeeScheduleInpatient"
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE            PROCEDURE [dbo].[plx_fee_schedule_inpatient_save]
(
@fee_schedule_id							int = NULL OUTPUT
,@fee_schedule_ud							nvarchar(50) = NULL
,@description								nvarchar(255) = NULL
,@anesthesia_per_unit					int = NULL
,@round_to_whole							bit = NULL
,@round_to_tenth							bit = NULL
,@round_up									bit = NULL
,@procedure_code_version_id			int = NULL
,@default_modifier						nvarchar(50) = NULL
,@fee_schedule_rule_id					int = null
,@anesthesia_calculation_rule_id			int = null
,@anesthesia_add_on_code_calculation		bit = null
,@active										bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50),
@fee_schedule_form_type_id  int
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''
--
IF @fee_schedule_id is Null
BEGIN
---Get @fee_schedule_form_type_id
select @fee_schedule_form_type_id = fee_schedule_form_type_id
from fee_schedule_form_type
where fee_schedule_form_type.golden_key = 'Inpatient'
--- Create a new fee_schedule record
INSERT INTO fee_schedule(
fee_schedule_ud
,description
,fee_schedule_form_type_id
,anesthesia_per_unit
,round_to_whole
,round_to_tenth
,round_up
,procedure_code_version_id
,default_modifier
,fee_schedule_rule_id
,anesthesia_calculation_rule_id
,anesthesia_add_on_code_calculation
,active
)
VALUES
(@fee_schedule_ud
,@description
,@fee_schedule_form_type_id
,@anesthesia_per_unit
,@round_to_whole
,@round_to_tenth
,@round_up
,@procedure_code_version_id
,@default_modifier
,@fee_schedule_rule_id
,@anesthesia_calculation_rule_id
,@anesthesia_add_on_code_calculation
,@active
)

SET @fee_schedule_id = @@IDENTITY

--
IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
ELSE IF NOT EXISTS (SELECT * FROM fee_schedule WHERE fee_schedule_id = @fee_schedule_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
--
ELSE
BEGIN

--- Updating an existing fee_schedule record
UPDATE fee_schedule
SET
fee_schedule_ud									= @fee_schedule_ud
,description										= @description
,anesthesia_per_unit								= @anesthesia_per_unit
,round_to_whole									= @round_to_whole
,round_to_tenth									= @round_to_tenth
,round_up										= @round_up
,procedure_code_version_id						= @procedure_code_version_id
,default_modifier									= @default_modifier
,fee_schedule_rule_id								= @fee_schedule_rule_id
,anesthesia_calculation_rule_id						=@anesthesia_calculation_rule_id
,anesthesia_add_on_code_calculation					=@anesthesia_add_on_code_calculation
,active												= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE fee_schedule_id = @fee_schedule_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
--
RETURN @SP_SUCCESS
--
GO
