USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_credit_memo_get_invoice_details]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Used after TabOff() on Customer Credit Memo form's Applied Invoices grid.
******************************/
CREATE PROCEDURE [dbo].[plx_accounting_transaction_ar_credit_memo_get_invoice_details]
(
@invoice_id	INT = NULL  -- internal invoice id
)
AS

SET NOCOUNT ON

SELECT
ata.accounting_transaction_ar_id AS invoice_id,
ata.accounting_transaction_ar_ud AS invoice_ud,
invoice.due_date,
ata.transaction_amount AS invoice_amount,
unapplied_amount =
dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT)
FROM accounting_transaction_ar_invoice_detail invoice
JOIN accounting_transaction_ar ata
ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
WHERE
invoice.accounting_transaction_ar_id = @invoice_id;

RETURN 0
GO
