USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_class_benefit_id_tree_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Trinh Le
Date:  09/18/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/18/2005	Trinh Le	1.0			create
08/06/2009	Vishwa	2.0			updated with golden_key for benefit classes
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load data for tree Benefit Class \ Benefit in Benefit Framework form
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_class_benefit_id_tree_load]
(
@benefit_framework_id		int = null
)
as
begin
set nocount on
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int

set @SP_SUCCESS = 0
set @SP_EXCEPTION = -1

declare
@NODE_TYPE_BENEFIT_CLASS int,
@NODE_TYPE_BENEFIT int
set @NODE_TYPE_BENEFIT_CLASS = 1
set @NODE_TYPE_BENEFIT = 2

DECLARE @tree_table table(node_id int NOT NULL,
parent_id int NULL,
node_text nvarchar(50) NOT NULL,
golden_key nvarchar(50) NULL,
node_level int NULL,
node_type int NULL)
declare benefit_class_cursor cursor for
select benefit_framework_benefit_class.benefit_framework_benefit_class_id as node1_id, benefit_class.benefit_class_ud as node1_text,benefit_class.golden_key
from benefit_framework_benefit_class
inner join benefit_class on benefit_class.benefit_class_id = benefit_framework_benefit_class.benefit_class_id
where benefit_framework_benefit_class.benefit_framework_id = @benefit_framework_id

open benefit_class_cursor
declare @benefit_class_id int,
@benefit_class_text nvarchar(50),
@benefit_class_golden_key nvarchar(50)
fetch next from benefit_class_cursor
into @benefit_class_id, @benefit_class_text,@benefit_class_golden_key
while @@fetch_status = 0
begin
insert into @tree_table(node_id, parent_id, node_text, golden_key, node_level, node_type)
values(@benefit_class_id, null, @benefit_class_text, @benefit_class_golden_key, 1, @NODE_TYPE_BENEFIT_CLASS)

declare benefit_cursor cursor for
select benefit.benefit_id, benefit.benefit_ud
from benefit
where benefit.benefit_framework_benefit_class_id = @benefit_class_id

open benefit_cursor
declare @benefit_id int,
@benefit_text nvarchar(50)
fetch next from benefit_cursor
into @benefit_id, @benefit_text
while @@fetch_status = 0
begin
insert into @tree_table(node_id, parent_id, node_text, node_level, node_type)
values (@benefit_id, @benefit_class_id, @benefit_text, 2, @NODE_TYPE_BENEFIT)
fetch next from benefit_cursor
into @benefit_id, @benefit_text
end
close benefit_cursor
deallocate benefit_cursor
fetch next from benefit_class_cursor
into @benefit_class_id, @benefit_class_text,@benefit_class_golden_key
end
close benefit_class_cursor
deallocate benefit_class_cursor
select * from @tree_table
if @@rowcount >= 1
return @SP_SUCCESS
else
return @SP_EXCEPTION
end
GO
