USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_contact_list_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: ptran
DATE: 07/24/2005
--
REVISION_HISTORY:
--
Date			Modified By			Version		Description
--------------------------------------------------------------------------------
08/01/2005		ptran				1.1			Modify base on QA Feedback & Design document.
11/17/2005		mttran				1.2			Use contact_name instead of contact to get
last name, first name...
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load for Associated Contacts grid
in Benefit Contract form
--
REQUIREMENTS:
--
INPUTS:
benefit_contract_id
--
OUTPUTS:
contact records, or empty table
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_contact_list_load] (@benefit_contract_id INT = NULL)
AS
--
SET NOCOUNT ON

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1

--
SELECT bcc.benefit_contract_contact_id
,bcc.benefit_contract_id
,bcc.contact_id
,bcc.benefit_contract_association_type_id AS 'contact_association_type_id'
,bcc.is_primary AS 'primary_contact'
,bcc.is_primary
,bcc.active
,bcc.created_user_name
,bcc.created_group_id
,bcc.created_date
,bcc.modified_date
,CASE
WHEN alias_type.golden_key = 'PERSON'
THEN dbo.plx_ConcatenateName(contact_name.name_last, contact_name.name_first, contact_name.name_middle, contact_name.name_suffix)
ELSE contact_name.name_last -- company name
END AS contact_nm
,c.active
--,tnphone.prefix
--,tnphone.country_code
,tnphone.telephone_number
,tnphone.telephone_number_extension
--,tnfax.prefix as 'fax_prefix'
--,tnfax.country_code as 'fax_country_code'
,tnfax.telephone_number AS 'fax_telephone_number'
,tnfax.telephone_number_extension AS 'fax_telephone_number_extension'
,ia.internet_address
--	,tnphone.telephone_number+'/'+ tnfax.telephone_number as 'phone_fax_number'
,CASE
WHEN tnphone.telephone_number IS NULL
THEN tnfax.telephone_number
ELSE CASE
WHEN tnfax.telephone_number IS NULL
THEN tnphone.telephone_number
ELSE tnphone.telephone_number + '/' + tnfax.telephone_number
END
END AS 'phone_fax_number'
,bcc.effective_from
,bcc.effective_thru
,bcc.modified_date
FROM benefit_contract_contact bcc
INNER JOIN contact c
ON bcc.contact_id = c.contact_id
LEFT JOIN contact_internet_address cia
ON (
cia.contact_id = c.contact_id
AND cia.primary_for_contact = 1
)
LEFT JOIN internet_address ia
ON ia.internet_address_id = cia.internet_address_id
AND ia.internet_address_type_id = 1
LEFT JOIN contact_telephone_number phone
ON (
phone.contact_id = c.contact_id
AND phone.primary_for_contact = 1
)
LEFT JOIN telephone_number tnphone
ON tnphone.telephone_number_id = phone.telephone_number_id --AND tnphone.telephone_number_type_id <> 3
LEFT JOIN contact_telephone_number fax
ON (
fax.contact_id = c.contact_id
AND fax.primary_for_contact = 1
)
LEFT JOIN telephone_number tnfax
ON tnfax.telephone_number_id = fax.telephone_number_id
AND tnfax.telephone_number_type_id = 3
LEFT JOIN dbo.contact_name
ON c.contact_id = contact_name.contact_id
AND contact_name.is_primary = 1
LEFT JOIN alias_type
ON alias_type.alias_type_id = contact_name.alias_type_id
WHERE (bcc.benefit_contract_id = @benefit_contract_id)
ORDER BY CASE
WHEN bcc.effective_from IS NULL
THEN 0
ELSE 1
END
,bcc.effective_from DESC
,CASE
WHEN bcc.effective_thru IS NULL
THEN 0
ELSE 1
END
,bcc.effective_thru DESC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
