USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_alt_course_dental_restorative_bundling_rule_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: eponomareff
Date: 10/27/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/27/2010	eponomareff		1.0			Created per ICU 20727
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Load data for grid grdRestorativeBundlingRule

Used by grid: grdRestorativeBundlingRule
On form:  frmDentalAlternatePXTreatmentMap

******************************/
CREATE  PROCEDURE [dbo].[plx_alt_course_dental_restorative_bundling_rule_load]
(
@alternate_course_of_treatment_map_id			INT = NULL
)
AS

-- NOTE - all the available values for dental restorative bundling set are shown in grid
--        the values are read-only, but the user can check the enabled checkbox
--        which is the only value actually stored
SELECT
acdrbs.alternate_course_dental_restorative_bundling_set_id
,acdrbs.alternate_course_of_treatment_map_id
,drbs.dental_restorative_bundling_set_id
,drbs.dental_restorative_bundling_set_ud
, [enabled] =
CASE acdrbs.enabled
WHEN 1 THEN 1
ELSE 0
END
FROM
dental_restorative_bundling_set drbs
LEFT JOIN alternate_course_dental_restorative_bundling_set acdrbs ON drbs.dental_restorative_bundling_set_id = acdrbs.dental_restorative_bundling_set_id
AND acdrbs.alternate_course_of_treatment_map_id = @alternate_course_of_treatment_map_id
--
GO
