USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dto_load_mae_by_member_id_with_validation]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lenny Miller
Date: 01/21/2010
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
01/21/2010	Lenny L. Miller		1.0			Created
09/19/2014	dcannon				1.1			RT:7004 member address restructure
--
CURRENT_VERSION: 1.1

HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_dto_load_mae_by_member_id_with_validation]
(
@member_id_key nvarchar(50)
,@member_id_value nvarchar(50)
,@client_ud nvarchar(50)
,@client_group_ud nvarchar(50)
,@benefit_contract_ud nvarchar(50)
,@benefit_plan_ud nvarchar(50)
,@enrollment_ud nvarchar(100)
,@eligibility_ud nvarchar(100)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

DECLARE @max_date as DateTime
SELECT @max_date = Max(effective_thru) + 1
FROM family_eligibility_member_benefit_plan


DECLARE @member_id INT

SET @member_id =
(SELECT pid.member_id
FROM member
left join  member_personal_id  pid ON pid.member_id = member.member_id
inner join member_id_type on member_id_type.member_id_type_id = pid.member_id_type_id
left join member_name ON member.member_id = member_name.member_id
left join name_prefix ON member_name.name_prefix_id = name_prefix.name_prefix_id
left join gender  ON gender.gender_id = member.gender_id
--      left join created_group  ON created_group.created_group_id = member.created_group_id
WHERE member_id_type.member_id_type_ud = @member_id_key and pid.id_value = @member_id_value )

DECLARE @ClientExist BIT
DECLARE @ClientGroupExist BIT
DECLARE @BenefitContractExist BIT
DECLARE @BenefitPlanExist BIT
DECLARE @EnrollmentExist BIT
DECLARE @EligibilityExist BIT


SET @ClientExist = (SELECT COUNT(*) FROM client_name WHERE client_ud = @client_ud)
SET @ClientGroupExist = (SELECT COUNT(*) FROM client_group_name WHERE client_group_ud = @client_group_ud)
SET @BenefitContractExist = (SELECT COUNT(*) FROM benefit_contract WHERE benefit_contract_ud=@benefit_contract_ud)
SET @BenefitPlanExist = (SELECT COUNT(*) FROM benefit_plan WHERE benefit_plan_ud=@benefit_plan_ud)
SET @EnrollmentExist = (SELECT COUNT(*) FROM family_eligibility WHERE family_eligibility_ud=@enrollment_ud)
SET @EligibilityExist = (SELECT COUNT(*) FROM family_eligibility_member_benefit_plan WHERE member_eligibility_ud = @eligibility_ud)

IF @member_id IS NULL
BEGIN

SELECT
NULL AS member_id,NULL AS born,NULL AS died,NULL AS gender ,NULL AS first,NULL AS last,NULL AS middle,NULL AS prefix
,NULL AS suffix,NULL AS address1,NULL AS address2,NULL AS city,NULL AS state,NULL AS zip,NULL AS primary_phone,NULL AS work_phone
,NULL AS cell_phone,NULL AS email,NULL AS unique_id,NULL AS ssn,NULL AS client,NULL AS client_group,NULL AS benefit_contract
,NULL AS benefit_plan,NULL AS benefit_category,NULL AS benefit_sub_category,NULL AS enrollment,NULL AS eligibility,NULL AS eff_date
,NULL AS term_date,NULL AS reason,NULL AS relationship,NULL AS validation_results
,@ClientExist AS client_exist
,@ClientGroupExist AS client_group_exist
,@BenefitContractExist	AS benefit_contract_exist
,@BenefitPlanExist	 AS benefit_plan_exist
,@EnrollmentExist AS enrollment_exist
,@EligibilityExist AS eligibility_exist

END
ELSE
BEGIN
DECLARE @ssn	 NVARCHAR(50)
DECLARE @ssn_id INT
DECLARE @fax_id	 INT
DECLARE @fax_number NVARCHAR(50)
DECLARE @phone_id INT
DECLARE @phone_number NVARCHAR(50)


-- Get the values for a member_personal_id of type 'SSN'
SELECT @ssn = mpi.id_value, @ssn_id = mpi.member_personal_id_id
FROM member_personal_id AS mpi, member_id_type AS mit
WHERE mpi.member_id = @member_id
and mit.golden_key = 'SSN'
and mpi.member_id_type_id = mit.member_id_type_id;

-- Get the values for a telephone_number of type 'Unknown'
SELECT	@phone_id = tn.telephone_number_id, @phone_number = tn.telephone_number
FROM telephone_number AS tn, member_telephone_number AS mtn, telephone_number_type AS tnt
WHERE mtn.member_id = @member_id
and mtn.telephone_number_type_id = tnt.telephone_number_type_id
and tnt.golden_key = 'Unknown';

-- Get the values for a telephone_number of type 'FAX'
SELECT	@fax_id = tn.telephone_number_id, @fax_number = tn.telephone_number
FROM telephone_number AS tn, member_telephone_number AS mtn, telephone_number_type AS tnt
WHERE mtn.member_id = @member_id
and mtn.telephone_number_type_id = tnt.telephone_number_type_id
and tnt.golden_key = 'FAX';


SELECT
member.member_id
,CONVERT(CHAR(10), member.birth_date, 101)														AS born
,CONVERT(CHAR(10), member.death_date, 101)														AS died
,gender.gender_ud																									AS gender
,member_name.name_first																						AS first
,member_name.name_last																						AS last
,member_name.name_middle																					AS middle
,name_prefix.name_prefix_ud																					AS prefix
,member_name.name_suffix																						AS suffix
,member_address.address_1																									AS address1
,member_address.address_2																									AS address2
,locale.city																													AS city
,locale.state																												AS state
,locale.postal_code																									AS zip
,@phone_number																										AS primary_phone
,@fax_number																											AS work_phone
,NULL																														AS cell_phone
,member_internet_address.internet_address																			AS email
,@member_id_value																									AS unique_id
,@ssn																														AS ssn
,client_name.client_ud																								AS client
,client_group_name.client_group_ud																			AS client_group
,benefit_contract.benefit_contract_ud																		AS benefit_contract
,benefit_plan.benefit_plan_ud																						AS benefit_plan
,benefit_category.benefit_category_ud																		AS benefit_category
,benefit_sub_category.benefit_sub_category_ud														AS benefit_sub_category
,family_eligibility.family_eligibility_ud																			AS enrollment
,family_eligibility_member_benefit_plan.member_eligibility_ud										AS eligibility
,CONVERT(CHAR(10), family_eligibility_member_benefit_plan.effective_from, 101)		AS eff_date
,CONVERT(CHAR(10), family_eligibility_member_benefit_plan.effective_thru, 101)		AS term_date
,termination_reason.termination_reason_ud																AS reason
,relationship_to_insured.relationship_to_insured_ud													AS relationship

,NULL																														AS validation_results
,@ClientExist																												AS client_exist
,@ClientGroupExist																									AS client_group_exist
,@BenefitContractExist																								AS benefit_contract_exist
,@BenefitPlanExist																										AS benefit_plan_exist
,@EnrollmentExist																										AS enrollment_exist
,@EligibilityExist																											AS eligibility_exist

---- DO NOT DELETE WE MAY WANT LATER....
-- ,benefit_category.benefit_category_id
-- ,family_eligibility_member_benefit_plan.benefit_plan_id
-- ,family_eligibility.benefit_contract_id
-- ,member_name.member_name_id as patient_name_id
-- ,family_eligibility_member_benefit_plan_id
-- ,family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id as member_eligibility_id
-- ,max(benefit_contract_period_benefit_plan.benefit_contract_period_benefit_plan_id) as benefit_contract_period_benefit_plan_id
-- ,max(benefit_contract_period_benefit_plan.benefit_contract_period_id) as benefit_contract_period_id
-- ,benefit_sub_category.benefit_sub_category_id
-- ,client_group_name.client_group_id
-- ,family_eligibility_member.relationship_to_insured_id
-- ,family_eligibility_member.family_eligibility_member_id
-- ,family_eligibility.family_eligibility_id


FROM member

LEFT JOIN member_name on member_name.member_id = member.member_id and member_name.is_primary = 1
LEFT JOIN name_prefix  ON member_name.name_prefix_id = name_prefix.name_prefix_id
LEFT JOIN gender ON  member.gender_id = gender.gender_id
LEFT JOIN  member_address ON  member.member_id = member_address.member_id
LEFT JOIN locale ON member_address.locale_id = locale.locale_id
LEFT JOIN member_internet_address  ON member.member_id =  member_internet_address.member_id


LEFT JOIN family_eligibility_member ON family_eligibility_member.member_id = member.member_id
LEFT JOIN relationship_to_insured ON relationship_to_insured.relationship_to_insured_id = family_eligibility_member.relationship_to_insured_id
LEFT JOIN family_eligibility_member_benefit_plan ON family_eligibility_member_benefit_plan.family_eligibility_member_id = family_eligibility_member.family_eligibility_member_id
LEFT JOIN termination_reason ON family_eligibility_member_benefit_plan.family_eligibility_termination_reason_id = termination_reason.termination_reason_id

LEFT JOIN family_eligibility ON family_eligibility.family_eligibility_id = family_eligibility_member.family_eligibility_id
LEFT JOIN benefit_contract on benefit_contract.benefit_contract_id = family_eligibility.benefit_contract_id
LEFT JOIN benefit_plan  ON benefit_plan.benefit_plan_id = family_eligibility_member_benefit_plan.benefit_plan_id
LEFT JOIN benefit_framework ON benefit_plan.benefit_framework_id = benefit_framework.benefit_framework_id
LEFT JOIN benefit_category  ON benefit_category.benefit_category_id = benefit_framework.benefit_category_id
LEFT JOIN benefit_sub_category  ON benefit_sub_category.benefit_sub_category_id = benefit_framework.benefit_sub_category_id
LEFT JOIN client_group on client_group.client_group_id = benefit_contract.client_group_id
LEFT JOIN client_group_name on client_group_name.client_group_id = client_group.client_group_id
AND client_group_name.primary_name = 1
LEFT JOIN client_name on client_name.client_id = client_group.client_id AND client_name.primary_name = 1

--Get period info
LEFT JOIN benefit_contract_period_benefit_plan ON benefit_contract_period_benefit_plan.benefit_plan_id = benefit_plan.benefit_plan_id
LEFT JOIN benefit_contract_period ON benefit_contract_period.benefit_contract_period_id = benefit_contract_period_benefit_plan.benefit_contract_period_id
AND benefit_contract_period.benefit_contract_id = family_eligibility.benefit_contract_id
AND --check dates now
(
(family_eligibility_member_benefit_plan.effective_thru <= benefit_contract_period.effective_thru OR benefit_contract_period.effective_thru is null )
OR (family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_from  AND (benefit_contract_period.effective_from <= family_eligibility_member_benefit_plan.effective_thru or benefit_contract_period.effective_from is null or family_eligibility_member_benefit_plan.effective_thru is null)
AND (family_eligibility_member_benefit_plan.effective_thru <= benefit_contract_period.effective_thru or benefit_contract_period.effective_thru is null))
OR ((family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_thru or benefit_contract_period.effective_thru  is null) AND (family_eligibility_member_benefit_plan.effective_from  >= benefit_contract_period.effective_from or benefit_contract_period.effective_from is null )
AND (benefit_contract_period.effective_thru <= family_eligibility_member_benefit_plan.effective_thru or family_eligibility_member_benefit_plan.effective_thru is null))
OR ((family_eligibility_member_benefit_plan.effective_from  is null or family_eligibility_member_benefit_plan.effective_from <= benefit_contract_period.effective_from) AND (benefit_contract_period.effective_thru <= family_eligibility_member_benefit_plan.effective_thru or family_eligibility_member_benefit_plan.effective_thru is null) )
)

WHERE member.member_id = @member_id
GROUP BY member.member_id
,member.birth_date
,member.death_date
,gender.gender_ud
,member_name.name_last
,member_name.name_first
,member_name.name_middle
,name_prefix.name_prefix_ud
,member_name.name_suffix
,member_address.address_1
,member_address.address_2
,locale.city
,locale.state
,locale.postal_code
-- @phone_number ---> primary_phone
-- @fax_number ---> work_phone
-- null ---> cell_phone
,member_internet_address.internet_address
-- unqiue_id
-- ssn
,client_name.client_ud
,client_group_name.client_group_ud
,benefit_contract.benefit_contract_ud
,benefit_plan.benefit_plan_ud
,benefit_category.benefit_category_ud
,benefit_sub_category.benefit_sub_category_ud
,family_eligibility.family_eligibility_ud
,family_eligibility_member_benefit_plan.member_eligibility_ud
,family_eligibility_member_benefit_plan.effective_from
,family_eligibility_member_benefit_plan.effective_thru
,termination_reason.termination_reason_ud
,relationship_to_insured.relationship_to_insured_ud
-- null ---> validation_reason  .....
-- @ClientExist
-- @ClientGroupExist
-- @BenefitContractExist
-- @BenefitPlanExist
-- @EnrollmentExist
-- @EligibilityExist

---- DO NOT DELETE WE MAY WANT LATER....
--,family_eligibility_member.relationship_to_insured_id
--,client_group_name.client_group_id
--,family_eligibility_member_benefit_plan_id
--,family_eligibility_member_benefit_plan.family_eligibility_member_benefit_plan_id
--,family_eligibility.benefit_contract_id
--,family_eligibility_member_benefit_plan.benefit_plan_id
--,benefit_category.benefit_category_id
--,benefit_sub_category.benefit_sub_category_id
--,family_eligibility_member.family_eligibility_member_id
--,family_eligibility.family_eligibility_id
--,member_name.member_name_id


ORDER BY (isnull(family_eligibility_member_benefit_plan.effective_thru, @max_date ))  DESC
,client_group_name.client_group_ud
,benefit_contract.benefit_contract_ud
--
IF @@ROWCOUNT > 0
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
--
GO
