USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_postal_code_set_postal_code_exclude_save]    Script Date: 7/10/2026 2:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
Date: 05/07/2008
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
05/07/2008	David Slayton	1.0			Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION: Save data for grid grdExcludeCodes on form frmPostalCodeSet.

--
REQUIREMENTS:
--
INPUTS:
@postal_code_set_postal_code_id
@postal_code_set_id
@beginning_postal_code
@ending_postal_code
@effective_from
@effective_thru
@active
@created_user_name
@created_group_id
@created_date
@modified_date
@cascade - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_postal_code_set_postal_code_exclude_save]
(
@postal_code_set_postal_code_id	INT = 0   OUTPUT
,@postal_code_set_id				INT = NULL
,@beginning_postal_code	NVARCHAR(50) = NULL
,@ending_postal_code		NVARCHAR(50) = NULL
,@effective_from			DATETIME = NULL
,@effective_thru			DATETIME = NULL
,@active							BIT = NULL
) AS

DECLARE
@SP_SUCCESS INT
, @SP_EXCEPTION INT
, @ERROR_INSERT_FAILS NVARCHAR(50)
, @ERROR_UPDATE_FAILS NVARCHAR(50)
, @ERROR_DOES_NOT_EXIST NVARCHAR(50)
SELECT
@SP_SUCCESS = 0
, @SP_EXCEPTION = -1
, @ERROR_INSERT_FAILS = 'G_INSERT_FAILS'
, @ERROR_UPDATE_FAILS = 'G_UPDATE_FAILS'
, @ERROR_DOES_NOT_EXIST   = 'G_DOES_NOT_EXIST'
--
IF ISNULL(@postal_code_set_postal_code_id, 0) = 0
BEGIN
--- Create a new record
INSERT INTO postal_code_set_postal_code(
postal_code_set_id
,beginning_postal_code
,ending_postal_code
,effective_from
,effective_thru
,is_excluded
,active
)
VALUES
(@postal_code_set_id
,@beginning_postal_code
,@ending_postal_code
,@effective_from
,@effective_thru
,1
,@active
)

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_INSERT_FAILS)

SET @postal_code_set_postal_code_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM postal_code_set_postal_code WHERE postal_code_set_postal_code_id = @postal_code_set_postal_code_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_DOES_NOT_EXIST)
END
--
ELSE
BEGIN

UPDATE postal_code_set_postal_code
SET
postal_code_set_id		= @postal_code_set_id
,beginning_postal_code	= @beginning_postal_code
,ending_postal_code		= @ending_postal_code
,effective_from			= @effective_from
,effective_thru			= @effective_thru
,active					= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE postal_code_set_postal_code_id = @postal_code_set_postal_code_id

IF @@ERROR <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_UPDATE_FAILS)
END
--
RETURN @SP_SUCCESS
--
GO
