USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_status_id_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HuyThan
Sep 15 2005  8:23PM
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
09/15/2005	HuyThan		1.0		Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the claim status id
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_claim_status_id_load]
(
@claim_status_ud			nvarchar(50)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
adjudication_status.adjudication_status_id as claim_status_id
,adjudication_status.adjudication_status_ud as claim_status_ud
FROM adjudication_status WHERE adjudication_status_ud like @claim_status_ud

IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
