USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_user_defined_factor_data_type_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Lamnguyen
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005	Lamnguyen	1.0		Created
6/04/2009  Chad Maddox			Copied from additional_information for user_defined_factors
--------------------------------------------------------------------------------
CURRENT_VERSION: 2.0
--
DESCRIPTION:
This procedure is used to load data for drop down user_defined_factor_data_type (Topic Data Type)
--
REQUIREMENTS:
--
INPUTS:
None
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE         PROCEDURE [dbo].[plx_dd_user_defined_factor_data_type_load]

AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0
SELECT
--,ui_engine_data_type.ui_engine_data_type_ud
--,ui_engine_data_type.data_type_name
user_defined_factor_data_type.golden_key
,ui_engine_data_type.ui_engine_data_type_id
, user_defined_factor_data_type.user_defined_factor_data_type_id
,user_defined_factor_data_type.user_defined_factor_data_type_ud

FROM user_defined_factor_data_type
left join ui_engine_data_type on ui_engine_data_type.ui_engine_data_type_id=user_defined_factor_data_type.ui_engine_data_type_id
order by ui_engine_data_type.data_type_name

--
RETURN @SP_SUCCESS
--
GO
