USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_auto_create_member_vendor_id_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[plx_dd_auto_create_member_vendor_id_rule_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
auto_create_member_vendor_id_rule_id
,auto_create_member_vendor_id_rule_ud
,golden_key

FROM auto_create_member_vendor_id_rule
ORDER BY auto_create_member_vendor_id_rule_ud

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
END
GO
