USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_unit_day_week_month_year_get_by_gk]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: David Slayton
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
10/17/2008	David Slayton	1.0			Created.
--
CURRENT_VERSION: 1.0
--
INPUTS:
golden_key
--
DESCRIPTION:
Load  unit_day_week_month_year with provided golden key.
--
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_unit_day_week_month_year_get_by_gk]
(
@golden_key NVARCHAR(50)
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
unit_day_week_month_year_id
,unit_day_week_month_year_ud

FROM dbo.unit_day_week_month_year
WHERE golden_key = @golden_key

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
GO
