USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ar_additional_information_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen

REVISION_HISTORY:
--
Date        Modified By   Version  Description
--------------------------------------------------------------------------------
03/18/2009  wchristensen  1.0      Created
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete data for Additional Information on accounting_transaction Form
--
REQUIREMENTS:
--
INPUTS:
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_accounting_transaction_ar_additional_information_delete]
(
@accounting_transaction_ar_additional_information_id  int = NULL
) AS
--
SET NOCOUNT ON
--
DELETE FROM accounting_transaction_ar_additional_information
WHERE accounting_transaction_ar_additional_information_id = @accounting_transaction_ar_additional_information_id
--
RETURN 0
--
GO
