USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_coverage_exception_rule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 05/13/2009
--
REVISION_HISTORY:
--
Date			Modified By		Version		Description
--------------------------------------------------------------------------------
05/13/2009	Vishwa Jella	1.0			Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to delete an benefit coverage exception rule record
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_benefit_coverage_exception_rule_delete]
(
@benefit_coverage_exception_rule_id	int = NULL   OUTPUT
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


IF NOT EXISTS (SELECT benefit_coverage_exception_rule_id FROM benefit_coverage_exception_rule WHERE benefit_coverage_exception_rule_id = @benefit_coverage_exception_rule_id)
RETURN @SP_SUCCESS
ELSE
BEGIN
--Check if this benefit_coverage_exception_rule is being used
DECLARE @DELETE_OK int
EXEC @DELETE_OK = plx_benefit_coverage_exception_rule_check_delete @benefit_coverage_exception_rule_id

IF @DELETE_OK <= 0
RETURN @SP_EXCEPTION

BEGIN TRANSACTION

--Delete child tables

--Delete the benefit_coverage_exception_rule
DELETE FROM benefit_coverage_exception_rule
WHERE benefit_coverage_exception_rule_id = @benefit_coverage_exception_rule_id

IF @@error > 0
BEGIN
ROLLBACK TRANSACTION
RETURN @SP_EXCEPTION
END
ELSE
COMMIT TRANSACTION

END
--
RETURN @SP_SUCCESS
GO
