USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_global_professional_technical_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Vishwa Jella
Date: 11/21/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/21/2007	Vishwa Jella	1.0		Created
--
;
CURRENT_VERSION	: 1.0
;
DESCRIPTION	: Procedure to load 'global_professional_technical_type' table into Dropdown

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE    PROCEDURE [dbo].[plx_dd_global_professional_technical_type_load]

AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
global_professional_technical_type.global_professional_technical_type_id
,global_professional_technical_type.global_professional_technical_type_ud
FROM global_professional_technical_type

ORDER BY global_professional_technical_type_ud ASC

--
IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
END
GO
