USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_check_product_is_in_used_in_same_product_line]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Mabdul / Cfacey
DATE: 07/01/2010
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:
@product_line_id ,@product_id

OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_check_product_is_in_used_in_same_product_line]
(
@product_line_id		int = null
,@product_id			int = null
)
AS
BEGIN
DECLARE
@SP_IN_USE   int,
@SP_NOT_IN_USE int,
@SP_EXCEPTION int,
@result int

SET @SP_IN_USE		= 1
SET @SP_NOT_IN_USE	= 0

SET @SP_EXCEPTION		= -1
SET	@result	= @SP_NOT_IN_USE


IF EXISTS ( SELECT	product_id
FROM	product_line_product
WHERE	product_id= @product_id
AND product_line_id = @product_line_id
)
BEGIN
SET @result = @SP_IN_USE
END

RETURN @result
END
GO
