USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_begin_tooth_number_letter_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
DATE: Jul 30 2005  4:28PM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for drop down tooth_number_letter (Tooth Number(s) or Tooth Letter(s))
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE   PROCEDURE [dbo].[plx_dd_begin_tooth_number_letter_load]

AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
tooth_number_letter.tooth_number_letter_id as match_on_begin_tooth_number_id
,tooth_number_letter.tooth_number_letter_ud as begin_tooth_number_letter_ud
-- This column used to make sortorder for tooth number leter
,CASE
WHEN isNumeric(tooth_number_letter_ud) > 0 THEN 1000 + CAST(tooth_number_letter_ud AS int)
WHEN LEN(tooth_number_letter_ud) = 2 THEN  300 + ASCII(SUBSTRING(tooth_number_letter_ud, 1, 1)) + ASCII(SUBSTRING(tooth_number_letter_ud, 2, 1))
WHEN LEN(tooth_number_letter_ud) = 1 THEN  ASCII(tooth_number_letter_ud)
END as golden_key
-- Don't remove it
FROM tooth_number_letter
ORDER BY golden_key ASC

IF @@ROWCOUNT >= 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
END
GO
