USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_credit_memo_ar_applied_invoice_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
Loads applied invoices into Customer Credit Memo form's "Apply To" grid.
NOTE: The Customer Payment form (for now) loads ALL invoices, and allows
the user to apply them. This grid is a normal QC grid, where the user may
add records. The Find Invoices form is seeded to ensure that only Invoices
with the same Customer and Accounting Company and A/R account are found.

******************************/
CREATE PROCEDURE [dbo].[plx_accounting_credit_memo_ar_applied_invoice_load]
(
@accounting_transaction_ar_id	int = NULL
)
AS

SET NOCOUNT ON

DECLARE	@IS_VOIDED BIT = 0;

--Check for VOIDED status
IF EXISTS (SELECT 1
FROM accounting_transaction_ar_credit_memo_detail det
LEFT JOIN accounting_credit_memo_status stat
ON det.accounting_credit_memo_status_id = stat.accounting_credit_memo_status_id
WHERE
accounting_transaction_ar_id = @accounting_transaction_ar_id
AND stat.golden_key = 'VOIDED')
BEGIN
SET @IS_VOIDED = 1;
END

SELECT
ata.accounting_transaction_ar_id AS invoice_id,
ata.accounting_transaction_ar_ud AS invoice_ud,
CASE
WHEN apply_to.accounting_transaction_ar_apply_to_id IS NULL THEN 0
ELSE 1
END AS 'apply',
invoice.due_date,
ata.transaction_amount AS invoice_amount,
-- add to unapplied only if Credit Memo is not voided
unapplied_amount =
CASE WHEN @IS_VOIDED = 1
THEN dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT)
ELSE dbo.[plx_fn_get_unapplied_amount_for_invoice](invoice.accounting_transaction_ar_id, DEFAULT)+ ISNULL(apply_to.amount, 0)
END,
apply_to.accounting_transaction_ar_apply_to_id,
ISNULL(apply_to.from_accounting_transaction_ar_id, @accounting_transaction_ar_id) AS from_accounting_transaction_ar_id,
apply_to.to_accounting_transaction_ar_id,
apply_to.amount,
apply_to.comment,
ISNULL(apply_to.is_posted, 0)AS is_posted

FROM accounting_transaction_ar_invoice_detail invoice
INNER JOIN accounting_transaction_ar ata
ON invoice.accounting_transaction_ar_id = ata.accounting_transaction_ar_id
INNER JOIN accounting_invoice_status invstat
ON invoice.accounting_invoice_status_id = invstat.accounting_invoice_status_id
LEFT JOIN accounting_transaction_ar_apply_to AS apply_to
ON apply_to.to_accounting_transaction_ar_id = ata.accounting_transaction_ar_id
AND apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id
WHERE
apply_to.from_accounting_transaction_ar_id = @accounting_transaction_ar_id

ORDER BY due_date, invoice_ud;

RETURN 0
GO
