USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_additional_information_topic_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: HungTNguyen
DATE: 11/17/2005
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/17/2005 	HungTNguyen	1.0		Created
09/21/2006 	NamHo		1.0		Modified
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This Sps is used to load the additional Information Topic for the given
@additional_information_topic_id
--
REQUIREMENTS:
--
INPUTS:
@additional_information_topic_id
--
OUTPUTS:
None
--
RETURN_VALUES:
0	Success
-1	Exception
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE              PROCEDURE [dbo].[plx_additional_information_topic_load]
(
@additional_information_topic_id			Int
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
additional_information_topic.additional_information_topic_id
,additional_information_topic.additional_information_topic_ud
,additional_information_topic.[description]

--//Nam Ho : added 9/27/2006 : Additional Information grid
,additional_information_topic.additional_information_data_type_id
,additional_information_topic.default_value
,additional_information_topic.default_value AS 'raw_default_value'
,additional_information_topic.format_string
,additional_information_topic.user_can_add_data
,ui_engine_data_type.ui_engine_data_type_id
,ui_engine_data_type.ui_engine_data_type_ud
,ui_engine_data_type.data_type_name
,additional_information_topic_value.additional_information_topic_value_ud
--\\Nam Ho
FROM	additional_information_topic
left outer join additional_information_data_type  ON additional_information_data_type.additional_information_data_type_id = additional_information_topic.additional_information_data_type_id
left outer join ui_engine_data_type  ON additional_information_data_type.ui_engine_data_type_id = ui_engine_data_type.ui_engine_data_type_id
left outer join additional_information_topic_value ON additional_information_topic.additional_information_topic_id=additional_information_topic_value.additional_information_topic_id
WHERE   additional_information_topic.additional_information_topic_id = @additional_information_topic_id
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
