USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_provider_category_effective_by_provider_and_practice_office_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
03/27/2015   Cknobloch					created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_dd_provider_category_effective_by_provider_and_practice_office_load]
(
@provider_id INT = NULL,
@provider_identifier_id INT = NULL,
@practice_office_id INT = NULL
)
AS
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT,
@SqlQuery NVARCHAR(MAX)
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1


SET @SqlQuery =
'SELECT DISTINCT
provider_category.provider_category_id
,practice_office.practice_office_id
,provider_category_type.provider_category_type_ud AS ''Provider Category ID''
,practice_office.practice_office_ud AS ''Only at Practice Office ID''
,practice_office.practice_office_nm

FROM provider_category
INNER JOIN provider ON provider.provider_id = provider_category.provider_id'

IF @provider_identifier_id IS NOT NULL
SET @SqlQuery = @SqlQuery + ' AND provider_category.provider_identifier_id = ' + CONVERT(NVARCHAR,@provider_identifier_id) + 'OR provider_category.provider_identifier_id IS NULL'

IF @provider_id IS NOT NULL
SET @SqlQuery = @SqlQuery + ' AND provider_category.provider_id = ' + CONVERT(NVARCHAR,@provider_id)

SET @SqlQuery = @SqlQuery + '
LEFT JOIN provider_category_type  ON provider_category.provider_category_type_id = provider_category_type.provider_category_type_id
LEFT JOIN practice_office ON provider_category.only_practice_office_id = practice_office.practice_office_id'


IF @practice_office_id IS NOT NULL
SET @SqlQuery = @SqlQuery + ' AND provider_category.only_practice_office_id = ' + CONVERT(NVARCHAR,@practice_office_id)


PRINT @SqlQuery
EXEC  (@SqlQuery + ' ORDER BY ''Provider Category ID''' )

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN
RETURN @SP_EXCEPTION
END
--
GO
