USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
DESCRIPTION:
FORM: Benefit Contract Advanced Plan Setup [frmBenefitContractAdvancedPlanSetup]
PURPOSE: Deletes a benefit contract period benefit plan underwriting rule.
******************************/
CREATE PROCEDURE [dbo].[plx_benefit_contract_period_benefit_plan_underwriting_rule_delete]
(
@benefit_contract_period_benefit_plan_underwriting_rule_id              int = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS   int,
@ERROR_NOT_EXIST NVARCHAR(50),
@ERROR_RECORD_LOCKED NVARCHAR(50),
@ERROR_CANT_DELETE NVARCHAR(50),
@SP_EXCEPTION int

SELECT
@SP_SUCCESS = 0,
@ERROR_NOT_EXIST		 	= '1052800009',
@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER',
@ERROR_CANT_DELETE = '105280012',
@SP_EXCEPTION = -1 --
--
IF NOT EXISTS (SELECT * FROM benefit_contract_period_benefit_plan_underwriting_rule WHERE benefit_contract_period_benefit_plan_underwriting_rule_id = @benefit_contract_period_benefit_plan_underwriting_rule_id )
BEGIN

RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
DELETE FROM benefit_contract_period_benefit_plan_underwriting_rule
WHERE benefit_contract_period_benefit_plan_underwriting_rule_id = @benefit_contract_period_benefit_plan_underwriting_rule_id


DECLARE @ErrorVar int, @RowCountVar int;
SELECT @ErrorVar = @@ERROR, @RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_DELETE)

ELSE IF @RowCountVar = 0
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_RECORD_LOCKED)

END
--
RETURN @SP_SUCCESS
--
GO
