USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_benefit_contract_accumulator_carryover_load]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Srinivasa Kunche
DATE: 08/02/2007
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
07/29/2007	Srinivasa	1.0
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for accumulator carryover
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_benefit_contract_accumulator_carryover_load]
(
@benefit_contract_period_id as int
)
AS
--
--
SET NOCOUNT ON
--



SELECT accumulator_framework_id,accumulator_id,carryover_period,benefit_contract_accumulator_carryover_id
,modified_date
FROM benefit_contract_accumulator_carryover
where benefit_contract_period_id = @benefit_contract_period_id

return @@ROWCOUNT

--
GO
