USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accumulator_sub_limit_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: mttran
Date: 09/05/2005
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------
9/5/2005	mttran			1.0			create
2006/03/08	Thuy Ha			1.1			created_date and modified_date using DB Server date
02/26/2008	David Slayton	1.2			Removed commented out columns, added print_on_EOB and
print_on_EOP columns.
02/27/2008	David Slayton	1.3			Removed print_on_EOB, print_on_EOP, and
min_number_individuals_before_family_met
columns; now sourced from the parent accumulator.
04/25/2012	Kyle Maher		1.4			Added support for result_code_message field
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
Save an accumulator sub limit rule in Accumulator Framework.
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accumulator_sub_limit_save]
(
@accumulator_sub_limit_id                   	int = NULL   OUTPUT
,@accumulator_sub_limit_ud                   	nvarchar(50) = NULL
,@accumulator_framework_accumulator_class_accumulator_id	int = NULL
,@sub_limit_description                                	nvarchar(510) = NULL
,@sub_limit_result_code_message							nvarchar(255) = NULL
,@active                                     	bit = NULL
) AS
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int,
@sub_limit_deductible int,
@sub_limit_management_fee int

SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF @accumulator_sub_limit_id is Null
BEGIN
--- Create a new record
INSERT INTO accumulator_sub_limit(
accumulator_sub_limit_ud
,accumulator_framework_accumulator_class_accumulator_id
,description
,result_code_message
,active
)
VALUES
(@accumulator_sub_limit_ud
,@accumulator_framework_accumulator_class_accumulator_id
,@sub_limit_description
,@sub_limit_result_code_message
,@active
)
--
SET @accumulator_sub_limit_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM accumulator_sub_limit WHERE accumulator_sub_limit_id = @accumulator_sub_limit_id )
BEGIN
RETURN @SP_EXCEPTION
END
--
ELSE
BEGIN
UPDATE accumulator_sub_limit
SET
accumulator_sub_limit_ud                 = @accumulator_sub_limit_ud
,description                              = @sub_limit_description
,result_code_message					  = @sub_limit_result_code_message
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE accumulator_sub_limit_id = @accumulator_sub_limit_id
END
--
RETURN @SP_SUCCESS
--
GO
