USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_eligibility_maintenance_reason_code_by_eligibility_maintenance_code_type_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[plx_dd_eligibility_maintenance_reason_code_by_eligibility_maintenance_code_type_load]
(
@eligibility_maintenance_type_code_id			INT = NULL
)
AS
BEGIN
--
--
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS INT,
@SP_EXCEPTION INT
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

SELECT
emrc.eligibility_maintenance_reason_code_id,
emrc.eligibility_maintenance_reason_code_ud,
emrc.description

FROM eligibility_maintenance_reason_code emrc
LEFT JOIN eligibility_maintenance_type_code emtc ON
emrc.eligibility_maintenance_type_code_id = emtc.eligibility_maintenance_type_code_id
WHERE emtc.eligibility_maintenance_type_code_id = @eligibility_maintenance_type_code_id
ORDER BY emrc.eligibility_maintenance_reason_code_ud
--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
END
GO
