USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_find_episode_form_in_use_tab_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen
Date: 12/19/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
12/19/2006	Hiep Nguyen		1.0		Created and used for Find Episode Form
--
CURRENT_VERSION: 1.0
--
ICU:
--
DESCRIPTION:
The procedure is used to find the episodes that match the input queries.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE       PROCEDURE [dbo].[plx_find_episode_form_in_use_tab_load]
(
@episode_id Int  = null
)
AS

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1
if (@episode_id	is null)
begin
set @episode_id	=0
end
select claim.claim_id claim_id,
isnull(claim.claim_ud,'') claim_number
, isnull(adjudication_status.adjudication_status_ud,'') claim_status
, CONVERT(NVARCHAR, sub_claim.first_from_date, 101)  first_from_date
,CONVERT(NVARCHAR, sub_claim.last_from_date, 101)  last_from_date
, sub_claim.claim_type claim_type
from
(SELECT     professional_claim.claim_id claim_id,
min(claim_procedure.service_from_date) first_from_date,
max(claim_procedure.service_thru_date) last_from_date,
'Professional' claim_type
FROM       professional_claim left JOIN
claim_procedure ON professional_claim.claim_id = claim_procedure.claim_id
group by professional_claim.claim_id
UNION
SELECT     institutional_claim.claim_id claim_id,
min(claim_procedure.service_from_date) first_from_date,
max(claim_procedure.service_thru_date) last_from_date,
'Institutional' claim_type
FROM       institutional_claim
left JOIN
claim_procedure ON institutional_claim.claim_id = claim_procedure.claim_id
group by institutional_claim.claim_id
UNION
SELECT     dental_claim.claim_id claim_id,
min(claim_procedure.service_from_date) first_from_date,
max(claim_procedure.service_thru_date) last_from_date,
'Dental' claim_type
FROM       dental_claim  left JOIN
claim_procedure ON dental_claim.claim_id = claim_procedure.claim_id
group by dental_claim.claim_id
) sub_claim LEFT JOIN claim on sub_claim.claim_id = claim.claim_id
LEFT JOIN adjudication_status on claim.adjudication_status_id = adjudication_status.adjudication_status_id
where claim.episode_id = @episode_id
order by claim.claim_ud

--
IF @@ROWCOUNT = 1
RETURN @SP_SUCCESS
ELSE
BEGIN

RETURN @SP_EXCEPTION
END
--
GO
