USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_agent_agent_service_representative_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Hiep Nguyen

REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
08/16/2006	Hiep Nguyen	1.0		Created
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to update data for agent service representative grid on agent form
--
REQUIREMENTS:
--
INPUTS:

@cascade  - Cascade changes that have been denormalized to child objects?
--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_agent_agent_service_representative_save]
(
@agent_agent_service_representative_id      int = NULL   OUTPUT
,@agent_id                                   int = NULL
,@agent_service_representative_id            int = NULL
,@service_type_id                            int = NULL
,@effective_from                             datetime = NULL
,@effective_thru                             datetime = NULL
,@active                                     bit = NULL
) AS
--
DECLARE
@SP_SUCCESS int,
@ERROR_CANT_INSERT 	NVARCHAR(50),
@ERROR_NOT_EXIST	NVARCHAR(50),
@ERROR_CANT_UPDATE 	NVARCHAR(50)
SELECT
@SP_SUCCESS = 0,
@ERROR_CANT_INSERT 	= '',
@ERROR_NOT_EXIST	= '',
@ERROR_CANT_UPDATE 	= ''

IF ISNULL(@agent_agent_service_representative_id, 0) = 0
BEGIN
--- Create a new agent_agent_service_representative record
INSERT INTO agent_agent_service_representative(
agent_id
,agent_service_representative_id
,service_type_id
,effective_from
,effective_thru
,active
)
VALUES
(@agent_id
,@agent_service_representative_id
,@service_type_id
,@effective_from
,@effective_thru
,@active
)
--
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_INSERT)
END
SET @agent_agent_service_representative_id = @@IDENTITY
END
ELSE IF NOT EXISTS (SELECT * FROM agent_agent_service_representative WHERE agent_agent_service_representative_id = @agent_agent_service_representative_id )
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_NOT_EXIST)
END
ELSE
BEGIN

--- Updating an existing agent_agent_service_representative record
UPDATE agent_agent_service_representative
SET
agent_id                                 = @agent_id
,agent_service_representative_id          = @agent_service_representative_id
,service_type_id                          = @service_type_id
,effective_from                           = @effective_from
,effective_thru                           = @effective_thru
,active                                   = @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE agent_agent_service_representative_id = @agent_agent_service_representative_id
IF @@ERROR <> 0
BEGIN
RETURN dbo.plx_get_ui_engine_error_id_by_ud(@ERROR_CANT_UPDATE)
END
END
--
RETURN @SP_SUCCESS
GO
