USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_client_fee_setup_invoice_date_rule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Wade Christensen
DATE CREATED: 07/06/2009
--
REVISION_HISTORY:
--
Date        Modified By    Version  Description
--------------------------------------------------------------------------------
07/06/2009  W.Christensen  1.0      Created
--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
This procedure is used to load data for client_fee_setup_invoice_date_rule
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE    PROCEDURE [dbo].[plx_client_fee_setup_invoice_date_rule_load]
(
@client_fee_setup_id AS INT
)
AS
--
--
SET NOCOUNT ON
--

SELECT
cfsidr.client_fee_setup_invoice_date_rule_id,
cfsidr.client_fee_setup_id,
cfsidr.invoice_date_rule_id,
idr.invoice_date_rule_ud,
cfsidr.number_of_days,
cfsidr.effective_from,
cfsidr.effective_thru,
cfsidr.modified_date

FROM client_fee_setup_invoice_date_rule cfsidr
INNER JOIN invoice_date_rule idr ON cfsidr.invoice_date_rule_id = idr.invoice_date_rule_id
WHERE client_fee_setup_id = @client_fee_setup_id

return @@ROWCOUNT
--
GO
