USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_claim_analysis_set_claim_save]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;

AUTHOR: lrenard
DATE:	09/15/2009
08/18/2014 - RT:6046 Updated created/modified tombstone columns
--------------------------------------------------------------------------------------------------
;
CURRENT_VERSION	: 0.1
;
DESCRIPTION	: Stores a claim/claim set record

;
REQUIREMENTS	:

None
;
INPUTS		:

None
;
OUTPUTS		:

None
;
RETURN_VALUES	:

;
CALLED_PROCEDURES:
;
CALLED_BY:
;
HEADER_END;
*******************************************************************************/

CREATE PROCEDURE [dbo].[plx_claim_analysis_set_claim_save]
(
@claim_analysis_set_claim_id INT = null output,
@claim_analysis_set_id INT = null,
@claim_id INT = null,
@active BIT = 1)
AS
BEGIN

DECLARE
@SP_SUCCESS int,
@SP_EXCEPTION int
SELECT
@SP_SUCCESS = 0,
@SP_EXCEPTION = -1

IF ISNULL(@claim_analysis_set_claim_id, 0) <= 0
BEGIN
--Insert
INSERT INTO claim_analysis_set_claim(
claim_analysis_set_id
,claim_id
,active
)
VALUES
(@claim_analysis_set_id
,@claim_id
,1
)

IF (@@ERROR <> 0) RETURN @SP_EXCEPTION
ELSE SET @claim_analysis_set_claim_id = @@IDENTITY
END
ELSE IF NOT EXISTS(SELECT * FROM claim_analysis_set_claim WHERE claim_analysis_set_claim_id = @claim_analysis_set_claim_id)
BEGIN
RETURN @SP_EXCEPTION
END
ELSE
BEGIN
--Update
UPDATE claim_analysis_set_claim
SET
claim_analysis_set_id 	= @claim_analysis_set_id
,claim_id 		= @claim_id
,active			= @active
,modified_user_name                 = ORIGINAL_LOGIN()
,modified_date                      = GETDATE()

WHERE
claim_analysis_set_claim_id = claim_analysis_set_claim_id

IF (@@ERROR <> 0) RETURN @SP_EXCEPTION
END

RETURN @SP_SUCCESS
END
GO
