USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_history_save]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Chad Maddox
04/19/2011
--
REVISION_HISTORY:
--
Date			Modified By			Description
--------------------------------------------------------------------------------
04/19/2011		Chad Maddox			Created
08/18/2014		RT:6046				Updated created/modified tombstone columns
10/22/2014      Jeffrey Bernard		RT7345 - Added Concurrency checking for enrollment
--------------------------------------------------------------------------------

--
DESCRIPTION:
This procedure is used to save data for grid "Coverage Incentive History"
on Advanced Individual Eligibility Setup form.

The stored procedure will update either the coverage_incentive_calculation table if the parameters set
has a coverage_incentive_calculation_id with a value or it will update the coverage_incentive_initial_balance field
in the family_eligibility_member_benefit_plan table.

--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_family_eligibility_member_benefit_plan_coverage_incentive_history_save] (
@coverage_incentive_calculation_id INT = NULL
,@family_eligibility_member_benefit_plan_id INT = NULL
,@starting_available_balance NUMERIC(19, 4) = NULL
,@added_to_amt_earned NUMERIC(19, 4) = NULL
,@amt_earned_override NUMERIC(19, 4) = NULL
,@comment NVARCHAR(255) = NULL
,@family_eligibility_member_benefit_plan_object_row_version ROWVERSION = NULL OUTPUT
,@active BIT = NULL
)
AS
BEGIN
--
SET NOCOUNT ON;

--
DECLARE @SP_SUCCESS INT
,@SP_EXCEPTION INT
,@ERROR_CANT_INSERT NVARCHAR(50)
,@ERROR_NOT_EXIST NVARCHAR(50)
,@ERROR_RECORD_LOCKED NVARCHAR(50)
,@ERROR_CANT_UPDATE NVARCHAR(50)
,@SP_ERROR_RECORD_LOCKED INT
,@SP_ERROR_NOT_EXIST INT;

SELECT @SP_SUCCESS = 0
,@SP_EXCEPTION = - 1
,@ERROR_CANT_INSERT = ''
,@ERROR_NOT_EXIST = 'G_DOES_NOT_EXIST'
,@ERROR_RECORD_LOCKED = 'G_RECORD_MODIFIED_BY_ANOTHER_USER'
,@ERROR_CANT_UPDATE = ''
,@SP_ERROR_RECORD_LOCKED = 2
,@SP_ERROR_NOT_EXIST = 3;

--
-- If there is no coverage incentive calculation yet, then a seed amount can be given in the row which is stored in the eligibility record.
IF @coverage_incentive_calculation_id IS NULL
BEGIN
DECLARE @ErrorVar INT
,@RowCountVar INT;
DECLARE @capture_row_version TABLE ([new_row_version] BINARY (8));

UPDATE [family_eligibility_member_benefit_plan]
SET [coverage_incentive_initial_balance] = @starting_available_balance
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
OUTPUT [INSERTED].[object_row_version]
INTO @capture_row_version
WHERE [family_eligibility_member_benefit_plan_id] = @family_eligibility_member_benefit_plan_id;

SELECT @ErrorVar = @@ERROR
,@RowCountVar = @@ROWCOUNT;

IF @ErrorVar <> 0
OR @RowCountVar = 0
BEGIN
IF @ErrorVar <> 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_CANT_UPDATE);
END
ELSE
BEGIN
IF @RowCountVar = 0
BEGIN
RETURN [dbo].[plx_get_ui_engine_error_id_by_ud](@ERROR_RECORD_LOCKED)
END;
END;
END;

--
SET @family_eligibility_member_benefit_plan_object_row_version = (
SELECT [new_row_version]
FROM @capture_row_version
);
END;
ELSE
BEGIN
-- updates the values given
UPDATE [coverage_incentive_calculation]
SET [added_to_amt_earned] = @added_to_amt_earned
,[amt_earned_override] = @amt_earned_override
,[comment] = @comment
,[active] = @active
,[modified_user_name] = ORIGINAL_LOGIN()
,[modified_date] = GETDATE()
WHERE [coverage_incentive_calculation_id] = @coverage_incentive_calculation_id;
END;

RETURN @SP_SUCCESS;
END;
GO
