USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_timely_claim_payment_process_status_load]    Script Date: 7/10/2026 2:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[plx_dd_timely_claim_payment_process_status_load]
AS
BEGIN
SET NOCOUNT ON
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

SELECT
claim_payment_process_status_id
,claim_payment_process_status_ud

FROM claim_payment_process_status
WHERE golden_key IN ('CLOSED','IN_CLAIM_PAYMENT_RUN','IN_ACCOUNTING','PAID')
ORDER BY claim_payment_process_status_ud asc

RETURN @SP_SUCCESS

END
GO
