USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_import_history_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*******************************************************************************
HEADER_BEGIN;

AUTHOR: C. Maddox
;
REVISION_HISTORY:

Date      Modified By  Version  Description
--------------------------------------------------------------------------------
2008/10/31  C. Maddox  1.0      Created
--------------------------------------------------------------------------------
;
CURRENT_VERSION: 1.0
;
DESCRIPTION:

Loads code import history for the code import history grid.
;
REQUIREMENTS:

None
;
INPUTS:

None

;
OUTPUTS:

Rows updated and inserted
;
RETURN_VALUES:

0	Success
;
CALLED_PROCEDURES:

None
;
HEADER_END;
*******************************************************************************/
CREATE PROCEDURE [dbo].[plx_code_import_history_load]
AS

DECLARE
@SP_SUCCESS int

DECLARE @CODE_IMPORT_DATA_SOURCE_PREFIX VARCHAR(50)
DECLARE @MODULE_SOURCE_PREFIX VARCHAR(50)
DECLARE @REGION_SOURCE_PREFIX VARCHAR(50)
DECLARE @CONVERSION_FACTOR_PREFIX VARCHAR(50)
DECLARE @PERCENTILE_FORMAT_PREFIX VARCHAR(50)
DECLARE @FIELD_SEPARATOR VARCHAR(10)
DECLARE @CODE_IMPORT_TYPE_PREFIX VARCHAR(20)

SET @MODULE_SOURCE_PREFIX = 'Module: ['
SET @REGION_SOURCE_PREFIX = 'Region: ['
SET @PERCENTILE_FORMAT_PREFIX = 'Percentile Format: ['
SET @FIELD_SEPARATOR = '] - '
SELECT
@SP_SUCCESS = 0
select 	code_import_history_id,
CASE WHEN cit.GOLDEN_KEY = 'UCR' THEN
code_import_type_ud + ' '
+ @MODULE_SOURCE_PREFIX + ISNULL(m.ucr_module_ud,'') + @FIELD_SEPARATOR
+ @REGION_SOURCE_PREFIX + ISNULL(r.ucr_region_ud,'') + @FIELD_SEPARATOR
+ @PERCENTILE_FORMAT_PREFIX + ISNULL(upf.ucr_percentile_format_ud,'') + ']'
ELSE
code_import_type_ud
END as code_import_type_ud,
effective_date,
import_date
FROM code_import_history cih
JOIN code_import_type cit on cih.code_import_type_id = cit.code_import_type_id
LEFT JOIN code_import_data_source cids on cih.code_import_data_source_id = cids.code_import_data_source_id
LEFT JOIN ucr_region r on cih.ucr_region_id = r.ucr_region_id
LEFT JOIN ucr_module m on cih.ucr_module_id = m.ucr_module_id
LEFT JOIN ucr_conversion_factor ucf on cih.ucr_conversion_factor_id = ucf.ucr_conversion_factor_id
LEFT JOIN ucr_percentile_format upf on cih.ucr_percentile_format_id  = upf.ucr_percentile_format_id
ORDER BY import_date DESC
--
RETURN @SP_SUCCESS
--
GO
