USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_dd_reinsurance_rate_type_list_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: amortensen
Date: 12/01/2020
--
REVISION_HISTORY:
--
Date        Modified By     Version     Description
--------------------------------------------------------------------------------
12/01/2020  amortensen      1.0	        Created

--
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Loads the 'Rate Type' dropdown on the Reinsurance Contract form.

******************************/
CREATE PROCEDURE [dbo].[plx_dd_reinsurance_rate_type_list_load]
AS
DECLARE @SP_SUCCESS INT = 0;

SELECT
reinsurance_rate_type_id,
reinsurance_rate_type_ud,
golden_key
FROM reinsurance_rate_type;

RETURN @SP_SUCCESS;
GO
