USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_accounting_transaction_ap_load]    Script Date: 7/10/2026 2:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR:
--
REVISION_HISTORY:
--
Date		Modified By		Version		Description
--------------------------------------------------------------------------------

CURRENT_VERSION: 1.0
--
DESCRIPTION:
Load transaction info  for Accounting Transaction form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE  PROCEDURE [dbo].[plx_accounting_transaction_ap_load]
(
@accounting_transaction_id  int = NULL
)
AS
--
DECLARE
@SP_SUCCESS int

SELECT
@SP_SUCCESS = 0

BEGIN

SELECT DISTINCT

ata.accounting_transaction_ap_id AS accounting_transaction_id
,ata.accounting_transaction_ap_ud AS accounting_transaction_ud

,ata.accounting_transaction_ap_type_id AS accounting_transaction_type_id
,atat.accounting_transaction_ap_type_ud AS accounting_transaction_type_ud

,ata.accounting_transaction_status_id
,ats.accounting_transaction_status_ud

,ata.transaction_date
,ata.transaction_amount

,dbo.plx_fn_get_unapplied_amount_for_transaction(@accounting_transaction_id,0) AS transaction_unapplied_amount

--for accounting source
,ata.accounting_source_id
,CASE
WHEN asrc.golden_key IN('Claims','CLIENT_FEES') THEN (SELECT claim_payment_run_ud FROM claim_payment_run WHERE claim_payment_run_id=ata.accounting_source_record_id)
WHEN asrc.golden_key = 'Capitation' THEN (SELECT capitation_run_ud FROM capitation_run WHERE capitation_run_id=ata.accounting_source_record_id)
WHEN asrc.golden_key = 'MANUAL_CAPITATION' THEN (SELECT capitation_manual_run_ud FROM capitation_manual_run WHERE capitation_manual_run_id=ata.accounting_source_record_id)
WHEN asrc.golden_key = 'PREMIUM_FEE_AP' THEN (SELECT premium_run_ud from premium_run WHERE premium_run_id=ata.accounting_source_record_id)
ELSE ''
END AS accounting_source_record_ud
,ata.accounting_source_record_id

,ata.accounting_company_id
,ac.accounting_company_ud

--for vendor
,ata.vendor_id
,v.vendor_ud
,v.vendor_nm

,aca.accounting_company_account_id
,aca.accounting_company_account_ud
,ata.accounting_source_id as treat_as_accounting_source_id
,treatAs.accounting_source_ud as treat_as_accounting_source_ud
,ata.is_vendor_redistribution

,ata.tax_1099_misc_box_id
,box.tax_1099_misc_box_ud
,ata.tax_1099_exempt

FROM accounting_transaction_ap ata

LEFT JOIN dbo.accounting_transaction_ap_type as atat ON atat.accounting_transaction_ap_type_id = ata.accounting_transaction_ap_type_id
LEFT JOIN dbo.accounting_transaction_status as ats ON ats.accounting_transaction_status_id = ata.accounting_transaction_status_id
LEFT JOIN dbo.accounting_company as ac ON ac.accounting_company_id = ata.accounting_company_id
LEFT JOIN dbo.vendor as v ON v.vendor_id = ata.vendor_id
LEFT JOIN dbo.accounting_source as asrc ON ata.accounting_source_id = asrc.accounting_source_id
LEFT JOIN dbo.accounting_source as treatAs on ata.treat_as_accounting_source_id = treatAs.accounting_source_id
LEFT JOIN dbo.tax_1099_misc_box as box on ata.tax_1099_misc_box_id = box.tax_1099_misc_box_id
LEFT JOIN dbo.accounting_transaction_ap_distribution dist
INNER JOIN dbo.accounting_company_account as aca
INNER JOIN dbo.account_category as cat
ON aca.account_category_id = cat.account_category_id
AND cat.golden_key = 'AP'
ON dist.accounting_company_account_id = aca.accounting_company_account_id
ON dist.accounting_transaction_ap_id = ata.accounting_transaction_ap_id

WHERE
ata.accounting_transaction_ap_id = @accounting_transaction_id

END

RETURN @SP_SUCCESS
GO
