USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_code_depreciation_schedule_load]    Script Date: 7/10/2026 2:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Thai Nguyen
Jan  5 2006  9:48AM   Initial generation
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
2006/02/07	Trang Huynh	1.1		Delete default_result_code_id, default_result_code_status_id
2006/02/10	Anh Ta		1.2		Add 'as result_code, result_code_status'
2006/03/08	Anh Ta		1.3		Change form @code_depreciation_schedule_nm to description
05/18/2012	dcannon		1.4		removed references to code_depreciation_from table and added ignore_denied_claim_lines
--
CURRENT_VERSION: 1.4
--
DESCRIPTION:
This procedure is used to load data for frmPaymentContractCodeDepreciationSchedule form.
--
REQUIREMENTS:
--
INPUTS:

--
OUTPUTS:
--
RETURN_VALUES:
0	Success
-1	Exception occurred, refer to error message
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_code_depreciation_schedule_load]

(
@code_depreciation_schedule_id			Int=NULL
)
AS
--
DECLARE
@SP_SUCCESS int
SELECT
@SP_SUCCESS = 0

SELECT
code_depreciation_schedule.code_depreciation_schedule_id
,code_depreciation_schedule.code_depreciation_schedule_ud
,code_depreciation_schedule.description as code_depreciation_schedule_description

,code_depreciation_schedule.procedure_code_group_id
,procedure_code_group.procedure_code_group_ud

,code_depreciation_schedule.depreciated_result_code_id
,depreciated_result_code.result_code_ud as depreciated_result_code_ud

,code_depreciation_schedule.depreciated_result_code_status_id
,depreciated_result_code_status.result_code_status_ud as depreciated_result_code_status_ud
,depreciated_result_code.short_message as depreciated_result_code_status_description

,code_depreciation_schedule.non_rank_result_code_id
,non_rank_result_code.result_code_ud as non_rank_result_code_ud

,code_depreciation_schedule.non_rank_result_code_status_id
,non_rank_result_code_status.result_code_status_ud as non_rank_result_code_status_ud
,non_rank_result_code.short_message as non_rank_result_code_status_description

,ignore_denied_claim_lines


FROM code_depreciation_schedule
LEFT JOIN procedure_code_group  ON procedure_code_group.procedure_code_group_id = code_depreciation_schedule.procedure_code_group_id
LEFT JOIN result_code depreciated_result_code  ON depreciated_result_code.result_code_id = code_depreciation_schedule.depreciated_result_code_id
LEFT JOIN result_code_status depreciated_result_code_status  ON depreciated_result_code_status.result_code_status_id = code_depreciation_schedule.depreciated_result_code_status_id
LEFT JOIN result_code non_rank_result_code  ON non_rank_result_code.result_code_id = code_depreciation_schedule.non_rank_result_code_id
LEFT JOIN result_code_status non_rank_result_code_status  ON non_rank_result_code_status.result_code_status_id = code_depreciation_schedule.non_rank_result_code_status_id
WHERE code_depreciation_schedule.code_depreciation_schedule_id = @code_depreciation_schedule_id
--
RETURN @SP_SUCCESS
GO
