USE [qc_core]
GO
/****** Object:  StoredProcedure [dbo].[plx_bank_account_check_delete]    Script Date: 7/10/2026 2:29:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************
HEADER_BEGIN;
--
AUTHOR: Anh Ta
DATE: 11/06/2006
--
REVISION_HISTORY:
--
Date		Modified By	Version		Description
--------------------------------------------------------------------------------
11/06/2006	Anh Ta		1.0			Created
2008/05/16	lrenard				accounting company schema and form changes
--------------------------------------------------------------------------------
CURRENT_VERSION: 1.0
--
DESCRIPTION:
Before deleting a bank acount id in bank acount
associated with accounting compnay
Check if this item has any reference.
--
REQUIREMENTS:
--
INPUTS:
@bank_account_id INT  - key
OUTPUTS:
--
RETURN_VALUES:
1	Able to delete
0	Unable to delte
-1 	exception occurs
CALLED_PROCEDURES:
--
HEADER_END;
******************************/
CREATE PROCEDURE [dbo].[plx_bank_account_check_delete]
(
@bank_account_id			int = NULL
)
AS
BEGIN
DECLARE
@SP_DELETE_ABLE int,
@SP_DELETE_UNABLE int,
@SP_EXCEPTION int,
@RESULT int

SET @SP_DELETE_ABLE	= 1
SET @SP_DELETE_UNABLE = 0
SET @SP_EXCEPTION = -1

SET	@RESULT	= @SP_DELETE_ABLE

IF NOT EXISTS (SELECT 1 FROM bank_account WHERE bank_account_id = @bank_account_id )
BEGIN
SET @RESULT = @SP_EXCEPTION
END

-- Payments
ELSE IF EXISTS ( SELECT	bank_account_id
FROM	accounting_transaction_ap_payment_detail
WHERE	bank_account_id = @bank_account_id
)
BEGIN
SET @result = @SP_DELETE_UNABLE
END
--
RETURN @result
END
GO
